@using Business_Manager.Helpers
@{
    string itemName = "DesignManagement";
    string itemNameText = "RFI 新設計申請單管理";
    string authority = ViewBag.authority;
    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
         .toggle-on {
             top: 1px;
         }

         .table-row-detail th, .table-row-detail td {
             padding: 2px;
         }

         .table:not(.table-custom-hover) tbody:hover td[rowspan], .table:not(.table-custom-hover) tbody tr:hover td,
         .table:not(.table-custom-hover) tbody:hover th[rowspan], .table:not(.table-custom-hover) tbody tr:hover th {
             color: #000000 !important;
             background-color: #ffcccc !important;
         }

         .control-group .control {
             position: relative;
             display: inline-block;
             margin: 0 10px 15px 10px;
             padding-left: 25px;
             cursor: pointer;
             line-height: normal;
         }

         .sign-content {
             /*resize: none;
            overflow: hidden;*/
             min-height: 100px;
             max-height: 500px;
         }
    </style>
)

<input type="hidden" id="pageAuthority" value="@authority" />
<input type="hidden" id="userId" value="-1" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">查詢條件</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtDesignNoQ@(itemName)">需求單號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtDesignNoQ@(itemName)" name="txtDesignNoQ@(itemName)" placeholder="請輸入需求單號" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtCustomerNameQ@(itemName)">客戶名稱</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtCustomerNameQ@(itemName)" name="txtCustomerNameQ@(itemName)" placeholder="請輸入客戶名稱" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtAssemblyNameQ@(itemName)">設計代號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtAssemblyNameQ@(itemName)" name="txtAssemblyNameQ@(itemName)" placeholder="請輸入設計代號" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboProTypeGroupQ@(itemName)">產品類別群組</label>
                            <div class="col-12">
                                <select class="form-control" id="cboProTypeGroupQ@(itemName)" name="cboProTypeGroupQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboProductUseQ@(itemName)">產品應用</label>
                            <div class="col-12">
                                <select class="form-control" id="cboProductUseQ@(itemName)" name="cboProductUseQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row auth-SignSS auth-SignMP">
                            <label class="col-12 col-form-label" for="cboSalesQ@(itemName)">負責業務</label>
                            <div class="col-12">
                                <select class="form-control" id="cboSalesQ@(itemName)" name="cboSalesQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="">建單日期區間</label>
                            <div class="input-group col-6">
                                <input type="text" class="form-control datedropper" id="txtStartDateQ@(itemName)" name="txtStartDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       placeholder="起始日" readonly />
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-outline-danger" onclick="$('#txtStartDateQ@(itemName)').val('')" title="清除">
                                        <i class="fas fa-eraser"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="input-group col-6">
                                <input type="text" class="form-control datedropper" id="txtEndDateQ@(itemName)" name="txtEndDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       placeholder="結束日" readonly />
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-outline-danger" onclick="$('#txtEndDateQ@(itemName)').val('')" title="清除">
                                        <i class="fas fa-eraser"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-8 col-form-label" for="cboRfiDesignStatusQ@(itemName)">單據狀態</label>
                            <div class="col-8 input-group">
                                <select class="form-control" id="cboRfiDesignStatusQ@(itemName)" name="cboRfiDesignStatusQ@(itemName)" multiple></select>
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-outline-danger" onclick="$('#cboRfiDesignStatusQ@(itemName)').val('').trigger('change')" title="清除">
                                        <i class="fas fa-eraser"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="col-4">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    待審批
                                    <input type="checkbox" id="cbxSignStatusQ@(itemName)" name="cbxSignStatusQ@(itemName)" value="I" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">審批狀態</label>
                            <div class="col-12 input-group">
                                <select class="form-control" id="cboRfiDesignFlowStatusQ@(itemName)" name="cboRfiDesignFlowStatusQ@(itemName)" multiple></select>
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-outline-danger" onclick="$('#cboRfiDesignFlowStatusQ@(itemName)').val('').trigger('change')" title="清除">
                                        <i class="fas fa-eraser"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3 justify-content-between">
                    <div class="col-auto col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);">
                            <i class="fal fa-search"></i>搜尋
                        </a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <button type="button" class="btn file-excel auth-excel" onclick="DownloadExcel@(itemName)(-1);"><i class="fas fa-file-excel"></i>下載Excel報表</button>
                        <a class="btn btn-info auth-add" href="javascript:Forbidden@(itemName)();" hidden><i class="fas fa-plus"></i>新增</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky table-stack" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 30px;">#</th>
                                        <th scope="col" style="min-width: 50px;">版次</th>
                                        <th scope="col" style="min-width: 100px;">需求單號</th>
                                        <th scope="col" style="min-width: 125px;">建單時間</th>
                                        <th scope="col" style="min-width: 100px;">客戶名稱</th>
                                        <th scope="col" style="min-width: 100px;">設計代號</th>
                                        <th scope="col" style="min-width: 100px;">負責部門</th>
                                        <th scope="col" style="min-width: 100px;">產品類別</th>
                                        <th scope="col" style="min-width: 100px;">產品用途</th>
                                        <th scope="col" style="min-width: 100px;">業務擔當</th>
                                        <th scope="col" style="min-width: 80px;">審批狀態</th>
                                        <th scope="col" class="text-center" style="min-width: 75px;">操作</th>
                                        <th scope="col" style="min-width: 340px;">快速預覽</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container custom-form-container" autocomplete="off" id="editForm@(itemName)" novalidate="novalidate">
                    <fieldset>
                        <input type="hidden" id="DesignId" name="DesignId" value="-1" />
                        <input type="hidden" id="ProTypeGroupId" name="ProTypeGroupId" value="-1" /> <!--取得樣板用-->
                        <input type="hidden" id="ProductUseId" name="ProductUseId" value="-1" /> <!--取得樣板用-->
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtDesignNo@(itemName)">需求單號</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control read-item" id="txtDesignNo@(itemName)" name="txtDesignNo@(itemName)" placeholder="市場評估單號" readonly disabled />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtCreateDate@(itemName)">建單時間</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control read-item" id="txtCreateDate@(itemName)" name="txtCreateDate@(itemName)" placeholder="市場評估單拋轉後產生" readonly disabled />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtCustomerName@(itemName)">客戶名稱</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control read-item" id="txtCustomerName@(itemName)" name="txtCustomerName@(itemName)" placeholder="請輸入客戶名稱"
                                       data-msg-required="請輸入客戶名稱" data-rule-required="true" readonly disabled />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtCustomerEName@(itemName)">客戶名稱(英文)</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control read-item" id="txtCustomerEName@(itemName)" name="txtCustomerEName@(itemName)" placeholder="請輸入客戶名稱(英文)" readonly disabled />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtAssemblyName@(itemName)">設計代號</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control read-item" id="txtAssemblyName@(itemName)" name="txtAssemblyName@(itemName)" placeholder="請輸入設計代號"
                                       data-msg-required="請輸入設計代號" data-rule-required="true" readonly disabled />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtDesignDeptName@(itemName)">負責部門</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control read-item" id="txtDesignDeptName@(itemName)" name="txtDesignDeptName@(itemName)" readonly disabled />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboProTypeGroup@(itemName)">產品類別</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control read-item" id="cboProTypeGroup@(itemName)" name="cboProTypeGroup@(itemName)" placeholder="請選擇產品類別"
                                        data-msg-required="請選擇產品類別" data-rule-required="true" readonly disabled></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboProductUse@(itemName)">產品應用</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control read-item" id="cboProductUse@(itemName)" name="cboProductUse@(itemName)" placeholder="請選擇產品應用"
                                        data-msg-required="請選擇產品應用" data-rule-required="true" readonly disabled></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtDepartmentName@(itemName)">申請單位</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control read-item" id="txtDepartmentName@(itemName)" name="txtDepartmentName@(itemName)" readonly disabled />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtSales@(itemName)">申請人</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control read-item" id="txtSales@(itemName)" name="txtSales@(itemName)" readonly disabled />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtSuperSales@(itemName)">單位主管</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control read-item" id="txtSuperSales@(itemName)" name="txtSuperSales@(itemName)" readonly disabled />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label">評估單附加檔案</label>
                            <div class="col-12 col-md-9 col-lg-9 additional-control"></div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtDesignFile@(itemName)">設計申請單附加檔案</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="file" id="fileDesignFile@(itemName)" name="fileDesignFile@(itemName)" />
                                <input type="hidden" id="txtDesignFile@(itemName)" name="txtDesignFile@(itemName)" />
                            </div>
                        </div>
                    </fieldset>
                </form>

                <div class="container custom-form-container">
                    <fieldset>
                        <div class="form-group row add-hide">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtDesignStatus@(itemName)">審批狀態</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtDesignStatus@(itemName)" name="txtDesignStatus@(itemName)" readonly disabled />
                            </div>
                        </div>

                        <div id="SignFlowInfo@(itemName)"></div>

                        @*<div class="form-group row" id="blockSales@(itemName)">
                                <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtSalesDesc@(itemName)">業務審批</label>
                                <div class="col-12 col-md-9 col-lg-9">
                                    <textarea class="form-control sign-content" id="txtSalesDesc@(itemName)" name="txtSalesDesc@(itemName)" onkeyup="auto_grow(this)" readonly disabled
                                              data-msg-maxlength="必須少於 2048 個字元" maxlength="2048"></textarea>
                                    <div class="row" style="color:blue"><span id="txtSalesInfo@(itemName)" class="col-12 text-right"></span></div>
                                </div>
                            </div>
                            <div class="form-group row" id="blockSuperSales@(itemName)">
                                <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtSuperSalesDesc@(itemName)">業務主管審批</label>
                                <div class="col-12 col-md-9 col-lg-9">
                                    <textarea class="form-control sign-content" id="txtSuperSalesDesc@(itemName)" name="txtSuperSalesDesc@(itemName)" onkeyup="auto_grow(this)" readonly disabled
                                              data-msg-maxlength="必須少於 2048 個字元" maxlength="2048"></textarea>
                                    <div class="row" style="color:blue"><span id="txtSuperSalesInfo@(itemName)" class="col-12 text-right"></span></div>
                                </div>
                            </div>
                            <div class="form-group row" id="blockRd@(itemName)">
                                <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtRdDesc@(itemName)">研發審批</label>
                                <div class="col-12 col-md-9 col-lg-9">
                                    <textarea class="form-control sign-content" id="txtRdDesc@(itemName)" name="txtRdDesc@(itemName)" onkeyup="auto_grow(this)" readonly disabled
                                              data-msg-maxlength="必須少於 2048 個字元" maxlength="2048"></textarea>
                                    <div class="row" style="color:blue"><span id="txtRdInfo@(itemName)" class="col-12 text-right"></span></div>
                                </div>
                            </div>
                            <div class="form-group row" id="blockSuperRd@(itemName)">
                                <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtSuperRdDesc@(itemName)">研發主管審批</label>
                                <div class="col-12 col-md-9 col-lg-9">
                                    <textarea class="form-control sign-content" id="txtSuperRdDesc@(itemName)" name="txtSuperRdDesc@(itemName)" onkeyup="auto_grow(this)" readonly disabled
                                              data-msg-maxlength="必須少於 2048 個字元" maxlength="2048"></textarea>
                                    <div class="row" style="color:blue"><span id="txtSuperRdInfo@(itemName)" class="col-12 text-right"></span></div>
                                </div>
                            </div>
                            <div class="form-group row" id="blockManagerPlan@(itemName)">
                                <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtManagerPlanDesc@(itemName)">總經理審批</label>
                                <div class="col-12 col-md-9 col-lg-9">
                                    <textarea class="form-control sign-content" id="txtManagerPlanDesc@(itemName)" name="txtManagerPlanDesc@(itemName)" onkeyup="auto_grow(this)" readonly disabled
                                              data-msg-maxlength="必須少於 2048 個字元" maxlength="2048"></textarea>
                                    <div class="row" style="color:blue"><span id="txtManagerPlanInfo@(itemName)" class="col-12 text-right"></span></div>
                                </div>
                            </div>*@
                    </fieldset>
                </div>
            </div>
            @*<div class="card-footer text-center text-lg-right">
                    <button type="button" class="btn btn-success read-hide@(itemName)" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
                </div>*@
        </div>
    </div>
</div>

<!--其他分頁-->
<div class="advanced-block">
    <div class="row">
        <div class="col-12">
            <ul class="nav flag-tabs nav-fill" role="tablist">
                <li class="flag-item">
                    <a class="flag-link active" data-toggle="tab" href="#tabDesignDetail">
                        <i class="fas fa-sort-size-down"></i> 設計規格
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane active" id="tabDesignDetail">
            @Html.Partial("DesignDetail")
        </div>
    </div>
</div>

<!--流程歷程POP-->
<div class="modal fade" id="modalFlowInfo@(itemName)">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">審批歷程</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-custom">
                    <table class="table table-bordered table-striped table-sticky table-stack">
                        <thead>
                            <tr>
                                <th scope="col" class="text-center" style="min-width: 100px;">關卡</th>
                                <th scope="col" style="min-width: 100px;">審批人</th>
                                <th scope="col" style="min-width: 100px;">審批註記</th>
                                <th scope="col" class="text-center" style="min-width: 100px;">處理時間</th>
                                <th scope="col" class="text-center" style="min-width: 100px;">到達時間</th>
                                <th scope="col" class="text-center" style="min-width: 100px;">審批時間</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i>關閉</button>
            </div>
        </div>
    </div>
</div>

<!--審批POP-->
<div class="modal fade" id="modalSignInfo@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">審批</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="SignInfoForm@(itemName)">
                    @Html.Hidden("signDesignSfId", -1)
                    @Html.Hidden("signDesignId", -1)
                    @Html.Hidden("signStatus", -1)
                    <fieldset>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6">
                                <div class="form-group">
                                    <label class="col-form-label" for="SignInfo@(itemName)">關卡</label>
                                    <input type="text" class="form-control" id="SignInfo@(itemName)" name="SignInfo@(itemName)" readonly disabled />
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-6">
                                <div class="form-group">
                                    <label class="col-form-label" for="cboAssignDept@(itemName)">團隊擔當</label>
                                    <select class="form-control" id="cboAssignDept@(itemName)" name="cboAssignDept@(itemName)" disabled></select>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-4 col-sm-6">
                                <div class="form-group">
                                    <label class="col-form-label" for="cbxSignStatus@(itemName)">審批動作</label>
                                    <div class="d-flex align-items-center justify-content-around">
                                        <label class="control control--radio">
                                            核准/確認
                                            <input type="radio" id="cbxSignStatus@(itemName)Y" name="cbxSignStatus@(itemName)" value="Y" data-msg-required="請選擇" data-rule-required="true">
                                            <span class="control__indicator"></span>
                                        </label>
                                        <label class="sign-actions control control--radio">
                                            退回/變更
                                            <input type="radio" id="cbxSignStatus@(itemName)B" name="cbxSignStatus@(itemName)" value="B" data-msg-required="請選擇" data-rule-required="true">
                                            <span class="control__indicator"></span>
                                        </label>
                                        <label class="control control--radio">
                                            作廢
                                            <input type="radio" id="cbxSignStatus@(itemName)v" name="cbxSignStatus@(itemName)" value="v" data-msg-required="請選擇" data-rule-required="true">
                                            <span class="control__indicator"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="txtAdditionalFile@(itemName)">附加檔案</label>
                            <input type="file" id="fileAdditionalFile@(itemName)" name="fileAdditionalFile@(itemName)" />
                            <input type="hidden" id="txtAdditionalFile@(itemName)" name="txtAdditionalFile@(itemName)" />
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="txtSignContent@(itemName)">備註</label>
                            <textarea class="form-control sign-content" id="txtSignContent@(itemName)" name="txtSignContent@(itemName)" onkeyup="auto_grow(this)" placeholder="選填"
                                      data-msg-maxlength="必須少於 2048 個字元" maxlength="2048"></textarea>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-success" onclick="SendSign@(itemName)()"><i class="far fa-share-square mr-1"></i>送出</button>
            </div>
        </div>
    </div>
</div>

<!--催簽POP-->
<div class="modal fade" id="modalUrgentSign@(itemName)">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">催簽通知</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="UrgentSignForm@(itemName)">
                    @Html.Hidden("urgentDesignSfId", -1)
                    @Html.Hidden("urgentDesignId", -1)
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="UrgentSign@(itemName)">通知關卡</label>
                            <div class="col-12 col-md-9 col-lg-9"><input type="text" id="UrgentSign@(itemName)" name="UrgentSign@(itemName)" readonly disabled /></div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="UrgentFlower@(itemName)">通知對象</label>
                            <div class="col-12 col-md-9 col-lg-9"><input type="text" id="UrgentFlower@(itemName)" name="UrgentFlower@(itemName)" readonly disabled /></div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtUrgentContent@(itemName)">催簽信件內容</label>
                            <div class="col-12">
                                <textarea class="form-control sign-content" id="txtUrgentContent@(itemName)" name="txtUrgentContent@(itemName)" onkeyup="auto_grow(this)" placeholder="必填"
                                          data-msg-maxlength="必須少於 2048 個字元" maxlength="2048"></textarea>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-success" onclick="SubmitUrgentSign@(itemName)()"><i class="far fa-share-square mr-1"></i>送出</button>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        let objForm@(itemName) = "#editForm@(itemName)";
        let objPage@(itemName) = {
            pageIndex: 0,
            pageSize: 10
        };
        let userId@(itemName);
        let userName@(itemName);
        let companyId@(itemName);
        let flowAuthoritys;
        let pageMode = "";
        const flowDeptNames = "光學%部,鏡頭%部,元件%部,鏡頭%室";

        let signFlowCache = undefined;
        let signFlowJson = JSON.parse('{ "data" : []}');

        let Elements@(itemName) = new ElementControl@(itemName)();
        let Datas@(itemName) = new DataControl@(itemName)();

        let roundDecimalRFI = function (val, precision) {
            return Math.round(Math.round(val * Math.pow(10, (precision || 0) + 1)) / 10) / Math.pow(10, (precision || 0));
        }

        let roundDownRFI = function (val, precision) {
            return Math.floor((val + Number.EPSILON) * Math.pow(10, precision)) / Math.pow(10, precision);
        }

        function ValidateFloatRFI(e) {
            if (!/^\d+[.]?\d*$/.test(e.value)) {
                $(e).val(/^\d+[.]?\d*/.exec($(e).val()));
            }
            return false;
        }

        function addCommaRFI(number) {
            let comma = /\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g;
            return number != null ? number.toString().replace(comma, ',') : '';
        }

        function auto_grow(element) {
            element.style.height = "20px";
            element.style.height = (element.scrollHeight) + "px";
        }

        function SetGenderIcon@(itemName)(gender) {
            return gender == `M` ? `<span class="gender-male"><i class="fas fa-male mr-1"></i></span>` : gender == `F` ? `<span class="gender-female"><i class="fas fa-female mr-1"></i></span>` : ``;
        }

        function SetSignIcon@(itemName)(f) {
            let html = "";

            if (!!f.Approved) {
                switch (f.Approved) {
                    case "B":
                        html = `<i style="color: red;" class="fas fa-ban"></i>${f.ApprovedName} ${f.SignDateTime}`;
                        break;
                    case "Y":
                        html = `<i style="color: green;" class="fad fa-badge-check"></i >${f.ApprovedName} ${f.SignDateTime}`;
                        break;
                }
            }
            //else {
            //    html = `<i style="color: brown;" class="fas fa-bell"></i>待審批`;
            //}

            return html;
        }

        function SetStatusInfo@(itemName)(design) {
            let html = "";

            const SignJobName = design.SignJobName ? `${design.SignJobName}/`:"";

            switch (design.DesignStatus) {
                case "V":
                    html = `${SignJobName}<b style="color:#777;">${design.DesignStatusName}</b>`;
                    break;
                case "7":
                    html = `${SignJobName}<b style="color:red;">${design.DesignStatusName}</b>`;
                    break;
                case "6":
                    html = `${SignJobName}<b style="color:#070;">${design.DesignStatusName}</b>`;
                    break;
                case "1":
                    html = `${SignJobName}<b style="color:#ff7300;">${design.DesignStatusName}</b>`;
                    break;
                default:
                    html = `${SignJobName}<b style="color:blue;">${design.DesignStatusName}</b>`;
                    break;
            }

            //html = `<b style="color: ${item.DesignStatus == 7 ? `red` : item.DesignStatus == 1 ? `blue` : item.DesignStatus == 6 ? `#070` : `#555`}">${item.DesignStatusName}</b>`;

            return html;
        }

        function SetUserInfo@(itemName)(d, f) {
            let html = "";

            html += `${f.SignJobName}: ${SetGenderIcon@(itemName)(f.FlowerGender)}${f.FlowerName}(${f.FlowerNo}) ${SetSignIcon@(itemName)(f)}`;

            return html;
        }

        function SetSignInfo@(itemName)(item) {
            if (!!item.SignFlow) {
                let innerHtml = "";
                $.each(JSON.parse(item.SignFlow).data, function (i, f) {
                    innerHtml += `<div class="form-group row">
                                    <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtSignFlow@(itemName)">${f.SignJobName}</label>
                                    <div class="col-12 col-md-9 col-lg-9">
                                        <textarea class="form-control sign-content" id="txtSignDesc@(itemName)-${f.DesignSfId}" name="txtSignDesc@(itemName)" onkeyup="auto_grow(this)" value="${f.SignDesc}" readonly
                                            data-msg-maxlength="必須少於 2048 個字元" maxlength="2048" value="f.SignDesc">${f.SignDesc}</textarea>
                                        <div class="row" style="color:blue">
                                            <span class="col-4 ellipsis">
                                                ${!!f.FileId ? `<a class="mr-1" href="/RequestForInformation/GetDesignSignFlowFile?fileId=${f.FileId}&DesignSfId=${item.DesignSfId}" target="_blank"><i class="fas fa-download"></i></a><span>${f.FileName}${f.FileExtension}</span></a>` : ``}
                                            </span>
                                            <span class="col-8 text-right" id="txtSignFlowInfo@(itemName)-${f.DesignSfId}" name="txtSignFlowInfo@(itemName)">${SetUserInfo@(itemName)(item, f)}</span>
                                        </div>
                                    </div>
                                </div>`;
                });

                $("#SignFlowInfo@(itemName)").html(innerHtml);
            }
        }

        $(document).ready(function () {
            GetUserInfo@(itemName)();

            let currentDate = new Date();
            Suites.DatePicker("txtEndDateQ@(itemName)", currentDate);
            currentDate.setDate(currentDate.getDate() - 365);
            Suites.DatePicker("txtStartDateQ@(itemName)", currentDate);

            ComboBoxs.Default("#cboProTypeGroupQ@(itemName)", "@Url.Action("GetProductTypeGroup", "ScmBasicInformation")", { "Status": "A" }, "", "NA", "", "ProTypeGroupName", "ProTypeGroupId"); //產品類別
            ComboBoxs.Default("#cboProductUseQ@(itemName)", "@Url.Action("GetProductUse", "RequestForInformation")", { "Status": "A" }, "", "NA", "", "ProductUseName", "ProductUseId"); //產品應用
            ComboBoxs.Default("#cboRfiDesignStatusQ@(itemName)", "@Url.Action("GetStatus", "BasicInformation")", { "StatusSchema": "RfiDesign.Status" }, "", "CHOOSE-NUMBER", "", "StatusDesc", "StatusNo"); //單據狀態
            ComboBoxs.Default("#cboRfiDesignFlowStatusQ@(itemName)", "@Url.Action("GetStatus", "BasicInformation")", { "StatusSchema": "RfiDesign.FlowStatus" }, "", "CHOOSE-NUMBER", "", "StatusName", "StatusNo"); //審批狀態
            ComboBoxs.Default("#cboAssignDept@(itemName)", "@Url.Action("GetDepartment", "BasicInformation")", { CompanyNo: "JMO", Status: "A", SearchKeys: flowDeptNames }, "", "NA", "", "DepartmentWithNo", "DepartmentId");

            if (flowAuthoritys.map(m => m.DetailCode).includes('SignMP') || flowAuthoritys.map(m => m.DetailCode).includes('SignSRD')) {
                ComboBoxs.Default("#cboSalesQ@(itemName)", "@Url.Action("GetSales", "RequestForInformation")", { "CompaynId": companyId@(itemName) }, "", "NA", "", "SalesInfo", "UserId"); //業務人員
            }
            else if (flowAuthoritys.map(m => m.DetailCode).includes('SignSS')) {
                ComboBoxs.Default("#cboSalesQ@(itemName)", "@Url.Action("GetSales", "RequestForInformation")", { "CompaynId": companyId@(itemName) },  userId@(itemName), "NA", "", "SalesInfo", "UserId"); //業務人員
            }

            $("#cboProTypeGroupQ@(itemName), #cboProductUseQ@(itemName), #cboSalesQ@(itemName), #cboRfiDesignStatusQ@(itemName), #cboRfiDesignFlowStatusQ@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });

            $("#cboRfiDesignStatusQ@(itemName)").val([0, 1, 7]).trigger("change");

            Query@(itemName)();

            $(".advanced-block a[data-toggle='tab']").on("shown.bs.tab", function (e) {
                InitParameter@(itemName)($(this));
            });
        });

        function GetUserInfo@(itemName)() {
            //權限資料
            flowAuthoritys = JSON.parse($(`#pageAuthority`).val());

            let targetUrl = "@Url.Action("GetLoginByKey", "User")";
            let data = DataAccess.Get(targetUrl,
                {
                    UserNo: $.cookie("Login"),
                    KeyText: $.cookie("LoginKey")
                }, false);

            if (data.status == "success") {
                userId@(itemName) = data.returnData.UserId;
                userName@(itemName) = data.returnData.UserName;
                companyId@(itemName) = data.returnData.CompanyId;

                @*userId@(itemName) = 6637;*@

                $("#userId").val(data.returnData.UserId);
            } else {
                alert(data.msg, "alert", 0);
            }
        }

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            @*if (!(flowAuthoritys.find(f => f.DetailCode === `SignSS`) ||
                flowAuthoritys.find(f => f.DetailCode === `SignSRD`) ||
                flowAuthoritys.find(f => f.DetailCode === `SignMP`))) {
            }*@

            let targetUrl = "@Url.Action("GetDemandDesign", "RequestForInformation")";
            let data = DataAccess.Get(targetUrl,
                {
                    PageIndex: (objPage.pageIndex + 1),
                    PageSize: objPage.pageSize,
                    DesignNo: $("#txtDesignNoQ@(itemName)").val(),
                    CustomerName: $("#txtCustomerNameQ@(itemName)").val(),
                    AssemblyName: $("#txtAssemblyNameQ@(itemName)").val(),
                    ProTypeGroupId: $("#cboProTypeGroupQ@(itemName)").val(),
                    ProductUseId: $("#cboProductUseQ@(itemName)").val(),
                    StartDate: $("#txtStartDateQ@(itemName)").val(),
                    EndDate: $("#txtEndDateQ@(itemName)").val(),
                    SignStatus: $("#cbxSignStatusQ@(itemName):checked").val(),
                    DesignStatus: $("#cboRfiDesignStatusQ@(itemName)").val().join(),
                    FlowStatus: $("#cboRfiDesignFlowStatusQ@(itemName)").val().join(),
                }, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    let canDownloadStatus = [6, 7];

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        let designStatus = parseInt(item.DesignStatus);

                        innerHtml += `<tr>
                                        <td><span class="stack-title">#</span>${_row}</td>
                                        <td><span class="stack-title">版次</span><span>${item.Edition}</span></td>
                                        <td><span class="stack-title">需求單號</span><span id="DesignNo@(itemName)-${item.DesignId}">${item.DesignNo}</span>${designStatus == 6 ? `<span class="erp-status"><span>核</span></span>` : ``}</td>
                                        <td><span class="stack-title">建單時間</span><span id="CreateDate@(itemName)-${item.DesignId}">${item.CreateDate}</span></td>
                                        <td><span class="stack-title">客戶名稱</span><div>${item.CustomerName}</div><div style="font-size:12px;">${item.CustomerEName}</div></td>
                                        <td><span class="stack-title">設計代號</span>${item.AssemblyName}</td>
                                        <td><span class="stack-title">負責部門</span>${item.DesignDeptName}</td>
                                        <td><span class="stack-title">產品類別</span>${item.ProTypeGroupName}</td>
                                        <td><span class="stack-title">產品用途</span>${item.ProductUseName}</td>
                                        <td><span class="stack-title">業務擔當</span>
                                            ${item.SalesGender == `M` ? `<span class="gender-male"><i class="fas fa-male mr-1"></i></span>` :
                                            item.SalesGender == `F` ? `<span class="gender-female"><i class="fas fa-female mr-1"></i></span>` : ``}${item.SalesNo} ${item.SalesName}
                                        </td>
                                        <td><span class="stack-title">審批狀態</span>${SetStatusInfo@(itemName)(item)}</td>
                                        <td class="text-center active-content">
                                          <div class="btn-group mb-4 show" style="margin-bottom: 0 !important; position: static;">
                                            <button type="button" class="btn btn-primary dropdown-toggle" data-design-id="${item.DesignId}" style="padding-top: 0; padding-bottom: 0;">動作</button>
                                            <div class="dropdown-menu btn-text-left-block" data-design-id="${item.DesignId}" style="overflow-y: auto; z-index: 999; max-height: 150px;">`;
                        innerHtml += SetFlowFunction(item);
                        if (item.DemandDesignSpec) {
                            innerHtml += `<button type="button" class="dropdown-item btn-text-left auth-read"
                                data-design-status=0 data-design-id="${item.DesignId}" onclick="Elements@(itemName).ShowDetail(this);">
                                <i class="fas fa-bezier-curve mr-1"></i>展開明細</button>`;
                            if (canDownloadStatus.includes(designStatus)) {
                                innerHtml += `<button type="button" class="dropdown-item btn-text-left auth-download" onclick="GetDesignPdf@(itemName)(${item.DesignId});">
                                    <i class="fas fa-download mr-1"></i>設計申請單下載</button>`;
                            }
                        }
                        innerHtml += `</div>
                                    </div>
                                </td>
                                <td style="padding: 0;">
                                    <table id="FlowsInfo@(itemName)-${item.DesignId}" class="table table-bordered table-sm mb-0 table-non-rwd table-striped-custom table-row-detail" style="display: none;">
                                    ${ReaderFlowsTable(item.SignFlow)}
                                    </table>
                                    <table id="DetailInfo@(itemName)-${item.DesignId}" class="table table-bordered table-sm mb-0 table-non-rwd table-striped-custom table-row-detail" style="display: none;">
                                    ${ReaderDetailTable(item.DemandDesignSpec)}
                                    </table>
                                </td>
                                </tr>`;
                        signFlowJson = data.result.filter(f => !!f.SignFlow).map(m => { return { DesignId: m.DesignId, SignFlow: JSON.parse(m.SignFlow).data } }); //解析審批歷程資料
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="13" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

            @*Elements@(itemName).SignFlow@(itemName)();
            Elements@(itemName).UrgentSign@(itemName)();*@

            @*$("#listData@(itemName) input[name='chkStatus@(itemName)']").bootstrapToggle({
                on: "啟用",
                off: "關閉",
                onstyle: "success",
                offstyle: "danger",
                size: "mini",
                width: "75px"
            });

            $("#listData@(itemName) input[name='chkStatus@(itemName)'][data-design-id]").change(StatusSwitch@(itemName));*@

            //控制動作滾輪高度
            $(".active-content .dropdown-toggle").off("click").on("click", function () {
                let designId = $(this).data("design-id");

                if ($(`.dropdown-menu[data-design-id='${designId}']`).hasClass("show")) {
                    $(`.dropdown-menu`).removeClass("show");
                } else {
                    $(`.dropdown-menu`).removeClass("show");

                    $(`.dropdown-menu[data-design-id='${designId}']`).addClass("show");
                    $(`.dropdown-menu[data-design-id='${designId}']`).css({
                        top: `${$(this).position().top + $(this).height() + 5}px`,
                        left: `${$(this).position().left - $(this).width() + 38}px`
                    });
                }
            });

            $("body").off("click").on("click", function (e) {
                if ($(".dropdown-menu").hasClass("show")) {
                    if (!$(e.target).hasClass("dropdown-toggle")
                        && !$(e.target).parents().hasClass("dropdown-toggle")) {
                        $(".dropdown-menu").removeClass("show");
                    }
                }
            });
        }

        function ReaderFlowsTable(source) {
            let innerHtml = '';
            if (source) {
                let json = JSON.parse(source).data; //需先轉成json

                innerHtml += `<thead><tr>
                                <th style="min-width: 85px;" class="text-center">關卡</th>
                                <th style="min-width: 85px;" class="text-center">審批人</th>
                                <th style="min-width: 85px;" class="text-left">審批註記</th>
                                <th style="min-width: 100px;">處理時間</th>
                                <th style="min-width: 100px;">到達時間</th>
                                <th style="min-width: 100px;">審批時間</th>
                              </tr></thead><tbody>`;

                $.each(json, function (i, item) {
                    innerHtml += `<tr>
                                    <td rowspan="2" data-toggle="tooltip" title="${item.SignJobName}" class="text-center" style="width: 85px; max-width: 85px;"><span class="stack-title">關卡</span>${item.SignJobName}</td>
                                    <td data-toggle="tooltip" title="${item.FlowerName}" class="text-center" style="width: 85px; max-width: 85px;"><span class="stack-title">審批人</span>${item.FlowerName}</td>
                                    <td data-toggle="tooltip" title="${item.ApprovedName}" class="text-left" style="width: 85px; max-width: 85px;"><span class="stack-title">審批註記</span>${item.ApprovedName}</td>
                                    <td data-toggle="tooltip" title="${item.ArriveDateTime}" style="width: 100px; max-width: 100px;"><span class="stack-title">處理時間</span>${item.ArriveDateTime ? `${item.StayDays}天${item.StayHours}時${item.StayMinutes}分` : ``}</td>
                                    <td data-toggle="tooltip" title="${item.ArriveDateTime}" style="width: 100px; max-width: 100px;"><span class="stack-title">到達時間</span>${item.ArriveDateTime}</td>
                                    <td data-toggle="tooltip" title="${item.SignDateTime}"  style="width: 100px; max-width: 100px;"><span class="stack-title">審批時間</span>${item.SignDateTime}</td>
                                </tr>
                                <tr><td colspan="4" class="text-left" style="color:blue;">審批建議：${item.SignDesc}</td>
                                <td>${item.ArriveDateTime && !item.SignDateTime && item.Flower != userId@(itemName) ? `<a name="designUrgent@(itemName)" class="btn btn-sm btn-warning" href="javascript:void(0);"
                                    data-design-id="${item.DesignId}" data-designsf-id="${item.DesignSfId}"><i class="fas fa-share mr-1"></i>催簽通知</a>` : ``}</td></tr>`;
                });

                innerHtml += `</tbody>`;
            }
            return innerHtml;
        }

        function ReaderDetailTable(source) {
            let innerHtml = "";
            if (source) {
                let json = JSON.parse(source).data; //需先轉成json

                innerHtml += `<thead><tr>
                                <th style="width: 100px;" class="text-left">規格名稱</th>
                                <th style="width: 150px;" class="text-left">規格特徵</th>
                              </tr></thead><tbody>`;

                $.each(json, function (i, item) {
                    innerHtml += `<tr>
                                    <td class="text-left" data-toggle="tooltip" title="${item.ParameterName}" style="width: 100px; max-width: 100px;"><span class="stack-title">規格名稱</span>${item.ParameterName}</td>
                                    <td class="text-left" data-toggle="tooltip" title="${item.FeatureNames}" style="width: 150px; max-width: 150px;"><span class="stack-title">規格特徵</span>${item.FeatureNames}</td>
                                 </tr>`;
                });

                innerHtml += `</tbody>`;
            }
            return innerHtml;
        }

        function SetFlowFunction(item) {
            let innerHtml = "";
            let finalStatus = ["6", "7", "V"];
            let designStatus = item.DesignStatus;

            if (finalStatus.includes(designStatus)) {
                innerHtml += `<button type="button" class="dropdown-item btn-text-left auth-read" onclick="Read@(itemName)(${item.DesignId});">
                    <i class="fas fa-eye mr-1"></i>查看</button>`;
            }

            if (!finalStatus.includes(designStatus) && item.Flower == userId@(itemName)) {
                if (flowAuthoritys.find(f => f.DetailCode === "update")) {
                    innerHtml += `<button type="button" class="dropdown-item btn-text-left auth-update" onclick="Edit@(itemName)(${item.DesignId})">
                        <i class="fas fa-edit mr-1"></i>編輯設計規格</button>`;
                }
                else {
                    innerHtml += `<button type="button" class="dropdown-item btn-text-left auth-read" onclick="Read@(itemName)(${item.DesignId});">
                        <i class="fas fa-eye mr-1"></i>查看</button>`;
                }
                if (designStatus == 1) {
                    if (item.SortNumber == 1 && item.DemandDesignSpec) {
                        innerHtml += `<button type="button" name="designFlow@(itemName)" class="dropdown-item btn-text-left auth-status-switch" onclick="Elements@(itemName).SignFlow(this);"
                            data-design-id="${item.DesignId}" data-designsf-id="${item.DesignSfId}" data-sort-number="${item.SortNumber}" data-signjob-name="${item.FlowStatusName}">
                            <i class="fas fa-pencil-alt mr-1"></i>單據確認</button>`;
                    }
                    if (item.SortNumber > 1) {
                        innerHtml += `<button type="button" name="designFlow@(itemName)" class="dropdown-item btn-text-left auth-status-switch" onclick="Elements@(itemName).SignFlow(this);"
                            data-design-id="${item.DesignId}" data-designsf-id="${item.DesignSfId}" data-sort-number="${item.SortNumber}" data-signjob-name="${item.FlowStatusName}">
                            <i class="fas fa-pencil-alt mr-1"></i>審批</button>`;
                    }
                }
            }
            if (item.SignFlow.length) {
                innerHtml += `<button type="button" class="dropdown-item btn-text-left auth-read" onclick="Elements@(itemName).ShowFlows(this);"
                    data-design-status=0 data-design-id="${item.DesignId}">
                    <i class="fas fa-list-ol mr-1"></i>查看審批歷程</button>`;
            }
            return innerHtml;
        }

        function ElementControl@(itemName)() {
            this.ShowDetail = function (e) {
                let designId = parseInt(e.dataset.designId || -1);
                let btnStatus = parseInt(e.dataset.designStatus);

                $(`#DetailInfo@(itemName)-${designId}`).toggle(500);

                let btnHtml = btnStatus == 1 ? '<i class="fas fa-bezier-curve mr-1"></i>展開明細' : '<i class="fas fa-bezier-curve mr-1"></i>關閉明細';
                $(e).html(btnHtml);
                e.dataset.designStatus = 1 - btnStatus;
            }

            //審批歷程pop
            this.ShowFlows2 = function (e) {
                let designId = parseInt(e.dataset.designId || -1);
                let btnStatus = parseInt(e.dataset.designStatus || -1);

                $(`#FlowsInfo@(itemName)-${designId}`).toggle(500);

                let btnHtml = btnStatus == 1 ? '<i class="fas fa-list-ol mr-1"></i>關閉查看' : '<i class="fas fa-list-ol mr-1"></i>查看審批歷程';
                $(e).html(btnHtml);
                e.dataset.designStatus = 1 - btnStatus; //更新狀態
            }


            this.ShowFlows = function (e) {
                let designId = parseInt(e.dataset.designId || -1);
                let btnStatus = parseInt(e.dataset.designStatus || -1);
                let innerHtml = "";

                let data = signFlowJson.find(f => f.DesignId == designId).SignFlow;

                $.each(data, function (i, item) {
                    innerHtml += `<tr><td rowspan="2" class="text-center"><span class="stack-title">關卡</span>${item.SignJobName}</td>
                                    <td><span class="stack-title">審批人</span>${item.FlowerName}</td>
                                    <td><span class="stack-title">審批註記</span>${item.ApprovedName}</td>
                                    <td class="text-center"><span class="stack-title">處理時間</span>${item.ArriveDateTime ? `${item.StayDays}天${item.StayHours}時${item.StayMinutes}分` : ``}</td>
                                    <td class="text-center"><span class="stack-title">到達時間</span>${item.ArriveDateTime}</td>
                                    <td class="text-center"><span class="stack-title">審批時間</span>${item.SignDateTime}</td></tr>
                                    <tr><td colspan="4" class="text-left" style="color:blue;">審批建議：${item.SignDesc}</td>
                                    <td>${item.ArriveDateTime && !item.SignDateTime && item.Flower != userId@(itemName) ? `<button type="button" name="designUrgent@(itemName)" class="btn btn-sm btn-warning"
                                        data-design-id="${item.DesignId}" data-designsf-id="${item.DesignSfId}"><i class="fas fa-share mr-1"></i>催簽通知</button>` : ``}</td>
                                    </tr>`;
                });

                $("#modalFlowInfo@(itemName) tbody").html(innerHtml);

                $("#modalFlowInfo@(itemName)").modal({
                    keyboard: false,
                    show: true
                });

                Elements@(itemName).UrgentSign@(itemName)(); //稽催Pop按鈕監聽
            }

            let productUseTypes = [];
            let dictCompany = [{ 2: "JMO" }, { 3: "ETG" }, { 1: "DGJMO" }];

            addMethod(this, "InitializeDetail@(itemName)", function () {
                $("select[name='cboProTypeGroup@(itemName)']").off("change").on("change", function (e) {
                    let corpNo = Object.values(dictCompany.find(f => f[companyId@(itemName)]))[0];
                    let n1 = proTypeGroupTypes.find(f => f.ProTypeGroupId == parseInt($(e.target).val()));
                    let n2 = productUseTypes.find(f => f.ProductUseId == parseInt($("#cboProductUse@(itemName) :selected").val()));

                    let assemblyName = corpNo + (new Date()).Format('yy') + '??' + (!!n1 ? n1.TypeOne : '') + (!!n2 ? n2.TypeOne : '');
                    $("#txtAssemblyName@(itemName)").val(assemblyName);
                });

                $("select[name='cboProductUse@(itemName)']").off("change").on("change", function (e) {
                    //ETG2401X _ 共計8碼.
                    //1) 第1~3碼 = “ETG”
                    //2) 第4~5碼 = 西元年後二碼, 今年為 “24”.
                    //3) 第6~7碼 = 流水號, 由01~99, A1~A9, Z1~Z9.
                    //4) 第8碼 = X – 車載, Y – 非車載.
                    let corpNo = Object.values(dictCompany.find(f => f[companyId@(itemName)]))[0];
                    let n1 = proTypeGroupTypes.find(f => f.ProTypeGroupId == $("#cboProTypeGroup@(itemName) :selected").val());
                    let n2 = productUseTypes.find(f => f.ProductUseId == $(e.target).val());

                    let assemblyName = corpNo + (new Date()).Format('yy') + '??' + (!!n1 ? n1.TypeOne : '') + (!!n2 ? n2.TypeOne : '');
                    $("#txtAssemblyName@(itemName)").val(assemblyName);
                });
            });

            //審批pop
            this.SignFlow = function (e) {
                PopDetailSign@(itemName)(e.dataset);
                Datas@(itemName).GetDesignSignFlow();
            };

            //催簽
            addMethod(this, "UrgentSign@(itemName)", function () {
                $("button[name='designUrgent@(itemName)']").off("click").on("click", function (e) {
                    PopUrgentSign@(itemName)(e.currentTarget.dataset);
                    Elements@(itemName).GetUrgentSign@(itemName)();
                });
            })

            addMethod(this, "GetUrgentSign@(itemName)", function () {
                let targetUrl = "@Url.Action("GetDesignSignFlow", "RequestForInformation")";
                let data = DataAccess.Get(targetUrl,
                    {
                        DesignSfId: $("#urgentDesignSfId").val()
                    }, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        $("#UrgentSign@(itemName)").val(item.SignJobName);
                        $("#UrgentFlower@(itemName)").val(item.UserName);
                    });
                } else {
                    alert(data.msg, "alert", 0);
                }
            });

            addMethod(this, "FileUpload@(itemName)", function () {
                //#region 檔案上傳套件
                let uploadConfig = {
                    fileSelector: "#fileDesignFile@(itemName)",
                    targetSelector: "#txtDesignFile@(itemName)",
                    required: false,
                    uploadPath: "/RequestForInformation/DesignManagement",
                    maxFileCount: 1,
                    defaultFile: $("#txtDesignFile@(itemName)").val()
                };
                Suites.FileUpload(uploadConfig);
                //#endregion
            });

            addMethod(this, "FileAutoUpload@(itemName)", function (uploadConfig) {
                //#region 檔案上傳套件
                let uploadSetting = {
                    theme: "fas",
                    language: "zh-TW",
                    showCaption: true,
                    showPreview: true,
                    showRemove: false,
                    showUpload: false,
                    showCancel: false,
                    uploadUrl: "/Web/Upload",
                    uploadAsync: true,
                    minFileCount: (uploadConfig.required ? 1 : 0),
                    maxFileCount: uploadConfig.maxFileCount,
                    validateInitialCount: true,
                    overwriteInitial: false,
                    initialPreviewAsData: true,
                    browseOnZoneClick: true,
                    uploadExtraData: {
                        savePath: uploadConfig.uploadPath,
                        isPreview: false
                    },
                    previewFileIconSettings: {
                        doc: '<i class="fas fa-file-word" style="color: #0078d7;"></i>',
                        docx: '<i class="fas fa-file-word" style="color: #0078d7;"></i>',
                        xls: '<i class="fas fa-file-excel" style="color: #1d6f42;"></i>',
                        xlsx: '<i class="fas fa-file-excel" style="color: #1d6f42;"></i>',
                        csv: '<i class="fas fa-file-csv" style="color: #1d6f42;"></i>',
                        ppt: '<i class="fas fa-file-powerpoint" style="color: #d04423"></i>',
                        pptx: '<i class="fas fa-file-powerpoint" style="color: #d04423"></i>'
                    }
                };

                if (!!uploadConfig.defaultFile) {
                    let previewData = FileAccess.Preview(uploadConfig.defaultFile);
                    if (!!previewData) {
                        uploadSetting.initialPreview = previewData.initialPreview;
                        uploadSetting.initialPreviewConfig = previewData.initialPreviewConfig;
                    }
                }

                $(uploadConfig.fileSelector).fileinput('destroy');
                $(uploadConfig.fileSelector).fileinput(uploadSetting)
                    .off('filebatchselected')
                    .on('filebatchselected', function (event, files) {
                        $(uploadConfig.fileSelector).fileinput("upload");
                    })
                    .off('fileuploaded')
                    .on('fileuploaded', function (event, previewId, index, fileId) {
                        let uploadPath = previewId.response.initialPreviewConfig[0]["key"];

                        tempFile = [];
                        if ($(uploadConfig.targetSelector).val()) tempFile = $(uploadConfig.targetSelector).val().split(',');
                        tempFile.push(uploadPath);
                        $(uploadConfig.targetSelector).val(tempFile.join(",")).trigger('change');
                        $(uploadConfig.fileSelector).fileinput('clear');

                        let result;
                        switch (uploadConfig.fileSelector) {
                            case "#fileDesignFile@(itemName)":
                                result = DataAccess.Add("@Url.Action("UpdateDesignFile", "RequestForInformation")",
                                    {
                                        DesignId: $("#DesignId").val(),
                                        FileId: uploadPath,
                                    }, false, false);
                                if (result) Edit@(itemName)($("#DesignId").val());
                                break;
                            case "#fileAdditionalFile@(itemName)":
                                result = DataAccess.Update("@Url.Action("UpdateDesignSignFlowAdditionalFile", "RequestForInformation")",
                                    {
                                        DesignSfId: $("#signDesignSfId").val(),
                                        FileId: uploadPath,
                                    }, false, true);
                                if (result) Datas@(itemName).GetDesignSignFlow();
                                break;
                        }
                    });
                //#endregion
            });
        }

        function DataControl@(itemName)() {
            addMethod(this, "Initialize@(itemName)", function () {
                let targetUrl = "@Url.Action("GetProductTypeGroup", "ScmBasicInformation")";
                let data = DataAccess.Get(targetUrl,
                    {
                        Status: "A"
                    }, false);
                if (data.status == "success") {
                    proTypeGroupTypes = data.result.map(m => { return { ProTypeGroupId: m.ProTypeGroupId, TypeOne: m.TypeOne } });
                }

                targetUrl = "@Url.Action("GetProductUse", "RequestForInformation")";
                data = DataAccess.Get(targetUrl,
                    {
                        Status: "A"
                    }, false);
                if (data.status == "success") {
                    productUseTypes = data.result.map(m => { return { ProductUseId: m.ProductUseId, TypeOne: m.TypeOne } });
                }
            });

            this.GetDesignSignFlow = function () {
                let targetUrl = "@Url.Action("GetDesignSignFlow", "RequestForInformation")";
                let data = DataAccess.Get(targetUrl,
                    {
                        DesignSfId: $(`#signDesignSfId`).val()
                    }, false);

                signFlowCache = undefined;
                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        signFlowCache = item;
                        $("#cboAssignDept@(itemName)").val(item.DepartmentId).trigger("change");
                        $("#txtAdditionalFile@(itemName)").val(!!item.AdditionalFile ? item.AdditionalFile : "");
                    });
                } else {
                    alert(data.msg, "alert", 0);
                }

                Elements@(itemName).FileAutoUpload@(itemName)({
                    fileSelector: "#fileAdditionalFile@(itemName)",
                    targetSelector: "#txtAdditionalFile@(itemName)",
                    required: false,
                    uploadPath: "/RequestForInformation/DesignSignFlow",
                    maxFileCount: 1,
                    defaultFile: $("#txtAdditionalFile@(itemName)").val()
                });
            }
        }

        function InitParameter@(itemName)(selector) {
            let initFnString = "Expand";
            let content = selector.attr("href").split('#tab')[1].split('@(itemName)')[0];

            switch (content) {
                case "DesignDetail":
                    initFnString += "DesignDetail";
                    break;
            }

            let initFn = window[initFnString];
            if (initFn && typeof (initFn) == "function") {
                initFn();
            }
        }

        function GetData@(itemName)(DesignId) {
            $("#DesignId").val(DesignId ? DesignId : -1);

            $("#cboProTypeGroup@(itemName)").html($("#cboProTypeGroupQ@(itemName)").html());
            $("#cboProductUse@(itemName)").html($("#cboProductUseQ@(itemName)").html());

            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");

            if (DesignId > 0) {
                @*if (!(flowAuthoritys.find(f => f.DetailCode === `SignSS`) ||
                    flowAuthoritys.find(f => f.DetailCode === `SignSRD`) ||
                    flowAuthoritys.find(f => f.DetailCode === `SignMP`))) {
                }*@

                let targetUrl = "@Url.Action("GetDemandDesign", "RequestForInformation")";
                let data = DataAccess.Get(targetUrl, { DesignId } , false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        $("#txtDesignNo@(itemName)").val(item.DesignNo);
                        $("#txtCreateDate@(itemName)").val(item.CreateDate);
                        $("#txtCustomerName@(itemName)").val(item.CustomerName);
                        $("#txtCustomerEName@(itemName)").val(item.CustomerEName);
                        $("#txtAssemblyName@(itemName)").val(item.AssemblyName);
                        $("#txtDesignDeptName@(itemName)").val(item.DesignDeptName);
                        $("#cboProTypeGroup@(itemName), #ProTypeGroupId").val(item.ProTypeGroupId);
                        $("#cboProductUse@(itemName), #ProductUseId").val(item.ProductUseId);
                        $("#txtDepartmentName@(itemName)").val(item.DepartmentName);
                        $("#txtSales@(itemName)").val(item.SalesName);
                        $(`#txtSuperSales@(itemName)`).val(item.SuperSalesName);
                        $(`${objForm@(itemName)} .additional-control`).empty();
                        if (!!item.AdditionalFile) {
                            $(`${objForm@(itemName)} .additional-control`).html(`<a class="active-link" href="/RequestForInformation/DownloadDesignFile?fileId=${item.AdditionalFile}&DesignId=${item.DesignId}" target="_blank"><i class="fas fa-download"></i><span>${item.AdditionalFileName}${item.AdditionalFileExtension}</span></a>`);
                        }
                        $("#txtDesignFile@(itemName)").val(item.DesignFile ? item.DesignFile : ""); //array ex: (id1,id2)
                        $("#txtDesignStatus@(itemName)").val(item.DesignStatusName); //審批狀態

                        SetSignInfo@(itemName)(item); //設定審批資訊顯示

                        Elements@(itemName).FileAutoUpload@(itemName)({
                            fileSelector: "#fileDesignFile@(itemName)",
                            targetSelector: "#txtDesignFile@(itemName)",
                            required: false,
                            uploadPath: "/RequestForInformation/DesignManagement",
                            maxFileCount: 1,
                            defaultFile: $("#txtDesignFile@(itemName)").val()
                        });
                    });

                    if ($(".advanced-block .flag-tabs > .flag-item > .flag-link").first().hasClass("active")) {
                        InitParameter@(itemName)($(".advanced-block .flag-tabs > .flag-item").first().find("a"));
                    } else {
                        $(".advanced-block .flag-tabs > .flag-item").first().find("a").trigger("click");
                    }
                } else {
                    alert(data.msg, "alert", 0);
                }
            }
            else {
                $('.add-hide').hide();
                $("#txtSales@(itemName)").val(userName@(itemName));
            }

            pageMode = "";

            Datas@(itemName).Initialize@(itemName)();
            Elements@(itemName).InitializeDetail@(itemName)();

            $("#cboProTypeGroup@(itemName), #cboProductUse@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let DesignId = parseInt($("#DesignId").val());

                if (DesignId <= 0) {
                    let targetUrl = "@Url.Action("AddDemandDesign", "RequestForInformation")";
                    let data = DataAccess.EditContinued(targetUrl,
                        {
                            CustomerName: $("#txtCustomerName@(itemName)").val(),
                            CustomerEName: $("#txtCustomerEName@(itemName)").val(),
                            AssemblyName: $("#txtAssemblyName@(itemName)").val(),
                            ProductUseId: $("#cboProductUse@(itemName) :selected").val(),
                            ExistFlag: $(`input[name="cbxExistFlag@(itemName)"]:checked`).val()
                        }, false);

                    if (data) {
                        $.each(data.result, function (i, item) {
                            Edit@(itemName)(item.DesignId);
                        });
                    }
                } else {
                    let targetUrl = "@Url.Action("UpdateDemandDesign", "RequestForInformation")";

                    let result = DataAccess.Update(targetUrl,
                        {
                            DesignId,
                            CustomerName: $("#txtCustomerName@(itemName)").val(),
                            CustomerEName: $("#txtCustomerEName@(itemName)").val(),
                            AssemblyName: $("#txtAssemblyName@(itemName)").val(),
                            ProTypeGroupId: $("#cboProTypeGroup@(itemName) :selected").val(),
                            ProductUseId: $("#cboProductUse@(itemName) :selected").val(),
                            ExistFlag: $(`input[name="cbxExistFlag@(itemName)"]:checked`).val()
                        }, false, true);

                    if (result) {
                        Return@(itemName)();
                    }
                }
            }
        }

        function Delete@(itemName)(DesignId) {
            let row_name = $(`#DesignNo@(itemName)-${DesignId}`).text();

            swal.fire({
                titleText: `確認要刪除${row_name}嗎?`,
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteDemandDesign", "RequestForInformation")";
                    let result = DataAccess.Delete(targetUrl, { DesignId } , false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        //PopDetailSign
        function PopDetailSign@(itemName)(d) {
            let designId = parseInt(d.designId || -1);
            let designSfId = parseInt(d.designsfId || -1);
            let sortNumber = parseInt(d.sortNumber);
            let signJobName = d.signjobName || "錯誤";

            if (!designSfId) {
                alert('無法取得流程檔', "warning", 0);
                return false;
            }

            $("#modalSignInfo@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });

            if (!sortNumber || sortNumber == 1) {
                $(".sign-actions").hide();
                $("#cbxSignStatus@(itemName)Y").prop('checked', true);
            }
            else {
                $(".sign-actions").show();
            }

            $(`#SignInfo@(itemName)`).val(signJobName || '-');
            $(`#signDesignId`).val(designId);
            $(`#signDesignSfId`).val(designSfId);
        }

        function PopUrgentSign@(itemName)(d) {
            let designId = parseInt(d.designId || -1);
            let designSfId = parseInt(d.designsfId || -1);

            $("#modalUrgentSign@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });

            $(`#urgentDesignId`).val(designId);
            $(`#urgentDesignSfId`).val(designSfId);
        }

        function SendSign@(itemName)() {
            if ($(`#SignInfoForm@(itemName)`).valid()) {

                let signStatus = $("input[name='cbxSignStatus@(itemName)']:checked").val();
                let signContent = $(`#txtSignContent@(itemName)`).val();

                $(`#signStatus`).val(signStatus);

                switch (signStatus) {
                    case "N": //不准
                        if (!signContent) {
                            alert('請填寫退回/變更原因', "alert", 0);
                            return;
                        }
                        break;
                    case "Y": //核准
                        break;
                }

                SubmitSign@(itemName)();
            }
        }


        function SubmitUrgentSign@(itemName)() {
            swal.fire({
                titleText: "確認發出催簽通知嗎??",
                text: "通知發出後將無法收回，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: "#d33",
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DesignUrgentSignMessage", "RequestForInformation")";
                    let result = DataAccess.EditContinued(targetUrl,
                        {
                            DesignId: $("#urgentDesignId").val(),
                            DesignSfId: $("#urgentDesignSfId").val(),
                            UrgentSignContent: $(`#txtUrgentContent@(itemName)`).val()
                        }, false);

                    if (result.status == "success") {
                        $("#modalUrgentSign@(itemName)").modal("hide");
                        alert(result.msg, "success");
                    }
                }
            });
        }

        function SubmitSign@(itemName)() {
            swal.fire({
                titleText: "確認是否審批此案件嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("UpdateDemandDesignStatus", "RequestForInformation")";
                    let result = DataAccess.Update(targetUrl,
                        {
                            DesignId: $(`#signDesignId`).val(),
                            DesignSfId: $(`#signDesignSfId`).val(),
                            DesignStatus: $(`#signStatus`).val(),
                            SignContent: $(`#txtSignContent@(itemName)`).val()
                        }, false, true);

                    if (result) {
                        ResetForm("#SignInfoForm@(itemName)");
                        $("#modalSignInfo@(itemName)").modal("hide");
                        Query@(itemName)();
                    }
                }
            });
        }

        function DownloadExcel@(itemName)(DesignId) {
            DesignId = parseInt(DesignId || -1);

            @*if (!(flowAuthoritys.find(f => f.DetailCode === `SignSS`) ||
                flowAuthoritys.find(f => f.DetailCode === `SignSRD`) ||
                flowAuthoritys.find(f => f.DetailCode === `SignMP`))) {
            }*@

            let targetUrl = "@Url.Action("GetDesignExcel", "RequestForInformation")";
            FileAccess.AjaxDownload(targetUrl,
                {
                    DesignId,
                    DesignNo: $("#txtDesignNoQ@(itemName)").val(),
                    ProductUseId: $("#cboProductUseQ@(itemName)").val(),
                    StartDate: $("#txtStartDateQ@(itemName)").val(),
                    EndDate: $("#txtEndDateQ@(itemName)").val(),
                    SignStatus: $("#cbxSignStatusQ@(itemName):checked").val(),
                    DesignStatus: $("#cboRfiDesignStatusQ@(itemName)").val().join(),
                    FlowStatus: $("#cboRfiDesignFlowStatusQ@(itemName)").val().join()
                }, false);
        }

        function GetDesignPdf@(itemName)(DesignId) {
            let targetUrl = "@Url.Action("GetDesignPdf", "RequestForInformation")";
            FileAccess.AjaxDownload(targetUrl, { DesignId } , false);
        }

        function Edit@(itemName)(designId) {
            $(objForm@(itemName) + " input").not(".read-item").prop({ "readonly": false, "disabled": false }); //僅提供取得RFI單據，不開放編輯
            $(objForm@(itemName) + " textarea").not(".read-item").prop({ "readonly": false, "disabled": false }); //僅提供取得RFI單據，不開放編輯
            $(objForm@(itemName) + " select").not(".read-item").prop({ "readonly": false, "disabled": false }); //僅提供取得RFI單據，不開放編輯

            GetData@(itemName)(designId);
            $(".read-hide@(itemName)").show();
        }

        function Read@(itemName)(designId) {
            $(objForm@(itemName) + " input").not(".read-item").prop({ "readonly": true, "disabled": true}); //僅提供取得RFI單據，不開放編輯
            $(objForm@(itemName) + " textarea").not(".read-item").prop({ "readonly": true, "disabled": true }); //僅提供取得RFI單據，不開放編輯
            $(objForm@(itemName) + " select").not(".read-item").prop({ "readonly": true, "disabled": true }); //僅提供取得RFI單據，不開放編輯

            pageMode = "Read";
            GetData@(itemName)(designId);
            $(".read-hide@(itemName)").hide();
        }

        function Return@(itemName)() {
            ResetForm@(itemName)();
            Switch("#listData@(itemName)", "#editData@(itemName), .unit-block, .advanced-block");
            $(`#modalQueryDesignDetail, #listDataDesignDetail, #editDataDesignDetail, #modalSignInfoDesignDetail`).removeAttr('onCopy', 'onCut');
            Query@(itemName)();
        }

        function ResetForm@(itemName)() {
            ResetForm(objForm@(itemName));
            $("#SignFlowInfo@(itemName)").html('');
            $(`#editData@(itemName) input, #editData@(itemName) textarea, #editData@(itemName) select`).val('');
            $(`#editData@(itemName) input[type="radio"], #editData@(itemName) input[type="checkbox"]`).removeAttr('checked');
        }

        function Forbidden@(itemName)() {
            swal.fire({
                title: "功能尚未開放!",
                icon: "error"
            });
        }
</script>
)