@using Business_Manager.Helpers
@{
    string itemName = "ProdModuleManagement";
    string itemNameText = "模組種類管理(RFI)";
    string authority = ViewBag.authority;
    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
        .toggle-on {
            top: 1px;
        }
    </style>
)

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>

            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset data-select2-id="select2-data-16-npp8">
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtModuleNameQ@(itemName)">模組名稱</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtModuleNameQ@(itemName)" name="txtModuleNameQ@(itemName)" placeholder="請輸入模組名稱">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">狀態</label>
                            <div class="col-lg-4 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    啟用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)A" name="cbxStatusQ@(itemName)" value="A" checked>
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    停用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)S" name="cbxStatusQ@(itemName)" value="S">
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3 justify-content-between">
                    <div class="col-auto col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);">
                            <i class="fal fa-search"></i>搜尋
                        </a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn btn-info auth-add" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky table-stack" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 30px;">#</th>
                                        <th scope="col" style="min-width: 100px;">模組名稱</th>
                                        <th scope="col" style="min-width: 100px;">建立者</th>
                                        <th scope="col" style="min-width: 150px;">建立時間</th>
                                        <th scope="col" style="min-width: 100px;">狀態</th>
                                        <th class="text-center" scope="col" style="min-width: 75px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container custom-form-container" autocomplete="off" id="editForm@(itemName)" novalidate="novalidate">
                    <fieldset>
                        <input type="hidden" id="ProdModId" name="ProdModId" value="-1" />
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtModuleName@(itemName)">模組名稱<span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtModuleName@(itemName)" name="txtModuleName@(itemName)" placeholder="請輸入模組名稱"
                                       data-msg-required="請輸入模組名稱" data-rule-required="true"
                                       data-msg-maxlength="必須少於 50 個字元" maxlength="50" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="chkStatus@(itemName)">狀態<span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 col-6">
                                        <label class="control control-solid control-solid-info control--radio col-12">
                                            是
                                            <input type="radio" id="chkStatus@(itemName)A" name="chkStatus@(itemName)" value="A">
                                            <span class="control__indicator"></span>
                                        </label>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-6">
                                        <label class="control control-solid control-solid-info control--radio col-12">
                                            否
                                            <input type="radio" id="chkStatus@(itemName)S" name="chkStatus@(itemName)" value="S">
                                            <span class="control__indicator"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right read-hide">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

<!--其他分頁-->
@*<div class="advanced-block">
    <div class="row">
        <div class="col-12">
            <ul class="nav flag-tabs nav-fill" role="tablist">
                <li class="flag-item">
                    <a class="flag-link" data-toggle="tab" href="#tabRfqDetail">
                        <i class="fas fa-sort-size-down"></i> RFI單身資料
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane" id="tabRfqDetail">
            @Html.Partial("")
        </div>
    </div>
</div>*@

@Html.Resource("js",
    @<script>

        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };

        let objForm@(itemName) = "#editForm@(itemName)";

        $(document).ready(function () {
            Query@(itemName)();
        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let targetUrl = "@Url.Action("GetProdModule", "RequestForInformation")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "ModuleName": $("#txtModuleNameQ@(itemName)").val(),
                "Status": $("input[name='cbxStatusQ@(itemName)']:checked").toArray().map(item => item.value).join(",")
            };
            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr>
                                        <td><span class="stack-title">#</span>${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ModuleName}"><span class="stack-title">模組名稱</span>${item.ModuleName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.UserName}"><span class="stack-title">建立者</span><span class="fas fa-user-edit"></span>${item.UserName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.CreateDate}"><span class="stack-title">建立時間</span>${item.CreateDate}</td>
                                        <td class="text-center">
                                          <span class="stack-title">狀態</span>
                                          <input type="checkbox" name="chkStatus@(itemName)" class="auth-status-switch" data-prodmodule-id="${item.ProdModId}" ${(item.Status == `A` ? `checked` : ``)} />
                                        </td>
                                        <td class="ellipsis" data-toggle="tooltip" title="操作">
                                            <span class="stack-title">操作</span>
                                            <input type="hidden" name="row-name-${item.ProdModId}" value="${item.ModuleName}" />
                                            <a class="active-link" auth-update href="javascript:Edit@(itemName)(${item.ProdModId});"><i class="fas fa-edit"></i></a>
                                            <a class="active-link auth-delete" href="javascript:Delete@(itemName)(${item.ProdModId});"><i class="fas fa-trash-alt"></i></a>
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="6" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

            $("#listData@(itemName) input[name='chkStatus@(itemName)']").bootstrapToggle({
                on: "啟用",
                off: "關閉",
                onstyle: "success",
                offstyle: "danger",
                size: "mini",
                width: "75px"
            });

            $("#listData@(itemName) input[name='chkStatus@(itemName)'][data-prodmodule-id]").change(StatusSwitch@(itemName));
        }


        function Edit@(itemName)(prodModId) {
            $("#ProdModId").val(prodModId ? prodModId : -1);

            Switch("#editData@(itemName)", "#listData@(itemName)");

            $(`#editData@(itemName) input[name="chkStatus@(itemName)"]`).removeAttr(`checked`);

            @*ComboBoxs.Default("#cboProductUse@(itemName)", "@Url.Action("GetProductUse", "ScmBasicInformation")", {}, "", "NA", "", "ProductUseName", "ProductUseNo");    //產品應用*@

            if (prodModId > 0) {
                let targetUrl = "@Url.Action("GetProdModule", "RequestForInformation")";
                let postData = {
                    "ProdModId": prodModId
                }

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        $("#txtModuleName@(itemName)").val(item.ModuleName);
                        $(`#chkStatus@(itemName)${item.Status}`).attr('checked', true);
                    });
                } else {
                    @*$(`input[name="chkStatus@(itemName)"]`).removeAttr(`disabled`);*@
                    alert(data.msg, "alert", 0);
                }
            }

            @*$("#cboProductUse@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });*@
        }

        function Read@(itemName)(prodModId) {
            Edit@(itemName)(prodModId);
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let prodModId = parseInt($("#ProdModId").val());

                if (prodModId <= 0) {
                    let targetUrl = "@Url.Action("AddProdModule", "RequestForInformation")";
                    let postData = {
                        "ModuleName": $("#txtModuleName@(itemName)").val(),
                        "Status": $(`#editData@(itemName) input[name="chkStatus@(itemName)"]:checked`).first().val()
                    }

                    let data = DataAccess.EditContinued(targetUrl, postData, false);

                    if (data) {
                        $.each(data.result, function (i, item) {
                            $("#ProdModId").val(item.ProdModId);
                        });
                        Return@(itemName)();
                    }
                    else {
                        alert(data.msg, "alert", 0);
                    }
                } else {
                    let targetUrl = "@Url.Action("UpdateProdModule", "RequestForInformation")";
                    let postData = {
                        "ProdModId": prodModId,
                        "ModuleName": $("#txtModuleName@(itemName)").val(),
                        "Status": $(`#editData@(itemName) input[name="chkStatus@(itemName)"]:checked`).first().val()
                    }

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Return@(itemName)();
                    }
                }
            }
        }

        function Delete@(itemName)(prodModId) {
            let row_name = $(`input[name="row-name-${prodModId}"]`).val();
            swal.fire({
                titleText: `確認要刪除${row_name}嗎?`,
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteProdModule", "RequestForInformation")";
                    let postData = {
                        "ProdModId": prodModId
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function Return@(itemName)() {
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName)", "#editData@(itemName), .unit-block, .advanced-block");
            Query@(itemName)();
        }

        function StatusSwitch@(itemName)() {
            var prodModId = $(this).data("prodmodule-id");

            let targetUrl = "@Url.Action("UpdateProdModuleStatus", "RequestForInformation")";
            let postData = {
                "ProdModId": prodModId,
            };

            let result = DataAccess.Update(targetUrl, postData, false, true);

            if (result) {
                Return@(itemName)();
            }
        }
</script>
)
