@using Business_Manager.Helpers
@{
    string itemName = "RfiDetail";
    string parentItem = "RfiManagement";
    string itemNameText = "市場評估單身(RFI)";
    string authority = ViewBag.authority;
}

@Html.Resource("css",
    @<style>
        .form-group .select2-selection__rendered {
            line-height: 25px !important;
        }

         .form-group .select2-container .select2-selection--single {
             height: 39px !important;
         }

        .form-group .select2-selection__arrow {
            line-height: 25px !important;
        }

        .control--radio .control__indicator:after {
            top: 7px;
            left: 7px;
        }

        .control--checkbox .control__indicator:after {
            top: 4px;
        }

        .control--radio input:checked ~ .control__indicator {
            background-color: #a768f3;
        }

        .control--checkbox input:checked ~ .control__indicator {
            background-color: #0072ff;
        }

        .iCard .control {
            position: relative;
            display: inline-block;
            margin: 0 10px 15px 10px;
            padding-left: 25px;
            cursor: pointer;
            line-height: normal;
        }

        .iCard {
            margin-top: 0px;
            position: relative;
            border: 1px solid #e5e9ec;
            background-color: transparent;
            border-radius: 7px;
            display: flex;
            -ms-flex-direction: column;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-clip: border-box;
        }

        .iCard-header {
            padding: 0.3em;
            border: none;
            border-radius: 7px 7px 0 0;
            background-color: #efefef;
            font-weight: 600;
            font-size: large;
            color: #888;
        }

        input.txtOther {
            padding-left: 5px;
            outline: 0 !important;
            /* width: 60%; */
            height: 25px;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            border-bottom: solid 1px #aaa;
            border-radius: 0px;
            background: #fff;
        }

            input.txtOther:focus {
                background-color:#eee;
                color:#00f;
            }
    </style>
    )

<!--清單-->
<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        @*<a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)"><i class="fal fa-search"></i>搜尋</a>*@
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right add-hide@(itemName)" style="display: flex; justify-content: flex-end;">
                        <a style="margin-right: 5px;" class="btn btn-info auth-add" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky tiny-table" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 30px;">#</th>
                                        <th scope="col" style="min-width: 50px;">流水號</th>
                                        <th scope="col" style="min-width: 50px;">評估版次</th>
                                        <th scope="col" style="min-width: 80px;">關卡狀態</th>
                                        <th class="text-center" scope="col" style="min-width: 75px;">操作</th>
                                        <th style="padding: 0; min-width: 1200px;">
                                            <table class="table table-bordered table-sm mb-0 table-non-rwd table-striped-custom table-row-detail">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 100px;">量產時間</th>
                                                        <th style="width: 100px;">產品生命(起)</th>
                                                        <th style="width: 100px;">產品生命(迄)</th>
                                                        <th style="width: 100px;">目標單價</th>
                                                        <th style="width: 100px;">預估數量</th>
                                                        <th style="width: 100px;">匯率</th>
                                                        <th style="width: 100px;">幣別</th>
                                                        <th style="width: 125px;">營收</th>
                                                        <th style="width: 125px;">業務</th>
                                                        <th style="width: 80px;">審批狀態</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--編輯-->
<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-header text-right">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
            <div class="card-body">
                <form class="container custom-form-container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="RfiDetailId" name="RfiDetailId" value="-1" />
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtProdDate@(itemName)">量產時間<span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="txtProdDate@(itemName)" name="txtProdDate@(itemName)" placeholder="請輸入量產時間"
                                           data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                           data-msg-required="請輸入量產時間" data-rule-required="true" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="">產品生命週期<span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="txtProdLifeCycleStart@(itemName)" name="txtProdLifeCycleStart@(itemName)" placeholder="請輸入生產起日"
                                           data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                           data-msg-required="請輸入生產起日" data-rule-required="true" />
                                    <span class="input-group-addon">至</span>
                                    <input type="text" class="form-control" id="txtProdLifeCycleEnd@(itemName)" name="txtProdLifeCycleEnd@(itemName)" placeholder="請輸入生產迄日"
                                           data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                           data-msg-required="請輸入生產迄日" data-rule-required="true" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboCurrency@(itemName)">幣別<span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <div class="input-group">
                                    <select class="form-control" id="cboCurrency@(itemName)" name="cboCurrency@(itemName)"
                                            data-msg-required="請選擇幣別" data-rule-required="true"></select>
                                    <span class="input-group-addon">匯率</span>
                                    <input type="number" class="form-control" id="txtExchangeRate@(itemName)" name="txtExchangeRate@(itemName)"
                                           data-msg-extraRegex="請輸入正確的匯率格式"
                                           data-msg-required="請輸入匯率" data-rule-required="true"
                                           min="0" max="999" maxlength="8" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtTargetUnitPrice@(itemName)">目標單價<span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="txtTargetUnitPrice@(itemName)" name="txtTargetUnitPrice@(itemName)" placeholder="請輸入目標單價"
                                           data-msg-extraRegex="請輸入正確的單價格式"
                                           data-msg-required="請輸入目標單價" data-rule-required="true">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtLifeCycleQty@(itemName)">預估數量<span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="txtLifeCycleQty@(itemName)" name="txtLifeCycleQty@(itemName)" placeholder="請輸入預估數量"
                                           data-msg-extraRegex="請輸入正確的數量格式"
                                           data-msg-required="請輸入預估數量" data-rule-required="true">
                                    <span class="input-group-addon">PCS</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtRevenue@(itemName)">營收<span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <div class="input-group">
                                    <span class="input-group-addon currency-fc">外幣</span>
                                    <span class="input-group-addon currency-fc" id="txtCurrencyNameFC@(itemName)" name="txtCurrencyNameFC@(itemName)"></span>
                                    <input type="text" class="form-control currency-fc read-item" id="txtRevenueFC@(itemName)" name="txtRevenueFC@(itemName)" readonly />
                                    <span class="input-group-addon">NT$</span>
                                    <input type="text" class="form-control read-item" id="txtRevenue@(itemName)" name="txtRevenue@(itemName)" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtAdditionalFile@(itemName)">附加檔案</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="file" id="fileAdditionalFile@(itemName)" name="fileAdditionalFile@(itemName)" />
                                <input type="hidden" id="txtAdditionalFile@(itemName)" name="txtAdditionalFile@(itemName)" />
                            </div>
                        </div>
                        <div id="ProdSpecBox@(itemName)"></div>
                    </fieldset>
                </form>

                <div class="container custom-form-container">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtRfiDetailStatus@(itemName)">審批狀態</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtRfiDetailStatus@(itemName)" name="txtRfiDetailStatus@(itemName)" readonly disabled />
                            </div>
                        </div>

                        <div id="SignFlowInfo@(itemName)"></div>
                    </fieldset>
                </div>
            </div>
            <div class="card-footer text-right">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
                <button type="button" class="btn btn-success read-hide@(itemName)" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

<!--指派業務POP-->
<div class="modal fade" id="modalAssignInfo@(itemName)">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" onclick="CloseAssignInfo@(itemName)()">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container custom-form-container" autocomplete="off" id="AssignInfoForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboCompany@(itemName)">公司</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboCompany@(itemName)" name="cboCompany@(itemName)"
                                        data-msg-required="請選擇公司" data-rule-required="true"></select>
                            </div>
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboSales@(itemName)">業務</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboSales@(itemName)" name="cboSales@(itemName)"
                                        data-msg-required="請選擇業務" data-rule-required="true"></select>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-success read-hide@(itemName)" onclick="AssignSave@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        let objForm@(itemName) = "#editForm@(itemName)";
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        }
        let pageAuthoritys@(itemName);

        let UunitRound = -1;
        let TotalRound = -1;
        let UnitRoundFC = -1;
        let TotalRoundFC = -1;
        let LocalCurrency = "";

        let Elements@(itemName) = new ElementControl@(itemName)();
        let Datas@(itemName) = new DataControl@(itemName)();

        function SetGenderIcon@(itemName)(gender) {
            return gender == `M` ? `<span class="gender-male"><i class="fas fa-male"></i></span>` : gender == `F` ? `<span class="gender-female"><i class="fas fa-female"></i></span>` : ``;
        }

        function SetSignIcon@(itemName)(f) {
            let html = "";

            if (!!f.Approved) {
                switch (f.Approved) {
                    case "N":
                        html = `<i style="color: red;" class="fas fa-ban"></i>${f.ApprovedName} ${f.SignDateTime}`;
                        break;
                    case "Y":
                        html = `<i style="color: green;" class="fad fa-badge-check"></i >${f.ApprovedName} ${f.SignDateTime}`;
                        break;
                    case "B":
                        html = `<i style="color: fuchsia;" class="fa fa-undo"></i >${f.ApprovedName} ${f.SignDateTime}`;
                        break;
                }
            }

            return html;
        }

        function SetUserInfo@(itemName)(d, f) {
            let html = "";

            html += `${f.SignJobName}: ${SetGenderIcon@(itemName)(f.FlowerGender)}${f.FlowerName}(${f.FlowerNo}) ${SetSignIcon@(itemName)(f)}`;

            return html;
        }

        function SetSignInfo@(itemName)(item) {
            if (!!item.SignFlow) {
                let innerHtml = "";
                $.each(JSON.parse(item.SignFlow).data, function (i, f) {
                    innerHtml += `<div class="form-group row">
                                    <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtSignFlow@(itemName)">${f.SignJobName}</label>
                                    <div class="col-12 col-md-9 col-lg-9">
                                        <textarea class="form-control sign-content" id="txtSignDesc@(itemName)-${f.RfiSfId}" name="txtSignDesc@(itemName)" onkeyup="auto_grow(this)" value="${f.SignDesc}" readonly
                                            data-msg-maxlength="必須少於 2048 個字元" maxlength="2048" value="f.SignDesc">${f.SignDesc}</textarea>
                                        <div class="row" style="color:blue">
                                            <span class="col-4 ellipsis">
                                                ${f.FileId ? `<a class="mr-1" href="/RequestForInformation/GetRfiSignFlowFile?fileId=${f.FileId}&RfiSfId=${item.RfiSfId}" target="_blank"><i class="fas fa-download"></i></a><span>${f.FileName}${f.FileExtension}</span></a>` : ``}
                                            </span>
                                            <span class="col-8 text-right" id="txtSignFlowInfo@(itemName)-${f.RfiSfId}" name="txtSignFlowInfo@(itemName)">${SetUserInfo@(itemName)(item, f)}</span>
                                        </div>
                                    </div>
                                </div>`;
                });

                $("#SignFlowInfo@(itemName)").html(innerHtml);
            }
        }

        $(document).ready(function () {
            let currentDate = new Date();
            Suites.DatePicker("txtProdDate@(itemName)", currentDate);
            Suites.DatePicker("txtProdLifeCycleStart@(itemName)", currentDate);
            Suites.DatePicker("txtProdLifeCycleEnd@(itemName)", currentDate);
        });

        function Expand@(itemName)() {
            if (_rfi?.RfiId) {
                $(".advanced-block").slideDown("slow");

                //權限資料
                pageAuthoritys@(itemName) = JSON.parse($(`#pageAuthority`).val());
                Return@(itemName)();

            } else {
                alert("請先儲存RFI單頭", "alert");
            }
        }

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;
            let targetUrl = "@Url.Action("GetRfiDetail", "RequestForInformation")";
            let data = DataAccess.Get(targetUrl,
                {
                    PageIndex: (objPage.pageIndex + 1),
                    PageSize: objPage.pageSize,
                    RfiId: _rfi?.RfiId
                }, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);
                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr>
                                        <td><span class="stack-title">#</span>${_row}</td>
                                        <td><span class="stack-title">流水號</span><span id="RfiSequence@(itemName)-${item.RfiDetailId}">${item.RfiSequence}</span></td>
                                        <td><span class="stack-title">評估版次</span>${item.Edition}</td>
                                        <td><span class="stack-title">關卡狀態</span>${SetStatusInfo(item, _rfi)}</td>
                                        <td class="text-center active-content">${SetFlowFunction(item, _rfi)}</td>
                                        <td style="padding: 0;">
                                          <table class="table table-bordered table-sm mb-0 table-non-rwd table-striped-custom table-row-detail">
                                            <tbody>
                                              ${RenderRfiDetail(item)}
                                            </tbody>
                                          </table>
                                          <table id="FlowsInfo@(itemName)-${item.RfiDetailId}" class="table table-bordered table-sm mb-0 table-non-rwd table-striped-custom table-row-detail" style="display: none;">
                                              ${FlowsData(item.SignFlow)}
                                          </table>
                                        </td>
                                      </tr>`;
                    });

                    $(`.add-hide@(itemName)`).hide();
                }
                else {
                    $(`.add-hide@(itemName)`).show();
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

            $("#cboCurrency@(itemName)").val(LocalCurrency);

            @*Datas@(itemName).GetExchangeRate();*@
            Elements@(itemName).Initialize@(itemName)();

            //控制動作滾輪高度
            $(".active-content .dropdown-toggle").off("click").on("click", function () {
                let rfidetailId = $(this).data("rfidetail-id");

                if ($(`.dropdown-menu[data-rfidetail-id='${rfidetailId}']`).hasClass("show")) {
                    $(".dropdown-menu").removeClass("show");
                } else {
                    $(".dropdown-menu").removeClass("show");

                    $(`.dropdown-menu[data-rfidetail-id='${rfidetailId}']`).addClass("show");
                    $(`.dropdown-menu[data-rfidetail-id='${rfidetailId}']`).css({
                        top: `${$(this).position().top + $(this).height() + 5}px`,
                        left: `${$(this).position().left - $(this).width() + 38}px`
                    });
                }
            });

            $("body").off("click").on("click", function (e) {
                if ($(".dropdown-menu").hasClass("show")) {
                    if (!$(e.target).hasClass("dropdown-toggle")
                        && !$(e.target).parents().hasClass("dropdown-toggle")) {
                        $(".dropdown-menu").removeClass("show");
                    }
                }
            });
        }

        function RenderRfiDetail(item) {
            let innerHtml = "";

            innerHtml += `<tr>
                            <td class="ellipsis" data-toggle="tooltip" title="${item.ProdDate}" style="width: 100px; max-width: 100px;">${item.ProdDate}</td>
                            <td class="ellipsis" data-toggle="tooltip" title="${item.ProdLifeCycleStart}" style="width: 100px; max-width: 100px;">${item.ProdLifeCycleStart}</td>
                            <td class="ellipsis" data-toggle="tooltip" title="${item.ProdLifeCycleEnd}" style="width: 100px; max-width: 100px;">${item.ProdLifeCycleEnd}</td>
                            <td class="ellipsis" data-toggle="tooltip" title="${item.TargetUnitPrice}" style="width: 100px; max-width: 100px;">${item.TargetUnitPrice.toLocaleString(`en`)}</td>
                            <td class="ellipsis" data-toggle="tooltip" title="${item.LifeCycleQty}" style="width: 100px; max-width: 100px;">${item.LifeCycleQty.toLocaleString(`en`)}</td>
                            <td class="ellipsis" data-toggle="tooltip" title="${item.ExchangeRate}" style="width: 100px; max-width: 100px;">${item.ExchangeRate}</td>
                            <td class="ellipsis" data-toggle="tooltip" title="${item.Currency}" style="width: 100px; max-width: 100px;">${item.Currency}</td>
                            <td class="ellipsis" data-toggle="tooltip" title="${item.Revenue}" style="width: 125px; max-width: 125px;">${item.Revenue.toLocaleString(`en`)}</td>
                            <td class="ellipsis" data-toggle="tooltip" title="${item.SalesName}" style="width: 125px; max-width: 125px;">
                                ${SetGenderIcon@(itemName)(item.SalesGender)}${item.SalesNo} ${item.SalesName}
                            </td>
                            <td class="ellipsis" data-toggle="tooltip" title="${item.RfiDetailStatusName}" style="width: 80px; max-width: 80px;">${item.RfiDetailStatusName}</td>
                        </tr>`;

            return innerHtml;
        }

        function SetFlowFunction(item, rfi) {
            let innerHtml = "";
            let finalStatus = ["5", "6", "7"];
            let detailStatus = item.RfiDetailStatus;

            innerHtml = `<div class="btn-group mb-4 show" style="margin-bottom: 0 !important; position: static;">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-rfidetail-id="${item.RfiDetailId}" style="padding-top: 0; padding-bottom: 0;">操作</button>
                            <div class="dropdown-menu btn-text-left-block" data-rfidetail-id="${item.RfiDetailId}" style="overflow-y: auto; z-index: 999; max-height: 150px;">`;

            if (_rfi) {
                if (rfi.SortNumber == 1 && rfi.Flower == userId@(parentItem)) {
                    innerHtml += `<button type="button" class="dropdown-item btn-text-left auth-read" onclick="Edit@(itemName)(${item.RfiDetailId});" data-rfidetail-id="${item.RfiDetailId}">
                        <i class="fas fa-edit mr-1"></i>編輯</button>`;
                }
                else {
                    innerHtml += `<button type="button" class="dropdown-item btn-text-left auth-read" onclick="Read@(itemName)(${item.RfiDetailId});" data-rfidetail-id="${item.RfiDetailId}">
                        <i class="fas fa-eye mr-1"></i>查看</button>`;
                }
            }
            else {
                if (rfi.SortNumber == 1 && rfi.Flower == userId@(parentItem)) {
                    innerHtml += `<button type="button" class="dropdown-item btn-text-left auth-read" onclick="EditDetail(${rfi.RfiId},${item.RfiDetailId});" data-rfidetail-id="${item.RfiDetailId}">
                        <i class="fas fa-edit mr-1"></i>編輯</button>`;
                }
                else {
                    innerHtml += `<button type="button" class="dropdown-item btn-text-left auth-read" onclick="ReadDetail(${rfi.RfiId},${item.RfiDetailId});" data-rfidetail-id="${item.RfiDetailId}">
                        <i class="fas fa-eye mr-1"></i>查看</button>`;
                }
            }
            if (!finalStatus.includes(detailStatus) && rfi.Flower == userId@(parentItem)) {
                if (detailStatus == 1) {
                    if (rfi.SortNumber == 1 && item.ProductSpecExists) {
                        innerHtml += `<button type="button" name="rfiFlow@(itemName)" class="dropdown-item btn-text-left auth-status-switch" onclick="Elements@(itemName).SignFlow(this);"
                            data-rfidetail-id="${item.RfiDetailId}" data-rfisf-id="${rfi.RfiSfId}" data-sort-number="${rfi.SortNumber}" data-signjob-name="${rfi.FlowStatusName}">
                            <i class="fas fa-pencil-alt mr-1"></i>單據確認</button>`;
                    }
                    if (rfi.SortNumber > 1) {
                        innerHtml += `<button type="button" name="rfiFlow@(itemName)" class="dropdown-item btn-text-left auth-status-switch" onclick="Elements@(itemName).SignFlow(this);"
                            data-rfidetail-id="${item.RfiDetailId}" data-rfisf-id="${rfi.RfiSfId}" data-sort-number="${rfi.SortNumber}" data-signjob-name="${rfi.FlowStatusName}">
                            <i class="fas fa-pencil-alt mr-1"></i>審批</button>`;
                    }
                }
                if (detailStatus == 8 && rfi.SortNumber == 1) {
                    innerHtml += `<button type="button" name="rfiFlow@(itemName)" class="dropdown-item btn-text-left auth-status-switch" onclick="Elements@(itemName).SignFlow(this);"
                        data-rfidetail-id="${item.RfiDetailId}" data-rfisf-id="${rfi.RfiSfId}" data-sort-number="${rfi.SortNumber}" data-signjob-name="${rfi.FlowStatusName}">
                        <i class="fas fa-pencil-alt mr-1"></i>重新確認</button>`;
                }
            }
            if (item.SignFlowExists) {
                innerHtml += `<button type="button" class="dropdown-item btn-text-left auth-read" onclick="Elements@(parentItem).ShowFlows(this);"
                    data-rfidetail-status=0 data-rfidetail-id="${item.RfiDetailId}" data-rfi-id="${rfi.RfiId}">
                    <i class="fas fa-list-ol"></i>查看審批歷程</button>`;
            }
            innerHtml += `</div></div>`;
            return innerHtml;
        }

        let prodSpec@(itemName) = [];
        let prodSpecDetail@(itemName) = [];
        let prodSpecJson = JSON.parse('{ "data" : []}');
        let prodSpecDetailsJson = JSON.parse('{ "data" : []}');

        function GetRfiDetail(RfiDetailId) {
            $("#RfiDetailId").val(RfiDetailId ? RfiDetailId : 0);

            ComboBoxs.Default("#cboCurrency@(itemName)", "@Url.Action("GetType", "BasicInformation")", { TypeSchema: "ExchangeRate.Currency" }, "", "NA", "", "TypeName", "TypeNo");

            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");
            $(`#blockSuperSales@(itemName), #blockManagerPlan@(itemName), #blockCustomer@(itemName)`).hide();

            prodSpec@(itemName) = [];
            prodSpecDetail@(itemName) = [];

            //let defCurrency = `NT$`;
            //$("#cboCurrency@(itemName)").val(defCurrency);
            $(".currency-fc").hide();

            if (RfiDetailId > 0) {
                let targetUrl = "@Url.Action("GetRfiDetail", "RequestForInformation")";
                let data = DataAccess.Get(targetUrl, { RfiDetailId } , false);

                //#region 取得明細資料
                if (data.status == "success" && data.result.length > 0) {
                    let innerHtml = "";
                    $.each(data.result, function (i, item) {
                        @*Datas@(itemName).GetExchangeRateDefault@(itemName)(item.Currency);*@
                        Datas@(itemName).GetExchangeRate(item.Currency);
                        $("#txtProdDate@(itemName)").val(item.ProdDate);
                        $("#txtProdLifeCycleStart@(itemName)").val(item.ProdLifeCycleStart);
                        $("#txtProdLifeCycleEnd@(itemName)").val(item.ProdLifeCycleEnd);
                        $("#cboCurrency@(itemName)").val(item.Currency);
                        $("#txtExchangeRate@(itemName)").val(item.ExchangeRate);
                        $("#txtTargetUnitPrice@(itemName)").val(item.TargetUnitPrice);
                        $("#txtLifeCycleQty@(itemName)").val(item.LifeCycleQty);
                        $("#txtRevenueFC@(itemName)").val(item.RevenueFC.toLocaleString(`en`));
                        $("#txtRevenue@(itemName)").val(item.Revenue.toLocaleString(`en`));
                        $("#txtAdditionalFile@(itemName)").val(!!item.AdditionalFile ? item.AdditionalFile : "");
                        $("#txtRfiDetailStatus@(itemName)").val(item.RfiDetailStatusName); //審批狀態

                        SetSignInfo@(itemName)(item); //設定審批資訊顯示

                        prodSpec@(itemName) = JSON.parse(item.ProductSpec).data.map(m => {
                            let x = {
                                TempProdSpecId: m.ProdSpecId,
                                SpecName: m.SpecName,
                                SpecEName: m.SpecEName,
                                SortNumber: m.SortNumber,
                                ControlType: m.ControlType,
                                Required: m.Required
                            };
                            return x;
                        });

                        prodSpecDetail@(itemName) = JSON.parse(item.ProductSpec).data.filter(f => f.ProductSpecDetail).map(x => x.ProductSpecDetail.data.map(m => {
                            return {
                                TempProdSpecId: m.ProdSpecId,
                                TempPsDetailId: m.PsDetailId,
                                FeatureName: m.FeatureName,
                                SortNumber: m.SortNumber,
                                Description: m.Description,
                                DataType: m.DataType,
                                Status: m.Status
                            }
                        })).reduce((x, y) => { return x.concat(y) });

                        prodSpec@(itemName).forEach(item => {
                            innerHtml += `<div class="col-12 mb-3">
                                            <div class="iCard" name="ProdSpec@(itemName)-${item.SpecName}" data-controltype=${item.ControlType}>
                                                <div class="iCard-header">
                                                    <div class="row">
                                                        <div class="col-8">${item.SpecName} ${!!item.SpecEName > 0 ? `(${item.SpecEName})` : ``}</div>
                                                        <div class="col-4 text-right">${item.Required ? `必填` : ``}</div>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    ${SetProdSpecDetail@(itemName)(item, JSON.stringify(prodSpecDetail@(itemName).filter(f => f.TempProdSpecId == item.TempProdSpecId)))}
                                                </div>
                                            </div>
                                        </div>`;
                        });

                        $(`${objForm@(itemName)} #ProdSpecBox@(itemName)`).html(innerHtml);

                        $.each(JSON.parse(item.ProductSpec).data, function (i, prodSpec) {
                            $(`div[name="ProdSpec@(itemName)-${prodSpec.SpecName}"]`).append(`<input type="hidden" id="ProdSpecId-${prodSpec.SpecName}" value="${prodSpec.ProdSpecId}" />`);
                            let html = `<div class="card-footer" style="color:#f34;">`;

                            //let controlType = $(`div[name="ProdSpec@(itemName)-${prodSpec.SpecName}"]`).data('controltype'); //樣板的 Controltype

                            if (!!prodSpec.ProductSpecDetail) {
                                $.each(prodSpec.ProductSpecDetail.data, function (i, prodSpecDetail) {
                                    switch (prodSpec.ControlType) {
                                        case 'C':
                                        case 'R':
                                            if (prodSpecDetail.Status == `A`) {
                                                $(`div[name="ProdSpec@(itemName)-${prodSpec.SpecName}"] #txtFeatureName@(itemName)-${prodSpecDetail.PsDetailId}`).attr('checked', true);
                                            }
                                            @*html += `<label class="control control--checkbox">
                                                        ${i + 1}. ${prodSpecDetail.FeatureName}
                                                        <input type="checkbox" id="txtFeatureName@(itemName)-${prodSpecDetail.PsDetailId}" name="txtFeatureName@(itemName)-${prodSpec.ProdSpecId}" value="${prodSpecDetail.FeatureName}"
                                                            data-prodspec-id="${prodSpec.ProdSpecId}" data-psdetail-id="${prodSpecDetail.PsDetailId}" data-psdetail-name="${prodSpecDetail.FeatureName}"
                                                            ${prodSpecDetail.Required ? `data-msg-required="請選擇${prodSpecDetail.FeatureName}" data-rule-required="true"` : ``} ${prodSpecDetail.Status == `A` ? `checked` : ``} />
                                                        <span class="control__indicator"></span>
                                                    </label>`;
                                            if (prodSpec.ControlType == `O`) {
                                                html += `<input type="text" id="txtOther@(itemName)-${prodSpecDetail.PsDetailId}" name="txtOther@(itemName)-${prodSpec.ProdSpecId}" class="txtOther"
                                                            data-psdetail-id="${prodSpecDetail.PsDetailId}" data-psdetail-name="${prodSpecDetail.FeatureName}" maxlength="50" />`
                                            }*@
                                            break;
                                        case 'D':
                                            if (prodSpecDetail.Status == `A`) {
                                                $(`div[name="ProdSpec@(itemName)-${prodSpec.SpecName}"] select[name="txtFeatureName@(itemName)-${prodSpec.ProdSpecId}"]`).val(prodSpecDetail.FeatureName);
                                            }
                                            break;
                                        case 'T':
                                        case 'A':
                                            if (prodSpecDetail.Status == `A`) {
                                                $(`div[name="ProdSpec@(itemName)-${prodSpec.SpecName}"] #txtFeatureName@(itemName)-${prodSpecDetail.PsDetailId}`).val(prodSpecDetail.Description);
                                            }
                                            break;
                                    }
                                    if (prodSpecDetail.DataType == `O`) {
                                        @*$(`div[name="ProdSpec@(itemName)-${prodSpec.SpecName}"] input[data-psdetail-name="其他"]`).attr('checked', true);*@
                                        $(`div[name="ProdSpec@(itemName)-${prodSpec.SpecName}"] input[type="text"][data-psdetail-name="其他"]`).val(prodSpecDetail.Description);
                                    }
                                });
                            }

                            html += `</div>`
                            $(`div[name="ProdSpec@(itemName)-${prodSpec.SpecName}"]`).append(html);
                        });
                    });

                    $(`#modalQuery@(itemName), #listData@(itemName), #editData@(itemName), #modalSignInfo@(parentItem)`).attr({ 'onCopy': 'return false', 'onCut': 'return false' });
                }
                //#endregion

                Elements@(itemName).FileAutoUpload();
            }
            else {
                //#region 取得樣板資料
                let innerHtml = "";
                let targetUrl = "@Url.Action("GetTemplateProdSpec", "RequestForInformation")";
                let data = DataAccess.Get(targetUrl,
                    {
                        ProTypeGroupId: $("#ProTypeGroupId").val(),
                        ProductUseId: $("#ProductUseId").val(),
                        Status: "A"
                    }, false);

                if (data.status == "success") {
                    if (data.result.length > 0) {
                        prodSpec@(itemName) = data.result.map(m => {
                            let x = {
                                TempProdSpecId: m.TempProdSpecId,
                                SpecName: m.SpecName,
                                SpecEName: m.SpecEName,
                                SortNumber: m.SortNumber,
                                ControlType: m.ControlType,
                                Required: m.Required
                            };
                            return x;
                        });

                        let tempProdSpecDetail = data.result.filter(f => !!f.TempProdSpecDetail);
                        if (tempProdSpecDetail.length > 0) {
                            prodSpecDetail@(itemName) = tempProdSpecDetail.map(x => JSON.parse(x.TempProdSpecDetail)).reduce((x, y) => { return x.concat(y) });
                        }

                        $.each(data.result, function (i, item) {
                            innerHtml += `<div class="col-12 mb-3">
                                            <div class="iCard" name="ProdSpec@(itemName)-${item.SpecName}" data-controltype=${item.ControlType}>
                                                <div class="iCard-header">
                                                    <div class="row">
                                                        <div class="col-8">${item.SpecName} ${!!item.SpecEName > 0 ? `(${item.SpecEName})` : ``}</div>
                                                        <div class="col-4 text-right">${item.Required ? `必填` : ``}</div>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    ${SetProdSpecDetail@(itemName)(item, item.TempProdSpecDetail)}
                                                </div>
                                            </div>
                                        </div>`;
                        });
                    }

                    $(`${objForm@(itemName)} #ProdSpecBox@(itemName)`).html(innerHtml);
                }
                //#endregion

                Elements@(itemName).FileUpload();

                @*Datas@(itemName).GetExchangeRateDefault@(itemName)(defCurrency);*@
                @*$("#cboCurrency@(itemName)").val(defCurrency);*@
            }

            $.each(prodSpecDetail@(itemName), function (i, item) {
                $(`select[name="txtFeatureName@(itemName)-${item.TempPsDetailId}"]`).select2({
                    dropdownAutoWidth: false,
                    //width: "100%"
                });
            });
        }

        function SetProdSpecDetail@(itemName)(prodSpec, source) {
            let html = "";
            if (source) {
                let jsonData = JSON.parse(source);
                let tempProdSpecId = prodSpec.TempProdSpecId;
                let controlType = prodSpec.ControlType;
                let required = prodSpec.Required;
                let specName = prodSpec.SpecName;

                let htmlSelect = `<select class="form-control" name="txtFeatureName@(itemName)-${tempProdSpecId}"
                                    data-prodspec-id="${tempProdSpecId}" ${required ? `data-msg-required="請選擇${specName}" data-rule-required="true"` : ``}>
                                    ${!required ? `<option value="">-請選擇-</option>` : ``}`;

                $.each(jsonData, function (i, item) {
                    let tempPsDetailId = item.TempPsDetailId;

                    switch (controlType) {
                        case 'C':
                            html += `<label class="control control--checkbox">
                                        ${i + 1}. ${item.FeatureName}
                                        <input type="checkbox" id="txtFeatureName@(itemName)-${tempPsDetailId}" name="txtFeatureName@(itemName)-${tempProdSpecId}" value="${item.FeatureName}"
                                            data-prodspec-id="${tempProdSpecId}" data-psdetail-id="${tempPsDetailId}" data-psdetail-name="${item.FeatureName}"
                                            ${required ? `data-msg-required="請選擇${item.FeatureName}" data-rule-required="true"` : ``} />
                                        <span class="control__indicator"></span>
                                    </label>`;
                            break;
                        case 'R':
                            html += `<label class="control control--radio">
                                        ${i + 1}. ${item.FeatureName}
                                        <input type="radio" id="txtFeatureName@(itemName)-${tempPsDetailId}" name="txtFeatureName@(itemName)-${tempProdSpecId}" value="${item.FeatureName}"
                                            data-prodspec-id="${tempProdSpecId}" data-psdetail-id="${tempPsDetailId}" data-psdetail-name="${item.FeatureName}"
                                            ${required ? `data-msg-required="請選擇${item.FeatureName}" data-rule-required="true"` : ``} />
                                        <span class="control__indicator"></span>
                                    </label>`;
                            break;
                        case 'D':
                            htmlSelect += `<option id="txtFeatureName@(itemName)-${tempPsDetailId}"
                                            data-psdetail-id="${tempPsDetailId}" data-psdetail-name="${item.FeatureName}" value="${item.FeatureName}">${item.FeatureName}</option>`;
                            break;
                        case 'T':
                            html += `<div class="form-group row">
                                        <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtFeatureName@(itemName)-${tempProdSpecId}">${item.FeatureName}</label>
                                        <input type="hidden" id="hidFeatureName@(itemName)-${tempPsDetailId}" value="${item.FeatureName}" />
                                        <div class="col-12 col-md-9 col-lg-9">
                                            <input type="text" class="form-control" id="txtFeatureName@(itemName)-${tempPsDetailId}" name="txtFeatureName@(itemName)-${tempProdSpecId}" placeholder="請填寫${item.FeatureName}"
                                                data-prodspec-id="${tempProdSpecId}" data-psdetail-id="${tempPsDetailId}" data-psdetail-name="${item.FeatureName}" maxlength="2048"
                                                ${required ? `data-msg-required="請填寫${item.FeatureName}" data-rule-required="true"` : ``}>
                                        </div>
                                    </div>`;
                            break;
                        case 'A':
                            html += `<div class="form-group row">
                                        <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtFeatureName@(itemName)-${tempProdSpecId}">${item.FeatureName}</label>
                                        <input type="hidden" id="hidFeatureName@(itemName)-${tempPsDetailId}" value="${item.FeatureName}" />
                                        <div class="col-12 col-md-9 col-lg-9">
                                            <textarea type="text" class="form-control sign-content" id="txtFeatureName@(itemName)-${tempPsDetailId}" name="txtFeatureName@(itemName)-${tempProdSpecId}" placeholder="請填寫${item.FeatureName}"
                                                onkeyup="auto_grow(this)"
                                                data-prodspec-id="${tempProdSpecId}" data-psdetail-id="${tempPsDetailId}" data-psdetail-name="${item.FeatureName}" maxlength="2048"
                                                ${required ? `data-msg-required="請填寫${item.FeatureName}" data-rule-required="true"` : ``}></textarea>
                                        </div>
                                    </div>`;
                            break;
                    }

                    if (item.DataType == `O`) {
                        html += `<input type="text" id="txtOther@(itemName)-${tempPsDetailId}" name="txtOther@(itemName)" class="txtOther"
                                    data-psdetail-id="${tempPsDetailId}" data-psdetail-name="${item.FeatureName}" maxlength="50" />`
                    }
                });

                if (controlType == 'D') {
                    htmlSelect += `</select>`;
                    html = htmlSelect;
                }
            }
            return html;
        }

        function ElementControl@(itemName)() {
            this.Initialize@(itemName) = function () {
                $("select[name='cboCurrency@(itemName)']").off('change').on('change', function () {
                    Datas@(itemName).GetExchangeRate(this);
                    Elements@(itemName).CalculateTotal();
                });

                $("input[name='txtExchangeRate@(itemName)'], input[name='txtTargetUnitPrice@(itemName)'], input[name='txtLifeCycleQty@(itemName)']").off('change').on('change', function () {
                    Elements@(itemName).CalculateTotal();
                });

                $("select[name='cboCurrency@(itemName)'], input[name='txtTargetUnitPrice@(itemName)'], input[name='txtLifeCycleQty@(itemName)']").off('keyup').on('keyup', function() {
                    ValidateFloatRFI(this);
                });

                $('input[name="txtProdLifeCycleEnd@(itemName)"]').off('change').on('change', function () {
                    if (this.value < $('input[name="txtProdLifeCycleStart@(itemName)"]').val()) {
                        this.value = '';
                        alert('迄日不得小於起日', "alert", 0);
                    }
                });
            }

            @*this.ShowFlows = function (e) {
                let rfiId = parseInt(e.dataset.rfiId);
                let rfidetailId = parseInt(e.dataset.rfidetailId);
                let btnStatus = parseInt(e.dataset.rfidetailStatus);

                $(`#FlowsInfo@(itemName)-${rfidetailId}`).toggle(500);

                let btnHtml = btnStatus == 1 ? '<i class="fas fa-list-ol"></i>查看審批歷程' : '<i class="fas fa-list-ol"></i>關閉審批歷程';
                $(e).html(btnHtml);
                e.dataset.rfidetailStatus = 1 - btnStatus;
            }*@

            //審批pop
            this.SignFlow = function (e) {
                PopDetailSign@(parentItem)(e.dataset);
                Datas@(parentItem).GetRfiSignFlow();
            }

            this.CalculateTotal = function () {
                let price = parseFloat($(`#txtTargetUnitPrice@(itemName)`).val().replace(',', '') || 0);
                let qty = parseFloat($(`#txtLifeCycleQty@(itemName)`).val().replace(',', '') || 0);
                let exchangeRate = parseFloat($(`#txtExchangeRate@(itemName)`).val() || 1);

                $(`#txtRevenue@(itemName)`).val(roundDecimalRFI(roundDecimalRFI(price, UunitRound) * qty * exchangeRate, TotalRound).toLocaleString(`en`));
                $(`#txtRevenueFC@(itemName)`).val(roundDecimalRFI(roundDecimalRFI(price, UnitRoundFC) * qty, TotalRoundFC).toLocaleString(`en`));
            };

            this.FileUpload = function () {
                //#region 檔案上傳套件
                let uploadConfig = {
                    fileSelector: "#fileAdditionalFile@(itemName)",
                    targetSelector: "#txtAdditionalFile@(itemName)",
                    required: false,
                    uploadPath: "/RequestForInformation/RfiDetail",
                    maxFileCount: 1,
                    defaultFile: $("#txtAdditionalFile@(itemName)").val()
                };
                Suites.FileUpload(uploadConfig);
                //#endregion
            }

            this.FileAutoUpload = function () {
                //#region 檔案上傳套件
                let uploadConfig = {
                    fileSelector: "#fileAdditionalFile@(itemName)",
                    targetSelector: "#txtAdditionalFile@(itemName)",
                    required: false,
                    uploadPath: "/RequestForInformation/RfiDetail",
                    maxFileCount: 1,
                    defaultFile: $("#txtAdditionalFile@(itemName)").val()
                };

                let uploadSetting = {
                    theme: "fas",
                    language: "zh-TW",
                    showCaption: true,
                    showPreview: true,
                    showRemove: false,
                    showUpload: false,
                    showCancel: false,
                    uploadUrl: "/Web/Upload",
                    uploadAsync: true,
                    minFileCount: (uploadConfig.required ? 1 : 0),
                    maxFileCount: uploadConfig.maxFileCount,
                    validateInitialCount: true,
                    overwriteInitial: false,
                    initialPreviewAsData: true,
                    browseOnZoneClick: true,
                    uploadExtraData: {
                        savePath: uploadConfig.uploadPath,
                        isPreview: false
                    },
                    previewFileIconSettings: {
                        doc: '<i class="fas fa-file-word" style="color: #0078d7;"></i>',
                        docx: '<i class="fas fa-file-word" style="color: #0078d7;"></i>',
                        xls: '<i class="fas fa-file-excel" style="color: #1d6f42;"></i>',
                        xlsx: '<i class="fas fa-file-excel" style="color: #1d6f42;"></i>',
                        csv: '<i class="fas fa-file-csv" style="color: #1d6f42;"></i>',
                        ppt: '<i class="fas fa-file-powerpoint" style="color: #d04423"></i>',
                        pptx: '<i class="fas fa-file-powerpoint" style="color: #d04423"></i>'
                    }
                }

                if (uploadConfig.defaultFile) {
                    let previewData = FileAccess.Preview(uploadConfig.defaultFile);
                    if (!!previewData) {
                        uploadSetting.initialPreview = previewData.initialPreview;
                        uploadSetting.initialPreviewConfig = previewData.initialPreviewConfig;
                    }
                }

                $(uploadConfig.fileSelector).fileinput('destroy');
                $(uploadConfig.fileSelector).fileinput(uploadSetting)
                    .off('filebatchselected')
                    .on('filebatchselected', function (event, files) {
                        $(uploadConfig.fileSelector).fileinput("upload");
                    })
                    .off('fileuploaded')
                    .on('fileuploaded', function (event, previewId, index, fileId) {
                        let uploadPath = previewId.response.initialPreviewConfig[0]["key"];

                        tempFile = [];
                        if ($(uploadConfig.targetSelector).val()) tempFile = $(uploadConfig.targetSelector).val().split(',');
                        tempFile.push(uploadPath);
                        $(uploadConfig.targetSelector).val(tempFile.join(",")).trigger('change');
                        $(uploadConfig.fileSelector).fileinput('clear');

                        let targetUrl = '@Url.Action("UpdateRfiDetailAdditionalFile", "RequestForInformation")';
                        let result = DataAccess.Add(targetUrl,
                            {
                                RfiDetailId: $("#RfiDetailId").val(),
                                FileId: uploadPath
                            }, false, false);
                        if (result) {
                            Edit@(itemName)($("#RfiDetailId").val());
                        }
                    });
                //#endregion
            }
        }

        function DataControl@(itemName)() {
            @*this.GetExchangeRateDefault = function (Currency) {
                let data = DataAccess.Get('@Url.Action("GetExchangeRateERP", "RequestForInformation")', { Currency }, false);
                if (data.status == "success") {
                    if (data.result) {
                        UunitRound = data.result.UnitRound;
                        TotalRound = data.result.TotalRound;
                        LocalCurrency = data.result.Currency;
                        $("#txtExchangeRate@(itemName)").val(data.result.ExchangeRate);
                    }
                    else {
                        UunitRound = -1;
                        TotalRound = -1;
                    }
                }
                else {
                    alert(data.msg, "alert", 0);
                }
            }*@

            this.GetExchangeRate = function (e) {
                $(".currency-fc").hide();
                let data = DataAccess.Get('@Url.Action("GetExchangeRateERP", "RequestForInformation")', { Currency: e.value }, false);
                if (data.status == "success") {
                    LocalCurrency = data.result.find(f => f.IsLocal)?.Currency;
                    $.each(data.result, function (i, item) {
                        if (item.IsLocal) {
                            UunitRound = parseInt(item.UnitRound);
                            TotalRound = parseInt(item.TotalRound);
                        }
                        else {
                            UnitRoundFC = parseInt(item.UnitRound);
                            TotalRoundFC = parseInt(item.TotalRound);
                            $("#txtCurrencyNameFC@(itemName)").text(item.Currency);
                        }
                    });

                    $("#txtExchangeRate@(itemName)").val(data.result.find(f => f.Currency == e.value)?.ExchangeRate);
                    e.value != LocalCurrency ? $(".currency-fc").show() : $(".currency-fc").hide();
                }
                else {
                    alert(data.msg, "alert", 0);
                }
            }
        }

        function Save@(itemName) () {
            swal.fire({
                titleText: "確認是否儲存此市場評估單?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "question",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#87adbd',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    SaveConfirm@(itemName)();
                }
            });
        }

        function SaveConfirm@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let RfiDetailId = parseInt($("#RfiDetailId").val());

                prodSpecJson = JSON.parse('{ "data" : []}');
                prodSpecDetailsJson = JSON.parse('{ "data" : []}');
                prodSpecJson.data = prodSpec@(itemName);

                prodSpec@(itemName).forEach(f => $.each($(`#ProdSpecBox@(itemName) [name="txtFeatureName@(itemName)-${f.TempProdSpecId}"]`), function (i, item) {
                    let prodSpecId = $(this).data(`prodspec-id`);

                    let isGet = `S`;
                    switch (this.type) {
                        case 'radio':
                        case 'checkbox':
                            isGet = this.checked ? `A` : `S`;
                            GetFeatureValue@(itemName)(this, isGet, prodSpecId, $(this).data(`psdetail-id`));
                            break;
                        case 'select-one':
                            //if (!!this.options[this.selectedIndex].id) { //僅找出已選擇的
                            //    psDetailId = $(`#${this.options[this.selectedIndex].id}`).data(`psdetail-id`)
                            //    if (this.value.length > 0) isGet = `A`;
                            //}
                            $.each(this.options, function () {
                                if (!!this.value) {
                                    isGet = this.selected ? `A` : `S`;
                                    GetFeatureValue@(itemName)(this, isGet, prodSpecId, $(this).data(`psdetail-id`));
                                }
                            });
                            break;
                        case 'text':
                        case 'textarea':
                            isGet = !!this.value ? `A` : `S`;
                            GetFeatureValue@(itemName)(this, isGet, prodSpecId, $(this).data(`psdetail-id`));
                            break;
                    }
                    //console.log(`${this.Type}; ${this.value};`);
                }));

                console.log(prodSpecJson);
                console.log(prodSpecDetailsJson);

                if (RfiDetailId <= 0) {
                    let targetUrl = "@Url.Action("AddRfiDetail", "RequestForInformation")";
                    let postData = {
                        RfiId: _rfi?.RfiId,
                        RfiSequence: $("#txtRfiSequence@(itemName)").val(),
                        ProdDate: $("#txtProdDate@(itemName)").val(),
                        ProdLifeCycleStart: $("#txtProdLifeCycleStart@(itemName)").val(),
                        ProdLifeCycleEnd: $("#txtProdLifeCycleEnd@(itemName)").val(),
                        TargetUnitPrice: $("#txtTargetUnitPrice@(itemName)").val(),
                        LifeCycleQty: $("#txtLifeCycleQty@(itemName)").val(),
                        Revenue: $("#txtRevenue@(itemName)").val(),
                        RevenueFC: $("#txtRevenueFC@(itemName)").val(),
                        Currency: $("#cboCurrency@(itemName)").val(),
                        ExchangeRate: $("#txtExchangeRate@(itemName)").val(),
                        AdditionalFile: $("#txtAdditionalFile@(itemName)").val(),
                        ProdSpecs: JSON.stringify(prodSpecJson),
                        ProdSpecDetails: JSON.stringify(prodSpecDetailsJson)
                    };

                    if (!(pageAuthoritys@(itemName).find(f => f.DetailCode === `SignSS`) ||
                        pageAuthoritys@(itemName).find(f => f.DetailCode === `SignMP`))) {
                        //Object.assign(postData, { "SalesId": $("#userId").val() })
                    }

                    let data = DataAccess.Add(targetUrl, postData, false, true);

                    if (data) {
                        Return@(itemName)();
                    }
                }
                else {
                    let targetUrl = "@Url.Action("UpdateRfiDetail", "RequestForInformation")";
                    let postData = {
                        RfiDetailId,
                        ProdDate: $("#txtProdDate@(itemName)").val(),
                        ProdLifeCycleStart: $("#txtProdLifeCycleStart@(itemName)").val(),
                        ProdLifeCycleEnd: $("#txtProdLifeCycleEnd@(itemName)").val(),
                        TargetUnitPrice: $("#txtTargetUnitPrice@(itemName)").val(),
                        LifeCycleQty: $("#txtLifeCycleQty@(itemName)").val(),
                        Revenue: $("#txtRevenue@(itemName)").val(),
                        RevenueFC: $("#txtRevenueFC@(itemName)").val(),
                        Currency: $("#cboCurrency@(itemName)").val(),
                        ExchangeRate: $("#txtExchangeRate@(itemName)").val(),
                        AdditionalFile: $("#txtAdditionalFile@(itemName)").val(),
                        ProdSpecs: JSON.stringify(prodSpecJson),
                        ProdSpecDetails: JSON.stringify(prodSpecDetailsJson)
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Return@(itemName)();
                    }
                }
            }
            else {
                $('html, body').animate({
                    scrollTop: $(`#${$(objForm@(itemName)).validate().errorList[0].element.id}`).offset().top - 100
                }, 500); // 1000毫秒
            }
        }

        function GetFeatureValue@(itemName)(e, status, prodSpecId, psDetailId) {
            let tempPsDetail = prodSpecDetail@(itemName).find(f => f.TempPsDetailId == psDetailId);
            let columns = ['textarea', 'text'];

            prodSpecDetailsJson.data.push({
                TempProdSpecId: prodSpecId,
                TempPsDetailId: psDetailId,
                FeatureName: columns.includes(e.type) ? $(`#hidFeatureName@(itemName)-${psDetailId}`).val().trim() : e.value.trim(),
                SortNumber: tempPsDetail.SortNumber,
                DataType: tempPsDetail.DataType,
                Description: columns.includes(e.type) ? e.value.trim() : (tempPsDetail.DataType == 'O' && status == 'A' ? $(`#txtOther@(itemName)-${psDetailId}`).val().trim() : ``),
                Status: status
            });
        }

        function Delete@(itemName)(RfiDetailId) {
            let row_name = $(`#RfiSequence@(itemName)-${RfiDetailId}`).text();

            swal.fire({
                titleText: `確認要刪除${row_name}嗎?`,
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteRfiDetail", "RequestForInformation")";
                    let result = DataAccess.Delete(targetUrl, { RfiDetailId } , false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function AssignSave@(itemName)() {
            swal.fire({
                titleText: "確認是否指派該業務負責此案件嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("UpdateRfiDetailSales", "RequestForInformation")";
                    let postData = {
                        "RfiDetailId": $("#RfiDetailId").val(),
                        "CompanyId": $("#cboCompany@(itemName)").val(),
                        "UserId": $("#cboSales@(itemName)").val()
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        CloseAssignInfo@(itemName)();
                    }
                }
            });
        }

        //列表指派人員
        function DetailAssign@(itemName)(RfiDetailId) {
            $("#RfiDetailId").val(RfiDetailId);

            ComboBoxs.Default("#cboCompany@(itemName)", "@Url.Action("GetCompany", "BasicInformation")", {}, "", "NA", "", "CompanyName", "CompanyId");

            //修改公司時，需一併代出該公司人員
            $("#cboCompany@(itemName)").off("change").on("change", function () {
                ComboBoxs.Default("#cboSales@(itemName)", "@Url.Action("GetSales", "RequestForQuotation")", { "CompanyId": $("#cboCompany@(itemName)").val() }, "", "NA", "", "SalesInfo", "UserId"); //業務人員
            });

            //修改人員時，需一併代出人員所屬公司
            $("#cboSales@(itemName)").off("change").on("change", function () {
                let companyId = -1;
                if ($("#cboSales@(itemName)").val() > 0) {
                    let targetUrl = "@Url.Action("GetUser", "BasicInformation")";
                    let postData = {
                        "UserId": $("#cboSales@(itemName)").val()
                    };

                    let data = DataAccess.Get(targetUrl, postData, false);

                    if (data.status == "success") {
                        $.each(data.result, function (i, item) {
                            companyId = item.CompanyId;
                        });
                    } else {
                        alert(data.msg, "alert", 0);
                    }
                }

                ComboBoxs.Default("#cboCompany@(itemName)", "@Url.Action("GetCompany", "BasicInformation")", {}, companyId, "NA", "", "CompanyName", "CompanyId"); //業務人員所屬公司
            });

            $("#cboCompany@(itemName), #cboSales@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });

            $("#modalAssignInfo@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });
        }

        function CloseAssignInfo@(itemName)() {
            ResetForm("#AssignInfoForm@(itemName)");
            $("#modalAssignInfo@(itemName)").modal("hide");
            Query@(itemName)();
        }

        function Edit@(itemName)(RfiDetailId) {
            GetRfiDetail(RfiDetailId);
            $(objForm@(itemName) + " input").not(".read-item").prop({ "readonly": false, "disabled": false });
            $(objForm@(itemName) + " textarea").not(".read-item").prop({ "readonly": false, "disabled": false });
            $(objForm@(itemName) + " select").not(".read-item").prop({ "readonly": false, "disabled": false });
            $(".read-hide@(itemName)").show();
        }

        function Read@(itemName)(RfiDetailId) {
            GetRfiDetail(RfiDetailId);
            $(objForm@(itemName) + " input").not(".read-item").prop({ "readonly": true, "disabled": true});
            $(objForm@(itemName) + " textarea").not(".read-item").prop({ "readonly": true, "disabled": true });
            $(objForm@(itemName) + " select").not(".read-item").prop({ "readonly": true, "disabled": true });
            $(".read-hide@(itemName)").hide();
        }

        function Return@(itemName)() {
            ResetForm@(itemName)();
            Switch("#listData@(itemName)", "#editData@(itemName)");
            $(`#modalQuery@(itemName), #listData@(itemName), #editData@(itemName), #modalSignInfo@(parentItem)`).removeAttr('onCopy', 'onCut');
            Query@(itemName)();
        }

        function ResetForm@(itemName)() {
            ResetForm(objForm@(itemName));
            $("#SignFlowInfo@(itemName)").html('');
            $(`#editData@(itemName) input, #editData@(itemName) textarea, #editData@(itemName) select`).val('');
            $(`#editData@(itemName) input[type="radio"], #editData@(itemName) input[type="checkbox"]`).removeAttr('checked');
        }
</script>
)