@using Business_Manager.Helpers
@{
    string itemName = "RfiManagement";
    string childItem = "RfiDetail";
    string itemNameText = "RFI 市場評估單管理";
    string authority = ViewBag.authority;
    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
         .toggle-on {
             top: 1px;
         }

         .table:not(.table-custom-hover) tbody:hover td[rowspan], .table:not(.table-custom-hover) tbody tr:hover td,
         .table:not(.table-custom-hover) tbody:hover th[rowspan], .table:not(.table-custom-hover) tbody tr:hover th {
             color: #000000 !important;
             background-color: #ffcccc !important;
         }

         .control-group .control {
             position: relative;
             display: inline-block;
             margin: 0 10px 15px 10px;
             padding-left: 25px;
             cursor: pointer;
             line-height: normal;
         }

         .sign-content {
             /*resize: none;
            overflow: hidden;*/
             min-height: 100px;
             max-height: 500px;
         }

         .fast-sign {
         }
    </style>
            )

<input type="hidden" id="pageAuthority" value="@authority" />
<input type="hidden" id="userId" value="-1" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">查詢條件</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>

            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtRfiNoQ@(itemName)">需求單號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtRfiNoQ@(itemName)" name="txtRfiNoQ@(itemName)" placeholder="請輸入需求單號" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtCustomerNameQ@(itemName)">客戶名稱</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtCustomerNameQ@(itemName)" name="txtCustomerNameQ@(itemName)" placeholder="請輸入客戶名稱" />
                            </div>
                        </div>
                        @*<div class="form-group row">
                                <label class="col-12 col-form-label" for="txtAssemblyNameQ@(itemName)">設計代號</label>
                                <div class="col-12">
                                    <input type="text" class="form-control" id="txtAssemblyNameQ@(itemName)" name="txtAssemblyNameQ@(itemName)" placeholder="請輸入設計代號" />
                                </div>
                            </div>*@
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboProTypeGroupQ@(itemName)">產品類別群組</label>
                            <div class="col-12">
                                <select class="form-control" id="cboProTypeGroupQ@(itemName)" name="cboProTypeGroupQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboProductUseQ@(itemName)">產品應用</label>
                            <div class="col-12">
                                <select class="form-control" id="cboProductUseQ@(itemName)" name="cboProductUseQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row auth-SignSS auth-SignMP">
                            <label class="col-12 col-form-label" for="cboSalesQ@(itemName)">負責業務</label>
                            <div class="col-12">
                                <select class="form-control" id="cboSalesQ@(itemName)" name="cboSalesQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="">分析日期區間</label>
                            <div class="input-group col-6">
                                <input type="text" class="form-control datedropper" id="txtStartDateQ@(itemName)" name="txtStartDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       placeholder="起始日" readonly />
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-outline-danger" onclick="$('#txtStartDateQ@(itemName)').val('')" title="清除">
                                        <i class="fas fa-eraser"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="input-group col-6">
                                <input type="text" class="form-control datedropper" id="txtEndDateQ@(itemName)" name="txtEndDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       placeholder="結束日" readonly />
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-outline-danger" onclick="$('#txtEndDateQ@(itemName)').val('')" title="清除">
                                        <i class="fas fa-eraser"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-8 col-form-label" for="cboRfiDetailStatusQ@(itemName)">單據狀態</label>
                            <div class="col-8 input-group">
                                <select class="form-control" id="cboRfiDetailStatusQ@(itemName)" name="cboRfiDetailStatusQ@(itemName)" multiple></select>
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-outline-danger" onclick="$('#cboRfiDetailStatusQ@(itemName)').val('').trigger('change')" title="清除">
                                        <i class="fas fa-eraser"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="col-4">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    待審批
                                    <input type="checkbox" id="cbxSignStatusQ@(itemName)" name="cbxSignStatusQ@(itemName)" value="I" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-form-label">關卡狀態</label>
                            <div class="col-12 input-group">
                                <select class="form-control" id="cboRfiDetailFlowStatusQ@(itemName)" name="cboRfiDetailFlowStatusQ@(itemName)" multiple></select>
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-outline-danger" onclick="$('#cboRfiDetailFlowStatusQ@(itemName)').val('').trigger('change')" title="清除">
                                        <i class="fas fa-eraser"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        @*<div class="form-group row">
                                <label class="col-12 col-form-label">單據</label>
                                <div class="col-lg-4 col-md-4 col-6">
                                    <label class="control control-solid control-solid-info control--checkbox">
                                        待審核
                                        <input type="checkbox" id="cbxStatusQ@(itemName)0" name="cbxStatusQ@(itemName)" value="0" />
                                        <span class="control__indicator"></span>
                                    </label>
                                </div>
                                <div class="col-lg-4 col-md-4 col-6">
                                    <label class="control control-solid control-solid-info control--checkbox">
                                        審核中
                                        <input type="checkbox" id="cbxStatusQ@(itemName)1" name="cbxStatusQ@(itemName)" value="1" />
                                        <span class="control__indicator"></span>
                                    </label>
                                </div>
                                <div class="col-lg-4 col-md-4 col-6">
                                    <label class="control control-solid control-solid-info control--checkbox">
                                        已取號
                                        <input type="checkbox" id="cbxStatusQ@(itemName)2" name="cbxStatusQ@(itemName)" value="2" />
                                        <span class="control__indicator"></span>
                                    </label>
                                </div>
                                <div class="col-lg-4 col-md-4 col-6">
                                    <label class="control control-solid control-solid-info control--checkbox">
                                        已回饋
                                        <input type="checkbox" id="cbxStatusQ@(itemName)3" name="cbxStatusQ@(itemName)" value="3" />
                                        <span class="control__indicator"></span>
                                    </label>
                                </div>
                                <div class="col-lg-4 col-md-4 col-6">
                                    <label class="control control-solid control-solid-info control--checkbox">
                                        已否決
                                        <input type="checkbox" id="cbxStatusQ@(itemName)4" name="cbxStatusQ@(itemName)" value="4" />
                                        <span class="control__indicator"></span>
                                    </label>
                                </div>
                            </div>*@

                        @*<div class="form-group row">
                                <div class="col-lg-3 col-md-3 col-6">
                                    <label class="control control-solid control-solid-info control--checkbox">
                                        新單據
                                        <input type="checkbox" id="cbxRfiDetailStatusQ@(itemName)0" name="cbxRfiDetailStatusQ@(itemName)" value="0" />
                                        <span class="control__indicator"></span>
                                    </label>
                                </div>
                                <div class="col-lg-3 col-md-3 col-6">
                                    <label class="control control-solid control-solid-info control--checkbox">
                                        業務
                                        <input type="checkbox" id="cbxRfiDetailStatusQ@(itemName)1" name="cbxRfiDetailStatusQ@(itemName)" value="1" />
                                        <span class="control__indicator"></span>
                                    </label>
                                </div>
                                <div class="col-lg-3 col-md-3 col-6">
                                    <label class="control control-solid control-solid-info control--checkbox">
                                        業務主管
                                        <input type="checkbox" id="cbxRfiDetailStatusQ@(itemName)2" name="cbxRfiDetailStatusQ@(itemName)" value="2" />
                                        <span class="control__indicator"></span>
                                    </label>
                                </div>
                                <div class="col-lg-3 col-md-3 col-6">
                                    <label class="control control-solid control-solid-info control--checkbox">
                                        總經理
                                        <input type="checkbox" id="cbxRfiDetailStatusQ@(itemName)3" name="cbxRfiDetailStatusQ@(itemName)" value="3" />
                                        <span class="control__indicator"></span>
                                    </label>
                                </div>
                                <div class="col-lg-3 col-md-3 col-6">
                                    <label class="control control-solid control-solid-info control--checkbox">
                                        完成評估
                                        <input type="checkbox" id="cbxRfiDetailStatusQ@(itemName)4" name="cbxRfiDetailStatusQ@(itemName)" value="4" />
                                        <span class="control__indicator"></span>
                                    </label>
                                </div>
                                <div class="col-lg-3 col-md-3 col-6">
                                    <label class="control control-solid control-solid-info control--checkbox">
                                        新設計申請單
                                        <input type="checkbox" id="cbxRfiDetailStatusQ@(itemName)5" name="cbxRfiDetailStatusQ@(itemName)" value="5" />
                                        <span class="control__indicator"></span>
                                    </label>
                                </div>
                                <div class="col-lg-3 col-md-3 col-6">
                                    <label class="control control-solid control-solid-info control--checkbox">
                                        回饋客戶
                                        <input type="checkbox" id="cbxRfiDetailStatusQ@(itemName)6" name="cbxRfiDetailStatusQ@(itemName)" value="6" />
                                        <span class="control__indicator"></span>
                                    </label>
                                </div>
                            </div>*@
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin:auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3 justify-content-between">
                    <div class="col-auto col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);">
                            <i class="fal fa-search"></i>搜尋
                        </a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <button type="button" class="btn file-excel auth-excel" onclick="DownloadExcel@(itemName)(-1);"><i class="fas fa-file-excel"></i>下載Excel報表</button>
                        <a class="btn btn-info auth-add" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky table-stack" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 30px;">#</th>
                                        <th scope="col" style="min-width: 100px;">需求單號</th>
                                        <th scope="col" style="min-width: 125px;">客戶名稱</th>
                                        <th scope="col" style="min-width: 100px;">產品類別</th>
                                        <th scope="col" style="min-width: 100px;">產品用途</th>
                                        <th scope="col" style="min-width: 125px;">設計代號</th>
                                        <th scope="col" style="min-width: 145px;">業務擔當</th>
                                        <th scope="col" style="min-width: 125px;">分析日期</th>
                                        <th scope="col" style="min-width: 100px;">現有機種?</th>
                                        <th scope="col" style="min-width: 100px;">單據狀態</th>
                                        <th class="text-center" scope="col" style="min-width: 75px;">操作</th>
                                        <th style="padding: 0; min-width: 1310px;">
                                            <table class="table table-bordered table-sm mb-0 table-non-rwd table-striped-custom table-row-detail">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 100px;">流水號</th>
                                                        <th style="width: 100px;">評估版次</th>
                                                        <th style="width: 100px;">快速操作</th>
                                                        <th style="width: 135px;">單據狀態</th>
                                                        <th style="width: 100px;">量產時間</th>
                                                        <th style="width: 125px;">生產生命(起)</th>
                                                        <th style="width: 125px;">生產生命(迄)</th>
                                                        <th style="width: 100px;">目標單價</th>
                                                        <th style="width: 120px;">預估數量</th>
                                                        <th style="width: 80px;">匯率</th>
                                                        <th style="width: 125px;">營收</th>
                                                        <th style="width: 145px;">業務</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container custom-form-container" autocomplete="off" id="editForm@(itemName)" novalidate="novalidate">
                    <fieldset>
                        <input type="hidden" id="RfiId" name="RfiId" value="-1" />
                        <input type="hidden" id="ProTypeGroupId" name="ProTypeGroupId" value="-1" /> <!--取得樣板用-->
                        <input type="hidden" id="ProductUseId" name="ProductUseId" value="-1" /> <!--取得樣板用-->
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtRfiNo@(itemName)">需求單號</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control read-item" id="txtRfiNo@(itemName)" name="txtRfiNo@(itemName)" placeholder="系統取號" readonly disabled />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtCustomerName@(itemName)">客戶名稱<span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtCustomerName@(itemName)" name="txtCustomerName@(itemName)" placeholder="請輸入客戶名稱"
                                       data-msg-required="請輸入客戶名稱" data-rule-required="true" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtCustomerEName@(itemName)">客戶名稱(英文)</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtCustomerEName@(itemName)" name="txtCustomerEName@(itemName)" placeholder="請輸入客戶名稱(英文)" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtAssemblyName@(itemName)">設計代號</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control read-item" id="txtAssemblyName@(itemName)" name="txtAssemblyName@(itemName)" placeholder="拋轉新設計申請單自動取號"
                                       data-msg-required="請輸入設計代號" data-rule-required="true" readonly disabled />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboProductUse@(itemName)">產品類別群組<span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboProTypeGroup@(itemName)" name="cboProTypeGroup@(itemName)" placeholder="請選擇產品類別群組"
                                        data-msg-required="請選擇產品類別群組" data-rule-required="true"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboProductUse@(itemName)">產品應用<span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboProductUse@(itemName)" name="cboProductUse@(itemName)" placeholder="請選擇產品應用"
                                        data-msg-required="請選擇產品應用" data-rule-required="true"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtSales@(itemName)">業務擔當</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtSales@(itemName)" name="txtSales@(itemName)" placeholder="建單人" readonly disabled />
                                @*<button type="button" class="btn btn-info"><i class="fas fa-user"></i>選擇業務</button>*@
                                @*<input type="hidden" id="cboSales@(itemName)" name="cboSales@(itemName)" />*@
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtAnalysisDate@(itemName)">分析日期</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control read-item" id="txtAnalysisDate@(itemName)" name="txtAnalysisDate@(itemName)" placeholder="建單後產生" readonly disabled />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cbxExistFlag@(itemName)">是否為現有機種<span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9 control-group">
                                @*<button type="button" class="btn btn-primary"><i class="fal fa-search"></i>搜尋工具</button>*@
                                @Html.ActionLink("查找鏡頭FOV", "LensFOVManagement", "ResearchAndDevelopment", null, new { @class = "btn btn-sm btn-primary", target = "_blank" })
                                <label class="control control--radio">
                                    是
                                    <input type="radio" id="cbxExistFlag@(itemName)Y" name="cbxExistFlag@(itemName)" data-msg-required="請選擇" data-rule-required="true">
                                    <span class="control__indicator"></span>
                                </label>
                                <label class="control control--radio">
                                    否
                                    <input type="radio" id="cbxExistFlag@(itemName)N" name="cbxExistFlag@(itemName)" data-msg-required="請選擇" data-rule-required="true">
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>

                        <!--客戶資料-->
                        <div class="tab" style="white-space:unset;">
                            <ul class="nav nav-tabs nav-fill mb-3" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="tabActive" data-toggle="tab" href="#tabBasic">
                                        <i class="fas fa-clipboard"></i> 客戶資料
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabBasic">
                                <div class="form-group row">
                                    <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboOrganizaitonType@(itemName)">客戶類型<span class="text-danger">*</span></label>
                                    <div class="col-12 col-md-9 col-lg-9">
                                        <div class="input-group">
                                            <select class="form-control col-md-3 col-lg-3" id="cboOrganizaitonType@(itemName)" name="cboOrganizaitonType@(itemName)" placeholder="請選擇客戶類型"
                                                    data-msg-required="請選擇客戶類型" data-rule-required="true"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row" data-org-type="1">
                                    <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboCustomer@(itemName)">客戶</label>
                                    <div class="col-12 col-md-9 col-lg-9">
                                        <div class="input-group">
                                            <select class="form-control" id="cboCustomer@(itemName)" name="cboCustomer@(itemName)"></select>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="form-group row" data-org-type="2">
                                        <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboSuppliers@(itemName)">供應商</label>
                                        <div class="col-12 col-md-9 col-lg-9">
                                            <div class="input-group">
                                                <select class="form-control" id="cboSuppliers@(itemName)" name="cboSuppliers@(itemName)"></select>
                                                <input type="hidden" class="form-control" id="txtSupplierId@(itemName)" name="txtSupplierId@(itemName)">
                                                <input type="hidden" class="form-control" id="txtSupplierName@(itemName)" name="txtSupplierName@(itemName)" readonly>
                                            </div>
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-success read-hide@(itemName)" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

<!--其他分頁-->
<div class="advanced-block">
    <div class="row">
        <div class="col-12">
            <ul class="nav flag-tabs nav-fill" role="tablist">
                <li class="flag-item">
                    <a class="flag-link active" data-toggle="tab" href="#tabRfiDetail">
                        <i class="fas fa-sort-size-down"></i> RFI單身資料
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane active" id="tabRfiDetail">
            @Html.Partial("RfiDetail")
        </div>
    </div>
</div>

<!--流程歷程POP-->
<div class="modal fade" id="modalFlowInfo@(itemName)">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">審批歷程</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-custom">
                    <table class="table table-bordered table-striped table-sticky table-stack">
                        <thead>
                            <tr>
                                <th scope="col" class="text-center" style="min-width: 100px;">審批版次</th>
                                <th scope="col" class="text-center" style="min-width: 100px;">關卡</th>
                                <th scope="col" style="min-width: 100px;">審批人</th>
                                <th scope="col" style="min-width: 100px;">審批註記</th>
                                <th scope="col" class="text-center" style="min-width: 100px;">處理時間</th>
                                <th scope="col" class="text-center" style="min-width: 100px;">到達時間</th>
                                <th scope="col" class="text-center" style="min-width: 100px;">審批時間</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i>關閉</button>
            </div>
        </div>
    </div>
</div>

<!--審批POP-->
<div class="modal fade" id="modalSignInfo@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">審批</h5>
                <button class="close" data-dismiss="modal" type="button" onclick="CloseSign@(itemName)()">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="SignInfoForm@(itemName)">
                    @Html.Hidden("signRfiSfId", -1)
                    @Html.Hidden("signRfiDetailId", -1)
                    @Html.Hidden("signStatus", -1)
                    <fieldset>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-6">
                                <div class="form-group">
                                    <label class="col-form-label" for="SignInfo@(itemName)">關卡</label>
                                    <input type="text" class="form-control" id="SignInfo@(itemName)" name="SignInfo@(itemName)" readonly disabled />
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-6">
                                <label class="col-form-label" for="cbxSignStatus@(itemName)">審批動作</label>
                                <div class="control-group">
                                    <label class="control control--radio">
                                        核准/確認
                                        <input type="radio" id="cbxSignStatus@(itemName)Y" name="cbxSignStatus@(itemName)" value="Y" data-msg-required="請選擇" data-rule-required="true">
                                        <span class="control__indicator"></span>
                                    </label>
                                    <label class="sign-actions control control--radio">
                                        不准
                                        <input type="radio" id="cbxSignStatus@(itemName)N" name="cbxSignStatus@(itemName)" value="N" data-msg-required="請選擇" data-rule-required="true">
                                        <span class="control__indicator"></span>
                                    </label>
                                    <label class="sign-actions control control--radio">
                                        退回給業務
                                        <input type="radio" id="cbxSignStatus@(itemName)B" name="cbxSignStatus@(itemName)" value="B" data-msg-required="請選擇" data-rule-required="true">
                                        <span class="control__indicator"></span>
                                    </label>
                                    <label id="close-actions" class="sign-actions control control--radio">
                                        強制結案
                                        <input type="radio" id="cbxSignStatus@(itemName)y" name="cbxSignStatus@(itemName)" value="y" data-msg-required="請選擇" data-rule-required="true">
                                        <span class="control__indicator"></span>
                                    </label>
                                    <label class="control control--radio">
                                        作廢
                                        <input type="radio" id="cbxSignStatus@(itemName)v" name="cbxSignStatus@(itemName)" value="v" data-msg-required="請選擇" data-rule-required="true">
                                        <span class="control__indicator"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div id="assign-actions">
                            <div class="form-group">
                                <label class="col-form-label" for="cboAssignDept@(itemName)">指派研發設計團隊</label>
                                <select class="form-control" id="cboAssignDept@(itemName)" name="cboAssignDept@(itemName)"></select>
                            </div>
                            <div class="form-group">
                                <text class="text-left mt-3">新設計審批流程預覽</text>
                                <table class="table-bordered" id="tblView@(itemName)">
                                    <thead>
                                        <tr>
                                            <th style="min-width: 75px;" class="text-center">關卡順序</th>
                                            <th style="min-width: 150px;">公司別</th>
                                            <th style="min-width: 150px;">人員所屬部門</th>
                                            <th style="min-width: 150px;">關卡人</th>
                                            <th style="min-width: 150px;">職稱</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="txtAdditionalFile@(itemName)">附加檔案</label>
                            <input type="file" id="fileAdditionalFile@(itemName)" name="fileAdditionalFile@(itemName)" />
                            <input type="hidden" id="txtAdditionalFile@(itemName)" name="txtAdditionalFile@(itemName)" />
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="txtSignContent@(itemName)">備註</label>
                            <textarea class="form-control sign-content" id="txtSignContent@(itemName)" name="txtSignContent@(itemName)" onkeyup="auto_grow(this)" placeholder="選填"
                                data-msg-maxlength="必須少於 2048 個字元" maxlength="2048"></textarea>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-success" onclick="SendSign@(itemName)()"><i class="far fa-share-square mr-1"></i>送出</button>
            </div>
        </div>
    </div>
</div>

<!--催簽POP-->
<div class="modal fade" id="modalUrgentSign@(itemName)">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">催簽通知</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="UrgentSignForm@(itemName)">
                    @Html.Hidden("urgentRfiSfId", -1)
                    @Html.Hidden("urgentRfiDetailId", -1)
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="UrgentSign@(itemName)">通知關卡</label>
                            <div class="col-12 col-md-9 col-lg-9"><input type="text" id="UrgentSign@(itemName)" name="UrgentSign@(itemName)" readonly disabled /></div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="UrgentFlower@(itemName)">通知對象</label>
                            <div class="col-12 col-md-9 col-lg-9"><input type="text" id="UrgentFlower@(itemName)" name="UrgentFlower@(itemName)" readonly disabled /></div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtUrgentContent@(itemName)">催簽信件內容</label>
                            <div class="col-12">
                                <textarea class="form-control sign-content" id="txtUrgentContent@(itemName)" name="txtUrgentContent@(itemName)" onkeyup="auto_grow(this)" placeholder="必填"
                                          data-msg-maxlength="必須少於 2048 個字元" maxlength="2048"></textarea>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-success" onclick="SubmitUrgentSign@(itemName)()"><i class="far fa-share-square mr-1"></i>送出</button>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        let objForm@(itemName) = "#editForm@(itemName)";
        let objPage@(itemName) = {
            pageIndex: 0,
            pageSize: 10
        };
        let userId@(itemName);
        let userName@(itemName);
        let companyId@(itemName);
        let flowAuthoritys;
        let pageMode = "";
        const flowDeptNames = "光學%部,鏡頭%部,元件%部,鏡頭%室";

        let signFlowCache = undefined;
        let proTypeGroupTypes = [];
        let productUseTypes = [];
        let signFlowJson = JSON.parse('{ "data" : []}');
        let dictCompany = [{ 2: "JMO" }, { 3: "ETG" }, { 1: "DGJMO" }];

        let _rfi = undefined;
        let rfiCache = [];

        let Elements@(itemName) = new ElementControl@(itemName)();
        let Datas@(itemName) = new DataControl@(itemName)();

        let roundDecimalRFI = function (val, precision) {
            return Math.round(Math.round(val * Math.pow(10, (precision || 0) + 1)) / 10) / Math.pow(10, (precision || 0));
        }

        let roundDownRFI = function (val, precision) {
            return Math.floor((val + Number.EPSILON) * Math.pow(10, precision)) / Math.pow(10, precision);
        }

        function ValidateFloatRFI(e) {
            if (!/^\d+[.]?\d*$/.test(e.value)) {
                $(e).val(/^\d+[.]?\d*/.exec($(e).val()));
            }
            return false;
        }

        function addCommaRFI(number) {
            let comma = /\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g;
            return number != null ? number.toString().replace(comma, ',') : '';
        }

        function auto_grow(element) {
            element.style.height = "20px";
            element.style.height = (element.scrollHeight) + "px";
        }

        function SetStatusInfo(detail, rfi) {
            let html = "";

            const SignJobName = rfi.SignJobName ? `${rfi.SignJobName}/` : "";

            switch (detail.RfiDetailStatus) {
                case "y":
                    html = `${SignJobName}<b style="color:#55aba8;">${detail.RfiDetailStatusName}</b>`;
                    break;
                case "v":
                    html = `${SignJobName}<b style="color:#777;">${detail.RfiDetailStatusName}</b>`;
                    break;
                case "7":
                case "8":
                    html = `${SignJobName}<b style="color:red;">${detail.RfiDetailStatusName}</b>`;
                    break;
                case "5":
                case "6":
                    html = `${SignJobName}<b style="color:#070;">${detail.RfiDetailStatusName}</b>`;
                    break;
                case "1":
                    html = `${SignJobName}<b style="color:#ff7300;">${detail.RfiDetailStatusName}</b>`;
                    break;
                default:
                    html = `${SignJobName}<b style="color:blue;">${detail.RfiDetailStatusName}</b>`;
                    break;
            }

            /*html = `<b style="color: ${[7, 8].includes(rfiDetailStatus) ? `red` : rfiDetailStatus == 1 ? `blue` : [5, 6].includes(rfiDetailStatus) ? `#070` : `#555`}">${item.RfiDetailStatusName}</b>`;*/

            return html;
        }

        $(document).ready(function () {
            GetUserInfo@(itemName)();

            let currentDate = new Date();
            Suites.DatePicker("txtEndDateQ@(itemName)", currentDate);
            currentDate.setDate(currentDate.getDate() - 365);
            Suites.DatePicker("txtStartDateQ@(itemName)", currentDate);

            ComboBoxs.Default("#cboProTypeGroupQ@(itemName)", "@Url.Action("GetProductTypeGroup", "ScmBasicInformation")", { "Status": "A" }, "", "NA", "", "ProTypeGroupName", "ProTypeGroupId"); //產品類別群組
            ComboBoxs.Default("#cboProductUseQ@(itemName)", "@Url.Action("GetProductUse", "RequestForInformation")", { "Status": "A" }, "", "NA", "", "ProductUseName", "ProductUseId"); //產品應用
            ComboBoxs.Default("#cboRfiDetailStatusQ@(itemName)", "@Url.Action("GetStatus", "BasicInformation")", { "StatusSchema": "RfiDetail.Status" }, "", "CHOOSE-NUMBER", "", "StatusDesc", "StatusNo"); //單身狀態
            ComboBoxs.Default("#cboRfiDetailFlowStatusQ@(itemName)", "@Url.Action("GetStatus", "BasicInformation")", { "StatusSchema": "RfiDetail.FlowStatus" }, "", "CHOOSE-NUMBER", "", "StatusName", "StatusNo"); //審批狀態
            ComboBoxs.Default("#cboAssignDept@(itemName)", "@Url.Action("GetDepartment", "BasicInformation")", { CompanyNo: "JMO", Status: "A", SearchKeys: flowDeptNames }, "", "NA", "", "DepartmentWithNo", "DepartmentId");

            if (flowAuthoritys.map(m => m.DetailCode).includes('SignMP')) {
                ComboBoxs.Default("#cboSalesQ@(itemName)", "@Url.Action("GetSales", "RequestForInformation")", { "CompaynId": companyId@(itemName) }, "", "NA", "", "SalesInfo", "UserId"); //業務人員
            }
            else if (flowAuthoritys.map(m => m.DetailCode).includes('SignSS')) {
                ComboBoxs.Default("#cboSalesQ@(itemName)", "@Url.Action("GetSales", "RequestForInformation")", { "CompaynId": companyId@(itemName) },  userId@(itemName), "NA", "", "SalesInfo", "UserId"); //業務人員
            }

            $("#cboProTypeGroupQ@(itemName), #cboProductUseQ@(itemName), #cboSalesQ@(itemName), #cboRfiDetailStatusQ@(itemName), #cboRfiDetailFlowStatusQ@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });

            $("#cboRfiDetailStatusQ@(itemName)").val([0, 1, 7, 8]).trigger("change");

            Query@(itemName)();

            $(".advanced-block a[data-toggle='tab']").on("shown.bs.tab", function (e) {
                InitParameter@(itemName)($(this));
            });
        });

        function GetUserInfo@(itemName)() {
            //權限資料
            flowAuthoritys = JSON.parse($(`#pageAuthority`).val());

            let targetUrl = "@Url.Action("GetLoginByKey", "User")";
            let data = DataAccess.Get(targetUrl,
                {
                    UserNo: $.cookie("Login"),
                    KeyText: $.cookie("LoginKey")
                }, false);

            if (data.status == "success") {
                userId@(itemName) = data.returnData.UserId;
                userName@(itemName) = data.returnData.UserName;
                companyId@(itemName) = data.returnData.CompanyId;

                @*userId@(itemName) = 6637;*@

                $("#userId").val(data.returnData.UserId);
            } else {
                alert(data.msg, "alert", 0);
            }
        }

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = "";
            let pageCount = 0;

            @*if (!(flowAuthoritys.find(f => f.DetailCode === `SignSS`) ||
                flowAuthoritys.find(f => f.DetailCode === `SignSRD`) ||
                flowAuthoritys.find(f => f.DetailCode === `SignMP`))) {
            }*@

            let targetUrl = "@Url.Action("GetRequestForInformation", "RequestForInformation")";
            let data = DataAccess.Get(targetUrl,
                {
                    PageIndex: (objPage.pageIndex + 1),
                    PageSize: objPage.pageSize,
                    RfiNo: $("#txtRfiNoQ@(itemName)").val(),
                    CustomerName: $("#txtCustomerNameQ@(itemName)").val(),
                    AssemblyName: $("#txtAssemblyNameQ@(itemName)").val(),
                    ProTypeGroupId: $("#cboProTypeGroupQ@(itemName) :selected").val(),
                    ProductUseId: $("#cboProductUseQ@(itemName) :selected").val(),
                    StartDate: $("#txtStartDateQ@(itemName)").val(),
                    EndDate: $("#txtEndDateQ@(itemName)").val(),
                    SignStatus: $("#cbxSignStatusQ@(itemName):checked").val(),
                    RfiDetailStatus: $("#cboRfiDetailStatusQ@(itemName)").val().join(),
                    FlowStatus: $("#cboRfiDetailFlowStatusQ@(itemName)").val().join()
                }, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    let canDownloadStatus = ["2", "3", "4"];
                    let canEditStatus = ["0", "5"];

                    rfiCache = data.result;

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr>
                                        <td><span class="stack-title">#</span>${_row}</td>
                                        <td><span class="stack-title">需求單號</span><span id="RfiNo@(itemName)-${item.RfiId}">${item.RfiNo}</span>${[2, 3].includes(item.RfiStatus) ? `<span class="erp-status"><span>核</span></span>` : ``}</td >
                                        <td><span class="stack-title">客戶名稱</span><div>${item.CustomerName}</div><div style="font-size:12px;">${item.CustomerEName}</div></td>
                                        <td><span class="stack-title">產品類別</span>${item.ProTypeGroupName}</td>
                                        <td><span class="stack-title">產品用途</span>${item.ProductUseName}</td>
                                        <td><span class="stack-title">設計代號</span>${item.AssemblyName}</td>
                                        <td><span class="stack-title">業務擔當</span>
                                            ${item.SalesGender == `M` ? `<span class="gender-male"><i class="fas fa-male mr-1"></i></span>` :
                                            item.SalesGender == `F` ? `<span class="gender-female"><i class="fas fa-female mr-1"></i></span>` : ``}${item.SalesNo} ${item.SalesName}
                                        </td>
                                        <td><span class="stack-title">分析日期</span>${item.AnalysisDate}</td>
                                        <td><span class="stack-title">是否為現有機種</span>${item.ExistFlagName}</td>
                                        <td><span class="stack-title">單據狀態</span>${item.RfiStatusName}</td>
                                        <td class="text-center active-content"><span class="stack-title">操作</span>
                                          <div class="btn-group mb-4 show" style="margin-bottom: 0 !important; position: static;">
                                            <button type="button" class="btn btn-primary dropdown-toggle" data-rfi-id="${item.RfiId}" style="padding-top: 0; padding-bottom: 0;">動作</button>
                                            <div class="dropdown-menu btn-text-left-block" data-rfi-id="${item.RfiId}" style="overflow-y: auto; z-index: 999; max-height: 150px;">`;
                        if (canEditStatus.includes(item.RfiStatus)) {
                            innerHtml += `<button type="button" class="dropdown-item btn-text-left auth-update" onclick="Edit@(itemName)(${item.RfiId});">
                                <i class="fas fa-edit mr-1"></i>編輯</button>`;
                        }
                        else {
                            innerHtml += `<button type="button" class="dropdown-item btn-text-left auth-read" onclick="Read@(itemName)(${item.RfiId});">
                                <i class="fas fa-eye mr-1"></i>查看</button>`;
                        }
                        if (item.RfiStatus == 3) {
                            innerHtml += `<button type="button" class="dropdown-item btn-text-left auth-status-switch" onclick="Datas@(itemName).UpdateRequestForInformationStatus(this);"
                                data-rfi-id="${item.RfiId}" data-status="Y"><i class="fad fa-check mr-1"></i>結案</button>`;
                        }
                        if (item.RfiDetail) {
                            if (canDownloadStatus.includes(item.RfiStatus)) {
                                innerHtml += `<button type="button" class="dropdown-item btn-text-left auth-download" onclick="GetRfiPdf@(itemName)(${item.RfiId});">
                                    <i class="fas fa-download mr-1"></i>市場評估單下載</button>`
                            }
                        }
                        else {
                            innerHtml += `<button type="button" class="dropdown-item btn-text-left auth-delete" onclick="Delete@(itemName)(${item.RfiId});">
                                <i class="fas fa-trash-alt mr-1"></i>刪除</button>`;
                        }

                        innerHtml += `</div>
                                    </div>
                                  </td>
                                  <td style="padding: 0;">
                                      <table class="table table-bordered table-sm mb-0 table-non-rwd table-striped-custom table-row-detail">
                                      <tbody>
                                          ${DetailData@(itemName)(item.RfiDetail, item)}
                                      </tbody>
                                      </table>
                                  </td>
                                  </tr>`;
                    });

                    signFlowJson = data.result.filter(f => !!f.SignFlow).map(m => { return { RfiId: m.RfiId, SignFlow: JSON.parse(m.SignFlow).data } }); //解析審批歷程資料
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="12" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle mr-1"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

            $("#cboAssignDept@(itemName)").change((e) => {
                Datas@(itemName).GetTemplateDesignSignFlow(e);
            });

            $("#cboAssignDept@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });

            @*Elements@(itemName).ShowFlows();
            Elements@(itemName).SignFlow@(itemName)();* @

            @*$("#listData@(itemName) input[name='chkStatus@(itemName)']").bootstrapToggle({
                on: "啟用",
                off: "關閉",
                onstyle: "success",
                offstyle: "danger",
                size: "mini",
                width: "75px"
            });

            $("#listData@(itemName) input[name='chkStatus@(itemName)'][data-rfi-id]").change(StatusSwitch@(itemName));*@

            //控制動作滾輪高度
            $(".active-content .dropdown-toggle").off("click").on("click", function () {
                let rfiId = $(this).data("rfi-id");

                if ($(`.dropdown-menu[data-rfi-id='${rfiId}']`).hasClass("show")) {
                    $(`.dropdown-menu`).removeClass("show");
                } else {
                    $(`.dropdown-menu`).removeClass("show");

                    $(`.dropdown-menu[data-rfi-id='${rfiId}']`).addClass("show");
                    $(`.dropdown-menu[data-rfi-id='${rfiId}']`).css({
                        top: `${$(this).position().top + $(this).height() + 5}px`,
                        left: `${$(this).position().left - $(this).width() + 38}px`
                    });
                }
            });

            $(".fast-sign .dropdown-toggle").off("click").on("click", function () {
                let rfiDetailId = $(this).data("rfidetail-id");

                if ($(`.dropdown-menu[data-rfidetail-id='${rfiDetailId}']`).hasClass("show")) {
                    $(`.dropdown-menu`).removeClass("show");
                } else {
                    $(`.dropdown-menu`).removeClass("show");

                    $(`.dropdown-menu[data-rfidetail-id='${rfiDetailId}']`).addClass("show");
                    $(`.dropdown-menu[data-rfidetail-id='${rfiDetailId}']`).css({
                        top: `${$(this).position().top + $(this).height() + 5}px`,
                        left: `${$(this).position().left - $(this).width() + 38}px`
                    });
                }
            });

            $("body").off("click").on("click", function (e) {
                if ($(".dropdown-menu").hasClass("show")) {
                    if (!$(e.target).hasClass("dropdown-toggle")
                        && !$(e.target).parents().hasClass("dropdown-toggle")) {
                        $(".dropdown-menu").removeClass("show");
                    }
                }
            });
        }

        //#region 展開內容
        function FlowsData(source) {
            let innerHtml = '';
            if (source) {
                let data = JSON.parse(source).data; //需先轉成json

                innerHtml += `<thead><tr>
                                <th style="width: 75px;" class="text-center">審批版次</th>
                                <th style="width: 75px;" class="text-center">關卡</th>
                                <th style="width: 75px;" class="text-left">審批人</th>
                                <th style="width: 75px;" class="text-left">審批註記</th>
                                <th style="width: 125px;">處理時間</th>
                                <th style="width: 125px;">到達時間</th>
                                <th style="width: 125px;">審批時間</th>
                              </tr></thead><tbody>`;

                let json = Object.groupBy(data, ({ Edition }) => Edition);

                $.each(json, function (i, d) {
                    innerHtml += `<tr><td rowspan="${d.length * 2}" data-toggle="tooltip" title="${d[0].Edition}" class="text-center" style="width: 75px; max-width: 75px;"><span class="stack-title">審批版次</span>${d[0].Edition}</td>`;
                    $.each(d, function (i, item) {
                        innerHtml += `<td rowspan="2" data-toggle="tooltip" title="${item.SignJobName}" class="text-center" style="width: 75px; max-width: 75px;"><span class="stack-title">關卡</span>${item.SignJobName}</td>
                                        <td data-toggle="tooltip" title="${item.FlowerName}" class="text-left" style="width: 75px; max-width: 75px;"><span class="stack-title">審批人</span>${item.FlowerName}</td>
                                        <td data-toggle="tooltip" title="${item.ApprovedName}" class="text-left" style="width: 75px; max-width: 75px;"><span class="stack-title">審批註記</span>${item.ApprovedName}</td>
                                        <td data-toggle="tooltip" title="" style="width: 125px; max-width: 125px;"><span class="stack-title">處理時間</span>${item.ArriveDateTime ? `${item.StayDays}天${item.StayHours}時${item.StayMinutes}分` : ``}</td>
                                        <td data-toggle="tooltip" title="${item.ArriveDateTime}" style="width: 125px; max-width: 125px;"><span class="stack-title">到達時間</span>${item.ArriveDateTime}</td>
                                        <td data-toggle="tooltip" title="${item.SignDateTime}"  style="width: 125px; max-width: 125px;"><span class="stack-title">審批時間</span>${item.SignDateTime}</td>
                                     </tr><tr><td colspan="5" class="text-left" style="color:blue;">審批建議：${item.SignDesc}</td></tr>`;
                    });
                });

                innerHtml += `</tbody>`;
            }
            return innerHtml;
        }
        //#endregion

        function DetailData@(itemName)(source, rfi) {
            let innerHtml = '';

            if (source) {
                let json = JSON.parse(source).data; //需先轉成json

                $.each(json, function (i, item) {
                    //rfiCache
                    innerHtml += `<tr>
                                    <td data-toggle="tooltip" title="${item.RfiSequence}" style="min-width: 100px;"><span class="stack-title">流水號</span>${item.RfiSequence}</td>
                                    <td data-toggle="tooltip" title="${item.Edition}" style="min-width: 100px;"><span class="stack-title">評估版次</span>${item.Edition}</td>
                                    <td data-toggle="tooltip" title="快速操作" class="fast-sign" style="min-width: 100px;"><span class="stack-title">快速操作</span>${SetFlowFunction(item, rfi)}</td>
                                    <td data-toggle="tooltip" title="${item.RfiDetailStatusName}" style="min-width: 135px;"><span class="stack-title">明細狀態</span>${SetStatusInfo(item, rfi)}</td>
                                    <td data-toggle="tooltip" title="${item.ProdDate}" style="min-width: 100px;"><span class="stack-title">量產時間</span>${item.ProdDate}</td>
                                    <td data-toggle="tooltip" title="${item.ProdLifeCycleStart}" style="min-width: 125px;"><span class="stack-title">生產生命(起)</span>${item.ProdLifeCycleStart}</td>
                                    <td data-toggle="tooltip" title="${item.ProdLifeCycleEnd}" style="min-width: 125px;"><span class="stack-title">生產生命(迄)</span>${item.ProdLifeCycleEnd}</td>
                                    <td data-toggle="tooltip" title="${item.TargetUnitPrice}" style="min-width: 100px;"><span class="stack-title">目標單價</span>${item.TargetUnitPrice.toLocaleString(`en`)} ${item.CurrencyName}</td>
                                    <td data-toggle="tooltip" title="${item.LifeCycleQty.toLocaleString(`en`)}" style="min-width: 120px;"><span class="stack-title">預估數量</span>${item.LifeCycleQty.toLocaleString(`en`)}</td>
                                    <td data-toggle="tooltip" title="${item.ExchangeRate}" style="min-width: 80px;"><span class="stack-title">匯率</span>${item.ExchangeRate}</td>
                                    <td data-toggle="tooltip" title="${item.RevenueFC > 0 ? item.RevenueFC.toLocaleString(`en`) + ` ` + item.CurrencyName : ``}" style="min-width: 125px;"><span class="stack-title">營收</span>${item.Revenue.toLocaleString(`en`)}</td>
                                    <td data-toggle="tooltip" title="${item.SalesName}" style="min-width: 145px;"><span class="stack-title">業務</span>
                                        ${item.SalesGender == `M` ? `<span class="gender-male"><i class="fas fa-male mr-1"></i></span>` : item.SalesGender == `F` ? `<span class="gender-female"><i class="fas fa-female mr-1"></i></span>` : ``}${item.SalesNo} ${item.SalesName}
                                    </td>
                                 </tr>`;
                });
            }
            return innerHtml;
        }

        @*function SetFlowFunction(item, rfi) {
            let innerHtml = ""
            let finalStatus = ["5", "6", "7"];
            let detailStatus = item.RfiDetailStatus;

            innerHtml = `<div class="btn-group mb-4 show" style="margin-bottom: 0 !important; position: static;">
                            <button type="button" class="btn btn-secondary dropdown-toggle" data-rfidetail-id="${item.RfiDetailId}" style="padding-top: 0; padding-bottom: 0;">操作</button>
                            <div class="dropdown-menu btn-text-left-block" data-rfidetail-id="${item.RfiDetailId}" style="overflow-y: auto; z-index: 999; max-height: 150px;">`;

            if (rfi.SortNumber == 1 && rfi.Flower == userId@(itemName)) {
                innerHtml += `<button type="button" class="dropdown-item btn-text-left auth-read" onclick="EditDetail(${rfi.RfiId},${item.RfiDetailId});" data-rfidetail-id="${item.RfiDetailId}">
                    <i class="fas fa-edit mr-1"></i>編輯</button>`;
            }
            else {
                innerHtml += `<button type="button" class="dropdown-item btn-text-left auth-read" onclick="ReadDetail(${rfi.RfiId},${item.RfiDetailId});" data-rfidetail-id="${item.RfiDetailId}">
                    <i class="fas fa-eye mr-1"></i>查看</button>`;
            }
            if (!finalStatus.includes(detailStatus) && rfi.Flower == userId@(itemName)) {
                if (detailStatus == 1) {
                    if (rfi.SortNumber == 1 && item.ProductSpecExists) {
                        innerHtml += `<button type="button" name="rfiFlow@(itemName)" class="dropdown-item btn-text-left auth-status-switch" onclick="Elements@(itemName).SignFlow(this);"
                            data-rfidetail-id="${item.RfiDetailId}" data-rfisf-id="${rfi.RfiSfId}" data-sort-number="${rfi.SortNumber}" data-signjob-name="${rfi.FlowStatusName}">
                            <i class="fas fa-pencil-alt mr-1"></i>單據確認</button>`;
                    }
                    if (rfi.SortNumber > 1) {
                        innerHtml += `<button type="button" name="rfiFlow@(itemName)" class="dropdown-item btn-text-left auth-status-switch" onclick="Elements@(itemName).SignFlow(this);"
                            data-rfidetail-id="${item.RfiDetailId}" data-rfisf-id="${rfi.RfiSfId}" data-sort-number="${rfi.SortNumber}" data-signjob-name="${rfi.FlowStatusName}">
                            <i class="fas fa-pencil-alt mr-1"></i>審批</button>`;
                    }
                }
                if (detailStatus == 8 && rfi.SortNumber == 1) {
                    innerHtml += `<button type="button" name="rfiFlow@(itemName)" class="dropdown-item btn-text-left auth-status-switch" onclick="Elements@(itemName).SignFlow(this);"
                        data-rfidetail-id="${item.RfiDetailId}" data-rfisf-id="${rfi.RfiSfId}" data-sort-number="${rfi.SortNumber}" data-signjob-name="${rfi.FlowStatusName}">
                        <i class="fas fa-pencil-alt mr-1"></i>重新確認</button>`;
                }
            }
            if (item.SignFlowExists) {
                innerHtml += `<button type="button" class="dropdown-item btn-text-left auth-read" onclick="Elements@(itemName).ShowFlows(this);"
                    data-rfidetail-status=0 data-rfidetail-id="${item.RfiDetailId}" data-rfi-id="${rfi.RfiId}">
                    <i class="fas fa-list-ol mr-1"></i>查看審批歷程</button>`;
            }

            innerHtml += `</div></div>`;
            return innerHtml;
        }*@

        function ElementControl@(itemName)() {
            addMethod(this, "InitializeDetail@(itemName)", function () {
                $("select[name='cboProTypeGroup@(itemName)']").off("change").on("change", function (e) {
                    Elements@(itemName).InitAssemblyName@(itemName)();
                });

                $("select[name='cboProductUse@(itemName)']").off("change").on("change", function (e) {
                    //ETG2401X _ 共計8碼.
                    //1) 第1~3碼 = “ETG”
                    //2) 第4~5碼 = 西元年後二碼, 今年為 “24”.
                    //3) 第6~7碼 = 流水號, 由01~99, A1~A9, Z1~Z9.
                    //4) 第8碼 = X – 車載, Y – 非車載.
                    Elements@(itemName).InitAssemblyName@(itemName)();
                });

                $("select[name='cboCustomer@(itemName)']").off("change").on("change", function () {
                    let data = DataAccess.Get('@Url.Action("GetCustomer", "ScmBasicInformation")', {CustomerId : this.value }, false);
                    if (data.status == "success") {
                        $.each(data.result, function (i, item) {
                            $("#txtCustomerName@(itemName)").val(item.CustomerName);
                            $("#txtCustomerEName@(itemName)").val(item.CustomerEnglishName);
                        });
                    }
                });
            });

            addMethod(this, "InitAssemblyName@(itemName)", function () {
                let corpNo = Object.values(dictCompany.find(f => f[companyId@(itemName)]))[0];
                let n1 = proTypeGroupTypes.find(f => f.ProTypeGroupId == $("#cboProTypeGroup@(itemName) :selected").val());
                let n2 = productUseTypes.find(f => f.ProductUseId == $("#cboProductUse@(itemName) :selected").val());
                $("#txtAssemblyName@(itemName)").val(corpNo + "_" + (!!n1 ? n1.TypeOne : '') + (new Date()).Format('yy') + '??' + (!!n2 ? n2.TypeOne : ''));
            });

            //審批歷程pop
            this.ShowFlows = function(e) {
                let rfiId = parseInt(e.dataset.rfiId);
                let rfidetailId = parseInt(e.dataset.rfidetailId);
                let btnStatus = parseInt(e.dataset.rfidetailStatus);
                let innerHtml = ""

                let data = signFlowJson.find(f => f.RfiId == rfiId).SignFlow;
                let json = Object.groupBy(data, ({ Edition }) => Edition);

                $.each(json, function (i, d) {
                    innerHtml += `<tr><td rowspan="${d.length * 2}" class="text-center"><span class="stack-title">審批版次</span>${d[0].Edition}</td>`;
                    $.each(d, function (i, item) {
                        innerHtml += `<td rowspan="2" class="text-center"><span class="stack-title">關卡</span>${item.SignJobName}</td>
                                        <td><span class="stack-title">審批人</span>${item.FlowerName}</td>
                                        <td><span class="stack-title">審批註記</span>${item.ApprovedName}</td>
                                        <td class="text-center"><span class="stack-title">處理時間</span>${item.ArriveDateTime ? `${item.StayDays}天${item.StayHours}時${item.StayMinutes}分` : ``}</td>
                                        <td class="text-center"><span class="stack-title">到達時間</span>${item.ArriveDateTime}</td>
                                        <td class="text-center"><span class="stack-title">審批時間</span>${item.SignDateTime}</td></tr>
                                        <tr><td colspan="4" class="text-left" style="color:blue;">審批建議：${item.SignDesc}</td>
                                        <td>${item.ArriveDateTime && !item.SignDateTime && item.Flower != userId@(itemName) ? `<a name="rfiUrgent@(itemName)" class="btn btn-sm btn-warning" href="javascript:void(0);"
                                            data-rfidetail-id="${rfidetailId}" data-rfisf-id="${item.RfiSfId}"><i class="fas fa-share mr-1"></i>催簽通知</a>` : ``}</td>
                                        </tr>`;
                    });
                })

                $("#modalFlowInfo@(itemName) tbody").html(innerHtml);

                $("#modalFlowInfo@(itemName)").modal({
                    keyboard: false,
                    show: true
                });

                let btnHtml = btnStatus == 1 ? '<i class="fas fa-list-ol mr-1"></i>關閉查看' : '<i class="fas fa-list-ol mr-1"></i>查看審批歷程';
                $(e).html(btnHtml);
                e.dataset.rfidetailStatus = 1 - btnStatus;

                Elements@(itemName).UrgentSign@(itemName)(); //稽催Pop按鈕監聽
            }

            //審批pop
            this.SignFlow = function (e) {
                PopDetailSign@(itemName)(e.dataset);
                Datas@(itemName).GetRfiSignFlow();
            }

            //催簽
            addMethod(this, "UrgentSign@(itemName)", function () {
                $("a[name='rfiUrgent@(itemName)']").off("click").on("click", function (e) {
                    PopUrgentSign@(itemName)(e.target);
                    Elements@(itemName).GetUrgentSign@(itemName)();
                });
            })

            addMethod(this, "GetUrgentSign@(itemName)", function () {
                let targetUrl = "@Url.Action("GetRfiSignFlow", "RequestForInformation")";
                let data = DataAccess.Get(targetUrl,
                    {
                        RfiSfId: $(`#urgentRfiSfId`).val()
                    }, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        $("#UrgentSign@(itemName)").val(item.SignJobName);
                        $("#UrgentFlower@(itemName)").val(item.UserName);
                    });
                } else {
                    alert(data.msg, "alert", 0);
                }
            });

            //審批附件上傳
            addMethod(this, "FileAutoUpload@(itemName)", function () {
                //#region 檔案上傳套件
                let uploadConfig = {
                    fileSelector: "#fileAdditionalFile@(itemName)",
                    targetSelector: "#txtAdditionalFile@(itemName)",
                    required: false,
                    uploadPath: "/RequestForInformation/RfiSignFlow",
                    maxFileCount: 1,
                    defaultFile: $("#txtAdditionalFile@(itemName)").val()
                };

                let uploadSetting = {
                    theme: "fas",
                    language: "zh-TW",
                    showCaption: true,
                    showPreview: true,
                    showRemove: false,
                    showUpload: false,
                    showCancel: false,
                    uploadUrl: "/Web/Upload",
                    uploadAsync: true,
                    minFileCount: (uploadConfig.required ? 1 : 0),
                    maxFileCount: uploadConfig.maxFileCount,
                    validateInitialCount: true,
                    overwriteInitial: false,
                    initialPreviewAsData: true,
                    browseOnZoneClick: true,
                    uploadExtraData: {
                        savePath: uploadConfig.uploadPath,
                        isPreview: false
                    },
                    previewFileIconSettings: {
                        doc: '<i class="fas fa-file-word" style="color: #0078d7;"></i>',
                        docx: '<i class="fas fa-file-word" style="color: #0078d7;"></i>',
                        xls: '<i class="fas fa-file-excel" style="color: #1d6f42;"></i>',
                        xlsx: '<i class="fas fa-file-excel" style="color: #1d6f42;"></i>',
                        csv: '<i class="fas fa-file-csv" style="color: #1d6f42;"></i>',
                        ppt: '<i class="fas fa-file-powerpoint" style="color: #d04423"></i>',
                        pptx: '<i class="fas fa-file-powerpoint" style="color: #d04423"></i>'
                    }
                };

                if (!!uploadConfig.defaultFile) {
                    let previewData = FileAccess.Preview(uploadConfig.defaultFile);
                    if (!!previewData) {
                        uploadSetting.initialPreview = previewData.initialPreview;
                        uploadSetting.initialPreviewConfig = previewData.initialPreviewConfig;
                    }
                }

                $(uploadConfig.fileSelector).fileinput('destroy');
                $(uploadConfig.fileSelector).fileinput(uploadSetting)
                    .off('filebatchselected')
                    .on('filebatchselected', function (event, files) {
                        $(uploadConfig.fileSelector).fileinput("upload");
                    })
                    .off('fileuploaded')
                    .on('fileuploaded', function (event, previewId, index, fileId) {
                        let uploadPath = previewId.response.initialPreviewConfig[0]["key"];

                        tempFile = [];
                        if ($(uploadConfig.targetSelector).val()) tempFile = $(uploadConfig.targetSelector).val().split(',');
                        tempFile.push(uploadPath);
                        $(uploadConfig.targetSelector).val(tempFile.join(",")).trigger('change');
                        $(uploadConfig.fileSelector).fileinput('clear');

                        let targetUrl = '@Url.Action("UpdateRfiSignFlowAdditionalFile", "RequestForInformation")';
                        let result = DataAccess.Update(targetUrl, {
                                RfiSfId: $("#signRfiSfId").val(),
                                FileId: uploadPath,
                            }, false, true);

                        if (result) {
                            Datas@(itemName).GetRfiSignFlow();
                        }
                    });
                //#endregion
            });
        }

        function DataControl@(itemName)() {
            addMethod(this, "Initialize@(itemName)", function () {
                let targetUrl = "@Url.Action("GetProductTypeGroup", "ScmBasicInformation")";
                let data = DataAccess.Get(targetUrl,
                    {
                        Status: "A"
                    }, false);
                if (data.status == "success") {
                    proTypeGroupTypes = data.result.map(m => { return { ProTypeGroupId: m.ProTypeGroupId, TypeOne: m.TypeOne } });
                }

                targetUrl = "@Url.Action("GetProductUse", "RequestForInformation")";
                data = DataAccess.Get(targetUrl,
                    {
                        Status: "A"
                    }, false);
                if (data.status == "success") {
                    productUseTypes = data.result.map(m => { return { ProductUseId: m.ProductUseId, TypeOne: m.TypeOne } });
                }
            });

            this.GetRfiSignFlow = function () {
                let targetUrl = "@Url.Action("GetRfiSignFlow", "RequestForInformation")";
                let data = DataAccess.Get(targetUrl,
                    {
                        RfiSfId: $(`#signRfiSfId`).val()
                    }, false);

                signFlowCache = undefined;
                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        signFlowCache = item;
                        $("#txtAdditionalFile@(itemName)").val(item.AdditionalFile ? item.AdditionalFile : "");

                        if (!item.NextSortNumber) {
                            $("#assign-actions, #close-actions").show();
                        }
                        else {
                            $("#assign-actions, #close-actions").hide();
                        }
                    });
                } else {
                    alert(data.msg, "alert", 0);
                }

                Elements@(itemName).FileAutoUpload@(itemName)();
            }

            this.GetTemplateDesignSignFlow = function (e) {
                const DepartmentId = e.currentTarget.value;

                let innerHtml = ""

                if (!DepartmentId) {
                    innerHtml = `<tr><td class="text-center" colspan="7" style="background-color: #fff3cd;">
                                    <i class="fal fa-exclamation-circle mr-1"></i>請選擇流程來源部門。
                                 </td></tr>`;
                }
                else {
                    let targetUrl = "@Url.Action("GetTemplateDesignSignFlow", "ScmBasicInformation")";
                    let data = DataAccess.Get(targetUrl,
                        {
                            DepartmentId,
                            ProTypeGroupId: signFlowCache.ProTypeGroupId,
                        }, false);

                    if (data.status == "success") {
                        if (data.result.length) {
                            $.each(data.result, (i, item) => {
                                let _row = i + 1;

                                innerHtml += `<tr>
                                                <td data-toggle="tooltip" title="順序${item.SortNumber}">${item.SortNumber}</td>
                                                <td data-toggle="tooltip" title="${item.CompanyName}" style="max-width: 200px;">
                                                    ${item.LogoIcon > 0 ? `<img class="company-logo" src="/Web/GetFile?fileId=${item.LogoIcon}" />` : ``}${item.CompanyName}
                                                </td>
                                                <td data-toggle="tooltip" title="${item.DepartmentName}" style="max-width: 200px;">${item.DepartmentName}</td>
                                                <td data-toggle="tooltip" title="${item.FlowUserName}(${item.FlowUserNo})" style="max-width: 200px;">
                                                    ${item.FlowUserNo ? item.FlowGender == `M` ? `<span class="gender-male"><i class="fas fa-male mr-1"></i></span>` : `<span class="gender-female"><i class="fas fa-female mr-1"></i></span>` : ``}
                                                    ${item.FlowUserNo ? `${item.FlowUserNo} ${item.FlowUserName}` : ``}
                                                </td>
                                                <td data-toggle="tooltip" title="${item.FlowJobName}" style="max-width: 200px;">${item.FlowJobName}</td>
                                              </tr>`;
                            });
                        }
                        else {
                            innerHtml = `<tr><td class="text-center" colspan="7" style="background-color: #fff3cd;"><i class="fal fa-exclamation-circle mr-1"></i>目前尚無資料。</td></tr>`
                        }
                    }
                    else alert(data.msg, "alert", 0);
                }

                $("#tblView@(itemName) tbody").html(innerHtml);
            }

            this.UpdateRequestForInformationStatus = function (e) {
                let result = DataAccess.Update("@Url.Action("UpdateRequestForInformationStatus", "RequestForInformation")",
                    {
                        RfiId: e.dataset.rfiId,
                        StatusNo: e.dataset.status
                    }, false, true);

                if (result) {
                    Return@(itemName)();
                }
            }
        }

        function InitParameter@(itemName)(selector) {
            let initFnString = "Expand";
            let content = selector.attr("href").split('#tab')[1].split('@(itemName)')[0];

            switch (content) {
                case "RfiDetail":
                    initFnString += "RfiDetail";
                    break;
            }

            let initFn = window[initFnString];
            if (initFn && typeof (initFn) == "function") {
                initFn();
            }
        }

        function GetData@(itemName)(RfiId) {
            $("#RfiId").val(RfiId ? RfiId : -1);

            $("#cboProTypeGroup@(itemName)").html($("#cboProTypeGroupQ@(itemName)").html());
            $("#cboProductUse@(itemName)").html($("#cboProductUseQ@(itemName)").html());

            ComboBoxs.Default("#cboOrganizaitonType@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "MemberOrganization.OrganizaitonType" }, "", "NA", "", "TypeName", "TypeNo"); //客戶類型
            ComboBoxs.Default("#cboCustomer@(itemName)", "@Url.Action("GetCustomer", "ScmBasicInformation")", { "Status": "A" }, "", "CHOOSE-NUMBER", "請選擇客戶", "CustomerWithNo", "CustomerId"); //客戶

            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");

            if (RfiId > 0) {
                let targetUrl = "@Url.Action("GetRequestForInformation", "RequestForInformation")";
                if (!(flowAuthoritys.find(f => f.DetailCode === `SignSS`) ||
                    flowAuthoritys.find(f => f.DetailCode === `SignSRD`) ||
                    flowAuthoritys.find(f => f.DetailCode === `SignMP`))) {
                    $(`.sign-actions`).hide();
                }
                else {
                    $(`.sign-actions`).show();
                }

                let data = DataAccess.Get(targetUrl, { RfiId } , false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        _rfi = item;
                        $("#txtRfiNo@(itemName)").val(item.RfiNo);
                        $("#txtCustomerName@(itemName)").val(item.CustomerName);
                        $("#txtCustomerEName@(itemName)").val(item.CustomerEName);
                        $("#txtAnalysisDate@(itemName)").val(item.AnalysisDate);
                        $("#txtSales@(itemName)").val(item.SalesName);
                        $("#cboProTypeGroup@(itemName), #ProTypeGroupId").val(item.ProTypeGroupId);
                        $("#cboProductUse@(itemName), #ProductUseId").val(item.ProductUseId);
                        $(`#cbxExistFlag@(itemName)${item.ExistFlag}`).prop('checked', true);
                        $("#cboOrganizaitonType@(itemName)").val(item.OrganizaitonType);
                        if (!!item.AssemblyName)
                            $("#txtAssemblyName@(itemName)").val(item.AssemblyName);
                        else
                            Elements@(itemName).InitAssemblyName@(itemName)();
                    });

                    if ($(".advanced-block .flag-tabs > .flag-item > .flag-link").first().hasClass("active")) {
                        InitParameter@(itemName)($(".advanced-block .flag-tabs > .flag-item").first().find("a"));
                    } else {
                        $(".advanced-block .flag-tabs > .flag-item").first().find("a").trigger("click");
                    }
                } else {
                    alert(data.msg, "alert", 0);
                }
            }
            else {
                $("#txtSales@(itemName)").val(userName@(itemName));
            }

            Datas@(itemName).Initialize@(itemName)();
            Elements@(itemName).InitializeDetail@(itemName)();

            $("#cboProTypeGroup@(itemName), #cboProductUse@(itemName), #cboOrganizaitonType@(itemName), #cboCustomer@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let RfiId = parseInt($("#RfiId").val());

                if (RfiId <= 0) {
                    let targetUrl = "@Url.Action("AddRequestForInformation", "RequestForInformation")";
                    let data = DataAccess.EditContinued(targetUrl,
                        {
                            CustomerName: $("#txtCustomerName@(itemName)").val(),
                            CustomerEName: $("#txtCustomerEName@(itemName)").val(),
                            CustomerId: $("#cboCustomer@(itemName) :selected").val(),
                            AssemblyName: $("#txtAssemblyName@(itemName)").val(),
                            ProTypeGroupId: $("#cboProTypeGroup@(itemName) :selected").val(),
                            ProductUseId: $("#cboProductUse@(itemName) :selected").val(),
                            ExistFlag: $("#cbxExistFlag@(itemName)Y").is(":checked") ? "Y" : "N",
                            OrganizaitonType: $(`#cboOrganizaitonType@(itemName) :selected`).val()
                        }, false);

                    if (data) {
                        $.each(data.result, function (i, item) {
                            Edit@(itemName)(item.RfiId);
                        });
                    }
                } else {
                    let targetUrl = "@Url.Action("UpdateRequestForInformation", "RequestForInformation")";
                    let result = DataAccess.Update(targetUrl,
                        {
                            RfiId,
                            CustomerName: $("#txtCustomerName@(itemName)").val(),
                            CustomerEName: $("#txtCustomerEName@(itemName)").val(),
                            CustomerId: $("#cboCustomer@(itemName) :selected").val(),
                            AssemblyName: $("#txtAssemblyName@(itemName)").val(),
                            ProTypeGroupId: $("#cboProTypeGroup@(itemName) :selected").val(),
                            ProductUseId: $("#cboProductUse@(itemName) :selected").val(),
                            ExistFlag: $("#cbxExistFlag@(itemName)Y").is(":checked") ? "Y" : "N",
                            OrganizaitonType: $(`#cboOrganizaitonType@(itemName) :selected`).val()
                        }, false, true);

                    if (result) {
                        Return@(itemName)();
                    }
                }
            }
        }

        function Delete@(itemName)(RfiId) {
            let row_name = $(`#RfiNo@(itemName)-${RfiId}`).text();

            swal.fire({
                titleText: `確認要刪除${row_name}嗎?`,
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteRequestForInformation", "RequestForInformation")";
                    let result = DataAccess.Delete(targetUrl, { RfiId } , false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        //PopDetailSign
        function PopDetailSign@(itemName)(d) {
            let rfidetailId = parseInt(d.rfidetailId || -1);
            let rfiSfId = parseInt(d.rfisfId || -1);
            let sortNumber = parseInt(d.sortNumber);
            let signJobName = d.signjobName || "錯誤";

            if (!rfiSfId) {
                alert('無法取得流程檔', "warning", 0);
                return false;
            }

            $("#modalSignInfo@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });

            if (!sortNumber || sortNumber == 1) {
                $(".sign-actions").hide();
                $("#cbxSignStatus@(itemName)Y").prop('checked', true);
            }
            else {
                $(".sign-actions").show();
            }

            $(`#SignInfo@(itemName)`).val(signJobName || '-');
            $(`#signRfiDetailId`).val(rfidetailId);
            $(`#signRfiSfId`).val(rfiSfId);
        }

        function PopUrgentSign@(itemName)(e) {
            let rfiDetailId = $(e).data("rfidetail-id");
            let rfiSfId = $(e).data("rfisf-id");

            $("#modalUrgentSign@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });

            $(`#urgentRfiDetailId`).val(rfiDetailId);
            $(`#urgentRfiSfId`).val(rfiSfId);
        }

        function SendSign@(itemName)() {
            if ($(`#SignInfoForm@(itemName)`).valid()) {

                let signStatus = $("input[name='cbxSignStatus@(itemName)']:checked").val();
                let signContent = $(`#txtSignContent@(itemName)`).val();

                $(`#signStatus`).val(signStatus);

                switch (signStatus) {
                    case "N": //不准
                    case "B": //退回
                        if (!signContent) {
                            alert("請填寫退回/變更原因", "alert", 0);
                            return;
                        }
                        break;
                    case "Y": //核准
                        break;
                }

                SubmitSign@(itemName)();
            }
        }

        function SubmitUrgentSign@(itemName)() {
            swal.fire({
                titleText: "確認發出催簽通知嗎??",
                text: "通知發出後將無法收回，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: "#d33",
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("RfiUrgentSignMessage", "RequestForInformation")";
                    let result = DataAccess.EditContinued(targetUrl,
                        {
                            RfiSfId: $("#urgentRfiSfId").val(),
                            RfiDetailId: $("#urgentRfiDetailId").val(),
                            UrgentSignContent: $(`#txtUrgentContent@(itemName)`).val()
                        }, false);

                    if (result.status == "success") {
                        $("#modalUrgentSign@(itemName)").modal("hide");
                        alert(result.msg, "success");
                    }
                }
            });
        }

        function SubmitSign@(itemName)() {
            swal.fire({
                titleText: "確認審批此案件嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("UpdateRfiDetailStatus", "RequestForInformation")";
                    let result = DataAccess.Update(targetUrl,
                        {
                            RfiDetailId: $(`#signRfiDetailId`).val(),
                            RfiSfId: $(`#signRfiSfId`).val(),
                            DepartmentId: $(`#cboAssignDept@(itemName)`).val(),
                            RfiDetailStatus: $(`#signStatus`).val(),
                            SignContent: $(`#txtSignContent@(itemName)`).val()
                        }, false, true);

                    if (result) {
                        ResetForm("#SignInfoForm@(itemName)");
                        $("#modalSignInfo@(itemName)").modal("hide");
                        Query@(itemName)();
                    }
                }
            });
        }

        function DownloadExcel@(itemName)(RfiId) {
            RfiId = parseInt(RfiId || -1);

            @*if (!(flowAuthoritys.find(f => f.DetailCode === `SignSS`) ||
                flowAuthoritys.find(f => f.DetailCode === `SignSRD`) ||
                flowAuthoritys.find(f => f.DetailCode === `SignMP`))) {
            }*@

            let targetUrl = "@Url.Action("GetRfiExcel", "RequestForInformation")";
            FileAccess.AjaxDownload(targetUrl,
                {
                    RfiId,
                    RfiNo: $("#txtRfiNoQ@(itemName)").val(),
                    ProTypeGroupId: $("#cboProTypeGroupQ@(itemName) :selected").val(),
                    ProductUseId: $("#cboProductUseQ@(itemName) :selected").val(),
                    StartDate: $("#txtStartDateQ@(itemName)").val(),
                    EndDate: $("#txtEndDateQ@(itemName)").val(),
                    SignStatus: $("#cbxSignStatusQ@(itemName):checked").val(),
                    RfiDetailStatus: $("#cboRfiDetailStatusQ@(itemName)").val().join(),
                    FlowStatus: $("#cboRfiDetailFlowStatusQ@(itemName)").val().join()
                }, false);
        }

        function GetRfiPdf@(itemName)(RfiId) {
            let targetUrl = "@Url.Action("GetRfiPdf", "RequestForInformation")";
            FileAccess.AjaxDownload(targetUrl, { RfiId } , false);
        }

        function EditDetail(rfiId, designId) {
            $(objForm@(itemName) + " input").not(".read-item").prop({ "readonly": false, "disabled": false });
            $(objForm@(itemName) + " textarea").not(".read-item").prop({ "readonly": false, "disabled": false });
            $(objForm@(itemName) + " select").not(".read-item").prop({ "readonly": false, "disabled": false });

            pageMode = "";
            GetData@(itemName)(rfiId);
            $(".read-hide@(itemName)").show();
            Edit@(childItem)(designId);
        }

        function ReadDetail(rfiId, designId) {
            $(objForm@(itemName) + " input").not(".read-item").prop({ "readonly": true, "disabled": true});
            $(objForm@(itemName) + " textarea").not(".read-item").prop({ "readonly": true, "disabled": true });
            $(objForm@(itemName) + " select").not(".read-item").prop({ "readonly": true, "disabled": true });

            pageMode = "Read";
            GetData@(itemName)(rfiId);
            $(".read-hide@(itemName)").hide();
            Read@(childItem)(designId);
        }

        function Edit@(itemName)(rfiId) {
            $(objForm@(itemName) + " input").not(".read-item").prop({ "readonly": false, "disabled": false });
            $(objForm@(itemName) + " textarea").not(".read-item").prop({ "readonly": false, "disabled": false });
            $(objForm@(itemName) + " select").not(".read-item").prop({ "readonly": false, "disabled": false });

            pageMode = "";
            GetData@(itemName)(rfiId);
            $(".read-hide@(itemName)").show();
        }

        function Read@(itemName)(rfiId) {
            $(objForm@(itemName) + " input").not(".read-item").prop({ "readonly": true, "disabled": true});
            $(objForm@(itemName) + " textarea").not(".read-item").prop({ "readonly": true, "disabled": true });
            $(objForm@(itemName) + " select").not(".read-item").prop({ "readonly": true, "disabled": true });

            pageMode = "Read";
            GetData@(itemName)(rfiId);
            $(".read-hide@(itemName)").hide();
        }

        function Return@(itemName)() {
            ResetForm@(itemName)();
            Switch("#listData@(itemName)", "#editData@(itemName), .unit-block, .advanced-block");
            Query@(itemName)();
        }

        function ResetForm@(itemName)() {
            _rfi = undefined;
            ResetForm(objForm@(itemName));
            $(`#editData@(itemName) input, #editData@(itemName) textarea, #editData@(itemName) select`).val('');
            $(`#editData@(itemName) input[type="radio"], #editData@(itemName) input[type="checkbox"]`).removeAttr('checked');
        }

        function CloseSign@(itemName)() {
            $("#cboAssignDept@(itemName)").val("").trigger("change");
            ResetForm("#SignInfoForm@(itemName)");
        }

        function Forbidden@(itemName)() {
            swal.fire({
                title: "功能尚未開放!",
                icon: "error"
            });
        }
</script>
)
