@using Business_Manager.Helpers
@{
    string itemName = "TemplateProdSpec";
    string itemNameText = "RFI 樣板資料";
    string authority = ViewBag.authority;
    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
        .productUseName {
            color: #ff9c00;
            font-weight:600;
        }

        .toggle-on {
            top: 1px;
        }

        .sort-number {
            font-size: 18px;
            font-weight: 600;
            color: #777;
        }

        .sort-handle, .btn-add {
            cursor: pointer;
        }

        .sort-detail {
            cursor: pointer;
            font-size: large;
            color: #aaa;
            min-width:20px;
            /*display:none;*/
        }

            .sort-detail :hover {

            }

        .sideBar {
            font-size: 18px;
            text-align: right;
            color: #333;
            border: none;
            width: 100%;
            cursor: pointer;
        }

        .openBar {
            /*border-radius: 10px;*/
        }

        @@media screen and (max-width: 1050px) {
            .iCard {
                padding: 0 7px;
                margin-left: 15px;
                float: left;
                position: relative;
                left: 0px;
                top: 0px;
                background-color: #eee;
                border-radius: 10px;
                border: 1px solid #777;
                width: 500px;
            }
        }

        @@media only screen and (min-width: 1050px) and (max-width: 1380px) {
            .iCard {
                padding: 0 7px;
                margin-left: 15px;
                float: left;
                position: relative;
                left: 0px;
                top: 0px;
                background-color: #eee;
                border-radius: 10px;
                border: 1px solid #777;
                width: 48%;
                min-width: 450px;
            }
        } 

        @@media screen and (min-width: 1380px) {
            .iCard {
                padding: 0 7px;
                margin-left: 15px;
                float: left;
                position: relative;
                left: 0px;
                top: 0px;
                background-color: #eee;
                border-radius: 10px;
                border: 1px solid #777;
                width: 32%;
                min-width: 420px;
            }
        }

        .iCard-header {
            /*padding-top: 0;*/
            padding: .75rem 1.25rem;
            /* margin-top: 0; */
            background-color: #eee;
        }

        .iCard-body {
            /*padding: 22px;*/
            padding: .75rem 1.25rem;
            border-radius: 10px;
            background-color: #fff;
            display: none;
        }

        .addCard {
            padding: 0 7px;
            position: relative;
            background-color: #eee;
            border-radius: 10px;
            border: 1px solid #777;
            width: 35%;
            min-width: 434px;
        }

        .closeNewRow {
            margin-left: 25px;
        }
        .input-group-text {
            min-width: 100px;
        }

        .new-detail-icon {
            min-width: 75px;
            color: #070;
        }

        .read-control-icon {
            margin-left:10px;
            color: #cbcbc9;
            width: 20px;
            height: 20px;
            font-size: 20px;
            /* margin-top: -5px; */
        }

        .read-control-title {
            margin-left: 10px;
            color: #cbcbc9;
            width: 100px;
            height: 20px;
            font-size: 16px;
            /* margin-top: -5px; */
        }

        .detail-input {
            margin-left: 15px;
            /* padding-left: 10px; */
            outline: 0 !important;
            width: 60%;
            height: 30px;
            border-top: 0;
            border-left: 0;
            border-right: 0;
            border-bottom: solid 1px #ddd;
            border-radius: 0;
            background: #fff;
        }

        input[name="txtSpecName"] {
            font-size: 18px;
            font-weight:600;
            color:#777;
        }

        input[name="txtSpecEName"] {
            font-size: 16px;
            color: #777;
        }

        .primary {
            background-color:#f5ecff;
        }
            .primary :hover {
                background-color: #c4fff2;
            }

        .secondary {
            background-color: #eaeaea;
        }

            .secondary :hover {
                background-color:#c4fff2;
            }

        .border-focus {
            animation: fade 1000ms 3 ease-in-out;
            border: 3px solid #ff6500;
        }

        @@keyframes fade {
            from {
                opacity :1.0;
            }
            50% {
                opacity: 0.0;
            }
            to {
                opacity: 1.0;
            }
        }
</style>
)

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row justify-content-between">
                    <div class="col-6 col-md-6 col-sm-6">
                        <div class="row">
                            <div class="col-12 col-md-8 col-sm-8">
                                <div class="input-group">
                                    <span class="input-group-addon">評估項目</span>
                                    <input type="text" id="txtSpecNameQ@(itemName)" class="form-control" style="" placeholder="請輸入評估項目名稱">
                                    <span class="input-group-addon">評估選項</span>
                                    <input type="text" id="txtFeatureNameQ@(itemName)" class="form-control" style="" placeholder="請輸入評估選項名稱">
                                    @*<span class="input-group-addon">產品應用</span>
                                    <select id="cboProductUseQ@(itemName)" name="cboProductUseQ@(itemName)" class="form-control" placeholder="請選擇產品應用"></select>*@
                                    <div class="input-group-append">
                                        <a class="btn btn-primary auth-read" href="javascript:Query@(itemName)();"><i class="fal fa-search"></i>搜尋</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-md-6 col-sm-6 text-right add-hide">
                        <a class="btn btn-info auth-add" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card card-shadow mb-4">
                            @*<input type="hidden" id="txtProductUseId@(itemName)" name="txtProductUseId@(itemName)" value="-1"/>*@
                            <h1 class="text-center productUseName" name="productUseName@(itemName)"></h1>
                            <div class="card-body" id="tblData@(itemName)"></div>
                            <div class="card-footer text-center">
                                <div class="pagination" id="page@(itemName)"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-right text-lg-right read-hide">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <h1 class="text-center productUseName" name="productUseName@(itemName)"></h1>

                <form class="addCard border-success container custom-form-container" id="editForm@(itemName)">
                    @Html.Hidden("TempProdSpecId", -1)
                    <div class="card-body" name="tblMain@(itemName)">
                        <div class="row">
                            <div class="col-12 mb-3" style="font-size:18px;"><i class="fas fa-plus">新增</i></div>
                        </div>
                        <div class="row">
                            <div class="col-8 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">項目種類</span>
                                    </div>
                                    <input type="text" class="form-control" id="txtSpecName@(itemName)" name="txtSpecName@(itemName)" placeholder="請輸入項目名稱"
                                           data-msg-required="請輸入項目名稱" data-rule-required="true" data-msg-maxlength="必須少於 100 個字元" maxlength="100">
                                </div>
                            </div>
                            <div class="col-4" id="cboControlType@(itemName)Box"></div>
                        </div>
                        <div class="row">
                            <div class="col-8 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">項目種類</span>
                                    </div>
                                    <input type="text" class="form-control" id="txtSpecEName@(itemName)" name="txtSpecEName@(itemName)"
                                           data-msg-maxlength="必須少於 100 個字元" maxlength="100">
                                </div>
                            </div>
                            <div class="col-4 text-right">
                                <input type="checkbox" name="chkStatus@(itemName)" class="auth-add" checked />
                            </div>
                        </div>
                    </div>
                    @*<div class="text-secondary">
                <div id="tblDetail@(itemName)" name="tblDetail@(itemName)" class="ui-sortable"></div>
                <div id="tblDefault@(itemName)" name="tblDefault@(itemName)">
                    <div id="-1" class="col-12 mb-3"></div>
                    <div class="col-12 mb-3">
                        <div class="row">
                            <button type="button" class="btn btn-sm primary" onclick="SetNewDetail@(itemName)(-1, '')">新增選項</button>
                            <button type="button" class="btn btn-sm secondary" onclick="SetNewDetail@(itemName)(-1, 'O')">新增「其他」</button>
                        </div>
                    </div>
                </div>
            </div>*@
                    <div class="card-footer bg-transparent border-success">
                        <div class="row">
                            <div class="col-12 text-right">
                                <input type="checkbox" name="chkRequired@(itemName)" class="auth-add" checked />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right read-hide">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
                <button type="button" class="btn btn-success" onclick="Save@(itemName)(-1)"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

<div id="tempControlType@(itemName)" style="display:none;">
    <select class="form-control" id="cboControlType@(itemName)" name="cboControlType@(itemName)"></select>
</div>

<!--其他分頁-->
@*<div class="advanced-block">
    <div class="row">
        <div class="col-12">
            <ul class="nav flag-tabs nav-fill" role="tablist">
                <li class="flag-item">
                    <a class="flag-link" data-toggle="tab" href="#tabRfqDetail">
                        <i class="fas fa-sort-size-down"></i> RFI單身資料
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane" id="tabRfqDetail">
            @Html.Partial("")
        </div>
    </div>
</div>*@

@Html.Resource("js",
    @<script>
        let objForm@(itemName) = "#editForm@(itemName)";
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 20
        };
        let Elements@(itemName) = new ElementControl@(itemName)();
        let Datas@(itemName) = new DataControl@(itemName)();

        $(function () {
            $("#txtSpecNameQ@(itemName), #txtFeatureNameQ@(itemName)").val("");
            $("#txtSpecNameQ@(itemName), #txtFeatureNameQ@(itemName)").keydown(function (event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    Query@(itemName)();
                    return false;
                }
            });

            ComboBoxs.Default("#cboControlType@(itemName)", "@Url.Action("GetType", "RequestForInformation")", { "TypeSchema": "RfiFormItem.ItemType" }, "", "NA", "", "TypeName", "TypeNo");
            @*ComboBoxs.Default("#cboProductUseQ@(itemName)", "@Url.Action("GetProductUse", "ScmBasicInformation")", {}, "", "NA", "", "ProductUseName", "ProductUseNo"); //產品應用*@
        });

        function Expand@(itemName)() {
            if (parseInt($("#ProTypeGroupId").val()) > 0) {
                $(".advanced-block").slideDown("slow");

                Return@(itemName)();
            } else {
                alert("產品群組管理錯誤", "alert");
            }
        }

        function InitData@(itemName)(objPage) {
            let tempProdSpecId = $("#TempProdSpecId").val();
            let innerHtml = '';
            let pageCount = 0;

            let targetUrl = "@Url.Action("GetTemplateProdSpec", "RequestForInformation")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "TempProdSpecId": tempProdSpecId,
                "ProTypeGroupId": $("#ProTypeGroupId").val(),
                @*"ProductUseId": $("#cboProductUseQ@(itemName) :selected").val(),*@
                "SpecName": $("#txtSpecNameQ@(itemName)").val(),
                "SpecEName": $("#txtSpecENameQ@(itemName)").val(),
                "FeatureName": $("#txtFeatureNameQ@(itemName)").val(),
                "Status": $("input[name='cbxStatusQ@(itemName)']:checked").toArray().map(item => item.value).join(",")
            };
            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        let targetStatus = $(`#sideStatus@(itemName)-${item.TempProdSpecId}`); //紀錄當前狀態

                        innerHtml += `<div id="${item.TempProdSpecId}" class="iCard border-success mb-3">
                                        <input type="hidden" id="sideStatus@(itemName)-${item.TempProdSpecId}" value="${targetStatus.val()}" />
                                        ${SetProdSpec@(itemName)(item)}
                                      </div>`
                    });
                } else {
                    innerHtml += `<div class="iCard border-success mb-3" style="background-color: #fff3cd;">
                                    <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                　</div>`;
                }

                @*$("[name=productUseName@(itemName)]").text($("#cboProductUseQ@(itemName) :selected").text());
                $("#txtProductUseId@(itemName)").val($("#cboProductUseQ@(itemName) :selected").val());*@
                $("#listData@(itemName) .add-hide").show();
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName)").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

            $(`.iCard-body`).prop({ 'style': 'display: none;' });

            Elements@(itemName).Initialize@(itemName)();
            Elements@(itemName).SetEffects@(itemName)(300);

            @* $("#cboProductUse@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });*@

            //控制動作滾輪高度
            //$(".dropdown-toggle").off("click").on("click", function () {
            //    let rfqId = $(this).data("rfq-id");

            //    if ($(`.dropdown-menu[data-rfq-id='${rfqId}']`).hasClass("show")) {
            //        $(".dropdown-menu").removeClass("show");
            //    } else {
            //        $(".dropdown-menu").removeClass("show");

            //        $(`.dropdown-menu[data-rfq-id='${rfqId}']`).addClass("show");
            //        $(`.dropdown-menu[data-rfq-id='${rfqId}']`).css({
            //            top: `${$(this).position().top + $(this).height() + 5}px`,
            //            left: `${$(this).position().left - $(this).width() + 38}px`
            //        });
            //    }
            //});

            //$("body").off("click").on("click", function (e) {
            //    if ($(".dropdown-menu").hasClass("show")) {
            //        if (!$(e.target).hasClass("dropdown-toggle")
            //            && !$(e.target).parents().hasClass("dropdown-toggle")) {
            //            $(".dropdown-menu").removeClass("show");
            //        }
            //    }
            //});
        }

        function GetData@(itemName)(tempProdSpecId) {
            let innerHtml = ``;

            let targetUrl = "@Url.Action("GetTemplateProdSpec", "RequestForInformation")";
            let postData = {
                "PageIndex": 1,
                "PageSize": objPage@(itemName).pageSize,
                "TempProdSpecId": tempProdSpecId,
            };
            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                $.each(data.result, function (i, item) {
                    innerHtml = SetProdSpec@(itemName)(item);
                });

                let nowStatus = $(`#sideStatus@(itemName)-${tempProdSpecId}`); //紀錄當前狀態

                $(`#tblData@(itemName) > #${tempProdSpecId}`).html(`<input type="hidden" id="sideStatus@(itemName)-${tempProdSpecId}" value="${nowStatus.val()}" />${innerHtml}`);
                Elements@(itemName).Initialize@(itemName)();
                Elements@(itemName).SetEffects@(itemName)(300);
                SetSideVisible@(itemName) (0, `#listData@(itemName)`, $(`#listData@(itemName) #${tempProdSpecId} .sideBar`));
            }
        }

        function ElementControl@(itemName)() {
            addMethod(this, "Initialize@(itemName)", function () {
                //排序拖曳
                $("#listData@(itemName) #tblData@(itemName)").sortable({
                    cancel: ".disabled-sort",
                    handle: ".sort-handle",
                    update: function (event, ui) {
                        Datas@(itemName).UpdateTemplateProdSpecSort@(itemName)(this, ui.item);
                    }
                });

                //排序拖曳
                $.each($(`#listData@(itemName) div[name="tblDetail@(itemName)"]`), function (i, item) {
                    $(`#${this.id}`).sortable({
                        cancel: ".disabled-sort",
                        handle: ".sort-detail",
                        update: function (event, ui) {
                            Datas@(itemName).UpdateTemplateProdSpecDetailSort@(itemName)(this, ui.item);
                        }
                    });
                });

                $(`#listData@(itemName) input[name='chkStatus@(itemName)'], #editData@(itemName) input[name='chkStatus@(itemName)']`).bootstrapToggle({
                    on: "啟用",
                    off: "關閉",
                    onstyle: "success",
                    offstyle: "danger",
                    size: "mini",
                    width: "75px"
                });

                $(`#listData@(itemName) input[name='chkRequired@(itemName)'], #editData@(itemName) input[name='chkRequired@(itemName)']`).bootstrapToggle({
                    on: "必填",
                    off: "非必填",
                    onstyle: "success",
                    offstyle: "danger",
                    size: "mini",
                    width: "75px"
                });

                $("#listData@(itemName) button[name='Delete@(itemName)'][data-tempps-id]").off("click").on("click", function () {
                    Datas@(itemName).Delete@(itemName)(this);
                });

                $("#listData@(itemName) a[name='DeleteDetail@(itemName)'][data-temppsdetail-id]").off("click").on("click", function () {
                    Datas@(itemName).DeleteDetail@(itemName)(this);
                });

                $("#listData@(itemName) input[name='chkStatus@(itemName)'][data-tempps-id]").off("change").on("change", function () {
                    Datas@(itemName).StatusSwitch@(itemName)(this);
                });

                $("#listData@(itemName) input[name='chkRequired@(itemName)'][data-tempps-id]").off("change").on("change", function () {
                    Datas@(itemName).RequiredSwitch@(itemName)(this);
                });

                //控制項類型切換
                $(`#listData@(itemName) div[name="tblMain@(itemName)"] select[name="cboControlType@(itemName)"]`).off("change").on("change", function () {
                    Datas@(itemName).UpdateControlType@(itemName)(this);
                });

                //名稱變更
                $(`#listData@(itemName) input[name="txtSpecName@(itemName)"], #listData@(itemName) input[name="txtSpecEName@(itemName)"]`).off("change").on("change", function (e) {
                    Datas@(itemName).UpdateTemplateProdSpec@(itemName)(this);
                });

                //特徵名稱變更
                $(`#listData@(itemName) input[name="txtFeatureName@(itemName)"]`).off("change").on("change", function (e) {
                    Datas@(itemName).UpdateTemplateProdSpecDetail@(itemName)(this);
                });
            });

            addMethod(this, "SetEffects@(itemName)", function (t) {
                let targetSelector = [`#listData@(itemName)`];
                $.each(targetSelector, function (i, selector) {
                    $(`${selector} .sideBar`).off('click').on('click', function () {
                        SwitchSideVisible@(itemName) (t, selector, this);
                    });
                });
            });
        }

        function DataControl@(itemName)() {
            addMethod(this, "UpdateTemplateProdSpecSort@(itemName)", function (t, e) {
                console.log($(t).sortable("toArray", { attribute: 'id' }).join());

                let targetUrl = '@Url.Action("UpdateTemplateProdSpecSort", "RequestForInformation")';
                let postData = {
                    "ProTypeGroupId": $("#ProTypeGroupId").val(),
                    "SortList": $(t).sortable("toArray", { attribute: 'id' }).join()
                };

                let result = DataAccess.Update(targetUrl, postData, false, true);

                if (result) {
                    Query@(itemName)();
                }
            });

            addMethod(this, "UpdateTemplateProdSpecDetailSort@(itemName)", function (t, e) {
                console.log($(t).sortable("toArray", { attribute: 'id' }).join());

                let tempProdSpecId = $(e).data(`tempps-id`);

                let targetUrl = '@Url.Action("UpdateTemplateProdSpecDetailSort", "RequestForInformation")';
                let postData = {
                    "TempProdSpecId": tempProdSpecId,
                    "SortList": $(t).sortable("toArray", { attribute: 'id' }).join()
                };

                let result = DataAccess.Update(targetUrl, postData, false, true);

                if (result) {
                    GetData@(itemName)(tempProdSpecId);
                }
            });

            addMethod(this, "UpdateControlType@(itemName)", function (e) {
                let tempProdSpecId = $(e).data(`tempps-id`);

                let targetUrl = '@Url.Action("UpdateTemplateProdSpecControlType", "RequestForInformation")';
                let postData = {
                    "TempProdSpecId": tempProdSpecId,
                    "ControlType": e.value
                };

                let result = DataAccess.Update(targetUrl, postData, false, true);

                if (result) {
                    GetData@(itemName)(tempProdSpecId);
                }
            });

            addMethod(this, "UpdateTemplateProdSpec@(itemName)", function (e) {
                let tempProdSpecId = $(e).data('tempps-id');

                let targetUrl = "@Url.Action("UpdateTemplateProdSpec", "RequestForInformation")";
                let postData = {
                    "TempProdSpecId": tempProdSpecId,
                    "SpecName": $(`#txtSpecName@(itemName)-${tempProdSpecId}`).val(),
                    "SpecEName": $(`#txtSpecEName@(itemName)-${tempProdSpecId}`).val(),
                }

                let result = DataAccess.Update(targetUrl, postData, false, true);

                if (result) {
                    GetData@(itemName)(tempProdSpecId);
                }
            });

            addMethod(this, "UpdateTemplateProdSpecDetail@(itemName)", function (e) {
                let TempProdSpecId = $(e).data('tempps-id');
                let TempPsDetailId = $(e).data('temppsdetail-id');

                let targetUrl = "@Url.Action("UpdateTemplateProdSpecDetail", "RequestForInformation")";
                let result = DataAccess.Update(targetUrl,
                    {
                        TempPsDetailId,
                        FeatureName: $(`#txtFeatureName@(itemName)-${TempPsDetailId}`).val()
                    }, false, true);

                if (result) {
                    GetData@(itemName)(TempProdSpecId);
                }
            });

            addMethod(this, "StatusSwitch@(itemName)", function (e) {
                var TempProdSpecId = $(e).data("tempps-id");

                let targetUrl = "@Url.Action("UpdateTemplateProdSpecStatus", "RequestForInformation")";
                let result = DataAccess.Update(targetUrl, { TempProdSpecId } , false, true);

                if (result) {
                    GetData@(itemName)(TempProdSpecId);
                }
            });

            addMethod(this, "RequiredSwitch@(itemName)", function (e) {
                var TempProdSpecId = $(e).data("tempps-id");

                let targetUrl = "@Url.Action("UpdateTemplateProdSpecRequired", "RequestForInformation")";
                let result = DataAccess.Update(targetUrl, { TempProdSpecId } , false, true);

                if (result) {
                    GetData@(itemName)(TempProdSpecId);
                }
            });

            addMethod(this, "Delete@(itemName)", function (e) {
                var TempProdSpecId = $(e).data("tempps-id");
                let row_name = $(`#txtSpecName@(itemName)-${TempProdSpecId}`).val();

                swal.fire({
                    titleText: `確認要刪除${row_name}嗎?`,
                    text: "此動作無法復原，請確認是否要執行!",
                    icon: "warning",
                    allowOutsideClick: false,
                    allowEscapeKey: false,
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        let targetUrl = "@Url.Action("DeleteTemplateProdSpec", "RequestForInformation")";
                        let result = DataAccess.Delete(targetUrl, { TempProdSpecId } , false, true);

                        if (result) {
                            Query@(itemName)();
                        }
                    }
                });
            });

            addMethod(this, "DeleteDetail@(itemName)", function (e) {
                let TempProdSpecId = $(e).data('tempps-id');
                var TempPsDetailId = $(e).data("temppsdetail-id");
                let row_name = $(`#txtFeatureName@(itemName)-${TempPsDetailId}`).val();

                swal.fire({
                    titleText: `確認要刪除${row_name}嗎?`,
                    text: "此動作無法復原，請確認是否要執行!",
                    icon: "warning",
                    allowOutsideClick: false,
                    allowEscapeKey: false,
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        let targetUrl = "@Url.Action("DeleteTemplateProdSpecDetail", "RequestForInformation")";
                        let result = DataAccess.Delete(targetUrl, { TempPsDetailId } , false, true);

                        if (result) {
                            GetData@(itemName)(TempProdSpecId);
                        }
                    }
                });
            });
        }

        //#region 切換特徵編輯式窗顯示
        function SwitchSideVisible@(itemName) (t, s, e) {
            let TempProdSpecId = $(e).data(`tempps-id`);
            let activeElement = $(`${s} #${TempProdSpecId} .iCard-body`);
            let nowStatus = $(`${s} #sideStatus@(itemName)-${TempProdSpecId}`); //紀錄當前狀態

            if (activeElement.hasClass(`active`)) {
                activeElement.slideUp(t, function () {
                    $(this).removeClass('active');
                    $(e).addClass('openBar').prop(`title`, `展開`);
                });
                nowStatus.val('');
                $(e).find('i').prop('class', 'fas fa-plus-square');
            }
            else {
                activeElement.slideDown(t, function () {
                    $(this).addClass('active');
                });
                nowStatus.val('active');
                $(e).removeClass('openBar').prop(`title`, `收折`);
                $(e).find('i').prop('class', 'far fa-minus-square');
            }
        }
        //#endregion

        function SetSideVisible@(itemName) (t, s, e) {
            let TempProdSpecId = $(e).data(`tempps-id`);
            let activeElement = $(`${s} #${TempProdSpecId} .iCard-body`);
            let nowStatus = $(`${s} #sideStatus@(itemName)-${TempProdSpecId}`); //紀錄當前狀態

            if (nowStatus.val() != `active`) {
                activeElement.slideUp(t, function () {
                    $(this).removeClass('active');
                    $(e).addClass('openBar').prop(`title`, `展開`);
                });
                nowStatus.val('');
                $(e).find('i').prop('class', 'fas fa-plus-square');
            }
            else {
                activeElement.slideDown(t, function () {
                    $(this).addClass('active');
                });
                nowStatus.val('active');
                $(e).removeClass('openBar').prop(`title`, `收折`);
                $(e).find('i').prop('class', 'far fa-minus-square');
            }
        }

        function SetProdSpecDefault@(itemName)(TempProdSpecId, controlType, source) {
            let html = ``;
            let hasOther;

            if (source) {
                let jsonData = JSON.parse(source);
                hasOther = jsonData.find(f => f.DataType === 'O'); //找出是否已包含其他選項
            }

            switch (controlType) {
                case 'C':
                case 'R':
                    if (!hasOther) {
                        html += `<div class="col-12 mb-3">
                                    <div class="row">
                                        <button type="button" class="btn btn-sm primary" onclick="SetNewDetail@(itemName)(${TempProdSpecId}, '')">新增選項</button>
                                        <button type="button" class="btn btn-sm secondary" onclick="SetNewDetail@(itemName)(${TempProdSpecId}, 'O')">新增「其他」</button>
                                    </div>
                                </div>`
                    }
                    else {
                        html += `<div class="col-12 mb-3">
                                    <div class="row">
                                        <button type="button" class="btn btn-sm primary" onclick="SetNewDetail@(itemName)(${TempProdSpecId}, '')">新增選項</button>
                                    </div>
                                </div>`
                    }
                    break;
                default:
                    html += `<div class="col-12 mb-3">
                                <div class="row">
                                    <button type="button" class="btn btn-sm primary" onclick="SetNewDetail@(itemName)(${TempProdSpecId}, '')">新增選項</button>
                                </div>
                            </div>`
                    break;
            }

            return html;
        }

        function SetProdSpec@(itemName)(item) {
            let html = ``;

            let cboControlType = $(`#cboControlType@(itemName)`).clone();
            cboControlType.val(item.ControlType).find(':selected').attr('selected', true);

            html = `<div name="tblMain@(itemName)" class="iCard-header">
                        <div class="row sortRow">
                            <div class="col-6"><i class="fas fa-arrows-alt sort-handle">排序</i></div>
                            <div class="col-6 sort-number text-right">#${item.SortNumber}</div>
                        </div>
                        <div class="row">
                            <div class="col-8 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text">項目種類</span></div>
                                    <input type="text" class="form-control" id="txtSpecName@(itemName)-${item.TempProdSpecId}" name="txtSpecName@(itemName)" data-tempps-id="${item.TempProdSpecId}"
                                        placeholder="請輸入項目名稱" data-msg-required="請輸入項目名稱" data-rule-required="true"
                                        data-msg-maxlength="必須少於 100 個字元" maxlength="100" value="${item.SpecName}">
                                </div>
                            </div>
                            <div class="col-4"><select class="form-control" id="cboControlType@(itemName)-${item.TempProdSpecId}" name="cboControlType@(itemName)" data-tempps-id="${item.TempProdSpecId}">${cboControlType.html()}</select></div>
                        </div>
                        <div class="row">
                            <div class="col-8 mb-3">
                                <div class="input-group">
                                    <div class="input-group-prepend"><span class="input-group-text">項目種類</span></div>
                                    <input type="text" class="form-control" id="txtSpecEName@(itemName)-${item.TempProdSpecId}" name="txtSpecEName@(itemName)" data-tempps-id="${item.TempProdSpecId}"
                                        data-msg-maxlength="必須少於 100 個字元" maxlength="100" value="${item.SpecEName}">
                                </div>
                            </div>
                            <div class="col-4 text-right">
                                <input type="checkbox" name="chkStatus@(itemName)" class="auth-update" data-tempps-id="${item.TempProdSpecId}" ${(item.Status == `A` ? `checked` : ``)} />
                                <div>
                                    <i style="color:blue">項目數量：${item.FeatureCount}</i>
                                    <span class="sideBar" data-toggle="tooltip" data-tempps-id="${item.TempProdSpecId}" title="展開"><i class="fas fa-plus-square"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="iCard-body text-secondary">
                        <div id="tblDetail@(itemName)-${item.TempProdSpecId}" name="tblDetail@(itemName)">
                            ${SetProdSpecDetail@(itemName)(item.TempProdSpecId, item.ControlType, item.TempProdSpecDetail)}
                        </div>
                        <div id="tblDefault@(itemName)-${item.TempProdSpecId}" name="tblDefault@(itemName)">
                            <div id="-1" class="col-12 mb-3"></div>
                            ${SetProdSpecDefault@(itemName)(item.TempProdSpecId, item.ControlType, item.TempProdSpecDetail)}
                        </div>
                    </div>
                    <div class="card-footer bg-transparent border-success">
                        <div class="row">
                            <div class="col-6">
                                <button type="button" name="Delete@(itemName)" class="btn btn-sm btn-outline-danger auth-delete" data-tempps-id="${item.TempProdSpecId}"><i class="far fa-trash-alt"></i>刪除</button>
                            </div>
                            <div class="col-6 text-right">
                                <input type="checkbox" name="chkRequired@(itemName)" class="auth-update" data-tempps-id="${item.TempProdSpecId}" ${(item.Required == 1 ? `checked` : ``)} />
                            </div>
                        </div>
                    </div>`;

            return html;
        }

        function SetProdSpecDetail@(itemName)(TempProdSpecId, controlType, source) {
            let html = '';

            if (source) {
                let jsonData = JSON.parse(source);

                $.each(jsonData, function (i, item) {
                    switch (controlType) {
                        case 'C':
                            html += `<div id=${item.TempPsDetailId} class="col-12 mb-3" data-tempps-id="${TempProdSpecId}" data-temppsdetail-id="${item.TempPsDetailId}">
                                        <div class="row">
                                            <i class="far fa-ellipsis-v sort-detail"></i>
                                            <span style="min-width:24px;">${i+1}. </span>
                                            <span class="read-control-icon"><i class="far fa-square"></i></span>
                                            <input type="text" class="form-control detail-input" id="txtFeatureName@(itemName)-${item.TempPsDetailId}" name="txtFeatureName@(itemName)" data-tempps-id="${TempProdSpecId}" data-temppsdetail-id="${item.TempPsDetailId}" value="${item.FeatureName}" ${item.DataType == `O` ? `disabled` : ``}>
                                            <a href="javascript:void(0);" name="DeleteDetail@(itemName)" data-tempps-id="${TempProdSpecId}" data-temppsdetail-id="${item.TempPsDetailId}"><span class="fas fa-times" style="color: #f34;"></span></a>
                                        </div>
                                    </div>`;
                            break;
                        case 'D':
                            html += `<div id=${item.TempPsDetailId} class="col-12 mb-3" data-tempps-id="${TempProdSpecId}" data-temppsdetail-id="${item.TempPsDetailId}">
                                        <div class="row">
                                            <i class="far fa-ellipsis-v sort-detail"></i>
                                            <span style="min-width:24px;">${i+1}. </span>
                                            <span class="read-control-title">選項名稱</span>
                                            <input type="text" class="form-control detail-input" id="txtFeatureName@(itemName)-${item.TempPsDetailId}" name="txtFeatureName@(itemName)" data-tempps-id="${TempProdSpecId}" data-temppsdetail-id="${item.TempPsDetailId}" value="${item.FeatureName}" ${item.DataType == `O` ? `disabled` : ``}>
                                            <a href="javascript:void(0);" name="DeleteDetail@(itemName)" data-tempps-id="${TempProdSpecId}" data-temppsdetail-id="${item.TempPsDetailId}"><span class="fas fa-times" style="color: #f34;"></span></a>
                                        </div>
                                    </div>`;
                            break;
                        case 'R':
                            html += `<div id=${item.TempPsDetailId} class="col-12 mb-3" data-tempps-id="${TempProdSpecId}" data-temppsdetail-id="${item.TempPsDetailId}">
                                        <div class="row">
                                            <i class="far fa-ellipsis-v sort-detail"></i>
                                            <span style="min-width:24px;">${i + 1}. </span>
                                            <span class="read-control-icon"><i class="far fa-circle"></i></span>
                                            <input type="text" class="form-control detail-input" id="txtFeatureName@(itemName)-${item.TempPsDetailId}" name="txtFeatureName@(itemName)" data-tempps-id="${TempProdSpecId}" data-temppsdetail-id="${item.TempPsDetailId}" value="${item.FeatureName}" ${item.DataType == `O` ? `disabled` : ``}>
                                            <a href="javascript:void(0);" name="DeleteDetail@(itemName)" data-tempps-id="${TempProdSpecId}" data-temppsdetail-id="${item.TempPsDetailId}"><span class="fas fa-times" style="color: #f34;"></span></a>
                                        </div>
                                    </div>`;
                            break;
                        case 'T':
                        case 'A':
                            html += `<div id=${item.TempPsDetailId} class="col-12 mb-3" data-tempps-id="${TempProdSpecId}" data-temppsdetail-id="${item.TempPsDetailId}">
                                        <div class="row">
                                            <i class="far fa-ellipsis-v sort-detail"></i>
                                            <span style="min-width:24px;">${i+1}. </span>
                                            <span class="read-control-title">欄位名稱</span>
                                            <input type="text" class="form-control detail-input" id="txtFeatureName@(itemName)-${item.TempPsDetailId}" name="txtFeatureName@(itemName)" data-tempps-id="${TempProdSpecId}" data-temppsdetail-id="${item.TempPsDetailId}" value="${item.FeatureName}" ${item.DataType == `O` ? `disabled` : ``}>
                                            <a href="javascript:void(0);" name="DeleteDetail@(itemName)" data-tempps-id="${TempProdSpecId}" data-temppsdetail-id="${item.TempPsDetailId}"><span class="fas fa-times" style="color: #f34;"></span></a>
                                        </div>
                                    </div>`;
                            break;
                    }
                });
            }
            return html;
        }

        function SetNewDetail@(itemName)(TempProdSpecId, dataType) {
            let html = ``;

            switch (dataType) {
                case 'O':
                    html = `<div class="row">
                                <span class="fas fa-plus new-detail-icon text-right"></span>
                                <input type="hidden" id="txtDataType@(itemName)-${TempProdSpecId}" name="txtDataType@(itemName)" value="${dataType}" />
                                <input type="text" class="form-control detail-input" id="txtFeatureName@(itemName)-${TempProdSpecId}" name="txtFeatureName@(itemName)" value="其他" disabled>
                                <a href="javascript:void(0);" id="newRow@(itemName)-${TempProdSpecId}" data-tempps-id="${TempProdSpecId}" data-temppsdetail-id="-1"><span class="fas fa-check" style="color: #070;"></span></a>
                                <a href="javascript:void(0);" id="closeNewRow@(itemName)-${TempProdSpecId}" class="closeNewRow" data-tempps-id="${TempProdSpecId}"><span class="fas fa-times" style="color: #f34;"></span></a>
                            </div>`
                    break;
                default:
                    html = `<div class="row">
                                <span class="fas fa-plus new-detail-icon text-right"></span>
                                <input type="text" class="form-control detail-input" id="txtFeatureName@(itemName)-${TempProdSpecId}" name="txtFeatureName@(itemName)">
                                <a href="javascript:void(0);" id="newRow@(itemName)-${TempProdSpecId}" data-tempps-id="${TempProdSpecId}" data-temppsdetail-id="-1"><span class="fas fa-check" style="color: #070;"></span></a>
                                <a href="javascript:void(0);" id="closeNewRow@(itemName)-${TempProdSpecId}" class="closeNewRow" data-tempps-id="${TempProdSpecId}"><span class="fas fa-times" style="color: #f34;"></span></a>
                            </div>`
                    break;
            }

            $(`#tblDefault@(itemName)-${TempProdSpecId} div[id="-1"]`).html(html);
            $(`#tblDefault@(itemName)-${TempProdSpecId} #newRow@(itemName)-${TempProdSpecId}`).click(SaveDetail@(itemName));
            $(`#tblDefault@(itemName)-${TempProdSpecId} #closeNewRow@(itemName)-${TempProdSpecId}`).click(CloseNewRow@(itemName));
        }

        function Edit@(itemName)() {
            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");

            $(`#cboControlType@(itemName)Box`).html($(`#tempControlType@(itemName)`).html()); //複製下拉選單

            $(`#editData@(itemName) input[name='chkStatus@(itemName)'], #editData@(itemName) input[name='chkRequired@(itemName)']`).change(function () {
                let checked = this.checked;
                if (checked) $(`#editData@(itemName) input[name="${this.name}"]`).attr('checked', true);
                else $(`#editData@(itemName) input[name="${this.name}"]`).removeAttr('checked', true);
            });
        }

        function Save@(itemName)(TempProdSpecId) {
            if ($(objForm@(itemName)).valid()) {
                if (TempProdSpecId <= 0) {
                    let targetUrl = "@Url.Action("AddTemplateProdSpec", "RequestForInformation")";
                    let data = DataAccess.EditContinued(targetUrl,
                        {
                            ProTypeGroupId: $("#ProTypeGroupId").val(),
                            SpecName: $(`${objForm@(itemName)} #txtSpecName@(itemName)`).val(),
                            SpecEName: $(`${objForm@(itemName)} #txtSpecEName@(itemName)`).val(),
                            ControlType: $(`${objForm@(itemName)} #cboControlType@(itemName) :selected`).val(),
                            Required: $(`${objForm@(itemName)} input[name="chkRequired@(itemName)"]`).prop('checked') ? `1` : `0`,
                            Status: $(`${objForm@(itemName)} input[name="chkStatus@(itemName)"]`).prop('checked') ? `A` : `S`
                        }, false);

                    if (data) {
                        TempProdSpecId = data.result.TempProdSpecId;
                        ReturnById@(itemName)(TempProdSpecId); //查詢此規格資料 by TempProdSpecId

                        //focus 特效
                        $(`#listData@(itemName)`).animate({
                            scrollTop: $(`#${TempProdSpecId}`).offset().top
                        }, 300);
                        $(`#listData@(itemName) #${TempProdSpecId}`).removeClass(`border-success`).addClass(`border-focus`);
                        $(`#${TempProdSpecId}`).off('click').on('click', function () { $(this).removeClass(`border-focus`).addClass(`border-success`) });
                    }
                }
            }
        }

        function SaveDetail@(itemName)() {
            @*if ($(objForm@(itemName)).valid()) {}*@

            let TempProdSpecId = $(this).data("tempps-id");
            let TempPsDetailId = $(this).data("temppsdetail-id");

            if (TempPsDetailId <= 0) {
                let targetUrl = "@Url.Action("AddTemplateProdSpecDetail", "RequestForInformation")";
                let data = DataAccess.EditContinued(targetUrl,
                    {
                        TempProdSpecId: TempProdSpecId,
                        ControlType: $(`#tblDefault@(itemName)-${TempProdSpecId} #cboControl@(itemName)-${TempProdSpecId}:selected`).val(),
                        FeatureName: $(`#tblDefault@(itemName)-${TempProdSpecId} #txtFeatureName@(itemName)-${TempProdSpecId}`).val(),
                        DataType: $(`#tblDefault@(itemName)-${TempProdSpecId} #txtDataType@(itemName)-${TempProdSpecId}`).val(),
                        Description: "", //預留欄位
                    }, false);

                if (data) {
                    GetData@(itemName)(TempProdSpecId);
                }
            }
        }

        function CloseNewRow@(itemName)() {
            let TempProdSpecId = $(this).data("tempps-id");
            $(`#tblDefault@(itemName)-${TempProdSpecId} div[id="-1"]`).html('');
        }

        function Read@(itemName)(TempProdSpecId) {
            Edit@(itemName)(TempProdSpecId);
        }

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));
        }

        function ReturnById@(itemName)(TempProdSpecId) {
            $(`#TempProdSpecId`).val(TempProdSpecId);
            $(`#listData@(itemName) .read-hide`).show();

            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName)", "#editData@(itemName)");
            Query@(itemName)();
        }

        function Return@(itemName)() {
            $(`#TempProdSpecId`).val(-1); //列表頁需重置資料id
            $(`#listData@(itemName) .read-hide`).hide();

            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName)", "#editData@(itemName)");
            Query@(itemName)();
        }
</script>
)
