@using Business_Manager.Helpers
@{
    string parentName = "ProjectManagement";
    string itemName = "ViewProjectTask";
    string itemNameText = "專案任務";
}

@Html.Resource("css",
    @<style>
        .task-list .input-group-text {
            padding: 0 2px;
            margin: 0;
        }
        .task-list .form-control {
            padding: 0 2px;
            margin: 0;
        }
    </style>)

<div class="task-nav" id="nav@(itemName)">
    <div class="container">
        <div class="task-header">
            <a class="set nav-close" href="javascript:void(0);">
                <i class="fas fa-arrow-to-right"></i>
            </a>
            <div class="set-area">
                @*<a class="btn btn-sm add-link-task" href="javascript:void(0);"><i class="fas fa-save"></i>儲存並關閉</a>*@
                <a class="set nav-menu far fa-ellipsis-v" href="javascript:void(0);"></a>
                <ul class="set-block hide">
                    <li class="proj-auth-task-copy"><a class="copy-task" href="javascript:void(0);"><i class="fas fa-copy"></i>複製任務</a></li>
                    <li class="proj-auth-task-add"><a class="add-link-task" href="javascript:void(0);"><i class="fas fa-plus"></i>新增任務</a></li>
                    <li class="proj-auth-task-delete"><a class="delete-task" href="javascript:void(0);"><i class="fas fa-trash-alt"></i>刪除任務</a></li>
                </ul>
            </div>
        </div>

        <h1 class="task-title mb-3">
            <input type="text" class="form-control title-input" id="txtTaskName@(itemName)" name="txtTaskName@(itemName)" maxlength="50" autocomplete="off" placeholder="請輸入任務名稱" />
        </h1>

        <div class="task-box mb-3">
            <ul class="task-list-area">
                <li class="task-list">
                    <span class="title">專案名稱</span><span class="detail" id="desProjectName@(itemName)"></span>
                    <span name="task-request-file@(itemName)" style="float:right;">
                        <label class="col-form-label" for="chkRequiredFile@(itemName)">回報是否必傳附件?</label>&nbsp;<input type="checkbox" name="chkRequiredFile@(itemName)" />
                    </span>
                </li>
                <li class="task-list">
                    <span class="title">
                        任務途徑
                    </span>
                    <span class="detail" id="desParentTaskName@(itemName)"></span>
                </li>
                <li class="task-list proj-auth-task-update">
                    <span class="title">
                        參與人員
                    </span>
                    <span class="detail" id="desTaskUser@(itemName)"></span>
                    <a class="link update-task-member" href="javascript:void(0);">編輯成員</a>
                </li>
                <li class="task-list">
                    <span class="title">
                        任務描述
                    </span>
                    <input type="text" class="form-control detail-input" id="txtTaskDesc@(itemName)" name="txtTaskDesc@(itemName)" placeholder="請輸入任務描述"
                           maxlength="300" autocomplete="off" style="width: calc(100% - 81px);" />
                </li>
                <li class="task-list mb-3">
                    <span class="title">
                        回報頻率
                    </span>
                    <div class="time-block" style="width: calc(100% - 81px);">
                        <div class="input-group">
                            <input type="number" class="form-control text-right time-input" id="txtDayReplyFrequency@(itemName)" name="txtDayReplyFrequency@(itemName)" step="1" min="0" value="0" />
                            <span class="input-group-addon">天</span>
                            <input type="number" class="form-control text-right time-input" id="txtHourReplyFrequency@(itemName)" name="txtHourReplyFrequency@(itemName)" step="1" min="0" max="23" value="0" />
                            <span class="input-group-addon">小時</span>
                            <input type="number" class="form-control text-right time-input" id="txtMinuteReplyFrequency@(itemName)" name="txtMinuteReplyFrequency@(itemName)" step="1" min="0" max="59" value="0" />
                            <span class="input-group-addon">分</span>
                        </div>
                    </div>
                </li>

                <li class="task-list read-item">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">計畫時間</span>
                        </div>
                        <input type="text" class="form-control" id="txtPlannedStart@(itemName)" name="txtPlannedStart@(itemName)" style="width:95px;" disabled>
                        <div class="input-group-append">
                            <span class="input-group-text">至</span>
                        </div>
                        <input type="text" class="form-control" id="txtPlannedEnd@(itemName)" name="txtPlannedEnd@(itemName)" style="width:95px;" disabled>

                        <div class="input-group-append">
                            <span class="input-group-text">共</span>
                        </div>
                        <input class="form-control text-right" id="txtDayPlannedDuration@(itemName)" name="txtDayPlannedDuration@(itemName)" disabled>
                        <div class="input-group-append">
                            <span class="input-group-text">天</span>
                        </div>
                        <input class="form-control text-right" id="txtHourPlannedDuration@(itemName)" name="txtHourPlannedDuration@(itemName)" disabled>
                        <div class="input-group-append">
                            <span class="input-group-text">小時</span>
                        </div>
                        <input class="form-control text-right" id="txtMinutePlannedDuration@(itemName)" name="txtMinutePlannedDuration@(itemName)" disabled>
                        <div class="input-group-append">
                            <span class="input-group-text">分</span>
                        </div>
                    </div>
                </li>

                <li class="task-list edit-item">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="start-label">預計時間</span>
                        </div>
                        <input type="text" class="form-control detail-input" id="txtEstimateStart@(itemName)" name="txtEstimateStart@(itemName)" style="width:95px;" autocomplete="off">
                        <div class="input-group-append read-item">
                            <span class="input-group-text">至</span>
                        </div>
                        <input type="text" class="form-control read-item" id="txtEstimateEnd@(itemName)" name="txtEstimateEnd@(itemName)" style="width:95px;" disabled>

                        <div class="input-group-append">
                            <span class="input-group-text"> 共</span>
                        </div>
                        <input type="number" class="form-control text-right time-input" id="txtDayEstimateDuration@(itemName)" name="txtDayEstimateDuration@(itemName)" step="1" min="0" value="0" />
                        <div class="input-group-append">
                            <span class="input-group-text">天</span>
                        </div>
                        <input type="number" class="form-control text-right time-input" id="txtHourEstimateDuration@(itemName)" name="txtHourEstimateDuration@(itemName)" step="1" min="0" max="23" value="0" />
                        <div class="input-group-append">
                            <span class="input-group-text">小時</span>
                        </div>
                        <input type="number" class="form-control text-right time-input" id="txtMinuteEstimateDuration@(itemName)" name="txtMinuteEstimateDuration@(itemName)" step="1" min="0" max="59" value="0" />
                        <div class="input-group-append">
                            <span class="input-group-text">分</span>
                        </div>
                    </div>
                </li>

                <li class="task-list read-item">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">實際時間</span>
                        </div>
                        <input type="text" class="form-control" id="txtActualStart@(itemName)" name="txtActualStart@(itemName)" style="width:95px;" disabled>
                        <div class="input-group-append">
                            <span class="input-group-text">至</span>
                        </div>
                        <input type="text" class="form-control" id="txtActualEnd@(itemName)" name="txtActualEnd@(itemName)" style="width:95px;" disabled>

                        <div class="input-group-append">
                            <span class="input-group-text"> 共</span>
                        </div>
                        <input class="form-control text-right" id="txtDayActualDuration@(itemName)" name="txtDayActualDuration@(itemName)" disabled>
                        <div class="input-group-append">
                            <span class="input-group-text">天</span>
                        </div>
                        <input class="form-control text-right" id="txtHourActualDuration@(itemName)" name="txtHourActualDuration@(itemName)" disabled>
                        <div class="input-group-append">
                            <span class="input-group-text">小時</span>
                        </div>
                        <input class="form-control text-right" id="txtMinuteActualDuration@(itemName)" name="txtMinuteActualDuration@(itemName)" disabled>
                        <div class="input-group-append">
                            <span class="input-group-text">分</span>
                        </div>
                    </div>
                </li>

                @*<li class="task-list">
                    <span class="title">
                        計畫時間
                    </span>
                    <span class="detail" id="desPlanned@(itemName)">
                        2022-11-05 08:00&nbsp;<i class="fas fa-arrow-alt-right"></i>&nbsp;2022-11-10 08:00
                    </span>
                </li>
                <li class="task-list">
                    <span class="title">
                        預計時間
                    </span>
                    <span class="detail" id="desEstimate@(itemName)">
                        2022-11-05 08:00&nbsp;<i class="fas fa-arrow-alt-right"></i>&nbsp;2022-11-10 08:00
                    </span>
                </li>
                <li class="task-list">
                    <span class="title">
                        實際時間
                    </span>
                    <span class="detail" id="desActual@(itemName)">
                        2022-11-05 08:00&nbsp;<i class="fas fa-arrow-alt-right"></i>&nbsp;2022-11-10 08:00
                    </span>
                </li>
                <li class="task-list">
                    <span class="title">
                        回報倒數
                    </span>
                    <span class="detail" id="desReplyCountdown@(itemName)"></span>
                </li>*@
            </ul>
        </div>

        <div class="task-box proj-auth-task-reply">
            <div class="task-box-title">
                <h2>回報列表</h2>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="table-custom table-custom-sm">
                        <table class="table table-bordered table-striped table-sticky table-stack" id="tblReplyData@(itemName)" style="margin-top: 5px;">
                            <thead>
                                <tr>
                                    <th scope="col" style="min-width: 50px;">#</th>
                                    <th scope="col" style="min-width: 105px;">回報人員</th>
                                    <th scope="col" style="min-width: 145px;">回報時間</th>
                                    <th scope="col" style="min-width: 125px;">回報狀態</th>
                                    <th scope="col" style="min-width: 150px;">回報附件</th>
                                    <th scope="col" style="min-width: 150px;">延後時間</th>
                                    <th scope="col" style="min-width: 200px;">延後原因</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="pagination" id="pageReply@(itemName)"></div>
                </div>
            </div>
        </div>

        <div class="task-box proj-auth-file-manage">
            <div class="task-box-title">
                <h2>任務檔案(共用)</h2>
                <a class="link proj-auth-file-download" href="javascript:void(0);" onclick="Forbidden@(itemName)()">
                    <i class="far fa-arrow-alt-circle-down"></i>
                    全部下載
                </a>
            </div>
            <div class="row mb-2 proj-auth-file-upload">
                <div class="col-12">
                    <input type="file" id="fileProjectTask@(itemName)" name="fileProjectTask@(itemName)" multiple />
                    <input type="hidden" id="txtFileId@(itemName)" name="txtFileId@(itemName)" />
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="table-custom table-custom-sm">
                        <table class="table table-bordered table-striped table-sticky table-stack" id="tblFileData@(itemName)">
                            <thead>
                                <tr>
                                    <th scope="col" style="min-width: 50px;">#</th>
                                    <th scope="col" style="min-width: 250px;">檔案名稱</th>
                                    <th scope="col" style="min-width: 120px;">閱覽檔案等級</th>
                                    <th scope="col" style="min-width: 110px;">檔案類型</th>
                                    <th scope="col" style="min-width: 145px;">上傳時間</th>
                                    <th class="text-center" scope="col" style="min-width: 125px;">操作</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="pagination" id="pageFile@(itemName)"></div>
                </div>
            </div>
        </div>

        <div class="task-box">
            <div class="message-board">
                <textarea class="form-control message-text" id="txtTemplateDesc@(itemName)" name="txtTemplateDesc@(itemName)" rows="2" placeholder="請輸入訊息內容.." data-msg-required="請輸入要發送至MAMO的個人訊息" data-rule-required="true"></textarea>
                <div class="subtask-list" style="border-bottom:0;justify-content:flex-end;">
                    <a class="subtask-link" href="javascript:void(0);" onclick="Forbidden@(itemName)()" style="margin-right: 15px;"> <i class="far fa-paperclip"></i></a>
                    <a class="subtask-link" href="javascript:void(0);" onclick="Forbidden@(itemName)()" style="padding:5px 15px; background:#005bff; color:#fff;">發送至MAMO</a>
                </div>
            </div>
            @*<div class="message-board">
                <div><span>陳曉明</span><span style="margin-left:5px;margin-right:5px;">·</span><span style="color:#888;">1小時前</span></div>
                <div><p>任務第一階段已經完成，第二階段須注意的請看任務二。</p></div>
            </div>*@
        </div>
    </div>
</div>


@Html.Resource("js",
    @<script>
        let objForm@(itemName) = "#nav@(itemName)";
        @*let projectTaskId@(itemName) = `${objForm@(itemName)} #ProjectTaskId`;
        let parentTaskId@(itemName) = `${objForm@(itemName)} #ParentTaskId`;*@
        let taskType@(itemName) = "Project";

        let Tasks@(itemName) = new TaskControl@(itemName)();
        let Datas@(itemName) = new DataControl@(itemName)();

        @*let calendarPS@(itemName) = new dhx.Calendar(null, calendarSetting);
        let popupPS@(itemName) = new dhx.Popup();
        let dateInputPS@(itemName) = document.getElementById(`txtEstimateStart@(itemName)`);*@

        let config@(itemName) = {};

        let objReplyPage@(itemName) = {
            pageIndex: 0,
            pageSize: 10
        };
        let objFilePage@(itemName) = {
            pageIndex: 0,
            pageSize: 10
        };
        let timerInterval@(itemName);

        $(function () {
            let currentDate = new Date();
            Tasks@(itemName).DatePicker@(itemName)("txtEstimateStart@(itemName)", currentDate);
        });

        function Add@(itemName)(config) {
            @*$(projectTaskId@(itemName)).val(-1);
            $(parentTaskId@(itemName)).val(taskId);*@

            config@(itemName) = config;

            Tasks@(itemName).Initialize@(itemName)();
            Tasks@(itemName).LoadData@(itemName)();

            $(`${objForm@(itemName)} .copy-task, ${objForm@(itemName)} .add-link-task, ${objForm@(itemName)} .delete-task`).hide();

            if (editFlagProjectTaskGantt == 1) {
                $(`${objForm@(itemName)} .read-item`).hide();
                $(`${objForm@(itemName)} .title-input, ${objForm@(itemName)} .detail-input, ${objForm@(itemName)} .time-input`).removeAttr(`disabled`);
            }
            else {
                $(`${objForm@(itemName)} .read-item`).show();
                $(`${objForm@(itemName)} .title-input, ${objForm@(itemName)} .detail-input, ${objForm@(itemName)} .time-input`).attr(`disabled`, true);
            }

            ProjectAuthorityControl();
        }

        function Edit@(itemName)(config) {
            @*$(projectTaskId@(itemName)).val(taskId);
            $(parentTaskId@(itemName)).val(-1);*@

            config@(itemName) = config;

            Tasks@(itemName).Initialize@(itemName)();
            Tasks@(itemName).LoadData@(itemName)();

            ProjectAuthorityControl();
        }

        function Copy@(itemName)(config) {

            config@(itemName) = config;

            Datas@(itemName).CopyProjectTask@(itemName)();

            ProjectAuthorityControl();
        }

        function Delete@(itemName)(config) {

            config@(itemName) = config;

            Datas@(itemName).DeleteProjectTask@(itemName)();

            ProjectAuthorityControl();
        }

        function TaskControl@(itemName)() {
            addMethod(this, "Initialize@(itemName)", function () {
                $(objForm@(itemName)).addClass("active");

                @* DatePicker@(parentName)(calendarPS@(itemName), popupPS@(itemName), dateInputPS@(itemName));*@

                //#region 時間套件
                @*dhx.i18n.setLocale("calendar", calendarLocales);
                dhx.i18n.setLocale("timepicker", timepickerLocales);

                calendarPS@(itemName).destructor();
                calendarPS@(itemName) = new dhx.Calendar(null, calendarSetting);

                popupPS@(itemName).destructor();
                popupPS@(itemName) = new dhx.Popup();
                popupPS@(itemName).attach(calendarPS@(itemName));

                calendarPS@(itemName).events.on("change", function () {
                    dateInputPS@(itemName).value = calendarPS@(itemName).getValue();
                    dateInputPS@(itemName).dispatchEvent(eventChange);
                    popupPS@(itemName).hide();
                });

                let funcPS = function () {
                    popupPS@(itemName).show(dateInputPS@(itemName));
                };

                dateInputPS@(itemName).removeEventListener("click", funcPS, false);
                dateInputPS@(itemName).addEventListener("click", funcPS, false);*@
                //#endregion

                //#region 檔案上傳套件
                let uploadConfig = {
                    fileSelector: "#fileProjectTask@(itemName)",
                    targetSelector: "#txtFileId@(itemName)",
                    required: false,
                    uploadPath: "/Project/ProjectTaskFile",
                    maxFileCount: 5
                };

                let uploadSetting = {
                    theme: "fas",
                    language: "zh-TW",
                    showCaption: true,
                    showPreview: true,
                    showRemove: false,
                    showUpload: false,
                    showCancel: false,
                    uploadUrl: "/Web/Upload",
                    uploadAsync: true,
                    minFileCount: (uploadConfig.required ? 1 : 0),
                    maxFileCount: uploadConfig.maxFileCount,
                    validateInitialCount: true,
                    overwriteInitial: false,
                    initialPreviewAsData: true,
                    browseOnZoneClick: true,
                    uploadExtraData: {
                        savePath: uploadConfig.uploadPath,
                        isPreview: false
                    },
                    previewFileIconSettings: {
                        doc: '<i class="fas fa-file-word" style="color: #0078d7;"></i>',
                        docx: '<i class="fas fa-file-word" style="color: #0078d7;"></i>',
                        xls: '<i class="fas fa-file-excel" style="color: #1d6f42;"></i>',
                        xlsx: '<i class="fas fa-file-excel" style="color: #1d6f42;"></i>',
                        csv: '<i class="fas fa-file-csv" style="color: #1d6f42;"></i>',
                        ppt: '<i class="fas fa-file-powerpoint" style="color: #d04423"></i>',
                        pptx: '<i class="fas fa-file-powerpoint" style="color: #d04423"></i>'
                    }
                };

                $(uploadConfig.fileSelector).fileinput('destroy');
                $(uploadConfig.fileSelector).fileinput(uploadSetting)
                    .off('filebatchselected')
                    .on('filebatchselected', function (event, files) {
                        $(uploadConfig.fileSelector).fileinput("upload");
                    })
                    .off('fileuploaded')
                    .on('fileuploaded', function (event, previewId, index, fileId) {
                        let uploadPath = previewId.response.initialPreviewConfig[0]["key"];
                        $(uploadConfig.fileSelector).fileinput('clear');

                        let targetUrl = "@Url.Action("AddProjectTaskFile", "Project")";
                        let postData = {
                            ProjectTaskId: config@(itemName).ProjectTaskId,
                            FileId: uploadPath
                        };

                        let result = DataAccess.Add(targetUrl, postData, false, false);

                        if (result) {
                            Datas@(itemName).GetProjectTaskFile@(itemName)(objFilePage@(itemName));
                        }
                    });
                //#endregion

                $(`${objForm@(itemName)} .title-input, ${objForm@(itemName)} .detail-input, ${objForm@(itemName)} .time-input`).off("change");

                $(objForm@(itemName)).find(".nav-close").off("click").on("click", function (e) {
                    $(".task-nav").removeClass("active");
                });

                $(objForm@(itemName)).find(".nav-menu").off("click").on("click", function (e) {
                    $(objForm@(itemName)).find(".set-block").toggleClass("hide");
                });

                $(objForm@(itemName)).find(".manual-closed").off("click").on("click", function (e) {
                    Forbidden@(itemName)();
                });

                $(objForm@(itemName)).find(".update-task-member").off("click").on("click", function (e) {
                    PopViewProjectTaskUser(config@(itemName).ProjectTaskId, taskType@(itemName));
                });

                //複製任務
                $(objForm@(itemName)).find(".copy-task").off("click").on("click", function (e) {
                    Datas@(itemName).CopyProjectTask@(itemName)();
                });

                //新增任務
                $(objForm@(itemName)).find(".add-link-task").off("click").on("click", function (e) {
                    Add@(itemName)({ProjectTaskId: -1, ParentTaskId: config@(itemName).ProjectTaskId});
                });

                //刪除任務
                $(objForm@(itemName)).find(".delete-task").off("click").on("click", function (e) {
                    Datas@(itemName).DeleteProjectTask@(itemName)();
                });

                $("body").off("click").on("click", function (e) {
                    if ($(objForm@(itemName)).hasClass("active")) {
                        if (!$(e.target).parents().hasClass("task-nav")
                            && !$(e.target).hasClass("swal2-container")
                            && !$(e.target).hasClass("modal")
                            && !$(e.target).hasClass("file-drop-zone-title")
                            && !$(e.target).parents().hasClass("swal2-container")
                            && !$(e.target).parents().hasClass("select2-container")
                            && !$(e.target).parents().hasClass("modal")
                            && !$(e.target).parents().hasClass("dhx_popup")
                            && !$(e.target).parents().hasClass("dropdown-menu show")
                        ) {
                            $(".task-nav").removeClass("active");
                        }
                    }
                    if (!$(objForm@(itemName)).find(".set-block").hasClass("hide") && !$(e.target).hasClass("nav-menu")) {
                        if (!$(e.target).parents().hasClass("set-block")) {
                            $(".set-block").addClass("hide");
                        }
                    }
                });

                $(`${objForm@(itemName)} .title-input`).on("change", function (e) {
                    if (config@(itemName).ProjectTaskId <= 0) {
                        if (config@(itemName).ParentTaskId == "1.1") {
                            config@(itemName).ParentTaskId = -1;
                            Datas@(itemName).AddProjectTask@(itemName)();
                        }
                        else Datas@(itemName).AddProjectTask@(itemName)();
                    }
                    else Datas@(itemName).UpdateProjectTask@(itemName)();
                });

                $(`${objForm@(itemName)} .detail-input, ${objForm@(itemName)} .time-input`).on("change", function (e) {
                    if (config@(itemName).ProjectTaskId > 0)
                        Datas@(itemName).UpdateProjectTask@(itemName)();
                });

                $(`${objForm@(itemName)} input[name='chkRequiredFile@(itemName)']`).bootstrapToggle({
                    on: "是",
                    off: "否",
                    onstyle: "success",
                    offstyle: "info",
                    size: "mini",
                    width: "50px",
                    height: "20px",
                    style: "proj-auth-task-update"
                });
            });

            addMethod(this, "DatePicker@(itemName)", function (targetSelector, defaultDate) {
                let calendar = new dhx.Calendar(null, calendarSetting);
                let popup = new dhx.Popup();
                let dateInput = document.getElementById(targetSelector);

                popup.attach(calendar);

                if (defaultDate) {
                    calendar.setValue(defaultDate);
                    dateInput.value = calendar.getValue();
                }

                calendar.events.on("change", function () {
                    dateInput.value = calendar.getValue();
                    dateInput.dispatchEvent(eventChange);
                    popup.hide();
                });

                let func = function () {
                    popup.show(dateInput);
                };

                dateInput.removeEventListener("click", func, false);
                dateInput.addEventListener("click", func, false);
            });

            addMethod(this, "LoadData@(itemName)", function () {
                $(`${objForm@(itemName)} .detail`).html("");
                $(`${objForm@(itemName)} .title-input, ${objForm@(itemName)} .detail-input, ${objForm@(itemName)} .time-input, ${objForm@(itemName)} .message-text`).val("");

                Datas@(itemName).GetProject@(itemName)();

                if (config@(itemName).ProjectTaskId > 0) {
                    Datas@(itemName).GetProjectTask@(itemName)();
                    Datas@(itemName).GetTaskReply@(itemName)(objReplyPage@(itemName));
                    Datas@(itemName).GetProjectTaskFile@(itemName)(objFilePage@(itemName));
                }

                //非最外層才取得上層任務資訊
                if (config@(itemName).ParentTaskId != "1.1" && config@(itemName).ProjectTaskId > 0) {
                    Datas@(itemName).GetParentTask@(itemName)();
                }

                //#region 按鈕事件新增方式
                @*//插入任務
                if (parentTaskId == '1.1') {
                    //於主專案層插入任務
                    $(`${objForm@(itemName)} .add-link-task`).show().off("click").on("click", function (e) {
                        Datas@(itemName).AddProjectTask@(itemName)(-1);
                    });
                    $(`${objForm@(itemName)} .title-input, ${objForm@(itemName)} .detail-input, ${objForm@(itemName)} .time-input`).removeAttr(`disabled`);
                }
                else {
                    //於任務層插入任務
                    if (parentTaskId > 0) {
                        Datas@(itemName).GetParentTask@(itemName)(); //取得上層資訊
                        $(`${objForm@(itemName)} .add-link-task`).show().off("click").on("click", function (e) {
                            Datas@(itemName).AddProjectTask@(itemName)(parentTaskId);
                        });
                        $(`${objForm@(itemName)} .title-input, ${objForm@(itemName)} .detail-input, ${objForm@(itemName)} .time-input`).removeAttr(`disabled`);
                    }
                }

                //查看任務
                let taskId = parseInt($(projectTaskId@(itemName)).val());
                if (taskId > 0) {
                    Datas@(itemName).GetProjectTask@(itemName)();
                    Datas@(itemName).GetTaskReply@(itemName)(objReplyPage@(itemName));
                    Datas@(itemName).GetProjectTaskFile@(itemName)(objFilePage@(itemName));
                    $(`${objForm@(itemName)} .add-link-task`).off("click").on("click", function (e) {
                        Datas@(itemName).UpdateProjectTask@(itemName)();
                    });
                }*@
                //#endregion
            });

            addMethod(this, "LoadViewData@(itemName)", function () {
                switch (viewMode) {
                    case "ProjectTask":
                        InitDataProjectTask();
                        break;
                    case "ProjectTaskGantt":
                        InitDataProjectTaskGantt();
                        EditProjectTaskGantt();
                        break;
                }
                DelayFn(function () {
                    ScrollPosition(0, GetElementPosition(`#tab${viewMode}`).y - 63);
                    $(".smart-scroll").removeClass("scrolled-up").addClass("scrolled-down");
                }, 750);
            });
        }

        function DataControl@(itemName)() {
            addMethod(this, "GetProject@(itemName)", function () {
                let data = DataAccess.Get("@Url.Action("GetProject", "Project")", { ProjectId: $("#ProjectId").val() }, false);
                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        if (item.ProjectAttribute == "M") $("span[name='task-request-file@(itemName)']").show();
                        else $("span[name='task-request-file@(itemName)']").hide();
                        $("#desProjectName@(itemName)").html(item.ProjectName);
                    });
                }
                else alert(data.msg, "alert", 0);
            });

            addMethod(this, "GetParentTask@(itemName)", function () {
                if (config@(itemName).ParentTaskId > 0) {
                    let data = DataAccess.Get("@Url.Action("GetProjectTask", "Project")", { ProjectTaskId: config@(itemName).ParentTaskId }, false);

                    if (data.status == "success") {
                        $.each(data.result, function (i, item) {
                            let parentTaskName = (item.ParentTaskName ? `${item.ParentTaskName} >` : ``) + item.TaskName;
                            $("#desParentTaskName@(itemName)").html(parentTaskName);
                            $(`#txtEstimateStart@(itemName)`).val(item.LastEnd)
                        });
                    } else {
                        alert(data.msg, "alert", 0);
                    }
                }
            });

            addMethod(this, "GetProjectTask@(itemName)", function () {
                let data = DataAccess.Get("@Url.Action("GetProjectTask", "Project")", { ProjectTaskId: config@(itemName).ProjectTaskId }, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        $("#txtTaskName@(itemName)").val(item.TaskName);
                        $("#desParentTaskName@(itemName)").html(item.ParentTaskName);
                        $("#desTaskUser@(itemName)").html(item.TaskUser);
                        $("#txtTaskDesc@(itemName)").val(item.TaskDesc);

                        let replyFrequency = parseInt(item.ReplyFrequency);
                        let days = parseInt(replyFrequency / 60 / 24);
                        let hours = parseInt((replyFrequency % (60 * 24)) / 60);
                        let minutes = parseInt(replyFrequency % 60);

                        $("#txtDayReplyFrequency@(itemName)").val(days);
                        $("#txtHourReplyFrequency@(itemName)").val(hours);
                        $("#txtMinuteReplyFrequency@(itemName)").val(minutes);

                        let duration = parseInt(item.PlannedDuration);
                        days = parseInt(duration / 60 / 24);
                        hours = parseInt((duration - days * 24 * 60) / 60);
                        minutes = parseInt(duration - (days * 24 * 60) - (hours * 60));

                        $(`#txtPlannedStart@(itemName)`).val(item.PlannedStart);
                        $(`#txtPlannedEnd@(itemName)`).val(item.PlannedEnd);
                        $("#txtDayPlannedDuration@(itemName)").val(days);
                        $("#txtHourPlannedDuration@(itemName)").val(hours);
                        $("#txtMinutePlannedDuration@(itemName)").val(minutes);

                        @*calendarPS@(itemName).setValue(item.EstimateStart); //日期選擇預設值*@

                        duration = parseInt(item.EstimateDuration);
                        days = parseInt(duration / 60 / 24);
                        hours = parseInt((duration - days * 24 * 60) / 60);
                        minutes = parseInt(duration - (days * 24 * 60) - (hours * 60));
                        $(`#txtEstimateStart@(itemName)`).val(item.EstimateStart);
                        $(`#txtEstimateEnd@(itemName)`).val(item.EstimateEnd);
                        $("#txtDayEstimateDuration@(itemName)").val(days);
                        $("#txtHourEstimateDuration@(itemName)").val(hours);
                        $("#txtMinuteEstimateDuration@(itemName)").val(minutes);

                        duration = parseInt(item.ActualDuration);
                        days = parseInt(duration / 60 / 24);
                        hours = parseInt((duration - days * 24 * 60) / 60);
                        minutes = parseInt(duration - (days * 24 * 60) - (hours * 60));
                        $("#txtActualStart@(itemName)").val(item.ActualStart);
                        $("#txtActualEnd@(itemName)").val(item.ActualEnd);
                        $("#txtDayActualDuration@(itemName)").val(days);
                        $("#txtHourActualDuration@(itemName)").val(hours);
                        $("#txtMinuteActualDuration@(itemName)").val(minutes);

                        $(`${objForm@(itemName)} input[name='chkRequiredFile@(itemName)']`).off("change").prop("checked", item.RequiredFile).bootstrapToggle(item.RequiredFile?"on":"off");

                        $(`${objForm@(itemName)} input[name='chkRequiredFile@(itemName)']`).on("change", function (e) {
                            Datas@(itemName).UpdateProjectTask@(itemName)();
                        });

                        if (editFlagProjectTaskGantt == 1) {
                            $(`${objForm@(itemName)} .read-item`).hide();
                            $(`${objForm@(itemName)} .copy-task, ${objForm@(itemName)} .add-link-task, ${objForm@(itemName)} .delete-task`).show();

                            switch (item.TaskStatus) {
                                case "B":
                                    $(`${objForm@(itemName)} .title-input, ${objForm@(itemName)} .detail-input, ${objForm@(itemName)} .time-input`).removeAttr(`disabled`);
                                    break;
                                case "I":
                                    $(`${objForm@(itemName)} .delete-task`).hide();
                                    $(`${objForm@(itemName)} .title-input, ${objForm@(itemName)} .detail-input, ${objForm@(itemName)} .time-input`).attr(`disabled`, true);
                                    break;
                                case "T":
                                    break;
                                case "C":
                                    @*$(`${objForm@(itemName)} .add-link-task, ${objForm@(itemName)} .delete-task`).hide();*@
                                    $(`${objForm@(itemName)} .delete-task`).hide();
                                    $(`${objForm@(itemName)} .title-input, ${objForm@(itemName)} .detail-input, ${objForm@(itemName)} .time-input`).attr(`disabled`, true);
                                    break;
                            }
                        }
                        else {
                            $(`${objForm@(itemName)} .read-item`).show();
                            $(`${objForm@(itemName)} .copy-task, ${objForm@(itemName)} .add-link-task, ${objForm@(itemName)} .delete-task`).hide();
                            $(`${objForm@(itemName)} .title-input, ${objForm@(itemName)} .detail-input, ${objForm@(itemName)} .time-input`).attr(`disabled`, true);
                        }

                        if (!editFlagProjectTaskGantt) { $(`${objForm@(itemName)} #start-label`).text(`預計時間`); $(`${objForm@(itemName)} .time-input`).removeAttr(`type`);}
                        else {$(`${objForm@(itemName)} #start-label`).text(`預計開始時間`); $(`${objForm@(itemName)} .time-input`).attr(`type`,`number`); }
                    });
                } else {
                    alert(data.msg, "alert", 0);
                }
            });

            addMethod(this, "GetTaskReply@(itemName)", function (objPage) {
                let innerHtml = '';
                let pageCount = 0;

                let targetUrl = "@Url.Action("GetTaskReply", "Project")";
                let postData = {
                    OrderBy: "",
                    PageIndex: (objPage.pageIndex + 1),
                    PageSize: objPage.pageSize,
                    TaskId: config@(itemName).ProjectTaskId,
                    ReplyType: "Project"
                };
                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                    if (pageCount > 0) {
                        $.each(data.result, function (i, item) {
                            let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                            let days = parseInt(item.DeferredDuration / 60 / 24);
                            let hours = parseInt((item.DeferredDuration % (60 * 24)) / 60);
                            let minutes = parseInt(item.DeferredDuration % 60);

                            let deferredDuration = `${days > 0 ? `${days} 天` : ``} ${hours > 0 ? `${hours} 小時` : ``} ${minutes > 0 ? `${minutes} 分` : ``}`;

                            innerHtml += `<tr>
                                            <td><span class="stack-title">#</span>${_row}</td>
                                            <td><span class="stack-title">回報人員</span>${item.LogoIcon == -1 ? `` : `<img class="company-logo" src="/Web/GetFile?fileId=${item.LogoIcon}" />`}${item.ReplyUserName}</td>
                                            <td><span class="stack-title">回報時間</span>${item.EventDate}</td>
                                            <td><span class="stack-title">回報狀態</span>${StatusUI(item.ReplyStatus)} ${StatusName(`TaskReply.ReplyStatus`, item.ReplyStatus)}</td>
                                            <td><span class="stack-title" data-toggle="tooltip" title="${item.FileName}${item.FileExtension}">回報附件</span>
                                                <span class="stack-title">檔案名稱</span>
                                                ${item.ReplyFile ? `<a class="active-link" href="/Web/GetFile?fileId=${item.ReplyFile}" target="_blank"><i class="fas fa-download"></i><span>下載</span></a>${item.FileName}${item.FileExtension}` : ``}
                                            </td>
                                            <td><span class="stack-title">延後時間</span>${deferredDuration}</td>
                                            <td class="ellipsis" data-toggle="tooltip" title = "${item.ReplyContent}" style="max-width: 200px;"><span class="stack-title">延後原因</span>${item.ReplyContent}</td>
                                          </tr>`;
                        });
                    } else {
                        innerHtml += `<tr>
                                        <td class="text-center" colspan="6" style="background-color: #fff3cd;">
                                          <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                        </td>
                                      </tr>`;
                    }
                } else {
                    alert(data.msg, "alert", 0);
                }

                $("#tblReplyData@(itemName) tbody").html(innerHtml);
                TableComponentInit();
                Pager("#pageReply@(itemName)", pageCount, objPage, Datas@(itemName).GetTaskReply@(itemName));

                function StatusUI(status) {
                    let html = "";
                    switch (status) {
                        case "D":
                            html = `<span class="blink text-danger"><i class="fas fa-siren-on"></i></span>`;
                            break;
                    }
                    return html;
                }
            });

            addMethod(this, "GetProjectTaskFile@(itemName)", function (objPage) {
                let innerHtml = '';
                let pageCount = 0;

                let targetUrl = "@Url.Action("GetProjectTaskFile", "Project")";
                let postData = {
                    OrderBy: "",
                    PageIndex: (objPage.pageIndex + 1),
                    PageSize: objPage.pageSize,
                    ProjectTaskId: config@(itemName).ProjectTaskId
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                    if (pageCount > 0) {
                        $.each(data.result, function (i, item) {
                            let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                            innerHtml += `<tr>
                                            <td><span class="stack-title">#</span>${_row}</td>
                                            <td class="active-content ellipsis" data-toggle="tooltip" title="${item.FileName}${item.FileExtension}" style="max-width: 250px;">
                                              <span class="stack-title">檔案名稱</span>
                                              <a class="active-link" href="/Project/DownloadProjectFile?fileId=${item.FileId}&ProjectId=${$(`#ProjectId`).val()}" target="_blank"><i class="fas fa-download"></i><span>下載</span></a>
                                              ${item.FileName}${item.FileExtension}
                                            </td>
                                            <td>
                                              <span class="stack-title">閱覽檔案等級</span>
                                              <select class="form-control detail-input" name="cboLevelId@(itemName)" data-project-task-file-id="${item.ProjectTaskFileId}" data-level-id="${item.LevelId}"></select>
                                            </td>
                                            <td>
                                              <span class="stack-title">檔案類型</span>
                                              <select class="form-control detail-input" name="cboFileType@(itemName)" data-project-task-file-id="${item.ProjectTaskFileId}" data-filetype="${item.FileType}"></select>
                                            </td>
                                            <td><span class="stack-title">上傳時間</span>${item.CreateDate}</td>
                                            <td class="text-center active-content">
                                              <span class="stack-title">操作</span>
                                              <a class="active-link" href="javascript:Datas@(itemName).DeleteProjectTaskFile@(itemName)(${item.ProjectTaskFileId});"><i class="fas fa-trash-alt"></i></a>
                                            </td>
                                          </tr>`;
                        });
                    } else {
                        innerHtml += `<tr>
                                        <td class="text-center" colspan="6" style="background-color: #fff3cd;">
                                          <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                        </td>
                                      </tr>`;
                    }
                } else {
                    alert(data.msg, "alert", 0);
                }

                $("#tblFileData@(itemName) tbody").html(innerHtml);
                TableComponentInit();
                Pager("#pageFile@(itemName)", pageCount, objPage, Datas@(itemName).GetProjectTaskFile@(itemName));

                ComboBoxs.Default("select[name=cboLevelId@(itemName)]", "@Url.Action("GetFileLevel", "PmisBasicInformation")", { "Status": "A" }, "", "CHOOSE-NUMBER", "", "LevelName", "LevelId");
                ComboBoxs.Default("select[name=cboFileType@(itemName)]", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "ProjectFile.FileType" }, "", "CHOOSE", "", "TypeName", "TypeNo");

                $("select[name=cboLevelId@(itemName)]").each(function () {
                    $(this).val($(this).data("level-id"));
                });

                $("select[name=cboFileType@(itemName)]").each(function () {
                    $(this).val($(this).data("filetype"));
                });

                $("select[name=cboLevelId@(itemName)]").off("change").on("change", function () {
                    let projectTaskFileId = $(this).data("project-task-file-id");

                    let targetUrl = "@Url.Action("UpdateProjectTaskFileLevel", "Project")";
                    let postData = {
                        ProjectTaskFileId: projectTaskFileId,
                        LevelId: $(`select[name=cboLevelId@(itemName)][data-project-task-file-id=${projectTaskFileId}]`).val()
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, false);

                    if (result) {
                        Datas@(itemName).GetProjectTaskFile@(itemName)();
                    }
                });

                $("select[name=cboFileType@(itemName)]").off("change").on("change", function () {
                    let projectTaskFileId = $(this).data("project-task-file-id");

                    let targetUrl = "@Url.Action("UpdateProjectTaskFileType", "Project")";
                    let postData = {
                        ProjectTaskFileId: projectTaskFileId,
                        FileType: $(`select[name=cboFileType@(itemName)][data-project-task-file-id=${projectTaskFileId}]`).val()
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, false);

                    if (result) {
                        Datas@(itemName).GetProjectTaskFile@(itemName)();
                    }
                });

                if (!isMobile) {
                    $("select[name=cboLevelId@(itemName)], select[name=cboFileType@(itemName)]").select2({
                        dropdownAutoWidth: true,
                        width: "100%"
                    });
                }
            });


            addMethod(this, "AddProjectTask@(itemName)", function () {
                let days = parseInt($("#txtDayReplyFrequency@(itemName)").val() ? $("#txtDayReplyFrequency@(itemName)").val() : 0) * 24 * 60;
                let hours = parseInt($("#txtHourReplyFrequency@(itemName)").val() ? $("#txtHourReplyFrequency@(itemName)").val() : 0) * 60;
                let minutes = parseInt($("#txtMinuteReplyFrequency@(itemName)").val() ? $("#txtMinuteReplyFrequency@(itemName)").val() : 0);
                let replyFrequency = days + hours + minutes;

                days = parseInt($("#txtDayEstimateDuration@(itemName)").val() ? $("#txtDayEstimateDuration@(itemName)").val() : 0) * 24 * 60;
                hours = parseInt($("#txtHourEstimateDuration@(itemName)").val() ? $("#txtHourEstimateDuration@(itemName)").val() : 0) * 60;
                minutes = parseInt($("#txtMinuteEstimateDuration@(itemName)").val() ? $("#txtMinuteEstimateDuration@(itemName)").val() : 0);
                let plannedDuration = days + hours + minutes;

                let targetUrl = "@Url.Action("AddProjectTask", "Project")"; //AddTemporaryProjectTask
                let postData = {
                    ProjectId: $("#ProjectId").val(),
                    ParentTaskId: config@(itemName).ParentTaskId,
                    TaskName: $("#txtTaskName@(itemName)").val(),
                    TaskDesc: $("#txtTaskDesc@(itemName)").val(),
                    PlannedStart: $("#txtEstimateStart@(itemName)").val(), //修改、插入臨時任務
                    PlannedDuration: plannedDuration, //修改、插入臨時任務
                    ReplyFrequency: replyFrequency,
                    RequiredFile: $("input[name='chkRequiredFile@(itemName)']").is(":checked")
                };

                let result = DataAccess.EditContinued(targetUrl, postData, false);

                if (result.status == "success") {
                    config@(itemName).ProjectTaskId = result.result.ProjectTaskId;
                    Tasks@(itemName).LoadViewData@(itemName)();
                }
            });

            addMethod(this, "CopyProjectTask@(itemName)", function () {
                swal.fire({
                    titleText: "確認要複製嗎?",
                    text: "",
                    icon: "question",
                    allowOutsideClick: false,
                    allowEscapeKey: false,
                    showCancelButton: true,
                    confirmButtonColor: '#87adbd',
                    reverseButtons: true
                }).then((r) => {
                    if (r.isConfirmed) {
                        let result = DataAccess.Add("@Url.Action("AddProjectTaskByCopy", "Project")", { ProjectTaskId: config@(itemName).ProjectTaskId }, false, false);
                        if (result) {
                            alert("複製完成", "success", 0);
                            Tasks@(itemName).LoadViewData@(itemName)();
                        }
                    }
                });
            });

            addMethod(this, "UpdateProjectTask@(itemName)", function () {
                let days = parseInt($("#txtDayReplyFrequency@(itemName)").val() ? $("#txtDayReplyFrequency@(itemName)").val() : 0) * 24 * 60;
                let hours = parseInt($("#txtHourReplyFrequency@(itemName)").val() ? $("#txtHourReplyFrequency@(itemName)").val() : 0) * 60;
                let minutes = parseInt($("#txtMinuteReplyFrequency@(itemName)").val() ? $("#txtMinuteReplyFrequency@(itemName)").val() : 0);
                let replyFrequency = days + hours + minutes;

                days = parseInt($("#txtDayEstimateDuration@(itemName)").val() ? $("#txtDayEstimateDuration@(itemName)").val() : 0) * 24 * 60;
                hours = parseInt($("#txtHourEstimateDuration@(itemName)").val() ? $("#txtHourEstimateDuration@(itemName)").val() : 0) * 60;
                minutes = parseInt($("#txtMinuteEstimateDuration@(itemName)").val() ? $("#txtMinuteEstimateDuration@(itemName)").val() : 0);
                let estimateDuration = days + hours + minutes;

                let targetUrl = "@Url.Action("UpdateProjectTask", "Project")";
                let postData = {
                    ProjectTaskId: config@(itemName).ProjectTaskId,
                    EstimateStart: $("#txtEstimateStart@(itemName)").val(),
                    EstimateDuration: estimateDuration,
                    TaskName: $("#txtTaskName@(itemName)").val(),
                    TaskDesc: $("#txtTaskDesc@(itemName)").val(),
                    ReplyFrequency: replyFrequency,
                    RequiredFile: $("input[name='chkRequiredFile@(itemName)']").is(":checked")
                };

                let result = DataAccess.Get(targetUrl, postData, false);

                if (result.status == "success") {
                    if (result.result == "ChangeStatus") alert("切換成功", "success", 0);
                    else Tasks@(itemName).LoadViewData@(itemName)();
                }
                else alert("修改失敗", "error", 0);
            });

            addMethod(this, "DeleteProjectTask@(itemName)", function () {
                swal.fire({
                    titleText: "確認要刪除嗎?",
                    text: "此動作無法復原，請確認是否要執行!",
                    icon: "warning",
                    allowOutsideClick: false,
                    allowEscapeKey: false,
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    reverseButtons: true
                }).then((r) => {
                    if (r.isConfirmed) {
                        let result = DataAccess.Delete("@Url.Action("DeleteProjectTask", "Project")", { ProjectTaskId: config@(itemName).ProjectTaskId }, false, true);
                        if (result) {
                            $(".task-nav").removeClass("active");
                            Tasks@(itemName).LoadViewData@(itemName)();
                        }
                    }
                });
            });

            addMethod(this, "DeleteProjectTaskFile@(itemName)", function (id) {
                swal.fire({
                    titleText: "確認要刪除嗎?",
                    text: "此動作無法復原，請確認是否要執行!",
                    icon: "warning",
                    allowOutsideClick: false,
                    allowEscapeKey: false,
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    reverseButtons: true
                }).then((r) => {
                    if (r.isConfirmed) {
                        let result = DataAccess.Delete("@Url.Action("DeleteProjectTaskFile", "Project")", { ProjectTaskFileId: id }, false, true);
                        if (result) {
                            Datas@(itemName).GetProjectTaskFile@(itemName)(objFilePage@(itemName));
                        }
                    }
                });
            });
        }

        function Forbidden@(itemName)() {
            swal.fire({
                title: "功能尚未開放!",
                icon: "error"
            });
        }
</script>
)