@using Business_Manager.Helpers
@{
    string itemName = "QcNoticeItemSpec";
    string itemNameText = "量測需求單檢測項目";
    string authority = ViewBag.authority;
}
<!--返回-->
<div class="row Return" style="display:none">
    <div class="col-4 align-self-end title-block">
        <div class="button-block mb-1">
            <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
        </div>
    </div>
</div>
<!--列表-->
<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 text-right">
                        <a class="btn btn-info auth-add" href="javascript:Edit@(itemName)(-1);"><i class="fas fa-plus"></i>新增</a>
                        <a class="btn btn-warning auth-templateDownload" href="javascript:TemplateDownload@(itemName)();"><i class="fas fa-file-download"></i>樣板匯入</a>
                    </div>
                </div>
                <div class="row">
                    &ensp;
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="max-width: 75px;">#</th>
                                        <th scope="col" style="max-width: 200px;">量測項目</th>
                                        <th scope="col" style="max-width: 200px;">上限公差</th>
                                        <th scope="col" style="max-width: 200px;">設計值</th>
                                        <th scope="col" style="max-width: 200px;">下限公差</th>
                                        <th scope="col" style="max-width: 200px;">Z值</th>
                                        <th scope="col" style="max-width: 200px;">量測單位</th>
                                        <th scope="col" style="max-width: 200px;">同項目量測次數</th>
                                        <th scope="col" style="max-width: 200px;">同產品量測次數</th>
                                        <th scope="col" style="max-width: 200px;">建立日期</th>
                                        <th class="text-center" scope="col" style="max-width: 250px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--新增/編輯-->
<div class="row" id="editData@(itemName)" style="display:none">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container" autocomplete="off" id="editForm@(itemName)">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group row">
                                        <label class="form-label col-12" for="txtQcItem@(itemName)">量測項目<span class="text-danger">*</span></label>
                                        <div class="input-group col-12">
                                            <div class="input-group-prepend">
                                                <button class="btn btn-warning" type="button" onclick="Search@(itemName)()" title="搜尋項目"><i class="fas fa-search"></i></button>
                                            </div>
                                            <input type="text" class="form-control" id="txtQcItem@(itemName)"
                                                   placeholder="請輸入量測項目" daat-rule-required="true" onkeyup="this.value=this.value.replace(/[, ]/g,'')" />
                                            <input type="hidden" id="txtQcItemId@(itemName)" name="txtQcItemId@(itemName)" />
                                            <input type="hidden" id="txtQcItemType@(itemName)" name="txtQcItemType@(itemName)" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 qcItemSetting" style="display:none">
                                    <div class="form-group row">
                                        <label class="form-label col-1" for="txtUpperTolerance@(itemName)">上限公差<span class="text-danger">*</span></label>
                                        <div class="col-3">
                                            <input type="text" class="form-control" id="txtUpperTolerance@(itemName)"
                                                   placeholder="請輸入上限公差" data-msg-required="請輸入上限公差" daat-rule-required="true" onkeyup="this.value=this.value.replace(/[, ]/g,'')" />
                                        </div>
                                        <label class="form-label col-1" for="txtDesignValue@(itemName)">設計值<span class="text-danger">*</span></label>
                                        <div class="col-3">
                                            <input type="text" class="form-control" id="txtDesignValue@(itemName)"
                                                   placeholder="請輸入設計值" data-msg-required="請輸入設計值" daat-rule-required="true" onkeyup="this.value=this.value.replace(/[, ]/g,'')" />
                                        </div>
                                        <label class="form-label col-1" for="txtLowerTolerance@(itemName)">下限公差<span class="text-danger">*</span></label>
                                        <div class="col-3">
                                            <input type="text" class="form-control" id="txtLowerTolerance@(itemName)"
                                                   placeholder="請輸入下限公差" data-msg-required="請輸入下限公差" daat-rule-required="true" onkeyup="this.value=this.value.replace(/[, ]/g,'')" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="form-label col-12" for="txtUom@(itemName)">單位<span class="text-danger">*</span></label>
                                        <div class="col-12">
                                            <select class="form-control" id="cboUom@(itemName)" name="cboUom@(itemName)"></select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="form-label col-12" for="txtDepth@(itemName)">Z值</label>
                                        <div class="col-12">
                                            <input type="text" class="form-control" id="txtDepth@(itemName)"
                                                   placeholder="請輸入Z值" daat-rule-required="true" onkeyup="this.value=this.value.replace(/[, ]/g,'')" />
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-12 col-md-12 qcMethodSetting" style="display:none">
                                    <div class="form-group row">
                                        <label class="form-label col-12" for="txtMakeCount@(itemName)">同項目量測次數<span class="text-danger">*</span></label>
                                        <div class="col-12">
                                            <input type="text" class="form-control" id="txtMakeCount@(itemName)"
                                                   placeholder="請輸入量測次數"  data-msg-required="請輸入量測次數" daat-rule-required="true" onkeyup="this.value=this.value.replace(/[, ]/g,'')" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="form-label col-12" for="txtProductQcCount@(itemName)">同產品量測次數<span class="text-danger">*</span></label>
                                        <div class="col-12">
                                            <input type="text" class="form-control" id="txtProductQcCount@(itemName)"
                                                   placeholder="請輸入同產品量測次數" data-msg-required="請輸入同產品量測次數" daat-rule-required="true" onkeyup="this.value=this.value.replace(/[, ]/g,'')" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group row">
                                <label class="form-label col-12" for="txtRemark@(itemName)">備註</label>
                                <div class="col-12">
                                    <input type="text" class="form-control" id="txtRemark@(itemName)"
                                           placeholder="請輸入備註" daat-rule-required="true" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button id="QcNoticeSpecSave" type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

@Html.Partial("ViewQcItem")
@Html.Partial("ViewTemplateDownload")
@Html.Resource("js",
@<script>
    let QcNoticeItemSpecId@(itemName)= -1;
    let QcNoticeTemplateId@(itemName)= -1; 
    let objPage@(itemName) = {
        "pageIndex": 0,
        "pageSize": 10
    };
    let objForm@(itemName) = "#editForm@(itemName)";
    //分頁傳值
    function Expand@(itemName)(QcNoticeId) {       
        if (QcNoticeId < 0) {
            $("#ViewQcNoticeItemSpec").show();
            $("#tabViewQcNoticeItemSpec").show();
            $(".advanced-block").slideDown("long");                 
        } else {
            $("#ViewQcNoticeItemSpec").show();
            $("#tabViewQcNoticeItemSpec").show();
            $(".advanced-block").slideDown("long");           
        }
        Query@(itemName)(QcNoticeId);
    }



    $(document).ready(function () {
        if (!isMobile) {
            $("#cboUom@(itemName)").select2({
                width: "100%"
            })
        }
        ComboBoxs.Default("#cboUom@(itemName)", "@Url.Action("GetUnitOfQcMeasure", "QcItemSetting")", {}, "", "ALL", "", "QcUomNo", "QcUomId");

    });

    function Search@(itemName)() {
        $("#modalViewQcItem").modal({ backdrop: 'static', keyboard: false }, 'show');
        $("input[type='radio']").attr('radio', false);
        QueryViewQcItem();
    }

    function Query@(itemName)(QcNoticeId) {
        objPage@(itemName).pageIndex = 0;
        InitData@(itemName)(objPage@(itemName),QcNoticeId);
    }

    function InitData@(itemName)(objPage, QcNoticeId) {
        let innerHtml = '';
        let pageCount = 0;
        let targetUrl = "@Url.Action("GetQcNoticeItemSpec", "QcItemSetting")";
        let postData = {
            "OrderBy": "",
            "PageIndex": (objPage.pageIndex + 1),
            "PageSize": objPage.pageSize,
            "QcNoticeId": QcNoticeId,
            "QcNoticeItemSpecId":-1
        };
        let data = DataAccess.Get(targetUrl, postData, false);
        if (data.status == "success") {
            pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;
            if (pageCount > 0) {
                objPage = PageCaculate(pageCount, objPage);
                $.each(data.result, function (i, item) {
                    let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";
                    innerHtml += `<tr>
                                        <td style="max-width: 75px;">${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.QcItemName}" style="max-width: 200px;">${item.QcItemName}</td>
                                        `;
                    if (item.QcItemType == 1) {
                        innerHtml += `
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.UpperTolerance}" style="max-width: 200px;">${item.UpperTolerance}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DesignValue}" style="max-width: 200px;">${item.DesignValue}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.LowerTolerance}" style="max-width: 200px;">${item.LowerTolerance}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Depth}" style="max-width: 200px;">${item.Depth}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.QcUomName}" style="max-width: 200px;">${item.QcUomName}</td>

                                    `;
                    } else {
                        innerHtml += `
                                        <td class="text-center" colspan="5" style="background-color: #fff3cd;">
                                        <i class="fal fa-exclamation-circle"></i>&nbsp;該項目不需設計值。
                                        </td>
                                    `;
                        }
                        innerHtml +=`
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MakeCount}" style="max-width: 200px;">${item.MakeCount}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ProductQcCount}" style="max-width: 200px;">${item.ProductQcCount}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.CreateDate}" style="max-width: 200px;">${item.CreateDate}</td>
                                        <td class="text-center col-sticky">
                                          <a class="active-link auth-update" title="修改" href="javascript:Edit@(itemName)('${item.QcNoticeItemSpecId}');"><i class="fas fa-edit"></i></a>
                                          <a class="active-link auth-delete" title="刪除" href="javascript:Delete@(itemName)('${item.QcNoticeItemSpecId}');"><i class="fas fa-trash-alt"></i></a>
                                        </td>
                                    </tr>`;
                });
            } else {
                innerHtml += `<tr>
                                <td class="text-center" colspan="11" style="background-color: #fff3cd;">
                                    <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                </td>
                                </tr>`;
            }
        }else {
            alert(data.msg, "alert", 0);
        }
        $("#tblData@(itemName) tbody").html(innerHtml);
        TableComponentInit();
        Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));
    }

    function Edit@(itemName)(QcNoticeItemSpecId) {
        ComboBoxs.Default("#cboUom@(itemName)", "@Url.Action("GetUnitOfQcMeasure", "QcItemSetting")", {}, "", "ALL", "", "QcUomNo", "QcUomId");
        if (QcNoticeItemSpecId > 0) {
            QcNoticeItemSpecId@(itemName)= QcNoticeItemSpecId;
            let targetUrl = "@Url.Action("GetQcNoticeItemSpec", "QcItemSetting")";
            let postData = {
                "QcNoticeItemSpecId": QcNoticeItemSpecId
            };
            let data = DataAccess.Get(targetUrl, postData, false);
            if (data.status == "success") {
                $.each(data.result, function (i, item) {
                    $("#txtQcItem@(itemName)").val(item.QcItemName);
                    $("#txtQcItemId@(itemName)").val(item.QcItemId);
                    $("#txtQcNoticeQty@(itemName)").val(item.QcNoticeQty);
                    $("#txtUpperTolerance@(itemName)").val(item.UpperTolerance);
                    $("#txtDesignValue@(itemName)").val(item.DesignValue);
                    $("#txtLowerTolerance@(itemName)").val(item.LowerTolerance);
                    $("#txtDepth@(itemName)").val(item.Depth);
                    $("#cboUom@(itemName)").val(item.QcUomId);
                    $("#txtMakeCount@(itemName)").val(item.MakeCount);
                    $("#txtProductQcCount@(itemName)").val(item.ProductQcCount);
                    $("#txtRemark@(itemName)").val(item.Remark);
                    if (item.QcItemType == 2) {
                        $(".qcItemSetting").hide();
                        $("#cboUom@(itemName)").val(3);
                    } else {
                        $(".qcItemSetting").show();
                    }
                });
                $(".help-block").show();
                $(".qcMethodSetting").show();
                $(".QcItem").show();
                Switch("#editData@(itemName), .Return", "#listData@(itemName)");
            } else {
                alert(data.msg, "alert", 0);
            }
        } else {
            QcNoticeItemSpecId@(itemName)= -1;
            if ($("#txtQcItemTypeQcNoticeItemSpec").val() == 2) {
                $(".qcItemSetting").hide();
                $("#cboUom@(itemName)").val(3);
            } else {
                $(".qcItemSetting").show();
            }
            $("#editForm@(itemName)").get(0).reset();
            $(".qcMethodSetting").hide();
            Switch("#editData@(itemName), .Return", "#listData@(itemName)");
            $(".Return").show();
        }
    }

    function Save@(itemName)() {
        if ($("#txtQcItemTypeQcNoticeItemSpec").val() == 2) {
            $("#cboUom@(itemName)").val(3);
        } 
        if ($(objForm@(itemName)).valid()) {
            if (QcNoticeItemSpecId@(itemName)> 0) {
                let targetUrl = "@Url.Action("UpdateQcNoticeItemSpec", "QcItemSetting")";
                let postData = {
                    "QcNoticeItemSpecId":  QcNoticeItemSpecId@(itemName),
                    "QcNoticeId": parseInt($("#QcNoticeId").val()),
                    "QcItemId": $("#txtQcItemId@(itemName)").val(),
                    "DesignValue": $("#txtDesignValue@(itemName)").val(),
                    "UpperTolerance":$("#txtUpperTolerance@(itemName)").val(),
                    "LowerTolerance": $("#txtLowerTolerance@(itemName)").val(),
                    "MakeCount": $("#txtMakeCount@(itemName)").val(),
                    "ProductQcCount": $("#txtProductQcCount@(itemName)").val(),                       
                    "QcUomId": $("#cboUom@(itemName)").val(),
                    "Depth": $("#txtDepth@(itemName)").val(),
                    "Remark": $("#txtRemark@(itemName)").val()
                };
                result = DataAccess.Update(targetUrl, postData, false, true);
            } else {
                let targetUrl = "@Url.Action("AddQcNoticeItemSpec", "QcItemSetting")";
                let postData = {
                    "QcNoticeId":  parseInt($("#QcNoticeId").val()),
                    "QcItemId": $("#txtQcItemId@(itemName)").val(),
                    "DesignValue": $("#txtDesignValue@(itemName)").val(),
                    "UpperTolerance":$("#txtUpperTolerance@(itemName)").val(),
                    "LowerTolerance": $("#txtLowerTolerance@(itemName)").val(),
                    "MakeCount": $("#txtMakeCount@(itemName)").val(),
                    "ProductQcCount": $("#txtProductQcCount@(itemName)").val(),
                    "QcUomId": $("#cboUom@(itemName)").val(),
                    "Depth": $("#txtDepth@(itemName)").val(),
                    "Remark": $("#txtRemark@(itemName)").val()
                };
                result = DataAccess.Add(targetUrl, postData, false, true);
            }
        }
        Query@(itemName)(parseInt($("#QcNoticeId").val()));
        Switch("#listData@(itemName)", "#editData@(itemName), .Return");

    }
    function Delete@(itemName)(QcNoticeItemSpecId) {
        swal.fire({
            titleText: "確認要刪除嗎?",
            text: "此動作無法復原，請確認是否要執行!",
            icon: "warning",
            allowOutsideClick: false,
            allowEscapeKey: false,
            showCancelButton: true,
            confirmButtonColor: '#d33',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                let targetUrl = "@Url.Action("DeleteQcNoticeItemSpec", "QcItemSetting")";
                let postData = {
                    "QcNoticeItemSpecId": QcNoticeItemSpecId
                };
                let result = DataAccess.Delete(targetUrl, postData, false, true);
                if (result) {
                   Query@(itemName)(parseInt($("#QcNoticeId").val()));
                }
            }
        });
    }

    function TemplateDownload@(itemName)() {
        $("#modalViewTemplate").modal({ backdrop: 'static', keyboard: false }, 'show');
        $("input[type='radio']").attr('radio', false);
        QueryViewTemplate();        
    }

    function Return@(itemName)() {
        Query@(itemName)(parseInt($("#QcNoticeId").val()));
        Switch("#listData@(itemName)", "#editData@(itemName), .Return");
    }
</script>
)