@using Business_Manager.Helpers
@{
    string itemName = "QcNotice";
    string itemNameText = "量測需求單";
    string authority = ViewBag.authority;
}
@Html.Resource("css",
    @<style>
         .help-block {
             display: none;
             margin: 5px 0 0;
             border: 3px dashed #b1b1b1;
             border-radius: 5px;
             padding: 5px 10px;
         }

         dt {
             float: left;
             clear: left;
             width: 110px;
         }

             dt::after {
                 content: "：";
             }

         dd {
             margin: 0 0 0 80px;
             padding: 0;
             color: #36a2f5;
             font-weight: bold;
         }
    </style>
)
<input type="hidden" id="pageAuthority" value="@authority" />
<!--返回-->
<div class="row">
    <div class="col-12 title-block ">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>
<!--搜尋-->
<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <fieldset>
                    <div class="form-group row">
                        <label class="col-12 col-form-label">日期 <input type="checkbox" id="cbxUseDate@(itemName)" /></label>
                        <div class="col-6">
                            <input type="text" class="form-control" id="txtStartDateQ@(itemName)" name="txtStartDateQ@(itemName)"
                                   data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                   readonly />
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control" id="txtEndDateQ@(itemName)" name="txtEndDateQ@(itemName)"
                                   data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                   readonly />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="form-label col-12" for="txtProcessParameterQ@(itemName)">製程<span class="text-danger">*</span></label>
                        <div class="input-group col-12">
                            <input type="text" class="form-control" id="txtModeNameQ@(itemName)"
                                   placeholder="請輸入生產模式" daat-rule-required="true" onkeyup="this.value=this.value.replace(/[, ]/g,'')" readonly />
                        </div>
                        <div class="input-group col-12">
                            <div class="input-group-prepend">
                                <button class="btn btn-warning" type="button" onclick="ProcessParameterQ@(itemName)()" title="搜尋製程"><i class="fas fa-search"></i></button>
                            </div>
                            <input type="text" class="form-control" id="txtProcessNameQ@(itemName)"
                                   placeholder="請輸入製程" daat-rule-required="true" onkeyup="this.value=this.value.replace(/[, ]/g,'')" readonly />
                            <input type="hidden" id="txtParameterIdQ@(itemName)" name="txtParameterIdQ@(itemName)" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="form-label col-12" for="txtQcNoticeNoQ@(itemName)">送檢單編號<span class="text-danger">*</span></label>
                        <div class="col-12">
                            <input type="text" class="form-control" id="txtQcNoticeNoQ@(itemName)" name="txtQcNoticeNoQ@(itemName)"
                                   placeholder="請輸入送檢單編號" data-rule-required="true" onkeyup="this.value=this.value.replace(/[, ]/g,'')" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="form-label col-12" for="txtQcNoticeTypeQ@(itemName)">送檢單類型<span class="text-danger">*</span></label>
                        <div class="col-12">
                            <select class="form-control" id="cboQcNoticeTypeQ@(itemName)" name="cboQcNoticeTypeQ@(itemName)"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="form-label col-12" for="cboDepartmentQ@(itemName)">送檢單類型<span class="text-danger">*</span></label>
                        <div class="col-12">
                            <select class="form-control" id="cboDepartmentQ@(itemName)" name="cboDepartmentQ@(itemName)"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="form-label col-12" for="txtMtlItemNoQ@(itemName)">品號<span class="text-danger">*</span></label>
                        <div class="col-12">
                            <input type="text" class="form-control" id="txtMtlItemNoQ@(itemName)" name="txtMtlItemNoQ@(itemName)"
                                   placeholder="請輸入品號" data-rule-required="true" onkeyup="this.value=this.value.replace(/[, ]/g,'')" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="form-label col-12" for="txtMtlItemNameQ@(itemName)">品名<span class="text-danger">*</span></label>
                        <div class="col-12">
                            <input type="text" class="form-control" id="txtMtlItemNameQ@(itemName)" name="txtMtlItemNameQ@(itemName)"
                                   placeholder="請輸入品名" data-rule-required="true" onkeyup="this.value=this.value.replace(/[, ]/g,'')" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="form-label col-12" for="txtWoErpPrefixQ@(itemName)">製令單別<span class="text-danger">*</span></label>
                        <div class="col-12">
                            <input type="number" class="form-control" id="txtWoErpPrefixQ@(itemName)" name="txtWoErpPrefixQ@(itemName)"
                                   placeholder="請輸入製令單別" data-rule-required="true" onkeyup="this.value=this.value.replace(/[, ]/g,'')" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="form-label col-12" for="txtWoErpNoQ@(itemName)">製令單號<span class="text-danger">*</span></label>
                        <div class="col-12">
                            <input type="number" class="form-control" id="txtWoErpNoQ@(itemName)" name="txtWoErpNoQ@(itemName)"
                                   placeholder="請輸入製令單號" data-rule-required="true" onkeyup="this.value=this.value.replace(/[, ]/g,'')" />
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
                @*<button type="button" class="btn btn-warning" onclick="reset@(itemName)()" style="margin: auto;"><i class="fas fa-broom"></i>清除</button>*@

            </div>
        </div>
    </div>
</div>
<!--列表-->
<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);"><i class="fal fa-search"></i>搜尋</a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn btn-info auth-add" href="javascript:Edit@(itemName)(-1);"><i class="fas fa-plus"></i>新增</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="max-width: 75px;">#</th>
                                        <th scope="col" style="max-width: 200px;">類型</th>
                                        <th scope="col" style="max-width: 200px;">量測需求單編號</th>
                                        <th scope="col" style="max-width: 200px;">製令</th>
                                        <th scope="col" style="max-width: 200px;">品名</th>
                                        <th scope="col" style="max-width: 200px;">品號</th>
                                        <th scope="col" style="max-width: 200px;">製程</th>
                                        <th scope="col" style="max-width: 200px;">送檢數</th>
                                        <th scope="col" style="max-width: 200px;">量測負責單位</th>
                                        <th scope="col" style="max-width: 200px;">建立者</th>
                                        <th scope="col" style="max-width: 200px;">建立日期</th>
                                        <th scope="col" style="max-width: 200px;">狀態</th>
                                        <th class="text-center" scope="col" style="max-width: 250px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--新增/編輯-->
<div class="row" id="editData@(itemName)" style="display:none">
    <input type="hidden" id="QcNoticeId" name="QcNoticeId" value="-1" />
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container" autocomplete="off" id="editForm@(itemName)">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group row">
                                <label class="form-label col-12" for="txtQcNoticeType@(itemName)">單據類型<span class="text-danger">*</span></label>
                                <div class="col-12">
                                    <select class="form-control" id="cboQcNoticeType@(itemName)" name="cboQcNoticeType@(itemName)"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group row">
                                <label class="form-label col-12" for="txtQcNoticeNo@(itemName)">量測需求單編號<span class="text-danger">*</span></label>
                                <div class="col-12">
                                    <input type="text" class="form-control" id="txtQcNoticeNo@(itemName)"
                                           daat-rule-required="true" onkeyup="this.value=this.value.replace(/[, ]/g,'')" readonly />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group row">
                                <label class="form-label col-12" for="txtDepartment@(itemName)">量測部門</label>
                                <div class="col-12">
                                    <select class="form-control" id="cboDepartment@(itemName)" name="cboDepartment@(itemName)"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group row">
                                <label class="form-label col-12" for="txtQcNoticeQty@(itemName)">送檢數量</label>
                                <div class="col-12">
                                    <input type="number" class="form-control" id="txtQcNoticeQty@(itemName)"
                                           placeholder="請輸入送檢數量" daat-rule-required="true" onkeyup="this.value=this.value.replace(/[, ]/g,'')" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group row">
                                <label class="form-label col-12" for="cboResetFlag@(itemName)">過站後是否結單<span class="text-danger">*</span></label>
                                <div class="col-12">
                                    <select class="form-control" id="cboResetFlag@(itemName)" name="cboResetFlag@(itemName)">
                                        <option value="Y" selected>是</option>
                                        <option value="N">否</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="Mo" class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group row">
                                <label class="form-label col-12" for="txtMo@(itemName)">製令<span class="text-danger">*</span></label>
                                <div class="col-12">
                                    <input type="text" class="form-control" id="txtMo@(itemName)" name="txtMo@(itemName)"
                                           placeholder="請輸入製令" data-msg-required="請輸入製令" data-rule-required="true" onkeyup="this.value=this.value.replace(/[, ]/g,'')" />
                                </div>
                            </div>
                            <div class="form-group row" style="display:none" id="txtWoSeqDiv@(itemName)">
                                <label class="form-label col-12" for="txtWoSeq@(itemName)">MES製令序號<span class="text-danger">*</span></label>
                                <div class="col-12">
                                    <input type="number" class="form-control" id="txtWoSeq@(itemName)" name="txtWoSeq@(itemName)"
                                           placeholder="請輸入製令序號" data-rule-required="true" onkeyup="this.value=this.value.replace(/[, ]/g,'')" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12" id="MfgInfo" style="display:none">
                            <div class="form-group row">
                                <div class="col-12">
                                    <dl class="help-block">
                                        <dt>製令</dt>
                                        <dd id="desWoErpFullNoMo@(itemName)"></dd>
                                        <dt>品號</dt>
                                        <dd id="desMtlItemNoMo@(itemName)"></dd>
                                        <dt>品名</dt>
                                        <dd id="desMtlItemNameMo@(itemName)"></dd>
                                        <dt>規格</dt>
                                        <dd id="desMtlItemSpecMo@(itemName)"></dd>
                                        <dt>預計產量</dt>
                                        <dd id="desPlanQtyMo@(itemName)"></dd>
                                        <input type="hidden" id="txtMoId@(itemName)" name="txtMoId@(itemName)" />
                                    </dl>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12">
                                    <dl class="help-block">
                                        <table class="table table-bordered table-striped table-sticky" id="desFile@(itemName)">
                                            <thead>
                                                <tr>
                                                    <th scope="col" style="max-width: 150px;">製令JOM</th>
                                                    <th scope="col" style="max-width: 150px;">製令2D圖</th>
                                                    <th scope="col" style="max-width: 150px;">製令2D PDF</th>
                                                    <th scope="col" style="max-width: 150px;">製令3D圖</th>
                                                    <th scope="col" style="max-width: 150px;">研發版次</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </dl>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div id="RD" class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group row">
                                <label class="form-label col-12" for="txtMtlItemId@(itemName)">產品品號</label>
                                <div class="col-12">
                                    <input type="hidden" id="txtMtlItemId@(itemName)" name="txtMtlItemId@(itemName)" />
                                    <div class="btn-group">
                                        <a class="btn btn-success pop-view" href="javascript:void(0);"><i class="fal fa-search"></i></a>
                                    </div>
                                    <dl class="help-block" naeme="RD_info">
                                        <dt>品號</dt>
                                        <dd id="desMtlItemNo@(itemName)"></dd>
                                        <dt>品名</dt>
                                        <dd id="desMtlItemName@(itemName)"></dd>
                                        <dt>規格</dt>
                                        <dd id="desMtlItemSpec@(itemName)"></dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                        @*<div class="col-lg-12 col-md-12">
                            <div class="form-group row">
                                <label class="form-label col-12" for="txtDesignId@(itemName)">研發設計圖</label>
                                <div class="col-12">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-warning" type="button" onclick="SearchRdDesign@(itemName)()" title="搜尋項目"><i class="fas fa-search"></i></button>
                                    </div>
                                    <input type="hidden" id="txtDesignId@(itemName)" name="txtDesignId@(itemName)" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12">
                                    <dl class="help-block" id="Design_info">
                                        <dt>客戶品號(部番)</dt>
                                        <dd id="desCustomerMtlItemNo@(itemName)"></dd>
                                        <dt>客戶圖號</dt>
                                        <dd id="desCustomerDwgNo@(itemName)"></dd>
                                        <dt>客戶版次</dt>
                                        <dd id="desEdition@(itemName)"></dd>
                                    </dl>
                                </div>
                            </div>
                        </div>*@
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group row">
                                <label class="form-label col-12" for="txtQcNoticeQty@(itemName)">圖面版本</label>
                                <div class="col-12">
                                    <div class="input-group-prepend">
                                        <button class="btn btn-warning" type="button" onclick="SearchRdController@(itemName)()" title="搜尋項目"><i class="fas fa-search"></i></button>
                                    </div>
                                    <input type="hidden" id="txtControlId@(itemName)" name="txtControlId@(itemName)" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12">
                                    <dl class="help-block" naeme="RD_info">
                                        <dt>變更原因</dt>
                                        <dd id="desCause@(itemName)"></dd>
                                        <dt>變更日期</dt>
                                        <dd id="desCreateDate@(itemName)"></dd>
                                        <dt>研發版次</dt>
                                        <dd id="desRdControlInfoEditionQcNotice"></dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="RoutingProcess" class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group row">
                                <label class="form-label col-12" for="txtRoutingProcess@(itemName)">製程<span class="text-danger">*</span></label>
                                <div class="col-12">
                                    <select class="form-control" id="cboRoutingProcess@(itemName)" name="cboRoutingProcess@(itemName)"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group row">
                                <label class="form-label col-12" for="txtQcNoticeFile@(itemName)">附件上傳</label>
                                <div class="col-12">
                                    <input type="file" id="QcNoticeFile@(itemName)" name="QcNoticeFile@(itemName)" />
                                    <input type="hidden" id="txtQcNoticeFile@(itemName)" name="txtQcNoticeFile@(itemName)" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <table class="table table-bordered table-striped table-sticky" id="tblQcNoticeFile@(itemName)">
                                    <thead>
                                        <tr>
                                            <th scope="col" style="max-width: 150px;">檔名</th>
                                            <th scope="col" style="max-width: 150px;">上傳日</th>
                                            <th scope="col" style="max-width: 150px;">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group row">
                                <label class="form-label col-12" for="txtRemark@(itemName)">備註</label>
                                <div class="col-12">
                                    <input type="text" class="form-control" id="txtRemark@(itemName)"
                                           placeholder="請輸入備註" daat-rule-required="true" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button id="QcNoticeSave" type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>
<!--其他分頁-->
<div class="advanced-block">
    <div class="row">
        <div class="col-12">
            <ul class="nav flag-tabs nav-fill" role="tablist">
                <li class="flag-item" id="ViewQcNoticeItemSpec">
                    <a class="flag-link active" data-toggle="tab" href="#tabViewQcNoticeItemSpec" id="CncParameterLog">
                        <i class="fas fa-sliders-h"></i> 量測參數設置
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane active" id="tabViewQcNoticeItemSpec">
            @Html.Partial("QcNoticeItemSpec")
        </div>
    </div>
</div>

@Html.Partial("ViewMtlItem")
@Html.Partial("ViewProcessParameter")
@Html.Partial("ViewRdDesign")
@Html.Partial("ViewRdDesignControl")

@Html.Resource("js",
@<script>
    let QcNoticeNo = "", MoId@(itemName)= "-1";
    let objPage@(itemName) = {
        "pageIndex": 0,
        "pageSize": 8
    };
    let objForm@(itemName) = "#editForm@(itemName)";

    $(document).ready(function () {       
        let currentDate = new Date();
        Suites.DateDropper("#txtStartDateQ@(itemName), #txtEndDateQ@(itemName)");
        Suites.SetDateDropper("#txtEndDateQ@(itemName)", currentDate);
        currentDate.setDate(currentDate.getDate() - 1);
        Suites.SetDateDropper("#txtStartDateQ@(itemName)", currentDate);

        if (!isMobile) {
            $("#cboQcNoticeTypeQ@(itemName)").select2({
                width: "100%"
            });
            $("#cboQcNoticeType@(itemName)").select2({
                width: "100%"
            });

            $("#cboDepartment@(itemName)").select2({
                width: "100%"
            });
            $("#cboDepartmentQ@(itemName)").select2({
                width: "100%"
            });
        }
        ComboBoxs.Default("#cboQcNoticeTypeQ@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "QcItem.QcType" }, "", "ALL", "", "TypeName", "TypeNo"); 
        ComboBoxs.Default("#cboQcNoticeType@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "QcItem.QcType" }, "", "ALL", "", "TypeName", "TypeNo");
        ComboBoxs.Default("#cboDepartment@(itemName)", "@Url.Action("GetDepartment", "BasicInformation")", {}, "", "ALL", "", "DepartmentName", "DepartmentId");
        ComboBoxs.Default("#cboDepartmentQ@(itemName)", "@Url.Action("GetDepartment", "BasicInformation")", {}, "", "ALL", "", "DepartmentName", "DepartmentId");
        Query@(itemName)();


    });

    $("#cboQcNoticeType@(itemName)").change(function () {
        cboRoutingProcess@(itemName)(-1);
        $(".help-block").hide();
        $("#txtMo@(itemName)").val("");
        $("#txtMo@(itemName)").html("");
        switch ($("#cboQcNoticeType@(itemName)").val()) {
            case 'OQC':
                $("#RD").show();
                $("#Mo").hide();
                $("#RoutingProcess").hide();               
                break;
            case 'IPQC':
                $("#RD").hide();
                $("#Mo").show();
                $("#RoutingProcess").show();
                break;
            case 'PVTQC':
                $("#RD").show();
                $("#Mo").show();
                $("#RoutingProcess").hide();
                break;
            case 'TQC'://全吋檢
                $("#RD").show();
                $("#Mo").show();
                $("#RoutingProcess").hide();
                break;
        }
    });

    function cboRoutingProcess@(itemName)(ControlId) {
        if (!isMobile) {
            $("#cboRoutingProcess@(itemName)").select2({
                width: "100%"
            });
        }
        ComboBoxs.Default("#cboRoutingProcess@(itemName)", "@Url.Action("GetRoutingProcess", "QcItemSetting")", { "ControlId": ControlId}, "", "ALL", "", "ProcessAlias", "RoutingProcessId");
    }

    function ProcessParameterQ@(itemName)() {
        $("#modalViewProcessParameter").modal({ backdrop: 'static', keyboard: false }, 'show');
        $("input[type='radio']").attr('radio', false);
        QueryViewProcessParameter();
    }

    function Query@(itemName)() {
        objPage@(itemName).pageIndex = 0;
        InitData@(itemName)(objPage@(itemName));
    }

    function InitData@(itemName)(objPage) {
        let innerHtml = '';
        let pageCount = 0;
        let targetUrl = "@Url.Action("GetQcNotice", "QcItemSetting")";
        let postData = {
            "OrderBy": "",
            "PageIndex": (objPage.pageIndex + 1),
            "PageSize": objPage.pageSize,
            "QcNoticeNo":$("#txtQcNoticeNoQ@(itemName)").val(),
            "QcNoticeType": $("#cboQcNoticeTypeQ@(itemName)").val(),
            "WoErpPrefix": $("#txtWoErpPrefixQ@(itemName)").val(),
            "WoErpNo": $("#txtWoErpNoQ@(itemName)").val(),
            "MtlItemNo": $("#txtMtlItemNoQ@(itemName)").val(),
            "MtlItemName": $("#txtMtlItemNameQ@(itemName)").val(),
            "ProcessId": $("#txtParameterIdQ@(itemName)").val(),
            "StartDate":($("#cbxUseDate@(itemName)").is(":checked") ? $("#txtStartDateQ@(itemName)").val() : ""),
            "EndDate":($("#cbxUseDate@(itemName)").is(":checked") ? $("#txtEndDateQ@(itemName)").val() : ""),
            "DepartmentId": $("#cboDepartmentQ@(itemName)").val()
        };
        let data = DataAccess.Get(targetUrl, postData, false);
        if (data.status == "success") {
            pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;
            if (pageCount > 0) {
                objPage = PageCaculate(pageCount, objPage);
                $.each(data.result, function (i, item) {
                    let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";
                    innerHtml += `<tr>
                                        <td style="max-width: 75px;">${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.TypeDesc}" style="max-width: 200px;">${item.TypeDesc}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.QcNoticeNo}" style="max-width: 200px;">${item.QcNoticeNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.WoErpPrefix}-${item.WoErpNo}(${item.WoSeq})" style="max-width: 200px;">${item.WoErpPrefix}-${item.WoErpNo}(${item.WoSeq})</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MtlItemName}" style="max-width: 200px;">${item.MtlItemName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MtlItemNo}" style="max-width: 200px;">${item.MtlItemNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ProcessAlias}" style="max-width: 200px;">${item.ProcessAlias}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.QcNoticeQty}" style="max-width: 200px;">${item.QcNoticeQty}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DepartmentNo}-${item.DepartmentName}" style="max-width: 200px;">${item.DepartmentNo}-${item.DepartmentName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.UserName}" style="max-width: 200px;">${item.UserName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.CreateDate}" style="max-width: 200px;">${item.CreateDate}</td>
                                        `;
                                        switch (item.Status) {
                                            case 'Y':
                                                innerHtml +=`
                                                <td class="ellipsis" data-toggle="tooltip" title="已量測" style="max-width: 200px;">已量測</td>
                                                `;
                                                break;
                                            case 'N':
                                                innerHtml +=`
                                                <td class="ellipsis" data-toggle="tooltip" title="未量測" style="max-width: 200px;">未量測</td>
                                                `;
                                                break;
                                            case 'A':
                                                innerHtml +=`
                                                <td class="ellipsis" data-toggle="tooltip" title="量測中" style="max-width: 200px;">量測中</td>
                                                `;
                                            case 'C':
                                                innerHtml += `
                                                <td class="ellipsis" data-toggle="tooltip" title="已結案" style="max-width: 200px;">已結案</td>
                                                `;
                                                break;
                                        }
                    innerHtml +=`
                                        <td class="text-center col-sticky">
                                        `
                    switch (item.Status) {
                        case 'Y':
                            innerHtml += `
                                        <a class="active-link auth-read" title="預覽" href="javascript:FaEye@(itemName)('${item.QcNoticeId}');"><i class="fas fa-eye"></i></a>

                                    `
                        case 'N':
                        innerHtml +=`
                                        <a class="active-link auth-update" title="修改" href="javascript:Edit@(itemName)('${item.QcNoticeId}');"><i class="fas fa-edit"></i></a>
                                        <a class="active-link auth-delete" title="刪除" href="javascript:Delete@(itemName)('${item.QcNoticeId}');"><i class="fas fa-trash-alt"></i></a>
                                        <a class="active-link auth-print" href="javascript:Print@(itemName)('${item.QcNoticeNo}','${item.MtlItemNo}');"><i class="fas fa-print"></i><span>列印</span></a>
                                    `
                            break;
                    }
                    innerHtml +=`
                                        </td>
                                    </tr>`;
                });
            } else {
                innerHtml += `<tr>
                                <td class="text-center" colspan="13" style="background-color: #fff3cd;">
                                    <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                </td>
                                </tr>`;
            }
        }else {
            alert(data.msg, "alert", 0);
        }
        $("#tblData@(itemName) tbody").html(innerHtml);
        TableComponentInit();
        Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));
    }

    $("#txtMo@(itemName)").keypress(function (event) {
    var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
            if ($("#txtMo@(itemName)").val() == "") {
                alert("製令不可為空", "alert", 0);
            } else {
                if ($("#txtMo@(itemName)").val() % 1 == 0) {
                    MoInfo@(itemName)($("#txtMo@(itemName)").val(),"",-1);
                    MoDsInfo@(itemName)($("#txtMo@(itemName)").val(), "", -1);                    
                } else {
                    $("#txtWoSeqDiv@(itemName)").show();
                }
            }
        }
    });

    $("#txtWoSeqDiv@(itemName)").keypress(function (event) {
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
            if ($("#txtMo@(itemName)").val() == "") {
                alert("製令不可為空", "alert", 0);
            } else {
                MoInfo@(itemName)(-1, $("#txtMo@(itemName)").val(), $("#txtWoSeq@(itemName)").val());
                MoDsInfo@(itemName)(-1, $("#txtMo@(itemName)").val(), $("#txtWoSeq@(itemName)").val());                
            }
        }
    });

    function MoInfo@(itemName)(MoId, WoErpNo, WoSeq) {
        $("#MfgInfo").show();
        let otherInfo;
        if (WoSeq != "-1") {
            otherInfo = WoErpNo + "(" + WoSeq + ")";
        } else {
            otherInfo = "";
        }
        let targetUrl = "@Url.Action("GetManufactureOrder", "QcItemSetting")";
        let postData = {
            "MoId": MoId,
            "otherInfo": otherInfo
        };
        let data = DataAccess.Get(targetUrl, postData, false);
        if (data.status == "success") {            
            $.each(data.result, function (i, item) {
                $("#desWoErpFullNoMo@(itemName)").html(item.WoErpPrefix + "-" + item.WoErpNo);
                $("#desMtlItemNoMo@(itemName)").html(item.MtlItemNo);

                $("#txtMtlItemNoQViewMtlItem").html(item.MtlItemNo);//預在品號顯示頁面

                $("#desMtlItemNameMo@(itemName)").html(item.MtlItemName);
                $("#desMtlItemSpecMo@(itemName)").html(item.MtlItemSpec);
                $("#desPlanQtyMo@(itemName)").html(item.PlanQty);
                $("#txtControlId@(itemName)").val(item.ControlId);
                MoId@(itemName)= item.MoId;
                RdDesign(item.ControlId);
                cboRoutingProcess@(itemName)(item.ControlId);
            });
            $(".help-block").show();
            $("#txtWoSeqDiv@(itemName)").hide();
        } else {
            alert(data.msg, "alert", 0);
        }
    }

    function MoDsInfo@(itemName)(MoId, WoErpNo, WoSeq) {
        let otherInfo;
        if (WoSeq != "-1") {
            otherInfo = WoErpNo + "(" + WoSeq + ")";
        } else {
            otherInfo = "";
        }
        let innerHtml = '';
        let pageCount = 0;
        let targetUrl = "@Url.Action("GetMoRdDesign", "MasterCam")";
        let postData = {
            "MoId": MoId,
            "otherInfo": otherInfo
        };
        let data = DataAccess.Get(targetUrl, postData, false);
        if (data.status == "success") {
            pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;
            if (pageCount>0) {
            $(".help-block").show();
            $.each(data.result, function (i, item) {
                innerHtml += `<tr>
                    ${JudgeJmoFile(item.JmoFile, item.JmoFileAbsolutePath)}
                    ${JudgeCad2DFile(item.Cad2DFile, item.Cad2DFileAbsolutePath)}
                    ${JudgePdf2DFile(item.Pdf2DFile, item.Pdf2DFileAbsolutePath)}
                    ${JudgeCad3DFile(item.Cad3DFile, item.Cad3DFileAbsolutePath)}
                        <td class="text-center active-content" title="${item.Edition}" style="max-width: 250px;">
                        <a class="active-link mr-1" "> ${item.Edition}</a>
                        </td>
                    </tr>
                    `;
                    });
            } else {
                innerHtml += `<tr>
                                    <td class="text-center" colspan="5" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
            }

        } else {
            alert(data.msg, "alert", 0);
        }

        function JudgeCad3DFile(Cad3DFile, Cad3DFileAbsolutePath) {
            let innerHtml = '';
            if (Cad3DFileAbsolutePath == null && Cad3DFile != null) {
                let cad3DFile = JSON.parse(Cad3DFile);               
                $.each(cad3DFile.data, function (i, item) {
                    innerHtml += `<td class="active-content ellipsis" data-toggle="tooltip" title="${item.FileInfo}" style="max-width: 250px;">
                                                <a class="active-link mr-1" href="/Drawing/GetPdmFile?fileId=${item.FileId}"><i class="fas fa-download"></i></a>
                                                ${item.FileInfo}
                                                </td>`;
                });                

            } else if (Cad3DFileAbsolutePath != null && Cad3DFile == null){
                let fileFullNameList = Cad3DFileAbsolutePath.split('\\');
                    let fileFullName = fileFullNameList[fileFullNameList.length - 1];
                    fileFullName = ChangeASCII@(itemName)(fileFullName);
                    innerHtml += `<td class="active-content ellipsis" data-toggle="tooltip" title="${fileFullName}" style="max-width: 250px;">
                                    <a class="active-link mr-1" href="/Drawing/GetCadFile?FilePath=${Cad3DFileAbsolutePath}"><i class="fas fa-download"></i></a>
                                    ${fileFullName}
                                    </td>`;
            } else {
                innerHtml += `<td class="text-center" style="background-color: #fff3cd;">
                                        <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>`;
            }
            return innerHtml;
        }

        function JudgeCad2DFile(Cad2DFile, Cad2DFileAbsolutePath) {
            let innerHtml = '';
            if (Cad2DFileAbsolutePath == null && Cad2DFile != null) {
                let cad2DFile = JSON.parse(Cad2DFile);                
                $.each(cad2DFile.data, function (i, item) {
                    innerHtml += `<td class="active-content ellipsis" data-toggle="tooltip" title="${item.FileInfo}" style="max-width: 250px;">
                                                <a class="active-link mr-1" href="/Drawing/GetPdmFile?fileId=${item.FileId}"><i class="fas fa-download"></i></a>
                                                ${item.FileInfo}
                                                </td>`;
                }); 
            } else if (Cad2DFileAbsolutePath != null && Cad2DFile == null){
                let fileFullNameList = Cad2DFileAbsolutePath.split('\\');
                    let fileFullName = fileFullNameList[fileFullNameList.length - 1];
                    fileFullName = ChangeASCII@(itemName)(fileFullName);
                    innerHtml += `<td class="active-content ellipsis" data-toggle="tooltip" title="${fileFullName}" style="max-width: 250px;">
                                    <a class="active-link mr-1" href="/Drawing/GetCadFile?FilePath=${Cad2DFileAbsolutePath}"><i class="fas fa-download"></i></a>
                                    ${fileFullName}
                                    </td>`;
            } else {
                innerHtml += `<td class="text-center" style="background-color: #fff3cd;">
                                        <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>`;
            }
            return innerHtml;
        }

        function JudgePdf2DFile(Pdf2DFile, Pdf2DFileAbsolutePath) {
            let innerHtml = '';
            if (Pdf2DFileAbsolutePath == null && Pdf2DFile != null) {
                let pdf2DFile = JSON.parse(Pdf2DFile);                
                $.each(pdf2DFile.data, function (i, item) {
                    innerHtml += `<td class="active-content ellipsis" data-toggle="tooltip" title="${item.FileInfo}" style="max-width: 250px;">
                                                <a class="active-link mr-1" href="/Drawing/GetPdmFile?fileId=${item.FileId}"><i class="fas fa-download"></i></a>
                                                ${item.FileInfo}
                                                </td>`;
                });                

            } else if (Pdf2DFileAbsolutePath != null && Pdf2DFile == null) {
                let fileFullNameList = Pdf2DFileAbsolutePath.split('\\');
                    let fileFullName = fileFullNameList[fileFullNameList.length - 1];
                    fileFullName = ChangeASCII@(itemName)(fileFullName);
                    innerHtml += `<td class="active-content ellipsis" data-toggle="tooltip" title="${fileFullName}" style="max-width: 250px;">
                                    <a class="active-link mr-1" href="/Drawing/GetCadFile?FilePath=${Pdf2DFileAbsolutePath}"><i class="fas fa-download"></i></a>
                                    ${fileFullName}
                                    </td>`;
            } else {
                innerHtml += `<td class="text-center" style="background-color: #fff3cd;">
                                        <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>`;
            }


            return innerHtml;
        }

        function JudgeJmoFile(JmoFile, JmoFileAbsolutePath) {
            console.log(JmoFileAbsolutePath + "::"+JmoFile);
            let innerHtml = '';
            if (JmoFileAbsolutePath == null && JmoFile != null) {
                let jmoFile = JSON.parse(JmoFile);                
                $.each(jmoFile.data, function (i, item) {
                    innerHtml += `<td class="active-content ellipsis" data-toggle="tooltip" title="${item.FileInfo}" style="max-width: 250px;">
                                                    <a class="active-link mr-1" href="/Drawing/GetPdmFile?fileId=${item.FileId}"><i class="fas fa-download"></i></a>
                                                    ${item.FileInfo}
                                                    </td>`;
                    JmoFileId@(itemName) = item.FileId;
                });
            } else if (JmoFileAbsolutePath != null && JmoFile == null){
                let fileFullNameList = JmoFileAbsolutePath.split('\\');
                let fileFullName = fileFullNameList[fileFullNameList.length - 1];
                fileFullName = ChangeASCII@(itemName)(fileFullName);
                innerHtml += `<td class="active-content ellipsis" data-toggle="tooltip" title="${fileFullName}" style="max-width: 250px;">
                                <a class="active-link mr-1" href="/Drawing/GetCadFile?FilePath=${JmoFileAbsolutePath}"><i class="fas fa-download"></i></a>
                                ${fileFullName}
                                </td>`;
                    JmoFileId@(itemName) = JmoFileAbsolutePath;
            }else {
                innerHtml += `<td class="text-center" style="background-color: #fff3cd;">
                                        <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>`;
                    JmoFileId@(itemName) = -1;
            }
            return innerHtml;
        }
        $("#desFile@(itemName) tbody").html(innerHtml);
        $("#txtWoSeqDiv@(itemName)").hide();
        $("#Process@(itemName)").slideDown("show");
        $(".QcItem").slideDown("show");
    }

    $("#cboQcNoticeType@(itemName)").change(function () {
        if ($("#cboQcNoticeType@(itemName)").val() == "IPQC") {
            $("#RoutingProcess").show();
            QcNoticeNo = editQcNoticeNo($("#cboQcNoticeType@(itemName)").val());
            $("#txtQcNoticeNo@(itemName)").val(QcNoticeNo);

        } else {
            $("#RoutingProcess").hide();
            QcNoticeNo = editQcNoticeNo($("#cboQcNoticeType@(itemName)").val());
            $("#txtQcNoticeNo@(itemName)").val(QcNoticeNo);
        }
    });

    function InitQcNoticeFile@(itemName)(QcNoticeId) {
        let innerHtml = '';
        let targetUrl = "@Url.Action("GetQcNoticeFile", "QcItemSetting")";
        let postData = {
            "QcNoticeId":QcNoticeId
        };
        let data = DataAccess.Get(targetUrl, postData, false);
        if (data.status == "success") {
            $.each(data.result, function (i, item) {
                innerHtml += `<tr>
                                        ${QcNoticeFile@(itemName)(item.FileId, item.FileName)}
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.CreateDate}" style="max-width: 200px;">${item.CreateDate}</td>
                                        <td class="text-center col-sticky">
                                          <a class="active-link auth-delete" title="刪除" href="javascript:DeleteQcNoticeFile@(itemName)('${item.QcNoticeFileId}');"><i class="fas fa-trash-alt"></i></a>
                                        </td>
                                `;
            });
            function QcNoticeFile@(itemName)(FileId, FileName) {
                let innerHtml = '';
                if (FileName != null) {
                    innerHtml += `<td class="active-content ellipsis" data-toggle="tooltip" title="${FileName}" style="max-width: 250px;">
                                                    <a class="active-link mr-1" href="/Drawing/GetPdmFile?fileId=${FileId}"><i class="fas fa-download"></i></a>
                                                    ${FileName}
                                                    </td>`;
                }
                else {
                    innerHtml += `<td class="text-center" style="background-color: #fff3cd;">
                                            <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                        </td>`;
                }
                return innerHtml;
            }
        }else {
            alert(data.msg, "alert", 0);
        }
        $("#tblQcNoticeFile@(itemName) tbody").html(innerHtml);
        TableComponentInit();
    }

    function DeleteQcNoticeFile@(itemName)(QcNoticeFileId) {
        swal.fire({
            titleText: "確認要刪除嗎?",
            text: "此動作無法復原，請確認是否要執行!",
            icon: "warning",
            allowOutsideClick: false,
            allowEscapeKey: false,
            showCancelButton: true,
            confirmButtonColor: '#d33',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                let targetUrl = "@Url.Action("DeleteQcNoticeFile", "QcItemSetting")";
                let postData = {
                    "QcNoticeFileId": QcNoticeFileId
                };
                let result = DataAccess.Delete(targetUrl, postData, false, true);
                if (result) {
                    InitQcNoticeFile@(itemName)(QcNoticeId@(itemName));
                }
            }
            });
    }

    function Edit@(itemName)(qcNoticeId) { 
        $("#QcNoticeSave , #QcNoticeSpecSave").show();
        $("#RD").hide();
        $("#Mo").hide();
        $("#RoutingProcess").hide();

        $("#QcNoticeId").val(qcNoticeId ? qcNoticeId : -1);
        Switch("#listDataQcNoticeItemSpec", "#editDataQcNoticeItemSpec, .unit-block");
        $("#txtQcNoticeFile@(itemName)").val("");
        InitQcNoticeFile@(itemName)(qcNoticeId);
        ComboBoxs.Default("#cboDepartment@(itemName)", "@Url.Action("GetDepartment", "BasicInformation")", {}, "", "ALL", "", "DepartmentName", "DepartmentId");

        let QcNoticeFileConfig = {
            fileSelector: "#QcNoticeFile@(itemName)",
            targetSelector: "#txtQcNoticeFile@(itemName)",
            required: false,
            uploadPath: "/QcItemSetting/QcNotice",
            maxFileCount: 10,
            //allowedFileExtensions:['txt','jpg'],
            defaultFile: $("#txtQcNoticeFile@(itemName)").val()
        };
        Suites.FileUpload(QcNoticeFileConfig);

        if (qcNoticeId > 0) {
            $("#cboQcNoticeType@(itemName)").attr('disabled', true);
            QueryQcNoticeItemSpec(qcNoticeId);
            InitQcNoticeFile@(itemName)(qcNoticeId);
            $("#ViewQcNoticeItemSpec").show();
            $("#tabViewQcNoticeItemSpec").show();
            $(".advanced-block").slideDown("long");

            let targetUrl = "@Url.Action("GetQcNotice", "QcItemSetting")";
            let postData = {
                "QcNoticeId": qcNoticeId
            };
            let data = DataAccess.Get(targetUrl, postData, false);
            if (data.status == "success") {
                $.each(data.result, function (i, item) {
                    ComboBoxs.Default("#cboRoutingProcess@(itemName)", "@Url.Action("GetRoutingProcess", "QcItemSetting")", { "ControlId": item.ControlId, "RoutingProcessId": item.RoutingProcessId }, "", "ALL", "", "ProcessAlias", "RoutingProcessId");
                    ComboBoxs.Default("#cboQcNoticeType@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "QcItem.QcType" }, "", "ALL", "", "TypeName", "TypeNo");

                    $("#txtMo@(itemName)").val(item.MoId);                    
                    $("#txtQcNoticeQty@(itemName)").val(item.QcNoticeQty);
                    $("#cboQcNoticeType@(itemName)").val(item.QcNoticeType);
                    $("#txtQcNoticeNo@(itemName)").val(item.QcNoticeNo);                    
                    $("#txtRemark@(itemName)").val(item.Remark);
                    $("#cboDepartment@(itemName)").val(item.DepartmentId);
                    $("#cboResetFlag@(itemName)").val(item.ResetFlag);
                    $("#txtControlId@(itemName)").val(item.ControlId);
                    $("#cboRoutingProcess@(itemName)").val(item.RoutingProcessId);
                });
                MoInfo@(itemName)($("#txtMo@(itemName)").val(), "", "-1");
                MoDsInfo@(itemName)($("#txtMo@(itemName)").val(), "", "-1"); 
                Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");                
                    switch ($("#cboQcNoticeType@(itemName)").val()) {
                        case 'OQC': 
                            RdDesign($("#txtControlId@(itemName)").val());
                            $("#RD").show();                            
                            $("#Mo").hide();
                            $("#RoutingProcess").hide();
                        break;
                        case 'IPQC':
                            RdDesign($("#txtControlId@(itemName)").val());
                            $("#RD").hide();                            
                            $("#Mo").show();
                            $("#RoutingProcess").show();                            
                        break;
                        case 'PVTQC':
                            $("#RD").show();                            
                            $("#Mo").show();
                            $("#RoutingProcess").hide();
                            MoInfo@(itemName)($("#txtMo@(itemName)").val(),"",-1);
                            MoDsInfo@(itemName)($("#txtMo@(itemName)").val(), "", -1);
                            RdDesign($("#txtControlId@(itemName)").val());
                        break;
                        case 'TQC'://全吋檢
                            $("#RD").show();                            
                            $("#Mo").show();
                            $("#RoutingProcess").hide();
                            MoInfo@(itemName)($("#txtMo@(itemName)").val(),"",-1);
                            MoDsInfo@(itemName)($("#txtMo@(itemName)").val(), "", -1);
                            RdDesign($("#txtControlId@(itemName)").val());
                        break;
                    }
                
            } else {
                alert(data.msg, "alert", 0);
            }
        } else {
            $("#cboQcNoticeType@(itemName)").attr('disabled', false);
            $("#editForm@(itemName)").get(0).reset();
            $("#RoutingProcess").hide();
            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");
        }

    }

    //品號彈跳視窗
    let popConfig = {
        targetSelector: "#txtMtlItemId@(itemName)",
        popFunction: "PopViewMtlItem",
        objectMtlItemId: "#txtMtlItemId@(itemName)",
        objectMtlItemNo: "#desMtlItemNo@(itemName)",
        objectMtlItemName: "#desMtlItemName@(itemName)",
        objectMtlItemSpec: "#desMtlItemSpec@(itemName)",
    };
    InitPopView(popConfig);

    function Save@(itemName)() {
        let QcNoticeId = parseInt($("#QcNoticeId").val());
        if (QcNoticeId<0) {
            //新增QcNoticeId
            let targetUrl = "@Url.Action("AddQcNotice", "QcItemSetting")";
            let postData = {
                "QcNoticeNo": $("#txtQcNoticeNo@(itemName)").val(),
                "QcNoticeType": $("#cboQcNoticeType@(itemName)").val(),
                "QcNoticeQty": $("#txtQcNoticeQty@(itemName)").val(),
                "MoId": MoId@(itemName),
                "ControlId": $("#txtControlId@(itemName)").val(),
                "RoutingProcessId": $("#cboRoutingProcess@(itemName)").val(),
                "Remark": $("#txtRemark@(itemName)").val(),
                "Status": 'N',
                "FileList": $("#txtQcNoticeFile@(itemName)").val(),
                "DepartmentId": $("#cboDepartment@(itemName)").val(),
                "ResetFlag": $("#cboResetFlag@(itemName)").val()
                
            };
            let data = DataAccess.EditContinued(targetUrl, postData, false);
            if (data.status == "success") {
                $.each(data.result, function (i, item) {
                    QcNoticeId = item.QcNoticeId //紀錄量測需求單檢測項目所需要的QcNoticeId
                });
                $("#QcNoticeId").val(QcNoticeId)
                InitQcNoticeFile@(itemName)(QcNoticeId);
            } else {
                alert(data.msg, "alert",60);
            }
        } else {
            let targetUrl = "@Url.Action("UpdateQcNotice", "QcItemSetting")";
            let postData = {
                "QcNoticeId":QcNoticeId,
                "QcNoticeNo": $("#txtQcNoticeNo@(itemName)").val(),
                "QcNoticeType": $("#cboQcNoticeType@(itemName)").val(),
                "QcNoticeQty": $("#txtQcNoticeQty@(itemName)").val(),
                "ControlId": $("#txtControlId@(itemName)").val(),
                "RoutingProcessId":$("#cboRoutingProcess@(itemName)").val(),
                "MoId": MoId@(itemName),
                "ControlId": $("#txtControlId@(itemName)").val(),
                "RoutingProcessId": $("#cboRoutingProcess@(itemName)").val(),
                "Remark": $("#txtRemark@(itemName)").val(),
                "Status": 'N',
                "FileList": $("#txtQcNoticeFile@(itemName)").val(),
                "DepartmentId": $("#cboDepartment@(itemName)").val(),
                "ResetFlag": $("#cboResetFlag@(itemName)").val()
                
            };
            let data = DataAccess.EditContinued(targetUrl, postData, false);
            if (data.status == "success") {
                InitQcNoticeFile@(itemName)(QcNoticeId);
            } else {
                alert(data.msg, "alert",60);
            }
        }
        ExpandQcNoticeItemSpec(QcNoticeId);
    }

    function Delete@(itemName)(QcNoticeId) {
        swal.fire({
            titleText: "確認要刪除嗎?",
            text: "此動作無法復原，請確認是否要執行!",
            icon: "warning",
            allowOutsideClick: false,
            allowEscapeKey: false,
            showCancelButton: true,
            confirmButtonColor: '#d33',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                let targetUrl = "@Url.Action("DeleteQcNotice", "QcItemSetting")";
                let postData = {
                    "QcNoticeId": QcNoticeId
                };
                let result = DataAccess.Delete(targetUrl, postData, false, true);
                if (result) {
                    Query@(itemName)();
                }
            }
            });
    }

    function Return@(itemName)() {
        ResetForm(objForm@(itemName));
        Query@(itemName)();
        Switch("#listData@(itemName)", "#editData@(itemName), .unit-block");
        $(".advanced-block").hide();
        $(".help-block").hide();
        let currentDate = new Date();

        Suites.DateDropper("#txtStartDateQ@(itemName), #txtEndDateQ@(itemName)");
        Suites.SetDateDropper("#txtEndDateQ@(itemName)", currentDate);
        currentDate.setDate(currentDate.getDate() - 1);
        Suites.SetDateDropper("#txtStartDateQ@(itemName)", currentDate);

        if (!isMobile) {
            $("#cboQcNoticeTypeQ@(itemName)").select2({
                width: "100%"
            });
            $("#cboQcNoticeType@(itemName)").select2({
                width: "100%"
            });

        }
        ComboBoxs.Default("#cboQcNoticeTypeQ@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "QcItem.QcType" }, "", "ALL", "", "TypeName", "TypeNo");
        ComboBoxs.Default("#cboQcNoticeType@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "QcItem.QcType" }, "", "ALL", "", "TypeName", "TypeNo");
        $("#txtQcNoticeNo@(itemName)").val("");
    }

    function editQcNoticeNo(QcNoticeType) {
        let No = "", year = "", month = "", day = "", hours = "", minutes = "", seconds = "";
        const d = new Date();
        year = d.getFullYear().toString();
        month = (d.getMonth() + 1).toString().padStart(2, '0');
        day = d.getDate().toString().padStart(2, '0');
        hours = d.getHours().toString().padStart(2, '0');
        minutes = d.getMinutes().toString().padStart(2, '0');
        seconds = d.getSeconds().toString().padStart(2, '0');
        No = QcNoticeType+ year + month + day + hours + minutes + seconds;
        return No
    }
    function FaEye@(itemName)(qcNoticeId) {
        $("#QcNoticeSave , #QcNoticeSpecSave").hide();
        $("#QcNoticeId").val(qcNoticeId ? qcNoticeId : -1);
        Switch("#listDataQcNoticeItemSpec", "#editDataQcNoticeItemSpec, .unit-block");
        $("#txtQcNoticeFile@(itemName)").val("");
        InitQcNoticeFile@(itemName)(qcNoticeId);
        ComboBoxs.Default("#cboDepartment@(itemName)", "@Url.Action("GetDepartment", "BasicInformation")", {}, "", "ALL", "", "DepartmentName", "DepartmentId");

        let QcNoticeFileConfig = {
            fileSelector: "#QcNoticeFile@(itemName)",
            targetSelector: "#txtQcNoticeFile@(itemName)",
            required: false,
            uploadPath: "/QcItemSetting/QcNotice",
            maxFileCount: 10,
            //allowedFileExtensions:['txt','jpg'],
            defaultFile: $("#txtQcNoticeFile@(itemName)").val()
        };
        Suites.FileUpload(QcNoticeFileConfig);

        if (qcNoticeId > 0) {
            QueryQcNoticeItemSpec(qcNoticeId);
            InitQcNoticeFile@(itemName)(qcNoticeId);
            $("#ViewQcNoticeItemSpec").show();
            $("#tabViewQcNoticeItemSpec").show();
            $(".advanced-block").slideDown("long");

            let targetUrl = "@Url.Action("GetQcNotice", "QcItemSetting")";
            let postData = {
                "QcNoticeId": qcNoticeId
            };
            let data = DataAccess.Get(targetUrl, postData, false);
            if (data.status == "success") {
                $.each(data.result, function (i, item) {
                    ComboBoxs.Default("#cboQcNoticeType@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "QcItem.QcType" }, "", "ALL", "", "TypeName", "TypeNo");

                    $("#txtMo@(itemName)").val(item.MoId);
                    $("#txtQcNoticeQty@(itemName)").val(item.QcNoticeQty);
                    $("#cboQcNoticeType@(itemName)").val(item.QcNoticeType);
                    $("#txtQcNoticeNo@(itemName)").val(item.QcNoticeNo);                    
                    $("#txtRemark@(itemName)").val(item.Remark);
                    $("#cboDepartment@(itemName)").val(item.DepartmentId);
                    $("#cboResetFlag@(itemName)").val(item.ResetFlag);
                });

                MoInfo@(itemName)($("#txtMo@(itemName)").val(),"",-1);
                MoDsInfo@(itemName)($("#txtMo@(itemName)").val(), "", -1);
                Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");
                if ($("#cboQcNoticeType@(itemName)").val() == "IPQC") {
                    $("#RoutingProcess").show();

                } else {
                    $("#RoutingProcess").hide();
                }
            } else {
                alert(data.msg, "alert", 0);
            }
        }
    }

    function SearchRdDesign@(itemName)() {
        $("input[type='radio']").attr('radio', false);
        $("#modalViewRdDesign").modal({ backdrop: 'static', keyboard: false }, 'show');       
        QueryViewRdDesign($("#txtMtlItemId@(itemName)").val());
    }

    function SearchRdController@(itemName)() {
        $("input[type='radio']").attr('radio', false);
        $("#modalViewRdDesignControl").modal({ backdrop: 'static', keyboard: false }, 'show');        
        QueryViewRdDesignControl($("#txtMtlItemId@(itemName)").val());
    }

    function RdDesign(ControlId) {       
        let targetUrl = "@Url.Action("GetRdInformation", "QcItemSetting")";
        let postData = {
            "ControlId": ControlId
        };
        let data = DataAccess.Get(targetUrl, postData, false);
        if (data.status == "success") {
            $.each(data.result, function (i, item) {
                //產品品號
                $("#txtMtlItemId@(itemName)").val(item.MtlItemId);
                $("#desMtlItemNo@(itemName)").html(item.MtlItemNo);
                $("#desMtlItemName@(itemName)").html(item.MtlItemName);
                $("#desMtlItemSpec@(itemName)").html(item.MtlItemSpec);
                //研發設計圖
                $("#txtDesignId@(itemName)").val(item.DesignId);
                $("#desCustomerMtlItemNo@(itemName)").html(item.CustomerMtlItemNo);
                $("#desCustomerDwgNo@(itemName)").html(item.CustomerDwgNo);
                $("#desEdition@(itemName)").html(item.CustEdition + "(" + item.CustVersion + ")");
                //圖面版本
                $("#txtControlId@(itemName)").val(item.ControlId)
                $("#desCause@(itemName)").html(item.Cause);
                $("#desCreateDate@(itemName)").html(item.LastModifiedDate);
                $("#desRdControlInfoEditionQcNotice").html(item.Edition + "(" + item.Version + ")");
            }); 
            $(".help-block").show();
        } else {
            alert(data.msg, "alert", 0);
        }
    }

    function Print@(itemName)(QcNoticeNo, MtlItemNo) {
        let targetUrl = "@Url.Action("PrintQcNoticeNo", "PrintLabel")";
        let postData = {
            "QcNoticeNo": QcNoticeNo,
            "MtlItemNo": MtlItemNo
        };
        FileAccess.AjaxDownload(targetUrl, postData, false);
    }

    function ChangeASCII@(itemName)(fileName) {
        if (fileName.indexOf("%2B") != -1) fileName = fileName.replace("%2B", "+");
        if (fileName.indexOf("%2F") != -1) fileName = fileName.replace("%2F", "/");
        if (fileName.indexOf("%3F") != -1) fileName = fileName.replace("%3F", "?");
        if (fileName.indexOf("%23") != -1) fileName = fileName.replace("%23", "#");
        if (fileName.indexOf("%26") != -1) fileName = fileName.replace("%26", "&");
        if (fileName.indexOf("%3D") != -1) fileName = fileName.replace("%3D", "=");

        return fileName;
    }
</script>
)