@using Business_Manager.Helpers
@{
    string itemName = "ViewTemplate";
    string itemNameText = "量測需求單樣板";
    string authority = ViewBag.authority;
}

<div class="modal fade" id="modal@(itemName)">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@(itemNameText)</h5>
                <a class="close list-mode" href="javascript:void(0);" onclick="Close@(itemName)()"><i class="fas fa-times"></i></a>
            </div>
            <div class="modal-body">
                <div class="row" id="queryForm@(itemName)">
                    <div class="col-12">
                        <div class="col-12">
                            <form autocomplete="off" id="queryForm@(itemName)">
                                <fieldset>
                                    <div class="form-row align-items-center mb-2">
                                        <label class="form-label col-auto" for="txtQcGroupQ@(itemName)">群組<span class="text-danger">*</span></label>
                                        <div class="col-5">
                                            <select id="cboQcGroupQ@(itemName)" name="cboQcGroupQ@(itemName)" class="form-control" title="輸入群組"></select>
                                        </div>
                                        <label class="form-label col-auto" for="txtQcClassQ@(itemName)">類別<span class="text-danger">*</span></label>
                                        <div class="col-5">
                                            <select id="cboQcClassQ@(itemName)" name="cboQcClassQ@(itemName)" class="form-control" title="輸入類別"></select>
                                        </div>
                                        <div class="col-auto">
                                            <button type="button" class="btn btn-primary" onclick="Query@(itemName)()"><i class="fal fa-search"></i>搜尋</button>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="max-width: 75px;">#</th>
                                        <th scope="col" style="max-width: 200px;">類型</th>
                                        <th scope="col" style="max-width: 200px;">編號</th>
                                        <th scope="col" style="max-width: 200px;">名稱</th>
                                        <th scope="col" style="max-width: 200px;">描述</th>
                                        <th scope="col" style="max-width: 200px;">製程</th>
                                        <th scope="col" style="max-width: 200px;">建立者</th>
                                        <th scope="col" style="max-width: 200px;">建立日期</th>
                                        <th scope="col" style="max-width: 200px;">預覽</th>
                                        <th class="text-center" scope="col" style="max-width: 250px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="Close@(itemName)()"><i class="fas fa-times"></i>關閉</button>
                <button type="button" class="btn btn-success save-mode" onclick="Save@(itemName)()"><i class="fas fa-check"></i>確定</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalSpec@(itemName)">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@(itemNameText)</h5>
                <a class="close list-mode" href="javascript:void(0);" onclick="Close@(itemName)()"><i class="fas fa-times"></i></a>
            </div>
            <div class="modal-body">
                <div class="row" id="queryForm@(itemName)">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblDataSpec@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="max-width: 75px;">#</th>
                                        <th scope="col" style="max-width: 200px;">量測項目</th>
                                        <th scope="col" style="max-width: 200px;">上限公差</th>
                                        <th scope="col" style="max-width: 200px;">設計值</th>
                                        <th scope="col" style="max-width: 200px;">下限公差</th>
                                        <th scope="col" style="max-width: 200px;">Z值</th>
                                        <th scope="col" style="max-width: 200px;">量測單位</th>
                                        <th scope="col" style="max-width: 200px;">同項目量測次數</th>
                                        <th scope="col" style="max-width: 200px;">同產品量測次數</th>
                                        <th scope="col" style="max-width: 200px;">建立日期</th>
                                        <th class="text-center" scope="col" style="max-width: 250px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="pageSpec@(itemName)"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" href="#" ><i class="fas fa-times"></i>關閉</button>
                <button type="button" class="btn btn-success save-mode" onclick="Save@(itemName)()"><i class="fas fa-check"></i>確定</button>
            </div>
        </div>
    </div>
</div>
@Html.Resource("js",
@<script>
    let objPage@(itemName) = {
        "pageIndex": 0,
        "pageSize": 5
    };

    $(document).ready(function () {
        Query@(itemName)();
    });

    function Query@(itemName)() {
        objPage@(itemName).pageIndex = 0;
        InitData@(itemName)(objPage@(itemName));
    }

    function InitData@(itemName)(objPage) {
        let innerHtml = '';
        let pageCount = 0;
        let targetUrl = "@Url.Action("GetQcNoticeTemplate", "QcItemSetting")";
        let postData = {
            "OrderBy": "",
            "PageIndex": (objPage.pageIndex + 1),
            "PageSize": objPage.pageSize,
            "QcNoticeTemplateNo": $("#txtQcNoticeTemplateNoQ@(itemName)").val(),
            "QcNoticeType": $("#cboQcNoticeTypeQ@(itemName)").val(),            
            "ParameterId": $("#cboProcessQ@(itemName)").val(),
            "StartDate":($("#cbxUseDate@(itemName)").is(":checked") ? $("#txtStartDateQ@(itemName)").val() : ""),
            "EndDate":($("#cbxUseDate@(itemName)").is(":checked") ? $("#txtEndDateQ@(itemName)").val() : "")
        };
        let data = DataAccess.Get(targetUrl, postData, false);
        if (data.status == "success") {

            pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;
            if (pageCount > 0) {
                objPage = PageCaculate(pageCount, objPage);

                $.each(data.result, function (i, item) {
                    let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";
                    innerHtml += `<tr>
                                        <td style="max-width: 75px;">${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.TypeDesc}" style="max-width: 200px;">${item.TypeDesc}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.QcNoticeTemplateNo}" style="max-width: 200px;">${item.QcNoticeTemplateNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.QcNoticeTemplateName}" style="max-width: 200px;">${item.QcNoticeTemplateName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.QcNoticeTemplateDesc}" style="max-width: 200px;">${item.QcNoticeTemplateDesc}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ProcessName}" style="max-width: 200px;">${item.ProcessName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.UserName}" style="max-width: 200px;">${item.UserName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.CreateDate}" style="max-width: 200px;">${item.CreateDate}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="預覽" style="max-width: 200px;" href="javascript:FasEye@(itemName)('${item.QcNoticeTemplateId}');"><i class="fas fa-eye"></i></td>
                                        <td class="text-center col-sticky">
                                          <label class="control control-solid control-solid-info control--radio">
                                            <input type="radio" data-id="${item.QcNoticeTemplateId}" value="${item.QcNoticeTemplateId}" />
                                            <span class="control__indicator"></span>
                                          </label>
                                          <input type="hidden" name="txtQcNoticeTemplateId@(itemName)" data-id="${item.QcNoticeTemplateId}" value="${item.QcNoticeTemplateId}" />
                                          <input type="hidden" name="txtQcNoticeTemplateNo@(itemName)" data-no="${item.QcNoticeTemplateId}" value="${item.QcNoticeTemplateNo}" />
                                          <input type="hidden" name="txtQcNoticeTemplateName@(itemName)" data-name="${item.QcNoticeTemplateId}" value="${item.QcNoticeTemplateName}" />
                                        </td>
                                    </tr>`;
                });
            } else {
                innerHtml += `<tr>
                                    <td class="text-center" colspan="11" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
            }

        } else {
            alert(data.msg, "alert", 0);
        }
        $("#tblData@(itemName) tbody").html(innerHtml);
        TableComponentInit();
        Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

        $("input[type='radio']").click(function () {
            if ("[data-id]:checked") {
                let qcNoticeTemplateId = $(this).data("id");
                let QcNoticeTemplateId = $(`input[name='txtQcNoticeTemplateId@(itemName)'][data-id='${qcNoticeTemplateId}']`).val();
                let QcNoticeTemplateNo = $(`input[name='txtQcNoticeTemplateNo@(itemName)'][data-no='${qcNoticeTemplateId}']`).val();
                let QcNoticeTemplateName = $(`input[name='txtQcNoticeTemplateName@(itemName)'][data-name='${qcNoticeTemplateId}']`).val();

                //#region //量測需求單檢測項目
                QcNoticeTemplateIdQcNoticeItemSpec = QcNoticeTemplateId;
                //#endregion

                let targetUrl = "@Url.Action("AddTemplateToQcNoticeItemSpec", "QcItemSetting")";
                let postData = {
                    "QcNoticeId": parseInt($("#QcNoticeId").val()),
                    "QcNoticeTemplateId": QcNoticeTemplateIdQcNoticeItemSpec
                };
                result = DataAccess.Add(targetUrl, postData, false, true); 
            }
            QueryQcNoticeItemSpec(parseInt($("#QcNoticeId").val()));
            $("#modalViewTemplate").modal('hide');            
        });
    }

    function FasEye@(itemName)(QcNoticeTemplateId) {
        $("#modalSpec@(itemName)").modal({
                show: true
        });
    }

    $("#modalSpec@(itemName)").on('show.bs.modal', '.modal', function () {
        const zIndex = 1040 + 10 * $('.modal:visible').length;
        $(this).css('z-index', zIndex);
        setTimeout(() => $('.modal-backdrop').not('.modal-stack').css('z-index', zIndex - 1).addClass('modal-stack'));
    });

    function Close@(itemName)() {
        QueryQcNoticeItemSpec(QcNoticeIdQcNotice);
        $("#modalViewTemplate").modal('hide');   


    }
</script>
)