@using Business_Manager.Helpers
@{
    string itemName = "QuotationManagement";
    string itemNameText = "報價單管理";
    string authority = ViewBag.authority;
    ViewBag.Title = itemNameText;
}

<input type="hidden" id="rfqPage" value="default" />
<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtRfqNoQ@(itemName)">需求單號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtRfqNoQ@(itemName)" name="txtRfqNoQ@(itemName)" placeholder="請輸入需求單號" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtMemberNameQ@(itemName)">客戶名稱</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMemberNameQ@(itemName)" name="txtMemberNameQ@(itemName)" placeholder="請輸入客戶名稱" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtAssemblyNameQ@(itemName)">機種名稱</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtAssemblyNameQ@(itemName)" name="txtAssemblyNameQ@(itemName)" placeholder="請輸入機種名稱" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboProductUseQ@(itemName)">產品應用</label>
                            <div class="col-12">
                                <select class="form-control edit-column" id="cboProductUseQ@(itemName)" name="cboProductUseQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboSalesIdQ@(itemName)">負責業務</label>
                            <div class="col-12">
                                <select class="form-control edit-column" id="cboSalesIdQ@(itemName)" name="cboSalesIdQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">狀態</label>
                            <div class="col-lg-4 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    新單據
                                    <input type="checkbox" id="cbxStatusQ@(itemName)Y" name="cbxStatusQ@(itemName)" value="1" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    指派業務
                                    <input type="checkbox" id="cbxStatusQ@(itemName)N" name="cbxStatusQ@(itemName)" value="2" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    業務完成RFQ單據
                                    <input type="checkbox" id="cbxStatusQ@(itemName)N" name="cbxStatusQ@(itemName)" value="3" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6 mt-2">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    研發完成DFM單據
                                    <input type="checkbox" id="cbxStatusQ@(itemName)N" name="cbxStatusQ@(itemName)" value="4" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6 mt-2">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    製程完成DFM製程
                                    <input type="checkbox" id="cbxStatusQ@(itemName)N" name="cbxStatusQ@(itemName)" value="5" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6 mt-2">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    業務完成報價
                                    <input type="checkbox" id="cbxStatusQ@(itemName)N" name="cbxStatusQ@(itemName)" value="6" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3 justify-content-between">
                    <div class="col-auto col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);">
                            <i class="fal fa-search"></i>搜尋
                        </a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        @*<a class="btn btn-info auth-add" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky tiny-table" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 30px;">#</th>
                                        <th scope="col" style="min-width: 100px;">需求單號</th>
                                        <th scope="col" style="min-width: 115px;">客戶名稱</th>
                                        <th scope="col" style="min-width: 150px;">機種名稱</th>
                                        <th scope="col" style="min-width: 100px;">產品用途</th>
                                        <th scope="col" style="min-width: 80px;">建單類型</th>
                                        <th class="text-center" scope="col" style="min-width: 75px;">操作</th>
                                        <th style="padding: 0; min-width: 1265px;">
                                            <table class="table table-bordered table-sm mb-0 table-non-rwd table-striped-custom table-row-detail">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 80px;">流水號</th>
                                                        <th style="width: 80px;">設變版次</th>
                                                        <th style="width: 150px;">產品類別(可複選)</th>
                                                        <th style="width: 125px;">預計開案日</th>
                                                        <th style="width: 100px;">試作時程</th>
                                                        <th style="width: 100px;">產品生命週期</th>
                                                        <th style="width: 100px;">試作需求數量</th>
                                                        <th style="width: 80px;">量產需求</th>
                                                        <th style="width: 150px;">開案型態(幾P幾黑)</th>
                                                        <th style="width: 150px;">負責業務</th>
                                                        <th style="width: 150px;">單據狀態</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container custom-form-container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="RfqId" name="RfqId" value="-1" />
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtRfqNo@(itemName)">需求單號</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtRfqNo@(itemName)" name="txtRfqNo@(itemName)" placeholder="系統預設" readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtMemberName@(itemName)">客戶名稱</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtMemberName@(itemName)" name="txtMemberName@(itemName)" readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtAssemblyName@(itemName)">機種名稱<span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtAssemblyName@(itemName)" name="txtAssemblyName@(itemName)" placeholder="請輸入機種名稱" readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboProductUse@(itemName)">產品應用</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control edit-column" id="cboProductUse@(itemName)" name="cboProductUse@(itemName)" placeholder="請選擇產品應用" readonly></select>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right read-hide">
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

<!--其他分頁-->
<div class="advanced-block">
    <div class="row">
        <div class="col-12">
            <ul class="nav flag-tabs nav-fill" role="tablist">
                <li class="flag-item">
                    <a class="flag-link" data-toggle="tab" href="#tabRfqDetail">
                        <i class="fas fa-sort-size-down"></i> RFQ單身資料
                    </a>
                </li>
                <li class="flag-item">
                    <a class="flag-link" data-toggle="tab" href="#tabQuotationDetail">
                        <i class="fas fa-sort-size-down"></i> 報價單資料維護
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane" id="tabRfqDetail">
            @Html.Partial("RfqDetail")
        </div>
        <div class="tab-pane" id="tabQuotationDetail">
            @Html.Partial("Quotation")
        </div>
    </div>
</div>


@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            pageIndex: 0,
            pageSize: 10
        };

        let objForm@(itemName) = "#editForm@(itemName)";

        $(document).ready(function () {
            ComboBoxs.Default("#cboProductUseQ@(itemName)", "@Url.Action("GetProductUse", "ScmBasicInformation")", {}, "", "NA", "", "ProductUseName", "ProductUseId");    //產品應用
            ComboBoxs.Default("#cboSalesIdQ@(itemName)", "@Url.Action("GetSalesQuery", "RequestForQuotation")", {}, "", "NA", "", "SalesInfo", "UserId");              //業務人員

            $("#cboProductUseQ@(itemName), #cboSalesIdQ@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });

            let RfqId = $("#RfqId").val();

            Query@(itemName)();

            $(".advanced-block a[data-toggle='tab']").on("shown.bs.tab", function (e) {
                InitParameter@(itemName)($(this));
            });
        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let targetUrl = "@Url.Action("GetRequestForQuotation", "RequestForQuotation")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "RfqNo": $("#txtRfqNoQ@(itemName)").val(),
                "MemberName": $("#txtMemberNameQ@(itemName)").val(),
                "AssemblyName": $("#txtAssemblyNameQ@(itemName)").val(),
                "ProductUseId": $("#cboProductUseQ@(itemName)").val(),
                "SalesId": $("#cboSalesIdQ@(itemName)").val(),
                "Status": $("input[name='cbxStatusQ@(itemName)']:checked").toArray().map(item => item.value).join(",")
            };
            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr>
                                        <td><span class="stack-title">#</span>${_row}</td>
                                        <td><span class="stack-title">需求單號</span>${item.RfqNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MemberUserName}" style="width: 115px; max-width: 115px;">${item.MemberUserName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.AssemblyName}" style="width: 150px; max-width: 150px;">${item.AssemblyName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ProductUseName}" style="width: 100px; max-width: 100px;">${item.ProductUseName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MemberTypeName}" style="width: 80px; max-width: 80px;">${item.MemberTypeName}</td>
                                        <td class="text-center active-content">
                                          <div class="btn-group mb-4 show" style="margin-bottom: 0 !important; position: static;">
                                            <button type="button" class="btn btn-primary dropdown-toggle" data-rfq-id="${item.RfqId}" style="padding-top: 0; padding-bottom: 0;">動作</button>
                                            ${DetailStatus@(itemName)(item.RfqDetail)} @*單身status控管權限*@
                                          </div>
                                        </td>
                                        <td style="padding: 0;">
                                          <table class="table table-bordered table-sm mb-0 table-non-rwd table-striped-custom table-row-detail">
                                            <tbody>
                                              ${DetailData@(itemName)(item.RfqDetail)}
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="13" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

            //控制動作滾輪高度
            $(".dropdown-toggle").off("click").on("click", function () {
                let rfqId = $(this).data("rfq-id");

                if ($(`.dropdown-menu[data-rfq-id='${rfqId}']`).hasClass("show")) {
                    $(".dropdown-menu").removeClass("show");
                } else {
                    $(".dropdown-menu").removeClass("show");

                    $(`.dropdown-menu[data-rfq-id='${rfqId}']`).addClass("show");
                    $(`.dropdown-menu[data-rfq-id='${rfqId}']`).css({
                        top: `${$(this).position().top + $(this).height() + 5}px`,
                        left: `${$(this).position().left - $(this).width() + 38}px`
                    });
                }
            });

            $("body").off("click").on("click", function (e) {
                if ($(".dropdown-menu").hasClass("show")) {
                    if (!$(e.target).hasClass("dropdown-toggle")
                        && !$(e.target).parents().hasClass("dropdown-toggle")) {
                        $(".dropdown-menu").removeClass("show");
                    }
                }
            });
        }

        //status控管權限
        function DetailStatus@(itemName)(source){
            let html = '';

            if (source) {
                let json = JSON.parse(source); //需先轉成json

                for (let x = 0; x < json.data.length; x++) {
                    html += `<div class="dropdown-menu btn-text-left-block" data-rfq-id="${json.data[x].RfqId}" style="overflow-y: auto; z-index: 999; max-height: 150px;">
                               <a class="dropdown-item btn-text-left auth-read" href="javascript:Read@(itemName)(${json.data[x].RfqId}, ${json.data[x].RfqDetailId});"><i class="fas fa-eye"></i>查看</a>
                               ${json.data[x].RfqDetailStatus == `1` ? `<a class="dropdown-item btn-text-left auth-update" href="javascript:Edit@(itemName)(${json.data[x].RfqId}, ${json.data[x].RfqDetailId});"><i class="fas fa-edit"></i>修改</a>` : ``}
                               ${json.data[x].RfqDetailStatus == `1` ? `<a class="dropdown-item btn-text-left auth-assign" href="javascript:Assign@(itemName)(${json.data[x].RfqId}, ${json.data[x].RfqDetailId}, ${json.data[x].SalesId});"><i class="fas fa-user"></i>指派人員</a>` : ``}
                               ${json.data[x].RfqStatus < `2` && json.data[x].RfqDetailStatus != `1` ? `<a class="dropdown-item btn-text-left auth-reassign" href="javascript:ReAssign@(itemName)(${json.data[x].RfqId}, ${json.data[x].RfqDetailId}, ${json.data[x].SalesId});" ><i class="fas fa-user"></i>重新指派</a>` : ``}
                             </div>`;
                }
            }

            return html;
        }

        function DetailData@(itemName)(source){
            let html = '';

            if (source) {
                let json = JSON.parse(source); //需先轉成json

                for (let x = 0; x < json.data.length; x++) {
                    html += `<tr>
                               ${json.data[x].DocType == `E` ?
                               `<td class="ellipsis" data-toggle="tooltip" title="${json.data[x].RfqSequence}" style="width: 80px; max-width: 80px;">${json.data[x].RfqSequence}</td>
                               <td class="ellipsis" data-toggle="tooltip" title="${json.data[x].Edition}" style="width: 80px; max-width: 80px;">${json.data[x].Edition}</td>
                               <td class="ellipsis" data-toggle="tooltip" title="${json.data[x].RfqProductTypeName}" style="width: 150px; max-width: 150px;">${json.data[x].RfqProductTypeName}</td>
                               <td class="ellipsis" data-toggle="tooltip" title="${json.data[x].PlannedOpeningDate}" style="width: 125px; max-width: 125px;">${json.data[x].PlannedOpeningDate}</td>
                               <td class="ellipsis" data-toggle="tooltip" title="${json.data[x].ProtoScheduleName}" style="width: 100px; max-width: 100px;">${json.data[x].ProtoScheduleName}</td>
                               <td style="width: 100px;">${json.data[x].ProdLifeCycleStart}</td>
                               <td style="width: 100px;">${json.data[x].PrototypeQty.toLocaleString(`en`)}</td>
                               <td style="width: 80px;">${json.data[x].MassProductionDemandName}</td>
                               <td class="ellipsis" data-toggle="tooltip" title="${json.data[x].KickOffType}" style="width: 150px; max-width: 150px;">${json.data[x].KickOffType}</td>
                               <td class="ellipsis" data-toggle="tooltip" title="${json.data[x].SalesInfo}" style="width: 150px; max-width: 150px;">${json.data[x].SalesInfo}</td>
                               <td class="ellipsis" data-toggle="tooltip" title="${json.data[x].RfqDetailStatusName}" style="width: 150px; max-width: 150px;">${json.data[x].RfqDetailStatusName}</td>
                               `: ``}
                            </tr >`;
                }
            }

            return html;
        }

        function InitParameter@(itemName)(selector) {
            let initFnString = "Expand";
            let content = selector.attr("href").split('#tab')[1].split('@(itemName)')[0];

            switch (content) {
                case "RfqDetail":
                    initFnString += "RfqDetail";
                    break;
            }

            let initFn = window[initFnString];
            if (initFn && typeof (initFn) == "function") {
                initFn();
            }
        }

        function Edit@(itemName)(RfqId) {
            $("#RfqId").val(RfqId ? RfqId : 0);

            $(objForm@(itemName) + " fieldset").attr("disabled", false);
            $(objForm@(itemName) + " select").attr("disabled", false);
            $(".read-hide").show();

            ComboBoxs.Default("#cboProductUse@(itemName)", "@Url.Action("GetProductUse", "ScmBasicInformation")", {}, "", "NA", "", "ProductUseName", "ProductUseNo");    //產品應用
            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");

            if (RfqId > 0) {
                let targetUrl = "@Url.Action("GetRequestForQuotation", "RequestForQuotation")";
                let postData = {
                    "RfqId": RfqId
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        $("#txtRfqNo@(itemName)").val(item.RfqNo);
                        $("#txtMemberName@(itemName)").val(item.MemberName);
                        $("#txtAssemblyName@(itemName)").val(item.AssemblyName);
                        $("#cboProductUse@(itemName)").val(item.ProductUseId);
                    });

                    if ($(".advanced-block .flag-tabs > .flag-item > .flag-link").first().hasClass("active")) {
                        InitParameter@(itemName)($(".advanced-block .flag-tabs > .flag-item").first().find("a"));
                    } else {
                        $(".advanced-block .flag-tabs > .flag-item").first().find("a").trigger("click");
                    }
                } else {
                    alert(data.msg, "alert", 0);
                }
            }

            $("#cboProductUse@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });
        }

        function Read@(itemName)(RfqId) {
            Edit@(itemName)(RfqId);
            $(objForm@(itemName) + " fieldset").attr("disabled", true);
            $(objForm@(itemName) + " select").attr("disabled", true);
            $(".read-hide").hide();
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let RfqId = parseInt($("#RfqId").val());

                if (RfqId > 0) {
                    let targetUrl = "@Url.Action("UpdateRequestForQuotation", "RequestForQuotation")";
                    let postData = {
                        "RfqId": RfqId,
                        "MemberName": $("#txtMemberName@(itemName)").val(),
                        "AssemblyName": $("#txtAssemblyName@(itemName)").val(),
                        "ProductUseId": $("#cboProductUse@(itemName)").val()
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        if ($(".advanced-block .flag-tabs > .flag-item > .flag-link").first().hasClass("active")) {
                            InitParameter@(itemName)($(".advanced-block .flag-tabs > .flag-item").first().find("a"));
                        } else {
                            $(".advanced-block .flag-tabs > .flag-item").first().find("a").trigger("click");
                        }
                    }
                } else {
                    alert(data.msg, "alert", 0);
                }
            }
        }

        //指派人員
        function Assign@(itemName)(RfqId, RfqDetailId, SalesId) {
            $("#RfqId").val(RfqId);
            ComboBoxs.Default("#cboCompany@(itemName)", "@Url.Action("GetCompany", "BasicInformation")", {}, "", "NA", "", "CompanyName", "CompanyId");

            //若先前已於系統建立客戶資訊，系統直接預設先前已指派過之業務名單; 未選公司時，需顯示所有公司別之人員
            ComboBoxs.Default("#cboSalesId@(itemName)", "@Url.Action("GetSalesQuery", "RequestForQuotation")", {}, SalesId > 0 ? SalesId : "", "NA", "", "SalesInfo", "UserId");

            //修改公司時，需一併代出該公司人員
            $("#cboCompany@(itemName)").change(function () {
                ComboBoxs.Default("#cboSalesId@(itemName)", "@Url.Action("GetSales", "RequestForQuotation")", { "CompanyId": $("#cboCompany@(itemName)").val() }, "", "NA", "", "SalesInfo", "UserId");              //業務人員
            });

            //修改人員時，需一併代出人員所屬公司
            $("#cboSalesId@(itemName)").change(function () {
                let companyId = -1;
                if ($("#cboSalesId@(itemName)").val() > 0) {
                    let targetUrl = "@Url.Action("GetUser", "BasicInformation")";
                    let postData = {
                        "UserId": $("#cboSalesId@(itemName)").val()
                    };

                    let data = DataAccess.Get(targetUrl, postData, false);

                    if (data.status == "success") {
                        $.each(data.result, function (i, item) {
                            companyId = item.CompanyId;
                        });
                    } else {
                        alert(data.msg, "alert", 0);
                    }
                }

                ComboBoxs.Default("#cboCompany@(itemName)", "@Url.Action("GetCompany", "BasicInformation")", {}, companyId, "NA", "", "CompanyName", "CompanyId"); //業務人員所屬公司
            });

            //系統有預設指派業務，自動代出資訊
            if (SalesId > 0) {
                $("#cboSalesId@(itemName)").trigger("change");
            }

            $("#cboCompany@(itemName), #cboSalesId@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });

            $("#modalAssignInfo@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });
        }

        function CloseAssignInfo@(itemName)() {
            ResetForm("#AssignInfoForm@(itemName)");

            $("#modalAssignInfo@(itemName)").modal("hide");

            Query@(itemName)();
        }

        //重新指派
        function ReAssign@(itemName)(RfqId, RfqDetailId, SalesId) {
            $("#RfqId").val(RfqId);
            ComboBoxs.Default("#cboCompany@(itemName)", "@Url.Action("GetCompany", "BasicInformation")", {}, "", "NA", "", "CompanyName", "CompanyId");

            //若先前已於系統建立客戶資訊，系統直接預設先前已指派過之業務名單; 未選公司時，需顯示所有公司別之人員
            ComboBoxs.Default("#cboSalesId@(itemName)", "@Url.Action("GetSalesQuery", "RequestForQuotation")", {}, SalesId > 0 ? SalesId : "", "NA", "", "SalesInfo", "UserId");

            //修改公司時，需一併代出該公司人員
            $("#cboCompany@(itemName)").change(function () {
                ComboBoxs.Default("#cboSalesId@(itemName)", "@Url.Action("GetSales", "RequestForQuotation")", { "CompanyId": $("#cboCompany@(itemName)").val() }, "", "NA", "", "SalesInfo", "UserId"); //業務人員
            });

            //修改人員時，需一併代出人員所屬公司
            $("#cboSalesId@(itemName)").change(function () {
                let companyId = -1;
                if ($("#cboSalesId@(itemName)").val() > 0) {
                    let targetUrl = "@Url.Action("GetUser", "BasicInformation")";
                    let postData = {
                        "UserId": $("#cboSalesId@(itemName)").val()
                    };

                    let data = DataAccess.Get(targetUrl, postData, false);

                    if (data.status == "success") {
                        $.each(data.result, function (i, item) {
                            companyId = item.CompanyId;
                        });
                    } else {
                        alert(data.msg, "alert", 0);
                    }
                }

                ComboBoxs.Default("#cboCompany@(itemName)", "@Url.Action("GetCompany", "BasicInformation")", {}, companyId, "NA", "", "CompanyName", "CompanyId"); //業務人員所屬公司
            });

            if (SalesId > 0) {
                $("#cboSalesId@(itemName)").trigger("change");
            }

            $("#cboCompany@(itemName), #cboSalesId@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });

            $("#modalAssignInfo@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });
        }

        function AssignSave@(itemName)() {
            swal.fire({
                titleText: "確認是否指派該業務負責此案件嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("UpdateRfqSales", "RequestForQuotation")";
                    let postData = {
                        "RfqId": $("#RfqId").val(),
                        "CompanyId": $("#cboCompany@(itemName)").val(),
                        "UserId": $("#cboSalesId@(itemName)").val()
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                        CloseAssignInfo@(itemName)();
                    }
                }
            });
        }

        function Return@(itemName)() {
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName)", "#editData@(itemName), .unit-block, .advanced-block");
            Query@(itemName)();
        }

    </script>
                )


