@using Business_Manager.Helpers
@{
    string itemName = "QuotationWorkPlatform";
    string itemNameText = "報價單工作平台";
    string authority = ViewBag.authority;
    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
    </style>
        )

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtRfqNoQ@(itemName)">RFQ單號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtRfqNoQ@(itemName)" name="txtRfqNoQ@(itemName)" placeholder="請輸入設備名稱" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="form-label col-12" for="cboCustomerIdQ@(itemName)">客戶</label>
                            <div class="col-12">
                                <select class="form-control" id="cboCustomerIdQ@(itemName)" name="cboCustomerIdQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="form-label col-12" for="cboRfqProTypeIdQ@(itemName)">產品類別</label>
                            <div class="col-12">
                                <select class="form-control" id="cboRfqProTypeIdQ@(itemName)" name="cboRfqProTypeIdQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="form-label col-12" for="cboRoleModeQ@(itemName)">角色模式</label>
                            <div class="col-12">
                                <select class="form-control" id="cboRoleModeQ@(itemName)" name="cboRoleModeQ@(itemName)">
                                    <option value="1">項目維護者</option>
                                    <option value="2">經管中心</option>
                                    <option value="3">業務</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row Role1">
                            <label class="col-12 col-form-label">篩選狀態</label>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    已完成
                                    <input type="radio" id="cbxStatusQ@(itemName)A" name="cbxStatusQ@(itemName)" value="Y" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    尚未完成
                                    <input type="radio" id="cbxStatusQ@(itemName)S" name="cbxStatusQ@(itemName)" value="N" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);">
                            <i class="fal fa-search"></i>搜尋
                        </a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn btn-info auth-add" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th scope="col" style="min-width: 150px;">RFQ單號</th>
                                        <th scope="col" style="min-width: 200px;">客戶名稱</th>
                                        <th scope="col" style="min-width: 200px;">產品類別</th>
                                        <th scope="col" style="min-width: 200px;">品名</th>
                                        <th scope="col" style="min-width: 200px;">塑料品名</th>
                                        <th scope="col" style="min-width: 200px;">外徑大小</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">狀態</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="editData@(itemName)" style="display: none;">
</div>

@Html.Partial("Quotation")

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        $(document).ready(function () {

            ComboBoxs.Default("#cboCustomerIdQ@(itemName)", "@Url.Action("GetCustomer", "ScmBasicInformation")", { "Status": "A", "TransferStatus": "A" }, "", "ALL", "", "CustomerWithNo", "CustomerId");
            ComboBoxs.Default("#cboRfqProTypeIdQ@(itemName)", "@Url.Action("GetRfqProductType", "ScmBasicInformation")", { "Status": "A"}, "", "NA", "", "RfqProductTypeName", "RfqProTypeId");              //產品類別

            Query@(itemName)();

            $("#cboRoleModeQ@(itemName)").change(function () {
                @*if ($("#cboRoleModeQ@(itemName)").val() == "1") {
                    $(".Role1").show()
                }
                else {
                    $(".Role1").hide()
                }*@
            })
            

            if (!isMobile) {
                $("#cboCustomerIdQ@(itemName), #cboRfqProTypeIdQ@(itemName), #cboRoleModeQ@(itemName)").select2({
                    width: "100%"
                });
            }
        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let statusList = [];
            $.each($("input[name='cbxStatusQ@(itemName)']:checked"), function () {
                statusList.push($(this).val());
            });
            let RoleMode = $("#cboRoleModeQ@(itemName)").val().trim()
            let targetUrl = "@Url.Action("GetQuotationWork", "RequestForQuotation")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "RfqNo": $("#txtRfqNoQ@(itemName)").val(),
                "CustomerId": $("#cboCustomerIdQ@(itemName)").val(),
                "RfqProTypeId": $("#cboRfqProTypeIdQ@(itemName)").val().trim(),
                "RoleMode": RoleMode,
                "Status": statusList.join(",")
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";
                        let StatusStr =""
                        switch (RoleMode) {
                            case "1":
                                StatusStr = item.ConfirmStatus == `N` ? `未確認` : `確認`
                                break;
                            case "2":
                                StatusStr = item.QuotationStatus != `F` ? `未審核` : `已完成`
                                break;
                            case "3":
                                StatusStr = item.QuotationStatus != `F` ? `進行中` : `報價完成`
                                break;
                        }
                        innerHtml += `<tr>
                                        <td>${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.RfqNo}" style="max-width: 200px;">${item.RfqNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.CustomerName}" style="max-width: 200px;">${item.CustomerName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.RfqProductTypeName}" style="max-width: 200px;">${item.RfqProductTypeName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MtlName}" style="max-width: 200px;">${item.MtlName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.PlasticName}" style="max-width: 200px;">${item.PlasticName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.OutsideDiameter}" style="max-width: 200px;">${item.OutsideDiameter}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ConfirmStatus}" style="max-width: 200px;">${StatusStr}</td>
                                        <td class="text-center active-content">
                                          <a class="active-link auth-read" href="javascript:Edit@(itemName)(${item.RfqDetailId},${item.RfqId});"><i class="fas fa-edit"></i></a>
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="9" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
                innerHtml += `<tr>
                                    <td class="text-center" colspan="9" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));
        }

        function Edit@(itemName)(RfqDetailId, RfqId) {
            Switch("#editDataQuotation, .unit-block", "#listData@(itemName)");
            ExpandQuotation(RfqDetailId, RfqId)
        }



        function Return@(itemName)() {
            //ResetForm(objForm@(itemName));
            Switch("#listData@(itemName)", "#editDataQuotation, .unit-block, .advanced-block");
            Query@(itemName)();
        }


    </script>
        )