@using Business_Manager.Helpers
@{
    string itemName = "RfqAssignManagment";
    string itemNameText = "客戶詢價資訊管理(RFQ)";
    string authority = ViewBag.authority;
    ViewBag.Title = itemNameText;

    string UrlRfqId = Request["UrlRfqId"];

}

@Html.Resource("css",
    @<style>
         .active1{
             display:block;
         }
    </style>
                        )

<input type="hidden" id="rfqPage" value="assign" />
<input type="hidden" id="pageAuthority" value="@authority" />

<input type="hidden" id="readStatus" value="N" /> @*預設為N*@

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtRfqNoQ@(itemName)">需求單號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtRfqNoQ@(itemName)" name="txtRfqNoQ@(itemName)" placeholder="請輸入需求單號" />
                            </div>
                        </div>
                        @*<div class="form-group row">
                            <label class="col-12 col-form-label" for="txtMemberNameQ@(itemName)">客戶名稱</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMemberNameQ@(itemName)" name="txtMemberNameQ@(itemName)" placeholder="請輸入客戶名稱" />
                            </div>
                        </div>*@
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtAssemblyNameQ@(itemName)">機種名稱</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtAssemblyNameQ@(itemName)" name="txtAssemblyNameQ@(itemName)" placeholder="請輸入機種名稱" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboProductUseQ@(itemName)">產品應用</label>
                            <div class="col-12">
                                <select class="form-control edit-column" id="cboProductUseQ@(itemName)" name="cboProductUseQ@(itemName)"></select>
                            </div>
                        </div>
                        @*<div class="form-group row">
                            <label class="col-12 col-form-label" for="cboSalesIdQ@(itemName)">負責業務</label>
                            <div class="col-12">
                                <select class="form-control edit-column" id="cboSalesIdQ@(itemName)" name="cboSalesIdQ@(itemName)"></select>
                            </div>
                        </div>*@
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboStatusQ@(itemName)">狀態</label>
                            <div class="col-12">
                                <select class="form-control edit-column" id="cboStatusQ@(itemName)" name="cboStatusQ@(itemName)"></select>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3 justify-content-between">
                    <div class="col-auto col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);">
                            <i class="fal fa-search"></i>搜尋
                        </a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn btn-info auth-add" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky tiny-table" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 30px;">#</th>
                                        <th scope="col" style="min-width: 100px;">需求單號</th>
                                        <th scope="col" style="min-width: 200px;">客戶名稱</th>
                                        @*<th scope="col" style="min-width: 115px;">業務人員</th>*@
                                        <th scope="col" style="min-width: 150px;">機種名稱</th>
                                        <th scope="col" style="min-width: 100px;">產品用途</th>
                                        <th scope="col" style="min-width: 80px;">建單類型</th>
                                        <th class="text-center" scope="col" style="min-width: 75px;">操作</th>
                                        <th style="padding: 0; min-width: 1265px;">
                                            <table class="table table-bordered table-sm mb-0 table-non-rwd table-striped-custom table-row-detail">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 80px;">流水號</th>
                                                        <th style="width: 80px;">設變版次</th>
                                                        <th style="width: 150px;">產品類別(可複選)</th>
                                                        <th style="width: 125px;">預計開案日</th>
                                                        <th style="width: 100px;">試作時程</th>
                                                        <th style="width: 100px;">產品生命週期</th>
                                                        <th style="width: 100px;">試作需求數量</th>
                                                        <th style="width: 80px;">量產需求</th>
                                                        <th style="width: 150px;">開案型態(幾P幾黑)</th>
                                                        <th style="width: 150px;">負責業務</th>
                                                        <th style="width: 150px;">單據狀態</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container custom-form-container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="RfqId" name="RfqId" value="-1" />
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtRfqNo@(itemName)">需求單號</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtRfqNo@(itemName)" name="txtRfqNo@(itemName)" placeholder="系統預設" readonly />
                            </div>
                        </div>
                        @*<div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtMemberName@(itemName)">客戶名稱</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtMemberName@(itemName)" name="txtMemberName@(itemName)" placeholder="請輸入客戶名稱" />
                            </div>
                        </div>*@
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtAssemblyName@(itemName)">機種名稱<span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtAssemblyName@(itemName)" name="txtAssemblyName@(itemName)" placeholder="請輸入機種名稱" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboProductUse@(itemName)">產品應用</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control edit-column" id="cboProductUse@(itemName)" name="cboProductUse@(itemName)" placeholder="請選擇產品應用"></select>
                            </div>
                        </div>
                        <div class="tab" style="white-space:unset;">
                            <ul class="nav nav-tabs nav-fill mb-3" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link " id="tabActive" data-toggle="tab" href="#tabBasic">
                                        <i class="fas fa-clipboard"></i> 客戶資料
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane " id="tabBasic" style="display:block;">
                                <div class="form-group row">
                                    <label class="col-12 col-md-3 col-lg-3 col-form-label">客人類型</label>
                                    <div class="col-12 col-md-9 col-lg-9">
                                        <div class="input-group">
                                            <select class="form-control col-md-3 col-lg-3" id="cboOrganizaitonType@(itemName)" name="cboOrganizaitonType@(itemName)" placeholder="請選擇客人類型"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row" data-org-type="1">
                                    <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboCustomers@(itemName)">客戶</label>
                                    <div class="col-12 col-md-9 col-lg-9">
                                        <div class="input-group">
                                            <select class="form-control" id="cboCustomers@(itemName)" name="cboCustomers@(itemName)"></select>
                                            <input type="hidden" class="form-control" id="txtCustomerId@(itemName)" name="txtCustomerId@(itemName)">
                                            <input type="hidden" class="form-control" id="txtCustomerName@(itemName)" name="txtCustomerName@(itemName)" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row" data-org-type="2">
                                    <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboSuppliers@(itemName)">供應商</label>
                                    <div class="col-12 col-md-9 col-lg-9">
                                        <div class="input-group">
                                            <select class="form-control" id="cboSuppliers@(itemName)" name="cboSuppliers@(itemName)"></select>
                                            <input type="hidden" class="form-control" id="txtSupplierId@(itemName)" name="txtSupplierId@(itemName)">
                                            <input type="hidden" class="form-control" id="txtSupplierName@(itemName)" name="txtSupplierName@(itemName)" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtContactPerson@(itemName)">聯絡人</label>
                                    <div class="col-12 col-md-9 col-lg-9">
                                        <input type="text" class="form-control" id="txtContactPerson@(itemName)" name="txtContactPerson@(itemName)" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtContactPhone@(itemName)">聯絡人電話</label>
                                    <div class="col-12 col-md-9 col-lg-9">
                                        <input type="text" class="form-control" id="txtContactPhone@(itemName)" name="txtContactPhone@(itemName)" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right read-hide">
                <button type="button" class="btn btn-success auth-add" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

<!--其他分頁-->
<div class="advanced-block">
    <div class="row">
        <div class="col-12">
            <ul class="nav flag-tabs nav-fill" role="tablist">
                <li class="flag-item">
                    <a class="flag-link active" data-toggle="tab" href="#tabRfqDetail">
                        <i class="fas fa-sort-size-down"></i> RFQ單身資料
                    </a>
                </li>
                <li class="flag-item">
                    <a class="flag-link tabQuotation" data-toggle="tab" href="#tabQuotation">
                        <i class="fas fa-sort-size-down"></i> 報價單
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane active" id="tabRfqDetail">
            @Html.Partial("RfqDetail")
        </div>
        <div class="tab-pane tabQuotation" id="tabQuotation">
            @Html.Partial("Quotation")
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };

        let objForm@(itemName) = "#editForm@(itemName)";

        let userId@(itemName);
        let companyId@(itemName);
        let UrlRfqId = getParameterByName("UrlRfqId")
        let WebRfqDetailId = getParameterByName("UrlRfqDetailId")

        $(document).ready(function () {
            GetUserInfo@(itemName)();

            if (!!UrlRfqId) {
                Read@(itemName)(UrlRfqId)
                $(".tab-pane").removeClass("active")
                $("#tabQuotation").addClass("active")
                $(".flag-link").removeClass("active")
                $(".tabQuotation").addClass("active")
            }
            ComboBoxs.Default("#cboProductUseQ@(itemName)", "@Url.Action("GetProductUse", "ScmBasicInformation")", {}, "", "NA", "", "ProductUseName", "ProductUseId");    //產品應用
            ComboBoxs.Default("#cboSalesIdQ@(itemName)", "@Url.Action("GetSalesQuery", "RequestForQuotation")", {}, userId@(itemName), "NA", "", "SalesInfo", "UserId");              //業務人員
            ComboBoxs.Default("#cboStatusQ@(itemName)", "@Url.Action("GetStatus", "BasicInformation")", { "StatusSchema": "RfqDetail.Status" }, "", "NA", "", "StatusDesc", "StatusNo"); //狀態
            //$("#cboSalesIdQ@(itemName)").val(userId@(itemName)).trigger("change.select2")
            $("#cboProductUseQ@(itemName), #cboSalesIdQ@(itemName), #cboStatusQ@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });

            Query@(itemName)();

            $(".advanced-block a[data-toggle='tab']").on("shown.bs.tab", function (e) {
                InitParameter@(itemName)($(this));
                if (window.location.search.includes("UrlRfqId")) {
                    // 獲取當前的 URL
                    let url = new URL(window.location);

                    // 刪除查詢參數 'UrlRfqId'
                    url.searchParams.delete("UrlRfqId");
                    url.searchParams.delete("UrlRfqDetailId");

                    // 使用 replaceState() 替換當前的 URL
                    window.history.replaceState(null, null, url.toString());
                }
            });
        });

        function GetUserInfo@(itemName)() {
            let targetUrl = "@Url.Action("GetLoginByKey", "User")";
            let postData = {
                "UserNo": $.cookie("Login"),
                "KeyText": $.cookie("LoginKey")
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                userId@(itemName) = data.returnData.UserId;
                companyId@(itemName) = data.returnData.CompanyId;
            } else {
                alert(data.msg, "alert", 0);
            }
        }

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let targetUrl = "@Url.Action("GetRequestForQuotation", "RequestForQuotation")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "RfqNo": $("#txtRfqNoQ@(itemName)").val(),
                "MemberName": $("#txtMemberNameQ@(itemName)").val(),
                "AssemblyName": $("#txtAssemblyNameQ@(itemName)").val(),
                "ProductUseId": $("#cboProductUseQ@(itemName)").val(),
                @*"SalesId": $("#cboSalesIdQ@(itemName)").val(),*@
                "SalesId": userId@(itemName),
                "Status": $("#cboStatusQ@(itemName)").val()
            };
            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr>
                                        <td><span class="stack-title">#</span>${_row}</td>
                                        <td><span class="stack-title">需求單號</span>${item.RfqNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.CustomerCompanyName}" style="width: 115px; max-width: 115px;">${item.CustomerCompanyName}</td>
                                        @*<td class="ellipsis" data-toggle="tooltip" title="${item.MemberUserName}" style="width: 115px; max-width: 115px;">${item.MemberUserName}</td>*@
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.AssemblyName}" style="width: 150px; max-width: 150px;">${item.AssemblyName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ProductUseName}" style="width: 100px; max-width: 100px;">${item.ProductUseName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MemberTypeName}" style="width: 80px; max-width: 80px;">${item.MemberTypeName}</td>
                                        <td class="text-center active-content">
                                          <div class="btn-group mb-4 show" style="margin-bottom: 0 !important; position: static;">
                                            <button type="button" class="btn btn-primary dropdown-toggle" data-rfq-id="${item.RfqId}" style="padding-top: 0; padding-bottom: 0;">動作</button>
                                            <div class="dropdown-menu btn-text-left-block" data-rfq-id="${item.RfqId}" style="overflow-y: auto; z-index: 999; max-height: 150px;">
                                              @*<a class="dropdown-item btn-text-left auth-read" href="javascript:Read@(itemName)(${item.RfqId});"><i class="fas fa-eye"></i>查看</a>*@
                                              ${item.RfqStatus != `2` ? `<a class="dropdown-item btn-text-left auth-update" href="javascript:Edit@(itemName)(${item.RfqId});"><i class="fas fa-edit"></i>修改</a>` : ``}
                                              <a class="dropdown-item btn-text-left auth-delete" href="javascript:Delete@(itemName)(${item.RfqId});"><i class="fas fa-trash-alt"></i>刪除</a>
                                              ${item.RfqStatus == `0` ? `<a class="dropdown-item btn-text-left auth-delete" href="javascript:Delete@(itemName)(${item.RfqId});"><i class="fas fa-trash-alt"></i>刪除</a>` : ``}
                                                @*{json.data[x].RfqDetailStatus == `2` ? `<a class="dropdown-item btn-text-left auth-confirm" href="javascript:Confirm@(itemName)(${json.data[x].RfqId}, ${json.data[x].RfqDetailId});" ><i class="fas fa-check-circle"></i>確認</a>` : ``}*@
                                            </div>
                                          </div>
                                        </td>
                                        <td style="padding: 0;">
                                          <table class="table table-bordered table-sm mb-0 table-non-rwd table-striped-custom table-row-detail">
                                            <tbody>
                                              ${DetailData@(itemName)(item.RfqDetail)}
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="13" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

            //控制動作滾輪高度
            $(".dropdown-toggle").off("click").on("click", function () {
                let rfqId = $(this).data("rfq-id");

                if ($(`.dropdown-menu[data-rfq-id='${rfqId}']`).hasClass("show")) {
                    $(".dropdown-menu").removeClass("show");
                } else {
                    $(".dropdown-menu").removeClass("show");

                    $(`.dropdown-menu[data-rfq-id='${rfqId}']`).addClass("show");
                    $(`.dropdown-menu[data-rfq-id='${rfqId}']`).css({
                        top: `${$(this).position().top + $(this).height() + 5}px`,
                        left: `${$(this).position().left - $(this).width() + 38}px`
                    });
                }
            });

            $("body").off("click").on("click", function (e) {
                if ($(".dropdown-menu").hasClass("show")) {
                    if (!$(e.target).hasClass("dropdown-toggle")
                        && !$(e.target).parents().hasClass("dropdown-toggle")) {
                        $(".dropdown-menu").removeClass("show");
                    }
                }
            });
        }

        function DetailData@(itemName)(source){
            let html = '';

            if (source) {
                let json = JSON.parse(source); //需先轉成json

                for (let x = 0; x < json.data.length; x++) {
                    html += `<tr>
                               ${json.data[x].DocType == `E` ?
                               `<td class="ellipsis" data-toggle="tooltip" title="${json.data[x].RfqSequence}" style="width: 80px; max-width: 80px;">${json.data[x].RfqSequence}</td>
                               <td class="ellipsis" data-toggle="tooltip" title="${json.data[x].Edition}" style="width: 80px; max-width: 80px;">${json.data[x].Edition}</td>
                               <td class="ellipsis" data-toggle="tooltip" title="${json.data[x].RfqProductTypeName}" style="width: 150px; max-width: 150px;">${json.data[x].RfqProductTypeName}</td>
                               <td class="ellipsis" data-toggle="tooltip" title="${json.data[x].PlannedOpeningDate}" style="width: 125px; max-width: 125px;">${json.data[x].PlannedOpeningDate}</td>
                               <td class="ellipsis" data-toggle="tooltip" title="${json.data[x].ProtoScheduleName}" style="width: 100px; max-width: 100px;">${json.data[x].ProtoScheduleName}</td>
                               <td style="width: 100px;">${json.data[x].ProdLifeCycleStart}</td>
                               <td style="width: 100px;">${json.data[x].PrototypeQty.toLocaleString(`en`)}</td>
                               <td style="width: 80px;">${json.data[x].MassProductionDemandName}</td>
                               <td class="ellipsis" data-toggle="tooltip" title="${json.data[x].KickOffType}" style="width: 150px; max-width: 150px;">${json.data[x].KickOffType}</td>
                               <td class="ellipsis" data-toggle="tooltip" title="${json.data[x].SalesInfo}" style="width: 150px; max-width: 150px;">${json.data[x].SalesInfo}</td>
                               <td class="ellipsis" data-toggle="tooltip" title="${json.data[x].RfqDetailStatusName}" style="width: 150px; max-width: 150px;">${json.data[x].RfqDetailStatusName}</td>
                               `: ``}
                             </tr>`;
                }
            }

            return html;
        }



        function Edit@(itemName)(RfqId) {
            $("#RfqId").val(RfqId ? RfqId : 0);
            $("#readStatus").val("N"); //重置read狀態為N

            $("div[data-org-type]").hide();

            $(objForm@(itemName) + " fieldset").attr("disabled", false);
            $(objForm@(itemName) + " select").attr("disabled", false);
            $(".read-hide").show();

            ComboBoxs.Default("#cboProductUse@(itemName)", "@Url.Action("GetProductUse", "ScmBasicInformation")", {}, "", "NA", "", "ProductUseName", "ProductUseNo");    //產品應用
            ComboBoxs.Default("#cboOrganizaitonType@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "MemberOrganization.OrganizaitonType" }, "", "NA", "", "TypeName", "TypeNo");    //客人類型
            ComboBoxs.Default("#cboCustomers@(itemName)", "@Url.Action("GetCustomer", "ScmBasicInformation")", { "Status": "A" }, "", "CHOOSE-NUMBER", "請選擇客戶", "CustomerWithNo", "CustomerId"); //客戶
            ComboBoxs.Default("#cboSuppliers@(itemName)", "@Url.Action("GetSupplier", "ScmBasicInformation")", { "Status": "A" }, "", "CHOOSE-NUMBER", "請選擇供應商", "SupplierWithNo", "SupplierId");  //供應商

            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");

            //依據客人類型會跳不同選擇框
            @*$("#cboOrganizaitonType@(itemName)").off("change").on("change", function () {
                $("[data-org-type]").hide();
                switch ($(this).val()) {
                    case "1":
                        $(`[data-org-type="1"]`).show();

                        $("#cboCustomers@(itemName)").on("change", function () {
                            let selectedOption = $(this).find(":selected");
                            let CustomerFullName = $(this).find(':selected').text();
                            let CustomerName = CustomerFullName.split(' ')[1];
                            let CustomerId = selectedOption.val(); // Get the CustomerId
                            $("#txtCustomerName@(itemName)").val(CustomerName);
                            $("#txtCustomerId@(itemName)").val(CustomerId);
                            $("#cboCustomers@(itemName)").val();
                        });
                        break;
                    case "2":
                        $(`[data-org-type="2"]`).show();
                        $("#cboSuppliers@(itemName)").on("change", function () {
                            let selectedOption = $(this).find(":selected");
                            let SupplierFullName = $(this).find(':selected').text();
                            let SupplierName = SupplierFullName.split(' ')[1];
                            let SupplierId = selectedOption.val(); // Get the SupplierId
                            $("#txtSupplierName@(itemName)").val(SupplierName);
                            $("#txtSupplierId@(itemName)").val(SupplierId);
                            $("#cboSuppliers@(itemName)").val();
                        });
                        break;
                }
            });*@

            if (RfqId > 0) {
                let targetUrl = "@Url.Action("GetRequestForQuotation", "RequestForQuotation")";
                let postData = {
                    "RfqId": RfqId
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        $("#txtRfqNo@(itemName)").val(item.RfqNo);
                        $("#txtMemberName@(itemName)").val(item.MemberUserName);
                        $("#txtAssemblyName@(itemName)").val(item.AssemblyName);
                        $("#cboProductUse@(itemName)").val(item.ProductUseId);
                        $("#cboOrganizaitonType@(itemName)").val(item.OrganizaitonType);
                        $(`div[data-org-type=${item.OrganizaitonType}]`).show();
                        $("#cboCustomers@(itemName)").val(item.CustomerId);

                        @*$("#txtCustomerName@(itemName)").val(item.CustomerName);*@
                        $("#cboSuppliers@(itemName)").val(item.SupplierId);
                        @*$("#txtSupplierName@(itemName)").val(item.SupplierName);*@
                        $("#txtContactPerson@(itemName)").val(item.ContactPerson);
                        $("#txtContactPhone@(itemName)").val(item.ContactPhone);
                    });
                    if (!!UrlRfqId) {
                        InitParameter@(itemName)("Quotation")

                    }
                    else {
                        InitParameter@(itemName)()
                    }
                    @*if ($(".advanced-block .flag-tabs > .flag-item > .flag-link").first().hasClass("active")) {
                        InitParameter@(itemName)($(".advanced-block .flag-tabs > .flag-item").first().find("a"));
                    } else {
                        $(".advanced-block .flag-tabs > .flag-item").first().find("a").trigger("click");
                    }*@
                } else {
                    alert(data.msg, "alert", 0);
                }
            }

            $("#cboOrganizaitonType@(itemName)").off("change").on("change", function () {
                let target = $(this).val();
                $("#cboCustomers@(itemName)").prop("selectedIndex", 0).trigger("change");
                $("#cboSuppliers@(itemName)").prop("selectedIndex", 0).trigger("change");

                $("div[data-org-type]").hide();
                $(`div[data-org-type=${target}]`).show();
            });

            $("#cboProductUse@(itemName), #cboOrganizaitonType@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });

            $("#cboCustomers@(itemName), #cboSuppliers@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });
        }

        function Read@(itemName)(RfqId) {
            $("#readStatus").val("Y"); //僅能閱讀
            Edit@(itemName)(RfqId);
            $(objForm@(itemName) + " fieldset").attr("disabled", true);
            $(objForm@(itemName) + " select").attr("disabled", true);
            $(".read-hide").hide();
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let RfqId = parseInt($("#RfqId").val());

                if (RfqId <= 0) {
                    let targetUrl = "@Url.Action("AddRequestForQuotation", "RequestForQuotation")";
                    let postData = {
                        "RfqNo": $("#txtRfqNo@(itemName)").val(),
                        "MemberName": $("#txtMemberName@(itemName)").val(),
                        "AssemblyName": $("#txtAssemblyName@(itemName)").val(),
                        "ProductUseId": $("#cboProductUse@(itemName)").val(),
                        "OrganizaitonType": $("#cboOrganizaitonType@(itemName)").val(),
                        "CustomerId": $("#cboCustomers@(itemName)").val(),
                        //"CustomerName": $("#txtCustomerName@(itemName)").val(),
                        "SupplierId": $("#cboSuppliers@(itemName)").val(),
                        //"SupplierName": $("#txtSupplierName@(itemName)").val()
                        "ContactPerson": $("#txtContactPerson@(itemName)").val(),
                        "ContactPhone": $("#txtContactPhone@(itemName)").val()
                    };

                    let data = DataAccess.EditContinued(targetUrl, postData, false);

                    if (data) {
                        $.each(data.result, function (i, item) {
                            $("#RfqId").val(item.RfqId);
                            $("#txtRfqNo@(itemName)").val(item.RfqNo);
                        });

                        //頁面切換
                        if ($(".advanced-block .flag-tabs > .flag-item > .flag-link").first().hasClass("active")) {
                            InitParameter@(itemName)($(".advanced-block .flag-tabs > .flag-item").first().find("a"));
                        } else {
                            $(".advanced-block .flag-tabs > .flag-item").first().find("a").trigger("click");
                        }
                    }
                } else {
                    let targetUrl = "@Url.Action("UpdateRequestForQuotation", "RequestForQuotation")";
                    let postData = {
                        "RfqId": RfqId,
                        "MemberName": $("#txtMemberName@(itemName)").val(),
                        "AssemblyName": $("#txtAssemblyName@(itemName)").val(),
                        "ProductUseId": $("#cboProductUse@(itemName)").val(),
                        "OrganizaitonType": $("#cboOrganizaitonType@(itemName)").val(),
                        "CustomerId": $("#cboCustomers@(itemName)").val(),
                        //"CustomerName": $("#txtCustomerName@(itemName)").val(),
                        "SupplierId": $("#cboSuppliers@(itemName)").val(),
                        //"SupplierName": $("#txtSupplierName@(itemName)").val()
                        "ContactPerson": $("#txtContactPerson@(itemName)").val(),
                        "ContactPhone": $("#txtContactPhone@(itemName)").val()
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        if ($(".advanced-block .flag-tabs > .flag-item > .flag-link").first().hasClass("active")) {
                            InitParameter@(itemName)($(".advanced-block .flag-tabs > .flag-item").first().find("a"));
                        } else {
                            $(".advanced-block .flag-tabs > .flag-item").first().find("a").trigger("click");
                        }
                    }
                }
            }
        }

        function Delete@(itemName)(RfqId) {
            swal.fire({
                titleText: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteRequestForQuotation", "RequestForQuotation")";
                    let postData = {
                        "RfqId": RfqId
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function Confirm@(itemName)(RfqId, RfqDetailId) {
            swal.fire({
                titleText: "要將單據進行確認嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("UpdateRfqConfirm", "RequestForQuotation")";
                    let postData = {
                        "RfqId": RfqId,
                        "RfqDetailId": RfqDetailId
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function InitParameter@(itemName)(selector) {
            let content
            let initFnString = "Expand";

            if (!!selector) {
                if (selector == "Quotation") {
                    content = "Quotation"
                }
                else {
                    content = selector.attr("href").split('#tab')[1];
                }
            }
            else {
                content = "RfqDetail"
            }
            
            switch (content) {
                case "RfqDetail":
                    initFnString += "RfqDetail";
                    break;
                case "Quotation":
                    initFnString += "Quotation";
                    break;
            }

            let initFn = window[initFnString];
            if (initFn && typeof (initFn) == "function") {
                initFn();
            }
        }

        function getParameterByName(name) {
            const urlParams = new URLSearchParams(window.location.search);
            return urlParams.get(name);
        }


        function Return@(itemName)() {
            Switch("#listData@(itemName)", "#editData@(itemName), .unit-block, .advanced-block");

            ResetForm(objForm@(itemName));
            $(".advanced-block a[data-toggle='tab']").removeClass("active")
            $(".tab-content .tab-pane").removeClass("active")
            $(".advanced-block a[data-toggle='tab']:first").addClass("active")
            $("#tabRfqDetail").addClass("active")
            Query@(itemName)();

            if (window.location.search.includes("UrlRfqId")) {
                // 獲取當前的 URL
                let url = new URL(window.location);

                // 刪除查詢參數 'UrlRfqId'
                url.searchParams.delete("UrlRfqId");

                // 使用 replaceState() 替換當前的 URL
                window.history.replaceState(null, null, url.toString());
            }
            UrlRfqId = ""
        }

    </script>
        )
