
@using Business_Manager.Helpers
@{
    string itemName = "RfqDetail";
    string itemNameText = "Rfq單身資料";
    string authority = ViewBag.authority;
}

@Html.Resource("css",
    @<style>
         .form-group .select2-selection__rendered {
             line-height: 29px !important;
         }

         .form-group .select2-container .select2-selection--single {
             height: 39px !important;
         }

         .form-group .select2-selection__arrow {
             height: 34px !important;
         }

         .table-log {
             margin: 0;
             padding: 0;
             max-height: 30vh;
             margin-bottom: .75rem;
         }

             .table-log th {
                 background-color: #d7ecfa !important;
             }

             .table-log th, .table-log td {
                 padding: 5px 0;
                 text-align: center;
             }

         .active-icon {
             background-color: #d7ecfa;
             color: black;
         }

         .active-icon-detail {
             background-color: white;
             color: black;
         }
    </style>
                        )

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">單據生效狀態</label>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    生效
                                    <input type="checkbox" id="cbxDocTypeQ@(itemName)E" name="cbxDocTypeQ@(itemName)" value="E" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    失效
                                    <input type="checkbox" id="cbxDocTypeQ@(itemName)F" name="cbxDocTypeQ@(itemName)" value="F" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>


<!--清單-->
<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);">
                        <i class="fal fa-search"></i>搜尋</a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right" style="display: flex; justify-content: flex-end;">
                        <a style="margin-right: 5px;" class="btn btn-primary auth-quote-print" href="javascript:OpenPrintQuotation@(itemName)();"><i class="fal fa-print"></i>PDF下載</a>
                        <a style="margin-right: 5px;" class="btn btn-info auth-add" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky tiny-table" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 30px;">#</th>
                                        <th scope="col" style="min-width: 50px;">流水號</th>
                                        <th scope="col" style="min-width: 50px;">設變版次</th>
                                        <th class="text-center" scope="col" style="min-width: 75px;">操作</th>
                                        <th style="padding: 0; min-width: 1200px;">
                                            <table class="table table-bordered table-sm mb-0 table-non-rwd table-striped-custom table-row-detail">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 150px;">產品類別</th>
                                                        <th style="width: 150px;">品名</th>
                                                        <th style="width: 150px;">預計開案日</th>
                                                        <th style="width: 150px;">月需求量</th>
                                                        <th style="width: 150px;">業務人員</th>
                                                        <th style="width: 150px;">報價單狀態</th>
                                                        <th style="width: 150px;">單據生失效狀態</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--新增修改-->
<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container custom-form-container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="RfqDetailId" name="RfqDetailId" value="-1" />
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label">序號/產品類別/開案型態<span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="txtRfqSequence@(itemName)" name="txtRfqSequence@(itemName)" placeholder="系統自動產生" readonly>
                                    <select class="form-control col-md-3 col-lg-3" id="cboRfqProTypeId@(itemName)" name="cboRfqProTypeId@(itemName)" placeholder="請輸入產品類別"></select>
                                    <input type="text" class="form-control" id="txtKickOffType@(itemName)" name="txtKickOffType@(itemName)" placeholder="請輸入開案型態，範例：5G1黑2S1IR">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label">品名/塑料品名/外徑大小 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="txtMtlName@(itemName)" name="txtMtlName@(itemName)" placeholder="請輸入品名">
                                    <select class="form-control col-md-3 col-lg-3" id="cboPlasticName@(itemName)" name="cboPlasticName@(itemName)" placeholder="請輸入塑料品名"></select>
                                    <input type="text" class="form-control" id="txtOutsideDiameter@(itemName)" name="txtOutsideDiameter@(itemName)" placeholder="請輸入部品外徑大小">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label">模架穴数 / 模仁穴数 / 芯厚<span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <div class="input-group">
                                    <input type="number" class="form-control" id="txtBaseCavities@(itemName)" name="txtBaseCavities@(itemName)" placeholder="請輸入模架穴数">
                                    <input type="number" class="form-control" id="txtInsertCavities@(itemName)" name="txtInsertCavities@(itemName)" placeholder="請輸入模仁穴数">
                                    <input type="number" class="form-control" id="txtCoreThickness@(itemName)" name="txtCoreThickness@(itemName)" placeholder="請輸入芯厚">
                                </div>
                            </div>
                        </div>
                        <div style="display:none;">
                            <div class="form-group row">
                                <label class="col-12 col-md-3 col-lg-3 col-form-label">試作時程 / 試作需求數量 </label>
                                <div class="col-12 col-md-9 col-lg-9">
                                    <div class="input-group">
                                        <select class="form-control" id="cboProtoSchedule@(itemName)" name="cboProtoSchedule@(itemName)" placeholder="請選擇試作時程"></select>
                                        <input type="text" class="form-control" id="txtPrototypeQty@(itemName)" name="txtPrototypeQty@(itemName)" placeholder="請輸入試作需求數量">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtSoQty@(itemName)">生命週期 </label>
                                <div class="col-12 col-md-9 col-lg-9">
                                    <div class="input-group">
                                        <span class="input-group-addon">起</span>
                                        <input type="text" class="form-control" id="txtProdLifeCycleStart@(itemName)" name="txtProdLifeCycleStart@(itemName)"
                                               data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                               data-msg-required="請輸入起始日" />
                                        <span class="input-group-addon">訖</span>
                                        <input type="text" class="form-control" id="txtProdLifeCycleEnd@(itemName)" name="txtProdLifeCycleEnd@(itemName)"
                                               data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                               data-msg-required="請輸入完成日" />
                                        <span class="input-group-addon">週期數量</span>
                                        <input type="text" class="form-control" id="txtLifeCycleQty@(itemName)" name="txtLifeCycleQty@(itemName)"
                                               data-msg-required="請輸入週期數量" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label">預計開案日 / 需求日期 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="txtPlannedOpeningDate@(itemName)" name="txtPlannedOpeningDate@(itemName)" placeholder="請輸入預計開案日"
                                           data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                           data-msg-required="請輸入預計開案日" data-rule-required="true" />
                                    <input type="text" class="form-control" id="txtDemandDate@(itemName)" name="txtDemandDate@(itemName)" placeholder="請輸入需求日期"
                                           data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                           data-msg-required="請輸入需求日期" data-rule-required="true" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label">是否 量產/鍍膜/共模 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <div class="input-group">
                                    <select class="form-control" id="cboMassProductionDemand@(itemName)" name="cboMassProductionDemand@(itemName)" placeholder="請選擇量產需求">
                                        <option value="Y">是</option>
                                        <option value="N" selected>否</option>
                                    </select>
                                    <select class="form-control" id="cboCoatingFlag@(itemName)" name="cboCoatingFlag@(itemName)" placeholder="請選擇是否鍍膜">
                                        <option value="Y">是</option>
                                        <option value="N" selected>否</option>
                                    </select>
                                    <select class="form-control" id="cboCommonMode@(itemName)" name="cboCommonMode@(itemName)" placeholder="請選擇是否共模">
                                        <option value="Y">是</option>
                                        <option value="N" selected>否</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label">月需求量/樣品需求量 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <div class="input-group">
                                    <input type="number" class="form-control" id="txtMonthlyQty@(itemName)" name="txtMonthlyQty@(itemName)" placeholder="請輸入月需求量">
                                    <input type="number" class="form-control" id="txtSampleQty@(itemName)" name="txtSampleQty@(itemName)" placeholder="請輸入樣品需求量" value="0">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label">單位/幣別 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <div class="input-group">
                                    <select class="form-control" id="cboUomId@(itemName)" name="cboUomId@(itemName)" placeholder="請選擇單位"></select>
                                    <select class="form-control" id="cboCurrency@(itemName)" name="cboCurrency@(itemName)" placeholder="請選擇幣別">
                                        <option value="">請選擇</option>
                                        <option value="NT$">NT$：台幣</option>
                                        <option value="CNY">CNY：人民幣</option>
                                        <option value="USD">USD：美元</option>
                                        <option value="JPY">JPY：日元</option>
                                        <option value="HKD">HKD：港元</option>
                                        <option value="EUR">EUR：歐元</option>
                                        <option value="GBP">GBP：英鎊</option>
                                        <option value="CHF">CHF：瑞士法郎</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label">備註</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="txtDescription@(itemName)" name="txtDescription@(itemName)" placeholder="請輸入描述">
                                </div>
                            </div>
                        </div>
                        <div class="row rfqlinesolution-block">
                            <div class="col-12 col-md-3 col-lg-3"></div>
                            <div class="col-12 col-md-9 col-lg-9">
                                <div class="table-custom table-log">
                                    <table class="table" id="tblRfqlinesolution@(itemName)">
                                        <thead>
                                            <tr>
                                                <th scope="col">報價依據</th>
                                                <th scope="col">週期需求(每月)</th>
                                                <th scope="col">訂單數量</th>
                                                <th scope="col">
                                                    操作
                                                    <a class="active-icon" href="javascript:PriceRangeAdd@(itemName)();"><i class="fas fa-plus"></i></a>
                                                </th>
                                            </tr>
                                            <tr id="editPriceRange@(itemName)" style="display: none;">
                                                <td></td>
                                                <td style="vertical-align: middle;">
                                                    每月
                                                </td>
                                                <td class="p-0">
                                                    <input type="text" class="form-control text-center" id="txtSolutionQty@(itemName)" name="txtSolutionQty@(itemName)" />
                                                </td>
                                                <td class="text-center active-content">
                                                    <a class="active-icon" href="javascript:PriceRangeSave@(itemName)();"><i class="fas fa-save"></i></a>
                                                </td>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row rmadetail-block">
                            <div class="col-12 col-md-3 col-lg-3"></div>
                            <div class="col-12 col-md-9 col-lg-9">
                                <div class="table-custom table-log">
                                    <table class="table" id="tblLog@(itemName)">
                                        <thead>
                                            <tr>
                                                <th scope="col">產品類別</th>
                                                <th scope="col">包裝種類</th>
                                                <th scope="col">客供盛盤</th>
                                                <th scope="col">
                                                    操作
                                                    <a class="active-icon auth-detail-add" href="javascript:PopViewRfqProductType();"><i class="fas fa-plus"></i></a>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtCustProdDigram@(itemName)">客戶產品圖 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="file" id="fileCustProdDigram@(itemName)" name="fileCustProdDigram@(itemName)" />
                                <input type="hidden" id="txtCustProdDigram@(itemName)" name="txtCustProdDigram@(itemName)" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtAdditionalFile@(itemName)">附加檔案</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="file" id="fileAdditionalFile@(itemName)" name="fileAdditionalFile@(itemName)" />
                                <input type="hidden" id="txtAdditionalFile@(itemName)" name="txtAdditionalFile@(itemName)" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
                <button type="button" class="btn btn-success SaveButton read-hide" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="txtSolutionQty@(itemName)" name="txtSolutionQty@(itemName)" value="0" />

<!--指派業務POP-->
<div class="modal fade" id="modalAssignInfo@(itemName)">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" onclick="CloseAssignInfo@(itemName)()">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container custom-form-container" autocomplete="off" id="AssignInfoForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboCompany@(itemName)">公司</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboCompany@(itemName)" name="cboCompany@(itemName)"
                                        data-msg-required="請選擇公司" data-rule-required="true"></select>
                            </div>
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboSalesId@(itemName)">業務</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboSalesId@(itemName)" name="cboSalesId@(itemName)"
                                        data-msg-required="請選擇業務" data-rule-required="true"></select>
                            </div>

                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-success" onclick="AssignSave@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalPrintQuotation@(itemName)">
    <div class="modal-dialog modal-lg" style="padding-top:7%;">
        <div class="modal-content working-content" style="min-width:350px;">
            <div class="modal-header" style="align-items: center;">
                <h5 class="modal-title">
                    報價單輸出
                </h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row" id=" ">
                    <div class="col-12">
                        <form autocomplete="off" id="editForm@(itemName)">
                            <div class="form-grou row">
                                <label class="col-12 col-md-3 col-lg-3 col-form-label">是否換算成單據幣別金額 <span class="text-danger">*</span></label>
                                <div class="col-12 col-md-9 col-lg-9">
                                    <div class="input-group">
                                        <select class="form-control" id="cboExchangeStatus@(itemName)" name="cboExchangeStatus@(itemName)" placeholder="請選擇是否換算成單據幣別金額 " value="Y">
                                            <option value="Y">是</option>
                                            <option value="N" selected>否</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <div class="card-footer text-right text-lg-right">
                <button type="button" class="btn btn-success checkbox-mode" onclick="PrintQuotation@(itemName)()"><i class="fas fa-paper-plane"></i>確定</button>
            </div>
        </div>
    </div>
</div>


@Html.Partial("ViewRfqProductType")

@Html.Resource("js",
    @<script>
        let PackagingJson = JSON.parse('{ "data" : []}');
        let solutionJson = JSON.parse('{ "data" : []}');
        let objForm@(itemName) = "#editForm@(itemName)";
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let DesignChange = "N"

        function Expand@(itemName)() {
            if (parseInt($("#RfqId").val()) > 0) {
                $(".advanced-block").slideDown("slow");

                Return@(itemName)();

            } else {
                alert("請先儲存RFQ單頭", "alert");
            }
        }
        $(document).ready(function () {

            $("#cboRfqProTypeId@(itemName)").change(function () {
                let RfqProTypeId = $("#cboRfqProTypeId@(itemName)").val()
                if (RfqProTypeId == 3) {
                    $("#cboCoatingFlag@(itemName)").val("N").trigger("change")
                    $("#cboCoatingFlag@(itemName)").attr("disabled", true)
                }
                else {
                    $("#cboCoatingFlag@(itemName)").val("").trigger("change")
                    $("#cboCoatingFlag@(itemName)").attr("disabled", false)
                }
            })
        })

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;
            let docTypeList = [];
            $.each($("input[name='cbxDocTypeQ@(itemName)']:checked"), function () {
                docTypeList.push($(this).val());
            });

            let targetUrl = "@Url.Action("GetRfqDetailSales", "RequestForQuotation")";

            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "RfqId": $("#RfqId").val(),
                "DocType": docTypeList.join(",")
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;
                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);
                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr>
                                        <td><span class="stack-title">#</span>${_row}</td>
                                        <td><span class="stack-title">流水號</span>${item.RfqSequence}</td>
                                        <td><span class="stack-title">設變版次</span>${item.Edition}</td>
                                        <td class="text-center active-content">
                                          <div class="btn-group mb-4 show" style="margin-bottom: 0 !important; position: static;">
                                            <button type="button" class="btn btn-primary dropdown-toggle" data-rfqdetail-id="${item.RfqDetailId}" style="padding-top: 0; padding-bottom: 0;">動作</button>
                                            <div class="dropdown-menu btn-text-left-block" data-rfqdetail-id="${item.RfqDetailId}" style="overflow-y: auto; z-index: 999; max-height: 150px;">
                                              @*<a class="dropdown-item btn-text-left auth-read" href="javascript:Read@(itemName)('${item.RfqDetailId}');"><i class="fas fa-eye"></i>查看</a>*@
                                              <a class="dropdown-item btn-text-left auth-read" href="javascript:OpenQuotation@(itemName)('${item.RfqDetailId}');"><i class="fas fa-eye"></i>報價單查看</a>
                                                @*依照入口頁面，控制可視權限*@
                                                ${item.RfqDetailStatus <= `2` && $(`#rfqPage`).val() != `default` && item.DocType != 'F' ?
                                                `<a class="dropdown-item btn-text-left auth-update" href="javascript:Edit@(itemName)('${item.RfqDetailId}');"><i class="fas fa-edit"></i>修改</a>
                                                 <a class="dropdown-item btn-text-left auth-delete" href="javascript:Delete@(itemName)('${item.RfqDetailId}');"><i class="fas fa-trash-alt"></i>刪除</a>
                                                 `
                                                : ``}
                                                @*${item.RfqDetailStatus <= `2` && $(`#rfqPage`).val() != `assign` && item.DocType != 'F' ?
                                                `<a class="dropdown-item btn-text-left auth-detail-assign" href="javascript:DetailAssign@(itemName)('${item.RfqDetailId}', '${item.SalesId}');" ><i class="fas fa-user"></i>指派人員</a>`
                                                : ``}*@
                                                @*${item.RfqDetailStatus <= `2` && $(`#rfqPage`).val() != `default` && item.DocType != 'F' ?
                                                `<a class="dropdown-item btn-text-left auth-detail-confirm" href="javascript:DetailConfirm@(itemName)('${item.RfqId}', '${item.RfqDetailId}');" ><i class="fas fa-check-circle"></i>確認</a>`
                                                : ``}*@
                                                ${item.RfqDetailStatus > `1` && $(`#rfqPage`).val() != `default` && item.DocType != 'F' ?
                                                `<a class="dropdown-item btn-text-left auth-design-change" href="javascript:DesignChange@(itemName)('${item.RfqDetailId}');" ><i class="fad fa-exchange-alt"></i>設計變更</a>`
                                                : ``}
                                                @*${item.RfqDetailStatus > `3` && $(`#rfqPage`).val() != `default` ?
                                                `<a class="dropdown-item btn-text-left auth-update active-disable" href="javascript:void(0);"><i class="fas fa-edit"></i>修改</a>`
                                                : ``}
                                                ${item.RfqDetailStatus > `3` && $(`#rfqPage`).val() != `assign` ?
                                                `<a class="dropdown-item btn-text-left auth-detail-assign active-disable" href="javascript:void(0);"><i class="fas fa-user"></i>指派人員</a>`
                                                : ``}
                                                ${item.RfqDetailStatus > `3` && $(`#rfqPage`).val() != `default` ?
                                                `<a class="dropdown-item btn-text-left auth-detail-confirm active-disable" href="javascript:void(0);"><i class="fas fa-check-circle"></i>確認</a>`
                                                : ``}*@
                                            </div>
                                          </div>
                                        </td>
                                        <td style="padding: 0;">
                                          <table class="table table-bordered table-sm mb-0 table-non-rwd table-striped-custom table-row-detail">
                                            <tbody>
                                              ${DetailData@(itemName)(item.RfqDetailData)}
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>`;
                    });
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));


            $(".dropdown-toggle").off("click").on("click", function () {
                let rfqdetailId = $(this).data("rfqdetail-id");

                if ($(`.dropdown-menu[data-rfqdetail-id='${rfqdetailId}']`).hasClass("show")) {
                    $(".dropdown-menu").removeClass("show");
                } else {
                    $(".dropdown-menu").removeClass("show");

                    $(`.dropdown-menu[data-rfqdetail-id='${rfqdetailId}']`).addClass("show");
                    $(`.dropdown-menu[data-rfqdetail-id='${rfqdetailId}']`).css({
                        top: `${$(this).position().top + $(this).height() + 5}px`,
                        left: `${$(this).position().left - $(this).width() + 38}px`
                    });
                }
            });

            $("body").off("click").on("click", function (e) {
                if ($(".dropdown-menu").hasClass("show")) {
                    if (!$(e.target).hasClass("dropdown-toggle")
                        && !$(e.target).parents().hasClass("dropdown-toggle")) {
                        $(".dropdown-menu").removeClass("show");
                    }
                }
            });

            if ($("#readStatus").val() == "Y") {
                $(".read-hide").hide();
            }
        }

        function DetailData@(itemName)(source){
            let html = '';

            if (source) {
                let json = JSON.parse(source); //需先轉成json

                for (let x = 0; x < json.data.length; x++) {
                    let QuotationStatusStr =""
                    switch (json.data[x].QuotationStatus) {
                        case "S":
                            QuotationStatusStr = "尚未生成";
                            break;
                        case "N":
                            QuotationStatusStr = "進行中";
                            break;
                        case "Y":
                            QuotationStatusStr = "審核中";
                            break;
                        case "F":
                            QuotationStatusStr = "完成報價";
                            break;
                        case "B":
                            QuotationStatusStr = "議價中";
                            break;
                    }
                    html += `<tr>
                               <td class="ellipsis" data-toggle="tooltip" title="${json.data[x].RfqProductTypeName}" style="width: 150px; max-width: 150px;">${json.data[x].RfqProductTypeName}</td>
                               <td class="ellipsis" data-toggle="tooltip" title="${json.data[x].MtlName}" style="width: 150px; max-width: 150px;">${json.data[x].MtlName}</td>
                               <td class="ellipsis" data-toggle="tooltip" title="${json.data[x].PlannedOpeningDate}" style="width: 150px; max-width: 150px;">${json.data[x].PlannedOpeningDate}</td>
                               <td style="width: 150px;">${json.data[x].MonthlyQty.toLocaleString(`en`)}</td>
                               <td class="ellipsis" data-toggle="tooltip" title="${json.data[x].SalesInfo}" style="width: 150px; max-width: 150px;">${json.data[x].SalesInfo}</td>
                               <td class="ellipsis" data-toggle="tooltip" title="${QuotationStatusStr}" style="width: 150px; max-width: 150px;">${QuotationStatusStr}</td>
                               <td class="ellipsis" style="width: 150px; max-width: 150px;">
                                  ${json.data[x].DocType == 'F' ? `<span class="text-danger">${json.data[x].DocTypeName}</span>` : `<span class="text-success">${json.data[x].DocTypeName}</span>`}
                                  <input type="hidden" data-so-detail="${json.data[x].RfqId}" name="desPickSpareQty" value="${json.data[x].DocTypeName}" />
                               </td>
                             </tr>`;
                }
            }

            return html;
        }

        function Edit@(itemName)(RfqDetailId) {
            $("#RfqDetailId").val(RfqDetailId ? RfqDetailId : 0);

            $("#cboRfqProTypeId@(itemName)").attr("disabled", false);
            $("#cboPlasticName@(itemName)").attr("disabled", false);
            $("#txtOutsideDiameter@(itemName)").attr("disabled", false);
            $("#txtBaseCavities@(itemName)").attr("disabled", false);
            $("#txtInsertCavities@(itemName)").attr("disabled", false);
            $("#txtCoreThickness@(itemName)").attr("disabled", false);
            $("#cboRfqProTypeId@(itemName)").attr("disabled", false);
            $("#cboCoatingFlag@(itemName)").attr("disabled", false);
            $("#txtMonthlyQty@(itemName)").attr("disabled", false);
            $(objForm@(itemName) + " fieldset").attr("disabled", false);
            $(objForm@(itemName) + " select").attr("disabled", false);
            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");

            ComboBoxs.Default("#cboRfqProTypeId@(itemName)", "@Url.Action("GetRfqProductType", "ScmBasicInformation")", { "Status": "A"}, "", "NA", "", "RfqProductTypeName", "RfqProTypeId");              //產品類別
            ComboBoxs.Default("#cboProtoSchedule@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "RfqDetail.ProtoSchedule" }, "", "NA", "", "TypeName", "TypeNo");     //試作時程
            ComboBoxs.Default("#cboUomId@(itemName)", "@Url.Action("GetUnitOfMeasure", "PdmBasicInformation")", { "Status": "A"}, "", "NA", "", "UomNo", "UomId"); //加工單位
            ComboBoxs.Default(`#cboPlasticName@(itemName)`, "@Url.Action("GetMaterial", "PurchaseOrder")", { "Status": "A", "CanUse":"Y" }, "", "NA", "", "MaterialName", "MaterialName");

            let currentDate = new Date();
            let cycleStartDate = new Date();
            let cycleEndDate = new Date();
            let demandDate = new Date();
            Suites.DatePicker("txtPlannedOpeningDate@(itemName)", currentDate);
            Suites.DatePicker("txtProdLifeCycleStart@(itemName)", cycleStartDate);
            Suites.DatePicker("txtProdLifeCycleEnd@(itemName)", cycleEndDate);
            Suites.DatePicker("txtDemandDate@(itemName)", demandDate);

            PackagingJson = JSON.parse('{ "data" : []}');
            solutionJson = JSON.parse('{ "data" : []}');
            $("#txtCustProdDigram@(itemName)").val("");
            $("#txtAdditionalFile@(itemName)").val("");

            if (RfqDetailId > 0) {
                if (DesignChange != "Y") {
                    $("#cboRfqProTypeId@(itemName)").attr("disabled", true);
                    $("#cboPlasticName@(itemName)").attr("disabled", true);
                    $("#txtOutsideDiameter@(itemName)").attr("disabled", true);
                    $("#txtBaseCavities@(itemName)").attr("disabled", true);
                    $("#txtInsertCavities@(itemName)").attr("disabled", true);
                    $("#txtCoreThickness@(itemName)").attr("disabled", true);
                    $("#cboRfqProTypeId@(itemName)").attr("disabled", true);
                    $("#cboCoatingFlag@(itemName)").attr("disabled", true);
                    $("#txtMonthlyQty@(itemName)").attr("disabled", true);
                }


                let targetUrl = "@Url.Action("GetRfqDetailSales", "RequestForQuotation")";
                let postData = {
                    "RfqDetailId": RfqDetailId
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        $("#RfqDetailId").val(item.RfqDetailId);
                        $("#txtRfqSequence@(itemName)").val(item.RfqSequence);                    //流水號
                        $("#cboRfqProTypeId@(itemName)").val(item.RfqProTypeId);                  //產品類別
                        $("#txtKickOffType@(itemName)").val(item.KickOffType);                    //開案型態

                        $("#txtMtlName@(itemName)").val(item.MtlName);                            //品名
                        $("#cboPlasticName@(itemName)").val(item.PlasticName);                    //塑料品名
                        $("#txtOutsideDiameter@(itemName)").val(item.OutsideDiameter);            //部品外徑大小
                        $("#txtBaseCavities@(itemName)").val(item.BaseCavities);                  //模架穴数
                        $("#txtInsertCavities@(itemName)").val(item.InsertCavities);              //模仁穴数
                        $("#txtCoreThickness@(itemName)").val(item.CoreThickness);                //芯厚
                        $("#txtPlannedOpeningDate@(itemName)").val(item.PlannedOpeningDate);      //預計開案日
                        $("#txtDemandDate@(itemName)").val(item.DemandDate);                      //需求日期
                        $("#cboMassProductionDemand@(itemName)").val(item.MassProductionDemand);  //量產需求
                        $("#cboCoatingFlag@(itemName)").val(item.CoatingFlag);                    //是否鍍膜
                        $("#cboCommonMode@(itemName)").val(item.CommonMode);                      //是否共模
                        $("#txtMonthlyQty@(itemName)").val(item.MonthlyQty);                      //月需求量
                        $("#txtSampleQty@(itemName)").val(item.SampleQty);                        //樣品需求量
                        $("#cboUomId@(itemName)").val(item.UomId);                                //單位
                        $("#cboCurrency@(itemName)").val(item.Currency);                          //幣別
                        $("#txtDescription@(itemName)").val(item.Description);                    //描述

                        //$("#cboProtoSchedule@(itemName)").val(item.ProtoSchedule);                //試作時程
                        //$("#txtPrototypeQty@(itemName)").val(item.PrototypeQty);                  //試作需求數量
                        //$("#txtProdLifeCycleStart@(itemName)").val(item.ProdLifeCycleStart);      //生命週期(起)
                        //$("#txtProdLifeCycleEnd@(itemName)").val(item.ProdLifeCycleEnd);          //生命週期(訖)
                        //$("#txtLifeCycleQty@(itemName)").val(item.LifeCycleQty);                  //週期數量




                        if (item.PackagingMethod) {
                            PackagingJson = JSON.parse(item.PackagingMethod);
                        }

                        if (item.RfqLineSolution) {
                            solutionJson = JSON.parse(item.RfqLineSolution);
                        }

                        //客戶設計圖
                        let custProdDigramList = [];
                        if (item.CustProdDigram != null) {
                            let custProdDigramJson = JSON.parse(item.CustProdDigram);
                            $.each(custProdDigramJson.data, function (j, item2) {
                                custProdDigramList.push(item2.FileId);
                            });
                        }
                        $("#txtCustProdDigram@(itemName)").val(item.CustProdDigram);

                        //附檔
                        let additionalFileList = [];
                        if (item.AdditionalFile != null) {
                            let additionalFileJson = JSON.parse(item.CustProdDigram);
                            $.each(additionalFileJson.data, function (j, item2) {
                                additionalFileList.push(item2.FileId);
                            });
                        }
                        $("#txtAdditionalFile@(itemName)").val(item.AdditionalFile);
                    });
                } else {
                    alert(data.msg, "alert", 0);
                }
            }

            LoadPackaging@(itemName)(PackagingJson);               //包裝方式
            PriceRangeData@(itemName)(solutionJson);               //報價級距

            let uploadConfigDigram = {
                fileSelector: "#fileCustProdDigram@(itemName)",
                targetSelector: "#txtCustProdDigram@(itemName)",
                required: false,
                uploadPath: "/RequestForQuotation/RfqDetail",
                maxFileCount: 1,
                defaultFile: $("#txtCustProdDigram@(itemName)").val()
            };
            Suites.FileUpload(uploadConfigDigram);

            let uploadConfigFile = {
                fileSelector: "#fileAdditionalFile@(itemName)",
                targetSelector: "#txtAdditionalFile@(itemName)",
                required: false,
                uploadPath: "/RequestForQuotation/RfqDetail",
                maxFileCount: 1,
                defaultFile: $("#txtAdditionalFile@(itemName)").val()
            };
            Suites.FileUpload(uploadConfigFile);

            $("#cboRfqProTypeId@(itemName), #cboPlasticName@(itemName), #cboMassProductionDemand@(itemName), #cboPackagingMethod@(itemName), #cboCoatingFlag@(itemName), #cboCommonMode@(itemName), #cboCurrency@(itemName),#cboUomId@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "50%"
            });
        }

        //包裝方式詳細資訊
        function LoadPackaging@(itemName)(json) {
            let innerHtml = '';
            if (json) {
                if (json.data.length > 0) {
                    for (var i = 0; i < json.data.length; i++) {
                        innerHtml += `<tr>
                                        <td>${json.data[i].RfqProductClassName}</td>
                                        <td>${json.data[i].PackagingMethod}</td>
                                        <td>${json.data[i].SustSupplyStatusName}</td>
                                        <td class="text-center active-content">
                                          <a class="active-icon-detail auth-detail-delete" href="javascript:DeletePackaging@(itemName)(${i});"><i class="fas fa-trash"></i></a>
                                        </td>
                                      </tr>`;
                    }
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="4" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                innerHtml += `<tr>
                                <td class="text-center" colspan="4" style="background-color: #fff3cd;">
                                    <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                </td>
                              </tr>`;
            }


            $("#tblLog@(itemName) tbody").html(innerHtml);
        }

        function Read@(itemName)(RfqId) {
            Edit@(itemName)(RfqId);
            $(objForm@(itemName) + " fieldset").attr("disabled", true);
            $(objForm@(itemName) + " select").attr("disabled", true);
            $(".read-hide").hide();
        }

        //指派人員
        function DetailAssign@(itemName)(RfqDetailId, SalesId) {
            $("#RfqDetailId").val(RfqDetailId);
            ComboBoxs.Default("#cboCompany@(itemName)", "@Url.Action("GetCompany", "BasicInformation")", {}, "", "NA", "", "CompanyName", "CompanyId");

            //若先前已於系統建立客戶資訊，系統直接預設先前已指派過之業務名單; 未選公司時，需顯示所有公司別之人員
            ComboBoxs.Default("#cboSalesId@(itemName)", "@Url.Action("GetSalesQuery", "RequestForQuotation")", {}, SalesId > 0 ? SalesId : "", "NA", "", "SalesInfo", "UserId");

            //修改公司時，需一併代出該公司人員
            $("#cboCompany@(itemName)").change(function () {
                ComboBoxs.Default("#cboSalesId@(itemName)", "@Url.Action("GetSales", "RequestForQuotation")", { "CompanyId": $("#cboCompany@(itemName)").val() }, "", "NA", "", "SalesInfo", "UserId");              //業務人員
            });

            //修改人員時，需一併代出人員所屬公司
            $("#cboSalesId@(itemName)").change(function () {
                let companyId = -1;
                if ($("#cboSalesId@(itemName)").val() > 0) {
                    let targetUrl = "@Url.Action("GetUser", "BasicInformation")";
                    let postData = {
                        "UserId": $("#cboSalesId@(itemName)").val()
                    };

                    let data = DataAccess.Get(targetUrl, postData, false);

                    if (data.status == "success") {
                        $.each(data.result, function (i, item) {
                            companyId = item.CompanyId;
                        });
                    } else {
                        alert(data.msg, "alert", 0);
                    }
                }

                ComboBoxs.Default("#cboCompany@(itemName)", "@Url.Action("GetCompany", "BasicInformation")", {}, companyId, "NA", "", "CompanyName", "CompanyId"); //業務人員所屬公司
            });

            if (SalesId > 0) {
                $("#cboSalesId@(itemName)").trigger("change");
            }

            $("#cboCompany@(itemName), #cboSalesId@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });

            $("#modalAssignInfo@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });
        }

        function CloseAssignInfo@(itemName)() {
            ResetForm("#AssignInfoForm@(itemName)");

            $("#modalAssignInfo@(itemName)").modal("hide");

            Query@(itemName)();
        }

        function AssignSave@(itemName)() {
            swal.fire({
                titleText: "確認是否指派該業務負責此案件嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("UpdateRfqDetailSales", "RequestForQuotation")";
                    let postData = {
                        "RfqDetailId": $("#RfqDetailId").val(),
                        "CompanyId": $("#cboCompany@(itemName)").val(),
                        "UserId": $("#cboSalesId@(itemName)").val()
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                        CloseAssignInfo@(itemName)();
                    }
                }
            });
        }

        function DetailConfirm@(itemName)(RfqId, RfqDetailId) {
            swal.fire({
                titleText: "要將單據進行確認嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("UpdateRfqDetailConfirm", "RequestForQuotation")";
                    let postData = {
                        "RfqId": RfqId,
                        "RfqDetailId": RfqDetailId
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }
        function DesignChange@(itemName)(RfqDetailId) {
            //alert("開發中請等候")

            DesignChange = "Y"
            $(".SaveButton").text("設計變更")

            Edit@(itemName)(RfqDetailId)
            return

            swal.fire({
                titleText: "確認要執行設計變更流程嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("AddRfqDetailDocType", "RequestForQuotation")";
                    let postData = {
                        "RfqId": RfqId,
                        "RfqDetailId": RfqDetailId
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function PriceRangeData@(itemName)() {
            let innerHtml = '';

            if (solutionJson.data.length > 0) {
                for (var i = 0; i < solutionJson.data.length; i++) {
                    innerHtml += `<tr>
                                    <td>數量 ${i + 1}</td>
                                    <td>每月</td>
                                    <td>${solutionJson.data[i].SolutionQty.toLocaleString(`en`)}</td>
                                    <td class="text-center active-content">
                                      <a class="active-icon" href="javascript:PriceRangeDelete@(itemName)(${i});"><i class="fas fa-trash"></i></a>
                                    </td>
                                  </tr>`;
                }
            }

            $("#tblRfqlinesolution@(itemName) tbody").html(innerHtml);
            $("#tblRfqlinesolution@(itemName)").parent(".table-custom").show();
        }

        function PriceRangeAdd@(itemName)() {
            $("#editPriceRange@(itemName)").show();
            $("#txtSolutionQty@(itemName)").val(0);
        }

        function PriceRangeSave@(itemName)() {
            let isValid = true;
            let errorMsg = "";

            if (!isNaN(parseInt($("#txtSolutionQty@(itemName)").val()))) {
                if (parseInt($("#txtSolutionQty@(itemName)").val()) <= 0) {
                    isValid = false;
                    errorMsg += "訂單數量不能小於零!<br />";
                }
            } else {
                isValid = false;
                errorMsg += "訂單數量不正確!<br />";
            }

            if (isValid) {
                let json = {
                    Sequence: "",
                    PeriodicDemandType: $("#txtPeriodicDemandType@(itemName)").val(),
                    SolutionQty: parseInt($("#txtSolutionQty@(itemName)").val()),
                    ClosingStatus: "N"
                }

                solutionJson.data.push(json);

                $("#editPriceRange@(itemName)").hide();
                PriceRangeData@(itemName)();
            } else {
                alert(errorMsg);
            }
        }

        function PriceRangeDelete@(itemName)(index) {
            swal.fire({
                titleText: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    if (solutionJson.data.length > 0) {
                        solutionJson.data.splice(index, 1);
                        PriceRangeData@(itemName)();
                    }
                }
            });
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let RfqDetailId = parseInt($("#RfqDetailId").val());

                if (RfqDetailId <= 0 || DesignChange == "Y") {
                    let targetUrl = "@Url.Action("AddRfqDetail", "RequestForQuotation")";
                    let postData = {
                        "RfqId": $("#RfqId").val(),
                        "RfqSequence": $("#txtRfqSequence@(itemName)").val(),
                        "RfqProTypeId": $("#cboRfqProTypeId@(itemName)").val(),
                        "KickOffType": $("#txtKickOffType@(itemName)").val(),
                        "MtlName": $("#txtMtlName@(itemName)").val(),
                        "PlasticName": $("#cboPlasticName@(itemName)").val(),
                        "OutsideDiameter": $("#txtOutsideDiameter@(itemName)").val(),
                        "BaseCavities": $("#txtBaseCavities@(itemName)").val(),
                        "InsertCavities": $("#txtInsertCavities@(itemName)").val(),
                        "CoreThickness": $("#txtCoreThickness@(itemName)").val(),
                        "ProtoSchedule": $("#cboProtoSchedule@(itemName)").val(),
                        "PrototypeQty": $("#txtPrototypeQty@(itemName)").val(),
                        "PlannedOpeningDate": $("#txtPlannedOpeningDate@(itemName)").val(),
                        "DemandDate": $("#txtDemandDate@(itemName)").val(),
                        "ProdLifeCycleStart": $("#txtProdLifeCycleStart@(itemName)").val(),
                        "ProdLifeCycleEnd": $("#txtProdLifeCycleEnd@(itemName)").val(),
                        "LifeCycleQty": $("#txtLifeCycleQty@(itemName)").val(),
                        "MassProductionDemand": $("#cboMassProductionDemand@(itemName)").val(),
                        "CoatingFlag": $("#cboCoatingFlag@(itemName)").val(),
                        "CommonMode": $("#cboCommonMode@(itemName)").val(),
                        "MonthlyQty": $("#txtMonthlyQty@(itemName)").val(),
                        "SampleQty": $("#txtSampleQty@(itemName)").val(),
                        "UomId": $("#cboUomId@(itemName)").val(),
                        "Currency": $("#cboCurrency@(itemName)").val(),
                        "Description": $("#txtDescription@(itemName)").val(),
                        "CustProdDigram": $("#txtCustProdDigram@(itemName)").val(),
                        "AdditionalFile": $("#txtAdditionalFile@(itemName)").val(),
                        "DesignChange": DesignChange,
                        "PackagingDetails": JSON.stringify(PackagingJson),
                        "SolutionInfos": JSON.stringify(solutionJson)
                    };

                    let data = DataAccess.Add(targetUrl, postData, false, true);

                    if (data) {
                        Return@(itemName)();
                    }
                } else {
                    let targetUrl = "@Url.Action("UpdateRfqDetail", "RequestForQuotation")";
                    let postData = {
                        "RfqDetailId": RfqDetailId,
                        "RfqId": $("#RfqId").val(),
                        "RfqProTypeId": $("#cboRfqProTypeId@(itemName)").val(),
                        "KickOffType": $("#txtKickOffType@(itemName)").val(),
                        "MtlName": $("#txtMtlName@(itemName)").val(),
                        "PlasticName": $("#cboPlasticName@(itemName)").val(),
                        "OutsideDiameter": $("#txtOutsideDiameter@(itemName)").val(),
                        "BaseCavities": $("#txtBaseCavities@(itemName)").val(),
                        "InsertCavities": $("#txtInsertCavities@(itemName)").val(),
                        "CoreThickness": $("#txtCoreThickness@(itemName)").val(),
                        "ProtoSchedule": $("#cboProtoSchedule@(itemName)").val(),
                        "PrototypeQty": $("#txtPrototypeQty@(itemName)").val(),
                        "PlannedOpeningDate": $("#txtPlannedOpeningDate@(itemName)").val(),
                        "DemandDate": $("#txtDemandDate@(itemName)").val(),
                        "ProdLifeCycleStart": $("#txtProdLifeCycleStart@(itemName)").val(),
                        "ProdLifeCycleEnd": $("#txtProdLifeCycleEnd@(itemName)").val(),
                        "LifeCycleQty": $("#txtLifeCycleQty@(itemName)").val(),
                        "MassProductionDemand": $("#cboMassProductionDemand@(itemName)").val(),
                        "CoatingFlag": $("#cboCoatingFlag@(itemName)").val(),
                        "CommonMode": $("#cboCommonMode@(itemName)").val(),
                        "MonthlyQty": $("#txtMonthlyQty@(itemName)").val(),
                        "SampleQty": $("#txtSampleQty@(itemName)").val(),
                        "UomId": $("#cboUomId@(itemName)").val(),
                        "Currency": $("#cboCurrency@(itemName)").val(),
                        "Description": $("#txtDescription@(itemName)").val(),
                        "CustProdDigram": $("#txtCustProdDigram@(itemName)").val(),
                        "AdditionalFile": $("#txtAdditionalFile@(itemName)").val(),
                        "PackagingDetails": JSON.stringify(PackagingJson),
                        "SolutionInfos": JSON.stringify(solutionJson)
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Return@(itemName)();
                    }
                }
            }
        }

        //包裝方式詳細資訊刪除
        function DeletePackaging@(itemName)(index) {
            swal.fire({
                titleText: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    if (PackagingJson.data.length <= 1) {
                        alert("至少需有一筆【包裝相關資料】!");
                    } else {
                        PackagingJson.data.splice(index, 1);
                        LoadPackaging@(itemName)(PackagingJson);
                    }
                }
            });
        }

        function Delete@(itemName)(rfqDetailId) {
            swal.fire({
                titleText: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteRfqDetail", "RequestForQuotation")";
                    let postData = {
                        "RfqDetailId": rfqDetailId
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function OpenQuotation@(itemName)(RfqDetailId) {
            WebRfqDetailId = RfqDetailId
            $(".tabQuotation").click()
        }

        //數字千分位補逗號
        //function Thousands(num) {
        //    var str = num.toString();
        //    var reg = str.indexOf(".") > -1 ? /(\d)(?=(\d{3})+\.)/g : /(\d)(?=(?:\d{3})+$)/g;
        //    return str.replace(reg, "$1,");
        //}

        function OpenPrintQuotation@(itemName)() {
            $("#modalPrintQuotation@(itemName)").modal("show");

        }

        function PrintQuotation@(itemName)() {
            let RfqId = $("#RfqId").val()
            let targetUrl = "@Url.Action("GetQuotationPdf", "RequestForQuotation")";
            let postData = {
                "RfqId": RfqId,
                "ExchangeStatus": $("#cboExchangeStatus@(itemName)").val()
            };
            FileAccess.AjaxDownload(targetUrl, postData, false);
            $("#modalPrintQuotation@(itemName)").modal("hide");
        }

        function Return@(itemName)() {
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName)", "#editData@(itemName)");
            Query@(itemName)();
            WebRfqDetailId = -1
            DesignChange = "N"
            $(".SaveButton").text("儲存")

        }
    </script>
                                )
