@using Business_Manager.Helpers
@{
    string itemName = "RfqLineSolution";
    string itemNameText = "RFQ報價資訊維護";
    string authority = ViewBag.authority;
    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
        .left-aligned-textarea {
            text-align: left;
        }
    </style>
)


<input type="hidden" id="readStatus" value="N" />
<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="RfqLineSolutionId" name="RfqLineSolutionId" value="-1" />
                        <input type="hidden" id="RfqDetailId" name="RfqDetailId" value="-1" />
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtRfqNoQ@(itemName)">需求單號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtRfqNoQ@(itemName)" name="txtRfqNoQ@(itemName)" placeholder="請輸入需求單號" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtMemberNameQ@(itemName)">客戶名稱</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMemberNameQ@(itemName)" name="txtMemberNameQ@(itemName)" placeholder="請輸入客戶名稱" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtAssemblyNameQ@(itemName)">機種名稱</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtAssemblyNameQ@(itemName)" name="txtAssemblyNameQ@(itemName)" placeholder="請輸入機種名稱" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboProductUseQ@(itemName)">產品應用</label>
                            <div class="col-12">
                                <select class="form-control edit-column" id="cboProductUseQ@(itemName)" name="cboProductUseQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row" style="display:none;">
                            <label class="col-12 col-form-label" for="cboSalesIdQ@(itemName)">負責業務</label>
                            <div class="col-12">
                                <select class="form-control edit-column" id="cboSalesIdQ@(itemName)" name="cboSalesIdQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">狀態</label>
                            <div class="col-lg-4 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    新單據
                                    <input type="checkbox" id="cbxStatusQ@(itemName)N" name="cbxStatusQ@(itemName)" value="1" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    指派業務
                                    <input type="checkbox" id="cbxStatusQ@(itemName)N" name="cbxStatusQ@(itemName)" value="2" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    業務完成RFQ單據
                                    <input type="checkbox" id="cbxStatusQ@(itemName)N" name="cbxStatusQ@(itemName)" value="3" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6 mt-2">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    研發完成DFM單據
                                    <input type="checkbox" id="cbxStatusQ@(itemName)N" name="cbxStatusQ@(itemName)" value="4" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6 mt-2">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    製程完成DFM製程
                                    <input type="checkbox" id="cbxStatusQ@(itemName)Y" name="cbxStatusQ@(itemName)" value="5" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6 mt-2">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    業務完成報價
                                    <input type="checkbox" id="cbxStatusQ@(itemName)N" name="cbxStatusQ@(itemName)" value="6" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3 justify-content-between">
                    <div class="col-auto col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);">
                            <i class="fal fa-search"></i>搜尋
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky tiny-table" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 30px;">#</th>
                                        <th scope="col" style="min-width: 100px;">需求單號</th>
                                        <th scope="col" style="min-width: 115px;">客戶名稱</th>
                                        <th scope="col" style="min-width: 150px;">機種名稱</th>
                                        <th scope="col" style="min-width: 100px;">產品用途</th>
                                        <th scope="col" style="min-width: 100px;">建單類型</th>
                                        <th style="padding: 0; min-width: 1375px;">
                                            <table class="table table-bordered table-sm mb-0 table-non-rwd table-striped-custom table-row-detail">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 150px;">操作</th>
                                                        <th style="width: 100px;">流水號</th>
                                                        <th style="width: 150px; background-color:#FFE8E8 !important;">單據狀態</th>
                                                        <th style="width: 150px;">產品類別(可複選)</th>
                                                        <th style="width: 125px;">預計開案日</th>
                                                        <th style="width: 100px;">試作時程</th>
                                                        <th style="width: 100px;">產品生命週期</th>
                                                        <th style="width: 100px;">試作需求數量</th>
                                                        <th style="width: 100px;">量產需求</th>
                                                        <th style="width: 150px;">開案型態(幾P幾黑)</th>
                                                        <th style="width: 150px;">負責業務</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDocRemark@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">報價單備註</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <input type="hidden" id="popDocRmark_RfqDetailId" name="popDocRmark_RfqDetailId" value="-1" />
                    <div class="form-group">
                        <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtSoRemark@(itemName)">備註</label>
                        <div class="col-12 col-md-12 col-lg-12">
                            <textarea class="form-control" id="txtDocRemark@(itemName)" name="txtDocRemark@(itemName)"
                                      rows="6">
1.報價基礎：依圖面檢討進行報價，FOB桃園。
2.付款方式：確定下單後須先支付100%模具費，單品出貨當月結，月結30天。
3.機種打切或減少訂單：雙方依每季下單準備硝材及出貨包材，若機種打切取消或減少訂單，買方須依剩餘下單數量將賣方硝材或半成品及包材（單價賣方依加工完成程度提供）無意見全數買回。
4.本報價單有效期限：30 天</textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Download@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>匯出</button>
            </div>
        </div>
    </div>
</div>

@Html.Partial("ViewRfqQuotation")

@Html.Resource("js",
@<script>
    let objPage@(itemName) = {
        "pageIndex": 0,
        "pageSize": 10
    };

    let objForm@(itemName) = "#editForm@(itemName)";

    let userId@(itemName);
    let companyId@(itemName);

    $(document).ready(function () {
        ComboBoxs.Default("#cboProductUseQ@(itemName)", "@Url.Action("GetProductUse", "ScmBasicInformation")", {}, "", "NA", "", "ProductUseName", "ProductUseId");    //產品應用
        ComboBoxs.Default("#cboSalesIdQ@(itemName)", "@Url.Action("GetSalesQuery", "RequestForQuotation")", {}, userId@(itemName), "NA", "", "SalesInfo", "UserId");   //業務人員

        $("#cboProductUseQ@(itemName), #cboSalesIdQ@(itemName)").select2({
            dropdownAutoWidth: true,
            width: "100%"
        });

        Query@(itemName)();
    });

    function Query@(itemName)() {
        objPage@(itemName).pageIndex = 0;
        InitData@(itemName)(objPage@(itemName));

        $("#modalQuery@(itemName)").modal("hide");
    }

    function GetUserInfo@(itemName)() {
        let targetUrl = "@Url.Action("GetLoginByKey", "User")";
        let postData = {
            "UserNo": $.cookie("Login"),
            "KeyText": $.cookie("LoginKey")
        };

        let data = DataAccess.Get(targetUrl, postData, false);

        if (data.status == "success") {
            userId@(itemName) = data.returnData.UserId;
            companyId@(itemName) = data.returnData.CompanyId;
        } else {
            alert(data.msg, "alert", 0);
        }
    }

    function InitData@(itemName)(objPage) {
        let innerHtml = '';
        let pageCount = 0;

        let targetUrl = "@Url.Action("GetRequestForQuotation", "RequestForQuotation")";
        let postData = {
            "OrderBy": "",
            "PageIndex": (objPage.pageIndex + 1),
            "PageSize": objPage.pageSize,
            "RfqNo": $("#txtRfqNoQ@(itemName)").val(),
            "MemberName": $("#txtMemberNameQ@(itemName)").val(),
            "AssemblyName": $("#txtAssemblyNameQ@(itemName)").val(),
            "ProductUseId": $("#cboProductUseQ@(itemName)").val(),
            "SalesId": $("#cboSalesIdQ@(itemName)").val(),
            "Status": $("input[name='cbxStatusQ@(itemName)']:checked").toArray().map(item => item.value).join(",")
        };
        let data = DataAccess.Get(targetUrl, postData, false);

        if (data.status == "success") {
            pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

            if (pageCount > 0) {
                objPage = PageCaculate(pageCount, objPage);

                $.each(data.result, function (i, item) {
                    let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                    innerHtml += `<tr>
                                    <td><span class="stack-title">#</span>${_row}</td>
                                    <td><span class="stack-title">需求單號</span>${item.RfqNo}</td>
                                    <td class="ellipsis" data-toggle="tooltip" title="${item.MemberUserName}" style="width: 115px; max-width: 115px;">${item.MemberUserName}</td>
                                    <td class="ellipsis" data-toggle="tooltip" title="${item.AssemblyName}" style="width: 150px; max-width: 150px;">${item.AssemblyName}</td>
                                    <td class="ellipsis" data-toggle="tooltip" title="${item.ProductUseName}" style="width: 100px; max-width: 100px;">${item.ProductUseName}</td>
                                    <td class="ellipsis" data-toggle="tooltip" title="${item.MemberTypeName}" style="width: 100px; max-width: 100px;">${item.MemberTypeName}</td>
                                    <td style="padding: 0;">
                                        <table class="table table-bordered table-sm mb-0 table-non-rwd table-striped-custom table-row-detail">
                                        <tbody>
                                            ${DetailData@(itemName)(item.RfqDetail)}
                                        </toby>
                                        </table>
                                    </td>
                                    </tr>`;
                });
            } else {
                innerHtml += `<tr>
                                <td class="text-center" colspan="13" style="background-color: #fff3cd;">
                                    <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                </td>
                                </tr>`;
            }
        } else {
            alert(data.msg, "alert", 0);
        }

        $("#tblData@(itemName) tbody").html(innerHtml);
        TableComponentInit();
        Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

        //控制動作滾輪高度
        $(".dropdown-toggle").off("click").on("click", function () {
            let rfqDetailId = $(this).data("rfq-detail-id");

            if ($(`.dropdown-menu[data-rfq-detail-id='${rfqDetailId}']`).hasClass("show")) {
                $(".dropdown-menu").removeClass("show");
            } else {
                $(".dropdown-menu").removeClass("show");

                $(`.dropdown-menu[data-rfq-detail-id='${rfqDetailId}']`).addClass("show");
                $(`.dropdown-menu[data-rfq-detail-id='${rfqDetailId}']`).css({
                    top: `${$(this).position().top + $(this).height() + 5}px`,
                    left: `${$(this).position().left - $(this).width() + 38}px`
                });
            }
        });

        $("body").off("click").on("click", function (e) {
            if ($(".dropdown-menu").hasClass("show")) {
                if (!$(e.target).hasClass("dropdown-toggle")
                    && !$(e.target).parents().hasClass("dropdown-toggle")) {
                    $(".dropdown-menu").removeClass("show");
                }
            }
        });
    }

    function DetailData@(itemName)(source){
        let html = '';

        if (source) {
            let json = JSON.parse(source); //需先轉成json

            for (let x = 0; x < json.data.length; x++) {
                html += `<tr>
                            <td class="text-center" style="width: 150px; max-width: 150px;">
                            <div class="btn-group mb-4 show" style="margin-bottom: 0 !important; position: static;">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-rfq-detail-id="${json.data[x].RfqDetailId}" style="padding-top: 0; padding-bottom: 0;">動作</button>
                                <div class="dropdown-menu btn-text-left-block" data-rfq-detail-id="${json.data[x].RfqDetailId}" style="overflow-y: auto; z-index: 999; max-height: 150px;">
                                    ${json.data[x].RfqDetailStatus > `4` ? `<a class="dropdown-item btn-text-left auth-read" href="javascript:Read@(itemName)('${json.data[x].RfqId}', '${json.data[x].RfqDetailId}');"><i class="fas fa-eye"></i>查看</a>` : ``}
                                    ${json.data[x].RfqDetailStatus == `5` ? `<a class="dropdown-item btn-text-left auth-update" href="javascript:PopViewRfqQuotation('${json.data[x].RfqId}', '${json.data[x].RfqDetailId}');"><i class="fas fa-badge-dollar"></i>維護報價</a>` : ``}
                                    ${json.data[x].RfqDetailStatus == `5` ? `<a class="dropdown-item btn-text-left auth-confirm" href="javascript:Confirm@(itemName)('${json.data[x].RfqId}', '${json.data[x].RfqDetailId}');" ><i class="fas fa-badge-check"></i>確認</a>` : ``}
                                    ${json.data[x].RfqDetailStatus == `6` ? `<a class="dropdown-item btn-text-left auth-download" href="javascript:popDocRmark@(itemName)('${json.data[x].RfqDetailId}');" ><i class="fas fa-download"></i>單據下載</a>` : ``}
                                </div>
                            </div>
                            </td>
                            <td class="ellipsis" data-toggle="tooltip" title="${json.data[x].RfqSequence}" style="width: 100px; max-width: 100px;">${json.data[x].RfqSequence}</td>
                            <td class="ellipsis" data-toggle="tooltip" title="${json.data[x].RfqDetailStatusName}" style="width: 150px; max-width: 150px; background-color:#FFE8E8;">${json.data[x].RfqDetailStatusName}</td>
                            <td class="ellipsis" data-toggle="tooltip" title="${json.data[x].RfqProductTypeName}" style="width: 150px; max-width: 150px;">${json.data[x].RfqProductTypeName}</td>
                            <td class="ellipsis" data-toggle="tooltip" title="${json.data[x].PlannedOpeningDate}" style="width: 125px; max-width: 125px;">${json.data[x].PlannedOpeningDate}</td>
                            <td class="ellipsis" data-toggle="tooltip" title="${json.data[x].ProtoScheduleName}" style="width: 100px; max-width: 100px;">${json.data[x].ProtoScheduleName}</td>
                            <td style="width: 100px;">${json.data[x].ProdLifeCycleStart}</td>
                            <td style="width: 100px;">${json.data[x].PrototypeQty.toLocaleString(`en`)}</td>
                            <td style="width: 100px;">${json.data[x].MassProductionDemandName}</td>
                            <td class="ellipsis" data-toggle="tooltip" title="${json.data[x].KickOffType}" style="width: 150px; max-width: 150px;">${json.data[x].KickOffType}</td>
                            <td class="ellipsis" data-toggle="tooltip" title="${json.data[x].SalesInfo}" style="width: 150px; max-width: 150px;">${json.data[x].SalesInfo}</td>
                            </tr>`;
            }
        }

        return html;
    }

    function Confirm@(itemName)(RfqId, RfqDetailId) {
        swal.fire({
            titleText: "報價單進行確認嗎?",
            text: "此動作無法復原，請確認是否要執行!",
            icon: "warning",
            allowOutsideClick: false,
            allowEscapeKey: false,
            showCancelButton: true,
            confirmButtonColor: '#d33',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                let targetUrl = "@Url.Action("UpdateDfmQiSolutionConfirm", "RequestForQuotation")";
                let postData = {
                    "RfqId": RfqId,
                    "RfqDetailId": RfqDetailId
                };

                let result = DataAccess.Update(targetUrl, postData, false, true);

                if (result) {
                    Query@(itemName)();
                }
            }
        });
    }

    function popDocRmark@(itemName)(RfqDetailId) {
        $("#modalDocRemark@(itemName)").modal({ backdrop: 'static', keyboard: false }, 'show');
        $("#popDocRmark_RfqDetailId").val(RfqDetailId ? RfqDetailId : -1);
    }

    function Download@(itemName)() {
        let RfqDetailId = $("#popDocRmark_RfqDetailId").val();
        if (RfqDetailId > 0) {
            //彈出視窗
            let targetUrl = "@Url.Action("QuotationDocDownload", "RequestForQuotation")";
            let postData = {
                "RfqDetailId": RfqDetailId,
                "Remark": $("#txtDocRemark@(itemName)").val()
            };
            FileAccess.AjaxDownload(targetUrl, postData, false);
        } else {
            alert("【單據下載】查無RDF單身不可為空")
        }
    }

    function Read@(itemName)(RfqId, RfqDetailId) {
        $("#readStatus").val("Y");
        PopViewRfqQuotation(RfqId, RfqDetailId);
        $("#recalculateButton").hide();
    }

    function Return@(itemName)() {
        ResetForm(objForm@(itemName));
        Switch("#listData@(itemName)", "#editData@(itemName), .unit-block, .advanced-block");
        Query@(itemName)();
    }

</script>
        )
