@using Business_Manager.Helpers
@{
    string itemName = "ViewRfqQuotation";
    string itemNameText = "RFQ所屬單身資訊";
}

@Html.Resource("css",
    @<style>
        .table-tree-view {
            font-size: .8125rem;
        }

            .table-tree-view caption {
                caption-side: top;
            }

            .table-tree-view caption h3 {
                padding: 0 .5rem;
                font-size: 1rem;
            }

            .table-tree-view th, .table-tree-view td {
                border: 0;
                vertical-align: middle;
            }

            .table-tree-view .tree-icon {
                display: inline-block;
                padding: .3125rem .5rem;
            }

            .table-tree-view .tree-text {
                display: inline-block;
                padding: .3125rem .5rem;
            }

            .table-tree-view tbody > tr {
                background: #ffffff;
            }

                .table-tree-view tbody > tr > th {
                    background: #ffffff;
                    position: -webkit-sticky;
                    position: sticky;
                }

                .table-tree-view tbody > tr:hover {
                    background: #e6e6e6;
                }

                    .table-tree-view tbody > tr:hover > th {
                        background: #e6e6e6;
                    }
    </style>
)

<div class="modal fade" id="modal@(itemName)">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    @(itemNameText)
                </h5>
                <button class="close" type="button" onclick="Close@(itemName)()">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-3">
                        <dl class="row">
                            <dt class="col-6 text-right">需求單號</dt>
                            <dd class="col-6">
                                <span class="text-primary" id="desRfqNo@(itemName)"></span>
                            </dd>
                            <dt class="col-6 text-right">客戶名稱</dt>
                            <dd class="col-6">
                                <span class="text-primary" id="desMemberName@(itemName)"></span>
                            </dd>
                            <dt class="col-6 text-right">機種名稱</dt>
                            <dd class="col-6">
                                <span class="text-primary" id="desAssemblyName@(itemName)"></span>
                            </dd>
                            <dt class="col-6 text-right">產品應用</dt>
                            <dd class="col-6">
                                <span class="text-primary" id="desProductUseName@(itemName)"></span>
                            </dd>
                            <dt class="col-6 text-right">序　　號</dt>
                            <dd class="col-6">
                                <span class="text-primary" id="desRfqSequence@(itemName)"></span>
                            </dd>
                            <dt class="col-6 text-right">產品類別</dt>
                            <dd class="col-6">
                                <span class="text-primary" id="desRfqProductTypeName@(itemName)"></span>
                            </dd>
                        </dl>
                    </div>
                    <div class="col-3">
                        <dl class="row">
                            <dt class="col-6 text-right">開案型態</dt>
                            <dd class="col-6">
                                <span class="text-primary" id="desKickOffType@(itemName)"></span>
                            </dd>
                            <dt class="col-6 text-right">品　　名</dt>
                            <dd class="col-6">
                                <span class="text-primary" id="desMtlName@(itemName)"></span>
                            </dd>
                            <dt class="col-6 text-right">塑料品名</dt>
                            <dd class="col-6">
                                <span class="text-primary" id="desPlasticName@(itemName)"></span>
                            </dd>
                            <dt class="col-6 text-right">外徑大小</dt>
                            <dd class="col-6">
                                <span class="text-primary" id="desOutsideDiameter@(itemName)"></span>
                            </dd>
                            <dt class="col-6 text-right">試作時程</dt>
                            <dd class="col-6">
                                <span class="text-primary" id="desProtoScheduleName@(itemName)"></span>
                            </dd>
                            <dt class="col-6 text-right">試作需求數量</dt>
                            <dd class="col-6">
                                <span class="text-primary" id="desPrototypeQty@(itemName)"></span>
                            </dd>
                        </dl>
                    </div>
                    <div class="col-3">
                        <dl class="row">
                            <dt class="col-6 text-right">預計開案日</dt>
                            <dd class="col-6">
                                <span class="text-primary" id="desPlannedOpeningDate@(itemName)"></span>
                            </dd>
                            <dt class="col-6 text-right">需求日期</dt>
                            <dd class="col-6">
                                <span class="text-primary" id="desDemandDate@(itemName)"></span>
                            </dd>
                            <dt class="col-6 text-right">生命週期(起)</dt>
                            <dd class="col-6">
                                <span class="text-primary" id="desProdLifeCycleStart@(itemName)"></span>
                            </dd>
                            <dt class="col-6 text-right">生命週期(訖)</dt>
                            <dd class="col-6">
                                <span class="text-primary" id="desProdLifeCycleEnd@(itemName)"></span>
                            </dd>
                            <dt class="col-6 text-right">週期數量</dt>
                            <dd class="col-6">
                                <span class="text-primary" id="desLifeCycleQty@(itemName)"></span>
                            </dd>
                            <dt class="col-6 text-right">描　　述</dt>
                            <dd class="col-6">
                                <span class="text-primary" id="desDescription@(itemName)"></span>
                            </dd>
                        </dl>
                    </div>
                    <div class="col-3">
                        <dl class="row">
                            <dt class="col-6 text-right">量產需求</dt>
                            <dd class="col-6">
                                <span class="text-primary" id="desMassProductionDemand@(itemName)"></span>
                            </dd>
                            <dt class="col-6 text-right">是否鍍膜</dt>
                            <dd class="col-6">
                                <span class="text-primary" id="desCoatingFlag@(itemName)"></span>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="col-12 text-right">
                    <button type="button" class="btn btn-success" onclick="ReCalculate@(itemName)()" id="recalculateButton"><i class="fas fa-calculator"></i>報價重計</button>
                </div>
                <hr />
                <div class="row">
                    <div class="col-12" id="data@(itemName)">
                        <div class="table-custom table-tree-view">
                            <table class="table table-striped tiny-table">
                                <caption>
                                    <h3>方案一</h3>
                                    <dl class="row">
                                        <dt class="col-6 text-right">方案數量</dt>
                                        <dd class="col-6"><span class="text-primary">1000</span></dd>
                                    </dl>
                                </caption>
                                <thead>
                                    <tr>
                                        <th class="text-center" colspan="2" style="width: auto;">項目</th>
                                        <th class="text-right" style="width: 100px;">成本</th>
                                        <th class="text-right" style="width: 100px;">毛利率(%)</th>
                                        <th class="text-right" style="width: 100px;">毛利後金額</th>
                                        <th class="text-right" style="width: 100px;">折扣金額</th>
                                        <th class="text-right" style="width: 100px;">報價金額</th>
                                        <th class="text-center" scope="col" style="min-width: 100px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-right" style="width: 40px;">
                                            <a class="tree-icon" data-item-id="194066" href="javascript:void(0);"><i class="fas fa-minus"></i></a>
                                        </td>
                                        <td class="" style="width: auto;"><span class="tree-text font-weight-bold">TEST</span></td>
                                        <td class="text-right" style="width: 100px;">$ 802</td>
                                        <td class="text-right" style="width: 100px;">
                                            <input type="text" style="text-align:right;" class="form-control" id="txtGrossProfitMargin@(itemName)" name="txtGrossProfitMargin@(itemName)" />
                                        </td>
                                        <td class="text-right" style="width: 100px;">
                                            <input type="text" style="text-align:right;" class="form-control" id="txtAfterProfitMargin@(itemName)" name="txtAfterProfitMargin@(itemName)" />
                                        </td>
                                        <td class="text-right" style="width: 100px;">
                                            <input type="text" style="text-align:right;" class="form-control" id="txtDiscountAmount@(itemName)" name="txtDiscountAmount@(itemName)" />
                                        </td>
                                        <td class="text-right" style="width: 100px;">$ 100</td>
                                        <td class="text-center" style="width: 100px;">save</td>
                                    </tr>
                                    <tr data-content-id="194066" style="">
                                        <td class="p-0" colspan="8">
                                            <table class="table table-sm mb-0 table-non-rwd table-custom-hover">
                                                <tbody>
                                                    <tr>
                                                        <td class="text-right" style="width: 40px;">
                                                            <a class="tree-icon" href="javascript:void(0);"><i class="fas fa-level-up-alt" style="transform: rotate(90deg);"></i></a>
                                                        </td>
                                                        <td class="text-right" style="width: 40px; left: 40px;">
                                                            <a class="tree-icon" data-item-id="194067" href="javascript:void(0);"><i class="fas fa-minus"></i></a>
                                                        </td>
                                                        <td class="" style="width: auto;"><span class="tree-text font-weight-bold">TEST1</span></td>
                                                        <td class="text-right" style="width: 100px;">$ 802</td>
                                                        <td class="text-right" style="width: 100px;">
                                                            <input type="text" style="text-align:right;" class="form-control" id="txtGrossProfitMargin@(itemName)" name="txtGrossProfitMargin@(itemName)" />
                                                        </td>
                                                        <td class="text-right" style="width: 100px;">
                                                            <input type="text" style="text-align:right;" class="form-control" id="txtAfterProfitMargin@(itemName)" name="txtAfterProfitMargin@(itemName)" />
                                                        </td>
                                                        <td class="text-right" style="width: 100px;">
                                                            <input type="text" style="text-align:right;" class="form-control" id="txtDiscountAmount@(itemName)" name="txtDiscountAmount@(itemName)" />
                                                        </td>
                                                        <td class="text-right" style="width: 100px;">$ 100</td>
                                                        <td class="text-center" style="width: 100px;">save</td>
                                                    </tr>
                                                    <tr data-content-id="194067" style="">
                                                        <td class="p-0" colspan="9">
                                                            <table class="table table-sm mb-0 table-non-rwd table-custom-hover">
                                                                <tbody>
                                                                    <tr>
                                                                        <td class="text-right" style="width: 80px;">
                                                                            <a class="tree-icon" href="javascript:void(0);"><i class="fas fa-level-up-alt" style="transform: rotate(90deg);"></i></a>
                                                                        </td>
                                                                        <td class="text-right" style="width: 40px; left: 80px;">
                                                                            <a class="tree-icon" data-item-id="194068" href="javascript:void(0);"><i class="fas fa-minus"></i></a>
                                                                        </td>
                                                                        <td class="" style="width: auto;"><span class="tree-text font-weight-bold">TEST1-1</span></td>
                                                                        <td class="text-right" style="width: 100px;">$ 802</td>
                                                                        <td class="text-right" style="width: 100px;">
                                                                            <input type="text" style="text-align:right;" class="form-control" id="txtGrossProfitMargin@(itemName)" name="txtGrossProfitMargin@(itemName)" />
                                                                        </td>
                                                                        <td class="text-right" style="width: 100px;">
                                                                            <input type="text" style="text-align:right;" class="form-control" id="txtAfterProfitMargin@(itemName)" name="txtAfterProfitMargin@(itemName)" />
                                                                        </td>
                                                                        <td class="text-right" style="width: 100px;">
                                                                            <input type="text" style="text-align:right;" class="form-control" id="txtDiscountAmount@(itemName)" name="txtDiscountAmount@(itemName)" />
                                                                        </td>
                                                                        <td class="text-right" style="width: 100px;">$ 100</td>
                                                                        <td class="text-center" style="width: 100px;">save</td>
                                                                    </tr>
                                                                    <tr data-content-id="194068" style="">
                                                                        <td class="p-0" colspan="9">
                                                                            <table class="table table-sm mb-0 table-non-rwd table-custom-hover">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td class="text-right" style="width: 120px;">
                                                                                            <a class="tree-icon" href="javascript:void(0);"><i class="fas fa-level-up-alt" style="transform: rotate(90deg);"></i></a>
                                                                                        </td>
                                                                                        <td class="text-right" style="width: 40px; left: 120px;"></td>
                                                                                        <td class="" style="width: auto;"><span class="tree-text font-weight-bold">TEST1-1-1</span></td>
                                                                                        <td class="text-right" style="width: 100px;">$ 802</td>
                                                                                        <td class="text-right" style="width: 100px;">
                                                                                            <input type="text" style="text-align:right;" class="form-control" id="txtGrossProfitMargin@(itemName)" name="txtGrossProfitMargin@(itemName)" />
                                                                                        </td>
                                                                                        <td class="text-right" style="width: 100px;">
                                                                                            <input type="text" style="text-align:right;" class="form-control" id="txtAfterProfitMargin@(itemName)" name="txtAfterProfitMargin@(itemName)" />
                                                                                        </td>
                                                                                        <td class="text-right" style="width: 100px;">
                                                                                            <input type="text" style="text-align:right;" class="form-control" id="txtDiscountAmount@(itemName)" name="txtDiscountAmount@(itemName)" />
                                                                                        </td>
                                                                                        <td class="text-right" style="width: 100px;">$ 100</td>
                                                                                        <td class="text-center" style="width: 100px;">save</td>
                                                                                    </tr>
                                                                                    <tr data-content-id="194069">
                                                                                        <td class="p-0" colspan="9"></td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table table-striped tiny-table">
                                <caption>
                                    <h3>方案一</h3>
                                    <dl class="row">
                                        <dt class="col-2 text-right">方案數量</dt>
                                        <dd class="col-10"><span class="text-primary">1,000</span></dd>
                                    </dl>
                                </caption>
                                <thead>
                                    <tr>
                                        <th class="text-center" colspan="2" style="width: auto;">項目</th>
                                        <th class="text-right" style="width: 100px;">成本</th>
                                        <th class="text-right" style="width: 100px;">毛利率(%)</th>
                                        <th class="text-right" style="width: 100px;">毛利後金額</th>
                                        <th class="text-right" style="width: 100px;">折扣金額</th>
                                        <th class="text-right" style="width: 100px;">報價金額</th>
                                        <th class="text-center" scope="col" style="min-width: 50px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-right" style="width: 40px;">
                                            <a class="tree-icon" data-item-id="1154" href="javascript:void(0);"><i class="fas fa-minus"></i></a>
                                        </td>
                                        <td class="" style="width: auto;"><span class="tree-text font-weight-bold">P1 鏡片</span></td>
                                        <td class="text-right" style="width: 100px;">$ 4.233</td>
                                        <td class="text-right" style="width: 100px;">
                                            <input type="text" style="text-align:right;" class="form-control" name="txtGrossProfitMarginViewRfqQuotation" data-solution-id="undefined">
                                        </td>
                                        <td class="text-right" style="width: 100px;">
                                            <input type="text" style="text-align:right;" class="form-control" name="txtAfterProfitMarginViewRfqQuotation" data-solution-id="undefined">
                                        </td>
                                        <td class="text-right" style="width: 100px;">
                                            <input type="text" style="text-align:right;" class="form-control" name="txtDiscountAmountViewRfqQuotation" data-solution-id="undefined">
                                        </td>
                                        <td class="text-right" style="width: 100px;">$ 0</td>
                                        <td class="text-center">
                                            <a class="active-link auth-update" style="" href="javascript:SaveViewRfqQuotation();"><i class="fas fa-save"></i></a>
                                        </td>
                                    </tr>
                                    <tr data-content-id="1154">
                                        <td class="p-0" colspan="8"></td>
                                    </tr>
                                    <tr>
                                        <td class="text-right" style="width: 40px;">
                                            <a class="tree-icon" data-item-id="1155" href="javascript:void(0);"><i class="fas fa-minus"></i></a>
                                        </td>
                                        <td class="" style="width: auto;"><span class="tree-text font-weight-bold">P1 模具</span></td>
                                        <td class="text-right" style="width: 100px;">$ 0</td>
                                        <td class="text-right" style="width: 100px;">
                                            <input type="text" style="text-align:right;" class="form-control" name="txtGrossProfitMarginViewRfqQuotation" data-solution-id="undefined">
                                        </td>
                                        <td class="text-right" style="width: 100px;">
                                            <input type="text" style="text-align:right;" class="form-control" name="txtAfterProfitMarginViewRfqQuotation" data-solution-id="undefined">
                                        </td>
                                        <td class="text-right" style="width: 100px;">
                                            <input type="text" style="text-align:right;" class="form-control" name="txtDiscountAmountViewRfqQuotation" data-solution-id="undefined">
                                        </td>
                                        <td class="text-right" style="width: 100px;">$ 0</td>
                                        <td class="text-center">
                                            <a class="active-link auth-update" style="" href="javascript:SaveViewRfqQuotation();"><i class="fas fa-save"></i></a>
                                        </td>
                                    </tr>
                                    <tr data-content-id="1155">
                                        <td class="p-0" colspan="8">
                                            <table class="table table-sm mb-0 table-non-rwd table-custom-hover">
                                                <tbody>
                                                    <tr>
                                                        <td class="text-right" style="width: 80px;">        <a class="tree-icon" href="javascript:void(0);"><i class="fas fa-level-up-alt" style="transform: rotate(90deg);"></i></a></td>
                                                        <td class="text-right" style="width: 40px; left: 80px;"></td>
                                                        <td class="" style="width: auto;"><span class="tree-text font-weight-bold">P1 模架</span></td>
                                                        <td class="text-right" data-toggle="tooltip" title="undefined" style="width: 100px; max-width: 100px;">undefined</td>
                                                        <td class="text-right" data-toggle="tooltip" title="0" style="width: 100px; max-width: 100px;">0</td>
                                                        <td class="text-right" data-toggle="tooltip" title="0" style="width: 100px; max-width: 100px;">0</td>
                                                        <td class="text-right" data-toggle="tooltip" title="0" style="width: 100px; max-width: 100px;">0</td>
                                                        <td class="text-right" style="width: 100px;">$ 0</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr data-content-id="1156">
                                                        <td class="p-0" colspan="9"></td>
                                                    </tr>
                                                </tbody>
                                            </table><table class="table table-sm mb-0 table-non-rwd table-custom-hover">
                                                <tbody>
                                                    <tr>
                                                        <td class="text-right" style="width: 80px;">        <a class="tree-icon" href="javascript:void(0);"><i class="fas fa-level-up-alt" style="transform: rotate(90deg);"></i></a></td>
                                                        <td class="text-right" style="width: 40px; left: 80px;"></td>
                                                        <td class="" style="width: auto;"><span class="tree-text font-weight-bold">P1模仁</span></td>
                                                        <td class="text-right" data-toggle="tooltip" title="undefined" style="width: 100px; max-width: 100px;">undefined</td>
                                                        <td class="text-right" data-toggle="tooltip" title="0" style="width: 100px; max-width: 100px;">0</td>
                                                        <td class="text-right" data-toggle="tooltip" title="0" style="width: 100px; max-width: 100px;">0</td>
                                                        <td class="text-right" data-toggle="tooltip" title="0" style="width: 100px; max-width: 100px;">0</td>
                                                        <td class="text-right" style="width: 100px;">$ 0</td>
                                                        <td></td>
                                                    </tr>
                                                    <tr data-content-id="1157">
                                                        <td class="p-0" colspan="9"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        let quotationJson = JSON.parse('{ "data" : []}');
        let rfqId@(itemName);
        let rfqDetailId@(itemName);

        function Pop@(itemName)(rfqId, rfqDetailId) {
            rfqId@(itemName) = rfqId;
            rfqDetailId@(itemName) = rfqDetailId;
            $("#desrfqId@(itemName)").html(`${rfqId}`);
            $("#desrfqDetailId@(itemName)").html(`${rfqDetailId}`);
            $("#recalculateButton").show();

            $("#modal@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });

            targetUrl = "@Url.Action("GetRfqDetail", "RequestForQuotation")";
            postData = {
                "RfqId": rfqId
            };
            let rfqData = DataAccess.Get(targetUrl, postData, false);

            if (rfqData.status == "success") {
                if (rfqData.result.length > 0) {
                    $.each(rfqData.result, function (i, item) {
                        //單頭
                        $("#desrfqId@(itemName)").html(item.RfqId);
                        $("#desrfqDetailId@(itemName)").html(item.RfqDetailId);
                        $("#desRfqNo@(itemName)").html(item.RfqNo);
                        $("#desMemberName@(itemName)").html(item.MemberName);
                        $("#desAssemblyName@(itemName)").html(item.AssemblyName);
                        $("#desProductUseName@(itemName)").html(item.ProductUseName);
                        //序號/產品類別/開案型態
                        $("#desRfqSequence@(itemName)").html(item.RfqSequence);
                        $("#desRfqProductTypeName@(itemName)").html(item.RfqProductTypeName);
                        $("#desKickOffType@(itemName)").html(item.KickOffType);
                        //品名/塑料品名/外徑大小
                        $("#desMtlName@(itemName)").html(item.MtlName);
                        $("#desPlasticName@(itemName)").html(item.PlasticName);
                        $("#desOutsideDiameter@(itemName)").html(item.OutsideDiameter);
                        //試作時程/試作需求數量/預計開案日/需求日期
                        $("#desProtoScheduleName@(itemName)").html(item.ProtoScheduleName);
                        $("#desPrototypeQty@(itemName)").html(item.PrototypeQty.toLocaleString(`en`));
                        $("#desPlannedOpeningDate@(itemName)").html(item.PlannedOpeningDate);
                        $("#desDemandDate@(itemName)").html(item.DemandDate);
                        //生命週期(起訖)/週期數量
                        $("#desProdLifeCycleStart@(itemName)").html(item.ProdLifeCycleStart);
                        $("#desProdLifeCycleEnd@(itemName)").html(item.ProdLifeCycleEnd);
                        $("#desLifeCycleQty@(itemName)").html(item.LifeCycleQty.toLocaleString(`en`));
                        //量產需求/是否鍍膜/描述
                        $("#desMassProductionDemand@(itemName)").html(item.MassProductionDemandName);
                        $("#desCoatingFlag@(itemName)").html(item.CoatingFlagName);
                        $("#desDescription@(itemName)").html(item.Description);
                    });
                } else {
                    alert("單身不存在");
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            InitData@(itemName)();
        }

        function InitData@(itemName)() {
            let innerHtml = '';

            let targetUrl = "@Url.Action("GetRfqLineSolution", "RequestForQuotation")";
            let postData = {
                "RfqDetailId": rfqDetailId@(itemName)
            };
            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                if (data.result.length > 0) {
                    let schemeNumber = 1; //預設方案為1
                    $.each(data.result, function (i, item) {
                        innerHtml += `<div class="table-custom table-tree-view">
                                        <table class="table table-striped tiny-table">
                                            <caption>
                                                <h3>方案${schemeNumber}</h3> @*動態產生方案數字*@
                                                <dl class="row">
                                                  <dt class="col-2 text-right">方案數量</dt>
                                                  <dd class="col-10"><span class="text-primary">${item.SolutionQty.toLocaleString(`en`)}</span></dd>
                                                </dl>
                                                <div class="col-12 text-right">
                                                  ${item.RfqDetailStatus != `5` && $(`#readStatus`).val() != `Y` ? `<button type="button" class="btn btn-warning" onclick="LotSave@(itemName)('${item.RfqLineSolutionId}')" id="recalculateButton"><i class="fas fa-calculator"></i>批量儲存報價</button>` : ``}
                                                </div>
                                            </caption>
                                            <thead>
                                              <tr>
                                                <th class="text-center" colspan="2" style="width: auto;">項目</th>
                                                <th class="text-right" style="width: 100px;">成本</th>
                                                <th class="text-right" style="width: 100px;">毛利率(%)</th>
                                                <th class="text-right" style="width: 100px;">毛利後金額</th>
                                                <th class="text-right" style="width: 100px;">折扣金額</th>
                                                <th class="text-right" style="width: 100px;">報價金額</th>
                                                <th class="text-center" scope="col" style="width: 100px;">操作</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              ${DfmInfo@(itemName)(item.RfqLineSolutionId)}
                                            </tbody>
                                          </table>
                                        </div>
                                        <hr />`;
                        schemeNumber++;
                    });
                } else {
                    innerHtml += ``;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#data@(itemName)").html(innerHtml);
            TableComponentInit();

            //自動算出毛利後金額
            $("input[name='txtGrossProfitMargin@(itemName)']").off("change").on("change", function () {
                let target = $(this).data("solution-id");
                let itemid = $(this).data("item-id");
                let amount = parseFloat($(`input[name='txtCalculateCost@(itemName)'][data-solution-id=${target}][data-item-id=${itemid}]`).val()); //成本

                $(`input[name='txtAfterProfitMargin@(itemName)'][data-solution-id=${target}][data-item-id=${itemid}]`).val(Math.round(amount / (1 - parseFloat($(this).val()) / 100) * 100) / 100);

                let aftercount = parseFloat($(`input[name='txtAfterProfitMargin@(itemName)'][data-solution-id=${target}][data-item-id=${itemid}]`).val()); //毛利後
                let discount = 0;
                if ($(`input[name='txtDiscountAmount@(itemName)'][data-solution-id=${target}][data-item-id=${itemid}]`).val()) {
                    discount = parseFloat($(`input[name='txtDiscountAmount@(itemName)'][data-solution-id=${target}][data-item-id=${itemid}]`).val()); //折扣
                }
                let quotationAmount = aftercount - discount; //報價

                if (!isNaN(quotationAmount)) {
                    $(`input[name='txtQuotationAmount@(itemName)'][data-solution-id=${target}][data-item-id=${itemid}]`).val(quotationAmount);
                } else {
                    $(`input[name='txtQuotationAmount@(itemName)'][data-solution-id=${target}][data-item-id=${itemid}]`).val("數值錯誤");
                }
            });

            //自動算出報價金額
            $("input[name='txtDiscountAmount@(itemName)']").off("change").on("change", function () {
                let target = $(this).data("solution-id");
                let itemid = $(this).data("item-id");
                let aftercount = parseFloat($(`input[name='txtAfterProfitMargin@(itemName)'][data-solution-id=${target}][data-item-id=${itemid}]`).val());
                let discount = parseFloat($(this).val());
                let quotationAmount = aftercount - discount;

                if (!isNaN(quotationAmount)) {
                    $(`input[name='txtQuotationAmount@(itemName)'][data-solution-id=${target}][data-item-id=${itemid}]`).val(quotationAmount);
                } else {
                    $(`input[name='txtQuotationAmount@(itemName)'][data-solution-id=${target}][data-item-id=${itemid}]`).val("數值錯誤");
                }
            });

            $(".tree-icon[data-item-id]").bind("click", ComponentToggle@(itemName));
        }

        function DfmInfo@(itemName)(RfqLineSolutionId) {
            let solutionLevel = 0;
            let innerHtml = '';

            let targetUrl = "@Url.Action("GetDfmQiSolution", "RequestForQuotation")";
            let postData = {
                "RfqLineSolutionId": RfqLineSolutionId
            };
            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                
                solutionContent@(itemName) = data.result;

                $.each(data.result, function (i, item) {
                    if (item.ParentDfmQiId == -1) {
                        innerHtml += `<tr>
                                        <td class="text-right" style="width: 40px;">
                                            <a class="tree-icon" data-item-id="${item.DfmQiId}" href="javascript:void(0);"><i class="fas fa-minus"></i></a>
                                        </td>
                                        <input type="hidden" id="DfmId@(itemName)" name="DfmId@(itemName)" value="${item.DfmId}" />
                                        <td class="" style="width: auto;"><span class="tree-text font-weight-bold">${item.DfmQuotationName}</span></td>
                                        <td class="text-right" style="width: 100px;">$ ${item.CalculateCost.toLocaleString(`en`)}</td>
                                        <input type="hidden" name="txtCalculateCost@(itemName)" data-solution-id="${item.RfqLineSolutionId}" data-item-id="${item.DfmQiId}" value="${item.CalculateCost}" />
                                        <td class="text-right" style="width: 100px;">
                                          <input type="text" ${item.RfqDetailStatus != `5` || $(`#readStatus`).val() == `Y` ? `readonly` : ``} style="text-align:right;" class="form-control" name="txtGrossProfitMargin@(itemName)" data-solution-id="${item.RfqLineSolutionId}" data-item-id="${item.DfmQiId}" value="${item.GrossProfitMargin}"/>
                                        </td>
                                        <td class="text-right" style="width: 100px;">
                                          <input type="text" style="text-align:right;" class="form-control" name="txtAfterProfitMargin@(itemName)" data-solution-id="${item.RfqLineSolutionId}" data-item-id="${item.DfmQiId}" value="${item.AfterProfitMargin}" readonly/>
                                        </td>
                                        <td class="text-right" style="width: 100px;">
                                          <input type="text" ${item.RfqDetailStatus != `5` || $(`#readStatus`).val() == `Y` ? `readonly` : ``} style="text-align:right;" class="form-control" name="txtDiscountAmount@(itemName)" data-solution-id="${item.RfqLineSolutionId}" data-item-id="${item.DfmQiId}" value="${item.DiscountAmount}" />
                                        </td>
                                        <td class="text-right" style="width: 100px;">
                                          <input type="text" style="text-align:right;" class="form-control" name="txtQuotationAmount@(itemName)" data-solution-id="${item.RfqLineSolutionId}" data-item-id="${item.DfmQiId}" value="${item.QuotationAmount}" readonly/>
                                          <input type="hidden" name="txtQuotationAmount@(itemName)" data-solution-id="${item.RfqLineSolutionId}" value="${item.QuotationAmount}" />
                                        </td>
                                        <td class="text-center" style="width: 100px;">
                                          ${item.RfqDetailStatus == `5` && $(`#readStatus`).val() != `Y` ? `<a class="active-link auth-update" href="javascript:Save@(itemName)('${item.RfqLineSolutionId}', '${item.DfmQiId}');"><i class="fas fa-save"></i></a>` : ``}
                                        </td>
                                      </tr>
                                      <tr data-content-id="${item.DfmQiId}">
                                        <td class="p-0" colspan="8">
                                          ${ComponentTree@(itemName)(item.DfmQiId, item.SolutionLevel)}
                                        </td>
                                      </tr>`;
                        }
                    });
            } else {
                alert(data.msg, "alert", 0);
            }

            return innerHtml;
        }

        function ComponentTree@(itemName)(dfmQiId, solutionLevel) {
            let componentContent = getObjects(solutionContent@(itemName), "ParentDfmQiId", dfmQiId);
            let innerHtml = '';

            if (componentContent.length > 0) {
                for (var i = 0; i < componentContent.length; i++) {
                    innerHtml += `<table class="table table-striped tiny-table" style="margin-bottom: 0;">
                                    <tbody>`;
                    innerHtml += `    <tr>`;
                    innerHtml += `      <td class="text-right" style="width: ` + (40 * (solutionLevel + 1)) + `px;">`;
                    innerHtml += `        <a class="tree-icon" href="javascript:void(0);"><i class="fas fa-level-up-alt" style="transform: rotate(90deg);"></i></a></td>`;
                    innerHtml += `      <td class="text-right" style="width: 40px; left: ` + (40 * (solutionLevel + 1)) + `px;"></td>`;
                    if (getObjects(solutionContent@(itemName), "ParentDfmQiId", componentContent[i].DfmQiId).length > 0) {
                        innerHtml += '<a class="tree-icon" data-item-id="' + componentContent[i].DfmQiId + '" href="javascript:void(0);"><i class="fas fa-minus"></i></a>';
                    }

                    innerHtml += `      <td class="" style="width: auto;"><span class="tree-text font-weight-bold">${componentContent[i].DfmQuotationName}</span></td>
                                        <td class="text-right" style="width: 100px; max-width: 100px;">${componentContent[i].CalculateCost.toLocaleString(`en`)}</td>
                                        <td class="text-right" style="width: 100px; max-width: 100px;">${componentContent[i].GrossProfitMargin}</td>
                                        <td class="text-right" style="width: 100px; max-width: 100px;">${componentContent[i].AfterProfitMargin}</td>
                                        <td class="text-right" style="width: 100px; max-width: 100px;">${componentContent[i].DiscountAmount}</td>
                                        <td class="text-right" style="width: 100px;">$ ${componentContent[i].CalculateQuotation.toLocaleString(`en`)}</td>
                                        <td style="width: 100px;"></td>
                                      </tr>
                                      <tr data-content-id="${componentContent[i].DfmQiId}">
                                        <td class="p-0" colspan="9">
                                          ${ComponentTree@(itemName)(componentContent[i].DfmQiId, componentContent[i].SolutionLevel)}
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>`;
                }
            }

            return innerHtml;
        }

        function ComponentToggle@(itemName)() {
            var itemId = $(this).data("item-id");

            $(this).children().toggleClass("fa-plus").toggleClass("fa-minus");
            $("[data-content-id=" + itemId + "]").toggle();
        }

        //單筆儲存
        function Save@(itemName)(RfqLineSolutionId, DfmQiId) {

            let isValid = true;
            let errorMsg = "";

            if (parseInt($(`input[name='txtGrossProfitMargin@(itemName)'][data-solution-id=${RfqLineSolutionId}][data-item-id=${DfmQiId}]`).val()) <= 0) {
                isValid = false;
                errorMsg += "毛利率不能小於零!<br />";
            }
            if (parseInt($(`input[name='txtDiscountAmount@(itemName)'][data-solution-id=${RfqLineSolutionId}][data-item-id=${DfmQiId}]`).val()) <= 0) {
                isValid = false;
                errorMsg += "折扣金額不能小於零!<br />";
            }

            if (isValid) {
                let targetUrl = "@Url.Action("UpdateDfmQiSolution", "RequestForQuotation")";
                let postData = {
                    "RfqLineSolutionId": RfqLineSolutionId,
                    "DfmQiId": DfmQiId,
                    "GrossProfitMargin": $(`input[name='txtGrossProfitMargin@(itemName)'][data-solution-id=${RfqLineSolutionId}][data-item-id=${DfmQiId}]`).val(),
                    "AfterProfitMargin": $(`input[name='txtAfterProfitMargin@(itemName)'][data-solution-id=${RfqLineSolutionId}][data-item-id=${DfmQiId}]`).val(),
                    "DiscountAmount": $(`input[name='txtDiscountAmount@(itemName)'][data-solution-id=${RfqLineSolutionId}][data-item-id=${DfmQiId}]`).val(),
                    "QuotationAmount": $(`input[name='txtQuotationAmount@(itemName)'][data-solution-id=${RfqLineSolutionId}][data-item-id=${DfmQiId}]`).val()
                };

                let result = DataAccess.Update(targetUrl, postData, false, true);

                if (result) {
                    InitData@(itemName)();
                } else {
                    alert(errorMsg);
                }
            }
        }

        //多筆儲存
        function LotSave@(itemName)(RfqLineSolutionId) {
            let isValid = true;
            let errorMsg = "";

            quotationJson = JSON.parse('{ "data" : []}');

            $.each($(`input[name='txtGrossProfitMargin@(itemName)'][data-solution-id=${RfqLineSolutionId}][data-item-id]`), function (i) {
                let dfmQiId = $(this).data("item-id");

                let json = {
                    index: (i + 1),
                    rfqLineSolutionId: RfqLineSolutionId,
                    dfmQiId: dfmQiId,
                    //calculateCost: $("input[name='txtCalculateCost@(itemName)'][data-solution-id='" + rfqLineSolutionId + "'][data-item-id='" + dfmQiId + "']").val(),
                    grossProfitMargin: $("input[name='txtGrossProfitMargin@(itemName)'][data-solution-id='" + RfqLineSolutionId + "'][data-item-id='" + dfmQiId + "']").val(),
                    afterProfitMargin: $("input[name='txtAfterProfitMargin@(itemName)'][data-solution-id='" + RfqLineSolutionId + "'][data-item-id='" + dfmQiId + "']").val(),
                    discountAmount: $("input[name='txtDiscountAmount@(itemName)'][data-solution-id='" + RfqLineSolutionId + "'][data-item-id='" + dfmQiId + "']").val(),
                    quotationAmount: $("input[name='txtQuotationAmount@(itemName)'][data-solution-id='" + RfqLineSolutionId + "'][data-item-id='" + dfmQiId + "']").val()
                };

                if (parseInt($(`input[name='txtGrossProfitMargin@(itemName)'][data-solution-id=${RfqLineSolutionId}][data-item-id=${dfmQiId}]`).val()) < 0) {
                    isValid = false;
                    errorMsg += "毛利率不能小於零!<br />";
                }
                if (parseInt($(`input[name='txtDiscountAmount@(itemName)'][data-solution-id=${RfqLineSolutionId}][data-item-id=${dfmQiId}]`).val()) < 0) {
                    isValid = false;
                    errorMsg += "折扣金額不能小於零!<br />";
                }

                quotationJson.data.push(json);

            });

            if (quotationJson.data.length > 0) {
                if (isValid) {
                    let targetUrl = "@Url.Action("UpdateLotDfmQiSolution", "RequestForQuotation")";
                    let postData = {
                        "Quotations": JSON.stringify(quotationJson)
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        InitData@(itemName)();
                    } else {
                        alert(errorMsg);
                    }
                }
            }
        }

        function ReCalculate@(itemName)() {
            swal.fire({
                titleText: "此單據輸入之報價內容，皆會【清空】，確認執行報價重計嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("TxQuotationCalculation", "DfmInformation")";
                    let postData = {
                        "DfmId": $("#DfmId@(itemName)").val()
                    };
                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        InitData@(itemName)();
                    } else {
                        alert(errorMsg);
                    }
                }
            });
        }

        function Close@(itemName)() {
            $("#readStatus").val("N");
            $("#modal@(itemName)").modal('hide');
        }
</script>
)