
@using Business_Manager.Helpers
@{
    string itemName = "OutsourcingProduction";
    string itemNameText = "託外生產資料管理";
    string authority = ViewBag.authority;
    string RequestOspNo = Request["OspNo"] ?? "";


    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
         .help-block {
             display: none;
             margin: 5px 0 0;
             border: 3px dashed #b1b1b1;
             border-radius: 5px;
             padding: 5px 10px;
         }

         dt {
             float: left;
             clear: left;
             width: 110px;
         }

             dt::after {
                 content: "：";
             }

         dd {
             margin: 0 0 0 80px;
             padding: 0;
             color: #36a2f5;
             font-weight: bold;
         }
    </style>
                                                                        )

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

<!--搜尋-->
<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">託外生產單號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtOspNoQ@(itemName)" name="txtOspNoQ@(itemName)"
                                       placeholder="請輸入託外生產單號">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">ERP製令單號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtWoErpFullNoQ@(itemName)" name="txtWoErpFullNoQ@(itemName)"
                                       placeholder="請輸入ERP製令單號">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">品號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMtlItemNoQ@(itemName)" name="txtMtlItemNoQ@(itemName)"
                                       placeholder="請輸入品號">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">權責部門</label>
                            <div class="col-12">
                                <select class="form-control" id="cboDepartmentIdQ@(itemName)" name="cboDepartmentIdQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">供應商</label>
                            <div class="col-12">
                                <select class="form-control" id="cboSupplierIdQ@(itemName)" name="cboSupplierIdQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">供料狀態</label>
                            <div class="col-12">
                                <select class="form-control" id="cboOspStatusQ@(itemName)" name="cboOspStatusQ@(itemName)">
                                    <option value="">請選擇</option>
                                    <option value="Y">供料</option>
                                    <option value="N">不供料</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">確認狀態</label>
                            <div class="col-12">
                                <select class="form-control" id="cboStatusQ@(itemName)" name="cboStatusQ@(itemName)">
                                    <option value="">請選擇</option>
                                    <option value="Y">已確認</option>
                                    <option value="N">未確認</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">託外生產日期</label>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtOspStartDateQ@(itemName)" name="txtOspStartDateQ@(itemName)"
                                       placeholder="請輸入託外生產日期"
                                       data-msg-required="請輸入託外生產日期"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))" />
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtOspEndDateQ@(itemName)" name="txtOspEndDateQ@(itemName)"
                                       placeholder="請輸入託外生產日期"
                                       data-msg-required="請輸入託外生產日期"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<!--列印彈窗-->
<div class="modal fade" id="modalPrint@(itemName)">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">托外流程卡列印</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="BarcodePrintForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboBarcodePrintQ@(itemName)">是否要列印產品條碼</label>
                            <div class="col-12">
                                <select class="form-control" id="cboBarcodePrintQ@(itemName)" name="cboBarcodePrintQ@(itemName)"
                                        data-msg-required="請選擇是否要列印產品條碼" data-rule-required="true"></select>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="modalPrintButton" class="btn btn-primary" onclick="Print@(itemName)('','Y','Y')" style="margin: auto;"><i class="fas fa-sync-alt"></i>列印</button>
            </div>
        </div>
    </div>
</div>

<!--列表-->
<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);"><i class="fal fa-search"></i>搜尋</a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        @*<a class="btn btn-info batchShow" href="javascript:Batch@(itemName)();">批量操作</a>*@
                        @*<a class="btn btn-warning CancelBatchShow" href="javascript:CancelBatch@(itemName)();">操作取消</a>*@
                        <a class="btn btn-info auth-add" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th class="text-center col-sticky" scope="col" style="max-width: 110px;">
                                            <label class="col-12 col-form-label ">
                                                全選 <input type="checkbox" id="cbxSelectAll@(itemName)" />
                                            </label>
                                        </th>
                                        <th scope="col" style="max-width: 200px;">所屬部門</th>
                                        <th scope="col" style="max-width: 200px;">託外生產單號</th>
                                        <th scope="col" style="max-width: 200px;">供應商</th>
                                        <th scope="col" style="max-width: 150px;">供料狀態</th>
                                        <th scope="col" style="max-width: 200px;">描述</th>
                                        <th scope="col" style="max-width: 150px;">單據狀態</th>
                                        <th scope="col" style="max-width: 200px;">託外生產日期</th>
                                        <th class="text-center" scope="col" style="max-width: 250px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--新增/編輯-->
<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="OspId" name="OspId" value="-1" />
                        <div class="row">
                            <div class="col-lg-12 col-md-12 ">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtOspNo@(itemName)">託外生產單單號<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <input type="text" class="form-control" id="txtOspNo@(itemName)" name="txtOspNo@(itemName)"
                                               value=""
                                               placeholder="由系統自動產生"
                                               readonly />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="cboDepartmentId@(itemName)">所屬權責部門<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select class="form-control" id="cboDepartmentId@(itemName)" name="cboDepartmentId@(itemName)" required></select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="cboSupplierId@(itemName)">供應商</label>
                                    <div class="col-12">
                                        <select class="form-control" id="cboSupplierId@(itemName)" name="cboSupplierId@(itemName)" required></select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 ">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtOspDate@(itemName)">託外生產日期<span class="text-danger">*</span></label>
                                    <div class="col-12 osp-date">
                                        <input type="text" class="form-control" id="txtOspDate@(itemName)" name="txtOspDate@(itemName)"
                                               placeholder="請輸入託外生產日期"
                                               data-msg-required="請輸入託外生產日期" data-rule-required="true"
                                               data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 ">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="cboOspStatus@(itemName)">供料狀態<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select class="form-control" id="cboOspStatus@(itemName)" name="cboOspStatus@(itemName)" required>
                                            <option value="Y" selected>供料</option>
                                            <option value="N">不供料</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 ">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtOspDesc@(itemName)">描述</label>
                                    <div class="col-12">
                                        <textarea class="form-control" id="txtOspDesc@(itemName)" name="txtOspDesc@(itemName)" rows="2"
                                                  placeholder="請輸入描述"
                                                  data-msg-required="請輸入描述"
                                                  data-msg-maxlength="必須少於 100 個字元" maxlength="100"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

<!--其他分頁-->
<div class="advanced-block">
    <div class="row">
        <div class="col-12">
            <ul class="nav flag-tabs nav-fill" role="tablist">
                <li class="flag-item">
                    <a class="flag-link  active" data-toggle="tab" href="#tabOspDetail">
                        <i class="fas fa-sliders-h"></i> 設定託外生產單詳細資料
                    </a>
                </li>
                <li class="flag-item auth-batch">
                    <a class="flag-link " data-toggle="tab" href="#tabOspDetailExcel">
                        <i class="fas fa-sliders-h"></i> 設定託外生產單詳細資料(Excel)
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane active" id="tabOspDetail">
            @Html.Partial("OspDetail")
        </div>
        <div class="tab-pane " id="tabOspDetailExcel">
            @Html.Partial("OspDetailExcel")
        </div>
    </div>
</div>



@Html.Resource("js",
    @<script>
        let Status
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        $(document).ready(function () {
            if (!isMobile) {
                $("#cboDepartmentIdQ@(itemName)").select2({
                    width: "100%"
                });
                $("#cboSupplierIdQ@(itemName)").select2({
                    width: "100%"
                });
            }

            let RequestOspNo = "@RequestOspNo";
            if (RequestOspNo) {
                $("#txtOspNoQ@(itemName)").val(RequestOspNo);
            }

            GetUserInfo@(itemName)();

            //部門資料
            ComboBoxs.Default("#cboDepartmentIdQ@(itemName)", "@Url.Action("GetDepartment", "BasicInformation")", { "Status": "A", "CompanyId": companyId@(itemName) }, "", "NA", "", "DepartmentWithNo", "DepartmentId");

            //供應商資料
            ComboBoxs.Default("#cboSupplierIdQ@(itemName)", "@Url.Action("GetSupplier", "ScmBasicInformation")", { "PermitStatus": "1" }, "", "NA", "", "SupplierWithNo", "SupplierId");

            Suites.DateDropper("#txtOspStartDateQ@(itemName), #txtOspEndDateQ@(itemName)");
            let currentDate = new Date();
            Suites.SetDateDropper("#txtOspEndDateQ@(itemName)", currentDate);
            currentDate.setDate(currentDate.getDate() - 90);
            Suites.SetDateDropper("#txtOspStartDateQ@(itemName)", currentDate);

            $(".advanced-block a[data-toggle='tab']").on("shown.bs.tab", function (e) {
                InitParameter@(itemName)($(this));
            });
            $("#cboStatusQ@(itemName)").change(function () {
                $(".Confirm").hide()
                $(".ReConfirm").hide()
                if ($(".CancelBatchShow").is(':visible')) {
                    let StatusQ = $("#cboStatusQ@(itemName)").val()
                    switch (StatusQ) {
                        case "Y":
                            $(".ReConfirm").show()
                            break
                        case "N":
                            $(".Confirm").show()
                            break
                        default:
                           // CancelBatch@(itemName)()
                            $(".batchShow").show()
                            $(".CancelBatchShow").hide()
                            break
                    }
                }


            })

            $("#cbxSelectAll@(itemName)").prop("checked", false);

            $("#cbxSelectAll@(itemName)").off("click").on("click", function () {
                const isChecked = $(this).is(":checked");
                const $checkboxes = $("input[type='checkbox'][data-osp-id]").not(":disabled");

                $checkboxes.prop("checked", isChecked);
            });

            Query@(itemName)();

            $(".batchShow").show()
            $(".CancelBatchShow").hide()
        });

        function GetUserInfo@(itemName)() {
            pageAuthoritys@(itemName) = JSON.parse($(`#pageAuthority`).val());

            let targetUrl = "@Url.Action("GetLoginByKey", "User")";
            let postData = {
                "UserNo": $.cookie("Login"),
                "KeyText": $.cookie("LoginKey")
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                userId@(itemName) = data.returnData.UserId;
                companyId@(itemName) = data.returnData.CompanyId;
                companyName@(itemName) = data.returnData.CompanyName;
            } else {
                alert(data.msg, "alert", 0);
            }
        }

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;
            let targetUrl = "@Url.Action("GetOutsourcingProduction", "OutsourcingProduction")";

            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "OspNo": $("#txtOspNoQ@(itemName)").val(),
                "DepartmentId": $("#cboDepartmentIdQ@(itemName)").val(),
                "SupplierId": $("#cboSupplierIdQ@(itemName)").val(),
                "OspStatus": $("#cboOspStatusQ@(itemName)").val(),
                "Status": $("#cboStatusQ@(itemName)").val(),
                "OspStartDate": $("#txtOspStartDateQ@(itemName)").val(),
                "OspEndDate": $("#txtOspEndDateQ@(itemName)").val(),
                "WoErpFullNo": $("#txtWoErpFullNoQ@(itemName)").val(),
                "MtlItemNo": $("#txtMtlItemNoQ@(itemName)").val()
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;
                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);
                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";
                        innerHtml += `<tr>
                                        <td class="text-center col-sticky">
                                          <label class="control control-solid control-solid-info control--checkbox">
                                              ${_row} <input type="checkbox" data-osp-id="${item.OspId}" value="${item.OspId}" />
                                              <span class="control__indicator"></span>
                                          </label>
                                        </td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DepartmentNo} ${item.DepartmentName}" style="max-width: 200px">${item.DepartmentNo} ${item.DepartmentName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.OspNo}" style="max-width: 200px;">${item.OspNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.SupplierNo} ${item.SupplierName}" style="max-width: 200px;">${item.SupplierNo} ${item.SupplierName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.OspStatus == `Y` ? `是` : `否`}" style="min-width: 150px;">${item.OspStatus == `Y` ? `是` : `否`}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.OspDesc}" style="max-width: 200px; min-width: 100px;">${item.OspDesc}</td>
                                        ${initStatus(`${item.Status}`)}
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.OspDate}" style="max-width: 200px; min-width: 120px;">${item.OspDate}</td>
                                        <td class="text-center active-content" style="min-width: 350px;">
                                            <a class="active-link auth-update" href="javascript:Edit@(itemName)('${item.OspId}');"><i class="fas fa-edit"></i></a>
                                            <a class="active-link auth-delete" href="javascript:Delete@(itemName)('${item.OspId}');"><i class="fas fa-trash-alt"></i></a>
                                            ${JudgeStatus(`${item.Status}`, `${item.OspId}`)}
                                            <a class="active-link auth-print" href="javascript:Print@(itemName)('${item.OspId}','${item.PassStationControl}','N');"><i class="fas fa-print"></i><span>列印</span></a>
                                            ${item.Status == `N` || item.Status == `E` ? `<a class="active-link auth-transfer" href="javascript:TrasferBpm@(itemName)('${item.OspId}');"><i class="fas fa-exchange-alt"></i> 拋轉BPM簽核` : ``}
                                            ${item.Status == `E` || item.Status == `Y` ? `<a class="active-link auth-transfer" href="javascript:Void@(itemName)('${item.OspId}');"><i class="fas fa-exclamation-circle"></i> 單據作廢` : ``}
                                        </td>
                                      </tr>`;
                    });

                    function initStatus(status) {
                        let innerHtml = '';
                        switch (status) {
                            case "Y":
                                innerHtml += `<td class="ellipsis" data-toggle="tooltip" title="已確認" style="max-width: 200px; min-width: 100px;"><i style="color: green;" class="fas fa-check-circle"></i> 已確認</td>`;
                                break;
                            case "N":
                                innerHtml += `<td class="ellipsis" data-toggle="tooltip" title="未確認" style="max-width: 200px; min-width: 100px;"><i style="color: red;" class="fas fa-exclamation-circle"></i> 未確認</td>`;
                                break;
                            case "P":
                                innerHtml += `<td class="ellipsis" data-toggle="tooltip" title="BPM簽核中" style="max-width: 200px; min-width: 100px;"><i style="color: #a747a3;" class="fas fa-file-signature"></i> BPM簽核中</td>`;
                                break;
                            case "E":
                                innerHtml += `<td class="ellipsis" data-toggle="tooltip" title="BPM駁回修改" style="max-width: 200px; min-width: 100px;"><i style="color: #509aa7;" class="fas fa-user-edit"></i> BPM駁回修改</td>`;
                                break;
                            case "V":
                                innerHtml += `<td class="ellipsis" data-toggle="tooltip" title="單據作廢" style="max-width: 200px; min-width: 100px;"><i style="color: #aeb4b5;" class="fas fa-exclamation-triangle"></i> 單據作廢</td>`;
                                break;
                        }

                        return innerHtml;
                    }

                    function JudgeStatus(status, ospId) {
                        let innerHtml = '';
                        if (status == "N") {
                            innerHtml += `<a class="active-link auth-confirm" href="javascript:Confirm@(itemName)('${ospId}');"><i class="fas fa-check"> 確認</i></a>`;
                        }
                        else if (status == "Y") {
                            innerHtml += `<a class="active-link auth-reconfirm" href="javascript:ReConfirm@(itemName)('${ospId}');"><i class="fas fa-undo-alt"> 反確認</i></a>`;
                        }
                        return innerHtml;
                    }
                }
                else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="9" style="background-color: #fff3cd;">
                                        <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            }
            else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            if ($(".batchShow").is(':visible')) {
            }
            $(".CancelBatchShow").hide()


            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));
        }

        function Edit@(itemName)(OspId) {
            $("#OspId").val(OspId ? OspId : 0);
            $("#cboDepartmentId@(itemName)").attr("disabled", false);
            $("#cboSupplierId@(itemName)").attr("disabled", false); 
            $("#txtOspDate@(itemName)").prop("readonly", false);
            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");

            Suites.DateDropper("#txtOspDate@(itemName)");
            let currentDate = new Date();
            Suites.SetDateDropper("#txtOspDate@(itemName)", currentDate);
            $("#txtOspDate@(itemName)").val($("#txtOspDate@(itemName)").val());

            if (!isMobile) {
                $("#cboDepartmentId@(itemName)").select2({
                    width: "100%"
                });
                $("#cboSupplierId@(itemName)").select2({
                    width: "100%"
                });
            }

            //部門資料
            ComboBoxs.Default("#cboDepartmentId@(itemName)", "@Url.Action("GetDepartment", "BasicInformation")", { "Status": "A", "CompanyId": companyId@(itemName) }, "", "NA", "", "DepartmentWithNo", "DepartmentId");

            //供應商資料
            ComboBoxs.Default("#cboSupplierId@(itemName)", "@Url.Action("GetSupplier", "ScmBasicInformation")", { "PermitStatus": "1" }, "", "NA", "", "SupplierWithNo", "SupplierId");

            if (OspId > 0) {
                $("#cboDepartmentId@(itemName)").attr("disabled", true);
                $("#cboSupplierId@(itemName)").attr("disabled", true);
                $(".osp-date").empty();
                $(".osp-date").append(`<input type="text" class="form-control" id="txtOspDate@(itemName)" name="txtOspDate@(itemName)"
                                            placeholder="請輸入託外生產日期"
                                            data-msg-required="請輸入託外生產日期" data-rule-required="true" />`);
                $("#txtOspDate@(itemName)").prop("readonly", true);
                let targetUrl = "@Url.Action("GetOutsourcingProduction", "OutsourcingProduction")";
                let postData = {
                    "OspId": OspId
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        $("#txtOspNo@(itemName)").val(item.OspNo);
                        $("#cboDepartmentId@(itemName)").val(item.DepartmentId);
                        $("#cboSupplierId@(itemName)").val(item.SupplierId);
                        $("#txtOspDate@(itemName)").val(item.OspDate);
                        $("#txtOspStatus@(itemName)").val(item.OspStatus);
                        $("#txtOspDesc@(itemName)").val(item.OspDesc);
                        Status = item.Status

                        let supplierNo = $("#cboSupplierId@(itemName) option:selected").text();
                        InitParameter@(itemName)()
                    });
                } else {
                    alert(data.msg, "alert", 0);
                }
            }
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let OspId = parseInt($("#OspId").val());

                if (OspId <= 0) {
                    let targetUrl = "@Url.Action("AddOutsourcingProduction", "OutsourcingProduction")";
                    let postData = {
                        "DepartmentId": $("#cboDepartmentId@(itemName)").val(),
                        "SupplierId": $("#cboSupplierId@(itemName)").val(),
                        "OspDate": $("#txtOspDate@(itemName)").val(),
                        "OspStatus": $("#cboOspStatus@(itemName)").val(),
                        "OspDesc": $("#txtOspDesc@(itemName)").val(),
                        "Status": "N",
                    };

                    let data = DataAccess.EditContinued(targetUrl, postData, false);

                    if (data) {
                        let ospId;
                        let ospNo;
                        $.each(data.result, function (i, item) {
                            ospId = item.OspId;
                            ospNo = item.OspNo;
                        });
                        let requesitionNo = $("#txtRequesitionNo@(itemName)").val();
                        let supplierNo = $("#cboSupplierId@(itemName) option:selected").text();
                        ExpandOspDetail(ospId, supplierNo);
                        $("#OspId").val(ospId);

                        $("#txtOspNo@(itemName)").val(ospNo);

                        $("#cboDepartmentId@(itemName)").attr("disabled", true);
                        $("#cboSupplierId@(itemName)").attr("disabled", true);
                        let currentDate = $("#txtOspDate@(itemName)").val();
                        $(".osp-date").empty();
                        $(".osp-date").append(`<input type="text" class="form-control" id="txtOspDate@(itemName)" name="txtOspDate@(itemName)"
                                                    placeholder="請輸入託外生產日期"
                                                    data-msg-required="請輸入託外生產日期" data-rule-required="true"
                                                    value="${currentDate}"/>`);
                        $("#txtOspDate@(itemName)").prop("readonly", true);
                    }
                } else {
                    let targetUrl = "@Url.Action("UpdateOutsourcingProduction", "OutsourcingProduction")";
                    let postData = {
                        "OspId": OspId,
                        "OspNo": $("#txtOspNo@(itemName)").val(),
                        "DepartmentId": $("#cboDepartmentId@(itemName)").val(),
                        "SupplierId": $("#cboSupplierId@(itemName)").val(),
                        "OspDate": $("#txtOspDate@(itemName)").val(),
                        "OspStatus": $("#cboOspStatus@(itemName)").val(),
                        "OspDesc": $("#txtOspDesc@(itemName)").val(),
                        "Status": "N",
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        ReturnOspDetail();
                    }
                }
            }
        }

        function Delete@(itemName)(ospId) {
            swal.fire({
                titleText: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteOutsourcingProduction", "OutsourcingProduction")";
                    let postData = {
                        "OspId": ospId
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function Confirm@(itemName)(OspId) {
            swal.fire({
                titleText: "確認託外生產單?",
                text: "是否要確認此託外生產單!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("UpdateOspConfirm", "OutsourcingProduction")";
                    let postData = {
                        "OspId": OspId
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function ConfirmBatch@(itemName)() {
            swal.fire({
                titleText: "確認託外生產單?",
                text: "是否要確認此託外生產單!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("UpdateOspConfirmBatch", "OutsourcingProduction")";
                    let postData = {
                        "OspId": OspId
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function ReConfirm@(itemName)(OspId) {
            swal.fire({
                titleText: "反確認託外生產單?",
                text: "是否要反確認託外生產單!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("UpdateOspReConfirm", "OutsourcingProduction")";
                    let postData = {
                        "OspId": OspId
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function Action@(itemName)(Type) {
            let OspIdList = []
            $.each($("input[name='cbxOspId@(itemName)']"), function () {
                if ($(this).is(":checked")) {
                    //只需要改動要傳入的物件相關值即可套用
                    Key = $(this).data("key");
                    if (Key) {
                        OspIdList.push(Key)
                    }
                }
            })
            if (OspIdList.length <= 0) {
                alert("至少需勾選一筆資料才能執行儲存", "alert", 0);
                return
            }

            let titleText = ""
            let text = ""
            let targetUrl = "";
            let postData = {
                "OspIdList": OspIdList.join(",")
            };
            switch (Type) {
                case "Delete":
                    titleText = "是否執行單據批量刪除"
                    text = "該動作無法復原,請確認是否要執行!"
                    targetUrl = "@Url.Action("DeleteOspBatch", "OutsourcingProduction")";
                    break;
                case "Confirm":
                    titleText = "是否執行單據批量確認"
                    text = "請確認是否要執行!"
                    targetUrl = "@Url.Action("UpdateOspConfirmBatch", "OutsourcingProduction")";
                    break;
                case "ReConfirm":
                    titleText = "是否執行單據批量反確認"
                    text = "請確認是否要執行!"
                    targetUrl = "@Url.Action("UpdateOspReConfirmBatch", "OutsourcingProduction")";
                    break;
            }

            swal.fire({
                titleText: `${titleText}`,
                text: `${text}`,
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let result = DataAccess.Update(targetUrl, postData, false, true);
                    if (result) {
                        //$(".batchShow").show()
                        //$(".CancelBatchShow").hide()
                        $("#cboStatusQ@(itemName)").val("").trigger('change')

                        Return@(itemName)()
                    }
                }
            });
        }

        function Batch@(itemName)() {
            
            $("#cboStatusQ@(itemName)").val("N").trigger('change');
            Query@(itemName)()
            $(".batchShow").hide()
            $(".CancelBatchShow").show()
            $(".Confirm").show()
        }
        function CancelBatch@(itemName)() {
            
            $("#cboStatusQ@(itemName)").val("").trigger('change');
            Query@(itemName)()
            $(".batchShow").show()
            $(".CancelBatchShow").hide()
        }


        function Return@(itemName)() {
            Switch("#listData@(itemName)", "#editData@(itemName), .unit-block, .advanced-block");
            ResetForm(objForm@(itemName));
            $(".advanced-block a[data-toggle='tab']").removeClass("active")
            $(".tab-content .tab-pane").removeClass("active")
            $(".advanced-block a[data-toggle='tab']:first").addClass("active")
            $(".tab-content .tab-pane:first").addClass("active")
            Status = ""
            
            Query@(itemName)();
            $(".batchShow").hide()
            $(".CancelBatchShow").hide()

        }

        function Print@(itemName)(OspId, PassStationControl, OpentStatus) {
            if (PassStationControl == "Y") {
                if (OpentStatus == "N") {
                    ComboBoxs.Default("#cboBarcodePrintQ@(itemName)", "@Url.Action("GetStatus", "BasicInformation")", { "StatusSchema": "Boolean" }, "Y", "NA", "", "StatusName", "StatusNo");  //是否要過站

                    if (!isMobile) {
                        $("#cboBarcodePrintQ@(itemName)").select2({
                            width: "100%"
                        });
                    }
                    $("#modalPrint@(itemName)").modal("show")
                    $("#modalPrintButton").attr("onclick", `Print@(itemName)(${OspId}, 'Y', 'Y')`);
                }
                else if (OpentStatus == "Y") {
                    let targetUrl = "@Url.Action("GetOspCardPdf", "OutsourcingProduction")";
                    let postData = {
                        "OspId": OspId,
                        "BarcodeStatus":$("#cboBarcodePrintQ@(itemName)").val()
                    };

                    FileAccess.AjaxDownload(targetUrl, postData, false);
                }
            }
            else if (PassStationControl == "N") {
                let targetUrl = "@Url.Action("GetOspCardPdf", "OutsourcingProduction")";
                let postData = {
                    "OspId": OspId
                };

                FileAccess.AjaxDownload(targetUrl, postData, false);
            }
        }

        function InitParameter@(itemName)(selector) {
            let content 
            let OspId = parseInt($("#OspId").val());
            
            let supplierNo = $("#cboSupplierId@(itemName) option:selected").text();

            let initFnString = "Expand";
            if (!!selector) {
                content = selector.attr("href").split('#tab')[1];
            }
            else {
                content = "OspDetail"
            }
            switch (content) {
                case "OspDetail":
                    initFnString += "OspDetail";
                    break;
                case "OspDetailExcel":
                    initFnString += "OspDetailExcel";
                    break;
            }

            let initFn = window[initFnString];
            if (initFn && typeof (initFn) == "function") {
                initFn(OspId, supplierNo);
            }
        }

        function TrasferBpm@(itemName)(OspId) {
            swal.fire({
                titleText: "確認要進行BPM拋轉嗎?",
                text: "此動作會將勾選的託外單(包括目前這張)進行拋轉!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let ospIds = [];
                    $("input[data-osp-id]:checked").each(function () {
                        ospIds.push($(this).data("osp-id"));
                    });

                    if (ospIds.indexOf(parseInt(OspId)) == -1) {
                        ospIds.push(parseInt(OspId));
                    }

                    let targetUrl = "@Url.Action("TransferOspToBpm", "OutsourcingProduction")";
                    let postData = {
                        "OspIds": ospIds.toString()
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        InitData@(itemName)(objPage@(itemName));
                    }
                }
            });
        }

        function Void@(itemName)(OspId) {
            swal.fire({
                titleText: "確認要進行單據作廢嗎?",
                text: "此動作會將此張單據作廢，並將註冊條碼刪除!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("UpdateOspVoid", "OutsourcingProduction")";
                    let postData = {
                        "OspId": OspId
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        InitData@(itemName)(objPage@(itemName));
                    }
                }
            });
        }
    </script>
                                )