@using Business_Manager.Helpers
@{
    string itemName = "ViewOspBarcode";
    string itemNameText = "查看託外生產條碼資料";
}

@Html.Resource("css",
    @<style>
    </style>
                                        )

<div class="modal fade" id="modal@(itemName)">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    @(itemNameText)
                    <span class="sub-title">託外生產單單號: <span class="sub-text" id="desOspNo@(itemName)"></span></span>
                    <span class="sub-title">製令: <span class="sub-text" id="desWoErpFullNo@(itemName)"></span></span>
                    <span class="sub-title">委託加工站別: <span class="sub-text" id="desMoProcessName@(itemName)"></span></span>
                </h5>
                <a class="close list-mode" href="javascript:void(0);" onclick="Close@(itemName)()"><i class="fas fa-times"></i></a>
            </div>
            <div class="modal-body">
                <div class="row" id="listData@(itemName)">
                    <div class="col-12">
                        <form autocomplete="off" id="queryForm@(itemName)">
                            <fieldset>
                                <div class="form-row align-items-center mb-2">
                                    <div class="col-auto">
                                        <input type="text" class="form-control" id="txtBarcodeNo@(itemName)" name="txtBarcodeNo@(itemName)"
                                               placeholder="請輸入託外生產條碼" />
                                    </div>
                                    <div class="col-auto">
                                        <a class="btn btn-info auth-update" href="javascript:Edit@(itemName)();">
                                            <i class="fas fa-plus"></i>新增條碼
                                        </a>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" class="text-center checkbox-mode">
                                            <label class="col-12 col-form-label">
                                                # 全選 <input type="checkbox" id="cbxSelectAll@(itemName)" checked />
                                            </label>
                                        </th>
                                        <th scope="col" style="min-width: 200px;">條碼代碼</th>
                                        <th scope="col" style="min-width: 200px;">托外狀態</th>
                                        <th scope="col" style="min-width: 200px;">目前製程</th>
                                        <th scope="col" style="min-width: 200px;">下一站製程</th>
                                        <th scope="col" style="min-width: 200px;">條碼數量</th>
                                        <th scope="col" style="min-width: 200px;">在製狀態</th>
                                        <th scope="col" style="min-width: 200px;">條碼狀態</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="justify-content: flex-end;">
                <button type="button" class="btn btn-secondary" onclick="Delete@(itemName)()">
                    <i class="fas fa-trash-alt"></i>刪除託外條碼
                </button>
            </div>
        </div>
    </div>
</div>

<!--新增條碼-->
<div class="modal fade" id="modalOspBarcode@(itemName)" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    新增託外生產條碼
                </h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row" id="listOspBarcodeData@(itemName)">
                    <div class="col-12">
                        <div class="card card-shadow mb-4">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="table-custom">
                                            <table class="table table-bordered table-striped table-sticky" id="tblOspBarcodeData@(itemName)">
                                                <thead>
                                                    <tr>
                                                        <th scope="col" class="text-center checkbox-mode">
                                                            <label class="col-12 col-form-label">
                                                                # 全選 <input type="checkbox" id="cbxSelectAll2@(itemName)" checked />
                                                            </label>
                                                        </th>
                                                        <th scope="col" style="min-width: 200px;">條碼代碼</th>
                                                        <th scope="col" style="min-width: 200px;">托外狀態</th>
                                                        <th scope="col" style="min-width: 200px;">目前製程</th>
                                                        <th scope="col" style="min-width: 200px;">下一站製程</th>
                                                        <th scope="col" style="min-width: 200px;">條碼數量</th>
                                                        <th scope="col" style="min-width: 200px;">在製狀態</th>
                                                        <th scope="col" style="min-width: 200px;">條碼狀態</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                        <div class="pagination" id="page@(itemName)"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success submit-style" onclick="Save@(itemName)()" style="float: right;">
                    <i class="fas fa-arrow-to-top"></i>上傳託外條碼
                </button>
            </div>
        </div>
    </div>
</div>
<!--新增條碼-->

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 999
        };
        let objForm@(itemName) = "#editForm@(itemName)";
        let ospDetailId@(itemName);
        let moProcessId@(itemName);
        let moId@(itemName);

        let barcodeNoList@(itemName) = [];
        let ospbarcodeIdList@(itemName) = [];

        function Pop@(itemName)(config)
        {
            ospDetailId@(itemName) = config.objectOspDetailId;
            moProcessId@(itemName) = config.objectMoProcessId;
            //moId@(itemName) = config.objectMoId;
            moId@(itemName) = $("#txtMoIdOspDetail").val();
            $("#desOspNo@(itemName)").html(config.objectOspNo);
            $("#desWoErpFullNo@(itemName)").html(config.objectWoErpFullNo);
            $("#desMoProcessName@(itemName)").html(config.objectProcessName);

            if (parseInt(ospDetailId@(itemName)) <= 0) {
                alert("請先建立託外生產詳細資料!")
                return false;
            }

            Query@(itemName)();

            $("#modal@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });
        }

        $(function () {
            $("#cbxSelectAll@(itemName)").off("click").on("click", function () {
                if ($("#cbxSelectAll@(itemName)").is(":checked")) {
                    $("input[type='checkbox'][data-barcode-no][data-barcode-type='delete']").not(":disabled").prop("checked", true);
                } else {
                    $("input[type='checkbox'][data-barcode-no][data-barcode-type='delete']").not(":disabled").prop("checked", false);
                }
            });

            $("#cbxSelectAll2@(itemName)").off("click").on("click", function () {
                if ($("#cbxSelectAll2@(itemName)").is(":checked")) {
                    $("input[type='checkbox'][data-barcode-no][data-barcode-type='add']").not(":disabled").prop("checked", true);
                } else {
                    $("input[type='checkbox'][data-barcode-no][data-barcode-type='add']").not(":disabled").prop("checked", false);
                }
            });
        })

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let targetUrl = "@Url.Action("GetOspBarcode", "OutsourcingProduction")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "OspDetailId": ospDetailId@(itemName),
                "MoProcessId": moProcessId@(itemName),
                "MoId": moId@(itemName)
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);
                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";
                        innerHtml += `<tr>
                                        <td class="text-center" style="max-width: 150px; min-width: 135px;">
                                            <label class="control control-solid control-solid-info control--checkbox">
                                                ${_row} <input type="checkbox" data-barcode-no="${item.BarcodeNo}" data-osp-barcode-id=${item.OspBarcodeId} data-barcode-type="delete" value="${item.BarcodeId}" checked />
                                                <span class="control__indicator"></span>
                                            </label>
                                        </td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.BarcodeNo}" style="min-width: 110px;">${item.BarcodeNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.OspBarcodeId != null ? `已綁定` : `未綁定`}" style="min-width: 110px;">${item.OspBarcodeId != null ? `已綁定` : `未綁定`}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.CurrentProcessAlias}" style="min-width: 110px;">${item.CurrentProcessAlias}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.NextProcessAlias}" style="min-width: 110px;">${item.NextProcessAlias}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.BarcodeQty}" style="min-width: 110px;">${item.BarcodeQty}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.StatusName}" style="min-width: 110px;">${item.StatusName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.TypeName}" style="min-width: 110px;">${item.TypeName}</td>
                                      </tr>`;
                    });

                    function JudgeBarcodeStatus@(itemName)(ospBarcodeId, nextMoProcessId, currentProdStatus) {
                        let innerHtml = '';
                        if (ospBarcodeId == "null" || nextMoProcessId != moProcessId@(itemName) || currentProdStatus != `P`) {
                            innerHtml += `<a class="active-link auth-delete active-disable" href="javascript: void(0));">
                                            <i class="fas fa-trash-alt"></i>
                                          </a>`;
                        }
                        else {
                            innerHtml += `<a class="active-link auth-delete" href="javascript:Delete@(itemName)('${ospBarcodeId}');">
                                            <i class="fas fa-trash-alt"></i>
                                          </a>`;
                        }
                        return innerHtml;
                    }
                }
                else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="8" style="background-color: #fff3cd;">
                                        <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);

            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));
        }

        $("#txtBarcodeNo@(itemName)").keydown(function (event) {
            let barcodeNo = $("#txtBarcodeNo@(itemName)").val();
            if (event.keyCode == 13) {
                let checkDisabled = $(`input[type="checkbox"][data-barcode-no=${barcodeNo}]`).prop("disabled");
                if (checkDisabled == false) {
                    $(`input[type="checkbox"][data-barcode-no=${barcodeNo}]`).prop("checked", true);
                }
                else {
                    alert("此條碼狀態無法勾選!");
                }
                $("#txtBarcodeNo@(itemName)").val("");
            }
        });

        $("#queryForm@(itemName)").keydown(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });

        function Edit@(itemName)() {
            let targetUrl = "@Url.Action("GetBarcode", "OutsourcingProduction")";
            let postData = {
                "MoId": moId@(itemName),
                "OspDetailId": ospDetailId@(itemName),
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            let innerHtml = "";
            if (data.status == "success") {
                pageCount = data.result.length;

                if (pageCount > 0) {
                    $.each(data.result, function (i, item) {
                        innerHtml += `<tr>
                                        <td class="text-center" style="max-width: 150px; min-width: 135px;">
                                            <label class="control control-solid control-solid-info control--checkbox">
                                                ${i+1}. <input type="checkbox" data-barcode-no="${item.BarcodeNo}" data-osp-barcode-id=${item.OspBarcodeId} data-barcode-type="add" value="${item.BarcodeId}" ${(item.CurrentProdStatus != `P` && item.CurrentProdStatus != `M` && item.CurrentProdStatus != `R`) ? `disabled` : ``} checked />
                                                <span class="control__indicator"></span>
                                            </label>
                                        </td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.BarcodeNo}">${item.BarcodeNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.OspBarcodeId != null ? `已綁定` : `未綁定`}">${item.OspBarcodeId != null ? `已綁定` : `未綁定`}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.CurrentProcessAlias}">${item.CurrentProcessAlias}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.NextProcessAlias}">${item.NextProcessAlias}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.BarcodeQty}">${item.BarcodeQty}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.StatusName}">${item.StatusName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.TypeName}">${item.TypeName}</td>
                                      </tr>`;
                    });
                }
                else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="8" style="background-color: #fff3cd;">
                                        <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblOspBarcodeData@(itemName) tbody").html(innerHtml);

            TableComponentInit();
            $("#modalOspBarcode@(itemName)").modal("show");
        }

        function Save@(itemName)() {
            barcodeNoList@(itemName) = [];
            $.each($("input[type='checkbox'][data-barcode-no][data-barcode-type='add']:checked"), function (i) {
                let barcodeNo = $(this).data("barcode-no");
                barcodeNoList@(itemName).push(barcodeNo);
            });

            let targetUrl = "@Url.Action("AddOspBarcode", "OutsourcingProduction")";
            let postData = {
                "OspDetailId": ospDetailId@(itemName),
                "BarcodeNo": barcodeNoList@(itemName).toString(),
                "MoProcessId": moProcessId@(itemName)
            };

            let result = DataAccess.Add(targetUrl, postData, false, true);

            if (result) {
                $("#modalOspBarcode@(itemName)").modal("hide");
                Return@(itemName)();
                EditOspDetail(ospDetailId@(itemName));
                @*Close@(itemName)();
                Return@(itemName)();
                EditOspDetail(ospDetailId@(itemName));*@
            }
        }

        function Delete@(itemName)(OspBarcodeId) {
            swal.fire({
                titleText: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    ospbarcodeIdList@(itemName) = [];
                    $.each($("input[type='checkbox'][data-barcode-no][data-barcode-type='delete']:checked"), function (i) {
                        let ospBarcodeId = $(this).data("osp-barcode-id");
                        ospbarcodeIdList@(itemName).push(ospBarcodeId);
                    });

                    let targetUrl = "@Url.Action("DeleteOspBarcode", "OutsourcingProduction")";
                    let postData = {
                        "OspBarcodeId": ospbarcodeIdList@(itemName).toString()
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        $("#modalOspBarcode@(itemName)").modal("hide");
                        Query@(itemName)();
                        EditOspDetail(ospDetailId@(itemName));
                    }
                }
            });
        }

        function Return@(itemName)() {
            //ResetForm(objForm@(itemName));
            Switch("#listData@(itemName), .list-mode", "#editData@(itemName), .edit-mode");
            Query@(itemName)();
        }

        function Close@(itemName)() {
            $("#modal@(itemName)").modal("hide");
        }
    </script>
                                                )