@using Business_Manager.Helpers
@{
    string itemName = "GoodsReceiptManagement";
    string itemNameText = "進貨單資料管理";
    string itemModify = "GrModify";
    string authority = ViewBag.authority;

    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
         .form-group .select2-selection__rendered {
             line-height: 29px !important;
         }

         .form-group .select2-container .select2-selection--single {
             height: 39px !important;
         }

         .form-group .select2-selection__arrow {
             height: 34px !important;
         }

         .table-deposit {
             margin: 0;
             padding: 0;
             max-height: 30vh;
             margin-bottom: .75rem;
             display: none;
         }

             .table-deposit th {
                 background-color: #d7ecfa !important;
             }

             .table-deposit th, .table-deposit td {
                 padding: 5px 0;
                 text-align: center;
             }

         .active-icon {
             background-color: #d7ecfa;
             color: black;
         }
    </style>
                )

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtGrErpFullNoQ@(itemName)">ERP進貨單號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtGrErpFullNoQ@(itemName)" name="txtGrErpFullNoQ@(itemName)" placeholder="請輸入ERP進貨單號" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboSupplierIdQ@(itemName)">供應商</label>
                            <div class="col-12">
                                <select class="form-control" id="cboSupplierIdQ@(itemName)" name="cboSupplierIdQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboConfirmUserIdQ@(itemName)">核單人員</label>
                            <div class="col-12">
                                <select class="form-control" id="cboConfirmUserIdQ@(itemName)" name="cboConfirmUserIdQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtSearchKeyQ@(itemName)">品號/品名</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtSearchKeyQ@(itemName)" name="txtSearchKeyQ@(itemName)" placeholder="請輸入品號/品名" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">狀態</label>
                            <div class="col-lg-4 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    未確認
                                    <input type="checkbox" id="cbxConfirmStatusQ@(itemName)N" name="cbxConfirmStatusQ@(itemName)" value="N" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    作廢
                                    <input type="checkbox" id="cbxConfirmStatusQ@(itemName)V" name="cbxConfirmStatusQ@(itemName)" value="V" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    已確認
                                    <input type="checkbox" id="cbxConfirmStatusQ@(itemName)Y" name="cbxConfirmStatusQ@(itemName)" value="Y" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6 mt-2">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    未結案
                                    <input type="checkbox" id="cbxClosureStatusQ@(itemName)N" name="cbxClosureStatusQ@(itemName)" value="N" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6 mt-2">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    已結案
                                    <input type="checkbox" id="cbxClosureStatusQ@(itemName)Y" name="cbxClosureStatusQ@(itemName)" value="Y,y" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">單據日期 <input type="checkbox" id="cbxUseDate@(itemName)" /></label>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtStartDateQ@(itemName)" name="txtStartDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtEndDateQ@(itemName)" name="txtEndDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtPoErpFullNoQ@(itemName)">ERP採購單號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtPoErpFullNoQ@(itemName)" name="txtPoErpFullNoQ@(itemName)" placeholder="請輸入ERP採購單號" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtPrErpFullNoQ@(itemName)">ERP請購單號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtPrErpFullNoQ@(itemName)" name="txtPrErpFullNoQ@(itemName)" placeholder="請輸入ERP請購單號" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboPoUserIdQ@(itemName)">採購人員</label>
                            <div class="col-12">
                                <select class="form-control" id="cboPoUserIdQ@(itemName)" name="cboPoUserIdQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboPrUserIdQ@(itemName)">請購人員</label>
                            <div class="col-12">
                                <select class="form-control" id="cboPrUserIdQ@(itemName)" name="cboPrUserIdQ@(itemName)"></select>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);">
                            <i class="fal fa-search"></i>搜尋
                        </a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn btn-success auth-sync" href="javascript:PopSoSync@(itemName)();"><i class="fas fa-sync"></i>ERP資料同步</a>
                        <a class="btn file-excel auth-excel" href="javascript:Excel@(itemName)();"><i class="fas fa-file-excel"></i>Excel</a>
                        <a class="btn btn-info auth-add" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky tiny-table" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th scope="col" style="min-width: 165px;">單號</th>
                                        <th scope="col" style="min-width: 110px;">單據日期</th>
                                        <th scope="col" style="min-width: 175px;">供應商</th>
                                        <th scope="col" style="min-width: 150px;">核准人員</th>
                                        <th scope="col" style="min-width: 175px;">備註</th>
                                        <th class="text-center" scope="col" style="min-width: 75px;">操作</th>
                                        <th style="padding: 0; min-width: 1375px;">
                                            <table class="table table-bordered table-sm mb-0 table-non-rwd table-striped-custom table-row-detail">
                                                <thead>
                                                    <tr>
                                                        <th style="min-width: 50px;">序號</th>
                                                        <th style="min-width: 150px;">品號</th>
                                                        <th style="min-width: 175px;">品名</th>
                                                        <th style="min-width: 175px;">規格</th>
                                                        <th style="min-width: 100px;">進貨數量</th>
                                                        <th style="min-width: 100px;">進貨單位</th>
                                                        <th style="min-width: 100px;">進貨庫別</th>
                                                        <th style="min-width: 175px;">採購單號</th>
                                                        <th style="min-width: 200px;">採購人</th>
                                                        <th style="min-width: 100px;">驗收日期</th>
                                                        <th style="min-width: 100px;">驗收數量</th>
                                                        <th style="min-width: 100px;">計價數量</th>
                                                        <th style="min-width: 100px;">驗退數量</th>
                                                        <th style="min-width: 200px;">備註</th>
                                                        <th style="min-width: 200px;">請購單號</th>
                                                        <th style="min-width: 200px;">請購人</th>

                                                    </tr>
                                                </thead>
                                            </table>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="GrId" name="GrId" value="-1" />
                        <input type="hidden" id="ViewMode" name="ViewMode" value="" />
                        <div class="row">
                            <div class="col-lg-6 col-md-12 ">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="cboGrErpPrefix@(itemName)">進貨單別<span class="text-danger">*</span></label>
                                    <div class="col-12 osp-date">
                                        <select class="form-control" id="cboGrErpPrefix@(itemName)" name="cboGrErpPrefix@(itemName)" required></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 ">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtGrErpNo@(itemName)">進貨單號</label>
                                    <div class="col-12 osp-date">
                                        <input type="text" class="form-control" id="txtGrErpNo@(itemName)" name="txtGrErpNo@(itemName)"
                                               value=""
                                               placeholder="由系統自動產生"
                                               readonly />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 ">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="cboSupplierId@(itemName)">供應商<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select class="form-control" id="cboSupplierId@(itemName)" name="cboSupplierId@(itemName)" required></select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-12 ">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtDocDate@(itemName)">單據日期<span class="text-danger">*</span></label>
                                    <div class="col-12 osp-date">
                                        <input type="text" class="form-control" id="txtDocDate@(itemName)" name="txtDocDate@(itemName)" readonly />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 ">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtReceiptDate@(itemName)">進貨日期<span class="text-danger">*</span></label>
                                    <div class="col-12 osp-date">
                                        <input type="text" class="form-control" id="txtReceiptDate@(itemName)" name="txtReceiptDate@(itemName)" readonly />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 ">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtRemark@(itemName)">備註</label>
                                    <div class="col-12">
                                        <textarea class="form-control" id="txtRemark@(itemName)" name="txtRemark@(itemName)" rows="2"
                                                  placeholder="請輸入備註"
                                                  data-msg-required="請輸入備註"
                                                  data-msg-maxlength="必須少於 50 個字元" maxlength="50"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab" style="white-space:unset;">
                            <ul class="nav nav-tabs nav-fill mb-3" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="tabActive" data-toggle="tab" href="#tabTrade">
                                        <i class="fas fa-folder"></i> 交易資料
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tabInvoice">
                                        <i class="far fa-file-invoice-dollar"></i> 發票資料
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="tab-content">
                            <div class="tab-pane active" id="tabTrade">
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="cboCurrencyCode@(itemName)">幣別<span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <select class="form-control" id="cboCurrencyCode@(itemName)" name="cboCurrencyCode@(itemName)" required></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="txtExchange@(itemName)">匯率<span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <input type="number" step="any" min="0" max="99999" class="form-control" id="txtExchange@(itemName)" name="txtExchange@(itemName)"
                                                       value="1"
                                                       placeholder="請輸入匯率"
                                                       data-msg-required="請輸入匯率" data-rule-required="true" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="cboPaymentTerm@(itemName)">付款條件<span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <select class="form-control" id="cboPaymentTerm@(itemName)" name="cboPaymentTerm@(itemName)" required></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12 ">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="txtRowCnt@(itemName)">件數<span class="text-danger">*</span></label>
                                            <div class="col-12 osp-date">
                                                <input type="number" class="form-control" id="txtRowCnt@(itemName)" name="txtRowCnt@(itemName)"
                                                       value="0"
                                                       placeholder="請輸入件數"
                                                       data-msg-required="請輸入件數" data-rule-required="true" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12 col-md-12 ">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="txtContactUser@(itemName)">聯絡人</label>
                                            <div class="col-12 osp-date">
                                                <input type="text" class="form-control" id="txtContactUser@(itemName)" name="txtContactUser@(itemName)"
                                                       value=""
                                                       placeholder="請輸入聯絡人" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="tab-pane" id="tabInvoice">
                                <div class="row">
                                    <div class="col-lg-3 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="cboTaxCode@(itemName)">稅別碼<span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <select class="form-control" id="cboTaxCode@(itemName)" name="cboTaxCode@(itemName)" required></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-12 ">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="cboTaxType@(itemName)">課稅別<span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <select class="form-control" id="cboTaxType@(itemName)" name="cboTaxType@(itemName)" disabled required></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="cboInvoiceType@(itemName)">發票聯數<span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <select class="form-control" id="cboInvoiceType@(itemName)" name="cboInvoiceType@(itemName)" required disabled></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-12 ">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="txtTaxRate@(itemName)">營業稅率<span class="text-danger">*</span></label>
                                            <div class="col-12 osp-date">
                                                <input type="number" step="any" min="0" max="99999" class="form-control" id="txtTaxRate@(itemName)" name="txtTaxRate@(itemName)"
                                                       value="0.00"
                                                       placeholder="請輸入營業稅率"
                                                       data-msg-required="請輸入營業稅率" data-rule-required="true" readonly />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-3 col-md-12 ">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="txtUiNo@(itemName)">統一編號</label>
                                            <div class="col-12 osp-date">
                                                <input type="text" class="form-control" id="txtUiNo@(itemName)" name="txtUiNo@(itemName)"
                                                       value=""
                                                       placeholder="請輸入統一編號"
                                                       data-msg-maxlength="必須少於 20 個字元" maxlength="20" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-12 ">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="txtInvoiceDate@(itemName)">發票日期</label>
                                            <div class="col-12 osp-date">
                                                <input type="text" class="form-control" id="txtInvoiceDate@(itemName)" name="txtInvoiceDate@(itemName)"
                                                       placeholder="請輸入發票日期"
                                                       data-msg-required="請輸入發票日期"
                                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                                       readonly />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-12 ">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="txtInvoiceNo@(itemName)">發票號碼</label>
                                            <div class="col-12 osp-date">
                                                <input type="text" class="form-control" id="txtInvoiceNo@(itemName)" name="txtInvoiceNo@(itemName)"
                                                       value=""
                                                       placeholder="請輸入發票號碼"
                                                       data-msg-maxlength="必須少於 50 個字元" maxlength="50" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 col-md-12 ">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="txtApplyYYMM@(itemName)">申報年月<span class="text-danger">*</span></label>
                                            <div class="col-12 osp-date">
                                                <input type="text" class="form-control" id="txtApplyYYMM@(itemName)" name="txtApplyYYMM@(itemName)"
                                                       placeholder="請輸入申報年月"
                                                       data-msg-required="請輸入申報年月" data-rule-required="true"
                                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                                       readonly />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12 col-md-12 ">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="cboDeductType@(itemName)">扣抵區分<span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <select class="form-control" id="cboDeductType@(itemName)" name="cboDeductType@(itemName)" disabled required></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right read-hide">
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

<div class="advanced-block">
    <div class="row">
        <div class="col-12">
            <ul class="nav flag-tabs nav-fill" role="tablist">
                <li class="flag-item">
                    <a class="flag-link" data-toggle="tab" href="#tabGrDetail">
                        <i class="fas fa-list"></i> 進貨單身
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane" id="tabGrDetail">
            @Html.Partial("GrDetail")
        </div>
    </div>
</div>

<input type="hidden" id="txtDocId@(itemName)" name="txtDocId@(itemName)" value="-1" />
<input type="hidden" id="txtAmount@(itemName)" name="txtAmount@(itemName)" value="0" />

<div class="modal fade" id="modalWord@(itemName)">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">訂單單據下載</h5>
                <button class="close" type="button" onclick="CloseWord@(itemName)()">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container custom-form-container" autocomplete="off" id="wordForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label">單據金額</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    不包含
                                    <input type="checkbox" id="cbxNonPrice@(itemName)" name="cbxNonPrice@(itemName)" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn file-word" onclick="Word@(itemName)()"><i class="fas fa-file-word"></i>Word</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalSync@(itemName)">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@(itemNameText)同步</h5>
                <button class="close" type="button" onclick="CloseSync@(itemName)()">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container custom-form-container" autocomplete="off" id="syncForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtGrErpFullNo@(itemName)">進貨單單號</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtGrErpFullNo@(itemName)" name="txtGrErpFullNo@(itemName)" placeholder="請輸入進貨單單號" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtSyncStartDate@(itemName)">開始日期 <input type="checkbox" id="cbxSyncDate@(itemName)" checked /></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtSyncStartDate@(itemName)" name="txtSyncStartDate@(itemName)" placeholder="請輸入開始日期" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtSyncEndDate@(itemName)">結束日期</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtSyncEndDate@(itemName)" name="txtSyncEndDate@(itemName)" placeholder="請輸入結束日期" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label">同步模式</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <div class="row">
                                    <div class="col">
                                        <label class="control control-solid control-solid-info control--checkbox">
                                            正常同步
                                            <input type="checkbox" id="cbxNormalSync@(itemName)" name="cbxNormalSync@(itemName)" checked />
                                            <span class="control__indicator"></span>
                                        </label>
                                    </div>
                                    <div class="col">
                                        <label class="control control-solid control-solid-info control--checkbox">
                                            異動同步
                                            <input type="checkbox" id="cbxTranSync@(itemName)" name="cbxTranSync@(itemName)" />
                                            <span class="control__indicator"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-success" onclick="Sync@(itemName)()"><i class="fas fa-sync"></i>同步</button>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        let userId@(itemName);
        let companyId@(itemName);

        let depositJson = JSON.parse('{ "data" : []}');

        $(document).ready(function () {
            GetUserInfo@(itemName)();

            let currentDate = new Date();
            Suites.DatePicker("txtEndDateQ@(itemName)", currentDate);
            currentDate.setDate(currentDate.getDate() - 7);
            Suites.DatePicker("txtStartDateQ@(itemName)", currentDate);

            ComboBoxs.Default("#cboSupplierIdQ@(itemName)", "@Url.Action("GetSupplier", "ScmBasicInformation")", { "PermitStatus": "1" }, "", "NA", "", "SupplierWithNo", "SupplierId");
            ComboBoxs.Default("#cboConfirmUserIdQ@(itemName)", "@Url.Action("GetUser", "BasicInformation")", { "CompanyId": companyId@(itemName) }, "", "ALL", "", "UserWithNo", "UserId");
            ComboBoxs.Default("#cboPoUserIdQ@(itemName)", "@Url.Action("GetUser", "BasicInformation")", { "CompanyId": "@Session["CompanyId"]", "Status": "A" }, "", "ALL", "", "UserWithNo", "UserId");
            ComboBoxs.Default("#cboPrUserIdQ@(itemName)", "@Url.Action("GetUser", "BasicInformation")", { "CompanyId": "@Session["CompanyId"]", "Status": "A" }, "", "ALL", "", "UserWithNo", "UserId");
            if (!isMobile) {
                $("#cboSupplierIdQ@(itemName), #cboConfirmUserIdQ@(itemName), #cboPoUserIdQ@(itemName), #cboPrUserIdQ@(itemName)").select2({
                    dropdownAutoWidth: true,
                    width: "100%"
                });
            }

            Query@(itemName)();

            $(".advanced-block a[data-toggle='tab']").on("shown.bs.tab", function (e) {
                InitParameter@(itemName)($(this));
            });

            $("#txtGrErpFullNoQ@(itemName), txtSearchKeyQ@(itemName)").keydown(function (event) {
                if (event.keyCode == 13) {
                    Query@(itemName)();
                    return false;
                }
            });
        });

        function GetUserInfo@(itemName)() {
            let targetUrl = "@Url.Action("GetLoginByKey", "User")";
            let postData = {
                "UserNo": $.cookie("Login"),
                "KeyText": $.cookie("LoginKey")
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                userId@(itemName) = data.returnData.UserId;
                companyId@(itemName) = data.returnData.CompanyId;
            } else {
                alert(data.msg, "alert", 0);
            }
        }

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let targetUrl = "@Url.Action("GetGoodsReceipt", "GoodsReceipt")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "GrErpFullNo": $("#txtGrErpFullNoQ@(itemName)").val(),
                "SupplierId": $("#cboSupplierIdQ@(itemName)").val(),
                "ConfirmUserId": $("#cboConfirmUserIdQ@(itemName)").val(),
                "SearchKey": $("#txtSearchKeyQ@(itemName)").val(),
                "ConfirmStatus": $("input[name='cbxConfirmStatusQ@(itemName)']:checked").toArray().map(item => item.value).join(","),
                "ClosureStatus": $("input[name='cbxClosureStatusQ@(itemName)']:checked").toArray().map(item => item.value).join(","),
                "StartDate": ($("#cbxUseDate@(itemName)").is(":checked") ? $("#txtStartDateQ@(itemName)").val() : ""),
                "EndDate": ($("#cbxUseDate@(itemName)").is(":checked") ? $("#txtEndDateQ@(itemName)").val() : ""),
                "PoErpFullNo": $("#txtPoErpFullNoQ@(itemName)").val(),
                "PoUserId": $("#cboPoUserIdQ@(itemName)").val(),
                "PrErpFullNo": $("#txtPrErpFullNoQ@(itemName)").val(),
                "PrUserId": $("#cboPrUserIdQ@(itemName)").val()
            };
            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr>
                                        <td>${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.GrErpFullNo}" style="max-width: 165px;">
                                          ${item.GrErpFullNo}
                                          ${item.TransferStatus == `Y` ? `${ErpDocStatus(item.ConfirmStatus)}` : ``}
                                        </td>
                                        <td>${(new Date(item.DocDate)).Format(`yyyy-MM-dd`)}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.SupplierNo} ${item.SupplierName}" style="max-width: 150px;">${item.SupplierNo} ${item.SupplierName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ConfirmUserNo != null ? item.ConfirmUserNo : ``}${item.ConfirmUserName != null ? item.ConfirmUserName : ``}" style="min-width: 150px;">${item.ConfirmUserName != null ? `<i class="fas fa-user"></i>&nbsp;<code>${item.ConfirmUserNo}</code>&nbsp;${item.ConfirmUserName}` : ``}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Remark}" style="min-width: 150px;">${item.Remark}</td>
                                        <td class="text-center active-content">
                                          <div class="btn-group mb-4 show" style="margin-bottom: 0 !important; position: static;">
                                            <button type="button" class="btn btn-primary dropdown-toggle" data-gr-id="${item.GrId}" style="padding-top: 0; padding-bottom: 0;">動作</button>
                                            <div class="dropdown-menu btn-text-left-block" data-gr-id="${item.GrId}" style="overflow-y: auto; z-index: 999; max-height: 150px;">
                                              <a class="dropdown-item btn-text-left auth-read" href="javascript:Read@(itemName)(${item.GrId});" ><i class="fas fa-eye"></i>查看</a>
                                              ${item.ConfirmStatus == `N` ? `<a class="dropdown-item btn-text-left auth-update" href="javascript:Edit@(itemName)(${item.GrId});" ><i class="fas fa-edit"></i>修改</a>` : ``}
                                              ${item.TransferStatus == `N` ? `<a class="dropdown-item btn-text-left auth-delete" href="javascript:Delete@(itemName)(${item.GrId});" ><i class="fas fa-trash-alt"></i>刪除</a>` : ``}
                                              ${item.ConfirmStatus == `N` ? `<a class="dropdown-item btn-text-left auth-data-transfer" href="javascript:Transfer@(itemName)(${item.GrId});" ><i class="fas fa-file-import"></i>拋轉</a>` : ``}
                                              ${item.ConfirmStatus == `N` ? `<a class="dropdown-item btn-text-left auth-confirm" href="javascript:Confirm@(itemName)(${item.GrId});" ><i class="fas fa-check-circle"></i>確認</a>` : ``}
                                              ${item.ConfirmStatus == `Y` ? `<a class="dropdown-item btn-text-left auth-reconfirm" href="javascript:ReConfirm@(itemName)(${item.GrId});" ><i class="fas fa-undo-alt"></i>反確認</a>` : ``}
                                              @*${item.ConfirmStatus == `N` && item.TransferStatus == `Y` ? `<a class="dropdown-item btn-text-left auth-void" href="javascript:Void@(itemName)(${item.GrId});" ><i class="fas fa-ban"></i>作廢</a>` : ``}*@
                                              ${item.TransferStatus == `Y` ? `<a class="dropdown-item btn-text-left auth-doc-download" href="javascript:PopSoWord@(itemName)(${item.GrId});" ><i class="fas fa-file-download"></i>單據下載</a>` : ``}
                                            </div>
                                          </div>
                                        </td>
                                        <td style="padding: 0;">
                                          <table class="table table-bordered table-sm mb-0 table-non-rwd table-striped-custom table-row-detail">
                                            <tbody>
                                              ${DetailData@(itemName)(item.GrDetail)}
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="9" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

            $(".dropdown-toggle").off("click").on("click", function () {
                let grId = $(this).data("gr-id");

                if ($(`.dropdown-menu[data-gr-id='${grId}']`).hasClass("show")) {
                    $(".dropdown-menu").removeClass("show");
                } else {
                    $(".dropdown-menu").removeClass("show");

                    $(`.dropdown-menu[data-gr-id='${grId}']`).addClass("show");
                    $(`.dropdown-menu[data-gr-id='${grId}']`).css({
                        top: `${$(this).position().top + $(this).height() + 5}px`,
                        left: `${$(this).position().left - $(this).width() + 38}px`
                    });
                }
            });

            $("body").off("click").on("click", function (e) {
                if ($(".dropdown-menu").hasClass("show")) {
                    if (!$(e.target).hasClass("dropdown-toggle")
                        && !$(e.target).parents().hasClass("dropdown-toggle")) {
                        $(".dropdown-menu").removeClass("show");
                    }
                }
            });
        }

        function DetailData@(itemName)(source){
            let html = '';

            if (source) {
                let json = JSON.parse(source);

                for (let x = 0; x < json.data.length; x++) {
                    html += `<tr>
                               <td style="width: 50px;">${json.data[x].GrSeq}</td>
                               <td class="ellipsis" data-toggle="tooltip" title="${json.data[x].MtlItemNo}" style="min-width: 150px;">${json.data[x].MtlItemNo}</td>
                               <td class="ellipsis" data-toggle="tooltip" title="${json.data[x].GrMtlItemName}" style="width: 175px; max-width: 175px;">${json.data[x].GrMtlItemName}</td>
                               <td class="ellipsis" data-toggle="tooltip" title="${json.data[x].GrMtlItemSpec}" style="width: 175px; max-width: 175px;">${json.data[x].GrMtlItemSpec}</td>
                               <td style="width: 100px;">${json.data[x].ReceiptQty.toLocaleString(`en`)}</td>
                               <td style="width: 100px;">${json.data[x].UomNo}</td>
                               <td style="width: 100px;">${json.data[x].InventoryNo + ` ` + json.data[x].InventoryName}</td>
                               <td class="ellipsis" data-toggle="tooltip" title="${json.data[x].PoErpPrefix + `-` + json.data[x].PoErpNo}" style="width: 175px; max-width: 175px;">${json.data[x].PoErpPrefix + `-` + json.data[x].PoErpNo}<code>(${json.data[x].PoSeq})</code></td>
                               <td class="ellipsis" data-toggle="tooltip" title="${json.data[x].PoConfidmUser || ''}" style="width: 200px; max-width: 200px;">${json.data[x].PoConfidmUser || ''}</td>

                               <td style="width: 100px;">${json.data[x].AcceptanceDate}</td>
                               <td style="width: 100px;">${json.data[x].AcceptQty}</td>
                               <td style="width: 100px;">${json.data[x].AvailableQty}</td>
                               <td style="width: 100px;">${json.data[x].ReturnQty}</td>
                               <td class="ellipsis" data-toggle="tooltip" title="${json.data[x].Remark}" style="width: 200px; max-width: 200px;">${json.data[x].Remark}</td>
                               <td class="ellipsis" data-toggle="tooltip" title="${json.data[x].PrErpFullNo || ''}" style="width: 200px; max-width: 200px;">${json.data[x].PrErpFullNo || ''}</td>
                               <td class="ellipsis" data-toggle="tooltip" title="${json.data[x].PrConfidmUser || ''}" style="width: 200px; max-width: 200px;">${json.data[x].PrConfidmUser || ''}</td>

                             </tr>`;
                }
            }

            return html;
        }

        function Edit@(itemName)(GrId) {
            $("#GrId").val(GrId ? GrId : 0);

            $("#ViewMode").val("");

            $(objForm@(itemName) + " fieldset").attr("disabled", false);
            $(objForm@(itemName) + " select").attr("disabled", false);

            $("#tabActive").click();

            $(".read-hide").show();

            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");

            let currentDate = new Date();
            Suites.DatePicker("txtDocDate@(itemName)", currentDate);
            Suites.DatePicker("txtReceiptDate@(itemName)", currentDate);
            Suites.DatePicker("txtInvoiceDate@(itemName)", "");
            Suites.DatePicker("txtApplyYYMM@(itemName)", currentDate);

            $("#cboGrErpPrefix@(itemName), #cboSupplierId@(itemName), #cboDeductType@(itemName), #cboTaxCode@(itemName), #cboTaxType@(itemName), #cboInvoiceType@(itemName), #cboCurrencyCode@(itemName), #cboPaymentTerm@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });

            //進貨單別
            ComboBoxs.WithText("#cboGrErpPrefix@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "GrErpPrefix" }, "", "CHOOSE", "請選擇進貨單別", "GrErpPrefixName", "GrErpPrefixNo");

            //供應商
            ComboBoxs.Default("#cboSupplierId@(itemName)", "@Url.Action("GetSupplier", "ScmBasicInformation")", { "PermitStatus": "1" }, "", "NA", "", "SupplierWithNo", "SupplierId");

            //稅別碼
            ComboBoxs.WithText("#cboTaxCode@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "TaxNo" }, "", "NA", "", "TaxName", "TaxNo");

            //課稅別
            ComboBoxs.Default("#cboTaxType@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "Customer.Taxation" }, "", "NA", "", "TypeName", "TypeNo");
            $("#cboTaxType@(itemName)").prop("disabled", true);

            //發票聯數
            ComboBoxs.Default("#cboInvoiceType@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "InvoiceCount" }, "", "CHOOSE", "", "InvoiceCountName", "InvoiceCountNo");
            $("#cboInvoiceType@(itemName)").prop("disabled", true);

            //扣抵區分
            ComboBoxs.WithText("#cboDeductType@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "OspReceipt.DeductType" }, "1", "NA", "", "TypeName", "TypeNo");
            $("#cboDeductType@(itemName)").prop("disabled", true);

            //交易幣別
            ComboBoxs.WithText("#cboCurrencyCode@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "Currency" }, "", "NA", "", "CurrencyName", "Currency");

            //付款條件
            ComboBoxs.WithText("#cboPaymentTerm@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "PaymentTerm", "Condition": "1" }, "", "NA", "", "PaymentTermName", "PaymentTermNo");

            if (GrId > 0) {
                //$("#cboGrErpPrefix@(itemName)").prop("disabled", true);
                //$("#cboSupplierId@(itemName)").prop("disabled", true);

                let targetUrl = "@Url.Action("GetGoodsReceipt", "GoodsReceipt")";
                let postData = {
                    "GrId": GrId
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        $("#cboGrErpPrefix@(itemName)").val(item.GrErpPrefix);
                        $("#txtGrErpNo@(itemName)").val(item.GrErpNo);
                        $("#cboSupplierId@(itemName)").val(item.SupplierId);
                        Suites.DatePicker("txtDocDate@(itemName)", new Date(item.DocDate));
                        Suites.DatePicker("txtReceiptDate@(itemName)", new Date(item.ReceiptDate));
                        $("#txtRemark@(itemName)").val(item.Remark);

                        //交易資料
                        $("#cboCurrencyCode@(itemName)").val(item.CurrencyCode);
                        $("#txtExchange@(itemName)").val(item.Exchange);
                        $("#cboPaymentTerm@(itemName)").val(item.PaymentTerm);
                        $("#txtRowCnt@(itemName)").val(item.RowCnt);
                        $("#txtContactUser@(itemName)").val(item.ContactUser);

                        //發票資料
                        $("#cboTaxCode@(itemName)").val(item.TaxCode);
                        $("#cboTaxType@(itemName)").val(item.TaxType);
                        $("#cboInvoiceType@(itemName)").val(item.InvoiceType);
                        $("#txtTaxRate@(itemName)").val(item.TaxRate);
                        $("#txtUiNo@(itemName)").val(item.UiNo);
                        $("#txtInvoiceDate@(itemName)").val(item.InvoiceDate);
                        $("#txtInvoiceNo@(itemName)").val(item.InvoiceNo);
                        $("#txtApplyYYMM@(itemName)").val(item.ApplyYYMM);
                        $("#cboDeductType@(itemName)").val(item.DeductType);
                    });

                    if ($(".advanced-block .flag-tabs > .flag-item > .flag-link").first().hasClass("active")) {
                        InitParameter@(itemName)($(".advanced-block .flag-tabs > .flag-item").first().find("a"));
                    } else {
                        $(".advanced-block .flag-tabs > .flag-item").first().find("a").trigger("click");
                    }
                } else {
                    alert(data.msg, "alert", 0);
                }
            }
            else {
                $("#cboGrErpPrefix@(itemName)").prop("disabled", false);
                $("#cboSupplierId@(itemName)").prop("disabled", false);
            }

            $("#cboSupplierId@(itemName)").change(function () {
                let supplierId = $("#cboSupplierId@(itemName)").val();

                let targetUrl = "@Url.Action("GetSupplier", "ScmBasicInformation")";
                let postData = {
                    "SupplierId": $(this).val() 
                };
                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    if (data.result.length > 0) {
                        $.each(data.result, function (i, item) {
                            //稅別碼
                            ComboBoxs.WithText("#cboTaxCode@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "TaxNo" }, "", "NA", "", "TaxName", "TaxNo");
                            $("#cboTaxCode@(itemName)").val(item.TaxNo);

                            ComboBoxs.Default("#cboInvoiceType@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "InvoiceCount", "Condition": $("#cboTaxCode@(itemName)").val() }, "", "CHOOSE", "", "InvoiceCountName", "InvoiceCountNo");
                            let taxation;
                            let targetUrl = "@Url.Action("GetErpData", "BasicInformation")";
                            let postData = {
                                "ColumnName": "TaxNo",
                                "Condition": $("#cboTaxCode@(itemName)").val()
                            };
                            let data = DataAccess.Get(targetUrl, postData, false);
                            if (data.status == "success") {
                                $.each(data.result, function (i, item) {
                                    taxation = item.Taxation;
                                    $("#txtTaxRate@(itemName)").val(parseFloat(item.BusinessTaxRate));
                                });
                            }
                            ComboBoxs.Default("#cboTaxType@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "Customer.Taxation" }, taxation, "NA", "", "TypeName", "TypeNo");

                            //抵扣區分
                            ComboBoxs.WithText("#cboDeductType@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "OspReceipt.DeductType" }, "1", "NA", "", "TypeName", "TypeNo");
                            if (supplierId == 211) {
                                $("#cboDeductType@(itemName)").val("3");
                            }
                            else if (taxation == "1" || taxation == "2") {
                                $("#cboDeductType@(itemName)").val("1");
                            }
                            else {
                                $("#cboDeductType@(itemName)").val("3");
                            }

                            $("#txtUiNo@(itemName)").val(item.GuiNumber);

                            //交易幣別
                            ComboBoxs.WithText("#cboCurrencyCode@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "Currency" }, "", "NA", "", "CurrencyName", "Currency");
                            $("#cboCurrencyCode@(itemName)").val(item.Currency);

                            //匯率
                            targetUrl = "@Url.Action("GetErpData", "BasicInformation")";
                            postData = {
                                "ColumnName": "ExchangeRate",
                                "Condition": $("#cboCurrencyCode@(itemName)").val()
                            };
                            data = DataAccess.Get(targetUrl, postData, false);
                            if (data.status == "success") {
                                $.each(data.result, function (i, item) {
                                    $("#txtExchange@(itemName)").val(item.ExchangeRateName)
                                });
                            }

                            //付款條件
                            ComboBoxs.WithText("#cboPaymentTerm@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "PaymentTerm", "Condition": "1" }, "", "NA", "", "PaymentTermName", "PaymentTermNo");
                            $("#cboPaymentTerm@(itemName)").val(item.PaymentTerm);

                            //聯絡窗口
                            $("#txtContactUser@(itemName)").val(item.ContactFirst);
                        });
                    }
                }
            });

            $("#cboTaxCode@(itemName)").on("change", function () {
                ComboBoxs.Default("#cboInvoiceType@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "InvoiceCount", "Condition": $("#cboTaxCode@(itemName)").val() }, "", "CHOOSE", "", "InvoiceCountName", "InvoiceCountNo");

                let taxation;
                let targetUrl = "@Url.Action("GetErpData", "BasicInformation")";
                let postData = {
                    "ColumnName": "TaxNo",
                    "Condition": $("#cboTaxCode@(itemName)").val()
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        taxation = item.Taxation;
                        $("#txtTaxRate@(itemName)").val(parseFloat(item.BusinessTaxRate));
                    });
                }

                ComboBoxs.Default("#cboTaxType@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "Customer.Taxation" }, taxation, "NA", "", "TypeName", "TypeNo");

                ComboBoxs.WithText("#cboDeductType@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "OspReceipt.DeductType" }, "1", "NA", "", "TypeName", "TypeNo");
                if (taxation == "1" || taxation == "2") {
                    $("#cboDeductType@(itemName)").val("1");
                }
                else {
                    $("#cboDeductType@(itemName)").val("3");
                }
            });

            $("#cboCurrencyCode@(itemName)").change(function () {
                //匯率
                targetUrl = "@Url.Action("GetErpData", "BasicInformation")";
                postData = {
                    "ColumnName": "ExchangeRate",
                    "Condition": $("#cboCurrencyCode@(itemName)").val()
                };
                data = DataAccess.Get(targetUrl, postData, false);
                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        $("#txtExchange@(itemName)").val(item.ExchangeRateName)
                    });
                }
            });
        }

        function Read@(itemName)(GrId) {
            Edit@(itemName)(GrId);
            $(objForm@(itemName) + " fieldset").attr("disabled", true);
            $(objForm@(itemName) + " select").attr("disabled", true);
            $(".read-hide").hide();
            $("#ViewMode").val("read");
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let GrId = parseInt($("#GrId").val());
                if (GrId <= 0) {
                    let targetUrl = "@Url.Action("AddGoodsReceipt", "GoodsReceipt")";
                    let postData = {
                        "GrErpPrefix": $("#cboGrErpPrefix@(itemName)").val(),
                        "DocDate": $("#txtDocDate@(itemName)").val(),
                        "ReceiptDate": $("#txtReceiptDate@(itemName)").val(),
                        "SupplierId": $("#cboSupplierId@(itemName)").val(),
                        "Remark": $("#txtRemark@(itemName)").val(),
                        "CurrencyCode": $("#cboCurrencyCode@(itemName)").val(),
                        "Exchange": $("#txtExchange@(itemName)").val(),
                        "PaymentTerm": $("#cboPaymentTerm@(itemName)").val(),
                        "RowCnt": $("#txtRowCnt@(itemName)").val(),
                        "TaxCode": $("#cboTaxCode@(itemName)").val(),
                        "TaxType": $("#cboTaxType@(itemName)").val(),
                        "InvoiceType": $("#cboInvoiceType@(itemName)").val(),
                        "TaxRate": $("#txtTaxRate@(itemName)").val(),
                        "UiNo": $("#txtUiNo@(itemName)").val(),
                        "InvoiceDate": $("#txtInvoiceDate@(itemName)").val(),
                        "InvoiceNo": $("#txtInvoiceNo@(itemName)").val(),
                        "ApplyYYMM": $("#txtApplyYYMM@(itemName)").val(),
                        "DeductType": $("#cboDeductType@(itemName)").val(),
                        "ContactUser": $("#txtContactUser@(itemName)").val()
                    };

                    let data = DataAccess.EditContinued(targetUrl, postData, false);

                    if (data) {
                        $.each(data.result, function (i, item) {
                            $("#GrId").val(item.GrId);
                            $("#txtGrErpNo@(itemName)").val(item.GrErpNo);
                        });

                        $("#cboGrErpPrefix@(itemName)").prop("disabled", true);
                        $("#cboSupplierId@(itemName)").prop("disabled", true);

                        if ($(".advanced-block .flag-tabs > .flag-item > .flag-link").first().hasClass("active")) {
                            InitParameter@(itemName)($(".advanced-block .flag-tabs > .flag-item").first().find("a"));
                        } else {
                            $(".advanced-block .flag-tabs > .flag-item").first().find("a").trigger("click");
                        }
                    }
                } else {
                    let targetUrl = "@Url.Action("UpdateGoodsReceipt", "GoodsReceipt")";
                    let postData = {
                        "GrId": GrId,
                        "GrErpPrefix": $("#cboGrErpPrefix@(itemName)").val(),
                        "DocDate": $("#txtDocDate@(itemName)").val(),
                        "ReceiptDate": $("#txtReceiptDate@(itemName)").val(),
                        "SupplierId": $("#cboSupplierId@(itemName)").val(),
                        "Remark": $("#txtRemark@(itemName)").val(),
                        "CurrencyCode": $("#cboCurrencyCode@(itemName)").val(),
                        "Exchange": $("#txtExchange@(itemName)").val(),
                        "PaymentTerm": $("#cboPaymentTerm@(itemName)").val(),
                        "RowCnt": $("#txtRowCnt@(itemName)").val(),
                        "TaxCode": $("#cboTaxCode@(itemName)").val(),
                        "TaxType": $("#cboTaxType@(itemName)").val(),
                        "InvoiceType": $("#cboInvoiceType@(itemName)").val(),
                        "TaxRate": $("#txtTaxRate@(itemName)").val(),
                        "UiNo": $("#txtUiNo@(itemName)").val(),
                        "InvoiceDate": $("#txtInvoiceDate@(itemName)").val(),
                        "InvoiceNo": $("#txtInvoiceNo@(itemName)").val(),
                        "ApplyYYMM": $("#txtApplyYYMM@(itemName)").val(),
                        "DeductType": $("#cboDeductType@(itemName)").val(),
                        "ContactUser": $("#txtContactUser@(itemName)").val()
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Edit@(itemName)(GrId);
                    }
                }
            }
        }

        function Delete@(itemName)(GrId) {
            swal.fire({
                titleText: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteGoodsReceipt", "GoodsReceipt")";
                    let postData = {
                        "GrId": GrId
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function Transfer@(itemName)(GrId) {
            swal.fire({
                titleText: "確認要拋轉嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("UpdateTransferGoodsReceipt", "GoodsReceipt")";
                    let postData = {
                        "GrId": GrId
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function Confirm@(itemName)(GrId) {
            swal.fire({
                titleText: "要將單據進行確認嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("UpdateGrConfirm", "GoodsReceipt")";
                    let postData = {
                        "GrId": GrId
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function ReConfirm@(itemName)(GrId) {
            swal.fire({
                titleText: "要將單據進行反確認嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("UpdateGrReConfirm", "GoodsReceipt")";
                    let postData = {
                        "GrId": GrId
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function Void@(itemName)(SoId) {
            swal.fire({
                titleText: "確認要作廢嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("UpdateSaleOrderVoid", "SaleOrder")";
                    let postData = {
                        "SoId": SoId
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function PopSoWord@(itemName)(SoId) {
            $("#txtDocId@(itemName)").val(SoId);

            $("#modalWord@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });
        }

        function Word@(itemName)() {
            let targetUrl = "@Url.Action("SaleOrderDocDownload", "SaleOrder")";
            let postData = {
                "SoId": $("#txtDocId@(itemName)").val(),
                "NonPrice": $("#cbxNonPrice@(itemName)").is(":checked") ? "Y" : "N"
            };

            FileAccess.AjaxDownload(targetUrl, postData, false);

            CloseWord@(itemName)();
        }

        function CloseWord@(itemName)() {
            ResetForm("#wordForm@(itemName)");

            $("#modalWord@(itemName)").modal("hide");

            Query@(itemName)();
        }

        function PopSoModify@(itemName)(SoId, SoErpFullNo) {
            let innerHtml = '', targetUrl = '', postData = {};

            $("#txtDocId@(itemName)").val(SoId);
            $("#desSoErpFullNo@(itemName)").html(SoErpFullNo);

            $("#modalModify@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });

            $("#cbxSelectAll@(itemName)").prop("checked", false);

            targetUrl = "@Url.Action("GetSaleOrder02", "SaleOrder")";
            postData = {
                "SoId": SoId
            };
            let soData = DataAccess.Get(targetUrl, postData, false);

            if (soData.status == "success") {
                if (soData.result.length > 0) {
                    $.each(soData.result, function (i, item) {
                        $("#txtCustomerPurchaseOrder@(itemModify)").val(item.CustomerPurchaseOrder);
                        $("#txtSoRemark@(itemModify)").val(item.SoRemark);
                        if (item.DepositPartial == "Y") {
                            $("#cbxDepositPartial@(itemModify)").prop("checked", true);
                            DepositDbData();
                        }
                        $("#txtAmount@(itemName)").val(item.Amount);
                    });
                } else {
                    alert("訂單不存在");

                    CloseModify@(itemName)();
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            targetUrl = "@Url.Action("GetSoDetail02", "SaleOrder")";
            postData = {
                "SoId": SoId
            };
            let detailData = DataAccess.Get(targetUrl, postData, false);

            if (detailData.status == "success") {
                if (detailData.result.length > 0) {
                    $.each(detailData.result, function (i, item) {
                        innerHtml += `<tr>
                                        <td class="text-center">
                                          <label class="control control-solid control-solid-info control--checkbox">
                                            <input type="checkbox" data-so-detail-id="${item.SoDetailId}" value="${item.SoDetailId}" />
                                            <span class="control__indicator"></span>
                                          </label>
                                        </td>
                                        <td>${item.SoSequence}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MtlItemNo}" style="max-width: 150px;">${item.MtlItemNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.SoMtlItemName}" style="max-width: 175px;">${item.SoMtlItemName}</td>
                                        <td>${item.SoQty.toLocaleString(`en`)} <code>${item.UomNo}</code></td>
                                        <td class="p-0">
                                          <textarea class="form-control" name="txtSoDetailRemark@(itemModify)"
                                                    cols="2" data-so-id="${item.SoId}" data-so-detail-id="${item.SoDetailId}">${item.SoDetailRemark}</textarea>
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="5" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblSoDetailData@(itemName) tbody").html(innerHtml);

            $("#cbxSelectAll@(itemName)").off("click").on("click", function () {
                if ($("#cbxSelectAll@(itemName)").is(":checked")) {
                    $("input[type='checkbox'][data-so-detail-id]").not(":disabled").prop("checked", true);
                } else {
                    $("input[type='checkbox'][data-so-detail-id]").not(":disabled").prop("checked", false);
                }
            });

            $("#cbxDepositPartial@(itemModify)").off("change").on("change", function () {
                if ($("#cbxDepositPartial@(itemModify)").is(":checked")) {
                    DepositDbData();
                } else {
                    if (depositJson.data.length > 0) {
                        for (var i = 0; i < depositJson.data.length; i++) {
                            if (depositJson.data[i].ClosingStatus == "Y") {
                                $("#cbxDepositPartial@(itemModify)").prop("checked", true);
                                alert("已有結帳單，無法取消勾選!");
                                break;
                            }
                        }
                    } else {
                        $("#editDeposit@(itemModify)").hide();
                        $("#tblDepositRate@(itemModify)").parent(".table-custom").hide();
                    }
                }
            });
        }

        function CloseModify@(itemName)() {
            ResetForm("#modifyForm@(itemName)");

            $("#modalModify@(itemName)").modal("hide");

            Query@(itemName)();
        }

        function Return@(itemName)() {
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName)", "#editData@(itemName), #modiData@(itemName), .unit-block, .advanced-block");
            Query@(itemName)();
        }

        function InitParameter@(itemName)(selector) {
            let initFnString = "Expand";
            let content = selector.attr("href").split('#tab')[1].split('@(itemName)')[0];
            switch (content) {
                case "GrDetail":
                    initFnString += "GrDetail";
                    break;
            }

            let initFn = window[initFnString];
            if (initFn && typeof (initFn) == "function") {
                initFn();
            }
        }

        function PopSoSync@(itemName)() {
            $("#modalSync@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });

            let currentDate = new Date();
            Suites.DatePicker("txtSyncEndDate@(itemName)", currentDate);
            currentDate.setDate(currentDate.getDate() - 7);
            Suites.DatePicker("txtSyncStartDate@(itemName)", currentDate);
        }

        function CloseSync@(itemName)() {
            ResetForm("#syncForm@(itemName)");

            $("#modalSync@(itemName)").modal("hide");

            Query@(itemName)();
        }

        function Sync@(itemName)() {
            swal.fire({
                titleText: "確認執行ERP資料同步嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("UpdateGoodsReceiptManualSynchronize", "GoodsReceipt")";
                    let postData = {
                        "GrErpFullNo": $("#txtGrErpFullNo@(itemName)").val(),
                        "SyncStartDate": ($("#cbxSyncDate@(itemName)").is(":checked") ? $("#txtSyncStartDate@(itemName)").val() : ""),
                        "SyncEndDate": ($("#cbxSyncDate@(itemName)").is(":checked") ? $("#txtSyncEndDate@(itemName)").val() : ""),
                        "NormalSync": $("#cbxNormalSync@(itemName)").is(":checked") ? "Y" : "N",
                        "TranSync": $("#cbxTranSync@(itemName)").is(":checked") ? "Y" : "N"
                    };

                    let data = DataAccess.EditContinued(targetUrl, postData, false);

                    if (data) {
                        alert(data.result, "success", 5000);
                    }

                    CloseSync@(itemName)();
                }
            });
        }

        function Excel@(itemName)() {
            let targetUrl = "@Url.Action("SaleOrderExcelDownload", "SaleOrder")";
            let postData = {
                "SoErpPrefix": $("#cboSoErpPrefixQ@(itemName)").val(),
                "SoErpFullNo": $("#txtSoErpNoQ@(itemName)").val(),
                "CustomerId": $("#cboCustomerIdQ@(itemName)").val(),
                "SalesmenId": $("#cboSalesmenIdQ@(itemName)").val(),
                "SearchKey": $("#txtSearchKeyQ@(itemName)").val(),
                "ConfirmStatus": $("input[name='cbxConfirmStatusQ@(itemName)']:checked").toArray().map(item => item.value).join(","),
                "ClosureStatus": $("input[name='cbxClosureStatusQ@(itemName)']:checked").toArray().map(item => item.value).join(","),
                "StartDate": ($("#cbxUseDate@(itemName)").is(":checked") ? $("#txtStartDateQ@(itemName)").val() : ""),
                "EndDate": ($("#cbxUseDate@(itemName)").is(":checked") ? $("#txtEndDateQ@(itemName)").val() : "")
            };

            FileAccess.AjaxDownload(targetUrl, postData, false);
        }
    </script>
                )
