@using Business_Manager.Helpers
@{
    string itemName = "ViewPurchaseOrder";
    string itemNameText = "查看採購單資料";
}

@Html.Resource("css",
    @<style>
         .source-user {
             font-size: 1rem;
             color: #4d80c4;
         }

         .source-contact {
             font-size: 1rem;
             color: #27b390;
         }

             .source-user i, .source-contact i {
                 margin-right: 5px;
             }

         .table-sticky thead .col-sticky:nth-last-child(1) {
             right: 0;
         }

         .table-sticky tbody .col-sticky:nth-last-child(1) {
             right: 0;
         }
    </style>
                )

<div class="modal fade" id="modal@(itemName)">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@(itemNameText)</h5>
                <a class="close" href="javascript:void(0);" onclick="Close@(itemName)()"><i class="fas fa-times"></i></a>
            </div>
            <div class="modal-body">
                <div class="row" id="listData@(itemName)">
                    <div class="col-12">
                        <form autocomplete="off" id="queryForm@(itemName)">
                            <fieldset>
                                <div class="form-row align-items-center mb-2">
                                    <div class="col-auto">
                                        <input type="text" class="form-control" id="txtPoErpFullNoQ@(itemName)" name="txtPoErpFullNoQ@(itemName)"
                                               placeholder="請輸入採購單號" />
                                    </div>
                                    <div class="col-auto">
                                        <select class="form-control" id="cboSupplierIdQ@(itemName)" name="cboSupplierIdQ@(itemName)" disabled></select>
                                    </div>
                                    <div class="col-auto">
                                        <button type="button" class="btn btn-primary" onclick="Query@(itemName)()"><i class="fal fa-search"></i>搜尋</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th scope="col">採購單號</th>
                                        <th scope="col">單據日期</th>
                                        <th scope="col">供應商</th>
                                        <th scope="col">採購人員</th>
                                        <th class="text-center col-sticky" scope="col" style="min-width: 110px;">請選擇</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#queryForm@(itemName)";

        let targetSelector@(itemName);
        let poId@(itemName);
        let supplierId@(itemName);
        let poErpFullNo@(itemName);
        let poUserFullNo@(itemName);
        let lotManagement@(itemName);

        function Pop@(itemName)(config) {
            targetSelector@(itemName) = config.targetSelector;
            poId@(itemName) = config.objectPoId;
            supplierId@(itemName) = config.objectSupplierId;
            poErpFullNo@(itemName) = config.objectPoErpFullNo;
            poUserFullNo@(itemName) = config.objectPoUserFullNo;
            lotManagement@(itemName) = config.objectLotManagement;

            $("#modal@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });

            $("#cboSupplierIdQ@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });

            ComboBoxs.Default("#cboSupplierIdQ@(itemName)", "@Url.Action("GetSupplier", "ScmBasicInformation")", { "PermitStatus": "1" }, supplierId@(itemName), "NA", "", "SupplierWithNo", "SupplierId");

            $("#txtPoErpFullNoQ@(itemName)").keydown(function (event) {
                if (event.keyCode == 13) {
                    Query@(itemName)();
                    return false;
                }
            });

            $("#queryForm@(itemName)").keydown(function (event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    return false;
                }
            });

            Query@(itemName)();

            $("#cboSupplierIdQ@(itemName)").change(function () {
                Query@(itemName)();
            });
        }

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let targetUrl = "@Url.Action("GetPurchaseOrder", "PurchaseOrder")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "PoErpFullNo": $("#txtPoErpFullNoQ@(itemName)").val(),
                "SupplierId": $("#cboSupplierIdQ@(itemName)").val(),
                "ClosureStatus": "N",
                "ConfirmStatus": "Y"
            };
            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";
                        innerHtml += `<tr>
                                        <td>${_row}</td>
                                        <td>${item.PoErpPrefix}-${item.PoErpNo}</td>
                                        <td>${item.DocDate}</td>
                                        <td>${item.SupplierNo} ${item.SupplierName}</td>
                                        <td><i class="fas fa-user"></i>&nbsp;<code>${item.PoUserNo}</code>&nbsp;${item.PoUserName}</td>
                                        <td class="text-center col-sticky">
                                          <label class="control control-solid control-solid-info control--radio">
                                            <input type="radio" data-po-id="${item.PoId}" value="${item.PoId}" />
                                            <span class="control__indicator"></span>
                                          </label>
                                          <input type="hidden" id="txtPoErpPrefix@(itemName)" data-po-id="${item.PoId}" value="${item.PoErpPrefix}-${item.PoErpNo}"/>
                                          <input type="hidden" id="txtPoUserFullNo@(itemName)" data-po-id="${item.PoId}" value="${item.PoUserNo} ${item.PoUserName}"/>
                                          <input type="hidden" id="txtLotManagement@(itemName)" data-po-id="${item.PoId}" value="${item.LotManagement}"/>
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="13" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

            $("input[type='radio']").click(function () {
                if ("[data-po-id]:checked") {
                    let poId = $(this).data("po-id");

                    if (poId) {
                        let poErpFullNo = $(`input[id="txtPoErpPrefix@(itemName)"][data-po-id="${poId}"]`).val();
                        let poUserFullNo = $(`input[id="txtPoUserFullNo@(itemName)"][data-po-id="${poId}"]`).val();
                        let lotManagement = $(`input[id="txtLotManagement@(itemName)"][data-po-id="${poId}"]`).val();

                        if (poId@(itemName)) ElementSetValue(poId@(itemName), poId, "change");
                        if (poErpFullNo@(itemName)) ElementSetValue(poErpFullNo@(itemName), poErpFullNo, "change");
                        if (poUserFullNo@(itemName)) ElementSetValue(poUserFullNo@(itemName), poUserFullNo, "change");
                        if (lotManagement@(itemName)) ElementSetValue(lotManagement@(itemName), lotManagement, "change");

                        $(".po-user-info").show();

                        $(targetSelector@(itemName)).parent().find(".help-block").css("display", "grid");
                        $(targetSelector@(itemName)).parent().siblings().find(".help-block").css("display", "grid");
                    }
                }

                Close@(itemName)();
            });
        }

        function Close@(itemName)() {
            ResetForm(objForm@(itemName));
            $("#modal@(itemName)").modal('hide');
        }
    </script>
                )