
@using Business_Manager.Helpers
@{
    string itemName = "ViewBarcodeBindLot";
    string itemNameText = "批號綁定條碼";
    string authority = ViewBag.authority;

    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
         #modalViewCreateNewBarcode .modal-body {
             max-height: 60vh;
             overflow-y: auto;
         }

         .table-sticky thead .col-sticky:nth-last-child(1) {
             right: 0;
         }

         .table-sticky tbody .col-sticky:nth-last-child(1) {
             right: 0;
         }

         /*#modalWatchPictureViewMeasureData .modal-body {
             height: 65vh;
             overflow-y: auto;
         }

         .image-style {
             display: flex;
             justify-content: center;
             overflow: scroll;
         }

         .pre-icon-style {
             background-color: #0d0930;
             width: 30px;
             height: 30px;
             margin-bottom: 250px;
         }

         #listDataViewMeasureData .table-custom {
             max-height: 56vh;
         }*/
    </style>
                                                  )

<div class="modal fade" id="modal@(itemName)">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    @(itemNameText)

                </h5>
                <a class="close list-mode" href="javascript:void(0);" onclick="Close@(itemName)('#modal@(itemName)')"><i class="fas fa-times"></i></a>
            </div>
            <div class="modal-body">
                <div class="row" id="listData@(itemName)">
                    <div class="col-12">
                        <form autocomplete="off" id="queryForm@(itemName)">
                            <fieldset>


                                <div class="form-row  mb-2">
                                    <div class="form-row col-6">
                                        <div class="col-auto">
                                            <label class="form-label" for="txtBindBarcode@(itemName)">綁定條碼<span class="text-danger">*</span></label>

                                            <input type="text" class="form-control" id="txtBindBarcode@(itemName)" name="txtYTrayLocalQ@(itemName)"
                                                   placeholder="請輸入綁定條碼" />
                                        </div>

                                        <div class="col-auto">
                                            <label class="form-label" for="txtBarcodeQty@(itemName)">條碼數量<span class="text-danger"></span></label>

                                            <input type="text" class="form-control" id="txtBarcodeQty@(itemName)" name="txtXTrayLocalQ@(itemName)"
                                                   placeholder="請輸入條碼數量" />
                                        </div>


                                    </div>
                                    <div class="col-6 text-right" style="margin-left: auto; padding-top: 30px;">
                                        <a class="btn btn-secondary auth-add" href="javascript:PopBarcodeIn@(itemName)();"><i class="fas fa-mail-bulk"></i>條碼帶入</a>
                                        <a class="btn btn-danger auth-add" href="javascript:PopCreatNewBarcode@(itemName)();"><i class="fas fa-plus"></i>產生新條碼</a>
                                        <a id="aPopViewPoDetail@(itemName)" class="btn btn-success auth-add" href="javascript:PopPrint@(itemName)();"><i class="fas fa-print"></i>列印條碼</a>
                                        <a class="btn btn-info auth-add" href="javascript:DeleteAllBind@(itemName)();"><i class="fas fa-trash-alt"></i>批量刪除</a>


                                    </div>
                                </div>

                                @*<div class="form-row align-items-center mb-2">


                                        <div class="col-auto">
                                            <label class="form-label" for="txtPackageNoQ@(itemName)">包裝條碼<span class="text-danger"></span></label>

                                            <input type="text" class="form-control" id="txtPackageNoQ@(itemName)" name="txtPackageNoQ@(itemName)"
                                                   placeholder="請輸入包裝條碼" />
                                        </div>



                                    </div>*@



                            </fieldset>
                        </form>

                        <div class="table-custom">

                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th class="text-left col-sticky checkbox-mode" scope="col" style="min-width: 110px;">
                                            <label class="col-12 col-form-label">
                                                全選 <input type="checkbox" id="cbxSelectAll@(itemName)" />
                                            </label>
                                        </th>
                                        <th class="text-left" scope="col" style="min-width: 115px;">綁定條碼</th>
                                        <th class="text-left" scope="col" style="min-width: 115px;">條碼數量</th>
                                        <th class="text-left" scope="col" style="min-width: 115px;">綁定人員</th>
                                        <th class="text-left" scope="col" style="min-width: 115px;">綁定時間</th>
                                        <th class="text-left" scope="col" style="min-width: 115px;">操作</th>

                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="creatBarcodeModalQuery@(itemName)">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">條碼新增設置</h5>
                <button class="close" type="button" onclick="Close@(itemName)('#creatBarcodeModalQuery@(itemName)')">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row" id="listData@(itemName)">
                    <div class="col-12">
                        <form autocomplete="off" id="queryForm@(itemName)">
                            <fieldset>
                                <div class="form-row align-items-center mb-2">
                                    <div class="col-auto">
                                        <label class="form-label" for="txtBarcodePrefix@(itemName)">條碼前綴<span class="text-danger"></span></label>

                                        <input type="text" class="form-control" id="txtBarcodePrefix@(itemName)" name="txtBarcodePrefix@(itemName)"
                                               placeholder="請輸入條碼前綴" />
                                    </div>

                                    <div class="col-auto">
                                        <label class="form-label" for="txtBarcodeSuffix@(itemName)">條碼後綴<span class="text-danger"></span></label>

                                        <input type="text" class="form-control" id="txtBarcodeSuffix@(itemName)" name="txtBarcodeSuffix@(itemName)"
                                               placeholder="請輸入條碼後綴" />
                                    </div>

                                    <div class="col-auto">
                                        <label class="form-label" for="txtSeqQty@(itemName)">流水碼長度<span class="text-danger"></span></label>

                                        <input type="number" class="form-control" id="txtSeqQty@(itemName)" name="txtSeqQty@(itemName)"
                                               placeholder="請輸入條碼數量" min="0" value="4"/>
                                    </div>

                                    <div class="col-auto">
                                        <label class="form-label" for="txtCreatBarcodeQty@(itemName)">條碼數量<span class="text-danger"></span></label>

                                        <input type="text" class="form-control" id="txtCreatBarcodeQty@(itemName)" name="txtCreatBarcodeQty@(itemName)"
                                               placeholder="請輸入條碼數量" />
                                    </div>
                                </div>

                            </fieldset>
                        </form>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="AddLotBindCreatBarcode@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>新增</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="PackagePrint@(itemName)">
    <div class="modal-dialog modal-lg" style="padding-top:7%;">
        <div class="modal-content working-content" style="min-width:350px;">
            <div class="modal-header" style="align-items: center;">
                <h5 class="modal-title">
                    條碼列印
                </h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                @*<div class="input-group">
                        <span class="input-group-addon font18" id="basic-addon13">
                            <i class="fa fa-paint-brush" style="padding-right: 5px;"></i> 機種
                        </span>
                        <select class="form-control" id="cboMachine@(itemName)" name="cboMachine@(itemName)">
                            <option value="">-- 請選擇機種 --</option>
                        </select>
                    </div>*@

                <div class="input-group">
                    <span class="input-group-addon font18" id="basic-addon13">
                        <i class="fa fa-paint-brush" style="padding-right: 5px;"></i> 標籤機
                    </span>
                    <select class="form-control" id="cboPrintMachine@(itemName)" name="cboPrintMachine@(itemName)">
                        <option value="">-- 請選擇標籤機 --</option>
                    </select>
                </div>



            </div>
            <div class="modal-footer">
                <div>
                    <button id="aPrintPackageBarcode@(itemName)" type="button" class="btn-sure btn btn-success btn-flat mb-2 weight-600"
                            onclick="javascript: Print@(itemName)();">
                        確定
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="BarcodeIn@(itemName)">
    <div class="modal-dialog modal-lg" style="padding-top:7%;">
        <div class="modal-content working-content" style="min-width:350px;">
            <div class="modal-header" style="align-items: center;">
                <h5 class="modal-title">
                    條碼帶入
                </h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-12 col-form-label" for="txtCcStageDataFileId@(itemName)">檔案上傳</label>
                    <div class="col-12">
                        <input type="file" id="CcStageDataFileId@(itemName)" name="CcStageDataFileId@(itemName)" multiple />
                        <input type="hidden" id="txtCcStageDataFileId@(itemName)" name="txtCcStageDataFileId@(itemName)" />
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <div>
                    <button id="aPrintPackageBarcode@(itemName)" type="button" class="btn-sure btn btn-success btn-flat mb-2 weight-600"
                            onclick="javascript: BarcodeInto@(itemName)();">
                        確定帶入
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>





@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 999
        };

        let objForm@(itemName) = "#editForm@(itemName)";

        let grDetailId@(itemName);

        let lotNumber@(itemName);
        let mtlItemId@(itemName);
        let lotNumberId@(itemName);




        function Pop@(itemName)(grDetailId) {
            grDetailId@(itemName) = grDetailId;

            console.log(248, grDetailId@(itemName))

            //Query@(itemName)();

            $("#modal@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });

            Query@(itemName)()

        ComboBoxs.Default("#cboPrintMachine@(itemName)", "@Url.Action("GetLabelPrintMachine", "ProductionHistory")", {}, "", "CHOOSE", "請選擇標籤機", "LabelPrintName", "LabelPrintNo");


            $("#txtBindBarcode@(itemName)").keydown(function (event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    AddLotBindBarcode@(itemName)();
                    return false;
                }
            });


        }

        function PopCreatNewBarcode@(itemName)(grDetailId) {
            $("#creatBarcodeModalQuery@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });
        }

        function PopPrint@(itemName)() {

            $("#PackagePrint@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });
        @*printPackageBarcodeId@(itemName) = packageBarcodeId;*@
            //Edit@(itemName)(packageBarcodeId);

        }

        function PopBarcodeIn@(itemName)() {

            $("#BarcodeIn@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });
        @*printPackageBarcodeId@(itemName) = packageBarcodeId;*@
            //Edit@(itemName)(packageBarcodeId);
            //#region 檔案上傳套件
            let uploadConfig = {
                fileSelector: "#CcStageDataFileId@(itemName)",
                targetSelector: "#txtCcStageDataFileId@(itemName)",
                required: false,
                uploadPath: "/LotNumber/LotBarcode",
                maxFileCount: 1,
                defaultFile: $("#txtCcStageDataFileId@(itemName)").val()
            };

            Suites.FileUpload(uploadConfig);
            
                //#endregion
        }

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)();
        }

        function InitData@(itemName)() {
            let innerHtml = '';
            let pageCount = 0;

            let targetUrl = "@Url.Action("GetGrDetail", "GoodsReceipt")";
                let postData = {
                    "GrDetailId": grDetailId@(itemName)
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        lotNumber@(itemName) = item.LotNumber;
                        mtlItemId@(itemName) = item.MtlItemId;
                    });
                    GetLnBarcode@(itemName)( objPage@(itemName))
                } else {
                    alert(data.msg, "alert", 0);
                }

        }

        function GetLnBarcode@(itemName)(objPage) {

             let innerHtml = '';
            let pageCount = 0;

            let targetUrl = "@Url.Action("GetLnBarcode", "GoodsReceipt")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "LotNumberNo": lotNumber@(itemName),
                "MtlItemId": mtlItemId@(itemName),
                "GrDetailId": grDetailId@(itemName)
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";
                        lotNumberId@(itemName) = item.LotNumberId;
                        innerHtml += `<tr>
                                        <td><span class="stack-title">#</span>${_row}</td>
                                         <td class="text-center">
                                            <label class="control control-solid control-solid-info control--checkbox">
                                                <input type="checkbox"  data-lnbarcode-id="${item.GrBarcodeId}" data-barcode-no="${item.BarcodeNo}" value="${item.GrBarcodeId}" />
                                                <span class="control__indicator"></span>
                                            </label>
                                        </td>
                                        <td class="text-left" data-toggle="tooltip" title="${item.BarcodeNo}" style="min-width: 115px;">${item.BarcodeNo}</td>
                                        <td class="text-right" data-toggle="tooltip" title="${item.BarcodeQty}" style="min-width: 115px;">${item.BarcodeQty}</td>
                                        <td class="text-left" data-toggle="tooltip" title="${item.UserName}" style="min-width: 115px;">${item.UserNo} - ${item.UserName}</td>
                                        <td class="text-left" data-toggle="tooltip" title="${item.CreateDate}" style="min-width: 115px;">${item.CreateDate}</td>

                                        <td class="text-center active-content" style="min-width: 135px;">
                                            <a class="active-link" href="javascript:Delete@(itemName)('${item.GrBarcodeId}');"><i class="fas fa-trash">解除綁定</i></a>

                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="16" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

            $("#cbxSelectAll@(itemName)").off("click").on("click", function () {
                if ($("#cbxSelectAll@(itemName)").is(":checked")) {
                    $("input[type='checkbox'][data-lnbarcode-id").not(":disabled").prop("checked", true);
                } else {
                    $("input[type='checkbox'][data-lnbarcode-id").not(":disabled").prop("checked", false);
                }
            });

        }

        function DeleteAllBind@(itemName)() {
        //let printIdList = [];
        //$.each($("input[type='checkbox'][data-type='BarcodePrint']:checked"), function (i) {
        //    printIdList.push($(this).val());
        //});

        swal.fire({
            titleText: "確認要全部刪除嗎?",
            text: "此動作無法復原，請確認是否要執行!",
            icon: "warning",
            allowOutsideClick: false,
            allowEscapeKey: false,
            showCancelButton: true,
            confirmButtonColor: '#d33',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                let targetUrl = "@Url.Action("DeleteAllBind", "GoodsReceipt")";
                let postData = {
                    "GrDetailId": grDetailId@(itemName)
                };

                let result = DataAccess.Delete(targetUrl, postData, false, true);

                if (result) {
                    Query@(itemName)();
                }
            }
        });
    }

        function AddLotBindBarcode@(itemName)() {
            let targetUrl = "@Url.Action("AddLotBindBarcode", "GoodsReceipt")";
            let postData = {
                "GrDetailId": grDetailId@(itemName),
                "BarcodeNo": $("#txtBindBarcode@(itemName)").val(),
                "BarcodeQty": $("#txtBarcodeQty@(itemName)").val()
            };

            let data = DataAccess.EditContinued(targetUrl, postData, false);

            if (data) {
                //$("#modalQc@(itemName)").modal("hide");


                Query@(itemName)();
                alert("新增完成", "success");
                $("#txtBindBarcode@(itemName)").val("");
                //$("#txtBarcodeQty@(itemName)").val("");

            }

        }

        function AddLotBindCreatBarcode@(itemName)() {//txtSeqQty
            let targetUrl = "@Url.Action("AddLotBindCreatBarcode", "GoodsReceipt")";
            let postData = {
                "GrDetailId": grDetailId@(itemName),
                "BarcodeQty": $("#txtCreatBarcodeQty@(itemName)").val(),
                "prefix": $("#txtBarcodePrefix@(itemName)").val(),
                "suffix": $("#txtBarcodeSuffix@(itemName)").val(),
                "seq": $("#txtSeqQty@(itemName)").val()

            };

            let data = DataAccess.EditContinued(targetUrl, postData, false);

            if (data) {
                //$("#modalQc@(itemName)").modal("hide");


                Query@(itemName)();
                alert("新增完成", "success");
                $("#creatBarcodeModalQuery@(itemName)").modal("hide");
                $("#txtBarcodePrefix@(itemName)").val("");
                $("#txtBarcodeSuffix@(itemName)").val("");
                $("#txtCreatBarcodeQty@(itemName)").val("");
            }

        }

        function Edit@(itemName)() {


        }



        function Delete@(itemName)(LnBarcodeId) {
            swal.fire({
                titleText: "確認要解除綁定嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteLnBarcode", "GoodsReceipt")";
                    let postData = {
                        "LnBarcodeId": LnBarcodeId
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, false);

                    if (result) {
                        Return@(itemName)();
                    }
                }
            });
        }

        function Print@(itemName)() {

            let barcodeNoList = [];
            $.each($("input[type='checkbox'][data-barcode-no]:checked"), function (i) {
                let barcodeNo = $(this).data("barcode-no");
                barcodeNoList.push(barcodeNo);
            });

            if (barcodeNoList.length <= 0) {
                alert("至少需要勾選一個條碼!!");
                return false;
            }

            console.log(15249, barcodeNoList)

            let modalName = "PackagePrint@(itemName)"
            @*let targetUrl = "@Url.Action("PrintLotNumBarcode", "PrintLabel")";
            let postData = {
                "LotNumberId": lotNumberId@(itemName),
                "PrintMachineName": $("#cboPrintMachine@(itemName)").val()
            };
            let data = DataAccess.Get(targetUrl, postData, false);
            if (data.status == "success") {
                alert("列印成功", "success", 0);

            } else {
                alert(data.msg, "alert", 0);
            }*@

            $("#" + modalName).modal('hide');

        }

        

        function BarcodeInto@(itemName)() {
            let targetUrl = "@Url.Action("IntoLotBindBarcode", "GoodsReceipt")";
            let postData = {
                "GrDetailId": grDetailId@(itemName),
                "FileId": $("#txtCcStageDataFileId@(itemName)").val()
            };

            let result = DataAccess.Add(targetUrl, postData, false, true);

            if (result) {
                $("#BarcodeIn@(itemName)").modal("hide"); 
                

                Return@(itemName)();

                $("#txtCcStageDataFileId@(itemName)").val("")
                $("#CcStageDataFileId@(itemName)").val("")
            }
        }

        function Return@(itemName)() {
            //ResetForm(objForm@(itemName));
            //Switch("#listData@(itemName), .list-mode", "#editData@(itemName), .edit-mode");
            $("#txtBarcodeNo@(itemName)").val("");
            Query@(itemName)();
        }

        function Close@(itemName)(modalName) {
            $("#txtBindBarcode@(itemName)").val("");
            $("#txtBarcodeQty@(itemName)").val("");
            $("#txtBarcodePrefix@(itemName)").val("");
            $("#txtBarcodeSuffix@(itemName)").val("");
            $("#txtCreatBarcodeQty@(itemName)").val("");
            $("#txtCcStageDataFileId@(itemName)").val("")
                $("#CcStageDataFileId@(itemName)").val("")
            $(modalName).modal("hide");
        }
</script>
                                                                                                                )