@using Business_Manager.Helpers
@{
    string itemName = "ReturnMerchandiseAuthorization";
    string itemNameText = "退(換)貨資料管理";
    string authority = ViewBag.authority;

    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
        .table-log {
            margin: 0;
            padding: 0;
            max-height: 30vh;
            margin-bottom: .75rem;
        }

            .table-log th {
                background-color: #d7ecfa !important;
            }

            .table-log th, .table-log td {
                padding: 5px 0;
                text-align: center;
            }
    </style>
)

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtRmaNoQ@(itemName)">退貨單號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtRmaNoQ@(itemName)" name="txtRmaNoQ@(itemName)" placeholder="請輸入退貨單號" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtErpNoQ@(itemName)">ERP單號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtErpNoQ@(itemName)" name="txtErpNoQ@(itemName)" placeholder="請輸入ERP單號" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboCustomerIdQ@(itemName)">客戶</label>
                            <div class="col-12">
                                <select class="form-control" id="cboCustomerIdQ@(itemName)" name="cboCustomerIdQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtSearchKeyQ@(itemName)">品號/品名</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtSearchKeyQ@(itemName)" name="txtSearchKeyQ@(itemName)" placeholder="請輸入品號/品名" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">狀態</label>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    已確認
                                    <input type="checkbox" id="cbxConfirmStatusQ@(itemName)Y" name="cbxConfirmStatusQ@(itemName)" value="Y" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    未確認
                                    <input type="checkbox" id="cbxConfirmStatusQ@(itemName)N" name="cbxConfirmStatusQ@(itemName)" value="N" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">退貨日期 <input type="checkbox" id="cbxUseDate@(itemName)" /></label>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtStartDateQ@(itemName)" name="txtStartDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtEndDateQ@(itemName)" name="txtEndDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);"><i class="fal fa-search"></i>搜尋</a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn btn-info auth-add" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky table-stack" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th scope="col" style="min-width: 165px;">退貨單號</th>
                                        <th scope="col" style="min-width: 165px;">客戶</th>
                                        <th scope="col" style="min-width: 125px;">退貨日期</th>
                                        <th scope="col" style="min-width: 175px;">退貨種類</th>
                                        <th scope="col" style="min-width: 250px;">備註</th>
                                        <th scope="col" style="min-width: 200px;">單據類型</th>
                                        <th scope="col" style="min-width: 175px;">確認者</th>
                                        <th class="text-center" scope="col" style="min-width: 250px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container custom-form-container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="RmaId" name="RmaId" value="-1" />
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtRmaNo@(itemName)">退貨單號 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="txtRmaNo@(itemName)" name="txtRmaNo@(itemName)" placeholder="請輸入退貨單號"
                                           readonly
                                           data-msg-required="請輸入退貨單號" data-rule-required="true" />
                                    <div class="input-group-append">
                                        <div class="btn-group">
                                            <a class="btn btn-danger" href="javascript:void(0);" onclick="Generate@(itemName)()"><i class="fas fa-random"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row transfer-block">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboTransferMode@(itemName)">拋轉模式</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <div class="input-group">
                                    <input type="hidden" id="txtTransferStatus@(itemName)" name="txtTransferStatus@(itemName)" />
                                    <input type="hidden" id="txtTransferMode@(itemName)" name="txtTransferMode@(itemName)" />
                                    <select class="form-control" id="cboTransferMode@(itemName)" name="cboTransferMode@(itemName)"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row transfer-block">
                            <div class="col-12 col-md-3 col-lg-3"></div>
                            <div class="col-12 col-md-9 col-lg-9">
                                <div class="table-custom table-log">
                                    <table class="table" id="tblLog@(itemName)">
                                        <thead>
                                            <tr>
                                                <th scope="col">單據號碼</th>
                                                <th scope="col">拋轉日期</th>
                                                <th scope="col">當前狀態</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboCustomerId@(itemName)">客戶</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboCustomerId@(itemName)" name="cboCustomerId@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtRmaDate@(itemName)">退貨日期 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtRmaDate@(itemName)" name="txtRmaDate@(itemName)" placeholder="請輸入退貨日期"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       data-msg-required="請輸入退貨日期" data-rule-required="true"
                                       readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboRmaType@(itemName)">退貨種類 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboRmaType@(itemName)" name="cboRmaType@(itemName)"
                                        data-msg-required="請選擇退貨種類" data-rule-required="true"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtRmaRemark@(itemName)">備註</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <textarea class="form-control" id="txtRmaRemark@(itemName)" name="txtRmaRemark@(itemName)"
                                          cols="2"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboDocType@(itemName)">開立單據類型 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboDocType@(itemName)" name="cboDocType@(itemName)"
                                        data-msg-required="請選擇開立單據類型" data-rule-required="true"></select>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right read-hide">
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

<div class="advanced-block">
    <div class="row">
        <div class="col-12">
            <ul class="nav flag-tabs nav-fill" role="tablist">
                <li class="flag-item">
                    <a class="flag-link" data-toggle="tab" href="#tabRmaDetail">
                        <i class="fas fa-list-ol"></i> 項目
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane" id="tabRmaDetail">
            @Html.Partial("RmaDetail")
        </div>
    </div>
</div>

@Html.Partial("ViewTempShippingNote")

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        $(document).ready(function () {
            let currentDate = new Date();

            Suites.DatePicker("txtEndDateQ@(itemName)", currentDate);
            currentDate.setDate(currentDate.getDate() - 7);
            Suites.DatePicker("txtStartDateQ@(itemName)", currentDate);

            ComboBoxs.Default("#cboCustomerIdQ@(itemName)", "@Url.Action("GetCustomer", "ScmBasicInformation")", { "Status": "A", "TransferStatus": "A"}, "", "ALL", "", "CustomerWithNo", "CustomerId");

            $("#cboCustomerIdQ@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });

            Query@(itemName)();

            $(".advanced-block a[data-toggle='tab']").on("shown.bs.tab", function (e) {
                InitParameter@(itemName)($(this));
            });
        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let targetUrl = "@Url.Action("GetReturnMerchandiseAuthorization", "Rma")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "RmaNo": $("#txtRmaNoQ@(itemName)").val(),
                "ErpNo": $("#txtErpNoQ@(itemName)").val(),
                "CustomerId": $("#cboCustomerIdQ@(itemName)").val(),
                "SearchKey": $("#txtSearchKeyQ@(itemName)").val(),
                "ConfirmStatus": $("input[name='cbxConfirmStatusQ@(itemName)']:checked").toArray().map(item => item.value).join(","),
                "StartDate": ($("#cbxUseDate@(itemName)").is(":checked") ? $("#txtStartDateQ@(itemName)").val() : ""),
                "EndDate": ($("#cbxUseDate@(itemName)").is(":checked") ? $("#txtEndDateQ@(itemName)").val() : "")
            };
            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr>
                                        <td><span class="stack-title">#</span>${_row}</td>
                                        <td>
                                          <span class="stack-title">退貨單號</span>
                                          ${item.RmaNo}
                                          ${item.ConfirmStatus == `Y` ? `<span class="text-success"><i class="fas fa-badge-check"></i></span>` : ``}
                                        </td>
                                        <td><span class="stack-title">客戶</span>${item.CustomerNo} ${item.CustomerShortName}</td>
                                        <td><span class="stack-title">退貨日期</span>${item.RmaDate}</td>
                                        <td><span class="stack-title">退貨種類</span>${item.RmaTypeName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Remark}" style="max-width: 250px;"><span class="stack-title">備註</span>${item.RmaRemark.replace(/\r\n|\r|\n/g, `<br />`)}</td>
                                        <td>
                                          <span class="stack-title">單據類型</span>
                                          <span class="stack-content">
                                            ${item.DocTypeName}
                                            ${item.TransferStatus == `Y` ? `<br /><span class="text-primary">${item.ErpPrefix}-${item.ErpNo}</span> ${ErpDocStatus(item.DocStatus)}` : ``}
                                          </span>
                                        </td>
                                        <td>
                                          <span class="stack-title">確認者</span>
                                          ${item.ConfirmUserGender == `M` ? `<span class="gender-male"><i class="fas fa-male"></i></span>` : item.ConfirmUserGender == `F` ? `<span class="gender-female"><i class="fas fa-female"></i></span>` : ``}${item.ConfirmUserNo} ${item.ConfirmUserName}
                                        </td>
                                        <td class="text-center active-content">
                                          <span class="stack-title">操作</span>
                                          ${item.ConfirmStatus == `Y` ? `<a class="active-link auth-read" href="javascript:Read@(itemName)(${item.RmaId});"><i class="fas fa-eye"></i></a>` : ``}
                                          ${item.ConfirmStatus == `N` ? `<a class="active-link auth-update" href="javascript:Edit@(itemName)(${item.RmaId});"><i class="fas fa-edit"></i></a>` : ``}
                                          ${item.ConfirmStatus == `N` ? `<a class="active-link auth-delete" href="javascript:Delete@(itemName)(${item.RmaId});"><i class="fas fa-trash-alt"></i></a>` : ``}
                                          ${item.ConfirmStatus == `N` ? `<a class="active-link auth-confirm" href="javascript:Confirm@(itemName)(${item.RmaId})"});"><i class="fas fa-check-circle"></i><span>確認</span></a>` : ``}
                                          ${item.ConfirmStatus == `Y` ? `<a class="active-link auth-reconfirm" href="javascript:ReConfirm@(itemName)(${item.RmaId});"><i class="fas fa-undo-alt"></i><span>反確認</span></a>` : ``}
                                          ${item.ConfirmStatus == `Y` ? `<a class="active-link doc-dropdown" data-rma-id="${item.RmaId}" href="javascript:void(0);"><i class="fas fa-file-download"></i><span>單據下載</span></a>` : ``}
                                          <div class="dropdown-menu" data-rma-id="${item.RmaId}">
                                            <a class="dropdown-item auth-rma-doc" href="javascript:Word@(itemName)(${item.RmaId}, 'rma');">客戶退(換)貨通知單</a>
                                            ${item.DocType == `A` ? `<a class="dropdown-item auth-temp-shipping-return-doc" href="javascript:Word@(itemName)(${item.RmaId}, 'temp-shipping-return');">暫出歸還單</a>` : ``}
                                            ${item.DocType == `B` ? `<a class="dropdown-item auth-inventory-transaction-doc-1106" href="javascript:Word@(itemName)(${item.RmaId}, 'inventory-transaction-1106');">客供入料單</a>` : ``}
                                            ${item.DocType == `C` ? `<a class="dropdown-item auth-inventory-transaction-doc-1109" href="javascript:Word@(itemName)(${item.RmaId}, 'inventory-transaction-1109');">0成本入庫單</a>` : ``}
                                          </div>

                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="9" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

            $(".doc-dropdown").off("click").on("click", function () {
                let rmaId = $(this).data("rma-id");

                if ($(`.dropdown-menu[data-rma-id='${rmaId}']`).hasClass("show")) {
                    $(".dropdown-menu").removeClass("show");
                } else {
                    $(".dropdown-menu").removeClass("show");

                    $(`.dropdown-menu[data-rma-id='${rmaId}']`).addClass("show");
                    $(`.dropdown-menu[data-rma-id='${rmaId}']`).css({
                        top: `${$(this).position().top + $(this).height() + 5}px`,
                        left: `${$(this).position().left - $(this).width() - 29}px`
                    });
                }
            });

            $("body").off("click").on("click", function (e) {
                if ($(".dropdown-menu").hasClass("show")) {
                    if (!$(e.target).hasClass("doc-dropdown")
                        && !$(e.target).parents().hasClass("doc-dropdown")) {
                        $(".dropdown-menu").removeClass("show");
                    }
                }
            });
        }

        function Read@(itemName)(RmaId) {
            Edit@(itemName)(RmaId);
            $(objForm@(itemName) + " fieldset").attr("disabled", true);
            $(objForm@(itemName) + " select").attr("disabled", true);
            $(".read-hide").hide();
        }

        function Edit@(itemName)(RmaId) {
            $("#RmaId").val(RmaId ? RmaId : 0);

            $(objForm@(itemName) + " fieldset").attr("disabled", false);
            $(objForm@(itemName) + " select").attr("disabled", false);
            $(".read-hide").show();
            $(".transfer-block").hide();

            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");

            let currentDate = new Date();
            Suites.DatePicker("txtRmaDate@(itemName)", currentDate);

            ComboBoxs.Default("#cboCustomerId@(itemName)", "@Url.Action("GetCustomer", "ScmBasicInformation")", { "Status": "A", "TransferStatus": "A" }, "", "NA", "", "CustomerWithNo", "CustomerId");
            ComboBoxs.Default("#cboRmaType@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "ReturnMerchandiseAuthorization.RmaType" }, "", "CHOOSE", "", "TypeName", "TypeNo");
            ComboBoxs.Default("#cboDocType@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "ReturnMerchandiseAuthorization.DocType" }, "", "CHOOSE", "", "TypeName", "TypeNo");

            if (RmaId > 0) {
                let targetUrl = "@Url.Action("GetReturnMerchandiseAuthorization", "Rma")";
                let postData = {
                    "RmaId": RmaId
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        $("#txtRmaNo@(itemName)").val(item.RmaNo);
                        $("#cboCustomerId@(itemName)").val(item.CustomerId);                        
                        Suites.DatePicker("txtRmaDate@(itemName)", new Date(item.RmaDate));
                        $("#cboRmaType@(itemName)").val(item.RmaType);
                        $("#txtRmaRemark@(itemName)").val(item.RmaRemark);
                        $("#cboDocType@(itemName)").val(item.DocType);
                        $("#txtTransferStatus@(itemName)").val(item.TransferStatus);
                        $("#txtTransferMode@(itemName)").val(item.TransferMode);

                        if (item.TransferStatus == "Y") {
                            $(".transfer-block").show();
                            ComboBoxs.Default("#cboTransferMode@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "ReturnMerchandiseAuthorization.TransferMode" }, "", "CHOOSE", "", "TypeName", "TypeNo");
                            $("#cboTransferMode@(itemName)").val(item.TransferMode);

                            TransferLog(RmaId);
                        }
                    });

                    if ($(".advanced-block .flag-tabs > .flag-item > .flag-link").first().hasClass("active")) {
                        InitParameter@(itemName)($(".advanced-block .flag-tabs > .flag-item").first().find("a"));
                    } else {
                        $(".advanced-block .flag-tabs > .flag-item").first().find("a").trigger("click");
                    }
                } else {
                    alert(data.msg, "alert", 0);
                }
            } else {
                Generate@(itemName)();
            }

            $("#cboCustomerId@(itemName), #cboRmaType@(itemName), #cboDocType@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });
        }

        function TransferLog(RmaId) {
            let innerHtml = '';
            
            let targetUrl = "@Url.Action("GetRmaTransferLog", "Rma")";
            let postData = {
                "RmaId": RmaId
            };
            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                if (data.result.length > 0) {
                    $.each(data.result, function (i, item) {
                        innerHtml += `<tr>
                                        <td>
                                          <span class="${item.Status == `A` ? `` : `text-secondary`}">
                                            ${item.Status == `A` ? item.ErpFullNo : `<del>${item.ErpFullNo}</del>`}
                                          </span>
                                        </td>
                                        <td><span class="${item.Status == `A` ? `` : `text-secondary`}">${item.CreateDate}</span></td>
                                        <td><span class="${item.Status == `A` ? `text-success` : `text-secondary`}">${item.StatusName}</span></td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="3" style="background-color: #fff3cd;">
                                        <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblLog@(itemName) tbody").html(innerHtml);
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let RmaId = parseInt($("#RmaId").val());

                if (RmaId <= 0) {
                    let targetUrl = "@Url.Action("AddReturnMerchandiseAuthorization", "Rma")";
                    let postData = {
                        "RmaNo": $("#txtRmaNo@(itemName)").val(),
                        "CustomerId": $("#cboCustomerId@(itemName)").val(),
                        "RmaDate": $("#txtRmaDate@(itemName)").val(),
                        "RmaType": $("#cboRmaType@(itemName)").val(),
                        "RmaRemark": $("#txtRmaRemark@(itemName)").val(),
                        "DocType": $("#cboDocType@(itemName)").val()
                    };

                    let data = DataAccess.EditContinued(targetUrl, postData, false);

                    if (data) {
                        $.each(data.result, function (i, item) {
                            $("#RmaId").val(item.RmaId);
                            $("#txtTransferStatus@(itemName)").val(item.TransferStatus);
                            $("#txtTransferMode@(itemName)").val(item.TransferMode);
                        });

                        if ($(".advanced-block .flag-tabs > .flag-item > .flag-link").first().hasClass("active")) {
                            InitParameter@(itemName)($(".advanced-block .flag-tabs > .flag-item").first().find("a"));
                        } else {
                            $(".advanced-block .flag-tabs > .flag-item").first().find("a").trigger("click");
                        }
                    }
                } else {
                    let targetUrl = "@Url.Action("UpdateReturnMerchandiseAuthorization", "Rma")";
                    let postData = {
                        "RmaId": RmaId,
                        "RmaNo": $("#txtRmaNo@(itemName)").val(),
                        "CustomerId": $("#cboCustomerId@(itemName)").val(),
                        "RmaDate": $("#txtRmaDate@(itemName)").val(),
                        "RmaType": $("#cboRmaType@(itemName)").val(),
                        "RmaRemark": $("#txtRmaRemark@(itemName)").val(),
                        "DocType": $("#cboDocType@(itemName)").val(),
                        "TransferMode": $("#txtTransferStatus@(itemName)").val() == "Y" ? $("#cboTransferMode@(itemName)").val() : $("#txtTransferMode@(itemName)").val()
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        ReturnRmaDetail();
                    }
                }
            }
        }

        function Delete@(itemName)(RmaId) {
            swal.fire({
                titleText: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteReturnMerchandiseAuthorization", "Rma")";
                    let postData = {
                        "RmaId": RmaId
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function Confirm@(itemName)(RmaId) {
            swal.fire({
                titleText: "是否確認此退(換)貨單?",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("UpdateReturnMerchandiseAuthorizationConfirm", "Rma")";
                    let postData = {
                        "RmaId": RmaId
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Return@(itemName)();
                    }
                }
            });
        }

        function ReConfirm@(itemName)(RmaId) {
            swal.fire({
                titleText: "是否反確認此退(換)貨單?",
                text: "如已產生帳務，將無法執行此動作!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("UpdateReturnMerchandiseAuthorizationReConfirm", "Rma")";
                    let postData = {
                        "RmaId": RmaId
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Return@(itemName)();
                    }
                }
            });
        }

        function Word@(itemName)(RmaId, Doc) {
            let targetUrl = "@Url.Action("ReturnMerchandiseAuthorizationDocDownload", "Rma")";
            let postData = {
                "RmaId": RmaId,
                "Doc": Doc
            };

            FileAccess.AjaxDownload(targetUrl, postData, false);
        }

        function Return@(itemName)() {
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName)", "#editData@(itemName), .unit-block, .advanced-block");
            Query@(itemName)();
        }

        function InitParameter@(itemName)(selector) {
            let initFnString = "Expand";
            let content = selector.attr("href").split('#tab')[1].split('@(itemName)')[0];

            switch (content) {
                case "RmaDetail":
                    initFnString += "RmaDetail";
                    break;
            }

            let initFn = window[initFnString];
            if (initFn && typeof (initFn) == "function") {
                initFn();
            }
        }

        function Generate@(itemName)() {
            let targetUrl = "@Url.Action("GetRandomRmaNo", "Rma")";
            let postData = {};

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                $("#txtRmaNo@(itemName)").val(data.result);
            } else {
                alert(data.msg, "alert", 0);
            }
        }
    </script>
)