@using Business_Manager.Helpers
@{
    string itemName = "ActivityManagement";
    string itemNameText = "活動資料管理";
    string authority = ViewBag.authority;

    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
    </style>
)

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboAnnualIdQ@(itemName)">年度</label>
                            <div class="col-12">
                                <select class="form-control" id="cboAnnualIdQ@(itemName)" name="cboAnnualIdQ@(itemName)"
                                        data-msg-required="請選擇年度" data-rule-required="true"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtActivityNameQ@(itemName)">活動名稱</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtActivityNameQ@(itemName)" name="txtActivityNameQ@(itemName)" placeholder="請輸入活動名稱" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">活動時間 <input type="checkbox" id="cbxUseDate@(itemName)" /></label>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtStartDateQ@(itemName)" name="txtStartDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtEndDateQ@(itemName)" name="txtEndDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">狀態</label>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    啟用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)A" name="cbxStatusQ@(itemName)" value="A" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    停用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)S" name="cbxStatusQ@(itemName)" value="S" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3 justify-content-between">
                    <div class="col-auto col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);"><i class="fal fa-search"></i>搜尋</a>
                    </div>
                    <div class="col-auto col-sm-6 col-md-6 text-right">
                        <a class="btn btn-info auth-add" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky table-stack" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th scope="col" style="min-width: 200px;">活動名稱</th>
                                        <th scope="col" style="min-width: 250px;">活動日期</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">狀態</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="tab">
                    <ul class="nav nav-tabs nav-fill mb-3" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabActivity">
                                <i class="fas fa-copyright"></i> 活動資料
                            </a>
                        </li>
                        <li class="nav-item auth-awards">
                            <a class="nav-link" data-toggle="tab" href="#tabAwards">
                                <i class="fas fa-trophy"></i> 活動獎項
                            </a>
                        </li>
                        <li class="nav-item auth-points">
                            <a class="nav-link" data-toggle="tab" href="#tabPoints">
                                <i class="fas fa-star"></i> 活動積分
                            </a>
                        </li>
                        <li class="nav-item auth-participants">
                            <a class="nav-link" data-toggle="tab" href="#tabParticipants">
                                <i class="fas fa-user-friends"></i> 參與人員
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="tabActivity">
                        <div class="card card-shadow">
                            <div class="card-body">
                                <form class="container custom-form-container" autocomplete="off" id="editForm@(itemName)">
                                    <fieldset>
                                        <input type="hidden" id="ActivityId" name="ActivityId" value="-1" />
                                        <div class="form-group row">
                                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboAnnualId@(itemName)">年度 <span class="text-danger">*</span></label>
                                            <div class="col-12 col-md-9 col-lg-9">
                                                <select class="form-control" id="cboAnnualId@(itemName)" name="cboAnnualId@(itemName)"
                                                        data-msg-required="請選擇年度" data-rule-required="true"></select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtActivityName@(itemName)">活動名稱 <span class="text-danger">*</span></label>
                                            <div class="col-12 col-md-9 col-lg-9">
                                                <input type="text" class="form-control" id="txtActivityName@(itemName)" name="txtActivityName@(itemName)" placeholder="請輸入活動名稱"
                                                       data-msg-required="請輸入活動名稱" data-rule-required="true"
                                                       data-msg-maxlength="必須少於 100 個字元" maxlength="100" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtActivityStartDate@(itemName)">活動開始日期 <span class="text-danger">*</span></label>
                                            <div class="col-12 col-md-9 col-lg-9">
                                                <input type="text" class="form-control" id="txtActivityStartDate@(itemName)" name="txtActivityStartDate@(itemName)" placeholder="請輸入活動開始日期"
                                                       data-msg-required="請輸入活動開始日期" data-rule-required="true"
                                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                                       readonly />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtActivityEndDate@(itemName)">活動結束日期 <span class="text-danger">*</span></label>
                                            <div class="col-12 col-md-9 col-lg-9">
                                                <input type="text" class="form-control" id="txtActivityEndDate@(itemName)" name="txtActivityEndDate@(itemName)" placeholder="請輸入活動結束日期"
                                                       data-msg-required="請輸入活動結束日期" data-rule-required="true"
                                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                                       readonly />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtActivityContent@(itemName)">活動內容</label>
                                            <div class="col-12 col-md-9 col-lg-9">
                                                <textarea class="form-control" id="txtActivityContent@(itemName)" name="txtActivityContent@(itemName)"
                                                          rows="2" placeholder="請輸入活動內容"></textarea>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                            <div class="card-footer text-center text-lg-right">
                                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tabAwards">
                        @Html.Partial("Awards")
                    </div>
                    <div class="tab-pane" id="tabPoints">
                        @Html.Partial("Points")
                    </div>
                    <div class="tab-pane" id="tabParticipants">
                        @Html.Partial("Participants")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("ViewAwardsUser")
@Html.Partial("ViewUser")

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        $(document).ready(function () {
            let currentDate = new Date();

            Suites.DatePicker("txtStartDateQ@(itemName)", currentDate);
            currentDate.setDate(currentDate.getDate() + 7);
            Suites.DatePicker("txtEndDateQ@(itemName)", currentDate);

            ComboBoxs.Default("#cboAnnualIdQ@(itemName)", "@Url.Action("GetAnnual", "EbpBasicInformation")", {}, "", "ALL", "", "Annual", "AnnualId");

            Query@(itemName)();

            $("#editData@(itemName) a[data-toggle='tab']").on("shown.bs.tab", function (e) {
                InitParameter@(itemName)($(this));
            });

            $("#cboAnnualIdQ@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });
        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let statusList = [];
            $.each($("input[name='cbxStatusQ@(itemName)']:checked"), function () {
                statusList.push($(this).val());
            });

            let targetUrl = "@Url.Action("GetActivity", "Activity")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "AnnualId": $("#cboAnnualIdQ@(itemName)").val(),
                "ActivityName": $("#txtActivityNameQ@(itemName)").val(),
                "StartDate": ($("#cbxUseDate@(itemName)").is(":checked") ? $("#txtStartDateQ@(itemName)").val() : ""),
                "EndDate": ($("#cbxUseDate@(itemName)").is(":checked") ? $("#txtEndDateQ@(itemName)").val() : ""),
                "Status": statusList.join(",")
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr>
                                        <td><span class="stack-title">#</span>${_row}</td>
                                        <td><span class="stack-title">活動名稱</span>${item.ActivityName}</td>
                                        <td>
                                          <span class="stack-title">活動日期</span>
                                          ${item.ActivityStartDate}
                                          ${item.ActivityStartDate != item.ActivityEndDate ? `<i class="fas fa-tilde"></i> ${item.ActivityEndDate}` : ``}
                                        </td>
                                        <td class="text-center auth-status-switch">
                                          <span class="stack-title">狀態</span>
                                          <input type="checkbox" name="chkStatus@(itemName)" data-activity-id="${item.ActivityId}" ${(item.Status == `A` ? `checked` : ``)} />
                                        </td>
                                        <td class="text-center un-auth auth-status-switch"><span class="stack-title">狀態</span>${StatusName(`Status`, item.Status)}</td>
                                        <td class="text-center active-content">
                                          <span class="stack-title">操作</span>
                                          <a class="active-link auth-update" href="javascript:Edit@(itemName)(${item.ActivityId});"><i class="fas fa-edit"></i></a>
                                          <a class="active-link auth-delete" href="javascript:Delete@(itemName)(${item.ActivityId});"><i class="fas fa-trash-alt"></i></a>
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="5" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

            $("input[name='chkStatus@(itemName)']").bootstrapToggle({
                on: "啟用",
                off: "停用",
                onstyle: "success",
                offstyle: "danger",
                size: "mini"
            });

            $("input[name='chkStatus@(itemName)'][data-activity-id]").change(StatusSwitch@(itemName));
        }

        function Edit@(itemName)(ActivityId) {
            $("#ActivityId").val(ActivityId ? ActivityId : 0);

            $("#editData@(itemName) .nav-tabs > .nav-item").first().find("a").trigger("click");

            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");

            let currentDate = new Date();
            Suites.DatePicker("txtActivityStartDate@(itemName)", currentDate);
            Suites.DatePicker("txtActivityEndDate@(itemName)", currentDate);

            ComboBoxs.Default("#cboAnnualId@(itemName)", "@Url.Action("GetAnnual", "EbpBasicInformation")", {}, "", "NA", "", "Annual", "AnnualId");

            if (ActivityId > 0) {
                let targetUrl = "@Url.Action("GetActivity", "Activity")";
                let postData = {
                    "ActivityId": ActivityId
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        $("#cboAnnualId@(itemName)").val(item.AnnualId);
                        $("#txtActivityName@(itemName)").val(item.ActivityName);
                        Suites.DatePicker("txtActivityStartDate@(itemName)", new Date(item.ActivityStartDate));
                        Suites.DatePicker("txtActivityEndDate@(itemName)", new Date(item.ActivityEndDate));
                        $("#txtActivityContent@(itemName)").val(item.ActivityContent);
                    });
                } else {
                    alert(data.msg, "alert", 0);
                }
            }

            $("#txtActivityStartDate@(itemName)").off("change").on("change", function () {
                Suites.DatePicker("txtActivityEndDate@(itemName)", new Date($(this).val()));
            });

            if ($("#editData@(itemName) .nav-tabs > .nav-item > .nav-link").first().hasClass("active")) {
                InitParameter@(itemName)($("#editData@(itemName) .nav-tabs > .nav-item").first().find("a"));
            } else {
                $("#editData@(itemName) .nav-tabs > .nav-item").first().find("a").trigger("click");
            }

            $("#cboAnnualId@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let ActivityId = parseInt($("#ActivityId").val());

                if (ActivityId <= 0) {
                    let targetUrl = "@Url.Action("AddActivity", "Activity")";
                    let postData = {
                        "AnnualId": $("#cboAnnualId@(itemName)").val(),
                        "ActivityName": $("#txtActivityName@(itemName)").val(),
                        "ActivityStartDate": $("#txtActivityStartDate@(itemName)").val(),
                        "ActivityEndDate": $("#txtActivityEndDate@(itemName)").val(),
                        "ActivityContent": $("#txtActivityContent@(itemName)").val()
                    };

                    let data = DataAccess.EditContinued(targetUrl, postData, false);

                    if (data) {
                        $.each(data.result, function (i, item) {
                            $("#ActivityId").val(item.ActivityId);
                        });

                        swal.fire({
                            icon: "success",
                            title: "新增完成"
                        });
                    }
                } else {
                    let targetUrl = "@Url.Action("UpdateActivity", "Activity")";
                    let postData = {
                        "ActivityId": ActivityId,
                        "AnnualId": $("#cboAnnualId@(itemName)").val(),
                        "ActivityName": $("#txtActivityName@(itemName)").val(),
                        "ActivityStartDate": $("#txtActivityStartDate@(itemName)").val(),
                        "ActivityEndDate": $("#txtActivityEndDate@(itemName)").val(),
                        "ActivityContent": $("#txtActivityContent@(itemName)").val()
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);
                }
            }
        }

        function Delete@(itemName)(ActivityId) {
            swal.fire({
                titleText: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteActivity", "Activity")";
                    let postData = {
                        "ActivityId": ActivityId
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function Return@(itemName)() {
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName)", "#editData@(itemName), .unit-block");
            Query@(itemName)();
        }

        function StatusSwitch@(itemName)() {
            var activityId = $(this).data("activity-id");

            let targetUrl = "@Url.Action("UpdateActivityStatus", "Activity")";
            let postData = {
                "ActivityId": activityId
            };

            let result = DataAccess.Update(targetUrl, postData, false, true);

            if (result) {
                Return@(itemName)();
                Query@(itemName)();
            }
        }

        function InitParameter@(itemName)(selector) {
            let initFnString = "Expand";
            let content = selector.attr("href").split('#tab')[1].split('@(itemName)')[0];
            
            switch (content) {
                case "Awards":
                    initFnString += "Awards";
                    break;
                case "Points":
                    initFnString += "Points";
                    break;
                case "Participants":
                    initFnString += "Participants";
                    break;
            }

            let initFn = window[initFnString];
            if (initFn && typeof (initFn) == "function") {
                initFn();
            }
        }
    </script>
)