@using Business_Manager.Helpers
@{
    string itemName = "RoutingManagement";
    string itemNameText = "途程資料管理";
    string authority = ViewBag.authority;
    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
         .empty-data-style {
             font-weight: 600;
             font-size: 18px;
             color: red;
         }

         .table:not(.table-custom-hover) tbody:hover td[rowspan], .table:not(.table-custom-hover) tbody tr:hover td,
         .table:not(.table-custom-hover) tbody:hover th[rowspan], .table:not(.table-custom-hover) tbody tr:hover th {
             color: #000000 !important;
             background-color: #ccecff !important;
         }
    </style>
                )

<input type="hidden" id="pageAuthority" value="@authority" />

<link href="@Url.Content("~/Content/dhtmlx/spreadsheet.commercial/4.3.0/spreadsheet.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/dhtmlx/spreadsheet.commercial/4.3.0/spreadsheet.min.js")"></script>

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboProdModeQ@(itemName)">生產模式</label>
                            <div class="col-12">
                                <select class="form-control" id="cboProdModeQ@(itemName)" name="cboProdModeQ@(itemName)">
                                    <option value="">-- 請選擇生產模式 --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">途程類別 <span class="text-danger">*</span></label>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--radio">
                                    加工
                                    <input type="radio" id="rdoRoutingTypeQ@(itemName)1" name="rdoRoutingTypeQ@(itemName)" value="1"
                                           data-msg-required="請選擇途程類別" data-rule-required="true" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--radio">
                                    返修
                                    <input type="radio" id="rdoRoutingTypeQ@(itemName)2" name="rdoRoutingTypeQ@(itemName)" value="2"
                                           data-msg-required="請選擇途程類別" data-rule-required="true" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtRoutingNameQ@(itemName)">途程名稱</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtRoutingNameQ@(itemName)" name="txtRoutingNameQ@(itemName)" placeholder="請輸入途程名稱">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtRoutingItemIdQ@(itemName)">途程品號辨識碼</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtRoutingItemIdQ@(itemName)" name="txtRoutingItemIdQ@(itemName)" placeholder="請輸入途程品號辨識碼">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtMtlItemNoQ@(itemName)">品號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMtlItemNoQ@(itemName)" name="txtMtlItemNoQ@(itemName)" placeholder="請輸入品號">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtMtlItemNameQ@(itemName)">品名</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMtlItemNameQ@(itemName)" name="txtMtlItemNameQ@(itemName)" placeholder="請輸入品名">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label"><input type="checkbox" id="txtUseDate@(itemName)" /> 建立日期</label>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtStartDateQ@(itemName)" name="txtStartDateQ@(itemName)"
                                       placeholder="請輸入建立日期"
                                       data-msg-required="請輸入建立日期" data-rule-required="true"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))" />
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtEndDateQ@(itemName)" name="txtEndDateQ@(itemName)"
                                       placeholder="請輸入建立日期"
                                       data-msg-required="請輸入建立日期" data-rule-required="true"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">建立人員</label>
                            <div class="col-12">
                                <select class="form-control" id="cboUserIdQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">狀態</label>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    啟用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)A" name="cbxStatusQ@(itemName)" value="A" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    停用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)S" name="cbxStatusQ@(itemName)" value="S" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboProcessIdsQ@(itemName)">製程快篩</label>
                            <div class="col-12">
                                <select class="form-control" id="cboProcessIdsQ@(itemName)" name="cboProcessIdsQ@(itemName)" multiple>
                                    <option value="">-- 請選擇製程(多選) --</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>
<!--檢視-途程站別-->
<div class="modal fade" id="modalView@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body"></div>
            </div>

        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);"><i class="fal fa-search"></i>搜尋</a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn btn-info auth-add" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col" style="min-width: 500px;">途程名稱</th>
                                        <th scope="col" style="min-width: 100px;">生產模式</th>
                                        <th scope="col" style="min-width: 75px;">途程類別</th>
                                        <th scope="col" style="min-width: 75px;">創建者</th>
                                        <th scope="col" style="min-width: 75px;">途程確認</th>
                                        <th class="text-center" scope="col" style="min-width: 100px;">狀態</th>
                                        <th class="text-center" scope="col" style="min-width: 200px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="RoutingId" name="RoutingId" value="-1" />
                        <div class="form-group row">
                            <label class="form-label col-12" for="txtRoutingName@(itemName)">途程名稱<span class="text-danger">*</span></label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtRoutingName@(itemName)" name="txtRoutingName@(itemName)"
                                       placeholder="請輸入途程名稱"
                                       data-msg-required="請輸入途程名稱" data-rule-required="true"
                                       data-msg-maxlength="必須少於 100 個字元" maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">途程類別 <span class="text-danger">*</span></label>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--radio">
                                    加工
                                    <input type="radio" id="rdoRoutingType@(itemName)1" name="rdoRoutingType@(itemName)" value="1"
                                           data-msg-required="請選擇途程類別" data-rule-required="true" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--radio">
                                    返修
                                    <input type="radio" id="rdoRoutingType@(itemName)2" name="rdoRoutingType@(itemName)" value="2"
                                           data-msg-required="請選擇途程類別" data-rule-required="true" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboProdMode@(itemName)">生產模式</label>
                            <div class="col-12">
                                <select class="form-control" id="cboProdMode@(itemName)" name="cboProdMode@(itemName)"></select>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

<!--下方分頁-->
<div class="advanced-block">
    <div class="row">
        <div class="col-12">
            <ul class="nav flag-tabs nav-fill" role="tablist">
                <li class="flag-item auth-routing-item">
                    <a class="flag-link active" data-toggle="tab" href="#tabRoutingItem">
                        <i class="fas fa-list-ol"></i> 途程品號維護
                    </a>
                </li>
                <li class="flag-item auth-routing-process">
                    <a class="flag-link" data-toggle="tab" href="#tabRoutingProcess">
                        <i class="fas fa-conveyor-belt-alt"></i> 途程製程維護
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane active" id="tabRoutingItem">
            @Html.Partial("RoutingItem")
        </div>
        <div class="tab-pane" id="tabRoutingProcess">
            @Html.Partial("RoutingProcess")
        </div>
    </div>
</div>


@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        let ProdMode;

        $(document).ready(function () {
            Suites.DateDropper("#txtStartDateQ@(itemName), #txtEndDateQ@(itemName)");
            let currentDate = new Date();
            Suites.SetDateDropper("#txtEndDateQ@(itemName)", currentDate);
            currentDate.setDate(currentDate.getDate() - 90);
            Suites.SetDateDropper("#txtStartDateQ@(itemName)", currentDate);

            Query@(itemName)();

            if (!isMobile) {
                $("#cboProdMode@(itemName)").select2({
                    width: "100%"
                });
                $("#cboProdModeQ@(itemName)").select2({
                    width: "100%"
                });
                $("#cboUserIdQ@(itemName)").select2({
                    width: "100%"
                });
                $("#cboProcessIdsQ@(itemName)").select2({
                    dropdownAutoWidth: true,
                    width: "100%"
                });
            }

            ComboBoxs.Default("#cboProdModeQ@(itemName)", "@Url.Action("GetProdMode", "MesBasicInformation")", {}, "", "NA", "", "txtProdModeWithText", "ModeId");

            ComboBoxs.Default("#cboUserIdQ@(itemName)", "@Url.Action("GetUser", "BasicInformation")", { "CompanyId": "@Session["CompanyId"]", "Status": "A" }, "", "ALL", "", "UserWithNo", "UserId");
            ComboBoxs.Default("#cboProcessIdsQ@(itemName)", "@Url.Action("GetProcess", "MesBasicInformation")", {}, "", "NA", "", "ProcessName", "ProcessId");

            $("#txtRoutingNameQ@(itemName), #txtRoutingItemIdQ@(itemName), #txtMtlItemNoQ@(itemName), #txtMtlItemNameQ@(itemName)").keydown(function (event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    Query@(itemName)();
                    return false;
                }
            });
        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            if (!objPage) objPage = objPage@(itemName);
            let innerHtml = '';
            let pageCount = 0;

            let statusList = [];
            $.each($("input[name='cbxStatusQ@(itemName)']:checked"), function () {
                statusList.push($(this).val());
            });

            let useDate = $("#txtUseDate@(itemName)").prop("checked");

            let targetUrl = "@Url.Action("GetRouting", "Routing")";

            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "ModeId": $("#cboProdModeQ@(itemName)").val(),
                "RoutingType": $("input[name='rdoRoutingTypeQ@(itemName)']:checked").val(),
                "RoutingName": $("#txtRoutingNameQ@(itemName)").val(),
                "RoutingItemId": $("#txtRoutingItemIdQ@(itemName)").val(),
                "MtlItemNo": $("#txtMtlItemNoQ@(itemName)").val(),
                "MtlItemName": $("#txtMtlItemNameQ@(itemName)").val(),
                "Status": statusList.join(","),
                "StartDate": useDate == true ? $("#txtStartDateQ@(itemName)").val() : "",
                "EndDate": useDate == true ? $("#txtEndDateQ@(itemName)").val() : "",
                "UserId": $("#cboUserIdQ@(itemName)").val(),
                "ProcessIds": $("#cboProcessIdsQ@(itemName) option:selected").toArray().map(item => item.value).join(),
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";
                        innerHtml += `<tr>
                                        <td scope="col">${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.RoutingName}" style="max-width: 175px;">${item.RoutingName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ModeName}" style="min-width: 145px;">${item.ModeName}</td>

                                        <td class="ellipsis" data-toggle="tooltip" title="${item.RountingTypeName}" style="max-width: 100px;">${item.RountingTypeName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.UserName}" style="min-width: 145px;">${item.UserName}</td>

                                        <td scope="col" style="max-width: 100px;">${item.RoutingConfirm == `Y` ? `已確認` : `未確認`}</td>
                                        @*${JudgeRoutingConfirm@(itemName)(`${item.RoutingConfirm}`, `${item.RoutingId}`, `${item.StatusNo}`)}*@
                                        <td class="text-center auth-status-switch" style="max-width: 125px;">
                                            <input type="checkbox" name="chkStatus@(itemName)" data-routing-id="${item.RoutingId}" ${item.StatusNo == `A` ? `checked` : ``} />
                                        </td>
                                        <td class="text-center un-auth auth-status-switch">${StatusName(`Status`, `${item.StatusNo}`)}</td>
                                        <td class="text-center active-content" style="min-width: 250px;">
                                            <a class="active-link auth-update" href="javascript:Edit@(itemName)('${item.RoutingId}');" style="">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            <a class="active-link auth-update" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalView@(itemName)" href="javascript:void(0);" onclick="ViewRoutingProcess@(itemName)('${item.RoutingId}','${item.RoutingName}')">
                                                <i class="far fa-eye"></i>
                                            </a>
                                            ${JudgeRoutingConfirm2@(itemName)(`${item.RoutingConfirm}`, `${item.RoutingId}`)}
                                            <!--複製途程-->
                                            <a class="active-link auth-update" href="javascript:CopyRouting@(itemName)('${item.RoutingId}');">
                                                <i class="fas fa-copy"> 複製途程</i>
                                            </a>
                                        </td>
                                    </tr>`;
                    });

                    function JudgeRoutingConfirm@(itemName)(routingConfirm, routingId, statusNo){
                        let innerHtml = "";
                        if (routingConfirm == "N") {
                            innerHtml += `<td class="text-center auth-status-switch" style="max-width: 125px;">
                                            <input type="checkbox" name="chkStatus@(itemName)" data-routing-id="${routingId}" ${statusNo == `A` ? `checked` : ``} />
                                          </td>
                                          <td class="text-center un-auth auth-status-switch">${StatusName(`Status`, `${statusNo}`)}</td>`;
                        }
                        else {
                            innerHtml += `<td class="text-center">${StatusName(`Status`, `${statusNo}`)}</td>`;
                        }
                        return innerHtml;
                    }

                    function JudgeRoutingConfirm2@(itemName)(routingConfirm, routingId) {
                        let innerHtml = '';
                        if (routingConfirm == "N") {
                            innerHtml += `<a class="active-link auth-delete" href="javascript: Delete@(itemName)('${routingId}')">
                                              <i class="fas fa-trash-alt"></i>
                                           </a>`;
                        }
                        else {
                            innerHtml += `<a class="active-link auth-delete active-disable" href="javascript: void(0)">
                                              <i class="fas fa-trash-alt"></i>
                                           </a>`;
                        }
                        return innerHtml;
                    }
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="7" style="background-color: #fff3cd;">
                                        <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
            }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

            $("input[name='chkStatus@(itemName)']").bootstrapToggle({
                on: "啟用",
                off: "停用",
                onstyle: "success",
                offstyle: "danger",
                size: "mini"
            });

            $("input[name='chkStatus@(itemName)'][data-routing-id]").change(StatusSwitch@(itemName));
        }

        function Edit@(itemName)(routingId) {
            $("#RoutingId").val(routingId ? routingId : 0);
            $("#rdoRoutingType@(itemName)1").attr("checked", true);
            $("#rdoRoutingType@(itemName)2").attr("checked", false);
            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");

            ComboBoxs.Default("#cboProdMode@(itemName)", "@Url.Action("GetProdMode", "MesBasicInformation")", {}, "", "NA", "", "txtProdModeWithText", "ModeId");

            if (routingId > 0) {
                ExpandRoutingProcess(routingId);
                let targetUrl = "@Url.Action("GetRouting", "Routing")";
                let postData = {
                    "RoutingId": routingId
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        $("#cboProdMode@(itemName)").val(item.ModeId).trigger("change");
                        $("#txtRoutingName@(itemName)").val(item.RoutingName);
                        if (item.RoutingType == "1") {
                            $("#rdoRoutingType@(itemName)2").attr("checked", false);
                            $("#rdoRoutingType@(itemName)1").attr("checked", true);
                        }
                        if (item.RoutingType == "2") {
                            $("#rdoRoutingType@(itemName)1").attr("checked", false);
                            $("#rdoRoutingType@(itemName)2").attr("checked", true);
                        }
                    });
                    ProdMode = $("#cboProdMode@(itemName)").val();
                } else {
                    alert(data.msg, "alert", 0);
                }
            }
        }

        function Delete@(itemName)(RoutingId) {
            swal.fire({
                titleText: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteRouting", "Routing")";
                    let postData = {
                        "RoutingId": RoutingId
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let routingId = parseInt($("#RoutingId").val());

                if (routingId <= 0) {
                    let targetUrl = "@Url.Action("AddRouting", "Routing")";
                    let postData = {
                        "RoutingName": $("#txtRoutingName@(itemName)").val(),
                        "RoutingType": $("input[name='rdoRoutingType@(itemName)']:checked").val(),
                        "ModeId": $("#cboProdMode@(itemName)").val()
                    };

                    let data = DataAccess.EditContinued(targetUrl, postData, false);
                    if (data) {
                        let routingId;
                        $.each(data.result, function (i, item) {
                            routingId = item.RoutingId;
                        });
                        ExpandRoutingProcess(routingId);
                        ProdMode = $("#cboProdMode@(itemName)").val();
                    }
                } else {
                    let targetUrl = "@Url.Action("UpdateRouting", "Routing")";
                    let postData = {
                        "RoutingId": routingId,
                        "RoutingName": $("#txtRoutingName@(itemName)").val(),
                        "RoutingType": $("input[name='rdoRoutingType@(itemName)']:checked").val(),
                        "ModeId": $("#cboProdMode@(itemName)").val()
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        ProdMode = $("#cboProdMode@(itemName)").val();
                        Return@(itemName)();
                    }
                }
            }
        }

        function StatusSwitch@(itemName)() {
            var routingId = $(this).data("routing-id");

            let targetUrl = "@Url.Action("UpdateRoutingStatus", "Routing")";
            let postData = {
                "RoutingId": routingId
            };

            let result = DataAccess.Update(targetUrl, postData, false, true);

            if (result) {
                Return@(itemName)();
            }
        }

        function ViewRoutingProcess@(itemName)(routingId, routingName) {
            let targetUrl = "@Url.Action("GetRoutingProcess", "Routing")";
            let postData = {
                "RoutingId": routingId
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                let innerHtml = '';
                $("#modalView@(itemName) h5[class='modal-title']").html("途程名稱: " + routingName);
                if (data.result.length==0) {
                    innerHtml += `<span class="empty-data-style"><i class="fas fa-exclamation-triangle"></i> 此途程尚未設定任何製程。</span>`;
                }
                else {
                    innerHtml += `<div class="baseline baseline-border">`;
                    $.each(data.result, function (i, item) {
                        if (i % 2 == 0) innerHtml += `<div class="baseline-list baseline-border baseline-info">`;
                        else innerHtml += `<div class="baseline-list baseline-border baseline-warning">`;
                        innerHtml += `
                                                <div class="baseline-info">
                                                    <div>
                                                        <strong> <code>${item.SortNumber}</code> </strong>
                                                        站別名稱：${item.ProcessAlias}
                                                    </div>
                                                    <span class="text-muted">途程站別類別:${item.ProcessNo}&nbsp;&nbsp;,是否必須過站:${item.NecessityStatus}</span>
                                                </div>
                                            </div>
                                        <div>
                                     `;
                    });
                }
                $("#modalView@(itemName) div[class='card-body']").html(innerHtml);
            } else {
                alert(data.msg, "alert", 0);
            }
        }

        function CopyRouting@(itemName)(routingId) {
            swal.fire({
                titleText: "複製途程",
                text: "確認要進行途程複製嗎?",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("AddCopyRouting", "Routing")";
                    let postData = {
                        "RoutingId": routingId
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function Return@(itemName)() {
            Switch("#listData@(itemName)", "#editData@(itemName), .unit-block, .advanced-block");
            ResetForm(objForm@(itemName));
            InitData@(itemName)();
        }

    </script>
                        )