@using Business_Manager.Helpers
@{
    string itemName = "RoutingItem";
    string itemNameText = "途程品號維護";
}

@Html.Resource("css",
    @<style>
         .header-title {
             width: 95%;
             margin: 1rem auto;
             display: flex;
             flex-direction: row;
             color: #959595;
             font-size: 1rem;
             font-weight: 700;
             position: sticky;
             top: 0;
             background: #e4eeff;
             padding: 10px 20px;
             border-bottom: 1px solid #eee;
         }

         .flow-card {
             margin-bottom: 25px;
             width: 95%;
             display: flex;
             flex-direction: row;
             padding: 20px 10px;
             font-size: 1rem;
             border-radius: 5px;
             margin: 0 auto 30px;
             -webkit-box-shadow: 0px 2px 28px -5px rgba(114,114,114,0.2);
             -moz-box-shadow: 0px 2px 28px -5px rgba(114,114,114,0.2);
             box-shadow: 0px 2px 28px -5px rgba(114,114,114,0.20);
         }

         select.select3 {
             padding: 20px;
             width: 100%;
             height: 100px;
             border-color: #c9cdcf;
             border-radius: 3px;
         }

             select.select3:focus-visible {
                 border: 1px solid #a768f3;
                 outline: none;
             }

         .help-block {
             display: none;
             margin: 5px 0 0;
             border: 3px dashed #b1b1b1;
             border-radius: 5px;
             padding: 5px 10px;
         }

         dt {
             float: left;
             clear: left;
             width: 110px;
         }

             dt::after {
                 content: "：";
             }

         dd {
             margin: 0 0 0 80px;
             padding: 0;
             color: #36a2f5;
             font-weight: bold;
         }
    </style>
                                                                                 )
<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtMtlItemNoQ@(itemName)">品號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMtlItemNoQ@(itemName)" name="txtMtlItemNoQ@(itemName)" placeholder="請輸入品號" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtMtlItemNameQ@(itemName)">品名</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMtlItemNameQ@(itemName)" name="txtMtlItemNameQ@(itemName)" placeholder="請輸入品名" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);">
                            <i class="fal fa-search"></i>搜尋
                        </a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn btn-danger auth-excel-mode" href="javascript:PopExcel@(itemName)();">
                            <i class="fas fa-file-excel"></i>批次EXCEL模式
                        </a>
                        <a class="btn btn-info auth-add" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th scope="col" style="min-width: 100px;">辨識碼</th>
                                        <th scope="col" style="min-width: 200px;">品號</th>
                                        <th scope="col" style="min-width: 200px;">品名</th>
                                        <th scope="col" style="min-width: 175px;">規格</th>
                                        <th scope="col" style="min-width: 175px;">版次</th>
                                        <th scope="col" style="min-width: 200px;">2D研發設計圖</th>
                                        <th scope="col" style="min-width: 175px;">途程品號確認</th>
                                        <th scope="col" class="text-center" style="min-width: 125px;">狀態</th>
                                        <th class="text-center" scope="col" style="min-width: 200px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="RoutingItemId" name="RoutingItemId" value="-1" />
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="form-group row">
                                    <label class="col-12 col-form-label" for="txtMtlItemId@(itemName)">綁定品號</label>
                                    <div class="col-12">
                                        <input type="hidden" id="txtMtlItemId@(itemName)" />
                                        <div class="btn-group">
                                            <a class="btn btn-success pop-view" href="javascript:void(0);"><i class="fal fa-search"></i></a>
                                            <a class="btn btn-outline-danger pop-clear" href="javascript:void(0);" onclick="MtlItemClear@(itemName)()"><i class="fas fa-eraser"></i></a>
                                        </div>
                                        <dl class="help-block">
                                            <dt>品號</dt>
                                            <dd id="desMtlItemNo@(itemName)"></dd>
                                            <dt>品名</dt>
                                            <dd id="desMtlItemName@(itemName)"></dd>
                                            <dt>規格</dt>
                                            <dd id="desMtlItemSpec@(itemName)"></dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="form-group row">
                                    <label class="col-12 col-form-label" for="txtControlId@(itemName)">綁定研發設計圖</label>
                                    <div class="col-12">
                                        <input type="hidden" id="txtControlId@(itemName)" />
                                        <div class="btn-group">
                                            <a class="btn btn-success pop-view" href="javascript:void(0);"><i class="fal fa-search"></i></a>
                                            <a id="aRdDesignControlClear@(itemName)" class="btn btn-outline-danger pop-clear" href="javascript:void(0);"><i class="fas fa-eraser"></i></a>
                                        </div>
                                        <dl class="help-block">
                                            <dt>版次</dt>
                                            <dd id="desEdition@(itemName)"></dd>
                                            <dt>2D研發設計圖</dt>
                                            <dd id="desCad2DFile@(itemName)"></dd>
                                            <dt>JMO檔</dt>
                                            <dd id="desJmoFile@(itemName)"></dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

@Html.Partial("ViewMtlItem")
@Html.Partial("ViewRdDesign")
@Html.Partial("ViewRoutingItemSettingDetail")
@Html.Partial("ViewRoutingItemProcess")
@Html.Partial("ViewRoutingItemQcItem")
@Html.Partial("ViewRoutingItemExcel")

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        $(document).ready(function () {
            $("#desMtlItemNo@(itemName)").change(function () {
                MtlItemClear@(itemName)();
            });
        });

        function MtlItemClear@(itemName)() {
            $("#aRdDesignControlClear@(itemName)").click();
        }

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let targetUrl = "@Url.Action("GetRoutingItem", "Routing")";

            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "RoutingId": routingIdRoutingProcess,
                "MtlItemNo": $("#txtMtlItemNoQ@(itemName)").val(),
                "MtlItemName": $("#txtMtlItemNameQ@(itemName)").val(),
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";
                        innerHtml += `<tr>
                                        <td scope="col" style="min-width: 75px;">${_row}</td>
                                        <td scope="col" style="min-width: 100px;">${item.RoutingItemId}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MtlItemNo}" style="min-width: 200px;">${item.MtlItemNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MtlItemName}" style="min-width: 200px;">${item.MtlItemName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MtlItemSpec}" style="min-width: 175px;">${item.MtlItemSpec}</td>
                                        ${JudgeEdition(`${item.Edition}`, `${item.Version}`)}
                                        ${JudgeCad2DFileAbsolutePath(`${item.Cad2DFileAbsolutePath}`, `${item.Cad2DFile}`, `${item.Cad2DFileInfo}`)}
                                        <td scope="col" style="min-width: 175px;">${item.RoutingItemConfirm == `Y` ? `已確認` : `未確認`}</td>
                                        <td class="text-center auth-status-switch">
                                            <input type="checkbox" name="chkRoutingItemStatus@(itemName)" data-routing-item-id="${item.RoutingItemId}" ${item.Status == `A` ? `checked` : ''} />
                                        </td>
                                        <td class="text-center un-auth auth-status-switch">${StatusName(`Status`, `${item.Status}`)}</td>
                                        <td class="text-center active-content" scope="col" style="max-width: 650px; min-width: 600px;">
                                            <!--編輯-->
                                            <a class="active-link auth-update" href="javascript:Edit@(itemName)('${item.RoutingItemId}');" style="">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            <!--列印畫面-->
                                            <a class="active-link auth-print" href="javascript:Print@(itemName)('${item.RoutingItemId}');" style="">
                                                <i class="fa fa-print" aria-hidden="true"></i>
                                            </a>

                                            <!--刪除途程品號-->
                                            <a class="active-link auth-delete" href="javascript:Delete@(itemName)('${item.RoutingItemId}');" style="">
                                                <i class="fas fa-trash-alt"></i>
                                            </a>
                                            ${JudgeRoutingItemConfirm2(`${item.RoutingItemConfirm}`, `${item.RoutingItemId}`)}
                                            ${JudgeRoutingItemConfirm(`${item.RoutingItemConfirm}`, `${item.RoutingItemId}`)}


                                        </td>
                                    </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="10" style="background-color: #fff3cd;">
                                        <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            function JudgeEdition(edition, version) {
                let innerHtml = '';
                if (edition != "null") {
                    innerHtml += `<td class="ellipsis" data-toggle="tooltip" title="${edition}(${version})">${edition}<code>(${version})</code></td>`;
                }
                else {
                    innerHtml += `<td></td>`;
                }
                return innerHtml;
            }

            function JudgeCad2DFileAbsolutePath(cad2DFileAbsolutePath, cad2DFile, cad2DFileInfo) {
                let innerHtml = '';
                if (cad2DFileAbsolutePath != "null") {
                    let fileFullNameList = cad2DFileAbsolutePath.split('\\');
                    let fileFullName = fileFullNameList[fileFullNameList.length - 1];
                    fileFullName = ChangeASCII@(itemName)(fileFullName);
                    innerHtml += `<td class="active-content ellipsis" data-toggle="tooltip" title="${fileFullName}" style="max-width: 250px;">
                                    <a class="active-link mr-1" href="/Drawing/GetCadFile?FilePath=${cad2DFileAbsolutePath}"><i class="fas fa-download"></i></a>
                                    ${fileFullName}
                                  </td>`;
                }
                else if (cad2DFile != "null") {
                    innerHtml += JudgeCad2DFile(cad2DFile, cad2DFileInfo);
                }
                else {
                    innerHtml += `<td></td>`;
                }
                return innerHtml;
            }

            function JudgeCad2DFile(cad2DFile, cad2DFileInfo) {
                let innerHtml = '';
                if (cad2DFile != "null") {
                    innerHtml += `<td class="active-content ellipsis" data-toggle="tooltip" title="${cad2DFileInfo}" style="max-width: 200px;">
                                    <a class="active-link mr-1" href="/Drawing/GetPdmFile?fileId=${cad2DFile}"><i class="fas fa-download"></i></a>
                                    ${cad2DFileInfo}
                                  </td>`;
                }
                else {
                    innerHtml += `<td></td>`;
                }
                return innerHtml;
            }

            function JudgeRoutingItemConfirm(routingItemConfirm, routingItemId) {
                let innerHtml = '';
                switch (routingItemConfirm) {
                    case "Y":
                        innerHtml += `<!--確認途程品號-->
                                      <a class="active-link auth-update active-disable" href="javascript:void(0);">
                                        <i class="fas fa-check"> 確認途程品號</i>
                                      </a>`;
                        break;
                    case "N":
                        innerHtml += `<!--確認途程品號-->
                                      <a class="active-link auth-update" data-backdrop="static" data-keyboard="false" href="javascript:confirmRoutingItem@(itemName)('${routingItemId}');">
                                        <i class="fas fa-check"> 確認途程品號</i>
                                      </a>`;
                        break;
                }
                return innerHtml;
            }

            function JudgeRoutingItemConfirm2(routingItemConfirm, routingItemId) {
                let innerHtml = '';
                switch (routingItemConfirm) {
                    case "Y":
                        innerHtml += `<!--設定流程卡加工細節-->
                                      <a class="active-link auth-update" data-backdrop="static" data-keyboard="false" href="javascript:PopViewRoutingItemProcess('${routingItemId}');">
                                        <i class="fa fa-cog" aria-hidden="true"> 加工細節</i>
                                      </a>
                                      <!--複製途程品號-->
                                      <a class="active-link auth-update" href="javascript:CopyRoutingItem@(itemName)('${routingItemId}');">
                                        <i class="fas fa-copy"> 複製途程品號</i>
                                      </a>`;
                        break;
                    case "N":
                        innerHtml += `<!--設定流程卡加工細節-->
                                      <a class="active-link auth-update active-disable" data-backdrop="static" data-keyboard="false" href="javascript:void(0);">
                                        <i class="fa fa-cog" aria-hidden="true"> 加工細節</i>
                                      </a>
                                      <!--複製途程品號-->
                                      <a class="active-link auth-update active-disable" href="javascript:void(0);">
                                        <i class="fas fa-copy"> 複製途程品號</i>
                                      </a>`;
                }
                return innerHtml;
            }

            $("#listData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

            $("input[name='chkRoutingItemStatus@(itemName)']").bootstrapToggle({
                on: "啟用",
                off: "停用",
                onstyle: "success",
                offstyle: "danger",
                size: "mini"
            });

            $("input[name='chkRoutingItemStatus@(itemName)'][data-routing-item-id]").change(StatusSwitch@(itemName));
        }

        function Edit@(itemName)(RoutingItemId) {
            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");
            $("#RoutingItemId").val(RoutingItemId ? RoutingItemId : 0);

            $("#txtMtlItemId@(itemName)").siblings(".help-block").hide();
            $("#txtControlId@(itemName)").siblings(".help-block").hide();
            $("#txtMtlItemId@(itemName)").val("");
            $("#txtControlId@(itemName)").val("");

            if (RoutingItemId > 0) {
                let targetUrl = "@Url.Action("GetRoutingItem", "Routing")";
                let postData = {
                    "RoutingItemId": RoutingItemId
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        $("#txtMtlItemId@(itemName)").val(item.MtlItemId);
                        $("#txtControlId@(itemName)").val(item.ControlId);
                        if (item.MtlItemId > 0) {
                            $("#txtMtlItemId@(itemName)").siblings(".help-block").show();
                            $("#desMtlItemNo@(itemName)").html(item.MtlItemNo);
                            $("#desMtlItemName@(itemName)").html(item.MtlItemName);
                            $("#desMtlItemSpec@(itemName)").html(item.MtlItemSpec);
                        }
                        if (item.ControlId > 0) {
                            $("#txtControlId@(itemName)").siblings(".help-block").show();
                            $("#desEdition@(itemName)").html(item.Edition + '<code>(' + item.Version + ')</code>');

                            if (item.Cad2DFileAbsolutePath != null) {
                                let fileFullNameList = item.Cad2DFileAbsolutePath.split('\\');
                                let fileFullName = fileFullNameList[fileFullNameList.length - 1];
                                $("#desCad2DFile@(itemName)").html('<a class="badge badge-info" href="/Drawing/GetCadFile?FilePath=' + item.Cad2DFileAbsolutePath + '"><i class="fas fa-download"></i> ' + fileFullName + '</a>');
                            }
                            else {
                                $("#desCad2DFile@(itemName)").html('<a class="badge badge-info" href="/Drawing/GetPdmFile?fileId=' + item.Cad2DFile + '"><i class="fas fa-download"></i> ' + item.Cad2DFileInfo + '</a>');
                            }

                            if (item.JmoFileAbsolutePath != null) {
                                let fileFullNameList = item.JmoFileAbsolutePath.split('\\');
                                let fileFullName = fileFullNameList[fileFullNameList.length - 1];
                                $("#desJmoFile@(itemName)").html('<a class="badge badge-info" href="/Drawing/GetCadFile?FilePath=' + item.JmoFileAbsolutePath + '"><i class="fas fa-download"></i> ' + fileFullName + '</a>');
                            }
                            else {
                                $("#desJmoFile@(itemName)").html('<a class="badge badge-info" href="/Drawing/GetPdmFile?fileId=' + item.JmoFile + '"><i class="fas fa-download"></i> ' + item.JmoFileInfo + '</a>');
                            }
                        }
                    });
                } else {
                    alert(data.msg, "alert", 0);
                }
            }

            let popConfig = {
                targetSelector: "#txtMtlItemId@(itemName)",
                popFunction: "PopViewMtlItem",
                objectMtlItemId: "#txtMtlItemId@(itemName)",
                objectMtlItemNo: "#desMtlItemNo@(itemName)",
                objectMtlItemName: "#desMtlItemName@(itemName)",
                objectMtlItemSpec: "#desMtlItemSpec@(itemName)",
            };
            InitPopView(popConfig);

            let popConfig2 = {
                targetSelector: "#txtControlId@(itemName)",
                popFunction: "PopViewRdDesign",
                objectControlId: "#txtControlId@(itemName)",
                objectMtlItemId: "#txtMtlItemId@(itemName)",
                objectMtlItemNo: "#desMtlItemNo@(itemName)",
                objectEdition: "#desEdition@(itemName)",
                objectCad2DFile: "#desCad2DFile@(itemName)",
                objectJmoFile: "#desJmoFile@(itemName)"
            };
            InitPopView(popConfig2);
        }

        function ChangeASCII@(itemName)(fileName) {
            if (fileName.indexOf("%2B") != -1) fileName = fileName.replace("%2B", "+");
            if (fileName.indexOf("%2F") != -1) fileName = fileName.replace("%2F", "/");
            if (fileName.indexOf("%3F") != -1) fileName = fileName.replace("%3F", "?");
            if (fileName.indexOf("%23") != -1) fileName = fileName.replace("%23", "#");
            if (fileName.indexOf("%26") != -1) fileName = fileName.replace("%26", "&");
            if (fileName.indexOf("%3D") != -1) fileName = fileName.replace("%3D", "=");

            return fileName;
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let routingItemId = parseInt($("#RoutingItemId").val());

                if (routingItemId <= 0) {
                    let targetUrl = "@Url.Action("AddRoutingItem", "Routing")";
                    let postData = {
                        "RoutingId": routingIdRoutingProcess,
                        "ControlId": $("#txtControlId@(itemName)").val(),
                        "MtlItemId": $("#txtMtlItemId@(itemName)").val(),
                        "Status": "A"
                    };

                    let result = DataAccess.Add(targetUrl, postData, false, true);

                    if (result) {
                        Return@(itemName)();
                    }
                } else {
                    let targetUrl = "@Url.Action("UpdateRoutingItem", "Routing")";
                    let postData = {
                        "RoutingItemId": routingItemId,
                        "RoutingId": routingIdRoutingProcess,
                        "ControlId": $("#txtControlId@(itemName)").val(),
                        "MtlItemId": $("#txtMtlItemId@(itemName)").val(),
                        "Status": "A"
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Return@(itemName)();
                    }
                }
            }
        }

        function Delete@(itemName)(routingItemId) {
            swal.fire({
                titleText: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteRoutingItem", "Routing")";
                    let postData = {
                        "RoutingItemId": routingItemId
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function CopyRoutingItem@(itemName)(routingItemId) {
            swal.fire({
                titleText: "複製途程品號",
                text: "確認要進行途程品號複製嗎?",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("AddCopyRoutingItem", "Routing")";
                    let postData = {
                        "RoutingItemId": routingItemId
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function StatusSwitch@(itemName)() {
            var routingItemId = $(this).data("routing-item-id");

            let targetUrl = "@Url.Action("UpdateRoutingItemStatus", "Routing")";
            let postData = {
                "RoutingItemId": routingItemId
            };

            let result = DataAccess.Update(targetUrl, postData, false, true);

            if (result) {
                Return@(itemName)();
            }
        }

        function confirmRoutingItem@(itemName)(routingItemId) {
            swal.fire({
                titleText: "確定要確認此途程品號嗎",
                text: "此動作無法復原，請確認是否要執行?",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("UpdateRoutingItemConfirm", "Routing")";
                    let postData = {
                        "RoutingItemId": routingItemId
                    };
                    let result = DataAccess.Update(targetUrl, postData, false, true);
                    if (result) {
                        Return@(itemName)();
                    }
                }
            });
        }

        function PopExcel@(itemName)() {
            PopViewRoutingItemExcel(routingIdRoutingProcess);
        }

        function Print@(itemName)(RoutingItemId) {
            let targetUrl = "@Url.Action("GetPreFlowCardPdf", "Routing")";
            let postData = {
                "RoutingItemId": RoutingItemId
            };
            FileAccess.AjaxDownload(targetUrl, postData, false);
        }

        function Return@(itemName)() {
            Switch("#listData@(itemName)", "#editData@(itemName)");
            ResetForm(objForm@(itemName));
            Query@(itemName)();
        }
    </script>
                                                )
