@using Business_Manager.Helpers
@{
    string itemName = "ViewRoutingItemExcel";
    string itemNameText = "途程品號管理EXCEL模式";
}

@Html.Resource("css",
    @<style>
         .sp-container {
             overflow: scroll;
         }

         .modal-routing-item {
             max-width: 1550px;
         }
    </style>
                                                )

<div class="modal fade" id="modal@(itemName)">
    <div class="modal-dialog modal-xl modal-routing-item">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    @(itemNameText)
                </h5>
                <a class="close" href="javascript:void(0);" onclick="Close@(itemName)()"><i class="fas fa-times"></i></a>
            </div>
            <div class="modal-body">
                <div class="sp-container">
                    <select class="form-control" id="cboEditMode@(itemName)">
                        <option value="Y">系統模式</option>
                        <option value="N">自定義模式</option>
                    </select>
                    <div style="height: 750px; width: 100vw;" id="spreadsheet@(itemName)"></div>
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

@Html.Partial("ViewMtlItemForBatchExcel")
@Html.Partial("ViewRdDesignForBatchExcel")

@Html.Resource("js",
    @<script>
        let routingId@(itemName);
        let spreadsheet@(itemName);
        let defaultCell@(itemName) = [];
        let defaultDataset@(itemName) = `{"sheets":[{"name":"批次建立途程品號","data":[{"cell":"A1","css":"dhx_generated_class_u1725438317617","format":"text","value":"品號"},{"cell":"B1","css":"dhx_generated_class_u1725932523703","format":"text","value":"品名"},{"cell":"C1","css":"dhx_generated_class_u1725932523704","format":"text","value":"規格"},{"cell":"D1","css":"dhx_generated_class_u1725932523705","format":"text","value":"設計圖"},{"cell":"E1","css":"dhx_generated_class_u1725438317619","format":"text","value":"製程"},{"cell":"F1","css":"dhx_generated_class_u1725438317620","format":"text","value":"製程說明"},{"cell":"G1","css":"dhx_generated_class_u1725438317621","format":"text","value":"加工備註"},{"cell":"H1","css":"dhx_generated_class_u1725932523707","format":"text","value":"標準工時"},{"cell":"I1","css":"dhx_generated_class_u1725932523708","format":"text","value":"完工移轉時間"},{"cell":"J1","css":"dhx_generated_class_u1725932523709","format":"text","value":"標準工時上下公差"},{"cell":"K1","css":"dhx_generated_class_u1725932523707","format":"text","value":"當站最小前置秒數"}],"cols":[{"width":159},{"width":200},{"width":120},{"width":153},{"width":120},{"width":120},{"width":120},{"width":120},{"width":120},{"width":131},{"width":137},{"width":120},{"width":120},{"width":120},{"width":120},{"width":120},{"width":120},{"width":120},{"width":120},{"width":120},{"width":120},{"width":120},{"width":120},{"width":120},{"width":120}],"rows":[{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32},{"height":32}]}],"styles":{"dhx_generated_class_u1725438317617":{"background":"#FFCDD2","font-weight":"bold","white-space":"nowrap"},"dhx_generated_class_u1725932523703":{"white-space":"nowrap","background":"#FFCDD2"},"dhx_generated_class_u1725932523704":{"font-weight":"bold","background":"#FFCDD2","white-space":"nowrap"},"dhx_generated_class_u1725932523705":{"font-weight":"bold","background":"#F9E6AD","white-space":"nowrap"},"dhx_generated_class_u1725438317619":{"font-weight":"bold","background":"#BCE4CE","white-space":"nowrap"},"dhx_generated_class_u1725438317620":{"font-weight":"bold","background":"#BDF0E9","white-space":"nowrap"},"dhx_generated_class_u1725438317621":{"font-weight":"bold","background":"#B3E5FC","white-space":"nowrap"},"dhx_generated_class_u1725932523707":{"background":"#C5C0DA","white-space":"nowrap"},"dhx_generated_class_u1725932523708":{"background":"#D6BDCC","white-space":"nowrap"},"dhx_generated_class_u1725932523709":{"background":"#D2C5C1","white-space":"nowrap"}},"formats":[{"name":"Common","id":"common","mask":"","example":"1500.31"},{"name":"Number","id":"number","mask":"#,##0.00","example":"1500.31"},{"name":"Percent","id":"percent","mask":"#,##0.00%","example":"15.0031"},{"name":"Currency","id":"currency","mask":"$#,##0.00","example":"1500.31"},{"name":"Date","id":"date","mask":"mm-dd-yy","example":"44490","dateFormat":"%d/%m/%Y"},{"name":"Time","id":"time","mask":"h:mm:ss am/pm","example":"0.5625","timeFormat":12},{"name":"Text","id":"text","mask":"","example":"some text"}]}`;

        let routingItemJson =
        {
            "routingItemInfo": []
        };

        let mtlItemJson =
        {
            "mtlItemInfo": []
        };

        let routingProcess = [];


        function Pop@(itemName)(RoutingId) {
            routingId@(itemName) = RoutingId;

            for (let i = 0; i < 26; i++) {
                defaultCell@(itemName).push(String.fromCharCode(65 + i) + "1");
            }

            ResetSpreadsheet@(itemName)();

            GetRoutingProcess@(itemName)();

            $("#modal@(itemName)").modal({
                backdrop: "static",
                keyboard: false
            });
        }

        function ResetSpreadsheet@(itemName)() {
            $("#spreadsheet@(itemName)").empty();

            spreadsheet@(itemName) = new dhx.Spreadsheet("spreadsheet@(itemName)", {
                menu: false,
                //rowsCount: 10,
                colsCount: 10,
                exportModulePath: "https://bm.zy-tech.com.tw/Scripts/json2excel-master/worker.js",
                importModulePath: "https://bm.zy-tech.com.tw/Scripts/excel2json-master/worker.js",
            });

            spreadsheet@(itemName).toolbar.data.add({
                type: "button",
                icon: "fas fa-plus",
                tooltip: "新增品號",
                id: "AddMtlItem"
            });

            spreadsheet@(itemName).toolbar.data.add({
                type: "button",
                icon: "fas fa-arrow-alt-square-up",
                tooltip: "上傳資料",
                id: "Upload"
            });

            spreadsheet@(itemName).toolbar.data.add({
                type: "button",
                icon: "fas fa-sync-alt",
                tooltip: "重新載入",
                id: "Reload"
            });

            spreadsheet@(itemName).toolbar.data.add({
                type: "button",
                icon: "fas fa-file-excel",
                tooltip: "匯入EXCEL",
                id: "Import"
            });

            spreadsheet@(itemName).toolbar.data.add({
                type: "button",
                icon: "fas fa-file-download",
                tooltip: "匯出EXCEL",
                id: "Export"
            });

            spreadsheet@(itemName).parse(defaultDataset@(itemName));

            spreadsheet@(itemName).setFormat("A1:Z99", "text");

            spreadsheet@(itemName).events.on("afterFocusSet", function (cell) {
                let editMode = $("#cboEditMode@(itemName)").val();
                if (editMode == "Y" && ((cell.indexOf("D") != -1 && cell != "D1"))) {
                    PopViewRdDesign@(itemName)(cell);
                }
            });

            spreadsheet@(itemName).toolbar.events.on("click", function (id) {
                if (id == "AddMtlItem") {
                    PopViewMtlItem@(itemName)();
                }
                else if (id == "Upload") {
                    Upload@(itemName)();
                }
                else if (id == "Reload") {
                    swal.fire({
                        titleText: "確定要重整EXCEL嗎?\n這會導致目前資料遺失!!",
                        text: "此動作無法復原，請確認是否要執行!",
                        icon: "warning",
                        allowOutsideClick: false,
                        allowEscapeKey: false,
                        showCancelButton: true,
                        confirmButtonText: "確認",
                        cancelButtonText: "取消"
                    }).then((result) => {
                        if (result.isConfirmed) {
                            ResetSpreadsheet@(itemName)();
                        }
                    });
                }
                else if (id == "Import") {
                    spreadsheet@(itemName).load("", "xlsx");
                }
                else if (id == "Export") {
                    spreadsheet@(itemName).export.xlsx("batch-" + '@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")');
                }
            });

            spreadsheet@(itemName).events.on("afterAction", (actionName, config) => {
                if (actionName === "groupAction") {
                    spreadsheet@(itemName).sortCells("A2:Z99", -1);
                    return false;
                }
            });
        }

        function PopViewMtlItem@(itemName)() {
            let checkMtlDate = "@DateTime.Now.ToString("yyyy-MM-dd")";
            PopViewMtlItemForBatchExcel(checkMtlDate);
        }

        function ReloadRoutingItemInfo() {
            routingItemJson.routingItemInfo = [];
            let data = spreadsheet@(itemName).serialize().sheets[0].data;
            let dataIndex = [];
            $.each(data, function (i, item) {
                if (defaultCell@(itemName).indexOf(item.cell) == -1) {
                    initIndex = item.cell.substring(1);
                    let mtlItemNo = spreadsheet@(itemName).getValue("A" + initIndex.toString());
                    if (mtlItemNo != null) {
                        if (dataIndex.indexOf(initIndex) == -1) {
                            dataIndex.push(initIndex);
                        }
                    }
                    else {
                        return false;
                    }
                }
            });

            $.each(dataIndex, function (i, item) {
                let mtlItemNo = spreadsheet@(itemName).getValue("A" + item);
                let mtlItemName = spreadsheet@(itemName).getValue("B" + item);
                let mtlItemSpec = spreadsheet@(itemName).getValue("C" + item);
                let designCad = spreadsheet@(itemName).getValue("D" + item);
                let routingProcess = spreadsheet@(itemName).getValue("E" + item);
                let routingItemProcessDesc = spreadsheet@(itemName).getValue("F" + item);
                let remark = spreadsheet@(itemName).getValue("G" + item);
                let cycleTime = spreadsheet@(itemName).getValue("H" + item);
                let moveTime = spreadsheet@(itemName).getValue("I" + item);
                let processingTime = spreadsheet@(itemName).getValue("J" + item);
                let watingTime = spreadsheet@(itemName).getValue("K" + item);

                let inputInfo =
                {
                    MtlItemNo: mtlItemNo,
                    MtlItemName: mtlItemName,
                    MtlItemSpec: mtlItemSpec,
                    RdDesign: designCad,
                    RoutingProcess: routingProcess,
                    RoutingItemProcessDesc: routingItemProcessDesc,
                    Remark: remark,
                    CycleTime: cycleTime,
                    MoveTime: moveTime,
                    ProcessingTime: processingTime,
                    WatingTime: watingTime,
                };
                routingItemJson.routingItemInfo.push(inputInfo);
            });
        }

        function ResetRoutingItemInfo() {
            let initIndex = 2;
            $.each(routingItemJson.routingItemInfo, function (i, item) {
                spreadsheet@(itemName).setValue("A" + initIndex.toString(), item.MtlItemNo);
                spreadsheet@(itemName).setValue("B" + initIndex.toString(), item.MtlItemName);
                spreadsheet@(itemName).setValue("C" + initIndex.toString(), item.MtlItemSpec);
                spreadsheet@(itemName).setValue("D" + initIndex.toString(), item.RdDesign);
                spreadsheet@(itemName).setValue("E" + initIndex.toString(), item.RoutingProcess);
                spreadsheet@(itemName).setValue("F" + initIndex.toString(), item.RoutingItemProcessDesc);
                spreadsheet@(itemName).setValue("G" + initIndex.toString(), item.Remark);
                spreadsheet@(itemName).setValue("H" + initIndex.toString(), item.CycleTime);
                spreadsheet@(itemName).setValue("I" + initIndex.toString(), item.MoveTime);
                spreadsheet@(itemName).setValue("J" + initIndex.toString(), item.ProcessingTime);
                spreadsheet@(itemName).setValue("K" + initIndex.toString(), item.WatingTime);
                initIndex++;
            });
        }

        function ImportBatchRoutingItem() {
            ReloadRoutingItemInfo();

            if (routingProcess.length <= 0) {
                alert("此途程尚未設定任和製程!!", alert);
                return false;
            }

            $.each(routingProcess, function (i, item) {
                $.each(mtlItemJson.mtlItemInfo, function (j, item2) {
                    let inputInfo =
                    {
                        MtlItemNo: item2.MtlItemNo,
                        MtlItemName: item2.MtlItemName,
                        MtlItemSpec: item2.MtlItemSpec,
                        RdDesign: "",
                        RoutingProcess: item,
                        RoutingItemProcessDesc: "",
                        Remark: "",
                        CycleTime: 0,
                        MoveTime: 0,
                        ProcessingTime: 0,
                        WatingTime: 0,
                    };
                    routingItemJson.routingItemInfo.push(inputInfo);
                });
            });

            routingItemJson.routingItemInfo.sort((a, b) => a.MtlItemNo.localeCompare(b.MtlItemNo));

            ResetRoutingItemInfo();
        }

        function GetRoutingProcess@(itemName)() {
            routingProcess = [];
            let targetUrl = "@Url.Action("GetRoutingProcess", "Routing")";

            let postData = {
                "RoutingId": routingId@(itemName),
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                if (data.result.length > 0) {
                    $.each(data.result, function (i, item) {
                        routingProcess.push(`${item.RoutingProcessId}:${item.ProcessAlias}`);
                    });
                }
            }
        }

        function PopViewRdDesign@(itemName)(cell) {
            let cellNo = cell.substring(1);
            let mtlItemNo = spreadsheet@(itemName).getValue(`A${cellNo}`);
            PopViewRdDesignForBatchExcel(mtlItemNo);
        }

        function ReloadRdDesign(mtlItemNo, rdDesign) {
            $.each(routingItemJson.routingItemInfo, function (i, item) {
                if (item.MtlItemNo == mtlItemNo) {
                    routingItemJson.routingItemInfo[i].RdDesign = rdDesign;
                }
            });
            ResetRoutingItemInfo();
        }

        function Upload@(itemName)() {
            swal.fire({
                titleText: "上傳建立途程品號資料",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonText: "確認",
                cancelButtonText: "取消"
            }).then((result) => {
                if (result.isConfirmed) {
                    ReloadRoutingItemInfo();
                    ResetRoutingItemInfo();
                    if (routingItemJson.routingItemInfo.length > 0) {
                        let targetUrl = "@Url.Action("AddBatchRoutingItem", "Routing")";
                        let postData = {
                            "RoutingId": routingId@(itemName),
                            "UploadJson": JSON.stringify(routingItemJson)
                        };

                        let result = DataAccess.Update(targetUrl, postData, false, true);

                        if (result) {
                            QueryRoutingItem();
                            Close@(itemName)();
                        }
                    }
                    else {
                        alert("尚未維護任何資料!!", alert);
                        return false;
                    }
                }
            });
        }

        function Close@(itemName)() {
            $("#modal@(itemName)").modal("hide");
        }
    </script>
                                                )