@using Business_Manager.Helpers
@{
    string itemName = "TemplateManagement";
    string itemNameText = "樣板資料管理";
    string authority = ViewBag.authority;

    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<link href="@Url.Content("~/Content/project.min.css")" rel="stylesheet" />
)

@Html.Resource("css",
    @<style>
    </style>
)

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtTemplateNameQ@(itemName)">樣板名稱</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtTemplateNameQ@(itemName)" name="txtTemplateNameQ@(itemName)" placeholder="請輸入樣板名稱" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">狀態</label>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    啟用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)A" name="cbxStatusQ@(itemName)" value="A" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    停用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)S" name="cbxStatusQ@(itemName)" value="S" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);"><i class="fal fa-search"></i>搜尋</a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn btn-info auth-add" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky table-stack" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th scope="col" style="min-width: 200px;">樣板名稱</th>
                                        <th scope="col" style="min-width: 350px;">樣板描述</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">工作天模式</th>
                                        <th scope="col" style="min-width: 175px;">擁有人員</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">狀態</th>
                                        <th class="text-center" scope="col" style="min-width: 225px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="TemplateId" name="TemplateId" value="-1" />
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtTemplateName@(itemName)">樣板名稱 <span class="text-danger">*</span></label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtTemplateName@(itemName)" name="txtTemplateName@(itemName)" placeholder="請輸入樣板名稱"
                                       data-msg-required="請輸入樣板名稱" data-rule-required="true"
                                       data-msg-maxlength="必須少於 100 個字元" maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtTemplateDesc@(itemName)">樣板描述 <span class="text-danger">*</span></label>
                            <div class="col-12">
                                <textarea class="form-control" id="txtTemplateDesc@(itemName)" name="txtTemplateDesc@(itemName)" rows="2" placeholder="請輸入樣板描述"
                                          data-msg-required="請輸入樣板描述" data-rule-required="true"
                                          data-msg-maxlength="必須少於 300 個字元" maxlength="300"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboWorkTimeStatus@(itemName)">工作天模式 <span class="text-danger">*</span></label>
                            <div class="col-12">
                                <select class="form-control" id="cboWorkTimeStatus@(itemName)" name="cboWorkTimeStatus@(itemName)"
                                        data-msg-required="請選擇工作天模式" data-rule-required="true"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtWorkTimeInterval@(itemName)">工作時段</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtWorkTimeInterval@(itemName)" name="txtWorkTimeInterval@(itemName)" placeholder="請輸入工作時段"
                                       data-msg-maxlength="必須少於 100 個字元" maxlength="100" />
                            </div>
                            <div class="col-12 mt-2">
                                <div class="alert alert-info border-0">
                                    <ul style="padding-inline-start: 20px;">
                                        <li>請依照格式進行填寫；EX：<code>09:00-17:00</code></li>
                                        <li>如需多時段，請用<mark><code>,</code></mark>分隔；EX：<code>08:00-12:00,13:00-17:00</code></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

<div class="advanced-block">
    <div class="row">
        <div class="col-12">
            <ul class="nav flag-tabs nav-fill" role="tablist">
                <li class="flag-item">
                    <a class="flag-link" data-toggle="tab" href="#tabTemplateTask">
                        <i class="fas fa-check-square"></i> 任務
                    </a>
                </li>
                <li class="flag-item">
                    <a class="flag-link" data-toggle="tab" href="#tabTemplateTaskGantt">
                        <i class="fas fa-check-square"></i> 任務甘特圖
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane" id="tabTemplateTask">
            @Html.Partial("TemplateTask")
        </div>
        <div class="tab-pane" id="tabTemplateTaskGantt">
            @Html.Partial("TemplateTaskGantt")
        </div>
    </div>
</div>

@Html.Partial("ViewUser")
@Html.Partial("ViewTemplateCooperation")
@Html.Partial("ViewTemplateTask")
@Html.Partial("ViewTemplateTaskUser")

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";
        let viewMode;

        $(document).ready(function () {
            Query@(itemName)();

            $(".advanced-block a[data-toggle='tab']").on("shown.bs.tab", function (e) {
                InitParameter@(itemName)($(this));
            });
        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let statusList = [];
            $.each($("input[name='cbxStatusQ@(itemName)']:checked"), function () {
                statusList.push($(this).val());
            });

            let targetUrl = "@Url.Action("GetTemplate", "PmisBasicInformation")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "TemplateName": $("#txtTemplateNameQ@(itemName)").val(),
                "Status": statusList.join(",")
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr>
                                        <td><span class="stack-title">#</span>${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.TemplateName}" style="max-width: 200px;"><span class="stack-title">樣板名稱</span>${item.TemplateName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.TemplateDesc}" style="max-width: 350px;"><span class="stack-title">樣板描述</span>${item.TemplateDesc}</td>
                                        <td class="text-center"><span class="stack-title">工作天模式</span>${StatusName(`Boolean`, item.WorkTimeStatus)}</td>
                                        <td><span class="stack-title">擁有人員</span>${item.LogoIcon == -1 ? `` : `<img class="company-logo" src="/Web/GetFile?fileId=${item.LogoIcon}" />`}${item.UserNo} ${item.UserName}</td>
                                        <td class="text-center auth-status-switch">
                                          <span class="stack-title">狀態</span>
                                          <input type="checkbox" name="chkStatus@(itemName)" data-template-id="${item.TemplateId}" ${item.Status == `A` ? `checked` : ``} />
                                        </td>
                                        <td class="text-center un-auth auth-status-switch"><span class="stack-title">狀態</span>${StatusName(`Status`, item.Status)}</td>
                                        <td class="text-center active-content">
                                          <span class="stack-title">操作</span>
                                          <a class="active-link auth-update" href="javascript:Edit@(itemName)(${item.TemplateId});"><i class="fas fa-edit"></i></a>
                                          <a class="active-link auth-delete" href="javascript:Delete@(itemName)(${item.TemplateId});"><i class="fas fa-trash-alt"></i></a>
                                          <a class="active-link auth-cooperation" href="javascript:PopViewTemplateCooperation(${item.TemplateId},'${item.TemplateName}');"><i class="fas fa-users"></i><span>協作人員</span></a>
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="7" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

            $("input[name='chkStatus@(itemName)']").bootstrapToggle({
                on: "啟用",
                off: "停用",
                onstyle: "success",
                offstyle: "danger",
                size: "mini"
            });

            $("input[name='chkStatus@(itemName)'][data-template-id]").change(StatusSwitch@(itemName));
        }

        function Edit@(itemName)(TemplateId) {
            $("#TemplateId").val(TemplateId ? TemplateId : 0);

            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");

            ComboBoxs.Default("#cboWorkTimeStatus@(itemName)", "@Url.Action("GetStatus", "BasicInformation")", { "StatusSchema": "Boolean" }, "N", "NA", "", "StatusName", "StatusNo");

            if (TemplateId > 0) {
                let targetUrl = "@Url.Action("GetTemplate", "PmisBasicInformation")";
                let postData = {
                    "TemplateId": TemplateId
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        $("#txtTemplateName@(itemName)").val(item.TemplateName);
                        $("#txtTemplateDesc@(itemName)").val(item.TemplateDesc);
                        $("#cboWorkTimeStatus@(itemName)").val(item.WorkTimeStatus);
                        $("#txtWorkTimeInterval@(itemName)").val(item.WorkTimeInterval);
                    });

                    if ($(".advanced-block .flag-tabs > .flag-item > .flag-link").first().hasClass("active")) {
                        InitParameter@(itemName)($(".advanced-block .flag-tabs > .flag-item").first().find("a"));
                    } else {
                        $(".advanced-block .flag-tabs > .flag-item").first().find("a").trigger("click");
                    }
                } else {
                    alert(data.msg, "alert", 0);
                }
            }

            if (!isMobile) {
                $("#cboWorkTimeStatus@(itemName)").select2({
                    dropdownAutoWidth: true,
                    width: "100%"
                });
            }
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let TemplateId = parseInt($("#TemplateId").val());

                if (TemplateId <= 0) {
                    let targetUrl = "@Url.Action("AddTemplate", "PmisBasicInformation")";
                    let postData = {
                        "TemplateName": $("#txtTemplateName@(itemName)").val(),
                        "TemplateDesc": $("#txtTemplateDesc@(itemName)").val(),
                        "WorkTimeStatus": $("#cboWorkTimeStatus@(itemName)").val(),
                        "WorkTimeInterval": $("#txtWorkTimeInterval@(itemName)").val()
                    };

                    let data = DataAccess.EditContinued(targetUrl, postData, false);

                    if (data) {
                        $.each(data.result, function (i, item) {
                            $("#TemplateId").val(item.TemplateId);
                        });

                        if ($(".advanced-block .flag-tabs > .flag-item > .flag-link").first().hasClass("active")) {
                            InitParameter@(itemName)($(".advanced-block .flag-tabs > .flag-item").first().find("a"));
                        } else {
                            $(".advanced-block .flag-tabs > .flag-item").first().find("a").trigger("click");
                        }
                    }
                } else {
                    let targetUrl = "@Url.Action("UpdateTemplate", "PmisBasicInformation")";
                    let postData = {
                        "TemplateId": TemplateId,
                        "TemplateName": $("#txtTemplateName@(itemName)").val(),
                        "TemplateDesc": $("#txtTemplateDesc@(itemName)").val(),
                        "WorkTimeStatus": $("#cboWorkTimeStatus@(itemName)").val(),
                        "WorkTimeInterval": $("#txtWorkTimeInterval@(itemName)").val()
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Return@(itemName)();
                    }
                }
            }
        }

        function Delete@(itemName)(TemplateId) {
            swal.fire({
                titleText: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteTemplate", "PmisBasicInformation")";
                    let postData = {
                        "TemplateId": TemplateId
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function Return@(itemName)() {
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName)", "#editData@(itemName), .unit-block, .advanced-block");
            Query@(itemName)();
        }

        function StatusSwitch@(itemName)() {
            var templateId = $(this).data("template-id");

            let targetUrl = "@Url.Action("UpdateTemplateStatus", "PmisBasicInformation")";
            let postData = {
                "TemplateId": templateId
            };

            let result = DataAccess.Update(targetUrl, postData, false, true);

            if (result) {
                Return@(itemName)();
                Query@(itemName)();
            }
        }

        function InitParameter@(itemName)(selector) {
            let initFnString = "Expand";
            let content = selector.attr("href").split('#tab')[1].split('@(itemName)')[0];

            switch (content) {
                case "TemplateTask":
                    initFnString += "TemplateTask";
                    viewMode = "TemplateTask";
                    break;
                case "TemplateTaskGantt":
                    initFnString += "TemplateTaskGantt";
                    viewMode = "TemplateTaskGantt";
                    break;
            }

            let initFn = window[initFnString];
            if (initFn && typeof (initFn) == "function") {
                initFn();
            }

            DelayFn(function () {
                ScrollPosition(0, GetElementPosition(`#tab${content}`).y - 63);
                $(".smart-scroll").removeClass("scrolled-up").addClass("scrolled-down");
            }, 750);
        }

        function ToHalfChar(str) {
            var result = ''; for (i = 0; i < str.length; i++) {
                code = str.charCodeAt(i); //擷取當前字元的unicode編碼
                if (code >= 65281 && code <= 65373) { //在這個unicode編碼範圍中的是所有的英文字母已經各種字元
                    result += String.fromCharCode(str.charCodeAt(i) - 65248);//把全形字元的unicode編碼轉換為對應半形字元的unicode碼
                }
                else if (code == 12288) { //空格
                    result += String.fromCharCode(str.charCodeAt(i) - 12288 + 32);
                }
                else {
                    result += str.charAt(i);
                }
            } return result;
        }
    </script>
)