@using Business_Manager.Helpers
@{
    string itemName = "DeliveryCustomer";
    string itemNameText = "送貨客戶管理";
    string authority = ViewBag.authority;

    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
    </style>
)

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboCustomerIdQ@(itemName)">客戶來源</label>
                            <div class="col-12">
                                <select class="form-control" id="cboCustomerIdQ@(itemName)" name="cboCustomerIdQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtDcNameQ@(itemName)">客戶名稱</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtDcNameQ@(itemName)" name="txtDcNameQ@(itemName)" placeholder="請輸入客戶名稱" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 form-label">狀態</label>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox col-12">
                                    啟用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)A" name="cbxStatusQ@(itemName)" value="A" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox col-12">
                                    停用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)S" name="cbxStatusQ@(itemName)" value="S" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);">
                            <i class="fal fa-search"></i>搜尋
                        </a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn btn-info auth-add" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th scope="col" style="min-width: 150px;">客戶來源</th>
                                        <th scope="col" style="min-width: 150px;">客戶名稱</th>
                                        <th scope="col" style="min-width: 120px;">客戶聯絡人</th>
                                        <th scope="col" style="min-width: 100px;">聯絡電話</th>
                                        <th scope="col" style="min-width: 200px;">登記地址</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">狀態</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container custom-form-container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="DcId" name="DcId" value="-1" />
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboCustomerId@(itemName)">客戶來源 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboCustomerId@(itemName)" name="cboCustomerId@(itemName)"
                                        data-msg-required="請選擇客戶來源" data-rule-required="true"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtDcName@(itemName)">客戶名稱 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtDcName@(itemName)" name="txtDcName@(itemName)"
                                       data-msg-required="請輸入客戶名稱" data-rule-required="true" placeholder="請輸入客戶名稱"
                                       data-msg-maxlength="必須少於 200 個字元" maxlength="200" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtDcEnglishName@(itemName)">英文名稱</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtDcEnglishName@(itemName)" name="txtDcEnglishName@(itemName)"
                                       data-msg-maxlength="必須少於 80 個字元" maxlength="80" placeholder="請輸入英文名稱" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtDcShortName@(itemName)">客戶簡稱 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtDcShortName@(itemName)" name="txtDcShortName@(itemName)"
                                       data-msg-required="請輸入客戶簡稱" data-rule-required="true"
                                       data-msg-maxlength="必須少於 100 個字元" maxlength="100" placeholder="請輸入客戶簡稱" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtContact@(itemName)">客戶聯絡人</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtContact@(itemName)" name="txtContact@(itemName)"
                                       data-msg-maxlength="必須少於 80 個字元" maxlength="80" placeholder="請輸入客戶聯絡人" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtTelNo@(itemName)">聯絡電話 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtTelNo@(itemName)" name="txtTelNo@(itemName)"
                                       data-msg-required="請輸入聯絡電話" data-rule-required="true"
                                       data-msg-maxlength="必須少於 20 個字元" maxlength="20" placeholder="請輸入聯絡電話" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtFaxNo@(itemName)">聯絡傳真 </label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtFaxNo@(itemName)" name="txtFaxNo@(itemName)"
                                       data-msg-maxlength="必須少於 20 個字元" maxlength="20" placeholder="請輸入聯絡傳真" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtRegisteredAddress@(itemName)">登記地址 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtRegisteredAddress@(itemName)" name="txtRegisteredAddress@(itemName)"
                                       data-msg-required="請輸入登記地址" data-rule-required="true"
                                       data-msg-maxlength="必須少於 255 個字元" maxlength="255" placeholder="請輸入登記地址" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtDeliveryAddress@(itemName)">送貨地址 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtDeliveryAddress@(itemName)" name="txtDeliveryAddress@(itemName)"
                                       data-msg-required="請輸入送貨地址" data-rule-required="true"
                                       data-msg-maxlength="必須少於 255 個字元" maxlength="255" placeholder="請輸入送貨地址" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboShipType@(itemName)">運輸種類 </label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboShipType@(itemName)" name="cboShipType@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboForwarderId@(itemName)">貨運承攬商</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboForwarderId@(itemName)" name="cboForwarderId@(itemName)"></select>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        $(document).ready(function () {
            ComboBoxs.Default("#cboCustomerIdQ@(itemName)", "@Url.Action("GetCustomer", "ScmBasicInformation")", {}, "", "ALL", "", "CustomerWithNo", "CustomerId");

            if (!isMobile) {
                $("#cboCustomerIdQ@(itemName)").select2({
                    dropdownAutoWidth: true,
                    width: "100%"
                });
            }

             Query@(itemName)();
        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;
            
            let statusList = [];
            $.each($("input[name='cbxStatusQ@(itemName)']:checked"), function () {
                statusList.push($(this).val());
            });

            let targetUrl = "@Url.Action("GetDeliveryCustomer", "ScmBasicInformation")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "CustomerId": $("#cboCustomerIdQ@(itemName)").val(),
                "DcName": $("#txtDcNameQ@(itemName)").val(),
                "Status": statusList.join(",")
            };
            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr>
                                        <td>${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.CustomerName}" style="max-width: 150px;">${item.CustomerShortName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DcName}" style="max-width: 150px;">${item.DcShortName}</td>
                                        <td>${item.Contact}</td>
                                        <td>${item.TelNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.RegisteredAddress}" style="max-width: 200px;">${item.RegisteredAddress}</td>
                                        <td class="text-center auth-status-switch">
                                          <input type="checkbox" name="chkStatus@(itemName)" data-dc-id="${item.DcId}" ${(item.Status == 'A' ? 'checked' : '')} />
                                        </td>
                                        <td class="text-center un-auth auth-status-switch">${StatusName("Status", item.Status)}</td>
                                        <td class="text-center active-content">
                                          <a class="active-link auth-read" href="javascript:Edit@(itemName)(${item.DcId});"><i class="fas fa-edit"></i></a>
                                          <a class="active-link auth-update" href="javascript:Delete@(itemName)(${item.DcId});"><i class="fas fa-trash-alt"></i></a>
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="10" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

            $("input[name='chkStatus@(itemName)']").bootstrapToggle({
                on: "啟用",
                off: "停用",
                onstyle: "success",
                offstyle: "danger",
                size: "mini"
            });

            $("input[name='chkStatus@(itemName)'][data-dc-id]").change(StatusSwitch@(itemName));
        }


        function Edit@(itemName)(DcId) {
            $("#DcId").val(DcId ? DcId : 0);

            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");

            ComboBoxs.Default("#cboCustomerId@(itemName)", "@Url.Action("GetCustomer", "ScmBasicInformation")", {}, "", "NA", "", "CustomerWithNo", "CustomerId");
            ComboBoxs.Default("#cboShipType@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "Customer.Ship" }, "", "NA", "", "TypeName", "TypeNo");
            ComboBoxs.Default("#cboForwarderId@(itemName)", "@Url.Action("GetForwarder", "ScmBasicInformation")", {}, "", "NA", "", "ForwarderName", "ForwarderId");                       

            if (DcId > 0) {
                let targetUrl = "@Url.Action("GetDeliveryCustomer", "ScmBasicInformation")";
                let postData = {
                    "DcId": DcId
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        $("#cboCustomerId@(itemName)").val(item.CustomerId);
                        $("#txtDcName@(itemName)").val(item.DcName);
                        $("#txtDcEnglishName@(itemName)").val(item.DcEnglishName);
                        $("#txtDcShortName@(itemName)").val(item.DcShortName);
                        $("#txtContact@(itemName)").val(item.Contact);
                        $("#txtTelNo@(itemName)").val(item.TelNo);
                        $("#txtFaxNo@(itemName)").val(item.FaxNo);
                        $("#txtRegisteredAddress@(itemName)").val(item.RegisteredAddress);
                        $("#txtDeliveryAddress@(itemName)").val(item.DeliveryAddress);
                        $("#cboShipType@(itemName)").val(item.ShipType);
                        $("#cboForwarderId@(itemName)").val(item.ForwarderId);
                    });
                } else {
                    alert(data.msg, "alert", 0);
                }
            }

            if (!isMobile) {
                $("#cboCustomerId@(itemName), #cboShipType@(itemName), #cboForwarderId@(itemName)").select2({
                    dropdownAutoWidth: true,
                    width: "100%"
                });
            }
        }
        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let DcId = parseInt($("#DcId").val());

                if (DcId <= 0) {
                    let targetUrl = "@Url.Action("AddDeliveryCustomer", "ScmBasicInformation")";
                    let postData = {
                        "CustomerId": $("#cboCustomerId@(itemName)").val(),
                        "DcName": $("#txtDcName@(itemName)").val(),
                        "DcEnglishName": $("#txtDcEnglishName@(itemName)").val(),
                        "DcShortName": $("#txtDcShortName@(itemName)").val(),
                        "Contact": $("#txtContact@(itemName)").val(),
                        "TelNo": $("#txtTelNo@(itemName)").val(),
                        "FaxNo": $("#txtFaxNo@(itemName)").val(),
                        "RegisteredAddress": $("#txtRegisteredAddress@(itemName)").val(),
                        "DeliveryAddress": $("#txtDeliveryAddress@(itemName)").val(),
                        "ShipType": $("#cboShipType@(itemName)").val(),
                        "ForwarderId": $("#cboForwarderId@(itemName)").val()
                    };

                    let result = DataAccess.Add(targetUrl, postData, false, true);

                    if (result) {
                        Return@(itemName)();
                    }
                } else {
                    let targetUrl = "@Url.Action("UpdateDeliveryCustomer", "ScmBasicInformation")";
                    let postData = {
                        "DcId": DcId,
                        "CustomerId": $("#cboCustomerId@(itemName)").val(),
                        "DcName": $("#txtDcName@(itemName)").val(),
                        "DcEnglishName": $("#txtDcEnglishName@(itemName)").val(),
                        "DcShortName": $("#txtDcShortName@(itemName)").val(),
                        "Contact": $("#txtContact@(itemName)").val(),
                        "TelNo": $("#txtTelNo@(itemName)").val(),
                        "FaxNo": $("#txtFaxNo@(itemName)").val(),
                        "RegisteredAddress": $("#txtRegisteredAddress@(itemName)").val(),
                        "DeliveryAddress": $("#txtDeliveryAddress@(itemName)").val(),
                        "ShipType": $("#cboShipType@(itemName)").val(),
                        "ForwarderId": $("#cboForwarderId@(itemName)").val()
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Return@(itemName)();
                    }
                }
            }
        }

        function Delete@(itemName)(DcId) {
            swal.fire({
                titleText: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteDeliveryCustomer", "ScmBasicInformation")";
                    let postData = {
                        "DcId": DcId
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function Return@(itemName)() {
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName)", "#editData@(itemName), .unit-block");
            Query@(itemName)();
        }

        function StatusSwitch@(itemName)() {
            var dcId = $(this).data("dc-id");

            let targetUrl = "@Url.Action("UpdateDeliveryCustomerStatus", "ScmBasicInformation")";
            let postData = {
                "DcId": dcId
            };

            let result = DataAccess.Update(targetUrl, postData, false, true);

            if (result) {
                Return@(itemName)();
                Query@(itemName)();
            }
        }
    </script>
)