@using Business_Manager.Helpers
@{
    string itemName = "EcRegisterManagment";
    string itemNameText = "電商註冊管理";

    string authority = ViewBag.authority;
    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
    </style>
                )

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary btnReturn" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboOrganizaitonTypeQ@(itemName)">客人類型</label>
                            <div class="col-12">
                                <select class="form-control edit-column" id="cboOrganizaitonTypeQ@(itemName)" name="cboOrganizaitonTypeQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtMemberNameQ@(itemName)">客戶名稱</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMemberNameQ@(itemName)" name="txtMemberNameQ@(itemName)" placeholder="請輸入客戶名稱" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtOrgShortNameQ@(itemName)">公司簡稱</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtOrgShortNameQ@(itemName)" name="txtOrgShortNameQ@(itemName)" placeholder="請輸入公司簡稱" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboStatusQ@(itemName)">狀態</label>
                            <div class="col-12">
                                <select class="form-control edit-column" id="cboStatusQ@(itemName)" name="cboStatusQ@(itemName)"></select>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);">
                            <i class="fal fa-search"></i>搜尋
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th scope="col" style="min-width: 100px;">客人類型</th>
                                        <th scope="col" style="min-width: 100px;">註冊代號</th>
                                        <th scope="col" style="min-width: 150px;">公司簡稱</th>
                                        <th scope="col" style="min-width: 150px;">規模</th>
                                        <th scope="col" style="min-width: 150px;">客戶名稱</th>
                                        <th scope="col" style="min-width: 200px;">客戶電子郵件</th>
                                        <th scope="col" style="min-width: 100px;">公司聯絡人</th>
                                        <th scope="col" style="min-width: 150px;">聯絡電話</th>
                                        @*<th scope="col" style="min-width: 150px;">公司電子郵件</th>
                                            <th scope="col" style="min-width: 150px;">公司地址</th>*@
                                        <th scope="col" style="min-width: 150px;">描述</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">狀態</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container custom-form-container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="MemberId" name="MemberId" value="-1" />
                        <input type="hidden" id="OrgId" name="OrgId" value="-1" />
                        <input type="hidden" id="OrganizaitonTypeId" name="OrganizaitonTypeId" value="-1" />
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label">公司簡稱 / 客戶名稱<span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="txtOrgShortName@(itemName)" name="txtOrgShortName@(itemName)" placeholder="請輸入公司簡稱">
                                    <input type="text" class="form-control" id="txtMemberName@(itemName)" name="txtMemberName@(itemName)" placeholder="請輸入客戶名稱">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label">客戶電子郵件<span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="txtMemberEmail@(itemName)" name="txtMemberEmail@(itemName)" placeholder="請輸入客戶電子郵件">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label">公司聯絡人 / 聯絡電話<span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="txtContactName@(itemName)" name="txtContactName@(itemName)" placeholder="請輸入公司聯絡人">
                                    <input type="text" class="form-control" id="txtContactPhone@(itemName)" name="txtContactPhone@(itemName)" placeholder="請輸入聯絡電話">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label">公司電子郵件 / 描述<span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="txtContactEmail@(itemName)" name="txtContactEmail@(itemName)" placeholder="請輸入公司電子郵件">
                                    <input type="text" class="form-control" id="txtDescription@(itemName)" name="txtDescription@(itemName)" placeholder="請輸入描述">

                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label">公司地址<span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="txtAddress@(itemName)" name="txtAddress@(itemName)" placeholder="請輸入公司地址">
                                </div>
                            </div>
                        </div>
                        <div class="tab" style="white-space:unset;">
                            <ul class="nav nav-tabs nav-fill mb-3" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="tabActive" data-toggle="tab" href="#tabBasic">
                                        <i class="fas fa-clipboard"></i> 公司資料
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabBasic">
                                <div class="form-group row">
                                    <label class="col-12 col-md-3 col-lg-3 col-form-label">客人類型 / 規模<span class="text-danger">*</span></label>
                                    <div class="col-12 col-md-9 col-lg-9">
                                        <div class="input-group">
                                            <select class="form-control col-md-3 col-lg-3" id="cboOrganizaitonType@(itemName)" name="cboOrganizaitonType@(itemName)" placeholder="請選擇客人類型"></select>
                                            <select class="form-control col-md-3 col-lg-3" id="cboOrganizaitonScale@(itemName)" name="cboOrganizaitonScale@(itemName)" placeholder="請選擇規模"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row" data-org-type="1">
                                    <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboCustomers@(itemName)">客戶</label>
                                    <div class="col-12 col-md-9 col-lg-9">
                                        <div class="input-group">
                                            <select class="form-control" id="cboCustomers@(itemName)" name="cboCustomers@(itemName)"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row" data-org-type="2">
                                    <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboSuppliers@(itemName)">供應商</label>
                                    <div class="col-12 col-md-9 col-lg-9">
                                        <div class="input-group">
                                            <select class="form-control" id="cboSuppliers@(itemName)" name="cboSuppliers@(itemName)"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-12 col-md-3 col-lg-3 col-form-label">註冊代號<span class="text-danger">*</span></label>
                                    <div class="col-12 col-md-9 col-lg-9">
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="txtOrganizationCode@(itemName)" name="txtOrganizationCode@(itemName)" placeholder="請輸入註冊代號" readonly>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-right">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
                <button type="button" class="btn btn-success read-hide" onclick="Save@(itemName)()" style="display:none;"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        $(document).ready(function () {
            ComboBoxs.Default("#cboOrganizaitonTypeQ@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "MemberOrganization.OrganizaitonType" }, "", "NA", "", "TypeName", "TypeNo"); //客人類型
            ComboBoxs.Default("#cboStatusQ@(itemName)", "@Url.Action("GetStatus", "BasicInformation")", { "StatusSchema": "EipMember.Status" }, "", "NA", "", "StatusDesc", "StatusNo"); //狀態
            
            
            $("#cboOrganizaitonTypeQ@(itemName), #cboStatusQ@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });

            Query@(itemName)();
        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let statusList = [];
            $.each($("input[name='cbxStatusQ@(itemName)']:checked"), function () {
                statusList.push($(this).val());
            });

            let targetUrl = "@Url.Action("GetMember", "ScmBasicInformation")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "OrganizaitonType": $("#cboOrganizaitonTypeQ@(itemName)").val(),
                "MemberName": $("#txtMemberNameQ@(itemName)").val(),
                "OrgShortName": $("#txtOrgShortNameQ@(itemName)").val(),
                "Status": $("#cboStatusQ@(itemName)").val()
            };
            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr>
                                        <td>${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.OrganizaitonTypeName}" style="max-width: 100px;">${item.OrganizaitonTypeName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.OrganizationCode}" style="max-width: 100px;">${item.OrganizationCode}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.OrgShortName}" style="max-width: 150px;">${item.OrgShortName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.OrganizaitonScaleName}" style="max-width: 150px;">${item.OrganizaitonScaleName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MemberName}" style="max-width: 150px;">${item.MemberName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MemberEmail}" style="max-width: 200px;">${item.MemberEmail}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ContactName}" style="max-width: 100px;">${item.ContactName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ContactPhone}" style="max-width: 150px;">${item.ContactPhone}</td>
                                        @*<td class="ellipsis" data-toggle="tooltip" title="${item.ContactEmail}" style="max-width: 150px;">${item.ContactEmail}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Address}" style="max-width: 150px;">${item.Address}</td>*@
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Description}" style="max-width: 150px;">${item.Description}</td>
                                        <td class="text-center auth-status-switch">
                                          <input type="checkbox" name="chkStatus@(itemName)" data-member-id="${item.MemberId}" ${(item.Status == 'A' ? 'checked' : '')} />
                                        </td>
                                        <td class="text-center un-auth auth-status-switch">${StatusName("Status", item.Status)}</td>
                                        <td class="text-center active-content">
                                          <a class="active-link auth-read" href="javascript:Read@(itemName)(${item.MemberId});"><i class="fas fa-eye"></i></a>
                                          <a class="active-link auth-update" href="javascript:Edit@(itemName)(${item.MemberId});"><i class="fas fa-edit"></i></a>
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="12" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

            $("input[name='chkStatus@(itemName)']").bootstrapToggle({
                on: "啟用",
                off: "停用",
                onstyle: "success",
                offstyle: "danger",
                size: "mini"
            });

            $("input[name='chkStatus@(itemName)'][data-member-id]").change(StatusSwitch@(itemName));
        }

        function Edit@(itemName)(MemberId) {
            $("#MemberId").val(MemberId ? MemberId : 0);

            $(objForm@(itemName) + " fieldset").attr("disabled", false);
            $(objForm@(itemName) + " select").attr("disabled", false);
            $(".read-hide").show();

            Switch("#editData@(itemName), .unit-block", "#listData@(itemName), div[data-org-type]");

            ComboBoxs.Default("#cboOrganizaitonType@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "MemberOrganization.OrganizaitonType" }, "", "NA", "", "TypeName", "TypeNo");    //客人類型
            ComboBoxs.Default("#cboOrganizaitonScale@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "MemberOrganization.OrganizaitonScale" }, "", "NA", "", "TypeName", "TypeNo");  //規模
            ComboBoxs.Default("#cboCustomers@(itemName)", "@Url.Action("GetCustomer", "ScmBasicInformation")", { "Status": "A" }, "", "CHOOSE-NUMBER", "請選擇客戶", "CustomerWithNo", "CustomerId"); //客戶
            ComboBoxs.Default("#cboSuppliers@(itemName)", "@Url.Action("GetSupplier", "ScmBasicInformation")", { "Status": "A" }, "", "CHOOSE-NUMBER", "請選擇供應商", "SupplierWithNo", "SupplierId");  //供應商

            //依據客人類型會跳不同選擇框
            $("#cboOrganizaitonType@(itemName)").off("change").on("change", function () {
                $("[data-org-type]").hide();
                switch ($(this).val()) {
                    case "1":
                        $(`[data-org-type="1"]`).show();

                        $("#cboCustomers@(itemName)").on("change", function () {
                            let CustomerFullNo = $(this).find(':selected').text();
                            let CustomerNo = CustomerFullNo.split(' ')[0];
                            $("#txtOrganizationCode@(itemName)").val(CustomerNo);
                            $("#cboCustomers@(itemName)").val();
                        });
                        break;
                    case "2":
                        $(`[data-org-type="2"]`).show();
                        $("#cboSuppliers@(itemName)").on("change", function () {
                            let SupplierFullNo = $(this).find(':selected').text();
                            let SupplierNo = SupplierFullNo.split(' ')[0];
                            $("#txtOrganizationCode@(itemName)").val(SupplierNo);
                            $("#cboSuppliers@(itemName)").val();
                        });
                        break;
                }
            });

            if (MemberId > 0) {

                let targetUrl = "@Url.Action("GetMember", "ScmBasicInformation")";
                let postData = {
                    "MemberId": MemberId
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        $("#txtOrgShortName@(itemName)").val(item.OrgShortName);
                        $("#txtMemberName@(itemName)").val(item.MemberName);
                        $("#txtMemberEmail@(itemName)").val(item.MemberEmail);
                        $("#txtContactName@(itemName)").val(item.ContactName);
                        $("#txtContactPhone@(itemName)").val(item.ContactPhone);
                        $("#txtContactEmail@(itemName)").val(item.ContactEmail);
                        $("#txtDescription@(itemName)").val(item.Description);
                        $("#txtAddress@(itemName)").val(item.Address);

                        $("#cboOrganizaitonType@(itemName)").val(item.OrganizaitonType).trigger("change");
                        $("#cboOrganizaitonScale@(itemName)").val(item.OrganizaitonScale);
                        $("#txtOrganizationCode@(itemName)").val(item.OrganizationCode);
                    });
                } else {
                    alert(data.msg, "alert", 0);
                }
            }

            $("#cboOrganizaitonType@(itemName), #cboOrganizaitonScale@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "50%"
            });

            $("#cboCustomers@(itemName), #cboSuppliers@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });
        }

        function Read@(itemName)(MemberId) {
            Edit@(itemName)(MemberId);
            $(objForm@(itemName) + " fieldset").attr("disabled", true);
            $(objForm@(itemName) + " select").attr("disabled", true);
            $(".read-hide").hide();
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {

                let MemberId = parseInt($("#MemberId").val());

                if (MemberId > 0) {
                    let targetUrl = "@Url.Action("UpdateMember", "ScmBasicInformation")";
                    let postData = {
                        "MemberId": MemberId,
                        "OrgShortName": $("#txtOrgShortName@(itemName)").val(),
                        "MemberName": $("#txtMemberName@(itemName)").val(),
                        "MemberEmail": $("#txtMemberEmail@(itemName)").val(),
                        "ContactName": $("#txtContactName@(itemName)").val(),
                        "ContactPhone": $("#txtContactPhone@(itemName)").val(),
                        "ContactEmail": $("#txtContactEmail@(itemName)").val(),
                        "Description": $("#txtDescription@(itemName)").val(),
                        "Address": $("#txtAddress@(itemName)").val(),
                        "OrganizaitonType": $("#cboOrganizaitonType@(itemName)").val(),
                        "OrganizaitonScale": $("#cboOrganizaitonScale@(itemName)").val(),
                        "OrganizationCode": $("#txtOrganizationCode@(itemName)").val(),
                        "OrganizaitonTypeId": $("#OrganizaitonTypeId@(itemName)").val() == "1" ? $("#cboCustomers@(itemName)").val() : $("#cboSuppliers@(itemName)").val(),
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Return@(itemName)();
                    }
                }
            }
        }

        function Return@(itemName)() {
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName)", "#editData@(itemName), .unit-block");
            Query@(itemName)();
        }

        function StatusSwitch@(itemName)() {
            var MemberId = $(this).data("member-id");

            let targetUrl = "@Url.Action("UpdateMemberStatus", "ScmBasicInformation")";
            let postData = {
                "MemberId": MemberId
            };

            let result = DataAccess.Update(targetUrl, postData, false, true);

            if (result) {
                Return@(itemName)();
                Query@(itemName)();
            }
        }
    </script>
        )