@using Business_Manager.Helpers
@{
    string itemName = "ItemDefaultWeight";
    string itemNameText = "物件重量管理";
    string authority = ViewBag.authority;
}

@Html.Resource("css",
    @<style>
    </style>
)

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="ParentIdQ" name="ParentIdQ" value="-1" />
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboParentQ@(itemName)">物件機型名稱</label>
                            <div class="col-12">
                                <select class="form-control" name="cboParentQ@(itemName)"
                                        data-level="1"></select>
                            </div>
                        </div>                        
                        <div class="form-group row">
                            <label class="col-12 col-form-label">狀態</label>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox col-12">
                                    啟用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)A" name="cbxStatusQ@(itemName)" value="A" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox col-12">
                                    停用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)S" name="cbxStatusQ@(itemName)" value="S" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);">
                        <i class="fal fa-search"></i>搜尋</a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn btn-info auth-add" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th scope="col" style="min-width: 200px;">物件機型名稱</th>
                                        <th scope="col" style="min-width: 200px;">物件重量</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">狀態</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="ItemDefaultWeightId" name="ItemDefaultWeightId" value="-1" />
                        <input type="hidden" id="ParentId" name="ParentId" value="-1" />
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboParent@(itemName)">物件機型名稱 </label>
                            <div class="col-12">
                                <select class="form-control" name="cboParent@(itemName)"
                                        data-level="1"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtDefaultWeight@(itemName)">物件重量 <span class="text-danger">*</span></label>
                            <div class="col-12">
                                <input type="number" class="form-control" id="txtDefaultWeight@(itemName)" name="txtDefaultWeight@(itemName)"
                                       data-msg-required="請輸入物件重量" data-rule-required="true" placeholder="請輸入物件重量"
                                       data-msg-step="請輸入0.0001的倍數" step="0.0001" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboDefaultWeightUomId@(itemName)">重量單位 <span class="text-danger">*</span></label>
                            <div class="col-12">
                                <select class="form-control" id="cboDefaultWeightUomId@(itemName)" name="cboDefaultWeightUomId@(itemName)"
                                        data-msg-required="請選擇重量單位" data-rule-required="true"></select>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";
        let maxLevel = 1;

        $(document).ready(function () {

            MaxLevel@(itemName)();
            let dropdownConfig = {
                "targetSelector": "cboParentQ@(itemName)",
                "parentSelector": "ParentIdQ",
                "maxLevel": maxLevel,
                "parentText": "ParentId",
                "targetUrl": "@Url.Action("GetMtlModel", "PdmBasicInformation")",
                "postData": { "ParentId": -1 },
                "optionText": "MtlModelWithNo",
                "optionValue": "MtlModelId"
            };
            DropDownDefault@(itemName)(dropdownConfig);
            ComboBoxs.Default("[name='cboParentQ@(itemName)'][data-level='1']", "@Url.Action("GetMtlModel", "PdmBasicInformation")", { "ParentId": -1 }, "", "ALL", "", "MtlModelWithNo", "MtlModelId");

            if (!isMobile) {
                $("#cboParentQ@(itemName)").select2({
                    dropdownAutoWidth: true,
                    width: "100%"
                });
            }             
            Query@(itemName)();
        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let statusList = [];
            $.each($("input[name='cbxStatusQ@(itemName)']:checked"), function () {
                statusList.push($(this).val());
            });

            let targetUrl = "@Url.Action("GetItemWeight", "ScmBasicInformation")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "StartParent": $("#ParentIdQ").val(),
                "Status": statusList.join(",")
            };
            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr>
                                        <td>${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MtlModelName}" style="max-width: 200px;">${item.MtlModelName}</td>
                                        <td>${item.DefaultWeight} ${item.UomNo}</td>
                                        <td class="text-center auth-status-switch">
                                          <input type="checkbox" name="chkStatus@(itemName)" data-item-weight-id="${item.ItemDefaultWeightId}" ${(item.Status == 'A' ? 'checked' : '')} />
                                        </td>
                                        <td class="text-center un-auth auth-status-switch">${StatusName("Status", item.Status)}</td>
                                        <td class="text-center active-content">
                                          <a class="active-link auth-update" href="javascript:Edit@(itemName)(${item.ItemDefaultWeightId});"><i class="fas fa-edit"></i></a>
                                          <a class="active-link auth-delete" href="javascript:Delete@(itemName)(${item.ItemDefaultWeightId});"><i class="fas fa-trash-alt"></i></a>
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="7" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

            $("input[name='chkStatus@(itemName)']").bootstrapToggle({
                on: "啟用",
                off: "停用",
                onstyle: "success",
                offstyle: "danger",
                size: "mini"
            });

            $("input[name='chkStatus@(itemName)'][data-item-weight-id]").change(StatusSwitch@(itemName));
        }


        function Edit@(itemName)(ItemDefaultWeightId) {
            $("#ItemDefaultWeightId").val(ItemDefaultWeightId ? ItemDefaultWeightId : 0);

            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");

            MaxLevel@(itemName)();
            let dropdownConfig = {
                "targetSelector": "cboParent@(itemName)",
                "parentSelector": "ParentId",
                "maxLevel": maxLevel,
                "parentText": "ParentId",
                "targetUrl": "@Url.Action("GetMtlModel", "PdmBasicInformation")",
                "postData": { "ParentId": -1 },
                "optionText": "MtlModelWithNo",
                "optionValue": "MtlModelId"
            };
            DropDownDefault@(itemName)(dropdownConfig);
            ComboBoxs.Default("[name='cboParent@(itemName)'][data-level='1']", "@Url.Action("GetMtlModel", "PdmBasicInformation")", { "ParentId": -1 }, "", "CHOOSE-NUMBER", "請選擇", "MtlModelWithNo", "MtlModelId");
            ComboBoxs.Default("#cboDefaultWeightUomId@(itemName)", "@Url.Action("GetUnitOfMeasure", "PdmBasicInformation")", {}, "", "CHOOSE-NUMBER", "請選擇", "UomWithNo", "UomId");
            
            if (ItemDefaultWeightId > 0) {
                $("[name='cboParent@(itemName)']").attr("disabled", true);
                let targetUrl = "@Url.Action("GetItemWeight", "ScmBasicInformation")";
                let postData = {
                    "ItemDefaultWeightId": ItemDefaultWeightId
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        $("#ParentId").val(item.ParentId);

                        let route = item.MtlModelRoute.split(',');
                        for (var j = 1; j < route.length; j++) {
                            $(`[name = 'cboParent@(itemName)'][data-level= ${j}]`).val(route[j]).trigger("change");
                        }

                        $("#txtDefaultWeight@(itemName)").val(item.DefaultWeight);
                        $("#cboDefaultWeightUomId@(itemName)").val(item.DefaultWeightUomId);
                    });
                } else {
                    alert(data.msg, "alert", 0);
                }
            }
            if (!isMobile) {
                $("#cboParent@(itemName), #cboDefaultWeightUomId@(itemName)").select2({
                    dropdownAutoWidth: true,
                    width: "100%"
                });
            }
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let ItemDefaultWeightId = parseInt($("#ItemDefaultWeightId").val());

                var i = 1;
                let MtlModelId;
                while ($(`[name = "cboParent@(itemName)"][data-level=${i}]`).val() != '') {
                    MtlModelId = $(`[name='cboParent@(itemName)'][data-level=${i}]`).val();
                    i++;
                }

                if (ItemDefaultWeightId <= 0) {
                    let targetUrl = "@Url.Action("AddItemWeight", "ScmBasicInformation")";
                    let postData = {
                        "MtlModelId": MtlModelId,
                        "DefaultWeight": $("#txtDefaultWeight@(itemName)").val(),
                        "DefaultWeightUomId": $("#cboDefaultWeightUomId@(itemName)").val()
                    };

                    let result = DataAccess.Add(targetUrl, postData, false, true);

                    if (result) {
                        Return@(itemName)();
                    }

                } else {
                    let targetUrl = "@Url.Action("UpdateItemWeight", "ScmBasicInformation")";
                    let postData = {
                        "ItemDefaultWeightId": ItemDefaultWeightId,
                        "DefaultWeight": $("#txtDefaultWeight@(itemName)").val(),
                        "DefaultWeightUomId": $("#cboDefaultWeightUomId@(itemName)").val()
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Return@(itemName)();
                    }
                }
            }
        }

        function Delete@(itemName)(ItemDefaultWeightId) {
            swal.fire({
                titleText: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteItemWeight", "ScmBasicInformation")";
                    let postData = {
                        "ItemDefaultWeightId": ItemDefaultWeightId
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function Return@(itemName)() {
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName)", "#editData@(itemName), .unit-block");
            Query@(itemName)();
        }

        function StatusSwitch@(itemName)() {
            var itemWeight = $(this).data("item-weight-id");

            let targetUrl = "@Url.Action("UpdateItemWeightStatus", "ScmBasicInformation")";
            let postData = {
                "ItemDefaultWeightId": itemWeight
            };

            let result = DataAccess.Update(targetUrl, postData, false, true);

            if (result) {
                Return@(itemName)();
                Query@(itemName)();
            }
        }

        
        function MaxLevel@(itemName)() {
            let targetUrl = "@Url.Action("GetMtlModel", "PdmBasicInformation")";
            let postData = {
                "QueryType": "Max"
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                $.each(data.result, function (i, item) {
                    maxLevel = item.MaxLevel;
                });

            } else {
                alert(data.msg, "alert", 0);
            }
        }

        function DropDownDefault@(itemName)(Config) {
            let innerHtml = '';
            let element = "[name='" + Config.targetSelector + "']";

            $(element + "[data-level='1']").attr("disabled", false);
            $(element).not("[data-level='1']").parent("div.col-12").remove();

            for (var i = 2; i <= Config.maxLevel; i++) {
                innerHtml += '<div class="col-12 mt-1" style="display: none;">\
                                <select class="form-control" name="' + Config.targetSelector + '"\
                                        data-level="' + i + '"></select>\
                              </div>';
            }

            $(element).parent("div.col-12").after(innerHtml);

            $(element).off("change").on("change", function () {
                $(element).parent("div.col-12").hide();
            
                $("#" + Config.parentSelector).val($(this).val());
                let level = $(this).data("level");

                if ($(this).val() == -1 && level == 1) {
                    $(element + "[data-level='1']").parent("div.col-12").show();
                } else {
                    for (var i = 1; i <= (level + 1); i++) {
                        $(element + "[data-level='" + i + "']").parent("div.col-12").show();
                    }

                    let selector = element + "[data-level='" + (level + 1) + "']";

                    Config.postData[Config.parentText] = $(this).val();
                    ComboBoxs.Default(selector, Config.targetUrl, Config.postData, "", "NA", "", Config.optionText, Config.optionValue);
                }
            });
        }
    </script>
)