@using Business_Manager.Helpers
@{
    string itemName = "Packing";
    string itemNameText = "出貨包材管理";
    string authority = ViewBag.authority;

    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
    </style>
)

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboPackingTypeQ@(itemName)">包材種類</label>
                            <div class="col-12">
                                <select class="form-control" id="cboPackingTypeQ@(itemName)" name="cboPackingTypeQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtPackingNameQ@(itemName)">包材名稱</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtPackingNameQ@(itemName)" name="txtPackingNameQ@(itemName)" placeholder="請輸入包材名稱" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">狀態</label>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    啟用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)A" name="cbxStatusQ@(itemName)" value="A" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    停用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)S" name="cbxStatusQ@(itemName)" value="S" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);">
                            <i class="fal fa-search"></i>搜尋
                        </a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn btn-info auth-add" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th scope="col" style="min-width: 150px;">包材名稱</th>
                                        <th scope="col" style="min-width: 100px;">包材種類</th>
                                        <th scope="col" style="min-width: 150px;">體積規格</th>
                                        <th scope="col" style="min-width: 130px;">包材體積</th>
                                        <th scope="col" style="min-width: 150px;">重量規格</th>
                                        <th scope="col" style="min-width: 100px;">包材重量</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">狀態</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container custom-form-container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="PackingId" name="PackingId" value="-1" />
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtPackingName@(itemName)">包材名稱 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtPackingName@(itemName)" name="txtPackingName@(itemName)"
                                       data-msg-required="請輸入包材名稱" data-rule-required="true" placeholder="請輸入包材名稱"
                                       data-msg-maxlength="必須少於 50 個字元" maxlength="50" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboPackingType@(itemName)">包材種類 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboPackingType@(itemName)" name="cboPackingType@(itemName)"
                                        data-msg-required="請選擇包材種類" data-rule-required="true"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtVolumeSpec@(itemName)">體積規格 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <div class="input-group">
                                    <span class="input-group-addon">長</span>
                                    <input type="number" class="form-control" id="txtLength@(itemName)" name="txtLength@(itemName)"
                                           data-msg-required="請輸入長度" data-rule-required="true" placeholder="請輸入長度" />
                                    <span class="input-group-addon">寬</span>
                                    <input type="number" class="form-control" id="txtWidth@(itemName)" name="txtWidth@(itemName)"
                                           data-msg-required="請輸入寬度" data-rule-required="true" placeholder="請輸入寬度" />
                                    <span class="input-group-addon">高</span>
                                    <input type="number" class="form-control" id="txtHeight@(itemName)" name="txtHeight@(itemName)"
                                           data-msg-required="請輸入高度" data-rule-required="true" placeholder="請輸入高度" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtVolume@(itemName)">包材體積 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <div class="input-group">
                                    <input type="number" class="form-control" id="txtVolume@(itemName)" name="txtVolume@(itemName)"
                                           data-msg-required="請輸入撿貨體積" data-rule-required="true" placeholder="請輸入撿貨體積"
                                           data-msg-step="請輸入0.0001的倍數" step="0.0001" value="0" />
                                    <div class="input-group-prepend">
                                        <select class="form-control" id="cboVolumeUomId@(itemName)" name="cboVolumeUomId@(itemName)"
                                                data-msg-required="請選擇體積單位" data-rule-required="true"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtWeightSpec@(itemName)">重量規格 </label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtWeightSpec@(itemName)" name="txtWeightSpec@(itemName)" placeholder="請輸入重量規格"
                                       data-msg-maxlength="必須少於 100 個字元" maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtWeight@(itemName)">包材重量 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <div class="input-group">
                                    <input type="number" class="form-control" id="txtWeight@(itemName)" name="txtWeight@(itemName)"
                                           data-msg-required="請輸入撿貨重量" data-rule-required="true" placeholder="請輸入撿貨重量"
                                           data-msg-step="請輸入0.0001的倍數" step="0.0001" />
                                    <div class="input-group-prepend">
                                        <select class="form-control" id="cboWeightUomId@(itemName)" name="cboWeightUomId@(itemName)"
                                                data-msg-required="請選擇重量單位" data-rule-required="true"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>


@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        $(document).ready(function () {
            ComboBoxs.Default("#cboPackingTypeQ@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "Packing.PackingType" }, "", "CHOOSE", "全部", "TypeName", "TypeNo");

            if (!isMobile) {
                $("#cboPackingTypeQ@(itemName)").select2({
                    dropdownAutoWidth: true,
                    width: "100%"
                });
            }

             Query@(itemName)();
        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let statusList = [];
            $.each($("input[name='cbxStatusQ@(itemName)']:checked"), function () {
                statusList.push($(this).val());
            });

            let targetUrl = "@Url.Action("GetPacking", "ScmBasicInformation")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "PackingType": $("#cboPackingTypeQ@(itemName)").val(),
                "PackingName": $("#txtPackingNameQ@(itemName)").val(),
                "Status": statusList.join(",")
            };
            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr>
                                        <td>${_row}</td>
                                        <td>${item.PackingName}</td>
                                        <td>${item.PackingTypeName}</td>
                                        <td>${item.VolumeSpec}</td>
                                        <td>${item.Volume} ${item.VolumeUomNo}</td>
                                        <td>${item.WeightSpec}</td>
                                        <td>${item.Weight} ${item.WeightUomNo}</td>
                                        <td class="text-center auth-status-switch">
                                          <input type="checkbox" name="chkStatus@(itemName)" data-packing-id="${item.PackingId}" ${(item.Status == 'A' ? 'checked' : '')} />
                                        </td>
                                        <td class="text-center un-auth auth-status-switch">${StatusName("Status", item.Status)}</td>
                                        <td class="text-center active-content">
                                          <a class="active-link auth-update" href="javascript:Edit@(itemName)(${item.PackingId});"><i class="fas fa-edit"></i></a>
                                          <a class="active-link auth-delete" href="javascript:Delete@(itemName)(${item.PackingId});"><i class="fas fa-trash-alt"></i></a>
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="9" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

            $("input[name='chkStatus@(itemName)']").bootstrapToggle({
                on: "啟用",
                off: "停用",
                onstyle: "success",
                offstyle: "danger",
                size: "mini"
            });

            $("input[name='chkStatus@(itemName)'][data-packing-id]").change(StatusSwitch@(itemName));
        }

        function Edit@(itemName)(PackingId) {
            $("#PackingId").val(PackingId ? PackingId : 0);

            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");

            ComboBoxs.Default("#cboPackingType@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "Packing.PackingType" }, "C", "NA", "", "TypeName", "TypeNo");
            ComboBoxs.Default("#cboVolumeUomId@(itemName)", "@Url.Action("GetUnitOfMeasure", "PdmBasicInformation")", { UomType: "V", Status: "A" }, 20, "CHOOSE-NUMBER", "請選擇", "UomWithNo", "UomId");
            ComboBoxs.Default("#cboWeightUomId@(itemName)", "@Url.Action("GetUnitOfMeasure", "PdmBasicInformation")", { UomType: "I", Status: "A" }, 13, "CHOOSE-NUMBER", "請選擇", "UomWithNo", "UomId");

            if (PackingId > 0) {
                let targetUrl = "@Url.Action("GetPacking", "ScmBasicInformation")";
                let postData = {
                    "PackingId": PackingId
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        let spec = item.VolumeSpec.split('*');
                    
                        $("#txtPackingName@(itemName)").val(item.PackingName);
                        $("#cboPackingType@(itemName)").val(item.PackingType);
                        $("#txtLength@(itemName)").val(spec[0]);
                        $("#txtWidth@(itemName)").val(spec[1]);
                        $("#txtHeight@(itemName)").val(spec[2]);
                        $("#txtVolume@(itemName)").val(item.Volume);
                        $("#cboVolumeUomId@(itemName)").val(item.VolumeUomId);
                        $("#txtWeightSpec@(itemName)").val(item.WeightSpec);
                        $("#txtWeight@(itemName)").val(item.Weight);
                        $("#cboWeightUomId@(itemName)").val(item.WeightUomId);
                    });
                } else {
                    alert(data.msg, "alert", 0);
                }
            }

            if (!isMobile) {
                $("#cboPackingType@(itemName), #cboVolumeUomId@(itemName), #cboWeightUomId@(itemName)").select2({
                    dropdownAutoWidth: true,
                    width: "100%"
                });
            }

            $("#txtLength@(itemName), #txtWidth@(itemName), #txtHeight@(itemName)").off("change").on("change", function () {
                $("#txtVolume@(itemName)").val($("#txtLength@(itemName)").val() * $("#txtWidth@(itemName)").val() * $("#txtHeight@(itemName)").val());
            });
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let PackingId = parseInt($("#PackingId").val());

                if (PackingId <= 0) {
                    let targetUrl = "@Url.Action("AddPacking", "ScmBasicInformation")";
                    let postData = {
                        "PackingName": $("#txtPackingName@(itemName)").val(),
                        "PackingType": $("#cboPackingType@(itemName)").val(),
                        "VolumeSpec": $("#txtLength@(itemName)").val() + "*" + $("#txtWidth@(itemName)").val() + "*" + $("#txtHeight@(itemName)").val(),
                        "Volume": $("#txtVolume@(itemName)").val(),
                        "VolumeUomId": $("#cboVolumeUomId@(itemName)").val(),
                        "WeightSpec": $("#txtWeightSpec@(itemName)").val(),
                        "Weight": $("#txtWeight@(itemName)").val(),
                        "WeightUomId": $("#cboWeightUomId@(itemName)").val()
                    };

                    let result = DataAccess.Add(targetUrl, postData, false, true);

                    if (result) {
                        Return@(itemName)();
                    }
                } else {
                    let targetUrl = "@Url.Action("UpdatePacking", "ScmBasicInformation")";
                    let postData = {
                        "PackingId": PackingId,
                        "PackingName": $("#txtPackingName@(itemName)").val(),
                        "PackingType": $("#cboPackingType@(itemName)").val(),
                        "VolumeSpec": $("#txtLength@(itemName)").val() + "*" + $("#txtWidth@(itemName)").val() + "*" + $("#txtHeight@(itemName)").val(),
                        "Volume": $("#txtVolume@(itemName)").val(),
                        "VolumeUomId": $("#cboVolumeUomId@(itemName)").val(),
                        "WeightSpec": $("#txtWeightSpec@(itemName)").val(),
                        "Weight": $("#txtWeight@(itemName)").val(),
                        "WeightUomId": $("#cboWeightUomId@(itemName)").val()
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Return@(itemName)();
                    }
                }
            }
        }

        function Delete@(itemName)(PackingId) {
            swal.fire({
                titleText: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeletePacking", "ScmBasicInformation")";
                    let postData = {
                        "PackingId": PackingId
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function Return@(itemName)() {
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName)", "#editData@(itemName), .unit-block");
            Query@(itemName)();
        }

        function StatusSwitch@(itemName)() {
            var PackingId = $(this).data("packing-id");

            let targetUrl = "@Url.Action("UpdatePackingStatus", "ScmBasicInformation")";
            let postData = {
                "PackingId": PackingId
            };

            let result = DataAccess.Update(targetUrl, postData, false, true);

            if (result) {
                Return@(itemName)();
                Query@(itemName)();
            }
        }
    </script>
)