@using Business_Manager.Helpers
@{
    string itemName = "ProductTypeGroupManagement";
    string itemNameText = "產品群組管理";
    string authority = ViewBag.authority;
    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
    </style>
)

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboRfqProClassQ@(itemName)">RFQ產品類別</label>
                            <div class="col-12">
                                <select class="form-control" id="cboRfqProClassQ@(itemName)" name="cboRfqProClassQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboTypeOneQ@(itemName)">產品屬性</label>
                            <div class="col-12">
                                <select class="form-control" id="cboTypeOneQ@(itemName)" name="cboTypeOneQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">是否鍍膜</label>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    是
                                    <input type="checkbox" id="cbxCoatingFlagQ@(itemName)A" name="cbxCoatingFlagQ@(itemName)" value="Y" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    否
                                    <input type="checkbox" id="cbxCoatingFlagQ@(itemName)S" name="cbxCoatingFlagQ@(itemName)" value="N" checked/>
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">狀態</label>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    啟用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)A" name="cbxStatusQ@(itemName)" value="A" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    停用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)S" name="cbxStatusQ@(itemName)" value="S" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);">
                        <i class="fal fa-search"></i>搜尋</a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn btn-info auth-add" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th scope="col" style="min-width: 150px;">RFI產品類別</th>
                                        <th scope="col" style="min-width: 200px;">群組類別名稱</th>
                                        <th scope="col" style="min-width: 100px;">是否鍍膜</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">狀態</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container custom-form-container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="ProTypeGroupId" name="ProTypeGroupId" value="-1" />
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboRfqProClass@(itemName)">RFI產品類別 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboRfqProClass@(itemName)" name="cboRfqProClass@(itemName)"
                                        data-msg-required="請選擇RFI產品類別" data-rule-required="true"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboTypeOne@(itemName)">產品屬性 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboTypeOne@(itemName)" name="cboTypeOne@(itemName)"
                                        data-msg-required="請選擇產品屬性" data-rule-required="true"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtProTypeGroupName@(itemName)">群組類別名稱 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtProTypeGroupName@(itemName)" name="txtProTypeGroupName@(itemName)" placeholder="請輸入設備名稱"
                                       data-msg-required="請輸入群組類別名稱" data-rule-required="true"
                                       data-msg-maxlength="必須少於 50 個字元" maxlength="50" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cbxCoatingFlag@(itemName)">是否要鍍膜</label>
                            <div class="col-12 col-md-9 col-lg-9" style="display: flex;align-items: center;">
                                <input type="checkbox" id="cbxCoatingFlag@(itemName)" name="cbxCoatingFlag@(itemName)" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

<div class="advanced-block" hidden>
    <div class="row">
        <div class="col-12">
            <ul class="nav flag-tabs nav-fill" role="tablist">
                <li class="flag-item">
                    <a class="flag-link active" data-toggle="tab" href="#tabTemplateRfiSignFlow">
                        <i class="fas fa-computer-classic mr-1"></i>市場評估單流程
                    </a>
                </li>
                <li class="flag-item">
                    <a class="flag-link " data-toggle="tab" href="#tabTemplateDesignSignFlow">
                        <i class="fas fa-computer-classic mr-1"></i>設計申請單流程
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane active" id="tabTemplateRfiSignFlow">
            @*@Html.Partial("TemplateRfiSignFlow")*@
        </div>
        <div class="tab-pane" id="tabTemplateDesignSignFlow">
            @*@Html.Partial("TemplateDesignSignFlow")*@
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        $(document).ready(function () {

            ComboBoxs.Default("#cboRfqProClassQ@(itemName)", "@Url.Action("GetRfqProductClass", "ScmBasicInformation")", { "Status": "A" }, "", "NA", "", "RfqProductClassName", "RfqProClassId");
            ComboBoxs.Default("#cboTypeOneQ@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "ProductTypeGroup.Attribute" }, "", "NA", "", "TypeName", "TypeNo");

            Query@(itemName)();

            $(".advanced-block a[data-toggle='tab']").on("shown.bs.tab", function (e) {
                InitParameter@(itemName)($(this));
            });

            if (!isMobile) {
                $("#cboRfqProClassQ@(itemName), #cboTypeOneQ@(itemName)").select2({
                    width: "100%"
                });
            }
        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let statusList = [];
            $.each($("input[name='cbxStatusQ@(itemName)']:checked"), function () {
                statusList.push($(this).val());
            });

            let coatingFlagList = [];
            $.each($("input[name='cbxCoatingFlagQ@(itemName)']:checked"), function () {
                coatingFlagList.push($(this).val());
            });

            let targetUrl = "@Url.Action("GetProductTypeGroup", "ScmBasicInformation")";
            let data = DataAccess.Get(targetUrl,
                {
                    PageIndex: (objPage.pageIndex + 1),
                    PageSize: objPage.pageSize,
                    RfqProClassId: $("#cboRfqProClassQ@(itemName)").val(),
                    ProTypeGroupName: $("#txtProTypeGroupNameQ@(itemName)").val(),
                    CoatingFlag: coatingFlagList.join(","),
                    Status: statusList.join(",")
                }, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr>
                                        <td>${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.RfqProductClassName}" style="max-width: 200px;">${item.RfqProductClassName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ProTypeGroupName}" style="max-width: 200px;">${item.ProTypeGroupName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.CoatingFlag}" style="max-width: 200px;">${item.CoatingFlag == `Y`? `是` : `否`}</td>
                                        <td class="text-center auth-status-switch">
                                          <input type="checkbox" name="chkStatus@(itemName)" data-ptg-id="${item.ProTypeGroupId}" ${item.Status == `A` ? `checked` : ``} />
                                        </td>
                                        <td class="text-center un-auth auth-status-switch">${StatusName(`Status`, item.Status)}</td>
                                        <td class="text-center active-content">
                                          <a class="active-link auth-update" href="javascript:Edit@(itemName)(${item.ProTypeGroupId});"><i class="fas fa-edit"></i></a>
                                          <a class="active-link auth-update" href="javascript:Delete@(itemName)(${item.ProTypeGroupId});"><i class="fas fa-trash-alt"></i></a>
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="6" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

            $("input[name='chkStatus@(itemName)']").bootstrapToggle({
                on: "啟用",
                off: "停用",
                onstyle: "success",
                offstyle: "danger",
                size: "mini"
            });

            $("input[name='chkStatus@(itemName)'][data-ptg-id]").change(StatusSwitch@(itemName));
        }

        function Edit@(itemName)(ProTypeGroupId) {
            $("#ProTypeGroupId").val(ProTypeGroupId ? ProTypeGroupId : 0);

            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");

            $("#cboRfqProClass@(itemName)").html($("#cboRfqProClassQ@(itemName)").html());
            $("#cboTypeOne@(itemName)").html($("#cboTypeOneQ@(itemName)").html());

            if (ProTypeGroupId > 0) {
                let targetUrl = "@Url.Action("GetProductTypeGroup", "ScmBasicInformation")";
                let data = DataAccess.Get(targetUrl, { ProTypeGroupId } , false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        $("#cboRfqProClass@(itemName)").val(item.RfqProClassId);
                        $("#cboTypeOne@(itemName)").val(item.TypeOne);
                        $("#txtProTypeGroupName@(itemName)").val(item.ProTypeGroupName);
                        if (item.CoatingFlag == "Y") {
                            $("#cbxCoatingFlag@(itemName)").attr("checked", true);
                        } else {
                            $("#cbxCoatingFlag@(itemName)").attr("checked", false);
                        };
                    });
                } else {
                    alert(data.msg, "alert", 0);
                }
            }
            if (!isMobile) {
                $("#cboRfqProClass@(itemName), #cboTypeOne@(itemName)").select2({
                    width: "100%"
                });
            }
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let ProTypeGroupId = parseInt($("#ProTypeGroupId").val());

                if (ProTypeGroupId <= 0) {
                    let targetUrl = "@Url.Action("AddProductTypeGroup", "ScmBasicInformation")";
                    let data = DataAccess.EditContinued(targetUrl,
                        {
                        RfqProClassId: $("#cboRfqProClass@(itemName) :selected").val(),
                        TypeOne: $("#cboTypeOne@(itemName) :selected").val(),
                        ProTypeGroupName: $("#txtProTypeGroupName@(itemName)").val(),
                        CoatingFlag: ($("#cbxCoatingFlag@(itemName)").is(":checked") ? "Y" : "N")
                    }, false);

                    if (data) {
                        $.each(data.result, function (i, item) {
                            $("#ProTypeGroupId").val(item.ProTypeGroupId);
                        });
                        Return@(itemName)();
                    }
                } else {
                    let targetUrl = "@Url.Action("UpdateProductTypeGroup", "ScmBasicInformation")";
                    let result = DataAccess.Update(targetUrl,
                        {
                        ProTypeGroupId: ProTypeGroupId,
                        RfqProClassId: $("#cboRfqProClass@(itemName)").val(),
                        TypeOne: $("#cboTypeOne@(itemName) :selected").val(),
                        ProTypeGroupName: $("#txtProTypeGroupName@(itemName)").val(),
                        CoatingFlag: ($("#cbxCoatingFlag@(itemName)").is(":checked") ? "Y" : "N")
                    }, false, true);

                    if (result) {
                        Return@(itemName)();
                    }
                }
            }
        }

        function Delete@(itemName)(ProTypeGroupId) {
            swal.fire({
                titleText: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteProductTypeGroup", "ScmBasicInformation")";
                    let postData = {
                        "ProTypeGroupId": ProTypeGroupId,
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function InitParameter@(itemName)(selector) {
            let initFnString = "Expand";
            let content = selector.attr("href").split('#tab')[1];

            switch (content) {
                case "TemplateRfiSignFlow":
                    initFnString += "TemplateRfiSignFlow";
                    break;
                case "TemplateDesignSignFlow":
                    initFnString += "TemplateDesignSignFlow";
                    break;
            }

            let initFn = window[initFnString];
            if (initFn && typeof (initFn) == "function") {
                initFn();
            }
        }

        function Return@(itemName)() {
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName)", "#editData@(itemName), .unit-block, .advanced-block");
            Query@(itemName)();
        }

        function StatusSwitch@(itemName)() {
            var ProTypeGroupId = $(this).data("ptg-id");
            let targetUrl = "@Url.Action("UpdateProductTypeGroupStatus", "ScmBasicInformation")";
            let result = DataAccess.Update(targetUrl, { ProTypeGroupId } , false, true);

            if (result) {
                Return@(itemName)();
            }
        }
</script>
)