@using Business_Manager.Helpers
@{
    string itemName = "RfqProductClass";
    string itemNameText = "產品類型管理";
    string authority = ViewBag.authority;
    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
        #boxSustSupplyStatus b {
            font-size: 18px;
        }
    </style>
        )

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

<!--搜尋-->
<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    @{ 
                        string txtRfqProductClassNameQ = string.Format("txtRfqProductClassNameQ{0}", itemName);
                        string cbxStatusQ = string.Format("cbxStatusQ{0}", itemName);
                    }
                    <fieldset>
                        <div class="form-group row">
                            @Html.Label(txtRfqProductClassNameQ, "RFQ產品類型", new { @class = "col-12 col-form-label" })
                            <div class="col-12">
                                @Html.TextBox(txtRfqProductClassNameQ, null, new { @class = "form-control", id = txtRfqProductClassNameQ, maxlength = "100", placeholder = "請輸入RFQ產品類型關鍵字" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">狀態</label>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    啟用
                                    <input type="checkbox" id="@(cbxStatusQ + "A")" name="@(cbxStatusQ)" value="A" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    停用
                                    <input type="checkbox" id="@(cbxStatusQ + "S")" name="@(cbxStatusQ)" value="S" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<!--列表-->
<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);"><i class="fal fa-search"></i>搜尋</a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn btn-info auth-add" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky table-stack" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th scope="col" style="min-width: 200px;">RFQ產品類型</th>
                                        <th scope="col" class="text-center auth-status-switch" style="min-width: 125px; max-width: 150px;">狀態</th>
                                        <th scope="col" class="text-center" style="min-width: 125px; max-width: 150px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--編輯-->
<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container custom-form-container" autocomplete="off" id="editForm@(itemName)">
                    @Html.AntiForgeryToken()
                    @{ 
                        string txtRfqProductClassName = string.Format("txtRfqProductClassName{0}", itemName);
                    }
                    <fieldset>
                        @Html.Hidden("RfqProClassId", -1, new { id = "RfqProClassId" })
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtRfqProductClassName@(itemName)">RFQ產品類型 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                @Html.TextBox(txtRfqProductClassName, null, new { @class = "form-control", id = txtRfqProductClassName, maxlength = "100"
                               , data_msg_required = "請輸入RFQ產品類型", data_rule_required="true"})
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

<div class="advanced-block">
    <div class="row">
        <div class="col-12">
            <ul class="nav flag-tabs nav-fill" role="tablist">
                <li class="flag-item auth-rfqproduct-type">
                    <a class="flag-link active" data-toggle="tab" href="#tabRfqProductType">
                        <i class="fas fa-shapes"></i> RFQ產品類別
                    </a>
                </li>
                <li class="flag-item auth-rfqproduct-package">
                    <a class="flag-link" data-toggle="tab" href="#tabRfqProductPackage">
                        <i class="fas fa-shapes"></i> RFQ包裝種類
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane active" id="tabRfqProductType">
            @Html.Partial("RfqProductType")
        </div>
        <div class="tab-pane" id="tabRfqProductPackage">
            @Html.Partial("RfqProductPackage")
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };

        let objForm@(itemName) = '#editForm@(itemName)';

        $(function () {
            Query@(itemName)();
        });

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let statusList = [];
            $.each($('input[name="cbxStatusQ@(itemName)"]:checked'), function () {
                statusList.push($(this).val());
            });

            let targetUrl = '@Url.Action("GetRfqProductClass", "ScmBasicInformation")';
            let postData = {
                'OrderBy': '',
                'PageIndex': (objPage.pageIndex + 1),
                'PageSize': objPage.pageSize,
                'RfqProductClassName': $('#txtRfqProductClassNameQ@(itemName)').val(),
                'Status': statusList.join(',')
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == 'success') {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]['TotalCount']) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    console.log(data);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr>
                                        <td><span class="stack-title">#</span>${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.RfqProductClassName}"><span class="stack-title">RFQ產品類型</span>${item.RfqProductClassName}</td>
                                        <td class="text-center auth-status-switch">
                                          <span class="stack-title">狀態</span>
                                          <input type="checkbox" name="chkStatus@(itemName)" data-rfqproclass-id="${item.RfqProClassId}" ${(item.Status == `A` ? `checked` : ``)} />
                                        </td>
                                        <td class="text-center active-content">
                                          <span class="stack-title">操作</span>
                                          <a class="active-link auth-update" href="javascript:Edit@(itemName)(${item.RfqProClassId});"><i class="fas fa-edit"></i></a>
                                          <a class="active-link auth-delete" href="javascript:Delete@(itemName)(${item.RfqProClassId});"><i class="fas fa-trash-alt"></i></a>
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="6" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, 'alert', 0);
            }

            $('#tblData@(itemName) tbody').html(innerHtml);
            TableComponentInit();
            Pager('#page@(itemName)', pageCount, objPage, InitData@(itemName));

            $('input[name="chkStatus@(itemName)"]').bootstrapToggle({
                on: '啟用',
                off: '停用',
                onstyle: 'success',
                offstyle: 'danger',
                size: 'mini'
            });
            //狀態切換
            $(`input[name="chkStatus@(itemName)"][data-rfqproclass-id]`).change(StatusSwitch@(itemName));
        }

        function Edit@(itemName)(TargetId) {
            $('#RfqProClassId').val(TargetId ? TargetId : 0);
            Switch('#editData@(itemName), .unit-block', '#listData@(itemName)');

            if (TargetId > 0) {
                let targetUrl = '@Url.Action("GetRfqProductClass", "ScmBasicInformation")';
                let postData = {
                    'RfqProClassId': TargetId
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == 'success') {
                    $.each(data.result, function (i, item) {
                        $('#txtRfqProductClassName@(itemName)').val(item.RfqProductClassName);
                    });

                    ExpandRfqProductType();
                    ExpandRfqProductPackage();

                } else {
                    alert(data.msg, 'alert', 0);
                }
            }
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let TargetId = $('#RfqProClassId').val();
                let Token = $('input[name="__RequestVerificationToken"]').val();
                let targetUrl = '';
                let postData = {};

                if (TargetId <= 0) {
                    targetUrl = '@Url.Action("AddRfqProductClass", "ScmBasicInformation")';
                    postData = {
                        '__RequestVerificationToken': Token,
                        'RfqProductClassName': $('#txtRfqProductClassName@(itemName)').val()
                    };

                    let data = DataAccess.EditContinued(targetUrl, postData, false);
                    if (data) {
                        $.each(data.result, function (i, item) {
                            $('#RfqProClassId').val(item.RfqProClassId);
                        });
                        ExpandRfqProductType();
                        ExpandRfqProductPackage();
                    }
                } else {
                    targetUrl = '@Url.Action("UpdateRfqProductClass", "ScmBasicInformation")';
                    postData = {
                        '__RequestVerificationToken': Token,
                        'RfqProClassId': TargetId,
                        'RfqProductClassName': $('#txtRfqProductClassName@(itemName)').val()
                    };

                    if (DataAccess.Update(targetUrl, postData, false, true)) {
                        Return@(itemName)();
                    }
                }
            }
        }

        function Delete@(itemName)(TargetId) {
            swal.fire({
                title: '確定要刪除嗎?',
                text: '此動作無法復原，請確認是否要執行!',
                icon: 'warning',
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = '@Url.Action("DeleteRfqProductClass", "ScmBasicInformation")';
                    let postData = {
                        'RfqProClassId': TargetId,
                        '__RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
                    };

                    if (DataAccess.Delete(targetUrl, postData, false, true)) {
                        QueryPage@(itemName)();
                    }
                }
            });
        }

        function StatusSwitch@(itemName)() {
            var TargetId = $(this).data('rfqproclass-id');

            let targetUrl = '@Url.Action("UpdateRfqProductClassStatus", "ScmBasicInformation")';
            let postData = {
                'RfqProClassId': TargetId,
                '__RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
            };

            let result = DataAccess.Update(targetUrl, postData, false, true);

            if (result) {
                QueryPage@(itemName)();
            }
        }

        //公用函式
        function ChangeToEnable(itemName) {
            $(`#editForm${itemName} input`).prop('disabled', false);
            $(`#editForm${itemName} textarea`).prop('disabled', false);
            $(`#editForm${itemName} select`).prop('disabled', false);
        }

        //公用函式
        function ChangeToDisable(itemName) {
            $(`#editForm${itemName} input`).prop('disabled', true);
            $(`#editForm${itemName} textarea`).prop('disabled', true);
            $(`#editForm${itemName} select`).prop('disabled', true);
        }

        function Return@(itemName)() {
            ResetForm(objForm@(itemName));
            Switch('#listData@(itemName)', '#editData@(itemName), .unit-block, .advanced-block');
            Query@(itemName)();
        }

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));
            $('#modalQuery@(itemName)').modal('hide');
        }

        //query page
        function QueryPage@(itemName)() {
            InitData@(itemName)(objPage@(itemName));
            $('#modalQuery@(itemName)').modal('hide');
        }

        //return query page
        function ReturnQueryPage@(itemName)() {
            ResetForm(objForm@(itemName));
            Switch('#listData@(itemName)', '#editData@(itemName)');
            QueryPage@(itemName)();
        }

    </script>

)