@using Business_Manager.Helpers
@{
    string itemName = "SupplierManagement";
    string itemNameText = "供應商管理";
    string authority = ViewBag.authority;
}

@Html.Resource("css",
    @<style>
         .input-group-addon {
             background-color: transparent;
         }

         .btn.sub-function {
             background-color: #fff;
             color: #333;
             border-color: #999;
         }

        .btn.sub-function:focus {
            box-shadow: 0 0 0 0.2rem rgba(200, 200, 200, 0.5);
        }
    </style>
)

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary btnReturn" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 form-label" for="txtSupplierNoQ@(itemName)">供應商代號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtSupplierNoQ@(itemName)" name="txtSupplierNoQ@(itemName)" placeholder="請輸入供應商代號" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 form-label" for="txtSupplierNameQ@(itemName)">供應商名稱</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtSupplierNameQ@(itemName)" name="txtSupplierNameQ@(itemName)" placeholder="請輸入供應商名稱" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 form-label">狀態</label>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox col-12">
                                    啟用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)A" name="cbxStatusQ@(itemName)" value="A" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox col-12">
                                    停用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)S" name="cbxStatusQ@(itemName)" value="S" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);">
                            <i class="fal fa-search"></i>搜尋
                        </a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn btn-info auth-add" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th scope="col" style="min-width: 120px;">供應商代號</th>
                                        <th scope="col" style="min-width: 150px;">供應商名稱</th>
                                        <th scope="col" style="min-width: 200px;">連絡電話</th>
                                        <th scope="col" style="min-width: 200px;">地址</th>
                                        <th scope="col" style="min-width: 180px;">供應商聯絡人</th>
                                        <th class="text-center" scope="col" style="min-width: 100px;">拋轉ERP</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">是否要過站</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">狀態</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="SupplierId" name="SupplierId" value="-1" />
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtSupplierNo@(itemName)">供應商代號 <span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <input type="text" class="form-control" id="txtSupplierNo@(itemName)" name="txtSupplierNo@(itemName)"
                                               data-msg-required="請輸入供應商代號" data-rule-required="true" placeholder="請輸入供應商代號" 
                                               data-msg-maxlength="必須少於 50 個字元" maxlength="50" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtSupplierName@(itemName)">供應商名稱 <span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <input type="text" class="form-control" id="txtSupplierName@(itemName)" name="txtSupplierName@(itemName)"
                                               data-msg-required="請輸入供應商名稱" data-rule-required="true" placeholder="請輸入供應商名稱" 
                                               data-msg-maxlength="必須少於 200 個字元" maxlength="200" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtSupplierEnglishName@(itemName)">英文名稱 <span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <input type="text" class="form-control" id="txtSupplierEnglishName@(itemName)" name="txtSupplierEnglishName@(itemName)"
                                               data-msg-required="請輸入英文名稱" data-rule-required="true" placeholder="請輸入英文名稱"
                                               data-msg-maxlength="必須少於 100 個字元" maxlength="100" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-9">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtSupplierShortName@(itemName)">供應商簡稱 <span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <input type="text" class="form-control" id="txtSupplierShortName@(itemName)" name="txtSupplierShortName@(itemName)"
                                               data-msg-required="請輸入供應商簡稱" data-rule-required="true" placeholder="請輸入供應商簡稱"
                                               data-msg-maxlength="必須少於 100 個字元" maxlength="100" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-3">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="cboPassStationControl@(itemName)">是否要過站 </label>
                                    <div class="col-12">
                                        <select class="form-control" id="cboPassStationControl@(itemName)" name="cboPassStationControl@(itemName)"
                                                data-msg-required="請選擇是否要過站"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="cboRelatedPerson@(itemName)">關係人代號 </label>
                                    <div class="col-12">
                                        <select class="form-control" id="cboRelatedPerson@(itemName)" name="cboRelatedPerson@(itemName)"
                                                data-msg-required="請選擇關係人代號"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-9">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtGuiNumber@(itemName)">統一編號 <span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <input type="text" class="form-control" id="txtGuiNumber@(itemName)" name="txtGuiNumber@(itemName)"
                                               data-msg-required="請輸入統一編號" data-rule-required="true" placeholder="請輸入統一編號" 
                                               data-msg-maxlength="必須少於 100 個字元" maxlength="100" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-3">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtVersion@(itemName)">版次 </label>
                                    <div class="col-12">
                                        <input type="text" class="form-control" id="txtVersion@(itemName)" name="txtVersion@(itemName)" placeholder="0000" readonly />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab" style="white-space:unset;">
                            <ul class="nav nav-tabs nav-fill mb-3" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="tabActive" data-toggle="tab" href="#tabBasic1">
                                        <i class="fas fa-clipboard"></i> 基本資料(一)
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tabBasic2">
                                        <i class="fas fa-folder"></i> 基本資料(二)
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tabTrade1">
                                        <i class="fas fa-hand-holding-usd"></i> 交易資料(一)
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tabTrade2">
                                        <i class="fas fa-hands-usd"></i> 交易資料(二)
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabBasic1">
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="cboPermitStatus@(itemName)">核准狀態碼 <span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <select class="form-control" id="cboPermitStatus@(itemName)" name="cboPermitStatus@(itemName)"
                                                        data-msg-required="請選擇核准狀態碼" data-rule-required="true"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="txtResponsiblePerson@(itemName)">負責人 <span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <input type="text" class="form-control" id="txtResponsiblePerson@(itemName)" name="txtResponsiblePerson@(itemName)"
                                                       data-msg-required="請輸入負責人" data-rule-required="true" placeholder="請輸入負責人"
                                                       data-msg-maxlength="必須少於 30 個字元" maxlength="30" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="txtTelNoFirst@(itemName)">電話(一) <span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <input type="text" class="form-control" id="txtTelNoFirst@(itemName)" name="txtTelNoFirst@(itemName)"
                                                       data-msg-required="請輸入電話(一)" data-rule-required="true" placeholder="請輸入電話(一)"
                                                       data-msg-maxlength="必須少於 20 個字元" maxlength="20" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="txtTelNoSecond@(itemName)">電話(二) </label>
                                            <div class="col-12">
                                                <input type="text" class="form-control" id="txtTelNoSecond@(itemName)" name="txtTelNoSecond@(itemName)"
                                                       data-msg-maxlength="必須少於 20 個字元" maxlength="20" placeholder="請輸入電話(二)" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="txtContactFirst@(itemName)">聯絡人(一) </label>
                                            <div class="col-12">
                                                <input type="text" class="form-control" id="txtContactFirst@(itemName)" name="txtContactFirst@(itemName)"
                                                       data-msg-maxlength="必須少於 30 個字元" maxlength="30" placeholder="請輸入聯絡人(一)" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="txtContactSecond@(itemName)">聯絡人(二) </label>
                                            <div class="col-12">
                                                <input type="text" class="form-control" id="txtContactSecond@(itemName)" name="txtContactSecond@(itemName)"
                                                       data-msg-maxlength="必須少於 30 個字元" maxlength="30" placeholder="請輸入聯絡人(二)" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="txtContactThird@(itemName)">聯絡人(三) </label>
                                            <div class="col-12">
                                                <input type="text" class="form-control" id="txtContactThird@(itemName)" name="txtContactThird@(itemName)"
                                                       data-msg-maxlength="必須少於 30 個字元" maxlength="30" placeholder="請輸入聯絡人(三)" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="txtEmail@(itemName)">電子郵件 </label>
                                            <div class="col-12">
                                                <input type="text" class="form-control" id="txtEmail@(itemName)" name="txtEmail@(itemName)"
                                                       data-msg-maxlength="必須少於 60 個字元" maxlength="60" placeholder="請輸入電子郵件" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="txtFaxNo@(itemName)">客戶傳真 </label>
                                            <div class="col-12">
                                                <input type="text" class="form-control" id="txtFaxNo@(itemName)" name="txtFaxNo@(itemName)"
                                                       data-msg-maxlength="必須少於 20 個字元" maxlength="20" placeholder="請輸入客戶傳真" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="txtFaxNoAccounting@(itemName)">客戶傳真(會計) </label>
                                            <div class="col-12">
                                                <input type="text" class="form-control" id="txtFaxNoAccounting@(itemName)" name="txtFaxNoAccounting@(itemName)"
                                                       data-msg-maxlength="必須少於 20 個字元" maxlength="20" placeholder="請輸入客戶傳真(會計)" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="cboPurchaseUserId@(itemName)">採購人員 <span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <select class="form-control" id="cboPurchaseUserId@(itemName)" name="cboPurchaseUserId@(itemName)"
                                                        data-msg-required="請選擇採購人員" data-rule-required="true"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="txtInauguateDate@(itemName)">開業日期 </label>
                                            <div class="input-group col-12">
                                                <input type="text" class="form-control datedropper" id="txtInauguateDate@(itemName)" name="txtInauguateDate@(itemName)"
                                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                                       placeholder="請輸入開業日期" readonly />
                                                <div class="input-group-append">
                                                    <button type="button" class="btn btn-outline-danger" onclick="$('#txtInauguateDate@(itemName)').val('')" title="清除">
                                                        <i class="fas fa-eraser mt-1"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="txtCapital@(itemName)">資本額 <span class="text-danger">*</span></label>
                                            <div class="input-group col-12">
                                                <input type="number" class="form-control" id="txtCapital@(itemName)" name="txtCapital@(itemName)" value="0" min="0"
                                                       data-msg-required="請輸入資本額" data-rule-required="true" />
                                                <span class="input-group-addon">萬</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="txtHeadcount@(itemName)">員工人數 <span class="text-danger">*</span></label>
                                            <div class="input-group col-12">
                                                <input type="number" class="form-control" id="txtHeadcount@(itemName)" name="txtHeadcount@(itemName)" value="0" min="0"
                                                       data-msg-required="請輸入員工人數" data-rule-required="true" />
                                                <span class="input-group-addon">人</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabBasic2">
                                <div class="row">
                                    <div class="col-lg-3 col-md-3">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="txtZipCodeFirst@(itemName)">聯絡地址 <span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <input type="text" class="form-control" id="txtZipCodeFirst@(itemName)" name="txtZipCodeFirst@(itemName)"
                                                       data-msg-maxlength="必須少於 6 個字元" maxlength="6" placeholder="請輸入聯絡地址" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9 col-md-9">
                                        <div class="form-group row">
                                            <label class="form-label col-12">&nbsp</label>
                                            <div class="col-12">
                                                <input type="text" class="form-control" id="txtAddressFirst@(itemName)" name="txtAddressFirst@(itemName)"
                                                       data-msg-required="請輸入聯絡地址" data-rule-required="true" placeholder="請輸入聯絡地址(一)"
                                                       data-msg-maxlength="必須少於 255 個字元" maxlength="255" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-3"></div>
                                    <div class="col-lg-9 col-md-9">
                                        <div class="form-group row">
                                            @*<label class="form-label col-12" for="txtAddressSecond@(itemName)">聯絡地址(英文) </label>*@
                                            <div class="col-12">
                                                <input type="text" class="form-control" id="txtAddressSecond@(itemName)" name="txtAddressSecond@(itemName)"
                                                       data-msg-maxlength="必須少於 255 個字元" maxlength="255" placeholder="請輸入聯絡地址(二)" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-3">
                                        <div class="form-group row">
                                            <label class="col-12 form-label" for="txtZipCodeSecond@(itemName)">帳單地址 <span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <input type="text" class="form-control" id="txtZipCodeSecond@(itemName)" name="txtZipCodeSecond@(itemName)"
                                                       data-msg-maxlength="必須少於 6 個字元" maxlength="6" placeholder="請輸入郵遞區號" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9 col-md-9">
                                        <div class="form-group row">
                                            <label class="form-label col-12">&nbsp</label>
                                            <div class="col-12">
                                                <input type="text" class="form-control" id="txtBillAddressFirst@(itemName)" name="txtBillAddressFirst@(itemName)"
                                                       data-msg-required="請輸入帳單地址" data-rule-required="true" placeholder="請輸入帳單地址(一)"
                                                       data-msg-maxlength="必須少於 255 個字元" maxlength="255" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 col-md-3"></div>
                                    <div class="col-lg-9 col-md-9">
                                        <div class="form-group row">
                                            @*<label class="form-label col-12" for="txtBillAddressSecond@(itemName)">帳單地址(英文) </label>*@
                                            <div class="col-12">
                                                <input type="text" class="form-control" id="txtBillAddressSecond@(itemName)" name="txtBillAddressSecond@(itemName)"
                                                       data-msg-maxlength="必須少於 255 個字元" maxlength="255" placeholder="請輸入帳單地址(二)" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabTrade1">
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="chkInvocieAttachedStatus@(itemName)">隨貨附上發票 <span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-4 col-6">
                                                        <label class="control control-solid control-solid-info control--radio col-12">
                                                            是
                                                            <input type="radio" id="chkInvocieAttachedStatus@(itemName)Y" name="chkInvocieAttachedStatus@(itemName)" value="Y" data-msg-required="請選擇是否隨貨附上發票" data-rule-required="true" checked />
                                                            <span class="control__indicator"></span>
                                                        </label>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-6">
                                                        <label class="control control-solid control-solid-info control--radio col-12">
                                                            否
                                                            <input type="radio" id="chkInvocieAttachedStatus@(itemName)N" name="chkInvocieAttachedStatus@(itemName)" value="N" data-msg-required="請選擇是否隨貨附上發票" data-rule-required="true" />
                                                            <span class="control__indicator"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="chkPermitPartialDelivery@(itemName)">允許分批交貨 <span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-4 col-6">
                                                        <label class="control control-solid control-solid-info control--radio col-12">
                                                            是
                                                            <input type="radio" id="chkPermitPartialDelivery@(itemName)Y" name="chkPermitPartialDelivery@(itemName)" value="Y" data-msg-required="請選擇是否允許分批交貨" data-rule-required="true" checked />
                                                            <span class="control__indicator"></span>
                                                        </label>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-6">
                                                        <label class="control control-solid control-solid-info control--radio col-12">
                                                            否
                                                            <input type="radio" id="chkPermitPartialDelivery@(itemName)N" name="chkPermitPartialDelivery@(itemName)" value="N" data-msg-required="請選擇是否允許分批交貨" data-rule-required="true" />
                                                            <span class="control__indicator"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="cboCountry@(itemName)">國家別 </label>
                                            <div class="col-12">
                                                <select class="form-control" id="cboCountry@(itemName)" name="cboCountry@(itemName)"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="cboRegion@(itemName)">地區別 </label>
                                            <div class="col-12">
                                                <select class="form-control" id="cboRegion@(itemName)" name="cboRegion@(itemName)"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="txtTradeItem@(itemName)">交易項目 </label>
                                            <div class="col-12">
                                                <input type="text" class="form-control" id="txtTradeItem@(itemName)" name="txtTradeItem@(itemName)"
                                                       data-msg-maxlength="必須少於 255 個字元" maxlength="255" placeholder="請輸入交易項目" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="cboCurrency@(itemName)">交易幣別 <span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <select class="form-control" id="cboCurrency@(itemName)" name="cboCurrency@(itemName)"
                                                        data-msg-required="請選擇交易幣別" data-rule-required="true"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="cboTradeTerm@(itemName)">交易條件 <span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <select class="form-control" id="cboTradeTerm@(itemName)" name="cboTradeTerm@(itemName)"
                                                        data-msg-required="請選擇交易條件" data-rule-required="true"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="cboCertificateFormatType@(itemName)">憑證列印格式 <span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <select class="form-control" id="cboCertificateFormatType@(itemName)" name="cboCertificateFormatType@(itemName)"
                                                        data-msg-required="請選擇憑證列印格式" data-rule-required="true"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="cboPoDeliver@(itemName)">採購單發送方式 <span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <select class="form-control" id="cboPoDeliver@(itemName)" name="cboPoDeliver@(itemName)"
                                                        data-msg-required="請選擇採購單發送方式" data-rule-required="true"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="txtDepositRate@(itemName)">訂金比率 <span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <input type="number" class="form-control" id="txtDepositRate@(itemName)" name="txtDepositRate@(itemName)" value="0" min="0" step="0.1"
                                                       data-msg-required="請輸入訂金比率" data-rule-required="true" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="cboPaymentType@(itemName)">付款方式 <span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <select class="form-control" id="cboPaymentType@(itemName)" name="cboPaymentType@(itemName)"
                                                        data-msg-required="請選擇付款方式" data-rule-required="true"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="cboPaymentTerm@(itemName)">付款條件 <span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <select class="form-control" id="cboPaymentTerm@(itemName)" name="cboPaymentTerm@(itemName)"
                                                        data-msg-required="請選擇付款條件" data-rule-required="true"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabTrade2">
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="cboRemitBank@(itemName)">匯款銀行 <span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <select class="form-control" id="cboRemitBank@(itemName)" name="cboRemitBank@(itemName)"
                                                        data-msg-required="請選擇匯款銀行"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="txtRemitAccount@(itemName)">銀行帳號 <span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <input type="text" class="form-control" id="txtRemitAccount@(itemName)" name="txtRemitAccount@(itemName)"
                                                       data-msg-required="請輸入銀行帳號" data-rule-required="true" placeholder="請輸入銀行帳號"
                                                       data-msg-maxlength="必須少於 30 個字元" maxlength="30" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="txtAccountMonth@(itemName)">結帳日期 <span class="text-danger">*</span></label>
                                            <div class="input-group col-12">
                                                <span class="input-group-addon">驗收後</span>
                                                <input type="number" class="form-control" id="txtAccountMonth@(itemName)" name="txtAccountMonth@(itemName)"
                                                       min="0" max="12" placeholder="請輸入結帳月" />
                                                <span class="input-group-addon">個月逢</span>
                                                <input type="number" class="form-control" id="txtAccountDay@(itemName)" name="txtAccountDay@(itemName)"
                                                       min="1" max="31" data-msg-required="請輸入結帳日" data-rule-required="true" placeholder="請輸入結帳日" />
                                                <span class="input-group-addon">日</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="cboTaxAmountCalculateType@(itemName)">稅額計算方式 <span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <select class="form-control" id="cboTaxAmountCalculateType@(itemName)" name="cboTaxAmountCalculateType@(itemName)"
                                                        data-msg-required="請選擇稅額計算方式" data-rule-required="true"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="cboReceiptReceive@(itemName)">票據寄領 <span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <select class="form-control" id="cboReceiptReceive@(itemName)" name="cboReceiptReceive@(itemName)"
                                                        data-msg-required="請選擇票據寄領" data-rule-required="true"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="cboTaxNo@(itemName)">稅別碼 <span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <select class="form-control" id="cboTaxNo@(itemName)" name="cboTaxNo@(itemName)"
                                                        data-msg-required="請選擇稅別碼" data-rule-required="true"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="cboInvoiceCount@(itemName)">發票聯數 <span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <select class="form-control" id="cboInvoiceCount@(itemName)" name="cboInvoiceCount@(itemName)"
                                                        data-msg-required="請選擇發票聯數" data-rule-required="true"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="cboTaxation@(itemName)">課稅別 <span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <select class="form-control" id="cboTaxation@(itemName)" name="cboTaxation@(itemName)"
                                                        data-msg-required="請選擇課稅別" data-rule-required="true"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="cboAccountPayable@(itemName)">帳款科目 </label>
                                            <div class="col-12">
                                                <select class="form-control" id="cboAccountPayable@(itemName)" name="cboAccountPayable@(itemName)"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="cboAccountInvoice@(itemName)">票據科目 </label>
                                            <div class="col-12">
                                                <select class="form-control" id="cboAccountInvoice@(itemName)" name="cboAccountInvoice@(itemName)"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="cboAccountOverhead@(itemName)">加工費用科目 </label>
                                            <div class="col-12">
                                                <select class="form-control" id="cboAccountOverhead@(itemName)" name="cboAccountOverhead@(itemName)"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="cboSupplierLevel@(itemName)">ABC等級 </label>
                                            <div class="col-12">
                                                <select class="form-control" id="cboSupplierLevel@(itemName)" name="cboSupplierLevel@(itemName)"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="cboQualityRating@(itemName)">品質評等 </label>
                                            <div class="col-12">
                                                <select class="form-control" id="cboQualityRating@(itemName)" name="cboQualityRating@(itemName)"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="cboDeliveryRating@(itemName)">交貨評等 <span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <select class="form-control" id="cboDeliveryRating@(itemName)" name="cboDeliveryRating@(itemName)"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="txtSupplierRemark@(itemName)">備註 </label>
                                            <div class="col-12">
                                                <textarea class="form-control" id="txtSupplierRemark@(itemName)" name="txtSupplierRemark@(itemName)"
                                                          data-msg-maxlength="必須少於 255 個字元" maxlength="255" rows="2" placeholder="請輸入備註"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-right">
                <button type="button" class="btn sub-function btnPrev" onclick="Prev@(itemName)()" style="display:none;"><i class="fas fa-arrow-alt-circle-left"></i>上一步</button>
                <button type="button" class="btn btn-info btnNext" onclick="Next@(itemName)()"><i class="fas fa-arrow-alt-circle-right"></i>下一步</button>
                <button type="button" class="btn btn-success btnSave" onclick="Save@(itemName)()" style="display:none;"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>


@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        $(document).ready(function () {

            Query@(itemName)();

            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                switch ($(this).attr("href")) {
                    case "#tabBasic1":
                        //$(".btnReturn").show();
                        $(".btnPrev").hide();
                        $(".btnNext").show();
                        $(".btnSave").hide();
                        break;
                    case "#tabTrade2":
                        //$(".btnReturn").hide();
                        $(".btnPrev").show();
                        $(".btnNext").hide();
                        if ($(objForm@(itemName) + " fieldset").attr("disabled") == 'disabled') {
                            $(".btnSave").hide();
                        } else {
                            $(".btnSave").show();
                        }
                        break;
                    default:
                        //$(".btnReturn").hide();
                        $(".btnReturn").show();
                        $(".btnPrev").show();
                        $(".btnNext").show();
                        $(".btnSave").hide();
                        break;
                }
            });
        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let statusList = [];
            $.each($("input[name='cbxStatusQ@(itemName)']:checked"), function () {
                statusList.push($(this).val());
            });

            let targetUrl = "@Url.Action("GetSupplier", "ScmBasicInformation")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "SupplierNo": $("#txtSupplierNoQ@(itemName)").val(),
                "SupplierName": $("#txtSupplierNameQ@(itemName)").val(),
                "Status": statusList.join(",")
            };
            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr>
                                        <td>${_row}</td>
                                        <td>${item.SupplierNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.SupplierName}" style="max-width: 150px;">${item.SupplierShortName}</td>
                                        <td>${item.TelNoFirst}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.AddressFirst}" style="max-width: 150px;">${item.AddressFirst}</td>
                                        <td>${item.ContactFirst}</td>
                                        <td class="text-center">${StatusName("Boolean", item.TransferStatus)}</td>
                                        <td class="text-center auth-status-switch">
                                          <input type="checkbox" name="chkPassStationControl@(itemName)" data-supplier-id="${item.SupplierId}" ${(item.PassStationControl == 'Y' ? 'checked' : '')} />
                                        </td>
                                        <td class="text-center auth-status-switch">
                                          <input type="checkbox" name="chkStatus@(itemName)" data-supplier-id="${item.SupplierId}" ${(item.Status == 'A' ? 'checked' : '')} />
                                        </td>
                                        <td class="text-center un-auth auth-status-switch">${StatusName("Boolean", item.Status)}</td>
                                        <td class="text-center active-content">
                                          <a class="active-link auth-read" href="javascript:Read@(itemName)(${item.SupplierId});"><i class="fas fa-eye"></i></a>
                                          <a class="active-link auth-update" href="javascript:Edit@(itemName)(${item.SupplierId});"><i class="fas fa-edit"></i></a>
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="10" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

            $("input[name='chkStatus@(itemName)']").bootstrapToggle({
                on: "啟用",
                off: "停用",
                onstyle: "success",
                offstyle: "danger",
                size: "mini"
            });

            $("input[name='chkPassStationControl@(itemName)']").bootstrapToggle({
                on: "啟用",
                off: "停用",
                onstyle: "success",
                offstyle: "danger",
                size: "mini"
            });

            $("input[name='chkStatus@(itemName)'][data-supplier-id]").change(StatusSwitch@(itemName));
            $("input[name='chkPassStationControl@(itemName)'][data-supplier-id]").change(PassStationControlSwitch@(itemName));
        }

        function Edit@(itemName)(SupplierId) {
            $("#SupplierId").val(SupplierId ? SupplierId : 0);

            $(objForm@(itemName) + " fieldset").attr("disabled", false);
            $(objForm@(itemName) + " select").attr("disabled", false);

            $("#cboInvoiceCount@(itemName)").attr("disabled", true);
            $("#cboTaxation@(itemName)").attr("disabled", true);
            $("#txtSupplierNo@(itemName)").attr("readonly", false);
            $(".btn-outline-danger").show();
            $(".nav-item > a.nav-link i").eq(0).click();

            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");

            ComboBoxs.WithText("#cboRelatedPerson@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "RelatedPerson" }, "", "NA", "", "SubsidiaryName", "RelatedPerson");  //關係人代號
            ComboBoxs.Default("#cboPermitStatus@(itemName)", "@Url.Action("GetStatus", "BasicInformation")", { "StatusSchema": "PermitStatus" }, "", "NA", "", "StatusName", "StatusNo");   //核准狀態碼
            ComboBoxs.Default("#cboPurchaseUserId@(itemName)", "@Url.Action("GetUser", "BasicInformation")", { "Departments": "72, 110" }, "", "NA", "", "UserWithNo", "UserId");  //採購人員
            ComboBoxs.Default("#cboCertificateFormatType@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "Language" }, "", "NA", "", "TypeName", "TypeNo");   //憑證列印格式
            ComboBoxs.Default("#cboCountry@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "TransactionObject", "Condition": 4 }, "", "NA", "", "ClassificationName", "ClassificationNo");    //國家別
            ComboBoxs.Default("#cboRegion@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "TransactionObject", "Condition": 3 }, "", "NA", "", "ClassificationName", "ClassificationNo");    //地區別
            ComboBoxs.WithText("#cboCurrency@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "Currency" }, "", "NA", "", "CurrencyName", "Currency");  //交易幣別
            ComboBoxs.Default("#cboTradeTerm@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "TradeTerm" }, 1, "NA", "", "TradeTermName", "TradeTermNo");  //交易條件
            ComboBoxs.Default("#cboTaxAmountCalculateType@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "Customer.TaxAmountCalculate" }, "", "NA", "", "TypeName", "TypeNo");  //稅額計算方式
            ComboBoxs.Default("#cboPoDeliver@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "Customer.Deliver" }, "", "NA", "", "TypeName", "TypeNo");    //採購單發送方式
            ComboBoxs.Default("#cboPaymentTerm@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "PaymentTerm" }, "", "NA", "", "PaymentTermName", "PaymentTermNo");  //付款條件
            ComboBoxs.Default("#cboPaymentType@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "Customer.Payment" }, "", "NA", "", "TypeName", "TypeNo");    //付款方式
            ComboBoxs.Default("#cboRemitBank@(itemName)", "@Url.Action("GetErpSysData", "BasicInformation")", { "ColumnName": "Bank" }, "", "NA", "", "BankName", "BankNo");    //匯款銀行
            ComboBoxs.Default("#cboReceiptReceive@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "Customer.ReceiptReceive" }, "", "NA", "", "TypeName", "TypeNo");    //票據寄領
            ComboBoxs.WithText("#cboTaxNo@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "TaxNo" }, "", "NA", "", "TaxName", "TaxNo");  //稅別碼
            ComboBoxs.Default("#cboAccountPayable@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "Account" }, "", "NA", "", "AccountName", "AccountNo");    //帳款科目
            ComboBoxs.Default("#cboAccountInvoice@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "AccountInvoice" }, "", "NA", "", "AccountName", "AccountNo");    //票據科目
            ComboBoxs.Default("#cboAccountOverhead@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "AccountOverhead" }, "", "NA", "", "AccountName", "AccountNo");    //加工費用科目
            ComboBoxs.Default("#cboSupplierLevel@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "Customer.Rating" }, "", "NA", "", "TypeName", "TypeNo");  //ABC等級
            ComboBoxs.Default("#cboDeliveryRating@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "Supplier.Rating" }, "", "NA", "", "TypeName", "TypeNo");  //交貨評等
            ComboBoxs.Default("#cboQualityRating@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "Customer.Rating" }, "", "NA", "", "TypeName", "TypeNo");  //品質評等
            ComboBoxs.Default("#cboPassStationControl@(itemName)", "@Url.Action("GetStatus", "BasicInformation")", { "StatusSchema": "Boolean" }, "N", "NA", "", "StatusName", "StatusNo");  //是否要過站

            Suites.DateDropper("#txtInauguateDate@(itemName)");

            Suites.SetDateDropper("#txtInauguateDate@(itemName)");

            $("#cboTaxNo@(itemName)").off("change").on("change", function () {
                ComboBoxs.Default("#cboInvoiceCount@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "InvoiceCount", "Condition": $("#cboTaxNo@(itemName)").val() }, "", "CHOOSE", "", "InvoiceCountName", "InvoiceCountNo");

                let taxation;
                let targetUrl = "@Url.Action("GetErpData", "BasicInformation")";
                let postData = {
                    "ColumnName": "TaxNo",
                    "Condition": $("#cboTaxNo@(itemName)").val()
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        taxation = item.Taxation;
                    });
                }

                ComboBoxs.Default("#cboTaxation@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "Customer.Taxation" }, taxation, "NA", "", "TypeName", "TypeNo");
            });

            if (SupplierId > 0) {
                $("#txtSupplierNo@(itemName)").attr("readonly", true);

                let targetUrl = "@Url.Action("GetSupplier", "ScmBasicInformation")";
                let postData = {
                    "SupplierId": SupplierId
                };
                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        $("#txtSupplierNo@(itemName)").val(item.SupplierNo);
                        $("#txtSupplierName@(itemName)").val(item.SupplierName);
                        $("#txtSupplierEnglishName@(itemName)").val(item.SupplierEnglishName);
                        $("#txtSupplierShortName@(itemName)").val(item.SupplierShortName);
                        $("#cboRelatedPerson@(itemName)").val(item.RelatedPerson);
                        $("#txtGuiNumber@(itemName)").val(item.GuiNumber);
                        $("#txtVersion@(itemName)").val(item.Version);
                        $("#cboPermitStatus@(itemName)").val(item.PermitStatus);
                        $("#txtResponsiblePerson@(itemName)").val(item.ResponsiblePerson);
                        $("#txtTelNoFirst@(itemName)").val(item.TelNoFirst);
                        $("#txtTelNoSecond@(itemName)").val(item.TelNoSecond);
                        $("#txtContactFirst@(itemName)").val(item.ContactFirst);
                        $("#txtContactSecond@(itemName)").val(item.ContactSecond);
                        $("#txtContactThird@(itemName)").val(item.ContactThird);
                        $("#txtEmail@(itemName)").val(item.Email);
                        $("#txtFaxNo@(itemName)").val(item.FaxNo);
                        $("#txtFaxNoAccounting@(itemName)").val(item.FaxNoAccounting);
                        $("#cboPurchaseUserId@(itemName)").val(item.PurchaseUserId);
                        if (item.InauguateDate) {
                            Suites.SetDateDropper("#txtInauguateDate@(itemName)", new Date(item.InauguateDate));
                        }           
                        $("#txtCapital@(itemName)").val(item.Capital);
                        $("#txtHeadcount@(itemName)").val(item.Headcount);
                        $("#txtZipCodeFirst@(itemName)").val(item.ZipCodeFirst);
                        $("#txtAddressFirst@(itemName)").val(item.AddressFirst);
                        $("#txtAddressSecond@(itemName)").val(item.AddressSecond);
                        $("#txtZipCodeSecond@(itemName)").val(item.ZipCodeSecond);
                        $("#txtBillAddressFirst@(itemName)").val(item.BillAddressFirst);
                        $("#txtBillAddressSecond@(itemName)").val(item.BillAddressSecond);
                        if (item.InvocieAttachedStatus == "Y") $("#chkInvocieAttachedStatus@(itemName)Y").prop("checked", true);
                        if (item.InvocieAttachedStatus == "N") $("#chkInvocieAttachedStatus@(itemName)N").prop("checked", true);
                        if (item.PermitPartialDelivery == "Y") $("#chkPermitPartialDelivery@(itemName)Y").prop("checked", true);
                        if (item.PermitPartialDelivery == "N") $("#chkPermitPartialDelivery@(itemName)N").prop("checked", true);
                        $("#cboCertificateFormatType@(itemName)").val(item.CertificateFormatType);
                        $("#cboCountry@(itemName)").val(item.Country);
                        $("#cboRegion@(itemName)").val(item.Region);
                        $("#txtTradeItem@(itemName)").val(item.TradeItem);
                        $("#cboCurrency@(itemName)").val(item.Currency);
                        $("#cboTradeTerm@(itemName)").val(item.TradeTerm);
                        $("#cboTaxAmountCalculateType@(itemName)").val(item.TaxAmountCalculateType);
                        $("#cboPoDeliver@(itemName)").val(item.PoDeliver);
                        $("#txtDepositRate@(itemName)").val(item.DepositRate);
                        $("#cboPaymentType@(itemName)").val(item.PaymentType);
                        $("#cboPaymentTerm@(itemName)").val(item.PaymentTerm);
                        $("#cboRemitBank@(itemName)").val(item.RemitBank);
                        $("#txtRemitAccount@(itemName)").val(item.RemitAccount);
                        $("#txtAccountMonth@(itemName)").val(item.AccountMonth);
                        $("#txtAccountDay@(itemName)").val(item.AccountDay);
                        $("#cboReceiptReceive@(itemName)").val(item.ReceiptReceive);
                        $("#cboTaxNo@(itemName)").val(item.TaxNo).trigger("change");
                        $("#cboInvoiceCount@(itemName)").val(item.InvoiceCount);
                        $("#cboTaxation@(itemName)").val(item.Taxation);
                        $("#cboAccountPayable@(itemName)").val(item.AccountPayable);
                        $("#cboAccountInvoice@(itemName)").val(item.AccountInvoice);
                        $("#cboAccountOverhead@(itemName)").val(item.AccountOverhead);
                        $("#cboSupplierLevel@(itemName)").val(item.SupplierLevel);
                        $("#cboQualityRating@(itemName)").val(item.QualityRating);
                        $("#cboDeliveryRating@(itemName)").val(item.DeliveryRating);
                        $("#txtSupplierRemark@(itemName)").val(item.SupplierRemark);
                        $("#cboPassStationControl@(itemName)").val(item.PassStationControl).trigger("change.select2");
                    });
                } else {
                    alert(data.msg, "alert", 0);
                }
            }

            if (!isMobile) {                
                $("#cboRelatedPerson@(itemName), #cboPermitStatus@(itemName), #cboPurchaseUserId@(itemName), #cboCertificateFormatType@(itemName), #cboCountry@(itemName), #cboRegion@(itemName), #cboCurrency@(itemName), #cboTradeTerm@(itemName), #cboTaxAmountCalculateType@(itemName), #cboPoDeliver@(itemName), #cboPaymentType@(itemName), #cboPaymentTerm@(itemName), #cboRemitBank@(itemName), #cboReceiptReceive@(itemName), #cboTaxNo@(itemName), #cboInvoiceCount@(itemName), #cboTaxation@(itemName), #cboAccountPayable@(itemName), #cboAccountInvoice@(itemName), #cboAccountOverhead@(itemName), #cboSupplierLevel@(itemName), #cboQualityRating@(itemName), #cboDeliveryRating@(itemName), #cboPassStationControl").select2({
                    dropdownAutoWidth: true,
                    width: "100%"
                });
            }
        }

        function Read@(itemName)(SupplierId) {
            Edit@(itemName)(SupplierId);
            $(objForm@(itemName) + " fieldset").attr("disabled", true);
            $(objForm@(itemName) + " select").attr("disabled", true);
            $(".btn-outline-danger").hide();
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {

                let SupplierId = parseInt($("#SupplierId").val());

                if (SupplierId <= 0) {
                    let targetUrl = "@Url.Action("AddSupplier", "ScmBasicInformation")";
                    let postData = {
                        "SupplierNo": $("#txtSupplierNo@(itemName)").val(),
                        "SupplierName": $("#txtSupplierName@(itemName)").val(),
                        "SupplierEnglishName": $("#txtSupplierEnglishName@(itemName)").val(),
                        "SupplierShortName": $("#txtSupplierShortName@(itemName)").val(),
                        "RelatedPerson": $("#cboRelatedPerson@(itemName)").val(),
                        "GuiNumber": $("#txtGuiNumber@(itemName)").val(),
                        "Version": $("#txtVersion@(itemName)").val(),
                        "PermitStatus": $("#cboPermitStatus@(itemName)").val(),
                        "ResponsiblePerson": $("#txtResponsiblePerson@(itemName)").val(),
                        "TelNoFirst": $("#txtTelNoFirst@(itemName)").val(),
                        "TelNoSecond": $("#txtTelNoSecond@(itemName)").val(),
                        "ContactFirst": $("#txtContactFirst@(itemName)").val(),
                        "ContactSecond": $("#txtContactSecond@(itemName)").val(),
                        "ContactThird": $("#txtContactThird@(itemName)").val(),
                        "Email": $("#txtEmail@(itemName)").val(),
                        "FaxNo": $("#txtFaxNo@(itemName)").val(),
                        "FaxNoAccounting": $("#txtFaxNoAccounting@(itemName)").val(),
                        "PurchaseUserId": $("#cboPurchaseUserId@(itemName)").val(),
                        "InauguateDate": $("#txtInauguateDate@(itemName)").val(),
                        "Capital": $("#txtCapital@(itemName)").val(),
                        "Headcount": $("#txtHeadcount@(itemName)").val(),
                        "ZipCodeFirst": $("#txtZipCodeFirst@(itemName)").val(),
                        "AddressFirst": $("#txtAddressFirst@(itemName)").val(),
                        "AddressSecond": $("#txtAddressSecond@(itemName)").val(),
                        "ZipCodeSecond": $("#txtZipCodeSecond@(itemName)").val(),
                        "BillAddressFirst": $("#txtBillAddressFirst@(itemName)").val(),
                        "BillAddressSecond": $("#txtBillAddressSecond@(itemName)").val(),
                        "InvocieAttachedStatus": $("input[name='chkInvocieAttachedStatus@(itemName)']:checked").val(),
                        "PermitPartialDelivery": $("input[name='chkPermitPartialDelivery@(itemName)']:checked").val(),
                        "CertificateFormatType": $("#cboCertificateFormatType@(itemName)").val(),
                        "Country": $("#cboCountry@(itemName)").val(),
                        "Region": $("#cboRegion@(itemName)").val(),
                        "TradeItem": $("#txtTradeItem@(itemName)").val(),
                        "Currency": $("#cboCurrency@(itemName)").val(),
                        "TradeTerm": $("#cboTradeTerm@(itemName)").val(),
                        "TaxAmountCalculateType": $("#cboTaxAmountCalculateType@(itemName)").val(),
                        "PoDeliver": $("#cboPoDeliver@(itemName)").val(),
                        "DepositRate": $("#txtDepositRate@(itemName)").val(),
                        "PaymentType": $("#cboPaymentType@(itemName)").val(),
                        "PaymentTerm": $("#cboPaymentTerm@(itemName)").val(),
                        "RemitBank": $("#cboRemitBank@(itemName)").val(),
                        "RemitAccount": $("#txtRemitAccount@(itemName)").val(),
                        "AccountMonth": $("#txtAccountMonth@(itemName)").val(),
                        "AccountDay": $("#txtAccountDay@(itemName)").val(),
                        "ReceiptReceive": $("#cboReceiptReceive@(itemName)").val(),
                        "TaxNo": $("#cboTaxNo@(itemName)").val(),
                        "InvoiceCount": $("#cboInvoiceCount@(itemName)").val(),
                        "Taxation": $("#cboTaxation@(itemName)").val(),
                        "AccountPayable": $("#cboAccountPayable@(itemName)").val(),
                        "AccountInvoice": $("#cboAccountInvoice@(itemName)").val(),
                        "AccountOverhead": $("#cboAccountOverhead@(itemName)").val(),
                        "SupplierLevel": $("#cboSupplierLevel@(itemName)").val(),
                        "QualityRating": $("#cboQualityRating@(itemName)").val(),
                        "DeliveryRating": $("#cboDeliveryRating@(itemName)").val(),
                        "SupplierRemark": $("#txtSupplierRemark@(itemName)").val(),
                        "PassStationControl": $("#cboPassStationControl@(itemName)").val()
                    };

                    let result = DataAccess.Add(targetUrl, postData, false, true);

                    if (result) {
                        Return@(itemName)();
                    }
                } else {
                    let targetUrl = "@Url.Action("UpdateSupplier", "ScmBasicInformation")";
                    let postData = {
                        "SupplierId": SupplierId,
                        "SupplierNo": $("#txtSupplierNo@(itemName)").val(),
                        "SupplierName": $("#txtSupplierName@(itemName)").val(),
                        "SupplierEnglishName": $("#txtSupplierEnglishName@(itemName)").val(),
                        "SupplierShortName": $("#txtSupplierShortName@(itemName)").val(),
                        "RelatedPerson": $("#cboRelatedPerson@(itemName)").val(),
                        "GuiNumber": $("#txtGuiNumber@(itemName)").val(),
                        "Version": (parseInt($("#txtVersion@(itemName)").val(), 10) + 1).toString().padStart(4, '0'),
                        "PermitStatus": $("#cboPermitStatus@(itemName)").val(),
                        "ResponsiblePerson": $("#txtResponsiblePerson@(itemName)").val(),
                        "TelNoFirst": $("#txtTelNoFirst@(itemName)").val(),
                        "TelNoSecond": $("#txtTelNoSecond@(itemName)").val(),
                        "ContactFirst": $("#txtContactFirst@(itemName)").val(),
                        "ContactSecond": $("#txtContactSecond@(itemName)").val(),
                        "ContactThird": $("#txtContactThird@(itemName)").val(),
                        "Email": $("#txtEmail@(itemName)").val(),
                        "FaxNo": $("#txtFaxNo@(itemName)").val(),
                        "FaxNoAccounting": $("#txtFaxNoAccounting@(itemName)").val(),
                        "PurchaseUserId": $("#cboPurchaseUserId@(itemName)").val(),
                        "InauguateDate": $("#txtInauguateDate@(itemName)").val(),
                        "Capital": $("#txtCapital@(itemName)").val(),
                        "Headcount": $("#txtHeadcount@(itemName)").val(),
                        "ZipCodeFirst": $("#txtZipCodeFirst@(itemName)").val(),
                        "AddressFirst": $("#txtAddressFirst@(itemName)").val(),
                        "AddressSecond": $("#txtAddressSecond@(itemName)").val(),
                        "ZipCodeSecond": $("#txtZipCodeSecond@(itemName)").val(),
                        "BillAddressFirst": $("#txtBillAddressFirst@(itemName)").val(),
                        "BillAddressSecond": $("#txtBillAddressSecond@(itemName)").val(),
                        "InvocieAttachedStatus": $("input[name='chkInvocieAttachedStatus@(itemName)']:checked").val(),
                        "PermitPartialDelivery": $("input[name='chkPermitPartialDelivery@(itemName)']:checked").val(),
                        "CertificateFormatType": $("#cboCertificateFormatType@(itemName)").val(),
                        "Country": $("#cboCountry@(itemName)").val(),
                        "Region": $("#cboRegion@(itemName)").val(),
                        "TradeItem": $("#txtTradeItem@(itemName)").val(),
                        "Currency": $("#cboCurrency@(itemName)").val(),
                        "TradeTerm": $("#cboTradeTerm@(itemName)").val(),
                        "TaxAmountCalculateType": $("#cboTaxAmountCalculateType@(itemName)").val(),
                        "PoDeliver": $("#cboPoDeliver@(itemName)").val(),
                        "DepositRate": $("#txtDepositRate@(itemName)").val(),
                        "PaymentType": $("#cboPaymentType@(itemName)").val(),
                        "PaymentTerm": $("#cboPaymentTerm@(itemName)").val(),
                        "RemitBank": $("#cboRemitBank@(itemName)").val(),
                        "RemitAccount": $("#txtRemitAccount@(itemName)").val(),
                        "AccountMonth": $("#txtAccountMonth@(itemName)").val(),
                        "AccountDay": $("#txtAccountDay@(itemName)").val(),
                        "ReceiptReceive": $("#cboReceiptReceive@(itemName)").val(),
                        "TaxNo": $("#cboTaxNo@(itemName)").val(),
                        "InvoiceCount": $("#cboInvoiceCount@(itemName)").val(),
                        "Taxation": $("#cboTaxation@(itemName)").val(),
                        "AccountPayable": $("#cboAccountPayable@(itemName)").val(),
                        "AccountInvoice": $("#cboAccountInvoice@(itemName)").val(),
                        "AccountOverhead": $("#cboAccountOverhead@(itemName)").val(),
                        "SupplierLevel": $("#cboSupplierLevel@(itemName)").val(),
                        "QualityRating": $("#cboQualityRating@(itemName)").val(),
                        "DeliveryRating": $("#cboDeliveryRating@(itemName)").val(),
                        "SupplierRemark": $("#txtSupplierRemark@(itemName)").val(),
                        "PassStationControl": $("#cboPassStationControl@(itemName)").val()
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Return@(itemName)();
                    }
                }
            }
        }

        function Return@(itemName)() {
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName)", "#editData@(itemName), .unit-block");
            Query@(itemName)();
        }

        function StatusSwitch@(itemName)() {
            var supplierId = $(this).data("supplier-id");

            let targetUrl = "@Url.Action("UpdateSupplierStatus", "ScmBasicInformation")";
            let postData = {
                "SupplierId": supplierId
            };

            let result = DataAccess.Update(targetUrl, postData, false, true);

            if (result) {
                Return@(itemName)();
                Query@(itemName)();
            }
        }

        function PassStationControlSwitch@(itemName)() {
            var supplierId = $(this).data("supplier-id");

            let targetUrl = "@Url.Action("UpdateSupplierPassStationControl", "ScmBasicInformation")";
            let postData = {
                "SupplierId": supplierId
            };

            let result = DataAccess.Update(targetUrl, postData, false, true);

            if (result) {
                Return@(itemName)();
                Query@(itemName)();
            }
        }

        function Next@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                $(".nav-item > .active").parent().next("li").find("a").trigger("click");
            }
        }
        function Prev@(itemName)() {
            $(".nav-item > .active").parent().prev("li").find("a").trigger("click");
        }
    </script>
)