@using Business_Manager.Helpers
@{
    string itemName = "RpqReport";
    string itemNameText = "電商詢價流程追蹤";
    string authority = ViewBag.authority;

    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
        .btn-secondary {
            color: #6c757d;
             background-color: #fff; 
            border-color: #6c757d;
        }
    </style>
)

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>
<!--搜尋內容-->
<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body" style="max-height: 450px;overflow-y: auto;">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtRfqNoQ@(itemName)">需求單號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtRfqNoQ@(itemName)" name="txtRfqNoQ@(itemName)" placeholder="請輸入需求單號" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtMemberNameQ@(itemName)">客戶名稱</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMemberNameQ@(itemName)" name="txtMemberNameQ@(itemName)" placeholder="請輸入客戶名稱" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtAssemblyNameQ@(itemName)">機種名稱</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtAssemblyNameQ@(itemName)" name="txtAssemblyNameQ@(itemName)" placeholder="請輸入機種名稱" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboProductUseQ@(itemName)">產品應用</label>
                            <div class="col-12">
                                <select class="form-control edit-column" id="cboProductUseQ@(itemName)" name="cboProductUseQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboProductTypeQ@(itemName)">產品類別</label>
                            <div class="col-12">
                                <select class="form-control edit-column" id="cboProductTypeQ@(itemName)" name="cboProductTypeQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">狀態</label>
                            <div class="col-lg-4 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    新單據
                                    <input type="checkbox" id="cbxStatusQ@(itemName)Y" name="cbxStatusQ@(itemName)" value="1" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    指派業務
                                    <input type="checkbox" id="cbxStatusQ@(itemName)N" name="cbxStatusQ@(itemName)" value="2" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    業務完成RFQ單據
                                    <input type="checkbox" id="cbxStatusQ@(itemName)N" name="cbxStatusQ@(itemName)" value="3" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6 mt-2">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    研發完成DFM單據
                                    <input type="checkbox" id="cbxStatusQ@(itemName)N" name="cbxStatusQ@(itemName)" value="4" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6 mt-2">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    製程完成DFM製程
                                    <input type="checkbox" id="cbxStatusQ@(itemName)N" name="cbxStatusQ@(itemName)" value="5" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6 mt-2">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    業務完成報價
                                    <input type="checkbox" id="cbxStatusQ@(itemName)N" name="cbxStatusQ@(itemName)" value="6" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>


<!--list列表-->
<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);">
                            <i class="fal fa-search"></i>搜尋
                        </a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right" style="display:none;">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-secondary">
                                <input type="radio" name="timeStatus@(itemName)" value="history" checked />
                               歷史查詢
                            </label>
                            <label class="btn btn-secondary">
                                <input type="radio" name="timeStatus@(itemName)" value="now" />
                                現況
                            </label>
                           
                        </div>
                    </div>
                </div>

                <!--列表-->
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky tiny-table" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="width:15px;min-width: 15px;">#</th>
                                        <th scope="col" style="width:120px;min-width: 120px;">需求單號</th>
                                        <th scope="col" style="width:60px;min-width: 60px;">客戶名稱</th>
                                        <th scope="col" style="width:60px;min-width: 60px;">機種名稱</th>
                                        <th scope="col" style="width:60px;min-width: 60px;">產品用途</th>
                                        <th scope="col" style="width:90px;min-width: 90px;">產品類別</th>
                                        <th scope="col" style="width:90px;min-width: 90px;background-color:#fff2f2">單據狀態</th>
                                        <th style="padding: 0; width:200px;min-width: 250px;">
                                            <table class="table table-bordered table-sm mb-0 table-non-rwd table-striped-custom table-row-detail">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 75px;">關卡名稱</th>
                                                        <th style="width: 75px;">關卡人員</th>
                                                        <th style="width: 100px;">完成時間</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        $(document).ready(function () {
            ComboBoxs.Default("#cboProductUseQ@(itemName)", "@Url.Action("GetProductUse", "ScmBasicInformation")", {}, "", "NA", "", "ProductUseName", "ProductUseId");    //產品應用
            ComboBoxs.Default("#cboProductTypeQ@(itemName)", "@Url.Action("GetRfqProductType", "ScmBasicInformation")", {}, "", "NA", "", "RfqProductTypeName", "RfqProTypeId");    //產品類別


            //輸入文字搜尋
           $("#cboProductUseQ@(itemName),#cboProductTypeQ@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });

            //搜尋動作
            Query@(itemName)();
        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let targetUrl = "@Url.Action("GetRpqReport", "ScmReport")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "RfqNo": $("#txtRfqNoQ@(itemName)").val(),
                "MemberName": $("#txtMemberNameQ@(itemName)").val(),
                "AssemblyName": $("#txtAssemblyNameQ@(itemName)").val(),
                "ProductUseId": $("#cboProductUseQ@(itemName)").val(),
                "RfqProTypeId": $("#cboProductTypeQ@(itemName)").val(),
                "Status": $("input[name='cbxStatusQ@(itemName)']:checked").toArray().map(item => item.value).join(",")
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr>
                                        <td style="width:15px;min-width:15px;">
                                            <span class="stack-title">#</span>${_row}
                                        </td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.RfqNumber}" style="width:120px;max-width: 120px;">
                                            <span class="stack-title">需求單號</span>${item.RfqNumber}
                                        </td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MemberName}" style="width: 60px; max-width: 60px;">
                                            <span class="stack-title">客戶名稱</span>${item.MemberName}
                                        </td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.AssemblyName}" style="width: 60px;max-width: 60px;">
                                            <span class="stack-title">機種名稱</span>${item.AssemblyName}
                                        </td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ProductUseName}" style="width: 60px; max-width:60px;">
                                            <span class="stack-title">產品用途</span>${item.ProductUseName}
                                        </td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.RfqProductTypeName}" style="width: 90px; max-width: 90px;">
                                            <span class="stack-title">產品類別</span>${item.RfqProductTypeName}
                                        </td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.RfqDetailStatusName}" style="width: 90px; max-width:90px;background-color:#fff2f2">
                                            <span class="stack-title">單據狀態</span>${item.RfqDetailStatusName}
                                        </td>
                                        <td style="padding: 0;min-width: 200px;">
                                          <table class="table table-bordered table-sm mb-0 table-non-rwd table-striped-custom table-row-detail ">
                                            <tbody>
                                              ${DetailData@(itemName)(item.RpqTime)}
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="11" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));
        }

        function DetailData@(itemName)(source) {
            let html = '';

            if (source) {
                let json = JSON.parse(source); //需先轉成json

                for (let x = 0; x < json.data.length; x++) {
                    html += `<tr>
                                <td class="ellipsis" data-toggle="tooltip" title="新單據" style="width: 75px; max-width: 75px;">
                                新單據
                                </td>
                                <td class="ellipsis" data-toggle="tooltip" title="${json.data[x].CustName}" style="width: 75px; max-width: 75px;">
                                    <span class="stack-title">人員</span>${json.data[x].CustName}
                                </td>
                                <td class="ellipsis" data-toggle="tooltip" title="${json.data[x].NotifyVPTime}" style="width: 100px; max-width: 100px;">
                                <span class="stack-title">時間</span>${json.data[x].NotifyVPTime}
                                </td>
                             </tr>
                             <tr>
                                <td class="ellipsis" data-toggle="tooltip" title="" style="width: 75px; max-width: 75px;">
                                指派業務
                                </td>
                                <td class="ellipsis" data-toggle="tooltip" title="${json.data[x].VpName}" style="width: 75px; max-width: 75px;">
                                    <span class="stack-title">人員</span>${json.data[x].VpName}
                                </td>
                                <td class="ellipsis" data-toggle="tooltip" title="${json.data[x].NotifySalesTime}" style="width: 100px; max-width: 100px;">
                                <span class="stack-title">時間</span>${json.data[x].NotifySalesTime}
                                </td>
                             </tr>
                             <tr>
                                <td class="ellipsis" data-toggle="tooltip" title="" style="width: 75px; max-width: 75px;">
                               業務維護RFQ單據
                                </td>
                                <td class="ellipsis" data-toggle="tooltip" title="${json.data[x].SalesName}" style="width: 75px; max-width: 75px;">
                                    <span class="stack-title">人員</span>${json.data[x].SalesName}
                                </td>
                                <td class="ellipsis" data-toggle="tooltip" title="${json.data[x].NotifyRdTime}" style="width: 100px; max-width: 100px;">
                                <span class="stack-title">時間</span>${json.data[x].NotifyRdTime}
                                </td>
                             </tr>
                             <tr>
                               <td class="ellipsis" data-toggle="tooltip" title="" style="width: 75px; max-width: 75px;">
                               研發維護DFM單據
                               </td>
                               <td class="ellipsis" data-toggle="tooltip" title="${json.data[x].RdName}" style="width:75px; max-width: 75px;">
                                   <span class="stack-title">人員</span>${json.data[x].RdName}
                               </td>
                               <td class="ellipsis" data-toggle="tooltip" title="${json.data[x].NotifyIeTime}" style="width: 100px; max-width: 100px;">
                                <span class="stack-title">時間</span>${json.data[x].NotifyIeTime}
                               </td>
                             </tr>
                             <tr>
                                <td class="ellipsis" data-toggle="tooltip" title="" style="width: 75px; max-width: 75px;">
                                製程維護DFM製程
                                </td>
                                <td class="ellipsis" data-toggle="tooltip" title="${json.data[x].IeName}" style="width: 75px; max-width:75px;">
                                    <span class="stack-title">人員</span>${json.data[x].IeName}
                                </td>
                                <td class="ellipsis" data-toggle="tooltip" title="${json.data[x].NotifySaQuotationTime}" style="width: 100px; max-width: 100px;">
                                <span class="stack-title">時間</span>${json.data[x].NotifySaQuotationTime}
                                </td>
                             </tr>
                             <tr>
                                <td class="ellipsis" data-toggle="tooltip" title="" style="width: 75px; max-width: 75px;">
                                業務報價
                                </td>
                                <td class="ellipsis" data-toggle="tooltip" title="${json.data[x].SaQuotation}" style="width: 75px; max-width: 75px;">
                                    <span class="stack-title">人員</span>${json.data[x].NotifyCustTime.length > 0 ? json.data[x].SaQuotation : ``}
                                </td>
                                <td class="ellipsis" data-toggle="tooltip" title="${json.data[x].NotifyCustTime}" style="width: 100px; max-width: 100px;">
                                <span class="stack-title">時間</span>${json.data[x].NotifyCustTime}
                                </td>
                             </tr>`;
                }
            }
            return html;
        }
    </script>
)