@using Business_Manager.Helpers
@{
    string itemName = "AuthorityUserManagement";
    string itemNameText = "使用者角色";
}

@Html.Resource("css",
    @<style>
        .role-container {
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            vertical-align: middle !important;
        }

        .role-item {
            margin-right: 5px;
        }
    </style>
)

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboRoleIdQ@(itemName)">所屬角色</label>
                            <div class="col-12">
                                <select class="form-control" id="cboRoleIdQ@(itemName)" name="cboRoleIdQ@(itemName)"
                                        multiple></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboCompanyIdQ@(itemName)">所屬公司</label>
                            <div class="col-12">
                                <select class="form-control" id="cboCompanyIdQ@(itemName)" name="cboCompanyIdQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboDepartmentIdQ@(itemName)">所屬部門</label>
                            <div class="col-12">
                                <select class="form-control" id="cboDepartmentIdQ@(itemName)" name="cboDepartmentIdQ@(itemName)"
                                        multiple></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtUserNoQ@(itemName)">使用者編號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtUserNoQ@(itemName)" name="txtUserNoQ@(itemName)" placeholder="請輸入使用者編號" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtUserNameQ@(itemName)">使用者名稱</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtUserNameQ@(itemName)" name="txtUserNameQ@(itemName)" placeholder="請輸入使用者名稱" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">狀態</label>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    啟用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)A" name="cbxStatusQ@(itemName)" value="A" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    停用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)S" name="cbxStatusQ@(itemName)" value="S" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col-6 col-sm-6 col-md-6">
        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);">
            <i class="fal fa-search"></i>搜尋
        </a>
    </div>
    <div class="col-6 col-sm-6 col-md-6 text-right">
        <a class="btn btn-info auth-add" href="javascript:Add@(itemName)();"><i class="fas fa-plus"></i>新增</a>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="table-custom">
            <table class="table table-bordered table-striped table-sticky table-stack" id="tblData@(itemName)">
                <thead>
                    <tr>
                        <th scope="col" style="min-width: 75px;">#</th>
                        <th scope="col" style="min-width: 200px;">部門</th>
                        <th scope="col" style="min-width: 200px;">使用者</th>
                        <th scope="col" style="min-width: 300px;">所屬角色</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="pagination" id="page@(itemName)"></div>
    </div>
</div>

<div class="modal fade" id="modalAdd@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@(itemNameText)新增</h5>
                <button class="close" type="button" onclick="CloseAdd@(itemName)()">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container custom-form-container" autocomplete="off" id="addForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboUsers@(itemName)">使用者 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <div class="input-group">
                                    <select class="form-control" id="cboUsers@(itemName)" name="cboUsers@(itemName)"
                                            data-msg-required="請選擇使用者" data-rule-required="true" multiple></select>
                                    <div class="input-group-append">
                                        <a class="btn btn-success pop-view" href="javascript:void(0);"><i class="fal fa-search"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboRoleId@(itemName)">角色 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboRoleId@(itemName)" name="cboRoleId@(itemName)"
                                        data-msg-required="請選擇角色" data-rule-required="true"></select>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };

        let companyId@(itemName);

        $(document).ready(function () {
            GetUserInfo@(itemName)();

            ComboBoxs.Default("#cboRoleIdQ@(itemName)", "@Url.Action("GetRole", "SystemSetting")", { "Status": "A" }, "", "CHOOSE", "", "RoleName", "RoleId");
            ComboBoxs.Default("#cboCompanyIdQ@(itemName)", "@Url.Action("GetCompany", "BasicInformation")", { "Status": "A" }, companyId@(itemName), "CHOOSE", "", "CompanyWithNo", "CompanyId");
            ComboBoxs.Default("#cboDepartmentIdQ@(itemName)", "@Url.Action("GetDepartment", "BasicInformation")", { "CompanyId": companyId@(itemName), "Status": "A" }, "", "CHOOSE", "", "DepartmentWithNo", "DepartmentId");

            $("#cboCompanyIdQ@(itemName), #cboRoleIdQ@(itemName), #cboDepartmentIdQ@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });
        });

        function GetUserInfo@(itemName)() {
            let targetUrl = "@Url.Action("GetLoginByKey", "User")";
            let postData = {
                "UserNo": $.cookie("Login"),
                "KeyText": $.cookie("LoginKey")
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                companyId@(itemName) = data.returnData.CompanyId;
            } else {
                alert(data.msg, "alert", 0);
            }
        }

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let targetUrl = "@Url.Action("GetAuthorityUser", "SystemSetting")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "Roles": $("#cboRoleIdQ@(itemName) option:selected").toArray().map(item => item.value).join(),
                "CompanyId": $("#cboCompanyIdQ@(itemName)").val(),
                "Departments": $("#cboDepartmentIdQ@(itemName) option:selected").toArray().map(item => item.value).join(),
                "UserNo": $("#txtUserNoQ@(itemName)").val(),
                "UserName": $("#txtUserNameQ@(itemName)").val(),
                "Status": $("input[name='cbxStatusQ@(itemName)']:checked").toArray().map(item => item.value).join()
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr>
                                        <td><span class="stack-title">#</span>${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DepartmentNo} ${item.DepartmentName}" style="max-width: 200px;"><span class="stack-title">部門</span>${item.LogoIcon == -1 ? `` : `<img class="company-logo" src="/Web/GetFile?fileId=${item.LogoIcon}" />`}${item.DepartmentNo} ${item.DepartmentName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.UserName}" style="max-width: 200px;"><span class="stack-title">使用者名稱</span>${item.Gender == `M` ? `<span class="gender-male"><i class="fas fa-male"></i></span>` : item.Gender == `F` ? `<span class="gender-female"><i class="fas fa-female"></i></span>` : ``}${item.UserWithNo}</td>
                                        <td class="role-container">
                                          ${RoleList@(itemName)(item.UserRole)}
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="5" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

            function RoleList@(itemName)(source) {
                let html = '';

                if (source) {
                    let json = JSON.parse(source);

                    for (let x = 0; x < json.data.length; x++) {
                        html += `<a class="btn btn-outline-secondary role-item" href="javascript:SettingAuthorityManagement(${json.data[x].RoleId});">${json.data[x].RoleName}</a>`;
                    }
                }

                return html;
            }
        }

        function Add@(itemName)() {
            $("#modalAdd@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });

            ComboBoxs.Default("#cboUsers@(itemName)", "@Url.Action("GetUser", "BasicInformation")", { "Status": "A" }, "", "CHOOSE-NUMBER", "", "UserWithDepartment", "UserId");
            ComboBoxs.Default("#cboRoleId@(itemName)", "@Url.Action("GetRole", "SystemSetting")", { "Status": "A" }, "", "CHOOSE-NUMBER", "", "RoleName", "RoleId");

            $("#cboUsers@(itemName), #cboRoleId@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });

            let popConfig = {
                targetSelector: "#cboUsers@(itemName)",
                popFunction: "PopViewUser",
                objectUserId: "#cboUsers@(itemName)",
                type: "checkbox"
            };
            InitPopView(popConfig);
        }

        function CloseAdd@(itemName)() {
            ResetForm("#addForm@(itemName)");

            $("#modalAdd@(itemName)").modal("hide");

            Query@(itemName)();
        }

        function Save@(itemName)() {
            if ($("#addForm@(itemName)").valid()) {
                let targetUrl = "@Url.Action("UpdateRoleUser", "SystemSetting")";
                let postData = {
                    "UserList": $("#cboUsers@(itemName)").val().join(","),
                    "RoleId": $("#cboRoleId@(itemName)").val(),
                };

                let result = DataAccess.Add(targetUrl, postData, false, true);

                if (result) {
                    CloseAdd@(itemName)();
                }
            }
        }
    </script>
)