@using Business_Manager.Helpers
@{
    string subItemName = "RoleUser";
    string itemName = "AuthorityUserFunctionDetail";
    string itemNameText = "人員權限設定";
}

@Html.Resource("css",
    @<style>
    </style>
)

<div class="authority-content member-set">
    <div class="select-block col-3 member-set-block">
        <div class="title-block mt-2 mb-3">
            <h2>已選人員列表</h2>
            <a class="add-member" href="javascript:PopViewAuthorityUser();"><i class="fas fa-plus"></i>新增人員</a>
        </div>
        <div class="search-block mb-15">
            <input type="text" class="search-term" id="txtSearchKey@(subItemName)" name="txtSearchKey@(subItemName)" 
                   placeholder="搜尋人員"
                   maxlength="30" />
            <button type="submit" class="search-button" onclick="Query@(subItemName)()">
                <i class="fa fa-search"></i>
            </button>
        </div>
        <div id="userList@(subItemName)"></div>
    </div>
    <div class="select-block col-3 second-select-list" id="anchorSystem@(itemName)">
        <input type="hidden" id="txtUserId@(itemName)" />
        <div class="search-block mb-15">
            <input type="text" class="search-term" id="txtSearchKey@(itemName)" name="txtSearchKey@(itemName)"
                   placeholder="搜尋"
                   maxlength="100" />
            <button type="button" class="search-button" onclick="Query@(itemName)()"><i class="fas fa-search"></i></button>
        </div>
        <div class="authority-num-title">
            權限群組
            <span>已授予數量/權限數量總計</span>
        </div>
        <ul class="select-menu"></ul>
    </div>
    <div class="select-content col-6">
        <div class="close-content">
            <i class="fas fa-times"></i>
        </div>
        <label class="control control-solid control-solid-info control--checkbox">
            只顯示已授予的權限
            <input type="checkbox" id="cbxGrant@(itemName)" />
            <span class="control__indicator"></span>
        </label>
        <input type="hidden" id="txtModuleId@(itemName)" />
        <input type="hidden" id="txtModuleName@(itemName)" />
        <div class="select-area"></div>
    </div>    
</div>

@Html.Partial("ViewAuthorityUser")

@Html.Resource("js",
    @<script>
        $(document).ready(function () {
        });

        function Query@(subItemName)() {
            InitData@(subItemName)();

            $(".member-set .second-select-list").hide();
        }

        function InitData@(subItemName)() {
            let innerHtml = '';

            $(".member-set .select-content").removeClass("box-show");

            let targetUrl = "@Url.Action("GetRoleUser", "SystemSetting")";
            let postData = {
                "RoleId": $("#RoleId").val(),
                "SearchKey": $("#txtSearchKey@(subItemName)").val()
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                $.each(data.result, function (i, item) {
                    innerHtml += `<div class="member-each">
                                    <div class="${(item.Status == `S` ? `text-strikethrough` : ``)}">
                                      <span><strong>${item.UserNo}</strong></span>
                                      <span class="name">${item.UserName}</span>
                                    </div>
                                    <div>
                                      <a href="javascript:Delete@(subItemName)(${item.UserId});"><i class="fas fa-trash"></i></a>
                                      <a class="cog-select" href="#anchorSystem@(itemName)" data-data-id="${item.UserId}"><i class="fas fa-cog"></i></a>
                                    </div>
                                  </div>`;
                });
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#userList@(subItemName)").html(innerHtml);

            $(".member-set .cog-select").on("click", function () {
                $(".member-set .second-select-list").show();

                if (isMobile) {
                    $("html, body").animate({
                        scrollTop: $($(this).attr("href")).offset().top
                    }, 500);
                }

                Person@(itemName)($(this).data("data-id"));

                return false;
            });
        }

        function Delete@(subItemName)(UserId) {
            swal.fire({
                titleText: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteRoleUser", "SystemSetting")";
                    let postData = {
                        "UserId": UserId,
                        "RoleId": $("#RoleId").val()
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Query@(subItemName)();
                    }
                }
            });
        }

        function Person@(itemName)(UserId) {
            $("#txtUserId@(itemName)").val(UserId);
            Query@(itemName)();
        }

        function Query@(itemName)() {
            $(".member-set .select-content").removeClass("box-show");

            InitData@(itemName)();
        }

        function InitData@(itemName)() {
            let innerHtml = '';

            let targetUrl = "@Url.Action("GetUserAuthority", "SystemSetting")";
            let postData = {
                "UserId": $("#txtUserId@(itemName)").val(),
                "SearchKey": $("#txtSearchKey@(itemName)").val()
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                $.each(data.result, function (i, item) {
                    innerHtml += `<li class="has-sub" data-system-id="${item.SystemId}">
                                    <a href="javascript:void(0);">
                                      ${item.SystemName}
                                      <span class="authority-num">${item.UserTotalFunction}/${item.TotalFunction}</span>
                                      <i class="fas fa-plus" aria-hidden="true"></i>
                                    </a>
                                    <ul>
                                      ${Module@(itemName)(item.ModuleData)}
                                    </ul>
                                  </li>`;
                });
            } else {
                alert(data.msg, "alert", 0);
            }

            $(".member-set .select-menu").html(innerHtml);

            $(".member-set .select-menu li.has-sub > a").on("click", function () {
                var element = $(this).parent("li");

                if (element.hasClass("open")) {
                    element.removeClass("open");
                    element.find("li").removeClass("open");
                    element.find("ul").slideUp(200);
                } else {
                    element.addClass("open");
                    element.children("ul").slideDown(200);
                    element.siblings("li").children("ul").slideUp(200);
                    element.siblings("li").removeClass("open");
                    element.siblings("li").find("li").removeClass("open");
                    element.siblings("li").find("ul").slideUp(200);
                }
            });

            $(".member-set .has-sub-sec > a.select-tab").on("click", function () {
                $(".member-set .select-tab").removeClass("active");
                $(".member-set .select-content").removeClass("box-show");

                InitDetailData@(itemName)($(this).data("module-id"), $(this).data("module-name"));

                $(this).addClass("active");
                $(".member-set .select-content").addClass("box-show");
            });

            $("#cbxGrant@(itemName)").off("change").on("change", function () {
                InitDetailData@(itemName)($("#txtModuleId@(itemName)").val(), $("#txtModuleName@(itemName)").val());
            });

            function Module@(itemName)(source) {
                let html = '';

                if (source) {
                    let json = JSON.parse(source);

                    for (let x = 0; x < json.data.length; x++) {
                        if (json.data[x].TotalModuleFunction > 0) {
                            html += `<li class="has-sub-sec">
                                       <a class="select-tab" href="javascript:void(0);" data-module-id="${json.data[x].ModuleId}" data-module-name="${json.data[x].ModuleName}">
                                         ${json.data[x].ModuleName}
                                         <span class="authority-num">${json.data[x].UserTotalModuleFunction}/${json.data[x].TotalModuleFunction}</span>
                                       </a>
                                     </li>`;
                        }
                    }
                }

                return html;
            }
        }

        function InitDetailData@(itemName)(ModuleId, ModuleName) {
            $("#txtModuleId@(itemName)").val(ModuleId);
            $("#txtModuleName@(itemName)").val(ModuleName);

            let innerHtml = '';

            let targetUrl = "@Url.Action("GetUserDetailAuthority", "SystemSetting")";
            let postData = {
                "ModuleId": ModuleId,
                "UserId": $("#txtUserId@(itemName)").val(),
                "SearchKey": $("#txtSearchKey@(itemName)").val(),
                "Grant": $("#cbxGrant@(itemName)").is(":checked")
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                innerHtml += '<h2 class="mt-2 mb-3">' + ModuleName + '</h2>';

                $.each(data.result, function (i, item) {
                    if (item.FunctionDetailData) {
                        innerHtml += `<span class="read-control-icon">
                                        <i class="far ${(parseInt(item.TotalFunctionDetail) > 0 && parseInt(item.TotalFunctionDetail) == parseInt(item.UserTotalFunctionDetail) ? `fa-check-square` : `fa-square`)}"></i>
                                      </span>
                                      <span class="read-control-name">${item.FunctionName}<code>(${item.FunctionCode})</code></span>
                                      <div class="action-group">
                                        ${FunctionDetail@(itemName)(item.FunctionId, item.FunctionDetailData)}
                                      </div>`;
                    }
                });
            } else {
                alert(data.msg, "alert", 0);
            }

            $(".member-set .select-content .select-area").html(innerHtml);

            function FunctionDetail@(itemName)(functionId, source) {
                let html = '';

                if (source) {
                    let json = JSON.parse(source);

                    for (let x = 0; x < json.data.length; x++) {
                        html += `<div class="action">
                                   <span class="read-control-icon">
                                     <i class="far ${(parseInt(json.data[x].DetailAuthority) == 1 ? `fa-check-square` : `fa-square`)}"></i>
                                   </span>
                                   <span class="read-control-name">${json.data[x].DetailName} <code>(${json.data[x].DetailCode})</code></span>
                                 </div>`;
                    }
                }

                return html;
            }
        }
    </script>
)