@using Business_Manager.Helpers
@{
    string itemName = "Calendar";
    string itemNameText = "行事曆管理";
    string authority = ViewBag.authority;
}

@Html.Resource("css",
    @<link href="@Url.Content("~/Content/dhtmlx/scheduler.commercial/6.0.0/dhtmlxscheduler_material.css")" rel="stylesheet" />
)

@Html.Resource("css",
    @<style>
        .dhx_cal_event.event_working div,
        .dhx_cal_event_line.event_working {
            background-color: #ffe47c !important;
            border-color: #F1EDE5 !important;
            color: #453E32 !important;
            font-weight: 500;
        }

        .dhx_cal_event.event_rest div,
        .dhx_cal_event_line.event_rest {
            background-color: #78bef7 !important;
            border-color: #F1EDE5 !important;
            color: #453E32 !important;
            font-weight: 500;
        }

        .dhx_cal_event.event_mandatory div,
        .dhx_cal_event_line.event_mandatory {
            background-color: #ffb9b9 !important;
            border-color: #F1EDE5 !important;
            color: #453E32 !important;
            font-weight: 500;
        }

        .dhx_cal_event.event_holiday div,
        .dhx_cal_event_line.event_holiday {
            background-color: #92e7a5 !important;
            border-color: #F1EDE5 !important;
            color: #453E32 !important;
            font-weight: 500;
        }

        .dhx_cal_container {
            width: 100%;
            /*width: 60%;*/
            height: 75vh;
            border-style: ridge;
            margin: auto;
        }

        /*@@media only screen and (max-width: 1279px) {
            .dhx_cal_container {
                width: 100%;
            }
        }*/
    </style>
)

<div class="row">
    <div class="col-12">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row ">
                    <div class="col-12 mb-3 text-right">
                        <a class="btn btn-info auth-add" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modaledit@(itemName)" href="javascript:void(0);"><i class="fas fa-plus"></i> 新增</a>
                    </div>
                    <div class="col-12">
                        <div id="scheduler_here" class="dhx_cal_container">
                            <div class="dhx_cal_navline">
                                <div class="dhx_cal_prev_button">&nbsp;</div>
                                <div class="dhx_cal_today_button"></div>
                                <div class="dhx_cal_next_button">&nbsp;</div>
                                <div class="dhx_cal_date"></div>
                                <div class="dhx_cal_tab" name="year_tab" style="right:280px;"></div>
                            </div>
                            <div class="dhx_cal_header"></div>
                            <div class="dhx_cal_data"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modaledit@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">新增行事曆</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="CalendarId" name="CalendarId" value="-1" />
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboYear@(itemName)">年份</label>
                            <div class="col-12">
                                <select class="form-control cboYear" id="cboYear@(itemName)" name="cboYear@(itemName)"></select>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i> 儲存</button>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script src="@Url.Content("~/Scripts/dhtmlx/scheduler.commercial/6.0.0/dhtmlxscheduler.js")"></script>
)

@Html.Resource("js",
    @<script>
        let scheduleZhTw = {
            date: {
                month_full: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
                month_short: ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"],
                day_full: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"],
                day_short: ["日", "一", "二", "三", "四", "五", "六"],
            },
            labels: {
                dhx_cal_today_button: "今天",
                day_tab: "日",
                week_tab: "週",
                month_tab: "月",
                new_event: "",
                icon_save: "儲存",
                icon_cancel: "返回",
                icon_details: "詳細資訊",
                icon_edit: "",
                icon_delete: "刪除",
                confirm_closing: "確認要取消修改嗎？",
                confirm_deleting: "確認要刪除嗎？",
                section_description: "描述",
                section_time: "時間範圍",
                full_day: "整天",
                confirm_recurring: "確認要設為重複模式嗎？",
                section_recurring: "重複周期",
                button_recurring: "停用",
                button_recurring_open: "啟用",
                button_edit_series: "編輯系列",
                button_edit_occurrence: "編輯實例",
                agenda_tab: "議程",
                date: "日期",
                description: "說明",
                year_tab: "今年",
                week_agenda_tab: "議程",
                grid_tab: "電網",
                drag_to_create: "Drag to create",
                drag_to_move: "Drag to move",
                message_ok: "確定",
                message_cancel: "取消",
                next: "下一個",
                prev: "上一個",
                year: "年",
                month: "月",
                day: "日",
                hour: "小時",
                minute: "分鐘",
                repeat_radio_day: "按天",
                repeat_radio_week: "按週",
                repeat_radio_month: "按月",
                repeat_radio_year: "按年",
                repeat_radio_day_type: "每",
                repeat_text_day_count: "天",
                repeat_radio_day_type2: "每個工作日",
                repeat_week: " 重複 每",
                repeat_text_week_count: "星期的:",
                repeat_radio_month_type: "重複",
                repeat_radio_month_start: "在",
                repeat_text_month_day: "日 每",
                repeat_text_month_count: "月",
                repeat_text_month_count2_before: "每",
                repeat_text_month_count2_after: "月",
                repeat_year_label: "在",
                select_year_day2: "的",
                repeat_text_year_day: "日",
                select_year_month: "月",
                repeat_radio_end: "無结束日期",
                repeat_text_occurences_count: "次结束",
                repeat_radio_end2: "重複",
                repeat_radio_end3: "結束於",
                month_for_recurring: ["一月", "二月", "三月", "四月", "五月", "六月", "七月", "八月", "九月", "十月", "十一月", "十二月"],
                day_for_recurring: ["星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六"],
            },
        };
        var format = scheduler.date.date_to_str("%Y-%m-%d");
        let objForm@(itemName) = "#editForm@(itemName)";

        $(document).ready(function () {
            
            scheduler.plugins({
                //tooltip: true,
                collision: true,
                year_view: true
            });

            scheduler.config.header = [
                "month",
                "year",
                "date",
                "prev",
                "today",
                "next"
            ];
            scheduler.config.full_day = true;
            scheduler.config.start_on_monday = false;
            scheduler.config.collision_limit = 1;
            scheduler.i18n.setLocale(scheduleZhTw);
            scheduler.locale.labels.year_tab = "";
           
            scheduler.templates.event_text = function (start, end, ev) {
                return '<span class="btn btn-info"> ' + ev.text + '</spanz>';
            };

            var type = [
                { key: 'W', label: '上班日' },
                { key: 'R', label: '休息日' },
                { key: 'M', label: '例假日' },
                { key: 'H', label: '節日' }
            ];

            scheduler.config.lightbox.sections = [
                { name: "類型", height: 50, map_to: "type", type: "select", options: type },
                { name: "描述", height: 100, map_to: "text", type: "textarea", focus: true },
                { name: "時間", height: 72, type: "time", map_to: "auto" }
            ];

            scheduler.templates.lightbox_header = function (start, end, event) {
                return event.text;
            };

            scheduler.templates.event_class = function (start, end, event) {
                var css = "";

                switch (event.type) {
                    case 'W':
                        css += " event_working";
                        break;
                    case 'R':
                        css += " event_rest";
                        break;
                    case 'M':
                        css += " event_mandatory";
                        break;
                    case 'H':
                        css += " event_holiday";
                        break;
                }                                   

                if (event.id == scheduler.getState().select_id) {
                    css += " selected";
                }

                return css;
            };

            scheduler.init('scheduler_here', new Date(), "month");            

            //scheduler.templates.tooltip_text = function (start, end, event) {
            //    return format(start) + " ｜ " + event.text
            //};

            InitData@(itemName)(scheduler.getState().date.Format("yyyy-MM-dd"));
             
            scheduler.attachEvent("onViewChange", function (new_mode, new_date) {
                scheduler.clearAll();

                InitData@(itemName)(new_date.Format("yyyy-MM-dd"));
            });

            scheduler.config.buttons_right = ["dhx_save_btn", "close_button"];
            scheduler.locale.labels["close_button"] = "cancel";
            scheduler.attachEvent("onLightboxButton", function (button_id, node, e) {
                if (button_id == "close_button") {
                    scheduler.hide_lightbox();
                }
            });

            ComboBoxs_Year@(itemName)();

            if (!isMobile) {
                $("#cboYear@(itemName)").select2({
                    width: "100%"
                });
            }

        });       

        function InitData@(itemName)(date) {
            let targetUrl = "@Url.Action("GetCalendar", "SystemSetting")";
            let postData = {
                "CalendarDate": date
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                if (data.result[0].CalendarDetail) {
                    scheduler.parse(JSON.parse(data.result[0].CalendarDetail).data, "json");
                }
            } else {
                alert(data.msg, "alert", 0);
            }
        }

        function ComboBoxs_Year@(itemName)() {
            $(".cboYear option").remove();
            $(".cboYear").append("<option value=''>請選擇</option>");
            var d = new Date().getFullYear();
            for (var i = 0; i < 5; i++) {
                $(".cboYear").append("<option value='" + (d + i) + "'>" + (d + i) + "</option>");
            }
        }

        scheduler.attachEvent("onEventSave", function (id, ev, is_new) {
                let targetUrl = "@Url.Action("UpdateCalendar", "SystemSetting")";
                let postData = {
                    "CalendarDate": format(ev.start_date),
                    "CalendarDesc": ev.text,
                    "DateType": ev.type
                };

            let result = DataAccess.Update(targetUrl, postData, false, false);

                if (result) {
                    return true;
                }
            });

        scheduler.attachEvent("onEventDeleted", function (id, ev) {
                let targetUrl = "@Url.Action("DeleteCalendar", "SystemSetting")";
                let postData = {
                    "CalendarDate": format(ev.start_date)
                };

            let result = DataAccess.Delete(targetUrl, postData, false, false);

                if (result) {
                    return true;
                }
        });

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let CalendarId = parseInt($("#CalendarId").val());

                let targetUrl = "@Url.Action("AddCalendar", "SystemSetting")";
                let postData = {
                    "Year": $("#cboYear@(itemName)").val()
                };

                let result = DataAccess.Add(targetUrl, postData, false, true);

                if (result) {
                    ResetForm(objForm@(itemName));
                    $("#modaledit@(itemName)").modal("hide");
                }
            }
        }
    </script>
)