@using Business_Manager.Helpers
@{
    string itemName = "FileManagement";
    string itemNameText = "檔案管理";
    string authority = ViewBag.authority;

    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
    </style>
)

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
    </div>
</div>

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtUserNoQ@(itemName)">上傳使用者</label>
                            <div class="col-12">
                                <select class="form-control" id="cboUploadUserQ@(itemName)" name="cboUploadUserQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">上傳日期 <input type="checkbox" id="cbxUseDate@(itemName)" /></label>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtStartDateQ@(itemName)" name="txtStartDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtEndDateQ@(itemName)" name="txtEndDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);">
                        <i class="fal fa-search"></i>搜尋</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky table-stack" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th scope="col" style="min-width: 300px;">檔案</th>
                                        <th class="text-right" scope="col" style="min-width: 150px;">檔案大小</th>
                                        <th scope="col" style="min-width: 200px;">上傳日期</th>
                                        <th scope="col" style="min-width: 175px;">上傳人員</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">刪除狀態</th>
                                        <th class="text-center" scope="col" style="min-width: 220px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDetail@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">詳細資訊</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <dl class="row">
                    <dt class="col-12">檔案名稱</dt>
                    <dd class="col-12 text-primary">
                        <span id="desFileName@(itemName)"></span>
                    </dd>
                    <dt class="col-12">副檔名</dt>
                    <dd class="col-12 text-primary">
                        <span id="desFileExtension@(itemName)"></span>
                    </dd>
                    <dt class="col-12">檔案大小</dt>
                    <dd class="col-12 text-primary">
                        <span id="desFileSize@(itemName)"></span>
                    </dd>
                    <dt class="col-12">使用者IP</dt>
                    <dd class="col-12 text-primary">
                        <span id="desClientIP@(itemName)"></span>
                    </dd>
                    <dt class="col-12">來源</dt>
                    <dd class="col-12 text-primary">
                        <span id="desSource@(itemName)"></span>
                    </dd>
                    <dt class="col-12">上傳日期</dt>
                    <dd class="col-12 text-primary">
                        <span id="desUploadDate@(itemName)"></span>
                    </dd>
                    <dt class="col-12">上傳人員</dt>
                    <dd class="col-12 text-primary">
                        <span id="desUploadUser@(itemName)"></span>
                    </dd>
                    <dt class="col-12 delete-view">刪除日期</dt>
                    <dd class="col-12 text-primary delete-view">
                        <span id="desDeleteDate@(itemName)"></span>
                    </dd>
                    <dt class="col-12 delete-view">刪除人員</dt>
                    <dd class="col-12 text-primary delete-view">
                        <span id="desDeleteUser@(itemName)"></span>
                    </dd>
                </dl>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" id="linkDownload@(itemName)" href="javascript:void(0);"><i class="fas fa-download"></i>檔案下載</a>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };

        $(document).ready(function () {
            ComboBoxs.Default("#cboUploadUserQ@(itemName)", "@Url.Action("GetUser", "BasicInformation")", {}, "", "ALL", "", "UserWithNo", "UserId");

            Suites.DateDropper("#txtStartDateQ@(itemName), #txtEndDateQ@(itemName)");

            let currentDate = new Date();
            Suites.SetDateDropper("#txtStartDateQ@(itemName)", currentDate);
            currentDate.setDate(currentDate.getDate() + 7);
            Suites.SetDateDropper("#txtEndDateQ@(itemName)", currentDate);

            if (!isMobile) {
                $("#cboUploadUserQ@(itemName)").select2({
                    width: "100%"
                });
            }

            Query@(itemName)();
        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
            $("#modalDetail@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let targetUrl = "@Url.Action("GetFile", "SystemSetting")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "UploadUser": $("#cboUploadUserQ@(itemName)").val(),
                "StartDate": ($("#cbxUseDate@(itemName)").is(":checked") ? $("#txtStartDateQ@(itemName)").val() : ""),
                "EndDate": ($("#cbxUseDate@(itemName)").is(":checked") ? $("#txtEndDateQ@(itemName)").val() : "")
            };
            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr>
                                        <td><span class="stack-title">#</span>${_row}</td>
                                        <td class="active-content ellipsis" data-toggle="tooltip" title="${item.Telephone}" style="max-width: 300px;">
                                          <span class="stack-title">檔案</span>
                                          <span class="stack-content">
                                            <a class="active-link" href="/Web/GetFile?fileId=${item.FileId}"><i class="fas fa-download"></i><span>檔案下載</span></a>
                                            ${item.FileName}${item.FileExtension}
                                          </div>
                                        </td>
                                        <td class="text-right"><span class="stack-title">檔案大小</span>${FormatBytes(item.FileSize)}</td>
                                        <td><span class="stack-title">上傳日期</span>${item.UploadDate}</td>
                                        <td><span class="stack-title">上傳人員</span>${item.UploadUser}</td>
                                        <td class="text-center"><span class="stack-title">刪除狀態</span>${StatusName(`Boolean`, item.DeleteStatus)}</td>
                                        <td class="text-center active-content">
                                          <span class="stack-title">操作</span>
                                          <a class="active-link" href="javascript:Pop@(itemName)(${item.FileId});"><i class="fas fa-info-circle"></i><span>詳細資訊</span></a>
                                          <a class="active-link auth-permanent-delete" href="javascript:Delete@(itemName)(${item.FileId});"><i class="fas fa-trash-alt"></i><span>永久刪除</span></a>
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="7" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));
        }

        function Pop@(itemName)(LogId) {
            $(".delete-view").hide();

            $("#modalDetail@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });

            InitDetailData@(itemName)(LogId);
        }

        function InitDetailData@(itemName)(FileId) {
            let targetUrl = "@Url.Action("GetFile", "SystemSetting")";
            let postData = {
                "FileId": FileId
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                $.each(data.result, function (i, item) {
                    $("#desFileName@(itemName)").html(item.FileName);
                    $("#desFileExtension@(itemName)").html(item.FileExtension);
                    $("#desFileSize@(itemName)").html(FormatBytes(item.FileSize));
                    $("#desClientIP@(itemName)").html(item.ClientIP);
                    $("#desSource@(itemName)").html(item.Source);
                    $("#desUploadDate@(itemName)").html(item.UploadDate);
                    $("#desUploadUser@(itemName)").html(item.UploadUser);
                    $("#desDeleteDate@(itemName)").html(item.DeleteDate);
                    $("#desDeleteUser@(itemName)").html(item.DeleteUser);

                    let downloadUrl = `/Web/GetFile?fileId=${item.FileId}`;
                    $("#linkDownload@(itemName)").attr("href", downloadUrl);

                    if (item.DeleteStatus == "Y") $(".delete-view").show();
                });
            } else {
                alert(data.msg, "alert", 0);
            }
        }

        function Delete@(itemName)(FileId) {
            swal.fire({
                titleText: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteFilePermanent", "SystemSetting")";
                    let postData = {
                        "FileId": FileId
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }
    </script>
)