@using Business_Manager.Helpers
@{
    string itemName = "PushMessage";
    string itemNameText = "推播訊息";
    string authority = ViewBag.authority;

    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
    </style>
)

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container custom-form-container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboUsers@(itemName)">推播使用者 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboUsers@(itemName)" name="cboUsers@(itemName)"
                                        data-msg-required="請選擇推播使用者" data-rule-required="true" multiple></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtContent@(itemName)">推播內容 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <textarea class="form-control" id="txtContent@(itemName)" name="txtContent@(itemName)" rows="2" placeholder="請輸入推播內容"
                                          data-msg-required="請輸入推播內容" data-rule-required="true"></textarea>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center">
                <button type="button" class="btn btn-primary" onclick="Push@(itemName)()"><i class="fas fa-bullhorn"></i>推送通知</button>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        let objForm@(itemName) = "#editForm@(itemName)";

        $(document).ready(function () {
            ComboBoxs.Default("#cboUsers@(itemName)", "@Url.Action("GetUser", "BasicInformation")", { "Status": "A" }, "", "CHOOSE-NUMBER", "", "UserWithNo", "UserId");

            if (!isMobile) {
                $("#cboUsers@(itemName)").select2({
                    dropdownAutoWidth: true,
                    width: "100%"
                });
            }
        });

        function Push@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let targetUrl = "@Url.Action("PushNotification", "SystemSetting")";
                let postData = {
                    "Users": $("#cboUsers@(itemName) option:selected").toArray().map(item => item.value).join(),
                    "Content": $("#txtContent@(itemName)").val()
                };

                let result = DataAccess.Other(targetUrl, postData, false, true);
            }
        }
    </script>
)