@using Business_Manager.Helpers
@{
    string itemName = "SystemLog";
    string itemNameText = "系統日誌管理";
    string authority = ViewBag.authority;

    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
    </style>
)

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
    </div>
</div>

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtUserNoQ@(itemName)">使用者編號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtUserNoQ@(itemName)" name="txtUserNoQ@(itemName)" placeholder="請輸入使用者編號" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtMessageQ@(itemName)">日誌內容</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMessageQ@(itemName)" name="txtMessageQ@(itemName)" placeholder="請輸入日誌內容" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">新增日期 <input type="checkbox" id="cbxUseDate@(itemName)" /></label>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtStartDateQ@(itemName)" name="txtStartDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtEndDateQ@(itemName)" name="txtEndDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);">
                        <i class="fal fa-search"></i>搜尋</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky table-stack" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th scope="col" style="min-width: 100px;">日誌等級</th>
                                        <th scope="col" style="min-width: 250px;">日誌內容</th>
                                        <th scope="col" style="min-width: 250px;">來源</th>
                                        <th scope="col" style="min-width: 150px;">使用者編號</th>
                                        <th scope="col" style="min-width: 175px;">新增日期</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDetail@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">詳細資訊</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <dl class="row">
                    <dt class="col-12">日誌等級</dt>
                    <dd class="col-12 text-primary">
                        <span id="desLevel@(itemName)"></span>
                    </dd>
                    <dt class="col-12">日誌內容</dt>
                    <dd class="col-12 text-primary">
                        <span id="desMessage@(itemName)"></span>
                    </dd>
                    <dt class="col-12">主機名稱</dt>
                    <dd class="col-12 text-primary">
                        <span id="desHost@(itemName)"></span>
                    </dd>
                    <dt class="col-12">使用者編號</dt>
                    <dd class="col-12 text-primary">
                        <span id="desUserNo@(itemName)"></span>
                    </dd>
                    <dt class="col-12">觸發網址</dt>
                    <dd class="col-12 text-primary">
                        <span id="desTriggerUrl@(itemName)"></span>
                    </dd>
                    <dt class="col-12">主機IP</dt>
                    <dd class="col-12 text-primary">
                        <span id="desServerIP@(itemName)"></span>
                    </dd>
                    <dt class="col-12">使用者IP</dt>
                    <dd class="col-12 text-primary">
                        <span id="desClientIP@(itemName)"></span>
                    </dd>
                    <dt class="col-12">來源</dt>
                    <dd class="col-12 text-primary">
                        <span id="desSource@(itemName)"></span>
                    </dd>
                    <dt class="col-12">詳細說明</dt>
                    <dd class="col-12 text-primary">
                        <span id="desDetail@(itemName)"></span>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };

        $(document).ready(function () {
            Suites.DateDropper("#txtStartDateQ@(itemName), #txtEndDateQ@(itemName)");

            let currentDate = new Date();
            Suites.SetDateDropper("#txtStartDateQ@(itemName)", currentDate);
            currentDate.setDate(currentDate.getDate() + 7);
            Suites.SetDateDropper("#txtEndDateQ@(itemName)", currentDate);

             Query@(itemName)();
        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
            $("#modalDetail@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let targetUrl = "@Url.Action("GetLog", "SystemSetting")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "UserNo": $("#txtUserNoQ@(itemName)").val(),
                "Message": $("#txtMessageQ@(itemName)").val(),
                "StartDate": ($("#cbxUseDate@(itemName)").is(":checked") ? $("#txtStartDateQ@(itemName)").val() : ""),
                "EndDate": ($("#cbxUseDate@(itemName)").is(":checked") ? $("#txtEndDateQ@(itemName)").val() : "")
            };
            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr>
                                        <td><span class="stack-title">#</span>${_row}</td>
                                        <td><span class="stack-title">日誌等級</span>${item.Level}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Message}" style="max-width: 250px;"><span class="stack-title">日誌內容</span><span class="stack-content">${item.Message}</span></td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Source}" style="max-width: 250px;"><span class="stack-title">來源</span>${item.Source}</td>
                                        <td><span class="stack-title">使用者編號</span>${item.UserNo}</td>
                                        <td><span class="stack-title">新增日期</span>${item.CreateDate}</td>
                                        <td class="text-center active-content">
                                          <span class="stack-title">操作</span>
                                          <a class="active-link" href="javascript:Pop@(itemName)(${item.LogId});"><i class="fas fa-info-circle"></i><span>詳細資訊</span></a>
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="7" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));
        }

        function Pop@(itemName)(LogId) {
            $("#modalDetail@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });

            InitDetailData@(itemName)(LogId);
        }

        function InitDetailData@(itemName)(LogId) {
            let targetUrl = "@Url.Action("GetLog", "SystemSetting")";
            let postData = {
                "LogId": LogId
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                $.each(data.result, function (i, item) {
                    $("#desLevel@(itemName)").html(item.Level);
                    $("#desMessage@(itemName)").html(item.Message);
                    $("#desHost@(itemName)").html(item.Host);
                    $("#desUserNo@(itemName)").html(item.UserNo);
                    $("#desTriggerUrl@(itemName)").html(item.TriggerUrl);
                    $("#desServerIP@(itemName)").html(item.ServerIP);
                    $("#desClientIP@(itemName)").html(item.ClientIP);
                    $("#desSource@(itemName)").html(item.Source);
                    $("#desDetail@(itemName)").html(item.Detail);
                });
            } else {
                alert(data.msg, "alert", 0);
            }
        }
    </script>
)