@using Business_Manager.Helpers
@{
    string itemName = "CartonList";
    string itemNameText = "物流箱管理";

    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
        .choose {
            display: none;
            padding: 5px;
            font-weight: bold;
            margin-top: 0.35rem;
            color: #20A4F3;
            border: 0;
            background: none;
        }

            .choose:focus {
                outline: none;
            }

        .list-area {
            margin: 0;
        }

        .number {
            display: inline;
        }

        .label-checkbox {
            width: 70%;
            pointer-events: none;
        }

        .header-link-area {
            color: #fff;
            width: 20%;
        }

        @@media screen and (max-width: 820px) {
            .fix-circle {
                right: 1rem;
            }
        }

        @@media screen and (min-width: 820px) {
            .fix-circle {
                left: calc(50% + 360px);
            }
        }
    </style>
)

<header class="header-title">
    <div class="header-link-area left-link">
        <a href="javascript:history.back();">
            <i class="fas fa-chevron-left"></i>
        </a>
    </div>
    <div class="title">@(itemNameText)</div>
    <div class="header-link-area">
        <a href="@Url.Action("Index", "PickingSystem")">
            <i class="fas fa-home-lg-alt"></i>
        </a>
    </div>
</header>

<div class="overlay"></div>

<div class="wrapper wrap-boxlist">
    <form autocomplete="off" id="queryForm@(itemName)">
        <div class="filter-area">
            <div class="box-filter-project">
                <a class="link-type" data-link="type">
                    <span class="filter-txt">物流箱規格</span>
                    <span class="filter-arrow"></span>
                </a>
                <a class="link-number" data-link="number">
                    <span class="filter-txt">物流箱號</span>
                    <span class="filter-arrow"></span>
                </a>
                <a class="link-status" data-link="status">
                    <span class="filter-txt">物件狀態</span>
                    <span class="filter-arrow"></span>
                </a>
            </div>
            <div class="filter-subentry">
                <div class="subentry subentry-type" data-link="type">
                    <div class="select-section">
                        <div class="select-group row row-cols-1 row-cols-sm-1 row-cols-md-1">
                            <div class="select-line">
                                <span>物流箱規格</span>
                                <div class="content">
                                    <select class="form-control" id="cboPackingIdQ@(itemName)" name="cboPackingIdQ@(itemName)"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="filter-btn-block">
                        <button type="button" class="btn btn-cancel" onclick="Reset@(itemName)('type')"><i class="fas fa-redo-alt"></i>&nbsp;重置</button>
                        <button type="button" class="btn btn-main" onclick="Query@(itemName)()"><i class="fas fa-check"></i>&nbsp;確定</button>
                    </div>
                </div>
                <div class="subentry subentry-number" data-link="number">
                    <div class="select-section">
                        <div class="select-group row row-cols-1 row-cols-sm-1 row-cols-md-1">
                            <div class="select-line">
                                <span>物流箱名稱</span>
                                <div class="content">
                                    <input type="text" class="form-control" id="txtCartonNameQ@(itemName)" name="txtCartonNameQ@(itemName)"
                                           placeholder="請輸入物流箱名稱" />
                                </div>
                            </div>
                            <div class="select-line">
                                <span>物流箱條碼</span>
                                <div class="content">
                                    <label class="input-barcode">
                                        <input type="text" class="form-control" id="txtCartonBarcodeQ@(itemName)" name="txtCartonBarcodeQ@(itemName)"
                                               placeholder="請輸入物流箱條碼" />
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="filter-btn-block">
                        <button type="button" class="btn btn-cancel" onclick="Reset@(itemName)('number')"><i class="fas fa-redo-alt"></i>&nbsp;重置</button>
                        <button type="button" class="btn btn-main" onclick="Query@(itemName)()"><i class="fas fa-check"></i>&nbsp;確定</button>
                    </div>
                </div>
                <div class="subentry subentry-status" data-link="status">
                    <div class="select-section">
                        <div class="swatch clearfix row row-cols-3 row-cols-sm-3 row-cols-md-3">
                            <div class="col swatch-element plain m available">
                                <input type="radio" id="AllCarton@(itemName)" name="chkCartonStatusQ@(itemName)" value="A" checked />
                                <label for="AllCarton@(itemName)">不限</label>
                            </div>
                            <div class="col swatch-element plain l available">
                                <input type="radio" id="Empty@(itemName)" name="chkCartonStatusQ@(itemName)" value="E" />
                                <label for="Empty@(itemName)">空箱</label>
                            </div>
                            <div class="col swatch-element plain xl available">
                                <input type="radio" id="Contain@(itemName)" name="chkCartonStatusQ@(itemName)" value="C" />
                                <label for="Contain@(itemName)">含物件</label>
                            </div>
                        </div>
                    </div>
                    <div class="filter-btn-block">
                        <button type="button" class="btn btn-cancel" onclick="Reset@(itemName)('status')"><i class="fas fa-redo-alt"></i>&nbsp;重置</button>
                        <button type="button" class="btn btn-main" onclick="Query@(itemName)()"><i class="fas fa-check"></i>&nbsp;確定</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <p class="choose-block clearfix">
        <button type="button" class="choose select-all" style="float: left;">全選</button>
        <button type="button" class="choose un-select-all" style="float: left;">取消全選</button>
        <button type="button" class="choose choose-carton" onclick="Choose@(itemName)()" style="float: right;">選取物流箱</button>
        <button type="button" class="choose cancel-carton" onclick="Cancel@(itemName)()" style="float: right;">取消選取</button>
    </p>
    <div class="main-shiplist">
        <div class="list-area" id="PickingCarton@(itemName)"></div>
        <div class="pagination" id="page@(itemName)"></div>
    </div>
    <div class="btn-fixed" style="display: none;">
        <div class="btn-block">
            <a class="btn btn-warn" href="javascript:Delete@(itemName)();"><i class="fas fa-trash-alt"></i>&nbsp;刪除</a>
            <a class="btn btn-sub" href="javascript:Print@(itemName)();"><i class="fas fa-print"></i>&nbsp;列印</a>
        </div>
    </div>
</div>

<a class="fix-circle" href="@Url.Action("CartonForm", "PickingSystem")">
    <i class="fas fa-plus" style="width: 30px; height: 30px;"></i>
</a>

@Html.Resource("js",
    @<script>
        let Datas@(itemName) = new DataControl@(itemName)();
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 5
        };

        $(document).ready(function () {
            ComboBoxs.Default("#cboPackingIdQ@(itemName)", "@Url.Action("GetPacking", "ScmBasicInformation")", { "Status": "A" }, "", "ALL", "", "PackingNameWithVolume", "PackingId");

            Query@(itemName)();

            $("[class^=link-]").on("click", function () {
                var alink = $(this).data("link");

                if ($(`.filter-subentry .subentry.subentry-${alink}`).hasClass("d-flex")) {
                    RemoveFilter@(itemName)();
                } else {
                    RemoveFilter@(itemName)();

                    $(".overlay").show();
                    $("body").addClass("hidden");
                    $(`.filter-subentry .subentry.subentry-${alink}`).addClass("d-flex");
                    $(`.link-${alink} .filter-arrow`).addClass("active");
                }
            });

            $("body").off("click").on("click", function (e) {
                if ($(".subentry").hasClass("d-flex")) {
                    if (!$(e.target).hasClass("filter-txt")
                        && !$(e.target).hasClass("filter-arrow")
                        && !$(e.target).parents().hasClass("subentry")) {
                        RemoveFilter@(itemName)();
                    }
                }
            });

            $(".select-all").click(function () {
                $("input[type='checkbox'][name='cbxCarton@(itemName)']").not(":disabled").prop("checked", true);
                $(".select-all").hide();
                $(".un-select-all").show();
            });

            $(".un-select-all").click(function () {
                $("input[type='checkbox'][name='cbxCarton@(itemName)']").not(":disabled").prop("checked", false);
                $(".select-all").show();
                $(".un-select-all").hide();
            });
        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            Datas@(itemName).GetPickingCarton@(itemName)(objPage@(itemName));

            RemoveFilter@(itemName)();
        }

        function DataControl@(itemName)() {
            addMethod(this, "GetPickingCarton@(itemName)", function (objPage) {
                Cancel@(itemName)();
                $(".choose-carton").hide();

                let innerHtml = '';
                let pageCount = 0;

                let targetUrl = "@Url.Action("GetPickingCarton", "PickingSystem")";
                let postData = {
                    "OrderBy": "",
                    "PageIndex": (objPage.pageIndex + 1),
                    "PageSize": objPage.pageSize,
                    "PackingId": $("#cboPackingIdQ@(itemName)").val(),
                    "CartonName": $("#txtCartonNameQ@(itemName)").val(),
                    "CartonBarcode": $("#txtCartonBarcodeQ@(itemName)").val(),
                    "CartonStatus": $("input[name='chkCartonStatusQ@(itemName)']:checked").val()
                };
                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                    if (pageCount > 0) {
                        $.each(data.result, function (i, item) {
                            innerHtml += `<div class="list-box item-element-box">
                                            <div class="carton-checkbox" style="display: none;">
                                              <input type="checkbox" class="cb-element" id="cbxCarton@(itemName)${item.PickingCartonId}" name="cbxCarton@(itemName)" value="${item.PickingCartonId}" />
                                              <span class="ele-control-indicator"></span>
                                            </div>
                                            <a class="carton-link" href="${item.ItemStatus == 1 ? `@Url.Action("PickingItem", "PickingSystem")?PickingCartonId=${item.PickingCartonId}` : `javascript:void(0);`}">
                                              <div class="list-title">
                                                <label class="ele-control ele-control-checkbox distance-l label-checkbox" for="cbxCarton@(itemName)${item.PickingCartonId}">
                                                  <span class="number">
                                                    <span style="display: block;">
                                                      <span class="number-cell">${item.CartonName}</span>
                                                      <span class="number-barcode">(${item.CartonBarcode})</span>
                                                    </span>
                                                  </span>
                                                </label>
                                                ${item.ItemStatus == 1 ? `<span class="status status-sub">含物件</span><div class="expand"><i class="fas fa-chevron-right"></i></div>` : ``}
                                              </div>
                                              <div class="list-content">
                                                <ul class="list-item">
                                                  <li>
                                                    <span class="heading">物流箱規格</span>
                                                    <span class="detail">${item.PackingNameWithVolume}</span>
                                                  </li>
                                                  <li>
                                                    <span class="heading">備註</span>
                                                    <span class="detail">${item.CartonRemark}</span>
                                                  </li>
                                                </ul>
                                              </div>
                                            </a>
                                          </div>`;
                        });

                        $(".choose-carton").show();
                    } else {
                        innerHtml += `<div class="list-box text-center p-3" style="background-color: #fff3cd;">
                                        <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                      </div>`;
                    }
                } else {
                    alert(data.msg, "alert", 0);
                }

                $("#PickingCarton@(itemName)").html(innerHtml);
                Pager("#page@(itemName)", pageCount, objPage, Datas@(itemName).GetPickingCarton@(itemName));
            });
        }

        function Delete@(itemName)() {
            let cartonList = [];
            $.each($("input[name='cbxCarton@(itemName)']:checked"), function () {
                cartonList.push($(this).val());
            });

            swal.fire({
                titleText: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#0041c4',
                cancelButtonColor: '#bdbdbd',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    if (cartonList.length > 0) {
                        let targetUrl = "@Url.Action("DeletePickingCarton", "PickingSystem")";
                        let postData = {
                            "PickingCartonIds": cartonList.join(",")
                        };

                        let result = DataAccess.Delete(targetUrl, postData, false, true);

                        if (result) {
                            Query@(itemName)();
                        }
                    } else {
                        alert("請選取物流箱!");
                    }
                }
            });
        }

        function Print@(itemName)() {
            let cartonList = [];
            $.each($("input[name='cbxCarton@(itemName)']:checked"), function () {
                cartonList.push($(this).val());
            });

            if (cartonList.length > 0) {
                let targetUrl = "@Url.Action("CartonBarcodeprint", "PrintLabel")";
                let postData = {
                    "CartonBarcode": cartonList.join(","),
                    "PrintMachine": ""
                };

                let result = DataAccess.Delete(targetUrl, postData, false, true);

                if (result) {
                    Query@(itemName)();
                }
                //alert("功能尚未開放!");
            } else {
                alert("請選取物流箱!");
            }
        }

        function Reset@(itemName)(block) {
            switch (block) {
                case "type":
                    ResetElement("#cboPackingIdQ@(itemName)");
                    break;
                case "number":
                    ResetElement("#txtCartonNameQ@(itemName)");
                    ResetElement("#txtCartonBarcodeQ@(itemName)");
                    break;
                case "status":
                    $('input[name="chkCartonStatusQ@(itemName)"]').prop('checked', false);
                    $('input[name="chkCartonStatusQ@(itemName)"]').filter("[value='A']").prop('checked', true);
                    break;
            }

            Query@(itemName)();
        }

        function RemoveFilter@(itemName)() {
            $("body").removeClass("hidden");
            $(".overlay").hide();
            $(".filter-subentry .subentry").removeClass("d-flex");
            $(".filter-arrow").removeClass("active");
        }

        function Choose@(itemName)() {
            $(".choose-carton").hide();
            $(".cancel-carton").show();
            $(".select-all").show();
            $(".carton-checkbox").show();
            $(".label-checkbox").css("padding-left", "40px");
            $(".label-checkbox").css("pointer-events", "auto");
            $(".btn-fixed").show();
            $(".fix-circle").hide();

            $("input[type='checkbox']").not(":disabled").prop("checked", false);

            $(".carton-link").on("click", function (e) {
                var cartonId = $(this).find("label").attr("for");
                $('#' + cartonId).click();
                return false;
            });
        }

        function Cancel@(itemName)() {
            $(".choose-carton").show();
            $(".cancel-carton").hide();
            $(".select-all").hide();
            $(".un-select-all").hide();
            $(".carton-checkbox").hide();
            $(".label-checkbox").css("padding-left", "0px");
            $(".label-checkbox").css("pointer-events", "none");
            $(".btn-fixed").hide();
            $(".fix-circle").show();

            $(".carton-link").off("click");
        }
    </script>
)