@using Business_Manager.Helpers
@{
    string itemName = "CartonForm";
    string itemNameText = "新增物流箱";

    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
        .btn-danger {
            background-color: #ff518a !important;
        }

            .btn-danger:focus {
                background-color: #ff518a !important;
            }

        .form-input {
            background-color: #fff;
            border: 1px solid #ccc;
        }

        .readonly {
            background-color: #e9ecef;
            opacity: 1;
        }

        textarea {
            height: 4rem !important;
        }
    </style>
)

<header class="header-title">
    <div class="link-area left-link">
        <a href="javascript:history.back();">
            <i class="fas fa-chevron-left"></i>
        </a>
    </div>
    <div class="title">@(itemNameText)</div>
    <div class="link-area">
        <a href="@Url.Action("Index", "PickingSystem")">
            <i class="fas fa-home-lg-alt"></i>
        </a>
    </div>
</header>

<div class="wrapper wrap-boxtask">
    <div class="section secction-picktask">
        <form autocomplete="off" id="editForm@(itemName)">
            <fieldset>
                <div class="heading-pickup">
                    <div class="list-title">
                        <label class="form-label" for="txtCartonBarcode@(itemName)">物流箱條碼 <span class="text-danger">*</span></label>
                        <div class="input-group" style="flex-wrap: nowrap;">
                            <input type="text" class="form-input readonly" id="txtCartonBarcode@(itemName)" name="txtCartonBarcode@(itemName)" placeholder="請輸入物流箱條碼"
                                   data-msg-required="請輸入物流箱條碼" data-rule-required="true"
                                   readonly />
                            <div class="input-group-append">
                                <a class="btn btn-large btn-danger" href="javascript:void(0);" onclick="TakeBarcode@(itemName)()"><i class="fas fa-random"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="list-title">
                        <label class="form-label" for="txtCartonName@(itemName)">物流箱名稱 <span class="text-danger">*</span></label>
                        <input type="text" class="form-input" id="txtCartonName@(itemName)" name="txtCartonName@(itemName)" placeholder="請輸入物流箱名稱"
                               data-msg-required="請輸入物流箱名稱" data-rule-required="true" />
                    </div>
                    <div class="list-title">
                        <label class="form-label" for="cboPackingId@(itemName)">物流箱規格 <span class="text-danger">*</span></label>
                        <select class="form-control" id="cboPackingId@(itemName)" name="cboPackingId@(itemName)"
                                data-msg-required="請選擇物流箱規格" data-rule-required="true"></select>
                    </div>
                    <div class="list-title">
                        <label class="form-label" for="txtCartonRemark@(itemName)">備註</label>
                        <textarea class="form-input" id="txtCartonRemark@(itemName)" name="txtCartonRemark@(itemName)" placeholder="請輸入備註"></textarea>
                    </div>
                </div>
            </fieldset>
        </form>
        <div class="btn-fixed">
            <div class="btn-block">
                <a href="javascript:void(0);" onclick="javascript:Return@(itemName)();" class="btn btn-cancel">返回</a>
                <a href="javascript:void(0);" onclick="javascript:Save@(itemName)();" class="btn btn-main">儲存</a>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        let objForm@(itemName) = "#editForm@(itemName)";

        $(document).ready(function () {
            TakeBarcode@(itemName)();
            ComboBoxs.Default("#cboPackingId@(itemName)", "@Url.Action("GetPacking", "ScmBasicInformation")", { "Status": "A" }, "", "NA", "", "PackingNameWithVolume", "PackingId");
        });

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let targetUrl = "@Url.Action("AddPickingCarton", "PickingSystem")";
                let postData = {
                    "CartonBarcode": $("#txtCartonBarcode@(itemName)").val(),
                    "CartonName": $("#txtCartonName@(itemName)").val(),
                    "PackingId": $("#cboPackingId@(itemName)").val(),
                    "CartonRemark": $("#txtCartonRemark@(itemName)").val()
                };

                let result = DataAccess.EditPicking(targetUrl, postData, false, "儲存成功", "@Url.Action("CartonList", "PickingSystem")");
            }
        }

        function Return@(itemName)() {
            location.href = "@Url.Action("CartonList", "PickingSystem")";
        }

        function TakeBarcode@(itemName)() {
            let targetUrl = "@Url.Action("GetCartonBarcode", "PickingSystem")";
            let postData = {};

            let data = DataAccess.Get(targetUrl, postData, false);

            $("#txtCartonBarcode@(itemName)").val(data.result);
        }
    </script>
)
