@using Business_Manager.Helpers
@{
    string itemName = "BarcodeMerge";
    string itemNameText = "入庫後拆併盤";
    string authority = ViewBag.authority;

    ViewBag.Title = itemNameText;

}

@Html.Resource("css",
    @<style>
         .help-block dt {
             width: 150px;
         }

         .btn-box {
             padding: 5px;
             max-width: 200px;
             position: relative;
             left: 50%;
             top: 50%;
             transform: translate(-50%, -50%);
         }

             .btn-box a {
                 padding: 20px;
                 min-width: 80px;
             }
    </style>
                                                                                                         )

<!--Title-->
<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block" style="display: block;">

        </div>
    </div>
</div>

<!--刷條碼區-->
<div class="row" id="editData@(itemName)" style="">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-lg-5">
                        <form class="container custom-form-container" autocomplete="off" id="FirstBarcode" novalidate="novalidate">
                            <fieldset>

                                <div class="form-group column">
                                    <label class="col-md-5 col-form-label" style="margin-bottom: 15px;" for="txtFirstBarcode@(itemName)">拆盤產品條碼<span class="text-danger">*</span></label>
                                    <div class="col-12 ">
                                        <div class="input-group">
                                            <div class="input-group" style="padding-right:0px; padding-left: 0px;">
                                                <input type="text" class="form-control" id="txtFirstBarcode@(itemName)" name="txtFirstBarcode@(itemName)" style="text-transform:uppercase;" placeholder="請輸入欲拆併之產品條碼">
                                                <span class="input-group-append">
                                                    <a class="btn btn-outline-danger no-edit-detail" title="清除"
                                                       onclick="$('#txtFirstBarcode@(itemName)').val('')">
                                                        <i class="fas fa-eraser"></i>
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                        <dl class="help-block" style="display: grid;">
                                            <dt>製令</dt>
                                            <dd id="FirstWoErpNo@(itemName)"></dd>
                                            <dt>品號</dt>
                                            <dd id="FirstMtlItemNo@(itemName)"></dd>
                                            <dt>產品數量</dt>
                                            <dd id="FirstBarcodeQty@(itemName)"></dd>
                                            <dt>批量數量</dt>
                                            <dd id="FirstLotQty@(itemName)"></dd>
                                            <dt>條碼類型</dt>
                                            <dd id="FirstLotStatus@(itemName)"></dd>
                                        </dl>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label class="col-md-5 col-form-label" style="padding-right:0px; padding-left: 0px;" for="txtBarcodeQty@(itemName)">請輸入數量<span class="text-danger">*</span></label>
                                    <div class="input-group">
                                        <input type="number" class="form-control" id="txtBarcodeQtyP@(itemName)" name="txtBarcodeQtyP@(itemName)" placeholder="請輸入數量" value="">
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>

                    <div class="col-12 col-lg-2">
                        <div class="btn-box" style="padding:5px;">
                            <a class="btn btn-secondary" href="javascript:void(0);" onclick="Reset@(itemName)()" style=""><i class="fas fa-random"></i>重置</a>
                            <a class="btn btn-success" href="javascript:void(0);" id="Merge" onclick="Merge@(itemName)()" style="padding: 20px;min-width:80px;"><i class="fas fa-copy"></i>拆併</a>
                        </div>
                    </div>

                    <div class="col-12 col-lg-5">
                        <form class="container custom-form-container" autocomplete="off" id="SecondBarcode" novalidate="novalidate">
                            <fieldset>
                                <div class="form-group column">
                                    <div class="input-group" style="padding-right: 15px; padding-left: 0px; margin-bottom: 5px;">
                                        <label class="col-md-7 col-form-label" for="txtSecondBarcode@(itemName)">併盤產品條碼<span class="text-danger">*</span></label>
                                        <a class="btn btn-primary" href="javascript:void(0);" onclick="AddEmptyBarcode@(itemName)()" style="margin-left: auto;"><i class="fas fa-random"></i> 產生空條碼</a>
                                        <a class="btn btn-dark" data-toggle="modal" data-target="#modalPrint@(itemName)" data-backdrop="static" style="margin-left:5px"><i class="fas fa-print"></i> 列印新條碼</a>
                                    </div>

                                    <div class="col-12 ">
                                        <div class="input-group">
                                            <div class="input-group" style="padding-right:0px; padding-left: 0px;">
                                                <input type="text" class="form-control" id="txtSecondBarcode@(itemName)" name="txtSecondBarcode@(itemName)" style="text-transform:uppercase;" placeholder="請輸入拆併產品條碼">
                                                <span class="input-group-append">
                                                    <a class="btn btn-outline-danger no-edit-detail" title="清除"
                                                       onclick="$('#txtSecondBarcode@(itemName)').val('')">
                                                        <i class="fas fa-eraser"></i>
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                        <dl class="help-block" style="display: grid;">
                                            <dt>製令</dt>
                                            <dd id="SecondWoErpNo@(itemName)"></dd>
                                            <dt>品號</dt>
                                            <dd id="SecondMtlItemNo@(itemName)"></dd>
                                            <dt>產品數量</dt>
                                            <dd id="SecondBarcodeQty@(itemName)"></dd>
                                            <dt>批量數量</dt>
                                            <dd id="SecondLotQty@(itemName)"></dd>
                                            <dt>條碼類型</dt>
                                            <dd id="SecondLotStatus@(itemName)"></dd>
                                        </dl>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--列表-->
<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">品號拆併盤歷史資料</h1>
    </div>
</div>
<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);"><i class="fal fa-search"></i>搜尋</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="max-width: 30px;">#</th>
                                        <th scope="col" style="max-width: 150px;">品號</th>
                                        <th scope="col" style="max-width: 30px;">產品狀態</th>
                                        <th scope="col" style="max-width: 100px;">拆併數</th>
                                        <th scope="col" style="max-width: 150px;">拆盤條碼</th>
                                        <th scope="col" style="max-width: 150px;">拆盤製令</th>
                                        <th scope="col" style="max-width: 150px;">併盤條碼</th>
                                        <th scope="col" style="max-width: 150px;">併盤製令</th>
                                        <th scope="col" style="max-width: 150px;">拆併人</th>
                                        <th scope="col" style="max-width: 150px;">拆併時間</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--搜尋-->
<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">ERP製令單號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtWoErpFullNoQ@(itemName)" name="txtWoErpFullNoQ@(itemName)" placeholder="請輸入ERP製令單號">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">品號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMtlItemNameQ@(itemName)" name="txtMtlItemNameQ@(itemName)" placeholder="請輸入品號">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">拆盤條碼</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtBarcodeNoQ1@(itemName)" name="txtBarcodeNoQ1@(itemName)" placeholder="請輸入條碼">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-form-label">併盤條碼</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtBarcodeNoQ2@(itemName)" name="txtBarcodeNoQ2@(itemName)" placeholder="請輸入條碼">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-form-label">拆併日期 <input type="checkbox" id="cbxUseDate@(itemName)" checked /></label>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtStartDateQ@(itemName)" name="txtStartDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtEndDateQ@(itemName)" name="txtEndDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<!--選擇列印機台-->
<div class="modal fade" id="modalPrint@(itemName)">
    <div class="modal-dialog modal-lg" style="padding-top:7%;">
        <div class="modal-content working-content" style="min-width:350px;">
            <div class="modal-header" style="align-items: center;">
                <h5 class="modal-title">
                    列印標籤條碼
                </h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <select class="form-control" id="cboLabelPrintMachine@(itemName)"></select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="Print@(itemName)()"><i class="fas fa-paper-plane"></i>列印</button>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
@<script>
    var barcodeNo@(itemName) = "";
    var firstBarcodeNo@(itemName) = "";
    var itemNo@(itemName) = "";
    var MoId@(itemName) = "";
    var Prefix@(itemName) = "";
    var Postfix@(itemName) = "";
    var MoSettingId@(itemName) = "";
    var ItemValue@(itemName) = "";
    var CurrentMoProcessId@(itemName) = "";
    var SequenceLen@(itemName) = "";
    var MtlItemNo@(itemName) = "";

        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };

    $(document).ready(function () {
        let currentDate = new Date();
            @*Query@(itemName)();*@
            Suites.DateDropper("#txtStartDateQ@(itemName), #txtEndDateQ@(itemName)");
            Suites.SetDateDropper("#txtEndDateQ@(itemName)", currentDate);
            currentDate.setDate(currentDate.getDate() - 7);
            Suites.SetDateDropper("#txtStartDateQ@(itemName)", currentDate);
            //$("#aMfgBarcodeAttribute@(itemName)").prop("href", `javascript: PopViewMfgBarcodeAttribute('${ItemValue}')`);

        if (!isMobile) {
            $("#cboLabelPrintMachine@(itemName)").select2({
                width: "100%"
            });
        }

        ComboBoxs.Default("#cboLabelPrintMachine@(itemName)", "@Url.Action("GetLabelPrintMachine", "ProductionHistory")", {}, "", "NA", "", "LabelPrintName", "LabelPrintNo");
    });


    $("#txtFirstBarcode@(itemName)").keydown(function (event) {
        if (event.keyCode == 13 && $(this).val() != "") {
            barcodeNo@(itemName) = $("#txtFirstBarcode@(itemName)").val();
            FirstInfo@(itemName)(barcodeNo@(itemName));
                }
        });

    $("#txtSecondBarcode@(itemName)").keydown(function (event) {
        if (event.keyCode == 13 && $(this).val() != "") {
            barcodeNo@(itemName) = $("#txtSecondBarcode@(itemName)").val();
            SecondInfo@(itemName)(barcodeNo@(itemName));
            }
    });

    $(window).keydown(function (event) {
        if (event.keyCode == 13) {
            event.preventDefault();
            return false;
        }
    });
        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));
            $("#modalQuery@(itemName)").modal("hide");
        }

    function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;
            let targetUrl = "@Url.Action("GetMergeLog", "Inventory")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "WoErpNo": $("#txtWoErpFullNoQ@(itemName)").val(),
                "FromBarcodeNo": $("#txtBarcodeNoQ1@(itemName)").val().toUpperCase(),
                "ToBarcodeNo": $("#txtBarcodeNoQ2@(itemName)").val().toUpperCase(),
                "MtlItemNo": $("#txtMtlItemNameQ@(itemName)").val(),
                "StartDate": ($("#cbxUseDate@(itemName)").is(":checked") ? $("#txtStartDateQ@(itemName)").val() : ""),
                "EndDate": ($("#cbxUseDate@(itemName)").is(":checked") ? $("#txtEndDateQ@(itemName)").val() : "")
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;
                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);
                    console.log(885, data.result[0]["TotalCount"], PageCaculate(pageCount, objPage))
                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";
                        innerHtml += `<tr>
                                        <td style="max-width: 30px;">${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MtlItemNo}" style="max-width: 150; min-width: 80px;">${item.MtlItemNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.CurrentProdStatus}">${item.CurrentProdStatus}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MergeQty}" style="max-width: 100px; min-width: 50px;">${item.MergeQty}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.FromBarcodeNo}" style="min-width: 150px; min-width: 100px;">${item.FromBarcodeNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.FromWoErpNo}" style="min-width: 150px; min-width: 100px;">${item.FromWoErpNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ToBarcodeNo}" style="max-width: 150px; min-width: 100px;">${item.ToBarcodeNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ToWoErpNo}" style="max-width: 150px; min-width: 100px;">${item.ToWoErpNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Merger}" style="max-width: 150px; min-width: 100px;">${item.Merger}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.CreateDate}" style="max-width: 150px; min-width: 100px;">${item.CreateDate}</td>
                                      </tr>`;
                    });
                }
                else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="11" style="background-color: #fff3cd;">
                                        <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            }
            else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));
        }

        //第一條碼
        function FirstInfo@(itemName)(barcodeNo) {

            let targetUrl = "@Url.Action("GetBarcodePrintInfo", "Inventory")";
            let postData = {
                "BarcodeNo": barcodeNo.toUpperCase(),
            };
            let data = DataAccess.Get(targetUrl, postData, false);
            if (data.status == "success") {
                if (data.result.length > 0) {
                    $.each(data.result, function (i, item) {
                        $("#FirstWoErpNo@(itemName)").html(item.WoErpNo);
                        $("#FirstMtlItemNo@(itemName)").html(item.MtlItemNo);
                        $("#FirstBarcodeQty@(itemName)").html(item.BarcodeQty);
                        $("#FirstLotQty@(itemName)").html(item.LotQty);
                        $("#FirstLotStatus@(itemName)").html(item.LotStatus);

                        firstBarcodeNo@(itemName) = item.BarcodeNo;
                        itemNo@(itemName) = item.ItemNo;
                        MoId@(itemName) = item.MoId;
                        Prefix@(itemName) = item.BarcodePrefix;
                        Postfix@(itemName) = item.BarcodePostfix;
                        MoSettingId@(itemName) = item.MoSettingId;
                        ItemValue@(itemName) = item.ItemValue;
                        CurrentMoProcessId@(itemName) = item.CurrentMoProcessId;
                        SequenceLen@(itemName) = item.SequenceLen;
                        MtlItemNo@(itemName) = item.MtlItemNo;

                    });

                } else {
                    $("#FirstWoErpNo@(itemName)").html("查無資料");
                    $("#FirstMtlItemNo@(itemName)").html("");
                    $("#FirstBarcodeQty@(itemName)").html("");
                    $("#FirstLotStatus@(itemName)").html("");
                    $("#FirstLotQty@(itemName)").html("");

                }
            } else {
                alert(data.msg, "alert", 1000);
                $("#FirstWoErpNo@(itemName)").html("查無資料");
                    $("#FirstMtlItemNo@(itemName)").html("");
                    $("#FirstBarcodeQty@(itemName)").html("");
                    $("#FirstLotStatus@(itemName)").html("");
                    $("#FirstLotQty@(itemName)").html("");
            }
        }

        //第二條碼
        function SecondInfo@(itemName)(barcodeNo) {

            let targetUrl = "@Url.Action("GetBarcodePrintInfo", "Inventory")";
            let postData = {
                "BarcodeNo": barcodeNo.toUpperCase(),
            };
            let data = DataAccess.Get(targetUrl, postData, false);
            if (data.status == "success") {
                if (data.result.length > 0) {
                    $.each(data.result, function (i, item) {
                        $("#SecondWoErpNo@(itemName)").html(item.WoErpNo);
                        $("#SecondMtlItemNo@(itemName)").html(item.MtlItemNo);
                        $("#SecondBarcodeQty@(itemName)").html(item.BarcodeQty);
                        $("#SecondLotQty@(itemName)").html(item.LotQty);
                        $("#SecondLotStatus@(itemName)").html(item.LotStatus);
                    });

                } else {
                    $("#SecondWoErpNo@(itemName)").html("查無資料");
                    $("#SecondMtlItemNo@(itemName)").html("");
                    $("#SecondBarcodeQty@(itemName)").html("");
                    $("#SecondLotStatus@(itemName)").html("");
                    $("#SecondLotQty@(itemName)").html("");

                }
            } else {
                alert(data.msg, "alert", 1000);
                $("#SecondWoErpNo@(itemName)").html("查無資料");
                    $("#SecondMtlItemNo@(itemName)").html("");
                    $("#SecondBarcodeQty@(itemName)").html("");
                    $("#SecondLotStatus@(itemName)").html("");
                    $("#SecondLotQty@(itemName)").html("");
            }
        }

    function Merge@(itemName)() {

        if ($("#txtFirstBarcode@(itemName)").val() != "" && $("#txtBarcodeQty@(itemName)").val() != "" && $("#txtSecondBarcode@(itemName)").val() != "") {
            MtlItemNo@(itemName) = $("#FirstMtlItemNo@(itemName)").html();
            $("#txtMtlItemNameQ@(itemName)").val($("#FirstMtlItemNo@(itemName)").html());

            let targetUrl = "@Url.Action("SplitMergeBarcodePrint", "Inventory")";
            let postData = {
                "FirstBarcode": $("#txtFirstBarcode@(itemName)").val(),
                "SecondBarcode": $("#txtSecondBarcode@(itemName)").val(),
                "Qty": $("#txtBarcodeQtyP@(itemName)").val()

            };

            let result = DataAccess.Add(targetUrl, postData, false, true);

            if (result) {
                Query@(itemName)();
                Reset@(itemName)();

            }
        } else
            {
            alert("請確認條碼/數量是否已填妥", "alert", 1000);
            }

    }

    function AddEmptyBarcode@(itemName)() {

        if ($("#FirstMtlItemNo@(itemName)").html() == "") {
            alert("欲拆併產品條碼無資料", "alert", 1000);
        } else if ($("#txtFirstBarcode@(itemName)").val() != "") {
            let targetUrl = "@Url.Action("AddEmptyMergeBarcode", "Inventory")";
            let postData = {
                "MoId": MoId@(itemName),
                "MtlItemNo": MtlItemNo@(itemName),
                "ItemNo":  itemNo@(itemName),
                "ItemValue": ItemValue@(itemName),
                "CurrentMoProcessId": CurrentMoProcessId@(itemName),
                "MoSettingId": MoSettingId@(itemName),
                "SequenceLen": SequenceLen@(itemName)

            };

            let result = DataAccess.Get(targetUrl, postData, false);
            if (result.status == "success") {
                console.log(result.result[0].BarcodeNo)
                $("#txtSecondBarcode@(itemName)").val(result.result[0].BarcodeNo);
                SecondInfo@(itemName)(result.result[0].BarcodeNo);

                } else {
                alert(result.msg, "alert", 1000);
            }
        } else {
            alert("請先填寫欲拆併產品條碼", "alert", 1000);
        }
    }

    function Print@(itemName)() {
        let targetUrl = "@Url.Action("PrintNewLabel", "PrintLabel")";
        let postData = {
            "NewBarcodeNo": $("#txtSecondBarcode@(itemName)").val(),
            "PrintMachine": $("#cboLabelPrintMachine@(itemName)").val()
        };

        let result = DataAccess.Update(targetUrl, postData, false, true);

        if (result) {
            $("#modalPrint@(itemName)").modal("hide");
        }
    }

    function Reset@(itemName)() {
        $("#txtFirstBarcode@(itemName)").val("");
        $("#FirstWoErpNo@(itemName)").html("");
        $("#FirstMtlItemNo@(itemName)").html("");
        $("#FirstBarcodeQty@(itemName)").html("");
        $("#FirstLotStatus@(itemName)").html("");
        $("#FirstLotQty@(itemName)").html("");

        $("#txtSecondBarcode@(itemName)").val("");
        $("#SecondWoErpNo@(itemName)").html("");
        $("#SecondMtlItemNo@(itemName)").html("");
        $("#SecondBarcodeQty@(itemName)").html("");
        $("#SecondLotStatus@(itemName)").html("");
        $("#SecondLotQty@(itemName)").html("");

        $("#txtBarcodeQtyP@(itemName)").val("")
        }
</script>
                                )