
@using Business_Manager.Helpers
@{
    string itemName = "MaterialFeedingManagement";
    string itemNameText = "投料管理";
    string authority = ViewBag.authority;
    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
        
        .btn-disabled {
            opacity: 0.5;
            pointer-events: none;
            cursor: not-allowed;
        }

        .btn-disabled.pop-view {
            background-color: #a0a5a9 !important;
            border-color: #3e4041 !important;
        }　

        
        .btn-disabled.pop-clear {
            background-color: #f8f9fa !important;
            border-color: #6c757d !important;
            color: #6c757d !important;
        }
    </style>
                                                                                                )

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtMachineIdQ@(itemName)">機台ID</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMachineIdQ@(itemName)" name="txtMachineIdQ@(itemName)" placeholder="請輸入機台ID EX:1604" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtMoIdQ@(itemName)">制令ID</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMoIdQ@(itemName)" name="txtMoIdQ@(itemName)" placeholder="請請輸入制令ID EX:36966" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">投料日期 <input type="checkbox" id="cbxFeedDateQ@(itemName)" checked/></label>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtStartFeedDateQ@(itemName)" name="txtStartFeedDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtEndFeedDateQ@(itemName)" name="txtEndFeedDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>


<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);">
                            <i class="fal fa-search"></i>搜尋
                        </a>
                        <a class="btn btn-success" href="javascript:location.href='/Inventory/MaterialInputStatisticsReport';" style="margin-left: 10px;">
                            <i class="fas fa-chart-pie"></i>投料統計報表
                        </a>
                    </div>
                   
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn btn-info auth-add" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>

                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th class="col-sticky" scope="col" style="min-width: 50px;">#</th>
                                        <th scope="col" style="min-width: 90px;">投料日期</th>
                                        <th scope="col" style="min-width: 150px;">机台编号</th>
                                        <th scope="col" style="min-width: 150px;">制令编号</th>
                                        <th scope="col" style="min-width: 150px;">材料品号</th>
                                        <th scope="col" style="min-width: 90px;">投料數量</th>
                                        <th scope="col" style="min-width: 70px;">單位</th>
                                        <th scope="col" style="min-width: 120px;">備註</th>
                                        <th class="text-center" scope="col" style="min-width: 75px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container custom-form-container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="MatFeedRegId" name="MatFeedRegId" value="-1" />
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtFeedDate@(itemName)">投料日期 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtFeedDate@(itemName)" name="txtFeedDate@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboMachineId@(itemName)">机台 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboMachineId@(itemName)" name="cboMachineId@(itemName)">
                                    <option value="">-- 請選擇机台 --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtMoId@(itemName)">綁定MES製令 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="hidden" id="txtMoId@(itemName)" value="" />
                                <div class="btn-group btn-group@(itemName) choose-MoId">
                                    <a class="btn btn-success pop-view" href="javascript:void(0);"><i class="fal fa-search"></i></a>
                                    <a class="btn btn-outline-danger pop-clear" href="javascript:clearMoId();"><i class="fas fa-eraser"></i></a>
                                </div>
                                <dl class="help-block">
                                    <dt>製令</dt>
                                    <dd id="desWoErpFullNo@(itemName)"></dd>
                                    <dt>品號</dt>
                                    <dd id="desMtlItemNo@(itemName)"></dd>
                                    <dt>品名</dt>
                                    <dd id="desMtlItemName@(itemName)"></dd>
                                </dl>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboMaterialId@(itemName)">材料 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboMaterialId@(itemName)" name="cboMaterialId@(itemName)">
                                    <option value="">-- 請選擇材料 --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtMatInRegQty@(itemName)">投料數量 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtMatInRegQty@(itemName)" name="txtMatInRegQty@(itemName)" placeholder="請輸入投料數量"
                                       data-msg-required="請輸入投料數量" data-rule-required="true" />
                            </div>
                        </div> 
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboUomId@(itemName)">單位 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboUomId@(itemName)" name="cboUomId@(itemName)">
                                    <option value="">-- 請選擇單位 --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtRemarks@(itemName)">備註 </label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtRemarks@(itemName)" name="txtRemarks@(itemName)" placeholder="請輸入備註" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

@Html.Partial("~/Views/Inventory/ViewManufactureOrder.cshtml")
<link href="@Url.Content("~/Content/dhtmlx/suite.commercial/7.3.8/suite.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/locales.js")"></script>
<script src="@Url.Content("~/Scripts/dhtmlx/suite.commercial/7.3.8/suite.min.js")"></script>

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        $(document).ready(function () {

            let currentDate = new Date();
            Suites.DatePicker("#txtStartFeedDateQ@(itemName), #txtEndFeedDateQ@(itemName)");
            Suites.DatePicker("txtEndFeedDateQ@(itemName)", currentDate);
            currentDate.setDate(currentDate.getDate() - 7);
            Suites.DatePicker("txtStartFeedDateQ@(itemName)", currentDate);

            Query@(itemName)();

             $('.advanced-block a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                InitParameter@(itemName)($(this));
            });

        });


        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let targetUrl = "@Url.Action("GetMaterialFeedingManagement", "Inventory")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "MachineId": $("#txtMachineIdQ@(itemName)").val(),
                "MoId": $("#txtMoIdQ@(itemName)").val(),
                "StartFeedDate": ($("#cbxFeedDateQ@(itemName)").is(":checked") ? $("#txtStartFeedDateQ@(itemName)").val() : ""),
                "EndFeedDate": ($("#cbxFeedDateQ@(itemName)").is(":checked") ? $("#txtEndFeedDateQ@(itemName)").val() : "")
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;
                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr id="row_${item.MatFeedRegId}">
                                        <td>${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.FeedDate}" style="max-width: 100px;">${item.FeedDate}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MachineId}" style="max-width: 200px;">机台编号:${item.MachineNo}<br>机台名称:${item.MachineName}<br>机台ID:${item.MachineId}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MoId}" style="max-width: 190px;">制令:${item.WoErpPrefix}<br>品號:${item.WoErpMtlItemNo}<br>品名:${item.WoErpMtlItemName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MaterialId}" style="max-width: 200px;">材料编号:${item.MtlItemNo}<br>材料名称:${item.MtlItemName}<br>材料规格:${item.MtlItemSpec}</td>
                                        <td class="ellipsis quantity-cell" id="quantity_${item.MatFeedRegId}" data-value="${item.MatInRegQty}" style="max-width: 120px;">${item.MatInRegQty}</td>
                                        <td class="ellipsis unit-cell" id="unit_${item.MatFeedRegId}" data-value="${item.UomId}" style="max-width: 120px;">${item.UomNo} ${item.UomName}</td>
                                        <td class="ellipsis remarks-cell" id="remarks_${item.MatFeedRegId}" data-value="${item.Remarks}" style="max-width: 130px;">${item.Remarks}</td>
                                        <td class="text-center active-content" style="min-width: 200px;">
                                          <a class="active-link auth-update" href="javascript:Edit@(itemName)(${item.MatFeedRegId});"><i class="fas fa-edit"></i><span>編輯</span></a>
                                          <a class="active-link auth-void" href="javascript:Void@(itemName)(${item.MatFeedRegId});"><i class="fas fa-ban"></i><span>作废</span></a>
                                        </td>

                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="10" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));
        }

        function Edit@(itemName)(MatFeedRegId) {
            $(".help-block").hide();
            console.log(2, MatFeedRegId);

            $("#MatFeedRegId").val(MatFeedRegId ? MatFeedRegId : 0);
            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");

            ComboBoxs.Default("#cboMachineId@(itemName)", "@Url.Action("GetMachine", "Inventory")", "", "", "NA", "", "MachinePix", "MachineId");
            ComboBoxs.Default("#cboUomId@(itemName)", "@Url.Action("GetUnitOfMeasure", "PdmBasicInformation")", { "Status": "A" }, "97", "NA", "", "UomWithNo", "UomId");
            
           let currentDate = new Date();
            Suites.DatePicker("txtFeedDate@(itemName)", currentDate);

            if (MatFeedRegId > 0) {
                console.log(1, MatFeedRegId);
                $("#txtFeedDate@(itemName)").attr("disabled", true);
                $("#txtFeedDate@(itemName)").attr("readonly", true);
                $("#cboMachineId@(itemName)").attr("disabled", true);
                $("#cboMachineId@(itemName)").attr("readonly", true);
                $("#txtMoId@(itemName)").attr("readonly", true);
                $("#cboMaterialId@(itemName)").attr("readonly", false);
                $("#txtMatInRegQty@(itemName)").attr("readonly", false);
                $("#txtRemarks@(itemName)").attr("readonly", false);
                $("#cboUomId@(itemName)").attr("readonly", false);
                $("#SaveButton").attr("onclick", `Save@(itemName)()`);

                $(".pop-view, .pop-clear").addClass("btn-disabled").attr("disabled", true).attr("title", "编辑模式下不可修改制令信息");

                let targetUrl = "@Url.Action("GetMaterialFeedingManagement", "Inventory")";
                let postData = {
                    "MatFeedRegId": MatFeedRegId
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        let MoId = item.MoId
                        console.log("制令编号:", MoId);
                        $("#txtFeedDate@(itemName)").val(item.FeedDate);
                        1
                        if (item.MoId > 0) {
                            $("#desWoErpFullNo@(itemName)").html(item.WoErpPrefix);
                            $("#desMtlItemNo@(itemName)").html(item.WoErpMtlItemNo);
                            $("#desMtlItemName@(itemName)").html(item.WoErpMtlItemName);
                        }
                        
                        $("#txtMoId@(itemName)").val(item.MoId);
                        $("#MoId").val(item.MoId);
                        ComboBoxs.Default("#cboMaterialId@(itemName)", "@Url.Action("GetWorOrderMaterial", "ProductionHistory")", { "MoId": MoId }, "", "CHOOSE", "", "PixMtlItem", "MtlItemId");
                        $("#cboMaterialId@(itemName)").val(item.MaterialId);
                        $("#txtMatInRegQty@(itemName)").val(item.MatInRegQty);
                        $("#cboUomId@(itemName)").val(item.UomId);
                        $("#txtRemarks@(itemName)").val(item.Remarks);
                        $(".help-block").show();
                    });
                    
                } else {
                    alert(data.msg, "alert", 0);
                }
               
            } else {
                // 启用日期选择器
                $("#txtFeedDate@(itemName)").attr("readonly", false);
                $("#txtFeedDate@(itemName)").attr("disabled", false);
                $("#cboMachineId@(itemName)").attr("disabled", false);
                $("#cboMachineId@(itemName)").attr("readonly", false);
                let currentDate = new Date();
                Suites.DatePicker("txtFeedDate@(itemName)", currentDate);
                
                $(".pop-view, .pop-clear").removeClass("btn-disabled").attr("disabled", false).removeAttr("title");
                $("#cboMaterialId@(itemName)").empty();
                $("#cboMaterialId@(itemName)").append('<option value="">-- 请选择材料 --</option>');
                $("#cboMaterialId@(itemName)").trigger("change");
                
                if ($("#txtMoId@(itemName)").length > 0) {
                    
                    $("#txtMoId@(itemName)").on("change", function() {
                        loadMaterialsByMoId($(this).val());
                    });

                    window.popViewManufactureOrderCallback = function(moData) {
                        if (moData && moData.MoId) {
                            $("#txtMoId@(itemName)").val(moData.MoId);
                            loadMaterialsByMoId(moData.MoId);
                        }
                    };
                }
            }
            
            if (!isMobile) {
                $("#cboMachineId@(itemName), #cboUomId@(itemName), #cboMaterialId@(itemName)").select2({
                    width: "100%"
                });
            }

            let popConfig = {
                targetSelector: "#txtMoId@(itemName)",
                popFunction: "PopViewManufactureOrder",
                objectMoId: "#txtMoId@(itemName), #MoId",
                objectWoErpFullNo: "#desWoErpFullNo@(itemName)",
                objectMtlItemNo: "#desMtlItemNo@(itemName)",
                objectMtlItemName: "#desMtlItemName@(itemName)",
                objectMtlItemSpec: "#desMtlItemSpec@(itemName)",
                objectQuantity: "#txtQuantity@(itemName)",
                objectInventoryId: "#cboInventoryId@(itemName)",
                objectPlanQty: "#desPlanQty@(itemName)",
                objectRequisitionSetQty: "#desRequisitionSetQty@(itemName)",
                objectStockInQty: "#desStockInQty@(itemName)",
                objectLotStatus: "#desLotStatus@(itemName)",
                objectLotStatus: "#LotStatus",
            };
            $(".choose-MoId").show()

            InitPopView(popConfig);
        } 
          
        function Save@(itemName)() {
                if ($(objForm@(itemName)).valid()) {
                    let MatFeedRegId = parseInt($("#MatFeedRegId").val());
                    console.log(5, MatFeedRegId)
                    if (MatFeedRegId <= 0) {
                        let targetUrl = "@Url.Action("AddMaterialFeedingManagement", "Inventory")";
                        let postData = {
                            "FeedDate": $("#txtFeedDate@(itemName)").val(),
                            "MachineId": $("#cboMachineId@(itemName)").val(),
                            "MoId": $("#txtMoId@(itemName)").val(),
                            "MaterialId": $("#cboMaterialId@(itemName)").val(),
                            "MatInRegQty": $("#txtMatInRegQty@(itemName)").val(),
                            "UomId": $("#cboUomId@(itemName)").val(),
                            "Remarks": $("#txtRemarks@(itemName)").val()
                        };

                        let data = DataAccess.EditContinued(targetUrl, postData, false);

                       
                        if (data) {
                            $.each(data.result, function (i, item) {
                                $("#MatFeedRegId").val(item.MatFeedRegId);
                                 Return@(itemName)();
                            });
                            alert("新增成功", "success", 1);
                           
                        } else {
                            alert("新增失敗: " + (data.msg || "未知錯誤"), "error", 0);
                        }

                    } else {
                        let targetUrl = "@Url.Action("UpdateMaterialFeedingRecord", "ProductionHistory")";
                        let postData = {
                            "MatFeedRegId": MatFeedRegId,
                            "MaterialId": $("#cboMaterialId@(itemName)").val(),
                            "MatInRegQty": $("#txtMatInRegQty@(itemName)").val(),
                            "UomId": $("#cboUomId@(itemName)").val(),
                            "Remarks": $("#txtRemarks@(itemName)").val()
                        };

                        let result = DataAccess.Update(targetUrl, postData, false, true);

                        if (result) {
                            Return@(itemName)();
                        }
                    }
                }
            }

        function Void@(itemName)(MatFeedRegId) {
            if (!confirm("确定要作废这条投料记录吗？")) {
                return;
            }
            let targetUrl = "@Url.Action("UpdateStatusMaterialFeedingRecord", "ProductionHistory")";
            let postData = {
                "MatFeedRegId": MatFeedRegId,
                "Status": "S" // 设置状态为"S"表示作废
            };
            let result = DataAccess.Update(targetUrl, postData, false, true);
            if (result) {
                alert("作废成功", "success", 1500);
                Query@(itemName)();
            }
            
            
        }

        function loadMaterialsByMoId(moId) {
            if (!moId) {
                $("#cboMaterialId@(itemName)").empty();
                $("#cboMaterialId@(itemName)").append('<option value="">-- 请选择材料 --</option>');
                return;
            }
            $("#cboMaterialId@(itemName)").attr("disabled", true);
            $("#cboMaterialId@(itemName)").html('<option value="">加载中...</option>');
    
            ComboBoxs.Default("#cboMaterialId@(itemName)", "@Url.Action("GetWorOrderMaterial", "ProductionHistory")", { "MoId": moId },  "", "CHOOSE", "", "PixMtlItem", "MtlItemId");
    
            $("#cboMaterialId@(itemName)").attr("disabled", false);
    
            if (!isMobile) {
                $("#cboMaterialId@(itemName)").select2({ width: "100%" });
            }
        }
         function clearMoId() {
                $("#MoId").val("")
            }
         function Return@(itemName)() {
                ResetForm(objForm@(itemName));
                Switch("#listData@(itemName)", "#editData@(itemName), .unit-block, .advanced-block");
                Query@(itemName)();
            }

    </script>
                                                                                )