
@using Business_Manager.Helpers
@{
    string itemName = "MaterialDetail";
    string itemNameText = "領退料單詳細資料設定";
    string authority = ViewBag.authority;

    string itemName2 = "BomSubstitution";

    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
         .help-block {
             display: none;
             margin: 5px 0 0;
             border: 3px dashed #b1b1b1;
             border-radius: 5px;
             padding: 5px 10px;
         }

         dt {
             float: left;
             clear: left;
             width: 110px;
         }

             dt::after {
                 content: "：";
             }

         dd {
             margin: 0 0 0 80px;
             padding: 0;
             color: #36a2f5;
             font-weight: bold;
         }

         .table-sticky thead .col-sticky:nth-last-child(1) {
             right: 0;
         }

         .table-sticky tbody .col-sticky:nth-last-child(1) {
             right: 0;
         }

        .no-allow-control {
            margin-right: 5px;
            background-color: rgba(155,155,155,.5);
            border-color: aliceblue;
            cursor: not-allowed !important;
            color: #fff;
        }
            .no-allow-control:hover {
                color: #fff;
            }

        .batch-delete {
            background-color: #ef6c7a !important;
            border-color: #ef6c7a !important;
            margin-right: 8px;
        }
    </style>
                        )

<!--搜尋-->
<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">製令</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtWoErpFullNoQ@(itemName)" name="txtWoErpFullNoQ@(itemName)" placeholder="請輸入製令">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboProdModeQ@(itemName)">材料品號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMtlItemNoQ@(itemName)" name="txtMtlItemNoQ@(itemName)" placeholder="請輸入材料品號">
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<!--清單-->
<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)"><i class="fal fa-search"></i>搜尋</a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right" style="display: flex; justify-content: flex-end;">
                        <div class="doc-erp-control">

                        </div>
                        @*<a id="aTransferErp@(itemName)" style="margin-right: 5px;" class="btn btn-secondary auth-update" href="javascript:TransferErpMaterialRequisition();"><i class="far fa-arrow-alt-square-up"></i>拋轉單據</a>
                        <a id="aConfirm@(itemName)" style="margin-right: 5px;" class="btn btn-success auth-confirm" href="javascript:ConfirmMaterialRequisition();"><i class="fas fa-check"></i>核准單據</a>
                        <a id="aReConfirm@(itemName)" style="margin-right: 5px;" class="btn btn-danger auth-reconfirm" href="javascript:ReConfirmMaterialRequisition();"><i class="fas fa-undo-alt"></i>反確認</a>
                        <a id="aAddBomMtlItem@(itemName)" style="margin-right: 5px; background-color: #618aa9 !important;" class="btn btn-info auth-add" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增單一物料</a>*@
                        @*<a id="aAddBomSubstitution@(itemName)" style="margin-right: 5px; background-color: #6b959b !important;" class="btn btn-info auth-add" href="javascript:Edit@(itemName2)();"><i class="far fa-layer-plus"></i>使用取替代料</a>*@
                        <a class="btn btn-info auth-delete batch-delete" href="javascript:BatchDelete@(itemName)();"><i class="fas fa-trash-alt"></i>批量刪除</a>
                        <a class="btn btn-info auth-add view-mr-wip-order" href="javascript:PopViewMrWipOrder();"><i class="fas fa-file-search"></i>製令自動帶出</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th class="text-center col-sticky" scope="col" style="min-width: 110px;">
                                            <label class="col-12 col-form-label ">
                                                全選 <input type="checkbox" id="cbxSelectAll@(itemName)" />
                                            </label>
                                        </th>
                                        <th scope="col" style="min-width: 200px;">製令</th>
                                        <th scope="col" style="min-width: 200px;">材料品號</th>
                                        <th scope="col" style="min-width: 250px;">材料品名</th>
                                        <th scope="col" style="min-width: 135px;">材料規格</th>
                                        <th scope="col" style="max-width: 175px; min-width: 100px;">庫別</th>
                                        <th scope="col" style="max-width: 150px; min-width: 130px;">預計數量</th>
                                        <th scope="col" style="max-width: 150px; min-width: 130px;">實際數量</th>
                                        <th scope="col" style="max-width: 150px; min-width: 100px;">單位</th>
                                        <th scope="col" style="max-width: 150px; min-width: 100px;">需領料量</th>
                                        <th scope="col" style="max-width: 150px; min-width: 100px;">已領料量</th>
                                        <th scope="col" style="max-width: 200px; min-width: 100px;">領料說明</th>
                                        <th scope="col" style="max-width: 150px; min-width: 100px;">領料序號</th>
                                        <th scope="col" style="max-width: 150px; min-width: 100px;">單位用量</th>
                                        <th scope="col" style="max-width: 200px; min-width: 100px;">批號</th>
                                        <th scope="col" style="max-width: 200px; min-width: 100px;">備註</th>
                                        <th scope="col" style="max-width: 175px; min-width: 100px;">材料類型</th>
                                        <th scope="col" style="max-width: 100px; min-width: 100px;">是否確認</th>
                                        <th class="text-center col-sticky" scope="col" style="max-width: 450px; min-width: 100px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--新增修改-->
<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="MrDetailId" name="MrDetailId" value="-1" />
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="form-group row">
                                    <label class="col-12 col-form-label" for="txtMtlItemId@(itemName)">綁定品號</label>
                                    <div class="col-12">
                                        <input type="hidden" id="txtWoDetailId@(itemName)" />
                                        <input type="hidden" id="txtMtlItemId@(itemName)" />
                                        <div class="btn-group">
                                            <a class="btn btn-success pop-view" href="javascript:void(0);"><i class="fal fa-search"></i></a>
                                            <a class="btn btn-outline-danger pop-clear" href="javascript:void(0);" onclick="MtlItemClear@(itemName)()"><i class="fas fa-eraser"></i></a>
                                        </div>
                                        <dl class="help-block">
                                            <dt>品號</dt>
                                            <dd id="desMtlItemNo@(itemName)"></dd>
                                            <dt>品名</dt>
                                            <dd id="desMtlItemName@(itemName)"></dd>
                                            <dt>規格</dt>
                                            <dd id="desMtlItemSpec@(itemName)"></dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="form-group row">
                                    <label class="col-12 col-form-label" for="txtMoId@(itemName)">綁定製令</label>
                                    <div class="col-12">
                                        <input type="hidden" id="txtMoId@(itemName)" />
                                        <div class="btn-group">
                                            <a class="btn btn-success pop-view" href="javascript:void(0);"><i class="fal fa-search"></i></a>
                                            <a class="btn btn-outline-danger pop-clear" href="javascript:void(0);" onclick="MtlItemClear@(itemName)()"><i class="fas fa-eraser"></i></a>
                                        </div>
                                        <dl class="help-block">
                                            <dt>製令</dt>
                                            <dd id="desWoErpFullNo@(itemName)"></dd>
                                            <dt>預計產量</dt>
                                            <dd id="desMesQuantity@(itemName)"></dd>
                                            <dt>品號</dt>
                                            <dd id="desMoMtlItemNo@(itemName)"></dd>
                                            <dt>品名</dt>
                                            <dd id="desMoMtlItemName@(itemName)"></dd>
                                            <dt>規格</dt>
                                            <dd id="desMoMtlItemSpec@(itemName)"></dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-12 ">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtMrSequence@(itemName)">領退料序號<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <input type="text" class="form-control" id="txtMrSequence@(itemName)" name="txtMrSequence@(itemName)"
                                               readonly />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtQuantity@(itemName)">預計領退料數量<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <input type="number" step="any" min="0" max="9999999999" class="form-control" id="txtQuantity@(itemName)" name="txtQuantity@(itemName)"
                                               value=""
                                               placeholder="請輸入領退料數量"
                                               data-msg-required="請輸入領退料數量" data-rule-required="true" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-12 ">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtUomId@(itemName)">單位<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select class="form-control" id="cboUomId@(itemName)" name="cboUomId@(itemName)" required></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtInventoryId@(itemName)">庫別</label>
                                    <div class="col-12">
                                        <select class="form-control" id="cboInventoryId@(itemName)" name="cboInventoryId@(itemName)" required></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 ">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtLotNumber@(itemName)">庫存批號</label>
                                    <div class="col-12">
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="txtLotNumber@(itemName)" name="txtLotNumber@(itemName)" placeholder="請輸入批號" readonly />
                                            <div class="input-group-append">
                                                <a class="btn btn-success pop-view" href="javascript:void(0);"><i class="fal fa-search"></i></a>
                                                <a class="btn btn-outline-danger pop-clear" href="javascript:void(0);"><i class="fas fa-eraser"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 " style="display: none;">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="cboMaterialCategory@(itemName)">材料類型<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select class="form-control" id="cboMaterialCategory@(itemName)" name="cboMaterialCategory@(itemName)" required disabled></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-12 ">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtProjectCode@(itemName)">專案代碼</label>
                                    <div class="col-12">
                                        <input type="text" class="form-control" id="txtProjectCode@(itemName)" name="txtProjectCode@(itemName)"
                                               value=""
                                               placeholder="請輸入專案代碼"
                                               readonly />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 ">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtBondedStatus@(itemName)">保稅碼<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select class="form-control" id="cboBondedStatus@(itemName)" name="cboBondedStatus@(itemName)" required disabled>
                                            <option value="Y">是</option>
                                            <option value="N" selected>否</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-12 ">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtSubstituteStatus@(itemName)">替代材料<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select class="form-control" id="cboSubstituteStatus@(itemName)" name="cboSubstituteStatus@(itemName)" required>
                                            <option value="Y">是</option>
                                            <option value="N" selected>否</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 ">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtSubstituteNo@(itemName)">取替代料品號<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <input type="text" class="form-control" id="txtSubstituteNo@(itemName)" name="txtSubstituteNo@(itemName)"
                                               value=""
                                               readonly />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 ">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="cboQuickRemark@(itemName)">輔助選擇備註說明</label>
                                    <div class="col-12">
                                        <select class="form-control" id="cboQuickRemark@(itemName)"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 ">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtRemark@(itemName)">備註<span id="spanRemark@(itemName)" class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <textarea class="form-control" id="txtRemark@(itemName)" name="txtRemark@(itemName)" rows="2"
                                                  placeholder="請輸入備註"
                                                  data-msg-required="請輸入備註"
                                                  data-msg-maxlength="必須少於 255 個字元" maxlength="255" required></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 ">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtDetailDesc@(itemName)">領料說明</label>
                                    <div class="col-12">
                                        <textarea class="form-control" id="txtDetailDesc@(itemName)" name="txtDetailDesc@(itemName)" rows="2"
                                                  placeholder="請輸入領料說明"
                                                  data-msg-required="請輸入領料說明"
                                                  data-msg-maxlength="必須少於 60 個字元" maxlength="60"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

<!--新增取替代料-->
<div class="row" id="editData@(itemName2)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container" autocomplete="off" id="editForm@(itemName2)">
                    <input type="hidden" id="MrDetailId@(itemName2)" name="MrDetailId@(itemName2)" value="-1" />
                    <fieldset>
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="form-group row">
                                    <label class="col-12 col-form-label" for="txtMoId@(itemName2)">綁定製令</label>
                                    <div class="col-12">
                                        <input type="hidden" id="txtMoId@(itemName2)" />
                                        <div class="btn-group">
                                            <a class="btn btn-success pop-view" href="javascript:void(0);"><i class="fal fa-search"></i></a>
                                            <a class="btn btn-outline-danger pop-clear" href="javascript:void(0);" onclick="MoIdClear@(itemName2)()"><i class="fas fa-eraser"></i></a>
                                        </div>
                                        <dl class="help-block">
                                            <dt>製令</dt>
                                            <dd id="desWoErpFullNo@(itemName2)"></dd>
                                            <dt>預計產量</dt>
                                            <dd id="desMesQuantity@(itemName2)"></dd>
                                            <dt>主件品號</dt>
                                            <dd id="desMoMtlItemNo@(itemName2)"></dd>
                                            <dt>主件品名</dt>
                                            <dd id="desMoMtlItemName@(itemName2)"></dd>
                                            <dt>主件規格</dt>
                                            <dd id="desMoMtlItemSpec@(itemName2)"></dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="form-group row">
                                    <label class="col-12 col-form-label" for="txtMtlItemId@(itemName2)">綁定取替代料</label>
                                    <div class="col-12">
                                        <input type="hidden" id="txtMtlItemId@(itemName2)" />
                                        <div class="btn-group">
                                            <a class="btn btn-success pop-view" href="javascript:void(0);"><i class="fal fa-search"></i></a>
                                            <a class="btn btn-outline-danger pop-clear" href="javascript:void(0);" onclick="MtlItemClear@(itemName2)()"><i class="fas fa-eraser"></i></a>
                                        </div>
                                        <dl class="help-block">
                                            <dt>替代料品號</dt>
                                            <dd id="desSubMtlItemNo@(itemName2)"></dd>
                                            <dt>替代料品名</dt>
                                            <dd id="desSubMtlItemName@(itemName2)"></dd>
                                            <dt>替代料規格</dt>
                                            <dd id="desSubMtlItemSpec@(itemName2)"></dd>
                                            <dt>元件品號</dt>
                                            <dd id="desBomMtlItemNo@(itemName2)"></dd>
                                            <dt>元件品名</dt>
                                            <dd id="desBomMtlItemName@(itemName2)"></dd>
                                            <dt>領用比例數量</dt>
                                            <dd id="desQuantity@(itemName2)"></dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-12 ">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtMrSequence@(itemName2)">領退料序號<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <input type="text" class="form-control" id="txtMrSequence@(itemName2)" name="txtMrSequence@(itemName2)"
                                               readonly />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtQuantity@(itemName2)">預計領退料數量<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <input type="number" step="any" min="0" max="9999999999" class="form-control" id="txtQuantity@(itemName2)" name="txtQuantity@(itemName2)"
                                               value=""
                                               placeholder="請輸入領退料數量"
                                               data-msg-required="請輸入領退料數量" data-rule-required="true" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-12 ">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtUomId@(itemName2)">單位<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select class="form-control" id="cboUomId@(itemName2)" name="cboUomId@(itemName2)" required></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtInventoryId@(itemName2)">庫別</label>
                                    <div class="col-12">
                                        <select class="form-control" id="cboInventoryId@(itemName2)" name="cboInventoryId@(itemName2)" required></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-12 ">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtLotNumber@(itemName2)">材料庫存批號</label>
                                    <div class="col-12">
                                        <input type="text" class="form-control" id="txtLotNumber@(itemName2)" name="txtLotNumber@(itemName2)"
                                               value=""
                                               placeholder="請輸入材料庫存批號"
                                               readonly />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 ">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtMaterialCategory@(itemName2)">材料類型<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select class="form-control" id="cboMaterialCategory@(itemName2)" name="cboMaterialCategory@(itemName2)" required disabled></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-12 ">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtProjectCode@(itemName2)">專案代碼</label>
                                    <div class="col-12">
                                        <input type="text" class="form-control" id="txtProjectCode@(itemName2)" name="txtProjectCode@(itemName2)"
                                               value=""
                                               placeholder="請輸入專案代碼"
                                               readonly />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 ">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtBondedStatus@(itemName2)">保稅碼<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select class="form-control" id="cboBondedStatus@(itemName2)" name="cboBondedStatus@(itemName2)" required disabled>
                                            <option value="Y">是</option>
                                            <option value="N" selected>否</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-12 ">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtSubstituteStatus@(itemName2)">替代材料<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select class="form-control" id="cboSubstituteStatus@(itemName2)" name="cboSubstituteStatus@(itemName2)" required disabled>
                                            <option value="Y" selected>是</option>
                                            <option value="N">否</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 ">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtSubstituteNo@(itemName2)">取替代料品號<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <input type="text" class="form-control" id="txtSubstituteNo@(itemName2)" name="txtSubstituteNo@(itemName2)"
                                               value=""
                                               readonly />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 ">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtRemark@(itemName2)">備註</label>
                                    <div class="col-12">
                                        <textarea class="form-control" id="txtRemark@(itemName2)" name="txtRemark@(itemName2)" rows="2"
                                                  placeholder="請輸入備註"
                                                  data-msg-required="請輸入備註"
                                                  data-msg-maxlength="必須少於 255 個字元" maxlength="255" required></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 ">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtDetailDesc@(itemName2)">領料說明</label>
                                    <div class="col-12">
                                        <textarea class="form-control" id="txtDetailDesc@(itemName2)" name="txtDetailDesc@(itemName2)" rows="2"
                                                  placeholder="請輸入領料說明"
                                                  data-msg-required="請輸入領料說明"
                                                  data-msg-maxlength="必須少於 60 個字元" maxlength="60"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

<!--取替代料Modal-->
<div class="modal fade" id="modalBomSubstitution@(itemName)" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    使用取替代料
                    <span class="sub-title">主件品號: <span class="sub-text" id="desBillMtlItemNo@(itemName)"></span></span>
                    <span class="sub-title">主件品名: <span class="sub-text" id="desBillMtlItemName@(itemName)"></span></span>
                    <span class="sub-title">元件品號: <span class="sub-text" id="desBomMtlItemNo@(itemName)"></span></span>
                    <span class="sub-title">元件品名: <span class="sub-text" id="desBomMtlItemName@(itemName)"></span></span>
                    <span class="sub-title">元件需領用量: <span class="sub-text" id="desQuantity@(itemName)"></span></span>
                </h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row" id="listBomSubstitutionData@(itemName)">
                    <dl id="txtSubMtlItemId@(itemName2)"></dl>
                    <input type="hidden" id="txtSubMtlItemId@(itemName2)" />
                    <input type="hidden" id="txtQuantity@(itemName2)" />
                    <input type="hidden" id="txtBomMtlItemId@(itemName2)" />
                    <input type="hidden" id="txtSubQuantity@(itemName2)" />
                    <div class="col-12">
                        <div class="card card-shadow mb-4">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="table-custom">
                                            <table class="table table-bordered table-striped table-sticky" id="tblBomSubstitutionData@(itemName)">
                                                <thead>
                                                    <tr>
                                                        <th scope="col" style="min-width: 75px;">#</th>
                                                        <th scope="col" style="min-width: 200px;">替代料品號</th>
                                                        <th scope="col" style="min-width: 200px;">替代料品名</th>
                                                        <th scope="col" style="min-width: 150px;">替代料規格</th>
                                                        <th scope="col" style="min-width: 200px;">庫別</th>
                                                        <th scope="col" style="min-width: 135px;">庫存數量</th>
                                                        <th scope="col" style="min-width: 150px;">需領用量</th>
                                                        <th scope="col" style="min-width: 150px;">替代料單位</th>
                                                        <th scope="col" style="min-width: 100px;">類型</th>
                                                        <th scope="col" style="min-width: 135px;">替代料順序</th>
                                                        <th class="text-center col-sticky" scope="col" style="min-width: 110px;">請選擇</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="SaveBomSubstitution@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>
<!--取替代料Modal-->

@Html.Partial("ViewMrWipOrder")
@Html.Partial("ViewBarcodeControl")
@Html.Partial("ViewReMrBarcodeControl")
@Html.Partial("ViewMtlItem")
@Html.Partial("ViewBomSubstitution")
@Html.Partial("ViewLotNumberInventory")
@Html.Partial("../GoodsReceipt/ViewLotNumber")

@Html.Resource("js",
    @<script>
        $(document).ready(function () {
            $("#cbxSelectAll@(itemName)").prop("checked", false);

            $("#cbxSelectAll@(itemName)").off("click").on("click", function () {
                if ($("#cbxSelectAll@(itemName)").is(":checked")) {
                    $("input[type='checkbox'][data-mr-detail-id]").not(":disabled").prop("checked", true);
                } else {
                    $("input[type='checkbox'][data-mr-detail-id]").not(":disabled").prop("checked", false);
                }
            });
        });

        let objForm@(itemName) = "#editForm@(itemName)";
        let objForm@(itemName2) = "#editForm@(itemName2)";

        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 999
        };

        let mrId@(itemName);
        let excessFlag@(itemName); //領料單是否可以超領
        let checkMoFlag@(itemName); //領料單是否檢核製令
        let confirmStatus@(itemName); //領料單確認狀態

        function Expand@(itemName)(mrId, requesitionNo, confirmStatus) {
            if (mrId > 0) {
                mrId@(itemName) = mrId;
                $(".advanced-block").slideDown("slow");
                $(".view-mr-wip-order").attr("href", `javascript:PopViewMrWipOrder('${mrId}', '${requesitionNo}');`);
                Return@(itemName)();

                $(".doc-erp-control").empty();
                let innerHtml = '';
                if (confirmStatus == "Y") {
                    innerHtml += `<a id="aTransferErp@(itemName)" style="margin-right: 5px;" class="btn auth-update no-allow-control" href="javascript:void(0);"><i class="far fa-arrow-alt-square-up"></i>拋轉單據</a>
                                  <a id="aConfirm@(itemName)" style="margin-right: 5px;" class="btn auth-confirm no-allow-control" href="javascript:void(0);"><i class="fas fa-check"></i>核准單據</a>
                                  <a id="aReConfirm@(itemName)" style="margin-right: 5px;" class="btn btn-danger auth-reconfirm" href="javascript:ReConfirmMaterialRequisition(${mrId});"><i class="fas fa-undo-alt"></i>反確認</a>
                                  <a id="aAddBomMtlItem@(itemName)" style="margin-right: 5px;" class="btn auth-add no-allow-control" href="javascript:void(0);"><i class="fas fa-plus"></i>新增單一物料</a>`;
                }
                else if (confirmStatus == "N") {
                    innerHtml += `<a id="aTransferErp@(itemName)" style="margin-right: 5px;" class="btn btn-secondary auth-update" href="javascript:TransferErpMaterialRequisition(${mrId});"><i class="far fa-arrow-alt-square-up"></i>拋轉單據</a>
                                  <a id="aConfirm@(itemName)" style="margin-right: 5px;" class="btn btn-success auth-confirm" href="javascript:ConfirmMaterialRequisition(${mrId});"><i class="fas fa-check"></i>核准單據</a>
                                  <a id="aReConfirm@(itemName)" style="margin-right: 5px;" class="btn auth-reconfirm no-allow-control" href="javascript:void(0);"><i class="fas fa-undo-alt"></i>反確認</a>
                                  <a id="aAddBomMtlItem@(itemName)" style="margin-right: 5px; background-color: #618aa9 !important;" class="btn btn-info auth-add" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增單一物料</a>`;
                }
                else {
                    innerHtml += `<a id="aTransferErp@(itemName)" style="margin-right: 5px;" class="btn auth-update no-allow-control" href="javascript:void(0);"><i class="far fa-arrow-alt-square-up"></i>拋轉單據</a>
                                  <a id="aConfirm@(itemName)" style="margin-right: 5px;" class="btn auth-confirm no-allow-control" href="javascript:void(0);"><i class="fas fa-check"></i>核准單據</a>
                                  <a id="aReConfirm@(itemName)" style="margin-right: 5px;" class="btn auth-reconfirm no-allow-control" href="javascript:void(0);"><i class="fas fa-undo-alt"></i>反確認</a>
                                  <a id="aAddBomMtlItem@(itemName)" style="margin-right: 5px;" class="btn auth-add no-allow-control" href="javascript:void(0);"><i class="fas fa-plus"></i>新增單一物料</a>`;
                }

                $(".doc-erp-control").html(innerHtml);

                @*$("#aTransferErp@(itemName)").prop("href", `javascript:TransferErpMaterialRequisition('${mrId}');`);
                $("#aConfirm@(itemName)").prop("href", `javascript:ConfirmMaterialRequisition('${mrId}');`);
                $("#aReConfirm@(itemName)").prop("href", `javascript:ReConfirmMaterialRequisition('${mrId}');`);*@
            } else {
                alert("領退料單資料錯誤，請重新操作!", "alert");
            }
        }

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));
            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;
            let targetUrl = "@Url.Action("GetMrDetail", "Inventory")";

            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "MrId": mrId@(itemName),
                "WoErpFullNo": $("#txtWoErpFullNoQ@(itemName)").val(),
                "MtlItemNo": $("#txtMtlItemNoQ@(itemName)").val()
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length;
                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);
                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";
                        innerHtml += `<tr>
                                        <td style="max-width: 75px; text-center col-sticky">
                                            <label class="control control-solid control-solid-info control--checkbox">
                                              <input type="checkbox" data-mr-detail-id="${item.MrDetailId}" value="${item.MrDetailId}" />
                                              <span class="control__indicator"></span>
                                              ${_row}
                                            </label>
                                        </td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.WoErpPrefix}-${item.WoErpNo}(${item.WoSeq})" style="min-width: 200px;">${item.WoErpPrefix}-${item.WoErpNo}(${item.WoSeq})</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MtlItemNo}" style="min-width: 200px;">${item.MtlItemNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MtlItemName}" style="min-width: 250px;">${item.MtlItemName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MtlItemSpec}" style="min-width: 135px;">${item.MtlItemSpec}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.InventoryNo} ${item.InventoryName}" style="max-width: 175px;">${item.InventoryNo} ${item.InventoryName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Quantity}" style="min-width: 115px;">${item.Quantity}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ActualQuantity}" style="min-width: 115px;">${item.ActualQuantity}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.UomNo}" style="min-width: 100px;">${item.UomNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DemandRequisitionQty != null ? item.DemandRequisitionQty : 0}" style="min-width: 100px;">${item.DemandRequisitionQty != null ? item.DemandRequisitionQty : 0}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.RequisitionQty}" style="min-width: 100px;">${item.RequisitionQty}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DetailDesc}" style="min-width: 200px;">${item.DetailDesc}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MrSequence}" style="min-width: 100px;">${item.MrSequence}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.CompositionQuantity}" style="min-width: 100px;">${item.CompositionQuantity}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.LotNumber}" style="min-width: 200px;">${item.LotNumber}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Remark}" style="min-width: 200px;">${item.Remark}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MaterialCategoryNo}" style="max-width: 175px;">${item.MaterialCategoryNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ConfirmStatus == `Y` ? `是` : `否`}" style="min-width: 100px;">${item.ConfirmStatus == `Y` ? `是` : `否`}</td>
                                        <td class="text-center active-content col-sticky" style="min-width: 450px;">
                                            <a class="active-link auth-update" href="javascript:Edit@(itemName)('${item.MrDetailId}', '${item.BarcodeCtrl}');"><i class="fas fa-edit"></i></a>
                                            <a class="active-link auth-delete" href="javascript:Delete@(itemName)('${item.MrDetailId}');"><i class="fas fa-trash-alt"></i></a>
                                            <input type="hidden" id="txtMtlItemId@(itemName2)" name="txtMtlItemId@(itemName2)"/>
                                            <a class="active-link auth-update" href="javascript:PopViewBomSubstitution('${item.MrDetailId}', '${item.MtlItemNo}', '${item.MtlItemName}', '${item.Quantity}', '${item.MoMtlItemNo}', '${item.MoMtlItemName}', '${item.MtlItemSpec}');"><i class="far fa-layer-plus"> 取替代件</i></a>
                                            ${item.LotManagement != `N` ? `<a class="active-link auth-update" href="javascript:PopViewLotNumberInventory('${item.MtlItemNo}',${item.InventoryId},'Mr','${item.MrDetailId}');"><i class="fas fa-trash-alt"></i>批號設定</a>` : `<a class="active-link auth-delete active-disable" href="javascript:void(0);"><i class="fas fa-trash-alt"></i>批號設定</a>`}
                                            ${JudgeBarcodeControl(`${item.BarcodeCtrl}`, `${item.MrDetailId}`, `${item.MtlItemNo}`, `${item.MtlItemName}`, `${item.DocType}`, `${item.TotalBarcodeQty}`, `${item.SubstitutionMtlItemNo}`, `${item.SubstituteQty}`, `${item.BomBarcodeCtrl}`, `${item.Quantity}`)}
                                        </td>
                                      </tr>`;
                    });
                }
                else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="22" style="background-color: #fff3cd;">
                                        <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }

                function JudgeBarcodeControl(barcodeCtrl, mrDetailId, mtlItemNo, mtlItemName, docType, totalBarcodeQty, substitutionMtlItemNo, substituteQty, bomBarcodeCtrl, MrQty) {
                    let innerHtml = '';
                    barcodeCtrl@(itemName) = barcodeCtrl;
                    if (barcodeCtrl == "Y") {
                        if (docType == "54" || docType == "55") {
                            innerHtml += `<a class="active-link auth-barcode-control" href="javascript:PopViewBarcodeControl('${mrDetailId}', '${mtlItemNo}', '${mtlItemName}', '${totalBarcodeQty}', '${MrQty}');"><i class="far fa-scanner"></i> 條碼控管</a>`;
                        }
                        else if (docType == "56") {
                            innerHtml += `<a class="active-link auth-barcode-control" href="javascript:PopViewReMrBarcodeControl('${mrDetailId}', '${mtlItemNo}', '${mtlItemName}');"><i class="far fa-scanner"></i> 條碼控管</a>`;
                        }
                    }
                    else {
                        if (substitutionMtlItemNo != mtlItemNo && substituteQty != 0 && bomBarcodeCtrl == "Y") {
                            innerHtml += `<a class="active-link auth-barcode-control" href="javascript:PopViewBarcodeControl('${mrDetailId}', '${mtlItemNo}', '${mtlItemName}', '${totalBarcodeQty}', '${MrQty}');"><i class="far fa-scanner"></i> 條碼控管</a>`;
                        }
                        else {
                            innerHtml += `<a class="active-link auth-barcode-control active-disable" href="javascript:void();"><i class="far fa-scanner"></i> 條碼控管</a>`;
                        }
                    }
                    return innerHtml;
                }
            }
            else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));
        }

        function Edit@(itemName)(mrDetailId, barcodeCtrl) {
            $("#MrDetailId").val(mrDetailId ? mrDetailId : 0);
            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");
            //$(".advanced-block").show();

            $("#txtWoDetailId@(itemName)").siblings(".help-block").hide();
            $("#txtWoDetailId@(itemName)").val("");
            $("#txtMtlItemId@(itemName)").val("");

            $("#txtMoId@(itemName)").siblings(".help-block").hide();
            $("#txtMoId@(itemName)").val("");

            $("#txtLotNumber@(itemName)").prop("readonly", true);

            @*$("#cboMaterialCategory@(itemName)").prop("disabled", false);*@

            if (!isMobile) {
                $("#cboUomId@(itemName)").select2({
                    width: "100%"
                });
                $("#cboInventoryId@(itemName)").select2({
                    width: "100%"
                });
                $("#cboMaterialCategory@(itemName)").select2({
                    width: "100%"
                });
            }

            ComboBoxs.Default("#cboUomId@(itemName)", "@Url.Action("GetUnitOfMeasure", "PdmBasicInformation")", {}, "", "NA", "", "UomWithNo", "UomId");
            ComboBoxs.Default("#cboInventoryId@(itemName)", "@Url.Action("GetInventory", "ScmBasicInformation")", {}, "", "NA", "", "InventoryWithNo", "InventoryId");
            ComboBoxs.Default("#cboMaterialCategory@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "MrWipOrder.MaterialCategory" }, "1", "NA", "", "TypeName", "TypeNo");
            ComboBoxs.Default("#cboQuickRemark@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "MR.QuickRemark" }, "", "NA", "", "TypeName", "TypeName");

            if (mrDetailId > 0) {
                let targetUrl = "@Url.Action("GetMrDetail", "Inventory")";
                let postData = {
                    "MrDetailId": mrDetailId
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $("#txtMtlItemId@(itemName)").siblings(".help-block").show();
                    $.each(data.result, function (i, item) {
                        $("#txtWoDetailId@(itemName)").val(item.WoDetailId);
                        $("#txtMtlItemId@(itemName)").val(item.MtlItemId);
                        $("#desMtlItemNo@(itemName)").html(item.MtlItemNo);
                        $("#desMtlItemName@(itemName)").html(item.MtlItemName);
                        $("#desMtlItemSpec@(itemName)").html(item.MtlItemSpec != "" ? item.MtlItemSpec : "");
                        $("#txtMrSequence@(itemName)").val(item.MrSequence);
                        $("#txtQuantity@(itemName)").val(item.Quantity);
                        $("#cboUomId@(itemName)").val(item.UomId);
                        $("#cboInventoryId@(itemName)").val(item.InventoryId);
                        $("#txtLotNumber@(itemName)").val(item.LotNumber);
                        $("#cboMaterialCategory@(itemName)").prop("disabled", true);
                        $("#cboMaterialCategory@(itemName)").val(item.MaterialCategory);
                        $("#txtProjectCode@(itemName)").val(item.ProjectCode);
                        $("#cboBondedStatus@(itemName)").val(item.BondedStatus);
                        $("#cboSubstituteStatus@(itemName)").val(item.SubstituteStatus);
                        $("#txtDetailDesc@(itemName)").val(item.DetailDesc);
                        $("#txtRemark@(itemName)").val(item.Remark);
                        $("#txtMoId@(itemName)").val(item.MoId);
                        $("#txtMoId@(itemName)").siblings(".help-block").show();
                        $("#desWoErpFullNo@(itemName)").html(item.WoErpPrefix + "-" + item.WoErpNo + "(" + item.WoSeq + ")");
                        $("#desMesQuantity@(itemName)").html(item.MesQuantity);
                        $("#desMoMtlItemNo@(itemName)").html(item.MoMtlItemNo);
                        $("#desMoMtlItemName@(itemName)").html(item.MoMtlItemName);
                        $("#desMoMtlItemSpec@(itemName)").html(item.MoMtlItemSpec);

                        @*if (item.LotManagement != "N") {
                            $("#cboInventoryId@(itemName)").prop("disabled", true);
                        }
                        else {
                            $("#cboInventoryId@(itemName)").prop("disabled", false);
                        }*@
                    });
                } else {
                    alert(data.msg, "alert", 0);
                }
            }

            if ($("#desMtlItemSpec@(itemName)").text() == "") $("#desMtlItemSpec@(itemName)").html("無規格資訊");

            let popConfig = {
                targetSelector: "#txtMtlItemId@(itemName)",
                popFunction: "PopViewMtlItem",
                objectMtlItemId: "#txtMtlItemId@(itemName)",
                objectMtlItemNo: "#desMtlItemNo@(itemName)",
                objectMtlItemName: "#desMtlItemName@(itemName)",
                objectMtlItemSpec: "#desMtlItemSpec@(itemName)",
                objectUomId: "#cboUomId@(itemName)",
                objectInventoryId: "#cboInventoryId@(itemName)",
                objectCheckMtlDate: "@DateTime.Now.ToString("yyyy-MM-dd")",
            };
            InitPopView(popConfig);

            let popConfig2 = {
                targetSelector: "#txtMoId@(itemName)",
                popFunction: "PopViewManufactureOrder",
                objectMoId: "#txtMoId@(itemName)",
                objectWoErpFullNo: "#desWoErpFullNo@(itemName)",
                objectMtlItemNo: "#desMoMtlItemNo@(itemName)",
                objectMtlItemName: "#desMoMtlItemName@(itemName)",
                objectMtlItemSpec: "#desMoMtlItemSpec@(itemName)",
                objectMesQuantity: "#desMesQuantity@(itemName)",
                objectRequisitionSetQty: "#desRequisitionSetQty@(itemName)",
                objectStockInQty: "#desStockInQty@(itemName)",
                objectInputQty: "#desInputQty@(itemName)",
            };
            InitPopView(popConfig2);

            let popConfig3 = {
                targetSelector: "#txtLotNumber@(itemName)",
                popFunction: "PopViewLotNumber",
                objectLotNumber: "#txtLotNumber@(itemName)",
                objectMtlItemNo: $("#desMtlItemNo@(itemName)").html(),
                objectInventoryId: $("#cboInventoryId@(itemName)").val(),
                objectLotManagement: $("#txtLotManagement@(itemName)").val(),
            };
            InitPopView(popConfig3);

            $("#txtMtlItemId@(itemName)").change(function () {
                let mrSequnce;
                setTimeout(function () {
                    mrSequnce = GetMrSequnce@(itemName)();
                    $("#txtMrSequence@(itemName)").val(mrSequnce);

                    if ($("#desMtlItemSpec@(itemName)").text() == "") $("#desMtlItemSpec@(itemName)").html("無規格資訊");
                    $("#txtMoId@(itemName)").siblings(".help-block").hide();
                }, 250);
            });

            $("#cboQuickRemark@(itemName)").change(function () {
                let quickRemark = $("#cboQuickRemark@(itemName)").val();
                $("#txtRemark@(itemName)").val(quickRemark);
            });

            $("#txtSubMtlItemId@(itemName2)").change(function () {
                setTimeout(function () {
                    console.log(123);
                },500);
            });
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let MrDetailId = parseInt($("#MrDetailId").val());

                if (MrDetailId <= 0) {
                    let targetUrl = "@Url.Action("AddMrDetail", "Inventory")";
                    let postData = {
                        "MrId": mrId@(itemName),
                        "MoId": $("#txtMoId@(itemName)").val(),
                        "MrSequence": $("#txtMrSequence@(itemName)").val(),
                        "MtlItemId": $("#txtMtlItemId@(itemName)").val(),
                        "Quantity": $("#txtQuantity@(itemName)").val(),
                        "UomId": $("#cboUomId@(itemName)").val(),
                        "InventoryId": $("#cboInventoryId@(itemName)").val(),
                        "LotNumber": $("#txtLotNumber@(itemName)").val(),
                        "DetailDesc": $("#txtDetailDesc@(itemName)").val(),
                        "Remark": $("#txtRemark@(itemName)").val(),
                        "MaterialCategory": $("#cboMaterialCategory@(itemName)").val(),
                        "ProjectCode": $("#txtProjectCode@(itemName)").val(),
                        "BondedStatus": $("#cboBondedStatus@(itemName)").val(),
                        "SubstituteStatus": $("#cboSubstituteStatus@(itemName)").val()
                    };

                    let result = DataAccess.Add(targetUrl, postData, false, true);

                    if (result) {
                        Return@(itemName)();
                    }
                }
                else {
                    let targetUrl = "@Url.Action("UpdateMrDetail", "Inventory")";
                    let postData = {
                        "MrDetailId": MrDetailId,
                        "MrId": mrId@(itemName),
                        "MoId": $("#txtMoId@(itemName)").val(),
                        "MrSequence": $("#txtMrSequence@(itemName)").val(),
                        "MtlItemId": $("#txtMtlItemId@(itemName)").val(),
                        "Quantity": $("#txtQuantity@(itemName)").val(),
                        "UomId": $("#cboUomId@(itemName)").val(),
                        "InventoryId": $("#cboInventoryId@(itemName)").val(),
                        "LotNumber": $("#txtLotNumber@(itemName)").val(),
                        "DetailDesc": $("#txtDetailDesc@(itemName)").val(),
                        "Remark": $("#txtRemark@(itemName)").val(),
                        "MaterialCategory": $("#cboMaterialCategory@(itemName)").val(),
                        "ProjectCode": $("#txtProjectCode@(itemName)").val(),
                        "BondedStatus": $("#cboBondedStatus@(itemName)").val(),
                        "SubstituteStatus": $("#cboSubstituteStatus@(itemName)").val()
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Return@(itemName)();
                    }
                }
            }
        }

        function Delete@(itemName)(mrDetailId) {
            swal.fire({
                titleText: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteMrDetail", "Inventory")";
                    let postData = {
                        "MrDetailId": mrDetailId
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function PopModalBomSubstitution@(itemName)(mrDetailId, bomMtlItemNo, bomMtlItemName, quantity, billMtlItemNo, billMtlItemName) {
            $("#desBillMtlItemNo@(itemName)").html(billMtlItemNo);
            $("#desBillMtlItemName@(itemName)").html(billMtlItemName);
            $("#desBomMtlItemNo@(itemName)").html(bomMtlItemNo);
            $("#desBomMtlItemName@(itemName)").html(bomMtlItemName);
            $("#desQuantity@(itemName)").html(quantity);

            let targetUrl = "@Url.Action("GetBomSubstitution", "Inventory")";
            let postData = {
                "BomMtlItemNo": bomMtlItemNo,
                "BillMtlItemNo": billMtlItemNo
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            let innerHtml = '';
            if (data.status == "success") {
                if (data.result.length > 0) {
                    $.each(data.result, function (i, item) {
                        innerHtml += `<tr>
                                        <td style="max-width: 75px;">${i+1}.</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MtlItemNo}" style="min-width: 200px;">${item.MtlItemNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MtlItemName}" style="min-width: 200px;">${item.MtlItemName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MtlItemSpec}" style="min-width: 150px;">${item.MtlItemSpec}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.InventoryNo} ${item.InventoryName}" style="min-width: 200px;">${item.InventoryNo} ${item.InventoryName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.InventoryQty}" style="min-width: 135px;">${item.InventoryQty}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Quantity * quantity}" style="min-width: 150px;">${item.Quantity * quantity}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.UomNo} ${item.UomName}" style="min-width: 150px;">${item.UomNo} ${item.UomName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.SubstituteStatusNo}" style="min-width: 100px;">${item.SubstituteStatusNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.SortNumber}" style="min-width: 135px;">${item.SortNumber}</td>
                                        <td class="text-center col-sticky">
                                          <label class="control control-solid control-solid-info control--radio">
                                            <input type="radio" name="txtMtlItemId@(itemName2)" data-mtl-item-id="${item.MtlItemId}" value="${item.MtlItemId}" />
                                            <span class="control__indicator"></span>
                                          </label>
                                          <input type="hidden" name="txtUomId@(itemName2)" data-mtl-item-id="${item.MtlItemId}" value="${item.UomId}" />
                                          <input type="hidden" name="txtInventoryId@(itemName2)" data-mtl-item-id="${item.MtlItemId}" value="${item.InventoryId}" />
                                          <input type="hidden" name="txtQuantity@(itemName2)" data-mtl-item-id="${item.MtlItemId}" value="${item.Quantity * quantity}" />
                                          <input type="hidden" name="txtBomMtlItemId@(itemName2)" data-mtl-item-id="${item.MtlItemId}" value="${item.BomMtlItemId}" />
                                          <input type="hidden" name="txtSubQuantity@(itemName2)" data-mtl-item-id="${item.MtlItemId}" value="${item.Quantity}" />
                                        </td>
                                      </tr>`;
                    });
                }
                else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="9" style="background-color: #fff3cd;">
                                        <i class="fal fa-exclamation-circle"></i>&nbsp;此元件尚未設定任何取替代料。
                                    </td>
                                  </tr>`;
                }
            }
            else {
                alert(data.msg, 5000);
            }

            $("#tblBomSubstitutionData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            $("#modalBomSubstitution@(itemName)").modal("show");

            $("input[type='radio']").click(function () {
                if ("[data-mtl-item-id]:checked") {
                    let mtlItemId = $(this).data("mtl-item-id");

                    if (mtlItemId) {
                        let quantity = $(`input[name="txtQuantity@(itemName2)"][data-mtl-item-id="${mtlItemId}"]`).val();
                        let bomMtlItemId = $(`input[name="txtBomMtlItemId@(itemName2)"][data-mtl-item-id="${mtlItemId}"]`).val();
                        let subQuantity = $(`input[name="txtSubQuantity@(itemName2)"][data-mtl-item-id="${mtlItemId}"]`).val();
                        $("#txtSubMtlItemId@(itemName2)").val(mtlItemId);
                        $("#txtQuantity@(itemName2)").val(quantity);
                        $("#txtBomMtlItemId@(itemName2)").val(bomMtlItemId);
                        $("#txtSubQuantity@(itemName2)").val(subQuantity);
                    }
                }
            });
        }

        function GetExcessFlag@(itemName)() {
            /* 卡控邏輯 by weiwei大幫手
                (1) CMSMQ.MQ019 = Y ---> 需核對製令(需判斷製令單身物料)
                * 判斷MOCTE.TE011製令單別、TE012製令單號，TE011、TE012必填。
                * 判斷MOCTE.TE011製令單別、TE012製令單號，不可領製令單身以外的材料MOCTB.TB003。

                    if CMSMQ.MQ019 = Y(核對製令) and CMSMQ.MQ054 = Y(控制超領)
                    * 如果領料數量MOCTE.TE005 大於 未領料量(需領用量MOCTB.TB004-已領用量MOCTB.TB005)，卡控msg:"數量超領!"
                    * 如果所領材料不存在製令單身，卡控msg:"材料品號、製程不存在此製令用料中!"

                    if CMSMQ.MQ019 = Y(核對製令) and CMSMQ.MQ054 = W(警告超領)
                    * 如果領料數量MOCTE.TE005 大於 未領料量(需領用量MOCTB.TB004-已領用量MOCTB.TB005)，警告msg:"數量超領!"
                    * 如果所領材料不存在製令單身，卡控msg:"材料品號、製程不存在此製令用料中!"

                    if CMSMQ.MQ019 = Y(核對製令) and CMSMQ.MQ054 = N(不卡超領)
                    * 可以超領製令單身有的材料。
                    * 如果所領材料不存在製令單身，卡控msg:"材料品號、製程不存在此製令用料中!"


                (2) CMSMQ.MQ019 = W ---> 需核對製令(需判斷製令單身物料)
                * 判斷MOCTE.TE011製令單別、TE012製令單號，TE011、TE012非必填。
                * CMSMQ.MQ054固定為N(不控制超領)，製令單身原有材料可以超領數量。
                * 如果所領材料不存在製令單身，警告msg:"材料品號、製程不存在此製令用料中!"
                * 如果未打MOCTE.TE011製令單別、TE012製令單號，警告msg:"此單據為核對製令,製令編號不可空白!"

                (3) CMSMQ.MQ019 = N ---> 不核對製令
                * MOCTE.TE011製令單別、TE012製令單號非必填。
                * CMSMQ.MQ054固定為N(不控制超領)，製令單身原有材料可以超領數量。
            */

            let targetUrl = "@Url.Action("GetExcessFlag", "Inventory")";
            let postData = {
                "MrErpPrefix": $("#cboMrErpPrefixMaterialRequisition").val()
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                if (data.result.length > 0) {
                    $.each(data.result, function (i, item) {
                        excessFlag@(itemName) = item.MQ054;
                        checkMoFlag@(itemName) = item.MQ019;

                        if (item.MQ019 == "N" || item.MQ019 == "W") {
                            $("#txtRemark@(itemName)").prop("required", true);
                            $("#spanRemark@(itemName)").html("*");
                        }
                        else {
                            $("#txtRemark@(itemName)").prop("required", false);
                            $("#spanRemark@(itemName)").html("");
                        }
                    });
                }
            }
            else {
                alert(data.msg, 5000);
            }
        }

        function GetMrSequnce@(itemName)() {
            let mrSeqence;
            let targetUrl = "@Url.Action("GetMrSequence", "Inventory")";
            let postData = {
                "MrId": mrId@(itemName)
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                $.each(data.result, function (i, item) {
                    let count = (item.Count + 1).toString().padStart(4, 0);
                    mrSeqence = count;
                });
            }
            return mrSeqence
        }

        function MoIdClear@(itemName2)() {
            $("#txtMoId@(itemName2)").siblings(".help-block").hide();
            $("#txtMoId@(itemName2)").val("");
            $("#desMoMtlItemNo@(itemName2)").html("");
        }

        function MtlItemClear@(itemName2)() {
            $("#txtMtlItemId@(itemName2)").siblings(".help-block").hide();
            $("#txtMtlItemId@(itemName2)").val("");
        }

        function BatchDelete@(itemName)() {
            swal.fire({
                titleText: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let mrDetailList = [];
                    if ($("input[type='checkbox'][data-mr-detail-id]:checked").length > 0) {
                        $.each($("input[type='checkbox'][data-mr-detail-id]:checked"), function (i) {
                            let mrDetailId = $(this).val();
                            mrDetailList.push(mrDetailId);
                        });
                    }

                    let targetUrl = "@Url.Action("BatchDeleteMrDetail", "Inventory")";
                    let postData = {
                        "MrDetailList": mrDetailList.toString()
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function Return@(itemName)() {
            Switch("#listData@(itemName)", "#editData@(itemName), #editData@(itemName2)");
            ResetForm(objForm@(itemName));
            ResetForm(objForm@(itemName2));
            Query@(itemName)();
            GetExcessFlag@(itemName)();
        }
    </script>
                                                        )