@using Business_Manager.Helpers
@{
    string itemName = "ViewLotNumberInventory";
    string itemNameText = "ERP批號的庫存數量資料";
}

@Html.Resource("css",
    @<style>
    </style>
)

<div class="modal fade" id="modal@(itemName)">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">

                <div class="row col-12">
                    <div class="col-6 col-sm-6 col-md-6">
                        <h5 class="modal-title">
                            @(itemNameText)
                            <span class="sub-title">目前品號 <span class="sub-text" id="desMachine@(itemName)"></span></span>
                        </h5>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right" style="display: flex; justify-content: flex-end;">
                        <div class="">
                            <input type="checkbox" name="chkIsNon@(itemName)" checked />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <div class="row" id="listData@(itemName)">
                    <div class="col-lg-12">
                        @*<form autocomplete="off" id="queryForm@(itemName)">
                            <fieldset>
                                <div class="form-row align-items-center mb-2">
                                    <div class="col-auto">
                                        <input type="text" class="form-control" id="txtLotNumber@(itemName)" name="txtLotNumber@(itemName)" placeholder="請輸入批號" />
                                    </div>
                                    <div class="col-auto">
                                        <button type="button" class="btn btn-success " onclick="Save@(itemName)();" style="height: 39px;"><i class="fas fa-save"></i>&nbsp;批號自訂義儲存</button>
                                    </div>
                                </div>

                            </fieldset>
                        </form>*@

                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th scope="col" style="min-width: 200px;">批號</th>
                                        <th scope="col" style="min-width: 125px;">庫別</th>
                                        <th scope="col" style="min-width: 100px;">數量</th>
                                        <th scope="col" style="min-width: 100px;">入庫日</th>
                                        <th scope="col" style="min-width: 100px;">失效日</th>
                                        <th scope="col" class="col-sticky" style="min-width: 200px;text-align:center;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary list-mode" onclick="Close@(itemName)()"><i class="fas fa-times"></i>關閉</button>
                <button type="button" class="btn btn-secondary edit-mode" onclick="Return@(itemName)()" style="display: none;"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";
        let MtlItemNo@(itemName) = "";
        let InventoryId@(itemName) = -1;
        let Receipt@(itemName) = "";
        let MrDetailId@(itemName) = -1;


        function Pop@(itemName)(MtlItemNo, InventoryId, Receipt, MrDetailId) {
            $("#desMachine@(itemName)").text(MtlItemNo)
            $("#MrDetailId").text(MrDetailId)

            $("#modal@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });

            MtlItemNo@(itemName) = MtlItemNo;
            InventoryId@(itemName) = InventoryId;
            Receipt@(itemName) = Receipt;
            MrDetailId@(itemName) = MrDetailId;

            Query@(itemName)(MtlItemNo, InventoryId, Receipt, MrDetailId);

            $(window).keydown(function (event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    return false;
                }
            });

            $(`input[name='chkIsNon@(itemName)']`).change(function () {
                StatusSwitch@(itemName)($(this).is(":checked"))
            })

            $("input[name='chkIsNon@(itemName)']").bootstrapToggle({
                on: "有庫存",
                off: "忽略",
                onstyle: "success",
                offstyle: "danger",
                size: "mini",
                width: "75px"
            });
        }

        //#region 切換顯示「數量0」批號
        let IsNon@(itemName) = true;
        function StatusSwitch@(itemName)(value) {
            //var mtlItemId = $(this).data("mtlitem-id");

            IsNon@(itemName) = value;
            Query@(itemName)(MtlItemNo@(itemName), InventoryId@(itemName), Receipt@(itemName), MrDetailId@(itemName));
        }
        //#endregion

        function Query@(itemName)(MtlItemNo, InventoryId, Receipt, MrDetailId) {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName), MtlItemNo, InventoryId, Receipt, MrDetailId);
        }

        function InitData@(itemName)(objPage, MtlItemNo, InventoryId, Receipt, MrDetailId) {
            let innerHtml = '';
            let pageCount = 0;

            let targetUrl = "@Url.Action("GetLotNumberInventory", "Inventory")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "MtlItemNo": MtlItemNo,
                "InventoryId": InventoryId,
                "Receipt": Receipt,
                "isNon": IsNon@(itemName)
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (data.result.length > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";
                        innerHtml += `<tr>
                                        <td>${_row}</td>
                                        <td>${item.ME002}</td>
                                        <td>${item.MF007}</td>
                                        <td>${item.num}</td>
                                        <td>${item.ME003}</td>
                                        <td>${item.ME009}</td>
                                        <td class="text-center col-sticky">
                                          <label class="control control-solid control-solid-info control--radio">
                                            <input type="radio" name="chkLotNumber@(itemName)" data-lot-number="${item.ME002}" data-inventory-no="${item.MF007}" data-expiration-date="${item.ME009}" data-first="${_row == 1 ? `Y`:`N`}" value="${item.ME002}"/>
                                            <span class="control__indicator "></span>
                                          </label>
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="7" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "warning", 0);
                setTimeout(function () { Close@(itemName)();}, 100)
                return
            }



            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

            $("input[type='radio']").click(function () {
                if ("[data-lot-number]:checked") {

                    let LotNumber = $(this).data("lot-number");
                    let ExpirationDate = $(this).data("expiration-date");
                    let InventoryNo = $(this).data("inventory-no");
                    let DataFirst = $(this).data("first");
                    var docDate = "";
                    if (Receipt == "Mr") {
                        docDate = $("#txtDocDateMaterialRequisition").val();

                    }
                    else if (Receipt == "Mwe") {
                        docDate = $("#txtAcceptanceDateMweDetail").val();
                    }
                    docDate = docDate.replace(/-/g, "")
                    
                    if (ExpirationDate != "") {
                        if (ExpirationDate >= docDate) {
                            if (Receipt == "Mr") {
                                if (DataFirst != "Y") {
                                    alert("目前選區批號非最早入庫日期!!!",3)
                                }
                                Save@(itemName)(LotNumber, InventoryNo, MrDetailId)
                            }
                            else if (Receipt == "Mwe") {
                                $("#txtLotNumberMweDetail").val(LotNumber)
                                Close@(itemName)();
                            }
                            else {
                                alert("缺少單據資料,請重新確認")
                                return
                            }
                        }
                        else {
                            alert("該批號已經失效了")
                        }
                    }
                    else {
                        if (Receipt == "Mr") {
                            if (DataFirst != "Y") {
                                alert("目前選取批號非最早入庫日期!!!", "warning",30)
                            }
                            Save@(itemName)(LotNumber, InventoryNo, MrDetailId)
                        }
                        else if (Receipt == "Mwe") {
                            $("#txtLotNumberMweDetail").val(LotNumber)
                            Close@(itemName)();
                        }
                        else {
                            alert("缺少單據資料,請重新確認")
                            return
                        }
                    }
                }
            });

        }

        function Save@(itemName)(LotNumber, InventoryNo, MrDetailId) {
            if (LotNumber == null || LotNumber == undefined) {
                LotNumber = $("#txtLotNumber@(itemName)").val()
            }

            if (MrDetailId > 0) {
                swal.fire({
                    titleText: "確認要更改該批號嗎?",
                    text: "",
                    icon: "warning",
                    allowOutsideClick: false,
                    allowEscapeKey: false,
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        let targetUrl = "@Url.Action("UpdateMrLotNumber", "Inventory")";
                        let postData = {
                            "MrDetailId": MrDetailId,
                            "LotNumber": LotNumber,
                            "InventoryNo": InventoryNo
                        };
                        let result = DataAccess.Update(targetUrl, postData, false, true);

                        $("#MrDetailId").val("")
                        Close@(itemName)()
                        ReturnMaterialDetail()
                    }
                    else {
                        $("input[name='chkLotNumber@(itemName)']").prop("checked", false);
                    }
                });
            }
            else {
                alert("缺少領料單單身,請重新確認")
                return
            }
        }

        function Return@(itemName)() {
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName), .list-mode", "#editData@(itemName), .edit-mode");

            Query@(itemName)();
        }


        function Close@(itemName)() {
            $("#modal@(itemName)").modal("hide");
        }


    </script>
)