@using Business_Manager.Helpers
@{
    string itemName = "ViewPackageList";
    string itemNameText = "包裝條碼列表";
}

@Html.Resource("css",
    @<style>
    </style>
)

<div class="modal fade" id="modal@(itemName)">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    @(itemNameText)
                </h5>
            </div>
            <div class="modal-body">
                <div class="row" id="listData@(itemName)">
                    <div class="col-lg-12">
                        <form autocomplete="off" id="editForm@(itemName)">
                            <div class="table-custom">
                                <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                    <thead>
                                        <tr>
                                            <th class="text-center" scope="col" style="min-width: 125px;">全選 <input type="checkbox" name="all" onclick="check_all(this,'cbxBarcode@(itemName)')" style="margin:3px" /></th>
                                            <th scope="col" style="min-width: 75px;">#</th>
                                            <th scope="col" style="min-width: 200px;">條碼</th>
                                            <th scope="col" style="min-width: 200px;">Tray條碼</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="Close@(itemName)()"><i class="fas fa-times"></i>關閉</button>
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()" ><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>



@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";
        let PackageBarcodeNo = "";
        function Pop@(itemName)(BarcodeNo) {
            $("#modal@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });
            PackageBarcodeNo = BarcodeNo

            Query@(itemName)();

            $(window).keydown(function (event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    return false;
                }
            });
        }

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;


            let targetUrl = "@Url.Action("GetPackageBarcode", "Inventory")";
            let postData = {
                "PackageBarcodeNo": PackageBarcodeNo
            };

            let data = DataAccess.Get(targetUrl, postData, false);
            console.log("A0")
            console.log(data)

            if (data.status == "success") {
                console.log("A1")
                console.log(data.result.length)
                console.log(parseInt(data.result[0]["TotalCount"]))
                console.log("A22")


                if (data.result.length  > 0) {
                    console.log("A2")

                    $.each(data.result, function (i, item) {
                        innerHtml += `<tr>
                                            <td class="text-center active-content">
                                                <input type="checkbox" id="cbxBarcode@(itemName)${item.BarcodeId}" name="cbxBarcode@(itemName)" value="${item.BarcodeNo}" checked disabled/>
                                            </td>
                                            <td>${i+1}</td>
                                            <td class="ellipsis" data-toggle="tooltip" title="${item.BarcodeNo}" style="max-width: 200px;">${item.BarcodeNo}</td>
                                            <td class="ellipsis" data-toggle="tooltip" title="${item.TrayNo}" style="max-width: 200px;">${item.TrayNo}</td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                        <td class="text-center" colspan="4" style="background-color: #fff3cd;">
                                          <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料
                                        </td>
                                      </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));
        }

        function Save@(itemName)() {
            var BarcodeListY = [];
            if ($(objForm@(itemName)).valid()) {
                $.each($("input[name='cbxBarcode@(itemName)']"), function () {
                    if ($(this).is(":checked")) {
                        BarcodeListY.push($(this).val());
                    }
                });
                BarcodeListY.forEach(function (v) {
                    let targetUrl = "@Url.Action("GetCheckBarcode", "Inventory")";
                    let postData = {
                        "MoId": $("#txtMoIdMweDetail").val(),
                        "BarcodeNo": v,
                        "InventoryId": $("#cboInventoryIdMweDetail").val()
                    };
                    let data = DataAccess.Get(targetUrl, postData, false);
                    if (data.status == "success") {
                        $.each(data.result, function (i, item) {
                            sentBarcode(item.BarcodeId);
                        });
                    } else {
                        alert(data.msg, "alert", 0);
                    }
                })
                $("#txtBarcodeNoMweDetail").val("");

                Close@(itemName)()
            }
        }

        function check_all(obj, cName) {
            var checkboxs = document.getElementsByName(cName);
            for (var i = 0; i < checkboxs.length; i++) { checkboxs[i].checked = obj.checked; }
        }
        

        function Return@(itemName)() {
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName), .list-mode", "#editData@(itemName), .edit-mode");
            Query@(itemName)();
            QueryAqcConfirmDetail();
            Close@(itemName)()
        }
        function Close@(itemName)() {
            $("#modal@(itemName)").modal("hide");
        }
    </script>
                )