@using Business_Manager.Helpers
@{
    string itemName = "QcItemManagementNew";
    string itemNameText = "量測項目管理";
    string authority = ViewBag.authority;
    int UserId = Convert.ToInt32(Session["UserId"]);
    ViewBag.Title = itemNameText;
}



@Html.Resource("css",
    @<style>
         .thead-customized {
             min-width: 75px !important;
             background-color: #ffeeba !important;
             position: relative !important;
             z-index: 1 !important;
             border: none !important;
         }

         .thead-customized-item {
             min-width: 75px !important;
             background-color: #bcdfbc !important;
             position: relative !important;
             z-index: 1 !important;
             border: none !important;
         }

         .Qcclass {
             background-color: #fff9ed !important;
         }

         .Qcitem {
             background-color: #f6fbf6 !important;
         }

         .tbody-customized {
             border: none !important;
         }

         .operateStyle {
             display: flex;
             justify-content: flex-start;
             align-items: center;
             height: 50px;
         }

             .operateStyle > a {
                 margin: 0 5px;
             }

         /*.table-sticky thead .col-sticky:nth-last-child(1) {
             right: 0;
         }

         .table-sticky tbody .col-sticky:nth-last-child(1) {
             right: 0;
         }

         .table-sticky thead .col-sticky:nth-child(1) {
             left: 0;
         }

         .table-sticky tbody .col-sticky:nth-child(1) {
             left: 0;
         }

         .table-sticky thead .col-sticky:nth-child(2) {
             left: 50px;
         }

         .table-sticky tbody .col-sticky:nth-child(2) {
             left: 50px;
         }*/
    </style>
                                                                                                                        )
<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

<!--搜尋-->
<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtQcGroupNoQ@(itemName)">群組編號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtQcGroupNoQ@(itemName)" name="txtQcGroupNoQ@(itemName)" placeholder="請輸入工單編號" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtQcGroupNameQ@(itemName)">群組名稱</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtQcGroupNameQ@(itemName)" name="txtQcGroupNameQ@(itemName)" placeholder="請輸入工單編號" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">狀態</label>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    啟用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)A" name="cbxStatusQ@(itemName)" value="A" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    停用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)S" name="cbxStatusQ@(itemName)" value="S" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>
<!--篩選-->
<div class="modal fade" id="modalfilter@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label>群組</label>
                            <select class="form-control" id="cboQcGroupIdQ@(itemName)" name="cboQcGroupId@(itemName)"
                                    data-msg-required="請選擇群組" data-rule-required="true"
                                    aria-invalid="false"></select>
                        </div>
                        <div class="form-group row">
                            <label>類別</label>
                            <select class="form-control" id="cboQcClassIdQ@(itemName)" name="cboQcClassIdQ@(itemName)"
                                    data-msg-required="請選擇類別" data-rule-required="true"
                                    aria-invalid="false"></select>
                        </div>
                        <div class="form-group row">
                            <label>項目編碼</label>
                            <select class="form-control" id="cboQicNoQ@(itemName)" name="cboQicNoQ@(itemName)"
                                    data-msg-required="請選擇項目編碼" data-rule-required="true"
                                    aria-invalid="false"></select>
                        </div>
                        <div class="form-group row">
                            <label>項目</label>
                            <select class="form-control" id="cboQcItemIdQ@(itemName)" name="cboQcItemIdQ@(itemName)"
                                    data-msg-required="請選擇項目" data-rule-required="true"
                                    aria-invalid="false"></select>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="CloseFilter()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<!--列表-->
<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" href="javascript:OpenFilter();"><i class="fal fa-search"></i>篩選</a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <div class="col-12 col-sm-12 col-md-12">
                            <a class="btn btn-info auth-add" href="javascript:Edit@(itemName)(-1,'QcGroup');"><i class="fas fa-plus"></i>新增群組</a>
                            <a class="btn btn-info auth-add" href="javascript:Edit@(itemName)(-1,'QcClass');"><i class="fas fa-plus"></i>新增類別</a>
                            @*<a class="btn btn-info auth-add " href="javascript:Edit@(itemName)(-1,'QcItem');"><i class="fas fa-plus"></i>新增項目</a>*@
                            <a class="btn btn-info auth-add " href="javascript:OpenBatchItem();"><i class="fas fa-plus"></i>批量新增項目</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th class="" scope="col" style="width: 100px;">#</th>
                                        <th class="" scope="col" style="width: 150px;">群組代碼</th>
                                        <th class="" scope="col" style="min-width: 150px;">群組名稱</th>
                                        <th class="" scope="col" style="min-width: 150px;">群組描述</th>
                                        <th class="" scope="col" style="width: 100px;">狀態</th>
                                        <th class="text-center" style="width: 200px;" scope="col">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--量測群組 新增/編輯-->
<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <h5 class="modal-title">量測群組</h5>
                <form class="container custom-form-container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="QcGroupId" name="QcGroupId" value="-1" />
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtQcGroupNo@(itemName)">群組代碼 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtQcGroupNo@(itemName)" name="txtQcGroupNo@(itemName)" placeholder="請輸入群組代碼"
                                       data-msg-required="請輸入群組代碼" data-rule-required="true" oninput="this.value = this.value.toUpperCase()"
                                       data-msg-maxlength="必須少於 1 個字元" maxlength="1" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtQcGroupName@(itemName)">群組名稱 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtQcGroupName@(itemName)" name="txtQcGroupName@(itemName)" placeholder="請輸入群組名稱"
                                       data-msg-required="請輸入群組名稱" data-rule-required="true"
                                       data-msg-maxlength="必須少於 100 個字元" maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtQcGroupDesc@(itemName)">群組描述 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtQcGroupDesc@(itemName)" name="txtQcGroupDesc@(itemName)" placeholder="請輸入群組描述"
                                       data-msg-required="請輸入群組描述" data-rule-required="true"
                                       data-msg-maxlength="必須少於 100 個字元" maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboQcGroupStatus@(itemName)">狀態</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboQcGroupStatus@(itemName)" name="cboQcGroupStatus@(itemName)" aria-invalid="false"></select>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-success read-wipOder" onclick="Save@(itemName)('QcGroup')"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>
<!--量測類別 新增/編輯-->
<div class="row" id="editQcClassData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <h5 class="modal-title">量測類別</h5>
                <form class="container custom-form-container" autocomplete="off" id="editFormQcClass@(itemName)">
                    <fieldset>
                        <input type="hidden" id="QcClassId" name="QcClassId" value="-1" />
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboQcClassGroup@(itemName)">量測群組 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboQcClassGroup@(itemName)" name="cboQcClassGroup@(itemName)"
                                        data-msg-required="請選擇群組" data-rule-required="true"
                                        aria-invalid="false"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtQcClassNo@(itemName)">類別代碼 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtQcClassNo@(itemName)" name="txtQcClassNo@(itemName)" placeholder="請輸入類別代碼"
                                       data-msg-required="請輸入類別代碼" data-rule-required="true"
                                       data-msg-maxlength="必須少於 3 個字元" maxlength="3" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtQcClassName@(itemName)">類別名稱 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtQcClassName@(itemName)" name="txtQcClassName@(itemName)" placeholder="請輸入類別名稱"
                                       data-msg-required="請輸入類別名稱" data-rule-required="true"
                                       data-msg-maxlength="必須少於 100 個字元" maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtQcClassDesc@(itemName)">類別描述 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtQcClassDesc@(itemName)" name="txtQcClassDesc@(itemName)" placeholder="請輸入類別描述"
                                       data-msg-required="請輸入類別描述" data-rule-required="true"
                                       data-msg-maxlength="必須少於 100 個字元" maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboQcClassStatus@(itemName)">狀態</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboQcClassStatus@(itemName)" name="cboQcClassStatus@(itemName)" aria-invalid="false"></select>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-success read-wipOder" onclick="Save@(itemName)('QcClass')"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>
<!--量測項目 新增/編輯-->
<div class="row" id="editQcItemData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <h5 class="modal-title">量測項目</h5>
                <form class="container custom-form-container" autocomplete="off" id="editFormQcItem@(itemName)">
                    <fieldset>
                        <input type="hidden" id="QcItemId" name="QcItemId" value="-1" />
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboQcItemGroup@(itemName)">量測群組 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboQcItemGroup@(itemName)" name="cboQcItemGroup@(itemName)"
                                        data-msg-required="請選擇群組" data-rule-required="true"
                                        aria-invalid="false"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboQcItemClass@(itemName)">量測類別 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboQcItemClass@(itemName)" name="cboQcItemClass@(itemName)"
                                        data-msg-required="請選擇類別" data-rule-required="true"
                                        aria-invalid="false"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboQcType@(itemName)">檢驗類別 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboQcType@(itemName)" name="cboQcType@(itemName)"
                                        data-msg-required="請選擇檢驗類別" data-rule-required="true"
                                        aria-invalid="false"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboQcItemType@(itemName)">量測項目輸入方式 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboQcItemType@(itemName)" name="cboQcItemType@(itemName)"
                                        data-msg-required="請選擇量測項目輸入方式" data-rule-required="true"
                                        aria-invalid="false"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtQcItemNo@(itemName)">項目代碼 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtQcItemNo@(itemName)" name="txtQcItemNo@(itemName)" placeholder="請輸入項目代碼"
                                       data-msg-required="請輸入項目代碼" data-rule-required="true"
                                       data-msg-maxlength="必須少於 10 個字元" maxlength="10" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtQcItemName@(itemName)">項目名稱 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtQcItemName@(itemName)" name="txtQcItemName@(itemName)" placeholder="請輸入項目名稱"
                                       data-msg-required="請輸入項目名稱" data-rule-required="true"
                                       data-msg-maxlength="必須少於 100 個字元" maxlength="50" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtQcItemDesc@(itemName)">項目描述 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtQcItemDesc@(itemName)" name="txtQcItemDesc@(itemName)" placeholder="請輸入項目描述"
                                       data-msg-required="請輸入項目描述" data-rule-required="true"
                                       data-msg-maxlength="必須少於 100 個字元" maxlength="50" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtRemark@(itemName)">備註</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <textarea class="form-control" id="txtRemark@(itemName)" name="txtRemark@(itemName)"
                                          data-msg-maxlength="必須少於 255 個字元" maxlength="255" rows="2" placeholder="請輸入備註"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label">狀態</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboQcItemStatus@(itemName)" name="cboQcItemStatus@(itemName)" aria-invalid="false"></select>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-success read-wipOder" onclick="Save@(itemName)('QcItem')"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>
<!--批量新增項目 新增/編輯-->
<div class="modal fade" id="modalBatchItem@(itemName)">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    @(itemNameText)
                    <span class="sub-title">目前項目 <span class="sub-text" id="desQcItemName@(itemName)"></span></span>
                </h5>
            </div>
            <div class="modal-body">
                <div class="row" id="listData@(itemName)">
                    <div class="col-lg-12">
                        <form autocomplete="off" id="queryForm@(itemName)">
                            <fieldset>
                                <div class="form-row align-items-center mb-2">
                                    <div class="col-auto">
                                        <a class="btn btn-info " onclick="AddBatchClass()"><i class="fas fa-plus"></i>新增類別</a>
                                        <a class="btn btn-info " onclick="ClearBatchItem()"><i class="fas fa-trash-alt"></i>清除</a>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="BatchForm"></table>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary list-mode" onclick="CloseBatchItem()"><i class="fas fa-times"></i>關閉</button>
                <button type="button" class="btn btn-success edit-mode" onclick="SaveBatchItem()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>


@Html.Partial("ViewMachineMode")


@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objPageClass = {
            "pageIndex": 0,
            "pageSize": 20
        };
        let objPageItem = {
            "pageIndex": 0,
            "pageSize": 100
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        let userId@(itemName);
        let companyId@(itemName);
        let userNo@(itemName);

        $(document).ready(function () {
            Query@(itemName)();
            ComboBoxs.Default("#cboQcGroupIdQ@(itemName)", "@Url.Action("GetQcGroupNew", "QmsBasicInformation")", {}, "", "NA", "", "QcGroupWithText", "QcGroupId");
            ComboBoxs.Default("#cboQcClassIdQ@(itemName)", "@Url.Action("GetQcClassNew", "QmsBasicInformation")", { "QcGroupId": 999999999, "Status": "A" }, "", "NA", "", "QcClassWithText", "QcClassId");
            ComboBoxs.Default("#cboQcItemIdQ@(itemName)", "@Url.Action("GetQcItemNew", "QmsBasicInformation")", { "QcClassId": 999999999, "Status": "A" }, "", "NA", "", "QcItemWithText", "QcItemId");
            ComboBoxs.Default("#cboQicNoQ@(itemName)", "@Url.Action("GetQcItemCoding", "QmsBasicInformation")", { "Status": "A" }, "", "NA", "", "QicWithText", "QicNo");


            $("#cboQcGroupIdQ@(itemName)").change(function () {
                if ($("#cboQcGroupIdQ@(itemName)").val() != "") {
                    ComboBoxs.Default("#cboQcClassIdQ@(itemName)", "@Url.Action("GetQcClassNew", "QmsBasicInformation")", { "QcGroupId": $("#cboQcGroupIdQ@(itemName)").val(), "Status": "A" }, "", "NA", "", "QcClassWithText", "QcClassId");
                    ComboBoxs.Default("#cboQcItemIdQ@(itemName)", "@Url.Action("GetQcItemNew", "QmsBasicInformation")", { "QcClassId": 999999999, "Status": "A" }, "", "NA", "", "QcItemWithText", "QcItemId");
                    QcClassDetail@(itemName)($("#cboQcGroupIdQ@(itemName)").val())
                }
                else {
                    ComboBoxs.Default("#cboQcClassIdQ@(itemName)", "@Url.Action("GetQcClassNew", "QmsBasicInformation")", { "QcGroupId": 999999999, "Status": "A" }, "", "NA", "", "QcClassWithText", "QcClassId");
                    ComboBoxs.Default("#cboQcItemIdQ@(itemName)", "@Url.Action("GetQcItemNew", "QmsBasicInformation")", { "QcClassId": 999999999, "Status": "A" }, "", "NA", "", "QcItemWithText", "QcItemId");
                }
            })
            $("#cboQcClassIdQ@(itemName)").change(function () {
                if ($("#cboQcClassIdQ@(itemName)").val() != "") {
                    ComboBoxs.Default("#cboQcItemIdQ@(itemName)", "@Url.Action("GetQcItemNew", "QmsBasicInformation")", { "QcClassId": $("#cboQcClassIdQ@(itemName)").val(), "Status": "A" }, "", "NA", "", "QcItemWithText", "QcItemId");
                    QcItemDetail@(itemName)($("#cboQcClassIdQ@(itemName)").val())
                }
                else {
                    ComboBoxs.Default("#cboQcItemIdQ@(itemName)", "@Url.Action("GetQcItemNew", "QmsBasicInformation")", { "QcClassId": 999999999, "Status": "A" }, "", "NA", "", "QcItemWithText", "QcItemId");
                }
            })
            $("#cboQicNoQ@(itemName)").change(function () {
                console.log($("#cboQicNoQ@(itemName)").val())
                if ($("#cboQicNoQ@(itemName)").val() != "") {
                    ComboBoxs.Default("#cboQcItemIdQ@(itemName)", "@Url.Action("GetQcItemNew", "QmsBasicInformation")", { "QcClassId": $("#cboQcClassIdQ@(itemName)").val(),"QicNo": $("#cboQicNoQ@(itemName)").val(), "Status": "A" }, "", "NA", "", "QcItemWithText", "QcItemId");
                    InitQcItem(objPageItem, $("#cboQcClassIdQ@(itemName)").val())
                }
                else {
                    ComboBoxs.Default("#cboQcItemIdQ@(itemName)", "@Url.Action("GetQcItemNew", "QmsBasicInformation")", { "QcClassId": 999999999, "Status": "A" }, "", "NA", "", "QcItemWithText", "QcItemId");
                }
            })
            $("#cboQcItemIdQ@(itemName)").change(function () {
                var QcClassId = $("#cboQcClassIdQ@(itemName)").val()
                InitQcItem(objPageItem, QcClassId)
            })
            $("#cboQcClassGroup@(itemName)").change(function () {
                $("#txtQcClassNo@(itemName)").val("")

                var QcGroupId = $("#cboQcClassGroup@(itemName)").val()
                var selectedText = $("#cboQcClassGroup@(itemName) option:selected").text();
                var QcGroupNo = selectedText.substring(0, 1)
                GetQcClassNoMax(QcGroupId, QcGroupNo)
            })


            $("#cboQcItemGroup@(itemName)").change(function () {
                if ($("#cboQcItemGroup@(itemName)").val() != "") {
                    ComboBoxs.Default("#cboQcItemClass@(itemName)", "@Url.Action("GetQcClassNew", "QmsBasicInformation")", { "QcGroupId": $("#cboQcItemGroup@(itemName)").val(), "Status": "A" }, "", "NA", "", "QcClassWithText", "QcClassId");
                }
                else {
                    ComboBoxs.Default("#cboQcItemClass@(itemName)", "@Url.Action("GetQcClassNew", "QmsBasicInformation")", { "QcGroupId": 999999999, "Status": "A" }, "", "NA", "", "QcClassWithText", "QcClassId");
                }
            })

            if (!isMobile) {
                $("#cboQcGroupIdQ@(itemName), #cboQcClassIdQ@(itemName), #cboQicNoQ@(itemName), #cboQcItemIdQ@(itemName)").select2({
                    width: "100%"
                });
            }
        });

        function Query@(itemName)() {
            //objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let targetUrl = "@Url.Action("GetQcGroupNew", "QmsBasicInformation")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "QcGroupNo": $("#txtQcGroupNameQ@(itemName)").val().trim(),
                "QcGroupName": $("#txtQcGroupNameQ@(itemName)").val().trim()

            };
            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;
                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";
                        innerHtml += `<tr>
                                        <td class="" style="width: 100px;">${_row}</td>
                                        <td class="ellipsis " data-toggle="tooltip" title="${item.QcGroupNo}" style="width: 150px;">${item.QcGroupNo}</td>
                                        <td class="ellipsis " data-toggle="tooltip" title="${item.QcGroupName}" style="max-width: 150px;">${item.QcGroupName}</td>
                                        <td class="ellipsis " data-toggle="tooltip" title="${item.QcGroupDesc}" style="max-width: 150px;">${item.QcGroupDesc}</td>
                                        <td class="ellipsis " data-toggle="tooltip" title="${item.Status}" style="width: 100px;">${item.Status == `A` ? `啟用` : `停用`}</td>
                                        <td class="text-center active-content operateStyle" style="width: 200px;">
                                          <a class="active-link auth-update" href="javascript:Edit@(itemName)(${item.QcGroupId},'QcGroup');"><i class="fas fa-edit"></i></a>
                                          <a class="active-link auth-read" href="javascript:QcClassDetail@(itemName)(${item.QcGroupId});"><i class="fas fa-list"></i><span>類別顯示</span></a>
                                        </td>
                                      </tr>
                                      <tr data-qcgroup-id="${item.QcGroupId}" style="display: none;">
                                        <td colspan="12">
                                          <table style="width: 100%; margin: auto; border: 1px solid #d7d7e1;" id="tblQcClassData@(itemName)">
                                            <thead>
                                             <tr>
                                                <th class="thead-customized" scope="col" style="width: 85px;">#</th>
                                                <th class="thead-customized" scope="col" style="width: 150px;">類別代碼</th>
                                                <th class="thead-customized" scope="col" style="min-width: 150px;">類別名稱</th>
                                                <th class="thead-customized" scope="col" style="min-width: 150px;">類別描述</th>
                                                <th class="thead-customized" scope="col" style="width: 100px;">狀態</th>
                                                <th class="thead-customized text-center" style="width: 300px;" scope="col">操作</th>
                                              </tr>
                                           </thead>
                                            <tbody>
                                            </tbody>
                                         </table>
                                        </td>
                                      </tr>
                                    `;
                    });
                }else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="6" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));
        }



        //主頁列表單身彈跳
        function QcClassDetail@(itemName)(QcGroupId) {
            if ($(`tr[data-qcgroup-id=${QcGroupId}]`).css("display") == "none") {
                $("tr[data-qcgroup-id]").hide();
                $(`tr[data-qcgroup-id=${QcGroupId}]`).show();
                $("#QcGroupId").val(QcGroupId)
                objPageClass.pageIndex = 0
                $("#cboQcGroupIdQ@(itemName)").val(QcGroupId).trigger("change.select2")
                ComboBoxs.Default("#cboQcClassIdQ@(itemName)", "@Url.Action("GetQcClassNew", "QmsBasicInformation")", { "QcGroupId": QcGroupId, "Status": "A" }, "", "NA", "", "QcClassWithText", "QcClassId");
                ComboBoxs.Default("#cboQcItemIdQ@(itemName)", "@Url.Action("GetQcItemNew", "QmsBasicInformation")", { "QcClassId": 999999999, "Status": "A" }, "", "NA", "", "QcItemWithText", "QcItemId");
                InitQcClass(objPageClass, QcGroupId)
            } else {
                $("tr[data-qcgroup-id]").hide();
            }
        }

        function InitQcClass(objPage, QcGroupId) {
            let innerHtml = '';
            let pageCount = 0;

            let targetUrl = "@Url.Action("GetQcClassNew", "QmsBasicInformation")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "QcGroupId": QcGroupId,
                "QcClassId": $("#cboQcClassIdQ@(itemName)").val().trim()
            };
            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;
                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";
                        innerHtml += `<tr>
                                        <td class="Qcclass" style="width: 85px;">${_row}</td>
                                        <td class="ellipsis Qcclass" data-toggle="tooltip" title="${item.QcClassNo}" style="width: 150px;">${item.QcClassNo}</td>
                                        <td class="ellipsis Qcclass" data-toggle="tooltip" title="${item.QcClassName}" style="min-width: 150px;">${item.QcClassName}</td>
                                        <td class="ellipsis Qcclass" data-toggle="tooltip" title="${item.QcClassDesc}" style="min-width: 150px;">${item.QcClassDesc}</td>
                                        <td class="ellipsis Qcclass" data-toggle="tooltip" title="${item.Status}" style="width: 100px;">${item.Status == `A` ? `啟用` : `停用`}</td>
                                        <td class="text-center active-content Qcclass operateStyle" style="width: 300px;">
                                          <a class="active-link auth-update" href="javascript:Edit@(itemName)(${item.QcClassId},'QcClass');"><i class="fas fa-edit"></i></a>
                                          <a class="active-link auth-read" href="javascript:QcItemDetail@(itemName)(${item.QcClassId});"><i class="fas fa-list"></i><span>項目顯示</span></a>
                                        </td>
                                      </tr>
                                      <tr data-qcclass-id="${item.QcClassId}" style="display: none;">
                                          <td colspan="12">
                                            <table style="width: 100%; margin: auto; border: 1px solid #d7d7e1;" id="tblQcItemData@(itemName)">
                                              <thead>
                                                  <tr>
                                                    <th class="thead-customized-item" scope="col" style="width: 65px;">#</th>
                                                    <th class="thead-customized-item" scope="col" style="width: 150px;">項目代碼</th>
                                                    <th class="thead-customized-item" scope="col" style="min-width: 400px;">項目名稱</th>
                                                    <th class="thead-customized-item" scope="col" style="min-width: 400px;">項目描述</th>
                                                    <th class="thead-customized-item" scope="col" style="width: 100px;">狀態</th>
                                                    <th class="thead-customized-item text-center" scope="col" style="width: 400px;">操作</th>
                                                  </tr>
                                              </thead>
                                              <tbody>
                                              </tbody>
                                           </table>
                                          </td>
                                      </tr>
                                    `;
                    });
                }else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="6" style="background-color: #fff9ed;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblQcClassData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
        }

        //類別列表-項目列表彈跳
        function QcItemDetail@(itemName)(QcClassId) {
            if ($(`tr[data-qcclass-id=${QcClassId}]`).css("display") == "none") {
                $("tr[data-qcclass-id]").hide();
                $(`tr[data-qcclass-id=${QcClassId}]`).show();
                $("#cboQcClassIdQ@(itemName)").val(QcClassId).trigger("change.select2")
                ComboBoxs.Default("#cboQcItemIdQ@(itemName)", "@Url.Action("GetQcItemNew", "QmsBasicInformation")", { "QcClassId": QcClassId,"QicNo": $("#cboQicNoQ@(itemName)").val(), "Status": "A" }, "", "NA", "", "QcItemWithText", "QcItemId");
                objPageItem.pageIndex = 0
                InitQcItem(objPageItem, QcClassId)
            } else {
                $("tr[data-qcclass-id]").hide();
            }
        }

        function InitQcItem(objPage, QcClassId) {
            let innerHtml = '';
            let pageCount = 0;

            let targetUrl = "@Url.Action("GetQcItemNew", "QmsBasicInformation")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "QcClassId": QcClassId,
                "QcItemId": $("#cboQcItemIdQ@(itemName)").val().trim(),
                "QicNo": $("#cboQicNoQ@(itemName)").val().trim()

            };
            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;
                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";
                        innerHtml += `<tr>
                                        <td class="Qcitem" style="width: 65px;">${_row}</td>
                                        <td class="ellipsis Qcitem" data-toggle="tooltip" title="${item.QcItemNo}" style="width: 150px;">${item.QcItemNo}</td>
                                        <td class="ellipsis Qcitem" data-toggle="tooltip" title="${item.QcItemName}" style="min-width: 400px;">${item.QcItemName}</td>
                                        <td class="ellipsis Qcitem" data-toggle="tooltip" title="${item.QcItemDesc}" style="min-width: 400px;">${item.QcItemDesc}</td>
                                        <td class="ellipsis Qcitem" data-toggle="tooltip" title="${item.Status}" style="width: 100px;">${item.Status == `A` ? `啟用` : `停用`}</td>
                                        <td class="text-center active-content Qcitem operateStyle"  style="width: 400px;">
                                          <a class="active-link auth-update" href="javascript:Edit@(itemName)(${item.QcItemId},'QcItem');"><i class="fas fa-edit"></i></a>
                                          <a class="active-link auth-add" href="javascript:PopViewMachineMode(${item.QcItemId},'QcItem');">綁定機型</a>
                                        </td>
                                      </tr>
                                    `;
                    });
                }else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="6" style="background-color: #f6fbf6;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblQcItemData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
        }


        //開啟編輯
        function Edit@(itemName)(Id, Type) {

            switch (Type) {
                case "QcGroup":
                    $("#QcGroupId").val(Id ? Id : 0);
                    $("#txtQcGroupNo@(itemName)").attr("readonly", false);
                    Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");
                    ComboBoxs.Default("#cboQcGroupStatus@(itemName)", "@Url.Action("GetStatus", "BasicInformation")", { "StatusSchema": "Status" }, "", "CHOOSE", "", "StatusDesc", "StatusNo");

                    if (Id > 0) {
                        $("#txtQcGroupNo@(itemName)").attr("readonly", true);
                        let targetUrl = "@Url.Action("GetQcGroupNew", "QmsBasicInformation")";
                        let postData = {
                            "QcGroupId": Id
                        };
                        let data = DataAccess.Get(targetUrl, postData, false);

                        if (data.status == "success") {
                            $.each(data.result, function (i, item) {
                                $("#txtQcGroupNo@(itemName)").val(item.QcGroupNo);
                                $("#txtQcGroupName@(itemName)").val(item.QcGroupName);
                                $("#txtQcGroupDesc@(itemName)").val(item.QcGroupDesc);
                                $("#cboQcGroupStatus@(itemName)").val(item.Status);
                            });
                        } else {
                            alert(data.msg, "alert", 0);
                        }
                    }
                    else {
                        $("#txtQcGroupNo@(itemName)").val("");
                        $("#txtQcGroupName@(itemName)").val("");
                        $("#txtQcGroupDesc@(itemName)").val("");
                        $("#cboQcGroupStatus@(itemName)").val("A");
                    }
                    if (!isMobile) {
                        $("#cboQcGroupStatus@(itemName)").select2({
                            width: "100%"
                        });
                    }
                    break;
                case "QcClass":
                    $("#QcClassId").val(Id ? Id : 0);
                    $("#txtQcClassNo@(itemName)").attr("readonly", false);
                    $("#cboQcClassGroup@(itemName)").attr("disabled", false);
                    Switch("#editQcClassData@(itemName), .unit-block", "#listData@(itemName)");
                    ComboBoxs.Default("#cboQcClassGroup@(itemName)", "@Url.Action("GetQcGroupNew", "QmsBasicInformation")", {}, "", "NA", "", "QcGroupWithText", "QcGroupId");
                    ComboBoxs.Default("#cboQcClassStatus@(itemName)", "@Url.Action("GetStatus", "BasicInformation")", { "StatusSchema": "Status" }, "", "CHOOSE", "", "StatusDesc", "StatusNo");

                    if (Id > 0) {
                        $("#txtQcClassNo@(itemName)").attr("readonly", true);
                        $("#cboQcClassGroup@(itemName)").attr("disabled", true);
                        let targetUrl = "@Url.Action("GetQcClassNew", "QmsBasicInformation")";
                        let postData = {
                            "QcClassId": Id
                        };
                        let data = DataAccess.Get(targetUrl, postData, false);

                        if (data.status == "success") {
                            $.each(data.result, function (i, item) {
                                $("#cboQcClassGroup@(itemName)").val(item.QcGroupId);
                                $("#txtQcClassNo@(itemName)").val(item.QcClassNo);
                                $("#txtQcClassName@(itemName)").val(item.QcClassName);
                                $("#txtQcClassDesc@(itemName)").val(item.QcClassDesc);
                                $("#cboQcClassStatus@(itemName)").val(item.Status);
                            });
                        } else {
                            alert(data.msg, "alert", 0);
                        }
                    }
                    else {
                        $("#cboQcClassGroup@(itemName)").val("");
                        $("#txtQcClassNo@(itemName)").val("");
                        $("#txtQcClassName@(itemName)").val("");
                        $("#txtQcClassDesc@(itemName)").val("");
                        $("#cboQcClassStatus@(itemName)").val("A");
                    }
                    if (!isMobile) {
                        $("#cboQcClassGroup@(itemName), #cboQcClassStatus@(itemName)").select2({
                            width: "100%"
                        });
                    }
                    break
                case "QcItem":
                    $("#QcItemId").val(Id ? Id : 0);
                    $("#txtQcItemNo@(itemName)").attr("readonly", false);
                    $("#cboQcItemGroup@(itemName)").attr("disabled", false);
                    $("#cboQcItemClass@(itemName)").attr("disabled", false);
                    Switch("#editQcItemData@(itemName), .unit-block", "#listData@(itemName)");
                    ComboBoxs.Default("#cboQcItemGroup@(itemName)", "@Url.Action("GetQcGroupNew", "QmsBasicInformation")", {}, "", "NA", "", "QcGroupWithText", "QcGroupId");
                    ComboBoxs.Default("#cboQcItemClass@(itemName)", "@Url.Action("GetQcClassNew", "QmsBasicInformation")", { "QcGroupId": 9999999, "Status": "A"}, "", "NA", "", "QcClassWithText", "QcClassId");
                    ComboBoxs.Default("#cboQcType@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "QcItem.QcType" }, "", "NA", "", "TypeName", "TypeNo");
                    ComboBoxs.Default("#cboQcItemType@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "QcItem.QcItemType" }, "", "NA", "", "TypeName", "TypeNo");
                    ComboBoxs.Default("#cboQcItemStatus@(itemName)", "@Url.Action("GetStatus", "BasicInformation")", { "StatusSchema": "Status" }, "", "CHOOSE", "", "StatusDesc", "StatusNo");

                    if (Id > 0) {
                        $("#txtQcItemNo@(itemName)").attr("readonly", true);
                        $("#cboQcItemGroup@(itemName)").attr("disabled", true);
                        $("#cboQcItemClass@(itemName)").attr("disabled", true);

                        let targetUrl = "@Url.Action("GetQcItemNew", "QmsBasicInformation")";
                        let postData = {
                            "QcItemId": Id
                        };
                        let data = DataAccess.Get(targetUrl, postData, false);

                        if (data.status == "success") {
                            $.each(data.result, function (i, item) {
                                ComboBoxs.Default("#cboQcItemClass@(itemName)", "@Url.Action("GetQcClassNew", "QmsBasicInformation")", { "QcGroupId": item.QcGroupId, "Status": "A" }, "", "NA", "", "QcClassWithText", "QcClassId");

                                $("#cboQcItemGroup@(itemName)").val(item.QcGroupId);
                                $("#cboQcItemClass@(itemName)").val(item.QcClassId);
                                $("#cboQcType@(itemName)").val(item.QcType);
                                $("#cboQcItemType@(itemName)").val(item.QcItemType);
                                $("#txtQcItemNo@(itemName)").val(item.QcItemNo);
                                $("#txtQcItemName@(itemName)").val(item.QcItemName);
                                $("#txtQcItemDesc@(itemName)").val(item.QcItemDesc);
                                $("#txtRemark@(itemName)").val(item.Remark);
                                $("#cboQcItemStatus@(itemName)").val(item.Status);
                            });
                        } else {
                            alert(data.msg, "alert", 0);
                        }
                    }
                    else {
                        $("#cboQcItemGroup@(itemName)").val("");
                        $("#cboQcItemClass@(itemName)").val("");
                        $("#cboQcType@(itemName)").val("");
                        $("#cboQcItemType@(itemName)").val("");
                        $("#txtQcItemNo@(itemName)").val("");
                        $("#txtQcItemName@(itemName)").val("");
                        $("#txtQcItemDesc@(itemName)").val("");
                        $("#txtRemark@(itemName)").val("");
                        $("#cboQcItemStatus@(itemName)").val("A");
                    }

                    if (!isMobile) {
                        $(`#cboQcItemGroup@(itemName), #cboQcItemClass@(itemName), #cboQcType@(itemName), #cboQcItemType@(itemName),
                            #cboStatusNo@(itemName)
                            `).select2({
                            width: "100%"
                        });
                    }
                    break
            }
        }

        //編輯儲存
        function Save@(itemName)(Type) {

            switch (Type) {
                case "QcGroup":
                    objForm@(itemName) = "#editForm@(itemName)";
                    let QcGroupId = parseInt($("#QcGroupId").val());

                    if (QcGroupId > 0) {
                        let targetUrl = "@Url.Action("UpdateQcGroup", "QmsBasicInformation")";
                        let postData = {
                            "QcGroupId": QcGroupId,
                            "QcGroupName": $("#txtQcGroupName@(itemName)").val(),
                            "QcGroupDesc": $("#txtQcGroupDesc@(itemName)").val(),
                            "Status": $("#cboQcGroupStatus@(itemName)").val()
                        };

                        let result = DataAccess.Update(targetUrl, postData, false, true);

                        if (result) {
                            Return@(itemName)()
                        }
                    }
                    else {
                        let targetUrl = "@Url.Action("AddQcGroup", "QmsBasicInformation")";
                        let postData = {
                            "QcGroupNo": $("#txtQcGroupNo@(itemName)").val(),
                            "QcGroupName": $("#txtQcGroupName@(itemName)").val(),
                            "QcGroupDesc": $("#txtQcGroupDesc@(itemName)").val(),
                            "Status": $("#cboQcGroupStatus@(itemName)").val()
                        };

                        let data = DataAccess.EditContinued(targetUrl, postData, false);

                        if (data) {
                            Return@(itemName)()
                        }
                    }
                    break;
                case "QcClass":
                    let QcClassId = parseInt($("#QcClassId").val());
                    if (QcClassId > 0) {
                        let targetUrl = "@Url.Action("UpdateQcClass", "QmsBasicInformation")";
                        let postData = {
                            "QcClassId": QcClassId,
                            "QcClassName": $("#txtQcClassName@(itemName)").val(),
                            "QcClassDesc": $("#txtQcClassDesc@(itemName)").val(),
                            "Status": $("#cboQcClassStatus@(itemName)").val()
                        };

                        let result = DataAccess.Update(targetUrl, postData, false, true);

                    }
                    else {
                        let targetUrl = "@Url.Action("AddQcClass", "QmsBasicInformation")";
                        let postData = {
                            "QcGroupId": $("#cboQcClassGroup@(itemName)").val(),
                            "QcClassNo": $("#txtQcClassNo@(itemName)").val(),
                            "QcClassName": $("#txtQcClassName@(itemName)").val(),
                            "QcClassDesc": $("#txtQcClassDesc@(itemName)").val(),
                            "Status": $("#cboQcClassStatus@(itemName)").val()
                        };

                        let data = DataAccess.EditContinued(targetUrl, postData, false);

                        if (data) {
                            Return@(itemName)()
                        }
                    }
                    break;
                case "QcItem":
                    let QcItemId = parseInt($("#QcItemId").val());
                    if (QcItemId > 0) {
                        let targetUrl = "@Url.Action("UpdateQcItem", "QmsBasicInformation")";
                        let postData = {
                            "QcItemId": QcItemId,
                            "QcItemName": $("#txtQcItemName@(itemName)").val(),
                            "QcItemDesc": $("#txtQcItemDesc@(itemName)").val(),
                            "QcType": $("#cboQcType@(itemName)").val(),
                            "QcItemType": $("#cboQcItemType@(itemName)").val(),
                            "Remark": $("#txtRemark@(itemName)").val(),
                            "Status": $("#cboQcItemStatus@(itemName)").val()
                        };

                        let result = DataAccess.Update(targetUrl, postData, false, true);

                    }
                    else {
                        let targetUrl = "@Url.Action("AddQcItem", "QmsBasicInformation")";
                        let postData = {
                            "QcClassId": $("#cboQcItemClass@(itemName)").val(),
                            "QcItemNo": $("#txtQcItemNo@(itemName)").val(),
                            "QcItemName": $("#txtQcItemName@(itemName)").val(),
                            "QcItemDesc": $("#txtQcItemDesc@(itemName)").val(),
                            "QcType": $("#cboQcType@(itemName)").val(),
                            "QcItemType": $("#cboQcItemType@(itemName)").val(),
                            "Remark": $("#txtRemark@(itemName)").val(),
                            "Status": $("#cboQcItemStatus@(itemName)").val()
                        };

                        let data = DataAccess.EditContinued(targetUrl, postData, false);

                        Return@(itemName)()
                    }
            }


        }
        //刪除
        function Delete@(itemName)(QcGroupId) {
            swal.fire({
                title: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteQcGroup", "QmsBasicInformation")";
                    let postData = {
                        "QcGroupId": QcGroupId,
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }


        function GetQcClassNoMax(QcGroupId, QcGroupNo) {
            let targetUrl = "@Url.Action("GetQcClassNoMax", "QmsBasicInformation")";
            let postData = {
                "QcGroupId": QcGroupId,

            };
            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                if (data.result.length > 0) {
                    $.each(data.result, function (i, item) {
                        var QcClassNo = item.QcClassNo
                        var length = item.QcClassNo.length
                        var isFirstLetterAlpha = /^[A-Za-z]/.test(QcClassNo);

                        if (length == 3 && isFirstLetterAlpha) {
                            var newMax = ("0" + (parseInt(QcClassNo.substring(1)) + 1)).slice(-2);
                            $("#txtQcClassNo@(itemName)").val(QcClassNo.substring(0, 1) + newMax)
                        }
                    });
                }
                else {
                    $("#txtQcClassNo@(itemName)").val(`${QcGroupNo}01`)
                }

            } else {
                alert(data.msg, "alert", 0);
            }
        }
        var BatchForm = {
        }
        var BatchFormData = {
        }
        function OpenBatchItem() {
            $("#modalBatchItem@(itemName)").modal("show");
        }
        function CloseBatchItem() {
            $("#modalBatchItem@(itemName)").modal("hide");
            ClearBatchItem()
        }

        function AddBatchClass() {
            var maxClassNumber = 0;
            $.each(BatchForm, function (key, value) {
                if (key.startsWith('class')) {
                    var classNumber = parseInt(key.replace('class', ''), 10);
                    if (classNumber > maxClassNumber) {
                        maxClassNumber = classNumber;
                    }
                }
            });

            var id = maxClassNumber + 1
            BatchForm[`class${id}`] = {
                id: id, item1: 1
            }
            var ItemLayerId = id.toString() + String(1);

            var html = ""
            html = `
                                <thead id=theadClassLayerId${id}>
                                    <tr>
                                        <th scope="col" style="width: 120px;">類別</th>
                                        <th style="padding: 0; width: 500px;">
                                            <table class="table table-bordered table-sm mb-0 table-non-rwd table-striped-custom table-row-detail" id=BatchFormClassLayer${id}>
                                                <thead>
                                                    <tr>
                                                        <th style="width: 200px;">項目</th>
                                                        <th style="width: 120px;">數量</th>
                                                        <th style="width: 150px;">輸入方式</th>
                                                        <th style="width: 200px;">
                                                            <a class="btn btn-info " onclick="AddBatchItem(${id})"><i class="fas fa-plus"></i>新增項目</a>
                                                            <a class="btn btn-danger " onclick="DeleteBatchClass(${id})"><i class="fas fa-trash-alt"></i>刪除類別</a>
                                                        </th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody id=tbodyClassLayerId${id}>
                                    <tr>
                                        <td class="text-center" colspan="1" style="background-color: #fff9ed;">
                                            <select class="form-control" id="cboBatchFormQcClass${id}" name="cboBatchFormQcClass${id}"
                                                    data-msg-required="請選擇類別"
                                                    aria-invalid="false"></select>
                                        </td>
                                        <td class="text-center" colspan="3" style="background-color: #fff9ed;">
                                            <table class="table table-bordered table-sm mb-0 table-non-rwd table-striped-custom table-row-detail" id=BatchFormClassLayer${id}>
                                                <thead>
                                                    <tr id="ItemLayerId${ItemLayerId}">
                                                        <td style="width: 150px;">
                                                            <select class="form-control" id="cboBatchFormQcItem${ItemLayerId}" name="cboBatchFormQcItem${ItemLayerId}"
                                                                    data-msg-required="請選擇項目"
                                                                    aria-invalid="false"></select>
                                                        </td>
                                                        <td  style="width: 100px;">
                                                            <input type="number" class="form-control" id="txtBatchFormNum${ItemLayerId}" name="txtBatchFormNum${ItemLayerId}" placeholder="請輸入數量"
                                                                   data-msg-required="請輸入數量" data-rule-required="true" maxlength="2"/>
                                                        </td>
                                                        <td style="width: 80px;">
                                                            <select class="form-control" id="cboBatchFormItemType${ItemLayerId}" name="cboBatchFormItemType${ItemLayerId}"
                                                                    data-msg-required="請選擇輸入方式"
                                                                    aria-invalid="false"></select>
                                                        </td>
                                                        <td  style="width: 150px;">
                                                            <a class="btn btn-danger " onclick="DeleteBatchItem(${id},${1})"><i class="fas fa-trash-alt"></i>項目刪除</a>
                                                        </td>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>
                    `

            $("#BatchForm").append(html)
            ComboBoxs.Default(`#cboBatchFormQcClass${id}`, "@Url.Action("GetQcClassNew", "QmsBasicInformation")", { "Status": "A"}, "", "NA", "", "QcClassWithText", "QcClassId");
            ComboBoxs.Default(`#cboBatchFormQcItem${ItemLayerId}`, "@Url.Action("GetQcItemCoding", "QmsBasicInformation")", { "Status": "A" }, "", "NA", "", "QicWithText", "QicId");
            ComboBoxs.Default(`#cboBatchFormItemType${ItemLayerId}`, "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "QcItem.QcItemType" }, "", "NA", "", "TypeName", "TypeNo");
            if (!isMobile) {
                $(`#cboBatchFormQcClass${id}, #cboBatchFormQcItem${ItemLayerId}, #cboBatchFormItemType${ItemLayerId}`).select2({
                    width: "100%"
                });
            }
        }
        function AddBatchItem(ClassLayerId) {
            var ClassLayerId = ClassLayerId
            var maxClassNumber = 0;
            $.each(BatchForm[`class${ClassLayerId}`], function (key, value) {
                if (key.startsWith('item')) {
                    var classNumber = parseInt(key.replace('item', ''), 10);
                    if (classNumber > maxClassNumber) {
                        maxClassNumber = classNumber;
                    }
                }
            });

            var id = maxClassNumber+1
            BatchForm[`class${ClassLayerId}`][`item${id}`] = id
            var ItemLayerId = ClassLayerId.toString() + id.toString()
            var html = ""
            html = `
                    <tr id="ItemLayerId${ItemLayerId}">
                        <td style="width: 150px;">
                            <select class="form-control" id="cboBatchFormQcItem${ItemLayerId}" name="cboBatchFormQcItem${ItemLayerId}"
                                    data-msg-required="請選擇項目" data-rule-required="true"
                                    aria-invalid="false"></select>
                        </td>
                        <td  style="width: 100px;">
                            <input type="number" class="form-control" id="txtBatchFormNum${ItemLayerId}" name="txtBatchFormNum${ItemLayerId}" placeholder="請輸入數量"
                                    data-msg-required="請輸入數量" data-rule-required="true"  maxlength="2"/>
                        </td>
                        <td style="width: 80px;">
                            <select class="form-control" id="cboBatchFormItemType${ItemLayerId}" name="cboBatchFormItemType${ItemLayerId}"
                                    data-msg-required="請選擇輸入方式"
                                    aria-invalid="false"></select>
                        </td>
                        <td  style="width: 150px;">
                            <a class="btn btn-danger " onclick="DeleteBatchItem(${ClassLayerId},${id})"><i class="fas fa-trash-alt"></i>刪除</a>
                        </td>
                    </tr>
                    `
            $(`#BatchFormClassLayer${ClassLayerId} tbody`).append(html)

            ComboBoxs.Default(`#cboBatchFormQcItem${ItemLayerId}`, "@Url.Action("GetQcItemCoding", "QmsBasicInformation")", { "Status": "A" }, "", "NA", "", "QicWithText", "QicId");
            ComboBoxs.Default(`#cboBatchFormItemType${ItemLayerId}`, "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "QcItem.QcItemType" }, "", "NA", "", "TypeName", "TypeNo");
            if (!isMobile) {
                $(`#cboBatchFormQcItem${ItemLayerId}, #cboBatchFormItemType${ItemLayerId}`).select2({
                    width: "100%"
                });
            }
        }
        function DeleteBatchClass(ClassLayerId) {
            $(`#theadClassLayerId${ClassLayerId.toString()}`).remove()
            $(`#tbodyClassLayerId${ClassLayerId.toString()}`).remove()

            delete BatchForm[`class${ClassLayerId}`];
        }
        function DeleteBatchItem(ClassLayerId, ItemLayerId) {
            $(`#ItemLayerId${ClassLayerId.toString()}${ItemLayerId.toString()}`).remove()
            delete BatchForm[`class${ClassLayerId}`][`item${ItemLayerId}`];

        }
        function ClearBatchItem() {
            $("#BatchForm").html("")
            BatchForm = {}
        }
        function SaveBatchItem() {
            var dataFinish = false
            $.each(BatchForm, function (key, value) {
                var QicIdArr = []
                var QcClassId = $(`#cboBatchFormQcClass${value.id}`).val()
                var QcClassGroup = ""

                if (QcClassId == "" || QcClassId<=0) {
                    alert("批量列表【類別】資料尚未維護完整,請重新確認", "alert", 0);
                    return
                }
                else {
                    dataFinish = true
                }

                $.each(value, function (key1, value1) {
                    if (key1.startsWith('item')) {
                        var QicId = $(`#cboBatchFormQcItem${value.id}${value1}`).val()
                        var num = $(`#txtBatchFormNum${value.id}${value1}`).val()
                        var ItemType = $(`#cboBatchFormItemType${value.id}${value1}`).val()
                        if (!QicIdArr.includes(QicId)) {
                            QicIdArr.push(QicId)
                            dataFinish = true
                        }
                        else {
                            alert("批量列表【項目】資料不可以重複,請重新確認", "alert", 0);
                            return
                        }
                        QcClassGroup += `,${QicId}:${num}:${ItemType}`
                        if (QicId == "" || QicId <= 0) {
                            alert("批量列表【項目】資料尚未維護完整,請重新確認", "alert", 0);
                            return
                        }
                        else {
                            dataFinish = true
                        }
                        if (num == "" || num <= 0) {
                            alert("批量列表【數量】資料尚未維護完整且不可為0,請重新確認", "alert", 0);
                            return
                        }
                        else {
                            dataFinish = true
                        }
                        if (ItemType == "" || ItemType <= 0) {
                            alert("批量列表【輸入方式】資料尚未維護完整,請重新確認", "alert", 0);
                            return
                        }
                        else {
                            dataFinish = true
                        }
                    }
                });

                BatchFormData[key] = QcClassId.toString() + QcClassGroup
            });
            if (dataFinish) {
                let targetUrl = "@Url.Action("AddQcItemBatch", "QmsBasicInformation")";
                let postData = {
                    "BatchFormData": JSON.stringify(BatchFormData)
                };

                let data = DataAccess.EditContinued(targetUrl, postData, false);

                if (data.status == "success") {
                    alert("批量新增成功", "success", 0);
                }
                else {
                    alert(data.msg, "alert", 0);
                }
            }
        }

        function GetUserInfo@(itemName)() {
            let targetUrl = "@Url.Action("GetLoginByKey", "User")";
            let postData = {
                "UserNo": $.cookie("Login"),
                "KeyText": $.cookie("LoginKey")
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                userId@(itemName) = data.returnData.UserId;
                companyId@(itemName) = data.returnData.CompanyId;
                userNo@(itemName) = data.returnData.UserNo;

            } else {
                alert(data.msg, "alert", 0);
            }
        }

        function OpenFilter() {
            $("#modalfilter@(itemName)").modal("show");
            ComboBoxs.Default("#cboQcGroupIdQ@(itemName)", "@Url.Action("GetQcGroupNew", "QmsBasicInformation")", { "Status": "A" }, "", "NA", "", "QcGroupWithText", "QcGroupId");
            ComboBoxs.Default("#cboQcClassIdQ@(itemName)", "@Url.Action("GetQcClassNew", "QmsBasicInformation")", { "QcGroupId": 999999999, "Status": "A" }, "", "NA", "", "QcClassWithText", "QcClassId");
            ComboBoxs.Default("#cboQcItemIdQ@(itemName)", "@Url.Action("GetQcItemNew", "QmsBasicInformation")", { "QcClassId": 999999999, "Status": "A" }, "", "NA", "", "QcItemWithText", "QcItemId");
            ComboBoxs.Default("#cboQicNoQ@(itemName)", "@Url.Action("GetQcItemCoding", "QmsBasicInformation")", { "Status": "A" }, "", "NA", "", "QicWithText", "QicNo");
        }

        function CloseFilter() {
            $("#modalfilter@(itemName)").modal("hide");
        }

        function Return@(itemName)() {
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName)", "#editData@(itemName), .unit-block, .advanced-block");
            Switch("#listData@(itemName)", "#editQcClassData@(itemName), .unit-block, .advanced-block");
            Switch("#listData@(itemName)", "#editQcItemData@(itemName), .unit-block, .advanced-block");

            $("#QcGroupId").val("")
            Query@(itemName)();
        }

</script>
                                                                                                )