@using Business_Manager.Helpers
@{
    string itemName = "QcTheoryWorkTime";
    string itemNameText = "量測理論工時管理";
    string authority = ViewBag.authority;
    ViewBag.Title = itemNameText;



}

@Html.Resource("css",
    @<style>
         
    </style>
                                                        )

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

<!--搜尋-->
<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body" style="max-height: 65vh; overflow: scroll;">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">品號類型</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboMtlItemTypeQ@(itemName)"></select>

                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label class="col-12 col-form-label">機台</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboQcMachineIdQ@(itemName)"></select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-form-label">量測項目類型</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboQcItemCodeIdQ@(itemName)"></select>

                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<!--列表-->
<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);"><i class="fal fa-search"></i>搜尋</a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn btn-info auth-add" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="max-width: 75px;">#</th>
                                        <th scope="col" style="min-width: 200px;">品號類別</th>
                                        <th scope="col" style="max-width: 200px;">量測項目類型</th>
                                        <th scope="col" style="max-width: 200px;">量測機台</th>
                                        <th scope="col" style="max-width: 200px;">量測尺寸</th>
                                        <th scope="col" style="max-width: 200px;">花費時間(分)</th>
                                        <th scope="col" style="max-width: 200px;">操作</th>

                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--新增/編輯-->
<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container custom-form-container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="QmwtId" name="QmwtId" value="-1" />
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtMtlItemType@(itemName)">品號類型(機種)<span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboMtlItemType@(itemName)"></select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtQcMachineId@(itemName)">量測機台<span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboQcMachineId@(itemName)"></select>

                            </div>

                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtQcItemCode@(itemName)">量測項目類型<span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboQcItemCodeId@(itemName)"></select>

                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtMeasureSize@(itemName)">量測尺寸<span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtMeasureSize@(itemName)" name="txtMeasureSize@(itemName)"
                                       placeholder="請輸入量測尺寸" value="0" min="0" step="0.01" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtWorkTime@(itemName)">量測時間(分)<span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="number" class="form-control" id="txtWorkTime@(itemName)" name="txtWorkTime@(itemName)"
                                       placeholder="請輸入量測時間(分)" value="0" min="0" step="0.01" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>

            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-success" id="btnSave@(itemName)" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
                @*<button type="button" class="btn btn-primary" id="btnAdd@(itemName)" onclick="Add@(itemName)()"><i class="fas fa-save"></i>建立</button>*@
            </div>
        </div>

    </div>
</div>

@Html.Partial("ViewQcItem");

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#queryForm@(itemName)";

        $(document).ready(function () {
            if (!isMobile) {
                $("#cboMtlItemTypeQ@(itemName), #cboQcMachineIdQ@(itemName), #cboQcItemCodeIdQ@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });
            }
            ComboBoxs.Default("#cboMtlItemTypeQ@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "MtlItemType", "Condition": 3 }, "", "NA", "", "TypeName", "TypeName");
            ComboBoxs.Default("#cboQcMachineIdQ@(itemName)", "@Url.Action("GetQmmDetail", "ProductionHistory")", {}, "", "NA", "", "MachineWithNo", "QmmDetailId");
            ComboBoxs.Default("#cboQcItemCodeIdQ@(itemName)", "@Url.Action("GetQcItemCoding", "QmsBasicInformation")", {}, "", "NA", "", "QicWithText", "QicId");

           Query@(itemName)();
        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));
            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;
            let targetUrl = "@Url.Action("GetQcMeasureInTheoryWorkTime", "QmsBasicInformation")";

            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "ProductType": $("#cboMtlItemTypeQ@(itemName)").val(),
                "QmmDetailId": $("#cboQcMachineIdQ@(itemName)").val(),
                "QicNo": $("#cboQcItemCodeIdQ@(itemName)").val()
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;
                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);
                    $.each(data.result, function (i, item) {
                        defaultFileId@(itemName) = item.DefaultFileId;
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";
                        innerHtml += `<tr>
                                        <td style="max-width: 75px;">${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ProductType}" style="max-width: 200px;">${item.ProductType}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.QicNo}" style="max-width: 200px;">${item.QicNo}-${item.QicName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MachineNumber}" style="max-width: 200px;">${item.MachineDesc} ${item.MachineName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MeasureSize}" style="max-width: 200px;">${item.MeasureSize}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.WorkTime}" style="max-width: 200px;">${item.WorkTime}</td>
                                        <td class="text-center active-content">
                                          <a class="active-link auth-update" href="javascript:Edit@(itemName)(${item.QmwtId});" style=""><i class="fas fa-edit"></i></a>
                                          <a class="active-link auth-delete" href="javascript:Delete@(itemName)(${item.QmwtId});" style=""><i class="fas fa-trash-alt"></i></a>
                                        </td>
                                      </tr>`;

                    });
                }
                else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="13" style="background-color: #fff3cd;">
                                        <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            }
            else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));
        }

        function Edit@(itemName)(qmwtId) {
            $("#QmwtId").val(qmwtId ? qmwtId : 0);
            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");

            
            if (!isMobile) {
                $("#cboMtlItemType@(itemName), #cboQcMachineId@(itemName), #cboQcItemCodeId@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });
            }

            ComboBoxs.Default("#cboMtlItemType@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "MtlItemType", "Condition": 3 }, "", "NA", "", "TypeName", "TypeName");
            ComboBoxs.Default("#cboQcMachineId@(itemName)", "@Url.Action("GetQmmDetail", "ProductionHistory")", {}, "", "NA", "", "MachineWithNo", "QmmDetailId");
            ComboBoxs.Default("#cboQcItemCodeId@(itemName)", "@Url.Action("GetQcItemCoding", "QmsBasicInformation")", {}, "", "NA", "", "QicWithText", "QicId");
             $("#txtMeasureSize@(itemName)").val("");
            $("#txtWorkTime@(itemName)").val(0);
            $("#QmwtId").val(-1);
            if (qmwtId > 0) {
 
            let targetUrl = "@Url.Action("GetQcMeasureInTheoryWorkTime", "QmsBasicInformation")";
                let postData = {
                    "QmwtId": qmwtId
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {//txtMeasureSize
                    $.each(data.result, function (i, item) {
                        $("#cboMtlItemType@(itemName)").val(item.ProductType);
                        $("#cboQcMachineId@(itemName)").val(item.QmmDetailId);
                        $("#cboQcItemCodeId@(itemName)").val(item.QicId);
                        $("#txtMeasureSize@(itemName)").val(item.MeasureSize);
                        $("#txtWorkTime@(itemName)").val(item.WorkTime);

                        
                    });
                } else {
                    alert(data.msg, "alert", 0);
                }

            }

           
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let QmwtId = parseInt($("#QmwtId").val());

                if (QmwtId <= 0) {
                    let targetUrl = "@Url.Action("AddQcMeasureInTheoryWorkTime", "QmsBasicInformation")";
                    let postData = {
                        "QmmDetailId": $("#cboQcMachineId@(itemName)").val(),
                        "ProductType": $("#cboMtlItemType@(itemName)").val(),
                        "QicId": $("#cboQcItemCodeId@(itemName)").val(),
                        "MeasureSize": $("#txtMeasureSize@(itemName)").val(),
                        "WorkTime": $("#txtWorkTime@(itemName)").val()*60
                    };

                    let data = DataAccess.EditContinued(targetUrl, postData, false);

                    if (data) {
                        alert("新增完成", "success");

                        Return@(itemName)()
                    }
                } else {
                    let targetUrl = "@Url.Action("UpdateQcMeasureInTheoryWorkTime", "QmsBasicInformation")";
                    let postData = {
                        "QmmDetailId": $("#cboQcMachineId@(itemName)").val(),
                        "ProductType": $("#cboMtlItemType@(itemName)").val(),
                        "QicId": $("#cboQcItemCodeId@(itemName)").val(),
                        "MeasureSize": $("#txtMeasureSize@(itemName)").val(),
                        "WorkTime": $("#txtWorkTime@(itemName)").val() * 60,
                        "QmwtId": $("#QmwtId").val()
                    

                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        alert("編輯完成", "success");

                        Return@(itemName)();
                    }
                }
            }
        }

        function Delete@(itemName)(QmwtId) {
            swal.fire({
                titleText: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteQcMeasureInTheoryWorkTime", "QmsBasicInformation")";
                    let postData = {
                        "QmwtId": QmwtId
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function Return@(itemName)() {
            Switch("#listData@(itemName)", "#editData@(itemName), .unit-block, .advanced-block");
            Query@(itemName)()
            $("#cboMtlItemType@(itemName)").val("");
            $("#cboQcMachineId@(itemName)").val("");
            $("#cboQcItemCodeId@(itemName)").val(0);
            $("#txtMeasureSize@(itemName)").val("");
            $("#txtWorkTime@(itemName)").val(0);
            $("#QmwtId").val(-1);
        
        }
    </script>
                                        )