@using Business_Manager.Helpers
@{
    string itemName = "ViewAddNgCause";
    string itemNameText = "新增異常原因";
}

@Html.Resource("css",
    @<style>
    </style>
        )

<div class="modal fade" id="modal@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">新增-不良現象原因</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">群組</label>
                            <div class="col-12">
                                <select class="form-control" id="cboNgGroupNo@(itemName)" name="cboNgGroupNo@(itemName)" aria-invalid="false"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">類別</label>
                            <div class="col-12">
                                <select class="form-control" id="cboNgClassNo@(itemName)" name="cboNgClassNo@(itemName)" aria-invalid="false"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">權責單位</label>
                            <div class="col-12">
                                <select class="form-control" id="cboDepartmentNo@(itemName)" name="cboDepartmentNo@(itemName)" aria-invalid="false"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtNgCauseNo@(itemName)">原因代碼</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtNgCauseNo@(itemName)" name="txtNgCauseNo@(itemName)" placeholder="請輸入原因代碼" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtNgCauseName@(itemName)">原因名稱</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtNgCauseName@(itemName)" name="txtNgCauseName@(itemName)" placeholder="請輸入原因名稱" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">狀態</label>
                            <div class="col-12">
                                <select class="form-control" id="cboStatusNo@(itemName)" name="cboStatusNo@(itemName)" aria-invalid="false"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtNgCauseDesc@(itemName)">描述</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtNgCauseDesc@(itemName)" name="txtNgCauseDesc@(itemName)" placeholder="請輸入影響原因" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        $(function () {
            ComboBoxs.Default("#cboNgGroupNo@(itemName)", "@Url.Action("GetNgGroup", "QmsBasicInformation")", {}, "", "CHOOSE", "", "NgGroupWithText", "GroupId");
            ComboBoxs.Default("#cboNgClassNo@(itemName)", "@Url.Action("GetNgClass", "QmsBasicInformation")", { "GroupId": $("#cboNgGroupNo@(itemName)").val(), "Status": "A" }, "", "CHOOSE", "", "NgClassWithText", "ClassId");
            ComboBoxs.Default("#cboDepartmentNo@(itemName)", "@Url.Action("GetDepartment", "BasicInformation")", { "Status": "A" }, "", "CHOOSE", "", "DepartmentName", "DepartmentId");
            ComboBoxs.Default("#cboStatusNo@(itemName)", "@Url.Action("GetStatus", "BasicInformation")", { "StatusSchema": "Status" }, "", "CHOOSE", "", "StatusDesc", "StatusNo");

            if (!isMobile) {
                $("#cboNgGroupNo@(itemName)").select2({
                    width: "100%"
                });
                $("#cboNgClassNo@(itemName)").select2({
                    width: "100%"
                });
                $("#cboDepartmentNo@(itemName)").select2({
                    width: "100%"
                });
                $("#cboStatusNo@(itemName)").select2({
                    width: "100%"
                });
            }
        })

        function Pop@(itemName)() {
            $("#modal@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });
        }

        $("#cboNgGroupNo@(itemName)").change(function () {
            ComboBoxs.Default("#cboNgClassNo@(itemName)", "@Url.Action("GetNgClass", "QmsBasicInformation")", { "GroupId": $("#cboNgGroupNo@(itemName)").val(), "Status": "A"}, "", "CHOOSE", "", "NgClassWithText", "ClassId");
        });

        function Save@(itemName)() {
            let targetUrl = "@Url.Action("AddNgCause", "QmsBasicInformation")";
            let postData = {
                "ClassId": $("#cboNgClassNo@(itemName)").val(),
                "CauseNo": $("#txtNgCauseNo@(itemName)").val(),
                "CauseName": $("#txtNgCauseName@(itemName)").val(),
                "Status": $("#cboStatusNo@(itemName)").val(),
                "CauseDesc": $("#txtNgCauseDesc@(itemName)").val(),
                "ResponsibleDepartment": $("#cboDepartmentNo@(itemName)").val()
            };

            let data = DataAccess.EditContinued(targetUrl, postData, false);

            if (data) {
                let id = "NgCause" + data.result[0]["CauseId"].toString();
                let parent = "NgClass" + $("#cboNgClassNo@(itemName)").val();
                closeModal@(itemName)(id, parent);
            }
        }

        function closeModal@(itemName)(id, parent) {
            $("#modal@(itemName)").modal("hide");
            $("#modal@(itemName)").find("input").val("");
            ReturnDefectManagement(id, parent);
        }
    </script>
)