@using Business_Manager.Helpers
@{
    string itemName = "ViewAddRepairCause";
    string itemNameText = "新增維修原因";
}

@Html.Resource("css",
    @<style>
    </style>
        )

<div class="modal fade" id="modal@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">新增-維修原因</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">群組</label>
                            <div class="col-12">
                                <select class="form-control" id="cboRepairGroupNo@(itemName)" name="cboRepairGroupNo@(itemName)" aria-invalid="false"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">類別</label>
                            <div class="col-12">
                                <select class="form-control" id="cboRepairClassNo@(itemName)" name="cboRepairClassNo@(itemName)" aria-invalid="false"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">權責單位</label>
                            <div class="col-12">
                                <select class="form-control" id="cboDepartmentNo@(itemName)" name="cboDepartmentNo@(itemName)" aria-invalid="false"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtRepairCauseNo@(itemName)">原因代碼</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtRepairCauseNo@(itemName)" name="txtRepairCauseNo@(itemName)" placeholder="請輸入原因代碼" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtRepairCauseName@(itemName)">原因名稱</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtRepairCauseName@(itemName)" name="txtRepairCauseName@(itemName)" placeholder="請輸入原因名稱" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">狀態</label>
                            <div class="col-12">
                                <select class="form-control" id="cboStatusNo@(itemName)" name="cboStatusNo@(itemName)" aria-invalid="false"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtRepairCauseDesc@(itemName)">描述</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtRepairCauseDesc@(itemName)" name="txtRepairCauseDesc@(itemName)" placeholder="請輸入影響原因" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        $(function () {
            ComboBoxs.Default("#cboRepairGroupNo@(itemName)", "@Url.Action("GetRepairGroup", "QmsBasicInformation")", {}, "", "CHOOSE", "", "RepairGroupWithText", "GroupId");
            ComboBoxs.Default("#cboRepairClassNo@(itemName)", "@Url.Action("GetRepairClass", "QmsBasicInformation")", { "GroupId": $("#cboRepairGroupNo@(itemName)").val(), "Status": "A" }, "", "CHOOSE", "", "RepairClassWithText", "ClassId");
            ComboBoxs.Default("#cboDepartmentNo@(itemName)", "@Url.Action("GetDepartment", "BasicInformation")", { "Status": "A" }, "", "CHOOSE", "", "DepartmentName", "DepartmentId");
            ComboBoxs.Default("#cboStatusNo@(itemName)", "@Url.Action("GetStatus", "BasicInformation")", { "StatusSchema": "Status" }, "", "CHOOSE", "", "StatusDesc", "StatusNo");

            if (!isMobile) {
                $("#cboRepairGroupNo@(itemName)").select2({
                    width: "100%"
                });
                $("#cboRepairClassNo@(itemName)").select2({
                    width: "100%"
                });
                $("#cboDepartmentNo@(itemName)").select2({
                    width: "100%"
                });
                $("#cboStatusNo@(itemName)").select2({
                    width: "100%"
                });
            }
        })

        function Pop@(itemName)() {
            $("#modal@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });
        }

        $("#cboRepairGroupNo@(itemName)").change(function () {
            ComboBoxs.Default("#cboRepairClassNo@(itemName)", "@Url.Action("GetRepairClass", "QmsBasicInformation")", { "GroupId": $("#cboRepairGroupNo@(itemName)").val(), "Status": "A"}, "", "CHOOSE", "", "RepairClassWithText", "ClassId");
        });

        function Save@(itemName)() {
            let targetUrl = "@Url.Action("AddRepairCause", "QmsBasicInformation")";
            let postData = {
                "ClassId": $("#cboRepairClassNo@(itemName)").val(),
                "CauseNo": $("#txtRepairCauseNo@(itemName)").val(),
                "CauseName": $("#txtRepairCauseName@(itemName)").val(),
                "Status": $("#cboStatusNo@(itemName)").val(),
                "CauseDesc": $("#txtRepairCauseDesc@(itemName)").val(),
                "ResponsibleDepartment": $("#cboDepartmentNo@(itemName)").val()
            };

            let data = DataAccess.EditContinued(targetUrl, postData, false);

            if (data) {
                let id = "RepairCause" + data.result[0]["CauseId"].toString();
                let parent = "RepairClass" + $("#cboRepairClassNo@(itemName)").val();
                closeModal@(itemName)(id, parent);
            }
        }

        function closeModal@(itemName)(id, parent) {
            $("#modal@(itemName)").modal("hide");
            $("#modal@(itemName)").find("input").val("");
            ReturnRepairManagement(id, parent);
        }
    </script>
)