@using Business_Manager.Helpers
@{
    string itemName = "ViewAddQcClass";
    string itemNameText = "新增量測類別";
}

@Html.Resource("css",
    @<style>
    </style>
)

<div class="modal fade" id="modal@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">新增-量測類別</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">群組 <span class="text-danger">*</span></label>
                            <div class="col-12">
                                <select class="form-control" id="cboQcGroupId@(itemName)" name="cboQcGroupId@(itemName)" aria-invalid="false"
                                        data-msg-required="請選擇群組" data-rule-required="true"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtQcClassNo@(itemName)">類別代碼 <span class="text-danger">*</span></label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtQcClassNo@(itemName)" name="txtQcClassNo@(itemName)" placeholder="請輸入類別代碼"
                                       data-msg-required="請輸入類別代碼" data-rule-required="true"
                                       data-msg-maxlength="必須少於 100 個字元" maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtQcClassName@(itemName)">類別名稱 <span class="text-danger">*</span></label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtQcClassName@(itemName)" name="txtQcClassName@(itemName)" placeholder="請輸入類別名稱"
                                       data-msg-required="請輸入類別名稱" data-rule-required="true"
                                       data-msg-maxlength="必須少於 100 個字元" maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtQcClassDesc@(itemName)">描述 <span class="text-danger">*</span></label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtQcClassDesc@(itemName)" name="txtQcClassDesc@(itemName)" placeholder="請輸入影響原因"
                                       data-msg-required="請輸入類別描述" data-rule-required="true"
                                       data-msg-maxlength="必須少於 100 個字元" maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">狀態</label>
                            <div class="col-12">
                                <select class="form-control" id="cboStatusNo@(itemName)" name="cboStatusNo@(itemName)" aria-invalid="false"></select>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>

        let objForm@(itemName) = "#editForm@(itemName)";

        $(function () {
            ComboBoxs.Default("#cboQcGroupId@(itemName)", "@Url.Action("GetQcGroup", "QmsBasicInformation")", {}, "", "CHOOSE", "", "QcGroupWithText", "QcGroupId");
            ComboBoxs.Default("#cboStatusNo@(itemName)", "@Url.Action("GetStatus", "BasicInformation")", { "StatusSchema": "Status" }, "", "CHOOSE", "", "StatusDesc", "StatusNo");
            if (!isMobile) {
                $("#cboQcGroupId@(itemName)").select2({
                    width: "100%"
                });
                $("#cboStatusNo@(itemName)").select2({
                    width: "100%"
                });
            }
        })

        function Pop@(itemName)() {
            $("#modal@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });

        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let targetUrl = "@Url.Action("AddQcClass", "QmsBasicInformation")";
                let postData = {
                    "QcGroupId": $("#cboQcGroupId@(itemName)").val(),
                    "QcClassNo": $("#txtQcClassNo@(itemName)").val(),
                    "QcClassName": $("#txtQcClassName@(itemName)").val(),
                    "QcClassDesc": $("#txtQcClassDesc@(itemName)").val(),
                    "Status": $("#cboStatusNo@(itemName)").val()
                };

                let data = DataAccess.EditContinued(targetUrl, postData, false);

                if (data) {
                    let id = "QcClass" + data.result[0]["QcClassId"].toString();
                    let parent = "QcGroup" + $("#cboQcGroupId@(itemName)").val().toString();
                    closeModal@(itemName)(id, parent);
                    ComboBoxs.Default("#cboQcClassNoViewAddQcItem", "@Url.Action("GetQcClass", "QmsBasicInformation")", { "QcGroupId": $("#cboQcGroupNoViewAddItem").val(), "Status": "A" }, "", "CHOOSE", "", "QcClassWithText", "QcClassId");
                }
            }
        }

        function closeModal@(itemName)(id, parent) {
            $("#modal@(itemName)").modal("hide");
            $("#modal@(itemName)").find("input").val("");
            ReturnQcItemManagement(id, parent);
        }
    </script>
)