@using Business_Manager.Helpers
@{
    string itemName = "ViewAddNgClass";
    string itemNameText = "新增異常類別";
}

@Html.Resource("css",
    @<style>
    </style>
)

<div class="modal fade" id="modal@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">新增-不良現象類別</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">群組</label>
                            <div class="col-12">
                                <select class="form-control" id="cboNgGroupNo@(itemName)" name="cboNgGroupNo@(itemName)" aria-invalid="false"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtNgClassNo@(itemName)">類別代碼</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtNgClassNo@(itemName)" name="txtNgClassNo@(itemName)" placeholder="請輸入類別代碼"
                                       data-msg-required="請輸入類別代碼" data-rule-required="true"
                                       data-msg-maxlength="必須少於 100 個字元" maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtNgClassName@(itemName)">類別名稱</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtNgClassName@(itemName)" name="txtNgClassName@(itemName)" placeholder="請輸入類別名稱"
                                       data-msg-required="請輸入類別名稱" data-rule-required="true"
                                       data-msg-maxlength="必須少於 100 個字元" maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">狀態</label>
                            <div class="col-12">
                                <select class="form-control" id="cboStatusNo@(itemName)" name="cboStatusNo@(itemName)" aria-invalid="false"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtNgClassDesc@(itemName)">描述</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtNgClassDesc@(itemName)" name="txtNgClassDesc@(itemName)" placeholder="請輸入影響原因"
                                       data-msg-required="請輸入類別描述" data-rule-required="true"
                                       data-msg-maxlength="必須少於 100 個字元" maxlength="100" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        $(function () {
            ComboBoxs.Default("#cboNgGroupNo@(itemName)", "@Url.Action("GetNgGroup", "QmsBasicInformation")", {}, "", "CHOOSE", "", "NgGroupWithText", "GroupId");
            ComboBoxs.Default("#cboStatusNo@(itemName)", "@Url.Action("GetStatus", "BasicInformation")", { "StatusSchema": "Status" }, "", "CHOOSE", "", "StatusDesc", "StatusNo");
            if (!isMobile) {
                $("#cboNgGroupNo@(itemName)").select2({
                    width: "100%"
                });
                $("#cboStatusNo@(itemName)").select2({
                    width: "100%"
                });
            }
        })

        function Pop@(itemName)() {
            $("#modal@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });

        }

        function Save@(itemName)() {
            let targetUrl = "@Url.Action("AddNgClass", "QmsBasicInformation")";
            let postData = {
                "GroupId": $("#cboNgGroupNo@(itemName)").val(),
                "ClassNo": $("#txtNgClassNo@(itemName)").val(),
                "ClassName": $("#txtNgClassName@(itemName)").val(),
                "ClassDesc": $("#txtNgClassDesc@(itemName)").val(),
                "Status": $("#cboStatusNo@(itemName)").val()
            };

            let data = DataAccess.EditContinued(targetUrl, postData, false);

            if (data) {
                let id = "NgClass" + data.result[0]["ClassId"].toString();
                let parent = "NgGroup" + $("#cboNgGroupNo@(itemName)").val().toString();
                closeModal@(itemName)(id, parent);
                ComboBoxs.Default("#cboNgClassNoViewAddNgCause", "@Url.Action("GetNgClass", "QmsBasicInformation")", { "GroupId": $("#cboNgGroupNoViewAddNgCause").val(), "Status": "A" }, "", "CHOOSE", "", "NgClassWithText", "ClassId");
            }
        }

        function closeModal@(itemName)(id, parent) {
            $("#modal@(itemName)").modal("hide");
            $("#modal@(itemName)").find("input").val("");
            ReturnDefectManagement(id, parent);
        }
    </script>
)