@using Business_Manager.Helpers
@{
    string itemName = "ViewAddQcItem";
    string itemNameText = "新增量測項目";
}

@Html.Resource("css",
    @<style>
    </style>
        )

<div class="modal fade" id="modal@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">新增-量測項目</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboQcGroupId@(itemName)">群組 <span class="text-danger">*</span></label>
                            <div class="col-12">
                                <select class="form-control" id="cboQcGroupId@(itemName)" name="cboQcGroupId@(itemName)"
                                        data-msg-required="請選擇群組" data-rule-required="true"
                                        aria-invalid="false"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboQcClassNo@(itemName)">類別 <span class="text-danger">*</span></label>
                            <div class="col-12">
                                <select class="form-control" id="cboQcClassNo@(itemName)" name="cboQcClassNo@(itemName)"
                                        data-msg-required="請選擇類別" data-rule-required="true"
                                        aria-invalid="false"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboQcType@(itemName)">檢驗類別 <span class="text-danger">*</span></label>
                            <div class="col-12">
                                <select class="form-control" id="cboQcType@(itemName)" name="cboQcType@(itemName)"
                                        data-msg-required="請選擇檢驗類別" data-rule-required="true"
                                        aria-invalid="false"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboQcItemType@(itemName)">量測項目輸入方式 <span class="text-danger">*</span></label>
                            <div class="col-12">
                                <select class="form-control" id="cboQcItemType@(itemName)" name="cboQcItemType@(itemName)"
                                        data-msg-required="請選擇量測項目輸入方式" data-rule-required="true"
                                        aria-invalid="false"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtQcItemNo@(itemName)">項目代碼 <span class="text-danger">*</span></label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtQcItemNo@(itemName)" name="txtQcItemNo@(itemName)" placeholder="請輸入項目代碼"
                                       data-msg-required="請輸入項目代碼" data-rule-required="true"
                                       data-msg-maxlength="必須少於 10 個字元" maxlength="10" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtQcItemName@(itemName)">項目名稱 <span class="text-danger">*</span></label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtQcItemName@(itemName)" name="txtQcItemName@(itemName)" placeholder="請輸入項目名稱"
                                       data-msg-required="請輸入項目名稱" data-rule-required="true"
                                       data-msg-maxlength="必須少於 100 個字元" maxlength="50" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtQcItemDesc@(itemName)">項目描述 <span class="text-danger">*</span></label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtQcItemDesc@(itemName)" name="txtQcItemDesc@(itemName)" placeholder="請輸入項目描述"
                                       data-msg-required="請輸入項目描述" data-rule-required="true"
                                       data-msg-maxlength="必須少於 100 個字元" maxlength="50" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtRemark@(itemName)">備註</label>
                            <div class="col-12">
                                <textarea class="form-control" id="txtRemark@(itemName)" name="txtRemark@(itemName)"
                                          data-msg-maxlength="必須少於 255 個字元" maxlength="255" rows="2" placeholder="請輸入備註"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">狀態</label>
                            <div class="col-12">
                                <select class="form-control" id="cboStatusNo@(itemName)" name="cboStatusNo@(itemName)" aria-invalid="false"></select>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>

        let objForm@(itemName) = "#editForm@(itemName)";

        $(function () {
            ComboBoxs.Default("#cboQcGroupId@(itemName)", "@Url.Action("GetQcGroup", "QmsBasicInformation")", {}, "", "CHOOSE", "", "QcGroupWithText", "QcGroupId");
            ComboBoxs.Default("#cboQcClassNo@(itemName)", "@Url.Action("GetQcClass", "QmsBasicInformation")", { "QcGroupId": $("#cboQcGroupId@(itemName)").val(), "Status": "A"}, "", "CHOOSE", "", "QcClassWithText", "QcClassId");
            ComboBoxs.Default("#cboQcType@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "QcItem.QcType" }, "", "NA", "", "TypeName", "TypeNo");
            ComboBoxs.Default("#cboQcItemType@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "QcItem.QcItemType" }, "", "NA", "", "TypeName", "TypeNo");
            ComboBoxs.Default("#cboStatusNo@(itemName)", "@Url.Action("GetStatus", "BasicInformation")", { "StatusSchema": "Status" }, "", "CHOOSE", "", "StatusDesc", "StatusNo");

            if (!isMobile) {
                $("#cboQcGroupId@(itemName)").select2({
                    width: "100%"
                });
                $("#cboQcClassNo@(itemName)").select2({
                    width: "100%"
                });
                $("#cboQcType@(itemName)").select2({
                    width: "100%"
                });
                $("#cboQcItemType@(itemName)").select2({
                    width: "100%"
                });
                $("#cboStatusNo@(itemName)").select2({
                    width: "100%"
                });
            }
        })

        function Pop@(itemName)() {
            $("#modal@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });
        }

        $("#cboQcGroupId@(itemName)").change(function () {
            ComboBoxs.Default("#cboQcClassNo@(itemName)", "@Url.Action("GetQcClass", "QmsBasicInformation")", { "QcGroupId": $("#cboQcGroupId@(itemName)").val(), "Status": "A"}, "", "CHOOSE", "", "QcClassWithText", "QcClassId");
        });

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let targetUrl = "@Url.Action("AddQcItem", "QmsBasicInformation")";
                let postData = {
                    "QcClassId": $("#cboQcClassNo@(itemName)").val(),
                    "QcItemNo": $("#txtQcItemNo@(itemName)").val(),
                    "QcItemName": $("#txtQcItemName@(itemName)").val(),
                    "QcItemDesc": $("#txtQcItemDesc@(itemName)").val(),
                    "QcType": $("#cboQcType@(itemName)").val(),
                    "QcItemType": $("#cboQcItemType@(itemName)").val(),
                    "Status": $("#cboStatusNo@(itemName)").val(),
                    "Remark": $("#txtRemark@(itemName)").val()
                };

                let data = DataAccess.EditContinued(targetUrl, postData, false);

                if (data) {
                    let id = "QcItem" + data.result[0]["QcItemId"].toString();
                    let parent = "QcClass" + $("#cboQcClassNo@(itemName)").val();
                    closeModal@(itemName)(id, parent);
                    PopViewMachineMode(data.result[0]["QcItemId"], data.result[0]["QcItemName"]);
                }
            }
        }

        function closeModal@(itemName)(id, parent) {
            $("#modal@(itemName)").modal("hide");
            $("#modal@(itemName)").find("input").val("");
            ReturnQcItemManagement(id, parent);
        }
    </script>
)