@using Business_Manager.Helpers
@{
    string itemName = "ViewCompanySwitch";
    string itemNameText = "公司別切換";
}

@Html.Resource("css",
    @<style>
    </style>
)

<div class="modal fade" id="modal@(itemName)">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@(itemNameText)</h5>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboCompanyId@(itemName)">所屬公司 <span class="text-danger">*</span></label>
                            <div class="col-12">
                                <select class="form-control" id="cboCompanyId@(itemName)" name="cboCompanyId@(itemName)"
                                        data-msg-required="請選擇所屬公司" data-rule-required="true"></select>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="Close@(itemName)()"><i class="fas fa-times"></i>關閉</button>
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        let objForm@(itemName) = "#editForm@(itemName)";

        function Pop@(itemName)() {
            let targetUrl = "@Url.Action("GetCompanySwitchVerify", "User")";
            let postData = {};

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                ComboBoxs.Default("#cboCompanyId@(itemName)", "@Url.Action("GetUserCompanyAuthority", "SystemSetting")", {}, "", "NA", "", "CompanyName", "CompanyId");

                $("#cboCompanyId@(itemName)").select2({
                    dropdownAutoWidth: true,
                    width: "100%"
                });

                $("#modal@(itemName)").modal({
                    backdrop: "static",
                    keyboard: false,
                    show: true
                });
            }
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let targetUrl = "@Url.Action("UpdateCompanySwitch", "User")";
                let postData = {
                    "CompanyId": $("#cboCompanyId@(itemName)").val()
                };

                let result = DataAccess.Update(targetUrl, postData, false, false);

                if (result) {
                    location.reload();
                }
            }
        }

        function Close@(itemName)() {
            ResetForm(objForm@(itemName));
            $("#modal@(itemName)").modal('hide');
        }
    </script>
)