@using Business_Manager.Helpers
@{
    string itemName = "QcMeasurementPlanning";
    string itemNameText = "量測排程管理";
    string authority = ViewBag.authority;
    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
    </style>
                )

<link href="@Url.Content("~/Content/measurement_planning.min.css")" rel="stylesheet" />



<div id="qmPlanning" class="card" style="display: none;">
    <div class="card-body">
        <a style="font-size: 18px; font-weight: 600;" href="javascript: Back();"><i class="fas fa-arrow-alt-circle-left"></i> 返回列表清單</a>
        <!--步驟-->
        <div class="step-1" id="checkout-progress" data-current-step="1">
            <div class="progress-bar">
                <div class="step step-1 active" style="cursor: pointer;" onclick="GoStep('1');">
                    <div class="step-label up">
                        <i class="far fa-user-cog"></i>
                    </div>
                    <span class="nub">1</span>
                    <div class="fa fa-check opaque"></div>
                    <div class="step-label">機型確認</div>
                </div>
                <div class="step step-2" style="cursor: pointer;" onclick="GoStep('2');">
                    <div class="step-label up">
                        <i class="fas fa-edit"></i>
                    </div>
                    <span class="nub">2</span>
                    <div class="fa fa-check opaque"></div>
                    <div class="step-label">預計量測工時</div>
                </div>
                <div class="step step-3" style="cursor: pointer;" onclick="GoStep('3');">
                    <div class="step-label up">
                        <i class="far fa-computer-classic"></i>
                    </div>
                    <span class="nub">3</span>
                    <div class="fa fa-check opaque"></div>
                    <div class="step-label">機台排程</div>
                </div>
            </div>
        </div>

        <!--步驟一、步驟二-->
        @Html.Partial("QcRecordPlanning")

        <!--步驟三-->
        @Html.Partial("QcMachineModePlanning")

    </div>
</div>


@Html.Resource("js",
    @<script>
        function Pop@(itemName)(QcRecordId, MtlItemName, MeasurementPlanning) {
            $("#qmPlanning").show();
            PopQcRecordPlanning(QcRecordId, MtlItemName);
            if (MeasurementPlanning == "Y") {
                GoStep("3");
            }
        }

        function NextAction() {
            let currentStepNum = $('#checkout-progress').data('current-step');
            let nextStepNum = (currentStepNum + 1);
            let currentStep = $('.step.step-' + currentStepNum);
            let nextStep = $('.step.step-' + nextStepNum);
            let progressBar = $('#checkout-progress');
            $('.btn-prev').removeClass('disabled');
            if (currentStepNum == 5) {
                return false;
            }
            if (nextStepNum == 5) {
                $(this).addClass('disabled');
            }
            $('.checkout-progress').removeClass('.step-' + currentStepNum).addClass('.step-' + (currentStepNum + 1));

            currentStep.removeClass('active').addClass('valid');
            currentStep.find('span').addClass('opaque');
            currentStep.find('.fa.fa-check').removeClass('opaque');

            nextStep.addClass('active');
            progressBar.removeAttr('class').addClass('step-' + nextStepNum).data('current-step', nextStepNum);
        }

        function PrevAction() {
            let currentStepNum = $('#checkout-progress').data('current-step');
            let prevStepNum = (currentStepNum - 1);
            let currentStep = $('.step.step-' + currentStepNum);
            let prevStep = $('.step.step-' + prevStepNum);
            let progressBar = $('#checkout-progress');
            $('.btn-next').removeClass('disabled');
            if (currentStepNum == 1) {
                return false;
            }
            if (prevStepNum == 1) {
                $(this).addClass('disabled');
            }
            $('.checkout-progress').removeClass('.step-' + currentStepNum).addClass('.step-' + (prevStepNum));

            currentStep.removeClass('active');
            prevStep.find('span').removeClass('opaque');
            prevStep.find('.fa.fa-check').addClass('opaque');

            prevStep.addClass('active').removeClass('valid');
            progressBar.removeAttr('class').addClass('step-' + prevStepNum).data('current-step', prevStepNum);
        }

        function InitStep() {
            PrevAction();
            PrevAction();
        }

        function Back() {
            InitStep();
            $("#listDataQcDataManagement").show();
            $("#qmPlanning").hide();
            $("#step1").show();
            $("#step2").hide();
            $("#step3").hide();
        }

        function GoStep(step) {
            let currentStepNum;
            switch (step) {
                case "1":
                    currentStepNum = $('#checkout-progress').data('current-step');
                    if (currentStepNum == "2") {
                        PrevAction();
                    }
                    else if (currentStepNum == "3") {
                        PrevAction();
                        PrevAction();
                    }

                    InitStep1();
                    break;
                case "2":
                    currentStepNum = $('#checkout-progress').data('current-step');
                    if (currentStepNum == "1") {
                        NextAction();
                    }
                    else if (currentStepNum == "3") {
                        PrevAction();
                    }

                    InitStep2();
                    break;
                case "3":
                    currentStepNum = $('#checkout-progress').data('current-step');
                    if (currentStepNum == "2") {
                        NextAction();
                    }
                    else if (currentStepNum == "1") {
                        NextAction();
                        NextAction();
                    }

                    InitStep3();
                    break;
            }
        }
    </script>
              )








