@using Business_Manager.Helpers
@{
    string itemName = "ViewQcGoodsReceipt";
    string itemNameText = "進貨單身檢驗作業";
}

<div class="modal fade" data-backdrop="static" data-keyboard="false" id="modal@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header" style="align-items: center;">
                <h5 class="modal-title">
                    @itemNameText
                </h5>
                <button class="close" type="button" onclick="Close@(itemName)()">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body" style="max-height: 75vh; overflow: scroll;">
                <form class="container" autocomplete="off" id="editForm@(itemName)">
                    <input type="hidden" id="txtLogId@(itemName)" value="0" />
                    <fieldset>
                        <div class="row">
                            <div class="col-lg-9 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtGrErpPrefix@(itemName)">進貨單號<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <input type="text" class="form-control" id="txtGrErpFullNo@(itemName)" name="txtGrErpFullNo@(itemName)" value="" readonly />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtGrSeq@(itemName)">進貨序號<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <input type="text" class="form-control" id="txtGrSeq@(itemName)" name="txtGrSeq@(itemName)" value="" readonly />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtMtlItemNo@(itemName)">品號<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <input type="text" class="form-control" id="txtMtlItemNo@(itemName)" name="txtMtlItemNo@(itemName)" value="" readonly />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtMtlItemName@(itemName)">品名<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <input type="text" class="form-control" id="txtMtlItemName@(itemName)" name="txtMtlItemName@(itemName)" value="" readonly />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtMtlItemSpec@(itemName)">規格<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <input type="text" class="form-control" id="txtMtlItemSpec@(itemName)" name="txtMtlItemSpec@(itemName)" value="" readonly />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="cboInventoryId@(itemName)">進貨庫別<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select class="form-control" id="cboInventoryId@(itemName)" name="cboInventoryId@(itemName)" disabled required></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 ">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtAcceptanceDate@(itemName)">驗收日期<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <input type="date" class="form-control" id="txtAcceptanceDate@(itemName)" name="txtAcceptanceDate@(itemName)"
                                               placeholder="請輸入驗收日期"
                                               value=""/>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab" style="white-space:unset;">
                            <ul class="nav nav-tabs nav-fill mb-3" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="tabActive" data-toggle="tab" href="#tabQuote">
                                        檢驗數量設定
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="tab-content">
                            <div class="tab-pane active" id="tabQuote">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="txtReceiptQty@(itemName)">進貨數量</label>
                                            <div class="col-12">
                                                <input type="text" class="form-control" id="txtReceiptQty@(itemName)" name="txtReceiptQty@(itemName)" value="0" readonly />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-4 col-md-12 ">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="txtQcStatus@(itemName)">檢驗狀態<span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <select id="cboQcStatus@(itemName)" class="form-control"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12 ">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="txtAcceptQty@(itemName)">驗收數量<span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <input type="number" class="form-control" id="txtAcceptQty@(itemName)" name="txtAcceptQty@(itemName)"
                                                       value="0"
                                                       placeholder="請輸入驗收數量"
                                                       data-msg-required="請輸入驗收數量" data-rule-required="true"
                                                       oninput="EditQty@(itemName)('accept')" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12 ">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="txtReturnQty@(itemName)">驗退數量<span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <input type="number" class="form-control" id="txtReturnQty@(itemName)" name="txtReturnQty@(itemName)"
                                                       value="0"
                                                       placeholder="請輸入驗退數量"
                                                       data-msg-required="請輸入驗退數量" data-rule-required="true"
                                                       oninput="EditQty@(itemName)('return')" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="txtQuickStatus@(itemName)">是否急料 <code>*特殊情況，由品保人員直接核單</code></label>
                                            <div class="col-12">
                                                <select class="form-control" id="txtQuickStatus@(itemName)" name="txtQuickStatus@(itemName)">
                                                    <option value="Y">是</option>
                                                    <option value="N" selected>否</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 ">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="txtRemark@(itemName)">備註</label>
                                            <div class="col-12">
                                                <textarea class="form-control" id="txtRemark@(itemName)" name="txtRemark@(itemName)" rows="2"
                                                          placeholder="請輸入備註"
                                                          data-msg-required="請輸入備註"
                                                          data-msg-maxlength="必須少於 255 個字元" maxlength="255"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 ">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="txtQcGoodsReceiptLogFile@(itemName)">檔案上傳</label>
                                            <div class="col-12">
                                                <input type="file" id="fileQcGoodsReceiptLogFile@(itemName)" name="fileQcGoodsReceiptLogFile@(itemName)" multiple />
                                                <input type="hidden" id="txtQcGoodsReceiptLogFile@(itemName)" name="txtQcGoodsReceiptLogFile@(itemName)" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success save-btn" onclick="Save@(itemName)()"><i class="fas fa-check-square"></i> 確認</button>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        let qcGoodsReceiptId@(itemName);
        let grDetailId@(itemName);
        let timer@(itemName);
        let objForm@(itemName) = "#editForm@(itemName)";

        function Pop@(itemName)(qcGoodsReceiptId, grDetailId, mode) {
            if (grDetailId <= 0) {
                alert("進貨單單身ID錯誤!!")
                return false;
            }

            qcGoodsReceiptId@(itemName) = qcGoodsReceiptId;
            grDetailId@(itemName) = grDetailId;

            Init@(itemName)();

            if (mode == "view") {
                $('#editForm@(itemName) input, #editForm@(itemName) select, #editForm@(itemName) textarea').prop('disabled', true);
                $(".save-btn").hide();
            }
            else {
                $('#editForm@(itemName) input, #editForm@(itemName) select, #editForm@(itemName) textarea').prop('disabled', false);
                $(".save-btn").show();
            }

            $("#modal@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });

            $("#cboInventoryId@(itemName), #cboAvailableUomId@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });

            $("#txtQuickStatus@(itemName)").change(function () {
                const quickStatus = $(this).val();
                let $QcStatus = $("#cboQcStatus@(itemName)");
                if (quickStatus == "Y") {
                    $QcStatus.val("0");
                } else {
                    $QcStatus.val("1");
                }
            });
        }

        function Init@(itemName)() {
            let targetUrl = "@Url.Action("GetQcGoodsReceiptLog", "QcDataManagement")";
            let postData = {
                "QcGoodsReceiptId": qcGoodsReceiptId@(itemName),
            };
            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                if (data.result.length > 0) {
                    $.each(data.result, function (i, item) {
                        $("#txtLogId@(itemName)").val(item.LogId);
                        $("#txtGrErpFullNo@(itemName)").val(item.GrErpPrefix + "-" + item.GrErpNo);
                        $("#txtGrSeq@(itemName)").val(item.GrSeq);
                        $("#txtMtlItemNo@(itemName)").val(item.MtlItemNo);
                        $("#txtMtlItemName@(itemName)").val(item.MtlItemName);
                        $("#txtMtlItemSpec@(itemName)").val(item.MtlItemSpec);
                        ComboBoxs.Default("#cboInventoryId@(itemName)", "@Url.Action("GetInventory", "ScmBasicInformation")", { "Status": "A" }, item.InventoryId, "NA", "", "InventoryWithNo", "InventoryId");
                        $("#txtAcceptanceDate@(itemName)").val(item.AcceptanceDate);
                        $("#txtReceiptQty@(itemName)").val(item.ReceiptQty);
                        ComboBoxs.Default("#cboQcStatus@(itemName)", "@Url.Action("GetStatus", "BasicInformation")", { "StatusSchema": "GrDetail.QcStatus" }, item.QcStatus, "NA", "", "StatusName", "StatusNo");
                        $("#txtAcceptQty@(itemName)").val(item.AcceptQty);
                        $("#txtReturnQty@(itemName)").val(item.ReturnQty);
                        $("#txtQuickStatus@(itemName)").val(item.QuickStatus);
                        $("#txtRemark@(itemName)").val(item.Remark);

                        if (item.QcGoodsReceiptLogFile != null) {
                            let qcGoodsReceiptLogFileJson = JSON.parse(item.QcGoodsReceiptLogFile);
                            let qcGoodsReceiptLogFileList = [];
                            $.each(qcGoodsReceiptLogFileJson.data, function (j, item2) {
                                qcGoodsReceiptLogFileList.push(item2.FileId);
                            });
                            $("#txtQcGoodsReceiptLogFile@(itemName)").val(qcGoodsReceiptLogFileList.toString());
                        }
                    });
                }
                else {
                    GetGrDetail@(itemName)();
                }
            }
            else {
                alert(data.msg);
            }

            let uploadConfig = {
                fileSelector: "#fileQcGoodsReceiptLogFile@(itemName)",
                targetSelector: "#txtQcGoodsReceiptLogFile@(itemName)",
                required: false,
                uploadPath: "/QcDataManagement/QcGoodsReceiptManagement",
                maxFileCount: 999,
                defaultFile: $("#txtQcGoodsReceiptLogFile@(itemName)").val()
            };
            Suites.FileUpload(uploadConfig);
        }

        function GetGrDetail@(itemName)() {
            let targetUrl = "@Url.Action("GetGrDetail", "GoodsReceipt")";
            let postData = {
                "GrDetailId": grDetailId@(itemName),
            };
            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                if (data.result.length > 0) {
                    $.each(data.result, function (i, item) {
                        $("#txtGrErpFullNo@(itemName)").val(item.GrErpPrefix + "-" + item.GrErpNo);
                        $("#txtGrSeq@(itemName)").val(item.GrSeq);
                        $("#txtMtlItemNo@(itemName)").val(item.MtlItemNo);
                        $("#txtMtlItemName@(itemName)").val(item.MtlItemName);
                        $("#txtMtlItemSpec@(itemName)").val(item.MtlItemSpec);
                        ComboBoxs.Default("#cboInventoryId@(itemName)", "@Url.Action("GetInventory", "ScmBasicInformation")", { "Status": "A" }, item.InventoryId, "NA", "", "InventoryWithNo", "InventoryId");
                        $("#txtAcceptanceDate@(itemName)").val(item.AcceptanceDate);
                        $("#txtReceiptQty@(itemName)").val(item.ReceiptQty);
                        ComboBoxs.Default("#cboQcStatus@(itemName)", "@Url.Action("GetStatus", "BasicInformation")", { "StatusSchema": "GrDetail.QcStatus" }, item.QcStatus, "NA", "", "StatusName", "StatusNo");
                        $("#txtAcceptQty@(itemName)").val(item.ReceiptQty);
                        $("#txtReturnQty@(itemName)").val(0);
                    });
                }
            }
            else {
                alert(data.msg);
            }
        }

        function EditQty@(itemName)(editType) {
            clearTimeout(timer@(itemName));
            timer@(itemName) = setTimeout(function () {
                let receiptQty = parseInt($("#txtReceiptQty@(itemName)").val());
                let acceptQty = parseInt($("#txtAcceptQty@(itemName)").val());
                let returnQty = parseInt($("#txtReturnQty@(itemName)").val());

                if (acceptQty < 0) {
                    alert("【驗收數量】不可小於0!!", "alert", 3500);
                    acceptQty = receiptQty;
                    $("#txtAcceptQty@(itemName)").val(acceptQty);
                    return false;
                }

                if (acceptQty > receiptQty) {
                    alert("【驗收數量】不可大於進貨數量!!", "alert", 3500);
                    acceptQty = receiptQty;
                    $("#txtAcceptQty@(itemName)").val(acceptQty);
                    $("#txtReturnQty@(itemName)").val(0);
                    return false;
                }

                if (returnQty < 0) {
                    alert("【驗退數量】不可小於0!!", "alert", 3500);
                    returnQty = 0;
                    $("#txtReturnQty@(itemName)").val(returnQty);
                    return false;
                }

                if (returnQty > receiptQty) {
                    alert("【驗退數量】不可大於進貨數量!!", "alert", 3500);
                    $("#txtAcceptQty@(itemName)").val(acceptQty);
                    $("#txtReturnQty@(itemName)").val(0);
                    return false;
                }

                switch (editType) {
                    case "accept":
                        if (acceptQty + returnQty > receiptQty) {
                            alert("【驗收數量 + 驗退數量】不可大於進貨數量!!");
                            acceptQty = receiptQty;
                            $("#txtAcceptQty@(itemName)").val(acceptQty);
                            return false;
                        }

                        $("#txtReturnQty@(itemName)").val(receiptQty - acceptQty);
                        break;
                    case "return":
                        $("#txtAcceptQty@(itemName)").val(receiptQty - returnQty);
                        break;
                    default:
                        break;
                }
            }, 500);
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let logId = parseInt($("#txtLogId@(itemName)").val());
                if (logId <= 0) {
                    let targetUrl = "@Url.Action("AddQcGoodsReceiptLog", "QcDataManagement")";
                    let postData = {
                        "QcGoodsReceiptId": qcGoodsReceiptId@(itemName),
                        "AcceptanceDate": $("#txtAcceptanceDate@(itemName)").val(),
                        "QcStatus": $("#cboQcStatus@(itemName)").val(),
                        "ReceiptQty": $("#txtReceiptQty@(itemName)").val(),
                        "AcceptQty": $("#txtAcceptQty@(itemName)").val(),
                        "ReturnQty": $("#txtReturnQty@(itemName)").val(),
                        "QuickStatus": $("#txtQuickStatus@(itemName)").val(),
                        "Remark": $("#txtRemark@(itemName)").val(),
                        "QcGoodsReceiptLogFile": $("#txtQcGoodsReceiptLogFile@(itemName)").val(),
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Init@(itemName)();
                    }
                }
                else {
                    let targetUrl = "@Url.Action("UpdateQcGoodsReceiptLog", "QcDataManagement")";
                    let postData = {
                        "LogId": logId,
                        "QcGoodsReceiptId": qcGoodsReceiptId@(itemName),
                        "AcceptanceDate": $("#txtAcceptanceDate@(itemName)").val(),
                        "QcStatus": $("#cboQcStatus@(itemName)").val(),
                        "ReceiptQty": $("#txtReceiptQty@(itemName)").val(),
                        "AcceptQty": $("#txtAcceptQty@(itemName)").val(),
                        "ReturnQty": $("#txtReturnQty@(itemName)").val(),
                        "QuickStatus": $("#txtQuickStatus@(itemName)").val(),
                        "Remark": $("#txtRemark@(itemName)").val(),
                        "QcGoodsReceiptLogFile": $("#txtQcGoodsReceiptLogFile@(itemName)").val(),
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Init@(itemName)();
                    }
                }
            }
        }

        function Close@(itemName)() {
            ResetForm(objForm@(itemName));
            $("#txtQcGoodsReceiptLogFile@(itemName)").val("");
            $("#txtLogId@(itemName)").val(0);
            $("#modal@(itemName)").modal('hide');
        }
    </script>
  )