@using Business_Manager.Helpers
@{
    string itemName = "ViewQcOutsourcingResult";
    string itemNameText = "委外量測上傳結果";
}

@Html.Resource("css",
    @<style>
         #modalViewQcDataResult .modal-body {
             /*max-height: 75vh;*/
             overflow-y: auto;
         }

         #modalViewQcDataResult #editDataViewQcDataResult .table-custom {
             max-height: 50vh;
             overflow: scroll;
         }

         .table-sticky thead .col-sticky:nth-last-child(1) {
             right: 0;
         }

         .table-sticky tbody .col-sticky:nth-last-child(1) {
             right: 0;
         }
    </style>
                                        )

<div class="modal fade" id="modal@(itemName)">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    @(itemNameText)
                    <span class="sub-title">製令: <span class="sub-text" id="desWoErpFullNo@(itemName)"></span></span>
                    <span class="sub-title">量測類型: <span class="sub-text" id="desQcType@(itemName)"></span></span>
                </h5>
                <a class="close list-mode" href="javascript:void(0);" onclick="Close@(itemName)('ModalRemark@(itemName)')"><i class="fas fa-times"></i></a>
            </div>
            <div class="modal-body" style="max-height: 75vh; overflow: scroll;">
                <div class="row" id="listData@(itemName)">
                    <div class="col-12" style="margin-bottom: 5px;">
                        <form autocomplete="off" id="queryForm@(itemName)">
                            <fieldset>
                                <div class="form-row align-items-center mb-2">
                                    <div class="col-auto">
                                        <input type="text" class="form-control" id="txtBarcodeNoQ@(itemName)" name="txtBarcodeNoQ@(itemName)"
                                               placeholder="請輸入產品條碼" />
                                    </div>
                                    <div class="col-auto">
                                        <input type="text" class="form-control" id="txtQcItemNameQ@(itemName)" name="txtQcItemNameQ@(itemName)"
                                               placeholder="請輸入量測項目" />
                                    </div>
                                    <div class="col-auto">
                                        <select id="cboQcResultQ@(itemName)" class="form-control">
                                            <option value="">選擇類型</option>
                                            <option value="P">通過</option>
                                            <option value="F" selected>不通過</option>
                                        </select>
                                    </div>
                                    <div class="col-auto">
                                        <button type="button" class="btn btn-primary" onclick="Query@(itemName)()"><i class="fal fa-search"></i>搜尋</button>
                                    </div>
                                    @*<div class="col-auto">
                                        <button type="button" id="btnEdit@(itemName)" class="btn btn-secondary" onclick="Edit@(itemName)()" style="float: right;">
                                            <i class="fas fa-edit"></i> 後續異常處理
                                        </button>
                                    </div>*@
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" class="text-center">
                                            <label class="col-12 col-form-label">
                                                # 全選 <input type="checkbox" id="cbxSelectAll@(itemName)" />
                                            </label>
                                        </th>
                                        <th scope="col" style="min-width: 100px;">產品條碼</th>
                                        <th scope="col" style="min-width: 100px;">量測項目</th>
                                        <th scope="col" style="min-width: 75px;">數據</th>
                                        <th scope="col" style="min-width: 75px;">結果</th>
                                        <th scope="col" style="max-width: 100px;">量測人員</th>
                                        <th scope="col" style="max-width: 150px; min-width: 100px;">異常原因</th>
                                        <th scope="col" style="max-width: 150px; min-width: 100px;">異常描述</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="row" id="editData@(itemName)" style="display: none;">
                    <div class="col-12">
                        <form class="container" autocomplete="off" id="editForm@(itemName)">
                            <div class="table-custom">
                                <i class="fad fa-barcode-alt"></i> 選取判定條碼
                                <table class="table table-bordered table-striped table-sticky" id="tblJudgeBarcodeData@(itemName)">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="text-center" style="max-width: 75px;">
                                                <label class="col-12 col-form-label">
                                                    # 全選 <input type="checkbox" id="cbxJudgeBarcodeSelectAll@(itemName)" checked />
                                                </label>
                                            </th>
                                            <th scope="col" style="min-width: 100px;">產品條碼</th>
                                            <th scope="col" style="min-width: 100px;">暫定判定</th>
                                            <th scope="col" style="min-width: 100px;">暫定備註</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <hr />

                            <div class="form-group row">
                                <label class="col-12 col-form-label" for="cboEdition@(itemName)">副責任單位</label>
                                <div class="col-12">
                                    <select class="form-control" id="cboSubResponsibleDeptId@(itemName)" name="cboSubResponsibleDeptId@(itemName)"></select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-12 col-form-label" for="txtSubResponsibleUserId@(itemName)">副責任人員</label>
                                <div class="col-12">
                                    <input type="hidden" id="txtSubResponsibleUserId@(itemName)" />
                                    <div class="btn-group">
                                        <a class="btn btn-success pop-view" href="javascript:void(0);"><i class="fal fa-search"></i></a>
                                        <a class="btn btn-outline-danger pop-clear" href="javascript:void(0);"><i class="fas fa-eraser"></i></a>
                                    </div>
                                    <dl class="help-block">
                                        <dt>副責任人員</dt>
                                        <dd id="desSubResponsibleUserId@(itemName)"></dd>
                                    </dl>
                                </div>
                            </div>

                            <hr />

                            <div class="form-group row">
                                <label class="col-12 col-form-label" for="txtConformUserId@(itemName)">合致對象</label>
                                <div class="col-12">
                                    <input type="hidden" id="txtConformUserId@(itemName)" />
                                    <div class="btn-group">
                                        <a class="btn btn-success pop-view" href="javascript:void(0);"><i class="fal fa-search"></i></a>
                                        <a class="btn btn-outline-danger pop-clear" href="javascript:void(0);"><i class="fas fa-eraser"></i></a>
                                    </div>
                                    <dl class="help-block">
                                        <dt>合致對象</dt>
                                        <dd id="desConformUserId@(itemName)"></dd>
                                    </dl>
                                </div>
                            </div>

                            <hr />

                            <div class="form-group row">
                                <label class="col-12 col-form-label" for="cboQcStatus@(itemName)">人員後續判定<span class="text-danger">*</span></label>
                                <div class="col-12">
                                    <select class="form-control" id="cboQcStatus@(itemName)" name="cboQcStatus@(itemName)" required>
                                        <option value="F" selected>不良品(品異流程)</option>
                                    </select>
                                </div>
                            </div>
                            <fieldset style="margin-top: 5px;">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 ">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="txtRemark@(itemName)">備註</label>
                                            <div class="col-12">
                                                <textarea class="form-control" id="txtRemark@(itemName)" name="txtRemark@(itemName)" rows="2"
                                                          placeholder="請輸入備註"
                                                          data-msg-required="請輸入備註"
                                                          data-msg-maxlength="必須少於 200 個字元" maxlength="200"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="justify-content: flex-end;">
                <button type="button" class="btn btn-success submit-style list-mode" onclick="Upload@(itemName)()" style="float: right;">
                    <i class="fas fa-arrow-to-top"></i>上傳數據
                </button>
                <button type="button" class="btn btn-secondary edit-mode" onclick="Return@(itemName)()" style="display: none;"><i class="fas fa-undo"></i>返回</button>
                <button type="button" class="btn btn-success edit-mode" onclick="Save@(itemName)()" style="display: none;"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

@Html.Partial("ViewUser")

@Html.Resource("js",
@<script>
    let objForm@(itemName) = "#editForm@(itemName)";

    let barcodeQcRecordJson =
    {
        barcodeQcRecordInfo: []
    };

    let qcRecordId@(itemName);
    let qcType@(itemName);

    let barcodeNoList@(itemName) = [];

    let userNo = "";
    let userName = "";

    let checkQcMeasureData@(itemName);

    function Pop@(itemName)(qcRecordId, woErpFullNo, qcType, checkQcMeasureData, supportAqFlag) {
        console.log(5546887)
        if (typeof (checkQcMeasureData) == `undefined`) checkQcMeasureData = "N";
        qcRecordId@(itemName) = qcRecordId;
        qcType@(itemName) = qcType;
        checkQcMeasureData@(itemName) = checkQcMeasureData;

        $("#desWoErpFullNo@(itemName)").html(woErpFullNo);
        $("#desQcType@(itemName)").html(qcType);

        $("#modal@(itemName)").modal({
            backdrop: "static",
            keyboard: false,
            show: true
        });

        $("#btnEdit@(itemName)").show();
        $("#cboQcResultQ@(itemName)").val("F");

        if (supportAqFlag == "Y") {
            CheckPassInfo@(itemName)();
        }
        else {
            $("#btnEdit@(itemName)").hide();
        }

        if (checkQcMeasureData == "P") {
            InitQcMeasureData@(itemName)();
        }

        Query@(itemName)();

        $("#cboQcResultQ@(itemName)").change(function () {
            Query@(itemName)();
        });

        $("#cbxSelectAll@(itemName)").off("click").on("click", function () {
            if ($("#cbxSelectAll@(itemName)").is(":checked")) {
                $("input[type='checkbox'][data-barcode-no][data-cell-header][data-row]").not(":disabled").prop("checked", true);
            } else {
                $("input[type='checkbox'][data-barcode-no][data-cell-header][data-row]").not(":disabled").prop("checked", false);
            }
        });

        $("#cbxJudgeBarcodeSelectAll@(itemName)").off("click").on("click", function () {
            if ($("#cbxJudgeBarcodeSelectAll@(itemName)").is(":checked")) {
                $("input[type='checkbox'][data-judge-barcode-no]").not(":disabled").prop("checked", true);
            } else {
                $("input[type='checkbox'][data-judge-barcode-no]").not(":disabled").prop("checked", false);
            }
        });

        $("#txtBarcodeNoQ@(itemName), #txtQcItemNameQ@(itemName)").keydown(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                Query@(itemName)();
                return false;
            }
        });

        if (!isMobile) {
            $("#cboSubResponsibleDeptId@(itemName)").select2({
                width: "100%"
            });
            $("#cboBarcodeNo@(itemName)").select2({
                width: "100%"
            });
        }

        $(window).keydown(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });
    }

    function Query@(itemName)() {
        InitData@(itemName)();
        $("#cbxSelectAll@(itemName)").prop("checked", false);
    }

    function InitData@(itemName)() {
        $("#tblData@(itemName) tbody").empty();
        let innerHtml = '';
        let iPQCResult = "";
        let iPQCstring = "";
        let count = 1;
        console.log(1254, spreadsheetJson.spreadsheetInfo)
        $.each(spreadsheetJson.spreadsheetInfo, function (i, item) {
            console.log(1255, item.NgCode)

            if (item.MeasureValue == null) return;
            let UpperTolerance = -1;
            let LowerTolerance = -1;
            let MeasureValue = -1;

            if (isNaN(item.MeasureValue) == true) {
                MeasureValue = item.MeasureValue.toString().toUpperCase();
            }
            else {
                if (item.DesignValue === `undefined` || isNaN(item.DesignValue)) {
                    alert(`【列${item.CellHeader}】 【欄${item.Row}】:<br>設計值非數字，無法計算!!`, 5000)
                    item.DesignValue = 0;
                    //return false;
                }

                if (item.UpperTolerance === `undefined` || isNaN(item.UpperTolerance)) {
                    alert(`列:【${item.CellHeader} 欄:${item.Row}】:<br>上限值非數字，無法計算!!`, 5000)
                    item.UpperTolerance = 99;
                    //return false;
                }

                if (item.LowerTolerance === `undefined` || isNaN(item.LowerTolerance)) {
                    alert(`列:【${item.CellHeader} 欄:${item.Row}】:<br>下限值非數字，無法計算!!`, 5000)
                    item.LowerTolerance = -99;
                    //return false;
                }

                UpperTolerance = parseFloat(item.DesignValue) + parseFloat(item.UpperTolerance);
                LowerTolerance = parseFloat(item.DesignValue) + parseFloat(item.LowerTolerance);
                MeasureValue = parseFloat(item.MeasureValue);
            }

            console.log("UpperTolerance:", UpperTolerance);
            console.log("LowerTolerance:", LowerTolerance);
            console.log("MeasureValue:", MeasureValue);

            if (MeasureValue <= UpperTolerance && MeasureValue >= LowerTolerance) {
                iPQCResult = "通過";
                iPQCstring = "P";
            }
            else if (MeasureValue == "P" || MeasureValue == "OK") {
                iPQCResult = "通過";
                iPQCstring = "P";
            }
            else if (MeasureValue == "F" || MeasureValue == "NG") {
                iPQCResult = "不通過";
                iPQCstring = "F";
            }
            else {
                iPQCResult = "不通過";
                iPQCstring = "F";
            }

            spreadsheetJson.spreadsheetInfo[i]["QcResult"] = iPQCstring;

            let qcResultQ = $("#cboQcResultQ@(itemName)").val();
            let barcodeNoQ = $("#txtBarcodeNoQ@(itemName)").val();
            let qcItemNameQ = $("#txtQcItemNameQ@(itemName)").val();

            let barcodeNoMatch = item.BarcodeNo != null ? item.BarcodeNo.toString().match(barcodeNoQ) : null;
            let qcItemNameMatch = item.QcItemDesc.match(qcItemNameQ);

            if ((qcResultQ == iPQCstring || qcResultQ == "") && (barcodeNoMatch != null || barcodeNoQ == "") && (qcItemNameMatch != null || qcItemNameQ == "")) {

                if (item.QcUserNo != null) {
                    GetQcUser@(itemName)(item.QcUserNo);
                }
                else {
                    GetQcUser@(itemName)();
                }

                innerHtml += `<tr>
                                <td class="text-center" style="max-width: 150px; min-width: 135px;">
                                    <label class="control control-solid control-solid-info control--checkbox">
                                        ${count}. <input type="checkbox" data-barcode-no="${item.BarcodeNo}" data-cell-header="${item.CellHeader}" data-row="${item.Row}" value="${item.BarcodeId}" ${iPQCstring == "P" ? `disabled` : ``} ${(checkQcMeasureData@(itemName) != `N` && checkQcMeasureData@(itemName) != `S`) ? `disabled` : ``}/>
                                        <span class="control__indicator"></span>
                                    </label>
                                </td>
                                <td class="ellipsis" data-toggle="tooltip" title="${item.BarcodeNo != null ? item.BarcodeNo : item.FullCavityNo}(${item.MakeCount != null ? parseInt(item.MakeCount) : `1`})">
                                    ${item.BarcodeNo != null ? item.BarcodeNo : item.FullCavityNo != null ? item.FullCavityNo : item.LotNumber}(${item.MakeCount != null ? parseInt(item.MakeCount) : `1` })
                                <br>
                                <code>${item.LetterValue != null ? item.LetterValue : ``}</code>
                                </td>
                                <td class="ellipsis" data-toggle="tooltip" title="${item.QcItemDesc}">${item.QcItemDesc}</td>
                                <td class="ellipsis" data-toggle="tooltip" title="${item.MeasureValue}">${item.MeasureValue}</td>
                                ${JudgeIPQCResult(`${item.QcNoticeItemSpecId}`)}
                                <td class="ellipsis" data-toggle="tooltip" title="${userNo} ${userName}"><i class="fas fa-user"></i>&nbsp;<code>${userNo}</code>&nbsp;${userName}</td>
                                <td class="ellipsis" data-toggle="tooltip" style="max-width: 200px; min-width: 150px;">
                                    <input type="text" class="form-control" data-barcode-no="${item.BarcodeNo}" data-cell-header="${item.CellHeader}" data-row="${item.Row}" id="txtCauseNoQ@(itemName)" name="txtCauseNoQ@(itemName)"
                                        placeholder="請刷取NG原因"
                                        oninput="EditDefectCauseNo@(itemName)(this)"
                                        value="${typeof (item.NgCode) != `undefined` ? item.NgCode : ``}"
                                        ${iPQCstring == `P` ? `readonly` : ``}
                                        ${checkQcMeasureData@(itemName) != `N` && checkQcMeasureData@(itemName) != `S` ? `readonly` : ``} />
                                </td>
                                <td class="ellipsis" data-toggle="tooltip" style="max-width: 200px; min-width: 150px;">
                                    <input type="text" id="txtCauseDesc@(itemName)" class="form-control" data-barcode-no="${item.BarcodeNo}" data-cell-header="${item.CellHeader}" data-row="${item.Row}" id="txtCauseDescQ@(itemName)" name="txtCauseDescQ@(itemName)"
                                        placeholder="請刷取NG描述"
                                        oninput="EditDefectCauseDesc@(itemName)(this)"
                                        value="${typeof (item.NgCodeDesc) != `undefined` ? item.NgCodeDesc : ``}"
                                        ${iPQCstring == `P` ? `readonly` : ``}
                                        ${checkQcMeasureData@(itemName) != `N` && checkQcMeasureData@(itemName) != `S` ? `readonly` : ``} />
                                </td>
                              </tr>`;
                count++;
            }

            function JudgeIPQCResult(qcNoticeItemSpecId) {
                let innerHtml = '';
                if (iPQCResult == "通過") {
                    innerHtml += `<td id="tdQcResult@(itemName)" data-qc-notice-item-spec-id="${qcNoticeItemSpecId}" data-qc-result="P" class="ellipsis" style="color: blue;" data-toggle="tooltip" title="${iPQCResult}">${iPQCResult}</td>`;
                }
                else {
                    innerHtml += `<td id="tdQcResult@(itemName)" data-qc-notice-item-spec-id="${qcNoticeItemSpecId}" data-qc-result="F" class="ellipsis" style="color: red;" data-toggle="tooltip" title="${iPQCResult}">${iPQCResult}</td>`;
                }
                return innerHtml;
            }
        });

        if (innerHtml == "") {
            innerHtml += `<tr>
                            <td class="text-center" colspan="8" style="background-color: #fff3cd;">
                                <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                            </td>
                          </tr>`;
        }

        $("#tblData@(itemName) tbody").append(innerHtml);
    }

    function Edit@(itemName)() {
        Switch("#editData@(itemName), .edit-mode", "#listData@(itemName), .list-mode");

        $("#txtSubResponsibleUserId@(itemName)").siblings(".help-block").hide();
        $("#txtSubResponsibleUserId@(itemName)").val("");

        $("#txtConformUserId@(itemName)").siblings(".help-block").hide();
        $("#txtConformUserId@(itemName)").val("");

        ComboBoxs.Default("#cboSubResponsibleDeptId@(itemName)", "@Url.Action("GetDepartment", "BasicInformation")", { "CompanyId": 2, "Status": "A" }, "", "NA", "", "DepartmentName", "DepartmentId");

        $.each(barcodeQcRecordJson.barcodeQcRecordInfo, function (i, item) {
            let QcStatus = "";
            if (item.QcStatus == "P") {
                QcStatus = "P (良品)";
            }
            else {
                QcStatus = item.QcStatus + " (" + item.QcStatusDesc + ")";
            }

            $("td[data-tr-type='QcStatus'][data-judge-barcode-no='" + item.BarcodeNo + "']").html(QcStatus);
            $("td[data-tr-type='Remark'][data-judge-barcode-no='" + item.BarcodeNo + "']").html(item.Remark);
        });

        let popConfig2 = {
            targetSelector: "#txtSubResponsibleUserId@(itemName)",
            popFunction: "PopViewUser",
            objectUserId: "#txtSubResponsibleUserId@(itemName)",
            objectUser: "#desSubResponsibleUserId@(itemName)",
            objectDepartment: "#desDepartment@(itemName)",
            objectCompany: "#desCompany@(itemName)",
            type: "radio"
        };
        InitPopView(popConfig2);

        let popConfig3 = {
            targetSelector: "#txtConformUserId@(itemName)",
            popFunction: "PopViewUser",
            objectUserId: "#txtConformUserId@(itemName)",
            objectUser: "#desConformUserId@(itemName)",
            objectDepartment: "#desDepartment@(itemName)",
            objectCompany: "#desCompany@(itemName)",
            type: "radio"
        };
        InitPopView(popConfig3);

        $("#cboQcStatus@(itemName)").change(function (i, item) {
            if ($("#cboQcStatus@(itemName)").val() == "F") {
                $("#ledDefect@(itemName)").show();
                $("#ledRepair@(itemName)").show();
            }
            else {
                $("#ledDefect@(itemName)").hide();
                $("#ledRepair@(itemName)").hide();
            }
        });
    }

    let timer;
    function EditDefectCauseNo@(itemName)(e) {
        clearTimeout(timer)
        timer = setTimeout(function () {
            let defectCauseNo = $(e).val();
            defectCauseNo = defectCauseNo.toUpperCase();
            let targetUrl = "@Url.Action("GetNgCause", "QmsBasicInformation")";
            let postData = {
                "CauseNo": defectCauseNo
            };
            let data = DataAccess.Get(targetUrl, postData, false);
            if (data.status == "success") {
                if (data.result.length > 0) {
                    $.each(data.result, function (i, item2) {
                        $.each($("input[type='checkbox'][data-barcode-no][data-cell-header][data-row]:checked"), function (i) {
                            let cellHeader = $(this).data("cell-header");
                            let row = $(this).data("row");
                            $.each(spreadsheetJson.spreadsheetInfo, function (j, item) {
                                if (item.CellHeader == cellHeader && item.Row == row) {
                                    spreadsheetJson.spreadsheetInfo[j]["NgCode"] = defectCauseNo;
                                    spreadsheetJson.spreadsheetInfo[j]["NgCodeDesc"] = item2.CauseDesc;
                                    return false;
                                }
                            });
                        });

                        let cellHeader = $(e).data("cell-header");
                        let row = $(e).data("row");
                        $.each(spreadsheetJson.spreadsheetInfo, function (j, item) {
                            if (item.CellHeader == cellHeader && item.Row == row) {
                                spreadsheetJson.spreadsheetInfo[j]["NgCode"] = defectCauseNo;
                                spreadsheetJson.spreadsheetInfo[j]["NgCodeDesc"] = item2.CauseDesc;
                                return false;
                            }
                        });
                    });

                    Query@(itemName)();
                }
                else {
                    alert("找不到此NG代碼!");
                    $(e).val("");
                }
            }
        }, 500);
    }

    function EditDefectCauseDesc@(itemName)(e) {
        clearTimeout(timer)
        timer = setTimeout(function () {
            let defectCauseDesc = $(e).val();
            let cellHeader = $(e).data("cell-header");
            let row = $(e).data("row");
            $.each(spreadsheetJson.spreadsheetInfo, function (j, item) {
                if (item.CellHeader == cellHeader && item.Row == row) {
                    spreadsheetJson.spreadsheetInfo[j]["NgCodeDesc"] = defectCauseDesc;
                    return false;
                }
            });

            Query@(itemName)();
        }, 1000);
    }

    function GetDefectClass@(itemName)(classId) {
        let groupId = -1;
        let targetUrl = "@Url.Action("GetNgClass", "QmsBasicInformation")";
        let postData = {
            "ClassId": classId
        };
        let data = DataAccess.Get(targetUrl, postData, false);

        if (data.status == "success") {
            if (data.result.length > 0) {
                $.each(data.result, function (i, item) {
                    groupId = item.GroupId;
                });
            }
            else {
                alert("異常類別錯誤!");
            }
        }
        else {
            alert(data.msg);
        }

        return groupId;
    }

    function Save@(itemName)() {
        if ($(objForm@(itemName)).valid()) {

            $.each(barcodeJson.barcodeInfo, function (i, item) {
                if (typeof (item.BarcodeNo) == `undefined`) {
                    barcodeQcRecordJson.barcodeQcRecordInfo = [];
                    let inputBarcodeQcRecordInfo =
                    {
                        "QcRecordId": qcRecordId@(itemName),
                        "BarcodeNo": "",
                        "SubResponsibleDeptId": $("#cboSubResponsibleDeptId@(itemName)").val(),
                        "SubResponsibleUserId": $("#txtSubResponsibleUserId@(itemName)").val(),
                        "SubResponsibleUserFullNo": $("#desSubResponsibleUserId@(itemName)").text(),
                        "ConformUserId": $("#txtConformUserId@(itemName)").val(),
                        "ConformUserFullNo": $("#desConformUserId@(itemName)").text(),
                        "QcStatus": $("#cboQcStatus@(itemName)").val(),
                        "Remark": $("#txtRemark@(itemName)").val(),
                        "QcStatusDesc": $("#cboQcStatus@(itemName)").find(':selected').text()
                    }

                    barcodeQcRecordJson.barcodeQcRecordInfo.push(inputBarcodeQcRecordInfo);
                    return false;
                }
            });

            $.each($("input[type='checkbox'][data-judge-barcode-no]:checked"), function (i) {
                let barcodeNo = $(this).data("judge-barcode-no");
                $.each(barcodeQcRecordJson.barcodeQcRecordInfo, function (i, item) {
                    if (item.BarcodeNo == barcodeNo) {
                        barcodeQcRecordJson.barcodeQcRecordInfo.splice(i, 1);
                        return false;
                    }
                });

                let inputBarcodeQcRecordInfo =
                {
                    "QcRecordId": qcRecordId@(itemName),
                    "BarcodeNo": barcodeNo,
                    "SubResponsibleDeptId": $("#cboSubResponsibleDeptId@(itemName)").val(),
                    "SubResponsibleUserId": $("#txtSubResponsibleUserId@(itemName)").val(),
                    "SubResponsibleUserFullNo": $("#desSubResponsibleUserId@(itemName)").text(),
                    "ConformUserId": $("#txtConformUserId@(itemName)").val(),
                    "ConformUserFullNo": $("#desConformUserId@(itemName)").text(),
                    "QcStatus": $("#cboQcStatus@(itemName)").val(),
                    "Remark": $("#txtRemark@(itemName)").val(),
                    "QcStatusDesc": $("#cboQcStatus@(itemName)").find(':selected').text()
                }

                barcodeQcRecordJson.barcodeQcRecordInfo.push(inputBarcodeQcRecordInfo);
            });

            Swal.fire(
                "儲存成功", //標題
                "已儲存此條碼相關資訊!", //訊息內容(可省略)
                "success" //圖示(可省略) success/info/warning/error/question
                //圖示範例：https://sweetalert2.github.io/#icons
            );

            let barcodeList = [];
            $.each(barcodeJson.barcodeInfo, function (i, item) {
                if (item.BarcodeNo == null) {
                    barcodeList.push("Cavity");
                    return false;
                }
                else {
                    if (barcodeList.indexOf(item.BarcodeNo.toString()) == -1) {
                        barcodeList.push(item.BarcodeNo.toString());
                    }
                }
            });

            if (barcodeQcRecordJson.barcodeQcRecordInfo.length == barcodeList.length) {
                Return@(itemName)();
            }
            else {
                Edit@(itemName)();
            }
        }
    }

    function Upload@(itemName)() {
        swal.fire({
            titleText: "確定要上傳此次數據?",
            text: "上傳後無法復原，請確認後再執行!",
            icon: "warning",
            allowOutsideClick: false,
            allowEscapeKey: false,
            showCancelButton: true,
            confirmButtonColor: '#d33',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                let barcodeList = [];
                $.each(barcodeJson.barcodeInfo, function (i, item) {
                    if (item.BarcodeNo == null) {
                        barcodeList.push("Cavity");
                        return false;
                    }
                    else {
                        if (barcodeList.indexOf(item.BarcodeNo.toString()) == -1) {
                            barcodeList.push(item.BarcodeNo.toString());
                        }
                    }
                });

                @*if (barcodeQcRecordJson.barcodeQcRecordInfo.length != barcodeList.length && checkQcMeasureData@(itemName) != "N" && checkQcMeasureData@(itemName) != `S`) {
                    alert("尚有條碼尚未維護對策!", alert, 0);
                    return false;
                }*@

                let data = spreadsheet.serialize().sheets[0].data;
                let uploadJson = [];

                $.each(data, function (i, item) {
                    if (typeof (item.value) != `undefined`) {
                        let inputUploadInfo =
                        {
                            cell: item.cell,
                            css: typeof (item.css) != `undefined` ? item.css : "",
                            format: item.format,
                            value: item.value,
                        };
                        uploadJson.push(inputUploadInfo);
                    }
                });

                let targetUrl = "@Url.Action("UploadQcOutsourcingData", "QcDataManagement")";
                let postData = {
                    "QcRecordId": qcRecordId@(itemName),
                    "QcData": JSON.stringify(spreadsheetJson),
                    "BarcodeQcRecordData": JSON.stringify(barcodeQcRecordJson),
                    "SpreadsheetData": JSON.stringify(uploadJson)
                };

                let result = DataAccess.Update(targetUrl, postData, false, true);

                if (result) {
                    $("#modal@(itemName)").modal("hide");
                    spreadsheetJson.spreadsheetInfo = [];
                    barcodeQcRecordJson.barcodeQcRecordInfo = [];
                    barcodeJson.barcodeInfo = [];
                }
            }
        });
    }

    function CheckPassInfo@(itemName)() {
        $("#tblJudgeBarcodeData@(itemName) tbody").empty();

        let allPassFlag = true;
        $.each(barcodeJson.barcodeInfo, function (k, item3) {
            let ngCheck = false;
            let okItemNoList = [];
            let errorItem = [];
            $.each(spreadsheetJson.spreadsheetInfo, function (i, item) {
                if (item.MeasureValue == null) return;
                if (item.BarcodeId == item3.BarcodeId && item.MakeCount == item3.MakeCount) {
                    let UpperTolerance = -1;
                    let LowerTolerance = -1;
                    let MeasureValue = -1;

                    if (isNaN(item.MeasureValue) == true) {
                        MeasureValue = item.MeasureValue.toString().toUpperCase();
                    }
                    else {
                        if (isNaN(item.DesignValue)) {
                            errorItem.push(`【列${item.CellHeader}】 【欄${item.Row}】: 設計值非數字!!<br>`);
                            //alert(`【列${item.CellHeader}】 【欄${item.Row}】:<br>設計值非數字，無法計算!!`, 5000)
                            item.DesignValue = 0;
                            //return false;
                        }

                        if (isNaN(item.UpperTolerance)) {
                            //alert(`列:【${item.CellHeader} 欄:${item.Row}】:<br>上限值非數字，無法計算!!`, 5000);
                            errorItem.push(`列:【${item.CellHeader} 欄:${item.Row}】: 上限值非數字!!<br>`);
                            item.UpperTolerance = 99;
                            //return false;
                        }

                        if (isNaN(item.LowerTolerance)) {
                            //alert(`列:【${item.CellHeader} 欄:${item.Row}】:<br>下限值非數字，無法計算!!`, 5000)
                            errorItem.push(`列:【${item.CellHeader} 欄:${item.Row}】: 下限值非數字!!<br>`);
                            item.LowerTolerance = -99;
                            //return false;
                        }

                        UpperTolerance = parseFloat(item.DesignValue) + parseFloat(item.UpperTolerance);
                        LowerTolerance = parseFloat(item.DesignValue) + parseFloat(item.LowerTolerance);
                        MeasureValue = parseFloat(item.MeasureValue);
                    }

                    if (MeasureValue <= UpperTolerance && MeasureValue >= LowerTolerance) {
                        iPQCResult = "通過";
                        okItemNoList.push(item.ItemNo);
                    }
                    else if (MeasureValue > UpperTolerance || MeasureValue < LowerTolerance) {
                        iPQCResult = "不通過";
                        ngCheck = true;
                        allPassFlag = false;
                        return false;
                    }
                    else if (MeasureValue == "P" || MeasureValue == "OK") {
                        iPQCResult = "通過";
                        okItemNoList.push(item.ItemNo);
                    }
                    else if (MeasureValue == "F" || item.MeasureValue == "NG") {
                        iPQCResult = "不通過";
                        ngCheck = true;
                        allPassFlag = false;
                        return false;
                    }
                    else {
                        iPQCResult = "不通過";
                        ngCheck = true;
                        allPassFlag = false;
                        return false;
                    }
                }
            });

            if (errorItem.length > 0) {
                swal.fire({
                    titleText: "資料異常!",
                    html: errorItem.join("<br>"),
                    icon: "warning",
                    allowOutsideClick: false,
                    allowEscapeKey: false,
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {

                    }
                    else {
                        $("#modal@(itemName)").modal("hide");
                        barcodeQcRecordJson.barcodeQcRecordInfo = [];
                        $("#txtBarcodeNoQ@(itemName)").val("");
                        $("#txtQcItemNameQ@(itemName)").val("");
                    }
                });
            }

            if (ngCheck == false && qcType@(itemName) != "PVTQC") {

                $.each(barcodeQcRecordJson.barcodeQcRecordInfo, function (j, item4) {
                    if (item4.BarcodeNo == item3.BarcodeNo || item4.BarcodeNo == "") {
                        barcodeQcRecordJson.barcodeQcRecordInfo.splice(j, 1);
                        return false;
                    }
                });

                let inputBarcodeQcRecordInfo =
                {
                    "QcRecord": qcRecordId@(itemName),
                    "BarcodeNo": typeof (item3.BarcodeNo) != `undefined` ? item3.BarcodeNo : "",
                    "SubResponsibleDeptId": $("#cboSubResponsibleDeptId@(itemName)").val(),
                    "SubResponsibleUserId": $("#txtSubResponsibleUserId@(itemName)").val(),
                    "SubResponsibleUserFullNo": $("#desSubResponsibleUserId@(itemName)").text(),
                    "ConformUserId": $("#txtConformUserId@(itemName)").val(),
                    "ConformUserFullNo": $("#desConformUserId@(itemName)").text(),
                    "QcStatus": "P",
                    "Remark": $("#txtRemark@(itemName)").val()
                }

                barcodeQcRecordJson.barcodeQcRecordInfo.push(inputBarcodeQcRecordInfo);
            }
            else {
                @*if (qcType@(itemName) == "成型工程檢" || qcType@(itemName) == "TQC") {
                    let inputBarcodeQcRecordInfo =
                    {
                        "QcRecord": qcRecordId@(itemName),
                        "BarcodeNo": "",
                        "SubResponsibleDeptId": $("#cboSubResponsibleDeptId@(itemName)").val(),
                        "SubResponsibleUserId": $("#txtSubResponsibleUserId@(itemName)").val(),
                        "SubResponsibleUserFullNo": $("#desSubResponsibleUserId@(itemName)").text(),
                        "ConformUserId": $("#txtConformUserId@(itemName)").val(),
                        "ConformUserFullNo": $("#desConformUserId@(itemName)").text(),
                        "QcStatus": "F",
                        "Remark": $("#txtRemark@(itemName)").val()
                    }

                    barcodeQcRecordJson.barcodeQcRecordInfo.push(inputBarcodeQcRecordInfo);
                    $("#btnEdit@(itemName)").hide();

                    return false;
                }*@

                $.each(barcodeQcRecordJson.barcodeQcRecordInfo, function (j, item4) {
                    if (item4.BarcodeNo == item3.BarcodeNo) {
                        barcodeQcRecordJson.barcodeQcRecordInfo.splice(j, 1);
                        return false;
                    }
                });
                barcodeJson.barcodeInfo[k]["NgCheck"] = "true";

                $("#cboQcResultQ@(itemName)").val("F");
            }
        });

        let btnEditFlag = false;

        let innerHtml = '';
        let count = 1;

        let barcodeList = [];
        if (barcodeJson.barcodeInfo[0]["BarcodeId"] != null) {
            $.each(barcodeJson.barcodeInfo, function (i, item) {
                if (item.NgCheck == "true" && barcodeList.indexOf(item.BarcodeNo.toString()) == -1) {
                    barcodeList.push(item.BarcodeNo.toString());
                    innerHtml += `<tr>
                                    <td class="text-center" style="width: 20%">
                                        <label class="control control-solid control-solid-info control--checkbox">
                                            ${count}. <input type="checkbox" data-judge-barcode-no="${typeof (item.BarcodeNo) != `undefined` ? item.BarcodeNo : item.FullCavityNo}" value="${typeof (item.BarcodeNo) != `undefined` ? item.BarcodeNo : item.FullCavityNo}" checked />
                                            <span class="control__indicator"></span>
                                        </label>
                                    </td>
                                    <td class="ellipsis" data-toggle="tooltip" title="${typeof (item.BarcodeNo) != `undefined` ? item.BarcodeNo : typeof (item.FullCavityNo) != `undefined` ? item.FullCavityNo : item.LotNumber}" style="width: 40%">
                                        ${typeof (item.BarcodeNo) != `undefined` ? item.BarcodeNo : typeof (item.FullCavityNo) != `undefined` ? item.FullCavityNo : item.LotNumber}
                                    <br>
                                    <code>${item.LetterValue != null ? item.LetterValue : ``}</code>
                                    </td>
                                    ${JudgeBarcodeQcRecord@(itemName)(`${typeof (item.BarcodeNo) != `undefined` ? item.BarcodeNo : item.FullCavityNo}`)}
                                  </tr>`;

                    function JudgeBarcodeQcRecord@(itemName)(barcodeNo) {
                        let innerHtml = '';
                        if (barcodeQcRecordJson.barcodeQcRecordInfo.length <= 0) {
                            innerHtml += `<td class="ellipsis" data-toggle="tooltip" data-tr-type="QcStatus" data-judge-barcode-no="${barcodeNo}" title="尚未判定" style="width: 20%">尚未判定</td>
                                            <td class="ellipsis" data-toggle="tooltip" data-tr-type="Remark" data-judge-barcode-no="${barcodeNo}" title="" style="width: 20%"></td>`;
                        }

                        $.each(barcodeQcRecordJson.barcodeQcRecordInfo, function (k, item2) {
                            if (item2.BarcodeNo.toString() == barcodeNo.toString()) {
                                innerHtml += `<td class="ellipsis" data-toggle="tooltip" data-tr-type="QcStatus" data-judge-barcode-no="${barcodeNo}" title="${item2.QcStatus}" style="width: 20%">${item2.QcStatus}</td>
                                                <td class="ellipsis" data-toggle="tooltip" data-tr-type="Remark" data-judge-barcode-no="${barcodeNo}" title="${item2.Remark}" style="width: 20%">${item2.Remark}</td>`;
                            }
                            else {
                                innerHtml += `<td class="ellipsis" data-toggle="tooltip" data-tr-type="QcStatus" data-judge-barcode-no="${barcodeNo}" title="尚未判定" style="width: 20%">尚未判定</td>
                                                <td class="ellipsis" data-toggle="tooltip" data-tr-type="Remark" data-judge-barcode-no="${barcodeNo}" title="" style="width: 20%"></td>`;
                            }
                        });

                        return innerHtml;
                    }
                    $("#btnEdit@(itemName)").show();
                    btnEditFlag = true;
                    count++;
                }
            });
        }
        else {
            btnEditFlag = true;
            innerHtml += `<tr>
                            <td class="text-center" colspan="4" style="background-color: #fff3cd;">
                                <i class="fal fa-exclamation-circle"></i>&nbsp;穴號模式無產品條碼。
                            </td>
                          </tr>`;
        }

        $("#tblJudgeBarcodeData@(itemName) tbody").append(innerHtml);

        if (allPassFlag == true) {
            $("#cboQcResultQ@(itemName)").val("P");
            $("#btnEdit@(itemName)").hide();
        }
        else {
            $("#cboQcResultQ@(itemName)").val("F");
        }
    }

    function InitQcMeasureData@(itemName)() {
        let targetUrl = "@Url.Action("GetQcMeasureData", "QcDataManagement")";
        let postData = {
            "QcRecordId": qcRecordId@(itemName)
        };

        let data = DataAccess.Get(targetUrl, postData, false);

        if (data.result.length > 0) {
            if (data.status = "success") {
                spreadsheetJson.spreadsheetInfo = [];
                $.each(data.result, function (i, item) {
                    let itemNo = item.ItemNo;
                    let fullItemNo = itemNo.substring(0, 3) + item.MachineNumber + itemNo.substring(3, 7);
                    let inputSpreadsheetInfo =
                    {
                        "BarcodeId": item.BarcodeId,
                        "BarcodeNo": item.BarcodeNo,
                        "Cavity": item.Cavity != null ? item.Cavity.split('-')[0] : null,
                        "DesignValue": item.DesignValue,
                        "FullCavityNo": item.Cavity,
                        "ItemNo": fullItemNo,
                        "LetterValue": item.LetterValue,
                        "LowerTolerance": item.LowerTolerance,
                        "MakeCount": item.MakeCount != "0" ? item.MakeCount : "1",
                        "MeasureValue": item.MeasureValue,
                        "QcItemDesc": item.QcItemDesc,
                        "QcItemName": item.QcItemName,
                        "QcMachine": item.QcMachine,
                        "QcResult": item.QcResult,
                        "UpperTolerance": item.UpperTolerance,
                        "CellHeader": item.CellHeader,
                        "Row": item.Row,
                        "QcUserNo": item.QcUserNo
                    };

                    if (inputSpreadsheetInfo.QcResult != "P") {
                        inputSpreadsheetInfo.NgCode = item.NgCode;
                        inputSpreadsheetInfo.NgCodeDesc = item.NgCodeDesc;
                    }

                    spreadsheetJson.spreadsheetInfo.push(inputSpreadsheetInfo);
                });
            }
        }
    }

    function GetQcUser@(itemName)(UserNo) {
        if (!UserNo) UserNo = '@Session["UserNo"]';
        let targetUrl = "@Url.Action("GetUser", "BasicInformation")";
        let postData = {
            "UserNo": UserNo
        };
        let data = DataAccess.Get(targetUrl, postData, false);
        if (data.status == "success") {
            if (data.result.length > 0) {
                $.each(data.result, function (k, item3) {
                    userNo = item3.UserNo;
                    userName = item3.UserName;
                });
            }
        }
        else {
            alert(data.msg, 2500);
        }
    }

    function Close@(itemName)() {
        swal.fire({
            titleText: "確定要取消此次單據?",
            text: "您尚未完成量測檢查上傳!若關閉資料將遺失並無法復原!",
            icon: "warning",
            allowOutsideClick: false,
            allowEscapeKey: false,
            showCancelButton: true,
            confirmButtonColor: '#d33',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                $("#modal@(itemName)").modal("hide");
                barcodeQcRecordJson.barcodeQcRecordInfo = [];
                $("#txtBarcodeNoQ@(itemName)").val("");
                $("#txtQcItemNameQ@(itemName)").val("");
            }
        });
    }

    function Return@(itemName)() {
        ResetForm(objForm@(itemName));
        Switch("#listData@(itemName), .list-mode", "#editData@(itemName), .edit-mode, #ledDefect@(itemName), #ledRepair@(itemName)");
    }
</script>
        )