@using Business_Manager.Helpers
@{
    string itemName = "DesignForManufacturingManagement";
    string itemNameText = "產品可行性評估管理";
    string authority = ViewBag.authority;
    ViewBag.Title = itemNameText;
}

<script src="@Url.Content("~/Scripts/dhtmlx/spreadsheet.commercial/4.3.0/spreadsheet.min.js")"></script>
<link href="@Url.Content("~/Content/dhtmlx/spreadsheet.commercial/4.3.0/spreadsheet.min.css")" rel="stylesheet" />


@Html.Resource("css",
    @<style>
        .dhx_tooltip {
            z-index: 9999 !important;
        }
    </style>
                        )

<input type="hidden" id="pageAuthority" value="@authority" />
<input type="hidden" id="DfmQiId" value="" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtDfmNoQ@(itemName)">DFM編號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtDfmNoQ@(itemName)" name="txtDfmNoQ@(itemName)" placeholder="請輸入RFQ編號" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtRfqNoQ@(itemName)">RFQ編號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtRfqNoQ@(itemName)" name="txtRfqNoQ@(itemName)" placeholder="請輸入RFQ編號" />
                            </div>
                        </div><div class="form-group row">
                            <label class="col-12 col-form-label" for="txtAssemblyNameQ@(itemName)">機種</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtAssemblyNameQ@(itemName)" name="txtAssemblyNameQ@(itemName)" placeholder="請輸入RFQ編號" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboDifficultyLevelQ@(itemName)">難易度</label>
                            <div class="col-12">
                                <select class="form-control" id="cboDifficultyLevelQ@(itemName)" name="cboDifficultyLevelQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboModeIdQ@(itemName)">生產模式</label>
                            <div class="col-12">
                                <select class="form-control" id="cboModeIdQ@(itemName)" name="cboModeIdQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboRdUserIdQ@(itemName)">研發人員</label>
                            <div class="col-12">
                                <select class="form-control" id="cboRdUserIdQ@(itemName)" name="cboRdUserIdQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">狀態</label>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    啟用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)A" name="cbxStatusQ@(itemName)" value="A" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    停用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)S" name="cbxStatusQ@(itemName)" value="S" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">RFQ單據狀態</label>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    未失效
                                    <input type="checkbox" id="cbxStatusRFQQ@(itemName)E" name="cbxStatusRFQQ@(itemName)" value="E" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    已失效
                                    <input type="checkbox" id="cbxStatusRFQQ@(itemName)F" name="cbxStatusRFQQ@(itemName)" value="F" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">單據日期 <input type="checkbox" id="cbxDfmDateQ@(itemName)" checked /></label>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtStartCreateDateQ@(itemName)" name="txtStartCreateDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtEndCreateDateQ@(itemName)" name="txtEndCreateDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);">
                            <i class="fal fa-search"></i>搜尋
                        </a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn btn-info auth-Test" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th scope="col" style="min-width: 150px;">DFM單號</th>
                                        <th scope="col" style="min-width: 150px;">RFQ單號</th>
                                        <th scope="col" style="min-width: 150px;">機種</th>
                                        <th scope="col" style="min-width: 170px;">生產模式</th>
                                        <th scope="col" style="min-width: 100px;">難易等級</th>
                                        <th scope="col" style="min-width: 200px;">研發人員</th>
                                        <th scope="col" style="min-width: 180px;">流程狀態</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container custom-form-container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="DfmId" name="DfmId" value="-1" />
                        <input type="hidden" id="RfqId" name="RfqId" value="-1" />
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtDfmNo@(itemName)">DFM單號 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtDfmNo@(itemName)" name="txtDfmNo@(itemName)" placeholder="請輸入DFM單號"
                                       data-msg-required="請輸入DFM單號"
                                       data-msg-maxlength="必須少於 20 個字元" maxlength="20" readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtRfqDetailId@(itemName)">RFQ單號 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="hidden" id="txtRfqDetailId@(itemName)" value="" />
                                <input type="text" class="form-control" id="txtRfqNo@(itemName)" name="txtRfqNo@(itemName)" placeholder="請輸入DFM單號"
                                       data-msg-required="請輸入RFQ單號"
                                       data-msg-maxlength="必須少於 20 個字元" maxlength="20" readonly />
                            </div>
                        </div>
                        @*<div class="form-group row">
                                <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtRfqDetailId@(itemName)">綁定RFQ<span class="text-danger">*</span></label>
                                <div class="col-12 col-md-9 col-lg-9">
                                    <input type="hidden" id="txtRfqDetailId@(itemName)" value="" />
                                    <div class="btn-group btn-group@(itemName)">
                                        <a class="btn btn-success pop-view" href="javascript:void(0);"><i class="fal fa-search"></i></a>
                                        <a class="btn btn-outline-danger pop-clear" href="javascript:clearMoId();"><i class="fas fa-eraser"></i></a>
                                    </div>
                                    <dl class="help-block">
                                        <dt>製令</dt>
                                        <dd id="desWoErpFullNo@(itemName)"></dd>
                                        <dt>品號</dt>
                                        <dd id="desMtlItemNo@(itemName)"></dd>
                                        <dt>品名</dt>
                                        <dd id="desMtlItemName@(itemName)"></dd>
                                    </dl>
                                </div>
                            </div>*@
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label">單據日期 </label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtDfmDate@(itemName)" name="txtDfmDate@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboDifficultyLevel@(itemName)">難易度 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboDifficultyLevel@(itemName)" name="cboDifficultyLevel@(itemName)"
                                        data-msg-required="請選擇難易度" data-rule-required="true"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboRdUserId@(itemName)">研發人員 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboRdUserId@(itemName)" name="cboRdUserId@(itemName)"
                                        data-msg-required="請選擇研發人員" data-rule-required="true"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboRdUserId@(itemName)">版本</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboDfmDetailLog@(itemName)" name="cboDfmDetailLog@(itemName)"
                                        data-msg-required="請選擇版本"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboDfmProcessStatus@(itemName)">流程狀態</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboDfmProcessStatus@(itemName)" name="cboDfmProcessStatus@(itemName)"
                                        data-msg-required="請選擇流程狀態" disabled></select>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

<!--其他分頁-->
<div class="advanced-block">
    <div class="row">
        <div class="col-12">
            <ul class="nav flag-tabs nav-fill" role="tablist">
                <li class="flag-item">
                    <a class="flag-link  active" data-toggle="tab" href="#tabDfmDetail">
                        <i class="fas fa-sliders-h"></i> DFM評估項目
                    </a>
                </li>
                <li class="flag-item">
                    <a class="flag-link" data-toggle="tab" href="#tabDfmQuotationItem">
                        <i class="fas fa-barcode-alt"></i> DFM報價項目
                    </a>
                </li>
                <li class="flag-item">
                    <a class="flag-link" data-toggle="tab" href="#tabRfqDetail">
                        <i class="fas fa-barcode-alt"></i> Rfq單身資料
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane active" id="tabDfmDetail">
            @Html.Partial("DfmDetail")
        </div>
        <div class="tab-pane" id="tabDfmQuotationItem">
            @Html.Partial("DfmQuotationItem")
        </div>
        <div class="tab-pane" id="tabRfqDetail">
            @Html.Partial("RfqDetail")
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        let VersionDfm

        $(document).ready(function () {
            GetUserInfo@(itemName)();

            ComboBoxs.Default("#cboDifficultyLevelQ@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "DesignForManufacturing.DifficultyLevel" }, "", "NA", "", "TypeName", "TypeNo");
            ComboBoxs.Default("#cboModeIdQ@(itemName)", "@Url.Action("GetProdMode", "MesBasicInformation")", {}, "", "NA", "", "txtProdModeWithText", "ModeId");
            ComboBoxs.Default("#cboRdUserIdQ@(itemName)", "@Url.Action("GetUser", "BasicInformation")", { "CompanyId": companyId@(itemName), "Status": "A" }, "", "NA", "", "UserWithNo", "UserId"); //研發者

            let currentDate = new Date();
            Suites.DatePicker("txtEndCreateDateQ@(itemName)", currentDate);
            currentDate.setDate(currentDate.getDate() - 30);
            Suites.DatePicker("txtStartCreateDateQ@(itemName)", currentDate);

            $(".advanced-block a[data-toggle='tab']").on("shown.bs.tab", function (e) {
                InitParameter@(itemName)($(this));
            });

            $("#cboDfmDetailLog@(itemName)").change(function () {
                InitData@(itemName)(objPage@(itemName));
                ReturnDfmDetail()
            })


            if (!isMobile) {
                $("#cboDifficultyLevelQ@(itemName), #cboModeIdQ@(itemName), #cboRdUserIdQ@(itemName)").select2({
                    width: "100%"
                });
            }

            Query@(itemName)();
        });

        function InitParameter@(itemName)(selector) {
            let initFnString = "Expand";
            let content = selector.attr("href").split('#tab')[1];
            if ($("#cboDifficultyLevelDesignForManufacturingManagement").val() == "") {
                alert("請將DFM單頭頭資料維護完整","warning")
                return
            }
            switch (content) {
                case "DfmDetail":
                    initFnString += "DfmDetail";
                    break;
                case "DfmQuotationItem":
                    initFnString += "DfmQuotationItem";
                    break;
                case "RfqDetail":
                    initFnString += "RfqDetail";
                    break;
            }

            let initFn = window[initFnString];
            if (initFn && typeof (initFn) == "function") {
                initFn();
            }
        }

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let statusList = [];
            $.each($("input[name='cbxStatusQ@(itemName)']:checked"), function () {
                statusList.push($(this).val());
            });

            let statusListRFQ = [];
            $.each($("input[name='cbxStatusRFQQ@(itemName)']:checked"), function () {
                statusListRFQ.push($(this).val());
            });

            let targetUrl = "@Url.Action("GetDesignForManufacturing", "DfmInformation")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "DfmNo": $("#txtDfmNoQ@(itemName)").val().trim(),
                "RfqNo": $("#txtRfqNoQ@(itemName)").val().trim(),
                "AssemblyName": $("#txtAssemblyNameQ@(itemName)").val().trim(),
                "DifficultyLevel": $("#cboDifficultyLevelQ@(itemName)").val(),
                "ModeId": $("#cboModeIdQ@(itemName)").val(),
                "RdUserId": $("#cboRdUserIdQ@(itemName)").val(),
                "Status": statusList.join(","),
                "RFQDocType": statusListRFQ.join(","),
                "StartCreateDate": ($("#cbxDfmDateQ@(itemName)").is(":checked") ? $("#txtStartCreateDateQ@(itemName)").val() : ""),
                "EndCreateDate": ($("#cbxDfmDateQ@(itemName)").is(":checked") ? $("#txtEndCreateDateQ@(itemName)").val() : "")
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";
                        innerHtml += `<tr>
                                        <td>${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DfmNo}" style="max-width: 200px;">${item.DfmNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.RfqNo}" style="max-width: 200px;">${item.RfqNo} ${item.DocType == `F` ? `<span style="color:red;">(已失效)</span>` : ``}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.AssemblyName}" style="max-width: 200px;">${item.AssemblyName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.RfqProductClassName}" style="max-width: 170px;">${item.RfqProductClassName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DifficultyLevel}" style="max-width: 70px;">${item.DifficultyLevel}</td>
                                        <td class="text-center">${item.Gender == `M` ? `<span class="gender-male"><i class="fas fa-male"></i></span>` : item.Gender == `F` ? `<span class="gender-female"><i class="fas fa-female"></i></span>` : ``}${item.UserNo} ${item.UserName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DfmProcessStatus}" style="max-width: 180px;">${StatusName(`DesignForManufacturing.DfmProcessStatus`, item.DfmProcessStatus)}</td>
                                        <td class="text-center">
                                          <a class="active-link" href="javascript:Edit@(itemName)(${item.DfmId});"><i class="fas fa-edit"></i></a>
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="10" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));
            
        }

        function Edit@(itemName)(DfmId) {
            $("#DfmId").val(DfmId ? DfmId : 0);

            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");

            ComboBoxs.Default("#cboDifficultyLevel@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "DesignForManufacturing.DifficultyLevel" }, "", "NA", "", "TypeName", "TypeNo");
            ComboBoxs.Default("#cboRdUserId@(itemName)", "@Url.Action("GetUser", "BasicInformation")", { "CompanyId": companyId@(itemName), "Status": "A" }, "", "NA", "", "UserWithNo", "UserId"); //研發者
            ComboBoxs.Default("#cboDfmProcessStatus@(itemName)", "@Url.Action("GetStatus", "BasicInformation")", { "StatusSchema": "DesignForManufacturing.DfmProcessStatus" }, "", "NA", "", "StatusName", "StatusNo");
            ComboBoxs.Default(`#cboDfmDetailLog@(itemName)`, "@Url.Action("GetDfmVersion", "DfmInformation")", { }, "", "CHOOSE", "000", "Version", "Version");

            //產品品號彈跳視窗開啟相關
            let popConfig1 = {
                targetSelector: "#txtMtlItemId@(itemName)",
                popFunction: "PopViewMtlItem",
                objectMtlItemId: "#txtMtlItemId@(itemName)",
                objectMtlItemNo: "#desMtlItemNo@(itemName)",
                objectMtlItemName: "#desMtlItemName@(itemName)",
                objectMtlItemSpec: "#desMtlItemSpec@(itemName)",
                objectUomNo: "#desUomNo@(itemName)",
                objectUomId: "#cboUomId@(itemName)",
                objectInventoryId: "#cboInventoryId@(itemName)",
            };
            //InitPopView(popConfig1);

            let currentDate = new Date();
            Suites.DatePicker("txtDfmDate@(itemName)", currentDate);

            if (DfmId > 0) {
                let targetUrl = "@Url.Action("GetDesignForManufacturing", "DfmInformation")";
                let postData = {
                    "DfmId": DfmId
                };

                let data = DataAccess.Get(targetUrl, postData, false);
                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        ComboBoxs.Default(`#cboDfmDetailLog@(itemName)`, "@Url.Action("GetDfmVersion", "DfmInformation")", { "DfmId": $("#DfmId").val() }, "", "CHOOSE", item.Version, "Version", "Version");
                        $("#txtDfmNo@(itemName)").val(item.DfmNo);
                        $("#txtRfqDetailId@(itemName)").val(item.RfqDetailId);
                        $("#txtRfqNo@(itemName)").val(item.RfqNo);
                        $("#txtDfmDate@(itemName)").val(item.DfmDate);
                        $("#cboDifficultyLevel@(itemName)").val(item.DifficultyLevel);
                        $("#cboRdUserId@(itemName)").val(item.RdUserId);
                        $("#DfmQiId").val(item.DfmQiId);
                        $("#RfqId").val(item.RfqId);
                        $("#DfmProcessStatus").val(item.DfmProcessStatus);
                        $("#cboDfmProcessStatus@(itemName)").val(item.DfmProcessStatus);
                    });

                    if ($(".advanced-block .flag-tabs > .flag-item > .flag-link").first().hasClass("active")) {
                        InitParameter@(itemName)($(".advanced-block .flag-tabs > .flag-item").first().find("a"));
                    } else {
                        $(".advanced-block .flag-tabs > .flag-item").first().find("a").trigger("click");
                    }
                } else {
                    alert(data.msg, "alert", 0);
                }
            }
            if (!isMobile) {
                $("#cboDifficultyLevel@(itemName), #cboRdUserId@(itemName), #cboDfmDetailLog@(itemName), #cboDfmProcessStatus@(itemName)").select2({
                    width: "100%"
                });
            }
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let DfmId = parseInt($("#DfmId").val());

                if (DfmId <= 0) {
                    let targetUrl = "@Url.Action("AddDfmHead", "DfmInformation")";
                    let postData = {
                        "DfmNo": $("#txtDfmNo@(itemName)").val(),
                        "RfqDetailId": $("#txtRfqDetailId@(itemName)").val(),
                        "DfmDate": $("#txtDfmDate@(itemName)").val(),
                        "DifficultyLevel": $("#cboDifficultyLevel@(itemName)").val(),
                        "RdUserId": $("#cboRdUserId@(itemName)").val(),
                    };

                    let data = DataAccess.EditContinued(targetUrl, postData, false);

                    if (data) {
                        $.each(data.result, function (i, item) {
                            $("#DfmId").val(item.DfmId);
                            $("#txtDfmNo@(itemName)").val(item.DfmNo);
                            ComboBoxs.Default("#cboDfmProcessStatus@(itemName)", "@Url.Action("GetStatus", "BasicInformation")", { "StatusSchema": "DesignForManufacturing.DfmProcessStatus" }, "", "NA", "", "StatusName", "StatusNo");
                            $("#cboDfmProcessStatus@(itemName)").val(item.DfmProcessStatus);
                            ComboBoxs.Default(`#cboDfmDetailLog@(itemName)`, "@Url.Action("GetDfmVersion", "DfmInformation")", { "DfmId": $("#DfmId").val() }, "", "CHOOSE", item.Version, "Version", "Version");
                        });

                        if ($(".advanced-block .flag-tabs > .flag-item > .flag-link").first().hasClass("active")) {
                            InitParameter@(itemName)($(".advanced-block .flag-tabs > .flag-item").first().find("a"));
                        } else {
                            $(".advanced-block .flag-tabs > .flag-item").first().find("a").trigger("click");
                        }
                        alert("儲存成功", "success", 0)

                    }
                } else {
                    let targetUrl = "@Url.Action("UpdateDfmHead", "DfmInformation")";
                    let postData = {
                        "DfmId": DfmId,
                        "DfmDate": $("#txtDfmDate@(itemName)").val(),
                        "DifficultyLevel": $("#cboDifficultyLevel@(itemName)").val(),
                        "RdUserId": $("#cboRdUserId@(itemName)").val()
                    };

                    let data = DataAccess.EditContinued(targetUrl, postData, false);

                    if (data) {
                        //ReturnDfmDetail()
                        if ($(".advanced-block .flag-tabs > .flag-item > .flag-link").first().hasClass("active")) {
                            InitParameter@(itemName)($(".advanced-block .flag-tabs > .flag-item").first().find("a"));
                        } else {
                            $(".advanced-block .flag-tabs > .flag-item").first().find("a").trigger("click");
                        }
                        alert("修改成功","success",0)
                    }
                }
            }
        }

        function Delete@(itemName)(DfmId) {
            swal.fire({
                titleText: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteDesignForManufacturing", "DfmInformation")";
                    let postData = {
                        "DfmId": DfmId,
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function GetUserInfo@(itemName)() {
            let targetUrl = "@Url.Action("GetLoginByKey", "User")";
            let postData = {
                "UserNo": $.cookie("Login"),
                "KeyText": $.cookie("LoginKey")
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                userId@(itemName) = data.returnData.UserId;
                companyId@(itemName) = data.returnData.CompanyId;
            } else {
                alert(data.msg, "alert", 0);
            }
        }

        @*function StatusSwitch@(itemName)() {
            var DfmId = $(this).data("dfm-id");

            let targetUrl = "@Url.Action("UpdateDfmHeadStatus", "DfmInformation")";
            let postData = {
                "DfmId": DfmId
            };

            let result = DataAccess.Update(targetUrl, postData, false, true);

            if (result) {
                Return@(itemName)();
            }
        }*@

        function Return@(itemName)() {
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName)", "#editData@(itemName), .unit-block, .advanced-block");
            Query@(itemName)();
        }
    </script>
                        )