
@using Business_Manager.Helpers
@{
    string itemName = "RfqDetail";
    string itemNameText = "Rfq單身資料";
    string authority = ViewBag.authority;
}

@Html.Resource("css",
    @<style>
         .form-group .select2-selection__rendered {
             line-height: 29px !important;
         }

         .form-group .select2-container .select2-selection--single {
             height: 39px !important;
         }

         .form-group .select2-selection__arrow {
             height: 34px !important;
         }

         .table-log {
             margin: 0;
             padding: 0;
             max-height: 30vh;
             margin-bottom: .75rem;
         }

             .table-log th {
                 background-color: #d7ecfa !important;
             }

             .table-log th, .table-log td {
                 padding: 5px 0;
                 text-align: center;
             }

         .active-icon {
             background-color: #d7ecfa;
             color: black;
         }

         .active-icon-detail {
             background-color: white;
             color: black;
         }
    </style>
)

<!--清單-->
<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6 text-right" style="display: flex; justify-content: flex-end;">
                        @*<a style="margin-right: 5px;" class="btn btn-info auth-add" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="max-width: 75px;">#</th>
                                        <th scope="col" style="max-width: 150px; min-width: 150px;">流水號</th>
                                        <th scope="col" style="max-width: 150px; min-width: 150px;">產品類別</th>
                                        <th scope="col" style="max-width: 150px; min-width: 150px;">品名</th>
                                        <th scope="col" style="max-width: 150px; min-width: 150px;">預計開案日</th>
                                        <th scope="col" style="max-width: 150px; min-width: 150px;">試作時程</th>
                                        <th scope="col" style="max-width: 125px; min-width: 125px;">試作需求數量</th>
                                        <th scope="col" style="max-width: 125px; min-width: 125px;">生命週期(起)</th>
                                        <th scope="col" style="max-width: 125px; min-width: 125px;">生命週期(迄)</th>
                                        <th scope="col" style="max-width: 100px; min-width: 100px;">量產需求</th>
                                        <th scope="col" style="max-width: 150px; min-width: 150px;">開案型態</th>
                                        <th scope="col" style="max-width: 150px; min-width: 150px;">塑料品名</th>
                                        <th scope="col" style="max-width: 125px; min-width: 125px;">部品外徑大小</th>
                                        <th scope="col" style="max-width: 200px; min-width: 200px;">包裝方式</th>
                                        <th scope="col" style="max-width: 100px; min-width: 100px;">週期數量</th>
                                        <th scope="col" style="max-width: 150px; min-width: 150px;">需求日期</th>
                                        <th scope="col" style="max-width: 100px; min-width: 100px;">是否鍍膜</th>
                                        <th scope="col" style="max-width: 150px; min-width: 150px;">業務人員</th>
                                        @*<th scope="col" style="max-width: 200px; min-width: 200px;">客戶產品圖</th>
                                        <th scope="col" style="max-width: 100px; min-width: 100px;">附加檔案</th>*@
                                        <th scope="col" style="max-width: 150px; min-width: 150px;">描述</th>
                                        <th scope="col" style="max-width: 50px; min-width: 150px;">狀態碼</th>
                                        <th class="text-center col-sticky" scope="col" style="max-width: 100px; min-width: 250px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--新增修改-->
<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container custom-form-container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="RfqDetailId" name="RfqDetailId" value="-1" />
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label">序號/產品類別/開案型態<span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="txtRfqSequence@(itemName)" name="txtRfqSequence@(itemName)" placeholder="系統自動產生" readonly>
                                    <select class="form-control col-md-3 col-lg-3" id="cboRfqProTypeId@(itemName)" name="cboRfqProTypeId@(itemName)" placeholder="請輸入產品類別"></select>
                                    <input type="text" class="form-control" id="txtKickOffType@(itemName)" name="txtKickOffType@(itemName)" placeholder="請輸入開案型態，範例：5G1黑2S1IR">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label">品名/塑料品名/外徑大小 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="txtMtlName@(itemName)" name="txtMtlName@(itemName)" placeholder="請輸入品名">
                                    <input type="text" class="form-control" id="txtPlasticName@(itemName)" name="txtPlasticName@(itemName)" placeholder="請輸入塑料品名">
                                    <input type="text" class="form-control" id="txtOutsideDiameter@(itemName)" name="txtOutsideDiameter@(itemName)" placeholder="請輸入部品外徑大小">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label">試作時程 / 試作需求數量 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <div class="input-group">
                                    <select class="form-control" id="cboProtoSchedule@(itemName)" name="cboProtoSchedule@(itemName)" placeholder="請選擇試作時程"></select>
                                    <input type="text" class="form-control" id="txtPrototypeQty@(itemName)" name="txtPrototypeQty@(itemName)" placeholder="請輸入試作需求數量">
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label">預計開案日 / 需求日期 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="txtPlannedOpeningDate@(itemName)" name="txtPlannedOpeningDate@(itemName)" placeholder="請輸入預計開案日"
                                           data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                           data-msg-required="請輸入預計開案日" data-rule-required="true" />
                                    <input type="text" class="form-control" id="txtDemandDate@(itemName)" name="txtDemandDate@(itemName)" placeholder="請輸入需求日期"
                                           data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                           data-msg-required="請輸入需求日期" data-rule-required="true" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtSoQty@(itemName)">生命週期 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <div class="input-group">
                                    <span class="input-group-addon">起</span>
                                    <input type="text" class="form-control" id="txtProdLifeCycleStart@(itemName)" name="txtProdLifeCycleStart@(itemName)"
                                           data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                           data-msg-required="請輸入起始日" />
                                    <span class="input-group-addon">訖</span>
                                    <input type="text" class="form-control" id="txtProdLifeCycleEnd@(itemName)" name="txtProdLifeCycleEnd@(itemName)"
                                           data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                           data-msg-required="請輸入完成日" />
                                    <span class="input-group-addon">週期數量</span>
                                    <input type="text" class="form-control" id="txtLifeCycleQty@(itemName)" name="txtLifeCycleQty@(itemName)"
                                           data-msg-required="請輸入週期數量" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label">量產需求 / 是否鍍膜 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <div class="input-group">
                                    <select class="form-control" id="cboMassProductionDemand@(itemName)" name="cboMassProductionDemand@(itemName)" placeholder="請選擇量產需求">
                                        <option value="Y">是</option>
                                        <option value="N" selected>否</option>
                                    </select>
                                    <select class="form-control" id="cboCoatingFlag@(itemName)" name="cboCoatingFlag@(itemName)" placeholder="請選擇是否鍍膜">
                                        <option value="Y">是</option>
                                        <option value="N" selected>否</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label">幣別 / 描述</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <div class="input-group">
                                    <select class="form-control" id="cboCurrency@(itemName)" name="cboCurrency@(itemName)" placeholder="請選擇幣別">
                                        <option value="NT$" selected>NT$：台幣</option>
                                        <option value="CNY">CNY：人民幣</option>
                                        <option value="USD">USD：美元</option>
                                        <option value="JPY">JPY：日元</option>
                                        <option value="HKD">HKD：港元</option>
                                        <option value="EUR">EUR：歐元</option>
                                        <option value="GBP">GBP：英鎊</option>
                                        <option value="CHF">CHF：瑞士法郎</option>
                                    </select>
                                    <input type="text" class="form-control" id="txtDescription@(itemName)" name="txtDescription@(itemName)" placeholder="請輸入描述">
                                </div>
                            </div>
                        </div>
                        <div class="row rmadetail-block">
                            <div class="col-12 col-md-3 col-lg-3"></div>
                            <div class="col-12 col-md-9 col-lg-9">
                                <div class="table-custom table-log">
                                    <table class="table" id="tblLog@(itemName)">
                                        <thead>
                                            <tr>
                                                <th scope="col">產品類別</th>
                                                <th scope="col">包裝種類</th>
                                                <th scope="col">客供盛盤</th>
                                                <th scope="col">
                                                    操作
                                                    <a class="active-icon auth-detail-add" href="javascript:PopViewRfqProductType();"><i class="fas fa-plus"></i></a>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtCustProdDigram@(itemName)">客戶產品圖</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="file" id="fileCustProdDigram@(itemName)" name="fileCustProdDigram@(itemName)" />
                                <input type="hidden" id="txtCustProdDigram@(itemName)" name="txtCustProdDigram@(itemName)" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtAdditionalFile@(itemName)">附加檔案</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="file" id="fileAdditionalFile@(itemName)" name="fileAdditionalFile@(itemName)" />
                                <input type="hidden" id="txtAdditionalFile@(itemName)" name="txtAdditionalFile@(itemName)" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
                <button type="button" class="btn btn-success read-hide" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

<!--指派業務POP-->
<div class="modal fade" id="modalAssignInfo@(itemName)">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" onclick="CloseAssignInfo@(itemName)()">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container custom-form-container" autocomplete="off" id="AssignInfoForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboCompany@(itemName)">公司</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboCompany@(itemName)" name="cboCompany@(itemName)"
                                        data-msg-required="請選擇公司" data-rule-required="true"></select>
                            </div>
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboSalesId@(itemName)">業務</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboSalesId@(itemName)" name="cboSalesId@(itemName)"
                                        data-msg-required="請選擇業務" data-rule-required="true"></select>
                            </div>

                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-success" onclick="AssignSave@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

@Html.Partial("ViewRfqProductType")

@Html.Resource("js",
    @<script>
        let PackagingJson = JSON.parse('{ "data" : []}');
        let objForm@(itemName) = "#editForm@(itemName)";
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };

        function Expand@(itemName)() {
            if (parseInt($("#RfqId").val()) > 0) {
                $(".advanced-block").slideDown("slow");

                Return@(itemName)();

                

            } else {
                alert("請先儲存RFQ單頭", "alert");
            }
        }

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;
            let targetUrl = "@Url.Action("GetRfqDetail", "RequestForQuotation")";

            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "RfqId": $("#RfqId").val(),
                "RfqDetailId": $("#txtRfqDetailIdDesignForManufacturingManagement").val()
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;
                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);
                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        //判斷出貨方式是否多種
                        let PackagingMethodRow = 0;
                        let PackagingMethod;
                        if (item.PackagingMethod) {
                            PackagingMethod = JSON.parse(item.PackagingMethod);
                            PackagingMethodRow = PackagingMethod.data.length;
                        }
                        innerHtml += `<tr>
                                        <td ${(PackagingMethodRow > 0 ? `rowspan="${PackagingMethodRow}"` : ``)}>${_row}</td>
                                        <td ${(PackagingMethodRow > 0 ? `rowspan="${PackagingMethodRow}"` : ``)} class="ellipsis" data-toggle="tooltip" title="${item.RfqSequence}" style="max-width: 150px; min-width: 150px;">${item.RfqSequence}</td>              @*產品類別*@
                                        <td ${(PackagingMethodRow > 0 ? `rowspan="${PackagingMethodRow}"` : ``)} class="ellipsis" data-toggle="tooltip" title="${item.RfqProductTypeName}" style="max-width: 150px; min-width: 150px;">${item.RfqProductTypeName}</td>              @*產品類別*@
                                        <td ${(PackagingMethodRow > 0 ? `rowspan="${PackagingMethodRow}"` : ``)} class="ellipsis" data-toggle="tooltip" title="${item.MtlName}" style="max-width: 150px; min-width: 150px;">${item.MtlName}</td>                                    @*品名*@
                                        <td ${(PackagingMethodRow > 0 ? `rowspan="${PackagingMethodRow}"` : ``)} class="ellipsis" data-toggle="tooltip" title="${item.PlannedOpeningDate}" style="max-width: 150px; min-width: 150px;">${item.PlannedOpeningDate}</td>              @*預計開案日*@
                                        <td ${(PackagingMethodRow > 0 ? `rowspan="${PackagingMethodRow}"` : ``)} class="ellipsis" data-toggle="tooltip" title="${item.ProtoScheduleName}" style="max-width: 150px; min-width: 150px;">${item.ProtoScheduleName}</td>                @*試作時程*@
                                        <td ${(PackagingMethodRow > 0 ? `rowspan="${PackagingMethodRow}"` : ``)} class="ellipsis" data-toggle="tooltip" title="${item.PrototypeQty}" style="max-width: 125px; min-width: 125px;">${item.PrototypeQty.toLocaleString(`en`)}</td>     @*試作需求數量*@
                                        <td ${(PackagingMethodRow > 0 ? `rowspan="${PackagingMethodRow}"` : ``)} class="ellipsis" data-toggle="tooltip" title="${item.ProdLifeCycleStart}" style="max-width: 125px; min-width: 125px;">${item.ProdLifeCycleStart}</td>              @*生命週期起*@
                                        <td ${(PackagingMethodRow > 0 ? `rowspan="${PackagingMethodRow}"` : ``)} class="ellipsis" data-toggle="tooltip" title="${item.ProdLifeCycleEnd}" style="max-width: 125px; min-width: 125px;">${item.ProdLifeCycleEnd}</td>                  @*生命週期訖*@
                                        <td ${(PackagingMethodRow > 0 ? `rowspan="${PackagingMethodRow}"` : ``)} class="ellipsis" data-toggle="tooltip" title="${item.MassProductionDemandName}" style="max-width: 100px; min-width: 100px;">${item.MassProductionDemandName}</td>  @*量產需求*@
                                        <td ${(PackagingMethodRow > 0 ? `rowspan="${PackagingMethodRow}"` : ``)} class="ellipsis" data-toggle="tooltip" title="${item.KickOffType}" style="max-width: 150px; min-width: 150px;">${item.KickOffType}</td>                            @*開案型態*@
                                        <td ${(PackagingMethodRow > 0 ? `rowspan="${PackagingMethodRow}"` : ``)} class="ellipsis" data-toggle="tooltip" title="${item.PlasticName}" style="max-width: 150px; min-width: 150px;">${item.PlasticName}</td>                            @*塑料品名*@
                                        <td ${(PackagingMethodRow > 0 ? `rowspan="${PackagingMethodRow}"` : ``)} class="ellipsis" data-toggle="tooltip" title="${item.OutsideDiameter}" style="max-width: 125px; min-width: 125px;">${item.OutsideDiameter}</td>                    @*部品外徑大小*@
                                        ${PackagingMethodRow > 0
                                        ? `<td class="ellipsis" data-toggle="tooltip" title="${PackagingMethod.data[0].PackagingMethod}" style="max-width: 200px;">${PackagingMethod.data[0].PackagingMethod}</td>`
                                        : `<td ${(PackagingMethodRow > 1 ? `rowspan="${PackagingMethodRow}"` : ``)}></td>`
                                        }
                                        <td ${(PackagingMethodRow > 0 ? `rowspan="${PackagingMethodRow}"` : ``)} class="ellipsis" data-toggle="tooltip" title="${item.LifeCycleQty}" style="max-width: 100px; min-width: 100px;">${item.LifeCycleQty}</td>                          @*週期數量*@
                                        <td ${(PackagingMethodRow > 0 ? `rowspan="${PackagingMethodRow}"` : ``)} class="ellipsis" data-toggle="tooltip" title="${item.DemandDate}" style="max-width: 150px; min-width: 150px;">${item.DemandDate}</td>                              @*需求日期*@
                                        <td ${(PackagingMethodRow > 0 ? `rowspan="${PackagingMethodRow}"` : ``)} class="ellipsis" data-toggle="tooltip" title="${item.CoatingFlagName}" style="max-width: 100px; min-width: 100px;">${item.CoatingFlagName}</td>                    @*是否鍍膜*@
                                        <td ${(PackagingMethodRow > 0 ? `rowspan="${PackagingMethodRow}"` : ``)} class="ellipsis" data-toggle="tooltip" title="${item.SalesInfo}" style="max-width: 150px; min-width: 150px;">${item.SalesInfo}</td>                                @*業務人員*@
                                        @*<td ${(PackagingMethodRow > 0 ? `rowspan="${PackagingMethodRow}"` : ``)} class="ellipsis" data-toggle="tooltip" title="${item.CustProdDigram}" style="max-width: 200px; min-width: 200px;">${item.CustProdDigram}</td>                   @*客戶產品圖*@
                                        @*<td ${(PackagingMethodRow > 0 ? `rowspan="${PackagingMethodRow}"` : ``)} class="ellipsis" data-toggle="tooltip" title="${item.AdditionalFile}" style="max-width: 100px; min-width: 100px;">${item.AdditionalFile}</td>                   @*附加檔案*@
                                        <td ${(PackagingMethodRow > 0 ? `rowspan="${PackagingMethodRow}"` : ``)} class="ellipsis" data-toggle="tooltip" title="${item.Description}" style="max-width: 150px; min-width: 150px;">${item.Description}</td>                            @*描述*@
                                        <td ${(PackagingMethodRow > 0 ? `rowspan="${PackagingMethodRow}"` : ``)} class="ellipsis" data-toggle="tooltip" title="${item.RfqDetailStatusName}" style="max-width: 150px; min-width: 150px;">${item.RfqDetailStatusName}</td>            @*狀態碼*@
                                        <td ${(PackagingMethodRow > 0 ? `rowspan="${PackagingMethodRow}"` : ``)} class="text-center active-content col-sticky" style="max-width: 50px; min-width: 250px;">
                                            ${JudgeStatus@(itemName)(`${item.RfqId}`, `${item.RfqDetailId}`, `${item.Status}`)}
                                        </td>
                                      </tr>
                                      ${PackagingMethod@(itemName)(item.PackagingMethod)} @*包裝方式*@`;
                    });

                    function JudgeStatus@(itemName)(rRfqId, rfqDetailId, status) {
                        let innerHtml = '';
                        if (status <= "2") {
                            innerHtml += `<a class="active-link auth-read" href="javascript:Read@(itemName)(${rfqDetailId});"><i class="fas fa-eye"></i></a> &nbsp`;
                            //依照入口頁面，控制可視權限
                            if ($("#rfqPage").val() != "default") {
                                innerHtml += `<a class="active-link auth-update" href="javascript:Edit@(itemName)('${rfqDetailId}');"><i class="fas fa-edit"></i></a> &nbsp`;
                            }

                            if ($("#rfqPage").val() != "assign") {
                                innerHtml += `<a class="active-link auth-detail-assign" href="javascript:DetailAssign@(itemName)(${rfqDetailId});" ><i class="fas fa-user"></i> 指派人員</a> &nbsp`;
                            }

                            if ($("#rfqPage").val() != "default") {
                                innerHtml += `<a class="active-link auth-detail-confirm" href="javascript:DetailConfirm@(itemName)('${rRfqId}', '${rfqDetailId}');" ><i class="fas fa-check-circle"></i> 確認</a>`;
                            }
                        }
                        else {
                            innerHtml += `<a class="active-link auth-read" href="javascript:Read@(itemName)(${rfqDetailId});"><i class="fas fa-eye"></i></a> &nbsp`;

                            if ($("#rfqPage").val() != "default") {
                                innerHtml += `<a class="active-link auth-update active-disable" href="javascript:void(0);"><i class="fas fa-edit"></i></a> &nbsp`;
                            }

                            if ($("#rfqPage").val() != "assign") {
                                innerHtml += `<a class="active-link auth-detail-assign active-disable" href="javascript:void(0);"><i class="fas fa-user"></i> 指派人員</a> &nbsp`;
                            }

                            if ($("#rfqPage").val() != "default") {
                                innerHtml += `<a class="active-link auth-detail-confirm active-disable" href="javascript:void(0);"><i class="fas fa-check-circle"></i> 確認</a>`;
                            }
                        }
                        return innerHtml;
                    }
                }
                else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="20" style="background-color: #fff3cd;">
                                        <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            }
            else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));
        }

        function PackagingMethod@(itemName)(source) {
            let html = '';

            if (source) {
                let json = JSON.parse(source);

                for (let x = 1; x < json.data.length; x++) {
                    html += `<tr>
                                <td class="ellipsis" data-toggle="tooltip" title="${json.data[x].PackagingMethod}" style="max-width: 200px;">${json.data[x].PackagingMethod}</td>                 @*包裝方式*@
                                </tr>`;
                }
            }

            return html;
        }

        function Edit@(itemName)(RfqDetailId) {
            $("#RfqDetailId").val(RfqDetailId ? RfqDetailId : 0);
            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");
            $(".read-hide").show();

            ComboBoxs.Default("#cboRfqProTypeId@(itemName)", "@Url.Action("GetRfqProductType", "ScmBasicInformation")", {}, "", "NA", "", "RfqProductTypeName", "RfqProTypeId");              //產品類別
            ComboBoxs.Default("#cboProtoSchedule@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "RfqDetail.ProtoSchedule" }, "", "NA", "", "TypeName", "TypeNo");     //試作時程

            let currentDate = new Date();
            let cycleStartDate = new Date();
            let cycleEndDate = new Date();
            let demandDate = new Date();
            Suites.DatePicker("txtPlannedOpeningDate@(itemName)", currentDate);
            Suites.DatePicker("txtProdLifeCycleStart@(itemName)", cycleStartDate);
            Suites.DatePicker("txtProdLifeCycleEnd@(itemName)", cycleEndDate);
            Suites.DatePicker("txtDemandDate@(itemName)", demandDate);

            PackagingJson = JSON.parse('{ "data" : []}');
            $("#txtCustProdDigram@(itemName)").val("");
            $("#txtAdditionalFile@(itemName)").val("");

            if (RfqDetailId > 0) {
                let targetUrl = "@Url.Action("GetRfqDetail", "RequestForQuotation")";
                let postData = {
                    "RfqDetailId": RfqDetailId
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        $("#RfqDetailId").val(item.RfqDetailId);
                        $("#txtRfqSequence@(itemName)").val(item.RfqSequence);                    //流水號
                        $("#cboRfqProTypeId@(itemName)").val(item.RfqProTypeId);                  //產品類別
                        $("#txtMtlName@(itemName)").val(item.MtlName);                            //品名
                        $("#txtPlannedOpeningDate@(itemName)").val(item.PlannedOpeningDate);      //預計開案日
                        $("#cboProtoSchedule@(itemName)").val(item.ProtoSchedule);                //試作時程
                        $("#txtPrototypeQty@(itemName)").val(item.PrototypeQty);                  //試作需求數量
                        $("#cboMassProductionDemand@(itemName)").val(item.MassProductionDemand);  //量產需求
                        $("#txtProdLifeCycleStart@(itemName)").val(item.ProdLifeCycleStart);      //生命週期(起)
                        $("#txtProdLifeCycleEnd@(itemName)").val(item.ProdLifeCycleEnd);          //生命週期(訖)
                        $("#txtKickOffType@(itemName)").val(item.KickOffType);                    //開案型態
                        $("#txtPlasticName@(itemName)").val(item.PlasticName);                    //塑料品名
                        $("#txtOutsideDiameter@(itemName)").val(item.OutsideDiameter);            //部品外徑大小
                        $("#txtLifeCycleQty@(itemName)").val(item.LifeCycleQty);                  //週期數量
                        $("#txtDemandDate@(itemName)").val(item.DemandDate);                      //需求日期
                        $("#cboCoatingFlag@(itemName)").val(item.CoatingFlag);                    //是否鍍膜
                        $("#cboCurrency@(itemName)").val(item.Currency);                          //幣別
                        $("#txtDescription@(itemName)").val(item.Description);                    //描述

                        if (item.PackagingMethod) {
                            PackagingJson = JSON.parse(item.PackagingMethod);
                        }
                        
                        LoadPackaging@(itemName)(JSON.parse(item.PackagingMethod));               //包裝方式

                        //客戶設計圖
                        let custProdDigramList = [];
                        if (item.CustProdDigram != null) {
                            let custProdDigramJson = JSON.parse(item.CustProdDigram);
                            $.each(custProdDigramJson.data, function (j, item2) {
                                custProdDigramList.push(item2.FileId);
                            });
                        }
                        $("#txtCustProdDigram@(itemName)").val(item.CustProdDigram);

                        //附檔
                        let additionalFileList = [];
                        if (item.AdditionalFile != null) {
                            let additionalFileJson = JSON.parse(item.CustProdDigram);
                            $.each(additionalFileJson.data, function (j, item2) {
                                additionalFileList.push(item2.FileId);
                            });
                        }
                        $("#txtAdditionalFile@(itemName)").val(item.AdditionalFile);
                    });
                } else {
                    alert(data.msg, "alert", 0);
                }
            }
            
            let uploadConfigDigram = {
                fileSelector: "#fileCustProdDigram@(itemName)",
                targetSelector: "#txtCustProdDigram@(itemName)",
                required: false,
                uploadPath: "/RequestForQuotation/RfqDetail",
                maxFileCount: 1,
                defaultFile: $("#txtCustProdDigram@(itemName)").val()
            };
            Suites.FileUpload(uploadConfigDigram);

            let uploadConfigFile = {
                fileSelector: "#fileAdditionalFile@(itemName)",
                targetSelector: "#txtAdditionalFile@(itemName)",
                required: false,
                uploadPath: "/RequestForQuotation/RfqDetail",
                maxFileCount: 1,
                defaultFile: $("#txtAdditionalFile@(itemName)").val()
            };
            Suites.FileUpload(uploadConfigFile);

            $("#cboRfqProTypeId@(itemName), #cboProtoSchedule@(itemName), #cboMassProductionDemand@(itemName), #cboPackagingMethod@(itemName), #cboCoatingFlag@(itemName), #cboCurrency@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "50%"
            });
        }

        //包裝方式詳細資訊
        function LoadPackaging@(itemName)(json) {
            let innerHtml = '';
            if (json) {
                if (json.data.length > 0) {
                    for (var i = 0; i < json.data.length; i++) {
                        innerHtml += `<tr>
                                        <td>${json.data[i].RfqProductClassName}</td>
                                        <td>${json.data[i].PackagingMethod}</td>
                                        <td>${json.data[i].SustSupplyStatusName}</td>
                                        <td class="text-center active-content">
                                          <a class="active-icon-detail auth-detail-delete" href="javascript:DeletePackaging@(itemName)(${i});"><i class="fas fa-trash"></i></a>
                                        </td>
                                      </tr>`;
                    }
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="4" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                innerHtml += `<tr>
                                <td class="text-center" colspan="4" style="background-color: #fff3cd;">
                                    <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                </td>
                              </tr>`;
            }


            $("#tblLog@(itemName) tbody").html(innerHtml);
        }

        function Read@(itemName)(RfqId) {
            Edit@(itemName)(RfqId);
            $(objForm@(itemName) + " fieldset").attr("disabled", true);
            $(objForm@(itemName) + " select").attr("disabled", true);
            $(".read-hide").hide();
        }

        //指派人員
        function DetailAssign@(itemName)(RfqDetailId) {
            $("#RfqDetailId").val(RfqDetailId);
            ComboBoxs.Default("#cboCompany@(itemName)", "@Url.Action("GetCompany", "BasicInformation")", {}, "", "NA", "", "CompanyName", "CompanyId");
            ComboBoxs.Default("#cboSalesId@(itemName)", "@Url.Action("GetSales", "RequestForQuotation")", {}, "", "NA", "", "SalesInfo", "UserId");              //業務人員

            //修改公司時，需一併修正人員
            $("#cboCompany@(itemName)").change(function () {
                ComboBoxs.Default("#cboSalesId@(itemName)", "@Url.Action("GetSales", "RequestForQuotation")", { "CompanyId": $("#cboCompany@(itemName)").val() }, "", "NA", "", "SalesInfo", "UserId");              //業務人員
            });

            $("#cboCompany@(itemName), #cboSalesId@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });

            $("#modalAssignInfo@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });
        }

        function CloseAssignInfo@(itemName)() {
            ResetForm("#AssignInfoForm@(itemName)");

            $("#modalAssignInfo@(itemName)").modal("hide");

            Query@(itemName)();
        }

        function AssignSave@(itemName)() {
            swal.fire({
                titleText: "確認是否指派該業務負責此案件嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("UpdateRfqDetailSales", "RequestForQuotation")";
                    let postData = {
                        "RfqDetailId": $("#RfqDetailId").val(),
                        "CompanyId": $("#cboCompany@(itemName)").val(),
                        "UserId": $("#cboSalesId@(itemName)").val()
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                        CloseAssignInfo@(itemName)();
                    }
                }
            });
        }

        function DetailConfirm@(itemName)(RfqId, RfqDetailId) {
            swal.fire({
                titleText: "要將單據進行確認嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("UpdateRfqDetailConfirm", "RequestForQuotation")";
                    let postData = {
                        "RfqId": RfqId,
                        "RfqDetailId": RfqDetailId
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let RfqDetailId = parseInt($("#RfqDetailId").val());

                if (RfqDetailId > 0) {
                    let targetUrl = "@Url.Action("UpdateRfqDetail", "RequestForQuotation")";
                    let postData = {
                        "RfqDetailId": RfqDetailId,
                        "RfqId": $("#RfqId").val(),
                        "RfqProTypeId": $("#cboRfqProTypeId@(itemName)").val(),
                        "MtlName": $("#txtMtlName@(itemName)").val(),
                        "PlannedOpeningDate": $("#txtPlannedOpeningDate@(itemName)").val(),
                        "ProtoSchedule": $("#cboProtoSchedule@(itemName)").val(),
                        "PrototypeQty": $("#txtPrototypeQty@(itemName)").val(),
                        "MassProductionDemand": $("#cboMassProductionDemand@(itemName)").val(),
                        "ProdLifeCycleStart": $("#txtProdLifeCycleStart@(itemName)").val(),
                        "ProdLifeCycleEnd": $("#txtProdLifeCycleEnd@(itemName)").val(),
                        "KickOffType": $("#txtKickOffType@(itemName)").val(),
                        "PlasticName": $("#txtPlasticName@(itemName)").val(),
                        "OutsideDiameter": $("#txtOutsideDiameter@(itemName)").val(),
                        "LifeCycleQty": $("#txtLifeCycleQty@(itemName)").val(),
                        "DemandDate": $("#txtDemandDate@(itemName)").val(),
                        "CoatingFlag": $("#cboCoatingFlag@(itemName)").val(),
                        "Currency": $("#cboCurrency@(itemName)").val(),
                        "CustProdDigram": $("#txtCustProdDigram@(itemName)").val(),
                        "AdditionalFile": $("#txtAdditionalFile@(itemName)").val(),
                        "Description": $("#txtDescription@(itemName)").val(),
                        "PackagingDetails": JSON.stringify(PackagingJson)
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Return@(itemName)();
                    }
                }
            }
        }

        //包裝方式詳細資訊刪除
        function DeletePackaging@(itemName)(index) {
            swal.fire({
                titleText: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    if (PackagingJson.data.length <= 1) {
                        alert("至少需有一筆【包裝相關資料】!");
                    } else {
                        PackagingJson.data.splice(index, 1);
                        LoadPackaging@(itemName)(PackagingJson);
                    }
                }
            });
        }
        
        //數字千分位補逗號
        //function Thousands(num) {
        //    var str = num.toString();
        //    var reg = str.indexOf(".") > -1 ? /(\d)(?=(\d{3})+\.)/g : /(\d)(?=(?:\d{3})+$)/g;
        //    return str.replace(reg, "$1,");
        //}

        function Return@(itemName)() {
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName)", "#editData@(itemName)");
            Query@(itemName)();
        }
    </script>
        )
