@using Business_Manager.Helpers
@{
    string itemName = "DocNotification";
    string itemNameText = "單據通知權限";
    string authority = ViewBag.authority;

    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
    </style>
                                                                )

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
    </div>
</div>

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtRoleNameQ@(itemName)">角色名稱</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtRoleNameQ@(itemName)" name="txtRoleNameQ@(itemName)" placeholder="請輸入角色名稱" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboDocTypeQ@(itemName)">選擇權限</label>
                            <div class="col-12">
                                <select class="form-control" id="cboDocTypeQ@(itemName)" name="cboDocTypeQ@(itemName)"></select>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);"><i class="fal fa-search"></i>搜尋</a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn btn-info" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky table-stack" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th scope="col" style="min-width: 200px;">角色名稱</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">權限名稱</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">產品名稱</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">產品類別</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container custom-form-container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboDocType@(itemName)">選擇權限</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboDocType@(itemName)" name="cboDocType@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboSubProdId@(itemName)">產品名稱</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboSubProdId@(itemName)" name="cboSubProdId@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label id="labelSubProdType@(itemName)" class="col-12 col-md-3 col-lg-3 col-form-label" for="cboSubProdType@(itemName)">產品類別</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboSubProdType@(itemName)" name="cboSubProdType@(itemName)"></select>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {

            var target = $(e.target).attr("href"); // Get the tab href attribute value
            if (target === '#tabDocNotification') { // Check if the activated tab is the one you're interested in
                //alert("XXXXDocNotification.cshtml   when was hit!!! 準備要顯示出 Query 的結果")
                Return@(itemName)();
            }
        });

        function Expand@(itemName)(RoleId) {
            if (parseInt($("#RoleId").val()) > 0) {
                $(".advanced-block").slideDown("slow");

                Query@(itemName)();
            } else {
                //alert("類別資料展開失敗，請聯繫資訊人員!", "alert");
            }
        }

       $(document).ready(function () {

           ComboBoxs.Default("#cboDocTypeQ@(itemName)", "@Url.Action("GetDocInformation", "EipBasicInformation")", {}, "", "NA", "", "DocType", "DocType");
           $("#cboDocType@(itemName)").change(function () {
               if ($(this).val() === "DFM") {
                   $("#cboSubProdType@(itemName)").show();
                   $("#labelSubProdType@(itemName)").show();
               } else {
                   $("#cboSubProdType@(itemName)").hide();
                   $("#labelSubProdType@(itemName)").hide();
               }
           });
            Query@(itemName)();

        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));
            $("#txtRoleNameQ@(itemName)").val("");
            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let targetUrl = "@Url.Action("GetDocInformation", "EipBasicInformation")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "RoleId": $("#RoleId").val(),
                "RoleName": $("#txtRoleNameQ@(itemName)").val(),
                "DocType": $("#cboDocTypeQ@(itemName)").val()
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr>
                                        <td><span class="stack-title">#</span>${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.RoleName}" style="max-width: 175px;"><span class="stack-title">角色名稱</span>${item.RoleName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DocType}" style="max-width: 175px;"><span class="stack-title">權限名稱</span>${item.DocType}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.SubProductName}" style="max-width: 175px;"><span class="stack-title">產品名稱</span>${item.SubProductName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.SubProdType}" style="max-width: 175px;"><span class="stack-title">產品類別</span>${item.SubProdType}</td>
                                        <td class="text-center active-content">
                                          <span class="stack-title">操作</span>
                                          <a class="active-link" href="javascript:Delete@(itemName)(${item.DocNotifyId});"><i class="fas fa-trash-alt"></i></a>
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="9" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

        }

        function Edit@(itemName)(DocNotifyId) {

            ComboBoxs.Default("#cboDocType@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "DocNotify.DocType" }, "", "NA", "", "TypeName", "TypeName");
            $("#cboDocType@(itemName)").change(function () {
            if ($(this).val() === "DFM") {
                ComboBoxs.Default("#cboSubProdId@(itemName)", "@Url.Action("GetDfmItemCategory", "EipBasicInformation")", {}, "", "NA", "", "DfmItemCategoryName", "DfmItemCategoryId");
            }else if ($(this).val() === "RFQ") {
                ComboBoxs.Default("#cboSubProdId@(itemName)", "@Url.Action("GetRfqProductType", "EipBasicInformation")", {}, "", "NA", "", "RfqProductTypeName", "RfqProTypeId");
            }
            });
            ComboBoxs.Default("#cboSubProdType@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "DocNotify.SubProdType" }, "", "NA", "", "TypeName", "TypeName");

            $("#cboSubProdType@(itemName)").hide();
            $("#labelSubProdType@(itemName)").hide();

            $("#DocNotifyId").val(DocNotifyId ? DocNotifyId : 0);
            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");

            if (DocNotifyId > 0) {
                let targetUrl = "@Url.Action("GetDocInformation", "EipBasicInformation")";
                let postData = {
                    "RoleId": $("#RoleId").val(),
                    "DocNotifyId": DocNotifyId
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        $("#cboRoleId@(itemName)").val(item.RoleId);
                        $("#cboDocType@(itemName)").val(item.DocType);
                    });

                } else {
                    alert(data.msg, "alert", 0);
                }
            }
            if (!isMobile) {
                $("#cboDocType@(itemName)").select2({
                    width: "100%"
                });
            }
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {

               let targetUrl = "@Url.Action("AddDocInformation", "EipBasicInformation")";
                    let postData = {
                        "RoleId": $("#RoleId").val(),
                        "DocType": $("#cboDocType@(itemName)").val(),
                        "SubProdId": $("#cboSubProdId@(itemName)").val(),
                        "SubProdType": $("#cboSubProdType@(itemName)").val()
                    };

                    let data = DataAccess.EditContinued(targetUrl, postData, false);

                    if (data) {
                        $.each(data.result, function (i, item) {
                            $("#RoleId").val(item.RoleId);
                            $("#cboDocType").val(item.DocType);
                            $("#cboSubProdId").val(item.SubProdId);
                            $("#cboSubProdType").val(item.SubProdType);
                        });
                    }
                     if (data.status == "success") {
                        alert("新增成功", "success", 0);
                    } else {
                        alert(data.msg, "alert", 0);
                    }
                    Return@(itemName)();

            }
        }


        function Delete@(itemName)(DocNotifyId) {
            swal.fire({
                titleText: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteDocInformation", "EipBasicInformation")";
                    let postData = {
                        "DocNotifyId": DocNotifyId
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function Return@(itemName)() {
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName)", "#editData@(itemName)");
            Query@(itemName)();
        }

    </script>
                                                       )