@using Business_Manager.Helpers
@{
    string itemName = "DocNotificationUser";
    string itemNameText = "角色使用者";
    string authority = ViewBag.authority;

    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
    </style>
                                        )

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
    </div>
</div>

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtRoleNameQ@(itemName)">角色名稱</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtRoleNameQ@(itemName)" name="txtRoleNameQ@(itemName)" placeholder="請輸入角色名稱" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtUserNameQ@(itemName)">使用者名稱</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtUserNameQ@(itemName)" name="txtUserNameQ@(itemName)" placeholder="請輸入使用者名稱" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);"><i class="fal fa-search"></i>搜尋</a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn btn-info" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky table-stack" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th scope="col" style="min-width: 200px;">角色名稱</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">使用者名稱</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container custom-form-container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboDepartmentId@(itemName)">選擇部門</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboDepartmentId@(itemName)" name="cboDepartmentId@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboUserId@(itemName)">選擇人員</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboUserId@(itemName)" name="cboUserId@(itemName)"></select>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";
        //let roleId@(itemName);

         $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {

            var target = $(e.target).attr("href"); // Get the tab href attribute value
            if (target === '#tabDocNotificationUser') { // Check if the activated tab is the one you're interested in
                //alert("XXXXDocNotification.cshtml   when was hit!!! 準備要顯示出 Query 的結果")
                Return@(itemName)();
            }
        });

        function Expand@(itemName)(RoleId) {
            //roleId@(itemName) = roleId;
            if (parseInt($("#RoleId").val()) > 0) {
                $(".advanced-block").slideDown("slow");

                Query@(itemName)();
            } else {
                //alert("類別資料展開失敗，請聯繫資訊人員!", "alert");
            }
        }
        
        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));
            $("#txtRoleNameQ@(itemName)").val("");
            $("#txtUserNameQ@(itemName)").val("");
            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;
            
            let targetUrl = "@Url.Action("GetDocUserInformation", "EipBasicInformation")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "RoleId": $("#RoleId").val(),
                "RoleName": $("#txtRoleNameQ@(itemName)").val(),
                "UserName": $("#txtUserNameQ@(itemName)").val()
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr>
                                        <td><span class="stack-title">#</span>${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.RoleName}" style="max-width: 175px;"><span class="stack-title">角色名稱</span>${item.RoleName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.UserName}" style="max-width: 175px;"><span class="stack-title">角色使用者名稱</span>${item.UserName}</td>
                                        <td class="text-center active-content">
                                          <span class="stack-title">操作</span>
                                          <a class="active-link" href="javascript:Delete@(itemName)(${item.RoleId},${item.UserId});"><i class="fas fa-trash-alt"></i></a>
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="9" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

        }

        function Edit@(itemName)(UserId) {
            
            ComboBoxs.Default("#cboRoleId@(itemName)", "@Url.Action("GetDocRoleInformation", "EipBasicInformation")", {}, "", "NA", "", "RoleName", "RoleId");
            ComboBoxs.Default("#cboDepartmentId@(itemName)", "@Url.Action("GetDepartment_A", "EipBasicInformation")", {}, "", "NA", "", "DepartmentName", "DepartmentId");
            
            ComboBoxs.Default("#cboUserId@(itemName)", "@Url.Action("GetUser_S", "EipBasicInformation")", {}, "", "NA", "", "UserNoName", "UserId");
            $("#cboDepartmentId@(itemName)").change(function () {
                var DepartmentId = $("#cboDepartmentId@(itemName)").val();
                ComboBoxs.Default("#cboUserId@(itemName)", "@Url.Action("GetUser_S", "EipBasicInformation")", { "DepartmentId": DepartmentId }, "", "NA", "", "UserNoName", "UserId");
            });
            $("#cboUserId@(itemName)").change(function () {
                var cboUserId = $("#cboUserId@(itemName)").val();
                ComboBoxs.Default("#cboDepartmentId@(itemName)", "@Url.Action("GetDepartment_A", "EipBasicInformation")", { "UserId": cboUserId }, "", "DepartmentName", "", "DepartmentName", "DepartmentId");
            });
            
            $("#UserId").val(UserId ? UserId : 0);
            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");

            if (UserId > 0) {
                let targetUrl = "@Url.Action("GetDocUserInformation", "EipBasicInformation")";
                let postData = {
                    "RoleId": $("#RoleId").val(),
                    "UserId": UserId
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        $("#cboUserId@(itemName)").val(item.UserId);
                    });

                } else {
                    alert(data.msg, "alert", 0);
                }
            }
            if (!isMobile) {
                $("#cboDepartmentId@(itemName),#cboUserId@(itemName)").select2({
                    width: "100%"
                });
            }
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {

               let targetUrl = "@Url.Action("AddDocUserInformation", "EipBasicInformation")";
                    let postData = {
                        "RoleId": $("#RoleId").val(),
                        "UserId": $("#cboUserId@(itemName)").val()
                    };

                    let data = DataAccess.EditContinued(targetUrl, postData, false);

                    if (data) {
                        $.each(data.result, function (i, item) {
                            $("#RoleId").val(item.RoleId);
                            $("#cboUserId").val(item.UserId);
                        });
                    }
                     if (data.status == "success") {
                        alert("新增成功", "success", 0);
                    } else {
                        alert(data.msg, "alert", 0);
                    }
                    Return@(itemName)();
               
            }
        }


        function Delete@(itemName)(RoleId,UserId) {
            swal.fire({
                titleText: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteDocUserInformation", "EipBasicInformation")";
                    let postData = {
                        "RoleId": RoleId,
                        "UserId": UserId
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function Return@(itemName)() {
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName)", "#editData@(itemName)");
            Query@(itemName)();
        }
        
    </script>
               )