@using Business_Manager.Helpers
@{
    string itemName = "MealManagement";
    string itemNameText = "餐點資料管理";
    string authority = ViewBag.authority;

    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
    </style>
                                )

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboRestaurantIdQ@(itemName)">餐廳名稱</label>
                            <div class="col-12">
                                <select class="form-control" id="cboRestaurantIdQ@(itemName)" name="cboRestaurantIdQ@(itemName)"
                                        data-msg-required="請選擇餐廳" data-rule-required="true"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtMealNameQ@(itemName)">餐點名稱</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMealNameQ@(itemName)" name="txtMealNameQ@(itemName)" placeholder="請輸入餐點名稱" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">狀態</label>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    啟用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)A" name="cbxStatusQ@(itemName)" value="A" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    停用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)S" name="cbxStatusQ@(itemName)" value="S" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);"><i class="fal fa-search"></i>搜尋</a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        @*<a class="btn file-excel auth-dailymeal" href="javascript:PopViewDailyMeal();"><i class="far fa-utensils"></i>每日餐點</a>*@
                        <a class="btn file-excel auth-dailymeal" href="javascript:PopViewLotDailyMeal();"><i class="far fa-utensils"></i>每日餐點</a>
                        <a class="btn btn-danger auth-calendarDate" href="javascript:PopCalendarDate@(itemName)();"><i class="far fa-alarm-clock"></i>訂餐開放時段</a>
                        <a class="btn btn-info auth-add" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky table-stack" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th scope="col" style="min-width: 200px;">餐廳</th>
                                        <th scope="col" style="min-width: 200px;">餐點名稱</th>
                                        <th scope="col" style="min-width: 175px;">餐點價格</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">狀態</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container custom-form-container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="MealId" name="MealId" value="-1" />
                        <input type="hidden" id="RestaurantId" name="RestaurantId" value="-1" />
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboRestaurantId@(itemName)">餐廳 <span class="text-danger">*</span></label>
                            <div class="col">
                                <select class="form-control" id="cboRestaurantId@(itemName)" name="cboRestaurantId@(itemName)"
                                        data-msg-required="請選擇餐廳" data-rule-required="true"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtMealName@(itemName)">餐點名稱 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtMealName@(itemName)" name="txtMealName@(itemName)" placeholder="請輸入餐點名稱"
                                       data-msg-required="請輸入餐點名稱" data-rule-required="true"
                                       data-msg-maxlength="必須少於 30 個字元" maxlength="30" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtMealPrice@(itemName)">餐點金額 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtMealPrice@(itemName)" name="txtMealPrice@(itemName)" placeholder="請輸入餐點金額"
                                       data-msg-required="請輸入餐點金額" data-rule-required="true" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtMealImage@(itemName)">餐點圖片</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="file" id="fileMealImage@(itemName)" name="fileMealImage@(itemName)" />
                                <input type="hidden" id="txtMealImage@(itemName)" name="txtMealImage@(itemName)" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

<!--複製餐點POP-->
<div class="modal fade" id="modalCopyMeal@(itemName)">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" onclick="CloseCopyMeal@(itemName)()">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container custom-form-container" autocomplete="off" id="CopyMealForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboCompanyId@(itemName)">所屬公司</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboCompanyId@(itemName)" name="cboCompanyId@(itemName)"
                                        data-msg-required="請選擇所屬公司" data-rule-required="true"></select>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-success" onclick="CopyMealSave@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

<!--訂餐開放時段POP-->
<div class="modal fade" id="modalCalendarDate@(itemName)">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" onclick="CloseCalendarDate@(itemName)()">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container custom-form-container" autocomplete="off" id="CalendarDateForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="OrderType" name="OrderType" value="-1" />
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboOrderType@(itemName)">設定類型</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <div class="col">
                                    <select class="form-control" id="cboOrderType@(itemName)" name="cboOrderType@(itemName)"
                                            data-msg-required="請選擇設定類型" data-rule-required="true"></select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row timeinfo">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtStartTime@(itemName)">開始時間</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <div class="col">
                                    <input type="text" class="form-control timedropper" id="txtStartTime@(itemName)" name="txtStartTime@(itemName)" value="00:00"
                                           data-msg-required="請輸入開始時間" data-rule-required="true"
                                           data-msg-maxlength="必須少於 5 個字元" maxlength="5" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group row timeinfo">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtEndTime@(itemName)">結束時間</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <div class="col">
                                    <input type="text" class="form-control timedropper" id="txtEndTime@(itemName)" name="txtEndTime@(itemName)" value="00:00"
                                           data-msg-required="請輸入結束時間" data-rule-required="true"
                                           data-msg-maxlength="必須少於 5 個字元" maxlength="5" />
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-success" onclick="CalendarDateSave@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

<!--其他分頁-->
<div class="advanced-block">
    <div class="row">
        <div class="col-12">
            <ul class="nav flag-tabs nav-fill" role="tablist">
                <li class="flag-item">
                    <a class="flag-link" data-toggle="tab" href="#tabViewMealCategory">
                        <i class="fas fa-sort-size-down"></i> 餐點類別資料
                    </a>
                </li>
                <li class="flag-item">
                    <a class="flag-link" data-toggle="tab" href="#tabViewMcDetail">
                        <i class="fas fa-info-square"></i> 餐點細節資料
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane" id="tabViewMealCategory">
            @Html.Partial("ViewMealCategory")
        </div>
        <div class="tab-pane" id="tabViewMcDetail">
            @Html.Partial("ViewMcDetail")
        </div>
    </div>
</div>

@Html.Partial("ViewDailyMeal")
@Html.Partial("ViewLotDailyMeal")

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";
        let mealId@(itemName);
        let orderType@(itemName);

        $(document).ready(function () {
            Query@(itemName)();

            ComboBoxs.Default("#cboRestaurantIdQ@(itemName)", "@Url.Action("GetRestaurantId", "Meal")", {}, "", "NA", "", "RestaurantName", "RestaurantId");    //所屬餐廳
            ComboBoxs.Default("#cboOrderType@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "OrderSetting.OrderType" }, "", "NA", "", "TypeName", "TypeNo");     //設定類型(贈[DEF]/備品)

            $(".advanced-block a[data-toggle='tab']").on("shown.bs.tab", function (e) {
                InitParameter@(itemName)($(this));
            });
        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let statusList = [];
            $.each($("input[name='cbxStatusQ@(itemName)']:checked"), function () {
                statusList.push($(this).val());
            });

            let targetUrl = "@Url.Action("GetRestaurantMeal", "Meal")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "RestaurantId": $("#cboRestaurantIdQ@(itemName)").val(),
                "MealName": $("#txtMealNameQ@(itemName)").val(),
                "Status": statusList.join(",")
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr>
                                        <td><span class="stack-title">#</span>${_row}</td>
                                        <td><span class="stack-title">餐廳</span>${item.RestaurantName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MealName}" style="max-width: 175px;"><span class="stack-title">餐點名稱</span>${item.MealName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MealPrice}" style="max-width: 175px;"><span class="stack-title">餐點價格</span>${item.MealPrice}</td>
                                        <td class="text-center auth-status-switch">
                                          <span class="stack-title">狀態</span>
                                          <input type="checkbox" name="chkStatus@(itemName)" data-meal-id="${item.MealId}" ${(item.Status == `A` ? `checked` : ``)} />
                                        </td>
                                        <td class="text-center un-auth auth-status-switch"><span class="stack-title">狀態</span>${StatusName(`Status`, item.Status)}</td>
                                        <td class="text-center active-content">
                                          <span class="stack-title">操作</span>
                                          <a class="active-link auth-update" href="javascript:Edit@(itemName)(${item.MealId});"><i class="fas fa-edit"></i></a>
                                          <a class="active-link auth-delete" href="javascript:Delete@(itemName)(${item.MealId});"><i class="fas fa-trash-alt"></i></a>
                                          <!--複製餐點-->
                                          <a class="active-link auth-update" href="javascript:PopCopyMeal@(itemName)('${item.MealId}');">
                                              <i class="fas fa-copy"> 複製餐點</i>
                                          </a>
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="9" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

            $("input[name='chkStatus@(itemName)']").bootstrapToggle({
                on: "啟用",
                off: "停用",
                onstyle: "success",
                offstyle: "danger",
                size: "mini"
            });

            $("input[name='chkStatus@(itemName)'][data-meal-id]").change(StatusSwitch@(itemName));
        }

        function InitParameter@(itemName)(selector) {
            let initFnString = "Expand";
            let content = selector.attr("href").split('#tab')[1].split('@(itemName)')[0];

            switch (content) {
                case "ViewMealCategory":
                    initFnString += "ViewMealCategory";
                    break;
                case "ViewMcDetail":
                    initFnString += "ViewMcDetail";
                    break;
            }

            let initFn = window[initFnString];
            if (initFn && typeof (initFn) == "function") {
                initFn();
            }
        }

        function Edit@(itemName)(MealId) {
            $("#MealId").val(MealId ? MealId : 0);

            if (!isMobile) {
                $("#cboRestaurantId@(itemName)").select2({
                    width: "100%"
                });
            }

            $("#txtMealImage@(itemName)").val("");

            ComboBoxs.Default("#cboRestaurantId@(itemName)", "@Url.Action("GetRestaurantId", "Meal")", {}, "", "NA", "", "RestaurantName", "RestaurantId");    //所屬餐廳
            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");

            if (MealId > 0) {
                let targetUrl = "@Url.Action("GetRestaurantMeal", "Meal")";
                let postData = {
                    "MealId": MealId
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        $("#cboRestaurantId@(itemName)").val(item.RestaurantId);
                        $("#txtMealName@(itemName)").val(item.MealName);
                        $("#txtMealPrice@(itemName)").val(item.MealPrice);

                        let mealImageList = [];
                        if (item.MealImage != null) {
                            let mealImageJson = JSON.parse(item.MealImage);
                            $.each(mealImageJson.data, function (j, item2) {
                                mealImageList.push(item2.FileId);
                            });
                        }
                        $("#txtMealImage@(itemName)").val(item.MealImage);
                    });

                    if ($(".advanced-block .flag-tabs > .flag-item > .flag-link").first().hasClass("active")) {
                        InitParameter@(itemName)($(".advanced-block .flag-tabs > .flag-item").first().find("a"));
                    } else {
                        $(".advanced-block .flag-tabs > .flag-item").first().find("a").trigger("click");
                    }
                } else {
                    alert(data.msg, "alert", 0);
                }
            }

            let uploadConfig = {
                fileSelector: "#fileMealImage@(itemName)",
                targetSelector: "#txtMealImage@(itemName)",
                required: false,
                uploadPath: "/Meal/MealManagement",
                maxFileCount: 1,
                defaultFile: $("#txtMealImage@(itemName)").val()
            };
            Suites.FileUpload(uploadConfig);
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let MealId = parseInt($("#MealId").val());

                if (MealId <= 0) {
                    let targetUrl = "@Url.Action("AddRestaurantMeal", "Meal")";
                    let postData = {
                        "RestaurantId": $("#cboRestaurantId@(itemName)").val(),
                        "MealName": $("#txtMealName@(itemName)").val(),
                        "MealPrice": $("#txtMealPrice@(itemName)").val(),
                        "MealImage": $("#txtMealImage@(itemName)").val()
                    };

                    let data = DataAccess.EditContinued(targetUrl, postData, false);

                    if (data) {
                        $.each(data.result, function (i, item) {
                            $("#MealId").val(item.MealId);
                        });

                        //頁面切換
                        if ($(".advanced-block .flag-tabs > .flag-item > .flag-link").first().hasClass("active")) {
                            InitParameter@(itemName)($(".advanced-block .flag-tabs > .flag-item").first().find("a"));
                        } else {
                            $(".advanced-block .flag-tabs > .flag-item").first().find("a").trigger("click");
                        }
                    }
                } else {
                    let targetUrl = "@Url.Action("UpdateRestaurantMeal", "Meal")";
                    let postData = {
                        "MealId": MealId,
                        "RestaurantId": $("#cboRestaurantId@(itemName)").val(),
                        "MealName": $("#txtMealName@(itemName)").val(),
                        "MealPrice": $("#txtMealPrice@(itemName)").val(),
                        "MealImage": $("#txtMealImage@(itemName)").val()
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        if ($(".advanced-block .flag-tabs > .flag-item > .flag-link").first().hasClass("active")) {
                            InitParameter@(itemName)($(".advanced-block .flag-tabs > .flag-item").first().find("a"));
                        } else {
                            $(".advanced-block .flag-tabs > .flag-item").first().find("a").trigger("click");
                        }
                    }
                }
            }
        }

        function PopCopyMeal@(itemName)(MealId) {
            mealId@(itemName) = MealId;

            ComboBoxs.Default("#cboCompanyId@(itemName)", "@Url.Action("GetCompany", "BasicInformation")", {}, "", "NA", "", "CompanyName", "CompanyId");

            $("#cboCompanyId@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });

            $("#modalCopyMeal@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });
        }

        function CloseCopyMeal@(itemName)() {
            ResetForm("#CopyMealForm@(itemName)");

            $("#modalCopyMeal@(itemName)").modal("hide");

            Query@(itemName)();
        }

        function CopyMealSave@(itemName)() {
            swal.fire({
                titleText: "確認執行餐點複製至該公司別嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("AddCopyRestaurantMeal", "Meal")";
                    let postData = {
                        "CompanyId": $("#cboCompanyId@(itemName)").val(),
                        "MealId": mealId@(itemName)
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                        CloseCopyMeal@(itemName)();
                    }
                }
            });
        }

        function PopCalendarDate@(itemName)() {
            $(".timeinfo").hide();

            $("#cboOrderType@(itemName)").change(function () {
                $(".timeinfo").show();

                let targetUrl = "@Url.Action("GetCalendarDate", "Meal")";
                let postData = {
                    "OrderType": $("#cboOrderType@(itemName)").val()
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        $("#txtStartTime@(itemName)").val(item.StartTime);
                        $("#txtEndTime@(itemName)").val(item.EndTime);
                    });
                } else {
                    alert(data.msg, "alert", 0);
                }
            });

            $("#modalCalendarDate@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });
        }

        function CalendarDateSave@(itemName)() {
            swal.fire({
                titleText: "確認修改訂餐開放時間嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("UpdateCalendarDate", "Meal")";
                    let postData = {
                        "StartTime": $("#txtStartTime@(itemName)").val(),
                        "EndTime": $("#txtEndTime@(itemName)").val(),
                        "OrderType": $("#cboOrderType@(itemName)").val()
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                        CloseCalendarDate@(itemName)();
                    }
                }
            });
        }

        function CloseCalendarDate@(itemName)() {
            ResetForm("#CalendarDateForm@(itemName)");

            $("#modalCalendarDate@(itemName)").modal("hide");

            Query@(itemName)();
        }

        function Delete@(itemName)(MealId) {
            swal.fire({
                titleText: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteRestaurantMeal", "Meal")";
                    let postData = {
                        "MealId": MealId
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function Return@(itemName)() {
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName)", "#editData@(itemName), .unit-block, .advanced-block");
            Query@(itemName)();
        }

        function StatusSwitch@(itemName)() {
            var MealId = $(this).data("meal-id");

            let targetUrl = "@Url.Action("UpdateMealStatus", "Meal")";
            let postData = {
                "MealId": MealId
            };

            let result = DataAccess.Update(targetUrl, postData, false, true);

            if (result) {
                Return@(itemName)();
            }
        }
    </script>
                                )