@using Business_Manager.Helpers
@{
    string itemName = "ViewDailyMeal";
    string itemNameText = "每日餐點維護";
}

@Html.Resource("css",
    @<style>
        td {
            vertical-align: middle;
        }
    </style>
)

<div class="modal fade" id="modal@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@(itemNameText)</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-row align-items-center mb-2">
                            <div class="col-lg-2 col-6">
                                <label class="form-label" for="txtStartDateQ@(itemName)">起始日期</label>
                                <input type="text" class="form-control" id="txtStartDateQ@(itemName)" name="txtStartDateQ@(itemName)" placeholder="請輸入起始日期"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                            <div class="col-lg-2 col-6">
                                <label class="form-label" for="txtEndDateQ@(itemName)">結束日期</label>
                                <input type="text" class="form-control" id="txtEndDateQ@(itemName)" name="txtEndDateQ@(itemName)" placeholder="請輸入結束日期"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                            <div class="col-lg-2 col-3 mt-4">
                                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()"><i class="fal fa-search"></i>搜尋</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
                <div class="table-custom">
                    <table class="table table-bordered table-striped table-sticky table-stack" id="tblData@(itemName)">
                        <thead>
                            <tr>
                                <th scope="col" style="min-width: 75px;">#</th>
                                <th scope="col" style="min-width: 200px;">日期</th>
                                <th scope="col" style="min-width: 200px;">餐點選擇</th>
                                <th class="text-center" scope="col" style="min-width: 125px;">操作</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>        
        function Pop@(itemName)() {
            $("#modal@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });

            let currentDate = new Date();
            Suites.DatePicker("txtStartDateQ@(itemName)", currentDate);
            currentDate.setDate(currentDate.getDate() + 7);
            Suites.DatePicker("txtEndDateQ@(itemName)", currentDate);            

            Query@(itemName)();
        }

        function Query@(itemName)() {
            InitData@(itemName)();
        }

        function InitData@(itemName)() {
            let innerHtml = '';

            let targetUrl = "@Url.Action("GetDailyMeal", "Meal")";
            let postData = {
                "StartDate": $("#txtStartDateQ@(itemName)").val(),
                "EndDate": $("#txtEndDateQ@(itemName)").val()
            };
            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        let _row = (i + 1) + ".";

                        innerHtml += `<tr>
                                        <td><span class="stack-title">#</span>${_row}</td>
                                        <td><span class="stack-title">日期</span>${item.CalendarDate}</td>
                                        <td>
                                            <span class="stack-title">餐點選擇</span>
                                            <select class="form-control" name="cboMeals@(itemName)" data-calendar="${item.CalendarId}" data-meal-value="${item.MealInfo}"
                                                    multiple></select>
                                        </td>
                                        <td class="text-center active-content">
                                            <span class="stack-title">操作</span>
                                            <a class="active-link" href="javascript:Save@(itemName)(${item.CalendarId});"><i class="fas fa-save"></i></a>
                                        </td>
                                        </tr>`;
                    });
                } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();

            ComboBoxs.Default("[name='cboMeals@(itemName)'][data-calendar]", "@Url.Action("GetMealId", "Meal")", {}, "", "", "", "MealName", "MealId");

            $("[name=cboMeals@(itemName)][data-calendar]").each(function () {
                if ($(this).data("meal-value")) $(this).val($(this).data("meal-value").toString().split(','));
            });

            $("[name='cboMeals@(itemName)'][data-calendar]").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });
        }

        function Save@(itemName)(calendarId) {

            let targetUrl = "@Url.Action("AddDailyMeal", "Meal")";
            let postData = {
                "Meals": $(`[name='cboMeals@(itemName)'][data-calendar='${calendarId}']`).val().join(","),
                "CalendarId": calendarId
            };

            let result = DataAccess.Add(targetUrl, postData, false, true);

            if (result) {
                Query@(itemName)()
            }
        }

        function Close@(itemName)() {
            $("#modal@(itemName)").modal('hide');
        }
    </script>
)