
@using Business_Manager.Helpers
@{
    string itemName = "ViewMcDetail";
    string itemNameText = "餐點細節資料";
    string authority = ViewBag.authority;
}

@Html.Resource("css",
    @<style>
    </style>
        )

<!--搜尋-->
<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">客製化類別</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtCategoryNameQ@(itemName)" name="txtCategoryNameQ@(itemName)" placeholder="請輸入客製化類別">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">客製化選項</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMcDetailNameQ@(itemName)" name="txtMcDetailNameQ@(itemName)" placeholder="請輸入客製化選項">
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<!--清單-->
<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)"><i class="fal fa-search"></i>搜尋</a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right" style="display: flex; justify-content: flex-end;">
                        <a style="margin-right: 5px;" class="btn btn-info auth-add" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="max-width: 75px;">#</th>
                                        <th scope="col" style="max-width: 200px; min-width: 200px;">客製化類別</th>
                                        <th scope="col" style="max-width: 200px; min-width: 200px;">客製化選項</th>
                                        <th scope="col" style="max-width: 200px; min-width: 200px;">價格</th>
                                        <th class="text-center col-sticky" scope="col" style="max-width: 200px; min-width: 200px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--新增修改-->
<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="McDetailId" name="McDetailId" value="-1" />
                        <div class="form-group row">
                            <label class="col-12 col-lg-2 col-form-label" for="cboMealCgId@(itemName)">客製化類別 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-6 col-lg-6">
                                <select class="form-control" id="cboMealCgId@(itemName)" name="cboMealCgId@(itemName)" required></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-lg-2 col-form-label" for="txtMcDetailName@(itemName)">客製化選項 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-6 col-lg-6">
                                <input type="text" class="form-control" id="txtMcDetailName@(itemName)" name="txtMcDetailName@(itemName)"
                                       data-msg-required="請輸入客製化選項" data-rule-required="true" placeholder="請輸入客製化選項"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-lg-2 col-form-label" for="txtMcDetailPrice@(itemName)">價格 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-6 col-lg-6">
                                <input type="text" class="form-control" id="txtMcDetailPrice@(itemName)" name="txtMcDetailPrice@(itemName)" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        let objForm@(itemName) = "#editForm@(itemName)";
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };

        function Expand@(itemName)() {
            if (parseInt($("#MealId").val()) > 0) {
                $(".advanced-block").slideDown("slow");

                Query@(itemName)();
            } else {
                alert("細節資料展開失敗，請聯繫資訊人員!", "alert");
            }
        }

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;
            let targetUrl = "@Url.Action("GetMcDetail", "Meal")";

            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "MealCgId": $("#MealCgId@(itemName)").val(),
                "MealId": $("#MealId").val(),
                "CategoryName": $("#txtCategoryNameQ@(itemName)").val(),
                "McDetailName": $("#txtMcDetailNameQ@(itemName)").val()
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;
                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);
                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";
                        innerHtml += `<tr>
                                        <td style="max-width: 75px;">${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.CategoryName}" style="max-width: 200px; min-width: 200px;">${item.CategoryName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.McDetailName}" style="max-width: 200px; min-width: 200px;">${item.McDetailName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.McDetailPrice}" style="max-width: 200px; min-width: 200px;">${item.McDetailPrice}</td>
                                        <td class="text-center active-content col-sticky" style="min-width: 200px;">
                                            <a class="active-link auth-update" href="javascript:Edit@(itemName)('${item.McDetailId}');"><i class="fas fa-edit"></i></a>
                                            <a class="active-link auth-delete" href="javascript:Delete@(itemName)('${item.McDetailId}');"><i class="fas fa-trash-alt"></i></a>
                                        </td>
                                      </tr>`;
                    });
                }
                else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="11" style="background-color: #fff3cd;">
                                        <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            }
            else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));
        }

        function Edit@(itemName)(McDetailId) {
            $("#McDetailId").val(McDetailId ? McDetailId : 0);
            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");

            if (!isMobile) {
                $("#cboMealCgId@(itemName)").select2({
                    width: "100%"
                });
            }

            let mealId = $("#MealId").val();

            ComboBoxs.Default("#cboMealCgId@(itemName)", "@Url.Action("GetMealCgId", "Meal")", { "MealId": mealId }, "", "NA", "", "CategoryName", "MealCgId");    //類別

            if (McDetailId > 0) {
                let targetUrl = "@Url.Action("GetMcDetail", "Meal")";
                let postData = {
                    "McDetailId": McDetailId
                };

                let data = DataAccess.Get(targetUrl, postData, false);
                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        $("#MealId").val(item.MealId);
                        $("#McDetailId").val(item.McDetailId);
                        $("#cboMealCgId@(itemName)").val(item.MealCgId);
                        $("#txtMcDetailName@(itemName)").val(item.McDetailName);
                        $("#txtMcDetailPrice@(itemName)").val(item.McDetailPrice);
                    });
                } else {
                    alert(data.msg, "alert", 0);
                }
            }
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let McDetailId = parseInt($("#McDetailId").val());

                if (McDetailId <= 0) {
                    let targetUrl = "@Url.Action("AddMcDetail", "Meal")";
                    let postData = {
                        "MealCgId": $("#cboMealCgId@(itemName)").val(),
                        "McDetailName": $("#txtMcDetailName@(itemName)").val(),
                        "McDetailPrice": $("#txtMcDetailPrice@(itemName)").val()
                    };

                    let data = DataAccess.EditContinued(targetUrl, postData, false);

                    if (data) {
                        $.each(data.result, function (i, item) {
                            $("#McDetailId").val(item.McDetailId);
                        });
                        Return@(itemName)();
                    }
                } else {
                    let targetUrl = "@Url.Action("UpdateMcDetail", "Meal")";
                    let postData = {
                        "McDetailId": McDetailId,
                        "MealCgId": $("#cboMealCgId@(itemName)").val(),
                        "McDetailName": $("#txtMcDetailName@(itemName)").val(),
                        "McDetailPrice": $("#txtMcDetailPrice@(itemName)").val()
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Return@(itemName)();
                    }
                }
            }
        }

        function Delete@(itemName)(McDetailId) {
            swal.fire({
                titleText: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteMcDetail", "Meal")";
                    let postData = {
                        "McDetailId": McDetailId
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function Return@(itemName)() {
            Switch("#listData@(itemName)", "#editData@(itemName)");
            ResetForm(objForm@(itemName));
            Query@(itemName)();
        }
    </script>
)
