@using Business_Manager.Helpers
@{
    string itemName = "ViewLotDailyMeal";
    string itemNameText = "每日餐點維護";
}

@Html.Resource("css",
    @<style>
        .meal-item {
            padding: 10px 15px;
            border: solid 2px #9ec5e2;
            border-radius: 5px;
            display: inline-block;
        }

            .meal-item a {
                color: #9ec5e2;
                font-size: 1rem;
            }

                .meal-item a i {
                    margin-right: 5px;
                }
    </style>
)

<div class="modal fade" id="modal@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@(itemNameText)</h5>
            </div>
            <div class="modal-body">
                <div class="row" id="listData@(itemName)">
                    <div class="col-12">
                        <form autocomplete="off" id="queryForm@(itemName)">
                            <fieldset>
                                <div class="form-row align-items-center mb-2">
                                    <div class="col-auto">
                                        <input type="text" class="form-control" id="txtStartDateQ@(itemName)" name="txtStartDateQ@(itemName)"
                                               placeholder="請輸入起始日期" />
                                    </div>
                                    <div class="col-auto">
                                        <input type="text" class="form-control" id="txtEndDateQ@(itemName)" name="txtEndDateQ@(itemName)"
                                               placeholder="請輸入結束日期" />
                                    </div>
                                    <div class="col-auto">
                                        <button type="button" class="btn btn-primary" onclick="Query@(itemName)()"><i class="fal fa-search"></i>搜尋</button>
                                        <button type="button" class="btn btn-info" onclick="Edit@(itemName)()"><i class="fas fa-plus"></i>新增</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 150px;">日期</th>
                                        <th scope="col" style="min-width: 500px;">餐點</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>2023-11-03</td>
                                        <td>
                                            <div class="row row-cols-3 row-cols-lg-5">
                                                <div class="col">
                                                    <span class="meal-item">
                                                        <a href="javascript: void(0);"><i class="fas fa-times"></i></a>
                                                        餐點A
                                                    </span>
                                                </div>
                                                <div class="col">
                                                    <span class="meal-item">
                                                        <a href="javascript: void(0);"><i class="fas fa-times"></i></a>
                                                        餐點B
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row" id="editData@(itemName)" style="display: none;">
                    <div class="col-12">
                        <form class="container custom-form-container" autocomplete="off" id="editForm@(itemName)">
                            <fieldset>
                                <div class="form-group row">
                                    <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboCalendarId@(itemName)">日期 <span class="text-danger">*</span></label>
                                    <div class="col-12 col-md-9 col-lg-9">
                                        <select class="form-control" id="cboCalendarId@(itemName)" name="cboCalendarId@(itemName)"
                                                data-msg-required="請選擇日期" data-rule-required="true" multiple></select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboRestaurantId@(itemName)">餐廳</label>
                                    <div class="col-12 col-md-9 col-lg-9">
                                        <select class="form-control" id="cboRestaurantId@(itemName)" name="cboRestaurantId@(itemName)"></select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboMealId@(itemName)">餐點 <span class="text-danger">*</span></label>
                                    <div class="col-12 col-md-9 col-lg-9">
                                        <select class="form-control" id="cboMealId@(itemName)" name="cboMealId@(itemName)"
                                                data-msg-required="請選擇餐點" data-rule-required="true" multiple></select>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary list-mode" onclick="Close@(itemName)()"><i class="fas fa-times"></i>關閉</button>
                <button type="button" class="btn btn-secondary edit-mode" onclick="Return@(itemName)()" style="display: none;"><i class="fas fa-undo"></i>返回</button>
                <button type="button" class="btn btn-success edit-mode" onclick="Save@(itemName)()" style="display: none;"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        let objForm@(itemName) = "#editForm@(itemName)";

        function Pop@(itemName)() {
            $("#modal@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });

            let currentDate = new Date();
            Suites.DatePicker("txtStartDateQ@(itemName)", currentDate);
            currentDate.setDate(currentDate.getDate() + 7);
            Suites.DatePicker("txtEndDateQ@(itemName)", currentDate);

            Query@(itemName)();
        }

        function Query@(itemName)() {
            InitData@(itemName)();
        }

        function InitData@(itemName)() {
            let innerHtml = '';

            let targetUrl = "@Url.Action("GetLotDailyMeal", "Meal")";
            let postData = {
                "StartDate": $("#txtStartDateQ@(itemName)").val(),
                "EndDate": $("#txtEndDateQ@(itemName)").val()
            };
            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                if (data.result.length > 0) {
                    $.each(data.result, function (i, item) {
                        innerHtml += `<tr>
                                        <td>${item.CalendarWeekDate}</td>
                                        <td>
                                          <div class="row row-cols-2 row-cols-lg-3">
                                            ${DetailData@(itemName)(item.CalendarId, item.DailyMeals)}
                                          </div>
                                        </td>
                                      </tr>`;
                    });
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
        }

        function DetailData@(itemName)(id, source) {
            let html = '';

            if (source) {
                let json = JSON.parse(source);

                for (let x = 0; x < json.data.length; x++) {
                    html += `<div class="col">
                               <span class="meal-item">
                                 <a href="javascript: Delete@(itemName)(${id}, ${json.data[x].MealId});"><i class="fas fa-times"></i></a>
                                 ${json.data[x].MealWithRestaurant}
                               </span>
                             </div>`;
                }
            }

            return html;
        }

        function Edit@(itemName)() {
            Switch("#editData@(itemName), .edit-mode", "#listData@(itemName), .list-mode");

            let currentDate = new Date();
            ComboBoxs.Default("#cboCalendarId@(itemName)", "@Url.Action("GetCalendarInfo", "SystemSetting")", { "StartDate": currentDate.Format("yyyy-MM-dd") }, "", "CHOOSE-NUMBER", "", "CalendarWeekDate", "CalendarId");
            ComboBoxs.Default("#cboRestaurantId@(itemName)", "@Url.Action("GetRestaurant", "EbpBasicInformation")", { "Status": "A" }, "", "CHOOSE-NUMBER", "請選擇餐廳", "RestaurantName", "RestaurantId");
            ComboBoxs.Default("#cboMealId@(itemName)", "@Url.Action("GetRestaurantMeal", "Meal")", { "Status": "A" }, "", "CHOOSE-NUMBER", "", "MealWithRestaurant", "MealId");

            $("#cboRestaurantId@(itemName)").off("change").on("change", function () {
                let targetUrl = "@Url.Action("GetRestaurantMeal", "Meal")";
                let postData = {
                    "RestaurantId": $(this).val(),
                    "Status": "A"
                };
                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    if (data.result.length > 0) {
                        let meals = [];

                        if ($("#cboMealId@(itemName)").val().length > 0) {
                            meals = $("#cboMealId@(itemName)").val();
                        }

                        $.each(data.result, function (i, item) {
                            meals.push(item.MealId);
                        });

                        $("#cboMealId@(itemName)").val(meals).trigger('change.select2');
                    }
                }

                ResetElement("#cboRestaurantId@(itemName)");
            });

            $("#cboCalendarId@(itemName), #cboRestaurantId@(itemName), #cboMealId@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let targetUrl = "@Url.Action("AddLotDailyMeal", "Meal")";
                let postData = {
                    "Calendars": $("#cboCalendarId@(itemName)").val().join(),
                    "Meals": $("#cboMealId@(itemName)").val().join()
                };

                let result = DataAccess.Add(targetUrl, postData, false, true);

                if (result) {
                    Return@(itemName)();
                }
            }
        }

        function Delete@(itemName)(CalendarId, MealId) {
            swal.fire({
                titleText: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteDailyMeal", "Meal")";
                    let postData = {
                        "CalendarId": CalendarId,
                        "MealId": MealId
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Return@(itemName)();
                    }
                }
            });
        }

        function Return@(itemName)() {
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName), .list-mode", "#editData@(itemName), .edit-mode");
            Query@(itemName)();
        }

        function Close@(itemName)() {
            $("#modal@(itemName)").modal("hide");
        }
    </script>
)