@{
    Layout = null;
    string dateCache = DateTime.Now.ToString("MMddmmss");
}
<!DOCTYPE html>
<html class="" lang="zh-Hant-TW">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>中揚光電 - 企業管理平台</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="format-detection" content="telephone=no,email=no,adress=no" />
    <meta name="theme-color" content="#2761a5" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#2761a5" />
    <meta name="apple-mobile-web-app-title" content="中揚光電 - 企業管理平台" />
    <link href="@Url.Content("~/manifest.json")" rel="manifest" />
    <!-- 手機主畫面 -->
    <link href="@Url.Content("~/Content/images/icons/apple-touch-icon.png")" rel="apple-touch-icon" sizes="192x192" />
    <!-- 網頁頁籤小圖示 -->
    <link href="@Url.Content("~/Content/images/favicon.ico")" rel="shortcut icon" sizes="16x16" />
    <!-- iPhone Xs Max (1242px x 2688px) -->
    <link href="@Url.Content("~/Content/images/splash/apple-launch-1242x2688.png")" rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)" />
    <!-- iPhone Xr (828px x 1792px) -->
    <link href="@Url.Content("~/Content/images/splash/apple-launch-828x1792.png")" rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)" />
    <!-- iPhone X, Xs (1125px x 2436px) -->
    <link href="@Url.Content("~/Content/images/splash/apple-launch-1125x2436.png")" rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" />
    <!-- iPhone 8 Plus, 7 Plus, 6s Plus, 6 Plus (1242px x 2208px) -->
    <link href="@Url.Content("~/Content/images/splash/apple-launch-1242x2208.png")" rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3)" />
    <!-- iPhone 8, 7, 6s, 6 (750px x 1334px) -->
    <link href="@Url.Content("~/Content/images/splash/apple-launch-750x1334.png")" rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" />
    <!-- iPad Pro 12.9" (2048px x 2732px) -->
    <link href="@Url.Content("~/Content/images/splash/apple-launch-2048x2732.png")" rel="apple-touch-startup-image" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)" />
    <!-- iPad Pro 11” (1668px x 2388px) -->
    <link href="@Url.Content("~/Content/images/splash/apple-launch-1668x2388.png")" rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)" />
    <!-- iPad Pro 10.5" (1668px x 2224px) -->
    <link href="@Url.Content("~/Content/images/splash/apple-launch-1668x2224.png")" rel="apple-touch-startup-image" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)" />
    <!-- iPad Mini, Air (1536px x 2048px) -->
    <link href="@Url.Content("~/Content/images/splash/apple-launch-1536x2048.png")" rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)" />
    <link href="@Url.Content("~/Content/bootstrap/4.5.3/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/fontawesome.pro/5.13.0/css/all.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/css/ionicons.css")" rel="stylesheet" type="text/css">
    <link href="@Url.Content("~/assets/css/style.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/css/responsive.css")" rel="stylesheet" />
</head>
<body class="bg_darck">
    <div class="container body">
        <div class="main_container">
            <div class="col-12">
                <div class="col-middle">
                    <div class="text-center">
                        <h1 class="error-number">500</h1>
                        <h2 class="color_white">Oops, something went wrong.</h2>
                        <p class="color_white">
                            Try to refresh this page or feel free to <a href="@Url.Action("Login", "User")">contact us</a> if the problem persists.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="@Url.Content("~/Scripts/app.js")?@dateCache"></script>
    <script src="@Url.Content("~/Scripts/offline.js")"></script>
    <script src="@Url.Content("~/assets/js/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap/4.5.3/bootstrap.min.js")"></script>
</body>
</html>