@using Business_Manager.Helpers
@{
    string itemName = "PrConfirmedNotProcuredRecord";
    string itemNameText = "請購單已確認但未採購清單";
    string authority = ViewBag.authority;
    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
         .btn-secondary {
             color: #6c757d;
             background-color: #fff;
             border-color: #6c757d;
         }
    </style>
)

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

<!--搜尋內容-->
<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body" style="max-height: 450px;overflow-y: auto;">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtPrDateQ@(itemName)">請購日期</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtPrDateQ@(itemName)" name="txtPrDateQ@(itemName)" placeholder="請輸入請購日期" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtPrErpNoQ@(itemName)">請購單號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtPrErpNoQ@(itemName)" name="txtPrErpNoQ@(itemName)" placeholder="請輸入請購單號" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboPrDepQ@(itemName)">請購部門</label>
                            <div class="col-12">
                                <select class="form-control" id="cboPrDepQ@(itemName)" name="cboPrDepQ@(itemName)">
                                    <option value="">-- 請選擇請購部門 --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtMtlItemNoQ@(itemName)">品號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMtlItemNoQ@(itemName)" name="txtMtlItemNoQ@(itemName)" placeholder="請輸入品號" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtAbbreviationQ@(itemName)">廠商簡稱</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtAbbreviationQ@(itemName)" name="txtAbbreviationQ@(itemName)" placeholder="請輸入廠商簡稱" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">請購日期 <input type="checkbox" id="cbxPrDateQ@(itemName)" /></label>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtStartDateQ@(itemName)" name="txtStartDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtEndDateQ@(itemName)" name="txtEndDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
                <button type="button" class="btn btn-success  auth-excel" onclick="Excel@(itemName)()" style="margin: auto;"><i class="fas fa-file-excel"></i>匯出</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);">
                            <i class="fal fa-search"></i>搜尋
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky table-stack" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 60px;">#</th>
                                        <th scope="col" style="min-width: 90px;">請購日期</th>
                                        <th scope="col" style="min-width: 90px;">單據名稱</th>
                                        <th scope="col" style="min-width: 90px;">請購單號</th>
                                        <th scope="col" style="min-width: 90px;">品項序號</th>
                                        <th scope="col" style="min-width: 90px;">確認碼</th>
                                        <th scope="col" style="min-width: 90px;">確認者編號</th>
                                        <th scope="col" style="min-width: 90px;">確認者</th>
                                        <th scope="col" style="min-width: 90px;">部門編號</th>
                                        <th scope="col" style="min-width: 90px;">請購部門</th>
                                        <th scope="col" style="min-width: 90px;">人員工號</th>
                                        <th scope="col" style="min-width: 90px;">請購人員</th>
                                        <th scope="col" style="min-width: 90px;">請購備註</th>
                                        <th scope="col" style="min-width: 90px;">品號</th>
                                        <th scope="col" style="min-width: 90px;">品名</th>
                                        <th scope="col" style="min-width: 90px;">規格</th>
                                        <th scope="col" style="min-width: 90px;">會計分類名稱</th>
                                        <th scope="col" style="min-width: 90px;">倉管分類名稱</th>
                                        <th scope="col" style="min-width: 90px;">業務分類名稱</th>
                                        <th scope="col" style="min-width: 90px;">生管分類名稱</th>
                                        <th scope="col" style="min-width: 90px;">請購單位</th>
                                        <th scope="col" style="min-width: 90px;">請購數量</th>
                                        <th scope="col" style="min-width: 90px;">專案代號</th>
                                        <th scope="col" style="min-width: 90px;">專案名稱</th>
                                        <th scope="col" style="min-width: 90px;">品項備註</th>
                                        <th scope="col" style="min-width: 90px;">請購單創建日</th>
                                        <th scope="col" style="min-width: 90px;">請購單創建者編號</th>
                                        <th scope="col" style="min-width: 90px;">請購單創建者</th>
                                        <th scope="col" style="min-width: 90px;">結案碼</th>
                                        <th scope="col" style="min-width: 90px;">課稅別</th>
                                        <th scope="col" style="min-width: 90px;">幣別</th>
                                        <th scope="col" style="min-width: 90px;">匯率</th>
                                        <th scope="col" style="min-width: 90px;">營業稅率</th>
                                        <th scope="col" style="min-width: 90px;">人員帳號</th>
                                        <th scope="col" style="min-width: 90px;">採購人員</th>
                                        <th scope="col" style="min-width: 90px;">廠商編號</th>
                                        <th scope="col" style="min-width: 90px;">廠商簡稱</th>
                                        <th scope="col" style="min-width: 90px;">採購數量</th>
                                        <th scope="col" style="min-width: 90px;">採購單位</th>
                                        <th scope="col" style="min-width: 90px;">採購幣別</th>
                                        <th scope="col" style="min-width: 90px;">採購單價</th>
                                        <th scope="col" style="min-width: 90px;">採購金額</th>
                                        <th scope="col" style="min-width: 90px;">本幣未稅採購金額</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        $(document).ready(function () {
            //初始化
            let currentDate = new Date();
            //搜尋動作
            Query@(itemName)();
        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));
            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let targetUrl = "@Url.Action("GetPrConfirmedNotProcured", "PurchaseRequisition")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "PrErpNo": $("#txtPrErpNoQ@(itemName)").val(),
                "MtlItemNo": $("#txtMtlItemNoQ@(itemName)").val(),
                "PrDep": $("#cboPrDepQ@(itemName)").val()
            };
            let data = DataAccess.Get(targetUrl, postData, false);
            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;
                console.log("pageCount=" + pageCount);
                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr>
                                        <td><span class="stack-title">#</span>${_row}</td>
                                        <td><span class="stack-title">請購日期</span>${item.請購日期}</td>                                        
                                        <td><span class="stack-title">單據名稱</span>${item.單據名稱}</td>
                                        <td><span class="stack-title">請購單號</span>${item.TA001}-${item.TA002}</td>
                                        <td><span class="stack-title">品項序號</span>${item.TB003}</td>
                                        <td><span class="stack-title">確認碼</span>${item.確認碼}</td>
                                        <td><span class="stack-title">確認者編號</span>${item.確認者編號}</td>
                                        <td><span class="stack-title">確認者</span>${item.確認者}</td>
                                        <td><span class="stack-title">部門編號</span>${item.部門編號}</td>
                                        <td><span class="stack-title">請購部門</span>${item.請購部門}</td>
                                        <td><span class="stack-title">人員工號</span>${item.人員工號}</td>
                                        <td><span class="stack-title">請購人員</span>${item.請購人員}</td>
                                        <td><span class="stack-title">請購備註</span>${item.請購備註}</td>                                        
                                        <td><span class="stack-title">品號</span>${item.品號}</td>
                                        <td><span class="stack-title">品名</span>${item.品名}</td>
                                        <td><span class="stack-title">規格</span>${item.規格}</td>
                                        <td><span class="stack-title">會計分類名稱</span>${item.會計分類名稱}</td>
                                        <td><span class="stack-title">倉管分類名稱</span>${item.倉管分類名稱}</td>
                                        <td><span class="stack-title">業務分類名稱</span>${item.業務分類名稱}</td>
                                        <td><span class="stack-title">生管分類名稱</span>${item.生管分類名稱}</td>
                                        <td><span class="stack-title">請購單位</span>${item.請購單位}</td>
                                        <td><span class="stack-title">請購數量</span>${item.請購數量}</td>
                                        <td><span class="stack-title">專案代號</span>${item.專案代號}</td>
                                        <td><span class="stack-title">專案名稱</span>${item.專案名稱}</td>
                                        <td><span class="stack-title">品項備註</span>${item.品項備註}</td>
                                        <td><span class="stack-title">請購單創建日</span>${item.請購單創建日}</td>
                                        <td><span class="stack-title">請購單創建者編號</span>${item.請購單創建者編號}</td>
                                        <td><span class="stack-title">請購單創建者</span>${item.請購單創建者}</td>
                                        <td><span class="stack-title">結案碼</span>${item.結案碼}</td>
                                        <td><span class="stack-title">課稅別</span>${item.課稅別}</td>
                                        <td><span class="stack-title">幣別</span>${item.幣別}</td>
                                        <td><span class="stack-title">匯率</span>${item.匯率}</td>
                                        <td><span class="stack-title">營業稅率</span>${item.營業稅率}</td>
                                        <td><span class="stack-title">人員帳號</span>${item.人員帳號}</td>
                                        <td><span class="stack-title">採購人員</span>${item.採購人員}</td>
                                        <td><span class="stack-title">廠商編號</span>${item.廠商編號}</td>
                                        <td><span class="stack-title">廠商簡稱</span>${item.廠商簡稱}</td>
                                        <td><span class="stack-title">採購數量</span>${item.採購數量}</td>
                                        <td><span class="stack-title">採購單位</span>${item.採購單位}</td>
                                        <td><span class="stack-title">採購幣別</span>${item.採購幣別}</td>
                                        <td><span class="stack-title">採購單價</span>${item.採購單價}</td>
                                        <td><span class="stack-title">採購金額</span>${item.採購金額}</td>
                                        <td><span class="stack-title">本幣未稅採購金額</span>${item.本幣未稅採購金額}</td>
                                      </tr>`;
                    });

                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="42" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));
        }
    </script>
)