@using Business_Manager.Helpers
@{
    string itemName = "PurchaseRequisition";
    string itemNameText = "請購單資料管理";
    string authority = ViewBag.authority;
    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
         .help-block {
             display: none;
             margin: 5px 0 0;
             border: 3px dashed #b1b1b1;
             border-radius: 5px;
             padding: 5px 10px;
         }

         dt {
             float: left;
             clear: left;
             width: 110px;
         }

             dt::after {
                 content: "：";
             }

         dd {
             margin: 0 0 0 80px;
             padding: 0;
             color: #36a2f5;
             font-weight: bold;
         }
    </style>
                        )

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

<!--搜尋-->
<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">MES請購單號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtPrNoQ@(itemName)" name="txtPrNoQ@(itemName)"
                                       placeholder="請輸入MES請購單號">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">ERP請購單別單號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtPrErpFullNoQ@(itemName)" name="txtPrErpFullNoQ@(itemName)"
                                       placeholder="請輸入ERP請購單別單號">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">請購品號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMtlItemNoQ@(itemName)" name="txtMtlItemNoQ@(itemName)"
                                       placeholder="請輸入品號">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">請購人員</label>
                            <div class="col-12">
                                <select class="form-control" id="cboUserIdQ@(itemName)" name="cboUserIdQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">採購單號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtPoErpFullNoQ@(itemName)" name="txtPoErpFullNoQ@(itemName)"
                                       placeholder="請輸入採購單號">
                            </div>
                        </div>
                        @*<div class="form-group row">
                                <label class="col-12 col-form-label">版次</label>
                                <div class="col-12">
                                    <input type="text" class="form-control" id="txtEditionQ@(itemName)" name="txtEditionQ@(itemName)"
                                           placeholder="請輸入版次">
                                </div>
                            </div>*@
                        <div class="form-group row">
                            <label class="col-12 col-form-label" style="display: flex; align-items: center; gap: 7px;">請購日期 <input id="useDate@(itemName)" type="checkbox" checked /></label>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtPrDateStartDateQ@(itemName)" name="txtPrDateStartDateQ@(itemName)"
                                       placeholder="請輸入請購日期"
                                       data-msg-required="請輸入請購日期" data-rule-required="true"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))" />
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtPrDateEndDateQ@(itemName)" name="txtPrDateStartDateQ@(itemName)"
                                       placeholder="請輸入請購日期"
                                       data-msg-required="請輸入請購日期" data-rule-required="true"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">請購單狀態</label>
                            <div class="col-lg-3 col-md-4 col-4">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    新單據
                                    <input type="checkbox" id="cbxPrStatusQ@(itemName)N" name="cbxPrStatusQ@(itemName)" value="N" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-4">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    拋轉BPM中
                                    <input type="checkbox" id="cbxPrStatusQ@(itemName)L" name="cbxPrStatusQ@(itemName)" value="L" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-4">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    BPM簽核流程
                                    <input type="checkbox" id="cbxPrStatusQ@(itemName)P" name="cbxPrStatusQ@(itemName)" value="P" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-4">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    拋轉BPM失敗
                                    <input type="checkbox" id="cbxPrStatusQ@(itemName)R" name="cbxPrStatusQ@(itemName)" value="R" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-4">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    拋轉ERP失敗
                                    <input type="checkbox" id="cbxPrStatusQ@(itemName)F" name="cbxPrStatusQ@(itemName)" value="F" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-4">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    MES作廢
                                    <input type="checkbox" id="cbxPrStatusQ@(itemName)S" name="cbxPrStatusQ@(itemName)" value="S" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-4">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    ERP作廢
                                    <input type="checkbox" id="cbxPrStatusQ@(itemName)V" name="cbxPrStatusQ@(itemName)" value="V" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-4">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    單據核准
                                    <input type="checkbox" id="cbxPrStatusQ@(itemName)Y" name="cbxPrStatusQ@(itemName)" value="Y" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-4">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    單據修改
                                    <input type="checkbox" id="cbxPrStatusQ@(itemName)E" name="cbxPrStatusQ@(itemName)" value="E" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<!--列表-->
<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);"><i class="fal fa-search"></i>搜尋</a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn btn-info auth-add" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="max-width: 75px;">#</th>
                                        <th scope="col" style="max-width: 200px;">MES請購單號</th>
                                        <th scope="col" style="max-width: 200px;">ERP請購單號</th>
                                        <th scope="col" style="max-width: 200px; min-width: 100px;">BPM單號</th>
                                        <th scope="col" style="max-width: 150px;">版次</th>
                                        <th scope="col" style="max-width: 150px;">請購人員</th>
                                        <th scope="col" style="max-width: 200px;">請購部門</th>
                                        <th scope="col" style="max-width: 150px;">單據日期</th>
                                        <th scope="col" style="max-width: 150px; min-width: 100px;">是否拋轉BPM</th>
                                        <th scope="col" style="max-width: 150px; min-width: 100px;">是否拋轉ERP</th>
                                        <th scope="col" style="max-width: 150px; min-width: 100px;">備註</th>
                                        <th scope="col" style="max-width: 150px;">狀態</th>
                                        <th class="text-center" scope="col" style="min-width: 550px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--新增/編輯-->
<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="PrId" name="PrId" value="-1" />

                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtPrNo@(itemName)">MES請購單號<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <input type="text" class="form-control" id="txtPrNo@(itemName)" name="txtPrNo@(itemName)"
                                               value=""
                                               readonly />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="cboPrErpPrefix@(itemName)">ERP請購單別<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select class="form-control" id="cboPrErpPrefix@(itemName)" name="cboPrErpPrefix@(itemName)" required></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtPrErpNo@(itemName)">ERP請購單號<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <input type="text" class="form-control" id="txtPrErpNo@(itemName)" name="txtPrErpNo@(itemName)"
                                               value=""
                                               readonly />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-12 ">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="cboUserId@(itemName)">請購人員<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select class="form-control" id="cboUserId@(itemName)"
                                                data-msg-required="請選擇請購人員" data-rule-required="true" disabled></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 ">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="cboDepartmentId@(itemName)">請購部門<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select class="form-control" id="cboDepartmentId@(itemName)"
                                                data-msg-required="請選擇所屬部門" data-rule-required="true"></select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-12 ">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtDocDate@(itemName)">單據開立日期<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <input type="text" class="form-control" id="txtDocDate@(itemName)" name="txtDocDate@(itemName)"
                                               placeholder="請輸入單據開立日期"
                                               data-msg-required="請輸入單據開立日期" data-rule-required="true"
                                               data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 ">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtPrDate@(itemName)">請購日期<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <input type="text" class="form-control" id="txtPrDate@(itemName)" name="txtPrDate@(itemName)"
                                               placeholder="請輸入請購日期"
                                               data-msg-required="請輸入請購日期" data-rule-required="true"
                                               data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 ">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="cboPriority@(itemName)">優先度<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select class="form-control" id="cboPriority@(itemName)" name="cboPriority@(itemName)" required></select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row bom-type" style="display: none;">
                            <div class="col-lg-12 col-md-12 ">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="cboBomType@(itemName)">請購物料類型<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select class="form-control" id="cboBomType@(itemName)" name="cboBomType@(itemName)" required>
                                            <option value="Y" selected>生產或是BOM表內</option>
                                            <option value="N">其他</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 ">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtPrFile@(itemName)">附件檔案</label>
                                    <div class="col-12">
                                        <input type="file" id="filePrFile@(itemName)" name="filePrFile@(itemName)" multiple />
                                        <input type="hidden" id="txtPrFile@(itemName)" name="txtPrFile@(itemName)" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 ">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtPrRemark@(itemName)">備註</label>
                                    <div class="col-12">
                                        <textarea class="form-control" id="txtPrRemark@(itemName)" name="txtPrRemark@(itemName)" rows="2"
                                                  placeholder="請輸入備註"
                                                  data-msg-required="請輸入備註"
                                                  data-msg-maxlength="必須少於 255 個字元" maxlength="255"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

<!--其他分頁-->
<div class="advanced-block">
    <div class="row">
        <div class="col-12">
            <ul class="nav flag-tabs nav-fill" role="tablist">
                <li class="flag-item">
                    <a class="flag-link  active" data-toggle="tab" href="#tabPrDetail">
                        <i class="fas fa-sliders-h"></i> 設定請購單詳細資料
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane active" id="tabPrDetail">
            @Html.Partial("PrDetail")
        </div>
    </div>
</div>

<!--請購附檔-->
<div class="modal fade" id="uploadFileModal@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">請購附檔管理</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 ">
                        <div class="form-group row">
                            <input type="hidden" id="txtIndexPrId" />
                            <label class="form-label col-12" for="txtIndexPrFile@(itemName)">附件檔案</label>
                            <div class="col-12">
                                <input type="file" id="fileIndexPrFile@(itemName)" name="fileIndexPrFile@(itemName)" multiple />
                                <input type="hidden" id="txtIndexPrFile@(itemName)" name="txtIndexPrFile@(itemName)" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="UploadFile@(itemName)()"><i class="fas fa-file-upload"></i>上傳</button>
            </div>
        </div>
    </div>
</div>

<!--BPM簽核進度-->
<div class="modal fade" id="modalBpmProgress">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">BPM簽核進度查詢</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row mb-3">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header bg-primary text-white">
                                    <h6 class="mb-0">請購單基本資訊</h6>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <dl>
                                                <dt>MES請購單號</dt>
                                                <dd id="bpmPrNo"></dd>
                                            </dl>
                                        </div>
                                        <div class="col-md-6">
                                            <dl>
                                                <dt>ERP請購單號</dt>
                                                <dd id="bpmPrErpNo"></dd>
                                            </dl>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <dl>
                                                <dt>BPM單號</dt>
                                                <dd id="bpmNo"></dd>
                                            </dl>
                                        </div>
                                        <div class="col-md-6">
                                            <dl>
                                                <dt>請購日期</dt>
                                                <dd id="bpmPrDate"></dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header bg-info text-white">
                                    <h6 class="mb-0">簽核流程</h6>
                                </div>
                                <div class="card-body p-0">
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-striped" id="tblBpmProgress">
                                            <thead>
                                                <tr>
                                                    <th scope="col">簽核步驟</th>
                                                    <th scope="col">簽核人員</th>
                                                    <th scope="col">簽核狀態</th>
                                                    <th scope="col">簽核時間</th>
                                                    <th scope="col">簽核意見</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!-- 簽核進度資料會動態載入 -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-times"></i>關閉</button>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        let userDepartmentId = -1;

        let userId@(itemName) = -1;
        let companyId@(itemName) = -1;

        $(document).ready(function () {
            GetLoginByKey@(itemName)();
            Suites.DateDropper("#txtPrDateStartDateQ@(itemName), #txtPrDateEndDateQ@(itemName)");
            let currentDate = new Date();
            Suites.SetDateDropper("#txtPrDateEndDateQ@(itemName)", currentDate);
            currentDate.setDate(currentDate.getDate() - 90);
            Suites.SetDateDropper("#txtPrDateStartDateQ@(itemName)", currentDate);

            Query@(itemName)();

            GetUserInfo@(itemName)();

            if (!isMobile) {
                $("#cboUserIdQ@(itemName)").select2({
                    dropdownAutoWidth: true,
                    dropdownParent: $("#modalQuery@(itemName)"),
                    width: "100%"
                });
            }

            $("#txtDocDate@(itemName)").change(function () {
                let docDate = $("#txtDocDate@(itemName)").val();
                $("#txtPrDate@(itemName)").val(docDate);
            });

            ComboBoxs.Default("#cboUserIdQ@(itemName)", "@Url.Action("GetUser", "BasicInformation")", { "CompanyId": companyId@(itemName) }, "", "ALL", "", "UserWithNo", "UserId");

            $("#txtPrNoQ@(itemName), #txtPrErpFullNoQ@(itemName), #txtMtlItemNoQ@(itemName), #txtEditionQ@(itemName)").keydown(function (event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    Query@(itemName)();
                    return false;
                }
            });
        });

        function GetLoginByKey@(itemName)(){
            let targetUrl = "@Url.Action("GetLoginByKey", "User")";
            let postData = {
                "UserNo": $.cookie("Login"),
                "KeyText": $.cookie("LoginKey")
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                userId@(itemName) = data.returnData.UserId;
                companyId@(itemName) = data.returnData.CompanyId;
            } else {
                alert(data.msg, "alert", 0);
            }
        }

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            if (!objPage) objPage = objPage@(itemName);
            let innerHtml = '';
            let pageCount = 0;
            let targetUrl = "@Url.Action("GetPurchaseRequisition", "PurchaseRequisition")";

            let statusList = [];
            $.each($("input[name='cbxPrStatusQ@(itemName)']:checked"), function () {
                statusList.push($(this).val());
            });

            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "PrErpFullNo": $("#txtPrErpFullNoQ@(itemName)").val(),
                "Edition": $("#txtEditionQ@(itemName)").val(),
                "PrStatus": statusList.join(","),
                "PrDateStartDate": $("#useDate@(itemName)").prop("checked") == true ? $("#txtPrDateStartDateQ@(itemName)").val() : "",
                "PrDateEndDate": $("#useDate@(itemName)").prop("checked") == true ? $("#txtPrDateEndDateQ@(itemName)").val() : "",
                "MtlItemNo": $("#txtMtlItemNoQ@(itemName)").val(),
                "PrNo": $("#txtPrNoQ@(itemName)").val(),
                "UserId": $("#cboUserIdQ@(itemName)").val(),
                "PoErpFullNo": $("#txtPoErpFullNoQ@(itemName)").val()
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;
                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);
                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";
                        innerHtml += `<tr>
                                        <td style="max-width: 75px;">${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.PrNo}" style="max-width: 200px;">
                                            <a href="javascript:void(0);" class="text-primary" onclick="ShowBpmProgress('${item.PrNo}')">${item.PrNo}</a>
                                        </td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.PrErpPrefix}-${item.PrErpNo}" style="max-width: 200px;">${item.PrErpPrefix}-${item.PrErpNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.BpmNo != null ? item.BpmNo : ``}" style="max-width: 200px; min-width: 100px;">${item.BpmNo != null ? item.BpmNo : ``}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Edition}" style="max-width: 150;">${item.Edition}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.UserNo}${item.UserName}" style="min-width: 150px;"><i class="fas fa-user"></i>&nbsp;<code>${item.UserNo}</code>&nbsp;${item.UserName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DepartmentNo}-${item.DepartmentName}" style="max-width: 200px;">${item.DepartmentNo}-${item.DepartmentName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DocDate}" style="max-width: 150px;">${item.DocDate}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.BpmTransferStatus == `Y` ? `已拋轉` : `尚未拋轉`}" style="max-width: 150px; min-width: 135px;">${item.BpmTransferStatus == `Y` ? `已拋轉` : `尚未拋轉`}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.TransferStatus == `Y` ? `已拋轉` : `尚未拋轉`}" style="max-width: 150px; min-width: 135px;">${item.TransferStatus == `Y` ? `已拋轉` : `尚未拋轉`}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.PrRemark != null ? item.PrRemark : ``}" style="max-width: 150px; min-width: 100px;">${item.PrRemark != null ? item.PrRemark : ``}</td>
                                        ${JdugePrStatus@(itemName)(`${item.PrStatus}`, `${item.StatusName}`)}
                                        <td class="text-center active-content" style="min-width: 400px;">
                                            <a class="active-link auth-update" href="javascript:Edit@(itemName)('${item.PrId}');"><i class="fas fa-edit"></i></a>
                                            ${JudgeUserId@(itemName)(`${item.PrId}`, `${item.UserId}`)}
                                            <a class="active-link auth-update" href="javascript:Duplicate@(itemName)('${item.PrId}');"><i class="fas fa-copy"> 複製請購單</i></a>
                                            <a class="active-link auth-add" href="javascript:PopUploadFileModal@(itemName)('${item.PrId}');"><i class="fas fa-file-upload"> 上傳附檔</i></a>
                                            ${JudgeBpmTransferStatus@(itemName)(`${item.BpmTransferStatus}`, `${item.PrId}`, `${item.PrStatus}`, `${item.UserId}`)}
                                        </td>
                                      </tr>`;
                    });

                    function JudgeBpmTransferStatus@(itemName)(bpmTransferStatus, prId, prStatus, userId) {
                        let innerHtml = '';
                        if ((prStatus == "N" || prStatus == "E") && (userId == userId@(itemName).toString())) {
                            innerHtml += `<a class="active-link auth-data-transfer" href="javascript:TransferBpm@(itemName)('${prId}');"><i class="far fa-exchange-alt"> 拋轉BPM</i></a>
                                          <a class="active-link auth-void" href="javascript:Void@(itemName)('${prId}');"><i class="fas fa-ban"> 作廢</i></a>`;
                        }
                        else {
                            innerHtml += `<a class="active-link auth-data-transfer active-disable" href="javascript:void(0);"><i class="far fa-exchange-alt"> 拋轉BPM</i></a>
                                          <a class="active-link auth-void active-disable" href="javascript:void(0);"><i class="fas fa-ban"> 作廢</i></a>`;
                        }
                        return innerHtml;
                    }

                    function JdugePrStatus@(itemName)(prStatus, statusName) {
                        let innerHtml = '';
                        if (prStatus == "P") {
                            //BPM簽核流程
                            innerHtml += `<td class="ellipsis" data-toggle="tooltip" title="${statusName}" style="max-width: 150px;"><i style="color: #3c66df; font-weight: 600;" class="far fa-money-check-edit"></i> ${statusName}</td>`;
                        }
                        else if (prStatus == "Y") {
                            innerHtml += `<td class="ellipsis" data-toggle="tooltip" title="${statusName}" style="max-width: 150px;"><i style="color: green; font-weight: 600;" class="fad fa-badge-check"></i> ${statusName}</td>`;
                        }
                        else if (prStatus == "N") {
                            innerHtml += `<td class="ellipsis" data-toggle="tooltip" title="${statusName}" style="max-width: 150px;"><i style="color: brown;" class="fad fa-flag-checkered"></i> ${statusName}</td>`;
                        }
                        else if (prStatus == "E") {
                            innerHtml += `<td class="ellipsis" data-toggle="tooltip" title="${statusName}" style="max-width: 150px;"><i style="color: cornflowerblue;" class="fas fa-user-edit"></i> ${statusName}</td>`;
                        }
                        else if (prStatus == "S") {
                            innerHtml += `<td class="ellipsis" data-toggle="tooltip" title="${statusName}" style="max-width: 150px;"><i style="color: #a449d3;" class="fas fa-exclamation-triangle"></i> ${statusName}</td>`;
                        }
                        else if (prStatus == "F") {
                            innerHtml += `<td class="ellipsis" data-toggle="tooltip" title="${statusName}" style="max-width: 150px;"><i style="color: red;" class="fas fa-exclamation-square"></i> ${statusName}</td>`;
                        }
                        else {
                            innerHtml += `<td class="ellipsis" data-toggle="tooltip" title="${statusName}" style="max-width: 150px;">${statusName}</td>`;
                        }
                        return innerHtml;
                    }

                    function JudgeUserId@(itemName)(prId, userId) {
                        let innerHtml = '';
                        if (userId == userId@(itemName).toString()) {
                            innerHtml += `<a class="active-link auth-delete" href="javascript:Delete@(itemName)('${prId}');"><i class="fas fa-trash-alt"></i></a>`;
                        }
                        else {
                            innerHtml += `<a class="active-link auth-delete active-disable" href="javascript:void(0);"><i class="fas fa-trash-alt"></i></a>`;
                        }
                        return innerHtml;
                    }
                }
                else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="14" style="background-color: #fff3cd;">
                                        <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            }
            else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));
        }

        function Edit@(itemName)(prId) {
            $("#PrId").val(prId ? prId : 0);
            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");

            $("#txtPrNo@(itemName)").val("");

            //GetPrSeq@(itemName)();

            $("#txtPrFile@(itemName)").val("");

            $("#cboUserId@(itemName), #cboDepartmentId@(itemName), #cboPrErpPrefix@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });

            Suites.DateDropper("#txtDocDate@(itemName)");
            let currentDate = new Date();
            Suites.SetDateDropper("#txtDocDate@(itemName)", currentDate);

            Suites.DateDropper("#txtPrDate@(itemName)");
            Suites.SetDateDropper("#txtPrDate@(itemName)", currentDate);

            ComboBoxs.Default("#cboPrErpPrefix@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "PrErpPrefix", "Condition": "31" }, "3101", "NA", "", "PrErpPrefix", "MQ001");

            ComboBoxs.Default("#cboDepartmentId@(itemName)", "@Url.Action("GetDepartment", "BasicInformation")", { "CompanyId": companyId@(itemName), "Status": "A" }, "" + userDepartmentId + "", "CHOOSE", "", "DepartmentWithNo", "DepartmentId");
            ComboBoxs.Default("#cboUserId@(itemName)", "@Url.Action("GetUserByAuthority", "BasicInformation")", { "FunctionCode": "PurchaseRequisition", "DetailCode": "add", "Status": "A" }, userId@(itemName), "CHOOSE", "", "UserWithNo", "UserId");

            ComboBoxs.Default("#cboPriority@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "PR.Priority" }, "2", "NA", "", "TypeName", "TypeNo");

            $("#cboPrErpPrefix@(itemName)").prop("disabled", false);

            if (prId > 0) {
                $("#cboPrErpPrefix@(itemName)").prop("disabled", true);
                ExpandPrDetail(prId);
                let targetUrl = "@Url.Action("GetPurchaseRequisition", "PurchaseRequisition")";
                let postData = {
                    "PrId": prId
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        $("#txtPrNo@(itemName)").val(item.PrNo);
                        $("#cboPrErpPrefix@(itemName)").val(item.PrErpPrefix);
                        $("#txtPrErpNo@(itemName)").val(item.PrErpNo);
                        $("#txtDocDate@(itemName)").val(item.DocDate);
                        $("#txtPrDate@(itemName)").val(item.PrDate);
                        $("#txtPrRemark@(itemName)").val(item.PrRemark);
                        $("#cboDepartmentId@(itemName)").val(item.DepartmentId);
                        $("#cboUserId@(itemName)").val(item.UserId);
                        $("#cboPriority@(itemName)").val(item.Priority);
                        $("#cboBomType@(itemName)").val(item.BomType);

                        let prFileList = [];
                        if (item.PrFile != null) {
                            let prFileJson = JSON.parse(item.PrFile);
                            $.each(prFileJson.data, function (j, item2) {
                                prFileList.push(item2.FileId);
                            });
                        }
                        $("#txtPrFile@(itemName)").val(item.PrFile != null ? prFileList.toString() : "");
                    });
                } else {
                    alert(data.msg, "alert", 0);
                }
            }

            let uploadConfig = {
                fileSelector: "#filePrFile@(itemName)",
                targetSelector: "#txtPrFile@(itemName)",
                required: false,
                uploadPath: "/PurchaseRequisition/PurchaseRequisition",
                maxFileCount: 999,
                defaultFile: $("#txtPrFile@(itemName)").val()
            };
            Suites.FileUpload(uploadConfig);
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let PrId = parseInt($("#PrId").val());
                if (PrId <= 0) {
                    let targetUrl = "@Url.Action("AddPurchaseRequisition", "PurchaseRequisition")";
                    let postData = {
                        @*"PrNo": $("#txtPrNo@(itemName)").val(),*@
                        "PrErpPrefix": $("#cboPrErpPrefix@(itemName)").val(),
                        "PrErpNo": $("#txtPrErpNo@(itemName)").val(),
                        "DocDate": $("#txtDocDate@(itemName)").val(),
                        "PrDate": $("#txtPrDate@(itemName)").val(),
                        "PrRemark": $("#txtPrRemark@(itemName)").val(),
                        "PrFile": $("#txtPrFile@(itemName)").val(),
                        "UserId": $("#cboUserId@(itemName)").val(),
                        "DepartmentId": $("#cboDepartmentId@(itemName)").val(),
                        "Priority": $("#cboPriority@(itemName)").val(),
                        "BomType": $("#cboBomType@(itemName)").val(),
                    };

                    let data = DataAccess.EditContinued(targetUrl, postData, false);

                    if (data) {
                        let prId;
                        let prErpNo;
                        let prNo;
                        $.each(data.result, function (i, item) {
                            prId = item.PrId;
                            prErpNo = item.PrErpNo
                            prNo = item.PrNo
                        });
                        $("#txtPrErpNo@(itemName)").val(prErpNo);
                        $("#PrId").val(prId);
                        $("#txtPrNo@(itemName)").val(prNo);
                        $("#cboPrErpPrefix@(itemName)").prop("disabled", true);
                        ExpandPrDetail(prId);
                    }
                } else {
                    let targetUrl = "@Url.Action("UpdatePurchaseRequisition", "PurchaseRequisition")";
                    let postData = {
                        "PrId" : PrId,
                        "PrErpPrefix": $("#cboPrErpPrefix@(itemName)").val(),
                        "PrErpNo": $("#txtPrErpNo@(itemName)").val(),
                        "DocDate": $("#txtDocDate@(itemName)").val(),
                        "PrDate": $("#txtPrDate@(itemName)").val(),
                        "PrRemark": $("#txtPrRemark@(itemName)").val(),
                        "PrFile": $("#txtPrFile@(itemName)").val(),
                        "UserId": $("#cboUserId@(itemName)").val(),
                        "DepartmentId": $("#cboDepartmentId@(itemName)").val(),
                        "Priority": $("#cboPriority@(itemName)").val(),
                        "BomType": $("#cboBomType@(itemName)").val(),
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        ReturnPrDetail();
                    }
                }
            }
        }

        function Delete@(itemName)(PrId) {
            swal.fire({
                titleText: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeletePurchaseRequisition", "PurchaseRequisition")";
                    let postData = {
                        "PrId": PrId
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        InitData@(itemName)();
                    }
                }
            });
        }

        function Duplicate@(itemName)(PrId) {
            swal.fire({
                titleText: "確認要複製請購單嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("UpdatePrDuplicate", "PurchaseRequisition")";
                    let postData = {
                        "PrId": PrId
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function TransferBpm@(itemName)(prId) {
            swal.fire({
                titleText: "確認要進行BPM拋轉嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("UpdatePrTransferBpm", "PurchaseRequisition")";
                    let postData = {
                        "PrId" : prId
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        InitData@(itemName)();
                    }
                }
            });
        }

        function GetPrSeq@(itemName)() {
            let targetUrl = "@Url.Action("GetPrSeq", "PurchaseRequisition")";
            let postData = {
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                if (data.result.length > 0) {
                    $.each(data.result, function (i, item) {
                        let nowYear = new Date().getFullYear().toString();
                        let nowMonth = (new Date().getMonth() + 1).toString().padStart(2, "0");
                        let nowDay = new Date().getDate().toString().padStart(2, "0");
                        let MaxPrNo = item.MaxPrNo;
                        let NewMaxPrNoNumber = MaxPrNo.substring(MaxPrNo.length - 3);
                        let PrNo = "PR" + nowYear + nowMonth + nowDay + (parseInt(NewMaxPrNoNumber) + 1).toString().padStart(3, '0');
                        $("#txtPrNo@(itemName)").val(PrNo);
                    });
                }
            }

        }

        function GetUserInfo@(itemName)() {
            let targetUrl = "@Url.Action("GetUser", "BasicInformation")";

            let postData = {
                "UserId": userId@(itemName)
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                if (data.result.length > 0) {
                    $.each(data.result, function (i, item) {
                        userDepartmentId = item.DepartmentId;
                    });
                }
            }
        }

        function Void@(itemName)(prId) {
            swal.fire({
                titleText: "請購單作廢",
                text: "作廢後無法取消作廢，請確認後再執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("UpdatePrVoid", "PurchaseRequisition")";
                    let postData = {
                        "PrId": prId
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function PopUploadFileModal@(itemName)(PrId) {
            $("#txtIndexPrFile@(itemName)").val("");
            $("#txtIndexPrId").val(PrId);

            let targetUrl = "@Url.Action("GetPurchaseRequisition", "PurchaseRequisition")";
            let postData = {
                "PrId": PrId
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                $.each(data.result, function (i, item) {
                    let prFileList = [];
                    if (item.PrFile != null) {
                        let prFileJson = JSON.parse(item.PrFile);
                        $.each(prFileJson.data, function (j, item2) {
                            prFileList.push(item2.FileId);
                        });
                    }

                    $("#txtIndexPrFile@(itemName)").val(item.PrFile != null ? prFileList.toString() : "");
                });
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#uploadFileModal@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });

            let uploadConfig = {
                fileSelector: "#fileIndexPrFile@(itemName)",
                targetSelector: "#txtIndexPrFile@(itemName)",
                required: false,
                uploadPath: "/PurchaseRequisition/PurchaseRequisition",
                maxFileCount: 999,
                defaultFile: $("#txtIndexPrFile@(itemName)").val()
            };
            Suites.FileUpload(uploadConfig);
        }

        function UploadFile@(itemName)() {
            let prId = $("#txtIndexPrId").val();
            let targetUrl = "@Url.Action("AddPrFile", "PurchaseRequisition")";
            let postData = {
                "PrId": prId,
                "PrFile": $("#txtIndexPrFile@(itemName)").val()
            };

            let result = DataAccess.Update(targetUrl, postData, false, true);

            if (result) {
                Return@(itemName)();
            }
        }

        function Return@(itemName)() {
            Switch("#listData@(itemName)", "#editData@(itemName), .unit-block, .advanced-block");
            ResetForm(objForm@(itemName));
            //Query@(itemName)();
            InitData@(itemName)();
        }

        // 添加這個函數來顯示BPM簽核進度
        function ShowBpmProgress(prNo) {
            // 清除之前的資料
            $("#bpmPrNo").text("");
            $("#bpmPrErpNo").text("");
            $("#bpmNo").text("");
            $("#bpmPrDate").text("");
            $("#tblBpmProgress tbody").empty();
    
            // 顯示Modal
            $("#modalBpmProgress").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });
    
            // 載入請購單基本資訊
            let targetUrl = "@Url.Action("GetPurchaseRequisition", "PurchaseRequisition")";
            let postData = {
                "PrNo": prNo
            };
    
            let data = DataAccess.Get(targetUrl, postData, false);
    
            if (data.status == "success") {
                $.each(data.result, function (i, item) {
                    $("#bpmPrNo").text(item.PrNo);
                    $("#bpmPrErpNo").text(item.PrErpPrefix + "-" + item.PrErpNo);
                    $("#bpmNo").text(item.BpmNo || "尚未拋轉至BPM");
                    $("#bpmPrDate").text(item.PrDate);
            
                    // 如果有BPM單號，則取得BPM簽核進度
                    if (item.PrNo) {
                        GetBpmProgressByBpmNo(item.PrNo);
                    } else {
                        // 若沒有BPM單號，顯示提示訊息
                        $("#tblBpmProgress tbody").html(`
                            <tr>
                                <td colspan="5" class="text-center">
                                    <i class="fas fa-info-circle text-info"></i> 
                                    此請購單尚未拋轉至BPM或尚未取得BPM單號
                                </td>
                            </tr>
                        `);
                    }
                });
            } else {
                alert(data.msg, "alert", 0);
            }
        }

        // 根據BPM單號取得簽核進度
        function GetBpmProgressByBpmNo(PrNo) {
            // 這裡需要添加一個新的API來獲取BPM簽核進度
            // 假設有一個名為 GetBpmProgress 的 Action
            let targetUrl = "@Url.Action("GetPurchaseRequisitionBPM", "PurchaseRequisition")";
            let postData = {
                "PrNo": PrNo
            };
    
            let data = DataAccess.Get(targetUrl, postData, false);
    
            if (data.status == "success") {
                if (data.result.length > 0) {
                    let innerHtml = '';
                    $.each(data.result, function (i, item) {
                        let statusHtml = '';
                
                        // 根據簽核狀態顯示不同顏色的標籤
                        if (item.ApprovalStatus === "已完成") {
                            statusHtml = `<span class="badge badge-success">${item.ApprovalStatus}</span>`;
                        } else if (item.ApprovalStatus === "退回") {
                            statusHtml = `<span class="badge badge-danger">${item.ApprovalStatus}</span>`;
                        } else if (item.ApprovalStatus === "通知") {
                            statusHtml = `<span class="badge badge-warning">${item.ApprovalStatus}</span>`;
                        } else {
                            statusHtml = `<span class="badge badge-secondary">${item.ApprovalStatus}</span>`;
                        }
                
                        innerHtml += `
                            <tr>
                                <td>${item.StepName}</td>
                                <td>${item.ApproverName}</td>
                                <td>${statusHtml}</td>
                                <td>${item.ApprovalTime || "-"}</td>
                                <td>${item.ApprovalComment || "-"}</td>
                            </tr>
                        `;
                    });
            
                    $("#tblBpmProgress tbody").html(innerHtml);
                } else {
                    $("#tblBpmProgress tbody").html(`
                        <tr>
                            <td colspan="5" class="text-center">
                                <i class="fas fa-exclamation-triangle text-warning"></i> 
                                尚未找到此BPM單號的簽核記錄
                            </td>
                        </tr>
                    `);
                }
            } else {
                // 如果API尚未實作，可以顯示模擬資料
                let mockData = [
                    { StepName: "請購單建立", ApproverName: "系統", ApprovalStatus: "已通過", ApprovalTime: "2025-05-09 08:30:00", ApprovalComment: "系統自動通過" },
                    { StepName: "部門主管審核", ApproverName: "陳經理", ApprovalStatus: "已通過", ApprovalTime: "2025-05-09 09:15:22", ApprovalComment: "同意" },
                    { StepName: "財務審核", ApproverName: "王財務", ApprovalStatus: "處理中", ApprovalTime: null, ApprovalComment: null }
                ];
        
                let innerHtml = '';
                $.each(mockData, function (i, item) {
                    let statusHtml = '';
            
                    if (item.ApprovalStatus === "已通過") {
                        statusHtml = `<span class="badge badge-success">${item.ApprovalStatus}</span>`;
                    } else if (item.ApprovalStatus === "已拒絕") {
                        statusHtml = `<span class="badge badge-danger">${item.ApprovalStatus}</span>`;
                    } else if (item.ApprovalStatus === "處理中") {
                        statusHtml = `<span class="badge badge-warning">${item.ApprovalStatus}</span>`;
                    } else {
                        statusHtml = `<span class="badge badge-secondary">${item.ApprovalStatus}</span>`;
                    }
            
                    innerHtml += `
                        <tr>
                            <td>${item.StepName}</td>
                            <td>${item.ApproverName}</td>
                            <td>${statusHtml}</td>
                            <td>${item.ApprovalTime || "-"}</td>
                            <td>${item.ApprovalComment || "-"}</td>
                        </tr>
                    `;
                });
        
                $("#tblBpmProgress tbody").html(innerHtml);
            }
        }

    </script>
        )