@using Business_Manager.Helpers
@{
    string itemName = "InterfacingControlPanel";
    string itemNameText = "介接控制台";
    string authority = ViewBag.authority;

    ViewBag.Title = itemNameText;

    string dateCache = DateTime.Now.ToString("MMddmmss");
}

@Html.Resource("css",
    @<link href="@Url.Content("~/Content/interface.min.css")?@dateCache" rel="stylesheet" />
)

@Html.Resource("css",
    @<style>
    </style>
)

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="interface-container">
                    <div class="interface-nav">
                        <div class="interface-control">
                            <div class="step-title">
                                <h2>選擇作業</h2>
                            </div>
                            <form class="container" autocomplete="off">
                                <fieldset>
                                    <div class="form-group row">
                                        <label class="col-12 col-form-label" for="cboCompanyId@(itemName)">公司別</label>
                                        <div class="col-12">
                                            <select class="form-control" id="cboCompanyId@(itemName)" name="cboCompanyId@(itemName)"></select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-12 col-form-label" for="cboOperationId@(itemName)">作業模式</label>
                                        <div class="col-12">
                                            <select class="form-control" id="cboOperationId@(itemName)" name="cboOperationId@(itemName)">
                                                <option>請選擇</option>
                                            </select>
                                            <div class="operation-setting-container">
                                                <div class="setting-title">拋轉 <span class="small">(主要資料庫 <i class="fas fa-long-arrow-right"></i> 目標資料庫)</span></div>
                                                <div class="setting-body">
                                                    <dl class="help-block">
                                                        <dt>自動</dt>
                                                        <dd id="desAutoImport@(itemName)"></dd>
                                                        <dt>時間間隔</dt>
                                                        <dd id="desImportTimeInterval@(itemName)"></dd>
                                                        <dt>執行方式</dt>
                                                        <dd id="desImportExecuteMode@(itemName)"></dd>
                                                    </dl>
                                                    <button type="button" class="btn btn-info" onclick="">執行</button>
                                                </div>
                                            </div>
                                            <div class="operation-setting-container">
                                                <div class="setting-title">同步 <span class="small">(主要資料庫 <i class="fas fa-long-arrow-left"></i> 目標資料庫)</span></div>
                                                <div class="setting-body">
                                                    <dl class="help-block">
                                                        <dt>自動</dt>
                                                        <dd id="desAutoSynchronize@(itemName)"></dd>
                                                        <dt>時間間隔</dt>
                                                        <dd id="desSynchronizeTimeInterval@(itemName)"></dd>
                                                        <dt>執行方式</dt>
                                                        <dd id="desSynchronizeExecuteMode@(itemName)"></dd>
                                                    </dl>
                                                    <button type="button" class="btn btn-info" onclick="">執行</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="interface-block">
                            <div class="step-title">
                                <h2>儀錶板</h2>
                            </div>
                            <div class="interface-block-kan">
                                <div class="interface-kanban">
                                    <div class="kanban-title">主要資料庫</div>
                                    <span class="data-count total-count">
                                        <span>總筆數</span>
                                        <a href="javascript:void(0);">500</a>
                                    </span>
                                    <span class="data-count fit-count">
                                        <span>符合數</span>
                                        <a href="javascript:void(0);">400</a>
                                    </span>
                                    <span class="data-count error-count">
                                        <span>異常數</span>
                                        <a href="javascript:void(0);">50</a>
                                    </span>
                                </div>

                                <div class="interface-kanban">
                                    <div class="kanban-title">目標資料庫</div>
                                    <span class="data-count total-count">
                                        <span>總筆數</span>
                                        <a href="javascript:void(0);">500</a>
                                    </span>
                                    <span class="data-count fit-count">
                                        <span>符合數</span>
                                        <a href="javascript:void(0);">500</a>
                                    </span>
                                    <span class="data-count error-count">
                                        <span>異常數</span>
                                        <a href="javascript:void(0);">0</a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="interface-body">
                        <div class="step-title">
                            <h2>資料處理</h2>
                        </div>
                        <div class="interface-data">
                            <div class="interface-data-block">
                                <div class="interface-data-title">
                                    <h2>主要資料庫</h2>
                                </div>
                                <div class="interface-data-list">
                                    <div class="data-item success-data">ZY00764</div>
                                    <div class="data-item success-data">ZY00764</div>
                                    <div class="data-item error-data">ZY00764</div>
                                    <div class="data-item">ZY00764</div>
                                    <div class="data-item">ZY00764</div>
                                    <div class="data-item">ZY00764</div>
                                    <div class="data-item">ZY00764</div>
                                    <div class="data-item">ZY00764</div>
                                    <div class="data-item">ZY00764</div>
                                    <div class="data-item">ZY00764</div>
                                    <div class="data-item">ZY00764</div>
                                    <div class="data-item">ZY00764</div>
                                    <div class="data-item">ZY00764</div>
                                    <div class="data-item">ZY00764</div>
                                </div>
                            </div>
                            <div class="interface-animate">
                                <span class="process"><i class="fas fa-long-arrow-right"></i></span>
                                <span class="process process-run"><i class="fas fa-long-arrow-left"></i></span>
                            </div>
                            <div class="interface-data-block">
                                <div class="interface-data-title">
                                    <h2>目標資料庫</h2>
                                </div>
                                <div class="interface-data-list">
                                    <div class="data-item success-data">ZY00764</div>
                                    <div class="data-item success-data">ZY00764</div>
                                    <div class="data-item error-data">ZY00764</div>
                                    <div class="data-item">ZY00764</div>
                                    <div class="data-item">ZY00764</div>
                                    <div class="data-item">ZY00764</div>
                                    <div class="data-item">ZY00764</div>
                                    <div class="data-item">ZY00764</div>
                                    <div class="data-item">ZY00764</div>
                                    <div class="data-item">ZY00764</div>
                                    <div class="data-item">ZY00764</div>
                                    <div class="data-item">ZY00764</div>
                                    <div class="data-item">ZY00764</div>
                                    <div class="data-item">ZY00764</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        let Operations = new OperationControl@(itemName)();

        $(document).ready(function () {
            ComboBoxs.Default("#cboCompanyId@(itemName)", "@Url.Action("GetCompany", "BasicInformation")", { "Status": "A" }, "", "NA", "", "CompanyWithNo", "CompanyId");

            $("#cboCompanyId@(itemName)").change(function () {
                if ($(this).val()) {
                    ComboBoxs.Default("#cboOperationId@(itemName)", "@Url.Action("GetOperation", "SystemInterfacing")", { "CompanyId": $("#cboCompanyId@(itemName)").val(), "Status": "A" }, "", "NA", "", "OperationWithNo", "OperationId");
                } else {
                    $("#cboOperationId@(itemName)").empty();
                    $("#cboOperationId@(itemName)").append(new Option("請選擇", ""));
                }

                $("#cboOperationId@(itemName)").trigger("change");
            });

            $("#cboOperationId@(itemName)").change(function () {
                if ($(this).val()) {
                    let targetUrl = "@Url.Action("GetOperation", "SystemInterfacing")";
                    let postData = {
                        "OperationId": $(this).val()
                    };
                    let data = DataAccess.Get(targetUrl, postData, false);

                    if (data.status == "success") {
                        $.each(data.result, function (i, item) {
                            $("#desAutoImport@(itemName)").html(item.AutoImportName);
                            $("#desImportTimeInterval@(itemName)").html(TimeTransform(item.ImportTimeInterval));
                            $("#desImportExecuteMode@(itemName)").html(item.ImportExecuteModeName);
                            $("#desAutoSynchronize@(itemName)").html(item.AutoSynchronizeName);
                            $("#desSynchronizeTimeInterval@(itemName)").html(TimeTransform(item.SynchronizeTimeInterval));
                            $("#desSynchronizeExecuteMode@(itemName)").html(item.SynchronizeExecuteModeName);
                        });
                    } else {
                        alert(data.msg, "alert", 0);
                    }
                } else {
                    $("#desAutoImport@(itemName)").html("");
                    $("#desImportTimeInterval@(itemName)").html("");
                    $("#desImportExecuteMode@(itemName)").html("");
                    $("#desAutoSynchronize@(itemName)").html("");
                    $("#desSynchronizeTimeInterval@(itemName)").html("");
                    $("#desSynchronizeExecuteMode@(itemName)").html("");
                }
            });

            $("#cboCompanyId@(itemName), #cboOperationId@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });
        });

        function OperationControl@(itemName)() {
        }
    </script>
)