@using Business_Manager.Helpers
@{
    string itemName = "Operation";
    string itemNameText = "作業模式";
    string itemImport = "OperationImport";
    string itemSynchronize = "OperationSynchronize";
    string authority = ViewBag.authority;

    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
    </style>
)

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
    </div>
</div>

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboCompanyIdQ@(itemName)">公司別</label>
                            <div class="col-12">
                                <select class="form-control" id="cboCompanyIdQ@(itemName)" name="cboCompanyIdQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboInterfacingIdQ@(itemName)">系統介接設定</label>
                            <div class="col-12">
                                <select class="form-control" id="cboInterfacingIdQ@(itemName)" name="cboInterfacingIdQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtOperationNoQ@(itemName)">作業模式代碼</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtOperationNoQ@(itemName)" name="txtOperationNoQ@(itemName)" placeholder="請輸入作業模式代碼" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtOperationNameQ@(itemName)">作業模式名稱</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtOperationNameQ@(itemName)" name="txtOperationNameQ@(itemName)" placeholder="請輸入作業模式名稱" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">狀態</label>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    啟用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)A" name="cbxStatusQ@(itemName)" value="A" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    停用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)S" name="cbxStatusQ@(itemName)" value="S" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);">
                            <i class="fal fa-search"></i>搜尋
                        </a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn btn-info auth-add" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky tiny-table" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th scope="col" style="min-width: 150px;">公司別</th>
                                        <th scope="col" style="min-width: 150px;">介接類型</th>
                                        <th scope="col" style="min-width: 200px;">作業模式</th>
                                        <th class="text-center" scope="col" style="min-width: 75px;">操作</th>
                                        <th class="text-center" scope="col" style="min-width: 75px;">狀態</th>
                                        <th style="padding: 0; min-width: 425px;">
                                            <table class="table table-bordered table-sm mb-0 table-non-rwd table-striped-custom table-row-detail">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 75px;"></th>
                                                        <th style="width: 100px;">自動</th>
                                                        <th style="width: 150px;">時間間隔</th>
                                                        <th style="width: 100px;">執行方式</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="side-nav hs-display" id="editData@(itemName)">
    <div class="container">
        <div class="toolbar">
            <div class="tool-list">
                <a class="set" href="javascript:void(0);" onclick="Operations.Previous()" title="上一筆"><i class="fas fa-chevron-up"></i></a>
                <a class="set" href="javascript:void(0);" onclick="Operations.Next()" title="下一筆"><i class="fas fa-chevron-down"></i></a>
            </div>
            <div class="tool-box">
                <div class="set-area">
                    <a class="set" href="javascript:void(0);" onclick="Operations.Save()" title="儲存"><i class="fas fa-save"></i></a>
                </div>
                <div class="tool-list">
                    <a class="set set-close" href="javascript:void(0);" onclick="Operations.EditClose()" title="關閉"><i class="fas fa-times"></i></a>
                </div>
            </div>
        </div>
        <div class="side-nav-header">
            <div class="nav-title">
                <h1>作業模式</h1>
            </div>
        </div>
        <div class="nav-content">
            <div class="main-content">
                <form class="nav-form" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="OperationId" name="OperationId" value="-1" />
                        <input type="hidden" id="PreviousId" name="PreviousId" value="-1" />
                        <input type="hidden" id="NextId" name="NextId" value="-1" />
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboInterfacingId@(itemName)">系統介接設定 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboInterfacingId@(itemName)" name="cboInterfacingId@(itemName)"
                                        data-msg-required="請選擇系統介接設定" data-rule-required="true"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtOperationNo@(itemName)">作業模式代碼 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtOperationNo@(itemName)" name="txtOperationNo@(itemName)" placeholder="請輸入作業模式代碼"
                                       data-msg-maxlength="必須少於 50 個字元" maxlength="50"
                                       data-msg-required="請輸入作業模式代碼" data-rule-required="true" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtOperationName@(itemName)">作業模式名稱 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtOperationName@(itemName)" name="txtOperationName@(itemName)" placeholder="請輸入作業模式名稱"
                                       data-msg-maxlength="必須少於 50 個字元" maxlength="50"
                                       data-msg-required="請輸入作業模式名稱" data-rule-required="true" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>

            <div class="detail-content">
                <div class="datail-title">
                    <h2>作業模式設定</h2>
                </div>

                <div class="datail-box">
                    <div class="detail-box-title">
                        <span>拋轉</span>
                    </div>
                    <form class="nav-form" autocomplete="off" id="editForm@(itemImport)">
                        <fieldset>
                            <div class="form-group row">
                                <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboAuto@(itemImport)">自動 <span class="text-danger">*</span></label>
                                <div class="col-12 col-md-9 col-lg-9">
                                    <select class="form-control" id="cboAuto@(itemImport)" name="cboAuto@(itemImport)"
                                            data-msg-required="請選擇" data-rule-required="true"></select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-md-3 col-lg-3 col-form-label">時間間隔</label>
                                <div class="col-12 col-md-9 col-lg-9 custom-time-selector">
                                    <div class="input-group">
                                        <input type="number" class="form-control" id="txtDayTimeInterval@(itemImport)" name="txtDayTimeInterval@(itemImport)" step="1" min="0" value="0" />
                                        <span class="input-group-addon">天</span>
                                        <input type="number" class="form-control" id="txtHourTimeInterval@(itemImport)" name="txtHourTimeInterval@(itemImport)" step="1" min="0" max="23" value="0" />
                                        <span class="input-group-addon">小時</span>
                                        <input type="number" class="form-control" id="txtMinuteTimeInterval@(itemImport)" name="txtMinuteTimeInterval@(itemImport)" step="1" min="0" max="59" value="0" />
                                        <span class="input-group-addon">分</span>
                                        <input type="number" class="form-control" id="txtSecondTimeInterval@(itemImport)" name="txtSecondTimeInterval@(itemImport)" step="1" min="0" max="59" value="0" />
                                        <span class="input-group-addon">秒</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboExecuteMode@(itemImport)">執行方式 <span class="text-danger">*</span></label>
                                <div class="col-12 col-md-9 col-lg-9">
                                    <select class="form-control" id="cboExecuteMode@(itemImport)" name="cboExecuteMode@(itemImport)"
                                            data-msg-required="請選擇執行方式" data-rule-required="true"></select>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="datail-box">
                    <div class="detail-box-title">
                        <span>同步</span>
                    </div>
                    <form class="nav-form" autocomplete="off" id="editForm@(itemSynchronize)">
                        <fieldset>
                            <div class="form-group row">
                                <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboAuto@(itemSynchronize)">自動 <span class="text-danger">*</span></label>
                                <div class="col-12 col-md-9 col-lg-9">
                                    <select class="form-control" id="cboAuto@(itemSynchronize)" name="cboAuto@(itemSynchronize)"
                                            data-msg-required="請選擇" data-rule-required="true"></select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-md-3 col-lg-3 col-form-label">時間間隔</label>
                                <div class="col-12 col-md-9 col-lg-9 custom-time-selector">
                                    <div class="input-group">
                                        <input type="number" class="form-control" id="txtDayTimeInterval@(itemSynchronize)" name="txtDayTimeInterval@(itemSynchronize)" step="1" min="0" value="0" />
                                        <span class="input-group-addon">天</span>
                                        <input type="number" class="form-control" id="txtHourTimeInterval@(itemSynchronize)" name="txtHourTimeInterval@(itemSynchronize)" step="1" min="0" max="23" value="0" />
                                        <span class="input-group-addon">小時</span>
                                        <input type="number" class="form-control" id="txtMinuteTimeInterval@(itemSynchronize)" name="txtMinuteTimeInterval@(itemSynchronize)" step="1" min="0" max="59" value="0" />
                                        <span class="input-group-addon">分</span>
                                        <input type="number" class="form-control" id="txtSecondTimeInterval@(itemSynchronize)" name="txtSecondTimeInterval@(itemSynchronize)" step="1" min="0" max="59" value="0" />
                                        <span class="input-group-addon">秒</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboExecuteMode@(itemSynchronize)">執行方式 <span class="text-danger">*</span></label>
                                <div class="col-12 col-md-9 col-lg-9">
                                    <select class="form-control" id="cboExecuteMode@(itemSynchronize)" name="cboExecuteMode@(itemSynchronize)"
                                            data-msg-required="請選擇執行方式" data-rule-required="true"></select>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";
        let json@(itemName) = {
            InterfacingId: -1,
            OperationNo: "",
            OperationName: "",
            Import: {},
            Synchronize: {}
        };

        let Operations = new OperationControl@(itemName)();

        $(document).ready(function () {
            ComboBoxs.Default("#cboCompanyIdQ@(itemName)", "@Url.Action("GetCompany", "BasicInformation")", { "Status": "A" }, "", "ALL", "", "CompanyWithNo", "CompanyId");
            ComboBoxs.Default("#cboInterfacingIdQ@(itemName)", "@Url.Action("GetInterfacing", "SystemInterfacing")", {}, "", "ALL", "", "InterfacingName", "InterfacingId");

            $("#cboCompanyIdQ@(itemName), #cboInterfacingIdQ@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });

            $("#cboCompanyIdQ@(itemName)").change(function () {
                ComboBoxs.Default("#cboInterfacingIdQ@(itemName)", "@Url.Action("GetInterfacing", "SystemInterfacing")", { "CompanyId": $("#cboCompanyIdQ@(itemName)").val() }, "", "ALL", "", "InterfacingName", "InterfacingId");
            });

            Query@(itemName)();
        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let targetUrl = "@Url.Action("GetOperation", "SystemInterfacing")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "CompanyId": $("#cboCompanyIdQ@(itemName)").val(),
                "InterfacingId": $("#cboInterfacingIdQ@(itemName)").val(),
                "OperationNo": $("#txtOperationNoQ@(itemName)").val(),
                "OperationName": $("#txtOperationNameQ@(itemName)").val(),
                "Status": $("input[name='cbxStatusQ@(itemName)']:checked").toArray().map(item => item.value).join()
            };
            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr data-operation-id="${item.OperationId}" data-previous="${item.PreviousId}" data-next="${item.NextId}">
                                        <td>${_row}</td>
                                        <td>${(item.LogoIcon == -1 ? `` : `<img class="company-logo" src="/Web/GetFile?fileId=${item.LogoIcon}" />`)}${item.CompanyName}</td>
                                        <td>${item.InterfacingTypeName}</td>
                                        <td>${item.OperationNo} ${item.OperationName}</td>
                                        <td class="text-center active-content">
                                          <div class="btn-group mb-4 show" style="margin-bottom: 0 !important; position: static;">
                                            <button type="button" class="btn btn-primary dropdown-toggle" data-operation-id="${item.OperationId}" style="padding-top: 0; padding-bottom: 0;">動作</button>
                                            <div class="dropdown-menu btn-text-left-block" data-operation-id="${item.OperationId}" style="overflow-y: auto; z-index: 999; max-height: 150px;">
                                              <a class="dropdown-item btn-text-left auth-update" href="javascript:Edit@(itemName)(${item.OperationId});"><i class="fas fa-edit"></i>修改</a>
                                            </div>
                                          </div>
                                        </td>
                                        <td class="text-center auth-status-switch">
                                          <input type="checkbox" name="chkStatus@(itemName)" data-operation-id="${item.OperationId}" ${(item.Status == `A` ? `checked` : ``)} />
                                        </td>
                                        <td class="text-center un-auth auth-status-switch"><span class="stack-title">狀態</span>${item.StatusName}</td>
                                        <td style="padding: 0;">
                                          <table class="table table-bordered table-sm mb-0 table-non-rwd table-striped-custom table-row-detail">
                                            <tbody>
                                              <tr>
                                                <th style="width: 75px;">拋轉</th>
                                                <td style="width: 100px;">${item.AutoImportName}</td>
                                                <td style="width: 150px;">${TimeTransform(item.ImportTimeInterval)}</td>
                                                <td style="width: 100px;">${item.ImportExecuteModeName}</td>
                                              </tr>
                                              <tr>
                                                <th style="width: 75px;">同步</th>
                                                <td style="width: 100px;">${item.AutoSynchronizeName}</td>
                                                <td style="width: 150px;">${TimeTransform(item.SynchronizeTimeInterval)}</td>
                                                <td style="width: 100px;">${item.SynchronizeExecuteModeName}</td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="7" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

            $("input[name='chkStatus@(itemName)']").bootstrapToggle({
                on: "啟用",
                off: "停用",
                onstyle: "success",
                offstyle: "danger",
                size: "mini"
            });

            $("input[name='chkStatus@(itemName)'][data-operation-id]").change(function () {
                Operations.StatusSwitch($(this).data("operation-id"));
            });

            $(".dropdown-toggle").off("click").on("click", function () {
                let operationId = $(this).data("operation-id");

                if ($(`.dropdown-menu[data-operation-id='${operationId}']`).hasClass("show")) {
                    $(".dropdown-menu").removeClass("show");
                } else {
                    $(".dropdown-menu").removeClass("show");

                    $(`.dropdown-menu[data-operation-id='${operationId}']`).addClass("show");
                    $(`.dropdown-menu[data-operation-id='${operationId}']`).css({
                        top: `${$(this).position().top + $(this).height() + 5}px`,
                        left: `${$(this).position().left - $(this).width() + 38}px`
                    });
                }
            });

            $("body").off("click").on("click", function (e) {
                if ($(".dropdown-menu").hasClass("show")) {
                    if (!$(e.target).hasClass("dropdown-toggle")
                        && !$(e.target).parents().hasClass("dropdown-toggle")) {
                        $(".dropdown-menu").removeClass("show");
                    }
                }
            });
        }

        function Edit@(itemName)(OperationId) {
            $("tr[data-operation-id]").removeClass("data-selected");

            json@(itemName) = {
                InterfacingId: -1,
                OperationNo: "",
                OperationName: "",
                Import: {},
                Synchronize: {}
            };

            $("#OperationId").val(OperationId ? OperationId : 0);
            $("#PreviousId").val(0);
            $("#NextId").val(0);

            $(objForm@(itemName) + " fieldset").attr("disabled", false);
            $(objForm@(itemName) + " select").attr("disabled", false);

            $("#editData@(itemName)").addClass("active");

            ComboBoxs.Default("#cboInterfacingId@(itemName)", "@Url.Action("GetInterfacing", "SystemInterfacing")", {}, "", "NA", "", "InterfacingName", "InterfacingId");
            ComboBoxs.Default("#cboAuto@(itemImport)", "@Url.Action("GetStatus", "BasicInformation")", { "StatusSchema": "Boolean" }, "", "NA", "", "StatusName", "StatusNo");
            ComboBoxs.Default("#cboExecuteMode@(itemImport)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "OperationSetting.ExecuteMode" }, "L", "NA", "", "TypeName", "TypeNo");
            ComboBoxs.Default("#cboAuto@(itemSynchronize)", "@Url.Action("GetStatus", "BasicInformation")", { "StatusSchema": "Boolean" }, "", "NA", "", "StatusName", "StatusNo");
            ComboBoxs.Default("#cboExecuteMode@(itemSynchronize)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "OperationSetting.ExecuteMode" }, "L", "NA", "", "TypeName", "TypeNo");

            $("#editForm@(itemName) .form-control").off("change").on("change", function () {
                json@(itemName).InterfacingId = $("#cboInterfacingId@(itemName)").val();
                json@(itemName).OperationNo = $("#txtOperationNo@(itemName)").val();
                json@(itemName).OperationName = $("#txtOperationName@(itemName)").val();
            });

            $("#editForm@(itemImport) .form-control").off("change").on("change", function () {
                let days = parseInt($("#txtDayTimeInterval@(itemImport)").val()) * 24 * 60 * 60;
                let hours = parseInt($("#txtHourTimeInterval@(itemImport)").val()) * 60 * 60;
                let minutes = parseInt($("#txtMinuteTimeInterval@(itemImport)").val()) * 60;
                let seconds = parseInt($("#txtSecondTimeInterval@(itemImport)").val());
                let timeInterval = days + hours + minutes + seconds;

                json@(itemName).Import.Auto = $("#cboAuto@(itemImport)").val();
                json@(itemName).Import.TimeInterval = timeInterval;
                json@(itemName).Import.ExecuteMode = $("#cboExecuteMode@(itemImport)").val();
            });

            $("#editForm@(itemSynchronize) .form-control").off("change").on("change", function () {
                let days = parseInt($("#txtDayTimeInterval@(itemSynchronize)").val()) * 24 * 60 * 60;
                let hours = parseInt($("#txtHourTimeInterval@(itemSynchronize)").val()) * 60 * 60;
                let minutes = parseInt($("#txtMinuteTimeInterval@(itemSynchronize)").val()) * 60;
                let seconds = parseInt($("#txtSecondTimeInterval@(itemSynchronize)").val());
                let timeInterval = days + hours + minutes + seconds;

                json@(itemName).Synchronize.Auto = $("#cboAuto@(itemSynchronize)").val();
                json@(itemName).Synchronize.TimeInterval = timeInterval;
                json@(itemName).Synchronize.ExecuteMode = $("#cboExecuteMode@(itemSynchronize)").val();
            });

            $("#cboInterfacingId@(itemName), #cboAuto@(itemImport), #cboExecuteMode@(itemImport), #cboAuto@(itemSynchronize), #cboExecuteMode@(itemSynchronize)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });

            if (OperationId > 0) {
                let targetUrl = "@Url.Action("GetOperation", "SystemInterfacing")";
                let postData = {
                    "OperationId": OperationId
                };
                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        $("#PreviousId").val($(`tr[data-operation-id="${OperationId}"]`).data("previous"));
                        $("#NextId").val($(`tr[data-operation-id="${OperationId}"]`).data("next"));

                        $("#cboInterfacingId@(itemName)").val(item.InterfacingId).trigger("change.select2");
                        $("#txtOperationNo@(itemName)").val(item.OperationNo);
                        $("#txtOperationName@(itemName)").val(item.OperationName);
                        $("#cboAuto@(itemImport)").val(item.AutoImport).trigger('change.select2');
                        $("#cboExecuteMode@(itemImport)").val(item.ImportExecuteMode).trigger('change.select2');
                        $("#cboAuto@(itemSynchronize)").val(item.AutoSynchronize).trigger('change.select2');
                        $("#cboExecuteMode@(itemSynchronize)").val(item.SynchronizeExecuteMode).trigger('change.select2');

                        json@(itemName).InterfacingId = item.InterfacingId;
                        json@(itemName).OperationNo = item.OperationNo;
                        json@(itemName).OperationName = item.OperationName;
                        json@(itemName).Import.Auto = item.AutoImport;
                        json@(itemName).Import.TimeInterval = item.ImportTimeInterval;
                        json@(itemName).Import.ExecuteMode = item.ImportExecuteMode;
                        json@(itemName).Synchronize.Auto = item.AutoSynchronize;
                        json@(itemName).Synchronize.TimeInterval = item.SynchronizeTimeInterval;
                        json@(itemName).Synchronize.ExecuteMode = item.SynchronizeExecuteMode;

                        let timeInterval = parseInt(item.ImportTimeInterval);
                        let days = parseInt(timeInterval / 60 / 60 / 24);
                        let hours = parseInt(timeInterval / (60 * 60) % 24);
                        let minutes = parseInt(timeInterval / 60 % 60);
                        let seconds = parseInt(timeInterval % 60);

                        $("#txtDayTimeInterval@(itemImport)").val(days);
                        $("#txtHourTimeInterval@(itemImport)").val(hours);
                        $("#txtMinuteTimeInterval@(itemImport)").val(minutes);
                        $("#txtSecondTimeInterval@(itemImport)").val(seconds);

                        timeInterval = parseInt(item.SynchronizeTimeInterval);
                        days = parseInt(timeInterval / 60 / 60 / 24);
                        hours = parseInt(timeInterval / (60 * 60) % 24);
                        minutes = parseInt(timeInterval / 60 % 60);
                        seconds = parseInt(timeInterval % 60);

                        $("#txtDayTimeInterval@(itemSynchronize)").val(days);
                        $("#txtHourTimeInterval@(itemSynchronize)").val(hours);
                        $("#txtMinuteTimeInterval@(itemSynchronize)").val(minutes);
                        $("#txtSecondTimeInterval@(itemSynchronize)").val(seconds);

                        $(`tr[data-operation-id="${OperationId}"]`).addClass("data-selected");
                    });
                } else {
                    alert(data.msg, "alert", 0);
                }
            }
        }

        function OperationControl@(itemName)() {
            addMethod(this, "StatusSwitch", function (OperationId) {
                let targetUrl = "@Url.Action("UpdateOperationStatus", "SystemInterfacing")";
                let postData = {
                    "OperationId": OperationId
                };

                let result = DataAccess.Update(targetUrl, postData, false, true);

                if (result) {
                    Query@(itemName)();
                }
            });

            addMethod(this, "Previous", function () {
                let PreviousId = parseInt($("#PreviousId").val());

                if (PreviousId > 0) {
                    Edit@(itemName)(PreviousId);
                } else {
                    alert("已是第一筆資料!");
                }
            });

            addMethod(this, "Next", function () {
                let NextId = parseInt($("#NextId").val());

                if (NextId > 0) {
                    Edit@(itemName)(NextId);
                } else {
                    alert("已是最後一筆資料!");
                }
            });

            addMethod(this, "Save", function () {
                let formValid = [];
                formValid.push($(objForm@(itemName)).valid());
                formValid.push($("#editForm@(itemImport)").valid());
                formValid.push($("#editForm@(itemSynchronize)").valid());

                if (formValid.indexOf(false) == -1) {
                    let OperationId = parseInt($("#OperationId").val());

                    if (OperationId <= 0) {
                        let targetUrl = "@Url.Action("AddOperation", "SystemInterfacing")";
                        let postData = {
                            "OperationJson": JSON.stringify(json@(itemName))
                        };
                        let result = DataAccess.Add(targetUrl, postData, false, true);

                        if (result) {
                            Operations.EditClose();
                        }
                    } else {
                        let targetUrl = "@Url.Action("UpdateOperation", "SystemInterfacing")";
                        let postData = {
                            "OperationId": OperationId,
                            "OperationJson": JSON.stringify(json@(itemName))
                        };

                        let result = DataAccess.Update(targetUrl, postData, false, true);

                        if (result) {
                            Operations.EditClose();
                        }
                    }
                }
            });

            addMethod(this, "EditClose", function () {
                ResetForm(objForm@(itemName));
                $("#editData@(itemName)").removeClass("active");
                Query@(itemName)();
            });
        }
    </script>
)