
@using Business_Manager.Helpers
@{
    string itemName = "OutsideIdentificationTag";
    string itemNameText = "中潤箱號標籤";
    string authority = ViewBag.authority;
}

<div class="row" id="editData@(itemName)">
    <input type="hidden" id="QcNoticeId" name="QcNoticeId" value="-1" />
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container" autocomplete="off" id="editForm@(itemName)">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group row">
                                <label class="form-label col-12" for="txtPrinter@(itemName)">選擇標籤機<span class="text-danger">*</span></label>
                                <div class="col-12">
                                    <select class="form-control" id="cboPrinter@(itemName)" name="cboPrinter@(itemName)"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group row">
                                <label class="form-label col-12" for="txtLotBarcodeNo@(itemName)">批號<span class="text-danger">*</span></label>
                                <div class="col-12">
                                    <input type="text" class="form-control" id="txtLotBarcodeNo@(itemName)"
                                           placeholder="請輸入批號" daat-rule-required="true" onkeyup="this.value=this.value.replace(/[, ]/g,'')"  />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="Cust">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group row">
                                <label class="form-label col-12" for="txtCustNo@(itemName)">客戶品號</label>
                                <div class="col-12">
                                    <input type="text" class="form-control" id="txtCustNo@(itemName)"
                                           placeholder="請輸入品號" daat-rule-required="true" onkeyup="this.value=this.value.replace(/[, ]/g,'')"  />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group row">
                                <label class="form-label col-12" for="txtCustName@(itemName)">客戶品名</label>
                                <div class="col-12">
                                    <input type="text" class="form-control" id="txtCustName@(itemName)"
                                           placeholder="請輸入品名" daat-rule-required="true" onkeyup="this.value=this.value.replace(/[, ]/g,'')"  />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group row">
                                <label class="form-label col-12" for="txtCustomerNo@(itemName)">供應商代碼</label>
                                <div class="col-12">
                                    <input type="text" class="form-control" id="txtCustomerNo@(itemName)"
                                           placeholder="請輸入供應商代碼" daat-rule-required="true" onkeyup="this.value=this.value.replace(/[, ]/g,'')"  />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="TagInfo">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group row">
                                <label class="form-label col-12" for="txtWarehouse@(itemName)">供應商名稱</label>
                                <div class="col-12">
                                    <input type="text" class="form-control" id="txtWarehouse@(itemName)"
                                           placeholder="請輸入供應商名稱" daat-rule-required="true" onkeyup="this.value=this.value.replace(/[, ]/g,'')"  />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group row">
                                <label class="form-label col-12" for="txtTagDate@(itemName)">出貨批次</label>
                                <div class="col-12">                                    
                                    <input type="text" class="form-control" id="txtTagDate@(itemName)" name="txtTagDate@(itemName)"
                                           data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                           readonly />                            
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group row">
                                <label class="form-label col-12" for="txtQaStatus@(itemName)">品質狀態</label>
                                <div class="col-12">
                                    <input type="text" class="form-control" id="txtQaStatus@(itemName)"
                                           placeholder="請輸入品質狀態" daat-rule-required="true" onkeyup="this.value=this.value.replace(/[, ]/g,'')"  />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group row">
                                <label class="form-label col-12" for="txtBoxSum@(itemName)">箱數</label>
                                <div class="col-12">
                                    <input type="text" class="form-control" id="txtBoxSum@(itemName)"
                                           placeholder="請輸入箱數" daat-rule-required="true" onkeyup="this.value=this.value.replace(/[, ]/g,'')"  />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group row">
                                <label class="form-label col-12" for="txtBoxCount@(itemName)">本箱箱數</label>
                                <div class="col-12">
                                    <input type="text" class="form-control" id="txtBoxCount@(itemName)"
                                           placeholder="請輸入本箱箱數" daat-rule-required="true" onkeyup="this.value=this.value.replace(/[, ]/g,'')"  />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group row">
                                <label class="form-label col-12" for="txtBook@(itemName)">版本號</label>
                                <div class="col-12">
                                    <input type="text" class="form-control" id="txtBook@(itemName)"
                                           placeholder="請輸入版本號" daat-rule-required="true" onkeyup="this.value=this.value.replace(/[, ]/g,'')" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group row">
                                <label class="form-label col-12" for="txtRemark@(itemName)">備註</label>
                                <div class="col-12">
                                    <input type="text" class="form-control" id="txtRemark@(itemName)"
                                           placeholder="請輸入備註" daat-rule-required="true" onkeyup="this.value=this.value.replace(/[, ]/g,'')" />
                                </div>
                            </div>
                        </div>
                    </div>                    
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button id="Print@(itemName)" type="button" class="btn btn-success" onclick="Print@(itemName)()"><i class="fas fa-save"></i>列印</button>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
@<script>
    $(document).ready(function () {
        if (!isMobile) {
            $("#cboWarehouse@(itemName)").select2({
                width: "100%"
            });
        }
        ComboBoxs.Default("#cboPrinter@(itemName)", "@Url.Action("GetLabelPrintMachine", "PrintLabel")", {}, "", "ALL", "", "LabelPrintName", "LabelPrintNo"); 

        let currentDate = new Date();
        Suites.DateDropper("#txtTagDate@(itemName)");
        Suites.SetDateDropper("#txtTagDate@(itemName)", currentDate);    
    });

    $("#txtBarcodeNo@(itemName)").change(function () {
        let targetUrl = "@Url.Action("GetErpCustData", "PrintLabel")";
        let postData = {
            "BarcodeNo": $("#txtBarcodeNo@(itemName)").val()
        };
        let data = DataAccess.Get(targetUrl, postData, false);
        if (data.status == "success") {
            $.each(data.result, function (i, item) {
                $("#txtCustNo@(itemName)").val(item.MG003);
                $("#txtCustName@(itemName)").val(item.MG005);
                $("#txtCustomerNo@(itemName)").val(item.MG001);
            });
        } else {
            alert(data.msg, "alert", 0);
        }

        targetUrl = "@Url.Action("GetLabelCompany", "PrintLabel")";
        postData = {
            "CompanyId": -1
        };
        data = DataAccess.Get(targetUrl, postData, false);
        if (data.status == "success") {
            $.each(data.result, function (i, item) {
                $("#txtWarehouse@(itemName)").val(item.CompanyName);
            });
        } else {
            alert(data.msg, "alert", 0);
        }
    });

    function Print@(itemName)() {
        let targetUrl = "@Url.Action("PrintQcNoticeNo", "PrintLabel")";
        let postData = {
            "Company": $("#txtWarehouse@(itemName)").val(),
            "CustomerMtlNo": $("#txtCustNo@(itemName)").val(),
            "CustomerMtlName": $("#txtCustName@(itemName)").val(),
            "date": $("#cboWarehouse@(itemName)").val(),
            "Status": $("#cboWorkStage@(itemName)").val(),
            "Box": $("#cboWorkStage@(itemName)").val(),
            "BoxCount": $("#cboWorkStage@(itemName)").val(),
            "Book": $("#cboWorkStage@(itemName)").val(),
            "Remark": $("#cboWorkStage@(itemName)").val(),
            "Context": $("#cboWorkStage@(itemName)").val()
        };
        FileAccess.AjaxDownload(targetUrl, postData, false);
    }
</script>
        )

