@using Business_Manager.Helpers
@{
    string itemName = "QcMeasureMentTracking";
    string itemNameText = "品質管理數據追蹤";
    string authority = ViewBag.authority;
    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>

    </style>
                                                                                                        )

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
    </div>
</div>

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <div class="col-6">
                                <label class="container">量測類型<span class="text-danger">*</span></label>
                                <select class="form-control" id="cboQcTypeQ@(itemName)" name="cboQcTypeQ@(itemName)" placeholder="量測類型"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-6">
                                <label class="container">量測日期-起<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="txtStartDateQ@(itemName)" name="txtStartDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                            <div class="col-6">
                                <label class="container">量測日期-迄<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="txtEndDateQ@(itemName)" name="txtEndDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-6">
                                <label class="container">品號<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="txtMtlItemNoQ@(itemName)" name="txtMtlItemNoQ@(itemName)"
                                       data-msg-extraRegex="請輸入品號" placeholder="請輸入品號" />
                            </div>
                            <div class="col-6">
                                <label class="container">品名<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="txtMtlItemNameQ@(itemName)" name="txtMtlItemNameQ@(itemName)"
                                       data-msg-extraRegex="請輸入品名" placeholder="請輸入品名" />
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalUploadExcel@(itemName)">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">上傳數據(Excel)</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container custom-form-container" autocomplete="off" id="uploadExcelForm@(itemName)">
                    <fieldset>
                        <div class="form-group row text-right">
                            <div class="col-12">
                                <label class="col-form-label" for="chkDataType@(itemName)">數據狀態</label>
                                <input type="checkbox" name="chkDataType@(itemName)" checked />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-6">
                                <label class="container">量測類型<span class="text-danger">*</span></label>
                                <select class="form-control" id="cboQcType@(itemName)" name="cboQcType@(itemName)" placeholder="量測類型"></select>
                            </div>
                            <div class="col-6">
                                <label class="container">生產模式<span class="text-danger">*</span></label>
                                <select class="form-control" id="cboProdMode@(itemName)" name="cboProdMode@(itemName)" placeholder="生產模式"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12 col-md-12 col-lg-12">
                                <input type="file" accept=".xlsx" id="fileUploadFile@(itemName)" name="fileUploadFile@(itemName)" />
                                <input type="hidden" id="txtUploadFile@(itemName)" name="txtUploadFile@(itemName)" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-success" onclick="javascript:UploadFile@(itemName)()"><i class="fas fa-save"></i>上傳</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);">
                            <i class="fal fa-search"></i>搜尋
                        </a>
                    </div>
                    @*<div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn btn-info auth-add" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalUploadExcel@(itemName)" href="javascript:void(0);">
                            <i class="fal fa-search"></i>上傳EXCEL
                        </a>
                    </div>*@
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom customization">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 50px;">#</th>
                                        <th scope="col" style="min-width: 100px;">項目編號</th>
                                        <th scope="col" style="min-width: 50px;">球標</th>
                                        <th scope="col" style="min-width: 150px;">項目名稱</th>
                                        <th scope="col" style="min-width: 200px;">項目別稱</th>
                                        <th scope="col" style="min-width: 100px;">設計值</th>
                                        <th scope="col" style="min-width: 100px;">上公差</th>
                                        <th scope="col" style="min-width: 100px;">下公差</th>
                                        <th scope="col" style="min-width: 300px;">量測儀器</th>
                                        <th scope="col" style="min-width: 100px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 999
        };

        let chkDataType@(itemName) = 'original'; //數據上傳預設的模式

        $(document).ready(function () {
            let currentDate = new Date();
            Suites.DatePicker("txtEndDateQ@(itemName)", currentDate);
            currentDate.setDate(currentDate.getDate() - 7);
            Suites.DatePicker("txtStartDateQ@(itemName)", currentDate);

            ComboBoxs.Default("#cboQcTypeQ@(itemName)", "@Url.Action("GetQcType", "QcAnalysisTools")", {}, "", "NA", "", "QcTypeName", "QcTypeNo");

            $("#cboQcTypeQ@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });

            $("input[name='chkDataType@(itemName)']").bootstrapToggle({
                on: "原始的",
                off: "修改後",
                onstyle: "success",
                offstyle: "info",
                size: "mini",
                width: "70px",
                height: "20px"
            });

            $("input[name='chkDataType@(itemName)']").off("change").on("change", function () {
                switch (this.checked) {
                    case false:
                        chkDataType@(itemName) = "original";
                        break;
                    case true:
                        chkDataType@(itemName) = "modify";
                        break;
                }
            });
        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            let innerHtml = '';
            let MtlItemNo = $("#txtMtlItemNoQ@(itemName)").val();
            let MtlItemName = $("#txtMtlItemNameQ@(itemName)").val();
            let CustMtlItemNo = $("#txtCustMtlItemNoQ@(itemName)").val();
            let CustMtlItemName = $("#txtCustMtlItemNameQ@(itemName)").val();
            let StartDate = $("#txtStartDateQ@(itemName)").val();
            let EndDate = $("#txtEndDateQ@(itemName)").val();
            let QcType = $("#cboQcTypeQ@(itemName)").val();

            let targetUrl = "@Url.Action("GetQcMeasureDataQcItem", "QcAnalysisTools")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage@(itemName).pageIndex + 1),
                "PageSize": objPage@(itemName).pageSize,
                "StartDate": StartDate,
                "EndDate": EndDate,
                "MtlItemNo": MtlItemNo,
                "MtlItemName": MtlItemName,
                "CustMtlItemNo": CustMtlItemNo,
                "CustMtlItemName": CustMtlItemName,
                "QcType": QcType
            };

            let data = DataAccess.Get(targetUrl, postData, false);
            
            if (data.status == "success") {
                if (data.result != "") {
                    console.log(data);
                    $.each(data.result, function (i, item) {
                        let _row = (i + 1) + ".";

                        innerHtml += `<tr>
                                        <td style="max-width: 75px;">${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.QcItemNo}" style="max-width: 100px;">${item.QcItemNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.BallMark}" style="max-width: 50px;">${item.BallMark}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.QcItemName}" style="max-width: 150px;">${item.QcItemName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.QcItemDesc}" style="max-width: 200px;">${item.QcItemDesc}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DesignValue}" style="max-width: 80px;">${item.DesignValue}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.UpperTolerance}" style="max-width: 80px;">${item.UpperTolerance}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.LowerTolerance}" style="max-width: 80px;">${item.LowerTolerance}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.QmmMachine}" style="max-width: 300px;">${item.QmmMachine}</td>
                                        <td class="text-center active-content" style="min-width: 100px;">
                                            <a class="active-link"  href="@Url.Action("ViewQcAnalysisSPC", "QcAnalysisTools")?QcItemId=${item.QcItemId}&MtlItemNo=${MtlItemNo}&MtlItemName=${MtlItemName}&StartDate=${StartDate}&EndDate=${EndDate}&CustMtlItemNo=${CustMtlItemNo}&CustMtlItemName=${CustMtlItemName}&QcType=${QcType}&DesignValue=${item.DesignValue}" target="_blank">
                                            <i class="fas fa-list-ul"></i> 查看詳細資料
                                            </a>
                                        </td>
                                    </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                <td class="text-center" colspan="10" style="background-color: #fff3cd;">
                                    <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                </td>
                                </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }
            $("#tblData@(itemName) tbody").html(innerHtml);
            $("#modalQuery@(itemName)").modal("hide");
            TableComponentInit();
        }

        let FileJson@(itemName) = {
            FileInfo: []
        };

        $(document).ready(function () {
            let currentDate = new Date();
            Suites.DatePicker("txtEndDateQ@(itemName)", currentDate);
            currentDate.setDate(currentDate.getDate() - 7);
            Suites.DatePicker("txtStartDateQ@(itemName)", currentDate);
        
            let uploadConfigFile = {
                fileSelector: "#fileUploadFile@(itemName)",
                targetSelector: "#txtUploadFile@(itemName)",
                required: false,
                uploadPath: "/QcReportDA/QcDeliveryReportModify",
                maxFileCount: 1,
                defaultFile: $("#txtUploadFile@(itemName)").val()
            };
            Suites.FileUpload(uploadConfigFile);
        });
        $("#cboProdMode@(itemName)").change(function (e) {
            console.log($("#cboProdMode@(itemName)").val());
        });

        function UploadFileJson@(itemName)() {

            let fileIdList = $("#txtUploadFile@(itemName)").val();

            if (fileIdList == "") {
                return false;
            }

            let targetUrl = "@Url.Action("GetFileInfo", "QcDataManagement")";
            let postData = {
                "FileIdList": fileIdList
            };
            let data = DataAccess.Get(targetUrl, postData, false);
            if (data.status == "success") {
                if (data.result.length > 0) {
                    $.each(data.result, function (i, item) {

                        let inputFileInfo =
                        {
                            "FileId": item.FileId,
                            "FileFullName": item.FileFullName
                        };
                        console.log(inputFileInfo);
                        FileJson@(itemName).FileInfo.push(inputFileInfo);
                    });
                }
            }
        }
    </script>
)
