@using Business_Manager.Helpers
@{
    string itemName = "PMDOrderManagement";
    string itemNameText = "PMD訂單進度表";
    string authority = ViewBag.authority;
    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
         .rowBottom {
             margin-bottom: 0;
         }
    </style>
                                                                                                )

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

@*<div class="modal fade" id="modalSend@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">寄信設定</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body" style="max-height: 60vh; overflow: scroll;">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">寄送客戶</label>
                            <div class="col-12">
                                <select class="form-control" id="cboSendCustomer@(itemName)" name="cboSendCustomer@(itemName)"
                                        data-msg-required="請選擇寄送客戶" data-rule-required="true" multiple></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">寄送報表</label>
                            <div class="col-12">
                                <select class="form-control" id="cboSendExcel@(itemName)" name="cboSendExcel@(itemName)"
                                        data-msg-required="請選擇寄送報表" data-rule-required="true"></select>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="SynchronizePMD@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>寄出</button>
            </div>
        </div>
    </div>
</div>*@


<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                    <h5 class="modal-title" id="currenPageEditer@(itemName)">當前頁面</h5>

                <div class="row mb-3">
                    <div class=" col-6 col-sm-6 col-md-6">
                        @*<a class="btn btn-success" href="javascript:PopSendView@(itemName)();"><i class="fas fa-paper-plane"></i>寄送信件</a>*@
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">

                        <a class="btn btn-outline-danger" href="javascript:Unlock@(itemName)();"><i class="fas fa-lock-open"></i>解除鎖定</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                    </div>
                </div>
            </div>
            </div>
    </div>
</div>

<div class="advanced-block">
    <div class="row">
        <div class="col-12">
            <ul class="nav flag-tabs nav-fill" role="tablist">
                <li class="flag-item">
                    <a class="flag-link active" data-toggle="tab" href="#tabViewPMDOrder1">
                        <i class="fas fa-computer-classic"></i> 模芯衬装配件
                    </a>
                </li>
                <li class="flag-item">
                    <a class="flag-link" data-toggle="tab" href="#tabViewPMDOrder2">
                        <i class="fas fa-code-branch"></i> 精定位订单明细
                    </a>
                </li>
                <li class="flag-item ">
                    <a class="flag-link" data-toggle="tab" href="#tabViewPMDOrder3">
                        <i class="fas fa-code-branch"></i> 粗胚模架
                    </a>
                </li>
                <li class="flag-item ">
                    <a class="flag-link" data-toggle="tab" href="#tabViewPMDOrder4">
                        <i class="fas fa-code-branch"></i> 退货模芯衬装
                    </a>
                </li>
                <li class="flag-item ">
                    <a class="flag-link" data-toggle="tab" href="#tabViewPMDOrder5">
                        <i class="fas fa-code-branch"></i> 精定位退货明细
                    </a>
                </li>

            </ul>
        </div>
    </div>
    <div class="tab-content">

        <div class="tab-pane  active" id="tabViewPMDOrder1">
            @Html.Partial("ViewPMDOrder1")
        </div>
        <div class="tab-pane " id="tabViewPMDOrder2">
            @Html.Partial("ViewPMDOrder2")
        </div>
        <div class="tab-pane " id="tabViewPMDOrder3">
            @Html.Partial("ViewPMDOrder3")
        </div>
        <div class="tab-pane " id="tabViewPMDOrder4">
            @Html.Partial("ViewPMDOrder4")
        </div>
        <div class="tab-pane " id="tabViewPMDOrder5">
            @Html.Partial("ViewPMDOrder5")
        </div>
    </div>
</div>

@*@Html.Partial("ViewPMDOrder1")
    @Html.Partial("ViewPMDOrder2")
    @Html.Partial("ViewPMDOrder3")
    @Html.Partial("ViewPMDOrder4")
    @Html.Partial("ViewPMDOrder5")*@


@Html.Resource("js",
    @<script>
        let userId@(itemName);
        let companyId@(itemName);
        let lockBy@(itemName);
        let isLocked@(itemName);
        let ToviewName@(itemName);
        let lockByName@(itemName);
        let TomatchName@(itemName);
        //"Companys": $("#cboCompanys@(itemName)").val().join(",")


        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        $(document).ready(function () {
            GetUserInfo@(itemName)();
            GetCurrentEdit@(itemName)("ViewPMDOrder1")
            $('.advanced-block').show();
            Query@(itemName)();

            if (!isMobile) {
                $("#cboSendCustomer@(itemName), #cboSendExcel@(itemName)").select2({
                    width: "100%"
                });
            }
            $('.advanced-block a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                var toTab = $(e.target).attr("href");           // 目前切換到的 tab ID
                var fromTab = $(e.relatedTarget).attr("href");  // 之前的 tab ID

                // 去除開頭的 '#'，取得 id 名稱
                var fromTabId = fromTab.substring(1); // tabViewPMDOrder1
                var Tomatch = toTab.match(/\d+$/);
                var TomatchName = "ViewPMDOrder" + Tomatch[0];

                var ToviewName = $(e.target).text().trim(); // 取得顯示的 tab 名
                ToviewName@(itemName) = ToviewName;
                TomatchName@(itemName) = TomatchName;
                console.log(fromTab, toTab);
                // 用正則擷取數字
                var match = fromTabId.match(/\d+$/); // 擷取 1、2、3...
                if (match) {
                    var viewName = "ViewPMDOrder" + match[0];

                    console.log("對應的上個 PartialView 名稱是: " + viewName);
                    GetCurrentEdit@(itemName)(viewName)

                    if (isLocked@(itemName) == 1 && lockBy@(itemName) == userId@(itemName)) {
                        UpdatePageLock@(itemName)(viewName, 0)

                    }

                }


                InitParameter@(itemName)($(this));
            });

        });

        function Query@(itemName)() {

            //objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            //$("#modalQuery@(itemName)").modal("hide");

            let firstActiveItem = $(".advanced-block .flag-tabs > .flag-item").filter(function () {
                        return $(this).find(".flag-link").hasClass("active");
                    }).first();
                    if (firstActiveItem.length) {
                        let firstActiveLink = firstActiveItem.find("a");
                        InitParameter@(itemName)(firstActiveLink);
                    } else {
                        $(".advanced-block .flag-tabs > .flag-item").first().find("a").trigger("click");
            }

        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

        }

        function Edit@(itemName)(ParameterId) {

        }

        function Save@(itemName)() {

        }

        function Unlock@(itemName)() {
            swal.fire({
                title: "確認要解鎖頁面嗎?",
                text: "請與編輯者: " + lockByName@(itemName) + "，確認該頁面: " + ToviewName@(itemName) + " 資料已維護完畢!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    //ToviewName@(itemName)
                    let targetUrl = "@Url.Action("UpdatePageUnLock", "SaleOrder")";
                    let postData = {
                        "PageNames": TomatchName@(itemName),
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        location.reload();

                        //Query@(itemName)();
                    }
                }
            });
        }

        function Return@(itemName)() {
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName)", "#editData@(itemName), .unit-block, .advanced-block");
            Query@(itemName)();
        }

        function SynchronizePMD@(itemName)() {
            let currentDate = new Date();

            let targetUrl = "@Url.Action("SendPMDOrderExcels", "SaleOrder")";
            let postData = {
                "Company": companyId@(itemName),
                "UpdateDate": currentDate.toISOString(),
                "SendCustomer": $("#cboSendCustomer@(itemName)").val(),
                "SendExcel": $("#cboSendExcel@(itemName)").val(),
            };

            let data = DataAccess.Get(targetUrl, postData, false);
            if (data.status == 'success') {
                alert("寄送成功", "success", 0);
                $("#modalSend@(itemName)").modal('hide');
                location.reload();

            } else {
                alert(data.msg, 'alert', 0);
            }
        }

        function InitParameter@(itemName)(selector) {
            //分頁切換機制
            let initFnString = "Expand";
            let content = selector.attr("href").split('#tab')[1].split('@(itemName)')[0];
            let tabName = selector.clone().children().remove().end().text().trim();
            ToviewName@(itemName) = tabName;
            TomatchName@(itemName) = content;

        
            let Id
            GetUserInfo@(itemName)();
            console.log(888)

            switch (content) {
                case "ViewPMDOrder1":
                    initFnString += "ViewPMDOrder1";
                    break;
                case "ViewPMDOrder2":
                    initFnString += "ViewPMDOrder2";
                    break;
                case "ViewPMDOrder3":
                    initFnString += "ViewPMDOrder3";
                    break;
                case "ViewPMDOrder4":
                    initFnString += "ViewPMDOrder4";
                    break;
                case "ViewPMDOrder5":
                    initFnString += "ViewPMDOrder5";
                    break;
            }
            let initFn = window[initFnString];
            if (initFn && typeof (initFn) == "function") {
                initFn(Id);
                console.log(999)

            }
            GetCurrentEdit@(itemName)(content)
                        //$("#currenPageEditer@(itemName)").html("當前頁面: " + ToviewName@(itemName) + "  當前編輯者: " + lockByName@(itemName) );

        }


        function GetUserInfo@(itemName)() {
            let targetUrl = '@Url.Action("GetLoginByKey", "User")';
            let postData = {
                'UserNo': $.cookie('Login'),
                'KeyText': $.cookie('LoginKey')
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == 'success') {
                userId@(itemName) = data.returnData.UserId;
                companyId@(itemName) = data.returnData.CompanyId;
            } else {
                alert(data.msg, 'alert', 0);
            }
        }

        function GetCurrentEdit@(itemName)(content) {
            let targetUrl = '@Url.Action("GetCurrentEdit", "SaleOrder")';
            let postData = {
                'PageNames': content
            };

            let data = DataAccess.Get(targetUrl, postData, false);
            console.log(55666, data);

            if (data.status == 'success') {
                if (data.result.length > 0) {
                    $.each(data.result, function (i, item) {
                        lockBy@(itemName) = item.LockedBy;
                        isLocked@(itemName) = item.IsLocked;
                        lockByName@(itemName)  = item.UserName;
                        $("#currenPageEditer@(itemName)").html("當前頁面: " + ToviewName@(itemName) + "  當前編輯者: " + lockByName@(itemName) );
                    
                    });

                } else {
                    UpdatePageLock@(itemName)(content, 1);
                }
            } else {
                alert(data.msg, 'alert', 0);
            }

        }

        function UpdatePageLock@(itemName)(pageNames, isLock) {
            let targetUrl = "@Url.Action("UpdatePageLock", "SaleOrder")";
            let postData = {
                "PageNames": pageNames,
                "isLock": isLock
            };

            let data = DataAccess.Update(targetUrl, postData, false, true);

            if (data) {
                //alert("確認成功", "success", 0);
                //InitData@(itemName)();
            }

        }

        function PopSendView@(itemName)() {
            $("#modalSend@(itemName)").modal('show');
            ComboBoxs.Default("#cboSendCustomer@(itemName)", "@Url.Action("GetCustomer", "SaleOrder")", {}, "", "", "請選擇", "CustomerWithNo", "CustomerId");
            ComboBoxs.Default("#cboSendExcel@(itemName)", "@Url.Action("GetPMDPage", "SaleOrder")", {}, "", "", "請選擇", "PageName", "PageNo");
        

        }
    </script>
                                                                                                )