@using Business_Manager.Helpers
@{
    string itemName = "SaleOrderManagement";
    string itemNameText = "訂單資料管理";
    string itemModify = "SoModify";
    string authority = ViewBag.authority;
    string componentName = "ViewSoDetailTemp";
    string popComponentName = "ViewPurchaseOrder";
    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
         .form-group .select2-selection__rendered {
             line-height: 29px !important;
         }

         .form-group .select2-container .select2-selection--single {
             height: 39px !important;
         }

         .form-group .select2-selection__arrow {
             height: 34px !important;
         }

         .table-deposit {
             margin: 0;
             padding: 0;
             max-height: 30vh;
             margin-bottom: .75rem;
             display: none;
         }

             .table-deposit th {
                 background-color: #d7ecfa !important;
             }

             .table-deposit th, .table-deposit td {
                 padding: 5px 0;
                 text-align: center;
             }

         .active-icon {
             background-color: #d7ecfa;
             color: black;
         }

         .table-sticky thead .col-sticky:nth-last-child(1) {
             right: 0;
         }

         .table-sticky tbody .col-sticky:nth-last-child(1) {
             right: 0;
         }
    </style>
)

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboSoErpPrefixQ@(itemName)">單別</label>
                            <div class="col-12">
                                <select class="form-control" id="cboSoErpPrefixQ@(itemName)" name="cboSoErpPrefixQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtSoErpNoQ@(itemName)">單號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtSoErpNoQ@(itemName)" name="txtSoErpNoQ@(itemName)" placeholder="請輸入單號" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboCustomerIdQ@(itemName)">客戶名稱</label>
                            <div class="col-12">
                                <select class="form-control" id="cboCustomerIdQ@(itemName)" name="cboCustomerIdQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboSalesmenIdQ@(itemName)">業務人員</label>
                            <div class="col-12">
                                <select class="form-control" id="cboSalesmenIdQ@(itemName)" name="cboSalesmenIdQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtSearchKeyQ@(itemName)">品號/品名</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtSearchKeyQ@(itemName)" name="txtSearchKeyQ@(itemName)" placeholder="請輸入品號/品名" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">狀態</label>
                            <div class="col-lg-4 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    未確認
                                    <input type="checkbox" id="cbxConfirmStatusQ@(itemName)N" name="cbxConfirmStatusQ@(itemName)" value="N" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    作廢
                                    <input type="checkbox" id="cbxConfirmStatusQ@(itemName)V" name="cbxConfirmStatusQ@(itemName)" value="V" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    已確認
                                    <input type="checkbox" id="cbxConfirmStatusQ@(itemName)Y" name="cbxConfirmStatusQ@(itemName)" value="Y" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6 mt-2">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    未結案
                                    <input type="checkbox" id="cbxClosureStatusQ@(itemName)N" name="cbxClosureStatusQ@(itemName)" value="N" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6 mt-2">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    已結案
                                    <input type="checkbox" id="cbxClosureStatusQ@(itemName)Y" name="cbxClosureStatusQ@(itemName)" value="Y,y" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">單據日期 <input type="checkbox" id="cbxUseDate@(itemName)" /></label>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtStartDateQ@(itemName)" name="txtStartDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtEndDateQ@(itemName)" name="txtEndDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);">
                            <i class="fal fa-search"></i>搜尋
                        </a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn btn-success auth-sync" href="javascript:PopSoSync@(itemName)();"><i class="fas fa-sync"></i>ERP資料同步</a>
                        <a class="btn file-excel auth-excel" href="javascript:Excel@(itemName)();"><i class="fas fa-file-excel"></i>Excel</a>
                        <a class="btn btn-info auth-add" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky tiny-table" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th scope="col" style="min-width: 165px;">單號</th>
                                        <th scope="col" style="min-width: 100px;">單據日期</th>
                                        <th scope="col" style="min-width: 150px;">客戶</th>
                                        <th scope="col" style="min-width: 150px;">業務</th>
                                        <th scope="col" style="min-width: 150px;">BPM拋轉狀態</th>
                                        <th scope="col" style="min-width: 140px;">確認者</th>
                                        <th class="text-center" scope="col" style="min-width: 75px;">操作</th>
                                        <th style="padding: 0; min-width: 1550px;">
                                            <table class="table table-bordered table-sm mb-0 table-non-rwd table-striped-custom table-row-detail">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 75px;">審查文件</th>
                                                        <th style="width: 50px;">流水號</th>
                                                        <th style="min-width: 180px;">品號</th>
                                                        <th style="min-width: 175px;">品名</th>
                                                        <th style="width: 100px;">訂單數量</th>
                                                        <th style="width: 100px;">類型</th>
                                                        <th style="width: 100px;">贈品數量</th>
                                                        <th style="width: 100px;">備品數量</th>
                                                        <th style="width: 100px;">幣別</th>
                                                        <th style="width: 100px;">單價</th>
                                                        <th style="width: 100px;">金額</th>
                                                        <th style="width: 100px;">預計出貨日</th>
                                                        <th style="width: 200px;">備註</th>
                                                        <th style="width: 100px;">狀態</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container custom-form-container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="SoId" name="SoId" value="-1" />
                        <input type="hidden" id="ViewMode" name="ViewMode" value="" />

                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label">訂單 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <div class="input-group">
                                    <select class="form-control" id="cboSoErpPrefix@(itemName)" name="cboSoErpPrefix@(itemName)"
                                            data-msg-required="請選擇訂單單別" data-rule-required="true"></select>
                                    <input type="text" class="form-control" id="txtSoErpNo@(itemName)" name="txtSoErpNo@(itemName)" placeholder="訂單單號"
                                           readonly />
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtDocDate@(itemName)">單據日期 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtDocDate@(itemName)" name="txtDocDate@(itemName)" placeholder="請輸入單據日期"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       data-msg-required="請輸入單據日期" data-rule-required="true"
                                       readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboCustomerId@(itemName)">客戶 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboCustomerId@(itemName)" name="cboCustomerId@(itemName)"
                                        data-msg-required="請選擇客戶" data-rule-required="true"></select>
                                <input type="hidden" id="txtCompanyId@(itemName)" name="txtCompanyId@(itemName)" value="-1" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtCustomerPurchaseOrder@(itemName)">客戶採購單</label>
                            <div class="col-12 col-md-9 col-lg-9 po-control">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="txtCustomerPurchaseOrder@(itemName)" name="txtCustomerPurchaseOrder@(itemName)" placeholder="請輸入客戶採購單"
                                           data-msg-maxlength="必須少於 20 個字元" maxlength="20" />
                                    <div class="input-group-append auth-cust-po">
                                        <button type="button" class="btn btn-success cust-po-item" id="pop-@(componentName)" name="pop-@(componentName)"><i class="fal fa-search"></i></button>
                                        <button type="button" class="btn btn-outline-danger cust-po-item" id="clearCustPo@(itemName)" name="clearCustPo@(itemName)"><i class="fas fa-eraser"></i></button>
                                    </div>
                                </div>
                                <div class="cust-po-item">
                                    <label class="col-form-label auth-cust-po" for="chkPopSelectType@(itemName)">項目選擇模式</label>
                                    <input type="checkbox" name="chkPopSelectType@(itemName)" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label">部門 / 業務 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <div class="input-group">
                                    <select class="form-control" id="cboDepartmentId@(itemName)" name="cboDepartmentId@(itemName)"
                                            data-msg-required="請選擇部門" data-rule-required="true"></select>
                                    <select class="form-control" id="cboSalesmenId@(itemName)" name="cboSalesmenId@(itemName)"
                                            data-msg-required="請選擇業務" data-rule-required="true"></select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboCurrency@(itemName)">幣別<span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9" style="display: flex;">
                                <select class="form-control" id="cboCurrency@(itemName)" name="cboCurrency@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtSoRemark@(itemName)">備註</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <textarea class="form-control" id="txtSoRemark@(itemName)" name="txtSoRemark@(itemName)"
                                          cols="2" data-msg-maxlength="必須少於 255 個字元" maxlength="255"></textarea>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-success read-hide@(itemName)" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

<div class="advanced-block">
    <div class="row">
        <div class="col-12">
            <ul class="nav flag-tabs nav-fill" role="tablist">
                <li class="flag-item">
                    <a class="flag-link" data-toggle="tab" href="#tabSaleOrderDetail">
                        <i class="fas fa-list"></i> 訂單單身
                    </a>
                </li>
                <li class="flag-item default-item auth-cust-po">
                    <a class="flag-link cust-po-item" data-toggle="tab" href="#tabViewSoDetailTemp">
                        <i class="fas fa-list"></i> 採購單匯入
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane" id="tabSaleOrderDetail">
            @Html.Partial("SaleOrderDetail")
        </div>
        <div class="tab-pane" id="tabViewSoDetailTemp">
            @Html.Partial("ViewSoDetailTemp")
        </div>
    </div>
</div>

<input type="hidden" id="txtDocId@(itemName)" name="txtDocId@(itemName)" value="-1" />
<input type="hidden" id="txtAmount@(itemName)" name="txtAmount@(itemName)" value="0" />

<div class="modal fade" id="modalWord@(itemName)">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">訂單單據下載</h5>
                <button class="close" type="button" onclick="CloseWord@(itemName)()">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container custom-form-container" autocomplete="off" id="wordForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label">單據金額</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    不包含
                                    <input type="checkbox" id="cbxNonPrice@(itemName)" name="cbxNonPrice@(itemName)" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn file-word" onclick="Word@(itemName)()"><i class="fas fa-file-word"></i>Word</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalModify@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    訂單資料變更
                    <span class="sub-title">訂單 <span class="sub-text" id="desSoErpFullNo@(itemName)"></span></span>
                </h5>
                <button class="close" type="button" onclick="CloseModify@(itemName)()">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container custom-form-container" autocomplete="off" id="modifyForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label">客戶採購單</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtCustomerPurchaseOrder@(itemModify)" name="txtCustomerPurchaseOrder@(itemModify)" placeholder="請輸入客戶採購單" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label">單頭備註</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <textarea class="form-control" id="txtSoRemark@(itemModify)" name="txtSoRemark@(itemModify)"
                                          cols="2" data-msg-maxlength="必須少於 255 個字元" maxlength="255"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label">訂金分批</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    是
                                    <input type="checkbox" id="cbxDepositPartial@(itemModify)" name="cbxDepositPartial@(itemModify)" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="table-custom table-deposit">
                                    <table class="table" id="tblDepositRate@(itemModify)">
                                        <thead>
                                            <tr>
                                                <th scope="col" style="width: 15%;">序號</th>
                                                <th scope="col" style="width: 27%;">訂金比率</th>
                                                <th scope="col" style="width: 25%;">訂金金額</th>
                                                <th scope="col" style="width: 20%;">預計收款日</th>
                                                <th scope="col" style="width: 13%;">
                                                    操作
                                                    <a class="active-icon" href="javascript:DepositAdd@(itemName)();"><i class="fas fa-plus"></i></a>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                        <tfoot id="editDeposit@(itemModify)" style="display: none;">
                                            <tr>
                                                <td></td>
                                                <td class="p-0">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control text-center" id="txtRatio@(itemModify)" name="txtRatio@(itemModify)" />
                                                        <span class="input-group-addon"><i class="fas fa-percent"></i></span>
                                                    </div>
                                                </td>
                                                <td class="p-0">
                                                    <input type="text" class="form-control text-center" id="txtAmount@(itemModify)" name="txtAmount@(itemModify)" />
                                                </td>
                                                <td class="p-0">
                                                    <input type="text" class="form-control text-center" id="txtPaymentDate@(itemModify)" name="txtPaymentDate@(itemModify)" />
                                                </td>
                                                <td class="text-center active-content">
                                                    <a class="active-icon" href="javascript:DepositSave@(itemName)();"><i class="fas fa-save"></i></a>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
                <hr />
                <div class="table-custom">
                    <table class="table table-bordered table-striped table-sticky tiny-table" id="tblSoDetailData@(itemName)">
                        <thead>
                            <tr>
                                <th class="text-center checkbox-mode" scope="col" style="min-width: 75px;">
                                    <label class="control control-solid control-solid-info control--checkbox" style="margin-bottom: 0px;">
                                        全選 <input type="checkbox" id="cbxSelectAll@(itemName)" />
                                        <span class="control__indicator"></span>
                                    </label>
                                </th>
                                <th scope="col" style="min-width: 50px;">流水號</th>
                                <th scope="col" style="min-width: 150px;">品號</th>
                                <th scope="col" style="min-width: 175px;">品名</th>
                                <th scope="col" style="min-width: 100px;">數量</th>
                                <th scope="col" style="min-width: 200px;">備註</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-success" onclick="Modify@(itemName)()"><i class="fas fas fa-file-edit"></i>變更</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalSync@(itemName)">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@(itemNameText)同步</h5>
                <button class="close" type="button" onclick="CloseSync@(itemName)()">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container custom-form-container" autocomplete="off" id="syncForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtSoErpFullNo@(itemName)">訂單單號</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtSoErpFullNo@(itemName)" name="txtSoErpFullNo@(itemName)" placeholder="請輸入訂單單號" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtSyncStartDate@(itemName)">開始日期 <input type="checkbox" id="cbxSyncDate@(itemName)" checked /></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtSyncStartDate@(itemName)" name="txtSyncStartDate@(itemName)" placeholder="請輸入開始日期" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtSyncEndDate@(itemName)">結束日期</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtSyncEndDate@(itemName)" name="txtSyncEndDate@(itemName)" placeholder="請輸入結束日期" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label">同步模式</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <div class="row">
                                    <div class="col">
                                        <label class="control control-solid control-solid-info control--checkbox">
                                            正常同步
                                            <input type="checkbox" id="cbxNormalSync@(itemName)" name="cbxNormalSync@(itemName)" checked />
                                            <span class="control__indicator"></span>
                                        </label>
                                    </div>
                                    <div class="col">
                                        <label class="control control-solid control-solid-info control--checkbox">
                                            異動同步
                                            <input type="checkbox" id="cbxTranSync@(itemName)" name="cbxTranSync@(itemName)" />
                                            <span class="control__indicator"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-success" onclick="Sync@(itemName)()"><i class="fas fa-sync"></i>同步</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="reviewDocModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">驗證文件</h5>
                <button class="close" type="button" onclick="Operations.ReviewDocClose()">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row" id="tblDocList">
                        <div class="col-12 pt-2 pb-2 border text-primary font-weight-bold">目前上傳文件</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("ViewPurchaseOrder")

@Html.Resource("js",
    @<script>
        @*let Datas@(itemName) = new DataControl@(itemName)();*@
        let Elements@(itemName) = new ElementControl@(itemName)();
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        let excelCtrls@(itemName) = new ComponentControl@(componentName)(); //取得excel自定義控制方法

        let userId@(itemName);
        let companyId@(itemName);
        let companyName@(itemName);
        let pageAuthoritys@(itemName);
        let changeCurrency = false
        @*let saleOrderCustomer@(itemName);*@

        let depositJson = JSON.parse('{ "data" : []}');

        let apiPath = {
            QueryDocSetting: "@Url.Action("GetMassProductionReviewDocSetting", "Product")",
            Select: "@Url.Action("GetMassProductionReviewDoc", "Product")"
        };

        let Operations = new OperationControl();

        $(document).ready(function () {
            GetUserInfo@(itemName)();

            let currentDate = new Date();
            Suites.DatePicker("txtEndDateQ@(itemName)", currentDate);
            currentDate.setDate(currentDate.getDate() - 7);
            Suites.DatePicker("txtStartDateQ@(itemName)", currentDate);

            ComboBoxs.WithText("#cboSoErpPrefixQ@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "SoErpPrefix" }, "", "CHOOSE", "全部", "SoErpPrefixName", "SoErpPrefixNo");
            ComboBoxs.Default("#cboCustomerIdQ@(itemName)", "@Url.Action("GetCustomer", "ScmBasicInformation")", { "Status": "A", "TransferStatus": "A"}, "", "ALL", "", "CustomerWithNo", "CustomerId");
            //ComboBoxs.Default("#cboSalesmenIdQ@(itemName)", "@Url.Action("GetUser", "BasicInformation")", { "CompanyId": companyId@(itemName) }, userId@(itemName), "ALL", "", "UserWithNo", "UserId");
            ComboBoxs.Default("#cboSalesmenIdQ@(itemName)", "@Url.Action("GetUser", "BasicInformation")", { "CompanyId": companyId@(itemName) }, "", "ALL", "", "UserWithNo", "UserId");

            $("#cboSoErpPrefixQ@(itemName), #cboCustomerIdQ@(itemName), #cboSalesmenIdQ@(itemName)").select2({
                dropdownAutoWidth: true,
                dropdownParent: $("#modalQuery@(itemName)"),
                width: "100%"
            });

            Query@(itemName)();

            $(".advanced-block a[data-toggle='tab']").on("shown.bs.tab", function (e) {
                InitParameter@(itemName)($(this));
            });
        });

        function GetUserInfo@(itemName)() {
            pageAuthoritys@(itemName) = JSON.parse($(`#pageAuthority`).val());

            let targetUrl = "@Url.Action("GetLoginByKey", "User")";
            let postData = {
                "UserNo": $.cookie("Login"),
                "KeyText": $.cookie("LoginKey")
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                userId@(itemName) = data.returnData.UserId;
                companyId@(itemName) = data.returnData.CompanyId;
                companyName@(itemName) = data.returnData.CompanyName;
            } else {
                alert(data.msg, "alert", 0);
            }
        }

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));
            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let targetUrl = "@Url.Action("GetSaleOrder02", "SaleOrder")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "SoErpPrefix": $("#cboSoErpPrefixQ@(itemName)").val(),
                "SoErpNo": $("#txtSoErpNoQ@(itemName)").val(),
                "CustomerId": $("#cboCustomerIdQ@(itemName)").val(),
                "SalesmenId": $("#cboSalesmenIdQ@(itemName)").val(),
                "SearchKey": $("#txtSearchKeyQ@(itemName)").val(),
                "ConfirmStatus": $("input[name='cbxConfirmStatusQ@(itemName)']:checked").toArray().map(item => item.value).join(","),
                "ClosureStatus": $("input[name='cbxClosureStatusQ@(itemName)']:checked").toArray().map(item => item.value).join(","),
                "StartDate": ($("#cbxUseDate@(itemName)").is(":checked") ? $("#txtStartDateQ@(itemName)").val() : ""),
                "EndDate": ($("#cbxUseDate@(itemName)").is(":checked") ? $("#txtEndDateQ@(itemName)").val() : "")
            };
            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";
                        console.log(item.DocStatus);
                        innerHtml += `<tr>
                                        <td>${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.SoErpFullNo}">
                                          ${item.SoErpFullNo}
                                          ${item.TransferStatus == `Y` ? `${ErpDocStatus(item.DocStatus)}` : ``}
                                        </td>
                                        <td>${(new Date(item.DocDate)).Format(`yyyy-MM-dd`)}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.CustomerNo} ${item.CustomerShortName}" style="max-width: 150px;">${item.CustomerNo} ${item.CustomerShortName}</td>
                                        <td>
                                          ${item.SalesmenGender == `M` ? `<span class="gender-male"><i class="fas fa-male"></i></span>` : item.SalesmenGender == `F` ? `<span class="gender-female"><i class="fas fa-female"></i></span>` : ``}${item.SalesmenNo} ${item.SalesmenName}
                                        </td>
                                        ${JudgeBpmTransferStatus(`${item.BpmTransferStatus}`, `${item.BpmTransferStatusName}`)}
                                        <td>
                                          ${item.ConfirmUserGender == `M` ? `<span class="gender-male"><i class="fas fa-male"></i></span>` : item.ConfirmUserGender == `F` ? `<span class="gender-female"><i class="fas fa-female"></i></span>` : ``}${item.ConfirmUserNo} ${item.ConfirmUserName}
                                        </td>
                                        <td class="text-center active-content">
                                          <div class="btn-group mb-4 show" style="margin-bottom: 0 !important; position: static;">
                                            <button type="button" class="btn btn-primary dropdown-toggle" data-so-id="${item.SoId}" style="padding-top: 0; padding-bottom: 0;">動作</button>
                                            <div class="dropdown-menu btn-text-left-block" data-so-id="${item.SoId}" style="overflow-y: auto; z-index: 999; max-height: 150px;">
                                              <a class="dropdown-item btn-text-left auth-read" href="javascript:Read@(itemName)(${item.SoId});" ><i class="fas fa-eye"></i>查看</a>
                                              ${item.ConfirmStatus == `N` ? `<a class="dropdown-item btn-text-left auth-update" href="javascript:Edit@(itemName)(${item.SoId});" ><i class="fas fa-edit"></i>修改</a>` : ``}
                                              ${item.TransferStatus == `N` ? `<a class="dropdown-item btn-text-left auth-delete" href="javascript:Delete@(itemName)(${item.SoId});" ><i class="fas fa-trash-alt"></i>刪除</a>` : ``}
                                              ${item.TransferStatus == `N` ? `<a class="dropdown-item btn-text-left auth-import" href="javascript:Import@(itemName)(${item.SoId});" ><i class="fas fa-file-import"></i>拋轉</a>` : ``}
                                              ${item.ConfirmStatus == `N` ? `<a class="dropdown-item btn-text-left auth-confirm" href="javascript:Confirm@(itemName)(${item.SoId});" ><i class="fas fa-check-circle"></i>確認</a>` : ``}
                                              ${item.ConfirmStatus == `N` ? `<a class="dropdown-item btn-text-left auth-bpm-transfer" href="javascript:TransferBpm@(itemName)(${item.SoId});" ><i class="fas fa-exchange-alt"></i>拋轉BPM簽核</a>` : ``}
                                              ${item.ConfirmStatus == `Y` ? `<a class="dropdown-item btn-text-left auth-reconfirm" href="javascript:ReConfirm@(itemName)(${item.SoId});" ><i class="fas fa-undo-alt"></i>反確認</a>` : ``}
                                              ${item.BpmTransferStatus == `E` ? `<a class="dropdown-item btn-text-left auth-void" href="javascript:Void@(itemName)(${item.SoId});" ><i class="fas fa-ban"></i>作廢</a>` : ``}
                                              ${item.TransferStatus == `Y` ? `<a class="dropdown-item btn-text-left auth-doc-download" href="javascript:PopSoWord@(itemName)(${item.SoId});" ><i class="fas fa-file-download"></i>單據下載</a>` : ``}
                                              ${item.ConfirmStatus == `Y` && item.TransferStatus == `Y` ? `<a class="dropdown-item btn-text-left auth-modify" href="javascript:PopSoModify@(itemName)(${item.SoId}, '${item.SoErpFullNo}');"><i class="fas fa-file-edit"></i>資料變更</a>` : ``}
                                            </div>
                                          </div>
                                        </td>
                                        <td style="padding: 0;">
                                          <table class="table table-bordered table-sm mb-0 table-non-rwd table-striped-custom table-row-detail">
                                            <tbody>
                                              ${DetailData@(itemName)(item.Currency, item.SoDetail)}
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>`;

                        function JudgeBpmTransferStatus(bpmTransferStatus, bpmTransferStatusName) {
                            let innerHtml = '';
                            if (bpmTransferStatus == "P") {
                                innerHtml += `<td class="ellipsis" data-toggle="tooltip" title="${bpmTransferStatusName}"><i style="color: #3c66df; font-weight: 600;" class="far fa-money-check-edit"></i> ${bpmTransferStatusName}</td>`;
                            }
                            else if (bpmTransferStatus == "Y") {
                                innerHtml += `<td class="ellipsis" data-toggle="tooltip" title="${bpmTransferStatusName}"><i style="color: green; font-weight: 600;" class="fad fa-badge-check"></i> ${bpmTransferStatusName}</td>`;
                            }
                            else if (bpmTransferStatus == "N") {
                                innerHtml += `<td class="ellipsis" data-toggle="tooltip" title="${bpmTransferStatusName}"><i style="color: brown;" class="fad fa-flag-checkered"></i> ${bpmTransferStatusName}</td>`;
                            }
                            else if (bpmTransferStatus == "E") {
                                innerHtml += `<td class="ellipsis" data-toggle="tooltip" title="${bpmTransferStatusName}"><i style="color: cornflowerblue;" class="fas fa-user-edit"></i> ${bpmTransferStatusName}</td>`;
                            }
                            else if (bpmTransferStatus == "F") {
                                innerHtml += `<td class="ellipsis" data-toggle="tooltip" title="${bpmTransferStatusName}"><i style="color: red;" class="fas fa-exclamation-square"></i> ${bpmTransferStatusName}</td>`;
                            }
                            else if (bpmTransferStatus == "null") {
                                innerHtml += `<td class="ellipsis" data-toggle="tooltip" title="${bpmTransferStatusName}"><i style="color: brown;" class="fad fa-flag-checkered"></i> ${bpmTransferStatusName}</td>`;
                            }
                            else {
                                innerHtml += `<td class="ellipsis" data-toggle="tooltip" title="${bpmTransferStatusName}">${bpmTransferStatusName}</td>`;
                            }
                            return innerHtml;
                        }
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="9" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

            $(".dropdown-toggle").off("click").on("click", function () {
                let soId = $(this).data("so-id");

                if ($(`.dropdown-menu[data-so-id='${soId}']`).hasClass("show")) {
                    $(".dropdown-menu").removeClass("show");
                } else {
                    $(".dropdown-menu").removeClass("show");

                    $(`.dropdown-menu[data-so-id='${soId}']`).addClass("show");
                    $(`.dropdown-menu[data-so-id='${soId}']`).css({
                        top: `${$(this).position().top + $(this).height() + 5}px`,
                        left: `${$(this).position().left - $(this).width() + 38}px`
                    });
                }
            });

            $("body").off("click").on("click", function (e) {
                if ($(".dropdown-menu").hasClass("show")) {
                    if (!$(e.target).hasClass("dropdown-toggle")
                        && !$(e.target).parents().hasClass("dropdown-toggle")) {
                        $(".dropdown-menu").removeClass("show");
                    }
                }
            });
        }

        function DetailData@(itemName)(currency, source){
            let html = '';

            if (source) {
                let json = JSON.parse(source);

                for (let x = 0; x < json.data.length; x++) {

                    let ClosureStatus = "";
                    switch (json.data[x].ClosureStatus) {
                        case "N":
                            ClosureStatus = "未結案"
                            break
                        case "y":
                            ClosureStatus = "指定結案"
                            break
                        case "Y":
                            ClosureStatus = "自動結案"
                            break
                    }

                    let docVerify = "";
                    switch (json.data[x].DocVerify) {
                        case "N":
                            docVerify = `<a href="javascript:void(0);" onclick="ReviewDoc('${json.data[x].MtlItemNo}')"><span class="text-danger"><i class="fas fa-times"></i></span></a>`;
                            break;
                        case "P":
                            docVerify = `<a href="javascript:void(0);" onclick="ReviewDoc('${json.data[x].MtlItemNo}')"><span class="text-warning"><i class="fas fa-exclamation-triangle"></i></span></a>`;
                            break;
                        case "F":
                            docVerify = `<a href="javascript:void(0);" onclick="ReviewDoc('${json.data[x].MtlItemNo}')"><span class="text-success"><i class="fas fa-check-circle"></i></span></a>`;
                            break;
                    }

                    html += `<tr>
                               <td style="width: 75px;">${docVerify}</td>
                               <td style="width: 50px;">${json.data[x].SoSequence}</td>
                               <td class="ellipsis" data-toggle="tooltip" title="${json.data[x].MtlItemNo}" style="min-width: 180px;">${json.data[x].MtlItemNo}</td>
                               <td class="ellipsis" data-toggle="tooltip" title="${json.data[x].SoMtlItemName}" style="min-width: 175px; max-width: 175px;">${json.data[x].SoMtlItemName}</td>
                               <td style="width: 100px;">${json.data[x].SoQty.toLocaleString(`en`)}</td>
                               <td style="width: 100px;">${json.data[x].ProductTypeName}</td>
                               <td style="width: 100px;">${json.data[x].FreebieQty.toLocaleString(`en`)}</td>
                               <td style="width: 100px;">${json.data[x].SpareQty.toLocaleString(`en`)}</td>
                               <td style="width: 100px;">${currency}</td>
                               <td style="width: 100px;">${json.data[x].UnitPrice.toLocaleString(`en`)}</td>
                               <td style="width: 100px;">${json.data[x].Amount.toLocaleString(`en`)}</td>
                               <td style="width: 100px;">${json.data[x].PromiseDate}</td>
                               <td class="ellipsis" data-toggle="tooltip" title="${json.data[x].SoDetailRemark}" style="width: 200px; max-width: 200px;">${json.data[x].SoDetailRemark}</td>
                               <td style="width: 100px;">${ClosureStatus}</td>
                             </tr>`;
                }
            }

            return html;
        }

        function InitFlagTabs@(itemName)() {
            $(".advanced-block .flag-tabs > .flag-item > .flag-link").show();
            if ($(".advanced-block .flag-tabs > .flag-item > .flag-link").first().hasClass("active")) {
                InitParameter@(itemName)($(".advanced-block .flag-tabs > .flag-item").first().find("a"));
            } else {
                $(".advanced-block .flag-tabs > .flag-item").first().find("a").trigger("click");
            }
        }

        function GetData@(itemName)(SoId) {
            changeCurrency = false

            $("#SoId").val(SoId ? SoId : 0);

            $(objForm@(itemName) + " fieldset").attr("disabled", false);
            $(objForm@(itemName) + " select").attr("disabled", false);

            let currentDate = new Date();
            Suites.DatePicker("txtDocDate@(itemName)", currentDate);

            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");

            ComboBoxs.WithText("#cboSoErpPrefix@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "SoErpPrefix" }, "", "CHOOSE", "請選擇訂單單別", "SoErpPrefixName", "SoErpPrefixNo");
            ComboBoxs.Default("#cboCustomerId@(itemName)", "@Url.Action("GetCustomer", "ScmBasicInformation")", { "Status": "A", "TransferStatus": "A" }, "", "CHOOSE", "請選擇客戶", "CustomerWithNo", "CustomerId");
            ComboBoxs.Default("#cboDepartmentId@(itemName)", "@Url.Action("GetDepartment", "BasicInformation")", { "CompanyId": companyId@(itemName), "Status": "A" }, "", "CHOOSE", "請選擇部門", "DepartmentWithNo", "DepartmentId");
            @*ComboBoxs.Default("#cboSalesmenId@(itemName)", "@Url.Action("GetUser", "BasicInformation")", { "CompanyId": companyId@(itemName) }, "", "CHOOSE", "請選擇業務", "UserWithNo", "UserId");*@
            ComboBoxs.Default("#cboSalesmenId@(itemName)", "@Url.Action("GetUserByAuthority", "BasicInformation")", { "FunctionCode": "SaleOrderManagement", "DetailCode": "add" }, "", "CHOOSE", "請選擇業務", "UserWithNo", "UserId");
            //幣別選單
            ComboBoxs.WithText("#cboCurrency@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "Currency" }, "", "NA", "", "CurrencyName", "Currency");

            excelCtrls@(itemName).InitSpreadsheet();

            if (!isMobile) {
                $("#cboCustomerId@(itemName), #cboDepartmentId@(itemName), #cboSalesmenId@(itemName), #cboCurrency@(itemName)").select2({
                    width: "100%"
                });
            }

            if (SoId > 0) {
                let targetUrl = "@Url.Action("GetSaleOrder02", "SaleOrder")";
                let postData = {
                    "SoId": SoId
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        $("#cboSoErpPrefix@(itemName)").val(item.SoErpPrefix);
                        $("#txtSoErpNo@(itemName)").val(item.SoErpNo);
                        $("#txtDocDate@(itemName)").val(item.DocDateStr);
                        $("#txtCustomerPurchaseOrder@(itemName)").val(item.CustomerPurchaseOrder);
                        $("#cboCustomerId@(itemName)").val(item.CustomerId).trigger("change");
                        $("#cboDepartmentId@(itemName)").val(item.DepartmentId);
                        $("#cboSalesmenId@(itemName)").val(item.SalesmenId);
                        $("#txtSoRemark@(itemName)").val(item.SoRemark);
                        $("#cboCurrency@(itemName)").val(item.Currency).trigger("change");

                        if (item.TransferStatus == "Y") {
                            $("#cboSoErpPrefix@(itemName)").attr("disabled", true);
                            $("#txtSoErpNo@(itemName)").attr("disabled", true);
                        }

                        @*saleOrderCustomer@(itemName) = { CustomerShortName: item.CustomerShortName };*@
                    });

                    InitFlagTabs@(itemName)();
                } else {
                    alert(data.msg, "alert", 0);
                }
            }
            else {
                InitFlagTabs@(itemName)();

                @*$(".advanced-block .flag-tabs > .flag-item .flag-link").removeClass("active");
                if ($(".advanced-block .flag-tabs > .default-item > .flag-link").first().hasClass("active")) {
                    InitParameter@(itemName)($(".advanced-block .flag-tabs > .flag-item").first().find("a"));
                }
                else {
                    $(".advanced-block .flag-tabs > .default-item").first().find("a").trigger("click");
                }*@

                @*saleOrderCustomer@(itemName) = { CustomerShortName: companyName@(itemName) };*@
            }

            if ($("#ViewMode").val() == "read") {
                $(`.read-hide@(itemName)`).hide();
            }
            else {
                $(`.read-hide@(itemName)`).show();
            }

            Elements@(itemName).Initialize@(itemName)();
            changeCurrency = true
        }

        function Edit@(itemName)(SoId) {
            $("#ViewMode").val("");
            GetData@(itemName)(SoId);
            $(objForm@(itemName) + " fieldset").attr("disabled", false);
            $(objForm@(itemName) + " select").attr("disabled", false);
        }

        function Read@(itemName)(SoId) {
            $("#ViewMode").val("read");
            GetData@(itemName)(SoId);
            $(objForm@(itemName) + " fieldset").attr("disabled", true);
            $(objForm@(itemName) + " select").attr("disabled", true);
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let SoId = parseInt($("#SoId").val());

                if (SoId <= 0) {
                    let targetUrl = "@Url.Action("AddSaleOrder02", "SaleOrder")";
                    let postData = {
                        "SoErpPrefix": $("#cboSoErpPrefix@(itemName)").val(),
                        "DocDate": $("#txtDocDate@(itemName)").val(),
                        "CustomerId": $("#cboCustomerId@(itemName)").val(),
                        "CustomerPurchaseOrder": $("#txtCustomerPurchaseOrder@(itemName)").val(),
                        "DepartmentId": $("#cboDepartmentId@(itemName)").val(),
                        "SalesmenId": $("#cboSalesmenId@(itemName)").val(),
                        "SoRemark": $("#txtSoRemark@(itemName)").val(),
                        "Currency": $("#cboCurrency@(itemName)").val()
                    };

                    let data = DataAccess.EditContinued(targetUrl, postData, false);

                    if (data) {
                        alert("訂單單頭儲存成功", "success", 0);
                        $.each(data.result, function (i, item) {
                            $("#SoId").val(item.SoId);
                            $("#txtSoErpNo@(itemName)").val(item.SoErpNo);
                        });

                        if (pageAuthoritys@(itemName).map(m => m.DetailCode).includes('cust-po')
                            && excelCtrls@(itemName).ReLoadSpreadsheetData()) {
                            //儲存客戶採購單
                            soId@(componentName) = $("#SoId").val();
                            excelCtrls@(itemName).Save();
                        }

                        InitFlagTabs@(itemName)();
                    }
                } else {
                    let targetUrl = "@Url.Action("UpdateSaleOrder02", "SaleOrder")";
                    let postData = {
                        "SoId": SoId,
                        "SoErpPrefix": $("#cboSoErpPrefix@(itemName)").val(),
                        "DocDate": $("#txtDocDate@(itemName)").val(),
                        "CustomerId": $("#cboCustomerId@(itemName)").val(),
                        "CustomerPurchaseOrder": $("#txtCustomerPurchaseOrder@(itemName)").val(),
                        "DepartmentId": $("#cboDepartmentId@(itemName)").val(),
                        "SalesmenId": $("#cboSalesmenId@(itemName)").val(),
                        "SoRemark": $("#txtSoRemark@(itemName)").val(),
                        "Currency": $("#cboCurrency@(itemName)").val()

                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (pageAuthoritys@(itemName).map(m => m.DetailCode).includes('cust-po')
                        && excelCtrls@(itemName).ReLoadSpreadsheetData()) {
                        //儲存客戶採購單
                        soId@(componentName) = $("#SoId").val();
                        excelCtrls@(itemName).Save();
                    }

                    if (result) {
                        ReturnSaleOrderDetail();
                    }
                }
            }
        }

        function Delete@(itemName)(SoId) {
            swal.fire({
                titleText: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteSaleOrder", "SaleOrder")";
                    let postData = {
                        "SoId": SoId
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function Import@(itemName)(SoId) {
            swal.fire({
                titleText: "確認要拋轉嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("UpdateSaleOrderImport", "SaleOrder")";
                    let postData = {
                        "SoId": SoId
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function TransferBpm@(itemName)(SoId) {
            swal.fire({
                titleText: "確認要拋轉BPM嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("UpdateSoTransferBpm", "SaleOrder")";
                    let postData = {
                        "SoId": SoId
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function Confirm@(itemName)(SoId) {
            swal.fire({
                titleText: "要將單據進行確認嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("UpdateSaleOrderConfirm", "SaleOrder")";
                    let postData = {
                        "SoId": SoId
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function ReConfirm@(itemName)(SoId) {
            swal.fire({
                titleText: "要將單據進行反確認嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("UpdateSaleOrderReConfirm", "SaleOrder")";
                    let postData = {
                        "SoId": SoId
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function Void@(itemName)(SoId) {
            swal.fire({
                titleText: "確認要作廢嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("UpdateSaleOrderVoid", "SaleOrder")";
                    let postData = {
                        "SoId": SoId
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function PopSoWord@(itemName)(SoId) {
            $("#txtDocId@(itemName)").val(SoId);
            $("#modalWord@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });
        }

        function Word@(itemName)() {
            let targetUrl = "@Url.Action("SaleOrderDocDownload", "SaleOrder")";
            let postData = {
                "SoId": $("#txtDocId@(itemName)").val(),
                "NonPrice": $("#cbxNonPrice@(itemName)").is(":checked") ? "Y" : "N"
            };

            FileAccess.AjaxDownload(targetUrl, postData, false);

            CloseWord@(itemName)();
        }

        function CloseWord@(itemName)() {
            ResetForm("#wordForm@(itemName)");

            $("#modalWord@(itemName)").modal("hide");

            Query@(itemName)();
        }

        function PopSoModify@(itemName)(SoId, SoErpFullNo) {
            let innerHtml = '', targetUrl = '', postData = {};

            $("#txtDocId@(itemName)").val(SoId);
            $("#desSoErpFullNo@(itemName)").html(SoErpFullNo);

            $("#modalModify@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });

            $("#cbxSelectAll@(itemName)").prop("checked", false);

            targetUrl = "@Url.Action("GetSaleOrder02", "SaleOrder")";
            postData = {
                "SoId": SoId
            };
            let soData = DataAccess.Get(targetUrl, postData, false);

            if (soData.status == "success") {
                if (soData.result.length > 0) {
                    $.each(soData.result, function (i, item) {
                        $("#txtCustomerPurchaseOrder@(itemModify)").val(item.CustomerPurchaseOrder);
                        $("#txtSoRemark@(itemModify)").val(item.SoRemark);
                        if (item.DepositPartial == "Y") {
                            $("#cbxDepositPartial@(itemModify)").prop("checked", true);
                            DepositDbData();
                        }
                        $("#txtAmount@(itemName)").val(item.Amount);
                    });
                } else {
                    alert("訂單不存在");

                    CloseModify@(itemName)();
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            targetUrl = "@Url.Action("GetSoDetail02", "SaleOrder")";
            postData = {
                "SoId": SoId
            };
            let detailData = DataAccess.Get(targetUrl, postData, false);

            if (detailData.status == "success") {
                if (detailData.result.length > 0) {
                    $.each(detailData.result, function (i, item) {
                        innerHtml += `<tr>
                                        <td class="text-center">
                                          <label class="control control-solid control-solid-info control--checkbox">
                                            <input type="checkbox" data-so-detail-id="${item.SoDetailId}" value="${item.SoDetailId}" />
                                            <span class="control__indicator"></span>
                                          </label>
                                        </td>
                                        <td>${item.SoSequence}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MtlItemNo}" style="max-width: 150px;">${item.MtlItemNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.SoMtlItemName}" style="max-width: 175px;">${item.SoMtlItemName}</td>
                                        <td>${item.SoQty.toLocaleString(`en`)} <code>${item.UomNo}</code></td>
                                        <td class="p-0">
                                          <textarea class="form-control" name="txtSoDetailRemark@(itemModify)"
                                                    cols="2" data-so-id="${item.SoId}" data-so-detail-id="${item.SoDetailId}">${item.SoDetailRemark}</textarea>
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="5" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblSoDetailData@(itemName) tbody").html(innerHtml);

            $("#cbxSelectAll@(itemName)").off("click").on("click", function () {
                if ($("#cbxSelectAll@(itemName)").is(":checked")) {
                    $("input[type='checkbox'][data-so-detail-id]").not(":disabled").prop("checked", true);
                } else {
                    $("input[type='checkbox'][data-so-detail-id]").not(":disabled").prop("checked", false);
                }
            });

            $("#cbxDepositPartial@(itemModify)").off("change").on("change", function () {
                if ($("#cbxDepositPartial@(itemModify)").is(":checked")) {
                    DepositDbData();
                } else {
                    if (depositJson.data.length > 0) {
                        for (var i = 0; i < depositJson.data.length; i++) {
                            if (depositJson.data[i].ClosingStatus == "Y") {
                                $("#cbxDepositPartial@(itemModify)").prop("checked", true);
                                alert("已有結帳單，無法取消勾選!");
                                break;
                            }
                        }
                    } else {
                        $("#editDeposit@(itemModify)").hide();
                        $("#tblDepositRate@(itemModify)").parent(".table-custom").hide();
                    }
                }
            });

            function DepositDbData() {
                depositJson = JSON.parse('{ "data" : []}');

                let targetUrl = "@Url.Action("GetSoDeposit", "SaleOrder")";
                let postData = {
                    "SoId": SoId
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    if (data.result.length > 0) {
                        depositJson.data = data.result;
                    }
                } else {
                    alert(data.msg, "alert", 0);
                }

                DepositData@(itemName)();
            }
        }

        function Modify@(itemName)() {
            let soId = $("#txtDocId@(itemName)").val();
            let soJson = JSON.parse('{ "data" : []}');

            soJson.soId = soId;
            soJson.customerPurchaseOrder = $("#txtCustomerPurchaseOrder@(itemModify)").val();
            soJson.soRemark = $("#txtSoRemark@(itemModify)").val();
            soJson.depositPartial = $("#cbxDepositPartial@(itemModify)").is(":checked") ? "Y" : "N";

            $.each($("input[type='checkbox'][data-so-detail-id]:checked"), function (i) {
                let soDetailId = $(this).data("so-detail-id");

                let json = {
                    soDetailId: soDetailId,
                    soDetailRemark: $(`textarea[name='txtSoDetailRemark@(itemModify)'][data-so-detail-id='${soDetailId}']`).val()
                }

                soJson.data.push(json);
            });

            let targetUrl = "@Url.Action("UpdateSaleOrderModify", "SaleOrder")";
            let postData = {
                "SoDetails": JSON.stringify(soJson),
                "Deposits": JSON.stringify(depositJson)
            };

            let result = DataAccess.Update(targetUrl, postData, false, true);

            if (result) {
                CloseModify@(itemName)();
            }
        }

        function CloseModify@(itemName)() {
            ResetForm("#modifyForm@(itemName)");

            $("#modalModify@(itemName)").modal("hide");

            Query@(itemName)();
        }

        function DepositData@(itemName)() {
            let innerHtml = '';

            if (depositJson.data.length > 0) {
                for (var i = 0; i < depositJson.data.length; i++) {
                    innerHtml += `<tr>
                                    <td>${depositJson.data[i].Sequence}</td>
                                    <td>${depositJson.data[i].Ratio} %</td>
                                    <td>${depositJson.data[i].Amount.toLocaleString(`en`)}</td>
                                    <td>${depositJson.data[i].PaymentDate}</td>
                                    <td class="text-center active-content">
                                      ${depositJson.data[i].ClosingStatus == `N` ? `<a class="active-icon" href="javascript:DepositDelete@(itemName)(${i});"><i class="fas fa-trash"></i></a>` : ``}
                                    </td>
                                  </tr>`;
                }
            }

            $("#tblDepositRate@(itemModify) tbody").html(innerHtml);
            $("#tblDepositRate@(itemModify)").parent(".table-custom").show();
        }

        function DepositAdd@(itemName)() {
            $("#editDeposit@(itemModify)").show();
            $("#editDeposit@(itemModify) .form-control").val("");

            let currentDate = new Date();
            Suites.DatePicker("txtPaymentDate@(itemModify)", currentDate);

            $("#txtRatio@(itemModify)").off("change").on("change", function () {
                let amount = parseFloat($("#txtAmount@(itemName)").val());

                $("#txtAmount@(itemModify)").val(Math.round(amount * parseFloat($(this).val()) / 100 * 100) / 100);
            });

            $("#txtAmount@(itemModify)").off("change").on("change", function () {
                let amount = parseFloat($("#txtAmount@(itemName)").val());

                $("#txtRatio@(itemModify)").val(Math.round(parseFloat($(this).val()) / amount * 100 * 100) / 100);
            });
        }

        function DepositSave@(itemName)() {
            let isValid = true;
            let errorMsg = "";

            if (!isNaN(parseInt($("#txtRatio@(itemModify)").val()))) {
                if (parseInt($("#txtRatio@(itemModify)").val()) <= 0) {
                    isValid = false;
                    errorMsg += "訂金比率不能小於零!<br />";
                }
            } else {
                isValid = false;
                errorMsg += "訂金比率不正確!<br />";
            }

            if (!isNaN(parseInt($("#txtAmount@(itemModify)").val()))) {
                if (parseInt($("#txtAmount@(itemModify)").val()) <= 0) {
                    isValid = false;
                    errorMsg += "訂金金額不能小於零!<br />";
                }
            } else {
                isValid = false;
                errorMsg += "訂金金額不正確!<br />";
            }

            if (isValid) {
                let json = {
                    Sequence: "",
                    Ratio: parseInt($("#txtRatio@(itemModify)").val()),
                    Amount: parseFloat($("#txtAmount@(itemModify)").val()),
                    PaymentDate: $("#txtPaymentDate@(itemModify)").val(),
                    ClosingStatus: "N"
                }

                depositJson.data.push(json);

                $("#editDeposit@(itemModify)").hide();
                DepositData@(itemName)();
            } else {
                alert(errorMsg);
            }
        }

        function DepositDelete@(itemName)(index) {
            swal.fire({
                titleText: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    if (depositJson.data.length > 0) {
                        depositJson.data.splice(index, 1);
                        DepositData@(itemName)();
                    }
                }
            });
        }

        function Return@(itemName)() {
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName)", "#editData@(itemName), #modiData@(itemName), .unit-block, .advanced-block");
            Query@(itemName)();
        }

        function InitParameter@(itemName)(selector) {
            let initFnString = "Expand";
            let content = selector.attr("href").split('#tab')[1].split('@(itemName)')[0];
            let popConfig = {};

            switch (content) {
                case "SaleOrderDetail":
                    initFnString += "SaleOrderDetail";
                    break;
                case "@(componentName)":
                    let cell = "A1";
                    initFnString += "@(componentName)";
                    popConfig = {
                        targetSelector: "#txtSoDetailTempIds@(componentName)",
                        cellSelector: [
                            { element: "#cboProductType@(componentName)", setValue: "", idColumn: "Y", txtColumn: "P", type: "cbo" },
                            { element: "#cboProject@(componentName)", setValue: "", idColumn: "Z", txtColumn: "S", type: "cbo" },
                            { element: "#txtPromiseDate@(componentName)", setValue: "", idColumn: "", txtColumn: "R", type: "date" },
                        ], //篩選值儲存欄位, 預設值
                        soId: $("#SoId").val(),
                        companyId: companyId@(itemName), //default value
                        row: cell.indexOf("A") != -1 && cell != "A1" ? cell.split('A')[1] : 2, //起始列數
                        identify: "A", //資料唯一識別欄位
                        message: "U" //訊息顯示欄位
                    };
                    break;
            }

            let initFn = window[initFnString];
            if (initFn && typeof (initFn) == "function") {
                initFn(popConfig);
            }
        }

        function PopSoSync@(itemName)() {
            $("#modalSync@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });

            let currentDate = new Date();
            Suites.DatePicker("txtSyncEndDate@(itemName)", currentDate);
            currentDate.setDate(currentDate.getDate() - 7);
            Suites.DatePicker("txtSyncStartDate@(itemName)", currentDate);
        }

        function CloseSync@(itemName)() {
            ResetForm("#syncForm@(itemName)");

            $("#modalSync@(itemName)").modal("hide");

            Query@(itemName)();
        }

        function Sync@(itemName)() {
            swal.fire({
                titleText: "確認執行ERP資料同步嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("UpdateSaleOrderManualSynchronize", "SaleOrder")";
                    let postData = {
                        "SoErpFullNo": $("#txtSoErpFullNo@(itemName)").val(),
                        "SyncStartDate": ($("#cbxSyncDate@(itemName)").is(":checked") ? $("#txtSyncStartDate@(itemName)").val() : ""),
                        "SyncEndDate": ($("#cbxSyncDate@(itemName)").is(":checked") ? $("#txtSyncEndDate@(itemName)").val() : ""),
                        "NormalSync": $("#cbxNormalSync@(itemName)").is(":checked") ? "Y" : "N",
                        "TranSync": $("#cbxTranSync@(itemName)").is(":checked") ? "Y" : "N"
                    };

                    let data = DataAccess.EditContinued(targetUrl, postData, false);

                    if (data) {
                        alert(data.result, "success", 5000);
                    }

                    CloseSync@(itemName)();
                }
            });
        }

        function Excel@(itemName)() {
            let targetUrl = "@Url.Action("SaleOrderExcelDownload", "SaleOrder")";
            let postData = {
                "SoErpPrefix": $("#cboSoErpPrefixQ@(itemName)").val(),
                "SoErpFullNo": $("#txtSoErpNoQ@(itemName)").val(),
                "CustomerId": $("#cboCustomerIdQ@(itemName)").val(),
                "SalesmenId": $("#cboSalesmenIdQ@(itemName)").val(),
                "SearchKey": $("#txtSearchKeyQ@(itemName)").val(),
                "ConfirmStatus": $("input[name='cbxConfirmStatusQ@(itemName)']:checked").toArray().map(item => item.value).join(","),
                "ClosureStatus": $("input[name='cbxClosureStatusQ@(itemName)']:checked").toArray().map(item => item.value).join(","),
                "StartDate": ($("#cbxUseDate@(itemName)").is(":checked") ? $("#txtStartDateQ@(itemName)").val() : ""),
                "EndDate": ($("#cbxUseDate@(itemName)").is(":checked") ? $("#txtEndDateQ@(itemName)").val() : "")
            };

            FileAccess.AjaxDownload(targetUrl, postData, false);
        }

        function Clear@(itemName)() {
            $('#txtCustomerPurchaseOrder@(itemName)').val("");
            @*swal.fire({
                titleText: "確定要刪除採購單暫存資料?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    excelCtrls@(itemName).Delete();
                    if (!!spreadsheet@(componentName)) $('#txtCustomerPurchaseOrder@(itemName)').val("");
                }
            });*@
        }

        let chkPopSelectType@(itemName) = 'checkbox'; //組件資料預設的選擇模式
        function ElementControl@(itemName)() {
            addMethod(this, "Initialize@(itemName)", function () {
                $("#cboCustomerId@(itemName)").off("change").on("change", function () {
                    if ($(this).val() != "" && changeCurrency == true) {
                        let targetUrl = "@Url.Action("GetCustomer", "ScmBasicInformation")";
                        let postData = {
                            "CustomerId": $(this).val()
                        };
                        let data = DataAccess.Get(targetUrl, postData, false);
                        if (data.status == "success") {
                            $.each(data.result, function (i, item) {
                                $("#cboDepartmentId@(itemName)").val(item.DepartmentId).trigger("change");
                                $("#cboSalesmenId@(itemName)").val(item.SalesmenId).trigger("change");
                                $("#cboCurrency@(itemName)").val(item.Currency).trigger("change");
                                @*saleOrderCustomer@(itemName) = { CustomerShortName: item.CustomerShortName };*@
                            });
                        } else {
                            alert(data.msg, "alert", 0);
                        }
                    }

                    $("#txtCompanyId@(itemName)").val(-1);
                    if ($(this).val().length > 0) {
                        targetUrl = "@Url.Action("GetType", "BasicInformation")";
                        postData = {
                            "TypeSchema": "So.CorpType",
                            "TypeNo": $(this).val()
                        };
                        data = DataAccess.Get(targetUrl, postData, false);
                        if (data.status == "success") {
                            //$(".po-control input, .po-control select, .po-control button").attr("disabled", true);
                            if (data.result.length > 0) {
                                $.each(data.result, function (i, item) {
                                    $("#txtCompanyId@(itemName)").val(item.TypeDesc);
                                    $(".po-control input, .po-control select, .po-control button").removeAttr("disabled");
                                    $(".cust-po-item").show();
                                });
                            } else {
                                $(".cust-po-item").hide();
                                $(".advanced-block .flag-tabs > .flag-item").first().find("a").trigger("click");
                            }
                        }
                    } else {
                        $(".cust-po-item").hide();
                    }
                }).trigger('change');

                $("#cboCustomerId@(itemName)").select2({
                    dropdownAutoWidth: true,
                    width: "100%"
                });

                $("#cboSoErpPrefix@(itemName), #cboDepartmentId@(itemName), #cboSalesmenId@(itemName)").select2({
                    dropdownAutoWidth: true,
                    width: "50%"
                });

                $("input[name='chkPopSelectType@(itemName)']").bootstrapToggle({
                    on: "單選",
                    off: "多選",
                    onstyle: "success",
                    offstyle: "info",
                    size: "mini",
                    width: "50px",
                    height: "20px",
                    style: "auth-cust-po"
                });

                $("input[name='chkPopSelectType@(itemName)']").off("change").on("change", function () {
                    switch (this.checked) {
                        case false:
                            chkPopSelectType@(itemName) = "checkbox";
                            break;
                        case true:
                            chkPopSelectType@(itemName) = "radio";
                            break;
                    }
                });

                $("#pop-@(componentName)").off("click").on("click", function () {
                    $(".default-item a").trigger("click");
                    Elements@(itemName).InitPopViewPurchaseOrder@(itemName)("A2");
                });

                $("#clearCustPo@(itemName)").off("clikc").on("click", function () {
                    $(".default-item a").trigger("click");
                    Clear@(itemName)();
                });

                TableComponentInit();
            });

            addMethod(this, "InitPopViewPurchaseOrder@(itemName)", function (cell) {
                let writeColumn = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z"];
                let popConfig = {
                    targetSelector: "#txtSoDetailTempIds@(componentName)", //資料id儲存欄位
                    targetHidSelector: `#txtHiddenDatas@(componentName)`, //隱藏的資料儲存元素id
                    elementSelector: [
                        { element: "#cboCompanyQ@(popComponentName)", setValue: $("#txtCompanyId@(itemName)").val(), mapColumn: "", type: "cbo" },
                        { element: "#txtSearchKeyQ@(popComponentName)", setValue: $("#txtCustomerPurchaseOrder@(itemName)").val(), mapColumn: "", type: "txt" },
                        { element: "#txtCustomerIdQ@(popComponentName)", setValue: $("#cboCustomerId@(itemName)").val(), mapColumn: "", type: "txt" },
                        { element: "#txtCompanyId@(componentName)", setValue: $("#cboCompanyQ@(popComponentName) :selected").val(), mapColumn: "", type: "txt" },
                        { element: "#txtCustomerPurchaseOrder@(itemName)", setValue: "", mapColumn: "B", type: "out" }
                    ], //篩選值儲存欄位, 預設值
                    @*filter: {
                        CompanyIds: [$("#txtCompanyId@(itemName)").val()],
                        //CompanyNames: !!saleOrderCustomer@(itemName) ? [...new Set([saleOrderCustomer@(itemName).CustomerShortName.substring(0, 2), saleOrderCustomer@(itemName).CustomerShortName.substring(2, 4)])] : [companyName@(itemName).substring(0, 2)],
                        CustomerPurchaseOrders: [$("#txtCustomerPurchaseOrder@(itemName)").val()]
                    }, //預設篩選條件值*@
                    type: chkPopSelectType@(itemName), //checkbox, radio
                    spreadsheet: {
                        component: spreadsheet@(componentName), //excel 套件
                        config: { writeNew: true }, //表單重新寫入
                        columns: columns@(componentName).filter(f => writeColumn.includes(f.column)).map(m => { return { column: m.column, title: m.title, format: m.format, type: m.type } }), //要複寫的欄位
                        row: cell.indexOf("A") != -1 && cell != "A1" ? cell.split('A')[1] : 2, //起始列數
                        identify: identify@(componentName), //資料唯一識別欄位
                        message: message@(componentName), //訊息顯示欄位
                        excelCtrls: excelCtrls@(itemName), //取得excel自定義控制方法
                        groupValid: { valid: true, groupColumns: ["B"] } //群組驗證及欄位
                    }
                }
                PopViewPurchaseOrder(popConfig);
            });
        }

        //#region 輸入數值資料處理
        function ValidateFloat(e) {
            if (!/^\d+[.]?\d*$/.test(e.value)) {
                $(e).val(/^\d+[.]?\d*/.exec($(e).val()));
            }
            return false;
        }

        function AddComma(number) {
            let comma = /\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g;
            return number != null ? number.toString().replace(comma, ',') : '';
        }
        //#endregion

        function ReviewDoc(MtlItemNo) {
            $("#tblDocList").html("");

            Operations.DocList(MtlItemNo);

            $("#reviewDocModal").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });
        }

        function OperationControl() {
            addMethod(this, "ReviewDocClose", function () {
                $("#reviewDocModal").modal("hide");
            });

            addMethod(this, "DocList", function (MtlItemNo) {
                let innerHtml = `<div class="col-12 pt-2 pb-2 border"><span class="text-primary font-weight-bold">目前品號</span><i class="fas fa-arrow-circle-right mx-2"></i><span class="text-danger">${MtlItemNo}</span></div>`;
                let postData = {};
                let data = DataAccess.Get(apiPath.QueryDocSetting, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        let _row = (i + 1) + ".";

                        innerHtml += `<div class="col-sm-12 col-lg-6 pt-2 pb-2 border font-weight-bold">
                                        ${_row} ${item.DocName}
                                      </div>
                                      <div class="col-sm-12 col-lg-6 pt-2 pb-2 border text-center" data-doc="${item.DocId}">
                                      ${Operations.DocFile(item.DocId, MtlItemNo)}
                                      </div>`;
                    });
                } else {
                    alert(data.msg, "alert", 0);
                }

                $("#tblDocList").html(innerHtml);
            });

            addMethod(this, "DocFile", function (DocId, MtlItemNo) {
                let innerHtml = ``;

                let postData = {
                    DocId: DocId,
                    MtlItemNo: MtlItemNo
                };
                let data = DataAccess.Get(apiPath.Select, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        innerHtml += `${item.FileName}${item.FileExtension}`;
                    });
                } else {
                    alert(data.msg, "alert", 0);
                }

                return innerHtml;
            });
        }
</script>
)