@using Business_Manager.Helpers
@{
    string itemName = "SomDetail";
    string itemNameText = "訂單單身變更";
}

@Html.Resource("css",
    @<style>
    </style>
)

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <form autocomplete="off" id="queryForm@(itemName)">
            <fieldset>
                <div class="form-row align-items-center mb-2">
                    <div class="col-12 text-right">
                        <button type="button" class="btn btn-info" onclick="Edit@(itemName)()"><i class="fas fa-plus"></i>新增</button>
                    </div>
                </div>
            </fieldset>
        </form>
        <div class="table-custom">
            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                <thead>
                    <tr>
                        <th scope="col" style="min-width: 75px;">#</th>
                        <th scope="col" style="min-width: 100px;">流水號</th>
                        <th scope="col" style="min-width: 150px;">品號</th>
                        <th scope="col" style="min-width: 150px;">品名</th>
                        <th scope="col" style="min-width: 150px;">規格</th>
                        <th scope="col" style="min-width: 100px;">訂單數量</th>
                        <th scope="col" style="min-width: 150px;">預計出貨日</th>
                        <th class="text-center" scope="col" style="min-width: 125px;">操作</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="pagination" id="page@(itemName)"></div>
    </div>
</div>

<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="SomDetailId" name="SomDetailId" value="-1" />
                        <div class="tab-content">
                            <div class="form-group row">
                                <label class="form-label col-12" for="txtSoSequence@(itemName)">流水號 <span class="text-danger">*</span></label>
                                <div class="input-group col-12">
                                    <input type="text" class="form-control" id="txtSoSequence@(itemName)" name="txtSoSequence@(itemName)" placeholder="請輸入流水號"
                                           data-msg-required="請輸入流水號" data-rule-required="true"
                                           ata-msg-maxlength="必須少於 4 個字元" maxlength="4"
                                           readonly />
                                    <input type="hidden" id="txtSoDetailId@(itemName)" />
                                    <span class="input-group-append">
                                        <a class="btn btn-danger" href="javascript:void(0);" onclick="TakeNumber@(itemName)('#txtSoSequence@(itemName)')">
                                            <i class="fa fa-random"></i>
                                        </a>
                                        <a class="btn btn-success pop-view" href="javascript:void(0);"><i class="fal fa-search"></i></a>
                                    </span>
                                </div>
                            </div>
                            <a class="btn btn-collapse" data-toggle="collapse" href="#mtlItem@(itemName)">
                                <span><i class="fas fa-boxes"></i> 品號</span>
                                <i class="fas fa-chevron-down"></i>
                            </a>
                            <div class="collapse mb-3" id="mtlItem@(itemName)">
                                <div class="card card-body">
                                    <div class="row">
                                        <input type="hidden" id="txtMtlItemId@(itemName)" />
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group row">
                                                <label class="col-12 col-form-label" for="txtMtlItemNo@(itemName)">品號 <span class="text-danger">*</span></label>
                                                <div class="input-group col-12">
                                                    <input type="text" class="form-control" id="txtMtlItemNo@(itemName)" name="txtMtlItemNo@(itemName)" placeholder="請輸入品號"
                                                           data-msg-required="請輸入品號" data-rule-required="true" />
                                                    <span class="input-group-append">
                                                        <a class="btn btn-success pop-view" href="javascript:void(0);"><i class="fal fa-search"></i></a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group row">
                                                <label class="col-12 col-form-label" for="txtMtlItemName@(itemName)">品名 <span class="text-danger">*</span></label>
                                                <div class=" col-12">
                                                    <input type="text" class="form-control" id="txtMtlItemName@(itemName)" name="txtMtlItemName@(itemName)" placeholder="請輸入品名"
                                                           data-msg-required="請輸入品名" data-rule-required="true"
                                                           data-msg-maxlength="必須少於 120 個字元" maxlength="120" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group row">
                                                <label class="col-12 col-form-label" for="txtMtlItemSpec@(itemName)">規格 <span class="text-danger">*</span></label>
                                                <div class="col-12">
                                                    <input type="text" class="form-control" id="txtMtlItemSpec@(itemName)" name="txtMtlItemSpec@(itemName)" placeholder="請輸入規格"
                                                           data-msg-required="請輸入規格" data-rule-required="true"
                                                           data-msg-maxlength="必須少於 120 個字元" maxlength="120" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group row">
                                                <label class="form-label col-12" for="cboCustomerMtlItemNo@(itemName)">客戶品號 </label>
                                                <div class="col-12">
                                                    <select class="form-control" id="cboCustomerMtlItemNo@(itemName)" name="cboCustomerMtlItemNo@(itemName)"></select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group row">
                                                <label class="form-label col-12" for="cboInventoryId@(itemName)">庫別 <span class="text-danger">*</span></label>
                                                <div class="col-12">
                                                    <select class="form-control" id="cboInventoryId@(itemName)" name="cboInventoryId@(itemName)"
                                                            data-msg-required="請選擇庫別" data-rule-required="true"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group row">
                                                <label class="form-label col-12" for="cboUomId@(itemName)">單位 <span class="text-danger">*</span></label>
                                                <div class="col-12">
                                                    <select class="form-control" id="cboUomId@(itemName)" name="cboUomId@(itemName)"
                                                            data-msg-required="請選擇單位" data-rule-required="true"></select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="btn btn-collapse" data-toggle="collapse" href="#amount@(itemName)">
                                <span><i class="fas fa-sack-dollar"></i> 金額</span>
                                <i class="fas fa-chevron-down"></i>
                            </a>
                            <div class="collapse mb-3" id="amount@(itemName)">
                                <div class="card card-body">
                                    <div class="row">
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group row">
                                                <label class="form-label col-12" for="txtSoQty@(itemName)">訂單數量 <span class="text-danger">*</span></label>
                                                <div class="col-12">
                                                    <input type="number" class="form-control" id="txtSoQty@(itemName)" name="txtSoQty@(itemName)" placeholder="請輸入訂單數量"
                                                           data-msg-required="請輸入訂單數量" data-rule-required="true" />

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group row">
                                                <label class="form-label col-12" for="txtFreebieQty@(itemName)">贈品數量 <span class="text-danger">*</span></label>
                                                <div class="col-12">
                                                    <input type="number" class="form-control" id="txtFreebieQty@(itemName)" name="txtFreebieQty@(itemName)" placeholder="請輸入贈品數量"
                                                           data-msg-required="請輸入贈品數量" data-rule-required="true" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group row">
                                                <label class="form-label col-12" for="txtUnitPrice@(itemName)">單價 <span class="text-danger">*</span></label>
                                                <div class="col-12">
                                                    <input type="number" class="form-control" id="txtUnitPrice@(itemName)" name="txtUnitPrice@(itemName)" placeholder="請輸入單價"
                                                           data-msg-required="請輸入單價" data-rule-required="true" />

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group row">
                                                <label class="form-label col-12" for="txtAmount@(itemName)">金額 <span class="text-danger">*</span></label>
                                                <div class="col-12">
                                                    <input type="number" class="form-control" id="txtAmount@(itemName)" name="txtAmount@(itemName)" placeholder="請輸入金額" readonly
                                                           data-msg-required="請輸入金額" data-rule-required="true" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group row">
                                                <label class="form-label col-12" for="txtSoPriceQty@(itemName)">計價數量 <span class="text-danger">*</span></label>
                                                <div class="col-12">
                                                    <input type="number" class="form-control" id="txtSoPriceQty@(itemName)" name="txtSoPriceQty@(itemName)" placeholder="請輸入計價數量"
                                                           data-msg-required="請輸入計價數量" data-rule-required="true" />

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group row">
                                                <label class="form-label col-12" for="cboSoPriceUomId@(itemName)">計價單位 <span class="text-danger">*</span></label>
                                                <div class="col-12">
                                                    <select class="form-control" id="cboSoPriceUomId@(itemName)" name="cboSoPriceUomId@(itemName)"
                                                            data-msg-required="請選擇計價單位" data-rule-required="true"></select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group row">
                                                <label class="form-label col-12" for="cboTaxNo@(itemName)">稅別碼 <span class="text-danger">*</span></label>
                                                <div class="col-12">
                                                    <select class="form-control" id="cboTaxNo@(itemName)" name="cboTaxNo@(itemName)"
                                                            data-msg-required="請選擇稅別碼" data-rule-required="true"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <div class="form-group row">
                                                <label class="form-label col-12" for="txtBusinessTaxRate@(itemName)">營業稅率 <span class="text-danger">*</span></label>
                                                <div class="col-12">
                                                    <input type="number" class="form-control" id="txtBusinessTaxRate@(itemName)" name="txtBusinessTaxRate@(itemName)" placeholder="請輸入營業稅率"
                                                           data-msg-required="請輸入營業稅率" data-rule-required="true"
                                                           readonly />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group row">
                                        <label class="form-label col-12" for="txtPromiseDate@(itemName)">預計出貨日 <span class="text-danger">*</span></label>
                                        <div class="input-group col-12">
                                            <input type="text" class="form-control datedropper" id="txtPromiseDate@(itemName)" name="txtPromiseDate@(itemName)" placeholder="請輸入預計出貨日"
                                                   data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                                   readonly />
                                            <div class="input-group-append">
                                                <a class="btn btn-outline-danger" onclick="$('#txtPromiseDate@(itemName)').val('')" title="清除">
                                                    <i class="fas fa-eraser"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group row">
                                        <label class="form-label col-12" for="txtProject@(itemName)">專案代號 </label>
                                        <div class="col-12">
                                            <input type="text" class="form-control" id="txtProject@(itemName)" name="txtProject@(itemName)" placeholder="請輸入專案代號"
                                                   data-msg-maxlength="必須少於 20 個字元" maxlength="20" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group row">
                                        <label class="form-label col-12" for="txtSoDetailRemark@(itemName)">備註 </label>
                                        <div class="col-12">
                                            <textarea class="form-control" id="txtSoDetailRemark@(itemName)" name="txtSoDetailRemark@(itemName)"
                                                      data-msg-maxlength="必須少於 255 個字元" maxlength="255" rows="2" placeholder="請輸入備註"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

@Html.Partial("ViewSoDetail")

@Html.Resource("js",
    @<script>
        let objForm@(itemName) = "#editForm@(itemName)";

        function InitData@(itemName)() {
            let innerHtml = '';

            if (somJson.detail.length > 0) {
                for (var i = 0; i < somJson.detail.length; i++) {
                    innerHtml += `<tr>
                                    <td>${(i + 1)}</td>
                                    <td>${somJson.detail[i].SoSequence}</td>
                                    <td>${somJson.detail[i].MtlItemNo}</td>
                                    <td>${somJson.detail[i].MtlItemName}</td>
                                    <td>${somJson.detail[i].MtlItemSpec}</td>
                                    <td>${somJson.detail[i].SoQty}</td>
                                    <td>${somJson.detail[i].PromiseDate}</td>
                                    <td class="text-center active-content">
                                          <a class="active-link auth-modify" href="javascript:Read@(itemName)(${somJson.detail[i].SomDetailId});"><i class="fas fa-eye"></i></a>
                                          <a class="active-link auth-modify" href="javascript:Edit@(itemName)(${somJson.detail[i].SomDetailId});"><i class="fas fa-edit"></i></a>
                                          <a class="active-link auth-modify" href="javascript:Delete@(itemName)(${somJson.detail[i].SomDetailId});"><i class="fas fa-trash-alt"></i></a>
                                        </td>
                                  </tr>`;
                }
            } else {
                innerHtml += `<tr>
                                    <td class="text-center" colspan="8" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
        }

        function Edit@(itemName)(SomDetailId) {
            $("#SomDetailId").val(SomDetailId ? SomDetailId : 0);

            Switch("#editData@(itemName)", "#listData@(itemName), .som-mode");            

            let popConfigSoDetail = {
                targetSelector: "#txtSoDetailId@(itemName)",
                popFunction: "PopViewSoDetail",
                objectSoDetailId: "#txtSoDetailId@(itemName)",
                querySoId: soIdViewSoModification,
            };
            InitPopView(popConfigSoDetail);

            let SoDetailId = $("#txtSoDetailId@(itemName)").val();

            let currentDate = new Date();
            Suites.SetDateDropper("#txtPromiseDate@(itemName)", currentDate);
            Suites.DateDropper("#txtPromiseDate@(itemName)");

            ComboBoxs.Default("#cboInventoryId@(itemName)", "@Url.Action("GetInventory", "ScmBasicInformation")", { "Status": "A" }, "", "NA", "", "InventoryWithNo", "InventoryId"); //庫別
            ComboBoxs.Default("#cboUomId@(itemName), #cboSoPriceUomId@(itemName)", "@Url.Action("GetUnitOfMeasure", "PdmBasicInformation")", { "Status": "A" }, "", "NA", "", "UomWithNo", "UomId"); //單位
            ComboBoxs.WithText("#cboTaxNo@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "TaxNo" }, $("#cboTaxNoSoModification").val(), "NA", "", "TaxName", "TaxNo");  //稅別碼

            if (SoDetailId > 0) {
                let targetUrl = "@Url.Action("GetSoDetail", "SaleOrder")";
                let postData = {
                    "SoDetailId": SoDetailId
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        $("#txtSoSequence@(itemName)").val(item.SoSequence);
                        $("#txtMtlItemId@(itemName)").val(item.MtlItemId);
                        $("#txtMtlItemNo@(itemName)").val(item.MtlItemNo);
                        $("#txtMtlItemName@(itemName)").val(item.SoMtlItemName);
                        $("#txtMtlItemSpec@(itemName)").val(item.SoMtlItemSpec);
                        $("#cboInventoryId@(itemName)").val(item.InventoryId);
                        $("#cboUomId@(itemName)").val(item.UomId);
                        $("#cboCustomerMtlItemNo@(itemName)").val(item.CustomerMtlItemNo);
                        $("#txtSoQty@(itemName)").val(item.SoQty);
                        $("#txtFreebieQty@(itemName)").val(item.FreebieQty);
                        $("#txtUnitPrice@(itemName)").val(item.UnitPrice);
                        $("#txtAmount@(itemName)").val(item.Amount);
                        $("#txtSoPriceQty@(itemName)").val(item.SoPriceQty);
                        $("#cboSoPriceUomId@(itemName)").val(item.SoPriceUomId);
                        $("#cboTaxNo@(itemName)").val(item.TaxNo);
                        $("#txtBusinessTaxRate@(itemName)").val(item.BusinessTaxRate);
                        $("#txtPromiseDate@(itemName)").val(item.PromiseDate);
                        $("#txtProject@(itemName)").val(item.Project);
                        $("#txtSoDetailRemark@(itemName)").val(item.SoDetailRemark);
                    });
                } else {
                    alert(data.msg, "alert", 0);
                }
            } 

            @*$("#txtSoSequence@(itemName)").val(somJson.detail.SoSequence);
            $("#txtMtlItemId@(itemName)").val(somJson.MtlItemId);
            $("#txtMtlItemNo@(itemName)").val(somJson.MtlItemNo);
            $("#txtMtlItemName@(itemName)").val(somJson.SoMtlItemName);
            $("#txtMtlItemSpec@(itemName)").val(somJson.SoMtlItemSpec);
            $("#cboInventoryId@(itemName)").val(somJson.InventoryId);
            $("#cboUomId@(itemName)").val(somJson.UomId);
            $("#cboCustomerMtlItemNo@(itemName)").val(somJson.CustomerMtlItemNo);
            $("#txtSoQty@(itemName)").val(somJson.SoQty);
            $("#txtFreebieQty@(itemName)").val(somJson.FreebieQty);
            $("#txtUnitPrice@(itemName)").val(somJson.UnitPrice);
            $("#txtAmount@(itemName)").val(somJson.Amount);
            $("#txtSoPriceQty@(itemName)").val(somJson.SoPriceQty);
            $("#cboSoPriceUomId@(itemName)").val(somJson.SoPriceUomId);
            $("#cboTaxNo@(itemName)").val(somJson.TaxNo);
            $("#txtBusinessTaxRate@(itemName)").val(somJson.BusinessTaxRate);
            Suites.SetDateDropper("#txtPromiseDate@(itemName)", new Date(somJson.PromiseDate));
            $("#txtProject@(itemName)").val(somJson.Project);
            $("#txtSoDetailRemark@(itemName)").val(somJson.SoDetailRemark);*@

            let popConfigMtlItem = {
                targetSelector: "#txtMtlItemId@(itemName)",
                popFunction: "PopViewMtlItem",
                objectMtlItemId: "#txtMtlItemId@(itemName)",
                objectMtlItemNo: "#txtMtlItemNo@(itemName)",
                objectMtlItemName: "#txtMtlItemName@(itemName)",
                objectMtlItemSpec: "#txtMtlItemSpec@(itemName)",
                objectInventoryId: "#cboInventoryId@(itemName)",
                objectUomId: "#cboUomId@(itemName), #cboSoPriceUomId@(itemName)"
            };
            InitPopView(popConfigMtlItem);

            if (!isMobile) {
                $("#cboInventoryId@(itemName), #cboUomId@(itemName), #cboCustomerMtlItemNo@(itemName), #cboSoPriceUomId@(itemName), #cboTaxNo@(itemName)").select2({
                    dropdownAutoWidth: true,
                    width: "100%"
                });
            }

            $("#txtMtlItemNo@(itemName)").off("change").on("change", function () {
                ComboBoxs.Default("#cboCustomerMtlItemNo@(itemName)", "@Url.Action("GetCustomerMtlItem", "Product")", { "MtlItemId": $("#txtMtlItemId@(itemName)").val(), "CustomerId": $("#cboCustomerIdSoModification").val() }, "", "HIDDEN", "", "CustomerMtlItemNo", "CustomerMtlItemId");
            });

            $("#txtSoQty@(itemName)").off("change").on("change", function () {
                $("#txtSoPriceQty@(itemName)").val($(this).val()).trigger("change");
            });

            $("#txtSoPriceQty@(itemName), #txtUnitPrice@(itemName)").off("change").on("change", function () {
                $("#txtAmount@(itemName)").val($("#txtUnitPrice@(itemName)").val() * $("#txtSoPriceQty@(itemName)").val());
            });

            $("#cboTaxNo@(itemName)").off("change").on("change", function () {
                let targetUrl = "@Url.Action("GetErpData", "BasicInformation")";
                let postData = {
                    "ColumnName": "TaxNo",
                    "Condition": $("#cboTaxNo@(itemName)").val()
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        $("#txtBusinessTaxRate@(itemName)").val(item.BusinessTaxRate);
                    });
                } else {
                    alert(data.msg, "alert", 0);
                }
            });
            $("#cboTaxNo@(itemName)").val($("#cboTaxNoSoModification").val()).trigger("change");
        }

        function Return@(itemName)() {
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName), .som-mode", "#editData@(itemName)");
            Query@(itemName)();
        }

        function TakeNumber@(itemName)(SoSequence) {
            let targetUrl = "@Url.Action("GetSoSequence", "SaleOrder")";
            let postData = {
                "SoId": $("#SoId").val()
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                $.each(data.result, function (i, item) {
                    var soseq = parseInt(item.SoSequence);

                    if (soseq == 0) {
                        soseq = 1;
                    } else {
                        soseq = soseq + 1;
                    }
                    var Serial = "0000" + soseq;

                    $(SoSequence).val(Serial.substr(Serial.length - 4));
                });
            }
        }
    </script>
)