@using Business_Manager.Helpers
@{
    string itemName = "SoModification";
    string itemNameText = "訂單單頭變更";
}

@Html.Resource("css",
    @<style>
    </style>
)

<div class="row" id="editData@(itemName)">
    <div class="col-12">
        <form class="container" autocomplete="off" id="editForm@(itemName)">
            <fieldset>
                <input type="hidden" id="SomId" name="SomId" value="-1" />
                <div class="row">
                    <div class="col-12 col-md-4 col-lg-4">
                        <div class="form-group row">
                            <label class="form-label col-12" for="cboSoErpPrefix@(itemName)">訂單單別 <span class="text-danger">*</span></label>
                            <div class="col-12">
                                <select class="form-control" id="cboSoErpPrefix@(itemName)" name="cboSoErpPrefix@(itemName)"
                                        data-msg-required="請選擇訂單單別" data-rule-required="true"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-4">
                        <div class="form-group row">
                            <label class="form-label col-12" for="txtSoErpNo@(itemName)">訂單單號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtSoErpNo@(itemName)" name="txtSoErpNo@(itemName)" placeholder="請輸入訂單單號"
                                       data-msg-maxlength="必須少於 11 個字元" maxlength="11"
                                       readonly />
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 col-lg-4">
                        <div class="form-group row">
                            <label class="form-label col-12" for="txtDocDate@(itemName)">
                                單據日期 <span class="text-danger">*</span>
                                <a class="float-right closure-status" href="javascript:void(0);"><i class="far fa-square"></i>&nbsp;整張結案</a>
                            </label>
                            <input type="checkbox" id="cbxClosureStatus@(itemName)" style="opacity: 0; position: absolute;" />
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtDocDate@(itemName)" name="txtDocDate@(itemName)" placeholder="請輸入單據日期"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       data-msg-required="請輸入單據日期" data-rule-required="true"
                                       readonly />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="form-group row">
                            <label class="form-label col-12" for="txtCustomerPurchaseOrder@(itemName)">客戶採購單</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtCustomerPurchaseOrder@(itemName)" name="txtCustomerPurchaseOrder@(itemName)" placeholder="請輸入客戶採購單"
                                       data-msg-maxlength="必須少於 20 個字元" maxlength="20" />
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="form-group row">
                            <label class="form-label col-12" for="cboCustomerId@(itemName)">客戶名稱 <span class="text-danger">*</span></label>
                            <div class="col-12">
                                <select class="form-control" id="cboCustomerId@(itemName)" name="cboCustomerId@(itemName)"
                                        data-msg-required="請選擇客戶名稱" data-rule-required="true"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboDepartmentId@(itemName)">部門名稱 <span class="text-danger">*</span></label>
                            <div class="col-12">
                                <select class="form-control" id="cboDepartmentId@(itemName)" name="cboDepartmentId@(itemName)"
                                        data-msg-required="請選擇部門名稱" data-rule-required="true"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboSalesmenId@(itemName)">業務人員 <span class="text-danger">*</span></label>
                            <div class="col-12">
                                <select class="form-control" id="cboSalesmenId@(itemName)" name="cboSalesmenId@(itemName)"
                                        data-msg-required="請選擇業務人員" data-rule-required="true"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group row">
                            <label class="form-label col-12" for="txtSoRemark@(itemName)">備註 </label>
                            <div class="col-12">
                                <textarea class="form-control" id="txtSoRemark@(itemName)" name="txtSoRemark@(itemName)"
                                          data-msg-maxlength="必須少於 255 個字元" maxlength="255" rows="2" placeholder="請輸入備註"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="form-group row">
                            <label class="form-label col-12" for="txtModiReason@(itemName)">變更原因 </label>
                            <div class="col-12">
                                <textarea class="form-control" id="txtModiReason@(itemName)" name="txtModiReason@(itemName)"
                                          data-msg-maxlength="必須少於 255 個字元" maxlength="255" rows="2" placeholder="請輸入變更原因"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="btn btn-collapse" data-toggle="collapse" href="#basic@(itemName)">
                    <span><i class="fas fa-clipboard"></i> 客戶基本資料</span>
                    <i class="fas fa-chevron-down"></i>
                </a>
                <div class="collapse mb-3" id="basic@(itemName)">
                    <div class="card card-body">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group row">
                                    <label class="col-12 col-form-label" for="txtCustomerAddressFirst@(itemName)">客戶聯絡地址(一) <span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <input type="text" class="form-control" id="txtCustomerAddressFirst@(itemName)" name="txtCustomerAddressFirst@(itemName)" placeholder="請輸入客戶聯絡地址(一)"
                                               data-msg-required="請輸入客戶聯絡地址(一)" data-rule-required="true"
                                               data-msg-maxlength="必須少於 200 個字元" maxlength="200" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group row">
                                    <label class="col-12 col-form-label" for="txtCustomerAddressSecond@(itemName)">客戶聯絡地址(二) </label>
                                    <div class="col-12">
                                        <input type="text" class="form-control" id="txtCustomerAddressSecond@(itemName)" name="txtCustomerAddressSecond@(itemName)" placeholder="請輸入客戶聯絡地址(二)"
                                               data-msg-maxlength="必須少於 200 個字元" maxlength="200" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtExchangeRate@(itemName)">匯率 <span class="text-danger">*</span></label>
                                    <div class="input-group col-12">
                                        <div class="input-group-prepend">
                                            <select class="form-control" id="cboCurrency@(itemName)" name="cboCurrency@(itemName)"
                                                    data-msg-required="請選擇交易幣別" data-rule-required="true"></select>
                                        </div>
                                        <input type="number" class="form-control" id="txtExchangeRate@(itemName)" name="txtExchangeRate@(itemName)" placeholder="請輸入匯率"
                                               data-msg-required="請輸入匯率" data-rule-required="true"
                                               readonly />
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="cboTradeTerm@(itemName)">交易條件 <span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select class="form-control" id="cboTradeTerm@(itemName)" name="cboTradeTerm@(itemName)"
                                                data-msg-required="請選擇交易條件" data-rule-required="true"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="cboTaxNo@(itemName)">稅別碼 <span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select class="form-control" id="cboTaxNo@(itemName)" name="cboTaxNo@(itemName)"
                                                data-msg-required="請選擇稅別碼" data-rule-required="true"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="cboTaxation@(itemName)">課稅別 <span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select class="form-control" id="cboTaxation@(itemName)" name="cboTaxation@(itemName)"
                                                data-msg-required="請選擇課稅別" data-rule-required="true"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtBusinessTaxRate@(itemName)">營業稅率 <span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <input type="number" class="form-control" id="txtBusinessTaxRate@(itemName)" name="txtBusinessTaxRate@(itemName)" placeholder="請輸入營業稅率"
                                               data-msg-required="請輸入營業稅率" data-rule-required="true"
                                               readonly />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="cboPaymentTerm@(itemName)">付款條件 <span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select class="form-control" id="cboPaymentTerm@(itemName)" name="cboPaymentTerm@(itemName)"
                                                data-msg-required="請選擇付款條件" data-rule-required="true"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtPriceTerm@(itemName)">價格條件 </label>
                                    <div class="col-12">
                                        <input type="text" class="form-control" id="txtPriceTerm@(itemName)" name="txtPriceTerm@(itemName)" placeholder="請輸入價格條件"
                                               data-msg-maxlength="必須少於 40 個字元" maxlength="40" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="chkDepositPartial@(itemName)">訂金分批 <span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-4 col-6">
                                                <label class="control control-solid control-solid-info control--radio col-12">
                                                    是
                                                    <input type="radio" id="chkDepositPartial@(itemName)Y" name="chkDepositPartial@(itemName)" value="Y"
                                                           data-msg-required="請選擇是否訂金分批" data-rule-required="true" />
                                                    <span class="control__indicator"></span>
                                                </label>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-6">
                                                <label class="control control-solid control-solid-info control--radio col-12">
                                                    否
                                                    <input type="radio" id="chkDepositPartial@(itemName)N" name="chkDepositPartial@(itemName)" value="N"
                                                           data-msg-required="請選擇是否訂金分批" data-rule-required="true" checked />
                                                    <span class="control__indicator"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="chkDetailMultiTax@(itemName)">單身多稅率 <span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-4 col-6">
                                                <label class="control control-solid control-solid-info control--radio col-12">
                                                    是
                                                    <input type="radio" id="chkDetailMultiTax@(itemName)Y" name="chkDetailMultiTax@(itemName)" value="Y"
                                                           data-msg-required="請選擇是否單身多稅率" data-rule-required="true" />
                                                    <span class="control__indicator"></span>
                                                </label>
                                            </div>
                                            <div class="col-lg-3 col-md-4 col-6">
                                                <label class="control control-solid control-solid-info control--radio col-12">
                                                    否
                                                    <input type="radio" id="chkDetailMultiTax@(itemName)N" name="chkDetailMultiTax@(itemName)" value="N"
                                                           data-msg-required="請選擇是否單身多稅率" data-rule-required="true" checked />
                                                    <span class="control__indicator"></span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtDepositRate@(itemName)">訂金比率 <span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <input type="number" class="form-control" id="txtDepositRate@(itemName)" name="txtDepositRate@(itemName)" placeholder="請輸入訂金比率"
                                               data-msg-required="請輸入訂金比率" data-rule-required="true"
                                               step="0.01" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="cboShipMethod@(itemName)">運輸方式 <span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select class="form-control" id="cboShipMethod@(itemName)" name="cboShipMethod@(itemName)"
                                                data-msg-required="請選擇運輸方式" data-rule-required="true"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

@Html.Resource("js",
    @<script>
        let objForm@(itemName) = "#editForm@(itemName)";

        function InitData@(itemName)() {
            $("#cboSoErpPrefix@(itemName)").attr("disabled", true);
            $("#txtSoErpNo@(itemName)").attr("disabled", true);
            $("#cboCustomerId@(itemName)").attr("disabled", true);
            $("#cboTaxation@(itemName)").attr("disabled", true);

            ComboBoxs.WithText("#cboSoErpPrefix@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "SoErpPrefix" }, "", "NA", "", "SoErpPrefixName", "SoErpPrefixNo"); //訂單單別
            ComboBoxs.Default("#cboCustomerId@(itemName)", "@Url.Action("GetCustomer", "ScmBasicInformation")", { "Status": "A", "TransferStatus": "A" }, "", "NA", "", "CustomerWithNo", "CustomerId"); //客戶
            ComboBoxs.Default("#cboDepartmentId@(itemName)", "@Url.Action("GetDepartment", "BasicInformation")", { "Status": "A" }, "", "NA", "", "DepartmentWithNo", "DepartmentId"); //部門
            ComboBoxs.Default("#cboSalesmenId@(itemName)", "@Url.Action("GetUser", "BasicInformation")", { "Departments": "106,107,110" }, "", "NA", "", "UserWithNo", "UserId"); //業務員
            ComboBoxs.WithText("#cboCurrency@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "Currency" }, "", "NA", "", "CurrencyName", "Currency"); //交易幣別
            ComboBoxs.WithText("#cboTaxNo@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "TaxNo" }, "", "NA", "", "TaxName", "TaxNo"); //稅別碼
            ComboBoxs.Default("#cboTaxation@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "Customer.Taxation" }, "", "NA", "", "TypeName", "TypeNo"); //課稅別
            ComboBoxs.Default("#cboTradeTerm@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "TradeTerm" }, "1", "NA", "", "TradeTermName", "TradeTermNo"); //交易條件
            ComboBoxs.Default("#cboPaymentTerm@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "PaymentTerm" }, "", "NA", "", "PaymentTermName", "PaymentTermNo"); //付款條件
            ComboBoxs.Default("#cboShipMethod@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "ShipMethod" }, "", "NA", "", "ShipMethodName", "ShipMethodNo"); //運輸方式

            Suites.DateDropper("#txtDocDate@(itemName)");
            let currentDate = new Date();
            Suites.SetDateDropper("#txtDocDate@(itemName)", currentDate);

            if (somJson) {
                $("#cboSoErpPrefix@(itemName)").val(somJson.SoErpPrefix);
                $("#txtSoErpNo@(itemName)").val(somJson.SoErpNo);
                Suites.SetDateDropper("#txtDocDate@(itemName)", new Date(somJson.DocDate));
                $("#txtCustomerPurchaseOrder@(itemName)").val(somJson.CustomerPurchaseOrder);
                $("#cboCustomerId@(itemName)").val(somJson.CustomerId);
                $("#cboDepartmentId@(itemName)").val(somJson.DepartmentId);
                $("#cboSalesmenId@(itemName)").val(somJson.SalesmenId);
                $("#txtSoRemark@(itemName)").val(somJson.SoRemark);
                $("#txtCustomerAddressFirst@(itemName)").val(somJson.CustomerAddressFirst);
                $("#txtCustomerAddressSecond@(itemName)").val(somJson.CustomerAddressSecond);
                $("#cboCurrency@(itemName)").val(somJson.Currency);
                $("#txtExchangeRate@(itemName)").val(somJson.ExchangeRate);
                $("#cboTaxNo@(itemName)").val(somJson.TaxNo).trigger("change");;
                $("#cboTaxation@(itemName)").val(somJson.Taxation);
                $("#txtBusinessTaxRate@(itemName)").val(somJson.BusinessTaxRate);
                $("#cboTradeTerm@(itemName)").val(somJson.TradeTerm);
                $("#txtPriceTerm@(itemName)").val(somJson.PriceTerm);
                $("#cboPaymentTerm@(itemName)").val(somJson.PaymentTerm);
                if (somJson.DepositPartial == "Y") $("#chkDepositPartial@(itemName)Y").prop("checked", true);
                if (somJson.DepositPartial == "N") $("#chkDepositPartial@(itemName)N").prop("checked", true);
                $("#txtDepositRate@(itemName)").val(somJson.DepositRate);
                if (somJson.DetailMultiTax == "Y") $("#chkDetailMultiTax@(itemName)Y").prop("checked", true);
                if (somJson.DetailMultiTax == "N") $("#chkDetailMultiTax@(itemName)N").prop("checked", true);
                $("#cboShipMethod@(itemName)").val(somJson.ShipMethod);
                $("#txtConfirmStatus@(itemName)").val(somJson.ConfirmStatus);
                $("#txtModiReason@(itemName)").val(somJson.ModiReason);
            } else {
                alert("資料載入錯誤!");
            }

            $(".closure-status").click(function () {
                $("#cbxClosureStatus@(itemName)").attr("checked", !$("#cbxClosureStatus@(itemName)").attr("checked"));
                $(this).find("i").toggleClass("fa-square fa-check-square");
            });

            if (!isMobile) {
                $("#cboSoErpPrefix@(itemName), #cboCustomerId@(itemName), #cboDepartmentId@(itemName), #cboSalesmenId@(itemName), #cboCurrency@(itemName), #cboTaxNo@(itemName), #cboTaxation@(itemName), #cboTradeTerm@(itemName), #cboPaymentTerm@(itemName), #cboShipMethod@(itemName)").select2({
                    dropdownAutoWidth: true,
                    width: "100%"
                });
            }

            $("#cboCurrency@(itemName)").off("change").on("change", function () {
                let targetUrl = "@Url.Action("GetErpData", "BasicInformation")";
                let postData = {
                    "ColumnName": "ExchangeRate",
                    "Condition": $(this).val()
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        $("#txtExchangeRate@(itemName)").val(item.ExchangeRateName);
                    });
                } else {
                    alert(data.msg, "alert", 0);
                }
                $("#cboCurrency@(itemName)").select2({
                    dropdownAutoWidth: true,
                    width: "100%"
                });
            });

            $("#cboTaxNo@(itemName)").off("change").on("change", function () {
                let targetUrl = "@Url.Action("GetErpData", "BasicInformation")";
                let postData = {
                    "ColumnName": "TaxNo",
                    "Condition": $(this).val()
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        $("#txtBusinessTaxRate@(itemName)").val(item.BusinessTaxRate);
                        $("#cboTaxation@(itemName)").val(item.Taxation).trigger("change");
                    });
                } else {
                    alert(data.msg, "alert", 0);
                }
                $("#cboTaxNo@(itemName)").select2({
                    dropdownAutoWidth: true,
                    width: "100%"
                });
            });
        }
    </script>
)