
@using Business_Manager.Helpers
@{
    string itemName = "ViewPMDOrder5";
    string itemNameText = "精定位退货明细";
    string authority = ViewBag.authority;
}

<script src="@Url.Content("~/Scripts/dhtmlx/spreadsheet.commercial/4.3.0/spreadsheet.min.js")"></script>
<link href="@Url.Content("~/Content/dhtmlx/spreadsheet.commercial/4.3.0/spreadsheet.min.css")" rel="stylesheet" />


@Html.Resource("css",
    @<style>
         .help-block {
             display: none;
             margin: 5px 0 0;
             border: 3px dashed #b1b1b1;
             border-radius: 5px;
             padding: 5px 10px;
         }

         dt {
             float: left;
             clear: left;
             width: 110px;
         }

             dt::after {
                 content: "：";
             }

         dd {
             margin: 0 0 0 80px;
             padding: 0;
             color: #36a2f5;
             font-weight: bold;
         }

         .table-sticky thead .col-sticky:nth-last-child(1) {
             right: 0;
         }

         .table-sticky tbody .col-sticky:nth-last-child(1) {
             right: 0;
         }

         .showStyle {
             display: inline-block;
             margin-top: -1px;
         }

         .AddNewItem {
             margin: 2px 0;
         }
    </style>
                                                                                                                                                                )

     <div class="row mb-3">
         <div class="row col-6 col-sm-6 col-md-6">
             <div class="row col-6 col-sm-6 col-md-6">
                 <div class="col-6 col-sm-6 col-md-6">
                     <select class="form-control" id="cboSearchCustomer@(itemName)" name="cboSearchCustomer@(itemName)"
                             data-msg-required="請選擇客戶" data-rule-required="true" style="height: 39px;"></select>

                 </div>
                 <div class="col-6 col-sm-6 col-md-6">
                     <button type="button" class="btn btn-primary" onclick="SearchData@(itemName)()"><i class="fal fa-search"></i>搜尋</button>

                 </div>
             </div>
             <div class="col-6 col-sm-6 col-md-6 text-danger" style="font-size: 16px;">
                 <i class="fas fa-exclamation-triangle"></i>
                 注意事項!<br>
                 1.紅框標示為必填欄位<br>
                 2.資料維護完成後先 <i class="fas fa-save"></i>
                 暫存數據，再點擊 <i class="fas fa-arrow-alt-square-up"></i>
                 上傳數據至後台
             </div>
         </div>
         <div class="col-6 col-sm-6 col-md-6 text-right">
             <a class="btn btn-success" href="javascript:PopSendView@(itemName)();"><i class="fas fa-paper-plane"></i>寄送信件</a>
         </div>
     </div>

<div style="height: 75%; width: 100%;" id="spreadsheetG@(itemName)"></div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">

                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">序號</th>
                                        <th scope="col" style="min-width: 120px;">客戶編號</th>
                                        <th scope="col" style="min-width: 120px;">客戶名稱</th>
                                        <th scope="col" style="min-width: 120px;">退貨日期</th>
                                        <th scope="col" style="min-width: 120px;">退貨數量</th>
                                        <th scope="col" style="min-width: 120px;">品名</th>
                                        <th class="text-center" scope="col" style="min-width: 120px;">退貨問題點</th>
                                        <th class="text-center" scope="col" style="min-width: 120px;">預計出貨日</th>
                                        <th class="text-center" scope="col" style="min-width: 120px;">預計出貨數量</th>
                                        <th class="text-center" scope="col" style="min-width: 120px;">實際出貨日</th>
                                        <th class="text-center" scope="col" style="min-width: 120px;">實際出貨數量</th>
                                        <th class="text-center" scope="col" style="min-width: 120px;">備註</th>
                                        <th class="text-center" scope="col" style="min-width: 120px;">發貨地</th>
                                        <th class="text-center" scope="col" style="min-width: 120px;">預留欄位</th>
                                        <th class="text-center" scope="col" style="min-width: 120px;">預留欄位</th>
                                        <th class="text-center" scope="col" style="min-width: 120px;">預留欄位</th>
                                        <th class="text-center" scope="col" style="min-width: 120px;">預留欄位</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        @*<div class="pagination" id="page@(itemName)"></div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalCustomer@(itemName)">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">客戶資料</h5>
                <button class="close" type="button" onclick="Close@(itemName)()">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row" id="listData@(itemName)">
                    <div class="col-12">
                        <form autocomplete="off" id="queryForm@(itemName)">
                            <fieldset>
                                <div class="form-row align-items-center mb-2">
                                    <div class="col-12 col-md-auto col-lg-auto mb-2 mb-md-0 mb-lg-0">
                                        <input type="text" class="form-control" id="txtCustomerNoQ@(itemName)" name="txtSearchKeyQ@(itemName)"
                                               placeholder="請輸入客戶代號" />
                                    </div>

                                    <div class="col-12 col-md-auto col-lg-auto mb-2 mb-md-0 mb-lg-0">
                                        <input type="text" class="form-control" id="txtCustomerNameQ@(itemName)" name="txtSearchKeyQ@(itemName)"
                                               placeholder="請輸入客戶中文名/英文名" />
                                    </div>
                                    <div class="col-12 col-md-auto col-lg-auto text-right text-md-left text-lg-left">
                                        <button type="button" class="btn btn-primary" onclick="QueryCustomer@(itemName)()"><i class="fal fa-search"></i>搜尋</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th scope="col" style="min-width: 200px;">客戶名稱</th>
                                        <th scope="col" style="min-width: 200px;">客戶代號</th>

                                        <th class="text-center radio-mode" scope="col" style="min-width: 110px;">請選擇</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalSend@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">寄信設定</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body" style="max-height: 60vh; overflow: scroll;">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">寄送客戶</label>
                            <div class="col-12">
                                <select class="form-control" id="cboSendCustomer@(itemName)" name="cboSendCustomer@(itemName)"
                                        data-msg-required="請選擇寄送客戶" data-rule-required="true" multiple></select>
                            </div>
                        </div>
                       
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="SynchronizePMD@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>寄出</button>
            </div>
        </div>
    </div>
</div>


@*@Html.Partial("ViewQcDataResult")*@
@*@Html.Partial("ViewQcItem")*@
@*@Html.Partial("../QcDataManagement/ViewQcDataResult")*@




@Html.Resource("js",
    @<script>
        let objForm@(itemName) = "#editForm@(itemName)";
                            let lockBy@(itemName);

        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };

        let parameterId@(itemName);
        let userId@(itemName);
        let spreadsheet@(itemName);
        let spreadsheetData@(itemName);

        let spreadsheetJson@(itemName) =
        {
            spreadsheetInfo: []
        }

        var QcItemExcelData@(itemName) = "";

        var lastCell = "";
        var nowCell = "";
        let customerNocell@(itemName);
        let customerNamecell@(itemName);

        let defaultCell@(itemName) = ["A", "B", "C", "D", "E", "F", "G"];

        function Expand@(itemName)() {
            $("#spreadsheetG@(itemName)").show();
            $("#listData@(itemName)").hide();
            GetUserInfo@(itemName)();
            //GetCurrentEdit@(itemName)();
            ComboBoxs.Default("#cboSearchCustomer@(itemName)", "@Url.Action("GetPMDOrderCustomerList", "SaleOrder")", {"TypeId": 5}, "", "", "請選擇", "CustomerWithNo", "CustomerId");

            if (!isMobile) {
                $("#cboSearchCustomer@(itemName), #cboSendCustomer@(itemName), #cboSendExcel@(itemName) ").select2({
                    width: "100%"
                });
            }
            SearchData@(itemName)()
        }

        function ShowList@(itemName)() {
             $("#spreadsheetG@(itemName)").hide();
            $("#listData@(itemName)").show();

            let innerHtml = '';
            let pageCount = 0;

            let targetUrl = "@Url.Action("GetPMDOrderData", "SaleOrder")";
            let postData = {
                "TypeId": 5,
                "CustomerId": $("#cboSearchCustomer@(itemName)").val()
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (data.result.length > 0) {

                    $.each(data.result, function (i, item) {

                        innerHtml += `<tr>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.PMDOrderTempId}" style="max-width: 200px;">${item.PMDOrderTempId}</td>
<td class="ellipsis" data-toggle="tooltip" title="${item.CustomerNo}" style="max-width: 200px;">${item.CustomerNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.CustomerName}" style="max-width: 200px;">${item.CustomerName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.OrderDate}" style="max-width: 200px;">${item.OrderDate}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ReturnQty}" style="max-width: 200px;">${item.ReturnQty}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.CustomerMtlItemNo}" style="max-width: 200px;">${item.CustomerMtlItemNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ReturnIssue}" style="max-width: 200px;">${item.ReturnIssue}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.PlannedShipmentDate}" style="max-width: 200px;">${item.PlannedShipmentDate}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.PlannedShipmentQty}" style="max-width: 200px;">${item.PlannedShipmentQty}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ActualShipmentDate}" style="max-width: 200px;">${item.ActualShipmentDate}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ActualShipmentQty}" style="max-width: 200px;">${item.ActualShipmentQty}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Remark}" style="max-width: 200px;">${item.Remark}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ShipFrom}" style="max-width: 200px;">${item.ShipFrom}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.PMDItem01}" style="max-width: 200px;">${item.PMDItem01}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.PMDItem02}" style="max-width: 200px;">${item.PMDItem02}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.PMDItem03}" style="max-width: 200px;">${item.PMDItem03}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.PMDItem04}" style="max-width: 200px;">${item.PMDItem04}</td>
                                      </tr>`;
                    });

                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="20" style="background-color: #fff3cd;">
                                        <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
        }

        function ShowExcel@(itemName)() {
            $("#spreadsheetG@(itemName)").show();
            $("#listData@(itemName)").hide();

             QcItemExcelData@(itemName) = `
                    {"sheets":[{"name":"sheet1","data":[
                     {"cell":"A1","css":"dhx_generated_class_u1690959030028","format":"text","value":"序號"}
                    ,{"cell":"B1","css":"dhx_generated_class_u1690959030040","format":"text","value":"客戶編號"}
                    ,{"cell":"C1","css":"dhx_generated_class_u1690959030040","format":"text","value":"客戶名稱"}
                    ,{"cell":"D1","css":"dhx_generated_class_u1690959030028","format":"text","value":"退貨日期"}
                    ,{"cell":"E1","css":"dhx_generated_class_u1690959030028","number":"text","value":"退貨數量"}
                    ,{"cell":"F1","css":"dhx_generated_class_u1690959030028","format":"text","value":"品名"}
                    ,{"cell":"G1","css":"dhx_generated_class_u1690959030028","format":"text","value":"退貨問題點"}
                    ,{"cell":"H1","css":"dhx_generated_class_u1690959030040","format":"common","value":"預計出貨日"}
                    ,{"cell":"I1","css":"dhx_generated_class_u1690959030040","number":"common","value":"預計出貨數量"}
                    ,{"cell":"J1","css":"dhx_generated_class_u1690959030040","format":"common","value":"實際出貨日"}
                    ,{"cell":"K1","css":"dhx_generated_class_u1690959030040","number":"common","value":"實際出貨數量"}
                    ,{"cell":"L1","css":"dhx_generated_class_u1690959030028","format":"common","value":"備註"}
                    ,{"cell":"M1","css":"dhx_generated_class_u1690959030040","format":"text","value":"發貨地"}
                    ,{"cell":"N1","css":"dhx_generated_class_u1690959030028","format":"text","value":"預留欄位"}
                    ,{"cell":"O1","css":"dhx_generated_class_u1690959030028","format":"text","value":"預留欄位"}
                    ,{"cell":"P1","css":"dhx_generated_class_u1690959030028","format":"text","value":"預留欄位"}
                    ,{"cell":"Q1","css":"dhx_generated_class_u1690959030028","format":"text","value":"預留欄位"}]
                    ,"cols":[{"width":180},{"width":180},{"width":180},{"width":180},{"width":180},{"width":180},{"width":180},{"width":180},{"width":180},{"width":180},{"width":180},{"width":180},{"width":180},{"width":180},{"width":180},{"width":180},{"width":180},{"width":180},{"width":180},{"width":180}]
                    ,"rows":[{"height":32}]}]
                    ,"styles":{
                    "dhx_generated_class_u1690959030028":{"background":"#BCE4CE","text-align":"center","justify-content":"center"}
                    ,"dhx_generated_class_u1690959030038":{"background":"#81D4FA","text-align":"center","justify-content":"center"}
                    ,"dhx_generated_class_u1690959030039":{"background":"#D6BDCC","text-align":"center","justify-content":"center"}
                    ,"dhx_generated_class_u1690959030040":{"background":"#FFCDD2","text-align":"center","justify-content":"center"}
                    ,"dhx_generated_class_u1690959030041":{"background":"#90D2AF","text-align":"center","justify-content":"center"}
                    ,"dhx_generated_class_u1690959030042":{"background":"#88A3F9","text-align":"center","justify-content":"center"}
                    ,"dhx_generated_class_u1690959030043":{"background":"#D2C5C1","text-align":"center","justify-content":"center"}}
                    ,"formats":[{"name":"Common","id":"common","mask":"","example":"1500.31"},{"name":"Number","id":"number","mask":"#,###0.000","example":"1500.312"}
                    ,{"name":"Percent","id":"percent","mask":"#,##0.00%","example":"15.0031"},{"name":"Currency","id":"currency","mask":"$#,##0.00","example":"1500.31"}
                    ,{"name":"Date","id":"date","mask":"yy-mm-dd","example":"2023-11-20","dateFormat":"%y/%m/%d"}
                    ,{"name":"Time","id":"time","mask":"h:mm:ss am/pm","example":"0.5625","timeFormat":12}
                    ,{"name":"Text","id":"text","mask":"@@","example":"some text"}]}
                `

                $(".advanced-block").slideDown("slow");
                ResetSpreadsheet@(itemName)();
                $("#spreadsheetG@(itemName)").css("height", "1100px");
                //spreadsheet@(itemName).clear();

                if (!isMobile) {
                    $("#cboShopId@(itemName)").select2({
                        width: "100%"
                    });
                    $("#cboQmmDetailId@(itemName)").select2({
                        width: "100%"
                    });
                }

                //data = spreadsheet@(itemName).serialize();

                //載入新工作表後偵測
                spreadsheet@(itemName).events.on("afterSheetChange", function (sheet) {
                    //spreadsheet.lock("A1:H1");

                });

                spreadsheet@(itemName).events.on("afterFocusSet", function (cell) {
                    let systemType = $("#cboSystemType@(itemName)").val();
                    var rows = cell.substr(1);

                    if (cell.indexOf("B") != -1 && cell != "B1") {
                    let cellNo = cell.substring(1);
                    let customerNoCell = cell;
                    let customerNameCell = "C" + cellNo;

                    let idCell = "A" + cellNo;

                    customerNocell@(itemName) = customerNoCell
                    customerNamecell@(itemName) = customerNameCell

                    //let mtlItemSpecCell = "F" + cellNo;
                    //let InventoryNoCell = "H" + cellNo;

                    GetPMDOrderId@(itemName)(idCell);

                    PopViewCustomers@(itemName)();



                }
                     @*GetCurrentEdit@(itemName)();
                    UpdatePageLock@(itemName)(1)*@

                    @*if (cell.indexOf("D") != -1 && cell != "D1" && systemType == "system-mode") {
                        $("#machineSelect@(itemName)").modal("show");
                    }*@

                    @*if (cell.indexOf("A") != -1 && cell != "A1") {
                        let cellNo = cell.substring(1);
                        let mtlItemNoCell = cell;
                        let mtlItemNameCell = "C" + cellNo;
                        //let mtlItemSpecCell = "F" + cellNo;
                        //let InventoryNoCell = "H" + cellNo;
                        PopViewMtlItem@(itemName)(mtlItemNoCell, mtlItemNameCell);
                    }*@




                });

                spreadsheet@(itemName).events.on("afterEditEnd", function (cell, value) {
                    if (typeof (data) == `undefined`) {
                        data = spreadsheet@(itemName).serialize();
                    }


                });

                spreadsheet@(itemName).toolbar.events.on("click", function (id) {
                    if (id == "Confirm") {
                        ConfirmExcelData@(itemName)();
                    }
                    else if (id == "SaveTempJson") {
                        SaveTempSpreadsheet@(itemName)();
                    }
                });

               InitData@(itemName)();
        }

        function SearchData@(itemName)(){
            GetCurrentEdit@(itemName)()
        }

        function InitData@(itemName)(parameterId) {
            var rows = 1;

            let targetUrl = "@Url.Action("GetPMDOrderData", "SaleOrder")";
            let postData = {
                "TypeId": 5,
                "CustomerId": $("#cboSearchCustomer@(itemName)").val()
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                if (data.result.length > 0) {
                    let dataset = JSON.parse(QcItemExcelData@(itemName));
                    spreadsheet@(itemName).parse(dataset);
                    spreadsheetData@(itemName) = dataset;

                    $.each(data.result, function (i, item) {
                        rows = i + 2

                        spreadsheet@(itemName).setFormat("A" + rows, "text")
                        spreadsheet@(itemName).setFormat("B" + rows, "text")
                        spreadsheet@(itemName).setFormat("C" + rows, "text")
                        spreadsheet@(itemName).setFormat("D" + rows, "text")
                        spreadsheet@(itemName).setFormat("E" + rows, "number")
                        spreadsheet@(itemName).setFormat("F" + rows, "text")
                        spreadsheet@(itemName).setFormat("G" + rows, "text")
                        spreadsheet@(itemName).setFormat("H" + rows, "text")
                        spreadsheet@(itemName).setFormat("I" + rows, "number")
                        spreadsheet@(itemName).setFormat("J" + rows, "text")
                        spreadsheet@(itemName).setFormat("K" + rows, "number")
                        spreadsheet@(itemName).setFormat("L" + rows, "text")
                        spreadsheet@(itemName).setFormat("M" + rows, "text")
                        spreadsheet@(itemName).setFormat("N" + rows, "text")
                        spreadsheet@(itemName).setFormat("O" + rows, "text")
                        spreadsheet@(itemName).setFormat("P" + rows, "text")
                        spreadsheet@(itemName).setFormat("Q" + rows, "text")



                        spreadsheet@(itemName).setValue('A' + rows, item.PMDOrderTempId);
                        spreadsheet@(itemName).setValue("B" + rows, item.CustomerNo)
                        spreadsheet@(itemName).setValue("C" + rows, item.CustomerName)
                        spreadsheet@(itemName).setValue("D" + rows, item.OrderDate)
                        spreadsheet@(itemName).setValue("E" + rows, item.ReturnQty)
                        spreadsheet@(itemName).setValue("F" + rows, item.CustomerMtlItemNo)
                        spreadsheet@(itemName).setValue("G" + rows, item.ReturnIssue)
                        spreadsheet@(itemName).setValue("H" + rows, item.PlannedShipmentDate)
                        spreadsheet@(itemName).setValue("I" + rows, item.PlannedShipmentQty)
                        spreadsheet@(itemName).setValue("J" + rows, item.ActualShipmentDate)
                        spreadsheet@(itemName).setValue("K" + rows, item.ActualShipmentQty)
                        spreadsheet@(itemName).setValue("L" + rows, item.Remark)
                        spreadsheet@(itemName).setValue("M" + rows, item.ShipFrom)
                        spreadsheet@(itemName).setValue("N" + rows, item.PMDItem01)
                        spreadsheet@(itemName).setValue("O" + rows, item.PMDItem02)
                        spreadsheet@(itemName).setValue("P" + rows, item.PMDItem03)
                        spreadsheet@(itemName).setValue("Q" + rows, item.PMDItem04)



                    })
                    spreadsheet@(itemName).lock("A1:T1");
                    spreadsheet@(itemName).lock("A1:A" + rows);


                } else {
                    let dataset = JSON.parse(QcItemExcelData@(itemName));
                    spreadsheet@(itemName).parse(dataset);
                    spreadsheetData@(itemName) = dataset;
                    spreadsheet@(itemName).lock("A1:T1");

                }
            } else {
                let dataset = JSON.parse(QcItemExcelData@(itemName));
                spreadsheet@(itemName).parse(dataset);
                spreadsheetData@(itemName) = dataset;
                spreadsheet@(itemName).lock("A1:T1");

            }


        }

        function ResetSpreadsheet@(itemName)() {
            $("#spreadsheetG@(itemName)").empty();

            spreadsheet@(itemName) = new dhx.Spreadsheet("spreadsheetG@(itemName)", {
                menu: true,
                //rowsCount: 10,
                colsCount: 150
            });

            spreadsheet@(itemName).toolbar.data.add({
                type: "button",
                icon: "fas fa-save",
                value: "暫存數據",
                tooltip: "暫存數據",
                id: "SaveTempJson"
            });


            spreadsheet@(itemName).toolbar.data.add({
                type: "button",
                icon: "fas fa-arrow-alt-square-up",
                value: "上傳數據至後台",
                tooltip: "上傳數據至後台",
                id: "Confirm"
            });

        }


        function ReLoadSpreadsheetData@(itemName)() {
            spreadsheetJson@(itemName).spreadsheetInfo = [];
            spreadsheetData@(itemName) = spreadsheet@(itemName).serialize();
            $.each(spreadsheetData@(itemName).sheets[0].data, function (i, item) {
                let cell = item.cell;

                if (cell.length == 2 && cell.split('')[1] == "1" ) {
                    return;
                }

                if (cell.split('')[0] == "A" && item.value !== undefined) {
                    //if (item.value != "") {
                        let inputSpreadsheetInfo =
                        {
                            "PMDOrderId": item.value,
                            "Row": cell.split('A')[1]
                        };
                        spreadsheetJson@(itemName).spreadsheetInfo.push(inputSpreadsheetInfo);
                    //}
                }

                if (cell.split('')[0] == "B") {
                    let row = cell.split('B')[1];
                    $.each(spreadsheetJson@(itemName).spreadsheetInfo, function (j, item2) {
                        if (item2.Row == row) {
                            spreadsheetJson@(itemName).spreadsheetInfo[j]["CustomerNo"] = item.value;
                        }
                    });
                }

                if (cell.split('')[0] == "C") {
                    let row = cell.split('C')[1];
                    $.each(spreadsheetJson@(itemName).spreadsheetInfo, function (j, item2) {
                        if (item2.Row == row) {
                            spreadsheetJson@(itemName).spreadsheetInfo[j]["CustomerName"] = item.value;
                        }
                    });
                }

                //球標
                if (cell.split('')[0] == "D") {
                    let row = cell.split('D')[1];
                    $.each(spreadsheetJson@(itemName).spreadsheetInfo, function (j, item2) {
                        if (item2.Row == row) {
                            spreadsheetJson@(itemName).spreadsheetInfo[j]["ReturnDate"] = item.value;
                        }
                    });
                }

                //項目名稱
                if (cell.split('')[0] == "E") {
                    let row = cell.split('E')[1];
                    $.each(spreadsheetJson@(itemName).spreadsheetInfo, function (j, item2) {
                        if (item2.Row == row) {
                            spreadsheetJson@(itemName).spreadsheetInfo[j]["ReturnQty"] = item.value;
                        }
                    });
                }

                //項目備註
                if (cell.split('')[0] == "F") {
                    let row = cell.split('F')[1];
                    $.each(spreadsheetJson@(itemName).spreadsheetInfo, function (j, item2) {
                        if (item2.Row == row) {
                            spreadsheetJson@(itemName).spreadsheetInfo[j]["CustomerMtlItemNo"] = item.value;
                        }
                    });
                }
                //設計值
                if (cell.split('')[0] == "G") {
                    let row = cell.split('G')[1];
                    $.each(spreadsheetJson@(itemName).spreadsheetInfo, function (j, item2) {
                        if (item2.Row == row) {
                            spreadsheetJson@(itemName).spreadsheetInfo[j]["ReturnIssue"] = item.value;
                        }
                    });
                }
                //上限
                if (cell.split('')[0] == "H") {
                    let row = cell.split('H')[1];
                    $.each(spreadsheetJson@(itemName).spreadsheetInfo, function (j, item2) {
                        if (item2.Row == row) {
                            spreadsheetJson@(itemName).spreadsheetInfo[j]["PlannedShipmentDate"] = item.value;
                        }
                    });
                }
                //下限
                if (cell.split('')[0] == "I") {
                    let row = cell.split('I')[1];
                    $.each(spreadsheetJson@(itemName).spreadsheetInfo, function (j, item2) {
                        if (item2.Row == row) {
                            spreadsheetJson@(itemName).spreadsheetInfo[j]["PlannedShipmentQty"] = item.value;
                        }
                    });
                }
                //單位
                if (cell.split('')[0] == "J") {
                    let row = cell.split('J')[1];
                    $.each(spreadsheetJson@(itemName).spreadsheetInfo, function (j, item2) {
                        if (item2.Row == row) {
                            spreadsheetJson@(itemName).spreadsheetInfo[j]["ActualShipmentDate"] = item.value;
                        }
                    });
                }
                //機台
                if (cell.split('')[0] == "K") {
                    let row = cell.split('K')[1];
                    $.each(spreadsheetJson@(itemName).spreadsheetInfo, function (j, item2) {
                        if (item2.Row == row) {
                            spreadsheetJson@(itemName).spreadsheetInfo[j]["ActualShipmentQty"] = item.value;
                        }
                    });
                }
                //備註
                if (cell.split('')[0] == "L") {
                    let row = cell.split('L')[1];
                    $.each(spreadsheetJson@(itemName).spreadsheetInfo, function (j, item2) {
                        if (item2.Row == row) {
                            spreadsheetJson@(itemName).spreadsheetInfo[j]["Remark"] = item.value;
                        }
                    });
                }
                //備註
                @*if (cell.split('')[0] == "M") {
                    let row = cell.split('M')[1];
                    $.each(spreadsheetJson@(itemName).spreadsheetInfo, function (j, item2) {
                        if (item2.Row == row) {
                            spreadsheetJson@(itemName).spreadsheetInfo[j]["TrackingNumber"] = item.value;
                        }
                    });
                }*@
                //備註
                if (cell.split('')[0] == "M") {
                    let row = cell.split('M')[1];
                    $.each(spreadsheetJson@(itemName).spreadsheetInfo, function (j, item2) {
                        if (item2.Row == row) {
                            spreadsheetJson@(itemName).spreadsheetInfo[j]["ShipFrom"] = item.value;
                        }
                    });
                }
                //備註
                if (cell.split('')[0] == "N") {
                    let row = cell.split('N')[1];
                    $.each(spreadsheetJson@(itemName).spreadsheetInfo, function (j, item2) {
                        if (item2.Row == row) {
                            spreadsheetJson@(itemName).spreadsheetInfo[j]["PMDItem01"] = item.value;
                        }
                    });
                }
                //備註
                if (cell.split('')[0] == "O") {
                    let row = cell.split('O')[1];
                    $.each(spreadsheetJson@(itemName).spreadsheetInfo, function (j, item2) {
                        if (item2.Row == row) {
                            spreadsheetJson@(itemName).spreadsheetInfo[j]["PMDItem02"] = item.value;
                        }
                    });
                }
                //備註
                if (cell.split('')[0] == "P") {
                    let row = cell.split('P')[1];
                    $.each(spreadsheetJson@(itemName).spreadsheetInfo, function (j, item2) {
                        if (item2.Row == row) {
                            spreadsheetJson@(itemName).spreadsheetInfo[j]["PMDItem03"] = item.value;
                        }
                    });
                }
                //備註
                if (cell.split('')[0] == "Q") {
                    let row = cell.split('Q')[1];
                    $.each(spreadsheetJson@(itemName).spreadsheetInfo, function (j, item2) {
                        if (item2.Row == row) {
                            spreadsheetJson@(itemName).spreadsheetInfo[j]["PMDItem04"] = item.value;
                        }
                    });
                }

            });

        }

        function CheckBarcodeAccurately@(itemName)() {
            @*let accuratelyResult = "";
            let barcodeList = [];
            $.each(barcodeJson.barcodeInfo, function (i, item) {
                if (item.BarcodeNo == null) {
                    return false;
                }
                else {
                    if (barcodeList.indexOf(item.BarcodeNo) == -1) {
                        barcodeList.push(item.BarcodeNo);
                    }
                }
            });

            if (barcodeList.length > 0) {
                let targetUrl = "@Url.Action("GetBarcodeAccurately", "QcDataManagement")";
                let postData = {
                    "QcRecordId": qcRecordId@(itemName),
                    "BarcodeListData": barcodeList.toString(),
                    "QcType": qcType@(itemName),
                    "MoProcessId": moProcessId@(itemName)
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status != "success") {
                    accuratelyResult = data.msg;
                }
            }

            return accuratelyResult*@
        }

        function GetCheckQcMeasureData@(itemName)() {
            @*let targetUrl = "@Url.Action("GetCheckQcMeasureData", "QcDataManagement")";
            let postData = {
                "QcRecordId": qcRecordId@(itemName)
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                if (data.result.length > 0) {
                    $.each(data.result, function (i, item) {
                        checkQcMeasureData@(itemName) = item.CheckQcMeasureData;
                        supportAqFlag@(itemName) = item.SupportAqFlag;
                        supportProcessFlag@(itemName) = item.SupportProcessFlag;
                    });
                }
            }*@
        }

        function DeleteExcelData@(itemName)() {
            swal.fire({
                titleText: "確認要刪除暫存數據嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteAllProcessParameterQcitem", "MesBasicInformation")";
                    let postData = {
                        "ParameterId": parameterId@(itemName)
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        InitData@(itemName)();
                    }
                }
            });
        }

        function exportXlsx@(itemName)() {
            spreadsheet@(itemName).export.xlsx(); // exports data into a .xlsx file
        };

        function exportJson() {
            spreadsheet@(itemName).export.json(); // exports data into a .json file
        };

        function ImportExcel@(itemName)() {
            spreadsheet@(itemName).load("", "xlsx").then(function () {
                spreadsheet@(itemName).lock("A1:G1");
                @*spreadsheet@(itemName).lock("A1:H1");
                spreadsheet@(itemName).setFormat("D1:D1000", "text")
                spreadsheet@(itemName).lock("B1:B1000");
                spreadsheet@(itemName).lock("C1:C1000");*@
            });
        }

        function ConfirmExcelData@(itemName)() {
            ReLoadSpreadsheetData@(itemName)()
            if (userId@(itemName) != lockBy@(itemName) ) {
                swal.fire({
                    titleText: "該頁面被編輯鎖定中!!",
                    text: " ",
                    icon: "warning",
                    allowOutsideClick: false,
                    allowEscapeKey: false,
                    showCancelButton: false,
                    confirmButtonColor: '#d33',
                    reverseButtons: true
                }).then((result) => {

                });
            }
            swal.fire({
                titleText: "確認要上傳數據嗎?",
                text: "請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    ReLoadSpreadsheetData@(itemName)();
                    let targetUrl = "@Url.Action("UploadPmdOrderData", "SaleOrder")";
                    let postData = {
                        "TypeId": 5,
                        "PmdJsonData": JSON.stringify(spreadsheetJson@(itemName)),
                        "customerId": $("#cboSearchCustomer@(itemName)").val()
                    };

                    let data = DataAccess.Update(targetUrl, postData, false, true);

                    if (data) {
                        //alert("確認成功", "success", 0);
                        UpdatePageLock@(itemName)(0)
                        InitData@(itemName)();
                    }
                }
            });
        }

        function SaveTempSpreadsheet@(itemName)() {
            ReLoadSpreadsheetData@(itemName)()
            if (userId@(itemName) != lockBy@(itemName) ) {
                swal.fire({
                    titleText: "該頁面被編輯鎖定中!!",
                    text: " ",
                    icon: "warning",
                    allowOutsideClick: false,
                    allowEscapeKey: false,
                    showCancelButton: false,
                    confirmButtonColor: '#d33',
                    reverseButtons: true
                }).then((result) => {

                });
            }
            swal.fire({
                titleText: "確認要儲存數據嗎?",
                text: "請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    ReLoadSpreadsheetData@(itemName)();
                    let targetUrl = "@Url.Action("UploadPmdOrderDataTemp", "SaleOrder")";
                    let postData = {
                        "TypeId": 5,
                        "PmdJsonData": JSON.stringify(spreadsheetJson@(itemName)),
                        "customerId": $("#cboSearchCustomer@(itemName)").val()
                    };

                    let data = DataAccess.Update(targetUrl, postData, false, true);

                    if (data) {
                        //alert("確認成功", "success", 0);
                        UpdatePageLock@(itemName)(0)
                        InitData@(itemName)();
                    }
                }
            });
        }

        function UpdatePageLock@(itemName)(isLock) {
            let targetUrl = "@Url.Action("UpdatePageLock", "SaleOrder")";
            let postData = {
                "PageNames": "@itemName",
                "isLock": isLock
            };

            let data = DataAccess.Update(targetUrl, postData, false, true);

            if (data) {
                //alert("確認成功", "success", 0);
                //InitData@(itemName)();
            }

        }

        function GetCurrentEdit@(itemName)() {
            let targetUrl = '@Url.Action("GetCurrentEdit", "SaleOrder")';
            let postData = {
                'PageNames': "@itemName"
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == 'success') {
                if (data.result.length > 0) {
                    $.each(data.result, function (i, item) {
                        lockBy@(itemName) = item.LockedBy;

                        if (item.IsLocked == 1 && item.LockedBy != userId@(itemName)) {
                            swal.fire({
                                titleText: "該頁面被編輯鎖定中!!",
                                text: "目前使用者: " + item.UserName,
                                icon: "warning",
                                allowOutsideClick: false,
                                allowEscapeKey: false,
                                showCancelButton: false,
                                confirmButtonColor: '#d33',
                                reverseButtons: true
                            }).then((result) => {

                                });
                            console.log(51)

                            ShowList@(itemName)()

                        } else
                        {
                            ShowExcel@(itemName)()

                        }
                        if (item.IsLocked == 0 && item.LockedBy != userId@(itemName)) {
                            UpdatePageLock@(itemName)(1)

                        } else if (item.IsLocked == 0 && item.LockedBy == userId@(itemName)) {
                                                        UpdatePageLock@(itemName)(1)

                        }

                    });

                } else {
                    ShowExcel@(itemName)()

                    UpdatePageLock@(itemName)(1)

                }

            } else {
                alert(data.msg, 'alert', 0);
            }

        }

        function GetUserInfo@(itemName)() {
            let targetUrl = '@Url.Action("GetLoginByKey", "User")';
            let postData = {
                'UserNo': $.cookie('Login'),
                'KeyText': $.cookie('LoginKey')
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == 'success') {
                userId@(itemName) = data.returnData.UserId;
               // companyId@(itemName) = data.returnData.CompanyId;
            } else {
                alert(data.msg, 'alert', 0);
            }
        }

        function GetPMDOrderId@(itemName)(idcell) {
            let targetUrl = "@Url.Action("GetPMDOrderId", "SaleOrder")";
            let postData = {
                "TypeId": 5
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data) {
                //alert("確認成功", "success", 0);
                if (data.status == "success") {
                    console.log(584, data.result.length, data.result)
                    var newid = data.result + 1
                            spreadsheet@(itemName).setValue(idcell, newid);
                            console.log(584, newid)



                }


            }
        }

        function QueryCustomer@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitDataCustomer@(itemName)(objPage@(itemName));
        }

        function InitDataCustomer@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let targetUrl = "@Url.Action("GetCustomer", "SaleOrder")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "CustomerNo": $("#txtCustomerNoQ@(itemName)").val(),
                "CustomerName": $("#txtCustomerNameQ@(itemName)").val()
            };
            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";


                        innerHtml += `<tr>
                                        <td style="max-width: 75px;">${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.CustomerNo}" style="max-width: 200px;">${item.CustomerNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.CustomerName}" style="max-width: 200px;">${item.CustomerName}</td>
                                        <td class="text-center col-sticky">
                                          <label class="control control-solid control-solid-info control--radio">
                                            <input type="radio" data-customer-id="${item.CustomerId}" value="${item.CustomerId}" />
                                            <span class="control__indicator"></span>
                                          </label>
                                          <input type="hidden" name="txtCustomerNo@(itemName)" data-customer-id="${item.CustomerId}" value="${item.CustomerNo}" />
                                          <input type="hidden" name="txtCustomerName@(itemName)" data-customer-id="${item.CustomerId}" value="${item.CustomerName}" />

                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="11" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitDataCustomer@(itemName));

            $("input[type='radio']").click(function () {
                if ("[data-customer-id]:checked") {
                    let customerId = $(this).data("customer-id");
                    let customerNo = $(`input[name='txtCustomerNo@(itemName)'][data-customer-id='${customerId}']`).val();
                    let customerName = $(`input[name='txtCustomerName@(itemName)'][data-customer-id='${customerId}']`).val();

                    spreadsheet@(itemName).setValue(customerNocell@(itemName), customerNo);
                    spreadsheet@(itemName).setValue(customerNamecell@(itemName), customerName);
                    $(this).prop("checked", false);
                }
                $("#modalCustomer@(itemName)").modal('hide');

            });



        }

        function PopViewCustomers@(itemName)() {
            $("#modalCustomer@(itemName)").modal('show');
            QueryCustomer@(itemName)()

        }

        function Close@(itemName)() {
            $("#modalCustomer@(itemName)").modal('hide');
        }

        function Return@(itemName)() {
            @*InitData@(itemName)();*@
        }

        function PopSendView@(itemName)() {
            $("#modalSend@(itemName)").modal('show');
            ComboBoxs.Default("#cboSendCustomer@(itemName)", "@Url.Action("GetPMDOrderCustomerList", "SaleOrder")", {"TypeId": 5}, "", "", "請選擇", "CustomerWithNo", "CustomerId");
            ComboBoxs.Default("#cboSendExcel@(itemName)", "@Url.Action("GetPMDPage", "SaleOrder")", {}, "", "", "請選擇", "PageName", "PageNo");

        }

        function SynchronizePMD@(itemName)() {
            let currentDate = new Date();

            let targetUrl = "@Url.Action("SendPMDOrderExcels", "SaleOrder")";
            let postData = {
                
                "SendCustomer": $("#cboSendCustomer@(itemName)").val().join(","),
                "SendExcel": "ViewPMDOrder5"
            };

            let data = DataAccess.Get(targetUrl, postData, false);
            if (data.status == 'success') {
                alert("寄送成功", "success", 0);
                $("#modalSend@(itemName)").modal('hide');
                ComboBoxs.Default("#cboSearchCustomer@(itemName)", "@Url.Action("GetPMDOrderCustomerList", "SaleOrder")", { "TypeId": 1 }, "", "", "請選擇", "CustomerWithNo", "CustomerId");
                SearchData@(itemName)()
            } else {
                alert(data.msg, 'alert', 0);
            }
        }

        function UpdateOrderToPMDOrder@(itemName)(isLock) {
            let targetUrl = "@Url.Action("UpdateOrderToPMDOrder", "SaleOrder")";
            let postData = {
                "TypeId": 5
            };

            let data = DataAccess.Update(targetUrl, postData, false, true);

            if (data) {
                ComboBoxs.Default("#cboSearchCustomer@(itemName)", "@Url.Action("GetPMDOrderCustomerList", "SaleOrder")", { "TypeId": 5 }, "", "", "請選擇", "CustomerWithNo", "CustomerId");
                SearchData@(itemName)()

            }

        }

    </script>
                                                                                                                                                )