@using Business_Manager.Helpers
@{
    string itemNameText = "量測機台排程過站系統";

    ViewBag.Title = itemNameText;

    string authority = ViewBag.authority;
}

<style>
    .logo {
        position: relative !important;
    }

    .order-menu {
        display: flex;
        /* flex-direction: column; */
        justify-content: space-between;
        margin-bottom: 25px;
    }

    .take {
        width: 100%;
        padding: 18px;
        background: #d5cbbd;
        /* border-radius: 12px; */
        text-align: center;
        font-size: 18px;
        font-weight: 600;
    }

        .take:hover {
            background: #cddfd9;
        }

    .push {
        width: 100%;
        padding: 18px;
        background: #adaee5;
        /* border-radius: 12px; */
        text-align: center;
        font-size: 18px;
        font-weight: 600;
    }

        .push:hover {
            background: #cddfd9;
        }

    .transfer {
        width: 100%;
        padding: 18px;
        background: #84a8d5;
        /* border-radius: 12px; */
        text-align: center;
        font-size: 18px;
        font-weight: 600;
    }

        .transfer:hover {
            background: #cddfd9;
        }

    .doc-type {
        display: flex;
        /* flex-direction: column; */
        justify-content: space-between;
        margin-bottom: 25px;
    }

    .dep {
        width: 100%;
        padding: 18px;
        background: #75baed;
        /* border-radius: 12px; */
        text-align: center;
        font-size: 18px;
        font-weight: 600;
    }

        .dep:hover {
            background: #cddfd9;
        }

    .mr {
        width: 100%;
        padding: 18px;
        background: #bfc7a1;
        /* border-radius: 12px; */
        text-align: center;
        font-size: 18px;
        font-weight: 600;
    }

        .mr:hover {
            background: #cddfd9;
        }

    .pre-btn {
        width: 100%;
        padding: 18px;
        background: #c2d5ca;
        border-radius: 12px;
        text-align: center;
        font-size: 18px;
        font-weight: 600;
    }

        .pre-btn:hover {
            background: #cddfd9;
        }

    .user-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 12px;
        text-align: center;
        background: #f1f1f1;
        font-weight: 600;
        font-size: 18px;
        color: #526f89;
    }
</style>

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="body-bg">
    <div class="wrapper wrap-index">
        <div class="content-index">
            <div class="logo">
                <img src="@Url.Content("~/Content/images/logo.png")" />
            </div>
            <div class="pick-menu">
                <div class="user-info">
                    <span>目前登入人員: <i class="fas fa-user"></i> <span id="desUserFullNo"></span></span>
                    <span>目前登入IP: <span id="desUserIP"></span></span>
                </div>
                <div class="order-menu">
                    <a class="take auth-test" href="../QcPlanningProcess/QcPlanningHistory">
                        <i class="fas fa-external-link-alt"></i> 進入系統
                    </a>
                </div>
                <a href="javascript:Logout();" class="nav-link nav-cancel">
                    <i class="fas fa-sign-out-alt"></i>登出
                </a>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        $(document).ready(function () {
            GetUserInfo();
            GetUserIP();
        });

        function GetUserInfo() {
            let targetUrl = "@Url.Action("GetLoginUserInfo", "QcPlanningProcess")";
            let postData = {
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                if (data.result.length > 0) {
                    $.each(data.result, function (i, item) {
                        $("#desUserFullNo").html(item.UserNo + ' ' + item.UserName);
                    });
                }
            }
            else {
                alert(data.msg);
            }
        }

        function GetUserIP() {
            let targetUrl = "@Url.Action("GetUserIP", "QcPlanningProcess")";
            let postData = {
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                if (data.result.length > 0) {
                    $("#desUserIP").html(data.result);
                }
            }
            else {
                alert(data.msg);
            }
        }
    </script>
                        )