@using Business_Manager.Helpers
@{
    string parentName = "ProjectTrackManagement";
    string itemName = "TaskStructure";
    string itemNameText = "任務結構";
}

@Html.Resource("css",
    @<style>
         .user-task {
             font-weight: bold;
             color: #0f78d3;
         }

        .other-task {
            color: #4e4e4e;
        }

        .tree-list {
            border-bottom: solid #efefef 1px;
            min-width: 360px;
            /*max-width: 1620px;*/
            width:auto;
        }

        .tree-text {
            min-width: 125px;
        }

        .btnGantt {
            color:#fff;
            background-color:#5e47ad;
        }

            .btnGantt:hover {
                color:#fe0;
            }

        .btnTimeLine {
            color: #fff;
            background-color: #009bce;
        }

            .btnTimeLine:hover {
                color: #fe0;
            }

        .form-group .select2-selection__rendered {
            line-height: 29px !important;
        }

        .form-group .select2-container .select2-selection--single {
            height: 39px !important;
        }

        .form-group .select2-selection__arrow {
            height: 34px !important;
        }

        .table-deposit {
            margin: 0;
            padding: 0;
            max-height: 30vh;
            margin-bottom: .75rem;
            display: none;
        }

            .table-deposit th {
                background-color: #d7ecfa !important;
            }

            .table-deposit th, .table-deposit td {
                padding: 5px 0;
                text-align: center;
            }

        .table-sticky thead .col-sticky:nth-last-child(1) {
            right: 0;
        }

        .table-sticky tbody .col-sticky:nth-last-child(1) {
            right: 0;
        }
    </style>
        )

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">查詢條件</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboCompanyIdQ@(itemName)">公司別</label>
                            <div class="col-12 input-group">
                                <select class="form-control" id="cboCompanyIdQ@(itemName)" name="cboCompanyIdQ@(itemName)"></select>
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-outline-danger" onclick="$('#cboCompanyIdQ@(itemName)').val($('#cboCompanyIdQ@(itemName) option:first').val()).trigger('change')" title="清除">
                                        <i class="fas fa-eraser"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboDepartmentIdQ@(itemName)">所屬部門</label>
                            <div class="col-12 input-group">
                                <select class="form-control" id="cboDepartmentIdQ@(itemName)" name="cboDepartmentIdQ@(itemName)"></select>
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-outline-danger" onclick="$('#cboDepartmentIdQ@(itemName)').val($('#cboDepartmentIdQ@(itemName) option:first').val()).trigger('change')" title="清除">
                                        <i class="fas fa-eraser"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtProjectQ@(itemName)">專案代碼.名稱</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtProjectQ@(itemName)" name="txtProjectQ@(itemName)" placeholder="請輸入專案代碼.名稱" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtTaskNameQ@(itemName)">任務名稱</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtTaskNameQ@(itemName)" name="txtTaskNameQ@(itemName)" placeholder="請輸入任務名稱" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-8 col-form-label" for="">任務開始區間</label>
                            <label class="col-4 col-form-label" for="">任務完成基準日</label>
                            <div class="input-group col-4">
                                <input type="text" class="form-control datedropper" id="txtStartDateQ@(itemName)" name="txtStartDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       placeholder="起始日" readonly />
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-outline-danger" onclick="$('#txtStartDateQ@(itemName)').val('')" title="清除">
                                        <i class="fas fa-eraser"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="input-group col-4">
                                <input type="text" class="form-control datedropper" id="txtEndDateQ@(itemName)" name="txtEndDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       placeholder="結束日" readonly />
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-outline-danger" onclick="$('#txtEndDateQ@(itemName)').val('')" title="清除">
                                        <i class="fas fa-eraser"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="input-group col-4">
                                <input type="text" class="form-control datedropper" id="txtTaskBaseDateQ@(itemName)" name="txtTaskBaseDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       placeholder="任務完成基準日" readonly />
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-outline-danger" onclick="$('#txtTaskBaseDateQ@(itemName)').val('')" title="清除">
                                        <i class="fas fa-eraser"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboProjectMasterQ@(itemName)">專案管理者</label>
                            <div class="col-12 input-group">
                                <select class="form-control" id="cboProjectMasterQ@(itemName)" name="cboProjectMasterQ@(itemName)" multiple></select>
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-outline-danger" onclick="$('#cboProjectMasterQ@(itemName)').val('').trigger('change')" title="清除">
                                        <i class="fas fa-eraser"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboProjectUserIdQ@(itemName)">專案成員</label>
                            <div class="col-12 input-group">
                                <select class="form-control" id="cboProjectUserIdQ@(itemName)" name="cboProjectUserIdQ@(itemName)" multiple></select>
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-outline-danger" onclick="$('#cboProjectUserIdQ@(itemName)').val('').trigger('change')" title="清除">
                                        <i class="fas fa-eraser"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboTaskUserIdQ@(itemName)">任務成員</label>
                            <div class="col-12 input-group">
                                <select class="form-control" id="cboTaskUserIdQ@(itemName)" name="cboTaskUserIdQ@(itemName)" multiple></select>
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-outline-danger" onclick="$('#cboTaskUserIdQ@(itemName)').val('').trigger('change')" title="清除">
                                        <i class="fas fa-eraser"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboProjectStatusQ@(itemName)">專案狀態</label>
                            <div class="col-12 input-group">
                                <select class="form-control" id="cboProjectStatusQ@(itemName)" name="cboProjectStatusQ@(itemName)" multiple></select>
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-outline-danger" onclick="$('#cboProjectStatusQ@(itemName)').val('').trigger('change')" title="清除">
                                        <i class="fas fa-eraser"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboTaskStatusQ@(itemName)">任務狀態</label>
                            <div class="col-12 input-group">
                                <select class="form-control" id="cboTaskStatusQ@(itemName)" name="cboTaskStatusQ@(itemName)" multiple></select>
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-outline-danger" onclick="$('#cboTaskStatusQ@(itemName)').val('').trigger('change')" title="清除">
                                        <i class="fas fa-eraser"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">是否延宕</label>
                            <div class="col-lg-4 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    <span id="txtConfirmStatusQ@(itemName)">否</span>
                                    <input type="checkbox" id="cbxConfirmStatusQ@(itemName)" name="cbxConfirmStatusQ@(itemName)" value="D" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Search@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);"><i class="fal fa-search"></i>查詢條件</a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn btnGantt auth-read" href="javascript:Datas@(itemName).ReadGantt@(itemName)(-1);"><i class="fas fa-stream"></i>產生甘特圖</a>
                        <a class="btn btnTimeLine auth-read" href="javascript:Datas@(itemName).ReadTimeLine@(itemName)(-1);"><i class="fas fa-user-clock"></i>產生時間軸圖</a>
                        <a class="btn file-excel auth-excel" href="javascript:Datas@(itemName).DownloadExcel@(itemName)(-1);"><i class="fas fa-file-excel"></i>下載Excel報表</a>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky table-stack" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th scope="col" style="min-width: 150px;">專案代碼</th>
                                        <th scope="col" style="min-width: 200px;">專案名稱</th>
                                        <th scope="col" class="text-center" style="min-width: 100px;">專案狀態</th>
                                        <th scope="col" style="min-width: 200px;">所屬公司/部門</th>
                                        @*<th class="text-center" scope="col" style="min-width: 100px;">專案屬性</th>*@
                                        <th scope="col" class="text-center" style="min-width: 100px;">專案管理者</th>
                                        <th scope="col" class="text-center" style="min-width: 100px;">工作天模式</th>
                                        <th scope="col" class="text-center" style="min-width: 100px;">專案分類</th>
                                        <th scope="col" style="min-width: 250px;">專案描述</th>
                                        <th scope="col" class="col-sticky" style="min-width: 100px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pagination" id="page@(itemName)"></div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let options@(itemName) = { Status: "A" };
        let Elements@(itemName) = new ElementControl@(itemName)();
        let Datas@(itemName) = new DataControl@(itemName)();
        let tree@(itemName);

        $(function () {
            GetUserInfo@(itemName)();

            //非constrained-data權限，鎖定公司別/部門別
            if (!pageAuthoritys@(parentName).find(f => f.DetailCode == `constrained-data`)) {
                Object.assign(options@(itemName) , { CompanyId: companyId@(parentName), DepartmentId: departmentId@(parentName) });
            }
            ComboBoxs.Default("#cboCompanyIdQ@(itemName)", "@Url.Action("GetCompany", "BasicInformation")", options@(itemName), "", "ALL", companyId@(parentName), "CompanyWithNo", "CompanyId");
            ComboBoxs.Default("#cboDepartmentIdQ@(itemName)", "@Url.Action("GetDepartment", "BasicInformation")", options@(itemName), "", "ALL", departmentId@(parentName), "DepartmentWithNo", "DepartmentId");
            ComboBoxs.Default("#cboProjectMasterQ@(itemName)", "@Url.Action("GetUser", "BasicInformation")", options@(itemName), "", "CHOOSE-NUMBER", "", "UserWithNo", "UserId");
            $("#cboProjectUserIdQ@(itemName)").html($("#cboProjectMasterQ@(itemName)").html());
            $("#cboTaskUserIdQ@(itemName)").html($("#cboProjectUserIdQ@(itemName)").html());
            ComboBoxs.WithText("#cboProjectStatusQ@(itemName)", "@Url.Action("GetStatus", "BasicInformation")", { "StatusSchema": "Project.ProjectStatus" }, "", "CHOOSE-NUMBER", "", "StatusName", "StatusNo");
            ComboBoxs.WithText("#cboTaskStatusQ@(itemName)", "@Url.Action("GetStatus", "BasicInformation")", { "StatusSchema": "ProjectTask.TaskStatus" }, "", "CHOOSE-NUMBER", "", "StatusName", "StatusNo");
            if (!isMobile) {
                $("#cboCompanyIdQ@(itemName), #cboDepartmentIdQ@(itemName), #cboProjectMasterQ@(itemName), #cboProjectUserIdQ@(itemName), #cboTaskUserIdQ@(itemName), #cboProjectStatusQ@(itemName), #cboTaskStatusQ@(itemName)").select2({
                    dropdownAutoWidth: true,
                    width: "100%"
                });
            }

            Suites.DateDropper("#txtTaskBaseDateQ@(itemName)");
            Suites.DateDropper("#txtStartDateQ@(itemName)");
            Suites.DateDropper("#txtEndDateQ@(itemName)");

            @*let currentDate = new Date();
            Suites.DatePicker("txtTaskBaseDateQ@(itemName)", currentDate);
            Suites.DatePicker("txtEndDateQ@(itemName)", currentDate);
            currentDate.setDate(currentDate.getDate() - 30);
            Suites.DatePicker("txtStartDateQ@(itemName)", currentDate);*@

            $("#cboProjectStatusQ@(itemName)").val(["I", "P"]).trigger("change");
            $("#cboTaskStatusQ@(itemName)").val(["B", "I"]).trigger("change");

            Elements@(itemName).GetTrackFilterDefault@(itemName)();
        });

        function GetUserInfo@(itemName)() {
            pageAuthoritys@(parentName) = JSON.parse($(`#pageAuthority`).val());

            let targetUrl = "@Url.Action("GetLoginByKey", "User")";
            let postData = {
                "UserNo": $.cookie("Login"),
                "KeyText": $.cookie("LoginKey")
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                userId@(parentName) = data.returnData.UserId;
                companyId@(parentName) = data.returnData.CompanyId;
                companyName@(parentName) = data.returnData.CompanyName;
                departmentId@(parentName) = data.returnData.DepartmentId;
            } else {
                alert(data.msg, "alert", 0);
            }
        }

        function Expand@(itemName)() {
            $(".advanced-block").slideDown("slow");
            Query@(itemName)();
        }

        function Search@(itemName)() {
            Query@(itemName)();
            Datas@(itemName).UpdateTrackFilterDefault@(itemName)();
            $("#modalQuery@(itemName)").modal("hide");
        }

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let targetUrl = "@Url.Action("GetProjectTaskTree", "ProjectTrack")";
            let postData = {
                "CompanyId": $("#cboCompanyIdQ@(itemName) :selected").val(),
                "DepartmentId": $("#cboDepartmentIdQ@(itemName) :selected").val(),
                "ProjectMaster": $("#cboProjectMasterQ@(itemName)").val().join(),
                "ProjectUserId": $("#cboProjectUserIdQ@(itemName)").val().join(),
                "TaskUserId": $("#cboTaskUserIdQ@(itemName)").val().join(),
                "Project": $("#txtProjectQ@(itemName)").val(),
                "TaskName": $("#txtTaskNameQ@(itemName)").val(),
                "ProjectStatus": $("#cboProjectStatusQ@(itemName)").val().join(),
                "TaskStatus": $("#cboTaskStatusQ@(itemName)").val().join(),
                "ReplyStatus": delayStatus@(itemName).join(),
                "TaskStartDate": $("#txtStartDateQ@(itemName)").val(),
                "TaskEndDate": $("#txtEndDateQ@(itemName)").val(),
                "OpenedLevel": 0,
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (data.result.length > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr>
                                        <td rowspan="2" style="max-width: 75px;"><span class="stack-title">#</span>${_row}</td>
                                        <td><span class="stack-title">專案代碼</span><a class="btn btn-sm proj-status${item.ProjectStatus}" href="javascript:InitDataViewProject(${item.ProjectId});"><b>${item.ProjectNo}</b></a></td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ProjectName}" style="max-width: 200px;"><span class="stack-title">專案名稱</span>${item.ProjectName}</td>
                                        <td class="text-center"><span class="stack-title">專案狀態</span>${StatusIcon@(parentName)(item.ProjectStatus)}${item.ProjectStatusName}</td>
                                        <td><span class="stack-title">所屬公司/部門</span>${item.LogoIcon == -1 ? `` : `<img class="company-logo" src="/Web/GetFile?fileId=${item.LogoIcon}" />`}${item.CompanyName} ${item.DepartmentName}</td>
                                        <td class="text-center"><span class="stack-title">專案管理者</span>${item.Gender == `M` ? `<span class="gender-male"><i class="fas fa-male"></i></span>` : item.Gender == `F` ? `<span class="gender-female"><i class="fas fa-female"></i></span>` : ``}${item.ProjectMaster}</td>
                                        <td class="text-center"><span class="stack-title">工作天模式</span>${item.WorkTimeStatusName}</td>
                                        <td class="text-center"><span class="stack-title">專案分類</span>${item.ProjectTypeName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ProjectDesc}" style="max-width: 300px;"><span class="stack-title">專案描述</span>${item.ProjectDesc}</td>
                                        <td class="active-content col-sticky">
                                          <span class="stack-title">操作</span>
                                          <a class="btn btn-sm btnGantt auth-read" href="javascript:Datas@(itemName).ReadGantt@(itemName)(${item.ProjectId})" data-toggle="tooltip" title="產生甘特圖"><i class="fas fa-stream"></i></a>
                                          <a class="btn btn-sm btnTimeLine auth-read" href="javascript:Datas@(itemName).ReadTimeLine@(itemName)(${item.ProjectId})" data-toggle="tooltip" title="產生時間軸圖"><i class="fas fa-user-clock"></i></a>
                                          <a class="btn btn-sm file-excel auth-excel" href="javascript:Datas@(itemName).DownloadExcel@(itemName)(${item.ProjectId})" data-toggle="tooltip" title="下載Excel報表"><i class="fas fa-file-excel"></i></a>
                                        </td>
                                      </tr>
                                      <tr><td colspan="9" id="tree@(itemName)_${item.ProjectId}" class="proj-status${item.ProjectStatus}"></td></tr>`;

                        @*innerHtml += `<div class="col-12">
                                        <div class="card card-shadow mb-4">
                                          <div class="card-body">
                                            <div class="tree-container" style="margin-top: 10px;">
                                                <div class="col-12 proj-status${item.ProjectStatus}">
                                                    <div class="row">
                                                        <h3 class="col-6 text-muted"><code>${item.ProjectNo}</code>
                                                            發起人：${item.Gender == `M` ? `<span class="gender-male"><i class="fas fa-male"></i></span>` : item.Gender == `F` ? `<span class="gender-female"><i class="fas fa-female"></i></span>` : ``}${item.ProjectMaster}
                                                        </h3>
                                                        <h3 class="col-6 text-right">
                                                        ${item.LogoIcon == -1 ? `` : `<img class="company-logo" src="/Web/GetFile?fileId=${item.LogoIcon}" />`}${item.CompanyName}
                                                        ${item.DepartmentNo} ${item.DepartmentName}
                                                        </h3>
                                                    </div>
                                                    <div class="row">
                                                        <h3 class="col-6">專案屬性：${item.ProjectAttributeName}</h3>
                                                        <h3 class="col-6 text-right">專案描述：${item.ProjectDesc}</h3>
                                                    </div>
                                                </div>
                                                <div id="tree@(itemName)_${item.ProjectId}"></div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>`;*@
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="10" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                    //innerHtml += `<div class="col-12">
                    //                <div class="card card-shadow mb-4">
                    //                  <div class="card-body">
                    //                    <div class="container">
                    //                      <span class="text-center" style="background-color: #fff3cd; display: block;">
                    //                        <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                    //                      </span>
                    //                    </div>
                    //                  </div>
                    //                </div>
                    //              </div>`;
                }

                $("#tblData@(itemName) tbody").html(innerHtml);
                TableComponentInit();
                Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

                if (data.result.length > 0) {
                    $.each(data.result, function (i, item) {
                        let userTask = JSON.parse(item.ProjectTask);

                        tree@(itemName) = new dhx.Tree(`tree@(itemName)_${item.ProjectId}`, {
                            editable: false,
                            checkbox: false,
                            template: ({ value, id }, isFolder) => {
                                let template = ``;
                                let t = getObjects(userTask, `ProjectTaskId`, id);
                                let statusIcon = ``;
                                let deferredIcon = ``;
                                let taskName = ``;
                                let projectName = ``;
                                let taskRangeStr = ``;
                                let projectRangeStr = ``;

                                if (t.length > 0) {
                                    let taskStart = t[0].TaskStart;
                                    let taskEnd = t[0].TaskEnd;
                                    taskRangeStr = !!(taskStart && taskEnd) ? `任務時間：${taskStart} 至 ${taskEnd}` : ``;
                                    taskName = t[0].TaskStatusName;
                                    if (t[0].DeferredCount > 0) deferredIcon = `<span class="blink text-danger"><i class="fas fa-siren-on"></i></span>`;
                                    statusIcon = StatusIcon@(parentName)(t[0].TaskStatus);
                                }
                                else {
                                    let projectStart = item.StartDate;
                                    let projectEnd = item.EndDate;
                                    projectRangeStr = !!(projectStart && projectEnd) ? `專案時間：${projectStart} 至 ${projectEnd}` : ``;
                                    projectName = item.ProjectStatusName;
                                    statusIcon = StatusIcon@(parentName)(item.ProjectStatus);
                                }

                                template = `<div class="tree-list" data-tree-index="${id}">
                                              <span class="tree-text ${t.length > 0 ? `user-task` : `other-task`}">${t.length > 0 ? `` : `專案名稱：`}${value}</span>
                                              <div class="row">
                                                <div class="tree-text" style="width: 200px;">${t.length > 0 ? `${statusIcon}${taskName}${deferredIcon}` : `${statusIcon}${projectName}`}</div>
                                                <div class="tree-text text-right">${t.length > 0 ? `${taskRangeStr}` : `${projectRangeStr}`}</div>
                                              </div>
                                            </div>`;
                                return template;
                            }
                        });

                        tree@(itemName).data.parse([item.TaskTree]);

                        tree@(itemName).events.on("itemDblClick", function (id, e) {
                            let t = getObjects(userTask, `ProjectTaskId`, id);
                            if (t.length > 0) {
                                ExpandViewTask({ taskId: id, taskType: "Project", taskStatus: "", taskEditor: false });
                            }
                            else {
                                if ($(`#tree@(itemName)_${item.ProjectId}`).hasClass("open")) {
                                    this.collapseAll();
                                    $(`#tree@(itemName)_${item.ProjectId}`).removeClass("open");
                                }
                                else {
                                    this.expandAll();
                                    $(`#tree@(itemName)_${item.ProjectId}`).addClass("open");
                                }
                            }
                        });

                        tree@(itemName).events.on("afterExpand", function (id) {
                            DelayFn(function () { PageAuthorityControl(); }, 50);
                        });
                    });
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            Elements@(itemName).Initialize@(itemName)();
        }

        let delayStatus@(itemName) = [];
        function ElementControl@(itemName)() {
            addMethod(this, "Initialize@(itemName)", function () {
                @*$("#ReadGantt@(itemName)").off("click").on("click", function (e) {
                    Datas@(itemName).ReadGantt@(itemName)($(e.target).attr("value"));
                });

                $("#DownloadExcel@(itemName)").off("click").on("click", function (e) {
                    Datas@(itemName).DownloadExcel@(itemName)($(e.target).attr("value"));
                });*@

                $("#cbxConfirmStatusQ@(itemName)").off("change").on("change", function (e) {
                    if (e.target.checked) {
                        $("#txtConfirmStatusQ@(itemName)").text("是");
                        delayStatus@(itemName).push(e.target.value);
                    }
                    else {
                        $("#txtConfirmStatusQ@(itemName)").text("否");
                        delayStatus@(itemName) = delayStatus@(itemName).filter(f => { return f !== e.target.value });
                    }
                });
            });

            addMethod(this, "GetTrackFilterDefault@(itemName)", function () {
                let targetUrl = "@Url.Action("GetTrackFilterDefault", "ProjectTrack")";
                let data = DataAccess.Get(targetUrl, {}, false);
                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        $(`#queryForm@(itemName) #${item.FilterName}`).val(item.FilterValue.split(',')).trigger("change");
                    });
                }
            });
        };

        let filterJsonData@(itemName) = [];
        function DataControl@(itemName)() {
            addMethod(this, "ReadGantt@(itemName)", function (projectId) {
                projectId = !!projectId ? parseInt(projectId) : -1;

                let postData = {
                    "ProjectId": projectId
                };
                if (projectId < 0) {
                    Object.assign(postData, {
                        "CompanyId": $("#cboCompanyIdQ@(itemName) :selected").val(),
                        "DepartmentId": $("#cboDepartmentIdQ@(itemName) :selected").val(),
                        "ProjectMaster": $("#cboProjectMasterQ@(itemName)").val().join(),
                        "ProjectUserId": $("#cboProjectUserIdQ@(itemName)").val().join(),
                        "TaskUserId": $("#cboTaskUserIdQ@(itemName)").val().join(),
                        "Project": $("#txtProjectQ@(itemName)").val(),
                        "TaskName": $("#txtTaskNameQ@(itemName)").val(),
                        "ProjectStatus": $("#cboProjectStatusQ@(itemName)").val().join(),
                        "TaskStatus": $("#cboTaskStatusQ@(itemName)").val().join(),
                        "ReplyStatus": delayStatus@(itemName).join(),
                        "TaskStartDate": $("#txtStartDateQ@(itemName)").val(),
                        "TaskEndDate": $("#txtEndDateQ@(itemName)").val(),
                        "TaskBaseDate": $("#txtTaskBaseDateQ@(itemName)").val()
                    });
                }
                ExpandProjectTaskGantt({ "postData": postData});
            });

            addMethod(this, "ReadTimeLine@(itemName)", function (projectId) {
                projectId = !!projectId ? parseInt(projectId) : -1;

                let postData = {
                    "ProjectId": projectId
                };
                if (projectId < 0) {
                    Object.assign(postData, {
                        "CompanyId": $("#cboCompanyIdQ@(itemName) :selected").val(),
                        "DepartmentId": $("#cboDepartmentIdQ@(itemName) :selected").val(),
                        "ProjectMaster": $("#cboProjectMasterQ@(itemName)").val().join(),
                        "ProjectUserId": $("#cboProjectUserIdQ@(itemName)").val().join(),
                        "TaskUserId": $("#cboTaskUserIdQ@(itemName)").val().join(),
                        "Project": $("#txtProjectQ@(itemName)").val(),
                        "TaskName": $("#txtTaskNameQ@(itemName)").val(),
                        "ProjectStatus": $("#cboProjectStatusQ@(itemName)").val().join(),
                        "TaskStatus": $("#cboTaskStatusQ@(itemName)").val().join(),
                        "ReplyStatus": delayStatus@(itemName).join(),
                        "TaskStartDate": $("#txtStartDateQ@(itemName)").val(),
                        "TaskEndDate": $("#txtEndDateQ@(itemName)").val(),
                        "TaskBaseDate": $("#txtTaskBaseDateQ@(itemName)").val()
                    });
                }
                ExpandTimelineDiagram({ "postData": postData});
            });

            addMethod(this, "DownloadExcel@(itemName)", function (projectId) {
                projectId = !!projectId ? parseInt(projectId) : -1;

                let targetUrl = "@Url.Action("GenProjectTaskToExcel", "ProjectTrack")";
                let postData = {
                    "ProjectId": projectId
                };
                if (projectId < 0) {
                    Object.assign(postData, {
                        "CompanyId": $("#cboCompanyIdQ@(itemName) :selected").val(),
                        "DepartmentId": $("#cboDepartmentIdQ@(itemName) :selected").val(),
                        "ProjectMaster": $("#cboProjectMasterQ@(itemName)").val().join(),
                        "ProjectUserId": $("#cboProjectUserIdQ@(itemName)").val().join(),
                        "TaskUserId": $("#cboTaskUserIdQ@(itemName)").val().join(),
                        "Project": $("#txtProjectQ@(itemName)").val(),
                        "TaskName": $("#txtTaskNameQ@(itemName)").val(),
                        "ProjectStatus": $("#cboProjectStatusQ@(itemName)").val().join(),
                        "TaskStatus": $("#cboTaskStatusQ@(itemName)").val().join(),
                        "ReplyStatus": delayStatus@(itemName).join(),
                        "TaskStartDate": $("#txtStartDateQ@(itemName)").val(),
                        "TaskEndDate": $("#txtEndDateQ@(itemName)").val(),
                        "TaskBaseDate": $("#txtTaskBaseDateQ@(itemName)").val()
                    });
                }

                FileAccess.AjaxDownload(targetUrl, postData, false);
            });

            addMethod(this, "UpdateTrackFilterDefault@(itemName)", function () {
                targetUrl = "@Url.Action("UpdateTrackFilterDefault", "ProjectTrack")";
                $.each($("#queryForm@(itemName) select[multiple], #queryForm@(itemName) select"), function (i, item) {
                    switch (this.type) {
                        case "text":
                        case "select-one":
                            filterJsonData@(itemName).push({ "FilterName": item.id, "FilterValue": $(this).val()});
                            break;
                        case "select-multiple":
                            filterJsonData@(itemName).push({ "FilterName": item.id, "FilterValue": $(this).val().join() });
                            break;
                    }
                });
                postData = {
                    FilterJsonData: JSON.stringify(filterJsonData@(itemName))
                };
                let result = DataAccess.Update(targetUrl, postData, false, false);
            });
        }


</script>
        )