@using Business_Manager.Helpers
@{
    string parentName = "TimelineDiagram";
    string itemName = "ViewTask";
    string itemNameText = "專案任務";
}

@Html.Resource("css",
    @<style>
         .task-list .input-group-text {
             padding: 0 2px;
             margin: 0;
         }

         .task-list .form-control {
             padding: 0 2px;
             margin: 0;
         }
    </style>)

<div class="task-nav" id="nav@(itemName)">
    <div class="container">
        <div class="task-header">
            <a class="set nav-close" href="javascript:void(0);">
                <i class="fas fa-arrow-to-right"></i>
            </a>
            <div class="set-area"></div>
            <h1 class="task-title"><span class="title" id="desTaskStatusName@(itemName)"></span>&nbsp;@*<span id="desTaskName@(itemName)"></span>*@</h1>
        </div>
        <input type="text" class="form-control title-input" id="txtTaskName@(itemName)" name="txtTaskName@(itemName)" placeholder="請輸入任務名稱" maxlength="50" autocomplete="off" />
        <div class="task-box">
            <ul class="task-list-area">
                <li class="task-list">
                    <span class="title">專案名稱</span>
                    <span class="detail" id="desProjectName@(itemName)"></span>
                </li>
                <li class="task-list">
                    <span class="title">
                        任務途徑
                    </span>
                    <span class="detail" id="desParentTaskName@(itemName)"></span>
                </li>
                <li class="task-list">
                    <span class="title">
                        參與人員
                    </span>
                    <span class="detail" id="desTaskUser@(itemName)"></span>
                </li>
                <li class="task-list">
                    <span class="title">
                        任務描述
                    </span>
                    <input type="text" class="form-control detail-input" id="txtTaskDesc@(itemName)" name="txtTaskDesc@(itemName)" placeholder="請輸入任務描述"
                           maxlength="300" autocomplete="off" style="width: calc(100% - 81px);" />
                    @*<span class="detail" id="desTaskDesc@(itemName)"></span>*@
                </li>
                <li class="task-list">
                    <span class="title">
                        計畫時間
                    </span>
                    <span class="detail" id="desPlanned@(itemName)">
                        2022-11-05 08:00&nbsp;<i class="fas fa-arrow-alt-right"></i>&nbsp;2022-11-10 08:00
                    </span>
                </li>
                @*<li class="task-list">
                    <span class="title">
                        預計時間
                    </span>
                    <span class="detail" id="desEstimate@(itemName)">
                        2022-11-05 08:00&nbsp;<i class="fas fa-arrow-alt-right"></i>&nbsp;2022-11-10 08:00
                    </span>
                </li>*@
                <li class="task-list edit-item">
                    <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="start-label">預計時間</span>
                        </div>
                        <input type="text" class="form-control detail-input" id="txtEstimateStart@(itemName)" name="txtEstimateStart@(itemName)" style="width:95px;" autocomplete="off">
                        <div class="input-group-append read-item">
                            <span class="input-group-text"><i class="fas fa-arrow-alt-right"></i></span>
                        </div>
                        <input type="text" class="form-control read-item" id="txtEstimateEnd@(itemName)" name="txtEstimateEnd@(itemName)" style="width:95px;" disabled>
                        <div class="input-group-append">
                            <span class="input-group-text"> 共</span>
                        </div>
                        <input type="number" class="form-control text-right time-input" id="txtDayEstimateDuration@(itemName)" name="txtDayEstimateDuration@(itemName)" step="1" min="0" value="0" />
                        <div class="input-group-append">
                            <span class="input-group-text">天</span>
                        </div>
                        <input type="number" class="form-control text-right time-input" id="txtHourEstimateDuration@(itemName)" name="txtHourEstimateDuration@(itemName)" step="1" min="0" max="23" value="0" />
                        <div class="input-group-append">
                            <span class="input-group-text">小時</span>
                        </div>
                        <input type="number" class="form-control text-right time-input" id="txtMinuteEstimateDuration@(itemName)" name="txtMinuteEstimateDuration@(itemName)" step="1" min="0" max="59" value="0" />
                        <div class="input-group-append">
                            <span class="input-group-text">分</span>
                        </div>
                    </div>
                </li>
                <li class="task-list">
                    <span class="title">
                        實際時間
                    </span>
                    <span class="detail" id="desActual@(itemName)">
                        2022-11-05 08:00&nbsp;<i class="fas fa-arrow-alt-right"></i>&nbsp;2022-11-10 08:00
                    </span>
                </li>
                <li class="task-list countdown-area">
                    <span class="title">
                        回報倒數
                    </span>
                    <div class="countdown-content" style="">
                        <span class="detail countdown time-normal" id="desReplyCountdown@(itemName)" style=""></span>
                        <span class="detail countdown" id="desReplyMsg@(itemName)"></span>
                        <span class="detail countdown" id="desReplyFrequency@(itemName)"></span>
                    </div>
                </li>
            </ul>
        </div>

        <div class="task-box">
            <div class="task-box-title">
                <h2>回報列表</h2>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="table-custom table-custom-sm">
                        <table class="table table-bordered table-striped table-sticky table-stack" id="tblReplyData@(itemName)" style="margin-top: 5px;">
                            <thead>
                                <tr>
                                    <th scope="col" style="min-width: 50px;">#</th>
                                    <th scope="col" style="min-width: 105px;">回報人員</th>
                                    <th scope="col" style="min-width: 145px;">回報時間</th>
                                    <th scope="col" style="min-width: 125px;">回報狀態</th>
                                    <th scope="col" style="min-width: 150px;">延後時間</th>
                                    <th scope="col" style="min-width: 200px;">回報內容</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="pagination" id="pageReply@(itemName)"></div>
                </div>
            </div>
        </div>

        <div class="task-box">
            <div class="task-box-title">
                <h2>任務檔案(共用)</h2>
                <a class="link auth-download" href="javascript:void(0);" onclick="Forbidden@(itemName)()">
                    <i class="far fa-arrow-alt-circle-down"></i>
                    全部下載
                </a>
            </div>
            <div class="row mb-2">
                <div class="col-12">
                    <input type="file" class="file-input" id="fileTask@(itemName)" name="fileTask@(itemName)" multiple />
                    <input type="hidden" class="file-input" id="txtFileId@(itemName)" name="txtFileId@(itemName)" />
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="table-custom table-custom-sm">
                        <table class="table table-bordered table-striped table-sticky table-stack" id="tblFileData@(itemName)">
                            <thead>
                                <tr>
                                    <th scope="col" style="min-width: 50px;">#</th>
                                    <th scope="col" style="min-width: 250px;">檔案名稱</th>
                                    <th scope="col" style="min-width: 120px;">閱覽檔案等級</th>
                                    <th scope="col" style="min-width: 110px;">檔案類型</th>
                                    <th scope="col" style="min-width: 145px;">上傳時間</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="pagination" id="pageFile@(itemName)"></div>
                </div>
            </div>
        </div>

        <div class="task-box">
            <div class="message-board">
                <textarea class="form-control message-text" id="txtTemplateDesc@(itemName)" name="txtTemplateDesc@(itemName)" rows="2" placeholder="請輸入訊息內容.." data-msg-required="請輸入要發送至MAMO的個人訊息" data-rule-required="true"></textarea>
                <div class="subtask-list" style="border-bottom:0;justify-content:flex-end;">
                    <a class="subtask-link" href="javascript:void(0);" onclick="Forbidden@(itemName)()" style="margin-right: 15px;"> <i class="far fa-paperclip"></i></a>
                    <a class="subtask-link" href="javascript:void(0);" onclick="Datas@(itemName).SendMessage@(itemName)()" style="padding:5px 15px; background:#005bff; color:#fff;">發送至MAMO</a>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        let objForm@(itemName) = `#nav@(itemName)`;
        let objReplyPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objFilePage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };

        let Tasks@(itemName) = new TaskControl@(itemName)();
        let Datas@(itemName) = new DataControl@(itemName)();
        let config@(itemName);

        let replyConfig@(itemName) = [
            {
                Status: "C",
                StatusName: "完成",
                Placeholder: "選填"
            },
            {
                Status: "D",
                StatusName: "延宕",
                Placeholder: "必填"
            },
            {
                Status: "N",
                StatusName: "尚未開始",
                Placeholder: "必填"
            },
            {
                Status: "O",
                StatusName: "案計畫進行",
                Placeholder: "選填"
            },
            {
                Status: "S",
                StatusName: "開始",
                Placeholder: "選填"
            }
        ];

        $(function () {
            let currentDate = new Date();
            Tasks@(itemName).DatePicker@(itemName)("txtEstimateStart@(itemName)", currentDate);
            Tasks@(itemName).DatePicker@(itemName)("txtEstimateEnd@(itemName)", currentDate);
        });

        function Expand@(itemName)(config) {
            InitParameter@(itemName)(config);
            InitData@(itemName)(config.taskId);
        }

        function InitParameter@(itemName)(config) {
            config@(itemName) = config;
        }

        function InitData@(itemName)() {
            Tasks@(itemName).Initialize@(itemName)(`#nav@(itemName)`);
            Tasks@(itemName).LoadData@(itemName)();
        }

        function TaskControl@(itemName)() {
            addMethod(this, "Initialize@(itemName)", function (targetSelector) {
                $(targetSelector).addClass("active");

                $(targetSelector).find(".nav-close").off("click").on("click", function (e) {
                    $(`#nav@(itemName)`).removeClass("active");
                });

                $("body").off("click").on("click", function (e) {
                    if ($(targetSelector).hasClass("active")) {
                        if (!$(e.target).parents().hasClass("task-nav")
                            && !$(e.target).hasClass("swal2-container")
                            && !$(e.target).hasClass("modal")
                            && !$(e.target).hasClass("file-drop-zone-title")
                            && !$(e.target).hasClass("page-link")
                            && !$(e.target).parents().hasClass("swal2-container")
                            && !$(e.target).parents().hasClass("modal")
                            && !$(e.target).parents().hasClass("dhx_popup")
                            //&& !$(e.target).parents().hasClass("content_wrapper")
                        ) {
                            $(`#nav@(itemName)`).removeClass("active");
                        }
                    }

                    if (!$(targetSelector).find(".set-block").hasClass("hide") && !$(e.target).hasClass("nav-menu")) {
                        if (!$(e.target).parents().hasClass("set-block")) {
                            $(".set-block").addClass("hide");
                        }
                    }
                });

                let canEditStatus = ["B", "I"];
                if (canEditStatus.includes(config@(itemName).taskStatus) && config@(itemName).taskEditor) {
                    $(`${objForm@(itemName)} .detail-input, ${objForm@(itemName)} .time-input, ${objForm@(itemName)} .file-input`).removeAttr(`disabled`);
                    $(`${objForm@(itemName)} .read-item`).hide();
                    $(`${objForm@(itemName)} #start-label`).text(`預計開始時間`); $(`${objForm@(itemName)} .time-input`).attr(`type`,`number`);
                }
                else {
                    $(`${objForm@(itemName)} .detail-input, ${objForm@(itemName)} .time-input, ${objForm@(itemName)} .file-input`).attr(`disabled`, true);
                    $(`${objForm@(itemName)} .read-item`).show();
                    $(`${objForm@(itemName)} #start-label`).text(`預計時間`); $(`${objForm@(itemName)} .time-input`).removeAttr(`type`);
                }


                $(`${objForm@(itemName)} .title-input, ${objForm@(itemName)} .detail-input, ${objForm@(itemName)} .time-input`).off("change").on("change", function (e) {
                    Datas@(itemName).UpdateProjectTask@(itemName)();
                });
            });

            addMethod(this, "LoadData@(itemName)", function () {
                $(`${objForm@(itemName)} .detail`).html("");
                $(`${objForm@(itemName)} .title-input, ${objForm@(itemName)} .detail-input`).val("");

                Datas@(itemName).GetTask@(itemName)();
                Datas@(itemName).GetLastReply@(itemName)();
                Datas@(itemName).GetProjectReply@(itemName)(objReplyPage@(itemName));
                Datas@(itemName).GetTaskFile@(itemName)(objFilePage@(itemName));
                Datas@(itemName).FileAutoUpload@(itemName)({
                    fileSelector: "#fileTask@(itemName)",
                    targetSelector: "#txtFileId@(itemName)",
                    required: false,
                    uploadPath: "/Task/TaskFile",
                    maxFileCount: 1,
                    defaultFile: ""
                });
            });

            addMethod(this, "DatePicker@(itemName)", function (targetSelector, defaultDate) {
                let calendar = new dhx.Calendar(null, calendarSetting);
                let popup = new dhx.Popup();
                let dateInput = document.getElementById(targetSelector);

                popup.attach(calendar);

                if (defaultDate) {
                    calendar.setValue(defaultDate);
                    dateInput.value = calendar.getValue();
                }

                calendar.events.on("change", function () {
                    dateInput.value = calendar.getValue();
                    dateInput.dispatchEvent(eventChange);
                    popup.hide();
                });

                let func = function () {
                    popup.show(dateInput);
                };

                dateInput.removeEventListener("click", func, false);
                dateInput.addEventListener("click", func, false);
            });
        }

        function DataControl@(itemName)() {
            addMethod(this, "GetTask@(itemName)", function () {
                let targetUrl = "@Url.Action("GetProjectTask", "ProjectTrack")";
                let postData = {
                    TaskId: config@(itemName).taskId,
                    TaskType: config@(itemName).taskType
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        $("#txtTaskName@(itemName)").val(item.TaskName);
                        $("#desTaskStatusName@(itemName)").text(item.TaskStatusName).prop("class", `task-status${item.TaskStatus}`);
                        $("#desProjectName@(itemName)").text(item.ProjectName);
                        $("#desParentTaskName@(itemName)").text(item.TaskRouteName);

                        if (!config@(itemName).taskStatus) {
                            config@(itemName).taskStatus = item.TaskStatus;
                        }

                        if (!!item.TaskUser) {
                            $("#desTaskUser@(itemName)").html(JSON.parse(item.TaskUser)["data"].map(m => {
                                let icon = m.Gender == `M` ? `<span class="gender-male"><i class="fas fa-male"></i></span>` : m.Gender == `F` ? `<span class="gender-female"><i class="fas fa-female"></i></span>` : ``
                                return icon + m.UserName + '(' + m.UserNo + ')'
                            }).join(','));
                        }
                        $("#txtTaskDesc@(itemName)").val(item.TaskDesc);

                        let planned = `${item.TaskPlannedStart}&nbsp;<i class="fas fa-arrow-alt-right"></i>&nbsp;${item.TaskPlannedEnd}`;
                        $("#desPlanned@(itemName)").html(planned);

                        @*let estimate = `${item.TaskEstimateStart}&nbsp;<i class="fas fa-arrow-alt-right"></i>&nbsp;${item.TaskEstimateEnd}`;
                        $("#desEstimate@(itemName)").html(estimate);*@

                        let duration = parseInt(item.TaskEstimateDuration);
                        let days = parseInt(duration / 60 / 24);
                        let hours = parseInt((duration - days * 24 * 60) / 60);
                        let minutes = parseInt(duration - (days * 24 * 60) - (hours * 60));
                        $(`#txtEstimateStart@(itemName)`).val(item.TaskEstimateStart);
                        $(`#txtEstimateEnd@(itemName)`).val(item.TaskEstimateEnd);
                        $("#txtDayEstimateDuration@(itemName)").val(days);
                        $("#txtHourEstimateDuration@(itemName)").val(hours);
                        $("#txtMinuteEstimateDuration@(itemName)").val(minutes);

                        let actual = `${item.TaskActualStart}&nbsp;<i class="fas fa-arrow-alt-right"></i>&nbsp;${item.TaskActualEnd}`;
                        if (!!item.TaskActualStart) $("#desActual@(itemName)").html(actual);

                    });
                } else {
                    alert(data.msg, "alert", 0);
                }
            });

            addMethod(this, "GetLastReply@(itemName)", function () {
                let targetUrl = "@Url.Action("GetLastReply", "ProjectTrack")";
                let postData = {
                    "TaskId": config@(itemName).taskId,
                    "ReplyType": config@(itemName).taskType
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        Countdown(item.ReplyFrequency - item.LastReplyInterval, "desReplyCountdown@(itemName)");

                        let days = parseInt(item.LastReplyInterval / 60 / 24);
                        let hours = parseInt((item.LastReplyInterval % (60 * 24)) / 60);
                        let minutes = parseInt(item.LastReplyInterval % 60);
                        $("#desReplyMsg@(itemName)").html("距離上次回報：" + days + "天 " + hours + "小時 " + minutes + "分");

                        days = parseInt(item.ReplyFrequency / 60 / 24);
                        hours = parseInt((item.ReplyFrequency % (60 * 24)) / 60);
                        minutes = parseInt(item.ReplyFrequency % 60);
                        $("#desReplyFrequency@(itemName)").html("回報頻率：" + days + "天 " + hours + "小時 " + minutes + "分");
                    });
                } else {
                    alert(data.msg, "alert", 0);
                }
            });

            addMethod(this, "GetProjectReply@(itemName)", function (objPage) {
                let innerHtml = '';
                let pageCount = 0;

                let targetUrl = "@Url.Action("GetProjectReply", "ProjectTrack")";
                let postData = {
                    "OrderBy": "",
                    "PageIndex": (objPage.pageIndex + 1),
                    "PageSize": objPage.pageSize,
                    "TaskId": config@(itemName).taskId,
                    "ReplyType": config@(itemName).taskType
                };
                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                    if (pageCount > 0) {
                        $.each(data.result, function (i, item) {
                            let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                            let days = parseInt(item.DeferredDuration / 60 / 24);
                            let hours = parseInt((item.DeferredDuration % (60 * 24)) / 60);
                            let minutes = parseInt(item.DeferredDuration % 60);

                            let deferredDuration = `${days > 0 ? `${days} 天` : ``} ${hours > 0 ? `${hours} 小時` : ``} ${minutes > 0 ? `${minutes} 分` : ``}`;

                            innerHtml += `<tr>
                                            <td><span class="stack-title">#</span>${_row}</td>
                                            <td><span class="stack-title">回報人員</span>${item.LogoIcon == -1 ? `` : `<img class="company-logo" src="/Web/GetFile?fileId=${item.LogoIcon}" />`}${item.ReplyUserName}</td>
                                            <td><span class="stack-title">回報時間</span>${item.EventDate}</td>
                                            <td><span class="stack-title">回報狀態</span>${StatusUI(item.ReplyStatus)} ${item.ReplyStatusName}</td>
                                            <td><span class="stack-title">延後時間</span>${deferredDuration}</td>
                                            <td class="ellipsis" data-toggle="tooltip" title = "${item.ReplyContent}" style="max-width: 200px;"><span class="stack-title">回報內容</span>${item.ReplyContent}</td>
                                          </tr>`;
                        });
                    }
                    else {
                        innerHtml = '<tr><td class="text-center" colspan="6" style="background-color: #fff3cd;"><i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。</td></tr>';
                    }
                } else {
                    alert(data.msg, "alert", 0);
                }

                $("#tblReplyData@(itemName) tbody").html(innerHtml);
                TableComponentInit();
                Pager("#pageReply@(itemName)", pageCount, objPage, Datas@(itemName).GetTaskReply@(itemName));

                function StatusUI(status) {
                    let html = "";

                    switch (status) {
                        case "D":
                            html = `<span class="blink text-danger"><i class="fas fa-siren-on"></i></span>`;
                            break;
                    }

                    return html;
                }
            });

            addMethod(this, "GetTaskFile@(itemName)", function (objPage) {
                let innerHtml = '';
                let pageCount = 0;

                let targetUrl = "@Url.Action("GetProjectTaskFile", "ProjectTrack")";
                let postData = {
                    ProjectTaskId: config@(itemName).taskId,
                    PageIndex: (objPage.pageIndex + 1),
                    PageSize: objPage.pageSize
                };
                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                    if (data.result.length > 0) {
                        $.each(data.result.filter(f => f.SourceType == "T"), function (i, item) {
                            let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                            innerHtml += `<tr>
                                            <td><span class="stack-title">#</span>${_row}</td>
                                            <td class="active-content ellipsis" data-toggle="tooltip" title="${item.FileName}${item.FileExtension}" style="max-width: 250px;">
                                              <span class="stack-title">任務檔案</span>
                                              <a class="active-link auth-download" href="/ProjectTrack/DownloadFile?fileId=${item.FileId}" target="_blank"><i class="fas fa-download"></i><span>下載</span></a>
                                              ${item.FileName}${item.FileExtension}
                                            </td>
                                            <td>
                                              <span class="stack-title">閱覽檔案等級</span>
                                              <select class="form-control detail-input" name="cboLevelId@(itemName)" data-project-task-file-id="${item.ProjectTaskFileId}" data-level-id="${item.LevelId}"></select>
                                            </td>
                                            <td>
                                              <span class="stack-title">檔案類型</span>
                                              <select class="form-control detail-input" name="cboFileType@(itemName)" data-project-task-file-id="${item.ProjectTaskFileId}" data-filetype="${item.FileType}"></select>
                                            </td>
                                            <td><span class="stack-title">上傳時間</span>${item.CreateDate}</td>
                                            <td class="text-center active-content">
                                              <span class="stack-title">操作</span>
                                              <a class="active-link" href="javascript:Datas@(itemName).DeleteTaskFile@(itemName)(${item.ProjectTaskFileId});"><i class="fas fa-trash-alt"></i></a>
                                            </td>
                                          </tr>`;
                        });
                    }
                    else {
                        innerHtml += `<tr>
                                        <td class="text-center" colspan="6" style="background-color: #fff3cd;">
                                          <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                        </td>
                                      </tr>`;
                    }
                } else {
                    alert(data.msg, "alert", 0);
                }

                $("#tblFileData@(itemName) tbody").html(innerHtml);
                TableComponentInit();
                Pager("#pageFile@(itemName)", pageCount, objPage, Datas@(itemName).GetTaskFile@(itemName));

                ComboBoxs.Default("select[name=cboLevelId@(itemName)]", "@Url.Action("GetFileLevel", "PmisBasicInformation")", { "Status": "A" }, "", "CHOOSE-NUMBER", "", "LevelName", "LevelId");
                ComboBoxs.Default("select[name=cboFileType@(itemName)]", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "ProjectFile.FileType" }, "", "CHOOSE", "", "TypeName", "TypeNo");

                $("select[name=cboLevelId@(itemName)]").each(function () {
                    $(this).val($(this).data("level-id")); //載入選取當前值
                });

                $("select[name=cboFileType@(itemName)]").each(function () {
                    $(this).val($(this).data("filetype")); //載入選取當前值
                });

                $("select[name=cboLevelId@(itemName)]").off("change").on("change", function (e) {
                    let projectTaskFileId = $(this).data("project-task-file-id");

                    let targetUrl = "@Url.Action("UpdateProjectTaskFileLevel", "ProjectTrack")";
                    let postData = {
                        "ProjectTaskFileId": projectTaskFileId,
                        "LevelId": $(e.target).val()
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Datas@(itemName).GetTaskFile@(itemName)();
                    }
                });

                $("select[name=cboFileType@(itemName)]").off("change").on("change", function (e) {
                    let projectTaskFileId = $(this).data("project-task-file-id");

                    let targetUrl = "@Url.Action("UpdateProjectTaskFileType", "ProjectTrack")";
                    let postData = {
                        "ProjectTaskFileId": projectTaskFileId,
                        "FileType": $(e.target).val()
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Datas@(itemName).GetTaskFile@(itemName)();
                    }
                });

                if (!isMobile) {
                    $("select[name=cboLevelId@(itemName)], select[name=cboFileType@(itemName)]").select2({
                        dropdownAutoWidth: true,
                        width: "100%"
                    });
                }
            });

            addMethod(this, "UpdateProjectTask@(itemName)", function () {
                @*let days = parseInt($("#txtDayReplyFrequency@(itemName)").val() ? $("#txtDayReplyFrequency@(itemName)").val() : 0) * 24 * 60;
                let hours = parseInt($("#txtHourReplyFrequency@(itemName)").val() ? $("#txtHourReplyFrequency@(itemName)").val() : 0) * 60;
                let minutes = parseInt($("#txtMinuteReplyFrequency@(itemName)").val() ? $("#txtMinuteReplyFrequency@(itemName)").val() : 0);
                let replyFrequency = days + hours + minutes;*@

                let days = parseInt($("#txtDayEstimateDuration@(itemName)").val() ? $("#txtDayEstimateDuration@(itemName)").val() : 0) * 24 * 60;
                let hours = parseInt($("#txtHourEstimateDuration@(itemName)").val() ? $("#txtHourEstimateDuration@(itemName)").val() : 0) * 60;
                let minutes = parseInt($("#txtMinuteEstimateDuration@(itemName)").val() ? $("#txtMinuteEstimateDuration@(itemName)").val() : 0);
                let estimateDuration = days + hours + minutes;

                let targetUrl = "@Url.Action("UpdateProjectTask", "ProjectTrack")";
                let postData = {
                    ProjectTaskId: config@(itemName).taskId,
                    EstimateStart: $(`#txtEstimateStart@(itemName)`).val(),
                    EstimateDuration: estimateDuration,
                    TaskName: $("#txtTaskName@(itemName)").val(),
                    TaskDesc: $("#txtTaskDesc@(itemName)").val(),
                    RequiredFile: $("input[name='chkRequest@(itemName)']").is(":checked")
                };

                let result = DataAccess.Update(targetUrl, postData, false, true);

                if (result) {
                    Tasks@(itemName).LoadData@(itemName)();
                    ExpandTaskGantt({ projectTaskId: config@(itemName).taskId, reLoadFnString: "InitData@(parentName)" });
                }
            });

            addMethod(this, "FileAutoUpload@(itemName)", function (uploadConfig) {
                //#region 檔案上傳套件
                let uploadSetting = {
                    theme: "fas",
                    language: "zh-TW",
                    showCaption: true,
                    showPreview: true,
                    showRemove: false,
                    showUpload: false,
                    showCancel: false,
                    uploadUrl: "/Web/Upload",
                    uploadAsync: true,
                    minFileCount: (uploadConfig.required ? 1 : 0),
                    maxFileCount: uploadConfig.maxFileCount,
                    validateInitialCount: true,
                    overwriteInitial: false,
                    initialPreviewAsData: true,
                    browseOnZoneClick: true,
                    uploadExtraData: {
                        savePath: uploadConfig.uploadPath,
                        isPreview: false
                    },
                    previewFileIconSettings: {
                        doc: '<i class="fas fa-file-word" style="color: #0078d7;"></i>',
                        docx: '<i class="fas fa-file-word" style="color: #0078d7;"></i>',
                        xls: '<i class="fas fa-file-excel" style="color: #1d6f42;"></i>',
                        xlsx: '<i class="fas fa-file-excel" style="color: #1d6f42;"></i>',
                        csv: '<i class="fas fa-file-csv" style="color: #1d6f42;"></i>',
                        ppt: '<i class="fas fa-file-powerpoint" style="color: #d04423"></i>',
                        pptx: '<i class="fas fa-file-powerpoint" style="color: #d04423"></i>'
                    }
                };

                if (!!uploadConfig.defaultFile) {
                    let previewData = FileAccess.Preview(uploadConfig.defaultFile);
                    if (!!previewData) {
                        uploadSetting.initialPreview = previewData.initialPreview;
                        uploadSetting.initialPreviewConfig = previewData.initialPreviewConfig;
                    }
                }

                $(uploadConfig.fileSelector).fileinput('destroy');
                $(uploadConfig.fileSelector).fileinput(uploadSetting)
                    .off('filebatchselected')
                    .on('filebatchselected', function (event, files) {
                        $(uploadConfig.fileSelector).fileinput("upload");
                    })
                    .off('fileuploaded')
                    .on('fileuploaded', function (event, previewId, index, fileId) {
                        let uploadPath = previewId.response.initialPreviewConfig[0]["key"];

                        tempFile = [];
                        if ($(uploadConfig.targetSelector).val()) tempFile = $(uploadConfig.targetSelector).val().split(',');
                        tempFile.push(uploadPath);
                        $(uploadConfig.targetSelector).val(tempFile.join(",")).trigger('change');
                        $(uploadConfig.fileSelector).fileinput('clear');

                        let targetUrl = "@Url.Action("AddProjectTaskFile", "ProjectTrack")";
                        let postData = {
                            TaskId: config@(itemName).taskId,
                            FileId: uploadPath,
                        };

                        let result = DataAccess.Add(targetUrl, postData, false, false);

                        if (result) {
                            Datas@(itemName).GetTaskFile@(itemName)(objFilePage@(itemName));
                        }
                    });
                //#endregion
            });

            addMethod(this, "DeleteTaskFile@(itemName)", function (projectTaskFileId) {
                swal.fire({
                    titleText: "確認要刪除嗎?",
                    text: "此動作無法復原，請確認是否要執行!",
                    icon: "warning",
                    allowOutsideClick: false,
                    allowEscapeKey: false,
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        let targetUrl = "@Url.Action("DeleteProjectTaskFile", "ProjectTrack")";
                        let postData = {
                            "ProjectTaskFileId": projectTaskFileId
                        };

                        let result = DataAccess.Delete(targetUrl, postData, false, true);

                        if (result) {
                            Datas@(itemName).GetTaskFile@(itemName)(objFilePage@(itemName));
                        }
                    }
                });
            });

            addMethod(this, "SendMessage@(itemName)", function () {
                let targetUrl = "@Url.Action("SendMessage", "api")";
                let postData = {
                    TaskId: config@(itemName).taskId,
                    TaskType: config@(itemName).taskType,
                    Content: $(`#txtTemplateDesc@(itemName)`).val()
                };

                let result = DataAccess.Add(targetUrl, postData, false, false);

                if (result) {
                    alert("訊息發送完成!", "success", 0);
                }
            });
        }

        function Forbidden@(itemName)() {
            swal.fire({
                title: "功能尚未開放!",
                icon: "error"
            });
        }
</script>
        )