@using Business_Manager.Helpers
@{
    string itemName = "BomExcel";
    string itemNameText = "BOM表Excel工作模式";
}

<script src="@Url.Content("~/Scripts/dhtmlx/spreadsheet.commercial/4.3.0/spreadsheet.min.js")"></script>
<link href="@Url.Content("~/Content/dhtmlx/spreadsheet.commercial/4.3.0/spreadsheet.min.css")" rel="stylesheet" />


@Html.Resource("css",
    @<style>
         .showStyle {
             display: inline-block;
             margin-top: -1px;
         }

         .AddNewItem {
             margin: 2px 0;
         }
    </style>
        )

<div style="height: 75%; width: 100%;" id="BomExcelTemporary"></div>


@Html.Resource("js",
    @<script>
        let spreadsheet@(itemName);
        let spreadsheetData@(itemName);

        let spreadsheetJson@(itemName) =
        {
            spreadsheetInfo: []
        }

        var BomExcelData = "";

        var lastCell = "";
        var nowCell = "";
        var MtlItemCellUpdate = false;


        function Expand@(itemName)() {
            BomExcelData = `
                    {"sheets":[{"name":"sheet1","data":[
                     {"cell":"A1","css":"dhx_generated_class_u1690959030028","format":"text","value":"元件品號"}
                    ,{"cell":"B1","css":"dhx_generated_class_u1690959030028","format":"text","value":"品名"}
                    ,{"cell":"C1","css":"dhx_generated_class_u1690959030028","format":"text","value":"規格"}
                    ,{"cell":"D1","css":"dhx_generated_class_u1690959030038","format":"text","value":"序號"}
                    ,{"cell":"E1","css":"dhx_generated_class_u1690959030040","format":"text","value":"單位用量"}
                    ,{"cell":"F1","css":"dhx_generated_class_u1690959030040","format":"text","value":"底數"}
                    ,{"cell":"G1","css":"dhx_generated_class_u1690959030040","format":"text","value":"損壞率"}
                    ,{"cell":"H1","css":"dhx_generated_class_u1690959030041","format":"text","value":"生效日"}
                    ,{"cell":"I1","css":"dhx_generated_class_u1690959030041","format":"text","value":"失效日"}
                    ,{"cell":"J1","css":"dhx_generated_class_u1690959030039","format":"text","value":"備註"}]
                    ,"cols":[{"width":180},{"width":180},{"width":180},{"width":100},{"width":150},{"width":135},{"width":105},{"width":105},{"width":105},{"width":200}]
                    ,"rows":[{"height":32}]}]
                    ,"styles":{
                    "dhx_generated_class_u1690959030028":{"background":"#BCE4CE","text-align":"center","justify-content":"center"}
                    ,"dhx_generated_class_u1690959030038":{"background":"#81D4FA","text-align":"center","justify-content":"center"}
                    ,"dhx_generated_class_u1690959030039":{"background":"#D6BDCC","text-align":"center","justify-content":"center"}
                    ,"dhx_generated_class_u1690959030040":{"background":"#FFCDD2","text-align":"center","justify-content":"center"}
                    ,"dhx_generated_class_u1690959030041":{"background":"#90D2AF","text-align":"center","justify-content":"center"}
                    ,"dhx_generated_class_u1690959030042":{"background":"#88A3F9","text-align":"center","justify-content":"center"}
                    ,"dhx_generated_class_u1690959030043":{"background":"#D2C5C1","text-align":"center","justify-content":"center"}}
                    ,"formats":[{"name":"Common","id":"common","mask":"","example":"1500.31"},{"name":"Number","id":"number","mask":"#,##0.00","example":"1500.31"}
                    ,{"name":"Percent","id":"percent","mask":"#,##0.00%","example":"15.0031"},{"name":"Currency","id":"currency","mask":"$#,##0.00","example":"1500.31"}
                    ,{"name":"Date","id":"date","mask":"yy-mm-dd","example":"2023-11-20","dateFormat":"%y/%m/%d"}
                    ,{"name":"Time","id":"time","mask":"h:mm:ss am/pm","example":"0.5625","timeFormat":12}
                    ,{"name":"Text","id":"text","mask":"@@","example":"some text"}]}
                `

            if (parseInt($("#BomId").val()) > 0) {

                $(".advanced-block").slideDown("slow");

                ResetSpreadsheet@(itemName)();

                $("#BomExcelTemporary").css("height", "600px");

                spreadsheet@(itemName).clear();

                //單元值改變後
                spreadsheet@(itemName).events.on("afterFocusSet", function (cell) {
                    var rows = cell.substr(1);
                    if (rows != 1) {
                        if (lastCell != "") {
                            if (lastCell.split('')[0] == "A" && lastCell.split('')[1] != 1) {
                                var MtlItemNo = spreadsheet@(itemName).getValue(lastCell)
                                if (MtlItemNo != null) {
                                    //MtlItemDate(MtlItemNo, lastCell.split('')[1])
                                }
                            }
                        }
                        nowCell = cell;
                        lastCell = cell;
                    }
                });
                //轉移焦點後觸發
                spreadsheet@(itemName).events.on("afterFocusSet", function (cell) {
                    var rows = cell.substr(1);
                    var MtlItemNo = spreadsheet@(itemName).getValue("A" + rows)
                    var CompositionQuantity = spreadsheet@(itemName).getValue("E" + rows)
                    var Base =  spreadsheet@(itemName).getValue("F" + rows)
                    var LossRate = spreadsheet@(itemName).getValue("G" + rows)
                    if (rows != 1) {

                        if (MtlItemNo != null) {
                            if (CompositionQuantity == undefined) spreadsheet@(itemName).setValue("E" + rows, "1" )
                            if (Base == undefined) spreadsheet@(itemName).setValue("F" + rows, "1" )
                            if (LossRate == undefined) spreadsheet@(itemName).setValue("G" + rows, "0" )

                            //var BomSequence = ((rows - 1)*10).toString().padStart(4, '0')
                            spreadsheet@(itemName).setFormat("B" + rows, "text" )
                            spreadsheet@(itemName).setFormat("C" + rows, "text" )
                            spreadsheet@(itemName).setFormat("D" + rows, "text" )
                            spreadsheet@(itemName).setFormat("E" + rows, "number" )
                            spreadsheet@(itemName).setFormat("F" + rows, "number" )
                            spreadsheet@(itemName).setFormat("G" + rows, "number" )
                            spreadsheet@(itemName).setFormat("H" + rows, "date" )
                            spreadsheet@(itemName).setFormat("I" + rows, "date" )
                            spreadsheet@(itemName).setFormat("J" + rows, "text" )
                            //spreadsheet@(itemName).setValue("D" + rows, BomSequence)
                            //spreadsheet@(itemName).lock("B" + rows )
                            //spreadsheet@(itemName).lock("C" + rows )
                        }

                    }
                });

                //點擊觸發
                spreadsheet@(itemName).toolbar.events.on("click", function (id) {

                    spreadsheetData@(itemName) = spreadsheet@(itemName).serialize();
                    $.each(spreadsheetData@(itemName).sheets[0].data, function (i, item) {
                        let cell = item.cell;
                        if (cell.length == 2 && cell.split('')[1] == "1") {
                            return;
                        }
                        else {
                            @*if (cell.split('')[0] == "D") {
                                BomSequence = (item.value).toString().padStart(4, '0')
                                spreadsheet@(itemName).setValue("D" + cell.split('')[1], BomSequence )
                            }*@
                            spreadsheet@(itemName).setFormat("B" + cell.split('')[1], "text" )
                            spreadsheet@(itemName).setFormat("C" + cell.split('')[1], "text" )
                            spreadsheet@(itemName).setFormat("D" + cell.split('')[1], "text" )
                            spreadsheet@(itemName).setFormat("E" + cell.split('')[1], "number" )
                            spreadsheet@(itemName).setFormat("F" + cell.split('')[1], "number" )
                            spreadsheet@(itemName).setFormat("G" + cell.split('')[1], "number" )
                            spreadsheet@(itemName).setFormat("H" + cell.split('')[1], "date" )
                            spreadsheet@(itemName).setFormat("I" + cell.split('')[1], "date" )
                            spreadsheet@(itemName).setFormat("J" + cell.split('')[1], "text")
                        }
                    });



                    if (id == "Confirm") {
                        ConfirmExcelData@(itemName)();
                    }
                    else if (id == "Transfer") {
                        Transfer@(itemName)();
                    }
                    else if (id == "Delete") {
                        DeleteExcelData@(itemName)();
                    }
                    else if (id == "DownloadExcel") {
                        DownloadExcel@(itemName)();
                    }
                    else if (id == "Import") {
                        ImportExcel@(itemName)();
                    }
                    else if (id == "CheckData") {
                        CheckData@(itemName)();
                    }

                });


                Return@(itemName)();

            }
            else {
                alert("請先建立BOM單頭才能使用BomExcel工作模式!!", "alert");
                let dataset = JSON.parse(BomExcelData);
                spreadsheet@(itemName).parse(dataset);
                spreadsheetData@(itemName) = dataset;
            }
        }

        function Query@(itemName)() {
            InitData@(itemName)();
        }

        function InitData@(itemName)(objPage) {
            var rows = 1;

            let targetUrl = "@Url.Action("GetBomDetail", "Product")";
            let postData = {
                "BomId": $("#BomId").val()
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                if (data.result.length > 0) {
                    let dataset = JSON.parse(BomExcelData);
                    spreadsheet@(itemName).parse(dataset);
                    spreadsheetData@(itemName) = dataset;
                    $.each(data.result, function (i, item) {
                        //rows = parseInt(item.BomSequence) / 10 + 1
                        rows = i + 2

                        spreadsheet@(itemName).setFormat("B" + rows, "text")
                        spreadsheet@(itemName).setFormat("C" + rows, "text")
                        spreadsheet@(itemName).setFormat("D" + rows, "text")
                        spreadsheet@(itemName).setFormat("E" + rows, "number")
                        spreadsheet@(itemName).setFormat("F" + rows, "number")
                        spreadsheet@(itemName).setFormat("G" + rows, "number")
                        spreadsheet@(itemName).setFormat("H" + rows, "date")
                        spreadsheet@(itemName).setFormat("I" + rows, "date")
                        spreadsheet@(itemName).setFormat("J" + rows, "text")
                        spreadsheet@(itemName).setValue("A" + rows, item.MtlItemNo)
                        spreadsheet@(itemName).setValue("B" + rows, item.MtlItemName)
                        spreadsheet@(itemName).setValue("C" + rows, item.MtlItemSpec)
                        spreadsheet@(itemName).setValue("D" + rows, item.BomSequence)
                        spreadsheet@(itemName).setValue("E" + rows, item.CompositionQuantity)
                        spreadsheet@(itemName).setValue("F" + rows, item.Base)
                        spreadsheet@(itemName).setValue("G" + rows, item.LossRate)
                        spreadsheet@(itemName).setValue("H" + rows, item.EffectiveDate)
                        spreadsheet@(itemName).setValue("I" + rows, item.ExpirationDate)
                        spreadsheet@(itemName).setValue("J" + rows, item.Remark)
                        spreadsheet@(itemName).lock("B" + rows)
                        spreadsheet@(itemName).lock("C" + rows)
                    })
                    spreadsheet@(itemName).lock("A1:H1");
                    spreadsheet@(itemName).setFormat("D1:D1000", "text")
                    spreadsheet@(itemName).lock("B1:B1000");
                    spreadsheet@(itemName).lock("C1:C1000");

                }
                else {
                    let dataset = JSON.parse(BomExcelData);
                    spreadsheet@(itemName).parse(dataset);
                    spreadsheetData@(itemName) = dataset;
                    spreadsheet@(itemName).lock("A1:H1");
                    spreadsheet@(itemName).lock("B1:B1000");
                    spreadsheet@(itemName).lock("C1:C1000");
                    spreadsheet@(itemName).setFormat("D1:D1000", "text" )
                }
            }
            else {
                    let dataset = JSON.parse(BomExcelData);
                    spreadsheet@(itemName).parse(dataset);
                    spreadsheetData@(itemName) = dataset;
                    spreadsheet@(itemName).lock("A1:H1");
                    spreadsheet@(itemName).lock("B1:B1000");
                    spreadsheet@(itemName).lock("C1:C1000");
                    spreadsheet@(itemName).setFormat("D1:D1000", "text" )
            }



            @*let targetUrl = "@Url.Action("GetBillOfMaterials", "Product")";
            let postData = {
                "BomId": $("#BomId").val()
            };

            let data = DataAccess.Get(targetUrl, postData, false);*@


            //UpdateBomExcelMostNew@(itemName)()
        }

        function ResetSpreadsheet@(itemName)() {
            $("#BomExcelTemporary").empty();

            spreadsheet@(itemName) = new dhx.Spreadsheet("BomExcelTemporary", {
                menu: false,
                dateFormat: "%Y-%m-%d",
                toolbarBlocks: [
                    "format"
                ]
            });

            @*spreadsheet@(itemName).toolbar.data.add({
                type: "button",
                icon: "fas fa-search",
                tooltip: "新增製程",
                id: "AddNewItem",
                class:"pop-view"
            });*@

            @*spreadsheet@(itemName).toolbar.data.add({
                type: "button",
                icon: "fas fa-save",
                tooltip: "暫時儲存數據",
                id: "Save"
            });*@
            spreadsheet@(itemName).toolbar.data.add({
                type: "button",
                icon: "fas fa-file-excel",
                tooltip: "匯入Excel",
                id: "Import"
            });
            spreadsheet@(itemName).toolbar.data.add({
                type: "button",
                icon: "fas fa-random",
                tooltip: "取得序號",
                id: "CheckData"
            });
            spreadsheet@(itemName).toolbar.data.add({
                type: "button",
                icon: "fas fa-upload",
                tooltip: "上傳數據",
                id: "Confirm"
            });
            spreadsheet@(itemName).toolbar.data.add({
                type: "button",
                icon: "fas fa-arrow-alt-square-up",
                tooltip: "拋傳ERP",
                id: "Transfer"
            });

            spreadsheet@(itemName).toolbar.data.add({
                type: "button",
                icon: "fas fa-trash-alt",
                tooltip: "刪除暫存數據",
                id: "Delete"
            });

            spreadsheet@(itemName).toolbar.data.add({
                type: "button",
                icon: "fas fa-download",
                tooltip: "下載當前EXCEL",
                id: "DownloadExcel"
            });
        }

        function ReLoadSpreadsheetData@(itemName)() {
            spreadsheetJson@(itemName).spreadsheetInfo = [];
            spreadsheetData@(itemName) = spreadsheet@(itemName).serialize();
            $.each(spreadsheetData@(itemName).sheets[0].data, function (i, item) {
                let cell = item.cell;

                if (cell.length == 2 && cell.split('')[1] == "1" ) {
                    return;
                }

                //元件品號
                if (cell.split('')[0] == "A" && item.value !== undefined) {
                    if (item.value != "") {
                        let inputSpreadsheetInfo =
                        {
                            "MtlItemNo": item.value,
                            "Row": cell.split('A')[1]
                        };
                        spreadsheetJson@(itemName).spreadsheetInfo.push(inputSpreadsheetInfo);
                    }
                }

                //序號
                if (cell.split('')[0] == "D") {
                    let row = cell.split('D')[1];
                    $.each(spreadsheetJson@(itemName).spreadsheetInfo, function (j, item2) {
                        if (item2.Row == row) {
                            spreadsheetJson@(itemName).spreadsheetInfo[j]["BomSequence"] = item.value;
                        }
                    });
                }

                //單位用量
                if (cell.split('')[0] == "E") {
                    let row = cell.split('E')[1];
                    $.each(spreadsheetJson@(itemName).spreadsheetInfo, function (j, item2) {
                        if (item2.Row == row) {
                            spreadsheetJson@(itemName).spreadsheetInfo[j]["CompositionQuantity"] = item.value;
                        }
                    });
                }
                //底數
                if (cell.split('')[0] == "F") {
                    let row = cell.split('F')[1];
                    $.each(spreadsheetJson@(itemName).spreadsheetInfo, function (j, item2) {
                        if (item2.Row == row) {
                            spreadsheetJson@(itemName).spreadsheetInfo[j]["Base"] = item.value;
                        }
                    });
                }
                //損壞率
                if (cell.split('')[0] == "G") {
                    let row = cell.split('G')[1];
                    $.each(spreadsheetJson@(itemName).spreadsheetInfo, function (j, item2) {
                        if (item2.Row == row) {
                            spreadsheetJson@(itemName).spreadsheetInfo[j]["LossRate"] = item.value;
                        }
                    });
                }
                //生效日
                if (cell.split('')[0] == "H") {
                    let row = cell.split('H')[1];
                    $.each(spreadsheetJson@(itemName).spreadsheetInfo, function (j, item2) {
                        if (item2.Row == row) {
                            spreadsheetJson@(itemName).spreadsheetInfo[j]["EffectiveDate"] = item.value;
                        }
                    });
                }
                //失效日
                if (cell.split('')[0] == "I") {
                    let row = cell.split('I')[1];
                    $.each(spreadsheetJson@(itemName).spreadsheetInfo, function (j, item2) {
                        if (item2.Row == row) {
                            spreadsheetJson@(itemName).spreadsheetInfo[j]["ExpirationDate"] = item.value;
                        }
                    });
                }
                //備註
                if (cell.split('')[0] == "J") {
                    let row = cell.split('J')[1];
                    $.each(spreadsheetJson@(itemName).spreadsheetInfo, function (j, item2) {
                        if (item2.Row == row) {
                            spreadsheetJson@(itemName).spreadsheetInfo[j]["Remark"] = item.value;
                        }
                    });
                }
            });
        }


        function ConfirmExcelData@(itemName)() {
            swal.fire({
                titleText: "確認要上傳數據嗎?",
                text: "請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    ReLoadSpreadsheetData@(itemName)();
                    let targetUrl = "@Url.Action("UpdateConfirmBomExcel", "Product")";
                    let postData = {
                        "BomId": $("#BomId").val(),
                        "BomExcelJson": JSON.stringify(spreadsheetJson@(itemName)),
                        "BomExcelData": JSON.stringify(spreadsheetData@(itemName))
                    };

                    let data = DataAccess.Update(targetUrl, postData, false, true);

                    if (data) {
                        //alert("確認成功", "success", 0);
                        Query@(itemName)()
                    }
                }
            });
        }

        function DeleteExcelData@(itemName)() {
            swal.fire({
                titleText: "確認要刪除暫存數據嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteBomDetailAll", "Product")";
                    let postData = {
                        "BomId": $("#BomId").val()
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Return@(itemName)();
                    }
                }
            });
        }

        function Transfer@(itemName)() {
            swal.fire({
                    titleText: "是否要拋轉ERP?",
                    text: "請確認是否要執行!",
                    icon: "warning",
                    allowOutsideClick: false,
                    allowEscapeKey: false,
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("UpdateBomToERP", "Product")";
                    let postData = {
                        "BomId": $("#BomId").val(),
                        "MtlItemId": $("#MtlItemId").val()
                    };

                    let result = DataAccess.Other(targetUrl, postData, false, false);

                    if (result) {
                        alert('拋轉成功', 'success', 0);
                        Query@(itemName)();
                    }
                }
            });
        }

        function ImportExcel@(itemName)() {
            spreadsheet@(itemName).load("", "xlsx").then(function () {
                spreadsheet@(itemName).lock("A1:H1");
                spreadsheet@(itemName).setFormat("D1:D1000", "text")
                spreadsheet@(itemName).lock("B1:B1000");
                spreadsheet@(itemName).lock("C1:C1000");
            });


        }

        function CheckData@(itemName)() {
            spreadsheetData@(itemName) = spreadsheet@(itemName).serialize();
            var maxBomSequence = 0;
            var dataList = [];
            $.each(spreadsheetData@(itemName).sheets[0].data, function (i, item) {
                let cell = item.cell;

                if (cell.length == 2 && cell.split('')[1] == "1" ) {
                    return;
                }

                //元件品號
                if (cell.split('')[0] == "A" && item.value !== undefined) {
                    if (item.value != "") {

                        var row = cell.split('A')[1];
                        var BomSequence = spreadsheet@(itemName).getValue("D" + row)
                        var CompositionQuantity = spreadsheet@(itemName).getValue("E" + row)
                        var Base = spreadsheet@(itemName).getValue("F" + row)
                        var LossRate = spreadsheet@(itemName).getValue("G" + row)
                        

                        if (CompositionQuantity == undefined) spreadsheet@(itemName).setValue("E" + row, 1)
                        if (Base == undefined) spreadsheet@(itemName).setValue("F" + row, 1)
                        if (LossRate == undefined) spreadsheet@(itemName).setValue("G" + row, 0)

                        if (parseInt(BomSequence) > maxBomSequence) {
                            maxBomSequence = parseInt(BomSequence)
                        }
                        dataList.push(row)
                    }

                }
            })
            dataList.forEach(function (v) {
                BomSequence = spreadsheet@(itemName).getValue("D" + v)
                if (spreadsheet@(itemName).getValue("D" + v) == undefined) {
                    maxBomSequence = Math.floor(maxBomSequence / 10) * 10 + 10

                    spreadsheet@(itemName).setValue("D" + v, maxBomSequence.toString().padStart(4, '0'))
                }
                else {
                    spreadsheet@(itemName).setValue("D" + v, parseInt(BomSequence).toString().padStart(4, '0'))
                }
            })

        }

        function DownloadExcel@(itemName)() {
            spreadsheet@(itemName).export.xlsx();
        }

        function Close@(itemName)() {
            $("#modal@(itemName)").modal("hide");
            ReturnDfmQuotationItem()
        }


        function UpdateBomExcelMostNew@(itemName)() {
            var rows = 1;

            let targetUrl = "@Url.Action("GetBomDetail", "Product")";
            let postData = {
                "BomId": $("#BomId").val()
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                if (data.result.length > 0) {
                    let dataset = JSON.parse(BomExcelData);
                    spreadsheet@(itemName).parse(dataset);
                    spreadsheetData@(itemName) = dataset;
                    $.each(data.result, function (i, item) {
                        //rows = parseInt(item.BomSequence) / 10 + 1
                        rows = i+2

                        spreadsheet@(itemName).setFormat("B" + rows, "text" )
                        spreadsheet@(itemName).setFormat("C" + rows, "text" )
                        spreadsheet@(itemName).setFormat("D" + rows, "text" )
                        spreadsheet@(itemName).setFormat("E" + rows, "number" )
                        spreadsheet@(itemName).setFormat("F" + rows, "number" )
                        spreadsheet@(itemName).setFormat("G" + rows, "number" )
                        spreadsheet@(itemName).setFormat("H" + rows, "date" )
                        spreadsheet@(itemName).setFormat("I" + rows, "date" )
                        spreadsheet@(itemName).setFormat("J" + rows, "text" )
                        spreadsheet@(itemName).setValue("A" + rows, item.MtlItemNo )
                        spreadsheet@(itemName).setValue("B" + rows, item.MtlItemName )
                        spreadsheet@(itemName).setValue("C" + rows, item.MtlItemSpec )
                        spreadsheet@(itemName).setValue("D" + rows, item.BomSequence )
                        spreadsheet@(itemName).setValue("E" + rows, item.CompositionQuantity )
                        spreadsheet@(itemName).setValue("F" + rows, item.Base )
                        spreadsheet@(itemName).setValue("G" + rows, item.LossRate )
                        spreadsheet@(itemName).setValue("H" + rows, item.EffectiveDate )
                        spreadsheet@(itemName).setValue("I" + rows, item.ExpirationDate )
                        spreadsheet@(itemName).setValue("J" + rows, item.Remark)
                        spreadsheet@(itemName).lock("B" + rows)
                        spreadsheet@(itemName).lock("C" + rows)
                    })
                    spreadsheet@(itemName).lock("A1:H1");
                    spreadsheet@(itemName).setFormat("D1:D1000", "text")
                    spreadsheet@(itemName).lock("B1:B1000");
                    spreadsheet@(itemName).lock("C1:C1000");

                }
                //SaveExcelData@(itemName)()
            }
        }

        function MtlItemDate(MtlItemNo, rows) {
            let targetUrl = "@Url.Action("GetMtlItem", "Product")";
            let postData = {
                "MtlItemNo": MtlItemNo
            };

            let data = DataAccess.Get(targetUrl, postData, false);
            if (data.status == "success") {
                if (data.result.length > 0) {
                    $.each(data.result, function (i, item) {
                        spreadsheet@(itemName).setValue("B" + rows, item.MtlItemName )
                        spreadsheet@(itemName).setValue("C" + rows, item.MtlItemSpec)
                        //spreadsheet@(itemName).lock("B" + rows)
                        //spreadsheet@(itemName).lock("C" + rows)
                    })
                }
            }
        }

        function Return@(itemName)() {
            InitData@(itemName)();

        }
</script>
                                                        )