@using Business_Manager.Helpers
@{
    string itemName = "BomMtlItemStructClone";
    string parentItemName = "BomMtlItemPlatform";
    string itemNameText = "產品結構";
    string authority = ViewBag.authority;

    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
        #dataFormBomMtlItemStructClone .table-custom {
            max-height: 100%;
        }

        #listDataBomMtlItemStructClone .bomLvl_0 {
            color: #9B59B6;
        }

        #listDataBomMtlItemStructClone .bomLvl_1 {
            color: #E74C3C;
        }

        #listDataBomMtlItemStructClone .bomLvl_2 {
            color: #2980B9;
        }

        #listDataBomMtlItemStructClone .bomLvl_3 {
            color: #F39C12;
        }

        #listDataBomMtlItemStructClone .bomLvl_4 {
            color: #16A085;
        }

        #listDataBomMtlItemStructClone .exists {
            background-color: #E74C3C;
            color: #fff5b7;
        }

        #listDataBomMtlItemStructClone .select2.select2-container.select2-container--default .selection .select2-selection--single {
            padding: 1px 12px;
            height: 28px;
        }

        #listDataBomMtlItemStructClone .select2.select2-container.select2-container--default .select2-selection__arrow {
            top: 1px;
            right: 4px;
        }

        #tblDataBomMtlItemStructClone .form-control,
        #tblDataBomMtlItemStructClone .input-group-text,
        #tblDataBomMtlItemStructClone th button,
        #tblDataBomMtlItemStructClone td button {
            padding: 0;
            height: 28px;
        }

        #tblDataBomMtlItemStructClone tr,
        #tblDataBomMtlItemStructClone th,
        #tblDataBomMtlItemStructClone td {
            padding: 1px 1px 4px 1px;
        }

        #tblDataBomMtlItemStructClone code {
            color: #34f;
        }

    /*.title-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0.5rem;
    }

     .subject-content {
         font-size: 1rem;
     }

         .subject-content p {
             margin-bottom: 0.25rem;
         }

     .SubjectContentRdWorkBom .card .card-header {
         background: #eddeff;
     }

     .ComponentContentRdWorkBom .card .card-header {
         background: #cae8ff;
     }*/


     fieldset.scheduler-border {
         padding: 0 1.4em 1.4em 1.4em !important;
         margin: 0 0 1.5em 0 !important;
         border: solid 1px #a768f3 !important;
         border-radius: 5px;
     }

     legend.scheduler-border {
         font-size: 1.2rem !important;
         font-weight: bold !important;
         width: auto;
         padding: 0 10px;
         color: #a768f3;
     }

     fieldset.scheduler-border2 {
         padding: 0 1.4em 1.4em 1.4em !important;
         margin: 0 0 1.5em 0 !important;
         border: solid 1px #36a2f5 !important;
         border-radius: 5px;
     }

     legend.scheduler-border2 {
         font-size: 1.2rem !important;
         font-weight: bold !important;
         width: auto;
         padding: 0 10px;
         color: #36a2f5;
     }

     .help-block span {
         display: block;
     }

     .BomTree {
         /*width: 90%;*/
         /*margin: 20px auto;*/
         min-height: 20px;
         padding: 3px;
         margin-bottom: 20px;
         /*border: 1px solid #ccc;*/
         -webkit-border-radius: 4px;
         -moz-border-radius: 4px;
         border-radius: 4px;
         -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
         -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
         box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05)
     }

         .BomTree ul {
             padding: 0 0 0 2em;
         }

         .BomTree li {
             padding: .6em 0 0 1px;
             margin: 0;
             list-style-type: none;
             position: relative;
             /*margin-left: 50px;*/
         }

             .BomTree li::before, .BomTree li::after {
                 content: '';
                 left: -39px;
                 position: absolute;
             }

             .BomTree li::before {
                 border-left: 1px dotted #999;
                 top: -16px;
                 height: 100%;
             }

             .BomTree li::after {
                 border-top: 1px dotted #999;
                 top: 1.4em;
                 width: 16px;
             }

             .BomTree li > span,
             .BomTree li > input {
                 line-height: 2.6em;
                 -moz-border-radius: 5px;
                 -webkit-border-radius: 5px;
                 border-radius: 5px;
                 border: 1px solid #bbb;
                 display: inline-block;
                 padding: 0 30px 0 8px;
                 text-decoration: none
             }

             .BomTree li.self_li > span,
             .BomTree li.self_li > input {
                 cursor: pointer
             }

             .BomTree li > .input-group {
                 width: 1280px;
             }

         .BomTree > ul > li::before, .BomTree > ul > li::after {
             border: 0
         }

         .BomTree li:last-child::before {
             height: 2.5em
         }

         .BomTree li.self_li > span:hover, .BomTree li.self_li > span:hover + ul li span,
         .BomTree li.self_li > input:hover, .BomTree li.self_li > input:hover + ul li input {
             background: #D3F0D2;
             border: 1px solid #5FA196;
             color: #000
         }

         .BomTree li:hover > span,
         .BomTree li:hover > input {
             background: #D8EBF0;
             border: 1px solid #2764C8;
         }

         .BomTree form {
             display: inline;
         }

        /*.BomTree input[type=text] {
             line-height: 22px;
             font-size: 15px;
             background-color: rgba(255,255,255,0.3);
             border: none;
         }

             .BomTree input[type=text]:hover {
                 background-color: #FFF;
                 border: none;
             }*/
        .modal.show .modal-dialog {
            transform: translateY(50px);
            /* 等於 transform: none;*/
        }

     .modal.fade .modal-dialog {
         transition: transform .3s ease-out;
     }

     .fade {
         transition: opacity .15s linear;
     }

     .bomStruct {
         overflow: hidden;
         overflow: auto;
     }

         .bomStruct ::-webkit-scrollbar {
             width: 10px;
             height: 10px;
         }
</style>)

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button type="button" class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtMtlItemNoQ@(itemName)">品號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMtlItemNoQ@(itemName)" name="txtMtlItemNoQ@(itemName)" onkeyup="trimStr(this, value)" placeholder="請輸入品號" />
                            </div>
                        </div>
                        <div class="form-group row" hidden>
                            <label class="col-12 col-form-label" for="txtMtlItemNameQ@(itemName)">品名</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMtlItemNameQ@(itemName)" name="txtMtlItemNameQ@(itemName)" placeholder="請輸入品名" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</a>
            </div>
        </div>
    </div>
</div>


<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);">
                            <i class="fal fa-search"></i>搜尋
                        </a>
                        <input type="checkbox" name="chkShowClone@(itemName)" />
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <button type="button" class="btn btn-warning" onclick="Datas@(itemName).CheckExistsMtlItemNo@(itemName)()"><i class="fa fa-check"></i>&nbsp;品號檢查</button>
                        <button type="button" class="btn btn-info auth-batch-copy" onclick="Datas@(itemName).SaveBomStructure@(itemName)()"><i class="fas fa-plus"></i>&nbsp;批量新增</button>
                        <button type="button" class="btn btn-primary auth-batch-transfer" onclick="Datas@(itemName).TransferToERP@(itemName)()"><i class="fas fa-redo-alt"></i>&nbsp;批量拋轉ERP</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <form autocomplete="off" id="dataForm@(itemName)">
                            <fieldset>
                                <div class="table-custom">
                                    <table class="table table-bordered table-sticky" id="tblData@(itemName)">
                                        <thead>
                                            <tr>
                                                <th scope="col" style="min-width: 75px;">序號</th>
                                                <th scope="col" style="min-width: 230px;">品號類型</th>
                                                <th scope="col" style="min-width: 230px;">
                                                    品號
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" title="搜尋目標" for="sourceMtlItemNo@(itemName)"><i class="fal fa-search"></i></span>
                                                        </div>
                                                        <input type="text" class="form-control" id="sourceMtlItemNo@(itemName)" name="sourceMtlItemNo@(itemName)" placeholder="搜尋目標">
                                                    </div>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" title="取代文字" for="targetMtlItemNo@(itemName)"><i class="fas fa-edit"></i></span>
                                                        </div>
                                                        <input type="text" class="form-control" id="targetMtlItemNo@(itemName)" name="targetMtlItemNo@(itemName)" placeholder="取代文字">
                                                        <div class="input-group-append">
                                                            <button type="button" class="btn btn-success" onclick="Elements@(itemName).ReplaceValue@(itemName)('MtlItemNo')">替換</button>
                                                        </div>
                                                    </div>
                                                </th>
                                                <th scope="col" style="min-width: 300px;">
                                                    品名
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" title="搜尋目標" for="sourceMtlItemName@(itemName)"><i class="fal fa-search"></i></span>
                                                        </div>
                                                        <input type="text" class="form-control" id="sourceMtlItemName@(itemName)" name="sourceMtlItemName@(itemName)" placeholder="搜尋目標">
                                                    </div>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" title="取代文字" for="targetMtlItemName@(itemName)"><i class="fas fa-edit"></i></span>
                                                        </div>
                                                        <input type="text" class="form-control" id="targetMtlItemName@(itemName)" name="targetMtlItemName@(itemName)" placeholder="取代文字">
                                                        <div class="input-group-append">
                                                            <button type="button" class="btn btn-success" onclick="Elements@(itemName).ReplaceValue@(itemName)('MtlItemName')">替換</button>
                                                        </div>
                                                    </div>
                                                </th>
                                                <th scope="col" style="min-width: 230px;">上層品號</th>
                                                <th scope="col" style="min-width: 230px;">
                                                    規格
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" title="搜尋目標" for="sourceMtlItemSpec@(itemName)"><i class="fal fa-search"></i></span>
                                                        </div>
                                                        <input type="text" class="form-control" id="sourceMtlItemSpec@(itemName)" name="sourceMtlItemSpec@(itemName)" placeholder="搜尋目標">
                                                    </div>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text" title="取代文字" for="targetMtlItemSpec@(itemName)"><i class="fas fa-edit"></i></span>
                                                        </div>
                                                        <input type="text" class="form-control" id="targetMtlItemSpec@(itemName)" name="targetMtlItemSpec@(itemName)" placeholder="取代文字">
                                                        <div class="input-group-append">
                                                            <button type="button" class="btn btn-success" onclick="Elements@(itemName).ReplaceValue@(itemName)('MtlItemSpec')">替換</button>
                                                        </div>
                                                    </div>
                                                </th>
                                                <th scope="col" style="min-width: 170px;">類別(一)</th>
                                                <th scope="col" style="min-width: 170px;">類別(二)</th>
                                                <th scope="col" style="min-width: 170px;">類別(三)</th>
                                                <th scope="col" style="min-width: 170px;">類別(四)</th>
                                                <th scope="col" style="min-width: 170px;">主要庫別</th>
                                                <th scope="col" style="min-width: 100px;">單位</th>
                                                <th scope="col" style="min-width: 100px;">建立者</th>
                                                <th scope="col" style="min-width: 150px;">建立時間</th>
                                                <th class="text-center" scope="col" style="min-width: 100px;">狀態</th>
                                                <th class="text-center" scope="col" style="min-width: 100px;">品號拋轉狀態</th>
                                                <th class="text-center col-sticky" scope="col" style="min-width: 50px;">操作</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </fieldset>
                        </form>
                    </div>

                    <div class="col-12" hidden>
                        <div class="card card-shadow">
                            <div class="card-header"><i class="fas fa-edit"></i>選取結構</div>
                            <div class="card-body">
                                <div id="BomTree@(itemName)" class="BomTree bomStruct"></div>
                            </div>
                            <div class="card-footer"></div>
                        </div>
                    </div>

                    <div class="col-12" hidden>
                        <div class="card card-shadow">
                            <div class="card-header"><i class="fas fa-edit"></i>編輯結構</div>
                            <div class="card-body">
                                <div id="newBomTree@(itemName)" class="BomTree bomStruct"></div>
                            </div>
                            <div class="card-footer"><div class="text-right"><button type="button" class="btn btn-success">儲存結構</button></div></div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div id="SubjectList@(itemName)">
                            <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4" id="SubjectContent@(itemName)"></div>
                        </div>
                        <div id="SubjectEdit@(itemName)Box"></div>

                        <div id="ComponentList@(itemName)">
                            <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4" id="ComponentContent@(itemName)"></div>
                        </div>
                        <div id="EditComponent@(itemName)Box"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Tree分支模板-->
<div id="baseBomTemplate_Tree@(itemName)" style="display: none;">
    <ul class="tree">
        <li name="self_li" id="self_li">
            <div class="input-group">
                <i class="js-toggle-icon">-</i>
                <input type="hidden" name="MtlItemId@(itemName)" />
                <input type="hidden" name="ParentMtlItemId@(itemName)" />
                <input type="hidden" name="BomId@(itemName)" />
                <input type="hidden" name="SortNumber@(itemName)" />
                <input type="hidden" name="lvl@(itemName)" />
                <label class="control control-solid control-solid-info control--checkbox">
                    <input type="checkbox" name="cbxClone@(itemName)" />
                    <span class="control__indicator"></span>
                </label>
                <div class="input-group-prepend">
                    <span name="BomSequence@(itemName)" class="input-group-text"></span>
                </div>
                <span name="MtlItemName@(itemName)" class="form-control"></span>
                <span name="MtlItemNo@(itemName)" class="form-control"></span>
                <span name="MtlItemSpec@(itemName)" class="form-control"></span>

                <div class="input-group-append">
                    <a href="javascript:void(0);" class="btn btn-info" name="CopyBtn" aria-label="複製結構"><i class="fas fa-copy"></i>複製結構</a>
                </div>
            </div>
            <ul name="parent_ul" id="parent_ul"></ul>
        </li>
    </ul>
</div>

<!--Tree分支模板-->
<div id="newBomTemplate_Tree@(itemName)" style="display: none;">
    <ul class="tree">
        <li name="self_li" id="self_li">
            <div class="input-group">
                <i class="js-toggle-icon">-</i>
                <input type="hidden" name="MtlItemId@(itemName)" />
                <input type="hidden" name="ParentMtlItemId@(itemName)" />
                <input type="hidden" name="BomId@(itemName)" />
                <input type="hidden" name="SortNumber@(itemName)" />
                <input type="hidden" name="lvl@(itemName)" />
                <input type="text" name="MtlItemName@(itemName)" class="form-control" />
                <input type="text" name="MtlItemNo@(itemName)" class="form-control" />
                <div class="input-group-append">
                    <a href="javascript:void(0);" class="btn btn-success" name="AddBtn" aria-label="新增"><i class="fas fa-plus"></i>新增</a>
                    <a href="javascript:void(0);" class="btn btn-primary" name="EditBtn" aria-label="修改"><i class="fas fa-edit"></i>修改</a>
                    <a href="javascript:void(0);" class="btn btn-danger" name="DelBtn" aria-label="删除"><i class="fas fa-trash-alt"></i>删除</a>
                </div>
            </div>
            <ul name="parent_ul" id="parent_ul"></ul>
        </li>
    </ul>
</div>

<!--下拉選單模板-->
<div id="ComboBoxTemplate@(itemName)" style="display: none;">
    <select name="cboItemTypeId@(itemName)"></select>
    <select name="cboTypeOne@(itemName)"></select>
    <select name="cboTypeTwo@(itemName)"></select>
    <select name="cboTypeThree@(itemName)"></select>
    <select name="cboTypeFour@(itemName)"></select>
    <select name="cboInventoryId@(itemName)"></select>
</div>

<!--主件模板-->
<div id="BaseBomMain@(itemName)" style="display: none;">
    <div class="card card-shadow">
        <div class="card-body">
            <form id="SubjectEdit@(itemName)" autocomplete="off" style="padding: 1rem 0;">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">主件設定</legend>
                    <div class="row mb-3">
                        <div class="input-group col-12">
                            <div class="input-group-prepend"><label for="txtMtlItemNo@(itemName)" class="input-group-text">品號</label></div>
                            <input type="text" class="form-control" name="txtMtlItemNo@(itemName)" placeholder="請輸入品號"
                                   data-msg-required="請輸入品號" data-rule-required="true" data-msg-maxlength="必須少於 40 個字元" maxlength="40" onkeyup="this.value=this.value.replace(/[, ]/g,'')">
                            <div class="input-group-append">
                                <a class="btn btn-success pop-view" href="javascript:void(0);"><i class="fal fa-search"></i></a>
                                <a class="btn btn-warning" href="javascript:void(0);"><i class="fas fa-eye"></i></a>
                                <a class="btn btn-info" href="javascript:void(0);"><i class="fal fa-plus"></i></a>
                            </div>

                        </div>
                        @*<div class="input-group col-6">
                            <div class="input-group-prepend"><label for="txtMtlItemName@(itemName)" class="input-group-text">品名</label></div>
                            <input type="text" class="form-control" id="txtMtlItemName@(itemName)" name="txtMtlItemName@(itemName)" placeholder="請輸入品名"
                                    data-msg-required="請輸入品名" data-rule-required="true" data-msg-maxlength="必須少於 120 個字元" maxlength="120">
                        </div>*@
                        <div class="col-12">
                            <dl class="help-block">
                                <dt>品名</dt>
                                <dd id="desMtlItemName@(itemName)"></dd>
                                <dt>規格</dt>
                                <dd id="desMtlItemSpec@(itemName)"></dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="input-group col-6">
                            <div class="input-group-prepend"><label for="txtStandardLot@(itemName)" class="input-group-text">標準批量<span class="text-danger">*</span></label></div>
                            <input type="number" class="form-control" id="txtStandardLot@(itemName)" name="txtStandardLot@(itemName)" placeholder="請輸入標準批量"
                                   data-msg-required="請輸入標準批量" data-rule-required="true" value="1" />
                        </div>
                        <div class="input-group col-6">
                            <div class="input-group-prepend"><label for="cboWipPrefix@(itemName)" class="input-group-text">製令單別</label></div>
                            <select class="form-control" id="cboWipPrefix@(itemName)" name="cboWipPrefix@(itemName)"></select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="input-group col-12">
                            <div class="input-group-prepend"><label for="txtBomRemark@(itemName)" class="input-group-text">備註</label></div>
                            <textarea class="form-control" id="txtBomRemark@(itemName)" name="txtBomRemark@(itemName)" placeholder="請輸入備註"
                                      data-msg-maxlength="必須少於 255 個字元" maxlength="255" rows="2"></textarea>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12 text-right">
                            <button type="button" class="btn btn-secondary"><i class="fas fa-undo"></i>返回</button>
                            <button type="button" class="btn btn-success"><i class="fas fa-save"></i>儲存</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

<!--元件模板-->
<div id="BaseBomDetail@(itemName)" style="display: none;">
    <div class="card card-shadow">
        <div class="card-body">
            <form id="ComponentEdit@(itemName)" autocomplete="off" style="padding:1rem 0rem;">
                <fieldset class="scheduler-border2">
                    <legend class="scheduler-border2">元件設定</legend>
                    <div class="row mb-3">
                        <div class="input-group col-12">
                            <div class="input-group-prepend"><label class="input-group-text" for="txtMtlItemNo@(itemName)">元件品號<span class="text-danger">*</span></label></div>
                            <input type="text" class="form-control" name="txtMtlItemNo@(itemName)" placeholder="請輸入元件品號" />
                            <div class="input-group-append">
                                <a class="btn btn-success pop-view" href="javascript:void(0);"><i class="fal fa-search"></i></a>
                                <a class="btn btn-warning" href="javascript:void(0);"><i class="fas fa-eye"></i></a>
                                <a class="btn btn-info" href="javascript:void(0);"><i class="fal fa-plus"></i></a>
                                <a class="btn btn-outline-danger pop-clear"><i class="fas fa-eraser"></i></a>
                            </div>
                        </div>
                        <div class="col-12">
                            <dl class="help-block">
                                <dt>品名</dt>
                                <dd id="desMtlItemName@(itemName)"></dd>
                                <dt>規格</dt>
                                <dd id="desMtlItemSpec@(itemName)"></dd>
                            </dl>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="input-group col-12">
                            <div class="input-group-prepend"><label class="input-group-text" for="txtBomSequence@(itemName)">序號<span class="text-danger">*</span></label></div>
                            <input type="text" class="form-control" id="txtBomSequence@(itemName)" name="txtBomSequence@(itemName)" placeholder="請輸入序號"
                                   data-msg-required="請輸入序號" data-rule-required="true">
                            <div class="input-group-append">
                                <a name="GetSeqBtn" class="btn btn-danger" href="javascript:void(0);"><i class="fa fa-random"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="input-group col-12">
                            <div class="input-group-prepend"><label class="input-group-text" for="txtCompositionQuantity@(itemName)">單位用量<span class="text-danger">*</span></label></div>
                            <input type="number" class="form-control" id="txtCompositionQuantity@(itemName)" name="txtCompositionQuantity@(itemName)" placeholder="請輸入單位用量"
                                   data-msg-required="請輸入單位用量" data-rule-required="true" value="1">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="input-group col-12">
                            <div class="input-group-prepend"><label class="input-group-text" for="txtBase@(itemName)">底數<span class="text-danger">*</span></label></div>
                            <input type="number" class="form-control" id="txtBase@(itemName)" name="txtBase@(itemName)" placeholder="請輸入底數"
                                   data-msg-required="請輸入底數" data-rule-required="true" value="1">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="input-group col-12">
                            <div class="input-group-prepend"><label class="input-group-text" for="txtLossRate@(itemName)">損壞率<span class="text-danger">*</span></label></div>
                            <input type="number" class="form-control" id="txtLossRate@(itemName)" name="txtLossRate@(itemName)" placeholder="請輸入損壞率"
                                   data-msg-required="請輸入損壞率" data-rule-required="true" value="0">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="input-group col-12">
                            <div class="input-group-prepend"><label class="input-group-text" for="chkStandardCostingType@(itemName)">標準成本計算<span class="text-danger">*</span></label></div>
                            <div class="form-control">
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 col-6">
                                        <label class="control control-solid control-solid-info control--radio col-12">
                                            是
                                            <input type="radio" id="chkStandardCostingType@(itemName)Y" name="chkStandardCostingType@(itemName)" value="Y"
                                                   data-msg-required="請選擇是否修改標準成本計算" data-rule-required="true" />
                                            <span class="control__indicator"></span>
                                        </label>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-6">
                                        <label class="control control-solid control-solid-info control--radio col-12">
                                            否
                                            <input type="radio" id="chkStandardCostingType@(itemName)N" name="chkStandardCostingType@(itemName)" value="N"
                                                   data-msg-required="請選擇是否修改標準成本計算" data-rule-required="true" checked />
                                            <span class="control__indicator"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="input-group col-12">
                            <div class="input-group-prepend"><label class="input-group-text" for="txtMaterialProperties@(itemName)">材料性質<span class="text-danger">*</span></label></div>
                            <select class="form-control" id="cboMaterialProperties@(itemName)" name="cboMaterialProperties@(itemName)"></select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="input-group col-12">
                            <div class="input-group-prepend"><label class="input-group-text" for="txtEffectiveDate@(itemName)">生效日期</label></div>
                            <input type="text" class="form-control datedropper" id="txtEffectiveDate@(itemName)" name="txtEffectiveDate@(itemName)"
                                   style="background-color:#fff;"
                                   data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                   placeholder="請輸入生效日期" readonly />
                            <div class="input-group-append">
                                <button type="button" class="btn btn-outline-danger" onclick="$('#txtEffectiveDate@(itemName)').val('')" title="清除">
                                    <i class="fas fa-eraser"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="input-group col-12">
                            <div class="input-group-prepend"><label class="input-group-text" for="txtExpirationDate@(itemName)">失效日期</label></div>
                            <input type="text" class="form-control datedropper" id="txtExpirationDate@(itemName)" name="txtExpirationDate@(itemName)"
                                   style="background-color:#fff;"
                                   data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                   placeholder="請輸入失效日期" readonly />
                            <div class="input-group-append">
                                <button type="button" class="btn btn-outline-danger" onclick="$('#txtExpirationDate@(itemName)').val('')" title="清除">
                                    <i class="fas fa-eraser"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="input-group col-12">
                            <div class="input-group-prepend"><label class="input-group-text" for="txtBomDetailRemark@(itemName)">備註</label></div>
                            <textarea class="form-control" id="txtBomDetailRemark@(itemName)" name="txtBomDetailRemark@(itemName)" placeholder="請輸入備註"
                                      data-msg-maxlength="必須少於 255 個字元" maxlength="255"></textarea>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 text-right">
                            <button type="button" class="btn btn-secondary"><i class="fas fa-undo"></i>返回</button>
                            <button type="button" class="btn btn-success"><i class="fas fa-save"></i>儲存</button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        let Elements@(itemName) = new ElementControl@(itemName)();
        let Datas@(itemName) = new DataControl@(itemName)();
        let BoxA@(itemName) = `#SubjectEdit@(itemName)Box`;
        let BoxB@(itemName) = `#EditComponent@(itemName)Box`;
        let objFormA@(itemName) = `${BoxA@(itemName)} #SubjectEdit@(itemName)`;
        let objFormB@(itemName) = `${BoxB@(itemName)} #ComponentEdit@(itemName)`;

        let bomSequenceVal@(itemName) = -1;
        let bomDetailId@(itemName) = -1;

        let postData@(itemName) = {};

        let data@(itemName) = [];
        let data@(itemName)Json = JSON.parse('{ "data" : []}');

        $(function () {
            Datas@(itemName).Initialize@(itemName)();

            $("#txtMtlItemNoQ@(itemName)").keydown(function (event) {
                if (event.keyCode == 13) Query@(itemName)();
            });

            $("#listData@(itemName) input[name='chkShowClone@(itemName)']").bootstrapToggle({
                on: "顯示全部",
                off: "僅顯示選取",
                onstyle: "success",
                offstyle: "info",
                size: "mini",
                width: "100px",
                height: "20px"
            });
        });

        function Expand@(itemName)(config) {
            InitParameter@(itemName)(config);

            Switch("#SubjectList@(itemName)", `${BoxA@(itemName)}`);
        }

        function InitParameter@(itemName)(config) {
            if (!!config) postData@(itemName) = config.postData;

            $("#listData@(itemName) input[name='chkShowClone@(itemName)']").prop("checked", true).trigger("change");
        }

        function ElementControl@(itemName)() {
            addMethod(this, "InitBomTree@(itemName)", function () {
                let bomTreeId = `#BomTree@(itemName)`;

                $.each($(`${bomTreeId} li[name='self_li'] .js-toggle-icon`), function (i, e) {
                    let bomId = $(e).data("bom-id");
                    let mtlitemRoute = $(e).data("mtlitem-route");

                    let children = $(`${bomTreeId} ul[data-bom-id="${bomId}"][data-mtlitem-route="${mtlitemRoute}"]`);
                    $(e).off("click").on("click", function () {
                        $(e).text($(e).text() == "-" ? "+" : "-");
                        children.slideToggle('fast');
                    });
                });

                $.each($(`${bomTreeId} input[name="cbxClone@(itemName)"]`), function (i, e) {
                    $(e).off("change").on("change", function (e1) {
                        let mtlItemId = $(e1.target).data("mtlitem-id");
                        let mtlItemRoute = $(e1.target).data("mtlitem-route");
                        let checked = $(e1.target).is(":checked");

                        let m = data@(itemName).filter(f => f.MtlItemId == mtlItemId && f.MtlItemRoute == mtlItemRoute);
                        $.each(m, function (i, d) {
                            d.IsClone = checked;

                            $(`${bomTreeId} input[name="cbxClone@(itemName)"][data-mtlitem-id="${d.MtlItemId}"][data-mtlitem-route="${d.MtlItemRoute}"]`).prop("checked", checked);
                            let c = data@(itemName).filter(f => f.ParentBomId == d.BomId && f.MtlItemRoute.includes(d.MtlItemRoute)); //取得該層元件
                            let p = data@(itemName).filter(f => f.BomId == d.ParentBomId && f.MtlItemRoute == d.MtlItemRoute.slice(0, d.MtlItemRoute.lastIndexOf(","))); //取得父層

                            SetChildCbxClone(bomTreeId, c, checked);
                            SetParentCbxClone(bomTreeId, p, checked);
                        });
                    });
                });

                $.each($(`${bomTreeId} a[name='CopyBtn']`), function (i, e) {
                    $(e).off("click").on("click", function () {
                        let mtlItemId = $(e).data("mtlitem-id");

                        Datas@(itemName).CopyBom@(itemName)(parseInt(mtlItemId));

                        Elements@(itemName).InitNewTree@(itemName)();
                    });
                });
            });

            addMethod(this, "InitNewTree@(itemName)", function () {
                let newBomTreeId = `#newBomTree@(itemName)`;

                $(`${newBomTreeId} li[name='self_li'] .js-toggle-icon`).each(function (i, e) {
                    let mtlItemId = $(e).data("mtlitem-id");
                    let children = $(`${newBomTreeId} #parent_ul-${mtlItemId}`);

                    $(e).off("click").on("click", function () {
                        $(e).text($(e).text() == "-" ? "+" : "-");
                        children.slideToggle('fast');
                    });
                });

                $.each($(`${newBomTreeId} a[name='AddBtn']`), function (i, e) {
                    $(e).off("click").on("click", function () {
                        Datas@(itemName).AddMtlItem@(itemName)('SubjectEdit@(itemName)', e);
                    });
                });

                $.each($(`${newBomTreeId} a[name='EditBtn']`), function (i, e) {
                    $(e).off("click").on("click", function () {
                        Datas@(itemName).ReadMtlItem@(itemName)('SubjectEdit@(itemName)', e);
                    });
                });

                $.each($(`${newBomTreeId} a[name='DelBtn']`), function (i, e) {
                    $(e).off("click").on("click", function () {
                        let mtlItemId = $(e).data("mtlitem-id");

                        $(`${newBomTreeId} #self_li-${mtlItemId} input`).not("input[name='SortNumber@(itemName)'],input[name='lvl@(itemName)']").val('');
                    });
                });
            });

            addMethod(this, "InitBomMtlItemEditor@(itemName)", function () {

            });

            addMethod(this, "InitBomEditor@(itemName)", function () {

            });

            addMethod(this, "InitBomDetailEditor@(itemName)", function () {
                let bomEditorId = ``;

                $(`${bomEditorId} a[name='GetSeqBtn']`).off("click").on("click", function (e) {
                    let bomId = $(e.target).data("bom-id");

                    Datas@(itemName).TakeNumber@(itemName)(bomId);
                });
            });

            addMethod(this, "InitNewList@(itemName)", function () {
                let bomListId = `#tblData@(itemName)`;

                $(`#listData@(itemName) input[name='chkShowClone@(itemName)']`).off("change").on("change", function (e) {
                    $.each(data@(itemName), function (i, d) {
                        Elements@(itemName).SwitchIsCloneVisible@(itemName)(bomListId, d);
                    });
                });

                $.each($(`${bomListId} input[name="cbxClone@(itemName)"]`), function (i, e) {
                    $(e).off("change").on("change", function (e1) {
                        //let parentBomId = $(e1.target).data("parentbom-id");
                        //let bomId = $(e1.target).data("bom-id");
                        let mtlItemId = $(e1.target).data("mtlitem-id");
                        let mtlItemRoute = $(e1.target).data("mtlitem-route");
                        let checked = $(e1.target).is(":checked");

                        let m = data@(itemName).filter(f => f.MtlItemId == mtlItemId && f.MtlItemRoute == mtlItemRoute);
                        $.each(m, function (i, d) {
                            d.IsClone = checked;

                            $(`${bomListId} input[name="cbxClone@(itemName)"][data-mtlitem-id="${d.MtlItemId}"][data-mtlitem-route="${d.MtlItemRoute}"]`).prop("checked", checked);
                            let c = data@(itemName).filter(f => f.ParentBomId == d.BomId && f.MtlItemRoute.includes(d.MtlItemRoute)); //取得該層元件
                            let p = data@(itemName).filter(f => f.BomId == d.ParentBomId && f.MtlItemRoute == d.MtlItemRoute.slice(0, d.MtlItemRoute.lastIndexOf(","))); //取得父層

                            SetChildCbxClone(bomListId, c, checked);
                            SetParentCbxClone(bomListId, p, checked);
                        });

                        $.each(data@(itemName), function (i, d) {
                            Elements@(itemName).SwitchIsCloneVisible@(itemName)(bomListId, d);
                        });
                    });
                });

                $(`${bomListId} input[name='chkStatus@(itemName)'][data-mtlitem-id]`).off("change").on("change", function (e) {
                    let mtlItemId = $(e.target).data("mtlitem-id");

                    Datas@(itemName).StatusSwitch@(itemName)(parseInt(mtlItemId));
                });

                $.each($(`${bomListId} a[name='AddBtn']`), function (i, e) {
                    $(e).off("click").on("click", function () {
                        Datas@(itemName).AddMtlItem@(itemName)('SubjectEdit@(itemName)', e);
                    });
                });

                $.each($(`${bomListId} a[name='EditBtn']`), function (i, e) {
                    $(e).off("click").on("click", function () {
                        Datas@(itemName).ReadMtlItem@(itemName)('SubjectEdit@(itemName)', e);
                    });
                });

                $(`${bomListId} select[name="NewItemTypeId@(itemName)"],
                    ${bomListId} input[name="NewMtlItemNo@(itemName)"],
                    ${bomListId} input[name="NewMtlItemName@(itemName)"],
                    ${bomListId} input[name="NewMtlItemSpec@(itemName)"],
                    ${bomListId} select[name="NewTypeOne@(itemName)"],
                    ${bomListId} select[name="NewTypeTwo@(itemName)"],
                    ${bomListId} select[name="NewTypeThree@(itemName)"],
                    ${bomListId} select[name="NewTypeFour@(itemName)"],
                    ${bomListId} select[name="NewInventoryId@(itemName)"]`).off("change").on("change", function (e) {
                        Elements@(itemName).SetValue@(itemName)(e.target);

                        switch (e.target.name) {
                            case "NewItemTypeId@(itemName)":
                                var mtlItemId = $(e.target).data("mtlitem-id");
                                Datas@(itemName).GetItemTypeSegment@(itemName)(e.target.value, mtlItemId);
                                break;
                        }
                    });

                $(`${bomListId} input[name="NewMtlItemNo@(itemName)"],
                    ${bomListId} input[name="NewMtlItemName@(itemName)"],
                    ${bomListId} input[name="NewMtlItemSpec@(itemName)"]`).off("focusin").on("focusin", function (e) {
                        let mtlItemId = $(e.target).data("mtlitem-id");
                        let n = e.target.name.replace("New", "td").replace("@(itemName)", "");
                        let v = e.target.value;
                        if (!v) $(e.target).val($(`#${n}-${mtlItemId}`).prop("title"));
                        $(e.target).select();
                });

                $(`${bomListId} input[name="NewMtlItemNo@(itemName)"],
                    ${bomListId} input[name="NewMtlItemName@(itemName)"],
                    ${bomListId} input[name="NewMtlItemSpec@(itemName)"]`).off("focusout").on("focusout", function (e) {
                        let mtlItemId = $(e.target).data("mtlitem-id");
                        let n = e.target.name.replace("New", "td").replace("@(itemName)", "");
                        let v = e.target.value;
                        let sourceValue = $(`#${n}-${mtlItemId}`).prop("title");
                        if (v == sourceValue) $(e.target).val("");
                });
            });

            addMethod(this, "SwitchIsCloneVisible@(itemName)", function (block, d) {
                if (!$("#listData@(itemName) input[name='chkShowClone@(itemName)']").is(":checked")) {
                    if (!d.IsClone && d.ParentBomId > 0) $(`${block} tr[data-mtlitem-id="${d.MtlItemId}"][data-mtlitem-route="${d.MtlItemRoute}"], tr[data-mtlitem-id="${d.MtlItemId}"][data-mtlitem-route="${d.MtlItemRoute}"]`).hide();
                    else $(`${block} tr[data-mtlitem-id="${d.MtlItemId}"][data-mtlitem-route="${d.MtlItemRoute}"], tr[data-mtlitem-id="${d.MtlItemId}"][data-mtlitem-route="${d.MtlItemRoute}"]`).show();
                }
                else {
                    $(`${block} tr[data-mtlitem-id="${d.MtlItemId}"][data-mtlitem-route="${d.MtlItemRoute}"], tr[data-mtlitem-id="${d.MtlItemId}"][data-mtlitem-route="${d.MtlItemRoute}"]`).show();
                }
            });

            addMethod(this, "SetNewList@(itemName)", function (d) {
                let bomListId = `#tblData@(itemName)`;
                let cboTemplateId = "#ComboBoxTemplate@(itemName)";
                let innerHtml = '';
                if (d.length > 0) {
                    $.each(d, function (i, item) {
                        //data-bom-id="${item.BomId}" data-parentbom-id="${item.ParentBomId}"
                        innerHtml += `<tr data-mtlitem-id="${item.MtlItemId}" data-mtlitem-route="${item.MtlItemRoute}" class=bomLvl_${item.lvl % 5}>
                                        <td class="" data-toggle="tooltip" title="${item.BomSequence}" rowspan="2">
                                            ${item.BomSequence}
                                            <label class="control control-solid control-solid-info control--checkbox">
                                                <input type="checkbox" name="cbxClone@(itemName)" data-bom-id="${item.BomId}" data-mtlitem-id="${item.MtlItemId}" data-mtlitem-route="${item.MtlItemRoute}" />
                                                <span class="control__indicator"></span>
                                            </label>
                                        </td>
                                        <td id="tdItemTypeId-${item.MtlItemId}" data-toggle="tooltip" title="${item.ItemWithNo}">
                                            <code>來源: ${item.ItemTypeNo} ${item.ItemTypeName}</code>
                                            <div class="input-group" hidden>
                                                <select class="form-control" id="NewItemTypeId@(itemName)-${item.MtlItemId}" name="NewItemTypeId@(itemName)" data-mtlitem-id="${item.MtlItemId}" >${$(`${cboTemplateId} select[name="cboItemTypeId@(itemName)"]`).html()}</select>
                                                <div class="input-group-append">
                                                    <button type="button" class="btn btn-warning" style="width:35px;" onclick="$('#NewItemTypeId@(itemName)-${item.MtlItemId}').val('').trigger('change')">清空</button>
                                                </div>
                                            </div>
                                        </td>
                                        <td id="tdMtlItemNo-${item.MtlItemId}" data-toggle="tooltip" title="${item.MtlItemNo}" style="max-width: 230px;">
                                            <code>來源: ${item.MtlItemNo}</code>
                                            <input type="text" class="form-control" id="NewMtlItemNo@(itemName)-${item.MtlItemId}" name="NewMtlItemNo@(itemName)" data-mtlitem-id="${item.MtlItemId}" value="${item.NewMtlItemNo}" />
                                        </td>
                                        <td id="tdMtlItemName-${item.MtlItemId}" data-toggle="tooltip" title="${item.MtlItemName}" style="max-width: 300px;">
                                            <code>來源: ${item.MtlItemName}</code>
                                            <input type="text" class="form-control" id="NewMtlItemName@(itemName)-${item.MtlItemId}" name="NewMtlItemName@(itemName)" data-mtlitem-id="${item.MtlItemId}" value="${item.NewMtlItemName}" />
                                        </td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ParentMtlItemNo}" style="max-width: 300px;">${item.ParentMtlItemNo}</td>
                                        <td id="tdMtlItemSpec-${item.MtlItemId}" data-toggle="tooltip" title="${item.MtlItemSpec}" style="max-width: 230px;">
                                            <code>來源: ${item.MtlItemSpec}</code>
                                            <input type="text" class="form-control" id="NewMtlItemSpec@(itemName)-${item.MtlItemId}" name="NewMtlItemSpec@(itemName)" data-mtlitem-id="${item.MtlItemId}" value="${item.NewMtlItemSpec}" />
                                        </td>
                                        <td id="tdTypeOne-${item.MtlItemId}" data-toggle="tooltip" title="${item.TypeOneName}">
                                            <code>來源: ${item.TypeOne} ${item.TypeOneName}</code>
                                            <select class="form-control" id="NewTypeOne@(itemName)-${item.MtlItemId}" name="NewTypeOne@(itemName)" data-mtlitem-id="${item.MtlItemId}" >${$(`${cboTemplateId} select[name="cboTypeOne@(itemName)"]`).html()}</select>
                                        </td>
                                        <td>
                                            <code>來源: ${item.TypeTwo} ${item.TypeTwoName}</code>
                                            <select class="form-control" id="NewTypeTwo@(itemName)-${item.MtlItemId}" name="NewTypeTwo@(itemName)" data-mtlitem-id="${item.MtlItemId}" >${$(`${cboTemplateId} select[name="cboTypeTwo@(itemName)"]`).html()}</select>
                                        </td>
                                        <td>
                                            <code>來源: ${item.TypeThree} ${item.TypeThreeName}</code>
                                            <select class="form-control" id="NewTypeThree@(itemName)-${item.MtlItemId}" name="NewTypeThree@(itemName)" data-mtlitem-id="${item.MtlItemId}" >${$(`${cboTemplateId} select[name="cboTypeThree@(itemName)"]`).html()}</select>
                                        </td>
                                        <td>
                                            <code>來源: ${item.TypeFour} ${item.TypeFourName}</code>
                                            <select class="form-control" id="NewTypeFour@(itemName)-${item.MtlItemId}" name="NewTypeFour@(itemName)" data-mtlitem-id="${item.MtlItemId}" >${$(`${cboTemplateId} select[name="cboTypeFour@(itemName)"]`).html()}</select>
                                        </td>
                                        <td>
                                            <code>來源: ${item.InventoryNo} ${item.InventoryName}</code>
                                            <select class="form-control" id="NewInventoryId@(itemName)-${item.MtlItemId}" name="NewInventoryId@(itemName)" data-mtlitem-id="${item.MtlItemId}" >${$(`${cboTemplateId} select[name="cboInventoryId@(itemName)"]`).html()}</select>
                                        </td>
                                        <td>${item.InventoryUomNo}</td>
                                        <td>${item.UserName}</td>
                                        <td>${new Date(item.CreateDate).Format(`yyyy-MM-dd hh:mm`)}</td>
                                        <td class="text-center">
                                            <input type="checkbox" name="chkStatus@(itemName)" class="auth-status-switch" data-mtlitem-id="${item.MtlItemId}" ${(item.Status == `A` ? `checked` : ``)} />
                                        </td>
                                        <td class="text-center ${item.TransferStatus == `N` ? `transferNO` : `transferOK`}">${item.TransferStatus == `Y` ? `已拋轉` : `未拋轉`}</td>
                                        <td class="text-center active-content col-sticky" data-toggle="tooltip" title="操作" rowspan="2">
                                            <a hidden name="EditBtn" class="active-link ${item.TransferStatus == `N` ? `active-disable` : ``}" href="javascript:void(0);" data-mtlitem-id="${item.MtlItemId}"><i class="fas fa-eye"></i></a>
                                            <a hidden name="EditBtn" class="active-link ${item.TransferStatus == `N` ? `active-disable` : ``}" href="javascript:void(0);" data-mtlitem-id="${item.MtlItemId}"><i class="fas fa-edit"></i></a>
                                            <a hidden name="DelBtn" class="active-link ${item.TransferStatus == `N` ? `active-disable` : ``}" href="javascript:void(0);" data-mtlitem-id="${item.MtlItemId}"><i class="fas fa-trash-alt"></i></a>
                                            <a hidden name="TransBtn" class="active-link ${item.TransferStatus == `Y` ? `active-disable` : ``}" href="javascript:void(0);" data-mtlitem-id="${item.MtlItemId}"><i class="fas fa-redo-alt"></i><span>拋轉</span></a>
                                        </td>
                                    </tr>
                                    <tr data-pt-id="${item.ParentMtlItemId}" data-mtlitem-id="${item.MtlItemId}" data-mtlitem-route="${item.MtlItemRoute}"><td colspan="15"><span id="msg@(itemName)-${item.MtlItemId}" class="exists"></span></td></tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="15" style="background-color: #fff3cd;">
                                        <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                </tr>`;
                }

                $(`${bomListId} tbody`).html(innerHtml);

                $.each(d, function (i, d) {
                    $(`${bomListId} #NewItemTypeId@(itemName)-${d.MtlItemId}`).val(d.NewItemTypeId > 0 ? d.NewItemTypeId : "");
                    $(`${bomListId} #NewTypeOne@(itemName)-${d.MtlItemId}`).val(d.NewTypeOne);
                    $(`${bomListId} #NewTypeTwo@(itemName)-${d.MtlItemId}`).val(d.NewTypeTwo);
                    $(`${bomListId} #NewTypeThree@(itemName)-${d.MtlItemId}`).val(d.NewTypeThree);
                    $(`${bomListId} #NewTypeFour@(itemName)-${d.MtlItemId}`).val(d.NewTypeFour);
                    $(`${bomListId} #NewInventoryId@(itemName)-${d.MtlItemId}`).val(d.NewInventoryId > 0 ? d.NewInventoryId : "");

                    if (d.IsNewItem) {
                        $(`${bomListId} tr[data-mtlitem-id="${d.MtlItemId}"][data-mtlitem-route="${d.MtlItemRoute}"]`).css({ "background-color": "#FEF5E7"});
                    }
                    if (d.IsClone) {
                        $(`${bomListId} input[name="cbxClone@(itemName)"][data-mtlitem-id="${d.MtlItemId}"][data-mtlitem-route="${d.MtlItemRoute}"]`).prop("checked", true);
                    }

                    Elements@(itemName).SwitchIsCloneVisible@(itemName)(bomListId, d);

                    if (!isMobile) {
                        $(`select[name="NewItemTypeId@(itemName)"]`)
                        .select2({
                            dropdownAutoWidth: false,
                            width: "100%"
                        });
                    }
                });

                $("input[name='chkStatus@(itemName)']").bootstrapToggle({
                    on: "啟用",
                    off: "停用",
                    onstyle: "success",
                    offstyle: "danger",
                    size: "mini"
                });

                Elements@(itemName).InitNewList@(itemName)();
            });

            addMethod(this, "ReplaceValue@(itemName)", function (col) {
                let bomListId = `#tblData@(itemName)`;
                let prefix = `New`;
                let source = $(`#source${col}@(itemName)`).val();
                let target = $(`#target${col}@(itemName)`).val();

                let isNewItem = false;
                let notNewItem = false;
                let p = {};

                $.each(data@(itemName), function (i, d) {
                    if (d[col].indexOf(source) >= 0) {
                        let baseValue = d[col];
                        let v = d[col].replace(source, target);

                        isNewItem = !!v && baseValue != v;
                        notNewItem = !v || baseValue == v;
                        p = data@(itemName).find(f => f.BomId == d.ParentBomId && f.MtlItemRoute == d.MtlItemRoute.slice(0, d.MtlItemRoute.lastIndexOf(","))); //取得父層

                        if (isNewItem) {
                            if (d.EditColumns.indexOf(prefix + col) < 0) d.EditColumns.push(prefix + col);
                            d[prefix + col] = v;
                            d.IsNewItem = isNewItem;
                        }
                        else if (notNewItem) {
                            d.EditColumns = $.grep(d.EditColumns, function (c) {
                                return c != prefix + col;
                            });
                            d[prefix + col] = !parseInt(v) ? "" : null; //typeof (v) == "string" ? "" : -1;

                            let childMtlItemLength = data@(itemName).filter(f => f.IsNewItem && f.ParentBomId == d.BomId).length; //取得該層元件
                            if (!childMtlItemLength && d.ParentBomId > 0) d.IsNewItem = !notNewItem;
                        }

                        if (!!p) SetParentNewItem(p, isNewItem, notNewItem);
                    }
                });

                Elements@(itemName).SetNewList@(itemName)(data@(itemName));
                Datas@(itemName).CheckExistsMtlItemNo@(itemName)();
            });

            addMethod(this, "SetValue@(itemName)", function (e) {
                let mtlItemId = $(e).data("mtlitem-id");
                let v = e.value;

                let bomListId = `#tblData@(itemName)`;
                let prefix = `New`;
                let col = e.name.replace(prefix, "").replace("@(itemName)", "");

                let isNewItem = false;
                let notNewItem = false;
                let p = {};

                let m = data@(itemName).filter(f => f.MtlItemId == mtlItemId);
                $.each(m, function (i, d) {
                    let baseValue = d[col];

                    isNewItem = !!v && baseValue != v;
                    notNewItem = !v || baseValue == v;
                    p = data@(itemName).find(f => f.BomId == d.ParentBomId && f.MtlItemRoute == d.MtlItemRoute.slice(0, d.MtlItemRoute.lastIndexOf(","))); //取得父層

                    if (isNewItem) {
                        if (d.EditColumns.indexOf(prefix + col) < 0) d.EditColumns.push(prefix + col);
                        d[prefix + col] = v;
                        d.IsNewItem = isNewItem;
                    }
                    else if (notNewItem) {
                        d.EditColumns = $.grep(d.EditColumns, function (c) {
                            return c != prefix + col;
                        });
                        d[prefix + col] = !parseInt(v) ? "" : null; //typeof (v) == "string" ? "" : -1;

                        let childMtlItemLength = data@(itemName).filter(f => f.IsNewItem && f.ParentBomId == d.BomId).length; //取得該層元件
                        if (!childMtlItemLength && d.ParentBomId > 0) d.IsNewItem = !notNewItem;
                    }

                    if (!!p) SetParentNewItem(p, isNewItem, notNewItem);
                });

                Elements@(itemName).SetNewList@(itemName)(data@(itemName));
                Datas@(itemName).CheckExistsMtlItemNo@(itemName)();
            });
        }

        function SetParentNewItem(data, isNewItem, notNewItem) {
            $.each(data@(itemName).filter(f => f.BomId == data.BomId), function (i, d) {
                console.log(d.MtlItemNo)

                if (isNewItem) {
                    d.IsNewItem = isNewItem;
                }
                else if (notNewItem) {
                    let childMtlItemLength = data@(itemName).filter(f => f.IsNewItem && f.ParentBomId == d.BomId).length;
                    if (!childMtlItemLength && d.ParentBomId > 0) {
                        d.IsNewItem = !notNewItem;
                    }
                }

                if (d.ParentBomId > 0) {
                    SetParentNewItem(data@(itemName).find(f => f.BomId == d.ParentBomId && f.MtlItemRoute == d.MtlItemRoute.slice(0, d.MtlItemRoute.lastIndexOf(","))), isNewItem, notNewItem);
                }
            });
        }

        function RemoveSetParentNewItem(data) {
            console.log(data.MtlItemNo)
            $.each(data@(itemName).filter(f => f.BomId == data.BomId), function (i, d) {
                let childMtlItemLength = data@(itemName).filter(f => f.IsNewItem && f.ParentBomId == d.BomId).length;
                if (d.ParentBomId > 0) {
                    if (!childMtlItemLength) d.IsNewItem = false;
                    RemoveSetParentNewItem(data@(itemName).find(f => f.BomId == d.ParentBomId));
                }
            });
        }

        function SetChildCbxClone(block, data, checked) {
            $.each(data, function (i, d) {
                console.log(d.MtlItemNo)

                $(`${block} input[name="cbxClone@(itemName)"][data-mtlitem-id="${d.MtlItemId}"][data-mtlitem-route="${d.MtlItemRoute}"]`).prop("checked", checked);
                d.IsClone = checked;
                SetChildCbxClone(block, data@(itemName).filter(f => f.ParentBomId == d.BomId && f.MtlItemRoute.includes(d.MtlItemRoute)), checked); //取得該層元件
            });
        }

        function SetParentCbxClone(block, data, checked) {
            $.each(data, function (i, d) {
                console.log(d.MtlItemNo)

                if (checked) {
                    d.IsClone = checked;
                    $(`${block} input[name="cbxClone@(itemName)"][data-mtlitem-id="${d.MtlItemId}"][data-mtlitem-route="${d.MtlItemRoute}"]`).prop("checked", checked);
                }
                else {
                    let childMtlItemLength = data@(itemName).filter(f => f.IsClone && f.ParentBomId == d.BomId && f.MtlItemRoute.includes(d.MtlItemRoute)).length;
                    if (!childMtlItemLength) {
                        d.IsClone = checked;
                        $(`${block} input[name="cbxClone@(itemName)"][data-mtlitem-id="${d.MtlItemId}"][data-mtlitem-route="${d.MtlItemRoute}"]`).prop("checked", checked);
                    }
                }

                if (d.ParentBomId > 0) {
                    SetParentCbxClone(block, data@(itemName).filter(f => f.BomId == d.ParentBomId && f.MtlItemRoute == d.MtlItemRoute.slice(0, d.MtlItemRoute.lastIndexOf(","))), checked); //取得父層
                }
            });
        }

        function DataControl@(itemName)() {
            addMethod(this, "Initialize@(itemName)", function () {
                let cboTemplateId = "#ComboBoxTemplate@(itemName)";

                ComboBoxs.Default(`${cboTemplateId} select[name="cboItemTypeId@(itemName)"]`, "@Url.Action("GetItemTypeSimple", "PdmBasicInformation")", { "Today": getNowFormatDate() }, "", "CHOOSE-NUMBER", "", "ItemTypeShow", "ItemTypeId");
                ComboBoxs.WithText(`${cboTemplateId} select[name="cboTypeOne@(itemName)"]`, "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "MtlItemType", "Condition": 1 }, "", "CHOOSE", "-", "TypeName", "TypeNo");
                ComboBoxs.WithText(`${cboTemplateId} select[name="cboTypeTwo@(itemName)"]`, "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "MtlItemType", "Condition": 2 }, "", "CHOOSE", "-", "TypeName", "TypeNo");
                ComboBoxs.WithText(`${cboTemplateId} select[name="cboTypeThree@(itemName)"]`, "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "MtlItemType", "Condition": 3 }, "", "CHOOSE", "-", "TypeName", "TypeNo");
                ComboBoxs.WithText(`${cboTemplateId} select[name="cboTypeFour@(itemName)"]`, "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "MtlItemType", "Condition": 4 }, "", "CHOOSE", "-", "TypeName", "TypeNo");
                ComboBoxs.WithText(`${cboTemplateId} select[name="cboInventoryId@(itemName)"]`, "@Url.Action("GetInventory", "ScmBasicInformation")", {}, "", "CHOOSE", "-", "InventoryWithNo", "InventoryId");
            });

            addMethod(this, "GetItemTypeSegment@(itemName)", function (itemTypeId, mtlItemId) {
                var datas = data@(itemName).filter(f => f.MtlItemId == mtlItemId);
                if (itemTypeId) {
                    let targetUrl = "@Url.Action("GetItemTypeSegment", "PdmBasicInformation")";
                    let postData = {
                        "ItemTypeId": itemTypeId,
                        "Status": "A"
                    };
                    let data = DataAccess.Get(targetUrl, postData, false);
                    if (data && data.status == "success") {
                        $.each(datas, function (j, d) {
                            d.NewItemTypeSegments = data.result.map(({ ItemTypeSegmentId, SortNumber, SegmentType, SegmentValue, SuffixCode, EffectiveDate, InactiveDate }) => ({
                                ItemTypeSegmentId, EffectiveDate, InactiveDate, ItemTypeSegmentId, SegmentType, SegmentValue, SortNumber, SuffixCode
                            }));
                            $.each(data.result, function (i, item) {
                                console.log(item);
                                switch (item.SegmentType) {
                                    case "D":
                                        break;
                                    case "F":
                                        break;
                                    case "S":
                                        break;
                                    case "SV":
                                        break;
                                    case "C":
                                        break;
                                }
                            });
                        });
                    }
                }
                else {
                    $.each(datas, function (j, d) {
                        d.NewItemTypeSegments = [];
                    });
                }
            });

            addMethod(this, "GetBillOfMaterialsList@(itemName)", function () {
                if (!!postData@(itemName)) {
                    let targetUrl = '@Url.Action("GetBillOfMaterialsTree", "RdWorkManagement")';
                    let postData = {
                        'MtlItemId': postData@(itemName).MtlItemId,
                        'MtlItemNo': postData@(itemName).MtlItemNo,
                        'MtlItemName': postData@(itemName).MtlItemName
                    };
                    if (!postData.MtlItemNo) { alert("請輸入搜尋條件", "alert", 0); return false; }

                    let data = DataAccess.Get(targetUrl, postData, false);

                    if (data.status == 'success') {
                        data@(itemName) = data.result;
                        Elements@(itemName).SetNewList@(itemName)(data.result);
                    }
                    else {
                        alert(data.msg, "alert", 0);
                    }

                    TableComponentInit();
                }
            });

            addMethod(this, "GetBillOfMaterialsTree@(itemName)", function () {
                if (!!postData@(itemName)) {
                    let targetUrl = '@Url.Action("GetBillOfMaterialsTree", "RdWorkManagement")';
                    let postData = {
                        'MtlItemId': postData@(itemName).MtlItemId,
                        'MtlItemNo': postData@(itemName).MtlItemNo,
                        'MtlItemName': postData@(itemName).MtlItemName
                    };
                    if (!postData.MtlItemNo) { alert("請輸入搜尋條件", "alert", 0); return false; }

                    let data = DataAccess.Get(targetUrl, postData, false);

                    if (data.status == 'success') {
                        console.log(data.result);

                        let bomTreeId = "#BomTree@(itemName)";
                        let bomTemplate = "#baseBomTemplate_Tree@(itemName)";
                        let templvl = 0;

                        templvl = 0;
                        $.each(data.result, function (i, item) {

                            let dataRoute = item.lvl == 1 ? item.MtlItemRoute : item.MtlItemRoute.slice(0, item.MtlItemRoute.lastIndexOf(","));
                            let dataRow = `li[data-mtlitem-id="${item.MtlItemId}"][data-mtlitem-route="${item.MtlItemRoute}"]`;

                            if (item.lvl == 1) {
                                $(`${bomTreeId}`).html($(`${bomTemplate}`).html());
                                $(`${bomTreeId} ul.tree`).attr("data-lvl", item.lvl)
                            }
                            else {
                                if (item.lvl > templvl) {
                                    //增加一層
                                    $(`${bomTreeId} ul[data-bom-id="${item.ParentBomId}"][data-mtlitem-route="${dataRoute}"]`).html($(`${bomTemplate} ul`).html());
                                }
                                else {
                                    //同層增加一列
                                    $(`${bomTreeId} ul[data-bom-id="${item.ParentBomId}"][data-mtlitem-route="${dataRoute}"]`).append($(`${bomTemplate} ul`).html());
                                }
                            }

                            $(`${bomTreeId} #self_li`).attr({ "data-mtlitem-id": item.MtlItemId, "data-mtlitem-route": item.MtlItemRoute }).removeAttr("id");
                            $(`${bomTreeId} #parent_ul`).attr({ "data-bom-id": item.BomId, "data-mtlitem-route": item.MtlItemRoute, "data-lvl": item.lvl + 1 }).removeAttr("id");

                            $(`${bomTreeId} ${dataRow} span`).addClass(`bomLvl_${item.lvl % 5}`);  //依階級改變字體顏色

                            $(`${bomTreeId} ${dataRow} .js-toggle-icon`).attr({ "data-bom-id": item.BomId, "data-mtlitem-route": item.MtlItemRoute });
                            $(`${bomTreeId} ${dataRow} input[name='cbxClone@(itemName)']`).attr({ "data-mtlitem-id": item.MtlItemId, "data-mtlitem-route": item.MtlItemRoute });

                            $(`${bomTreeId} ${dataRow} span[name="BomSequence@(itemName)"]`).attr({ "data-mtlitem-id": item.MtlItemId }).text(item.BomSequence);
                            $(`${bomTreeId} ${dataRow} span[name="MtlItemName@(itemName)"]`).attr({ "data-mtlitem-id": item.MtlItemId }).text(item.MtlItemName);
                            $(`${bomTreeId} ${dataRow} span[name="MtlItemNo@(itemName)"]`).attr({ "data-mtlitem-id": item.MtlItemId }).text(item.MtlItemNo);
                            $(`${bomTreeId} ${dataRow} span[name="MtlItemSpec@(itemName)"]`).attr({ "data-mtlitem-id": item.MtlItemId }).text(item.MtlItemSpec);
                            //
                            $(`${bomTreeId} ${dataRow} input[name="MtlItemId@(itemName)"]`).attr({ "data-mtlitem-id": item.MtlItemId }).val(item.MtlItemId);
                            $(`${bomTreeId} ${dataRow} input[name="ParentMtlItemId@(itemName)"]`).attr({ "data-mtlitem-id": item.MtlItemId }).val(item.ParentMtlItemId);
                            $(`${bomTreeId} ${dataRow} input[name="BomId@(itemName)"]`).attr({ "data-mtlitem-id": item.MtlItemId }).val(item.BomId);
                            $(`${bomTreeId} ${dataRow} input[name="SortNumber@(itemName)"]`).attr({ "data-mtlitem-id": item.MtlItemId }).val(item.SortNumber);
                            $(`${bomTreeId} ${dataRow} input[name="lvl@(itemName)"]`).attr({ "data-mtlitem-id": item.MtlItemId }).val(item.lvl);
                            //
                            $(`${bomTreeId} ${dataRow} a`).attr("data-mtlitem-id", item.MtlItemId);

                            templvl = item.lvl;
                        });

                        Elements@(itemName).InitBomTree@(itemName)();
                    }
                }
            });

            addMethod(this, 'CopyBom@(itemName)', function (mtlItemId) {
                if (mtlItemId > 0) {
                    let targetUrl = '@Url.Action("GetBillOfMaterialsTree", "RdWorkManagement")';
                    let postData = {
                        'MtlItemId': mtlItemId
                    };
                    let data = DataAccess.Get(targetUrl, postData, false);

                    if (data.status == 'success') {
                        console.log(data.result);

                        let bomTreeId = "#newBomTree@(itemName)";
                        let bomTemplate = "#newBomTemplate_Tree@(itemName)";
                        let templvl = 0;

                        templvl = 0;
                        $.each(data.result, function (i, item) {
                            if (item.lvl == 1) {
                                $(`${bomTreeId}`).html($(`${bomTemplate}`).html());
                                $(`${bomTreeId} ul.tree`).attr("data-lvl", item.lvl);
                                $(`${bomTreeId} li[name="self_li"]`).attr("id", `self_li-${item.MtlItemId}`);
                                $(`${bomTreeId} ul[name="parent_ul"]`).attr("id", `parent_ul-${item.MtlItemId}`).attr("data-lvl", item.lvl + 1);
                            }
                            else {
                                if (item.lvl > templvl) {
                                    //增加一層
                                    $(`${bomTreeId} #parent_ul-${item.ParentMtlItemId}`).html($(`${bomTemplate} ul`).html());
                                }
                                else {
                                    //同層增加一列
                                    $(`${bomTreeId} #parent_ul-${item.ParentMtlItemId}`).append($(`${bomTemplate} ul`).html());
                                }
                                $(`${bomTreeId} #parent_ul-${item.ParentMtlItemId} #self_li`).attr(`id`, `self_li-${item.MtlItemId}`);
                                $(`${bomTreeId} #parent_ul-${item.ParentMtlItemId} #parent_ul`).attr(`id`, `parent_ul-${item.MtlItemId}`).attr("data-lvl", item.lvl + 1);
                            }
                            $(`${bomTreeId} #self_li-${item.MtlItemId} .js-toggle-icon`).attr("data-mtlitem-id", item.MtlItemId);

                            $(`${bomTreeId} #self_li-${item.MtlItemId} input[name="MtlItemName@(itemName)"]`).attr("id", `MtlItemName@(itemName)-${item.MtlItemId}`);
                            $(`${bomTreeId} #self_li-${item.MtlItemId} input[name="MtlItemNo@(itemName)"]`).attr("id", `MtlItemNo@(itemName)-${item.MtlItemId}`);

                            $(`${bomTreeId} #self_li-${item.MtlItemId} input[name="MtlItemId@(itemName)"]`).attr("id", `MtlItemId@(itemName)-${item.MtlItemId}`);
                            $(`${bomTreeId} #self_li-${item.MtlItemId} input[name="ParentMtlItemId@(itemName)"]`).attr("id", `ParentMtlItemId@(itemName)-${item.MtlItemId}`);
                            $(`${bomTreeId} #self_li-${item.MtlItemId} input[name="BomId@(itemName)"]`).attr("id", `BomId@(itemName)-${item.MtlItemId}`);
                            $(`${bomTreeId} #self_li-${item.MtlItemId} input[name="SortNumber@(itemName)"]`).attr("id", `SortNumber@(itemName)-${item.MtlItemId}`);
                            $(`${bomTreeId} #self_li-${item.MtlItemId} input[name="lvl@(itemName)"]`).attr("id", `lvl@(itemName)-${item.MtlItemId}`);

                            $(`${bomTreeId} #MtlItemName@(itemName)-${item.MtlItemId}`).val(item.MtlItemName);
                            $(`${bomTreeId} #MtlItemNo@(itemName)-${item.MtlItemId}`).val(item.MtlItemNo);
                            $(`${bomTreeId} #MtlItemId@(itemName)-${item.MtlItemId}`).val(item.MtlItemId);
                            $(`${bomTreeId} #ParentMtlItemId@(itemName)-${item.MtlItemId}`).val(item.ParentMtlItemId);
                            $(`${bomTreeId} #BomId@(itemName)-${item.MtlItemId}`).val(item.BomId);
                            $(`${bomTreeId} #SortNumber@(itemName)-${item.MtlItemId}`).val(item.SortNumber);
                            $(`${bomTreeId} #lvl@(itemName)-${item.MtlItemId}`).val(item.lvl);

                            $(`${bomTreeId} #self_li-${item.MtlItemId} a`).attr("data-mtlitem-id", item.MtlItemId);

                            templvl = item.lvl;
                        });

                        @*if (templvl === Math.max(...treeData.map(m => m.lvl))) {
                            $.each(treeData.filter(f => f.lvl === templvl), function (idx, item) {
                                $(`#BomTree@(itemName) #parent_ul-${item.ParentMtlItemId} ul`).html($(`#newBomDetail ul`).html());
                            });
                        }*@
                    }
                }
            });

            addMethod(this, "CheckExistsMtlItemNo@(itemName)", function () {
                if (!!data@(itemName)) {
                    data@(itemName)Json.data = data@(itemName);

                    let targetUrl = "@Url.Action("CheckExistsMtlItemNo", "RdWorkManagement")";
                    let postData = {
                        "BomStructureJson": JSON.stringify(data@(itemName)Json)
                    };

                    let data = DataAccess.Get(targetUrl, postData, false);

                    if (data.status == "success") {
                        $.each(data.result, function (i, item) {
                            $(`tr[data-pt-id="${item.ParentMtlItemId}"] #msg@(itemName)-${item.MtlItemId}`).text(`品號檢核:${item.Msg}`);
                        });
                    }
                }
            });

            addMethod(this, "SaveBomStructure@(itemName)", function () {
                swal.fire({
                    titleText: "確定要複製此BOM結構?",
                    text: "此動作無法復原，請確認是否要執行!",
                    icon: "warning",
                    allowOutsideClick: false,
                    allowEscapeKey: false,
                    showCancelButton: true,
                    confirmButtonColor: '#16A085',
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        data@(itemName)Json.data = data@(itemName);

                        let targetUrl = "@Url.Action("AddBomStructure", "RdWorkManagement")";
                        let postData = {
                            "BomStructureJson": JSON.stringify(data@(itemName)Json)
                        };

                        let data = DataAccess.EditContinued(targetUrl, postData, false);

                        if (data.status == "success") {
                            if (data.msg == "OK") {
                                $.each(data.result, function (i, item) {
                                    $(`tr[data-pt-id="${item.ParentMtlItemId}"] #msg@(itemName)-${item.MtlItemId}`).text(item.Msg);
                                });
                            }
                            else {
                                alert('複製完成', 'success', 0);
                                $("#queryForm@(itemName) #txtMtlItemNoQ@(itemName)").val(data@(itemName).find(f => f.ParentBomId == -1).NewMtlItemNo);
                                Query@(itemName)();
                            }
                        }
                    }
                });
            });

            addMethod(this, "TransferToERP@(itemName)", function () {
                swal.fire({
                    titleText: "確定要將此BOM結構的品號拋轉至ERP?",
                    text: "未拋轉之品號即將拋轉至ERP，此動作無法復原，請確認是否要執行!",
                    icon: "warning",
                    allowOutsideClick: false,
                    allowEscapeKey: false,
                    showCancelButton: true,
                    confirmButtonColor: '#E74C3C',
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        let mtlItem = data@(itemName).find(f => f.ParentBomId == -1);
                        if (!!mtlItem) {
                            let targetUrl = "@Url.Action("TransferToERP", "RdWorkManagement")";
                            let postData = {
                                "MtlItemId": mtlItem.MtlItemId
                            };

                            let data = DataAccess.EditContinued(targetUrl, postData, false);

                            if (data.status == "success") {
                                alert('拋轉成功', 'success', 0);
                                $("#queryForm@(itemName) #txtMtlItemNoQ@(itemName)").val(mtlItem.MtlItemNo);
                                Query@(itemName)();
                            }
                        }
                    }
                });
            });

            addMethod(this, "AddMtlItem@(itemName)", function (targetForm, e) {
                let mtlItemId = $(e).data("mtlitem-id");
                console.log(mtlItemId);
            });

            addMethod(this, "ReadMtlItem@(itemName)", function (targetForm, e) {
                let mtlItemId = $(e).data("mtlitem-id");
                console.log(mtlItemId);
            });

            addMethod(this, "TakeNumber@(itemName)", function (id) {
                let targetUrl = "@Url.Action("GetBomSequence", "Product")";
                let postData = {
                    "BomId": id
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    let BomSequence = `${objFormB@(itemName)} #txtBomSequence@(itemName)`;
                    $.each(data.result, function (i, item) {
                        var seq = parseInt(item.BomSequence);

                        if (seq == 0) {
                            seq = 10;
                        } else {
                            seq = seq + 10;
                        }
                        var serial = "0000" + seq;

                        $(BomSequence).val(serial.substr(serial.length - 4));
                    });

                    if (data.result.length <= 0) {
                        $(BomSequence).val("0010");
                    }
                }
                else {
                    alert(data.msg, "alert", 0);
                }
            });

            addMethod(this, "StatusSwitch@(itemName)", function (mtlItemId) {
                if (mtlItemId > 0) {
                    let targetUrl = "@Url.Action("UpdateMtlItemStatus", "Product")";
                    let postData = {
                        "MtlItemId": mtlItemId
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function Query@(itemName)() {
            $("#queryForm@(itemName)").serializeObject@(itemName)("Q@(itemName)");

            Datas@(itemName).GetBillOfMaterialsList@(itemName)(); //列表式查詢
            @*Datas@(itemName).GetBillOfMaterialsTree@(itemName)(); //樹狀結構查詢*@

            $("#modalQuery@(itemName)").modal("hide");
        }

        function Clear@(itemName)(targetBox) {
            $(`${targetBox} input, ${targetBox} textarea, ${targetBox} select`).val('').attr('disabled', false);
            $(`${targetBox} .help-block`).css("display", "none");
        }

        $.fn.serializeObject@(itemName) = function (itemName) {
            let arr = [];
            var o = {};
            var a = this.serializeArray();
            $.each(a, function () {
                var columnName = this.name.replace(itemName, ``).replace(`txt`, ``).replace(`cbo`, ``).replace(`chk`, ``);
                let cell = o[this.name];

                if (o[columnName]) {
                    if (!o[columnName].push) {
                        o[columnName] = [columnName];
                    }
                    o[columnName].push(this.value || '');
                } else {
                    o[columnName] = this.value || '';
                }
            });
            arr.push(o);
            postData@(itemName) = o;
        };

</script>
        )