@using Business_Manager.Helpers
@{
    string itemName = "CustomerMtlItem";
    string popComponentName = "ViewPurchaseOrder";
    string itemNameText = "部番";
    string authority = ViewBag.authority;
}

@Html.Resource("css",
    @<style>
         .transferOK {
             color: #070;
             font-weight: 600;
         }

         .transferNO {
             color: #f34;
             font-weight: 600;
         }
    </style>
        )

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="title-row">
                    <h5 class="col-6 col-sm-6 col-md-6 fw-600">@(itemNameText)</h5>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn btn-success auth-data-transfer" href="javascript:Transfer@(itemName)();"><i class="fas fa-arrow-alt-square-up"></i>拋轉ERP</a>
                        <a class="btn btn-info auth-customer-mtlItem" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th scope="col" style="min-width: 150px;">客戶名稱</th>
                                        <th scope="col" style="min-width: 150px;">客戶品號</th>
                                        <th scope="col" style="min-width: 150px;">客戶品名</th>
                                        <th scope="col" style="min-width: 150px;">客戶品號規格</th>
                                        <th scope="col" style="min-width: 150px;">拋轉</th>
                                        <th scope="col" style="min-width: 100px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="CustomerMtlItemId" name="CustomerMtlItemId" value="-1" />
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group row">
                                    <label class="col-12 col-form-label" for="cboCustomerId@(itemName)">客戶名稱 <span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select class="form-control" id="cboCustomerId@(itemName)" name="cboCustomerId@(itemName)"
                                                data-msg-required="請選擇客戶" data-rule-required="true"></select>
                                        <input type="hidden" id="txtCompanyId@(itemName)" name="txtCompanyId@(itemName)" value="-1" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row cust-po-item">
                            <div class="col-lg-12">
                                <div class="form-group row">
                                    <label class="col-12 col-form-label" for="txtCustomerPurchaseOrder@(itemName)">客戶採購單</label>
                                    <div class="col-12 po-control">
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="txtCustomerPurchaseOrder@(itemName)" name="txtCustomerPurchaseOrder@(itemName)" placeholder="請輸入客戶採購單別-單號"
                                                   data-msg-maxlength="必須少於 20 個字元" maxlength="20" />
                                            <input type="text" class="form-control" id="txtPoSeq@(itemName)" name="txtPoSeq@(itemName)" placeholder="採購單身序號"
                                                   data-msg-maxlength="必須少於 6 個字元" maxlength="6" readonly disabled />
                                            <input type="text" class="form-control" id="txtCompanyName@(itemName)" name="txtCompanyName@(itemName)" placeholder="公司名稱" readonly disabled />
                                            <div class="input-group-append auth-cust-po">
                                                <input type="hidden" id="txtPURTD_Keys@(itemName)" name="txtPURTD_Keys@(itemName)" value="-1" />
                                                <button type="button" class="btn btn-success" id="pop-@(itemName)" name="pop-@(itemName)"><i class="fal fa-search"></i></button>
                                                <button type="button" class="btn btn-outline-danger" id="clearCustPo@(itemName)" name="clearCustPo@(itemName)"><i class="fas fa-eraser"></i></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group row">
                                    <label class="col-12 col-form-label" for="txtCustomerMtlItemNo@(itemName)">客戶品號 <span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <input type="text" class="form-control" id="txtCustomerMtlItemNo@(itemName)" name="txtCustomerMtlItemNo@(itemName)"
                                               data-msg-required="請輸入客戶品號" data-rule-required="true" placeholder="請輸入客戶品號" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group row">
                                    <label class="col-12 col-form-label" for="txtCustomerMtlItemName@(itemName)">客戶品名 </label>
                                    <div class="col-12">
                                        <input type="text" class="form-control" id="txtCustomerMtlItemName@(itemName)" name="txtCustomerMtlItemName@(itemName)" placeholder="請輸入客戶品名" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group row">
                                    <label class="col-12 col-form-label" for="txtCustomerMtlItemSpec@(itemName)">客戶品號規格</label>
                                    <div class="col-12">
                                        <input type="text" class="form-control" id="txtCustomerMtlItemSpec@(itemName)" name="txtCustomerMtlItemSpec@(itemName)" placeholder="請輸入客戶品號規格" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

@Html.Partial("ViewPurchaseOrder")

@Html.Resource("js",
    @<script>
        let Elements@(itemName) = new ElementControl@(itemName)();
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };

        let objForm@(itemName) = "#editForm@(itemName)";

        var userId@(itemName) = "";
        var userNo@(itemName) = "";
        var companyId@(itemName) = "";
        var companyNo@(itemName) = "";

        $(function () {
            GetUserInfo@(itemName)();
        });

        function Expand@(itemName)() {
            if (parseInt($("#MtlItemId").val()) > 0) {
                Return@(itemName)();
            } else {
                alert("請先儲存品號", "alert");
            }
        }

        function GetUserInfo@(itemName)() {
            let targetUrl = "@Url.Action("GetLoginByKey", "User")";
            let postData = {
                "UserNo": $.cookie("Login"),
                "KeyText": $.cookie("LoginKey")
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                userId@(itemName) = data.returnData.UserId;
                userNo@(itemName) = data.returnData.UserNo;
                companyId@(itemName) = data.returnData.CompanyId;
                companyNo@(itemName) = data.returnData.CompanyNo;
            } else {
                alert(data.msg, "alert", 0);
            }
        }

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;
            let targetUrl = "@Url.Action("GetCustomerMtlItem", "Product")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "MtlItemId": $("#MtlItemId").val()
            };

            let data = DataAccess.Get(targetUrl, postData, false);
            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;
                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";
                        innerHtml += `<tr>
                                        <td>${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.CustomerName}" style="max-width: 170px;"><code>${item.CustomerNo}</code>${item.CustomerShortName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.CustomerMtlItemNo}" style="max-width: 170px;">${item.CustomerMtlItemNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.CustomerMtlItemName}" style="max-width: 170px;">${item.CustomerMtlItemName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.CustomerMtlItemSpec}" style="max-width: 170px;">${item.CustomerMtlItemSpec}</td>
                                        <td class="ellipsis ${item.TransferStatus == `N` ? `transferNO` : `transferOK`}" data-toggle="tooltip" title="${item.TransferStatus}" style="max-width: 170px;">${TransferStatusName(item.TransferStatus)}</td>
                                        <td class="text-center active-content">
                                          <a class="active-link auth-customer-mtlItem" href="javascript:Edit@(itemName)(${item.CustomerMtlItemId});"><i class="fas fa-edit"></i></a>
                                          ${item.TransferStatus == "N" ? `<a class="active-link auth-customer-mtlItem" href="javascript:Delete@(itemName)(${item.CustomerMtlItemId});"><i class="fas fa-trash-alt"></i></a>` : ``}
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="10" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

            if (data.result.filter(f => f.TransferStatus == `N`).length > 0) $(`.auth-data-transfer`).show();
            else $(`.auth-data-transfer`).hide();
        }

        function Edit@(itemName)(CustomerMtlItemId) {
            $("#CustomerMtlItemId").val(CustomerMtlItemId ? CustomerMtlItemId : 0);

            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");

            ComboBoxs.Default("#cboCustomerId@(itemName)", "@Url.Action("GetCustomer", "ScmBasicInformation")", { "Status": "A", "TransferStatus": "A" }, "", "ALL", "", "CustomerWithNo", "CustomerId");

            if (CustomerMtlItemId > 0) {
                let targetUrl = "@Url.Action("GetCustomerMtlItem", "Product")";
                let postData = {
                    "CustomerMtlItemId": $("#CustomerMtlItemId").val()
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        $("#cboCustomerId@(itemName)").val(item.CustomerId).trigger("change");
                        $("#txtCompanyName@(itemName)").val(item.CompanyFullName);
                        $("#txtCustomerPurchaseOrder@(itemName)").val(item.PoErpFullNo);
                        $("#txtPoSeq@(itemName)").val(item.PoSeq);
                        $("#txtCustomerMtlItemNo@(itemName)").val(item.CustomerMtlItemNo);
                        $("#txtCustomerMtlItemName@(itemName)").val(item.CustomerMtlItemName);
                        $("#txtCustomerMtlItemSpec@(itemName)").val(item.CustomerMtlItemSpec);
                    });
                } else {
                    alert(data.msg, "alert", 0);
                }
            }

            Elements@(itemName).Initialize@(itemName)();
        }

        let chkPopSelectType@(itemName) = 'radio'; //組件資料預設的選擇模式
        function ElementControl@(itemName)() {
            addMethod(this, "Initialize@(itemName)", function () {
                $("#cboCustomerId@(itemName)").off("change").on("change", function () {
                    $("#txtCompanyId@(itemName)").val(companyId@(itemName));
                    $(".cust-po-item").hide();
                    if ($(this).val().length > 0) {
                        targetUrl = "@Url.Action("GetType", "BasicInformation")";
                        postData = {
                            "TypeSchema": "So.CorpType",
                            "TypeNo": $(this).val()
                        };
                        data = DataAccess.Get(targetUrl, postData, false);

                        if (data.status == "success") {
                            $.each(data.result, function (i, item) {
                                $("#txtCompanyId@(itemName)").val(item.TypeDesc);
                                $(".po-control input, .po-control select, .po-control button").removeAttr("disabled");
                                $(".cust-po-item").show();
                            });
                        }
                    }

                    if (parseInt($("#txtCompanyId@(itemName)").val()) == companyId@(itemName)) {
                        Clear@(itemName)();
                    }
                }).trigger('change');

                if (!isMobile) {
                    $("#cboCustomerId@(itemName)").select2({
                        dropdownAutoWidth: true,
                        width: "100%"
                    });
                }

                $("#pop-@(itemName)").off("click").on("click", function () {
                    $(".default-item a").trigger("click");
                    Elements@(itemName).InitPopViewPurchaseOrder@(itemName)("A2");
                });

                $("#clearCustPo@(itemName)").off("clikc").on("click", function () {
                    $(".default-item a").trigger("click");
                    Clear@(itemName)();
                });

                TableComponentInit();
            });

            addMethod(this, "InitPopViewPurchaseOrder@(itemName)", function (cell) {
                //let writeColumn = ["A", "B", "C", "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z"];
                let popConfig = {
                    targetSelector: "#txtPURTD_Keys@(itemName)", //資料id儲存欄位
                    @*targetHidSelector: `#txtHiddenDatas@(itemName)`, //隱藏的資料儲存元素id*@
                    elementSelector: [
                        { element: "#cboCompanyQ@(popComponentName)", setValue: $("#txtCompanyId@(itemName)").val(), mapColumn: "", type: "cbo" },
                        { element: "#txtSearchKeyQ@(popComponentName)", setValue: $("#txtCustomerPurchaseOrder@(itemName)").val(), mapColumn: "", type: "txt" },
                        @*{ element: "#txtCompanyId@(itemName)", setValue: "", mapColumn: "txtCompanyId@(itemName)", type: "txt" },*@
                        @*{ element: "#txtCustomerPurchaseOrder@(itemName)", setValue: "", mapColumn: "txtCustomerPurchaseOrder@(itemName)", type: "out" }*@                        
                        @*{ element: "#txtCustomerIdQ@(popComponentName)", setValue: $("#cboCustomerId@(itemName)").val(), mapColumn: "", type: "txt" },*@
                    ], //篩選值儲存欄位/預設值/媒合的欄位
                    identify: "txtCustomerPurchaseOrder@(itemName)", //資料唯一識別欄位
                    columns: [
                        { column: "txtCompanyName@(itemName)", title: "ML003" },
                        { column: "txtCompanyId@(itemName)", title: "CompanyId" },
                        { column: "txtCustomerPurchaseOrder@(itemName)", title: "PoErpPrefixNo"},
                        { column: "txtPoSeq@(itemName)", title: "TD003" },
                        { column: "txtCustomerMtlItemNo@(itemName)", title: "TD004" },
                        { column: "txtCustomerMtlItemName@(itemName)", title: "TD005" },
                        { column: "txtCustomerMtlItemSpec@(itemName)", title: "TD006" }
                    ], //要複寫的欄位
                    @*filter: {
                        CompanyIds: [$("#txtCompanyId@(itemName)").val()],
                        //CompanyNames: !!saleOrderCustomer@(itemName) ? [...new Set([saleOrderCustomer@(itemName).CustomerShortName.substring(0, 2), saleOrderCustomer@(itemName).CustomerShortName.substring(2, 4)])] : [companyName@(itemName).substring(0, 2)],
                        CustomerPurchaseOrders: [$("#txtCustomerPurchaseOrder@(itemName)").val()]
                    }, //預設篩選條件值*@
                    type: chkPopSelectType@(itemName), //checkbox, radio
                    @*spreadsheet: {
                        component: spreadsheet@(componentName), //excel 套件
                        config: { writeNew: true }, //表單重新寫入
                        columns: columns@(componentName).filter(f => writeColumn.includes(f.column)).map(m => { return { column: m.column, title: m.title, format: m.format, type: m.type } }), //要複寫的欄位
                        row: cell.indexOf("A") != -1 && cell != "A1" ? cell.split('A')[1] : 2, //起始列數
                        identify: identify@(componentName), //資料唯一識別欄位
                        message: message@(componentName), //訊息顯示欄位
                        excelCtrls: excelCtrls@(itemName), //取得excel自定義控制方法
                        groupValid: { valid: true, groupColumns: ["B"] } //群組驗證及欄位
                    }*@
                }
                PopViewPurchaseOrder(popConfig);
            });
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let CustomerMtlItemId = parseInt($("#CustomerMtlItemId").val());
                if (CustomerMtlItemId <= 0) {
                    let targetUrl = "@Url.Action("AddCustomerMtlItem", "Product")";
                    let postData = {
                        "MtlItemId": $("#MtlItemId").val(),
                        "CustomerId": $("#cboCustomerId@(itemName)").val(),
                        "CustomerMtlItemNo": $("#txtCustomerMtlItemNo@(itemName)").val(),
                        "CustomerMtlItemName": $("#txtCustomerMtlItemName@(itemName)").val(),
                        "CustomerMtlItemSpec": $("#txtCustomerMtlItemSpec@(itemName)").val(),
                        "PoCompanyId": $("#txtCompanyId@(itemName)").val()
                    };

                    if (parseInt($("#txtCompanyId@(itemName)").val()) != companyId@(itemName)) {
                        Object.assign(postData, {
                            "PoErpPrefixNo": $("#txtCustomerPurchaseOrder@(itemName)").val(),
                            "PoSeq": $("#txtPoSeq@(itemName)").val()
                        });
                    }

                    let result = DataAccess.Add(targetUrl, postData, false, false);

                    if (result) {
                        Return@(itemName)();
                    }
                } else {
                    let targetUrl = "@Url.Action("UpdateCustomerMtlItem", "Product")";
                    let postData = {                        
                        "CustomerMtlItemId": CustomerMtlItemId,
                        "MtlItemId": $("#MtlItemId").val(),
                        "CustomerId": $("#cboCustomerId@(itemName)").val(),
                        "CustomerMtlItemNo": $("#txtCustomerMtlItemNo@(itemName)").val(),
                        "CustomerMtlItemName": $("#txtCustomerMtlItemName@(itemName)").val(),
                        "CustomerMtlItemSpec": $("#txtCustomerMtlItemSpec@(itemName)").val(),
                        "PoCompanyId": $("#txtCompanyId@(itemName)").val()
                    };

                    if (parseInt($("#txtCompanyId@(itemName)").val()) != companyId@(itemName)) {
                        Object.assign(postData, {
                            "PoErpPrefixNo": $("#txtCustomerPurchaseOrder@(itemName)").val(),
                            "PoSeq": $("#txtPoSeq@(itemName)").val()
                        });
                    }

                    let result = DataAccess.Update(targetUrl, postData, false, false);

                    if (result) {
                        Return@(itemName)();
                    }
                }
            }
        }

        function Delete@(itemName)(CustomerMtlItemId) {
            swal.fire({
                titleText: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteCustomerMtlItem", "Product")";
                    let postData = {
                        "CustomerMtlItemId": CustomerMtlItemId
                    };

                    if (DataAccess.Delete(targetUrl, postData, false, false)) {
                        alert('刪除成功', 'success', 0);
                        Query@(itemName)();
                    }
                    else {
                        alert('刪除失敗', 'error', 0);
                    }
                }
            });
        }

        function Transfer@(itemName)() {
            swal.fire({
                titleText: "確認要拋轉ERP嗎?",
                text: "拋轉前請確認資料是否有填寫正確!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("UpdateCustomerMtlItemToERP", "Product")";
                    let postData = {
                        "MtlItemId": $("#MtlItemId").val()
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, false);
                    if (result) {
                        alert('拋轉成功', 'success', 0);
                        Query@(itemName)();
                    }
                }
            });
        }

        function Clear@(itemName)() {
            $("#txtCustomerPurchaseOrder@(itemName), #txtPoSeq@(itemName), #txtCompanyName@(itemName)").val("");
        }

        function Return@(itemName)() {
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName)", "#editData@(itemName)");
            Query@(itemName)();
        }
    </script>
        )