@using Business_Manager.Helpers
@{
    string itemName = "MtlItemDocSetting";
    string itemNameText = "品號審查文件檔";
    string authority = ViewBag.authority;
}

@Html.Resource("css",
    @<style>
        .button-row {
            display: flex;
        }

        .transferOK {
            color: #070;
            font-weight: 600;
        }

        .transferNO {
            color: #f34;
            font-weight: 600;
        }
    </style>
)

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="title-row">
                    <h5 class="col-6 col-sm-6 col-md-6 fw-600">@(itemNameText)</h5>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        @*<a class="btn btn-info auth-calculate newUom" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th scope="col" style="min-width: 150px;">文件名稱</th>
                                        <th scope="col" style="min-width: 150px;">檔案</th>
                                        <th scope="col" style="min-width: 150px;">請購是否檢核</th>
                                        <th scope="col" style="min-width: 150px;">訂單是否檢核</th>
                                        <th scope="col" style="min-width: 100px;" class="noShow">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group row">
                                    <label class="col-12 col-form-label" for="txtMtlItemFile@(itemName)">檔案</label>
                                    <div class="col-12">
                                        <input type="file" id="MtlItemFileId@(itemName)" name="MtlItemFileId@(itemName)" multiple />
                                        <input type="hidden" id="txtMtlItemFile@(itemName)" name="txtMtlItemFile@(itemName)" />
                                        <input type="hidden" id="txtMtlItemNo@(itemName)" name="txtMtlItemNo@(itemName)" />
                                        <input type="hidden" id="txtMtDocId@(itemName)" name="txtMtDocId@(itemName)" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };

        let objForm@(itemName) = "#editForm@(itemName)";

        function Expand@(itemName)() {
            if (parseInt($("#MtlItemId").val()) > 0) {
                Return@(itemName)();
            } else {
                alert("請先儲存品號", "alert");
            }
        }

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;


            let targetUrl = "@Url.Action("GetMtlItemFile", "Product")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "MtlItemId": $("#MtlItemId").val()
            };
            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";
                        innerHtml += `<tr>
                                        <td>${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DocName}" style="max-width: 170px;">${item.DocName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.FileId}" style="max-width: 170px;">
                                            ${item.FileId != null ? `
                                            <a class="active-link auth-file-add" href="/Web/GetFile?fileId=${item.FileId}"><i class="fas fa-download"></i><span>檔案下載</span></a>
                                            ${item.FileName}${item.FileExtension}
                                            `: `尚未上傳檔案`}
                                        </td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.PurchaseMandatory}" style="max-width: 170px;">${item.PurchaseMandatory == `Y` ? `需檢核` : `不需檢核`}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.SaleOrderMandatory}" style="max-width: 170px;">${item.SaleOrderMandatory == `Y` ? `需檢核` : `不需檢核`}</td>
                                        <td class="text-center active-content}">
                                            <a class="active-link auth-file-add" href="javascript:Edit@(itemName)(${item.MtDocId},'${item.MtlItemNo}',${item.FileId});"><i class="fas fa-edit"></i></a>
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="8" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));
        }

        function Edit@(itemName)(MtDocId, MtlItemNo, FileId) {
            $("#txtMtlItemNo@(itemName)").val(MtlItemNo)
            $("#txtMtDocId@(itemName)").val(MtDocId)
            $("#txtMtlItemFile@(itemName)").val(FileId)
            let uploadConfig = {
                fileSelector: "#MtlItemFileId@(itemName)",
                targetSelector: "#txtMtlItemFile@(itemName)",
                required: false,
                uploadPath: "/Product/MtlItem",
                maxFileCount: 10,
                defaultFile: $("#txtMtlItemFile@(itemName)").val()
            };
            Suites.FileUpload(uploadConfig);

            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");
            
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let targetUrl = "@Url.Action("AddMtlItemFile", "Product")";
                let postData = {
                    "MtlItemNo": $("#txtMtlItemNo@(itemName)").val(),
                    "MtDocId": $("#txtMtDocId@(itemName)").val(),
                    "FileId": $("#txtMtlItemFile@(itemName)").val()
                };

                let result = DataAccess.Add(targetUrl, postData, false, true);

                if (result) {
                    Return@(itemName)();
                }
            }
        }

        function Return@(itemName)() {
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName)", "#editData@(itemName)");
            Query@(itemName)();
        }
</script>
)