@using Business_Manager.Helpers
@{
    string itemName = "MtlItemSetting";
    string itemNameText = "品號設定";
    string authority = ViewBag.authority;
}

@Html.Resource("css",
    @<style>
    </style>
)

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="title-row">
                    <h5 class="fw-600">@(itemNameText)</h5>
                    <a class="btn btn-primary auth-setting" href="javascript:Edit@(itemName)();"><i class="fas fa-edit"></i>修改設定</a>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 150px;">固定前置天數</th>
                                        <th scope="col" style="min-width: 150px;">變動前置天數</th>
                                        <th scope="col" style="min-width: 150px;">最低補量</th>
                                        <th scope="col" style="min-width: 150px;">補貨倍量</th>
                                        <th scope="col" style="min-width: 150px;">領用倍量</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group row">
                                    <label class="col-12 col-form-label" for="txtFixedLeadTime@(itemName)">固定前置天數 <span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <input type="number" class="form-control" id="txtFixedLeadTime@(itemName)" name="txtFixedLeadTime@(itemName)"
                                               data-msg-required="請輸入固定前置天數" data-rule-required="true" placeholder="請輸入固定前置天數" value="0" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group row">
                                    <label class="col-12 col-form-label" for="txtChangeLeadTime@(itemName)">變動前置天數 <span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <input type="number" class="form-control" id="txtChangeLeadTime@(itemName)" name="txtChangeLeadTime@(itemName)"
                                               data-msg-required="請輸入變動前置天數" data-rule-required="true" placeholder="請輸入變動前置天數" value="0" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group row">
                                    <label class="col-12 col-form-label" for="txtMinPoQty@(itemName)">最低補量 <span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <input type="number" class="form-control" id="txtMinPoQty@(itemName)" name="txtMinPoQty@(itemName)"
                                               data-msg-required="請輸入最低補量" data-rule-required="true" placeholder="請輸入最低補量" value="0" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group row">
                                    <label class="col-12 col-form-label" for="txtMultiplePoQty@(itemName)">補貨倍量 <span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <input type="number" class="form-control" id="txtMultiplePoQty@(itemName)" name="txtMultiplePoQty@(itemName)"
                                               data-msg-required="請輸入補貨倍量" data-rule-required="true" placeholder="請輸入補貨倍量" value="0" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group row">
                                    <label class="col-12 col-form-label" for="txtMultipleReqQty@(itemName)">領用倍量 <span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <input type="number" class="form-control" id="txtMultipleReqQty@(itemName)" name="txtMultipleReqQty@(itemName)"
                                               data-msg-required="請輸入領用倍量" data-rule-required="true" placeholder="請輸入領用倍量" value="0" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        let objForm@(itemName) = "#editForm@(itemName)";

        function Expand@(itemName)() {
            if (parseInt($("#MtlItemId").val()) > 0) {

                Return@(itemName)();

            } else {
                alert("請先儲存品號", "alert");
            }
        }

        function Query@(itemName)() {
            InitData@(itemName)();
        }

        function InitData@(itemName)() {
            let innerHtml = '';

            let targetUrl = "@Url.Action("GetMtlItemSetting", "Product")";
            let postData = {
                "MtlItemId": $("#MtlItemId").val()
            };
            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {

                if (data.result.length > 0) {

                    $.each(data.result, function (i, item) {

                        innerHtml += `<tr>
                                        <td>${item.FixedLeadTime}</td>
                                        <td>${item.ChangeLeadTime}</td>
                                        <td>${item.MinPoQty}</td>
                                        <td>${item.MultiplePoQty}</td>
                                        <td>${item.MultipleReqQty}</td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="5" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
        }

        function Edit@(itemName)() {
            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");

            let targetUrl = "@Url.Action("GetMtlItemSetting", "Product")";
            let postData = {
                "MtlItemId": $("#MtlItemId").val()
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                $.each(data.result, function (i, item) {
                    $("#txtFixedLeadTime@(itemName)").val(item.FixedLeadTime);
                    $("#txtChangeLeadTime@(itemName)").val(item.ChangeLeadTime);
                    $("#txtMinPoQty@(itemName)").val(item.MinPoQty);
                    $("#txtMultiplePoQty@(itemName)").val(item.MultiplePoQty);
                    $("#txtMultipleReqQty@(itemName)").val(item.MultipleReqQty);
                });
            } else {
                alert(data.msg, "alert", 0);
            }
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let targetUrl = "@Url.Action("UpdateMtlItemSetting", "Product")";
                let postData = {
                    "MtlItemId": $("#MtlItemId").val(),
                    "FixedLeadTime": $("#txtFixedLeadTime@(itemName)").val(),
                    "ChangeLeadTime": $("#txtChangeLeadTime@(itemName)").val(),
                    "MinPoQty": $("#txtMinPoQty@(itemName)").val(),
                    "MultiplePoQty": $("#txtMultiplePoQty@(itemName)").val(),
                    "MultipleReqQty": $("#txtMultipleReqQty@(itemName)").val()
                };

                let result = DataAccess.Update(targetUrl, postData, false, false);

                if (result) {
                    Return@(itemName)();
                }
            }
        }

        function Return@(itemName)() {
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName)", "#editData@(itemName)");
            Query@(itemName)();
        }
    </script>
)