@using Business_Manager.Helpers
@{
    string itemName = "MtlItemTypeConstituteLogic";
    string itemNameText = "品號類型編碼原則";
    string authority = ViewBag.authority;
    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
    </style>
                )

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
    </div>
</div>

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <div class="col-6">
                                <label class="container">品號類別</label>
                                <select class="form-control" id="cboMtlItemTypeQ@(itemName)" name="cboMtlItemTypeQ@(itemName)" placeholder="品號類別"></select>
                            </div>
                            <div class="col-6">
                                <label class="container">類別編號</label>
                                <select class="form-control" id="cboMtlItemTypeNoQ@(itemName)" name="cboMtlItemTypeNoQ@(itemName)" placeholder="類別編號"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-6">
                                <label class="container">類型名稱</label>
                                <select class="form-control" id="cboMtlItemTypeNameQ@(itemName)" name="cboMtlItemTypeNameQ@(itemName)" placeholder="品號類別"></select>
                            </div>
                            <div class="col-6">
                                <label class="container">類型簡述</label>
                                <input type="text" class="form-control" id="txtMtlItemNameDescQ@(itemName)" name="txtMtlItemNameDescQ@(itemName)"
                                       data-msg-extraRegex="請輸入品號類別簡述" placeholder="請輸入品號類別簡述" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-6">
                                <label class="container">第一字節</label>
                                <select class="form-control" id="cboFirstWordSNQ@(itemName)" name="cboFirstWordSNQ@(itemName)" placeholder="第一字節"></select>
                            </div>
                            <div class="col-6">
                                <label class="container">第二字節</label>
                                <select class="form-control" id="cboSecondWordSNQ@(itemName)" name="cboSecondWordSNQ@(itemName)" placeholder="第二字節"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-6">
                                <label class="container">第三字節</label>
                                <select class="form-control" id="cboThirdWordSNQ@(itemName)" name="cboThirdWordSNQ@(itemName)" placeholder="第三字節"></select>
                            </div>
                            <div class="col-6">
                                <label class="container">第四字節</label>
                                <select class="form-control" id="cboFourthWordSNQ@(itemName)" name="cboFourthWordSNQ@(itemName)" placeholder="第四字節"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-6">
                                <label class="container">第五字節</label>
                                <select class="form-control" id="cboFifthWordSNQ@(itemName)" name="cboFifthWordSNQ@(itemName)" placeholder="第五字節解"></select>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<!--列表-->
<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);"><i class="fal fa-search"></i>搜尋</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 50px;">#</th>
                                        <th scope="col" style="min-width: 150px;">品號類別</th>
                                        <th scope="col" style="min-width: 200px;">類型編號</th>
                                        <th scope="col" style="min-width: 200px;">類型名稱</th>
                                        <th scope="col" style="min-width: 200px;">類型簡述</th>
                                        <th scope="col" style="min-width: 200px;">第一字節註解</th>
                                        <th scope="col" style="min-width: 100px;">第一字節</th>
                                        <th scope="col" style="min-width: 50px;">1-</th>
                                        <th scope="col" style="min-width: 200px;">第二字節註解</th>
                                        <th scope="col" style="min-width: 100px;">第二字節</th>
                                        <th scope="col" style="min-width: 50px;">2-</th>
                                        <th scope="col" style="min-width: 200px;">第三字節註解</th>
                                        <th scope="col" style="min-width: 100px;">第三字節</th>
                                        <th scope="col" style="min-width: 50px;">3-</th>
                                        <th scope="col" style="min-width: 200px;">第四字節註解</th>
                                        <th scope="col" style="min-width: 100px;">第四字節</th>
                                        <th scope="col" style="min-width: 50px;">4-</th>
                                        <th scope="col" style="min-width: 200px;">第五字節註解</th>
                                        <th scope="col" style="min-width: 100px;">第五字節</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };

        $(document).ready(function () {

            if (!isMobile) {
                $("#cboMtlItemTypeQ@(itemName), #cboMtlItemTypeNoQ@(itemName), #cboMtlItemTypeNameQ@(itemName), #cboFirstWordSNQ@(itemName), #cboSecondWordSNQ@(itemName), #cboThirdWordSNQ@(itemName), #cboFourthWordSNQ@(itemName), #cboFifthWordSNQ@(itemName)").select2({
                    dropdownAutoWidth: true,
                    width: "100%"
                });
            }

            ComboBoxs.Default("#cboMtlItemTypeQ@(itemName)", "@Url.Action("GeMtlItemType", "Product")", {}, "", "NA", "", "ItemType", "ItemType");
            ComboBoxs.Default("#cboMtlItemTypeNoQ@(itemName)", "@Url.Action("GetItemTypeSimple", "PdmBasicInformation")", { "Today": getNowFormatDate() }, "", "NA", "", "ItemTypeNo", "ItemTypeNo");
            ComboBoxs.Default("#cboMtlItemTypeNameQ@(itemName)", "@Url.Action("GetItemTypeSimple", "PdmBasicInformation")", { "Today": getNowFormatDate() }, "", "NA", "", "ItemTypeName", "ItemTypeName");
            ComboBoxs.Default("#cboFirstWordSNQ@(itemName)", "@Url.Action("GeMtlItemTypeWordNode", "Product")", { "SortNumber": 1 }, "", "NA", "", "showValue", "showValue");
            ComboBoxs.Default("#cboSecondWordSNQ@(itemName)", "@Url.Action("GeMtlItemTypeWordNode", "Product")", { "SortNumber": 2 }, "", "NA", "", "showValue", "showValue");
            ComboBoxs.Default("#cboThirdWordSNQ@(itemName)", "@Url.Action("GeMtlItemTypeWordNode", "Product")", { "SortNumber": 3 }, "", "NA", "", "showValue", "showValue");
            ComboBoxs.Default("#cboFourthWordSNQ@(itemName)", "@Url.Action("GeMtlItemTypeWordNode", "Product")", { "SortNumber": 4 }, "", "NA", "", "showValue", "showValue");
            ComboBoxs.Default("#cboFifthWordSNQ@(itemName)", "@Url.Action("GeMtlItemTypeWordNode", "Product")", { "SortNumber": 5 }, "", "NA", "", "showValue", "showValue");
            InitData@(itemName)(objPage@(itemName));
        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));
            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let pageCount = 0;
            let innerHtml = '';
            
            let targetUrl = "@Url.Action("GeMtlItemTypeLogic", "Product")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "MtlItemType": $("#cboMtlItemTypeQ@(itemName)").val(),
                "MtlItemTypeNo": $("#cboMtlItemTypeNoQ@(itemName)").val(),
                "MtlItemTypeName": $("#cboMtlItemTypeNameQ@(itemName)").val(),
                "MtlItemNameDesc": $("#txtMtlItemNameDescQ@(itemName)").val(),
                "FirstWord": $("#cboFirstWordSNQ@(itemName)").val(),
                "SecondWord": $("#cboSecondWordSNQ@(itemName)").val(),
                "ThirdWord": $("#cboThirdWordSNQ@(itemName)").val(),
                "FourthWord": $("#cboFourthWordSNQ@(itemName)").val(),
                "FifthWord": $("#cboFifthWordSNQ@(itemName)").val()
            };
            
            let data = DataAccess.Get(targetUrl, postData, false);
            if (data.status == "success") {
                pageCount = data.result.result.length > 0 ? parseInt(data.result.TotalCount) : 0;
                console.log(data);
                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);
                    $.each(data.result.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr>
                                        <td style="max-width: 75px;">${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ItemType}" style="max-width: 100px;">${item.ItemType}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ItemTypeNo}" style="max-width: 100px;">${item.ItemTypeNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ItemTypeName}" style="max-width: 200px;">${item.ItemTypeName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ItemTypeDesc}" style="max-width: 200px;">${item.ItemTypeDesc}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.FirstWordMark}" style="max-width: 200px;">${item.FirstWordMark}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.FirstWord}" style="max-width: 100px;">${item.FirstWord}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.FirstNode}" style="max-width: 50px;">${item.FirstNode}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.SecondWordMark}" style="max-width: 200px;">${item.SecondWordMark}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.SecondWord}" style="max-width: 100px;">${item.SecondWord}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.SecondNode}" style="max-width: 50px;">${item.SecondNode}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ThirdWordMark}" style="max-width: 200px;">${item.ThirdWordMark}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ThirdWord}" style="max-width: 100px;">${item.ThirdWord}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ThirdNode}" style="max-width: 50px;">${item.ThirdNode}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.FourthWordMark}" style="max-width: 200px;">${item.FourthWordMark}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.FourthWord}" style="max-width: 100px;">${item.FourthWord}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.FourthNode}" style="max-width: 50px;">${item.FourthNode}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.FifthWordMark}" style="max-width: 200px;">${item.FifthWordMark}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.FifthWord}" style="max-width: 100px;">${item.FifthWord}</td>
                                    </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                <td class="text-center" colspan="19" style="background-color: #fff3cd;">
                                    <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                </td>
                                </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }
            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));
        }

        function getNowFormatDate() {
            var date = new Date();
            var seperator1 = "-";
            var year = date.getFullYear();
            var month = date.getMonth() + 1;
            var strDate = date.getDate();
            if (month >= 1 && month <= 9) {
                month = "0" + month;
            }
            if (strDate >= 0 && strDate <= 9) {
                strDate = "0" + strDate;
            }
            var currentdate = year + seperator1 + month + seperator1 + strDate;
            return currentdate;
        }
    </script>
)


