@using Business_Manager.Helpers
@{
    string itemName = "MtlItemNoIntegration";
    string itemNameText = "新舊品號整合";
    string authority = ViewBag.authority;

    ViewBag.Title = itemNameText;

    string SearchKey = Request["SearchKey"] ?? "";
}

@Html.Resource("css",
    @<style>
    </style>
)

<input type="hidden" id="pageAuthority" value="@authority" />

<!-- 返回 -->
<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

<!--搜尋-->
<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm2@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtSearchKeyQ@(itemName)">品號/品名/客戶品號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtSearchKeyQ@(itemName)" name="txtSearchKeyQ@(itemName)" placeholder="請輸入品號/品名/客戶品號" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtSearchMtlItemNoQ@(itemName)">品號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtSearchMtlItemNoQ@(itemName)" name="txtSearchMtlItemNoQ@(itemName)" placeholder="請輸入品號(從頭搜尋)" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtSearchNewMtlItemNoQ@(itemName)">新品號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtSearchNewMtlItemNoQ@(itemName)" name="txtSearchNewMtlItemNoQ@(itemName)" placeholder="請輸入新品號(從頭搜尋)" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtSearchMtlItemSpecQ@(itemName)">規格</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtSearchMtlItemSpecQ@(itemName)" name="txtSearchMtlItemSpecQ@(itemName)" placeholder="請輸入規格" />
                            </div>
                        </div>
                        <fieldset>
                            <input type="hidden" id="UserId" name="UserId" value="-1" />
                            <div class="form-group row">
                                <label class="col-12 col-form-label" for="cboUsers@(itemName)">品號建立者</label>
                                <div class="input-group">
                                    <select class="form-control" id="cboUsers@(itemName)" name="cboUsers@(itemName)"
                                            data-msg-required="請選擇品號建立者" data-rule-required="true" multiple></select>
                                    <div class="input-group-append">
                                        <a class="btn btn-success pop-view" href="javascript:void(0);"><i class="fal fa-search"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-3 col-md-4 col-6">
                                    <label class="control control-solid control-solid-info control--checkbox">
                                        包含未知建立者
                                        <input type="checkbox" id="cbxUserStatusQ@(itemName)A" name="cbxUserStatusQ@(itemName)" value="W"/>
                                        <span class="control__indicator"></span>
                                    </label>
                                </div>
                            </div>

                            <input type="hidden" id="NewUserId" name="NewUserId" value="-1" />
                            <div class="form-group row">
                                <label class="col-12 col-form-label" for="cboNewUsers@(itemName)">新品號建立者</label>
                                <div class="input-group">
                                    <select class="form-control" id="cboNewUsers@(itemName)" name="cboNewUsers@(itemName)"
                                            data-msg-required="請選擇新品號建立者" data-rule-required="true" multiple></select>
                                    <div class="input-group-append">
                                        <a class="btn btn-success pop-view" href="javascript:void(0);"><i class="fal fa-search"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-3 col-md-4 col-6">
                                    <label class="control control-solid control-solid-info control--checkbox">
                                        包含未知建立者
                                        <input type="checkbox" id="cbxNewUserStatusQ@(itemName)A" name="cbxNewUserStatusQ@(itemName)" value="W"/>
                                        <span class="control__indicator"></span>
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">庫存</label>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    有
                                    <input type="checkbox" id="cbxInStockQ@(itemName)A" name="cbxInStockQ@(itemName)" value=1  />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<!-- 表頭 -->
<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <form autocomplete="off" id="queryForm@(itemName)">
                            <fieldset>
                                <div class="form-row align-items-center mb-2">
                                    <div class="col-6 col-sm-6 col-md-6">
                                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);"><i class="fal fa-search"></i>搜尋</a>
                                        <button type="button" class="btn btn-success" onclick="SaveTemporaryList@(itemName)()"><i class="fal fa-save"></i>品號暫存</button>
                                        <div class="form-group row Temporary" style="display: inline-flex;">
                                            @*<label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboTemporaryList@(itemName)">暫存列表 -- 數量：<span id="TemporaryBarcodeListNum" name="ToolListNum">0</span></label>*@
                                            <select class="form-control" id="cboTemporaryList@(itemName)" name="cboTemporaryList@(itemName)"
                                                    data-msg-required="選擇暫存列表" data-rule-required="true" style="width:200px;margin-left: 15px;"></select>
                                            <button type="button" class="btn btn-danger" style="margin-left: 5px;" onclick="DeleteOption@(itemName)(cboTemporaryList@(itemName))"><i class="fal fa-trash-alt"></i>移除</button>
                                            <button type="button" class="btn btn-danger" style="margin-left: 5px;" onclick="ClearList@(itemName)()"><i class="fal fa-trash-alt"></i>清空</button>
                                            <button type="button" class="btn btn-info " style="margin-left: 5px;" onclick="UpdateNewMtlItemToErp@(itemName)('List')"><i class="fal fa-print"></i>新舊品號異動</button>
                                            <button type="button" class="btn btn-secondary" style="margin-left: 5px;" onclick="CloseTemporaryList@(itemName)()"><i class="fal fa-undo"></i>取消</button>
                                        </div>
                                    </div>
                                    <div class="col-6 col-sm-6 col-md-6 text-right">
                                        <a class="btn btn-success" href="javascript:UpdateNewMtlItemToErp@(itemName)('All');"><i class="fal fa-search"></i>新舊品號異動</a>
                                    </div>

                                    @*<div class="col-12 col-md-auto col-lg-auto text-right text-md-left text-lg-left">
                                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);"><i class="fal fa-search"></i>搜尋</a>
                                    </div>*@
                                </div>
                            </fieldset>
                        </form>
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky tiny-table" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th class="text-center" scope="col" style="min-width: 70px;">#</th>
                                        <th class="text-center" scope="col" style="min-width: 220px; background-color: #EFE6DC">操作</th>
                                        <th class="text-center" scope="col" style="min-width: 200px; background-color: #EFE6DC">新品號</th>
                                        <th class="text-center" scope="col" style="min-width: 200px; background-color: #EFE6DC">新品名</th>
                                        <th class="text-center" scope="col" style="min-width: 200px; background-color: #EFE6DC">新規格</th>
                                        <th class="text-center" scope="col" style="min-width: 200px;">品號</th>
                                        <th class="text-center" scope="col" style="min-width: 175px;">品名</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">規格</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">庫存調整狀態</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">異常回報訊息</th>
                                        <th style="padding: 0; min-width: 300px;">
                                            <table class="table table-bordered table-sm mb-0 table-non-rwd table-striped-custom table-row-detail">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 175px;">庫別</th>
                                                        <th style="width: 125px;">數量</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </th>
                                        <th class="text-center" scope="col" style="min-width: 125px; background-color: #9DCBDE">品號建立者</th>
                                        <th class="text-center" scope="col" style="min-width: 150px; background-color: #9DCBDE">品號建立時間</th>
                                        <th class="text-center" scope="col" style="min-width: 125px; background-color: #9DCBDE">新品號建立者</th>
                                        <th class="text-center" scope="col" style="min-width: 150px; background-color: #9DCBDE">新品號建立時間</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="editData@(itemName)" style="display:none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="MtlItemId" name="MtlItemId" value="" />
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtMtlItemNo@(itemName)">品號<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <input type="text" class="form-control" id="txtMtlItemNo@(itemName)" name="txtMtlItemNo@(itemName)" placeholder="請輸入品號"
                                               data-msg-required="請輸入品號" data-rule-required="true" @*onkeypress="BanBlankKey(event)" onkeydown="BandCtrlV(event)" onkeyup="this.value=this.value.replace(/[, ]/g,'')"*@
                                               data-msg-maxlength="必須少於 40 個字元" maxlength="40" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtMtlItemName@(itemName)">品名<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <input type="text" class="form-control MtlItemHead" id="txtMtlItemName@(itemName)" name="txtMtlItemName@(itemName)" placeholder="請輸入品名"
                                               data-msg-required="請輸入品名" data-rule-required="true"
                                               data-msg-maxlength="必須少於 120 個字元" maxlength="120" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtMtlItemSpec@(itemName)">規格<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <input type="text" class="form-control MtlItemHead" id="txtMtlItemSpec@(itemName)" name="txtMtlItemSpec@(itemName)" placeholder="請輸入規格"
                                               data-msg-required="請輸入規格" data-rule-required="true"
                                               data-msg-maxlength="必須少於 120 個字元" maxlength="120" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="cboTypeOne@(itemName)">品號分類(一)－會計<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select class="form-control MtlItemDetail" id="cboTypeOne@(itemName)" name="cboTypeOne@(itemName)"
                                                data-msg-required="請選擇品號分類(一)" data-rule-required="true"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="cboTypeTwo@(itemName)">品號分類(二)－倉管<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select class="form-control MtlItemDetail" id="cboTypeTwo@(itemName)" name="cboTypeTwo@(itemName)"
                                                data-msg-required="請選擇品號分類(二)" data-rule-required="true"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="cboTypeThree@(itemName)">品號分類(三)－業務<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select class="form-control MtlItemDetail" id="cboTypeThree@(itemName)" name="cboTypeThree@(itemName)"
                                                data-msg-required="請選擇品號分類(三)" data-rule-required="true"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="cboTypeFour@(itemName)">品號分類(四)－生管<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select class="form-control MtlItemDetail" id="cboTypeFour@(itemName)" name="cboTypeFour@(itemName)"
                                                data-msg-required="請選擇品號分類(四)" data-rule-required="true"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="cboInventoryId@(itemName)">主要庫別<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select class="form-control MtlItemDetail" id="cboInventoryId@(itemName)" name="cboInventoryId@(itemName)"
                                                data-msg-required="請選擇主要庫別" data-rule-required="true"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="cboRequisitionInventoryId@(itemName)">主要領料庫別<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select class="form-control MtlItemDetail" id="cboRequisitionInventoryId@(itemName)" name="cboRequisitionInventoryId@(itemName)"
                                                data-msg-required="請選擇主要領料庫別" data-rule-required="true"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="cboInventoryUomId@(itemName)">庫存單位<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select class="form-control MtlItemDetail" id="cboInventoryUomId@(itemName)" name="cboInventoryUomId@(itemName)"
                                                data-msg-required="請選擇庫存單位" data-rule-required="true"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="cboItemAttribute@(itemName)">品號屬性<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select class="form-control MtlItemDetail" id="cboItemAttribute@(itemName)" name="cboItemAttribute@(itemName)"
                                                data-msg-required="請選擇品號屬性" data-rule-required="true"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="cboProductionLine@(itemName)">生產線別</label>
                                    <div class="col-12">
                                        <select class="form-control MtlItemDetail" id="cboProductionLine@(itemName)" name="cboProductionLine@(itemName)"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="cboReplenishmentPolicy@(itemName)">補貨政策<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select class="form-control MtlItemDetail" id="cboReplenishmentPolicy@(itemName)" name="cboReplenishmentPolicy@(itemName)"
                                                data-msg-required="請選擇補貨政策" data-rule-required="true"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="btn btn-collapse" data-toggle="collapse" href="#collapseBasic" role="button" aria-expanded="false" aria-controls="collapseBasic">
                            <span><i class="fas fa-clipboard"></i>基本資料</span>
                            <i class="fas fa-chevron-down"></i>
                        </a>
                        <div class="collapse table-custom show" id="collapseBasic">
                            <div class="card card-body">
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="cboMeasureType">檢驗方式<span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <select class="form-control MtlItemDetail" id="cboMeasureType@(itemName)" name="cboMeasureType@(itemName)"
                                                        data-msg-required="請選擇檢驗方式" data-rule-required="true"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="cboLotManagement@(itemName)">批號管理<span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <select class="form-control MtlItemDetail" id="cboLotManagement@(itemName)" name="cboLotManagement@(itemName)"
                                                        data-msg-required="請選擇批號管理" data-rule-required="true"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row LotSetting">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="txtEfficientDays@(itemName)">有效日期</label>
                                            <div class="col-12">
                                                <input type="number" class="form-control MtlItemDetail" id="txtEfficientDays@(itemName)" name="txtEfficientDays@(itemName)" placeholder="請輸入有效日期" value="9999"
                                                       data-msg-required="請輸入有效日期" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="txtRetestDays@(itemName)">複檢日期</label>
                                            <div class="col-12">
                                                <input type="number" class="form-control MtlItemDetail" id="txtRetestDays@(itemName)" name="txtRetestDays@(itemName)" placeholder="請輸入複檢日期" value="9999"
                                                       data-msg-required="請輸入複檢日期" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="cboPurchaseUomId@(itemName)">採購單位<span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <select class="form-control MtlItemDetail" id="cboPurchaseUomId@(itemName)" name="cboPurchaseUomId@(itemName)" data-rule-required="true"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="cboSaleUomId@(itemName)">銷售單位<span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <select class="form-control MtlItemDetail" id="cboSaleUomId@(itemName)" name="cboSaleUomId@(itemName)" data-rule-required="true"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="chkMtlModify@(itemName)">修改品名/規格<span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-4 col-6">
                                                        <label class="control control-solid control-solid-info control--radio col-12">
                                                            是
                                                            <input type="radio" class="MtlItemDetail" id="chkMtlModify@(itemName)Y" name="chkMtlModify@(itemName)" value="Y"
                                                                   data-msg-required="請選擇是否修改品名/規格" data-rule-required="true" />
                                                            <span class="control__indicator"></span>
                                                        </label>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-6">
                                                        <label class="control control-solid control-solid-info control--radio col-12">
                                                            否
                                                            <input type="radio" class="MtlItemDetail" id="chkMtlModify@(itemName)N" name="chkMtlModify@(itemName)" value="N"
                                                                   data-msg-required="請選擇是否修改品名/規格" data-rule-required="true" checked />
                                                            <span class="control__indicator"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="chkBondedStore@(itemName)">保稅品<span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-4 col-6">
                                                        <label class="control control-solid control-solid-info control--radio col-12">
                                                            是
                                                            <input type="radio" class="MtlItemDetail" id="chkBondedStore@(itemName)Y" name="chkBondedStore@(itemName)" value="Y"
                                                                   data-msg-required="請選擇是否保稅品" data-rule-required="true" />
                                                            <span class="control__indicator"></span>
                                                        </label>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-6">
                                                        <label class="control control-solid control-solid-info control--radio col-12">
                                                            否
                                                            <input type="radio" class="MtlItemDetail" id="chkBondedStore@(itemName)N" name="chkBondedStore@(itemName)" value="N"
                                                                   data-msg-required="請選擇是否保稅品" data-rule-required="true" checked />
                                                            <span class="control__indicator"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="chkOverReceiptManagement@(itemName)">超收管理<span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-4 col-6">
                                                        <label class="control control-solid control-solid-info control--radio col-12">
                                                            是
                                                            <input type="radio" class="MtlItemDetail" id="chkOverReceiptManagement@(itemName)Y" name="chkOverReceiptManagement@(itemName)" value="Y" checked />
                                                            <span class="control__indicator"></span>
                                                        </label>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-6">
                                                        <label class="control control-solid control-solid-info control--radio col-12">
                                                            否
                                                            <input type="radio" class="MtlItemDetail" id="chkOverReceiptManagement@(itemName)N" name="chkOverReceiptManagement@(itemName)" value="N" />
                                                            <span class="control__indicator"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="chkOverDeliveryManagement@(itemName)">超交管理<span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-4 col-6">
                                                        <label class="control control-solid control-solid-info control--radio col-12">
                                                            是
                                                            <input type="radio" class="MtlItemDetail" id="chkOverDeliveryManagement@(itemName)Y" name="chkOverDeliveryManagement@(itemName)" value="Y"
                                                                   data-msg-required="請選擇是否超交管理" data-rule-required="true" checked />
                                                            <span class="control__indicator"></span>
                                                        </label>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-6">
                                                        <label class="control control-solid control-solid-info control--radio col-12">
                                                            否
                                                            <input type="radio" class="MtlItemDetail" id="chkOverDeliveryManagement@(itemName)N" name="chkOverDeliveryManagement@(itemName)" value="N"
                                                                   data-msg-required="請選擇是否超交管理" data-rule-required="true" />
                                                            <span class="control__indicator"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="chkInventoryManagement@(itemName)">庫存管理<span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-4 col-6">
                                                        <label class="control control-solid control-solid-info control--radio col-12">
                                                            是
                                                            <input type="radio" class="MtlItemDetail" id="chkInventoryManagement@(itemName)Y" name="chkInventoryManagement@(itemName)" value="Y"
                                                                   data-msg-required="請選擇是否庫存管理" data-rule-required="true" checked />
                                                            <span class="control__indicator"></span>
                                                        </label>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-6">
                                                        <label class="control control-solid control-solid-info control--radio col-12">
                                                            否
                                                            <input type="radio" class="MtlItemDetail" id="chkInventoryManagement@(itemName)N" name="chkInventoryManagement@(itemName)" value="N"
                                                                   data-msg-required="請選擇是否庫存管理" data-rule-required="true" />
                                                            <span class="control__indicator"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="txtEffectiveDate@(itemName)">生效日期</label>
                                            <div class="input-group col-12">
                                                <input type="text" class="form-control datedropper MtlItemDetail" id="txtEffectiveDate@(itemName)" name="txtEffectiveDate@(itemName)"
                                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                                       placeholder="請輸入生效日期" readonly />
                                                <div class="input-group-append">
                                                    <button type="button" class="btn btn-outline-danger" onclick="$('#txtEffectiveDate@(itemName)').val('')" title="清除">
                                                        <i class="fas fa-eraser"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="txtExpirationDate@(itemName)">失效日期</label>
                                            <div class="input-group col-12">
                                                <input type="text" class="form-control datedropper MtlItemDetail" id="txtExpirationDate@(itemName)" name="txtExpirationDate@(itemName)"
                                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                                       placeholder="請輸入失效日期" readonly />
                                                <div class="input-group-append">
                                                    <button type="button" class="btn btn-outline-danger" onclick="$('#txtExpirationDate@(itemName)').val('')" title="清除">
                                                        <i class="fas fa-eraser"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="txtMtlItemDesc@(itemName)">商品描述</label>
                                            <div class="col-12">
                                                <textarea class="form-control MtlItemDetail" id="txtMtlItemDesc@(itemName)" name="txtMtlItemDesc@(itemName)"
                                                          data-msg-maxlength="必須少於 255 個字元" maxlength="255" rows="2" placeholder="請輸入商品描述"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="txtMtlItemRemark@(itemName)">品號備註</label>
                                            <div class="col-12">
                                                <textarea class="form-control MtlItemDetail" id="txtMtlItemRemark@(itemName)" name="txtMtlItemRemark@(itemName)"
                                                          data-msg-maxlength="必須少於 255 個字元" maxlength="255" rows="2" placeholder="請輸入品號備註"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right btn-save">
                <button type="button" class="btn btn-success" onclick="Update@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

<!-- 動作button -->
<div class="modal fade" id="modalAvailable@(itemName)">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">庫存可用量</h5>
                <button class="close" type="button" onclick="CloseAvailable@(itemName)()">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblAvailableData@(itemName)">
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>


        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 30
        };

        let objForm@(itemName) = "#editForm@(itemName)";


        $(document).ready(function () {
            $("#txtSearchKeyQ@(itemName)").val("@(SearchKey)");

            Query@(itemName)();
            Edit1@(itemName)();
            Edit2@(itemName)();


            $("#txtMtlItemNo@(itemName)").on("change", function () {
                let MtlItemNo = $("#txtMtlItemNo@(itemName)").val()

                let targetUrl = "@Url.Action("GetNewMtlItemDetail", "Product")";
                let postData = {
                    NewMtlItemNo: MtlItemNo
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    if (data.result.length > 0) {
                        swal.fire({
                            titleText: "該品號已經存在將自動待入其基本資料",
                            text: "請確認是否要執行!",
                            icon: "warning",
                            allowOutsideClick: false,
                            allowEscapeKey: false,
                            showCancelButton: true,
                            confirmButtonColor: '#d33',
                            reverseButtons: true
                        }).then((result) => {
                            if (result.isConfirmed) {
                                if (data.status == "success") {
                                    $.each(data.result, function (i, item) {
                                        $("#MtlItemTransferStatus").val(item.TransferStatus);

                                        //$("#txtMtlItemNo@(itemName)").val(item.MtlItemNo);
                                        $("#txtMtlItemName@(itemName)").val(item.MtlItemName);
                                        $("#txtMtlItemSpec@(itemName)").val(item.MtlItemSpec);
                                        $("#cboInventoryUomId@(itemName)").val(item.InventoryUomId).trigger("change.select2");
                                        $("#cboPurchaseUomId@(itemName)").val(item.PurchaseUomId).trigger("change.select2");
                                        $("#cboSaleUomId@(itemName)").val(item.SaleUomId);
                                        $("#InventoryUomId").val(item.InventoryUomId);

                                        $("#cboTypeOne@(itemName)").val(item.TypeOne).trigger("change.select2");
                                        $("#cboTypeTwo@(itemName)").val(item.TypeTwo).trigger("change.select2");
                                        $("#cboTypeThree@(itemName)").val(item.TypeThree).trigger("change.select2");
                                        $("#cboTypeFour@(itemName)").val(item.TypeFour).trigger("change.select2");
                                        $("#cboInventoryId@(itemName)").val(item.InventoryId).trigger("change.select2");
                                        $("#cboRequisitionInventoryId@(itemName)").val(item.RequisitionInventoryId).trigger("change.select2");
                                        $("#cboReplenishmentPolicy@(itemName)").val(item.ReplenishmentPolicy).trigger("change.select2");
                                        if (item.InventoryManagement == "Y") $("#chkInventoryManagement@(itemName)Y").prop("checked", true);
                                        if (item.InventoryManagement == "N") $("#chkInventoryManagement@(itemName)N").prop("checked", true);
                                        if (item.MtlModify == "Y") $("#chkMtlModify@(itemName)Y").prop("checked", true);
                                        if (item.MtlModify == "N") $("#chkMtlModify@(itemName)N").prop("checked", true);
                                        if (item.BondedStore == "Y") $("#chkBondedStore@(itemName)Y").prop("checked", true);
                                        if (item.BondedStore == "N") $("#chkBondedStore@(itemName)N").prop("checked", true);
                                        $("#cboItemAttribute@(itemName)").val(item.ItemAttribute).trigger("change.select2");
                                        $("#cboLotManagement@(itemName)").val(item.LotManagement).trigger("change.select2");
                                        if (item.LotManagement != "N") {
                                            $(".LotSetting").show()
                                            $("#txtEfficientDays@(itemName)").val(item.EfficientDays)
                                            $("#txtRetestDays@(itemName)").val(item.RetestDays)
                                        }
                                        else {
                                            $(".LotSetting").hide()
                                        }
                                        $("#cboMeasureType@(itemName)").val(item.MeasureType).trigger("change.select2");
                                        if (item.OverReceiptManagement == "Y") $("#chkOverReceiptManagement@(itemName)Y").prop("checked", true);
                                        if (item.OverReceiptManagement == "N") $("#chkOverReceiptManagement@(itemName)N").prop("checked", true);
                                        if (item.OverDeliveryManagement == "Y") $("#chkOverDeliveryManagement@(itemName)Y").prop("checked", true);
                                        if (item.OverDeliveryManagement == "N") $("#chkOverDeliveryManagement@(itemName)N").prop("checked", true);
                                        if (item.EffectiveDate) {
                                            Suites.SetDateDropper("#txtEffectiveDate@(itemName)", new Date(item.EffectiveDate));
                                        }
                                        if (item.ExpirationDate) {
                                            Suites.SetDateDropper("#txtExpirationDate@(itemName)", new Date(item.ExpirationDate));
                                        }
                                        $("#txtMtlItemDesc@(itemName)").val(item.MtlItemDesc);
                                        $("#txtMtlItemRemark@(itemName)").val(item.MtlItemRemark);
                                        $("#MtlItemUomCalculateQty").val(item.MtlItemUomCalculateQty);
                                        //ComboBoxs.Default("#cboPurchaseUomId@(itemName)", "@Url.Action("GetMtlItemUomCalculateSimple", "Product")", { MtlItemId: $("#MtlItemId").val() }, item.PurchaseUomId, "NA", "", "ConvertUomNo", "ConvertUomId");
                                        //ComboBoxs.Default("#cboSaleUomId@(itemName)", "@Url.Action("GetMtlItemUomCalculateSimple", "Product")", { MtlItemId: $("#MtlItemId").val() }, item.SaleUomId, "NA", "", "ConvertUomNo", "ConvertUomId");
                                        $("#cboProductionLine@(itemName)").val(item.ProductionLine).trigger("change.select2");

                                    });

                                    if ($(".advanced-block .flag-tabs > .flag-item > .flag-link").first().hasClass("active")) {
                                        InitParameter@(itemName)($(".advanced-block .flag-tabs > .flag-item").first().find("a"));
                                    } else {
                                        $(".advanced-block .flag-tabs > .flag-item").first().find("a").trigger("click");
                                    }

                                } else {
                                    alert(data.msg, "alert", 0);
                                }
                            }
                        });
                    }
                }
            })

            $("#queryForm@(itemName)").keydown(function (event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    return false;
                }
            });
        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let statusList = [];
            $.each($("input[name='cbxInStockQ@(itemName)']:checked"), function () {
                statusList.push($(this).val());
            });
            let userStatusList = [];
            $.each($("input[name='cbxUserStatusQ@(itemName)']:checked"), function () {
                userStatusList.push($(this).val());
            });
            let newUserStatusList = [];
            $.each($("input[name='cbxNewUserStatusQ@(itemName)']:checked"), function () {
                newUserStatusList.push($(this).val());
            });

            let targetUrl = "@Url.Action("GetInventoryQueryWithNewMtlItemNo", "Product")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "SearchKey": $("#txtSearchKeyQ@(itemName)").val(),
                "SearchMtlItemNo": $("#txtSearchMtlItemNoQ@(itemName)").val(),
                "SearchNewMtlItemNo": $("#txtSearchNewMtlItemNoQ@(itemName)").val(),
                "SearchMtlItemSpec": $("#txtSearchMtlItemSpecQ@(itemName)").val(),
                "UserIds": $("#cboUsers@(itemName)").val().toString(),
                "NewUserIds": $("#cboNewUsers@(itemName)").val().toString(),
                "Instock": statusList.join(","),
                "UserStatus": userStatusList.join(","),
                "NewUserStatus": newUserStatusList.join(",")
            };
            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";
                        let Adjustment =""
                        switch (item.Adjustment) {
                            case "N":
                                Adjustment = "未動作"
                                break
                            case "O":
                                Adjustment = "已建單"
                                break
                            case "Y":
                                Adjustment = "已核單"
                                break
                            case "S":
                                Adjustment = "異常中"
                                break
                        }

                        innerHtml += `<tr>
                                        <td >${_row}
                                            <label class="control control-solid control-solid-info ">
                                                <input type="checkbox" data-key="${item.MtlItemId}" value="${item.MtlItemId}" data-mtlitem-no="${item.MtlItemNo}" data-newmtlitem-no="${item.NewMtlItemNo}"   name="cbxMtlItemId@(itemName)"/>
                                                <span class="control__indicator"></span>
                                            </label>
                                        </td>
                                        <td class="text-center active-content">
                                            <div class="btn-group mb-4 show" style="margin-bottom: 0 !important;">
                                              <button type="button" class=" btn btn-success" onclick="Save@(itemName)(${item.MtlItemId})"><i class="fas fa-save"></i>儲存</button>
                                            </div>
                                          @*<div class="btn-group mb-4 show" style="margin-bottom: 0 !important;">
                                            <button type="button" class=" btn btn-info" onclick="Edit@(itemName)(${item.MtlItemId},'${item.NewMtlItemNo != null ? item.NewMtlItemNo : ``}')"><i class="fas fa-edit"></i>編輯</button>
                                          </div>*@
                                        </td>
                                        <td class="text-center active-content">
                                          <div class="btn-group mb-4 show" style="margin-bottom: 0 !important;">
                                            <input type="text" class="form-control" data-mtl-item-id="${item.MtlItemId}" name="txtNewMtlItemNo" value="${item.NewMtlItemNo != null ? `${item.NewMtlItemNo}` : ``}" />
                                          </div>
                                        </td>
                                        <td class="text-center active-content">
                                          <div class="btn-group mb-4 show" style="margin-bottom: 0 !important;">
                                            <input type="text" class="form-control" data-mtl-item-id="${item.MtlItemId}" name="txtNewMtlItemName" value="${item.NewMtlItemName != null ? `${item.NewMtlItemName}` : ``}" />
                                          </div>
                                        </td>
                                        <td class="text-center active-content">
                                          <div class="btn-group mb-4 show" style="margin-bottom: 0 !important;">
                                            <input type="text" class="form-control" data-mtl-item-id="${item.MtlItemId}" name="txtNewMtlItemSpec" value="${item.NewMtlItemSpec != null ? `${item.NewMtlItemSpec}` : ``}" />
                                          </div>
                                        </td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MtlItemNo}" style="max-width: 175px;">${item.MtlItemNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MtlItemName}" style="max-width: 225px;">${item.MtlItemName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MtlItemSpec}" style="max-width: 150px;">${item.MtlItemSpec}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${Adjustment }" style="max-width: 150px;">${Adjustment}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ReturnMsg}" style="max-width: 150px;">${!!item.ReturnMsg ? item.ReturnMsg:``}</td>
                                        <td style="padding: 0;">
                                          <table class="table table-bordered table-sm mb-0 table-non-rwd table-striped-custom table-row-detail">
                                            <tbody>
                                              ${DetailData@(itemName)(item.InventoryDatas)}
                                            </tbody>
                                          </table>
                                        </td>
                                        <td class="ellipsis" data-toggle="tooltip" title=0 style="min-width: 150px;">${item.UserName != null ? `<i class="fas fa-user"></i>&nbsp;<code>${item.UserNo}</code>&nbsp;${item.UserName}` : ``}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title=0 style="max-width: 75px;">${item.CreateDate != null ? `${item.CreateDate}` : ``}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title=0 style="min-width: 150px;">${item.NewUserName != null ? `<i class="fas fa-user"></i>&nbsp;<code>${item.NewUserNo}</code>&nbsp;${item.NewUserName}` : ``}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title=0 style="max-width: 75px;">${item.NewCreateDate != null ? `${item.NewCreateDate}` : ``}</td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="11" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));
        }

        function DetailData@(itemName)(json) {
            let html = '';

            if (json) {
                for (let x = 0; x < json.length; x++) {
                    html += `<tr>
                               <td style="width: 175px;">${json[x].InventoryNo} ${json[x].InventoryName}</td>
                               <td style="width: 125px;">${json[x].InventoryQty}</td>
                             </tr>`;
                }
            }

            return html;
        }

        function PopAvailable@(itemName)(mtlItemId) {
            $("#modalAvailable@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });

            let innerHtml = `<tr>
                               <th>品號</th>
                               <td>${$(`input[name="txtMtlItemNo@(itemName)"][data-mtl-item-id="${mtlItemId}"]`).val()}</td>
                             </tr>
                             <tr>
                               <th>預計請購</th>
                               <td>${$(`input[name="txtScheduledPurchase@(itemName)"][data-mtl-item-id="${mtlItemId}"]`).val()}</td>
                             </tr>
                             <tr>
                               <th>預計進貨</th>
                               <td>${$(`input[name="txtScheduledIn@(itemName)"][data-mtl-item-id="${mtlItemId}"]`).val()}</td>
                             </tr>
                             <tr>
                               <th>預計生產</th>
                               <td>${$(`input[name="txtScheduledProduce@(itemName)"][data-mtl-item-id="${mtlItemId}"]`).val()}</td>
                             </tr>
                             <tr>
                               <th>暫出數量</th>
                               <td>${$(`input[name="txtShippedQuantity@(itemName)"][data-mtl-item-id="${mtlItemId}"]`).val()}</td>
                             </tr>
                             <tr>
                               <th>可用庫存</th>
                               <td>${$(`input[name="txtAvailableInventory@(itemName)"][data-mtl-item-id="${mtlItemId}"]`).val()}</td>
                             </tr>`;

            $("#tblAvailableData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
        }

        function CloseAvailable@(itemName)() {
            $("#modalAvailable@(itemName)").modal("hide");
        }

        function Save@(itemName)(MtlItemId) {
            let targetUrl = "@Url.Action("UpdateInventoryQueryWithNewMtlItemNo", "Product")";
            let postData = {
                MtlItemId: MtlItemId,
                NewMtlItemNo: $(`input[name='txtNewMtlItemNo'][data-mtl-item-id='${MtlItemId}']`).val(),
                NewMtlItemName: $(`input[name='txtNewMtlItemName'][data-mtl-item-id='${MtlItemId}']`).val(),
                NewMtlItemSpec: $(`input[name='txtNewMtlItemSpec'][data-mtl-item-id='${MtlItemId}']`).val()
            };

            let result = DataAccess.Update(targetUrl, postData, false, true);

            if (result) {
                InitData@(itemName)(objPage@(itemName));
            }
        }

        function Edit1@(itemName)() {
            let x = 1;
            ComboBoxs.Default("#cboUsers@(itemName)", "@Url.Action("GetUser", "BasicInformation")", { "Status": "A" }, "", "CHOOSE-NUMBER", "", "UserWithNo", "UserId");

            if (!isMobile) {
                $("#cboUsers@(itemName)").select2({
                    dropdownAutoWidth: true,
                    width: "100%"
                });
            }

            let popConfig = {
                targetSelector: "#cboUsers@(itemName)",
                popFunction: "PopViewUser",
                objectUserId: "#cboUsers@(itemName)",
                type: "checkbox"
            };
            InitPopView(popConfig);
        }

        function Edit2@(itemName)() {
            let x = 1;
            ComboBoxs.Default("#cboNewUsers@(itemName)", "@Url.Action("GetUser", "BasicInformation")", { "Status": "A" }, "", "CHOOSE-NUMBER", "", "UserWithNo", "UserId");

            if (!isMobile) {
                $("#cboNewUsers@(itemName)").select2({
                    dropdownAutoWidth: true,
                    width: "100%"
                });
            }

            let popConfig = {
                targetSelector: "#cboNewUsers@(itemName)",
                popFunction: "PopViewUser",
                objectUserId: "#cboNewUsers@(itemName)",
                type: "checkbox"
            };
            InitPopView(popConfig);
        }

        function Edit@(itemName)(MtlItemId, NewMtlItemNo) {

            $("#MtlItemId").val(MtlItemId ? MtlItemId : 0);


            //超收管理卡控
            $("#chkOverReceiptManagement@(itemName)Y").attr("disabled", true);
            $("#chkOverReceiptManagement@(itemName)N").attr("disabled", true);

            $("#editData@(itemName) .nav-tabs > .nav-item").first().find("a").trigger("click");

            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");
            let currentDate = new Date();

            ComboBoxs.Default("#cboItemType@(itemName)", "@Url.Action("GetItemTypeSimple", "PdmBasicInformation")", { "Today": getNowFormatDate()}, "", "NA", "", "ItemTypeShow", "ItemTypeId");
            ComboBoxs.Default("#cboInventoryUomId@(itemName)", "@Url.Action("GetUnitOfMeasure", "PdmBasicInformation")", {"Status":"A"}, "", "NA", "", "UomWithNo", "UomId");
            ComboBoxs.Default("#cboPurchaseUomId@(itemName)", "@Url.Action("GetUnitOfMeasure", "PdmBasicInformation")", { "UomNo": "PCS", "Status": "A"}, "", "NA", "", "UomWithNo", "UomId");
            ComboBoxs.Default("#cboSaleUomId@(itemName)", "@Url.Action("GetUnitOfMeasure", "PdmBasicInformation")", { "UomNo": "PCS", "Status": "A"}, "", "NA", "", "UomWithNo", "UomId");
            ComboBoxs.WithText("#cboTypeOne@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "MtlItemType", "Condition": 1 }, "", "NA", "", "TypeName", "TypeNo");
            ComboBoxs.WithText("#cboTypeTwo@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "MtlItemType", "Condition": 2 }, "", "NA", "", "TypeName", "TypeNo");
            ComboBoxs.WithText("#cboTypeThree@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "MtlItemType", "Condition": 3 }, "", "NA", "", "TypeName", "TypeNo");
            ComboBoxs.WithText("#cboTypeFour@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "MtlItemType", "Condition": 4 }, "", "NA", "", "TypeName", "TypeNo");
            ComboBoxs.Default("#cboInventoryId@(itemName)", "@Url.Action("GetInventory", "ScmBasicInformation")", {}, "", "NA", "", "InventoryWithNo", "InventoryId");
            ComboBoxs.Default("#cboRequisitionInventoryId@(itemName)", "@Url.Action("GetInventory", "ScmBasicInformation")", {}, "", "NA", "", "InventoryWithNo", "InventoryId");
            ComboBoxs.WithText("#cboItemAttribute@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "MtlItem.ItemAttribute" }, "", "NA", "", "TypeName", "TypeNo");
            ComboBoxs.WithText("#cboLotManagement@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "MtlItem.LotManagement" }, "N", "NA", "", "TypeName", "TypeNo");
            ComboBoxs.WithText("#cboMeasureType@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "MtlItem.MeasureType" }, "4", "NA", "", "TypeName", "TypeNo");
            //生產線別
            ComboBoxs.WithText("#cboProductionLine@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "ProduceLineNo" }, "", "NA", "", "ProduceLineName", "ProduceLineNo");
            //補貨政策
            ComboBoxs.WithText("#cboReplenishmentPolicy@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "ReplenishmentPolicy" }, "R", "NA", "", "TypeName", "TypeNo");

            let UomText = 'PCS ';
            $("#cboInventoryUomId@(itemName) option, #cboPurchaseUomId@(itemName) option, #cboSaleUomId@(itemName) option").filter(function () {
                return $(this).text() == UomText;
                $(this).trigger("change");
            }).attr('selected', true);

            @*UomText = 'KG 公斤';
            $("#cboWeightUomId@(itemName) option").filter(function () {
                return $(this).text() == UomText;
            }).attr('selected', true);*@

            Suites.DateDropper("#txtEffectiveDate@(itemName), #txtExpirationDate@(itemName)");
            Suites.SetDateDropper("#txtEffectiveDate@(itemName)");
            Suites.SetDateDropper("#txtExpirationDate@(itemName)");
            ComboBoxs.Default("#cboCustomerId@(itemName)", "@Url.Action("GetCustomer", "ScmBasicInformation")", {}, "", "CHOOSE-NUMBER", "請選擇", "CustomerWithNo", "CustomerId");

            $("#txtMtlItemNo@(itemName)").attr("readonly", false)
            if (NewMtlItemNo.length > 0) {
                //$("#txtMtlItemNo@(itemName)").attr("readonly", true)
                $("#txtMtlItemNo@(itemName)").val(NewMtlItemNo)
            }

            GetActionSituationSimple(NewMtlItemNo)

            let targetUrl = "@Url.Action("GetNewMtlItemDetail", "Product")";
            let postData = {
                MtlItemId: MtlItemId,
                NewMtlItemNo: NewMtlItemNo
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                $.each(data.result, function (i, item) {
                    $("#MtlItemTransferStatus").val(item.TransferStatus);

                    //$("#txtMtlItemNo@(itemName)").val(item.MtlItemNo);
                    $("#txtMtlItemName@(itemName)").val(item.MtlItemName);
                    $("#txtMtlItemSpec@(itemName)").val(item.MtlItemSpec);
                    $("#cboInventoryUomId@(itemName)").val(item.InventoryUomId);
                    $("#cboPurchaseUomId@(itemName)").val(item.PurchaseUomId);
                    $("#cboSaleUomId@(itemName)").val(item.SaleUomId);
                    $("#InventoryUomId").val(item.InventoryUomId);

                    $("#cboTypeOne@(itemName)").val(item.TypeOne);
                    $("#cboTypeTwo@(itemName)").val(item.TypeTwo);
                    $("#cboTypeThree@(itemName)").val(item.TypeThree);
                    $("#cboTypeFour@(itemName)").val(item.TypeFour);
                    $("#cboInventoryId@(itemName)").val(item.InventoryId);
                    $("#cboRequisitionInventoryId@(itemName)").val(item.RequisitionInventoryId);
                    $("#cboReplenishmentPolicy@(itemName)").val(item.ReplenishmentPolicy);
                    if (item.InventoryManagement == "Y") $("#chkInventoryManagement@(itemName)Y").prop("checked", true);
                    if (item.InventoryManagement == "N") $("#chkInventoryManagement@(itemName)N").prop("checked", true);
                    if (item.MtlModify == "Y") $("#chkMtlModify@(itemName)Y").prop("checked", true);
                    if (item.MtlModify == "N") $("#chkMtlModify@(itemName)N").prop("checked", true);
                    if (item.BondedStore == "Y") $("#chkBondedStore@(itemName)Y").prop("checked", true);
                    if (item.BondedStore == "N") $("#chkBondedStore@(itemName)N").prop("checked", true);
                    $("#cboItemAttribute@(itemName)").val(item.ItemAttribute);
                    $("#cboLotManagement@(itemName)").val(item.LotManagement);
                    if (item.LotManagement != "N") {
                        $(".LotSetting").show()
                        $("#txtEfficientDays@(itemName)").val(item.EfficientDays)
                        $("#txtRetestDays@(itemName)").val(item.RetestDays)
                    }
                    else {
                        $(".LotSetting").hide()
                    }
                    $("#cboMeasureType@(itemName)").val(item.MeasureType);
                    if (item.OverReceiptManagement == "Y") $("#chkOverReceiptManagement@(itemName)Y").prop("checked", true);
                    if (item.OverReceiptManagement == "N") $("#chkOverReceiptManagement@(itemName)N").prop("checked", true);
                    if (item.OverDeliveryManagement == "Y") $("#chkOverDeliveryManagement@(itemName)Y").prop("checked", true);
                    if (item.OverDeliveryManagement == "N") $("#chkOverDeliveryManagement@(itemName)N").prop("checked", true);
                    if (item.EffectiveDate) {
                        Suites.SetDateDropper("#txtEffectiveDate@(itemName)", new Date(item.EffectiveDate));
                    }
                    if (item.ExpirationDate) {
                        Suites.SetDateDropper("#txtExpirationDate@(itemName)", new Date(item.ExpirationDate));
                    }
                    $("#txtMtlItemDesc@(itemName)").val(item.MtlItemDesc);
                    $("#txtMtlItemRemark@(itemName)").val(item.MtlItemRemark);
                    $("#MtlItemUomCalculateQty").val(item.MtlItemUomCalculateQty);
                    //ComboBoxs.Default("#cboPurchaseUomId@(itemName)", "@Url.Action("GetMtlItemUomCalculateSimple", "Product")", { MtlItemId: $("#MtlItemId").val() }, item.PurchaseUomId, "NA", "", "ConvertUomNo", "ConvertUomId");
                    //ComboBoxs.Default("#cboSaleUomId@(itemName)", "@Url.Action("GetMtlItemUomCalculateSimple", "Product")", { MtlItemId: $("#MtlItemId").val() }, item.SaleUomId, "NA", "", "ConvertUomNo", "ConvertUomId");
                    $("#cboProductionLine@(itemName)").val(item.ProductionLine);

                });

                if ($(".advanced-block .flag-tabs > .flag-item > .flag-link").first().hasClass("active")) {
                    InitParameter@(itemName)($(".advanced-block .flag-tabs > .flag-item").first().find("a"));
                } else {
                    $(".advanced-block .flag-tabs > .flag-item").first().find("a").trigger("click");
                }

            } else {
                alert(data.msg, "alert", 0);
            }

            $("#cboInventoryId@(itemName)").off('change').on('change', function () {
                $("#cboRequisitionInventoryId@(itemName)").val($(this).val()).trigger("change");
            });

            if (!isMobile) {
                $(`#cboItemType@(itemName), #cboInventoryUomId@(itemName), #cboPurchaseUomId@(itemName), #cboSaleUomId@(itemName)
                    , #cboTypeOne@(itemName), #cboTypeTwo@(itemName), #cboTypeThree@(itemName), #cboTypeFour@(itemName), #cboInventoryId@(itemName)
                    , #cboRequisitionInventoryId@(itemName), #cboItemAttribute@(itemName), #cboLotManagement@(itemName), #cboMeasureType@(itemName)
                    , #cboCustomerId@(itemName) ,#cboProductionLine@(itemName),#cboReplenishmentPolicy@(itemName)`).select2({
                        dropdownAutoWidth: true,
                        width: "100%"
                    });
            }
        }

        function getNowFormatDate() {
            var date = new Date();
            var seperator1 = "-";
            var year = date.getFullYear();
            var month = date.getMonth() + 1;
            var strDate = date.getDate();
            if (month >= 1 && month <= 9) {
                month = "0" + month;
            }
            if (strDate >= 0 && strDate <= 9) {
                strDate = "0" + strDate;
            }
            var currentdate = year + seperator1 + month + seperator1 + strDate;
            return currentdate;
        }

        function Update@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let targetUrl = "@Url.Action("UpdateNewMtlItem", "Product")";
                let postData = {
                    "MtlItemId": $("#MtlItemId").val(),
                    "MtlItemNo": $("#txtMtlItemNo@(itemName)").val(),
                    "MtlItemName": $("#txtMtlItemName@(itemName)").val(),
                    "MtlItemSpec": $("#txtMtlItemSpec@(itemName)").val(),
                    "InventoryUomId": $("#cboInventoryUomId@(itemName)").val(),
                    "PurchaseUomId": $("#cboPurchaseUomId@(itemName)").val(),
                    "SaleUomId": $("#cboSaleUomId@(itemName)").val(),
                    "TypeOne": $("#cboTypeOne@(itemName)").val(),
                    "TypeTwo": $("#cboTypeTwo@(itemName)").val(),
                    "TypeThree": $("#cboTypeThree@(itemName)").val(),
                    "TypeFour": $("#cboTypeFour@(itemName)").val(),
                    "InventoryId": $("#cboInventoryId@(itemName)").val(),
                    "RequisitionInventoryId": $("#cboRequisitionInventoryId@(itemName)").val(),
                    "InventoryManagement": $("input[name='chkInventoryManagement@(itemName)']:checked").val(),
                    "MtlModify": $("input[name='chkMtlModify@(itemName)']:checked").val(),
                    "BondedStore": $("input[name='chkBondedStore@(itemName)']:checked").val(),
                    "ItemAttribute": $("#cboItemAttribute@(itemName)").val(),
                    "LotManagement": $("#cboLotManagement@(itemName)").val(),
                    "MeasureType": $("#cboMeasureType@(itemName)").val(),
                    "OverReceiptManagement": $("input[name='chkOverReceiptManagement@(itemName)']:checked").val(),
                    "OverDeliveryManagement": $("input[name='chkOverDeliveryManagement@(itemName)']:checked").val(),
                    "EffectiveDate": $("#txtEffectiveDate@(itemName)").val(),
                    "ExpirationDate": $("#txtExpirationDate@(itemName)").val(),
                    "MtlItemDesc": $("#txtMtlItemDesc@(itemName)").val(),
                    "MtlItemRemark": $("#txtMtlItemRemark@(itemName)").val(),
                    "EfficientDays": $("#txtEfficientDays@(itemName)").val(),
                    "RetestDays": $("#txtRetestDays@(itemName)").val(),
                    "ProductionLine": $("#cboProductionLine@(itemName)").val(),
                    "ReplenishmentPolicy": $("#cboReplenishmentPolicy@(itemName)").val()
                };

                let data = DataAccess.EditContinued(targetUrl, postData, false);
                if (data) {
                    alert("更新成功","success",1000)
                }
            }
        }


        function GetActionSituationSimple(MtlItemNo) {
            let targetUrl = "@Url.Action("GetActionSituationSimple", "Product")";
            let postData = {
                MtlItemNo: MtlItemNo
            };
            let data = DataAccess.Get(targetUrl, postData, false);
            if (data.status == "success") {
                if (data.result > 0) {
                    let ActionSituation = data.result.toString()
                    let ActionSituationMsg
                    switch (ActionSituation) {
                        case "1":
                            ActionSituationMsg = "新增品號+基本資料流程";
                            $(".MtlItemHead").attr("disabled", false)
                            $(".MtlItemDetail").attr("disabled", false)
                            break;
                        case "2":
                            ActionSituationMsg = "新品號已存在且編輯者【同人】<br>基本資料尚未新增";
                            $(".MtlItemHead").attr("disabled", false)
                            $(".MtlItemDetail").attr("disabled", false)
                            break;
                        case "3":
                            ActionSituationMsg = "新品號已存在且編輯者【不同人】<br>基本資料尚未新增";
                            $(".MtlItemHead").attr("disabled", true)
                            $(".MtlItemDetail").attr("disabled", false)
                            break;
                        case "4":
                            ActionSituationMsg = "新品號已存在且編輯者【同人】<br>基本資料已存在且編輯者【同人】";
                            $(".MtlItemHead").attr("disabled", false)
                            $(".MtlItemDetail").attr("disabled", false)
                            break;
                        case "5":
                            ActionSituationMsg = "新品號已存在且編輯者【同人】<br>基本資料已存在且編輯者【不同人】";
                            $(".MtlItemHead").attr("disabled", false)
                            $(".MtlItemDetail").attr("disabled", true)
                            break;
                        case "6":
                            ActionSituationMsg = "新品號已存在且編輯者【不同人】<br>基本資料已存在且編輯者【同人】";
                            $(".MtlItemHead").attr("disabled", true)
                            $(".MtlItemDetail").attr("disabled", false)
                            break;
                        case "7":
                            ActionSituationMsg = "新品號已存在且編輯者【不同人】<br>基本資料已存在且編輯者【不同人】";
                            $(".MtlItemHead").attr("disabled", true)
                            $(".MtlItemDetail").attr("disabled", true)
                            break;
                    }
                    alert(ActionSituationMsg, "success", 5000)
                }
            }
        }

        function UpdateNewMtlItemToErp@(itemName)(Type) {

            alert("開發中！");
            return
            let MtlItemList = []
            let targetUrl = "@Url.Action("UpdateInventoryTransactionToErp", "Product")";
            let postData = {}
            switch (Type) {
                case "List":
                    let keyCount = Object.keys(TemporaryList).length;
                    if (keyCount <= 0) {
                        alert("暫存列表目前為空！");
                        return
                    }
                    let errMsg = ""
                    for (key in TemporaryList) {
                        MtlItemList.push(TemporaryList[key].Id)
                    }
                    postData = {
                        MtlItemList: MtlItemList.join(",")
                    };
                    break;
                case "All":
                    break;
            }
            let data = DataAccess.Get(targetUrl, postData, false);
            if (data.status == "success") {
                alert("調整成功", "success", 1000)
            }
            else {
                alert(data.msg, "alert", 0);
            }

            //FileAccess.AjaxDownload(targetUrl, postData, false);
            

           
        }

        //列表暫存
        let TemporaryList = {}

        function SaveTemporaryList@(itemName)() {
            let errMsg = ""
            $.each($("input[name='cbxMtlItemId@(itemName)']"), function () {
                if ($(this).is(":checked")) {
                    let MtlItemId = $(this).val()
                    let MtlItemNo = $(this).data("mtlitem-no");
                    let NewMtlItemNo = $(this).data("newmtlitem-no");
                    if (!!!NewMtlItemNo) {
                        errMsg += `選取的品號(${MtlItemNo})尚未維護新品號<br>`
                        return
                    }
                    combination = MtlItemNo + "&" + NewMtlItemNo
                    if (!(MtlItemNo in TemporaryList)) {
                        TemporaryList[MtlItemNo] = {}
                        TemporaryList[MtlItemNo].Id = MtlItemId
                        TemporaryList[MtlItemNo].combination = combination
                        AddOption(cboTemporaryList@(itemName), combination)
                    }
                }
            })
            if (!!errMsg) {
                alert(errMsg)
                ClearList@(itemName)()
                return
            }
            $(".Temporary").show()
        }

        function AddOption(list, text) {
            var index = list.options.length;
            list.options[index] = new Option(text);
            list.selectedIndex = index;
        }
        function ClearList@(itemName)() {
            $("#cboTemporaryList@(itemName)").empty();
            TemporaryList = {};
        }
        function DeleteOption@(itemName)(list) {
            var index = list.selectedIndex;
            var value = list[index].value;
            if (index >= 0) {
                delete TemporaryList[`${value}`];
                list.options[index] = null;
            }
            else {
                alert("無反白選項！");
            }
        }

        function CloseTemporaryList@(itemName)() {
            $(".Temporary").hide()
            $('#cbxMtlItemIdAll@(itemName)').prop('checked', false);
            $.each($("input[name='cbxMtlItemId@(itemName)']"), function () {
                if ($(this).is(":checked")) {
                    $(this).prop('checked', false);
                }
            })
            ClearList@(itemName)()
        }

        function Return@(itemName)() {
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName)", "#editData@(itemName), .unit-block, .advanced-block");
            //InitData@(itemName)(objPage@(itemName));
        }

</script>
)