@using Business_Manager.Helpers
@{
    string itemName = "DiningCar";
    string itemNameText = "點餐系統";

    ViewBag.Title = itemNameText;
}

<div class="body-mob">
    <header>
        <div class="header-content">
            <div class="header-title">
                <div class="page-title">
                    <a class="link" href="@Url.Action("Index", "FoodOrdering")">
                        <i class="fas fa-long-arrow-left"></i>
                    </a>我的餐車

                </div>
                <!--餐點日期-->
                <div class="display-date">
                    <i class="far fa-calendar-star"></i>
                    <span id="desDate@(itemName)"></span>
                </div>
                <a href="/EBP/FoodOrdering/NumerousMenu" style="color:#ed836b;opacity:0;">
                    <i class="fas fa-users"></i>
                    <span>批量點餐</span>
                </a>
            </div>
        </div>
    </header>

    <main class="cart-list" style="height: calc(100vh - 105px);">
        <div class="dining-menu">
            <ul class="dining-content" id="cartContent"></ul>
            <div class="amount-content">
                <div class="detail">
                    <p>
                        <span>餐點合計</span>
                        <span class="price" id="desTotalPrice@(itemName)">$</span>
                    </p>
                    <p>
                        @*<span>提早訂餐補助</span>*@
                        @*<span class="price red" id="desDiscount@(itemName)">-$ 10</span>*@
                        <span class="price red" style="line-height: 1.2;">當日首筆訂單享有優惠折扣，實際金額以公告內容為主</span>
                    </p>
                </div>
                <div class="total">
                    <p>
                        <span>總計</span>
                        <span class="price" id="desAmount@(itemName)">$</span>
                    </p>
                </div>
            </div>
        </div>
    </main>    

    <!--餐車是空的顯示方式-->
    <main class="cart-empty" style="height: calc(100vh - 121px);">
        <div style="padding:50px 0;">
            <div class="icon-check" style="overflow: hidden; margin: 0 auto;position: relative;">
                @*<i class="far fa-transporter-empty"></i>*@
                <img src="~/Areas/EBP/Content/images/food-ordering/empty-icon.png" alt="Alternate Text" />
            </div>
            <p class="modal-text" style="font-size:22px;">您的餐車是空的！</p>
        </div>
    </main>

    <!--彈窗：送出餐點-->
    <div class="modal fade" id="meal-finish" tabindex="-1" role="dialog" aria-labelledby="add-object-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalCenterTitle" style="font-weight:700;text-align:center">完成</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="display:none;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="icon-check">
                        <i class="far fa-check-circle"></i>
                    </div>
                    <p class="modal-text">您的餐點已送出！</p>
                </div>
                <div class="modal-footer">
                    <div class="btn-block">
                        <a href="@Url.Action("Index", "FoodOrdering")" class="link">回到首頁</a>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--彈窗：取消品項-->
    <div class="modal fade" id="cancel-item" tabindex="-1" role="dialog" aria-labelledby="add-object-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalCenterTitle" style="font-weight:700;text-align:center"></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="display:none;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="icon-check">
                        <i class="far fa-exclamation-circle"></i>
                    </div>
                    <p class="modal-text">您確定要刪除嗎？</p>
                </div>
                <div class="modal-footer">
                    <div class="btn-block">
                        <a data-dismiss="modal" aria-label="Close" class="link">關閉</a>
                        <a class="link" href="javascript: DeleteConirm();">確定</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="nav cart-list">
    <div class="nav-content" style="flex:1;">
        <div class="col-10">
            <a class="btn-right" href="javascript: Save();">送出餐點</a>
        </div>
    </div>
</footer>

<footer class="nav cart-empty">
    <div class="nav-content">
        <ul class="nav-menu" style="">
            <li>
                <a href="@Url.Action("/", "FoodOrdering")" class="nav-link ">
                    <i class="far fa-home-lg"></i>
                    <span>首頁</span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("DiningCar", "FoodOrdering")" class="nav-link active">
                    <i class="fas fa-utensils-alt"></i>
                    <span>我的餐車</span>
                    <span class="number-display" style="display: none;"></span>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Account", "FoodOrdering")" class="nav-link">
                    <i class="fas fa-user-circle"></i>
                    <span>帳號</span>
                </a>
            </li>
        </ul>
    </div>
</footer>

@Html.Resource("js",
    @<script>
        let cartJson;

        $(document).ready(function () {

            Init();
        });

        function Init() {
            $(".cart-list").hide();
            $(".cart-empty").hide();

            if (sessionStorage.getItem("mealCart")) {
                cartJson = JSON.parse(sessionStorage.getItem("mealCart"));

                if (cartJson.mealInfo.length <= 0) {
                    //購物車不存在餐點資料
                    $(".cart-empty").show();
                } else {
                    //判斷餐車筆數
                    $(".number-display").show();
                    $(".number-display").html(cartJson.mealInfo.length);
                    $(".cart-list").show();

                    WeekDay(cartJson.mealDate, "#desDate@(itemName)");

                    LoadCart(cartJson);
                }
            } else {
                //sessionStorage不存在購物車資料
                $(".cart-empty").show();
            }
        }

        function LoadCart(json) {
            let html = '';

            for (var i = 0; i < json.mealInfo.length; i++) {
                html += `<li class="item">
                            <div class="item-img">
                                <img src="@Url.Content("~/Areas/EBP/Content/images/food-ordering/meal-01.png")" />
                            </div>
                            <div class="detail-block">
                                <div class="item-block">
                                    <div class="text-block" style="width:80%;">
                                        <p class="name">${json.mealInfo[i].mealName}</p>
                                        <p class="content">${MealDetail(json.mealInfo[i].categoryInfo)}</p>
                                        <p class="content">${json.mealInfo[i].remark ? json.mealInfo[i].remark : ``}</p>
                                        <p class="content">${TypeName(`UmoDetail.Pickup`, json.mealInfo[i].pickup)}</p>
                                    </div>
                                    <a href="javascript: DeleteCart(${i});">
                                        <i class="far fa-times" style="color:#a8a8a8; font-size:22px;"></i>
                                    </a>
                                </div>

                                <div class="count-block">
                                    <span class="price">$ ${Caculate(json.mealInfo[i].price, json.mealInfo[i].categoryInfo)}</span>
                                    <div class="qty btn-operate">
                                        <span class="${json.mealInfo[i].qty > 1 ? `color-orange` : `color-grey`}" data-meal-minus="${i}">
                                            <i class="fas fa-minus-circle"></i>
                                        </span>
                                        <input type="number" class="count" data-meal-qty="${i}" readonly value="${json.mealInfo[i].qty}" />
                                        <span class="color-orange" data-meal-plus="${i}">
                                            <i class="fas fa-plus-circle"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </li>`;
            }

            $("#cartContent").html(html);
            MealPrice();

            //判斷餐點減號(-)
            $("[data-meal-minus]").off("click").on("click", function () {
                let i = $(this).data("meal-minus");

                let qty = parseInt($(`input[data-meal-qty="${i}"]`).val()) - 1;
                if (qty <= 1) {
                    qty = 1;
                    $(`[data-meal-minus="${i}"]`).removeClass("color-orange").addClass("color-grey");
                } else {
                    $(`[data-meal-minus="${i}"]`).removeClass("color-grey").addClass("color-orange");
                }

                $(`input[data-meal-qty="${i}"]`).val(qty);
                cartJson.mealInfo[i].qty = qty;
                sessionStorage.setItem("mealCart", JSON.stringify(cartJson))

                MealPrice();
            });

            //判斷餐點加號(+)
            $("[data-meal-plus]").off("click").on("click", function () {
                let i = $(this).data("meal-plus");

                let qty = parseInt($(`input[data-meal-qty="${i}"]`).val()) + 1;

                $(`[data-meal-minus="${i}"]`).removeClass("color-grey").addClass("color-orange");

                $(`input[data-meal-qty="${i}"]`).val(qty);
                cartJson.mealInfo[i].qty = qty;
                sessionStorage.setItem("mealCart", JSON.stringify(cartJson));

                MealPrice();
            });

            //計算餐點加購金額
            function Caculate(price, category) {
                let totalPrice = parseInt(price);

                for (var i = 0; i < category.length; i++) {
                    for (var j = 0; j < category[i].mcDetailInfo.length; j++) {
                        totalPrice += parseInt(category[i].mcDetailInfo[j].mcDetailPrice);
                    }
                }

                return totalPrice;
            }
        }

        //判斷客製化選項名稱
        function MealDetail(category) {
            let html = ``;

            for (var i = 0; i < category.length; i++) {
                for (var j = 0; j < category[i].mcDetailInfo.length; j++) {
                    html += category[i].mcDetailInfo[j].mcDetailName;

                    if (j < category[i].mcDetailInfo.length - 1) {
                        html += `、`;
                    }
                }

                if (i < category.length - 1) {
                    html += `、`;
                }
            }

            return html;
        }

        //計算餐點金額及數量
        function MealPrice() {
            let totalPrice = 0;

            for (var i = 0; i < cartJson.mealInfo.length; i++) {
                totalPrice += cartJson.mealInfo[i].price * cartJson.mealInfo[i].qty;

                for (var j = 0; j < cartJson.mealInfo[i].categoryInfo.length; j++) {

                    for (var k = 0; k < cartJson.mealInfo[i].categoryInfo[j].mcDetailInfo.length; k++) {
                        totalPrice += cartJson.mealInfo[i].categoryInfo[j].mcDetailInfo[k].mcDetailPrice * cartJson.mealInfo[i].qty;
                    }
                }
            }

            $("#desTotalPrice@(itemName)").html(`$ ${totalPrice}`); //餐點合計
            //$("#desDiscount@(itemName)").html(discount); //提早訂餐補助
            $("#desAmount@(itemName)").html(`$ ${totalPrice}`); //總計
        }

        //delete觸發彈跳視窗
        let deleteIndex = -1;
        function DeleteCart(index) {
            $("#cancel-item").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });

            deleteIndex = index;
        }

        //點選(x)刪除購物車中之餐點
        function DeleteConirm() {
            cartJson.mealInfo.splice(deleteIndex, 1);

            if (cartJson.mealInfo.length > 0) {
                sessionStorage.setItem("mealCart", JSON.stringify(cartJson));
            } else {
                sessionStorage.removeItem("mealCart");
            }

            $("#cancel-item").modal('hide');

            Init();
        }

        function Save() {
            let userId = -1;
            let isError = false;
            let errotMsg = "";
            let orderConfirm = false;

            let targetUrl = "@Url.Action("GetUserOrderHistory", "FoodOrdering")";
            let postData = {
                "UserNo": cartJson.userNo,
                "UmoDate": new Date(cartJson.mealDate).Format("yyyy-MM-dd")
            };
            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                if (data.result.length > 0) {
                    orderConfirm = true;
                }
            } else {
                isError = true;
                errotMsg = data.msg;
            }

            if (orderConfirm) {
                swal.fire({
                    titleText: "注意！重複訂購！",
                    text: `${cartJson.mealDate} 已有訂購餐點，您還要訂購嗎？`,
                    icon: "warning",
                    allowOutsideClick: false,
                    allowEscapeKey: false,
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        OrderMeal();
                    }
                });
            } else {
                OrderMeal();
            }

            if (isError) {
                swal.fire({
                    title: errotMsg,
                    icon: "error",
                    allowOutsideClick: false,
                    allowEscapeKey: false
                });
            }

            function OrderMeal() {
                let targetUrl = "@Url.Action("AddMealCart", "FoodOrdering")";
                let postData = {
                    "MealCart": JSON.stringify(cartJson)
                };
                let result = DataAccess.Get(targetUrl, postData, false);

                if (result.status == "success") {
                    sessionStorage.removeItem("mealCart"); //送出餐點後，清空sessionStorage

                    //觸發彈跳視窗
                    $("#meal-finish").modal({
                        backdrop: "static",
                        keyboard: false,
                        show: true
                    });
                } else {
                    swal.fire({
                        title: result.msg,
                        icon: "error",
                        allowOutsideClick: false,
                        allowEscapeKey: false
                    });
                }
            }
        }

        function GetUserInfo@(itemName)() {
            let targetUrl = "@Url.Action("GetLoginByKey", "User")";
            let postData = {
                "UserNo": $.cookie("Login"),
                "KeyText": $.cookie("LoginKey")
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                userId@(itemName) = data.returnData.UserId;
                companyId@(itemName) = data.returnData.CompanyId;
            } else {
                alert(data.msg, "alert", 0);
            }
        }
    </script>
)