@using Business_Manager.Helpers
@{
    string itemName = "NumerousMenu";
    string itemNameText = "批量點餐系統";
    string MealId = Request["MealId"] ?? "";

    ViewBag.Title = itemNameText;
}

<div class="body-web">
    <header>
        <div class="header-content" style="max-width:850px;">
            <div class="header-title">
                <div class="page-title">批量點餐</div>
                <!--日期選擇-->
                <div class="select-date" style="display:none">
                    <select class="form-control" id="cboDate@(itemName)" name="cboDate@(itemName)"
                            data-msg-required="請選擇日期" data-rule-required="true"></select>
                </div>
                <a href="@Url.Action("Index", "FoodOrdering")" style="color:#ed836b;">
                    <i class="far fa-home-lg"></i>
                    <span>回首頁</span>
                </a>
            </div>
        </div>
    </header>
    <div class="numerous-content">
        <!--時間未開放訂購-->
        <main class="time-close" style="height: calc(100vh - 105px);">
            <div style="padding:50px 0;">
                <div class="icon-check" style="overflow: hidden; margin: 0 auto;position: relative;">
                    @*<i class="far fa-transporter-empty"></i>*@
                    <img src="~/Areas/EBP/Content/images/food-ordering/time-icon.png" alt="Alternate Text" />
                </div>
                <p class="modal-text" style="font-size:22px;">目前時間不開放訂購，請於非上班時間點餐，<br>開放時段為<font color="Salmon">每日 17:10 至翌日 09:00 </font>!</p>
            </div>
        </main>
        <!--選擇餐點日期提示-->
        <main class="date-choose" style="height: calc(100vh - 105px);display:none;">
            <div style="padding:50px 0;">
                <div class="icon-check" style="overflow: hidden; margin: 0 auto;position: relative;">
                    @*<i class="far fa-transporter-empty"></i>*@
                    <img src="~/Areas/EBP/Content/images/food-ordering/date-icon.png" alt="Alternate Text" />
                </div>
                <p class="modal-text" style="font-size:22px;">尚未選擇餐點日期</p>
            </div>
        </main>
        <div class="flex-box" id="NumerousMenu@(itemName)">
            @*<div class="flex-box-block">
                    <div class="item-page">
                        <div class="order-item-img" style="">
                            <img src="~/Areas/EBP/Content/images/food-ordering/food01.jpg" alt="Alternate Text" />
                        </div>
                        <div class="order-item-content">
                            <div class="text-block">
                                <p>A餐 便當 Boxed meal</p>
                                <p class="price-color">$60</p>
                            </div>
                        </div>
                    </div>
                    <div class="menu-pick-block">
                        <div class="pick-block" style="">
                            <div class="pick-title">
                                <span>備註</span>
                            </div>
                            <textarea style="margin-top:10px" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                        </div>
                        <div class="pick-block">
                            <div class="nav-content">
                                <div class="count-block" style="flex: 1;text-align: center;">
                                    <div class="qty btn-operate">
                                        <span class="color-grey"><i class="fas fa-minus-circle"></i></span>
                                        <input type="number" class="count" name="qty" value="1">
                                        <span class="color-orange"> <i class="fas fa-plus-circle"></i></span>
                                    </div>
                                </div>
                                <div style="flex: 2; padding: 0 10px;">
                                    <a class="btn-right" href="javascript:void(0);" onclick="AddCart()">加入餐車</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
        </div>
    </div>
</div>


<footer class="nav">
    <div class="nav-content" style="flex:1;">
        <div class="col-12">
            <a href="/EBP/FoodOrdering/NumerousOrder" class="btn-right" style="background:#ed836b">
                <i class="fas fa-shopping-cart" style="margin-right:5px"></i>結算餐點
                <span id="totalQty@(itemName)"></span>
            </a>
        </div>
    </div>
</footer>
<!--彈窗-->
<div class="modal fade" id="checkout" tabindex="-1" role="dialog" aria-labelledby="add-object-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalCenterTitle" style="font-weight:700;text-align:center">
                    結算餐點
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="display:none;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="dining-menu">
                    <ul class="dining-content">


                        <li class="item">

                            <div class="detail-block">
                                <div class="item-block">
                                    <div class="text-block" style="width:80%;">
                                        <p class="name">B餐 特餐 Meal</p>
                                        <p class="content">黑胡椒、正常、加蛋</p>
                                    </div>
                                    <a href="#">
                                        <i data-toggle="modal" data-target="#cancel-item" class="far fa-times" style="color:#a8a8a8;font-size:22px;"></i>
                                    </a>
                                </div>

                                <div class="count-block">
                                    <span class="price">$ 70</span>
                                    <div class="qty btn-operate">
                                        <span class="color-grey">
                                            <i class="fas fa-minus-circle minus01"></i>
                                        </span>
                                        <input type="number" class="count order01" name="qty" value="1">
                                        <span class="color-orange">
                                            <i class="fas fa-plus-circle plus01"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="item">

                            <div class="detail-block">
                                <div class="item-block">
                                    <div class="text-block" style="width:80%;">
                                        <p class="name">C餐 素食 Vegetarian food</p>
                                        @*<p class="content">黑胡椒、正常、加蛋</p>*@
                                    </div>
                                    <a href="#">
                                        <i data-toggle="modal" data-target="#cancel-item" class="far fa-times" style="color:#a8a8a8;font-size:22px;"></i>
                                    </a>
                                </div>
                                <div class="count-block">
                                    <span class="price">$ 60</span>
                                    <div class=" qty btn-operate">
                                        <span class="color-grey">
                                            <i class="fas fa-minus-circle minus01"></i>
                                        </span>
                                        <input type="number" class="count order02" name="qty" value="1">
                                        <span class="color-orange">
                                            <i class="fas fa-plus-circle plus02"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="amount-content">
                        <div class="detail">
                            <p>
                                <span>餐點合計</span>
                                <span class="price">$ 160</span>
                            </p>
                            <p>
                                <span>提早訂餐補助</span>
                                <span class="price red">-$ 20</span>
                            </p>
                        </div>
                        <div class="total">
                            <p>
                                <span>總計</span>
                                <span class="price">$ 140</span>
                            </p>
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <div class="btn-block">
                    <a data-dismiss="modal" aria-label="Close" class="link">關閉</a>
                    <a href="/EBP/FoodOrdering/OrderHistory" aria-label="Close" class="link">確定</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!--彈窗：加入購物車成功-->
<div class="modal fade" id="success-item" tabindex="-1" role="dialog" aria-labelledby="add-object-title" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalCenterTitle" style="font-weight:700;text-align:center"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="display:none;">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="icon-check">
                    <i class="far fa-exclamation-circle"></i>
                </div>
                <p class="modal-text">加入購物車成功</p>
            </div>
            <div class="modal-footer">
                <div class="btn-block">
                    <a data-dismiss="modal" aria-label="Close" class="link">確定</a>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>

        let Datas@(itemName) = new DataControl@(itemName)();

        $(document).ready(function () {
            ComboBoxs.Default("#cboDate@(itemName)", "@Url.Action("GetMealDate", "FoodOrdering")", {}, "", "NA", "", "Weekday", "CalendarDate");

            MealQty();

            //Datas@(itemName).GetMcDetail@(itemName)();

            //判斷時間卡控日期下拉選單
            var currentTime = new Date().toLocaleTimeString('en-GB'); //時間格式轉型24制 ex:'15:43:21'
            var startTime = "17:10:00";
            var endTime = "09:00:00";

            const startDate = new Date("2023-01-01" + startTime);
            const endDate = new Date("2023-01-01" + endTime);

            //可訂餐時間
            if (currentTime >= startTime || currentTime < endTime) {
                $(".select-date").show();
                $(".menu-choose").hide();
                $(".time-close").hide();
                $(".date-choose").show();
            } else {
                $(".select-date").hide();
                $(".menu-choose").hide();
                $(".time-close").show();
                $(".date-choose").hide();
            }

            $("#cboDate@(itemName)").change(function () {
                $(".menu-choose").show();
                $(".date-choose").hide();
                InitData@(itemName)();
            });
        });

        function InitData@(itemName)() {
            Datas@(itemName).GetMcDetail@(itemName)();
        }

        function DataControl@(itemName)() {
            addMethod(this, "GetMcDetail@(itemName)", function () {
                let innerHtml = '';

                let targetUrl = "@Url.Action("GetMcDetail", "FoodOrdering")";
                let postData = {
                    "MealDate": $("#cboDate@(itemName)").val()
                };
                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {

                    if (data.result.length > 0) {
                        $.each(data.result, function (i, item) {
                            innerHtml += `<div class="flex-box-block">
                                                <div class="item-page">
                                                    <div class="order-item-img" style="">
                                                      <img src="${item.MealImage == -1 ? `@Url.Content("~/Areas/EBP/Content/images/food-ordering/meal-01.png")` : `/Web/GetFile?fileId=${item.MealImage}`}" />
                                                    </div>
                                                    <div class="order-item-content">
                                                        <div class="text-block">
                                                            <input type="hidden" data-meal-id="${item.MealId}" name="txtMealName" value="${item.MealName}" />
                                                            <input type="hidden" data-meal-id="${item.MealId}" name="txtMealImage" value="${item.MealImage}" />
                                                            <input type="hidden" data-meal-id="${item.MealId}" name="txtMealPrice" value="${item.MealPrice}" />
                                                            <p>${item.RestaurantName} ${item.MealName}</p>
                                                            <p class="price-color">$${item.MealPrice}</p>
                                                        </div>
                                                        <!--點餐時間附註版-->
                                                        <div class="time-block" >
                                                          <p>點餐時間
                                                            <i class="far fa-clock" style="padding:0 5px"></i>
                                                              ${item.StartTime} - ${item.EndTime}
                                                          </p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="menu-pick-block">
                                                  <div class="pick-block">
                                                    <div class="pick-title">
                                                      <span>選擇人員</span>
                                                    </div>
                                                    <div class="pick-box">
                                                      <div class="form-group row" style="">
                                                        <div class="col-12 " style="margin-right: auto;margin-left: auto;">
                                                          <select class="form-control" data-meal-id="${item.MealId}" name="cboUser" multiple></select>
                                                        </div>
                                                      </div>
                                                    </div>
                                                    <div class="pick-title">
                                                      <span>取餐區</span>
                                                    </div>
                                                    <div class="pick-box">
                                                      <div class="form-group row" style="">
                                                        <div class="col-12 " style="padding-bottom: 10px;">
                                                          <select class="form-control" data-meal-id="${item.MealId}" name="cboPickupType"></select>
                                                        </div>
                                                      </div>
                                                    </div>
                                                  </div>`;
                            innerHtml += CategoryData@(itemName)(item.MealId, item.MealCategory);
                            innerHtml += `        <input type="hidden" data-meal-id="${item.MealId}" name="txtUmrRemark" />
                                                    @*<div class="pick-block">
                                                      <div class="pick-title">
                                                        <span>備註</span>
                                                      </div>
                                                      <textarea style="margin-top:10px" class="form-control" data-meal-id="${item.MealId}" name="txtUmrRemark" rows="3"></textarea>
                                                    </div>*@
                                                    <div class="pick-block">
                                                      <div class="nav-content">
                                                        <div class="count-block" style="flex: 1;text-align: center;">
                                                          <div class="qty btn-operate meal-caculate">
                                                            <span class="color-grey"><i class="fas fa-minus-circle"></i></span>
                                                            <input type="number" class="count" data-meal-id="${item.MealId}" name="txtQty" readonly value="1" />
                                                            <span class="color-orange"><i class="fas fa-plus-circle"></i></span>
                                                          </div>
                                                        </div>
                                                        <div style="flex: 2; padding: 0 10px;">
                                                          <a class="btn-right" href="javascript:void(0);" onclick="AddCart(${item.MealId})">加入餐車</a>
                                                        </div>
                                                     </div>
                                                  </div>`
                            innerHtml +=       `</div>
                                            </div>`;

                        });
                    } else {
                        swal.fire({
                            title: "目前尚無餐點",
                            icon: "warning",
                            allowOutsideClick: false,
                            allowEscapeKey: false
                        })
                    }
                } else {
                    swal.fire({
                        title: data.msg,
                        icon: "error",
                        allowOutsideClick: false,
                        allowEscapeKey: false
                    })
                }

                $("#NumerousMenu@(itemName)").html(innerHtml);

                ComboBoxs.Default("select[data-meal-id][name='cboUser']", "@Url.Action("GetStaffUserId", "FoodOrdering")", {}, "", "CHOOSE", "", "StaffUserName", "StaffUserId");
                ComboBoxs.Default("select[data-meal-id][name='cboPickupType']", "@Url.Action("GetType", "BasicInformation", new { Area = "" })", { "TypeSchema": "UmoDetail.Pickup" }, "", "NA", "", "TypeName", "TypeNo");    //取餐區

                $("select[data-meal-id]").select2({
                    dropdownAutoWidth: true,
                    width: "100%"
                });

                $(".meal-caculate .fa-minus-circle").off("click").on("click", function () {
                    let qty = parseInt($(this).parent().siblings("input[data-meal-id]").val()) - 1;

                    if (qty <= 1) {
                        qty = 1;
                        $(this).parent().removeClass("color-orange").addClass("color-grey");
                    } else {
                        $(this).parent().removeClass("color-grey").addClass("color-orange");
                    }

                    $(this).parent().siblings("input[data-meal-id]").val(qty);
                });

                $(".meal-caculate .fa-plus-circle").off("click").on("click", function () {
                    let qty = parseInt($(this).parent().siblings("input[data-meal-id]").val()) + 1;

                    $(this).parent().siblings().children(".fa-minus-circle").parent().removeClass("color-grey").addClass("color-orange");

                    $(this).parent().siblings("input[data-meal-id]").val(qty);
                });
            });
        }

        function CategoryData@(itemName)(mealId, source) {
            let html = '';

            if (source) {
                let json = JSON.parse(source);

                for (let x = 0; x < json.data.length; x++) {
                    html += `<div class="pick-block">
                                <div class="pick-title">
                                    <span>${json.data[x].CategoryName}</span>
                                    ${json.data[x].CategoryType == `Y` ? `<span class="pick-choose grey">加購區</span>` : `<span class="pick-choose right">必填</span>`}
                                </div>
                                <div class="pick-box">
                                    ${DetailData@(itemName)(mealId, json.data[x].MealCgId, json.data[x].CategoryName, json.data[x].CategoryType, JSON.stringify(json.data[x].McDetail))}
                                </div>
                            </div>`;
                }
            }

            return html;
        }

        function DetailData@(itemName)(mealId, id, name, type, source) {
            let html = '';

            if (source) {
                let json = JSON.parse(source);

                for (let x = 0; x < json.data.length; x++) {
                    html += `<div class="pick-list">`;

                    if (type == 'Y') {
                        html += `<label class="control control--checkbox">
                                    ${json.data[x].McDetailName}
                                    <input type="checkbox" data-meal-id="${mealId}" id="mcDetail_${id}_${json.data[x].McDetailId}" name="mcDetail_${id}_${json.data[x].McDetailId}"
                                           data-mc-name="${name}" data-mc-detail-name="${json.data[x].McDetailName}" data-mc-detail-price="${json.data[x].McDetailPrice}" />
                                    <span class="control__indicator"></span>
                                </label>
                                <span class="pick-list-price">${json.data[x].McDetailPrice > 0 ? `+$ ${json.data[x].McDetailPrice}` : `免費`}</span>`;
                        //      <span class="pick-list-price">+$ ${json.data[x].McDetailPrice}</span>
                    } else {
                        html += `<label class="control control01 control--radio">
                                    ${json.data[x].McDetailName}
                                    <input type="radio" data-meal-id="${mealId}" id="mcDetail_${id}_${json.data[x].McDetailId}" name="mcDetail_${id}"
                                           data-mc-name="${name}" data-mc-detail-name="${json.data[x].McDetailName}" data-mc-detail-price="${json.data[x].McDetailPrice}"
                                           ${x == 0 ? `checked` : ``} />
                                    <span class="control__indicator"></span>
                                </label>
                                <span class="pick-list-price">${json.data[x].McDetailPrice > 0 ? `+$ ${json.data[x].McDetailPrice}` : `免費`}</span>`;
                    }
                    html += `</div>`;
                }
            }
            return html;
        }

        function AddCart(mealId) {

            let isValid = true;
            let errorMsg = "";

            //let checkDetail = false;
            let cartJson = {
                userInfo: [],
                mealDate: $("#cboDate@(itemName)").val()
            }

            if (sessionStorage.getItem("lotCart")) {
                cartJson = JSON.parse(sessionStorage.getItem("lotCart"));
            }

            //判斷購物車內日期是否為不是同一天，就阻擋
            if (cartJson.mealDate != $("#cboDate@(itemName)").val()) {
                isValid = false;
                errorMsg += "購物車內已有其他日期之餐點，請先送出購物車餐點! <br />";
            }

            let userList = $(`select[data-meal-id="${mealId}"][name="cboUser"]`).val();

            if (userList.length <= 0) {
                isValid = false;
                errorMsg += "請選擇人員! <br />";
            }

            if ($(`select[data-meal-id="${mealId}"][name="cboPickupType"]`).val() == "") {
                isValid = false;
                errorMsg += "請選擇取餐區! <br />";
            }

            if (isValid) {
                for (var i = 0; i < userList.length; i++) {
                    let userIndex = -1;
                    let mealIndex = -1;
                    let categoryIndex = -1;

                    //找人
                    for (var u = 0; u < cartJson.userInfo.length; u++) {
                        if (cartJson.userInfo[u].userId == userList[i]) {
                            userIndex = u;
                            break;
                        }
                    }

                    let userMealJson = {
                        userId: userList[i],
                        totalQty: 0,
                        totalPrice: 0,
                        mealInfo: []
                    }

                    if (userIndex > -1) {
                        userMealJson = cartJson.userInfo[userIndex];
                    }

                    let meal = {
                        mealId: mealId,
                        mealName: $(`input[data-meal-id="${mealId}"][name="txtMealName"]`).val(),
                        mealImage: $(`input[data-meal-id="${mealId}"][name="txtMealImage"]`).val(),
                        price: $(`input[data-meal-id="${mealId}"][name="txtMealPrice"]`).val(),
                        remark: $(`input[data-meal-id="${mealId}"][name="txtUmrRemark"]`).val(),
                        //remark: $(`textarea[data-meal-id="${mealId}"][name="txtUmrRemark"]`).val(),
                        qty: $(`input[data-meal-id="${mealId}"][name="txtQty"]`).val(),
                        pickup: $(`select[data-meal-id="${mealId}"][name="cboPickupType"]`).val(),
                        categoryInfo: []
                    }

                    userMealJson.mealInfo.push(meal);

                    mealIndex = userMealJson.mealInfo.length - 1;

                    if ($(`input[data-meal-id="${mealId}"][id^='mcDetail_']`).length > 0) {
                        if ($(`input[data-meal-id="${mealId}"][id^='mcDetail_']:checked`).length > 0) {
                            isValid = true;
                            let currentCg = -1;
                            $.each($(`input[data-meal-id="${mealId}"][id^='mcDetail_']:checked`), function (i) {
                                let currentId = $(this).attr("id");
                                let mealCgId = currentId.split('_')[1];
                                let mcDetailId = currentId.split('_')[2];

                                let category = {
                                    mealCgId: mealCgId,
                                    mealCgName: $(this).data("mc-name"),
                                    mcDetailInfo: []
                                }

                                if (currentCg != mealCgId) {
                                    let mcDetail = {
                                        mcDetailId: mcDetailId,
                                        mcDetailName: $(this).data("mc-detail-name"),
                                        mcDetailPrice: $(this).data("mc-detail-price")
                                    }

                                    category.mcDetailInfo.push(mcDetail);

                                    currentCg = mealCgId;

                                    meal.categoryInfo.push(category);
                                    categoryIndex = meal.categoryInfo.length - 1;
                                } else {

                                    let mcDetail = {
                                        mcDetailId: mcDetailId,
                                        mcDetailName: $(this).data("mc-detail-name"),
                                        mcDetailPrice: $(this).data("mc-detail-price")
                                    }

                                    userMealJson.mealInfo[mealIndex].categoryInfo[categoryIndex].mcDetailInfo.push(mcDetail);
                                }
                            });
                        } else {
                            alert("未選取餐點客製化項目");
                        }
                    } else {
                        isValid = true;
                    }

                    if (userIndex > -1) {
                        cartJson.userInfo[userIndex] = userMealJson;
                    } else {

                        cartJson.userInfo.push(userMealJson);
                    }
                }

                if (isValid == true) {
                    sessionStorage.setItem("lotCart", JSON.stringify(cartJson))
                    MealQty();

                    Swal.fire({
                        position: 'center-center',
                        icon: 'success',
                        title: '加入成功',
                        showConfirmButton: false,
                        timer: 1500
                    })

                    InitData@(itemName)();
                }   
            } else {
                Swal.fire({
                    icon: 'error',
                    title: errorMsg,
                    text: '愛朱意喔!',
                })
            }
        }

        //抓取totalqty資料
        function MealQty() {
            let cartJson;
            let totalQty = 0;

            if (sessionStorage.getItem("lotCart")) {
                cartJson = JSON.parse(sessionStorage.getItem("lotCart"));
                //購物車中有值才加入
                if (cartJson.userInfo.length > 0) {
                    for (var i = 0; i < cartJson.userInfo.length; i++) {
                        for (var j = 0; j < cartJson.userInfo[i].mealInfo.length; j++) {
                            totalQty += parseInt(cartJson.userInfo[i].mealInfo[j].qty);
                        }
                    }
                }
            }

            $("#totalQty@(itemName)").html(`(${totalQty})`);
        }
    </script>
        )


