@using Business_Manager.Helpers
@{
    string itemName = "AwardsKanban";
    string itemNameText = "獎項看板";

    string ActivityId = Request["ActivityId"] ?? "";

    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<link href="@Url.Content("~/Content/owl.carousel.2/2.3.4/owl.carousel.min.css")" rel="stylesheet" />
)

@Html.Resource("css",
    @<link href="@Url.Content("~/Content/owl.carousel.2/2.3.4/owl.theme.default.min.css")" rel="stylesheet" />
)

@Html.Resource("css",
    @<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@700;900&display=swap" rel="stylesheet" />
)

@Html.Resource("css",
    @<style>
        body {
            height: 100vh;
            font-family: 'Noto Serif TC', serif;
            background: url(/Areas/EBP/Content/images/bg.png) no-repeat center center;
            background-size: cover;
            background-attachment: fixed;
        }

        h3 {
            margin-bottom: 0;
        }

        .company-logo {
            display: inline-block !important;
            width: auto !important;
            height: 23px;
            margin-right: 5px;
        }

        .content {
            font-size: 33px;
            display: inline-block;
            text-align: center;
            padding: 13px;
        }

        .awards-group {
            border: 1px solid #d1d1d1;
            border-radius: 5px;
        }

        .group-title {
            padding: 15px;
            background-color: #efefef;
            color: #0639ff;
            font-weight: bold;
            margin-bottom: 0;
        }

        .main-title {
            text-align: center;
            font-size: 40px;
            padding: 20px;
            font-weight: bolder;
        }

        .lottery-title {
            font-size: 2rem;
        }

        .title-color {
            color: #0641ff;
            padding-left: 20px;
        }

        .item {
            background-color: rgba(255,255,255,0.5);
        }

            .item .col {
                padding-bottom: 10px;
                text-align: center;
                padding-left: 10px;
                padding-right: 10px;
            }

        .qrcode {
            width: 220px;
            height: auto;
            position: fixed;
            bottom: 10px;
            z-index: 999;
            left: 50%;
            transform: translateX(-50%);
        }

            .qrcode img {
                width: 100%;
            }

        @@media (max-width: 767px) {
            .main-title {
                font-size: 35px;
            }

            .item .col {
                text-align: center;
            }

            .content {
                font-size: 25px;
                padding: 5px;
            }

            .qrcode {
                display: none;
            }
        }

        @@media (max-width: 480px) {
            .main-title {
                font-size: 24px;
            }

            .item .col {
                padding-bottom: 10px;
            }

            .content {
                font-size: 20px;
                padding: 8px;
            }

            .lottery-title {
                font-size: 1.5rem;
            }
        }

        @@media (max-width: 375px) {
            body {
                background: url('/Areas/EBP/Content/images/mobile-bg.png') no-repeat center center;
                background-size: cover;
                background-attachment: fixed;
            }
        }

        @@media (min-width: 768px) and (max-width: 979px) {
            .item .col {
                text-align: center;
            }

            .content {
                font-size: 32px;
                padding: 5px;
            }

            .qrcode {
                display: none;
            }
        }

        @@media (min-width: 980px) {
        }

        @@media (min-width: 1200px) {
        }
    </style>
)

<div class="container">
    <div class="row">
        <div class="col">
            <div class="main-title">中獎名單 Win The Lottery</div>
            <div class="owl-carousel owl-theme awards-list">
                <div class="item" data-awards="2">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    <h3 class="lottery-title">總經理獎 $30,000<span class="title-color">3名</span></h3>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
                                        <div class="col">
                                            <span class="content"><img class="company-logo" src="/Web/GetFile?fileId=226">ZY00764 胡秉丞</span>
                                        </div>
                                        <div class="col">
                                            <span class="content"><img class="company-logo" src="/Web/GetFile?fileId=226">ZY01026 劉育伶</span>
                                        </div>
                                        <div class="col">
                                            <span class="content"><img class="company-logo" src="/Web/GetFile?fileId=226">ZY01031 巫奉輮</span>
                                        </div>
                                        <div class="col">
                                            <span class="content"><img class="company-logo" src="/Web/GetFile?fileId=226">ZY01031 巫奉輮</span>
                                        </div>
                                        <div class="col">
                                            <span class="content"><img class="company-logo" src="/Web/GetFile?fileId=226">ZY01031 巫奉輮</span>
                                        </div>
                                        <div class="col">
                                            <span class="content"><img class="company-logo" src="/Web/GetFile?fileId=226">ZY01031 巫奉輮</span>
                                        </div>
                                        <div class="col">
                                            <span class="content"><img class="company-logo" src="/Web/GetFile?fileId=226">ZY01031 巫奉輮</span>
                                        </div>
                                        <div class="col">
                                            <span class="content"><img class="company-logo" src="/Web/GetFile?fileId=226">ZY01031 巫奉輮</span>
                                        </div>
                                        <div class="col">
                                            <span class="content"><img class="company-logo" src="/Web/GetFile?fileId=226">ZY01031 巫奉輮</span>
                                        </div>
                                        <div class="col">
                                            <span class="content"><img class="company-logo" src="/Web/GetFile?fileId=226">ZY01031 巫奉輮</span>
                                        </div>

                                    </div>


                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="item" data-awards="4">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    <h3 class="lottery-title">賓果連線 $3,000 <span class="title-color">6組</span></h3>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="awards-group">
                                        <h5 class="group-title">第一組</h5>
                                        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
                                            <div class="col">
                                                <span class="content"><img class="company-logo" src="/Web/GetFile?fileId=226">ZY00231 丁培文</span>
                                            </div><div class="col">
                                                <span class="content"><img class="company-logo" src="/Web/GetFile?fileId=226">ZY00283 段文甲</span>
                                            </div><div class="col">
                                                <span class="content"><img class="company-logo" src="/Web/GetFile?fileId=226">ZY00371 呂晉鴻</span>
                                            </div><div class="col">
                                                <span class="content"><img class="company-logo" src="/Web/GetFile?fileId=226">ZY00194 楊丞堯</span>
                                            </div>
                                            <div class="col">
                                                <span class="content"><img class="company-logo" src="/Web/GetFile?fileId=226">ZY00371 呂晉鴻</span>
                                            </div>
                                            <div class="col">
                                                <span class="content"><img class="company-logo" src="/Web/GetFile?fileId=226">ZY00371 呂晉鴻</span>
                                            </div>
                                            <div class="col">
                                                <span class="content"><img class="company-logo" src="/Web/GetFile?fileId=226">ZY00371 呂晉鴻</span>
                                            </div>
                                            <div class="col">
                                                <span class="content"><img class="company-logo" src="/Web/GetFile?fileId=226">ZY00371 呂晉鴻</span>
                                            </div>
                                            <div class="col">
                                                <span class="content"><img class="company-logo" src="/Web/GetFile?fileId=226">ZY00371 呂晉鴻</span>
                                            </div>
                                            <div class="col">
                                                <span class="content"><img class="company-logo" src="/Web/GetFile?fileId=226">ZY00371 呂晉鴻</span>
                                            </div>
                                        </div>
                                    </div>



                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="item" data-awards="4">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    <h3 class="lottery-title">賓果連線 $3,000 <span class="title-color">6組</span></h3>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>

                                    <div class="awards-group">
                                        <h5 class="group-title">第二組</h5>
                                        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
                                            <div class="col">
                                                <span class="content"><img class="company-logo" src="/Web/GetFile?fileId=226">DC00001 張盈壽</span>
                                            </div><div class="col">
                                                <span class="content"><img class="company-logo" src="/Web/GetFile?fileId=226">ZY00094 謝昀倢</span>
                                            </div>
                                            <div class="col">
                                                <span class="content"><img class="company-logo" src="/Web/GetFile?fileId=226">ZY00174 黃博聲</span>
                                            </div>
                                            <div class="col">
                                                <span class="content"><img class="company-logo" src="/Web/GetFile?fileId=226">ZY00371 呂晉鴻</span>
                                            </div>
                                        </div>
                                    </div>


                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="item" data-awards="4">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    <h3 class="lottery-title">賓果連線 $3,000 <span class="title-color">6組</span></h3>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>


                                    <div class="awards-group">
                                        <h5 class="group-title">第三組</h5>
                                        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
                                            <div class="col">
                                                <span class="content"><img class="company-logo" src="/Web/GetFile?fileId=226">DC00001 張盈壽</span>
                                            </div><div class="col">
                                                <span class="content"><img class="company-logo" src="/Web/GetFile?fileId=226">ZY00094 謝昀倢</span>
                                            </div>
                                            <div class="col">
                                                <span class="content"><img class="company-logo" src="/Web/GetFile?fileId=226">ZY00174 黃博聲</span>
                                            </div>
                                            <div class="col">
                                                <span class="content"><img class="company-logo" src="/Web/GetFile?fileId=226">ZY00371 呂晉鴻</span>
                                            </div>
                                            <div class="col">
                                                <span class="content"><img class="company-logo" src="/Web/GetFile?fileId=226">ZY00371 呂晉鴻</span>
                                            </div>
                                            <div class="col">
                                                <span class="content"><img class="company-logo" src="/Web/GetFile?fileId=226">ZY00371 呂晉鴻</span>
                                            </div>
                                            <div class="col">
                                                <span class="content"><img class="company-logo" src="/Web/GetFile?fileId=226">ZY00371 呂晉鴻</span>
                                            </div>
                                        </div>
                                    </div>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="qrcode" style="">
                <img src="~/Areas/EBP/Content/images/qrcode.png" alt="qrcode" />
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script src="@Url.Content("~/Scripts/owl.carousel.2/2.3.4/owl.carousel.min.js")"></script>
)

@Html.Resource("js",
    @<script>
        $(document).ready(function () {
            InitData@(itemName)();

            //var owl = $(".awards-list").owlCarousel({
            //    items: 1,
            //    margin: 0,
            //    loop: true,
            //    center: false,
            //    autoWidth: false,
            //    nav: false,
            //    dots: false,
            //    autoplay: true,
            //    autoplayTimeout: 500000,
            //    margin: 10
            //});
        });

        function InitData@(itemName)() {
            let innerHtml = '';

            let targetUrl = "@Url.Action("GetAwardsKanban", "Activity")";
            let postData = {
                "ActivityId": "@(ActivityId)"
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                $.each(data.result, function (i, item) {
                    let json = JSON.parse(item.AwardsGroup);
                    let totalUser = 0;

                    if (item.AwardsGroup) {
                        totalUser = json.group[0][`AwardsUser`].user.length;
                    }

                    innerHtml += `<div class="item" data-awards="${item.AwardsId}">
                                    <table class="table">
                                      <thead>
                                        <tr>
                                          <th>
                                            <h3 class="lottery-title">${item.AwardsName} ${item.AwardsPrice > 0 ? `$` + item.AwardsPrice.toLocaleString(`en`) : ``}<span class="title-color">${item.AwardsQuantity}${item.AwardsUnit}</span></h3>
                                          </th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <td>
                                            ${AwardsGroup(item.AwardsGroup, 0, totalUser > 11 ? 12 : totalUser)}
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>`;

                    let modUser = totalUser / 12;
                    let indexUser = modUser;
                    while (indexUser > 1) {
                        indexUser--;

                        innerHtml += `<div class="item" data-awards="${item.AwardsId}">
                                    <table class="table">
                                      <thead>
                                        <tr>
                                          <th>
                                            <h3 class="lottery-title">${item.AwardsName} ${item.AwardsPrice > 0 ? `$` + item.AwardsPrice.toLocaleString(`en`) : ``}<span class="title-color">${item.AwardsQuantity}${item.AwardsUnit}</span></h3>
                                          </th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        <tr>
                                          <td>
                                            ${AwardsGroup(item.AwardsGroup, 12 * (modUser - indexUser), totalUser - 12 * (modUser - indexUser) > 11 ? 12 * (modUser - indexUser + 1) : totalUser)}
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </div>`;
                    }
                });
            } else {
                alert(data.msg, "alert", 0);
            }

            $(".awards-list").html(innerHtml);

            var owl = $(".awards-list").owlCarousel({
                items: 1,
                margin: 0,
                loop: true,
                center: false,
                autoWidth: false,
                nav: false,
                dots: false,
                autoplay: true,
                autoplayTimeout: 5000,
                margin: 10
            });

            owl.on('changed.owl.carousel', function (event) {
                @*let html = '';
                let awardsId = $(".owl-item.active .item").data("awards");

                let targetUrl = "@Url.Action("GetAwardsKanban", "Activity")";
                let postData = {
                    "ActivityId": "@(ActivityId)",
                    "AwardsId": awardsId
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        let json = JSON.parse(item.AwardsGroup);
                        let totalUser = 0;

                        if (json) {
                            totalUser = json.group[0][`AwardsUser`].user.length;
                        }

                        html += `<table class="table">
                                   <thead>
                                     <tr>
                                       <th>
                                         <h3 class="lottery-title">${item.AwardsName} ${item.AwardsPrice > 0 ? `$` + item.AwardsPrice.toLocaleString(`en`) : ``}<span class="title-color">${item.AwardsQuantity}${item.AwardsUnit}</span></h3>
                                       </th>
                                     </tr>
                                   </thead>
                                   <tbody>
                                     <tr>
                                       <td>
                                         ${AwardsGroup(item.AwardsGroup, 0, totalUser > 11 ? 12 : totalUser)}
                                       </td>
                                     </tr>
                                   </tbody>
                                 </table>`;
                    });
                } else {
                    alert(data.msg, "alert", 0);
                }*@

                //$(`.owl-item.active .item[data-awards="${awardsId}"]`).html(html);
            });

            function AwardsGroup(source, start, end) {
                let html = '';

                if (source) {
                    let json = JSON.parse(source);

                    if (json.group.length > 1) {
                        for (let x = 0; x < json.group.length; x++) {
                            html += `<div class="awards-group">
                                       <h5 class="group-title">${json.group[x][`GroupName`]}</h5>
                                       <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
                                         ${AwardsUser(json.group[x][`AwardsUser`], start, end)}
                                       </div>
                                     </div>`
                        }
                    } else {
                        html += `<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
                                   ${AwardsUser(json.group[0][`AwardsUser`], start, end)}
                                 </div>`;
                    }
                }

                return html;
            }

            function AwardsUser(json, start, end) {
                let html = '';

                if (json) {
                    for (let x = start; x < end; x++) {
                        html += `<div class="col">
                                   <span class="content">${json.user[x].LogoIcon == -1 ? `` : `<img class="company-logo" src="/Web/GetFile?fileId=${json.user[x].LogoIcon}" />`}${json.user[x].UserNo} ${json.user[x].UserName}</span>
                                 </div>`;
                    }
                }

                return html;
            }
        }
    </script>
)