@using Business_Manager.Helpers
@{
    string itemName = "TakeOrderDemand";
    string itemNameText = "需求單";
    string authority = ViewBag.authority;
}
@Html.Resource("css",
    @<style>
    </style>
                )
<input type="hidden" id="pageAuthority" value="@authority" />
<input type="hidden" id="DemandId" value="-1" />
<!--返回-->
<div class="row">
    <div class="col-12 title-block ">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>
<!--搜尋-->
<!--列表-->
<!--新增/編輯-->
<!--其他分頁-->
<div class="advanced-block">
    <div class="row">
        <div class="col-12">
            <ul class="nav flag-tabs nav-fill" role="tablist">
                <li class="flag-item" id="ViewtabViewTakeOrderLine">
                    <a class="flag-link active" data-toggle="tab" href="#tabViewTakeOrderLine" id="TakeOrderLine">
                        <i class="fas fa-sliders-h"></i> 接單細項
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane active" id="tabViewTakeOrderLine">
            @Html.Partial("DemandLine")
        </div>
    </div>
</div>
@Html.Resource("js",
@<script>

    let objPage@(itemName) = {
        "pageIndex": 0,
        "pageSize": 8
    };
    let objForm@(itemName) = "#editForm@(itemName)";
    $(document).ready(function () {

    });

    //#region --Query
    function Query@(itemName)() {
        objPage@(itemName).pageIndex = 0;
        InitData@(itemName)(objPage@(itemName));
    }
    //#endregion

    //#region --InitData
    function InitData@(itemName)(objPage) {
        let innerHtml = '';
        let pageCount = 0;
        let targetUrl = "@Url.Action("GetQcNotice", "QcItemSetting")";
        let postData = {
            "OrderBy": "",
            "PageIndex": (objPage.pageIndex + 1),
            "PageSize": objPage.pageSize            
        };
        let data = DataAccess.Get(targetUrl, postData, false);
        if (data.status == "success") {
            pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;
            if (pageCount > 0) {
                objPage = PageCaculate(pageCount, objPage);
                $.each(data.result, function (i, item) {
                    let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";
                    innerHtml += `<tr></tr>`;

                });
            } else {
                innerHtml += `<tr>
                                <td class="text-center" colspan="13" style="background-color: #fff3cd;">
                                    <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                </td>
                                </tr>`;
            }
        } else {
            alert(data.msg, "alert", 0);
        }
        $("#tblData@(itemName) tbody").html(innerHtml);
        TableComponentInit();
        Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));
    }
    //#endregion


    
    function Edit@(itemName)(DemandId) {
        //#region --Edit
        $("#DemandId").val(DemandId);
        if (DemandId>0) {
        } else {
        }        
    }
    //#endregion

    //#region --Save

    //#endregion

    //#region --Delete
    //#endregion


</script>
        )
