@using Business_Manager.Helpers
@{
    string itemName = "TempShippingNote";
    string itemNameText = "暫出單";
    string authority = ViewBag.authority;

    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
    </style>
)

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboTsnErpPrefixQ@(itemName)">單別</label>
                            <div class="col-12">
                                <select class="form-control" id="cboTsnErpPrefixQ@(itemName)" name="cboTsnErpPrefixQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtTsnErpNoQ@(itemName)">單號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtTsnErpNoQ@(itemName)" name="txtTsnErpNoQ@(itemName)" placeholder="請輸入單號" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtSearchKeyQ@(itemName)">品號/品名</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtSearchKeyQ@(itemName)" name="txtSearchKeyQ@(itemName)" placeholder="請輸入品號/品名" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">狀態</label>
                            <div class="col-lg-4 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    未確認
                                    <input type="checkbox" id="cbxConfirmStatusQ@(itemName)N" name="cbxConfirmStatusQ@(itemName)" value="N" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    作廢
                                    <input type="checkbox" id="cbxConfirmStatusQ@(itemName)V" name="cbxConfirmStatusQ@(itemName)" value="V" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    已確認
                                    <input type="checkbox" id="cbxConfirmStatusQ@(itemName)Y" name="cbxConfirmStatusQ@(itemName)" value="Y" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">單據日期 <input type="checkbox" id="cbxUseDate@(itemName)" /></label>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtStartDateQ@(itemName)" name="txtStartDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtEndDateQ@(itemName)" name="txtEndDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);">
                            <i class="fal fa-search"></i>搜尋
                        </a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn btn-success auth-sync" href="javascript:PopTsnSync@(itemName)();"><i class="fas fa-sync"></i>ERP資料同步</a>
                        <a class="btn btn-warning auth-delivery-to-tsn" href="javascript:PopViewDeliveryToTsn();"><i class="fas fa-random"></i>出貨轉暫出</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky tiny-table" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 50px;">#</th>
                                        <th scope="col" style="min-width: 165px;">單號</th>
                                        <th scope="col" style="min-width: 100px;">單據日期</th>
                                        <th scope="col" style="min-width: 140px;">人員</th>
                                        <th scope="col" style="min-width: 150px;">異動對象</th>
                                        <th scope="col" style="min-width: 140px;">確認者</th>
                                        <th class="text-center" scope="col" style="min-width: 75px;">操作</th>
                                        <th style="padding: 0; min-width: 1600px;">
                                            <table class="table table-bordered table-sm mb-0 table-non-rwd table-striped-custom table-row-detail">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 50px;">流水號</th>
                                                        <th style="width: 150px;">品號</th>
                                                        <th style="width: 175px;">品名</th>
                                                        <th style="width: 125px;">轉出庫別</th>
                                                        <th style="width: 125px;">轉入庫別</th>
                                                        <th style="width: 125px;">正常品數量</th>
                                                        <th style="width: 125px;">類型</th>
                                                        <th style="width: 125px;">贈/備品數量</th>
                                                        <th style="width: 200px;">批號</th>
                                                        <th style="width: 200px;">訂單</th>
                                                        <th style="width: 200px;">備註</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="txtDocId@(itemName)" name="txtDocId@(itemName)" value="-1" />

<div class="modal fade" id="modalWord@(itemName)">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">暫出單單據下載</h5>
                <button class="close" type="button" onclick="CloseWord@(itemName)()">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container custom-form-container" autocomplete="off" id="wordForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label">單據金額</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    不包含
                                    <input type="checkbox" id="cbxNonPrice@(itemName)" name="cbxNonPrice@(itemName)" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label">批號單身</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    是否合併
                                    <input type="checkbox" id="cbxLotSetting@(itemName)" name="cbxLotSetting@(itemName)" checked/>
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn file-word" onclick="Word@(itemName)()"><i class="fas fa-file-word"></i>Word</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalSync@(itemName)">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@(itemNameText)同步</h5>
                <button class="close" type="button" onclick="CloseSync@(itemName)()">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container custom-form-container" autocomplete="off" id="syncForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtTsnErpFullNo@(itemName)">暫出單號</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtTsnErpFullNo@(itemName)" name="txtTsnErpFullNo@(itemName)" placeholder="請輸入暫出單號" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtSyncStartDate@(itemName)">開始日期 <input type="checkbox" id="cbxSyncDate@(itemName)" checked /></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtSyncStartDate@(itemName)" name="txtSyncStartDate@(itemName)" placeholder="請輸入開始日期" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtSyncEndDate@(itemName)">結束日期</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtSyncEndDate@(itemName)" name="txtSyncEndDate@(itemName)" placeholder="請輸入結束日期" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label">同步模式</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <div class="row">
                                    <div class="col">
                                        <label class="control control-solid control-solid-info control--checkbox">
                                            正常同步
                                            <input type="checkbox" id="cbxNormalSync@(itemName)" name="cbxNormalSync@(itemName)" checked />
                                            <span class="control__indicator"></span>
                                        </label>
                                    </div>
                                    <div class="col">
                                        <label class="control control-solid control-solid-info control--checkbox">
                                            異動同步
                                            <input type="checkbox" id="cbxTranSync@(itemName)" name="cbxTranSync@(itemName)" />
                                            <span class="control__indicator"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-success" onclick="Sync@(itemName)()"><i class="fas fa-sync"></i>同步</button>
            </div>
        </div>
    </div>
</div>

<!--單據日期POP-->
<div class="modal fade" id="modalDocDate@(itemName)">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" onclick="CloseDocDate@(itemName)()">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container custom-form-container" autocomplete="off" id="DocDateForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label">單據日期 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="txtDocDate@(itemName)" name="txtDocDate@(itemName)" placeholder="請輸入單據日期"
                                           data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                           data-msg-required="請輸入單據日期" data-rule-required="true" />
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-success" onclick="DocDateSave@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

@Html.Partial("ViewDeliveryToTsn")

@Html.Resource("js",
    @<script>

        let tsnId@(itemName);

        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };

        $(document).ready(function () {
            let currentDate = new Date();
            Suites.DatePicker("txtEndDateQ@(itemName)", currentDate);
            currentDate.setDate(currentDate.getDate() - 7);
            Suites.DatePicker("txtStartDateQ@(itemName)", currentDate);
            
            Suites.DatePicker("txtDocDate@(itemName)", currentDate);

            ComboBoxs.WithText("#cboTsnErpPrefixQ@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "TsnErpPrefix" }, "", "CHOOSE", "全部", "TsnErpPrefixName", "TsnErpPrefixNo");

            $("#cboTsnErpPrefixQ@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });

            Query@(itemName)();
        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let targetUrl = "@Url.Action("GetTempShippingNote", "ScmInventory")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "TsnErpPrefix": $("#cboTsnErpPrefixQ@(itemName)").val(),
                "TsnErpNo": $("#txtTsnErpNoQ@(itemName)").val(),
                "SearchKey": $("#txtSearchKeyQ@(itemName)").val(),
                "ConfirmStatus": $("input[name='cbxConfirmStatusQ@(itemName)']:checked").toArray().map(item => item.value).join(","),
                "StartDate": ($("#cbxUseDate@(itemName)").is(":checked") ? $("#txtStartDateQ@(itemName)").val() : ""),
                "EndDate": ($("#cbxUseDate@(itemName)").is(":checked") ? $("#txtEndDateQ@(itemName)").val() : "")
            };
            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr>
                                        <td>${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.TsnErpFullNo}" style="max-width: 165px;">
                                          ${item.TsnErpFullNo}
                                          ${item.TransferStatus == `Y` ? `${ErpDocStatus(item.DocStatus)}` : ``}
                                        </td>
                                        <td>${(new Date(item.DocDate)).Format(`yyyy-MM-dd`)}</td>
                                        <td>
                                          ${item.UserGender == `M` ? `<span class="gender-male"><i class="fas fa-male"></i></span>` : item.UserGender == `F` ? `<span class="gender-female"><i class="fas fa-female"></i></span>` : ``}${item.UserNo} ${item.UserName}
                                        </td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ToObjectName}【${item.ObjectName}】" style="max-width: 150px;">${item.ToObjectName}【${item.ObjectName}】</td>
                                        <td>
                                          ${item.ConfirmUserGender == `M` ? `<span class="gender-male"><i class="fas fa-male"></i></span>` : item.ConfirmUserGender == `F` ? `<span class="gender-female"><i class="fas fa-female"></i></span>` : ``}${item.ConfirmUserNo} ${item.ConfirmUserName}
                                        </td>
                                        <td class="text-center active-content">
                                          <div class="btn-group mb-4 show" style="margin-bottom: 0 !important;">
                                            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="padding-top: 0; padding-bottom: 0;">動作</button>
                                            <div class="dropdown-menu btn-text-left-block" x-placement="bottom-start" style="overflow-y: auto; z-index: 999; max-height: 150px;">
                                              <a class="dropdown-item btn-text-left auth-doc-download" href="javascript:PopTsnWord@(itemName)(${item.TsnId});" ><i class="fas fa-file-download"></i>單據下載</a>
                                              ${item.TransferStatus == `Y` && item.ConfirmStatus == `N` ? `<a class="dropdown-item btn-text-left auth-confirm" href="javascript:Confirm@(itemName)(${item.TsnId});" ><i class="fas fa-check"></i>核准單據</a>` : ``}
                                              ${item.TransferStatus == `Y` && item.ConfirmStatus == `Y` ? `<a class="dropdown-item btn-text-left auth-reconfirm" href="javascript:ReConfirm@(itemName)(${item.TsnId});" ><i class="fas fa-undo"></i>反確認單據</a>` : ``}
                                              ${item.ConfirmStatus == `N` ? `<a class="dropdown-item btn-text-left auth-doc-date" href="javascript:PopTsnDocDate@(itemName)(${item.TsnId});" ><i class="fas fa-edit"></i>單據日期</a>` : ``}
                                            </div>
                                          </div>
                                        </td>
                                        <td style="padding: 0;">
                                          <table class="table table-bordered table-sm mb-0 table-non-rwd table-striped-custom table-row-detail">
                                            <tbody>
                                              ${DetailData@(itemName)(item.TsnDetail)}
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="7" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));
        }

        function DetailData@(itemName)(source) {
            let html = '';

            if (source) {
                let json = JSON.parse(source);

                for (let x = 0; x < json.data.length; x++) {
                    html += `<tr>
                               <td style="width: 50px;">${json.data[x].TsnSequence}</td>
                               <td class="ellipsis" data-toggle="tooltip" title="${json.data[x].MtlItemNo}" style="width: 150px; max-width: 150px;">${json.data[x].MtlItemNo}</td>
                               <td class="ellipsis" data-toggle="tooltip" title="${json.data[x].TsnMtlItemName}" style="width: 175px; max-width: 175px;">${json.data[x].TsnMtlItemName}</td>
                               <td class="ellipsis" data-toggle="tooltip" title="${json.data[x].TsnOutInventoryNo} ${json.data[x].TsnOutInventoryName}" style="width: 125px; max-width: 125px;"><code>${json.data[x].TsnOutInventoryNo}</code> ${json.data[x].TsnOutInventoryName}</td>
                               <td class="ellipsis" data-toggle="tooltip" title="${json.data[x].TsnInInventoryNo} ${json.data[x].TsnInInventoryName}" style="width: 125px; max-width: 125px;"><code>${json.data[x].TsnInInventoryNo}</code> ${json.data[x].TsnInInventoryName}</td>
                               <td style="width: 125px;">${json.data[x].TsnQty.toLocaleString(`en`)}</td>
                               <td style="width: 125px;">${json.data[x].ProductTypeName}</td>
                               <td style="width: 125px;">${json.data[x].FreebieOrSpareQty}</td>
                               <td style="width: 200px;">${json.data[x].LotNumber}</td>
                               <td style="width: 200px;">${json.data[x].SoErpFullNo}</td>
                               <td class="ellipsis" data-toggle="tooltip" title="${json.data[x].TsnRemark}" style="width: 200px; max-width: 200px;">${json.data[x].TsnRemark}</td>
                             </tr>`;
                }
            }

            return html;
        }

        function PopTsnSync@(itemName)() {
            $("#modalSync@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });

            let currentDate = new Date();
            Suites.DatePicker("txtSyncEndDate@(itemName)", currentDate);
            currentDate.setDate(currentDate.getDate() - 7);
            Suites.DatePicker("txtSyncStartDate@(itemName)", currentDate);
        }

        function CloseSync@(itemName)() {
            ResetForm("#syncForm@(itemName)");

            $("#modalSync@(itemName)").modal("hide");

            Query@(itemName)();
        }

        function Sync@(itemName)() {
            swal.fire({
                titleText: "確認執行ERP資料同步嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("UpdateTempShippingNoteManualSynchronize", "ScmInventory")";
                    let postData = {
                        "TsnErpFullNo": $("#txtTsnErpFullNo@(itemName)").val(),
                        "SyncStartDate": ($("#cbxSyncDate@(itemName)").is(":checked") ? $("#txtSyncStartDate@(itemName)").val() : ""),
                        "SyncEndDate": ($("#cbxSyncDate@(itemName)").is(":checked") ? $("#txtSyncEndDate@(itemName)").val() : ""),
                        "NormalSync": $("#cbxNormalSync@(itemName)").is(":checked") ? "Y" : "N",
                        "TranSync": $("#cbxTranSync@(itemName)").is(":checked") ? "Y" : "N"
                    };

                    let data = DataAccess.EditContinued(targetUrl, postData, false);

                    if (data) {
                        alert(data.result, "success", 5000);
                    }

                    CloseSync@(itemName)();
                }
            });
        }

        function PopTsnWord@(itemName)(TsnId) {
            $("#txtDocId@(itemName)").val(TsnId);

            let targetUrl = "@Url.Action("GetPriceSwitch", "ScmInventory")";
            let postData = {};

            let data = DataAccess.Get(targetUrl, postData, false);

            //判斷權限控制顯示金額與否
            if (data.status == "success") {

                $("#modalWord@(itemName)").modal({
                    backdrop: "static",
                    keyboard: false,
                    show: true
                });
            } else {
                let targetUrl = "@Url.Action("TsnDocDownload", "ScmInventory")";
                let postData = {
                    "TsnId": TsnId,
                    "NonPrice": "N"
                };

                FileAccess.AjaxDownload(targetUrl, postData, false);
            }

        }

        function Word@(itemName)() {
            let targetUrl = "@Url.Action("TsnDocDownload", "ScmInventory")";
            let postData = {
                "TsnId": $("#txtDocId@(itemName)").val(),
                "NonPrice": $("#cbxNonPrice@(itemName)").is(":checked") ? "Y" : "N",
                "LotSetting": $("#cbxLotSetting@(itemName)").is(":checked") ? "Y" : "N"
            };

            FileAccess.AjaxDownload(targetUrl, postData, false);
        }

        function CloseWord@(itemName)() {
            ResetForm("#wordForm@(itemName)");

            $("#modalWord@(itemName)").modal("hide");

            Query@(itemName)();
        }

        function PopTsnDocDate@(itemName)(TsnId) {
            tsnId@(itemName) = TsnId;
            //$("#txtDocId@(itemName)").val(TsnId);

            let targetUrl = "@Url.Action("GetTsnDocDate", "ScmInventory")";
            let postData = {
                "TsnId": TsnId
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                $.each(data.result, function (i, item) {
                    $("#txtDocDate@(itemName)").val(item.DocDate);
                });
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#modalDocDate@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });
        }

        function DocDateSave@(itemName)(TsnId) {

            swal.fire({
                titleText: "確認修改單據日期嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("UpdateTsnDocDate", "ScmInventory")";
                    let postData = {
                        "TsnId": tsnId@(itemName),
                        "DocDate": $("#txtDocDate@(itemName)").val()
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                        CloseDocDate@(itemName)();
                    }
                }
            });
        }

        function Confirm@(itemName)(TsnId) {
            swal.fire({
                titleText: "確認要核准單據嗎?",
                text: "此動作會將ERP單據進行核單動作，請確認後再執行!!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("ConfirmTempShippingNote", "Inventory")";
                    let postData = {
                        "TsnId": TsnId
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function ReConfirm@(itemName)(TsnId) {
            swal.fire({
                titleText: "確認要反確認單據嗎?",
                text: "此動作會將ERP單據進行反確認動作，請確認後再執行!!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("ReConfirmTempShippingNote", "Inventory")";
                    let postData = {
                        "TsnId": TsnId
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function CloseDocDate@(itemName)() {
            ResetForm("#DocDateForm@(itemName)");

            $("#modalDocDate@(itemName)").modal("hide");

            Query@(itemName)();
        }
    </script>
)