@using Business_Manager.Helpers
@{
    string itemName = "ClubMember";
    string itemNameText = "社團成員";
}

@Html.Resource("css",
    @<style>
    </style>
)

<div class="card card-shadow">
    <div class="card-body">
        <div class="row" id="listData@(itemName)">
            <div class="col-12">
                <form autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-row align-items-center mb-2">
                            <div class="col-12 col-md-auto col-lg-auto mb-2 mb-md-0 mb-lg-0">
                                <input type="text" class="form-control" id="txtSearchKeyQ@(itemName)" name="txtSearchKeyQ@(itemName)"
                                       placeholder="請輸入使用者工號/姓名" />
                            </div>
                            <div class="col-12 col-md-auto col-lg-auto text-right text-md-left text-lg-left">
                                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()"><i class="fal fa-search"></i>搜尋</button>
                                <button type="button" class="btn btn-info proj-auth-user-add" onclick="Edit@(itemName)()"><i class="fas fa-plus"></i>新增</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
                <div class="table-custom">
                    <table class="table table-bordered table-striped table-sticky table-stack" id="tblData@(itemName)">
                        <thead>
                            <tr>
                                <th scope="col" style="min-width: 75px;">#</th>
                                <th scope="col" style="min-width: 125px;">職位</th>
                                <th scope="col" style="min-width: 200px;">人員</th>
                                <th class="text-center" scope="col" style="min-width: 125px;">操作</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="pagination" id="page@(itemName)"></div>
            </div>
        </div>
        <div class="row" id="editData@(itemName)" style="display: none;">
            <div class="col-12">
                <form class="container custom-form-container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboClubJobId@(itemName)">所屬職位</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboClubJobId@(itemName)" name="cboClubJobId@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboUsers@(itemName)">社團成員 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <div class="input-group">
                                    <select class="form-control" id="cboUsers@(itemName)" name="cboUsers@(itemName)"
                                            data-msg-required="請選擇社團成員" data-rule-required="true" multiple></select>
                                    <div class="input-group-append">
                                        <a class="btn btn-success pop-view" href="javascript:void(0);"><i class="fal fa-search"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div class="card-footer text-center text-lg-right">
        <button type="button" class="btn btn-secondary edit-mode" onclick="Return@(itemName)()" style="display: none;"><i class="fas fa-undo"></i>返回</button>
        <button type="button" class="btn btn-success edit-mode" onclick="Save@(itemName)()" style="display: none;"><i class="fas fa-save"></i>儲存</button>
    </div>
</div>

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        
        let objForm@(itemName) = "#editForm@(itemName)";

        function Expand@(itemName)() {
            if (parseInt($("#ClubId").val()) > 0) {
                Return@(itemName)();

                $("#queryForm@(itemName)").keydown(function (event) {
                    if (event.keyCode == 13) {
                        event.preventDefault();
                        return false;
                    }
                });
            } else {
                alert("請先儲存社團資料", "alert");
            }
        }

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let targetUrl = "@Url.Action("GetClubMember", "Club")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "ClubId": $("#ClubId").val(),
                "SearchKey": $("#txtSearchKeyQ@(itemName)").val()
            };
            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr>
                                        <td><span class="stack-title">#</span>${_row}</td>
                                        <td><span class="stack-title">職位</span>${item.JobName}</td>
                                        <td><span class="stack-title">人員</span>${item.Gender == `M` ? `<span class="gender-male"><i class="fas fa-male"></i></span>` : item.Gender == `F` ? `<span class="gender-female"><i class="fas fa-female"></i></span>` : ``}${item.UserNo} ${item.UserName}</td>
                                        <td class="text-center active-content">
                                          <span class="stack-title">操作</span>
                                          <a class="active-link" href="javascript:Delete@(itemName)(${item.MemberId});"><i class="fas fa-trash-alt"></i></a>
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="4" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));
        }

        function Edit@(itemName)() {
            Switch("#editData@(itemName), .edit-mode", "#listData@(itemName), .list-mode");

            ComboBoxs.Default("#cboClubJobId@(itemName)", "@Url.Action("GetClubJob", "EbpBasicInformation")", { "Status": "A" }, "", "NA", "請選擇", "JobName", "ClubJobId");
            ComboBoxs.Default("#cboUsers@(itemName)", "@Url.Action("GetUser", "BasicInformation")", { "Status": "A" }, "", "CHOOSE-NUMBER", "", "UserWithNo", "UserId");

            $("#cboClubJobId@(itemName), #cboUsers@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });

            let popConfig = {
                targetSelector: "#cboUsers@(itemName)",
                popFunction: "PopViewUser",
                objectUserId: "#cboUsers@(itemName)",
                type: "checkbox"
            };
            InitPopView(popConfig);
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let targetUrl = "@Url.Action("AddClubMember", "Club")";
                let postData = {
                    "ClubId": $("#ClubId").val(),
                    "ClubJobId": $("#cboClubJobId@(itemName)").val(),
                    "Users": $("#cboUsers@(itemName)").val().join(",")
                };

                let result = DataAccess.Add(targetUrl, postData, false, true);

                if (result) {
                    Return@(itemName)();
                }
            }
        }

        function Delete@(itemName)(MemberId) {
            swal.fire({
                titleText: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteClubMember", "Club")";
                    let postData = {
                        "MemberId": MemberId
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function Return@(itemName)() {
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName), .list-mode", "#editData@(itemName), .edit-mode");
            Query@(itemName)();
        }
    </script>
)