@using Business_Manager.Helpers
@{
    string itemName = "RestaurantManagement";
    string itemNameText = "餐廳資料建立";
    string authority = ViewBag.authority;

    ViewBag.Title = itemNameText;
}
@Html.Resource("css",
    @<style>
         .help-block {
             display: none;
             margin: 5px 0 0;
             border: 3px dashed #b1b1b1;
             border-radius: 5px;
             padding: 5px 10px;
         }

         dt {
             float: left;
             clear: left;
             width: 110px;
         }

             dt::after {
                 content: "：";
             }

         dd {
             margin: 0 0 0 80px;
             padding: 0;
             color: #36a2f5;
             font-weight: bold;
         }
    </style>
)

<input type="hidden" id="pageAuthority" value="@authority" />

<!--返回-->
<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>
<!--搜尋-->
<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 form-label" for="RestaurantNoQ@(itemName)">餐廳代號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="RestaurantNoQ@(itemName)" name="RestaurantNoQ@(itemName)" placeholder="請輸入餐廳代號" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 form-label" for="RestaurantNameQ@(itemName)">餐廳名稱</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="RestaurantNameQ@(itemName)" name="RestaurantNameQ@(itemName)" placeholder="請輸入餐廳名稱" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">狀態</label>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    啟用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)A" name="cbxStatusQ@(itemName)" value="A" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    停用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)S" name="cbxStatusQ@(itemName)" value="S" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>
<!--列表-->
<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);">
                            <i class="fal fa-search"></i>搜尋
                        </a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn btn-info auth-add" href="javascript:Edit@(itemName)(-1);"><i class="fas fa-plus"></i>新增</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th scope="col" style="min-width: 100px;">餐廳代號</th>
                                        <th scope="col" style="min-width: 150px;">餐廳名稱</th>
                                        <th scope="col" style="min-width: 170px;">聯絡人</th>
                                        <th scope="col" style="min-width: 170px;">連絡電話</th>
                                        <th scope="col" style="min-width: 200px;">地址</th>
                                        <th scope="col" style="min-width: 75px;">開始時間</th>
                                        <th scope="col" style="min-width: 75px;">結束時間</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">狀態</th>
                                        <th class="text-center" scope="col" style="min-width: 225px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--新增/編輯-->
<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="RestaurantId" name="RestaurantId" value="-1" />
                        <input type="hidden" id="MealId" name="MealId" value="-1" />
                        <div class="row mb-4">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group row">
                                    <label class="form-label col-3" for="txtRestaurantNo@(itemName)">餐廳代號 <span class="text-danger">*</span></label>
                                    <div class="col">
                                        <input type="text" class="form-control" id="txtRestaurantNo@(itemName)" name="txtRestaurantNo@(itemName)"
                                               data-msg-required="請輸入餐廳代號" data-rule-required="true" placeholder="請輸入餐廳代號"
                                               data-msg-maxlength="必須少於 50 個字元" maxlength="50" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group row">
                                    <label class="form-label col-3" for="txtRestaurantName@(itemName)">餐廳名稱 <span class="text-danger">*</span></label>
                                    <div class="col">
                                        <input type="text" class="form-control" id="txtRestaurantName@(itemName)" name="txtRestaurantName@(itemName)"
                                               data-msg-required="請輸入餐廳名稱" data-rule-required="true" placeholder="請輸入餐廳名稱"
                                               data-msg-maxlength="必須少於 200 個字元" maxlength="200" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab" style="white-space:unset;">
                            <ul class="nav nav-tabs nav-fill mb-3" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="tabActive" data-toggle="tab" href="#tabBasic">
                                        <i class="fas fa-clipboard"></i> 基本資料
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#tabTrade">
                                        <i class="fas fa-hand-holding-usd"></i> 付款資訊
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabBasic">
                                <div class="row mb-4">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group row">
                                            <label class="form-label col-3" for="txtResponsiblePerson@(itemName)">負責人</label>
                                            <div class="col">
                                                <input type="text" class="form-control" id="txtResponsiblePerson@(itemName)" name="txtResponsiblePerson@(itemName)"
                                                       data-msg-maxlength="必須少於 30 個字元" maxlength="30" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group row">
                                            <label class="form-label col-3" for="txtContact@(itemName)">聯絡人 <span class="text-danger">*</span></label>
                                            <div class="col">
                                                <input type="text" class="form-control" id="txtContact@(itemName)" name="txtContact@(itemName)"
                                                       data-msg-required="請輸入聯絡人" data-rule-required="true" placeholder="請輸入聯絡人"
                                                       data-msg-maxlength="必須少於 30 個字元" maxlength="30" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group row">
                                            <label class="form-label col-3" for="txtTelNo@(itemName)">電話 <span class="text-danger">*</span></label>
                                            <div class="col">
                                                <input type="text" class="form-control" id="txtTelNo@(itemName)" name="txtTelNo@(itemName)"
                                                       data-msg-required="請輸入電話" data-rule-required="true" placeholder="請輸入電話"
                                                       data-msg-maxlength="必須少於 20 個字元" maxlength="30" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group row">
                                            <label class="form-label col-3" for="txtFaxNo@(itemName)">傳真</label>
                                            <div class="col">
                                                <input type="text" class="form-control" id="txtFaxNo@(itemName)" name="txtFaxNo@(itemName)"
                                                       data-msg-maxlength="必須少於 20 個字元" maxlength="20" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group row">
                                            <label class="form-label col-3" for="txtAddress@(itemName)">地址 <span class="text-danger">*</span></label>
                                            <div class="col">
                                                <input type="text" class="form-control" id="txtAddress@(itemName)" name="txtAddress@(itemName)"
                                                       data-msg-required="請輸入地址" data-rule-required="true" placeholder="請輸入地址"
                                                       data-msg-maxlength="必須少於 255 個字元" maxlength="255" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group row">
                                            <label class="form-label col-3" for="txtGuiNumber@(itemName)">統一編號</label>
                                            <div class="col">
                                                <input type="text" class="form-control" id="txtGuiNumber@(itemName)" name="txtGuiNumber@(itemName)"
                                                       data-msg-maxlength="必須少於 20 個字元" maxlength="20" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group row">
                                            <label class="form-label col-3" for="txtEmail@(itemName)">電子郵件</label>
                                            <div class="col">
                                                <input type="text" class="form-control" id="txtEmail@(itemName)" name="txtEmail@(itemName)"
                                                       data-msg-maxlength="必須少於 60 個字元" maxlength="60" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group row">
                                            <label class="form-label col-3" for="txtStartTime@(itemName)">開始時間 <span class="text-danger">*</span></label>
                                            <div class="col">
                                                <input type="text" class="form-control timedropper" id="txtStartTime@(itemName)" name="txtStartTime@(itemName)" value="00:00"
                                                       data-msg-required="請輸入開始時間" data-rule-required="true"
                                                       data-msg-maxlength="必須少於 5 個字元" maxlength="5" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group row">
                                            <label class="form-label col-3" for="txtEndTime@(itemName)">結束時間 <span class="text-danger">*</span></label>
                                            <div class="col">
                                                <input type="text" class="form-control timedropper" id="txtEndTime@(itemName)" name="txtEndTime@(itemName)" value="00:00"
                                                       data-msg-required="請輸入結束時間" data-rule-required="true"
                                                       data-msg-maxlength="必須少於 5 個字元" maxlength="5" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tabTrade">
                                <div class="row mb-4">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group row">
                                            <label class="form-label col-3" for="txtAccountDay@(itemName)">結帳日期</label>
                                            <div class="input-group col">
                                                <span class="input-group-addon">每月</span>
                                                <input type="number" class="form-control" id="txtAccountDay@(itemName)" name="txtAccountDay@(itemName)"
                                                       min="1" max="31"/>
                                                <span class="input-group-addon">日</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group row">
                                            <label class="form-label col-3" for="cboPaymentType@(itemName)">付款方式 <span class="text-danger">*</span></label>
                                            <div class="col">
                                                <select class="form-control" id="cboPaymentType@(itemName)" name="cboPaymentType@(itemName)"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group row">
                                            <label class="form-label col-3" for="cboInvoiceCount@(itemName)">發票聯數</label>
                                            <div class="col">
                                                <select class="form-control" id="cboInvoiceCount@(itemName)" name="cboInvoiceCount@(itemName)"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group row">
                                            <label class="form-label col-3" for="txtRestaurantRemark@(itemName)">備註</label>
                                            <div class="col">
                                                <textarea class="form-control" id="txtRestaurantRemark@(itemName)" name="txtRestaurantRemark@(itemName)" rows="2"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group row">
                                            <label class="form-label col-3" for="cboRemitBank@(itemName)">付款銀行</label>
                                            <div class="col">
                                                <select class="form-control" id="cboRemitBank@(itemName)" name="cboRemitBank@(itemName)"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group row">
                                            <label class="form-label col-3" for="txtRemitAccount@(itemName)">銀行帳號</label>
                                            <div class="col">
                                                <textarea class="form-control" id="txtRemitAccount@(itemName)" name="txtRemitAccount@(itemName)" rows="2"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-right">
                <button type="button" id="btnPrev" class="btn sub-function" onclick="Prev@(itemName)()" style="display:none;"><i class="fas fa-arrow-alt-circle-left"></i>上一步</button>
                <button type="button" id="btnNext" class="btn btn-info" onclick="Next@(itemName)()"><i class="fas fa-arrow-alt-circle-right"></i>下一步</button>
                <button type="button" id="btnSave" class="btn btn-success" onclick="Save@(itemName)()" style="display:none;"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>
<!--其他分頁-->
<div class="advanced-block">
    <div class="row">
        <div class="col-12">
            <ul class="nav flag-tabs nav-fill" role="tablist">
                <li class="flag-item" id="RestaurantFile">
                    <a class="flag-link active" data-toggle="tab" href="#tabRestaurantFile">
                        <i class="fas fa-file-pdf"></i> 餐廳相關資料上傳
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane active" id="tabRestaurantFile">
            @Html.Partial("RestaurantFile")
        </div>
    </div>
</div>
<!--複製餐廳POP-->
<div class="modal fade" id="modalCopyRestaurant@(itemName)">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" onclick="CloseCopyRestaurant@(itemName)()">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container custom-form-container" autocomplete="off" id="CopyRestaurantForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboCompanyId@(itemName)">所屬公司</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboCompanyId@(itemName)" name="cboCompanyId@(itemName)"
                                        data-msg-required="請選擇所屬公司" data-rule-required="true"></select>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-success" onclick="CopyRestaurantSave@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
@<script>
    let objPage@(itemName) = {
        "pageIndex": 0,
        "pageSize": 10
    };
    let objForm@(itemName) = "#editForm@(itemName)";
    let restaurantId@(itemName);

    $(document).ready(function () {

        Suites.TimePicker("txtStartTime@(itemName)");
        Suites.TimePicker("txtEndTime@(itemName)");

        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            switch ($(this).attr("href")) {
                case "#tabBasic":
                    $("#btnPrev").hide();
                    $("#btnNext").show();
                    $("#btnSave").hide();
                    break;
                case "#tabTrade":
                    $("#btnPrev").show();
                    $("#btnNext").hide();
                    if ($(objForm@(itemName) + " fieldset").attr("disabled") == 'disabled') {
                        $("#btnSave").hide();
                    } else {
                        $("#btnSave").show();
                    }
                    break;
            }
        });

        Query@(itemName)();

    });

    function Query@(itemName)() {
        objPage@(itemName).pageIndex = 0;
        InitData@(itemName)(objPage@(itemName));

        $("#modalQuery@(itemName)").modal("hide");
    }

    function InitData@(itemName)(objPage) {
        let innerHtml = '';
        let pageCount = 0;

        let statusList = [];
        $.each($("input[name='cbxStatusQ@(itemName)']:checked"), function () {
            statusList.push($(this).val());
        });

        let targetUrl = "@Url.Action("GetRestaurant", "EbpBasicInformation")";
        let postData = {
            "OrderBy": "",
            "PageIndex": (objPage.pageIndex + 1),
            "PageSize": objPage.pageSize,
            "RestaurantNo": $("#RestaurantNoQ@(itemName)").val(),
            "RestaurantName": $("#RestaurantNameQ@(itemName)").val(),
            "Status": statusList.join(",")
        };
        let data = DataAccess.Get(targetUrl, postData, false);

        if (data.status == "success") {
            pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

            if (pageCount > 0) {
                objPage = PageCaculate(pageCount, objPage);

                $.each(data.result, function (i, item) {
                    let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                    innerHtml += `<tr>
                                   <td>${_row}</td>
                                   <td>${item.RestaurantNo}</td>
                                   <td class="ellipsis" data-toggle="tooltip" title="${item.RestaurantName}" style="max-width: 175px;">${item.RestaurantName}</td>
                                   <td class="ellipsis" data-toggle="tooltip" title="${item.Contact}" style="max-width: 175px;">${item.Contact}</td>
                                   <td class="ellipsis" data-toggle="tooltip" title="${item.TelNo}" style="max-width: 175px;">${item.TelNo}</td>
                                   <td class="ellipsis" data-toggle="tooltip" title="${item.Address}" style="max-width: 300px;">${item.Address}</td>
                                   <td>${item.StartTime}</td>
                                   <td>${item.EndTime}</td>
                                   <td class="text-center auth-status-switch">
                                     <span class="stack-title">狀態</span>
                                     <input type="checkbox" name="chkRmStatus@(itemName)" data-restaurant-id="${item.RestaurantId}" ${(item.Status == `A` ? `checked` : ``)} />
                                   </td>
                                   <td class="text-center un-auth auth-status-switch"><span class="stack-title">狀態</span>${StatusName(`Status`, item.Status)}</td>
                                   <td class="text-center active-content">
                                     <span class="stack-title">操作</span>
                                     <a class="active-link auth-update" href="javascript:Edit@(itemName)(${item.RestaurantId});"><i class="fas fa-edit"></i></a>
                                    <!--複製餐廳-->
                                      <a class="active-link auth-update" href="javascript:PopCopyRestaurant@(itemName)(${item.RestaurantId});"><i class="fas fa-copy"> 複製餐廳</i></a>
                                   </td>
                                 </tr>`;
                });
            } else {
                innerHtml += `<tr>
                                <td class="text-center" colspan="10" style="background-color: #fff3cd;">
                                  <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                </td>
                              </tr>`;
            }
        } else {
            alert(data.msg, "alert", 0);
        }

        $("#tblData@(itemName) tbody").html(innerHtml);
        TableComponentInit();
        Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

        //Suites.TimeDropper("#txtStartTime@(itemName)");
        //Suites.TimeDropper("#txtEndTime@(itemName)");

        $("input[name='chkRmStatus@(itemName)']").bootstrapToggle({
            on: "啟用",
            off: "停用",
            onstyle: "success",
            offstyle: "danger",
            size: "mini"
        });

        $("input[name='chkRmStatus@(itemName)'][data-restaurant-id]").change(StatusSwitch@(itemName));
    }

    function Edit@(itemName)(RestaurantId) {
        Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");
        $("#RestaurantId").val(RestaurantId ? RestaurantId : 0);

        Suites.TimePicker("txtStartTime@(itemName)");
        Suites.TimePicker("txtEndTime@(itemName)");

        $("#RestaurantNo@(itemName)").attr("readonly", false);
        $(".btn-outline-danger").show();
        $(".nav-item > a.nav-link i").eq(0).click();

        if (!isMobile) {
            $("#cboPaymentType@(itemName)").select2({
                width: "100%"
            });

            $("#cboInvoiceCount@(itemName)").select2({
                width: "100%"
            });

            $("#cboRemitBank@(itemName)").select2({
                width: "100%"
            });
        }

        ComboBoxs.Default("#cboPaymentType@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "Customer.Payment" }, "", "NA", "", "TypeName", "TypeNo");    //付款方式
        ComboBoxs.Default("#cboRemitBank@(itemName)", "@Url.Action("GetErpSysData", "BasicInformation")", { "ColumnName": "Bank" }, "", "NA", "", "BankName", "BankNo");    //付款銀行
        ComboBoxs.Default("#cboInvoiceCount@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "Restaurant.InvoiceCount" }, "", "NA", "", "TypeDesc", "TypeName");

        if (RestaurantId > 0) {
            $("#RestaurantNo@(itemName)").attr("readonly", true);
            ExpandRestaurantFile(RestaurantId);
            //ExpandRestaurantMeal(RestaurantId);

            let targetUrl = "@Url.Action("GetRestaurant", "EbpBasicInformation")";
            let postData = {
                "RestaurantId": RestaurantId
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                $.each(data.result, function (i, item) {
                    $("#txtRestaurantNo@(itemName)").val(item.RestaurantNo);
                    $("#txtRestaurantName@(itemName)").val(item.RestaurantName);
                    $("#txtGuiNumber@(itemName)").val(item.GuiNumber);
                    $("#txtResponsiblePerson@(itemName)").val(item.ResponsiblePerson);
                    $("#txtContact@(itemName)").val(item.Contact);
                    $("#txtTelNo@(itemName)").val(item.TelNo);
                    $("#txtFaxNo@(itemName)").val(item.FaxNo);
                    $("#txtEmail@(itemName)").val(item.Email);
                    $("#txtStartTime@(itemName)").val(item.StartTime);
                    $("#txtEndTime@(itemName)").val(item.EndTime);
                    $("#txtAddress@(itemName)").val(item.Address);
                    $("#txtAccountDay@(itemName)").val(item.AccountDay);
                    $("#cboPaymentType@(itemName)").val(item.PaymentType);
                    $("#cboInvoiceCount@(itemName)").val(item.InvoiceCount);
                    $("#txtRestaurantRemark@(itemName)").val(item.RestaurantRemark);
                    $("#cboRemitBank@(itemName)").val(item.RemitBank);
                    $("#txtRemitAccount@(itemName)").val(item.RemitAccount);
                });
            } else {
                alert(data.msg, "alert", 0);
            }
        }
    }

    function Save@(itemName)(RestaurantId) {
        if ($(objForm@(itemName)).valid()) {

            let RestaurantId = parseInt($("#RestaurantId").val());
            if (RestaurantId <= 0) {
                let targetUrl = "@Url.Action("AddRestaurant", "EbpBasicInformation")";
                let postData = {
                    "RestaurantId": RestaurantId,
                    "RestaurantNo": $("#txtRestaurantNo@(itemName)").val(),
                    "RestaurantName": $("#txtRestaurantName@(itemName)").val(),
                    "ResponsiblePerson": $("#txtResponsiblePerson@(itemName)").val(),
                    "Contact": $("#txtContact@(itemName)").val(),
                    "TelNo": $("#txtTelNo@(itemName)").val(),
                    "FaxNo": $("#txtFaxNo@(itemName)").val(),
                    "Email": $("#txtEmail@(itemName)").val(),
                    "StartTime": $("#txtStartTime@(itemName)").val(),
                    "EndTime": $("#txtEndTime@(itemName)").val(),
                    "GuiNumber": $("#txtGuiNumber@(itemName)").val(),
                    "Address": $("#txtAddress@(itemName)").val(),
                    "AccountDay": $("#txtAccountDay@(itemName)").val(),
                    "PaymentType": $("#cboPaymentType@(itemName)").val(),
                    "InvoiceCount": $("#cboInvoiceCount@(itemName)").val(),
                    "RestaurantRemark": $("#txtRestaurantRemark@(itemName)").val(),
                    "RemitBank": $("#cboRemitBank@(itemName)").val(),
                    "RemitAccount": $("#txtRemitAccount@(itemName)").val(),
                    "FileList": $("#txtRestaurantFile@(itemName)").val(),
                    "MealList": $("#txtRestaurantMeal@(itemName)").val()
                };
                
                let data = DataAccess.EditContinued(targetUrl, postData, false);
                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        RestaurantId = item.RestaurantId
                    });
                    $("#RestaurantId").val(RestaurantId);
                } else {
                    alert(data.msg, "alert",60);
                }
            } else {
                let targetUrl = "@Url.Action("UpdateRestaurant", "EbpBasicInformation")";
                let postData = {
                    "RestaurantId": RestaurantId,
                    "RestaurantNo": $("#txtRestaurantNo@(itemName)").val(),
                    "RestaurantName": $("#txtRestaurantName@(itemName)").val(),
                    "ResponsiblePerson": $("#txtResponsiblePerson@(itemName)").val(),
                    "Contact": $("#txtContact@(itemName)").val(),
                    "TelNo": $("#txtTelNo@(itemName)").val(),
                    "FaxNo": $("#txtFaxNo@(itemName)").val(),
                    "Email": $("#txtEmail@(itemName)").val(),
                    "StartTime": $("#txtStartTime@(itemName)").val(),
                    "EndTime": $("#txtEndTime@(itemName)").val(),
                    "GuiNumber": $("#txtGuiNumber@(itemName)").val(),
                    "Address": $("#txtAddress@(itemName)").val(),
                    "AccountDay": $("#txtAccountDay@(itemName)").val(),
                    "PaymentType": $("#cboPaymentType@(itemName)").val(),
                    "InvoiceCount": $("#cboInvoiceCount@(itemName)").val(),
                    "RestaurantRemark": $("#txtRestaurantRemark@(itemName)").val(),
                    "RemitBank": $("#cboRemitBank@(itemName)").val(),
                    "RemitAccount": $("#txtRemitAccount@(itemName)").val(),
                    "FileList": $("#txtRestaurantFile@(itemName)").val(),
                    "MealList": $("#txtRestaurantMeal@(itemName)").val()
                };

                let data = DataAccess.EditContinued(targetUrl, postData, false);
                if (data.status != "success") {
                    alert(data.msg, "alert", 60);
                }
            }
            ExpandRestaurantFile(RestaurantId);
        }
    }

    function PopCopyRestaurant@(itemName)(RestaurantId) {
        restaurantId@(itemName) = RestaurantId;

        ComboBoxs.Default("#cboCompanyId@(itemName)", "@Url.Action("GetCompany", "BasicInformation")", {}, "", "NA", "", "CompanyName", "CompanyId");

        $("#cboCompanyId@(itemName)").select2({
            dropdownAutoWidth: true,
            width: "100%"
        });

        $("#modalCopyRestaurant@(itemName)").modal({
            backdrop: "static",
            keyboard: false,
            show: true
        });
    }

    function CloseCopyRestaurant@(itemName)() {
        ResetForm("#CopyRestaurantForm@(itemName)");

        $("#modalCopyRestaurant@(itemName)").modal("hide");

        Query@(itemName)();
    }

    function CopyRestaurantSave@(itemName)() {
        swal.fire({
            titleText: "確認執行餐廳複製至該公司別嗎?",
            text: "此動作無法復原，請確認是否要執行!",
            icon: "warning",
            allowOutsideClick: false,
            allowEscapeKey: false,
            showCancelButton: true,
            confirmButtonColor: '#d33',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                let targetUrl = "@Url.Action("AddCopyRestaurant", "EbpBasicInformation")";
                let postData = {
                    "CompanyId": $("#cboCompanyId@(itemName)").val(),
                    "RestaurantId": restaurantId@(itemName)
                };

                let result = DataAccess.Update(targetUrl, postData, false, true);

                if (result) {
                    Query@(itemName)();
                    CloseCopyRestaurant@(itemName)();
                }
            }
        });
    }

    function Return@(itemName)() {
        ResetForm(objForm@(itemName));
        Switch("#listData@(itemName)", "#editData@(itemName), .unit-block");
        $(".advanced-block").hide(); //關掉單身頁面
        Query@(itemName)();
    }

    function StatusSwitch@(itemName)() {
        var RestaurantId = $(this).data("restaurant-id");

        let targetUrl = "@Url.Action("UpdateRestaurantStatus", "EbpBasicInformation")";
        let postData = {
            "RestaurantId": RestaurantId
        };

        let result = DataAccess.Update(targetUrl, postData, false, true);

        if (result) {
            Return@(itemName)();
            Query@(itemName)();
        }
    }

    function Next@(itemName)() {
        if ($(objForm@(itemName)).valid()) {
            $(".nav-item > .active").parent().next("li").find("a").trigger("click");
        }
    }
    function Prev@(itemName)() {
        $(".nav-item > .active").parent().prev("li").find("a").trigger("click");
    }
</script>
)