@using Business_Manager.Helpers
@{
    string itemName = "BatchManufactureOrder";
    string itemNameText = "批量開立製令作業";
    string authority = ViewBag.authority;

    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
         .batch-container {
             box-shadow: 0 .5rem .5rem rgba(151, 151, 151, .15);
             padding: 18px;
             background: #fff;
             margin-bottom: 15px;
         }

         .expand-container {
             padding: 10px;
         }

         .batch-title {
             font-size: 25px;
             font-weight: 600;
         }

         .batch-order-title {
             font-size: 25px;
             font-weight: 600;
             background: #adcde9;
             padding: 12px;
         }

         .batch-pr-title {
             font-size: 25px;
             font-weight: 600;
             background: #dbc0a9;
             padding: 12px;
         }

         .batch-navarbar {
             display: flex;
             gap: 12px;
             margin-bottom: 15px;
         }

             .batch-navarbar a {
                 padding: 18px;
                 background: #dfdfdf;
                 border-radius: 8px;
                 transition: all .2s;
                 font-size: 20px;
                 font-weight: 600;
             }

                 .batch-navarbar a:hover {
                     background: #f3f2f2;
                 }

         .batch-active {
             background: #ed6666 !important;
             color: #fff;
         }

             .batch-active:hover {
                 color: #fff !important;
             }

         .expand-btn {
             background: #425275 !important;
             color: #fff !important;
         }

             .expand-btn:hover {
                 background: #6d85b9 !important;
             }

         .bom-expand {
             display: flex;
             gap: 15px;
             align-items: center;
             flex-direction: column;
         }

         .form-item {
             width: 100%;
         }

             .form-item label {
                 font-size: 18px;
                 font-weight: 600;
             }

         .search-group {
             display: flex;
             align-items: center;
             gap: 5px;
             justify-content: center;
         }

         .batch-default-btn {
             padding: 18px;
             background: #dbe2e7;
             border-radius: 8px;
             color: #6d5f5f;
             font-size: 18px;
             font-weight: 600;
         }

         .batch-search-btn {
             padding: 8px 12px;
             background: #dbe2e7;
             border-radius: 8px;
             color: #6d5f5f;
             font-size: 14px;
             font-weight: 600;
         }

         .spread-container {
             overflow: scroll;
         }

         .cell-customer01 {
             background: #a6c9e7;
             font-size: 18px;
             font-weight: 600;
             min-width: 300px;
         }

         .cell-customer02 {
             background: #e7c19f;
             font-size: 18px;
             font-weight: 600;
         }

         .cell-customer03 {
             background: #c7c0a2;
             font-size: 18px;
             font-weight: 600;
         }

         .cell-customer04 {
             background: #df8d73;
             font-size: 18px;
             font-weight: 600;
         }

         .cell-customer05 {
             background: #ebc2cd;
             font-size: 18px;
             font-weight: 600;
         }

         .cell-customer06 {
             background: #f9bdaa;
             font-size: 18px;
             font-weight: 600;
         }

         .cell-customer07 {
             background: #68cacf;
             font-size: 18px;
             font-weight: 600;
         }

         .cell-customer08 {
             background: #ef8f92;
             font-size: 18px;
             font-weight: 600;
         }

         .cell-customer09 {
             background: #96d1e3;
             font-size: 18px;
             font-weight: 600;
         }

         .cell-customer10 {
             background: #a7c9f5;
             font-size: 18px;
             font-weight: 600;
         }

         .cell-customer11 {
             background: #ddd2b9;
             font-size: 18px;
             font-weight: 600;
         }

         .expand-modal-title {
             font-weight: 600;
         }

        .mtl-group {
            min-height: 39px;
            height: 100% !important;
        }

        .tag-group {
            display: inline-block;
            background-color: #ebebeb;
            border-radius: 4px;
            cursor: text;
            line-height: 1;
            padding: 0.35rem 0.5rem;
            margin: 0.15rem 0.375rem 0.15rem 0;
            white-space: nowrap;
            color: #0580ff;
            font-weight: 700;
        }

        .error {
            color: #d50a33;
        }
    </style>
                                                            )

<link href="@Url.Content("~/Content/dhtmlx/spreadsheet.commercial/4.3.0/spreadsheet.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/dhtmlx/spreadsheet.commercial/4.3.0/spreadsheet.min.js")"></script>

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="batch-container" style="margin-top: 15px;">
    <div class="batch-title">
        <span>@itemNameText</span>
    </div>
</div>

<div class="modal fade" id="modalExpand@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title expand-modal-title">自動由BOM展開製令結構</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form autocomplete="off" id="editForm@(itemName)">
                    <div class="expand-container bom-expand">
                        <div class="form-item">
                            <label>單別</label>
                            <select class="form-control" id="cboWoErpPrefix@(itemName)" required>
                                <option value="5101">5101</option>
                                <option value="5102">5102</option>
                            </select>
                        </div>
                        <div class="form-item">
                            <label>單據日期</label>
                            <input type="date" id="txtDocDate@(itemName)" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" required />
                        </div>
                        <div class="form-item">
                            <div>
                                <label>品號</label>
                                <input type="checkbox" id="cbxBomExpandFlag@(itemName)" style="margin-left: 10px;" checked /> <label style="color: #2519c3;" for="cbxBomExpandFlag@(itemName)">BOM自動延展</label>
                            </div>
                            <div class="search-group">
                                <div class="mtl-group form-control">
                                </div>
                                <a class="batch-search-btn pop-view-mtlitem" href="javascript:PopViewMtlItem@(itemName)();"><i class="fas fa-search"></i></a>
                            </div>
                        </div>
                        <div class="form-item">
                            <label>計畫生產數量</label>
                            <input type="text" id="txtPlanQty@(itemName)" class="form-control" placeholder="請輸入生產數量" required />
                        </div>
                        <div class="form-item">
                            <label>來源訂單</label>
                            <div class="search-group">
                                <input type="text" id="txtSoErpFullNo@(itemName)" class="form-control" readonly required />
                                <input type="hidden" id="txtSoDetailId@(itemName)" required />
                                <input type="hidden" id="txtSoSequence@(itemName)" required />
                                <a class="batch-search-btn pop-view-mtlitem" href="javascript:PopViewSoDetail@(itemName)();"><i class="fas fa-search"></i></a>
                            </div>
                        </div>
                        <div class="form-item">
                            <label>預計開工時間</label>
                            <input type="date" id="txtExpectedStart@(itemName)" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" required />
                        </div>
                        <div class="form-item">
                            <label>預計完工時間</label>
                            <input type="date" id="txtExpectedEnd@(itemName)" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" required />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a class="batch-default-btn" href="javascript: ExpandStructure@(itemName)();">自動展開</a>
            </div>
        </div>
    </div>
</div>

<div class="batch-container spread-container">
    <div class="batch-navarbar">
        <a id="aExpand" class="expand-btn" href="javascript: PopModalExpand@(itemName)();"><i class="fas fa-arrows-alt"></i> BOM自動展出</a>
        <a id="aTabMo" class="batch-active" href="javascript: TabSwitch('MO');">開立製令</a>
        <a id="aTabPr" href="javascript: TabSwitch('PR');">開立請購單</a>
    </div>
    <div>
        <select class="form-control" id="cboEditMode">
            <option value="Y">系統選擇模式</option>
            <option value="N">自定義模式</option>
        </select>
    </div>
    <div class="spreadsheet">
        @Html.Partial("ViewBatchManufactureOrder")
        @Html.Partial("ViewBatchPurchaseRequisition")
    </div>
</div>

@*@Html.Partial("ViewMtlItem")*@
@Html.Partial("ViewSoDetail")
@Html.Partial("ViewMtlItemForSpreadsheet")
@Html.Partial("ViewSoDetailForSpreadsheet")
@Html.Partial("ViewMtlItemForBatchMo")

@Html.Resource("js",
    @<script>
        let objForm@(itemName) = "#editForm@(itemName)";
        let companyId;

        $(document).ready(function () {
            GetUserInfo@(itemName)();

            PopViewBatchManufactureOrder();

            ComboBoxs.WithText("#cboWoErpPrefix@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "WipErpPrefix" }, "", "NA", "", "WoErpPrefixName", "WoErpPrefix");

            $("#cboWoErpPrefix@(itemName)").select2({
                width: "100%"
            });
        });

        function GetUserInfo@(itemName)() {
            pageAuthoritys@(itemName) = JSON.parse($(`#pageAuthority`).val());

            let targetUrl = "@Url.Action("GetLoginByKey", "User")";
            let postData = {
                "UserNo": $.cookie("Login"),
                "KeyText": $.cookie("LoginKey")
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                companyId = data.returnData.CompanyId;
            } else {
                alert(data.msg, "alert", 0);
            }
        }

        function PopViewMtlItem@(itemName)() {
            let popConfig = {
                targetSelector: "#txtMtlItemId@(itemName)",
                popFunction: "PopViewMtlItemForBatchMo",
                objectMtlItemId: "#txtMtlItemId@(itemName)",
                objectMtlItemNo: "#txtMtlItemNo@(itemName)",
                objectCheckMtlDate: "@DateTime.Now.ToString("yyyy-MM-dd")",
            };
            PopViewMtlItemForBatchMo(popConfig);
        }

        function PopViewSoDetail@(itemName)() {
            let popConfig = {
                targetSelector: "#txtSoDetailId@(itemName)",
                popFunction: "PopViewSoDetail",
                objectSoDetailId: "#txtSoDetailId@(itemName)",
                objectSoErpFullNo: "#txtSoErpFullNo@(itemName)",
                objectSoSequence: "#txtSoSequence@(itemName)",
                type: "radio"
            };
            PopViewSoDetail(popConfig);

            $("#txtSoSequence@(itemName)").change(function (i, item) {
                let soErpFullNo = $("#txtSoErpFullNo@(itemName)").val();
                if (soErpFullNo.indexOf('(') != -1) {
                    soErpFullNo = soErpFullNo.split('(')[0];
                }
                $("#txtSoErpFullNo@(itemName)").val(soErpFullNo + "(" + $(this).val() + ")");
            });
        }

        function ExpandStructure@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                if ($("#txtPlanQty@(itemName)").val() == "") {
                    alert("計畫生產數量不能為空!!", alert);
                    return false;
                }

                if (mtlItemJson.mtlItemInfo.length <= 0) {
                    alert("至少需要輸入一筆品號!!", alert);
                    return false;
                }

                let targetUrl = "@Url.Action("ExpandStructure", "Production")";

                let postData = {
                    "UploadJson": JSON.stringify(mtlItemJson),
                    "BomExpandFlag": $("#cbxBomExpandFlag@(itemName)").prop("checked") == true ? "Y" : "N"
                };

                let data = DataAccess.Get(targetUrl, postData, false);
                if (data.status == "success") {
                    if (data.result.length > 0) {
                        let MoListJson =
                        {
                            MoListInfo: []
                        };
                        let PrListJson =
                        {
                            PrListInfo: []
                        };
                        $.each(data.result, function (i, item) {
                            let planQty = 0;
                            let mainQty = $("#txtPlanQty@(itemName)").val();
                            if (item.ParentMtlItemId == null) {
                                planQty = mainQty;
                            }
                            else {
                                planQty = parseFloat(mainQty) * parseFloat(item.Base) * parseFloat(item.CompositionQuantity);
                            }

                            if (item.ItemAttribute == "M") {
                                let inputMoListInfo =
                                {
                                    "WoErpPrefix": $("#cboWoErpPrefix@(itemName)").val(),
                                    "WoErpNo": GenerateRandomString(11),
                                    "DocDate": $("#txtDocDate@(itemName)").val(),
                                    "MtlItemNo": item.MtlItemNo,
                                    "MtlItemName": item.MtlItemName,
                                    "MtlItemSpec": item.MtlItemSpec,
                                    "PlanQty": planQty,
                                    "InventoryNo": item.InventoryNo,
                                    "ExpectedStart": $("#txtExpectedStart@(itemName)").val(),
                                    "ExpectedEnd": $("#txtExpectedEnd@(itemName)").val(),
                                    "SoDetailId": $("#txtSoDetailId@(itemName)").val(),
                                    "SoErpFullNo": $("#txtSoErpFullNo@(itemName)").val(),
                                }
                                MoListJson.MoListInfo.push(inputMoListInfo);
                            }
                            else if (item.ItemAttribute == "P") {
                                let inputPrListJson =
                                {
                                    "PrErpPrefix": "3101",
                                    "PrErpNo": GenerateRandomString(11),
                                    "DocDate": $("#txtDocDate@(itemName)").val(),
                                    "DemandDate": $("#txtDocDate@(itemName)").val(),
                                    "MtlItemNo": item.MtlItemNo,
                                    "MtlItemName": item.MtlItemName,
                                    "MtlItemSpec": item.MtlItemSpec,
                                    "InventoryNo": item.InventoryNo,
                                    "PrQty": planQty,
                                    "UomNo": item.UomNo,
                                    "SoDetailId": $("#txtSoDetailId@(itemName)").val(),
                                    "SoErpFullNo": $("#txtSoErpFullNo@(itemName)").val(),
                                    "InventoryQty": item.InventoryQty,
                                    "PoQty": item.PoQty
                                }
                                PrListJson.PrListInfo.push(inputPrListJson);
                            }
                        });

                        LoadMoSpreadsheet(MoListJson);
                        LoadPrSpreadsheet(PrListJson);
                    }

                    $("#modalExpand@(itemName)").modal("hide");
                }
                else {
                    alert(data.msg, "alert");
                }
            };
        }

        function GenerateRandomString(length) {
            let characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz';
            let result = '';
            let charactersLength = characters.length;

            for (let i = 0; i < length; i++) {
                const randomIndex = Math.floor(Math.random() * charactersLength);
                result += characters.charAt(randomIndex);
            }

            return result;
        }

        function TabSwitch(tabName, e) {
            $("a.batch-active").removeClass("batch-active");
            switch (tabName) {
                case "MO":
                    PopViewBatchManufactureOrder();
                    $("#aTabMo").addClass("batch-active");
                    break;
                case "PR":
                    PopViewBatchPurchaseRequisition();
                    $("#aTabPr").addClass("batch-active");
                    break;
                default:
                    break;
            }
        }

        function PopModalExpand@(itemName)() {
            ComboBoxs.WithText("#cboWoErpPrefix@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "WipErpPrefix" }, "", "NA", "", "WoErpPrefixName", "WoErpPrefix");
            $("#txtDocDate@(itemName)").val("@DateTime.Now.ToString("yyyy-MM-dd")");
            $(".mtl-group").html("");
            mtlItemJson.mtlItemInfo = [];
            $("#txtMtlItemNo@(itemName)").val("");
            $("#txtMtlItemId@(itemName)").val("");
            $("#txtPlanQty@(itemName)").val("");
            $("#txtSoDetailId@(itemName)").val("");
            $("#txtSoErpFullNo@(itemName)").val("");
            $("#txtExpectedStart@(itemName)").val("@DateTime.Now.ToString("yyyy-MM-dd")");
            $("#txtExpectedEnd@(itemName)").val("@DateTime.Now.ToString("yyyy-MM-dd")");
            $("#modalExpand@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });
        }

        function ReloadMtlItemJson() {
            let innerHtml = '';
            $.each(mtlItemJson.mtlItemInfo, function (i, item) {
                innerHtml += `<div class="tag-group">
                                <span>${item.MtlItemNo}</span>
                                <a href="javascript:DeleteTag@(itemName)('${item.MtlItemId}');">
                                    <i style="color:slategrey" class="fas fa-times"></i>
                                </a>
                              </div>`;
            });

            $(".mtl-group").html(innerHtml);
        }

        function DeleteTag@(itemName)(MtlItemId) {
            $.each(mtlItemJson.mtlItemInfo, function (i, item) {
                if (item.MtlItemId == MtlItemId) {
                    mtlItemJson.mtlItemInfo.splice(i, 1);
                    return false;
                }
            });

            ReloadMtlItemJson();
        }
    </script>
                                        )