
@using Business_Manager.Helpers
@{
    string itemName = "LetteringChangeManagment";
    string itemNameText = "屬性置換維護";
    string authority = ViewBag.authority;
    ViewBag.Title = "屬性置換維護";
}

@Html.Resource("css",
    @<style>

         .help-block dt {
             width: 150px;
         }

        .btn-box {
            padding: 15px;
            max-width: 500px;
            position: relative;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }

             .btn-box a {
                 padding: 15px;
                 min-width: 80px;
             }
    </style>
)

<!--Title-->
<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">屬性置換區</h1>
        <div class="unit-block" style="display: block;">

        </div>
    </div>
</div>

<!--搜尋-->
<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">ERP原始製令單號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtOriWoErpFullNoQ@(itemName)" name="txtOriWoErpFullNoQ@(itemName)" placeholder="請輸入原始製令單號">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">ERP目前製令單號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtNewWoErpFullNoQ@(itemName)" name="txtNewWoErpFullNoQ@(itemName)" placeholder="請輸入目前製令單號">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">部番</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMtlItemNameQ@(itemName)" name="txtMtlItemNameQ@(itemName)" placeholder="請輸入部番">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">模仁條碼</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtBarcodeNoQ@(itemName)" name="txtBarcodeNoQ@(itemName)" placeholder="請輸入模仁條碼">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">原始刻號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtOriItemValueQ@(itemName)" name="txtOriItemValueQ@(itemName)" placeholder="請輸入刻號">
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<!--編輯-->
<div class="row" id="editData@(itemName)" style="">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-lg-5">
                        <form class="container custom-form-container" autocomplete="off" id="OriItem" novalidate="novalidate">
                            <fieldset>
                                <input type="hidden" id="ProcessAttrLogId@(itemName)" name="ProcessAttrLogId@(itemName)" value="-1" />
                                <input type="hidden" id="ProcessAttrId@(itemName)" name="ProcessAttrId@(itemName)" value="-1" />
                                <input type="hidden" id="OriBarcodeAttrId@(itemName)" name="OriBarcodeAttrId@(itemName)" value="-1" />
                                <input type="hidden" id="NewBarcodeAttrId@(itemName)" name="NewBarcodeAttrId@(itemName)" value="-1" />
                                <input type="hidden" id="BarcodeProcessId@(itemName)" name="BarcodeProcessId@(itemName)" value="-1" />
                                <input type="hidden" id="OriBarcodeId@(itemName)" name="OriBarcodeId@(itemName)" value="-1" />
                                <input type="hidden" id="NewBarcodeId@(itemName)" name="NewBarcodeId@(itemName)" value="-1" />
                                <input type="hidden" id="OriMoId@(itemName)" name="OriMoId@(itemName)" value="-1" />
                                <input type="hidden" id="NewMoId@(itemName)" name="NewMoId@(itemName)" value="-1" />
                                <div class="form-group column">
                                    <label class="col-md-2 col-form-label" for="cboAttributeType@(itemName)">類型<span class="text-danger">*</span></label>
                                    <label class="col-md-5 col-form-label" for="txtInputValue@(itemName)">產品條碼、原始刻號、鍋次<span class="text-danger">*</span></label>
                                    <label class="col-md-3 col-form-label" for="txtOriWoErpFullNo@(itemName)" style="padding-left:0px;">製令</label>
                                    <div class="col-12 ">
                                        <div class="input-group">
                                            <select class="form-control col-2" id="cboAttributeType@(itemName)" name="cboAttributeType@(itemName)" style="margin-right: 5px;"
                                                    data-msg-required="請輸入置換類型" data-rule-required="true"></select>

                                            <input type="text" class="form-control col-5" id="txtInputValue@(itemName)" name="txtInputValue@(itemName)" placeholder="請輸入產品條碼、原始刻號、鍋次"
                                                   data-msg-required="請輸入產品條碼、原始刻號、鍋次" data-rule-required="true">

                                            <div class="input-group col-5" style="padding-right:0px; padding-left: 5px;">
                                                <input type="text" class="form-control" id="txtOriWoErpFullNo@(itemName)" name="txtOriWoErpFullNo@(itemName)" placeholder="請選擇製令" readonly />
                                                <span class="input-group-append">
                                                    <a id="aMfgBarcodeAttribute@(itemName)" class="btn btn-primary" href="javascript: PopViewMfgBarcodeAttribute();"><i class="fal fa-search"></i></a>
                                                    <a class="btn btn-outline-danger no-edit-detail" title="清除"
                                                       onclick="$('#txtOriWoErpFullNo@(itemName)').val('')">
                                                        <i class="fas fa-eraser"></i>
                                                    </a>
                                                </span>
                                            </div>
                                        </div>
                                        <dl class="help-block" style="display: grid;">
                                            <dt>原始屬性條碼</dt>
                                            <dd id="OriItemNo@(itemName)"></dd>
                                            <dt>原始屬性資料</dt>
                                            <dd id="OriItemValue@(itemName)"></dd>
                                        </dl>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="txtRemark@(itemName)" name="txtRemark@(itemName)" placeholder="請輸入備註(置換原因)"
                                               data-msg-required="請輸入備註(置換原因)" data-msg-maxlength="必須少於250個字元" maxlength="250">
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <div class="col-12 col-lg-2 lettering-control" style="display: none;">
                        <div class="btn-box" style="padding:15px;">
                            <a class="btn btn-secondary" href="javascript:void(0);" onclick="Reset@(itemName)()" style=""><i class="fas fa-random"></i>重置</a>
                            <a class="btn btn-success lettering-exchange" href="javascript:void(0);" onclick="Exchange@(itemName)()" style="padding: 15px; min-width:80px;"><i class="fas fa-copy"></i>置換</a>
                            <a class="btn btn-info lettering-update" href="javascript:void(0);" onclick="Update@(itemName)()" style="padding: 15px; min-width:80px;"><i class="fas fa-edit"></i>更新</a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-5 lettering-edit" style="display: none;">
                        <form class="container" autocomplete="off">
                            <fieldset>
                                <div class="row">
                                    <div class="col-8 pr-0">
                                        <div class="form-group row">
                                            <label class="col-12 col-form-label" for="txtUpdInputValue@(itemName)">欲置換之產品條碼、原始刻號、鍋次<span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <div class="input-group">
                                                    <input type="text" class="form-control col-7" id="txtUpdInputValue@(itemName)" name="txtUpdInputValue@(itemName)" placeholder="請輸入欲置換之資訊"
                                                           data-msg-required="請輸入欲置換之資訊" data-rule-required="true" />
                                                    <input type="number" class="form-control col-7 lettering-sort" id="txtUpdSortNumber@(itemName)" name="txtUpdSortNumber@(itemName)" placeholder="請輸入流水號"
                                                           data-msg-required="請輸入流水號" data-rule-required="true"
                                                           style="display: none;" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4 pl-0">
                                        <div class="form-group row lettering-wip" style="display: none;">
                                            <label class="col-12 col-form-label" for="txtNewWoErpFullNo@(itemName)">製令</label>
                                            <div class="col-12">
                                                <div class="input-group" style="padding-right: 0px; padding-left: 5px;">
                                                    <input type="text" class="form-control" id="txtNewWoErpFullNo@(itemName)" name="txtNewWoErpFullNo@(itemName)" placeholder="請選擇製令" readonly />
                                                    <span class="input-group-append">
                                                        <a id="aMfgBarcodeAttribute@(itemName)" class="btn btn-primary" href="javascript: PopViewMfgBarcodeAttribute();"><i class="fal fa-search"></i></a>
                                                        <a class="btn btn-outline-danger no-edit-detail" title="清除"
                                                           onclick="$('#txtNewWoErpFullNo@(itemName)').val('')">
                                                            <i class="fas fa-eraser"></i>
                                                        </a>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <dl class="help-block lettering-help">
                                            <dt>欲置換屬性條碼</dt>
                                            <dd id="NewItemNo@(itemName)"></dd>
                                            <dt>欲置換屬性刻號</dt>
                                            <dd id="NewItemValue@(itemName)"></dd>
                                        </dl>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--列表-->
<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">屬性置換歷史資料</h1>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);"><i class="fal fa-search"></i>搜尋</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 30px;">#</th>
                                        <th scope="col" style="min-width: 100px;">原始製令</th>
                                        <th scope="col" style="min-width: 100px;">目前製令</th>
                                        <th scope="col" style="min-width: 150px;">部番</th>
                                        <th scope="col" style="min-width: 150px;">模仁條碼</th>
                                        <th scope="col" style="min-width: 150px;">原始刻號</th>
                                        <th scope="col" style="min-width: 150px;">目前刻號</th>
                                        <th scope="col" style="min-width: 150px;">備註</th>
                                        <th scope="col" style="min-width: 100px;">置換時間</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("ViewMfgBarcodeAttribute")

@Html.Resource("js",
    @<script>
        var barcodeNo@(itemName) = "";//產品條碼
        var itemNo@(itemName) = "";//類型
        var inputValue = "";//輸入值
        
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };

        $(document).ready(function () {
            Query@(itemName)();
            ComboBoxs.Default("#cboAttributeType@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "RoutingProcessItem.ItemNo" }, "", "NA", "", "TypeName", "TypeNo");    //類型

            //判斷選擇類型，隱藏功能
            $("#cboAttributeType@(itemName)").change(function () {
                $(".lettering-control").show();
                $(".lettering-edit").show();
                $(".lettering-sort").hide();
                $(".lettering-exchange").hide();
                $(".lettering-update").hide();
                $(".lettering-wip").hide();
                $(".help-block.lettering-help").hide();

                if ($("#txtInputValue@(itemName)").val()) $("#txtInputValue@(itemName)").trigger("change");
            });

            $("#txtInputValue@(itemName)").change(function () {
                if ($(this).val()) {
                    switch ($("#cboAttributeType@(itemName)").val()) {
                        case "Cavity":
                            if ($(this).val().length > 10) {
                                OriItemInfo@(itemName)($(this).val(), $("#cboAttributeType@(itemName)").val());
                            }
                            break;
                        default:
                            OriItemInfo@(itemName)($(this).val(), $("#cboAttributeType@(itemName)").val());
                            break;
                    }
                } else {
                    alert("需選擇置換類型");
                }
            });

            $("#txtUpdInputValue@(itemName)").on('input change', function (e) {
                // Prevent multiple rapid calls
                clearTimeout(window.updInputTimeout@(itemName));
                window.updInputTimeout@(itemName) = setTimeout(() => {
                    if ($(this).val()) {
                        switch ($("#cboAttributeType@(itemName)").val()) {
                            case "Lettering":
                                $(".lettering-wip").show();
                                $(".help-block.lettering-help").attr("style", "display: grid;");
                                UpdItemInfo@(itemName)($(this).val(), $("#cboAttributeType@(itemName)").val());
                                break;
                            case "Cavity":
                                if ($(this).val().length > 10) {
                                    UpdItemInfo@(itemName)($(this).val(), $("#cboAttributeType@(itemName)").val());
                                }
                                break;
                            default:
                                UpdItemInfo@(itemName)($(this).val(), $("#cboAttributeType@(itemName)").val());
                                break;
                        }

                        // Your existing button visibility logic
                        if ($("#cboAttributeType@(itemName)").val() != "Lettering" && $("#txtUpdInputValue@(itemName)").val() != "") {
                            $(".lettering-sort").hide();
                            $(".lettering-exchange").hide();
                            $(".lettering-update").show();
                        } else if ($("#txtUpdInputValue@(itemName)").val() != "" && $("#NewItemValue@(itemName)").html() == "查無資料") {
                            $(".lettering-sort").show();
                            $(".lettering-update").show();
                            $(".lettering-exchange").hide();
                        } else {
                            $(".lettering-sort").hide();
                            $(".lettering-exchange").show();
                            $(".lettering-update").hide();
                        }
                    } else {
                        alert("需選擇置換類型");
                    }
                }, 300); // Debounce for 300ms
            });
        

            //輸入Enter後即可搜尋
            @*$("#txtInputValue@(itemName)").keydown(function (event) {
                if ($("#cboAttributeType@(itemName)").val() == "") {
                    alert("需選擇置換類型", "alert");
                } else {
                    if (event.keyCode == 13 && $(this).val() != "") {
                        //字串長度
                        if (($(this).val().length > 10) && $("#cboAttributeType@(itemName)").val() == "Lettering") { //使用刻號查詢(刻號置換)
                            itemNo@(itemName) = "Lettering";
                            barcodeNo@(itemName) = $("#txtInputValue@(itemName)").val();
                            OriItemInfo@(itemName)(barcodeNo@(itemName), itemNo@(itemName));
                        } else if (($(this).val().length < 10) && $("#cboAttributeType@(itemName)").val() == "Lettering") { //使用模仁條碼查詢(刻號置換)
                            itemNo@(itemName) = "Lettering";
                            barcodeNo@(itemName) = $("#txtInputValue@(itemName)").val();
                            OriItemInfo@(itemName)(barcodeNo@(itemName), itemNo@(itemName));
                        } else if (($(this).val().length > 10) && $("#cboAttributeType@(itemName)").val() == "Cavity") {
                            itemNo@(itemName) = "Cavity";
                            barcodeNo@(itemName) = $("#txtInputValue@(itemName)").val();
                            OriItemInfo@(itemName)(barcodeNo@(itemName), itemNo@(itemName));
                        } else {
                            itemNo@(itemName) = "PotNumber";
                            barcodeNo@(itemName) = $("#txtInputValue@(itemName)").val();
                            OriItemInfo@(itemName)(barcodeNo@(itemName), itemNo@(itemName));
                        }
                    }
                }
            });*@

            @*$("#txtUpdInputValue@(itemName)").keydown(function (event) {
                if (event.keyCode == 13 && $(this).val() != "") {
                    //字串長度
                    if (($(this).val().length > 10) && $("#cboAttributeType@(itemName)").val() == "Lettering") {
                        itemNo@(itemName) = "Lettering";
                        barcodeNo@(itemName) = $("#txtUpdInputValue@(itemName)").val();
                        UpdItemInfo@(itemName)(barcodeNo@(itemName), itemNo@(itemName));
                    } else if (($(this).val().length < 10) && $("#cboAttributeType@(itemName)").val() == "Lettering") {
                        itemNo@(itemName) = "Lettering";
                        barcodeNo@(itemName) = $("#txtUpdInputValue@(itemName)").val();
                        UpdItemInfo@(itemName)(barcodeNo@(itemName), itemNo@(itemName));
                    } else if (($(this).val().length > 10) && $("#cboAttributeType@(itemName)").val() == "Cavity") {
                        itemNo@(itemName) = "Cavity";
                        barcodeNo@(itemName) = $("#txtUpdInputValue@(itemName)").val();
                        UpdItemInfo@(itemName)(barcodeNo@(itemName), itemNo@(itemName));
                    } else {
                        itemNo@(itemName) = "PotNumber";
                        barcodeNo@(itemName) = $("#txtUpdInputValue@(itemName)").val();
                        UpdItemInfo@(itemName)(barcodeNo@(itemName), itemNo@(itemName));
                    }

                    //控制刻字按鈕
                    if ($("#txtUpdInputValue@(itemName)").val() != "" && $("#NewItemValue@(itemName)").html() == "查無資料") {
                        $(".update-mode").show();   //更新
                        $(".edit-mode").hide();     //置換
                    } else {
                        $(".edit-mode").show();     //置換
                        $(".update-mode").hide();   //更新
                    }
                }
            });*@
        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));
            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;
            let targetUrl = "@Url.Action("GetBarcodeProcessAttribute", "Production")";

            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "OriWoErpFullNo": $("#txtOriWoErpFullNoQ@(itemName)").val(),
                "NewWoErpFullNo": $("#txtNewWoErpFullNoQ@(itemName)").val(),
                "MtlItemName": $("#txtMtlItemNameQ@(itemName)").val(),
                "BarcodeNo": $("#txtBarcodeNoQ@(itemName)").val(),
                "OriItemValue": $("#txtOriItemValueQ@(itemName)").val()
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;
                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);
                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";
                        innerHtml += `<tr>
                                        <td style="max-width: 50px;">${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.OriWoErpFullNo}" style="max-width: 150px;">${item.OriWoErpFullNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.NewWoErpFullNo}" style="max-width: 150px;">${item.NewWoErpFullNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MtlItemName}" style="max-width: 200px;">${item.MtlItemName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.BarcodeNo}" style="max-width: 200px;">${item.BarcodeNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.OriItemValue}" style="max-width: 200px;">${item.OriItemValue}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.NewItemValue}" style="max-width: 200px;">${item.NewItemValue}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Remark}" style="max-width: 200px;">${item.Remark}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ReplacementDate}" style="max-width: 150px;">${item.ReplacementDate}</td>
                                      </tr>`;
                    });
                }
                else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="11" style="background-color: #fff3cd;">
                                        <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            }
            else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));
        }

        //原始資料
        function OriItemInfo@(itemName)(barcodeNo, itemNo) {

            let targetUrl = "@Url.Action("GetBarcodeAttribute", "Production")";
            let postData = {
                "BarcodeNo": barcodeNo,
                "ItemNo": itemNo
            };
            let data = DataAccess.Get(targetUrl, postData, false);
            if (data.status == "success") {
                if (data.result.length > 0) {
                    $.each(data.result, function (i, item) {

                        if (data.result.length == 1) {
                            $("#OriBarcodeAttrId@(itemName)").val(item.BarcodeAttrId);
                            $("#OriBarcodeId@(itemName)").val(item.BarcodeId);
                            $("#OriMoId@(itemName)").val(item.MoId);
                            $("#OriItemNo@(itemName)").html(item.BarcodeNo);
                            $("#OriItemValue@(itemName)").html(item.ItemValue);
                            $("#txtOriWoErpFullNo@(itemName)").val(item.WoErpFullNo);

                            $("#BarcodeId@(itemName)").val(item.BarcodeId);
                            $("#MoId@(itemName)").val(item.MoId);
                        } else if (data.result.length > 1) {
                            $("#modalViewMfgBarcodeAttribute").modal({ backdrop: 'static', keyboard: false }, 'show');
                            $("input[type='radio']").attr('radio', false);

                            let inputValue = $("#txtInputValue@(itemName)").val();
                            let itemNo = $("#cboAttributeType@(itemName)").val();
                            let desOriBarcodeId = '#OriBarcodeId@(itemName)';
                            let desOriMoId = '#OriMoId@(itemName)';
                            let desOriWoErpFullNo = '#txtOriWoErpFullNo@(itemName)';
                            let desOriItemNo = '#OriItemNo@(itemName)';
                            let desOriItemValue = '#OriItemValue@(itemName)';
                            let desOriBarcodeAttrId = '#OriBarcodeAttrId@(itemName)';

                            PopViewMfgBarcodeAttribute(inputValue, itemNo, desOriBarcodeAttrId, desOriBarcodeId, desOriMoId, desOriWoErpFullNo, desOriItemNo, desOriItemValue);
                        }
                    });

                } else {
                    $("#OriItemNo@(itemName)").html("查無資料");
                    $("#OriItemValue@(itemName)").html("查無資料");
                    alert("【" + $("#txtInputValue@(itemName)").val() + "】" + " " + "查無資料不可進行置換!");
                }
            } else {
                alert(data.msg, "alert", 1000);
            }
        }

        //欲置換資料
        function UpdItemInfo@(itemName)(barcodeNo, itemNo) {
            console.log(5)

            let targetUrl = "@Url.Action("GetBarcodeAttribute", "Production")";
            let postData = {
                "BarcodeNo": barcodeNo,
                "ItemNo": itemNo
            };
            let data = DataAccess.Get(targetUrl, postData, false);
            if (data.status == "success") {
                if (data.result.length > 0) {
                    $.each(data.result, function (i, item) {

                        if (data.result.length == 1) {
                            $("#NewBarcodeAttrId@(itemName)").val(item.BarcodeAttrId);
                            $("#NewBarcodeId@(itemName)").val(item.BarcodeId);
                            $("#NewMoId@(itemName)").val(item.MoId);
                            $("#NewItemNo@(itemName)").html(item.BarcodeNo);
                            $("#NewItemValue@(itemName)").html(item.ItemValue);
                            $("#txtNewWoErpFullNo@(itemName)").val(item.WoErpFullNo);

                            $("#BarcodeId@(itemName)").val(item.BarcodeId);
                            $("#MoId@(itemName)").val(item.MoId);
                        } else if (data.result.length > 1) {
                            //$("#modalViewMfgBarcodeAttribute").modal({ backdrop: 'static', keyboard: false }, 'show');
                            $("input[type='radio']").attr('radio', false);

                            let inputValue = $("#txtUpdInputValue@(itemName)").val();
                            let itemNo = $("#cboAttributeType@(itemName)").val();
                            let desNewBarcodeId = '#NewBarcodeId@(itemName)';
                            let desNewMoId = '#NewMoId@(itemName)';
                            let desNewWoErpFullNo = '#txtNewWoErpFullNo@(itemName)';
                            let desNewItemNo = '#NewItemNo@(itemName)';
                            let desNewItemValue = '#NewItemValue@(itemName)';
                            let desNewBarcodeAttrId = '#NewBarcodeAttrId@(itemName)';

                            //PopViewMfgBarcodeAttribute(inputValue, itemNo, desNewBarcodeAttrId, desNewBarcodeId, desNewMoId, desNewWoErpFullNo, desNewItemNo, desNewItemValue);
                        }
                    });

                } else {
                    $("#NewItemNo@(itemName)").html("查無資料");
                    $("#NewItemValue@(itemName)").html("查無資料");
                    //alert("【" + $("#txtUpdInputValue@(itemName)").val() + "】" + " " + "查無資料不可進行置換!");
                }
            } else {
                alert(data.msg, "alert", 1000);
            }
        }

        function Exchange@(itemName)() {
            
            if ($("#cboAttributeType@(itemName)").val() != "" && $("#txtInputValue@(itemName)").val() != "" && $("#txtOriWoErpFullNo@(itemName)").val() != ""
                && $("#txtUpdInputValue@(itemName)").val() != "" && $("#txtNewWoErpFullNo@(itemName)").val() != "") {

                let targetUrl = "@Url.Action("AddBarcodeAttribute", "Production")";
                let postData = {
                    "OriBarcodeAttrId": $("#OriBarcodeAttrId@(itemName)").val(),
                    "NewBarcodeAttrId": $("#NewBarcodeAttrId@(itemName)").val(),

                    "OriBarcodeId": $("#OriBarcodeId@(itemName)").val(),
                    "OriMoId": $("#OriMoId@(itemName)").val(),
                    "OriItemNo": $("#OriItemNo@(itemName)").html(),
                    "OriItemValue": $("#OriItemValue@(itemName)").html(),
                    "Remark": $("#txtRemark@(itemName)").val(),

                    "NewBarcodeId": $("#NewBarcodeId@(itemName)").val(),
                    "NewMoId": $("#NewMoId@(itemName)").val(),
                    "NewItemNo": $("#NewItemNo@(itemName)").html(),
                    "NewItemValue": $("#NewItemValue@(itemName)").html(),
                    "NewSortNumber": $("#txtUpdSortNumber@(itemName)").html()
                };

                let result = DataAccess.Add(targetUrl, postData, false, true);

                if (result) {
                    Reset@(itemName)();
                    Query@(itemName)();
                }
            } else {
                alert("欲置換項目不能為空值");
            }
        }

        function Update@(itemName)() {

            let targetUrl = "@Url.Action("UpdateBarcodeAttribute", "Production")";
            let postData = {
                "ProcessAttrLogId": $("#ProcessAttrLogId@(itemName)").val(),
                "OriBarcodeAttrId": $("#OriBarcodeAttrId@(itemName)").val(),
                "NewBarcodeAttrId": $("#NewBarcodeAttrId@(itemName)").val(),

                "OriBarcodeId": $("#OriBarcodeId@(itemName)").val(),
                "OriMoId": $("#OriMoId@(itemName)").val(),
                "OriItemNo": $("#OriItemNo@(itemName)").html(),
                "OriItemValue": $("#OriItemValue@(itemName)").html(),
                "Remark": $("#txtRemark@(itemName)").val(),

                "NewBarcodeId": $("#OriBarcodeAttrId@(itemName)").val(),
                "NewMoId": $("#OriMoId@(itemName)").val(),
                "NewItemNo": $("#OriItemNo@(itemName)").html(),
                "NewItemValue": $("#txtUpdInputValue@(itemName)").val(),
                "NewSortNumber": $("#txtUpdSortNumber@(itemName)").val()
            };

            let result = DataAccess.Add(targetUrl, postData, false, true);
                    
            if (result) {
                Reset@(itemName)();
                Query@(itemName)();
            }
        }

        function Reset@(itemName)() {
            $("#cboAttributeType@(itemName)").val("");
            $("#txtInputValue@(itemName)").val("");
            $("#txtOriWoErpFullNo@(itemName)").val("");
            $("#txtRemark@(itemName)").val("");
            $("#OriItemNo@(itemName)").text("");
            $("#OriItemValue@(itemName)").text("");
            $("#oriCavity@(itemName)").text("");
            $("#oriPotNumber@(itemName)").text("");

            $("#txtUpdInputValue@(itemName)").val("");
            $("#txtUpdSortNumber@(itemName)").val("");
            $("#txtNewWoErpFullNo@(itemName)").val("");
            $("#NewItemNo@(itemName)").text("");
            $("#NewItemValue@(itemName)").text("");
            $("#newCavity@(itemName)").text("");
            $("#newPotNumber@(itemName)").text("");

            $("#cboAttributeType@(itemName)").trigger("change");
        }

    </script>
)