
@using Business_Manager.Helpers
@{
    string itemName = "MfgBarcodePrint";
    string itemNameText = "生產製令批量條碼";
    string authority = ViewBag.authority;
}

@Html.Resource("css",
    @<style>
    </style>
                                                                                         )
<!--搜尋-->
<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        @*<div class="form-group row">
                                <label class="col-12 col-form-label">條碼</label>
                                <div class="col-12">
                                    <input type="text" class="form-control" id="txtTemplateNameQRoutingManagement" name="txtTemplateNameQRoutingManagement" placeholder="請輸入條碼">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-12 col-form-label" for="txtTemplateNameQ@(itemName)">穴號</label>
                                <div class="col-12">
                                    <input type="text" class="form-control" id="txtTemplateNameQRoutingManagement" name="txtTemplateNameQRoutingManagement" placeholder="請輸入穴號">
                                </div>
                            </div>*@

                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtBarcodeArea@(itemName)">條碼編號區間<span class="text-danger">*</span></label>
                            <div class="col-6">
                                <input type="text" class="form-control form-control-add" id="txtBarcodeArea1@(itemName)"
                                       aria-describedby="basic-addon13" placeholder="請輸入數字">
                            </div>

                            <div class="col-6">
                                <input type="text" class="form-control form-control-add" id="txtBarcodeArea2@(itemName)"
                                       aria-describedby="basic-addon13" placeholder="請輸入數字">
                            </div>
                        </div>

                        @*<div class="form-group row">
                                <label class="col-12 col-form-label" for="txtTemplateNameQ@(itemName)">列印次數</label>
                                <div class="col-12">
                                    <input type="text" class="form-control" id="txtTemplateNameQRoutingManagement" name="txtTemplateNameQRoutingManagement" placeholder="請輸入列印次數">
                                </div>
                            </div>*@
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>


<!--列表 Table-->
<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);"><i class="fal fa-search"></i>搜尋</a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn btn-success auth-add" href="javascript:PopCountInput();"><i class="fad fa-mail-bulk"></i>批量新增條碼</a>
                        <a class="btn btn-primary auth-add" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#addLotNgBarcodePrint@(itemName)" href="javascript:void(0);"><i class="fad fa-mail-bulk"></i>批量產生空條碼</a>
                        <a class="btn btn-danger auth-delete" href="javascript:DeleteLotBarcodePrint@(itemName)();"><i class="fas fa-trash-alt"></i>批量刪除</a>
                        <a class="btn btn-secondary auth-delete" href="javascript:DeleteSelectLotBarcodePrint@(itemName)();"><i class="fas fa-trash"></i>選擇刪除</a>
                        <a class="btn btn-info auth-add" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#BindItem@(itemName)" href="javascript:void(0);"><i class="fad fa-random"></i>條碼綁定穴號</a>
                        <a class="btn btn-dark auth-add" data-backdrop="static" href="javascript:PopUpdateSelectBindItem@(itemName)();"><i class="fad fa-edit"></i>批量修改穴號</a>
                        <a class="btn btn-success auth-print" style="background: #519cb3 !important; border-color: #519cb3 !important;" href="javascript:PopModalPrint@(itemName)();"><i class="fas fa-print"></i>批量列印條碼</a>

                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th class="text-center active-content" scope="col" style="min-width: 50px;">
                                            <label class="control control-solid control-solid-info control--checkbox">
                                                選取
                                                <input type="checkbox" id="cbxBarcodePrintAll@(itemName)" name="cbxBarcodePrintAll@(itemName)" checked>
                                                <span class="control__indicator"></span>
                                            </label>
                                        </th>
                                        <th scope="col">#</th>
                                        <th scope="col" style="max-width: 200px;">條碼</th>
                                        <th scope="col" style="max-width: 150px;">批量數量</th>
                                        <th scope="col" style="max-width: 150px;">條碼類型</th>
                                        <th scope="col" style="max-width: 150px;">綁定穴號</th>
                                        <th scope="col" style="max-width: 100px;">列印次數</th>
                                        <th class="text-center active-content" scope="col" style="min-width: 125px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--新增/編輯彈窗-->
<div class="modal fade" id="addBarcode">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">新增</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="addForm@(itemName)">
                    <fieldset>

                        <div class="form-group row">
                            <div class="col-lg-3 col-md-3 col-3">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    1
                                    <input type="checkbox" id="cbxStatusQMfgOrderManagementA" name="cbxStatusQMfgOrderManagement" value="A" checked="">
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-3 col-3">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    2
                                    <input type="checkbox" id="cbxStatusQMfgOrderManagementS" name="cbxStatusQMfgOrderManagement" value="S">
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-3 col-3">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    3
                                    <input type="checkbox" id="cbxStatusQMfgOrderManagementS" name="cbxStatusQMfgOrderManagement" value="S">
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-3 col-3">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    4
                                    <input type="checkbox" id="cbxStatusQMfgOrderManagementS" name="cbxStatusQMfgOrderManagement" value="S">
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-3 col-md-3 col-3">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    5
                                    <input type="checkbox" id="cbxStatusQMfgOrderManagementA" name="cbxStatusQMfgOrderManagement" value="A" checked="">
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-3 col-3">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    6
                                    <input type="checkbox" id="cbxStatusQMfgOrderManagementS" name="cbxStatusQMfgOrderManagement" value="S">
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-3 col-3">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    7
                                    <input type="checkbox" id="cbxStatusQMfgOrderManagementS" name="cbxStatusQMfgOrderManagement" value="S">
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-3 col-3">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    8
                                    <input type="checkbox" id="cbxStatusQMfgOrderManagementS" name="cbxStatusQMfgOrderManagement" value="S">
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-3 col-md-3 col-3">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    9
                                    <input type="checkbox" id="cbxStatusQMfgOrderManagementA" name="cbxStatusQMfgOrderManagement" value="A" checked="">
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-3 col-3">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    10
                                    <input type="checkbox" id="cbxStatusQMfgOrderManagementS" name="cbxStatusQMfgOrderManagement" value="S">
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-3 col-3">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    11
                                    <input type="checkbox" id="cbxStatusQMfgOrderManagementS" name="cbxStatusQMfgOrderManagement" value="S">
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-3 col-3">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    12
                                    <input type="checkbox" id="cbxStatusQMfgOrderManagementS" name="cbxStatusQMfgOrderManagement" value="S">
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">批量數量</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtTemplateNameQRoutingManagement" name="txtTemplateNameQRoutingManagement" placeholder="請輸入數量" value="200">
                            </div>
                        </div>

                    </fieldset>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="Save()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

<!--彈窗 修改-->
<div class="modal fade" id="editBarcodePrint@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">修改</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="editForm@(itemName)">
                    <input type="hidden" id="PrintId" />
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">批量數量</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtBarcodeQty@(itemName)" name="txtBarcodeQty@(itemName)" placeholder="請輸入數量" value="" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtCavityNo@(itemName)">穴號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtCavityNo@(itemName)" name="txtCavityNo@(itemName)" placeholder="請輸入穴號" value="">
                            </div>
                        </div>
                    </fieldset>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

<!--產生NG條碼-->
<div class="modal fade" id="addLotNgBarcodePrint@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">批量新增條碼</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="addLotNgForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">狀態</label>
                            <div class="col-12">
                                <select class="form-control" id="cboBarcodeSStatus@(itemName)" name="cboBarcodeSStatus@(itemName)" required>
                                    <option value="F">不良品</option>
                                    <option value="P">良品</option>
                                </select>
                            </div>
                            @*<div class="col-lg-3 col-md-4 col-4">
                                    <label class="control control-solid control-solid-info control--checkbox">
                                        不良品
                                        <input type="radio" id="cbxBarcodeStatusQ@(itemName)F" name="cbxBarcodeStatusQ@(itemName)" value="F" checked />
                                        <span class="control__indicator"></span>

                                    </label>
                                </div>
                                <div class="col-lg-3 col-md-4 col-4">
                                    <label class="control control-solid control-solid-info control--checkbox">
                                        良品
                                        <input type="radio" id="cbxBarcodeStatusQ@(itemName)P" name="cbxBarcodeStatusQ@(itemName)" value="P" />
                                        <span class="control__indicator"></span>

                                    </label>
                                </div>*@
                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-form-label">產生數量</label>
                            <div class="col-12">
                                <input type="number" class="form-control" id="txtLotNgBarcodeQty@(itemName)" name="txtLotNgBarcodeQty@(itemName)" placeholder="請輸入數量" value="" required>
                            </div>
                        </div>

                    </fieldset>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="SaveLotNgBarcodePrint@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

<!-- 設定穴數新增條碼 -->
<div class="modal fade" id="CountInput@(itemName)">
    <div class="modal-dialog modal-lg" style="padding-top:7%;">
        <div class="modal-content working-content" style="min-width:350px;">
            <div class="modal-header" style="align-items: center;">
                <h5 class="modal-title">
                    請先設定穴數
                </h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group">
                    <span class="input-group-addon font18" id="basic-addon13">
                        <i class="fa fa-paint-brush" style="padding-right: 5px;"></i> 穴數
                    </span>
                    <input type="text" class="form-control form-control-add" id="txtCount@(itemName)"
                           aria-describedby="basic-addon13" placeholder="請輸入穴數 ex:4,8">
                </div>

            </div>
            <div class="modal-footer">
                <div>
                    <button id="aCountInput@(itemName)" type="button" class="btn-sure btn btn-success btn-flat mb-2 weight-600"
                            onclick="javascript:  BatchAddBarcode@(itemName)();">
                        確定
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 條碼綁穴號 -->
<div class="modal fade" id="BindItem@(itemName)">
    <div class="modal-dialog modal-lg" style="padding-top:7%; width: 40%">
        <div class="modal-content working-content" style="">
            <div class="modal-header" style="align-items: center;">
                <h5 class="modal-title">
                    條碼綁穴號
                </h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-12 col-form-label" for="txtCavityNo@(itemName)">穴號<span class="text-danger">*</span></label>
                    <div class="col">
                        <input type="text" class="form-control form-control-add" id="txtBindItemCount@(itemName)"
                               aria-describedby="basic-addon13" placeholder="請輸入穴號 ex:1">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div>
                    <button id="aCountInput@(itemName)" type="button" class="btn-sure btn btn-success btn-flat mb-2 weight-600"
                            onclick="javascript: BindBarcoeToItem@(itemName)();">
                        確定
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 條碼修改穴號 -->
<div class="modal fade" id="UpdateBindItem@(itemName)">
    <div class="modal-dialog modal-lg" style="padding-top:7%; width: 40%">
        <div class="modal-content working-content" style="">
            <div class="modal-header" style="align-items: center;">
                <h5 class="modal-title">
                    條碼修改穴號
                </h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-12 col-form-label" for="txtCavityNo@(itemName)">穴號<span class="text-danger">*</span></label>
                    <div class="col">
                        <input type="text" class="form-control form-control-add" id="txtBindItemCountU@(itemName)"
                               aria-describedby="basic-addon13" placeholder="請輸入穴號 ex:1">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div>
                    <button id="aCountInput@(itemName)" type="button" class="btn-sure btn btn-success btn-flat mb-2 weight-600"
                            onclick="javascript: UpdateBindItem@(itemName)();">
                        確定
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 條碼修改選擇穴號 -->
<div class="modal fade" id="UpdateSelectBindItem@(itemName)">
    <div class="modal-dialog modal-lg" style="padding-top:7%; width: 40%">
        <div class="modal-content working-content" style="">
            <div class="modal-header" style="align-items: center;">
                <h5 class="modal-title">
                    條碼修改選擇穴號
                </h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-12 col-form-label" for="txtCavityNo@(itemName)">穴號<span class="text-danger">*</span></label>
                    <div class="col">
                        <input type="text" class="form-control form-control-add" id="txtBindItemCountSU@(itemName)"
                               aria-describedby="basic-addon13" placeholder="請輸入穴號 ex:1">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div>
                    <button id="aCountInput@(itemName)" type="button" class="btn-sure btn btn-success btn-flat mb-2 weight-600"
                            onclick="javascript: UpdateSelectBindItem@(itemName)();">
                        確定
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!--選擇列印機台-->
<div class="modal fade" id="modalPrint@(itemName)">
    <div class="modal-dialog modal-lg" style="padding-top:7%;">
        <div class="modal-content working-content" style="min-width:350px;">
            <div class="modal-header" style="align-items: center;">
                <h5 class="modal-title">
                    列印標籤條碼
                </h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <code>*請注意，若需列印不良條碼，請使用勾選條碼模式進行列印。</code>
                <select class="form-control" id="cboPrintType@(itemName)" style="margin-bottom: 15px;">
                    <option value="all" selected>全部列印</option>
                    <option value="section">勾選列印</option>
                </select>
                <select class="form-control" id="cboLabelPrintMachine@(itemName)"></select>
            </div>
            <div class="modal-footer">
                <a id="aPrint@(itemName)" class="btn btn-success" href="javascript: Print@(itemName)();"><i class="fas fa-paper-plane"></i>列印</a>
            </div>
        </div>
    </div>
</div>

<!-- 條碼修改數量 -->
<div class="modal fade" id="UpdateBarcodeQty@(itemName)">
    <div class="modal-dialog modal-lg" style="padding-top:7%; width: 40%">
        <div class="modal-content working-content" style="">
            <div class="modal-header" style="align-items: center;">
                <h5 class="modal-title">
                    條碼修改數量
                </h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group row">
                    <label class="col-12 col-form-label" for="txtBarcodeQtyU@(itemName)">數量<span class="text-danger">*</span></label>
                    <div class="col">
                        <input type="text" class="form-control form-control-add" id="txtBarcodeQtyU@(itemName)"
                               aria-describedby="basic-addon13" placeholder="請輸入數量 ex:1">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div>
                    <button id="aBarcodeQtyU@(itemName)" type="button" class="btn-sure btn btn-success btn-flat mb-2 weight-600"
                            onclick="javascript: UpdateBarcodeQty@(itemName)();">
                        確定
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


@Html.Resource("js",
@<script>
    let objPage@(itemName) = {
        "pageIndex": 0,
        "pageSize": 10
    };
    let objForm@(itemName) = "#addForm@(itemName)";
    let objForm2@(itemName) = "#editForm@(itemName)";
    let objForm3@(itemName) = "#addLotForm@(itemName)";

    let moId@(itemName);
    let lotQty@(itemName);
    let quantity@(itemName) = 0;
    let moSettingId@(itemName);
    let barcodePrefix@(itemName);
    let barcodePostfix@(itemName);
    let barcodePrintId@(itemName);



    function Query@(itemName)() {
        moId@(itemName) = moIdMfgOrderSetting;
        //objPage@(itemName).pageIndex = 0;
        InitData@(itemName)(objPage@(itemName));
        GetMoSettingId@(itemName)();

        if (!isMobile) {
            $("#cboLabelPrintMachine@(itemName)").select2({
                width: "100%"
            });
        }

        ComboBoxs.Default("#cboLabelPrintMachine@(itemName)", "@Url.Action("GetLabelPrintMachine", "ProductionHistory")", {}, "", "NA", "", "LabelPrintName", "LabelPrintNo");

        $("#modalQuery@(itemName)").modal("hide");
    }

    function InitData@(itemName)(objPage) {
        let innerHtml = '';
        let pageCount = 0;
        let NumList = [];
       let Num1 = barcodePrefix@(itemName) + $("#txtBarcodeArea1@(itemName)").val().padStart(quantity@(itemName), '0') + barcodePostfix@(itemName);
       let Num2 = barcodePrefix@(itemName) + $("#txtBarcodeArea2@(itemName)").val().padStart(quantity@(itemName), '0') + barcodePostfix@(itemName);

        if ($("#txtBarcodeArea1@(itemName)").val() != "" && $("#txtBarcodeArea2@(itemName)").val() != "") {
            NumList.push(Num1);
            NumList.push(Num2);
            objPage@(itemName).pageSize = 999;
        } else {
            objPage@(itemName).pageSize = 10;
        }
        @*console.log(Num1, Num2, NumList, quantity@(itemName), String(quantity@(itemName)).length, objPage);*@

        let targetUrl = "@Url.Action("GetBarcodePrint", "Production")";

        let postData = {
            "OrderBy": "",
            "PageIndex": (objPage.pageIndex + 1),
            "PageSize": objPage.pageSize,
            "MoId": moId@(itemName),
            "No": NumList.join(",")
        };

        let data = DataAccess.Get(targetUrl, postData, false);

        if (data.status == "success") {
            pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;
            let bindItem = "";
            let barcodeAttrId = 0;

            if (pageCount > 0) {
                objPage = PageCaculate(pageCount, objPage);
                console.log(pageCount, data.result.length);
                $.each(data.result, function (i, item) {
                    lotQty@(itemName) = item.LotQty;
                    moSettingId@(itemName) = item.MoSettingId;

                    getBarcodeBindItem(item.PrintId);

                    $("#txtLotBarcodeQty@(itemName)").val(item.LotQty);
                    let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                    innerHtml += `<tr>
                                    <td class="text-center active-content" scope="col" style="min-width: 50px;">
                                        <label class="control control-solid control-solid-info control--checkbox">
                                            <input type="checkbox" data-type="BarcodePrint" data-barcode-no="${item.BarcodeNo}" id="cbxBarcodePrint@(itemName)${item.PrintId}" name="cbxBarcodePrint@(itemName)" value="${item.PrintId}" checked>
                                            <span class="control__indicator"></span>
                                        </label>
                                    </td>
                                    <td style="max-width: 75px;">${_row}</td>
                                    <td scope="col" style="max-width: 200px;">${item.BarcodeNo}</td>
                                    <td scope="col" style="max-width: 150px;">${item.BarcodeQty}</td>
                                    <td scope="col" style="max-width: 150px;">${item.PrintStatus == `P` ? `良品` : `不良品`}</td>
                                    <td scope="col" style="max-width: 100px;">${ItemBindValue(`${bindItem}`)}

                                    </td>
                                    <td scope="col" style="max-width: 100px;">${item.PrintCnt}</td>
                                    <td class="text-center active-content" scope="col" style="min-width: 125px;">
                                        ${ ItemBindEdit(`${barcodeAttrId}`, `${item.PrintId}`) }
                                        ${ BarcodeQtyEdit( `${item.PrintId}`) }

                                    </td>
                                  </tr>`;
                });


                function getBarcodeBindItem(printId) {
                    let innerHtml = '';
                    let targetUrl = "@Url.Action("GetBarcodeBindItem", "Production")";

                    let postData = {
                        "PrintId": printId
                    };

                    let data = DataAccess.Get(targetUrl, postData, false);

                    if (data.status == "success") {
                        $.each(data.result, function (i, item) {
                            bindItem = item.ItemValue;
                            barcodeAttrId = item.BarcodeAttrId;
                        });
                    }

                    return innerHtml;
                }

                function ItemBindValue(item) {
                    let itemValue = item != "null" ? `${item}` : "未綁定";
                    return itemValue;
                }

                function ItemBindEdit(attrId, printId) {

                    let innerHtml = '';
                    if (attrId != "null") {
                                innerHtml += `<a class="active-link auth-update" href="javascript:PopUpdateBindItem@(itemName)('${printId}');"><i class="fas fa-edit"></i> 修改穴號</a>`;
                            }
                            else {
                                innerHtml += `<a class="active-link auth-update active-disable" href="javascript:void(0);"><i class="fas fa-edit"></i> 修改穴號</a>`;
                            }


                    return innerHtml;
                }

                function BarcodeQtyEdit(printId) {

                    let innerHtml = '';
                    if (printId != "null") {
                        innerHtml += `<a class="active-link auth-update" href="javascript:PopUpdateBarcodeQty@(itemName)('${printId}');"><i class="fas fa-edit"></i> 修改數量</a>`;
                            }
                            else {
                                innerHtml += ``;
                            }


                    return innerHtml;
                }
            }
            else {
                innerHtml += `<tr>
                                <td class="text-center" colspan="8" style="background-color: #fff3cd;">
                                    <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                </td>
                              </tr>`;
            }
        }
        else {
            alert(data.msg, "alert", 0);
        }
        $("#tblData@(itemName) tbody").html(innerHtml);
        TableComponentInit();
        Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));
    }

    $("#cbxBarcodePrintAll@(itemName)").click(function () {
        if ($(this).prop("checked")) {
            $("input[type='checkbox'][data-type='BarcodePrint']").prop("checked", true);
        }
        else {
            $("input[type='checkbox'][data-type='BarcodePrint']").prop("checked", false);
        }
    });

    $("#txtCount@(itemName)").val("1");

    function Edit@(itemName)(printId) {
        if (parseInt(printId) > 0) {
            $("#PrintId").val(printId);
            let targetUrl = "@Url.Action("GetBarcodePrint", "Production")";
            let postData = {
                "PrintId": printId
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                $.each(data.result, function (i, item) {
                    $("#txtBarcodeQty@(itemName)").val(item.BarcodeQty);
                    $("#txtCavityNo@(itemName)").val(item.CavityNo);
                });
            }
        }

        $("#editBarcodePrint@(itemName)").modal({
            backdrop: "static",
            keyboard: false,
            show: true
        });
    }

    function Save@(itemName)() {
        if ($(objForm2@(itemName)).valid()) {
            let targetUrl = "@Url.Action("UpdateBarcodePrint", "Production")";
            let postData = {
                "PrintId": $("#PrintId").val(),
                "BarcodeQty": $("#txtBarcodeQty@(itemName)").val(),
                "CavityNo": $("#txtCavityNo@(itemName)").val()
            };

            let result = DataAccess.Update(targetUrl, postData, false, true);

            if (result) {
                CloseEdit@(itemName)();
                Return@(itemName)();
            }
        }
    }

    function PopModalPrint@(itemName)() {
        $("#modalPrint@(itemName)").modal("show");
    }

    function BatchAddBarcode@(itemName)() {
        let targetUrl = "@Url.Action("AddBarcodePrint", "Production")";
        let postData = {
            "MoId": moId@(itemName),
            "CavityCount": $("#txtCount@(itemName)").val()
        };
        var result = DataAccess.Add(targetUrl, postData, false, true);
        if (result) {
            Query@(itemName)();
            $("#CountInput@(itemName)").modal("hide");
        }
    }

    function BatchAddBarcode2@(itemName)() {
        if ($("#txtCount@(itemName)").val() != "") {
            let holeCount = parseInt($("#txtCount@(itemName)").val());
        let targetUrl = "@Url.Action("GetMoSetting", "Production")";

        let postData = {
            "MoId": moId@(itemName)
        };

        let data = DataAccess.Get(targetUrl, postData, false);

        if (data.status == "success") {
            if (data.result.length > 0) {
                let lotQty;
                let BarcodePrefix;
                let sequenceLen;
                let barcodePostfix;
                let quantity;
                let moSettingId;
                $.each(data.result, function (i, item) {
                    lotQty = item.LotQty;
                    BarcodePrefix = item.BarcodePrefix;
                    sequenceLen = item.SequenceLen;
                    barcodePostfix = item.BarcodePostfix;
                    quantity = item.Quantity;
                    moSettingId = item.MoSettingId;

                });

                let addCount = parseInt(quantity / lotQty);
                let remainder = quantity % lotQty;

                let secondBarcodeQty = holeCount;
                let secondAddCount = parseInt(remainder / secondBarcodeQty);
                let secondRemainder = remainder % secondBarcodeQty;
                //console.log("TEST1",lotQty, addCount, remainder, secondBarcodeQty, secondAddCount, secondRemainder);
                let targetUrl = "@Url.Action("AddBarcodePrint", "Production")";
                let postData = {
                    "BarcodeQty": lotQty,
                    "AddCount": addCount,
                    "Remainder": remainder,
                    "MoSettingId": moSettingId,
                    "secondBarcodeQty": secondBarcodeQty,
                    "secondAddCount": secondAddCount,
                    "secondRemainder": secondRemainder
                };
                var result = DataAccess.Add(targetUrl, postData, false, true);
                if (result) {
                    Query@(itemName)();


                }
            }
        }
        } else {
            alert("請輸入穴數!", "alert", 0);
        }

        let modalName = "CountInput@(itemName)"
        $("#" + modalName).modal('hide');
    }

    function SaveLotNgBarcodePrint@(itemName)() {
        let targetUrl = "@Url.Action("AddEmptyBarcodePrint", "Production")";
        let postData = {
            "AddCount": $("#txtLotNgBarcodeQty@(itemName)").val(),
            "MoSettingId": moSettingId@(itemName),
            "Status": $("#cboBarcodeSStatus@(itemName)").val()
        };
        var result = DataAccess.Add(targetUrl, postData, false, true);
        if (result) {
                @*$('input[name="cbxBarcodeStatusQ@(itemName)F"]').prop('checked', true);*@
            //$('input[name="cbxBarcodeStatusQ@(itemName)"]').prop('checked', false);

            Query@(itemName)();
            Close@(itemName)('addLotNgBarcodePrint@(itemName)');
        }
    }

    function GetMoSettingId@(itemName)() {
        let targetUrl = "@Url.Action("GetMoSetting", "Production")";
        let postData = {
            "MoId": moId@(itemName)
        };

        let data = DataAccess.Get(targetUrl, postData, false);

        if (data.status == "success") {
            $.each(data.result, function (i, item) {
                moSettingId@(itemName) = item.MoSettingId;
                barcodePrefix@(itemName) = item.BarcodePrefix;
                barcodePostfix@(itemName) = item.BarcodePostfix;
                quantity@(itemName) = item.SequenceLen;
            });
        }
    }

    function BindBarcoeToItem@(itemName)() {
        @*console.log(452,$("#txtBindItemCount@(itemName)").val(), $("#txtBindItemCount@(itemName)").html());*@
        if ($("#txtBindItemCount@(itemName)").val() != "") {
            let BarcodePrintIds = [];
            $.each($("input[type='checkbox'][name='cbxBarcodePrint@(itemName)']:checked"), function () {
                BarcodePrintIds.push($(this).val());
            });

            let targetUrl = "@Url.Action("BarcodePrintBindItem", "Production")";
            let postData = {
                "BarcodePrintIds": BarcodePrintIds.join(","),
                "ItemValue": $("#txtBindItemCount@(itemName)").val(),
                "MoId": moId@(itemName)
            };
            var result = DataAccess.Add(targetUrl, postData, false, true);
            if (result) {

                $("#txtBarcodeArea1@(itemName)").val("");
                NumList = [];
                BarcodePrintIds = [];
                Query@(itemName)();
                Close@(itemName)('BindItem@(itemName)');

            }
        } else {
            alert("請輸入穴號", "alert", 0);
        }
    }

    function PopUpdateBindItem@(itemName)(PrintId) {
        barcodePrintId@(itemName) = PrintId;
        $("#UpdateBindItem@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
        });

    }

    function PopUpdateSelectBindItem@(itemName)() {
        $("#UpdateSelectBindItem@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
        });

    }

    function PopUpdateBarcodeQty@(itemName)(PrintId) {
                barcodePrintId@(itemName) = PrintId;

        $("#UpdateBarcodeQty@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
        });

    }

    function UpdateBindItem@(itemName)() {
        @*console.log(452,$("#txtBindItemCount@(itemName)").val(), $("#txtBindItemCount@(itemName)").html());*@
        if ($("#txtBindItemCountU@(itemName)").val() != "") {


            let targetUrl = "@Url.Action("UpdateBindItem", "Production")";
            let postData = {
                "PrintId": barcodePrintId@(itemName),
                "ItemValue": $("#txtBindItemCountU@(itemName)").val(),
            };
            var result = DataAccess.Update(targetUrl, postData, false, true);
            if (result) {

                $("#txtBarcodeArea1@(itemName)").val("");
                NumList = [];
                BarcodePrintIds = [];
                barcodePrintId@(itemName) = -1;
                Query@(itemName)();
                Close@(itemName)('UpdateBindItem@(itemName)');

            }
        } else {
            alert("請輸入穴號", "alert", 0);
        }
    }

    function UpdateBarcodeQty@(itemName)() {
        @*console.log(452,$("#txtBindItemCount@(itemName)").val(), $("#txtBindItemCount@(itemName)").html());*@

        if ($("#txtBarcodeQtyU@(itemName)").val() != "") {
            swal.fire({
                titleText: "確認要修改數量嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("UpdateLotBarcodeQty", "ProductionHistory")";
                    let postData = {
                        "PrintId": barcodePrintId@(itemName),
                        "SetQty": $("#txtBarcodeQtyU@(itemName)").val(),
                    };
                    var result = DataAccess.Update(targetUrl, postData, false, true);
                    if (result) {
                        barcodePrintId@(itemName) = -1;
                        Query@(itemName)();
                        Close@(itemName)('UpdateBarcodeQty@(itemName)');

                    }
                }
            });
        } else {
            alert("請輸入數量", "alert", 0);
        }
    
    }

    function UpdateSelectBindItem@(itemName)() {
        @*console.log(452,$("#txtBindItemCount@(itemName)").val(), $("#txtBindItemCount@(itemName)").html());*@
        if ($("#txtBindItemCountSU@(itemName)").val() != "") {
            let printIdList = [];
        $.each($("input[type='checkbox'][name='cbxBarcodePrint@(itemName)']:checked"), function (i) {
            printIdList.push($(this).val());
        });

            let targetUrl = "@Url.Action("UpdateSelectBindItem", "Production")";
            let postData = {
                "PrintIds": printIdList.join(","),
                "ItemValue": $("#txtBindItemCountSU@(itemName)").val(),
            };
            var result = DataAccess.Update(targetUrl, postData, false, true);
            if (result) {

                $("#txtBarcodeArea1@(itemName)").val("");
                NumList = [];
                BarcodePrintIds = [];
                barcodePrintId@(itemName) = -1;
                Query@(itemName)();
                Close@(itemName)('UpdateSelectBindItem@(itemName)');

            }
        } else {
            alert("請輸入穴號", "alert", 0);
        }
    }

    function Delete@(itemName)(printId) {
            swal.fire({
                titleText: "確認要全部刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteBarcodePrint", "Production")";
                    let postData = {
                        "PrintId": printId,
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

    function DeleteLotBarcodePrint@(itemName)() {
        //let printIdList = [];
        //$.each($("input[type='checkbox'][data-type='BarcodePrint']:checked"), function (i) {
        //    printIdList.push($(this).val());
        //});

        swal.fire({
            titleText: "確認要全部刪除嗎?",
            text: "此動作無法復原，請確認是否要執行!",
            icon: "warning",
            allowOutsideClick: false,
            allowEscapeKey: false,
            showCancelButton: true,
            confirmButtonColor: '#d33',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                let targetUrl = "@Url.Action("DeleteBarcodePrint", "Production")";
                let postData = {
                    "MoId": moId@(itemName)
                };

                let result = DataAccess.Delete(targetUrl, postData, false, true);

                if (result) {
                    Query@(itemName)();
                }
            }
        });
    }

    function Print@(itemName)() {
        let barcodeNoList = [];
        $.each($("input[type='checkbox'][data-barcode-no]:checked"), function (i) {
            let barcodeNo = $(this).data("barcode-no");
            barcodeNoList.push(barcodeNo);
        });

        if (barcodeNoList.length <= 0) {
            alert("至少需要勾選一個條碼!!");
            return false;
        }

        let targetUrl = "@Url.Action("PrintLotBarcode", "PrintLabel")";
        let postData = {
            "PrintType": $("#cboPrintType@(itemName)").val(),
            "BarcodeNoList": barcodeNoList.toString(),
            "PrintMachine": $("#cboLabelPrintMachine@(itemName)").val(),
            "MtlItemName": $("#desMtlItemNameMfgOrderManagement").html(),
            "MoId": moId@(itemName)
        };

        let result = DataAccess.Update(targetUrl, postData, false, true);

        if (result) {
            $("#modalPrint@(itemName)").modal("hide");
        }
    }

    function DeleteSelectLotBarcodePrint@(itemName)() {
        let printIdList = [];
        $.each($("input[type='checkbox'][name='cbxBarcodePrint@(itemName)']:checked"), function (i) {
            printIdList.push($(this).val());
        });

        swal.fire({
            titleText: "確認要將所選條碼刪除嗎?",
            text: "此動作無法復原，請確認是否要執行!",
            icon: "warning",
            allowOutsideClick: false,
            allowEscapeKey: false,
            showCancelButton: true,
            confirmButtonColor: '#d33',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                let targetUrl = "@Url.Action("DeleteSelectedBarcodePrint", "Production")";
                let postData = {
                    "BarcodePrintIds": printIdList.join(","),
                    "MoId": moId@(itemName)
                };

                let result = DataAccess.Delete(targetUrl, postData, false, true);

                if (result) {
                    Query@(itemName)();
                }
            }
        });
    }

    function PopCountInput() {

            $("#CountInput@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
        });

    }

    function Close@(itemName)(modelName) {
        //$("input[id*='@(itemName)']").val("");
        $("#" + modelName).modal('hide');
    }

    function CloseEdit@(itemName)() {
        ResetForm(objForm2@(itemName));
        $("#editBarcodePrint@(itemName)").modal('hide');
    }

    function Return@(itemName)() {
        Switch("#listData@(itemName)", "#editData@(itemName)");
        ResetForm(objForm@(itemName));
        Query@(itemName)();
    }
</script>
                                                                                        )
