@using Business_Manager.Helpers
@{
    string itemName = "MfgMtlSetting";
    string itemNameText = "製令用料設定";
    string authority = ViewBag.authority;
}

@Html.Resource("css",
@<style>
     .form-control-mix {
         display: block;
         width: 100%;
         height: 39px;
         padding: 6px 12px;
         font-size: 14px;
         line-height: 1.42857143;
         color: #555;
         background-color: #fff;
         background-image: none;
         border: 1px solid #ccc;
         border-radius: 4px;
         -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
         box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
         -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
         -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
         transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
         outline: 0 !important;
         box-shadow: none !important;
     }
</style>
                )

<!--搜尋-->
<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">料號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMtlItemNoQ@(itemName)" name="txtMtlItemNoQ@(itemName)" placeholder="請輸入料號">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">序號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtBomSequenceQ@(itemName)" name="txtBomSequenceQ@(itemName)" placeholder="請輸入序號">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtMoProcessIdQ@(itemName)">製程</label>
                            <div class="col-12">
                                <select class="form-control" id="cboMoProcessIdQ@(itemName)" name="cboMoProcessIdQ@(itemName)"></select>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<!--新增/編輯-->
<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="MoMtlSettingId" name="MoMtlSettingId" value="-1" />
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group row">
                                    <label class="col-12 col-form-label" for="txtWoDetailId@(itemName)">材料資訊</label>
                                    <div class="col-12">
                                        <input type="hidden" id="txtWoDetailId@(itemName)" />
                                        <input type="hidden" id="txtUomId@(itemName)" />
                                        <input type="hidden" id="txtBomSequenceH@(itemName)" />
                                        <input type="hidden" id="txtCompositionQuantityH@(itemName)" />
                                        <input type="hidden" id="txtBaseH@(itemName)" />
                                        <input type="hidden" id="txtLossRateH@(itemName)" />
                                        <input type="hidden" id="txtWoId@(itemName)" />
                                        @*<div class="btn-group">
                            <a class="btn btn-success pop-view" href="javascript:void(0);"><i class="fal fa-search"></i></a>
                            <a id="aRdDesignControlClear@(itemName)" class="btn btn-outline-danger pop-clear" href="javascript:void(0);"><i class="fas fa-eraser"></i></a>
                        </div>*@
                                        <dl class="help-block">
                                            <dt>品號</dt>
                                            <dd id="desMtlItemNo@(itemName)"></dd>
                                            <dt>品名</dt>
                                            <dd id="desMtlItemName@(itemName)"></dd>
                                            <dt>規格</dt>
                                            <dd id="desMtlItemSpec@(itemName)"></dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtBomSequence@(itemName)">序號</label>
                                    <div class="col-12">
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="txtBomSequence@(itemName)" name="txtBomSequence@(itemName)"
                                                   placeholder="請輸入序號"
                                                   maxlength="4"
                                                   readonly />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtUnitOfMeasure@(itemName)">單位<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select id="cboUnitOfMeasure@(itemName)" name="cboUnitOfMeasure@(itemName)" class="form-control" required disabled="disabled"></select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtCompositionQuantity@(itemName)">用量</label>
                                    <div class="col-12">
                                        <input type="number" step="any" min="0" max="99999" class="form-control" id="txtCompositionQuantity@(itemName)" name="txtCompositionQuantity@(itemName)"
                                               placeholder="請輸入用量"
                                               readonly />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtBase@(itemName)">底數</label>
                                    <div class="col-12">
                                        <input type="number" step="any" min="0" max="999" class="form-control" id="txtBase@(itemName)" name="txtBase@(itemName)"
                                               placeholder="請輸入底數"
                                               readonly />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtLossRate@(itemName)">損耗率</label>
                                    <div class="col-12">
                                        <input type="number" step="any" min="0" max="999" class="form-control" id="txtLossRate@(itemName)" name="txtLossRate@(itemName)"
                                               placeholder="請輸入損耗率"
                                               readonly />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="cboBarcodeCtrl@(itemName)">需綁定條碼<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select class="form-control" id="cboBarcodeCtrl@(itemName)" name="cboBarcodeCtrl@(itemName)" required disabled>
                                            <option value="Y" selected>需綁定條碼</option>
                                            <option value="N">不需綁定條碼</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="cboBindType@(itemName)">上料類型<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select class="form-control" id="cboBindType@(itemName)" name="cboBindType@(itemName)" required>
                                            <option value="B">條碼</option>
                                            <option value="L">批號</option>
                                            <option value="N" selected>無上料控管</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="cboProcessBinding@(itemName)">需綁定製程<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select class="form-control" id="cboProcessBinding@(itemName)" name="cboProcessBinding@(itemName)" required disabled>
                                            <option value="Y">需綁定製程</option>
                                            <option value="N" selected>不需綁定製程</option>
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtMoProcess@(itemName)">製程</label>
                                    <div class="col-12">
                                        <select class="form-control" id="cboMoProcess@(itemName)" name="cboMoProcess@(itemName)" disabled></select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtControlType@(itemName)">系統自動建立領料單<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select class="form-control" id="cboControlType@(itemName)" name="cboControlType@(itemName)" required>
                                            <option value="">-- 請選擇 --</option>
                                            <option value="1">是</option>
                                            <option value="2">否</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="cboMainBarcode@(itemName)">是否為主條碼<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select class="form-control" id="cboMainBarcode@(itemName)" name="cboMainBarcode@(itemName)" required>
                                            <option value="Y">是</option>
                                            <option value="N" selected>否</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>

            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);"><i class="fal fa-search"></i>搜尋</a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        @*<a class="btn btn-info auth-add" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>*@
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" class="text-center">
                                            <label class="col-12 col-form-label">
                                                # 全選 <input type="checkbox" id="cbxSelectAll@(itemName)"/>
                                            </label>
                                        </th>
                                        <th scope="col" style="min-width: 200px;">料號</th>
                                        <th scope="col" style="min-width: 200px;">料名</th>
                                        <th scope="col" class="text-center" style="min-width: 150px;">需綁定條碼</th>
                                        <th scope="col" class="text-center" style="min-width: 150px;">是否為主條碼</th>
                                        <th scope="col" class="text-center" style="min-width: 150px;">用料需切割</th>
                                        <th scope="col" class="text-center" style="min-width: 150px;">上料類型</th>
                                        <th scope="col" class="text-center" style="min-width: 150px;">上料製程</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("ViewWoDetail")
@Html.Partial("ViewMoMtlSettingAttribute")

@Html.Resource("js",
    @<script>
        let moId@(itemName);
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 999
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        let moMtlSettingIdList = [];

        $(function () {
            $("#cbxSelectAll@(itemName)").off("click").on("click", function () {
                if ($("#cbxSelectAll@(itemName)").is(":checked")) {
                    $("input[type='checkbox'][data-mo-mtl-setting-id][data-check]").not(":disabled").prop("checked", true);
                } else {
                    $("input[type='checkbox'][data-mo-mtl-setting-id][data-check]").not(":disabled").prop("checked", false);
                }
            });

            $("#cboBindType@(itemName)").change(function () {
                let bindType = $(this).val();
                switch (bindType) {
                    case "B":
                        $("#cboBarcodeCtrl@(itemName)").prop("disabled", true);
                        $("#cboBarcodeCtrl@(itemName)").val("Y");
                        break;
                    case "L":
                        $("#cboBarcodeCtrl@(itemName)").prop("disabled", false);
                        $("#cboBarcodeCtrl@(itemName)").val("N");
                        break;
                    case "N":
                        $("#cboBarcodeCtrl@(itemName)").prop("disabled", false);
                        break;
                    default:
                        $("#cboBarcodeCtrl@(itemName)").prop("disabled", false);
                }
            });
        });

        function Query@(itemName)() {
            moId@(itemName) = moIdMfgOrderSetting;
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            moId@(itemName) = moIdMfgOrderSetting;
            if (!objPage) objPage = objPage@(itemName);
            let innerHtml = '';
            let pageCount = 0;

            let targetUrl = "@Url.Action("GetMoMtlSetting", "Production")";

            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "MoId": moId@(itemName),
                "MtlItemNo": $("#txtMtlItemNoQ@(itemName)").val(),
                "BomSequence": $("#txtBomSequenceQ@(itemName)").val(),
                "MoProcessId": $("#cboMoProcessIdQ@(itemName)").val()
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;
                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);
                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";
                        //${JudgeCompositionQuantity(`${item.BomSequence}`, `${item.CompositionQuantity}`, `${item.UomNo}`, `${item.Base}`, `${item.LossRate}`)}
                        innerHtml += `<tr>
                                        <td class="text-center" style="max-width: 150px; min-width: 135px;">
                                            <label class="control control-solid control-solid-info control--checkbox">
                                                ${_row}<input type="checkbox" data-mo-mtl-setting-id="${item.MoMtlSettingId}" data-check="Y" value="${item.MoMtlSettingId}"/>
                                                <span class="control__indicator"></span>
                                            </label>
                                        </td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MtlItemNo}" style="min-width: 200px;">${item.MtlItemNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MtlItemName}" style="min-width: 200px;">${item.MtlItemName}</td>
                                        <td class="text-center auth-status-switch" style="min-width: 150px;">
                                          <select class="form-control" name="cboBarcodeCtrl@(itemName)" data-mo-mtl-setting-id="${item.MoMtlSettingId}">
                                            <option value="Y" ${item.BarcodeCtrl == `Y` ? `selected` : ``}>是</option>
                                            <option value="N" ${item.BarcodeCtrl == `N` ? `selected` : ``}>否</option>
                                          </select>
                                        </td>
                                        <td class="text-center auth-status-switch" style="min-width: 150px;">
                                           <select class="form-control" name="cboMainBarcode@(itemName)" data-mo-mtl-setting-id="${item.MoMtlSettingId}">
                                            <option value="Y" ${item.MainBarcode == `Y` ? `selected` : ``}>是</option>
                                            <option value="N" ${item.MainBarcode == `N` ? `selected` : ``}>否</option>
                                           </select>
                                        </td>
                                        <td class="text-center auth-status-switch" style="min-width: 150px;">
                                          <select class="form-control" name="cboDecompositionFlag@(itemName)" data-mo-mtl-setting-id="${item.MoMtlSettingId}">
                                            <option value="Y" ${item.DecompositionFlag == `Y` ? `selected` : ``}>是</option>
                                            <option value="N" ${item.DecompositionFlag == `N` ? `selected` : ``}>否</option>
                                          </select>
                                        </td>
                                        <td class="ellipsis" data-toggle="tooltip" style="min-width: 150px;">
                                            <select class="form-control" data-mo-mtl-setting-id="${item.MoMtlSettingId}" id="cboBindTypeM@(itemName)${item.MoMtlSettingId}" name="cboBindTypeM@(itemName)" onchange="ChangeBindType@(itemName)('${item.MoMtlSettingId}', this)" required>
                                                <option value="B" ${item.BindType == `B` ? `selected` : ``}>條碼</option>
                                                <option value="L" ${item.BindType == `L` ? `selected` : ``}>批號</option>
                                                <option value="N" ${item.BindType == `N` ? `selected` : ``}>無上料控管</option>
                                            </select>
                                        </td>
                                        <td class="ellipsis" data-toggle="tooltip" style="min-width: 175px;">
                                            ${JudgeBindProcessing@(itemName)(`${item.ProcessBinding}`, `${item.MoMtlSettingId}`, `${item.MoProcessId}`)}
                                        </td>
                                        <td class="ellipsis" data-toggle="tooltip" style="min-width: 150px; padding: 3.5px; display: none;">
                                          ${JudgeControlType(`${item.ControlType}`, `${item.MoMtlSettingId}`)}
                                        </td>
                                        <td class="text-center active-content" scope="col" style="min-width: 200px;">
                                            <!--修改-->
                                            <a class="active-link auth-update" href="javascript:Edit@(itemName)('${item.MoMtlSettingId}');">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                            <!--設定製令用料屬性-->
                                            <a class="active-link auth-update" href="javascript:PopViewMoMtlSettingAttribute('${item.MoMtlSettingId}');">
                                                <i class="fas fa-cog"></i><span>設定用料屬性</span>
                                            </a>
                                        </td>
                                      </tr>`;
                    });
                }
                else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="12" style="background-color: #fff3cd;">
                                        <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
                function JudgeControlType(controlType, moMtlItemId) {
                    let innerHtml = '';
                    innerHtml += `<select id="cboControlTypeL@(itemName)${moMtlItemId}" name="cboControlTypeL@(itemName)" data-mo-mtl-setting-id="${moMtlItemId}" class="form-control-sm form-control-mix">`;
                    if (controlType == "1") {
                        innerHtml += `<option value="1" selected>是</option>
                                      <option value="2">否</option>`;
                    }
                    else {
                        innerHtml += `<option value="1">是</option>
                                      <option value="2" selected>否</option>`;
                    }
                    innerHtml += `</select>`;
                    return innerHtml;
                }

                function JudgeBindProcessing@(itemName)(processBinding, moMtlSettingId, moProcessId) {
                    let innerHtml = '';
                    if (processBinding == "Y")
                    {
                        let targetUrl = "@Url.Action("GetMoProcess", "Production")";
                        let postData = {
                            "MoId": moId@(itemName)
                        };
                        let data = DataAccess.Get(targetUrl, postData, false);

                        if (data.status == "success") {
                            if (data.result.length > 0) {
                                innerHtml += `<select class="form-control" data-mo-mtl-setting-id="${moMtlSettingId}" data-mo-process-id=${moProcessId} id="cboMoProcessIdM@(itemName)${moMtlSettingId}" name="cboMoProcessIdM@(itemName)" required>
                                                  <option value="">請選擇上料製程</option>`;
                                $.each(data.result, function (i, item) {
                                    innerHtml += `<option value="${item.MoProcessId}" ${parseInt(item.MoProcessId) == parseInt(moProcessId) ? `selected` : ``}>${item.ProcessAlias}</option>`;
                                });
                                innerHtml += `</select>`;
                            }
                        }
                        else {
                            alert(data.msg);
                        }
                    }
                    else {
                        innerHtml += `<select class="form-control" disabled>
                                        <option value="">不綁定上料製程</option>
                                      </select>`;
                    }
                    return innerHtml;
                }
            }
            else {
                alert(data.msg, "alert", 0);
            }
            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

            if (!isMobile) {
                $("#cboUnitOfMeasure@(itemName)").select2({
                    width: "100%"
                });
                $("#cboMoProcess@(itemName)").select2({
                    width: "100%"
                });
                $("#cboMoProcessIdQ@(itemName)").select2({
                    width: "100%"
                });
                $("select[id^='cboMoProcessIdM@(itemName)'").select2({
                    width: "100%"
                });
            }

            ComboBoxs.Default("#cboMoProcessIdQ@(itemName)", "@Url.Action("GetMoProcess", "Production")", { "MoId": moId@(itemName) }, "", "NA", "", "ProcessAlias", "MoProcessId");

            $(`select[name="cboBarcodeCtrl@(itemName)"][data-mo-mtl-setting-id]`).change(function () {
                moMtlSettingIdList = [];
                $.each($("input[type='checkbox'][data-mo-mtl-setting-id][data-check]:checked"), function (i) {
                    let moMtlSettingId = $(this).data("mo-mtl-setting-id");
                    if (moMtlSettingIdList.indexOf(moMtlSettingId) == -1) {
                        moMtlSettingIdList.push(moMtlSettingId);
                    }
                });

                if (moMtlSettingIdList.length <= 0) {
                    let moMtlSettingId = $(this).data("mo-mtl-setting-id");
                    moMtlSettingIdList.push(moMtlSettingId);
                }

                let targetUrl = "@Url.Action("UpdateBarcodeCtrlByLotMode", "Production")";
                let postData = {
                    "MoMtlSettingIdList": moMtlSettingIdList.toString(),
                };

                let result = DataAccess.Update(targetUrl, postData, false, true);

                Return@(itemName)();
            });

            $(`select[name="cboMainBarcode@(itemName)"][data-mo-mtl-setting-id]`).change(function () {
                moMtlSettingIdList = [];
                $.each($("input[type='checkbox'][data-mo-mtl-setting-id][data-check]:checked"), function (i) {
                    let moMtlSettingId = $(this).data("mo-mtl-setting-id");
                    if (moMtlSettingIdList.indexOf(moMtlSettingId) == -1) {
                        moMtlSettingIdList.push(moMtlSettingId);
                    }
                });

                if (moMtlSettingIdList.length <= 0) {
                    let moMtlSettingId = $(this).data("mo-mtl-setting-id");
                    moMtlSettingIdList.push(moMtlSettingId);
                }

                let targetUrl = "@Url.Action("UpdateMainBarcodeByLotMode", "Production")";
                let postData = {
                    "MoMtlSettingIdList": moMtlSettingIdList.toString(),
                };

                let result = DataAccess.Update(targetUrl, postData, false, true);

                Return@(itemName)();
            });

            $(`select[name="cboDecompositionFlag@(itemName)"][data-mo-mtl-setting-id]`).change(function () {
                moMtlSettingIdList = [];
                $.each($("input[type='checkbox'][data-mo-mtl-setting-id][data-check]:checked"), function (i) {
                    let moMtlSettingId = $(this).data("mo-mtl-setting-id");
                    if (moMtlSettingIdList.indexOf(moMtlSettingId) == -1) {
                        moMtlSettingIdList.push(moMtlSettingId);
                    }
                });

                if (moMtlSettingIdList.length <= 0) {
                    let moMtlSettingId = $(this).data("mo-mtl-setting-id");
                    moMtlSettingIdList.push(moMtlSettingId);
                }

                let targetUrl = "@Url.Action("UpdateDecompositionFlagByLotMode", "Production")";
                let postData = {
                    "MoMtlSettingIdList": moMtlSettingIdList.toString(),
                };

                let result = DataAccess.Update(targetUrl, postData, false, true);

                Return@(itemName)();
            });

            $("select[id^='cboControlTypeL']").change(function () {
                let moMtlSettingId = $(this).data("mo-mtl-setting-id");

                let targetUrl = "@Url.Action("UpdateControlType", "Production")";
                let postData = {
                    "MoMtlSettingId": moMtlSettingId,
                    "ControlType": $(this).val()
                };

                let result = DataAccess.Update(targetUrl, postData, false, true);

                InitData@(itemName)();
            });

            $("select[id^='cboBindTypeM@(itemName)']").change(function () {
                moMtlSettingIdList = [];
                $.each($("input[type='checkbox'][data-mo-mtl-setting-id][data-check]:checked"), function (i) {
                    let moMtlSettingId = $(this).data("mo-mtl-setting-id");
                    if (moMtlSettingIdList.indexOf(moMtlSettingId) == -1) {
                        moMtlSettingIdList.push(moMtlSettingId);
                    }
                });

                if (moMtlSettingIdList.length <= 0) {
                    let moMtlSettingId = $(this).data("mo-mtl-setting-id");
                    moMtlSettingIdList.push(moMtlSettingId);
                }

                swal.fire({
                    titleText: "確定要更改上料類型嗎?",
                    text: "此動作無法復原，請確認是否要執行!",
                    icon: "warning",
                    allowOutsideClick: false,
                    allowEscapeKey: false,
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        let targetUrl = "@Url.Action("UpdateBindType", "Production")";
                        let postData = {
                            "MoMtlSettingInfo": moMtlSettingIdList.toString(),
                            "BindType": $(this).val()
                        };

                        let result = DataAccess.Update(targetUrl, postData, false, true);

                        Return@(itemName)();
                    }
                    else {
                        Return@(itemName)();
                    }
                });
            });

            $("select[id^='cboMoProcessIdM@(itemName)']").change(function () {
                moMtlSettingIdList = [];
                $.each($("input[type='checkbox'][data-mo-mtl-setting-id][data-check]:checked"), function (i) {
                    let moMtlSettingId = $(this).data("mo-mtl-setting-id");
                    if (moMtlSettingIdList.indexOf(moMtlSettingId) == -1) {
                        moMtlSettingIdList.push(moMtlSettingId);
                    }
                });

                if (moMtlSettingIdList.length <= 0) {
                    let moMtlSettingId = $(this).data("mo-mtl-setting-id");
                    moMtlSettingIdList.push(moMtlSettingId);
                }

                swal.fire({
                    titleText: "確定要更改上料製程嗎?",
                    text: "此動作無法復原，請確認是否要執行!",
                    icon: "warning",
                    allowOutsideClick: false,
                    allowEscapeKey: false,
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        let targetUrl = "@Url.Action("UpdateBindMoProcess", "Production")";
                        let postData = {
                            "MoMtlSettingInfo": moMtlSettingIdList.toString(),
                            "MoProcessId": $(this).val()
                        };

                        let result = DataAccess.Update(targetUrl, postData, false, true);

                        Return@(itemName)();
                    }
                    else {
                        Return@(itemName)();
                    }
                });
            });
        }

        function BarcodeCtrlSwitch@(itemName)() {
            moMtlSettingIdList = [];
            $.each($("input[type='checkbox'][data-mo-mtl-setting-id][data-check]:checked"), function (i) {
                let moMtlSettingId = $(this).data("mo-mtl-setting-id");
                if (moMtlSettingIdList.indexOf(moMtlSettingId) == -1) {
                    moMtlSettingIdList.push(moMtlSettingId);
                }
            });

            let targetUrl;
            let postData;
            if (moMtlSettingIdList.length > 0) {
                targetUrl = "@Url.Action("UpdateBarcodeCtrlByLotMode", "Production")";
                postData = {
                    "MoMtlSettingIdList": moMtlSettingIdList.toString()
                };
            }
            else {
                targetUrl = "@Url.Action("UpdateBarcodeCtrl", "Production")";
                let moMtlSettingId = $(this).data("mo-mtl-setting-id");
                postData = {
                    "MoMtlSettingId": moMtlSettingId
                };
            }

            let result = DataAccess.Update(targetUrl, postData, false, true);

            Return@(itemName)();
        }

        function MainBarcodeSwitch@(itemName)() {
            moMtlSettingIdList = [];
            $.each($("input[type='checkbox'][data-mo-mtl-setting-id][data-check]:checked"), function (i) {
                let moMtlSettingId = $(this).data("mo-mtl-setting-id");
                if (moMtlSettingIdList.indexOf(moMtlSettingId) == -1) {
                    moMtlSettingIdList.push(moMtlSettingId);
                }
            });

            let targetUrl;
            let postData;

            if (moMtlSettingIdList.length > 0) {
                targetUrl = "@Url.Action("UpdateMainBarcodeByLotMode", "Production")";
                postData = {
                    "MoMtlSettingIdList": moMtlSettingIdList.toString()
                };
            }
            else {
                targetUrl = "@Url.Action("UpdateMainBarcode", "Production")";
                let moMtlSettingId = $(this).data("mo-mtl-setting-id");
                postData = {
                    "MoMtlSettingId": moMtlSettingId
                };
            }

            let result = DataAccess.Update(targetUrl, postData, false, true);

            if (result) {
                Return@(itemName)();
            }
        }

        function DecompositionFlagSwitch@(itemName)() {
            moMtlSettingIdList = [];
            $.each($("input[type='checkbox'][data-mo-mtl-setting-id][data-check]:checked"), function (i) {
                let moMtlSettingId = $(this).data("mo-mtl-setting-id");
                if (moMtlSettingIdList.indexOf(moMtlSettingId) == -1) {
                    moMtlSettingIdList.push(moMtlSettingId);
                }
            });

            let targetUrl;
            let postData;

            if (moMtlSettingIdList.length > 0) {
                targetUrl = "@Url.Action("UpdateDecompositionFlagByLotMode", "Production")";
                postData = {
                    "MoMtlSettingIdList": moMtlSettingIdList.toString()
                };
            }
            else {
                targetUrl = "@Url.Action("UpdateDecompositionFlag", "Production")";
                let moMtlSettingId = $(this).data("mo-mtl-setting-id");
                postData = {
                    "MoMtlSettingId": moMtlSettingId
                };
            }

            let result = DataAccess.Update(targetUrl, postData, false, true);

            if (result) {
                Return@(itemName)();
            }
        }

        function Edit@(itemName)(MoMtlSettingId) {
            $("#MoMtlSettingId").val(MoMtlSettingId ? MoMtlSettingId : 0);

            ComboBoxs.Default("#cboUnitOfMeasure@(itemName)", "@Url.Action("GetUnitOfMeasure", "PdmBasicInformation")", {}, "", "NA", "", "UomWithNo", "UomId");
            ComboBoxs.Default("#cboMoProcess@(itemName)", "@Url.Action("GetMoProcess", "Production")", { "MoId": moId@(itemName) }, "", "NA", "", "ProcessAlias", "MoProcessId");

            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");

            $("#txtWoDetailId@(itemName)").siblings(".help-block").hide();
            $("#txtWoDetailId@(itemName)").val("");
            $("#txtUomId@(itemName)").val("");
            $("#txtBomSequenceH@(itemName)").val("");
            $("#txtCompositionQuantityH@(itemName)").val("");
            $("#txtBaseH@(itemName)").val("");
            $("#txtLossRateH@(itemName)").val("");
            $("#txtWoId@(itemName)").val("");

            if (MoMtlSettingId > 0) {
                let targetUrl = "@Url.Action("GetMoMtlSetting", "Production")";
                let postData = {
                    "MoMtlSettingId": MoMtlSettingId
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $("#txtWoDetailId@(itemName)").siblings(".help-block").show();
                    $.each(data.result, function (i, item) {
                        $("#txtWoDetailId@(itemName)").val(item.WoDetailId);
                        $("#txtUomId@(itemName)").val(item.UomId);
                        $("#txtBomSequenceH@(itemName)").val(item.BomSequence);
                        $("#txtCompositionQuantityH@(itemName)").val(item.CompositionQuantity);
                        $("#txtBaseH@(itemName)").val(item.Base);
                        $("#txtLossRateH@(itemName)").val(item.LossRate);
                        $("#txtWoId@(itemName)").val(item.WoId);
                        $("#desMtlItemNo@(itemName)").html(item.MtlItemNo);
                        $("#desMtlItemName@(itemName)").html(item.MtlItemName);
                        $("#desMtlItemSpec@(itemName)").html(item.MtlItemSpec);
                        $("#txtBomSequence@(itemName)").val(item.BomSequence);
                        $("#cboUnitOfMeasure@(itemName)").val(item.UomId);
                        $("#txtCompositionQuantity@(itemName)").val(item.CompositionQuantity);
                        $("#txtBase@(itemName)").val(item.Base);
                        $("#txtLossRate@(itemName)").val(item.LossRate);
                        if (item.MoProcessId != null) $("#cboMoProcess@(itemName)").val(item.MoProcessId);
                        $("#cboControlType@(itemName)").val(item.ControlType);
                        $("#cboBarcodeCtrl@(itemName)").val(item.BarcodeCtrl);
                        $("#cboMainBarcode@(itemName)").val(item.MainBarcode);
                        $("#cboProcessBinding@(itemName)").val(item.ProcessBinding);
                        $("#cboBindType@(itemName)").val(item.BindType);
                    });
                } else {
                    alert(data.msg, "alert", 0);
                }
            }

            $("#txtWoDetailId@(itemName)").change(function () {
                setTimeout(function () {
                    ComboBoxs.Default("#cboUnitOfMeasure@(itemName)", "@Url.Action("GetUnitOfMeasure", "PdmBasicInformation")", {}, "", "NA", "", "UomWithNo", "UomId");
                    let bomSequence = $("#txtBomSequenceH@(itemName)").val();
                    $("#txtBomSequence@(itemName)").val(bomSequence);
                    let uomId = $("#txtUomId@(itemName)").val();
                    $("#cboUnitOfMeasure@(itemName)").val(uomId);
                    let compositionQuantity = $("#txtCompositionQuantityH@(itemName)").val();
                    $("#txtCompositionQuantity@(itemName)").val(compositionQuantity);
                    let base = $("#txtBaseH@(itemName)").val();
                    $("#txtBase@(itemName)").val(base);
                    let lossRate = $("#txtLossRateH@(itemName)").val();
                    $("#txtLossRate@(itemName)").val(lossRate);
                }, 450);
            });

            $("#cboProcessBinding@(itemName)").change(function () {
                if ($("#cboProcessBinding@(itemName)").val() == "Y") {
                    $("#cboMoProcess@(itemName)").attr("disabled", false);
                    $("#cboMoProcess@(itemName)").attr("required", true);

                }
                else {
                    ComboBoxs.Default("#cboMoProcess@(itemName)", "@Url.Action("GetMoProcess", "Production")", { "MoId": moId@(itemName) }, "", "NA", "", "ProcessAlias", "MoProcessId");
                    $("#cboMoProcess@(itemName)").attr("disabled", true);
                    $("#cboMoProcess@(itemName)").attr("required", false);
                    $("#cboMoProcess@(itemName)").val("");
                }
            }); //待做

            let popConfig = {
                targetSelector: "#txtWoDetailId@(itemName)",
                popFunction: "PopViewWoDetail",
                objectWoDetailId: "#txtWoDetailId@(itemName)",
                objectMtlItemNo: "#desMtlItemNo@(itemName)",
                objectMtlItemName: "#desMtlItemName@(itemName)",
                objectMtlItemSpec: "#desMtlItemSpec@(itemName)",
                objectCompositionQuantity: "#txtCompositionQuantityH@(itemName)",
                objectBase: "#txtBaseH@(itemName)",
                objectLossRate: "#txtLossRateH@(itemName)",
                objectBomSequence: "#txtBomSequenceH@(itemName)",
                objectUomId: "#txtUomId@(itemName)",
                objectWoId: "#txtWoId@(itemName)"
            };
            InitPopView(popConfig);
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let MoMtlSettingId = parseInt($("#MoMtlSettingId").val());

                if (MoMtlSettingId <= 0) {
                    let targetUrl = "@Url.Action("AddMoMtlSetting", "Production")";
                    let postData = {
                        "MoId": moId@(itemName),
                        "WoDetailId": $("#txtWoDetailId@(itemName)").val(),
                        "UomId": $("#cboUnitOfMeasure@(itemName)").val(),
                        "CompositionQuantity": $("#txtCompositionQuantity@(itemName)").val(),
                        "Base": $("#txtBase@(itemName)").val(),
                        "LossRate": $("#txtLossRate@(itemName)").val(),
                        "BomSequence": $("#txtBomSequence@(itemName)").val(),
                        "ProcessBinding": $("#cboProcessBinding@(itemName)").val(),
                        "MoProcessId": $("#cboMoProcess@(itemName)").val(),
                        "BarcodeCtrl": $("#cboBarcodeCtrl@(itemName)").val(),
                        "MainBarcode": $("#cboMainBarcode@(itemName)").val(),
                        "ControlType": $("#cboControlType@(itemName)").val()
                    };

                    var result = DataAccess.Add(targetUrl, postData, false, true);

                    if (result) {
                        Return@(itemName)();
                    }
                }
                else {
                    let targetUrl = "@Url.Action("UpdateMoMtlSetting", "Production")";
                    let postData = {
                        "MoMtlSettingId": MoMtlSettingId,
                        "MoId": moId@(itemName),
                        "WoDetailId": $("#txtWoDetailId@(itemName)").val(),
                        "UomId": $("#cboUnitOfMeasure@(itemName)").val(),
                        "CompositionQuantity": $("#txtCompositionQuantity@(itemName)").val(),
                        "Base": $("#txtBase@(itemName)").val(),
                        "LossRate": $("#txtLossRate@(itemName)").val(),
                        "BomSequence": $("#txtBomSequence@(itemName)").val(),
                        "ProcessBinding": $("#cboProcessBinding@(itemName)").val(),
                        "MoProcessId": $("#cboMoProcess@(itemName)").val(),
                        "BarcodeCtrl": $("#cboBarcodeCtrl@(itemName)").val(),
                        "MainBarcode": $("#cboMainBarcode@(itemName)").val(),
                        "ControlType": $("#cboControlType@(itemName)").val(),
                        "BindType": $("#cboBindType@(itemName)").val()
                    };

                    var result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Return@(itemName)();
                    }
                }
            }
        }

        function Generate@(itemName)() {
            let woDetailId = $("#txtWoDetailId@(itemName)").val();
            if (woDetailId <= 0) {
                alert("請綁定物料後再進行序號產生!", alert);
                return false;
            }
            let targetUrl = "@Url.Action("GetBomSequence", "Production")";
            let postData = {
                "WoDetailId": woDetailId
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                if (data.result.length > 0) {
                    $.each(data.result, function (i, item) {
                        let count = item.Count + 1;
                        let bomSequence = (count * 10).toString().padStart(4, 0);
                        $("#txtBomSequence@(itemName)").val(bomSequence);
                    });
                }
            }
        }

        function Delete@(itemName)(MoMtlSettingId) {
            swal.fire({
                titleText: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteMoMtlSetting", "Production")";
                    let postData = {
                        "MoMtlSettingId": MoMtlSettingId
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function ChangeBindType@(itemName)(moMtlSettingId, e) {
            let bindType = $(e).val();
            swal.fire({
                titleText: "確定要更改上料類型嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("UpdateBindType", "Production")";
                    let postData = {
                        "MoMtlSettingId": moMtlSettingId,
                        "BindType": bindType
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    Query@(itemName)();
                }
                else {
                    Query@(itemName)();
                }
            });
        }

        function Return@(itemName)() {
            Switch("#listData@(itemName)", "#editData@(itemName)");
            ResetForm(objForm@(itemName));

            let checkAllSelect = $("#cbxSelectAll@(itemName)").prop("checked");

            InitData@(itemName)();
            $("#cbxSelectAll@(itemName)").prop("checked", false);

            $.each(moMtlSettingIdList, function (i, item) {
                $(`input[type="checkbox"][data-mo-mtl-setting-id=${item}][data-check]`).prop("checked", true);
            });

            if (checkAllSelect == true) {
                $("#cbxSelectAll@(itemName)").prop("checked", true);
            }
        }
    </script>
                    )
