
@using Business_Manager.Helpers
@{
    string itemName = "MfgOrderSetting";
    string itemNameText = "製令設定";
    string authority = ViewBag.authority;
}

@Html.Resource("css",
    @<style>
    </style>
                )

<div class="row">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="MoSettingId" value="-1" />
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="cboProdMode@(itemName)">生產模式(由途程綁定)<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select class="form-control" id="cboProdMode@(itemName)" name="cboProdMode@(itemName)" disabled></select>
                                    </div>
                                </div>
                            </div>
                            <div id="divDeliveryProcess@(itemName)" class="col-lg-12 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="cboDeliveryProcess@(itemName)">出貨工程</label>
                                    <div class="col-12">
                                        <select class="form-control" id="cboDeliveryProcess@(itemName)" name="cboDeliveryProcess@(itemName)"></select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-4 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="cboPVTQCFlag@(itemName)">量產前是否需要做全吋檢<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select class="form-control" id="cboPVTQCFlag@(itemName)" name="cboPVTQCFlag@(itemName)" required>
                                            <option value="Y">是</option>
                                            <option value="N" selected>否</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="cboOQcCheckType@(itemName)">未完成出貨檢是否可以入庫<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select class="form-control" id="cboOQcCheckType@(itemName)" name="cboOQcCheckType@(itemName)" required>
                                            <option value="Y" selected>可以入庫</option>
                                            <option value="N">不可入庫</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="cboFullPassQcFlag@(itemName)">產品每日檢查<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select class="form-control" id="cboFullPassQcFlag@(itemName)" name="cboFullPassQcFlag@(itemName)" required>
                                            <option value="Y" selected>需檢查</option>
                                            <option value="N">不需檢查</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="cboBarcodeCtrl@(itemName)">是否做條碼控管 <code>(Y:條碼過站 / N:數量過站)</code><span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select class="form-control" id="cboBarcodeCtrl@(itemName)" name="cboBarcodeCtrl@(itemName)" required>
                                            <option value="">請選擇</option>
                                            <option value="Y">是</option>
                                            <option value="N">否</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="cboOutputBarcodeFlag@(itemName)">製程中是否產新條碼 <code>(僅限數量過站使用)</code><span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select class="form-control" id="cboOutputBarcodeFlag@(itemName)" name="cboOutputBarcodeFlag@(itemName)" required>
                                            <option value="">請選擇</option>
                                            <option value="Y">是</option>
                                            <option value="N">否</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mr-type">
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="cboSource@(itemName)">條碼來源<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select class="form-control" id="cboSource@(itemName)"></select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="cboMrType@(itemName)">是否可領非當月條碼(料)<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select class="form-control" id="cboMrType@(itemName)" name="cboMrType@(itemName)" required>
                                            <option value="">請選擇</option>
                                            <option value="Y" selected>是</option>
                                            <option value="N">否</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="cboNgToBarcode@(itemName)">過站需刷取NG條碼 <code>(此參數會影響到過站時刷NG是否直接視為報廢)</code><span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select class="form-control" id="cboNgToBarcode@(itemName)">
                                            <option value="">請選擇</option>
                                            <option value="Y">需刷取</option>
                                            <option value="N" selected>不需刷取</option>
                                            <option value="T">直接更改原條碼狀態</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="cboNgToDisassembly@(itemName)">NG品是否需拆解 <code>(此參數設定為Y後，報廢品將無法入庫)</code><span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select class="form-control" id="cboNgToDisassembly@(itemName)">
                                            <option value="">請選擇</option>
                                            <option value="Y">需拆解</option>
                                            <option value="N" selected>不需拆解</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="cboTrayBarcode@(itemName)">是否為Tray盤模式 <code>(此參數會影響到發料是否可以發到Tray條碼)</code><span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select class="form-control" id="cboTrayBarcode@(itemName)">
                                            <option value="Y">是</option>
                                            <option value="N" selected>否</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="cboVehicleFlag@(itemName)">是否使用載盤上料 <code>(此參數會影響到是否可以使用載盤上料)</code><span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select class="form-control" id="cboVehicleFlag@(itemName)">
                                            <option value="Y">是</option>
                                            <option value="N" selected>否</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="lot-mode">
                            <div class="row">
                                <div class="col-lg-4 col-md-12">
                                    <div class="form-group row">
                                        <label class="form-label col-12" for="txtBarcodePrefix@(itemName)">批量條碼前綴<span class="text-danger">*</span></label>
                                        <div class="col-12">
                                            <input type="text" class="form-control" id="txtBarcodePrefix@(itemName)" name="txtBarcodePrefix@(itemName)"
                                                   placeholder="請輸入批量條碼前綴" onkeypress="BanBlankKey(event)" onkeydown="BandCtrlV(event)" onkeyup="this.value=this.value.replace(/[, ]/g,'')"
                                                   data-msg-maxlength="必須少於 50 個字元" maxlength="50" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12">
                                    <div class="form-group row">
                                        <label class="form-label col-12" for="txtBarcodePostfix@(itemName)">批量條碼後綴</label>
                                        <div class="col-12">
                                            <input type="text" class="form-control" id="txtBarcodePostfix@(itemName)" name="txtBarcodePostfix@(itemName)"
                                                   placeholder="請輸入批量條碼後綴" onkeydown="BandCtrlV(event)" onkeyup="this.value=this.value.replace(/[, ]/g,'')"
                                                   data-msg-maxlength="必須少於 20 個字元" maxlength="20" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-12">
                                    <div class="form-group row">
                                        <label class="form-label col-12" for="txtSequenceLen@(itemName)">流水碼長度<span class="text-danger">*</span></label>
                                        <div class="col-12">
                                            <input type="number" class="form-control" id="txtSequenceLen@(itemName)" name="txtSequenceLen@(itemName)"
                                                   placeholder="請輸入流水碼長度"
                                                   value="4" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group row">
                                        <label class="form-label col-12" for="cboLotStatus@(itemName)">批量生產<code>(若過站條碼QTY>1，請選擇批量生產)</code><span class="text-danger">*</span></label>
                                        <div class="col-12">
                                            <select class="form-control" id="cboLotStatus@(itemName)" name="cboLotStatus@(itemName)" required>
                                                <option value="">請選擇</option>
                                                <option value="Y">批量生產</option>
                                                <option value="N">非批量生產</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group row">
                                        <label class="form-label col-12" for="txtLotQty@(itemName)">批量條碼數量<span class="text-danger">*</span></label>
                                        <div class="col-12">
                                            <input type="number" class="form-control" id="txtLotQty@(itemName)" name="txtLotQty@(itemName)"
                                                   placeholder="請輸入批量條碼數量" data-rule-required="true" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <a class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</a>
            </div>
        </div>
    </div>
</div>

@Html.Partial("ViewAddBarcodePrint")

@Html.Resource("js",
    @<script>
        $(function () {
            $("#txtLotQty@(itemName)").val(1);
            $("#cboSource@(itemName)").change(function () {
                let source = $("#cboSource@(itemName)").val();
                if (source == "BP") $(".bp-mode").show();
                else $(".bp-mode").hide();
            });
        });

        let moId@(itemName);
        let objForm@(itemName) = "#editForm@(itemName)";



        function Expand@(itemName)(moId) {
            if (moId > 0) {
                moId@(itemName) = moId;
                $(".advanced-block").slideDown("slow");
                Return@(itemName)();
                ReturnMfgMtlSetting();
                ReturnMfgBarcodePrint();
                ReturnMfgRoutingSetting();

                if (!isMobile) {
                    $("#cboProdMode@(itemName)").select2({
                        width: "100%"
                    });
                    $("#cboDeliveryProcess@(itemName)").select2({
                        width: "100%"
                    });
                }

                $("#cboBarcodeCtrl@(itemName)").change(function () {
                    if ($(this).val() == "Y") {
                        $("#cboOutputBarcodeFlag@(itemName)").val("N");
                        $("#cboOutputBarcodeFlag@(itemName)").prop("disabled", true);
                    }
                    else {
                        $("#cboOutputBarcodeFlag@(itemName)").val("Y");
                        $("#cboOutputBarcodeFlag@(itemName)").prop("disabled", false);
                    }
                });

                $("#cboNgToBarcode@(itemName)").change(function () {
                    let ngToBarcode = $(this).val();
                    if (ngToBarcode == "Y") {
                        $("#cboNgToDisassembly@(itemName)").prop("disabled", false);
                    }
                    else {
                        $("#cboNgToDisassembly@(itemName)").prop("disabled", true);
                        $("#cboNgToDisassembly@(itemName)").val("N");
                    }
                });

            } else {
                alert("製令設定資料錯誤，請重新操作!", "alert");
            }
        }

        function Query@(itemName)() {
            ComboBoxs.Default("#cboProdMode@(itemName)", "@Url.Action("GetProdMode", "MesBasicInformation")", {}, "", "NA", "", "txtProdModeWithText", "ModeId");
            ComboBoxs.Default("#cboDeliveryProcess@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "ManufactureOrder.DeliveryProcess" }, "", "NA", "", "TypeName", "TypeNo");
            ComboBoxs.WithText("#cboSource@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "MoSetting.Source" }, "", "NA", "", "TypeName", "TypeNo");
            InitData@(itemName)();

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)() {
            let targetUrl = "@Url.Action("GetMoSetting", "Production")";

            let postData = {
                "MoId": moId@(itemName)
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {

                if (data.result.length > 0) {
                    $.each(data.result, function (i, item) {
                        $("#MoSettingId").val(item.MoSettingId);
                        $("#txtMtlItemId@(itemName)").val(item.MtlItemId);
                        $("#txtModeNo@(itemName)").val(item.ModeNo);

                        if (item.ModeNo != "JMO-A-001") {
                            //只有模仁加工才需要選擇出貨工程
                            $("#cboDeliveryProcess@(itemName)").val("");
                            $("#cboDeliveryProcess@(itemName)").prop("disabled", true);
                            $("#divDeliveryProcess@(itemName)").hide();
                        }
                        else {
                            $("#divDeliveryProcess@(itemName)").show();
                        }

                        $("#txtModeName@(itemName)").val(item.ModeName);
                        $("#txtWoErpPrefix@(itemName)").val(item.WoErpPrefix);
                        $("#txtWoErpNo@(itemName)").val(item.WoErpNo);
                        $("#txtMtlItemNo@(itemName)").val(item.MtlItemNo);
                        $("#txtMtlItemName@(itemName)").val(item.MtlItemName);
                        $("#txtMoId@(itemName)").val(item.MoId);
                        $("#txtModeId@(itemName)").val(item.ModeId);
                        $("#cboLotStatus@(itemName)").val(item.LotStatus);
                        $("#cboProdMode@(itemName)").val(item.ModeId);
                        $("#cboDeliveryProcess@(itemName)").val(item.DeliveryProcess);
                        $("#cboPVTQCFlag@(itemName)").val(item.PVTQCFlag);
                        $("#cboBarcodeCtrl@(itemName)").val(item.BarcodeCtrl);
                        $("#cboOQcCheckType@(itemName)").val(item.OQcCheckType);
                        $("#cboTrayBarcode@(itemName)").val(item.TrayBarcode);
                        $("#cboSource@(itemName)").val(item.Source);
                        $("#txtBarcodePrefix@(itemName)").val(item.BarcodePrefix);
                        $("#txtBarcodePostfix@(itemName)").val(item.BarcodePostfix);
                        $("#txtSequenceLen@(itemName)").val(item.SequenceLen);
                        $("#cboNgToBarcode@(itemName)").val(item.NgToBarcode);
                        $("#txtLotQty@(itemName)").val(item.LotQty);
                        $("#cboMrType@(itemName)").val(item.MrType);
                        $("#txtBarcodePrefix@(itemName)").val(item.BarcodePrefix);
                        $("#txtBarcodePostfix@(itemName)").val(item.BarcodePostfix);
                        $("#txtSequenceLen@(itemName)").val(item.SequenceLen);
                        $("#cboOutputBarcodeFlag@(itemName)").val(item.OutputBarcodeFlag);
                        $("#cboNgToDisassembly@(itemName)").val(item.NgToDisassembly);
                        $("#cboVehicleFlag@(itemName)").val(item.VehicleFlag);
                        $("#cboFullPassQcFlag@(itemName)").val(item.FullPassQcFlag);

                        if (item.BarcodeCtrl == "Y") {
                            $("#cboOutputBarcodeFlag@(itemName)").prop("disabled", true);
                        }
                        else {
                            $("#cboOutputBarcodeFlag@(itemName)").prop("disabled", false);
                        }

                        item.MtlControl == "Y" ? $("#cbxMtlControl@(itemName)Y").prop("checked", true) : $("#cbxMtlControl@(itemName)Y").prop("checked", false);

                        if (item.Source == "BP") {
                            $(".bp-mode").show();
                            $(".lot-setting").show();
                        }
                        else {
                            $(".bp-mode").hide();
                            $(".lot-setting").hide();
                        }

                        if (item.NgToBarcode == "Y") {
                            $("#cboNgToDisassembly@(itemName)").prop("disabled", false);
                        }
                        else {
                            $("#cboNgToDisassembly@(itemName)").prop("disabled", true);
                            $("#cboNgToDisassembly@(itemName)").val("N");
                        }

                        @*if ($("#cboOQcBarcodeType@(itemName)").val() == "N") {
                            $("#cboOQcCheckType@(itemName)").prop("disabled", true);
                            $("#cboOQcCheckType@(itemName)").val("N");
                        }*@
                    });
                }
            }
            else {
                alert(data.msg, "alert", 0);
            }
        }

        function Edit@(itemName)() {
            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");
            $(".advanced-block").show();
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                if ($("#cboLotStatus@(itemName)").val() == 'Y' && parseInt($("#txtLotQty@(itemName)").val()) < 2) {

                    //批量生產且批量條碼數量為1 則要跳出提醒
                    swal.fire({
                        titleText: "確認要【批量條碼數量==1】嗎?",
                        text: "此動作將產出" + $("#txtQuantityMfgOrderManagement").val() + "個條碼，請確認是否要執行!",
                        icon: "warning",
                        allowOutsideClick: false,
                        allowEscapeKey: false,
                        showCancelButton: true,
                        confirmButtonColor: '#d33',
                        reverseButtons: true
                    }).then((result) => {
                        if (result.isConfirmed) {
                            let targetUrl = "@Url.Action("UpdateMoSetting", "Production")";
                            let postData = {
                                "MoId": moId@(itemName),
                                "LotStatus": $("#cboLotStatus@(itemName)").val(),
                                "LotQty": $("#txtLotQty@(itemName)").val(),
                                "NgToBarcode": $("#cboNgToBarcode@(itemName)").val(),
                                "BarcodePrefix": $("#txtBarcodePrefix@(itemName)").val().toUpperCase(),
                                "BarcodePostfix": $("#txtBarcodePostfix@(itemName)").val().toUpperCase(),
                                "SequenceLen": $("#txtSequenceLen@(itemName)").val(),
                                "ModeId": $("#cboProdMode@(itemName)").val(),
                                "DeliveryProcess": $("#cboDeliveryProcess@(itemName)").val(),
                                "Source": $("#cboSource@(itemName)").val(),
                                "PVTQCFlag": $("#cboPVTQCFlag@(itemName)").val(),
                                "OQcCheckType": $("#cboOQcCheckType@(itemName)").val(),
                                "BarcodeCtrl": $("#cboBarcodeCtrl@(itemName)").val(),
                                "TrayBarcode": $("#cboTrayBarcode@(itemName)").val(),
                                "MrType": $("#cboMrType@(itemName)").val(),
                                "OutputBarcodeFlag": $("#cboOutputBarcodeFlag@(itemName)").val(),
                                "NgToDisassembly": $("#cboNgToDisassembly@(itemName)").val(),
                                "VehicleFlag": $("#cboVehicleFlag@(itemName)").val(),
                                "FullPassQcFlag": $("#cboFullPassQcFlag@(itemName)").val(),
                            };

                            let result = DataAccess.Add(targetUrl, postData, false, false);

                            if (result) {
                                if ($("#cboLotStatus@(itemName)").val() == "Y" || $("#cboSource@(itemName)").val() == "BP") {
                                    $(".lot-setting").show();
                                    $(".mtl-setting .flag-link").click();
                                }
                                else {
                                    $(".lot-setting").hide();
                                    $(".mtl-setting .flag-link").click();
                                }
                                ReturnMfgMtlSetting();
                            }
                        } else {
                            $("#txtLotQty@(itemName)").focus();
                        }
                    });
                } else {
                    let targetUrl = "@Url.Action("UpdateMoSetting", "Production")";
                    let postData = {
                        "MoId": moId@(itemName),
                        "LotStatus": $("#cboLotStatus@(itemName)").val(),
                        "LotQty": $("#txtLotQty@(itemName)").val(),
                        "NgToBarcode": $("#cboNgToBarcode@(itemName)").val(),
                        "BarcodePrefix": $("#txtBarcodePrefix@(itemName)").val().toUpperCase(),
                        "BarcodePostfix": $("#txtBarcodePostfix@(itemName)").val().toUpperCase(),
                        "SequenceLen": $("#txtSequenceLen@(itemName)").val(),
                        "ModeId": $("#cboProdMode@(itemName)").val(),
                        "DeliveryProcess": $("#cboDeliveryProcess@(itemName)").val(),
                        "Source": $("#cboSource@(itemName)").val(),
                        "PVTQCFlag": $("#cboPVTQCFlag@(itemName)").val(),
                        "OQcCheckType": $("#cboOQcCheckType@(itemName)").val(),
                        "BarcodeCtrl": $("#cboBarcodeCtrl@(itemName)").val(),
                        "TrayBarcode": $("#cboTrayBarcode@(itemName)").val(),
                        "MrType": $("#cboMrType@(itemName)").val(),
                        "OutputBarcodeFlag": $("#cboOutputBarcodeFlag@(itemName)").val(),
                        "NgToDisassembly": $("#cboNgToDisassembly@(itemName)").val(),
                        "VehicleFlag": $("#cboVehicleFlag@(itemName)").val(),
                        "FullPassQcFlag": $("#cboFullPassQcFlag@(itemName)").val(),
                    };

                    let result = DataAccess.Add(targetUrl, postData, false, false);

                    if (result) {
                        if ($("#cboLotStatus@(itemName)").val() == "Y" || $("#cboSource@(itemName)").val() == "BP") {
                            $(".lot-setting").show();
                            $(".mtl-setting .flag-link").click();
                        }
                        else {
                            $(".lot-setting").hide();
                            $(".mtl-setting .flag-link").click();
                        }
                        ReturnMfgMtlSetting();
                    }
                }
            }
        }

        function Return@(itemName)() {
            Switch("#listData@(itemName)", "#editData@(itemName)");
            ResetForm(objForm@(itemName));
            Query@(itemName)();
        }
</script>
        )
