
@using Business_Manager.Helpers
@{
    string itemName = "MfgRoutingSetting";
    string itemNameText = "製令途程設定";
    string authority = ViewBag.authority;
}

@Html.Resource("css",
    @<style>
    </style>
                    )

<!--搜尋-->
<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">途程名稱</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtRoutingNameQ@(itemName)" name="txtRoutingNameQ@(itemName)" placeholder="請輸入途程名稱">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboProdModeQ@(itemName)">生產模式</label>
                            <div class="col-12">
                                <select class="form-control" id="cboProdModeQ@(itemName)" name="cboProdModeQ@(itemName)">
                                    <option value="">-- 請選擇生產模式 --</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)"><i class="fal fa-search"></i>搜尋</a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right" style="display: flex; justify-content: flex-end;">
                        <a id="popViewRouting@(itemName)" style="margin-right: 5px;" class="btn btn-info auth-add" href="javascript:PopViewRouting();"><i class="fas fa-plus"></i>新增</a>
                        <div class="view-routing-modal"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="max-width: 75px;">#</th>
                                        <th scope="col" style="max-width: 200px;">途程名稱</th>
                                        <th scope="col" style="max-width: 175px;">生產模式</th>
                                        <th scope="col" style="max-width: 175px;">版次</th>
                                        <th scope="col" style="max-width: 175px;">順序</th>
                                        <th scope="col" style="max-width: 200px;">2D研發設計圖</th>
                                        <th class="text-center" scope="col" style="max-width: 250px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="DesignId" name="DesignId" value="-1" />
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtCustomerMtlItemNo@(itemName)">客戶品號(部番) <span class="text-danger">*</span></label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtCustomerMtlItemNo@(itemName)" name="txtCustomerMtlItemNo@(itemName)"
                                       placeholder="請輸入客戶品號(部番)"
                                       data-msg-required="請輸入客戶品號(部番)" data-rule-required="true"
                                       data-msg-maxlength="必須少於 50 個字元" maxlength="50" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtCustomerCadControlId@(itemName)">客戶設計圖</label>
                            <div class="col-12">
                                <input type="hidden" id="txtCustomerCadControlId@(itemName)" />
                                <div class="btn-group">
                                    <a class="btn btn-success pop-view" href="javascript:void(0);"><i class="fal fa-search"></i></a>
                                    <a class="btn btn-outline-danger pop-clear" href="javascript:void(0);"><i class="fas fa-eraser"></i></a>
                                </div>
                                <dl class="help-block">
                                    <dt>客戶圖號</dt>
                                    <dd id="desCustomerDwgNo@(itemName)"></dd>
                                    <dt>版次</dt>
                                    <dd id="desEdition@(itemName)"></dd>
                                    <dt>客戶設計圖</dt>
                                    <dd id="desCadFile@(itemName)"></dd>
                                </dl>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtMtlItemId@(itemName)">綁定品號</label>
                            <div class="col-12">
                                <input type="hidden" id="txtMtlItemId@(itemName)" />
                                <div class="btn-group">
                                    <a class="btn btn-success pop-view" href="javascript:void(0);"><i class="fal fa-search"></i></a>
                                    <a class="btn btn-outline-danger pop-clear" href="javascript:void(0);"><i class="fas fa-eraser"></i></a>
                                </div>
                                <dl class="help-block">
                                    <dt>品號</dt>
                                    <dd id="desMtlItemNo@(itemName)"></dd>
                                    <dt>品名</dt>
                                    <dd id="desMtlItemName@(itemName)"></dd>
                                    <dt>規格</dt>
                                    <dd id="desMtlItemSpec@(itemName)"></dd>
                                </dl>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

@Html.Partial("ViewRouting")

@Html.Resource("js",
    @<script>
        let moId@(itemName);
        let woErpFullNo@(itemName);
        $(document).ready(function () {
            if (!isMobile) {
                $("#cboProdModeQ@(itemName)").select2({
                    width: "100%"
                });
            }
            ComboBoxs.Default("#cboProdModeQ@(itemName)", "@Url.Action("GetProdMode", "MesBasicInformation")", {}, "", "NA", "", "txtProdModeWithText", "ModeId");
        });

        let objForm@(itemName) = "#editForm@(itemName)";

        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };

        function Query@(itemName)() {
            moId@(itemName) = moIdMfgOrderSetting;
            woErpFullNo@(itemName) = $("#WoErpFullNo").val();
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));
            InitData2@(itemName)();
            $("#modalQuery@(itemName)").modal("hide");
            $(".view-routing-modal").html(`<a class="active-link" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalViewMfgOrderManagement" href="javascript:void(0);" onclick="ViewRoutingProcessMfgOrderManagement('${moId@(itemName)}','${woErpFullNo@(itemName)}')"> <i class="far fa-eye"> 查看製程</i></a>`);
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;
            let targetUrl = "@Url.Action("GetMoRouting", "Production")";

            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "MoId": moId@(itemName),
                "RoutingName": $("#txtRoutingNameQ@(itemName)").val(),
                "ModeId": $("#cboProdModeQ@(itemName)").val()
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;
                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);
                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";
                        innerHtml += `<tr id="${item.MoRoutingId}">
                                        <td scope="col" style="min-width: 75px;" class="text-center active-content auth-sort">
                                            <a class="active-link sort-handle" href="javascript:void(0);"><i class="fas fa-arrows-alt"></i><span>途程順序</span></a>
                                        </td>
                                        <td class="un-auth auth-sort">${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.RoutingName}" style="max-width: 200px;">${item.RoutingName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ModeNo} ${item.ModeName}" style="max-width: 175px;">${item.ModeNo} ${item.ModeName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Edition}(${item.Version})" style="max-width: 175px;">${item.Edition}<code>(${item.Version})</code></td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.SortNumber}" style="max-width: 175px;">${item.SortNumber}</td>
                                        ${JudgeCad2DFileAbsolutePath@(itemName)(`${item.Cad2DFileAbsolutePath}`, `${item.Cad2DFile}`, `${item.FileName}`, `${item.FileExtension}`)}
                                        <td class="text-center active-content" style="max-width: 250px;">
                                            <a class="active-link auth-delete" href="javascript:Delete@(itemName)('${item.MoRoutingId}');">
                                              <i class="fas fa-trash-alt"></i>
                                            </a>
                                        </td>
                                    </tr>`;

                        function JudgeCad2DFileAbsolutePath@(itemName)(cad2DFileAbsolutePath, cad2DFile, fileName, fileExtension) {
                            let innerHtml = '';
                            if (cad2DFileAbsolutePath != "null") {
                                let fileFullNameList = cad2DFileAbsolutePath.split('\\');
                                let fileFullName = fileFullNameList[fileFullNameList.length - 1];
                                innerHtml += `<td class="active-content ellipsis" data-toggle="tooltip" title="${fileFullName}" style="max-width: 145px;">
                                                  <a class="active-link mr-1" href="/Drawing/GetCadFile?FilePath=${cad2DFileAbsolutePath}"><i class="fas fa-download"></i></a>
                                                  ${fileFullName}
                                              </td>`;
                            }
                            else if (cad2DFile != "null") {
                                innerHtml += `<td class="active-content ellipsis" data-toggle="tooltip" title="${fileName}${fileExtension}" style="max-width: 145px;">
                                                  <a class="active-link mr-1" href="/Drawing/GetPdmFile?fileId=${cad2DFile}"><i class="fas fa-download"></i></a>
                                                  ${fileName}${fileExtension}
                                              </td>`;
                            }
                            else {
                                innerHtml += `<td></td>`;
                            }

                            return innerHtml;
                        }
                    });
                }
                else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="7" style="background-color: #fff3cd;">
                                        <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            }
            else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

            $("#tblData@(itemName) tbody").sortable({
                cancel: ".disabled-sort",
                handle: ".sort-handle",
                update: function (event, ui) {
                    let targetUrl = "@Url.Action("UpdateMoRoutingSort", "Production")";
                    let postData = {
                        "SortNumber": $(this).sortable("toArray", { attribute: 'id' }).join()
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                    else {
                        return false;
                    }
                }
            });
        }

        function InitData2@(itemName)(){
            let targetUrl = "@Url.Action("GetManufactureOrder", "Production")";
            let postData = {
                "MoId": moId@(itemName),
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                $.each(data.result, function (i, item) {
                    $("#popViewRouting@(itemName)").attr(`href`, `javascript:PopViewRouting('${item.MoId}', '${item.MtlItemId}', '${item.ModeId}', '${item.ModeNo}', '${item.ModeName}', '${item.WoErpPrefix}', '${item.WoErpNo}', '${item.MtlItemNo}', '${item.MtlItemName}');`);
                });
            }
        }

        function Edit@(itemName)() {
            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");
            $(".advanced-block").show();
        }

        function Delete@(itemName)(moRoutingId) {
            swal.fire({
                titleText: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteMoRouting", "Production")";
                    let postData = {
                        "MoRoutingId": moRoutingId
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        //製令用料設定製程 動態更新
                        ComboBoxs.Default("#cboMoProcessMfgMtlSetting", "@Url.Action("GetMoProcess", "Production")", { "MoId": moId@(itemName) }, "", "NA", "", "ProcessAlias", "MoProcessId");
                        ComboBoxs.Default("#cboMoProcessIdQMfgMtlSetting", "@Url.Action("GetMoProcess", "Production")", { "MoId": moId@(itemName) }, "", "NA", "", "ProcessAlias", "MoProcessId");
                        Query@(itemName)();
                    }
                }
            });
        }

        function Return@(itemName)() {
            Switch("#listData@(itemName)", "#editData@(itemName)");
            ResetForm(objForm@(itemName));
            Query@(itemName)();
        }
    </script>
                )