                                                                                                                                                                                @using Business_Manager.Helpers
@{
    string itemName = "MoProcessChangeManagment";
    string itemNameText = "製令途程變更單";
    string authority = ViewBag.authority;
}

@Html.Resource("css",
    @<style>
    </style>
        )

<input type="hidden" id="pageAuthority" value="@authority" />
<input type="hidden" id="MoId" value="-1" />
<input type="hidden" id="MpcStatus" value="S" />
<input type="hidden" id="LotStatus" value="N" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtMoIdQ@(itemName)">MES製令</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMoIdQ@(itemName)" name="txtMoIdQ@(itemName)" placeholder="請輸入MES製令Id" />
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label class="col-12 col-form-label">單據日期 <input type="checkbox" id="cbxDocDateQ@(itemName)" checked/></label>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtStartDocDateQ@(itemName)" name="txtStartDocDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtEndDocDateQ@(itemName)" name="txtEndDocDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">狀態</label>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    啟用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)A" name="cbxStatusQ@(itemName)" value="A" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    停用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)S" name="cbxStatusQ@(itemName)" value="S" checked/>
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);">
                            <i class="fal fa-search"></i>搜尋
                        </a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn btn-info auth-add" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th scope="col" style="min-width: 200px;">製令</th>
                                        <th scope="col" style="min-width: 200px;">製令途程變更單單號</th>
                                        <th class="text-center" scope="col" style="min-width: 200px;">單據日期</th>
                                        <th class="text-center" scope="col" style="min-width: 200px;">變更者</th>
                                        <th class="text-center" scope="col" style="min-width: 200px;">狀態</th>
                                        <th class="text-center" scope="col" style="min-width: 200px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="MpcId" name="MpcId" value="-1" />
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtMpcNo@(itemName)">製令途程變更單單號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMpcNo@(itemName)" name="txtMpcNo@(itemName)" placeholder="請輸入品異單單號"
                                       data-msg-required="請輸入製令途程變更單單號"
                                       data-msg-maxlength="必須少於 15 個字元" maxlength="100" readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">單據日期 <span class="text-danger">*</span></label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtDocDate@(itemName)" name="txtDocDate@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtMoId@(itemName)">綁定MES製令<span class="text-danger">*</span></label>
                            <div class="col-12">
                                <input type="hidden" id="txtMoId@(itemName)" value="" />
                                <div class="btn-group btn-group@(itemName) choose-MoId">
                                    <a class="btn btn-success pop-view" href="javascript:void(0);"><i class="fal fa-search"></i></a>
                                    <a class="btn btn-outline-danger pop-clear" href="javascript:clearMoId();"><i class="fas fa-eraser"></i></a>
                                </div>
                                <dl class="help-block">
                                    <dt>製令</dt>
                                    <dd id="desWoErpFullNo@(itemName)"></dd>
                                    <dt>品號</dt>
                                    <dd id="desMtlItemNo@(itemName)"></dd>
                                    <dt>品名</dt>
                                    <dd id="desMtlItemName@(itemName)"></dd>
                                    <dt>是否批量生產</dt>
                                    <dd id="desLotStatus@(itemName)"></dd>
                                </dl>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboMpcUserId@(itemName)">變更者 <span class="text-danger">*</span></label>
                            <div class="col-12">
                                <select class="form-control" id="cboMpcUserId@(itemName)" name="cboMpcUserId@(itemName)"
                                        data-msg-required="請選擇變更者" data-rule-required="true"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="form-label col-12" for="txtRemark@(itemName)">備註</label>
                            <div class="col-12">
                                <textarea class="form-control" id="txtRemark@(itemName)" name="txtRemark@(itemName)"
                                          data-msg-maxlength="必須少於 255 個字元" maxlength="255" rows="2" placeholder="請輸入備註"></textarea>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-success read-status choose-MoId" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

<!--下方分頁-->
<div class="advanced-block">
    <div class="row">
        <div class="col-12">
            <ul class="nav flag-tabs nav-fill" role="tablist">
                <li class="flag-item auth-detail">
                    <a class="flag-link active" data-toggle="tab" href="#tabMpcBarcode">
                        <i class="fas fa-conveyor-belt-alt"></i> 條碼維護
                    </a>
                </li>
                <li class="flag-item auth-detail">
                    <a class="flag-link" data-toggle="tab" href="#tabMpcRoutingProcess">
                        <i class="fas fa-list-ol"></i> 變更途程製程維護
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane active" id="tabMpcBarcode">
            @Html.Partial("MpcBarcode")
        </div>
        <div class="tab-pane" id="tabMpcRoutingProcess">
            @Html.Partial("MpcRoutingProcess")
        </div>
    </div>
</div>

@Html.Partial("~/Views/Inventory/ViewManufactureOrder.cshtml")

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };

        let objForm@(itemName) = "#editForm@(itemName)";

        $(document).ready(function () {

            ComboBoxs.Default("#cboMpcUserIdQ@(itemName)", "@Url.Action("GetUser", "BasicInformation")", {}, "", "NA", "", "UserWithNo", "UserId"); //變更者

            Query@(itemName)();

            let currentDate = new Date();
            @*Suites.DateDropper("#txtStartDocDateQ@(itemName),#txtEndDocDateQ@(itemName)");
            Suites.SetDateDropper("#txtEndDocDateQ@(itemName)", currentDate);
            currentDate.setDate(currentDate.getDate() - 7);
            Suites.SetDateDropper("#txtStartDocDateQ@(itemName)", currentDate);*@

            Suites.DatePicker("txtEndDocDateQ@(itemName)", currentDate);
            currentDate.setDate(currentDate.getDate() - 30);
            Suites.DatePicker("txtStartDocDateQ@(itemName)", currentDate);

            if (!isMobile) {
                $("#cboMpcUserId@(itemName)").select2({
                    width: "100%"
                });
            }

            $('.advanced-block a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                InitParameter@(itemName)($(this));
            });
        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let statusList = [];
            $.each($("input[name='cbxStatusQ@(itemName)']:checked"), function () {
                statusList.push($(this).val());
            });

            let targetUrl = "@Url.Action("GetMoProcessChange", "Production")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "MoId": $("#txtMoIdQ@(itemName)").val(),
                "StartDocDate": ($("#cbxDocDateQ@(itemName)").is(":checked") ? $("#txtStartDocDateQ@(itemName)").val() : ""),
                "EndDocDate": ($("#cbxDocDateQ@(itemName)").is(":checked") ? $("#txtEndDocDateQ@(itemName)").val() : ""),
                "Status": statusList.join(",")

            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr>
                                        <td>${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MoId}" style="max-width: 200px;">${item.MoNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MpcNo}" style="max-width: 200px;">${item.MpcNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DocDate}" style="max-width: 200px;">${item.DocDate}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MpcUserId}" style="max-width: 200px;">${item.MpcUserName}</td>
                                        <td class="text-center auth-status-switch">
                                          <input type="checkbox" id="ckxchkStatus@(itemName)${item.MpcId}" name="chkStatus@(itemName)" data-mpc-id="${item.MpcId}" ${item.Status == `A` ? `checked` : ``} />
                                        </td>
                                        <td class="text-center un-auth auth-status-switch">${StatusName(`Status`, item.Status)}</td>
                                        <td class="text-center active-content">
                                          <a class="active-link auth-update" href="javascript:Edit@(itemName)(${item.MpcId});"><i class="fas fa-edit"></i></a>
                                          ${item.Status ==`S`?
                                          `<a class="active-link auth-delete" href="javascript:Delete@(itemName)(${item.MpcId});"><i class="fas fa-trash-alt"></i></a>`
                                        : `<a class="active-link auth-delete active-disable" href="javascript:void(0);"><i class="fas fa-trash-alt"></i></a>`
                                            }
                                        </td >
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="7" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

            $("input[name='chkStatus@(itemName)']").bootstrapToggle({
                on: "啟用",
                off: "停用",
                onstyle: "success",
                offstyle: "danger",
                size: "mini"
            });

            $("input[name='chkStatus@(itemName)'][data-mpc-id]").change(StatusSwitch@(itemName));
        }

        function Edit@(itemName)(MpcId) {
            $("#MpcId").val(MpcId ? MpcId : 0);

            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");

            ComboBoxs.Default("#cboMpcUserId@(itemName)", "@Url.Action("GetUser", "BasicInformation")", {}, "", "NA", "", "UserWithNo", "UserId"); //變更者

            //日期欄位 Suites.DateDropper(功能開啟) Suites.SetDateDropper(日期設置)
            //Suites.DateDropper("#txtDocDate@(itemName)");
            //開單日預設今日
            let currentDate = new Date();
            //Suites.SetDateDropper("#txtDocDate@(itemName)", currentDate);
            Suites.DatePicker("txtDocDate@(itemName)", currentDate);
            $("#txtDocDate@(itemName)").attr("disabled", false);
            $("#cboMpcUserId@(itemName)").attr("disabled", false);
            $("#txtRemark@(itemName)").attr("readonly", false);

            $(".showMoProcess").hide();
            $(".choose-MoId").show()


            if (MpcId > 0) {
                let targetUrl = "@Url.Action("GetMoProcessChange", "Production")";
                let postData = {
                    "MpcId": MpcId
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        $(".choose-MoId").hide()
                        //如果有拋轉過就不能更改開單日
                        //$('#txtDocDate@(itemName)').dateDropper('destroy');
                        $("#txtDocDate@(itemName)").attr("disabled", true);
                        $("#cboMpcUserId@(itemName)").attr("disabled", true);
                        $("#txtRemark@(itemName)").attr("readonly", true);



                        $("#txtMpcNo@(itemName)").val(item.MpcNo);
                        $("#txtDocDate@(itemName)").val(item.DocDate);
                        $("#txtRemark@(itemName)").val(item.Remark);
                        $("#cboMpcUserId@(itemName)").val(item.MpcUserId);

                        $("#desWoErpFullNo@(itemName)").text(item.MoNo);
                        $("#desMtlItemNo@(itemName)").text(item.MtlItemNo);
                        $("#desMtlItemName@(itemName)").text(item.MtlItemName);
                        $("#desLotStatus@(itemName)").text(item.LotStatus);
                    
                        $("#txtMoId@(itemName)").val(item.MoId);
                        $("#MoId").val(item.MoId);
                        $("#MpcStatus").val(item.Status);
                        $("#LotStatus").val(item.LotStatus);
                        $(".help-block").show();
                    });
                    if ($(".advanced-block .flag-tabs > .flag-item > .flag-link").first().hasClass("active")) {
                        InitParameter@(itemName)($(".advanced-block .flag-tabs > .flag-item").first().find("a"));
                        ExpandMpcBarcode(MpcId);

                    } else {
                        $(".advanced-block .flag-tabs > .flag-item").first().find("a").trigger("click");
                        ExpandMpcRoutingProcess(MpcId);

                    }

                } else {
                    alert(data.msg, "alert", 0);
                }
            }
            if (!isMobile) {
                $("#cboAbnormalqualityStatus@(itemName)").select2({
                    width: "100%"
                });
            }

            let popConfig = {
                targetSelector: "#txtMoId@(itemName)",
                popFunction: "PopViewManufactureOrder",
                objectMoId: "#txtMoId@(itemName), #MoId",
                objectWoErpFullNo: "#desWoErpFullNo@(itemName)",
                objectMtlItemNo: "#desMtlItemNo@(itemName)",
                objectMtlItemName: "#desMtlItemName@(itemName)",
                objectMtlItemSpec: "#desMtlItemSpec@(itemName)",
                objectQuantity: "#txtQuantity@(itemName)",
                objectInventoryId: "#cboInventoryId@(itemName)",
                objectPlanQty: "#desPlanQty@(itemName)",
                objectRequisitionSetQty: "#desRequisitionSetQty@(itemName)",
                objectStockInQty: "#desStockInQty@(itemName)",
                objectLotStatus: "#desLotStatus@(itemName)",
                objectLotStatus: "#LotStatus",
            };
            InitPopView(popConfig);
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let MpcId = parseInt($("#MpcId").val());

                if (MpcId <= 0) {
                    let targetUrl = "@Url.Action("AddMoProcessChange", "Production")";
                    let postData = {
                        "DocDate": $("#txtDocDate@(itemName)").val(),
                        "MoId": $("#txtMoId@(itemName)").val(),
                        "MpcUserId": $("#cboMpcUserId@(itemName)").val(),
                        "Remark": $("#txtRemark@(itemName)").val()
                    };

                    let data = DataAccess.EditContinued(targetUrl, postData, false);

                    if (data) {
                        $.each(data.result, function (i, item) {
                            ComboBoxs.Default("#cboMpcUserId@(itemName)", "@Url.Action("GetUser", "BasicInformation")", {}, "", "NA", "", "UserWithNo", "UserId"); //變更者
                            $("#MpcId").val(item.MpcId);
                            $("#txtMpcNo@(itemName)").val(item.MpcNo);
                            $("#cboMpcUserId@(itemName)").val(item.MpcUserId);
                            $(".choose-MoId").hide()

                        });
                        if ($(".advanced-block .flag-tabs > .flag-item > .flag-link").first().hasClass("active")) {
                            InitParameter@(itemName)($(".advanced-block .flag-tabs > .flag-item").first().find("a"));
                            ExpandMpcBarcode(MpcId);
                        } else {
                            $(".advanced-block .flag-tabs > .flag-item").first().find("a").trigger("click");
                            ExpandMpcRoutingProcess(MpcId);
                        }
                    }
                }
            }
        }

        function Delete@(itemName)(MpcId) {
            swal.fire({
                titleText: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteMoProcessChange", "Production")";
                    let postData = {
                        "MpcId": MpcId,
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function Return@(itemName)() {
            $("#MpcId").val("")
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName)", "#editData@(itemName), .unit-block, .advanced-block");
            $("#txtMoId@(itemName)").siblings().find(".pop-clear").trigger("click")
            Query@(itemName)();
        }
        function clearMoId() {
            $("#MoId").val("")
        }
        function clearMoProcess() {
            $("#MoProcessId").val("")
            $("#desProcessAlias@(itemName)").text("")
            $(".showMoProcess").hide()
        }

        function StatusSwitch@(itemName)() {
            var MpcId = $(this).data("mpc-id");

            let targetUrl = "@Url.Action("UpdateMpcIdStatus", "Production")";
            let postData = {
                "MpcId": MpcId
            };

            let result = DataAccess.Update(targetUrl, postData, false, true);

            if (result) {
                Return@(itemName)();
            }
            else {
                Query@(itemName)();
            }
        }
        function InitParameter@(itemName)(selector) {
            let initFnString = "Query";
            let content = selector.attr("href").split('#tab')[1].split('@(itemName)')[0];

            switch (content) {
                case "MpcRoutingProcess":
                    initFnString += "MpcRoutingProcess";
                    break;
                case "MpcBarcode":
                    initFnString += "MpcBarcode";
                    break;
            }

            let initFn = window[initFnString];
            if (initFn && typeof (initFn) == "function") {
                initFn();
            }
        }
    </script>
                )