@using Business_Manager.Helpers
@{
    string itemName = "MpcBarcode";
    string itemNameText = "變更單條碼管理";
    string authority = ViewBag.authority;
}

@Html.Resource("css",
    @<style>
         .centerObject {
             vertical-align: middle !important;
             text-align: center;
         }
    </style>
)

<input type="hidden" id="BarcodeListView" value="MPC" />
<input type="hidden" id="MpcBarcodeId" value="-1" />

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtBarcodeNoQ@(itemName)">條碼</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtBarcodeNoQ@(itemName)" name="txtBarcodeNoQ@(itemName)" placeholder="請輸入條碼" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);">
                            <i class="fal fa-search"></i>搜尋
                        </a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right read-status MpcStatusA">
                        <a class="btn btn-info auth-add" href="javascript:Edit@(itemName)();">
                            <i class="fas fa-plus"></i>新增條碼
                        </a>
                        <a class="btn btn-info auth-add" href="javascript:DeleteAll@(itemName)();">
                            <i class="fas fa-plus"></i>條碼清空
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th scope="col" style="min-width: 200px;">條碼</th>
                                        <th class="text-center" scope="col" style="min-width: 200px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <div class="collapse mb-3" id="basic@(itemName)" style="display:block">
                            <div class="card card-body">
                                <div class="row ">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group row">
                                            <label class="col-12 col-form-label" for="cboBarcodeIds@(itemName)">異常條碼選擇(複選)</label>
                                            <div class="col-12">
                                                <div class="input-group">
                                                    <input type="hidden" class="form-control" id="txtBarcodeNos@(itemName)" name="txtBarcodeNos@(itemName)" />
                                                    <select class="form-control" id="cboBarcodeIds@(itemName)" multiple></select>
                                                    <div class="input-group-append">
                                                        <a class="btn btn-success pop-view" href="javascript:void(0);"><i class="fal fa-search"></i></a>
                                                        <div id="clearMpcBarcodeAll" class="btn btn-outline-danger"><i class="fas fa-eraser"></i></div>
                                                        <input type="hidden" name="name" value="" class="pop-clear"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

<!--檢視-途程站別-->
<div class="modal fade" id="modalView@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body"></div>
            </div>

        </div>
    </div>
</div>

@Html.Partial("~/Views/Abnormalquality/ViewBarcodeList.cshtml")

@Html.Resource("js",
    @<script src="@Url.Content("~/Scripts/tagsinput.js")"></script>
)

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        $(document).ready(function () {
            //清空條碼
            $("#clearMpcBarcodeAll").click(function () {
                $("#txtBarcodeNos@(itemName)").val("")
                $("#txtBarcodeNos@(itemName)").siblings().find(".pop-clear").trigger("click")
            })
            //變更單啟用中要隱藏
            if ($("#MpcStatus").val() == "A") {
                $(".MpcStatusA").hide()
            }
        });

        function Expand@(itemName)() {
            if (parseInt($("#MpcId").val()) > 0) {
                $(".advanced-block").slideDown("slow");
                Return@(itemName)();
            } else {
                alert("製程變更單資料錯誤", "alert");
            }
        }

        function Query@(itemName)() {
            if ($("#MpcStatus").val() == "A") {
                $(".MpcStatusA").hide()
            }
            else if ($("#MpcStatus").val() == "S") {
                $(".MpcStatusA").show()
            }
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let targetUrl = "@Url.Action("GetMpcBarcode", "Production")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "MpcId": $("#MpcId").val(),
                "MpcBarcodeId": $("#MpcBarcodeId").val(),
                "BarcodeNo": $("#txtBarcodeNoQ@(itemName)").val().trim(),
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";
                        innerHtml += `<tr>
                                        <td>${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.BarcodeNo}" style="max-width: 200px;">${item.BarcodeNo}</td>
                                        <td class="text-center active-content">
                                            <a class="active-link auth-update" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalView@(itemName)" href="javascript:void(0);" onclick="ViewRoutingProcess@(itemName)('${310}')">
                                                <i class="far fa-eye"></i>
                                            </a>
                                        ${item.Status == `S` ? `
                                          <a class="active-link auth-detail MpcStatusA" href="javascript:Delete@(itemName)(${item.MpcBarcodeId});"><i class="fas fa-trash-alt"></i></a
                                        </td>
                                        `: ``   }

                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="3" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));
        }

        function Edit@(itemName)(MpcBarcodeId) {
            $("#MpcBarcodeId").val(MpcBarcodeId ? MpcBarcodeId : 0);

            Switch("#editData@(itemName)", "#listData@(itemName)");
            $(".chooseBarcodeIds").show();
            $(".haveBarcodeId").hide();

            if ($("#LotStatus").val() == "Y") {
                ComboBoxs.Default("#cboBarcodeIds@(itemName)", "@Url.Action("GetBarcodeList", "Abnormalquality")", { "MoId": $("#MoId").val(), "BarcodeListView": $("#BarcodeListView").val() }, "", "CHOOSE-NUMBER", "", "PrBarcodeNo", "PrintId");
            }
            else if ($("#LotStatus").val() == "N") {
                ComboBoxs.Default("#cboBarcodeIds@(itemName)", "@Url.Action("GetBarcodeList", "Abnormalquality")", { "MoId": $("#MoId").val(), "BarcodeListView": $("#BarcodeListView").val() }, "", "CHOOSE-NUMBER", "", "MrBarcodeNo", "BarcodeRegisterId");
            }
            else {
                alert("製令是否批量生產欄位有問題!!")
                return
            }

            if (!isMobile) {
                $("#cboBarcodeIds@(itemName)").select2({
                    dropdownAutoWidth: true,
                    width: "100%"
                });
            }

            let popConfig = {
                targetSelector: "#cboBarcodeIds@(itemName)",
                popFunction: "PopViewBarcodeList",
                objectbarcodeId: "#cboBarcodeIds@(itemName)",
                objectbarcodeNo: "#txtBarcodeNos@(itemName)",
                type: "checkbox"
            };
            InitPopView(popConfig);
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let MpcBarcodeId = parseInt($("#MpcBarcodeId").val());

                //撈取條碼輸入框內的條碼標籤
                var tageNum = $(".select2-selection__choice__display").length
                var BarcodeIds =""
                for (var i = 0; i <= tageNum -1; i++) {
                    if (i == 0) {
                        BarcodeIds = $(`.select2-selection__choice__display:eq(${i})`).text();
                    }
                    else{
                        BarcodeIds += "," + $(`.select2-selection__choice__display:eq(${i})`).text();
                    }
                }

                if (MpcBarcodeId <= 0) {
                    let targetUrl = "@Url.Action("AddMpcBarcode", "Production")";
                    let postData = {
                        "MpcId": $("#MpcId").val(),
                        "BarcodeIds": BarcodeIds,
                    };

                    let result = DataAccess.Add(targetUrl, postData, false, true);

                    if (result) {
                        Return@(itemName)();
                    }
                }
            }
        }

        function Delete@(itemName)(MpcBarcodeId) {
            swal.fire({
                titleText: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteMpcBarcode", "Production")";
                    let postData = {
                        "MpcBarcodeId": MpcBarcodeId
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function DeleteAll@(itemName)(MoId) {
            swal.fire({
                titleText: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteMpcBarcodeAll", "Production")";
                    let postData = {
                        "MpcId": $("#MpcId").val()
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function ViewRoutingProcess@(itemName)(MpcBarcodeId) {
            let targetUrl = "@Url.Action("GetMpcBarcodeRouting", "Production")";
            let postData = {
                "RoutingId": MpcBarcodeId
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                let innerHtml = '';
                //$("#modalView@(itemName) h5[class='modal-title']").html("途程名稱: " + routingName);
                if (data.result.length==0) {
                    innerHtml += `<span class="empty-data-style"><i class="fas fa-exclamation-triangle"></i> 此途程尚未設定任何製程。</span>`;
                }
                else {
                    innerHtml += `<div class="baseline baseline-border">`;
                    $.each(data.result, function (i, item) {
                        if (i % 2 == 0) innerHtml += `<div class="baseline-list baseline-border baseline-info">`;
                        else innerHtml += `<div class="baseline-list baseline-border baseline-warning">`;
                        innerHtml += `
                                                <div class="baseline-info">
                                                    <div>
                                                        <strong> <code>${item.SortNumber}</code> </strong>
                                                        站別名稱：${item.ProcessName}
                                                    </div>
                                                    <span class="text-muted">途程站別類別:${item.ProcessNo}&nbsp;&nbsp;,是否必須過站:${item.NecessityStatus}</span>
                                                </div>
                                            </div>
                                        <div>
                                     `;
                    });
                }
                $("#modalView@(itemName) div[class='card-body']").html(innerHtml);
            } else {
                alert(data.msg, "alert", 0);
            }
        }

        function Return@(itemName)() {
            //$("#AqBarcodeId").val("")
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName)", "#editData@(itemName)");
            Query@(itemName)();
        }

    </script>
        )