
@using Business_Manager.Helpers
@{
    string itemName = "OspListManagement";
    string itemNameText = "委外製程預排管理";
    string authority = ViewBag.authority;

    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
         .help-block {
             display: none;
             margin: 5px 0 0;
             border: 3px dashed #b1b1b1;
             border-radius: 5px;
             padding: 5px 10px;
         }

         dt {
             float: left;
             clear: left;
             width: 110px;
         }

             dt::after {
                 content: "：";
             }

         dd {
             margin: 0 0 0 80px;
             padding: 0;
             color: #36a2f5;
             font-weight: bold;
         }

        .table-sticky thead .col-sticky:nth-last-child(1) {
            right: 0;
        }

        .table-sticky tbody .col-sticky:nth-last-child(1) {
            right: 0;
        }

        .trLock {
            color: #f00;
            display: none;
        }

            .trLock input {
            }

        .statusTitle {
            min-width: 200px;
            font-size: 12px;
            padding: 12px !important;
        }

        .statusLabel {
            text-align: center;
            vertical-align: middle;
        }

        .effectiveText {
            border: 1px solid rgba(0,127,0,.7);
            border-radius: 50%;
            color: rgba(0,127,0,1);
            font-family: "Font Awesome 5 Pro";
            font-weight: bold;
            padding: 5px;
        }

        .nonEffectiveText {
            border: 1px solid rgba(235,0,0,.7);
            border-radius: 50%;
            color: rgba(235,0,0,1);
            font-family: "Font Awesome 5 Pro";
            font-weight: bold;
            padding: 5px;
        }

        .transferText {
            border: 1px solid rgba(0,127,0,.7);
            border-radius: 50%;
            color: rgba(0,127,0,1);
            font-family: "Font Awesome 5 Pro";
            font-weight: bold;
            padding: 5px;
        }

        .nonTransferText {
            border: 1px solid rgba(235,0,0,.7);
            border-radius: 50%;
            color: rgba(235,0,0,1);
            font-family: "Font Awesome 5 Pro";
            font-weight: bold;
            padding: 5px;
        }

        .erpExistText {
            border: 1px solid rgba(0,127,0,.7);
            border-radius: 50%;
            color: rgba(0,127,0,1);
            font-family: "Font Awesome 5 Pro";
            font-weight: bold;
            padding: 5px;
        }

        .nonErpExistText {
            border: 1px solid rgba(235,0,0,.7);
            border-radius: 50%;
            color: rgba(235,0,0,1);
            font-family: "Font Awesome 5 Pro";
            font-weight: bold;
            padding: 5px;
        }

        .transfer-btn {
            background-color: #f16969 !important;
            border-color: #f16969 !important;
        }

        .delete-btn {
            background-color: #838383 !important;
            border-color: #838383 !important;
        }
    </style>
                                                        )

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

<!--搜尋-->
<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtWoErpFullNoQ@(itemName)">製令單號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtWoErpFullNoQ@(itemName)" name="txtWoErpFullNoQ@(itemName)"
                                       placeholder="請輸入製令單號">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboDepartmentIdQ@(itemName)">委託部門</label>
                            <div class="col-12">
                                <select class="form-control" id="cboDepartmentIdQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtMtlItemNoQ@(itemName)">品號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMtlItemNoQ@(itemName)" name="txtMtlItemNoQ@(itemName)"
                                       placeholder="請輸入品號">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtMtlItemNameQ@(itemName)">品名</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMtlItemNameQ@(itemName)" name="txtMtlItemNameQ@(itemName)"
                                       placeholder="請輸入品名">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboProcessIdQ@(itemName)">製程</label>
                            <div class="col-12">
                                <select class="form-control" id="cboProcessIdQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboSupplierIdQ@(itemName)">供應商</label>
                            <div class="col-12">
                                <select class="form-control" id="cboSupplierIdQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboCreateUserIdQ@(itemName)">建立單據人員</label>
                            <div class="col-12">
                                <select class="form-control" id="cboCreateUserIdQ@(itemName)" name="cboCreateUserIdQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboPoUserIdQ@(itemName)">採購人員</label>
                            <div class="col-12">
                                <select class="form-control" id="cboPoUserIdQ@(itemName)" name="cboPoUserIdQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">單據狀態</label>
                            <div class="col-12">
                                <select class="form-control" id="cboStatusQ@(itemName)" name="cboStatusQ@(itemName)">
                                    <option value="">全部</option>
                                    <option value="Y">已拋轉</option>
                                    <option value="N" selected>未拋轉</option>
                                    <option value="P">採購指定供應商</option>
                                    <option value="F">採購已駁回</option>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<!--列表-->
<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);"><i class="fal fa-search"></i>搜尋</a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn btn-info transfer-btn auth-transfer" href="javascript:PopViewOspListGroup();"><i class="fas fa-share"></i>批量拋轉</a>
                        <a class="btn btn-info delete-btn auth-delete" href="javascript:Delete@(itemName)();"><i class="fas fa-trash-alt"></i>批量刪除</a>
                        <a class="btn btn-info auth-add" href="javascript:PopViewAddOspList();"><i class="fas fa-plus"></i>新增</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky tiny-table" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th class="text-center col-sticky" scope="col" style="min-width: 110px;">
                                            <label class="col-12 col-form-label ">
                                                全選 <input type="checkbox" id="cbxSelectAll@(itemName)" />
                                            </label>
                                        </th>
                                        <th class="text-center" scope="col" style="max-width: 110px;">操作</th>
                                        <th scope="col" style="max-width: 200px;">製令單號</th>
                                        <th scope="col" style="max-width: 200px;">製令製程</th>
                                        <th scope="col" style="min-width: 75px;">供應商</th>
                                        <th scope="col" style="max-width: 145px;">委託部門</th>
                                        <th scope="col" style="max-width: 200px;">品號</th>
                                        <th scope="col" style="max-width: 200px;">品名</th>
                                        <th scope="col" style="max-width: 150px;">規格</th>
                                        <th scope="col" style="max-width: 150px;">委外日期</th>
                                        <th scope="col" style="min-width: 75px;">數量</th>
                                        <th scope="col" style="min-width: 75px;">製程代碼</th>
                                        <th scope="col" style="max-width: 150px;">單據狀態</th>
                                        <th scope="col" style="min-width: 110px;">預計回廠日期</th>
                                        <th scope="col" style="min-width: 135px;">備註</th>
                                        <th scope="col" style="max-width: 150px;">採購人員</th>
                                        <th scope="col" style="max-width: 150px;">建立人員</th>
                                        <th scope="col" style="min-width: 135px;">是否支援工程檢</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--新增/編輯-->
<div class="modal fade" id="modalEdit@(itemName)">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">編輯</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container custom-form-container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="txtOspListId" value="0" />
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtWoErpFullNo@(itemName)">製令單號</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtWoErpFullNo@(itemName)" name="txtWoErpFullNo@(itemName)" readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboMoProcessId@(itemName)">製令製程</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboMoProcessId@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtOspDate@(itemName)">委外日期</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="date" class="form-control" id="txtOspDate@(itemName)" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtQuantity@(itemName)">委外數量</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="number" class="form-control" id="txtQuantity@(itemName)" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboDepartmentId@(itemName)">委託部門</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboDepartmentId@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtExpectedDate@(itemName)">預計回廠日期</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="date" class="form-control" id="txtExpectedDate@(itemName)" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboProcessCheckStatus@(itemName)">支援工程檢</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboProcessCheckStatus@(itemName)">
                                    <option value="Y">是</option>
                                    <option value="N">否</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtRemark@(itemName)">備註</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <textarea class="form-control" id="txtRemark@(itemName)"></textarea>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

@Html.Partial("ViewAddOspList")
@Html.Partial("ViewOspListGroup")

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        let companyId@(itemName);

        let ospListIds = [];

        let ospLists = [];

        $(document).ready(function () {
            GetLoginByKey@(itemName)();

            Query@(itemName)();

            $("#cboDepartmentIdQ@(itemName)").select2({
                width: "100%",
                dropdownParent: $("#modalQuery@(itemName)"),
            });
            $("#cboProcessIdQ@(itemName)").select2({
                width: "100%",
                dropdownParent: $("#modalQuery@(itemName)"),
            });
            $("#cboSupplierIdQ@(itemName)").select2({
                width: "100%",
                dropdownParent: $("#modalQuery@(itemName)"),
            });
            $("#cboCreateUserIdQ@(itemName)").select2({
                width: "100%",
                dropdownParent: $("#modalQuery@(itemName)"),
            });
            $("#cboPoUserIdQ@(itemName)").select2({
                width: "100%",
                dropdownParent: $("#modalQuery@(itemName)"),
            });

            //部門
            ComboBoxs.Default("#cboDepartmentIdQ@(itemName)", "@Url.Action("GetDepartment", "BasicInformation")", { "CompanyId": companyId@(itemName) }, "", "NA", "", "DepartmentWithNo", "DepartmentId");

            //製程
            ComboBoxs.Default("#cboProcessIdQ@(itemName)", "@Url.Action("GetProcess", "Production")", { "CompanyId": companyId@(itemName) }, "", "NA", "", "ProcessFullNo", "ProcessId");

            //供應商
            ComboBoxs.Default("#cboSupplierIdQ@(itemName)", "@Url.Action("GetSupplier", "ScmBasicInformation")", { "CompanyId": companyId@(itemName) }, "", "NA", "", "SupplierWithNo", "SuppierId");

            //建立單據者
            ComboBoxs.Default("#cboCreateUserIdQ@(itemName)", "@Url.Action("GetUser", "BasicInformation")", { "CompanyId": companyId@(itemName), "Status": "A" }, "", "NA", "", "UserWithNo", "UserId");

            //採購人員
            ComboBoxs.Default("#cboPoUserIdQ@(itemName)", "@Url.Action("GetUser", "BasicInformation")", { "CompanyId": companyId@(itemName), "Status": "A" }, "", "NA", "", "UserWithNo", "UserId");

            $("#txtWoErpFullNoQ@(itemName), #txtMtlItemNoQ@(itemName), #txtMtlItemNameQ@(itemName)").keydown(function (event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    Query@(itemName)();
                    return false;
                }
            });

            $("#cbxSelectAll@(itemName)").prop("checked", false);

            $("#cbxSelectAll@(itemName)").off("click").on("click", function () {
                const isChecked = $(this).is(":checked");
                const $checkboxes = $("input[type='checkbox'][data-osp-list-id]").not(":disabled");

                $checkboxes.prop("checked", isChecked);

                $checkboxes.each(function () {
                    const ospListId = $(this).data("osp-list-id");
                    if (isChecked) {
                        if (!ospListIds.includes(ospListId)) {
                            ospListIds.push(ospListId);
                        }
                    } else {
                        ospListIds = ospListIds.filter(id => id !== ospListId);
                    }
                });
            });
        });

        function GetLoginByKey@(itemName)() {
            let targetUrl = "@Url.Action("GetLoginByKey", "User")";
            let postData = {
                "UserNo": $.cookie("Login"),
                "KeyText": $.cookie("LoginKey")
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                companyId@(itemName) = data.returnData.CompanyId;
            } else {
                alert(data.msg, "alert", 5000);
            }
        }

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            if (!objPage) objPage = objPage@(itemName);
            let innerHtml = '';
            let pageCount = 0;
            let targetUrl = "@Url.Action("GetOspList", "Production")";

            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "WoErpFullNo": $("#txtWoErpFullNoQ@(itemName)").val().trim(),
                "DepartmentId": $("#cboDepartmentIdQ@(itemName)").val(),
                "MtlItemNo": $("#txtMtlItemNoQ@(itemName)").val().trim(),
                "MtlItemName": $("#txtMtlItemNameQ@(itemName)").val().trim(),
                "ProcessId": $("#cboProcessIdQ@(itemName)").val(),
                "SupplierId": $("#cboSupplierIdQ@(itemName)").val(),
                "CreateUserId": $("#cboCreateUserIdQ@(itemName)").val(),
                "Status": $("#cboStatusQ@(itemName)").val(),
                "PoUserId": $("#cboPoUserIdQ@(itemName)").val(),
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;
                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);
                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";
                        innerHtml += `<tr>
                                        <td style="max-width: 75px; text-align: center;">
                                            <label class="control control-solid control-solid-info control--checkbox">
                                              ${_row}<input type="checkbox" data-osp-list-id="${item.OspListId}" value="${item.OspListId}" ${ospListIds.indexOf(item.OspListId) != -1 ? `checked` : ``} />
                                              <span class="control__indicator"></span>
                                              <input type="hidden" data-osp-list-id="${item.OspListId}" name="txtWoErpFullNoHidden" value="${item.WoErpPrefix}-${item.WoErpNo}(${item.WoSeq})" />
                                              <input type="hidden" data-osp-list-id="${item.OspListId}" name="txtProcessFullNoHidden" value="${item.ProcessNo}-${item.ProcessAlias}" />
                                              <input type="hidden" data-osp-list-id="${item.OspListId}" name="txtSupplierFullNoHidden" value="${item.SupplierNo}-${item.SupplierShortName}" />
                                              <input type="hidden" data-osp-list-id="${item.OspListId}" name="txtDepartmentFullNoHidden" value="${item.DepartmentNo}-${item.DepartmentName}" />
                                              <input type="hidden" data-osp-list-id="${item.OspListId}" name="txtMtlItemNoHidden" value="${item.MtlItemNo}" />
                                              <input type="hidden" data-osp-list-id="${item.OspListId}" name="txtMtlItemNameHidden" value="${item.MtlItemName}" />
                                              <input type="hidden" data-osp-list-id="${item.OspListId}" name="txtMtlItemSpecHidden" value="${item.MtlItemSpec}" />
                                              <input type="hidden" data-osp-list-id="${item.OspListId}" name="txtOspDateHidden" value="${item.OspDate}" />
                                              <input type="hidden" data-osp-list-id="${item.OspListId}" name="txtQuantityHidden" value="${item.Quantity}" />
                                              <input type="hidden" data-osp-list-id="${item.OspListId}" name="txtProcessCodeHidden" value="${item.ProcessCode}-${item.ProcessCodeName}" />
                                            </label>
                                        </td>
                                        <td class="text-center active-content">
                                          <div class="btn-group mb-4 show" style="margin-bottom: 0 !important; position: static;">
                                            <button type="button" class="btn btn-primary dropdown-toggle" data-osp-list-id="${item.OspListId}" style="padding-top: 0; padding-bottom: 0;">動作</button>
                                            <div class="dropdown-menu btn-text-left-block" data-osp-list-id="${item.OspListId}" style="overflow-y: auto; z-index: 999; max-height: 150px;">
                                              ${item.Status != `Y` ? `<a class="dropdown-item btn-text-left auth-update" href="javascript:Edit@(itemName)('${item.OspListId}', '${item.MoId}', '${item.SupplierNo}');" ><i class="fas fa-edit"></i>修改</a>` : ``}
                                              ${item.Status == `N` ? `<a class="dropdown-item btn-text-left auth-delete" href="javascript:Delete@(itemName)(${item.OspListId});" ><i class="fas fa-trash-alt"></i>刪除</a>` : ``}
                                            </div>
                                          </div>
                                        </td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.WoErpPrefix}-${item.WoErpNo}(${item.WoSeq})" style="max-width: 200px;">${item.WoErpPrefix}-${item.WoErpNo}(${item.WoSeq})</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ProcessNo}-${item.ProcessAlias}" style="max-width: 200px;">${item.ProcessNo}-${item.ProcessAlias}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.SupplierNo}-${item.SupplierShortName}" style="max-width: 200px;">${item.SupplierNo}-${item.SupplierShortName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DepartmentNo}-${item.DepartmentName}" style="max-width: 145px;">${item.DepartmentNo}-${item.DepartmentName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MtlItemNo}" style="max-width: 200px;">${item.MtlItemNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MtlItemName}" style="max-width: 200px;">${item.MtlItemName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MtlItemSpec}" style="max-width: 150px;">${item.MtlItemSpec}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.OspDate}" style="max-width: 150px;">${item.OspDate}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Quantity}" style="max-width: 75px;">${item.Quantity}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ProcessCode}-${item.ProcessCodeName}" style="max-width: 150px;">${item.ProcessCode}-${item.ProcessCodeName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" style="max-width: 150px;">${initStatus(`${item.Status}`)}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ExpectedDate}" style="max-width: 150px;">${item.ExpectedDate}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Remark}" style="max-width: 150px;">${item.Remark}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.PoUserNo}${item.PoUserName}" style="min-width: 150px;">${item.PoUserNo != `` ? `<i class="fas fa-user"></i>&nbsp;<code>${item.PoUserNo}</code>&nbsp;${item.PoUserName}` : ``}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.CreateUserNo}${item.CreateUserName}" style="min-width: 150px;"><i class="fas fa-user"></i>&nbsp;<code>${item.CreateUserNo}</code>&nbsp;${item.CreateUserName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ProcessCheckStatus == `Y` ? `需工程檢` : `不需工程檢`}" style="max-width: 150px;">${item.ProcessCheckStatus == `Y` ? `需工程檢` : `不需工程檢`}</td>`;
                    });

                    function initStatus(status) {
                        let innerHtml = '';
                        switch (status) {
                            case "Y":
                                innerHtml += `<i style="color: #31912f;" class="fas fa-check-circle"></i> 已拋轉`;
                                break;
                            case "N":
                                innerHtml += `<i style="color:#e34d62;" class="fas fa-info-circle"></i> 尚未拋轉`;
                                break;
                            case "P":
                                innerHtml += `<i style="color:#285ed7;" class="fas fa-user-cog"></i> 採購指派供應商`;
                                break;
                            case "F":
                                innerHtml += `<i style="color: #df5a60;" class="fas fa-exclamation-circle"></i> 採購已駁回`;
                                break;
                            default:
                                innerHtml += `${status}`;
                                break;
                        }

                        return innerHtml;
                    }
                }
                else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="18" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            }
            else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

            $("input[data-osp-list-id]").change(function () {
                let ospListId = $(this).data("osp-list-id")
                let checked = $(this).prop("checked");

                if (checked) {
                    ospListIds.push(ospListId);
                }
                else {
                    ospListIds = ospListIds.filter(id => id !== ospListId);
                }
            });

            $(".dropdown-toggle").off("click").on("click", function () {
                let ospListId = $(this).data("osp-list-id");

                if ($(`.dropdown-menu[data-osp-list-id='${ospListId}']`).hasClass("show")) {
                    $(".dropdown-menu").removeClass("show");
                } else {
                    $(".dropdown-menu").removeClass("show");

                    $(`.dropdown-menu[data-osp-list-id='${ospListId}']`).addClass("show");
                    $(`.dropdown-menu[data-osp-list-id='${ospListId}']`).css({
                        top: `${$(this).position().top + $(this).height() + 5}px`,
                        left: `${$(this).position().left - $(this).width() + 38}px`
                    });
                }
            });

            $("body").off("click").on("click", function (e) {
                if ($(".dropdown-menu").hasClass("show")) {
                    if (!$(e.target).hasClass("dropdown-toggle")
                        && !$(e.target).parents().hasClass("dropdown-toggle")) {
                        $(".dropdown-menu").removeClass("show");
                    }
                }
            });
        }

        function Edit@(itemName)(ospListId, moId, supplierNo) {
            if (!ospListId) {
                alert("資料錯誤!!");
                return false;
            }

            $("#txtOspListId").val(ospListId);

            $("#cboMoProcessId@(itemName)").select2({
                width: "100%"
            });

            $("#cboDepartmentId@(itemName)").select2({
                width: "100%"
            });

            //製令製程
            ComboBoxs.Default("#cboMoProcessId@(itemName)", "@Url.Action("GetMoProcessForOspList", "Production")", { "MoId": moId }, "", "CHOOSE", "請選擇製令製程", "ProcessAlias", "MoProcessId");

            //部門
            ComboBoxs.Default("#cboDepartmentId@(itemName)", "@Url.Action("GetDepartment", "BasicInformation")", { "CompanyId": companyId@(itemName), "Status": "A" }, "", "NA", "", "DepartmentWithNo", "DepartmentId");

            let targetUrl = "@Url.Action("GetOspList", "Production")";
            let postData = {
                "OspListId": ospListId
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                $.each(data.result, function (i, item) {
                    $("#txtWoErpFullNo@(itemName)").val(`${item.WoErpPrefix}-${item.WoErpNo}(${item.WoSeq})`);
                    $("#cboMoProcessId@(itemName)").val(item.MoProcessId).change();
                    $("#txtOspDate@(itemName)").val(item.OspDate);
                    $("#txtQuantity@(itemName)").val(item.Quantity);
                    $("#cboDepartmentId@(itemName)").val(item.DepartmentId);
                    $("#txtExpectedDate@(itemName)").val(item.ExpectedDate);
                    $("#cboProcessCheckStatus@(itemName)").val(item.ProcessCheckStatus);
                    $("#txtRemark@(itemName)").val(item.Remark);
                });

                if ($(".advanced-block .flag-tabs > .flag-item > .flag-link").first().hasClass("active")) {
                    InitParameter@(itemName)($(".advanced-block .flag-tabs > .flag-item").first().find("a"));
                } else {
                    $(".advanced-block .flag-tabs > .flag-item").first().find("a").trigger("click");
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#modalEdit@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let OspListId = parseInt($("#txtOspListId").val());

                if (OspListId > 0) {
                    let targetUrl = "@Url.Action("UpdateOspList", "Production")";
                    let postData = {
                        "OspListId": OspListId,
                        "MoProcessId": $("#cboMoProcessId@(itemName)").val(),
                        "OspDate": $("#txtOspDate@(itemName)").val(),
                        "Quantity": $("#txtQuantity@(itemName)").val(),
                        "DepartmentId": $("#cboDepartmentId@(itemName)").val(),
                        "ExpectedDate": $("#txtExpectedDate@(itemName)").val(),
                        "ProcessCheckStatus": $("#cboProcessCheckStatus@(itemName)").val(),
                        "Remark": $("#txtRemark@(itemName)").val(),
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        InitData@(itemName)(objPage@(itemName));
                        $("#modalEdit@(itemName)").modal("hide");
                    }
                } else {
                    alert("單據ID錯誤!!");
                }
            }
        }

        function Delete@(itemName)(ospListId) {
            swal.fire({
                titleText: "確認要刪除嗎?",
                text: "此動作會將數據刪除，請確認後再執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteOspList", "Production")";
                    let postData = {
                        "OspListIds": ospListId ? ospListId : ospListIds.toString()
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function Transfer@(itemName)() {
            swal.fire({
                titleText: "確定要執行拋轉嗎?",
                text: "此動作會將勾選的委外項目批次建立委外單並拋轉BPM。",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("UpdateTransferOspList", "Production")";
                    let postData = {
                        "OspListIds": ospListIds.toString()
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Return@(itemName)();
                    }
                }
            });
        }

        function Return@(itemName)() {
            ospListIds = [];
            Switch("#listData@(itemName)", "#editData@(itemName), .unit-block, .advanced-block");
            ResetForm(objForm@(itemName));
            InitData@(itemName)();
        }

    </script>
                )