
@using Business_Manager.Helpers
@{
    string itemName = "TerminateOfManufactureOrder";
    string itemNameText = "強制結束製令流程";
    string authority = ViewBag.authority;
    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
         .help-block {
             display: none;
             margin: 5px 0 0;
             border: 3px dashed #b1b1b1;
             border-radius: 5px;
             padding: 5px 10px;
         }

         dt {
             float: left;
             clear: left;
             width: 110px;
         }

             dt::after {
                 content: "：";
             }

         dd {
             margin: 0 0 0 80px;
             padding: 0;
             color: #36a2f5;
             font-weight: bold;
         }
    </style>
                                )

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>
<!--搜尋-->
<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">生產模式</label>
                            <div class="col-12">
                                <select class="form-control" id="cboProdModeQ@(itemName)" name="cboProdModeQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtWoErpFullNoQ@(itemName)">製令單別單號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtWoErpFullNoQ@(itemName)" name="txtWoErpFullNoQ@(itemName)" placeholder="請輸入製令單別單號 EX:5101-20221129001">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtMtlItemNoQ@(itemName)">品號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMtlItemNoQ@(itemName)" name="txtMtlItemNoQ@(itemName)" placeholder="請輸入品號">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtMtlItemNameQ@(itemName)">品名</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMtlItemNameQ@(itemName)" name="txtMtlItemNameQ@(itemName)" placeholder="請輸入品名">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtProjectNoQ@(itemName)">專案代碼</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtProjectNoQ@(itemName)" name="txtProjectNoQ@(itemName)" placeholder="請輸入專案代碼">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtQuantityQ@(itemName)">MES製令數量(預計產量)</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtQuantityQ@(itemName)" name="txtQuantityQ@(itemName)" placeholder="請輸入MES製令數量">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">狀態</label>
                            <div class="col-lg-3 col-md-4 col-4">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    新製令未開工
                                    <input type="checkbox" id="cbxStatusQ@(itemName)N" name="cbxStatusQ@(itemName)" value="N" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-4">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    已發料
                                    <input type="checkbox" id="cbxStatusQ@(itemName)I" name="cbxStatusQ@(itemName)" value="I" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-4">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    開工中
                                    <input type="checkbox" id="cbxStatusQ@(itemName)A" name="cbxStatusQ@(itemName)" value="A" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-4">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    已入庫
                                    <input type="checkbox" id="cbxStatusQ@(itemName)W" name="cbxStatusQ@(itemName)" value="W" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-4">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    已完工
                                    <input type="checkbox" id="cbxStatusQ@(itemName)F" name="cbxStatusQ@(itemName)" value="F" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<!--列表-->
<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);"><i class="fal fa-search"></i>搜尋</a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn btn-info auth-add" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="max-width: 75px;">#</th>
                                        <th scope="col" style="max-width: 150px;">生產模式</th>
                                        <th scope="col" style="max-width: 200px;">製令</th>
                                        <th scope="col" style="max-width: 200px;">品號</th>
                                        <th scope="col" style="max-width: 200px;">品名</th>
                                        <th scope="col" style="max-width: 200px;">出貨工程</th>
                                        <th scope="col" style="max-width: 100px;">預計生產數</th>
                                        <th scope="col" style="max-width: 100px;">已投入數</th>
                                        <th scope="col" style="max-width: 100px;">完工數量</th>
                                        <th scope="col" style="max-width: 100px;">報廢數量</th>
                                        <th scope="col" style="max-width:100px;">批量生產</th>
                                        <th scope="col" style="max-width: 125px;">狀態</th>
                                        <th class="text-center" scope="col" style="max-width: 750px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--檢視-途程站別-->
<div class="modal fade" id="modalView@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">

                </div>
            </div>

        </div>
    </div>
</div>

@Html.Partial("ViewMfgBarcode")

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        $(document).ready(function () {
            Query@(itemName)();

            if (!isMobile) {
                $("#cboProdModeQ@(itemName)").select2({
                    width: "100%"
                });
            }

            ComboBoxs.Default("#cboProdModeQ@(itemName)", "@Url.Action("GetProdMode", "MesBasicInformation")", {}, "", "NA", "", "txtProdModeWithText", "ModeId");

            $("#txtWoId@(itemName)").change(function () {
                //計算ERP製令在MES製令中被綁定數
                GetWoSeq@(itemName)();

                setTimeout(function () {
                    let planQty = $("#desPlanQty@(itemName)").text();
                    $("#txtQuantity@(itemName)").val(planQty);
                }, 200);
            });
        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;
            let targetUrl = "@Url.Action("GetManufactureOrder", "Production")";

            let statusList = [];
            $.each($("input[name='cbxStatusQ@(itemName)']:checked"), function () {
                statusList.push($(this).val());
            });

            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "ModeId": $("#cboProdModeQ@(itemName)").val(),
                "WoErpFullNo": $("#txtWoErpFullNoQ@(itemName)").val(),
                "MtlItemNo": $("#txtMtlItemNoQ@(itemName)").val(),
                "MtlItemName": $("#txtMtlItemNameQ@(itemName)").val(),
                "Quantity": $("#txtQuantityQ@(itemName)").val(),
                "Status": statusList.join(",")
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;
                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);
                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";
                        innerHtml += `<tr>
                                        <td style="max-width: 75px;">${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ModeNo}-${item.ModeName}" style="max-width: 150px;">${item.ModeNo}-${item.ModeName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.WoErpPrefix}-${item.WoErpNo}(${item.WoSeq})" style="max-width: 200px;">${item.WoErpPrefix}-${item.WoErpNo}(${item.WoSeq})</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MtlItemNo}" style="max-width: 200px;">${item.MtlItemNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MtlItemName}" style="max-width: 200px;">${item.MtlItemName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DeliveryProcessName}" style="max-width: 200px; min-width: 110px;">${item.DeliveryProcessName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Quantity}" style="max-width: 150px; min-width: 110px;">${item.Quantity}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.InputQty}" style="max-width: 150px; min-width: 110px;">${item.InputQty}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.CompleteQty}" style="max-width: 150px; min-width: 110px;">${item.CompleteQty}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ScrapQty}" style="max-width: 150px; min-width: 110px;">${item.ScrapQty}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.LotStatus == `Y` ? `是` : `否`}" style="max-width: 150px; min-width: 110px;">${item.LotStatus == `Y` ? `是` : `否`}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.StatusDesc}" style="max-width: 150px;">${item.StatusDesc}</td>
                                        <td class="text-center active-content" style="max-width: 650px; min-width:250px;">
                                            <a class="active-link" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalView@(itemName)" href="javascript:void(0);" onclick="ViewRoutingProcess@(itemName)('${item.MoId}','${item.WoErpPrefix}-${item.WoErpNo}')">
                                                <i class="far fa-eye"></i>
                                            </a>
                                            <a class="active-link auth-end" href="javascript:PopViewMfgBarcode('${item.WoErpPrefix}', '${item.WoErpNo}', '${item.MoId}');"><i class="fas fa-calendar-times"></i> 強制結束流程</a>
                                        </td>
                                    </tr>`;
                    });
                }
                else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="13" style="background-color: #fff3cd;">
                                        <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            }
            else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName))
        }

        function ViewRoutingProcess@(itemName)(moId, erpNo) {
            let targetUrl = "@Url.Action("GetMoProcess", "Production")";
            let postData = {
                "MoId": moId
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                let innerHtml = '';
                $("#modalView@(itemName) h5[class='modal-title']").html("製令: " + erpNo);
                if (data.result.length==0) {
                    innerHtml += `<span class="empty-data-style"><i class="fas fa-exclamation-triangle"></i> 此製令尚未設定任何製程。</span>`;
                }
                else {
                    innerHtml += `<div class="baseline baseline-border">`;
                    $.each(data.result, function (i, item) {
                        innerHtml += `${JudgeCount(`${i}`)}
                                        <div class="baseline-info">
                                            <div>
                                                <strong> <code>${item.SortNumber}</code> </strong>
                                                站別名稱：${item.ProcessAlias}
                                            </div>
                                            <span class="text-muted">途程站別類別:${item.ProcessNo}&nbsp;&nbsp;,是否必須過站:${item.NecessityStatus}</span>
                                        </div>
                                    </div>
                                    <div>`;
                    });

                    function JudgeCount(i) {
                        let innerHtml = '';
                        if (i % 2 == 0) innerHtml += `<div class="baseline-list baseline-border baseline-info">`;
                        else innerHtml += `<div class="baseline-list baseline-border baseline-warning">`;
                        return innerHtml;
                    }
                }
                $("#modalView@(itemName) div[class='card-body']").html(innerHtml);
            } else {
                alert(data.msg, "alert", 0);
            }
        }

        function Return@(itemName)() {
            Switch("#listData@(itemName)", "#editData@(itemName), .unit-block, .advanced-block");
            Query@(itemName)();
        }

    </script>
        )