@using Business_Manager.Helpers
@{
    string itemName = "TreeStru";

    string itemNameText = "製令單號樹狀結構資料表";

    string WoId = Request["WoId"] ?? "";
    string MoFullNo = Request["MoFullNo"] ?? "";


    ViewBag.Title = itemNameText;

}
@Html.Resource("css",
    @<style>
    </style>
                                         )
<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">工單管理(ERP)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="ReturnWipOrderManagement()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body" style="min-height:200px;">
                <h5 id="treeErpFullNo@(itemName)"><i class="far fa-file-alt"></i>託外 5101 20160104001</h5>
                <div class="erpTree">
                    <ul class="tree">

                        <li id="DataTree@(itemName)">
                            <ul>

                                <li id="MoTree@(itemName)">
                                    製令單
                                    @*<ul>
                                            <li>
                                                5101-20160104001 2016 01//04 3A11G005-1512-107(公模仁PM31091-0-00-R1) 16PCS
                                            </li>
                                            <li>
                                                5101-20160104001 2016 01//04 3A11G005-1512-107(公模仁PM31091-0-00-R1) 16PCS
                                            </li>
                                        </ul>*@
                                </li>
                                <li id="MoChangTree@(itemName)">
                                    製令變更單
                                </li>
                                <li id="MrpTree@(itemName)">
                                    廠內領料單
                                    @*<ul>
                                            <li>
                                                5501-20160104001-0001 2016/01/04 1M01-0890-2190-2(雙扁位模仁) 16PCS已確認
                                            </li>
                                        </ul>*@
                                </li>
                                <li id="MweTree@(itemName)">
                                    入庫單
                                    @*<ul>
                                            <li>
                                                5501-20160104001-0001 2016/01/04 1M01-0890-2190-2(雙扁位模仁) 16PCS已確認
                                            </li>
                                        </ul>*@
                                </li>

                                <li id="OspTree@(itemName)">
                                    託外生產單
                                    @*<ul>
                                            <li>
                                                5501-20160104001-0001 2016/01/04 1M01-0890-2190-2(雙扁位模仁) 16PCS已確認
                                            </li>
                                        </ul>*@
                                    @*<a href="/OutsourcingProduction/OutsourcingProduction" target="popup" onclick="window.open('/OutsourcingProduction/OutsourcingProduction','name','width=1500,height=900')">託外生產單</a>*@
                                </li>

                                <li id="OSRTree@(itemName)">
                                    託外入庫單
                                    @*<ul>
                                            <li>
                                                5501-20160104001-0001 2016/01/04 1M01-0890-2190-2(雙扁位模仁) 16PCS已確認
                                            </li>
                                        </ul>*@
                                </li>

                                <li>
                                    生產入庫單

                                </li>

                                <li>
                                    託外進貨單

                                    @*<ul>
                                            <li>
                                                5901-20160113002-0001 2016*01/13 3A11G005-1512-107(公模仁PM31091-0-00-R1) 16PCS
                                                <ul>
                                                    <li>
                                                        託外進貨應付憑單
                                                        <ul>
                                                            <li> 託外進貨付款單</li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>

                                        </ul>*@
                                </li>

                                <li id="OTLTree@(itemName)">
                                    託外退貨單
                                    @*<ul>
                                            <li>
                                                託外退貨應付憑單
                                                <ul>
                                                    <li> 託外退貨付款單</li>
                                                </ul>
                                            </li>
                                        </ul>*@
                                </li>

                                <li>製令製程單</li>
                                <li>製程投料單</li>
                                <li>製程轉移單</li>
                                <li>
                                    製程入庫單
                                </li>

                            </ul>
                        </li>
                    </ul>
                </div>


            </div>
        </div>
    </div>

</div>

@Html.Resource("js",
    @<script>

        let WoId@(itemName) = 0
        let MoFullNo@(itemName) = ""

         $(document).ready(function () {
             Query@(itemName)();
         });

         $(function () {
             // Hide all lists except the outermost.
             // $('ul.tree ul').hide();

             $('.tree li > ul').each(function (i) {
                 var $subUl = $(this);
                 var $parentLi = $subUl.parent('li');
                 var $toggleIcon = '<i class="js-toggle-icon">—</i>';

                 $parentLi.addClass('has-children');

                 $parentLi.prepend($toggleIcon).find('.js-toggle-icon').on('click', function () {
                     $(this).text($(this).text() == '＋' ? '—' : '＋');
                     $subUl.slideToggle('fast');
                 });
             });
         });

        function Query@(itemName)() {
            //objPage@(itemName).pageIndex = 0;
            InitData@(itemName)();

        }

        function InitData@(itemName)() {
            let targetUrl = "@Url.Action("GetMoUnitSearch", "MesReport")";
                let postData = {
                    "WoId": parseInt("@WoId"),
                    "MoFullNo": "@MoFullNo"
                };
                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        $("#treeErpFullNo@(itemName)").html(item.WoErpFullNo);

                        $("#MoTree@(itemName)").html("製令單" + MoDetailData@(itemName)(item.MoResult));
                        $("#MoChangTree@(itemName)").html("製令變更單" + MoChangDetailData@(itemName)(item.TOResult));
                        $("#MrpTree@(itemName)").html("領料單" + MrpDetailData@(itemName)(item.MRResult));
                        $("#MweTree@(itemName)").html("入庫單" + MweDetailData@(itemName)(item.MWEResult));
                        $("#OspTree@(itemName)").html("託外生產單" + OspDetailData@(itemName)(item.OSPresult));
                        $("#OSRTree@(itemName)").html("託外入庫單" + OSRDetailData@(itemName)(item.OSRresult));
                        $("#OTLTree@(itemName)").html("託外退貨單" + OTLDetailData@(itemName)(item.TLResult));

                    });
                } else {
                    alert(data.msg, "alert", 0);
                }


        }

        function MoDetailData@(itemName)(json) {
            console.log(1101, json);
            let html = '';

            if (json.length > 0) {
                html += '<ul>';
                for (let x = 0; x < json.length; x++) {
                    let listr = json[x].WoErpFullNo + '(' + json[x].WoSeq + ') ' + json[x].CreateDate + ' ' + json[x].MtlItemNo + '(' + json[x].MtlItemName + ') ' + json[x].PlanQty + json[x].UomNo
                    html += `<li>
                                <a href="@Url.Action("MfgOrderManagement", "Production")?MoId=${json[x].MoId}" target="popup" onclick="window.open('@Url.Action("MfgOrderManagement", "Production")?MoId=${json[x].MoId}','name','width=1500,height=900')">${listr}</a>
                            </li>`;
                }
                html += '</ul>';

            } else {
                html += ``;

            }
            return html;
        }
        function MoChangDetailData@(itemName)(json) {
            console.log(1102, json);

            let html = '';


            if (json.length > 0) {
                html += '<ul>';
                for (let x = 0; x < json.length; x++) {
                    let listr = json[x].TO001 + '-' + json[x].TO002 + '-' + json[x].TO003 + ' ' + json[x].TO004

                    html += `<li>
                                ${listr}
                            </li>`;
                }
                html += '</ul>';

            } else {
                html += ``;

            }
            return html;
        }
        function MrpDetailData@(itemName)(json) { 
            console.log(1103, json);
            let html = '';

            if (json.length > 0) {
                html += '<ul>';
                for (let x = 0; x < json.length; x++) {
                    let listr = json[x].MrFullErpNo + '-' + json[x].MrSequence + ' ' + json[x].DocDate + ' ' + json[x].MtlItemNo + '(' + json[x].MtlItemName + ') ' + json[x].Quantity + json[x].Unit + ' ' + Status@(itemName)(json[x].ConfirmStatus)

                    html += `<li>
                                <a href="@Url.Action("MaterialRequisition", "Inventory")?MrFullErpNo=${json[x].MrFullErpNo}" target="popup" onclick="window.open('@Url.Action("MaterialRequisition", "Inventory")?MrFullErpNo=${json[x].MrFullErpNo}','name','width=1500,height=900')">${listr}</a>
                            </li>`;
                }
                html += '</ul>';

            } else {
                html += ``;

            }
            return html;
        }
        function MweDetailData@(itemName)(json) { 
            console.log(1104, json);
            let html = '';

            if (json.length > 0) {
                html += '<ul>';
                for (let x = 0; x < json.length; x++) {
                    let listr = json[x].MweFullErpNo + '-' + json[x].MweSeq + ' ' + json[x].DocDate + ' ' + json[x].MtlItemNo + '(' + json[x].MtlItemName + ') ' + json[x].ReceiptQty + json[x].UomNo + ' ' + Status@(itemName)(json[x].ConfirmStatus)

                    html += `<li>
                                <a href="@Url.Action("MoWarehouseEnryManagment", "Inventory")?MweFullErpNo=${json[x].MweFullErpNo}" target="popup" onclick="window.open('@Url.Action("MoWarehouseEnryManagment", "Inventory")?MweFullErpNo=${json[x].MweFullErpNo}','name','width=1500,height=900')">${listr}</a>
                            </li>`;
                }
                html += '</ul>';

            } else {
                html += ``;

            }
            return html;
        }
        function OspDetailData@(itemName)(json) { 
            console.log(1105, json);
            let html = '';

            if (json.length > 0) {
                html += '<ul>';
                for (let x = 0; x < json.length; x++) {
                    let listr = json[x].OspNo + ' ' + json[x].OspDate + ' ' + json[x].MtlItemNo + '(' + json[x].MtlItemName + ') ' + json[x].OspQty + json[x].UomNo + ' ' + Status@(itemName)(json[x].Status)

                    html += `<li>
                                <a href="@Url.Action("OutsourcingProduction", "OutsourcingProduction")?OspNo=${json[x].OspNo}" target="popup" onclick="window.open('@Url.Action("OutsourcingProduction", "OutsourcingProduction")?OspNo=${json[x].OspNo}','name','width=1500,height=900')">${listr}</a>
                            </li>`;
                }
                html += '</ul>';

            } else {
                html += ``;

            }
            return html;
        }
        function OSRDetailData@(itemName)(json) { 
            console.log(1106, json);
            let html = '';

            if (json.length > 0) {
                html += '<ul>';
                for (let x = 0; x < json.length; x++) {
                    let listr = json[x].OsrErpFullNo + '-' + json[x].OsrSeq + ' ' + json[x].DocDate + ' ' + json[x].MtlItemNo + '(' + json[x].MtlItemName + ') ' + json[x].Quantity + json[x].UomNo + ' ' + Status@(itemName)(json[x].ConfirmStatus)

                    html += `<li>
                                <a href="@Url.Action("OspReceipt", "OutsourcingProduction")?OsrErpFullNo=${json[x].OsrErpFullNo}" target="popup" onclick="window.open('@Url.Action("OspReceipt", "OutsourcingProduction")?OsrErpFullNo=${json[x].OsrErpFullNo}','name','width=1500,height=900')">${listr}</a>
                                ${ACPTBDetailData@(itemName)(json[x].ACPTBRresult)}
                            </li>
`;


                }
                html += '</ul>';

            } else {
                html += ``;

            }
            return html;
        }
        function OTLDetailData@(itemName)(json) { 
            console.log(1107, json);
            let html = '';

            if (json.length > 0) {
                html += '<ul>';
                for (let x = 0; x < json.length; x++) {
                    let listr = json[x].TL001 + '-' + json[x].TL002 + '-' + json[x].TL003 + ' ' + json[x].TK003 + ' ' + json[x].TL004 + '(' + json[x].TL005 + ')' + ' ' + json[x].TL007 + json[x].TL008  + Status@(itemName)(json[x].TK021)

                    html += `<li>
                                ${listr}
                            </li>`;
                }
                html += '</ul>';

            } else {
                html += ``;

            }
            return html;
        }

        function ACPTBDetailData@(itemName)(json, osrId) { 
            console.log(1108, json);
            let html = '';

            if (json.length > 0) {
                html += ' <li> 託外進貨應付憑單 <ul>  ';
                for (let x = 0; x < json.length; x++) {
                    let listr = json[x].TB001 + '-' + json[x].TB002 + '-' + json[x].TB003 + ' ' + json[x].TA003 + ' ' + Status@(itemName)(json[x].TA024)

                    html += `<li>
                                ${listr}
                                ${ACPTDDetailData@(itemName)(json[x].ACPTDRresult)}

                            </li>
`;

                }
                html += '</ul> </li>';

            } else {
                html += ``;

            }
            return html;
        }

        function ACPTDDetailData@(itemName)(json) { 
            console.log(1109, json);
            let html = '';

            if (json.length > 0) {
                html += ' <li> 託外進貨付款單 <ul>   ';
                for (let x = 0; x < json.length; x++) {
                    let listr = json[x].TD001 + '-' + json[x].TD002 + '-' + json[x].TD003 + ' ' + json[x].TC003 + ' ' + Status@(itemName)(json[x].TC008)

                    html += `<li>
                                ${listr}
                            </li>`;
                }
                html += '</ul> </li>';

            } else {
                html += ``;

            }
            return html;
        }

        function Status@(itemName)(status) { 
            let statusstr = ""
            switch (status) {
                case 'Y':
                    statusstr = "已確認";
                    break;
                case 'N':
                    statusstr = "未確認";
                    break;
                case 'V':
                    statusstr = "作廢";
                    break;
                default:
                    statusstr = " ";
            }


            return statusstr;
        }
        


    </script>
                                )

