@using Business_Manager.Helpers
@{
    string itemName = "WoModificationManagement";
    string itemNameText = "ERP製令變更單管理";
    string authority = ViewBag.authority;
    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
    </style>
                )

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtDeviceNameQ@(itemName)">設備名稱</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtDeviceNameQ@(itemName)" name="txtDeviceNameQ@(itemName)" placeholder="請輸入設備名稱" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtDeviceIdentifierCodeQ@(itemName)">設備識別碼</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtDeviceIdentifierCodeQ@(itemName)" name="txtDeviceIdentifierCodeQ@(itemName)" placeholder="請輸入設備識別碼" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboDeviceTypeQ@(itemName)">設備類別</label>
                            <div class="col-12">
                                <select class="form-control" id="cboDeviceTypeQ@(itemName)" name="cboDeviceTypeQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboDeviceAuthorityQ@(itemName)">設備權限</label>
                            <div class="col-12">
                                <select class="form-control" id="cboDeviceAuthorityQ@(itemName)" name="cboDeviceAuthorityQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">狀態</label>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    啟用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)A" name="cbxStatusQ@(itemName)" value="A" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    停用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)S" name="cbxStatusQ@(itemName)" value="S" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);">
                            <i class="fal fa-search"></i>搜尋
                        </a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn btn-success auth-sync" href="javascript:PopSoSync@(itemName)();"><i class="fas fa-sync"></i>ERP資料同步</a>
                        <a class="btn btn-info auth-add" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th scope="col" style="min-width: 150px;">製令編號</th>
                                        <th scope="col" style="min-width: 100px;">變更版次</th>
                                        <th scope="col" style="min-width: 100px;">變更日期</th>
                                        <th scope="col" style="min-width: 200px;">產品品號</th>
                                        <th scope="col" style="min-width: 200px;">產品品名</th>
                                        <th scope="col" style="min-width: 200px;">產品規格</th>
                                        <th scope="col" style="min-width: 100px;">拋轉狀態</th>
                                        <th class="text-center" scope="col" style="min-width: 75px;">操作</th>
                                        <th style="padding: 0; min-width: 425px;">
                                            <table class="table table-bordered table-sm mb-0 table-non-rwd table-striped-custom table-row-detail">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 200px;">原材料品號</th>
                                                        <th style="width: 200px;">新材料品號</th>
                                                        <th style="width: 100px;">需領用量</th>
                                                        <th style="width: 125px;">操作</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container custom-form-container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="DeviceId" name="DeviceId" value="-1" />
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group row">
                                    <label class="col-12 col-md-3 col-lg-2 col-form-label" for="txtWoId@(itemName)">綁定ERP製令<span class="text-danger">*</span></label>
                                    <div class="col-12 col-md-9 col-lg-10">
                                        <input type="hidden" id="txtWoId@(itemName)" />
                                        <input type="hidden" id="WoErpFullNo" value="" />
                                        <div class="btn-group">
                                            <a class="btn btn-success pop-view" href="javascript:void(0);"><i class="fal fa-search"></i></a>
                                            <a class="btn btn-outline-danger pop-clear" href="javascript:void(0);" onclick="WipClear@(itemName)()"><i class="fas fa-eraser"></i></a>
                                        </div>
                                        <dl class="help-block">
                                            <dt>製令</dt>
                                            <dd id="desWoErpFullNo@(itemName)"></dd>
                                            <dt>開單日期</dt>
                                            <dd id="desMtlItemSpec@(itemName)"></dd>
                                            <dt>製令性質</dt>
                                            <dd id="desMtlItemSpec@(itemName)"></dd>
                                            <dt>品號</dt>
                                            <dd id="desMtlItemNo@(itemName)"></dd>
                                            <dt>品名</dt>
                                            <dd id="desMtlItemName@(itemName)"></dd>
                                            <dt>規格</dt>
                                            <dd id="desMtlItemSpec@(itemName)"></dd>
                                            <dt>產品庫存單位</dt>
                                            <dd id="desMtlItemSpec@(itemName)"></dd>
                                            <dt>已領套數</dt>
                                            <dd id="desMtlItemSpec@(itemName)"></dd>
                                            <dt>已生產套數</dt>
                                            <dd id="desMtlItemSpec@(itemName)"></dd>
                                            <dt>報廢數量</dt>
                                            <dd id="desMtlItemSpec@(itemName)"></dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group row">
                                    <label class="col-12 col-md-3 col-lg-2 col-form-label" for="txtModifyDate@(itemName)">變更日期<span class="text-danger">*</span></label>
                                    <div class="col-12 col-md-9 col-lg-4">
                                        <input type="text" class="form-control" id="txtModifyDate@(itemName)" name="txtModifyDate@(itemName)" onkeypress="BandeInput(event)" onkeydown="BandCtrlV(event)"
                                               data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))" data-rule-required="true" />
                                    </div>
                                    <label class="col-12 col-md-3 col-lg-2 col-form-label" for="txtModifyVersion@(itemName)">變更版次</label>
                                    <div class="col-12 col-md-9 col-lg-4">
                                        <input type="text" class="form-control" id="txtModifyVersion@(itemName)" name="txtModifyVersion@(itemName)" placeholder="請輸入變更版次" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group row">
                                    <label class="col-12 col-md-3 col-lg-2 col-form-label" for="cboNewWoStatus@(itemName)">製令狀態</label>
                                    <div class="col-12 col-md-9 col-lg-4">
                                        <select class="form-control" id="cboNewWoStatus@(itemName)" name="cboNewWoStatus@(itemName)"></select>
                                    </div>
                                    <label class="col-12 col-md-3 col-lg-2 col-form-label" for="cboNewSoDetailId@(itemName)">訂單資料</label>
                                    <div class="col-12 col-md-9 col-lg-4">
                                        <select class="form-control" id="cboNewSoDetailId@(itemName)" name="cboNewSoDetailId@(itemName)"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group row">
                                    <label class="col-12 col-md-3 col-lg-2 col-form-label" for="cboNewProject@(itemName)">專案代號</label>
                                    <div class="col-12 col-md-9 col-lg-4">
                                        <select class="form-control" id="cboNewProject@(itemName)" name="cboNewProject@(itemName)"></select>
                                    </div>
                                    <label class="col-12 col-md-3 col-lg-2 col-form-label" for="cboNewPlanLotNo@(itemName)">計畫批號</label>
                                    <div class="col-12 col-md-9 col-lg-4">
                                        <select class="form-control" id="cboNewPlanLotNo@(itemName)" name="cboNewPlanLotNo@(itemName)"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group row">
                                    <label class="col-12 col-md-3 col-lg-2 col-form-label" for="txtModifyCause@(itemName)">變更原因</label>
                                    <div class="col-12 col-md-9 col-lg-10">
                                        <textarea class="form-control" id="txtModifyCause@(itemName)" name="txtModifyCause@(itemName)"
                                                  data-msg-maxlength="必須少於 255 個字元" maxlength="255" rows="2" placeholder="請輸入變更原因"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group row">
                                    <label class="col-12 col-md-3 col-lg-2 col-form-label" for="txtNewWoRemark@(itemName)">備註</label>
                                    <div class="col-12 col-md-9 col-lg-10">
                                        <textarea class="form-control" id="txtNewWoRemark@(itemName)" name="txtNewWoRemark@(itemName)"
                                                  data-msg-maxlength="必須少於 255 個字元" maxlength="255" rows="2" placeholder="請輸入備註"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="btn btn-collapse" data-toggle="collapse" href="#basic@(itemName)">
                            <span><i class="fas fa-clipboard"></i>時程/產量</span>
                            <i class="fas fa-chevron-down"></i>
                        </a>
                        <div class="collapse mb-3" id="basic@(itemName)">
                            <div class="card card-body">
                                <div class="row">
                                    <div class="col-lg-6 col-md-12 ">
                                        <div class="form-group row">
                                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtNewPlanQty@(itemName)">預計產量</label>
                                            <div class="col-12 col-md-9 col-lg-9">
                                                <input type="text" class="form-control" id="txtNewPlanQty@(itemName)" name="txtNewPlanQty@(itemName)" placeholder="請輸入預計產量" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtNewBomDate@(itemName)">BOM日期</label>
                                            <div class="col-12 col-md-9 col-lg-9">
                                                <input type="text" class="form-control" id="txtNewBomDate@(itemName)" name="txtNewBomDate@(itemName)" placeholder="請輸入BOM日期"
                                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtNewBomVersion@(itemName)">BOM版次</label>
                                            <div class="col-12 col-md-9 col-lg-9">
                                                <input type="text" class="form-control" id="txtNewBomVersion@(itemName)" name="txtNewBomVersion@(itemName)" placeholder="請輸入BOM版次" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtNewExpectedStart@(itemName)">預計開工</label>
                                            <div class="col-12 col-md-9 col-lg-9">
                                                <input type="text" class="form-control" id="txtNewExpectedStart@(itemName)" name="txtNewExpectedStart@(itemName)" placeholder="預計開工"
                                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtNewExpectedEnd@(itemName)">預計完工</label>
                                            <div class="col-12 col-md-9 col-lg-9">
                                                <input type="text" class="form-control" id="txtNewExpectedEnd@(itemName)" name="txtNewExpectedEnd@(itemName)" placeholder="預計完工"
                                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtConfirmUser@(itemName)">確認者</label>
                                            <div class="col-12 col-md-9 col-lg-9">
                                                <input type="text" class="form-control" id="txtConfirmUser@(itemName)" name="txtConfirmUser@(itemName)" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtConfirmDate@(itemName)">確認日期</label>
                                            <div class="col-12 col-md-9 col-lg-9">
                                                <input type="text" class="form-control" id="txtConfirmDate@(itemName)" name="txtConfirmDate@(itemName)"
                                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="btn btn-collapse" data-toggle="collapse" href="#basic@(itemName)">
                            <span><i class="fas fa-clipboard"></i>廠內/托外</span>
                            <i class="fas fa-chevron-down"></i>
                        </a>
                        <div class="collapse mb-3" id="basic@(itemName)">
                            <div class="card card-body">
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboNewFactory@(itemName)">廠別</label>
                                            <div class="col-12 col-md-9 col-lg-9">
                                                <select class="form-control" id="cboNewFactory@(itemName)" name="cboNewFactory@(itemName)"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboNewUserId@(itemName)">生管/採購</label>
                                            <div class="col-12 col-md-9 col-lg-9">
                                                <select class="form-control" id="cboNewUserId@(itemName)" name="cboNewUserId@(itemName)"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboNewInventoryId@(itemName)">入庫庫別</label>
                                            <div class="col-12 col-md-9 col-lg-9">
                                                <select class="form-control" id="cboNewInventoryId@(itemName)" name="cboNewInventoryId@(itemName)"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboNewUomId@(itemName)">加工單位</label>
                                            <div class="col-12 col-md-9 col-lg-9">
                                                <select class="form-control" id="cboNewUomId@(itemName)" name="cboNewUomId@(itemName)"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboNewProcessor@(itemName)">加工廠商</label>
                                            <div class="col-12 col-md-9 col-lg-9">
                                                <select class="form-control" id="cboNewProcessor@(itemName)" name="cboNewProcessor@(itemName)"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboNewProductionLine@(itemName)">生產線別</label>
                                            <div class="col-12 col-md-9 col-lg-9">
                                                <select class="form-control" id="cboNewProductionLine@(itemName)" name="cboNewProductionLine@(itemName)"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboNewTaxCode@(itemName)">稅別碼</label>
                                            <div class="col-12 col-md-9 col-lg-9">
                                                <select class="form-control" id="cboNewTaxCode@(itemName)" name="cboNewTaxCode@(itemName)"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboNewCurrencyCode@(itemName)">幣別匯率<span class="text-danger">*</span></label>
                                            <div class="col-12 col-md-9 col-lg-9" style="display: flex;">
                                                <select class="form-control" id="cboNewCurrencyCode@(itemName)" name="cboNewCurrencyCode@(itemName)" style="width:105px;" data-rule-required="true" data-msg-required="請選擇幣別"></select>
                                                <input type="number" class="form-control" id="txtNewExchange@(itemName)" name="txtNewExchange@(itemName)" placeholder="請輸入匯率" style="height: unset;width: calc(100% - 105px);" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboNewTaxType@(itemName)">課稅別</label>
                                            <div class="col-12 col-md-9 col-lg-9">
                                                <select class="form-control" id="cboNewTaxType@(itemName)" name="cboNewTaxType@(itemName)"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboNewPricingTerm@(itemName)">價格條件</label>
                                            <div class="col-12 col-md-9 col-lg-9">
                                                <select class="form-control" id="cboNewPricingTerm@(itemName)" name="cboNewPricingTerm@(itemName)"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtNewTaxRate@(itemName)">營業稅率</label>
                                            <div class="col-12 col-md-9 col-lg-9">
                                                <input type="text" class="form-control" id="txtNewTaxRate@(itemName)" name="txtNewTaxRate@(itemName)" value="0" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboNewPaymentTerm@(itemName)">付款條件</label>
                                            <div class="col-12 col-md-9 col-lg-9">
                                                <select class="form-control" id="cboNewPaymentTerm@(itemName)" name="cboNewPaymentTerm@(itemName)"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalSync@(itemName)">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@(itemNameText)同步</h5>
                <button class="close" type="button" onclick="CloseSync@(itemName)()">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container custom-form-container" autocomplete="off" id="syncForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtTsrnErpFullNo@(itemName)">暫出歸還單號</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtTsrnErpFullNo@(itemName)" name="txtTsrnErpFullNo@(itemName)" placeholder="請輸入暫出歸還單號" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtSyncStartDate@(itemName)">開始日期 <input type="checkbox" id="cbxSyncDate@(itemName)" checked /></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtSyncStartDate@(itemName)" name="txtSyncStartDate@(itemName)" placeholder="請輸入開始日期" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtSyncEndDate@(itemName)">結束日期</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtSyncEndDate@(itemName)" name="txtSyncEndDate@(itemName)" placeholder="請輸入結束日期" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label">同步模式</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <div class="row">
                                    <div class="col">
                                        <label class="control control-solid control-solid-info control--checkbox">
                                            正常同步
                                            <input type="checkbox" id="cbxNormalSync@(itemName)" name="cbxNormalSync@(itemName)" checked />
                                            <span class="control__indicator"></span>
                                        </label>
                                    </div>
                                    <div class="col">
                                        <label class="control control-solid control-solid-info control--checkbox">
                                            異動同步
                                            <input type="checkbox" id="cbxTranSync@(itemName)" name="cbxTranSync@(itemName)" />
                                            <span class="control__indicator"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-success" onclick="Sync@(itemName)()"><i class="fas fa-sync"></i>同步</button>
            </div>
        </div>
    </div>
</div>


@*<div class="advanced-block">
        <div class="row">
            <div class="col-12">
                <ul class="nav flag-tabs nav-fill" role="tablist">
                    <li class="flag-item">
                        <a class="flag-link active" data-toggle="tab" href="#tabDeviceMachine">
                            <i class="fas fa-computer-classic"></i> 裝置機台綁定
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="tabDeviceMachine">
                @Html.Partial("DeviceMachine")
            </div>
        </div>
    </div>*@
@Html.Partial("ViewWipOrder")

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";
        let viewWomId = -1
        let userId@(itemName);
        let companyId@(itemName);
        let userNo@(itemName);

        $(document).ready(function () {
            GetUserInfo@(itemName)()

            ComboBoxs.Default("#cboDeviceTypeQ@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "Device.DeviceType" }, "", "NA", "", "TypeName", "TypeNo");
            ComboBoxs.Default("#cboDeviceAuthorityQ@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "Device.DeviceAuthority" }, "", "NA", "", "TypeName", "TypeNo");

            Query@(itemName)();


            if (!isMobile) {
                $("#cboDeviceTypeQ@(itemName), #cboDeviceAuthorityQ@(itemName)").select2({
                    width: "100%"
                });
            }
        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let statusList = [];
            $.each($("input[name='cbxStatusQ@(itemName)']:checked"), function () {
                statusList.push($(this).val());
            });

            let targetUrl = "@Url.Action("GetDevice", "MesBasicInformation")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "DeviceType": $("#cboDeviceTypeQ@(itemName)").val(),
                "DeviceName": $("#txtDeviceNameQ@(itemName)").val(),
                "DeviceIdentifierCode": $("#txtDeviceIdentifierCodeQ@(itemName)").val().trim(),
                "DeviceAuthority": $("#cboDeviceAuthorityQ@(itemName)").val(),
                "Status": statusList.join(",")
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr>
                                        <td>${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DeviceName}" style="max-width: 150px;">${item.DeviceName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DeviceDesc}" style="max-width: 100px;">${item.DeviceDesc}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DeviceName}" style="max-width: 100px;">${item.DeviceName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DeviceName}" style="max-width: 200px;">${item.DeviceName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DeviceName}" style="max-width: 200px;">${item.DeviceName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DeviceName}" style="max-width: 200px;">${item.DeviceName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DeviceName}" style="max-width: 100px;">${item.DeviceName}</td>
                                        <td class="text-center active-content">
                                          <div class="btn-group mb-4 show" style="margin-bottom: 0 !important; position: static;">
                                            <button type="button" class="btn btn-primary dropdown-toggle" data-tsrn-id="${item.DeviceId}" style="padding-top: 0; padding-bottom: 0;">動作</button>
                                            <div class="dropdown-menu btn-text-left-block" data-tsrn-id="${item.DeviceId}" style="overflow-y: auto; z-index: 999; max-height: 150px;">
                                              ${!!item.DeviceId ? `<a class="dropdown-item btn-text-left auth-update" href="javascript:Edit@(itemName)(${item.TsrnId});" ><i class="fas fa-eye"></i>查看</a>` : ``}
                                              ${!!item.DeviceId ? `<a class="dropdown-item btn-text-left auth-update" href="javascript:Edit@(itemName)(${item.TsrnId});" ><i class="fas fa-edit"></i>修改</a>` : ``}
                                              @*${!!item.DeviceId ? `<a class="dropdown-item btn-text-left auth-import" href="javascript:OrderAction@(itemName)(${'Import',item.TsrnId});" ><i class="fas fa-upload"></i><span>拋轉</span></a>` : item.TransferStatus == `Y` && item.ConfirmStatus == `N` ? `<a class="dropdown-item btn-text-left auth-import" href="javascript:Revise@(itemName)(${item.TsrnId});" ><i class="fas fa-reply-all"></i><span>回歸</span></a>` : ``}
                                              ${!!item.DeviceId ? `<a class="dropdown-item btn-text-left auth-import" href="javascript:OrderAction@(itemName)(${'Revise',item.TsrnId});" ><i class="fas fa-upload"></i><span>拋轉</span></a>` : item.TransferStatus == `Y` && item.ConfirmStatus == `N` ? `<a class="dropdown-item btn-text-left auth-import" href="javascript:Revise@(itemName)(${item.TsrnId});" ><i class="fas fa-reply-all"></i><span>回歸</span></a>` : ``}*@
                                              ${!!item.DeviceId ? `<a class="dropdown-item btn-text-left auth-delete" href="javascript:OrderAction@(itemName)('Delete', ${item.TsrnId});" ><i class="fas fa-trash-alt"></i>刪除</a>` : ``}
                                              ${!!item.DeviceId ? `<a class="dropdown-item btn-text-left auth-import" href="javascript:OrderAction@(itemName)('Import', ${item.DeviceId});" ><i class="fas fa-upload"></i>拋轉</a>` : ``}
                                              ${!!item.DeviceId ? `<a class="dropdown-item btn-text-left auth-import" href="javascript:OrderAction@(itemName)('Revise', ${item.DeviceId});" ><i class="fas fa-reply-all"></i>回歸</a>` : ``}
                                              ${!!item.DeviceId ? `<a class="dropdown-item btn-text-left auth-confirm" href="javascript:OrderAction@(itemName)('Confirm', ${item.DeviceId});" ><i class="fas fa-check-circle"></i>確認</a>` : ``}
                                              ${!!item.DeviceId ? `<a class="dropdown-item btn-text-left auth-reconfirm" href="javascript:OrderAction@(itemName)('ReConfirm', ${item.DeviceId});" ><i class="fas fa-undo-alt"></i>反確認</a>` : ``}
                                              ${!!item.DeviceId ? `<a class="dropdown-item btn-text-left auth-void" href="javascript:OrderAction@(itemName)('Void', ${item.DeviceId});" ><i class="fas fa-ban"></i>作廢</a>` : ``}
                                              ${!!item.DeviceId ? `<a class="dropdown-item btn-text-left auth-void" href="javascript:OrderAction@(itemName)('Void', ${item.DeviceId});" ><i class="fas fa-ban"></i>原製令比較</a>` : ``}
                                            </div>
                                          </div>
                                        </td>
                                        <td style="padding: 0;">
                                          <table class="table table-bordered table-sm mb-0 table-non-rwd table-striped-custom table-row-detail">
                                            <tbody>
                                              ${DetailData@(itemName)(item.DeviceName)}
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="8" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

            $("input[name='chkStatus@(itemName)']").bootstrapToggle({
                on: "啟用",
                off: "停用",
                onstyle: "success",
                offstyle: "danger",
                size: "mini"
            });


            $(".dropdown-toggle").off("click").on("click", function () {
                let tsrnId = $(this).data("tsrn-id");

                if ($(`.dropdown-menu[data-tsrn-id='${tsrnId}']`).hasClass("show")) {
                    $(".dropdown-menu").removeClass("show");
                } else {
                    $(".dropdown-menu").removeClass("show");

                    $(`.dropdown-menu[data-tsrn-id='${tsrnId}']`).addClass("show");
                    $(`.dropdown-menu[data-tsrn-id='${tsrnId}']`).css({
                        top: `${$(this).position().top + $(this).height() + 5}px`,
                        left: `${$(this).position().left - $(this).width() + 38}px`
                    });
                }
            });

            $("body").off("click").on("click", function (e) {
                if ($(".dropdown-menu").hasClass("show")) {
                    if (!$(e.target).hasClass("dropdown-toggle")
                        && !$(e.target).parents().hasClass("dropdown-toggle")) {
                        $(".dropdown-menu").removeClass("show");
                    }
                }
            });
        }

        function DetailData@(itemName)(DeviceName, source){
            let html = '';

            html += `<tr>
                        <td style="width: 200px;">${DeviceName}</td>
                        <td style="width: 200px;">${DeviceName}</td>
                        <td style="width: 100px;">${DeviceName}</td>
                        <td style="width: 125px;">${DeviceName}</td>
                    </tr>`;
            if (!!source) {
                let json = JSON.parse(source);

                for (let x = 0; x < json.data.length; x++) {
                    var TypeName = "";
                    switch (json.data[x].ProductType) {
                        case "1":
                            TypeName = "贈品量"
                            break
                        case "2":
                            TypeName = "備品量"
                            break
                    }
                    html += `<tr>
                               <td style="width: 100px; max-width: 100px;">${DeviceName}</td>
                               <td style="width: 100px; max-width: 100px;">${DeviceName}</td>
                               <td style="width: 100px; max-width: 100px;">${DeviceName}</td>
                               <td style="width: 175px; max-width: 175px;" class="ellipsis" data-toggle="tooltip" title="${json.data[x].MtlItemNo}">${json.data[x].MtlItemNo}</td>
                             </tr>`;
                }
            }

            return html;
        }

        function Edit@(itemName)(WomId) {
            viewWomId = WomId ? WomId : -1;

            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");
            //製令狀態
            ComboBoxs.Default("#cboNewWoStatus@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "Project" }, "", "NA", "", "ProjectName", "Project");
            //訂單選單
            //ComboBoxs.Default("#cboNewSoDetailId@(itemName)", "@Url.Action("GetSaleOrderSimple", "SaleOrder")", { "MtlItemId": $("#txtMtlItemId@(itemName)").val()}, "", "NA", "", "SoErpFullNo", "SoDetailId"); //訂單單位
            //專案代號
            ComboBoxs.Default("#cboNewProject@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "Project" }, "", "NA", "", "ProjectName", "Project");
            //計畫批號
            ComboBoxs.Default("#cboNewPlanLotNo@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "Project" }, "", "NA", "", "ProjectName", "Project");
            //廠別
            ComboBoxs.WithText("#cboNewFactory@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "Factory" }, "", "CHOOSE", "", "FactoryName", "Factory");
            //生管/採購
            ComboBoxs.Default("#cboNewUserId@(itemName)", "@Url.Action("GetUser", "BasicInformation")", {"CompanyId": companyId@(itemName)}, "", "NA", "", "UserWithNo", "UserId"); //確認者
            //入庫庫別
            ComboBoxs.Default("#cboNewInventoryId@(itemName)", "@Url.Action("GetInventory", "ScmBasicInformation")", {}, "", "NA", "", "InventoryWithNo", "InventoryId"); //入庫庫別
            //加工單位
            ComboBoxs.Default("#cboNewUomId@(itemName)", "@Url.Action("GetUnitOfMeasure", "PdmBasicInformation")", {"Status":"A"}, "", "NA", "", "UomNo", "UomId"); //加工單位
            //加工廠商
            ComboBoxs.WithText("#cboNewProcessor@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "Processor" }, "", "NA", "", "ProcessorName", "ProcessorNo");
            //生產線別
            ComboBoxs.WithText("#cboNewProductionLine@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "ProduceLineNo" }, "", "NA", "", "ProduceLineName", "ProduceLineNo");
            //稅別碼選單
            ComboBoxs.WithText("#cboNewTaxCode@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "TaxNo" }, "", "NA", "", "TaxName", "TaxNo");
            //課稅別選單
            ComboBoxs.Default("#cboNewTaxType@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "Customer.Taxation" }, "", "NA", "", "TypeName", "TypeNo");
            //幣別選單
            ComboBoxs.WithText("#cboNewCurrencyCode@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "Currency" }, "", "NA", "", "CurrencyName", "Currency");
            //價格條件
            ComboBoxs.Default("#cboNewPricingTerm@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "PaymentTerm" }, "", "NA", "", "PaymentTermName", "PaymentTermNo");
            //付款條件選單
            ComboBoxs.Default("#cboNewPaymentTerm@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "PaymentTerm" }, "", "NA", "", "PaymentTermName", "PaymentTermNo");

            //開單日預設今日
            let currentDate = new Date();
            Suites.DatePicker("txtModifyDate@(itemName)", currentDate);
            //Suites.DatePicker("txtNewExpectedStart@(itemName), txtNewExpectedEnd@(itemName)", "");

            if (viewWomId > 0) {
                let targetUrl = "@Url.Action("GetWoModification", "Production")";
                let postData = {
                    "WomId": viewWomId
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        $("#cboDeviceType@(itemName)").val(item.DeviceType);
                        $("#txtDeviceName@(itemName)").val(item.DeviceName);
                        $("#txtDeviceDesc@(itemName)").val(item.DeviceDesc);
                        $("#txtDeviceIdentifierCode@(itemName)").val(item.DeviceIdentifierCode);
                        $("#cboDeviceAuthority@(itemName)").val(item.DeviceAuthority);
                    });

                    //ExpandDeviceMachine();
                } else {
                    alert(data.msg, "alert", 0);
                }
            }

            let popConfig = {
                targetSelector: "#txtWoId@(itemName)",
                popFunction: "PopViewWipOrder",
                objectWoId: "#txtWoId@(itemName)",
                objectWoErpFullNo: "#desWoErpFullNo@(itemName)",
                objectMtlItemNo: "#desMtlItemNo@(itemName)",
                objectMtlItemName: "#desMtlItemName@(itemName)",
                objectMtlItemSpec: "#desMtlItemSpec@(itemName)",
                objectPlanQty: "#desPlanQty@(itemName)"
            };
            InitPopView(popConfig);

            if (!isMobile) {
                $(`#cboNewWoStatus@(itemName), #cboNewSoDetailId@(itemName), #cboNewProject@(itemName), #cboNewPlanLotNo@(itemName)
                    , #cboNewFactory@(itemName), #cboNewUserId@(itemName), #cboNewInventoryId@(itemName), #cboNewUomId@(itemName)
                    , #cboNewProcessor@(itemName), #cboNewProductionLine@(itemName), #cboNewTaxCode@(itemName), #cboNewTaxType@(itemName)
                    , #cboNewCurrencyCode@(itemName), #cboNewPricingTerm@(itemName), #cboNewPaymentTerm@(itemName)
                    `).select2({
                    width: "100%"
                });
            }

        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {

                if (viewWomId <= 0) {
                    let targetUrl = "@Url.Action("AddDevice", "Production")";
                    let postData = {
                        "DeviceType": $("#cboDeviceType@(itemName)").val(),
                        "DeviceName": $("#txtDeviceName@(itemName)").val(),
                        "DeviceDesc": $("#txtDeviceDesc@(itemName)").val(),
                        "DeviceIdentifierCode": $("#txtDeviceIdentifierCode@(itemName)").val(),
                        "DeviceAuthority": $("#cboDeviceAuthority@(itemName)").val(),
                    };

                    let data = DataAccess.EditContinued(targetUrl, postData, false);

                    if (data) {
                        $.each(data.result, function (i, item) {
                            $("#DeviceId").val(item.DeviceId);
                        });
                        //ExpandDeviceMachine();
                    }
                } else {
                    let targetUrl = "@Url.Action("UpdateDevice", "Production")";
                    let postData = {
                        "DeviceId": DeviceId,
                        "DeviceType": $("#cboDeviceType@(itemName)").val(),
                        "DeviceName": $("#txtDeviceName@(itemName)").val(),
                        "DeviceDesc": $("#txtDeviceDesc@(itemName)").val(),
                        "DeviceIdentifierCode": $("#txtDeviceIdentifierCode@(itemName)").val(),
                        "DeviceAuthority": $("#cboDeviceAuthority@(itemName)").val(),
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Return@(itemName)();
                    }
                }
            }
        }

        function Delete@(itemName)(WomId) {
            swal.fire({
                titleText: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteWoModification", "Production")";
                    let postData = {
                        "DeviceId": DeviceId,
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function OrderAction@(itemName)(Type, WomId) {
            let inConfrim = "N";
            let targetUrl = ""
            let postData = ""
            let titleText = ""
            let text = ""
            let Order = `ERP製令變更單`

            if (WomId == -1) {
                WomId = viewWomId
                inConfrim = "Y"
            }
            postData = {
                "WomId": WomId
            };
            switch (Type) {
                case "Delete":
                    titleText = `${Order}是否要進行刪除嗎?`
                    text = "執行此動作單據會無法復原，請確認是否要執行!"
                    targetUrl = "@Url.Action("DeleteWoModification", "Production")";
                    break;
                case "Import":
                    titleText = `${Order}是否要拋轉ERP嗎?`
                    text = "執行此動作單據會正式成立，請確認是否要執行!"
                    targetUrl = "@Url.Action("UpdateWomToERP", "Production")";
                    break;
                case "Revise":
                    titleText = `${Order}是否要重新編輯嗎?`
                    text = "執行此動作單據可以再以再MES重新編輯，請確認是否要執行!"
                    targetUrl = "@Url.Action("UpdateWomReviseMES", "Production")";
                    break;
                case "Confirm":
                    titleText = `${Order}是否要核單嗎?`
                    text = "執行此動作會讓單據生效,請確認是否要執行!"
                    targetUrl = "@Url.Action("UpdateWomConfirm", "Production")";
                    break;
                case "ReConfirm":
                    titleText = `${Order}是否要反確認嗎?`
                    text = "執行此動作會讓單據失效,請確認是否要執行!"
                    targetUrl = "@Url.Action("UpdateWomReconfirm", "Production")";
                    break;
                case "Void":
                    titleText = `${Order}是否要作廢嗎?`
                    text = "執行此動作無法復原,請確認是否要執行!"
                    targetUrl = "@Url.Action("UpdateWomVoid", "Production")";
                    break;
            }

            swal.fire({
                titleText: titleText,
                text: text,
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                    if (result.isConfirmed) {

                        let result = DataAccess.Other(targetUrl, postData, false, true);

                        if (result) {
                        Query@(itemName)();

                        if (inConfrim == "Y") {
                            Return@(itemName)()
                        }
                    }
                }
            });
        }

        function PopSoSync@(itemName)() {
            $("#modalSync@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });
            let currentDate = new Date();
            Suites.DatePicker("txtSyncEndDate@(itemName)", currentDate);
            currentDate.setDate(currentDate.getDate() - 7);
            Suites.DatePicker("txtSyncStartDate@(itemName)", currentDate);
        }

        function CloseSync@(itemName)() {
            ResetForm("#syncForm@(itemName)");

            $("#modalSync@(itemName)").modal("hide");

            Query@(itemName)();
        }

        function Sync@(itemName)() {
            swal.fire({
                titleText: "確認執行ERP資料同步嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("UpdateWomSynchronize", "Production")";
                    let postData = {
                        "RtErpFullNo": $("#txtRtErpFullNo@(itemName)").val(),
                        "SyncStartDate": ($("#cbxSyncDate@(itemName)").is(":checked") ? $("#txtSyncStartDate@(itemName)").val() : ""),
                        "SyncEndDate": ($("#cbxSyncDate@(itemName)").is(":checked") ? $("#txtSyncEndDate@(itemName)").val() : ""),
                        "NormalSync": $("#cbxNormalSync@(itemName)").is(":checked") ? "Y" : "N",
                        "TranSync": $("#cbxTranSync@(itemName)").is(":checked") ? "Y" : "N"
                    };

                    let data = DataAccess.EditContinued(targetUrl, postData, false);

                    if (data) {
                        alert(data.result, "success", 5000);
                    }

                    CloseSync@(itemName)();
                }
            });
        }

        function GetUserInfo@(itemName)() {
            let targetUrl = "@Url.Action("GetLoginByKey", "User")";
            let postData = {
                "UserNo": $.cookie("Login"),
                "KeyText": $.cookie("LoginKey")
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                userId@(itemName) = data.returnData.UserId;
                companyId@(itemName) = data.returnData.CompanyId;
                userNo@(itemName) = data.returnData.UserNo;

            } else {
                alert(data.msg, "alert", 0);
            }
        }

        function Return@(itemName)() {
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName)", "#editData@(itemName), .unit-block, .advanced-block");
            Query@(itemName)();
        }


    </script>
                )