@using Business_Manager.Helpers
@{
    string itemName = "Announcement";
    string itemNameText = "公告資料管理";
    string authority = ViewBag.authority;

    ViewBag.Title = itemNameText;

}

@Html.Resource("css",
    @<style>
    </style>
)

<input type="hidden" id="pageAuthority" value="@authority" />


<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboBoardTypeIdQ@(itemName)">公告類別</label>
                            <div class="col-12">
                                <select class="form-control" id="cboBoardTypeIdQ@(itemName)" name="cboBoardTypeIdQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtTitleQ@(itemName)">公告標題</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtTitleQ@(itemName)" name="txtTitleQ@(itemName)" placeholder="請輸入公告標題" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">狀態</label>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    啟用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)A" name="cbxStatusQ@(itemName)" value="A" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    停用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)S" name="cbxStatusQ@(itemName)" value="S" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">公告日期 <input type="checkbox" id="cbxUseDate@(itemName)"/></label>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtStartDateQ@(itemName)" name="txtStartDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtEndDateQ@(itemName)" name="txtEndDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3 justify-content-between">
                    <div class="col-auto col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);">
                            <i class="fal fa-search"></i>搜尋
                        </a>
                    </div>
                    <div class="col-auto col-sm-6 col-md-6 text-right">
                        <a class="btn btn-info auth-add" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky table-stack" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th scope="col" style="min-width: 150px;">公告類別</th>
                                        <th scope="col" style="min-width: 150px;">公告標題</th>
                                        <th scope="col" style="min-width: 150px;">公告日期</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">狀態</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="tab">
                    <ul class="nav nav-tabs nav-fill mb-3" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabArticle">
                                <i class="far fa-megaphone"></i> 公告內容
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tabFile">
                                <i class="fas fa-upload"></i> 檔案上傳
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="tabArticle">
                        <div class="card card-shadow">
                            <div class="card-body">
                                <form class="container custom-form-container" autocomplete="off" id="editForm@(itemName)">
                                    <fieldset>
                                        <input type="hidden" id="BoardId" name="BoardId" value="-1" />
                                        <div class="form-group row">
                                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboBoardTypeId@(itemName)">公告類別 <span class="text-danger">*</span></label>
                                            <div class="col-12 col-md-9 col-lg-9">
                                                <select class="form-control" id="cboBoardTypeId@(itemName)" name="cboBoardTypeId@(itemName)"
                                                        data-msg-required="請選擇公告類別" data-rule-required="true"></select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtTitle@(itemName)">標題 <span class="text-danger">*</span></label>
                                            <div class="col-12 col-md-9 col-lg-9">
                                                <input type="text" class="form-control" id="txtTitle@(itemName)" name="txtTitle@(itemName)"
                                                       data-msg-required="請輸入公告標題" data-rule-required="true" placeholder="請輸入公告標題"
                                                       data-msg-maxlength="必須少於 100 個字元" maxlength="100" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtAnnounceDate@(itemName)">公告日期 <span class="text-danger">*</span></label>
                                            <div class="col-12 col-md-9 col-lg-9">
                                                <input type="text" class="form-control datedropper" id="txtAnnounceDate@(itemName)" name="txtAnnounceDate@(itemName)" placeholder="請輸入公告日期"
                                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                                       readonly />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtContent@(itemName)">內容 <span class="text-danger">*</span></label>
                                            <div class="col-12 col-md-9 col-lg-9">
                                                <textarea class="form-control" id="txtContent@(itemName)" name="txtContent@(itemName)" rows="5" placeholder="請輸入內容"></textarea>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                            <div class="card-footer text-center text-lg-right">
                                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tabFile">
                        @Html.Partial("BoardFile")
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("ViewTinymceFileManager")

@Html.Resource("js",
    @<script src="https://cdn.tiny.cloud/1/a93zpppkmp0xp9nzmpz9roljq4j6z017n43x106nqi82jwnp/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
)

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };

        let objForm@(itemName) = "#editForm@(itemName)";

        $(document).ready(function () {
            let currentDate = new Date();

            Suites.DatePicker("txtEndDateQ@(itemName)", currentDate);
            currentDate.setDate(currentDate.getDate() - 7);
            Suites.DatePicker("txtStartDateQ@(itemName)", currentDate);

            ComboBoxs.Default("#cboBoardTypeIdQ@(itemName)", "@Url.Action("GetBoardType", "EbpBasicInformation")", {}, "", "ALL", "", "TypeName", "BoardTypeId");

            $("#cboBoardTypeIdQ@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });

            Query@(itemName)();

            $("#editData@(itemName) a[data-toggle='tab']").on("shown.bs.tab", function (e) {
                InitParameter@(itemName)($(this));
            });
        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let statusList = [];
            $.each($("input[name='cbxStatusQ@(itemName)']:checked"), function () {
                statusList.push($(this).val());
            });

            let targetUrl = "@Url.Action("GetBoard", "Billboard")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "BoardTypeId": $("#cboBoardTypeIdQ@(itemName)").val(),
                "Title": $("#txtTitleQ@(itemName)").val(),
                "Status": statusList.join(","),
                "StartDate": ($("#cbxUseDate@(itemName)").is(":checked") ? $("#txtStartDateQ@(itemName)").val() : ""),
                "EndDate": ($("#cbxUseDate@(itemName)").is(":checked") ? $("#txtEndDateQ@(itemName)").val() : "")
            };
            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr>
                                        <td><span class="stack-title">#</span>${_row}</td>
                                        <td><span class="stack-title">公告類別</span>${item.TypeName}</td>
                                        <td><span class="stack-title">公告標題</span>${item.Title}</td>
                                        <td><span class="stack-title">公告日期</span>${item.AnnounceDate}</td>
                                        <td class="text-center auth-status-switch">
                                          <span class="stack-title">狀態</span>
                                          <input type="checkbox" name="chkStatus@(itemName)" data-board-id="${item.BoardId}" ${(item.Status == 'A' ? 'checked' : '')} />
                                        </td>
                                        <td class="text-center un-auth auth-status-switch"><span class="stack-title">#</span>${StatusName("Status", item.Status)}</td>
                                        <td class="text-center active-content">
                                          <span class="stack-title">操作</span>
                                          <a class="active-link auth-update" href="javascript:Edit@(itemName)(${item.BoardId});"><i class="fas fa-edit"></i></a>
                                          <a class="active-link auth-delete" href="javascript:Delete@(itemName)(${item.BoardId})"});"><i class="fas fa-trash-alt"></i></a>
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="6" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

            $("input[name='chkStatus@(itemName)']").bootstrapToggle({
                on: "啟用",
                off: "停用",
                onstyle: "success",
                offstyle: "danger",
                size: "mini"
            });

            $("input[name='chkStatus@(itemName)'][data-board-id]").change(StatusSwitch@(itemName));
        }

        function Edit@(itemName)(BoardId) {
            $("#BoardId").val(BoardId ? BoardId : 0);

            ComboBoxs.Default("#cboBoardTypeId@(itemName)", "@Url.Action("GetBoardType", "EbpBasicInformation")", {}, "", "CHOOSE-NUMBER", "請選擇", "TypeName", "BoardTypeId");

            let currentDate = new Date();
            Suites.DatePicker("txtAnnounceDate@(itemName)", currentDate);

            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");

            tinymce.remove("#txtContent@(itemName)");

            if (BoardId > 0) {
                let targetUrl = "@Url.Action("GetBoard", "Billboard")";
                let postData = {
                    "BoardId": BoardId
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        $("#cboBoardTypeId@(itemName)").val(item.BoardTypeId);
                        $("#txtTitle@(itemName)").val(item.Title);
                        $("#txtAnnounceDate@(itemName)").val(item.AnnounceDate);
                        $("#txtContent@(itemName)").val(decodeURI(item.Content));
                    });
                } else {
                    alert(data.msg, "alert", 0);
                }
            }

            $("#cboBoardTypeId@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });

            tinymce.init({
                selector: 'textarea#txtContent@(itemName)',
                language: 'zh_TW',
                plugins: 'lists advlist link autolink charmap code directionality emoticons fullscreen help image insertdatetime media nonbreaking pagebreak preview searchreplace table visualblocks visualchars wordcount',
                toolbar1: 'undo redo searchreplace | cut copy paste pastetext | forecolor backcolor | fontsize fontfamily',
                toolbar2: 'table | bold italic underline strikethrough blockquote | alignleft aligncenter alignright alignjustify alignnone | bullist numlist',
                toolbar3: 'image media | link | charmap | emoticons | insertdatetime | newdocument fullscreen preview help',
                skin: 'small',
                icons: 'small',
                file_picker_types: 'file image media',
                file_picker_callback: (callback, value, meta) => {
                    PopViewTinymceFileManager(callback);
                },
                insertdatetime_formats: ['%H:%M:%S', '%I:%M:%S %p', '%Y-%m-%d', '%Y/%m/%d'],
                statusbar: false
            });

            if ($("#editData@(itemName) .nav-tabs > .nav-item > .nav-link").first().hasClass("active")) {
                InitParameter@(itemName)($("#editData@(itemName) .nav-tabs > .nav-item").first().find("a"));
            } else {
                $("#editData@(itemName) .nav-tabs > .nav-item").first().find("a").trigger("click");
            }
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let BoardId = parseInt($("#BoardId").val());

                if (BoardId <= 0) {
                    let targetUrl = "@Url.Action("AddBoard", "Billboard")";
                    let postData = {
                        "BoardTypeId": $("#cboBoardTypeId@(itemName)").val(),
                        "Title": $("#txtTitle@(itemName)").val(),
                        "AnnounceDate": $("#txtAnnounceDate@(itemName)").val(),
                        "Content": encodeURI(tinymce.get("txtContent@(itemName)").getContent())
                    };

                    let result = DataAccess.Add(targetUrl, postData, false, true);

                    if (result) {
                       if ($("#editData@(itemName) .nav-tabs > .nav-item > .nav-link").first().hasClass("active")) {
                            InitParameter@(itemName)($("#editData@(itemName) .nav-tabs > .nav-item").first().find("a"));
                        } else {
                            $("#editData@(itemName) .nav-tabs > .nav-item").first().find("a").trigger("click");
                        }
                    }
                } else {
                    let targetUrl = "@Url.Action("UpdateBoard", "Billboard")";
                    let postData = {
                        "BoardId": BoardId,
                        "BoardTypeId": $("#cboBoardTypeId@(itemName)").val(),
                        "Title": $("#txtTitle@(itemName)").val(),
                        "AnnounceDate": $("#txtAnnounceDate@(itemName)").val(),
                        "Content": encodeURI(tinymce.get("txtContent@(itemName)").getContent())
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        if ($("#editData@(itemName) .nav-tabs > .nav-item > .nav-link").first().hasClass("active")) {
                            InitParameter@(itemName)($("#editData@(itemName) .nav-tabs > .nav-item").first().find("a"));
                        } else {
                            $("#editData@(itemName) .nav-tabs > .nav-item").first().find("a").trigger("click");
                        }
                    }
                }
            }
        }

        function Delete@(itemName)(BoardId) {
            swal.fire({
                titleText: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteBoard", "Billboard")";
                    let postData = {
                        "BoardId": BoardId
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function Return@(itemName)() {
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName)", "#editData@(itemName), .unit-block");
            Query@(itemName)();
        }

        function StatusSwitch@(itemName)() {
            var BoardId = $(this).data("board-id");

            let targetUrl = "@Url.Action("UpdateBoardStatus", "Billboard")";
            let postData = {
                "BoardId": BoardId
            };

            let result = DataAccess.Update(targetUrl, postData, false, true);

            if (result) {
                Query@(itemName)();
            }
        }

        function InitParameter@(itemName)(selector) {
            let initFnString = "Expand";
            let content = selector.attr("href").split('#tab')[1].split('@(itemName)')[0];

            switch (content) {
                case "File":
                    initFnString += "BoardFile";
                    break;
            }

            let initFn = window[initFnString];
            if (initFn && typeof (initFn) == "function") {
                initFn();
            }
        }
    </script>
)