@using Business_Manager.Helpers
@{
    string itemName = "PopView";
    string itemNameText = "彈跳視窗";
    string authority = ViewBag.authority;
}

@Html.Resource("css",
    @<style>
    </style>
)

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container" autocomplete="off" id="form@(itemName)">
                    <fieldset class="border p-4">
                        <legend class="w-auto">使用者</legend>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtUserId@(itemName)">使用者(單選)</label>
                            <div class="col-12">
                                <input type="hidden" id="txtUserId@(itemName)" />
                                <div class="btn-group">
                                    <a class="btn btn-success pop-view" href="javascript:void(0);"><i class="fal fa-search"></i></a>
                                    <a class="btn btn-outline-danger pop-clear" href="javascript:void(0);"><i class="fas fa-eraser"></i></a>
                                </div>
                                <dl class="help-block">
                                    <dt>公司</dt>
                                    <dd id="desCompany@(itemName)"></dd>
                                    <dt>部門</dt>
                                    <dd id="desDepartment@(itemName)"></dd>
                                    <dt>使用者</dt>
                                    <dd id="desUser@(itemName)"></dd>
                                </dl>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboUsers@(itemName)">使用者(複選)</label>
                            <div class="col-12">
                                <div class="input-group">
                                    <select class="form-control" id="cboUsers@(itemName)" multiple></select>
                                    <div class="input-group-append">
                                        <a class="btn btn-success pop-view" href="javascript:void(0);"><i class="fal fa-search"></i></a>
                                        <a class="btn btn-outline-danger pop-clear" href="javascript:void(0);"><i class="fas fa-eraser"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="border p-4">
                        <legend class="w-auto">聯絡人</legend>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtContact@(itemName)">聯絡人(單選)</label>
                            <div class="col-12">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="txtContact@(itemName)" />
                                    <div class="input-group-append">
                                        <a class="btn btn-success pop-view" href="javascript:void(0);"><i class="fal fa-search"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtContacts@(itemName)">聯絡人(複選)</label>
                            <div class="col-12">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="txtContacts@(itemName)" />
                                    <div class="input-group-append">
                                        <a class="btn btn-success pop-view" href="javascript:void(0);"><i class="fal fa-search"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="border p-4">
                        <legend class="w-auto">品號</legend>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group row">
                                    <label class="col-12 col-form-label" for="txtMtlItemNo@(itemName)">品號</label>
                                    <div class="input-group col-12">
                                        <input type="hidden" id="txtMtlItemId@(itemName)" />
                                        <input type="text" class="form-control" id="txtMtlItemNo@(itemName)" />
                                        <span class="input-group-append">
                                            <a class="btn btn-success pop-view" href="javascript:void(0);"><i class="fal fa-search"></i></a>
                                            <a class="btn btn-outline-danger pop-clear" href="javascript:void(0);"><i class="fas fa-eraser"></i></a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group row">
                                    <label class="col-12 col-form-label" for="txtMtlItemName@(itemName)">品名</label>
                                    <div class="col-12">
                                        <input type="text" class="form-control" id="txtMtlItemName@(itemName)" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group row">
                                    <label class="col-12 col-form-label" for="txtMtlItemSpec@(itemName)">規格</label>
                                    <div class="col-12">
                                        <input type="text" class="form-control" id="txtMtlItemSpec@(itemName)" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="border p-4">
                        <legend class="w-auto">訂單</legend>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtSoDetailId@(itemName)">訂單</label>
                            <div class="col-12">
                                <input type="hidden" id="txtSoDetailId@(itemName)" />
                                <div class="btn-group">
                                    <a class="btn btn-success pop-view" href="javascript:void(0);"><i class="fal fa-search"></i></a>
                                    <a class="btn btn-outline-danger pop-clear" href="javascript:void(0);"><i class="fas fa-eraser"></i></a>
                                </div>
                                <dl class="help-block">
                                    <dt>客戶</dt>
                                    <dd id="desCustomer@(itemName)"></dd>
                                    <dt>訂單號碼</dt>
                                    <dd id="desSoErpFullNo@(itemName)"></dd>
                                    <dt>流水號</dt>
                                    <dd id="desSoSequence@(itemName)"></dd>
                                    <dt>品號</dt>
                                    <dd id="desMtlItemNo@(itemName)"></dd>
                                    <dt>品名</dt>
                                    <dd id="desMtlItemName@(itemName)"></dd>
                                    <dt>部番</dt>
                                    <dd id="desCustomerMtlItemNo@(itemName)"></dd>
                                </dl>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboSoDetails@(itemName)">訂單(複選)</label>
                            <div class="col-12">
                                <div class="input-group">
                                    <select class="form-control" id="cboSoDetails@(itemName)" multiple></select>
                                    <div class="input-group-append">
                                        <a class="btn btn-success pop-view" href="javascript:void(0);"><i class="fal fa-search"></i></a>
                                        <a class="btn btn-outline-danger pop-clear" href="javascript:void(0);"><i class="fas fa-eraser"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset class="border p-4">
                        <legend class="w-auto">工單</legend>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtWoErpFullNo@(itemName)">工單</label>
                            <div class="input-group col-12">
                                <input type="hidden" id="txtWoId@(itemName)" />
                                <input type="text" class="form-control" id="txtWoErpFullNo@(itemName)" />
                                <span class="input-group-append">
                                    <a class="btn btn-success pop-view" href="javascript:void(0);"><i class="fal fa-search"></i></a>
                                    <a class="btn btn-outline-danger pop-clear" href="javascript:void(0);"><i class="fas fa-eraser"></i></a>
                                </span>
                            </div>
                            <div class="col-12">
                                <dl class="help-block">
                                    <dt>產品品號</dt>
                                    <dd id="desWoMtlItemNo@(itemName)"></dd>
                                    <dt>品名</dt>
                                    <dd id="desWoMtlItemName@(itemName)"></dd>
                                    <dt>規格</dt>
                                    <dd id="desWoMtlItemSpec@(itemName)"></dd>
                                    <dt>預計產量</dt>
                                    <dd id="desPlanQty@(itemName)"></dd>
                                </dl>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

@Html.Partial("ViewUser")
@Html.Partial("ViewContact")
@Html.Partial("ViewMtlItem")
@Html.Partial("ViewSoDetail")
@Html.Partial("ViewWipOrder")

@Html.Resource("js",
    @<script src="@Url.Content("~/Scripts/tagsinput.js")"></script>
)

@Html.Resource("js",
    @<script>
        let objForm@(itemName) = "#form@(itemName)";

        $(document).ready(function () {
            InitSingleUser();
            InitMultipleUsers();
            InitSingleContact();
            InitMultipleContacts();
            InitSingleMtlItem();
            InitSingleSoDetail();
            InitMultipleSoDetail();
            InitSingleWipOrder();
        });

        function InitSingleUser() {
            let popConfig = {
                targetSelector: "#txtUserId@(itemName)",
                popFunction: "PopViewUser",
                objectUserId: "#txtUserId@(itemName)",
                objectUser: "#desUser@(itemName)",
                //objectDepartmentId: "",
                objectDepartment: "#desDepartment@(itemName)",
                objectCompany: "#desCompany@(itemName)",
                //objectCompanyId: "",
                //objectCompany: "",
                type: "radio"
            };
            InitPopView(popConfig);
        }

        function InitMultipleUsers() {
            ComboBoxs.Default("#cboUsers@(itemName)", "@Url.Action("GetUser", "BasicInformation")", { "Status": "A" }, "", "CHOOSE-NUMBER", "", "UserWithNo", "UserId");

            if (!isMobile) {
                $("#cboUsers@(itemName)").select2({
                    dropdownAutoWidth: true,
                    width: "100%"
                });
            }

            let popConfig = {
                targetSelector: "#cboUsers@(itemName)",
                popFunction: "PopViewUser",
                objectUserId: "#cboUsers@(itemName)",
                //objectUser: "",
                //objectDepartmentId: "",
                //objectDepartment: "",
                //objectCompany: "",
                //objectCompanyId: "",
                //objectCompany: "",
                type: "checkbox"
            };
            InitPopView(popConfig);
        }

        function InitSingleContact() {
            let popConfig = {
                targetSelector: "#txtContact@(itemName)",
                popFunction: "PopViewContact",
                objectContact: "#txtContact@(itemName)",
                type: "radio"
            };
            InitPopView(popConfig);

            $("#txtContact@(itemName)").tagsinput();
        }

        function InitMultipleContacts() {
            let popConfig = {
                targetSelector: "#txtContacts@(itemName)",
                popFunction: "PopViewContact",
                objectContact: "#txtContacts@(itemName)",
                type: "checkbox"
            };
            InitPopView(popConfig);

            $("#txtContacts@(itemName)").tagsinput();
        }

        function InitSingleMtlItem() {
            let popConfig = {
                targetSelector: "#txtMtlItemId@(itemName), #txtMtlItemNo@(itemName), #txtMtlItemName@(itemName), #txtMtlItemSpec@(itemName)",
                popFunction: "PopViewMtlItem",
                objectMtlItemId: "#txtMtlItemId@(itemName)",
                objectMtlItemNo: "#txtMtlItemNo@(itemName)",
                objectMtlItemName: "#txtMtlItemName@(itemName)",
                objectMtlItemSpec: "#txtMtlItemSpec@(itemName)",
                //objectInventoryId: "",
                //objectUomId: "",
                //objectUomNo: "",
                //objectMtlModify: ""
            };
            InitPopView(popConfig);
        }

        function InitSingleSoDetail() {
            let popConfig = {
                targetSelector: "#txtSoDetailId@(itemName)",
                popFunction: "PopViewSoDetail",
                objectSoDetailId: "#txtSoDetailId@(itemName)",
                objectCustomer: "#desCustomer@(itemName)",
                objectSoErpFullNo: "#desSoErpFullNo@(itemName)",
                objectSoSequence: "#desSoSequence@(itemName)",
                objectMtlItemNo: "#desMtlItemNo@(itemName)",
                objectMtlItemName: "#desMtlItemName@(itemName)",
                objectCustomerMtlItemNo: "#desCustomerMtlItemNo@(itemName)",
                //querySoId: -1,
                type: "radio"

            };
            InitPopView(popConfig);
        }

        function InitMultipleSoDetail() {
            ComboBoxs.Default("#cboSoDetails@(itemName)", "@Url.Action("GetSoDetail", "SaleOrder")", {}, "", "CHOOSE-NUMBER", "", "SoErpFullNo", "SoDetailId");

            if (!isMobile) {
                $("#cboSoDetails@(itemName)").select2({
                    dropdownAutoWidth: true,
                    width: "100%"
                }); 
            }

            let popConfig = {
                targetSelector: "#cboSoDetails@(itemName)",
                popFunction: "PopViewSoDetail",
                objectSoDetailId: "#cboSoDetails@(itemName)",
                //objectCustomer: "",
                //objectSoErpFullNo: "",
                //objectSoSequence: "",
                //objectMtlItemNo: "",
                //objectMtlItemName: "",
                //objectCustomerMtlItemNo: "",
                //querySoId: -1,
                type: "checkbox"
            };
            InitPopView(popConfig);
        }

        function InitSingleWipOrder() {
            let popConfig = {
                targetSelector: "#txtWoId@(itemName), #txtWoErpFullNo@(itemName)",
                popFunction: "PopViewWipOrder",
                objectWoId: "#txtWoId@(itemName)",
                objectWoErpFullNo: "#txtWoErpFullNo@(itemName)",
                objectMtlItemNo: "#desWoMtlItemNo@(itemName)",
                objectMtlItemName: "#desWoMtlItemName@(itemName)",
                objectMtlItemSpec: "#desWoMtlItemSpec@(itemName)",
                objectPlanQty: "#desPlanQty@(itemName)"
            };
            InitPopView(popConfig);
        }
    </script>
)