@using Business_Manager.Helpers
@{
    string itemName = "CompanyManagement";
    string itemNameText = "公司管理";
    string authority = ViewBag.authority;

    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
    </style>
)

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtCompanyNoQ@(itemName)">公司編號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtCompanyNoQ@(itemName)" name="txtCompanyNoQ@(itemName)" placeholder="請輸入公司編號" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtCompanyNameQ@(itemName)">公司名稱</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtCompanyNameQ@(itemName)" name="txtCompanyNameQ@(itemName)" placeholder="請輸入公司名稱" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">狀態</label>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    啟用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)A" name="cbxStatusQ@(itemName)" value="A" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    停用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)S" name="cbxStatusQ@(itemName)" value="S" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);"><i class="fal fa-search"></i>搜尋</a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn btn-info auth-add" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky table-stack" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th scope="col" style="min-width: 125px;">公司編號</th>
                                        <th scope="col" style="min-width: 125px;">公司名稱</th>
                                        <th scope="col" style="min-width: 175px;">電話</th>
                                        <th scope="col" style="min-width: 175px;">傳真</th>
                                        <th scope="col" style="min-width: 300px;">中文地址</th>
                                        <th scope="col" style="min-width: 300px;">英文地址</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">狀態</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container custom-form-container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="CompanyId" name="CompanyId" value="-1" />
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtCompanyNo@(itemName)">公司編號 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtCompanyNo@(itemName)" name="txtCompanyNo@(itemName)" placeholder="請輸入公司編號"
                                       data-msg-required="請輸入公司編號" data-rule-required="true"
                                       data-msg-maxlength="必須少於 10 個字元" maxlength="10" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtUserName@(itemName)">公司名稱 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtCompanyName@(itemName)" name="txtCompanyName@(itemName)" placeholder="請輸入公司名稱"
                                       data-msg-required="請輸入公司名稱" data-rule-required="true"
                                       data-msg-maxlength="必須少於 100 個字元" maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtTelephone@(itemName)">電話</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtTelephone@(itemName)" name="txtTelephone@(itemName)" placeholder="請輸入電話"
                                       data-msg-maxlength="必須少於 30 個字元" maxlength="30" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtFax@(itemName)">傳真</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtFax@(itemName)" name="txtFax@(itemName)" placeholder="請輸入傳真"
                                       data-msg-maxlength="必須少於 30 個字元" maxlength="30" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtAddress@(itemName)">中文地址</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <textarea class="form-control" id="txtAddress@(itemName)" name="txtAddress@(itemName)" rows="2" placeholder="請輸入中文地址"
                                          data-msg-maxlength="必須少於 200 個字元" maxlength="200"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtAddressEn@(itemName)">英文地址</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <textarea class="form-control" id="txtAddressEn@(itemName)" name="txtAddressEn@(itemName)" rows="2" placeholder="請輸入英文地址"
                                          data-msg-maxlength="必須少於 200 個字元" maxlength="200"></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtLogoIcon@(itemName)">Logo Icon</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="file" id="fileLogoIcon@(itemName)" name="fileLogoIcon@(itemName)" multiple />
                                <input type="hidden" id="txtLogoIcon@(itemName)" name="txtLogoIcon@(itemName)" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        $(document).ready(function () {
            Query@(itemName)();
        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let statusList = [];
            $.each($("input[name='cbxStatusQ@(itemName)']:checked"), function () {
                statusList.push($(this).val());
            });

            let targetUrl = "@Url.Action("GetCompany", "BasicInformation")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "CompanyNo": $("#txtCompanyNoQ@(itemName)").val(),
                "CompanyName": $("#txtCompanyNameQ@(itemName)").val(),
                "Status": statusList.join(",")
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr>
                                        <td><span class="stack-title">#</span>${_row}</td>
                                        <td><span class="stack-title">公司編號</span>${item.CompanyNo}</td>
                                        <td><span class="stack-title">公司名稱</span>${(item.LogoIcon == -1 ? `` : `<img class="company-logo" src="/Web/GetFile?fileId=${item.LogoIcon}" />`)}${item.CompanyName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Telephone}" style="max-width: 175px;"><span class="stack-title">電話</span>${item.Telephone}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Fax}" style="max-width: 175px;"><span class="stack-title">傳真</span>${item.Fax}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Address}" style="max-width: 300px;"><span class="stack-title">中文地址</span><span class="stack-content">${item.Address}</span></td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.AddressEn}" style="max-width: 300px;"><span class="stack-title">英文地址</span><span class="stack-content">${item.AddressEn}</span></td>
                                        <td class="text-center auth-status-switch">
                                          <span class="stack-title">狀態</span>
                                          <input type="checkbox" name="chkStatus@(itemName)" data-company-id="${item.CompanyId}" ${(item.Status == `A` ? `checked` : ``)} />
                                        </td>
                                        <td class="text-center un-auth auth-status-switch"><span class="stack-title">狀態</span>${StatusName(`Status`, item.Status)}</td>
                                        <td class="text-center active-content">
                                          <span class="stack-title">操作</span>
                                          <a class="active-link auth-update" href="javascript:Edit@(itemName)(${item.CompanyId});"><i class="fas fa-edit"></i></a>
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="9" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

            $("input[name='chkStatus@(itemName)']").bootstrapToggle({
                on: "啟用",
                off: "停用",
                onstyle: "success",
                offstyle: "danger",
                size: "mini"
            });

            $("input[name='chkStatus@(itemName)'][data-company-id]").change(StatusSwitch@(itemName));
        }

        function Edit@(itemName)(CompanyId) {
            $("#CompanyId").val(CompanyId ? CompanyId : 0);
            $("#txtCompanyNo@(itemName)").attr("readonly", false);

            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");
            
            if (CompanyId > 0) {
                $("#txtCompanyNo@(itemName)").attr("readonly", true);

                let targetUrl = "@Url.Action("GetCompany", "BasicInformation")";
                let postData = {
                    "CompanyId": CompanyId
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        $("#txtCompanyNo@(itemName)").val(item.CompanyNo);
                        $("#txtCompanyName@(itemName)").val(item.CompanyName);
                        $("#txtTelephone@(itemName)").val(item.Telephone);
                        $("#txtFax@(itemName)").val(item.Fax);
                        $("#txtAddress@(itemName)").val(item.Address);
                        $("#txtAddressEn@(itemName)").val(item.AddressEn);
                        $("#txtLogoIcon@(itemName)").val(item.LogoIcon == -1 ? "" : item.LogoIcon);
                    });
                } else {
                    alert(data.msg, "alert", 0);
                }
            }

            let uploadConfig = {
                fileSelector: "#fileLogoIcon@(itemName)",
                targetSelector: "#txtLogoIcon@(itemName)",
                required: false,
                uploadPath: "/BasicInformation/CompanyManagement",
                maxFileCount: 1,
                defaultFile: $("#txtLogoIcon@(itemName)").val()
            };
            Suites.FileUpload(uploadConfig);
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let CompanyId = parseInt($("#CompanyId").val());

                if (CompanyId <= 0) {
                    let targetUrl = "@Url.Action("AddCompany", "BasicInformation")";
                    let postData = {
                        "CompanyNo": $("#txtCompanyNo@(itemName)").val(),
                        "CompanyName": $("#txtCompanyName@(itemName)").val(),
                        "Telephone": $("#txtTelephone@(itemName)").val(),
                        "Fax": $("#txtFax@(itemName)").val(),
                        "Address": $("#txtAddress@(itemName)").val(),
                        "AddressEn": $("#txtAddressEn@(itemName)").val(),
                        "LogoIcon": $("#txtLogoIcon@(itemName)").val()
                    };

                    let result = DataAccess.Add(targetUrl, postData, false, true);

                    if (result) {
                        Return@(itemName)();
                    }
                } else {
                    let targetUrl = "@Url.Action("UpdateCompany", "BasicInformation")";
                    let postData = {
                        "CompanyId": CompanyId,
                        "CompanyName": $("#txtCompanyName@(itemName)").val(),
                        "Telephone": $("#txtTelephone@(itemName)").val(),
                        "Fax": $("#txtFax@(itemName)").val(),
                        "Address": $("#txtAddress@(itemName)").val(),
                        "AddressEn": $("#txtAddressEn@(itemName)").val(),
                        "LogoIcon": $("#txtLogoIcon@(itemName)").val()
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Return@(itemName)();
                    }
                }
            }
        }

        function Return@(itemName)() {
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName)", "#editData@(itemName), .unit-block");
            Query@(itemName)();

            $("#txtLogoIcon@(itemName)").val("");
        }

        function StatusSwitch@(itemName)() {
            var companyId = $(this).data("company-id");

            let targetUrl = "@Url.Action("UpdateCompanyStatus", "BasicInformation")";
            let postData = {
                "CompanyId": companyId
            };

            let result = DataAccess.Update(targetUrl, postData, false, true);

            if (result) {
                Return@(itemName)();
            }
        }
    </script>
)