@using Business_Manager.Helpers
@{
    string itemName = "ToolManagment";
    string itemNameText = "工具明細資料管理";
    string authority = ViewBag.authority;
}

@Html.Resource("css",
    @<style>
    </style>
                                )

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboToolGroupQ@(itemName)">工具群組 <span class="text-danger">*</span></label>
                            <div class="col-12">
                                <select class="form-control" id="cboToolGroupQ@(itemName)" name="cboToolGroupQ@(itemName)">
                                    <option value="">-- 請選擇工具群組 --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboToolClassQ@(itemName)">工具類別 <span class="text-danger">*</span></label>
                            <div class="col-12">
                                <select class="form-control" id="cboToolClassQ@(itemName)" name="cboToolClassQ@(itemName)">
                                    <option value="">-- 請選擇工具類別 --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboToolCategoryQ@(itemName)">工具種類 <span class="text-danger">*</span></label>
                            <div class="col-12">
                                <select class="form-control" id="cboToolCategoryQ@(itemName)" name="cboToolCategoryQ@(itemName)">
                                    <option value="">-- 請選擇工具種類 --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboToolModelQ@(itemName)">工具型號 <span class="text-danger">*</span></label>
                            <div class="col-12">
                                <select class="form-control" id="cboToolModelQ@(itemName)" name="cboToolModelQ@(itemName)">
                                    <option value="">-- 請選擇工具型號 --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtToolNoQ@(itemName)">工具編號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtToolNoQ@(itemName)" name="txtToolNoQ@(itemName)" placeholder="請輸入工具編號" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboSupplierQ@(itemName)">供應商 <span class="text-danger">*</span></label>
                            <div class="col-12">
                                <select class="form-control" id="cboSupplierQ@(itemName)" name="cboSupplierQ@(itemName)">
                                    <option value="">-- 請選擇供應商 --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">狀態</label>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    啟用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)A" name="cbxStatusQ@(itemName)" value="A" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    停用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)S" name="cbxStatusQ@(itemName)" value="S" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>


<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);">
                            <i class="fal fa-search"></i>搜尋
                        </a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" href="javascript:void(0);" onclick="PopViewToolPrint()">
                            <i class="fal fa-print"></i>列印管理
                        </a>
                        <a class="btn btn-info auth-add" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th scope="col" style="min-width: 150px;">工具群組名稱</th>
                                        <th scope="col" style="min-width: 150px;">工具類別名稱</th>
                                        <th scope="col" style="min-width: 150px;">工具種類名稱</th>
                                        <th scope="col" style="min-width: 150px;">工具型號名稱</th>
                                        <th scope="col" style="min-width: 150px;">工具編號</th>
                                        <th scope="col" style="min-width: 150px;">使用次數</th>
                                        <th scope="col" style="min-width: 150px;">供應商</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">狀態</th>
                                        <th class="text-center" scope="col" style="min-width: 265px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="ToolId" name="ToolId" value="-1" />
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboToolGroup@(itemName)">工具群組</label>
                            <div class="col-12">
                                <select class="form-control" id="cboToolGroup@(itemName)" name="cboToolGroup@(itemName)">
                                    <option value="">-- 請選擇工具群組 --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboToolClass@(itemName)">工具類別</label>
                            <div class="col-12">
                                <select class="form-control" id="cboToolClass@(itemName)" name="cboToolClass@(itemName)">
                                    <option value="">-- 請選擇工具類別 --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboToolCategory@(itemName)">工具種類</label>
                            <div class="col-12">
                                <select class="form-control" id="cboToolCategory@(itemName)" name="cboToolCategory@(itemName)">
                                    <option value="">-- 請選擇工具種類 --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboToolModel@(itemName)">工具型號 <span class="text-danger">*</span></label>
                            <div class="col-12">
                                <select class="form-control" id="cboToolModel@(itemName)" name="cboToolModel@(itemName)" data-rule-required="true">
                                    <option value="">-- 請選擇工具型號 --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtToolNo@(itemName)">工具編號 <span class="text-danger">*</span></label>
                            <div class="col-12">
                                <input type="hidden" id="txtToolMaxNo@(itemName)" name="txtToolMaxNo@(itemName)" value="" />
                                <input type="text" class="form-control" id="txtToolNo@(itemName)" name="txtToolNo@(itemName)" placeholder="請輸入工具編號"
                                       data-msg-required="請輸入工具編號"
                                       data-msg-maxlength="必須少於 50 個字元" maxlength="50" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtUsageCount@(itemName)">使用次數</label>
                            <div class="col-12">
                                <input type="number" class="form-control" id="txtUsageCount@(itemName)" name="txtUsageCount@(itemName)" value="0" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

<div class="advanced-block">
    <div class="row">
        <div class="col-12">
            <ul class="nav flag-tabs nav-fill" role="tablist">
                <li class="flag-item">
                    <a class="flag-link active" data-toggle="tab" href="#tabToolSpecLog">
                        <i class="fas fa-garage-car"></i> 工具明細規格
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane active" id="tabToolSpecLog">
            @Html.Partial("ToolSpecLog")
        </div>
    </div>
</div>

@Html.Partial("ViewToolPrint")


@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        $(document).ready(function () {
            $("#txtUsageCount@(itemName)").attr("readonly", true);


            ComboBoxs.Default("#cboToolGroupQ@(itemName)", "@Url.Action("GetToolGroup", "Tool")", "", "", "NA", "", "ToolGroupName", "ToolGroupId");
            ComboBoxs.Default("#cboToolClassQ@(itemName)", "@Url.Action("GetToolClass", "Tool")", "", "", "NA", "", "ToolClassName", "ToolClassId");
            ComboBoxs.Default("#cboToolCategoryQ@(itemName)", "@Url.Action("GetToolCategory", "Tool")", "", "", "NA", "", "ToolCategoryName", "ToolCategoryId");
            ComboBoxs.Default("#cboToolModelQ@(itemName)", "@Url.Action("GetToolModel", "Tool")", "", "", "NA", "", "ToolModelName", "ToolModelId");
            ComboBoxs.Default("#cboSupplierQ@(itemName)", "@Url.Action("GetSupplier", "ScmBasicInformation")", "", "", "NA", "", "SupplierName", "SupplierId");

            $("#cboToolGroupQ@(itemName)").change(function () {
                ComboBoxs.Default("#cboToolClassQ@(itemName)", "@Url.Action("GetToolClass", "Tool")", { "ToolGroupId": $("#cboToolGroupQ@(itemName)").val(), "Status": "A"}, "", "NA", "", "ToolClassName", "ToolClassId");
            });

            $("#cboToolClassQ@(itemName)").change(function () {
                ComboBoxs.Default("#cboToolCategoryQ@(itemName)", "@Url.Action("GetToolCategory", "Tool")", { "ToolClassId": $("#cboToolClassQ@(itemName)").val(), "Status": "A" }, "", "NA", "", "ToolCategoryName", "ToolCategoryId");
            });

            $("#cboToolCategoryQ@(itemName)").change(function () {
                ComboBoxs.Default("#cboToolModelQ@(itemName)", "@Url.Action("GetToolModel", "Tool")", { "ToolCategoryId": $("#cboToolCategoryQ@(itemName)").val(), "Status": "A" }, "", "NA", "", "ToolModelName", "ToolModelId");
            });

            $("#cboToolGroup@(itemName)").change(function () {
                ComboBoxs.Default("#cboToolCategory@(itemName)", "@Url.Action("GetToolCategory", "Tool")", "", "", "NA", "", "ToolCategoryName", "ToolCategoryId");
                ComboBoxs.Default("#cboToolModel@(itemName)", "@Url.Action("GetToolModel", "Tool")", "", "", "NA", "", "ToolModelName", "ToolModelId");

                ComboBoxs.Default("#cboToolClass@(itemName)", "@Url.Action("GetToolClass", "Tool")", { "ToolGroupId": $("#cboToolGroup@(itemName)").val(), "Status": "A"}, "", "NA", "", "ToolClassName", "ToolClassId");
            });

            $("#cboToolClass@(itemName)").change(function () {
                ComboBoxs.Default("#cboToolCategory@(itemName)", "@Url.Action("GetToolCategory", "Tool")", { "ToolClassId": $("#cboToolClass@(itemName)").val(), "Status": "A" }, "", "NA", "", "ToolCategoryName", "ToolCategoryId");
            });

            $("#cboToolCategory@(itemName)").change(function () {
                if ($("#ToolId").val() <= 0) {
                    ComboBoxs.Default("#cboToolModel@(itemName)", "@Url.Action("GetToolModel", "Tool")", { "ToolCategoryId": $("#cboToolCategory@(itemName)").val(), "Status": "A" }, "", "NA", "", "ToolModelName", "ToolModelId");
                }
            });

            

            $("#cboToolModel@(itemName)").change(function () {
                GetToolMap()
            });

            //下拉選單樣式
            if (!isMobile) {
                $(`#cboToolGroupQ@(itemName), #cboToolClassQ@(itemName), #cboToolCategoryQ@(itemName), #cboToolModelQ@(itemName), #cboSupplierQ@(itemName)`).select2
                ({
                    dropdownAutoWidth: true,
                    width: "100%"
                });
            }


            Query@(itemName)();
        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;


            let statusList = [];
            $.each($("input[name='cbxStatusQ@(itemName)']:checked"), function () {
                statusList.push($(this).val());
            });

            let targetUrl = "@Url.Action("GetTool", "Tool")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "ToolNo": $("#txtToolNoQ@(itemName)").val().trim(),
                "ToolGroupId": $("#cboToolGroupQ@(itemName)").val(),
                "ToolClassId": $("#cboToolClassQ@(itemName)").val(),
                "ToolCategoryId": $("#cboToolCategoryQ@(itemName)").val(),
                "ToolModelId": $("#cboToolModelQ@(itemName)").val(),
                "SupplierId": $("#cboSupplierQ@(itemName)").val(),
                "Status": statusList.join(",")
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr>
                                        <td>${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ToolGroupName}" style="max-width: 150px;">${item.ToolGroupName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ToolClassName}" style="max-width: 150px;">${item.ToolClassName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.RevToolCategoryId != null ? item.RevToolCategoryName : item.ToolCategoryName}" style="max-width: 150px;">${item.RevToolCategoryId != null ? item.RevToolCategoryName : item.ToolCategoryName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ToolModelName}" style="max-width: 150px;">${item.ToolModelName}</td>
                                         <td class="text-primary">
                                            <a href="@Url.Action("ToolTransactions", "MesReport")?ToolNo=${item.ToolNo}" target="_blank">
                                            ${item.ToolNo}
                                            </a>
                                        </td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.UsageCount}" style="max-width: 150px;">${item.UsageCount}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.SupplierName}" style="max-width: 150px;">${item.SupplierName != null ? item.SupplierName : `未設定`}</td>
                                        <td class="text-center auth-status-switch">
                                          <input type="checkbox" name="chkStatus@(itemName)" data-tool-id="${item.ToolId}" ${item.Status == `A` ? `checked` : ``} />
                                        </td>
                                        <td class="text-center un-auth auth-status-switch">${StatusName(`Status`, item.Status)}</td>
                                        <td class="text-center active-content">
                                          <a class="active-link auth-update" href="javascript:Edit@(itemName)(${item.ToolId});"><i class="fas fa-edit"></i></a>
                                          <a class="active-link auth-delete" href="javascript:Delete@(itemName)(${item.ToolId});"><i class="fas fa-trash-alt"></i></a>
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="10" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

            $("input[name='chkStatus@(itemName)']").bootstrapToggle({
                on: "啟用",
                off: "停用",
                onstyle: "success",
                offstyle: "danger",
                size: "mini"
            });

            $("input[name='chkStatus@(itemName)'][data-tool-id]").change(StatusSwitch@(itemName));
        }

        function Edit@(itemName)(ToolId) {
            $("#ToolId").val(ToolId ? ToolId : 0);
            $("#txtToolNo@(itemName)").attr("readonly", true);
            $("#cboToolGroup@(itemName)").attr("disabled", false);
            $("#cboToolClass@(itemName)").attr("disabled", false);
            //$("#cboToolCategory@(itemName)").attr("disabled", false);
            $("#cboToolModel@(itemName)").attr("disabled", false);


            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");

            ComboBoxs.Default("#cboToolGroup@(itemName)", "@Url.Action("GetToolGroup", "Tool")", "", "", "NA", "", "ToolGroupName", "ToolGroupId");
            ComboBoxs.Default("#cboToolClass@(itemName)", "@Url.Action("GetToolClass", "Tool")", "", "", "NA", "", "ToolClassName", "ToolClassId");
            ComboBoxs.Default("#cboToolCategory@(itemName)", "@Url.Action("GetToolCategory", "Tool")", "", "", "NA", "", "ToolCategoryName", "ToolCategoryId");
            ComboBoxs.Default("#cboToolModel@(itemName)", "@Url.Action("GetToolModel", "Tool")", "", "", "NA", "", "ToolModelName", "ToolModelId");
            ComboBoxs.Default("#cboSupplier@(itemName)", "@Url.Action("GetSupplier", "ScmBasicInformation")", "", "", "NA", "", "SupplierName", "SupplierId");

            

            if (ToolId > 0) {

                let targetUrl = "@Url.Action("GetTool", "Tool")";
                let postData = {
                    "ToolId": ToolId
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {

                        if (item.Status == "A") {
                            $("#cboToolGroup@(itemName)").attr("disabled", true);
                            $("#cboToolClass@(itemName)").attr("disabled", true);
                            //$("#cboToolCategory@(itemName)").attr("disabled", true);
                            $("#cboToolModel@(itemName)").attr("disabled", true);
                            $("#txtToolNo@(itemName)").attr("readonly", true);
                        }

                        ComboBoxs.Default("#cboToolClass@(itemName)", "@Url.Action("GetToolClass", "Tool")", { "ToolGroupId": item.ToolGroupId, "Status": "A" }, "", "NA", "", "ToolClassName", "ToolClassId");
                        ComboBoxs.Default("#cboToolCategory@(itemName)", "@Url.Action("GetToolCategory", "Tool")", { "ToolClassId": item.ToolClassId, "Status": "A" }, "", "NA", "", "ToolCategoryName", "ToolCategoryId");
                        ComboBoxs.Default("#cboToolModel@(itemName)", "@Url.Action("GetToolModel", "Tool")", { "ToolCategoryId": item.ToolCategoryId, "Status": "A" }, "", "NA", "", "ToolModelName", "ToolModelId");

                        $("#cboToolGroup@(itemName)").val(item.ToolGroupId);
                        $("#cboToolClass@(itemName)").val(item.ToolClassId);
                        if (item.RevToolCategoryId != null) {
                            $("#cboToolCategory@(itemName)").val(item.RevToolCategoryId);
                        }
                        else {
                            $("#cboToolCategory@(itemName)").val(item.ToolCategoryId);
                        }
                        $("#cboToolModel@(itemName)").val(item.ToolModelId);
                        $("#txtToolNo@(itemName)").val(item.ToolNo);
                    });
                    ExpandToolSpecLog();

                } else {
                    alert(data.msg, "alert", 0);
                }
            }
            else {
                let targetUrl = "@Url.Action("GetToolNoMaxsor", "Tool")";
                let postData = {
                    "ToolId": -1
                };
                let data1 = DataAccess.Get(targetUrl, postData, false);
                if (data1.status == "success") {
                    if (data1.result.length <= 0) {
                        $("#txtToolNo@(itemName)").val("T00001"); //顯示框 目前最大編號+1 = 要新增的編號
                        $("#txtToolMaxNo@(itemName)").val("T00001"); //隱藏框 目前最大編號 (儲存時 是使用目前最大編號去判斷)
                    }
                    else {
                        $.each(data1.result, function (i, item) {
                        if (i == 0) {
                                $("#txtToolNo@(itemName)").val(item.MaxToolNo); //顯示框 目前最大編號+1 = 要新增的編號
                                $("#txtToolMaxNo@(itemName)").val(item.ToolNo); //隱藏框 目前最大編號 (儲存時 是使用目前最大編號去判斷)
                                return false;
                            }
                        });
                    }
                    
                } else {
                    alert(data.msg, "alert", 0);
                }
            }

            //下拉選單樣式
            if (!isMobile) {
                $(`#cboToolGroup@(itemName), #cboToolClass@(itemName), #cboToolCategory@(itemName), #cboToolModel@(itemName), #cboSupplier@(itemName)`).select2
                ({
                    dropdownAutoWidth: true,
                    width: "100%"
                });
            }
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let ToolId = parseInt($("#ToolId").val());

                if (ToolId <= 0) {
                    let targetUrl = "@Url.Action("AddTool", "Tool")";
                    let postData = {
                        "ToolModelId": $("#cboToolModel@(itemName)").val(),
                        "ToolNo": $("#txtToolMaxNo@(itemName)").val(),
                    };

                    let data = DataAccess.EditContinued(targetUrl, postData, false);

                    if (data) {
                        $.each(data.result, function (i, item) {
                            $("#ToolId").val(item.ToolId)
                        });
                        ExpandToolSpecLog();

                        //Return@(itemName)();
                    }
                } else {
                    let targetUrl = "@Url.Action("UpdateTool", "Tool")";
                    let postData = {
                        "ToolId": ToolId,
                        "ToolModelId": $("#cboToolModel@(itemName)").val(),
                        "RevToolCategoryId": $("#cboToolCategory@(itemName)").val()

                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {

                        ExpandToolSpecLog();

                        //Return@(itemName)();
                    }
                }
            }
        }

        function Delete@(itemName)(ToolId) {
            swal.fire({
                title: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteTool", "Tool")";
                    let postData = {
                        "ToolId": ToolId
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function Print@(itemName)(ToolId) {
            if (ToolId > 0) {
                let targetUrl = "@Url.Action("CartonBarcodeprint", "PrintLabel")";
                let postData = {
                    "CartonBarcode": ToolId
                };

                let result = DataAccess.Get(targetUrl, postData, false);

                if (result) {
                    Query@(itemName)();
                }
            }
            else {
                alert("資料錯誤缺少工具ID,無法列印");
                return
            }
        }

        function Return@(itemName)() {
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName)", "#editData@(itemName), .unit-block , .advanced-block");
            Query@(itemName)();
        }

        function StatusSwitch@(itemName)() {
            var toolId = $(this).data("tool-id");

            let targetUrl = "@Url.Action("UpdateToolStatus", "Tool")";
            let postData = {
                "ToolId": toolId
            };

            let result = DataAccess.Update(targetUrl, postData, false, true);

            if (result) {
                Return@(itemName)();
            }
        }

        function GetToolMap() {
            let targetUrl = "@Url.Action("GetToolModel", "Tool")";
            let postData = {
                "ToolModelId": $("#cboToolModel@(itemName)").val(),
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                $.each(data.result, function (i, item) {
                        ComboBoxs.Default("#cboToolGroup@(itemName)", "@Url.Action("GetToolGroup", "Tool")", "", "", "NA", "", "ToolGroupName", "ToolGroupId");
                        ComboBoxs.Default("#cboToolClass@(itemName)", "@Url.Action("GetToolClass", "Tool")", { "ToolGroupId": item.ToolGroupId, "Status": "A" }, "", "NA", "", "ToolClassName", "ToolClassId");
                        ComboBoxs.Default("#cboToolCategory@(itemName)", "@Url.Action("GetToolCategory", "Tool")", { "ToolClassId": item.ToolClassId, "Status": "A" }, "", "NA", "", "ToolCategoryName", "ToolCategoryId");
                        ComboBoxs.Default("#cboToolModel@(itemName)", "@Url.Action("GetToolModel", "Tool")", { "ToolCategoryId": item.ToolCategoryId, "Status": "A" }, "", "NA", "", "ToolModelName", "ToolModelId");

                        $("#cboToolGroup@(itemName)").val(item.ToolGroupId);
                        $("#cboToolClass@(itemName)").val(item.ToolClassId);
                        $("#cboToolCategory@(itemName)").val(item.ToolCategoryId);
                        $("#cboToolModel@(itemName)").val(item.ToolModelId);
                });
            } else {
                alert(data.msg, "alert", 0);
            }
        }

       
    </script>
)