@using Business_Manager.Helpers
@{
    string itemName = "ToolModelSpec";
    string itemNameText = "工具型號規格";
}

@Html.Resource("css",
    @<style>
        .centerObject {
            vertical-align: middle !important;
            text-align: center;
        }
    </style>
                        )

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboToolSpecQ@(itemName)">工具規格</label>
                            <div class="col-12">
                                <select class="form-control" id="cboToolSpecQ@(itemName)" name="cboToolSpecQ@(itemName)">
                                    <option value="">-- 請選擇工具規格 --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">狀態</label>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    啟用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)A" name="cbxStatusQ@(itemName)" value="A" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    停用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)S" name="cbxStatusQ@(itemName)" value="S" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);">
                            <i class="fal fa-search"></i>搜尋
                        </a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn btn-info auth-detail" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th scope="col" style="min-width: 125px;">工具規格編號</th>
                                        <th scope="col" style="min-width: 150px;">工具規格名稱</th>
                                        <th scope="col" style="min-width: 150px;">規格數值</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">狀態</th>
                                        <th class="text-center" scope="col" style="min-width: 265px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="ToolModelSpecId" name="ToolModelSpecId" value="-1" />
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboToolSpec@(itemName)">工具規格 <span class="text-danger">*</span></label>
                            <div class="col-12">
                                <select class="form-control" id="cboToolSpec@(itemName)" name="cboToolSpec@(itemName)" data-rule-required="true">
                                    <option value="">-- 請選擇工具規格 --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtToolSpecValue@(itemName)">規格數值 <span class="text-danger">*</span></label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtToolSpecValue@(itemName)" name="txtToolSpecValue@(itemName)" placeholder="請輸入規格數值"
                                       data-msg-required="請輸入規格數值" data-rule-required="true" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>



@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        $(document).ready(function () {
            ComboBoxs.Default("#cboToolSpecQ@(itemName)", "@Url.Action("GetToolSpec", "Tool")", "", "", "NA", "", "ToolSpecName", "ToolSpecId");
            if (!isMobile) {
                $("#cboToolSpecQ@(itemName)").select2({
                    width: "100%"
                });
            }
        });

        function Expand@(itemName)() {
            if (parseInt($("#ToolModelId").val()) > 0) {
                $(".advanced-block").slideDown("slow");
                Return@(itemName)();
            } else {
                alert("刀具規格建立錯誤", "alert");
            }
        }

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let statusList = [];
            $.each($("input[name='cbxStatusQ@(itemName)']:checked"), function () {
                statusList.push($(this).val());
            });

            let targetUrl = "@Url.Action("GetToolModelSpec", "Tool")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "ToolModelId": $("#ToolModelId").val(),
                "ToolSpecId": $("#cboToolSpecQ@(itemName)").val(),
                "Status": statusList.join(",")
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr>
                                        <td>${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ToolSpecNo}" style="max-width: 200px;">${item.ToolSpecNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ToolSpecName}" style="max-width: 200px;">${item.ToolSpecName}</td>
                                        <td id ="${item.ToolModelSpecId}Cell" class="ellipsis" data-toggle="tooltip" title="${item.ToolSpecValue}" style="max-width: 200px;">${item.ToolSpecValue}</td>
                                        <td class="text-center auth-detail">
                                          <input type="checkbox" name="chkStatus@(itemName)" data-toolmodespec-id="${item.ToolModelSpecId}" ${item.Status == `A` ? `checked` : ``} />
                                        </td>
                                        <td class="text-center un-auth auth-detail">${StatusName(`Status`, item.Status)}</td>
                                        <td class="text-center active-content">
                                          <a class="active-link auth-detail" href="javascript:Edit@(itemName)(${item.ToolModelSpecId});"><i class="fas fa-edit"></i></a>
                                          <a class="active-link auth-detail" href="javascript:Delete@(itemName)(${item.ToolModelSpecId});"><i class="fas fa-trash-alt"></i></a>
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="7" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

            $("input[name='chkStatus@(itemName)']").bootstrapToggle({
                on: "啟用",
                off: "停用",
                onstyle: "success",
                offstyle: "danger",
                size: "mini"
            });

            $("input[name='chkStatus@(itemName)'][data-toolmodespec-id]").change(StatusSwitch@(itemName));
        }

        function Edit@(itemName)(ToolModelSpecId) {          


            $("#ToolModelSpecId").val(ToolModelSpecId ? ToolModelSpecId : 0);

            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");

            ComboBoxs.Default("#cboToolSpec@(itemName)", "@Url.Action("GetToolSpec", "Tool")", "", "", "NA", "", "ToolSpecName", "ToolSpecId");

            if (ToolModelSpecId > 0) {

                let targetUrl = "@Url.Action("GetToolModelSpec", "Tool")";
                let postData = {
                    "ToolModelSpecId": ToolModelSpecId
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        $("#cboToolSpec@(itemName)").val(item.ToolSpecId);
                        $("#txtToolSpecValue@(itemName)").val(item.ToolSpecValue);
                    });
                } else {
                    alert(data.msg, "alert", 0);
                }
            }

            if (!isMobile) {
                $("#cboToolSpec@(itemName)").select2({
                    width: "100%"
                });
            }
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let ToolModelSpecId = parseInt($("#ToolModelSpecId").val());

                if (ToolModelSpecId <= 0) {
                    let targetUrl = "@Url.Action("AddToolModelSpec", "Tool")";
                    let postData = {
                        "ToolModelId": $("#ToolModelId").val(),
                        "ToolSpecId": $("#cboToolSpec@(itemName)").val(),
                        "ToolSpecValue": $("#txtToolSpecValue@(itemName)").val(),
                    };

                    let result = DataAccess.Add(targetUrl, postData, false, true);

                    if (result) {
                        Return@(itemName)();
                    }
                } else {
                    let targetUrl = "@Url.Action("UpdateToolModelSpec", "Tool")";
                    let postData = {
                        "ToolModelSpecId": ToolModelSpecId,
                        "ToolSpecId": $("#cboToolSpec@(itemName)").val(),
                        "ToolSpecValue": $("#txtToolSpecValue@(itemName)").val(),
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Return@(itemName)();
                    }
                }
            }
        }

        function Delete@(itemName)(ToolModelSpecId) {
            swal.fire({
                title: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteToolModelSpec", "Tool")";
                    let postData = {
                        "ToolModelSpecId": ToolModelSpecId
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function Return@(itemName)() {
            ResetForm(objForm@(itemName));
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName)", "#editData@(itemName)");
            Query@(itemName)();
        }

        function StatusSwitch@(itemName)() {
            var toolModelSpecId = $(this).data("toolmodespec-id");

            let targetUrl = "@Url.Action("UpdateToolModelSpecStatus", "Tool")";
            let postData = {
                "ToolModelSpecId": toolModelSpecId
            };

            let result = DataAccess.Update(targetUrl, postData, false, true);

            if (result) {
                Return@(itemName)();
            }
        }
    </script>
                )