@using Business_Manager.Helpers
@{
    string itemName = "TaskGantt";
}

@Html.Resource("css",
    @<style>
    </style>
)

<div class="gantt-body" id="gantt@(itemName)" style="height: 500px; opacity: 0; position: absolute; z-index: -1;"></div>

@Html.Resource("js",
    @<script>
        let gantt@(itemName);
        let config@(itemName);

        function Expand@(itemName)(config) {
            InitParameter@(itemName)(config);
            InitData@(itemName)(config.taskId);
        }

        function InitParameter@(itemName)(config) {
            config@(itemName) = config;
        }

        function InitData@(itemName)() {
            //#region 專案資料
            let projectData = {};

            let data = DataAccess.Get("@Url.Action("GetProject", "Task")", { ProjectTaskId: config@(itemName).projectTaskId }, false);

            if (data.status == "success") {
                $.each(data.result, function (i, item) {
                    projectData.ProjectId = item.ProjectId;
                    projectData.WorkTimeStatus = item.WorkTimeStatus;
                    projectData.WorkTimeInterval = item.WorkTimeInterval;
                });
            } else {
                alert(data.msg, "alert", 0);
            }
            //#endregion

            //#region example
            //taskData = { 
            //    data: data2.result.data.map(m => { return { 
            //        allDay: m.allDay,
            //        deferred_status: m.deferred_status,
            //        details: m.details,
            //        open: m.open,
            //        order: m.order,
            //        parent: m.parent,
            //        id: m.id, 
            //        start_date: m.start_date, 
            //        end_date: m.task_status == "I" ? "" : m.end_date,
            //        duration: m.task_status == "C" ? "" : m.duration,
            //        task_status: m.task_status,
            //        text: m.text,
            //        type: m.type }
            //    }),
            //    collections: data2.result.collections 
            //}
            //#endregion
            //#region 任務資料
            let taskData;
            let data2 = DataAccess.Get("@Url.Action("GetTaskGantt", "Task")", { TaskId: config@(itemName).projectTaskId }, false);
            if (data2.status == "success") {
                taskData = data2.result;
            } else {
                alert(data2.msg, "alert", 0);
            }
            //#endregion

            if (gantt@(itemName)) gantt@(itemName).destructor();
            gantt@(itemName) = Gantt.getGanttInstance();

            //#region 時間格式組態檔
            let dateToStr = gantt@(itemName).date.date_to_str("%Y-%m-%d"); //日期格式
            let dateOfWeekToStr = gantt@(itemName).date.date_to_str("%Y-%m-%d (%D)"); //日期格式(含星期)
            let datetimeToStr = gantt@(itemName).date.date_to_str("%Y-%m-%d %H:%i"); //日期時間格式
            let timeToStr = gantt@(itemName).date.date_to_str("%H:%i"); //時間格式
            //#endregion

            gantt@(itemName).message.position = "bottom"; //提示訊息位置
            gantt@(itemName).i18n.setLocale(ganttLocales); //設定語系
            gantt@(itemName).plugins({
                auto_scheduling: true //自動排程
            });
            gantt@(itemName).config.date_format = "%Y-%m-%d %H:%i:%s"; //日期格式
            gantt@(itemName).config.work_time = (projectData.WorkTimeStatus == "Y") // 工作天模式
            gantt@(itemName).config.duration_unit = "minute"; //持續時間單位
            gantt@(itemName).config.skip_off_time = false; // 隱藏休息日
            gantt@(itemName).config.start_on_monday = false; //一周起始
            gantt@(itemName).config.round_dnd_dates = false; //允許將任務的開始和結束日期四捨五入到最接近的刻度標記
            gantt@(itemName).config.fit_tasks = true; //甘特圖自動延長時間範圍以適應所有顯示的任務
            gantt@(itemName).config.scroll_size = 10;  //滾動條
            gantt@(itemName).config.time_step = 30;

            gantt@(itemName).config.drag_project = true; //專案類型任務允許拖曳
            gantt@(itemName).config.drag_progress = false; //任務進度禁止調整

            //#region 自動排程
            gantt@(itemName).config.auto_scheduling = true; //自動排程
            gantt@(itemName).config.auto_scheduling_strict = true; //連結任務需接續進行
            gantt@(itemName).config.auto_scheduling_compatibility = false; //自動調度相容性(開啟後自動可能導致往後位移)
            //#endregion

            //#region 設定工作時段
            if (projectData.WorkTimeStatus == "Y" && projectData.WorkTimeInterval) {
                let hourDatas = ToHalfChar(projectData.WorkTimeInterval);
                let hourRanges = hourDatas.split(',');
                let ranges = [];

                $.each(hourRanges, function (i, d) {
                    let t = d.split('-');
                    if (t.length == 2) {
                        if (t[0] > t[1]) {
                            ranges.push(t[0] + '-24:00');
                            ranges.push('00:00-' + t[1]);
                        } else {
                            ranges.push(d);
                        }
                    }
                });
                gantt@(itemName).setWorkTime({ hours: ranges.sort() });
            }
            //#endregion

            gantt@(itemName).attachEvent("onAfterAutoSchedule", DelayTrigger(function (taskId, updatedTasks) {
                let taskJson = JSON.parse('{ "data" : [] }');

                gantt@(itemName).eachTask(function (task) {
                    let json = {
                        ProjectTaskId: task.id,
                        EstimateStart: datetimeToStr(task.start_date),
                        EstimateEnd: datetimeToStr(task.end_date),
                        EstimateDuration: task.duration,
                        TaskName: task.text,
                        TaskStatus: task.task_status,
                        Index: task.$index,
                        Level: task.$level,
                        Local_index: task.$local_index
                    };
                    taskJson.data.push(json);
                });

                let targetUrl = "@Url.Action("UpdateProjectAllTaskEstimate", "Task")";
                let postData = {
                    ProjectId: projectData.ProjectId,
                    ProjectTaskId: config@(itemName).projectTaskId,
                    TaskData: JSON.stringify(taskJson)
                };

                console.log(`回報任務觸發自動排程`);
                let result = DataAccess.Update(targetUrl, postData, false, false);
                if (result) {
                    CallBack@(itemName)();
                }
            }, 250));

            gantt@(itemName).init("gantt@(itemName)");
            gantt@(itemName).parse(taskData);
        }

        function CallBack@(itemName)() {
            if (!!config@(itemName).reLoadFnString) {
                let initFn = window[config@(itemName).reLoadFnString];
                if (initFn && typeof (initFn) == "function") {
                    initFn();
                }
            }
        }
    </script>
)