@using Business_Manager.Helpers
@{
    String parentName = "TaskManagement";
    String itemName = "ViewTask";
    String itemNameText = "專案任務回報";
}

@Html.Resource("css", @<style></style>)

<div class="task-nav" id="nav@(itemName)">
    <div class="container">
        <div class="task-header">
            <a class="set nav-close" href="javascript:void(0);">
                <i class="fas fa-arrow-to-right"></i>
            </a>
            <div class="set-area"></div>
            <input type="hidden" id="ProjectTaskId" name="ProjectTaskId" value="-1" />
            <input type="hidden" id="ParentTaskId" name="ParentTaskId" value="-1" />
        </div>

        <h1 class="task-title">
            <span class="title" id="desTaskName@(itemName)"></span>
        </h1>
        <div class="task-box">
            <ul class="task-list-area">
                <li class="task-list">
                    <span class="title">
                        專案名稱
                    </span>
                    <span class="detail" id="desProjectName@(itemName)"></span>
                </li>
                <li class="task-list">
                    <span class="title">
                        任務途徑
                    </span>
                    <span class="detail" id="desParentTaskName@(itemName)"></span>
                </li>
                <li class="task-list">
                    <span class="title">
                        參與人員
                    </span>
                    <span class="detail" id="desTaskUser@(itemName)"></span>
                </li>
                <li class="task-list">
                    <span class="title">
                        任務描述
                    </span>
                    <span class="detail" id="desTaskDesc@(itemName)"></span>
                </li>
                <li class="task-list">
                    <span class="title">
                        預計時間
                    </span>
                    <span class="detail" id="desPlanned@(itemName)">
                        2022-11-05 08:00&nbsp;<i class="fas fa-arrow-alt-right"></i>&nbsp;2022-11-10 08:00
                    </span>
                </li>
                <li class="task-list">
                    <span class="title">
                        預估時間
                    </span>
                    <span class="detail" id="desEstimate@(itemName)">
                        2022-11-05 08:00&nbsp;<i class="fas fa-arrow-alt-right"></i>&nbsp;2022-11-10 08:00
                    </span>
                </li>
                <li class="task-list">
                    <span class="title">
                        實際時間
                    </span>
                    <span class="detail" id="desActual@(itemName)">
                        2022-11-05 08:00&nbsp;<i class="fas fa-arrow-alt-right"></i>&nbsp;2022-11-10 08:00
                    </span>
                </li>
                <li class="task-list countdown-area">
                    <span class="title">
                        回報倒數
                    </span>
                    <div class="countdown-content" style="">
                        <span class="detail countdown time-normal" id="desReplyCountdown@(itemName)" style=""></span>
                        <span class="detail countdown " id="desReplyMsg@(itemName)"></span>
                        <span class="detail countdown " id="desReplyFrequency@(itemName)"></span>
                    </div>

                    <div class="reply-now"><a class="link reply-task proj-auth-reply" href="javascript:void(0)" style="margin-left:20px;">現在回報</a></div>
                    <div class="return-area">
                        <div class="return-block hide">
                            <form autocomplete="off" id="replyForm@(itemName)">
                                <label class="control control--radio task-start">
                                    開始
                                    <input type="radio" name="rdoReplyStatus@(itemName)" value="S" />
                                    <span class="control__indicator"></span>
                                </label>
                                <label class="control control--radio task-on-schedule">
                                    按計劃進行
                                    <input type="radio" name="rdoReplyStatus@(itemName)" value="O" />
                                    <span class="control__indicator"></span>
                                </label>
                                <label class="control control--radio task-not-started-yet">
                                    尚未開始
                                    <input type="radio" name="rdoReplyStatus@(itemName)" value="N" />
                                    <span class="control__indicator"></span>
                                </label>
                                <label class="control control--radio control-delay-link task-delay">
                                    延宕
                                    <input type="radio" name="rdoReplyStatus@(itemName)" value="D" />
                                    <span class="control__indicator"></span>
                                </label>
                                <label class="control control--radio task-complete">
                                    完成
                                    <input type="radio" name="rdoReplyStatus@(itemName)" value="C" />
                                    <span class="control__indicator"></span>
                                </label>
                                <div class="control-start-area">
                                    <div style="margin-bottom: 5px;">
                                        <label>開始時間</label>
                                        <input type="text" class="progress-input" id="txtActualStart@(itemName)" name="txtActualStart@(itemName)" style="width:125px;">
                                    </div>
                                </div>
                                <div class="control-end-area">
                                    <div style="margin-bottom: 5px;">
                                        <label>完成時間</label>
                                        <input type="text" class="progress-input" id="txtActualEnd@(itemName)" name="txtActualEnd@(itemName)" style="width:125px;">
                                    </div>
                                </div>
                                <div class="control-delay-area">
                                    <div style="margin-bottom: 5px;">
                                        <label>延後時間</label>
                                        <input type="number" class="progress-input" id="txtDeferredDuration@(itemName)" name="txtDeferredDuration@(itemName)" style="width: 90px;" oninput="if(value<0)value=0" />
                                        <select class="progress-select" id="cboDurationUnit@(itemName)" name="cboDurationUnit@(itemName)">
                                            <option value="minute">分</option>
                                            <option value="hour">時</option>
                                            <option value="day">天</option>
                                            <option value="week">週</option>
                                            <option value="month">月</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="control-content-area" style="margin-bottom: 5px;">
                                    <label id="txtReplyContentName@(itemName)" for="txtReplyContent@(itemName)">回報內容</label>
                                    <textarea class="reply-content" id="txtReplyContent@(itemName)" name="txtReplyContent@(itemName)" placeholder=""></textarea>
                                    <input type="file" id="fileReply@(itemName)" name="fileReply@(itemName)" />
                                    <input type="hidden" id="txtReplyFile@(itemName)" name="txtReplyFile@(itemName)" />
                                </div>
                            </form>
                            <div class="form-inline">
                                <a class="btn progress-cancel" href="javascript:void(0);">取消</a>
                                <a class="btn progress-send" href="javascript:void(0);" onclick="Datas@(itemName).AddTaskReply@(itemName)()">送出</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

        <div class="task-box">
            <div class="task-box-title">
                <h2>回報列表</h2>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="table-custom table-custom-sm">
                        <table class="table table-bordered table-striped table-sticky table-stack" id="tblReplyData@(itemName)" style="margin-top: 5px;">
                            <thead>
                                <tr>
                                    <th scope="col" style="min-width: 50px;">#</th>
                                    <th scope="col" style="min-width: 105px;">回報人員</th>
                                    <th scope="col" style="min-width: 145px;">回報時間</th>
                                    <th scope="col" style="min-width: 125px;">回報狀態</th>
                                    <th scope="col" style="min-width: 150px;">回報附件</th>
                                    <th scope="col" style="min-width: 150px;">延後時間</th>
                                    <th scope="col" style="min-width: 200px;">回報內容</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="pagination" id="pageReply@(itemName)"></div>
                </div>
            </div>
        </div>

        <div class="task-box">
            <div class="task-box-title">
                <h2>任務檔案(共用)</h2>
                <a class="link proj-auth-task-file-download" href="javascript:void(0);" onclick="Forbidden@(itemName)()">
                    <i class="far fa-arrow-alt-circle-down"></i>
                    全部下載
                </a>
            </div>
            <div class="row mb-2 proj-auth-task-file-upload">
                <div class="col-12">
                    <input type="file" id="fileTask@(itemName)" name="fileTask@(itemName)" multiple />
                    <input type="hidden" id="txtFileId@(itemName)" name="txtFileId@(itemName)" />
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="table-custom table-custom-sm">
                        <table class="table table-bordered table-striped table-sticky table-stack" id="tblFileData@(itemName)">
                            <thead>
                                <tr>
                                    <th scope="col" style="min-width: 50px;">#</th>
                                    <th scope="col" style="min-width: 250px;">檔案名稱</th>
                                    <th scope="col" style="min-width: 120px;">閱覽檔案等級</th>
                                    <th scope="col" style="min-width: 110px;">檔案類型</th>
                                    <th scope="col" style="min-width: 145px;">上傳時間</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
@<script>
        let objForm@(itemName) = `#nav@(itemName)`;
        let objTaskId@(itemName) = `${objForm@(itemName)} #ProjectTaskId`;
        let taskType@(itemName) = `Project`;

        let Tasks@(itemName) = new TaskControl@(itemName)();
        let Datas@(itemName) = new DataControl@(itemName)();

        let calendarAS@(itemName) = new dhx.Calendar(null, calendarSetting);
        let calendarAE@(itemName) = new dhx.Calendar(null, calendarSetting);
        let popupAS@(itemName) = new dhx.Popup();
        let popupAE@(itemName) = new dhx.Popup();
        let dateInputAS@(itemName) = document.getElementById(`txtActualStart@(itemName)`);
        let dateInputAE@(itemName) = document.getElementById(`txtActualEnd@(itemName)`);

        let defaultReplyDate@(itemName);

        let objReplyPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objFilePage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };

        let replyConfig@(itemName) = [
            {
                Status: "C",
                StatusName: "完成",
                Placeholder: "選填"
            },
            {
                Status: "D",
                StatusName: "延宕",
                Placeholder: "必填"
            },
            {
                Status: "N",
                StatusName: "尚未開始",
                Placeholder: "必填"
            },
            {
                Status: "O",
                StatusName: "案計畫進行",
                Placeholder: "選填"
            },
            {
                Status: "S",
                StatusName: "開始",
                Placeholder: "選填"
            }
        ];

        function InitData@(itemName)(taskId) {
            $(objTaskId@(itemName)).val(taskId);

            Tasks@(itemName).Initialize@(itemName)(`#nav@(itemName)`);
            Tasks@(itemName).LoadData@(itemName)();

            SetProjectTaskAuthority@(itemName)(taskId);
        }

        function TaskControl@(itemName)() {
            addMethod(this, "Initialize@(itemName)", function (targetSelector) {
                $(targetSelector).addClass("active");

                //#region 預計時間套件
                dhx.i18n.setLocale("calendar", calendarLocales);
                dhx.i18n.setLocale("timepicker", timepickerLocales);

                //#region 開始時間
                calendarAS@(itemName).destructor();
                calendarAS@(itemName) = new dhx.Calendar(null, calendarSetting);

                popupAS@(itemName).destructor();
                popupAS@(itemName) = new dhx.Popup();
                popupAS@(itemName).attach(calendarAS@(itemName));

                calendarAS@(itemName).setValue([new Date()]);

                calendarAS@(itemName).events.on("change", function () {
                    dateInputAS@(itemName).value = calendarAS@(itemName).getValue();
                    dateInputAS@(itemName).dispatchEvent(eventChange);
                    popupAS@(itemName).hide();
                });

                let functionAS = function () {
                    popupAS@(itemName).show(dateInputAS@(itemName));
                };

                dateInputAS@(itemName).removeEventListener("click", functionAS, false);
                dateInputAS@(itemName).addEventListener("click", functionAS, false);
                //#endregion

                //#region 完成時間
                calendarAE@(itemName).destructor();
                calendarAE@(itemName) = new dhx.Calendar(null, calendarSetting);

                popupAE@(itemName).destructor();
                popupAE@(itemName) = new dhx.Popup();
                popupAE@(itemName).attach(calendarAE@(itemName));

                calendarAE@(itemName).setValue([new Date()]);

                calendarAE@(itemName).events.on("change", function () {
                    dateInputAE@(itemName).value = calendarAE@(itemName).getValue();
                    dateInputAE@(itemName).dispatchEvent(eventChange);
                    popupAE@(itemName).hide();
                });

                let functionAE = function () {
                    popupAE@(itemName).show(dateInputAE@(itemName));
                };

                dateInputAE@(itemName).removeEventListener("click", functionAE, false);
                dateInputAE@(itemName).addEventListener("click", functionAE, false);
                //#endregion

                //#endregion

                //#region 檔案上傳套件
                let uploadConfig = {
                    fileSelector: "#fileTask@(itemName)",
                    targetSelector: "#txtFileId@(itemName)",
                    required: false,
                    uploadPath: "/Task/TaskFile",
                    maxFileCount: 5
                };

                let uploadSetting = {
                    theme: "fas",
                    language: "zh-TW",
                    showCaption: true,
                    showPreview: true,
                    showRemove: false,
                    showUpload: false,
                    showCancel: false,
                    uploadUrl: "/Web/Upload",
                    uploadAsync: true,
                    minFileCount: (uploadConfig.required ? 1 : 0),
                    maxFileCount: uploadConfig.maxFileCount,
                    validateInitialCount: true,
                    overwriteInitial: false,
                    initialPreviewAsData: true,
                    browseOnZoneClick: true,
                    uploadExtraData: {
                        savePath: uploadConfig.uploadPath,
                        isPreview: false
                    },
                    previewFileIconSettings: {
                        doc: '<i class="fas fa-file-word" style="color: #0078d7;"></i>',
                        docx: '<i class="fas fa-file-word" style="color: #0078d7;"></i>',
                        xls: '<i class="fas fa-file-excel" style="color: #1d6f42;"></i>',
                        xlsx: '<i class="fas fa-file-excel" style="color: #1d6f42;"></i>',
                        csv: '<i class="fas fa-file-csv" style="color: #1d6f42;"></i>',
                        ppt: '<i class="fas fa-file-powerpoint" style="color: #d04423"></i>',
                        pptx: '<i class="fas fa-file-powerpoint" style="color: #d04423"></i>'
                    }
                };

                $(uploadConfig.fileSelector).fileinput('destroy');
                $(uploadConfig.fileSelector).fileinput(uploadSetting)
                    .off('filebatchselected')
                    .on('filebatchselected', function (event, files) {
                        $(uploadConfig.fileSelector).fileinput("upload");
                    })
                    .off('fileuploaded')
                    .on('fileuploaded', function (event, previewId, index, fileId) {
                        let uploadPath = previewId.response.initialPreviewConfig[0]["key"];
                        $(uploadConfig.fileSelector).fileinput('clear');

                        let targetUrl = "@Url.Action("AddProjectTaskFile", "Task")";
                        let postData = {
                            TaskId: $(objTaskId@(itemName)).val(),
                            FileId: uploadPath,
                        };

                        let result = DataAccess.Add(targetUrl, postData, false, false);

                        if (result) {
                            Datas@(itemName).GetTaskFile@(itemName)(objFilePage@(itemName));
                        }
                    });
                //#endregion

                $(targetSelector).find(".nav-close").off("click").on("click", function (e) {
                    $(`#nav@(itemName)`).removeClass("active");
                });

                $(targetSelector).find(".progress-cancel").off("click").on("click", function (e) {
                    $(targetSelector).find(".return-block").addClass("hide");
                });

                $(targetSelector).find(".return-block").addClass("hide");
                $(targetSelector).find(".reply-task").off("click").on("click", function (e) {
                    if ($(targetSelector).find(".return-block").hasClass("hide")) {
                        $(targetSelector).find(".return-block").removeClass("hide");
                        $(targetSelector).find(".control-delay-area, .control-start-area, .control-end-area, .control-content-area").removeClass("show");

                        ResetForm("#replyForm@(itemName)");
                        $("#txtReplyFile@(itemName)").val("");

                        $("input[name='rdoReplyStatus@(itemName)']").off("change").on("change", function (e) {
                            let status = $("input[name='rdoReplyStatus@(itemName)']:checked").val();
                            let replyConfig = replyConfig@(itemName).find(f => f.Status == status);
                            $(targetSelector).find("#txtReplyContentName@(itemName)").text(`${replyConfig.StatusName}原因`);
                            $(targetSelector).find("#txtReplyContent@(itemName)").prop("placeholder", replyConfig.Placeholder);

                            let dtNow = new Date();
                            let rpDate = dtNow > defaultReplyDate@(itemName) ? dtNow.Format('yyyy-MM-dd hh:mm') : defaultReplyDate@(itemName).Format('yyyy-MM-dd hh:mm');

                            switch (status) {
                                case "C":
                                    $(targetSelector).find(".control-end-area, .control-content-area").addClass("show");
                                    $(targetSelector).find(".control-delay-area, .control-start-area").removeClass("show");
                                    $(`${targetSelector} #txtActualEnd@(itemName)`).val(rpDate);
                                    break;
                                case "D":
                                    $(targetSelector).find(".control-delay-area, .control-content-area").addClass("show");
                                    $(targetSelector).find(".control-start-area, .control-end-area").removeClass("show");
                                    break;
                                case "N":
                                case "O":
                                    $(targetSelector).find(".control-content-area").addClass("show");
                                    $(targetSelector).find(".control-delay-area, .control-start-area, .control-end-area").removeClass("show");
                                    break;
                                case "S":
                                    $(targetSelector).find(".control-start-area, .control-content-area").addClass("show");
                                    $(targetSelector).find(".control-delay-area, .control-end-area").removeClass("show");
                                    $(`${targetSelector} #txtActualStart@(itemName)`).val(rpDate);
                                    break;
                                default:
                                    $(targetSelector).find(".control-delay-area, .control-start-area, .control-end-area, .control-content-area").removeClass("show");
                                    break;
                            }
                        });

                        Tasks@(itemName).FileUpload@(itemName)();
                    } else {
                        $(targetSelector).find(".return-block").addClass("hide");
                    }
                });

                $("body").off("click").on("click", function (e) {
                    if ($(targetSelector).hasClass("active")) {
                        if (!$(e.target).parents().hasClass("task-nav")
                            && !$(e.target).hasClass("swal2-container")
                            && !$(e.target).hasClass("modal")
                            && !$(e.target).hasClass("file-drop-zone-title")
                            && !$(e.target).parents().hasClass("swal2-container")
                            && !$(e.target).parents().hasClass("modal")
                            && !$(e.target).parents().hasClass("dhx_popup")
                            && !$(e.target).parents().hasClass("content_wrapper")
                        ) {
                            $(`#nav@(itemName)`).removeClass("active");
                        }
                    }

                    if (!$(targetSelector).find(".set-block").hasClass("hide") && !$(e.target).hasClass("nav-menu")) {
                        if (!$(e.target).parents().hasClass("set-block")) {
                            $(".set-block").addClass("hide");
                        }
                    }
                });
            });

            addMethod(this, "FileUpload@(itemName)", function () {
                Tasks@(itemName).FileAutoUpload@(itemName)({
                    fileSelector: "#fileReply@(itemName)",
                    targetSelector: "#txtReplyFile@(itemName)",
                    required: false,
                    uploadPath: "/Task/TaskReply",
                    maxFileCount: 1,
                    defaultFile: $("#txtReplyFile@(itemName)").val()
                });
            });

            addMethod(this, "LoadData@(itemName)", function () {
                $(`${objForm@(itemName)} .detail`).html("");
                $(`${objForm@(itemName)} .title-input, ${objForm@(itemName)} .detail-input`).val("");

                Datas@(itemName).GetProject@(itemName)();
                Datas@(itemName).GetTask@(itemName)();
                Datas@(itemName).GetLastReply@(itemName)();
                Datas@(itemName).GetTaskReply@(itemName)(objReplyPage@(itemName));
                Datas@(itemName).GetTaskFile@(itemName)(objFilePage@(itemName));
            });

            addMethod(this, "FileAutoUpload@(itemName)", function (uploadConfig) {
                //#region 檔案上傳套件
                let uploadSetting = {
                    theme: "fas",
                    language: "zh-TW",
                    showCaption: true,
                    showPreview: true,
                    showRemove: false,
                    showUpload: false,
                    showCancel: false,
                    uploadUrl: "/Web/Upload",
                    /*deleteUrl: "/Web/Delete", // 設定delete路由*/
                    uploadAsync: true,
                    minFileCount: (uploadConfig.required ? 1 : 0),
                    maxFileCount: uploadConfig.maxFileCount,
                    validateInitialCount: true,
                    overwriteInitial: false,
                    initialPreviewAsData: true,
                    browseOnZoneClick: true,
                    uploadExtraData: {
                        savePath: uploadConfig.uploadPath,
                        isPreview: false
                    },
                    previewFileIconSettings: {
                        doc: '<i class="fas fa-file-word" style="color: #0078d7;"></i>',
                        docx: '<i class="fas fa-file-word" style="color: #0078d7;"></i>',
                        xls: '<i class="fas fa-file-excel" style="color: #1d6f42;"></i>',
                        xlsx: '<i class="fas fa-file-excel" style="color: #1d6f42;"></i>',
                        csv: '<i class="fas fa-file-csv" style="color: #1d6f42;"></i>',
                        ppt: '<i class="fas fa-file-powerpoint" style="color: #d04423"></i>',
                        pptx: '<i class="fas fa-file-powerpoint" style="color: #d04423"></i>'
                    }
                };

                if (uploadConfig.defaultFile) {
                    let previewData = FileAccess.Preview(uploadConfig.defaultFile);
                    if (previewData) {
                        /*Object.assign(previewData.initialPreviewConfig, { showDelete: true, url: "/Task/DeleteReplyFile" });*/

                        // 方法二：使用 forEach 直接修改
                        previewData.initialPreviewConfig.forEach(item => {
                            item.showDelete = true;
                            item.url = "/Task/DeleteReplyFile";
                        });

                        uploadSetting.initialPreview = previewData.initialPreview;
                        uploadSetting.initialPreviewConfig = previewData.initialPreviewConfig;
                    }
                }

                $(uploadConfig.fileSelector).fileinput('destroy');
                $(uploadConfig.fileSelector).fileinput(uploadSetting)
                    .off('filebatchselected')
                    .on('filebatchselected', function (event, files) {
                        $(uploadConfig.fileSelector).fileinput("upload");
                    })
                    .off('fileuploaded')
                    .on('fileuploaded', function (event, previewId, index, fileId) {
                        let uploadPath = previewId.response.initialPreviewConfig[0]["key"];

                        tempFile = [];
                        if ($(uploadConfig.targetSelector).val()) tempFile = $(uploadConfig.targetSelector).val().split(',');
                        tempFile.push(uploadPath);

                        $(uploadConfig.targetSelector).val(tempFile.join(","));

                        Tasks@(itemName).FileUpload@(itemName)();

                        /*$(uploadConfig.fileSelector).fileinput('clear');*/
                    })
                    // 刪除成功事件
                    .off('filedeleted')
                    .on('filedeleted', function (event, key, jqXHR, data) {
                        tempFile = [];
                        if ($(uploadConfig.targetSelector).val()) tempFile = $(uploadConfig.targetSelector).val().split(',');

                        let deletePathIndex = tempFile.indexOf(key.toString());
                        if (deletePathIndex > -1) tempFile.splice(deletePathIndex, 1);

                        //$(config.targetSelector).val(tempFile.join(","));

                        ElementSetValue(uploadConfig.targetSelector, tempFile.join(","), "change");
                    });
                //#endregion
            });
        }

        function DataControl@(itemName)() {
            addMethod(this, "GetProject@(itemName)", function () {
                let data = DataAccess.Get("@Url.Action("GetProject", "Task")", { ProjectTaskId: $(objTaskId@(itemName)).val() }, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        $("#desProjectName@(itemName)").html(item.ProjectName);
                    });
                } else alert(data.msg, "alert", 0);
            });

            addMethod(this, "GetTask@(itemName)", function () {
                let data = DataAccess.Get("@Url.Action("GetProjectTask", "Task")", { ProjectTaskId: $(objTaskId@(itemName)).val() }, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        $("#desTaskName@(itemName)").html(item.TaskName);
                        $("#desParentTaskName@(itemName)").html(item.ParentTaskName);
                        $("#desTaskUser@(itemName)").html(item.TaskUser);
                        $("#desTaskDesc@(itemName)").val(item.TaskDesc);

                        let planned = `${item.PlannedStart}&nbsp;<i class="fas fa-arrow-alt-right"></i>&nbsp;${item.PlannedEnd}`;
                        $("#desPlanned@(itemName)").html(planned);

                        let estimate = `${item.EstimateStart}&nbsp;<i class="fas fa-arrow-alt-right"></i>&nbsp;${item.EstimateEnd}`;
                        $("#desEstimate@(itemName)").html(estimate);

                        let actual = `${item.ActualStart}&nbsp;<i class="fas fa-arrow-alt-right"></i>&nbsp;${item.ActualEnd}`;
                        if (item.ActualStart) $("#desActual@(itemName)").html(actual);

                        if (item.SubTask > 0) $(`.reply-task`).addClass("hide");
                        else $(`.reply-task`).removeClass("hide");
                        $(`.reply-now`).show();

                        defaultReplyDate@(itemName) = new Date(item.EstimateStart);

                        $(".control--radio[class*=task-]").hide();
                        switch (item.TaskStatus) {
                            case "B":
                                $(".task-start").show();
                                $(".task-not-started-yet").show();
                                $(".task-delay").show();
                                break;
                            case "I":
                                $(".task-on-schedule").show();
                                $(".task-delay").show();
                                $(".task-complete").show();
                                break;
                            case "T":
                                break;
                            case "C":
                                $(".reply-now").hide();
                                break;
                        }
                    });
                } else {
                    alert(data.msg, "alert", 0);
                }
            });

            addMethod(this, "GetLastReply@(itemName)", function () {
                let targetUrl = "@Url.Action("GetLastReply", "Task")";
                let postData = {
                    TaskId: $(objTaskId@(itemName)).val(),
                    ReplyType: taskType@(itemName)
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        Countdown(item.ReplyFrequency - item.LastReplyInterval, "desReplyCountdown@(itemName)");

                        let days = parseInt(item.LastReplyInterval / 60 / 24);
                        let hours = parseInt((item.LastReplyInterval % (60 * 24)) / 60);
                        let minutes = parseInt(item.LastReplyInterval % 60);
                        $("#desReplyMsg@(itemName)").html("距離上次回報：" + days + "天 " + hours + "小時 " + minutes + "分");

                        days = parseInt(item.ReplyFrequency / 60 / 24);
                        hours = parseInt((item.ReplyFrequency % (60 * 24)) / 60);
                        minutes = parseInt(item.ReplyFrequency % 60);
                        $("#desReplyFrequency@(itemName)").html("回報頻率：" + days + "天 " + hours + "小時 " + minutes + "分");
                    });
                } else {
                    alert(data.msg, "alert", 0);
                }
            });

            addMethod(this, "GetTaskReply@(itemName)", function (objPage) {
                let innerHtml = '';
                let pageCount = 0;

                let targetUrl = "@Url.Action("GetTaskReply", "Task")";
                let postData = {
                    OrderBy: "",
                    PageIndex: (objPage.pageIndex + 1),
                    PageSize: objPage.pageSize,
                    TaskId: $(objTaskId@(itemName)).val(),
                    ReplyType: taskType@(itemName)
                };
                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                    if (pageCount > 0) {
                        $.each(data.result, function (i, item) {
                            let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                            let days = parseInt(item.DeferredDuration / 60 / 24);
                            let hours = parseInt((item.DeferredDuration % (60 * 24)) / 60);
                            let minutes = parseInt(item.DeferredDuration % 60);

                            let deferredDuration = `${days > 0 ? `${days} 天` : ``} ${hours > 0 ? `${hours} 小時` : ``} ${minutes > 0 ? `${minutes} 分` : ``}`;

                            innerHtml += `<tr>
                                            <td><span class="stack-title">#</span>${_row}</td>
                                            <td><span class="stack-title">回報人員</span>${item.LogoIcon == -1 ? `` : `<img class="company-logo" src="/Web/GetFile?fileId=${item.LogoIcon}" />`}${item.ReplyUserName}</td>
                                            <td><span class="stack-title">回報時間</span>${item.EventDate}</td>
                                            <td><span class="stack-title">回報狀態</span>${StatusUI(item.ReplyStatus)} ${StatusName(`TaskReply.ReplyStatus`, item.ReplyStatus)}</td>
                                            <td><span class="stack-title" data-toggle="tooltip" title="${item.FileName}${item.FileExtension}">回報附件</span>
                                                <span class="stack-title">檔案名稱</span>
                                                ${item.ReplyFile ? `<a class="active-link" href="/Web/GetFile?fileId=${item.ReplyFile}" target="_blank"><i class="fas fa-download"></i><span>下載</span></a>${item.FileName}${item.FileExtension}` : ``}
                                            </td>
                                            <td><span class="stack-title">延後時間</span>${deferredDuration}</td>
                                            <td class="ellipsis" data-toggle="tooltip" title = "${item.ReplyContent}" style="max-width: 200px;"><span class="stack-title">回報內容</span>${item.ReplyContent}</td>
                                          </tr>`;
                        });
                    }
                    else {
                        innerHtml = '<tr><td class="text-center" colspan="6" style="background-color: #fff3cd;"><i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。</td></tr>';
                    }
                } else {
                    alert(data.msg, "alert", 0);
                }

                $("#tblReplyData@(itemName) tbody").html(innerHtml);
                TableComponentInit();
                Pager("#pageReply@(itemName)", pageCount, objPage, Datas@(itemName).GetTaskReply@(itemName));

                function StatusUI(status) {
                    let html = "";

                    switch (status) {
                        case "D":
                            html = `<span class="blink text-danger"><i class="fas fa-siren-on"></i></span>`;
                            break;
                    }

                    return html;
                }
            });

            addMethod(this, "GetTaskFile@(itemName)", function (objPage) {
                let innerHtml = '';
                let pageCount = 0;

                let targetUrl = "@Url.Action("GetProjectTaskFile", "Task")";
                let postData = {
                    TaskId: $(objTaskId@(itemName)).val(),
                    PageIndex: (objPage.pageIndex + 1),
                    PageSize: objPage.pageSize
                };
                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    //pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;
                    let _row = 0;

                    if (data.result.length > 0) {
                        $.each(data.result, function (i, item) {
                            if (item.SourceType == "T") {
                                //let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";
                                _row++;
                                innerHtml += `<tr>
                                                <td><span class="stack-title">#</span>${_row}</td>
                                                <td class="active-content ellipsis" data-toggle="tooltip" title="${item.FileName}${item.FileExtension}" style="max-width: 250px;">
                                                  <span class="stack-title">檔案名稱</span>
                                                  <a class="active-link proj-auth-task-file-download" href="/Task/DownloadTaskFile?fileId=${item.FileId}&TaskId=${$(objTaskId@(itemName)).val()}&TaskType=${taskType@(itemName)}" target="_blank"><i class="fas fa-download"></i><span>下載</span></a>
                                                  ${item.FileName}${item.FileExtension}
                                                </td>
                                                <td>
                                                  <span class="stack-title">閱覽檔案等級</span>
                                                  ${item.LevelName}
                                                </td>
                                                <td>
                                                  <span class="stack-title">檔案類型</span>
                                                  ${TypeName(`ProjectFile.FileType`, item.FileType)}
                                                </td>
                                                <td><span class="stack-title">上傳時間</span>${item.CreateDate}</td>
                                              </tr>`;
                            }
                        });
                    }
                    else {
                        innerHtml = `<tr><td class="text-center" colspan="5" style="background-color: #fff3cd;"><i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。</td></tr>`;
                    }
                } else {
                    alert(data.msg, "alert", 0);
                }

                $("#tblFileData@(itemName) tbody").html(innerHtml);
                TableComponentInit();
            });

            addMethod(this, "AddTaskReply@(itemName)", function () {
                let requiredMsg = "";
                let required = false;

                if (!$("input[name='rdoReplyStatus@(itemName)']:checked").length > 0) {
                    requiredMsg = "請選擇回報狀態!";
                    required = true;
                }
                else {
                    let status = $("input[name='rdoReplyStatus@(itemName)']:checked").val();
                    let replyConfig = replyConfig@(itemName).find(f => f.Status == status);

                    switch (status) {
                        @*case "S":
                            if (!$(`#txtActualStart@(itemName)`).val()) {
                                if (requiredMsg.length > 0) requiredMsg += "<br />";
                                requiredMsg += "請選擇開始時間!";
                                required = true;
                            }
                            break;*@
                        case "N":
                            if (!$("#txtReplyContent@(itemName)").val()) {
                                if (requiredMsg.length > 0) requiredMsg += "<br />";
                                requiredMsg += `請輸入${replyConfig.StatusName}原因!`;
                                required = true;
                            }
                            break;
                        case "D":
                            if (!$("#txtDeferredDuration@(itemName)").val()) {
                                if (requiredMsg.length > 0) requiredMsg += "<br />";
                                requiredMsg += `請輸入${replyConfig.StatusName}時間!`;
                                required = true;
                            }

                            if (!$("#txtReplyContent@(itemName)").val()) {
                                if (requiredMsg.length > 0) requiredMsg += "<br />";
                                requiredMsg += `請輸入${replyConfig.StatusName}原因!`;
                                required = true;
                            }
                            break;
                    }
                }

                if (!required) {
                    let targetUrl = "@Url.Action("AddTaskReply", "Task")";
                    let postData = {
                        TaskId: $(objTaskId@(itemName)).val(),
                        ReplyType: taskType@(itemName),
                        ReplyStatus: $("input[name=rdoReplyStatus@(itemName)]:checked").val(),
                        ActualStart: $("#txtActualStart@(itemName)").val(),
                        ActualEnd: $("#txtActualEnd@(itemName)").val(),
                        DeferredDuration: $("#txtDeferredDuration@(itemName)").val(),
                        DurationUnit: $("#cboDurationUnit@(itemName)").val(),
                        ReplyFile: $("#txtReplyFile@(itemName)").val(),
                        ReplyContent: $("#txtReplyContent@(itemName)").val()
                    };

                    let result = DataAccess.Add(targetUrl, postData, false, true);

                    if (result) {
                        $("#nav@(itemName)").find(".return-block").addClass("hide");
                        Tasks@(itemName).LoadData@(itemName)();
                        ExpandTaskGantt({ projectTaskId: $(objTaskId@(itemName)).val(), reLoadFnString: "Query@(parentName)" });
                    }
                } else alert(requiredMsg, "warning", 0);
            });
        }

        function SetProjectTaskAuthority@(itemName)(taskId) {
            let targetUrl = "@Url.Action("GetTaskUserAuthority", "Task")";
            let postData = {
                TaskId: taskId,
                TaskType: taskType@(itemName)
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                $("#projectAuthority").val(JSON.stringify(data.result));
                ProjectAuthorityControl();
            } else {
                alert(data.msg, "alert", 0);
            }
        }

        function Forbidden@(itemName)() {
            swal.fire({
                title: "功能尚未開放!",
                icon: "error"
            });
        }
</script>
)