@using Business_Manager.Helpers
@{
    string itemName = "ViewProjectTask";
    string itemNameText = "專案任務";
}

@Html.Resource("css",
    @<style>
    .task-list .input-group-text {
        padding: 0 2px;
        margin: 0;
    }

    .task-list .form-control {
        padding: 0 2px;
        margin: 0;
    }

    /*.task-list input[type=number] {
            padding:0 2px;
        }*/
</style>
)


<div class="task-nav" id="nav@(itemName)">
    <div class="container read-item">
        <div class="task-header">
            <a class="set nav-close" href="javascript:void(0);">
                <i class="fas fa-arrow-to-right"></i>
            </a>
            @*<div class="set-area">
                <a class="set nav-menu far fa-ellipsis-v" href="javascript:void(0);"></a>
                <ul class="set-block hide">
                    <li class="proj-auth-task-copy"><a class="copy-task" href="javascript:void(0);"><i class="fas fa-copy"></i>複製任務</a></li>
                    <li class="proj-auth-task-add"><a class="add-link-task" href="javascript:void(0);"><i class="fas fa-plus"></i>新增任務</a></li>
                    <li class="proj-auth-task-delete"><a class="delete-task" href="javascript:void(0);"><i class="fas fa-trash-alt"></i>刪除任務</a></li>
                </ul>
            </div>*@
            <input type="hidden" id="TaskId" name="TaskId" value="-1" />
        </div>

        <h1 class="task-title mb-3">
            <input type="text" class="form-control title-input" id="txtTaskName@(itemName)" name="txtTaskName@(itemName)" placeholder="請輸入任務名稱" maxlength="50" autocomplete="off" />
        </h1>

        <div class="task-box mb-3">
            <ul class="task-list-area">
                <li class="task-list">
                    <span class="title">
                        專案名稱
                    </span>
                    <span class="detail" id="desProjectName@(itemName)"></span>
                </li>
                <li class="task-list">
                    <span class="title">
                        任務途徑
                    </span>
                    <span class="detail" id="desParentTaskName@(itemName)"></span>
                </li>
                <li class="task-list">
                    <span class="title">
                        參與人員
                    </span>
                    <span class="detail" id="desTaskUser@(itemName)"></span>
                    <a class="link update-task-member" href="javascript:void(0);">編輯成員</a>
                </li>
                <li class="task-list">
                    <span class="title">
                        任務描述
                    </span>
                    <input type="text" class="form-control detail-input" id="txtTaskDesc@(itemName)" name="txtTaskDesc@(itemName)" placeholder="請輸入任務描述"
                           maxlength="300" autocomplete="off" style="width: calc(100% - 81px);" />
                </li>
                <li class="task-list">
                    <span class="title">
                        回報頻率
                    </span>
                    <div class="time-block" style="width: calc(100% - 81px);">
                        <div class="input-group">
                            <input type="text" class="form-control text-right detail-input" id="txtDayReplyFrequency@(itemName)" name="txtDayReplyFrequency@(itemName)" disabled />
                            <span class="input-group-addon">天</span>
                            <input type="text" class="form-control text-right detail-input" id="txtHourReplyFrequency@(itemName)" name="txtHourReplyFrequency@(itemName)" disabled />
                            <span class="input-group-addon">小時</span>
                            <input type="text" class="form-control text-right detail-input" id="txtMinuteReplyFrequency@(itemName)" name="txtMinuteReplyFrequency@(itemName)" disabled />
                            <span class="input-group-addon">分</span>
                        </div>
                    </div>
                </li>

                <li class="task-list">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">計畫時間</span>
                        </div>
                        <input type="text" class="form-control detail-input" id="txtPlannedStart@(itemName)" name="txtPlannedStart@(itemName)" style="width:95px;" disabled />
                        <div class="input-group-append read-item">
                            <span class="input-group-text">至</span>
                        </div>
                        <input type="text" class="form-control read-item" id="txtPlannedEnd@(itemName)" name="txtPlannedEnd@(itemName)" style="width:95px;" disabled />

                        <div class="input-group-append">
                            <span class="input-group-text"> 共</span>
                        </div>
                        <input type="text" class="form-control text-right time-input" id="txtDayPlannedDuration@(itemName)" name="txtDayPlannedDuration@(itemName)" disabled />
                        <div class="input-group-append">
                            <span class="input-group-text">天</span>
                        </div>
                        <input type="text" class="form-control text-right time-input" id="txtHourPlannedDuration@(itemName)" name="txtHourPlannedDuration@(itemName)" disabled />
                        <div class="input-group-append">
                            <span class="input-group-text">小時</span>
                        </div>
                        <input type="text" class="form-control text-right time-input" id="txtMinutePlannedDuration@(itemName)" name="txtMinutePlannedDuration@(itemName)" disabled />
                        <div class="input-group-append">
                            <span class="input-group-text">分</span>
                        </div>
                    </div>
                </li>

                <li class="task-list read-item">
                    <div class="input-group input-group-sm mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="start-label">事件時間</span>
                        </div>
                        <input type="text" class="form-control detail-input" id="txtEventStart@(itemName)" name="txtEventStart@(itemName)" style="width:95px;" disabled />
                        <div class="input-group-append">
                            <span class="input-group-text">至</span>
                        </div>
                        <input type="text" class="form-control detail-input" id="txtEventEnd@(itemName)" name="txtEventEnd@(itemName)" style="width:95px;" disabled />

                        <div class="input-group-append">
                            <span class="input-group-text"> 共</span>
                        </div>
                        <input type="text" class="form-control text-right time-input" id="txtDayEventDuration@(itemName)" name="txtDayEventDuration@(itemName)" disabled />
                        <div class="input-group-append">
                            <span class="input-group-text">天</span>
                        </div>
                        <input type="text" class="form-control text-right time-input" id="txtHourEventDuration@(itemName)" name="txtHourEventDuration@(itemName)" disabled />
                        <div class="input-group-append">
                            <span class="input-group-text">小時</span>
                        </div>
                        <input type="text" class="form-control text-right time-input" id="txtMinuteEventDuration@(itemName)" name="txtMinuteEventDuration@(itemName)" disabled />
                        <div class="input-group-append">
                            <span class="input-group-text">分</span>
                        </div>

                    </div>
                </li>
            </ul>
        </div>

        <div class="task-box">
            <div class="task-box-title">
                <h2>回報列表</h2>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="table-custom table-custom-sm">
                        <table class="table table-bordered table-striped table-sticky table-stack" id="tblReplyData@(itemName)" style="margin-top: 5px;">
                            <thead>
                                <tr>
                                    <th scope="col" style="min-width: 50px;">#</th>
                                    <th scope="col" style="min-width: 105px;">回報人員</th>
                                    <th scope="col" style="min-width: 145px;">回報時間</th>
                                    <th scope="col" style="min-width: 125px;">回報狀態</th>
                                    <th scope="col" style="min-width: 150px;">回報附件</th>
                                    <th scope="col" style="min-width: 150px;">延後時間</th>
                                    <th scope="col" style="min-width: 200px;">延後原因</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="pagination" id="pageReply@(itemName)"></div>
                </div>
            </div>
        </div>

        <div class="task-box">
            <div class="task-box-title">
                <h2>任務檔案(共用)</h2>
                <a class="link proj-auth-task-file-download" href="javascript:void(0);" onclick="Forbidden@(itemName)()">
                    <i class="far fa-arrow-alt-circle-down"></i>
                    全部下載
                </a>
            </div>
            @*<div class="row mb-2 proj-auth-task-file-upload">
                <div class="col-12">
                    <input type="file" id="fileEventTask@(itemName)" name="fileEventTask@(itemName)" multiple />
                    <input type="hidden" id="txtFileId@(itemName)" name="txtFileId@(itemName)" />
                </div>
            </div>*@
            <div class="row">
                <div class="col-12">
                    <div class="table-custom table-custom-sm">
                        <table class="table table-bordered table-striped table-sticky table-stack" id="tblFileData@(itemName)">
                            <thead>
                                <tr>
                                    <th scope="col" style="min-width: 50px;">#</th>
                                    <th scope="col" style="min-width: 250px;">檔案名稱</th>
                                    <th scope="col" style="min-width: 120px;">閱覽檔案等級</th>
                                    <th scope="col" style="min-width: 110px;">檔案類型</th>
                                    <th scope="col" style="min-width: 145px;">上傳時間</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="task-box">
            <div class="message-board">
                <textarea class="form-control message-text" id="txtTemplateDesc@(itemName)" name="txtTemplateDesc@(itemName)" rows="2" placeholder="請輸入發送至MAMO頻道的訊息.." data-msg-required="請輸入樣板描述" data-rule-required="true"></textarea>
                <div class="subtask-list" style="border-bottom:0;justify-content:flex-end;">
                    <a class="subtask-link" href="javascript:void(0);" onclick="Forbidden@(itemName)()" style="margin-right: 15px;"> <i class="far fa-paperclip"></i></a>
                    <a class="subtask-link" href="javascript:void(0);" onclick="Forbidden@(itemName)()" style="padding:5px 15px; background:#005bff; color:#fff;">發送至MAMO</a>
                </div>
            </div>
        </div>
    </div>
</div>


@Html.Resource("js",
    @<script>
        let objForm@(itemName) = `#nav@(itemName)`;
        let objTaskId@(itemName) = `${objForm@(itemName) } #TaskId`;
        let taskType@(itemName) = `Project`;

        let canEdit@(itemName) = false;
        let canAdd@(itemName) = false;
        let canDelete@(itemName) = false;

        let Tasks@(itemName) = new TaskControl@(itemName)();
        let Datas@(itemName) = new DataControl@(itemName)();

        let calendarS@(itemName) = new dhx.Calendar(null, calendarSetting);
        let popupS@(itemName) = new dhx.Popup();
        let dateInputS@(itemName) = document.getElementById(`txtEventStart@(itemName)`);

        let calendarE@(itemName) = new dhx.Calendar(null, calendarSetting);
        let popupE@(itemName) = new dhx.Popup();
        let dateInputE@(itemName) = document.getElementById(`txtEventEnd@(itemName)`);

        let objReplyPage@(itemName) = {
            pageIndex: 0,
            pageSize: 10
        };
        let objFilePage@(itemName) = {
            pageIndex: 0,
            pageSize: 10
        };

        function InitData@(itemName)(taskId) {
            $(objTaskId@(itemName)).val(taskId);
            SstTaskUserAuthority@(itemName)(taskId);

            Tasks@(itemName).Initialize@(itemName)(objForm@(itemName));
            Tasks@(itemName).LoadData@(itemName)();
        }

        function TaskControl@(itemName)() {
            addMethod(this, "Initialize@(itemName)", function (targetSelector) {
                $(targetSelector).addClass("active");

                //#region 預計時間套件
                dhx.i18n.setLocale("calendar", calendarLocales);
                dhx.i18n.setLocale("timepicker", timepickerLocales);

                //#region 開始時間
                calendarS@(itemName).destructor();
                calendarS@(itemName) = new dhx.Calendar(null, calendarSetting);

                popupS@(itemName).destructor();
                popupS@(itemName) = new dhx.Popup();
                popupS@(itemName).attach(calendarS@(itemName));

                calendarS@(itemName).events.on("change", function () {
                    dateInputS@(itemName).value = calendarS@(itemName).getValue();
                    dateInputS@(itemName).dispatchEvent(eventChange);
                    popupS@(itemName).hide();
                });

                let functionS = function () {
                    popupS@(itemName).show(dateInputS@(itemName));
                };

                dateInputS@(itemName).removeEventListener("click", functionS, false);
                dateInputS@(itemName).addEventListener("click", functionS, false);
                //#endregion

                //#region 完成時間
                calendarE@(itemName).destructor();
                calendarE@(itemName) = new dhx.Calendar(null, calendarSetting);

                popupE@(itemName).destructor();
                popupE@(itemName) = new dhx.Popup();
                popupE@(itemName).attach(calendarE@(itemName));

                calendarE@(itemName).events.on("change", function () {
                    dateInputE@(itemName).value = calendarE@(itemName).getValue();
                    dateInputE@(itemName).dispatchEvent(eventChange);
                    popupE@(itemName).hide();
                });

                let functionE = function () {
                    popupE@(itemName).show(dateInputE@(itemName));
                };

                dateInputE@(itemName).removeEventListener("click", functionE, false);
                dateInputE@(itemName).addEventListener("click", functionE, false);
                //#endregion

                //#endregion

                //#region 檔案上傳套件
                @*let uploadConfig = {
                    fileSelector: "#fileEventTask@(itemName)",
                    targetSelector: "#txtFileId@(itemName)",
                    required: false,
                    uploadPath: "/Task/TaskFile",
                    maxFileCount: 5
                };

                let uploadSetting = {
                    theme: "fas",
                    language: "zh-TW",
                    showCaption: true,
                    showPreview: true,
                    showRemove: false,
                    showUpload: false,
                    showCancel: false,
                    uploadUrl: "/Web/Upload",
                    uploadAsync: true,
                    minFileCount: (uploadConfig.required ? 1 : 0),
                    maxFileCount: uploadConfig.maxFileCount,
                    validateInitialCount: true,
                    overwriteInitial: false,
                    initialPreviewAsData: true,
                    browseOnZoneClick: true,
                    uploadExtraData: {
                        savePath: uploadConfig.uploadPath,
                        isPreview: false
                    },
                    previewFileIconSettings: {
                        doc: '<i class="fas fa-file-word" style="color: #0078d7;"></i>',
                        docx: '<i class="fas fa-file-word" style="color: #0078d7;"></i>',
                        xls: '<i class="fas fa-file-excel" style="color: #1d6f42;"></i>',
                        xlsx: '<i class="fas fa-file-excel" style="color: #1d6f42;"></i>',
                        csv: '<i class="fas fa-file-csv" style="color: #1d6f42;"></i>',
                        ppt: '<i class="fas fa-file-powerpoint" style="color: #d04423"></i>',
                        pptx: '<i class="fas fa-file-powerpoint" style="color: #d04423"></i>'
                    }
                };

                $(uploadConfig.fileSelector).fileinput('destroy');
                $(uploadConfig.fileSelector).fileinput(uploadSetting)
                    .off('filebatchselected')
                    .on('filebatchselected', function (event, files) {
                        $(uploadConfig.fileSelector).fileinput("upload");
                    })
                    .off('fileuploaded')
                    .on('fileuploaded', function (event, previewId, index, fileId) {
                        let uploadPath = previewId.response.initialPreviewConfig[0]["key"];
                        $(uploadConfig.fileSelector).fileinput('clear');

                        let targetUrl = "@Url.Action("AddProjectTaskFile", "Task")";
                        let postData = {
                            "TaskId": $(objTaskId@(itemName)).val(),
                            "FileId": uploadPath,
                        };

                        let result = DataAccess.Add(targetUrl, postData, false, false);

                        if (result) {
                            Datas@(itemName).GetTaskFile@(itemName)(objFilePage@(itemName));
                        }
                    });*@
                //#endregion

                $(targetSelector).find(".nav-close").off("click").on("click", function (e) {
                    $(`#nav@(itemName)`).removeClass("active");
                });

                $(targetSelector).find(".nav-menu").off("click").on("click", function (e) {
                    $(targetSelector).find(".set-block").toggleClass("hide");
                });

                $(targetSelector).find(".manual-closed").off("click").on("click", function (e) {
                    Forbidden@(itemName)();
                });

                $(targetSelector).find(".update-task-member").off("click").on("click", function (e) {
                    PopViewTaskUser($(objTaskId@(itemName)).val(), taskType@(itemName));
                });

                $("body").off("click").on("click", function (e) {
                    if ($(targetSelector).hasClass("active")) {
                        if (!$(e.target).parents().hasClass("task-nav")
                            && !$(e.target).hasClass("swal2-container")
                            && !$(e.target).hasClass("modal")
                            && !$(e.target).parents().hasClass("swal2-container")
                            && !$(e.target).parents().hasClass("select2-container")
                            && !$(e.target).parents().hasClass("modal")
                            && !$(e.target).parents().hasClass("content_wrapper")
                            //&& !$(e.target).hasClass("file-drop-zone-title")
                            //&& !$(e.target).parents().hasClass("dhx_popup")
                            //&& !$(e.target).parents().hasClass(`wx-event-calendar-event`)
                            //&& !$(e.target).hasClass(`wx-event-calendar-event-box`)
                        ) {
                            $(`#nav@(itemName)`).removeClass("active");
                        }
                    }
                    if (!$(targetSelector).find(".set-block").hasClass("hide") && !$(e.target).hasClass("nav-menu")) {
                        if (!$(e.target).parents().hasClass("set-block")) {
                            $(".set-block").addClass("hide");
                        }
                    }
                });
            });

            addMethod(this, "LoadData@(itemName)", function () {
                $(`${objForm@(itemName)} .detail`).html("");
                $(`${objForm@(itemName)} .title-input, ${objForm@(itemName)} .detail-input, ${objForm@(itemName)} .time-input, ${objForm@(itemName)} .message-text`).val("");

                let taskId = parseInt($(objTaskId@(itemName)).val()); //專案任務
                if (taskId > 0) {
                    Datas@(itemName).GetProjectTask@(itemName)();
                    Datas@(itemName).GetTaskReply@(itemName)(objReplyPage@(itemName));
                    Datas@(itemName).GetTaskFile@(itemName)(objFilePage@(itemName));
                }
            });

            //#region 刷新背景頁
            addMethod(this, "LoadViewData@(itemName)", function () {
                switch (viewType) {
                    case "calendar":
                        InitDataTaskCalendar();
                        break;
                }
            });
            //#endregion
        }

        function DataControl@(itemName)() {
            addMethod(this, "GetProject@(itemName)", function () {
                let data = DataAccess.Get("@Url.Action("GetProject", "Task")", { ProjectTaskId: $(objProjectTaskId@(itemName)).val() }, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        $("#desProjectName@(itemName)").html(item.ProjectName);
                    });
                } else alert(data.msg, "alert", 0);
            });

            addMethod(this, "GetProjectTask@(itemName)", function () {
                let data = DataAccess.Get("@Url.Action("GetProjectTask", "Task")", { ProjectTaskId: $(objTaskId@(itemName)).val() }, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        $("#txtTaskName@(itemName)").val(item.TaskName);
                        $("#desParentTaskName@(itemName)").html(item.ParentTaskName);
                        $("#desTaskUser@(itemName)").html(item.TaskUser);
                        $("#txtTaskDesc@(itemName)").val(item.TaskDesc);

                        let replyFrequency = parseInt(item.ReplyFrequency);
                        let days = parseInt(replyFrequency / 60 / 24);
                        let hours = parseInt((replyFrequency % (60 * 24)) / 60);
                        let minutes = parseInt(replyFrequency % 60);

                        $("#txtDayReplyFrequency@(itemName)").val(days);
                        $("#txtHourReplyFrequency@(itemName)").val(hours);
                        $("#txtMinuteReplyFrequency@(itemName)").val(minutes);

                        let duration = parseInt(item.PlannedDuration);
                        days = parseInt(duration / 60 / 24);
                        hours = parseInt((duration - days * 24 * 60) / 60);
                        minutes = parseInt(duration - (days * 24 * 60) - (hours * 60));
                        $(`#txtPlannedStart@(itemName)`).val(item.PlannedStart);
                        $(`#txtPlannedEnd@(itemName)`).val(item.PlannedEnd);
                        $(`#txtDayPlannedDuration@(itemName)`).val(days);
                        $(`#txtHourPlannedDuration@(itemName)`).val(hours);
                        $(`#txtMinutePlannedDuration@(itemName)`).val(minutes);

                        duration = parseInt(item.EstimateDuration);
                        days = parseInt(duration / 60 / 24);
                        hours = parseInt((duration - days * 24 * 60) / 60);
                        minutes = parseInt(duration - (days * 24 * 60) - (hours * 60));
                        $(`#txtEventStart@(itemName)`).val(item.EstimateStart);
                        $(`#txtEventEnd@(itemName)`).val(item.EstimateEnd);
                        $("#txtDayEventDuration@(itemName)").val(days);
                        $("#txtHourEventDuration@(itemName)").val(hours);
                        $("#txtMinuteEventDuration@(itemName)").val(minutes);

                        calendarS@(itemName).setValue(item.start_date); //日期選擇預設值
                        calendarE@(itemName).setValue(item.end_date); //日期選擇預設值

                        $(`.read-item input, .read-item select`).attr(`disabled`, true);

                    });
                } else {
                    alert(data.msg, "alert", 0);
                }
            });

            addMethod(this, "GetTaskReply@(itemName)", function (objPage) {
                let innerHtml = ``;
                let pageCount = 0;

                let targetUrl = "@Url.Action("GetTaskReply", "Task")";
                let postData = {
                    TaskId: $(objTaskId@(itemName)).val(),
                    PageIndex: (objPage.pageIndex + 1),
                    PageSize: objPage.pageSize,
                    ReplyType: taskType@(itemName),
                };
                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                    if (pageCount > 0) {
                        $.each(data.result, function (i, item) {
                            let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                            let days = parseInt(item.DeferredDuration / 60 / 24);
                            let hours = parseInt((item.DeferredDuration % (60 * 24)) / 60);
                            let minutes = parseInt(item.DeferredDuration % 60);

                            let deferredDuration = `${ days > 0 ? `${days} 天` : `` } ${ hours > 0 ? `${hours} 小時` : `` } ${ minutes > 0 ? `${minutes} 分` : `` } `;

                            innerHtml += `<tr>
                                            <td><span class="stack-title">#</span>${_row}</td>
                                            <td><span class="stack-title">回報人員</span>${item.LogoIcon == -1 ? `` : `<img class="company-logo" src="/Web/GetFile?fileId=${item.LogoIcon}" />`}${item.ReplyUserName}</td>
                                            <td><span class="stack-title">回報時間</span>${item.EventDate}</td>
                                            <td><span class="stack-title">回報狀態</span>${StatusUI(item.ReplyStatus)} ${StatusName(`TaskReply.ReplyStatus`, item.ReplyStatus)}</td>
                                            <td><span class="stack-title" data-toggle="tooltip" title="${item.FileName}${item.FileExtension}">回報附件</span>
                                                <span class="stack-title">檔案名稱</span>
                                                ${item.ReplyFile ? `<a class="active-link" href="/Web/GetFile?fileId=${item.ReplyFile}" target="_blank"><i class="fas fa-download"></i><span>下載</span></a>${item.FileName}${item.FileExtension}` : ``}
                                            </td>
                                            <td><span class="stack-title">延後時間</span>${deferredDuration}</td>
                                            <td class="ellipsis" data-toggle="tooltip" title="${item.ReplyContent}" style="max-width: 200px;"><span class="stack-title">延後原因</span>${item.ReplyContent}</td>
                                          </tr> `;
                        });
                    }
                    else {
                        innerHtml = `<tr> <td class="text-center" colspan="6" style="background-color: #fff3cd;"><i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。</td></tr> `;
                    }
                } else {
                    alert(data.msg, "alert", 0);
                }

                $("#tblReplyData@(itemName) tbody").html(innerHtml);
                TableComponentInit();
                Pager("#pageReply@(itemName)", pageCount, objPage, Datas@(itemName).GetTaskReply@(itemName));

                function StatusUI(status) {
                    let html = "";

                    switch (status) {
                        case "D":
                            html = `<span class="blink text-danger"><i class="fas fa-siren-on"></i></span >`;
                            break;
                    }

                    return html;
                }
            });

            addMethod(this, "GetTaskFile@(itemName)", function (objPage) {
                let taskId = $(objTaskId@(itemName)).val() == null ? -1 : parseInt($(objTaskId@(itemName)).val());
                let innerHtml = ``;
                let pageCount = 0;

                if (taskId > 0) {
                    let targetUrl = "@Url.Action("GetProjectTaskFile", "Task")";
                    let postData = {
                        TaskId: taskId,
                        PageIndex: (objPage.pageIndex + 1),
                        PageSize: objPage.pageSize
                    };
                    let data = DataAccess.Get(targetUrl, postData, false);
                    if (data.status == "success") {
                        //pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;
                        let _row = 0;

                        if (data.result.length > 0) {
                            $.each(data.result, function (i, item) {
                                if (item.SourceType == "T") {
                                    //let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";
                                    _row++;

                                    innerHtml += `<tr>
                                                    <td><span class="stack-title">#</span>${_row}</td>
                                                    <td class="active-content ellipsis" data-toggle="tooltip" title="${item.FileName}${item.FileExtension}" style="max-width: 250px;">
                                                        <span class="stack-title">檔案名稱</span>
                                                        <a class="active-link proj-auth-task-file-download" href="/Task/DownloadTaskFile?fileId=${item.FileId}&TaskId=${$(objTaskId@(itemName)).val()}&TaskType=${taskType@(itemName)}" target="_blank"><i class="fas fa-download"></i><span>下載</span></a>
                                                        ${item.FileName}${item.FileExtension}
                                                    </td>
                                                    <td>
                                                        <span class="stack-title">閱覽檔案等級</span>
                                                        ${item.LevelName}
                                                    </td>
                                                    <td>
                                                        <span class="stack-title">檔案類型</span>
                                                        ${TypeName(`ProjectFile.FileType`, item.FileType)}
                                                    </td>
                                                    <td><span class="stack-title">上傳時間</span>${item.CreateDate}</td>
                                                  </tr>`;
                                }
                            });
                        }
                        else {
                            innerHtml = `<tr><td class="text-center" colspan="5" style="background-color: #fff3cd;"><i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。</td></tr>`;
                        }
                    }
                    else {
                        alert(data.msg, "alert", 0);
                    }
                }

                $("#tblFileData@(itemName) tbody").html(innerHtml);
                TableComponentInit();
            });
        }

        function SstTaskUserAuthority@(itemName)() {
            let targetUrl = "@Url.Action("GetTaskUserAuthority", "Task")";
            let postData = {
                TaskId: $(objTaskId@(itemName)).val(),
                TaskType: taskType@(itemName)
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                $("#projectAuthority").val(JSON.stringify(data.result));
                ProjectAuthorityControl();
                projectAuthority@(itemName) = data.result;
                canEdit@(itemName) = projectAuthority@(itemName).filter(f => f.AuthorityCode === 'task-member-update' && f.Authority === 1).length > 0;
                canAdd@(itemName) = projectAuthority@(itemName).filter(f => f.AuthorityCode === 'task-member-add' && f.Authority === 1).length > 0;
                canDelete@(itemName) = projectAuthority@(itemName).filter(f => f.AuthorityCode === 'task-member-delete' && f.Authority === 1).length > 0;
            } else {
                alert(data.msg, "alert", 0);
            }
        }

        function Forbidden@(itemName)() {
            swal.fire({
                title: "功能尚未開放!",
                icon: "error"
            });
        }
</script>)