
@using Business_Manager.Helpers
@{
    string itemName = "AutomaticProgramminSetting";
    string itemNameText = "加工編程參數設定";
    string authority = ViewBag.authority;
}

@Html.Resource("css",
    @<style>
         .help-block {
             display: none;
             margin: 5px 0 0;
             border: 3px dashed #b1b1b1;
             border-radius: 5px;
             padding: 5px 10px;
         }

         dt {
             float: left;
             clear: left;
             width: 110px;
         }

             dt::after {
                 content: "：";
             }

         dd {
             margin: 0 0 0 80px;
             padding: 0;
             color: #36a2f5;
             font-weight: bold;
         }
    </style>
                )
<input type="hidden" id="pageAuthority" value="@authority" />
<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>
<!--搜尋-->
<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">公司名稱</label>
                            <div class="col-12">
                                <select class="form-control" id="cboCompanyQ@(itemName)" name="cboCompanyQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">生產模式</label>
                            <div class="col-12">
                                <select class="form-control" id="cboProdModeQ@(itemName)" name="cboProdModeQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row" id="ProcessQ@(itemName)">
                            <label class="col-12 col-form-label">生產製程</label>
                            <div class="col-12">
                                <select class="form-control" id="cboProcessQ@(itemName)" name="cboProcessQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtCncProgNameQ@(itemName)">CNC編程名稱</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtCncProgNameQ@(itemName)" name="txtCncProgNameQ@(itemName)" placeholder="請輸入CNC編程名稱">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtCncProgApiQ@(itemName)">CNC編程API名稱</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtCncProgApiQ@(itemName)" name="txtCncProgApiQ@(itemName)" placeholder="請輸入CNC編程API名稱">
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>
<!--列表-->
<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);"><i class="fal fa-search"></i>搜尋</a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn btn-info auth-add" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="max-width: 75px;">#</th>
                                        <th scope="col" style="max-width: 200px;">公司別</th>
                                        <th scope="col" style="max-width: 200px;">生產模式</th>
                                        <th scope="col" style="max-width: 200px;">製程</th>
                                        <th scope="col" style="max-width: 200px;">CNC編程名稱</th>
                                        <th scope="col" style="max-width: 200px;">CNC編程API名稱</th>
                                        <th class="text-center" scope="col" style="max-width: 125px;">狀態</th>
                                        <th class="text-center" scope="col" style="max-width: 250px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--新增/編輯-->
<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <div class="row">
                            <div class="col-lg-6 col-md-12 ">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtCompany@(itemName)">公司名稱<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select class="form-control" id="cboCompany@(itemName)" name="cboCompany@(itemName)" required></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 ">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtProdMode@(itemName)">生產模式<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select class="form-control" id="cboProdMode@(itemName)" name="cboProdMode@(itemName)" required></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 " id="Process@(itemName)">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtrocess@(itemName)">生產製程<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <select class="form-control" id="cboProcess@(itemName)" name="cboProcess@(itemName)" required></select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtCncProgName@(itemName)">CNC編程名稱<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <input type="text" class="form-control" id="txtCncProgName@(itemName)" name="txtCncProgName@(itemName)"
                                               placeholder="請輸入CNC編程名" data-rule-required="true" onkeyup="this.value=this.value.replace(/[, ]/g,'')"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtCncProgApi@(itemName)">CNC編程API名稱<span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <input type="text" class="form-control" id="txtCncProgApi@(itemName)" name="txtCncProgApi@(itemName)"
                                               placeholder="請輸入CNC編程API名稱" data-rule-required="true" onkeyup="this.value=this.value.replace(/[, ]/g,'')"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>
<!--其他分頁-->
<div class="advanced-block">
    <div class="row">
        <div class="col-12">
            <ul class="nav flag-tabs nav-fill" role="tablist">
                <li class="flag-item">
                    <a class="flag-link  active" data-toggle="tab" href="#tabCncParameterSetting">
                        <i class="fas fa-sliders-h"></i> 加工參數
                    </a>
                </li>
                <li class="flag-item">
                    <a class="flag-link" data-toggle="tab" href="#tabCncProgramKnifeSetting">
                        <i class="fas fa-cogs"></i> 加工刀具
                    </a>
                </li>
                <li class="flag-item">
                    <a class="flag-link" data-toggle="tab" href="#tabCncProgramFileSetting">
                        <i class="fas fa-cogs"></i> 編程檔案
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane active" id="tabCncParameterSetting">
            @Html.Partial("ViewCncParameterSetting")
        </div>
        <div class="tab-pane" id="tabCncProgramKnifeSetting">
            @Html.Partial("ViewCncProgramKnifeSetting")
        </div>
        <div class="tab-pane" id="tabCncProgramFileSetting">
            @Html.Partial("ViewCncProgramFileSetting")
        </div>
    </div>
</div>
@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        $(document).ready(function () {
            if (!isMobile) {                
                $("#cboCompanyQ@(itemName)").select2({
                    width: "100%"
                });                
                $("#cboProdModeQ@(itemName)").select2({
                    width: "100%"
                });                
                $("#cboProcessQ@(itemName)").select2({
                    width: "100%"
                });
            }
            ComboBoxs.Default("#cboCompanyQ@(itemName)", "@Url.Action("GetCompany", "BasicInformation")", {}, "", "ALL", "", "CompanyName", "CompanyId");

        });

        $("#cboCompanyQ@(itemName)").change(function () {          
            ComboBoxs.Default("#cboProdModeQ@(itemName)", "@Url.Action("GetCompanyProdMode", "MesBasicInformation")", { "CompanyId": $("#cboCompanyQ@(itemName)").val() }, "", "ALL", "", "txtProdModeWithText", "ModeId");           
            $("#ProcessQ@(itemName)").hide();
        });
        $("#cboProdModeQ@(itemName)").change(function () {
            $("#ProcessQ@(itemName)").show();
            ComboBoxs.Default("#cboProcessQ@(itemName)", "@Url.Action("GetProcessParameter", "MesBasicInformation")", { "ModeId": $("#cboProdModeQ@(itemName)").val() }, "", "ALL", "", "ProcessName", "ProcessId");
        });

        function Edit@(itemName)() {
            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");
            if (!isMobile) {
                $("#cboCompany@(itemName)").select2({
                    width: "100%"
                });               
                $("#cboProdMode@(itemName)").select2({
                    width: "100%"
                });                
                $("#cboProcess@(itemName)").select2({
                    width: "100%"
                });                
            }
            ComboBoxs.Default("#cboCompany@(itemName)", "@Url.Action("GetCompany", "BasicInformation")", {}, "", "ALL", "", "CompanyName", "CompanyId");
            ComboBoxs.Default("#cboProdMode@(itemName)", "@Url.Action("GetCompanyProdMode", "MesBasicInformation")", {}, "", "ALL", "", "txtProdModeWithText", "ModeId");
            ComboBoxs.Default("#cboProcess@(itemName)", "@Url.Action("GetProcessParameter", "MesBasicInformation")", {}, "", "ALL", "", "ProcessName", "ProcessId");

            $("#cboCompany@(itemName)").change(function () {          
                ComboBoxs.Default("#cboProdMode@(itemName)", "@Url.Action("GetCompanyProdMode", "MesBasicInformation")", { "CompanyId": $("#cboCompany@(itemName)").val() }, "", "ALL", "", "txtProdModeWithText", "ModeId");           
                $("#Process@(itemName)").hide();
            });
            $("#cboProdMode@(itemName)").change(function () {
                $("#Process@(itemName)").show();
                ComboBoxs.Default("#cboProcess@(itemName)", "@Url.Action("GetProcessParameter", "MesBasicInformation")", { "ModeId": $("#cboProdMode@(itemName)").val() }, "", "ALL", "", "ProcessName", "ProcessId");
            });
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let targetUrl = "@Url.Action("AddCncProgram", "MasterCam")";
                let postData = {
                    "ProcessId": $("#cboProcess@(itemName)").val(),
                    "CncProgName": $("#txtCncProgName@(itemName)").val(),
                    "CncProgApi": $("#txtCncProgApi@(itemName)").val()                 
                };
                let data = DataAccess.EditContinued(targetUrl, postData, false);

                if (data) {
                    let cncProgId;
                    $.each(data.result, function (i, item) {
                        cncProgId = item.CncProgId
                    });
                    ExpandProgramSetting(cncProgId);
                }
            }
        }

        function ExpandProgramSetting(cncProgId) {
            $(".advanced-block").slideDown("long");
            $("#listDataViewCncParameterSetting").show();
            cncProgIdViewCncParameterSetting= cncProgId;
        }

        function Return@(itemName)() {
            Switch("#listData@(itemName)", "#editData@(itemName), .unit-block");
            ResetForm(objForm@(itemName));
            $(".advanced-block").hide();  
            Query@(itemName)();
        }
    </script>
)