
@using Business_Manager.Helpers   
@{
    string itemName = "CncProgramLog";
    string itemNameText = "加工編程資料管理";
    string authority = ViewBag.authority;
}

@Html.Resource("css",
    @<style>
         .help-block {
             display: none;
             margin: 5px 0 0;
             border: 3px dashed #b1b1b1;
             border-radius: 5px;
             padding: 5px 10px;
         }

         dt {
             float: left;
             clear: left;
             width: 110px;
         }

             dt::after {
                 content: "：";
             }

         dd {
             margin: 0 0 0 80px;
             padding: 0;
             color: #36a2f5;
             font-weight: bold;
         }
    </style>
                                        )
<input type="hidden" id="pageAuthority" value="@authority" />
<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>
<!--搜尋-->
<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <fieldset>
                    <div class="form-group row">
                        <label class="col-12 col-form-label">公司名稱</label>
                        <div class="col-12">
                            <select class="form-control" id="cboCompanyQ@(itemName)" name="cboCompanyQ@(itemName)"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-12 col-form-label">生產模式</label>
                        <div class="col-12">
                            <select class="form-control" id="cboProdModeQ@(itemName)" name="cboProdModeQ@(itemName)"></select>
                        </div>
                    </div>
                    <div class="form-group row" id="ProcessQ@(itemName)">
                        <label class="col-12 col-form-label">生產製程</label>
                        <div class="col-12">
                            <select class="form-control" id="cboProcessQ@(itemName)" name="cboProcessQ@(itemName)"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-12 col-form-label" for="txtCncProgNameQ@(itemName)">CNC編程名稱</label>
                        <div class="col-12">
                            <input type="text" class="form-control" id="txtCncProgNameQ@(itemName)" name="txtCncProgNameQ@(itemName)" placeholder="請輸入CNC編程名稱">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-12 col-form-label" for="txtCncProgApiQ@(itemName)">CNC編程API名稱</label>
                        <div class="col-12">
                            <input type="text" class="form-control" id="txtCncProgApiQ@(itemName)" name="txtCncProgApiQ@(itemName)" placeholder="請輸入CNC編程API名稱">
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>
<!--列表-->
<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);"><i class="fal fa-search"></i>搜尋</a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn btn-info auth-add" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="max-width: 75px;">#</th>
                                        <th scope="col" style="max-width: 150px;">公司別</th>
                                        <th scope="col" style="max-width: 150px;">生產模式</th>
                                        <th scope="col" style="max-width: 150px;">品名</th>
                                        <th scope="col" style="max-width: 150px;">製令</th>
                                        <th scope="col" style="max-width: 200px;">製程</th>
                                        <th scope="col" style="max-width: 200px;">機台</th>
                                        <th scope="col" style="max-width: 200px;">編程人員</th>
                                        <th scope="col" style="max-width: 200px;">開工日期</th>
                                        <th scope="col" style="max-width: 200px;">完工日期</th>
                                        <th class="text-center" scope="col" style="max-width: 250px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--新增/編輯-->
<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container" autocomplete="off" id="editForm@(itemName)">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group row">
                                <label class="form-label col-12" for="txtMo@(itemName)">製令<span class="text-danger">*</span></label>
                                <div class="col-12">
                                    <input type="text" class="form-control" id="txtMo@(itemName)" name="txtMo@(itemName)"
                                           placeholder="請輸入製令" data-rule-required="true" onkeyup="this.value=this.value.replace(/[, ]/g,'')" />
                                </div>
                            </div>
                            <div class="form-group row" style="display:none" id="txtWoSeqDiv@(itemName)">
                                <label class="form-label col-12" for="txtWoSeq@(itemName)">MES製令序號<span class="text-danger">*</span></label>
                                <div class="col-12">
                                    <input type="number" class="form-control" id="txtWoSeq@(itemName)" name="txtWoSeq@(itemName)"
                                           placeholder="請輸入製令序號" data-rule-required="true" onkeyup="this.value=this.value.replace(/[, ]/g,'')" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="divMoInfo">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group row">
                                <div class="col-12">
                                    <input type="hidden" id="txtMoId@(itemName)" name="txtMoId@(itemName)" />
                                    <dl class="help-block">
                                        <dt>製令</dt>
                                        <dd id="desWoErpFullNo@(itemName)"></dd>
                                        <dt>品號</dt>
                                        <dd id="desMtlItemNo@(itemName)"></dd>
                                        <dt>品名</dt>
                                        <dd id="desMtlItemName@(itemName)"></dd>
                                        <dt>規格</dt>
                                        <dd id="desMtlItemSpec@(itemName)"></dd>
                                        <dt>預計產量</dt>
                                        <dd id="desPlanQty@(itemName)"></dd>
                                    </dl>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12">
                                    <dl class="help-block">
                                        <table class="table table-bordered table-striped table-sticky" id="desFile@(itemName)">
                                            <thead>
                                                <tr>
                                                    <th scope="col" style="max-width: 150px;">製令JOM</th>
                                                    <th scope="col" style="max-width: 150px;">製令2D圖</th>
                                                    <th scope="col" style="max-width: 150px;">製令2D PDF</th>
                                                    <th scope="col" style="max-width: 150px;">製令3D圖</th>
                                                    <th scope="col" style="max-width: 150px;">研發版次</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group row">
                                <label class="form-label col-12" for="txtMoProcess@(itemName)">製程<span class="text-danger">*</span></label>
                                <div class="col-12">
                                    <select class="form-control" id="cboMoProcess@(itemName)" name="cboMoProcess@(itemName)"></select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group row">
                                <label class="form-label col-12" for="txtCncProgram@(itemName)">編程<span class="text-danger">*</span></label>
                                <div class="col-12">
                                    <select class="form-control" id="cboCncProgram@(itemName)" name="cboCncProgram@(itemName)"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group row">
                                <label class="form-label col-12" for="txtProcessMachine@(itemName)">機台<span class="text-danger">*</span></label>
                                <div class="col-12">
                                    <select class="form-control" id="cboProcessMachine@(itemName)" name="cboProcessMachine@(itemName)"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group row">
                                <label class="form-label col-12" for="txtCncWorkType@(itemName)">報工性質<span class="text-danger">*</span></label>
                                <div class="col-12">
                                    <select class="form-control" id="cboCncWorkType@(itemName)" name="cboCncWorkType@(itemName)"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>
<!--其他分頁-->
<div class="advanced-block">
    <div class="row">
        <div class="col-12">
            <ul class="nav flag-tabs nav-fill" role="tablist">
                <li class="flag-item" id="ViewCncParameterLog">
                    <a class="flag-link active" data-toggle="tab" href="#tabViewCncParameterLog" id="CncParameterLog">
                        <i class="fas fa-sliders-h"></i> 加工參數
                    </a>
                </li>
                <li class="flag-item" id="ViewCncProgramWorkLog">
                    <a class="flag-link" data-toggle="tab" href="#tabViewCncProgramWorkLog" id="CncProgramWorkLog">
                        <i class="fas fa-cogs"></i> 編程報工
                    </a>
                </li>
                <li class="flag-item" id="ViewCncDirectWorkLog">
                    <a class="flag-link active" data-toggle="tab" href="#tabViewCncDirectWorkLog">
                        <i class="fas fa-user-edit"></i> 直接報工
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane active" id="tabViewCncParameterLog">
            @Html.Partial("ViewCncParameterLog")
        </div>
        <div class="tab-pane" id="tabViewCncProgramWorkLog">
            @Html.Partial("ViewCncProgramWorkLog")
        </div>
        <div class="tab-pane active" id="tabViewCncDirectWorkLog">
            @Html.Partial("ViewCncDirectWorkLog")
        </div>
    </div>
</div>

@Html.Partial("PreviewUploadData")
@Html.Partial("PreviewHistoryData")
@Html.Partial("ViewUploadFile")
@Html.Partial("ViewParameterHistoryData")
@Html.Partial("ViewEditWorkTime")
@Html.Resource("js",
@<script>
    let objPage@(itemName) = {
        "pageIndex": 0,
        "pageSize": 10
    };
    let objForm@(itemName) = "#editForm@(itemName)";
    let cncProgLogId = -1;
    let JmoFileId@(itemName) = -1;
    let StartDate="",StartTime = "",EndDate="", EndTime="";
    let CncProgId@(itemName) = -1;//CncProgId
    let MachineId@(itemName) = -1;//MachineId
    let MoProcessId@(itemName) = -1;//MoProcessId


    $(document).ready(function () {
        if (!isMobile) {
            $("#cboUom@(itemName)").select2({
                width: "100%"
            });
        }
        ComboBoxs.Default("#cboCncWorkType@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "CncWorkType" }, "", "NA", "", "TypeName", "TypeNo");
        Query@(itemName)()
    });

     $("#txtMo@(itemName)").keypress(function (event) {
        var keycode = (event.keyCode ? event.keyCode : event.which);
         if (keycode == '13') {
            if ($("#txtMo@(itemName)").val() == "") {
                alert("製令不可為空", "alert", 0);
            } else {
                if ($("#txtMo@(itemName)").val() % 1 == 0) {
                    MoInfo@(itemName)($("#txtMo@(itemName)").val(),"",-1);
                    MoDsInfo@(itemName)($("#txtMo@(itemName)").val(), "", -1);
                    CboMoProcess@(itemName)($("#txtMo@(itemName)").val());
                } else {
                    $("#txtWoSeqDiv@(itemName)").show();
                }
            }
        }
    });

    $("#cboMoProcess@(itemName)").change(function () {
        CboCncProgram@(itemName)($("#cboMoProcess@(itemName)").val());
        CboProcessMachine@(itemName)($("#cboMoProcess@(itemName)").val());
    });

    $("#txtWoSeqDiv@(itemName)").keypress(function (event) {
    var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
            if ($("#txtMo@(itemName)").val() == "") {
                alert("製令不可為空", "alert", 0);
            } else {
                if ($("#txtWoSeq@(itemName)").val() == "") {
                    alert("MES製令序號不可為空", "alert", 0);
                } else {
                    MoInfo@(itemName)(-1, $("#txtMo@(itemName)").val(), $("#txtWoSeq@(itemName)").val());
                    MoDsInfo@(itemName)(-1,$("#txtMo@(itemName)").val(), $("#txtWoSeq@(itemName)").val());
                }
            }
        }
    });

    function MoInfo@(itemName)(MoId, WoErpNo, WoSeq) {
        const WoErpNoArray = WoErpNo.split("-");
        let targetUrl = "@Url.Action("GetManufactureOrder", "Production")";
        let postData = {
            "MoId": MoId,
            "WoErpPrefix": WoErpNoArray[0],
            "WoErpNo": WoErpNoArray[1],
            "WoSeq": WoSeq
        };
        let data = DataAccess.Get(targetUrl, postData, false);
        if (data.status == "success") {
            $(".help-block").show();
            $.each(data.result, function (i, item) {
                $("#txtMoId@(itemName)").val(item.MoId);
                $("#desWoErpFullNo@(itemName)").html(item.WoErpPrefix + "-" + item.WoErpNo);
                $("#desMtlItemNo@(itemName)").html(item.MtlItemNo);
                $("#desMtlItemName@(itemName)").html(item.MtlItemName);
                $("#desMtlItemSpec@(itemName)").html(item.MtlItemSpec);
                $("#desPlanQty@(itemName)").html(item.PlanQty);
            });
            $("#txtWoSeqDiv@(itemName)").hide();
            CboMoProcess@(itemName)($("#txtMoId@(itemName)").val());
        } else {
            alert(data.msg, "alert", 0);
        }
    }

    function MoDsInfo@(itemName)(MoId, WoErpNo, WoSeq) {
        let OtherInfo = WoErpNo + "(" + WoSeq + ")";
        let innerHtml = '';
        let pageCount = 0;
        let targetUrl = "@Url.Action("GetMoRdDesign", "MasterCam")";
        let postData = {
            "MoId": MoId,
            "OtherInfo": OtherInfo
        };
        let data = DataAccess.Get(targetUrl, postData, false);
        if (data.status == "success") {
            pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;
            if (pageCount>0) {
            $(".help-block").show();

            $.each(data.result, function (i, item) {
                innerHtml += `<tr>
                    ${JudgeJmoFile(item.JmoFile,item.JmoFileAbsolutePath)}
                    ${JudgeCad2DFile(item.Cad2DFile,item.Cad2DFileAbsolutePath)}
                    ${JudgePdf2DFile(item.Pdf2DFile,item.Pdf2DFileAbsolutePath)}
                    ${JudgeCad3DFile(item.Cad3DFile, item.Cad3DFileAbsolutePath)}
                        <td class="text-center active-content" title="${item.Edition}" style="max-width: 250px;">
                        <a class="active-link mr-1" "> ${item.Edition}</a>
                        </td>
                    </tr>
                    `;
                    });
            } else {
                innerHtml += `<tr>
                                    <td class="text-center" colspan="5" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
            }

        } else {
            alert(data.msg, "alert", 0);
        }

        function JudgeJmoFile(JmoFile, JmoFileAbsolutePath) {
            let innerHtml = '';
            if (JmoFileAbsolutePath == null && JmoFile != null) {
                let jmoFile = JSON.parse(JmoFile);
                $.each(jmoFile.data, function (i, item) {
                    innerHtml += `<td class="active-content ellipsis" data-toggle="tooltip" title="${item.FileInfo}" style="max-width: 250px;">
                                                    <a class="active-link mr-1" href="/Drawing/GetPdmFile?fileId=${item.FileId}"><i class="fas fa-download"></i></a>
                                                    ${item.FileInfo}
                                                    </td>`;
                    JmoFileId@(itemName) = item.FileId;
                });
            } else if (JmoFileAbsolutePath != null && JmoFile == null){
                let fileFullNameList = JmoFileAbsolutePath.split('\\');
                let fileFullName = fileFullNameList[fileFullNameList.length - 1];
                fileFullName = ChangeASCII@(itemName)(fileFullName);
                innerHtml += `<td class="active-content ellipsis" data-toggle="tooltip" title="${fileFullName}" style="max-width: 250px;">
                                <a class="active-link mr-1" href="/Drawing/GetCadFile?FilePath=${JmoFileAbsolutePath}"><i class="fas fa-download"></i></a>
                                ${fileFullName}
                                </td>`;
                    JmoFileId@(itemName) = JmoFileAbsolutePath;
            }else {
                innerHtml += `<td class="text-center" style="background-color: #fff3cd;">
                                        <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>`;
                    JmoFileId@(itemName) = -1;
            }
            return innerHtml;
        }

        function JudgeCad2DFile(Cad2DFile, Cad2DFileAbsolutePath) {
            let innerHtml = '';
            if (Cad2DFileAbsolutePath == null && Cad2DFile != null) {
                let cad2DFile = JSON.parse(Cad2DFile);
                $.each(cad2DFile.data, function (i, item) {
                    innerHtml += `<td class="active-content ellipsis" data-toggle="tooltip" title="${item.FileInfo}" style="max-width: 250px;">
                                                <a class="active-link mr-1" href="/Drawing/GetPdmFile?fileId=${item.FileId}"><i class="fas fa-download"></i></a>
                                                ${item.FileInfo}
                                                </td>`;
                });
            } else if (Cad2DFileAbsolutePath != null && Cad2DFile == null){
                let fileFullNameList = Cad2DFileAbsolutePath.split('\\');
                    let fileFullName = fileFullNameList[fileFullNameList.length - 1];
                    fileFullName = ChangeASCII@(itemName)(fileFullName);
                    innerHtml += `<td class="active-content ellipsis" data-toggle="tooltip" title="${fileFullName}" style="max-width: 250px;">
                                    <a class="active-link mr-1" href="/Drawing/GetCadFile?FilePath=${Cad2DFileAbsolutePath}"><i class="fas fa-download"></i></a>
                                    ${fileFullName}
                                    </td>`;
            } else {
                innerHtml += `<td class="text-center" style="background-color: #fff3cd;">
                                        <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>`;
            }
            return innerHtml;
        }

        function JudgePdf2DFile(Pdf2DFile, Pdf2DFileAbsolutePath) {
            let innerHtml = '';
            if (Pdf2DFileAbsolutePath == null && Pdf2DFile != null) {
                let pdf2DFile = JSON.parse(Pdf2DFile);
                $.each(pdf2DFile.data, function (i, item) {
                    innerHtml += `<td class="active-content ellipsis" data-toggle="tooltip" title="${item.FileInfo}" style="max-width: 250px;">
                                                <a class="active-link mr-1" href="/Drawing/GetPdmFile?fileId=${item.FileId}"><i class="fas fa-download"></i></a>
                                                ${item.FileInfo}
                                                </td>`;
                });

            } else if (Pdf2DFileAbsolutePath != null && Pdf2DFile == null) {
                let fileFullNameList = Pdf2DFileAbsolutePath.split('\\');
                    let fileFullName = fileFullNameList[fileFullNameList.length - 1];
                    fileFullName = ChangeASCII@(itemName)(fileFullName);
                    innerHtml += `<td class="active-content ellipsis" data-toggle="tooltip" title="${fileFullName}" style="max-width: 250px;">
                                    <a class="active-link mr-1" href="/Drawing/GetCadFile?FilePath=${Pdf2DFileAbsolutePath}"><i class="fas fa-download"></i></a>
                                    ${fileFullName}
                                    </td>`;
            } else {
                innerHtml += `<td class="text-center" style="background-color: #fff3cd;">
                                        <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>`;
            }
            return innerHtml;
        }

        function JudgeCad3DFile(Cad3DFile, Cad3DFileAbsolutePath) {
            let innerHtml = '';
            if (Cad3DFileAbsolutePath == null && Cad3DFile != null) {
                let cad3DFile = JSON.parse(Cad3DFile);
                $.each(cad3DFile.data, function (i, item) {
                    innerHtml += `<td class="active-content ellipsis" data-toggle="tooltip" title="${item.FileInfo}" style="max-width: 250px;">
                                                <a class="active-link mr-1" href="/Drawing/GetPdmFile?fileId=${item.FileId}"><i class="fas fa-download"></i></a>
                                                ${item.FileInfo}
                                                </td>`;
                });

            } else if (Cad3DFileAbsolutePath != null && Cad3DFile == null){
                let fileFullNameList = Cad3DFileAbsolutePath.split('\\');
                    let fileFullName = fileFullNameList[fileFullNameList.length - 1];
                    fileFullName = ChangeASCII@(itemName)(fileFullName);
                    innerHtml += `<td class="active-content ellipsis" data-toggle="tooltip" title="${fileFullName}" style="max-width: 250px;">
                                    <a class="active-link mr-1" href="/Drawing/GetCadFile?FilePath=${Cad3DFileAbsolutePath}"><i class="fas fa-download"></i></a>
                                    ${fileFullName}
                                    </td>`;
            } else {
                innerHtml += `<td class="text-center" style="background-color: #fff3cd;">
                                        <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>`;
            }
            return innerHtml;
        }

        $("#desFile@(itemName) tbody").html(innerHtml);
        $("#txtWoSeqDiv@(itemName)").hide();

    }

    function CboMoProcess@(itemName)(MoId) {
        if (!isMobile) {
            $("#cboMoProcess@(itemName)").select2({
                width: "100%"
            });
        }
        ComboBoxs.Default("#cboMoProcess@(itemName)", "@Url.Action("GetMoProcess", "MasterCam")", { "MoId": MoId }, "", "ALL", "", "ProcessName", "MoProcessId");
    }

    function CboCncProgram@(itemName)(MoProcessId) {
        if (!isMobile) {
            $("#cboCncProgram@(itemName)").select2({
                width: "100%"
            });
        }
        ComboBoxs.Default("#cboCncProgram@(itemName)", "@Url.Action("GetCncProgram", "MasterCam")", { "MoProcessId": MoProcessId }, "", "ALL", "", "CncProgName", "CncProgId");
    }

    function CboProcessMachine@(itemName)(MoProcessId) {
        if (!isMobile) {
            $("#cboProcessMachine@(itemName)").select2({
                width: "100%"
            });
        }
        ComboBoxs.Default("#cboProcessMachine@(itemName)", "@Url.Action("GetProcessMachine", "MasterCam")", { "MoProcessId": MoProcessId }, "", "ALL", "", "MachineDesc", "MachineId");
    }

    function Query@(itemName)() {
        InitData@(itemName)(objPage@(itemName));
    }

    function InitData@(itemName)(objPage) {
        let innerHtml = '';
        let pageCount = 0;
        let targetUrl = "@Url.Action("GetCncProgramWork", "MasterCam")";
        let postData = {
            "OrderBy": "",
            "PageIndex": (objPage.pageIndex + 1),
            "PageSize": objPage.pageSize
        };
        let data = DataAccess.Get(targetUrl, postData, false);
        if (data.status == "success") {
            pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;
            if (pageCount > 0) {
                objPage = PageCaculate(pageCount, objPage);
                $.each(data.result, function (i, item) {
                    let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";
                    innerHtml += `<tr>
                                        <td style="max-width: 75px;">${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.CompanyName}" style="max-width: 200px;">${item.CompanyName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ModeName}" style="max-width: 200px;">${item.ModeName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MtlItemName}" style="max-width: 200px;">${item.MtlItemName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ErpNo}" style="max-width: 200px;">${item.ErpNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ProcessAlias}" style="max-width: 200px;">${item.ProcessAlias}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MachineDesc}" style="max-width: 200px;">${item.MachineDesc}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.UserName}" style="max-width: 200px;">${item.UserName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.StartWorkDate}" style="max-width: 200px;">${item.StartWorkDate}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.EndWorkDate}" style="max-width: 200px;">${item.EndWorkDate}</td>
                                        <td class="text-center col-sticky">
                                          <a class="active-link auth-update" title="修改工時" href="javascript:EditWorkTime@(itemName)('${item.CncProgramWorkId}');"><i class="fas fa-edit"></i></a>
                                          <a class="active-link auth-delete" title="刪除" href="javascript:Delete@(itemName)('${item.CncProgramWorkId}');"><i class="fas fa-trash-alt"></i></a>
                                          <a class="active-link auth-download" title="上傳檔案預覽" href="javascript:PreviewUploadData@(itemName)('${item.CncProgramWorkId}');"><i class="fas fa-file-search"></i></a>
                                          <a class="active-link auth-read" title="參數追蹤" href="javascript:PreviewHistoryData@(itemName)('${item.CncProgramWorkId}');"><i class="fas fa-files-medical"></i></a>
                                        </td>
                                    </tr>`;
                });
            } else {
                innerHtml += `<tr>
                                <td class="text-center" colspan="12" style="background-color: #fff3cd;">
                                    <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                </td>
                                </tr>`;
            }
        } else {
            alert(data.msg, "alert", 0);
        }
        $("#tblData@(itemName) tbody").html(innerHtml);
        TableComponentInit();
        Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));
    }

    function Edit@(itemName)() {
        Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");
    }

    function Save@(itemName)() {
        Expand@(itemName)();
    }

    function Expand@(itemName)() {
        if ($("#cboMoProcess@(itemName)").val() == -1) {
            alert("製程不可為空");
        } else if ($("#cboCncProgram@(itemName)").val() == -1) {
            alert("編程不可為空");
        } else if ($("#cboProcessMachine").val() == -1) {
            alert("機台不可為空");
        } else {
            if ($("#cboCncWorkType@(itemName)").val() == 2) {
                $("#ViewCncDirectWorkLog").show();
                $("#tabViewCncDirectWorkLog").show();

                $("#ViewCncParameterLog").hide();
                $("#tabViewCncParameterLog").hide();

                $("#ViewCncProgramWorkLog").hide();
                $("#tabViewCncProgramWorkLog").hide();
                let tmSetting = {
                    format: "HH:mm",
                    autoswitch: true,
                    meridians: false,
                    mousewheel: false,
                    init_animation: "fadeIn",
                    setCurrentTime: false,
                    customClass: "custom-timedropper"
                }
                $(".td-wrap").remove();
                $("#txtWorkBeginTimeViewCncDirectWorkLog").timeDropper(tmSetting);
                $("#txtWorkEndTimeViewCncDirectWorkLog").timeDropper(tmSetting);

            } else {
                $("#ViewCncDirectWorkLog").hide();
                $("#tabViewCncDirectWorkLog").hide();

                $("#ViewCncParameterLog").show();
                $("#tabViewCncParameterLog").show();

                $("#ViewCncProgramWorkLog").show();
                $("#tabViewCncProgramWorkLog").show();
            }
            $(".advanced-block").slideDown("long");

            $("#editDataViewCncParameterLog").show();
            $("#editDataViewCncProgramWorkLog").hide();

            MakeFormMachineToolViewCncParameterLog($("#cboCncProgramCncProgramLog").val(), $("#cboProcessMachineCncProgramLog").val());
            MakeFormViewCncParameterLog($("#cboCncProgramCncProgramLog").val());
            StartDate = new Date().getFullYear() + "-" + (new Date().getMonth()+1) + "-" + new Date().getDate();
            StartTime = new Date().getHours() + ":" + new Date().getMinutes() + ":" + new Date().getSeconds();
        }
    }

    $("#ViewCncParameterLog").click(function () {
        $("#editDataViewCncProgramWorkLog").hide();
        $("#SaveViewCncParameterLog").hide();
    });
    $("#ViewCncProgramWorkLog").click(function () {
        $("#editDataViewCncProgramWorkLog").show();
    });

    function PreviewUploadData@(itemName)(CncProgramWorkId) {
        $("#modalPreviewUploadData").modal({ backdrop: 'static', keyboard: false }, 'show');
        InitWorkFilesPreviewUploadData(CncProgramWorkId);
    }

    function Delete@(itemName)(CncProgramWorkId) {
        swal.fire({
            titleText: "確認要刪除嗎?",
            text: "此動作無法復原，請確認是否要執行!",
            icon: "warning",
            allowOutsideClick: false,
            allowEscapeKey: false,
            showCancelButton: true,
            confirmButtonColor: '#d33',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                let targetUrl = "@Url.Action("DeleteCncProgramWork", "MasterCam")";
                let postData = {
                    "CncProgramWorkId": CncProgramWorkId
                };
                let result = DataAccess.Delete(targetUrl, postData, false, true);
                if (result) {
                    Query@(itemName)();
                }
            }
         });
    }

    //修改工時
    function EditWorkTime@(itemName)(CncProgramWorkId) {
        $("#modalViewEditWorkTime").modal({ backdrop: 'static', keyboard: false }, 'show');
        InitDataViewEditWorkTime(CncProgramWorkId);
    }

    function PreviewHistoryData@(itemName)(CncProgramWorkId) {
        $("#modalViewParameterHistoryData").modal({ backdrop: 'static', keyboard: false }, 'show');
        QueryViewParameterHistoryData(CncProgramWorkId);
    }

    function Return@(itemName)() {
        @*

        if (!isMobile) {
            $("#cboMoProcess@(itemName)").select2({
                width: "100%"
            });
            $("#cboProcessMachine@(itemName)").select2({
                width: "100%"
            });
            $("#cboCncProgram@(itemName)").select2({
                width: "100%"
            });
        }

        ComboBoxs.Default("#cboMoProcess@(itemName)", "@Url.Action("GetMoProcess", "MasterCam")", {}, "", "NA", "", "ProcessName", "MoProcessId");
        ComboBoxs.Default("#cboCncProgram@(itemName)", "@Url.Action("GetCncProgram", "MasterCam")", {}, "", "NA", "", "CncProgName", "CncProgId");
        ComboBoxs.Default("#cboProcessMachine@(itemName)", "@Url.Action("GetProcessMachine", "MasterCam")", {}, "", "NA", "", "MachineName", "MachineId");
*@
        ResetForm(objForm@(itemName));
        Switch("#listData@(itemName)", "#editData@(itemName), .unit-block");
        $(".advanced-block").hide();
        $(".help-block").hide();
        Query@(itemName)();
    }

    function TimeDifference(startDateTime, endDateTime) {
        var begin1 = startDateTime.substr(0, 10).split("-");
        var date1 = new Date(begin1[1] + '-' + begin1[2] + '-' + begin1[0]);
        var end1 = endDateTime.substr(0, 10).split("-");
        var date2 = new Date(end1[1] + '-' + end1[2] + '-' + end1[0]);
        var m = parseInt(Math.abs(date2 - date1) / (1000 * 60 * 60 * 24) * 60 * 60 * 24);
        var s1 = (parseInt(startDateTime.substr(11, 2)) * 60 * 60) + (parseInt(startDateTime.substr(-5, 2)) * 60) + (parseInt(startDateTime.substr(-2)));
        var s2 = parseInt(endDateTime.substr(11, 2)) * 60 * 60 + parseInt(endDateTime.substr(-5, 2)) * 60 + (parseInt(endDateTime.substr(-2)));
        var n = s2 - s1;
        var Second = m + n;
        return Second;
    }

    function ChangeASCII@(itemName)(fileName) {
        if (fileName.indexOf("%2B") != -1) fileName = fileName.replace("%2B", "+");
        if (fileName.indexOf("%2F") != -1) fileName = fileName.replace("%2F", "/");
        if (fileName.indexOf("%3F") != -1) fileName = fileName.replace("%3F", "?");
        if (fileName.indexOf("%23") != -1) fileName = fileName.replace("%23", "#");
        if (fileName.indexOf("%26") != -1) fileName = fileName.replace("%26", "&");
        if (fileName.indexOf("%3D") != -1) fileName = fileName.replace("%3D", "=");

        return fileName;
    }
</script>
)