@using Business_Manager.Helpers
@{
    string itemName = "ViewCncProgramWorkLog";
    string itemNameText = "編程報工";
    string authority = ViewBag.authority;
}
@Html.Resource("css",
    @<style>
         body {
             margin: 0;
         }
    </style>
)
<!--新增/編輯-->
<div class="row" id="editData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-header">
                <h5 class="form-label col-12">加工路徑</h5>
            </div>
            <div class="card-body">
                <div class="col-12">
                    <dl class="help-block">
                        <table class="table table-bordered table-striped table-sticky" id="desNcData@(itemName)">
                            <thead>
                                <tr>
                                    <th scope="col" style="max-width: 150px;">編程LogId</th>
                                    <th scope="col" style="max-width: 150px;">檔名</th>
                                    <th scope="col" style="max-width: 150px;">下載</th>
                                    <th scope="col" style="max-width: 150px;">操作</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </dl>
                </div>
            </div>
            <div class="card-header">
                <h5 class="form-label col-12">訊息回報</h5>
            </div>
            <div class="card-body">
                <div class="col-12">
                    <dl class="help-block">
                        <table class="table table-bordered table-striped table-sticky" id="desMessage@(itemName)">
                            <thead>
                                <tr>
                                    <th scope="col" style="max-width: 150px;">編程LogId</th>
                                    <th scope="col" style="max-width: 150px;">訊息回報</th>
                                    <th scope="col" style="max-width: 150px;">日期</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </dl>
                </div>
            </div>
            <div class="card-header">
                <h5 class="form-label col-12">圖檔下載</h5>
            </div>
            <div class="card-body">
                <div class="col-12">
                    <dl class="help-block">
                        <table class="table table-bordered table-striped table-sticky" id="desDxf@(itemName)">
                            <thead>
                                <tr>
                                    <th scope="col" style="max-width: 150px;">編程LogId</th>
                                    <th scope="col" style="max-width: 150px;">預覽線圖檔</th>
                                    <th scope="col" style="max-width: 150px;">日期</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </dl>
                </div>
            </div>
            <div class="card-header">
                <h5 class="form-label col-12">工時回報</h5>
            </div>
            <div class="card-body">
                <div class="col-12">
                    <fieldset>
                        <div class="row">
                            <div class="col-lg-6 col-md-12 ">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="txtWorkBeginTime@(itemName)">開工時間 <span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <input type="text" class="form-control timedropper" id="txtWorkBeginTime@(itemName)" name="txtWorkBeginTime@(itemName)"
                                               data-msg-required="請輸入開工時間" data-rule-required="true"
                                               data-msg-maxlength="必須少於 8 個字元" maxlength="8" />                                       
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                <div class="form-group row">
                                    <label class="form-label col-12">開工日期</label>
                                    <div class="col-12">
                                        <input type="text" class="form-control" id="txtStartDateQ@(itemName)" name="txtStartDateQ@(itemName)"
                                               data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                               readonly />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-12 ">
                                <div class="form-group row">
                                    <label class="col-12 col-form-label" for="txtWorkEndTime@(itemName)">完工時間 <span class="text-danger">*</span></label>
                                    <div class="col-12">
                                        <input type="text" class="form-control timedropper" id="txtWorkEndTime@(itemName)" name="txtWorkEndTime@(itemName)"
                                               data-msg-required="請輸入開工時間" data-rule-required="true"
                                               data-msg-maxlength="必須少於 8 個字元" maxlength="8" />                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12">
                                
                                                        <div class="form-group row">
                                                            <label class="col-12 col-form-label">完工日期</label>
                                                            <div class="col-12">
                                                                <input type="text" class="form-control" id="txtEndDateQ@(itemName)" name="txtEndDateQ@(itemName)"
                                                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                                                       readonly />
                                                            </div>
                                                        </div>
                                                    </div>
                        </div>
                    </fieldset>
                </div>                
            </div>
            <div class="card-header">
                <h5 class="form-label col-12">圖檔回傳</h5>
            </div>
            <div class="card-body">
                <div class="col-12">
                    <input type="file" id="file@(itemName)" name="file@(itemName)" />
                    <input type="hidden" id="txt@(itemName)" name="txt@(itemName)" />
                </div>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
@<script>
    let CncProgLogId@(itemName)= -1

    $(document).ready(function () {
        let currentDate = new Date();
        Suites.DateDropper("#txtStartDateQ@(itemName),#txtEndDateQ@(itemName)");
        Suites.SetDateDropper("#txtEndDateQ@(itemName)", currentDate);
        Suites.SetDateDropper("#txtStartDateQ@(itemName)", currentDate);

        let uploadConfig2 = {
            fileSelector: "#file@(itemName)",
            targetSelector: "#txt@(itemName)",
            required: false,
            uploadPath: "/MasterCam/ViewCncProgramWorkLog",
            maxFileCount: 10,
            defaultFile: $("#txt@(itemName)").val()
        };
        Suites.FileUpload(uploadConfig2);        
    });

    function InitNcData@(itemName)(cncProgLogId) {
        let innerHtml = '';
        let pageCount = 0;
        let targetUrl = "@Url.Action("GetCncProgramResponsest", "MasterCam")";
        let postData = {
            "CncProgLogId": cncProgLogId,
            "CncParamNo":"toolpath_url"
        };
        let data = DataAccess.Get(targetUrl, postData, false);
        if (data.status == "success") {
            $.each(data.result, function (i, item) {
                innerHtml += `<tr>
                                <td>${item.CncProgLogId}</td>
                                <td>${item.ResponsestValues}</td>
                                ${NcFile(item.FileId, item.ResponsestValues)}
                                <td>
                                    <a class="active-link auth-update" title="修改" href="javascript:uploadNcFile@(itemName)('${item.CncProgResponsestId}','${item.CncProgLogId}');">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                </td>
                              </tr>
                `;
            });
        } else {
            innerHtml += `<tr>
                            <td class="text-center" colspan="3" style="background-color: #fff3cd;">
                                <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                            </td>
                        </tr>`;
        }

        function NcFile(FileId, ResponsestValues) {
            let innerHtml = '';
            if (ResponsestValues != null) {
                innerHtml += `<td class="active-content ellipsis" data-toggle="tooltip" title="${ResponsestValues}" style="max-width: 250px;">
                                                <a class="active-link mr-1" href="/Drawing/GetPdmFile?fileId=${FileId}"><i class="fas fa-download"></i></a>
                                                ${ResponsestValues}
                                                </td>`;
            }
            else {
                innerHtml += `<td class="text-center" style="background-color: #fff3cd;">
                                        <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>`;
            }
            return innerHtml;
        }
        $("#desNcData@(itemName) tbody").html(innerHtml);
    }

    function InitDxfData@(itemName)(cncProgLogId) {
        let innerHtml = '';
        let pageCount = 0;
        let targetUrl = "@Url.Action("GetCncProgramResponsest", "MasterCam")";
        let postData = {
            "CncProgLogId": cncProgLogId,
            "CncParamNo":"dxf"
        };
        let data = DataAccess.Get(targetUrl, postData, false);
        if (data.status == "success") {
            $.each(data.result, function (i, item) {
                innerHtml += `<tr>
                            <td>${item.CncProgLogId}</td>
                            <td>${item.ResponsestValues}</td>
                            ${DxfData(item.FileId, item.ResponsestValues)}
                            </tr>
                `;
            });
        } else {
            innerHtml += `<tr>
                            <td class="text-center" colspan="12" style="background-color: #fff3cd;">
                                <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                            </td>
                            </tr>`;
        }
        function DxfData(FileId, ResponsestValues) {
            let innerHtml = '';
            if (ResponsestValues != null) {
                innerHtml += `<td class="active-content ellipsis" data-toggle="tooltip" title="${ResponsestValues}" style="max-width: 250px;">
                                                <a class="active-link mr-1" href="/Drawing/GetPdmFile?fileId=${FileId}"><i class="fas fa-download"></i></a>
                                                ${ResponsestValues}
                                                </td>`;
            }
            else {
                innerHtml += `<td class="text-center" style="background-color: #fff3cd;">
                                        <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>`;
            }
            return innerHtml;
        }
        $("#desDxf@(itemName) tbody").html(innerHtml);
    }

    function InitMessageData@(itemName)(cncProgLogId) {
        let innerHtml = '';
        let pageCount = 0;
        let targetUrl = "@Url.Action("GetCncProgramResponsest", "MasterCam")";
        let postData = {
            "CncProgLogId": cncProgLogId,
            "CncParamNo":"message"
        };
        let data = DataAccess.Get(targetUrl, postData, false);
        if (data.status == "success") {
            $.each(data.result, function (i, item) {
                innerHtml += `<tr>
                                <td>${item.CncProgLogId}</td>
                                <td>${item.CncParamNo}</td>
                                <td>${item.ResponsestValues}</td>
                                </tr>
                `;
            });
        } else {
            innerHtml += `<tr>
                            <td class="text-center" colspan="3" style="background-color: #fff3cd;">
                                <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                            </td>
                            </tr>`;
        }
        $("#desMessage@(itemName) tbody").html(innerHtml);
    }

    function uploadNcFile@(itemName)(CncProgResponsestId, CncProgLogId) {
        let uploadConfigViewUploadFile = {
            fileSelector: "#fileViewUploadFile",
            targetSelector: "#txtViewUploadFile",
            required: false,
            uploadPath: "/MasterCam/ViewCncProgramWorkLog",
            maxFileCount: 1,
            defaultFile: $("#txtViewUploadFile").val()
        };
        Suites.FileUpload(uploadConfigViewUploadFile);
        $("#txtViewUploadFile").val("");
        $("#fileViewUploadFile").val("");
        $("#modalViewUploadFile").modal({ backdrop: 'static', keyboard: false }, 'show');
        $("#CncProgResponsestIdViewUploadFile").val(CncProgResponsestId);
        $("#CncProgLogIdViewUploadFile").val(CncProgLogId);
    }

    function Save@(itemName)() {
        let FileJson = {
            ProgramFile: [],
            ImageFile: []
        };       

        let ResponsestValues = "", NcName="";
        let FileId = -1;
        //取得新上傳的檔案資訊
        //檔名+副檔名
        let targetUrl = "@Url.Action("GetCncProgramResponsest", "MasterCam")";
        let postData = {           
            "CncProgLogId": cncProgLogId,
            "CncParamNo":"toolpath_url"
        };
        let data = DataAccess.Get(targetUrl, postData, false);
        if (data.status != "success") {
            alert(data.msg, "alert", 2);
        } else {
            $.each(data.result, function (i, item) {
                ResponsestValues = item.ResponsestValues;
                NcName = ResponsestValues;
                FileId = item.FileId;

                let ProgramFile =
                {
                    "FileId": FileId,
                    "NcName": NcName,
                    "FileType": "1"
                }
                FileJson.ProgramFile.push(ProgramFile);
            });
        }

        let ImageFile =
        {
            "FileId": $("#txt@(itemName)").val(),
            "NcName": "",
            "FileType":"2"
        }
        FileJson.ImageFile.push(ImageFile);

        let startDateTime = $("#txtStartDateQ@(itemName)").val() + " " + $("#txtWorkBeginTime@(itemName)").val();
        let endDateTime = $("#txtEndDateQ@(itemName)").val() + " " + $("#txtWorkEndTime@(itemName)").val();
        let WorkCT = TimeDifference(startDateTime, endDateTime);
        if ((Date.parse(endDateTime)).valueOf() <= (Date.parse(startDateTime)).valueOf()) {
            alert("日期時間欄位輸入錯誤！");
            return false;
        }

        targetUrl = "@Url.Action("AddCncProgramWork", "MasterCam")";
        postData = {
            "CncProgLogId": cncProgLogId,
            "MoProcessId": $("#cboMoProcessCncProgramLog").val(),
            "MachineId": $("#cboProcessMachineCncProgramLog").val(),
            "StartWorkDate": startDateTime,
            "EndWorkDate": endDateTime,
            "WorkCT": WorkCT,
            "FileArray": JSON.stringify(FileJson)
        };
        data = DataAccess.Add(targetUrl, postData, false, true);
        if (data) {
            Switch("#listDataCncProgramLog", "#editDataCncProgramLog , .unit-block");
            $(".advanced-block").hide();
            $(".help-block").hide();
            QueryCncProgramLog();
            $(window).prop("location", location.href);
        }

    }
</script>
)