@using Business_Manager.Helpers
@{
    string itemName = "ViewUploadFile";
    string itemNameText = "檔案上傳";
    string authority = ViewBag.authority;
}
@Html.Resource("css",
    @<style>
        body {
            margin: 0;
        }
    </style>
        )
     <div class="modal fade" id="modal@(itemName)">
         <div class="modal-dialog modal-xl">
             <input type="hidden" id="CncProgResponsestId@(itemName)" />
             <input type="hidden" id="CncProgLogId@(itemName)" />
             <div class="modal-content">
                 <div class="modal-header">
                     <h5 class="modal-title">@(itemNameText)</h5>
                 </div>
                 <div class="modal-body">
                     <div class="col-12">
                         <input type="file" id="file@(itemName)" name="file@(itemName)" />
                         <input type="hidden" id="txt@(itemName)" name="txt@(itemName)" />
                     </div>
                 </div>
                 <div class="modal-footer">
                     <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="Close@(itemName)()"><i class="fas fa-times"></i>關閉</button>
                     <button type="button" class="btn btn-success save-mode" onclick="Save@(itemName)()"><i class="fas fa-check"></i>確定</button>
                 </div>
             </div>
         </div>
     </div>

@Html.Resource("js",
@<script>
    function Save@(itemName)() {
        let ResponsestValues = "";
        //取得新上傳的檔案資訊
        //檔名+副檔名
        let targetUrl = "@Url.Action("GetFile", "SystemSetting")";
        let postData = {           
            "FileId": $("#txt@(itemName)").val()
        };
        let data = DataAccess.Get(targetUrl, postData, false);
        if (data.status != "success") {
            alert(data.msg, "alert", 2);
        } else {
            $.each(data.result, function (i, item) {
                ResponsestValues = item.FileName
            });
        }
        if (ResponsestValues != "") {
            let targetUrl = "@Url.Action("UpdateCncProgramResponsest", "MasterCam")";
            let postData = {
                "CncProgResponsestId": $("#CncProgResponsestId@(itemName)").val(),
                "ResponsestValues": ResponsestValues,
                "FileId": $("#txt@(itemName)").val()
            };
            let data = DataAccess.Get(targetUrl, postData, false);
            if (data.status != "success") {
                alert(data.msg, "alert", 2);
            } else {
                Close@(itemName)();
                InitNcDataViewCncProgramWorkLog($("#CncProgLogIdViewUploadFile").val());
            }
        } 
    }
    function Close@(itemName)() {
        $("#modalViewUploadFile").modal("hide");
    }
</script>
)