@using Business_Manager.Helpers
@{
    string itemName = "DemandRole";
    string itemNameText = "需求來源管理";
    string authority = ViewBag.authority;

    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
    </style>
)

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
    </div>
</div>

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtSearchKeyQ@(itemName)">代碼/名稱</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtSearchKeyQ@(itemName)" name="txtSearchKeyQ@(itemName)" placeholder="請輸入代碼/名稱" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">狀態</label>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    啟用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)A" name="cbxStatusQ@(itemName)" value="A" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    停用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)S" name="cbxStatusQ@(itemName)" value="S" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3 justify-content-between">
                    <div class="col-auto col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);">
                            <i class="fal fa-search"></i>搜尋
                        </a>
                    </div>
                    <div class="col-auto col-sm-6 col-md-6 text-right">
                        <a class="btn btn-info auth-add" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky table-stack" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th scope="col" style="min-width: 100px;">來源代碼</th>
                                        <th scope="col" style="min-width: 150px;">來源名稱</th>
                                        <th scope="col" style="min-width: 200px;">來源描述</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">狀態</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalEdit@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">新增需求來源</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container custom-form-container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="SourceId" name="SourceId" value="-1" />
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtSourceNo@(itemName)">來源代碼 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtSourceNo@(itemName)" name="txtSourceNo@(itemName)"
                                       data-msg-required="請輸入來源代碼" data-rule-required="true" placeholder="請輸入來源代碼"
                                       data-msg-maxlength="必須少於 10 個字元" maxlength="10" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtSourceName@(itemName)">來源名稱 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtSourceName@(itemName)" name="txtSourceName@(itemName)"
                                       data-msg-required="請輸入來源名稱" data-rule-required="true" placeholder="請輸入來源名稱"
                                       data-msg-maxlength="必須少於 50 個字元" maxlength="50" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtSourceDesc@(itemName)">來源描述</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtSourceDesc@(itemName)" name="txtSourceDesc@(itemName)"
                                       placeholder="請輸入來源描述"
                                       data-msg-maxlength="必須少於 50 個字元" maxlength="50" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i> 儲存</button>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        $(document).ready(function () {
            Query@(itemName)();

            $("#queryForm@(itemName)").keydown(function (event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    return false;
                }
            });
        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let targetUrl = "@Url.Action("GetDemandSource", "SsoBasicInformation")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "SearchKey": $("#txtSearchKeyQ@(itemName)").val(),
                "Status": $("input[name='cbxStatusQ@(itemName)']:checked").toArray().map(item => item.value).join(",")
            };
            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr>
                                        <td><span class="stack-title">#</span>${_row}</td>
                                        <td><span class="stack-title">來源代碼</span>${item.SourceNo}</td>
                                        <td><span class="stack-title">來源名稱</span>${item.SourceName}</td>
                                        <td><span class="stack-title">來源描述</span>${item.SourceDesc}</td>
                                        <td class="text-center auth-status-switch">
                                          <span class="stack-title">狀態</span>
                                          <input type="checkbox" name="chkStatus@(itemName)" data-source-id="${item.SourceId}" ${(item.Status == `A` ? `checked` : ``)} />
                                        </td>
                                        <td class="text-center un-auth auth-status-switch"><span class="stack-title">狀態</span>${StatusName(`Status`, item.Status)}</td>
                                        <td class="text-center active-content">
                                         <span class="stack-title">操作</span>
                                          <a class="active-link auth-update" href="javascript:Edit@(itemName)(${item.SourceId});"><i class="fas fa-edit"></i></a>
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="6" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

            $("input[name='chkStatus@(itemName)']").bootstrapToggle({
                on: "啟用",
                off: "停用",
                onstyle: "success",
                offstyle: "danger",
                size: "mini"
            });

            $("input[name='chkStatus@(itemName)'][data-source-id]").change(StatusSwitch@(itemName));
        }

        function Edit@(itemName)(SourceId) {
            $("#SourceId").val(SourceId ? SourceId : 0);

            $(objForm@(itemName) + " fieldset").attr("disabled", false);
            $(objForm@(itemName) + " select").attr("disabled", false);

            $("#txtSourceNo@(itemName)").attr("readonly", false);

            if (SourceId > 0) {
                let targetUrl = "@Url.Action("GetDemandSource", "SsoBasicInformation")";
                let postData = {
                    "SourceId": SourceId
                };
                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        $("#txtSourceNo@(itemName)").val(item.SourceNo);
                        $("#txtSourceNo@(itemName)").attr("readonly", true);

                        $("#txtSourceName@(itemName)").val(item.SourceName);
                        $("#txtSourceDesc@(itemName)").val(item.SourceDesc);
                    });
                } else {
                    alert(data.msg, "alert", 0);
                }
            }

            $("#modalEdit@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let SourceId = parseInt($("#SourceId").val());

                if (SourceId <= 0) {
                    let targetUrl = "@Url.Action("AddDemandSource", "SsoBasicInformation")";
                    let postData = {
                        "SourceNo": $("#txtSourceNo@(itemName)").val(),
                        "SourceName": $("#txtSourceName@(itemName)").val(),
                        "SourceDesc": $("#txtSourceDesc@(itemName)").val()
                    };

                    let result = DataAccess.Add(targetUrl, postData, false, true);

                    if (result) {
                        Return@(itemName)();
                    }
                } else {
                    let targetUrl = "@Url.Action("UpdateDemandSource", "SsoBasicInformation")";
                    let postData = {
                        "SourceId": SourceId,
                        "SourceName": $("#txtSourceName@(itemName)").val(),
                        "SourceDesc": $("#txtSourceDesc@(itemName)").val()
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Return@(itemName)();
                    }
                }
            }
        }

        function Return@(itemName)() {
            ResetForm(objForm@(itemName));
            $("#modalEdit@(itemName)").modal("hide");
            Query@(itemName)();
        }

        function StatusSwitch@(itemName)() {
            var SourceId = $(this).data("source-id");

            let targetUrl = "@Url.Action("UpdateDemandSourceStatus", "SsoBasicInformation")";
            let postData = {
                "SourceId": SourceId
            };

            let result = DataAccess.Update(targetUrl, postData, false, true);

            if (result) {
                Query@(itemName)();
            }
        }
    </script>
)