@using Business_Manager.Helpers
@{
    string itemName = "ProcessParameterManagment";
    string itemNameText = "製程參數資料管理";
    string authority = ViewBag.authority;
    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
         .rowBottom {
             margin-bottom: 0;
         }
    </style>
                        )

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboProcessIdQ@(itemName)">所屬製程</label>
                            <div class="col-12">
                                <select class="form-control" id="cboProcessIdQ@(itemName)" name="cboProcessIdQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboModeIdQ@(itemName)">所屬生產模式</label>
                            <div class="col-12">
                                <select class="form-control" id="cboModeIdQ@(itemName)" name="cboModeIdQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboProcessCheckTypeQ@(itemName)">工程檢頻率</label>
                            <div class="col-12">
                                <select class="form-control" id="cboProcessCheckTypeQ@(itemName)" name="cboProcessCheckTypeQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboPassingModeQ@(itemName)">過站模式</label>
                            <div class="col-12">
                                <select class="form-control" id="cboPassingModeQ@(itemName)" name="cboPassingModeQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboDepartmentIdQ@(itemName)">所屬部門</label>
                            <div class="col-12">
                                <select class="form-control" id="cboDepartmentIdQ@(itemName)" name="cboDepartmentIdQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">是否支援工程檢</label>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    是
                                    <input type="checkbox" id="cbxProcessCheckStatusQ@(itemName)Y" name="cbxProcessCheckStatusQ@(itemName)" value="Y" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    否
                                    <input type="checkbox" id="cbxProcessCheckStatusQ@(itemName)N" name="cbxProcessCheckStatusQ@(itemName)" value="N" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">是否收集開工前資訊</label>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    是
                                    <input type="checkbox" id="cbxPreCollectionStatusQ@(itemName)Y" name="cbxPreCollectionStatusQ@(itemName)" value="Y" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    否
                                    <input type="checkbox" id="cbxPreCollectionStatusQ@(itemName)N" name="cbxPreCollectionStatusQ@(itemName)" value="N" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">是否收集完工後資訊</label>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    是
                                    <input type="checkbox" id="cbxPostCollectionStatusQ@(itemName)Y" name="cbxPostCollectionStatusQ@(itemName)" value="Y" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    否
                                    <input type="checkbox" id="cbxPostCollectionStatusQ@(itemName)N" name="cbxPostCollectionStatusQ@(itemName)" value="N" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">是否刷取NG條碼</label>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    是
                                    <input type="checkbox" id="cbxNgToBarcodeQ@(itemName)Y" name="cbxNgToBarcodeQ@(itemName)" value="Y" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    否
                                    <input type="checkbox" id="cbxNgToBarcodeQ@(itemName)N" name="cbxNgToBarcodeQ@(itemName)" value="N" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">狀態</label>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    啟用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)A" name="cbxStatusQ@(itemName)" value="A" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    停用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)S" name="cbxStatusQ@(itemName)" value="S" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);">
                            <i class="fal fa-search"></i>搜尋
                        </a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn btn-info auth-add" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th scope="col" style="min-width: 200px;">所屬製程</th>
                                        <th scope="col" style="min-width: 150px;">所屬部門</th>
                                        <th scope="col" style="min-width: 200px;">所屬生產模式</th>
                                        <th class="text-center" scope="col" style="min-width: 200px;">是否支援工程檢</th>
                                        <th class="text-center" scope="col" style="min-width: 200px;">是否收集開工前資訊</th>
                                        <th class="text-center" scope="col" style="min-width: 200px;">是否收集完工後資訊</th>
                                        <th class="text-center" scope="col" style="min-width: 200px;">是否刷取N條碼</th>
                                        <th class="text-center" scope="col" style="min-width: 200px;">是否可產包裝條碼</th>
                                        <th class="text-center" scope="col" style="min-width: 200px;">過站模式</th>
                                        <th class="text-center" scope="col" style="min-width: 200px;">工程檢頻率</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">狀態</th>
                                        <th class="text-center" scope="col" style="min-width: 265px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container custom-form-container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="ParameterId" name="ParameterId" value="-1" />
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboProcessId@(itemName)">所屬製程 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboProcessId@(itemName)" name="cboProcessId@(itemName)"
                                        data-msg-required="請選擇製程" data-rule-required="true"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboModeId@(itemName)">所屬生產模式 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboModeId@(itemName)" name="cboModeId@(itemName)"
                                        data-msg-required="請選擇生產模式" data-rule-required="true"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboPassingMode@(itemName)">過站模式 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboPassingMode@(itemName)" name="cboPassingMode@(itemName)"
                                        data-msg-required="請選擇過站模式" data-rule-required="true"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboDepartmentId@(itemName)">所屬部門 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9" style="display: flex;align-items: center;">
                                <select class="form-control" id="cboDepartmentId@(itemName)" name="cboDepartmentId@(itemName)"
                                        data-msg-required="請選擇所屬部門" data-rule-required="true"></select>
                            </div>
                        </div>
                        <div class="form-group row cbxProcessCheckStatusBlock">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cbxProcessCheckStatus@(itemName)">是否支援工程檢<span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9" style="display: flex;align-items: center;">
                                <input type="checkbox" id="cbxProcessCheckStatus@(itemName)" name="cbxProcessCheckStatus@(itemName)" onchange="ProcessCheckStatusChange(this)" />
                            </div>
                        </div>
                        <div class="form-group row ProcessCheckTypeShow">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboProcessCheckType@(itemName)">工程檢頻率 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboProcessCheckType@(itemName)" name="cboProcessCheckType@(itemName)"
                                        data-msg-required="請選擇工程檢頻率" data-rule-required="true"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cbxPreCollectionStatus@(itemName)">是否收集開工前資訊<span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9" style="display: flex;align-items: center;">
                                <input type="checkbox" id="cbxPreCollectionStatus@(itemName)" name="cbxPreCollectionStatus@(itemName)" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cbxPostCollectionStatus@(itemName)">是否收集完工後資訊<span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9" style="display: flex;align-items: center;">
                                <input type="checkbox" id="cbxPostCollectionStatus@(itemName)" name="cbxPostCollectionStatus@(itemName)" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cbxNgToBarcode@(itemName)">是否刷取NG條碼<span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9" style="display: flex;align-items: center;">
                                <input type="checkbox" id="cbxNgToBarcode@(itemName)" name="cbxNgToBarcode@(itemName)" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cbxPackageFlag@(itemName)">是否支援包裝條碼<span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9" style="display: flex;align-items: center;">
                                <input type="checkbox" id="cbxPackageFlag@(itemName)" name="cbxPackageFlag@(itemName)" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cbxConsumeFlag@(itemName)">是否進行點膠<span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9" style="display: flex;align-items: center;">
                                <input type="checkbox" id="cbxConsumeFlag@(itemName)" name="cbxConsumeFlag@(itemName)" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-success auth-update" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>
<div class="advanced-block">
    <div class="row">
        <div class="col-12">
            <ul class="nav flag-tabs nav-fill" role="tablist">
                <li class="flag-item">
                    <a class="flag-link auth-machine  active" data-toggle="tab" href="#tabProcessMachine">
                        <i class="fas fa-computer-classic"></i> 製程機台管理
                    </a>
                </li>
                <li class="flag-item">
                    <a class="flag-link auth-unit " data-toggle="tab" href="#tabProcessProductionUnit">
                        <i class="fas fa-code-branch"></i> 製程生產單元管理
                    </a>
                </li>
                <li class="flag-item ">
                    <a class="flag-link auth-parameterqcItem" data-toggle="tab" href="#tabProcessParameterQcItem">
                        <i class="fas fa-code-branch"></i> 製程量測項目管理
                    </a>
                </li>

            </ul>
        </div>
    </div>
    <div class="tab-content">

        <div class="tab-pane  active" id="tabProcessMachine">
            @Html.Partial("ProcessMachine")
        </div>
        <div class="tab-pane " id="tabProcessProductionUnit">
            @Html.Partial("ProcessProductionUnit")
        </div>
        <div class="tab-pane " id="tabProcessParameterQcItem">
            @Html.Partial("ProcessParameterQcItem")
        </div>
    </div>
</div>

@Html.Partial("ViewProcessParameterQcItem")


@Html.Resource("js",
    @<script>
        let userId@(itemName);
        let companyId@(itemName);

        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        $(document).ready(function () {
            GetUserInfo@(itemName)();
            ComboBoxs.Default("#cboProcessIdQ@(itemName)", "@Url.Action("GetProcess", "MesBasicInformation")", {}, "", "ALL", "", "ProcessName", "ProcessId");
            ComboBoxs.Default("#cboModeIdQ@(itemName)", "@Url.Action("GetProdMode", "MesBasicInformation")", {}, "", "ALL", "", "ModeName", "ModeId");
            ComboBoxs.Default("#cboPassingModeQ@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "ProcessParameter.PassingMode" }, "", "NA", "", "TypeName", "TypeNo");
            ComboBoxs.Default("#cboProcessCheckTypeQ@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "ProcessParameter.ProcessCheckType" }, "", "NA", "", "TypeName", "TypeNo");
            ComboBoxs.Default("#cboDepartmentIdQ@(itemName)", "@Url.Action("GetDepartment", "BasicInformation")", { "CompanyId": companyId@(itemName), "Status": "A" }, "", "NA", "", "DepartmentWithNo", "DepartmentId");

            Query@(itemName)();

            if (!isMobile) {
                $("#cboProcessIdQ@(itemName), #cboModeIdQ@(itemName) , #cboPassingModeQ@(itemName), #cboProcessCheckTypeQ@(itemName), #cboDepartmentIdQ@(itemName)").select2({
                    width: "100%"
                });
            }
            $('.advanced-block a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                InitParameter@(itemName)($(this));
            });

            $(".ProcessCheckTypeShow").hide()
        });

        function Query@(itemName)() {
            //objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let checkProcessCheckStatusList = [];
            $.each($("input[name='cbxProcessCheckStatusQ@(itemName)']:checked"), function () {
                checkProcessCheckStatusList.push($(this).val());
            });

            let checkPreCollectionList = [];
            $.each($("input[name='cbxPreCollectionStatusQ@(itemName)']:checked"), function () {
                checkPreCollectionList.push($(this).val());
            });

            let checkPostCollectionList = [];
            $.each($("input[name='cbxPostCollectionStatusQ@(itemName)']:checked"), function () {
                checkPostCollectionList.push($(this).val());
            });

            let checkNgToBarcodeList = [];
            $.each($("input[name='cbxNgToBarcodeQ@(itemName)']:checked"), function () {
                checkNgToBarcodeList.push($(this).val());
            });

            let statusList = [];
            $.each($("input[name='cbxStatusQ@(itemName)']:checked"), function () {
                statusList.push($(this).val());
            });

            let targetUrl = "@Url.Action("GetProcessParameter", "MesBasicInformation")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "ParameterId": $("#ParameterId").val(),
                "ProcessId": $("#cboProcessIdQ@(itemName)").val(),
                "ModeId": $("#cboModeIdQ@(itemName)").val(),
                "ProcessCheckStatus": checkProcessCheckStatusList.join(","),
                "PreCollectionStatus": checkPreCollectionList.join(","),
                "PostCollectionStatus": checkPostCollectionList.join(","),
                "NgToBarcode": checkNgToBarcodeList.join(","),
                "PassingMode": $("#cboPassingModeQ@(itemName)").val(),
                "ProcessCheckType": $("#cboProcessCheckTypeQ@(itemName)").val(),
                "DepartmentId": $("#cboDepartmentIdQ@(itemName)").val(),
                "Status": statusList.join(","),
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr>
                                        <td>${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ProcessName}" style="max-width: 200px;">${item.ProcessName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DepartmentName}" style="max-width: 200px;">${item.DepartmentName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ModeName}" style="max-width: 200px;">${item.ModeName}</td>
                                        <td class="text-center">${StatusName(`Boolean`, item.ProcessCheckStatus)}</td>
                                        <td class="text-center">${StatusName(`Boolean`, item.PreCollectionStatus)}</td>
                                        <td class="text-center">${StatusName(`Boolean`, item.PostCollectionStatus)}</td>
                                        <td class="text-center">${StatusName(`Boolean`, item.NgToBarcode)}</td>
                                        <td class="text-center">${StatusName(`Boolean`, item.PackageFlag)}</td>
                                        <td class="text-center">${TypeName(`ProcessParameter.PassingMode`, item.PassingMode)}</td>
                                        <td class="text-center">${TypeName(`ProcessParameter.ProcessCheckType`, item.ProcessCheckType)}</td>
                                        <td class="text-center auth-status-switch">
                                            <input type="checkbox" name="chkStatus@(itemName)" data-parameter-id="${item.ParameterId}" ${item.Status == `A` ? `checked` : ``} />
                                        </td>
                                        <td class="text-center un-auth auth-status-switch">${StatusName(`Status`, item.Status)}</td>
                                        <td class="text-center active-content">
                                            <a class="active-link auth-read" href="javascript:Edit@(itemName)(${item.ParameterId});"><i class="fas fa-edit"></i></a>
                                            <a class="active-link auth-update" href="javascript:PopViewProcessParameterQcItem(${item.ParameterId});"><i class="fas fa-code-branch"></i></a>

                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="11" style="background-color: #fff3cd;">
                                        <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

            $("input[name='chkStatus@(itemName)']").bootstrapToggle({
                on: "啟用",
                off: "停用",
                onstyle: "success",
                offstyle: "danger",
                size: "mini"
            });

            $("input[name='chkStatus@(itemName)'][data-parameter-id]").change(StatusSwitch@(itemName));
        }

        function Edit@(itemName)(ParameterId) {
            $("#ParameterId").val(ParameterId ? ParameterId : 0);

            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");

            ComboBoxs.Default("#cboProcessId@(itemName)", "@Url.Action("GetProcess", "MesBasicInformation")", {}, "", "NA", "", "ProcessName", "ProcessId");
            ComboBoxs.Default("#cboModeId@(itemName)", "@Url.Action("GetProdMode", "MesBasicInformation")", {}, "", "NA", "", "ModeName", "ModeId");
            ComboBoxs.Default("#cboPassingMode@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "ProcessParameter.PassingMode" }, "", "NA", "", "TypeName", "TypeNo");
            ComboBoxs.Default("#cboProcessCheckType@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "ProcessParameter.ProcessCheckType" }, "", "NA", "", "TypeName", "TypeNo");
            ComboBoxs.Default("#cboDepartmentId@(itemName)", "@Url.Action("GetDepartment", "BasicInformation")", { "CompanyId": companyId@(itemName), "Status": "A" }, "", "NA", "", "DepartmentWithNo", "DepartmentId");

            $("#cbxProcessCheckStatus@(itemName)").attr("checked", false);
            $("#cbxPreCollectionStatus@(itemName)").attr("checked", false);
            $("#cbxPostCollectionStatus@(itemName)").attr("checked", false);
            $("#cbxNgToBarcode@(itemName)").attr("checked", false);
            $(".ProcessCheckTypeShow").hide()

            if (ParameterId > 0) {
                let targetUrl = "@Url.Action("GetProcessParameter", "MesBasicInformation")";
                let postData = {
                    "ParameterId": ParameterId
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        //
                        $("#cboProcessId@(itemName)").val(item.ProcessId);
                        $("#cboModeId@(itemName)").val(item.ModeId);
                        if (item.ProcessCheckStatus == "Y") {
                            $("#cbxProcessCheckStatus@(itemName)").attr("checked", true);
                            $(".ProcessCheckTypeShow").show()

                        } else {
                            $("#cbxProcessCheckStatus@(itemName)").attr("checked", false);
                            $(".ProcessCheckTypeShow").hide()

                        };
                        if (item.PreCollectionStatus == "Y") {
                            $("#cbxPreCollectionStatus@(itemName)").attr("checked", true);
                        } else {
                            $("#cbxPreCollectionStatus@(itemName)").attr("checked", false);
                        };
                        if (item.PostCollectionStatus == "Y") {
                            $("#cbxPostCollectionStatus@(itemName)").attr("checked", true);
                        } else {
                            $("#cbxPostCollectionStatus@(itemName)").attr("checked", false);
                        };
                        if (item.NgToBarcode == "Y") {
                            $("#cbxNgToBarcode@(itemName)").attr("checked", true);
                        } else {
                            $("#cbxNgToBarcode@(itemName)").attr("checked", false);
                        };
                        if (item.PackageFlag == "Y") {
                            $("#cbxPackageFlag@(itemName)").attr("checked", true);
                        } else {
                            $("#cbxPackageFlag@(itemName)").attr("checked", false);
                        };
                        if (item.ConsumeFlag == "Y") {
                            $("#cbxConsumeFlag@(itemName)").attr("checked", true);
                        } else {
                            $("#cbxConsumeFlag@(itemName)").attr("checked", false);
                        };
                        $("#cboPassingMode@(itemName)").val(item.PassingMode);
                        $("#cboProcessCheckType@(itemName)").val(item.ProcessCheckType);
                        $("#cboDepartmentId@(itemName)").val(item.DepartmentId);
                    });
                    let firstActiveItem = $(".advanced-block .flag-tabs > .flag-item").filter(function () {
                        return $(this).find(".flag-link").hasClass("active");
                    }).first();
                    if (firstActiveItem.length) {
                        let firstActiveLink = firstActiveItem.find("a");
                        InitParameter@(itemName)(firstActiveLink);
                    } else {
                        $(".advanced-block .flag-tabs > .flag-item").first().find("a").trigger("click");
                    }

                } else {
                    alert(data.msg, "alert", 0);
                }
            }
            if (!isMobile) {
                $("#cboProcessId@(itemName), #cboModeId@(itemName) , #cboPassingMode@(itemName), #cboProcessCheckType@(itemName), #cboDepartmentId@(itemName)").select2({
                    width: "100%"
                });
            }
        }

        function Save@(itemName)() {

            if ($(objForm@(itemName)).valid()) {
                let ParameterId = parseInt($("#ParameterId").val());

                if (ParameterId <= 0) {
                    let targetUrl = "@Url.Action("AddProcessParameter", "MesBasicInformation")";
                    let postData = {
                        "ProcessId": $("#cboProcessId@(itemName)").val(),
                        "ModeId": $("#cboModeId@(itemName)").val(),
                        "ProcessCheckStatus": ($("#cbxProcessCheckStatus@(itemName)").is(":checked") ? "Y" : "N"),
                        "PreCollectionStatus": ($("#cbxPreCollectionStatus@(itemName)").is(":checked") ? "Y" : "N"),
                        "PostCollectionStatus": ($("#cbxPostCollectionStatus@(itemName)").is(":checked") ? "Y" : "N"),
                        "PackageFlag": ($("#cbxPackageFlag@(itemName)").is(":checked") ? "Y" : "N"),
                        "NgToBarcode": ($("#cbxNgToBarcode@(itemName)").is(":checked") ? "Y" : "N"),
                        "PassingMode": $("#cboPassingMode@(itemName)").val(),
                        "ProcessCheckType": $("#cboProcessCheckType@(itemName)").val(),
                        "DepartmentId": $("#cboDepartmentId@(itemName) :selected").val(),
                        "ConsumeFlag": ($("#cbxConsumeFlag@(itemName)").is(":checked") ? "Y" : "N"),

                    };

                    let data = DataAccess.EditContinued(targetUrl, postData, false);

                    if (data) {
                        $.each(data.result, function (i, item) {
                            $("#ParameterId").val(item.ParameterId);
                        });
                        ExpandProcessMachine();
                    }
                } else {
                    let targetUrl = "@Url.Action("UpdateProcessParameter", "MesBasicInformation")";
                    let postData = {
                        "ParameterId": ParameterId,
                        "ProcessId": $("#cboProcessId@(itemName)").val(),
                        "ModeId": $("#cboModeId@(itemName)").val(),
                        "ProcessCheckStatus": ($("#cbxProcessCheckStatus@(itemName)").is(":checked") ? "Y" : "N"),
                        "PreCollectionStatus": ($("#cbxPreCollectionStatus@(itemName)").is(":checked") ? "Y" : "N"),
                        "PostCollectionStatus": ($("#cbxPostCollectionStatus@(itemName)").is(":checked") ? "Y" : "N"),
                        "PackageFlag": ($("#cbxPackageFlag@(itemName)").is(":checked") ? "Y" : "N"),
                        "NgToBarcode": ($("#cbxNgToBarcode@(itemName)").is(":checked") ? "Y" : "N"),
                        "PassingMode": $("#cboPassingMode@(itemName)").val(),
                        "ProcessCheckType": $("#cboProcessCheckType@(itemName)").val(),
                        "DepartmentId": $("#cboDepartmentId@(itemName) :selected").val(),
                        "ConsumeFlag": ($("#cbxConsumeFlag@(itemName)").is(":checked") ? "Y" : "N"),
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Return@(itemName)();
                    }
                }
            }
        }

        function Delete@(itemName)(ParameterId) {
            swal.fire({
                title: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteProcessParameter", "MesBasicInformation")";
                    let postData = {
                        "ParameterId": $("#ParameterId").val(),
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function Return@(itemName)() {
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName)", "#editData@(itemName), .unit-block, .advanced-block");
            $("#ParameterId").val("");
            Query@(itemName)();
        }

        function StatusSwitch@(itemName)() {
            var ParameterId = $(this).data("parameter-id");

            let targetUrl = "@Url.Action("UpdateProcessParameterStatus", "MesBasicInformation")";
            let postData = {
                "ParameterId": ParameterId
            };

            let result = DataAccess.Update(targetUrl, postData, false, true);

            if (result) {
                Return@(itemName)();
            }
        }

        function InitParameter@(itemName)(selector) {
            //分頁切換機制
            let initFnString = "Expand";
            let content = selector.attr("href").split('#tab')[1].split('@(itemName)')[0];
            let Id

            switch (content) {
                case "ProcessMachine":
                    initFnString += "ProcessMachine";
                    break;
                case "ProcessProductionUnit":
                    initFnString += "ProcessProductionUnit";
                    break;
                case "ProcessParameterQcItem":
                    initFnString += "ProcessParameterQcItem";
                    Id = $("#ParameterId").val();
                    break;
            }
            let initFn = window[initFnString];
            if (initFn && typeof (initFn) == "function") {
                initFn(Id);
            }
        }

        function ProcessCheckStatusChange(e) {
            //工程檢設定顯示機制
            if (e.checked) {
                $(".ProcessCheckTypeShow").show()
                $(".cbxProcessCheckStatusBlock").addClass("rowBottom")
            }
            else {
                $(".ProcessCheckTypeShow").hide()
                $(".cbxProcessCheckStatusBlock").removeClass("rowBottom")
            }
        }

        function GetUserInfo@(itemName)() {
            let targetUrl = '@Url.Action("GetLoginByKey", "User")';
            let postData = {
                'UserNo': $.cookie('Login'),
                'KeyText': $.cookie('LoginKey')
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == 'success') {
                userId@(itemName) = data.returnData.UserId;
                companyId@(itemName) = data.returnData.CompanyId;
            } else {
                alert(data.msg, 'alert', 0);
            }
        }
    </script>
                        )