@using Business_Manager.Helpers
@{
    string itemName = "ProdUnitManagment";
    string itemNameText = "生產單元資料管理";
    string authority = ViewBag.authority;
    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
    </style>
)

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtUnitNoQ@(itemName)">單元代碼</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtUnitNoQ@(itemName)" name="txtUnitNoQ@(itemName)" placeholder="請輸入單元代碼" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtUnitNameQ@(itemName)">單元名稱</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtUnitNameQ@(itemName)" name="txtUnitNameQ@(itemName)" placeholder="請輸入單元名稱" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">是否需檢核</label>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    是
                                    <input type="checkbox" id="cbxCheckStatusQ@(itemName)Y" name="cbxCheckStatusQ@(itemName)" value="Y" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    否
                                    <input type="checkbox" id="cbxCheckStatusQ@(itemName)N" name="cbxCheckStatusQ@(itemName)" value="N" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">狀態</label>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    啟用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)A" name="cbxStatusQ@(itemName)" value="A" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    停用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)S" name="cbxStatusQ@(itemName)" value="S" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);">
                        <i class="fal fa-search"></i>搜尋</a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn btn-info auth-add" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th scope="col" style="min-width: 125px;">單元代碼</th>
                                        <th scope="col" style="min-width: 150px;">單元名稱</th>
                                        <th scope="col" style="min-width: 150px;">單元描述</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">是否需檢核</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">狀態</th>
                                        <th class="text-center" scope="col" style="min-width: 265px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container custom-form-container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="UnitId" name="UnitId" value="-1" />
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtUnitNo@(itemName)">單元代碼 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtUnitNo@(itemName)" name="txtUnitNo@(itemName)" placeholder="請輸入單元代碼"
                                       data-msg-required="請輸入單元代碼" data-rule-required="true"
                                       data-msg-maxlength="必須少於 10 個字元" maxlength="10" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtUnitName@(itemName)">單元名稱 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtUnitName@(itemName)" name="txtUnitName@(itemName)" placeholder="請輸入單元名稱"
                                       data-msg-required="請輸入單元名稱" data-rule-required="true"
                                       data-msg-maxlength="必須少於 100 個字元" maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtUnitDesc@(itemName)">單元描述 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtUnitDesc@(itemName)" name="txtUnitDesc@(itemName)" placeholder="請輸入單元描述"
                                       data-msg-required="請輸入單元描述" data-rule-required="true"
                                       data-msg-maxlength="必須少於 100 個字元" maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12 col-form-label">
                                <label class="control control-solid control-solid-info control--checkbox" for="cbxCheckStatus@(itemName)">
                                    是否需檢核
                                    <input type="checkbox" id="cbxCheckStatus@(itemName)" name="cbxCheckStatus@(itemName)" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        $(document).ready(function () {
            Query@(itemName)();
        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let checkStatusList = [];
            $.each($("input[name='cbxCheckStatusQ@(itemName)']:checked"), function () {
                checkStatusList.push($(this).val());
            });

            let statusList = [];
            $.each($("input[name='cbxStatusQ@(itemName)']:checked"), function () {
                statusList.push($(this).val());
            });

            let targetUrl = "@Url.Action("GetProdUnit", "MesBasicInformation")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "UnitNo": $("#txtUnitNoQ@(itemName)").val().trim(),
                "UnitName": $("#txtUnitNameQ@(itemName)").val().trim(),
                "CheckStatus": checkStatusList.join(","),
                "Status": statusList.join(",")
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr>
                                        <td>${_row}</td>
                                        <td>${item.UnitNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.UnitName}" style="max-width: 150px;">${item.UnitName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.UnitDesc}" style="max-width: 150px;">${item.UnitDesc}</td>
                                        <td class="text-center">${StatusName(`Boolean`, item.CheckStatus)}</td>
                                        <td class="text-center auth-status-switch">
                                          <input type="checkbox" name="chkStatus@(itemName)" data-unit-id="${item.UnitId}" ${item.Status == `A` ? `checked` : ``} />
                                        </td>
                                        <td class="text-center un-auth auth-status-switch">${StatusName(`Status`, item.Status)}</td>
                                        <td class="text-center active-content">
                                          <a class="active-link auth-update" href="javascript:Edit@(itemName)(${item.UnitId});"><i class="fas fa-edit"></i></a>
                                          <a class="active-link auth-delete" href="javascript:Delete@(itemName)(${item.UnitId});"><i class="fas fa-trash-alt"></i></a>
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="7" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

            $("input[name='chkStatus@(itemName)']").bootstrapToggle({
                on: "啟用",
                off: "停用",
                onstyle: "success",
                offstyle: "danger",
                size: "mini"
            });

            $("input[name='chkStatus@(itemName)'][data-unit-id]").change(StatusSwitch@(itemName));
        }

        function Edit@(itemName)(UnitId) {
            $("#UnitId").val(UnitId ? UnitId : 0);
            $("#txtUnitNo@(itemName)").attr("readonly", false);
            $("#cbxCheckStatus@(itemName)").attr("checked", true);

            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");

            if (UnitId > 0) {
                $("#txtUnitNo@(itemName)").attr("readonly", true);

                let targetUrl = "@Url.Action("GetProdUnit", "MesBasicInformation")";
                let postData = {
                    "UnitId": UnitId
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        $("#txtUnitNo@(itemName)").val(item.UnitNo);
                        $("#txtUnitName@(itemName)").val(item.UnitName);
                        $("#txtUnitDesc@(itemName)").val(item.UnitDesc);

                        if (item.CheckStatus == "Y") {
                            $("#cbxCheckStatus@(itemName)").attr("checked", true);
                        } else {
                            $("#cbxCheckStatus@(itemName)").attr("checked", false);
                        }
                    });
                } else {
                    alert(data.msg, "alert", 0);
                }
            }
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let UnitId = parseInt($("#UnitId").val());

                if (UnitId <= 0) {
                    let targetUrl = "@Url.Action("AddProdUnit", "MesBasicInformation")";
                    let postData = {
                        "UnitNo": $("#txtUnitNo@(itemName)").val(),
                        "UnitName": $("#txtUnitName@(itemName)").val(),
                        "UnitDesc": $("#txtUnitDesc@(itemName)").val(),
                        "CheckStatus": ($("#cbxCheckStatus@(itemName)").is(":checked") ? "Y" : "N")
                    };

                    let result = DataAccess.Add(targetUrl, postData, false, true);

                    if (result) {
                        Return@(itemName)();
                    }
                } else {
                    let targetUrl = "@Url.Action("UpdateProdUnit", "MesBasicInformation")";
                    let postData = {
                        "UnitId": UnitId,
                        "UnitNo": $("#txtUnitNo@(itemName)").val(),
                        "UnitName": $("#txtUnitName@(itemName)").val(),
                        "UnitDesc": $("#txtUnitDesc@(itemName)").val(),
                        "CheckStatus": ($("#cbxCheckStatus@(itemName)").is(":checked") ? "Y" : "N")
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Return@(itemName)();
                    }
                }
            }
        }

        function Delete@(itemName)(UnitId) {
            swal.fire({
                title: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteProdUnit", "MesBasicInformation")";
                    let postData = {
                        "UnitId": UnitId
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function Return@(itemName)() {
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName)", "#editData@(itemName), .unit-block");
            Query@(itemName)();
        }

        function StatusSwitch@(itemName)() {
            var unitId = $(this).data("unit-id");

            let targetUrl = "@Url.Action("UpdateProdUnitStatus", "MesBasicInformation")";
            let postData = {
                "UnitId": unitId
            };

            let result = DataAccess.Update(targetUrl, postData, false, true);

            if (result) {
                Return@(itemName)();
            }
        }
    </script>
)