@using Business_Manager.Helpers
@{
    string itemName = "TimeIntervalManagment";
    string itemNameText = "時間區間管理";
    string authority = ViewBag.authority;
    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
    </style>
)

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtBeginTimeQ@(itemName)">開始時間</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtBeginTimeQ@(itemName)" name="txtBeginTimeQ@(itemName)" placeholder="請輸入開始時間" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtEndTimeQ@(itemName)">結束時間</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtEndTimeQ@(itemName)" name="txtEndTimeQ@(itemName)" placeholder="請輸入結束時間" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);">
                        <i class="fal fa-search"></i>搜尋</a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn btn-info auth-add" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th scope="col" style="min-width: 125px;">開始時間</th>
                                        <th scope="col" style="min-width: 125px;">結束時間</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container custom-form-container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="IntervalId" name="IntervalId" value="-1" />
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtBeginTime@(itemName)">開始時間 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtBeginTime@(itemName)" name="txtBeginTime@(itemName)" placeholder="請輸入開始時間"
                                       data-msg-required="請輸入開始時間" data-rule-required="true"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtEndTime@(itemName)">結束時間 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtEndTime@(itemName)" name="txtEndTime@(itemName)" placeholder="請輸入結束時間"
                                       data-msg-required="請輸入結束時間" data-rule-required="true"/>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        $(document).ready(function () {
            $("#txtBeginTimeQ@(itemName)").val("00:00");
            $("#txtEndTimeQ@(itemName)").val("23:59");

            Suites.TimeDropper("#txtBeginTimeQ@(itemName), #txtEndTimeQ@(itemName)");

            Query@(itemName)();
        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let targetUrl = "@Url.Action("GetTimeInterval", "MesBasicInformation")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "BeginTime": $("#txtBeginTimeQ@(itemName)").val(),
                "EndTime": $("#txtEndTimeQ@(itemName)").val()
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr>
                                        <td>${_row}</td>
                                        <td>${item.BeginTime}</td>
                                        <td>${item.EndTime}</td>
                                        <td class="text-center active-content">
                                          <a class="active-link auth-update" href="javascript:Edit@(itemName)(${item.IntervalId});"><i class="fas fa-edit"></i></a>
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="4" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));           
        }

        function Edit@(itemName)(IntervalId) {
            $("#IntervalId").val(IntervalId ? IntervalId : 0);

            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");
            
            if (IntervalId > 0) {
                let targetUrl = "@Url.Action("GetTimeInterval", "MesBasicInformation")";
                let postData = {
                    "IntervalId": IntervalId
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        $("#txtBeginTime@(itemName)").val(item.BeginTime);
                        $("#txtEndTime@(itemName)").val(item.EndTime);
                    });
                } else {
                    alert(data.msg, "alert", 0);
                }
            }

            Suites.TimeDropper("#txtBeginTime@(itemName), #txtEndTime@(itemName)");
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let IntervalId = parseInt($("#IntervalId").val());

                if (IntervalId <= 0) {
                    let targetUrl = "@Url.Action("AddTimeInterval", "MesBasicInformation")";
                    let postData = {
                        "BeginTime": $("#txtBeginTime@(itemName)").val(),
                        "EndTime": $("#txtEndTime@(itemName)").val()
                    };

                    let result = DataAccess.Add(targetUrl, postData, false, true);

                    if (result) {
                        Return@(itemName)();
                    }
                } else {
                    let targetUrl = "@Url.Action("UpdateTimeInterval", "MesBasicInformation")";
                    let postData = {
                        "IntervalId": IntervalId,
                        "BeginTime": $("#txtBeginTime@(itemName)").val(), 
                        "EndTime": $("#txtEndTime@(itemName)").val()
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Return@(itemName)();
                    }
                }
            }
        }

        function Return@(itemName)() {
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName)", "#editData@(itemName), .unit-block");
            Query@(itemName)();
        }
    </script>
)