@using Business_Manager.Helpers
@{
    string itemName = "UserEventSetting";
    string itemNameText = "人員事件設定";
    string authority = ViewBag.authority;
    
    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
    </style>
)

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container custom-form-container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>                       
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtUserEventItemNameQ@(itemName)">事件名稱</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtUserEventItemNameQ@(itemName)" name="txtUserEventItemNameQ@(itemName)" placeholder="請輸入事件名稱"
                                       data-msg-required="請輸入設備識別碼" data-rule-required="true"
                                       data-msg-maxlength="必須少於 100 個字元" maxlength="100" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="row list-data" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);">
                            <i class="fal fa-search"></i>搜尋
                        </a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn btn-info auth-add" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>
                    </div>
                </div>
                <fieldset>
                    <div class="row">
                        <div class="col-12">
                            <div class="table-custom">
                                <table class="table table-bordered table-striped table-sticky table-stack tbl-data" id="tblData@(itemName)">
                                    <thead>
                                        <tr>
                                            <th scope="col" style="min-width: 75px;">#</th>
                                            <th scope="col" style="min-width: 150px;">事件名稱</th>
                                            <th scope="col" style="min-width: 150px;">狀態</th>
                                            <th class="text-center" scope="col" style="min-width: 250px;">操作</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                            <div class="pagination" id="page@(itemName)"></div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>

<div class="row list-data" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container custom-form-container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="UserEventItemId" name="UserEventItemId" value="-1" />
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtUserEventItemName@(itemName)">事件名稱 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtUserEventItemName@(itemName)" name="txtUserEventItemName@(itemName)" placeholder="請輸入事件名稱"
                                       data-msg-required="請輸入設備識別碼" data-rule-required="true"
                                       data-msg-maxlength="必須少於 100 個字元" maxlength="100" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>


@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";
      
        $(document).ready(function () {
         
            Query@(itemName)();
        });
        
        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));
            $("#txtUserEventItemNameQ@(itemName)").val("");
            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            
            let innerHtml = '';
            let pageCount = 0;
            let targetUrl = "@Url.Action("GetUserEventSetting", "MesBasicInformation")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "UserEventItemName":$("#txtUserEventItemNameQ@(itemName)").val()
            };

            let data = DataAccess.Get(targetUrl, postData, false);
            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;
                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";
                          innerHtml += `<tr>
                                        <td><span class="stack-title">#</span>${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.UserEventItemName}" style="max-width: 150px;"><span class="stack-title">事件名稱</span>${item.UserEventItemName}</td>
                                        <td><span class="stack-title">狀態</span>${item.Status}</td>
                                        <td class="text-center active-content">
                                        <span class="stack-title">操作</span>
                                        <a class="active-link auth-update" href="javascript:Edit@(itemName)(${item.UserEventItemId});"><i class="fas fa-edit"></i></a>
                                        <a class="active-link auth-delete" href="javascript:Delete@(itemName)(${item.UserEventItemId});"><i class="fas fa-trash-alt"></i></a>
                                        </td>
                                      </tr>`;                       

                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="7" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }

            } else {
                alert(data.msg, "alert", 0);
            }
            $(".list-data #tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));
        }

        
        function Edit@(itemName)(UserEventItemId) {            
            $("#UserEventItemId").val(UserEventItemId ? UserEventItemId : 0);
            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");
            if (UserEventItemId > 0) {
                let targetUrl = "@Url.Action("GetUserEventSetting", "MesBasicInformation")";
                let postData = {
                    "UserEventItemId": UserEventItemId
                    };
                    let data = DataAccess.Get(targetUrl, postData, false);
                    if (data.status == "success") {
                        $.each(data.result, function (i, item) {
                            $("#txtUserEventItemName@(itemName)").val(item.UserEventItemName);
                        });
                    } else {
                        alert(data.msg, "alert", 0);
                    }
                }
                 //Return@(itemName)();
            }
           
        
        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let UserEventItemId = parseInt($("#UserEventItemId").val());
                if (UserEventItemId <= 0) {
                    let targetUrl = "@Url.Action("AddUserEventSetting", "MesBasicInformation")";
                    let postData = {
                        "UserEventItemName": $("#txtUserEventItemName@(itemName)").val()
                    };


                    let data = DataAccess.Get(targetUrl, postData, false);

                    if (data.status == "success") {


                        alert("新增成功", "success", 0);
                    } else {
                        alert(data.msg, "alert", 0);
                    }
                    Return@(itemName)();
                }

                else {
                    let targetUrl = "@Url.Action("UpdateUserEventSetting", "MesBasicInformation")";

                    let postData = {
                        "UserEventItemId": $("#UserEventItemId").val(),
                        "UserEventItemName": $("#txtUserEventItemName@(itemName)").val()
                    }

                    let result = DataAccess.Update(targetUrl, postData, false, true);
                    if (result) {
                        Return@(itemName)();
                    }
                }
            }
            }
        
        function Delete@(itemName)(UserEventItemId) {
            swal.fire({
                titleText: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteUserEventSetting", "MesBasicInformation")";
                    let postData = {
                        "UserEventItemId": UserEventItemId
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function Return@(itemName)() {
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName)", "#editData@(itemName), .unit-block");
            $("#txtUserEventItemName@(itemName)").val("");
            Query@(itemName)();
        }
</script>
)
