@using Business_Manager.Helpers
@{
    string itemName = "AqCountermeasureManagment";
    string itemNameText = "品質異常對策管理";
    string authority = ViewBag.authority;
    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
         .thead-customized {
             min-width: 75px !important;
             background-color: #ffeeba !important;
             position: relative !important;
             z-index: 1 !important;
             border: none !important;
         }

         .tbody-customized {
             border: none !important;
         }

         .badge {
             font-size: 90% !important;
         }
    </style>
                                )

<input type="hidden" id="pageAuthority" value="@authority" />
<input type="hidden" id="GrDetailId" value="" />
<input type="hidden" id="GrdetailMtlItemNo" value="" />
<input type="hidden" id="GrdetailLotNumber" value="" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtAbnormalqualityNoQ@(itemName)">品異單單號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtAbnormalqualityNoQ@(itemName)" name="txtAbnormalqualityNoQ@(itemName)" placeholder="請輸入設備識別碼" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtErpNoQ@(itemName)">製令單號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtErpNoQ@(itemName)" name="txtErpNoQ@(itemName)" placeholder="請輸入製令單號" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtMoIdQ@(itemName)">製令條碼</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMoIdQ@(itemName)" name="txtMoIdQ@(itemName)" placeholder="請輸入製令條碼" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtBarcodeNoQ@(itemName)">條碼</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtBarcodeNoQ@(itemName)" name="txtBarcodeNoQ@(itemName)" placeholder="請輸入條碼" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboResponsibleDeptIdQ@(itemName)">責任單位</label>
                            <div class="col-12">
                                <select class="form-control" id="cboResponsibleDeptIdQ@(itemName)" name="cboResponsibleDeptIdQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboAbnormalqualityStatusQ@(itemName)">品異單狀態</label>
                            <div class="col-12">
                                <select class="form-control" id="cboAbnormalqualityStatusQ@(itemName)" name="cboAbnormalqualityStatusQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">單據日期 <input type="checkbox" id="cbxCreateDateQ@(itemName)" checked /></label>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtStartCreateDateQ@(itemName)" name="txtStartCreateDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtEndCreateDateQ@(itemName)" name="txtEndCreateDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);">
                            <i class="fal fa-search"></i>搜尋
                        </a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn btn-info auth-add" href="javascript:NewAqReturn@(itemName)();"><i class="fas fa-plus"></i>多項目異常案例新增</a>
                        <a class="btn btn-info auth-add" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th scope="col" style="min-width: 200px;">品異單單號</th>
                                        <th scope="col" style="min-width: 150px;">異常單據</th>
                                        <th scope="col" style="min-width: 200px;">單據編號</th>
                                        <th class="text-center" scope="col" style="min-width: 200px;">檢驗類型</th>
                                        <th class="text-center" scope="col" style="min-width: 200px;">異常製程</th>
                                        <th class="text-center" scope="col" style="min-width: 200px;">單據日期</th>
                                        <th class="text-center" scope="col" style="min-width: 200px;">品異單狀態</th>
                                        <th class="text-center" scope="col" style="min-width: 200px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container custom-form-container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="AbnormalqualityId" name="AbnormalqualityId" value="-1" />
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtAbnormalqualityNo@(itemName)">品異單單號 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtAbnormalqualityNo@(itemName)" name="txtAbnormalqualityNo@(itemName)" placeholder="請輸入品異單單號"
                                       data-msg-required="請輸入品異單單號" data-rule-required="true"
                                       data-msg-maxlength="必須少於 15 個字元" maxlength="100" readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label">單據日期 </label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtCreateDate@(itemName)" name="txtCreateDate@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboQcType@(itemName)">檢驗類別<span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboQcType@(itemName)" name="cboQcType@(itemName)">
                                    <option value="">-- 請選擇檢驗類別 --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row MoIdShow">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtMoId@(itemName)">綁定MES製令<span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="hidden" id="txtMoId@(itemName)" value="" />
                                <div class="btn-group btn-group@(itemName) choose-MoId">
                                    <a class="btn btn-success pop-view" href="javascript:void(0);"><i class="fal fa-search"></i></a>
                                    <a class="btn btn-outline-danger pop-clear" href="javascript:clearMoId();"><i class="fas fa-eraser"></i></a>
                                </div>
                                <dl class="help-block">
                                    <dt>製令</dt>
                                    <dd id="desWoErpFullNo@(itemName)"></dd>
                                    <dt>品號</dt>
                                    <dd id="desMtlItemNo@(itemName)"></dd>
                                    <dt>品名</dt>
                                    <dd id="desMtlItemName@(itemName)"></dd>
                                </dl>
                            </div>
                        </div>
                        <div class="form-group row MoProcessShow">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="MoId">綁定異常製程<span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="hidden" id="MoProcessId" value="" />
                                <input type="hidden" id="MoId" value="" />
                                <div class="btn-group btn-group@(itemName) choose-MoId">
                                    <a class="btn btn-success" href="javascript:PopViewMoProcess();"><i class="fal fa-search"></i></a>
                                    <a class="btn btn-outline-danger" href="javascript:clearMoProcess();"><i class="fas fa-eraser"></i></a>
                                </div>
                                <dl class="help-block showMoProcess">
                                    <dt>異常製程名稱</dt>
                                    <dd id="desProcessAlias@(itemName)"></dd>
                                </dl>
                            </div>
                        </div>
                        <div class="form-group row IQCShow">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtGoodsReceipt@(itemName)">進貨單單身<span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9" style="display:flex;">
                                <input type="hidden" id="txtMoId@(itemName)" value="" />
                                <input type="hidden" id="txtSourceType@(itemName)" value="" />
                                <input type="hidden" id="txtPriceSourceType@(itemName)" value="" />
                                <input type="hidden" id="txtSelectOrderId@(itemName)" value="" />
                                <input type="text" class="form-control" id="txtGoodsReceipt@(itemName)" name="txtGoodsReceipt@(itemName)" placeholder="進貨單" style="width: 100%;" readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboAbnormalqualityStatus@(itemName)">品異單狀態 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboAbnormalqualityStatus@(itemName)" name="cboAbnormalqualityStatus@(itemName)"
                                        data-msg-required="請選擇品異單狀態" data-rule-required="true" disabled></select>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="advanced-block">
    <div class="row">
        <div class="col-12">
            <ul class="nav flag-tabs nav-fill" role="tablist">
                <li class="flag-item">
                    <a class="flag-link active" data-toggle="tab" href="#tabAqCountermeasureDetail">
                        <i class="fas fa-computer-classic"></i> 品異單回報條碼列表
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane active" id="tabAqCountermeasureDetail">
            @*@Html.Partial("AqCountermeasureDetail")*@
            @Html.Partial("AqReturnCountermeasureDetail")
        </div>
    </div>
</div>

@Html.Partial("ViewAqBarcodeNo")


@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        $(document).ready(function () {

            ComboBoxs.Default("#cboAbnormalqualityStatusQ@(itemName)", "@Url.Action("GetStatus", "BasicInformation")", { "StatusSchema": "Abnormalquality.AbnormalqualityStatus" }, "", "NA", "", "StatusName", "StatusNo");
            ComboBoxs.Default("#cboQcType@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "QcItem.QcType" }, "", "NA", "", "TypeName", "TypeNo");
            ComboBoxs.Default("#cboResponsibleDeptIdQ@(itemName)", "@Url.Action("GetDepartment", "BasicInformation")", {}, "", "NA", "", "DepartmentWithNo", "DepartmentId"); //責任部門


            let currentDate = new Date();
            @*Suites.DateDropper("#txtStartCreateDateQ@(itemName),#txtEndCreateDateQ@(itemName)");
            Suites.SetDateDropper("#txtEndCreateDateQ@(itemName)", currentDate);
            currentDate.setDate(currentDate.getDate() - 7);
            Suites.SetDateDropper("#txtStartCreateDateQ@(itemName)", currentDate);*@

            Suites.DatePicker("txtEndCreateDateQ@(itemName)", currentDate);
            currentDate.setDate(currentDate.getDate() - 30);
            Suites.DatePicker("txtStartCreateDateQ@(itemName)", currentDate);

            if (!isMobile) {
                $("#cboAbnormalqualityStatusQ@(itemName), #cboQcType@(itemName), #cboResponsibleDeptIdQ@(itemName)").select2({
                    width: "100%"
                });
            }
            $(".MoProcessShow").hide()
            Query@(itemName)();

        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let targetUrl = "@Url.Action("GetAbnormalquality", "Abnormalquality")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "AbnormalqualityNo": $("#txtAbnormalqualityNoQ@(itemName)").val(),
                "AbnormalqualityStatus": $("#cboAbnormalqualityStatusQ@(itemName)").val(),
                "StartCreateDate": ($("#cbxCreateDateQ@(itemName)").is(":checked") ? $("#txtStartCreateDateQ@(itemName)").val() : ""),
                "EndCreateDate": ($("#cbxCreateDateQ@(itemName)").is(":checked") ? $("#txtEndCreateDateQ@(itemName)").val() : ""),
                "BarcodeNo": $("#txtBarcodeNoQ@(itemName)").val(),
                "ErpNo": $("#txtErpNoQ@(itemName)").val(),
                "MoId": $("#txtMoIdQ@(itemName)").val(),
                "ResponsibleDeptId": $("#cboResponsibleDeptIdQ@(itemName)").val()
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr>
                                        <td>${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.AbnormalqualityNo}" style="max-width: 200px;">${item.AbnormalqualityNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.QcType}" style="max-width: 200px;">${item.QcType != `IQC` ? `MES製令` : `進貨單`}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MoNo}" style="max-width: 200px;">${item.QcType != `IQC` ? item.MoNo : item.GrErpFull}</td>
                                        <td class="text-center" class="ellipsis" data-toggle="tooltip" title="${item.QcType}" style="max-width: 200px;">${TypeName(`QcItem.QcType`, item.QcType)}</td>
                                        <td class="ellipsis text-center" data-toggle="tooltip" title="${item.ProcessAlias}" style="max-width: 200px;">${item.QcType != `IQC` && item.QcType != `OQC` ? item.ProcessAlias : `無`}</td>
                                        <td class="ellipsis text-center" data-toggle="tooltip" title="${item.CreateDate}" style="max-width: 200px;">${item.CreateDate}</td>
                                        <td class="text-center">${StatusName(`Abnormalquality.AbnormalqualityStatus`, item.AbnormalqualityStatus)}</td>
                                        <td class="text-center active-content">
                                          <a class="active-link" href="javascript:Detail@(itemName)(${item.AbnormalqualityId});"><i class="fas fa-list"></i><span>單身</span></a>
                                          <a class="active-link auth-update" href="javascript:Edit@(itemName)(${item.AbnormalqualityId});"><i class="fas fa-eye"></i></a>
                                        </td>
                                      </tr>
                                      <tr data-abnormalquality-id="${item.AbnormalqualityId}" style="display: none;">
                                        <td colspan="10">
                                          <table style="width: 100%; margin: auto; border: 1px solid #d7d7e1;">
                                            <thead>
                                             <tr>
                                                <th class="thead-customized" scope="col">類型</th>
                                                <th class="thead-customized" scope="col">項目</th>
                                                <th class="thead-customized" scope="col">進度狀態</th>
                                                <th class="thead-customized" scope="col">是否做判定</th>
                                                <th class="thead-customized" scope="col">責任者</th>
                                                <th class="thead-customized" scope="col">責任單位</th>
                                                <th class="thead-customized text-center" scope="col">操作</th>
                                              </tr>
                                           </thead>
                                            <tbody>
                                                ${DetailData@(itemName)(item.AqBarcode, item.QcType, item.GrMtlItemNo, item.LotNumber)}
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                      `;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="8" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));
            if ($("#cboResponsibleDeptIdQ@(itemName)").val() != "") {
                $(".pagination").hide()
            }
        }

        function DetailData@(itemName)(source, QcType, GrMtlItemNo, LotNumber){
            let html = '';

            if (source) {
                let json = JSON.parse(source);
                for (let x = 0; x < json.data.length; x++) {
                    var itemType = "";
                    var itemContent = "";
                    if (QcType != `IQC`) {
                        itemType = "條碼"
                        itemContent = json.data[x].BarcodeNo
                    }
                    else {
                        itemType = "品號</br>批號"
                        itemContent = GrMtlItemNo + "</br>" + LotNumber
                    }
                    html += `<tr>
                                <td class="tbody-customized">${itemType}</td>
                                <td class="tbody-customized">${itemContent}</td>
                                <td class="tbody-customized">${StatusName(`AqBarcode.AqBarcodeStatus`, json.data[x].AqBarcodeStatus)}</td>
                                <td class="tbody-customized">${json.data[x].JudgeConfirm}</td>
                                <td class="tbody-customized">${ json.data[x].UserNo} ${ json.data[x].UserName}</td>
                                <td class="tbody-customized">${json.data[x].DepartmentName}</td>
                                <td class="text-center active-content">
                                    <a class="active-link auth-detail" href="javascript:PopViewAqBarcodeNo(${json.data[x].AqBarcodeId},'${json.data[x].BarcodeNo}');"><i class="fas fa-eye"></i></a>
                                </td>
                            </tr>`;
                }
            }

            return html;
        }
        function Detail@(itemName)(AbnormalqualityId) {
            if ($(`tr[data-abnormalquality-id=${AbnormalqualityId}]`).css("display") == "none") {
                $("tr[data-abnormalquality-id]").hide();
                $(`tr[data-abnormalquality-id=${AbnormalqualityId}]`).show();
            } else {
                $("tr[data-abnormalquality-id]").hide();
            }
        }

        function Edit@(itemName)(AbnormalqualityId) {
            $("#AbnormalqualityId").val(AbnormalqualityId ? AbnormalqualityId : 0);
            $(".pagination").show()
            $(".MoIdShow").show()
            $(".IQCShow").hide()
            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");

            ComboBoxs.Default("#cboAbnormalqualityStatus@(itemName)", "@Url.Action("GetStatus", "BasicInformation")", { "StatusSchema": "Abnormalquality.AbnormalqualityStatus" }, "", "NA", "", "StatusName", "StatusNo");
            $("#cboQcType@(itemName)").attr("disabled", true);

            if (AbnormalqualityId > 0) {
                let targetUrl = "@Url.Action("GetAbnormalquality", "Abnormalquality")";
                let postData = {
                    "AbnormalqualityId": AbnormalqualityId
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        $(".choose-MoId").hide()

                        ComboBoxs.Default("#cboQcType@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "QcItem.QcType" }, item.QcType, "NA", "", "TypeName", "TypeNo");

                        if (item.QcType == "IPQC") {
                            $(".MoProcessShow").show();
                        }
                        else if (item.QcType == "IQC") {
                            console.log("A")
                            $(".MoProcessShow").hide();
                            $(".MoIdShow").hide()
                            $(".IQCShow").show()
                            $("#GrdetailMtlItemNo").val(item.GrMtlItemNo)
                            $("#GrdetailLotNumber").val(item.LotNumber)
                            $("#GrDetailId").val(item.GrDetailId)
                        }
                        else {
                            $(".MoProcessShow").hide();
                        }

                        $("#txtAbnormalqualityNo@(itemName)").val(item.AbnormalqualityNo);
                        $("#txtCreateDate@(itemName)").val(item.CreateDate);
                        $("#cboAbnormalqualityStatus@(itemName)").val(item.AbnormalqualityStatus);

                        $("#desWoErpFullNo@(itemName)").text(item.MoNo);
                        $("#desMtlItemNo@(itemName)").text(item.MtlItemNo);
                        $("#desMtlItemName@(itemName)").text(item.MtlItemName);

                        $("#MoProcessId").val(item.MoProcessId);
                        $("#MoId").val(item.MoId);
                        $(".help-block").show();
                        $("#desProcessAlias@(itemName)").text(item.ProcessAlias);
                        $("#txtGoodsReceipt@(itemName)").val(item.GrErpFull);
                    });
                    ExpandAqReturnCountermeasureDetail();
                } else {
                    alert(data.msg, "alert", 0);
                }
            }
            if (!isMobile) {
                $("#cboAbnormalqualityStatus@(itemName)").select2({
                    width: "100%"
                });
            }
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let AbnormalqualityId = parseInt($("#AbnormalqualityId").val());
                console.log("A")
                console.log($("#cboQcType@(itemName)").val() )
                console.log("Aacds")

                if ($("#cboQcType@(itemName)").val() != "IPQC" && $("#cboQcType@(itemName)").val() != "OQC") {
                    alert("目前檢驗類別未規劃，請選擇其他類別")
                    return
                }

                if (AbnormalqualityId <= 0) {
                    let targetUrl = "@Url.Action("AddAbnormalquality", "Abnormalquality")";
                    let postData = {
                        "DocDate": $("#txtCreateDate@(itemName)").val(),
                        "MoId": $("#MoId").val(),
                        "MoProcessId": $("#MoProcessId").val(),
                        "QcType": $("#cboQcType@(itemName)").val()
                    };

                    let data = DataAccess.EditContinued(targetUrl, postData, false);

                    if (data) {
                        $.each(data.result, function (i, item) {
                            $("#txtCreateDate@(itemName)").attr("readonly", true);
                            $("#cboQcType@(itemName)").attr("disabled", true);
                            $('#txtCreateDate@(itemName)').dateDropper('destroy');
                            ComboBoxs.Default("#cboAbnormalqualityStatus@(itemName)", "@Url.Action("GetStatus", "BasicInformation")", { "StatusSchema": "Abnormalquality.AbnormalqualityStatus" }, "", "NA", "", "StatusName", "StatusNo");

                            $("#AbnormalqualityId").val(item.AbnormalqualityId);
                            $("#txtAbnormalqualityNo@(itemName)").val(item.AbnormalqualityNo);
                            $("#cboAbnormalqualityStatus@(itemName)").val(item.AbnormalqualityStatus);
                            $("#BarcodeListView").val(item.QcType);
                            $(".choose-MoId").hide()

                        });
                        ExpandAqReturnDetail();

                    }
                }
            }
        }

        function Delete@(itemName)(AbnormalqualityId) {
            swal.fire({
                titleText: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteAbnormalquality", "Abnormalquality")";
                    let postData = {
                        "AbnormalqualityId": AbnormalqualityId,
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function NewAqReturn@(itemName)() {
            var AbnormalqualityData = `{
                                          "data": [
                                            {
                                              "QcRecordId": 90,
                                              "DefectCauseId": null,
                                              "DefectCauseDesc": null,
                                              "BarcodeId": 2477,
                                              "ConformUserId": null,
                                              "ResponsibleDeptId": 100,
                                              "ResponsibleUserId": 986,
                                              "SubResponsibleDeptId": null,
                                              "SubResponsibleUserId": null,
                                              "ProgrammerUserId": 986,
                                              "RepairCauseId": null,
                                              "RepairCauseDesc": null,
                                              "RepairCauseUserId": null,
                                              "MoProcessId": 474,
                                              "DocDate": "2023-02-16T11:14:47.7876104+08:00",
                                              "QcType": "IPQC",
                                              "MoId": 118,
                                              "QcBarcodeId": 130
                                            },
                                            {
                                              "QcRecordId": 90,
                                              "DefectCauseId": null,
                                              "DefectCauseDesc": null,
                                              "BarcodeId": 2478,
                                              "ConformUserId": null,
                                              "ResponsibleDeptId": 100,
                                              "ResponsibleUserId": 986,
                                              "SubResponsibleDeptId": null,
                                              "SubResponsibleUserId": null,
                                              "ProgrammerUserId": 986,
                                              "RepairCauseId": null,
                                              "RepairCauseDesc": null,
                                              "RepairCauseUserId": null,
                                              "MoProcessId": 474,
                                              "DocDate": "2023-02-16T11:14:47.7876104+08:00",
                                              "QcType": "IPQC",
                                              "MoId": 118,
                                              "QcBarcodeId": 131
                                            }
                                          ]
                                        }`
            var AbnormalProjectList = `{
                                          "data": [
                                            {
                                              "BarcodeId": 2475,
                                              "QcItemId": 424,
                                              "CauseId": 1,
                                              "CauseDesc": "NG001"
                                            },
                                            {
                                              "BarcodeId": 2476,
                                              "QcItemId": 425,
                                              "CauseId": 1,
                                              "CauseDesc": "NG001"
                                            }
                                          ]
                                        }`
            let targetUrl = "@Url.Action("AddAbnormalqualityPad01", "Abnormalquality")";
            let postData = {
                "AbnormalqualityData": AbnormalqualityData,
                "AbnormalProjectList": AbnormalProjectList,
            };

            let data = DataAccess.EditContinued(targetUrl, postData, false);

            if (data) {
                $.each(data.result, function (i, item) {
                    $("#txtCreateDate@(itemName)").attr("readonly", true);
                    $("#cboQcType@(itemName)").attr("disabled", true);
                    $('#txtCreateDate@(itemName)').dateDropper('destroy');
                    ComboBoxs.Default("#cboAbnormalqualityStatus@(itemName)", "@Url.Action("GetStatus", "BasicInformation")", { "StatusSchema": "Abnormalquality.AbnormalqualityStatus" }, "", "NA", "", "StatusName", "StatusNo");

                    $("#AbnormalqualityId").val(item.AbnormalqualityId);
                    $("#txtAbnormalqualityNo@(itemName)").val(item.AbnormalqualityNo);
                    $("#cboAbnormalqualityStatus@(itemName)").val(item.AbnormalqualityStatus);
                    $("#BarcodeListView").val(item.QcType);
                    $(".choose-MoId").hide()

                });
                ExpandAqReturnDetail();

            }
        }

        function clearMoId() {
            $("#MoId").val("")
        }
        function clearMoProcess() {
            $("#MoProcessId").val("")
            $("#desProcessAlias@(itemName)").text("")
            $(".showMoProcess").hide()
        }

        function Return@(itemName)() {
            $("#AbnormalqualityId").val("")
            $("#MoId").val("")
            $("#MoProcessId").val("")
            $("#GrdetailMtlItemNo").val("")
            $("#GrdetailLotNumber").val("")
            $("#GrDetailId").val("")
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName)", "#editData@(itemName), .unit-block, .advanced-block");
            Query@(itemName)();
        }

    </script>
                        )