@using Business_Manager.Helpers
@{
    string itemName = "AqReturnCountermeasureDetail";
    string itemNameText = "品質異常對策詳細資料";
}

@Html.Resource("css",
    @<style>
         .centerObject {
             vertical-align: middle !important;
             text-align: center;
             
         }
    </style>
                        )

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboAqBarcodeStatusQ@(itemName)">異常條碼狀態 <span class="text-danger">*</span></label>
                            <div class="col-12">
                                <select class="form-control" id="cboAqBarcodeStatusQ@(itemName)" name="cboAqBarcodeStatusQ@(itemName)"
                                        data-msg-required="請選擇異常條碼狀態" data-rule-required="true"></select>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);">
                            <i class="fal fa-search"></i>搜尋
                        </a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right read-status">
                        <a class="btn btn-info auth-detail" href="javascript:PopViewAqCountermeasureDetailBatch();"><i class="fas fa-plus"></i>批量對策管理</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th scope="col" style="min-width: 100px;">類型</th>
                                        <th scope="col" style="min-width: 200px;">項目</th>
                                        <th class="text-center" scope="col" style="min-width: 200px;">進度狀態</th>
                                        <th class="text-center" scope="col" style="min-width: 200px;">是否做判定</th>
                                        <th class="text-center" scope="col" style="min-width: 200px;">對策者</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="AqBarcodeId" name="AqBarcodeId" value="-1" />
                        <a class="btn btn-collapse" data-toggle="collapse" href="#basic@(itemName)">
                            <span><i class="fas fa-clipboard"></i> 基本資料</span>
                            <i class="fas fa-chevron-down"></i>
                        </a>
                        <div class="collapse mb-3" id="basic@(itemName)">
                            <div class="card card-body">
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="col-12 col-form-label" for="txtMoNo@(itemName)">製令 <span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <input type="text" class="form-control" id="txtMoNo@(itemName)" name="txtMoNo@(itemName)" placeholder="請輸入製令"
                                                       data-msg-required="請輸入製令" data-rule-required="true"
                                                       data-msg-maxlength="必須少於 100 個字元" maxlength="100" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="col-12 col-form-label" for="txtMtlItemNo@(itemName)">品號 <span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <input type="text" class="form-control" id="txtMtlItemNo@(itemName)" name="txtMtlItemNo@(itemName)" placeholder="請輸入品號"
                                                       data-msg-required="請輸入品號" data-rule-required="true"
                                                       data-msg-maxlength="必須少於 100 個字元" maxlength="100" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-12">
                                        <div class="form-group row">
                                            <label class="col-12 col-form-label" for="txtProcessAlias@(itemName)">製程 <span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <input type="text" class="form-control" id="txtProcessAlias@(itemName)" name="txtProcessAlias@(itemName)" placeholder="請輸入品號"
                                                       data-msg-required="請輸入製程" data-rule-required="true"
                                                       data-msg-maxlength="必須少於 100 個字元" maxlength="100" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12">
                                        <div class="form-group row">
                                            <label class="col-12 col-form-label" for="txtBarcodeNo@(itemName)">異常條碼 </label>
                                            <div class="col-12">
                                                <input type="text" class="form-control" id="txtBarcodeNo@(itemName)" name="txtBarcodeNo@(itemName)" placeholder="請輸入異常條碼"
                                                       data-msg-required="請輸入異常條碼"
                                                       data-msg-maxlength="必須少於 100 個字元" maxlength="100" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12">
                                        <div class="form-group row">
                                            <label class="col-12 col-form-label" for="cboAqBarcodeStatus@(itemName)">異常條碼狀態 <span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <select class="form-control" id="cboAqBarcodeStatus@(itemName)" name="cboAqBarcodeStatus@(itemName)"
                                                        data-msg-required="請選擇異常條碼狀態" data-rule-required="true"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4 col-md-12">
                                        <div class="form-group row">
                                            <label class="col-12 col-form-label" for="txtNgQty@(itemName)">NG個數 <span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <input type="text" class="form-control" id="txtNgQty@(itemName)" name="txtNgQty@(itemName)" placeholder="請輸入NG個數"
                                                       data-msg-required="請輸入NG個數" data-rule-required="true"
                                                       data-msg-maxlength="必須少於 100 個字元" maxlength="100" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12">
                                        <div class="form-group row">
                                            <label class="col-12 col-form-label" for="cboQcStatus@(itemName)">檢驗人員判斷結果</label>
                                            <div class="col-12">
                                                <select class="form-control" id="cboQcStatus@(itemName)" name="cboQcStatus@(itemName)"
                                                        data-msg-required="請選擇檢驗人員判斷結果"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-12">
                                        <div class="form-group row">
                                            <label class="col-12 col-form-label" for="cboQcUserId@(itemName)">檢驗人員</label>
                                            <div class="col-12">
                                                <select class="form-control" id="cboQcUserId@(itemName)" name="cboQcUserId@(itemName)"
                                                        data-msg-required="請選擇檢驗人員"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="txtRemark@(itemName)">品保判斷時備註</label>
                                            <div class="col-12">
                                                <textarea class="form-control" id="txtRemark@(itemName)" name="txtRemark@(itemName)"
                                                          data-msg-maxlength="必須少於 255 個字元" maxlength="255" rows="2" placeholder="請輸入品保判斷時備註"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="btn btn-collapse" data-toggle="collapse" href="#basic@(itemName)">
                            <span><i class="fas fa-clipboard"></i> 不良回報資料</span>
                            <i class="fas fa-chevron-down"></i>
                        </a>
                        <div class="collapse mb-3" id="basic@(itemName)">
                            <div class="card card-body">

                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="col-12 col-form-label" for="cboResponsibleDeptId@(itemName)">責任單位 <span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <select class="form-control" id="cboResponsibleDeptId@(itemName)" name="cboResponsibleDeptId@(itemName)"
                                                        data-msg-required="請選擇責任單位" data-rule-required="true"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="col-12 col-form-label" for="cboResponsibleUserId@(itemName)">責任者 <span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <select class="form-control" id="cboResponsibleUserId@(itemName)" name="cboResponsibleUserId@(itemName)"
                                                        data-msg-required="請選擇責任者" data-rule-required="true"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="col-12 col-form-label" for="cboSubResponsibleDeptId@(itemName)">副責任單位 </label>
                                            <div class="col-12">
                                                <select class="form-control" id="cboSubResponsibleDeptId@(itemName)" name="cboSubResponsibleDeptId@(itemName)"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="col-12 col-form-label" for="cboSubResponsibleUserId@(itemName)">副責任者 </label>
                                            <div class="col-12">
                                                <select class="form-control" id="cboSubResponsibleUserId@(itemName)" name="cboSubResponsibleUserId@(itemName)"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="col-12 col-form-label" for="cboProgrammerUserId@(itemName)">編程者 </label>
                                            <div class="col-12">
                                                <select class="form-control" id="cboProgrammerUserId@(itemName)" name="cboProgrammerUserId@(itemName)"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="col-12 col-form-label" for="cboConformUserId@(itemName)">合致對象 </label>
                                            <div class="col-12">
                                                <select class="form-control" id="cboConformUserId@(itemName)" name="cboConformUserId@(itemName)"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="btn btn-collapse" data-toggle="collapse" href="#basicReCo@(itemName)">
                            <span><i class="fas fa-clipboard"></i> 不良代碼和對策資料</span>
                            <i class="fas fa-chevron-down"></i>
                        </a>
                        <div class="collapse mb-3" id="basicReCo@(itemName)" style="display:block">
                            <div class="card card-body">
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="col-12 col-form-label" for="cboRepairCauseUserId@(itemName)">編寫對策者 <span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <select class="form-control" id="cboRepairCauseUserId@(itemName)" name="cboRepairCauseUserId@(itemName)"
                                                        data-msg-required="請選擇編寫對策者" data-rule-required="true"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-body QcTypeNoN">
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="col-12 col-form-label" for="cboDefectCauseId@(itemName)">不良代碼 <span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <select class="form-control" id="cboDefectCauseId@(itemName)" name="cboDefectCauseId@(itemName)"
                                                        data-msg-required="請選擇不良代碼" data-rule-required="true"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="col-12 col-form-label" for="txtDefectCauseDesc@(itemName)">不良原因 <span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <input type="text" class="form-control" id="txtDefectCauseDesc@(itemName)" name="txtDefectCauseDesc@(itemName)" placeholder="請輸入設備名稱"
                                                       data-msg-required="請輸入不良原因" data-rule-required="true"
                                                       data-msg-maxlength="必須少於 100 個字元" maxlength="100" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="col-12 col-form-label" for="cboRepairCauseId@(itemName)">對策代碼 <span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <select class="form-control" id="cboRepairCauseId@(itemName)" name="cboRepairCauseId@(itemName)" onchange="GetRepairCause()"
                                                        data-msg-required="請選擇對策代碼" data-rule-required="true"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="col-12 col-form-label" for="txtRepairCauseDesc@(itemName)">對策敘述 <span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <input type="text" class="form-control" id="txtRepairCauseDesc@(itemName)" name="txtRepairCauseDesc@(itemName)" placeholder="請輸入對策敘述"
                                                       data-msg-required="請輸入對策敘述" data-rule-required="true"
                                                       data-msg-maxlength="必須少於 100 個字元" maxlength="100" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-body QcTypeQC">
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

@Html.Partial("ViewAqCountermeasureDetailBatch")

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        let userId@(itemName);
        let companyId@(itemName);
        let QcTypeDetail = "";
        let GrMtlItemNo = "";
        let GrLotNumber = "";

        $(document).ready(function () {
            ComboBoxs.Default("#cboAqBarcodeStatusQ@(itemName)", "@Url.Action("GetStatus", "BasicInformation")", { "StatusSchema": "AqBarcode.AqBarcodeStatus" }, "", "NA", "", "StatusName", "StatusNo");
            if (!isMobile) {
                $("#cboAqBarcodeStatusQ@(itemName)").select2({
                    width: "100%"
                });
            }
        });

        function Expand@(itemName)() {
            if (parseInt($("#AbnormalqualityId").val()) > 0) {
                $(".advanced-block").slideDown("slow");
                QcTypeDetail = $("#cboQcTypeAqCountermeasureManagment").val()
                if (QcTypeDetail == "IQC") {
                    GrMtlItemNo = $("#GrdetailMtlItemNo").val()
                    GrLotNumber = $("#GrdetailLotNumber").val()
                }
                Return@(itemName)();
            } else {
                alert("品異單對策資料錯誤", "alert");
            }
        }

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let targetUrl = "@Url.Action("GetAqDetail", "Abnormalquality")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "AbnormalqualityId": $("#AbnormalqualityId").val(),
                "AqBarcodeId": $("#AqBarcodeId").val(),
                "AqBarcodeStatus": $("#cboAqBarcodeStatusQ@(itemName)").val()
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";
                        innerHtml += `<tr>
                                        <td>${_row}</td>
                                        <td>${QcTypeDetail != `IQC` ? `條碼` : `品號</br>批號`}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${QcTypeDetail != `IQC` ? item.BarcodeNo : `${GrMtlItemNo}</br>${GrLotNumber}`}" style="max-width: 200px;">${QcTypeDetail != `IQC` ? item.BarcodeNo : `${GrMtlItemNo}</br>${GrLotNumber}`}</td>
                                        <td class="text-center ellipsis" data-toggle="tooltip" title="${item.AqBarcodeStatus}" style="max-width: 200px;">${StatusName(`AqBarcode.AqBarcodeStatus`, item.AqBarcodeStatus)}</td>
                                        <td class="text-center ellipsis" data-toggle="tooltip" title="${item.JudgeConfirm}" style="max-width: 200px;">${item.JudgeConfirm == `Y` ? `是` : `否`}</td>
                                        <td class="text-center">${item.RepairCauseUserGender == `M` ? `<span class="gender-male"><i class="fas fa-male"></i></span>` : item.RepairCauseUserGender == `F` ? `<span class="gender-female"><i class="fas fa-female"></i></span>` : ``}${item.RepairCauseUserNo != null ? item.RepairCauseUserNo : `<span style="color:red">目前沒有人做對策</span>`} ${item.RepairCauseUserName != null ? item.RepairCauseUserName : ``}</td>
                                        <td class="text-center active-content">
                                          <a class="active-link auth-detail" href="javascript:PopViewAqBarcodeNo(${item.AqBarcodeId},'${item.BarcodeNo}');"><i class="fas fa-eye"></i></a>
                                          <a class="active-link auth-detail" href="javascript:Edit@(itemName)(${item.AqBarcodeId});"><i class="fas fa-edit"></i></a>
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="7" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));
        }

        function Edit@(itemName)(AqBarcodeId) {
            GetUserInfo@(itemName)()
            

            $("#AqBarcodeId").val(AqBarcodeId ? AqBarcodeId : 0);

            $("#txtMoNo@(itemName)").attr("readonly", true);
            $("#txtMtlItemNo@(itemName)").attr("readonly", true);
            $("#txtProcessAlias@(itemName)").attr("readonly", true);
            $("#txtBarcodeNo@(itemName)").attr("readonly", true);
            $("#cboAqBarcodeStatus@(itemName)").attr("disabled", true);
            $("#txtNgQty@(itemName)").attr("readonly", true);
            $("#cboQcStatus@(itemName)").attr("disabled", true);
            $("#cboQcUserId@(itemName)").attr("disabled", true);
            $("#txtRemark@(itemName)").attr("readonly", true);
            $("#cboProgrammerUserId@(itemName)").attr("disabled", true);
            $("#cboConformUserId@(itemName)").attr("disabled", true);
            $("#cboDefectCauseId@(itemName)").attr("disabled", true);
            $("#txtDefectCauseDesc@(itemName)").attr("readonly", true);
            $("#cboResponsibleDeptId@(itemName)").attr("disabled", false);
            $("#cboResponsibleUserId@(itemName)").attr("disabled", false);
            $("#cboSubResponsibleDeptId@(itemName)").attr("disabled", true);
            $("#cboSubResponsibleUserId@(itemName)").attr("disabled", true);

            //基本資料
            ComboBoxs.Default("#cboAqBarcodeStatus@(itemName)", "@Url.Action("GetStatus", "BasicInformation")", { "StatusSchema": "AqBarcode.AqBarcodeStatus" }, "", "NA", "", "StatusName", "StatusNo");
            ComboBoxs.Default("#cboQcStatus@(itemName)", "@Url.Action("GetStatus", "BasicInformation")", { "StatusSchema": "BarcodeQcRecord.QcStatus" }, "", "NA", "", "StatusName", "StatusNo");

            //不良回報資料
            ComboBoxs.Default("#cboDefectCauseId@(itemName)", "@Url.Action("GetNgCause", "QmsBasicInformation")", {}, "", "NA", "", "NgCauseWithText", "CauseId"); //不良代碼
            ComboBoxs.Default("#cboResponsibleDeptId@(itemName)", "@Url.Action("GetDepartment", "BasicInformation")", {"CompanyId": companyId@(itemName), "Status": "A"}, "", "NA", "", "DepartmentWithNo", "DepartmentId"); //責任部門
            //ComboBoxs.Default("#cboResponsibleUserId@(itemName)", "@Url.Action("GetUser", "BasicInformation")", {"CompanyId": companyId@(itemName)}, "", "NA", "", "UserWithNo", "UserId"); //責任者
            ComboBoxs.Default("#cboSubResponsibleDeptId@(itemName)", "@Url.Action("GetDepartment", "BasicInformation")", {}, "", "NA", "", "DepartmentWithNo", "DepartmentId"); //副責任部門
            //ComboBoxs.Default("#cboSubResponsibleUserId@(itemName)", "@Url.Action("GetUser", "BasicInformation")", {"CompanyId": companyId@(itemName)}, "", "NA", "", "UserWithNo", "UserId"); //副責任者
            //ComboBoxs.Default("#cboProgrammerUserId@(itemName)", "@Url.Action("GetUser", "BasicInformation")", {"CompanyId": companyId@(itemName)}, "", "NA", "", "UserWithNo", "UserId"); //確認者
            //ComboBoxs.Default("#cboConformUserId@(itemName)", "@Url.Action("GetUser", "BasicInformation")", {"CompanyId": companyId@(itemName)}, "", "NA", "", "UserWithNo", "UserId"); //確認者

            //不良對策資料
            ComboBoxs.Default("#cboRepairCauseId@(itemName)", "@Url.Action("GetRepairCause", "QmsBasicInformation")", {}, "", "NA", "", "RepairCauseWithText", "CauseId"); //對策代碼
            //ComboBoxs.Default("#cboRepairCauseUserId@(itemName)", "@Url.Action("GetUser", "BasicInformation")", {"CompanyId": companyId@(itemName), "Status": "A"}, "", "NA", "", "UserWithNo", "UserId"); //編寫對策者

            ComboBoxs.Default("#cboQcUserId@(itemName), #cboResponsibleUserId@(itemName), #cboSubResponsibleUserId@(itemName), #cboProgrammerUserId@(itemName), #cboConformUserId@(itemName), #cboRepairCauseUserId@(itemName)", "@Url.Action("GetUser", "BasicInformation")", { "CompanyId": companyId@(itemName), "Status": "A"}, "", "NA", "", "UserWithNo", "UserId"); //確認者
            Switch("#editData@(itemName)", "#listData@(itemName)");

            if (AqBarcodeId > 0) {
                let targetUrl = "@Url.Action("GetAqDetail", "Abnormalquality")";
                let postData = {
                    "AqBarcodeId": AqBarcodeId
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        //基本資料
                        $("#AqBarcodeId").val(item.AqBarcodeId);
                        $("#txtMoNo@(itemName)").val(item.MoNo);
                        $("#txtMtlItemNo@(itemName)").val(item.MtlItemNo);
                        $("#txtProcessAlias@(itemName)").val(item.ProcessAlias);
                        $("#txtBarcodeNo@(itemName)").val(item.BarcodeNo);
                        $("#cboAqBarcodeStatus@(itemName)").val(item.AqBarcodeStatus);
                        $("#txtNgQty@(itemName)").val(item.BarcodeQty);
                        $("#cboQcStatus@(itemName)").val(item.QcStatus);
                        $("#cboQcUserId@(itemName)").val(item.QcUserId);
                        $("#txtRemark@(itemName)").val(item.Remark);

                        //不良回報資料
                        $("#cboDefectCauseId@(itemName)").val(item.DefectCauseId);
                        $("#txtDefectCauseDesc@(itemName)").val(item.DefectCauseDesc);
                        $("#cboResponsibleDeptId@(itemName)").val(item.ResponsibleDeptId);
                        $("#cboResponsibleUserId@(itemName)").val(item.ResponsibleUserId);
                        $("#cboSubResponsibleDeptId@(itemName)").val(item.SubResponsibleDeptId);
                        $("#cboSubResponsibleUserId@(itemName)").val(item.SubResponsibleUserId);
                        $("#cboProgrammerUserId@(itemName)").val(item.UserId);
                        $("#cboConformUserId@(itemName)").val(item.UserId);

                        //不良對策資料
                        $("#cboRepairCauseId@(itemName)").val(item.RepairCauseId);
                        $("#txtRepairCauseDesc@(itemName)").val(item.RepairCauseDesc);
                        $("#cboRepairCauseUserId@(itemName)").val(item.RepairCauseUserId);
                        if (item.DefectCauseId == null) {
                            projectTable@(itemName)()
                        }
                        

                    });;
                } else {
                    alert(data.msg, "alert", 0);
                }
            }
            if ($("#cboDefectCauseId@(itemName)").val().length <= 0) {
            }
            if (!isMobile) {
                $(`#cboAqBarcodeStatus@(itemName) ,#cboQcStatus@(itemName) ,#cboQcUserId@(itemName)  
                     ,#cboDefectCauseId@(itemName) ,#cboResponsibleDeptId@(itemName) ,#cboResponsibleUserId@(itemName)
                     ,#cboSubResponsibleDeptId@(itemName) ,#cboSubResponsibleUserId@(itemName) 
                     ,#cboProgrammerUserId@(itemName) ,#cboConformUserId@(itemName)
                     ,#cboRepairCauseId@(itemName) ,#cboRepairCauseUserId@(itemName)
                    `).select2({
                    width: "100%"
                });
            }
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let AqBarcodeId = parseInt($("#AqBarcodeId").val());

                let AqQcItemList = [];
                $.each($(".AqQcItemId"), function () {
                    var AqQcItemId = $(this).data("aqqcitem-id")
                    AqQcItemList.push(AqQcItemId);
                });

                let RepairCauseList = [];
                
                AqQcItemList.forEach(function (item) {
                    var AqQcItemId = item
                    var QcItemId = $(`#txtQcItemId@(itemName)${AqQcItemId}`).data("qcitem-id")
                    var DefectCauseId = $(`#txtDefectCauseId@(itemName)${AqQcItemId}`).data("defectcause-id")
                    //var DefectCauseId = $(`#txtDefectCauseId@(itemName)${AqQcItemId}`).val()
                    var DefectCauseDesc = $(`#txtDefectCauseDesc@(itemName)${AqQcItemId}`).val()
                    var RepairCauseId = $(`#txtRepairCauseId@(itemName)${AqQcItemId}`).val()
                    var RepairCauseDesc = $(`#txtRepairCauseDesc@(itemName)${AqQcItemId}`).val()

                    var str = AqQcItemId + "%/%" + QcItemId + "%/%" + DefectCauseId + "%/%" + DefectCauseDesc + "%/%" + RepairCauseId + "%/%" + RepairCauseDesc

                    RepairCauseList.push(str);
                })
               

                let targetUrl = "@Url.Action("UpdateAqCountermeasureDetail", "Abnormalquality")";
                let postData = {
                    "AbnormalqualityId": $("#AbnormalqualityId").val(),
                    "AqBarcodeId": AqBarcodeId,
                    "RepairCauseId": $("#cboRepairCauseId@(itemName)").val(),
                    "RepairCauseDesc": $("#txtRepairCauseDesc@(itemName)").val(),
                    "RepairCauseUserId": $("#cboRepairCauseUserId@(itemName)").val(),
                    "RepairCauseList": RepairCauseList.join(','),
                    "ResponsibleDeptId": $("#cboResponsibleDeptId@(itemName)").val(),
                    "ResponsibleUserId": $("#cboResponsibleUserId@(itemName)").val()

                };

                let result = DataAccess.Update(targetUrl, postData, false, true);

                if (result) {
                    Return@(itemName)();
                }
            }
        }

        function GetRepairCause(AqQcItemId) {

            var method = "";
            let postData = "";
            if (typeof AqQcItemId != "undefined") {
                var CauseNo = $(`#txtRepairCauseId@(itemName)${AqQcItemId}`).val();
                method = "A";
            }
            else{
                var CauseId = $(`#cboRepairCauseId@(itemName)`).val();
                method = "B";
            }
            let targetUrl = "@Url.Action("GetRepairCause", "QmsBasicInformation")";
            if (method == "A") {
                postData = {
                    "CauseNo": CauseNo
                };
            }
            else if (method == "B") {
                postData = {
                    "CauseId": CauseId
                };
            }

            let data = DataAccess.Get(targetUrl, postData, false);
            console.log(data)

            if (data) {
                if (data.status == "success") {
                    if (data.result.length > 0) {
                        $.each(data.result, function (i, item) {
                            if (typeof AqQcItemId != "undefined") {
                                $(`#txtRepairCauseDesc@(itemName)${AqQcItemId}`).val(item.CauseDesc)
                                $(`#txtRepairCauseId@(itemName)${AqQcItemId}`).data("repaircause-id", item.CauseId)
                            }
                            else {
                                $(`#txtRepairCauseDesc@(itemName)`).val(item.CauseDesc)
                                $(`#txtRepairCauseId@(itemName)`).data("repaircause-id", item.CauseId)
                            }
                            
                        })
                    }
                    else {
                        $(`#txtRepairCauseId@(itemName)${AqQcItemId}`).val("")
                        $(`#txtRepairCauseDesc@(itemName)${AqQcItemId}`).val("")
                        $(`#txtRepairCauseId@(itemName)${AqQcItemId}`).data("repaircause-id", -1)
                        alert("對策代碼不存在")
                    }
                }
            }
        }

        function GetUserInfo@(itemName)() {
            let targetUrl = "@Url.Action("GetLoginByKey", "User")";
            let postData = {
                "UserNo": $.cookie("Login"),
                "KeyText": $.cookie("LoginKey")
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                userId@(itemName) = data.returnData.UserId;
                companyId@(itemName) = data.returnData.CompanyId;
            } else {
                alert(data.msg, "alert", 0);
            }
        }

        function Return@(itemName)() {
            $("#AqBarcodeId").val("")
            $(".QcTypeQC").empty()
            $(".QcTypeNoN").show();

            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName)", "#editData@(itemName)");
            Query@(itemName)();
        }

        function projectTable@(itemName)() {
            let innerHtml = '';
            
            let targetUrl = "@Url.Action("GetAqQcItem", "Abnormalquality")";
            let postData = {
                "AqBarcodeId": $("#AqBarcodeId").val(),
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data) {
                if (data.status == "success") {
                    if (data.result.length > 0) {

                        $.each(data.result, function (i, item) {
                            innerHtml += `
                                            <div class="row">
                                                <div class="col-lg-6 col-md-12">
                                                    <div class="form-group row" style="margin-bottom: 0;">
                                                        <label class="col-12 col-form-label" style="font-size:16px;">量測異常項目: <span class="text-danger AqQcItemId"  id="txtQcItemId@(itemName)${item.AqQcItemId}"  data-aqqcitem-id="${item.AqQcItemId}" data-qcitem-id="${item.QcItemId}">${item.QcItemName}</span></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6 col-md-12">
                                                    <div class="form-group row">
                                                        <label class="col-12 col-form-label" for="txtDefectCauseId@(itemName)${item.AqQcItemId}">不良代碼 <span class="text-danger">*</span></label>
                                                        <div class="col-12">
                                                            <input type="text" class="form-control" id="txtDefectCauseId@(itemName)${item.AqQcItemId}" name="txtDefectCauseId@(itemName)${item.AqQcItemId}" placeholder="請輸入不良代碼"
                                                                    data-msg-required="請輸入不良原因" data-rule-required="true"
                                                                    data-msg-maxlength="必須少於 100 個字元" maxlength="100" value="${item.DefectCauseNo}" data-defectcause-id="${item.DefectCauseId}" readonly/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-12">
                                                    <div class="form-group row">
                                                        <label class="col-12 col-form-label" for="txtDefectCauseDesc@(itemName)${item.AqQcItemId}">不良原因 <span class="text-danger">*</span></label>
                                                        <div class="col-12">
                                                            <input type="text" class="form-control" id="txtDefectCauseDesc@(itemName)${item.AqQcItemId}" name="txtDefectCauseDesc@(itemName)${item.AqQcItemId}" placeholder="請輸入不良原因"
                                                                    data-msg-required="請輸入不良原因" data-rule-required="true"
                                                                    data-msg-maxlength="必須少於 100 個字元" maxlength="100" value="${item.DefectCauseDesc}"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" style="margin-bottom: 0.75rem;">
                                                <div class="col-lg-6 col-md-12">
                                                    <div class="form-group row">
                                                        <label class="col-12 col-form-label" for="txtRepairCauseId@(itemName)${item.AqQcItemId}">對策代碼 <span class="text-danger">*</span></label>
                                                        <div class="col-12">
                                                            <input type="text" class="form-control" id="txtRepairCauseId@(itemName)${item.AqQcItemId}" name="txtRepairCauseId@(itemName)${item.AqQcItemId}" placeholder="請輸入對策代碼"
                                                                    data-msg-required="請輸入對策代碼" data-rule-required="true" onchange="GetRepairCause(${item.AqQcItemId})" data-aqqcitem-id="${item.AqQcItemId}" data-repaircause-id="${ item.RepairCauseId != null ? item.RepairCauseId : `` }"
                                                                    data-msg-maxlength="必須少於 100 個字元" maxlength="100" value="${item.RepairCauseId != null ? item.RepairCauseNo : ``}"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-12">
                                                    <div class="form-group row">
                                                        <label class="col-12 col-form-label" for="txtRepairCauseDesc@(itemName)${item.AqQcItemId}">對策敘述 <span class="text-danger">*</span></label>
                                                        <div class="col-12">
                                                            <input type="text" class="form-control" id="txtRepairCauseDesc@(itemName)${item.AqQcItemId}" name="txtRepairCauseDesc@(itemName)${item.AqQcItemId}" placeholder="請輸入對策敘述"
                                                                    data-msg-required="請輸入對策敘述" data-rule-required="true" 
                                                                    data-msg-maxlength="必須少於 100 個字元" maxlength="100" value="${item.RepairCauseDesc != null ? item.RepairCauseDesc : ``}"/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        `;
                        })
                        $("#basicReCo@(itemName) .QcTypeQC").html(innerHtml);
                    }
                    else {
                        $("#txtRepairCauseDesc@(itemName)").val("")
                    }
                }
            }
            $(".QcTypeNoN").hide();
        }
    </script>
)