@using Business_Manager.Helpers
@{
    string itemName = "ViewAqJudgmentDetailBatch";
    string itemNameText = "批量判定管理";
}

@Html.Resource("css",
    @<style>
    </style>
        )

<div class="modal fade" id="modal@(itemName)">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    @(itemNameText)
                </h5>
            </div>
            <div class="modal-body">
                <div class="row" id="listData@(itemName)">
                    <div class="col-lg-12">
                        <form autocomplete="off" id="editForm@(itemName)">
                            <div class="card card-body">
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="col-12 col-form-label" for="cboResponsibleDeptId@(itemName)">責任單位</label>
                                            <div class="col-12">
                                                <select class="form-control" id="cboResponsibleDeptId@(itemName)" name="cboResponsibleDeptId@(itemName)"
                                                        data-msg-required="請選擇責任單位"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="col-12 col-form-label" for="cboResponsibleUserId@(itemName)">責任者</label>
                                            <div class="col-12">
                                                <select class="form-control" id="cboResponsibleUserId@(itemName)" name="cboResponsibleUserId@(itemName)"
                                                        data-msg-required="請選擇責任者"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="col-12 col-form-label" for="txtJudgeDate@(itemName)">判定日 <span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <input type="text" class="form-control" id="txtJudgeDate@(itemName)" name="txtJudgeDate@(itemName)"
                                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="col-12 col-form-label" for="chkChangeJudgeFlag@(itemName)">是否改判 <span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <div class="row">
                                                    <div class="col-lg-3 col-md-4 col-6">
                                                        <label class="control control-solid control-solid-info control--radio col-12">
                                                            是
                                                            <input type="radio" id="chkChangeJudgeFlag@(itemName)Y" name="chkChangeJudgeFlag@(itemName)" value="Y"
                                                                   data-msg-required="請選擇是否改判" data-rule-required="true" />
                                                            <span class="control__indicator"></span>
                                                        </label>
                                                    </div>
                                                    <div class="col-lg-3 col-md-4 col-6">
                                                        <label class="control control-solid control-solid-info control--radio col-12">
                                                            否
                                                            <input type="radio" id="chkChangeJudgeFlag@(itemName)N" name="chkChangeJudgeFlag@(itemName)" value="N"
                                                                   data-msg-required="請選擇是否改判" data-rule-required="true" checked />
                                                            <span class="control__indicator"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="col-12 col-form-label" for="cboJudgeStatus@(itemName)">判定結果 <span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <select class="form-control" id="cboJudgeStatus@(itemName)" name="cboJudgeStatus@(itemName)"
                                                        data-msg-required="請選擇判定結果" data-rule-required="true"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="col-12 col-form-label" for="cboJudgeUserId@(itemName)">判定者 <span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <select class="form-control" id="cboJudgeUserId@(itemName)" name="cboJudgeUserId@(itemName)"
                                                        data-msg-required="請選擇判定者" data-rule-required="true"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row choose-MoProcess">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="col-12 col-form-label" for="cboMoProcessId@(itemName)">判定退回站別 <span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <select class="form-control" id="cboMoProcessId@(itemName)" name="cboMoProcessId@(itemName)"
                                                        data-msg-required="請選擇判定退回站別" data-rule-required="true"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="col-12 col-form-label" for="cboNextMoProcessId@(itemName)">返修後下一站 <span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <select class="form-control" id="cboNextMoProcessId@(itemName)" name="cboNextMoProcessId@(itemName)"
                                                        data-msg-required="請選擇返修後下一站"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row ReleaseQtyShow">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="col-12 col-form-label" for="txtJudgeReleaseQty@(itemName)">特採數量 <span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <input type="number" class="form-control" id="txtJudgeReleaseQty@(itemName)" name="txtJudgeReleaseQty@(itemName)" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group row">
                                            <label class="col-6 col-form-label" for="txtJudgeDesc@(itemName)" style="display:flex;justify-content:space-between">
                                                <span>判定原因</span>
                                                <span>
                                                    是否納入常用片語 <input type="checkbox" id="cbxUserAqPhrase@(itemName)" name="cbxUserAqPhrase@(itemName)" />
                                                </span>
                                            </label>
                                            <div class="col-6">
                                                <select class="form-control" id="cboAqPhrase@(itemName)" name="cboAqPhrase@(itemName)"></select>
                                            </div>
                                            <div class="col-12" style="margin-top:10px;">
                                                <textarea class="form-control" id="txtJudgeDesc@(itemName)" name="txtJudgeDesc@(itemName)"
                                                          data-msg-maxlength="必須少於 300 個字元" maxlength="300" rows="2" placeholder="請輸入判定原因"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-header" style="padding:1rem 0; border-bottom:0px">
                                <h3 class="modal-title">
                                    異常項目管理
                                </h3>
                            </div>
                            <div class="table-custom">
                                <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                    <thead>
                                        <tr>
                                            <th class="text-center" scope="col" style="min-width: 125px;">全選 <input type="checkbox" name="all" onclick="check_all(this,'cbxBarcode@(itemName)')" style="margin:3px" /></th>
                                            <th scope="col" style="min-width: 75px;">#</th>
                                            <th scope="col" style="min-width: 100px;">類型</th>
                                            <th scope="col" style="min-width: 200px;">項目</th>
                                            <th scope="col" style="min-width: 200px;">進度狀態</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" onclick="Close@(itemName)()"><i class="fas fa-times"></i>關閉</button>
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>


@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        let userId@(itemName);
        let companyId@(itemName);

        function Pop@(itemName)() {
            $("#modal@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });

            Query@(itemName)();
            GetUserInfo@(itemName)()
            $(window).keydown(function (event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    return false;
                }
            });
        }

        $(document).ready(function () {
            
            $("#cboJudgeStatus@(itemName)").change(function () {
                if ($("#cboJudgeStatus@(itemName)").val() == "RW") {
                    $(".choose-MoProcess").show();
                }
                else {
                    $(".choose-MoProcess").hide();
                }
                if (QcTypeDetail == "IQC") {
                    if ($("#cboJudgeStatus@(itemName)").val() == "R") {
                        $(".ReleaseQtyShow").show()
                    }
                    else {
                        $(".ReleaseQtyShow").hide()
                    }
                }
            })

            $("#cboAqPhrase@(itemName)").change(function () {
                let AqPhrase = $("#cboAqPhrase@(itemName)").val()
                $("#txtJudgeDesc@(itemName)").val(AqPhrase)
            })

        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));
        }

        function InitData@(itemName)(objPage) {
            let currentDate = new Date();
            Suites.DatePicker("txtJudgeDate@(itemName)", currentDate );
            $("#txtJudgeDate@(itemName)").val(FormatDate(currentDate))

            $(".choose-MoProcess").hide();
            $(".ReleaseQtyShow").hide()

            ComboBoxs.Default("#cboResponsibleDeptId@(itemName)", "@Url.Action("GetDepartment", "BasicInformation")", { "CompanyId": companyId@(itemName), "Status": "A"}, "", "NA", "", "DepartmentWithNo", "DepartmentId"); //責任部門
            ComboBoxs.Default("#cboResponsibleUserId@(itemName)", "@Url.Action("GetUser", "BasicInformation")", { "CompanyId": companyId@(itemName), "Status": "A" }, "", "NA", "", "UserWithNo", "UserId"); //責任者
            ComboBoxs.Default("#cboAqPhrase@(itemName)", "@Url.Action("GetAqPhrase", "Abnormalquality")", {}, "", "CHOOSE", "常用片語", "PhraseText", "PhraseText");
            
            let innerHtml = '';


            let targetUrl = "@Url.Action("GetAqDetail", "Abnormalquality")";
            let postData = {
                "AbnormalqualityId": $("#AbnormalqualityId").val(),
                "AqBarcodeId": $("#AqBarcodeId").val(),
                "JudgeConfirm":"N"
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {

                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    $.each(data.result, function (i, item) {
                        $("#MoId").val(item.MoId);

                        innerHtml += `<tr>
                                            <td class="text-center active-content">
                                                <input type="checkbox" id="cbxBarcode@(itemName)${item.AqBarcodeId}" name="cbxBarcode@(itemName)" value="${item.AqBarcodeId}" />
                                            </td>
                                            <td>${i+1}</td>
                                            <td>${QcTypeDetail != `IQC` ? `條碼` : `品號</br>批號`}</td>
                                            <td class="ellipsis" data-toggle="tooltip" title="${QcTypeDetail != `IQC` ? item.BarcodeNo : `${GrMtlItemNo}</br>${GrLotNumber}`}" style="max-width: 200px;">${QcTypeDetail != `IQC` ? item.BarcodeNo : `${GrMtlItemNo}</br>${GrLotNumber}`}</td>
                                            <td class="text-center ellipsis" data-toggle="tooltip" title="${item.AqBarcodeStatus}" style="max-width: 200px;">${StatusName(`AqBarcode.AqBarcodeStatus`, item.AqBarcodeStatus)}</td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                        <td class="text-center" colspan="5" style="background-color: #fff3cd;">
                                          <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料
                                        </td>
                                      </tr>`;
                }


            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();



            //不良判定資料
            if (QcTypeDetail != "IQC") {
                ComboBoxs.Default("#cboJudgeStatus@(itemName)", "@Url.Action("GetStatus", "BasicInformation")", { "StatusSchema": "AqBarcode.JudgeStatus" }, "", "NA", "", "StatusName", "StatusNo");
            }
            else {
                ComboBoxs.Default("#cboJudgeStatus@(itemName)", "@Url.Action("GetStatus", "BasicInformation")", { "StatusSchema": "AqBarcode.JudgeStatusIQC" }, "", "NA", "", "StatusName", "StatusNo");
            }
            ComboBoxs.Default("#cboJudgeUserId@(itemName)", "@Url.Action("GetUser", "BasicInformation")", { "CompanyId": companyId@(itemName), "Status": "A" }, "", "NA", "", "UserWithNo", "UserId"); //判定者
            ComboBoxs.Default("#cboMoProcessId@(itemName)", "@Url.Action("GetJudgeReturnMoProcess", "Abnormalquality")", { "MoId": $("#MoId").val() }, "", "NA", "", "ProcessAlias", "MoProcessId"); 
            ComboBoxs.Default("#cboNextMoProcessId@(itemName)", "@Url.Action("GetJudgeReturnMoProcess", "Abnormalquality")", { "MoId": $("#MoId").val() }, "", "CHOOSE", "結束加工", "ProcessAlias", "MoProcessId"); //返修後下一站

            if (!isMobile) {
                $(`#cboJudgeStatus@(itemName),#cboJudgeUserId@(itemName) ,#cboMoProcessId@(itemName) ,#cboNextMoProcessId@(itemName), #cboAqPhrase@(itemName), #cboResponsibleDeptId@(itemName), #cboResponsibleUserId@(itemName)`).select2({
                    width: "100%"
                });
            }

            //GetJudgeReturnMoProcess()

        }

        function GetJudgeReturnMoProcess() {
            let innerHtml = '';
            let pageCount = 0;

            let targetUrl = "@Url.Action("GetJudgeReturnMoProcess", "Abnormalquality")";
            let postData = {
                "OrderBy": "",
                "PageIndex": "",
                "PageSize": "",
                "MoId": $("#MoId").val()
            };
            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {

                    $.each(data.result, function (i, item) {

                        innerHtml += `<tr>
                                         <td class="text-center col-sticky">
                                          <label class="control control-solid control-solid-info control--radio">
                                            <input type="radio" data-mo-id="${item.MoId}" value="${item.MoProcessId}" id="rdoMoProcessId@(itemName)${item.MoProcessId}" name="rdoMoProcessId@(itemName)" />
                                            <span class="control__indicator"></span>
                                          </label>
                                          <input type="hidden" id="txtProcessAlias@(itemName)" data-mo-id="${item.MoId}" value="${item.ProcessAlias}"/>
                                          <input type="hidden" id="txtMoProcessId@(itemName)" data-mo-id="${item.MoId}" value="${item.MoProcessId}"/>
                                        </td>
                                        <td>${item.SortNumber}</td>
                                        <td>${item.ProcessAlias}</td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="8" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblMoProcessList@(itemName) tbody").html(innerHtml);

        }

        function Save@(itemName)() {

            if ($(objForm@(itemName)).valid()) {

                let BarcodeListY = [];
                let BarcodeListN = [];

                $.each($("input[name='cbxBarcode@(itemName)']"), function () {
                        if ($(this).is(":checked")) {
                            BarcodeListY.push($(this).val());
                        }
                        else {
                            if (!$(this).is(":disabled")) {
                                BarcodeListN.push($(this).val());
                            }
                        }
                });
                if (BarcodeListY.length <= 0) {
                    alert("條碼清單不能為空，請選擇條碼");
                    return;
                }

                var ReleaseQty =0
                if ($("#cboJudgeStatus@(itemName)").val() == "R" && QcTypeDetail == "IQC") {
                    ReleaseQty = $("#txtJudgeReleaseQty@(itemName)").val()
                }
                let targetUrl = "@Url.Action("UpdateAqJudgmentDetailBatch", "Abnormalquality")";
                let postData = {
                    "AbnormalqualityId": $("#AbnormalqualityId").val(),
                    "AqBarcodeIdList": BarcodeListY.join(","),
                    "JudgeStatus": $("#cboJudgeStatus@(itemName)").val(),
                    "JudgeReturnMoProcessId": $("#cboMoProcessId@(itemName)").val(),
                    "JudgeReturnNextMoProcessId": $("#cboNextMoProcessId@(itemName)").val(),
                    "JudgeDesc": $("#txtJudgeDesc@(itemName)").val(),
                    "JudgeUserId": $("#cboJudgeUserId@(itemName)").val(),
                    "JudgeDate": $("#txtJudgeDate@(itemName)").val(),
                    "ChangeJudgeFlag": $("input[name='chkChangeJudgeFlag@(itemName)']:checked").val(),
                    "ResponsibleDeptId": $("#cboResponsibleDeptId@(itemName)").val(),
                    "ResponsibleUserId": $("#cboResponsibleUserId@(itemName)").val(),
                    "ReleaseQty": ReleaseQty,
                    "UserAqPhrase": $("#cbxUserAqPhrase@(itemName)").is(":checked") ? "Y" : "N"
                };

                let result = DataAccess.Add(targetUrl, postData, false, true);

                if (result) {
                    Return@(itemName)();
                }
            }
        }

        function check_all(obj, cName) {
            var checkboxs = document.getElementsByName(cName);
            for (var i = 0; i < checkboxs.length; i++) { checkboxs[i].checked = obj.checked; }
        }

        function GetUserInfo@(itemName)() {
            let targetUrl = "@Url.Action("GetLoginByKey", "User")";
            let postData = {
                "UserNo": $.cookie("Login"),
                "KeyText": $.cookie("LoginKey")
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                userId@(itemName) = data.returnData.UserId;
                companyId@(itemName) = data.returnData.CompanyId;
            } else {
                alert(data.msg, "alert", 0);
            }
        }


        function Return@(itemName)() {
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName), .list-mode", "#editData@(itemName), .edit-mode");
            Query@(itemName)();
            QueryAqJudgmentDetail();
            Close@(itemName)()
        }
        function Close@(itemName)() {
            $("#modal@(itemName)").modal("hide");
        }
    </script>
                        )