@using Business_Manager.Helpers
@{
    string itemName = "ViewAqBarcodeNo";
    string itemNameText = "品質異常項目資料檢視";
}

@Html.Resource("css",
    @<style>
        .inputHide {
            border: unset;
            appearance: none;
            background-color: unset !important;
            text-align: center;
        }
        .slide {
            width: 100%;
            border: 1px solid #e5e9ec;
        }
        .slidesShow {
            height: 500px;
            width: 70%;
            margin: auto;
            padding:15px;
        }
        .slidesShowItem {
            height: 100%;
        }
        .slidesShowItem img {
            width: 100%;
            height: 100%;
            object-fit:contain;
            object-position:center;
        }
        .carousel-control-prev {
            border: unset;
            background-color: unset;
        }
        .carousel-control-next {
            border: unset;
            background-color: unset;
        }
        .carousel-control-prev-icon {
            background-image: unset;
            color: black;
            font-size: 36px
        }
        .carousel-control-next-icon {
            background-image: unset;
            color: black;
            font-size:36px
        }

        .section-header {
            width: 12.5%;
            background-color: lightskyblue;
            border-radius: 4px 4px 0 0;
            display: flex;
            justify-content: center;
            padding: 10px;
            margin-top:10px;
        }
        .section-title {
            color: #212529;
        }
    </style>
                        )

<div class="modal fade" id="modal@(itemName)">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    @(itemNameText)
                    <span class="sub-title GenerallyVersion">目前異常條碼 <span class="sub-text" id="desBarcodeNo@(itemName)"></span></span>
                    <span class="sub-title GenerallyVersion">目前異常條碼刻號 <span class="sub-text" id="desBarcodeLetting@(itemName)"></span></span>
                    <span class="sub-title IPCVersion">目前品號 <span class="sub-text" id="desGrMtlItemNo@(itemName)"></span></span>
                    <span class="sub-title IPCVersion">目前批號 <span class="sub-text" id="desGrLotNumber@(itemName)"></span></span>
                </h5>
                <a class="close list-mode" href="javascript:void(0);" onclick="Close@(itemName)()"><i class="fas fa-times"></i></a>
            </div>
            <div class="modal-body">
                <div class="row" id="listData@(itemName)">
                    <div class="col-lg-12">
                        <header class="widget-header"></header>
                        <section class="row-border pt-2">
                            <div class="table-responsive">
                                <table class="table table-bordered table-sm mb-0" style="border-style: none; word-break: break-all;" id="tblpopMaterialQuality">
                                    <tr>
                                        <th class="headQM centerQM">品質異常單</th>
                                    </tr>
                                    <tr>
                                        <th class="titleQM centerQM" style="width:12.5%;">品異單號</th>
                                        <td class="centerQM" id="desAbnormalqualityNo" style="width:37.5%;" colspan="2"></td>
                                        <th class="titleQM centerQM" style="width:12.5%;">品異單狀態</th>
                                        <td class="centerQM" id="desAbnormalqualityStatus" style="width:37.5%; color: red;" colspan="2"></td>
                                    </tr>
                                    <tr>
                                        <th class="titleQM centerQM" style="width:12.5%;">發生日期</th>
                                        <td class="centerQM" id="desAqrCreateDate" style="width:37.5%;" colspan="2"></td>
                                        <th class="titleQM centerQM" style="width:12.5%;">檢驗類型</th>
                                        <td class="centerQM" id="desQcType" style="width:37.5%;" colspan="2"></td>
                                    </tr>
                                    <tr>
                                        <th class="titleQM centerQM" style="width:12.5%;">異常單據</th>
                                        <td class="centerQM" id="desDocType" style="width:37.5%;" colspan="2"></td>
                                        <th class="titleQM centerQM" style="width:12.5%;">單據編號</th>
                                        <td class="centerQM" id="desDocFullNo" style="width:37.5%;" colspan="2"></td>
                                    </tr>
                                    <tr>
                                        <th class="titleQM centerQM GenerallyVersion" style="width:12.5%;">品號</th>
                                        <th class="titleQM centerQM IQCVersion" style="width:12.5%;">品號<br />批號</th>
                                        <td class="centerQM" id="desMtlItemNo" style="width:37.5%;" colspan="2"></td>
                                        <th class="titleQM centerQM" style="width:12.5%;">品名</th>
                                        <td class="centerQM" id="desMtlItemName" style="width:37.5%;" colspan="2"></td>
                                    </tr>
                                    <tr class="GenerallyVersion">
                                        <th class="titleQM centerQM" style="width:12.5%;">生產模式</th>
                                        <td class="centerQM" id="desModeName" style="width:37.5%;" colspan="2"></td>
                                        <th class="titleQM centerQM" style="width:12.5%;">異常站別</th>
                                        <td class="centerQM" id="desProcessAlias" style="width:37.5%;" colspan="2"></td>
                                    </tr>
                                    <tr class="GenerallyVersion">
                                        <th class="titleQM centerQM" style="width:12.5%;">異常條碼</th>
                                        <td class="centerQM" id="desBarcodeNo" style="width:37.5%;" colspan="2"></td>
                                        <th class="titleQM centerQM" style="width:12.5%;">條碼數量</th>
                                        <td class="centerQM" id="desBarcodeNoQty" style="width:37.5%;" colspan="2"></td>
                                    </tr>
                                    <tr>
                                        <th class="titleQM centerQM" style="width:12.5%;">項目進度</th>
                                        <td class="centerQM" id="desAqBarcodeStatus" style="width:37.5%;" colspan="2"></td>
                                        <th class="titleQM centerQM" style="width:12.5%;">是否判定</th>
                                        <td class="centerQM" id="desJudgeConfirm" style="width:37.5%; color: red;" colspan="2"></td>
                                    </tr>
                                    <tr>
                                        <th class="titleQM centerQM" style="width:12.5%;">責任單位</th>
                                        <td class="centerQM" id="desResponsibleDeptId" style="width:37.5%;" colspan="2"></td>
                                        <th class="titleQM centerQM" style="width:12.5%;">責任者</th>
                                        <td class="centerQM" id="desResponsibleUserId" style="width:37.5%;" colspan="2"></td>
                                    </tr>
                                    <tr>
                                        <th class="titleQM centerQM" style="width:12.5%;">副責任單位</th>
                                        <td class="centerQM" id="desSubResponsibleDeptId" style="width:37.5%;" colspan="2"></td>
                                        <th class="titleQM centerQM" style="width:12.5%;">副責任者</th>
                                        <td class="centerQM" id="desSubResponsibleUserId" style="width:37.5%;" colspan="2"></td>
                                    </tr>
                                    <tr>
                                        <th class="titleQM centerQM" style="width:12.5%;">編程者</th>
                                        <td class="centerQM" id="desProgrammerUserId" style="width:37.5%;" colspan="2"></td>
                                        <th class="titleQM centerQM" style="width:12.5%;">合致對象</th>
                                        <td class="centerQM" id="desConformUserId" style="width:37.5%;" colspan="2"></td>
                                    </tr>
                                    <tr>
                                        <th class="titleQM centerQM" style="width:12.5%;">責任主管</th>
                                        <td class="centerQM" id="desResponsibleSupervisorId" style="width:37.5%;" colspan="2"></td>
                                        <th class="titleQM centerQM" style="width:12.5%;">會簽主管</th>
                                        <td class="centerQM" id="desCountersignUserId" style="width:37.5%;" colspan="2"></td>
                                    </tr>
                                    <tr>
                                        <th class="hiddenQM"></th>
                                    </tr>
                                    <tr class="AqcQcItemAll">
                                        <th class="headQM centerQM ">異常回報對策</th>
                                    </tr>

                                    <tr class="basic">
                                        <th class="headQM centerQM">異常回報</th>
                                    </tr>
                                    <tr class="basic">
                                        <th class="titleQM centerQM" style="width:12.5%;">不良代碼</th>
                                        <td class="centerQM" id="desDefectCauseNo" style="width:37.5%;" colspan="2"></td>
                                        <th class="titleQM centerQM" style="width:12.5%;">不良名稱</th>
                                        <td class="centerQM" id="desDefectCauseName" style="width:37.5%;" colspan="2"></td>
                                    </tr>
                                    <tr class="basic">
                                        <th class="titleQM centerQM" style="width:12.5%;">不良原因</th>
                                        <td id="desDefectCauseDesc" style="width:87.5%;" colspan="5"></td>
                                    </tr>
                                    <tr class="basic">
                                        <th class="hiddenQM"></th>
                                    </tr>

                                    <tr class="basic">
                                        <th class="titleQM centerQM" style="width:12.5%;">對策代碼</th>
                                        <td class="centerQM" id="desRepairCauseNo" style="width:37.5%;" colspan="2"></td>
                                        <th class="titleQM centerQM" style="width:12.5%;">對策名稱</th>
                                        <td class="centerQM" id="desRepairCauseName" style="width:37.5%;" colspan="2"></td>
                                    </tr>
                                    <tr class="basic">
                                        <th class="titleQM centerQM" style="width:12.5%;">對策原因</th>
                                        <td id="desRepairCauseDesc" style="width:87.5%;" colspan="5"></td>
                                    </tr>
                                    <tr class="basic">
                                        <th class="hiddenQM"></th>
                                    </tr>
                                    <tr>
                                        <th class="headQM centerQM">異常判定</th>
                                    </tr>
                                    <tr>
                                        <th class="titleQM centerQM" style="width:12.5%;">判定日期</th>
                                        <td class="centerQM" id="desJudgeDate" style="width:37.5%;" colspan="2"></td>

                                        <th class="titleQM centerQM" style="width:12.5%;">是否改判</th>
                                        <td class="centerQM" id="desChangeJudgeFlag" style="width:37.5%;" colspan="2"></td>
                                    </tr>
                                    <tr>
                                        <th class="titleQM centerQM" style="width:12.5%;">判定結果</th>
                                        <td class="centerQM" id="desJudgeStatus" style="width:37.5%;" colspan="2"></td>

                                        <th class="titleQM centerQM" style="width:12.5%;">判定者</th>
                                        <td id="desJudgeUserId" class="centerQM" style="width:37.5%;" colspan="2"></td>
                                    </tr>
                                    <tr class="basic GenerallyVersion">
                                        <th class="titleQM centerQM" style="width:12.5%;">判定返修站別</th>
                                        <td class="centerQM" id="desJudgeReturnMoProcessName" style="width:37.5%;" colspan="2"></td>
                                        <th class="titleQM centerQM" style="width:12.5%;">返修後下一站</th>
                                        <td class="centerQM" id="desJudgeReturnNextMoProcessName" style="width:37.5%;" colspan="2"></td>
                                    </tr>
                                    <tr class="basic IQCVersion">
                                        <th class="titleQM centerQM" style="width:12.5%;">驗退數量</th>
                                        <td id="desReturnQty" style="width:77.5%;" colspan="5"></td>
                                    </tr>
                                    <tr>
                                        <th class="titleQM centerQM" style="width:12.5%;">判定原因</th>
                                        <td id="desJudgeDesc" style="width:77.5%;" colspan="5"></td>
                                    </tr>

                                    <tr>
                                        <th class="hiddenQM"></th>
                                    </tr>
                                </table>
                            </div>
                        </section>
                        <section class="row-border pt-2">
                            <div class="section-header">
                                <div class="section-title">異常圖片</div>
                            </div>
                            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">
                                <div class="carousel-inner slidesShow">
                                </div>
                                <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true">
                                        <i class="fas fa-chevron-circle-left"></i> 
                                    </span>
                                    <span class="sr-only">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-target="#carouselExampleControls" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true">
                                        <i class="fas fa-chevron-circle-right"></i>
                                    </span>
                                    <span class="sr-only">Next</span>
                                </button>
                            </div>
                            <div class="noImgBlock" style="display:none">目前尚無資料</div>
                        </section>
                    </div>
                </div>
             </div>
            <div class="modal-footer">
                <span id="FileNo"></span>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        let userId@(itemName);
        let companyId@(itemName);
        

        function Pop@(itemName)(AqBarcodeId, BarcodeNo) {
            GetUserInfo@(itemName)()
            $("#AqBarcodeId").val(AqBarcodeId);
            $("#desBarcodeNo@(itemName)").text(BarcodeNo)
            $("#desBarcodeLetting@(itemName)").text(GetBarcodeLettering(BarcodeNo))

            $("#modal@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });

            @*if (companyId@(itemName) == 2) {
                $("#FileNo").text("P-Q006表03-01")
                $("#FileNo").show()
            }
            else {
                $("#FileNo").hide()
            }*@

            Query@(itemName)();

            $(window).keydown(function (event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    return false;
                }
            });
        }

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));
        }

        function InitData@(itemName)(objPage) {
            $(".basic").show()

            var basicType = "";

            let targetUrl = "@Url.Action("GetAqDetail", "Abnormalquality")";
            let postData = {
                "AqBarcodeId": $("#AqBarcodeId").val(),
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                showFile@(itemName)()
                $.each(data.result, function (i, item) {
                    $("#GalleryMaterialQualityFile").empty();
                    if (item.QcType != "IQC") {
                        $(".GenerallyVersion").show()
                        $(".IQCVersion").hide()
                        $("#desDocType").html(`製令`); //製令
                        $("#desDocFullNo").html(item.MoNo); //製令
                        $("#desModeName").html(item.ModeName); //生產模式
                        $("#desProcessAlias").html(item.ProcessAlias); //異常站別
                        $("#desBarcodeNo").text(item.BarcodeNo); //異常條碼
                        $("#desBarcodeNoQty").text(item.BarcodeQty); //異常條碼
                        $("#desMtlItemNo").html(item.MtlItemNo); //品號
                        $("#desMtlItemName").html(item.MtlItemName); //品名
                    }
                    else {
                        $(".GenerallyVersion").hide()
                        $(".IQCVersion").show()
                        $("#desGrMtlItemNo@(itemName)").text(item.GrMtlItemNo); //異常條碼
                        $("#desGrLotNumber@(itemName)").text(item.GrLotNumber); //異常條碼
                        $("#desDocType").html(`進貨單`); //進貨單
                        $("#desDocFullNo").html(item.GrErpFull); //進貨單
                        $("#desMtlItemNo").html(item.GrMtlItemNo + "<br/>" + item.GrLotNumber); //品號
                        $("#desMtlItemName").html(item.GrMtlItemName); //品名
                    }
                    //品異單
                    $("#desAbnormalqualityNo").html(item.AbnormalqualityNo); //品異單號
                    $("#desQcType").html(item.TypeName); //品異單號
                    $("#desAbnormalqualityStatus").html(`${StatusName("Abnormalquality.AbnormalqualityStatus", item.AbnormalqualityStatus)}`); //品異單狀態
                    //$("#desBarcodeLetting").text(GetBarcodeLettering(item.BarcodeNo))
                    $("#desAqBarcodeStatus").html(`${StatusName("AqBarcode.AqBarcodeStatus", item.AqBarcodeStatus)}`); //異常條碼狀態
                    $("#desJudgeConfirm").html(item.JudgeConfirm == `Y` ? `是` : `否`); //異常條碼狀態
                    

                    //異常回報
                    $("#desAqrCreateDate").html(item.AqrCreateDate); //發生日期
                    $("#desDefectCauseNo").html(item.DefectCauseNo); //不良代碼
                    $("#desDefectCauseName").html(item.DefectCauseName); //不良名稱
                    $("#desDefectCauseDesc").html(item.DefectCauseDesc); //不良原因
                    item.ResponsibleDepartmentName == null ? $("#desResponsibleDeptId").html(`<span style="color:#c5c5c5;">未填寫責任單位</span>`) : $("#desResponsibleDeptId").html(item.ResponsibleDepartmentName); //責任單位
                    item.ResponsibleUserName == null ? $("#desResponsibleUserId").html(`<span style="color:#c5c5c5;">未填寫責任者</span>`) : $("#desResponsibleUserId").html(item.ResponsibleUserName); //責任者
                    item.SubResponsibleDepartmentName == null ? $("#desSubResponsibleDeptId").html(`<span style="color:#c5c5c5;">未填寫副責任單位</span>`) : $("#desSubResponsibleDeptId").html(item.SubResponsibleDepartmentName); //副責任單位
                    item.SubResponsibleUserName == null ? $("#desSubResponsibleUserId").html(`<span style="color:#c5c5c5;">未填寫副責任者</span>`) : $("#desSubResponsibleUserId").html(item.SubResponsibleUserName); //副責任者
                    item.ProgrammerUserName == null ? $("#desProgrammerUserId").html(`<span style="color:#c5c5c5;">未填寫合致對象</span>`) : $("#desProgrammerUserId").html(item.ProgrammerUserName); //編程者
                    item.ConformUserName == null ? $("#desConformUserId").html(`<span style="color:#c5c5c5;">未填寫合致對象</span>`) : $("#desConformUserId").html(item.ConformUserName); //合致對象
                        
                    
                    //異常對策
                    item.RepairCauseNo == null ? $("#desRepairCauseNo").html(`<span style="color:#c5c5c5;">未填寫對策資料</span>`) : $("#desRepairCauseNo").html(item.RepairCauseNo); //對策代碼
                    item.RepairCauseName == null ? $("#desRepairCauseName").html(`<span style="color:#c5c5c5;">未填寫對策資料</span>`) : $("#desRepairCauseName").html(item.RepairCauseName); //對策名稱
                    item.RepairCauseDesc == null ? $("#desRepairCauseDesc").html(`<span style="color:#c5c5c5;">未填寫對策資料</span>`) : $("#desRepairCauseDesc").html(item.RepairCauseDesc); //對策名稱

                    //異常對策確認
                    item.ResponsibleSupervisorName == null ? $("#desResponsibleSupervisorId").html(`<span style="color:#c5c5c5;">主管未確認</span>`) : $("#desResponsibleSupervisorId").html(item.ResponsibleSupervisorName); //責任主管
                    //異常會簽
                    item.CountersignUserName == null ? $("#desCountersignUserId").html(`<span style="color:#c5c5c5;">主管未會簽</span>`) : $("#desCountersignUserId").html(item.CountersignUserName); //會簽主管
                    
                    

                    //異常判定
                    if (item.QcType != "IQC") {
                        item.JudgeStatus == null ? $("#desJudgeStatus").html(`<span style="color:#c5c5c5;">未判定</span>`) : $("#desJudgeStatus").html(`${StatusName("AqBarcode.JudgeStatus", item.JudgeStatus)}`); //判定結果
                    }
                    else {
                        item.JudgeStatus == null ? $("#desJudgeStatus").html(`<span style="color:#c5c5c5;">未判定</span>`) : $("#desJudgeStatus").html(`${StatusName("AqBarcode.JudgeStatusIQC", item.JudgeStatus)}`); //判定結果
                    }
                    item.JudgeStatus == null ? $("#desJudgeDate").html(`<span style="color:#c5c5c5;">未判定</span>`) : $("#desJudgeDate").html(item.JudgeDate); //判定日
                    item.ChangeJudgeFlag == null ? $("#desChangeJudgeFlag").html(`<span style="color:#c5c5c5;">未編寫</span>`) : $("#desChangeJudgeFlag").html(item.ChangeJudgeFlag == "Y"? `是`:`否` ); //判定日
                    if (item.JudgeReturnMoProcessId != null) {
                         $("#desJudgeReturnMoProcessName").html(item.JudgeReturnMoProcessAlias); //退回站別
                        if (item.JudgeReturnNextMoProcessId != null) {
                            $("#desJudgeReturnNextMoProcessName").html(item.JudgeReturnNextMoProcessAlias); //退回站別
                        }
                        else {
                            $("#desJudgeReturnNextMoProcessName").html("加工結束"); //退回站別
                        }
                    }
                    else {
                        $("#desJudgeReturnMoProcessName").html(`<span style="color:#c5c5c5;">無</span>`)
                        $("#desJudgeReturnNextMoProcessName").html(`<span style="color:#c5c5c5;">無</span>`)
                    }
                    item.JudgeUserName == null ? $("#desJudgeUserId").html(`<span style="color:#c5c5c5;">未判定</span>`) : $("#desJudgeUserId").html(item.JudgeUserName); //判定者
                    //對策原因
                    if (item.JudgeDesc == null || item.JudgeDesc == "") {
                        $("#desJudgeDesc").html(`<span style="color:#c5c5c5;">無</span>`)
                    }
                    else {
                        $("#desJudgeDesc").html(item.JudgeDesc); //判定退回原因
                    }

                    if ((item.DefectCauseNo)  != null) {
                        basicType = "Y";
                    }
                });

                if (basicType =="Y") {
                    $(".AqcQcItemAll").hide();
                }
                else {
                    $(".basic").hide()
                    $(".AqcQcItemAll").show();

                    projectTable@(itemName)()
                }

            } else {
                alert(data.msg, "alert", 0);
            }

            $(".hiddenQM").css({ "background-color": "white", "border-style": "none" });
            $(".headQM").css({ "background-color": "lightskyblue", "border-style": "none", "border-top-left-radius": "4px", "border-top-right-radius": "4px" });
            $(".titleQM").css("background-color", "aliceblue");
            $(".centerQM").css("text-align", "center");
            $("#tblpopMaterialQuality th, #tblpopMaterialQuality td").css("vertical-align", "middle");


        }
        function showFile@(itemName)() {

            let targetUrl = "@Url.Action("GetAqFileShow", "Abnormalquality")";
            let postData = {
                "AqBarcodeId": $("#AqBarcodeId").val(),
            };

            let data = DataAccess.Get(targetUrl, postData, false);
            var imgContent = ``;

            if (data.status == "success") {

                if (data.result.length > 0) {
                    $.each(data.result, function (i, item) {
                        if (item.FileId != "null") {
                            if (i == 0) {
                                imgContent = `
                                   <div class="carousel-item slidesShowItem active">
                                     <img class="d-block w-100" alt="..." src="/Web/GetFile?fileId=${item.FileId}">
                                   </div>
                                  `
                            } else {
                                imgContent += `
                                   <div class="carousel-item slidesShowItem ">
                                     <img class="d-block w-100" alt="..." src="/Web/GetFile?fileId=${item.FileId}">
                                   </div>
                                  `
                            }
                        }


                    })
                    $(".noImgBlock").hide();
                    $("#carouselExampleControls").show();
                    $(".slidesShow").html(imgContent);
                }
                else {
                    $("#carouselExampleControls").hide();
                    $(".noImgBlock").show();
                }
            }
            
        }

        function Return@(itemName)() {
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName), .list-mode", "#editData@(itemName), .edit-mode");

            $(".aqcQcItem").empty();
            Query@(itemName)();
        }
        function Close@(itemName)() {
            $("#modal@(itemName)").modal("hide");
            $(".aqcQcItem").empty();

        }

        function projectTable@(itemName)() {
            let innerHtml = '';
            
            let targetUrl = "@Url.Action("GetAqQcItem", "Abnormalquality")";
            let postData = {
                "AqBarcodeId": $("#AqBarcodeId").val(),
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data) {
                if (data.status == "success") {
                    if (data.result.length > 0) {

                        $.each(data.result, function (i, item) {
                            innerHtml += `
                                            <tr class="aqcQcItem">
                                                <th class="headQM centerQM">異常項目:${item.QcItemName}</th>
                                            </tr>
                                            <tr class="aqcQcItem">
                                                <th class="titleQM centerQM" style="width:12.5%;">不良代碼</th>
                                                <td class="centerQM" id="desDefectCauseNo" style="width:37.5%;" colspan="2">${item.DefectCauseNo}</td>
                                                <th class="titleQM centerQM" style="width:12.5%;">不良名稱</th>
                                                <td class="centerQM" id="desDefectCauseName" style="width:37.5%;" colspan="2">${item.DefectCauseName}</td>
                                            </tr>
                                            <tr class="aqcQcItem">
                                                <th class="titleQM centerQM" style="width:12.5%;">不良原因</th>
                                                <td id="desDefectCauseDesc" style="width:87.5%;" colspan="5">${item.DefectCauseDesc}</td>
                                            </tr>
                                            
                                            <tr class="aqcQcItem">
                                                <th class="titleQM centerQM" style="width:12.5%;">對策代碼</th>
                                                <td class="centerQM" id="desRepairCauseNo" style="width:37.5%;" colspan="2">${item.RepairCauseNo}</td>
                                                <th class="titleQM centerQM" style="width:12.5%;">對策名稱</th>
                                                <td class="centerQM" id="desRepairCauseName" style="width:37.5%;" colspan="2">${item.RepairCauseName}</td>
                                            </tr>
                                            <tr class="aqcQcItem">
                                                <th class="titleQM centerQM" style="width:12.5%;">對策原因</th>
                                                <td id="desRepairCauseDesc" style="width:87.5%;" colspan="5">${item.RepairCauseDesc}</td>
                                            </tr>
                                            <tr class="aqcQcItem">
                                                <th class="hiddenQM"></th>
                                            </tr>
                                        `;
                        })
                        $(".AqcQcItemAll").after(innerHtml);
                    }
                    else {
                        $("#txtRepairCauseDesc@(itemName)").val("")
                    }
                }
            }
            $(".QcTypeNoN").hide();
        }

        function GetUserInfo@(itemName)() {
            let targetUrl = "@Url.Action("GetLoginByKey", "User")";
            let postData = {
                "UserNo": $.cookie("Login"),
                "KeyText": $.cookie("LoginKey")
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                userId@(itemName) = data.returnData.UserId;
                companyId@(itemName) = data.returnData.CompanyId;
            } else {
                alert(data.msg, "alert", 0);
            }
        }

        function GetBarcodeLettering(BarcodeNo) {
            console.log(BarcodeNo)
            let BarcodeLettering = '';
            
            let targetUrl = "@Url.Action("GetBarcodeLettering", "Abnormalquality")";
            let postData = {
                "BarcodeNo": BarcodeNo,
            };

            let data = DataAccess.Get(targetUrl, postData, false);
            console.log(data)
            if (data.status == "success") {
                console.log("WTRT")
                $.each(data.result, function (i, item) {
                    console.log(item.ItemValue)
                    console.log("A")
                    BarcodeLettering = item.ItemValue
                });
            } else {
                alert(data.msg, "alert", 0);
            }
            return BarcodeLettering
        }
    </script>
        )