@using Business_Manager.Helpers
@{
    string itemName = "RdDesign";
    string itemNameText = "研發設計圖";
    string authority = ViewBag.authority;

    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
    </style>
)

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtCustomerMtlItemNoQ@(itemName)">部番(客戶品號)</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtCustomerMtlItemNoQ@(itemName)" name="txtCustomerMtlItemNoQ@(itemName)" placeholder="請輸入部番(客戶品號)" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtMtlItemNoQ@(itemName)">品號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMtlItemNoQ@(itemName)" name="txtMtlItemNoQ@(itemName)" placeholder="請輸入品號" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);"><i class="fal fa-search"></i>搜尋</a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn btn-danger auth-export" href="javascript:PopModalExport@(itemName)();"><i class="fas fa-print"></i>匯出出圖筆數</a>
                        <a class="btn btn-info auth-add" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th scope="col" style="min-width: 200px;">客戶品號(部番)</th>
                                        <th scope="col" style="min-width: 200px;">客戶圖號</th>
                                        <th scope="col" style="min-width: 175px;">客戶版次<code>(系統版次)</code></th>
                                        <th scope="col" style="min-width: 250px;">客戶設計圖</th>
                                        <th scope="col" style="min-width: 175px;">品號</th>
                                        <th scope="col" style="min-width: 175px;">品名</th>
                                        <th scope="col" style="min-width: 150px;">規格</th>
                                        <th class="text-center" scope="col" style="min-width: 225px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="DesignId" name="DesignId" value="-1" />
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtCustomerMtlItemNo@(itemName)">客戶品號(部番) <span class="text-danger">*</span></label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtCustomerMtlItemNo@(itemName)" name="txtCustomerMtlItemNo@(itemName)"
                                       placeholder="請輸入客戶品號(部番)"
                                       data-msg-required="請輸入客戶品號(部番)" data-rule-required="true"
                                       data-msg-maxlength="必須少於 50 個字元" maxlength="50" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtCustomerCadControlId@(itemName)">客戶設計圖</label>
                            <div class="col-12">
                                <input type="hidden" id="txtCustomerCadControlId@(itemName)" />
                                <div class="btn-group">
                                    <a class="btn btn-success pop-view" href="javascript:void(0);"><i class="fal fa-search"></i></a>
                                    <a class="btn btn-outline-danger pop-clear" href="javascript:void(0);"><i class="fas fa-eraser"></i></a>
                                </div>
                                <dl class="help-block">
                                    <dt>客戶圖號</dt>
                                    <dd id="desCustomerDwgNo@(itemName)"></dd>
                                    <dt>版次</dt>
                                    <dd id="desEdition@(itemName)"></dd>
                                    <dt>客戶設計圖</dt>
                                    <dd id="desCadFile@(itemName)"></dd>
                                </dl>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtMtlItemId@(itemName)">綁定品號</label>
                            <div class="col-12">
                                <input type="hidden" id="txtMtlItemId@(itemName)" />
                                <div class="btn-group">
                                    <a class="btn btn-success pop-view" href="javascript:void(0);"><i class="fal fa-search"></i></a>
                                    <a class="btn btn-outline-danger pop-clear" href="javascript:void(0);"><i class="fas fa-eraser"></i></a>
                                </div>
                                <dl class="help-block">
                                    <dt>品號</dt>
                                    <dd id="desMtlItemNo@(itemName)"></dd>
                                    <dt>品名</dt>
                                    <dd id="desMtlItemName@(itemName)"></dd>
                                    <dt>規格</dt>
                                    <dd id="desMtlItemSpec@(itemName)"></dd>
                                </dl>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

<!--匯出出圖EXCEL-->
<div class="modal fade" id="modalExport@(itemName)" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">匯出出圖資料</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container custom-form-container" autocomplete="off" id="datePickerForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtYear@(itemName)">選擇年份</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="txtYear@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtMonth@(itemName)">選擇月份</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="txtMonth@(itemName)"></select>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-success" onclick="Export@(itemName)()"><i class="fas fa-print"></i>匯出</button>
            </div>
        </div>
    </div>
</div>

@Html.Partial("ViewRdDesignControl")
@Html.Partial("ViewMtlItem")
@Html.Partial("ViewCustomerCad")

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        $(document).ready(function () {
            Query@(itemName)();

            // 設定年份範圍，例如從 2000 年到當前年份
            const startYear = 2000;
            const endYear = new Date().getFullYear(); // 取得當前年份
            const yearSelect = document.getElementById('txtYear@(itemName)');

            // 動態生成年份選項
            for (let year = startYear; year <= endYear; year++) {
                const option = document.createElement('option');
                option.value = year;
                option.textContent = year;
                yearSelect.appendChild(option);
            }

            // 預設選中當前年份
            yearSelect.value = endYear;
        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let targetUrl = "@Url.Action("GetRdDesign", "Drawing")";

            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "CustomerMtlItemNo": $("#txtCustomerMtlItemNoQ@(itemName)").val(),
                "MtlItemNo": $("#txtMtlItemNoQ@(itemName)").val()
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";
                        innerHtml += `<tr>
                                        <td>${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.CustomerMtlItemNo}" style="max-width: 200px;">${item.CustomerMtlItemNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.CustomerDwgNo}" style="max-width: 200px;">${item.CustomerDwgNo}</td>
                                        ${JudgeEdition(`${item.Edition}`, `${item.Version}`)}
                                        ${JudgeCadFileAbsolutePath@(itemName)(`${item.CadFileAbsolutePath}`, `${item.CadFile}`, `${item.FileName}`, `${item.FileExtension}`)}
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MtlItemNo}" style="max-width: 175px;">${item.MtlItemNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MtlItemName}" style="max-width: 175px;">${item.MtlItemName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MtlItemSpec}" style="max-width: 150px;">${item.MtlItemSpec}</td>
                                        <td class="text-center active-content">
                                          <a class="active-link auth-update" href="javascript:Edit@(itemName)('${item.DesignId}');"><i class="fas fa-edit"></i></a>
                                          <a class="active-link auth-delete" href="javascript:Delete@(itemName)('${item.DesignId}');"><i class="fas fa-trash-alt"></i></a>
                                          <a class="active-link auth-version" href="javascript:PopViewRdDesignControl('${item.DesignId}', '${item.CustomerMtlItemNo}');"><i class="fas fa-code-branch"></i><span>版本控制</span></a>
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="9" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }

                function JudgeCadFileAbsolutePath@(itemName)(cadFileAbsolutePath, cadFile, fileName, fileExtension) {
                    let innerHtml = '';
                    if (cadFileAbsolutePath != "null") {
                        let fileFullNameList = cadFileAbsolutePath.split('\\');
                        let fileFullName = fileFullNameList[fileFullNameList.length - 1];
                        innerHtml += `<td class="active-content ellipsis" data-toggle="tooltip" title="${fileFullName}" style="max-width: 250px;">
                                        <a class="active-link auth-download mr-1" href="/Drawing/GetCadFile?FilePath=${cadFileAbsolutePath}"><i class="fas fa-download"></i></a>
                                        ${fileFullName}
                                      </td>`;
                    }
                    else if (parseInt(cadFile) > 0) {
                        innerHtml += JudgeCadFile(cadFile, fileName, fileExtension);
                    }
                    else {
                        innerHtml += `<td></td>`;
                    }
                    return innerHtml;
                }

                function JudgeEdition(edition, version) {
                    let innerHtml = '';
                    if (edition != "") {
                        innerHtml += `<td style="max-width: 175px;">${edition}<code>(${version})</code></td>`;
                    }
                    else {
                        innerHtml += `<td></td>`;
                    }
                    return innerHtml;
                }

                function JudgeCadFile(cadFile, fileName, fileExtension) {
                    let innerHtml = '';
                    if (parseInt(cadFile) > 0) {
                        innerHtml += `<td class="active-content ellipsis" data-toggle="tooltip" title="${fileName}${fileExtension}" style="max-width: 250px;">
                                        <a class="active-link auth-download mr-1" href="/Drawing/GetPdmFile?fileId=${cadFile}"><i class="fas fa-download"></i></a>
                                        ${fileName}${fileExtension}
                                      </td>`;
                    }
                    else {
                        innerHtml += `<td></td>`;
                    }
                    return innerHtml;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));
        }

        function Edit@(itemName)(DesignId) {
            $("#DesignId").val(DesignId ? DesignId : 0);

            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");

            $("#txtCustomerCadControlId@(itemName)").siblings(".help-block").hide();
            $("#txtMtlItemId@(itemName)").siblings(".help-block").hide();
            $("#txtCustomerCadControlId@(itemName)").val("");
            $("#txtMtlItemId@(itemName)").val("");

            if (DesignId > 0) {
                let targetUrl = "@Url.Action("GetRdDesign", "Drawing")";
                let postData = {
                    "DesignId": DesignId
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        $("#txtCustomerMtlItemNo@(itemName)").val(item.CustomerMtlItemNo);
                        $("#txtCustomerCadControlId@(itemName)").val(item.CustomerCadControlId);
                        if (item.CustomerCadControlId > 0) {                            
                            $("#txtCustomerCadControlId@(itemName)").siblings(".help-block").show();
                            $("#desCustomerDwgNo@(itemName)").html(item.CustomerDwgNo);
                            $("#desEdition@(itemName)").html(item.Edition + '<code>(' + item.Version + ')</code>');
                            if (item.CadFileAbsolutePath != null) {
                                let fileFullNameList = item.CadFileAbsolutePath.split('\\');
                                let fileFullName = fileFullNameList[fileFullNameList.length - 1];
                                $("#desCadFile@(itemName)").html('<a class="badge badge-info auth-download" href="/Drawing/GetCadFile?FilePath=' + item.CadFileAbsolutePath + '"><i class="fas fa-download"></i> ' + fileFullName + '</a>');
                            }
                            else {
                                $("#desCadFile@(itemName)").html('<a class="badge badge-info auth-download" href="/Drawing/GetPdmFile?fileId=' + item.CadFile + '"><i class="fas fa-download"></i> ' + item.FileName + item.FileExtension + '</a>');
                            }
                        }
                        $("#txtMtlItemId@(itemName)").val(item.MtlItemId);
                        if (item.MtlItemId > 0) {
                            $("#txtMtlItemId@(itemName)").siblings(".help-block").show();
                            $("#desMtlItemNo@(itemName)").html(item.MtlItemNo);
                            $("#desMtlItemName@(itemName)").html(item.MtlItemName);
                            $("#desMtlItemSpec@(itemName)").html(item.MtlItemSpec);
                        }
                    });
                } else {
                    alert(data.msg, "alert", 0);
                }
            }

            let popConfig = {
                targetSelector: "#txtCustomerCadControlId@(itemName)",
                popFunction: "PopViewCustomerCad",
                objectControlId: "#txtCustomerCadControlId@(itemName)",
                objectCustomerDwgNo: "#desCustomerDwgNo@(itemName)",
                objectEdition: "#desEdition@(itemName)",
                objectCadFile: "#desCadFile@(itemName)",
            };
            InitPopView(popConfig);

            let popConfig2 = {
                targetSelector: "#txtMtlItemId@(itemName)",
                popFunction: "PopViewMtlItem",
                objectMtlItemId: "#txtMtlItemId@(itemName)",
                objectMtlItemNo: "#desMtlItemNo@(itemName)",
                objectMtlItemName: "#desMtlItemName@(itemName)",
                objectMtlItemSpec: "#desMtlItemSpec@(itemName)",
            };
            InitPopView(popConfig2);
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let DesignId = parseInt($("#DesignId").val());

                if (DesignId <= 0) {
                    let targetUrl = "@Url.Action("AddRdDesign", "Drawing")";
                    let postData = {
                        "CustomerMtlItemNo": $("#txtCustomerMtlItemNo@(itemName)").val(),
                        "CustomerCadControlId": $("#txtCustomerCadControlId@(itemName)").val(),
                        "MtlItemId": $("#txtMtlItemId@(itemName)").val()
                    };

                    let result = DataAccess.Add(targetUrl, postData, false, false);

                    if (result) {
                        Return@(itemName)("Add");
                    }
                } else {
                    let targetUrl = "@Url.Action("UpdateRdDesign", "Drawing")";
                    let postData = {
                        "DesignId": DesignId,
                        "CustomerMtlItemNo": $("#txtCustomerMtlItemNo@(itemName)").val(),
                        "CustomerCadControlId": $("#txtCustomerCadControlId@(itemName)").val(),
                        "MtlItemId": $("#txtMtlItemId@(itemName)").val()
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, false);

                    if (result) {
                        Return@(itemName)("Update");
                    }
                }
            }
        }

        function Delete@(itemName)(DesignId) {
            let targetUrl = "@Url.Action("DeleteRdDesign", "Drawing")";
            let postData = {
                "DesignId": DesignId
            };

            let result = DataAccess.Delete(targetUrl, postData, false, false);

            if (result) {
                Query@(itemName)();
            }
        }

        function Return@(itemName)(type) {
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName)", "#editData@(itemName), .unit-block");
            if (type == "Update") {
                InitData@(itemName)();
            } else {
                Query@(itemName)();
            }
        }

        function Choose@(itemName)(controlId, item) {
            $("#spCusotmerMtlItemNo@(itemName)").text("");
            $("#spCustomerDwgNo@(itemName)").text("");
            $("#spEdition@(itemName)").text("");
            $("#spCustomerCad@(itemName)").text("");

            $("#spCusotmerMtlItemNo@(itemName)").html("客戶品號(部番): " + item.CustomerMtlItemNoC)
            $("#spCustomerDwgNo@(itemName)").html("客戶圖號: " + item.CustomerDwgNoC)
            let Edition = item.Edition + "<code>(" + item.Version + ")</code>"
            $("#spEdition@(itemName)").html("客戶版次<code>(系統版次)</code>: " + Edition)
            let CustomerCad = '<a class="auth-download" href="/Drawing/GetPdmFile?fileId=' + item.CadFile + '"><i class="fas fa-download"> ' + item.FileName + item.FileExtension + '</i></a>';
            if (item.CadFile > 0)
                $("#spCustomerCad@(itemName)").html("客戶設計圖: " + CustomerCad)
            else
                $("#spCustomerCad@(itemName)").html("客戶設計圖: 尚未綁定客戶設計圖!")

            $("#divBindCustomerCadControlRdDesign").show();
        }

        function PopModalExport@(itemName)() {
            $("#txtMonth@(itemName)").html();
            $("#txtMonth@(itemName)").append(`<option value="">請選擇月份</option>`);
            for (let month = 1; month <= 12; month++) {
                $("#txtMonth@(itemName)").append(`<option value="${month}">${month} 月</option>`);
            }
            $("#modalExport@(itemName)").modal("show");
        }

        function Export@(itemName)() {
            let targetUrl = "@Url.Action("ExportDrawing", "Drawing")";
            let postData = {
                "Year": $("#txtYear@(itemName)").val(),
                "Month": $("#txtMonth@(itemName)").val()
            };

            FileAccess.AjaxDownload(targetUrl, postData, false);
        }
    </script>
)