@using Business_Manager.Helpers
@{
    string itemName = "ViewLocalFile";
    string itemNameText = "查看本地端資料檔案";
}

@Html.Resource("css",
    @<style>
         .modal-body {
            max-height: 75vh;
         }

         div.loadingdiv {
             height: 100%;
             width: 100%;
             /*100%覆蓋網頁內容, 避免user在loading時進行其他操作*/
             position: fixed;
             z-index: 99999;
             /*須大於網頁內容*/
             top: 0;
             left: 0;
             display: block;
             background: #000;
             opacity: 0.6;
             text-align: center;
         }

             div.loadingdiv img {
                 position: relative;
                 vertical-align: middle;
                 text-align: center;
                 margin: 0 auto;
                 margin-top: 50vh;
             }
    </style>
        )

<div class="modal fade" data-backdrop="static" id="modal@(itemName)" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    @(itemNameText)
                    @*<span class="sub-title">製令ID: <span class="sub-text" id="desMoId@(itemName)"></span></span>
                    <span class="sub-title">製令NO: <span class="sub-text" id="desWoErpFullNo@(itemName)"></span></span>*@
                </h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button> 
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="card card-shadow mb-4">
                            <div class="card-body">
                                <div class="container">
                                    <div style="display: flex; justify-content: space-between;">
                                        <div style="display: flex; width: 80%; margin-right: 15px;" class="btn-group btn-group-inv@(itemName)">
                                            <input class="form-control" id="txtCadFileAbsolutePath@(itemName)" name="txtCadFileAbsolutePath@(itemName)" placeholder="請輸入資料路徑位置" />
                                            <a class="btn btn-success pop-view" href="javascript: ReSearch@(itemName)();"><i class="fal fa-search"></i></a>
                                        </div>

                                        <div style="display: flex;" class="btn-group btn-group-inv@(itemName)">
                                            <input class="form-control" id="txtFileSearch@(itemName)" name="txtFileSearch@(itemName)" placeholder="輸入檔案名稱搜尋" />
                                            <a class="btn btn-danger pop-view" href="javascript: FileSearch@(itemName)();"><i class="fal fa-search"></i></a>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6 col-md-12" style="margin-bottom: -15px; padding: 15px;">
                                            <div class="form-group row">
                                                <div class="col-12">
                                                    <input type="checkbox" id="cbxSelectAll@(itemName)" style="width: 15px; height: 15px;" /><label style="font-size: 18px; font-weight: 600; cursor:pointer;" for="cbxSelectAll@(itemName)">&nbsp;全選</label>
                                                    <label id="lablePre@(itemName)" style="font-size: 18px; font-weight: 600; margin-left: 25px; cursor:pointer;" onclick="Previous@(itemName)()">&nbsp;<i class="fas fa-arrow-square-left"></i> 回到上一頁</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row" style="overflow: scroll; max-height: 55vh; background-color: #e8e7ed; padding: 15px; margin-right: 0px; margin-left: 0px;">
                                        <div class="col-lg-12 col-md-12">
                                            <div class="form-group row">
                                                <div class="col-12">
                                                    <div class="row context-scroll" id="folder">
                                                        <!--資料夾項目-->
                                                    </div>
                                                    <div class="context-scroll" id="files">
                                                        <!--檔案項目-->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="javascript: void(0);">
                    <i class="far fa-paper-plane"> 上傳檔案</i>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="loadingdiv" id="loading" style="display: none">
    <img src="~/assets/images/new-loading.gif" style="width: 75px;" />
</div>

@Html.Resource("js",
@<script>
    let PrePathList@(itemName) = [];
    let multiFlag@(itemName);
    let folderHtmlPath@(itemName);
    let fileHtmlPath@(itemName);
    let filePreviewHtmlPath@(itemName);
    let helpHtmlPath@(itemName);
    let filePathList@(itemName) = [];
    let listId@(itemName);
    function Pop@(itemName)(listId, multiFlag, folderHtmlPath, fileHtmlPath, filePreviewHtmlPath, helpHtmlPath) {

        if (listId == "") {
            alert("請選擇白名單路徑!!");
            return false;
        }

        multiFlag@(itemName) = multiFlag;
        folderHtmlPath@(itemName) = folderHtmlPath;
        fileHtmlPath@(itemName) = fileHtmlPath;
        filePreviewHtmlPath@(itemName) = filePreviewHtmlPath;
        helpHtmlPath@(itemName) = helpHtmlPath;
        listId@(itemName) = listId;

        PrePathList@(itemName) = [];

        $("#txtFileSearch@(itemName)").val("");

        GetRdWhitelist@(itemName)(listId);

        $("#cbxSelectAll@(itemName)").not(":disabled").prop("checked", false);

        if (multiFlag == "Y") {
            $("#cbxSelectAll@(itemName)").prop("disabled", false);
            $("input[type='checkbox'][data-file-path][data-file-name]").click(function () {
                console.log("a");
            });
        }
        else {
            $("#cbxSelectAll@(itemName)").prop("disabled", true);
        }

        $("#modal@(itemName)").modal({
            backdrop: "static",
            keyboard: false,
            show: true
        });

        $("#cbxSelectAll@(itemName)").off("click").on("click", function () {
            if ($("#cbxSelectAll@(itemName)").is(":checked")) {
                $("input[type='checkbox'][data-file-path][data-file-name]").not(":disabled").prop("checked", true);
            } else {
                $("input[type='checkbox'][data-file-path][data-file-name]").not(":disabled").prop("checked", false);
            }
        });

        GetFolder@(itemName)();
        //GetFiles@(itemName)();
    }

    $(function () {
        $("#txtCadFileAbsolutePath@(itemName)").keydown(function (event) {
            if (event.keyCode == 13) {
                ReSearch@(itemName)();
                return false;
            }
        });

        $("#txtFileSearch@(itemName)").keydown(function (event) {
            if (event.keyCode == 13) {
                FileSearch@(itemName)();
                return false;
            }
        });

        $(window).keydown(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });
    });

    function GetRdWhitelist@(itemName)(ListId) {
        let targetUrl = "@Url.Action("GetRdWhitelist", "Drawing")";
        let postData = {
            "ListId": ListId,
            "UserId": '@Convert.ToInt32(Session["UserId"])'
        };
        let data = DataAccess.Get(targetUrl, postData, false);
        if (data.status == "success") {
            if (data.result.length > 0) {
                $.each(data.result, function (i, item) {
                    $("#txtCadFileAbsolutePath@(itemName)").val(item.FolderPath);
                });
            }
            else {
                alert("查無此白名單路徑!!", 5000);
                Close@(itemName)();
            }
        }
        else {
            alert(data.msg, 5000);
            Close@(itemName)();
        }
    }

    function GetFolder@(itemName)() {
        let currentPath = $("#txtCadFileAbsolutePath@(itemName)").val();
        PrePathList@(itemName).push(currentPath);
        $("#cbxSelectAll@(itemName)").prop("checked", false);

        $("#folder").show();
        $("#folder").empty();
        $("#files").show();
        $("#files").empty();

        let targetUrl = "@Url.Action("GetFolder", "Drawing")";
        let postData = {
            "FolderPath": $("#txtCadFileAbsolutePath@(itemName)").val(),
            "UserId": '@Convert.ToInt32(Session["UserId"])',
            "ListId": listId@(itemName)
        };
        let data = DataAccess.Get(targetUrl, postData, false);
        if (data.status == "success") {
            let innerHtml = '';
            $.each(data.result, function (i, item) {
                innerHtml += `<div class="col-md-12" style="font-size: 20px;">
                                <i class="fad fa-folders" id="iFolder@(itemName)${item.FolderName}" style="cursor:pointer;" data-folder-path="${item.FolderPath}" data-folder-name="${item.FolderName}" data-current-path="${currentPath}" onclick="javascript: ReSearch@(itemName)(this);"></i>
                                <label id="labelFolder@(itemName)${item.FolderName}" style="cursor:pointer;" data-folder-path="${item.FolderPath}" data-folder-name="${item.FolderName}" onclick="javascript: ReSearch@(itemName)(this);"> ${item.FolderName}</label>
                                <div id="folderFile@(itemName)${item.FolderName}" data-folder-path = "${item.FolderPath}" style="display: none;"></div>
                                <hr>
                              </div>`;
            });
            $("#folder").append(innerHtml);

            GetFiles@(itemName)();
        }
        else {
            alert(data.msg, 5000);
        }
    }

    function GetFiles@(itemName)() {
        $("#cbxSelectAll@(itemName)").prop("checked", true);
        $("#files").empty();
        $("#files").hide();

        let targetUrl = "@Url.Action("GetFiles", "Drawing")";
        let postData = {
            "FolderPath": $("#txtCadFileAbsolutePath@(itemName)").val(),
            "ListId": listId@(itemName),
            "UserId": '@Convert.ToInt32(Session["UserId"])'
        };
        let data = DataAccess.Get(targetUrl, postData, false);
        if (data.status == "success") {
            let innerHtml = '';
            $.each(data.result, function (i, item) {
                innerHtml += `<div class="col-md-12" style="font-size: 20px;">
                                ${JudgeMultiFlag@(itemName)(`${item.FileName}`, `${item.FilePath}`, `${item.WhitelistPath}`)}
                                <hr>
                              </div>`;

                function JudgeMultiFlag@(itemName)(fileName, filePath, whitelistPath) {
                    let innerHtml = '';
                    if (multiFlag@(itemName) == "Y") {
                        innerHtml += `<input id="cbxFile@(itemName)${fileName}" type="checkbox" data-file-path="${filePath}" data-file-name="${fileName}" data-folder-path="${whitelistPath}" style="width: 15px; height: 15px;" checked />
                                      <i class="fas fa-file"></i>
                                      <label data-file-path="${filePath}" data-file-name="${fileName}" data-folder-path="${whitelistPath}" for="cbxFile@(itemName)${fileName}"> ${fileName}</label>`;
                    }
                    else {
                        innerHtml += `<input id="chkFile@(itemName)${fileName}" name="chkFile@(itemName)${fileName}" type="radio" data-file-path="${filePath}" data-file-name="${fileName}" data-folder-path="${whitelistPath}" style="width: 15px; height: 15px;" />
                                      <i class="fas fa-file"></i>
                                      <label data-file-path="${filePath}" data-file-name="${fileName}" data-folder-path="${whitelistPath}" for="chkFile@(itemName)${fileName}"> ${fileName}</label>`;
                    }
                    return innerHtml;
                }
            });
            $(`#files`).append(innerHtml);
            $("#files").show();

            $("input[type='radio']").click(function () {
                if ("[data-file-path]:checked") {
                    let filePath = $(this).data("file-path");
                    let folderPath = $(this).data("folder-path");
                    let fileName = $(this).data("file-name");
                    filePathList@(itemName).push(filePath);
                    if (filePath) {
                        let innerHtml = `<a class="active-link mr-1" href="/Drawing/GetCadFile?FilePath=${filePath}&DownloadFlag=RD"><i class="fas fa-download"></i></a>
                                            ${fileName}`;
                        $(filePreviewHtmlPath@(itemName)).html(innerHtml);
                        $(fileHtmlPath@(itemName)).html(filePath);
                        $(folderHtmlPath@(itemName)).val(listId@(itemName));
                        $(helpHtmlPath@(itemName)).show();
                    }
                }

                Close@(itemName)();
            });
        }
        else {
            alert(data.msg, 4500);
        }
    }

    function Previous@(itemName)() {
        if (typeof (prePath@(itemName)) != "undefined") {
            GetFolder@(itemName)(prePath@(itemName));
        }
    }

    function ReSearch@(itemName)(e) {
        if (e) {
            let folderPath = $(e).data("folder-path");
            $("#txtCadFileAbsolutePath@(itemName)").val(folderPath);
        }
        GetFolder@(itemName)();
        //GetFiles@(itemName)();
    }

    function FileSearch@(itemName)() {
        let FolderPath = $("#txtCadFileAbsolutePath@(itemName)").val();
        let FileName = $("#txtFileSearch@(itemName)").val();

        if (FileName == "") {
            GetFolder@(itemName)();
            return false;
        }

        let targetUrl = "@Url.Action("GetFileSearch", "Drawing")";
        let postData = {
            "FolderPath": FolderPath,
            "ListId": listId@(itemName),
            "UserId": '@Convert.ToInt32(Session["UserId"])',
            "FileName": FileName
        };
        let data = DataAccess.Get(targetUrl, postData, false);
        let innerHtml = "";
        if (data.status == "success") {
            $.each(data.result, function (i, item) {
                innerHtml += `<div class="col-md-12" style="font-size: 20px;">
                                ${JudgeMultiFlag@(itemName)(`${item.FileName}`, `${item.FilePath}`, `${item.WhitelistPath}`)}
                                <hr>
                              </div>`;

                function JudgeMultiFlag@(itemName)(fileName, filePath, whitelistPath) {
                    let innerHtml = '';
                    let filePathSplit = filePath.split('\\');
                    let codeFilePath = "";
                    $.each(filePathSplit, function (j, item2) {
                        if (j == filePathSplit.length - 1) return false;

                        if (j > 1) codeFilePath += item2 + "\\";
                    });

                    if (multiFlag@(itemName) == "Y") {
                        innerHtml += `<input id="cbxFile@(itemName)${fileName}" type="checkbox" data-file-path="${filePath}" data-file-name="${fileName}" data-folder-path="${whitelistPath}" style="width: 15px; height: 15px;" checked />
                                      <i class="fas fa-file-alt"></i>
                                      <label data-file-path="${filePath}" data-file-name="${fileName}" data-folder-path="${whitelistPath}" for="cbxFile@(itemName)${fileName}"> ${fileName}</label>
                                      <br><code style="padding: 30px;">${filePath}</code>`;
                    }
                    else {
                        innerHtml += `<div style="display: flex;align-items: center; margin-right: 10px;">
                                          <div style="margin-right: 10px;">
                                            <input id="chkFile@(itemName)${fileName}" name="chkFile@(itemName)${fileName}" type="radio" data-file-path="${filePath}" data-file-name="${fileName}" data-folder-path="${whitelistPath}" style="width: 15px; height: 15px; margin-right: 5px;" />
                                            <i class="fas fa-file-alt"></i>
                                          </div>
                                          <div>
                                            <label data-file-path="${filePath}" data-file-name="${fileName}" data-folder-path="${whitelistPath}" for="chkFile@(itemName)${fileName}">
                                            ${fileName}
                                            <br><code>${codeFilePath}</code>
                                            </label>
                                          </div>
                                      </div>`;
                    }
                    return innerHtml;
                }
            });

            $(`#files`).empty();
            $(`#folder`).empty();

            $(`#files`).append(innerHtml);
            $("#files").show();

            $("input[type='radio']").click(function () {
                if ("[data-file-path]:checked") {
                    let filePath = $(this).data("file-path");
                    let fileName = $(this).data("file-name");
                    console.log(filePath);
                    filePathList@(itemName).push(filePath);
                    if (filePath) {
                        let innerHtml = `<a class="active-link mr-1" href="/Drawing/GetCadFile?FilePath=${filePath}&DownloadFlag=RD"><i class="fas fa-download"></i></a>
                                            ${fileName}`;
                        $(filePreviewHtmlPath@(itemName)).html(innerHtml);
                        $(fileHtmlPath@(itemName)).html(filePath);
                        $(folderHtmlPath@(itemName)).val(listId@(itemName));
                        $(helpHtmlPath@(itemName)).show();
                    }
                }

                Close@(itemName)();
            });
        }
        else {
            alert(data.msg, 5000);
        }
    }

    function Previous@(itemName)() {
        let index = PrePathList@(itemName).length - 2;
        if (index >= 0) {
            let prePath = PrePathList@(itemName)[index]
            if (prePath != "") {
                $("#txtCadFileAbsolutePath@(itemName)").val(prePath);
                ReSearch@(itemName)();
            }
        }
    }

    function Close@(itemName)() {
        $("#modal@(itemName)").modal('hide');
    }
</script>
                            )