@using Business_Manager.Helpers
@{
    string itemName = "Drawing";
    string itemNameText = "圖面管理";
    string itemList = "drawing";

    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
    </style>
                           )

<div class="drawing-section platform-content" id="drawing" style="display: none;">
    <div class="dw-header">
        <div class="dw-title">
            <h2>@itemNameText</h2>
            <span>品號: 3A11-20240221-001</span>
            <span>品名: 公模仁測試品號</span>
        </div>
        <div class="title-btn">
            <a id="aPrePage@(itemName)" class="dw-default-btn" href="#">返回前頁</a>
        </div>
    </div>
    <hr />
    <div class="rd-header">
        <div class="customer-info">
            <span>客戶品號: 3A11-20240201-001</span>
            <span>客戶圖號: 00</span>
            <span>客戶版次: A-00<code>(01)</code></span>
        </div>
        <div class="customer-pic">
            <label>客戶設計圖</label>
            <a class="active-link mr-1" href="/Drawing/GetCadFile?FilePath=1">
                <i class="fas fa-download"></i>
                H0556A-13A.jmo
            </a>
        </div>
        <div class="rd-header-btn">
            <a class="dw-default-btn" href="javascript: EditRdDesignHeader@(itemName)();">維護單頭</a>
        </div>
    </div>
    <hr />
    <div class="rd-control">
        <div class="control-header">
            <div class="search-bar">
                <div class="search-item">
                    <label>研發版次</label>
                    <input type="text" class="form-control" />
                </div>
                <div class="search-item">
                    <label>發行狀態</label>
                    <select class="form-control">
                        <option value="A">全部顯示</option>
                        <option value="Y">發行中</option>
                        <option value="N">未發行</option>
                    </select>
                </div>
            </div>
            <div class="header-btn">
                <a class="dw-default-btn" href="javascript: EditRdDesignControl@(itemName)();">新增版控</a>
            </div>
        </div>

        <div class="control-body">
            <div class="control-item">
                <div class="item-header">
                    <div class="item-title">
                        <span>#1. A-00<code>(02)</code></span>
                    </div>
                    <div class="status-info" onclick="SwitchStatus@(itemName)('發行中');">
                        <i class="fas fa-check-circle" style="color: green;"></i>
                        <span>發行中</span>
                    </div>
                </div>
                <div class="item-body">
                    <div class="control-item-info">
                        <div class="info-item">
                            <div class="item-content">
                                <label>變更日期:</label>
                                <span>2024-01-31</span>
                            </div>
                            <div class="item-content">
                                <label>出圖日期:</label>
                                <span>2024-01-31</span>
                            </div>
                        </div>
                        <div class="info-item">
                            <div class="item-content">
                                <label>變更人員:</label>
                                <span><code>ZY00308</code> 嚴仟喻</span>
                            </div>
                            <div class="item-content">
                                <label>變更原因:</label>
                                <span>新制</span>
                            </div>
                        </div>
                    </div>
                    <div class="rd-pic-info">
                        <div class="pic-item">
                            <div class="item-info">
                                <label>3D研發設計圖</label>
                                <a class="" href="#">
                                    <i class="fas fa-download"></i>
                                    HJ5202K01-LS07.dwg
                                </a>
                            </div>
                            <div class="item-info">
                                <label>2D研發設計圖</label>
                                <a class="" href="#">
                                    <i class="fas fa-download"></i>
                                    HJ5202K01-LS07.dwg
                                </a>
                            </div>
                        </div>
                        <div class="pic-item">
                            <div class="item-info">
                                <label>2D-PDF設計圖</label>
                                <a class="" href="#">
                                    <i class="fas fa-download"></i>
                                    HJ5202K01-LS07.dwg
                                </a>
                            </div>
                            <div class="item-info">
                                <label>JMO檔</label>
                                <a class="" href="#">
                                    <i class="fas fa-download"></i>
                                    HJ5202K01-LS07.dwg
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="control-item">
                <div class="item-header">
                    <div class="item-title">
                        <span>#2. A-00<code>(02)</code></span>
                    </div>
                    <div class="status-info" onclick="SwitchStatus@(itemName)('未發行');">
                        <i class="fas fa-exclamation-circle" style="color: red;"></i>
                        <span>未發行</span>
                    </div>
                </div>
                <div class="item-body">
                    <div class="control-item-info">
                        <div class="info-item">
                            <div class="item-content">
                                <label>變更日期:</label>
                                <span>2024-01-31</span>
                            </div>
                            <div class="item-content">
                                <label>出圖日期:</label>
                                <span>2024-01-31</span>
                            </div>
                        </div>
                        <div class="info-item">
                            <div class="item-content">
                                <label>變更人員:</label>
                                <span><code>ZY00308</code> 嚴仟喻</span>
                            </div>
                            <div class="item-content">
                                <label>變更原因:</label>
                                <span>新制</span>
                            </div>
                        </div>
                    </div>
                    <div class="rd-pic-info">
                        <div class="pic-item">
                            <div class="item-info">
                                <label>3D研發設計圖</label>
                                <a class="" href="#">
                                    <i class="fas fa-download"></i>
                                    HJ5202K01-LS07.dwg
                                </a>
                            </div>
                            <div class="item-info">
                                <label>2D研發設計圖</label>
                                <a class="" href="#">
                                    <i class="fas fa-download"></i>
                                    HJ5202K01-LS07.dwg
                                </a>
                            </div>
                        </div>
                        <div class="pic-item">
                            <div class="item-info">
                                <label>2D-PDF設計圖</label>
                                <a class="" href="#">
                                    <i class="fas fa-download"></i>
                                    HJ5202K01-LS07.dwg
                                </a>
                            </div>
                            <div class="item-info">
                                <label>JMO檔</label>
                                <a class="" href="#">
                                    <i class="fas fa-download"></i>
                                    HJ5202K01-LS07.dwg
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="control-item">
                <div class="item-header">
                    <div class="item-title">
                        <span>#3. A-00<code>(02)</code></span>
                    </div>
                    <div class="status-info" onclick="SwitchStatus@(itemName)('未發行');">
                        <i class="fas fa-exclamation-circle" style="color: red;"></i>
                        <span>未發行</span>
                    </div>
                </div>
                <div class="item-body">
                    <div class="control-item-info">
                        <div class="info-item">
                            <div class="item-content">
                                <label>變更日期:</label>
                                <span>2024-01-31</span>
                            </div>
                            <div class="item-content">
                                <label>出圖日期:</label>
                                <span>2024-01-31</span>
                            </div>
                        </div>
                        <div class="info-item">
                            <div class="item-content">
                                <label>變更人員:</label>
                                <span><code>ZY00308</code> 嚴仟喻</span>
                            </div>
                            <div class="item-content">
                                <label>變更原因:</label>
                                <span>新制</span>
                            </div>
                        </div>
                    </div>
                    <div class="rd-pic-info">
                        <div class="pic-item">
                            <div class="item-info">
                                <label>3D研發設計圖</label>
                                <a class="" href="#">
                                    <i class="fas fa-download"></i>
                                    HJ5202K01-LS07.dwg
                                </a>
                            </div>
                            <div class="item-info">
                                <label>2D研發設計圖</label>
                                <a class="" href="#">
                                    <i class="fas fa-download"></i>
                                    HJ5202K01-LS07.dwg
                                </a>
                            </div>
                        </div>
                        <div class="pic-item">
                            <div class="item-info">
                                <label>2D-PDF設計圖</label>
                                <a class="" href="#">
                                    <i class="fas fa-download"></i>
                                    HJ5202K01-LS07.dwg
                                </a>
                            </div>
                            <div class="item-info">
                                <label>JMO檔</label>
                                <a class="" href="#">
                                    <i class="fas fa-download"></i>
                                    HJ5202K01-LS07.dwg
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="control-item">
                <div class="item-header">
                    <div class="item-title">
                        <span>#4. A-00<code>(02)</code></span>
                    </div>
                    <div class="status-info" onclick="SwitchStatus@(itemName)('未發行');">
                        <i class="fas fa-exclamation-circle" style="color: red;"></i>
                        <span>未發行</span>
                    </div>
                </div>
                <div class="item-body">
                    <div class="control-item-info">
                        <div class="info-item">
                            <div class="item-content">
                                <label>變更日期:</label>
                                <span>2024-01-31</span>
                            </div>
                            <div class="item-content">
                                <label>出圖日期:</label>
                                <span>2024-01-31</span>
                            </div>
                        </div>
                        <div class="info-item">
                            <div class="item-content">
                                <label>變更人員:</label>
                                <span><code>ZY00308</code> 嚴仟喻</span>
                            </div>
                            <div class="item-content">
                                <label>變更原因:</label>
                                <span>新制</span>
                            </div>
                        </div>
                    </div>
                    <div class="rd-pic-info">
                        <div class="pic-item">
                            <div class="item-info">
                                <label>3D研發設計圖</label>
                                <a class="" href="#">
                                    <i class="fas fa-download"></i>
                                    HJ5202K01-LS07.dwg
                                </a>
                            </div>
                            <div class="item-info">
                                <label>2D研發設計圖</label>
                                <a class="" href="#">
                                    <i class="fas fa-download"></i>
                                    HJ5202K01-LS07.dwg
                                </a>
                            </div>
                        </div>
                        <div class="pic-item">
                            <div class="item-info">
                                <label>2D-PDF設計圖</label>
                                <a class="" href="#">
                                    <i class="fas fa-download"></i>
                                    HJ5202K01-LS07.dwg
                                </a>
                            </div>
                            <div class="item-info">
                                <label>JMO檔</label>
                                <a class="" href="#">
                                    <i class="fas fa-download"></i>
                                    HJ5202K01-LS07.dwg
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--RD設計圖單頭-->
<div class="modal fade" id="modalRdDesignHeader@(itemName)">
    <div class="modal-dialog modal-lg" style="padding-top:7%;">
        <div class="modal-content working-content" style="min-width:350px;">
            <div class="modal-header" style="align-items: center;">
                <h5 class="modal-title">
                    @itemNameText
                    <span class="sub-title">品號: <span class="sub-text" id="desHeaderMtlItemNo@(itemName)">3A11-20240221-001</span></span>
                    <span class="sub-title">品名: <span class="sub-text" id="desHeaderMtlItemName@(itemName)">公模仁測試品號</span></span>
                </h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body bom-edit-body">
                <div class="row" id=" ">
                    <div class="col-12">
                        <form id="ComponentEdit@(itemName)" autocomplete="off" style="padding:1rem 0rem;">
                            <div class="container">
                                <div id="editBody@(itemName)">
                                    <div class="form-group row">
                                        <label class="col-12 col-form-label" for="txtCustomerMtlItemNo@(itemName)">客戶品號(部番) <span class="text-danger">*</span></label>
                                        <div class="col-12">
                                            <input type="text" class="form-control" id="txtCustomerMtlItemNo@(itemName)" name="txtCustomerMtlItemNo@(itemName)"
                                                   placeholder="請輸入客戶品號(部番)"
                                                   data-msg-required="請輸入客戶品號(部番)" data-rule-required="true"
                                                   data-msg-maxlength="必須少於 50 個字元" maxlength="50" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-12 col-form-label" for="txtCustomerCadControlId@(itemName)">客戶設計圖</label>
                                        <div class="col-12">
                                            <input type="hidden" id="txtCustomerCadControlId@(itemName)" />
                                            <div class="btn-group">
                                                <a class="btn btn-success pop-view" href="javascript:void(0);"><i class="fal fa-search"></i></a>
                                                <a class="btn btn-outline-danger pop-clear" href="javascript:void(0);"><i class="fas fa-eraser"></i></a>
                                            </div>
                                            <dl class="help-block">
                                                <dt>客戶圖號</dt>
                                                <dd id="desCustomerDwgNo@(itemName)"></dd>
                                                <dt>版次</dt>
                                                <dd id="desEdition@(itemName)"></dd>
                                                <dt>客戶設計圖</dt>
                                                <dd id="desCadFile@(itemName)"></dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-footer text-right text-lg-right">
                <button type="button" class="btn btn-success" onclick="SaveRdDesignHeader@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

<!--RD設計圖版控-->
<div class="modal fade" id="modalRdDesignControl@(itemName)">
    <div class="modal-dialog modal-lg" style="padding-top:7%;">
        <div class="modal-content working-content" style="min-width:350px;">
            <div class="modal-header" style="align-items: center;">
                <h5 class="modal-title">
                    @itemNameText
                    <span class="sub-title">品號: <span class="sub-text" id="desControlMtlItemNo@(itemName)">3A11-20240221-001</span></span>
                    <span class="sub-title">品名: <span class="sub-text" id="desControlMtlItemName@(itemName)">公模仁測試品號</span></span>
                </h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body bom-edit-body" style="max-height: 65vh; overflow: scroll;">
                <div class="row" id=" ">
                    <div class="col-12">
                        <form id="ComponentEdit@(itemName)" autocomplete="off" style="padding:1rem 0rem;">
                            <div class="container">
                                <div class="row" id="editRdDesignControlData@(itemName)">
                                    <div class="col-12">
                                        <fieldset>
                                            <div class="form-group row">
                                                <label class="col-12 col-form-label" for="cboEdition@(itemName)">研發版次資訊</label>
                                                <div class="col-12">
                                                    <select class="form-control" id="cboEdition@(itemName)" name="cboEdition@(itemName)"></select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-12 col-form-label" for="txtEdition@(itemName)">研發版次 <span class="text-danger">*</span></label>
                                                <div class="col-12">
                                                    <input type="text" class="form-control" id="txtEdition@(itemName)" name="txtEdition@(itemName)"
                                                           placeholder="請輸入研發版次"
                                                           data-msg-required="請輸入研發版次" data-rule-required="true"
                                                           data-msg-maxlength="必須少於 32 個字元" maxlength="32" />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-12 col-form-label">變更類型 <span class="text-danger">*</span></label>
                                                <div class="col-lg-3 col-md-4 col-6">
                                                    <label class="control control-solid control-solid-info control--radio">
                                                        版次變更
                                                        <input type="radio" id="rdoChangeType@(itemName)E" name="rdoChangeType@(itemName)" value="E"
                                                               data-msg-required="請選擇變更類型" data-rule-required="true" />
                                                        <span class="control__indicator"></span>
                                                    </label>
                                                </div>
                                                <div class="col-lg-3 col-md-4 col-6">
                                                    <label class="control control-solid control-solid-info control--radio">
                                                        修改變更
                                                        <input type="radio" id="rdoChangeType@(itemName)U" name="rdoChangeType@(itemName)" value="U"
                                                               data-msg-required="請選擇變更類型" data-rule-required="true" />
                                                        <span class="control__indicator"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-12 col-form-label" for="txtCause@(itemName)">變更原因 <span class="text-danger">*</span></label>
                                                <div class="col-12">
                                                    <textarea class="form-control" id="txtCause@(itemName)" name="txtCause@(itemName)" rows="2"
                                                              placeholder="請輸入變更原因"
                                                              data-msg-required="請輸入變更原因" data-rule-required="true"
                                                              data-msg-maxlength="必須少於 100 個字元" maxlength="100"></textarea>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-12 col-form-label" for="txtDesignDate@(itemName)">出圖日期 <span class="text-danger">*</span></label>
                                                <div class="col-12">
                                                    <input type="text" class="form-control" id="txtDesignDate@(itemName)" name="txtDesignDate@(itemName)"
                                                           placeholder="請輸入出圖日期"
                                                           data-msg-required="請輸入出圖日期" data-rule-required="true"
                                                           data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))" />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-12 col-form-label">是否為發行版次 <span class="text-danger">*</span></label>
                                                <div class="col-lg-3 col-md-4 col-6">
                                                    <label class="control control-solid control-solid-info control--radio">
                                                        發行版本
                                                        <input type="radio" id="rdoChangeReleasedStatus@(itemName)Y" name="rdoChangeReleasedStatus@(itemName)" value="Y"
                                                               data-msg-required="請選擇版次類型" data-rule-required="true" />
                                                        <span class="control__indicator"></span>
                                                    </label>
                                                </div>
                                                <div class="col-lg-3 col-md-4 col-6">
                                                    <label class="control control-solid control-solid-info control--radio">
                                                        非發行版本
                                                        <input type="radio" id="rdoChangeReleasedStatus@(itemName)N" name="rdoChangeReleasedStatus@(itemName)" value="N"
                                                               data-msg-required="請選擇版次類型" data-rule-required="true" />
                                                        <span class="control__indicator"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="form-label col-12" for="cboCad2DFolderPath@(itemName)">研發2D設計圖<span class="text-danger">*</span></label>
                                                <div class="col-12">
                                                    <div style="display: flex;" class="btn-group btn-group-inv@(itemName)">
                                                        <select id="cboCad2DFolderPath@(itemName)" name="cboCad2DFolderPath@(itemName)" class="form-control" required></select>
                                                        <a class="btn btn-success pop-view" href="javascript: SearchCadFile@(itemName)('Cad2D');"><i class="fal fa-search"></i></a>
                                                        <a class="btn pop-view" style="background-color: #ef3f5f !IMPORTANT;" href="javascript: RemoveCadFile@(itemName)('Cad2D');"><i style="color: white;" class="fas fa-eraser"></i></a>
                                                    </div>
                                                    <dl id="Cad2DFileHelp" class="help-block cad-help">
                                                        <dt>檔案預覽</dt>
                                                        <dd style="display: none;" id="desCad2DFileAbsolutePath@(itemName)" class="absolute-path"></dd>
                                                        <dd id="desCad2DFilePreview@(itemName)" class="cad-preview"></dd>
                                                    </dl>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="form-label col-12" for="cboJmoFolderPath@(itemName)">研發Jmo檔</label>
                                                <div class="col-12">
                                                    <div style="display: flex;" class="btn-group btn-group-inv@(itemName)">
                                                        <select id="cboJmoFolderPath@(itemName)" name="cboJmoFolderPath@(itemName)" class="form-control"></select>
                                                        <a class="btn btn-success pop-view" href="javascript: SearchCadFile@(itemName)('Jmo');"><i class="fal fa-search"></i></a>
                                                        <a class="btn pop-view" style="background-color: #ef3f5f !IMPORTANT;" href="javascript: RemoveCadFile@(itemName)('Jmo');"><i style="color: white;" class="fas fa-eraser"></i></a>
                                                    </div>
                                                    <dl id="JmoFileHelp" class="help-block cad-help">
                                                        <dt>檔案預覽</dt>
                                                        <dd style="display: none;" id="desJmoFileAbsolutePath@(itemName)" class="absolute-path"></dd>
                                                        <dd id="desJmoFilePreview@(itemName)" class="cad-preview"></dd>
                                                    </dl>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="form-label col-12" for="cboCad3DFolderPath@(itemName)">研發3D設計圖</label>
                                                <div class="col-12">
                                                    <div style="display: flex;" class="btn-group btn-group-inv@(itemName)">
                                                        <select id="cboCad3DFolderPath@(itemName)" name="cboCad3DFolderPath@(itemName)" class="form-control"></select>
                                                        <a class="btn btn-success pop-view" href="javascript: SearchCadFile@(itemName)('Cad3D');"><i class="fal fa-search"></i></a>
                                                        <a class="btn pop-view" style="background-color: #ef3f5f !IMPORTANT;" href="javascript: RemoveCadFile@(itemName)('Cad3D');"><i style="color: white;" class="fas fa-eraser"></i></a>
                                                    </div>
                                                    <dl id="Cad3DFileHelp" class="help-block cad-help">
                                                        <dt>檔案預覽</dt>
                                                        <dd style="display: none;" id="desCad3DFileAbsolutePath@(itemName)" class="absolute-path"></dd>
                                                        <dd id="desCad3DFilePreview@(itemName)" class="cad-preview"></dd>
                                                    </dl>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="form-label col-12" for="cboPdf2DFolderPath@(itemName)">研發2D PDF設計圖</label>
                                                <div class="col-12">
                                                    <div style="display: flex;" class="btn-group btn-group-inv@(itemName)">
                                                        <select id="cboPdf2DFolderPath@(itemName)" name="cboPdf2DFolderPath@(itemName)" class="form-control"></select>
                                                        <a class="btn btn-success pop-view" href="javascript: SearchCadFile@(itemName)('Pdf2D');"><i class="fal fa-search"></i></a>
                                                        <a class="btn pop-view" style="background-color: #ef3f5f !IMPORTANT;" href="javascript: RemoveCadFile@(itemName)('Pdf2D');"><i style="color: white;" class="fas fa-eraser"></i></a>
                                                    </div>
                                                    <dl id="Pdf2DFileHelp" class="help-block cad-help">
                                                        <dt>檔案預覽</dt>
                                                        <dd style="display: none;" id="desPdf2DFileAbsolutePath@(itemName)" class="absolute-path"></dd>
                                                        <dd id="desPdf2DFilePreview@(itemName)" class="cad-preview"></dd>
                                                    </dl>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-footer text-right text-lg-right">
                <button type="button" class="btn btn-success" onclick="SaveRdDesignControl@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

@Html.Partial("../Drawing/ViewCustomerCad")
@Html.Partial("../Drawing/ViewLocalFile")

@Html.Resource("js",
    @<script>
        $(document).ready(function () {

        });

        function Expand@(itemName)() {
            $(".platform-content").hide();
            sidebar.unselect();

            $(`#drawing`).show();
            sidebar.select("@itemList");

            //Init@(itemName)();

            $("#aPrePage@(itemName)").prop("href", "javascript: ExpandMtlItem();")
        }

        function EditRdDesignHeader@(itemName)() {
            $("#modalRdDesignHeader@(itemName)").modal("show");

            let popConfig = {
                targetSelector: "#txtCustomerCadControlId@(itemName)",
                popFunction: "PopViewCustomerCad",
                objectControlId: "#txtCustomerCadControlId@(itemName)",
                objectCustomerDwgNo: "#desCustomerDwgNo@(itemName)",
                objectEdition: "#desEdition@(itemName)",
                objectCadFile: "#desCadFile@(itemName)",
            };
            InitPopView(popConfig);
        }

        function SaveRdDesignHeader@(itemName)() {
            $("#modalRdDesignHeader@(itemName)").modal("hide");
        }

        function EditRdDesignControl@(itemName)() {
            $("#modalRdDesignControl@(itemName)").modal("show");

            if (!isMobile) {
                $("#cboEdition@(itemName), #cboCad2DFolderPath@(itemName), #cboJmoFolderPath@(itemName), #cboCad3DFolderPath@(itemName), #cboPdf2DFolderPath@(itemName)").select2({
                    width: "100%"
                });
            }

            ComboBoxs.Default("#cboEdition@(itemName)", "@Url.Action("GetRdDesignEdition", "Drawing")", { "DesignId": $("#DesignId").val() }, "", "HIDDEN", "快速選擇", "Edition", "Edition");

            ComboBoxs.Default("#cboCad2DFolderPath@(itemName)", "@Url.Action("GetRdWhitelist", "Drawing")", { "UserId": @Convert.ToInt32(Session["UserId"]) }, "", "NA", "", "FolderPath", "ListId");
            ComboBoxs.Default("#cboJmoFolderPath@(itemName)", "@Url.Action("GetRdWhitelist", "Drawing")", { "UserId": @Convert.ToInt32(Session["UserId"]) }, "", "NA", "", "FolderPath", "ListId");
            ComboBoxs.Default("#cboCad3DFolderPath@(itemName)", "@Url.Action("GetRdWhitelist", "Drawing")", { "UserId": @Convert.ToInt32(Session["UserId"]) }, "", "NA", "", "FolderPath", "ListId");
            ComboBoxs.Default("#cboPdf2DFolderPath@(itemName)", "@Url.Action("GetRdWhitelist", "Drawing")", { "UserId": @Convert.ToInt32(Session["UserId"]) }, "", "NA", "", "FolderPath", "ListId");

            Suites.DateDropper("#txtDesignDate@(itemName)");

            let currentDate = new Date();
            Suites.SetDateDropper("#txtDesignDate@(itemName)", currentDate);

            $(".cad-help").hide();
            $(".absolute-path").html("");
            $(".cad-preview").html("");

            $("#cboEdition@(itemName)").off("change").on("change", function () {
                $("#txtEdition@(itemName)").val($("#cboEdition@(itemName) option:selected").val()).focus();
                $("#cboEdition@(itemName)").prop('selectedIndex', 0);
            });

            $("#cboCad2DFolderPath@(itemName)").change(function () {
                SearchCadFile@(itemName)("Cad2D");
            });
            $("#cboJmoFolderPath@(itemName)").change(function () {
                SearchCadFile@(itemName)("Jmo");
            });
            $("#cboCad3DFolderPath@(itemName)").change(function () {
                SearchCadFile@(itemName)("Cad3D");
            });
            $("#cboPdf2DFolderPath@(itemName)").change(function () {
                SearchCadFile@(itemName)("Pdf2D");
            });
        }

        function SearchCadFile@(itemName)(fileType) {
            let listId = $(`#cbo${fileType}FolderPath@(itemName)`).val();
            let folderHtmlPath = `#cbo${fileType}FolderPath@(itemName)`;
            let fileHtmlPath = `#des${fileType}FileAbsolutePath@(itemName)`;
            let filePreviewHtmlPath = `#des${fileType}FilePreview@(itemName)`;
            let helpHtmlPath = `#${fileType}FileHelp`;
            PopViewLocalFile(listId, "N", folderHtmlPath, fileHtmlPath, filePreviewHtmlPath, helpHtmlPath);
        }

        function ChangeASCII@(itemName)(fileName) {
            if (fileName.indexOf("%2B") != -1) fileName = fileName.replace("%2B", "+");
            if (fileName.indexOf("%2F") != -1) fileName = fileName.replace("%2F", "/");
            if (fileName.indexOf("%3F") != -1) fileName = fileName.replace("%3F", "?");
            if (fileName.indexOf("%23") != -1) fileName = fileName.replace("%23", "#");
            if (fileName.indexOf("%26") != -1) fileName = fileName.replace("%26", "&");
            if (fileName.indexOf("%3D") != -1) fileName = fileName.replace("%3D", "=");

            return fileName;
        }

        function RemoveCadFile@(itemName)(fileType) {
            ComboBoxs.Default(`#cbo${fileType}FolderPath@(itemName)`, "@Url.Action("GetRdWhitelist", "Drawing")", { "UserId": @Convert.ToInt32(Session["UserId"]) }, "", "NA", "", "FolderPath", "ListId");
            $(`#cbo${fileType}FolderPath@(itemName)`).val("");
            $(`#${fileType}FileHelp`).hide();
            $(`#des${fileType}FileAbsolutePath@(itemName)`).html("");
            $(`#des${fileType}FilePreview@(itemName)`).html("");
        }

        function SaveRdDesignControl@(itemName)() {
            $("#modalRdDesignControl@(itemName)").modal("hide");
        }

        function SwitchStatus@(itemName)(status) {
            swal.fire({
                titleText: "確定要切換發行狀態嗎?",
                text: "目前狀態為【" + status+ "】，請確認後再執行!!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    @*let targetUrl = "@Url.Action("DeleteQcRecord", "QcDataManagement")";
                    let postData = {
                        "QcRecordId": qcRecordId
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Return@(itemName)();
                    }*@
                }
            });
        }
    </script>
                                )