@using Business_Manager.Helpers
@{
    string itemName = "MtlItem";
    string itemNameText = "品號";
    string itemList = "mtlItem";

    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
         .mtl-demand {
             padding: 20px 25px 12px;
             display: flex;
             justify-content: space-between;
             align-items: end;
         }

         .mtl-demand-title {
             padding: 15px;
             display: flex;
             flex-direction: column;
             background: whitesmoke;
             border-radius: 12px;
         }

             .mtl-demand-title h1 {
                 margin-bottom: 4px;
                 font-weight: 600;
             }

             .mtl-demand-title span {
                 font-weight: 600;
             }

         .add-mtl-btn {
             padding: 15px;
             background: #e7e7e7;
             color: #172841;
             border-radius: 8px;
             font-weight: 600;
         }

         .txt-red {
             color: #FF0000;
         }

         .txt-darkorange {
             color: #FF8C00;
         }

         .title-row {
             display: flex;
             align-items: center;
             justify-content: space-between;
             margin-bottom: 0.5rem;
         }

         .subject-content {
             font-size: 1rem;
         }

             .subject-content p {
                 margin-bottom: 0.25rem;
             }


         .card .card-header {
             background-color: rgba(0,0,0,.03);
         }

         fieldset.scheduler-border {
             padding: 0 1.4em 1.4em 1.4em !important;
             margin: 0 0 1.5em 0 !important;
             border: solid 1px #36a2f5 !important;
             border-radius: 5px;
         }

         legend.scheduler-border {
             font-size: 1.2rem !important;
             font-weight: bold !important;
             width: auto;
             padding: 0 10px;
             color: #36a2f5;
         }

         .help-block span {
             display: block;
         }

         .bomEffectiveText {
             border: 1px solid rgba(235,0,0,.7);
             border-radius: 3px;
             color: rgba(235,0,0,1);
             font-family: "Font Awesome 5 Pro";
             font-weight: bold;
             padding: 5px;
         }

         .edit-body {
             max-height: 65vh;
             overflow: scroll;
         }

         .bom-edit-body {
             max-height: 55vh;
             overflow: scroll;
         }
    </style>
                        )

<!--搜尋-->
<div id="" style="display:none;">
    <div class="row mb-3">
        <div class="col-6 col-sm-6 col-md-6">
            <a class="btn btn-primary" href="javascript:void(0);">
                <i class="fal fa-search"></i>搜尋
            </a>
        </div>
        <div class="col-6 col-sm-6 col-md-6 text-right">
            <a class="btn btn-info auth-add" href="javascript:void(0);"><i class="fas fa-plus"></i>新增</a>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="table-custom">
                <table class="table table-bordered table-striped table-sticky tiny-table" id="tblData@(itemName)">
                    <thead>
                        <tr>
                            <th scope="col" style="min-width: 75px;">#</th>
                            <th scope="col" style="min-width: 150px;">品號</th>
                            <th scope="col" style="min-width: 175px;">品名</th>
                            <th scope="col" style="min-width: 150px;">規格</th>
                            <th class="text-center" scope="col" style="min-width: 75px;">操作</th>
                            <th scope="col" style="min-width: 150px;">屬性</th>
                            <th scope="col" style="min-width: 150px;">類別(一)</th>
                            <th scope="col" style="min-width: 150px;">類別(二)</th>
                            <th scope="col" style="min-width: 150px;">類別(三)</th>
                            <th scope="col" style="min-width: 150px;">類別(四)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1.</td>
                            <td>3GLO002-037001-81</td>
                            <td>J1-037001 G鏡片(量產)(OF-0120)</td>
                            <td>Ø10*3.952</td>
                            <td class="text-center active-content">
                                <div class="btn-group mb-4 show" style="margin-bottom: 0 !important; position: static;">
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-so-id="1" style="padding-top: 0; padding-bottom: 0;">動作</button>
                                    <div class="dropdown-menu btn-text-left-block" data-so-id="1" style="overflow-y: auto; z-index: 999; max-height: 150px;">
                                        <a class="dropdown-item btn-text-left" href="javascript:void(0);"><i class="fas fa-eye"></i>查看</a>
                                        <a class="dropdown-item btn-text-left" href="javascript:void(0);"><i class="fas fa-edit"></i>修改</a>
                                    </div>
                                </div>
                            </td>
                            <td>M 自製件</td>
                            <td>103-半成品</td>
                            <td>204-模造</td>
                            <td>342-模造鏡片</td>
                            <td>4701-G鏡片</td>
                        </tr>
                        <tr>
                            <td>2.</td>
                            <td>3GLO002-037001-63</td>
                            <td>J1-037001 鍍前檢(量產)(OF-0120)</td>
                            <td>Ø10*3.952</td>
                            <td class="text-center active-content">
                                <div class="btn-group mb-4 show" style="margin-bottom: 0 !important; position: static;">
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-so-id="2" style="padding-top: 0; padding-bottom: 0;">動作</button>
                                    <div class="dropdown-menu btn-text-left-block" data-so-id="2" style="overflow-y: auto; z-index: 999; max-height: 150px;">
                                        <a class="dropdown-item btn-text-left" href="javascript:void(0);"><i class="fas fa-eye"></i>查看</a>
                                        <a class="dropdown-item btn-text-left" href="javascript:void(0);"><i class="fas fa-edit"></i>修改</a>
                                    </div>
                                </div>
                            </td>
                            <td>M 自製件</td>
                            <td>103-半成品</td>
                            <td>204-模造</td>
                            <td>342-模造鏡片</td>
                            <td>4706-鍍前檢</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>3GLO002-037001-31</td>
                            <td>J1-037001 芯取(量產)(OF-0120)</td>
                            <td>Ø10*3.952</td>
                            <td class="text-center active-content">
                                <div class="btn-group mb-4 show" style="margin-bottom: 0 !important; position: static;">
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-so-id="3" style="padding-top: 0; padding-bottom: 0;">動作</button>
                                    <div class="dropdown-menu btn-text-left-block" data-so-id="3" style="overflow-y: auto; z-index: 999; max-height: 150px;">
                                        <a class="dropdown-item btn-text-left" href="javascript:void(0);"><i class="fas fa-eye"></i>查看</a>
                                        <a class="dropdown-item btn-text-left" href="javascript:void(0);"><i class="fas fa-edit"></i>修改</a>
                                    </div>
                                </div>
                            </td>
                            <td>M 自製件</td>
                            <td>103-半成品</td>
                            <td>204-模造</td>
                            <td>342-模造鏡片</td>
                            <td>4703-芯取</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="mtlItem" class="rd-container platform-content platform-list" style="display: none;">
    <div class="row mtl-demand">
        <div class="mtl-demand-title">
            <h1>需求單號: D202401001</h1>
            <span>需求日期: 2024-01-12</span>
            <span>部門/客戶: A001 先進光電</span>
            <span>需求描述: 開發TEST</span>
        </div>
    </div>
    <div class="rd-content">
        <h1>產品結構</h1>
        <!--階層內容-->
        <div class="hierarchy">
            <div class="table-container">
                <div class="table-row heading">
                    <div class="row-item" style="flex:3;">品號</div>
                    <div class="row-item" style="flex:2;">品名</div>
                    <div class="row-item">規格</div>
                    <div class="row-item">組成用量</div>
                    <div class="row-item">底數</div>
                    <div class="row-item">動作</div>
                </div>
                <div id="tblMtlItemData@(itemName)" class="table-body">
                    <div data-level="1" class="table-row">
                        <div class="column-sub-container" style="flex:3;">
                            <div id="desMainMtlItemNo@(itemName)" class="row-item" style="justify-content: flex-start;padding-left:15px;">
                                3A11待編輯-2402-???
                            </div>
                        </div>
                        <div id="desMainMtlItemName@(itemName)" class="row-item" style="flex:2;">

                        </div>
                        <div id="desMainMtlItemSpec@(itemName)" class="row-item">

                        </div>
                        <div class="row-item">-</div>
                        <div class="row-item">-</div>
                        <div class="row-item">
                            <a href="#" class="action-icon add02">
                                <i class="fas fa-save"></i>
                            </a>
                            <a href="javascript: OpenEditModal@(itemName)('3A11待編輯-2402-???');" class="action-icon add02">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="javascript: PopEditBom('1', '3A11待編輯-2402-???');" class="action-icon add02">
                                <i class="fas fa-plus"></i>
                            </a>
                            <a href="#" class="action-icon add02">
                                <i class="far fa-clone"></i>
                            </a>
                            <a href="javascript: Drawing@(itemName)();" class="action-icon">
                                <i class="fas fa-image"></i>
                            </a>
                        </div>
                    </div>

                    @*<div data-level="2" class="table-row">
                            <div class="column-sub-container" style="flex:3;">
                                <div class="row-item row-icon row-icon-main">
                                    <i class="far fa-level-up"></i>
                                </div>
                                <div class="row-item" style="justify-content: flex-start;">第二層3Y35E005-2307-1101213</div>
                            </div>
                            <div class="row-item" style="flex:2;">頂針底板 8CAV-D16CORE-LBX-D01-108</div>
                            <div class="row-item">7.9*21.9</div>
                            <div class="row-item">2PCS</div>
                            <div class="row-item">1</div>
                            <div class="row-item">
                                <a href="#" class="action-icon add02">
                                    <i class="fas fa-plus"></i>
                                </a>
                                <a href="#" class="action-icon add02">
                                    <i class="far fa-clone"></i>
                                </a>
                                <a href="#" class="action-icon add02">
                                    <i class="fas fa-image"></i>
                                </a>
                            </div>
                        </div>

                        <div class="table-row level03">
                            <div class="column-sub-container" style="flex:3;">
                                <div class="row-item row-icon row-icon-sub">
                                    <i class="fal fa-minus"></i>
                                </div>
                                <div class="row-item row-icon row-icon-main">
                                    <i class="far fa-level-up"></i>
                                </div>
                                <div class="row-item" style="justify-content: flex-start;">
                                    <div class="input-group">
                                        <input type="hidden" id="txtMtlItemIdSaleOrderDetail" name="txtMtlItemIdSaleOrderDetail" value="36920">
                                        <input type="text" class="form-control" id="txtMtlItemSaleOrderDetail">
                                        <div class="input-group-append">
                                            <div class="btn-group">
                                                <a class="btn btn-success" href="javascript:void(0);" onclick="">
                                                    <i class="fas fa-search"></i>
                                                </a>
                                                <a class="btn btn-warning" href="#" id="btn-new">
                                                    <i class="fas fa-plus"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row-item" style="flex:2;">
                                -
                            </div>
                            <div class="row-item">
                                -
                            </div>
                            <div class="row-item">
                                <div class="form-group row">
                                    <div class="col-12 ">
                                        <input type="text" class="form-control" id="" name="" placeholder="請輸入組成用量" data-msg-maxlength="必須少於 30 個字元" maxlength="30">
                                    </div>
                                </div>
                            </div>
                            <div class="row-item">
                                <div class="form-group row">
                                    <div class="col-12 ">
                                        <input type="text" class="form-control" id="" name="" placeholder="請輸入底數" data-msg-maxlength="必須少於 30 個字元" maxlength="30">
                                    </div>
                                </div>
                            </div>
                            <div class="row-item">
                                <a href="#" class="action-icon add02">
                                    <i class="fas fa-plus"></i>
                                </a>
                                <a href="#" class="action-icon add02">
                                    <i class="far fa-clone"></i>
                                </a>
                                <a href="#" class="action-icon add02">
                                    <i class="fas fa-image"></i>
                                </a>
                            </div>
                        </div>

                        <div data-level="3" class="table-row">
                            <div class="column-sub-container" style="flex:3;">
                                <div class="row-item row-icon row-icon-sub">
                                    <i class="fal fa-minus"></i>
                                </div>
                                <div class="row-item row-icon row-icon-main">
                                    <i class="far fa-level-up"></i>
                                </div>
                                <div class="row-item" style="justify-content: flex-start;">第三層3Y35E005-2307-1101213</div>
                            </div>
                            <div class="row-item" style="flex:2;">頂針底板 8CAV-D16CORE-LBX-D01-108</div>
                            <div class="row-item">8.9*21.9</div>
                            <div class="row-item">
                                <div class="form-group row">
                                    <div class="col-12 ">
                                        <input type="text" class="form-control" id="" name="" placeholder="" data-msg-maxlength="必須少於 30 個字元" maxlength="30" value="1PCS" disabled="disabled">
                                    </div>
                                </div>
                            </div>
                            <div class="row-item">
                                <div class="form-group row">
                                    <div class="col-12 ">
                                        <input type="text" class="form-control" id="" name="" placeholder="" data-msg-maxlength="必須少於 30 個字元" maxlength="30" value="1" disabled="disabled">
                                    </div>
                                </div>
                            </div>
                            <div class="row-item">
                                <a href="#" class="action-icon add02">
                                    <i class="fas fa-plus"></i>
                                </a>
                                <a href="#" class="action-icon add02">
                                    <i class="far fa-clone"></i>
                                </a>
                                <a href="#" class="action-icon add02">
                                    <i class="fas fa-image"></i>
                                </a>
                                <a href="#" class="action-icon add02">
                                    <i class="fas fa-sitemap"></i>
                                </a>
                            </div>
                        </div>

                        <div data-level="4" class="table-row">
                            <div class="column-sub-container" style="flex:3;">
                                <div class="row-item row-icon row-icon-sub">
                                    <i class="fal fa-minus"></i>
                                </div>
                                <div class="row-item row-icon row-icon-sub">
                                    <i class="fal fa-minus"></i>
                                </div>
                                <div class="row-item row-icon row-icon-main">
                                    <i class="far fa-level-up"></i>
                                </div>
                                <div class="row-item row-icon row-icon-main">
                                    <i class="fas fa-caret-square-down"></i>
                                </div>
                                <div class="row-item" style="justify-content: flex-start;">第四層3Y35E005-2307-1101213</div>
                            </div>
                            <div class="row-item" style="flex:2;">頂針底板 8CAV-D16CORE-LBX-D01-108</div>
                            <div class="row-item">7.9*21.9</div>
                            <div class="row-item">
                                <div class="form-group row">
                                    <div class="col-12 ">
                                        <input type="text" class="form-control" id="" name="" placeholder="" data-msg-maxlength="必須少於 30 個字元" maxlength="30" value="1PCS">
                                    </div>
                                </div>
                            </div>
                            <div class="row-item">
                                <div class="form-group row">
                                    <div class="col-12 ">
                                        <input type="text" class="form-control" id="" name="" placeholder="" data-msg-maxlength="必須少於 30 個字元" maxlength="30" value="1">
                                    </div>
                                </div>
                            </div>
                            <div class="row-item">
                                <a href="#" class="action-icon add02">
                                    <i class="fas fa-plus"></i>
                                </a>
                                <a href="#" class="action-icon add02">
                                    <i class="far fa-clone"></i>
                                </a>
                                <a href="#" class="action-icon add02">
                                    <i class="fas fa-image"></i>
                                </a>
                                <a href="#" class="action-icon add02">
                                    <i class="fas fa-sitemap"></i>
                                </a>
                            </div>

                        </div>

                        <div data-level="5" class="table-row level05">
                            <div class="column-sub-container" style="flex:3;">
                                <div class="row-item row-icon row-icon-sub">
                                    <i class="fal fa-minus"></i>
                                </div>
                                <div class="row-item row-icon row-icon-sub">
                                    <i class="fal fa-minus"></i>
                                </div>
                                <div class="row-item row-icon row-icon-sub">
                                    <i class="fal fa-minus"></i>
                                </div>
                                <div class="row-item row-icon row-icon-main">
                                    <i class="far fa-level-up"></i>
                                </div>

                                <div class="row-item" style="justify-content: flex-start;">第五層3Y35E005-2307-1101213</div>
                            </div>
                            <div class="row-item" style="flex:2;">頂針底板 8CAV-D16CORE-LBX-D01-108</div>
                            <div class="row-item">7.9*21.9</div>
                            <div class="row-item">
                                <div class="form-group row">
                                    <div class="col-12 ">
                                        <input type="text" class="form-control" id="" name="" placeholder="" data-msg-maxlength="必須少於 30 個字元" maxlength="30" value="1PCS">
                                    </div>
                                </div>
                            </div>
                            <div class="row-item">
                                <div class="form-group row">
                                    <div class="col-12 ">
                                        <input type="text" class="form-control" id="" name="" placeholder="" value="1">
                                    </div>
                                </div>
                            </div>
                            <div class="row-item">
                                <a href="#" class="action-icon add02">
                                    <i class="fas fa-plus"></i>
                                </a>
                                <a href="#" class="action-icon add02">
                                    <i class="far fa-clone"></i>
                                </a>
                            </div>
                        </div>
                        <div data-level="5" class="table-row level05">
                            <div class="column-sub-container" style="flex:3;">
                                <div class="row-item row-icon row-icon-sub">
                                    <i class="fal fa-minus"></i>
                                </div>
                                <div class="row-item row-icon row-icon-sub">
                                    <i class="fal fa-minus"></i>
                                </div>
                                <div class="row-item row-icon row-icon-sub">
                                    <i class="fal fa-minus"></i>
                                </div>
                                <div class="row-item row-icon row-icon-main">
                                    <i class="far fa-level-up"></i>
                                </div>

                                <div class="row-item" style="justify-content: flex-start;">第五層3Y35E005-2307-1101213</div>
                            </div>
                            <div class="row-item" style="flex:2;">頂針底板 8CAV-D16CORE-LBX-D01-108</div>
                            <div class="row-item">7.9*21.9</div>
                            <div class="row-item">
                                <div class="form-group row">
                                    <div class="col-12 ">
                                        <input type="text" class="form-control" id="" name="" placeholder="" data-msg-maxlength="必須少於 30 個字元" maxlength="30" value="1PCS">
                                    </div>
                                </div>
                            </div>
                            <div class="row-item">
                                <div class="form-group row">
                                    <div class="col-12 ">
                                        <input type="text" class="form-control" id="" name="" placeholder="" value="1">
                                    </div>
                                </div>
                            </div>
                            <div class="row-item">
                                <a href="#" class="action-icon add02">
                                    <i class="fas fa-plus"></i>
                                </a>
                                <a href="#" class="action-icon add02">
                                    <i class="far fa-clone"></i>
                                </a>
                            </div>
                        </div>
                        <div data-level="5" class="table-row level05">
                            <div class="column-sub-container" style="flex:3;">
                                <div class="row-item row-icon row-icon-sub">
                                    <i class="fal fa-minus"></i>
                                </div>
                                <div class="row-item row-icon row-icon-sub">
                                    <i class="fal fa-minus"></i>
                                </div>
                                <div class="row-item row-icon row-icon-sub">
                                    <i class="fal fa-minus"></i>
                                </div>
                                <div class="row-item row-icon row-icon-main">
                                    <i class="far fa-level-up"></i>
                                </div>

                                <div class="row-item" style="justify-content: flex-start;">第五層3Y35E005-2307-1101213</div>
                            </div>
                            <div class="row-item" style="flex:2;">頂針底板 8CAV-D16CORE-LBX-D01-108</div>
                            <div class="row-item">7.9*21.9</div>
                            <div class="row-item">
                                <div class="form-group row">
                                    <div class="col-12 ">
                                        <input type="text" class="form-control" id="" name="" placeholder="" data-msg-maxlength="必須少於 30 個字元" maxlength="30" value="1PCS">
                                    </div>
                                </div>
                            </div>
                            <div class="row-item">
                                <div class="form-group row">
                                    <div class="col-12 ">
                                        <input type="text" class="form-control" id="" name="" placeholder="" value="1">
                                    </div>
                                </div>
                            </div>
                            <div class="row-item">
                                <a href="#" class="action-icon add02">
                                    <i class="fas fa-plus"></i>
                                </a>
                                <a href="#" class="action-icon add02">
                                    <i class="far fa-clone"></i>
                                </a>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 編輯資料 -->
<div class="modal fade" id="modalEdit@(itemName)">
    <div class="modal-dialog modal-lg" style="padding-top:7%;">
        <div class="modal-content working-content" style="min-width:350px;">
            <div class="modal-header" style="align-items: center;">
                <h5 class="modal-title">
                    編輯資料
                    <span class="sub-title">目前階層: <span class="sub-text" id="desLevel@(itemName)">1</span></span>
                </h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body edit-body">
                <div class="row" id=" ">
                    <div class="col-12">
                        <form autocomplete="off" id="editForm@(itemName)">
                            <fieldset>
                                <div class="col-12">
                                    <a class="btn btn-collapse" data-toggle="collapse" id="colItemTypeBottom" href="#colItemType" role="button" aria-expanded="false" aria-controls="colItemType">
                                        <span><i class="fas fa-clipboard"></i>品號編碼</span>
                                        <i class="fas fa-chevron-down"></i>
                                    </a>
                                    <div class="collapse table-custom show" id="colItemType">
                                        <div class="card card-body">
                                            <div class="col-12">
                                                <div class="form-group row" style="border:none;">
                                                    <label class="col-12 col-form-label" style="display: flex; justify-content: space-between;line-height:1;">品號</label>
                                                    <div class="col-12">
                                                        <input type="text" class="form-control" id="txtMtlItemNo@(itemName)" name="" placeholder="請輸入品號" readonly required />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group row" style="border:none;">
                                                    <label class="col-12 col-form-label" style="display: flex; justify-content: space-between;line-height:1;">品名</label>
                                                    <div class="col-12">
                                                        <input type="text" class="form-control" id="txtMtlItemName@(itemName)" name="txtMtlItemName@(itemName)" placeholder="請輸入品名" required />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group row" style="border:none;">
                                                    <label class="col-12 col-form-label" style="display: flex; justify-content: space-between;line-height:1;">規格</label>
                                                    <div class="col-12">
                                                        <input type="text" class="form-control" id="txtMtlItemSpec@(itemName)" name="txtMtlItemSpec@(itemName)" placeholder="請輸入規格" required />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group row" style="border:none;">
                                                    <label class="col-12 col-form-label" style="display: flex; justify-content: space-between;line-height:1;">排序1:固定值 <span class="text-danger" style="font-size: 12px">是否要加後綴碼: 不要</span></label>
                                                    <div class="col-12">
                                                        <input type="text" class="form-control" id="" name="" placeholder="請輸入固定值" value="3A11" readonly />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group row" style="border:none;">
                                                    <label class="col-12 col-form-label" style="display: flex; justify-content: space-between;line-height:1;">排序2:編碼節段值 <span class="text-danger" style="font-size: 12px">是否要加後綴碼: 要</span></label>
                                                    <div class="col-12">
                                                        <select id="cboSegmentType@(itemName)" class="form-control" required>
                                                            <option selected="">請選擇</option>
                                                            <option value="A002">A002-海華科技</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group row" style="border:none;">
                                                    <label class="col-12 col-form-label" style="display: flex; justify-content: space-between;line-height:1;">排序3:日期 <span class="text-danger" style="font-size: 12px">是否要加後綴碼: 要</span></label>
                                                    <div class="col-12">
                                                        <input type="text" class="form-control" id="" name="" placeholder="請輸入固定值"
                                                               data-msg-required="請輸入固定值" data-rule-required="true" value="2402" readonly />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="form-group row" style="border:none;">
                                                    <label class="col-12 col-form-label" style="display: flex; justify-content: space-between;line-height:1;">排序4:流水號碼數 <span class="text-danger" style="font-size: 12px">是否要加後綴碼: 不要</span></label>
                                                    <div class="col-12">
                                                        <input type="text" class="form-control" id="" name="" placeholder="請輸入固定值"
                                                               data-msg-required="請輸入固定值" data-rule-required="true" value="3" readonly />
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>

                    </div>
                </div>
            </div>
            <div class="card-footer text-right text-lg-right">
                <button type="button" class="btn btn-success" onclick="SaveEditMtlItem@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

@Html.Partial("Drawing")
@Html.Partial("Routing")
@Html.Partial("ViewMtlItem")
@Html.Partial("EditBom")

@Html.Resource("js",
    @<script>
        let objForm@(itemName) = "#editForm@(itemName)";

        let mtlItemJson =
        {
            mtlItemInfo: []
        };

        $(document).ready(function () {
            //$(`.table-row[data-level]`).show();
            //$(`.table-row[data-level]`).data("status", true);

            $(".dropdown-toggle").off("click").on("click", function () {
                let soId = $(this).data("so-id");

                if ($(`.dropdown-menu[data-so-id='${soId}']`).hasClass("show")) {
                    $(".dropdown-menu").removeClass("show");
                } else {
                    $(".dropdown-menu").removeClass("show");

                    $(`.dropdown-menu[data-so-id='${soId}']`).addClass("show");
                    $(`.dropdown-menu[data-so-id='${soId}']`).css({
                        top: `${$(this).position().top + $(this).height() + 5}px`,
                        left: `${$(this).position().left - $(this).width() + 38}px`
                    });
                }
            });

            $("body").off("click").on("click", function (e) {
                if ($(".dropdown-menu").hasClass("show")) {
                    if (!$(e.target).hasClass("dropdown-toggle")
                        && !$(e.target).parents().hasClass("dropdown-toggle")) {
                        $(".dropdown-menu").removeClass("show");
                    }
                }
            });

            $(".add02").on("click", function (event) {
                $(".table-row.level03").addClass("active");
            });

            $("#btn-new").click(function () {
                $("#edit@(itemName)").slideDown("slow");
                $('html, body').animate({
                    scrollTop: $("#edit@(itemName)").offset().top
                }, 1000);
            });

            $('.fa-caret-square-down').on('click', function () {
                $('.level05').toggleClass('active')
                $('.fa-caret-square-down').toggleClass('rotate')
            })
        });

        function Expand@(itemName)(DemandId, ItemTypeId) {
            $(".platform-content").hide();
            sidebar.unselect();

            $(`#mtlItem`).show();
            sidebar.select("@itemList");

            Init@(itemName)();
        }

        function Init@(itemName)() {
            //隱藏新增頁面
            $("#edit@(itemName)").hide();

            //搜尋此需求底下所有品號及BOM階資料
            GetMtlItem@(itemName)();
        }

        function GetMtlItem@(itemName)() {
            let a = 1;

            if (a == 1) {
                //若已建立好第一層
            }
            else {
                //若還沒建立好第一層

            }
        }

        function Add@(itemName)() {
            //新增主品號 => 若原先已有主品號，另外展一個新的在下方

        }

        function Duplicate@(itemName)() {

        }

        function Drawing@(itemName)() {
            window.open('@Url.Action("RandDWorkingPlatform", "WorkingPlatform", new { OpenDrawingFlag = "Y" })')
            //ExpandDrawing();
        }

        function OpenEditModal@(itemName)(mtlItemNo) {
            $("#modalEdit@(itemName)").modal("show");
            $("#txtMtlItemNo@(itemName)").val(mtlItemNo);

            $("#cboSegmentType@(itemName)").change(function (i, item) {
                let segmentType = $(this).val();
                let mtlItemNo = $("#txtMtlItemNo@(itemName)").val();
                mtlItemNo = mtlItemNo.replace("待編輯", segmentType);
                $("#txtMtlItemNo@(itemName)").val(mtlItemNo);
            });
        }

        function SaveEditMtlItem@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let mtlItemNo = $("#txtMtlItemNo@(itemName)").val();
                let mtlItemName = $("#txtMtlItemName@(itemName)").val();
                let mtlItemSpec = $("#txtMtlItemSpec@(itemName)").val();
                $("#desMainMtlItemNo@(itemName)").html(mtlItemNo);
                $("#desMainMtlItemName@(itemName)").html(mtlItemName);
                $("#desMainMtlItemSpec@(itemName)").html(mtlItemSpec);
                $("#modalEdit@(itemName)").modal("hide");
            }
        }
    </script>
                        )