@using Business_Manager.Helpers
@{
    string itemName = "SalesWorkingPlatform";
    string itemNameText = "業務工作平台";
    string itemSoList = "SoList";
    string itemDeliveryFinalizeList = "DeliveryFinalizeList";
    string itemTsnList = "TsnList";
    string authority = ViewBag.authority;

    ViewBag.Title = itemNameText;

    string dateCache = DateTime.Now.ToString("MMddmmss");
}

@Html.Resource("css",
    @<link href="@Url.Content("~/Content/demand.min.css")?@dateCache" rel="stylesheet" />
        )

@Html.Resource("css",
    @<style>
    </style>
        )

<input type="hidden" id="pageAuthority" value="@authority" />



<div class="modal fade" id="modalQuery@(itemSoList)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemSoList)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtDemandNoQ@(itemSoList)">需求單號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtDemandNoQ@(itemSoList)" name="txtDemandNoQ@(itemSoList)" placeholder="請輸入需求單號" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboDemandCustomerQ@(itemSoList)">需求客戶</label>
                            <div class="col-12">
                                <select class="form-control" id="cboDemandCustomerQ@(itemSoList)" name="cboDemandCustomerQ@(itemSoList)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">統計時間 <input type="checkbox" id="cbxUseDate@(itemSoList)" /></label>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtStartDateQ@(itemSoList)" name="txtStartDateQ@(itemSoList)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtEndDateQ@(itemSoList)" name="txtEndDateQ@(itemSoList)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">狀態</label>
                            <div class="col-lg-4 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    待處理
                                    <input type="checkbox" id="cbxStatusQ@(itemSoList)PB" name="cbxStatusQ@(itemSoList)" value="B" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    進行中
                                    <input type="checkbox" id="cbxStatusQ@(itemSoList)I" name="cbxStatusQ@(itemSoList)" value="I" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-4 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    已完成
                                    <input type="checkbox" id="cbxStatusQ@(itemSoList)C" name="cbxStatusQ@(itemSoList)" value="C" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemSoList)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<section class="platform-wrapper">
    <div class="platform-sidebar" id="sidebar"></div>


    <div class="platform-container">
        <div class="platform-title">@(itemNameText)</div>
        <div class="platform-body">
            <div class="platform-content" id="demandDashboard">
                <div class="platform-flow-container">
                    <div class="flow-body">
                        <div class="flow-card">
                            <div class="flow-info">
                                <img src="/Content/images/flow-10.png" />
                                <span class="flow-name">訂單建立</span>
                            </div>
                            <div class="flow-status">
                                <span class="flow-count flow-count-backlog"><span>待確認：</span><a href="javascript:void(0);">2</a></span>
                                <span class="flow-count flow-count-in-progress"><span>進行中：</span><a href="javascript:void(0);">5</a></span>
                                <span class="flow-count flow-count-completed"><span>已完成：</span><a href="javascript:void(0);">10</a></span>
                                <span class="flow-remark">統計時間 8/1 ~ 8/31</span>
                            </div>
                        </div>
                        <div class="flow-card">
                            <div class="flow-info">
                                <img src="/Content/images/flow-03.png" />
                                <span class="flow-name">出貨定版</span>
                            </div>
                            <div class="flow-status">
                                <span class="flow-count flow-count-backlog"><span>待確認：</span><a href="javascript:void(0);">2</a></span>
                                <span class="flow-count flow-count-in-progress"><span>進行中：</span><a href="javascript:void(0);">5</a></span>
                                <span class="flow-count flow-count-completed"><span>已完成：</span><a href="javascript:void(0);">10</a></span>
                                <span class="flow-remark">統計時間 8/1 ~ 8/31</span>
                            </div>
                        </div>
                        <div class="flow-card">
                            <div class="flow-info">
                                <img src="/Content/images/flow-01.png" />
                                <span class="flow-name">暫出單/銷貨單建立</span>
                            </div>
                            <div class="flow-status">
                                <span class="flow-count flow-count-backlog"><span>待確認：</span><a href="javascript:void(0);">2</a></span>
                                <span class="flow-count flow-count-in-progress"><span>進行中：</span><a href="javascript:void(0);">5</a></span>
                                <span class="flow-count flow-count-completed"><span>已完成：</span><a href="javascript:void(0);">10</a></span>
                                <span class="flow-remark">統計時間 8/1 ~ 8/31</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="platform-demand-list">
                    <div class="row mb-3">
                        <div class="col-6 col-sm-6 col-md-6">
                            <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery" href="javascript:void(0);">
                                <i class="fal fa-search"></i>搜尋
                            </a>
                        </div>
                        <div class="col-6 col-sm-6 col-md-6 text-right"></div>
                    </div>
                    <div class="row demand-so-list">
                        <div class="col-12">
                            <div class="table-custom demand-list">
                                <table class="table table-bordered table-striped table-sticky tiny-table" id="tblData@(itemSoList)">
                                    <thead>
                                        <tr>
                                            <th scope="col" style="min-width: 50px;">#</th>
                                            <th scope="col" style="min-width: 100px;">需求單號</th>
                                            <th scope="col" style="min-width: 175px;">需求描述</th>
                                            <th scope="col" style="min-width: 100px;">需求日期</th>
                                            <th scope="col" style="min-width: 100px;">截止日期</th>
                                            <th scope="col" style="min-width: 150px;">客戶</th>
                                            <th style="padding: 0; min-width: 550px;">
                                                <table class="table table-bordered table-sm mb-0 table-non-rwd table-striped-custom table-row-detail">
                                                    <thead>
                                                        <tr>
                                                            <th style="width: 100px">
                                                                <label class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input" checked />
                                                                    <span class="custom-control-indicator"></span>
                                                                    <span class="custom-control-description"></span>
                                                                </label>
                                                            </th>
                                                            <th style="width: 150px;">品號</th>
                                                            <th style="width: 175px;">品名</th>
                                                            <th style="width: 125px;">規格</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="demand-backlog">
                                            <td>1.</td>
                                            <td>D202307001</td>
                                            <td>系統測試</td>
                                            <td>2023-07-26</td>
                                            <td>2023-08-31</td>
                                            <td>J002 東莞晶彩</td>
                                            <td style="padding: 0;">
                                                <table class="table table-bordered table-sm mb-0 table-non-rwd table-striped-custom table-row-detail">
                                                    <tbody>
                                                        <tr>
                                                            <td style="width: 100px;">
                                                                <label class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input" checked />
                                                                    <span class="custom-control-indicator"></span>
                                                                    <span class="custom-control-description"></span>
                                                                </label>
                                                            </td>
                                                            <td class="ellipsis" data-toggle="tooltip" title="3T15J002-2305-140" style="width: 150px; max-width: 150px;">3T15J002-2305-140</td>
                                                            <td class="ellipsis" data-toggle="tooltip" title="內套筒 35BF16X-R3" style="width: 175px; max-width: 175px;">內套筒 35BF16X-R3</td>
                                                            <td class="ellipsis" data-toggle="tooltip" title="Ø42*23.5" style="width: 125px; max-width: 125px;">Ø42*23.5</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr class="demand-in-progress">
                                            <td>2.</td>
                                            <td>D202307001</td>
                                            <td>系統測試</td>
                                            <td>2023-07-26</td>
                                            <td>2023-08-31</td>
                                            <td>J002 東莞晶彩</td>
                                            <td style="padding: 0;">
                                                <table class="table table-bordered table-sm mb-0 table-non-rwd table-striped-custom table-row-detail">
                                                    <tbody>
                                                        <tr>
                                                            <td style="width: 100px;">
                                                                <label class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input" checked />
                                                                    <span class="custom-control-indicator"></span>
                                                                    <span class="custom-control-description"></span>
                                                                </label>
                                                            </td>
                                                            <td class="ellipsis" data-toggle="tooltip" title="3T15J002-2305-140" style="width: 150px; max-width: 150px;">3T15J002-2305-140</td>
                                                            <td class="ellipsis" data-toggle="tooltip" title="內套筒 35BF16X-R3" style="width: 175px; max-width: 175px;">內套筒 35BF16X-R3</td>
                                                            <td class="ellipsis" data-toggle="tooltip" title="Ø42*23.5" style="width: 125px; max-width: 125px;">Ø42*23.5</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr class="demand-completed">
                                            <td>3.</td>
                                            <td>D202307001</td>
                                            <td>系統測試</td>
                                            <td>2023-07-26</td>
                                            <td>2023-08-31</td>
                                            <td>J002 東莞晶彩</td>
                                            <td style="padding: 0;">
                                                <table class="table table-bordered table-sm mb-0 table-non-rwd table-striped-custom table-row-detail">
                                                    <tbody>
                                                        <tr>
                                                            <td style="width: 100px;">
                                                                <label class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input" checked />
                                                                    <span class="custom-control-indicator"></span>
                                                                    <span class="custom-control-description"></span>
                                                                </label>
                                                            </td>
                                                            <td class="ellipsis" data-toggle="tooltip" title="3T15J002-2305-140" style="width: 150px; max-width: 150px;">3T15J002-2305-140</td>
                                                            <td class="ellipsis" data-toggle="tooltip" title="內套筒 35BF16X-R3" style="width: 175px; max-width: 175px;">內套筒 35BF16X-R3</td>
                                                            <td class="ellipsis" data-toggle="tooltip" title="Ø42*23.5" style="width: 125px; max-width: 125px;">Ø42*23.5</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="pagination" id="page@(itemSoList)"></div>
                        </div>
                    </div>
                    <div class="row demand-delivery-finalize-list">
                        <div class="col-12">
                            <div class="table-custom demand-list">
                                <table class="table table-bordered table-striped table-sticky tiny-table" id="tblData@(itemDeliveryFinalizeList)">
                                    <thead>
                                        <tr>
                                            <th scope="col" style="min-width: 50px;">#</th>
                                            <th scope="col" style="min-width: 100px;">需求單號</th>
                                            <th scope="col" style="min-width: 175px;">需求描述</th>
                                            <th scope="col" style="min-width: 100px;">需求日期</th>
                                            <th scope="col" style="min-width: 100px;">截止日期</th>
                                            <th scope="col" style="min-width: 150px;">客戶</th>
                                            <th style="padding: 0; min-width: 1080px;">
                                                <table class="table table-bordered table-sm mb-0 table-non-rwd table-striped-custom table-row-detail">
                                                    <thead>
                                                        <tr>
                                                            <th style="width: 100px">
                                                                <label class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input" checked />
                                                                    <span class="custom-control-indicator"></span>
                                                                    <span class="custom-control-description"></span>
                                                                </label>
                                                            </th>
                                                            <th style="width: 180px">訂單單號</th>
                                                            <th style="width: 100px">訂單數量</th>
                                                            <th style="width: 100px">訂單欠數</th>
                                                            <th style="width: 150px;">品號</th>
                                                            <th style="width: 175px;">品名</th>
                                                            <th style="width: 125px;">規格</th>
                                                            <th style="width: 150px;">排定交貨日</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="demand-backlog">
                                            <td>1.</td>
                                            <td>D202307001</td>
                                            <td class="ellipsis" data-toggle="tooltip" title="系統測試" style="max-width: 175px;">系統測試</td>
                                            <td>2023-07-26</td>
                                            <td>2023-08-31</td>
                                            <td>J002 東莞晶彩</td>
                                            <td style="padding: 0;">
                                                <table class="table table-bordered table-sm mb-0 table-non-rwd table-striped-custom table-row-detail">
                                                    <tbody>
                                                        <tr>
                                                            <td style="width: 100px;">
                                                                <label class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input" checked />
                                                                    <span class="custom-control-indicator"></span>
                                                                    <span class="custom-control-description"></span>
                                                                </label>
                                                            </td>
                                                            <td style="width: 180px;">2201-20230825001-0001</td>
                                                            <td style="width: 100px;">20</td>
                                                            <td style="width: 100px;"><span class="text-danger">10</span></td>
                                                            <td class="ellipsis" data-toggle="tooltip" title="3T15J002-2305-140" style="width: 150px; max-width: 150px;">3T15J002-2305-140</td>
                                                            <td class="ellipsis" data-toggle="tooltip" title="內套筒 35BF16X-R3" style="width: 175px; max-width: 175px;">內套筒 35BF16X-R3</td>
                                                            <td class="ellipsis" data-toggle="tooltip" title="Ø42*23.5" style="width: 125px; max-width: 125px;">Ø42*23.5</td>
                                                            <td style="width: 150px;">
                                                                <a href="javascript:void(0);"><i class="fas fa-calendar-edit"></i> 2023-08-25 00:00</a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr class="demand-in-progress">
                                            <td>2.</td>
                                            <td>D202307001</td>
                                            <td class="ellipsis" data-toggle="tooltip" title="系統測試" style="max-width: 175px;">系統測試</td>
                                            <td>2023-07-26</td>
                                            <td>2023-08-31</td>
                                            <td>J002 東莞晶彩</td>
                                            <td style="padding: 0;">
                                                <table class="table table-bordered table-sm mb-0 table-non-rwd table-striped-custom table-row-detail">
                                                    <tbody>
                                                        <tr>
                                                            <td style="width: 100px;">
                                                                <label class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input" checked />
                                                                    <span class="custom-control-indicator"></span>
                                                                    <span class="custom-control-description"></span>
                                                                </label>
                                                            </td>
                                                            <td style="width: 180px;">2201-20230825001-0001</td>
                                                            <td style="width: 100px;">20</td>
                                                            <td style="width: 100px;"><span class="text-danger">10</span></td>
                                                            <td class="ellipsis" data-toggle="tooltip" title="3T15J002-2305-140" style="width: 150px; max-width: 150px;">3T15J002-2305-140</td>
                                                            <td class="ellipsis" data-toggle="tooltip" title="內套筒 35BF16X-R3" style="width: 175px; max-width: 175px;">內套筒 35BF16X-R3</td>
                                                            <td class="ellipsis" data-toggle="tooltip" title="Ø42*23.5" style="width: 125px; max-width: 125px;">Ø42*23.5</td>
                                                            <td style="width: 150px;">
                                                                <a href="javascript:void(0);"><i class="fas fa-calendar-edit"></i> 2023-08-25 00:00</a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr class="demand-completed">
                                            <td>3.</td>
                                            <td>D202307001</td>
                                            <td class="ellipsis" data-toggle="tooltip" title="系統測試" style="max-width: 175px;">系統測試</td>
                                            <td>2023-07-26</td>
                                            <td>2023-08-31</td>
                                            <td>J002 東莞晶彩</td>
                                            <td style="padding: 0;">
                                                <table class="table table-bordered table-sm mb-0 table-non-rwd table-striped-custom table-row-detail">
                                                    <tbody>
                                                        <tr>
                                                            <td style="width: 100px;">
                                                                <label class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input" checked />
                                                                    <span class="custom-control-indicator"></span>
                                                                    <span class="custom-control-description"></span>
                                                                </label>
                                                            </td>
                                                            <td style="width: 180px;">2201-20230825001-0001</td>
                                                            <td style="width: 100px;">20</td>
                                                            <td style="width: 100px;">0</td>
                                                            <td class="ellipsis" data-toggle="tooltip" title="3T15J002-2305-140" style="width: 150px; max-width: 150px;">3T15J002-2305-140</td>
                                                            <td class="ellipsis" data-toggle="tooltip" title="內套筒 35BF16X-R3" style="width: 175px; max-width: 175px;">內套筒 35BF16X-R3</td>
                                                            <td class="ellipsis" data-toggle="tooltip" title="Ø42*23.5" style="width: 125px; max-width: 125px;">Ø42*23.5</td>
                                                            <td style="width: 150px;">
                                                                <a href="javascript:void(0);"><i class="fas fa-calendar-edit"></i> 2023-08-25 00:00</a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="pagination" id="page@(itemSoList)"></div>
                        </div>
                    </div>
                    <div class="row demand-tsn-list">
                        <div class="col-12">
                            <div class="table-custom demand-list">
                                <table class="table table-bordered table-striped table-sticky tiny-table" id="tblData@(itemTsnList)">
                                    <thead>
                                        <tr>
                                            <th scope="col" style="min-width: 50px;">#</th>
                                            <th scope="col" style="min-width: 100px;">需求單號</th>
                                            <th scope="col" style="min-width: 175px;">需求描述</th>
                                            <th scope="col" style="min-width: 100px;">需求日期</th>
                                            <th scope="col" style="min-width: 100px;">截止日期</th>
                                            <th scope="col" style="min-width: 150px;">客戶</th>
                                            <th style="padding: 0; min-width: 980px;">
                                                <table class="table table-bordered table-sm mb-0 table-non-rwd table-striped-custom table-row-detail">
                                                    <thead>
                                                        <tr>
                                                            <th style="width: 100px">
                                                                <label class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input" checked />
                                                                    <span class="custom-control-indicator"></span>
                                                                    <span class="custom-control-description"></span>
                                                                </label>
                                                            </th>
                                                            <th style="width: 100px">出貨客戶</th>
                                                            <th style="width: 150px;">品號</th>
                                                            <th style="width: 175px;">品名</th>
                                                            <th style="width: 100px">實揀數量</th>
                                                            <th style="width: 180px">訂單單號</th>
                                                            <th style="width: 175px">訂單備註</th>
                                                        </tr>
                                                    </thead>
                                                </table>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="demand-backlog">
                                            <td>1.</td>
                                            <td>D202307001</td>
                                            <td class="ellipsis" data-toggle="tooltip" title="系統測試" style="max-width: 175px;">系統測試</td>
                                            <td>2023-07-26</td>
                                            <td>2023-08-31</td>
                                            <td>J002 東莞晶彩</td>
                                            <td style="padding: 0;">
                                                <table class="table table-bordered table-sm mb-0 table-non-rwd table-striped-custom table-row-detail">
                                                    <tbody>
                                                        <tr>
                                                            <td style="width: 100px;">
                                                                <label class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input" checked />
                                                                    <span class="custom-control-indicator"></span>
                                                                    <span class="custom-control-description"></span>
                                                                </label>
                                                            </td>
                                                            <td style="width: 100px;">晶彩</td>
                                                            <td class="ellipsis" data-toggle="tooltip" title="3T15J002-2305-140" style="width: 150px; max-width: 150px;">3T15J002-2305-140</td>
                                                            <td class="ellipsis" data-toggle="tooltip" title="內套筒 35BF16X-R3" style="width: 175px; max-width: 175px;">內套筒 35BF16X-R3</td>
                                                            <td style="width: 100px;">
                                                                <a href="javascript:void(0);"><i class="fas fa-info-circle"></i></a>
                                                                <span class="text-danger">0</span>
                                                                /
                                                                <span style="font-weight: bold;">20</span>
                                                            </td>
                                                            <td style="width: 180px;">2201-20230825001-0001</td>
                                                            <td class="ellipsis" data-toggle="tooltip" title="退镍重镀" style="width: 175px; max-width: 175px;">退镍重镀</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr class="demand-in-progress">
                                            <td>1.</td>
                                            <td>D202307001</td>
                                            <td class="ellipsis" data-toggle="tooltip" title="系統測試" style="max-width: 175px;">系統測試</td>
                                            <td>2023-07-26</td>
                                            <td>2023-08-31</td>
                                            <td>J002 東莞晶彩</td>
                                            <td style="padding: 0;">
                                                <table class="table table-bordered table-sm mb-0 table-non-rwd table-striped-custom table-row-detail">
                                                    <tbody>
                                                        <tr>
                                                            <td style="width: 100px;">
                                                                <label class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input" checked />
                                                                    <span class="custom-control-indicator"></span>
                                                                    <span class="custom-control-description"></span>
                                                                </label>
                                                            </td>
                                                            <td style="width: 100px;">晶彩</td>
                                                            <td class="ellipsis" data-toggle="tooltip" title="3T15J002-2305-140" style="width: 150px; max-width: 150px;">3T15J002-2305-140</td>
                                                            <td class="ellipsis" data-toggle="tooltip" title="內套筒 35BF16X-R3" style="width: 175px; max-width: 175px;">內套筒 35BF16X-R3</td>
                                                            <td style="width: 100px;">
                                                                <a href="javascript:void(0);"><i class="fas fa-info-circle"></i></a>
                                                                <span class="text-warning">5</span>
                                                                /
                                                                <span style="font-weight: bold;">20</span>
                                                            </td>
                                                            <td style="width: 180px;">2201-20230825001-0001</td>
                                                            <td class="ellipsis" data-toggle="tooltip" title="退镍重镀" style="width: 175px; max-width: 175px;">退镍重镀</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr class="demand-completed">
                                            <td>1.</td>
                                            <td>D202307001</td>
                                            <td class="ellipsis" data-toggle="tooltip" title="系統測試" style="max-width: 175px;">系統測試</td>
                                            <td>2023-07-26</td>
                                            <td>2023-08-31</td>
                                            <td>J002 東莞晶彩</td>
                                            <td style="padding: 0;">
                                                <table class="table table-bordered table-sm mb-0 table-non-rwd table-striped-custom table-row-detail">
                                                    <tbody>
                                                        <tr>
                                                            <td style="width: 100px;">
                                                                <label class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input" checked />
                                                                    <span class="custom-control-indicator"></span>
                                                                    <span class="custom-control-description"></span>
                                                                </label>
                                                            </td>
                                                            <td style="width: 100px;">晶彩</td>
                                                            <td class="ellipsis" data-toggle="tooltip" title="3T15J002-2305-140" style="width: 150px; max-width: 150px;">3T15J002-2305-140</td>
                                                            <td class="ellipsis" data-toggle="tooltip" title="內套筒 35BF16X-R3" style="width: 175px; max-width: 175px;">內套筒 35BF16X-R3</td>
                                                            <td style="width: 100px;">
                                                                <a href="javascript:void(0);"><i class="fas fa-info-circle"></i></a>
                                                                <span class="text-success">20</span>
                                                                /
                                                                <span style="font-weight: bold;">20</span>
                                                            </td>
                                                            <td style="width: 180px;">2201-20230825001-0001</td>
                                                            <td class="ellipsis" data-toggle="tooltip" title="退镍重镀" style="width: 175px; max-width: 175px;">退镍重镀</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="pagination" id="page@(itemSoList)"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="platform-content platform-list" id="salesOrder">
                @Html.Partial("SalesOrder")
            </div>
            <div class="platform-content" id="orderChangeNote">
                @Html.Partial("OrderChangeNote")
            </div>
        </div>
    </div>
</section>


@Html.Resource("js",
        @<script>
             const sidebar = new dhx.Sidebar("sidebar", {
                 css: "",
                 width:75 ,
                 collapsed: false
             });

             let sidebarData = [
                 //{
                 //    id: "toggle",
                 //    css: "toggle-button",
                 //    icon: "fas fa-arrow-to-left"
                 //},
                 {
                     id: "demandDashboard",
                     value: "需求彙整",
                     icon: "fas fa-chart-pie",
                 },
                 {
                     id: "sales",
                     value: "銷售管理",
                     icon: "fas fa-handshake-alt",
                     items: [
                         {
                             id: "quotation",
                             value: "報價單"
                         },
                         {
                             id: "salesForecast",
                             value: "銷售預測"
                         },
                         {
                             id: "salesOrder",
                             value: "客戶訂單"
                         },
                         {
                             id: "orderChangeNote",
                             value: "訂單變更單"
                         },
                         {
                             id: "shippingOrder",
                             value: "銷貨單"
                         },
                         {
                             id: "salesReturnNote",
                             value: "銷退單"
                         },
                     ]
                 },
                 {
                     id: "inventory",
                     value: "庫存管理",
                     icon: "fas fa-inventory",
                     items: [
                         {
                             id: "tempShippingNote",
                             value: "暫出/入單"
                         },
                         {
                             id: "tempShippingReturnNote",
                             value: "暫出/入歸還單"
                         }
                     ]
                 },
                 {
                     id: "delivery",
                     value: "出貨管理",
                     icon: "fas fa-dolly-flatbed",
                     items: [
                         {
                             id: "deliverySchedule",
                             value: "出貨排程",
                         },
                         {
                             id: "deliveryHistory",
                             value: "出貨歷史",
                         }
                     ]
                 },
                 {
                     type: "separator"
                 },
                 {
                     id: "notification",
                     value: "通知訊息",
                     count: 0,
                     icon: "fas fa-bell"
                 },
                 {
                     id: "setting",
                     value: "系統設定",
                     icon: "fas fa-cog"
                 }
             ];

             $(document).ready(function () {
                 sidebar.data.parse(sidebarData);

                 sidebar.events.on("click", function (id, e) {
                     switch (id) {
                         //case "toggle":
                         //    let toggleItem = sidebar.data.getItem("toggle");

                         //    sidebar.toggle();

                         //    if (sidebar.config.collapsed) {
                         //        toggleItem.icon = "fas fa-bars";
                         //    } else {
                         //        toggleItem.icon = "fas fa-arrow-to-left";
                         //    }
                         //    break;
                         case "demandDashboard":
                             $(".platform-content").hide();
                             sidebar.unselect();

                             $(`#${id}`).show();
                             sidebar.select(id);
                             break;
                         case "salesOrder":
                             $(".platform-content").hide();
                             sidebar.unselect();

                             $(`#${id}`).show();
                             sidebar.select(id);
                             break;
                         case "orderChangeNote":
                             $(".platform-content").hide();
                             sidebar.unselect();

                             $(`#${id}`).show();
                             sidebar.select(id);
                             break;
                     }
                 });

                 DelayFn(function () { $(".dhx_sidebar-button[data-dhx-id='demandDashboard']").trigger("click"); }, 100);
             });
        </script>
                    )
