@using Business_Manager.Helpers
@{
    string itemName = "ViewDemandFlowUserSetting";
    string itemEdit = "DemandFlowUserEdit";
    string itemNameText = "使用者設定";
}

@Html.Resource("css",
    @<style>
    </style>
)

<div class="modal fade" id="modal@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@(itemNameText)</h5>
                <button class="close" type="button" onclick="Close@(itemName)()">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="user-container">
                            <div class="user-content" id="data@(itemName)"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal@(itemEdit)">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">使用者/角色設定</h5>
            </div>
            <div class="modal-body">
                <div class="row" id="listData@(itemEdit)">
                    <div class="col-12">
                        <form autocomplete="off" id="queryForm@(itemEdit)">
                            <fieldset>
                                <div class="form-row justify-content-end mb-2">
                                    <div class="col-auto">
                                        <button type="button" class="btn btn-info" onclick="Edit@(itemEdit)()"><i class="fas fa-plus"></i>新增</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemEdit)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 200px;">角色/使用者</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row" id="editData@(itemEdit)" style="display: none;">
                    <div class="col-12">
                        <form class="container custom-form-container" autocomplete="off" id="editForm@(itemEdit)">
                            <fieldset>
                                <div class="form-group row">
                                    <label class="col-12 col-md-3 col-lg-3 col-form-label">使用者/角色</label>
                                    <div class="col-12 col-md-9 col-lg-9" style="margin: auto 0;">
                                        <label class="control control-solid control-solid-info control--radio" style="display: inline-block; margin-right: .3125rem;">
                                            使用者 <input type="radio" name="rdoUserRole@(itemEdit)" value="user" />
                                            <span class="control__indicator"></span>
                                        </label>
                                        <label class="control control-solid control-solid-info control--radio" style="display: inline-block; margin-right: .3125rem;">
                                            角色 <input type="radio" name="rdoUserRole@(itemEdit)" value="role" />
                                            <span class="control__indicator"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group row" data-user-role="user">
                                    <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboUsers@(itemEdit)">使用者</label>
                                    <div class="col-12 col-md-9 col-lg-9">
                                        <div class="input-group">
                                            <select class="form-control" id="cboUsers@(itemEdit)" name="cboUsers@(itemEdit)"
                                                    multiple></select>
                                            <div class="input-group-append">
                                                <a class="btn btn-success pop-view" href="javascript:void(0);"><i class="fal fa-search"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row" data-user-role="role">
                                    <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboRoles@(itemEdit)">角色</label>
                                    <div class="col-12 col-md-9 col-lg-9">
                                        <select class="form-control" id="cboRoles@(itemEdit)" name="cboRoles@(itemEdit)"
                                                multiple></select>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary list-mode" onclick="Close@(itemEdit)()"><i class="fas fa-times"></i>關閉</button>
                <button type="button" class="btn btn-secondary edit-mode" onclick="Return@(itemEdit)()" style="display: none;"><i class="fas fa-undo"></i>返回</button>
                <button type="button" class="btn btn-success edit-mode" onclick="Save@(itemEdit)()" style="display: none;"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        let objForm@(itemEdit) = "#editForm@(itemEdit)";

        function Pop@(itemName)() {
            $("#modal@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });

            InitData@(itemName)()
        }

        function InitData@(itemName)() {
            let innerHtml = '';

            let targetUrl = "@Url.Action("GetDemandFlowUser", "Demand")";
            let postData = {
                "SettingId": settingIdIFrameDemandTrack
            };
            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                if (data.result.length > 0) {
                    innerHtml += `<div class="user-header">
                                    <div class="list-header">使用者/角色<a href="javascript:Pop@(itemEdit)();"><i class="fas fa-edit"></i></a></div>
                                    <div class="list-header">信件<i class="fas fa-bell-on"></i></div>
                                    <div class="list-header">推播<i class="fas fa-bell-on"></i></div>
                                    <div class="list-header">企業微信<i class="fas fa-bell-on"></i></div>
                                  </div>`;

                    $.each(data.result, function (i, item) {
                        innerHtml += `<div class="user-list">
                                        <div class="list-title">${item.RoleUserName}${item.RoleStatus == `Y` ? `<a class="role-link" href="javascript:void(0);"><i class="fas fa-users"></i></a>` : ``}</div>
                                        <div class="list-checkbox">
                                          <label class="control control-solid control-solid-info control--checkbox">
                                            <input type="checkbox" class="source-flow-user"
                                                   data-role-id="${item.RoleId}" data-user-id="${item.UserId}" 
                                                   name="cbxMailAdviceStatus@(itemName)" ${item.MailAdviceStatus == `Y` ? `checked` : ``} />
                                            <span class="control__indicator"></span>
                                          </label>
                                        </div>
                                        <div class="list-checkbox">
                                          <label class="control control-solid control-solid-info control--checkbox">
                                            <input type="checkbox" class="source-flow-user"
                                                   data-role-id="${item.RoleId}" data-user-id="${item.UserId}" 
                                                   name="cbxPushAdviceStatus@(itemName)" ${item.PushAdviceStatus == `Y` ? `checked` : ``} />
                                            <span class="control__indicator"></span>
                                          </label>
                                        </div>
                                        <div class="list-checkbox">
                                          <label class="control control-solid control-solid-info control--checkbox">
                                            <input type="checkbox" class="source-flow-user"
                                                   data-role-id="${item.RoleId}" data-user-id="${item.UserId}" 
                                                   name="cbxWorkWeixinStatus@(itemName)" ${item.WorkWeixinStatus == `Y` ? `checked` : ``} />
                                            <span class="control__indicator"></span>
                                          </label>
                                        </div>
                                        ${RoleUserList(item.RoleUser)}
                                      </div>`;
                    });
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#data@(itemName)").html(innerHtml);

            function RoleUserList(source) {
                let html = ``;

                if (source) {
                    let json = JSON.parse(source);

                    for (let x = 0; x < json.data.length; x++) {
                        html += `<div class="sub-list-title">${json.data[x].UserNo} ${json.data[x].UserName}</div>`;
                    }

                    html = `<div class="sub-list">` + html + `</div>`;
                }

                return html;
            }

            $(".role-link").off("click").on("click", function () {
                if ($(this).parent().siblings(".sub-list").hasClass("show")) {
                    $(this).parent().siblings(".sub-list").removeClass("show");
                } else {
                    $(this).parent().siblings(".sub-list").addClass("show");
                }
            });

            $(".source-flow-user").off("click").on("click", function () {
                let roleId = $(this).data("role-id");
                let userId = $(this).data("user-id");

                let targetUrl = "@Url.Action("UpdateDemandFlowUserStatus", "Demand")";
                let postData = {
                    "SettingId": settingIdIFrameDemandTrack,
                    "RoleId": roleId,
                    "UserId": userId,
                    "MailAdviceStatus": ($(`input[name='cbxMailAdviceStatus@(itemName)'][data-role-id='${roleId}'][data-user-id='${userId}']`).is(":checked") ? "Y" : "N"),
                    "PushAdviceStatus": ($(`input[name='cbxPushAdviceStatus@(itemName)'][data-role-id='${roleId}'][data-user-id='${userId}']`).is(":checked") ? "Y" : "N"),
                    "WorkWeixinStatus": ($(`input[name='cbxWorkWeixinStatus@(itemName)'][data-role-id='${roleId}'][data-user-id='${userId}']`).is(":checked") ? "Y" : "N")
                };

                let result = DataAccess.Update(targetUrl, postData, false, false);

                if (result) {
                    Reset@(itemName)();
                }
            });
        }

        function Close@(itemName)() {
            $("#modal@(itemName)").modal("hide");

            DatasIFrameDemandTrack.GetDemandFlowSettingIFrameDemandTrack(settingIdIFrameDemandTrack);
        }

        function Pop@(itemEdit)() {
            $("#modal@(itemEdit)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });

            InitData@(itemEdit)();
        }

        function InitData@(itemEdit)() {
            let innerHtml = '';

            let targetUrl = "@Url.Action("GetDemandFlowUser", "Demand")";
            let postData = {
                "SettingId": settingIdIFrameDemandTrack
            };
            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                if (data.result.length > 0) {
                    $.each(data.result, function (i, item) {
                        innerHtml += `<tr>
                                        <td>
                                          ${item.RoleStatus == `Y` ? `<i class="fas fa-users"></i>` : `<i class="fas fa-user"></i>`}
                                          ${item.RoleUserName}
                                        </td>
                                        <td class="text-center active-content">
                                          <a class="active-link" href="javascript:Delete@(itemEdit)(${item.RoleId}, ${item.UserId});"><i class="fas fa-trash-alt"></i></a>
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="2" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemEdit) tbody").html(innerHtml);
            TableComponentInit();
        }

        function Edit@(itemEdit)() {
            Switch("#editData@(itemEdit), .edit-mode", "#listData@(itemEdit), .list-mode, div[data-user-role]");

            ComboBoxs.Default("#cboUsers@(itemEdit)", "@Url.Action("GetUser", "BasicInformation")", { "Status": "A" }, "", "CHOOSE-NUMBER", "請選擇使用者", "UserWithNo", "UserId");
            ComboBoxs.Default("#cboRoles@(itemEdit)", "@Url.Action("GetDemandRole", "SsoBasicInformation")", { "Status": "A" }, "", "CHOOSE-NUMBER", "請選擇角色", "RoleName", "RoleId");

            $("#cboUsers@(itemEdit), #cboRoles@(itemEdit)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });

            let popConfig = {
                targetSelector: "#cboUsers@(itemEdit)",
                popFunction: "PopViewUser",
                objectUserId: "#cboUsers@(itemEdit)",
                type: "checkbox"
            };
            InitPopView(popConfig);

            $("input[name='rdoUserRole@(itemEdit)']").off("change").on("change", function () {
                let target = $(this).val();

                $("div[data-user-role]").hide();
                $(`div[data-user-role=${target}]`).show();
            });
        }

        function Save@(itemEdit)() {
            if ($(objForm@(itemEdit)).valid()) {
                let targetUrl = "@Url.Action("AddDemandFlowUser", "Demand")";
                let postData = {
                    "SettingId": settingIdIFrameDemandTrack,
                    "UserRole": $("input[name='rdoUserRole@(itemEdit)']:checked").val(),
                    "Users": $("#cboUsers@(itemEdit) option:selected").toArray().map(item => item.value).join(),
                    "Roles": $("#cboRoles@(itemEdit) option:selected").toArray().map(item => item.value).join()
                };

                let result = DataAccess.Add(targetUrl, postData, false, true);

                if (result) {
                    Return@(itemEdit)();
                }
            }
        }

        function Delete@(itemEdit)(RoleId, UserId) {
            swal.fire({
                titleText: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteDemandFlowUser", "Demand")";
                    let postData = {
                        "SettingId": settingIdIFrameDemandTrack,
                        "RoleId": RoleId,
                        "UserId": UserId
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        InitData@(itemEdit)();
                    }
                }
            });
        }

        function Return@(itemEdit)() {
            ResetForm(objForm@(itemEdit));
            Switch("#listData@(itemEdit), .list-mode", "#editData@(itemEdit), .edit-mode");
            InitData@(itemEdit)();
        }

        function Close@(itemEdit)() {
            $("#modal@(itemEdit)").modal("hide");
            InitData@(itemName)();
        }
    </script>
)