@using Business_Manager.Helpers
@{
    string itemName = "OrderProgress";
    string itemNameText = "訂單進度查詢";
    string authority = ViewBag.authority;
}

@Html.Resource("css",
    @<link href="@Url.Content("~/Content/materialize.min.css")" rel="stylesheet" />
                                                 )


@Html.Resource("css",
    @<link href="@Url.Content("~/Content/progress_enquiry.min.css")" rel="stylesheet" />
                                                 )

@Html.Resource("css",
@<style>
</style>
                                          )

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
     <div class="col-12 title-block">
         <div class="unit-block">
             <div class="button-block mb-1">
                 <button type="button" class="btn btn-secondary" onclick="">
                     <i class="fas fa-undo"></i>返回
                 </button>
             </div>
         </div>
     </div>
 </div>

<!--搜尋-->
<div class="modal-tri-block modal " id="modalQuery@(itemName)" style="z-index: 1050;max-width:700px;" aria-modal="true" role="dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">搜尋</h5>

            <a id="closeSearch@(itemName)" href="#!" class=" modal-action modal-close close">
                <i class="fas fa-times"></i>
            </a>
        </div>
        <div class="modal-body">
            <form class="" autocomplete="off" id="queryForm">
                <fieldset>
                    <div class="form-group row">
                        <label class="col-12 col-form-label" for="txtSoFullNoQ@(itemName)">訂單號</label>
                        <div class="col-12">
                            <input type="text" class="form-control" id="txtSoFullNoQ@(itemName)" name="txtSoFullNoQ@(itemName)" placeholder="請輸入訂單號" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-12 col-form-label" for="cboSoErpPrefixQ@(itemName)">單別</label>
                        <div class="col-12">
                            <select class="form-control" id="cboSoErpPrefixQ@(itemName)" name="cboSoErpPrefixQ@(itemName)"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-12 col-form-label" for="cboCustomerQ@(itemName)">客戶</label>
                        <div class="col-12">
                            <select class="form-control" id="cboCustomerQ@(itemName)" name="cboCustomerQ@(itemName)"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-12 col-form-label" for="cboSalesmenQ@(itemName)">業務人員</label>
                        <div class="col-12">
                            <select class="form-control" id="cboSalesmenQ@(itemName)" name="cboSalesmenQ@(itemName)"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-12 col-form-label" for="txtSearchKeyQ@(itemName)">品號/品名/規格</label>
                        <div class="col-12">
                            <input type="text" class="form-control" id="txtSearchKeyQ@(itemName)" name="txtSearchKeyQ@(itemName)" placeholder="請輸入品號/品名/規格" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-12 col-form-label">狀態</label>
                        <div class="col-lg-4 col-md-4 col-6">
                            <label class="control control-solid control-solid-info control--checkbox">
                                未確認
                                <input type="checkbox" id="cbxConfirmStatusQ@(itemName)N" name="cbxConfirmStatusQ@(itemName)" value="N" checked />
                                <span class="control__indicator"></span>
                            </label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-6">
                            <label class="control control-solid control-solid-info control--checkbox">
                                作廢
                                <input type="checkbox" id="cbxConfirmStatusQ@(itemName)V" name="cbxConfirmStatusQ@(itemName)" value="V" />
                                <span class="control__indicator"></span>
                            </label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-6">
                            <label class="control control-solid control-solid-info control--checkbox">
                                已確認
                                <input type="checkbox" id="cbxConfirmStatusQ@(itemName)Y" name="cbxConfirmStatusQ@(itemName)" value="Y" checked />
                                <span class="control__indicator"></span>
                            </label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-6 mt-2">
                            <label class="control control-solid control-solid-info control--checkbox">
                                未結案
                                <input type="checkbox" id="cbxClosureStatusQ@(itemName)N" name="cbxClosureStatusQ@(itemName)" value="N" checked />
                                <span class="control__indicator"></span>
                            </label>
                        </div>
                        <div class="col-lg-4 col-md-4 col-6 mt-2">
                            <label class="control control-solid control-solid-info control--checkbox">
                                已結案
                                <input type="checkbox" id="cbxClosureStatusQ@(itemName)Y" name="cbxClosureStatusQ@(itemName)" value="Y,y" />
                                <span class="control__indicator"></span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-12 col-form-label">單據日期 <input type="checkbox" id="cbxUseDate" /></label>
                        <div class="col-6">
                            <input type="text" class="form-control" id="txtStartDateQ@(itemName)" name="txtStartDateQ@(itemName)"
                                   data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                   readonly />
                        </div>
                        <div class="col-6">
                            <input type="text" class="form-control" id="txtEndDateQ@(itemName)" name="txtEndDateQ@(itemName)"
                                   data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                   readonly />
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="modal-footer">
            @*<a class="clear-btn" href="javascript: ClearQueryFormMaterialRequisition();"><i class="fas fa-eraser"></i> 清空</a>*@
            <a href="javascript: Query@(itemName)();"><i class="fas fa-search"></i> 搜尋</a>
        </div>
    </div>
</div>


<!--主頁-->
<section class="doc-section">
    <div class="doc-div">
        <div class="doc-header">
            <div class="header-title">
                <h2>@(itemNameText)</h2>
            </div>
        </div>
        <div class="doc-body">
            <div class="control-bar">
                <a class="btn-trigger modal-trigger control-btn" href="#modalQuery@(itemName)">
                    <i class="fas fa-search"></i><span class="text"> 搜尋</span>
                </a>
            </div>
            <hr />
            <div class="doc-search">
                <!--網頁版-->
                <div class="search-table text">
                    <table id="tblData@(itemName)" class="table table-bordered table-striped table-sticky">
                        <thead>
                            <tr>
                                <th style="min-width: 65px;">序號</th>
                                <th style="min-width: 110px;">訂單編號</th>
                                <th style="min-width: 110px; text-align: center;">客戶</th>
                                <th style="min-width: 110px; text-align: center;">品號</th>
                                <th style="min-width: 110px; text-align: center;">品名</th>
                                <th style="min-width: 110px; text-align: center;">規格</th>
                                <th style="min-width: 110px;">需求數</th>
                                <th style="min-width: 110px;">已交數</th>
                                <th style="min-width: 110px;">在製中</th>
                                <th style="min-width: 110px;">庫存數</th>
                                <th style="min-width: 110px;">排定交貨日</th>
                            </tr>
                        </thead>
                        <tbody>
                            @*<tr data-type="search" data-mr-id="27110" onclick="">
                        <td class="ellipsis" data-toggle="tooltip">1.</td>
                        <td class="ellipsis" data-toggle="tooltip">5401-20240910001</td>
                        <td style="text-align: center;">J002 東莞晶彩</td>
                        <td class="ellipsis" data-toggle="tooltip">3E00SLDX-2005-006</td>
                        <td class="ellipsis" data-toggle="tooltip">精定位(對)</td>
                        <td class="ellipsis" data-toggle="tooltip">
                            20
                            <a class="btn-trigger modal-trigger" href="#modal1">
                                <i class="fas fa-info-circle"></i>
                            </a>
                        </td>
                        <td class="ellipsis" data-toggle="tooltip">
                            15
                            <a class="btn-trigger modal-trigger" href="#modal1">
                                <i class="fas fa-info-circle"></i>
                            </a>
                        </td>
                        <td class="ellipsis" data-toggle="tooltip">
                            5
                            <a class="btn-trigger modal-trigger" href="#modal1">
                                <i class="fas fa-info-circle"></i>
                            </a>
                        </td>
                        <td class="ellipsis" data-toggle="tooltip">2024-09-10</td>
                        <td class="ellipsis" data-toggle="tooltip">1A</td>
                    </tr>*@
                        </tbody>
                    </table>
                </div>

                <!--手機版-->
                <div id="tblPhoneData@(itemName)" class="min-text">
                    
                </div>
            </div>

        </div>
    </div>


</section>
<!--開關區域-->

<!-- Modal Structure -->
<div class="modal-tri-block modal " id="modalSoDetail@(itemName)" style="z-index: 1050;max-width:500px;" aria-modal="true" role="dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">訂單帳務</h5>
            <a href="#!" class=" modal-action modal-close close">
                <i class="fas fa-times"></i>
            </a>
        </div>
        <div class="modal-body">
            <div class="table-custom">
                <table class="table table-bordered table-striped table-sticky" id="tblSoDetailData@(itemName)">
                    <tbody>
                        <tr>
                            <th>訂單</th>
                            <td>2201-20240920001-0001</td>
                        </tr>
                        <tr>
                            <th>訂單數</th>
                            <td>
                                <span style="font-weight: bold;">80</span>
                            </td>
                        </tr>
                        <tr>
                            <th>暫出數</th>
                            <td>
                                <span class="text-success">0</span>
                                +
                                <span class="text-danger">0</span>
                                <small>(未確認)</small>
                            </td>
                        </tr>
                        <tr>
                            <th>暫出歸還數</th>
                            <td>
                                <span class="text-success">0</span>
                                +
                                <span class="text-danger">0</span>
                                <small>(未確認)</small>
                            </td>
                        </tr>
                        <tr>
                            <th>銷貨數</th>
                            <td>
                                <span class="text-success">0</span>
                                +
                                <span class="text-danger">20</span>
                                <small>(未確認)</small>
                            </td>
                        </tr>
                        <tr>
                            <th>銷退數</th>
                            <td>
                                <span class="text-success">0</span>
                                +
                                <span class="text-danger">0</span>
                                <small>(未確認)</small>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="clear-btn modal-action modal-close ">
            <i class="fas fa-times"></i>關閉
        </a>
    </div>
</div>

<div class="modal-tri-block modal " id="modalProductQty@(itemName)" style="z-index: 1050;max-width:700px;" aria-modal="true" role="dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">產品生產狀況</h5>
            <a href="#!" class=" modal-action modal-close close">
                <i class="fas fa-times"></i>
            </a>
        </div>
        <div class="modal-body">
            <div class="table-custom">
                <table class="table table-bordered table-striped table-sticky" id="tblProduct@(itemName)">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>生產製令</th>
                            <th>製令狀態</th>
                            <td>開單者</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>5101-20241001001</th>
                            <td>宸大天</td>
                        </tr>
                        <tr>
                            <th>5101-20241001002</th>
                            <td>王大天</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        @*<a href="#!" class="clear-btn modal-action modal-close ">
            <i class="fas fa-times"></i>關閉
        </a>*@
    </div>
</div>

<div class="modal-tri-block modal " id="modalInventoryQty@(itemName)" style="z-index: 1050;max-width:500px;" aria-modal="true" role="dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">產品庫存狀況</h5>
            <a href="#!" class=" modal-action modal-close close">
                <i class="fas fa-times"></i>
            </a>
        </div>
        <div class="modal-body">
            <div class="table-custom">
                <table class="table table-bordered table-striped table-sticky" id="tblInventoryQty@(itemName)">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>庫別</th>
                            <td>數量</td>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        @*<a href="#!" class="clear-btn modal-action modal-close ">
            <i class="fas fa-times"></i>關閉
        </a>*@
    </div>
</div>

@*<div class="search-detail" style="display: none;">
    <span>單別單號: <span id="desSearch"></span></span>
    <div class="search-detail-table">
        <table id="tblSearchDetailData" class="table table-bordered table-striped table-sticky">
            <thead>
                <tr>
                    <th style="min-width: 65px;">序號</th>
                    <th style="min-width: 65px;">製令</th>
                    <th style="min-width: 65px;">料號</th>
                    <th style="min-width: 65px;">品名</th>
                    <th style="min-width: 65px;">規格</th>
                    <th style="min-width: 65px;">數量</th>
                    <th style="min-width: 65px;">庫別</th>
                    <th style="min-width: 65px;">儲位</th>
                    <th style="min-width: 65px;">單位</th>
                    <th style="min-width: 110px;">領料說明</th>
                    <th style="min-width: 65px;">專案</th>
                    <th style="min-width: 135px;">被取替代品號</th>
                    <th style="min-width: 65px;">備註</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>*@


@Html.Resource("js",
@<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
                )

@Html.Resource("js",
    @<script>
        let userId@(itemName);
        let userNo@(itemName);
        let companyId@(itemName);
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 20
        };

        let objPageData@(itemName) = {
            "pageIndex": 0,
            "pageSize": 20
        };

        $(document).ready(function () {
           GetUserInfo@(itemName)()
           

           ComboBoxs.WithText("#cboSoErpPrefixQ@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "SoErpPrefix" }, "", "CHOOSE", "全部", "SoErpPrefixName", "SoErpPrefixNo");
            ComboBoxs.Default("#cboCustomerQ@(itemName)", "@Url.Action("GetCustomer", "ScmBasicInformation")", { "Status": "A", "TransferStatus": "A" }, "", "CHOOSE", "全部", "CustomerWithNo", "CustomerNo");
            ComboBoxs.Default("#cboSalesmenQ@(itemName)", "@Url.Action("GetUser", "BasicInformation")", { "CompanyId": companyId@(itemName) }, "" @*userNo@(itemName)*@, "CHOOSE", "全部", "UserWithNo", "UserNo");
           $("#cboSoErpPrefixQ@(itemName), #cboCustomerQ@(itemName), #cboSalesmenQ@(itemName)").select2({
             dropdownAutoWidth: true,
             width: "100%"
            });

            

           //搜尋日期區間條件
           let currentDate = new Date();
           //單據日期
           Suites.DatePicker("txtEndDateQ@(itemName)", currentDate);
           currentDate.setDate(currentDate.getDate() - 30);
           Suites.DatePicker("txtStartDateQ@(itemName)", currentDate);

            Query@(itemName)();

            $(window).on('scroll', function () {
                // 获取当前滚动高度
                var scrollHeight = $(document).height();
                var scrollPosition = $(window).height() + $(window).scrollTop();

                // 检查是否滚动到达底部
                if (scrollPosition >= scrollHeight) {
                    objPage@(itemName).pageIndex = objPage@(itemName).pageIndex + 1
                    InitData@(itemName)(objPage@(itemName))

                }
            });

            
        });

        function GetUserInfo@(itemName)() {
            let targetUrl = "@Url.Action("GetLoginByKey", "User")";
            let postData = {
                "UserNo": $.cookie("Login"),
                "KeyText": $.cookie("LoginKey")
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                userId@(itemName) = data.returnData.UserId;
                userNo@(itemName) = data.returnData.UserNo;
                companyId@(itemName) = data.returnData.CompanyId;
            } else {
                alert(data.msg, "alert", 0);
            }
        }

        function Query@(itemName)() {
            $("#tblData@(itemName) tbody").html("");
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#closeSearch@(itemName)").click()
        }


        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let innerHtmlPhone = '';
            let pageCount = 0;
            let targetUrl = "@Url.Action("GetSaleOrderProgress", "ScmReport")";
            let StartDate = $("#txtStartDateQ@(itemName)").val()
            let EndDate = $("#txtEndDateQ@(itemName)").val()
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "SoFullNo": $("#txtSoFullNoQ@(itemName)").val(),
                "SoErpPrefix": $("#cboSoErpPrefixQ@(itemName)").val(),
                "Customer": $("#cboCustomerQ@(itemName)").val(),
                "Salesmen": $("#cboSalesmenQ@(itemName)").val(),
                "SearchKey": $("#txtSearchKeyQ@(itemName)").val(),
                "ConfirmStatus": $("input[name='cbxConfirmStatusQ@(itemName)']:checked").toArray().map(item => item.value).join(","),
                "ClosureStatus": $("input[name='cbxClosureStatusQ@(itemName)']:checked").toArray().map(item => item.value).join(","),
                "StartDate": StartDate.replace(/-/g, ""),
                "EndDate": EndDate.replace(/-/g, "")
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;
                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);
                    $.each(data.result, function (i, item) {
                        let lastRow = (objPage.pageSize * objPage.pageIndex + (i + 1))
                        let _row = lastRow + ".";
                        let SoData = [item.SoFullNo, item.SoQty, item.TsnQty, item.TsnQtyN, item.TsrnQty, item.TsrnQtyN, item.RoQty, item.RoQtyN, item.RtQty, item.RtQtyN]
                        innerHtml += `<tr data-type="search" data-mr-id="" onclick="">
                                        <td class="ellipsis" data-toggle="tooltip">${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip">${item.SoFullNo}</td>
                                        <td style="text-align: center;">${item.CustomerFullNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip">${item.MtlItemNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip">${item.MtlItemName}</td>
                                        <td class="ellipsis" data-toggle="tooltip">${item.MtlItemSpec}</td>
                                        <td class="ellipsis" data-toggle="tooltip">
                                            <a class="btn-trigger modal-trigger" href="#modalSoDetail@(itemName)"  onclick="DataQuery@(itemName)('SoDetail','${SoData}')">
                                                <i class="fas fa-info-circle"></i>
                                            </a>
                                            ${item.SoQty}
                                        </td>
                                        <td class="ellipsis" data-toggle="tooltip">
                                            ${item.SiQty}
                                        </td>
                                        <td class="ellipsis" data-toggle="tooltip">
                                            <a class="btn-trigger modal-trigger" href="#modalProductQty@(itemName)"  onclick="DataQuery@(itemName)('Product','${item.SoFullNo}')">
                                                <i class="fas fa-info-circle"></i>
                                            </a>
                                            ${item.NoSiQty}
                                        </td>
                                        <td class="ellipsis" data-toggle="tooltip">
                                            <a class="btn-trigger modal-trigger" href="#modalInventoryQty@(itemName)" onclick="DataQuery@(itemName)('Inventory','${item.MtlItemNo}')">
                                                <i class="fas fa-info-circle"></i>
                                            </a>
                                            ${item.InventoryQty}
                                        </td>
                                        <td class="ellipsis" data-toggle="tooltip">${item.PromiseDate}</td>
                                    </tr>`;
                        innerHtmlPhone += `
                                            <div class="item-section" data-type="search">
                                                <div class="item-title">
                                                    <div class="main-title">
                                                        <div>
                                                            <h3>#${_row} ${item.SoFullNo}</h3>
                                                            <div class="doc-status">
                                                                <span>
                                                                    <i class="fas fa-spinner"></i>
                                                                ${item.ClosureStatus == `N` ? `未結案` :`結案`}    
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="sub-title">
                                                        <p>${item.MtlItemNo}</p>
                                                        <p>${item.MtlItemName}</p>
                                                    </div>
                                                </div>
                                                <div class="item-body">
                                                    <div class="info-section modal-trigger" href="#modalSoDetail@(itemName)"  onclick="DataQuery@(itemName)('SoDetail','${SoData}')">
                                                        <label>需求數</label>
                                                        <span>${item.SoQty}</span>
                                                    </div>
                                                    <div class="info-section">
                                                        <label>已出數</label>
                                                        <span>${item.SiQty}</span>
                                                    </div>
                                                    <div class="info-section modal-trigger" href="#modalProductQty@(itemName)"  onclick="DataQuery@(itemName)('Product','${item.SoFullNo}')">
                                                        <label>在製中</label>
                                                        <span>${item.NoSiQty}</span>
                                                    </div>
                                                    <div class="info-section modal-trigger" href="#modalInventoryQty@(itemName)"  onclick="DataQuery@(itemName)('Inventory','${item.MtlItemNo}')">
                                                        <label>庫存數</label>
                                                        <span>${item.InventoryQty}</span>
                                                    </div>
                                                </div>
                                                <div class="item-footer">
                                                    <div>
                                                        <p>
                                                            <i class="fal fa-building"></i>
                                                            <span>${item.CustomerFullNo}</span>
                                                        </p>
                                                        <p>
                                                            <i class="far fa-user-alt"></i>
                                                            <span>${item.Salesmen}</span>
                                                        </p>
                                                    </div>
                                                    <div>
                                                        <p>
                                                            <i class="far fa-calendar"></i>
                                                            <span>交期日</span>
                                                            <span>${item.PromiseDate}</span>
                                                        </p>
                                                        <p>
                                                            <i class="far fa-calendar"></i>
                                                            <span>排程日</span>
                                                            <span>${item.PromiseDate}</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        `
                    });
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").append(innerHtml);
            $("#tblPhoneData@(itemName)").append(innerHtmlPhone);
            $('.modal-trigger').off('click');
            $('.modal-trigger').leanModal();
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));
        }

        function DataQuery@(itemName)(DataType, Data) {
            objPageData@(itemName).pageIndex = 0;
            switch (DataType) {
                case "SoDetail":
                    GetSoDetail@(itemName)(objPageData@(itemName), Data);
                    break
                case "Product":
                    GetProductSoDetail@(itemName)(objPageData@(itemName), Data);
                    break
                case "Inventory":
                    GetInventoryQty@(itemName)(objPageData@(itemName), Data);
                    break
            }
        }

        function GetSoDetail@(itemName)(objPage, SoData) {
            SoData = SoData.split(',')
            let SoFullNo = SoData[0]
            let SoQty    = SoData[1]
            let TsnQty   = SoData[2]
            let TsnQtyN   = SoData[3]
            let TsrnQty  = SoData[4]
            let TsrnQtyN  = SoData[5]
            let RoQty    = SoData[6]
            let RoQtyN    = SoData[7]
            let RtQty    = SoData[8]
            let RtQtyN    = SoData[9]

            let innerHtml = '';

            innerHtml += `<tr>
                            <th>訂單</th>
                            <td>${SoFullNo}</td>
                        </tr>
                        <tr>
                            <th>訂單數</th>
                            <td>
                                <span style="font-weight: bold;">${SoQty}</span>
                            </td>
                        </tr>
                        <tr>
                            <th>暫出數</th>
                            <td>
                                <span class="text-success">${TsnQty}</span>
                                +
                                <span class="text-danger">${TsnQtyN}</span>
                                <small>(未確認)</small>
                            </td>
                        </tr>
                        <tr>
                            <th>暫出歸還數</th>
                            <td>
                                <span class="text-success">${TsrnQty}</span>
                                +
                                <span class="text-danger">${TsrnQtyN}</span>
                                <small>(未確認)</small>
                            </td>
                        </tr>
                        <tr>
                            <th>銷貨數</th>
                            <td>
                                <span class="text-success">${RoQty}</span>
                                +
                                <span class="text-danger">${RoQtyN}</span>
                                <small>(未確認)</small>
                            </td>
                        </tr>
                        <tr>
                            <th>銷退數</th>
                            <td>
                                <span class="text-success">${RtQty}</span>
                                +
                                <span class="text-danger">${RtQtyN}</span>
                                <small>(未確認)</small>
                            </td>
                        </tr>`;
            $("#tblSoDetailData@(itemName) tbody").html(innerHtml);
        }

        function GetProductSoDetail@(itemName)(objPage, SoFullNo) {
            let innerHtml = '';
            let pageCount = 0;

            let targetUrl = "@Url.Action("GetProductSoDetail", "ScmReport")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "SoFullNo": SoFullNo
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";
                        let WoStatus = ""
                        switch (item.WoStatus) {
                            case "1":
                                WoStatus =`未生產`
                                break;
                            case "2":
                                WoStatus = `已發料`
                                break;
                            case "3":
                                WoStatus = `生產中`
                                break;
                            case "Y":
                                WoStatus = `已完工`
                                break;
                            case "y":
                                WoStatus = `指定完工`
                                break; 
                        }
                        innerHtml += `<tr>
                                        <td>${_row}</td>
                                        <td>${item.ErpFullNo}</td>
                                        <td>${WoStatus}</td>
                                        <td>${item.ConfirmUser}</td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="4" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblProduct@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, GetInventoryQty@(itemName));
        }

        function GetInventoryQty@(itemName)(objPage, MtlItemNo) {
            let innerHtml = '';
            let pageCount = 0;

            let targetUrl = "@Url.Action("GetStorehouseAvailableQty", "Production")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "MtlItemNo": MtlItemNo
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr>
                                        <td>${_row}</td>
                                        <td>${item.InventoryNo.trim() + `-` + item.InventoryName}</td>
                                        <td>${item.MC007}</td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="3" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblInventoryQty@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, GetInventoryQty@(itemName));
        }


    </script>
                 )


