@using Business_Manager.Helpers
@{
    string itemName = "Index";
    string itemNameText = "產品生產歷程系統";

    ViewBag.Title = itemNameText;
}
@Html.Resource("css",
    @<link href="@Url.Content("~/Content/mes_scan.min.css")?20220617v12" rel="stylesheet" />
                                                        )
@Html.Resource("css",
@<style>
     .container_full {
         margin-top: 0;
     }
</style>
                )

<div class="container">
    <div class="login-content">
        <div class="login-form">
            <div class="logo">
                <a>
                    <img src="@Url.Content("~/Content/images/logo.png")" />
                </a>
            </div>
            <form>
                <button type="button" class="choose-btn btn btn-primary  mt-2  mb-3  " onclick="javascript:location.href='/ProductionHistory/MesConsole'">加工數據收集 (過站)</button>
                @*<button type="button" class="choose-btn btn btn-primary  mt-2  mb-3  " onclick="javascript:location.href='/ProductionHistory/MesIPQCConsole'">工程檢數據收集 (IPQC)</button>
        <button type="button" class="choose-btn btn btn-primary  mt-2  mb-3  " onclick="javascript:location.href='/ProductionHistory/MesOQCConsole?QcType=OQC'">出貨檢數據收集 (OQC)</button>
        <button type="button" class="choose-btn btn btn-primary  mt-2  mb-3 " onclick="javascript:location.href='/ProductionHistory/MesOQCConsole?QcType=PVTQC'">全吋檢數據收集 (PVTQC)</button>
        <button type="button" class="choose-btn btn btn-primary  mt-2  mb-3 " onclick="javascript:location.href='/ProductionHistory/MesOQCConsole?QcType=TQC'">成型工程檢數據收集 (TQC)</button>*@
                <button type="button" class="choose-btn btn btn-primary  mt-2  mb-3 " onclick="javascript:location.href='/ProductionHistory/ToolChoose'">工具進出庫</button>
                <button type="button" class="choose-btn btn btn-primary  mt-2  mb-3 " onclick="javascript:location.href='/ProductionHistory/MaterialFeedReg'">投料登记</button> 
                <button type="button" class="choose-btn btn btn-info  mt-2  mb-3 " onclick="javascript:location.href='/ProductionHistory/LetteringChangeFunction'">模仁改刻字置換</button>
                <button type="button" class="choose-btn btn btn-info  mt-2  mb-3 " onclick="javascript:location.href='/ProductionHistory/AltimeterConsole'">高度計數據收集</button>
                <button type="button" class="choose-btn btn btn-info  mt-2  mb-3 " onclick="javascript:location.href='/ProductionHistory/ViewNgBom'">NG物料統計</button>
                <button type="button" class="choose-btn btn btn-danger  mt-2  mb-3" style="background: #af7076 !important;" onclick="javascript:location.href='/ProductionHistory/VehicleManagement'">載盤物料管理</button>
                <button type="button" class="choose-btn btn btn-danger  mt-2  mb-3" style="background: #fb7c6e !important;" onclick="javascript:location.href='/ProductionHistory/BarcodeBatchIndex'">條碼入庫後拆盤包裝作業</button>

            </form>
           
            <div class="logout" style="width:unset;padding:unset;margin-top: 10px;">
                <a class="btn" onclick="javascript:Logout@(itemName)();" style="">
                    登出<i class="fa fa-sign-out ml-1" style=""></i>
                </a>
            </div>
        </div>
    </div>
</div>

<script>
    function Logout@(itemName)() {
        let targetUrl = "@Url.Action("Logout", "User")";
        let postData = {
        };

        var result = DataAccess.Update(targetUrl, postData, false, false);

        if (result) window.location.reload();
    }
</script>
