@using Business_Manager.Helpers
@{
    string itemName = "MesConsole";
    string itemNameText = "機台製程選擇";
    string authority = ViewBag.authority;

    ViewBag.Title = itemNameText;

    //string UserId = "-1";
    //UserId = Request["UserId"].ToString();
}
@Html.Resource("css",
@<link href="@Url.Content("~/Content/mes_scan.min.css")?20220623v1" rel="stylesheet" />
                                                                        )
@Html.Resource("css",
@<style>
     .container_full {
         margin-top: 0;
     }

     /* login_03 */
     .select-content {
         display: flex;
         justify-content: space-around;
         flex-direction: row;
     }

         .select-content .select-item {
             display: flex;
             width: 50%;
         }

             .select-content .select-item .select-self {
                 flex-direction: column;
             }

                 .select-content .select-item .select-self a, .select-content .select-item .select-self .select-font {
                     color: #fff;
                 }

                 .select-content .select-item .select-self span {
                     font-size: 18px;
                     color: #fff;
                 }

     /* login_03 彈窗 機台&站別選擇表格 */
     .dataselect_table {
         display: table;
         border-collapse: collapse;
         text-align: center;
         width: 100%;
         /* margin-top: 0.5rem; */
     }

     .dataselect_td .button_choose {
         padding: 10px 20px;
         background-color: #a768f3;
         color: #fff;
         border-radius: 10px;
         box-shadow: none;
     }

         .dataselect_td .button_choose:hover {
             background-color: #a768f3;
         }


     .dataselect_td, .dataselect_th {
         padding: 0.3rem;
         font-size: 16px;
         line-height: 2.2;
         border-bottom: 1px solid #dee2e6;
     }

     .dataselect_th {
         display: table-cell;
         background-color: #ccc;
         font-weight: bold;
     }

     .dataselect_tr:nth-of-type(odd) {
         background-color: rgba(0,0,0,.03);
     }


     .line-active {
         background-color: #e3b9ff;
     }

     .form-control {
         font-size: 1rem;
     }

     .border-danger {
         color: #dc3545;
         border-color: #dc3545;
     }
</style>
                                                                        )
 <div class="container" id="MesConsole">
     <div class="login-content">
         <div class="" style="padding-left: 70%; padding-right: 0px;">
             <select class="form-control" id="language-select" style="width : 100%">
                 <option value="chinese">中文(Chinese)</option>
                 <option value="thai">泰文(ภาษาไทย)</option>
                 <option value="vietnamese">越文(Tiếng Việt)</option>
             </select>
         </div>
        
         <div class="login-form">
             <div class="logo">
                 <a>
                     <img src="@Url.Content("~/Content/images/logo.png")" />
                 </a>
             </div>
             <input type="hidden" id="txtMfgOrderId" value="-1" />
             <input type="hidden" id="txtMachineId" value="-1" />
             <input type="hidden" id="txtOrderProcessId" value="-1" />
             <div class="input-group">
                 <span class="input-group-addon font18" id="basic-addon13">
                     <i class="fa fa-paint-brush" style="padding-right: 5px;"></i> ＩＰ
                 </span>
                 <input type="text" class="form-control form-control-add" id="txtDeviceIp@(itemName)"
                        aria-describedby="basic-addon13" readonly>
             </div>
             <div class="input-group">
                 <span class="input-group-addon font18" id="basic-addon13" data-key="order">
                     <i class="fa fa-paint-brush" style="padding-right: 5px;"></i> 製令
                 </span>
                 <input type="text" class="form-control form-control-add lang" id="txtWipOrderId@(itemName)"
                        aria-describedby="basic-addon13" placeholder="請輸入製令號碼" key="CONTACT" data-key="entermo">
                 <div class="input-group-append">
                     <button type="button" class="border-danger" onclick="cleanMoId@(itemName) ()" title="清除">
                         <i class="fas fa-eraser"></i>
                     </button>
                 </div>
             </div>
             <div class="quick-links-grid mb-3 mt-3">

                 <div id="viewMachineTimeCount" style="">
                     <div class="select-content">
                         <div class="select-item mr-3" id="spanMachineTimeCount@(itemName)">
                             <a href="javascript: PopTimeCountView@(itemName)()" class="select-self ql-grid-item  btn" style="background-color: #696969;">
                                 <i class="select-font fa fa-clock mr-1" aria-hidden="true"></i>
                                 <span class="ql-grid-title" id="spanMachineTimeCountLabel@(itemName)" data-key="machinetimingnomo">無製令機台計時</span>
                             </a>
                         </div>

                         <div class="select-item mr-3" id="spanMachineComsume@(itemName)">
                             <a href="javascript: PopViewMachineConsume()" class="select-self ql-grid-item  btn" style="background-color: #5FADCE;">
                                 <i class="select-font fa fa-microchip mr-1" aria-hidden="true"></i>
                                 <span class="ql-grid-title" id="spanMachineComsumeLabel@(itemName)" data-key="dispensmana">點膠管理</span>
                             </a>
                         </div>

                     </div>
                 </div>

                 <div id="viewMachineProcess" style="display:none">
                     <div class="input-group" style="width: 48.3%; bottom: 5px">
                         <span class="input-group-addon font18" id="basic-addon13" data-key="">
                             <i class="fa fa-barcode" style="padding-right: 5px;"></i> 機台
                         </span>
                         <input type="text" class="form-control lang" id="txtScanMachineNo@(itemName)"
                                aria-describedby="basic-addon13" placeholder="請輸入機台編號" key="CONTACT" data-key="">
                     </div>
                     <div class="select-content">
                         <div class="select-item mr-3" id="spanMachine@(itemName)">
                             <a href="#" class="select-self ql-grid-item  btn" style="background-color: #03256C;" data-toggle="modal">
                                 <i class="select-font fa fa-microchip mr-1" aria-hidden="true"></i>
                                 <span class="ql-grid-title" id="spanMachineLabel@(itemName)" data-key="selectmachine"></span>
                             </a>
                         </div>
                         <div class="select-item" id="spanProcess@(itemName)">
                             <a href="#" class="select-self ql-grid-item btn" style="background-color: #B3679B;" data-toggle="modal">
                                 <i class="select-font fa fa-laptop mr-1" aria-hidden="true"></i>
                                 <span class="ql-grid-title" id="spanProcessLabel@(itemName)" data-key="selectprocess"></span>
                             </a>
                         </div>
                     </div>
                 </div>
             </div>
             <button type="button" class="btn-sure btn btn-success btn-flat mb-2 weight-600"
                     onclick="javascript: EnterMesScanningInterface();" data-key="enter">
                 確定
             </button>
             <div class="logout" style="width:unset;padding:unset;margin-top: 10px;">
                 <a class="btn" onclick="javascript:Logout@(itemName)();" data-key="logout">
                     登出<i class="fa fa-sign-out ml-1" style=""></i>
                 </a>
             </div>
         </div>
     </div>
     
     
 </div>

<!-- 彈出窗 選擇機台畫面 -->
<div class="modal fade" id="machineModal" style="display:none">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    選擇 - 機台資料<br />
                </h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <!-- 選擇車間 -->
                        <div class="row">
                            <div class="col-md-10 text-md-left">
                                <form id="queryDataViewMachineInfo" autocomplete="off">
                                    <label>
                                        <span data-key="workshop">車間</span>
                                        <select class="form-control pull-right" id="cboShopQ@(itemName)" name="cboShopQ@(itemName)"></select>
                                    </label>
                                    <label>
                                        <span data-key="machine">機台</span>
                                        <input class="form-control" type="text" id="txtMachineNameQ@(itemName)" />
                                    </label>
                                    <a class="btn btn-primary" href="javascript: InitMachineData(objPage@(itemName));" data-key="search"><i class="fas fa-search"></i> 搜尋</a>
                                </form>
                            </div>
                        </div>

                        <div class="table-outer" style="border: solid 1px #eee;">
                            <table class="dataselect_table" style="padding: 0.2rem;" id="tblMachineData@(itemName)">
                                <thead>
                                    <tr class="dataselect_tr">
                                        <th scope="col" width="5%" class="dataselect_th" >ID</th>
                                        <th scope="col" width="25%" class="dataselect_th" data-key="machinenumber">機台編號</th>
                                        <th scope="col" width="25%" class="dataselect_th" data-key="search">machinename</th>
                                        <th scope="col" width="25%" class="dataselect_th" data-key="machinedescription">機台描述</th>
                                        <th scope="col" width="20%" class="dataselect_th" data-key="pleaseselect">
                                            選擇
                                        </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 彈出窗 選擇站別畫面 -->
<div class="modal fade" id="stationModal" style="display:none">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    選擇 - 站別<br />
                </h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="table-outer" style="border: solid 1px #eee;">
                            <table class="dataselect_table" style="padding: 0.2rem;" id="tblStationData@(itemName)">
                                <thead>
                                    <tr class="dataselect_tr">
                                        <th scope="col" width="60%" class="dataselect_th">站別選擇</th>
                                        <th scope="col" width="30%" class="dataselect_th">
                                            選擇
                                        </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 彈窗 無製令機台狀態計時 () -->
<div class="modal fade" id="timeCountView@(itemName)">
    <div class="modal-dialog" style="padding-top:7%;">
        <div class="modal-content" style="min-width:350px;">
            <div class="modal-header" style="align-items: center;">
                <h5 class="modal-title" id="timeTypeTitle@(itemName)" data-key="statustiming">狀態計時</h5>

                <button class="close" @*data-dismiss="modal"*@ type="button" id="timeCountClose@(itemName)" onclick="Close@(itemName)('timeCountView@(itemName)');">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>

                <button type="button" style="" class="btn btn-info" id="timeCountChangeMan@(itemName)" data-toggle="modal" data-target="#changeMember" data-backdrop="static" data-key="replace">
                    <i class="fas fa-exchange-alt"></i>更換
                </button>

            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="col-12 mb-3" style="padding:1rem;background:#eee;">
                            <h5 id="txtCountTimeUserNo@(itemName)"></h5>
                            <input type="hidden" id="txtBarcodeId@(itemName)" />
                            <input type="hidden" id="txtEventId@(itemName)" />

                            <div class="form-group row">
                                <label class="form-label col-12" style="font-size: 16px;" for="cboTimeCountMachine@(itemName)" data-key="machine">機台</label>
                                <div class="btn col-12" style="width:100%">
                                    <select class="form-control" id="cboTimeCountMachine@(itemName)" name="cboTimeCountMachine@(itemName)"></select>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="form-label col-12" style="font-size: 16px;" for="cboEventItem@(itemName)" data-key="event">事件</label>
                                <div class="btn col-12" style="width:100%">
                                    <select class="form-control" id="cboEventItem@(itemName)" name="cboEventItem@(itemName)"></select>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <label class="form-label" style="color: #ff0000;" id="txtStartTime@(itemName)"></label>
                <div class="row">
                    <div class="col-6">
                        <button type="button" class="btn btn-lg btn-block btn-working btn-start" id="start@(itemName)" onclick="AddStart@(itemName)()" data-key="start">
                            開始
                        </button>
                    </div>
                    <div class="col-6">
                        <button type="button" @*data-dismiss="modal"*@ class="btn  btn-lg btn-block btn-working btn-end" id="end@(itemName)" onclick="AddEnd@(itemName)()" data-key="end">
                            結束
                        </button>
                    </div>
                </div>
            </div>
            @*<div class="modal-body">
                    <form>
                        <div class="input-group" style="">
                            <label class="input-group-addon" for="basic-addon" style="">
                                <i class="fa fa-id-card mr-1"></i>
                                <span style="padding-left: 5px;">員工編號</span>
                            </label>
                            <input type="text" class="form-control form-control-add" id="basic-addon" placeholder="請輸入員工編號">
                        </div>
                    </form>
                </div>*@
            <div class="modal-footer">
                @*<button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>*@
            </div>
        </div>
    </div>
</div>

@Html.Partial("ViewMachineConsume")


@Html.Resource("js",
@<script>
    let deviceIp@(itemName) = "";
    let objPage@(itemName) = {
        "pageIndex": 0,
        "pageSize": 10
    };

    let MoId = -1;
    let MachineId = -1;
    let MoProcessId = -1;

    let userId@(itemName) = -1;
    let companyId@(itemName) = -1;
    let consumeFlag@(itemName) = "";


    document.addEventListener('DOMContentLoaded', function () {
        var currentLanguage = localStorage.getItem('language') || 'chinese';
        $("#language-select").val(currentLanguage)
        async function loadTranslations() {
            try {
                const response = await fetch('/MesConsoleLang.json'); // 请确保路径与文件名正确
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                const translations = await response.json();
                return translations;
            } catch (error) {
                console.error('Error loading translations:', error);
            }
        }

        // 根据语言设置翻译
        async function translateContent(language) {
            const translations = await loadTranslations();
            document.querySelectorAll('[data-key]').forEach(function (element) {
                const key = element.getAttribute('data-key');
                if (translations[language] && translations[language][key]) {
                    if (element.placeholder !== undefined) {
                        // 如果元素有 placeholder 属性
                        element.setAttribute('placeholder', translations[language][key]);
                    } else {
                        // 如果是普通 HTML 元素
                        element.textContent = translations[language][key];
                    }
                }
            });
        }

        // Update content on page load
        translateContent(currentLanguage);

        // Handle language toggle from select element
        document.getElementById('language-select').addEventListener('change', function (event) {
            currentLanguage = event.target.value;
            translateContent(currentLanguage);
            localStorage.setItem('language', currentLanguage);
        });

        // Optional: Handle language toggle button
        //document.getElementById('toggle-language').addEventListener('click', function () {
        //    var languageOptions = ['chinese', 'thai', 'vietnamese'];
        //    var currentIndex = languageOptions.indexOf(currentLanguage);
        //    var nextIndex = (currentIndex + 1) % languageOptions.length;
        //    currentLanguage = languageOptions[nextIndex];
        //    translateContent(currentLanguage);
        //    localStorage.setItem('language', currentLanguage);
        //    document.getElementById('language-select').value = currentLanguage; // Sync with select element
        //});
    });

    $(document).ready(function () {
        //$.getScript("MesScannerLang_EN.js", function () {
        //    alert("Script loaded but not necessarily executed.");
        //});

        $("#spanMachineLabel@(itemName)").html("選擇機台");
        $("#spanProcessLabel@(itemName)").html("選擇製程");

        let targetUrl = "@Url.Action("GetLoginByKey", "User")";
        let postData = {
            "UserNo": $.cookie("Login"),
            "KeyText": $.cookie("LoginKey")
        };

        let data = DataAccess.Get(targetUrl, postData, false);

        if (data.status == "success") {
            userId@(itemName) = data.returnData.UserId
            companyId@(itemName) = data.returnData.CompanyId
        } else {
            alert(data.msg, "alert", 0);
        }

        ComboBoxs.Default("#cboShopQ@(itemName)", "@Url.Action("GetWorkShop", "ProductionHistory")", { "CompanyId": companyId }, "", "ALL", "", "ShopName", "ShopId");

        $("#txtDeviceIp@(itemName)").val(GetDeviceIp());
    });
    /*機台&站別-選擇作業*/
    //a中含有[data-mtl-id]屬性值
    $(document).ready(function () {
        $("a[data-mtl-id]").on("click", function () {
            $("a[data-mtl-id]").closest("tr").find("td").removeClass('line-active');
            let id = $(this).data("mtl-id");
            $(this).closest("tr").find("td").addClass('line-active');
        });

        $("#txtWipOrderId@(itemName)").focus();
        $("#viewMachineProcess").hide();
        $("#viewMachineTimeCount").show();
    });

    $("#txtWipOrderId@(itemName)").keypress(function (event) {
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
            SelectMoId@(itemName)();
        }
    });

    $("#txtScanMachineNo@(itemName)").keypress(function (event) {
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
            GetScanMachine@(itemName)();
        }
    
    });

   

    $("#cboShopQ@(itemName)").change(function () {
        let shopId = $("#cboShopQ@(itemName)").val();
        InitMachineData(objPage@(itemName));
    });

    function SelectMoId@(itemName)() {
        if ($("#txtWipOrderId@(itemName)").val() == "") {
            alert("製令不可為空", "alert", 0);
            $("#viewMachineProcess").hide();
            $("#viewMachineTimeCount").show();
        } else {
            let targetUrl = "@Url.Action("GetManufactureOrder", "Production")";
            let postData = {
                "OtherInfo":$("#txtWipOrderId@(itemName)").val()
            };
            let data = DataAccess.Get(targetUrl, postData, false);
            if (data.status == "success") {
                //pageCount = data.result.length;
                if (data.result.length > 0) {
                    deviceIp@(itemName) = GetDeviceIp();
                    $.each(data.result, function (i, item) {
                        MoId = item.MoId;
                        console.log(MoId);
                        $("#txtQuantityMesScanningInterface").val(item.Quantity);
                        $("#txtWoErpNoMesScanningInterface").val(item.WoErpPrefix + "-" + item.WoErpNo + "(" + item.WoSeq + ")");
                        $("#txtMtlItemNoMesScanningInterface").val(item.MtlItemNo);
                        $("#txtMtlItemNameMesScanningInterface").val(item.MtlItemName);
                    });
                    $("#viewMachineProcess").show();
                    $("#viewMachineTimeCount").hide();
                } else {
                    alert("查無製令", "alert", 0);
                }
            } else {
                alert(data.msg, "alert", 0);
            }
        }
    }

    $("#spanMachine@(itemName)").click(function () {
        if ($("#txtWipOrderId@(itemName)").val() == "") {
            alert("製令欄位 不可為空");
            $("#machineModal").hide();
        } else {
            $("#spanProcessLabel@(itemName)").html("選擇製程");
            $("#machineModal").modal('show');
            InitMachineData(objPage@(itemName));
        }
    });


    $("#cboTimeCountMachine@(itemName)").change(function () {
        let machineId = $("#cboTimeCountMachine@(itemName)").val();
        if (machineId > 0) {
            ComboBoxs.Default("#cboEventItem@(itemName)", "@Url.Action("GetMachineEventSetting", "MesBasicInformation")", { "MachineId": machineId }, "", "NA", "請選擇", "MachineEventName", "MachineEventItemId");
        } else {
            ComboBoxs.Default("#cboEventItem@(itemName)", "@Url.Action("GetMachineEventSetting", "MesBasicInformation")", { "MachineId": 0 }, "", "NA", "請選擇", "MachineEventName", "MachineEventItemId");
        }
        GetUnfinishMachineEvent@(itemName)();
    });

    function InitMachineData(objPage) {
        let innerHtml = '';
        let pageCount = 0;

        let targetUrl = "@Url.Action("GetMachineByDevice", "ProductionHistory")";
        let postData = {
            "OrderBy": "",
            "PageIndex": (objPage.pageIndex + 1),
            "PageSize": objPage.pageSize,
            "DeviceIdentifierCode": deviceIp@(itemName),
            "ShopId": $("#cboShopQ@(itemName)").val(),
            "MachineName": $("#txtMachineNameQ@(itemName)").val()
        };
        let data = DataAccess.Get(targetUrl, postData, false);
        if (data.status == "success") {
            pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;
            if (pageCount > 0) {
                objPage = PageCaculate(pageCount, objPage);
                $.each(data.result, function (i, item) {
                    let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";
                    innerHtml += `<tr class="dataselect_tr">
                                    <td width="5%" class="dataselect_td">${_row}</td>
                                    <td width="25%" class="dataselect_td">${item.MachineNo}</td>
                                    <td width="25%" class="dataselect_td">${item.MachineName}</td>
                                    <td width="25%" class="dataselect_td">${item.MachineDesc}</td>
                                    <td width="20%" class="dataselect_td">
                                        <a class="button_choose auth-update" href="javascript:chooseMachine('${item.MachineId}','${item.MachineDesc}');" data-mtl-id="1" data-key="select">
                                            選擇
                                        </a>
                                    </td>
                                  </tr>`;
                });
            } else {
                innerHtml += `<tr>
                                <td class="text-center" colspan="5" style="background-color: #fff3cd;">
                                    <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                </td>
                              </tr>`;
            }
        }
        $("#tblMachineData@(itemName) tbody").html(innerHtml);

        Pager("#page@(itemName)", pageCount, objPage, InitMachineData);
    }

    function chooseMachine(chooseMachineId, MachineDesc) {
        MachineId = chooseMachineId;
        $("#spanMachineLabel@(itemName)").html(MachineDesc);
        $("#machineModal").modal('hide');
    }

    $("#spanProcess@(itemName)").click(function () {
        let innerHtml = '';
        let pageCount = 0;

        if ($("#txtWipOrderId@(itemName)").val() == "") {
            alert("製令欄位 不可為空");
            $("#stationModal").hide();
        } else if (MachineId== -1) {
            alert("尚未選擇機台");
            $("#stationModal").hide();
        } else
        {
            let targetUrl = "@Url.Action("GetMoByProcess", "ProductionHistory")";
            let postData = {
                "MoId": MoId,
                "MachineId": MachineId
            };
            let data = DataAccess.Get(targetUrl, postData, false);
            if (data.status == "success") {
                $("#stationModal").modal('show');
                pageCount = data.result.length > 0 ? parseInt(data.result.length) : 0;
                if (pageCount > 0) {
                    $.each(data.result, function (i, item) {
                        innerHtml += `<tr>
                                        <td style="max-width:60%;" class="dataselect_td">${item.ProcessAlias}</td>
                                        <td style="max-width:30%;" class="dataselect_td">
                                            <a class="button_choose" href="javascript:chooseMoProcess(${item.MoProcessId},'${item.ProcessAlias}','${item.ConsumeFlag}');" data-mtl-id="1">
                                                選擇
                                            </a>
                                        </td>
                                        </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="2" style="background-color: #fff3cd;">
                                        <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                    </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }
            $("#tblStationData@(itemName) tbody").html(innerHtml);
        }
    });

    function chooseMoProcess(chooseMoProcessId, ProcessAlias, ConsumeFlag) {
        MoProcessId = chooseMoProcessId;
        $("#spanProcessLabel@(itemName)").html(ProcessAlias);
        $("#stationModal").modal('hide');
        consumeFlag@(itemName) = ConsumeFlag;
    }

    function GetScanMachine@(itemName)() {
        let targetUrl = "@Url.Action("GetMachineByDevice", "ProductionHistory")";
        let postData = {
            "OrderBy": "",
            "PageIndex": 1,
            "PageSize": 999,
            "DeviceIdentifierCode": deviceIp@(itemName),
            "MachineNo": $("#txtScanMachineNo@(itemName)").val()
        };
        let data = DataAccess.Get(targetUrl, postData, false);

        if (data.status == "success") {
            if (data.result.length > 0) {
                $.each(data.result, function (i, item) {
                    MachineId = item.MachineId
                    $("#spanMachineLabel@(itemName)").html(item.MachineDesc);

                });
            }
            
        }
        else {
            alert(data.msg);
        }
    }

    function GetDeviceIp() {
        let deviceIp = "";
        let targetUrl = "@Url.Action("GetDeviceIp", "ProductionHistory")";
        let postData = {
        };
        let data = DataAccess.Get(targetUrl, postData, false);
        if (data.status == "success") {
            deviceIp  = data.result;
        }
        return deviceIp
    }

    function EnterMesScanningInterface() { 
        if (MoId <= 0) {
            SelectMoId@(itemName)();
            return false;
        }

        if (MoProcessId <= 0 || MachineId <= 0) {
            alert("製程與機台不能為空!", "alert", 0);
            return false;
        }

        let checkConsume = GetMachineConsumeLog@(itemName)();
        console.log(checkConsume, consumeFlag@(itemName))

        if (checkConsume == "F") {
            alert("此機台綁定之點膠資料有誤!!");
            console.log(1)

            return false;
        } else if (checkConsume == "O") {
            alert("此機台綁定之點膠過期或已達到點膠次數上限!!");
            console.log(2)

            return false;
        } else if (checkConsume == "N" && consumeFlag@(itemName) == "Y") {
            console.log(3)
            alert("此製程需綁定膠水!!");
            return false;
        }

        CheckProcessJump@(itemName)();
        //consumeFlag@(itemName)
        @*window.location.href = "@Url.Action("MesScanningInterface", "ProductionHistory")?MoId=" + MoId + "&MoProcessId=" + MoProcessId
            + "&MachineId=" + MachineId + "&UserId=" + userId@(itemName);*@
    }

    function CheckProcessJump@(itemName)() {
        let targetUrl = "@Url.Action("GetCheckProcessJump", "ProductionHistory")";
        let postData = {
            "MoId": MoId,
            "MoProcessId": MoProcessId
        };
        let data = DataAccess.Get(targetUrl, postData, false);

        if (data.status == "success") {
            if (data.result.length > 0) {
                $.each(data.result, function (i, item) {
                    if (item.ProcessAlias != null) {
                        swal.fire({
                            titleText: "確定要選擇此製程嗎?",
                            text: "此製程前尚有未過站之製程【" + item.ProcessAlias + "】，請確認後再執行!",
                            icon: "warning",
                            allowOutsideClick: false,
                            allowEscapeKey: false,
                            showCancelButton: true,
                            confirmButtonColor: '#d33',
                            reverseButtons: true
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = "@Url.Action("MesScanningInterface", "ProductionHistory")?MoId=" + MoId + "&MoProcessId=" + MoProcessId
                                    + "&MachineId=" + MachineId + "&UserId=" + userId@(itemName);
                            }
                        });
                    }
                    else {
                        window.location.href = "@Url.Action("MesScanningInterface", "ProductionHistory")?MoId=" + MoId + "&MoProcessId=" + MoProcessId
                            + "&MachineId=" + MachineId + "&UserId=" + userId@(itemName);
                    }
                });
            }
            else {
                window.location.href = "@Url.Action("MesScanningInterface", "ProductionHistory")?MoId=" + MoId + "&MoProcessId=" + MoProcessId
                            + "&MachineId=" + MachineId + "&UserId=" + userId@(itemName);
            }
        }
        else {
            alert(data.msg);
        }
    }

    function GetMachineConsumeLog@(itemName)() {
        let checkFlag = "F";
        let targetUrl = "@Url.Action("GetMachineConsumeLog", "ProductionHistory")";
        let postData = {
            "MoId": MoId,
            "MachineId": MachineId
        };
        let data = DataAccess.Get(targetUrl, postData, false);

        if (data.status == "success") {
            if (data.result.length > 0) {
                $.each(data.result, function (i, item) {
                    if (item.MachineConsumeLogId != null && item.MoMtlSettingId != null) {
                        checkFlag = "P";
                    }
                    else if (item.MachineConsumeLogId == null) {
                        checkFlag = "N";
                    }

                    var today = new Date().toISOString().split('T')[0];
                    //var isoDateStr = item.OpeningDate.replace(/\//g, '-');
                    var openingDate = new Date(item.OpeningDate);
                    openingDate.setDate(openingDate.getDate() + item.EXPs);
                    var openingDatePlus = openingDate.toISOString().split('T')[0];
                    var allowDispenseQty = item.AllowDispenseQty != null ? item.AllowDispenseQty : 0;


                    if (today > openingDatePlus && item.MachineConsumeLogId != null) {//是否過期/超過點膠數
                        checkFlag = "O";
                    }
                    else if (allowDispenseQty >= item.MaxDispenseQty && item.MachineConsumeLogId != null) {
                        checkFlag = "O";

                    }
                });
            }
        }
        else {
            alert(data.msg);
        }

        return checkFlag;
    }

    function Logout@(itemName)() {
        let targetUrl = "@Url.Action("Logout", "User")";
        let postData = {
        };

        var result = DataAccess.Update(targetUrl, postData, false, false);

        if (result) window.location.reload();
    }

    function cleanMoId@(itemName) () {
        $('#txtWipOrderId@(itemName)').val('');
        $("#viewMachineProcess").hide();
        $("#viewMachineTimeCount").show();
    }

    //計時
    function PopTimeCountView@(itemName)() {//機台 人員
        $("#timeCountView@(itemName)").modal({
            backdrop: "static",
            keyboard: false,
            show: true
        });

        $("#timeCountClose@(itemName)").show();
        $("#start@(itemName)").attr('disabled', false);
        $("#end@(itemName)").attr('disabled', true);
        $("#cboEventItem@(itemName)").attr("disabled", false)
        $("#timeCountChangeMan@(itemName)").hide();

        $("#timeTypeTitle@(itemName)").html("機台狀態計時");
        @*$("#timeCountClose@(itemName)").hide();*@
        User@(itemName)();
        ComboBoxs.Default("#cboEventItem@(itemName)", "@Url.Action("GetMachineEventSetting", "MesBasicInformation")", { "MachineId": 9999 }, "", "NA", "請選擇", "MachineEventName", "MachineEventItemId");
        ComboBoxs.Default("#cboTimeCountMachine@(itemName)", "@Url.Action("GetMachineByDevice", "ProductionHistory")", { "DeviceIdentifierCode": $("#txtDeviceIp@(itemName)").val() }, "", "NA", "請選擇", "MachineDesc", "MachineId");
    }

    function AddStart@(itemName)() {//機台 加工
        var now = new Date();
        var formatted = now.getFullYear().toString() + "-" +
            (now.getMonth() + 1).toString().padStart(2, '0') + "-" +
            now.getDate().toString().padStart(2, '0') + " " +
            now.getHours().toString().padStart(2, '0') + ":" +
            now.getMinutes().toString().padStart(2, '0') + ":" +
            now.getSeconds().toString().padStart(2, '0') + "." +
            now.getMilliseconds().toString().padStart(3, '0');

        var formatted2 = now.getFullYear().toString() + "-" +
            (now.getMonth() + 1).toString().padStart(2, '0') + "-" +
            now.getDate().toString().padStart(2, '0') + " " +
            now.getHours().toString().padStart(2, '0') + ":" +
            now.getMinutes().toString().padStart(2, '0') + ":" +
            now.getSeconds().toString().padStart(2, '0');

        $("#txtStartTime@(itemName)").html("開始時間: " + formatted2)

        let targetUrl = "@Url.Action("AddStartCoutTime", "ProductionHistory")";
        let postData = {
            "EventItemId": $('#cboEventItem@(itemName)').val(),
            "BarcodeId": $('#txtBarcodeId@(itemName)').val(),
            "StartTime": formatted,
            //"BarcodeNo": barcodeNo,
            "CountType": "machineTime"
        };

        let data = DataAccess.EditContinued(targetUrl, postData, false);

        if (data.status == "success") {
            alert("計時開始", "success",1000)
            $("#start@(itemName)").attr('disabled', true);
            $("#end@(itemName)").attr('disabled', false);

            $("#cboEventItem@(itemName)").attr("disabled", true)
            $("#timeCountClose@(itemName)").hide();

            $.each(data.result, function (i, item) {
                $("#txtEventId@(itemName)").val(item.EventId)
            });

        } else {
            alert(data.msg, "alert", 0);

        }
    }

    function AddEnd@(itemName)() {
        var now = new Date();
        var formatted = now.getFullYear().toString() + "-" +
            (now.getMonth() + 1).toString().padStart(2, '0') + "-" +
            now.getDate().toString().padStart(2, '0') + " " +
            now.getHours().toString().padStart(2, '0') + ":" +
            now.getMinutes().toString().padStart(2, '0') + ":" +
            now.getSeconds().toString().padStart(2, '0') + "." +
            now.getMilliseconds().toString().padStart(3, '0');

        let targetUrl = "@Url.Action("UpdateEndCoutTime", "ProductionHistory")";
        let postData = {
            "EventId": $("#txtEventId@(itemName)").val(),
            "Finish": formatted,
            //"BarcodeNo": barcodeNo,
            "CountType": "machineTime"
        };

        let data = DataAccess.EditContinued(targetUrl, postData, false);

        let innerHtml = '';


        if (data.status == "success") {
            alert("計時結束", "success",1000)

            $("#start@(itemName)").attr('disabled', false);
            $("#end@(itemName)").attr('disabled', true);
            $("#cboEventItem@(itemName)").attr("disabled", false);
            $("#txtStartTime@(itemName)").html("")
            $("#txtEventId@(itemName)").val(-1);

            $("#timeCountView@(itemName)").modal("hide");

        } else {
            alert(data.msg, "alert", 0);

        }

    }

    function GetUnfinishMachineEvent@(itemName)() {
        let targetUrl = "@Url.Action("GetUnfinishMachineEvent", "ProductionHistory")";
        let postData = {
            "MachineId": $('#cboTimeCountMachine@(itemName)').val()
        };

        let data = DataAccess.Get(targetUrl, postData, false);
        let innerHtml = '';
        if (data.status == "success") {


            console.log(888, data.result.length)
            if (data.result.length > 0) {
                $.each(data.result, function (i, item) {
                    $("#txtEventId@(itemName)").val(item.MachineEventId);
                    $('#cboEventItem@(itemName)').val(item.MachineEventItemId);
                    $("#txtStartTime@(itemName)").html("開始時間: " + item.StartDate)
                });

                $("#start@(itemName)").attr('disabled', true);
                $("#end@(itemName)").attr('disabled', false);
                $("#cboEventItem@(itemName)").attr("disabled", true)
                $("#timeCountClose@(itemName)").hide();


            } else {

            }


        } else {
            alert(data.msg, "alert", 0);
        }
    }

    function Close@(itemName)(modalName) {
        $("#" + modalName).modal("hide");
        $('#cboEventItem@(itemName)').val("")
        $('#txtBarcodeId@(itemName)').val("")
        $("#txtStartTime@(itemName)").html("")
    }

    function User@(itemName)() {
        let targetUrl = "@Url.Action("GetUser", "ProductionHistory")";
        let postData = {
            "UserId": userId@(itemName)
        };
        let data = DataAccess.Get(targetUrl, postData, false);
        if (data.status == "success") {
            $.each(data.result, function (i, item) {
                $("#txtCountTimeUserNo@(itemName)").html( "當前使用者：" + item.UserName + "(" + item.UserNo + ")");
            });
        } else {
            alert(data.msg, "alert", 1000);
        }
    }



</script>
                                )