@using Business_Manager.Helpers
@{
    string itemName = "MesIPQC";
    string itemNameText = "工程檢量測上傳系統";
    string authority = ViewBag.authority;

    string MoId = "-1";
    string MoProcessId = "-1";
    string UserId = "";
    string BarcodeNo = "";

    MoId = Request["MoId"];
    MoProcessId = Request["MoProcessId"];
    BarcodeNo = Request["BarcodeNo"];

    ViewBag.Title = itemNameText;
}
@Html.Resource("css",
    @<link href="@Url.Content("~/Content/mes_scan.min.css")?20220617v12" rel="stylesheet" />
                                        )
@Html.Resource("css",
    @<style>

         /*版頭設定*/
         .container-fluid {
             padding: 0;
             padding-right: 10px;
             padding-left: 10px;
         }

         .container_full {
             margin-top: 0;
         }

         .modal-header {
             padding: 0.5rem 1rem;
         }

         select.select3 {
             padding: 5px 10px;
             border-color: #c9cdcf;
             border-radius: 3px;
             height: 40px;
             width: 100%;
             outline: none;
         }

             select.select3:focus-visible {
                 border: 1px solid #a768f3;
                 outline: none;
             }

         .barcode-info {
             font-weight: 700;
             padding: 5px;
             font-size: 18px;
         }

         .barcode-info-div {
             margin-top: 15px;
         }

         .qa-item-div-style {
             padding: 5px;
             /*overflow: scroll;*/
             max-height: 380px;
         }

         .table-outer {
             max-height: 100vh;
         }

         .submit-style {
             font-size: 15px;
             font-weight: 600;
         }

         .page-style {
             padding: 5px;
             max-width: 150px;
             min-width: 75px;
         }

         .radio-style {
             width: 45px;
             height: 20px;
         }

         .context-scroll {
             overflow: scroll;
         }

         .collapse {
             text-align: center;
             cursor: pointer;
         }

        .design-style {
            font-size: 14px;
            color: brown;
        }

        .design-label-style {
            line-height: 0.5;
        }
    </style>
                                        )

<div class="mes_content" id="MesScanningInterface">
    <div class="col-12">
        <div class="infonfunc card-body">
            <div class="row">
                <!-- 左方列表 -->
                <div class="mes_info col-xs-12 col-sm-12 col-md-12" style="" id="divMoInfo">
                    <div id="mesInfo" class="row">
                        <div class="" style="width:50%;">
                            <ul style="margin-bottom: 5px;">
                                <li class="list-btn-block">
                                    <div class="" style="">
                                        <p>製令</p>
                                        <h2 id="txtWoErpNo@(itemName)"></h2>
                                    </div>
                                    <div style="display: flex;">
                                        <a style="margin-right: 5px;" class="btn-change btn" href="MesIPQCConsole">
                                            更換
                                            <i class="fas fa-exchange-alt"></i>
                                        </a>
                                        <a style="margin-right: 5px;" id="ProcsssHref@(itemName)" class="btn-change btn" href="/ProductionHistory/MesConsole">
                                            過站
                                            <i class="fas fa-file-chart-pie"></i>
                                        </a>
                                        <a id="ProcsssHref@(itemName)" class="btn-change btn" href="/ProductionHistory/">
                                            回首頁
                                            <i class="fas fa-file-chart-pie"></i>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <p>品名</p>
                                    <h2 id="txtMtlItemName@(itemName)"></h2>
                                </li>
                                <li>
                                    <p>品號</p>
                                    <h2 id="txtMtlItemNo@(itemName)"></h2>
                                </li>
                                <li style="border-bottom:0;">
                                    <p>可工程檢數量</p>
                                    <h2 id="txtQuantity@(itemName)"></h2>
                                </li>
                            </ul>
                        </div>
                        <div style="width:50%">
                            <ul>
                                <li>
                                    <p>工程檢站別</p>
                                    <h2 id="txtProcessAlias@(itemName)"></h2>
                                </li>
                                <li class="list-btn-block">
                                    <div class="" style="">
                                        <p>工程檢人員</p>
                                        <h2 id="txtUserNo@(itemName)"></h2>
                                    </div>

                                    <div class="" style="display:flex;flex-direction:row;">
                                        <a class="btn-change btn" data-toggle="modal" data-target="#changeMember" data-backdrop="static">
                                            更換
                                            <i class="fas fa-exchange-alt"></i>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="collapse" style="text-align: center; cursor: pointer;">
                        <i class="fas fa-chevron-up"></i>
                    </div>
                    <div id="expand" style="text-align: center; cursor: pointer; display: none;">
                        <i class="fas fa-chevron-down"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <main class="mes_table_wrapper">
        <div class="row">
            <div class=" col-12">
                <div class="card card-shadow">
                    <div class="table-outer">
                        <table class="table-platform-sticky">
                            <thead>
                                <tr class="headerrow">
                                    <th scope="col" width="35%">
                                        <div class="form-row align-items-center" style="padding: 5px;">
                                            <div class="col-auto">
                                                <label class="sr-only" for="inlineFormInputGroup">請輸入主條碼</label>
                                                <div class="input-group ">
                                                    <input type="text" class="form-control" id="txtBarcodeNo@(itemName)" placeholder="請輸入主條碼">
                                                </div>
                                            </div>
                                            <div class="col-auto">
                                                <button class="btn btn-secondary" onclick="LoadBarcode@(itemName)()">
                                                    <i class="far fa-paper-plane"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="barcode-info-div" style="display: none;">
                                            <span class="barcode-info">
                                                <i class="fad fa-barcode-alt"></i> 條碼編號
                                                <select class="page-style">
                                                    <!--量測條碼-->
                                                </select>
                                                <button style="font-size: 15px;" class="btn btn-info" onclick="DeleteBarcodeNo@(itemName)()">
                                                    <i class="fas fa-trash-alt"></i>
                                                </button>
                                                <button id="btnUploadModal@(itemName)" style="font-size: 15px;" class="btn btn-secondary" onclick="PopViewUploadIPQCFile('@MoId')">
                                                    <i class="fas fa-file-upload"></i> 上傳檔案
                                                </button>
                                                <button id="btnSettingAppearance@(itemName)" style="font-size: 15px;" class="btn btn-warning" onclick="SettingAppearance@(itemName)()">
                                                    <i class="fas fa-tasks"></i> 批量設定外觀
                                                </button>
                                                <a id="btnAiCheck@(itemName)" style="font-size: 15px; display: none;" class="btn btn-outline-secondary" onclick="PopViewAiCheck()">
                                                    <i class="fas fa-user-check"></i> 面型判定
                                                </a>
                                            </span>
                                            <button type="button" class="btn btn-primary submit-style" onclick="Save@(itemName)()" style="float: right; margin-left: 5px;">
                                                <i class="far fa-arrow-alt-to-top"></i> 提交數據
                                            </button>
                                            <button type="button" class="btn btn-success submit-style" onclick="SaveTempData@(itemName)()" style="float: right;">
                                                <i class="fas fa-save"></i> 暫存數據
                                            </button>
                                            <hr />
                                        </div>

                                        <div class="qc-item-main-body" style="padding: 5px;">
                                            <!--量測項目-->
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<!-- 彈窗 更換人員 -->
<div class="modal fade" id="changeMember">
    <div class="modal-dialog" style="padding-top:7%;">
        <div class="modal-content working-content" style="min-width:350px;">
            <div class="modal-header" style="align-items: center;">
                <h5 class="modal-title">更換人員</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="input-group" style="">
                        <label class="input-group-addon" for="basic-addon" style="">
                            <i class="fa fa-id-card mr-1"></i>
                            <span style="padding-left: 5px;">員工編號</span>
                        </label>
                        <input type="text" class="form-control form-control-add" id="txtAccount@(itemName)" placeholder="請輸入員工編號">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal" onclick="ChangeUserNo@(itemName)()">確定</button>
            </div>
        </div>
    </div>
</div>

<!--備註框-->
<div class="modal fade" id="ModalRemark@(itemName)" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    備註
                    <span class="sub-title">量測項目: <span class="sub-text" id="desQcItemNo@(itemName)"></span></span>
                </h5>
                <a class="close list-mode" href="javascript:void(0);" onclick="Close@(itemName)('ModalRemark@(itemName)')"><i class="fas fa-times"></i></a>
            </div>
            <div class="modal-body">
                <div class="row" id="listData@(itemName)">
                    <div class="col-12">
                        <textarea id="txtRemark@(itemName)" class="form-control" rows="3" cols="50"
                                  placeholder="請輸入備註"
                                  data-msg-required="請輸入備註"
                                  data-msg-maxlength="必須少於 255 個字元" maxlength="255"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success" onclick="SaveRemark@(itemName)()">
                    <i class="fas fa-check"> 確認</i>
                </button>
            </div>
        </div>
    </div>
</div>

@Html.Partial("ViewQaMachine")
@Html.Partial("ViewMesIPQCResult")
@Html.Partial("ViewBarcodeQcRecordProcess")
@Html.Partial("ViewUploadIPQCFile")
@Html.Partial("ViewAiCheck")

@Html.Resource("js",
@<script>
    let tempQcItemJson =
    {
        tempQcItemInfo: []
    };

    let postDataJson =
    {
        "account": "",
        "pc_ip": "",
        "modeNo": "",
        "modeName": "",
        "moId": "",
        "moProcessId": "",
        "machineInfo": [],
        "qcMachineInfo": [],
        "measureType": "IPQC",
        "barcodeInfo": [],
        "filePaths": [],
        "itemInfo": []
    };

    let qcItemId@(itemName);
    let qcItemName@(itemName);
    let makeCount@(itemName);
    let qcNoticeItemSpecId@(itemName);
    let modeNo@(itemName);
    let modeName@(itemName);
    let itemSeq@(itemName);

    let RoutingProcessId@(itemName);

    let qcNoticeId@(itemName);

    let lettering = "";
    let letterSeq = "";

    let barcodeNoList@(itemName) = [];

    let UserId@(itemName) = -1;

    $(document).ready(function () {
        GetLoginByKey@(itemName)()

        ManufactureOrde@(itemName)(@MoId);
        Process@(itemName)(@MoProcessId);
        User@(itemName)(UserId@(itemName));
        GetBarcodeProcessSeq@(itemName)();
        GetDeviceIp@(itemName)();

        if ('@BarcodeNo' != "") {
            $("#txtBarcodeNo@(itemName)").val(@BarcodeNo);
            LoadBarcode@(itemName)();
        }

        $("#desWoErpFullNo@(itemName)").html($("#txtWoErpNoMesIPQC").text());

        $("#txtBarcodeNo@(itemName)").keydown(function (event) {
            if (event.keyCode == 13) {
                LoadBarcode@(itemName)();
            }
        });

        $("#txtAccount@(itemName)").keydown(function (event) {
            if (event.keyCode == 13) {
                ChangeUserNo@(itemName)();
            }
        });

        $(window).keydown(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });

        let uploadConfig = {
        fileSelector: "#fileCad2DFile@(itemName)",
        targetSelector: "#txtCad2DFile@(itemName)",
        required: false,
        uploadPath: "/ProductionHistory/MesIPQC",
        maxFileCount: 999,
        defaultFile: $("#txtCad2DFile@(itemName)").val()
        };
        Suites.FileUpload(uploadConfig);

        $(".page-style").change(function () {
            let barcodeNo = $(".page-style").val();
            $("div[data-barcode-no]").hide();
            $("div[data-barcode-no='" + barcodeNo + "']").show();
        });

        $("#collapse").click(function () {
            $("#mesInfo").hide();
            $("#collapse").hide();
            $("#expand").show();
        });

        $("#expand").click(function () {
            $("#mesInfo").show();
            $("#collapse").show();
            $("#expand").hide();
        });

        GetQcMachineInfo@(itemName)();
    });

    function GetLoginByKey@(itemName)() {
        let targetUrl = "@Url.Action("GetLoginByKey", "User")";
        let postData = {
            "UserNo": $.cookie("Login"),
            "KeyText": $.cookie("LoginKey")
        };

        let data = DataAccess.Get(targetUrl, postData, false);

        if (data.status == "success") {
            UserId@(itemName) = data.returnData.UserId
        } else {
            alert(data.msg, "alert", 0);
        }
    }

    function ManufactureOrde@(itemName)(MoId) {
        let targetUrl = "@Url.Action("GetManufactureOrder", "ProductionHistory")";
        let postData = {
            "MoId": MoId
        };
        let data = DataAccess.Get(targetUrl, postData, false);
        if (data.status == "success") {
            $.each(data.result, function (i, item) {
                modeNo@(itemName) = item.ModeNo;
                modeName@(itemName) = item.ModeName;
                $("#txtWoErpNo@(itemName)").html(item.WoErpPrefix + "-" + item.WoErpNo);
                $("#txtMtlItemName@(itemName)").html(item.MtlItemName);
                $("#txtMtlItemNo@(itemName)").html(item.MtlItemNo);
            });

            postDataJson.modeNo = modeNo@(itemName);
            postDataJson.modeName = modeName@(itemName);
            postDataJson.moId = @MoId;
            postDataJson.moProcessId = @MoProcessId;
        } else {
            alert(data.msg, "alert", 1000);
        }

        setTimeout(function (i, item) {
            $("#txtBarcodeNo@(itemName)").focus();
        }, 300);
    }

    function Process@(itemName)(MoProcessId) {
        let targetUrl = "@Url.Action("GetProcess", "ProductionHistory")";
        let postData = {
            "MoProcessId": MoProcessId
        };
        let data = DataAccess.Get(targetUrl, postData, false);
        if (data.status == "success") {
            $.each(data.result, function (i, item) {
                if (item.RoutingProcessId == null) {
                    alert("此製程非原途程站別，無法進行工程檢!", "error", 5000);
                }
                RoutingProcessId@(itemName) = item.RoutingProcessId;
                $("#txtProcessAlias@(itemName)").html(item.ProcessAlias);
            });
        } else {
            alert(data.msg, "alert", 1000);
        }
    }

    function User@(itemName)(UserId) {
        let targetUrl = "@Url.Action("GetUser", "ProductionHistory")";
        let postData = {
            "UserId": UserId
        };
        let data = DataAccess.Get(targetUrl, postData, false);
        if (data.status == "success") {
            $.each(data.result, function (i, item) {
                $("#txtUserNo@(itemName)").html(item.UserName + "(" + item.UserNo + ")");
                postDataJson.account = item.UserNo;
            });
        } else {
            alert(data.msg, "alert", 1000);
        }
    }

    function GetDeviceIp@(itemName)() {
        let deviceIp = "";
        let targetUrl = "@Url.Action("GetDeviceIp", "ProductionHistory")";
        let postData = {
        };
        let data = DataAccess.Get(targetUrl, postData, false);
        if (data.status == "success") {
            deviceIp = data.result;
            postDataJson.pc_ip = deviceIp;
        }
        return deviceIp
    }

    function GetBarcodeProcessSeq@(itemName)() {
        let targetUrl = "@Url.Action("GetBarcodeProcessSeq", "ProductionHistory")";
        let postData = {
            "MoId": @MoId,
            "MoProcessId": @MoProcessId
        };
        let data = DataAccess.Get(targetUrl, postData, false);
        if (data.status == "success") {
            $.each(data.result, function (i, item) {
                $("#txtQuantity@(itemName)").html(item.Count);
            });
        } else {
            alert(data.msg, "alert", 1000);
        }
    }

    function GetQcMachineInfo@(itemName)() {
        let targetUrl = "@Url.Action("GetQmmDetail", "ProductionHistory")";

        let postData = {
        };

        let data = DataAccess.Get(targetUrl, postData, false);

        if (data.status == "success") {
            if (data.result.length > 0) {
                $.each(data.result, function (i, item) {
                    let inputQcMachineInfo =
                    {
                        "MachineNumber": item.MachineNumber,
                        "QcMachineModeName": item.QcMachineModeName,
                        "MachineName": item.MachineName,
                        "MachineDesc": item.MachineDesc
                    };
                    postDataJson.qcMachineInfo.push(inputQcMachineInfo);
                });
            }
        }
    }

    function LoadBarcode@(itemName)() {
        let barcodeNo = $("#txtBarcodeNo@(itemName)").val();
        let checkBarcodeAlready = $("div[data-barcode-no='" + barcodeNo + "']").html();
        if (typeof (checkBarcodeAlready) != "undefined") {
            alert("條碼已輸入!", alert, 0);
            $("#txtBarcodeNo@(itemName)").val("");
            return false;
        }

        let targetUrl = "@Url.Action("GetBarcodeProcessIPQC", "ProductionHistory")";

        let postData = {
            "BarcodeNo": barcodeNo,
            "MoProcessId": @MoProcessId,
        };

        let data = DataAccess.Get(targetUrl, postData, false);

        if (data.status == "success") {
            $("#txtBarcodeNo@(itemName)").focus();
            if (data.result.length > 0) {
                $.each(data.result, function (i, item) {
                    if (item.QcStatus != null && item.QcStatus != "M") {
                        alert("此條碼已有工程檢紀錄，無法重複上傳!");
                        return false;
                    }

                    $.each(postDataJson.barcodeInfo, function (j, item2) {
                        if (item.BarcodeId == item2.BarcodeId) {
                            postDataJson.barcodeInfo.splice(j, 1);
                            return false;
                        }
                    });

                    GetBarcodeLettering@(itemName)(barcodeNo);

                    let Ua3pShapeFilename = GetUa3pShapeFilename@(itemName)(item.MtlItemName, letterSeq);

                    let inputBarcodeInfo =
                    {
                        "BarcodeId": item.BarcodeId,
                        "Lettering": lettering != null ? lettering.toString() : lettering,
                        "ItemSeq": letterSeq != null ? letterSeq.toString() : letterSeq,
                        "CustomerMtlItemNo": item.MtlItemName,
                        "Ua3pShapeFilename": Ua3pShapeFilename
                    };

                    postDataJson.barcodeInfo.push(inputBarcodeInfo);

                    let woErpFullNo = $("#txtWoErpNo@(itemName)").text();
                    let checkUser = $("#txtUserNo@(itemName)").text();
                    let processAlias = $("#txtProcessAlias@(itemName)").text();

                    $("#btnUploadModal@(itemName)").attr("onclick", "PopViewUploadIPQCFile('@MoId',\"" + modeNo@(itemName) + "\", \"" + modeName@(itemName) + "\", \"" + itemSeq@(itemName) + "\", \"" + @MoProcessId + "\", \"" + UserId@(itemName) + "\", \"" + woErpFullNo + "\", \"" + checkUser + "\", \"" + processAlias + "\")");

                    //先撈備份資料是否有可用數據
                    let checkbool = DataRecovery@(itemName)(barcodeNo);

                    if (checkbool == false) InitData@(itemName)(barcodeNo);

                    barcodeNoList@(itemName).push(barcodeNo);
                });
            }
            else {
                alert("查無此條碼相關資訊，請確認條碼是否已完工!", "alert", 0);
            }
        }
        else {
            alert(data.msg, "alert", 0);
        }
        $("#txtBarcodeNo@(itemName)").val("");
    }

    function InitData@(itemName)(barcodeNo) {
        let targetUrl = "@Url.Action("GetIpqcQcNoticeItemSpec", "ProductionHistory")";

        let postData = {
            "MoProcessId": @MoProcessId,
            "QcNoticeType": "IPQC",
            "Status": "N"
        };

        let data = DataAccess.Get(targetUrl, postData, false);

        $("#btnSettingAppearance@(itemName)").hide();

        let innerHtml = '';
        if (data.status == "success") {
            $(".barcode-info-div").show();
            if (data.result.length > 0) {
                let optionText = barcodeNo;
                let optionValue = barcodeNo;
                $(".page-style").append(new Option(optionText, optionValue))

                innerHtml += `<div class="row" data-barcode-no="${barcodeNo}">`;
                $.each(data.result, function (i, item) {
                    qcNoticeId@(itemName) = item.QcNoticeId;
                    $.each(postDataJson.itemInfo, function (l, item4) {
                        if (item4.QcItemId == item.QcItemId) {
                            postDataJson.itemInfo.splice(l, 1);
                            return false;
                        }
                    });

                    let inputItemInfo =
                    {
                        "QcItemId": item.QcItemId,
                        "QcItemNo": item.QcItemNo,
                        "QcItemName": item.QcItemName,
                        "QcItemDesc": item.QcItemDesc,
                        "Remark": item.QcItemRemark != null ? item.QcItemRemark : "",
                        "MakeCount": item.MakeCount,
                        "ZCoordinate": item.Depth != null ? item.Depth.toString() : ""
                    }
                    postDataJson.itemInfo.push(inputItemInfo);

                    if (item.MachineInfo != null) {
                        let machineInfoJson = JSON.parse(item.MachineInfo);
                        $.each(machineInfoJson.data, function (j, item2) {
                            let checkbool = false;
                            $.each(postDataJson.machineInfo, function (k, item3) {
                                let qcMachineModeNumber = Object.keys(item3)[k];
                                if (qcMachineModeNumber == item2.QcMachineModeNumber || typeof (qcMachineModeNumber) == "undefined") {
                                    checkbool = true;
                                    return false;
                                }
                            });

                            if (checkbool == false) {
                                let inputMachineInfo =
                                {
                                    [item2.QcMachineModeNumber]: item2.QcMachineModeNo
                                };

                                postDataJson.machineInfo.push(inputMachineInfo);
                            }
                        })
                    }
                    for (let i = 1; i <= item.MakeCount; i++) {
                        if (item.QcItemType == "1") { //input
                            innerHtml += `<div class="col-md-6">
                                            <div class="form-group row">
                                                <label style="font-weight: 600;" class="col-12 col-form-label" for="txt${item.QcItemName}@(itemName)">${item.QcItemName}-${i}
                                                    <span id="des${item.QcItemName}" data-barcode-no="${barcodeNo}" data-make-count="${i}" data-qc-machine-mode-id="" data-qmm-detail-Id="" style="color: red;"></span>
                                                    <span id="desCreateUser${item.QcItemName}" data-make-count="${i}" data-barcode-no="${barcodeNo}" data-qc-machine-mode-id="" data-qmm-detail-Id="" ></span>
                                                </label>
                                                <label style="font-weight: 600;" class="col-12 col-form-label design-label-style" for="txt${item.QcItemName}@(itemName)">
                                                    <span class="design-style"><i class="fas fa-sort-alt"></i> 標準值:${item.DesignValue}</span>
                                                    <span class="design-style"> 上限:${parseFloat(item.DesignValue) + parseFloat(item.UpperTolerance)}</span>
                                                    <span class="design-style"> 下限:${parseFloat(item.DesignValue) + parseFloat(item.LowerTolerance)}</span>
                                                </label>
                                                <input id="txtQmmDetailId@(itemName)${item.QcItemName}${i}" data-qc-machine-mode-id="" style="display: none;"/>
                                                <input id="txtQcNoticeItemSpecId@(itemName)${item.QcItemName}${i}" data-barcode-no="${barcodeNo}" data-make-count="${i}" style="display: none;" value="${item.QcNoticeItemSpecId}"/>
                                                <div class="col-12">
                                                    <div class="input-group">
                                                        <input type="number" class="form-control" data-barcode-no="${barcodeNo}" data-qc-notice-item-spec-id="${item.QcNoticeItemSpecId}" data-qc-item-id="${item.QcItemId}" data-qc-item-name="${item.QcItemName}" data-qc-item-no="${item.QcItemNo}" data-make-count="${i}" data-qc-item-type="${item.QcItemType}" id="txt${item.QcItemName}@(itemName)" onInput="Edit@(itemName)(this)" readonly/>
                                                        <div class="input-group-append">
                                                            <a id="aQaMachine@(itemName)" class="btn btn-success" data-qc-item-name="${item.QcItemName}" data-barcode-no="${barcodeNo}" data-make-count="${i}" href="javascript:PopViewQaMachine('${item.QcItemId}', '${item.QcItemName}', '${i}', '@MoProcessId', '${item.QcNoticeItemSpecId}', '${item.QcItemType}', '${UserId@(itemName)}');"><i class="fas fa-desktop-alt"></i></a>
                                                            <a id="aRemark@(itemName)" class="btn btn-secondary" data-qc-item-name="${item.QcItemName}" data-barcode-no="${barcodeNo}" data-make-count="${i}" href="javascript:OpenModalRemark@(itemName)('${item.QcItemId}', '${item.QcItemName}', '${i}', '${item.QcNoticeItemSpecId}');"><i class="fal fa-edit"></i></a>
                                                            <a id="aQcRecord@(itemName)" class="btn btn-primary" data-qc-item-name="${item.QcItemName}" data-barcode-no="${barcodeNo}" data-make-count="${i}" data-qc-notice-item-spec-id="${item.QcNoticeItemSpecId}" href="javascript:PopViewBarcodeQcRecordProcess('${@MoId}', '${@MoProcessId}', '${barcodeNo}', '${item.QcNoticeItemSpecId}', '${i}', '${item.QcItemName}');"></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                          </div>`;
                        }
                        else if (item.QcItemType == "2") { //radiobutton
                            $("#btnSettingAppearance@(itemName)").show();
                            innerHtml += `<div class="col-md-6">
                                            <div class="form-group row">
                                                <label style="font-weight: 600;" class="col-12 col-form-label" for="txt${item.QcItemName}@(itemName)">${item.QcItemName}-${i}
                                                    <span id="des${item.QcItemName}" data-barcode-no="${barcodeNo}" data-make-count="${i}" data-qc-machine-mode-id="" data-qmm-detail-Id="" style="color: red;"></span>
                                                    <span id="desCreateUser${item.QcItemName}" data-make-count="${i}" data-barcode-no="${barcodeNo}" data-qc-machine-mode-id="" data-qmm-detail-Id="" ></span>
                                                </label>
                                                <label style="font-weight: 600;" class="col-12 col-form-label design-label-style" for="txt${item.QcItemName}@(itemName)">
                                                    <span class="design-style"><i class="fas fa-sort-alt"></i> 良品:P 不良品:F</span>
                                                </label>
                                                <input id="txtQmmDetailId@(itemName)${item.QcItemName}${i}" data-qc-machine-mode-id="" style="display: none;"/>
                                                <input id="txtQcNoticeItemSpecId@(itemName)${item.QcItemName}${i}" data-barcode-no="${barcodeNo}" data-make-count="${i}" style="display: none;" value="${item.QcNoticeItemSpecId}"/>
                                                <div class="col-12">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" data-barcode-no="${barcodeNo}" data-qc-notice-item-spec-id="${item.QcNoticeItemSpecId}" data-qc-item-id="${item.QcItemId}" data-qc-item-name="${item.QcItemName}" data-qc-item-no="${item.QcItemNo}" data-make-count="${i}" data-qc-item-type="${item.QcItemType}" id="txt${item.QcItemName}@(itemName)" onInput="Edit@(itemName)(this)" readonly/>
                                                        <div class="input-group-append">
                                                            <a id="pass@(itemName)" class="btn btn-info" data-barcode-no="${barcodeNo}" data-qc-notice-item-spec-id="${item.QcNoticeItemSpecId}" data-qc-item-id="${item.QcItemId}" data-qc-item-name="${item.QcItemName}" data-qc-item-no="${item.QcItemNo}" data-make-count="${i}" onclick="aiCheck@(itemName)(this);"><i class="fas fa-check"></i></a>
                                                            <a id="ng@(itemName)" class="btn btn-danger" data-barcode-no="${barcodeNo}" data-qc-notice-item-spec-id="${item.QcNoticeItemSpecId}" data-qc-item-id="${item.QcItemId}" data-qc-item-name="${item.QcItemName}" data-qc-item-no="${item.QcItemNo}" data-make-count="${i}" onclick="aiCheck@(itemName)(this);"><i class="fas fa-times"></i></a>
                                                            <a id="aQaMachine@(itemName)" class="btn btn-success" data-qc-item-name="${item.QcItemName}" data-barcode-no="${barcodeNo}" data-make-count="${i}" href="javascript:PopViewQaMachine('${item.QcItemId}', '${item.QcItemName}', '${i}', '@MoProcessId', '${item.QcNoticeItemSpecId}', '${item.QcItemType}', '${UserId@(itemName)}');"><i class="fas fa-desktop-alt"></i></a>
                                                            <a id="aRemark@(itemName)" class="btn btn-secondary" data-qc-item-name="${item.QcItemName}" data-barcode-no="${barcodeNo}" data-make-count="${i}" href="javascript:OpenModalRemark@(itemName)('${item.QcItemId}', '${item.QcItemName}', '${i}', '${item.QcNoticeItemSpecId}');"><i class="fal fa-edit"></i></a>
                                                            <a id="aQcRecord@(itemName)" class="btn btn-primary" data-qc-item-name="${item.QcItemName}" data-barcode-no="${barcodeNo}" data-make-count="${i}" data-qc-notice-item-spec-id="${item.QcNoticeItemSpecId}" href="javascript:PopViewBarcodeQcRecordProcess('${@MoId}', '${@MoProcessId}', '${barcodeNo}', '${item.QcNoticeItemSpecId}', '${i}', '${item.QcItemName}');"></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                          </div>`;
                        }
                        else if (item.QcItemType == "3") { //面型判定
                            innerHtml += `<div class="col-md-6">
                                            <div class="form-group row">
                                                <label style="font-weight: 600;" class="col-12 col-form-label" for="txt${item.QcItemName}@(itemName)">${item.QcItemName}-${i}
                                                    <span id="des${item.QcItemName}" data-barcode-no="${barcodeNo}" data-make-count="${i}" data-qc-machine-mode-id="" data-qmm-detail-Id="" style="color: red;"></span>
                                                    <span id="desCreateUser${item.QcItemName}" data-make-count="${i}" data-barcode-no="${barcodeNo}" data-qc-machine-mode-id="" data-qmm-detail-Id="" ></span>
                                                </label>
                                                <label style="font-weight: 600;" class="col-12 col-form-label design-label-style" for="txt${item.QcItemName}@(itemName)">
                                                    <span class="design-style"><i class="fas fa-sort-alt"></i> 良品:P 不良品:F</span>
                                                </label>
                                                <input id="txtQmmDetailId@(itemName)${item.QcItemName}${i}" data-qc-machine-mode-id="" style="display: none;"/>
                                                <input id="txtQcNoticeItemSpecId@(itemName)${item.QcItemName}${i}" data-barcode-no="${barcodeNo}" data-make-count="${i}" style="display: none;" value="${item.QcNoticeItemSpecId}"/>
                                                <div class="col-12">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" data-barcode-no="${barcodeNo}" data-qc-notice-item-spec-id="${item.QcNoticeItemSpecId}" data-qc-item-id="${item.QcItemId}" data-qc-item-name="${item.QcItemName}" data-qc-item-no="${item.QcItemNo}" data-make-count="${i}" data-qc-item-type="${item.QcItemType}" id="txt${item.QcItemName}@(itemName)" onInput="Edit@(itemName)(this)" readonly/>
                                                    </div>
                                                </div>
                                            </div>
                                          </div>`;
                        }
                    }
                });
                innerHtml += `</div>`;
            }
            else {
                alert("此製程尚未設定任何工程檢量測項目!", "alert", 0);
            }

            $(".qc-item-main-body").append(innerHtml);

            $("div[data-barcode-no]").hide();
            $("div[data-barcode-no='" + barcodeNo + "']").show();
            $(".page-style").val(barcodeNo);

            GetQcMeasureDataSeq@(itemName)(barcodeNo);
        } else {
            alert(data.msg, "alert", 0);
        }
    }

    function DataRecovery@(itemName)(barcodeNo) {
        let targetUrl = "@Url.Action("GetTempQcMeasureData", "ProductionHistory")";
        let postData = {
            "BarcodeNo": barcodeNo,
            "MoProcessId": @MoProcessId,
            "Status": "A",
            "QcNoticeType": "IPQC"
        };
        let data = DataAccess.Get(targetUrl, postData, false);

        let checkbool = false;
        if (data.status == "success") {
            if (data.result.length > 0) {
                checkbool = true;
                InitData@(itemName)(barcodeNo);
                $.each(data.result, function (i, item) {
                    let inputQcItemInfo =
                    {
                        "QcNoticeItemSpecId": item.QcNoticeItemSpecId,
                        "BarcodeNo": item.BarcodeNo,
                        "MoProcessId": item.MoProcessId,
                        "QcItemId": item.QcItemId,
                        "QcItemName": item.QcItemName,
                        "MakeCount": item.MakeCount,
                        "MeasureValue": item.MeasureValue,
                        "QcMachineModeId": item.QcMachineModeId,
                        "QmmDetailId": item.QmmDetailId,
                        "Remark": item.Remark,
                        "CreateUserId": item.CreateBy
                    };

                    tempQcItemJson.tempQcItemInfo.push(inputQcItemInfo);

                    if (item.CreateBy == UserId@(itemName)) {
                        $("input[id='txt" + item.QcItemName + "@(itemName)'][data-barcode-no='" + item.BarcodeNo + "'][data-make-count='" + item.MakeCount + "']").prop("readonly", false);
                    }
                    else {
                        $("a[id='aQaMachine@(itemName)'][data-qc-item-name='" + item.QcItemName + "'][data-barcode-no='" + item.BarcodeNo + "'][data-make-count='" + item.MakeCount + "']").hide();
                        $("a[id='aRemark@(itemName)'][data-qc-item-name='" + item.QcItemName + "'][data-barcode-no='" + item.BarcodeNo + "'][data-make-count='" + item.MakeCount + "']").hide();
                        $("a[id='pass@(itemName)'][data-qc-item-name='" + item.QcItemName + "'][data-barcode-no='" + item.BarcodeNo + "'][data-make-count='" + item.MakeCount + "']").hide();
                        $("a[id='ng@(itemName)'][data-qc-item-name='" + item.QcItemName + "'][data-barcode-no='" + item.BarcodeNo + "'][data-make-count='" + item.MakeCount + "']").hide();
                    }

                    if (item.QcItemType == "2" || item.QcItemType == "3") {
                        $("input[id='txt" + item.QcItemName + "@(itemName)'][data-barcode-no='" + item.BarcodeNo + "'][data-make-count='" + item.MakeCount + "']").prop("readonly", true);
                    }
                    $("input[id='txt" + item.QcItemName + "@(itemName)'][data-barcode-no='" + item.BarcodeNo + "'][data-make-count='" + item.MakeCount + "']").val(item.MeasureValue);
                    $("span[id='des" + item.QcItemName + "'][data-make-count='" + item.MakeCount + "'][data-barcode-no='" + item.BarcodeNo + "']").html(" (" + item.MachineDesc + ")");
                    $("span[id='desCreateUser" + item.QcItemName + "'][data-make-count='" + item.MakeCount + "'][data-barcode-no='" + item.BarcodeNo + "']").html(`&nbsp;<code style="color: blue">[${item.CreateUserNo}${item.CreateUserName}]</code>`);
                });
            }
        }
        return checkbool;
    }

    function ChangeUserNo@(itemName)() {
        swal.fire({
            titleText: "確認要更換人員嗎?",
            text: "此動作會將目前輸入的數據都刪除，請確認後再執行!",
            icon: "warning",
            allowOutsideClick: false,
            allowEscapeKey: false,
            showCancelButton: true,
            confirmButtonColor: '#d33',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                let targetUrl = "@Url.Action("ProductionHistoryLogin", "ProductionHistory")";
                let postData = {
                    "UserNo": $("#txtAccount@(itemName)").val()
                };
                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    if (data.result.length > 0) {
                        $.each(data.result, function (i, item) {
                            window.location.assign(`/ProductionHistory/MesIPQC?MoId=${'@MoId'}&MoProcessId=${'@MoProcessId'}`);
                        });
                    }
                } else {
                    alert(data.msg, "alert", 0);
                }
            }
        });
    }

    function GetQcMeasureDataSeq@(itemName)(barcodeNo) {
        $.each($("a[id='aQcRecord@(itemName)'][data-qc-item-name][data-barcode-no][data-make-count][data-qc-notice-item-spec-id]"), function (i) {
            if ($(this).data("barcode-no") != barcodeNo) {
                return;
            }
            let qcItemName = $(this).data("qc-item-name");
            let qcNoticeItemSpecId = $(this).data("qc-notice-item-spec-id");
            let makeCount = $(this).data("make-count");

            let targetUrl = "@Url.Action("GetQcMeasureDataSeq", "ProductionHistory")";

            let postData = {
                "MoId": @MoId,
                "MoProcessId": @MoProcessId,
                "BarcodeNo": barcodeNo,
                "QcNoticeItemSpecId": qcNoticeItemSpecId,
                "MakeCount": makeCount
            };

            let data = DataAccess.Get(targetUrl, postData, false);
            if (data.status == "success") {
                if (data.result.length > 0) {
                    $.each(data.result, function (j, item) {
                        $("a[id='aQcRecord@(itemName)'][data-qc-item-name='" + qcItemName + "'][data-barcode-no='" + barcodeNo + "'][data-make-count='" + makeCount + "'][data-qc-notice-item-spec-id='" + qcNoticeItemSpecId + "']").html('<i class="fas fa-eye"></i>&nbsp;' + item.Count.toString());
                    });
                }
                else {
                    $("a[id='aQcRecord@(itemName)'][data-qc-item-name='" + qcItemName + "'][data-barcode-no='" + barcodeNo + "'][data-make-count='" + makeCount + "'][data-qc-notice-item-spec-id='" + qcNoticeItemSpecId + "']").html('<i class="fas fa-eye"></i>&nbsp;0');
                }
            }
        });
    }

    function OpenModalRemark@(itemName)(qcItemId, qcItemName, makeCount, qcNoticeItemSpecId) {
        qcItemId@(itemName) = qcItemId;
        qcItemName@(itemName) = qcItemName;
        makeCount@(itemName) = makeCount;
        qcNoticeItemSpecId@(itemName) = qcNoticeItemSpecId;

        $("#ModalRemark@(itemName)").modal("show");
        $("#desQcItemNo@(itemName)").html(qcItemName + "-" + makeCount);

        $("#txtRemark@(itemName)").val("");
        $.each(tempQcItemJson.tempQcItemInfo, function (i, item) {
            if (item.BarcodeNo == $(".page-style").val() && item.QcItemId == qcItemId && item.MakeCount == makeCount) {
                $("#txtRemark@(itemName)").val(item.Remark);
                return false;
            }
        });
    }

    function SaveRemark@(itemName)() {
        let measureValue = -1;
        let qcMachineModeId = -1;
        let qmmDetailId = -1;

        $.each(tempQcItemJson.tempQcItemInfo, function (i, item) {
            if (item.BarcodeNo == $(".page-style").val() && item.QcItemId == qcItemId@(itemName) && item.MakeCount == makeCount@(itemName)) {
                measureValue = item.MeasureValue;
                qcMachineModeId = item.QcMachineModeId;
                qmmDetailId = item.QmmDetailId;
                tempQcItemJson.tempQcItemInfo.splice(i, 1);
                return false;
            }
        });

        let inputQcItemInfo =
        {
            "QcNoticeItemSpecId": qcNoticeItemSpecId@(itemName),
            "BarcodeNo": $(".page-style").val(),
            "MoProcessId": '@MoProcessId'.toString(),
            "QcItemId": qcItemId@(itemName),
            "QcItemName": qcItemName@(itemName),
            "MakeCount": makeCount@(itemName),
            "MeasureValue": measureValue,
            "QcMachineModeId": qcMachineModeId,
            "QmmDetailId": qmmDetailId,
            "Remark": $("#txtRemark@(itemName)").val(),
            "CreateUserId": UserId@(itemName)
        };

        tempQcItemJson.tempQcItemInfo.push(inputQcItemInfo);

        Close@(itemName)('ModalRemark@(itemName)');
    }

    let timer;
    function Edit@(itemName)(t) {
        clearTimeout(timer)
        timer = setTimeout(function () {
            let makeCount = $(t).data("make-count");
            let qcItemId = $(t).data("qc-item-id").toString();
            let qcNoticeItemSpecId = $(t).data("qc-notice-item-spec-id").toString();
            let qcMachineModeId = -1;
            let qmmDetailId = -1;
            let remark = "";
            let qcItemName = $(t).data("qc-item-name").toString();
            $.each(tempQcItemJson.tempQcItemInfo, function (i, item) {
                if (item.BarcodeNo == $(".page-style").val() && item.QcItemId == qcItemId && item.MakeCount == makeCount) {
                    qcMachineModeId = item.QcMachineModeId;
                    qmmDetailId = item.QmmDetailId;
                    remark = item.Remark;
                    tempQcItemJson.tempQcItemInfo.splice(i, 1);
                    return false;
                }
            });

            let inputQcItemInfo =
            {
                "QcNoticeItemSpecId": qcNoticeItemSpecId,
                "BarcodeNo": $(".page-style").val(),
                "MoProcessId": '@MoProcessId'.toString(),
                "QcItemId": qcItemId,
                "QcItemName": qcItemName,
                "MakeCount": makeCount,
                "MeasureValue": $(t).val(),
                "QcMachineModeId": qcMachineModeId,
                "QmmDetailId": qmmDetailId,
                "Remark": remark,
                "CreateUserId": UserId@(itemName)
            };

            tempQcItemJson.tempQcItemInfo.push(inputQcItemInfo);
        }, 500);
    }

    function SaveTempData@(itemName)() {
        if (tempQcItemJson.tempQcItemInfo.length <= 0) {
            alert("尚未維護任何量測資訊!", alert, 0);
            return false;
        }
        let targetUrl = "@Url.Action("AddTempQcMeasureData", "ProductionHistory")";
        let postData = {
            "TempQcItemData": JSON.stringify(tempQcItemJson),
            "MoId": '@MoId'
        };

        DataAccess.Add(targetUrl, postData, false, true);
    }

    function Save@(itemName)() {
        let checkbool = false;
        $.each($("input[data-barcode-no][data-qc-notice-item-spec-id][data-qc-item-id][data-qc-item-no][data-make-count]"), function (i, item) {
            let measureValue = $(item).val();
            if (measureValue == "") {
                alert("所有項目都填寫完畢才能進行上傳!", alert, 0);
                $("div[data-barcode-no]").hide();
                $("div[data-barcode-no='" + $(item).data("barcode-no") + "']").show();
                $(".page-style").val($(item).data("barcode-no"));
                $(item).focus();
                checkbool = true;
                return false;
            }
        });

        let checkMachineBool = false;
        $.each(tempQcItemJson.tempQcItemInfo, function (i, item) {
            if (item.QcMachineModeId == -1 || item.QmmDetailId == -1) {
                checkMachineBool = true;
                alert("條碼【" + item.BarcodeNo + "】項目【" + item.QcItemName + "-" + item.MakeCount + "】未設定機台資訊!", "alert", 0);
                return false;
            }
        });

        if (checkbool == false && checkMachineBool == false) {
            PopViewMesIPQCResult('@MoId', '@MoProcessId', qcNoticeId@(itemName));
        }
    }

    function DeleteBarcodeNo@(itemName)() {
        swal.fire({
            titleText: "確認要刪除此條碼嗎?",
            text: "此動作會將目前輸入的數據都刪除，請確認後再執行!",
            icon: "warning",
            allowOutsideClick: false,
            allowEscapeKey: false,
            showCancelButton: true,
            confirmButtonColor: '#d33',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                let barcodeNo = $(".page-style").val();
                $(".page-style option[value='" + barcodeNo + "']").remove();
                $("div[data-barcode-no='" + barcodeNo + "']").remove();
                $(".page-style option:first").prop("selected", 'selected');

                let newBarcodeNo = $(".page-style").val();
                $("div[data-barcode-no]").hide();
                $("div[data-barcode-no='" + newBarcodeNo + "']").show();

                let tempQcItemJson2 = tempQcItemJson;
                $.each(tempQcItemJson.tempQcItemInfo, function (i, item) {
                    $.each(tempQcItemJson2.tempQcItemInfo, function (j, item2) {
                        if (item2.BarcodeNo == barcodeNo) {
                            tempQcItemJson.tempQcItemInfo.splice(j, 1);
                            return false;
                        }
                    });
                });

                if ($(".page-style option").length <= 0) {
                    $(".barcode-info-div").hide();
                }

                $.each(barcodeNoList@(itemName), function (i, item) {
                    if (item == barcodeNo) {
                        barcodeNoList@(itemName).splice(i, 1);
                        return false;
                    }
                });
            }
        });
    }

    function aiCheck@(itemName)(t) {
        let id = t.id;
        let barcodeNo = $(t).data("barcode-no");
        let qcItemName = $(t).data("qc-item-name");

        let makeCount = $(t).data("make-count");
        let qcItemId = $(t).data("qc-item-id");
        let qcNoticeItemSpecId = $(t).data("qc-notice-item-spec-id");
        let qcMachineModeId = -1;
        let qmmDetailId = -1;
        let remark = "";
        $.each(tempQcItemJson.tempQcItemInfo, function (i, item) {
            if (item.BarcodeNo == $(".page-style").val() && item.QcItemId == qcItemId && item.MakeCount == makeCount) {
                qcMachineModeId = item.QcMachineModeId;
                qmmDetailId = item.QmmDetailId;
                remark = item.Remark;
                tempQcItemJson.tempQcItemInfo.splice(i, 1);
                return false;
            }
        });

        if (qcMachineModeId <= 0) {
            alert("尚未維護機型資料!", "alert", 0);
            return false;
        }

        if (id.indexOf('pass') != -1) {
            $("input[id='txt" + qcItemName + "@(itemName)'][data-barcode-no='" + barcodeNo + "'][data-qc-notice-item-spec-id='" + qcNoticeItemSpecId + "'][data-make-count='" + makeCount + "'][data-qc-item-id='" + qcItemId + "']").val("P");
        }
        else {
            $("input[id='txt" + qcItemName + "@(itemName)'][data-barcode-no='" + barcodeNo + "'][data-qc-notice-item-spec-id='" + qcNoticeItemSpecId + "'][data-make-count='" + makeCount + "'][data-qc-item-id='" + qcItemId + "']").val("F");
        }

        let inputQcItemInfo =
        {
            "QcNoticeItemSpecId": qcNoticeItemSpecId,
            "BarcodeNo": $(".page-style").val(),
            "MoProcessId": '@MoProcessId'.toString(),
            "QcItemId": qcItemId,
            "QcItemName": qcItemName,
            "MakeCount": makeCount,
            "MeasureValue": $("input[id='txt" + qcItemName + "@(itemName)'][data-barcode-no='" + barcodeNo + "']").val(),
            "QcMachineModeId": qcMachineModeId,
            "QmmDetailId": qmmDetailId,
            "Remark": remark,
            "CreateUserId": UserId@(itemName)
        };

        tempQcItemJson.tempQcItemInfo.push(inputQcItemInfo);
    }

    function SettingAppearance@(itemName)() {
        $.each($("input[data-qc-item-type='2']"), function (i, t) {
            if ($(t).val() == "P") $(t).val("F");
            else $(t).val("P");

            let barcodeNo = $(t).data("barcode-no");
            let qcItemName = $(t).data("qc-item-name");

            let makeCount = $(t).data("make-count");
            let qcItemId = $(t).data("qc-item-id");
            let qcNoticeItemSpecId = $(t).data("qc-notice-item-spec-id");
            let qcMachineModeId = -1;
            let qmmDetailId = -1;
            let remark = "";
            $.each(tempQcItemJson.tempQcItemInfo, function (i, item) {
                if (item.BarcodeNo == barcodeNo && item.QcItemId == qcItemId && item.MakeCount == makeCount && item.QcNoticeItemSpecId == qcNoticeItemSpecId) {
                    qcMachineModeId = item.QcMachineModeId;
                    qmmDetailId = item.QmmDetailId;
                    remark = item.Remark;
                    tempQcItemJson.tempQcItemInfo.splice(i, 1);
                    return false;
                }
            });

            let inputQcItemInfo =
            {
                "QcNoticeItemSpecId": qcNoticeItemSpecId,
                "BarcodeNo": barcodeNo.toString(),
                "MoProcessId": parseInt('@MoProcessId'),
                "QcItemId": qcItemId,
                "QcItemName": qcItemName,
                "MakeCount": makeCount,
                //"MeasureValue": $("input[id='txt" + qcItemName + "@(itemName)'][data-barcode-no='" + barcodeNo + "'][data-qc-notice-item-spec-id='" + qcNoticeItemSpecId + "'][data-make-count='" + makeCount + "'][data-qc-item-id='" + qcItemId + "']").val(),
                "MeasureValue": $(t).val(),
                "QcMachineModeId": qcMachineModeId,
                "QmmDetailId": qmmDetailId,
                "Remark": remark,
                "CreateUserId": parseInt(UserId@(itemName))
            };

            tempQcItemJson.tempQcItemInfo.push(inputQcItemInfo);
        });
    }

    function GetUa3pShapeFilename@(itemName)(mtlItemName, itemSeq) {
        let ua3pShapeFilename = "";
        if (itemSeq == "") {
            ua3pShapeFilename = mtlItemName;
        }
        else if (mtlItemName.includes(" ")) {
            ua3pShapeFilename = mtlItemName.split(' ')[1];
            if (ua3pShapeFilename.includes("可")) {
                ua3pShapeFilename.replace("可", 'CORE');
            }
            if (ua3pShapeFilename.includes("固")) {
                ua3pShapeFilename.replace("固", 'CAVITY');
            }
            if (ua3pShapeFilename.includes("入子")) {
                ua3pShapeFilename.replace("入子", 'INSERT');
            }
            if (ua3pShapeFilename.includes("可動側入子") || ua3pShapeFilename.indexOf("可側入子")) {
                ua3pShapeFilename.replace("可動側入子", 'CORE-INSERT');
                ua3pShapeFilename.replace("可側入子", 'CORE-INSERT');
            }
            if (ua3pShapeFilename.includes("固定側入子") || ua3pShapeFilename.indexOf("固側入子")) {
                ua3pShapeFilename.replace("固定側入子", 'CAVITY-INSERT');
                ua3pShapeFilename.replace("固側入子", 'CAVITY-INSERT');
            }
            if (ua3pShapeFilename.includes("雷射咬花") || ua3pShapeFilename.indexOf("砂面")) {
                ua3pShapeFilename.replace("雷射咬花", 'LST');
                ua3pShapeFilename.replace("砂面", 'LST');
            }
            ua3pShapeFilename += "-" + itemSeq;
        }
        else {
            ua3pShapeFilename = mtlItemName;
        }

        return ua3pShapeFilename;
    }

    function GetBarcodeLettering@(itemName)(barcodeNo) {
        let targetUrl = "@Url.Action("GetBarcodeLettering", "ProductionHistory")";
        let postData = {
            "BarcodeNo": barcodeNo
        };

        let data = DataAccess.Get(targetUrl, postData, false);

        if (data.status == "success") {
            if (data.result.length > 0) {
                $.each(data.result, function (i, item) {
                    lettering = item.ItemValue;
                    letterSeq = item.ItemSeq;
                });
            }
        }
    }

    function Close@(itemName)(modalName) {
        $("#" + modalName + "").modal('hide');
    }
</script>
                    )