@using Business_Manager.Helpers
@{
    string itemName = "MesScanningInterfaceSupplier";
    string itemNameText = "供應商過站介面";
    string authority = ViewBag.authority;

    string MoId = "-1";
    string MoProcessId = "-1";
    string MachineId = "-1";
    string UserId = "-1";
    string OspDetailId = "-1";
    string UserNo = "";

    MoId = Request["MoId"];
    MoProcessId = Request["MoProcessId"];
    MachineId = Request["MachineId"];
    UserId = Request["UserId"];
    OspDetailId = Request["OspDetailId"];
    UserNo = Request["UserNo"];


    ViewBag.Title = itemNameText;
}
@Html.Resource("css",
    @<link href="@Url.Content("~/Content/mes_scan.min.css")?20220617v12" rel="stylesheet" />
                                                                                                                )
@Html.Resource("css",
    @<style>

         /*版頭設定*/
         .container-fluid {
             padding: 0;
             padding-right: 8px;
             padding-left: 8px;
         }

         .container_full {
             margin-top: 0;
         }

         .modal-header {
             padding: 0.5rem 1rem;
         }

         select.select3 {
             padding: 5px 10px;
             border-color: #c9cdcf;
             border-radius: 3px;
             height: 40px;
             width: 100%;
             outline: none;
         }

             select.select3:focus-visible {
                 border: 1px solid #a768f3;
                 outline: none;
             }

         .lot-scanner {
             display: flex;
         }

        .modal-item-content {
            margin-bottom: 15px;
            display: flex;
            flex-direction: column;
        }
            .modal-item-content label {
                font-weight: 600;
            }

        .qc-btn {
            padding: 12px;
            background: #f1ede6;
            border-radius: 12px;
            color: #7d7d7d;
            font-weight: 600;
        }

        .qc-choose {
            display: flex;
            justify-content: flex-start;
        }

        /*條碼資訊業CSS*/

        .table-platform-sticky tr:nth-child(odd) {
            background-color: #f1f5fd;
        }

        .table-platform-sticky tr:nth-child(even) {
            background-color: #f9f9f9;
        }
    </style>
                                                                                                                )

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="mes_content" id="MesScanningInterface">
    <div class="col-12">
        <div class="infonfunc card-body">
            <div class="row">
                <!-- 左方列表 -->
                <div class="mes_info col-xs-12 col-sm-12 col-md-7" style="" id="divMoInfo">
                    <div class="row">
                        <div class="" style="width:45%;">
                            <ul style="margin-bottom: 5px;">
                                <li class="list-btn-block">
                                    <div class="" style="">
                                        <p>製令</p>
                                        <h2 id="txtWoErpNo@(itemName)"></h2>
                                    </div>
                                    <div class="" style="height: 40px;">
                                        
                                    </div>
                                </li>
                                <li>
                                    <p>品名</p>
                                    <h2 id="txtMtlItemName@(itemName)"></h2>
                                </li>
                                <li>
                                    <p>品號</p>
                                    <h2 id="txtMtlItemNo@(itemName)"></h2>
                                </li>
                                <li style="border-bottom:0;">
                                    <p>數量</p>
                                    <h2 id="txtQuantity@(itemName)"></h2>
                                </li>
                            </ul>
                        </div>
                        <div style="width:55%">
                            <ul style="margin-bottom: 5px;">
                                <li class="list-btn-block">
                                    <div class="" style="">
                                        <p>托外單據</p>
                                        <h2 id="txtOspNo@(itemName)"></h2>
                                    </div>
                                    <div class="" style="">
                                        <a class="btn-change btn" id="ChangeButton" href="">
                                            更換
                                            <i class="fas fa-exchange-alt"></i>
                                        </a>
                                    </div>
                                </li>
                                <li class="list-btn-block">
                                    <div class="" style="">
                                        <p>站別</p>
                                        <h2 id="txtProcessAlias@(itemName)"></h2>
                                    </div>
                                </li>
                                <li class="list-btn-block">
                                    <div class="" style="">
                                        <p>加工代碼</p>
                                        <h2 id="txtProcessCode@(itemName)"></h2>
                                    </div>
                                </li>
                                <li class="list-btn-block">
                                    <div class="" style="">
                                        <p>預計交期</p>
                                        <h2 id="txtExpectedDate@(itemName)"></h2>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div style="width:55%">
                        </div>
                    </div>
                </div>
                <!-- 右方按鈕 -->
                <div class="col-xs-12 col-sm-12  col-md-5 pl-0 pr-1">
                    <div class="function-content">
                        <div class="function-item">
                            <div class="swipe">
                                <ul class="nav" style="">
                                    <li>
                                        未生產量
                                        <strong style="color:#E77891" id="ProcessQty@(itemName)"></strong>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="function-item2" style="display:flex;justify-content:space-around">
                            <div class="btn-group function-block">
                                <h2 class="mt-1 mb-1" style="line-height:32px;">機台操作</h2>
                                <a id="aAdvancedFunction@(itemName)" class="btn btn-set" style="background-color: #34BFA3;" href="javascript: GetBarcodeMoprocess@(itemName)();" @*data-toggle="modal" data-target="#advanced" data-backdrop="static"*@>
                                    條碼資訊
                                </a>
                            </div>
                            <div class="btn-group function-block">
                                <h2 class="mt-1 mb-1" style="line-height:32px;">過站操作</h2>

                                <a id="aAdvancedFunction@(itemName)" class="btn btn-set" style="background-color: #34BFA3;" href="javascript: GetAdvancedList@(itemName)();" @*data-toggle="modal" data-target="#advanced" data-backdrop="static"*@>
                                    進階功能
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <main class="mes_table_wrapper">
        <div class="row">
            <div class=" col-12">
                <div class="card card-shadow">
                    <div class="table-outer">
                        <table id="tblData@(itemName)" class="table-platform-sticky">
                            <thead>
                                <tr class="headerrow">
                                    <th scope="col" width="35%">
                                        <form></form>
                                        <div class="form-row align-items-center">
                                            <div class="col-auto">
                                                <label class="sr-only" for="txtBarcodeNo@(itemName)">請輸入主條碼</label>
                                                <div class="input-group ">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            <div class="check-follow">
                                                                <input type="checkbox" id="followBarcode" checked="">
                                                                <div class="state p-off">
                                                                    <i class="far fa-lightbulb"></i>
                                                                    <label style="text-indent: 0px;">跟</label>
                                                                </div>
                                                                <div class="state p-on" style="color: #ff0000;">
                                                                    <i class="fas fa-lightbulb"></i>
                                                                    <label style="text-indent: 0px;">首</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <input type="text" class="form-control" id="txtBarcodeNo@(itemName)" placeholder="請輸入主條碼">
                                                </div>
                                            </div>
                                        </div>

                                    </th>
                                    <th scope="col">數量</th>
                                    <th scope="col">開始時間</th>
                                    <th scope="col">結束時間</th>
                                    <th scope="col">操作</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>


<div class="modal fade advanced-section" style="" id="modalBarcodeList@(itemName)">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="go-back " data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-arrow-left"></i></span>
                </button>
            </div>
            <div class="modal-body" id="BarcodeList@(itemName)" style="padding:0;max-height:100vh;">
                <div class="table-outer table-advanced">
                    <table class="table-platform-sticky" id="tblBarcodeList@(itemName)">
                        <thead>
                            <tr class="headerrow">
                                <th scope="col" width="20%">條碼</th>
                                <th scope="col" width="15%">狀態</th>
                                <th scope="col" width="10%">數量</th>
                                <th scope="col" width="15%">上製程</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="close-block" style="">
                    <button class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade advanced-section" style="" id="modalAdvancedList@(itemName)">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="go-back " data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-arrow-left"></i></span>
                </button>
                <div class="input-group" style="">
                    <div class="col-lg-2 col-md-2 col-6 pl-1 pr-1">
                        <h6>請輸入搜尋資訊</h6>
                    </div>
                    <div class="col-lg-2 col-md-2 col-6 pl-1 pr-1">
                        <input type="text" class="form-control form-dark" id="txtBarcodeNoQ@(itemName)" name="" placeholder="請輸入條碼">
                    </div>
                    <div class="col-lg-2 col-md-2 col-6 pl-1 pr-1" style="margin-top: 2px;">
                        <a class="btn btn-primary ml-1" data-backdrop="static" data-keyboard="false" href="javascript:Query@(itemName)();">
                            <i class="fal fa-search"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="modal-body" id="listData@(itemName)" style="padding:0;max-height:100vh;">
                <div class="table-outer table-advanced">
                    <table class="table-platform-sticky" id="tblNotLotData@(itemName)">
                        <thead>
                            <tr class="headerrow">
                                <th scope="col" class="text-center" style="min-width: 115px;">
                                    <label class="col-12 col-form-label">
                                        全選 <input type="checkbox" id="cbxNotLotSelectAll@(itemName)" />
                                    </label>
                                </th>
                                <th scope="col" width="20%">條碼</th>
                                <th scope="col" width="15%">狀態</th>
                                <th scope="col" width="10%">數量</th>
                                <th scope="col" width="15%">下製程</th>
                                <th scope="col" width="20%">開始時間</th>
                                <th scope="col" width="20%">結束時間</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="close-block" style="">
                    <button class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="loadingdiv" id="loading" style="display: none">
    <img src="~/assets/images/new-loading.gif" style="width: 75px;" />
</div>


@Html.Resource("js",
    @<script>

        $(document).ready(function () {
            var Ospweb = "@Url.Action("ProductionHistoryForSupplier", "MesPlatform")"

            GetOspDetailData@(itemName)(@OspDetailId);

            Return@(itemName)();

            // 更換按鈕替換 加工廠商專用網址
            $("#ChangeButton").attr("href", Ospweb);
            
            $("#txtBarcodeNo@(itemName)").keydown(function (event) {
                if (event.keyCode == 13) {
                    BarcodeProcess@(itemName)();
                }
            });

            $(window).keydown(function (event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    return false;
                }
            });
        });

        //取得過站介面基礎資訊
        function GetOspDetailData@(itemName)(OspDetailId) {
            let targetUrl = "@Url.Action("GetOspDetailData", "OutsourcingProduction")";
            let postData = {
                "OspDetailId": OspDetailId
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                $.each(data.result, function (i, item) {
                    var WoFullNo = item.WoFullNo;
                    var MtlItemNo = item.MtlItemNo;
                    var MtlItemName = item.MtlItemName;
                    var OspNo = item.OspNo;
                    var ProcessAlias = item.ProcessAlias;
                    var Quantity = item.Quantity;
                    var ProcessCode = item.ProcessCodeName + `(${item.ProcessCode})`;
                    var ExpectedDate = item.ExpectedDate;

                    $("#txtWoErpNo@(itemName)").html(WoFullNo);
                    $("#txtMtlItemNo@(itemName)").html(MtlItemNo);
                    $("#txtMtlItemName@(itemName)").html(MtlItemName);
                    $("#txtOspNo@(itemName)").html(OspNo);
                    $("#txtProcessAlias@(itemName)").html(ProcessAlias);
                    $("#txtProcessCode@(itemName)").html(ProcessCode);
                    $("#txtExpectedDate@(itemName)").html(ExpectedDate);
                    $("#txtQuantity@(itemName)").html(Quantity);
                });
            } else {
                alert(data.msg, "alert", 5000);
            }
        }

        //更新在製數量
        function UpdateProcessQty(MoProcessId) {
            //取得待加工數
            let targetUrl = "@Url.Action("GetProcessQty", "OutsourcingProduction")";
            let postData = {
                "MoProcessId": MoProcessId
            };
            let data = DataAccess.Get(targetUrl, postData, false);
            if (data.status == "success") {
                $.each(data.result, function (i, item) {
                    $("#ProcessQty@(itemName)").html(item.ProcessQty);
                });
            } else {
                alert(data.msg, "alert", 1000);
            }
        }

        //條碼送出過站
        function BarcodeProcess@(itemName)() {
            var BarcodeNo = $("#txtBarcodeNo@(itemName)").val()
            if (BarcodeNo == "" || BarcodeNo == "-1")
            {
                alert("主條碼不可為空", "alert", 5000);
            }
            else
            {
                let targetUrl = "@Url.Action("TxBarcodeProcess", "OutsourcingProduction")";
                let postData = {
                    "BarcodeNo": BarcodeNo,
                    "MoProcessId": @MoProcessId,
                    "MachineId": @MachineId,
                    "UserNo": '@UserNo'
                };
                let data = DataAccess.Update(targetUrl, postData, false, false);
                if (data) {
                    alert("條碼輸入成功!", "success", 2500);
                    Return@(itemName)();
                }
                else {
                    alert(data.msg, "alert", 5000);
                }

                BarcodeNo = $("#txtBarcodeNo@(itemName)").val();
                $("#txtBarcodeNo@(itemName)").val("");
            }
        }
        
        //條碼刷開工後列表顯示
        function GetActiveBarcode@(itemName)() {
            let innerHtml = '';
            console.log("A")
            $("#tblData@(itemName) tbody").empty();
            let targetUrl = "@Url.Action("GetActiveBarcode", "OutsourcingProduction")";
            let postData = {
                "MoProcessId": '@MoProcessId'
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data) {
                if (data.status == "success") {
                    if (data.result.length > 0) {
                        $.each(data.result, function (i, item) {
                            //let lettering = GetBarcodeLettering@(itemName)(item.BarcodeNo);
                            innerHtml = `<tr class="line-even">
                                            <th>
                                                <p>${item.BarcodeNo}</p>
                                                ${JudgeTrayBarcode@(itemName)(`${item.TrayBarcode}`, `${item.TrayNo}`)}
                                                ${JudgeItemValue@(itemName)(`${item.ItemValue}`)}
                                            </th>
                                            <td>${item.BarcodeQty}</td>
                                            <td>${item.StartDate}</td>
                                            <td>${item.FinishDate}</td>
                                            <td>
                                                <div id="${item.BarcodeNo}" class="btn-work-block">
                                                </div>
                                            </td>
                                          </tr>`;

                            BarcodeNoList.push(item.BarcodeNo);
                            $("#tblData@(itemName) tbody").append(innerHtml);
                            //GetWorkSet@(itemName)(item.BarcodeNo);
                            //加工

                            function JudgeTrayBarcode@(itemName)(trayBarcode, trayNo) {
                                let innerHtml = '';
                                if (trayBarcode == "Y") {
                                    innerHtml += `<p>(${trayNo})</p>`;
                                }
                                return innerHtml;
                            }

                            function JudgeItemValue@(itemName)(itemValue) {
                                let innerHtml = '';
                                if (itemValue != "null") {
                                    let itemValueJson = JSON.parse(itemValue);
                                    $.each(itemValueJson["data"], function (k, item2) {
                                        innerHtml += `<code>${item2.ItemValue}</code><br>`;
                                    });
                                }

                                return innerHtml;
                            }
                        });
                    }
                    TableComponentInit();
                }
            }
        }

        function GetBarcodeMoprocess@(itemName)() {
            $("#modalBarcodeList@(itemName)").modal("show");


            let targetUrl = "@Url.Action("GetBarcodeMoprocess", "OutsourcingProduction")";
            let postData = {
                "NextMoProcessId": '@MoProcessId'
            };

            let data = DataAccess.Get(targetUrl, postData, false);
            let innerHtml = '';

            if (data.status == "success") {
                $.each(data.result, function (i, item) {
                    innerHtml += `<tr >
                                    <td >${item.BarcodeNo} </br> <code>${item.ItemValue}</code></td>
                                    <td >${item.CurrentProdStatus}</td>
                                    <td >${item.BarcodeQty}</td>
                                    <td >${item.ProcessAlias}</td>
                                  </tr>`;
                });
            }
            else {
                innerHtml += `<tr>
                                <td class="text-center" colspan="4" style="background-color: #fff3cd;">
                                        <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
            }

            $("#tblBarcodeList@(itemName) tbody").html(innerHtml);
        }

        function GetAdvancedList@(itemName)() {
            $("#modalAdvancedList@(itemName)").modal("show");
            let innerHtml = '';
            let targetUrl = "";
            let postData;
            let data;
            if ('@MoProcessId') { //有條碼且為非批量條碼 EX:模仁

                targetUrl = "@Url.Action("GetBarcodeProcess", "OutsourcingProduction")";
                postData = {
                    "MoProcessId": '@MoProcessId',
                    "BarcodeNo": $("#txtBarcodeNoQ@(itemName)").val()
                };
                data = DataAccess.Get(targetUrl, postData, false);

                if (data.result.length > 0) {
                    let trClass = "";
                    $.each(data.result, function (i, item) {
                        if (i % 2 == 0) trClass = "line-odd";
                        else trClass = "line-even";
                        //<option value="S" ${item.CurrentProdStatus == `S` ? `selected` : ``}>報廢</option>
                        innerHtml += `<tr class="${trClass}">
                                         <td class="text-center">
                                            <label class="control control-solid control-solid-info control--checkbox">
                                                ${i + 1}. <input type="checkbox" data-barcode-no="${item.BarcodeNo}" value="${item.BarcodeProcessId}" />
                                                <span class="control__indicator"></span>
                                            </label>
                                        </td>
                                        <th>
                                            <p>${item.BarcodeNo}</p>
                                            ${JudgeTrayBarcode@(itemName)(`${item.TrayBarcode}`, `${item.TrayNo}`)}
                                            ${JudgeItemValue@(itemName)(`${item.ItemValue}`)}
                                        </th>
                                        <td>
                                            <select id="cboProdStatus@(itemName)" class="form-control" onChange="NotLotChangeProdStatus@(itemName)('${item.BarcodeProcessId}', this, '${item.BarcodeNo}')">
                                                <option value="P" ${item.CurrentProdStatus == `P` ? `selected` : ``}>良品</option>
                                                <option value="S" ${item.CurrentProdStatus == `S` ? `selected` : ``}>報廢品</option>
                                            </select>
                                        </td>
                                        <td>${item.StationQty}</td>
                                        <td>
                                            <select id="cboNextMoProcess@(itemName)" class="form-control cboBarcode${item.BarcodeNo}" data-barcode-no="${item.BarcodeNo}" data-next-mo-process-id="${item.NextMoProcessId}" onChange="ChangeNextMoProcessFnc@(itemName)('${item.BarcodeNo}', this)"></select>
                                        </td>
                                        <td>${item.StartDate}</td>
                                        <td>${item.FinishDate}</td>
                                      </tr>`;

                        function JudgeTrayBarcode@(itemName)(trayBarcode, trayNo) {
                            let innerHtml = '';
                            if (trayBarcode == "Y") {
                                innerHtml += `<code>(${trayNo})</code>`;
                            }
                            return innerHtml;
                        }

                        function JudgeItemValue@(itemName)(itemValue) {
                            let innerHtml = '';
                            if (itemValue != "null") {
                                let itemValueJson = JSON.parse(itemValue);
                                $.each(itemValueJson["data"], function (k, item2) {
                                    innerHtml += `<code>${item2.ItemValue}</code><br>`;
                                });
                            }

                            return innerHtml;
                        }
                    });
                }

                $("#tblNotLotData@(itemName) tbody").html(innerHtml);
                TableComponentInit();

                $.each($("select[id='cboNextMoProcess@(itemName)']"), function (i) {
                    let barcodeNo = $(this).data("barcode-no");
                    let nextMoProcessId = $(this).data("next-mo-process-id");
                    ComboBoxs.Default("select[id='cboNextMoProcess@(itemName)'][data-barcode-no='" + barcodeNo + "']", "@Url.Action("GetOspMoProcess", "OutsourcingProduction")", { "OspDetailId": '@OspDetailId' }, "" + nextMoProcessId + "", "NA", "", "ProcessAlias", "MoProcessId");
                    $("select[id='cboNextMoProcess@(itemName)'][data-barcode-no='" + barcodeNo + "']").val(nextMoProcessId);
                    

                });
            }
        }

        function ChangeNextMoProcessFnc@(itemName)(barcodeNo, e) {
            swal.fire({
                titleText: "確認要更改下製程嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {

                    barcodeNoList@(itemName) = [];
                    $.each($("input[type='checkbox'][data-barcode-no]:checked"), function (i) {
                        let barcodeNo = $(this).data("barcode-no");
                        $.each(barcodeNoList@(itemName), function (i, item) {
                            if (item == barcodeNo) {
                                barcodeNoList@(itemName).splice(i, 1);
                                return false;
                            }
                        });

                        barcodeNoList@(itemName).push(barcodeNo);
                    });

                    if (barcodeNoList@(itemName).length <= 0) barcodeNoList@(itemName).push(barcodeNo);

                    console.log(barcodeNoList@(itemName))
                    let targetUrl = "@Url.Action("UpdateOspNextMoProcessForLotMode", "OutsourcingProduction")";
                    let postData = {
                        "OspDetailId": '@OspDetailId',
                        "BarcodeNoListString": barcodeNoList@(itemName).toString(),
                        "MoProcessId": '@MoProcessId',
                        "NewMoProcessId": $(e).val()
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                        ReturnMesScanningInterface();
                    }
                }
                else {
                    Query@(itemName)();
                }
            });
        }

        function Return@(itemName)() {
            BarcodeNoList = [];
            //檢查此製令此製程尚未完工條碼
            GetActiveBarcode@(itemName)();

            //更新未生產量
            UpdateProcessQty(@MoProcessId);
        }
    </script>
                                                                                                )
