@using Business_Manager.Helpers
@{
    string itemName = "ToolTrade";
    string itemNameText = "工具異動交易";
    string authority = ViewBag.authority;

    string ToolNo = "-1";
    string UserId = "-1";
    string ToolLocatorId = "";
    string ToolInventoryId = "";


   //ToolId = Request["ToolId"];
    UserId = Request["UserId"];
    ToolLocatorId = Request["ToolLocatorId"];
    ToolInventoryId = Request["ToolInventoryId"];
}
@Html.Resource("css",
    @<link href="@Url.Content("~/Content/mes_scan.min.css")?20220617v12" rel="stylesheet" />
                                                                        )
@Html.Resource("css",
    @<style>

         /*版頭設定*/
         .container-fluid {
             padding: 0;
             padding-right: 8px;
             padding-left: 8px;
         }

         .container_full {
             margin-top: 0;
         }

         .modal-header {
             padding: 0.5rem 1rem;
         }

         select.select3 {
             padding: 5px 10px;
             border-color: #c9cdcf;
             border-radius: 3px;
             height: 40px;
             width: 100%;
             outline: none;
         }

             select.select3:focus-visible {
                 border: 1px solid #a768f3;
                 outline: none;
             }

         .toolDetail {
             display: flex;
             justify-content: space-around;
             flex-wrap: wrap;
         }

         .toolItem {
             width: 50%
         }
    </style>
                                                                        )

<input type="hidden" id="pageAuthority" value="@authority" />
<input type="hidden" id="ToolId" value="" />

<div class="mes_content" id="MesScanningInterface">
    <div class="col-12">
        <div class="infonfunc card-body">
            <div class="row">
                <!-- 左方列表 -->
                <div class="mes_info col-xs-12 col-sm-12 col-md-7" style="" id="divMoInfo">
                    <div class="row">
                        @*<div class="" style="width:45%;">
                                <ul style="margin-bottom: 5px;">
                                    <li class="list-btn-block">
                                        <div class="" style="">
                                            <p>工具編號</p>
                                            <h2 id="txtToolNo@(itemName)"></h2>
                                        </div>
                                        <div class="" style="">
                                            <a class="btn-change btn" href="ToolChoose">
                                                更換
                                                <i class="fas fa-exchange-alt"></i>
                                            </a>
                                        </div>
                                    </li>
                                    <li>
                                        <p>工具品名</p>
                                        <h2 id="txtToolModelName@(itemName)"></h2>
                                    </li>
                                    <li>
                                        <p>工具型號</p>
                                        <h2 id="txtToolModelNo@(itemName)"></h2>
                                    </li>
                                    <li>
                                        <p>供應商</p>
                                        <h2 id="txtSupplierName@(itemName)"></h2>
                                    </li>
                                </ul>
                            </div>*@
                        <div style="width:100%">
                            <ul>
                                <li class="list-btn-block">
                                    <div class="" style="">
                                        <p>目前儲位</p>
                                        <h2 id="txtToolLocatorName@(itemName)"></h2>
                                    </div>
                                    <div class="" style="">
                                        <p>目前入庫數</p>
                                        <h2 id="txtToolCount@(itemName)"></h2>
                                    </div>
                                    <div class="" style="display:flex;flex-direction:row;">
                                        <a style="margin-bottom: 5px;" class="btn-change btn mr-2" href="/ProductionHistory">
                                           回首頁
                                        </a>
                                        <a style="margin-bottom: 5px;" class="btn-change btn mr-2" onclick="javascript:Logout@(itemName)();">
                                           登出<i class="fa fa-sign-out ml-1" style=""></i>
                                        </a>

                                    </div>
                                </li>
                                <li>
                                    <p>目前倉庫</p>
                                    <h2 id="txtToolInventoryName@(itemName)"></h2>
                                    
                                </li>
                                <li>
                                    <p>目前車間</p>
                                    <h2 id="txtShopName@(itemName)"></h2>
                                </li>
                                <li class="list-btn-block">
                                    <div class="" style="width:42.5%">
                                        <p>操作人員</p>
                                        <h2 id="txtUserNo@(itemName)"></h2>
                                    </div>

                                    <div class="" style="width:57.5%">
                                        <p>目前已刷入</p>
                                        <h2 id="txtToolSucessIn@(itemName)">尚未刷取</h2>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- 右方按鈕 -->
                <div class="col-xs-12 col-sm-12  col-md-5 pl-0 pr-1">
                    <div class="function-content">

                        <div class="function-item2">
                            <div class="machine-block" style="width:100%;">
                                <h2 class="mt-1 mb-1">工具相關資料</h2>
                                <div class="line toolDetail">
                                    <a id="toolSpecLog@(itemName)" class="btn-machine btn mt-2" href="javascript: void(0);">
                                        當前儲位工具明細
                                        <i class="fas fa-exchange-alt  ml-1"></i>
                                    </a>
                                    <a id="toolTransactions@(itemName)" class="btn-machine btn mt-2" href="javascript: void(0);">
                                        該工具交易紀錄
                                        <i class="fas fa-exchange-alt  ml-1"></i>
                                    </a>

                                    @*<a id="toolMap@(itemName)" class="btn-machine btn mt-2" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalView@(itemName)"
           href="javascript:void(0);" onclick="ViewToolMap@(itemName)()">
            階層圖
            <i class="fas fa-exchange-alt  ml-1"></i>
        </a>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <main class="mes_table_wrapper">
        <div class="row">
            <div class=" col-12">
                <div class="card card-shadow">
                    <div class="card-body">
                        <form class="container" autocomplete="off" id="editForm@(itemName)">
                            <fieldset>
                                <input type="hidden" id="ToolTransactionsId" name="ToolTransactionsId" value="-1" />

                                <div class="input-group">
                                    <span class="input-group-addon font18" id="basic-addon13">
                                        <i class="fa fa-paint-brush" style="padding-right: 5px;"></i> 工具交易原因
                                    </span>
                                    <input type="text" class="form-control" id="txtTransactionReason@(itemName)" name="txtTransactionReason@(itemName)" placeholder="請輸入工具交易原因"
                                           data-msg-required="請輸入工具交易原因"
                                           data-msg-maxlength="必須少於 100 個字元" maxlength="100" />
                                </div>

                                <div class="input-group">
                                    <span class="input-group-addon font18" id="basic-addon13">
                                        <i class="fa fa-paint-brush" style="padding-right: 5px;"></i> 該工具加工數
                                    </span>
                                    <input type="text" class="form-control form-control-add" id="txtToolProcessCount@(itemName)"
                                           aria-describedby="basic-addon13" placeholder="請輸入該工具加工數">
                                </div>

                                <div class="input-group">
                                    <span class="input-group-addon font18" id="basic-addon13">
                                        <i class="fa fa-paint-brush" style="padding-right: 5px;"></i> 工具編號
                                    </span>
                                    <input type="text" class="form-control form-control-add" id="txtToolKey@(itemName)"
                                           aria-describedby="basic-addon13" placeholder="請輸入工具編號">
                                </div>




                            </fieldset>
                        </form>
                    </div>
                    <div class="card-footer text-center text-lg-right">
                        <button type="button" class="btn btn-success" onclick="history.back()"><i class=""></i>回上一頁</button>
                    </div>

                </div>
            </div>
        </div>
    </main>
</div>

<!--檢視-途程站別-->
<div class="modal fade" id="modalView@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary list-mode" onclick="Close@(itemName)()"><i class="fas fa-times"></i>關閉</button>
            </div>
        </div>
    </div>
</div>


@*<!-- 彈窗 更換狀態 -->
    <div class="modal fade" id="changeStatus">
        <div class="modal-dialog" style="padding-top:7%;">
            <div class="modal-content working-content" style="min-width:350px;">
                <div class="modal-header" style="align-items: center;">
                    <h5 class="modal-title">更換人員</h5>
                    <button class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <div class="col-12 mb-3" style="padding:1rem;background:#eee;">
                                <h5>當前使用者：ZY101099</h5>
                                <div class="btn" style="width:100%">
                                    <select name="toy" class="select3 select2-selection select2-selection--multiple" style="">
                                        <option value="">-- 操作中 --</option>
                                        <option>休息中</option>
                                        <option>休息中</option>
                                        <option>休息中</option>
                                    </select>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <button type="button" class="btn btn-lg btn-block btn-working btn-start">
                                開始
                            </button>
                        </div>
                        <div class="col-6">
                            <button type="button" data-dismiss="modal" class="btn  btn-lg btn-block btn-working btn-end">
                                結束
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="input-group" style="">
                            <label class="input-group-addon" for="basic-addon" style="">
                                <i class="fa fa-id-card mr-1"></i>
                                <span style="padding-left: 5px;">員工編號</span>
                            </label>
                            <input type="text" class="form-control form-control-add" id="basic-addon" placeholder="請輸入員工編號">
                        </div>
                    </form>
                </div>
                <!-- <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                </div>-->
            </div>
        </div>
    </div>

    <!-- 彈窗 更換人員 -->
    <div class="modal fade" id="changeMember">
        <div class="modal-dialog" style="padding-top:7%;">
            <div class="modal-content working-content" style="min-width:350px;">
                <div class="modal-header" style="align-items: center;">
                    <h5 class="modal-title">更換人員</h5>
                    <button class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="input-group" style="">
                            <label class="input-group-addon" for="basic-addon" style="">
                                <i class="fa fa-id-card mr-1"></i>
                                <span style="padding-left: 5px;">員工編號</span>
                            </label>
                            <input type="text" class="form-control form-control-add" id="txtAccount@(itemName)" placeholder="請輸入員工編號">
                        </div>
                    </form>
                </div>
                <!-- <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                </div>-->
            </div>
        </div>
    </div>*@

@Html.Partial("ViewToolTradeLog")
@Html.Partial("ViewToolSpecLog")


@Html.Resource("js",
@<script>
    let BarcodeNo = "";
    let ToolNo = "";
    let ToolId = "";
    let ToolLocatorId = @ToolLocatorId;
    let IsLimit = "";
    var LastToolId = "-1";
    let objForm@(itemName) = "#editForm@(itemName)";
    //let objForm2@(itemName) = "#editForm2@(itemName)";

    $(document).ready(function () {
        //左上方列表

       User@(itemName)();
        ToolInventory@(itemName)();
        ToolLocator@(itemName)();
        GetToolCountInLocator@(itemName)();
        GetLocatorTool@(itemName)();

         //日期欄位 Suites.DateDropper(功能開啟) Suites.SetDateDropper(日期設置)
        Suites.DateDropper("#txtTransactionDate@(itemName)");
        //開單日預設今日
        let currentDate = new Date();
        Suites.SetDateDropper("#txtTransactionDate@(itemName)", currentDate);


        if (!isMobile) {
            $("#cboToolInventory@(itemName), #cboToolLocator@(itemName), #cboTransactionType@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });
        }
        $("#toolSpecLog@(itemName)").prop("href", `javascript: PopViewToolSpecLog('${ToolLocatorId}', '${ToolNo}')`)
        //Return@(itemName)();


    });

    $("#txtToolKey@(itemName)").keydown(function (event) {
        var keycode = (event.keyCode ? event.keyCode : event.which); 

        if (keycode == 13) {
            ToolNo = $("#txtToolKey@(itemName)").val(); 
            $("#txtToolKey@(itemName)").val("");
            if (ToolNo.toUpperCase() == "OK") {
                window.history.back();
            } else {
                ViewToolMap@(itemName)(ToolNo); 
                Save@(itemName)();
            }
            
            
        }
    });

    @*function InitData@(itemName)() {

        let targetUrl = "@Url.Action("GetToolTrade", "Tool")";
        let postData = {
            "ToolNo": ToolNo,
            "Source": "ToolTrade",
        };

        let data = DataAccess.Get(targetUrl, postData, false);
        if (data.status == "success") {
            $.each(data.result, function (i, item) {
                ToolNo = item.ToolNo;
               
            });
        } else {
            alert(data.msg, "alert", 1000);
        }
    }*@

    function User@(itemName)() {
        let targetUrl = "@Url.Action("GetUser", "ProductionHistory")";
        let postData = {
            "UserId": @UserId
        };
        let data = DataAccess.Get(targetUrl, postData, false);
        if (data.status == "success") {
            $.each(data.result, function (i, item) {
                $("#txtUserNo@(itemName)").html(item.UserName + "(" + item.UserNo+")");
            });
        } else {
            alert(data.msg, "alert", 1000);
        }
    }

    function Save@(itemName)() {
        var UserId = @UserId;
        let targetUrl = "@Url.Action("AddToolTransactions", "Tool")";
        var now = new Date();
        var formatted = now.getFullYear().toString() + "-" +
            (now.getMonth() + 1).toString().padStart(2, '0') + "-" +
            now.getDate().toString().padStart(2, '0') + " " +
            now.getHours().toString().padStart(2, '0') + ":" +
            now.getMinutes().toString().padStart(2, '0') + ":" +
            now.getSeconds().toString().padStart(2, '0') + ":" +
            now.getMilliseconds().toString().padStart(3, '0');

        let postData = {
            "ToolId": ToolId,
            "TransactionDate": formatted,
            "TransactionType": 'In',
            "ToolLocatorId": @ToolLocatorId ,
            "TransactionReason": $("#txtTransactionReason@(itemName)").val(),
            "TraderId": UserId,
            "IsLimit": IsLimit,
            "LastToolId": LastToolId,
            "ProcessingQty": $("#txtToolProcessCount@(itemName)").val()
        };
        let result = DataAccess.Add(targetUrl, postData, false, false);
        if (result) {
            $("#toolTransactions@(itemName)").prop("href", `javascript: PopViewToolTradeLog('${ToolId}', '${ToolNo}')`);
            GetToolCountInLocator@(itemName)();
            LastToolId = ToolId
            $("#txtToolSucessIn@(itemName)").html(ToolNo);
        } else {
            alert(data.msg, "alert", 1000);
        }
    }

    $(window).keydown(function (event) {
        if (event.keyCode == 13) {
            event.preventDefault();
            return false;
        }
    });


    function Close@(itemName)() {
        $("#modalView@(itemName)").modal("hide");
    }

    function ViewToolMap@(itemName)() {
        if (ToolNo.length > 0) {
            let targetUrl = "@Url.Action("GetTool", "Tool")";
            let postData = {
                "ToolNo": ToolNo
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                if (data.result.length > 0) {

                    if (data.result.length == 0) {
                    }
                    else {
                        $.each(data.result, function (i, item) { 
                            ToolId = item.ToolId;
                            $("#toolTransactions@(itemName)").prop("href", `javascript: PopViewToolTradeLog('${ToolId}', '${ToolNo}')`);
                        });
                    }

                }

            } else {
                alert(data.msg, "alert", 0);
            }
        } else {
            alert("請先刷工具條碼", "alert", 0);
        }
        
    }

    function Logout@(itemName)() {
        let targetUrl = "@Url.Action("Logout", "User")";
        let postData = {
        };

        var result = DataAccess.Update(targetUrl, postData, false, false);

        if (result) window.location.reload();
    }

    @*function Return@(itemName)() {
        ComboBoxs.Default("#cboToolInventory@(itemName)", "@Url.Action("GetToolInventory", "Tool")", "", "", "NA", "", "ToolInventoryName", "ToolInventoryId");
        ComboBoxs.Default("#cboToolLocator@(itemName)", "@Url.Action("GetToolLocator", "Tool")", "", "", "NA", "", "ToolLocatorName", "ToolLocatorId");
        //開單日預設今日
        let currentDate = new Date();
        Suites.SetDateDropper("#txtTransactionDate@(itemName)", currentDate);
        $("#cboToolInventory@(itemName)").val("");
        $("#cboToolLocator@(itemName)").val("");
        $("#txtTransactionReason@(itemName)").val("");
        InitData@(itemName)(@ToolId);
    }*@

    function ToolInventory@(itemName)() {
        let targetUrl = "@Url.Action("GetToolInventory", "Tool")";
        let postData = {
            "ToolInventoryId": @ToolInventoryId,
            "Status": "A"
        };
        let data = DataAccess.Get(targetUrl, postData, false);
        if (data.status == "success") {
            $.each(data.result, function (i, item) {
                $("#txtToolInventoryName@(itemName)").html(item.ToolInventoryName);
                $("#txtShopName@(itemName)").html(item.ShopName);

            });
        } else {
            alert(data.msg, "alert", 1000);
        }
    }

    function ToolLocator@(itemName)()  {


        let targetUrl2 = "@Url.Action("GetToolLocator", "Tool")";
        let postData2 = {
            "ToolLocatorId": @ToolLocatorId,
            "Status": "A"
        };
        let data = DataAccess.Get(targetUrl2, postData2, false);
        if (data.status == "success") {
            $.each(data.result, function (i, item) {
                IsLimit = item.LimitStatus
                $("#txtToolLocatorName@(itemName)").html(item.ToolLocatorName);
            });
            
        } else {
            alert(data.msg, "alert", 1000);
        }


    }

    function GetToolCountInLocator@(itemName)() {
        let targetUrl = "@Url.Action("GetToolCountInLocator", "Tool")";
        let postData = {
            "ToolLocatorId": @ToolLocatorId
        };
        let data = DataAccess.Get(targetUrl, postData, false);
        if (data.status == "success") {
            if (data.result.length == 0) {
                $("#txtToolCount@(itemName)").html(0);
            } else {
                $.each(data.result, function (i, item) {
                    if (item.ToolCount != null) {
                        $("#txtToolCount@(itemName)").html(item.ToolCount);
                    } else {
                        $("#txtToolCount@(itemName)").html(0);
                    }
                   
            });
            }
            
        } else {
            alert(data.msg, "alert", 1000);
        }
    }

    function GetLocatorTool@(itemName)() {

            let targetUrl = "@Url.Action("GetLocatorTool", "Tool")"; 
            let postData = {
                "ToolLocatorId": @ToolLocatorId
            };
            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                if (data.result.length  > 0) {
                    LastToolId = data.result[0]["ToolId"]
                }
            } else {
                alert(data.msg, "alert", 0);
            }
        }
</script>
                        ) 