@using Business_Manager.Helpers
@{
    string itemName = "ViewNgBom";
    string itemNameText = "NG物料管理";
    string authority = ViewBag.authority;

    ViewBag.Title = itemNameText;

}

@Html.Resource("css",
    @<style>
    </style>
                        )

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="" style="padding-left: 0px;">
            <select class="form-control" id="language-select" style="width : 100%">
                <option value="chinese">中文(Chinese)</option>
                <option value="thai">泰文(ภาษาไทย)</option>
                <option value="vietnamese">越文(Tiếng Việt)</option>
            </select>
        </div>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>



<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <form class="container custom-form-container" autocomplete="off" id="FirstBarcode" novalidate="novalidate">
                        <fieldset>

                            <div class="form-group column">
                                <label class="col-md-5 col-form-label" style="margin-bottom: 15px;" for="txtTrayBarcode@(itemName)">
                                    <span data-key="ngtraynumber">NG Tray盤編號</span>
                                <span class="text-danger">*</span></label>
                                <div class="col-12 ">
                                    <div class="input-group">
                                        <div class="input-group" style="padding-right:0px; padding-left: 0px;">
                                            <input type="text" class="form-control" id="txtTrayBarcode@(itemName)" name="txtTrayBarcode@(itemName)"  placeholder="請輸入NG Tray盤編號">
                                            <span class="input-group-append">
                                                <a class="btn btn-outline-danger no-edit-detail" title="清除"
                                                   onclick="$('#txtFirstBarcode@(itemName)').val('')">
                                                    <i class="fas fa-eraser"></i>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                    <dl class="help-block" style="display: grid;">
                                        <dt data-key="order">製令</dt>
                                        <dd id="NoWoErpNo@(itemName)"></dd>
                                        <dt data-key="productnumber">品號</dt>
                                        <dd id="NotMtlItemNo@(itemName)"></dd>
                                        <dt data-key="currentlyboundbarcode">目前綁定條碼</dt>
                                        <dd id="NoBindBarcodetitle@(itemName)"></dd>
                                        <dd id="NoBindBarcode@(itemName)"></dd>
                                        <dt data-key="totalngcount">總NG數</dt>
                                        <dd id="NoTotalQty@(itemName)"></dd>
                                        <dt data-key="disassembledcount">已拆</dt>
                                        <dd id="NoSetQty@(itemName)"></dd>

                                    </dl>
                                </div>
                            </div>

                            <div class="form-group column" id="divNgCount@(itemName)">
                                <label class="col-md-5 col-form-label" style="margin-bottom: 15px;" for="txtNgCount@(itemName)">
                                    <span >拆解數</span>
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="col-12 ">
                                    <div class="input-group">
                                        <div class="input-group" style="padding-right:0px; padding-left: 0px;">
                                            <input type="number" class="form-control" id="txtNgCount@(itemName)" name="txtNgCount@(itemName)" placeholder="請輸入拆解數" min="0" value="0">

                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group column" id="divLensBarcode@(itemName)">
                                <label class="col-md-5 col-form-label" style="margin-bottom: 15px;" for="txtLensBarcode@(itemName)">
                                    <span data-key="camerabarcode">鏡頭條碼(如有必要)</span>
                                <span class="text-danger"></span></label>
                                <div class="col-12 ">
                                    <div class="input-group">
                                        <div class="input-group" style="padding-right:0px; padding-left: 0px;">
                                            <input type="text" class="form-control" id="txtLensBarcode@(itemName)" name="txtLensBarcode@(itemName)" data-key="PleaseEnterLensBarcode" placeholder="請輸入鏡頭條碼" >

                                        </div>
                                    </div>

                                </div>
                            </div>

                        </fieldset>
                    </form>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th data-key="productnumber" class="text-left" scope="col" style="width: 125px;">品號</th>
                                        <th data-key="productname" class="text-left" scope="col" style="width: 125px;">品名</th>
                                        <th data-key="materialcount" class="text-right" scope="col" style="width: 125px;">物料數</th>
                                        <th data-key="ngmaterialcount" class="text-right" scope="col" style="width: 125px;">NG物料數</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i><span data-key="save">儲存</span></button>
            </div>
        </div>
    </div>
</div>



@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        let inputNoType@(itemName);

        document.addEventListener('DOMContentLoaded', function () {
            var currentLanguage = localStorage.getItem('language') || 'chinese';
            $("#language-select3").val(currentLanguage)

            async function loadTranslations() {
                try {
                    const response = await fetch('/MesConsoleLang.json'); // 请确保路径与文件名正确
                    if (!response.ok) {
                        throw new Error(`HTTP error! status: ${response.status}`);
                    }
                    const translations = await response.json();
                    return translations;
                } catch (error) {
                    console.error('Error loading translations:', error);
                }
            }

            // 根据语言设置翻译
            async function translateContent(language) {
                const translations = await loadTranslations();
                document.querySelectorAll('[data-key]').forEach(function (element) {
                    const key = element.getAttribute('data-key');
                    if (translations[language] && translations[language][key]) {
                        if (element.placeholder !== undefined) {
                            // 如果元素有 placeholder 属性
                            element.setAttribute('placeholder', translations[language][key]);
                        } else {
                            // 如果是普通 HTML 元素
                            element.textContent = translations[language][key];
                        }
                    }
                });
            }

            // Update content on page load
            translateContent(currentLanguage);

            // Handle language toggle from select element
            document.getElementById('language-select3').addEventListener('change', function (event) {
                currentLanguage = event.target.value;
                translateContent(currentLanguage);
                localStorage.setItem('language', currentLanguage);
            });

            // Optional: Handle language toggle button
            //document.getElementById('toggle-language').addEventListener('click', function () {
            //    var languageOptions = ['chinese', 'thai', 'vietnamese'];
            //    var currentIndex = languageOptions.indexOf(currentLanguage);
            //    var nextIndex = (currentIndex + 1) % languageOptions.length;
            //    currentLanguage = languageOptions[nextIndex];
            //    translateContent(currentLanguage);
            //    localStorage.setItem('language', currentLanguage);
            //    document.getElementById('language-select').value = currentLanguage; // Sync with select element
            //});
        });

        $(document).ready(function () {

            $("#divNgCount@(itemName)").hide();
            $("#divLensBarcode@(itemName)").hide();

           // Query@(itemName)();
            $("#txtTrayBarcode@(itemName)").keydown(function (event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    $("#txtNgCount@(itemName)").val(0);
                    Query@(itemName)();
                    return false;
                }
            });

            $("#txtNgCount@(itemName)").change(function () {
                var txtNgCount = parseInt($("#txtNgCount@(itemName)").val())
                var NoTotalQty = parseInt($("#NoTotalQty@(itemName)").html())
                var NoSetQty = parseInt($("#NoSetQty@(itemName)").html())
            
                if (txtNgCount > (NoTotalQty - NoSetQty)) {
                    alert("輸入數已大於未拆解數! " + (NoTotalQty - NoSetQty), "alert", 1000);

                } else {
                    Query@(itemName)();

                }
                console.log(7415, txtNgCount, NoTotalQty, NoSetQty)

            });

            $("#txtLensBarcode@(itemName)").keydown(function (event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    if ($("#txtLensBarcode@(itemName)").val() != "") {
                        GetLensInfo@(itemName)($("#txtLensBarcode@(itemName)"))
                    }

                    return false;
                }
            });

        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");

        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;


            @*let statusList = [];
            $.each($("input[name='cbxStatusQ@(itemName)']:checked"), function () {
                statusList.push($(this).val());
            });*@

            let targetUrl = "@Url.Action("GetJudgeLensTray", "ProductionHistory")";
            let postData = {
                "inputNo": $("#txtTrayBarcode@(itemName)").val().toUpperCase()

            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                //pageCount = data.result.length > 0 ;

                if (data.result == "TrayNo") {
                    inputNoType@(itemName) = "TrayNo";
                    GetTrayInfo@(itemName)();
                } else if (data.result == "BarcodeNo") {
                    inputNoType@(itemName) = "BarcodeNo";
                    GetLensInfo@(itemName)($("#txtTrayBarcode@(itemName)"))
                }
            } else {
                alert(data.msg, "alert", 0);
                $("#NoWoErpNo@(itemName)").html("");
                $("#NotMtlItemNo@(itemName)").html("");
                $("#NoBindBarcode@(itemName)").html("");
                $("#NoTotalQty@(itemName)").html("");
                $("#NoSetQty@(itemName)").html("");
            
                innerHtml += `<tr>
                                    <td class="text-center" colspan="6" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                $("#tblData@(itemName) tbody").html(innerHtml);
                TableComponentInit();
            }


            //Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));


        }

        function Edit@(itemName)(MtlItemId) {
            let innerHtml = '';
            let pageCount = 0;
            let ngcount = $("#txtNgCount@(itemName)").val();

            if (MtlItemId > 0) {


                let targetUrl = "@Url.Action("GetTrayMoBom", "ProductionHistory")";
                let postData = {
                    "MtlItemId": MtlItemId
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                pageCount = data.result.length > 0 ;

                if (pageCount > 0) {

                    $.each(data.result, function (i, item) {
                        let ngreciventCount = ngcount * item.CompositionQuantity;
                        //ngreciventCount = ngreciventCount.toFixed(2)
                        innerHtml += `<tr>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.BomDetailId}" style="max-width: 150px;">${item.MtlItemNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.BomDetailId}" style="max-width: 150px;">${item.MtlItemName}</td>
                                        <td class="text-right" data-toggle="tooltip" title="${item.BomDetailId}" style="max-width: 150px;">${ngreciventCount}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.BomDetailId}" style="max-width: 150px;">
                                             <input type="number" class="form-control inputStyle ngBomCount text-right" id="txtngBomCount@(itemName)${item.BomDetailId}" name="inputStyle@(itemName)"  data-bomdetail-id="${item.BomDetailId}" data-ngrecivent-count="${ngreciventCount}" data-mtlitem-no="${item.MtlItemNo}" style="width: 100%;" value="0" min="0"/>
                                        </td>

                                      </tr>`;

                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="6" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            }
        }

        function Save@(itemName)() {
            let ngBomdetailList = [];

            let ngContentList = [];

            if (inputNoType@(itemName) == "TrayNo") {

                if ($("#txtNgCount@(itemName)").val() > 0) {

                    $.each($("input[name='inputStyle@(itemName)']"), function () {
                        var bomdetail = $(this).data("bomdetail-id");
                        var ngrecivent = $(this).data("ngrecivent-count");
                        var mtlitem = $(this).data("mtlitem-no");

                        var ngBomCount = $(this).val();
                        console.log(5523, ngBomCount);

                        //ngBomdetailList.push(bomdetail);
                        var str = bomdetail + "❤" + ngBomCount;
                        if (ngBomCount > ngrecivent) {
                            alert("輸入數大於領料數 1" + mtlitem, "alert", 9999);
                            return false

                        }
                        else if (ngBomCount > 0) {
                            ngBomdetailList.push(bomdetail);
                        }
                    });
                } else {
                    alert("請輸入欲拆解數3", "alert", 9999);
                    return false

                }

            } else {
                $.each($("input[name='inputStyle@(itemName)']"), function () {
                    var bomdetail = $(this).data("bomdetail-id");
                    var ngBomCount = $(this).val();
                    var ngrecivent = $(this).data("ngrecivent-count");
                    var mtlitem = $(this).data("mtlitem-no");
                    console.log(5524, ngBomCount);

                    //ngBomdetailList.push(bomdetail);
                    var str = bomdetail + "❤" + ngBomCount;

                    if (ngBomCount > ngrecivent) {
                        alert("輸入數大於領料數 2" + mtlitem, "alert", 9999);
                        return false
                    }
                    else if (ngBomCount > 0) {
                        ngBomdetailList.push(bomdetail);
                    }
                });
            }

            if (ngBomdetailList.length > 0) {
                ngBomdetailList.forEach(function (item) {
                    var bomdetailId = item
                    var ngBomCount = $(`#txtngBomCount@(itemName)${bomdetailId}`).val()

                    var str = bomdetailId + "❤" + ngBomCount;

                    ngContentList.push(str);
                })

                if (inputNoType@(itemName) == "TrayNo") {
                    let targetUrl = "@Url.Action("UpdateTrayNg", "ProductionHistory")";
                    let postData = {
                        "inputNo": $("#txtTrayBarcode@(itemName)").val(),
                        "NgBom": ngContentList.join(','),
                        "NgcountQty": $("#txtNgCount@(itemName)").val() != 0 ? $("#txtNgCount@(itemName)").val() : -1,
                        "NgLensNo": $("#txtLensBarcode@(itemName)").val()

                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, false);

                    if (result) {
                        Query@(itemName)();
                        alert("完成", "success", 9999);
                    }

                } else {
                    let targetUrl = "@Url.Action("UpdateLensNg", "ProductionHistory")";
                    let postData = {
                        "inputNo": $("#txtTrayBarcode@(itemName)").val(),
                        "NgBom": ngContentList.join(','),
                        "NgcountQty": $("#txtNgCount@(itemName)").val() != 0 ? $("#txtNgCount@(itemName)").val() : -1,
                        "NgLensNo": $("#txtLensBarcode@(itemName)").val()

                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, false);

                    if (result) {
                        Query@(itemName)();
                        alert("完成", "success", 9999);
                    }
                }

            }






            @*let ngContentList = [];
            ngBomdetailList.forEach(function (item) {
                var bomdetaid = item
                var ngBomCount = $(`#txtngBomCount@(itemName)${bomdetaid}`).val()

                var str = bomdetaid + "❤" + ngBomCount;

                if (ngBomCount > 0) {
                    ngContentList.push(str);
                }
            })*@

            //console.log(5524, ngBomdetailList);

            console.log(5525, ngBomdetailList.length, inputNoType@(itemName) , ngContentList);

        }


        function GetTrayInfo@(itemName)() {
            let pageCount = 0;


            let targetUrl = "@Url.Action("GetNgTrayInfo", "ProductionHistory")";
            let postData = {
                "TrayNo": $("#txtTrayBarcode@(itemName)").val().toUpperCase()

            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ;

                if (pageCount > 0) {

                    $.each(data.result, function (i, item) {
                        $("#NoBindBarcode@(itemName)").show();
                        $("#NoBindBarcodetitle@(itemName)").show();

                        $("#divNgCount@(itemName)").show();
                        $("#divLensBarcode@(itemName)").hide();

                        $("#NoWoErpNo@(itemName)").html(item.WoErpPrefix + "-" + item.WoErpNo);
                        $("#NotMtlItemNo@(itemName)").html(item.MtlItemNo);
                        $("#NoBindBarcode@(itemName)").html(item.BarcodeNo);
                        $("#NoTotalQty@(itemName)").html(item.BarcodeQty);
                        $("#NoSetQty@(itemName)").html(item.DismantleQty != null ? item.DismantleQty : "00");
                        $("#txtLensBarcode@(itemName)").val("");

                        Edit@(itemName)(item.MtlItemId);
                    });

                } else {

                }
            } else {
                alert(data.msg, "alert", 9999);
            }
        }

        function GetLensInfo@(itemName)(barcodeNoo) {
            let pageCount = 0;

            let targetUrl = "@Url.Action("GetNgLensBarcodeInfo", "ProductionHistory")";
            let postData = {
                "BarcodeNo": barcodeNoo.val().toUpperCase()

            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ;

                if (pageCount > 0) {

                    $.each(data.result, function (i, item) {

                        $("#divNgCount@(itemName)").show();
                        $("#divLensBarcode@(itemName)").hide();
                        $("#NoWoErpNo@(itemName)").html(item.WoErpPrefix + "-" + item.WoErpNo);
                        $("#NotMtlItemNo@(itemName)").html(item.MtlItemNo);

                        if (item.TrayNo == null) {
                            $("#NoBindBarcode@(itemName)").html("未綁定Tray盤");

                        } else {
                            $("#NoBindBarcode@(itemName)").html(item.TrayNo);
                        }

                        $("#NoBindBarcode@(itemName)").show();
                        $("#NoBindBarcodetitle@(itemName)").show();

                        
                        if (item.TotalNgQty != null) {
                            $("#NoTotalQty@(itemName)").html(item.TotalNgQty != null ? item.TotalNgQty : "000");

                        } else {
                            $("#NoTotalQty@(itemName)").html(item.BarcodeQty != null ? item.BarcodeQty : "00");
                        }
                        $("#NoSetQty@(itemName)").html(item.DismantleQty != null ? item.DismantleQty : "0");
                        Edit@(itemName)(item.MtlItemId);


                    });
                } else {

                }
            } else {
                alert(data.msg, "alert", 9999);
            }
        }

        function Delete@(itemName)(ToolSpecId) {
            swal.fire({
                title: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteToolSpec", "Tool")";
                    let postData = {
                        "ToolSpecId": ToolSpecId
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function Return@(itemName)() {
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName)", "#editData@(itemName), .unit-block");
            Query@(itemName)();
        }

        function StatusSwitch@(itemName)() {
            var toolSpecId = $(this).data("toolspec-id");

            let targetUrl = "@Url.Action("UpdateToolSpecStatus", "Tool")";
            let postData = {
                "ToolSpecId": toolSpecId
            };

            let result = DataAccess.Update(targetUrl, postData, false, true);

            if (result) {
                Return@(itemName)();
            }
        }
    </script>
                        )