@using Business_Manager.Helpers
@{
    string itemName = "ViewPackageBarcode";
    string itemNameText = "包裝條碼";
}


@Html.Resource("css",
    @<style>

         .card-body-2 {
             -ms-flex: 1 1 auto;
             flex: 1 1 auto;
             min-height: 1px;
             /*padding: 1.25rem;*/
             padding-top: 0rem;
             padding-right: 1.0rem;
             padding-bottom: 0rem;
             padding-left: 1.0rem;
         }


         /*.border, .table td, .table th {
             border-color: #e5e9ec !important;
         }*/

         .col-12-2 {
             padding-right: 5px;
             padding-left: 5px;
         }

         .form-control-add-2 {
             height: 40px;
             font-size: 16px;
         }

         .mb-2-2 {
             margin-bottom: 5px !important;
         }
    </style>
                                                                                                        )

<div class="modal fade" id="modal@(itemName)">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" style="width:95vw;left: 50%; transform: translate(-50%, 0%); height: 75vh;">
            <div class="modal-header">
                <h5 class="modal-title">
                    @(itemNameText)
                </h5>
                <a class="close list-mode" href="javascript:void(0);" onclick="Close@(itemName)('modal@(itemName)')"><i class="fas fa-times"></i></a>
            </div>
            <div class="modal-body" style="max-height: 100%">
                <div class="infonfunc card-body-2">
                    <div class="row">
                        <!-- 左方列表 -->
                        <div class="" style="width:70%; background-color:#efefef">
                            <div class=" col-12-2 material-block">
                                <div style="padding-bottom:5px; padding-top:5px">
                                    <a style="" class="btn btn-info" onclick="javascript:AddPackageCode@(itemName)();">
                                        <i class="fas fa-plus"></i>
                                        <span data-key="addpab">
                                            新增包裝條碼
                                        </span>
                                        
                                    </a>
                                </div>
                                <div class="table-outer" style="border: solid 1px #eee;">
                                    <table class="table-platform-sticky" id="packingBarcodetbl@(itemName)">
                                        <thead>
                                            <tr class="headerrow">
                                                <th style="background-color:#f9f9f9" scope="col">#</th>
                                                <th style="background-color:#f9f9f9" scope="col" data-key="packagingbarcode">包裝條碼</th>
                                                <th style="background-color:#f9f9f9" scope="col" data-key="quantity">數量</th>
                                                <th style="background-color:#f9f9f9" class="text-center col-sticky" scope="col" data-key="operation">操作</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- 右方列表 -->
                        <div class="" style="width:30%;">
                            <div class="col-12-2">
                                <div class="input-group mb-2-2" style="padding-bottom:0px;">
                                    <label class="input-group-addon" for="basic-addon" style="">
                                        <i class="far fa-barcode-alt"></i>
                                        <span style="padding-left: 5px;" data-key="orderbarcode">條碼</span>
                                    </label>
                                    <input type="text" class="form-control form-control-add-2" id="txtBarcodeNo@(itemName)" data-key="pleasescan" placeholder="請刷取條碼">
                                    <a style="" class="btn btn-info" id="lotScanBarcode@(itemName)" onclick="javascript:LotScanner@(itemName)();">
                                    <i class="fad fa-print-search"></i>
                                    <span data-key="batchscanning">
                                        批量刷取
                                    </span>
                                    </a>
                                </div>
                                @*<div class="input-group mb-2-2" style="padding-bottom:0px;">
                                    <label class="input-group-addon" for="basic-addon" style="">
                                        <i class="far fa-table"></i>
                                        <span style="padding-left: 5px;">Tray</span>
                                    </label>
                                    <input type="text" class="form-control form-control-add-2" id="txtTrayNo@(itemName)" placeholder="請刷取Tray條碼">
                                </div>*@
                                <div class="table-outer" style="border: solid 1px #eee;">
                                    <table class="table-platform-sticky" id="barcodetbl@(itemName)">
                                        <thead>
                                            <tr class="headerrow">
                                                <th style="width:60%;" scope="col" data-key="barcode">條碼</th>
                                                <th style="width:20%;" scope="col" data-key="quantity">數量</th>
                                                <th style="width:20%;" class="text-center col-sticky" scope="col" data-key="operation">操作</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- 包裝列印 -->
<div class="modal fade" id="PackagePrint@(itemName)">
    <div class="modal-dialog modal-lg" style="padding-top:7%;">
        <div class="modal-content working-content" style="min-width:350px;">
            <div class="modal-header" style="align-items: center;">
                <h5 class="modal-title" data-key="packagingprinting">
                    包裝列印
                </h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                @*<div class="input-group">
                        <span class="input-group-addon font18" id="basic-addon13">
                            <i class="fa fa-paint-brush" style="padding-right: 5px;"></i> 機種
                        </span>
                        <select class="form-control" id="cboMachine@(itemName)" name="cboMachine@(itemName)">
                            <option value="">-- 請選擇機種 --</option>
                        </select>
                    </div>*@

                <div class="input-group">
                    <span class="input-group-addon font18" id="basic-addon13">
                        <i class="fa fa-paint-brush" style="padding-right: 5px;"></i> 
                        <span data-key="printer">
                            標籤機
                        </span>
                    </span>
                    <select class="form-control" id="cboPrintMachine@(itemName)" name="cboPrintMachine@(itemName)">
                        <option value="">-- 請選擇標籤機 --</option>
                    </select>
                </div>



            </div>
            <div class="modal-footer">
                <div>
                    <button id="aPrintPackageBarcode@(itemName)" type="button" class="btn-sure btn btn-success btn-flat mb-2 weight-600"
                            onclick="javascript: PrintPackage();">
                        <span data-key="submit">
                            確定
                        </span>
                        
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Keyence過站介面 -->
<div class="modal fade" id="modalKeyenceProcess@(itemName)">
    <div class="modal-dialog modal-lg" style="padding-top:7%;">
        <div class="modal-content working-content" style="min-width:350px;">
            <div class="modal-header" style="align-items: center;">
                <h5 class="modal-title">
                    Keyence掃描
                    <span class="sub-title">總共掃描數量: <span class="sub-text" id="desScanNumber@(itemName)"></span></span>
                </h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row" id=" ">
                    <div class="col-6">
                        <div class="input-group">
                            <span class="input-group-addon font18" id="basic-addon13">
                                <i class="fa fa-paint-brush" style="padding-right: 5px;"></i> 標籤機
                            </span>
                            <select class="form-control" id="cboPrintMachineKeyence@(itemName)" name="cboPrintMachineKeyence@(itemName)">
                                <option value="">-- 請選擇標籤機 --</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row" id=" ">
                    <div class="col-6">
                        <select id="cboKeyenceIdQ@(itemName)" class="form-control"></select>
                    </div>
                    <div class="col-6" style="margin-bottom: 5px;">
                        <button class="btn btn-success" onclick="LotScanner@(itemName)()" style="height: 100%;">
                            <i class="fad fa-print-search"></i>重新掃描
                        </button>
                    </div>
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblPackageBarcode@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">產品條碼</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id=" "></div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-right text-lg-right">
                <button type="button" class="btn btn-success" onclick="AddProducBarcodeKeyence@(itemName)()"><i class="fas fa-paper-plane"></i>綁定</button>
            </div>
        </div>
    </div>
</div>


@Html.Resource("js",
@<script>
    let moId@(itemName);
    let moProcessId@(itemName);
    let packageBarcodeId@(itemName);
    let editBarcodeNoArr = [];
    let woErpFullNo@(itemName);
    let checkAnyPackageBarcode = false;
    let isEdit = false
    let printPackageBarcodeId@(itemName);
    let KeyenceId@(itemName) = -1;
    let barcodeList@(itemName);



    function Pop@(itemName)(moProcessId, moId, woErpFullNo, keyenceId) {
        moProcessId@(itemName) = moProcessId;
        woErpFullNo@(itemName) = woErpFullNo;
        moId@(itemName) = moId;
        KeyenceId@(itemName) = keyenceId != undefined ? keyenceId : -1;
        

        console.log(5588, KeyenceId@(itemName))

        $("#modal@(itemName)").modal({
            backdrop: "static",
            keyboard: false,
            show: true
        });

         @*setTimeout(function () {
            $("#txtBarcodeNo@(itemName)").focus();
        }, 200);*@

         Query@(itemName)();
    }

    $(function () {


        ComboBoxs.Default("#cboPrintMachine@(itemName)", "@Url.Action("GetLabelPrintMachine", "ProductionHistory")", {}, "", "CHOOSE", "請選擇標籤機", "LabelPrintName", "LabelPrintNo");
        ComboBoxs.Default("#cboPrintMachineKeyence@(itemName)", "@Url.Action("GetLabelPrintMachine", "ProductionHistory")", {}, "", "CHOOSE", "請選擇標籤機", "LabelPrintName", "LabelPrintNo");
        ComboBoxs.Default("#cboKeyenceIdQ@(itemName)", "@Url.Action("GetKeyence", "ProductionHistory")", { "Status": "A" }, "" + KeyenceId@(itemName) + "", "ALL", "", "KeyenceNo", "KeyenceId");
        $("#cboKeyenceIdQ@(itemName)").val(KeyenceId@(itemName));
        if (KeyenceId@(itemName) <= 0) {
            $("#lotScanBarcode@(itemName)").hide();
        } else {
            $("#lotScanBarcode@(itemName)").show();
        }

        //$("#cboToolInventory@(itemName)").change(function () {
        //    ComboBoxs.Default("#cboToolLocator@(itemName)", "@Url.Action("GetToolLocator", "Tool")", { "ToolInventoryId": $("#cboToolInventory@(itemName)").val(), "Status": "A" }, "", "NA", "", "ToolLocatorName", "ToolLocatorId");
        //});

        $(window).keydown(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });

        $("#txtBarcodeNo@(itemName)").keydown(function (event) {
            if (event.keyCode == 13) {
                let barcodeNo = $("#txtBarcodeNo@(itemName)").val();
                $("#txtBarcodeNo@(itemName)").val("");

            }
        });
    });

    function Query@(itemName)() {
        InitData@(itemName)();
    }

    function InitData@(itemName)() {
        let targetUrl = "@Url.Action("GetPackageBarcodes", "ProductionHistory")";

        let postData = {
            "MoProcessId": moProcessId@(itemName)
        };

        let data = DataAccess.Get(targetUrl, postData, false);

        let innerHtml = '';
        let firstPackageBarcodeId = -1;
        if (data.status == "success") {
            if (data.result.length > 0) {
                $.each(data.result, function (i, item) {
                    let trClass = "";
                    if (i % 2 == 0) trClass = "line-odd";
                    else trClass = "line-even";

                    if (i == 0) {
                        firstPackageBarcodeId = item.PackageBarcodeId;
                    }
                    $("#aPrintPackageBarcode@(itemName)").prop("href", `javascript: PrintPackageBarcode('${item.PackageBarcodeId}')`);

                    innerHtml += `<tr id="${item.PackageBarcodeId}" class="${trClass}">
                         <td >${i + 1}.</td>
                         <td style="max-width: 200px;">${item.PackageBarcodeNo}</td>
                         <td style="max-width: 200px;">${item.Quantity}</td>
                         <td class="text-center active-content col-sticky" style="max-width: 100px; min-width:130px;">
                             <a class="active-link" href="javascript:PopPrintPackageBarcode('${item.PackageBarcodeId}');"><i class="fas fa-print"></i></a>
                             <a class="active-link" href="javascript:Edit@(itemName)('${item.PackageBarcodeId}');"><i class="fas fa-edit"></i></a>
                             <a class="active-link" href="javascript:DeletePackageBarcode@(itemName)('${item.PackageBarcodeId}');"><i class="fas fa-trash-alt"></i></a>
                         </td>
                      </tr>`;

                });
            }
            else {
                //$(".add-code-block").hide();
                innerHtml += `<tr>
                                <td class="text-center" colspan="4" style="background-color: #fff3cd;">
                                    <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                </td>
                              </tr>`;
            }
        }
        else {
            alert(data.msg, "alert", 0);
        }

        $("#packingBarcodetbl@(itemName) tbody").html(innerHtml);
        TableComponentInit();
        if (isEdit == false) {
            Edit@(itemName)(firstPackageBarcodeId);
        }

    }
    //取得產品條碼
    function Edit@(itemName)(packageBarcodeId) {
        editBarcodeNoArr = [];
        packageBarcodeId@(itemName) = packageBarcodeId;
        $("td").removeClass("line-active");
        $("tr[id='" + packageBarcodeId + "'] td").addClass("line-active");
        //if (checkAnyPackageBarcode == true) $(".add-code-block").show();
        //else $(".add-code-block").hide();

        let targetUrl = "@Url.Action("GetPackageProductBarcodes", "ProductionHistory")";

        let postData = {
            "PackageBarcodeId": packageBarcodeId
        };

        let data = DataAccess.Get(targetUrl, postData, false);

        let innerHtml = '';
        if (data.status == "success") {
            if (data.result.length > 0) {
                $.each(data.result, function (i, item) {
                    editBarcodeNoArr.push(item.BarcodeNo);
                    let trClass = "";
                    if (i % 2 == 0) trClass = "line-odd";
                    else trClass = "line-even";
                    innerHtml += `<tr id="${item.PbrId}" class="${trClass}">
                        <td style="width:60%;">${item.BarcodeNo}</td>
                        <td style="width:20%;">${item.BarcodeQty}</td>
                        <td class="text-center active-content col-sticky" style="width:20%;">
                             <a class="active-link" href="javascript:DeleteProducBarcode@(itemName)('${item.BarcodeNo}');"><i class="fas fa-trash-alt"></i></a>
                         </td>
                      </tr>`;
                });
            }
            else {
                innerHtml += `<tr>
                                <td class="text-center" colspan="3" style="background-color: #fff3cd;">
                                    <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                </td>
                              </tr>`;
            }
        }
        else {
            alert(data.msg, "alert", 0);
        }

        isEdit = false;
        $("#barcodetbl@(itemName) tbody").html(innerHtml);
        TableComponentInit();
    }

    function AddPackageCode@(itemName)() {
        var now = new Date();
        var formatted = now.getFullYear().toString() +
            (now.getMonth() + 1).toString().padStart(2, '0') +
            now.getDate().toString().padStart(2, '0');

        let targetUrl = "@Url.Action("AddPackageBarcode", "ProductionHistory")";
        let postData = {
            "CreatDate": formatted,
            "MoId": moId@(itemName),
            "MoProcessId": moProcessId@(itemName)
        };
        let data = DataAccess.EditContinued(targetUrl, postData, false);
        if (data) {
            let packageBarcodeId;
            $.each(data.result, function (i, item) {
                packageBarcodeId = item.PackageBarcodeId;
            });
            Return@(itemName)();
            Edit@(itemName)(packageBarcodeId);

        }

    }

    function AddProducBarcode@(itemName)(barcodeNo) {
        barcodeList@(itemName) = barcodeNo.split(',');
        console.log(55,barcodeList@(itemName))
        let targetUrl = "@Url.Action("AddPackageProductBarcode", "ProductionHistory")";
        let postData = {
            "PackageBarcodeId": packageBarcodeId@(itemName),
            "BarcodeList": barcodeList@(itemName).toString(),
            "MoId": moId@(itemName),
            "CurrenMoProcess":moProcessId@(itemName)
        };
        let data = DataAccess.EditContinued(targetUrl, postData, false);
        if (data) {
            //let packageBarcodeId;
            //$.each(data.result, function (i, item) {
            //    packageBarcodeId = item.PackageBarcodeId;
            //});
            isEdit = true;
            Return@(itemName)();
            Edit@(itemName)(packageBarcodeId@(itemName));
            barcodeList@(itemName) = [];
            $("#txtBarcodeNo@(itemName)").val("");
        }
    }

    function AddProducBarcodeKeyence@(itemName)() {
        console.log(55,barcodeList@(itemName))
        let targetUrl = "@Url.Action("AddPackageProductBarcode", "ProductionHistory")";
        let postData = {
            "PackageBarcodeId": packageBarcodeId@(itemName),
            "BarcodeList": barcodeList@(itemName).toString(),
            "MoId": moId@(itemName),
            "CurrenMoProcess":moProcessId@(itemName)
        };
        let data = DataAccess.EditContinued(targetUrl, postData, false);
        if (data) {
            //let packageBarcodeId;
            //$.each(data.result, function (i, item) {
            //    packageBarcodeId = item.PackageBarcodeId;
            //});
            isEdit = true;
            $("#modalKeyenceProcess@(itemName)").modal("hide");
            barcodeList@(itemName) = [];
            $("#txtBarcodeNo@(itemName)").val("");
            AddPackageCode@(itemName)();
            PrintPackageForKeyence();
            Return@(itemName)();
            Edit@(itemName)(packageBarcodeId@(itemName));
        }
    }

    function DeleteProducBarcode@(itemName)(barcodeNo) {

        let targetUrl = "@Url.Action("DeletePackageProductBarcode", "ProductionHistory")";
        let postData = {
            "PackageBarcodeId": packageBarcodeId@(itemName),
            "BarcodeNo": barcodeNo,
            "MoId": moId@(itemName)
        };
        let data = DataAccess.EditContinued(targetUrl, postData, false);
        if (data) {
            //let packageBarcodeId;
            //$.each(data.result, function (i, item) {
            //    packageBarcodeId = item.PackageBarcodeId;
            //});
            isEdit = true;
            Return@(itemName)();
            Edit@(itemName)(packageBarcodeId@(itemName));

        }
    }

    function DeletePackageBarcode@(itemName)(packageBarcodeId) {

        let targetUrl = "@Url.Action("DeletePackageBarcode", "ProductionHistory")";
        let postData = {
            "PackageBarcodeId": packageBarcodeId
        };
        let data = DataAccess.EditContinued(targetUrl, postData, false);
        if (data) {
            //let packageBarcodeId;
            //$.each(data.result, function (i, item) {
            //    packageBarcodeId = item.PackageBarcodeId;
            //});
            isEdit = false;
            Return@(itemName)();
            Edit@(itemName)(packageBarcodeId@(itemName));

        }
    }


    function PopPrintPackageBarcode(packageBarcodeId) {

        $("#PackagePrint@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
        });
        @*printPackageBarcodeId@(itemName) = packageBarcodeId;*@
        console.log("Print " + packageBarcodeId);
        Edit@(itemName)(packageBarcodeId);
    }

    function PrintPackage() {
        let modalName = "PackagePrint@(itemName)"
        let targetUrl = "@Url.Action("GetPackageLabel", "PrintLabel")";
        let postData = {
            "PackageBarcodeId": packageBarcodeId@(itemName),
            "PrintMachineName": $("#cboPrintMachine@(itemName)").val()
        };
        let data = DataAccess.Get(targetUrl, postData, false);
        if (data.status == "success") {
            alert("列印成功", "success", 0);

        } else {
            alert(data.msg, "alert", 0);
        }

        console.log("Print " + printPackageBarcodeId@(itemName) );
        $("#" + modalName).modal('hide');
    }

    function PrintPackageForKeyence() {
        let modalName = "PackagePrint@(itemName)"
        let targetUrl = "@Url.Action("GetPackageLabel", "PrintLabel")";
        let postData = {
            "PackageBarcodeId": packageBarcodeId@(itemName),
            "PrintMachineName": $("#cboPrintMachineKeyence@(itemName)").val()
        };
        let data = DataAccess.Get(targetUrl, postData, false);
        if (data.status == "success") {
            alert("列印成功", "success", 0);

        } else {
            alert(data.msg, "alert", 0);
        }

        console.log("Print " + printPackageBarcodeId@(itemName) );
    }



    $("#txtBarcodeNo@(itemName)").keydown(function (event) {
        if (event.keyCode == 13) {
            let barcodeNo = $("#txtBarcodeNo@(itemName)").val();

            AddProducBarcode@(itemName)(barcodeNo)
        }
    });

    function Return@(itemName)() {
        Query@(itemName)();
    }

    function Close@(itemName)(modalName) {
        $("#" + modalName).modal('hide');
        $("#" + modalName + " input").val("");
    }

    //取得Keyence掃描條碼
    function LotScanner@(itemName)() {
        $("#desScanNumber@(itemName)").html("0");
        $("#modalKeyenceProcess@(itemName)").modal("show");
        console.log(12454, packageBarcodeId@(itemName), $("#cboKeyenceIdQ@(itemName)").val())

        let targetUrl = "@Url.Action("KeyenceScan", "ProductionHistory")";
        let postData = {
            "KeyenceId": $("#cboKeyenceIdQ@(itemName)").val()
        };
        let data = DataAccess.Get(targetUrl, postData, false);

        if (data.status == "success") {
            barcodeList@(itemName) = data.result.m_StringValue.split(':')[1].split(',');

            if (barcodeList@(itemName).length <= 0) {
                alert("掃描不到任何一筆條碼資訊!!");
                return false;
            }

            let innerHtml = '';
            $.each(barcodeList@(itemName), function (i, item) {
                innerHtml += `<tr>
                                <td scope="col" style="width: 20%">${i + 1}.</td>
                                <td scope="col" style="width: 80%">${item}</td>
                              </tr>`;
            });

            $("#modalKeyenceProcess@(itemName) tbody").html(innerHtml);
            TableComponentInit();

            $("#desScanNumber@(itemName)").html(barcodeList@(itemName).length);
            $("#modalKeyenceProcess@(itemName)").modal("show");
        }
        else {
            alert(data.msg);
        }
    }
</script>
                                                                                            )

