@using Business_Manager.Helpers
@{
    string itemName = "ViewKnifeManagement";
    string itemNameText = "刀具綁定資料";
}

@Html.Resource("css",
    @<style>
    </style>
      )

<div class="modal fade" id="modal@(itemName)">
    <div class="modal-dialog modal-lg">
        <!--目前刀具-->
        <div class="modal-content" id="cutterNow" style="min-width:350px;">
            <div class="modal-header">
                <h5 class="modal-title">
                    @(itemNameText)
                    <span class="sub-title"><span data-key="order">製令:</span><span class="sub-text" id="desWoErpFullNo@(itemName)"></span></span>
                    <span class="sub-title"><span data-key="currentprocess">製程:</span><span class="sub-text" id="desProcessAlias@(itemName)"></span></span>
                    <span class="sub-title"><span data-key="machine">機台:</span><span class="sub-text" id="desMachineDesc@(itemName)"></span></span>
                </h5>
                <div style="display: grid;">
                    <a class="close" href="javascript:void(0);" onclick="Close@(itemName)('modal@(itemName)')"><i class="fas fa-times"></i></a>
                    <a class="btn btn-info ml-3" style="margin-top: 10px;" href="javascript:OpenAddKnifeModal@(itemName)();">
                        <i class="fa fa-plus" aria-hidden="true"></i><span data-key="AddTool">新增刀具</span>
                    </a>
                </div>
            </div>
            <div class="modal-body" style="max-height: 75vh;">
                <div class="row">
                    <!--左邊table-->
                    <div class="col-7 material-block">
                        <div id="LeftMainTable@(itemName)" class=" table-outer" style="border: solid 1px #eee; max-height: 30vh;">
                            <table id="ToolList@(itemName)" class="table-platform-sticky" style="padding: 0.2rem;">
                                <thead>
                                    <tr class="headerrow">
                                        <th scope="col" width="10%">#</th>
                                        <th scope="col" data-key="toolbarcode" width="60%">刀具條碼</th>
                                        <th scope="col" data-key="nodataavailable" width="20%">刀座</th>
                                        <th scope="col" data-key="operation" width="10%">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <!--右邊table-->
                    <div class="col-5 knife-add-code-block" @*style="display:none;"*@>
                        <div class="table-outer" style="border: solid 1px #eee; max-height: 30vh; padding: 5px;">
                            <form class="container" autocomplete="off" id="editForm@(itemName)">
                                <fieldset style="margin-top: 5px;">
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success edit-mode" onclick="Save@(itemName)()" style="display: none;"><i class="fas fa-save"></i><span data-key="save">儲存</span></button>
            </div>
        </div>
    </div>
</div>

<!--新增刀具-->
<div class="modal fade" id="AddKnifeModal@(itemName)">
    <div class="modal-dialog modal-lg" style="padding-top:7%;">
        <div class="modal-content working-content" style="min-width:350px;">
            <div class="modal-header" style="align-items: center;">
                <h5 class="modal-title">
                    <span data-key="addmachinetool">新增機台刀具:</span>
                    
                    <span class="sub-title">
                        <span data-key="order">製令: </span>
                        <span class="sub-text" id="desAddKnifeWoErpFullNo@(itemName)"></span>
                    </span>
                    <span class="sub-title">
                        <span data-key="machine">機台:</span>
                         <span class="sub-text" id="desAddKnifeMachineDesc@(itemName)"></span>
                    </span>
                    <span class="sub-title">
                        <span data-key="bindinglimit">綁定上限:</span>
                         <span class="sub-text" id="desToolCount@(itemName)"></span>
                    </span>
                </h5>
                <button class="close" type="button" onclick="Close@(itemName)('AddKnifeModal@(itemName)')">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row" id=" ">
                    <div class="col-12">
                        <form autocomplete="off" id="editForm2@(itemName)">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 ">
                                    <div class="form-group row">
                                        <input type="hidden" id="txtToolMachineId@(itemName)"/>
                                        <label class="form-label col-12" for="txtAddToolNo@(itemName)">
                                            <span data-key="toolbarcode">刀具條碼</span>

                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-12">
                                            <input type="text" class="form-control" id="txtAddToolNo@(itemName)" name="txtAddToolNo@(itemName)"
                                                   placeholder="請輸入刀具條碼" data-key="pleaseentertoolbarcode"
                                                   data-msg-required="請輸入刀具條碼" data-rule-required="true"
                                                   data-msg-maxlength="必須少於 50 個字元" maxlength="50"
                                                   oninput="AddKnifeNoTrigger@(itemName)()"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 ">
                                    <div class="form-group row">
                                        <label class="form-label col-12" for="cboMachineLocation@(itemName)">
                                            <span data-key="nodataavailable">刀座</span>
                                            <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-12">
                                            <select class="form-control" id="cboMachineLocation@(itemName)" required></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tool-parameter@(itemName)">

                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <div class="card-footer text-right text-lg-right">
                <button type="button" class="btn btn-success" onclick="AddToolMachineParameter@(itemName)()">
                    <i class="fas fa-save"></i>                                            <span data-key="save">儲存</span>
                    
                </button>
            </div>
        </div>
    </div>
</div>
<!--新增刀具-->

@Html.Resource("js",
@<script>
    let moId@(itemName);
    let moProcessId@(itemName);
    let woErpFullNo@(itemName);
    let machineId@(itemName);
    let machineDesc@(itemName);
    let processId@(itemName);
    let modeId@(itemName);

    let firstToolMachineId = -1;

    let objForm@(itemName) = "#editForm@(itemName)";
    let objForm2@(itemName) = "#editForm2@(itemName)";

    let toolCount@(itemName);
    let machineLocation@(itemName);

    let toolParameterJson =
    {
        toolParameterInfo: []
    };

    function Pop@(itemName)(moId, moProcessId, woErpFullNo, processAlias, machineDesc, machineId, processId, modeId) {
        moId@(itemName) = moId;
        moProcessId@(itemName) = moProcessId;
        woErpFullNo@(itemName) = woErpFullNo;
        machineId@(itemName) = machineId;
        machineDesc@(itemName) = machineDesc;
        processId@(itemName) = processId;
        modeId@(itemName) = modeId;

        GetProcessMachineToolCount@(itemName)();

        $("#desWoErpFullNo@(itemName)").html(woErpFullNo);
        $("#desProcessAlias@(itemName)").html(processAlias);
        $("#desMachineDesc@(itemName)").html(machineDesc);

        Query@(itemName)();

        setTimeout(function () {
            $("#txtBarcodeNo@(itemName)").focus();
        },200);

        $("#modal@(itemName)").modal({
            backdrop: "static",
            keyboard: false,
            show: true
        });

        //$(".edit-mode").hide();
    }

    function Query@(itemName)() {
        InitData@(itemName)();
    }

    function InitData@(itemName)() {
        let targetUrl = "@Url.Action("GetToolMachine", "MasterCam")";

        let postData = {
            "MachineId": machineId@(itemName),
            "ProcessId": processId@(itemName),
            "ModeId": modeId@(itemName)
        };

        let data = DataAccess.Get(targetUrl, postData, false);

        let innerHtml = '';
        if (data.status == "success") {
            if (data.result.length > 0) {
                $.each(data.result, function (i, item) {
                    let trClass = "";
                    if (i % 2 == 0) trClass = "line-odd";
                    else trClass = "line-even";

                    if (i == 0) {
                        firstToolMachineId = item.ToolMachineId;
                    }

                    innerHtml += `<tr id="${item.ToolMachineId}" class="${trClass}">
                                    <td width="10%">${i + 1}.</td>
                                    <td width="50%">${item.ToolNo}</td>
                                    <td width="10%">${item.MachineLocation}</td>
                                    <td width="30%">
                                        <a style="margin-bottom:5px;" class="active-link" href="javascript:Edit@(itemName)('${item.ToolMachineId}');" data-mtl-id="1">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <a class="active-link" href="javascript:Delete@(itemName)('${item.ToolMachineId}');" data-mtl-id="1">
                                            <i class="far fa-trash-alt"></i>
                                        </a>
                                    </td>
                                  </tr>`;
                });
            }
            else {
                $(".knife-add-code-block").hide();
                $(".edit-mode").hide();
                innerHtml += `<tr>
                                <td class="text-center" colspan="4" style="background-color: #fff3cd;">
                                    <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                </td>
                              </tr>`;
            }
        }
        else {
            alert(data.msg, "alert", 0);
        }

        $("#ToolList@(itemName) tbody").html(innerHtml);
        TableComponentInit();

        Edit@(itemName)(firstToolMachineId);
    }

    function GetProcessMachineToolCount@(itemName)() {
        let targetUrl = "@Url.Action("GetProcessMachineToolCount", "MasterCam")";

        let postData = {
            "MachineId": machineId@(itemName)
        };

        let data = DataAccess.Get(targetUrl, postData, false);
        if (data.status == "success")
        {
            if (data.result.length > 0) {
                $.each(data.result, function (i, item) {
                    toolCount@(itemName) = item.ToolCount;
                });
            }
        }
    }
    
    function Edit@(itemName)(toolMachineId) {
        $("#txtToolMachineId@(itemName)").val(toolMachineId ? toolMachineId : 0);
        if (toolMachineId <= 0) {
            $(".edit-mode").hide();
            $(".knife-add-code-block").hide();
        }
        else {
            $(".edit-mode").show();
            $(".knife-add-code-block").show();
        }

        $("td").removeClass("line-active");
        $("tr[id='" + toolMachineId + "'] td").addClass("line-active");

        let targetUrl = "@Url.Action("GetToolMachineParameter", "MasterCam")";

        let postData = {
            "ToolMachineId": toolMachineId,
            "ProcessId": processId@(itemName),
            "ModeId": modeId@(itemName)
        };

        let data = DataAccess.Get(targetUrl, postData, false);

        let innerHtml = '';
        if (data.status == "success") {
            if (data.result.length > 0) {
                $.each(data.result, function (i, item) {
                    machineLocation@(itemName) = item.MachineLocation;
                    if (i == 0) {
                        innerHtml += `<div class="row">
                                        <div class="col-lg-12 col-md-12 ">
                                            <div class="form-group row">
                                                <label class="form-label col-12" for="txtToolNo@(itemName)">刀具條碼<span class="text-danger">*</span></label>
                                                <div class="col-12">
                                                    <input type="text" class="form-control" id="txtToolNo@(itemName)" name="txtToolNo@(itemName)"
                                                           placeholder="請輸入刀具條碼"
                                                           data-msg-required="請輸入刀具條碼" data-rule-required="true"
                                                           data-msg-maxlength="必須少於 50 個字元" maxlength="50"
                                                           value="${item.ToolNo}"
                                                           onInput="UpdateKnifeNoTrigger@(itemName)()"/>
                                                </div>
                                            </div>
                                        </div>
                                      </div>`;
                    }
                    innerHtml += `<div class="row">
                                    <div class="col-lg-12 col-md-12 ">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="txt${item.ParameterKey}@(itemName)">${item.ToolSpecName}<span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                ${JudgeParameterKey@(itemName)(`${item.ParameterKey}`, `${item.ToolSpecName}`, `${item.ParameterValue}`, `${item.ToolClassIdSettingId}`, `${item.ToolNo}`, `${item.MachineLocation}`)}
                                            </div>
                                        </div>
                                    </div>
                                  </div>`;
                });

                function JudgeParameterKey@(itemName)(parameterKey, toolSpecName, parameterValue, toolClassIdSettingId, toolNo, machineLocation) {
                    let innerHtml = '';
                    if (parameterKey == "VERTICAL_TILT" || parameterKey == "TILT") {
                        innerHtml += `<input type="number" step="any" min="0" max="9999999999" class="form-control" id="txt${parameterKey}@(itemName)" name="txt${parameterKey}@(itemName)"
                                                value="${parameterValue}"
                                                data-tool-class-id-setting-id="${toolClassIdSettingId}"
                                                data-tool-no="${toolNo}"
                                                placeholder="請輸入${toolSpecName}"
                                                data-msg-required="請輸入${toolSpecName}" data-rule-required="true"
                                                onInput="AddParameterValueTrigger@(itemName)('txt${parameterKey}@(itemName)')" />`;

                        $.each(toolParameterJson.toolParameterInfo, function (i, item) {
                            if (item.ToolClassIdSettingId == toolClassIdSettingId) {
                                toolParameterJson.toolParameterInfo.splice(i, 1);
                                return false;
                            }
                        });

                        let inputToolParameterInfo =
                        {
                            "MachineId": machineId@(itemName),
                            "ToolNo": toolNo,
                            "MachineLocation": machineLocation,
                            "ToolClassIdSettingId": toolClassIdSettingId,
                            "ParameterValue": parameterValue
                        };

                        toolParameterJson.toolParameterInfo.push(inputToolParameterInfo);
                    }
                    else {
                        innerHtml += `<input type="number" step="any" min="0" max="9999999999" class="form-control" id="txt${parameterKey}@(itemName)" name="txt${parameterKey}@(itemName)"
                                                value="${parameterValue}"
                                                placeholder="請輸入${toolSpecName}"
                                                data-msg-required="請輸入${toolSpecName}" data-rule-required="true" readonly/>`;
                    }
                    return innerHtml;
                }
            }
        }

        $("#editForm@(itemName) fieldset").html(innerHtml);
        TableComponentInit();
    }

    function AddToolMachineParameter@(itemName)() {
        if ($(objForm2@(itemName)).valid()) {
            let targetUrl = "@Url.Action("AddToolMachineParameter", "MasterCam")";
            let postData = {
                "ToolParameterData": JSON.stringify(toolParameterJson)
            };

            let data = DataAccess.EditContinued(targetUrl, postData, false);

            if (data) {
                Return@(itemName)();
                Close@(itemName)('AddKnifeModal@(itemName)');

                let toolMachineId = -1;
                $.each(data.result, function (i, item) {
                    toolMachineId = item.ToolMachineId;
                });
                Edit@(itemName)(toolMachineId);

                let h4 = $("#LeftMainTable@(itemName)").prop("scrollHeight");

                setTimeout(function () {
                    $("#LeftMainTable@(itemName)").scrollTop(h4);
                }, 250);
            }
        }
    }

    function Save@(itemName)() {
        let toolMachineId = parseInt($("#txtToolMachineId@(itemName)").val());
        if ($(objForm@(itemName)).valid()) {
            let targetUrl = "@Url.Action("UpdateToolMachineParameter", "MasterCam")";
            let postData = {
                "ToolMachineId": toolMachineId,
                "ToolParameterData": JSON.stringify(toolParameterJson)
            };

            let result = DataAccess.Update(targetUrl, postData, false, true);

            if (result) {
                Return@(itemName)();
            }
        }
    }

    function Delete@(itemName)(toolMachineId) {
        swal.fire({
            titleText: "確認要刪除嗎?",
            text: "此動作無法復原，請確認是否要執行!",
            icon: "warning",
            allowOutsideClick: false,
            allowEscapeKey: false,
            showCancelButton: true,
            confirmButtonColor: '#d33',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {
                let targetUrl = "@Url.Action("DeleteToolMachineParameter", "MasterCam")";
                let postData = {
                    "ToolMachineId": toolMachineId
                };

                let result = DataAccess.Delete(targetUrl, postData, false, true);

                if (result) {
                    Return@(itemName)();
                }
            }
        });
    }

    function OpenAddKnifeModal@(itemName)() {
        $("#AddKnifeModal@(itemName)").modal("show");
        $("#desAddKnifeWoErpFullNo@(itemName)").html(woErpFullNo@(itemName));
        $("#desAddKnifeMachineDesc@(itemName)").html(machineDesc@(itemName));
        $("#desToolCount@(itemName)").html(toolCount@(itemName));
    }

    function AddKnifeNoTrigger@(itemName)() {
        clearTimeout(timer)
        timer = setTimeout(function () {
            let toolNo = $("#txtAddToolNo@(itemName)").val();
            let targetUrl = "@Url.Action("GetToolMachineSetting", "MasterCam")";
            let postData = {
                "ToolNo": toolNo
            };
            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                if (data.result.length > 0) {
                    let innerHtml = '';
                    $.each(data.result, function (i, item) {
                        if (item.ToolClassIdSetting == null) {
                            alert("此刀具找不到任何一個設定項目!!");
                            return false;
                        }
                        let ToolClassIdSettingJson = JSON.parse(item.ToolClassIdSetting);
                        $.each(ToolClassIdSettingJson.data, function (j, item2) {
                            innerHtml += `<div class="row">
                                            <div class="col-lg-12 col-md-12 ">
                                                <div class="form-group row">
                                                    <label class="form-label col-12" for="txt${item2.ParameterKey}@(itemName)">${item2.ParameterName}<span class="text-danger">*</span></label>
                                                    <div class="col-12">
                                                        <input type="number" step="any" min="0" max="9999999999" class="form-control" id="txtAdd${item2.ParameterKey}@(itemName)" name="txt${item2.ParameterKey}@(itemName)"
                                                                value=""
                                                                data-tool-class-id-setting-id="${item2.ToolClassIdSettingId}"
                                                                data-tool-no="${item.ToolNo}"
                                                                placeholder="請輸入${item2.ParameterName}"
                                                                data-msg-required="請輸入${item2.ParameterName}" data-rule-required="true"
                                                                onInput="AddParameterValueTrigger@(itemName)('txtAdd${item2.ParameterKey}@(itemName)')" />
                                                    </div>
                                                </div>
                                            </div>
                                          </div>`;
                        });
                    });
                    $(".tool-parameter@(itemName)").html(innerHtml);

                    for (let j = 1; j <= parseInt(toolCount@(itemName)); j++) {
                        let optionText = j;
                        let optionValue = j;
                        $("#cboMachineLocation@(itemName)").append(new Option(optionText, optionValue))
                    }
                }
                else {
                    alert("查無刀具條碼資訊!");
                    $("#txtAddToolNo@(itemName)").val("");
                    $(".tool-parameter@(itemName)").empty();
                    $("#cboMachineLocation@(itemName)").empty();
                }
            }
            else {
                alert(data.msg);
            }
        }, 750);
    }

    function AddParameterValueTrigger@(itemName)(id) {
        clearTimeout(timer)
        timer = setTimeout(function () {
            let toolClassIdSettingId = $("#" + id + "").data("tool-class-id-setting-id");
            let parameterValue = $("#" + id + "").val();
            let toolNo = $("#" + id + "").data("tool-no");

            $.each(toolParameterJson.toolParameterInfo, function (i, item) {
                if (item.ToolClassIdSettingId == toolClassIdSettingId) {
                    toolParameterJson.toolParameterInfo.splice(i, 1);
                    return false;
                }
            });

            let inputToolParameterInfo =
            {
                "MachineId": machineId@(itemName),
                "ToolNo": toolNo,
                "MachineLocation": $("#cboMachineLocation@(itemName)").val() != null ? $("#cboMachineLocation@(itemName)").val() : machineLocation@(itemName),
                "ToolClassIdSettingId": toolClassIdSettingId,
                "ParameterValue": parameterValue
            };

            toolParameterJson.toolParameterInfo.push(inputToolParameterInfo);
        }, 0);
    }

    $("#cboMachineLocation@(itemName)").change(function () {
        let machineLocation = $("#cboMachineLocation@(itemName)").val();
        $.each(toolParameterJson.toolParameterInfo, function (i, item) {
            toolParameterJson.toolParameterInfo[i].MachineLocation = machineLocation;
        });
    });

    function UpdateKnifeNoTrigger@(itemName)() {
        clearTimeout(timer)
        timer = setTimeout(function () {
            let toolMachineId = parseInt($("#txtToolMachineId@(itemName)").val());
            let toolNo = $("#txtToolNo@(itemName)").val();
            let targetUrl = "@Url.Action("GetToolMachineSetting", "MasterCam")";
            let postData = {
                "ToolNo": toolNo
            };
            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                if (data.result.length > 0) {
                    let innerHtml = '';
                    $.each(data.result, function (i, item) {
                        if (i == 0) {
                            innerHtml += `<div class="row">
                                            <div class="col-lg-12 col-md-12 ">
                                                <div class="form-group row">
                                                    <label class="form-label col-12" for="txtToolNo@(itemName)">刀具條碼<span class="text-danger">*</span></label>
                                                    <div class="col-12">
                                                        <input type="text" class="form-control" id="txtToolNo@(itemName)" name="txtToolNo@(itemName)"
                                                               placeholder="請輸入刀具條碼"
                                                               data-msg-required="請輸入刀具條碼" data-rule-required="true"
                                                               data-msg-maxlength="必須少於 50 個字元" maxlength="50"
                                                               value="${item.ToolNo}"
                                                               onInput="UpdateKnifeNoTrigger@(itemName)()"/>
                                                    </div>
                                                </div>
                                            </div>
                                          </div>`;
                        }
                        innerHtml += `<div class="row">
                                        <div class="col-lg-12 col-md-12 ">
                                            <div class="form-group row">
                                                <label class="form-label col-12" for="txt${item.ParameterKey}@(itemName)">${item.ParameterName}<span class="text-danger">*</span></label>
                                                <div class="col-12">
                                                    <input type="number" step="any" min="0" max="9999999999" class="form-control" id="txt${item.ParameterKey}@(itemName)" name="txt${item.ParameterKey}@(itemName)"
                                                            value=""
                                                            data-tool-class-id-setting-id="${item.ToolClassIdSettingId}"
                                                            data-tool-no="${item.ToolNo}"
                                                            placeholder="請輸入${item.ParameterName}"
                                                            data-msg-required="請輸入${item.ParameterName}" data-rule-required="true"
                                                            onInput="AddParameterValueTrigger@(itemName)('txt${item.ParameterKey}@(itemName)')" />
                                                </div>
                                            </div>
                                        </div>
                                      </div>`;
                    });
                    $("#editForm@(itemName) fieldset").html(innerHtml);
                    TableComponentInit();
                }
                else {
                    alert("查無刀具條碼資訊!");
                    Edit@(itemName)(toolMachineId);
                }
            }
            else {
                alert(data.msg);
            }
        }, 750);
    }

    function Return@(itemName)() {
        ResetForm(objForm@(itemName));
        ResetForm(objForm2@(itemName));
        Switch("#listData@(itemName), .list-mode", "#editData@(itemName), .edit-mode");
        toolParameterJson.toolParameterInfo = [];
        Query@(itemName)();
    }

    function Close@(itemName)(modalName) {
        ResetForm(objForm@(itemName));
        ResetForm(objForm2@(itemName));
        $(".tool-parameter@(itemName)").empty();
        $("#cboMachineLocation@(itemName)").empty();
        toolParameterJson.toolParameterInfo = [];
        $("#" + modalName).modal('hide');
        $("#" + modalName + " input").val("");
    }
</script>
                            )