@using Business_Manager.Helpers
@{
    string itemName = "ViewTrayTurnover";
    string itemNameText = "Tray盤周轉";

    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
         #modalViewCreateNewBarcode .modal-body {
             max-height: 60vh;
             overflow-y: auto;
         }

         .table-sticky thead .col-sticky:nth-last-child(1) {
             right: 0;
         }

         .table-sticky tbody .col-sticky:nth-last-child(1) {
             right: 0;
         }

         /*#modalWatchPictureViewMeasureData .modal-body {
             height: 65vh;
             overflow-y: auto;
         }

         .image-style {
             display: flex;
             justify-content: center;
             overflow: scroll;
         }

         .pre-icon-style {
             background-color: #0d0930;
             width: 30px;
             height: 30px;
             margin-bottom: 250px;
         }

         #listDataViewMeasureData .table-custom {
             max-height: 56vh;
         }*/
    </style>
                  )

<div class="modal fade" id="modal@(itemName)">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    @(itemNameText)
                    
                </h5>
                <a class="close list-mode" href="javascript:void(0);" onclick="Close@(itemName)('#modal@(itemName)')"><i class="fas fa-times"></i></a>
            </div>
            <div class="modal-body">
                <!--刷條碼區-->
                <div class="row" id="editData@(itemName)" style="">
                    <div class="col-12">
                        <div class="card card-shadow mb-4">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12 col-lg-5">
                                        <form class="container custom-form-container" autocomplete="off" id="FirstBarcode" novalidate="novalidate">
                                            <fieldset>

                                                <div class="form-group column">
                                                    <label class="col-md-5 col-form-label" style="margin-bottom: 15px;" for="txtFirstBarcode@(itemName)">
                                                        <span data-key="rotationbarcodeone">
                                                            周轉條碼一
                                                        </span>
                                                        
                                                        <span class="text-danger">*</span>
                                                    </label>
                                                    <div class="col-12 ">
                                                        <div class="input-group">
                                                            <div class="input-group" style="padding-right:0px; padding-left: 0px;">
                                                                <input type="text" class="form-control" id="txtFirstBarcode@(itemName)" name="txtFirstBarcode@(itemName)" style="text-transform:uppercase;" placeholder="請輸入欲拆併之產品條碼">
                                                                <span class="input-group-append">
                                                                    <a class="btn btn-outline-danger no-edit-detail" title="清除"
                                                                       onclick="$('#txtFirstBarcode@(itemName)').val('')">
                                                                        <i class="fas fa-eraser"></i>
                                                                    </a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <dl class="help-block" style="display: grid;">
                                                            <dt data-key="order">製令</dt>
                                                            <dd id="FirstWoErpNo@(itemName)"></dd>
                                                            <dt data-key="productnumber">品號</dt>
                                                            <dd id="FirstMtlItemNo@(itemName)"></dd>
                                                            <dt data-key="currentlyboundbarcode">目前綁定條碼</dt>
                                                            <dd id="FirstBindBarcode@(itemName)"></dd>
                                                            <dt data-key="currentstation">目前站別</dt>
                                                            <dd id="FirstStop@(itemName)"></dd>
                                                            
                                                        </dl>
                                                    </div>
                                                </div>
                                                
                                            </fieldset>
                                        </form>
                                    </div>

                                    <div class="col-12 col-lg-2" style="display: flex; flex-direction: row; align-items: center; justify-content: center;">
                                        <div class="btn-box" style="padding:5px;" >
                                            @*<a class="btn btn-secondary" href="javascript:void(0);" onclick="Reset@(itemName)()" style="width:100%;"><i class="fas fa-random"></i>重置</a>*@
                                            @*<a class="btn btn-success" href="javascript:void(0);" id="Merge" onclick="Merge@(itemName)()" style="margin-top:10px; width:100%;"><i class="fas fa-copy"></i>周轉</a>*@
                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-5">
                                        <form class="container custom-form-container" autocomplete="off" id="SecondBarcode" novalidate="novalidate">
                                            <fieldset>
                                                <div class="form-group column">
                                                    <div class="input-group" style="padding-right: 15px; padding-left: 0px; margin-bottom: 15px;">
                                                        <label class="col-md-7 col-form-label" for="txtSecondBarcode@(itemName)">
                                                            <span data-key="rotationbarcodetwo">
                                                                周轉條碼二
                                                            </span>
                                                        <span class="text-danger">*</span></label>
                                                        
                                                    </div>

                                                    <div class="col-12 ">
                                                        <div class="input-group">
                                                            <div class="input-group" style="padding-right:0px; padding-left: 0px;">
                                                                <input type="text" class="form-control" id="txtSecondBarcode@(itemName)" name="txtSecondBarcode@(itemName)" style="text-transform:uppercase;" placeholder="請輸入拆併產品條碼">
                                                                <span class="input-group-append">
                                                                    <a class="btn btn-outline-danger no-edit-detail" title="清除"
                                                                       onclick="$('#txtSecondBarcode@(itemName)').val('')">
                                                                        <i class="fas fa-eraser"></i>
                                                                    </a>
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <dl class="help-block" style="display: grid;">
                                                            <dt data-key="isbarcoderotatable">條碼否可周轉</dt>
                                                            <dd id="SecondWoErpNo@(itemName)"></dd>
                                                            
                                                        </dl>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>



@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 999
        };

        let objForm@(itemName) = "#editForm@(itemName)";

        let moId@(itemName);
        let moProcessId@(itemName);
        let lotQty@(itemName);
        let barcodePrefix@(itemName);
        let barcodePostfix@(itemName);
        let machineId@(itemName);
        let sequenceLen@(itemName);

        function Pop@(itemName)(moId, moProcessId, machineId) {
            moId@(itemName) = moId;
            moProcessId@(itemName) = moProcessId;
            machineId@(itemName) = machineId;
            @*$("#desWoErpFullNo@(itemName)").html(woErpFullNo);
            $("#desProcessAlias@(itemName)").html(processAlias);
            $("#txtTrayLocalQ@(itemName)").val("");
            $("#txtLensBarcodeQ@(itemName)").val("");*@

            @*Query@(itemName)();*@

            $("#modal@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });

            $("#txtFirstBarcode@(itemName)").val("");
            $("#FirstWoErpNo@(itemName)").html("");
            $("#FirstMtlItemNo@(itemName)").html("");
            $("#FirstBindBarcode@(itemName)").html("");
            $("#FirstStop@(itemName)").html("");

            $("#txtSecondBarcode@(itemName)").val("");
            $("#SecondWoErpNo@(itemName)").html("");

            $("#SecondWoErpNo@(itemName)").css('color', '#36a2f5')
        

            if (!isMobile) {
                
            }


            
        }

        $("#txtFirstBarcode@(itemName)").keydown(function (event) {
        if (event.keyCode == 13 && $(this).val() != "") {
            BarcodeInfo@(itemName)($("#txtFirstBarcode@(itemName)").val(), "First");
                }
        });

        $("#txtSecondBarcode@(itemName)").keydown(function (event) {
            if (event.keyCode == 13 && $(this).val() != "") {
                BarcodeInfo@(itemName)($("#txtSecondBarcode@(itemName)").val(), "Second");
            }
        
        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));
        }

        function InitData@(itemName)(objPage) {
            
        }

        



        function Edit@(itemName)(BarcodeId, BarcodeQty) {

        }

        function BarcodeInfo@(itemName)(barcodeNo, inputTxt) {
            console.log(6258, inputTxt)

            let targetUrl = "@Url.Action("GetTrayBarcodeInfo", "ProductionHistory")";
            let postData = {
                "MoId": moId@(itemName),
                "TrayNo": barcodeNo.toUpperCase()

            };
            let data = DataAccess.Get(targetUrl, postData, false);
            if (data.status == "success") {
                if (data.result.length > 0) {
                    if (inputTxt == "First") {
                        console.log(6259, inputTxt)

                        $.each(data.result, function (i, item) {
                            $("#FirstWoErpNo@(itemName)").html(item.WoErpPrefix + "-" + item.WoErpNo);
                            $("#FirstMtlItemNo@(itemName)").html(item.MtlItemNo);
                            $("#FirstBindBarcode@(itemName)").html(item.BarcodeNo);
                            $("#FirstStop@(itemName)").html(item.ProcessName);

                        });
                    } else {
                        console.log(6260, inputTxt)
                        alert("該條碼不可周轉", "alert", 1000);
                        $("#SecondWoErpNo@(itemName)").html("不可周轉");
                        $("#SecondWoErpNo@(itemName)").css('color', 'red');//#36a2f5


                    }



                } else {
                    if (inputTxt == "First") {
                        console.log(6261, inputTxt)
                        alert("該條碼不可周轉", "alert", 1000);

                        $("#FirstWoErpNo@(itemName)").html("無資料");
                        $("#FirstMtlItemNo@(itemName)").html("");
                        $("#FirstBindBarcode@(itemName)").html("");
                        $("#FirstStop@(itemName)").html("");

                    } else {
                        console.log(6262, inputTxt)

                        $("#SecondWoErpNo@(itemName)").html("可周轉");
                        $("#SecondWoErpNo@(itemName)").css('color', '#36a2f5')
                        Merge@(itemName)()

                    }


                }
            
            } else {
                alert(data.msg, "alert", 1000);
                if (inputTxt = "First") {
                    console.log(6263, inputTxt)

                            $("#FirstWoErpNo@(itemName)").html("");
                            $("#FirstMtlItemNo@(itemName)").html("");
                            $("#FirstBindBarcode@(itemName)").html("");
                            $("#FirstStop@(itemName)").html("");

                } else {
                    console.log(6264, inputTxt)

                        $("#SecondWoErpNo@(itemName)").html("");


                    }
            }
        
        }

        function Merge@(itemName)() {

            if ($("#txtFirstBarcode@(itemName)").val() != ""  && $("#txtSecondBarcode@(itemName)").val() != "") {
                MtlItemNo@(itemName) = $("#FirstMtlItemNo@(itemName)").html();
                $("#txtMtlItemNameQ@(itemName)").val($("#FirstMtlItemNo@(itemName)").html());

                let targetUrl = "@Url.Action("UpdateTrayBindtTurnover", "ProductionHistory")";
                let postData = {
                    "oldTrayNo": $("#txtFirstBarcode@(itemName)").val(),
                    "newTrayNo": $("#txtSecondBarcode@(itemName)").val(),
                    "moProcessId": moProcessId@(itemName)

                };

                let result = DataAccess.Add(targetUrl, postData, false, true);

                if (result) {
                    Query@(itemName)();
                    Reset@(itemName)();

                }
            } else {
                alert("請確認條碼是否已填妥", "alert", 1000);
            }
        
        }
        
        function Reset@(itemName)() {
            $("#txtFirstBarcode@(itemName)").val("");
            $("#FirstWoErpNo@(itemName)").html("");
            $("#FirstMtlItemNo@(itemName)").html("");
            $("#FirstBindBarcode@(itemName)").html("");
            $("#FirstStop@(itemName)").html("");

            $("#txtSecondBarcode@(itemName)").val("");
            $("#SecondWoErpNo@(itemName)").html("");
            
        
        }
        

        function Return@(itemName)() {
            //ResetForm(objForm@(itemName));
            //Switch("#listData@(itemName), .list-mode", "#editData@(itemName), .edit-mode");
            $("#txtBarcodeNo@(itemName)").val("");
            Query@(itemName)();
        }

        function Close@(itemName)(modalName) {
            $(modalName).modal("hide");
        }
    </script>
                                                                                )