@using Business_Manager.Helpers
@{
    string itemName = "ViewQcDataPotNumber";
    string itemNameText = "量測數據上傳(依鍍膜鍋次)";

    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
         #modalViewQcDataPotNumber .modal-body {
             max-height: 80vh;
             overflow-y: auto;
         }

         .table-sticky thead .col-sticky:nth-last-child(1) {
             right: 0;
         }

         .table-sticky tbody .col-sticky:nth-last-child(1) {
             right: 0;
         }

        .tag-group {
            display: flex;
            background-color: #ebebeb;
            padding: 0.35rem 0.5rem;
            border-radius: 5px;
        }

        .table-custom {
            max-width: 100%;
            max-height: 70vh;
            overflow: auto;
            margin-bottom: 1rem;
            padding-bottom: .5rem;
        }
    </style>
        )

<div class="modal fade" id="modal@(itemName)">
    <div class="modal-dialog" style="min-height: 800px; max-width: 1000px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@(itemNameText)</h5>
                <a class="close" name="btnCloseModal@(itemName)" href="javascript:void(0);" data-dismiss="modal">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </a>
            </div>
            <div class="modal-body">
                <div class="row" id="editData@(itemName)">
                    <div class="col-12">
                        <form class="container" autocomplete="off" id="editForm@(itemName)">
                            <fieldset>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="txtWoErpNo@(itemName)">MES製令</label>
                                            <div class="col-12">
                                                <input type="text" class="form-control" id="txtWoErpNo@(itemName)" name="txtWoErpNo@(itemName)" placeholder="制令" readonly disabled />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="txtMtlItemNo@(itemName)">品號</label>
                                            <div class="col-12">
                                                <input type="text" class="form-control" id="txtMtlItemNo@(itemName)" name="txtMtlItemNo@(itemName)" placeholder="品號" readonly disabled />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="txtProcessAlias@(itemName)">站別</label>
                                            <div class="col-12">
                                                <input type="text" class="form-control" id="txtProcessAlias@(itemName)" name="txtProcessAlias@(itemName)" placeholder="站別" readonly disabled />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12 ">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="txtMtlItemName@(itemName)">品名</label>
                                            <div class="col-12">
                                                <input type="text" class="form-control" id="txtMtlItemName@(itemName)" name="txtMtlItemName@(itemName)" placeholder="品名" readonly disabled />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="txtMachineDesc@(itemName)">機台</label>
                                            <div class="col-12">
                                                <input type="text" class="form-control" id="txtMachineDesc@(itemName)" name="txtMachineDesc@(itemName)" placeholder="機台" readonly disabled />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="cboQmmDetailId@(itemName)">量測機型<span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <select id="cboQmmDetailId@(itemName)" name="cboQmmDetailId@(itemName)" class="form-control" required></select>
                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="col-lg-6 col-md-12 ">
                <div class="form-group row">
                    <label class="form-label col-12" for="txtQuantity@(itemName)">數量</label>
                    <div class="col-12">
                        <input type="text" class="form-control" id="txtQuantity@(itemName)" name="txtQuantity@(itemName)" placeholder="數量" readonly disabled />
                    </div>
                </div>
            </div>*@
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="cboInputType@(itemName)">輸入格式<span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <select id="cboInputType@(itemName)" name="cboInputType@(itemName)" class="form-control" required>
                                                    @*<option value="BarcodeNo">條碼</option>*@
                                                    <option value="LotNumber">批號</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12 ">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="cboPotNumber@(itemName)">鍋次<span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <select id="cboPotNumber@(itemName)" name="cboPotNumber@(itemName)" class="form-control" required></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 col-md-12 ">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="cboLotNumber@(itemName)">批號<code>(須建立MES批號)</code></label>
                                            <div class="col-12">
                                                <select id="cboLotNumber@(itemName)" name="cboLotNumber@(itemName)" class="form-control" required></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12 ">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="cboQcTypeId@(itemName)">檢驗類別<span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <select id="cboQcTypeId@(itemName)" name="cboQcTypeId@(itemName)" class="form-control" required></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 col-md-12 ">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="cboQcItemId@(itemName)">量測項目<span class="text-danger">*</span></label>
                                            <div class="col-12">
                                                <select id="cboQcItemId@(itemName)" name="cboQcItemId@(itemName)" class="form-control" required></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12 ">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="txtRemark@(itemName)">備註</label>
                                            <div class="col-12">
                                                <textarea class="form-control" id="txtRemark@(itemName)" name="txtRemark@(itemName)" rows="2"
                                                          placeholder="請輸入備註"
                                                          data-msg-required="請輸入備註"
                                                          data-msg-maxlength="必須少於 50 個字元" maxlength="50"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-6 col-md-12 ">
                                        <div class="form-group row">
                                            <label class="form-label col-12" for="cboLabelPrintMachine@(itemName)">列印量測標籤 標籤機<span class="text-danger"></span></label>
                                            <div class="col-12">
                                                <select id="cboLabelPrintMachine@(itemName)" name="cboLabelPrintMachine@(itemName)" class="form-control" required></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                

                                @*accept=".alx,.aly,.png"*@
                                @*<div class="row">
            <div class="col-lg-12 col-md-12 ">
                <div class="form-group row">
                    <label class="form-label col-12" for="txtQcRecordFile@(itemName)">量測檔案</label>
                    <div class="col-12">
                        <input type="file" id="fileQcRecordFile@(itemName)" name="fileQcRecordFile@(itemName)" multiple />
                        <input type="hidden" id="txtQcRecordFile@(itemName)" name="txtQcRecordFile@(itemName)" value="" />
                    </div>
                </div>
            </div>
        </div>*@

                                <div class="row" style="margin-top: 10px;">
                                    <div class="col-lg-12 col-md-12 ">
                                        <div class="table-custom">
                                            @*<table class="table table-bordered table-striped table-sticky table-stack" id="tblBarcode@(itemName)">*@
                                            <table class="table table-stack" id="tblBarcode@(itemName)">
                                                <thead>
                                                    <tr>
                                                        <th scope="col" style="min-width: 75px;">#</th>
                                                        <th scope="col" style="min-width: 200px;">條碼</th>
                                                        <th scope="col" style="min-width: 150px;">條碼數量</th>
                                                        <th scope="col" style="min-width: 150px;">條碼狀態</th>
                                                        <th scope="col" style="min-width: 150px;">量測值</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                        <div class="pagination" id="page@(itemName)"></div>
                                    </div>
                                </div>
                            </fieldset>
                        </form>

                        <div class="row">
                            <div class="col-lg-12 col-md-12 ">
                                <div class="form-group row">
                                    <label class="form-label col-12" for="cboQcRecordFile@(itemName)">其它檔案<code>(共夾上傳方式)</code></label>
                                    <div class="col-12">
                                        <div style="display: flex;" class="btn-group btn-group-inv@(itemName)">
                                            <select id="cboQcRecordFile@(itemName)" name="cboQcRecordFile@(itemName)" data-file-type="QcRecordFile" data-multiple-type="Y" class="form-control"></select>
                                            <a name="UploadQcRecordFile@(itemName)" class="btn btn-success pop-view" href="javascript:void(0);" data-file-type="QcRecordFile" data-multiple-type="Y"><i class="fal fa-search"></i></a>
                                            <a name="ClearQcRecordFile@(itemName)" class="btn pop-view" style="background-color: #ef3f5f !important;" href="javascript:void(0);"><i style="color: white;" class="fas fa-eraser"></i></a>
                                        </div>
                                        <dl id="QcRecordFileHelp@(itemName)" class="help-block qc-help">
                                            <dt>檔案預覽</dt>
                                            <dd style="display: none;" id="desQcRecordFile@(itemName)" class="absolute-path"></dd>
                                            <dd id="desQcRecordFilePreview@(itemName)" class="cad-preview"></dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a name="UploadQcData@(itemName)" class="btn btn-success" href="javascript:void(0);"><i class="fas fa-paper-plane"></i>上傳</a>
            </div>
        </div>
    </div>
</div>

@Html.Partial("ViewLocalFile")

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            pageIndex: 0,
            pageSize: 10
        };

        let objForm@(itemName) = "#editForm@(itemName)";
        let Elements@(itemName) = new ElementControl@(itemName)();
        let Datas@(itemName) = new DataControl@(itemName)();
        let config@(itemName) = {};
        let uploadFileJson@(itemName) =
        {
            uploadFileInfo: []
        };

        let qcBarcodeJson@(itemName) =
        {
            data: []
        };

        function Pop@(itemName)(config) {

            InitParameter@(itemName)(config);

            Elements@(itemName).Initialize@(itemName)();

            $("#modal@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });
        }

        function InitParameter@(itemName)(config) {
            $("#tblBarcode@(itemName) tbody").html("");
            $("#tblBarcode@(itemName)").hide();

            /*alert(JSON.stringify(config), "success");*/

            config@(itemName) = config;
        }

        //#region 元素控制器
        function ElementControl@(itemName)() {
            addMethod(this, "Initialize@(itemName)", function () {
                $("#txtWoErpNo@(itemName)").val(config@(itemName).WoErpNo);
                $("#txtMtlItemNo@(itemName)").val(config@(itemName).MtlItemNo);
                $("#txtProcessAlias@(itemName)").val(config@(itemName).ProcessAlias);
                $("#txtMtlItemName@(itemName)").val(config@(itemName).MtlItemName);
                $("#txtMachineDesc@(itemName)").val(config@(itemName).MachineDesc);
                $("#txtQuantity@(itemName)").val(config@(itemName).Quantity);

                uploadFileJson@(itemName).uploadFileInfo = [];

                $("a[name='UploadQcData@(itemName)']").off("click").on("click", function () {
                    Save@(itemName)();
                });

                $("a[name='UploadQcRecordFile@(itemName)']").off("click").on("click", function () {
                    var fileType = $(this).data("file-type");
                    var multipleType = $(this).data("multiple-type");

                    Elements@(itemName).PopViewLocalFile@(itemName)(fileType, multipleType)
                });

                $("a[name='ClearQcRecordFile@(itemName)']").off("click").on("click", function () {
                    $("#QcRecordFileHelp@(itemName)").hide();
                    uploadFileJson@(itemName).uploadFileInfo = [];
                });

                ComboBoxs.Default("#cboQmmDetailId@(itemName)", "@Url.Action("GetQmmDetail", "ProductionHistory")", { MachineId: config@(itemName).MachineId }, "", "CHOOSE", "", "QcMachineModeWithNo", "QmmDetailId");
                ComboBoxs.Default("#cboQcTypeId@(itemName)", "@Url.Action("GetQcType", "QcDataManagement")", { ModeId: config@(itemName).ModeId }, "", "NA", "", "QcTypeWithNo", "QcTypeId"); //ModeId:生產模式
                ComboBoxs.Default("#cboQcRecordFile@(itemName)", "@Url.Action("GetUploadWhitelist", "BasicInformation")", { ListNo: "QC" }, "", "NA", "", "FolderPath", "ListId");
                ComboBoxs.Default("#cboPotNumber@(itemName)", "@Url.Action("GetBarcodeAttributeByQc", "QmsBasicInformation")", { MoId: config@(itemName).MoId, MoProcessId: config@(itemName).MoProcessId, ItemNo: "PotNumber" }, "", "NA", "", "ItemValue", "ItemValue");
                ComboBoxs.Default("#cboQcItemId@(itemName)", "@Url.Action("GetQcItemByQc", "QmsBasicInformation")", {}, "", "NA", "", "QcItemWithType", "QcItemId");
                ComboBoxs.Default("#cboLabelPrintMachine@(itemName)", "@Url.Action("GetLabelPrintMachine", "ProductionHistory")", {}, "", "NA", "", "LabelPrintName", "LabelPrintNo");
            


                $(`#cboQcTypeId@(itemName) option:contains("鍍膜")`).prop('selected', true);
                $(`#cboQcItemId@(itemName) option:contains("反射率")`).prop('selected', true);

                $("#cboPotNumber@(itemName)").off("change").on("change", function (e) {
                    if (!e.target.value) {
                        $("#tblBarcode@(itemName) tbody").html("");
                        $("#tblBarcode@(itemName)").hide();
                        return false;
                    }
                    Datas@(itemName).GetBarcode@(itemName)(e.target);

                    ComboBoxs.Default("#cboLotNumber@(itemName)", "@Url.Action("GetLotNumberByQc", "QmsBasicInformation")", { MoId: config@(itemName).MoId, ItemValue: e.target.value, MoProcessId: config@(itemName).MoProcessId }, "", "CHOOSE", "", "LotNumberNo", "LotNumberNo");
                    if (!isMobile) {
                        $("#cboLotNumber@(itemName)").select2({
                            width: "100%"
                        });
                    }
                    ResetUploadInfo@(itemName)();
                });

                $("#cboQcRecordFile@(itemName)").off("change").on("change", function (e) {
                    var fileType = $(e.target).data("file-type");
                    var multipleType = $(e.target).data("multiple-type");
                    Elements@(itemName).PopViewLocalFile@(itemName)(fileType, multipleType);
                });

                $("a[name='btnCloseModal@(itemName)']").off("click").on("click", function () {
                    $("#QcRecordFileHelp@(itemName)").hide();
                    uploadFileJson@(itemName).uploadFileInfo = [];
                    ResetForm(objForm@(itemName));
                });

                @*$("#txtBarcodeNoQ@(itemName)").keydown(function (event) {
                    if (event.keyCode == 13) {
                        event.preventDefault();
                        Query@(itemName)();
                        return false;
                    }
                });*@

                @*var uploadConfig = {
                    fileSelector: "#fileQcRecordFile@(itemName)",
                    targetSelector: "#txtQcRecordFile@(itemName)",
                    required: false,
                    uploadPath: "/QcDataManagement/QcDataManagement",
                    maxFileCount: 999,
                    defaultFile: $("#txtQcRecordFile@(itemName)").val()
                };
                Suites.FileUpload(uploadConfig);*@

                if (!isMobile) {
                    $("#cboPotNumber@(itemName)").select2({ //, #cboQcTypeId@(itemName)
                        width: "100%"
                    });

                    $("#cboLabelPrintMachine@(itemName)").select2({
                        width: "100%"
                    });
                
                }
            });

            addMethod(this, "ChangeMeasureValue@(itemName)", function () {
                $.each(qcBarcodeJson@(itemName).data, function (i, item) {
                    $(`input[name='rdoMeasureValue@(itemName)-${item.BarcodeId}']`).off("change").on("change", function (e) {
                        let id = $(e.target).data("barcode-id");
                        var data = qcBarcodeJson@(itemName).data.find(f => f.BarcodeId == id);
                        $.extend(true, data, { MeasureValue: e.target.value });
                        if (e.target.value == "NG") $(`#trBarcode@(itemName)-${id}`).css("color", "red");
                        else $(`#trBarcode@(itemName)-${id}`).removeAttr("style");
                    });
                });
            });


            @*addMethod(this, "ChangeMeasureValue@(itemName)", function () {
                $("select[name='cboMeasureValue@(itemName)']").off("change").on("change", function (e) {
                    let id = $(e.target).data("barcode-id");
                    var data = qcBarcodeJson@(itemName).data.find(f => f.BarcodeId == id);
                    $.extend(true, data, { MeasureValue: e.target.value });
                    if (e.target.value == "NG") $(`#trBarcode@(itemName)-${id}`).css("color", "red");
                    else $(`#trBarcode@(itemName)-${id}`).removeAttr("style");
                });
            });*@

            addMethod(this, "ChangeQcBarcode@(itemName)", function () {
                $("select[name='cboBarcodeBuild@(itemName)']").off("change").on("change", function (e) {
                    var id = $(e.target).data("item-id");
                    var uploadFileInfo = uploadFileJson@(itemName).uploadFileInfo.find(f => f.id == id);
                    $.extend(true, uploadFileInfo, { BarcodeId: e.target.value ? e.target.value : -1 });
                });
            });

            addMethod(this, "DeleteTag@(itemName)", function () {
                $("a[name='DeleteTag@(itemName)']").off("click").on("click", function () {
                    var fileName = $(this).data("file-name");

                    $.each(uploadFileJson@(itemName).uploadFileInfo, function (i, item) {
                        if (item.FileName == fileName) {
                            uploadFileJson@(itemName).uploadFileInfo.splice(i, 1);
                            return false;
                        }
                    });
                    ResetUploadInfo@(itemName)();
                });
            });

            addMethod(this, "PopViewLocalFile@(itemName)", function (fileType, multipleType) {
                let listId = $(`#cbo${fileType}@(itemName)`).val(); //cboQcRecordFile
                let folderHtmlPath = `#cbo${fileType}@(itemName)`; //cboQcRecordFile
                let fileHtmlPath = `#des${fileType}@(itemName)`; //desQcRecordFile
                let filePreviewHtmlPath = `#des${fileType}Preview@(itemName)`; //desQcRecordFilePreview
                let helpHtmlPath = `#${fileType}Help@(itemName)`; //QcRecordFileHelp
                PopViewLocalFile(listId, multipleType, folderHtmlPath, fileHtmlPath, filePreviewHtmlPath, helpHtmlPath, "QC", uploadFileJson@(itemName), "@(itemName)");
            });

            addMethod(this, "ScanAutoFocus@(itemName)", function () {
                //回寫已選取的 BarcodeId
                $.each(uploadFileJson@(itemName).uploadFileInfo, function (i, item) {
                    $(`#cboBarcodeBuild${i}`).val(item.BarcodeId).trigger("change");

                    //打開下拉選單並將焦點設置在搜索框
                    $(`#cboBarcodeBuild${i}`).off("select2:open").on("select2:open", function () {
                        // 使用 setTimeout 確保在下拉選單打開後聚焦
                        setTimeout(function () {
                            $(".select2-search__field").focus();
                        }, 1);

                        $(`input[aria-controls="select2-cboBarcodeBuild${i}-results"]`).on("keydown", function (e) {
                            // 使用 setTimeout 確保刷完code關閉下拉選單後打開下一個選單
                            setTimeout(function () {
                                if (e.key === "Enter") $(`#cboBarcodeBuild${i + 1}`).select2("open");
                            }, 1);
                        });
                    });

                    /*if (i == 0) $(`#cboBarcodeBuild${i}`).select2("open");*/
                });
            });
        }
        //#endregion

        //#region 資料控制器
        function DataControl@(itemName)() {
            addMethod(this, "AddQcRecord@(itemName)", function () {
                let lotNumber = $("#cboLotNumber@(itemName) :selected").val();
                //if (!lotNumber) {
                //    alert("請選擇綁定批號", "warning", 0);
                //    return false;
                //}
                if (!uploadFileJson@(itemName) || uploadFileJson@(itemName).uploadFileInfo.find(f => f.BarcodeId == -1)) {
                    alert("請選擇檔案綁定之條碼", "warning", 0);
                    return false;
                }

                console.log(formData);
                console.log(uploadFileJson@(itemName));
                console.log(qcBarcodeJson@(itemName));

                $.each(uploadFileJson@(itemName).uploadFileInfo, function (i, uploadFileInfo) {
                    $.extend(true, uploadFileInfo, { FileType: "file-management", InputType: $("#cboInputType@(itemName) :selected").val() });
                });

                var formData = $("#editForm@(itemName)").serializeArray().map(m => {
                    return { [m.name.replace(/(txt|cbo|chk|@(itemName))/g, "").replace(/\s{2,}/g, " ")]: m.value }
                }).reduce((a, b) => { return { ...a, ...b }; }, {});

                let postData = {
                    MoId: config@(itemName).MoId,
                    MoProcessId: config@(itemName).MoProcessId,
                    QcRecordFileByNas: JSON.stringify(uploadFileJson@(itemName)),
                    QcMeasureDataJson: JSON.stringify(qcBarcodeJson@(itemName)), //量測資料 OK|NG
                    @*LotNumber: $("#cboLotNumber@(itemName) :selected").val(),
                    InputType:  $("#cboInputType@(itemName) :selected").val(),*@
                    SourcePage: "@(itemName)",
                    QcStatus: "P", //狀態:已上傳
                    CheckQcMeasureData: "Y", //此量測記錄是否已上傳數據 Y:已上傳/N:新單據/P:已上傳但未判定/A:已送測但未確認/C:已收件但未量測/F:已駁回/S:開始量測
                    MeasurementPlanning: "N", //排程是否已經安排完成 Y:已完成 N:未完成
                    SupportAqFlag: "Y", //是否支援品異單 Y:支援 N:不支援
                    SupportProcessFlag: "N" //是否支援卡控製程站別 Y:支援 N:不支援
                };
                Object.assign(postData, formData);

                let data = DataAccess.EditContinued('@Url.Action("AddQcRecord", "ProductionHistory")', postData, false);
                if (data.status == "success") {

                    uploadFileJson@(itemName).uploadFileInfo = [];

                    alert("量測檔案上傳", "success", 0);
                    $("#modal@(itemName)").modal("hide");

                    $.each(data.result, function (i, item) {

                        Print@(itemName)(item.QcRecordId);
                    });
                }

            });

            function Print@(itemName)(qcRecordId) {
                let targetUrl = "@Url.Action("PrintQCLable", "PrintLabel")";
                let postData = {
                    "QcRecordId": qcRecordId,
                    "PrintMachineName": $("#cboLabelPrintMachine@(itemName)").val()
                };

                let result = DataAccess.Update(targetUrl, postData, false, true);

                if (result) {
                    alert("完成1", "success", 0);

                }
            }
        

            addMethod(this, "GetBarcode@(itemName)", function (e) {
                let innerHtml = '';
                let result = DataAccess.Get('@Url.Action("GetBarcode", "Production")', { MoId: config@(itemName).MoId, MoProcessId: config@(itemName).MoProcessId, ItemValue: e.value }, false);
                if (result.status == "success") {

                    $.each(result.result, function (i, item) {
                        var _row = i + 1;
                        innerHtml += `<tr id="trBarcode@(itemName)-${item.BarcodeId}">
                                        <td style="max-width: 75px;"><span class="stack-title">#</span>${_row}</td>
                                        <td style="max-width: 200px;"><span class="stack-title">條碼</span>${item.BarcodeNo}</td>
                                        <td style="max-width: 150-px;"><span class="stack-title">條碼數量</span>${item.BarcodeQty}</td>
                                        <td style="max-width: 150px;"><span class="stack-title">條碼狀態</span>${item.StatusName}</td>
                                        <td style="max-width: 150px;"><span class="stack-title">量測值</span>
                                        <div class="form-group row">
                                            <div class="col-6">
                                                <label class="control control-solid control-solid-info control--radio">
                                                    OK
                                                    <input type="radio" id="rdoMeasureValue@(itemName)OK" name="rdoMeasureValue@(itemName)-${item.BarcodeId}" value="OK" checked data-barcode-id="${item.BarcodeId}"
                                                           data-msg-required="請選擇途程類別" data-rule-required="true" />
                                                    <span class="control__indicator"></span>
                                                </label>
                                            </div>
                                            <div class="col-6">
                                                <label class="control control-solid control-solid-info control--radio">
                                                    NG
                                                    <input type="radio" id="rdoMeasureValue@(itemName)NG" name="rdoMeasureValue@(itemName)-${item.BarcodeId}" value="NG" data-barcode-id="${item.BarcodeId}"
                                                           data-msg-required="請選擇途程類別" data-rule-required="true" />
                                                    <span class="control__indicator"></span>
                                                </label>
                                            </div>
                                        </div>
                                        </td>
                                      </tr>`;
                    });

                    @*<select id="cboMeasureValue@(itemName)-${item.BarcodeId}" name="cboMeasureValue@(itemName)" data-barcode-id="${item.BarcodeId}">
                        <option value=OK">OK</option>
                        <option value="NG">NG</option>
                    </select>*@

                    $("#tblBarcode@(itemName) tbody").html(innerHtml);
                    $("#tblBarcode@(itemName)").show();

                    qcBarcodeJson@(itemName).data = result.result.map(m => ({ ...m, MeasureValue: "OK" }));

                    Elements@(itemName).ChangeMeasureValue@(itemName)();
                }
                else {
                    alert(result.msg, "alert", 0);
                }
            });
        }
        //#endregion

        //#region 重置上傳檔案內容資訊框
        function ResetUploadInfo@(itemName) () {
            uploadFileJson@(itemName).uploadFileInfo = uploadFileJson@(itemName).uploadFileInfo.filter((file, index, self) =>
                index === self.findIndex((f) => f.FileName === file.FileName)
            ).map((m, i) => {
                var b = qcBarcodeJson@(itemName).data.find(f => f.BarcodeId == m.BarcodeId);
                return { id: i, FileName: m.FileName, FilePath: m.FilePath, FolderPath: m.FolderPath, BarcodeId: b ? b.BarcodeId : -1 }
            });

            if (!uploadFileJson@(itemName).uploadFileInfo.length) $("#QcRecordFileHelp@(itemName)").hide();

            let innerHtml = `<dt>檔案預覽</dt>
                                <div class="preview-group">`;
            $.each(uploadFileJson@(itemName).uploadFileInfo, function (i, item) {
                innerHtml += `<span class="tag-group">
                                <div class="tag-info">
                                    <a class="active-link mr-1" href="/BasicInformation/GetUploadFile?FilePath=${item.FilePath}&DownloadFlag=RD"><i class="fas fa-download"></i></a>${item.FileName}
                                    <select id="cboBarcodeBuild${i}" name="cboBarcodeBuild@(itemName)" data-item-id="${i}" class="form-control">${InnerHtml@(itemName)()}</select>
                                </div>
                                <div class="tag-delete">
                                    <a name="DeleteTag@(itemName)" href="javascript:void(0);" data-file-name="${item.FileName}">
                                        <i style="color:slategrey" class="fas fa-times"></i>
                                    </a>
                                </div>
                                </span>`;
            });
            innerHtml += `</div>`;
            $("#QcRecordFileHelp@(itemName)").html(innerHtml);

            function InnerHtml@(itemName)() {
                var innerHtml = `<option value="-1">-請選擇-</option>`;
                $.each(qcBarcodeJson@(itemName).data, function (i, d) {
                    innerHtml += `<option value="${d.BarcodeId}">${d.BarcodeNo}</option>`;
                })
                return innerHtml;
            }

            Elements@(itemName).ChangeQcBarcode@(itemName)();
            Elements@(itemName).DeleteTag@(itemName)();

            if (!isMobile) {
                $("select[name='cboBarcodeBuild@(itemName)']").select2({
                    width: "100%"
                });
            }

            Elements@(itemName).ScanAutoFocus@(itemName)();

            var modalBody = document.querySelector('#modal@(itemName) .modal-body');
            modalBody.scrollTop = modalBody.scrollHeight;

        };
        //#endregion

        //#region 儲存
        function Save@(itemName)() {
            swal.fire({
                titleText: "確認要上傳量測數據嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    Datas@(itemName).AddQcRecord@(itemName)();
                }
            });
        }
        //#endregion
</script>
        )