@using Business_Manager.Helpers
@{
    string itemName = "ViewMachineConsume";
    string itemNameText = "機台膠水更換";

    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
         #modalViewCreateNewBarcode .modal-body {
             max-height: 60vh;
             overflow-y: auto;
         }

         .table-sticky thead .col-sticky:nth-last-child(1) {
             right: 0;
         }

         .table-sticky tbody .col-sticky:nth-last-child(1) {
             right: 0;
         }

         /*#modalWatchPictureViewMeasureData .modal-body {
             height: 65vh;
             overflow-y: auto;
         }

         .image-style {
             display: flex;
             justify-content: center;
             overflow: scroll;
         }

         .pre-icon-style {
             background-color: #0d0930;
             width: 30px;
             height: 30px;
             margin-bottom: 250px;
         }

         #listDataViewMeasureData .table-custom {
             max-height: 56vh;
         }*/
    </style>
                                          )

<div class="modal fade" id="modal@(itemName)">
    <div class="modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content" style="width:80vw">
            <div class="modal-header">
                <h5 class="modal-title" data-key="gluereplace">
                    @(itemNameText)

                </h5>
                <a class="close list-mode" href="javascript:void(0);" onclick="Close@(itemName)('#modal@(itemName)')"><i class="fas fa-times"></i></a>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="col-auto" style="width:50%;">
                        <div class="form-group row">
                            <label class="form-label col-12" for="txtMachine@(itemName)" data-key="machine">機台</label>
                            <div class="col-12">
                                <div class="input-group" style="padding-right:0px; padding-left: 0px;">
                                    <input type="text" class="form-control" id="txtMachine@(itemName)" name="txtMachine@(itemName)"
                                           placeholder="請選擇機台" data-key="selectmachine"
                                           readonly />
                                    <span class="input-group-append">
                                        <a class="btn btn-outline-danger no-edit-detail" title="清除"
                                           onclick="popMachine@(itemName)()">
                                            <i class="fas fa-search"></i>
                                        </a>
                                    </span>
                                </div>

                                <dl class="help-block" style="display: grid;">
                                    <dt data-key="currentmanufacturingorderr">目前加工製令</dt>
                                    <dd id="desMachineWoErpNo@(itemName)"></dd>
                                    <dt data-key="currentprocessingitemnumber">目前加工品號</dt>
                                    <dd id="desMachineMtlItemNo@(itemName)"></dd>
                                    <dt data-key="currentstation">目前站別</dt>
                                    <dd id="desMachineStop@(itemName)"></dd>
                                    <dt data-key="currentconsumablebarcode">目前耗材條碼</dt>
                                    <dd id="desMachineBindBarcode@(itemName)"></dd>
                                    <dt data-key="openingdate">開封日</dt>
                                    <dd id="desMachineOpeningDay@(itemName)"></dd>
                                    <dt data-key="glueusabletimes">膠水可用次數</dt>
                                    <dd id="desMachineConsume@(itemName)"></dd>
                                    <dt data-key="expirationdays">期限天數</dt>
                                    <dd id="desEXPs@(itemName)"></dd>

                                </dl>

                            </div>

                        </div>
                    </div>
                    
                    <div class="col-auto" style="width:50%;">
                        <input type="hidden" id="txtLotId@(itemName)" name="txtLotId@(itemName)" value="-1" />

                        <div class="form-group row">
                            <label class="form-label col-12" for="txtConsume@(itemName)" data-key="replacemachineglue">更換上機膠水</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtConsume@(itemName)" name="txtConsume@(itemName)"
                                       placeholder="請輸入膠水批號條碼" data-key="pleaseentergluebatchbarcode"/>

                                <dl class="help-block" style="display: grid;">
                                    <dt data-key="productnumber">品號</dt>
                                    <dd id="desConsumeMtlItemNo@(itemName)"></dd>
                                    <dt data-key="productname">品名</dt>
                                    <dd id="desConsumeMtlItemName@(itemName)"></dd>
                                    <dt data-key="associatedbatchbarcode">所屬批號條碼</dt>
                                    <dd id="desConsumeLotNo@(itemName)"></dd>
                                    <dt data-key="earlieststoragedate">最早入庫日</dt>
                                    <dd id="desConsumeEntry@(itemName)"></dd>

                                </dl>

                            </div>

                        </div>
                    </div>
                </div>

                    <div class="row">
                        <div class="col-lg-4 col-md-12">
                            <div class="form-group row">
                                <label class="form-label col-12" for="txtOpeningDate@(itemName)" data-key="openingdate">開封日期</label>
                                <div class="col-12">
                                    <input type="text" class="form-control" id="txtOpeningDate@(itemName)" name="txtOpeningDate@(itemName)"
                                           placeholder="請輸入開封日期" data-key="pleaseentertheopeningdate"
                                           data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))" />
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-12">
                            <div class="form-group row">
                                <label class="form-label col-12" for="txtExpsValue@(itemName)" data-key="usageperiod(days)">使用期限(天)</label>
                                <div class="col-12">
                                    <input type="number" class="form-control" id="txtExpsValue@(itemName)" name="txtExpsValue@(itemName)"
                                           placeholder="請輸入使用期限(天)" value="0" min="0" data-key="pleaseenterusageperiod(days)" />
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-12">
                            <div class="form-group row">
                                <label class="form-label col-12" for="txtAllowCount@(itemName)" data-key="usablequantity">可使用數</label>
                                <div class="col-12">
                                    <input type="number" class="form-control" id="txtAllowCount@(itemName)" name="txtAllowCount@(itemName)"
                                           placeholder="請輸入可使用數" value="0" min="0" data-key="pleaseenterusablequantity" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            <div class="modal-footer">
                <div class="row d-flex justify-content-between w-100">
                    <div class="col-6 col-sm-6 col-md-6">
                        <div class="row mb-2">
                            <button type="button" class="btn btn-danger" onclick="Unbind@(itemName)()"><i class="fas fa-cut"></i><span data-key="">解除綁定</span></button>
                        </div>
                    </div>

                    <div class="col-6 col-sm-6 col-md-6 text-right d-flex justify-content-end">
                        <div class="row mb-2">
                            <button type="button" class="btn btn-success" onclick="Edit@(itemName)()"><i class="fas fa-save"></i><span data-key="save">儲存</span></button>
                        </div>
                    </div>
                </div>
            </div>
            </div>
    </div>
</div>


<!-- 彈出窗 選擇機台畫面 -->
<div class="modal fade" id="machineModal@(itemName)" style="display:none">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    選擇 - 機台資料<br />
                </h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <!-- 選擇車間 -->
                        <div class="row">
                            <div class="col-md-10 text-md-left">
                                <form id="queryDataViewMachineInfo" autocomplete="off">
                                    <label>
                                        車間
                                        <select class="form-control pull-right" id="cboShopQ@(itemName)" name="cboShopQ@(itemName)"></select>
                                    </label>
                                    <label>
                                        機台
                                        <input class="form-control" type="text" id="txtMachineNameQ@(itemName)" />
                                    </label>
                                    <a class="btn btn-primary" href="javascript: InitMachineData@(itemName)(objPage@(itemName));"><i class="fas fa-search"></i> 搜尋</a>
                                </form>
                            </div>
                        </div>

                        <div class="table-outer" style="border: solid 1px #eee;">
                            <table class="dataselect_table" style="padding: 0.2rem;" id="tblMachineData@(itemName)">
                                <thead>
                                    <tr class="dataselect_tr">
                                        <th scope="col" width="5%" class="dataselect_th">ID</th>
                                        <th scope="col" width="25%" class="dataselect_th">機台編號</th>
                                        <th scope="col" width="25%" class="dataselect_th">機台名稱</th>
                                        <th scope="col" width="25%" class="dataselect_th">機台描述</th>
                                        <th scope="col" width="20%" class="dataselect_th">
                                            選擇
                                        </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };

        let objForm@(itemName) = "#editForm@(itemName)";

        let moId@(itemName);
        let moProcessId@(itemName);
        let lotQty@(itemName);
        let barcodePrefix@(itemName);
        let barcodePostfix@(itemName);
        let sequenceLen@(itemName);
        let machineId@(itemName);
        let parentBarcodeId@(itemName);
        let barcodeQty@(itemName) = 0;
        let userId = -1;
        let companyId = -1;

        document.addEventListener('DOMContentLoaded', function () {
            var currentLanguage = localStorage.getItem('language') || 'chinese';

            async function loadTranslations() {
                try {
                    const response = await fetch('/MesConsoleLang.json'); // 请确保路径与文件名正确
                    if (!response.ok) {
                        throw new Error(`HTTP error! status: ${response.status}`);
                    }
                    const translations = await response.json();
                    return translations;
                } catch (error) {
                    console.error('Error loading translations:', error);
                }
            }

            // 根据语言设置翻译
            async function translateContent(language) {
                const translations = await loadTranslations();
                document.querySelectorAll('[data-key]').forEach(function (element) {
                    const key = element.getAttribute('data-key');
                    if (translations[language] && translations[language][key]) {
                        if (element.placeholder !== undefined) {
                            // 如果元素有 placeholder 属性
                            element.setAttribute('placeholder', translations[language][key]);
                        } else {
                            // 如果是普通 HTML 元素
                            element.textContent = translations[language][key];
                        }
                    }
                });
            }

            // Update content on page load
            translateContent(currentLanguage);

            // Handle language toggle from select element
            //document.getElementById('language-select').addEventListener('change', function (event) {
            //    currentLanguage = event.target.value;
            //    translateContent(currentLanguage);
            //    localStorage.setItem('language', currentLanguage);
            //});

            // Optional: Handle language toggle button
            //document.getElementById('toggle-language').addEventListener('click', function () {
            //    var languageOptions = ['chinese', 'thai', 'vietnamese'];
            //    var currentIndex = languageOptions.indexOf(currentLanguage);
            //    var nextIndex = (currentIndex + 1) % languageOptions.length;
            //    currentLanguage = languageOptions[nextIndex];
            //    translateContent(currentLanguage);
            //    localStorage.setItem('language', currentLanguage);
            //    document.getElementById('language-select').value = currentLanguage; // Sync with select element
            //});
        });

        function Pop@(itemName)(moId, moProcessId, machineId) {
            @*moId@(itemName) = moId;
            moProcessId@(itemName) = moProcessId;
            machineId@(itemName) = machineId;*@
            console.log(248, moId, moProcessId, machineId)

            //Query@(itemName)();

            $("#modal@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });

            $("#txtConsume@(itemName)").val("")
            $("#txtAllowCount@(itemName)").val(0)
            $("#txtExpsValue@(itemName)").val(0)
        

            $("#desMachineWoErpNo@(itemName)").html("");
            $("#desMachineMtlItemNo@(itemName)").html("");
            $("#desMachineStop@(itemName)").html("");
            $("#desMachineBindBarcode@(itemName)").html("");
            $("#desMachineOpeningDay@(itemName)").html("");
            $("#desMachineConsume@(itemName)").html("");
            $("#desConsumeMtlItemNo@(itemName)").html("");
            $("#desConsumeMtlItemName@(itemName)").html("");
            $("#desConsumeLotNo@(itemName)").html("");
            $("#desConsumeEntry@(itemName)").html("");
            $("#desEXPs@(itemName)").html("");

            let currentDate = new Date();

            Suites.DateDropper("#txtOpeningDate@(itemName)");
            Suites.SetDateDropper("#txtOpeningDate@(itemName)", currentDate);



            if (!isMobile) {

            }



            $("#txtConsume@(itemName)").keydown(function (event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    GetLotNumber@(itemName)()
                    return false;
                }
            });

            $("#queryForm@(itemName)").keydown(function (event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    return false;
                }
            });

            

        }

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            @*if ($("#txtBarcodeNoQ@(itemName)").val() != "") {
                let targetUrl = "@Url.Action("GetTrayBarcodeInfo", "ProductionHistory")";
                let postData = {
                    "MoId": moId@(itemName),
                    "TrayNo": $("#txtBarcodeNoQ@(itemName)").val(),
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    pageCount = data.result.length;

                    if (pageCount > 0) {
                        objPage = PageCaculate(pageCount, objPage);
                        $.each(data.result, function (i, item) {
                            let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";
                            $("#desWoErpFullNo@(itemName)").html(item.WoErpPrefix + "-" + item.WoErpNo);
                            $("#desProcessAlias@(itemName)").html(item.ProcessAlias);
                            $("#desBindBarcode@(itemName)").html(item.BarcodeNo);
                            $("#desBindBarcodeQty@(itemName)").html(item.BarcodeQty);
                            parentBarcodeId@(itemName) = item.BarcodeId;
                            lotQty@(itemName) = item.BarcodeQty;

                        });

                        GetTrayBindLens@(itemName)(objPage)

                    }
                    else {
                        alert("該Tray盤無綁定任何批量條碼", "alert", 0);

                    }
                } else {
                    alert(data.msg, "alert", 0);
                }
            } else {
                let innerHtml = "";
                innerHtml += `<tr>
                                    <td class="text-center" colspan="9" style="background-color: #fff3cd;">
                                        <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;

                 $("#tblData@(itemName) tbody").html(innerHtml);

            TableComponentInit();
            }*@

        }

        function GetLotNumber@(itemName)() {
            let targetUrl = "@Url.Action("GetLotNumber", "ProductionHistory")";
            let postData = {
                "LnBarcodeNo": $("#txtConsume@(itemName)").val()
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                if (data.result.length > 0) {
                    $.each(data.result, function (i, item) {

                        $("#desConsumeMtlItemNo@(itemName)").html(item.MtlItemNo);
                        $("#desConsumeMtlItemName@(itemName)").html(item.MtlItemName);
                        $("#desConsumeLotNo@(itemName)").html(item.LotNumberNo);
                        $("#desConsumeEntry@(itemName)").html(item.FirstRecriptDate);
                        $("#txtLotId@(itemName)").val(item.LotNumberId);

                    });
                }
            } else {
                alert(data.msg, "alert", 0);
            }

        }

        @*function GetMoProcessQty@(itemName)() {
            let targetUrl = "@Url.Action("GetMoProcessQty", "ProductionHistory")";
            let postData = {
                "MoProcessId": moProcessId@(itemName)
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length;


                if (pageCount > 0) {
                    $.each(data.result, function (i, item) {
                        $("#desPassBarcodeQty@(itemName)").html(item.PassBindQty + " / " + item.TotalPassQty);
                        $("#desScrapBarcodeQty@(itemName)").html(item.ScrapBindQty + " / " + item.TotalScrapQty);
                        lotQty@(itemName) = item.LotQty;
                        barcodePrefix@(itemName) = item.BarcodePrefix;
                        barcodePostfix@(itemName) = item.BarcodePostfix;
                        sequenceLen@(itemName) = item.SequenceLen;
                    });
                }
            } else {
                alert(data.msg, "alert", 0);
            }
        }*@



        function Edit@(itemName)() {//save

            if ($("#txtMachine@(itemName)").val() == "" || $("#txtConsume@(itemName)").val() == "" ) {
                alert("請填入完整資訊", "alert", 0);
            } else {
                let targetUrl = "@Url.Action("UpdateMachineConsume", "ProductionHistory")";
                let postData = {
                    "MachineId": machineId@(itemName),
                    "LnBarcodeNo": $("#txtConsume@(itemName)").val(),
                    "BarcodeQty": barcodeQty@(itemName),
                    "OpeningDate": $("#txtOpeningDate@(itemName)").val(),
                    "Exps": $("#txtExpsValue@(itemName)").val(),
                    "AllowQty": $("#txtAllowCount@(itemName)").val(),
                    "LotNumberId": $("#txtLotId@(itemName)").val()
                };

                let data = DataAccess.EditContinued(targetUrl, postData, false);

                if (data) {
                    //$("#modalQc@(itemName)").modal("hide");
                    $("#txtConsume@(itemName)").val("")
                    $("#txtAllowCount@(itemName)").val(0)
                    $("#txtExpsValue@(itemName)").val(0)
                
                    $("#desMachineWoErpNo@(itemName)").html("");
                    $("#desMachineMtlItemNo@(itemName)").html("");
                    $("#desMachineStop@(itemName)").html("");
                    $("#desMachineBindBarcode@(itemName)").html("");
                    $("#desMachineOpeningDay@(itemName)").html("");
                    $("#desMachineConsume@(itemName)").html("");
                    $("#desConsumeMtlItemNo@(itemName)").html("");
                    $("#desConsumeMtlItemName@(itemName)").html("");
                    $("#desConsumeLotNo@(itemName)").html("");
                    $("#desConsumeEntry@(itemName)").html("");
                    $("#desEXPs@(itemName)").html("");

                    let currentDate = new Date();

                    Suites.DateDropper("#txtOpeningDate@(itemName)");
                    Suites.SetDateDropper("#txtOpeningDate@(itemName)", currentDate);
                

                    GetMachineMoInfo@(itemName)(machineId@(itemName))
                    alert("新增完成", "success");
                }
            }



        }

        function Unbind@(itemName)() {//save

            let targetUrl = "@Url.Action("UpdateUnbindMachineConsume", "ProductionHistory")";
                let postData = {
                    "MachineId": machineId@(itemName),
                    
                };

                let data = DataAccess.EditContinued(targetUrl, postData, false);

                if (data) {
                    //$("#modalQc@(itemName)").modal("hide");
                    $("#txtConsume@(itemName)").val("")
                    $("#txtAllowCount@(itemName)").val(0)
                    $("#txtExpsValue@(itemName)").val(0)
                
                    $("#desMachineWoErpNo@(itemName)").html("");
                    $("#desMachineMtlItemNo@(itemName)").html("");
                    $("#desMachineStop@(itemName)").html("");
                    $("#desMachineBindBarcode@(itemName)").html("");
                    $("#desMachineOpeningDay@(itemName)").html("");
                    $("#desMachineConsume@(itemName)").html("");
                    $("#desConsumeMtlItemNo@(itemName)").html("");
                    $("#desConsumeMtlItemName@(itemName)").html("");
                    $("#desConsumeLotNo@(itemName)").html("");
                    $("#desConsumeEntry@(itemName)").html("");
                    $("#desEXPs@(itemName)").html("");

                    let currentDate = new Date();

                    Suites.DateDropper("#txtOpeningDate@(itemName)");
                    Suites.SetDateDropper("#txtOpeningDate@(itemName)", currentDate);
                

                    GetMachineMoInfo@(itemName)(machineId@(itemName))
                    alert("已解除綁定", "success");
                }


        }


        function GetMachineMoInfo@(itemName)(machineId) {
            machineId@(itemName) = machineId;

            @*$("#txtMachine@(itemName)").val("");*@

            $("#desMachineWoErpNo@(itemName)").html("");
            $("#desMachineMtlItemNo@(itemName)").html("");
            $("#desMachineStop@(itemName)").html("");
            $("#desMachineBindBarcode@(itemName)").html("");
            $("#desMachineOpeningDay@(itemName)").html("");
            $("#desMachineConsume@(itemName)").html("");
            $("#desEXPs@(itemName)").html("");

        
             let targetUrl = "@Url.Action("GetMachineMoInfo", "ProductionHistory")";
            let postData = {
                "MachineId": machineId
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {

                if (data.result.length > 0) {
                    $.each(data.result, function (i, item) {
                        @*$("#txtMachine@(itemName)").val(item.MachineName + "(" + item.MachineDesc + ")");*@
                        var WoErpFullNo = item.WoErpPrefix != "" ? item.WoErpPrefix + "-" + item.WoErpNo : "";
                        var MaxDispenseQty = item.MaxDispenseQty != -1 ? `${item.MaxDispenseQty}` : "";
                        $("#desMachineWoErpNo@(itemName)").html(WoErpFullNo);
                        $("#desMachineMtlItemNo@(itemName)").html(item.MtlItemNo);
                        $("#desMachineStop@(itemName)").html(item.ProcessAlias);
                        $("#desMachineBindBarcode@(itemName)").html(item.LotNumberNo);
                        $("#desMachineOpeningDay@(itemName)").html(item.OpeningDate);
                        $("#desMachineConsume@(itemName)").html(item.MaxDispenseQty);
                        $("#desEXPs@(itemName)").html(item.EXPs);


                        barcodeQty@(itemName) = item.BarcodeQty;
                    });
                }
            } else {
                alert(data.msg, "alert", 0);
            }
        }

        function GetDeviceIp@(itemName)() {
            let deviceIp = "";
            let targetUrl = "@Url.Action("GetDeviceIp", "ProductionHistory")";
            let postData = {
            };
            let data = DataAccess.Get(targetUrl, postData, false);
            if (data.status == "success") {
                deviceIp = data.result;
            }
            return deviceIp
        
        }

        function InitMachineData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            var deviceIp = GetDeviceIp@(itemName)();

            let targetUrl = "@Url.Action("GetMachineByDevice", "ProductionHistory")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "DeviceIdentifierCode": deviceIp,
                "ShopId": $("#cboShopQ@(itemName)").val(),
                "MachineName": $("#txtMachineNameQ@(itemName)").val()
            };
            let data = DataAccess.Get(targetUrl, postData, false);
            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;
                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);
                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";
                        innerHtml += `<tr class="dataselect_tr">
                                    <td width="5%" class="dataselect_td">${_row}</td>
                                    <td width="25%" class="dataselect_td">${item.MachineNo}</td>
                                    <td width="25%" class="dataselect_td">${item.MachineName}</td>
                                    <td width="25%" class="dataselect_td">${item.MachineDesc}</td>
                                    <td width="20%" class="dataselect_td">
                                        <a class="button_choose auth-update" href="javascript:chooseMachine@(itemName)('${item.MachineId}','${item.MachineDesc}', '${item.MachineName}');" data-mtl-id="1">
                                            選擇
                                        </a>
                                    </td>
                                  </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                <td class="text-center" colspan="5" style="background-color: #fff3cd;">
                                    <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                </td>
                              </tr>`;
                }

            }

            $("#tblMachineData@(itemName) tbody").html(innerHtml);

            Pager("#page@(itemName)", pageCount, objPage, InitMachineData@(itemName));
        
        }

        function popMachine@(itemName)() {

            $("#machineModal@(itemName)").modal('show');
            let targetUrl = "@Url.Action("GetLoginByKey", "User")";
            let postData = {
                "UserNo": $.cookie("Login"),
                "KeyText": $.cookie("LoginKey")
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                userId = data.returnData.UserId
                companyId = data.returnData.CompanyId
            } else {
                alert(data.msg, "alert", 0);
            }

            ComboBoxs.Default("#cboShopQ@(itemName)", "@Url.Action("GetWorkShop", "ProductionHistory")", { "CompanyId": companyId }, "", "ALL", "", "ShopName", "ShopId");

            objPage@(itemName).pageIndex = 0;
            InitMachineData@(itemName)(objPage@(itemName));

            $("#cboShopQ@(itemName)").change(function () {
                let shopId = $("#cboShopQ@(itemName)").val();
                InitMachineData@(itemName)(objPage@(itemName));
            });
        
        }

        function chooseMachine@(itemName)(chooseMachineId, MachineDesc, MachineName) {
            //MachineId = chooseMachineId;
        @*$("#spanMachineLabel@(itemName)").html(MachineDesc);*@
            $("#txtMachine@(itemName)").val(MachineName + "(" + MachineDesc + ")");

            GetMachineMoInfo@(itemName)(chooseMachineId)
            $("#machineModal@(itemName)").modal('hide');
        
        }

        function Return@(itemName)() {
            //ResetForm(objForm@(itemName));
            //Switch("#listData@(itemName), .list-mode", "#editData@(itemName), .edit-mode");
            $("#txtBarcodeNo@(itemName)").val("");
            Query@(itemName)();
        }

        function Close@(itemName)(modalName) {
            $("#txtBarcodeNoQ@(itemName)").val("")
            $("#txtLensBarcodeQ@(itemName)").val("")
            $("#txtXTrayLocalQ@(itemName)").val("")
            $("#txtYTrayLocalQ@(itemName)").val("")
            $(modalName).modal("hide");
        
        }
    </script>
                                                                                                        )