@using Business_Manager.Helpers
@{
    string itemName = "ViewAdvancedFunction";
    string itemNameText = "進階功能";
}

@Html.Resource("css",
    @<style>
         .table-sticky thead .col-sticky:nth-last-child(1) {
             right: 0;
         }

         .table-sticky tbody .col-sticky:nth-last-child(1) {
             right: 0;
         }

         .control {
             margin-bottom: 0px;
         }
    </style>
                )
@*<span data-key="workshop">車間</span>*@

<div class="modal fade advanced-section" style="" id="modal@(itemName)">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="go-back " data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-arrow-left"></i></span>
                </button>
                <div class="input-group" style="">
                    <div class="col-lg-2 col-md-2 col-6 pl-1 pr-1">
                        <h6 data-key="PleaseEnterSearchInformation">請輸入搜尋資訊</h6>
                    </div>
                    <div class="col-lg-2 col-md-2 col-6 pl-1 pr-1">
                        <input type="text" class="form-control form-dark" id="txtBarcodeNoQ@(itemName)" name="" data-key="PleaseEnterBarcode"  placeholder="請輸入條碼">
                    </div>
                    <div class="col-lg-2 col-md-2 col-6 pl-1 pr-1" style="margin-top: 2px;">
                        <a class="btn btn-primary ml-1" data-backdrop="static" data-keyboard="false" href="javascript:Query@(itemName)();">
                            <i class="fal fa-search"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="modal-body" id="listData@(itemName)" style="padding:0;max-height:100vh;">
                <div class="table-outer table-advanced">
                    <table class="table-platform-sticky" id="tblNotLotData@(itemName)">
                        <thead>
                            <tr class="headerrow">
                                <th scope="col" class="text-center" style="min-width: 115px;">
                                    <label class="col-12 col-form-label">
                                        <span data-key="all">全選</span>
                                         <input type="checkbox" id="cbxNotLotSelectAll@(itemName)" />
                                    </label>
                                </th>
                                <th data-key="barcode" scope="col" width="20%">條碼</th>
                                <th data-key="barcodestatus" scope="col" width="15%">狀態</th>
                                <th data-key="quantity" scope="col" width="10%">數量</th>
                                <th data-key="NextStationProcess" scope="col" width="15%">下製程</th>
                                <th data-key="starttime" scope="col" width="20%">開始時間</th>
                                <th data-key="endtime" scope="col" width="20%">結束時間</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                    <table class="table-platform-sticky" id="tblLotData@(itemName)" style="display: none;">
                        <thead>
                            <tr class="headerrow">
                                <th data-key="barcode" scope="col" width="20%">條碼</th>
                                <th data-key="barcodestatus" scope="col" width="15%">狀態</th>
                                <th data-key="quantity" scope="col" width="10%">數量</th>
                                <th data-key="NextStationProcess" scope="col" width="15%">下製程</th>
                                <th data-key="starttime" scope="col" width="20%">開始時間</th>
                                <th data-key="endtime" scope="col" width="20%">結束時間</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                    <table class="table-platform-sticky" id="tblNotBarcodeCtrlData@(itemName)" style="display: none;">
                        <thead>
                            <tr class="headerrow">
                                <th data-key="station" scope="col">站別</th>
                                <th data-key="barcodestatus" scope="col">狀態</th>
                                <th data-key="quantity" scope="col">數量</th>
                                <th data-key="NextStationProcess" scope="col">下製程</th>
                                <th data-key="Reason" scope="col">原因</th>
                                <th data-key="SwipePersonnel" scope="col">刷取人員</th>
                                <th data-key="SwipeDate" scope="col">刷取日期</th>
                                <th data-key="operation" scope="col" class="text-center col-sticky">操作</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
                <div class="close-block" style="">
                    <button class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true"><i class="fas fa-times"></i></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 非批量條碼 F狀態時需刷取NG CODE-->
<div class="modal fade" id="modalNotLotNgCode@(itemName)">
    <div class="modal-dialog modal-lg" style="padding-top:7%;">
        <div class="modal-content working-content" style="min-width:350px;">
            <div class="modal-header" style="align-items: center;">
                <h5 class="modal-title">
                    填寫異常原因
                    <span class="sub-title">
                        <span data-key="barcode">條碼:</span>
                     <span class="sub-text" id="desNotLotNgCodeBarcodeNo@(itemName)"></span></span>
                    <span class="sub-title">
                        <span data-key="OriginalStatus">原狀態:</span>
                     <span class="sub-text" id="desNotLotNgCodeProdStatus@(itemName)"></span></span>
                </h5>
                <button class="close" type="button" onclick="Close@(itemName)('modalNotLotNgCode@(itemName)')">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row" id=" ">
                    <div class="col-12">
                        <form autocomplete="off" id="editForm3@(itemName)">
                            <input type="hidden" id="txtNotLotNgCodeBarcodeProcessId@(itemName)" />
                            <div class="row">
                                <div class="col-lg-12 col-md-12 ">
                                    <div class="form-group row">
                                        <label class="form-label col-12" for="txtNotLotNgCodeCauseNo@(itemName)">
                                            <span data-key="NGReason"> NG原因</span>
                                       <span class="text-danger">*</span></label>
                                        <div class="col-12">
                                            <input type="text" class="form-control" id="txtNotLotNgCodeCauseNo@(itemName)" name="txtNotLotNgCodeCauseNo@(itemName)"
                                                   data-rule-required="true"
                                                   oninput="EditDefectCauseNo@(itemName)('txtNotLotNgCodeCauseNo@(itemName)');" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <div class="card-footer text-right text-lg-right">
                <button type="button" class="btn btn-success" onclick="SaveNotLotNgCode@(itemName)()"><i class="fas fa-paper-plane"></i>確認</button>
            </div>
        </div>
    </div>
</div>

<!-- 批量條碼模式過站 改判 EX: 成型批量條碼過站 -->
<div class="modal fade" id="LotBarcodeNgCode@(itemName)">
    <div class="modal-dialog modal-lg" style="padding-top:7%;">
        <div class="modal-content working-content" style="min-width:350px;">
            <div class="modal-header" style="align-items: center;">
                <h5 class="modal-title">
                    批量條碼改判管理
                    <span class="sub-title">
                        <span data-key="OriginalBarcodeCode">原條碼代碼:</span>
                     <span class="sub-text" id="desBarcodeNo@(itemName)"></span></span>
                    <span class="sub-title">
                        <span data-key="OriginalBarcodeStatus">原條碼狀態:</span>
                     <span class="sub-text" id="desProdStatus@(itemName)"></span></span>
                    <span class="sub-title">
                        <span data-key="DesiredReJudgeStatus">欲改判狀態:</span>
                     <span class="sub-text" id="desUserProdStatus@(itemName)"></span></span>
                    <span class="sub-title">
                        <span data-key="OriginalPASSBarcode">原條碼數量: </span>
                    <span class="sub-text" id="desBarcodeQty@(itemName)"></span></span>
                </h5>
                <button class="close" type="button" onclick="Close@(itemName)('LotBarcodeNgCode@(itemName)')">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row" id=" ">
                    <div class="col-12">
                        <form autocomplete="off" id="editForm@(itemName)">
                            <input type="hidden" id="txtBarcodeProcessId@(itemName)" />
                            <div class="row">
                                <div class="col-lg-12 col-md-12 ">
                                    <div class="form-group row">
                                        <label class="form-label col-12" for="txtPassBarcodeNo@(itemName)">
                                            <span data-key="OriginalPASSBarcode">原PASS條碼</span>
                                        <span class="text-danger">*</span></label>
                                        <div class="col-12">
                                            <input type="text" class="form-control" id="txtPassBarcodeNo@(itemName)" name="txtPassBarcodeNo@(itemName)" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12 col-md-12 ">
                                    <div class="form-group row">
                                        <label class="form-label col-12" for="txtNgBarcodeNo@(itemName)">
                                            <span data-key="NGBarcode">NG條碼</span>
                                        <span class="text-danger">*</span></label>
                                        <div class="col-12">
                                            <input type="text" class="form-control" id="txtNgBarcodeNo@(itemName)" name="txtNgBarcodeNo@(itemName)" required />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row min-barcodes" style="display: none;">
                                <div class="col-lg-12 col-md-12 ">
                                    <div class="form-group row">
                                        <label class="form-label col-12" for="cboMinBarcodes@(itemName)">
                                            <span data-key="camerabarcode">鏡頭條碼</span>
                                        <span class="text-danger">*</span></label>
                                        <div class="col-12">
                                            <div class="input-group">
                                                <select class="form-control" id="cboMinBarcodes@(itemName)" name="cboMinBarcodes@(itemName)"
                                                        data-msg-required="請選擇條碼" data-rule-required="true" multiple></select>
                                                <div class="input-group-append">
                                                    <a id="aClearMinBarcodes@(itemName)" class="btn btn-danger pop-view" href="javascript:ClearMinBarcodes@(itemName)();"><i class="fas fa-eraser"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12 col-md-12 ">
                                    <div class="form-group row">
                                        <label class="form-label col-12" for="txtNgBarcodeQty@(itemName)">
                                            <span data-key="ReJudgeQuantity">改判數量</span>
                                        <span class="text-danger">*</span></label>
                                        <div class="col-12">
                                            <input type="number" class="form-control" id="txtNgBarcodeQty@(itemName)" name="txtNgBarcodeQty@(itemName)"
                                                   data-rule-required="true" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12 col-md-12 ">
                                    <div class="form-group row">
                                        <label class="form-label col-12" for="txtCauseNo@(itemName)">
                                            <span data-key="ngreason">NG原因</span>
                                        <span class="text-danger">*</span></label>
                                        <div class="col-12">
                                            <input type="text" class="form-control" id="txtCauseNo@(itemName)" name="txtCauseNo@(itemName)"
                                                   data-rule-required="true"
                                                   oninput="EditDefectCauseNo@(itemName)('txtCauseNo@(itemName)');" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-footer text-right text-lg-right">
                <button type="button" class="btn btn-success" onclick="SaveLotNgBarcode@(itemName)()"><i class="fas fa-paper-plane"></i>確認</button>
            </div>
        </div>
    </div>
</div>

<!-- 數量過站模式 改判 EX: 模造數量過站-->
<div class="modal fade" id="modalQuantityChange@(itemName)">
    <div class="modal-dialog modal-lg" style="padding-top:7%;">
        <div class="modal-content working-content" style="min-width:350px;">
            <div class="modal-header" style="align-items: center;">
                <h5 class="modal-title">
                    改判數量
                    <span class="sub-title">
                        <span data-key="OriginalStation">原站別</span>
                     <span class="sub-text" id="desQuantityProcessAlias@(itemName)"></span></span>
                    <span class="sub-title">
                        <span data-key="OriginalStatus">原狀態</span>
                     <span class="sub-text" id="desQuantityProdStatus@(itemName)"></span></span>
                    <span class="sub-title">
                        <span data-key="OriginalQuantity">原數量</span>
                    <span class="sub-text" id="desQuantityChangeQty@(itemName)"></span></span>
                    <span class="sub-title">
                        <span data-key="nextprocessstep">下一站製程</span>
                     <span class="sub-text" id="desQuantityNextProcessAlias@(itemName)"></span></span>
                    <span class="sub-title">
                        <span data-key="NGReason">NG原因:</span>
                     <span class="sub-text" id="desQuantityCauseNo@(itemName)"></span></span>
                </h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row" id=" ">
                    <div class="col-12">
                        <form autocomplete="off" id="editForm2@(itemName)">
                            <input type="hidden" id="txtTransactionId@(itemName)" />
                            <div class="row">
                                <div class="col-lg-12 col-md-12 ">
                                    <div class="form-group row">
                                        <label class="form-label col-12" for="cboJudgeType@(itemName)">
                                            @*<span data-key="workshop">車間</span>*@
                                        改判類型<span class="text-danger">*</span></label>
                                        <div class="col-12">
                                            <select id="cboJudgeType@(itemName)" class="form-control">
                                                <option  data-key="goodproduct" value="P">良品</option>
                                                <option  data-key="defectiveproduct" value="F" selected>不良品</option>
                                                <option  data-key="scrap" value="S">報廢品</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12 col-md-12 ">
                                    <div class="form-group row">
                                        <label class="form-label col-12" for="txtQuantityChangeQty@(itemName)">
                                            <span data-key="ReJudgeQuantity">改判數量</span>
                                        <span class="text-danger">*</span></label>
                                        <div class="col-12">
                                            <input type="number" class="form-control" id="txtQuantityChangeQty@(itemName)" name="txtQuantityChangeQty@(itemName)"
                                                   data-rule-required="true" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12 col-md-12 ">
                                    <div class="form-group row">
                                        <label class="form-label col-12" for="cboQuantityNextMoProcess@(itemName)">
                                            <span data-key="NextStationProcess">下一站製程</span>
                                        <span class="text-danger">*</span></label>
                                        <div class="col-12">
                                            <select class="form-control" id="cboQuantityNextMoProcess@(itemName)" required></select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12 col-md-12 ">
                                    <div class="form-group row">
                                        <label class="form-label col-12" for="txtQuantityCauseNo@(itemName)">
                                            <span data-key="NGReason">NG原因</span>
                                        <span class="text-danger">*</span></label>
                                        <div class="col-12">
                                            <input type="text" class="form-control" id="txtQuantityCauseNo@(itemName)" name="txtQuantityCauseNo@(itemName)"
                                                   data-rule-required="true"
                                                   oninput="EditDefectCauseNo@(itemName)('txtQuantityCauseNo@(itemName)');" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <div class="card-footer text-right text-lg-right">
                <button type="button" class="btn btn-success" onclick="SaveQuantityJudge@(itemName)()"><i class="fas fa-paper-plane"></i>確認</button>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
@<script>
    let objForm@(itemName) = "#editForm@(itemName)";
    let objForm2@(itemName) = "#editForm2@(itemName)";
    let objForm3@(itemName) = "#editForm3@(itemName)";

    let moId@(itemName);
    let barcodeCtrl@(itemName);
    let moProcessId@(itemName);
    let lotStatus@(itemName);
    let machineId@(itemName);
    let barcodeProcessIdList@(itemName) = [];
    let barcodeNoList@(itemName) = [];

    function Pop@(itemName)(moId, barcodeCtrl, moProcessId, lotStatus, machineId) {
        moId@(itemName) = moId;
        barcodeCtrl@(itemName) = barcodeCtrl;
        moProcessId@(itemName) = moProcessId;
        lotStatus@(itemName) = lotStatus;
        machineId@(itemName) = machineId;

        if (!isMobile) {
            $("#cboProdModeQ@(itemName)").select2({
                width: "100%"
            });
        }

        Query@(itemName)();

        $("#modal@(itemName)").modal({
            backdrop: "static",
            keyboard: false,
            show: true
        });

        $("#LotBarcodeNgCode@(itemName)").modal({
            backdrop: "static",
            keyboard: false,
            show: false
        });

        $("#modalQuantityChange@(itemName)").modal({
            backdrop: "static",
            keyboard: false,
            show: false
        });

        $("#cbxNotLotSelectAll@(itemName)").prop("checked", false);

        $("#cbxNotLotSelectAll@(itemName)").off("click").on("click", function () {
            if ($("#cbxNotLotSelectAll@(itemName)").is(":checked")) {
                $("input[type='checkbox'][data-barcode-no]").not(":disabled").prop("checked", true);
            } else {
                $("input[type='checkbox'][data-barcode-no]").not(":disabled").prop("checked", false);
            }
        });
    }

    function Query@(itemName)() {
        $("#cbxNotLotSelectAll@(itemName)").prop("checked", false);
        $("#cbxLotSelectAll@(itemName)").prop("checked", false);
        InitData@(itemName)();
    }

    let barcodeInfoJson =
    {
        barcodeInfo: []
    };
    function InitData@(itemName)() {
        let innerHtml = '';
        let targetUrl = "";
        let postData;
        let data;
        if (barcodeCtrl@(itemName) == "Y" && lotStatus@(itemName) == "N") { //有條碼且為非批量條碼 EX:模仁
            $("#tblNotLotData@(itemName)").show();
            $("#tblLotData@(itemName)").hide();
            $("#tblNotBarcodeCtrlData@(itemName)").hide();

            targetUrl = "@Url.Action("GetBarcodeProcess", "ProductionHistory")";
            postData = {
                "MoProcessId": moProcessId@(itemName),
                "BarcodeNo": $("#txtBarcodeNoQ@(itemName)").val()
            };
            data = DataAccess.Get(targetUrl, postData, false);

            if (data.result.length > 0) {
                let trClass = "";
                $.each(data.result, function (i, item) {
                    if (i % 2 == 0) trClass = "line-odd";
                    else trClass = "line-even";
                    //<option value="S" ${item.CurrentProdStatus == `S` ? `selected` : ``}>報廢</option>
                    innerHtml += `<tr class="${trClass}">
                                     <td class="text-center">
                                        <label class="control control-solid control-solid-info control--checkbox">
                                            ${i + 1}. <input type="checkbox" data-barcode-no="${item.BarcodeNo}" value="${item.BarcodeProcessId}" />
                                            <span class="control__indicator"></span>
                                        </label>
                                    </td>
                                    <th>
                                        <p>${item.BarcodeNo}</p>
                                        ${JudgeTrayBarcode@(itemName)(`${item.TrayBarcode}`, `${item.TrayNo}`)}
                                        ${JudgeItemValue@(itemName)(`${item.ItemValue}`)}
                                    </th>
                                    <td>
                                        <select id="cboProdStatus@(itemName)" class="form-control" onChange="NotLotChangeProdStatus@(itemName)('${item.BarcodeProcessId}', this, '${item.BarcodeNo}')">
                                            <option value="P" ${item.CurrentProdStatus == `P` ? `selected` : ``}>良品</option>
                                            <option value="F" ${item.CurrentProdStatus == `F` ? `selected` : ``}>不良品</option>
                                            <option value="S" ${item.CurrentProdStatus == `S` ? `selected` : ``}>報廢品</option>
                                        </select>
                                    </td>
                                    <td>${item.StationQty}</td>
                                    <td>
                                        <select id="cboNextMoProcess@(itemName)" class="form-control" data-barcode-no="${item.BarcodeNo}" data-next-mo-process-id="${item.NextMoProcessId}" onChange="ChangeNextMoProcessFnc@(itemName)('${item.BarcodeNo}', this)"></select>
                                    </td>
                                    <td>${item.StartDate}</td>
                                    <td>${item.FinishDate}</td>
                                  </tr>`;

                    function JudgeTrayBarcode@(itemName)(trayBarcode, trayNo) {
                        let innerHtml = '';
                        if (trayBarcode == "Y") {
                            innerHtml += `<code>(${trayNo})</code>`;
                        }
                        return innerHtml;
                    }

                    function JudgeItemValue@(itemName)(itemValue) {
                        let innerHtml = '';
                        if (itemValue != "null" && itemValue != null) {
                            let itemValueJson = JSON.parse(itemValue);
                            let dateCode = "";
                            $.each(itemValueJson["data"], function (k, item2) {
                                innerHtml += `<code>${item2.ItemValue}</code><br>`;

                                if (k == 0) {
                                    dateCode = item2.DateCode;
                                }

                                if (k == itemValueJson["data"].length - 1) {
                                    innerHtml += `<code>${dateCode}</code><br>`;
                                }
                            });
                        }

                        return innerHtml;
                    }
                });
            }

            $("#tblNotLotData@(itemName) tbody").html(innerHtml);
            TableComponentInit();

            $.each($("select[id='cboNextMoProcess@(itemName)']"), function (i) {
                let barcodeNo = $(this).data("barcode-no");
                let nextMoProcessId = $(this).data("next-mo-process-id");
                ComboBoxs.Default("select[id='cboNextMoProcess@(itemName)'][data-barcode-no='" + barcodeNo + "']", "@Url.Action("GetMoProcess", "ProductionHistory")", { "MoId": moId@(itemName) }, "" + nextMoProcessId + "", "NA", "", "ProcessAlias", "MoProcessId");
                $("select[id='cboNextMoProcess@(itemName)'][data-barcode-no='" + barcodeNo + "']").append(new Option("完工", "-1"));
                $("select[id='cboNextMoProcess@(itemName)'][data-barcode-no='" + barcodeNo + "']").val(nextMoProcessId);

            });
        }
        else if (barcodeCtrl@(itemName) == "Y" && lotStatus@(itemName) == "Y") { //有條碼且為批量條碼 EX:成型批量條碼
            $("#tblNotLotData@(itemName)").hide();
            $("#tblLotData@(itemName)").show();
            $("#tblNotBarcodeCtrlData@(itemName)").hide();

            targetUrl = "@Url.Action("GetBarcodeProcess", "ProductionHistory")";
            postData = {
                "MoProcessId": moProcessId@(itemName),
                "BarcodeNo": $("#txtBarcodeNoQ@(itemName)").val()
            };
            data = DataAccess.Get(targetUrl, postData, false);

            if (data.result.length > 0) {
                let trClass = "";
                $.each(data.result, function (i, item) {
                    if (i % 2 == 0) trClass = "line-odd";
                    else trClass = "line-even";

                    innerHtml += `<tr class="${trClass}">
                                    <th>
                                        <p>${item.BarcodeNo}</p>
                                        ${JudgeTrayBarcode@(itemName)(`${item.TrayBarcode}`, `${item.TrayNo}`)}
                                        ${JudgeItemValue@(itemName)(`${item.ItemValue}`)}
                                    </th>
                                    <td>
                                        <select id="cboProdStatus@(itemName)" class="form-control" onChange="LotChangeProdStatus@(itemName)('${item.NgToBarcode}', '${item.BarcodeNo}', '${item.StationQty}', '${item.ProdStatus}', this, '${item.BarcodeProcessId}', '${item.MinBarcodes}')">
                                            <option value="P" ${item.CurrentProdStatus == `P` ? `selected` : ``}>良品</option>
                                            <option value="F" ${item.CurrentProdStatus == `F` ? `selected` : ``}>不良品</option>
                                            <option value="S" ${item.CurrentProdStatus == `S` ? `selected` : ``}>報廢品</option>
                                        </select>
                                    </td>
                                    <td>${item.StationQty}</td>
                                    <td>
                                        <select id="cboNextMoProcess@(itemName)" class="form-control" data-barcode-no="${item.BarcodeNo}" data-next-mo-process-id="${item.NextMoProcessId}" onChange="ChangeNextMoProcessFnc@(itemName)('${item.BarcodeNo}', this)"></select>
                                    </td>
                                    <td>${item.StartDate}</td>
                                    <td>${item.FinishDate}</td>
                                  </tr>`;

                    function JudgeTrayBarcode@(itemName)(trayBarcode, trayNo) {
                        let innerHtml = '';
                        if (trayBarcode == "Y") {
                            innerHtml += `<code>(${trayNo})</code>`;
                        }
                        return innerHtml;
                    }

                    function JudgeItemValue@(itemName)(itemValue) {
                        let innerHtml = '';
                        if (itemValue != "null") {
                            let itemValueJson = JSON.parse(itemValue);
                            $.each(itemValueJson["data"], function (k, item2) {
                                innerHtml += `<code>${item2.ItemValue}</code><br>`;
                            });
                        }

                        return innerHtml;
                    }
                });
            }

            $("#tblLotData@(itemName) tbody").html(innerHtml);
            TableComponentInit();

            $.each($("select[id='cboNextMoProcess@(itemName)']"), function (i) {
                let barcodeNo = $(this).data("barcode-no");
                let nextMoProcessId = $(this).data("next-mo-process-id");
                ComboBoxs.Default("select[id='cboNextMoProcess@(itemName)'][data-barcode-no='" + barcodeNo + "']", "@Url.Action("GetMoProcess", "ProductionHistory")", { "MoId": moId@(itemName) }, "" + nextMoProcessId + "", "NA", "", "ProcessAlias", "MoProcessId");
                $("select[id='cboNextMoProcess@(itemName)'][data-barcode-no='" + barcodeNo + "']").append(new Option("完工", "-1"));
                $("select[id='cboNextMoProcess@(itemName)'][data-barcode-no='" + barcodeNo + "']").val(nextMoProcessId);
            });
        }
        else { //無條碼 EX:模造數量過站
            $("#tblNotLotData@(itemName)").hide();
            $("#tblLotData@(itemName)").hide();
            $("#tblNotBarcodeCtrlData@(itemName)").show();

            targetUrl = "@Url.Action("GetMoProcessTransaction", "ProductionHistory")";
            postData = {
                "MoProcessId": moProcessId@(itemName)
            };
            data = DataAccess.Get(targetUrl, postData, false);

            if (data.result.length > 0) {
                let trClass = "";
                $.each(data.result, function (i, item) {
                    if (i % 2 == 0) trClass = "line-odd";
                    else trClass = "line-even";
                    innerHtml += `<tr class="${trClass}">
                                    <th><p>${item.ProcessAlias != null ? item.ProcessAlias : ``}</p></th>
                                    <td>${item.ProdStatus}</td>
                                    <td>${item.Quantity}</td>
                                    <td>${item.NextProcessAlias != null ? item.NextProcessAlias : ``}</td>
                                    ${JudgeCauseNo@(itemName)(`${item.CauseNo}`, `${item.CauseName}`)}
                                    <td>${item.UserNo} ${item.UserName}</td>
                                    <td>${item.InputDate}</td>
                                    <td class="text-center col-sticky">
                                        <a class="active-link" href="javascript: JudgeQuantity@(itemName)('${item.TransactionId}', '${item.ProcessAlias}', '${item.ProdStatus}', '${item.Quantity}', '${item.NextProcessAlias}', '${item.CauseNo}');"><i class="fas fa-user-check"></i> 改判</a>
                                    </td>
                                  </tr>`;
                });

                function JudgeCauseNo@(itemName)(causeNo, causeName) {
                    let innerHtml = '';
                    if (causeNo != "null") {
                        innerHtml += `<td>${causeNo}-${causeName}</td>`;
                    }
                    else {
                        innerHtml += `<td></td>`;
                    }
                    return innerHtml;
                }
            }

            $("#tblNotBarcodeCtrlData@(itemName) tbody").html(innerHtml);
            TableComponentInit();

            ComboBoxs.Default("select[id='cboQuantityNextMoProcess@(itemName)']", "@Url.Action("GetMoProcess", "ProductionHistory")", { "MoId": moId@(itemName) }, "", "NA", "", "ProcessAlias", "MoProcessId");
        }
    }

    $("#txtCauseNo@(itemName)").keydown(function (event) {
        if (event.keyCode == 13) {
            SaveLotNgBarcode@(itemName)();
        }
    });

    function ChangeNextMoProcess@(itemName)(barcodeId, barcodeNo, moProcessId, processAlias) {
        $("#desBarcodeNo@(itemName)").html(barcodeNo);
        $("#desProcessAlias@(itemName)").html(processAlias);
        $("#modalChangeNextMoProcess@(itemName)").show();
    }

    function ChangeNextMoProcessFnc@(itemName)(barcodeNo, e) {
        swal.fire({
            titleText: "確認要更改下製程嗎?",
            text: "此動作無法復原，請確認是否要執行!",
            icon: "warning",
            allowOutsideClick: false,
            allowEscapeKey: false,
            showCancelButton: true,
            confirmButtonColor: '#d33',
            reverseButtons: true
        }).then((result) => {
            if (result.isConfirmed) {

                barcodeNoList@(itemName) = [];
                $.each($("input[type='checkbox'][data-barcode-no]:checked"), function (i) {
                    let barcodeNo = $(this).data("barcode-no");
                    $.each(barcodeNoList@(itemName), function (i, item) {
                        if (item == barcodeNo) {
                            barcodeNoList@(itemName).splice(i, 1);
                            return false;
                        }
                    });

                    barcodeNoList@(itemName).push(barcodeNo);
                });

                if (barcodeNoList@(itemName).length <= 0) barcodeNoList@(itemName).push(barcodeNo);


                let targetUrl = "@Url.Action("UpdateNextMoProcessForLotMode", "ProductionHistory")";
                let postData = {
                    "BarcodeNoListString": barcodeNoList@(itemName).toString(),
                    "MoProcessId": moProcessId@(itemName),
                    "NewMoProcessId": $(e).val()
                };

                let result = DataAccess.Update(targetUrl, postData, false, true);

                Query@(itemName)();
                ReturnMesScanningInterface();
            }
            else {
                Query@(itemName)();
            }
        });
    }

    function NotLotChangeProdStatus@(itemName)(barcodeProcessId, e, barcodeNo) {
        let prodStatus = $(e).val();

        barcodeProcessIdList@(itemName) = [];
        barcodeNoList@(itemName) = [];
        $.each($("input[type='checkbox'][data-barcode-no]:checked"), function (i) {
            let barcodeProcessId = $(this).val();
            let barcodeNo = $(this).data("barcode-no");
            $.each(barcodeProcessIdList@(itemName), function (i, item) {
                if (item == barcodeProcessId) {
                    barcodeProcessIdList@(itemName).splice(i, 1);
                    return false;
                }
            });

            $.each(barcodeNoList@(itemName), function (i, item) {
                if (item == barcodeNo) {
                    barcodeNoList@(itemName).splice(i, 1);
                    return false;
                }
            });

            barcodeProcessIdList@(itemName).push(barcodeProcessId);
            barcodeNoList@(itemName).push(barcodeNo);
        });

        if (barcodeProcessIdList@(itemName).length <= 0) barcodeProcessIdList@(itemName).push(barcodeProcessId);
        if (barcodeNoList@(itemName).length <= 0) barcodeNoList@(itemName).push(barcodeNo);

        if (prodStatus != "F") {
            swal.fire({
                titleText: "確認要更改條碼狀態嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("UpdateProdStatusForLotMode", "ProductionHistory")";
                    let postData = {
                        "BarcodeProcessIdListString": barcodeProcessIdList@(itemName).toString(),
                        "ProdStatus": prodStatus
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    Query@(itemName)();
                    ReturnMesScanningInterface();
                }
                else {
                    Query@(itemName)();
                }
            });
        }
        else {
            $("#txtNotLotNgCodeBarcodeProcessId@(itemName)").val(barcodeProcessId);
            $("#desNotLotNgCodeBarcodeNo@(itemName)").html(barcodeNoList@(itemName).toString());
            $("#desNotLotNgCodeProdStatus@(itemName)").html(prodStatus);
            $("#modalNotLotNgCode@(itemName)").modal("show");
        }
    }

    function LotChangeProdStatus@(itemName)(ngToBarcode, barcodeNo, barcodeQty, prodStatus, e, barcodeProcessId, minBarcodes) {
        if (minBarcodes == "1") {
            $(".min-barcodes").show();
            $("#txtNgBarcodeQty@(itemName)").prop("readonly", true);
            $("#cboMinBarcodes@(itemName)").prop("required", true);
        }
        else {
            $(".min-barcodes").hide();
            $("#txtNgBarcodeQty@(itemName)").prop("readonly", false);
            $("#cboMinBarcodes@(itemName)").prop("required", false);
        }

        $("#cboMinBarcodes@(itemName)").select2({
            dropdownAutoWidth: true,
            width: "100%"
        });

        ComboBoxs.Default("#cboMinBarcodes@(itemName)", "@Url.Action("GetMinBarcodes", "ProductionHistory")", { "BarcodeNo": barcodeNo }, "", "CHOOSE-NUMBER", "", "BarcodeNo", "BarcodeId");
        $("#aClearMinBarcodes@(itemName)").prop("href", `javascript:ClearMinBarcodes@(itemName)('${barcodeNo}');`)

        $("#cboMinBarcodes@(itemName)").change(function () {
            let totalQty = $("#cboMinBarcodes@(itemName)").val().length;
            $("#txtNgBarcodeQty@(itemName)").val(totalQty);
        });

        if (ngToBarcode == "T") {
            NotLotChangeProdStatus@(itemName)(barcodeProcessId, e, barcodeNo);
            return false;
        }

        let userProdStatus = $(e).val();
        $("#txtBarcodeProcessId@(itemName)").val(barcodeProcessId);
        $("#desBarcodeNo@(itemName)").html(barcodeNo);
        $("#desBarcodeQty@(itemName)").html(barcodeQty);
        $("#desProdStatus@(itemName)").html(prodStatus);
        $("#desUserProdStatus@(itemName)").html(userProdStatus);

        if (ngToBarcode == "Y") {
            $("#txtNgBarcodeNo@(itemName)").prop("readonly", false);
            $("#txtNgBarcodeNo@(itemName)").prop("required", true);
        }
        else {
            $("#txtNgBarcodeNo@(itemName)").prop("readonly", true);
            $("#txtNgBarcodeNo@(itemName)").prop("required", false);
        }

        if (userProdStatus == "P") {
            //alert("不良品改判回良品功能暫不開放。");
            //return false;
            $("#txtCauseNo@(itemName)").prop("readonly", true);
            $("#txtCauseNo@(itemName)").prop("required", false);

            $("#txtNgBarcodeNo@(itemName)").prop("readonly", true);
            $("#txtNgBarcodeNo@(itemName)").prop("required", false);

            $("#txtPassBarcodeNo@(itemName)").prop("readonly", false);
            $("#txtPassBarcodeNo@(itemName)").prop("required", true);

            $("#txtCauseNo@(itemName)").val("改判為良品");

            $("#LotBarcodeNgCode@(itemName)").modal("show");
        }
        else if (userProdStatus == "F") {
            $("#txtCauseNo@(itemName)").prop("readonly", false);
            $("#txtCauseNo@(itemName)").prop("required", true);

            $("#txtPassBarcodeNo@(itemName)").prop("readonly", true);
            $("#txtPassBarcodeNo@(itemName)").prop("required", false);

            $("#LotBarcodeNgCode@(itemName)").modal("show");
        }
        else {
            alert("修改報廢狀態目前未開發!");
            Query@(itemName)();
        }
    }

    function ClearMinBarcodes@(itemName)(barcodeNo) {
        $("#cboMinBarcodes@(itemName)").empty();
        ComboBoxs.Default("#cboMinBarcodes@(itemName)", "@Url.Action("GetMinBarcodes", "ProductionHistory")", { "BarcodeNo": barcodeNo }, "", "CHOOSE-NUMBER", "", "BarcodeNo", "BarcodeId");
        $("#txtNgBarcodeQty@(itemName)").val("0");
    }

    function SaveLotNgBarcode@(itemName)() {
        if ($(objForm@(itemName)).valid()) {
            let userProdStatus = $("#desUserProdStatus@(itemName)").text();
            let barcodeProcessId = $("#txtBarcodeProcessId@(itemName)").val();
            if (userProdStatus == "P") {
                let targetUrl = "@Url.Action("UpdateLotNgBarcodeProcessToPass", "ProductionHistory")";
                let postData = {
                    "BarcodeProcessId": barcodeProcessId,
                    "PreBarcodeNo": $("#txtPassBarcodeNo@(itemName)").val(),
                    "ChangeBarcodeQty": $("#txtNgBarcodeQty@(itemName)").val(),
                    "MoProcessId": moProcessId@(itemName),
                    "MinBarcodes": $("#cboMinBarcodes@(itemName)").val().join(",")
                };

                let result = DataAccess.Add(targetUrl, postData, false, true);

                if (result) {
                    Close@(itemName)('LotBarcodeNgCode@(itemName)');
                    ReturnMesScanningInterface();
                }
            }
            else {
                let targetUrl = "@Url.Action("AddLotNgBarcodeProcess", "ProductionHistory")";
                let postData = {
                    "BarcodeNo": $("#desBarcodeNo@(itemName)").text(),
                    "NgBarcodeNo": $("#txtNgBarcodeNo@(itemName)").val(),
                    "NgBarcodeQty": $("#txtNgBarcodeQty@(itemName)").val(),
                    "MoId": moId@(itemName),
                    "MachineId": machineId@(itemName),
                    "CauseNo": $("#txtCauseNo@(itemName)").val(),
                    "MoProcessId": moProcessId@(itemName),
                    "MinBarcodes": $("#cboMinBarcodes@(itemName)").val().join(",")
                };

                let result = DataAccess.Add(targetUrl, postData, false, true);

                if (result) {
                    Close@(itemName)('LotBarcodeNgCode@(itemName)');
                    ReturnMesScanningInterface();
                }
            }
        }
    }

    function SaveNotLotNgCode@(itemName)() {
        if ($(objForm3@(itemName)).valid()) {

            barcodeProcessIdList@(itemName) = [];
            $.each($("input[type='checkbox'][data-barcode-no]:checked"), function (i) {
                let barcodeProcessId = $(this).val();
                $.each(barcodeProcessIdList@(itemName), function (i, item) {
                    if (item == barcodeProcessId) {
                        barcodeProcessIdList@(itemName).splice(i, 1);
                        return false;
                    }
                });

                barcodeProcessIdList@(itemName).push(barcodeProcessId);
            });

            if (barcodeProcessIdList@(itemName).length <= 0) barcodeProcessIdList@(itemName).push($("#txtNotLotNgCodeBarcodeProcessId@(itemName)").val());

            let targetUrl = "@Url.Action("UpdateProdStatusForLotMode", "ProductionHistory")";
            let postData = {
                "BarcodeProcessIdListString": barcodeProcessIdList@(itemName).toString(),
                "ProdStatus": $("#desNotLotNgCodeProdStatus@(itemName)").text(),
                "CauseNo": $("#txtNotLotNgCodeCauseNo@(itemName)").val()
            };

            let result = DataAccess.Update(targetUrl, postData, false, true);

            if (result) {
                Close@(itemName)('modalNotLotNgCode@(itemName)');
                Query@(itemName)();
                ReturnMesScanningInterface();
            }
        }
    }

    function EditDefectCauseNo@(itemName)(id) {
        clearTimeout(timer)
        timer = setTimeout(function () {
            let defectCauseNo = $("#" + id + "").val();
            defectCauseNo = defectCauseNo.toUpperCase();
            let targetUrl = "@Url.Action("GetNgCause", "QmsBasicInformation")";
            let postData = {
                "CauseNo": defectCauseNo
            };
            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                if (data.result.length <= 0) {
                    alert("找不到此NG代碼!");
                    $("#" + id + "").val("");
                }
                else {
                    $("#" + id + "").val(defectCauseNo);
                }
            }
            else {
                alert(data.msg);
            }
        }, 3500);
    }

    function JudgeQuantity@(itemName)(transactionId, processAlias, prodStatus, quantity, nextProcessAlias, causeNo) {
        if (processAlias == "null") processAlias = "";
        if (nextProcessAlias == "null") nextProcessAlias = "";
        if (causeNo == "null") causeNo = "";

        $("#txtTransactionId@(itemName)").val(transactionId);

        $("#desQuantityProcessAlias@(itemName)").html(processAlias);
        $("#desQuantityProdStatus@(itemName)").html(prodStatus);
        $("#desQuantityChangeQty@(itemName)").html(quantity);
        $("#desQuantityNextProcessAlias@(itemName)").html(nextProcessAlias);
        $("#desQuantityCauseNo@(itemName)").html(causeNo);
        $("#modalQuantityChange@(itemName)").modal("show");

        $("#cboJudgeType@(itemName)").change(function () {
            let judgeType = $("#cboJudgeType@(itemName)").val();
            if (judgeType == "P") {
                $("#txtQuantityCauseNo@(itemName)").prop("readonly", true);
                $("#txtQuantityCauseNo@(itemName)").prop("required", false);

                $("#cboQuantityNextMoProcess@(itemName)").prop("disabled", true);
                $("#cboQuantityNextMoProcess@(itemName)").prop("required", false);

                $("#cboQuantityNextMoProcess@(itemName)").val("");
                $("#txtQuantityCauseNo@(itemName)").val("改判回良品");
            }
            else if (judgeType == "F") {
                $("#txtQuantityCauseNo@(itemName)").prop("readonly", false);
                $("#txtQuantityCauseNo@(itemName)").prop("required", true);

                $("#cboQuantityNextMoProcess@(itemName)").prop("disabled", false);
                $("#cboQuantityNextMoProcess@(itemName)").prop("required", true);
            }
            else if (judgeType == "S") {
                $("#txtQuantityCauseNo@(itemName)").prop("readonly", false);
                $("#txtQuantityCauseNo@(itemName)").prop("required", true);

                $("#cboQuantityNextMoProcess@(itemName)").prop("disabled", true);
                $("#cboQuantityNextMoProcess@(itemName)").prop("required", false);

                $("#cboQuantityNextMoProcess@(itemName)").val("");
            }
        });
    }

    function SaveQuantityJudge@(itemName)() {
        if ($(objForm2@(itemName)).valid()) {
            let targetUrl = "@Url.Action("UpdateQunatityJudge", "ProductionHistory")";
            let postData = {
                "TransactionId": $("#txtTransactionId@(itemName)").val(),
                "ToJudgeType": $("#cboJudgeType@(itemName)").val(),
                "ChangeQty": $("#txtQuantityChangeQty@(itemName)").val(),
                "NextMoProcessId": $("#cboQuantityNextMoProcess@(itemName)").val(),
                "CauseNo": $("#txtQuantityCauseNo@(itemName)").val()
            };

            let result = DataAccess.Update(targetUrl, postData, false, true);

            if (result) {
                Close@(itemName)('modalQuantityChange@(itemName)');
                ReturnMesScanningInterface();
            }
        }
    }

    function Return@(itemName)() {

    }

    function Close@(itemName)(modalName) {
        $("#" + modalName + "").modal('hide');
        Query@(itemName)();
        ResetForm(objForm@(itemName));
        ResetForm(objForm2@(itemName));
        ResetForm(objForm3@(itemName));
    }
</script>
                )