@using Business_Manager.Helpers
@{
    string itemName = "ViewLotBarcodeMerge";
    string itemNameText = "拆併盤系統";
}

@Html.Resource("css",
    @<style>
    </style>
        )

<div class="modal fade" id="modal@(itemName)">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    @(itemNameText)
                    <span class="sub-title">製令: <span class="sub-text" id="desWoErpFullNo@(itemName)"></span></span>
                    <a style="margin-top: 5px;" class="btn btn-info" href="javascript: AddEmptyBarcode@(itemName)()">
                    <i class="fas fa-plus"></i>
                    <span data-key="addemptybarcode">
                        新增空條碼
                    </span>
                    </a>
                    <a style="margin-top: 5px;" class="btn btn-secondary" data-toggle="modal" data-target="#modalPrint@(itemName)" data-backdrop="static"><i class="fas fa-print"></i>列印目標條碼</a>
                </h5>
                <a class="close" href="javascript:void(0);" onclick="Close@(itemName)()"><i class="fas fa-times"></i></a>
            </div>
            <div class="modal-body">
                <div class="row" id=" ">
                    <div class="col-12">
                        <form autocomplete="off" id="editForm@(itemName)">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 ">
                                    <div class="form-group row">
                                        <label class="form-label col-12" for="txtFromBarcodeNo@(itemName)">
                                        
                                            <span data-key="sourcebarcode">
                                                來源條碼
                                            </span>
                                        <span class="text-danger">* 數量 <code id="desFromBarcodeQty@(itemName)">0</code></span></label>
                                        <div class="col-12">
                                            <input type="text" class="form-control" id="txtFromBarcodeNo@(itemName)" name="txtFromBarcodeNo@(itemName)"
                                                   data-rule-required="true" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row min-barcodes" style="display: none;">
                                <div class="col-lg-12 col-md-12 ">
                                    <div class="form-group row">
                                        <label class="form-label col-12" for="cboMinBarcodes@(itemName)">
                                            <span data-key="camerabarcode">
                                                鏡頭條碼
                                            </span>
                                        <span class="text-danger">*</span></label>
                                        <div class="col-12">
                                            <div class="input-group">
                                                <select class="form-control" id="cboMinBarcodes@(itemName)" name="cboMinBarcodes@(itemName)"
                                                        data-msg-required="請選擇條碼" data-rule-required="true" multiple></select>
                                                <div class="input-group-append">
                                                    <a id="aClearMinBarcodes@(itemName)" class="btn btn-danger pop-view" href="javascript:ClearMinBarcodes@(itemName)();"><i class="fas fa-eraser"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12 col-md-12 ">
                                    <div class="form-group row">
                                        <label class="form-label col-12" for="txtToBarcodeNo@(itemName)">
                                            <span data-key="targetbarcode">
                                                目標條碼
                                            </span>
                                        <span class="text-danger">* 數量<code id="desToBarcodeQty@(itemName)">0</code></span></label>
                                        <div class="col-12">
                                            <input type="text" class="form-control" id="txtToBarcodeNo@(itemName)" name="txtToBarcodeNo@(itemName)"
                                                   data-rule-required="true" />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12 col-md-12 ">
                                    <div class="form-group row">
                                        <label class="form-label col-12" for="txtTransactionQty@(itemName)">
                                            <span data-key="transferquantity">
                                                轉移數量
                                            </span>
                                        <span class="text-danger">*</span></label>
                                        <div class="col-12">
                                            <input type="number" class="form-control" id="txtTransactionQty@(itemName)" name="txtTransactionQty@(itemName)"
                                                   data-rule-required="true" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success checkbox-mode" onclick="Save@(itemName)()"><i class="fas fa-check"></i>
                                                                                                        <span data-key="submit">
                                                                                                            確定
                                                                                                        </span>
                </button>
            </div>
        </div>
    </div>
</div>

<!--選擇列印機台-->
<div class="modal fade" id="modalPrint@(itemName)">
    <div class="modal-dialog modal-lg" style="padding-top:7%;">
        <div class="modal-content working-content" style="min-width:350px;">
            <div class="modal-header" style="align-items: center;">
                <h5 class="modal-title">
                    列印標籤條碼
                </h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <select class="form-control" id="cboLabelPrintMachine@(itemName)"></select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="Print@(itemName)()"><i class="fas fa-paper-plane"></i>列印</button>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        let objForm@(itemName) = "#editForm@(itemName)";

        let moId@(itemName);
        let moProcessId@(itemName);
        let woErpFullNo@(itemName);
        let moProcessItemId@(itemName);

        $(document).ready(function () {
            $("#txtFromBarcodeNo@(itemName)").change(function () {
                let barcodeNo = $(this).val();
                GetBarcodeInfo@(itemName)(barcodeNo, "from");
            });

            $("#txtToBarcodeNo@(itemName)").change(function () {
                let barcodeNo = $(this).val();
                GetBarcodeInfo@(itemName)(barcodeNo, "to");
            });

            $("#cboMinBarcodes@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });
        });

        function Pop@(itemName)(woErpFullNo, moId, moProcessId, moProcessItemId) {
            moId@(itemName) = moId;
            moProcessId@(itemName) = moProcessId;
            woErpFullNo@(itemName) = woErpFullNo;
            moProcessItemId@(itemName) = moProcessItemId;
            $("#desWoErpFullNo@(itemName)").html(woErpFullNo)

            $("#modal@(itemName)").modal({
                backdrop: "static",
                keyboard: false
            });

            if (!isMobile) {
                $("#cboLabelPrintMachine@(itemName)").select2({
                    width: "100%"
                });
            }

            $(".min-barcodes").hide();
            $("#txtTransactionQty@(itemName)").prop("readonly", false)
            $("#cboMinBarcodes@(itemName)").prop("required", false);

            ComboBoxs.Default("#cboLabelPrintMachine@(itemName)", "@Url.Action("GetLabelPrintMachine", "ProductionHistory")", {}, "", "NA", "", "LabelPrintName", "LabelPrintNo");
        }

        $("#txtTransactionQty@(itemName)").keydown(function (event) {
            if (event.keyCode == 13) {
                Save@(itemName)();
            }
        });

        $(window).keydown(function (event) {
        if (event.keyCode == 13) {
            event.preventDefault();
            return false;
        }
        });

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let targetUrl = "@Url.Action("AddLotBarcodeQtyMerge", "ProductionHistory")";
                let postData = {
                    "MoId": moId@(itemName),
                    "FromBarcodeNo": $("#txtFromBarcodeNo@(itemName)").val().trim(),
                    "ToBarcodeNo": $("#txtToBarcodeNo@(itemName)").val().trim(),
                    "TransactionQty": $("#txtTransactionQty@(itemName)").val(),
                    "MinBarcodes": $("#cboMinBarcodes@(itemName)").val().join(",")
                };

                let result = DataAccess.Add(targetUrl, postData, false, true);

                if (result) {
                    ReturnMesScanningInterface();
                    Close@(itemName)();
                    $("#OtherFunctionModalMesScanningInterface").modal('hide');
                    
                }
            }
        }

        function GetBarcodeInfo@(itemName)(barcodeNo, barcodeType) {
            let targetUrl = "@Url.Action("GetBarcode", "ProductionHistory")";
            let postData = {
                "BarcodeNo": barcodeNo.trim(),
                "MoId": moId@(itemName)
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                if (data.result.length > 0) {
                    $.each(data.result, function (i, item) {
                        if (barcodeType == "from") {
                            $("#desFromBarcodeQty@(itemName)").html(item.BarcodeQty);
                            if (item.MinBarcodes == "1") {
                                ComboBoxs.Default("#cboMinBarcodes@(itemName)", "@Url.Action("GetMinBarcodes", "ProductionHistory")", { "BarcodeNo": item.BarcodeNo }, "", "CHOOSE-NUMBER", "", "BarcodeNo", "BarcodeId");
                                $("#aClearMinBarcodes@(itemName)").prop("href", `javascript:ClearMinBarcodes@(itemName)('${item.BarcodeNo}');`)

                                $("#cboMinBarcodes@(itemName)").change(function () {
                                    let totalQty = $("#cboMinBarcodes@(itemName)").val().length;
                                    $("#txtTransactionQty@(itemName)").val(totalQty);
                                });

                                $(".min-barcodes").show();
                                $("#txtTransactionQty@(itemName)").prop("readonly", true)
                                $("#cboMinBarcodes@(itemName)").prop("required", true);
                            }
                            else {
                                $(".min-barcodes").hide();
                                $("#txtTransactionQty@(itemName)").prop("readonly", false)
                                $("#cboMinBarcodes@(itemName)").prop("required", false);
                            }
                        }
                        else if (barcodeType == "to") {
                            $("#desToBarcodeQty@(itemName)").html(item.BarcodeQty);
                        }
                        else {
                            return false;
                        }
                    });
                }
                else {
                    alert("查無條碼資料!!")
                    if (barcodeType == "from") {
                        $("#txtFromBarcodeNo@(itemName)").val("");
                    }
                    else if (barcodeType == "to") {
                        $("#txtToBarcodeNo@(itemName)").val("");
                    }
                }
            }
            else {
                alert(data.msg);
            }
        }

        function ClearMinBarcodes@(itemName)(barcodeNo) {
            $("#cboMinBarcodes@(itemName)").empty();
            ComboBoxs.Default("#cboMinBarcodes@(itemName)", "@Url.Action("GetMinBarcodes", "ProductionHistory")", { "BarcodeNo": barcodeNo }, "", "CHOOSE-NUMBER", "", "BarcodeNo", "BarcodeId");
            $("#txtTransactionQty@(itemName)").val("0");
        }

        function GetBarcodeQty(BarcodeNo) {
            var BarcodeQty = 0
            let targetUrl = "@Url.Action("GetBarcodeQty", "Inventory")";
            let postData = {
                "BarcodeNo": BarcodeNo
            };
            let data = DataAccess.Get(targetUrl, postData, false);
            if (data.status == "success") {
                $.each(data.result, function (i, item) {
                    BarcodeQty = item.BarcodeQty
                });
            } else {
                alert(data.msg, "alert", 0);
            }
            return BarcodeQty
        }

        function AddEmptyBarcode@(itemName)() {
            let targetUrl = "@Url.Action("AddEmptyBarcode", "ProductionHistory")";
            let postData = {
                "FromBarcodeNo": $("#txtFromBarcodeNo@(itemName)").val(),
                "MoId": moId@(itemName),
                "NewTrayBarcode": $("#txtToBarcodeNo@(itemName)").val()
            };

            let data = DataAccess.EditContinued(targetUrl, postData, false);

            if (data) {
                alert("新增空條碼成功!!", "success", 2500);

                $("#txtToBarcodeNo@(itemName)").val(data.result);

                ReturnMesScanningInterface();
                if (moProcessItemId@(itemName) != "null") {
                    PopViewBarcodeProcessAttribute(moProcessId@(itemName), woErpFullNo@(itemName));
                }
            }
        }

        function Print@(itemName)() {
            let targetUrl = "@Url.Action("PrintNewLabel", "PrintLabel")";
            let postData = {
                "NewBarcodeNo": $("#txtToBarcodeNo@(itemName)").val(),
                "PrintMachine": $("#cboLabelPrintMachine@(itemName)").val()
            };

            let result = DataAccess.Update(targetUrl, postData, false, true);

            if (result) {
                $("#modalPrint@(itemName)").modal("hide");
            }
        }

        function Close@(itemName)() {
            ResetForm(objForm@(itemName));
            $("#modal@(itemName)").modal('hide');
            $("#FromBarcodeNoQty").text(0)
            $("#ToBarcodeNoQty").text(0)
            $("#desFromBarcodeQty@(itemName)").html(0);
            $("#desToBarcodeQty@(itemName)").html(0);
        }
    </script>
                        )