@using Business_Manager.Helpers
@{
    string dateCache = DateTime.Now.ToString("MMddmmss");
}
<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="format-detection" content="telephone=no,email=no,adress=no" />
    <meta name="theme-color" content="#2b4e9d" />
    <meta name="description" content="中揚光電聊天室" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#2b4e9d" />
    <meta name="apple-mobile-web-app-title" content="JMO Chat" />
    <link href="@Url.Content("~/Areas/IM/manifest.json")?@dateCache" rel="manifest" />
    <link href="@Url.Content("~/Areas/IM/Content/images/favicon.ico")" rel="shortcut icon" sizes="32x32" />
    <link href="@Url.Content("~/Areas/IM/Content/images/icon-192x192.png")" rel="apple-touch-icon" sizes="192x192" />
    <link href="@Url.Content("~/Content/bootstrap/4.5.3/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/fontawesome.pro/5.13.0/css/all.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/sweetalert/11.4.33/sweetalert2.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Areas/IM/Content/im.min.css")?@dateCache" rel="stylesheet" />
    @Html.RenderResources("css")
</head>
<body>
    <a class="download-icon" href="javascript:void(0);" onclick="installApp()" title="安裝應用程式">
        <img src="@Url.Content("~/Areas/IM/Content/images/icons/icon-96x96.png")" />
    </a>
    @RenderBody()
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js" integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="@Url.Content("~/Areas/IM/Scripts/app.js")?@dateCache"></script>
    <script src="@Url.Content("~/assets/js/jquery.min.js")"></script>
    <script src="@Url.Content("~/assets/js/popper.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap/4.5.3/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/sweetalert/11.4.33/sweetalert2.all.min.js")"></script>
    <script src="@Url.Content("~/Areas/IM/Scripts/setting.js")?@dateCache"></script>
    <script src="@Url.Content("~/Areas/IM/Scripts/im.js")?@dateCache"></script>
    <script>
        function Logout() {
            $.ajax({
                url: "@Url.Action("Logout", "User", new { Area = "" })",
                type: "POST",
                async: false,
                dataType: "json",
                data: {},
                beforeSend: function (XMLHttpRequest) {
                },
                success: function (data, textStatus, jqXHR) {
                    if (data.status != "success") {
                        alert(data.msg);
                    } else {
                        location.reload();
                    }
                },
                complete: function (XMLHttpRequest, textStatus) {
                    if (textStatus == 'timeout') {
                        var xmlhttp = window.XMLHttpRequest ? new window.XMLHttpRequest() : new ActiveXObject("Microsoft.XMLHttp");
                        xmlhttp.abort();
                        alert("網路逾時!");
                    }
                },
                error: function (XMLHttpRequest, textStatus) {
                    alert(XMLHttpRequest.statusText);
                }
            });
        }
    </script>
    @Html.RenderResources("js")
</body>
</html>
