@using Business_Manager.Helpers
@{
    string itemName = "ProcessEventManagement";
    string itemNameText = "條碼加工事件管理";
    string authority = ViewBag.authority;

    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
    </style>
                                        )

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>
<!--搜尋彈窗-->
<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body" style="max-height: 450px;overflow-y: auto;">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12  col-form-label" for="cboModeIdQ@(itemName)">生產模式</label>
                            <div class="col-12">
                                <select class="form-control" id="cboModeIdQ@(itemName)" name="cboModeIdQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row parainfo">
                            <label class="col-12  col-form-label " for="cboParameterIdQ@(itemName)">製程名稱</label>
                            <div class="col-12">
                                <select class="form-control" id="cboParameterIdQ@(itemName)" name="cboParameterIdQ@(itemName)"></select>
                            </div>
                        </div>

                        <div class="form-group row eventinfo">
                            <label class="col-12  col-form-label" for="cboProcessEventItemIdQ@(itemName)">事件名稱</label>
                            <div class="col-12">
                                <select class="form-control" id="cboProcessEventItemIdQ@(itemName)" name="cboProcessEventItemIdQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboOperationUserQ@(itemName)">操作人員</label>
                            <div class="col-12 ">
                                <select class="form-control" id="cboOperationUserQ@(itemName)" name="cboOperationUserQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">事件開始日期 <input type="checkbox" id="cbxStartDate@(itemName)" /></label>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtStartDateBeginQ@(itemName)" name="txtStartDateBeginQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtStartDateEndQ@(itemName)" name="txtStartDateEndQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<!--列表-->
<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);">
                            <i class="fal fa-search"></i>搜尋
                        </a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn btn-info auth-add" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky table-stack" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 30px;">#</th>
                                        <th scope="col" style="min-width: 150px;">製令</th>
                                        <th scope="col" style="min-width: 100px;">條碼</th>
                                        <th scope="col" style="min-width: 100px;">生產模式</th>
                                        <th scope="col" style="min-width: 100px;">製程</th>
                                        <th scope="col" style="min-width: 100px;">加工模式</th>
                                        <th scope="col" style="min-width: 100px;">事件名稱</th>
                                        <th scope="col" style="min-width: 100px;">操作員</th>
                                        <th scope="col" style="min-width: 120px;">開始時間</th>
                                        <th scope="col" style="min-width: 120px;">結束時間</th>
                                        <th scope="col" style="min-width: 100px;">費時(秒)</th>
                                        <th scope="col" style="min-width: 100px;">最後修改日</th>
                                        <th scope="col" style="min-width: 100px;">最後修改人員</th>
                                        <th scope="col" style="min-width: 100px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--編輯-->
<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="BarcodeEventId" name="BarcodeEventId" value="-1" />



                        <div class="form-group row">
                            <div class="col-12 col-lg-6" id="selectMoView@(itemName)">
                                <div class="form-group row">
                                    <label class="col-12 col-form-label" for="txtMoId@(itemName)">製令</label>
                                    <div class="col-12">
                                        <input type="hidden" id="txtMoId@(itemName)" />
                                        <div class="btn-group">
                                            <a class="btn btn-success pop-view" href="javascript:void(0);"><i class="fal fa-search"></i></a>
                                            <a class="btn btn-outline-danger pop-clear" href="javascript:void(0);" onclick="ProcessEventItemIdClear@(itemName)()"><i class="fas fa-eraser"></i></a>
                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-lg-6">
                                <div class="form-group row">
                                    <label class="col-12 col-form-label" for="txtProcessEventItemId@(itemName)">製程加工事件</label>
                                    <div class="col-12">
                                        <input type="hidden" id="txtProcessEventItemId@(itemName)" />
                                        <input type="hidden" id="txtModeId@(itemName)" />
                                        <input type="hidden" id="txtParameterId@(itemName)" />
                                        <div class="btn-group">
                                            <a class="btn btn-success pop-view" href="javascript:void(0);"><i class="fal fa-search"></i></a>
                                            @*<a class="btn btn-outline-danger pop-clear" href="javascript:void(0);" onclick="ProcessEventItemIdClear@(itemName)()"><i class="fas fa-eraser"></i></a>*@
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-12">
                                <input type="hidden" id="txtModes@(itemName)" />
                                <!--點選完後的顯示框-->
                                <dl class="help-block" style="display: grid;">
                                    <dt>製令</dt>
                                    <dd id="desWoErpFullNo@(itemName)"> </dd>
                                    <dt>生產模式</dt>
                                    <dd id="desModeName@(itemName)"> </dd>
                                    <dt>製程</dt>
                                    <dd id="desProcessName@(itemName)"> </dd>
                                    <dt>加工模式</dt>
                                    <dd id="desTypeName@(itemName)"> </dd>
                                    <dt>事件名稱</dt>
                                    <dd id="desProcessEventName@(itemName)"> </dd>
                                </dl>
                            </div>
                        </div>

                        <div class="form-group row" id="infodesview@(itemName)">
                            <label class="col-12 col-md-3 col-lg-3     col-form-label" for="cboOperationUser@(itemName)">操作員    <span class="text-danger">*</span></label>
                            <div class="col-12">
                                <select class="form-control" id="cboOperationUser@(itemName)" name="cboOperationUser@(itemName)    "
                                        data-msg-required="請選擇操作員" data-rule-required="true"></select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-form-label">事件開始</label>

                            <div class="col-12 col-md-6">
                                <input type="text" class="form-control" id="txtStartYmd@(itemName)" name="txtStartYmd@(itemName)" placeholder="請輸入日期"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))" />
                            </div>
                            <div class="col-12 col-md-6">
                                <input type="time" class="form-control" id="txtStartTime@(itemName)" name="txtStartTime@(itemName)" placeholder="請輸入時間" value="00:00"
                                       data-rule-required="true" data-msg-maxlength="必須少於 50 個字元" maxlength="50" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">事件結束</label>
                            <div class="col-12 col-md-6">
                                <input type="text" class="form-control" id="txtFinishYmd@(itemName)" name="txtFinishYmd@(itemName)" placeholder="請輸入日期"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))" />
                            </div>
                            <div class="col-12 col-md-6">
                                <input type="time" class="form-control" id="txtFinishTime@(itemName)" name="txtFinishTime@(itemName)" placeholder="請輸入時間" value="00:00"
                                       data-rule-required="true" data-msg-maxlength="必須少於 50 個字元" maxlength="50" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

@Html.Partial("ViewProcessEventItem")
@Html.Partial("../Inventory/ViewManufactureOrder")


@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";
        let modeId@(itemName);
        let ProcessId@(itemName);

        $(document).ready(function () {
            $(".parainfo").hide();//第二階段製程(查詢)隱藏
            $(".eventinfo").hide();//第三階段製程(查詢)隱藏
            //操作員下拉 (查詢)
            ComboBoxs.Default("#cboOperationUserQ@(itemName)", "@Url.Action("GetUser", "BasicInformation")", { "Status": "A" }, "", "ALL", "", "UserWithNo", "UserId");

            //操作員-關鍵字搜尋 (查詢)
            $("#cboOperationUserQ@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });

            //日期套件-尋找開始日期 (查詢)
            let currentDate = new Date();
            currentDate.setDate(currentDate.getDate() + 1);
            Suites.DatePicker("txtStartDateEndQ@(itemName)", currentDate);
            currentDate.setDate(currentDate.getDate() - 8);
            Suites.DatePicker("txtStartDateBeginQ@(itemName)", currentDate);

            //日期套件 (編輯&新增)
            let startYmd = new Date();
            Suites.DatePicker("txtStartYmd@(itemName)", startYmd);
            let finishYmd = new Date();
            Suites.DatePicker("txtFinishYmd@(itemName)", finishYmd);

           
            $("#txtModes@(itemName)").siblings(".help-block").show();
        

            Query@(itemName)();
        });







        //設定生產模式，選擇製程 (查詢)
        $(document).ready(function (ModeId) {
            ComboBoxs.Default("#cboModeIdQ@(itemName)", "@Url.Action("GetProdMode", "MesBasicInformation")", {}, "", "NA", "", "ModeName", "ModeId");
            $("#cboModeIdQ@(itemName)").change(function () {
                var ModeId = $("#cboModeIdQ@(itemName)").val();
                $(".parainfo").show();//第二階段打開
                ComboBoxs.Default("#cboParameterIdQ@(itemName)", "@Url.Action("GetProcessParameter", "MesBasicInformation")", { "ModeId": ModeId }, "", "NA", "", "ProcessName", "ParameterId");
            });
            ComboBoxs.Default("#cboParameterIdQ@(itemName)", "@Url.Action("GetProcessParameter", "MesBasicInformation")", { "ModeId": ModeId }, "", "NA", "", "ProcessName", "ParameterId");

            $("#cboModeIdQ@(itemName),#cboParameterIdQ@(itemName)").select2({
                width: "100%"
            });

            Query@(itemName)();
        });


        //設定製程條件，查詢事件 (查詢)
        $(document).ready(function (ParameterId) {
            ComboBoxs.Default("#cboModeIdQ@(itemName)", "@Url.Action("GetProdMode", "MesBasicInformation")", {}, "", "NA", "", "ModeName", "ModeId");
            $("#cboParameterIdQ@(itemName)").change(function () {
                var ParameterId = $("#cboParameterIdQ@(itemName)").val();
                $(".eventinfo").show();//第三階段打開
                ComboBoxs.Default("#cboProcessEventItemIdQ@(itemName)", "@Url.Action("GetProcessEventSetting", "MesBasicInformation")", { "ParameterId": ParameterId }, "", "NA", "", "ProcessEventName", "ProcessEventItemId");
            });
            ComboBoxs.Default("#cboProcessEventItemIdQ@(itemName)", "@Url.Action("GetProcessEventSetting", "MesBasicInformation")", { "ParameterId": ParameterId }, "", "NA", "", "ProcessEventName", "ProcessEventItemId");

            $("#cboProcessEventItemIdQ@(itemName)").select2({
                width: "100%"
            });

            Query@(itemName)();

        });

        function Query@(itemName)() {

            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));
            $("#modalQuery@(itemName)").modal("hide");
            $("selectMoView@(itemName)").hide();

        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let targetUrl = "@Url.Action("GetProcessEvent", "Event")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "ModeId": $("#cboModeIdQ@(itemName)").val(),//生產模式
                "ParameterId": $("#cboParameterIdQ@(itemName)").val(),//製程
                "ProcessEventItemId": $("#cboProcessEventItemIdQ@(itemName)").val(),//事件
                "StartDateBegin": ($("#cbxStartDate@(itemName)").is(":checked") ? $("#txtStartDateBeginQ@(itemName)").val() : ""),
                "StartDateEnd": ($("#cbxStartDate@(itemName)").is(":checked") ? $("#txtStartDateEndQ@(itemName)").val() : ""),
                "OperatorId": $("#cboOperationUserQ@(itemName)").val(),
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr>
                                        <td>${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.WoErpPrefix}-${item.WoErpNo}(${item.WoSeq})" style="max-width: 150px;">${item.WoErpPrefix}-${item.WoErpNo}(${item.WoSeq})</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.BarcodeNo}" style="max-width: 100px;">${item.BarcodeNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ModeName}" style="max-width: 100px;">${item.ModeName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ProcessName}" style="max-width: 100px;">${item.ProcessName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.TypeName}" style="max-width: 100px;">${item.TypeName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ProcessEventName}" style="max-width: 100px;">${item.ProcessEventName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.OperationUser}" style="max-width: 100px;">${item.OperationUser}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.StartDate}" style="width:200px; max-width: 200px;">${item.StartDate}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.FinishDate}" style="width: 200px; max-width: 200px;">${item.FinishDate}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.OperationTime}" style="max-width: 100px;">${item.OperationTime}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.LastModifiedDate}" style="max-width: 100px;">${item.LastModifiedDate}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.LastModifiedName}" style="max-width: 100px;">${item.LastModifiedName}</td>
                                        <td class="text-center active-content">
                                            <a class="active-link auth-update" href="javascript:Edit@(itemName)(${item.BarcodeEventId}, ${item.MoId}, ${item.ProcessId});"><i class="fas fa-edit"></i></a>
                                            <a class="active-link auth-delete" href="javascript:Delete@(itemName)(${item.BarcodeEventId});"><i class="fas fa-trash-alt"></i></a>
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="12" style="background-color: #fff3cd;">
                                        <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }
            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));
        }

        $("#txtMoId@(itemName)").change(function () {
            ManufactureOrde@(itemName)($("#txtMoId@(itemName)").val());
            console.log($("#txtMoId@(itemName)").val());
        });

        function Edit@(itemName)(BarcodeEventId, MoId, ProcessId) {
            $("#BarcodeEventId").val(BarcodeEventId ? BarcodeEventId : 0);
            ProcessId@(itemName) = ProcessId;

            //返回切換
            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");


            //開窗查詢先隱藏
            



            @*ComboBoxs.Default("#cboProcessEventItemId@(itemName)", "@Url.Action("GetProcessEventSetting", "MesBasicInformation")", { "ProcessId": ProcessId@(itemName), "ModeId": modeId@(itemName) }, "", "NA", "", "ProcessEventName", "ProcessEventItemId");*@
            ComboBoxs.Default("#cboOperationUser@(itemName)", "@Url.Action("GetUser", "BasicInformation")", { "Status": "A" }, "", "NA", "", "UserWithNo", "UserId");

            //開窗查詢單項事件:車間+機台+事件(編輯&新增)
            let popConfig = {
                targetSelector: "#txtProcessEventItemId@(itemName)",
                popFunction: "PopViewProcessEventItem",
                objectProcessEventItemId: "#txtProcessEventItemId@(itemName)",
                objectProcessEventName: "#desProcessEventName@(itemName)",
                objectModeId: modeId@(itemName),
                objectModeName: "#desModeName@(itemName)",
                objectParameterId: "#txtParameterId@(itemName)",
                objectProcessName: "#desProcessName@(itemName)",
                objectTypeName: "#desTypeName@(itemName)"
            };

            let popConfig2 = {
                targetSelector: "#txtMoId@(itemName)",
                popFunction: "PopViewManufactureOrder",
                objectMoId: "#txtMoId@(itemName)",
                objectWoErpFullNo: "#desWoErpFullNo@(itemName)",

            };

            InitPopView(popConfig);
            InitPopView(popConfig2);

            //如果有值
            if (BarcodeEventId > 0) {
                ManufactureOrde@(itemName)(MoId);

                let targetUrl = "@Url.Action("GetProcessEvent", "Event")";
                let postData = {
                    "BarcodeEventId": BarcodeEventId
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    console.log(data);
                    $.each(data.result, function (i, item) {
                        //事件ID串連
                        $("#txtProcessEventItemId@(itemName)").val(item.ProcessEventItemId);
                        $("#txtModeId@(itemName)").val(item.ModeId);
                        $("#txtParameterId@(itemName)").val(item.ParameterId);
                        $("#txtModes@(itemName)").siblings(".help-block").show();
                        $("#desModeName@(itemName)").html(item.ModeName);
                        $("#desProcessName@(itemName)").html(item.ProcessName);
                        $("#desTypeName@(itemName)").html(item.TypeName);
                        $("#desProcessEventName@(itemName)").html(item.ProcessEventName);
                        $("#cboOperationUser@(itemName)").val(item.OperatorId);
                        $("#txtStartYmd@(itemName)").val(item.StartYmd);
                        $("#txtStartTime@(itemName)").val(item.StartTime);
                        $("#txtFinishYmd@(itemName)").val(item.FinishYmd);
                        $("#txtFinishTime@(itemName)").val(item.FinishTime);

                        $("#desWoErpFullNo@(itemName)").html(item.WoErpPrefix + "-" + item.WoErpNo);

                        $("#selectMoView@(itemName)").hide();


                    });
                } else {
                    alert(data.msg, "alert", 0);
                }
            }

            $("#cboProcessEventItemIdQ@(itemName),#cboOperationUser@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let BarcodeEventId = parseInt($("#BarcodeEventId").val());

                if (BarcodeEventId <= 0) {
                    let targetUrl = "@Url.Action("AddProcessEvent", "Event")";
                    let postData = {
                        "ProcessEventItemId": $("#txtProcessEventItemId@(itemName)").val(),
                        "ModeId": $("#cboModeId@(itemName)").val(),
                        "ParameterId": $("#cboParameterId@(itemName)").val(),
                        "OperatorId": $("#cboOperationUser@(itemName)").val(),
                        "StartYmd": $("#txtStartYmd@(itemName)").val(),
                        "StartTime": $("#txtStartTime@(itemName)").val(),
                        "FinishYmd": $("#txtFinishYmd@(itemName)").val(),
                        "FinishTime": $("#txtFinishTime@(itemName)").val()

                   };

                    let result = DataAccess.Add(targetUrl, postData, false, true);

                    if (result) {
                        Return@(itemName)();
                    }
                } else {
                    let targetUrl = "@Url.Action("UpdateProcessEvent", "Event")";
                    let postData = {
                        "BarcodeEventId": BarcodeEventId,
                        "ProcessEventItemId": $("#txtProcessEventItemId@(itemName)").val(),
                        "ParameterId": $("#cboParameterId@(itemName)").val(),
                        "OperatorId": $("#cboOperationUser@(itemName)").val(),
                        "StartYmd": $("#txtStartYmd@(itemName)").val(),
                        "StartTime": $("#txtStartTime@(itemName)").val(),
                        "FinishYmd": $("#txtFinishYmd@(itemName)").val(),
                        "FinishTime": $("#txtFinishTime@(itemName)").val()
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Return@(itemName)();
                    }
                }
            }
        }

        function Delete@(itemName)(BarcodeEventId) {
            swal.fire({
                titleText: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteProcessEvent", "Event")";
                    let postData = {
                        "BarcodeEventId": BarcodeEventId
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function ManufactureOrde@(itemName)(MoId) {
            let targetUrl = "@Url.Action("GetManufactureOrder", "ProductionHistory")";
            let postData = {
                "MoId": MoId
            };
            let data = DataAccess.Get(targetUrl, postData, false);
            if (data.status == "success") {
                $.each(data.result, function (i, item) {
                    modeId@(itemName) = item.ModeId;
                    let popConfig = {
                        targetSelector: "#txtProcessEventItemId@(itemName)",
                        popFunction: "PopViewProcessEventItem",
                        objectProcessEventItemId: "#txtProcessEventItemId@(itemName)",
                        objectProcessEventName: "#desProcessEventName@(itemName)",
                        objectModeId: modeId@(itemName),
                        objectModeName: "#desModeName@(itemName)",
                        objectParameterId: "#txtParameterId@(itemName)",
                        objectProcessName: "#desProcessName@(itemName)",
                        objectTypeName: "#desTypeName@(itemName)"
                    };

                    InitPopView(popConfig);

                    $("#txtModes@(itemName)").siblings(".help-block").show();
                });
            } else {
                alert(data.msg, "alert", 1000);
            }

        }

        function Return@(itemName)() {
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName)", "#editData@(itemName), .unit-block");
            $("#selectMoView@(itemName)").show();
            Query@(itemName)();

            $("#desModeName@(itemName)").html("");
            $("#desProcessName@(itemName)").html("");
            $("#desTypeName@(itemName)").html("");
            $("#desProcessEventName@(itemName)").html("");
            $("#desWoErpFullNo@(itemName)").html("");
        
        }


        function ProcessEventItemIdClear@(itemName)() {
            $("#txtModes@(itemName)").siblings(".help-block").hide();
            $("#txtProcessEventItemId@(itemName)").val("");
            $("#txtMoId@(itemName)").val("");
        }

    </script>
                                           )