@using Business_Manager.Helpers
@{
    string itemName = "BarcodeBinding";
    string itemNameText = "條碼綁定資訊";
    string authority = ViewBag.authority;

    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
         .badge {
             font-size: 90% !important;
         }

         .container {
             margin-left: 0 !important;
         }

         .thead-customized {
             min-width: 75px !important;
             background-color: #ffeeba !important;
             position: relative !important;
             z-index: 1 !important;
             border: none !important;
         }

         .tbody-customized {
             vertical-align: middle !important;
         }

         .baseline .baseline-list {
             padding-bottom: 9.6px !important;
         }

             .baseline .baseline-list:after {
                 border: none !important;
                 top: 27px !important;
             }

         .txt-skyblue {
             font-size: 87.5%;
         }
    </style>
        )

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtMtlItemNoQ@(itemName)">品號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMtlItemNoQ@(itemName)" name="txtMtlItemNoQ@(itemName)" placeholder="請輸入品號" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtMtlItemNameQ@(itemName)">品名</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMtlItemNameQ@(itemName)" name="txtMtlItemNameQ@(itemName)" placeholder="請輸入品名" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtWoErpFullNoQ@(itemName)">工單編號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtWoErpFullNoQ@(itemName)" name="txtWoErpFullNoQ@(itemName)" placeholder="請輸入工單編號" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtBatchBarcodeNoQ@(itemName)">批量條碼</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtBatchBarcodeNoQ@(itemName)" name="txtBatchBarcodeNoQ@(itemName)" placeholder="請輸入批量條碼" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtLensBarcodeNoQ@(itemName)">鏡頭條碼</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtLensBarcodeNoQ@(itemName)" name="txtLensBarcodeNoQ@(itemName)" placeholder="請輸入鏡頭條碼" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtProcessAliasQ@(itemName)">製程名稱</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtProcessAliasQ@(itemName)" name="txtProcessAliasQ@(itemName)" placeholder="請輸入製程名稱" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtUserNoQ@(itemName)">人員</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtUserNoQ@(itemName)" name="txtUserNoQ@(itemName)" placeholder="請輸入人員工號或姓名" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-form-label">綁定時間</label>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtStartDateQ@(itemName)" name="txtStartDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtEndDateQ@(itemName)" name="txtEndDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-search"></i>套用</button>
                <a class="btn file-excel" href="javascript:Excel@(itemName)();"><i class="fas fa-file-excel"></i>匯出</a>

            </div>
        </div>
    </div>
</div>

<!--列表-->
<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-header">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);"><i class="fal fa-search"></i>搜尋</a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th class="text-center" scope="col" style="min-width: 50px;">#</th>
                                        <th class="text-center" scope="col" style="min-width: 120px;">品號</th>
                                        <th class="text-center" scope="col" style="min-width: 150px;">品名</th>
                                        <th class="text-center" scope="col" style="min-width: 150px;">工單編號</th>
                                        <th class="text-center" scope="col" style="min-width: 150px;">批量條碼</th>
                                        <th class="text-center" scope="col" style="min-width: 150px;">鏡頭條碼</th>
                                        <th class="text-center" scope="col" style="min-width: 120px;">製程名稱</th>
                                        <th class="text-center" scope="col" style="min-width: 150px;">綁定時間</th>
                                        <th class="text-center" scope="col" style="min-width: 100px;">批量條碼數量</th>
                                        <th class="text-center" scope="col" style="min-width: 120px;">人員</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 50
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        let userId@(itemName);
        let companyId@(itemName);
        let userNo@(itemName);

        $(document).ready(function () {
            GetUserInfo@(itemName)();
            let currentDate = new Date();
            Suites.DatePicker("txtEndDateQ@(itemName)", currentDate);
            currentDate.setDate(currentDate.getDate() - 7); // 預設查詢過去7天的資料
            Suites.DatePicker("txtStartDateQ@(itemName)", currentDate);

            Query@(itemName)();
        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;
            let targetUrl = "@Url.Action("GetBarcodeBindingData", "MesReport")";

            let postData = {
                "MtlItemNo": $("#txtMtlItemNoQ@(itemName)").val(),
                "MtlItemName": $("#txtMtlItemNameQ@(itemName)").val(),
                "WoErpFullNo": $("#txtWoErpFullNoQ@(itemName)").val(),
                "BatchBarcodeNo": $("#txtBatchBarcodeNoQ@(itemName)").val(),
                "LensBarcodeNo": $("#txtLensBarcodeNoQ@(itemName)").val(),
                "ProcessAlias": $("#txtProcessAliasQ@(itemName)").val(),
                "UserNo": $("#txtUserNoQ@(itemName)").val(),
                "StartDate": $("#txtStartDateQ@(itemName)").val(),
                "EndDate": $("#txtEndDateQ@(itemName)").val(),
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize
            };

            let data = DataAccess.Get(targetUrl, postData, false);
            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";
                        innerHtml += `<tr>
                                        <td class="ellipsis" data-toggle="tooltip">${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip">${item.MtlItemNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip">${item.MtlItemName}</td>
                                        <td class="ellipsis" data-toggle="tooltip">${item.WoErpFullNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip">${item.BatchBarcodeNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip">${item.LensBarcodeNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip">${item.ProcessAlias}</td>
                                        <td class="ellipsis" data-toggle="tooltip">${formatDateTime(item.CreateDate)}</td>
                                        <td class="ellipsis" data-toggle="tooltip">${item.BatchBarcodeQty}</td>
                                        <td class="ellipsis" data-toggle="tooltip">${item.UserName}</td>
                                      </tr>`;
                    });
                }
                else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="10" style="background-color: #fff3cd;">
                                        <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            }
            else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));
        }

        function formatDateTime(dateTime) {
            if (!dateTime) return '';
            if (typeof dateTime === 'string') {
                return dateTime;
            }
            const date = new Date(dateTime);
            return date.toLocaleString('zh-TW', {
                year: 'numeric',
                month: '2-digit',
                day: '2-digit',
                hour: '2-digit',
                minute: '2-digit',
                second: '2-digit',
                hour12: false
            }).replace(/\//g, '-');
        }

        function GetUserInfo@(itemName)() {
            let targetUrl = "@Url.Action("GetLoginByKey", "User")";
            let postData = {
                "UserNo": $.cookie("Login"),
                "KeyText": $.cookie("LoginKey")
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                userId@(itemName) = data.returnData.UserId;
                companyId@(itemName) = data.returnData.CompanyId;
                userNo@(itemName) = data.returnData.UserNo;
            } else {
                alert(data.msg, "alert", 0);
            }
        }

        function Excel@(itemName)() {
            let targetUrl = "@Url.Action("ExcelBarcodeBindingData", "MesReport")";
            let postData = {
                "MtlItemNo": $("#txtMtlItemNoQ@(itemName)").val(),
                "MtlItemName": $("#txtMtlItemNameQ@(itemName)").val(),
                "WoErpFullNo": $("#txtWoErpFullNoQ@(itemName)").val(),
                "BatchBarcodeNo": $("#txtBatchBarcodeNoQ@(itemName)").val(),
                "LensBarcodeNo": $("#txtLensBarcodeNoQ@(itemName)").val(),
                "ProcessAlias": $("#txtProcessAliasQ@(itemName)").val(),
                "UserNo": $("#txtUserNoQ@(itemName)").val(),
                "StartDate": $("#txtStartDateQ@(itemName)").val(),
                "EndDate": $("#txtEndDateQ@(itemName)").val()
            };

            let data = DataAccess.EditContinued(targetUrl, postData, false);

            if (data) {
                alert("匯出成功!!!!", "success")
                FileAccess.AjaxDownload(targetUrl, postData, false);
            }
        }

        function Return@(itemName)() {
            window.location.href = "@Url.Action("Index", "MesReport")";
        }
    </script>
        )