@using Business_Manager.Helpers
@{
    string itemName = "CheckOrderAndProduction";
    string itemNameText = "訂單與在製數量報表";
    string authority = ViewBag.authority;
    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
         .help-block {
             display: none;
             margin: 5px 0 0;
             border: 3px dashed #b1b1b1;
             border-radius: 5px;
             padding: 5px 10px;
         }

         dt {
             float: left;
             clear: left;
             width: 110px;
         }

             dt::after {
                 content: "：";
             }

         dd {
             margin: 0 0 0 80px;
             padding: 0;
             color: #36a2f5;
             font-weight: bold;
         }
    </style>
)

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

<!--搜尋-->
<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">品號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMtlItemNoQ@(itemName)" name="txtMtlItemNoQ@(itemName)"
                                       placeholder="請輸入品號" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<!--列表-->
<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);"><i class="fal fa-search"></i>搜尋</a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn file-excel auth-excel" href="javascript:Excel@(itemName)();"><i class="fas fa-file-excel"></i>匯出</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="max-width: 75px;">#</th>
                                        <th scope="col" style="max-width: 100px;">訂單單號</th>
                                        <th scope="col" style="min-width: 110px;">產品品號</th>
                                        <th scope="col" style="max-width: 200px;">產品品名</th>
                                        <th scope="col" style="max-width: 200px;">客戶名稱</th>
                                        <th scope="col" style="max-width: 200px;">預交日</th>
                                        <th scope="col" style="max-width: 200px;">訂單數量</th>
                                        <th scope="col" style="max-width: 200px;">已交數</th>
                                        <th scope="col" style="max-width: 150px;">未交數</th>
                                        <th scope="col" style="max-width: 200px; min-width: 115px;">庫存數</th>
                                        <th scope="col" style="max-width: 200px; min-width: 115px;">在製數</th>
                                        <th scope="col" style="max-width: 200px;">需開製令數</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        $(document).ready(function () {
            Suites.DateDropper("#txtStartDateQ@(itemName), #txtEndDateQ@(itemName)");
            let currentDate = new Date();
            Suites.SetDateDropper("#txtEndDateQ@(itemName)", currentDate);
            currentDate.setDate(currentDate.getDate() - 90);
            Suites.SetDateDropper("#txtStartDateQ@(itemName)", currentDate);

            Query@(itemName)();

            if (!isMobile) {
                $("#cboUserNoQ@(itemName)").select2({
                    dropdownAutoWidth: true,
                    width: "100%"
                });
            }

            ComboBoxs.Default("#cboUserNoQ@(itemName)", "@Url.Action("GetUser", "BasicInformation")", { "CompanyId": "@Session["CompanyId"]"}, "", "NA", "", "UserWithNo", "UserNo");

            $(window).keydown(function (event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    return false;
                }
            });
        })

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;
            let targetUrl = "@Url.Action("GetCheckOrderAndProduction", "MesReport")";

            let postData = {
                "MtlItemNo": $("#txtMtlItemNoQ@(itemName)").val()
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length;
                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);
                    $.each(data.result, function (i, item) {
                        defaultFileId@(itemName) = item.DefaultFileId;
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";
                        innerHtml += `<tr>
                                                        <td style="max-width: 75px;">${_row}</td>
                                                        <td class="ellipsis" data-toggle="tooltip" title="${item.TD001}-${item.TD002}" style="min-width: 100px;">${item.TD001}-${item.TD002}</td>
                                                        <td class="ellipsis" data-toggle="tooltip" title="${item.TD004}" style="max-width: 200px; min-width: 135px;">${item.TD004}</td>
                                                        <td class="ellipsis" data-toggle="tooltip" title="${item.TD005}" style="max-width: 200px; min-width: 135px;">${item.TD005}</td>
                                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MA003}" style="max-width: 200px;">${item.MA003}</td>
                                                        <td class="ellipsis" data-toggle="tooltip" title="${item.TD013}" style="max-width: 200px; min-width: 100px;">${item.TD013}</td>
                                                        <td class="ellipsis" data-toggle="tooltip" title="${item.TD008}" style="max-width: 200px; min-width: 135px;">${item.TD008}</td>
                                                        <td class="ellipsis" data-toggle="tooltip" title="${item.TD009}" style="max-width: 150px;">${item.TD009}</td>
                                                        <td class="ellipsis" data-toggle="tooltip" title="${item.UndeliveredVolume}" style="max-width: 150px;">${item.UndeliveredVolume}</td>
                                                        <td class="ellipsis" data-toggle="tooltip" title="${item.TotalInventory}" style="max-width: 200px;">${item.TotalInventory}</td>
                                                        <td class="ellipsis" data-toggle="tooltip" title="${item.TotalInProgress}" style="max-width: 200px;">${item.TotalInProgress}</td>
                                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ManufacturingOrder}" style="max-width: 200px;">${item.ManufacturingOrder}</td>
                                                      </tr>`;
                    });
                }
                else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="11" style="background-color: #fff3cd;">
                                        <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            }
            else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));
        }

        function Excel@(itemName)() {
            let targetUrl = "@Url.Action("AssetsDataExcelDownload", "BasicInformation")";
            let postData = {
                "UserNo": $("#cboUserNoQ@(itemName)").val(),
                "MB001Q": $("#txtMB001Q@(itemName)").val(),
                "MB006Q": $("#txtMB006Q@(itemName)").val(),
                "MB002Q": $("#txtMB002Q@(itemName)").val()
            };

            FileAccess.AjaxDownload(targetUrl, postData, false);
        }
</script>
)