@using Business_Manager.Helpers
@{
    string itemName = "ExcelExportManagement";
    string itemNameText = "報表Excel匯出管理";
    string authority = ViewBag.authority;
    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
@<style>
</style>
                                                                                                                )

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>
@*產品成本分析表*@
<div class="modal fade" id="ProductCostReport@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryExcel@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtPcMtlItemNoQ@(itemName)">品號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtPcMtlItemNoQ@(itemName)" name="txtPcMtlItemNoQ@(itemName)" placeholder="請輸入品號(支援模糊搜尋)" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtPcStartDayQ@(itemName)" name="txtPcStartDayQ@(itemName)" placeholder="請輸入開始月份(yyyyMM:202506)"
                                       data-msg-extraRegex="請輸入正確的日期格式(yyyyMM:202506)" data-rule-extraRegex="^(19|20)\d{2}(0[1-9]|1[0-2])$" />
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtPcEndDayQ@(itemName)" name="txtPcEndDayQ@(itemName)" placeholder="請輸入結束月份(yyyyMM:202506)"
                                       data-msg-extraRegex="請輸入正確的日期格式(yyyyMM:202506)" data-rule-extraRegex="^(19|20)\d{2}(0[1-9]|1[0-2])$" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="GetPcExcel@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>
@*產品入庫成本分析表*@
<div class="modal fade" id="ProductReceivingCost@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryExcel@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtPrcMtlItemNoQ@(itemName)">品號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtPrcMtlItemNoQ@(itemName)" name="txtPrcMtlItemNoQ@(itemName)" placeholder="請輸入品號(支援模糊搜尋)" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtPrcStartDayQ@(itemName)" name="txtPrcStartDayQ@(itemName)" placeholder="請輸入開始月份(yyyyMM:202506)"
                                       data-msg-extraRegex="請輸入正確的日期格式(yyyyMM:202506)" data-rule-extraRegex="^(19|20)\d{2}(0[1-9]|1[0-2])$" />
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtPrcEndDayQ@(itemName)" name="txtPrcEndDayQ@(itemName)" placeholder="請輸入結束月份(yyyyMM:202506)"
                                       data-msg-extraRegex="請輸入正確的日期格式(yyyyMM:202506)" data-rule-extraRegex="^(19|20)\d{2}(0[1-9]|1[0-2])$" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="GetPrcExcel@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

@*ERP生產入庫明細表*@
<div class="modal fade" id="ProdReceiptReport@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryExcel@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtPrMtlItemNoQ@(itemName)">品號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtPrMtlItemNoQ@(itemName)" name="txtPrMtlItemNoQ@(itemName)" placeholder="請輸入品號(支援模糊搜尋)" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtStartDayQ@(itemName)" name="txtStartDayQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))" />
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtEndDayQ@(itemName)" name="txtEndDayQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="switchHeader@(itemName)('ProdReceiptReport')" style="margin: auto;"><i class="fal fa-search"></i>搜寻</button>
                <button type="button" class="btn btn-primary" onclick="GetExcel@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>
@*ERP暫出入單明細表*@
<div class="modal fade" id="TempIssueReport@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryExcel@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtTempStartDayQ@(itemName)" name="txtTempStartDayQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))" />
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtTempEndDayQ@(itemName)" name="txtTempEndDayQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="GetTempExcel@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>
@*ERP暫出歸還單明細表*@
<div class="modal fade" id="TempReturnReport@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryExcel@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtTempReturnStartDayQ@(itemName)" name="txtTempReturnStartDayQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))" />
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtTempReturnEndDayQ@(itemName)" name="txtTempReturnEndDayQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary" onclick="GetTempReturnExcel@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>
@*採購進貨狀況分析表*@
<div class="modal fade" id="PoStatusReport@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryExcel@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtPoFullNoQ@(itemName)">
                                採購單(範例:3302-2023032801-0001)
                            </label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtPoFullNoQ@(itemName)" name="txtPoFullNoQ@(itemName)" placeholder="請輸入採購單(支援模糊搜尋)" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtPoMtlItemNoQ@(itemName)">品號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtPoMtlItemNoQ@(itemName)" name="txtPoMtlItemNoQ@(itemName)" placeholder="請輸入品號(支援模糊搜尋)" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboSupplierNoQ@(itemName)">供應商編號</label>
                            <div class="col-12">
                                <select class="form-control" id="cboSupplierNoQ@(itemName)" name="cboSupplierNoQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtPoStartDayQ@(itemName)" name="txtPoStartDayQ@(itemName)" placeholder="請輸入採購單據日期(開始)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))" />
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtPoEndDayQ@(itemName)" name="txtPoEndDayQ@(itemName)" placeholder="請輸入採購單據日期(結束)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">結案狀況</label>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    未結案
                                    <input type="checkbox" id="cbxCloseCodeQ@(itemName)N" name="cbxCloseCodeQ@(itemName)" value="N" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    結案
                                    <input type="checkbox" id="cbxCloseCodeQ@(itemName)Y" name="cbxCloseCodeQ@(itemName)" value="Y" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    指定結案
                                    <input type="checkbox" id="cbxCloseCodeQ@(itemName)y" name="cbxCloseCodeQ@(itemName)" value="y" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">交期狀況</label>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    尚無收貨紀錄
                                    <input type="checkbox" id="cbxPoStatusQ@(itemName)A" name="cbxPoStatusQ@(itemName)" value="尚無收貨紀錄" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    部分收貨部分檢驗中
                                    <input type="checkbox" id="cbxPoStatusQ@(itemName)B" name="cbxPoStatusQ@(itemName)" value="部分已收貨部分檢驗中" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    部分收貨部分入庫
                                    <input type="checkbox" id="cbxPoStatusQ@(itemName)C" name="cbxPoStatusQ@(itemName)" value="部分已收貨部分入庫" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    全部收貨在檢驗中
                                    <input type="checkbox" id="cbxPoStatusQ@(itemName)D" name="cbxPoStatusQ@(itemName)" value="全部收貨在檢驗中" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    全部已入庫
                                    <input type="checkbox" id="cbxPoStatusQ@(itemName)E" name="cbxPoStatusQ@(itemName)" value="全部已入庫" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">入庫狀況</label>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    未交貨且逾期
                                    <input type="checkbox" id="cbxDeliveryStatusQ@(itemName)A" name="cbxDeliveryStatusQ@(itemName)" value="未交貨且逾期" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    部分交貨仍逾期
                                    <input type="checkbox" id="cbxDeliveryStatusQ@(itemName)B" name="cbxDeliveryStatusQ@(itemName)" value="部分交貨仍逾期" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    交貨完成但逾期交
                                    <input type="checkbox" id="cbxDeliveryStatusQ@(itemName)C" name="cbxDeliveryStatusQ@(itemName)" value="交貨完成但逾期交" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    有交貨且準時完成
                                    <input type="checkbox" id="cbxDeliveryStatusQ@(itemName)D" name="cbxDeliveryStatusQ@(itemName)" value="有交貨且準時完成" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    尚未到交期
                                    <input type="checkbox" id="cbxDeliveryStatusQ@(itemName)E" name="cbxDeliveryStatusQ@(itemName)" value="尚未到交期" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="switchHeader@(itemName)('PoStatusReport')" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
                <button type="button" class="btn btn-success" onclick="GetPoExcel@(itemName)()" style="margin: auto;"><i class="fas fa-file-excel"></i>匯出</button>
            </div>
        </div>
    </div>
</div>



<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    @*<div class="col-6 col-sm-6 col-md-6">

                        </div>*@
                    <div class="col-12 col-sm-12 col-md-12 text-right">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#ProductCostReport@(itemName)" href="javascript:void(0);">
                            <i class="fal fa-search"></i>產品成本分析表
                        </a>
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#ProductReceivingCost@(itemName)" href="javascript:void(0);">
                            <i class="fal fa-search"></i>產品入庫成本分析表
                        </a>
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#TempIssueReport@(itemName)" href="javascript:void(0);">
                            <i class="fal fa-search"></i>ERP暫出入單明細表
                        </a>
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#TempReturnReport@(itemName)" href="javascript:void(0);">
                            <i class="fal fa-search"></i>ERP暫出歸還單明細表
                        </a>
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#ProdReceiptReport@(itemName)" href="javascript:void(0);">
                            <i class="fal fa-search"></i>ERP生產入庫明細表
                        </a>
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#PoStatusReport@(itemName)" href="javascript:void(0);">
                            <i class="fal fa-search"></i>採購進貨狀況分析表
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead id="tableHeader@(itemName)">
                                    <!-- 表头将通过JS动态生成 -->
                                </thead>
                                <tbody id="tableBody@(itemName)">
                                    <!-- 表格内容可根据实际需求动态加载 -->
                                </tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
@<script>
    let objPage@(itemName) = {
        "pageIndex": 0,
         "pageSize": 30
    };
    let objForm@(itemName) = "#editForm@(itemName)";


    
    const headerConfig@(itemName) = {
        //ERP生產入庫明細表
        ProdReceiptReport: [
            { text: '#', style: 'min-width: 75px;' },
            { text: '入庫日', style: 'min-width: 150px;' },
            { text: '製令', style: 'min-width:150px;' },
            { text: '品號', style: 'min-width: 200px;' },
            { text: '品名', style: 'min-width: 100px;' },
            { text: '規格', style: 'min-width: 125px; ' },
            { text: '週期', style: 'min-width: 125px; ' },
            { text: '模重', style: 'min-width: 125px; ' },
            { text: '穴數', style: 'min-width: 125px; ' },
            { text: '理論生產數', style: 'min-width: 125px; ' },
            { text: '入庫數', style: 'min-width: 125px; ' },
            { text: '收片率', style: 'min-width: 125px; ' },
            { text: '驗收數', style: 'min-width: 125px; ' },
            { text: '良品率', style: 'min-width: 125px; ' },
            { text: '報廢數', style: 'min-width: 125px; ' },
            { text: '報廢率', style: 'min-width: 125px; ' },
            { text: '理論材料成本', style: 'min-width: 125px; ' },
            { text: '單PCS材料成本', style: 'min-width: 150px; ' },
            { text: '良品材料成本', style: 'min-width: 125px; ' },
            { text: '不良品材料成本', style: 'min-width: 150px; ' },
            { text: '實際用料成本', style: 'min-width: 150px; ' },
            { text: '加工費', style: 'min-width: 125px; ' },
            { text: '理論產品單價', style: 'min-width: 125px; ' },
            { text: '人工製費', style: 'min-width: 125px; ' },
            { text: '實際營收', style: 'min-width: 125px; ' },
            { text: '成本合計', style: 'min-width: 125px; ' },
            { text: '毛利', style: 'min-width: 125px; ' },
            { text: '毛利率', style: 'min-width: 125px; ' },
            { text: '材料別稱', style: 'min-width: 125px; ' },
            { text: '材料品號', style: 'min-width: 125px; ' },
            { text: '材料品名', style: 'min-width: 125px; ' },
            { text: '材料規格', style: 'min-width: 125px; ' },
            { text: '採購單價', style: 'min-width: 125px; ' }
        ],

        //採購進貨狀況分析表
        PoStatusReport: [
            { text: '#', style: 'min-width: 75px;' },
            { text: '採購單號', style: 'min-width: 200px;' },
            { text: '品號', style: 'min-width: 250px;' },
            { text: '品名', style: 'min-width: 200px;' },
            { text: '規格', style: 'min-width: 100px;' },
            { text: '交期狀況', style: 'min-width: 120px;' },
            { text: '入庫狀況', style: 'min-width: 120px;' },
            { text: '採購交期', style: 'min-width: 120px;' },
            { text: '最近進貨日', style: 'min-width: 120px;' },
            { text: '採購數量', style: 'min-width: 120px;' },
            { text: '進貨數量', style: 'min-width: 120px;' },
            { text: '驗收數', style: 'min-width: 120px;' },
            { text: '驗退數', style: 'min-width: 150px;' },
            { text: '單據日', style: 'min-width: 120px;' },
            { text: '供應商', style: 'min-width: 120px;' },
            { text: '結案狀態', style: 'min-width: 120px;' }
        ]
    };

    $(document).ready(function () {

        let currentDate = new Date();

        Suites.DatePicker("txtStartDayQ@(itemName)", currentDate);
        Suites.DatePicker("txtEndDayQ@(itemName)", currentDate);

        Suites.DatePicker("txtTempStartDayQ@(itemName)", currentDate);
        Suites.DatePicker("txtTempEndDayQ@(itemName)", currentDate);

        Suites.DatePicker("txtTempReturnStartDayQ@(itemName)", currentDate);
        Suites.DatePicker("txtTempReturnEndDayQ@(itemName)", currentDate);

        Suites.DatePicker("txtPoStartDayQ@(itemName)", "");
        Suites.DatePicker("txtPoEndDayQ@(itemName)", "");

        ComboBoxs.Default("#cboSupplierNoQ@(itemName)", "@Url.Action("GetSupplier", "ScmBasicInformation")", { "PermitStatus": "1" }, "", "NA", "", "SupplierWithNo", "SupplierNo");
        $("#cboSupplierNoQ@(itemName)").select2({
            dropdownAutoWidth: true,
            width: "100%"
        });
    });

    function isValidYYYYMM(str) {
        // 正規表達式：4位數年份 + 月份01~12
        const regex = /^(19|20)\d{2}(0[1-9]|1[0-2])$/;
        return regex.test(str);
    }
    //產品成本分析表
    function GetPcExcel@(itemName)() {

        let StardDay = $("#txtPcStartDayQ@(itemName)").val()
        let EndDay = $("#txtPcEndDayQ@(itemName)").val()
        let MtlItemNo = $("#txtPcMtlItemNoQ@(itemName)").val()

        if (MtlItemNo == "") {
            alert("品號不可為空")
            return
        }

        if (StardDay != "") {
            if (isValidYYYYMM(StardDay)) {
            } else {
                alert("開始日期格式錯誤")
                return
            }
        }
        if (EndDay != "") {
            if (isValidYYYYMM(EndDay)) {
            } else {
                alert("結束日期格式錯誤")
                return
            }
        }

        let targetUrl = "@Url.Action("ExcelProductCostReport", "MesReport")";
        let postData = {
            "MtlItemNo": MtlItemNo,
            "StardDay": StardDay,
            "EndDay": EndDay
        };

        FileAccess.AjaxDownload(targetUrl, postData, false);
        alert("匯出成功!!!!", "success")
    }
    //產品入庫成本分析表
    function GetPrcExcel@(itemName)() {

        let StardDay = $("#txtPrcStartDayQ@(itemName)").val()
        let EndDay = $("#txtPrcEndDayQ@(itemName)").val()
        let MtlItemNo = $("#txtPrcMtlItemNoQ@(itemName)").val()

        if (MtlItemNo == "") {
            alert("品號不可為空")
            return
        }

        if (StardDay != "") {
            if (isValidYYYYMM(StardDay)) {
            } else {
                alert("開始日期格式錯誤")
                return
            }
        }
        if (EndDay != "") {
            if (isValidYYYYMM(EndDay)) {
            } else {
                alert("結束日期格式錯誤")
                return
            }
        }

        let targetUrl = "@Url.Action("ExcelProductReceivingCost", "MesReport")";
        let postData = {
            "MtlItemNo": MtlItemNo,
            "StardDay": StardDay,
            "EndDay": EndDay
        };

        FileAccess.AjaxDownload(targetUrl, postData, false);
        alert("匯出成功!!!!", "success")
    }

    //ERP生產入庫明細表
    function GetExcel@(itemName)() {
        let MtlItemNo = $("#txtPrMtlItemNoQ@(itemName)").val()

        let targetUrl = "@Url.Action("ExcelProductionStockInDetail", "PdmBasicInformation")";
        let postData = {
            "ViewMtlItemNo": MtlItemNo,
            "StardDay": $("#txtStartDayQ@(itemName)").val(),
            "EndDay": $("#txtEndDayQ@(itemName)").val()
        };

        FileAccess.AjaxDownload(targetUrl, postData, false);
        alert("匯出成功!!!!", "success")
    }
    //ERP暫出入單明細表
    function GetTempExcel@(itemName)() {
        let targetUrl = "@Url.Action("ExcelTemporaryOrderOutInDetail", "PdmBasicInformation")";
        let postData = {
            "StardDay": $("#txtTempStartDayQ@(itemName)").val(),
            "EndDay": $("#txtTempEndDayQ@(itemName)").val()
        };

        FileAccess.AjaxDownload(targetUrl, postData, false);
        alert("匯出成功!!!!", "success")

    }
    //ERP暫出歸還單明細表
    function GetTempReturnExcel@(itemName)() {
        let targetUrl = "@Url.Action("ExcelTempOutReturnRecordDetail", "PdmBasicInformation")";
        let postData = {
            "StardDay": $("#txtTempReturnStartDayQ@(itemName)").val(),
            "EndDay": $("#txtTempReturnEndDayQ@(itemName)").val()
        };

        FileAccess.AjaxDownload(targetUrl, postData, false);
        alert("匯出成功!!!!", "success")

    }
    //採購進貨狀況分析表
    function GetPoExcel@(itemName)() {

        let PoFullNo = $("#txtPoFullNoQ@(itemName)").val()
        let MtlItemNo = $("#txtPoMtlItemNoQ@(itemName)").val()
        let SupplierNo = $("#cboSupplierNoQ@(itemName)").val()
        let StardDay = $("#txtPoStartDayQ@(itemName)").val()
        let EndDay = $("#txtPoEndDayQ@(itemName)").val()
        let CloseCodeList = [];
        $.each($("input[name='cbxCloseCodeQ@(itemName)']:checked"), function () {
            CloseCodeList.push($(this).val());
        });
        let PoStatusList = [];
        $.each($("input[name='cbxPoStatusQ@(itemName)']:checked"), function () {
            PoStatusList.push($(this).val());
        });

        let DeliveryStatusList = [];
        $.each($("input[name='cbxDeliveryStatusQ@(itemName)']:checked"), function () {
            DeliveryStatusList.push($(this).val());
        });


        let targetUrl = "@Url.Action("ExcelPoStatusReport", "MesReport")";
        let postData = {
            "PoFullNo": PoFullNo,
            "MtlItemNo": MtlItemNo,
            "SupplierNo": SupplierNo,
            "StardDay": StardDay,
            "EndDay": EndDay,
            "CloseCode": CloseCodeList.join(","),
            "PoStatus": PoStatusList.join(","),
            "DeliveryStatus": DeliveryStatusList.join(","),
            "RedirectType": 2
        };

        FileAccess.AjaxDownload(targetUrl, postData, false);
        alert("匯出成功!!!!", "success");

        $("#PoStatusReport@(itemName)").modal('hide');
    }


    function hideCurrentModal(button) {
        $(button).closest('.modal').modal('hide');
    }


    let currentHeaderType@(itemName) = "";

    function switchHeader@(itemName)(type) {

        if (!headerConfig@(itemName)[type]) {
            alert(`未知的表头类型: ${type}`);
            return;
        }

        currentHeaderType@(itemName) = type;

        const headerContainer = $('#tableHeader@(itemName)');
        headerContainer.empty();

        const headerRow = $('<tr></tr>');

        headerConfig@(itemName)[type].forEach(col => {
            const th = $(`<th scope="col"></th>`)
                .text(col.text)
                .attr('style', col.style);
            headerRow.append(th);
        });

        headerContainer.append(headerRow);

        $('#tableBody@(itemName)').empty();

        //objPage@(itemName).pageIndex = 0;
        InitData@(itemName)(objPage@(itemName));

        hideCurrentModal(this.event.currentTarget);
    }


    function InitData@(itemName)(objPage) {
        let innerHtml = ""; // 初始化HTML内容
        let postData = {};
        let targetUrl = "";
        
        switch (currentHeaderType@(itemName)) {

            //ERP生產入庫明細表
            case 'ProdReceiptReport':
                targetUrl = "@Url.Action("GetProductionStockInDetail", "PdmBasicInformation")";
                postData = {
                     "ViewMtlItemNo": $("#txtPrMtlItemNoQ@(itemName)").val(),
                     "StardDay": $("#txtStartDayQ@(itemName)").val(),
                     "EndDay": $("#txtEndDayQ@(itemName)").val()
                };
                break;
            
             
            // 采购进货状况分析表
            case 'PoStatusReport':
                targetUrl = "@Url.Action("GetPoStatusReport", "MesReport")";
                postData = {
                    "OrderBy": "",
                    "PageIndex": (objPage.pageIndex + 1),
                    "PageSize": objPage.pageSize,
                    "PoFullNo": $("#txtPoFullNoQ@(itemName)").val(),
                    "MtlItemNo": $("#txtPoMtlItemNoQ@(itemName)").val(),
                    "SupplierNo": $("#cboSupplierNoQ@(itemName)").val(),
                    "StardDay": $("#txtPoStartDayQ@(itemName)").val(),
                    "EndDay": $("#txtPoEndDayQ@(itemName)").val(),
                    "RedirectType": 1,
                    "CloseCode": $("input[name='cbxCloseCodeQ@(itemName)']:checked").map(function() {
                        return $(this).val();
                    }).get().join(","),
                    "PoStatus": $("input[name='cbxPoStatusQ@(itemName)']:checked").map(function() {
                        return $(this).val();
                    }).get().join(","),
                    "DeliveryStatus": $("input[name='cbxDeliveryStatusQ@(itemName)']:checked").map(function() {
                        return $(this).val();
                    }).get().join(",")
                };
                break;

            default:
                alert(`未知的报表类型: ${currentHeaderType@(itemName)}`);
                return;
        }

        let data = DataAccess.Get(targetUrl, postData, false);

        if (data.status == "success") {
            //let pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;
            let pageCount = data.result.length > 0 ? parseInt(data.TotalCount) : 0;
            console.log(1, data);
            
            if (pageCount > 0) {
                objPage = PageCaculate(pageCount, objPage);

                switch (currentHeaderType@(itemName)) {
                    //ERP生產入庫明細表
                    case 'ProdReceiptReport':
                        $.each(data.result, function (i, item) {
                            innerHtml += `<tr>
                                <td><span class="stack-title">#</span>${objPage.pageSize * objPage.pageIndex + (i + 1)}</td>
                                <td><span class="stack-title">入庫日</span>${item.ReceiptDate}</td>
                                <td><span class="stack-title">製令</span>${item.ErpFull}</td>
                                <td><span class="stack-title">品號</span>${item.MtlItemNo}</td>
                                <td><span class="stack-title">品名</span>${item.MtlItemName}</td>
                                <td><span class="stack-title">規格</span>${item.MtlItemSpec}</td>
                                <td><span class="stack-title">週期</span>${item.CycleTime}</td>
                                <td><span class="stack-title">模重</span>${item.MoldWeight}</td>
                                <td><span class="stack-title">穴數</span>${item.Cavity}</td>
                                <td><span class="stack-title">理論生產數</span>${item.TheoreticalQty}</td>
                                <td><span class="stack-title">入庫數</span>${item.ReceiptQty}</td>
                                <td><span class="stack-title">收片率</span>${parseInt((item.ReceiptQty / item.TheoreticalQty) * 100)}%</td>
                                <td><span class="stack-title">驗收數</span>${item.AcceptQty}</td>
                                <td><span class="stack-title">良品率</span>${item.PassRate}%</td>
                                <td><span class="stack-title">報廢數</span>${item.ScriptQty}</td>
                                <td><span class="stack-title">報廢率</span>${item.DefectRate}%</td>
                                <td><span class="stack-title">理論材料成本</span>${(24 * 60 * 60 / item.CycleTime * item.MoldWeight / 1000 * item.UnitPrice).toFixed(3)}</td>
                                <td><span class="stack-title">單PCS材料成本</span>${((24 * 60 * 60 / item.CycleTime * item.MoldWeight / 1000 * item.UnitPrice) / item.TheoreticalQty).toFixed(3)}</td>
                                <td><span class="stack-title">良品材料成本</span>${(item.AcceptQty * item.AcceptQty).toFixed(3)}</td>
                                <td><span class="stack-title">不良品材料成本</span>${(item.ScriptQty * item.matCostPerPc).toFixed(3)}</td>
                                <td><span class="stack-title">實際用料成本</span>${(item.ReceiptQty * item.matCostPerPc).toFixed(3)}</td>
                                <td><span class="stack-title">加工費</span>${item.ProcessingFee}</td>
                                <td><span class="stack-title">理論產品單價</span>${item.theoPrice}</td>
                                <td><span class="stack-title">人工製費</span>${item.LaborCost}</td>
                                <td><span class="stack-title">實際營收</span>${item.actualRev}</td>
                                <td><span class="stack-title">成本合計</span>${item.totalCost}</td>
                                <td><span class="stack-title">毛利</span>${item.grossProfit}</td>
                                <td><span class="stack-title">毛利率</span>${item.grossProfitRate}</td>
                                <td><span class="stack-title">材料別稱</span>${item.Material}</td>
                                <td><span class="stack-title">材料品號</span>${item.CellMtlItemNo}</td>
                                <td><span class="stack-title">材料品名</span>${item.CellMtlItemName}</td>
                                <td><span class="stack-title">材料規格</span>${item.CellMtlItemSpec}</td>
                                <td><span class="stack-title">採購單價</span>${item.UnitPrice}</td>
                            </tr>`;
                        });
                        break;

                    // 采购进货状况分析表
                    case 'PoStatusReport':
                        $.each(data.result, function (i, item) {
                            let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";
                            innerHtml += `<tr>
                                <td><span class="stack-title">#</span>${objPage.pageSize * objPage.pageIndex + (i + 1)}</td>
                                <td><span class="stack-title">採購單號</span>${item.FullNo}</td>
                                <td><span class="stack-title">品號</span>${item.MtlItemNo}</td>
                                <td><span class="stack-title">品名</span>${item.MtlItemName}</td>
                                <td><span class="stack-title">規格</span>${item.MtlItemSpec}</td>
                                <td><span class="stack-title">交期狀況</span>${item.DeliveryStatus}</td>
                                <td><span class="stack-title">入庫狀況</span>${item.PoStatus}</td>
                                <td><span class="stack-title">採購交期</span>${item.DeliveryDate}</td>
                                <td><span class="stack-title">最近進貨日</span>${item.InDay || ''}</td>
                                <td><span class="stack-title">採購數量</span>${item.PuQty}</td>
                                <td><span class="stack-title">進貨數量</span>${item.InTotalQty}</td>
                                <td><span class="stack-title">驗收數</span>${item.InPassQty}</td>
                                <td><span class="stack-title">驗退數</span>${item.InReturnQty}</td>
                                <td><span class="stack-title">單據日</span>${item.DocDate}</td>
                                <td><span class="stack-title">供應商</span>${item.SupplierFull}</td>
                                <td><span class="stack-title">結案狀態</span>${item.CloseCode}</td>
                            </tr>`;
                        });
                        break;

                }
            } else {
                const colspan = headerConfig@(itemName)[currentHeaderType@(itemName)].length;
                innerHtml += `<tr>
                    <td class="text-center" colspan="${colspan}" style="background-color: #fff3cd;">
                        <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                    </td>
                </tr>`;
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));
        } else {
            alert(data.msg, "alert", 0);
        }
    }

</script>
                                                                                                                )