@using Business_Manager.Helpers
@{
    string itemName = "IFrameProductionHistory";
    string itemNameText = "生產歷史查詢";
    string authority = ViewBag.authority;

    string WoErpFullNo = Request["WoErpFullNo"] ?? "";
    string WoSeq = Request["WoSeq"] ?? "";
    string ProcessId = Request["ProcessId"] ?? "";
    string Status = Request["Status"] ?? "";
    string MoId = Request["MoId"] ?? "";
    string Iframe = Request["Iframe"] ?? "";
    string MoProcessId = Request["MoProcessId"] ?? "";

}

@Html.Resource("css",
    @<style>
        .container {
            margin-left: 0 !important;
        }

        .tbody-customized {
            vertical-align: middle !important;
        }

        iframe {
            width: 100%;
            height: auto;
            aspect-ratio: 16 / 9;
        }
    </style>
)

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-header">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-row align-items-center mb-2">
                            <div class="col-lg-3 col-6">
                                <label class="form-label" for="txtWoErpFullNoQ@(itemName)">製令</label>
                                <input type="text" class="form-control query-search" id="txtWoErpFullNoQ@(itemName)" name="txtWoErpFullNoQ@(itemName)" placeholder="請輸入製令" />
                            </div>
                            <div class="col-lg-3 col-6">
                                <label class="form-label" for="cboProcessIdQ@(itemName)">製程</label>
                                <select class="form-control" id="cboProcessIdQ@(itemName)" name="cboProcessIdQ@(itemName)"></select>
                            </div>
                            <div class="col-lg-3 col-6 mt-4">
                                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()"><i class="fal fa-search"></i>搜尋</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 50px;">#</th>
                                        <th scope="col" style="min-width: 190px;">條碼</th>
                                        <th scope="col" style="min-width: 150px;">狀態</th>
                                        <th scope="col" style="min-width: 85px;">不良原因</th>
                                        <th scope="col" style="min-width: 85px;">數量</th>
                                        <th scope="col" style="min-width: 150px;">操作人員</th>
                                        <th scope="col" style="min-width: 200px;">過站時間</th>
                                        <th scope="col" style="min-width: 100px;">加工工時</th>
                                        <th scope="col" style="min-width: 150px;">機台</th>
                                        <th scope="col" class="text-center" style="min-width: 70px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 100
        };
        let objForm@(itemName) = "#queryForm@(itemName)";

        $(document).ready(function () {
            console.log(@MoId);

            if ("@Iframe" == "T") {
                $(objForm@(itemName) + " input").attr("disabled", true);
                $(objForm@(itemName) + " select").attr("disabled", true);
            }

            $("#txtWoErpFullNoQ@(itemName)").val("@(WoErpFullNo)");
            ComboBoxs.Default("#cboProcessIdQ@(itemName)", "@Url.Action("GetProcess", "MesBasicInformation")", {}, "@(ProcessId)", "ALL", "", "ProcessName", "ProcessId");

            if (!isMobile) {
                $("#cboProcessIdQ@(itemName)").select2({
                    dropdownAutoWidth: true,
                    width: "100%"
                });
            }

           
            Query@(itemName)();

            $("#txtWoErpFullNoQ@(itemName)").keydown(DelayTrigger(function (e) {
                Query@(itemName)();
            }, 100));

            $("#cboProcessIdQ@(itemName)").on("change", function () {
                Query@(itemName)();
            });

        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 100;

            let statusList = [];
            $.each($("input[name='cbxStatusQ@(itemName)']:checked"), function () {
                statusList.push($(this).val());
            });
            let targetUrl = "@Url.Action("GetMoSetting", "Production")";

            let postData = {
                "MoId": @MoId
            };

            let data = DataAccess.Get(targetUrl, postData, false);
            if (data.status == "success") {
                if (data.result.length > 0) {
                    if (data.result[0]["BarcodeCtrl"] == "N") {
                        GetQryProcessHistory@(itemName)(objPage@(itemName));
                    } else  {
                        GetProcessHistory@(itemName)(objPage@(itemName));
                    }
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            //$("#tblData@(itemName) tbody").html(innerHtml);
            //Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));
        }

        function PopBarcode@(itemName)(BarcodeNo) {

            let targetUrl = `@Url.Action("IFrameBarcodeTracking", "MesReport")?BarcodeNo=${BarcodeNo}&Iframe=T`;

            Swal.fire({
                html: `<iframe id="BarcodeTracking@(itemName)" src="${targetUrl}" frameborder="0" scrolling="no"></iframe>`,
                showCloseButton: true,
                showConfirmButton: false,
                allowOutsideClick: false,
                allowEscapeKey: false,
                width: "100%",
                background: '#eef1f5'
            });
        }

        function PopMeasurement@(itemName)(WoErpFullNo, WoSeq, ProcessId, BarcodeNo) {

            let targetUrl = `@Url.Action("IFrameMeasurementRecord", "MesReport")?WoErpFullNo=${WoErpFullNo}&WoSeq=${WoSeq}&ProcessId=${ProcessId}&BarcodeNo=${BarcodeNo}&QcType=IPQC&Iframe=T`;

            Swal.fire({
                html: `<iframe id="MeasurementRecord@(itemName)" src="${targetUrl}" frameborder="0" scrolling="no"></iframe>`,
                showCloseButton: true,
                showConfirmButton: false,
                allowOutsideClick: false,
                allowEscapeKey: false,
                width: "100%",
                background: '#eef1f5'
            });
        }

        function PopBarcodeProcessEvent@(itemName)(WoErpFullNo, WoSeq, ProcessId, BarcodeNo) {

            let targetUrl = `@Url.Action("IFrameBarcodeProcessEvent", "MesReport")?WoErpFullNo=${WoErpFullNo}&WoSeq=${WoSeq}&ProcessId=${ProcessId}&BarcodeNo=${BarcodeNo}&Iframe=T`;

            Swal.fire({
                html: `<iframe id="BarcodeProcessEvent@(itemName)" src="${targetUrl}" frameborder="0" scrolling="no"></iframe>`,
                showCloseButton: true,
                showConfirmButton: false,
                allowOutsideClick: false,
                allowEscapeKey: false,
                width: "100%",
                background: '#eef1f5'
            });
        }

        function GetQryProcessHistory@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let statusList = [];
            $.each($("input[name='cbxStatusQ@(itemName)']:checked"), function () {
                statusList.push($(this).val());
            });

            let targetUrl = "@Url.Action("GetQryProductionHistory", "MesReport")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "MoId": @MoId,
                "ProcessId": $("#cboProcessIdQ@(itemName)").val(),
                "ProdStatus": "@(Status)"
            };
            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? data.result.length : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr>
                                        <td class="tbody-customized">${_row}</td>
                                        <td class="tbody-customized"> </td>
                                        ${item.ProdStatus == 'P' ? `<td class="tbody-customized">${StatusName("BarcodeProcess.ProdStatus", item.ProdStatus)}</td>` : `<td class="tbody-customized" style="color: red;">${StatusName("BarcodeProcess.ProdStatus", item.ProdStatus)}</td>`}
                                        <td class="tbody-customized">${item.CauseName}</td>
                                        <td class="tbody-customized">${item.Quantity}</td>
                                        <td class="tbody-customized"><code>${item.UserNo}</code> ${item.UserName} </br></td>
                                        <td class="tbody-customized">${item.InputDate}</td>
                                        <td class="tbody-customized"> </td>
                                        <td class="tbody-customized">${item.MachineDesc}</td>
                                        <td class="text-center active-content"></td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="9" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

        }

        function GetProcessHistory@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let statusList = [];
            $.each($("input[name='cbxStatusQ@(itemName)']:checked"), function () {
                statusList.push($(this).val());
            });

            let targetUrl = "@Url.Action("GetProductionHistory", "MesReport")";
            let postData = {
                "MoProcessId": "@(MoProcessId)",
                "ProdStatus": "@(Status)"
            };
            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr>
                                        <td class="tbody-customized">${_row}</td>
                                        <td class="tbody-customized">
                                            ${item.BarcodeNo}<br>
                                            ${JudgeItemValue@(itemName)(`${item.ItemValue}`)}
                                        </td>
                                        ${item.ProdStatus == 'P' ? `<td class="tbody-customized">${StatusName("BarcodeProcess.ProdStatus", item.ProdStatus)}</td>` : `<td class="tbody-customized" style="color: red;">${StatusName("BarcodeProcess.ProdStatus", item.ProdStatus)}</td>`}
                                        <td class="tbody-customized">${item.CauseName}</td>
                                        <td class="tbody-customized">${item.StationQty}</td>
                                        <td class="tbody-customized">
                                            <code>${item.StartUserNo}</code> ${item.StartUserName} </br>
                                            <code>${item.FinishUserNo}</code> ${item.FinishUserName}
                                        </td>
                                        <td class="tbody-customized">
                                            <span class="txt-skyblue">開工 </span>${item.StartDate} </br>
                                            <span class="txt-skyblue">完工 </span>${item.FinishDate}
                                        </td>
                                        <td class="tbody-customized">${item.CycleTime} 秒</td>
                                        <td class="tbody-customized">${item.MachineDesc}</td>
                                        <td class="text-center active-content">
                                            <a class="active-link" href="javascript:PopBarcode@(itemName)('${item.BarcodeNo}');"><i class="far fa-barcode-read"></i></a>
                                            <a class="active-link" href="javascript:PopMeasurement@(itemName)('${item.WoErpFullNo}', '${item.WoSeq}', '${item.ProcessId}', '${item.BarcodeNo}');"><i class="fal fa-pencil-ruler"></i></a>
                                            <a class="active-link" href="javascript:PopBarcodeProcessEvent@(itemName)('${item.WoErpFullNo}', '${item.WoSeq}', '${item.ProcessId}', '${item.BarcodeNo}');"><i class="fas fa-eye"></i></a>
                                        </td>
                                      </tr>`;

                        function JudgeItemValue@(itemName)(itemValue) {
                            let innerHtml = '';
                            if (itemValue != "null" && itemValue != null) {
                                let itemValueJson = JSON.parse(itemValue);
                                let dateCode = "";
                                $.each(itemValueJson["data"], function (k, item2) {
                                    innerHtml += `<code>${item2.ItemValue}</code><br>`;

                                    if (k == 0) {
                                        dateCode = item2.DateCode;
                                    }

                                    if (k == itemValueJson["data"].length - 1) {
                                        innerHtml += `<code>${dateCode}</code><br>`;
                                    }
                                });
                            }

                            return innerHtml;
                        }
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="10" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

        }
</script>
)