@using Business_Manager.Helpers
@{
    string itemName = "IOTDataReport";
    string itemNameText = "IOT報表";
    string authority = ViewBag.authority;

    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
         .btn-secondary {
             color: #6c757d;
             background-color: #fff;
             border-color: #6c757d;
         }
    </style>
        )

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
    </div>
</div>



<div class="row list-data">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6">
                        <div class="row mb-2">
                            <div class="col-md-5">
                                <label for="process">類別</label>
                                <select id="categorySelect@(itemName)" class="form-control">
                                    <option value="">請選擇</option>
                                    <option value="airtight">氣密</option>
                                    <option value="dispensing">點膠</option>
                                    <option value="laser">雷雕</option>
                                    <option value="MTF">MTF</option>
                                    <option value="height">測高</option>
                                    <option value="molding">模造中厚</option>
                                    <option value="MTF_RawData#1">MTF-1</option>
                                    <option value="MTF_RawData#2">MTF-2</option>
                                    <option value="MTF_RawData#3">MTF-3</option>
                                    <option value="MTF_RawData#4">MTF-4</option>
                                    <option value="MTF_RawData#5">MTF-5</option>
                                    <option value="C90_Log">缺件檢查</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-5">
                                <label for="startDate">時間開始日</label>
                                <input type="date" class="form-control" id="txtStartDateQ@(itemName)">
                            </div>
                            <div class="col-md-5">
                                <label for="endDate">時間結束日</label>
                                <input type="date" class="form-control" id="txtFinishDateQ@(itemName)">
                            </div>
                            <div class="col-md-2 d-flex align-items-end">
                                <button class="btn btn-primary" onclick="Query@(itemName)()">搜尋</button>
                                <button class="btn btn-success" onclick="Excel@(itemName)()">匯出</button>

                            </div>
                        </div>
                    </div>
                </div>

                <fieldset>
                    <div class="row">
                        <div class="col-12">
                            <div class="table-custom">
                                <table class="table table-bordered tbl-data" id="tblDataAirtight@(itemName)">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th style="min-width: 150px;">機臺編號</th>
                                            <th style="min-width: 150px;">人員</th>
                                            <th style="min-width: 150px;">製令</th>
                                            <th style="min-width: 150px;">製程</th>
                                            <th style="min-width: 150px;">來料批號條碼</th>
                                            <th style="min-width: 150px;">來料QRCode</th>
                                            <th style="min-width: 150px;">產品作業順序</th>
                                            <th style="min-width: 150px;">來料批號開工時間</th>
                                            <th style="min-width: 150px;">來料批號完工時間</th>
                                            <th style="min-width: 150px;">Machine_CT</th>
                                            <th style="min-width: 150px;">單顆作業時間</th>
                                            <th style="min-width: 150px;">機故時間</th>
                                            <th style="min-width: 150px;">氣密機量測時間</th>
                                            <th style="min-width: 150px;">寫入SQL時間</th>
                                            <th style="min-width: 150px;">氣密壓力源 (Kpa)</th>
                                            <th style="min-width: 150px;">洩漏值(cm3/mn)</th>
                                            <th style="min-width: 150px;">OK/NG</th>
                                            <th style="min-width: 150px;">產品編號</th>
                                            <th style="min-width: 150px;">OK_TrayCode</th>
                                            <th style="min-width: 150px;">NG_TrayCode</th>
                                            <th style="min-width: 150px;">Model</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                                <table class="table table-bordered tbl-data" id="tblDataDispensing@(itemName)" style="display: none;">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th style="min-width: 150px;">機臺編號</th>
                                            <th style="min-width: 150px;">人員</th>
                                            <th style="min-width: 150px;">製令</th>
                                            <th style="min-width: 150px;">製程</th>
                                            <th style="min-width: 150px;">來料批號條碼</th>
                                            <th style="min-width: 150px;">來料QRCode</th>
                                            <th style="min-width: 150px;">產品作業順序</th>
                                            <th style="min-width: 150px;">來料批號開工時間</th>
                                            <th style="min-width: 150px;">來料批號完工時間</th>
                                            <th style="min-width: 150px;">Machine_CT</th>
                                            <th style="min-width: 150px;">單顆作業時間</th>
                                            <th style="min-width: 150px;">機故時間</th>
                                            <th style="min-width: 150px;">量測時間</th>
                                            <th style="min-width: 150px;">寫入SQL時間</th>
                                            <th style="min-width: 150px;">Spare_Col</th>
                                            <th style="min-width: 150px;">產品編號</th>
                                            <th style="min-width: 150px;">點膠量(g)</th>
                                            <th style="min-width: 150px;">膠材批號</th>
                                            <th style="min-width: 150px;">膠材限制使用時間</th>
                                            <th style="min-width: 150px;">UV固化(S)</th>
                                            <th style="min-width: 150px;">UV照度</th>
                                            <th style="min-width: 150px;">OK/NG</th>
                                            <th style="min-width: 150px;">OK_TrayCode</th>
                                            <th style="min-width: 150px;">NG_TrayCode</th>
                                            <th style="min-width: 150px;">Model</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                                <table class="table table-bordered tbl-data" id="tblDataLaser@(itemName)" style="display: none;">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th style="min-width: 150px;">機臺編號</th>
                                            <th style="min-width: 150px;">人員</th>
                                            <th style="min-width: 150px;">製令</th>
                                            <th style="min-width: 150px;">製程</th>
                                            <th style="min-width: 150px;">來料批號條碼</th>
                                            <th style="min-width: 150px;">來料QRCode</th>
                                            <th style="min-width: 150px;">產品作業順序</th>
                                            <th style="min-width: 150px;">來料批號開工時間</th>
                                            <th style="min-width: 150px;">來料批號完工時間</th>
                                            <th style="min-width: 150px;">Machine_CT</th>
                                            <th style="min-width: 150px;">單顆作業時間</th>
                                            <th style="min-width: 150px;">機故時間</th>
                                            <th style="min-width: 150px;">量測時間</th>
                                            <th style="min-width: 150px;">寫入SQL時間</th>
                                            <th style="min-width: 150px;">Spare_Col</th>
                                            <th style="min-width: 150px;">產品編號</th>
                                            <th style="min-width: 150px;">雷雕格式/大小</th>
                                            <th style="min-width: 150px;">等級分類</th>
                                            <th style="min-width: 150px;">OK/NG</th>
                                            <th style="min-width: 150px;">OK_TrayCode</th>
                                            <th style="min-width: 150px;">NG_TrayCode</th>
                                            <th style="min-width: 150px;">Model</th>

                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                                <table class="table table-bordered tbl-data" id="tblDataHeight@(itemName)" style="display: none;">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th style="min-width: 150px;">機臺編號</th>
                                            <th style="min-width: 150px;">人員</th>
                                            <th style="min-width: 150px;">製令</th>
                                            <th style="min-width: 150px;">製程</th>
                                            <th style="min-width: 150px;">來料批號條碼</th>
                                            <th style="min-width: 150px;">來料QRCode</th>
                                            <th style="min-width: 150px;">產品作業順序</th>
                                            <th style="min-width: 150px;">來料批號開工時間(同第一顆)</th>
                                            <th style="min-width: 150px;">來料批號完工時間(同最後一顆)</th>
                                            <th style="min-width: 150px;">Machine_CT</th>
                                            <th style="min-width: 150px;">單顆作業時間</th>
                                            <th style="min-width: 150px;">機故時間</th>
                                            <th style="min-width: 150px;">測高機量測時間</th>
                                            <th style="min-width: 150px;">寫入SQL時間</th>
                                            <th style="min-width: 150px;">Spare_Col</th>
                                            <th style="min-width: 150px;">產品編號</th>
                                            <th style="min-width: 150px;">MaxHight(mm)</th>
                                            <th style="min-width: 150px;">MinHight(mm)</th>
                                            <th style="min-width: 150px;">High(mm)</th>
                                            <th style="min-width: 150px;">OK/NG</th>
                                            <th style="min-width: 150px;">Model</th>
                                            <th style="min-width: 150px;">DelayTime</th>

                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                                <table class="table table-bordered tbl-data" id="tblDataMTF@(itemName)" style="display: none;">
                                    <thead>
                                        <tr>
                                            <th style="min-width: 150px;">MeasurementSN</th>
                                            <th style="min-width: 150px;">MachineSN</th>
                                            <th style="min-width: 150px;">Operater</th>
                                            <th style="min-width: 150px;">MfgOrder</th>
                                            <th style="min-width: 150px;">Process</th>
                                            <th style="min-width: 150px;">Sup_LotCode</th>
                                            <th style="min-width: 150px;">Sup_QRCode</th>
                                            <th style="min-width: 150px;">MTF_TraySN</th>
                                            <th style="min-width: 150px;">ProductSN</th>
                                            <th style="min-width: 150px;">Location_X</th>
                                            <th style="min-width: 150px;">Location_Y</th>
                                            <th style="min-width: 150px;">A_TrayCode</th>
                                            <th style="min-width: 150px;">B_TrayCode</th>
                                            <th style="min-width: 150px;">NG_TrayCode</th>
                                            <th style="min-width: 150px;">Class</th>
                                            <th style="min-width: 150px;">CheckFreq</th>
                                            <th style="min-width: 150px;">FBL</th>
                                            <th style="min-width: 150px;">EFL</th>
                                            <th style="min-width: 150px;">W_1S</th>
                                            <th style="min-width: 150px;">W_1T</th>
                                            <th style="min-width: 150px;">W_6S</th>
                                            <th style="min-width: 150px;">W_6T</th>
                                            <th style="min-width: 150px;">W_7S</th>
                                            <th style="min-width: 150px;">W_7T</th>
                                            <th style="min-width: 150px;">W_8S</th>
                                            <th style="min-width: 150px;">W_8T</th>
                                            <th style="min-width: 150px;">W_9S</th>
                                            <th style="min-width: 150px;">W_9T</th>
                                            <th style="min-width: 150px;">W_14S</th>
                                            <th style="min-width: 150px;">W_14T</th>
                                            <th style="min-width: 150px;">W_15S</th>
                                            <th style="min-width: 150px;">W_15T</th>
                                            <th style="min-width: 150px;">W_16S</th>
                                            <th style="min-width: 150px;">W_16T</th>
                                            <th style="min-width: 150px;">W_17S</th>
                                            <th style="min-width: 150px;">W_17T</th>
                                            <th style="min-width: 150px;">W1S_Peak</th>
                                            <th style="min-width: 150px;">W1T_Peak</th>
                                            <th style="min-width: 150px;">W6S_Peak</th>
                                            <th style="min-width: 150px;">W6T_Peak</th>
                                            <th style="min-width: 150px;">W7S_Peak</th>
                                            <th style="min-width: 150px;">W7T_Peak</th>
                                            <th style="min-width: 150px;">W8S_Peak</th>
                                            <th style="min-width: 150px;">W8T_Peak</th>
                                            <th style="min-width: 150px;">W9S_Peak</th>
                                            <th style="min-width: 150px;">W9T_Peak</th>
                                            <th style="min-width: 150px;">W14S_Peak</th>
                                            <th style="min-width: 150px;">W14T_Peak</th>
                                            <th style="min-width: 150px;">W15S_Peak</th>
                                            <th style="min-width: 150px;">W15T_Peak</th>
                                            <th style="min-width: 150px;">W16S_Peak</th>
                                            <th style="min-width: 150px;">W16T_Peak</th>
                                            <th style="min-width: 150px;">W17S_Peak</th>
                                            <th style="min-width: 150px;">W17T_Peak</th>
                                            <th style="min-width: 150px;">MTF_DateTime</th>
                                            <th style="min-width: 150px;">RecordTime</th>
                                            <th style="min-width: 150px;">Spare_Col</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                                <table class="table table-bordered tbl-data" id="tblDataMolding@(itemName)" style="display: none;">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th style="min-width: 150px;">當日顆數(量測序號)</th>
                                            <th style="min-width: 150px;">穴號</th>
                                            <th style="min-width: 150px;">部番</th>
                                            <th style="min-width: 150px;">厚度值</th>
                                            <th style="min-width: 150px;">厚度檢測結果</th>
                                            <th style="min-width: 150px;">外徑值</th>
                                            <th style="min-width: 150px;">外徑檢測結果</th>
                                            <th style="min-width: 150px;">量測人員</th>
                                            <th style="min-width: 150px;">紀錄時間</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                                <table class="table table-bordered tbl-data" id="tblMTF_RawData@(itemName)" style="display: none;">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th style="min-width: 150px;">MeasurementSN</th>
                                            <th style="min-width: 150px;">MachineSN</th>
                                            <th style="min-width: 150px;">Location_X</th>
                                            <th style="min-width: 150px;">Location_Y</th>
                                            <th style="min-width: 150px;">Class</th>
                                            <th style="min-width: 150px;">CheckFreq</th>
                                            <th style="min-width: 150px;">FBL</th>
                                            <th style="min-width: 150px;">DOF_Index</th>
                                            <th style="min-width: 150px;">DOF_minus</th>
                                            <th style="min-width: 150px;">DOF_plus</th>
                                            <th style="min-width: 150px;">DOF_T</th>
                                            <th style="min-width: 150px;">GDOF_Index</th>
                                            <th style="min-width: 150px;">GDOF_minus</th>
                                            <th style="min-width: 150px;">GDOF_plus</th>
                                            <th style="min-width: 150px;">GDOF_T</th>
                                            <th style="min-width: 150px;">EFL</th>
                                            <th style="min-width: 150px;">W_1S</th>
                                            <th style="min-width: 150px;">W_1T</th>
                                            <th style="min-width: 150px;">W_2S</th>
                                            <th style="min-width: 150px;">W_2T</th>
                                            <th style="min-width: 150px;">W_3S</th>
                                            <th style="min-width: 150px;">W_3T</th>
                                            <th style="min-width: 150px;">W_4S</th>
                                            <th style="min-width: 150px;">W_4T</th>
                                            <th style="min-width: 150px;">W_5S</th>
                                            <th style="min-width: 150px;">W_5T</th>
                                            <th style="min-width: 150px;">W_6S</th>
                                            <th style="min-width: 150px;">W_6T</th>
                                            <th style="min-width: 150px;">W_7S</th>
                                            <th style="min-width: 150px;">W_7T</th>
                                            <th style="min-width: 150px;">W_8S</th>
                                            <th style="min-width: 150px;">W_8T</th>
                                            <th style="min-width: 150px;">W_9S</th>
                                            <th style="min-width: 150px;">W_9T</th>
                                            <th style="min-width: 150px;">W_10S</th>
                                            <th style="min-width: 150px;">W_10T</th>
                                            <th style="min-width: 150px;">W_11S</th>
                                            <th style="min-width: 150px;">W_11T</th>
                                            <th style="min-width: 150px;">W_12S</th>
                                            <th style="min-width: 150px;">W_12T</th>
                                            <th style="min-width: 150px;">W_13S</th>
                                            <th style="min-width: 150px;">W_13T</th>
                                            <th style="min-width: 150px;">W_14S</th>
                                            <th style="min-width: 150px;">W_14T</th>
                                            <th style="min-width: 150px;">W_15S</th>
                                            <th style="min-width: 150px;">W_15T</th>
                                            <th style="min-width: 150px;">W_16S</th>
                                            <th style="min-width: 150px;">W_16T</th>
                                            <th style="min-width: 150px;">W_17S</th>
                                            <th style="min-width: 150px;">W_17T</th>
                                            <th style="min-width: 150px;">MTF_DateTime</th>
                                            <th style="min-width: 150px;">RecordTime</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                                <table class="table table-bordered tbl-data" id="tblDataC90@(itemName)" style="display: none;">
                                    <thead>
                                        <tr>
                                            <th style="min-width: 150px;">ID</th>
                                            <th style="min-width: 150px;">日期時間</th>
                                            <th style="min-width: 150px;">流程卡號</th>
                                            <th style="min-width: 150px;">QR_Code</th>
                                            <th style="min-width: 150px;">前後蓋</th>
                                            <th style="min-width: 150px;">螺絲</th>
                                            <th style="min-width: 150px;">QR_Code版本</th>
                                            <th style="min-width: 150px;">QR_Code週別</th>
                                            <th style="min-width: 150px;">QR_Code重複</th>
                                            <th style="min-width: 150px;">Dcut_Result</th>
                                            <th style="min-width: 150px;">結果</th>
                                            <th style="min-width: 150px;">RecordTime</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>


                            </div>

                            <div class="pagination" id="page@(itemName)"></div>

                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
    let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";
        var selectedCategory@(itemName) = "";
        
        $(document).ready(function () {
            $("#categorySelect@(itemName)").change(function () {
                selectedCategory@(itemName) = $(this).val();
                $(".tbl-data").hide();

                switch (selectedCategory@(itemName)) {
                    case "airtight":
                        $("#tblDataAirtight@(itemName)").show();
                        break;
                    case "dispensing":
                        $("#tblDataDispensing@(itemName)").show();
                        break;
                    case "laser":
                        $("#tblDataLaser@(itemName)").show();
                        break;
                    case "height":
                        $("#tblDataHeight@(itemName)").show();
                        break;
                    case "MTF":
                        $("#tblDataMTF@(itemName)").show();
                        break;
                    case "molding":
                        $("#tblDataMolding@(itemName)").show();
                        break;
                    case "MTF_RawData#1":
                    case "MTF_RawData#2":
                    case "MTF_RawData#3":
                    case "MTF_RawData#4":
                    case "MTF_RawData#5":
                        $("#tblMTF_RawData@(itemName)").show();
                        break;
                    case "C90_Log":
                        $("#tblDataC90@(itemName)").show();
                        break;

                }
            });
        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            if (selectedCategory@(itemName) == "C90_Log") {
                InitDataC90@(itemName)(objPage@(itemName));
            } else {
                InitData@(itemName)(objPage@(itemName));
            }
        }

        function InitData@(itemName)(objPage) {

            let innerHtml = '';
            let pageCount = 0;
            let targetUrl = "@Url.Action("GetIOTData", "MesReport")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "MachineType": $("#categorySelect@(itemName)").val(),
                "StartDate": $("#txtStartDateQ@(itemName)").val(),
                "FinishDate": $("#txtFinishDateQ@(itemName)").val()
            };

            let data = DataAccess.Get(targetUrl, postData, false);
            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;
                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";
                        switch (selectedCategory@(itemName)) {
                            case "airtight":
                                innerHtml += `<tr>
                                        <td><span class="stack-title">#</span>${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MachineSN}">${item.MachineSN}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Operater}" >${item.Operater}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MfgOrder}" >${item.MfgOrder}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Process}" >${item.Process}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Sup_LotCode}">${item.Sup_LotCode}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Sup_QRCode}">${item.Sup_QRCode}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.StepOrder}" >${item.StepOrder}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Batch_Start_Time}" >${item.Batch_Start_Time}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Batch_End_Time}" >${item.Batch_End_Time}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Machine_CT}" >${item.Machine_CT}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Inspection_CT}" >${item.Inspection_CT}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Alarm_Duration}" >${item.Alarm_Duration}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Inspection_StartTime}" >${item.Inspection_StartTime}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.RecordTime}" >${item.RecordTime}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Pressure_kpa}" >${item.Pressure_kpa}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Leak_Cm3}" >${item.Leak_Cm3}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Result}" >${item.Result}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Barcode}" >${item.Barcode}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.OK_TrayCode}" >${item.OK_TrayCode}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.NG_TrayCode}" >${item.NG_TrayCode}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Model}" >${item.Model}</td>

                                       </tr>`;
                                break;
                            case "dispensing":
                                innerHtml += `<tr>
                                        <td><span class="stack-title">#</span>${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MachineSN}" >${item.MachineSN}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Operater}" >${item.Operater}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MfgOrder}" >${item.MfgOrder}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Process}" >${item.Process}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Sup_LotCode}" >${item.Sup_LotCode}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Sup_QRCode}" >${item.Sup_QRCode}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.StepOrder}" >${item.StepOrder}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Batch_Start_Time}" >${item.Batch_Start_Time}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Batch_End_Time}" >${item.Batch_End_Time}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Machine_CT}" >${item.Machine_CT}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Inspection_CT}" >${item.Inspection_CT}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Alarm_Duration}" >${item.Alarm_Duration}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Inspection_StartTime}" >${item.Inspection_StartTime}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.RecordTime}" >${item.RecordTime}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.SpareCol}" >${item.SpareCol}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Barcode}" >${item.Barcode}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Glue_g}" >${item.Glue_g}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Glue_LotCode}">${item.Glue_LotCode}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Glue_ExpirationTime}" >${item.Glue_ExpirationTime}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.UV_s}" >${item.UV_s}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.UV_Illuminance}">${item.UV_Illuminance}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Result}" >${item.Result}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.OK_TrayCode}" >${item.OK_TrayCode}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.NG_TrayCode}" >${item.NG_TrayCode}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Model}" >${item.Model}</td>
                                       </tr>`;
                                break;
                            case "laser":
                                innerHtml += `<tr>
                                        <td><span class="stack-title">#</span>${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DepartmentName}" >${item.MachineSN}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DepartmentName}" >${item.Operater}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DepartmentName}" >${item.MfgOrder}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DepartmentName}" >${item.Process}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DepartmentName}" >${item.Sup_LotCode}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DepartmentName}" >${item.Sup_QRCode}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DepartmentName}" >${item.StepOrder}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DepartmentName}" >${item.Batch_Start_Time}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DepartmentName}" >${item.Batch_End_Time}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DepartmentName}" >${item.Machine_CT}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DepartmentName}" >${item.Inspection_CT}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DepartmentName}" >${item.Alarm_Duration}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DepartmentName}" >${item.Inspection_StartTime}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DepartmentName}" >${item.RecordTime}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DepartmentName}" >${item.SpareCol}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DepartmentName}" >${item.Barcode}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DepartmentName}" >${item.Laser_Size}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DepartmentName}" >${item.Laser_Class}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DepartmentName}" >${item.Result}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DepartmentName}" >${item.OK_TrayCode}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DepartmentName}" >${item.NG_TrayCode}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DepartmentName}" >${item.Model}</td>
                                       </tr>`;
                                break;
                            case "height":
                                innerHtml += `<tr>
                                        <td><span class="stack-title">#</span>${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DepartmentName}" >${item.MachineSN}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DepartmentName}" >${item.Operater}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DepartmentName}" >${item.MfgOrder}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DepartmentName}" >${item.Process}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DepartmentName}" >${item.Sup_LotCode}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DepartmentName}" >${item.Sup_QRCode}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DepartmentName}" >${item.StepOrder}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DepartmentName}" >${item.Batch_Start_Time}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DepartmentName}" >${item.Batch_End_Time}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DepartmentName}" >${item.Machine_CT}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DepartmentName}" >${item.Inspection_CT}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DepartmentName}" >${item.Alarm_Duration}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DepartmentName}" >${item.Inspection_StartTime}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DepartmentName}" >${item.RecordTime}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DepartmentName}" >${item.SpareCol}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DepartmentName}" >${item.Barcode}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DepartmentName}" >${item.L1_Max_Value}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DepartmentName}" >${item.L1_Min_Value}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DepartmentName}" >${item.Measurement_Value}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DepartmentName}" >${item.Result}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DepartmentName}" >${item.Model}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DepartmentName}" >${item.DelayTime}</td>
                                       </tr>`;
                                break;
                            case "MTF":
                                innerHtml += `<tr>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MeasurementSN}" >${item.MeasurementSN}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MachineSN}" >${item.MachineSN}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Operater}" >${item.Operater}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MfgOrder}" >${item.MfgOrder}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Process}" >${item.Process}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Sup_LotCode}" >${item.Sup_LotCode}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Sup_QRCode}" >${item.Sup_QRCode}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MTF_TraySN}" >${item.MTF_TraySN}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ProductSN}" >${item.ProductSN}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Location_X}" >${item.Location_X}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Location_Y}" >${item.Location_Y}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.A_TrayCode}" >${item.A_TrayCode}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.B_TrayCode}" >${item.B_TrayCode}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.NG_TrayCode}" >${item.NG_TrayCode}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Class}" >${item.Class}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.CheckFreq}" >${item.CheckFreq}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.FBL}" >${item.FBL}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.EFL}" >${item.EFL}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W_1S}" >${item.W_1S}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W_1T}" >${item.W_1T}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W_6S}" >${item.W_6S}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W_6T}" >${item.W_6T}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W_7S}" >${item.W_7S}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W_7T}" >${item.W_7T}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W_8S}" >${item.W_8S}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W_8T}" >${item.W_8T}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W_9S}" >${item.W_9S}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W_9T}" >${item.W_9T}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W_14S}" >${item.W_14S}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W_14T}" >${item.W_14T}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W_15S}" >${item.W_15S}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W_15T}" >${item.W_15T}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W_16S}" >${item.W_16S}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W_16T}" >${item.W_16T}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W_17S}" >${item.W_17S}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W_17T}" >${item.W_17T}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W1S_Peak}" >${item.W1S_Peak}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W1T_Peak}" >${item.W1T_Peak}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W6S_Peak}" >${item.W6S_Peak}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W6T_Peak}" >${item.W6T_Peak}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W7S_Peak}" >${item.W7S_Peak}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W7T_Peak}" >${item.W7T_Peak}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W8S_Peak}" >${item.W8S_Peak}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W8T_Peak}" >${item.W8T_Peak}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W9S_Peak}" >${item.W9S_Peak}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W9T_Peak}" >${item.W9T_Peak}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W14S_Peak}" >${item.W14S_Peak}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W14T_Peak}" >${item.W14T_Peak}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W15S_Peak}" >${item.W15S_Peak}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W15T_Peak}" >${item.W15T_Peak}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W16S_Peak}" >${item.W16S_Peak}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W16T_Peak}" >${item.W16T_Peak}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W17S_Peak}" >${item.W17S_Peak}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W17T_Peak}" >${item.W17T_Peak}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Date_Time}" >${item.Date_Time}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.RecordTime}" >${item.RecordTime}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Spare_Col}" >${item.Spare_Col}</td>
                                       </tr>`;
                                break;
                            case "molding":
                                innerHtml += `<tr>
                                        <td><span class="stack-title">#</span>${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Measurement_SN}" >${item.Measurement_SN}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.HoleSN}" >${item.HoleSN}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Model}" >${item.Model}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Thickness_Value}" >${item.Thickness_Value}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.THK_Result}" >${item.THK_Result}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.OutsideDiameter_Value}" >${item.OutsideDiameter_Value}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.OD_Result}" >${item.OD_Result}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Operator}" >${item.Operator}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.RecordTime}" >${item.RecordTime}</td>
                                       </tr>`;
                                break;
                            case "MTF_RawData#1":
                            case "MTF_RawData#2":
                            case "MTF_RawData#3":
                            case "MTF_RawData#4":
                            case "MTF_RawData#5":
                                innerHtml += `<tr>
                                        <td><span class="stack-title">#</span>${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MeasurementSN}" >${item.MeasurementSN}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MachineSN}" >${item.MachineSN}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Location_X}" >${item.Location_X}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Location_Y}" >${item.Location_Y}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Class}" >${item.Class}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.CheckFreq}" >${item.CheckFreq}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.FBL}" >${item.FBL}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DOF_Index}" >${item.DOF_Index}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DOF_minus}" >${item.DOF_minus}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DOF_plus}" >${item.DOF_plus}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DOF_T}" >${item.DOF_T}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.GDOF_Index}" >${item.GDOF_Index}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.GDOF_minus}" >${item.GDOF_minus}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.GDOF_plus}" >${item.GDOF_plus}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.GDOF_T}" >${item.GDOF_T}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.EFL}" >${item.EFL}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W_1S}" >${item.W_1S}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W_1T}" >${item.W_1T}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W_2S}" >${item.W_2S}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W_2T}" >${item.W_2T}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W_3S}" >${item.W_3S}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W_3T}" >${item.W_3T}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W_4S}" >${item.W_4S}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W_4T}" >${item.W_4T}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W_5S}" >${item.W_5S}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W_5T}" >${item.W_5T}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W_6S}" >${item.W_6S}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W_6T}" >${item.W_6T}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W_7S}" >${item.W_7S}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W_7T}" >${item.W_7T}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W_8S}" >${item.W_8S}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W_8T}" >${item.W_8T}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W_9S}" >${item.W_9S}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W_9T}" >${item.W_9T}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W_10S}" >${item.W_10S}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W_10T}" >${item.W_10T}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W_11S}" >${item.W_11S}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W_11T}" >${item.W_11T}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W_12S}" >${item.W_12S}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W_12T}" >${item.W_12T}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W_13S}" >${item.W_13S}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W_13T}" >${item.W_13T}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W_14S}" >${item.W_14S}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W_14T}" >${item.W_14T}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W_15S}" >${item.W_15S}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W_15T}" >${item.W_15T}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W_16S}" >${item.W_16S}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W_16T}" >${item.W_16T}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W_17S}" >${item.W_17S}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.W_17T}" >${item.W_17T}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MTF_DateTime}" >${item.MTF_DateTime}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.RecordTime}" >${item.RecordTime}</td>
                                       </tr>`;
                                break;
                        }
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="100" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }

            } else {
                alert(data.msg, "alert", 0);
            }

            switch (selectedCategory@(itemName)) {
                case "airtight":
                    $(".list-data #tblDataAirtight@(itemName) tbody").html(innerHtml);
                    break;
                case "dispensing":
                    $(".list-data #tblDataDispensing@(itemName) tbody").html(innerHtml);
                    break;
                case "laser":
                    $(".list-data #tblDataLaser@(itemName) tbody").html(innerHtml);
                    break;
                case "height":
                    $(".list-data #tblDataHeight@(itemName) tbody").html(innerHtml);
                    break;
                case "MTF":
                    setTimeout(function () {
                        $(".list-data #tblDataMTF@(itemName) tbody").html(innerHtml);
                    }, 100);
                    $(".list-data #tblDataMTF@(itemName)").trigger('contentChanged');
                    break;
                case "molding":
                    $(".list-data #tblDataMolding@(itemName) tbody").html(innerHtml);
                    break;
                case "MTF_RawData#1":
                case "MTF_RawData#2":
                case "MTF_RawData#3":
                case "MTF_RawData#4":
                case "MTF_RawData#5":
                    $(".list-data #tblMTF_RawData@(itemName) tbody").html(innerHtml);
                    break;
            }
        
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));
        
        }

        function InitDataC90@(itemName)(objPage) {

            let innerHtml = '';
            let pageCount = 0;
            let targetUrl = "@Url.Action("GetIOTData2", "MesReport")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "MachineType": $("#categorySelect@(itemName)").val(),
                "StartDate": $("#txtStartDateQ@(itemName)").val(),
                "FinishDate": $("#txtFinishDateQ@(itemName)").val()
            };

            let data = DataAccess.Get(targetUrl, postData, false);
            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;
                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";
                        innerHtml += `<tr>
                                        <td><span class="stack-title">#</span>${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.日期時間}">${item.日期時間}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.流程卡號}">${item.流程卡號}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.QR_Code}">${item.QR_Code}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.前後蓋}">${item.前後蓋}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.螺絲}">${item.螺絲}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.QR_Code版本}">${item.QR_Code版本}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.QR_Code週別}">${item.QR_Code週別}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.QR_Code重複}">${item.QR_Code重複}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Dcut_Result}">${item.Dcut_Result}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.結果}">${item.結果}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.RecordTime}">${item.RecordTime}</td>
                                       </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="100" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }

            } else {
                alert(data.msg, "alert", 0);
            }


            $(".list-data #tblDataC90@(itemName) tbody").html(innerHtml);

            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitDataC90@(itemName));
        
        }

        function Excel@(itemName)() {
            let targetUrl = "";
            switch (selectedCategory@(itemName)) {
                case "airtight":
                    targetUrl = "@Url.Action("GetIOTDataExcel", "MesReport")"
                    break;
                case "dispensing":
                    targetUrl = "@Url.Action("GetIOTDataExcel2", "MesReport")"
                    break;
                case "laser":
                    targetUrl = "@Url.Action("GetIOTDataExcel3", "MesReport")"
                    break;
                case "height":
                    targetUrl = "@Url.Action("GetIOTDataExcel4", "MesReport")"
                    break;
                case "MTF":
                    targetUrl = "@Url.Action("GetIOTDataExcel5", "MesReport")"

                    break;
                case "molding":
                    targetUrl = "@Url.Action("GetIOTDataExcel6", "MesReport")"
                    break;
                case "MTF_RawData#1":
                case "MTF_RawData#2":
                case "MTF_RawData#3":
                case "MTF_RawData#4":
                case "MTF_RawData#5":
                    targetUrl = "@Url.Action("GetIOTDataExcel7", "MesReport")"
                    break;
                case "C90_Log":
                    targetUrl = "@Url.Action("GetIOTDataExcel8", "MesReport")"

                    break;

            }

            let postData = {
                "OrderBy": "",
                "PageIndex":  -1,
                "PageSize": -1,
                "MachineType": $("#categorySelect@(itemName)").val(),
                "StartDate": $("#txtStartDateQ@(itemName)").val(),
                "FinishDate": $("#txtFinishDateQ@(itemName)").val()
            };

            let data = DataAccess.EditContinued(targetUrl, postData, false);

            if (data) {
                alert("匯出成功!!!!", "success")
                FileAccess.AjaxDownload(targetUrl, postData, false);
            }
        }


    </script>
        )
