
@using Business_Manager.Helpers
@{
    string itemName = "LetteringChangeData";
    string itemNameText = "模仁刻號置換紀錄表";
    string authority = ViewBag.authority;
    ViewBag.Title = "模仁刻號置換紀錄表";
}

@Html.Resource("css",
    @<style>

         .help-block dt {
             width: 150px;
         }

        .btn-box {
            padding: 15px;
            max-width: 500px;
            position: relative;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }

             .btn-box a {
                 padding: 15px;
                 min-width: 80px;
             }
    </style>
)

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

<!--搜尋-->
<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">ERP製令單號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtWoErpFullNoQ@(itemName)" name="txtWoErpFullNoQ@(itemName)" placeholder="請輸入ERP製令單號">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">部番</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMtlItemNameQ@(itemName)" name="txtMtlItemNameQ@(itemName)" placeholder="請輸入部番">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">模仁條碼</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtBarcodeNoQ@(itemName)" name="txtBarcodeNoQ@(itemName)" placeholder="請輸入模仁條碼">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">刻號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtOriItemValueQ@(itemName)" name="txtOriItemValueQ@(itemName)" placeholder="請輸入刻號">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">狀態</label>
                            <div class="col-12">
                                <select class="form-control" id="cboStatusQ@(itemName)" name="cboStatusQ@(itemName)"
                                        data-msg-required="請選擇狀態" data-rule-required="true"></select>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);"><i class="fal fa-search"></i>搜尋</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 50px;">#</th>
                                        <th scope="col" style="min-width: 175px;">製令</th>
                                        <th scope="col" style="min-width: 250px;">品號</th>
                                        <th scope="col" style="min-width: 100px;">模仁條碼</th>
                                        <th scope="col" style="min-width: 250px;">原始刻號</th>
                                        <th scope="col" style="min-width: 250px;">目前刻號</th>
                                        <th scope="col" style="min-width: 150px;">備註</th>
                                        <th scope="col" style="min-width: 150px;">品保置換時間</th>
                                        <th scope="col" style="min-width: 125px;">品保置換人員</th>
                                        <th scope="col" style="min-width: 80px;">狀態</th>
                                        <th scope="col" style="min-width: 150px;">製造開工時間</th>
                                        <th scope="col" style="min-width: 125px;">製造開工人員</th>
                                        <th scope="col" style="min-width: 150px;">製造完成時間</th>
                                        <th scope="col" style="min-width: 125px;">製造完成人員</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };

        $(document).ready(function () {
            ComboBoxs.Default("#cboStatusQ@(itemName)", "@Url.Action("GetStatus", "BasicInformation")", { "StatusSchema": "BpalDetail.Status" }, "", "NA", "", "StatusName", "StatusNo");    //所屬餐廳

            Query@(itemName)();
        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));
            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;
            let targetUrl = "@Url.Action("GetLetteringChangeData", "MesReport")";

            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "WoErpFullNo": $("#txtWoErpFullNoQ@(itemName)").val(),
                "MtlItemName": $("#txtMtlItemNameQ@(itemName)").val(),
                "BarcodeNo": $("#txtBarcodeNoQ@(itemName)").val(),
                "OriItemValue": $("#txtOriItemValueQ@(itemName)").val(),
                "Status": $("#cboStatusQ@(itemName)").val()
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;
                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);
                    $.each(data.result, function (i, item) {

                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        //依據狀態顯示不同顏色
                        let statusBackgroundColor = '';

                        if (item.StatusName == '未置換') {
                            statusBackgroundColor = '#FFCCCC'; // 'N' Pink
                        } else if (item.StatusName == '置換中') {
                            statusBackgroundColor = '#FFFFCC'; // 'A' Yellow
                        } else if (item.StatusName == '已置換') {
                            statusBackgroundColor = '#CCFFFF'; // 'Y' BabyBlue
                        }

                        innerHtml += `<tr>
                                        <td>${_row}</td>
                                        <td>${item.WoErpFullNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MtlItemName}" style="max-width: 250px;">${item.MtlItemName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.BarcodeNo}" style="max-width: 175px;">${item.BarcodeNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.NewItemValue}" style="max-width: 300px;">${item.NewItemValue}</td> @*NG條碼之原刻號*@
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.OriItemValue}" style="max-width: 300px;">${item.OriItemValue}</td> @*NG條碼已被置換刻號*@
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Remark}" style="max-width: 200px;">${item.Remark}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.QaReplacementDate}" style="max-width: 175px;">${item.QaReplacementDate}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.QaReplacementUser}" style="max-width: 150px;">${item.QaReplacementUser}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.StatusName}" style="max-width: 175px; background-color:${statusBackgroundColor};">${item.StatusName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.PeReplacementDate}" style="max-width: 175px;">${item.PeReplacementDate}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.PeReplacementUser}" style="max-width: 150px;">${item.PeReplacementUser}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.PeFinishDate}" style="max-width: 175px;">${item.PeFinishDate}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.PeFinishUser}" style="max-width: 150px;">${item.PeFinishUser}</td>
                                      </tr>`;
                    });
                }
                else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="14" style="background-color: #fff3cd;">
                                        <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            }
            else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));
        }

        function StatusClass(status) {
            // Return the appropriate CSS class based on the status
            switch (status) {
                case 'N':
                    return '#FFCCCC';
                case 'A':
                    return '#FFFFCC';
                case 'Y':
                    return '#CCFFFF';
                default:
                    return '#FFCCCC';
            }
        }

    </script>
)