@using Business_Manager.Helpers
@{
    string itemName = "MachineOperationDashboard";
    string itemNameText = "機台稼動在製報表";
    string authority = ViewBag.authority;
    ViewBag.Title = itemNameText;
}
@Html.Resource("css",
    @<style>
        .table-container {
            display: table;
            width: 100%;
            border-collapse: collapse; 
            table-layout: fixed;
        }

        .table-row {
            display: table-row;
        }

        .table-header {
            font-weight: bold;
            background-color: #eaeaea;
        }


        .cell {
            display: table-cell;
            border: 1px solid #ccc;
            padding: 8px;
            text-align: center;
            vertical-align: middle;
            /* 若要顯示省略號 */
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        /* 如果要每一欄的寬度明確對齊，可以在 .cell 或 nth-child 裡設定 width */
        .table-header > .cell:nth-child(1),
        .table-row > .cell:nth-child(1) {
            width: 30%;
        }

        .table-header > .cell:nth-child(2),
        .table-row > .cell:nth-child(2) {
            width: 20%;
        }

        .table-header > .cell:nth-child(3),
        .table-row > .cell:nth-child(3) {
            width: 20%;
        }

        .table-header > .cell:nth-child(4),
        .table-row > .cell:nth-child(4) {
            width: 30%;
        }
    </style>
)
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="~/Content/mes_machine.min.css" rel="stylesheet" />

<link href="~/Content/owl.carousel.2/2.3.4/owl.carousel.min.css" rel="stylesheet" />
<link href="~/Content/owl.carousel.2/2.3.4/owl.theme.default.min.css" rel="stylesheet" />
@*<script src="https://code.jquery.com/jquery-3.5.1.js"></script>*@
<script src="~/Scripts/owl.carousel.2/2.3.4/owl.carousel.min.js"></script>
<script src="~/assets/js/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<div class="machine_content" id="">
    <div class="header">
        <div class="header-title">
            <div class="floating-form">
                <div class="floating-label">
                    <select id="cboShopIdQ@(itemName)" class="floating-select" onclick="this.setAttribute('value', this.value);" value=""></select>
                    <span class="highlight"></span>
                    <label>車間</label>
                </div>
            </div>
            <div class="floating-form">
                <div class="floating-label">
                    <input type="text" id="txtLoopTimeout@(itemName)" class="floating-select" value="10" />
                    <span class="highlight"></span>
                    <label>自動輪播時間(分鐘)</label>
                </div>
            </div>
        </div>
    </div>

    <div id="divData@(itemName)">
        <div class="owl-carousel owl-theme"></div>
    </div>

    <!-- 詳細資料 -->
    <div class="modal fade" id="modalDetailInfo@(itemName)" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" style="display: flex; flex-direction: column;" id="exampleModalLongTitle">
                        機台稼動詳細資料
                        <code>目前車間:<span id="desShopName@(itemName)"></span></code>
                    </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="row" style="padding: 1rem;">
                    <div class="col-3">
                        <label for="exampleDataList" class="form-label">機台</label>
                        <select id="cboMachineIdQ@(itemName)" class="form-control"></select>
                    </div>

                    <div class="col-3">
                        <label for="exampleDataList2" class="form-label">表單狀態</label>
                        <select class="form-control" id="cboFindType@(itemName)">
                            <option value="Start">開工中</option>
                            <option value="Finish">已完工</option>
                        </select>
                    </div>
                    <div class="col-3">
                        <!-- Changed from col-12 col-form-label to form-label -->
                        <label class="form-label">異動日期</label>
                        <input type="text" class="form-control" id="txtStartDateQ@(itemName)" name="txtStartDateQ@(itemName)"
                               data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                               readonly />
                    </div>
                    <div class="col-3">
                        <label class="form-label">&nbsp;</label> <!-- Added empty label for alignment -->
                        <input type="text" class="form-control" id="txtEndDateQ@(itemName)" name="txtEndDateQ@(itemName)"
                               data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                               readonly />
                    </div>
                </div>
                <div class="modal-body" style="overflow: scroll; max-height: 65vh;">
                    <div id="detailData@(itemName)" class="table">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    let objPage@(itemName) = {
        "pageIndex": 0,
        "pageSize": 10
    };

    let datas@(itemName);

    $(document).ready(function () {
        ComboBoxs.Default("#cboShopIdQ@(itemName)", "@Url.Action("GetWorkShop", "MesReport")", { "Status": "A" }, "", "NA", "", "ShopName", "ShopId");

        $("#cboShopIdQ@(itemName)").change(function (i, item) {
            let startDate = "", endDate=""

            GetMachineEffectivenessList@(itemName)(startDate, endDate);
            InitData@(itemName)();
        });

        $("#txtLoopTimeout@(itemName)").change(function () {
            InitData@(itemName)();
        });

        $("#cboMachineIdQ@(itemName)").select2({
            dropdownAutoWidth: true,
            width: "100%"
        });
    });

    function GetMachineEffectivenessList@(itemName)(startDate, endDate) {
        // 建立快取金鑰
        const cacheKey = `${$("#cboShopIdQ@(itemName)").val()}_${startDate}_${endDate}`;

        // 檢查快取中是否已有資料
        if (window.dataCache && window.dataCache[cacheKey]) {
            datas@(itemName) = window.dataCache[cacheKey];
            return;
        }

        let targetUrl = "@Url.Action("GetMachineEffectivenessList", "MesReport")";
        let postData = {
            "ShopId": $("#cboShopIdQ@(itemName)").val(),
            "StartDate": startDate,
            "EndDate": endDate
        };
        let data = DataAccess.Get(targetUrl, postData, false);

        if (data.status == "success") {
            if (data.result.length > 0) {
                // 將資料存入快取
                if (!window.dataCache) window.dataCache = {};
                window.dataCache[cacheKey] = data.result;
                datas@(itemName) = data.result;
            }
            else {
                alert("此車間查無任何機台資訊!!");
            }
        }
        else {
            alert(data.msg);
        }
    }

    function InitData@(itemName)() {
        let innerHtml = '';
        let targetUrl = "@Url.Action("GetWorkShopMachine", "MesReport")";
        let postData = {
            "ShopId": $("#cboShopIdQ@(itemName)").val(),
            "Status": "A"
        };
        let data = DataAccess.Get(targetUrl, postData, false);

        if (data.status == "success") {
            if (data.result.length > 0) {
                let count = 1;
                innerHtml += `<div class="owl-carousel owl-theme">`;
                $.each(data.result, function (i, item) {
                    if (i == 0 || count > 2) {
                        innerHtml += `<div class="item">
                                        <div class="data-column">`;
                    }

                    innerHtml += `<div class="article-block">
                                    <div class="title">
                                        <div class="name">${item.MachineDesc}</div>
                                        <div class="display">
                                         <div class="progress-block-bar horizontal">
                                            <div class="progress-track">
                                                <div class="progress-fill" style="width:80%;">
                                                    <span>80%</span>
                                                </div>
                                            </div>
                                          </div>
                                            ${GetDisplayStatus@(itemName)(`${item.MachineId}`)}
                                            <span class="status">稼動率尚未開發</span>
                                        </div>
                                    </div>
                                    <div class="article">
                                        <div class="detail-block">
                                            <div class="detail-title">
                                                已完成
                                                <a href="javascript: PopModalDetailInfo@(itemName)('${item.MachineId}', 'Finish', '${item.ShopId}', '${item.ShopName}')">看更多</a>
                                            </div>
                                            <div class="detail-content">
                                                <div class="table">
                                                    <div class="table-row table-header">
                                                        <div class="cell" style="max-width:150px;">
                                                            部番
                                                        </div>
                                                        <div class="cell">
                                                            製程
                                                        </div>
                                                        <div class="cell">
                                                            操作人員
                                                        </div>
                                                        <div class="cell">
                                                            完成時間
                                                        </div>
                                                    </div>
                                                    ${GetDataList@(itemName)(`${item.MachineId}`, `Finish`)}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="detail-block">
                                            <div class="detail-title">
                                                在製中
                                                <a href="javascript: PopModalDetailInfo@(itemName)('${item.MachineId}', 'Start', '${item.ShopId}', '${item.ShopName}')">看更多</a>
                                            </div>
                                            <div class="detail-content">
                                                <div class="table">
                                                    <div class="table-row table-header">
                                                        <div class="cell">
                                                            部番
                                                        </div>
                                                        <div class="cell">
                                                            製程
                                                        </div>
                                                        <div class="cell">
                                                            操作人員
                                                        </div>
                                                        <div class="cell">
                                                            投入時間
                                                        </div>
                                                    </div>
                                                    ${GetDataList@(itemName)(`${item.MachineId}`, `Start`)}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>`;

                    if (count == 2) {
                        innerHtml += `  </div>
                                      </div>`;
                    }

                    if (count > 2) count = 2;
                    else count++;
                });
            }
        }
        else {
            alert(data.msg);
        }

        $("#divData@(itemName)").html(innerHtml);
        ResetOwlCarousel();
    }

    function GetDisplayStatus@(itemName)(machineId) {
        let innerHtml = '';
        let datas = datas@(itemName).filter(function (item) {
            return parseInt(item.MachineId) === parseInt(machineId)
        });

        if (datas.length > 0) {
            let finishNullFlag = datas.find(function (item) {
                return item.FinishDate === null || item.FinishDate === undefined || item.FinishDate === "";
            });

            if (finishNullFlag != undefined) {
                innerHtml += `<span class="status mac_active">
                                <span class="dot mac_active"></span>
                                運作中
                              </span>`;
            }
            else {
                let maxFinishDate = datas.reduce(function (max, current) {
                    let currentDate = new Date(current.FinishDate);
                    return currentDate > max ? currentDate : max;
                }, new Date(datas[0].FinishDate));

                let currentDate = new Date();
                let timeDifference = currentDate - maxFinishDate;
                let hoursDifference = timeDifference / (1000 * 60 * 60);

                if (hoursDifference <= 1) {
                    innerHtml += `<span class="status mac_stop">
                                    <span class="dot mac_stop"></span>
                                    停機待料
                                  </span>`
                }
                else {
                    innerHtml += `<span class="status mac_off">
                                    <span class="dot mac_off"></span>
                                    停機
                                  </span>`;
                }
            }
        }
        else {
            innerHtml += `<span class="status mac_off">
                            <span class="dot mac_off"></span>
                            停機
                          </span>`;
        }

        return innerHtml;
    }

    function GetDataList@(itemName)(machineId, findType) {
        let innerHtml = '';
        let datas = datas@(itemName).filter(function (item) {
            return parseInt(item.MachineId) === parseInt(machineId)
        });

        if (datas.length > 0) {
            switch (findType) {
                case "Finish":
                    datas = datas.filter(function (item) {
                        return item.FinishDate !== null || item.FinishDate !== undefined || item.FinishDate !== "" || item.FinishDate != null;
                    });
                    if (datas.length > 0) {
                        datas = datas.sort(function (a, b) {
                            let dateA = new Date(a.FinishDate);
                            let dateB = new Date(b.FinishDate);
                            return dateB - dateA;
                        });

                        $.each(datas.slice(0, 2), function (i, item) {
                            innerHtml += `<div class="table-row">
                                        <div class="cell ellipsis" data-title="部番" style="max-width: 150px;">
                                            ${item.CustomerMtlItemNo != null ? item.CustomerMtlItemNo : item.MtlItemName}
                                        </div>
                                        <div class="cell" data-title="製程">
                                            ${item.ProcessName}
                                        </div>
                                        <div class="cell" data-title="操作人員">
                                            ${item.FinishUser}
                                        </div>
                                        <div class="cell" data-title="完成時間">
                                            ${item.FinishDate}
                                        </div>
                                      </div>`;

                            if (i == 0 && i == datas.length - 1) {
                                innerHtml += `<div class="table-row">
                                            <div class="cell" data-title="部番">
                                                無資料
                                            </div>
                                            <div class="cell" data-title="製程">

                                            </div>
                                            <div class="cell" data-title="操作人員">

                                            </div>
                                            <div class="cell" data-title="完成時間">

                                            </div>
                                          </div>`;
                            }
                        });
                    }
                    else {
                        EmptyData();
                    }
                    break;
                case "Start":
                    datas = datas.filter(function (item) {
                        return item.FinishDate === null || item.FinishDate === undefined || item.FinishDate === "";
                    });

                    if (datas.length > 0) {
                        datas = datas.sort(function (a, b) {
                            let dateA = new Date(a.StartDate);
                            let dateB = new Date(b.StartDate);
                            return dateB - dateA;
                        });

                        $.each(datas.slice(0, 2), function (i, item) {
                            innerHtml += `<div class="table-row">
                                        <div class="cell ellipsis" data-title="部番" style="max-width: 150px;">
                                            ${item.CustomerMtlItemNo != null ? item.CustomerMtlItemNo : item.MtlItemName}
                                        </div>
                                        <div class="cell" data-title="製程">
                                            ${item.ProcessName}
                                        </div>
                                        <div class="cell" data-title="操作人員">
                                            ${item.StartUser}
                                        </div>
                                        <div class="cell" data-title="完成時間">
                                            ${UpdateTimeElapsed(`${item.StartDate}`)}
                                        </div>
                                      </div>`;

                            if (i == 0 && i == datas.length - 1) {
                                innerHtml += `<div class="table-row">
                                            <div class="cell" data-title="部番">
                                                無資料
                                            </div>
                                            <div class="cell" data-title="製程">

                                            </div>
                                            <div class="cell" data-title="操作人員">

                                            </div>
                                            <div class="cell" data-title="完成時間">

                                            </div>
                                          </div>`;
                            }

                            function UpdateTimeElapsed(startDate) {
                                let innerHtml = '';
                                let currentTime = new Date();
                                let startDateS = new Date(startDate)
                                let elapsedTime = Math.floor((currentTime - startDateS) / (1000 * 60 * 60) * 100) / 100; // 計算已過去的小時數
                                innerHtml += "已加工 " + elapsedTime + " 小時";

                                return innerHtml;
                            }
                        });
                    }
                    else {
                        EmptyData();
                    }
                    break;
                default:
                    break;
            }
        }
        else {
            EmptyData();
        }

        function EmptyData() {
            innerHtml = `<div class="table-row">
                            <div class="cell" data-title="部番">
                                無資料
                            </div>
                            <div class="cell" data-title="製程">

                            </div>
                            <div class="cell" data-title="操作人員">

                            </div>
                            <div class="cell" data-title="完成時間">

                            </div>
                          </div>
                          <div class="table-row">
                            <div class="cell" data-title="部番">
                                無資料
                            </div>
                            <div class="cell" data-title="製程">

                            </div>
                            <div class="cell" data-title="操作人員">

                            </div>
                            <div class="cell" data-title="完成時間">

                            </div>
                         </div>`;
        }

        return innerHtml;
    }

    function ResetOwlCarousel() {
        let loopTimeout = parseFloat($("#txtLoopTimeout@(itemName)").val());
        loopTimeout = loopTimeout * 60 * 1000;
        $(".owl-carousel").owlCarousel({
            autoplay: true ,
            autoplayTimeout: loopTimeout,
            loop: false, // 循環播放
            margin: 10, // 外距 10px
            nav: true, // 顯示點點
            responsive: {
                0: {
                    items: 1 // 螢幕大小為 0~1300 顯示 1 個項目
                },
                1300: {
                    items: 2 // 螢幕大小為 1300~1900 顯示 2 個項目
                },
                1900: {
                    items: 3 // 螢幕大小為 1900 以上 顯示 3 個項目
                }
            }
        });
    }

    function PopModalDetailInfo@(itemName)(machineId, findType, shopId, shopName) {
        currentDate = new Date();
        Suites.DatePicker("txtStartDateQ@(itemName)", currentDate);
        Suites.DatePicker("txtEndDateQ@(itemName)", currentDate);
        let StartDate = $("#txtStartDateQ@(itemName)").val();
        let EndDate = $("#txtEndDateQ@(itemName)").val();


        $("#desShopName@(itemName)").html(shopName);
        ComboBoxs.Default("#cboMachineIdQ@(itemName)", "@Url.Action("GetWorkShopMachine", "MesReport")", { "ShopId": shopId }, machineId, "ALL", "", "MachineDesc", "MachineId");
        $("#cboFindType@(itemName)").val(findType);

        InitDetailData@(itemName)(machineId, findType, StartDate, EndDate);

        $("#modalDetailInfo@(itemName)").modal("show");

        $("#cboMachineIdQ@(itemName)").change(function () {
            let currentMachineId = $(this).val();
            let currentFindType = $("#cboFindType@(itemName)").val();
            let StartDate = $("#txtStartDateQ@(itemName)").val();
            let EndDate = $("#txtEndDateQ@(itemName)").val();

            InitDetailData@(itemName)(currentMachineId, currentFindType, StartDate, EndDate)
        });

        $("#cboFindType@(itemName)").change(function () {
            let currentFindType = $(this).val();
            let currentMachineId = $("#cboMachineIdQ@(itemName)").val();
            let StartDate = $("#txtStartDateQ@(itemName)").val();
            let EndDate = $("#txtEndDateQ@(itemName)").val();

            InitDetailData@(itemName)(currentMachineId, currentFindType, StartDate, EndDate)
        });

        $("#txtStartDateQ@(itemName)").change(function () {
            let currentFindType = $("#cboFindType@(itemName)").val();
            let currentMachineId = $("#cboMachineIdQ@(itemName)").val();
            let StartDate = $(this).val();
            let EndDate = $("#txtEndDateQ@(itemName)").val();
            InitDetailData@(itemName)(currentMachineId, currentFindType, StartDate, EndDate)
        });

        $("#txtEndDateQ@(itemName)").change(function () {
            let currentFindType = $("#cboFindType@(itemName)").val();
            let currentMachineId = $("#cboMachineIdQ@(itemName)").val();
            let StartDate = $("#txtStartDateQ@(itemName)").val();
            let EndDate = $(this).val();
            InitDetailData@(itemName)(currentMachineId, currentFindType, StartDate, EndDate)
        });
    }

    function InitDetailData@(itemName)(machineId, findType, startDate, endDate) {
        GetMachineEffectivenessList@(itemName)(startDate, endDate);

        // 步驟2: 建立日期物件（只需轉換一次）
        const dateRange = {
            start: startDate ? new Date(startDate + ' 00:00:00') : null,
            end: endDate ? new Date(endDate + ' 23:59:59') : null
        };

        // 步驟3: 單次過濾所有條件
        const filteredData = datas@(itemName).filter(item => {
            // 檢查機台編號
            if (parseInt(item.MachineId) !== parseInt(machineId)) {
                return false;
            }

            // 檢查完工狀態
            const hasFinishDate = item.FinishDate && item.FinishDate !== "";
            if (findType === "Finish" && !hasFinishDate) {
                return false;
            }
            if (findType === "Start" && hasFinishDate) {
                return false;
            }

            // 檢查日期範圍
            if (dateRange.start && dateRange.end) {
                const itemDate = new Date(findType === 'Finish' ?
                    item.FinishDate : item.StartDate);
                return itemDate >= dateRange.start && itemDate <= dateRange.end;
            }

            return true;
        });

        // 步驟4: 使用文件片段建立表格內容
        const fragment = document.createDocumentFragment();
        const tableContainer = document.createElement('div');

        // 構建表格內容
        let innerHtml = `
        <div class="table-container">
            <div class="table-row table-header">
                <div class="cell">部番</div>
                <div class="cell">製程</div>
                <div class="cell">操作人員</div>
                <div class="cell">投入時間</div>
            </div>
           
        `;

        // 填充資料行
        filteredData.forEach(item => {
            innerHtml += `
            <div class="table-row">
                <div class="cell ellipsis" style="max-width:150px;">${item.CustomerMtlItemNo || item.MtlItemName}</div>
                <div class="cell">${item.ProcessName}</div>
                <div class="cell">${findType === 'Finish' ? item.FinishUser : item.StartUser}</div>
                <div class="cell">${findType === 'Finish'
                    ? formatDate(item.FinishDate)
                    : calculateElapsedTime(item.StartDate)
                }</div>
            </div>
        `;
        });
        innerHtml += `
        </div>`;

        // 更新表格內容
        $("#detailData@(itemName)").html(innerHtml);
    }

    // 日期格式化函數
    function formatDate(dateString) {
        const date = new Date(dateString);
        return date.toISOString().replace('T', ' ').split('.')[0]; // 返回 YYYY-MM-DD 格式
    }

    // 計算經過時間的函數
    function calculateElapsedTime(startDate) {
        const currentTime = new Date();
        const startTime = new Date(startDate);
        const elapsedHours =
            Math.floor((currentTime - startTime) / (1000 * 60 * 60) * 100) / 100;
        return `已加工 ${elapsedHours} 小時`;
    }
</script>

