@using Business_Manager.Helpers
@{
    string itemName = "MoProgressDetail";
    string itemNameText = "製令加工進度";
    string authority = ViewBag.authority;

    string BarcodeNo = Request["BarcodeNo"] ?? "";
    string Iframe = Request["Iframe"] ?? "";
    ViewBag.Title = itemNameText;

}

@Html.Resource("css",
@<style>
     .btn-secondary {
         color: #6c757d;
         background-color: #fff;
         border-color: #6c757d;
     }
</style>
                                     )


<input type="hidden" id="pageAuthority" value="@authority" />

<!--搜尋內容-->
<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body" style="max-height: 450px;overflow-y: auto;">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtMtlItemNoQ@(itemName)">產品品號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMtlItemNoQ@(itemName)" name="txtMtlItemNoQ@(itemName)" placeholder="請輸入產品品號"  />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtMtlItemNameQ@(itemName)">產品品名</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMtlItemNameQ@(itemName)" name="txtMtlItemNameQ@(itemName)" placeholder="請輸入產品品名" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtErpNoQ@(itemName)">製令</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtErpNoQ@(itemName)" name="txtErpNoQ@(itemName)" placeholder="請輸入製令" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtErpNoIdQ@(itemName)">製令編號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtErpNoIdQ@(itemName)" name="txtErpNoIdQ@(itemName)" placeholder="請輸入製令編號 EX: 1234" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboMoStatusQ@(itemName)">製令狀態碼</label>
                            <div class="col-12">
                                <select class="form-control" id="cboMoStatusQ@(itemName)" name="cboMoStatusQ@(itemName)">
                                    <option value="">-- 請選擇製令狀態碼 --</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboWoStatusQ@(itemName)">工單狀態碼</label>
                            <div class="col-12">
                                <select class="form-control" id="cboWoStatusQ@(itemName)" name="cboWoStatusQ@(itemName)">
                                    <option value="">-- 請選擇工單狀態碼 --</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-form-label">生產模式</label>
                            <div class="col-12">
                                <select class="form-control" id="cboProdModeQ@(itemName)" name="cboProdModeQ@(itemName)"></select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboQuantityStatusQ@(itemName)">領料狀態</label>
                            <div class="col-12">
                                <select class="form-control" id="cboQuantityStatusQ@(itemName)" name="cboQuantityStatusQ@(itemName)">
                                    <option value="">請選擇</option>
                                    <option value="未領足量">未領足量</option>
                                    <option value="已領足">已領足</option>
                                    <option value="未領料">未領料</option>
                                    <option value="領料異常">領料異常</option>

                                </select>

                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboReceiptStatusQ@(itemName)">制令已入庫狀態</label>
                            <div class="col-12">
                                <select class="form-control" id="cboReceiptStatusQ@(itemName)" name="cboReceiptStatusQ@(itemName)">
                                    <option value="">請選擇</option>
                                    <option value="入庫數不足制令產量">入庫數不足制令產量</option>
                                    <option value="完工入庫">完工入庫</option>
                                    <option value="未做入庫">未做入庫 </option>

                                </select>

                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-form-label"> 制令開單日 <input type="checkbox" id="cboStartDateQ@(itemName)" checked /></label>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtStartDateQ@(itemName)" name="txtStartDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtEndDateQ@(itemName)" name="txtEndDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                        </div>

                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
                <button type="button" class="btn btn-success  auth-excel" onclick="Excel@(itemName)()" style="margin: auto;"><i class="fas fa-file-excel"></i>匯出</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
    </div>
</div>


<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);">
                            <i class="fal fa-search"></i>搜尋
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky table-stack tiny-table" style="text-align: center" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 60px;">#</th>
                                        <th scope="col" style="min-width: 100px;">工單狀態</th>
                                        <th scope="col" style="min-width: 125px;">生產模式</th>
                                        <th scope="col" style="min-width: 200px;">制令單號</th>
                                        <th scope="col" style="min-width: 100px;">ERP工單<br>預計產量</th>
                                        <th scope="col" style="min-width: 150px;">工單制單者</th>
                                        <th scope="col" style="min-width: 200px;">品號</th>
                                        <th scope="col" style="min-width: 200px;">品名</th>
                                        <th scope="col" style="min-width: 200px;">規格</th>
                                        <th scope="col" style="min-width: 125px;">工單預計<br>開工日</th>
                                        <th scope="col" style="min-width: 125px;">工單預計<br>完工日</th>
                                        <th scope="col" style="min-width: 125px;">工單實際<br>開工日</th>
                                        <th scope="col" style="min-width: 125px;">工單實際<br>完工日</th>
                                        <th scope="col" style="min-width: 125px;">制令<br>開單日</th>
                                        <th scope="col" style="min-width: 125px;">制令<br>條碼</th>
                                        <th scope="col" style="min-width: 150px;">制令<br>狀態</th>
                                        <th scope="col" style="min-width: 150px;">制令<br>制單者</th>
                                        <th scope="col" style="min-width: 100px;">MES制令<br>預計產量</th>
                                        <th scope="col" style="min-width: 100px;">制令<br>已領套數</th>
                                        <th scope="col" style="min-width: 125px;">領料<br>狀態</th>
                                        <th scope="col" style="min-width: 100px;">制令<br>總工站數</th>
                                        <th scope="col" style="min-width: 100px;">加工進度(%)</th>
                                        <th scope="col" style="min-width: 100px;">已入庫數</th>
                                        <th scope="col" style="min-width: 125px;">制令<br>已入庫狀態</th>
                                        <th style="padding: 0; min-width: 1250px;">
                                            <table class="table table-bordered table-sm mb-0 table-non-rwd table-striped-custom table-row-detail"style="height : 55px ;text-align: center">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 200px;">製程</th>
                                                        <th style="width: 150px;">未開工</th>
                                                        <th style="width: 150px;">開工中</th>
                                                        <th style="width: 150px;">已完工</th>
                                                        <th style="width: 150px;">良品</th>
                                                        <th style="width: 150px;">不良</th>
                                                        <th style="width: 150px;">報廢</th>
                                                        <th style="width: 150px;">良率</th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };

        let objForm@(itemName) = "#queryForm@(itemName)";

        let moProcessList = [];

        $(document).ready(function () {
            $(window).keydown(function (event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    return false;
                }
            });

            $("#cboProdModeQ@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });
            $("#cboMoStatusQ@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });
            $("#cboWoStatusQ@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });
            $("#tblData@(itemName)").hide();

            if ("@Iframe" == "T") {
                $(objForm@(itemName) + " input").attr("disabled", true);
                $(objForm@(itemName) + " select").attr("disabled", true);
            }

            let currentDate = new Date();
            Suites.DateDropper("#txtStartDateQ@(itemName), #txtEndDateQ@(itemName)");
            Suites.SetDateDropper("#txtEndDateQ@(itemName)", currentDate);
            currentDate.setDate(currentDate.getDate() - 7);
            Suites.SetDateDropper("#txtStartDateQ@(itemName)", currentDate);

            ComboBoxs.Default("#cboProdModeQ@(itemName)", "@Url.Action("GetProdMode", "MesBasicInformation")", {}, "", "NA", "", "txtProdModeWithText" , "ModeId");
            ComboBoxs.Default("#cboMoStatusQ@(itemName)", "@Url.Action("GetStatus", "BasicInformation")", { "StatusSchema": "ManufactureOrder.Status" }, "", "NA", "", "StatusName", "StatusNo"); //製令狀態碼
            ComboBoxs.Default("#cboWoStatusQ@(itemName)", "@Url.Action("GetStatus", "BasicInformation")", { "StatusSchema": "WipOrder.WoStatus" }, "", "NA", "", "StatusName", "StatusNo"); //製令狀態碼


            Query@(itemName)()
        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));
            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            @*let barcodeNo = $("#txtBarcodeNoQ@(itemName)").val().toUpperCase();
            if (barcodeNo == "") {
                alert("請輸入欲查詢之產品條碼!!");
                return false;
            }*@

            $("#tblData@(itemName)").show();

            let innerHtml = '';
            let pageCount = 0;
            let targetUrl = "@Url.Action("GeMoProgressDetail", "MesReport")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "StartDate": ($("#cboStartDateQ@(itemName)").is(":checked") ? $("#txtStartDateQ@(itemName)").val() : ""),
                "EndDate": ($("#cboStartDateQ@(itemName)").is(":checked") ? $("#txtEndDateQ@(itemName)").val() : ""),
                "WoErpFullNo": $("#txtErpNoQ@(itemName)").val(),
                "WoStatus": $("#cboWoStatusQ@(itemName)").val(),
                "ProdMode": $("#cboProdModeQ@(itemName)").val(),
                "MtlItemNo": $("#txtMtlItemNoQ@(itemName)").val(),
                "MtlItemName": $("#txtMtlItemNameQ@(itemName)").val(),
                "MoStatus": $("#cboMoStatusQ@(itemName)").val(),
                "QuantityStatusQ": $("#cboQuantityStatusQ@(itemName)").val(),
                "ReceiptStatusQ": $("#cboReceiptStatusQ@(itemName)").val(),
                "MoId": $("#txtErpNoIdQ@(itemName)").val()

            };
            let data = DataAccess.Get(targetUrl, postData, false);
            if (data.status == "success") {
                console.log(5278, data)
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);


                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        //let style = 'style="display: none"';
                        //let style2 = '';
                        //if (i == 0) style = '';
                        //if (i == 0) { style = ''; style2 = 'style="display: none"';} ;
                        let ActualStart = item.ActualStart != null ? item.ActualStart : "";
                        let ActualEnd = item.ActualEnd != null ? item.ActualEnd : "";

                        let ExpectedStart = item.ExpectedStart != null ? item.ExpectedStart : "";
                        let ExpectedEnd = item.ExpectedEnd != null ? item.ExpectedEnd : "";

                        let ProcessProgress = item.ProcessProgress != null ? item.ProcessProgress : 0;
                        let ReceiptQtySum = item.ReceiptQtySum != null ? item.ReceiptQtySum : 0;
                        let ReceiptStatus = item.ReceiptStatus != null ? item.ReceiptStatus : "";
                        


                        innerHtml += `<tr>
                                        <td>${_row}</td>
                                        <td>${item.WoStatus}</td>
                                        <td>${item.Mode}</td>
                                        <td>${item.WoErpFullNo}</td>
                                        <td>${item.ERPPlanQty}</td>
                                        <td>${item.WoCreater}</td>
                                        <td>${item.MtlItemNo}</td>
                                        <td>${item.MtlItemName}</td>
                                        <td>${item.MtlItemDesc}</td>
                                        <td>${ExpectedStart}</td>
                                        <td>${ExpectedEnd}</td>
                                        <td>${ActualStart}</td>
                                        <td>${ActualEnd}</td>
                                        <td>${item.MoCreateDay}</td>
                                        <td>${item.MoId}</td>
                                        <td>${item.MoStatus}</td>
                                        <td>${item.MoCreater}</td>
                                        <td>${item.MoQuantity}</td>
                                        <td>${item.RequisitionSetQty}</td>
                                        <td>${item.QuantityStatus}</td>
                                        <td>${item.MoTotalProcess}</td>
                                        <td>${ProcessProgress}</td>
                                        <td>${ReceiptQtySum}</td>
                                        <td>${ReceiptStatus}</td>
                                        <td style="padding: 0;">
                                          <table class="table table-bordered table-sm mb-0 table-non-rwd table-striped-custom table-row-detail">
                                            <tbody>
                                              ${DetailData@(itemName)(item.ProcessDetail)}
                                            </tbody>
                                          </table>
                                        </td>
                                        </tr>`;

                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="25" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));
        }

        function DetailData@(itemName)(source) {
            let html = '';
            if (source) {
                let json = JSON.parse(source);

                for (let x = 0; x < json.data.length; x++) {
                    html += `<tr>
                               <td style="width: 200px;">${json.data[x].ProcessAlias}</td>
                               <td style="width: 150px;">${json.data[x].NotStartQty}</td>
                               <td style="width: 150px;">${json.data[x].StartQty}</td>
                               <td style="width: 150px;">${json.data[x].WipQty}</td>
                               <td style="width: 150px;">${json.data[x].TotalPassQty}</td>
                               <td style="width: 150px;">${json.data[x].TotalNgQty}</td>
                               <td style="width: 150px;">${json.data[x].TotalScrapQty}</td>
                               <td style="width: 150px;">${json.data[x].PassRate}</td>
                            </tr>`;
                }
            }
            return html;
        }

        @*function DetailData@(itemName)(source, currentProcess, barcodeNo) {
            let html = '';
            let index = 0;
            let inProcess;

            if (source) {
                let json = JSON.parse(source);

                let color = ["primary", "success", "warning", "info"];

                for (let x = 0; x < json.data.length; x++) {

                    if (index >= 4) index = 0;

                    json.data[x].MoProcessId == currentProcess && json.data[x].FinishDate.length < 0 ? inProcess = true : inProcess = false;

                    html += `<tr class="baseline baseline-border">
                                <td class="tbody-customized baseline-list baseline-border baseline-${color[index]}">
                                    ${json.data[x].WoErpFullNo}(${json.data[x].WoSeq})
                                </td>
                                <td class="tbody-customized">
                                    <a href="javascript:PopIPQCMeasurement@(itemName)('${json.data[x].WoErpFullNo}', '${json.data[x].WoSeq}', '${json.data[x].MoProcessId}', '${barcodeNo}');">
                                        <span class="baseline-info">${json.data[x].ProcessAlias} </span>
                                        ${inProcess == true ? `<span class="badge badge-pill badge-danger"> 加工中</span>` : ``}
                                    </a>
                                </td>
                                <td class="tbody-customized">${json.data[x].StationQty}</td>
                                <td class="tbody-customized">${StatusName("BarcodeProcess.ProdStatus", json.data[x].ProdStatus)}</td>
                                <td class="tbody-customized">
                                    <span class="txt-skyblue">開工 </span>${json.data[x].StartDate} </br>
                                    <span class="txt-skyblue">完工 </span>${json.data[x].FinishDate}
                                </td>
                                <td class="tbody-customized">
                                    <code>${json.data[x].SupplierNo != null ? json.data[x].SupplierNo : json.data[x].StartUserNo}</code> ${json.data[x].SupplierShortName != null ? json.data[x].SupplierShortName : json.data[x].StartUserName} </br>
                                    <code>${json.data[x].SupplierNo != null ? json.data[x].SupplierNo : json.data[x].FinishUserNo}</code> ${json.data[x].SupplierShortName != null ? json.data[x].SupplierShortName : json.data[x].FinishUserName}
                                </td>
                                <td class="tbody-customized">${json.data[x].CycleTime} 秒</td>
                                <td class="tbody-customized">${json.data[x].MachineName}</td>
                             </tr>`;

                    index++;
                }
            }

            return html;
        }*@

        @*function Detail@(itemName)(BarcodeId) {//ProcessBarcode$
            if ($(`tr[data-barcode-id=${BarcodeId}]`).css("display") == "none") {
                $("tr[data-barcode-id]").hide();
                $(`tr[data-barcode-id=${BarcodeId}]`).show();
            } else {
                $("tr[data-barcode-id]").hide();
            }
            //if ($(`tr[data-processbarcode-id=${BarcodeId}]`).css("display") == "none") {
            //    $(`tr[data-processbarcode-id=${BarcodeId}]`).show();
            //    $(`tr[data-componentbarcode-id=${BarcodeId}]`).hide();
            //} else {
            //    $(`tr[data-processbarcode-id=${BarcodeId}]`).hide();
            //    $(`tr[data-componentbarcode-id=${BarcodeId}]`).hide();
            //}

        }*@

        function Excel@(itemName)() {
            let targetUrl = "@Url.Action("ExcelGeMoProgressDetail", "MesReport")";
            let postData = {
                "StartDate": ($("#cboStartDateQ@(itemName)").is(":checked") ? $("#txtStartDateQ@(itemName)").val() : ""),
                "EndDate": ($("#cboStartDateQ@(itemName)").is(":checked") ? $("#txtEndDateQ@(itemName)").val() : ""),
                "WoErpFullNo": $("#txtErpNoQ@(itemName)").val(),
                "WoStatus": $("#cboWoStatusQ@(itemName)").val(),
                "ProdMode": $("#cboProdModeQ@(itemName)").val(),
                "MtlItemNo": $("#txtMtlItemNoQ@(itemName)").val(),
                "MtlItemName": $("#txtMtlItemNameQ@(itemName)").val(),
                "MoStatus": $("#cboMoStatusQ@(itemName)").val()
            };

            FileAccess.AjaxDownload(targetUrl, postData, false);

        }

    </script>
                                        )
