@using Business_Manager.Helpers
@{
    string itemName = "MWEDetailReport";
    string itemNameText = "庫存明細表";
    string authority = ViewBag.authority;


    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>

         .badge {
             font-size: 90% !important;
         }

         .container {
             margin-left: 0 !important;
         }

         .thead-customized {
             min-width: 75px !important;
             background-color: #ffeeba !important;
             position: relative !important;
             z-index: 1 !important;
             border: none !important;
         }

         .tbody-customized {
             vertical-align: middle !important;
         }

         .baseline .baseline-list {
             padding-bottom: 9.6px !important;
         }

             .baseline .baseline-list:after {
                 border: none !important;
                 top: 27px !important;
             }

         .txt-skyblue {
             font-size: 87.5%;
         }
    </style>
                        )

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboMtlType1Q@(itemName)">品號類別-會計</label>
                            <div class="col-12">
                                <select class="form-control" id="cboMtlType1Q@(itemName)" name="cboMtlType1Q@(itemName)">
                                    <option value="">-- 請選擇 --</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboMtlType2Q@(itemName)">品號類別-倉管</label>
                            <div class="col-12">
                                <select class="form-control" id="cboMtlType2Q@(itemName)" name="cboMtlType2Q@(itemName)">
                                    <option value="">-- 請選擇 --</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="form-label" for="txtStartDateQ@(itemName)">開始時間</label>
                            <div class="col-12">

                                <input type="text" class="form-control" id="txtStartDateQ@(itemName)" name="txtStartDateQ@(itemName)"
                                       placeholder="請輸入開始時間"
                                       data-msg-required="請輸入開始時間" data-rule-required="true"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))" />
                            </div>
                            <label class="form-label" for="txtEndDateQ@(itemName)">結束時間</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtEndDateQ@(itemName)" name="txtEndDateQ@(itemName)"
                                       placeholder="請輸入結束時間"
                                       data-msg-required="請輸入開始時間" data-rule-required="true"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="form-label" for="txtMtlItemNoQ@(itemName)">品號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMtlItemNoQ@(itemName)" name="txtMtlItemNoQ@(itemName)" placeholder="請輸入品號" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="form-label" for="cboMtlItemNameQ@(itemName)">品名</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="cboMtlItemNameQ@(itemName)" name="cboMtlItemNameQ@(itemName)" placeholder="請輸入品名" />
                            </div>
                        </div>

                        @*<div class="col-lg-2 col-6 mt-4">
            <button type="button" class="btn btn-primary" onclick="Query@(itemName)()"><i class="fal fa-search"></i>搜尋</button>
        </div>*@
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>


<!--列表-->
<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-header">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);"><i class="fal fa-search"></i>搜尋</a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn file-excel auth-excel" href="javascript:Excel@(itemName)();"><i class="fas fa-file-excel"></i>匯出</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th class="text-center" scope="col" style="min-width: 75px;">#</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">產品品號</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">產品品名</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">產品規格</th>
                                        <th class="text-center" scope="col">會計</th>
                                        <th class="text-center" scope="col">倉管</th>
                                        <th class="text-center" scope="col">單位</th>
                                        <th class="text-center" scope="col">庫別</th>
                                        <th class="text-center" scope="col">庫存數量</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        @*<div class="pagination" id="page@(itemName)"></div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        let userId@(itemName);
        let companyId@(itemName);
        let userNo@(itemName);

        if (!isMobile) {
            $("#cboWoErpPrefixQ@(itemName)").select2({
                    dropdownAutoWidth: true,
                    width: "100%"
                });
            }

        $(document).ready(function () {
            GetUserInfo@(itemName)()
            Suites.DateDropper("#txtStartDateQ@(itemName), #txtEndDateQ@(itemName)");
            let currentDate = new Date();
            Suites.SetDateDropper("#txtEndDateQ@(itemName)", currentDate);
            currentDate.setDate(currentDate.getDate() - 180);
            Suites.SetDateDropper("#txtStartDateQ@(itemName)", currentDate);

            ComboBoxs.WithText("#cboMtlType1Q@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "MtlItemType", "Condition": 1 }, "", "NA", "", "TypeName", "TypeNo");
            ComboBoxs.WithText("#cboMtlType2Q@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "MtlItemType", "Condition": 2 }, "", "NA", "", "TypeName", "TypeNo");
            @*$("#cboMtlType1Q@(itemName)").val("104");
            $("#cboMtlType2Q@(itemName)").val("206");*@
            @*$("#cboWoErpPrefixQ@(itemName)").val("5101")*@
            Query@(itemName)();
        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;
            let targetUrl = "@Url.Action("GetMWEDetailReport", "MesReport")";

            let postData = {
                "TypeOne": $("#cboMtlType1Q@(itemName)").val(),
                "TypeTwo": $("#cboMtlType2Q@(itemName)").val(),
                "MtlItemNo": $("#txtMtlItemNoQ@(itemName)").val(),
                "StartDate": $("#txtStartDateQ@(itemName)").val(),
                "FinishDate": $("#txtEndDateQ@(itemName)").val()
            };

            let data = DataAccess.Get(targetUrl, postData, false);
            if (data.status == "success") {
                //pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;
                if (data.result.length > 0) {
                    objPage = PageCaculate(pageCount, objPage);
                    $.each(data.result, function (i, item) {
                        let _row = (i + 1) + ".";
                        innerHtml += `<tr>
                                        <td class="text-center">${_row}</td>
                                        <td class="text-center">${item.MtlItemNo}</td>
                                        <td class="text-center">${item.MtlItemName}</td>
                                        <td class="text-center">${item.MtlItemSpec}</td>
                                        <td class="text-center">${item.TypeOneNo}-${item.TypeOneName} </td>
                                        <td class="text-center">${item.TypeTwoNo}-${item.TypeTwoName} </td>
                                        <td class="text-center">${item.UmoNo}</td>
                                        <td class="text-center">${item.MWENo}-${item.MWEName} </td>
                                        <td class="text-center">${item.InventoryQuantity}</td>
                                      </tr>`;
                    });
                }
                else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="17" style="background-color: #fff3cd;">
                                        <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            }
            else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            //Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName)); ++
        }

        function DetailData@(itemName)(json) {
            console.log(1199, json);
            let html = '';

            if (json.length > 0) {

                for (let x = 0; x < json.length; x++) {

                    html += `<tr>
                                <td style="padding: 0;" style="min-width: 550px;">
                                  <table class="table table-bordered table-striped table-sticky tiny-table">
                                    <tbody>
                                      ${SubDetailData@(itemName)(json[x].ScrapMoMtldata)}
                                      ${SubDetailData@(itemName)(json[x].ScrapMoReplaceMtldata)}
                                    </tbody>
                                  </table>
                                </td>
                                <td class="ellipsis" style="width: 150px;">${json[x].MergeScrapCount}</td>
                                <td class="ellipsis" style="width: 150px;">${json[x].MergeMoScrapCount}</td>
                                <td class="ellipsis" style="width: 150px;">${json[x].Unit}</td>
                             </tr>`;
                }
            } else {
                html += `<tr>
                       <td class="text-center" colspan="8" style="background-color: #fff3cd;">
                           <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無單身資料。
                       </td>
                     </tr>`;

            }

            return html;
        }

        function SubDetailData@(itemName)(json) {
            let html = '';

            if (json) {
                for (let x = 0; x < json.length; x++) {
                    html += `<tr>
                               <td style=" background-color:transparent; width: 150px;">${json[x].MtlItemNo}</td>
                               <td style=" background-color:transparent; width: 150px;">${json[x].MtlItemName}</td>
                               <td style=" background-color:transparent; width: 150px;">${json[x].MtlItemspec}</td>
                               <td style=" background-color:transparent; width: 50px;">${json[x].ExpectedCount}</td>
                               <td style=" background-color:transparent; width: 50px;">${json[x].ReceiveCount}</td>
                             </tr>`;
                }
            }

            return html;
        }

        function moStatus@(itemName)(status) {

            let s = "";

            switch (status) {
                case "Y":
                case "y":
                    s = "已結案";
                    break;
                default:
                    s = "未結案";
                    break;

            }
            console.log(1199, s);
            return s;
        }

        function Detail@(itemName)(WoErpNo) {
            if ($(`tr[data-mo-id="${WoErpNo}"]`).css("display") == "none") {
                $("tr[data-mo-id]").hide();
                $(`tr[data-mo-id="${WoErpNo}"]`).show();
            } else {
                $("tr[data-mo-id]").hide();
            }
        }

        function GetUserInfo@(itemName)() {
            let targetUrl = "@Url.Action("GetLoginByKey", "User")";
            let postData = {
                "UserNo": $.cookie("Login"),
                "KeyText": $.cookie("LoginKey")
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                userId@(itemName) = data.returnData.UserId;
                companyId@(itemName) = data.returnData.CompanyId;
                userNo@(itemName) = data.returnData.UserNo;

            } else {
                alert(data.msg, "alert", 0);
            }
        }

        function Excel@(itemName)() {
            let targetUrl = "@Url.Action("GetMWEDetailReportExcel", "MesReport")";
            let postData = {
                "TypeOne": $("#cboMtlType1Q@(itemName)").val(),
                "TypeTwo": $("#cboMtlType2Q@(itemName)").val(),
                "MtlItemNo": $("#txtMtlItemNoQ@(itemName)").val(),
                "StartDate": $("#txtStartDateQ@(itemName)").val(),
                "FinishDate": $("#txtEndDateQ@(itemName)").val()
            };

            let data = DataAccess.EditContinued(targetUrl, postData, false);

            if (data) {
                alert("匯出成功!!!!", "success")
                FileAccess.AjaxDownload(targetUrl, postData, false);
            }
        }

    </script>
                                                )