@using Business_Manager.Helpers
@{
    string itemName = "OspDetail";
    string itemNameText = "托外單明細查詢";
    string authority = ViewBag.authority;

    string BarcodeNo = Request["BarcodeNo"] ?? "";
    string Iframe = Request["Iframe"] ?? "";
    ViewBag.Title = itemNameText;

}

@Html.Resource("css",
    @<style>
         .container {
             margin-left: 0 !important;
         }

         .thead-customized {
             min-width: 75px !important;
             background-color: #ffeeba !important;
             position: relative !important;
             z-index: 1 !important;
             border: none !important;
         }

         .tbody-customized {
             vertical-align: middle !important;
         }

         .baseline .baseline-list {
             padding-bottom: 9.6px !important;
         }

             .baseline .baseline-list:after {
                 border: none !important;
                 top: 27px !important;
             }

         .txt-skyblue {
             font-size: 87.5%;
         }

         iframe {
             width: 100%;
             height: 80vh;
             aspect-ratio: 16 / 9;
         }
    </style>
                )

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
    </div>
</div>

<!--搜尋內容-->
<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body" style="max-height: 450px;overflow-y: auto;">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtOspNoQ@(itemName)">托外單號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtOspNoQ@(itemName)" name="txtOspNoQ@(itemName)" placeholder="托外單號" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtMoNoQ@(itemName)">製令</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMoNoQ@(itemName)" name="txtMoNoQ@(itemName)" placeholder="請輸入製令" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtMtlItemNoQ@(itemName)">產品品號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMtlItemNoQ@(itemName)" name="txtMtlItemNoQ@(itemName)" placeholder="請輸入產品品號" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtMtlItemNameQ@(itemName)">產品品名</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMtlItemNameQ@(itemName)" name="txtMtlItemNameQ@(itemName)" placeholder="請輸入產品品名" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboSupplierNoQ@(itemName)">供應商編號</label>
                            <div class="col-12">
                                <select class="form-control" id="cboSupplierNoQ@(itemName)" name="cboSupplierNoQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboSupplierShortNameQ@(itemName)">供應商簡稱</label>
                            <div class="col-12">
                                <select class="form-control" id="cboSupplierShortNameQ@(itemName)" name="cboSupplierShortNameQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboProcessAliasQ@(itemName)">製程</label>
                            <div class="col-12">
                                <select class="form-control" id="cboProcessAliasQ@(itemName)" name="cboProcessAliasQ@(itemName)"></select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-form-label">托外生產日期 <input type="checkbox" id="cbxOspStartDateQ@(itemName)" checked /></label>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtOspStartDateQ@(itemName)" name="txtOspStartDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtOspEndDateQ@(itemName)" name="txtOspEndDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">托外建單日期 <input type="checkbox" id="cbxOspCreatStartDateQ@(itemName)" /></label>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtOspCreatStartDateQ@(itemName)" name="txtOspCreatStartDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtOspCreatEndDateQ@(itemName)" name="txtOspCreatEndDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                        </div>

                        @*<div class="form-group row">
            <label class="col-12 col-form-label" for="cboBackSttusQ@(itemName)">判斷</label>
            <div class="col-12">
                <select class="form-control" id="cboBackSttusQ@(itemName)" name="cboBackSttusQ@(itemName)">
                    <option value="">請選擇</option>
                    <option value="未回廠">未回廠</option>
                    <option value="逾期">逾期</option>
                    <option value="準時 ">準時 </option>
                    <option value="提前">提前</option>

                </select>

            </div>
        </div>*@

                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
                <button type="button" class="btn btn-success  auth-excel" onclick="Excel@(itemName)()" style="margin: auto;"><i class="fas fa-file-excel"></i>匯出</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-header">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);">
                            <i class="fal fa-search"></i>搜尋
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th scope="col" style="min-width: 280px;">托外單號</th>
                                        <th scope="col" style="min-width: 150px;">托外生產日期	</th>
                                        <th scope="col" style="min-width: 150px;">托外單創建日</th>
                                        <th scope="col" style="min-width: 150px;">托外單創建者</th>
                                        <th scope="col" style="min-width: 120px;">供應商編號</th>
                                        <th scope="col" style="min-width: 120px;">供應商簡稱</th>
                                        <th scope="col" style="min-width: 200px;">供應商全稱</th>
                                        <th scope="col" style="min-width: 120px;">托外備註</th>
                                        <th scope="col" style="min-width: 200px;">製令</th>
                                        <th scope="col" style="min-width: 200px;">產品品號</th>
                                        <th scope="col" style="min-width: 200px;">產品品名</th>
                                        <th scope="col" style="min-width: 200px;">規格</th>
                                        <th scope="col" style="min-width: 100px;">托外生產<br>數量</th>
                                        <th scope="col" style="min-width: 100px;">供貨生產<br>數量</th>
                                        <th scope="col" style="min-width: 120px;">加工製程</th>
                                        <th scope="col" style="min-width: 120px;">加工代碼</th>
                                        <th scope="col" style="min-width: 150px;">單身添加日</th>
                                        <th scope="col" style="min-width: 150px;">單身添加者</th>
                                        <th scope="col" style="min-width: 150px;">預計回廠日</th>
                                        <th scope="col" style="min-width: 150px;">托外進貨日</th>
                                        <th scope="col" style="min-width: 200px;">托外進貨單</th>
                                        <th scope="col" style="min-width: 105px;">托外進貨單<br>拋轉狀態</th>
                                        <th scope="col" style="min-width: 100px;">托外進貨<br>單頭備註</th>
                                        <th scope="col" style="min-width: 100px;">托外進貨<br>品項序號</th>
                                        <th scope="col" style="min-width: 105px;">托外進貨數</th>
                                        <th scope="col" style="min-width: 100px;">托外進貨<br>品項備註</th>
                                        <th scope="col" style="min-width: 115px;">托外計時長<br>(小時)</th>
                                        <th scope="col" style="min-width: 100px;">判斷</th>
                                        <th scope="col" style="min-width: 115px;">判斷備註</th>

                                        @*<th class="text-center" scope="col" style="min-width: 100px;">操作</th>*@
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };

        let objForm@(itemName) = "#queryForm@(itemName)";

        let moProcessList = [];

        $(document).ready(function () {
            $(window).keydown(function (event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    return false;
                }
            });

            $("#cboSupplierNoQ@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });

            $("#cboSupplierShortNameQ@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });

            $("#cboProcessAliasQ@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });

            $("#cboBackSttusQ@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });

            $("#tblData@(itemName)").hide();

            if ("@Iframe" == "T") {
                $(objForm@(itemName) + " input").attr("disabled", true);
                $(objForm@(itemName) + " select").attr("disabled", true);
            }

            let currentDate = new Date();
            Suites.DateDropper("#txtOspStartDateQ@(itemName), #txtOspEndDateQ@(itemName), #txtOspCreatStartDateQ@(itemName), #txtOspCreatEndDateQ@(itemName)");

            Suites.SetDateDropper("#txtOspEndDateQ@(itemName)", currentDate);
            Suites.SetDateDropper("#txtOspCreatEndDateQ@(itemName)", currentDate);

            currentDate.setDate(currentDate.getDate() - 7);
            Suites.SetDateDropper("#txtOspStartDateQ@(itemName)", currentDate);
            Suites.SetDateDropper("#txtOspCreatStartDateQ@(itemName)", currentDate);

        

            ComboBoxs.Default("#cboSupplierNoQ@(itemName)", "@Url.Action("GetSupplier", "ScmBasicInformation")", { "PermitStatus": "1" }, "", "NA", "", "SupplierWithNo", "SupplierNo");
            ComboBoxs.Default("#cboSupplierShortNameQ@(itemName)", "@Url.Action("GetSupplier", "ScmBasicInformation")", { "PermitStatus": "1" }, "", "NA", "", "SupplierShortName", "SupplierShortName");
            ComboBoxs.Default("#cboProcessAliasQ@(itemName)", "@Url.Action("GetProcess", "MesBasicInformation")", {}, "", "NA", "", "ProcessName", "ProcessId");


            Query@(itemName)()
        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;

            InitData@(itemName)(objPage@(itemName));



            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            @*let barcodeNo = $("#txtBarcodeNoQ@(itemName)").val().toUpperCase();
            if (barcodeNo == "") {
                alert("請輸入欲查詢之產品條碼!!");
                return false;
            }*@

            $("#tblData@(itemName)").show();

            let innerHtml = '';
            let pageCount = 0;
            let targetUrl = "@Url.Action("GetOutsourcingDetail", "MesReport")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "OspNo": $("#txtOspNoQ@(itemName)").val(),
                "WoErpFullNo": $("#txtMoNoQ@(itemName)").val(),
                "MtlItemNo": $("#txtMtlItemNoQ@(itemName)").val(),
                "MtlItemName": $("#txtMtlItemNameQ@(itemName)").val(),
                "OspStartDate": ($("#cbxOspStartDateQ@(itemName)").is(":checked") ? $("#txtOspStartDateQ@(itemName)").val() : ""),
                "OspEndDate": ($("#cbxOspStartDateQ@(itemName)").is(":checked") ? $("#txtOspEndDateQ@(itemName)").val() : ""),
                "OspCreatStartDate": ($("#cbxOspCreatStartDateQ@(itemName)").is(":checked") ? $("#txtOspCreatStartDateQ@(itemName)").val() : ""),
                "OspCreatEndDate": ($("#cbxOspCreatStartDateQ@(itemName)").is(":checked") ? $("#txtOspCreatEndDateQ@(itemName)").val() : ""),
                "SupplierNo": $("#cboSupplierNoQ@(itemName)").val(),
                "SupplierShortName": $("#cboSupplierShortNameQ@(itemName)").val(),
                "ProcessAlias": $("#cboProcessAliasQ@(itemName)").val(),
                "BackSttus": $("#cboBackSttusQ@(itemName)").val()

            };
            let data = DataAccess.Get(targetUrl, postData, false);
            if (data.status == "success") {
                console.log(5278,data.result.length)
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);


                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";


                        //let style = 'style="display: none"';
                        //let style2 = '';
                        //if (i == 0) style = '';
                        //if (i == 0) { style = ''; style2 = 'style="display: none"';} ;
                        let receiptDate = item.ReceiptDate != null ? item.ReceiptDate: "";
                        let osrFullErpNo = item.OsrErpNo != null ? item.OsrErpPrefix + "-" + item.OsrErpNo : "";

                        innerHtml += `<tr>
                                        <td>${_row}</td>
                                        <td>${item.OspNo}${item.Status == `P`?`(BMP中)`:``}</td>
                                        <td>${item.OspDate}</td>
                                        <td>${item.OspCreateDate}</td>
                                        <td>${item.OspUserName}</td>
                                        <td>${item.SupplierNo}</td>
                                        <td>${item.SupplierShortName}</td>
                                        <td>${item.SupplierName}</td>
                                        <td>${item.OspDesc}</td>
                                        <td>${item.WoErpFullNo}</td>
                                        <td>${item.MtlItemNo}</td>
                                        <td>${item.MtlItemName}</td>
                                        <td>${item.MtlItemSpec}</td>
                                        <td>${item.OspQty}</td>
                                        <td>${item.SuppliedQty}</td>
                                        <td>${item.ProcessAlias}</td>
                                        <td>${item.ProcessCodeName}</td>
                                        <td>${item.OspDetailCreateDate}</td>
                                        <td>${item.WoUserName}</td>
                                        <td>${item.ExpectedDate}</td>
                                        <td>${receiptDate}</td>
                                        <td>${osrFullErpNo}</td>
                                        <td>${item.OpsTransferStatus}</td>
                                        <td>${item.OspHRemark}</td>
                                        <td>${item.OsrSeq}</td>
                                        <td>${item.ReceiptQty}</td>
                                        <td>${item.OspBRemark}</td>
                                        <td>${item.OspTimes}</td>
                                        <td>${item.BackStatus}</td>
                                        <td>${item.BackStatusRemark}</td>
                                      <tr></tr>`;

                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="30" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));
        }

        
        function DetailData@(itemName)(source, currentProcess, barcodeNo) {
            let html = '';
            let index = 0;
            let inProcess;

            if (source) {
                let json = JSON.parse(source);

                let color = ["primary", "success", "warning", "info"];

                for (let x = 0; x < json.data.length; x++) {

                    if (index >= 4) index = 0;

                    json.data[x].MoProcessId == currentProcess && json.data[x].FinishDate.length < 0 ? inProcess = true : inProcess = false;

                    html += `<tr class="baseline baseline-border">
                                <td class="tbody-customized baseline-list baseline-border baseline-${color[index]}">
                                    ${json.data[x].WoErpFullNo}(${json.data[x].WoSeq})
                                </td>
                                <td class="tbody-customized">
                                    <a href="javascript:PopIPQCMeasurement@(itemName)('${json.data[x].WoErpFullNo}', '${json.data[x].WoSeq}', '${json.data[x].MoProcessId}', '${barcodeNo}');">
                                        <span class="baseline-info">${json.data[x].ProcessAlias} </span>
                                        ${inProcess == true ? `<span class="badge badge-pill badge-danger"> 加工中</span>` : ``}
                                    </a>
                                </td>
                                <td class="tbody-customized">${json.data[x].StationQty}</td>
                                <td class="tbody-customized">${StatusName("BarcodeProcess.ProdStatus", json.data[x].ProdStatus)}</td>
                                <td class="tbody-customized">
                                    <span class="txt-skyblue">開工 </span>${json.data[x].StartDate} </br>
                                    <span class="txt-skyblue">完工 </span>${json.data[x].FinishDate}
                                </td>
                                <td class="tbody-customized">
                                    <code>${json.data[x].SupplierNo != null ? json.data[x].SupplierNo : json.data[x].StartUserNo}</code> ${json.data[x].SupplierShortName != null ? json.data[x].SupplierShortName : json.data[x].StartUserName} </br>
                                    <code>${json.data[x].SupplierNo != null ? json.data[x].SupplierNo : json.data[x].FinishUserNo}</code> ${json.data[x].SupplierShortName != null ? json.data[x].SupplierShortName : json.data[x].FinishUserName}
                                </td>
                                <td class="tbody-customized">${json.data[x].CycleTime} 秒</td>
                                <td class="tbody-customized">${json.data[x].MachineName}</td>
                             </tr>`;

                    index++;
                }
            }

            return html;
        }

        function Detail@(itemName)(BarcodeId) {//ProcessBarcode$
            if ($(`tr[data-barcode-id=${BarcodeId}]`).css("display") == "none") {
                $("tr[data-barcode-id]").hide();
                $(`tr[data-barcode-id=${BarcodeId}]`).show();
            } else {
                $("tr[data-barcode-id]").hide();
            }
            //if ($(`tr[data-processbarcode-id=${BarcodeId}]`).css("display") == "none") {
            //    $(`tr[data-processbarcode-id=${BarcodeId}]`).show();
            //    $(`tr[data-componentbarcode-id=${BarcodeId}]`).hide();
            //} else {
            //    $(`tr[data-processbarcode-id=${BarcodeId}]`).hide();
            //    $(`tr[data-componentbarcode-id=${BarcodeId}]`).hide();
            //}

        }

        function Excel@(itemName)() {
            let targetUrl = "@Url.Action("ExcelGetOutsourcingDetail", "MesReport")";
            let postData = {
                "OspNo": $("#txtOspNoQ@(itemName)").val(),
                "WoErpFullNo": $("#txtMoNoQ@(itemName)").val(),
                "MtlItemNo": $("#txtMtlItemNoQ@(itemName)").val(),
                "MtlItemName": $("#txtMtlItemNameQ@(itemName)").val(),
                "OspStartDate": ($("#cbxOspStartDateQ@(itemName)").is(":checked") ? $("#txtOspStartDateQ@(itemName)").val() : ""),
                "OspEndDate": ($("#cbxOspStartDateQ@(itemName)").is(":checked") ? $("#txtOspEndDateQ@(itemName)").val() : ""),
                "OspCreatStartDate": ($("#cbxOspCreatStartDateQ@(itemName)").is(":checked") ? $("#txtOspCreatStartDateQ@(itemName)").val() : ""),
                "OspCreatEndDate": ($("#cbxOspCreatStartDateQ@(itemName)").is(":checked") ? $("#txtOspCreatEndDateQ@(itemName)").val() : ""),
                "SupplierNo": $("#cboSupplierNoQ@(itemName)").val(),
                "SupplierShortName": $("#cboSupplierShortNameQ@(itemName)").val(),
                "ProcessAlias": $("#cboProcessAliasQ@(itemName)").val(),
                "BackSttus": $("#cboBackSttusQ@(itemName)").val()
            };

            FileAccess.AjaxDownload(targetUrl, postData, false);
        
        }
        
    </script>
                )
