@using Business_Manager.Helpers
@{
    string itemName = "ProcessMenReport";
    string itemNameText = "人員製造狀況報表";
    string authority = ViewBag.authority;


    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>

         .badge {
             font-size: 90% !important;
         }

         .container {
             margin-left: 0 !important;
         }

         .thead-customized {
             min-width: 75px !important;
             background-color: #ffeeba !important;
             position: relative !important;
             z-index: 1 !important;
             border: none !important;
         }

         .tbody-customized {
             vertical-align: middle !important;
         }

         .baseline .baseline-list {
             padding-bottom: 9.6px !important;
         }

             .baseline .baseline-list:after {
                 border: none !important;
                 top: 27px !important;
             }

         .txt-skyblue {
             font-size: 87.5%;
         }
    </style>
                                )

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboProdModeQ@(itemName)">生產模式</label>
                            <div class="col-12">
                                <select class="form-control" id="cboProdModeQ@(itemName)" name="cboProdModeQ@(itemName)">
                                    <option value="">-- 請選擇 --</option>
                                </select>
                            </div>

                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboProcessQ@(itemName)">製程</label>
                            <div class="col-12">
                                <select class="form-control" id="cboProcessQ@(itemName)" name="cboProcessQ@(itemName)">
                                    <option value="">-- 請選擇 --</option>
                                </select>
                            </div>

                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboWorkShopQ@(itemName)">選擇車間</label>
                            <div class="col-12">
                                <select class="form-control" id="cboWorkShopQ@(itemName)" name="cboWorkShopQ@(itemName)"
                                        data-msg-required="請選擇車間" data-rule-required="true"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboMachineQ@(itemName)">選擇機台</label>
                            <div class="col-12">
                                <select class="form-control" id="cboMachineQ@(itemName)" name="cboMachineQ@(itemName)"
                                        data-msg-required="請選擇機台" data-rule-required="true"></select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboPeopleQ@(itemName)">人員</label>
                            <div class="col-12">
                                <select class="form-control" id="cboPeopleQ@(itemName)" name="cboPeopleQ@(itemName)">
                                    <option value="">-- 請選擇 --</option>
                                </select>
                            </div>

                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtMtlItemNoQ@(itemName)">品號</label>
                            <div class="col-12">

                                <input type="text" class="form-control" id="txtMtlItemNoQ@(itemName)" name="txtMtlItemNoQ@(itemName)" placeholder="請輸入品號" />
                            </div>

                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboMtlItemNameQ@(itemName)">品名</label>
                            <div class="col-12">

                                <input type="text" class="form-control" id="cboMtlItemNameQ@(itemName)" name="cboMtlItemNameQ@(itemName)" placeholder="請輸入品名" />
                            </div>

                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtWoErpFullNoQ@(itemName)">製令</label>
                            <div class="col-12">

                                <input type="text" class="form-control" id="txtWoErpFullNoQ@(itemName)" name="txtWoErpFullNoQ@(itemName)" placeholder="請輸入製令 Ex:5102-20250107001" />
                            </div>

                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtStartDateQ@(itemName)">開始時間</label>
                            <div class="col-12">

                                <input type="text" class="form-control" id="txtStartDateQ@(itemName)" name="txtStartDateQ@(itemName)"
                                       placeholder="請輸入開始時間"
                                       data-msg-required="請輸入開始時間" data-rule-required="true"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))" />
                            </div>

                            <label class="col-12 col-form-label" for="txtEndDateQ@(itemName)">結束時間</label>
                            <div class="col-12">

                                <input type="text" class="form-control" id="txtEndDateQ@(itemName)" name="txtEndDateQ@(itemName)"
                                       placeholder="請輸入結束時間"
                                       data-msg-required="請輸入開始時間" data-rule-required="true"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))" />
                            </div>

                        </div>




                        @*<div class="col-lg-2 col-6 mt-4">
            <button type="button" class="btn btn-primary" onclick="Query@(itemName)()"><i class="fal fa-search"></i>搜尋</button>
        </div>*@
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>


<!--列表-->
<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-header">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);"><i class="fal fa-search"></i>搜尋</a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        @*<a class="btn file-excel auth-excel" href="javascript:Excel@(itemName)();"><i class="fas fa-file-excel"></i>匯出</a>*@
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        @*<th class="text-center" scope="col" style="min-width: 150px;">操作</th>*@
                                        <th class="text-center" scope="col" style="min-width: 75px;">#</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">產品品號</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">產品品名</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">製令</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">條碼</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">站別</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">數量</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">品質</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">機台</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">完工日</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">完工人員</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">加工耗時(s)</th>
                                        
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        @*<div class="pagination" id="page@(itemName)"></div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        let userId@(itemName);
        let companyId@(itemName);
        let userNo@(itemName);

        if (!isMobile) {
            $("#cboProdModeQ@(itemName), #cboProcessQ@(itemName), #cboWorkShopQ@(itemName), #cboMachineQ@(itemName), #cboPeopleQ@(itemName)").select2({
                    dropdownAutoWidth: true,
                    width: "100%"
                });
            }

        $(document).ready(function () {
            Suites.DateDropper("#txtStartDateQ@(itemName), #txtEndDateQ@(itemName)");
            let currentDate = new Date();
            Suites.SetDateDropper("#txtEndDateQ@(itemName)", currentDate);
            currentDate.setDate(currentDate.getDate() - 14);
            Suites.SetDateDropper("#txtStartDateQ@(itemName)", currentDate);

            ComboBoxs.Default("#cboProdModeQ@(itemName)", "@Url.Action("GetProdMode", "MesBasicInformation")", {}, "", "NA", "", "ModeName", "ModeId");
            ComboBoxs.Default("#cboProcessQ@(itemName)", "@Url.Action("GetProcess", "MesBasicInformation")", {}, "", "ALL", "", "ProcessName", "ProcessId");
            ComboBoxs.Default("#cboWorkShopQ@(itemName)", "@Url.Action("GetWorkShop", "MesBasicInformation")", {}, "", "NA", "", "ShopName", "ShopId");
            $("#cboWorkShopQ@(itemName)").change(function () {
                var ShopId = $("#cboWorkShopQ@(itemName)").val();
                ComboBoxs.Default("#cboMachineQ@(itemName)", "@Url.Action("GetMachine", "MesBasicInformation")", { "ShopId": ShopId }, "", "NA", "", "MachineDescFull", "MachineId");
            });
            ComboBoxs.Default("#cboPeopleQ@(itemName)", "@Url.Action("GetUser", "BasicInformation")", {}, "", "NA", "", "UserWithNo", "UserId");


            @*$("#cboWoErpPrefixQ@(itemName)").val("5101")*@
            //Query@(itemName)();
        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;
            let targetUrl = "@Url.Action("GetProcessMenReport", "MesReport")";

            let postData = {
                "MtlItemNo": $("#txtMtlItemNoQ@(itemName)").val(),
                "MtlItemName": $("#cboMtlItemNameQ@(itemName)").val(),
                "WoErpFullNo": $("#txtWoErpFullNoQ@(itemName)").val(),
                "MachineId": $("#cboMachineQ@(itemName)").val(),
                "UserId": $("#cboPeopleQ@(itemName)").val(),
                "ModeId": $("#cboProdModeQ@(itemName)").val(),
                "ProcessId": $("#cboProcessQ@(itemName)").val(),
                "StartDate": $("#txtStartDateQ@(itemName)").val(),
                "FinishDate": $("#txtEndDateQ@(itemName)").val(),
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize
            };
        
            let data = DataAccess.Get(targetUrl, postData, false);
            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;
                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);
                    $.each(data.result, function (i, item) {
                        let _row = (i + 1) + ".";
                        innerHtml += `<tr>
                                        <td class="text-center">${_row}</td>
                                        <td class="text-center">${item.MtlItemNo}</td>
                                        <td class="text-center">${item.MtlItemName}</td>
                                        <td class="text-center">${item.WoErpFullNo}</td>
                                        <td class="text-center">${item.BarcodeNo}</td>
                                        <td class="text-center">${item.ProcessAlias}</td>
                                        <td class="text-center">${item.StationQty}</td>
                                        <td class="text-center">${item.ProdStatus}-${item.StatusName} </td>
                                        <td class="text-center">${item.MachineDesc}</td>
                                        <td class="text-center">${item.FinishDate}</td>
                                        <td class="text-center">${item.FinishUser}</td>
                                        <td class="text-center">${item.CycleTime}</td>
                                        
                                      </tr>`;
                    });
                }
                else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="17" style="background-color: #fff3cd;">
                                        <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            }
            else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));
        }

        

    </script>
                                                        )