@using Business_Manager.Helpers
@{
    string itemName = "ProcessTransferDetail";
    string itemNameText = "生產移轉明細資訊";
    string authority = ViewBag.authority;

    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
         .badge {
             font-size: 90% !important;
         }

         .container {
             margin-left: 0 !important;
         }

         .thead-customized {
             min-width: 75px !important;
             background-color: #ffeeba !important;
             position: relative !important;
             z-index: 1 !important;
             border: none !important;
         }

         .tbody-customized {
             vertical-align: middle !important;
         }

         .baseline .baseline-list {
             padding-bottom: 9.6px !important;
         }

             .baseline .baseline-list:after {
                 border: none !important;
                 top: 27px !important;
             }

         .txt-skyblue {
             font-size: 87.5%;
         }
    </style>
        )

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboModeIdQ@(itemName)">生產模式</label>
                            <div class="col-12">
                                <select class="form-control" id="cboModeIdQ@(itemName)" name="cboModeIdQ@(itemName)">
                                    <option value="">-- 請選擇生產模式 --</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtWoErpNoQ@(itemName)">製令</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtWoErpNoQ@(itemName)" name="txtWoErpNoQ@(itemName)" placeholder="請輸入製令 Ex: 20230825001" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtMtlItemNameQ@(itemName)">部番</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMtlItemNameQ@(itemName)" name="txtMtlItemNameQ@(itemName)" placeholder="請輸入部番" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtBarcodeNoQ@(itemName)">條碼</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtBarcodeNoQ@(itemName)" name="txtBarcodeNoQ@(itemName)" placeholder="請輸入條碼" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtProcessAliasQ@(itemName)">製程別名</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtProcessAliasQ@(itemName)" name="txtProcessAliasQ@(itemName)" placeholder="請輸入製程別名" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtShopDescQ@(itemName)">車間</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtShopDescQ@(itemName)" name="txtShopDescQ@(itemName)" placeholder="請輸入車間" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtMachineDescQ@(itemName)">機台</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMachineDescQ@(itemName)" name="txtMachineDescQ@(itemName)" placeholder="請輸入機台" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboUserIdQ@(itemName)">完工人員</label>
                            <div class="col-12">
                                <select class="form-control" id="cboUserIdQ@(itemName)" name="cboUserIdQ@(itemName)">
                                    <option value="">-- 請選擇完工人員 --</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-form-label">時間</label>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtStartDateQ@(itemName)" name="txtStartDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtEndDateQ@(itemName)" name="txtEndDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-search"></i>套用</button>
                <a class="btn file-excel" href="javascript:Excel@(itemName)();"><i class="fas fa-file-excel"></i>匯出</a>

            </div>
        </div>
    </div>
</div>

<!--列表-->
<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-header">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);"><i class="fal fa-search"></i>搜尋</a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th class="text-center" scope="col" style="min-width: 50px;">#</th>
                                        <th class="text-center" scope="col" style="min-width: 120px;">模式名稱</th>
                                        <th class="text-center" scope="col" style="min-width: 120px;">製令</th>
                                        <th class="text-center" scope="col" style="min-width: 120px;">製令序號</th>
                                        <th class="text-center" scope="col" style="min-width: 120px;">計畫數</th>
                                        <th class="text-center" scope="col" style="min-width: 120px;">製程別名</th>
                                        <th class="text-center" scope="col" style="min-width: 120px;">部番</th>
                                        <th class="text-center" scope="col" style="min-width: 120px;">條碼</th>
                                        <th class="text-center" scope="col" style="min-width: 80px;">狀態</th>

                                        <th class="text-center" scope="col" style="min-width: 120px;">原過站數量</th>
                                        <th class="text-center" scope="col" style="min-width: 120px;">NG數</th>
                                        <th class="text-center" scope="col" style="min-width: 120px;">開工人員</th>
                                        <th class="text-center" scope="col" style="min-width: 120px;">開工時間</th>
                                        <th class="text-center" scope="col" style="min-width: 120px;">完工人員</th>
                                        <th class="text-center" scope="col" style="min-width: 120px;">完工時間</th>
                                        <th class="text-center" scope="col" style="min-width: 120px;">加工工時</th>
                                        <th class="text-center" scope="col" style="min-width: 120px;">機台</th>
                                        <th class="text-center" scope="col" style="min-width: 120px;">車間</th>
                                        <th class="text-center" scope="col" style="min-width: 120px;">平均工時/P</th>
                                        <th class="text-center" scope="col" style="min-width: 120px;">班別</th>
                                        <th class="text-center" scope="col" style="min-width: 120px;">移出數量</th>
                                        <th class="text-center" scope="col" style="min-width: 120px;">移入數量</th>
                                        <th class="text-center" scope="col" style="min-width: 120px;">還原過站數量</th>
                                        <th class="text-center" scope="col" style="min-width: 120px;">完工年</th>
                                        <th class="text-center" scope="col" style="min-width: 120px;">完工月</th>
                                        <th class="text-center" scope="col" style="min-width: 120px;">完工日</th>

                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 50
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        let userId@(itemName);
        let companyId@(itemName);
        let userNo@(itemName);

        if (!isMobile) {
            $("#cboModeIdQ@(itemName), #cboUserIdQ@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });
        }

        $(document).ready(function () {
            GetUserInfo@(itemName)();
            let currentDate = new Date();
            Suites.DatePicker("txtEndDateQ@(itemName)", currentDate);
            currentDate.setDate(currentDate.getDate() - 1);
            Suites.DatePicker("txtStartDateQ@(itemName)", currentDate);

            ComboBoxs.Default("#cboModeIdQ@(itemName)", "@Url.Action("GetProdMode", "MesBasicInformation")", {}, "", "NA", "", "ModeName", "ModeId");
            ComboBoxs.Default("#cboUserIdQ@(itemName)", "@Url.Action("GetUser", "BasicInformation")", { "CompanyId": companyId@(itemName), "Status": "A" }, "", "NA", "", "UserWithDepartment", "UserId");

            //Query@(itemName)();
        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            if ($("#cboModeIdQ@(itemName)").val() == "") {
                alert("請選擇生產模式!", "alert", 0);
                return false;
            }
            let innerHtml = '';
            let pageCount = 0;
            let targetUrl = "@Url.Action("GetTransferDetailData", "MesReport")";

            let postData = {
                "MtlItemName": $("#txtMtlItemNameQ@(itemName)").val(),
                "StartDate": $("#txtStartDateQ@(itemName)").val(),
                "EndDate": $("#txtEndDateQ@(itemName)").val(),
                "ModeId": $("#cboModeIdQ@(itemName)").val(),
                "WoErpFullNo": $("#txtWoErpNoQ@(itemName)").val(),
                "UserId": $("#cboUserIdQ@(itemName)").val(),
                "BarcodeNo": $("#txtBarcodeNoQ@(itemName)").val(),
                "ProcessAlias": $("#txtProcessAliasQ@(itemName)").val(),
                "ShopDesc": $("#txtShopDescQ@(itemName)").val(),
                "MachineDesc": $("#txtMachineDescQ@(itemName)").val(),
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize
            };

            let data = DataAccess.Get(targetUrl, postData, false);
            console.log(55688, data)

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;
                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";
                        innerHtml += `<tr>
                                        <td class="ellipsis" data-toggle="tooltip">${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip">${item.ModeName}</td>
                                        <td class="ellipsis" data-toggle="tooltip">${item.WoErpFullNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip">${item.WoSeq}</td>
                                        <td class="ellipsis" data-toggle="tooltip">${item.PlanQty}</td>
                                        <td class="ellipsis" data-toggle="tooltip">${item.ProcessAlias}</td>
                                        <td class="ellipsis" data-toggle="tooltip">${item.MtlItemName}</td>
                                        <td class="ellipsis" data-toggle="tooltip">${item.BarcodeNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip">${item.StatusName}</td>
                                        <td class="ellipsis" data-toggle="tooltip">${item.StationQty}</td>
                                        <td class="ellipsis" data-toggle="tooltip">${item.NgQty}</td>
                                        <td class="ellipsis" data-toggle="tooltip">${item.StartUser}</td>
                                        <td class="ellipsis" data-toggle="tooltip">${formatDateTime(item.StartDate)}</td>
                                        <td class="ellipsis" data-toggle="tooltip">${isNull@(itemName)(item.FinishUser)}</td>
                                        <td class="ellipsis" data-toggle="tooltip">${isNull@(itemName)(formatDateTime(item.FinishDate))}</td>
                                        <td class="ellipsis" data-toggle="tooltip">${item.CycleTime}</td>
                                        <td class="ellipsis" data-toggle="tooltip">${item.MachineDesc}</td>
                                        <td class="ellipsis" data-toggle="tooltip">${item.ShopDesc}</td>
                                        <td class="ellipsis" data-toggle="tooltip">${item.AvgCycleTimePerPiece}</td>
                                        <td class="ellipsis" data-toggle="tooltip">${isNull@(itemName)(item.ShiftName)}</td>
                                        <td class="ellipsis" data-toggle="tooltip">${item.TransferOutQty}</td>
                                        <td class="ellipsis" data-toggle="tooltip">${item.TransferInQty}</td>
                                        <td class="ellipsis" data-toggle="tooltip">${item.OriginStationQty}</td>
                                        <td class="ellipsis" data-toggle="tooltip">${item.FinishYear}</td>
                                        <td class="ellipsis" data-toggle="tooltip">${item.FinishMonth}</td>
                                        <td class="ellipsis" data-toggle="tooltip">${item.FinishDay}</td>

                                      </tr>`;
                    });
                }
                else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="22" style="background-color: #fff3cd;">
                                        <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            }
            else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));
        }

        function formatDateTime(dateTime) {
            if (!dateTime) return '';
            if (typeof dateTime === 'string') {
                return dateTime;
            }
            const date = new Date(dateTime);
            return date.toLocaleString('zh-TW', {
                year: 'numeric',
                month: '2-digit',
                day: '2-digit',
                hour: '2-digit',
                minute: '2-digit',
                second: '2-digit',
                hour12: false
            }).replace(/\//g, '-');
        }

        function isNull@(itemName)(status) {
            let s = "";
            if (status == null) {
                s = ""
            } else {
                s = status
            }
            return s;
        }

        function GetUserInfo@(itemName)() {
            let targetUrl = "@Url.Action("GetLoginByKey", "User")";
            let postData = {
                "UserNo": $.cookie("Login"),
                "KeyText": $.cookie("LoginKey")
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                userId@(itemName) = data.returnData.UserId;
                companyId@(itemName) = data.returnData.CompanyId;
                userNo@(itemName) = data.returnData.UserNo;
            } else {
                alert(data.msg, "alert", 0);
            }
        }

        function Excel@(itemName)() {
            let targetUrl = "@Url.Action("ExcelTransferDetailData", "MesReport")";
            let postData = {
                "MtlItemName": $("#txtMtlItemNameQ@(itemName)").val(),
                "StartDate": $("#txtStartDateQ@(itemName)").val(),
                "EndDate": $("#txtEndDateQ@(itemName)").val(),
                "ModeId": $("#cboModeIdQ@(itemName)").val(),
                "WoErpFullNo": $("#txtWoErpNoQ@(itemName)").val(),
                "UserId": $("#cboUserIdQ@(itemName)").val(),
                "BarcodeNo": $("#txtBarcodeNoQ@(itemName)").val(),
                "ProcessAlias": $("#txtProcessAliasQ@(itemName)").val(),
                "ShopDesc": $("#txtShopDescQ@(itemName)").val(),
                "MachineDesc": $("#txtMachineDescQ@(itemName)").val()
            };

            let data = DataAccess.EditContinued(targetUrl, postData, false);

            if (data) {
                alert("匯出成功!!!!", "success")
                FileAccess.AjaxDownload(targetUrl, postData, false);
            }
        }


        function Return@(itemName)() {
            window.location.href = "@Url.Action("Index", "MesReport")";
        }
    </script>
        )