@using Business_Manager.Helpers
@{
    string itemName = "ProductQuery";
    string itemNameText = "細菌人1號";
    string authority = ViewBag.authority;

    string WoErpFullNo = Request["WoErpFullNo"] ?? "";

    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
        table.gridtable {
             font-family: verdana,arial,sans-serif;
             font-size: 11px;
             color: #333333;
             border-width: 1px;
             border-color: #666666;
             border-collapse: collapse;
         }

             table.gridtable th {
                 text-align: center;
                 align-content: center;
                 align-items: center;
                 border-width: 1px;
                 padding: 8px;
                 border-style: solid;
                 /* border-color: #666666; */
                 border-color: black;
                 background-color: #dedede;
             }

             table.gridtable td {
                 border-width: 1px;
                 padding: 8px;
                 border-style: solid;
                 /* border-color: #666666; */
                 border-color: black;
                 background-color: #ffffff;
             }

            table.gridtable tc {
                text-align: center;
                align-content: center;
                align-items: center;
                border-width: 1px;
                padding: 8px;
                /*border-style: solid;*/
                /* border-color: #666666; */
                border-color: black;
                background-color: #dedede;
            }

         caption {
             font-size: 16px;
             font-weight: bold;
             line-height: 2;
             border: 1px solid #e5e9ec;
             padding: 1rem;
             caption-side: top;
         }

         .flex-column span {
             color: #404040;
         }

         .table-head {
             background-color: #ffeeba !important;
             font-weight: bold;
         }

         .card-header .sub-title {
             display: block;
             font-size: 65%;
             color: #969696;
         }

             .card-header .sub-title .sub-text {
                 color: #e06666;
                 font-weight: bold;
             }

         .anchor-text {
             color: #337ab7;
         }

         iframe {
             width: 100%;
             height: auto;
             aspect-ratio: 16 / 9;
         }
        .align-left {
            text-align: left;
        }

        .align-right {
            text-align: right;
        }

    </style>
                        )

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <span style="font-size:200%;font-family:KaiTi;color:purple"><b>細菌人1號</b></span>
    </div>
</div>

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        @*<div class="form-group row">
                            <label class="col-12 col-form-label" for="cboModeIdQ@(itemName)">生產模式</label>
                            <div class="col-12">
                                <select class="form-control" id="cboModeIdQ@(itemName)" name="cboModeIdQ@(itemName)"></select>
                            </div>
                        </div>*@
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtWoErpFullNoQ@(itemName)">製令單號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtWoErpFullNoQ@(itemName)" name="txtWoErpFullNoQ@(itemName)" placeholder="請輸入製令單號" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtMtlItemNoQ@(itemName)">品號/品名</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMtlItemNoQ@(itemName)" name="txtMtlItemNoQ@(itemName)" placeholder="請輸入品號/品名" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">製令日期 <input type="checkbox" id="cbxUseDate@(itemName)" checked /></label>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtStartDateQ@(itemName)" name="txtStartDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtEndDateQ@(itemName)" name="txtEndDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalView@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body"></div>
            </div>

        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);">
                            <i class="fal fa-search"></i>搜尋
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="gridtable" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>品號</th>
                                        <th>品名</th>
                                        <th style="padding: 0; min-width: 200px;">
                                            <table class="gridtable">
                                                <thead>
                                                    <tr>
                                                        <tc>製令</tc>

                                                    </tr>
                                                </thead>
                                            </table>
                                        </th>
                                        @*<th>製令</th>*@
                                        <th>總數</th>
                                        <th>投入數</th>
                                        <th style="padding: 0; min-width: 200px;">
                                            <table class="gridtable">
                                                <thead>
                                                    <tr>
                                                        <tc>製程</tc>

                                                    </tr>
                                                </thead>
                                            </table>
                                        </th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalView@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body">
                   
                </div>
            </div>

        </div>
    </div>
</div>
@Html.Resource("js",
    @<script>

        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";
        var MoId = 0

        $(document).ready(function () {
            let woErpFullNo = "@WoErpFullNo";
            let currentDate = new Date();

            if (woErpFullNo) {
                $("#txtWoErpFullNoQ@(itemName)").val(woErpFullNo);
                $("#cbxUseDate@(itemName)").prop("checked", false);
            }

            Suites.DateDropper("#txtStartDateQ@(itemName), #txtEndDateQ@(itemName)");
            Suites.SetDateDropper("#txtEndDateQ@(itemName)", currentDate);
            currentDate.setDate(currentDate.getDate() - 7);
            Suites.SetDateDropper("#txtStartDateQ@(itemName)", currentDate);

            ComboBoxs.Default("#cboModeIdQ@(itemName)", "@Url.Action("GetProdMode", "MesBasicInformation")", {}, "", "NA", "", "txtProdModeWithText", "ModeId");

            if (!isMobile) {
                $("#cboModeIdQ@(itemName)").select2({
                    dropdownAutoWidth: true,
                    width: "100%"
                });
            }

            Query@(itemName)();
        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let targetUrl = "@Url.Action("GetProductQuery", "MesReport")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "ModeId": $("#cboModeIdQ@(itemName)").val(),
                "WoErpFullNo": $("#txtWoErpFullNoQ@(itemName)").val(),
                "MtlItemNo": $("#txtMtlItemNoQ@(itemName)").val(),
                "StartDate": ($("#cbxUseDate@(itemName)").is(":checked") ? $("#txtStartDateQ@(itemName)").val() : ""),
                "EndDate": ($("#cbxUseDate@(itemName)").is(":checked") ? $("#txtEndDateQ@(itemName)").val() : "")
            };
            let data = DataAccess.Get(targetUrl, postData, false);
          
            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";
                       
                        MoId = item.MoId
                        innerHtml += `<tr>
                                         <th>${_row}</th>
                                         <td>${item.MtlItemNo}</td>
                                         <td>${item.MtlItemName}</td>
                                         <td>${item.WoErpFullNo}(${item.WoSeq})</td>
                                         <td style="text-align: center;">${item.Quantity}</td>
                                         <td style="text-align: center;">${item.InputQty}</td>
                                         <td>
                                          <table class="table table-bordered table-sm mb-0 table-non-rwd table-striped-custom table-row-detail">
                                            <tbody>
                                              ${DetailData@(itemName)(item.ProcessDetail)}
                                            </tbody>
                                          </table>
                                        </td>
                                        <td><a class="active-link" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalView@(itemName)" href="javascript:void(0);" onclick="Read@(itemName)('${item.MoId}')">
                                                <i class="far fa-eye"></i>
                                            </a>
                                        </td>
                                       </tr>`;
                    });

                    innerHtml += `<div class="pagination" id="page@(itemName)"></div>`
                } else {
                    innerHtml += `<div class="col-12">
                                    <div class="table-custom">
                                      <table class="table table-bordered table-striped table-sticky">
                                        <tr>
                                          <td class="text-center" colspan="11" style="background-color: #fff3cd;">
                                            <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                          </td>
                                        </tr>
                                      </table>
                                    </div>
                                  </div>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));
        }

     
        function DetailData@(itemName)(source) {

            let html = '';

            if (source) {
                let json = JSON.parse(source);

                for (let x = 0; x < json.data.length; x++) {
                    html += `<tr>
                               <td style="width: 50px;text-align: left;">${json.data[x].ProcessId} ${json.data[x].ProcessAlias}</td>

                             </tr>`;
                }
            }

             return html;

        }

        function Read@(itemName)(MoId) {
            let targetUrl = "@Url.Action("GetProductQuery", "MesReport")";
            let postData = {
                "MoId": MoId
            };
            
            let data = DataAccess.Get(targetUrl, postData, false);
            let innerHtml = '';
            
            console.log(MoId, data.result);
                    innerHtml += `<div class="baseline baseline-border">`;
            $.each(data.result, function (i, item) {
                $("#modalView@(itemName) h5[class='modal-title']").html("製令: " + item.WoErpFullNo + "(" + item.WoSeq + ")");
                innerHtml += `
                                        <table class="gridtable">
                                            <tr>
                                                <th style="text-align: left;">[MoId]</th>
                                                <td align="center">${item.MoId}</td>
                                            </tr>
                                            <tr>
                                                <th style="text-align: left;">[MtlItemNo]品號</th>
                                                <td align="center">${item.MtlItemNo}</td>
                                            </tr>
                                            <tr>
                                                <th style="text-align: left;">[MtlItemName]品名</th>
                                                <td align="center">${item.MtlItemName}</td>
                                            </tr>
                                            <tr>
                                                <th style="text-align: left;">[MtlItemSpec]</th>
                                                <td align="center">${item.MtlItemSpec}</td>
                                            </tr>
                                            <tr>
                                                <th style="text-align: left;">[InputQty]投入數</th>
                                                <td align="center">${item.InputQty}</td>
                                            </tr>
                                            <tr>
                                                <th style="text-align: left;">[Quantity]良品數</th>
                                                <td align="center">${item.Quantity}</td>
                                            </tr>
                                            <tr>
                                                <th style="text-align: left;">[PlanQty]計畫數</th>
                                                <td align="center">${item.PlanQty}</td>
                                            </tr>
                                            <tr>
                                                <th style="text-align: left;">[equisitionSetQty]</th>
                                                <td align="center">${item.RequisitionSetQty}</td>
                                            </tr>
                                            <tr>
                                                <th style="text-align: left;">[DocDate]</th>
                                                <td align="center">${new Date(item.DocDate).toISOString().substring(0, 10)}</td>
                                            </tr>
                                        </table>`;
               
            });
           
                $("#modalView@(itemName) div[class='card-body']").html(innerHtml);
            } 
        
        
</script>
      )