
@using Business_Manager.Helpers
@{
    string itemName = "RBAnnualProcurementReport";
    string itemNameText = "年購粗胚明細";
    string authority = ViewBag.authority;


    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
         .btn-secondary {
             color: #6c757d;
             background-color: #fff;
             border-color: #6c757d;
         }
    </style>
                                                )

<input type="hidden" id="pageAuthority" value="@authority" />

<!--搜尋內容-->
<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body" style="max-height: 450px;overflow-y: auto;">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboReqNameQ@(itemName)">單據名稱</label>
                            <div class="col-12">
                                <select class="form-control" id="cboReqNameQ@(itemName)" name="cboReqNameQ@(itemName)">
                                    <option value="">-- 請選擇單據名稱 --</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtReqNoQ@(itemName)">請購單號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtReqNoQ@(itemName)" name="txtReqNoQ@(itemName)" placeholder="請輸入請購單號 EX:3108-2025012301 " />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboReqDepNoQ@(itemName)">請購部門</label>
                            <div class="col-12">
                                <select class="form-control" id="cboReqDepNoQ@(itemName)" name="cboReqDepNoQ@(itemName)">
                                    <option value="">-- 請選擇請購部門 --</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboReqUserNoQ@(itemName)">請購人員</label>
                            <div class="col-12">
                                <select class="form-control" id="cboReqUserNoQ@(itemName)" name="cboReqUserNoQ@(itemName)">
                                    <option value="">-- 請選擇請購人員 --</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtSearchKeyQ@(itemName)">品號/品名/規格</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtSearchKeyQ@(itemName)" name="txtSearchKeyQ@(itemName)" placeholder="請輸入品號/品名/規格" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboAccountingCategoryNoQ@(itemName)">會計分類名稱</label>
                            <div class="col-12">
                                <select class="form-control" id="cboAccountingCategoryNoQ@(itemName)" name="cboAccountingCategoryNoQ@(itemName)">
                                    <option value="">-- 請選擇會計分類名稱 --</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboWarehouseCategoryNoQ@(itemName)">倉管分類名稱</label>
                            <div class="col-12">
                                <select class="form-control" id="cboWarehouseCategoryNoQ@(itemName)" name="cboWarehouseCategoryNoQ@(itemName)">
                                    <option value="">-- 請選擇倉管分類名稱 --</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboBusinessCategoryNoQ@(itemName)">業務分類名稱</label>
                            <div class="col-12">
                                <select class="form-control" id="cboBusinessCategoryNoQ@(itemName)" name="cboBusinessCategoryNoQ@(itemName)">
                                    <option value="">-- 請選擇業務分類名稱 --</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboManagementCategoryNoQ@(itemName)">生管分類名稱</label>
                            <div class="col-12">
                                <select class="form-control" id="cboManagementCategoryNoQ@(itemName)" name="cboManagementCategoryNoQ@(itemName)">
                                    <option value="">-- 請選擇生管分類名稱 --</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboPurUserNoQ@(itemName)">採購人員</label>
                            <div class="col-12">
                                <select class="form-control" id="cboPurUserNoQ@(itemName)" name="cboPurUserNoQ@(itemName)">
                                    <option value="">-- 請選擇採購人員 --</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtPurVendorNameQ@(itemName)">廠商簡稱</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtPurVendorNameQ@(itemName)" name="txtPurVendorNameQ@(itemName)" placeholder="請輸入廠商簡稱" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-form-label">請購日期 <input type="checkbox" id="cbxReqDate@(itemName)" /></label>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtStartReqDateQ@(itemName)" name="txtStartReqDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtEndReqDateQ@(itemName)" name="txtEndReqDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
                <button type="button" class="btn btn-success" onclick="Excel@(itemName)()" style="margin: auto;"><i class="fas fa-file-excel"></i>匯出</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);">
                            <i class="fal fa-search"></i>搜尋
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky table-stack " style="text-align: center" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 60px;">#</th>
                                        <th scope="col" style="min-width: 100px;">請購日期</th>
                                        <th scope="col" style="min-width: 150px;">單據名稱</th>
                                        <th scope="col" style="min-width: 180px;">請購單號</th>
                                        <th scope="col" style="min-width: 100px;">確認碼</th>
                                        <th scope="col" style="min-width: 125px;">確認者編號</th>
                                        <th scope="col" style="min-width: 125px;">確認者</th>
                                        <th scope="col" style="min-width: 125px;">部門編號</th>
                                        <th scope="col" style="min-width: 125px;">請購部門</th>
                                        <th scope="col" style="min-width: 125px;">人員工號</th>
                                        <th scope="col" style="min-width: 125px;">請購人員</th>
                                        <th scope="col" style="min-width: 125px;">請購備註</th>
                                        <th scope="col" style="min-width: 125px;">品項序號</th>
                                        <th scope="col" style="min-width: 200px;">品號</th>
                                        <th scope="col" style="min-width: 150px;">品名</th>
                                        <th scope="col" style="min-width: 280px;">規格</th>
                                        <th scope="col" style="min-width: 125px;">會計分類名稱</th>
                                        <th scope="col" style="min-width: 125px;">倉管分類名稱</th>
                                        <th scope="col" style="min-width: 125px;">業務分類名稱</th>
                                        <th scope="col" style="min-width: 125px;">生管分類名稱</th>
                                        <th scope="col" style="min-width: 125px;">請購單位</th>
                                        <th scope="col" style="min-width: 125px;">請購數量</th>
                                        <th scope="col" style="min-width: 125px;">專案代號</th>
                                        <th scope="col" style="min-width: 125px;">專案名稱</th>
                                        <th scope="col" style="min-width: 125px;">品項備註</th>
                                        <th scope="col" style="min-width: 125px;">請購單創建日</th>
                                        <th scope="col" style="min-width: 125px;">請購單創建者編號</th>
                                        <th scope="col" style="min-width: 125px;">請購單創建者</th>
                                        <th scope="col" style="min-width: 125px;">結案碼</th>
                                        <th scope="col" style="min-width: 125px;">課稅別</th>
                                        <th scope="col" style="min-width: 125px;">幣別</th>
                                        <th scope="col" style="min-width: 125px;">匯率</th>
                                        <th scope="col" style="min-width: 125px;">營業稅率</th>
                                        <th scope="col" style="min-width: 125px;">人員帳號</th>
                                        <th scope="col" style="min-width: 125px;">採購人員</th>
                                        <th scope="col" style="min-width: 125px;">廠商編號</th>
                                        <th scope="col" style="min-width: 125px;">廠商簡稱</th>
                                        <th scope="col" style="min-width: 125px;">採購數量</th>
                                        <th scope="col" style="min-width: 125px;">採購單位</th>
                                        <th scope="col" style="min-width: 125px;">採購幣別</th>
                                        <th scope="col" style="min-width: 125px;">採購單價</th>
                                        <th scope="col" style="min-width: 125px;">採購金額</th>
                                        <th scope="col" style="min-width: 125px;">本幣未稅採購金額</th>                                        
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        $(document).ready(function () {


            //時間
            let currentDate = new Date();
            Suites.DateDropper("#txtStartReqDateQ@(itemName), #txtEndReqDateQ@(itemName)");
            Suites.SetDateDropper("#txtEndReqDateQ@(itemName)", currentDate);
            currentDate.setDate(currentDate.getDate() - 7);
            Suites.SetDateDropper("#txtStartReqDateQ@(itemName)", currentDate);

            //單據名稱
            ComboBoxs.Default("#cboReqNameQ@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "PrErpPrefix", "Condition": "31" }, "", "NA", "", "PrErpPrefix", "PrErpPrefix");
            //請購部門
            ComboBoxs.Default("#cboReqDepNoQ@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "Department", "Status": "A" }, "", "NA", "", "DepartmentName", "DepartmentNo");
            //請購人員
            ComboBoxs.Default("#cboReqUserNoQ@(itemName)", "@Url.Action("GetUserByAuthority", "BasicInformation")", { "FunctionCode": "PurchaseRequisition", "DetailCode": "add", "Status": "A" }, "", "NA", "", "UserWithNo", "UserNo");
            //會計分類名稱
            ComboBoxs.Default("#cboAccountingCategoryNoQ@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "MtlItemType", "Condition": "1" }, "", "NA", "", "TypeName", "TypeNo");
            //倉管分類名稱
            ComboBoxs.Default("#cboWarehouseCategoryNoQ@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "MtlItemType", "Condition": "2" }, "", "NA", "", "TypeName", "TypeNo");
            //業務分類名稱
            ComboBoxs.Default("#cboBusinessCategoryNoQ@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "MtlItemType", "Condition": "3" }, "", "NA", "", "TypeName", "TypeNo");
            //生管分類名稱
            ComboBoxs.Default("#cboManagementCategoryNoQ@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "MtlItemType", "Condition": "4" }, "", "NA", "", "TypeName", "TypeNo");
            //採購人員
            ComboBoxs.Default("#cboPurUserNoQ@(itemName)", "@Url.Action("GetUserByAuthority", "BasicInformation")", { "FunctionCode": "PurchaseRequisition", "DetailCode": "add", "Status": "A" }, "", "NA", "", "UserWithNo", "UserNo");
            

            //搜尋動作
            Query@(itemName)();


            
        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let targetUrl = "@Url.Action("GetRBAnnualProcurementReport", "MesReport")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "StartReqDate": ($("#cbxReqDate@(itemName)").is(":checked") ? $("#txtStartReqDateQ@(itemName)").val() : ""),
                "EndReqDate": ($("#cbxReqDate@(itemName)").is(":checked") ? $("#txtEndReqDateQ@(itemName)").val() : ""),
                "ReqName": $("#cboReqNameQ@(itemName)").val(),
                "ReqNo": $("#txtReqNoQ@(itemName)").val(),
                "ReqDepNo": $("#cboReqDepNoQ@(itemName)").val(),
                "ReqUserNo": $("#cboReqUserNoQ@(itemName)").val(),
                "SearchKey": $("#txtSearchKeyQ@(itemName)").val(),
                "AccountingCategoryNo": $("#cboAccountingCategoryNoQ@(itemName)").val(),
                "WarehouseCategoryNo": $("#cboWarehouseCategoryNoQ@(itemName)").val(),
                "BusinessCategoryNo": $("#cboBusinessCategoryNoQ@(itemName)").val(),
                "ManagementCategoryNo": $("#cboManagementCategoryNoQ@(itemName)").val(),
                "PurUserNo": $("#cboPurUserNoQ@(itemName)").val(),
                "PurVendorName": $("#txtPurVendorNameQ@(itemName)").val()                
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr>
                                        <td><span class="stack-title">#</span>${_row}</td>
                                        <td><span class="stack-title">請購日期</span>${item.ReqDate}</td>
                                        <td><span class="stack-title">單據名稱</span>${item.ReqName}</td>
                                        <td><span class="stack-title">請購單號</span>${item.ReqNo}</td>
                                        <td><span class="stack-title">確認碼</span>${item.ConfirmationCode}</td>
                                        <td><span class="stack-title">確認者編號</span>${item.ConfirmationUserNo}</td>
                                        <td><span class="stack-title">確認者</span>${item.ConfirmationUserName}</td>
                                        <td><span class="stack-title">部門編號</span>${item.ReqDepNo}</td>
                                        <td><span class="stack-title">請購部門</span>${item.ReqDepName}</td>
                                        <td><span class="stack-title">人員工號</span>${item.ReqUserNo}</td>
                                        <td><span class="stack-title">請購人員</span>${item.ReqUserName}</td>
                                        <td><span class="stack-title">請購備註</span>${item.ReqRemark}</td>
                                        <td><span class="stack-title">品項序號</span>${item.ReqLineNo}</td>
                                        <td><span class="stack-title">品號</span>${item.MtlItemNo}</td>
                                        <td><span class="stack-title">品名</span>${item.MtlItemName}</td>
                                        <td><span class="stack-title">規格</span>${item.MtlItemSpec}</td>
                                        <td><span class="stack-title">會計分類名稱</span>${item.AccountingCategoryName}</td>
                                        <td><span class="stack-title">倉管分類名稱</span>${item.WarehouseCategoryName}</td>
                                        <td><span class="stack-title">業務分類名稱</span>${item.BusinessCategoryName}</td>
                                        <td><span class="stack-title">生管分類名稱</span>${item.ManagementCategoryName}</td>
                                        <td><span class="stack-title">請購單位</span>${item.ReqUnit}</td>
                                        <td><span class="stack-title">請購數量</span>${item.ReqQty}</td>
                                        <td><span class="stack-title">專案代號</span>${item.ProjectCode}</td>
                                        <td><span class="stack-title">專案名稱</span>${item.ProjectName}</td>
                                        <td><span class="stack-title">品項備註</span>${item.ReqLineRemark}</td>
                                        <td><span class="stack-title">請購單創建日</span>${item.ReqCreateDate}</td>
                                        <td><span class="stack-title">請購單創建者編號</span>${item.ReqCreateUserNo}</td>
                                        <td><span class="stack-title">請購單創建者</span>${item.ReqCreateUserName}</td>
                                        <td><span class="stack-title">結案碼</span>${item.CaseCloseCode}</td>
                                        <td><span class="stack-title">課稅別</span>${item.TaxType}</td>
                                        <td><span class="stack-title">幣別</span>${item.CurrencyType}</td>
                                        <td><span class="stack-title">匯率</span>${item.ExchangeRate}</td>
                                        <td><span class="stack-title">營業稅率</span>${item.BusinessTaxRate}</td>
                                        <td><span class="stack-title">人員帳號</span>${item.PurUserNo}</td>
                                        <td><span class="stack-title">採購人員</span>${item.PurUserName}</td>
                                        <td><span class="stack-title">廠商編號</span>${item.PurVendorNo}</td>
                                        <td><span class="stack-title">廠商簡稱</span>${item.PurVendorName}</td>
                                        <td><span class="stack-title">採購數量</span>${item.PurQty}</td>
                                        <td><span class="stack-title">採購單位</span>${item.PurUnit}</td>
                                        <td><span class="stack-title">採購幣別</span>${item.PurCurrencyType}</td>
                                        <td><span class="stack-title">採購單價</span>${item.PurPrice}</td>
                                        <td><span class="stack-title">採購金額</span>${item.PurAmount}</td>
                                        <td><span class="stack-title">本幣未稅採購金額</span>${item.LocalCurrencyUntaxedPurAmount}</td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="43" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));
        }


        function Excel@(itemName)() {
            let targetUrl = "@Url.Action("ExcelRBAnnualProcurementReport", "MesReport")";
            let postData = {
                "OrderBy": "",
                "PageIndex":  -1,
                "PageSize": -1,
                "StartReqDate": ($("#cbxReqDate@(itemName)").is(":checked") ? $("#txtStartReqDateQ@(itemName)").val() : ""),
                "EndReqDate": ($("#cbxReqDate@(itemName)").is(":checked") ? $("#txtEndReqDateQ@(itemName)").val() : ""),
                "ReqName": $("#cboReqNameQ@(itemName)").val(),
                "ReqNo": $("#txtReqNoQ@(itemName)").val(),
                "ReqDepNo": $("#cboReqDepNoQ@(itemName)").val(),
                "ReqUserNo": $("#cboReqUserNoQ@(itemName)").val(),
                "SearchKey": $("#txtSearchKeyQ@(itemName)").val(),
                "AccountingCategoryNo": $("#cboAccountingCategoryNoQ@(itemName)").val(),
                "WarehouseCategoryNo": $("#cboWarehouseCategoryNoQ@(itemName)").val(),
                "BusinessCategoryNo": $("#cboBusinessCategoryNoQ@(itemName)").val(),
                "ManagementCategoryNo": $("#cboManagementCategoryNoQ@(itemName)").val(),
                "PurUserNo": $("#cboPurUserNoQ@(itemName)").val(),
                "PurVendorName": $("#txtPurVendorNameQ@(itemName)").val()
            };

            let data = DataAccess.EditContinued(targetUrl, postData, false);

            if (data) {
                alert("匯出成功!!!!", "success")
                FileAccess.AjaxDownload(targetUrl, postData, false);
            }
        }

    </script>
                                )
