@using Business_Manager.Helpers
@{
    string itemName = "SaleRankingManagement";
    string itemNameText = "業務排行榜";
    string authority = ViewBag.authority;
    ViewBag.Title = itemNameText;
}
@Html.Resource("css",
        @<link href="@Url.Content("~/Content/select2/4.1.0-rc.0/select2.min.css")" rel="stylesheet" />
                                        )
@Html.Resource("js",
        @<script src="@Url.Content("~/Scripts/select2/4.1.0-rc.0/select2.full.min.js")"></script>
                                )
<link href="@Url.Content("~/Content/dhtmlx/suite.commercial/7.3.8/suite.min.css")" rel="stylesheet" />
<script src="@Url.Content("~/Scripts/dhtmlx/suite.commercial/7.3.8/suite.min.js")"></script>


@Html.Resource("css",
    @<style>
         .container, .container-lg, .container-md, .container-sm, .container-xl {
             max-width: 100%;
         }

         .boxGroup {
             width: 100%;
         }

         .chartBox {
             height: 30vh;
             /*transform: scale(0.6);*/
         }
         .noAmount{
             display:flex;
             justify-content:center;
             align-items:center;
             font-size:24px;
             letter-spacing:10px;
         }

         @@media(max-width: 1370px) {
             .chartBox {
                 height: 60vh;
                 /*transform: scale(0.6);*/
             }
         }

         .chartBoxBig {
             position: fixed;
             z-index: 998;
             top: 23%;
             left: 18%;
             height: 60vh;
             width: 60vw;
             padding: unset;
         }

         .dxBg {
             background-color: #454545;
         }

         .TimeTitle {
             display: inline-block;
             font-size: 24px;
             letter-spacing: 5px;
             margin-left: 10px;
         }

         .chartTitle {
             text-align: center;
             padding: 10px;
             letter-spacing: 10px;
             border: 1px solid #E4E4E4
         }

         @@media(max-width: 460px) {
             .TimeTitle {
                 font-size: 16px;
                 margin-top: 10px;
             }
         }

         .closeButton {
             display: none;
             position: fixed;
             z-index: 999;
             right: 23.5%;
             top: 22%;
             font-size: 48px;
             cursor: pointer;
         }

         .dhx_tooltip {
             z-index: 9999 !important;
         }

         .ranking {
             width: 27%;
             background-color: white;
             padding: 15px 15px;
             border: 1px solid #e4e4e4;
         }

         @@media(max-width: 1370px) {
             .ranking {
                 width: 100%;
             }
         }

         .summaryChart {
             width: 73%;
         }

         @@media(max-width: 1370px) {
             .summaryChart {
                 width: 100%;
             }
         }

        #SaleOrder, #DeliveryOrder, #ReceiveOrder, #CollectionOrder {
            display: flex;
            justify-content: space-around;
            border: 1px solid #e4e4e4;
            padding: 20px 10px;
        }

         @@media(max-width: 1370px) {
            #SaleOrder, #DeliveryOrder, #ReceiveOrder, #CollectionOrder {
                justify-content: center;
                flex-direction: column;
            }
         }

         .rankingList {
             height: 460px;
             overflow: auto;
         }

         @@media(max-width: 1370px) {
             .rankingList {
                 height: 115px;
                 overflow: auto;
             }
         }



         .itemTitle {
             font-size: 20px;
             text-align: center;
             letter-spacing: 9px;
         }
        .Currency {
            font-size: 16px;
        }

        .lumpSum {
            font-size: 16px;
            text-align: center;
            letter-spacing: 3px;
            font-weight: 700;
            margin-bottom: 20px;
        }

         .winner {
             width: 90%;
             margin: auto;
             font-size: 18px;
             text-align: center;
             display: flex;
             justify-content: space-between;
             align-items: center;
             padding-top: 5px;
             padding-bottom: 8px;
             border-bottom: 1px solid #f2f2ff;
         }

             .winner i {
                 width: 12%;
                 margin-right: 10px;
             }

         .salesName {
             width: 25%;
             font-size: 14px;
             text-align: left;
         }

         .complianceRate {
             width: 30%;
             font-size: 14px;
             text-align: left;
         }

         .salesScore {
             width: 35%;
             font-size: 12px;
             text-align: right;
         }

         .during, .nowMoon {
             display: flex;
             justify-content: space-between;
         }


         @@media(max-width: 1370px) {
             .winner {
                 justify-content: space-between;
                 width: 40%;
             }


                 .salesName {
                     width: 25%;
                 }

                 .complianceRate {
                     width: 25%;
                 }

                 .salesScore {
                     width: 38%;
                 }
         }

         @@media(max-width: 768px) {
             .winner {
                 width: 55%;
             }
         }

         @@media(max-width: 600px) {
             .winner {
                 width: 80%;
             }
         }

         @@media(max-width: 400px) {
             .winner {
                 flex-wrap:wrap;
             }
            .salesScore {
                width: 100%;
            }
         }

         .summaryChart {
             overflow: auto;
         }

         .toast-message {
             font-size: 14px;
         }

         .seeMore {
             display: none;
         }

         @@media(max-width: 1370px) {
             .seeMore {
                 display: block;
             }
         }

         .showMore {
             height: unset;
         }
    </style>
                                                                )


<input type="hidden" id="pageAuthority" value="@authority" />
<input type="hidden" id="BarcodeListView" value="" />


<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-radius: 0.3rem;">
            <div class="modal-header">
                <h5 class="modal-title" style="font-size: 24px;">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">公司</label>
                            <div class="col-lg-3 col-md-4 col-6 NTShow">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    中揚
                                    <input type="checkbox" id="cbxCompanyQ@(itemName)2" name="cbxCompanyQ@(itemName)" value="2" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6 NTShow">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    紘立
                                    <input type="checkbox" id="cbxCompanyQ@(itemName)3" name="cbxCompanyQ@(itemName)" value="3" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6 CNYShow">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    晶彩
                                    <input type="checkbox" id="cbxCompanyQ@(itemName)4" name="cbxCompanyQ@(itemName)" value="4" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboPerformanceGoalsQ@(itemName)">績效目標設定</label>
                            <div class="col-12">
                                <select class="form-control" id="cboPerformanceGoalsQ@(itemName)" name="cboPerformanceGoalsQ@(itemName)"
                                        data-msg-required="請選擇目標類別" data-rule-required="true"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">時間設定</label>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtStartMoonQ@(itemName)" name="txtStartCreateDateQ@(itemName)" style="font-size: 14px;"
                                       data-msg-extraRegex="請輸入正確的日期格式"
                                       readonly />
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtEndMoonQ@(itemName)" name="txtEndCreateDateQ@(itemName)" style="font-size: 14px;"
                                       data-msg-extraRegex="請輸入正確的日期格式"
                                       readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="form-label col-12" for="chkSaleRankingQ@(itemName)">請選擇採用模式</label>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 col-6">
                                        <label class="control control-solid control-solid-info control--radio col-12">
                                            單據代表業務模式
                                            <input type="radio" id="chkSaleRankingQ@(itemName)V1" name="chkSaleRankingQ@(itemName)" value="V1"
                                                   data-msg-required="請選擇採用模式" data-rule-required="true" />
                                            <span class="control__indicator"></span>
                                        </label>
                                    </div>
                                    <div class="col-lg-3 col-md-4 col-6">
                                        <label class="control control-solid control-solid-info control--radio col-12">
                                            客戶代表業務模式
                                            <input type="radio" id="chkSaleRankingQ@(itemName)V2" name="chkSaleRankingQ@(itemName)" value="V2"
                                                   data-msg-required="請選擇採用模式" data-rule-required="true" checked />
                                            <span class="control__indicator"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboExcludeStatusQ@(itemName)">是否扣除集團交易</label>
                            <div class="col-12">
                                <select class="form-control" id="cboExcludeStatusQ@(itemName)" name="cboExcludeStatusQ@(itemName)"
                                        data-msg-required="請選擇是否扣除集團交易" data-rule-required="true"></select>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="InitData@(itemName)()" style="margin: auto;padding: 6px 12px;border-radius: 3px;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalLogin@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="border-radius: 0.3rem;">
            <div class="modal-header">
                <h5 class="modal-title" style="font-size: 24px;">登入</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="form">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtUserNo">使用者編號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtUserNo" name="txtUserNo" style="font-size: 14px;"
                                       data-rule-required="true" data-msg-required="請輸入使用者編號" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtPassword">密碼 <i class="fas fa-eye seePassword" onmouseover="showPassword()" onmouseout="closePassword()"></i></label>
                            <div class="col-12 inputPassword">
                                <input type="password" class="form-control" id="txtPassword" name="txtPassword" style="font-size: 14px;"
                                       data-rule-required="true" data-msg-required="請輸入密碼" />
                            </div>
                            <div class="col-12 showPassword">
                                <input type="text" class="form-control" id="txtShowPassword" name="txtShowPassword" style="font-size: 14px;"
                                       data-rule-required="true" data-msg-required="秀出密碼" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="Login()" style="margin: auto;padding: 6px 12px;border-radius: 3px;"><i class="fal fa-wrench"></i>登入</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title password-title"></h5>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="editForm">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtNewPassword">新密碼 <span class="text-danger">*</span></label>
                            <div class="col-12">
                                <input type="password" class="form-control" id="txtNewPassword" name="txtNewPassword" placeholder="請輸入新密碼"
                                       data-msg-required="請輸入新密碼" data-rule-required="true" />
                                <small class="form-text text-muted">8~15位數，至少包含一個大寫字母、一個小寫字母、一個數字</small>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtConfirmPassword">確認密碼</label>
                            <div class="col-12">
                                <input type="password" class="form-control" id="txtConfirmPassword" name="txtConfirmPassword" placeholder="請輸入確認密碼"
                                       data-msg-equalTo="確認密碼不正確" data-rule-equalTo="#txtNewPassword" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="Save()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4" style="border-radius: 3px;">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-12 col-sm-3 col-md-3">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);" style="padding: 6px 12px;border-radius: 3px;">
                            <i class="fal fa-search"></i>搜尋
                        </a>
                        <a id="LoginStatus" class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalLogin@(itemName)" href="javascript:void(0);" style="padding: 6px 12px;border-radius: 3px;">
                            <i class="fal fa-user"></i>登入
                        </a>
                    </div>
                    <div class="col-12 col-sm-9 col-md-9 text-right">
                        <div id="txtTimeTitle@(itemName)" class="TimeTitle"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="boxGroup">
                            <div id="SaleOrder">
                                <div class="ranking">
                                    <div class="itemTitle">期間接單累績金額<span class="Currency">(台幣)</span></div>
                                    <div class="lumpSum"></div>
                                    <div class="rankingList">
                                    </div>
                                    <button type="button" class="btn seeMore" style="margin: auto;margin-top: 20px;padding: 6px 12px;border-radius: 3px;">More</button>
                                </div>
                                <div class="summaryChart">
                                    <h3 class="chartTitle">當月接單柱狀圖</h3>
                                    <div id="chart1a" class="chartBox">
                                    </div>
                                    <h3 class="chartTitle">期間接單趨勢圖</h3>
                                    <div id="chart1b" class="chartBox"></div>
                                </div>
                            </div>
                            <div id="DeliveryOrder">
                                <div class="ranking">
                                    <div class="itemTitle">期間出貨累績金額<span class="Currency">(台幣)</span></div>
                                    <div class="lumpSum"></div>
                                    <div class="rankingList">
                                    </div>
                                    <button type="button" class="btn seeMore" style="margin: auto;margin-top: 20px;padding: 6px 12px;border-radius: 3px;">More</button>
                                </div>
                                <div class="summaryChart">
                                    <h3 class="chartTitle">當月出貨柱狀圖</h3>
                                    <div id="chart2a" class="chartBox"></div>
                                    <h3 class="chartTitle">期間出貨趨勢圖</h3>
                                    <div id="chart2b" class="chartBox"></div>
                                </div>
                            </div>
                            <div id="ReceiveOrder">
                                <div class="ranking">
                                    <div class="itemTitle">期間銷貨累績金額<span class="Currency">(台幣)</span></div>
                                    <div class="lumpSum"></div>
                                    <div class="rankingList">
                                    </div>
                                    <button type="button" class="btn seeMore" style="margin: auto;margin-top: 20px;padding: 6px 12px;border-radius: 3px;">More</button>
                                </div>
                                <div class="summaryChart">
                                    <h3 class="chartTitle">當月銷貨柱狀圖</h3>
                                    <div id="chart3a" class="chartBox"></div>
                                    <h3 class="chartTitle">期間銷貨趨勢圖</h3>
                                    <div id="chart3b" class="chartBox"></div>
                                </div>
                            </div>
                            <div id="CollectionOrder">
                                <div class="ranking">
                                    <div class="itemTitle">期間收款累績金額<span class="Currency">(台幣)</span></div>
                                    <div class="lumpSum"></div>
                                    <div class="rankingList">
                                    </div>
                                    <button type="button" class="btn seeMore" style="margin: auto;margin-top: 20px;padding: 6px 12px;border-radius: 3px;">More</button>
                                </div>
                                <div class="summaryChart">
                                    <h3 class="chartTitle">當月收款柱狀圖</h3>
                                    <div id="chart4a" class="chartBox"></div>
                                    <h3 class="chartTitle">期間收款趨勢圖</h3>
                                    <div id="chart4b" class="chartBox"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@Html.Resource("js",
@<script>


    $(document).ready(function () {
        $("#LoginStatus").hide()

        var companyId = "2,3";
        getUrlVal()

        $("#txtStartMoonQ@(itemName)").val(`${new Date().getFullYear()}-01`)
        var Endmoon = (new Date().getMonth() + 1).toString().padStart(2, `0`)
        $("#txtEndMoonQ@(itemName)").val(`${new Date().getFullYear()}-${Endmoon}`)
        //日期選擇器設定-鎖定月份
        const StartCalendar = new dhx.Calendar(null, { dateFormat: "%Y-%m", css: "dhx_widget--bordered", mode: "month" });
        const Endcalendar = new dhx.Calendar(null, { dateFormat: "%Y-%m", css: "dhx_widget--bordered", mode: "month" });
        const StartPopup = new dhx.Popup();
        const EndPopup = new dhx.Popup();
        StartPopup.attach(StartCalendar);
        EndPopup.attach(Endcalendar);
        StartCalendar.events.on("change", function () {
            StartMoon.value = StartCalendar.getValue();
            StartPopup.hide();
        });
        Endcalendar.events.on("change", function () {
            EndMoon.value = Endcalendar.getValue();
            EndPopup.hide();
        });

        $(".seeMore").on("click", function () {
            if ($(this).text() == "More") {
                $(this).siblings('.rankingList').addClass('showMore');
                $(this).text("Close")
            }
            else {
                $(this).siblings('.rankingList').removeClass('showMore');
                $(this).text("More")
            }
        })

        

        const StartMoon = document.getElementById("txtStartMoonQ@(itemName)");
        const EndMoon = document.getElementById("txtEndMoonQ@(itemName)");

        StartMoon.addEventListener("click", function () {
            StartPopup.show(StartMoon);
        });
        EndMoon.addEventListener("click", function () {
            EndPopup.show(EndMoon);
        });
        ComboBoxs.Default("#cboPerformanceGoalsQ@(itemName)", "@Url.Action("GetPerformanceGoals", "ScmBasicInformation")", { "PgNo": "Y2024"}, "", "NA", "", "PgName", "PgId");
        ComboBoxs.Default("#cboExcludeStatusQ@(itemName)", "@Url.Action("GetStatus", "BasicInformation")", { "StatusSchema": "Boolean" }, "", "NA", "", "StatusName", "StatusNo");
        $("#cboPerformanceGoalsQ@(itemName)").val(3)
        $("#cboExcludeStatusQ@(itemName)").val("Y")
        $("#txtStartMoonQ@(itemName)").val("2024-01")
        $("#txtEndMoonQ@(itemName)").val("2024-12")
        $("#txtStartMoonQ@(itemName)").prop("disabled", true);
        $("#txtEndMoonQ@(itemName)").prop("disabled", true);
        $("#cboPerformanceGoalsQ@(itemName)").change(function () {
            var PgId = $("#cboPerformanceGoalsQ@(itemName)").val()
            if (PgId > 0) {
                $("#txtStartMoonQ@(itemName)").prop("disabled", true);
                $("#txtEndMoonQ@(itemName)").prop("disabled", true);
                
                GetPerformanceGoals(PgId)
            }
            else {
                $("#txtStartMoonQ@(itemName)").prop("disabled", false);
                $("#txtEndMoonQ@(itemName)").prop("disabled", false);
                
                $("#txtStartMoonQ@(itemName)").val(`${new Date().getFullYear()}-01`)
                $("#txtEndMoonQ@(itemName)").val(`${new Date().getFullYear()}-${new Date().getMonth()+1}`)
            }
        })
        InitData@(itemName)()

        if (!isMobile) {
            $("#cboPerformanceGoalsQ@(itemName), #cboExcludeStatusQ@(itemName)").select2({
                width: "100%"
            });
        }



        //-----登入------
        $("#txtUserNo").keydown(function (event) {
            if (event.keyCode == 13) $("#txtPassword").focus();
        });

        $("#txtPassword").keydown(function (event) {
            if (event.keyCode == 13) Login();
        });
        $(".inputPassword").show()
        $(".showPassword").hide()
        //-----登入------
        
    });

    function getUrlVal(val) {
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        $(".CNYShow").hide()

        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split("=");
            if (pair[0] == "Company") {
                if (pair[1] == 4) {
                    $(".CNYShow").show()
                    $(".NTShow").hide()
                    $(".Currency").text("(人民幣)")
                    $("#cbxCompanyQ@(itemName)2").prop("checked", false)
                    $("#cbxCompanyQ@(itemName)3").prop("checked", false)
                    $("#cbxCompanyQ@(itemName)4").prop("checked", true)
                    companyId = "4"
                }
            }
        }
    }

    function InitData@(itemName)() {
        var StartMoon = parseInt($("#txtStartMoonQ@(itemName)").val().replace(/-/g, ''))
        var EndMoon = parseInt($("#txtEndMoonQ@(itemName)").val().replace(/-/g, ''))
        if (StartMoon > EndMoon) {
            alert("時間設置異常,請重新確認!!")
            return
        }
        else {
            var PgId = $("#cboPerformanceGoalsQ@(itemName)").val()
            var dateA = "";
            var dateB = "";
            var diffMonths = 0;
            if (PgId <= 0) {
                dateA = new Date($("#txtStartMoonQ@(itemName)").val() + '-01'); // 在日期後面加上 '-01' 是因為 JavaScript 會將其視為日期的開頭
                dateB = new Date($("#txtEndMoonQ@(itemName)").val() + '-01');
            }
            else {
                dateA = new Date($("#txtStartMoonQ@(itemName)").val());
                dateB = new Date($("#txtEndMoonQ@(itemName)").val());
            }
            var diffMonths = (dateB.getFullYear() - dateA.getFullYear()) * 12 + (dateB.getMonth() - dateA.getMonth());

            if (diffMonths >11) {
                alert("時間區間不可超過一年,請重新確認!!")
                return
            }
        }
        
        if (GetSaleOrderMoney("Sale", "Bar", diffMonths) == "Y") {
          GetSaleOrderMoney("Sale", "Spline", diffMonths)
          GetSaleOrderMoney("Delivery", "Bar", diffMonths)
          GetSaleOrderMoney("Delivery", "Spline", diffMonths)
          GetSaleOrderMoney("Receive", "Bar", diffMonths)
          GetSaleOrderMoney("Receive", "Spline", diffMonths)
          GetSaleOrderMoney("Collection", "Bar", diffMonths)
          GetSaleOrderMoney("Collection", "Spline", diffMonths)
        }
        
        
        $("#modalQuery@(itemName)").modal("hide");
    }


    function GetSaleOrderMoney(Type, Model, DiffMonths) {
        let SaleBar = {
            type: "bar",
            css: "dhx_widget--bg_white dhx_widget--bordered",
            scales: {
                top: {
                    size: 30
                },
                bottom: {
                    text: "name"
                },
                left: {
                    max: 100000,
                    maxTicks: 5,
                    min: 0,
                    size: 70,
                    textTemplate: function (money) {
                        return money.toLocaleString('en-US');
                    }
                }
            },
            series: [
                {
                    id: "A",
                    value: "Money",
                    color: "#81C4E8",
                    fill: "#81C4E8",
                    pointType: "circle",
                    barWidth: 25,
                    tooltipTemplate: tooltipTemplate
                }
            ]
        };
        let SaleBarData = [];

        let companyList = [];
        $.each($("input[name='cbxCompanyQ@(itemName)']:checked"), function () {
            companyList.push($(this).val());
        });

        var RankingList = "";
        let targetUrl = "";
        if ($("input[name='chkSaleRankingQ@(itemName)']:checked").val() == "V1") {
            targetUrl = "@Url.Action("GetSaleRankingListVe1", "MesReport")";
        }
        else if ($("input[name='chkSaleRankingQ@(itemName)']:checked").val() == "V2") {
            targetUrl = "@Url.Action("GetSaleRankingListVe2", "MesReport")";
        }
        let postData = {
            "Company": $("#txtMtlItemNoQ@(itemName)").val(),
            "Type": Type,
            "Model": Model,
            "StartDate": $("#txtStartMoonQ@(itemName)").val(),
            "EndDate": $("#txtEndMoonQ@(itemName)").val(),
            "CompanyList": companyList.join(","),
            "PgId": $("#cboPerformanceGoalsQ@(itemName)").val(),
            "ExcludeStatus": $("#cboExcludeStatusQ@(itemName)").val()
        };

        let data = DataAccess.Get(targetUrl, postData, false);
        var StartMoonFull =$("#txtStartMoonQ@(itemName)").val()
        var StartEndMoon = $("#txtEndMoonQ@(itemName)").val()

        var StartYear = parseInt($("#txtStartMoonQ@(itemName)").val().split('-')[0].slice(-2))
        var StartMoon = parseInt($("#txtStartMoonQ@(itemName)").val().split('-')[1])
        var EndMoon = parseInt($("#txtEndMoonQ@(itemName)").val().split('-')[1])
        $("#txtTimeTitle@(itemName)").text(`${StartMoonFull} ~ ${StartEndMoon} 資料`)

        if (data.status == "success") {
            switch (Model) {
                case "Bar":
                    var max = 0
                    var total = 0
                    var company = ""
                    var companyNum = companyList.length
                    var haveAmount = false

                    $.each(data.result, function (i, item) {
                        if (item.Amount != 0) {
                            if (item.MoonAmount != 0) {
                                haveAmount = true
                            }
                            

                            if (company != item.Company && companyNum >0) {
                                company = item.Company
                                total += item.AllAmount
                                companyNum--
                            }
                            
                            //newObj = { name: item.Sales, Money: item.MoonAmount };

                            if (max == 0) {
                                max = item.MoonAmount
                            }
                            else {
                                if (max < item.MoonAmount) {
                                    max = item.MoonAmount
                                }
                            }
                            let newObj = "";
                            if (item.MoonAmount > 0) {
                                newObj = { name: item.Sales, Money: item.MoonAmount };
                                SaleBarData.push(newObj)
                            }
                            
                            if (i == 0) {
                                RankingList += `<div class="winner"><i class="fas fa-trophy-alt" style="color:#F7C21E"></i></i><div class="salesName">${item.Sales}</div><div class="complianceRate">${item.IntentAmount != 0 ? Math.floor(parseInt(item.Amount) / parseInt(item.IntentAmount) * 100) + `%` : `未設定目標`}</div> <div class="salesScore"><div class="during"><span>累績:</span> <span>${item.Amount.toLocaleString('en-US')}</span></div> <div class="nowMoon"><span>目標:</span><span>${item.IntentAmount.toLocaleString('en-US')}</span></div></div></div>`
                            }
                            else if (i == 1) {
                                RankingList += `<div class="winner"><i class="fas fa-trophy" style="color:#CCD5DE"></i></i><div class="salesName">${item.Sales}</div><div class="complianceRate">${item.IntentAmount != 0 ? Math.floor(parseInt(item.Amount) / parseInt(item.IntentAmount) * 100) + `%` : `未設定目標`}</div> <div class="salesScore"><div class="during"><span>累績:</span> <span>${item.Amount.toLocaleString('en-US')}</span></div> <div class="nowMoon"><span>目標:</span><span>${item.IntentAmount.toLocaleString('en-US')}</span></div></div></div>`
                            }
                            else if (i == 2) {
                                RankingList += `<div class="winner"><i class="fas fa-trophy" style="color:#C6623D"></i></i><div class="salesName">${item.Sales}</div><div class="complianceRate">${item.IntentAmount != 0 ? Math.floor(parseInt(item.Amount) / parseInt(item.IntentAmount) * 100) + `%` : `未設定目標`}</div> <div class="salesScore"><div class="during"><span>累績:</span> <span>${item.Amount.toLocaleString('en-US')}</span></div> <div class="nowMoon"><span>目標:</span><span>${item.IntentAmount.toLocaleString('en-US')}</span></div></div></div>`
                            }
                            else {
                                RankingList += `<div class="winner"><i>${i + 1}.</i><div class="salesName">${item.Sales}</div><div class="complianceRate">${item.IntentAmount != 0 ? Math.floor(parseInt(item.Amount) / parseInt(item.IntentAmount) * 100)+`%`  :`未設定目標`}</div><div class="salesScore"><div class="during"><span>累績:</span> <span>${item.Amount.toLocaleString('en-US')}</span></div> <div class="nowMoon"><span>目標:</span><span>${item.IntentAmount.toLocaleString('en-US')}</span></div></div> </div>`
                            }
                        }
                    })


                    switch (Type) {
                        case "Sale":
                            $("#SaleOrder .lumpSum").text(((total)).toLocaleString('en-US'))
                            SaleBar.scales.left.max = max

                            $("#SaleOrder .rankingList").html("")
                            $("#SaleOrder .rankingList").html(RankingList)

                            $("#chart1a").html("")
                            const chart1a = new dhx.Chart("chart1a", SaleBar);
                            if (haveAmount) {
                                chart1a.data.parse(SaleBarData);
                                $("#chart1a").removeClass("noAmount")

                            }
                            else {
                                $("#chart1a").text("目前無任何業務有接單金額")
                                $("#chart1a").addClass("noAmount")
                            }
                            break;
                        case "Delivery":
                            $("#DeliveryOrder .lumpSum").text(((total)).toLocaleString('en-US'))
                            SaleBar.scales.left.max = max

                            $("#DeliveryOrder .rankingList").html("")
                            $("#DeliveryOrder .rankingList").html(RankingList)

                            $("#chart2a").html("")
                            const chart2a = new dhx.Chart("chart2a", SaleBar);
                            if (haveAmount) {
                                chart2a.data.parse(SaleBarData);
                                $("#chart2a").removeClass("noAmount")

                            }
                            else {
                                $("#chart2a").text("目前無任何業務有出貨金額")
                                $("#chart2a").addClass("noAmount")
                            }
                            break;
                        case "Receive":
                            $("#ReceiveOrder .lumpSum").text(((total)).toLocaleString('en-US'))
                            SaleBar.scales.left.max = max

                            $("#ReceiveOrder .rankingList").html("")
                            $("#ReceiveOrder .rankingList").html(RankingList)

                            $("#chart3a").html("")
                            const chart3a = new dhx.Chart("chart3a", SaleBar);
                            if (haveAmount) {
                                chart3a.data.parse(SaleBarData);
                                $("#chart3a").removeClass("noAmount")

                            }
                            else {
                                $("#chart3a").text("目前無任何業務有銷貨金額")
                                $("#chart3a").addClass("noAmount")
                            }
                            break;
                        case "Collection":
                            $("#CollectionOrder .lumpSum").text(((total)).toLocaleString('en-US'))
                            SaleBar.scales.left.max = max

                            $("#CollectionOrder .rankingList").html("")
                            $("#CollectionOrder .rankingList").html(RankingList)

                            $("#chart4a").html("")
                            const chart4a = new dhx.Chart("chart4a", SaleBar);
                            if (haveAmount) {
                                chart4a.data.parse(SaleBarData);
                                $("#chart4a").removeClass("noAmount")

                            }
                            else {
                                $("#chart4a").text("目前無任何業務有收款金額")
                                $("#chart4a").addClass("noAmount")
                            }
                            break;
                    }
                    break;
                case "Spline":
                    //折線圖設定
                    let SaleSpline = {
                        type: "line",
                        css: "dhx_widget--bg_white dhx_widget--bordered",
                        scales: {
                            "top": {
                                size: 30,
                            },
                            "bottom": {
                                text: "month",
                            },
                            "left": {
                                maxTicks: 5,
                                max: 100,
                                size: 70,
                                targetLine: 80,
                                textTemplate: function (money) {
                                    return money.toLocaleString('en-US');
                                }
                            }
                        },
                        series: [

                        ],
                        legend: {
                            series: [],
                            valign: "middle",
                            size: 0,
                            halign: "right"
                        }
                    };
                    //折線圖資料
                    let SaleSplineData = [

                    ];
                    //月份控制
                    var startMoon = StartMoon;
                    for (var i = 0; i <= DiffMonths; i++) {

                        var newObj = { month: StartYear + "-" + startMoon.toString().padStart(2, '0') }
                        SaleSplineData.push(newObj)
                        if (startMoon + 1 > 12) {
                            startMoon = 1;
                            StartYear = parseInt(StartYear) + 1
                        }
                        else {
                            startMoon += 1;
                        }
                    }
                    //隨機顏色
                    var color = "";
                    var colorArr = []
                    while (colorArr.length < data.result.length) {
                        var color = getRandomHexColor(); // 生成随机颜色
                        if (!colorArr.includes(color)) {
                            colorArr.push(color);
                        }
                    }

                    //資料生成建置
                    var max = 0; //撈取最高金額
                    var haveAmount = false

                    $.each(data.result, function (n, item) {
                        var Salesr = item.Sales
                        let newObj = { id: item.Money, value: item.Sales, color: colorArr[n], tooltipTemplate: item => `${Salesr} - ${item[0].toLocaleString('en-US')}` };

                        SaleSpline.legend.series.push(item.Money)
                        SaleSpline.series.push(newObj)
                        if (item.Money != 0) {
                            haveAmount = true
                        }
                        var x = item.Sales
                        startMoon = StartMoon;
                        for (var i = 0; i <= DiffMonths; i++) {
                            var moon = "Moon" + startMoon.toString().padStart(2, '0')
                            SaleSplineData[i][x] = item[moon] != null ? item[moon] : 0
                            if (max == 0) {
                                max = item[moon]
                            }
                            else {
                                if (max < item[moon]) {
                                    max = item[moon]
                                }
                            }
                            if (startMoon + 1 > 12) {
                                startMoon = 1;
                            }
                            else {
                                startMoon += 1;
                            }
                        }
                    })

                    switch (Type) {
                        case "Sale":
                            //最高金額設定
                            SaleSpline.scales.left.max = max
                            //前端頁面渲染
                            $("#chart1b").html("")
                            var chart1b = new dhx.Chart("chart1b", SaleSpline);
                            if (haveAmount) {
                                chart1b.data.parse(SaleSplineData);
                                $("#chart1b").removeClass("noAmount")
                            }
                            else {
                                $("#chart1b").text("目前無任何業務有接單金額")
                                $("#chart1b").addClass("noAmount")
                            }
                            break;
                        case "Delivery":
                            //最高金額設定
                            SaleSpline.scales.left.max = max
                            //前端頁面渲染
                            $("#chart2b").html("")
                            var chart2b = new dhx.Chart("chart2b", SaleSpline);
                            if (haveAmount) {
                                chart2b.data.parse(SaleSplineData);
                                $("#chart2b").removeClass("noAmount")
                            }
                            else {
                                $("#chart2b").text("目前無任何業務有出貨金額")
                                $("#chart2b").addClass("noAmount")
                            }
                            break;
                        case "Receive":
                            //最高金額設定
                            SaleSpline.scales.left.max = max
                            //前端頁面渲染
                            $("#chart3b").html("")
                            var chart3b  = new dhx.Chart("chart3b", SaleSpline);
                            if (haveAmount) {
                                chart3b.data.parse(SaleSplineData);
                                $("#chart3b").removeClass("noAmount")
                            }
                            else {
                                $("#chart3b").text("目前無任何業務有銷貨金額")
                                $("#chart3b").addClass("noAmount")
                            }
                            break;
                        case "Collection":
                            //最高金額設定
                            SaleSpline.scales.left.max = max
                            //前端頁面渲染
                            $("#chart4b").html("")
                            var chart1b = new dhx.Chart("chart4b", SaleSpline);
                            if (haveAmount) {
                                chart1b.data.parse(SaleSplineData);
                                $("#chart4b").removeClass("noAmount")
                            }
                            else {
                                $("#chart4b").text("目前無任何業務有收款金額")
                                $("#chart4b").addClass("noAmount")
                            }
                            break;
                    }
                    break;
            }
            return "Y"
        } else {
            alert(data.msg, "alert", 0);
            $("#LoginStatus").show()
            LoginStatus ="N"
            return "N"
        }
    }

    function GetPerformanceGoals(PgId) {
        let targetUrl = "@Url.Action("GetPerformanceGoals", "ScmBasicInformation")";
            let postData = {
                "PgId": PgId
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                $.each(data.result, function (i, item) {
                    $("#txtStartMoonQ@(itemName)").val(item.StartDate)
                    $("#txtEndMoonQ@(itemName)").val(item.EndDate)
                });
            } else {
                alert(data.msg, "alert", 0);
            }
    }

    function tooltipTemplate(p) {
        return p[0].toLocaleString('en-US');
    };


    function getRandomHexColor() {
        // 生成随机的十六进制颜色代码
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
            color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
    }

    //-----登入------
        

    function showPassword() {
        $(".showPassword").show()
        $(".inputPassword").hide()
        $("#txtShowPassword").val($("#txtPassword").val())
    }
    function closePassword() {
        $(".showPassword").hide()
        $(".inputPassword").show()
        $("#txtShowPassword").val("")
    }

    function Login() {
        if ($("#form").valid()) {
            $.ajax({
                url: "@Url.Action("Login", "User")",
                type: "POST",
                async: false,
                dataType: "json",
                data: {
                    "Account": $("#txtUserNo").val(),
                    "Password": $("#txtPassword").val()
                },
                dataType: "json",
                beforeSend: function (XMLHttpRequest) {
                    $("#loaderWrpper").show();
                },
                success: function (data) {
                    switch (data.status) {
                        case "success":
                            location.reload();

                            break;
                        case "newPassword":
                            $(".password-title").html("首次登入，請輸入新密碼");

                            $("#modal").modal({
                                backdrop: "static",
                                keyboard: false,
                                show: true
                            });
                            break;
                        case "expirePassword":
                            $(".password-title").html("密碼過期，請輸入新密碼");

                            $("#modal").modal({
                                backdrop: "static",
                                keyboard: false,
                                show: true
                            });
                            break;
                        default:
                            alert(data.msg);
                            break;
                    }
                },
                complete: function (XMLHttpRequest, textStatus) {
                    if (textStatus == 'timeout') {
                        var xmlhttp = window.XMLHttpRequest ? new window.XMLHttpRequest() : new ActiveXObject("Microsoft.XMLHttp");
                        xmlhttp.abort();
                        alert("網路逾時!");
                    }

                    $("#loaderWrpper").hide();
                },
                error: function (XMLHttpRequest, textStatus) {
                    alert(XMLHttpRequest.statusText, "error", 0);
                }
            });
        }
    }
    //-----登入------
    function Save() {
        if ($("#editForm").valid()) {
            $.ajax({
                url: "@Url.Action("NewLogin", "User")",
                type: "POST",
                async: false,
                dataType: "json",
                data: {
                    "Account": $("#txtUserNo").val(),
                    "NewPassword": $("#txtNewPassword").val(),
                    "ConfirmPassword": $("#txtConfirmPassword").val()
                },
                dataType: "json",
                beforeSend: function (XMLHttpRequest) {
                    $("#loaderWrpper").show();
                },
                success: function (data) {
                    switch (data.status) {
                        case "success":
                            location.reload();
                            break;
                        default:
                            alert(data.msg);
                            break;
                    }
                },
                complete: function (XMLHttpRequest, textStatus) {
                    if (textStatus == 'timeout') {
                        var xmlhttp = window.XMLHttpRequest ? new window.XMLHttpRequest() : new ActiveXObject("Microsoft.XMLHttp");
                        xmlhttp.abort();
                        alert("網路逾時!");
                    }

                    $("#loaderWrpper").hide();
                },
                error: function (XMLHttpRequest, textStatus) {
                    alert(XMLHttpRequest.statusText, "error", 0);
                }
            });
        }
    }
    //-----登入------

</script>
                )