@using Business_Manager.Helpers
@{
    string itemName = "ScrapReport";
    string itemNameText = "品號報廢報表";
    string authority = ViewBag.authority;


    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>

         .badge {
             font-size: 90% !important;
         }

         .container {
             margin-left: 0 !important;
         }

         .thead-customized {
             min-width: 75px !important;
             background-color: #ffeeba !important;
             position: relative !important;
             z-index: 1 !important;
             border: none !important;
         }

         .tbody-customized {
             vertical-align: middle !important;
         }

         .baseline .baseline-list {
             padding-bottom: 9.6px !important;
         }

             .baseline .baseline-list:after {
                 border: none !important;
                 top: 27px !important;
             }

         .txt-skyblue {
             font-size: 87.5%;
         }
    </style>
                )

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboWoErpPrefixQ@(itemName)">單別</label>
                            <div class="col-12">
                                <select class="form-control" id="cboWoErpPrefixQ@(itemName)" name="cboWoErpPrefixQ@(itemName)" multiple>
                                    <option value="">-- 請選擇單別 --</option>
                                </select>
                            </div>

                        </div>

                        <div class="form-group row">
                            <label class="form-label" for="txtStartDateQ@(itemName)">開始時間</label>
                            <div class="col-12">

                                <input type="text" class="form-control" id="txtStartDateQ@(itemName)" name="txtStartDateQ@(itemName)"
                                       placeholder="請輸入開始時間"
                                       data-msg-required="請輸入開始時間" data-rule-required="true"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))" />
                            </div>

                            <label class="form-label" for="txtEndDateQ@(itemName)">結束時間</label>
                            <div class="col-12">

                                <input type="text" class="form-control" id="txtEndDateQ@(itemName)" name="txtEndDateQ@(itemName)"
                                       placeholder="請輸入結束時間"
                                       data-msg-required="請輸入開始時間" data-rule-required="true"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))" />
                            </div>

                        </div>

                        <div class="form-group row">
                            <label class="form-label" for="txtWoErpNoQ@(itemName)">製令</label>
                            <div class="col-12">

                                <input type="text" class="form-control" id="txtWoErpNoQ@(itemName)" name="txtWoErpNoQ@(itemName)" placeholder="請輸入製令 Ex: 20230825001" />
                            </div>

                        </div>

                        <div class="form-group row">
                            <label class="form-label" for="txtMtlItemNoQ@(itemName)">品號</label>
                            <div class="col-12">

                                <input type="text" class="form-control" id="txtMtlItemNoQ@(itemName)" name="txtMtlItemNoQ@(itemName)" placeholder="請輸入品號" />
                            </div>

                        </div>

                        @*<div class="col-lg-2 col-6 mt-4">
            <button type="button" class="btn btn-primary" onclick="Query@(itemName)()"><i class="fal fa-search"></i>搜尋</button>
        </div>*@
                    </fieldset>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
        </div>
    </div>
</div>
</div>


<!--列表-->
<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-header">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);"><i class="fal fa-search"></i>搜尋</a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn file-excel auth-excel" href="javascript:Excel@(itemName)();"><i class="fas fa-file-excel"></i>匯出</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th class="text-center" scope="col" style="min-width: 75px;">#</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">製令</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">產品品號</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">產品品名</th>
                                        <th class="text-center" scope="col" style="min-width: 150px;">產品規格</th>
                                        <th class="text-center" scope="col">狀態</th>
                                        <th class="text-center" scope="col">預計產量</th>
                                        <th class="text-center" scope="col">領料數</th>
                                        <th class="text-center" scope="col">產品已生產量</th>
                                        <th class="text-center" scope="col">產品報廢數</th>
                                        <th class="text-center" scope="col" style="min-width: 150px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        @*<div class="pagination" id="page@(itemName)"></div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        let userId@(itemName);
        let companyId@(itemName);
        let userNo@(itemName);

        if (!isMobile) {
            $("#cboWoErpPrefixQ@(itemName)").select2({
                    dropdownAutoWidth: true,
                    width: "100%"
                });
            }

        $(document).ready(function () {
            GetUserInfo@(itemName)()
            Suites.DateDropper("#txtStartDateQ@(itemName), #txtEndDateQ@(itemName)");
            let currentDate = new Date();
            Suites.SetDateDropper("#txtEndDateQ@(itemName)", currentDate);
            currentDate.setDate(currentDate.getDate() - 30);
            Suites.SetDateDropper("#txtStartDateQ@(itemName)", currentDate);

            ComboBoxs.WithText("#cboWoErpPrefixQ@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "UserNo": userNo@(itemName), "ColumnName": "WipErpPrefix" }, "", "NA", "", "WoErpPrefixName", "WoErpPrefix"); //製令單別
            @*$("#cboWoErpPrefixQ@(itemName)").val("5101")*@
            @*Query@(itemName)();*@
        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;
            let targetUrl = "@Url.Action("GetScrapReport", "MesReport")";

            let postData = {
                "MtlItemNo": $("#txtMtlItemNoQ@(itemName)").val(),
                "startDate": $("#txtStartDateQ@(itemName)").val(),
                "endDate": $("#txtEndDateQ@(itemName)").val(),
                "WoErpPrefix": $("#cboWoErpPrefixQ@(itemName) option:selected").toArray().map(item => item.value).join(),
                "WoErpNo": $("#txtWoErpNoQ@(itemName)").val(),
                "OrderBy": "",
                "PageIndex": -1,
                "PageSize": -1,
            };

            let data = DataAccess.Get(targetUrl, postData, false);
            if (data.status == "success") {
                //pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;
                if (data.result.length > 0) {
                    objPage = PageCaculate(pageCount, objPage);
                    $.each(data.result, function (i, item) {
                        let _row = (i + 1) + ".";
                        innerHtml += `<tr>
                                        <td class="text-center">${_row}</td>
                                        <td class="text-center">${item.WoErpNo}</td>
                                        <td class="text-center">${item.MtlItemNo}</td>
                                        <td class="text-center">${item.MtlItemName}</td>
                                        <td class="text-center">${item.MtlItemspec}</td>
                                        <td class="text-center">${moStatus@(itemName)(item.MoStatus)}</td>
                                        <td class="text-center">${item.ExpectedCount}</td>
                                        <td class="text-center">${item.ReceiveCount}</td>
                                        <td class="text-center">${item.ProducedCount}</td>
                                        <td class="text-center">${item.ScrapCount}</td>

                                        <td class="text-center active-content">
                                            <a class="active-link detail-button" href="javascript:Detail@(itemName)('${item.WoErpNo}');"><i class="fas fa-list"></i><span>材料</span></a>
                                        </td>
                                      </tr>
                                      <tr data-mo-id="${item.WoErpNo}" style="display: none;">
                                        <td colspan="11">
                                          <table  class="table table-bordered table-striped table-sticky tiny-table" >
                                            <thead>
                                             <tr>

                                                <th style="padding: 0;" >
                                                    <table class="table table-bordered table-sm mb-0 table-non-rwd table-striped-custom table-row-detail tiny-table" style="min-width: 550px;">
                                                        <thead>
                                                            <tr>
                                                                <th style="width: 150px;">材料品號</th>
                                                                <th style="width: 150px;">材料品名</th>
                                                                <th style="width: 150px;">材料規格</th>
                                                                <th style="width: 50px;">需領用數</th>
                                                                <th style="width: 50px;">已領用數</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                 </th>
                                                <th scope="col" style="width: 150px;">材料報廢數</th>
                                                <th scope="col" style="width: 150px;">製令結案報廢數</th>
                                                <th scope="col" style="width: 150px;">單位</th>
                                              </tr>
                                           </thead>
                                            <tbody>
                                                ${DetailData@(itemName)(item.ScrapMoMtlMerge)}
                                            </tbody>
                                          </table>
                                        </td>
                                      </tr>
                                      <tr></tr>`;
                    });
                }
                else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="11" style="background-color: #fff3cd;">
                                        <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            }
            else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            //Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName)); ++
        }

        function DetailData@(itemName)(json) {
            console.log(1199, json);
            let html = '';

            if (json.length > 0) {

                for (let x = 0; x < json.length; x++) {

                    html += `<tr>
                                <td style="padding: 0;" style="min-width: 550px;">
                                  <table class="table table-bordered table-striped table-sticky tiny-table">
                                    <tbody>
                                      ${SubDetailData@(itemName)(json[x].ScrapMoMtldata)}
                                      ${SubDetailData@(itemName)(json[x].ScrapMoReplaceMtldata)}
                                    </tbody>
                                  </table>
                                </td>
                                <td class="ellipsis" style="width: 150px;">${json[x].MergeScrapCount}</td>
                                <td class="ellipsis" style="width: 150px;">${json[x].MergeMoScrapCount}</td>
                                <td class="ellipsis" style="width: 150px;">${json[x].Unit}</td>
                             </tr>`;
                }
            } else {
                html += `<tr>
                       <td class="text-center" colspan="8" style="background-color: #fff3cd;">
                           <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無單身資料。
                       </td>
                     </tr>`;

            }

            return html;
        }

        function SubDetailData@(itemName)(json) {
            let html = '';

            if (json) {
                for (let x = 0; x < json.length; x++) {
                    html += `<tr>
                               <td style=" background-color:transparent; width: 150px;">${json[x].MtlItemNo}</td>
                               <td style=" background-color:transparent; width: 150px;">${json[x].MtlItemName}</td>
                               <td style=" background-color:transparent; width: 150px;">${json[x].MtlItemspec}</td>
                               <td style=" background-color:transparent; width: 50px;">${json[x].ExpectedCount}</td>
                               <td style=" background-color:transparent; width: 50px;">${json[x].ReceiveCount}</td>
                             </tr>`;
                }
            }

            return html;
        }

        function moStatus@(itemName)(status) {

            let s = "";

            switch (status) {
                case "Y":
                case "y":
                    s = "已結案";
                    break;
                default:
                    s = "未結案";
                    break;

            }
            console.log(1199, s);
            return s;
        }

        function Detail@(itemName)(WoErpNo) {
            if ($(`tr[data-mo-id="${WoErpNo}"]`).css("display") == "none") {
                $("tr[data-mo-id]").hide();
                $(`tr[data-mo-id="${WoErpNo}"]`).show();
            } else {
                $("tr[data-mo-id]").hide();
            }
        }

        function GetUserInfo@(itemName)() {
            let targetUrl = "@Url.Action("GetLoginByKey", "User")";
            let postData = {
                "UserNo": $.cookie("Login"),
                "KeyText": $.cookie("LoginKey")
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                userId@(itemName) = data.returnData.UserId;
                companyId@(itemName) = data.returnData.CompanyId;
                userNo@(itemName) = data.returnData.UserNo;

            } else {
                alert(data.msg, "alert", 0);
            }
        }

        function Excel@(itemName)() {
            let targetUrl = "@Url.Action("ExcelScrapReport", "MesReport")";
            let postData = {
                "MtlItemNo": $("#txtMtlItemNoQ@(itemName)").val(),
                "startDate": $("#txtStartDateQ@(itemName)").val(),
                "endDate": $("#txtEndDateQ@(itemName)").val(),
                "WoErpPrefix": $("#cboWoErpPrefixQ@(itemName)").val(),
                "WoErpNo": $("#txtWoErpNoQ@(itemName)").val(),
                "OrderBy": "",
                "PageIndex": -1,
                "PageSize": -1,
            };

            let data = DataAccess.EditContinued(targetUrl, postData, false);

            if (data) {
                alert("匯出成功!!!!", "success")
                FileAccess.AjaxDownload(targetUrl, postData, false);
            }
        }

    </script>
                                        )