@using Business_Manager.Helpers
@{
    string itemName = "ViewMeasureData";
    string itemNameText = "查看量測記錄詳細資料";

    <script src="@Url.Content("~/Scripts/dhtmlx/spreadsheet.commercial/4.3.0/spreadsheet.min.js")"></script>
    <link href="@Url.Content("~/Content/dhtmlx/spreadsheet.commercial/4.3.0/spreadsheet.min.css")" rel="stylesheet" />

    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
         #modalWatchPictureViewMeasureData .modal-body {
             height: 65vh;
             overflow-y: auto;
         }

         .image-style {
             display: flex;
             justify-content: center;
             overflow: scroll;
         }

         .pre-icon-style {
             background-color: #0d0930;
             width: 30px;
             height: 30px;
             margin-bottom: 250px;
         }

         #listDataViewMeasureData .table-custom {
             height: 300px;
         }
    </style>
            )

<div class="modal fade" id="modal@(itemName)">
    <div class="modal-dialog modal-xl" style=" max-width: 1680px">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    @(itemNameText)
                    <span class="sub-title">製令: <span class="sub-text" id="desWoErpFullNo@(itemName)"></span></span>
                    <span class="sub-title">量測類型: <span class="sub-text" id="desQcType@(itemName)"></span></span>
                    <span id="prsProcessAlias@(itemName)" class="sub-title">製程: <span class="sub-text" id="desProcessAlias@(itemName)"></span></span>
                    <span class="sub-title">品號: <span class="sub-text" id="desMtlItemNo@(itemName)"></span></span>
                    <span class="sub-title">品名: <span class="sub-text" id="desMtlItemName@(itemName)"></span></span>
                    <span id="prsMTFProcessNo@(itemName)" class="sub-title">Tray 條碼: <span class="sub-text" id="desMTFProcessNo@(itemName)"></span></span>
                    <span id="prsMTFProcessAlias@(itemName)" class="sub-title">站別: <span class="sub-text" id="desMTFProcessAlias@(itemName)"></span></span>
                </h5>
                <a class="close list-mode" href="javascript:void(0);" onclick="Close@(itemName)('#modal@(itemName)')"><i class="fas fa-times"></i></a>
            </div>
            <div class="modal-body">
                <div class="row" id="listData@(itemName)">
                    <div class="col-12">
                        <form autocomplete="off" id="queryForm@(itemName)">
                            <fieldset>
                                <div class="form-row align-items-center mb-2">
                                    @*<div class="col-auto">
                                            @*<input type="text" class="form-control" id="txtBarcodeNoQ@(itemName)" name="txtBarcodeNoQ@(itemName)"
                                                   placeholder="請輸入條碼/穴號搜尋"
                                                   onkeyup="this.value=this.value.replace(/[, ]/g,'')" />
                                        </div>
                                        <div class="col-auto">
                                            <input type="text" class="form-control" id="txtQcItemNameQ@(itemName)" name="txtQcItemNameQ@(itemName)"
                                                   placeholder="請輸入量測項目搜尋" />
                                        </div>
                                        <div class="col-auto">
                                            <select class="form-control" id="cboQmmDetailId@(itemName)"></select>
                                        </div>
                                        <div class="col-auto">
                                            <select id="cboQcResultQ@(itemName)" class="form-control">
                                                <option value="">全部</option>
                                                <option value="P">良品</option>
                                                <option value="F">不良品</option>
                                            </select>
                                        </div>*@
                                    <div class="col-auto">
                                        <button type="button" class="btn btn-success" onclick="PopModalWatchPicture@(itemName)()"><i class="fas fa-image"></i>查看圖片</button>
                                        <button type="button" class="btn btn-info" onclick="PopModalWatchOtherFile@(itemName)()"><i class="fas fa-file-alt"></i>查看其他檔案</button>
                                        <button type="button" class="btn btn-primary" onclick="PopModalJudgeResult@(itemName)()"><i class="fas fa-file-search"></i>查看判定結果</button>
                                        <button type="button" class="btn btn-outline-success" onclick="ExportXlsx@(itemName)()"><i class="fas fa-file-excel"></i>下載EXCEL</button>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                        @*<div class="table-custom">
                                <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                    <thead>
                                        <tr>
                                            <th scope="col" style="min-width: 75px;">#</th>
                                            <th scope="col" style="min-width: 115px;">產品條碼</th>
                                            <th scope="col" style="min-width: 150px;">量測項目</th>
                                            <th scope="col" style="min-width: 110px;">標準值</th>
                                            <th scope="col" style="min-width: 110px;">上/下限值</th>
                                            <th scope="col" style="min-width: 150px;">量測值</th>
                                            <th scope="col" style="min-width: 115px;">量測結果</th>
                                            <th scope="col" style="min-width: 115px;">量測人員</th>
                                            <th scope="col" style="min-width: 150px;">量測機台</th>
                                            <th scope="col" style="min-width: 150px;">NG原因</th>
                                            <th scope="col" style="min-width: 150px;">Z軸</th>
                                            <th scope="col" style="min-width: 150px;">備註</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>*@
                        <div class="table-custom" style="height:90%; width: 100%;" id="spreadsheet@(itemName)"></div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- 查看圖片 -->
<div class="modal fade" id="modalWatchPicture@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    查看圖片
                </h5>
                <a class="close list-mode" href="javascript:void(0);" onclick="Close@(itemName)('#modalWatchPicture@(itemName)')"><i class="fas fa-times"></i></a>
            </div>
            <div class="modal-body">
                <div class="row" id="listData@(itemName)">
                    <div class="col-12 image-style">
                        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                @*<p>123</p>
                                    <div class="carousel-item active">
                                        <img class="d-block w-100" src="/Web/GetFile?fileId=1938" alt="First slide">
                                    </div>*@
                            </div>
                            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon pre-icon-style" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                <span class="carousel-control-next-icon pre-icon-style" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="justify-content: center;"></div>
        </div>
    </div>
</div>

<!-- 查看其他檔案 -->
<div class="modal fade" id="modalWatchOtherFile@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    查看其他檔案
                </h5>
                <a class="close list-mode" href="javascript:void(0);" onclick="Close@(itemName)('#modalWatchOtherFile@(itemName)')"><i class="fas fa-times"></i></a>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblOtherFileData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">檔案名稱</th>
                                        <th class="text-center" scope="col">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="justify-content: center;"></div>
        </div>
    </div>
</div>

<!-- 查看判定結果 -->
<div class="modal fade" id="modalJudgeResult@(itemName)">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    查看判定結果
                </h5>
                <a class="close list-mode" href="javascript:void(0);" onclick="Close@(itemName)('#modalJudgeResult@(itemName)')"><i class="fas fa-times"></i></a>
            </div>
            <div class="modal-body">
                <div class="row" id="listData@(itemName)">
                    <div class="col-12">
                        <form autocomplete="off" id="queryForm@(itemName)">
                            <fieldset>
                                <div class="form-row align-items-center mb-2">
                                    <div class="col-auto">
                                        <input type="text" class="form-control" id="txtJudgeBarcodeNoQ@(itemName)" name="txtJudgeBarcodeNoQ@(itemName)"
                                               placeholder="請輸入條碼/刻字搜尋"
                                               onkeyup="this.value=this.value.replace(/[, ]/g,'')" />
                                    </div>
                                    <div class="col-auto">
                                        <select id="cboQcStatusQ@(itemName)" name="cboQcStatusQ@(itemName)" class="form-control"></select>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblJudgeResultData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th scope="col" style="min-width: 150px;">產品條碼</th>
                                        <th scope="col" style="min-width: 115px;">判定結果</th>
                                        <th scope="col" style="min-width: 150px;">判定人員</th>
                                        <th scope="col" style="min-width: 150px;">備註</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="pageJudgeResult@(itemName)"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!-- 下載EXCEL -->
<div class="modal fade" id="downLoadExcel@(itemName)">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">
                下載EXCEL
            </h5>
            <a class="close list-mode" href="javascript:void(0);" onclick="ExportXlsx@(itemName)"><i class="fas fa-times"></i></a>
        </div>
    </div>        
</div>

@Html.Resource("js",
@<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 999
        };

        let objPage2@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";
        let qcRecordId@(itemName);

        let spreadsheet@(itemName); //excel套件

        let barcodeJson@(itemName) =
        {
            barcodeInfo: []
        }

        let spreadsheetJson@(itemName) =
        {
            spreadsheetInfo: []
        }
        let configs = {
            menu: true,
            readonly: true,
            topSplit: 1,
            leftSplit: 3,
            colsCount: 150,
            //rowsCount: 20,
            toolbarBlocks: [
                "undo",
                "colors",
                "decoration",
                "align",
                //"lock",
                "clear",
                //"rows",
                //"columns",
                //"help",
                "format",
                //"file"
            ],
            formats: [
                { name: "Number", id: "number", mask: "#,##0.00000" },
                { name: "Znumber", id: "znumber", mask: "#,##0.0" }
            ]
        }

        let excelData =
        {
            sheets: [
                {
                    name: "第一頁",
                    id: "sheet_1",
                    cols: [{ width: 100 }, { width: 50 }, { width: 150 }, { width: 150 }, { width: 80 }, { width: 80 }, { width: 80 }, { width: 50 }, { width: 150 }, { width: 80 }, { width: 120 }],
                    data: [

                    ]
                }
            ],
            styles: {
                "title-class": {
                    background: "rgba(146,231,220,1)",
                    color: "#000"
                },
                "design-value-blue": {
                    color: "blue"
                },
                "design-value-red": {
                    color: "red"
                },
                "title-desc": {
                    background: "rgba(197,192,218,1)",
                    color: "#000"
                },
                "left-Value": {

                },
                "cave-lettering": {
                    fontWeight: "bold"
                }
            }
        };
        function ResetSpreadsheet@(itemName)() {
            $("#spreadsheet@(itemName)").empty();
            excelData.sheets[0].data = [];
            spreadsheet@(itemName) = new dhx.Spreadsheet("spreadsheet@(itemName)", configs);
        }

        function ExportXlsx@(itemName)() {
            //spreadsheet@(itemName).export.xlsx(); // exports data into a .xlsx file
            let targetUrl = "@Url.Action("DownloadMeasureDataExcel", "MesReport")";
            let postData = {
                "QcRecordId": qcRecordId@(itemName),
                "BarcodeNo": $("#txtBarcodeNoQ@(itemName)").val(),
                "QcResult": $("#cboQcResultQ@(itemName)").val(),
                "QcItemName": $("#txtQcItemNameQ@(itemName)").val(),
                "MachineNumber": $("#cboQmmDetailId@(itemName)").val(),
                "MtlItemNo": $("#desMtlItemNo@(itemName)").html(),
                "MtlItemName": $("#desMtlItemName@(itemName)").html()
            };

            FileAccess.AjaxDownload(targetUrl, postData, false);
        };

        function ExportJson() {
            spreadsheet@(itemName).export.json(); // exports data into a .json file
        };

        function Pop@(itemName)(qcRecordId, woErpFullNo, qcType, mtlItemNo, mtlItemName, processAlias) {
            $("#txtBarcodeNoQ@(itemName)").val("");
            $("#cboQcResultQ@(itemName)").val("");
            $("#prsProcessAlias@(itemName)").hide();
            qcRecordId@(itemName) = qcRecordId;

            InitData@(itemName)(objPage@(itemName));

            if (!isMobile) {
                $("#cboQmmDetailId@(itemName)").select2({
                    width: "100%"
                });
            }

            ComboBoxs.Default("#cboQmmDetailId@(itemName)", "@Url.Action("GetQmmDetail", "QcDataManagement")", {}, "", "NA", "", "MachineName", "MachineNumber");

            ComboBoxs.WithText("#cboQcStatusQ@(itemName)", "@Url.Action("GetStatus", "BasicInformation")", { "StatusSchema": "BarcodeQcRecord.QcStatus" }, "", "NA", "", "StatusName", "StatusNo");

            $("#cboQcStatusQ@(itemName)").change(function () {
                QueryQcBarcode@(itemName)();
            });

            $("#desWoErpFullNo@(itemName)").html(woErpFullNo);
            $("#desQcType@(itemName)").html(qcType);
            $("#desMtlItemNo@(itemName)").html(mtlItemNo);
            $("#desMtlItemName@(itemName)").html(mtlItemName);

            if (processAlias != "") {
                $("#prsProcessAlias@(itemName)").show();
                $("#desProcessAlias@(itemName)").html(processAlias);
            }

            //Query@(itemName)();

            $("#modal@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });

            setTimeout(function (i, item) {
                $("#txtBarcodeNoQ@(itemName)").focus();
            }, 300);
        }

        $("#txtBarcodeNoQ@(itemName), #txtQcItemNameQ@(itemName)").keydown(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                Query@(itemName)();
                return false;
            }
        });

        $("#txtJudgeBarcodeNoQ@(itemName)").keydown(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                QueryQcBarcode@(itemName)();
                return false;
            }
        });

        $("#queryForm@(itemName)").keydown(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });

        $("#cboQcResultQ@(itemName), #cboQmmDetailId@(itemName)").change(function () {
            Query@(itemName)();
        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;
            $("#prsMTFProcessNo@(itemName)").hide();
            $("#prsMTFProcessAlias@(itemName)").hide();

            let targetUrl = "@Url.Action("GetQcMeasureData", "MesReport")";
            let postData = {
                "QcRecordId": qcRecordId@(itemName),
                "BarcodeNo": $("#txtBarcodeNoQ@(itemName)").val(),
                "QcResult": $("#cboQcResultQ@(itemName)").val(),
                "QcItemName": $("#txtQcItemNameQ@(itemName)").val(),
                "MachineNumber": $("#cboQmmDetailId@(itemName)").val()
            };

            let data = DataAccess.Get(targetUrl, postData, false);
            console.log(data);
            if (data.status = "success") {
                ResetSpreadsheet@(itemName)(objPage@(itemName));
                $.each(data.result.cellList, function (i, item) {
                    let excelValue = {
                        "cell": data.result.cellList[i],
                        "value": data.result.valueList[i],
                        "format": data.result.formatList[i],
                        "css": data.result.cssList[i]
                    }
                    excelData.sheets[0].data.push(excelValue);
                });

                let QcRecordBarcodeNo = data.result.QcRecordBarcodeNo;
                let QcRecordProcessAlias = data.result.QcRecordProcessAlias;

                if (QcRecordBarcodeNo != null) {
                    console.log(data.result.QcRecordBarcodeNo);
                    $("#prsMTFProcessNo@(itemName)").show();
                    $("#desMTFProcessNo@(itemName)").html(QcRecordBarcodeNo);
                }
                if (QcRecordProcessAlias != null) {
                    $("#prsMTFProcessAlias@(itemName)").show();
                    $("#desMTFProcessAlias@(itemName)").html(QcRecordProcessAlias);
                }

                spreadsheet@(itemName).parse(excelData); //產生spreadsheet內資料
                data = spreadsheet@(itemName).serialize();
            }

            @*$("#tblData@(itemName) tbody").html(innerHtml);*@

            //TableComponentInit();
            @*Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));*@
        }

        function PopModalWatchPicture@(itemName)() {
            $(".carousel").carousel({
                interval: false
            })
            $(".carousel-indicators").empty();
            $(".carousel-inner").empty();
            let innerHtml = '';
            let carosdelHtml = '';
            let targetUrl = "@Url.Action("GetQcRecordFileForPicture", "MesReport")";
            let postData = {
                "QcRecordId": qcRecordId@(itemName)
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                if (data.result.length > 0) {
                    $.each(data.result, function (i, item) {
                        $("#desCurrentFileName@(itemName)").html(item.FileName);
                        if (i == 0) {
                            carosdelHtml += `<li data-target="#carouselExampleIndicators" data-slide-to="${i}" class="active"></li>`;
                            innerHtml += `<div class="carousel-item active"> <h1 style="color: #a93d2c;font-weight: 700;">【${item.FileName}】</h1>`;
                        }
                        else {
                            carosdelHtml += `<li data-target="#carouselExampleIndicators" data-slide-to="${i}"></li>`;
                            innerHtml += `<div class="carousel-item"> <h1 style="color: #a93d2c;font-weight: 700;">【${item.FileName}】</h1>`;
                        }
                        innerHtml += `  <img src="/Web/GetFile?fileId=${item.FileId}"  class="d-block w-100" alt="...">
                                      </div> `;
                    });
                }
                else {
                    innerHtml += "<code>此量測記錄尚未上傳任何圖檔!!</code>"
                }
            }

            $(".carousel-indicators").html(carosdelHtml);
            $(".carousel-inner").html(innerHtml);
            TableComponentInit();

            $("#modalWatchPicture@(itemName)").modal("show");
        }

        function PopModalWatchOtherFile@(itemName)() {
            const targetUrl = "@Url.Action("GetQcRecordFile", "MesReport")";
            const postData = {
                "QcRecordId": qcRecordId@(itemName)
            };

            // 同步呼叫取得資料（如果 DataAccess.Get 支援同步或非同步請依需求調整）
            const data = DataAccess.Get(targetUrl, postData, false);
            let innerHtml = '';

            if (data.status === "success") {
                if (data.result && data.result.length > 0) {
                    // 使用 map() 轉換陣列，再 join 成完整字串
                    innerHtml = data.result.map((item, i) => createQcFileRow(i, item)).join('');
                } else {
                    innerHtml = `<tr>
                                    <td class="text-center" colspan="4" style="background-color: #fff3cd;">
                                        <i class="fal fa-exclamation-circle"></i>&nbsp;此量測單尚未上傳其他檔案。
                                    </td>
                                 </tr>`;
                }
            } else {
                // 若有錯誤狀況，可考慮加入錯誤提示或處理邏輯
                console.error("取得資料失敗", data);
            }

            // 更新表格內容，初始化表格組件，並顯示 Modal
            $("#tblOtherFileData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            $("#modalWatchOtherFile@(itemName)").modal("show");

            @*/**
             * 產生單一檔案資料列的 HTML
             * @param {number} i - 索引值
             * @param {object} item - 資料物件，包含 FileName、FileSize、FileId、PhysicalPath
             * @returns {string} - 一筆資料列的 HTML 字串
             */*@
            function createQcFileRow(i, item) {
                let { FileName, FileSize, FileId, PhysicalPath } = item;
                let downloadLink = '';

                if (FileId !== null && PhysicalPath === null) {
                    downloadLink = `<a class="active-link" href="/Web/GetFile?fileId=${FileId}">
                                        <i class="fas fa-download"></i> 下載
                                    </a>`;
                } else if (FileId === null && PhysicalPath !== null) {
                    // 取得檔名：去除路徑
                    FileName = $.trim(PhysicalPath).split('\\').pop();
                    downloadLink = `<a class="active-link mr-1" href="/Drawing/GetCadFile?FilePath=${PhysicalPath}">
                                        <i class="fas fa-download"></i> 下載
                                    </a>`;
                } else {
                    // 當兩者皆無效時，回傳無檔案的提示列
                    return `<tr>
                                <td class="text-center" colspan="4" style="background-color: #fff3cd;">
                                    <i class="fal fa-exclamation-circle"></i>&nbsp;此量測單尚未上傳其他檔案。
                                </td>
                            </tr>`;
                }

                return `<tr>
                            <td style="max-width: 75px;">${i + 1}.</td>
                            <td class="ellipsis" data-toggle="tooltip" title="${FileName}">${FileName}</td>
                            <td class="ellipsis" data-toggle="tooltip" title="${FileSize}">${FileSize}</td>
                            <td class="text-center active-content">
                                ${downloadLink}
                            </td>
                        </tr>`;
            }
        }

        function QueryQcBarcode@(itemName)() {
            let objPage;
            let innerHtml = '';
            let targetUrl = "@Url.Action("GetQcBarcode", "MesReport")";
            let postData = {
                "QcRecordId": qcRecordId@(itemName),
                "BarcodeNo": $("#txtJudgeBarcodeNoQ@(itemName)").val(),
                "QcStatus": $("#cboQcStatusQ@(itemName)").val()
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage2@(itemName));
                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";
                        innerHtml += `<tr>
                                        <td scope="col" style="min-width: 75px;">${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.BarcodeNo}" style="min-width: 115px;">
                                            ${item.BarcodeNo}<br>
                                            ${JudgeItemValue@(itemName)(item.ItemValue)}
                                        </td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.QcStatusNo}(${item.QcStatusName})" style="min-width: 115px;">${item.QcStatusNo}(${item.QcStatusName})</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.UserNo} ${item.UserName}" style="min-width: 150px;"><i class="fas fa-user"></i>&nbsp;<code>${item.UserNo}</code>&nbsp;${item.UserName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Remark}" style="min-width: 150px;">${item.Remark}</td>
                                      </tr>`;

                        function JudgeItemValue@(itemName)(itemValue) {
                            let innerHtml = '';
                            if (itemValue != "null" && itemValue != null) {
                                let itemValueJson = JSON.parse(itemValue);
                                $.each(itemValueJson["data"], function (k, item2) {
                                    innerHtml += `<code>${item2.ItemValue}</code><br>`;
                                });
                            }

                            return innerHtml;
                        }
                    });
                }
                else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="5" style="background-color: #fff3cd;">
                                        <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblJudgeResultData@(itemName) tbody").html(innerHtml);

            TableComponentInit();
            Pager("#pageJudgeResult@(itemName)", pageCount, objPage2@(itemName), QueryQcBarcode@(itemName));
        }

        function PopModalJudgeResult@(itemName)() {
            QueryQcBarcode@(itemName)();
            $("#modalJudgeResult@(itemName)").modal("show");
        }

        function Return@(itemName)() {
            //ResetForm(objForm@(itemName));
            //Switch("#listData@(itemName), .list-mode", "#editData@(itemName), .edit-mode");
            $("#txtBarcodeNo@(itemName)").val("");
            Query@(itemName)();
        }

        function Close@(itemName)(modalName) {
            $(modalName).modal("hide");
        }


</script>
)
