@using Business_Manager.Helpers
@{
    string itemName = "WoStatus";
    string itemNameText = "(Doing)---用GetBasCompany做測試";
    string authority = ViewBag.authority;
    ViewBag.Title = itemNameText;

    string WoErpFullNo = Request["WoErpFullNo"] ?? "";
}

@Html.Resource("css",
    @<style>
         table.gridtable th {
             text-align: center;
             align-content: center;
             align-items: center;
             border-width: 1px;
             padding: 8px;
             border-style: solid;
             /* border-color: #666666; */
             border-color: black;
             background-color: #dedede;
         }

         .container {
             margin-left: 0 !important;
         }

         .thead-customized {
             min-width: 75px !important;
             background-color: #ffeeba !important;
             position: relative !important;
             z-index: 1 !important;
             border: none !important;
         }

         .tbody-customized {
             vertical-align: middle !important;
         }

         iframe {
             width: 100%;
             height: auto;
             aspect-ratio: 16 / 9;
         }
    </style>
                        )

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
    </div>
</div>

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboModeIdQ@(itemName)">生產模式</label>
                            <div class="col-12">
                                <select class="form-control" id="cboModeIdQ@(itemName)" name="cboModeIdQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtWoErpFullNoQ@(itemName)">製令單號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtWoErpFullNoQ@(itemName)" name="txtWoErpFullNoQ@(itemName)" placeholder="請輸入製令單號" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtMtlItemNoQ@(itemName)">品號/品名</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMtlItemNoQ@(itemName)" name="txtMtlItemNoQ@(itemName)" placeholder="請輸入品號/品名" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">製令日期 <input type="checkbox" id="cbxUseDate@(itemName)" checked /></label>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtStartDateQ@(itemName)" name="txtStartDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtEndDateQ@(itemName)" name="txtEndDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);"><i class="fal fa-search"></i>搜尋</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 115px;">xxx</th>
                                        <th scope="col" style="max-width: 200px;">製令</th>
                                        <th scope="col" style="max-width: 200px;">品號</th>
                                        <th scope="col" style="max-width: 200px;">品名</th>
                                        <th scope="col" style="max-width: 200px;">量測類型</th>
                                        <th scope="col" style="max-width: 200px;">量測製程</th>
                                        <th scope="col" style="max-width: 200px;">建單日期</th>
                                        <th scope="col" style="max-width: 200px;">建立人員</th>
                                    </tr>

                                </thead>
                                <tbody></tbody>

                            </table>

                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>

        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };

        var MoId = 0

        $(document).ready(function () {
            let woErpFullNo = "@WoErpFullNo";
            let currentDate = new Date();

            if (woErpFullNo) {
                $("#txtWoErpFullNoQ@(itemName)").val(woErpFullNo);
                $("#cbxUseDate@(itemName)").prop("checked", false);
            }

            Suites.DateDropper("#txtStartDateQ@(itemName), #txtEndDateQ@(itemName)");
            Suites.SetDateDropper("#txtEndDateQ@(itemName)", currentDate);
            currentDate.setDate(currentDate.getDate() - 7);
            Suites.SetDateDropper("#txtStartDateQ@(itemName)", currentDate);

            ComboBoxs.Default("#cboModeIdQ@(itemName)", "@Url.Action("GetProdMode", "MesBasicInformation")", {}, "", "NA", "", "txtProdModeWithText", "ModeId");

            if (!isMobile) {
                $("#cboModeIdQ@(itemName)").select2({
                    dropdownAutoWidth: true,
                    width: "100%"
                });
            }

            Query@(itemName)();
        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;
            let targetUrl = "@Url.Action("GetBasCompany", "MesReport")";

            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "ModeId": $("#cboModeIdQ@(itemName)").val(),
                "WoErpFullNo": $("#txtWoErpFullNoQ@(itemName)").val(),
                "MtlItemNo": $("#txtMtlItemNoQ@(itemName)").val(),
                "StartDate": ($("#cbxUseDate@(itemName)").is(":checked") ? $("#txtStartDateQ@(itemName)").val() : ""),
                "EndDate": ($("#cbxUseDate@(itemName)").is(":checked") ? $("#txtEndDateQ@(itemName)").val() : "")
            };
            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;
                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {

                        let ProcessDetail;
                        if (item.ProcessDetail) {
                            ProcessDetail = JSON.parse(item.ProcessDetail);
                        }
                        MoId = item.MoId
                        innerHtml += `
                                      <tr>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.WoErpFullNo}" style="max-width: 200px;">${item.WoErpFullNo}(${item.WoSeq})</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MtlItemNo}" style="max-width: 200px;">${item.MtlItemNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MtlItemName}" style="max-width: 200px;">${item.MtlItemName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MtlItemSpec}" style="max-width: 200px;">${item.MtlItemSpec}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Quantity}" style="max-width: 200px;">${item.Quantity}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.RequisitionSetQty}" style="max-width: 200px;">${item.RequisitionSetQty}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.InputQty}" style="max-width: 200px;">${item.InputQty}</td>
                                      </tr>`;
                    });

                    innerHtml += `<div class="pagination" id="page@(itemName)"></div>`
                } else {
                    innerHtml += `<div class="col-12">
                                    <div class="table-custom">
                                      <table class="table table-bordered table-striped table-sticky">
                                        <tr>
                                          <td class="text-center" colspan="11" style="background-color: #fff3cd;">
                                            <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                          </td>
                                        </tr>
                                      </table>
                                    </div>
                                  </div>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName)").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));
        }

        function Process(type, json) {
            let html = ``;

            if (json) {
                for (var x = 0; x < json.data.length; x++) {
                    switch (type) {
                        case "process":
                            html += `<td class="table-head">
                                         <a href="javascript:PopProcess@(itemName)('${json.data[x].WoErpFullNo}', '${json.data[x].WoSeq}', '${json.data[x].ProcessId}', '', '${MoId}');">
                                             <span class="anchor-text">${json.data[x].ProcessAlias}</span>
                                         </a>
                                     </td>`;
                            break;
                        case "totalQty":
                            html += `<td>
                                         <a href="javascript:PopProcess@(itemName)('${json.data[x].WoErpFullNo}', '${json.data[x].WoSeq}', '${json.data[x].ProcessId}', 'P', '${MoId}');">
                                             <span class="anchor-text">${json.data[x].TotalPassQty}</span>
                                         </a>
                                         /
                                         <a href="javascript:PopProcess@(itemName)('${json.data[x].WoErpFullNo}', '${json.data[x].WoSeq}', '${json.data[x].ProcessId}', 'F', '${MoId}');">
                                             <span class="anchor-text">${json.data[x].TotalNgQty}</span>
                                         </a>
                                         /
                                         <a href="javascript:PopProcess@(itemName)('${json.data[x].WoErpFullNo}', '${json.data[x].WoSeq}', '${json.data[x].ProcessId}', 'S', '${MoId}');">
                                             <span class="anchor-text">${json.data[x].TotalScrapQty}</span>
                                         </a>
                                     </td>`;
                            break;
                        case "passRate":
                            html += `<td>${json.data[x].PassRate}</td>`;
                            break;
                        case "alreadyQty":
                            html += `<td>${json.data[x].AlreadyQty}</td>`;
                            break;
                        case "wipQty":
                            html += `<td>${json.data[x].WipQty}</td>`;
                            break;
                    }
                }
            }

            return html;
        }

        function PopProcess@(itemName)(WoErpFullNo, WoSeq, ProcessId, ProdStatus, MoId) {

            let targetUrl = `@Url.Action("IFrameProductionHistory", "MesReport")?WoErpFullNo=${WoErpFullNo}&WoSeq=${WoSeq}&ProcessId=${ProcessId}&Status=${ProdStatus}&MoId=${MoId}&Iframe=T`;

            Swal.fire({
                html: `<iframe id="ProductionHistory@(itemName)" src="${targetUrl}" frameborder="0" scrolling="no"></iframe>`,
                showCloseButton: true,
                showConfirmButton: false,
                allowOutsideClick: false,
                allowEscapeKey: false,
                width: 1440,
                background: '#eef1f5'
            });
        }
    </script>
                        )