@using Business_Manager.Helpers
@{
    string itemName = "MaterialManagement";
    string itemNameText = "材料管理";
    string authority = ViewBag.authority;
    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
    </style>
        )

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtMaterialNameQ@(itemName)">材料品名</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMaterialNameQ@(itemName)" name="txtMaterialNameQ@(itemName)" placeholder="請輸入材料品名" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtMtlItemNoQ@(itemName)">ERP品號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMtlItemNoQ@(itemName)" name="txtMtlItemNoQ@(itemName)" placeholder="請輸入ERP品號" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboSupplierIdQ@(itemName)">廠商</label>
                            <div class="col-12">
                                <select class="form-control" id="cboSupplierIdQ@(itemName)" name="cboSupplierIdQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">狀態</label>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    啟用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)A" name="cbxStatusQ@(itemName)" value="A" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    停用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)S" name="cbxStatusQ@(itemName)" value="S" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);">
                            <i class="fal fa-search"></i>搜尋
                        </a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn btn-info auth-add" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th scope="col" style="min-width: 150px;">材料品名</th>
                                        <th scope="col" style="min-width: 200px;">廠商</th>
                                        <th scope="col" style="min-width: 200px;">ERP品號</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">狀態</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container custom-form-container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="MtId" name="MtId" value="-1" />
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group row">
                                    <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtMtlItemId@(itemName)">ERP品號</label>
                                    <div class="col-12 col-md-9 col-lg-9">
                                        <input type="hidden" id="txtMtlItemId@(itemName)" />
                                        <div class="btn-group choose-mtlItem">
                                            <a class="btn btn-success pop-view" href="javascript:PopMtlItemView();"><i class="fal fa-search"></i></a>
                                            <a class="btn btn-outline-danger pop-clear" href="javascript:ClearMtlItem();"><i class="fas fa-eraser"></i></a>
                                        </div>
                                        <dl class="help-block">
                                            <dt>材料品號</dt>
                                            <dd id="desMtlItemNo@(itemName)"></dd>
                                            <dt>材料品名</dt>
                                            <dd id="desMtlItemName@(itemName)"></dd>
                                            <dt>材料規格</dt>
                                            <dd id="desMtlItemSpec@(itemName)"></dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtMaterialName@(itemName)">材料品名 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtMaterialName@(itemName)" name="txtMaterialName@(itemName)" placeholder="請輸入材料品名"
                                       data-msg-required="請輸入材料品名" data-rule-required="true"
                                       data-msg-maxlength="必須少於 100 個字元" maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboSupplierId@(itemName)">廠商 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboSupplierId@(itemName)" name="cboSupplierId@(itemName)"
                                        data-msg-required="請選擇廠商" data-rule-required="true"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtRemark@(itemName)">備註</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtRemark@(itemName)" name="txtRemark@(itemName)" placeholder="請輸入備註"
                                       data-msg-required="請輸入備註"
                                       data-msg-maxlength="必須少於 200 個字元" maxlength="200" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

<div class="advanced-block">
    <div class="row">
        <div class="col-12">
            <ul class="nav flag-tabs nav-fill" role="tablist">
                <li class="flag-item">
                    <a class="flag-link active" data-toggle="tab" href="#tabMtAmount">
                        <i class="fas fa-computer-classic"></i> 金額資料
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane active" id="tabMtAmount">
            @Html.Partial("MtAmount")
        </div>
    </div>
</div>

@Html.Partial("ViewMtlItem")

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        $(document).ready(function () {

            ComboBoxs.Default("#cboSupplierIdQ@(itemName)", "@Url.Action("GetSupplier", "ScmBasicInformation")", { "PermitStatus": "1" }, "", "NA", "", "SupplierWithNo", "SupplierId");

            Query@(itemName)();


            if (!isMobile) {
                $("#cboSupplierIdQ@(itemName)").select2({
                    width: "100%"
                });
            }
        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let statusList = [];
            $.each($("input[name='cbxStatusQ@(itemName)']:checked"), function () {
                statusList.push($(this).val());
            });

            let targetUrl = "@Url.Action("GetMaterial", "PurchaseOrder")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "MaterialName": $("#txtMaterialNameQ@(itemName)").val().trim(),
                "MtlItemNo": $("#txtMtlItemNoQ@(itemName)").val(),
                "SupplierId": $("#cboSupplierIdQ@(itemName)").val(),
                "Status": statusList.join(",")
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr>
                                        <td>${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MaterialName}" style="max-width: 200px;">${item.MaterialName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.SupplierName}" style="max-width: 200px;">${item.SupplierName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MtlItemNo != `` ? item.MtlItemNo : `尚未綁定`}" style="max-width: 200px;">${item.MtlItemNo != `` ? item.MtlItemNo : `尚未綁定`}</td>
                                        <td class="text-center auth-status-switch">
                                          <input type="checkbox" name="chkStatus@(itemName)" data-mt-id="${item.MtId}" ${item.Status == `A` ? `checked` : ``} />
                                        </td>
                                        <td class="text-center un-auth auth-status-switch">${StatusName(`Status`, item.Status)}</td>
                                        <td class="text-center active-content">
                                            <div class="btn-group mb-4 show" style="margin-bottom: 0 !important; position: static;">
                                                <button type="button" class="btn btn-primary dropdown-toggle" data-mt-id="${item.MtId}" style="padding-top: 0; padding-bottom: 0;">動作</button>
                                                <div class="dropdown-menu btn-text-left-block" data-mt-id="${item.MtId}" style="overflow-y: auto; z-index: 999; max-height: 150px;">
                                                    <a class="dropdown-item btn-text-left auth-update" href="javascript:Edit@(itemName)(${item.MtId});"><i class="fas fa-edit"></i>編輯</a>
                                                    ${item.ConfirmStatus != `Y` ? `<a class="dropdown-item btn-text-left auth-delete" href="javascript:Delete@(itemName)(${item.MtId});"><i class="fas fa-trash-alt"></i>刪除</a>` : ``}
                                                </div>
                                            </div>
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="6" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

            $(".dropdown-toggle").off("click").on("click", function () {
                let mtId = $(this).data("mt-id");

                if ($(`.dropdown-menu[data-mt-id='${mtId}']`).hasClass("show")) {
                    $(".dropdown-menu").removeClass("show");
                } else {
                    $(".dropdown-menu").removeClass("show");

                    $(`.dropdown-menu[data-mt-id='${mtId}']`).addClass("show");
                    $(`.dropdown-menu[data-mt-id='${mtId}']`).css({
                        top: `${$(this).position().top + $(this).height() + 5}px`,
                        left: `${$(this).position().left - $(this).width() + 38}px`
                    });
                }
            });

            $("body").off("click").on("click", function (e) {
                if ($(".dropdown-menu").hasClass("show")) {
                    if (!$(e.target).hasClass("dropdown-toggle")
                        && !$(e.target).parents().hasClass("dropdown-toggle")) {
                        $(".dropdown-menu").removeClass("show");
                    }
                }
            });

            $("input[name='chkStatus@(itemName)']").bootstrapToggle({
                on: "啟用",
                off: "停用",
                onstyle: "success",
                offstyle: "danger",
                size: "mini"
            });

            $("input[name='chkStatus@(itemName)'][data-mt-id]").change(StatusSwitch@(itemName));
        }

        function Edit@(itemName)(MtId) {
            $("#MtId").val(MtId ? MtId : 0);

            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");

            ComboBoxs.Default("#cboSupplierId@(itemName)", "@Url.Action("GetSupplier", "ScmBasicInformation")", { "PermitStatus": "1" }, "", "NA", "", "SupplierWithNo", "SupplierId");

            $("#txtMaterialName@(itemName)").attr("disabled", false);
            $("#cboSupplierId@(itemName)").attr("disabled", false);

            ClearMtlItem()

            if (MtId > 0) {
                let targetUrl = "@Url.Action("GetMaterial", "PurchaseOrder")";
                let postData = {
                    "MtId": MtId
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        if (item.ConfirmStatus == "Y"){
                            $("#txtMaterialName@(itemName)").attr("disabled", true);
                            $("#cboSupplierId@(itemName)").attr("disabled", true);
                        }
                        if (item.MtlItemId > 0) {
                            $("#txtMtlItemId@(itemName)").siblings(".help-block").show();
                            $("#desMtlItemNo@(itemName)").html(item.MtlItemNo);
                            $("#desMtlItemName@(itemName)").html(item.MtlItemName);
                            $("#desMtlItemSpec@(itemName)").html(item.MtlItemSpec);
                        }
                        $("#txtMaterialName@(itemName)").val(item.MaterialName);
                        $("#cboSupplierId@(itemName)").val(item.SupplierId);
                        $("#txtRemark@(itemName)").val(item.Remark);
                    });

                    ExpandMtAmount();

                } else {
                    alert(data.msg, "alert", 0);
                }
            }
            if (!isMobile) {
                $("#cboSupplierId@(itemName)").select2({
                    width: "100%"
                });
            }
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let MtId = parseInt($("#MtId").val());

                if (MtId <= 0) {
                    let targetUrl = "@Url.Action("AddMaterial", "PurchaseOrder")";
                    let postData = {
                        "MaterialName": $("#txtMaterialName@(itemName)").val(),
                        "SupplierId": $("#cboSupplierId@(itemName)").val(),
                        "Remark": $("#txtRemark@(itemName)").val(),
                        "MtlItemId": $("#txtMtlItemId@(itemName)").val(),
                    };

                    let data = DataAccess.EditContinued(targetUrl, postData, false);

                    if (data) {
                        $.each(data.result, function (i, item) {
                            $("#MtId").val(item.MtId);
                        });
                        ExpandMtAmount();
                    }
                } else {
                    let targetUrl = "@Url.Action("UpdateMaterial", "PurchaseOrder")";
                    let postData = {
                        "MtId": MtId,
                        "MaterialName": $("#txtMaterialName@(itemName)").val(),
                        "SupplierId": $("#cboSupplierId@(itemName)").val(),
                        "Remark": $("#txtRemark@(itemName)").val(),
                        "MtlItemId": $("#txtMtlItemId@(itemName)").val(),
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Return@(itemName)();
                    }
                }
            }
        }

        function Delete@(itemName)(MtId) {
            swal.fire({
                titleText: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteMaterial", "PurchaseOrder")";
                    let postData = {
                        "MtId": MtId,
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function StatusSwitch@(itemName)() {
            var MtId = $(this).data("mt-id");

            let targetUrl = "@Url.Action("UpdateMaterialStatus", "PurchaseOrder")";
            let postData = {
                "MtId": MtId
            };

            let result = DataAccess.Update(targetUrl, postData, false, true);

            if (result) {
                Return@(itemName)();
            }
        }

        function PopMtlItemView() {
            let popConfig = {
                targetSelector: "#txtMtlItemId@(itemName)",
                popFunction: "PopViewMtlItem",
                objectMtlItemId: "#txtMtlItemId@(itemName)",
                objectMtlItemNo: "#desMtlItemNo@(itemName)",
                objectMtlItemName: "#desMtlItemName@(itemName)",
                objectMtlItemSpec: "#desMtlItemSpec@(itemName)",
                objectUomNo: "#desUomNo@(itemName)",
                objectUomId: "#cboUomId@(itemName)",
                objectInventoryId: "#cboInventoryId@(itemName)",
                objectItemAttribute: "",
            };
            $("#modalViewMtlItem").modal("show");
            
            PopViewMtlItem(popConfig)
            
        }

        function ClearMtlItem() {
            $(".help-block").hide()
            $("#txtMtlItemId@(itemName)").val("")
        }

        function Return@(itemName)() {
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName)", "#editData@(itemName), .unit-block, .advanced-block");
            Query@(itemName)();
        }

        
    </script>
        )