@using Business_Manager.Helpers
@{
    string itemName = "MtAmount";
    string itemNameText = "金額資料";
}

@Html.Resource("css",
    @<style>
    </style>
)

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">確認碼</label>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    已確認
                                    <input type="checkbox" id="cbxConfirmStatusQ@(itemName)A" name="cbxConfirmStatusQ@(itemName)" value="Y" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    未確認
                                    <input type="checkbox" id="cbxConfirmStatusQ@(itemName)S" name="cbxConfirmStatusQ@(itemName)" value="N" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    歷史資料
                                    <input type="checkbox" id="cbxConfirmStatusQ@(itemName)S" name="cbxConfirmStatusQ@(itemName)" value="H" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);">
                        <i class="fal fa-search"></i>搜尋</a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn btn-info auth-add" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th scope="col" style="min-width: 200px;">金額/KG</th>
                                        <th scope="col" style="min-width: 200px;">KG/包</th>
                                        <th scope="col" style="min-width: 200px;">確認碼</th>
                                        <th scope="col" style="min-width: 200px;">確認者</th>
                                        <th scope="col" style="min-width: 200px;">確認日</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container custom-form-container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="MaId" name="MaId" value="-1" />
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtAmount@(itemName)">單位金額(金額/KG) <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="number" class="form-control" id="txtAmount@(itemName)" name="txtAmount@(itemName)" placeholder="請輸入單位金額(金額/KG)" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtUnitQuantity@(itemName)">單位量(KG/包) <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="number" class="form-control" id="txtUnitQuantity@(itemName)" name="txtUnitQuantity@(itemName)" placeholder="請輸入單位量(KG/包)" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>



@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        $(document).ready(function () {
            
        });

        function Expand@(itemName)() {
            if (parseInt($("#MtId").val()) > 0) {
                $(".advanced-block").slideDown("slow");
                Return@(itemName)();
            } else {
                alert("材料資料錯誤", "alert");
            }
        }

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let confirmStatusList = [];
            $.each($("input[name='cbxConfirmStatusQ@(itemName)']:checked"), function () {
                confirmStatusList.push($(this).val());
            });

            let targetUrl = "@Url.Action("GetMtAmount", "PurchaseOrder")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "MtId": $("#MtId").val(),
                "ConfirmStatus": confirmStatusList.join(",")
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr>
                                        <td>${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Amount}" style="max-width: 150px;">${item.Amount}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.UnitQuantity}" style="max-width: 150px;">${item.UnitQuantity}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ConfirmStatus == `Y` ? `已確認` : `未確認`}" style="max-width: 150px;">${item.ConfirmStatus == `Y` ? `已確認` : item.ConfirmStatus == `H` ? `歷史紀錄` :`未確認`}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ConfirmUserName != `` ? item.ConfirmUserName : `未確認`}" style="max-width: 150px;">${item.ConfirmUserName != ``? item.ConfirmUserName : `未確認`}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.ConfirmDate != `` ? item.ConfirmDate : `未確認`}" style="max-width: 150px;">${item.ConfirmDate != `` ? item.ConfirmDate : `未確認`}</td>
                                        <td class="text-center active-content">
                                            <div class="btn-group mb-4 show" style="margin-bottom: 0 !important; position: static;">
                                                ${item.ConfirmStatus == `N` ? `
                                                    <button type="button" class="btn btn-primary dropdown-toggle" data-ma-id="${item.MaId}" style="padding-top: 0; padding-bottom: 0;">動作</button>
                                                    <div class="dropdown-menu btn-text-left-block" data-ma-id="${item.MaId}" style="overflow-y: auto; z-index: 999; max-height: 150px;">
                                                        <a class="dropdown-item btn-text-left auth-delete" href="javascript:Edit@(itemName)(${item.MaId});"><i class="fas fa-edit"></i>編輯</a>
                                                        <a class="dropdown-item btn-text-left auth-delete" href="javascript:Confirm@(itemName)(${item.MaId});"><i class="fas fa-check-circle"></i>確認</a>
                                                        <a class="dropdown-item btn-text-left auth-delete" href="javascript:Delete@(itemName)(${item.MaId});"><i class="fas fa-trash-alt"></i>刪除</a>
                                                    </div>
                                                `: ``}
                                            </div>
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="6" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

            $(".dropdown-toggle").off("click").on("click", function () {
                let maId = $(this).data("ma-id");

                if ($(`.dropdown-menu[data-ma-id='${maId}']`).hasClass("show")) {
                    $(".dropdown-menu").removeClass("show");
                } else {
                    $(".dropdown-menu").removeClass("show");

                    $(`.dropdown-menu[data-ma-id='${maId}']`).addClass("show");
                    $(`.dropdown-menu[data-ma-id='${maId}']`).css({
                        top: `${$(this).position().top + $(this).height() + 5}px`,
                        left: `${$(this).position().left - $(this).width() + 38}px`
                    });
                }
            });

            $("body").off("click").on("click", function (e) {
                if ($(".dropdown-menu").hasClass("show")) {
                    if (!$(e.target).hasClass("dropdown-toggle")
                        && !$(e.target).parents().hasClass("dropdown-toggle")) {
                        $(".dropdown-menu").removeClass("show");
                    }
                }
            });
        }

        function Edit@(itemName)(MaId) {
            $("#MaId").val(MaId ? MaId : 0);

            Switch("#editData@(itemName)", "#listData@(itemName)");

            if (MaId > 0) {
                let targetUrl = "@Url.Action("GetMtAmount", "PurchaseOrder")";
                let postData = {
                    "MaId": MaId
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        $("#txtAmount@(itemName)").val(item.Amount);
                        $("#txtUnitQuantity@(itemName)").val(item.UnitQuantity);
                    });
                } else {
                    alert(data.msg, "alert", 0);
                }
            }
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let MaId = parseInt($("#MaId").val());

                if (MaId <= 0) {
                    let targetUrl = "@Url.Action("AddMtAmount", "PurchaseOrder")";
                    let postData = {
                        "MtId": $("#MtId").val(),
                        "Amount": $("#txtAmount@(itemName)").val(),
                        "UnitQuantity": $("#txtUnitQuantity@(itemName)").val()
                    }
                    let result = DataAccess.Add(targetUrl, postData, false, true);

                    if (result) {
                        Return@(itemName)();
                    }
                } else {
                    let targetUrl = "@Url.Action("UpdateMtAmount", "PurchaseOrder")";
                    let postData = {
                        "MaId": $("#MaId").val(),
                        "Amount": $("#txtAmount@(itemName)").val(),
                        "UnitQuantity": $("#txtUnitQuantity@(itemName)").val()
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Return@(itemName)();
                    }
                }
            }
        }

        function Confirm@(itemName)(MaId) {
            swal.fire({
                title: "確認要執行金額確認嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("UpdateMtAmountConfirm", "PurchaseOrder")";
                    let postData = {
                        "MaId": MaId
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function Delete@(itemName)(MaId) {
            swal.fire({
                title: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteMtAmount", "PurchaseOrder")";
                    let postData = {
                        "MaId": MaId
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function Return@(itemName)() {
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName)", "#editData@(itemName)");
            Query@(itemName)();
        }
    </script>
)