@using Business_Manager.Helpers
@{
    string itemName = "MemberManagement";
    string itemNameText = "會員資料管理";
    string authority = ViewBag.authority;

    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<link href="@Url.Content("~/Content/auth.min.css")" rel="stylesheet" />
                    )

@Html.Resource("css",
    @<style>
         .company-container {
             padding-top: 0 !important;
             padding-bottom: 0 !important;
             vertical-align: middle !important;
         }

         .CustomerWithCorp-item {
             margin-right: 5px;
             margin-top: 2px;
             margin-bottom: 2px;
         }
    </style>
                    )

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
    </div>
</div>

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboCsCustIdQ@(itemName)">客戶別</label>
                            <div class="col-12">
                                <select class="form-control" id="cboCsCustIdQ@(itemName)" name="cboCsCustIdQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboCompanyIdQ@(itemName)">公司別</label>
                            <div class="col-12">
                                <select class="form-control" id="cboCompanyIdQ@(itemName)" name="cboCompanyIdQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtMemberNameQ@(itemName)">會員姓名</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMemberNameQ@(itemName)" name="txtMemberNameQ@(itemName)" placeholder="請輸入會員姓名" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">狀態</label>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    啟用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)A" name="cbxStatusQ@(itemName)" value="A" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    停用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)S" name="cbxStatusQ@(itemName)" value="S" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="tab">
                    <ul class="nav nav-tabs nav-fill mb-3" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabMemberList">
                                <i class="fas fa-users-class"></i> 會員資料管理
                            </a>
                        </li>
                        @*<li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabMemberCustCorpList">
                                    <i class="fas fa-users"></i> 會員客戶管理
                                </a>
                            </li>*@
                    </ul>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="tabMemberList">
                        <div class="row mb-3">
                            <div class="col-6 col-sm-6 col-md-6">
                                <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);">
                                    <i class="fal fa-search"></i>搜尋
                                </a>
                            </div>
                            @*<div class="col-6 col-sm-6 col-md-6 text-right">
                                    <a class="btn btn-info auth-add" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>
                                </div>*@
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="table-custom">
                                    <table class="table table-bordered table-striped table-sticky table-stack" id="tblData@(itemName)">
                                        <thead>
                                            <tr>
                                                <th scope="col" style="min-width: 75px;">#</th>
                                                <th scope="col" style="min-width: 100px;">會員姓名</th>
                                                <th scope="col" style="min-width: 100px;">會員帳號</th>
                                                <th scope="col" style="min-width: 300px;">會員綁定客戶</th>
                                                <th class="text-center" scope="col" style="min-width: 125px;">狀態</th>
                                                <th class="text-center" scope="col" style="min-width: 125px;">操作</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>
                                </div>
                                <div class="pagination" id="page@(itemName)"></div>
                            </div>
                        </div>
                    </div>
                    @*<div class="tab-pane" id="tabMemberCustCorpList">
                            @Html.Partial("MemberCustManagement")
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container custom-form-container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="MemberId" name="MemberId" value="-1" />
                        @*<div class="form-group row">
                                <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboCompanyId@(itemName)">公司名稱 <span class="text-danger">*</span></label>
                                <div class="col-12 col-md-9 col-lg-9">
                                    <select class="form-control" id="cboCompanyId@(itemName)" name="cboCompanyId@(itemName)"
                                            data-msg-required="請選擇公司別" data-rule-required="true"></select>
                                </div>
                            </div>*@
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtMemberName@(itemName)">會員姓名 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtMemberName@(itemName)" name="txtMemberName@(itemName)" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtMemberIcon@(itemName)">頭像</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="file" id="fileMemberIcon@(itemName)" name="fileMemberIcon@(itemName)" accept="image/*">
                                <input type="hidden" id="txtMemberIcon@(itemName)" name="txtMemberIcon@(itemName)" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtMemberEmail@(itemName)">會員帳號 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtMemberEmail@(itemName)" name="txtMemberEmail@(itemName)" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtOrgShortName@(itemName)">公司簡稱 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtOrgShortName@(itemName)" name="txtOrgShortName@(itemName)" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtAddress@(itemName)">聯絡地址 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtAddress@(itemName)" name="txtAddress@(itemName)" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtDescription@(itemName)">備註 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtDescription@(itemName)" name="txtDescription@(itemName)" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtCNameAndEName@(itemName)">會員綁定客戶 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtCNameAndEName@(itemName)" name="txtCNameAndEName@(itemName)" />
                            </div>
                        </div>
                        @*<div class="form-group row">
                                <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboMembers@(itemName)">客戶資料 <span class="text-danger">*</span></label>
                                <div class="col-12 col-md-9 col-lg-9">
                                    <div class="input-group">
                                        <select class="form-control" id="cboMembers@(itemName)" name="cboMembers@(itemName)"
                                                data-msg-required="請選擇客戶別" data-rule-required="true" multiple></select>
                                        <div class="input-group-append">
                                            <a class="btn btn-success pop-view" href="javascript:void(0);"><i class="fal fa-search"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
                @*<button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>*@
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalDetail@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">客戶明細</h5>
                <button class="close" type="button" onclick="CloseDetail@(itemName)()">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container custom-form-container" autocomplete="off" id="detailForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="CsCustId" name="CsCustId" value="-1" />
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtCustomerName@(itemName)">客戶名稱</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtCustomerName@(itemName)" name="txtCustomerName@(itemName)" readonly disabled />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtCustomerEnglishName@(itemName)">客戶名稱(英文)</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtCustomerEnglishName@(itemName)" name="txtCustomerEnglishName@(itemName)" readonly disabled />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="custDetail@(itemName)">BM客戶資料</label>
                            <div class="col-12 col-md-9 col-lg-9" id="corpCustDetail@(itemName)">
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer text-right">
                <button type="button" class="btn btn-secondary" onclick="CloseDetail@(itemName)()"><i class="fas fa-times"></i>關閉</button>
            </div>
        </div>
    </div>
</div>

@Html.Partial("ViewMember")

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        let companyId@(itemName);

        $(document).ready(function () {
            GetUserInfo@(itemName)();

            Query@(itemName)();

            $("#listData@(itemName) a[data-toggle='tab']").on("shown.bs.tab", function (e) {
                InitParameter@(itemName)($(this));
            });

            $('.advanced-block a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                InitParameter@(itemName)($(this));
            });

            ComboBoxs.Default("#cboCompanyIdQ@(itemName)", "@Url.Action("GetCompany", "BasicInformation")", {}, "", "ALL", "", "CompanyWithNo", "CompanyId");
            ComboBoxs.Default("#cboCsCustIdQ@(itemName)", "@Url.Action("GetCsCustomer", "EipSystemSetting")", { "Status": "A" }, "", "ALL", "", "CNameAndEName", "CsCustId");

            $("#cboCsCustIdQ@(itemName), #cboCompanyIdQ@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });
        });

        function GetUserInfo@(itemName)() {
            let targetUrl = "@Url.Action("GetLoginByKey", "User")";
            let postData = {
                "UserNo": $.cookie("Login"),
                "KeyText": $.cookie("LoginKey")
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                companyId@(itemName) = data.returnData.CompanyId;
            } else {
                alert(data.msg, "alert", 0);
            }
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let targetUrl = "@Url.Action("GetMember", "EipSystemSetting")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "CompanyId": $("#cboCompanyIdQ@(itemName)").val(), //companyId@(itemName)
                "MemberId": $("#cboMemberIdQ@(itemName) :selected").val(),
                @*"CompanyName": $("#txtCompanyNameQ@(itemName)").val(),
                "MemberName": $("#txtMemberNameQ@(itemName)").val(),*@
                "Status": $("input[name='cbxStatusQ@(itemName)']:checked").toArray().map(item => item.value).join()
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        //<th scope="col" style="min-width: 200px;">會員</th>
                        //    <th scope="col" style="min-width: 200px;">會員帳號</th>
                        //    <th scope="col" style="min-width: 200px;">會員綁定客戶</th>
                        //<th class="text-center" scope="col" style="min-width: 125px;">狀態</th>
                        //<th class="text-center" scope="col" style="min-width: 185px;">操作</th>

                        innerHtml += `<tr>
                                        <td><span class="stack-title">#</span>${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MemberName}" style="max-width: 200px;"><span class="stack-title">會員姓名</span>
                                            ${item.MemberName}
                                        </td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MemberEmail}" style="max-width: 200px;"><span class="stack-title">會員帳號</span>
                                            ${item.MemberEmail}
                                        </td>
                                        <td class="text-left" data-toggle="tooltip" title="${item.CNameAndEName}" style="max-width: 200px;"><span class="stack-title">會員綁定客戶</span>
                                            ${!!item.CsCustId ? `<a class="btn btn-outline-secondary company-item" href="javascript:ShowDetail@(itemName)(${item.CsCustId});">${item.CNameAndEName}</a>` : ``}
                                        </td>
                                        <td class="text-center auth-status-switch">
                                          <span class="stack-title">狀態</span>
                                          <input type="checkbox" name="cbxStatus@(itemName)" data-member-id="${item.MemberId}" ${(item.Status == `A` ? `checked` : ``)} />
                                        </td>
                                        <td class="text-center active-content">
                                          <span class="stack-title">操作</span>
                                            <a class="active-link auth-update" href="javascript:Read@(itemName)(${item.MemberId});"><i class="far fa-eye"></i></a>
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="5" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

            $("input[name='cbxStatus@(itemName)']").bootstrapToggle({
                on: "啟用",
                off: "停用",
                onstyle: "success",
                offstyle: "danger",
                size: "mini"
            });

            $("input[name='cbxStatus@(itemName)'][data-member-id]").change(StatusSwitch@(itemName));

            function CompanyList@(itemName)(memberId, source) {
                let html = '';

                if (!!source) {
                    //let json = JSON.parse(source);

                    $.each(source, function (i, item) {
                        console.log(item)
                        html += `<a class="btn btn-outline-secondary CustomerWithCorp-item" title="${item.CompanyName} ${item.CNameAndEName}" href="javascript:DeleteDetail@(itemName)(${memberId}, ${item.CustomerId});">
                                  ${item.LogoIcon == -1 ? `` : `<img class="company-logo" src="/Web/GetFile?fileId=${item.LogoIcon}" />`}${item.CompanyName} ${item.CNameAndEName}
                                </a>`;
                    });
                }

                return html;
            }
        }

        function Edit@(itemName)(memberId) {
            $("#MemberId").val(memberId ? memberId : 0);

            $(objForm@(itemName) + " fieldset").attr("disabled", false);
            $(objForm@(itemName) + " select").attr("disabled", false);
            Switch("#editData@(itemName)", "#listData@(itemName)");

            @*ComboBoxs.Default("#cboMemberId@(itemName)", "@Url.Action("GetMember", "EipSystemSetting")", { "Status": "A" }, "", "ALL", "", "CNameAndEName", "MemberId");
                ComboBoxs.Default("#cboMembers@(itemName)", "@Url.Action("GetMember", "EipSystemSetting")", { "Status": "A" }, "", "CHOOSE", "", "CNameAndEName", "MemberId");*@

            if (memberId > 0) {
                let targetUrl = "@Url.Action("GetMember", "EipSystemSetting")";
                let postData = {
                    "MemberId": memberId
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    if (!!data.result) {
                        $.each(data.result, function (i, item) {
                            $("#txtMemberName@(itemName)").val(item.MemberName);
                            $("txtMemberIcon@(itemName)").val(item.MemberIcon);
                            $("#txtMemberEmail@(itemName)").val(item.MemberEmail);

                            $("#txtOrgShortName@(itemName)").val(item.OrgShortName);
                            $("#txtAddress@(itemName)").val(item.Address);
                            $("#txtDescription@(itemName)").val(item.Description);
                            $("#txtCNameAndEName@(itemName)").val(item.CNameAndEName);

                            @*$("#cboCustomers@(itemName)").val(item.CustomerIds);*@
                        });
                    }
                } else {
                    alert(data.msg, "alert", 0);
                }
            }

            @*$("#cboCustomers@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });*@

            @*let popConfig = {
                targetSelector: "#cboMembers@(itemName)",
                popFunction: "PopViewMember",
                objectMemberId: "#cboMembers@(itemName)",
                type: "checkbox"
            };
            InitPopView(popConfig);*@
        }

        function Read@(itemName)(memberId) {
            Edit@(itemName)(memberId);
            $(objForm@(itemName) + " fieldset").attr("disabled", true);
            $(objForm@(itemName) + " select").attr("disabled", true);
            $(".read-hide").hide();
        }

        function ShowDetail@(itemName)(cscustId) {
            $("#modalDetail@(itemName)").modal({
                //backdrop: "static",
                keyboard: false,
                show: true
            });

            if (cscustId > 0) {
                let targetUrl = "@Url.Action("GetCorpCust", "EipSystemSetting")";
                let postData = {
                    "CsCustId": cscustId
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                console.log(data.result);

                if (data.status == "success") {
                    if (!!data.result) {

                        $.each(data.result, function (i, item) {

                            $("#txtCustomerName@(itemName)").val(item.CustomerName);
                            $("#txtCustomerEnglishName@(itemName)").val(item.CustomerEnglishName);

                            if (!!item.Companys) {
                                let innerHtml = ``;
                                $.each(item.Companys, function (j, corp) {
                                    innerHtml += `<div class="CustomerWithCorp-item" title="${corp.CNameAndEName}">
                                                    <img class="company-logo" src="/Web/GetFile?fileId=${corp.LogoIcon}">${corp.CNameAndEName}
                                                </div>`
                                });

                                $("#corpCustDetail@(itemName)").html(innerHtml);
                            }
                        });
                    }
                } else {
                    alert(data.msg, "alert", 0);
                }
            }
        }

        function CloseDetail@(itemName)() {
            ResetForm("#detailForm@(itemName)");

            $("#modalDetail@(itemName)").modal("hide");
        }

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function Return@(itemName)() {
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName)", "#editData@(itemName)");

            if ($("#listData@(itemName) .nav-tabs > .nav-item > .nav-link").first().hasClass("active")) {
                Query@(itemName)();
            } else {
                $("#listData@(itemName) .nav-tabs > .nav-item").first().find("a").trigger("click");
            }
        }

        function StatusSwitch@(itemName)() {
            var memberId = $(this).data("member-id");

            let targetUrl = "@Url.Action("UpdateMemberStatus", "EipSystemSetting")";
            let postData = {
                "MemberId": memberId
            };

            let result = DataAccess.Update(targetUrl, postData, false, true);

            if (result) {
                Return@(itemName)();
            }
        }


        function InitParameter@(itemName)(selector) {
            let initFnString = "Query";
            let content = selector.attr("href").split('#tab')[1].split('@(itemName)')[0];

            switch (content) {
                case "MemberList":
                    initFnString += "MemberManagement";
                    break;
            }

            let initFn = window[initFnString];
            if (initFn && typeof (initFn) == "function") {
                initFn();
            }
        }
    </script>
                )