@using Business_Manager.Helpers
@{
    string itemName = "MemberCustManagement";
    string itemNameText = "會員客戶管理";
}

@Html.Resource("css",
    @<style>
         .company-container {
             padding-top: 0 !important;
             padding-bottom: 0 !important;
             vertical-align: middle !important;
         }

         .company-item {
             margin-right: 5px;
         }
    </style>
        )

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboCompanyIdQ@(itemName)">所屬公司</label>
                            <div class="col-12">
                                <select class="form-control" id="cboCompanyIdQ@(itemName)" name="cboCompanyIdQ@(itemName)" multiple></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboCsCustIdQ@(itemName)">所屬客戶</label>
                            <div class="col-12">
                                <select class="form-control" id="cboCsCustIdQ@(itemName)" name="cboCsCustIdQ@(itemName)" multiple></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtMemberEmailQ@(itemName)">會員帳號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMemberEmailQ@(itemName)" name="txtMemberEmailQ@(itemName)" placeholder="請輸入會員帳號" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtMemberNameQ@(itemName)">會員姓名</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMemberNameQ@(itemName)" name="txtMemberNameQ@(itemName)" placeholder="請輸入會員姓名" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">狀態</label>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    啟用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)A" name="cbxStatusQ@(itemName)" value="A" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    停用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)S" name="cbxStatusQ@(itemName)" value="S" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">綁定狀態</label>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--radio">
                                    全部
                                    <input type="radio" id="cbxCsCustStatusQ@(itemName)A" name="cbxCsCustStatusQ@(itemName)" value="A" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--radio">
                                    已綁定
                                    <input type="radio" id="cbxCsCustStatusQ@(itemName)Y" name="cbxCsCustStatusQ@(itemName)" value="Y" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--radio">
                                    未綁定
                                    <input type="radio" id="cbxCsCustStatusQ@(itemName)N" name="cbxCsCustStatusQ@(itemName)" value="N" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="row mb-3">
    <div class="col-6 col-sm-6 col-md-6">
        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);">
            <i class="fal fa-search"></i>搜尋
        </a>
    </div>
    <div class="col-6 col-sm-6 col-md-6 text-right">
        <a class="btn btn-info auth-add" href="javascript:Add@(itemName)();"><i class="fas fa-edit"></i>會員綁定客戶</a>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="table-custom">
            <table class="table table-bordered table-striped table-sticky table-stack" id="tblData@(itemName)">
                <thead>
                    <tr>
                        <th scope="col" style="min-width: 75px;">#</th>
                        <th scope="col" style="min-width: 450px;">會員綁定客戶</th>
                        <th scope="col" style="min-width: 450px;">會員</th>
                        @*<th scope="col" style="min-width: 100px;">公司簡稱</th>*@
                        <th scope="col" style="max-width: 500px;">會員所屬公司別</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="pagination" id="page@(itemName)"></div>
    </div>
</div>

<div class="modal fade" id="modalAdd@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@(itemNameText)</h5>
                <button class="close" type="button" onclick="CloseAdd@(itemName)()">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container custom-form-container" autocomplete="off" id="addForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboMembers@(itemName)">會員 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <div class="input-group">
                                    <select class="form-control" id="cboMembers@(itemName)" name="cboMembers@(itemName)"
                                            data-msg-required="請選擇會員" data-rule-required="true" multiple></select>
                                    <div class="input-group-append">
                                        <a class="btn btn-success pop-view" href="javascript:void(0);"><i class="fal fa-search"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="form-group row">
                                <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboCompanys@(itemName)">會員所屬公司別 <span class="text-danger">*</span></label>
                                <div class="col-12 col-md-9 col-lg-9">
                                    <select class="form-control" id="cboCompanys@(itemName)" name="cboCompanys@(itemName)"
                                            data-msg-required="請選擇公司別" data-rule-required="true" multiple></select>
                                </div>
                            </div>*@
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboCsCustId@(itemName)">會員客戶 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboCsCustId@(itemName)" name="cboCsCustId@(itemName)"
                                        data-msg-required="請選擇公司別" data-rule-required="true"></select>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer text-center">
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

@Html.Partial("ViewMember")

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };

        $(document).ready(function () {

            ComboBoxs.Default("#cboCompanyIdQ@(itemName)", "@Url.Action("GetCompany", "BasicInformation")", {}, "", "CHOOSE", "", "CompanyWithNo", "CompanyId");
            ComboBoxs.Default("#cboCsCustIdQ@(itemName)", "@Url.Action("GetCsCustomer", "EipSystemSetting")", { "Status": "A" }, "", "CHOOSE", "", "CNameAndEName", "CsCustId");

            $("#cboCompanyIdQ@(itemName), #cboCsCustIdQ@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });
        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let targetUrl = "@Url.Action("GetMemberCustCorp", "EipSystemSetting")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "CompanyIds": $("#cboCompanyIdQ@(itemName)").val().join(","),
                "CsCustIds": $("#cboCsCustIdQ@(itemName)").val().join(","),
                "MemberEmail": $("#txtMemberEmailQ@(itemName)").val(),
                "MemberName": $("#txtMemberNameQ@(itemName)").val(),
                "Status": $("input[name='cbxStatusQ@(itemName)']:checked").toArray().map(item => item.value).join(),
                "CsCustStatus": $("input[name='cbxCsCustStatusQ@(itemName)']:checked").toArray().map(item => item.value).join(),
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        //<td class="ellipsis" data-toggle="tooltip" title="${item.OrgShortName}" style="max-width: 200px;"><span class="stack-title">公司簡稱</span>
                        //    ${item.OrgShortName}
                        //</td>

                        innerHtml += `<tr>
                                        <td><span class="stack-title">#</span>${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.CNameAndEName}"><span class="stack-title">會員綁定客戶</span>
                                            ${!!item.CsCustId ? `<a class="btn btn-outline-secondary company-item" href="javascript:Delete@(itemName)(${item.MemberId});">${item.CNameAndEName}</a>` : `${item.CNameAndEName}`}
                                        </td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.EmailWithMember}"><span class="stack-title">會員</span>
                                            <div style="display:inline-block;">${item.MemberIcon == -1 ? `` : `<img class="company-logo" src="/EipBasicInformation/GetMemberIcon?fileId=${item.MemberIcon}" />`}${item.OrgShortName}</div>
                                            <div>${item.Gender == `M` ? `<span class="gender-male"><i class="fas fa-male"></i></span>` : item.Gender == `F` ? `<span class="gender-female"><i class="fas fa-female"></i></span>` : ``}${item.EmailWithMember}</div>
                                        </td>
                                        <td class="company-container"><span class="stack-title">會員所屬公司別</span>
                                          ${CompanyList@(itemName)(item.Companys)}
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="5" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

            function CompanyList@(itemName)(source) {
                let html = '';

                if (!!source) {
                    //let json = JSON.parse(source);

                    $.each(source, function (i, item) {
                        html += `<div class="btn btn-outline-secondary company-item" title="${item.CompanyName}">
                                  ${item.LogoIcon == -1 ? `` : `<img class="company-logo" src="/Web/GetFile?fileId=${item.LogoIcon}" />`}${item.CompanyName}
                                </div>`;
                    });
                }

                return html;
            }
        }

        function Add@(itemName)() {
            $("#modalAdd@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });

            ComboBoxs.Default("#cboMembers@(itemName)", "@Url.Action("GetMember", "EipSystemSetting")", { "Status": "A" }, "", "CHOOSE-NUMBER", "", "EmailWithMember", "MemberId");
            @*ComboBoxs.Default("#cboCompanys@(itemName)", "@Url.Action("GetCompany", "BasicInformation")", { "Status": "A" }, "", "CHOOSE-NUMBER", "", "CompanyWithNo", "CompanyId");*@
            ComboBoxs.Default("#cboCsCustId@(itemName)", "@Url.Action("GetCsCustomer", "EipSystemSetting")", { "Status": "A" }, "", "NA", "", "CNameAndEName", "CsCustId");

            $("#cboMembers@(itemName), #cboCsCustId@(itemName)").select2({
                dropdownAutoWidth: true,
                width: "100%"
            });

            let popConfig = {
                targetSelector: "#cboMembers@(itemName)",
                popFunction: "PopViewMember",
                objectMemberId: "#cboMembers@(itemName)",
                type: "checkbox"
            };
            InitPopView(popConfig);
        }

        function CloseAdd@(itemName)() {
            ResetForm("#addForm@(itemName)");

            $("#modalAdd@(itemName)").modal("hide");

            Query@(itemName)();
        }

        function Save@(itemName)() {
            if ($("#addForm@(itemName)").valid()) {
                let targetUrl = "@Url.Action("UpdateMemberCustomer", "EipSystemSetting")";
                let postData = {
                    "UserList": $("#cboMembers@(itemName)").val().join(","),
                    @*"Companys": $("#cboCompanys@(itemName)").val().join(",")*@
                    "CsCustId": $("#cboCsCustId@(itemName)").val(),
                };

                let result = DataAccess.Add(targetUrl, postData, false, true);

                if (result) {
                    CloseAdd@(itemName)();
                }
            }
        }

        function Delete@(itemName)(memberId) {
            swal.fire({
                titleText: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteMemberCustomer", "EipSystemSetting")";
                    let postData = {
                        "MemberId": memberId
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }
    </script>
        )