@using Business_Manager.Helpers
@Html.Resource("css",
    @<link href="@Url.Content("~/Content/login.css")" rel="stylesheet" />
        )
@Html.Resource("css",
@<style>
    .input {
        font-size: 13px;
    }
</style>
)

<div class="login-block">
    <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="logo">
                    <img src="@Url.Content("~/Content/images/logo.png")" />
                </div>
                <div class="login-form">
                    <form autocomplete="off" id="form" method="post">
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtUserNo">使用者編號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtUserNo" name="txtUserNo" style="font-size:20px"
                                       data-rule-required="true" data-msg-required="請輸入使用者編號" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtPassword">密碼</label>
                            <div class="col-12 inputPassword">
                                <input type="password" class="form-control" id="txtPassword" name="txtPassword" style="font-size:20px"
                                       data-rule-required="true" data-msg-required="請輸入密碼" />
                            </div>
                        </div>
                        <button class="btn btn-success mt-3 mb-3" onclick="MLogin()" type="button">登入</button>
                        <input hidden name="ip" type="text" id="ip">
                        <input hidden name="timestamp" type="text" id="timestamp">
                        <input hidden name="MMQuery" type="text" id="MMQuery">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
@<script>
    var defaultTimeStamp = Date.now() / 1000;
    function MLogin() {
        if ($("#form").valid()) {
            $.ajax({
                url: "@Url.Action("GetMamoLoginKey", "User")",
                type: "POST",
                async: false,
                dataType: "json",
                data: {
                    "account": $("#txtUserNo").val(),
                    "password": $("#txtPassword").val(),
                    "timestamp": defaultTimeStamp
                },
                dataType: "json",
                beforeSend: function (XMLHttpRequest) {
                },
                success: function (data) {
                    switch (data.status) {
                        case "success":
                            window.location.assign("https://mm.jmo-corp.com.tw/login");
                            break;
                        case "errot":
                            break;
                    }
                    alert("<p style='font-size: 20px;'>輸入資料有誤!\n小小提醒: 個人登入帳號密碼與MES2.0相同，\n若遇到無法登入狀況，請先到MES網站 \nhttps://bm.zy-tech.com.tw/User/Login  測試登入\n依然有帳號登入問題請與系統聯繫處理，謝謝</p>")
                },
                complete: function (XMLHttpRequest, textStatus) {
                    if (textStatus == 'timeout') {
                        var xmlhttp = window.XMLHttpRequest ? new window.XMLHttpRequest() : new ActiveXObject("Microsoft.XMLHttp");
                        xmlhttp.abort();
                        alert("網路逾時!");
                    }
                },
                error: function (XMLHttpRequest, textStatus) {
                    alert(XMLHttpRequest.statusText, "error", 0);
                }
            });
        }
    }
</script>
)