@using Business_Manager.Helpers
@{
    string itemName = "Team";
    string itemNameText = "Mamo團隊管理";
    string authority = ViewBag.authority;

    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
    </style>
)

<input type="hidden" id="pageAuthority" value="@authority" />

<!--返回-->
<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

<!--搜尋-->
<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtMamoTeamIdQ@(itemName)">團隊ID</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMamoTeamIdQ@(itemName)" name="txtMamoTeamIdQ@(itemName)" placeholder="請輸入團隊ID" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtTeamNameQ@(itemName)">團隊名稱</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtTeamNameQ@(itemName)" name="txtTeamNameQ@(itemName)" placeholder="請輸入團隊名稱" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtRemarkQ@(itemName)">備註</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtRemarkQ@(itemName)" name="txtRemarkQ@(itemName)" placeholder="請輸入團隊名稱" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">狀態</label>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    啟用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)A" name="cbxStatusQ@(itemName)" value="A" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    停用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)S" name="cbxStatusQ@(itemName)" value="S" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<!--列表-->
<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);"><i class="fal fa-search"></i>搜尋</a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn btn-info auth-add" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky table-stack" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 50px;">#</th>
                                        <th scope="col" style="min-width: 150px;">團隊ID</th>
                                        <th scope="col" style="min-width: 150px;">團隊名稱</th>
                                        <th scope="col" style="min-width: 150px;">備註</th>
                                        <th class="text-center" scope="col" style="min-width: 50px;">狀態</th>
                                        <th class="text-center" scope="col" style="min-width: 50px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 編輯頁 -->
<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-header card-page-header">
                <h2 class="card-page-title">詳細資料</h2>
                <span class="card-actions">
                    <a href="javascript: void(0);" data-card-toggle><i class="fas fa-2x fa-caret-up"></i></a>
                </span>
            </div>
            <div class="card-body">
                <form class="container custom-form-container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="TeamId" name="TeamId" value="-1" />
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtTeamName@(itemName)">團隊名稱 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtTeamName@(itemName)" name="txtTeamName@(itemName)" placeholder="請輸入團隊名稱"
                                       data-msg-required="請輸入團隊名稱" data-rule-required="true"
                                       data-msg-maxlength="必須少於 100 個字元" maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtRemark@(itemName)">備註 <span class="text-danger"></span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtRemark@(itemName)" name="txtRemark@(itemName)" placeholder="請輸入備註"
                                       data-msg-required="請輸入備註" data-rule-required="false"
                                       data-msg-maxlength="必須少於 100 個字元" maxlength="100" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

<div class="advanced-block">
    <div class="row">
        <div class="col-12">
            <ul class="nav flag-tabs nav-fill" role="tablist">
                <li class="flag-item">
                    <a class="flag-link active" data-toggle="tab" href="#tabTeamUser">
                        <i class="fas fa-user-unlock"></i> 團隊成員
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane active" id="tabTeamUser">
            @Html.Partial("TeamUser")
        </div>
    </div>
</div>


@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        $(document).ready(function () {
            Query@(itemName)();
        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;
            
            let statusList = [];
            $.each($("input[name='cbxStatusQ@(itemName)']:checked"), function () {
                statusList.push($(this).val());
            });

            let targetUrl = "@Url.Action("GetMamoTeams", "MamoBasicInformation")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "MamoTeamId": $("#txtMamoTeamIdQ@(itemName)").val(),
                "TeamName": $("#txtTeamNameQ@(itemName)").val(),
                "Remark": $("#txtRemarkQ@(itemName)").val(),
                "Status": statusList.join(",")
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr>
                                        <td><span class="stack-title">#</span>${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MamoTeamId}" style="max-width: 150px;"><span class="stack-title">ID</span>${item.MamoTeamId}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.TeamName}" style="max-width: 150px;"><span class="stack-title">團隊名稱</span>${item.TeamName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Remark}" style="max-width: 150px;"><span class="stack-title">備註</span>${item.Remark}</td>
                                        <td class="text-center auth-status-switch">
                                          <span class="stack-title">狀態</span>
                                          <input type="checkbox" name="chkStatus@(itemName)" data-team-id="${item.TeamId}" ${(item.Status == `A` ? `checked` : ``)} />
                                        </td>
                                        <td class="text-center un-auth auth-status-switch"><span class="stack-title">狀態</span>${StatusName(`Status`, item.Status)}</td>
                                        <td class="text-center active-content">
                                          <span class="stack-title">操作</span>
                                          <a class="active-link auth-update" href="javascript:Edit@(itemName)(${item.TeamId});"><i class="fas fa-edit"></i></a>
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="6" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

            $("input[name='chkStatus@(itemName)']").bootstrapToggle({
                on: "啟用",
                off: "停用",
                onstyle: "success",
                offstyle: "danger",
                size: "mini"
            });

            $("input[name='chkStatus@(itemName)'][data-team-id]").change(StatusSwitch@(itemName));
        }

        // 開啟編輯頁
        function Edit@(itemName)(TeamId) {
            $("#TeamId").val(TeamId ? TeamId : 0);

            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");

            // Update TeamName時把資料帶進來
            if (TeamId > 0) {
                let targetUrl = "@Url.Action("GetMamoTeams", "MamoBasicInformation")";
                let postData = {
                    "TeamId": TeamId
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        $("#txtMamoTeamId@(itemName)").val(item.MamoTeamId);
                        $("#txtTeamName@(itemName)").val(item.TeamName);
                        $("#txttxtRemark@(itemName)").val(item.txtRemark);
                    });

                    ExpandTeamUser();
                } else {
                    alert(data.msg, "alert", 0);
                }
            }
        }

        // 儲存編輯結果
        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let TeamId = parseInt($("#TeamId").val());
                if (TeamId <= 0)
                {
                    let targetUrl = "@Url.Action("AddMamoTeams", "MamoBasicInformation")";
                    let postData = {
                        "TeamName": $("#txtTeamName@(itemName)").val(),
                        "Remark": $("#txtRemark@(itemName)").val()
                    };

                    let data = DataAccess.EditContinued(targetUrl, postData, false);

                    if (data) {
                        $.each(data.result, function (i, item) {
                            $("#TeamId").val(item.TeamId);
                        });

                        ExpandTeamUser();
                    }
                }
                else
                {
                    let targetUrl = "@Url.Action("UpdateMamoTeams", "MamoBasicInformation")";
                    let postData = {
                        "txtMamoTeamId": $("#txttxtMamoTeamId@(itemName)").val(),
                        "TeamName": $("#txtTeamName@(itemName)").val(),
                        "Remark": $("#txtRemark@(itemName)").val()
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Return@(itemName)();
                    }
                }
            }
        }

        function Return@(itemName)() {
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName)", "#editData@(itemName), .unit-block, .advanced-block");
            Query@(itemName)();
        }

        function StatusSwitch@(itemName)() {
            var TeamId = $(this).data("team-id");

            let targetUrl = "@Url.Action("UpdateMamoTeamsStatus", "MamoBasicInformation")";
            let postData = {
                "TeamId": TeamId
            };

            let result = DataAccess.Update(targetUrl, postData, false, true);

            if (result) {
                Return@(itemName)();
                Query@(itemName)();
            }
        }

    </script>
)