@using Business_Manager.Helpers
@{
    string itemName = "CcdStageData";
    string itemNameText = "客訴單據各階段資料管理";
}
@Html.Resource("css",
    @<style>
         .centerObject {
             vertical-align: middle !important;
             text-align: center;
         }
    </style>
                                                                                                        )

<input type="hidden" id="CcStageDataId" value="" />
<input type="hidden" id="Stage" value="" />


<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="CcId" name="CcId" value="-1" />
                        <a class="btn btn-collapse" data-toggle="collapse" href="#basicDataD1@(itemName)">
                            <span><i class="fas fa-clipboard"></i> D1.小組成員</span>
                            <i class="fas fa-chevron-down"></i>
                        </a>
                        <div class="collapse mb-3" id="basicDataD1@(itemName)">
                            <div class="card card-body">
                                <div class="row ">
                                    <div class="col-lg-6 col-md-12" style="display:flex;align-items:flex-end">
                                        <div class="form-group row">
                                            <div class="col-12">
                                                <button type="button" id="dataInsertD1@(itemName)" class="btn btn-info auth-add" onclick="PopUserView@(itemName)();"><i class="fas fa-plus"></i>&nbsp;新增</button>
                                                <button type="button" id="dataCheckD1@(itemName)" class="btn btn-info auth-confirm" onclick="UpdateStageDataStatus@(itemName)('D1', 'Y') ;"><i class="fas fa-check-circle"></i>&nbsp;確認</button>
                                                <button type="button" id="dataUncheckD1@(itemName)" class="btn btn-info auth-reconfirm" onclick="UpdateStageDataStatus@(itemName)('D1', 'N');"><i class="fas fa-undo-alt"></i>&nbsp;反確認</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="table-custom">
                                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                                <thead>
                                                    <tr>
                                                        <th scope="col" style="min-width: 75px;">#</th>
                                                        <th class="text-center" scope="col" style="min-width: 200px;">姓名</th>
                                                        <th class="text-center" scope="col" style="min-width: 200px;">部門</th>
                                                        <th class="text-center" scope="col" style="min-width: 250px;">操作</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="DataD1"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="btn btn-collapse" data-toggle="collapse" href="#basicDataD2@(itemName)">
                            <span><i class="fas fa-clipboard"></i> D2.問題陳述</span>
                            <i class="fas fa-chevron-down"></i>
                        </a>
                        <div class="collapse mb-3" id="basicDataD2@(itemName)">
                            <div class="card card-body">
                                <div class="row ">
                                    <div class="col-lg-6 col-md-12" style="display:flex;align-items:flex-end">
                                        <div class="form-group row">
                                            <div class="col-12">
                                                <button type="button" id="dataInsertD2@(itemName)" class="btn btn-info auth-add" onclick="Edit@(itemName)('D2',0);"><i class="fas fa-plus"></i>&nbsp;新增</button>
                                                <button type="button" id="dataFileD2@(itemName)" class="btn btn-info auth-file-read" onclick="PopViewCcFileShow('D2');"><i class="fas fa-coins"></i>&nbsp;檔案查看</button>
                                                <button type="button" id="dataCheckD2@(itemName)" class="btn btn-info auth-confirm" onclick="UpdateStageDataStatus@(itemName)('D2', 'Y') ;"><i class="fas fa-check-circle"></i>&nbsp;確認</button>
                                                <button type="button" id="dataUncheckD2@(itemName)" class="btn btn-info auth-reconfirm" onclick="UpdateStageDataStatus@(itemName)('D2', 'N');"><i class="fas fa-undo-alt"></i>&nbsp;反確認</button>
                                                <button type="button" id="dataDeleteD2@(itemName)" class="btn btn-danger auth-delete" onclick="Delete@(itemName)('D2',-1);"><i class="fas fa-trash-alt"></i>&nbsp;清除</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="table-custom">
                                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                                <thead>
                                                    <tr>
                                                        <th scope="col" style="min-width: 75px;">#</th>
                                                        <th class="text-center" scope="col" style="min-width: 200px;">分類</th>
                                                        <th class="text-center" scope="col" style="min-width: 200px;">說明</th>
                                                        <th class="text-center" scope="col" style="min-width: 200px;">責任人員</th>
                                                        <th class="text-center" scope="col" style="min-width: 250px;">操作</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="DataD2"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="btn btn-collapse" data-toggle="collapse" href="#basicDataD3@(itemName)">
                            <span><i class="fas fa-clipboard"></i> D3.矯正處置</span>
                            <i class="fas fa-chevron-down"></i>
                        </a>
                        <div class="collapse mb-3" id="basicDataD3@(itemName)">
                            <div class="card card-body">
                                <div class="row ">
                                    <div class="col-lg-6 col-md-12" style="display:flex;align-items:flex-end">
                                        <div class="form-group row">
                                            <div class="col-12">
                                                <button type="button" id="dataInsertD3@(itemName)" class="btn btn-info auth-add" onclick="Edit@(itemName)('D3',0);"><i class="fas fa-plus"></i>&nbsp;新增</button>
                                                <button type="button" id="dataFileD3@(itemName)" class="btn btn-info auth-file-read" onclick="PopViewCcFileShow('D3');"><i class="fas fa-coins"></i>&nbsp;檔案查看</button>
                                                <button type="button" id="dataCheckD3@(itemName)" class="btn btn-info auth-confirm" onclick="UpdateStageDataStatus@(itemName)('D3', 'Y') ;"><i class="fas fa-check-circle"></i>&nbsp;確認</button>
                                                <button type="button" id="dataUncheckD3@(itemName)" class="btn btn-info auth-reconfirm" onclick="UpdateStageDataStatus@(itemName)('D3', 'N');"><i class="fas fa-undo-alt"></i>&nbsp;反確認</button>
                                                <button type="button" id="dataDeleteD3@(itemName)" class="btn btn-danger auth-delete" onclick="Delete@(itemName)('D3',-1);"><i class="fas fa-trash-alt"></i>&nbsp;清除</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="table-custom">
                                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                                <thead>
                                                    <tr>
                                                        <th scope="col" style="min-width: 75px;">#</th>
                                                        <th class="text-center" scope="col" style="min-width: 200px;">分類</th>
                                                        <th class="text-center" scope="col" style="min-width: 200px;">說明</th>
                                                        <th class="text-center" scope="col" style="min-width: 200px;">責任人員</th>
                                                        <th class="text-center" scope="col" style="min-width: 250px;">操作</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="DataD3"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="btn btn-collapse" data-toggle="collapse" href="#basicDataD4@(itemName)">
                            <span><i class="fas fa-clipboard"></i> D4.根本原因</span>
                            <i class="fas fa-chevron-down"></i>
                        </a>
                        <div class="collapse mb-3" id="basicDataD4@(itemName)">
                            <div class="card card-body">
                                <div class="row ">
                                    <div class="col-lg-6 col-md-12" style="display:flex;align-items:flex-end">
                                        <div class="form-group row">
                                            <div class="col-12">
                                                <button type="button" id="dataInsertD4@(itemName)" class="btn btn-info auth-add" onclick="Edit@(itemName)('D4',0);"><i class="fas fa-plus"></i>&nbsp;新增</button>
                                                <button type="button" id="dataFileD4@(itemName)" class="btn btn-info auth-file-read" onclick="PopViewCcFileShow('D4');"><i class="fas fa-coins"></i>&nbsp;檔案查看</button>
                                                <button type="button" id="dataCheckD4@(itemName)" class="btn btn-info auth-confirm" onclick="UpdateStageDataStatus@(itemName)('D4', 'Y') ;"><i class="fas fa-check-circle"></i>&nbsp;確認</button>
                                                <button type="button" id="dataUncheckD4@(itemName)" class="btn btn-info auth-reconfirm" onclick="UpdateStageDataStatus@(itemName)('D4', 'N');"><i class="fas fa-undo-alt"></i>&nbsp;反確認</button>
                                                <button type="button" id="dataDeleteD4@(itemName)" class="btn btn-danger auth-delete" onclick="Delete@(itemName)('D4',-1);"><i class="fas fa-trash-alt"></i>&nbsp;清除</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="table-custom">
                                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                                <thead>
                                                    <tr>
                                                        <th scope="col" style="min-width: 75px;">#</th>
                                                        <th class="text-center" scope="col" style="min-width: 200px;">分類</th>
                                                        <th class="text-center" scope="col" style="min-width: 200px;">說明</th>
                                                        <th class="text-center" scope="col" style="min-width: 200px;">責任人員</th>
                                                        <th class="text-center" scope="col" style="min-width: 250px;">操作</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="DataD4"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="btn btn-collapse" data-toggle="collapse" href="#basicDataD5@(itemName)">
                            <span><i class="fas fa-clipboard"></i> D5.長期對策</span>
                            <i class="fas fa-chevron-down"></i>
                        </a>
                        <div class="collapse mb-3" id="basicDataD5@(itemName)">
                            <div class="card card-body">
                                <div class="row ">
                                    <div class="col-lg-6 col-md-12" style="display:flex;align-items:flex-end">
                                        <div class="form-group row">
                                            <div class="col-12">
                                                <button type="button" id="dataInsertD5@(itemName)" class="btn btn-info auth-add" onclick="Edit@(itemName)('D5',0);"><i class="fas fa-plus"></i>&nbsp;新增</button>
                                                <button type="button" id="dataFileD5@(itemName)" class="btn btn-info auth-file-read" onclick="PopViewCcFileShow('D5');"><i class="fas fa-coins"></i>&nbsp;檔案查看</button>
                                                <button type="button" id="dataCheckD5@(itemName)" class="btn btn-info auth-confirm" onclick="UpdateStageDataStatus@(itemName)('D5', 'Y') ;"><i class="fas fa-check-circle"></i>&nbsp;確認</button>
                                                <button type="button" id="dataUncheckD5@(itemName)" class="btn btn-info auth-reconfirm" onclick="UpdateStageDataStatus@(itemName)('D5', 'N');"><i class="fas fa-undo-alt"></i>&nbsp;反確認</button>
                                                <button type="button" id="dataDeleteD5@(itemName)" class="btn btn-danger auth-delete" onclick="Delete@(itemName)('D5',-1);"><i class="fas fa-trash-alt"></i>&nbsp;清除</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="table-custom">
                                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                                <thead>
                                                    <tr>
                                                        <th scope="col" style="min-width: 75px;">#</th>
                                                        <th class="text-center" scope="col" style="min-width: 200px;">分類</th>
                                                        <th class="text-center" scope="col" style="min-width: 200px;">說明</th>
                                                        <th class="text-center" scope="col" style="min-width: 200px;">責任人員</th>
                                                        <th class="text-center" scope="col" style="min-width: 200px;">預計完成日</th>
                                                        <th class="text-center" scope="col" style="min-width: 250px;">操作</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="DataD5"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="btn btn-collapse" data-toggle="collapse" href="#basicDataD6@(itemName)">
                            <span><i class="fas fa-clipboard"></i> D6.效果驗證</span>
                            <i class="fas fa-chevron-down"></i>
                        </a>
                        <div class="collapse mb-3" id="basicDataD6@(itemName)">
                            <div class="card card-body">
                                <div class="row ">
                                    <div class="col-lg-6 col-md-12" style="display:flex;align-items:flex-end">
                                        <div class="form-group row">
                                            <div class="col-12">
                                                <button type="button" id="dataInsertD6@(itemName)" class="btn btn-info auth-add" onclick="Edit@(itemName)('D6',0);"><i class="fas fa-plus"></i>&nbsp;新增</button>
                                                <button type="button" id="dataFileD6@(itemName)" class="btn btn-info auth-file-read" onclick="PopViewCcFileShow('D6');"><i class="fas fa-coins"></i>&nbsp;檔案查看</button>
                                                <button type="button" id="dataCheckD6@(itemName)" class="btn btn-info auth-confirm" onclick="UpdateStageDataStatus@(itemName)('D6', 'Y') ;"><i class="fas fa-check-circle"></i>&nbsp;確認</button>
                                                <button type="button" id="dataUncheckD6@(itemName)" class="btn btn-info auth-reconfirm" onclick="UpdateStageDataStatus@(itemName)('D6', 'N');"><i class="fas fa-undo-alt"></i>&nbsp;反確認</button>
                                                <button type="button" id="dataDeleteD6@(itemName)" class="btn btn-danger auth-delete" onclick="Delete@(itemName)('D6',-1);"><i class="fas fa-trash-alt"></i>&nbsp;清除</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="table-custom">
                                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                                <thead>
                                                    <tr>
                                                        <th scope="col" style="min-width: 75px;">#</th>
                                                        <th class="text-center" scope="col" style="min-width: 200px;">分類</th>
                                                        <th class="text-center" scope="col" style="min-width: 200px;">說明</th>
                                                        <th class="text-center" scope="col" style="min-width: 200px;">責任人員</th>
                                                        <th class="text-center" scope="col" style="min-width: 200px;">完成日</th>
                                                        <th class="text-center" scope="col" style="min-width: 250px;">操作</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="DataD6"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="btn btn-collapse" data-toggle="collapse" href="#basicDataD7@(itemName)">
                            <span><i class="fas fa-clipboard"></i> D7.再發生防止措施</span>
                            <i class="fas fa-chevron-down"></i>
                        </a>
                        <div class="collapse mb-3" id="basicDataD7@(itemName)">
                            <div class="card card-body">
                                <div class="row ">
                                    <div class="col-lg-6 col-md-12" style="display:flex;align-items:flex-end">
                                        <div class="form-group row">
                                            <div class="col-12">
                                                <button type="button" id="dataInsertD7@(itemName)" class="btn btn-info auth-add" onclick="Edit@(itemName)('D7',0);"><i class="fas fa-plus"></i>&nbsp;新增</button>
                                                <button type="button" id="dataFileD7@(itemName)" class="btn btn-info auth-file-read" onclick="PopViewCcFileShow('D7');"><i class="fas fa-coins"></i>&nbsp;檔案查看</button>
                                                <button type="button" id="dataCheckD7@(itemName)" class="btn btn-info auth-confirm" onclick="UpdateStageDataStatus@(itemName)('D7', 'Y') ;"><i class="fas fa-check-circle"></i>&nbsp;確認</button>
                                                <button type="button" id="dataUncheckD7@(itemName)" class="btn btn-info auth-reconfirm" onclick="UpdateStageDataStatus@(itemName)('D7', 'N');"><i class="fas fa-undo-alt"></i>&nbsp;反確認</button>
                                                <button type="button" id="dataDeleteD7@(itemName)" class="btn btn-danger auth-delete" onclick="Delete@(itemName)('D7',-1);"><i class="fas fa-trash-alt"></i>&nbsp;清除</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="table-custom">
                                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                                <thead>
                                                    <tr>
                                                        <th scope="col" style="min-width: 75px;">#</th>
                                                        <th class="text-center" scope="col" style="min-width: 200px;">分類</th>
                                                        <th class="text-center" scope="col" style="min-width: 200px;">說明</th>
                                                        <th class="text-center" scope="col" style="min-width: 200px;">責任人員</th>
                                                        <th class="text-center" scope="col" style="min-width: 250px;">操作</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="DataD7"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="btn btn-collapse" data-toggle="collapse" href="#basicDataD8@(itemName)">
                            <span><i class="fas fa-clipboard"></i> D8.追蹤與結案</span>
                            <i class="fas fa-chevron-down"></i>
                        </a>
                        <div class="collapse mb-3" id="basicDataD8@(itemName)">
                            <div class="card card-body">
                                <div class="row ">
                                    <div class="col-lg-6 col-md-12" style="display:flex;align-items:flex-end">
                                        <div class="form-group row">
                                            <div class="col-12">
                                                <button type="button" id="dataInsertD8@(itemName)" class="btn btn-info auth-add" onclick="Edit@(itemName)('D8',0);"><i class="fas fa-plus"></i>&nbsp;新增</button>
                                                <button type="button" id="dataFileD8@(itemName)" class="btn btn-info auth-file-read" onclick="PopViewCcFileShow('D8');"><i class="fas fa-coins"></i>&nbsp;檔案查看</button>
                                                <button type="button" id="dataCheckD8@(itemName)" class="btn btn-info auth-confirm" onclick="UpdateStageDataStatus@(itemName)('D8', 'Y') ;"><i class="fas fa-check-circle"></i>&nbsp;確認</button>
                                                <button type="button" id="dataUncheckD8@(itemName)" class="btn btn-info auth-reconfirm" onclick="UpdateStageDataStatus@(itemName)('D8', 'N');"><i class="fas fa-undo-alt"></i>&nbsp;反確認</button>
                                                <button type="button" id="dataDeleteD8@(itemName)" class="btn btn-danger auth-delete" onclick="Delete@(itemName)('D8',-1);"><i class="fas fa-trash-alt"></i>&nbsp;清除</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="table-custom">
                                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                                <thead>
                                                    <tr>
                                                        <th scope="col" style="min-width: 75px;">#</th>
                                                        <th class="text-center" scope="col" style="min-width: 200px;">分類</th>
                                                        <th class="text-center" scope="col" style="min-width: 200px;">說明</th>
                                                        <th class="text-center" scope="col" style="min-width: 200px;">責任人員</th>
                                                        <th class="text-center" scope="col" style="min-width: 250px;">操作</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="DataD8"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- 編輯 -->
<div class="modal fade" id="edutmodalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" >
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group row">
                                    <label class="col-12 col-md-3 col-lg-2 col-form-label" for="cboMcId@(itemName)">分類<span class="text-danger">*</span></label>
                                    <div class="col-12 col-md-9 col-lg-4">
                                        <select class="form-control" id="cboMcId@(itemName)" name="cboMcId@(itemName)" data-rule-required="true">
                                            <option value="">-- 分類 --</option>
                                        </select>
                                    </div>
                                    <label class="col-12 col-md-3 col-lg-2 col-form-label" for="txtConfirmDate@(itemName)">確認日期</label>
                                    <div class="col-12 col-md-9 col-lg-4">
                                        <input type="text" class="form-control" id="txtConfirmDate@(itemName)" name="txtConfirmDate@(itemName)"
                                               data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))" data-rule-required="true" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group row">
                                    <label class="col-12 col-md-3 col-lg-2 col-form-label" for="cboDeptId@(itemName)">部門<span class="text-danger">*</span></label>
                                    <div class="col-12 col-md-9 col-lg-4">
                                        <select class="form-control" id="cboDeptId@(itemName)" name="cboDeptId@(itemName)" data-rule-required="true">
                                            <option value="">--部門--</option>
                                        </select>
                                    </div>
                                    <label class="col-12 col-md-3 col-lg-2 col-form-label" for="cboUserId@(itemName)">人員<span class="text-danger">*</span></label>
                                    <div class="col-12 col-md-9 col-lg-4">
                                        <select class="form-control" id="cboUserId@(itemName)" name="cboUserId@(itemName)" data-rule-required="true">
                                            <option value="">--人員--</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="forD5@(itemName)">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group row">
                                    <label class="col-12 col-md-3 col-lg-2 col-form-label" for="txtExpectedDateD5@(itemName)">預計完成日期<span class="text-danger">*</span></label>
                                    <div class="col-12 col-md-9 col-lg-4">
                                        <input type="text" class="form-control" id="txtExpectedDateD5@(itemName)" name="txtExpectedDateD5@(itemName)"
                                               data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))" data-rule-required="true" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="forD6@(itemName)">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group row">
                                    <label class="col-12 col-md-3 col-lg-2 col-form-label" for="txtFinishDateD6@(itemName)">完成日期<span class="text-danger">*</span></label>
                                    <div class="col-12 col-md-9 col-lg-4">
                                        <input type="text" class="form-control" id="txtFinishDateD6@(itemName)" name="txtFinishDateD6@(itemName)"
                                               data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))" data-rule-required="true" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group row">
                                    <label class="col-12 col-md-3 col-lg-2 col-form-label" for="txtDescriptionTextarea@(itemName)">說明 <span class="text-danger">*</span></label>
                                    <div class="col-12 col-md-9 col-lg-10">
                                        <textarea class="form-control" id="txtDescriptionTextarea@(itemName)" name="txtDescriptionTextarea@(itemName)"
                                                  data-msg-maxlength="必須少於 10000 個字元" maxlength="10000" rows="5" placeholder="請輸入說明"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer text-center text-lg-right">
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

@*<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container custom-form-container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group row">
                                    <label class="col-12 col-md-3 col-lg-2 col-form-label" for="cboMcId@(itemName)">分類<span class="text-danger">*</span></label>
                                    <div class="col-12 col-md-9 col-lg-4">
                                        <select class="form-control" id="cboMcId@(itemName)" name="cboMcId@(itemName)" data-rule-required="true">
                                            <option value="">-- 分類 --</option>
                                        </select>
                                    </div>
                                    <label class="col-12 col-md-3 col-lg-2 col-form-label" for="txtConfirmDate@(itemName)">確認日期<span class="text-danger">*</span></label>
                                    <div class="col-12 col-md-9 col-lg-4">
                                        <input type="text" class="form-control" id="txtConfirmDate@(itemName)" name="txtConfirmDate@(itemName)"
                                               data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))" data-rule-required="true" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group row">
                                    <label class="col-12 col-md-3 col-lg-2 col-form-label" for="cboDeptId@(itemName)">部門<span class="text-danger">*</span></label>
                                    <div class="col-12 col-md-9 col-lg-4">
                                        <select class="form-control" id="cboDeptId@(itemName)" name="cboDeptId@(itemName)" data-rule-required="true">
                                            <option value="">--部門--</option>
                                        </select>
                                    </div>
                                    <label class="col-12 col-md-3 col-lg-2 col-form-label" for="cboUserId@(itemName)">人員<span class="text-danger">*</span></label>
                                    <div class="col-12 col-md-9 col-lg-4">
                                        <select class="form-control" id="cboUserId@(itemName)" name="cboUserId@(itemName)" data-rule-required="true">
                                            <option value="">--人員--</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="forD5@(itemName)">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group row">
                                    <label class="col-12 col-md-3 col-lg-2 col-form-label" for="txtExpectedDateD5@(itemName)">預計完成日期<span class="text-danger">*</span></label>
                                    <div class="col-12 col-md-9 col-lg-4">
                                        <input type="text" class="form-control" id="txtExpectedDateD5@(itemName)" name="txtExpectedDateD5@(itemName)"
                                               data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))" data-rule-required="true" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="forD6@(itemName)">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group row">
                                    <label class="col-12 col-md-3 col-lg-2 col-form-label" for="txtFinishDateD6@(itemName)">完成日期<span class="text-danger">*</span></label>
                                    <div class="col-12 col-md-9 col-lg-4">
                                        <input type="text" class="form-control" id="txtFinishDateD6@(itemName)" name="txtFinishDateD6@(itemName)"
                                               data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))" data-rule-required="true" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group row">
                                    <label class="col-12 col-md-3 col-lg-2 col-form-label" for="txtDescriptionTextarea@(itemName)">說明 <span class="text-danger">*</span></label>
                                    <div class="col-12 col-md-9 col-lg-10">
                                        <textarea class="form-control" id="txtDescriptionTextarea@(itemName)" name="txtDescriptionTextarea@(itemName)"
                                                  data-msg-maxlength="必須少於 10000 個字元" maxlength="10000" rows="5" placeholder="請輸入說明"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>*@


<!--使用者列表-->
<div class="modal fade" id="UserModalQuery@(itemName)">
    <div class="modal-dialog modal-dialog-scrollable" style="max-width: 80%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">使用者列表</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row mb-3" id="query@(itemName)">
                    <div class="col-12">
                        <form autocomplete="off" id="queryFormBom@(itemName)">
                            <fieldset>
                                <div class="form-row align-items-center mb-2">

                                    <div class="col-auto">
                                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#UsermodalQueryQ@(itemName)" href="javascript:void(0);"><i class="fal fa-search"></i>搜尋</a>
                                    </div>
                                    <label class="col-12 col-form-label" for="txtCheckUser@(itemName)">新增小組成員:</label>
                                    <div class="col-12">
                                        @*<input type="text" class="form-control" id="txtCheckUser@(itemName)" name="txtCheckUser@(itemName)" placeholder="" />*@
                                        <textarea class="form-control" id="txtCheckUser@(itemName)" name="txtCheckUser@(itemName)"
                                                  data-msg-maxlength="必須少於 10000 個字元" maxlength="10000" rows="2" placeholder=""></textarea>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
                <div class="row" id="UserlistData@(itemName)">
                    <div class="col-12">
                        <div class="card card-shadow mb-4">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="table-custom">
                                            <table class="table table-bordered table-striped table-sticky" id="UserListtblData@(itemName)">
                                                <thead>
                                                    <tr>
                                                        <th scope="col" style="min-width: 75px;">#</th>
                                                        <th scope="col" style="min-width: 200px;">部門</th>
                                                        <th scope="col" style="min-width: 125px;">使用者編號</th>
                                                        <th scope="col" style="min-width: 125px;">使用者名稱</th>
                                                        <th scope="col" style="min-width: 150px;">職務</th>
                                                        <th scope="col" style="min-width: 150px;">職務類別</th>
                                                        <th scope="col" style="min-width: 250px;">Email</th>
                                                        <th class="text-center checkbox-mode" scope="col" style="min-width: 110px;">
                                                            <label class="col-12 col-form-label">
                                                                全選 <input type="checkbox" id="cbxSelectAll@(itemName)" />
                                                            </label>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                        <div class="pagination" id="Userpage@(itemName)"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer text-center text-lg-right">
                    <button type="button" class="btn btn-success" onclick="AddUser@(itemName)()" ><i class="fas fa-save"></i>儲存</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade testsss" id="UsermodalQueryQ@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" onclick="$('#UsermodalQueryQ@(itemName)').modal('hide');"  type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboCompanyIdQ@(itemName)">所屬公司</label>
                            <div class="col-12">
                                <select class="form-control" id="cboCompanyIdQ@(itemName)" name="cboCompanyIdQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboDepartmentIdQ@(itemName)">所屬部門</label>
                            <div class="col-12">
                                <select class="form-control" id="cboDepartmentIdQ@(itemName)" name="cboDepartmentIdQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtUserNoQ@(itemName)">使用者編號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtUserNoQ@(itemName)" name="txtUserNoQ@(itemName)" placeholder="請輸入使用者編號" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtUserNameQ@(itemName)">使用者名稱</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtUserNameQ@(itemName)" name="txtUserNameQ@(itemName)" placeholder="請輸入使用者名稱" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">性別</label>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    男
                                    <input type="checkbox" id="cbxGenderQ@(itemName)M" name="cbxGenderQ@(itemName)" value="M" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    女
                                    <input type="checkbox" id="cbxGenderQ@(itemName)F" name="cbxGenderQ@(itemName)" value="F" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">狀態</label>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    啟用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)A" name="cbxStatusQ@(itemName)" value="A" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    停用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)S" name="cbxStatusQ@(itemName)" value="S" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="SearchUser@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>


@Html.Partial("ViewCcFile")
@Html.Partial("ViewCcFileShow")
@Html.Partial("ViewMainCCFile")
@Html.Partial("ViewD8Data")


@Html.Resource("js",
    @<script src="@Url.Content("~/Scripts/tagsinput.js")"></script>
                                                        )

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };

        let userId@(itemName);
        let companyId@(itemName);

        let d8DataCount@(itemName) = 0;

        let objForm@(itemName) = "#editForm@(itemName)";

        var userIdList@(itemName) = [];
        var userCheckList@(itemName) = [];

        var userIdList2@(itemName) = [];
        var userCheckList2@(itemName) = [];

        
        if (!isMobile) {
                $("#cboCompanyIdQ@(itemName), #cboDepartmentIdQ@(itemName)").select2({
                    dropdownAutoWidth: true,
                    width: "100%"
                });
            }

        $(document).ready(function () {
            let currentDate = new Date();
            Suites.DatePicker("txtExpectedDateD5@(itemName)", "");
            Suites.DatePicker("txtFinishDateD6@(itemName)", "");
        });

        $("#cboDeptId@(itemName)").change(function () {
            var DepartmentId = $("#cboDeptId@(itemName)").val();
            ComboBoxs.Default("#cboUserId@(itemName)", "@Url.Action("GetUser", "BasicInformation")", { "CompanyId": companyId@(itemName), "Status": "A", "DepartmentId": DepartmentId }, "", "NA", "", "UserName", "UserId");
        });

        $("#cboMcId@(itemName)").change(function () {
            if ($(":selected", $(this)).text() == "報告回覆日期後，連續三批出貨無異常，予以結案" && parseInt($("#CcStageDataId").val()) > 0) {
            } else {
            }
        });

        $("#cbxSelectAll@(itemName)").off("click").on("click", function () {
            let userIdList = []
            let userCheckList = []
            if ($("#cbxSelectAll@(itemName)").is(":checked")) {
                $("input[type='checkbox'][data-user-id]").not(":disabled").prop("checked", true);
                $.each($("input[type='checkbox'][data-user-id]:checked"), function (i) {
                    let userId = $(this).data("user-id");
                    let userName = $(this).data("user-name");//name
                    userIdList.push(userId);
                    userCheckList.push(userName)
                    userIdList@(itemName) = userIdList;
                    userCheckList@(itemName) = userCheckList;
                    $("#txtCheckUser@(itemName)").val(userCheckList@(itemName).toString())
                });
                console.log(146, userIdList@(itemName), userCheckList@(itemName))
            

                } else {
                $("input[type='checkbox'][data-user-id]").not(":disabled").prop("checked", false);
                userIdList@(itemName) = []
                userCheckList@(itemName) = []
                $("#txtCheckUser@(itemName)").val("")
                }
            });

        //$("#pets :selected").text();


        function Expand@(itemName)() {
            if (parseInt($("#CcId").val()) > 0) {
                $(".advanced-block").slideDown("slow");
                GetUserInfo@(itemName)()


                @*$("#cboUserId@(itemName)").change(function () {
                    var cboUserId = $("#cboUserId@(itemName)").val();
                    ComboBoxs.Default("#cboDeptId@(itemName)", "@Url.Action("GetDepartment_A", "EipBasicInformation")", { "UserId": cboUserId }, "", "DepartmentName", "", "DepartmentName", "DepartmentId");
                });*@

                Return@(itemName)();
            } else {
                alert("客訴單據資料錯誤", "alert");
            }
        }

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            var StageDataSetting = ""
            let targetUrl = "@Url.Action("GetCustomerComplaint", "CustomerComplaint")";
            let postData = {
                "CcId": $("#CcId").val()
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                $.each(data.result, function (i, item) {
                    //基本資料
                    StageDataSetting = item.StageDataSetting
                });
            } else {
                alert(data.msg, "alert", 0);
            }
            for (var i = 0; i < StageDataSetting.length; i++) {
                if (StageDataSetting[i] == "N") {
                    $(`#basicDataD${i+1}@(itemName)`).hide()
                }
                else {
                    $(`#basicDataD${i+1}@(itemName)`).show()
                    if (i == 0) {
                        GetCCMember@(itemName)()
                    }
                    else {
                        GetStage@(itemName)(`D${i+1}`)
                    }
                }
            }
        }

        function Edit@(itemName)(Stage, CcStageDataId) {
            $("#Stage").val(Stage);

            $("#CcStageDataId").val(CcStageDataId ? CcStageDataId : 0);

            $("#cboMcId@(itemName)").attr("disabled", false);
            $("#txtConfirmDate@(itemName)").attr("disabled", true);
            $("#cboDeptId@(itemName)").attr("disabled", false);
            $("#cboUserId@(itemName)").attr("disabled", false);
            $("#txtRemark@(itemName)").attr("readonly", false);

            ComboBoxs.Default("#cboMcId@(itemName)", "@Url.Action("GetMenuCategorySimple", "CustomerComplaint")", { "McType": Stage }, "", "NA", "", "McName", "McId");
            ComboBoxs.Default("#cboDeptId@(itemName)", "@Url.Action("GetDepartment", "BasicInformation")", { "Status": "A" }, "", "NA", "", "DepartmentWithNo", "DepartmentId");
            ComboBoxs.Default("#cboUserId@(itemName)", "@Url.Action("GetUser", "BasicInformation")", { "Status": "A" }, "", "NA", "", "UserWithNo", "UserId");



            if (Stage == "D5") {
                $("#forD5@(itemName)").show();
                $("#forD6@(itemName)").hide();
            } else if (Stage == "D6") {
                $("#forD5@(itemName)").hide();
                $("#forD6@(itemName)").show();
            } else {
                $("#forD5@(itemName)").hide();
                $("#forD6@(itemName)").hide();
            }
            @*Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");*@
            $("#edutmodalQuery@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });


            if (CcStageDataId > 0) {
                let targetUrl = "@Url.Action("GetCcStageData", "CustomerComplaint")";
                let postData = {
                    "CcStageDataId": CcStageDataId,
                    "Stage": Stage
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        //基本資料

                        $("#cboMcId@(itemName)").val(item.McId);
                        $("#txtConfirmDate@(itemName)").val(item.ConfirmDate);
                        $("#cboDeptId@(itemName)").val(item.DeptId);
                        $("#cboUserId@(itemName)").val(item.UserId);
                        $("#txtDescriptionTextarea@(itemName)").val(item.DescriptionTextarea);
                    });
                } else {
                    alert(data.msg, "alert", 0);
                }
            } else {
                $("#txtDescriptionTextarea@(itemName)").val("");
            }
        


            if (!isMobile) {
                $("#cboMcId@(itemName), #cboDeptId@(itemName), #cboUserId@(itemName)").select2({
                    width: "100%"
                });
            }

        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let CcStageDataId = parseInt($("#CcStageDataId").val());
                let stage = $("#Stage").val();
                let expectedDate = "";
                let finishDate = "";

                if (stage == "D5") {
                    expectedDate = $("#txtExpectedDateD5@(itemName)").val();
                } else if (stage == "D6") {
                    finishDate = $("#txtFinishDateD6@(itemName)").val();

                }

                if (CcStageDataId <= 0) {
                    console.log("w5")

                    let targetUrl = "@Url.Action("AddCcStageData", "CustomerComplaint")";
                    let postData = {
                        "CcId": $("#CcId").val(),
                        "Stage": $("#Stage").val(),
                        "McId": $("#cboMcId@(itemName)").val(),
                        "DeptId": $("#cboDeptId@(itemName)").val(),
                        "UserId": $("#cboUserId@(itemName)").val(),
                        "DescriptionTextarea": $("#txtDescriptionTextarea@(itemName)").val(),
                        "ExpectedDate": expectedDate,
                        "FinishDate": finishDate
                    };

                    let result = DataAccess.Add(targetUrl, postData, false, true);

                    if (result) {
                        Return@(itemName)();
                        $("#edutmodalQuery@(itemName)").modal("hide");
                    }
                } else {
                    let targetUrl = "@Url.Action("UpdateCcStageData", "CustomerComplaint")";
                    let postData = {
                        "CcStageDataId": $("#CcStageDataId").val(),
                        "McId": $("#cboMcId@(itemName)").val(),
                        "DeptId": $("#cboDeptId@(itemName)").val(),
                        "UserId": $("#cboUserId@(itemName)").val(),
                        "DescriptionTextarea": $("#txtDescriptionTextarea@(itemName)").val(),
                        "ExpectedDate": expectedDate,
                        "FinishDate": finishDate
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Return@(itemName)();
                        $("#edutmodalQuery@(itemName)").modal("hide");

                    }
                }
            }
        }

        function GetUserInfo@(itemName)() {
            let targetUrl = "@Url.Action("GetLoginByKey", "User")";
            let postData = {
                "UserNo": $.cookie("Login"),
                "KeyText": $.cookie("LoginKey")
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                userId@(itemName) = data.returnData.UserId;
                companyId@(itemName) = data.returnData.CompanyId;
            } else {
                alert(data.msg, "alert", 0);
            }
        }

        function Return@(itemName)() {
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName)", "#editData@(itemName)");
            Query@(itemName)();
            $("#Stage").val("");
            $("#txtDescriptionTextarea@(itemName)").val("");
            @*$("#edutmodalQuery@(itemName)").modal("hide");*@
        }

        function GetStage@(itemName)(Stage){
            let innerHtml = '';
            let pageCount = 0;
            let d5d6innerHtml = '';
            let editinnerHtml = '';
            let colspan = 0;


            objPage = {
                "pageIndex": 0,
                "pageSize": 10
            };
            let targetUrl = "@Url.Action("GetCcStageData", "CustomerComplaint")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "CcId": $("#CcId").val(),
                "Stage": Stage
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;
                if (Stage == "D8") {
                    d8DataCount@(itemName) = data.result.length;
                }

                if (Stage == "D5" || Stage == "D6") {
                    colspan = 6;
                    d8DataCount@(itemName) = data.result.length;
                } else {
                    colspan = 5;
                
                }
                
                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        item.ConfirmStatus == "Y" ? $(`#dataInsert${Stage}@(itemName)`).attr('disabled', true)   : $(`#dataInsert${Stage}@(itemName)`).attr('disabled', false);
                        item.ConfirmStatus == "N" ? $(`#dataCheck${Stage}@(itemName)`).attr('disabled', false)   : $(`#dataCheck${Stage}@(itemName)`).attr('disabled', true);
                        item.ConfirmStatus == "Y" ? $(`#dataUncheck${Stage}@(itemName)`).attr('disabled', false) : $(`#dataUncheck${Stage}@(itemName)`).attr('disabled', true);
                        item.ConfirmStatus == "Y" ? $(`#dataDelete${Stage}@(itemName)`).attr('disabled', true)   : $(`#dataDelete${Stage}@(itemName)`).attr('disabled', false);

                        if (Stage == "D5") {
                            d5d6innerHtml = `<td class="ellipsis" data-toggle="tooltip" title="${item.CcStageDataId}" style="max-width: 200px;">${item.ExpectedDate}</td>`
                        } else if (Stage == "D6") {
                            d5d6innerHtml = `<td class="ellipsis" data-toggle="tooltip" title="${item.CcStageDataId}" style="max-width: 200px;">${item.FinishDate}</td>`

                        } else {
                            d5d6innerHtml = ``;
                        }

                        if (Stage == "D8") {
                            d8DataCount@(itemName) > 0 ? $(`#dataInsertD8@(itemName)`).attr('disabled', true) : $(`#dataInsertD8@(itemName)`).attr('disabled', false);

                            if (item.McName == "報告回覆日期後，連續三批出貨無異常，予以結案") {
                                editinnerHtml = `${item.ConfirmStatus == `N` ?
                                                    `<a class="active-link auth-update" href="javascript:PopViewD8Data(${item.CcStageDataId});"><i class="fas fa-edit"></i>附表管理</a>`
                                                    : `<a class="active-link auth-update active-disable" href="javascript:javascript:void(0);"><i class="fas fa-edit"></i>附表管理</a>`
                                                  }
                                                `
                            } else {
                                editinnerHtml = ``
                            }
                        } else {
                            editinnerHtml = ``
                        }


                        innerHtml += `<tr>
                                        <td>${_row}</td>
                                        <td class="" data-toggle="tooltip" title="${item.McName}" style="max-width: 200px;">${item.McName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="說明" style="max-width: 200px;">${item.DescriptionTextarea}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="責任人員" style="max-width: 200px;">${item.DepartmentName}-${item.UserName}</td>
                                        ${d5d6innerHtml}
                                        <td class="text-center active-content">
                                            ${item.ConfirmStatus == `N` ?
                                                `<a class="active-link auth-update" href="javascript:Edit@(itemName)('${Stage}',${item.CcStageDataId});"><i class="fas fa-edit"></i></a>`
                                                : `<a class="active-link auth-update active-disable" href="javascript:javascript:void(0);"><i class="fas fa-edit"></i></a>`
                                             }
                                            ${item.ConfirmStatus == `N` ?
                                              `<a class="active-link auth-file-read" href="javascript:PopViewCcFile('${Stage}',${item.CcStageDataId});"><i class="fas fa-coins"></i>檔案上傳</a>`
                                              : `<a class="active-link auth-file-read active-disable" href="javascript:javascript:void(0);"><i class="fas fa-coins"></i>檔案上傳</a>`
                                             }
                                            ${item.ConfirmStatus == `N` ?
                                              `<a class="active-link auth-delete" href="javascript:Delete@(itemName)('${Stage}',${item.CcStageDataId});"><i class="fas fa-trash-alt"></i></a>`
                                             : `<a class="active-link auth-delete active-disable" href="javascript:javascript:void(0);"><i class="fas fa-trash-alt"></i></a>`
                                             }
                                            ${editinnerHtml}
                                        </td>
                                      </tr>`;
                    });
                } else {
                    $(`#dataInsertD8@(itemName)`).attr('disabled', false);
                    $(`#dataInsert${Stage}@(itemName)`).attr('disabled', false);
                    $(`#dataCheck${Stage}@(itemName)`).attr('disabled', true);
                    $(`#dataUncheck${Stage}@(itemName)`).attr('disabled', true);
                    $(`#dataDelete${Stage}@(itemName)`).attr('disabled', false);
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="${colspan}" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }
            $(`#Data${Stage}`).html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));
        }

        function Delete@(itemName)(Stage,CcStageDataId) {
            swal.fire({
                titleText: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteCcStageData", "CustomerComplaint")";
                    let postData = {
                        "CcId": $("#CcId").val(),
                        "CcStageDataId": CcStageDataId,
                        "Stage": Stage
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        //function PopViewCcFile(stage) {
        //    alert("成功")
        //}

        function GetCCMember@(itemName)() {
            let innerHtml = '';
            let pageCount = 0;
            objPage = {
                "pageIndex": 0,
                "pageSize": 10
            };
            let targetUrl = "@Url.Action("GetCCMember", "CustomerComplaint")";
            let postData = {
                "CcId": $("#CcId").val()
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {

                if (data.result.length > 0) {

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        item.ConfirmStatus == "Y" ? $(`#dataInsertD1@(itemName)`).attr('disabled', true)   : $(`#dataInsertD1@(itemName)`).attr('disabled', false);
                        item.ConfirmStatus == "Y" ? $(`#dataUncheckD1@(itemName)`).attr('disabled', false) : $(`#dataUncheckD1@(itemName)`).attr('disabled', true);
                        item.ConfirmStatus == "Y" ? $(`#dataCheckD1@(itemName)`).attr('disabled', true)    : $(`#dataCheckD1@(itemName)`).attr('disabled', false);

                        innerHtml += `<tr>
                                        <td>${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.CcId}" style="max-width: 200px;">${item.UserName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.CcId}" style="max-width: 200px;">${item.DepartmentName}</td>
                                        <td class="text-center active-content">
                                             ${item.ConfirmStatus == `N` ?
                                              `<a class="active-link auth-delete" href="javascript:DeleteUser@(itemName)(${item.UserId});"><i class="fas fa-trash-alt"></i></a>`
                                             : `<a class="active-link auth-delete active-disable" href="javascript:javascript:void(0);"><i class="fas fa-trash-alt"></i></a>`
                                             }

                                        </td>
                                      </tr>`;
                    });
                } else {
                    $(`#dataInsertD1@(itemName)`).attr('disabled', false);
                    $(`#dataUncheckD1@(itemName)`).attr('disabled', true);
                    $(`#dataCheckD1@(itemName)`).attr('disabled', false);
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="4" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }
            $(`#DataD1`).html(innerHtml);
            TableComponentInit();
        }

        function DeleteUser@(itemName)(UserId) {
            swal.fire({
                titleText: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteCCUser", "CustomerComplaint")";
                    let postData = {
                        "CcId": $("#CcId").val(),
                        "UserId": UserId
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function GetUser@(itemName)() {
            let objPage = objPage@(itemName);
            let innerHtml = '';
            let pageCount = 0;

            let genderList = [];
            $.each($("input[name='cbxGenderQ@(itemName)']:checked"), function () {
                genderList.push($(this).val());
            });

            let statusList = [];
            $.each($("input[name='cbxStatusQ@(itemName)']:checked"), function () {
                statusList.push($(this).val());
            });

            let targetUrl = "@Url.Action("GetUser", "BasicInformation")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "CompanyId": $("#cboCompanyIdQ@(itemName)").val(),
                "Departments": $("#cboDepartmentIdQ@(itemName)").val(),
                "UserNo": $("#txtUserNoQ@(itemName)").val(),
                "UserName": $("#txtUserNameQ@(itemName)").val(),
                "Gender": genderList.join(","),
                "Status": statusList.join(",")
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr>
                                        <td><span class="stack-title">#</span>${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DepartmentNo} ${item.DepartmentName}" style="max-width: 200px;"><span class="stack-title">部門</span>${item.LogoIcon == -1 ? `` : `<img class="company-logo" src="/Web/GetFile?fileId=${item.LogoIcon}" />`}${item.DepartmentNo} ${item.DepartmentName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.UserNo}" style="max-width: 125px;"><span class="stack-title">使用者編號</span>${item.UserNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.UserName}" style="max-width: 125px;"><span class="stack-title">使用者名稱</span>${item.Gender == `M` ? `<span class="gender-male"><i class="fas fa-male"></i></span>` : item.Gender == `F` ? `<span class="gender-female"><i class="fas fa-female"></i></span>` : ``}${item.UserName}</td>
                                        <td><span class="stack-title">職務</span>${item.Job}</td>
                                        <td><span class="stack-title">職務類別</span>${item.JobType}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Email}" style="max-width: 250px;"><span class="stack-title">Email</span>${item.Email}</td>
                                       <td  class="text-center col-sticky">
                                          <label class="control control-solid control-solid-info control--checkbox">
                                                <input type="checkbox" data-user-id="${item.UserId}" data-user-name="${item.UserNo}-${item.UserName}" value="${item.UserId}" />
                                                <span class="control__indicator"></span>
                                              </label>
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="10" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            
        

            $("#UserListtblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();

            Pager("#Userpage@(itemName)", pageCount, objPage, GetUser@(itemName));
            $("#Userpage@(itemName)").show();

            //勾選已選資料
            var idresult = Array.from(new Set(userIdList@(itemName)));
            $.each(idresult, function (i, item) {
                $(`input[type='checkbox'][data-user-id="${item}"]`).not(":disabled").prop("checked", true);
            });

            
            
            $("input[type='checkbox']").not(":disabled").click(function () {
                let userIdList = []
                let userCheckList = []

                //判斷該藍是否勾選
                var isChecked = $(this).is(":checked");

                if (isChecked == false) {//若沒勾，刪除ID,NAME
                    var toRemoveId = $(this).data("user-id");
                    var toRemoveName = $(this).data("user-name");

                    //刪除ID
                    var idarr = Array.from(new Set(userIdList@(itemName)));
                    idarr = idarr.filter(function (item) {
                        return item !== toRemoveId
                    });
                    userIdList@(itemName) = idarr;

                    //刪除NAME
                    var namearr = Array.from(new Set(userCheckList@(itemName)));
                    namearr = namearr.filter(function (item) {
                        return item !== toRemoveName
                    });
                    userCheckList@(itemName) = namearr;
                }
                
                //加勾選新ID,NAME
                if ($("input[type='checkbox'][data-user-id]:checked").not(":disabled").length > 0) {
                    $.each($("input[type='checkbox'][data-user-id]:checked"), function (i) {
                        let userId = $(this).data("user-id");
                        let userName = $(this).data("user-name");//name
                        userIdList.push(userId);
                        userCheckList.push(userName)

                    });
                    @*console.log(147, userIdList@(itemName), userCheckList@(itemName))*@
                }

                //新增ARRAY到主資料ARRAY
                userIdList@(itemName).push(...userIdList)
                userCheckList@(itemName).push(...userCheckList)

                    @*userIdList@(itemName) = userIdList;
                    userCheckList@(itemName) = userCheckList;*@

                //去除重複
                var noresult = Array.from(new Set(userCheckList@(itemName)));
                var idresult2 = Array.from(new Set(userIdList@(itemName)));


                console.log(148, noresult)

                $("#txtCheckUser@(itemName)").val(noresult.toString());
            

               
            });
        }

        function PopUserView@(itemName)() {

            $("#UserModalQuery@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });
            ComboBoxs.Default("#cboCompanyIdQ@(itemName)", "@Url.Action("GetCompany", "BasicInformation")", {}, "", "NA", "", "CompanyWithNo", "CompanyId");
            ComboBoxs.Default("#cboDepartmentIdQ@(itemName)", "@Url.Action("GetDepartment", "BasicInformation")", { "CompanyId": $("#cboCompanyIdQ@(itemName)").val(), "Status": "A" }, "", "NA", "", "DepartmentWithNo", "DepartmentId");

            GetUser@(itemName)();
        }

        function SearchUser@(itemName)() {
            GetUser@(itemName)();
            $("#UsermodalQueryQ@(itemName)").modal("hide");
        }

        function AddUser@(itemName)() {
            if (userIdList@(itemName).length > 0) {
                let targetUrl = "@Url.Action("AddCCUser", "CustomerComplaint")";
                let postData = {
                    "CcId": $("#CcId").val(),
                    "UserId": Array.from(new Set(userIdList@(itemName))).join(",")
                };

                let result = DataAccess.Add(targetUrl, postData, false, true);

                if (result) {
                    $("#UserModalQuery@(itemName)").modal('hide');
                    GetCCMember@(itemName)()
                }
                $("#cbxSelectAll@(itemName)").prop("checked", false);
                userIdList@(itemName) = [];
                userCheckList@(itemName) = [];
            } else {
                alert("請選擇使用者!", "alert", 0);
            }
            
        }

        function UpdateStageDataStatus@(itemName)(stage, stageStatus) {
           let targetUrl = "@Url.Action("UpdateStageDataStatus", "CustomerComplaint")";
           let postData = {
               "CcId": $("#CcId").val(),
               "Stage": stage,
               "StageStatus": stageStatus
           };

           let result = DataAccess.Update(targetUrl, postData, false, true);

           if (result) {
               EditCustomerComplaintManagement($("#CcId").val());
           }
        }



        $("#cboCompanyIdQ@(itemName)").change(function () {
            ComboBoxs.Default("#cboDepartmentIdQ@(itemName)", "@Url.Action("GetDepartment", "BasicInformation")", { "CompanyId": $("#cboCompanyIdQ@(itemName)").val(), "Status": "A" }, "", "NA", "", "DepartmentWithNo", "DepartmentId");
        });

    </script>
                                                                        )