@using Business_Manager.Helpers
@{
    string itemName = "ViewD8Data";
    string itemNameText = "D8附表";
}

@Html.Resource("css",
    @<style>
    </style>
                        )

<input type="hidden" id="CcStageDataId@(itemName)" value="" />
<input type="hidden" id="CCTrackingDataId@(itemName)" value="" />


<div class="modal fade" id="modal@(itemName)">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    @(itemNameText)
                </h5>
            </div>
            <div class="modal-body">
                <div class="row" id="listData@(itemName)">
                    <div class="col-lg-12">
                        <form autocomplete="off" id="queryForm@(itemName)">
                            <fieldset>
                                <div class="form-row align-items-center mb-2">
                                    <div class="col-auto">
                                        <a class="btn btn-info auth-file-add" onclick="Edit@(itemName)()"><i class="fas fa-plus"></i>新增</a>
                                    </div>
                                </div>
                            </fieldset>
                        </form>
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">批數</th>
                                        <th scope="col" style="min-width: 200px;">追蹤日期</th>
                                        <th scope="col" style="min-width: 200px;">報告編號</th>
                                        <th scope="col" style="min-width: 200px;">檢測結果</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
            <div class="row" id="editData@(itemName)" style="display: none;">
                <div class="col-12">
                    <div class="card card-shadow mb-4">
                        <div class="card-body">
                            <form class="container custom-form-container" autocomplete="off" id="editForm@(itemName)">
                                <fieldset>
                                    <div class="" id="forD8@(itemName)">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12">
                                                <div class="form-group row">
                                                    <label class="col-12 col-md-3 col-lg-2 col-form-label" for="cboBatch@(itemName)">批數<span class="text-danger">*</span></label>
                                                    <div class="col-12 col-md-9 col-lg-4">
                                                        <select class="form-control" id="cboBatch@(itemName)" name="cboBatch@(itemName)" data-rule-required="true">
                                                            <option value="1">第一批</option>
                                                            <option value="2">第二批</option>
                                                            <option value="3">第三批</option>
                                                        </select>
                                                    </div>
                                                    <label class="col-12 col-md-3 col-lg-2 col-form-label" for="txtReportNo@(itemName)">報告編號<span class="text-danger">*</span></label>
                                                    <div class="col-12 col-md-9 col-lg-4">
                                                        <input type="text" class="form-control" id="txtReportNo@(itemName)" name="txtReportNo@(itemName)"
                                                               placeholder="請輸入報告編號" data-rule-required="true" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12">
                                                <div class="form-group row">
                                                    <label class="col-12 col-md-3 col-lg-2 col-form-label" for="txtTrialResult@(itemName)">檢測結果<span class="text-danger">*</span></label>
                                                    <div class="col-12 col-md-9 col-lg-4">
                                                        <input type="text" class="form-control" id="txtTrialResult@(itemName)" name="txtTrialResult@(itemName)"
                                                               placeholder="請輸入檢測結果" data-rule-required="true" />
                                                    </div>
                                                    <label class="col-12 col-md-3 col-lg-2 col-form-label" for="txtTrackingDate@(itemName)">追蹤日期<span class="text-danger">*</span></label>
                                                    <div class="col-12 col-md-9 col-lg-4">
                                                        <input type="text" class="form-control" id="txtTrackingDate@(itemName)" name="txtTrackingDate@(itemName)"
                                                               data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))" data-rule-required="true" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary list-mode" onclick="Close@(itemName)()"><i class="fas fa-times"></i>關閉</button>
                <button type="button" class="btn btn-secondary edit-mode" onclick="Return@(itemName)()" style="display: none;"><i class="fas fa-undo"></i>返回</button>
                <button type="button" class="btn btn-success edit-mode" onclick="Save@(itemName)()" style="display: none;"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>


@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";
        let dataCount@(itemName) = 0;

        $(document).ready(function () {
            let currentDate = new Date();
            Suites.DatePicker("txtTrackingDate@(itemName)", "");
        });

        function Pop@(itemName)(CcStageDataId) {
            console.log("SE")
            console.log(CcStageDataId)
            console.log("SER")

            $("#CcStageDataId@(itemName)").val(CcStageDataId);

            $("#modal@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });

            Query@(itemName)();

            $(window).keydown(function (event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    return false;
                }
            });
        }

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));
        }

        function InitData@(itemName)() {
            let innerHtml = '';

            let targetUrl = "@Url.Action("GetD8TableData", "CustomerComplaint")";
            let postData = {
                "CcStageDataId": $("#CcStageDataId@(itemName)").val()
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                dataCount@(itemName) = data.result.length;
                if (dataCount@(itemName) > 0) {

                    $.each(data.result, function (i, item) {
                        switch (item.Batch) {
                            case 1:
                                batch = "第一批"
                                break;
                            case 2:
                                batch = "第二批"
                                break;
                            case 3:
                                batch = "第三批"
                                break;

                        }
                        innerHtml += `<tr>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.CCTrackingDataId}" style="max-width: 150px;">${batch}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.CCTrackingDataId}" style="max-width: 150px;">${item.TrackingDate}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.CCTrackingDataId}" style="max-width: 150px;">${item.ReportNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.CCTrackingDataId}" style="max-width: 150px;">${item.TrialResult}</td>
                                        <td class="text-center active-content">
                                          <a class="active-link auth-update" href="javascript:Edit@(itemName)(${item.CCTrackingDataId});"><i class="fas fa-edit"></i></a>
                                          <a class="active-link auth-file-delete" href="javascript:Delete@(itemName)(${item.CCTrackingDataId});"><i class="fas fa-trash-alt"></i></a>
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="5" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
        }

        function Edit@(itemName)(CCTrackingDataId) {
            Switch("#editData@(itemName), .edit-mode", "#listData@(itemName), .list-mode");
            $("#CCTrackingDataId@(itemName)").val(CCTrackingDataId ? CCTrackingDataId : 0);

            if (CCTrackingDataId > 0) {
               
                let targetUrl = "@Url.Action("GetD8TableData", "CustomerComplaint")";
                let postData = {
                    "CcStageDataId": $("#CcStageDataId@(itemName)").val(),
                    "CCTrackingDataId": CCTrackingDataId
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        //基本資料

                        $("#cboBatch@(itemName)").val(item.Batch);
                        $("#txtReportNo@(itemName)").val(item.ReportNo);
                        $("#txtTrialResult@(itemName)").val(item.TrialResult);
                        $("#txtTrackingDate@(itemName)").val(item.TrackingDate);

                    });

                } else {
                    alert(data.msg, "alert", 0);
                }
            }

        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let CCTrackingDataId = parseInt($("#CCTrackingDataId@(itemName)").val());
                if (CCTrackingDataId <= 0) {
                    if (0 < dataCount@(itemName) <= 3) {
                        console.log("w5")

                        let targetUrl = "@Url.Action("AddD8TableData", "CustomerComplaint")";
                        let postData = {
                            "CcStageDataId": $("#CcStageDataId@(itemName)").val(),
                            "Batch": $("#cboBatch@(itemName)").val(),
                            "ReportNo": $("#txtReportNo@(itemName)").val(),
                            "TrialResult": $("#txtTrialResult@(itemName)").val(),
                            "TrackingDate": $("#txtTrackingDate@(itemName)").val()
                            
                        };

                        let result = DataAccess.Add(targetUrl, postData, false, true);

                        if (result) {
                            Return@(itemName)();
                        }
                    } else {
                        alert("已達資料數上限!", "alert", 0);
                    }
                } else {
                
                    let targetUrl = "@Url.Action("UpdateD8TableData", "CustomerComplaint")";
                    let postData = {
                        "CCTrackingDataId": $("#CCTrackingDataId@(itemName)").val(),
                        "Batch": $("#cboBatch@(itemName)").val(),
                        "ReportNo": $("#txtReportNo@(itemName)").val(),
                        "TrialResult": $("#txtTrialResult@(itemName)").val(),
                        "TrackingDate": $("#txtTrackingDate@(itemName)").val()
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Return@(itemName)();
                    }
                }
            }
        }

        function Delete@(itemName)(CCTrackingDataId) {
            swal.fire({
                title: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteD8TableData", "CustomerComplaint")";
                    let postData = {
                        "CCTrackingDataId": CCTrackingDataId
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function Return@(itemName)() {
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName), .list-mode", "#editData@(itemName), .edit-mode");

            Query@(itemName)();
        }
        function Close@(itemName)() {
            $("#modal@(itemName)").modal("hide");
        }

        function D8TableDataSave@(itemName)() {
            if ($(objForm@(itemName)).valid()) {

            }
        }
    </script>
                        )