@using Business_Manager.Helpers
@{
    string itemName = "ViewCCDataShow";
    string itemNameText = "客訴單檢視";
}

@Html.Resource("css",
    @<style>
         .inputHide {
             border: unset;
             appearance: none;
             background-color: unset !important;
             text-align: center;
         }

         .slide {
             width: 100%;
             border: 1px solid #e5e9ec;
         }

         .slidesShow {
             height: 500px;
             width: 70%;
             margin: auto;
             padding: 15px;
         }

         .slidesShowItem {
             height: 100%;
         }

             .slidesShowItem img {
                 width: 100%;
                 height: 100%;
                 object-fit: contain;
                 object-position: center;
             }

         .carousel-control-prev {
             border: unset;
             background-color: unset;
         }

         .carousel-control-next {
             border: unset;
             background-color: unset;
         }

         .carousel-control-prev-icon {
             background-image: unset;
             color: black;
             font-size: 36px
         }

         .carousel-control-next-icon {
             background-image: unset;
             color: black;
             font-size: 36px
         }

         .section-header {
             width: 12.5%;
             background-color: lightskyblue;
             border-radius: 4px 4px 0 0;
             display: flex;
             justify-content: center;
             padding: 10px;
             margin-top: 10px;
         }

         .section-title {
             color: #212529;
         }
    </style>
                                )

<div class="modal fade" id="modal@(itemName)">
    <div class="modal-dialog modal-xl">
        <div class="modal-content" style="width:95vw;left: 50%; transform: translate(-50%, 0%);">
            <div class="modal-header">
                <h5 class="modal-title">
                    @(itemNameText)
                    
                </h5>
                <a class="close list-mode" href="javascript:void(0);" onclick="Close@(itemName)()"><i class="fas fa-times"></i></a>
            </div>
            <div class="modal-body">
                <div class="row" id="listData@(itemName)">
                    <div class="col-lg-12">
                        <header class="widget-header"></header>
                        <section class="row-border pt-2">
                            <div class="table-responsive">
                                <table class="table table-bordered table-sm mb-0" style="border-style: none; word-break: break-all;" id="tblpopMaterialQuality">
                                    <tr>
                                        <th class="headQM centerQM">客訴單</th>
                                    </tr>
                                    <tr>
                                        <th class="titleQM centerQM" style="width:12.5%;">客訴單號</th>
                                        <td class="centerQM" id="desCCNo" style="width:37.5%;" colspan="1"></td>
                                        <th class="titleQM centerQM" style="width:12.5%;">單據階段狀態</th>
                                        <td class="centerQM" id="desCCStatus" style="width:37.5%; color: red;" colspan="1"></td>
                                    </tr>
                                    <tr>
                                        <th class="titleQM centerQM" style="width:12.5%;">單據日期</th>
                                        <td class="centerQM" id="desCCCreateDate" style="width:37.5%;" colspan="1"></td>
                                        <th class="titleQM centerQM" style="width:12.5%;">生產日期</th>
                                        <td class="centerQM" id="desCCProcessAlias" style="width:37.5%;" colspan="1"></td>
                                    </tr>
                                    <tr>
                                        <th class="titleQM centerQM" style="width:12.5%;">產品品號</th>
                                        <td class="centerQM" id="desCCMtlNo" style="width:37.5%;" colspan="1"></td>
                                        <th class="titleQM centerQM" style="width:12.5%;">客戶</th>
                                        <td class="centerQM" id="desCCCustomer" style="width:37.5%;" colspan="1"></td>
                                    </tr>
                                    <tr>
                                        <th class="titleQM centerQM" style="width:12.5%;">聯絡人</th>
                                        <td class="centerQM" id="desCCContact" style="width:37.5%;" colspan="1"></td>
                                        <th class="titleQM centerQM" style="width:12.5%;">聯絡人信箱</th>
                                        <td class="centerQM" id="desCCMail" style="width:37.5%;" colspan="1"></td>
                                    </tr>
                                    <tr>
                                        <th class="titleQM centerQM" style="width:12.5%;">回復日期</th>
                                        <td class="centerQM" id="desCCReplyDate" style="width:37.5%;" colspan="1"></td>
                                        <th class="titleQM centerQM" style="width:12.5%;">結案日期</th>
                                        <td class="centerQM" id="desCCFilingDate" style="width:37.5%;" colspan="1"></td>
                                    </tr>
                                    <tr class="basic">
                                        <th class="titleQM centerQM" style="width:12.5%;">問題說明</th>
                                        <td id="desIssueDescription" style="width:77.5%;" colspan="5"></td>
                                    </tr>
                                    <tr>
                                        <th class="centerQM" scope="col" style="width:100%;" colspan="5">
                                            <div class="section-header" style=" background-color: #f0f8ff">
                                                <div class="section-title">異常圖片</div>
                                            </div>
                                            <div id="carouselExampleControlsMain@(itemName)" class="carousel slide" data-ride="carousel" data-interval="false">
                                                <div class="carousel-inner slidesShow" id="slidesShowMain@(itemName)">
                                                </div>
                                                <button class="carousel-control-prev" type="button" data-target="#carouselExampleControlsMain@(itemName)" data-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="true">
                                                        <i class="fas fa-chevron-circle-left"></i>
                                                    </span>
                                                    <span class="sr-only">Previous</span>
                                                </button>
                                                <button class="carousel-control-next" type="button" data-target="#carouselExampleControlsMain@(itemName)" data-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="true">
                                                        <i class="fas fa-chevron-circle-right"></i>
                                                    </span>
                                                    <span class="sr-only">Next</span>
                                                </button>
                                            </div>
                                            <div class="noImgBlock" id="noImgBlockMain@(itemName)" style="display:none">目前尚無圖片</div>
                                        </th>
                                    </tr>

                                    <tr>
                                        <th class="hiddenQM"></th>
                                    </tr>
                                    <tr class="basic">
                                        <th class="headQM centerQM DataD1">D1.小組成員</th>
                                    </tr>
                                    <tr class="basic">
                                        <th class="centerQM" scope="col" style="width:100%;" colspan="5">
                                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                                <thead>
                                                    <tr>
                                                        <th class="titleQM centerQM" scope="col" style="width:40%;">姓名</th>
                                                        <th class="titleQM centerQM" scope="col" style="width:40%;">部門</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="DataD1@(itemName)"></tbody>
                                            </table>
                                        </th>
                                    </tr>

                                    <tr class="basic">
                                        <th class="hiddenQM"></th>
                                    </tr>
                                    <tr>
                                        <th class="headQM centerQM DataD2">D2.問題陳述</th>
                                    </tr>
                                    <tr>
                                        <th class="centerQM DataD2" scope="col" style="width:100%;" colspan="5">
                                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                                <thead>
                                                    <tr>
                                                        <th class="titleQM centerQM" scope="col" style="width:30%;">分類</th>
                                                        <th class="titleQM centerQM" scope="col" style="width:30%;">說明</th>
                                                        <th class="titleQM centerQM" scope="col" style="width:30%;">責任人員</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="DataD2@(itemName)"></tbody>
                                            </table>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th class="centerQM DataD2" scope="col" style="width:100%;" colspan="5">
                                            <div class="section-header" style=" background-color: #f0f8ff">
                                                <div class="section-title">D2附檔</div>
                                            </div>
                                            <div id="carouselExampleControlsD2@(itemName)" class="carousel slide" data-ride="carousel" data-interval="false">
                                                <div class="carousel-inner slidesShow" id="slidesShowD2@(itemName)">
                                                </div>
                                                <button class="carousel-control-prev" type="button" data-target="#carouselExampleControlsD2@(itemName)" data-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="true">
                                                        <i class="fas fa-chevron-circle-left"></i>
                                                    </span>
                                                    <span class="sr-only">Previous</span>
                                                </button>
                                                <button class="carousel-control-next" type="button" data-target="#carouselExampleControlsD2@(itemName)" data-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="true">
                                                        <i class="fas fa-chevron-circle-right"></i>
                                                    </span>
                                                    <span class="sr-only">Next</span>
                                                </button>
                                            </div>
                                            <div class="noImgBlock" id="noImgBlockD2@(itemName)" style="display:none">目前尚無圖片</div>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th class="hiddenQM"></th>
                                    </tr>

                                    <tr>
                                        <th class="headQM centerQM DataD3">D3.矯正處置</th>
                                    </tr>
                                    <tr>
                                        <th class="centerQM DataD3" scope="col" style="width:100%;" colspan="5">
                                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                                <thead>
                                                    <tr>
                                                        <th class="titleQM centerQM" scope="col" style="width:30%;">分類</th>
                                                        <th class="titleQM centerQM" scope="col" style="width:30%;">說明</th>
                                                        <th class="titleQM centerQM" scope="col" style="width:30%;">責任人員</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="DataD3@(itemName)"></tbody>
                                            </table>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th class="centerQM DataD3" scope="col" style="width:100%;" colspan="5">
                                            <div class="section-header" style=" background-color: #f0f8ff">
                                                <div class="section-title">D3附檔</div>
                                            </div>
                                            <div id="carouselExampleControlsD3@(itemName)" class="carousel slide" data-ride="carousel" data-interval="false">
                                                <div class="carousel-inner slidesShow" id="slidesShowD3@(itemName)">
                                                </div>
                                                <button class="carousel-control-prev" type="button" data-target="#carouselExampleControlsD3@(itemName)" data-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="true">
                                                        <i class="fas fa-chevron-circle-left"></i>
                                                    </span>
                                                    <span class="sr-only">Previous</span>
                                                </button>
                                                <button class="carousel-control-next" type="button" data-target="#carouselExampleControlsD3@(itemName)" data-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="true">
                                                        <i class="fas fa-chevron-circle-right"></i>
                                                    </span>
                                                    <span class="sr-only">Next</span>
                                                </button>
                                            </div>
                                            <div class="noImgBlock" id="noImgBlockD3@(itemName)" style="display:none">目前尚無圖片</div>
                                        </th>
                                    </tr>

                                    <tr>
                                        <th class="hiddenQM"></th>
                                    </tr>
                                    <tr>
                                        <th class="headQM centerQM DataD4">D4.根本原因</th>
                                    </tr>
                                    <tr>
                                        <th class="centerQM DataD4" scope="col" style="width:100%;" colspan="5">
                                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                                <thead>
                                                    <tr>
                                                        <th class="titleQM centerQM" scope="col" style="width:30%;">分類</th>
                                                        <th class="titleQM centerQM" scope="col" style="width:30%;">說明</th>
                                                        <th class="titleQM centerQM" scope="col" style="width:30%;">責任人員</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="DataD4@(itemName)"></tbody>
                                            </table>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th class="centerQM DataD4" scope="col" style="width:100%;" colspan="5">
                                            <div class="section-header" style=" background-color: #f0f8ff">
                                                <div class="section-title">D4附檔</div>
                                            </div>
                                            <div id="carouselExampleControlsD4@(itemName)" class="carousel slide" data-ride="carousel" data-interval="false">
                                                <div class="carousel-inner slidesShow" id="slidesShowD4@(itemName)">
                                                </div>
                                                <button class="carousel-control-prev" type="button" data-target="#carouselExampleControlsD4@(itemName)" data-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="true">
                                                        <i class="fas fa-chevron-circle-left"></i>
                                                    </span>
                                                    <span class="sr-only">Previous</span>
                                                </button>
                                                <button class="carousel-control-next" type="button" data-target="#carouselExampleControlsD4@(itemName)" data-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="true">
                                                        <i class="fas fa-chevron-circle-right"></i>
                                                    </span>
                                                    <span class="sr-only">Next</span>
                                                </button>
                                            </div>
                                            <div class="noImgBlock" id="noImgBlockD4@(itemName)" style="display:none">目前尚無圖片</div>
                                        </th>
                                    </tr>

                                    <tr>
                                        <th class="hiddenQM"></th>
                                    </tr>
                                    <tr>
                                        <th class="headQM centerQM DataD5">D5.長期對策</th>
                                    </tr>
                                    <tr>
                                        <th class=" centerQM DataD5" scope="col" style="width:100%;" colspan="5">
                                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                                <thead>
                                                    <tr>
                                                        <th class="titleQM centerQM" scope="col" style="width:25%;">分類</th>
                                                        <th class="titleQM centerQM" scope="col" style="width:25%;">說明</th>
                                                        <th class="titleQM centerQM" scope="col" style="width:25%;">責任人員</th>
                                                        <th class="titleQM centerQM" scope="col" style="width:25%;">預計完成日</th>

                                                    </tr>
                                                </thead>
                                                <tbody id="DataD5@(itemName)"></tbody>
                                            </table>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th class="centerQM DataD5" scope="col" style="width:100%;" colspan="5">
                                            <div class="section-header" style=" background-color: #f0f8ff">
                                                <div class="section-title">D5附檔</div>
                                            </div>
                                            <div id="carouselExampleControlsD5@(itemName)" class="carousel slide" data-ride="carousel" data-interval="false">
                                                <div class="carousel-inner slidesShow" id="slidesShowD5@(itemName)">
                                                </div>
                                                <button class="carousel-control-prev" type="button" data-target="#carouselExampleControlsD5@(itemName)" data-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="true">
                                                        <i class="fas fa-chevron-circle-left"></i>
                                                    </span>
                                                    <span class="sr-only">Previous</span>
                                                </button>
                                                <button class="carousel-control-next" type="button" data-target="#carouselExampleControlsD5@(itemName)" data-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="true">
                                                        <i class="fas fa-chevron-circle-right"></i>
                                                    </span>
                                                    <span class="sr-only">Next</span>
                                                </button>
                                            </div>
                                            <div class="noImgBlock" id="noImgBlockD5@(itemName)" style="display:none">目前尚無圖片</div>
                                        </th>
                                    </tr>

                                    <tr>
                                        <th class="hiddenQM"></th>
                                    </tr>
                                    <tr>
                                        <th class="headQM centerQM DataD6">D6.效果驗證</th>
                                    </tr>
                                    <tr>
                                        <th class=" centerQM DataD6" scope="col" style="width:100%;" colspan="5">
                                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                                <thead>
                                                    <tr>
                                                        <th class="titleQM centerQM" scope="col" style="width:25%;">分類</th>
                                                        <th class="titleQM centerQM" scope="col" style="width:25%;">說明</th>
                                                        <th class="titleQM centerQM" scope="col" style="width:25%;">責任人員</th>
                                                        <th class="titleQM centerQM" scope="col" style="width:25%;">完成日</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="DataD6@(itemName)"></tbody>
                                            </table>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th class="centerQM DataD6" scope="col" style="width:100%;" colspan="5">
                                            <div class="section-header" style=" background-color: #f0f8ff">
                                                <div class="section-title">D6附檔</div>
                                            </div>
                                            <div id="carouselExampleControlsD6@(itemName)" class="carousel slide" data-ride="carousel" data-interval="false">
                                                <div class="carousel-inner slidesShow" id="slidesShowD6@(itemName)">
                                                </div>
                                                <button class="carousel-control-prev" type="button" data-target="#carouselExampleControlsD6@(itemName)" data-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="true">
                                                        <i class="fas fa-chevron-circle-left"></i>
                                                    </span>
                                                    <span class="sr-only">Previous</span>
                                                </button>
                                                <button class="carousel-control-next" type="button" data-target="#carouselExampleControlsD6@(itemName)" data-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="true">
                                                        <i class="fas fa-chevron-circle-right"></i>
                                                    </span>
                                                    <span class="sr-only">Next</span>
                                                </button>
                                            </div>
                                            <div class="noImgBlock" id="noImgBlockD6@(itemName)" style="display:none">目前尚無圖片</div>
                                        </th>
                                    </tr>

                                    <tr>
                                        <th class="hiddenQM"></th>
                                    </tr>
                                    <tr>
                                        <th class="headQM centerQM DataD7">D7.再發生防止措施</th>
                                    </tr>
                                    <tr>
                                        <th class=" centerQM DataD7" scope="col" style="width:100%;" colspan="5">
                                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                                <thead>
                                                    <tr>
                                                        <th class="titleQM centerQM" scope="col" style="width:30%;">分類</th>
                                                        <th class="titleQM centerQM" scope="col" style="width:30%;">說明</th>
                                                        <th class="titleQM centerQM" scope="col" style="width:30%;">責任人員</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="DataD7@(itemName)"></tbody>
                                            </table>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th class="centerQM DataD7" scope="col" style="width:100%;" colspan="5">
                                            <div class="section-header" style=" background-color: #f0f8ff">
                                                <div class="section-title">D7附檔</div>
                                            </div>
                                            <div id="carouselExampleControlsD7@(itemName)" class="carousel slide" data-ride="carousel" data-interval="false">
                                                <div class="carousel-inner slidesShow" id="slidesShowD7@(itemName)">
                                                </div>
                                                <button class="carousel-control-prev" type="button" data-target="#carouselExampleControlsD7@(itemName)" data-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="true">
                                                        <i class="fas fa-chevron-circle-left"></i>
                                                    </span>
                                                    <span class="sr-only">Previous</span>
                                                </button>
                                                <button class="carousel-control-next" type="button" data-target="#carouselExampleControlsD7@(itemName)" data-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="true">
                                                        <i class="fas fa-chevron-circle-right"></i>
                                                    </span>
                                                    <span class="sr-only">Next</span>
                                                </button>
                                            </div>
                                            <div class="noImgBlock" id="noImgBlockD7@(itemName)" style="display:none">目前尚無圖片</div>
                                        </th>
                                    </tr>


                                    <tr>
                                        <th class="hiddenQM"></th>
                                    </tr>
                                    <tr>
                                        <th class="headQM centerQM DataD8">D8.追蹤與結案</th>
                                    </tr>
                                    <tr>
                                        <th class=" centerQM DataD8" scope="col" style="width:100%;" colspan="5">
                                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                                <thead>
                                                    <tr>
                                                        <th class="titleQM centerQM" scope="col" style="width:30%;">分類</th>
                                                        <th class="titleQM centerQM" scope="col" style="width:30%;">說明</th>
                                                        <th class="titleQM centerQM" scope="col" style="width:30%;">責任人員</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="DataD8@(itemName)"></tbody>
                                            </table>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th class="centerQM DataD8" scope="col" style="width:100%;" colspan="5">
                                            <div class="section-header" style=" background-color: #f0f8ff">
                                                <div class="section-title">D8附表</div>
                                            </div>
                                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                                <thead>
                                                    <tr>
                                                        <th class="titleQM centerQM" scope="col" style="width:25%;">批數</th>
                                                        <th class="titleQM centerQM" scope="col" style="width:25%;">追蹤日期</th>
                                                        <th class="titleQM centerQM" scope="col" style="width:25%;">報告編號</th>
                                                        <th class="titleQM centerQM" scope="col" style="width:25%;">檢測結果</th>

                                                    </tr>
                                                </thead>
                                                <tbody id="DataD8Tracking@(itemName)"></tbody>
                                            </table>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th class="centerQM DataD8" scope="col" style="width:100%;" colspan="5">
                                            <div class="section-header" style=" background-color: #f0f8ff">
                                                <div class="section-title">D8附檔</div>
                                            </div>
                                            <div id="carouselExampleControlsD8@(itemName)" class="carousel slide" data-ride="carousel" data-interval="false">
                                                <div class="carousel-inner slidesShow" id="slidesShowD8@(itemName)">
                                                </div>
                                                <button class="carousel-control-prev" type="button" data-target="#carouselExampleControlsD8@(itemName)" data-slide="prev">
                                                    <span class="carousel-control-prev-icon" aria-hidden="true">
                                                        <i class="fas fa-chevron-circle-left"></i>
                                                    </span>
                                                    <span class="sr-only">Previous</span>
                                                </button>
                                                <button class="carousel-control-next" type="button" data-target="#carouselExampleControlsD8@(itemName)" data-slide="next">
                                                    <span class="carousel-control-next-icon" aria-hidden="true">
                                                        <i class="fas fa-chevron-circle-right"></i>
                                                    </span>
                                                    <span class="sr-only">Next</span>
                                                </button>
                                            </div>
                                            <div class="noImgBlock" id="noImgBlockD8@(itemName)" style="display:none">目前尚無圖片</div>
                                        </th>
                                    </tr>
                                </table>
                            </div>
                        </section>
                        @*<section class="row-border pt-2">
                            <div class="section-header">
                                <div class="section-title">異常圖片</div>
                            </div>
                            <div id="carouselExampleControls@(itemName)" class="carousel slide" data-ride="carousel" data-interval="false">
                                <div class="carousel-inner slidesShow">
                                </div>
                                <button class="carousel-control-prev" type="button" data-target="#carouselExampleControls@(itemName)" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true">
                                        <i class="fas fa-chevron-circle-left"></i>
                                    </span>
                                    <span class="sr-only">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-target="#carouselExampleControls@(itemName)" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true">
                                        <i class="fas fa-chevron-circle-right"></i>
                                    </span>
                                    <span class="sr-only">Next</span>
                                </button>
                            </div>
                            <div class="noImgBlock" style="display:none">目前尚無資料</div>
                        </section>*@
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <span id="FileNo"></span>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        let userId@(itemName);
        let companyId@(itemName);
        let ccId@(itemName);
        


        function Pop@(itemName)(ccId) {
            GetUserInfo@(itemName)()
            ccId@(itemName) = ccId;
            $("#modal@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });

            @*if (companyId@(itemName) == 2) {
                $("#FileNo").text("P-Q006表03-01")
                $("#FileNo").show()
            }
            else {
                $("#FileNo").hide()
            }*@

            Query@(itemName)();

            $(window).keydown(function (event) {
                if (event.keyCode == 13) {
                    event.preventDefault();
                    return false;
                }
            });
        }

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));
            ShowSetting()
        }


        function ShowSetting() {
            var StageDataSetting = ""
            let targetUrl = "@Url.Action("GetCustomerComplaint", "CustomerComplaint")";
            let postData = {
                "CcId": ccId@(itemName)
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                $.each(data.result, function (i, item) {
                    //基本資料
                    StageDataSetting = item.StageDataSetting
                });
            } else {
                alert(data.msg, "alert", 0);
            }
            for (var i = 0; i < StageDataSetting.length; i++) {
                if (StageDataSetting[i] == "N") {
                    $(`.DataD${i + 1}`).hide()
                }
                else {
                    $(`.DataD${i + 1}`).show()
                }
            }

        }

        function InitData@(itemName)(objPage) {
            $(".basic").show()
            let innerHtml = '';
            var basicType = "";

            let targetUrl = "@Url.Action("ShowCustomerComplaint", "CustomerComplaint")";
            let postData = {
                "CcId": ccId@(itemName)
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                @*showFile@(itemName)()*@
                $.each(data.result, function (i, item) {
                    //$("#GalleryMaterialQualityFile").empty();

                    $("#desCCNo").html(item.CcNo); //客訴單號
                    $("#desCCCreateDate").text(item.DocDate); //單據日期
                    $("#desCCProcessAlias").text(item.FilingDate); //生產日期
                    $("#desCCMtlNo").html(item.MtlItemNo); //產品品號
                    $("#desCCCustomer").html(item.CustomerNo + "-" + item.CustomerShortName); //客戶
                    $("#desCCContact").html(item.UserName); //聯絡人
                    $("#desCCMail").html(item.UserEMail); //聯絡人信箱
                    $("#desCCReplyDate").html(item.ReplyDate); //回復日期
                    $("#desCCFilingDate").html(item.ClosureDate); //結案日期
                    $("#desIssueDescription").html(item.IssueDescription); //問題說明

                    //單據階段狀態
                    switch (item.CurrentStatus) {
                        case "D0":
                            $("#desCCStatus").html("客訴單據成立")
                            break;
                        case "DR":
                            $("#desCCStatus").html("已回覆客戶")
                            break;
                        case "DF":
                            $("#desCCStatus").html("已結案")
                            break;
                        default:
                            $("#desCCStatus").html(item.CurrentStatus + "資料維護中")
                            break;
                    }

                    showMainFile@(itemName)(item.CCMainFile);
                    setMember@(itemName)(item.D1);
                    setStatgeData@(itemName)("D2", item.D2);
                    setStatgeData@(itemName)("D3", item.D3);
                    setStatgeData@(itemName)("D4", item.D4);
                    setStatgeData@(itemName)("D5", item.D5);
                    setStatgeData@(itemName)("D6", item.D6);
                    setStatgeData@(itemName)("D7", item.D7);
                    setStatgeData@(itemName)("D8", item.D8);
                    showTrackingData@(itemName)(item.TrackingData);
                    @*showFile@(itemName)(item.DataFile)*@
                    //if ((item.D1) != null) {
                    //    basicType = "Y";
                    //}
                   
                    //item.ResponsibleDepartmentName == null ? $("#desResponsibleDeptId").html(`<span style="color:#c5c5c5;">未填寫責任單位</span>`) : $("#desResponsibleDeptId").html(item.ResponsibleDepartmentName); //責任單位
                });

                @*if (basicType =="Y") {
                    $(".AqcQcItemAll").hide();
                }
                else {
                    $(".basic").hide()
                    $(".AqcQcItemAll").show();

                    projectTable@(itemName)()
                }*@

            } else {
                alert(data.msg, "alert", 0);
            }

            $(".hiddenQM").css({ "background-color": "white", "border-style": "none" });
            $(".headQM").css({ "background-color": "lightskyblue", "border-style": "none", "border-top-left-radius": "4px", "border-top-right-radius": "4px" });
            $(".titleQM").css("background-color", "aliceblue");
            $(".centerQM").css("text-align", "center");
            $(".centerQM2").css("text-align", "left");
            $("#tblpopMaterialQuality th, #tblpopMaterialQuality td").css("vertical-align", "middle");


        }
        //json[x].InventoryNo
        function setMember@(itemName)(json) {
            let innerhtml = '';
            if (json) {
                for (let x = 0; x < json.length; x++) {
                    innerhtml += `<tr class="centerQM">
                                     <td class="centerQM" title="${json[x].CcId}" style="width:40%;" colspan="1">${json[x].UserName}</td>
                                     <td class="centerQM" title="${json[x].CcId}" style="width:40%;" colspan="1">${json[x].DepartmentName}</td>
                                  </tr>`;
                }
            }
            $(`#DataD1@(itemName)`).html(innerhtml);
            //TableComponentInit();
            console.log("D1",$(`#DataD2`).html())
            //return html;
        }

        function setStatgeData@(itemName)(stage, json) {
            let innerhtml = '';
            var fileIdArr = [];
            let d5d6innerHtml = ``;
            let tdwidth = "";
            let colspan = 0;


            if (stage == "D5" || stage == "D6") {
                    colspan = 6;
                } else {
                    colspan = 5;
                }
            
            if (json) {
                for (let x = 0; x < json.length; x++) {

                    if (stage == "D5") {
                        tdwidth = "25%";
                        d5d6innerHtml = `<td class="centerQM" title="預計完成日" style="width:25%;" colspan="1">${json[x].ExpectedDate != null ? json[x].ExpectedDate : ""}</td>`
                    } else if (stage == "D6") {
                        tdwidth = "25%";
                        d5d6innerHtml = `<td class="centerQM" title="完成日" style="width:25%;" colspan="1">${json[x].FinishDate != null ? json[x].FinishDate : ""}</td>`

                    } else {
                        tdwidth = "30%";
                        d5d6innerHtml = ``;
                    }

                    innerhtml += `<tr class="centerQM">
                                      <td class="centerQM" title="${json[x].McName}" style="width:${tdwidth};" colspan="1">${json[x].McName}</td>
                                      <td class="centerQM2" title="說明" style="width:${tdwidth};" colspan="1"><pre>${json[x].DescriptionTextarea}</pre></td>
                                      <td class="centerQM" title="責任人員" style="width:${tdwidth};" colspan="1">${json[x].DepartmentName}-${json[x].UserName}</td>
                                      ${d5d6innerHtml}
                                  </tr>`;
                    if (json[x].DataFile.length > 0) {
                        for (let y = 0; y < json[x].DataFile.length; y++) {
                            fileIdArr.push(json[x].DataFile[y].FileId);
                        }
                    }
                }
                showFile@(itemName)(stage, fileIdArr);

            } else {
                innerhtml += `<tr>
                                    <td class="text-center" colspan="${colspan}" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                $(`#carouselExampleControls${stage}@(itemName)`).hide();
                $(`#slidesShow${stage}@(itemName)`).hide();
                $(`#noImgBlock${stage}@(itemName)`).show();
            }
            $(`#Data${stage}@(itemName)`).html(innerhtml);
            TableComponentInit();
        }

        function showMainFile@(itemName)(json) {
            
            var imgContent = ``;
            if (json.length > 0) {
                for (let x = 0; x < json.length; x++) {
                    if (json[x].FileId != "null") {
                        if (x == 0) {
                            imgContent = `
                                   <div class="carousel-item slidesShowItem active">
                                     <img class="d-block w-100" style="width: 80vw" alt="..." src="/Web/GetFile?fileId=${json[x].FileId}">
                                   </div>
                                  `
                        } else {
                            imgContent += `
                                   <div class="carousel-item slidesShowItem ">
                                     <img class="d-block w-100"  alt="..." src="/Web/GetFile?fileId=${json[x].FileId}">
                                   </div>
                                  `
                        }
                    }
                }
                $(`#noImgBlockMain@(itemName)`).hide();
                $(`#slidesShowMain@(itemName)`).show();
                $(`#carouselExampleControlsMain@(itemName)`).show();
                $(`#slidesShowMain@(itemName)`).html(imgContent);
            } else {
                $(`#carouselExampleControlsMain@(itemName)`).hide();
                $(`#slidesShowMain@(itemName)`).hide();
                $(`#noImgBlockMain@(itemName)`).show();

            }
        }

        function showFile@(itemName)(fileStage, fileIds) {
            
            var imgContent = ``;
            if (fileIds.length > 0) {
                for (let x = 0; x < fileIds.length; x++) {
                    if (fileIds[x] != "null") {
                        if (x == 0) {
                            imgContent = `
                                   <div class="carousel-item slidesShowItem active">
                                     <img class="d-block w-100" alt="..." src="/Web/GetFile?fileId=${fileIds[x]}">
                                   </div>
                                  `
                        } else {
                            imgContent += `
                                   <div class="carousel-item slidesShowItem ">
                                     <img class="d-block w-100" alt="..." src="/Web/GetFile?fileId=${fileIds[x]}">
                                   </div>
                                  `
                        }
                    }
                }
                $(`#noImgBlock${fileStage}@(itemName)`).hide();
                $(`#slidesShow${fileStage}@(itemName)`).show();
                $(`#carouselExampleControls${fileStage}@(itemName)`).show();
                $(`#slidesShow${fileStage}@(itemName)`).html(imgContent);
            } else {
                $(`#carouselExampleControls${fileStage}@(itemName)`).hide();
                $(`#slidesShow${fileStage}@(itemName)`).hide();
                $(`#noImgBlock${fileStage}@(itemName)`).show();

            }
            console.log("File", fileIds, fileStage, imgContent)
        }

        function showTrackingData@(itemName)(json) {
            var batch = "";

            var innerHtml = ``;
            if (json.length > 0) {
                for (let x = 0; x < json.length; x++) {
                    switch (json[x].Batch) {
                        case 1:
                            batch = "第一批"
                            break;
                        case 2:
                            batch = "第二批"
                            break;
                        case 3:
                            batch = "第三批"
                            break;

                    }
                    innerHtml += `<tr class="centerQM">
                                      <td class="centerQM" title="${json[x].CCTrackingDataId}" style="width:30%;" colspan="1">${batch}</td>
                                      <td class="centerQM" title="${json[x].CCTrackingDataId}" style="width:30%;" colspan="1">${json[x].TrackingDate}</td>
                                      <td class="centerQM" title="${json[x].CCTrackingDataId}" style="width:30%;" colspan="1">${json[x].ReportNo}</td>
                                      <td class="centerQM" title="${json[x].CCTrackingDataId}" style="width:30%;" colspan="1">${json[x].TrialResult}</td>
                                  </tr>`;
                }

            } else {
                innerHtml += `<tr>
                                    <td class="text-center" colspan="4" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無附表資料。
                                    </td>
                                  </tr>`;

            }
            $("#DataD8Tracking@(itemName)").html(innerHtml);
            TableComponentInit();
        
        }

        function Return@(itemName)() {
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName), .list-mode", "#editData@(itemName), .edit-mode");

            $(".aqcQcItem").empty();
            Query@(itemName)();
        }
        function Close@(itemName)() {
            $("#modal@(itemName)").modal("hide");
            $(".aqcQcItem").empty();

        }
        
        function GetUserInfo@(itemName)() {
            let targetUrl = "@Url.Action("GetLoginByKey", "User")";
            let postData = {
                "UserNo": $.cookie("Login"),
                "KeyText": $.cookie("LoginKey")
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                userId@(itemName) = data.returnData.UserId;
                companyId@(itemName) = data.returnData.CompanyId;
            } else {
                alert(data.msg, "alert", 0);
            }
        }

    </script>
                )