
@using Business_Manager.Helpers
@{
    string itemName = "DfmCategoryMaterial";
    string itemNameText = "項目種類物料";
}

@Html.Resource("css",
    @<style>
         .add-process-icon {
             margin-right: 15px;
             margin-top: 10px;
             cursor: pointer;
             color: coral;
         }

         .process-info {
             border: 1px solid rgba(0,0,0,.125);
             border-radius: 0.25rem;
             padding: 10px;
             box-shadow: 0 0 4px rgb(139 110 110 / 60%);
             margin-bottom: 10px;
         }

         .tag-group {
             display: inline-block;
             background-color: #ebebeb;
             border-radius: 4px;
             cursor: text;
             line-height: 1;
             padding: 0.35rem 0.5rem;
             margin: 0.15rem 0.375rem 0.15rem 0;
             white-space: nowrap;
             color: #0580ff;
             font-weight: 700;
         }
    </style>
                                                                         )
<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtDfmMaterialNameQ@(itemName)">物料名稱</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtDfmMaterialNameQ@(itemName)" name="txtDfmMaterialNameQ@(itemName)" placeholder="請輸入物料名稱" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtDfmMaterialDescQ@(itemName)">物料描述</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtDfmMaterialDescQ@(itemName)" name="txtDfmMaterialDescQ@(itemName)" placeholder="請輸入物料描述" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">狀態</label>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    啟用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)A" name="cbxStatusQ@(itemName)" value="A" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    停用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)S" name="cbxStatusQ@(itemName)" value="S" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);">
                            <i class="fal fa-search"></i>搜尋
                        </a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn btn-info auth-add" href="javascript:Edit@(itemName)();">
                            <i class="fas fa-plus"></i>新增
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th scope="col" style="min-width: 200px;">物料名稱</th>
                                        <th scope="col" style="min-width: 200px;">物料描述</th>
                                        <th scope="col" style="min-width: 200px;">物料金額</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">狀態</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="DfmItemCategoryId" name="DfmItemCategoryId" value="-1" />
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>
@Html.Partial("ViewMaterialManagement")

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 999
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        function Expand@(itemName)() {
            if (parseInt($("#DfmItemCategoryId").val()) > 0) {
               ModeId@(itemName) = $("#ModeId").val()
               $(".advanced-block").slideDown("slow");
               Query@(itemName)()
           } else {
                alert("途程製程資料錯誤，請重新操作!", "alert");
           }
        }

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));
            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {

            let innerHtml = '';
            let pageCount = 0;
            let statusList = [];
            $.each($("input[name='cbxStatusQ@(itemName)']:checked"), function () {
                statusList.push($(this).val());
            });

            let targetUrl = "@Url.Action("GetDfmCategoryMaterial", "PdmBasicInformation")";

            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "DfmItemCategoryId": $("#DfmItemCategoryId").val(),
                "DfmMaterialName": $("#txtDfmMaterialNameQ@(itemName)").val(),
                "DfmMaterialDesc": $("#txtDfmMaterialDescQ@(itemName)").val(),
                "Status": statusList.join(",")
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";
                        
                        innerHtml += `<tr>
                                        <td><span class="stack-title">#</span>${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DfmMaterialName}" style="max-width: 175px;"><span class="stack-title">物料名稱</span>${item.DfmMaterialName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DfmMaterialDesc}" style="max-width: 175px;"><span class="stack-title">物料描述</span>${item.DfmMaterialDesc}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DfmMaterialMoney}" style="max-width: 175px;"><span class="stack-title">物料金額</span>${item.DfmMaterialMoney}</td>
                                        <td class="text-center auth-category-material">
                                          <input type="checkbox" name="chkStatus@(itemName)" data-dfmcategorymaterial-id="${item.DfmCategoryMaterialId}" ${item.Status == `A` ? `checked` : ``} />
                                        </td>
                                        <td class="text-center un-auth auth-category-material">${StatusName(`Status`, item.Status)}</td>
                                        <td class="text-center active-content">
                                          <span class="stack-title">操作</span>
                                          <a class="active-link" href="javascript:Delete@(itemName)(${item.DfmCategoryMaterialId});"><i class="fas fa-trash-alt"></i></a>
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="11" style="background-color: #fff3cd;">
                                        <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

            $("input[name='chkStatus@(itemName)']").bootstrapToggle({
                on: "啟用",
                off: "停用",
                onstyle: "success",
                offstyle: "danger",
                size: "mini"
            });

            $("input[name='chkStatus@(itemName)'][data-dfmcategorymaterial-id]").change(StatusSwitch@(itemName));
        }

        function Edit@(itemName)() {

            PopViewMaterialManagement($("#DfmItemCategoryId").val()); //傳值DfmItemCategoryId給PopViewMaterialManagement

         }

        function Delete@(itemName)(DfmCategoryMaterialId) {
            swal.fire({
                titleText: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteDfmCategoryMaterial", "PdmBasicInformation")";
                    let postData = {
                        "DfmCategoryMaterialId": DfmCategoryMaterialId
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function Return@(itemName)() {
            Switch("#listData@(itemName)", "#editData@(itemName)");
            ResetForm(objForm@(itemName));
            Query@(itemName)();
        }

        function StatusSwitch@(itemName)() {
            var DfmCategoryMaterialId = $(this).data("dfmcategorymaterial-id");

            let targetUrl = "@Url.Action("UpdateDfmCategoryMaterialStatus", "PdmBasicInformation")";
            let postData = {
                "DfmCategoryMaterialId": DfmCategoryMaterialId
            };

            let result = DataAccess.Update(targetUrl, postData, false, true);

            if (result) {
                Return@(itemName)();
            }
        }
    </script>
                                                                        )
