
@using Business_Manager.Helpers
@{
    string itemName = "ItemCategoryDept";
    string itemNameText = "品號類別責任部門";
    string authority = ViewBag.authority;
    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
    </style>
                                                                        )

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboTypeTwoQ@(itemName)">組合一</label>
                            <div class="col-12">
                                <select class="form-control" id="cboTypeTwoQ@(itemName)" name="cboTypeTwoQ@(itemName)">
                                    <option value="">-- 請選擇組合一 --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboTypeThreeQ@(itemName)">組合二</label>
                            <div class="col-12">
                                <select class="form-control" id="cboTypeThreeQ@(itemName)" name="cboTypeThreeQ@(itemName)">
                                    <option value="">-- 請選擇組合二 --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboInventoryNoQ@(itemName)">組合三</label>
                            <div class="col-12">
                                <select class="form-control" id="cboInventoryNoQ@(itemName)" name="cboInventoryNoQ@(itemName)">
                                    <option value="">-- 請選擇組合三 --</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtCatDeptQ@(itemName)">責任部門</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtCatDeptQ@(itemName)" name="txtCatDeptQ@(itemName)" placeholder="請輸入責任部門" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="modalTempExcel@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryExcel@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtTempStartDayQ@(itemName)" name="txtTempStartDayQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))" />
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtTempEndDayQ@(itemName)" name="txtTempEndDayQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="GetTempExcel@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalTempReturnExcel@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryExcel@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtTempReturnStartDayQ@(itemName)" name="txtTempReturnStartDayQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))" />
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtTempReturnEndDayQ@(itemName)" name="txtTempReturnEndDayQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="GetTempReturnExcel@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>


<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);">
                            <i class="fal fa-search"></i>搜尋
                        </a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn btn-info auth-add" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>

                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalTempExcel@(itemName)" href="javascript:void(0);">
                            <i class="fal fa-search"></i>ERP暫出入單明細表
                        </a>
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalTempReturnExcel@(itemName)" href="javascript:void(0);">
                            <i class="fal fa-search"></i>ERP暫出歸還單明細表
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th scope="col" style="min-width: 150px;">組合一</th>
                                        <th scope="col" style="min-width: 150px;">組合二</th>
                                        <th scope="col" style="min-width: 150px;">組合三</th>
                                        <th scope="col" style="min-width: 150px;">責任部門</th>
                                        <th class="text-center" scope="col" style="min-width: 500px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container custom-form-container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="ItemCatDeptId" name="ItemCatDeptId" value="-1" />
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboTypeTwo@(itemName)">組合一 </label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboTypeTwo@(itemName)" name="cboTypeTwo@(itemName)"
                                        data-msg-required="請選擇組合一" ></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboTypeThree@(itemName)">組合二 </label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboTypeThree@(itemName)" name="cboTypeThree@(itemName)"
                                        data-msg-required="請選擇組合二" ></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboInventoryNo@(itemName)">組合三 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboInventoryNo@(itemName)" name="cboInventoryNo@(itemName)"
                                        data-msg-required="請選擇組合三" data-rule-required="true"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtCatDept@(itemName)">責任部門 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtCatDept@(itemName)" name="txtCatDept@(itemName)" placeholder="請輸入責任部門"
                                       data-msg-required="請輸入責任部門" data-rule-required="true" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>



@Html.Partial("ViewMtlItem")

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        $(document).ready(function () {

            let currentDate = new Date();


            Suites.DatePicker("txtTempStartDayQ@(itemName)", currentDate);
            Suites.DatePicker("txtTempEndDayQ@(itemName)", currentDate);

            Suites.DatePicker("txtTempReturnStartDayQ@(itemName)", currentDate);
            Suites.DatePicker("txtTempReturnEndDayQ@(itemName)", currentDate);

            ComboBoxs.WithText("#cboTypeTwoQ@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "MtlItemType", "Condition": 2 }, "", "NA", "", "TypeName", "TypeNo");
            ComboBoxs.WithText("#cboTypeThreeQ@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "MtlItemType", "Condition": 3 }, "", "NA", "", "TypeName", "TypeNo");
            ComboBoxs.Default("#cboInventoryNoQ@(itemName)", "@Url.Action("GetInventory", "ScmBasicInformation")", {}, "", "NA", "", "InventoryWithNo", "InventoryNo");

            Query@(itemName)();

            if (!isMobile) {
                $("#cboTypeTwoQ@(itemName), #cboTypeThreeQ@(itemName), #cboInventoryNoQ@(itemName)").select2({
                    width: "100%"
                });
            }

        });

        
        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let statusList = [];
            $.each($("input[name='cbxStatusQ@(itemName)']:checked"), function () {
                statusList.push($(this).val());
            });

            let targetUrl = "@Url.Action("GetItemCategoryDept", "PdmBasicInformation")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "TypeTwo": $("#cboTypeTwoQ@(itemName)").val(),
                "TypeThree": $("#cboTypeThreeQ@(itemName)").val(),
                "InventoryNo": $("#cboInventoryNoQ@(itemName)").val(),
                "CatDept": $("#txtCatDeptQ@(itemName)").val()
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;
                //pageCount = data.result.length > 0 ? parseInt(data.result.length) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr>
                                        <td>${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.TypeTwo}" style="max-width: 200px;">${item.TypeTwo} ${item.TypeTwoName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.TypeThree}" style="max-width: 200px;">${item.TypeThree} ${item.TypeThreeName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.InventoryNo}" style="max-width: 200px;">${item.InventoryNo} ${item.InventoryName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.CatDept}" style="max-width: 200px;">${item.CatDept}</td>
                                         <td class="text-center active-content">
                                          <a class="active-link auth-update" href="javascript:Edit@(itemName)(${item.ItemCatDeptId});"><i class="fas fa-edit"></i><span>修改</span></a>
                                          <a class="active-link auth-delete" href="javascript:Delete@(itemName)(${item.ItemCatDeptId});"><i class="fas fa-trash-alt"></i><span>刪除</span></a>
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="10" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));


        }
         
         function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let statusList = [];
            $.each($("input[name='cbxStatusQ@(itemName)']:checked"), function () {
                statusList.push($(this).val());
            });

            let targetUrl = "@Url.Action("GetItemCategoryDept", "PdmBasicInformation")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "TypeTwo": $("#cboTypeTwoQ@(itemName)").val(),
                "TypeThree": $("#cboTypeThreeQ@(itemName)").val(),
                "InventoryNo": $("#cboInventoryNoQ@(itemName)").val(),
                "CatDept": $("#txtCatDeptQ@(itemName)").val()
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr>
                                        <td>${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.TypeTwo}" style="max-width: 200px;">${item.TypeTwo} ${item.TypeTwoName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.TypeThree}" style="max-width: 200px;">${item.TypeThree} ${item.TypeThreeName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.InventoryNo}" style="max-width: 200px;">${item.InventoryNo} ${item.InventoryName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.CatDept}" style="max-width: 200px;">${item.CatDept}</td>
                                         <td class="text-center active-content">
                                          <a class="active-link auth-update" href="javascript:Edit@(itemName)(${item.ItemCatDeptId});"><i class="fas fa-edit"></i><span>修改</span></a>
                                          <a class="active-link auth-delete" href="javascript:Delete@(itemName)(${item.ItemCatDeptId});"><i class="fas fa-trash-alt"></i><span>刪除</span></a>
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="8" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

            
        }


        function Edit@(itemName)(ItemCatDeptId) {
            console.log(111, ItemCatDeptId)
            $("#ItemCatDeptId").val(ItemCatDeptId ? ItemCatDeptId : 0);

            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");

            ComboBoxs.WithText("#cboTypeTwo@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "MtlItemType", "Condition": 2 }, "", "NA", "", "TypeName", "TypeNo");
            ComboBoxs.WithText("#cboTypeThree@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "MtlItemType", "Condition": 3 }, "", "NA", "", "TypeName", "TypeNo");
            ComboBoxs.Default("#cboInventoryNo@(itemName)", "@Url.Action("GetInventory", "ScmBasicInformation")", {}, "", "NA", "", "InventoryWithNo", "InventoryNo");
            
            if (ItemCatDeptId > 0) {
                let targetUrl = "@Url.Action("GetItemCategoryDept", "PdmBasicInformation")";
                let postData = {
                    "ItemCatDeptId": ItemCatDeptId
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {

                    $.each(data.result, function (i, item) {
                        $("#cboTypeTwo@(itemName)").val(item.TypeTwo);
                        $("#cboTypeThree@(itemName)").val(item.TypeThree);
                        $("#cboInventoryNo@(itemName)").val(item.InventoryNo);
                        $("#txtCatDept@(itemName)").val(item.CatDept);
                    });


                } else {
                    alert(data.msg, "alert", 0);
                }
            }
            if (!isMobile) {
                $("#cboTypeTwo@(itemName), #cboTypeThree@(itemName), #cboInventoryNo@(itemName)").select2({
                    width: "100%"
                });
            }
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let ItemCatDeptId = parseInt($("#ItemCatDeptId").val());
                
                if (ItemCatDeptId <= 0) {
                    let targetUrl = "@Url.Action("AddItemCategoryDept", "PdmBasicInformation")";
                    let postData = {
                        "TypeTwo": $("#cboTypeTwo@(itemName)").val(),
                        "TypeThree": $("#cboTypeThree@(itemName)").val(),
                        "InventoryNo": $("#cboInventoryNo@(itemName)").val(),
                        "CatDept": $("#txtCatDept@(itemName)").val(),
                    };

                    let data = DataAccess.EditContinued(targetUrl, postData, false);

                    if (data) {
                        $.each(data.result, function (i, item) {
                            $("#ItemCatDeptId").val(item.ItemCatDeptId);
                        });
                        
                    }
                } else {
                    let targetUrl = "@Url.Action("UpdateItemCategoryDept", "PdmBasicInformation")";
                    let postData = {
                        "ItemCatDeptId": ItemCatDeptId,
                        "TypeTwo": $("#cboTypeTwo@(itemName)").val(),
                        "TypeThree": $("#cboTypeThree@(itemName)").val(),
                        "InventoryNo": $("#cboInventoryNo@(itemName)").val(),
                        "CatDept": $("#txtCatDept@(itemName)").val(),
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Return@(itemName)();
                    }
                }
            }
        }
        
        function Delete@(itemName)(ItemCatDeptId) {
            swal.fire({
                titleText: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteItemCatDept", "PdmBasicInformation")";
                    let postData = {
                        "ItemCatDeptId": ItemCatDeptId,
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                    else {
                        alert('刪除失敗', 'error', 0);
                    }
                }
            });
        }
        //ERP暫出入單明細表
        function GetTempExcel@(itemName)() {
            let targetUrl = "@Url.Action("ExcelTemporaryOrderOutInDetail", "PdmBasicInformation")";
            let postData = {
                "StardDay": $("#txtTempStartDayQ@(itemName)").val(),
                "EndDay": $("#txtTempEndDayQ@(itemName)").val()
            };

            FileAccess.AjaxDownload(targetUrl, postData, false);
            alert("匯出成功!!!!", "success")

            if (result) {
                Query@(itemName)();
            }
        }
        //ERP暫出歸還單明細表
        function GetTempReturnExcel@(itemName)() {
            let targetUrl = "@Url.Action("ExcelTempOutReturnRecordDetail", "PdmBasicInformation")";
            let postData = {
                "StardDay": $("#txtTempReturnStartDayQ@(itemName)").val(),
                "EndDay": $("#txtTempReturnEndDayQ@(itemName)").val()
            };

            FileAccess.AjaxDownload(targetUrl, postData, false);
            alert("匯出成功!!!!", "success")

            if (result) {
                Query@(itemName)();
            }
        }

        function Return@(itemName)() {
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName)", "#editData@(itemName), .unit-block, .advanced-block");
            Query@(itemName)();
        }

    </script>
                                                        )