@using Business_Manager.Helpers
@{
    string itemName = "ItemTypeDefault";
    string itemNameText = "品號基本資料預設管理";
}

@Html.Resource("css",
    @<style>
        .inputStyle{
            border: 0;
            outline: 0;
            background-color: unset;
        }
    </style>
)

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-12 col-sm-12 col-md-12 text-right">
                        <a class="btn btn-info auth-detail" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th scope="col" style="min-width: 130px;">類別(一)</th>
                                        <th scope="col" style="min-width: 130px;">類別(四)</th>
                                        <th class="text-center" scope="col" style="min-width: 100px;">狀態</th>
                                        <th class="text-center" scope="col" style="min-width: 290px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container custom-form-container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboTypeOne@(itemName)">品號分類(一)－會計<span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboTypeOne@(itemName)" name="cboTypeOne@(itemName)"
                                        data-msg-required="請選擇品號分類(一)" data-rule-required="true"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboTypeTwo@(itemName)">品號分類(二)－倉管</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboTypeTwo@(itemName)" name="cboTypeTwo@(itemName)"
                                        data-msg-required="請選擇品號分類(二)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboTypeThree@(itemName)">品號分類(三)－業務<span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboTypeThree@(itemName)" name="cboTypeThree@(itemName)"
                                        data-msg-required="請選擇品號分類(三)" data-rule-required="true"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboTypeFour@(itemName)">品號分類(四)－生管<span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboTypeFour@(itemName)" name="cboTypeFour@(itemName)"
                                        data-msg-required="請選擇品號分類(四)" data-rule-required="true"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboInventoryId@(itemName)">主要庫別<span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboInventoryId@(itemName)" name="cboInventoryId@(itemName)"
                                        data-msg-required="請選擇主要庫別" data-rule-required="true"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboRequisitionInventoryId@(itemName)">主要領料庫別<span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboRequisitionInventoryId@(itemName)" name="cboRequisitionInventoryId@(itemName)"
                                        data-msg-required="請選擇主要領料庫別" data-rule-required="true"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboInventoryUomId@(itemName)">庫存單位</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboInventoryUomId@(itemName)" name="cboInventoryUomId@(itemName)"
                                        data-msg-required="請選擇庫存單位"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="cboItemAttribute@(itemName)">品號屬性<span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <select class="form-control" id="cboItemAttribute@(itemName)" name="cboItemAttribute@(itemName)"
                                        data-msg-required="請選擇品號屬性" data-rule-required="true"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group row">
                                    <label class="col-12 col-md-3 col-lg-2 col-form-label" for="cboMeasureType">檢驗方式</label>
                                    <div class="col-12 col-md-9 col-lg-4">
                                        <select class="form-control" id="cboMeasureType@(itemName)" name="cboMeasureType@(itemName)"></select>
                                    </div>
                                    <label class="col-12 col-md-3 col-lg-2 col-form-label" for="cboLotManagement">批號管理</label>
                                    <div class="col-12 col-md-9 col-lg-4">
                                        <select class="form-control" id="cboLotManagement@(itemName)" name="cboLotManagement@(itemName)"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group row">
                                    <label class="col-12 col-md-3 col-lg-2 col-form-label" for="cboPurchaseUomId">採購單位</label>
                                    <div class="col-12 col-md-9 col-lg-4">
                                        <select class="form-control" id="cboPurchaseUomId@(itemName)" name="cboPurchaseUomId@(itemName)"></select>
                                    </div>
                                    <label class="col-12 col-md-3 col-lg-2 col-form-label" for="cboSaleUomId@(itemName)">銷售單位</label>
                                    <div class="col-12 col-md-9 col-lg-4">
                                        <select class="form-control" id="cboSaleUomId@(itemName)" name="cboSaleUomId@(itemName)"></select>
                                    </div>
                                </div>
                            </div>
                        </div>                       
                        <div class="form-group row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group row">
                                    <label class="col-12 col-md-3 col-lg-2 col-form-label" for="chkMtlModify@(itemName)">修改品名/規格</label>
                                    <div class="col-12 col-md-9 col-lg-4" style="display: flex;justify-content: space-around;  align-items: center;">
                                        <div class="col-lg-3 col-md-4 col-6">
                                            <label class="control control-solid control-solid-info control--radio col-12">
                                                是
                                                <input type="radio" id="chkMtlModify@(itemName)Y" name="chkMtlModify@(itemName)" value="Y"
                                                       data-msg-required="請選擇是否修改品名/規格" />
                                                <span class="control__indicator"></span>
                                            </label>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-6">
                                            <label class="control control-solid control-solid-info control--radio col-12">
                                                否
                                                <input type="radio" id="chkMtlModify@(itemName)N" name="chkMtlModify@(itemName)" value="N"
                                                       data-msg-required="請選擇是否修改品名/規格" checked />
                                                <span class="control__indicator"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <label class="col-12 col-md-3 col-lg-2 col-form-label" for="chkBondedStore@(itemName)">保稅品</label>
                                    <div class="col-12 col-md-9 col-lg-4" style="display: flex;justify-content: space-around;  align-items: center;">
                                        <div class="col-lg-3 col-md-4 col-6">
                                            <label class="control control-solid control-solid-info control--radio col-12">
                                                是
                                                <input type="radio" id="chkBondedStore@(itemName)Y" name="chkBondedStore@(itemName)" value="Y"
                                                       data-msg-required="請選擇是否保稅品" />
                                                <span class="control__indicator"></span>
                                            </label>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-6">
                                            <label class="control control-solid control-solid-info control--radio col-12">
                                                否
                                                <input type="radio" id="chkBondedStore@(itemName)N" name="chkBondedStore@(itemName)" value="N"
                                                       data-msg-required="請選擇是否保稅品" checked />
                                                <span class="control__indicator"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group row">
                                    <label class="col-12 col-md-3 col-lg-2 col-form-label" for="chkOverReceiptManagement@(itemName)">超收管理</label>
                                    <div class="col-12 col-md-9 col-lg-4" style="display: flex;justify-content: space-around;  align-items: center;">
                                        <div class="col-lg-3 col-md-4 col-6">
                                            <label class="control control-solid control-solid-info control--radio col-12">
                                                是
                                                <input type="radio" id="chkOverReceiptManagement@(itemName)Y" name="chkOverReceiptManagement@(itemName)" value="Y"
                                                       data-msg-required="請選擇是否超收管理" />
                                                <span class="control__indicator"></span>
                                            </label>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-6">
                                            <label class="control control-solid control-solid-info control--radio col-12">
                                                否
                                                <input type="radio" id="chkOverReceiptManagement@(itemName)N" name="chkOverReceiptManagement@(itemName)" value="N"
                                                       data-msg-required="請選擇是否超收管理" checked />
                                                <span class="control__indicator"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <label class="col-12 col-md-3 col-lg-2 col-form-label" for="chkOverDeliveryManagement@(itemName)">超交管理</label>
                                    <div class="col-12 col-md-9 col-lg-4" style="display: flex;justify-content: space-around;  align-items: center;">
                                        <div class="col-lg-3 col-md-4 col-6">
                                            <label class="control control-solid control-solid-info control--radio col-12">
                                                是
                                                <input type="radio" id="chkOverDeliveryManagement@(itemName)Y" name="chkOverDeliveryManagement@(itemName)" value="Y"
                                                       data-msg-required="請選擇是否超交管理" checked />
                                                <span class="control__indicator"></span>
                                            </label>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-6">
                                            <label class="control control-solid control-solid-info control--radio col-12">
                                                否
                                                <input type="radio" id="chkOverDeliveryManagement@(itemName)N" name="chkOverDeliveryManagement@(itemName)" value="N"
                                                       data-msg-required="請選擇是否超交管理" />
                                                <span class="control__indicator"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group row">

                                    <label class="col-12 col-md-3 col-lg-2 col-form-label" for="chkInventoryManagement@(itemName)">庫存管理</label>
                                    <div class="col-12 col-md-9 col-lg-4" style="display: flex;justify-content: space-around;  align-items: center;">
                                        <div class="col-lg-3 col-md-4 col-6">
                                            <label class="control control-solid control-solid-info control--radio col-12">
                                                是
                                                <input type="radio" id="chkInventoryManagement@(itemName)Y" name="chkInventoryManagement@(itemName)" value="Y"
                                                       data-msg-required="請選擇是否庫存管理" checked />
                                                <span class="control__indicator"></span>
                                            </label>
                                        </div>
                                        <div class="col-lg-3 col-md-4 col-6">
                                            <label class="control control-solid control-solid-info control--radio col-12">
                                                否
                                                <input type="radio" id="chkInventoryManagement@(itemName)N" name="chkInventoryManagement@(itemName)" value="N"
                                                       data-msg-required="請選擇是否庫存管理" />
                                                <span class="control__indicator"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group row">
                                    <label class="col-12 col-md-3 col-lg-2 col-form-label" for="txtEffectiveDate@(itemName)">生效日期</label>
                                    <div class="col-12 col-md-9 col-lg-4">
                                        <div class="input-group">
                                            <input type="text" class="form-control datedropper" id="txtEffectiveDate@(itemName)" name="txtEffectiveDate@(itemName)"
                                                   data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                                   placeholder="請輸入生效日期" readonly />
                                            <div class="input-group-append">
                                                <button type="button" class="btn btn-outline-danger" onclick="$('#txtEffectiveDate@(itemName)').val('')" title="清除">
                                                    <i class="fas fa-eraser"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <label class="col-12 col-md-3 col-lg-2 col-form-label" for="txtExpirationDate@(itemName)">失效日期</label>
                                    <div class="col-12 col-md-9 col-lg-4">
                                        <div class="input-group">
                                            <input type="text" class="form-control datedropper" id="txtExpirationDate@(itemName)" name="txtExpirationDate@(itemName)"
                                                   data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                                   placeholder="請輸入失效日期" readonly />
                                            <div class="input-group-append">
                                                <button type="button" class="btn btn-outline-danger" onclick="$('#txtExpirationDate@(itemName)').val('')" title="清除">
                                                    <i class="fas fa-eraser"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group row">
                                    <label class="col-12 col-md-3 col-lg-2 col-form-label" for="txtMtlItemDesc@(itemName)">商品描述</label>
                                    <div class="col-12 col-md-9 col-lg-4">
                                        <textarea class="form-control" id="txtMtlItemDesc@(itemName)" name="txtMtlItemDesc@(itemName)"
                                                  data-msg-maxlength="必須少於 255 個字元" maxlength="255" rows="2" placeholder="請輸入商品描述"></textarea>
                                    </div>
                                    <label class="col-12 col-md-3 col-lg-2 col-form-label" for="txtMtlItemRemark@(itemName)">品號備註</label>
                                    <div class="col-12 col-md-9 col-lg-4">
                                        <textarea class="form-control" id="txtMtlItemRemark@(itemName)" name="txtMtlItemRemark@(itemName)"
                                                  data-msg-maxlength="必須少於 255 個字元" maxlength="255" rows="2" placeholder="請輸入品號備註"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-secondary" onclick="Clear@(itemName)()"><i class="fas fa-undo"></i>清空</button>
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>



@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        $(document).ready(function () {
            $("#cboInventoryId@(itemName)").change(function () {
                ComboBoxs.Default("#cboRequisitionInventoryId@(itemName)", "@Url.Action("GetInventory", "ScmBasicInformation")", {}, "", "NA", "", "InventoryWithNo", "InventoryId");
                $("#cboRequisitionInventoryId@(itemName)").val($("#cboInventoryId@(itemName)").val())
            })
            $("#cboInventoryUomId@(itemName)").change(function () {
                ComboBoxs.Default("#cboPurchaseUomId@(itemName)", "@Url.Action("GetUnitOfMeasure", "PdmBasicInformation")", { "UomId": $("#cboInventoryUomId@(itemName)").val(), "Status": "A"}, $("#cboInventoryUomId@(itemName)").val(), "NA", "", "UomWithNo", "UomId");
                ComboBoxs.Default("#cboSaleUomId@(itemName)", "@Url.Action("GetUnitOfMeasure", "PdmBasicInformation")", { "UomId": $("#cboInventoryUomId@(itemName)").val(), "Status": "A"}, $("#cboInventoryUomId@(itemName)").val(), "NA", "", "UomWithNo", "UomId");
            })
        });

        function Expand@(itemName)() {
            if (parseInt($("#ItemTypeId").val()) > 0) {
                $(".advanced-block").slideDown("slow");
                Return@(itemName)();
            } else {
                alert("編碼節段資料錯誤", "alert");
            }
        }

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            var ItemTypeDefaultId = $("#ItemTypeDefaultId").val();

            Switch("#editData@(itemName)", "#listData@(itemName)");

            ComboBoxs.WithText("#cboTypeOne@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "MtlItemType", "Condition": 1 }, "", "NA", "", "TypeName", "TypeNo");
            ComboBoxs.WithText("#cboTypeTwo@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "MtlItemType", "Condition": 2 }, "", "NA", "", "TypeName", "TypeNo");
            ComboBoxs.WithText("#cboTypeThree@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "MtlItemType", "Condition": 3 }, "", "NA", "", "TypeName", "TypeNo");
            ComboBoxs.WithText("#cboTypeFour@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "MtlItemType", "Condition": 4 }, "", "NA", "", "TypeName", "TypeNo");
            ComboBoxs.Default("#cboInventoryId@(itemName), #cboRequisitionInventoryId@(itemName)", "@Url.Action("GetInventory", "ScmBasicInformation")", {}, "", "NA", "", "InventoryWithNo", "InventoryId");
            ComboBoxs.Default("#cboInventoryUomId@(itemName)", "@Url.Action("GetUnitOfMeasure", "PdmBasicInformation")", { "Status": "A"}, "", "NA", "", "UomWithNo", "UomId");
            ComboBoxs.WithText("#cboItemAttribute@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "MtlItem.ItemAttribute" }, "", "NA", "", "TypeName", "TypeNo");

            //基本資料
            ComboBoxs.WithText("#cboMeasureType@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "MtlItem.MeasureType" }, "4", "NA", "", "TypeName", "TypeNo");
            ComboBoxs.Default("#cboPurchaseUomId@(itemName)", "@Url.Action("GetUnitOfMeasure", "PdmBasicInformation")", { "Status": "A"}, "2", "NA", "", "UomWithNo", "UomId");
            ComboBoxs.Default("#cboSaleUomId@(itemName)", "@Url.Action("GetUnitOfMeasure", "PdmBasicInformation")", { "Status": "A"}, "2", "NA", "", "UomWithNo", "UomId");
            ComboBoxs.WithText("#cboLotManagement@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "MtlItem.LotManagement" }, "N", "NA", "", "TypeName", "TypeNo");

            Suites.DatePicker("txtEffectiveDate@(itemName)", "");
            Suites.DatePicker("txtExpirationDate@(itemName)", "");
            if (ItemTypeDefaultId > 0) {
                let targetUrl = "@Url.Action("GetItemTypeDefault", "PdmBasicInformation")";
                let postData = {
                    "ItemTypeId": $("#ItemTypeId").val(),
                    "ItemTypeDefaultId": ItemTypeDefaultId
                };

                let data = DataAccess.Get(targetUrl, postData, false);
                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        $("#cboTypeOne@(itemName)").val(item.TypeOne);
                        $("#cboTypeTwo@(itemName)").val(item.TypeTwo);
                        $("#cboTypeThree@(itemName)").val(item.TypeThree);
                        $("#cboTypeFour@(itemName)").val(item.TypeFour);
                        $("#cboInventoryId@(itemName)").val(item.InventoryId);
                        $("#cboRequisitionInventoryId@(itemName)").val(item.RequisitionInventoryId);
                        $("#cboInventoryUomId@(itemName)").val(item.InventoryUomId);
                        $("#cboItemAttribute@(itemName)").val(item.ItemAttribute);
                        $("#cboMeasureType@(itemName)").val(item.MeasureType);
                        item.MeasureType == null ? $("#cboMeasureType@(itemName)").val(4) : $("#cboMeasureType@(itemName)").val(item.MeasureType);
                        item.PurchaseUomId == null ? $("#cboPurchaseUomId@(itemName)").val(2) : $("#cboPurchaseUomId@(itemName)").val(item.PurchaseUomId);
                        item.SaleUomId == null ? $("#cboSaleUomId@(itemName)").val(2) : $("#cboSaleUomId@(itemName)").val(item.SaleUomId);
                        item.LotManagement == null ? $("#cboLotManagement@(itemName)").val("N") : $("#cboLotManagement@(itemName)").val(item.LotManagement);
                       
                        if (item.InventoryManagement == "Y") {
                            $("#chkInventoryManagement@(itemName)Y").prop("checked", true);
                        }
                        else if (item.InventoryManagement == "N") {
                            $("#chkInventoryManagement@(itemName)N").prop("checked", true);
                        }
                        else {
                            $("#chkInventoryManagement@(itemName)Y").prop("checked", true);
                        }

                        if (item.MtlModify == "Y") {
                            $("#chkMtlModify@(itemName)Y").prop("checked", true);
                        }
                        else if (item.MtlModify == "N") {
                            $("#chkMtlModify@(itemName)N").prop("checked", true);
                        }
                        else {
                            $("#chkMtlModify@(itemName)N").prop("checked", true);
                        }

                        if (item.BondedStore == "Y") {
                            $("#chkBondedStore@(itemName)Y").prop("checked", true);
                        }
                        else if (item.BondedStore == "N") {
                            $("#chkBondedStore@(itemName)N").prop("checked", true);
                        }
                        else {
                            $("#chkBondedStore@(itemName)N").prop("checked", true);
                        }

                        if (item.OverReceiptManagement == "Y") {
                            $("#chkOverReceiptManagement@(itemName)Y").prop("checked", true);
                        }
                        else if (item.OverReceiptManagement == "N") {
                            $("#chkOverReceiptManagement@(itemName)N").prop("checked", true);
                        }
                        else {
                            $("#chkOverReceiptManagement@(itemName)N").prop("checked", true);
                        }

                        if (item.OverDeliveryManagement == "Y") {
                            $("#chkOverDeliveryManagement@(itemName)Y").prop("checked", true);
                        }
                        else if (item.OverDeliveryManagement == "N") {
                            $("#chkOverDeliveryManagement@(itemName)N").prop("checked", true);
                        }
                        else {
                            $("#chkOverDeliveryManagement@(itemName)Y").prop("checked", true);
                        }
                        if (item.EffectiveDate != "") {
                            Suites.SetDateDropper("#txtEffectiveDate@(itemName)", new Date(item.EffectiveDate));
                        }
                        if (item.ExpirationDate != "") {
                            Suites.SetDateDropper("#txtExpirationDate@(itemName)", new Date(item.ExpirationDate));
                        }
                        $("#txtMtlItemDesc@(itemName)").val(item.MtlItemDesc);
                        $("#txtMtlItemRemark@(itemName)").val(item.MtlItemRemark);
                    });
                } else {
                    alert(data.msg, "alert", 0);
                }
            }

            if (!isMobile) {
                $(`#cboTypeOne@(itemName), #cboTypeTwo@(itemName), #cboTypeThree@(itemName), #cboTypeFour@(itemName)
                , #cboInventoryId@(itemName), #cboRequisitionInventoryId@(itemName), #cboInventoryUomId@(itemName), #cboItemAttribute@(itemName)
                , #cboMeasureType@(itemName), #cboPurchaseUomId@(itemName)
                , #cboSaleUomId@(itemName), #cboLotManagement@(itemName)
                `).select2({
                    width: "100%"
                });
            }
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let ItemTypeDefaultId = parseInt($("#ItemTypeDefaultId").val());

                if (ItemTypeDefaultId <= 0) {
                    let targetUrl = "@Url.Action("AddItemTypeDefault", "PdmBasicInformation")";
                    let postData = {
                        "ItemTypeId": $("#ItemTypeId").val(),
                        "TypeOne": $("#cboTypeOne@(itemName)").val(),
                        "TypeTwo": $("#cboTypeTwo@(itemName)").val(),
                        "TypeThree": $("#cboTypeThree@(itemName)").val(),
                        "TypeFour": $("#cboTypeFour@(itemName)").val(),
                        "InventoryId": $("#cboInventoryId@(itemName)").val(),
                        "RequisitionInventoryId": $("#cboRequisitionInventoryId@(itemName)").val(),
                        "InventoryUomId": $("#cboInventoryUomId@(itemName)").val(),
                        "ItemAttribute": $("#cboItemAttribute@(itemName)").val(),
                        "MeasureType": $("#cboMeasureType@(itemName)").val(),
                        "PurchaseUomId": $("#cboPurchaseUomId@(itemName)").val(),
                        "SaleUomId": $("#cboSaleUomId@(itemName)").val(),
                        "LotManagement": $("#cboLotManagement@(itemName)").val(),
                        "InventoryManagement": $("input[name='chkInventoryManagement@(itemName)']:checked").val(),
                        "MtlModify": $("input[name='chkMtlModify@(itemName)']:checked").val(),
                        "BondedStore": $("input[name='chkBondedStore@(itemName)']:checked").val(),
                        "OverReceiptManagement": $("input[name='chkOverReceiptManagement@(itemName)']:checked").val(),
                        "OverDeliveryManagement": $("input[name='chkOverDeliveryManagement@(itemName)']:checked").val(),
                        "EffectiveDate": $("#txtEffectiveDate@(itemName)").val(),
                        "ExpirationDate": $("#txtExpirationDate@(itemName)").val(),
                        "MtlItemDesc": $("#txtMtlItemDesc@(itemName)").val(),
                        "MtlItemRemark": $("#txtMtlItemRemark@(itemName)").val()
                    };

                    let data = DataAccess.EditContinued(targetUrl, postData, false);

                    if (data) {
                        $.each(data.result, function (i, item) {
                            $("#ItemTypeDefaultId").val(item.ItemTypeDefaultId);
                        });
                        alert("新增成功", "success", 0);
                    }
                } else {
                    let targetUrl = "@Url.Action("UpdateItemTypeDefault", "PdmBasicInformation")";
                    let postData = {
                        "ItemTypeId": $("#ItemTypeId").val(),
                        "ItemTypeDefaultId": ItemTypeDefaultId,
                        "TypeOne": $("#cboTypeOne@(itemName)").val(),
                        "TypeTwo": $("#cboTypeTwo@(itemName)").val(),
                        "TypeThree": $("#cboTypeThree@(itemName)").val(),
                        "TypeFour": $("#cboTypeFour@(itemName)").val(),
                        "InventoryId": $("#cboInventoryId@(itemName)").val(),
                        "RequisitionInventoryId": $("#cboRequisitionInventoryId@(itemName)").val(),
                        "InventoryUomId": $("#cboInventoryUomId@(itemName)").val(),
                        "ItemAttribute": $("#cboItemAttribute@(itemName)").val(),
                        "MeasureType": $("#cboMeasureType@(itemName)").val(),
                        "PurchaseUomId": $("#cboPurchaseUomId@(itemName)").val(),
                        "SaleUomId": $("#cboSaleUomId@(itemName)").val(),
                        "LotManagement": $("#cboLotManagement@(itemName)").val(),
                        "InventoryManagement": $("input[name='chkInventoryManagement@(itemName)']:checked").val(),
                        "MtlModify": $("input[name='chkMtlModify@(itemName)']:checked").val(),
                        "BondedStore": $("input[name='chkBondedStore@(itemName)']:checked").val(),
                        "OverReceiptManagement": $("input[name='chkOverReceiptManagement@(itemName)']:checked").val(),
                        "OverDeliveryManagement": $("input[name='chkOverDeliveryManagement@(itemName)']:checked").val(),
                        "EffectiveDate": $("#txtEffectiveDate@(itemName)").val(),
                        "ExpirationDate": $("#txtExpirationDate@(itemName)").val(),
                        "MtlItemDesc": $("#txtMtlItemDesc@(itemName)").val(),
                        "MtlItemRemark": $("#txtMtlItemRemark@(itemName)").val()
                    };

                    let data = DataAccess.EditContinued(targetUrl, postData, false);

                    if (data) {
                        alert("更新成功", "success", 0);
                    }
                }
            }
        }

        function Delete@(itemName)(ItemTypeDefaultId) {
            swal.fire({
                title: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteItemTypeDefault", "PdmBasicInformation")";
                    let postData = {
                        "ItemTypeId": $("#ItemTypeId").val(),
                        "ItemTypeDefaultId": ItemTypeDefaultId
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function Clear@(itemName)() {
            ComboBoxs.WithText("#cboTypeOne@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "MtlItemType", "Condition": 1 }, "", "NA", "", "TypeName", "TypeNo");
            ComboBoxs.WithText("#cboTypeTwo@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "MtlItemType", "Condition": 2 }, "", "NA", "", "TypeName", "TypeNo");
            ComboBoxs.WithText("#cboTypeThree@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "MtlItemType", "Condition": 3 }, "", "NA", "", "TypeName", "TypeNo");
            ComboBoxs.WithText("#cboTypeFour@(itemName)", "@Url.Action("GetErpData", "BasicInformation")", { "ColumnName": "MtlItemType", "Condition": 4 }, "", "NA", "", "TypeName", "TypeNo");
            ComboBoxs.Default("#cboInventoryId@(itemName), #cboRequisitionInventoryId@(itemName)", "@Url.Action("GetInventory", "ScmBasicInformation")", {}, "", "NA", "", "InventoryWithNo", "InventoryId");
            ComboBoxs.Default("#cboInventoryUomId@(itemName)", "@Url.Action("GetUnitOfMeasure", "PdmBasicInformation")", { "Status": "A"}, "", "NA", "", "UomWithNo", "UomId");
            ComboBoxs.WithText("#cboItemAttribute@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "MtlItem.ItemAttribute" }, "", "NA", "", "TypeName", "TypeNo");

            //基本資料
            ComboBoxs.WithText("#cboMeasureType@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "MtlItem.MeasureType" }, "", "NA", "", "TypeName", "TypeNo");
            ComboBoxs.WithText("#cboLotManagement@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "MtlItem.LotManagement" }, "", "NA", "", "TypeName", "TypeNo");
            $("input[name='chkInventoryManagement@(itemName)']").prop("checked", false);
            $("input[name='chkMtlModify@(itemName)']").prop("checked", false);
            $("input[name='chkBondedStore@(itemName)']").prop("checked", false);
            $("input[name='chkOverReceiptManagement@(itemName)']").prop("checked", false);
            $("input[name='chkOverDeliveryManagement@(itemName)']").prop("checked", false);
            $("#txtEffectiveDate@(itemName)").val("")
            $("#txtExpirationDate@(itemName)").val("")
            $("#txtMtlItemDesc@(itemName)").val("")
            $("#txtMtlItemRemark@(itemName)").val("")
        }

        function Return@(itemName)() {
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName)", "#editData@(itemName)");
            Query@(itemName)();

        }
</script>
)