@using Business_Manager.Helpers
@{
    string itemName = "ItemTypeSegment";
    string itemNameText = "品號類別結構管理";
}

@Html.Resource("css",
    @<style>
        .inputStyle{
            border: 0;
            outline: 0;
            background-color: unset;
        }
    </style>
)

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="cboSegmentTypeQ@(itemName)">編碼類別</label>
                            <div class="col-12">
                                <select class="form-control" id="cboSegmentTypeQ@(itemName)" name="cboSegmentTypeQ@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">生效日<input type="checkbox" id="cbxEffectiveDateQ@(itemName)" /></label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtEffectiveDateQ@(itemName)" name="txtEffectiveDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">失效日<input type="checkbox" id="cbxInactiveDateQ@(itemName)" /></label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtInactiveDateQ@(itemName)" name="txtInactiveDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">狀態</label>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    啟用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)A" name="cbxStatusQ@(itemName)" value="A" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    停用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)S" name="cbxStatusQ@(itemName)" value="S" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);">
                        <i class="fal fa-search"></i>搜尋</a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn btn-info auth-detail" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>
                        <a class="btn btn-warning auth-detail" id="SortEdit" href="javascript:SortEdit@(itemName)();"><i class="far fa-sort-circle"></i>順序變更</a>
                        <a class="btn btn-danger auth-detail" id="SortSave" href="javascript:SortSave@(itemName)();"><i class="fas fa-cloud-upload"></i>順序儲存</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th scope="col" style="min-width: 200px;">排序值</th>
                                        <th scope="col" style="min-width: 200px;">編碼內容類別</th>
                                        <th scope="col" style="min-width: 200px;">編碼值</th>
                                        <th scope="col" style="min-width: 200px;">是否要加後綴碼</th>
                                        <th scope="col" style="min-width: 200px;">狀態</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container custom-form-container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="ItemTypeSegmentId" name="ItemTypeSegmentId" value="-1" />
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-2 col-form-label" for="cboSegmentType@(itemName)">編碼類別 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-10">
                                <select class="form-control" id="cboSegmentType@(itemName)" name="cboSegmentType@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row Fix">
                            <label class="col-12 col-md-3 col-lg-2 col-form-label" for="txtSegmentValueFix@(itemName)">固定值 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-10">
                                
                                <input type="text" class="form-control" id="txtSegmentValueFix@(itemName)" name="txtSegmentValueFix@(itemName)" placeholder="請輸入固定值" 
                                       data-msg-required="請輸入固定值" data-rule-required="true" onkeyup="this.value=Check(this.value.toUpperCase().replace(/[, ]/g,''))" 
                                       data-msg-maxlength="必須少於 200 個字元" maxlength="200" />
                            </div>
                        </div>
                        <div class="form-group row Date">
                            <label class="col-12 col-md-3 col-lg-2 col-form-label" for="cboSegmentValueDate@(itemName)">日期 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-10">
                                <select class="form-control" id="cboSegmentValueDate@(itemName)" name="cboSegmentValueDate@(itemName)" data-segmentvalue-date="Date"></select>
                            </div>
                        </div>
                        <div class="form-group row Sequence">
                            <label class="col-12 col-md-3 col-lg-2 col-form-label" for="txtSegmentValueSequence@(itemName)">流水號碼數 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-10">
                                <input type="number" class="form-control" id="txtSegmentValueSequence@(itemName)" name="txtSegmentValueSequence@(itemName)" placeholder="請輸入流水號碼數"
                                       data-msg-required="請輸入流水號碼數" data-rule-required="true" value=0
                                       data-msg-maxlength="必須少於 200 個字元" maxlength="200" />
                            </div>
                        </div>
                        <div class="form-group row SegmentValue">
                            <label class="col-12 col-md-3 col-lg-2 col-form-label" for="cboSegmentValueSegmentValue@(itemName)">編碼截斷值 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-10">
                                <select class="form-control" id="cboSegmentValueSegmentValue@(itemName)" name="cboSegmentValueSegmentValue@(itemName)"></select>
                            </div>
                        </div>
                        <div class="form-group row Custom">
                            <label class="col-12 col-md-3 col-lg-2 col-form-label" for="txtSegmentValueCustom@(itemName)">自訂義字元數 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-10">
                                <input type="number" class="form-control" id="txtSegmentValueCustom@(itemName)" name="txtSegmentValueCustom@(itemName)" placeholder="請輸入自訂義字元數"
                                       data-msg-required="請輸入自訂義字元數" data-rule-required="true" value=0
                                       data-msg-maxlength="必須少於 200 個字元" maxlength="200" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-2 col-form-label" for="cbxSuffixCode@(itemName)">是否要加後綴碼【-】<span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-10" style="display: flex;align-items: center;">
                                <input type="checkbox" id="cbxSuffixCode@(itemName)" name="cbxSuffixCode@(itemName)" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group row">
                                    <label class="col-12 col-md-3 col-lg-2 col-form-label" for="txtEffectiveDate@(itemName)">生效日</label>
                                    <div class="col-12 col-md-9 col-lg-4">
                                        <div class="btn-group" style="width:100%;">
                                            <input type="text" class="form-control" id="txtEffectiveDate@(itemName)" name="txtEffectiveDate@(itemName)"
                                                    data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))" />
                                            <a class="btn btn-outline-danger dateClear" href="javascript:void(0);"><i class="fas fa-eraser"></i></a>
                                        </div>
                                    </div>
                                    <label class="col-12 col-md-3 col-lg-2 col-form-label" for="txtInactiveDate@(itemName)">失效日</label>
                                    <div class="col-12 col-md-9 col-lg-4">
                                        <div class="btn-group" style="width:100%;">
                                            <input type="text" class="form-control" id="txtInactiveDate@(itemName)" name="txtInactiveDate@(itemName)"
                                                    data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))" />
                                            <a class="btn btn-outline-danger dateClear" href="javascript:void(0);"><i class="fas fa-eraser"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>



@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        $(document).ready(function () {
            //搜尋日期區間條件
            let currentDate = new Date();
            //單據日期

            //Suites.DateDropper("#txtEffectiveDateQ@(itemName),#txtInactiveDateQ@(itemName)");
            //Suites.SetDateDropper("#txtEffectiveDateQ@(itemName)", currentDate);
            //Suites.SetDateDropper("#txtInactiveDateQ@(itemName)", currentDate);
            Suites.DatePicker("txtEffectiveDateQ@(itemName)", currentDate);
            Suites.DatePicker("txtInactiveDateQ@(itemName)", currentDate);


            ComboBoxs.Default("#cboSegmentTypeQ@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "ItemTypeSegment.SegmentType" }, "", "NA", "", "TypeName", "TypeNo");

            $(".Fix").hide()
            $(".Date").hide()
            $(".Sequence").hide()
            $(".SegmentValue").hide()

            $("#cboSegmentType@(itemName)").change(function () {
                SegmentTypeChange()
            })

            $(".dateClear").on("click", function () {
                $(this).siblings("input").val("")
            })

            if (!isMobile) {
                $(`#cboSegmentTypeQ@(itemName)`).select2({
                    width: "100%"
                });
            }

        });

        function Expand@(itemName)() {
            if (parseInt($("#ItemTypeId").val()) > 0) {
                $(".advanced-block").slideDown("slow");
                Return@(itemName)();
                $("#SortSave").hide()

            } else {
                alert("編碼節段資料錯誤", "alert");
            }
        }

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let statusList = [];
            $.each($("input[name='cbxStatusQ@(itemName)']:checked"), function () {
                statusList.push($(this).val());
            });

            let targetUrl = "@Url.Action("GetItemTypeSegment", "PdmBasicInformation")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "ItemTypeId": $("#ItemTypeId").val(),
                "SegmentType": $("#cboSegmentTypeQ@(itemName)").val(),
                "StartDate": ($("#cbxEffectiveDateQ@(itemName)").is(":checked") ? $("#txtEffectiveDateQ@(itemName)").val() : ""),
                "EndDate": ($("#cbxInactiveDateQ@(itemName)").is(":checked") ? $("#txtInactiveDateQ@(itemName)").val() : ""),
                "Status": statusList.join(",")
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr>
                                        <td>${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.SortNumber}" style="max-width: 150px;"><input type="number" id="txtSortNumber@(itemName)${item.ItemTypeSegmentId}" class="inputStyle" name="SortNumber" value="${item.SortNumber}" data-itemtypesegment-id="${item.ItemTypeSegmentId}" style="width: 100%;" readonly /> </td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.SegmentType}" style="max-width: 150px;">${TypeName(`ItemTypeSegment.SegmentType`, item.SegmentType)}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.SegmentValue}" style="max-width: 150px;">${item.SegmentType == `SV` ? GetSegmentValueName(item.SegmentValue) : item.SegmentType == `D` ? StatusName(`ItemTypeSegment.SegmentValueDate`, item.SegmentValue) : item.SegmentValue }</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.SuffixCode == `Y` ? `要` : `不要`}" style="max-width: 150px;">${item.SuffixCode == `Y` ? `要` : `不要`}</td>
                                        <td class="text-center auth-status-switch">
                                          <input type="checkbox" name="chkStatus@(itemName)" data-itemtypesegment-id="${item.ItemTypeSegmentId}" ${item.Status == `A` ? `checked` : ``} />
                                        </td>
                                        <td class="text-center un-auth auth-status-switch">${StatusName(`Status`, item.Status)}</td>
                                        <td class="text-center active-content">
                                          <a class="active-link auth-update" href="javascript:Edit@(itemName)(${item.ItemTypeSegmentId});"><i class="fas fa-edit"></i></a>
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="8" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

            $("input[name='chkStatus@(itemName)']").bootstrapToggle({
                on: "啟用",
                off: "停用",
                onstyle: "success",
                offstyle: "danger",
                size: "mini"
            });

            $("input[name='chkStatus@(itemName)'][data-itemtypesegment-id]").change(StatusSwitch@(itemName));
        }

        function Edit@(itemName)(ItemTypeSegmentId) {
            $("#ItemTypeSegmentId").val(ItemTypeSegmentId ? ItemTypeSegmentId : 0);

            Switch("#editData@(itemName)", "#listData@(itemName)");

            //日期欄位 Suites.DateDropper(功能開啟) Suites.SetDateDropper(日期設置)
            //Suites.DateDropper("#txtEffectiveDate@(itemName), #txtInactiveDate@(itemName)");
            Suites.DatePicker("txtEffectiveDate@(itemName)", "");
            Suites.DatePicker("txtInactiveDate@(itemName)", "");
            //開單日預設今日
            let currentDate = new Date();
            //Suites.SetDateDropper("#txtEffectiveDate@(itemName), #txtInactiveDate@(itemName)", currentDate);

            ComboBoxs.Default("#cboSegmentType@(itemName)", "@Url.Action("GetType", "BasicInformation")", { "TypeSchema": "ItemTypeSegment.SegmentType" }, "", "NA", "", "TypeName", "TypeNo");
            ComboBoxs.Default("#cboSegmentValueSegmentValue@(itemName)", "@Url.Action("GetItemSegmentSimple", "PdmBasicInformation")", { "Today": getNowFormatDate()}, "", "NA", "", "SegmentShow", "ItemSegmentId");
            ComboBoxs.Default("#cboSegmentValueDate@(itemName)", "@Url.Action("GetStatus", "BasicInformation")", { "StatusSchema": "ItemTypeSegment.SegmentValueDate" }, "", "NA", "", "StatusName", "StatusNo");

            $("#cboSegmentType@(itemName)").attr("disabled", false);

            $(".Fix").hide()
            $(".Date").hide()
            $(".Sequence").hide()
            $(".SegmentValue").hide()
            $(".custom").hide()
            $("#SortEdit").show()
            $("#SortSave").hide()
            if (ItemTypeSegmentId > 0) {
                let targetUrl = "@Url.Action("GetItemTypeSegment", "PdmBasicInformation")";
                let postData = {
                    "ItemTypeId": $("#ItemTypeId").val(),
                    "ItemTypeSegmentId": ItemTypeSegmentId
                };

                let data = DataAccess.Get(targetUrl, postData, false);
                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        $("#cboSegmentType@(itemName)").attr("disabled", true);

                        $("#cboSegmentType@(itemName)").val(item.SegmentType);
                        SegmentTypeChange()

                        if (item.SegmentType == "F") {
                            $("#txtSegmentValueFix@(itemName)").val(item.SegmentValue)
                        }
                        else if (item.SegmentType == "D") {
                            $("#cboSegmentValueDate@(itemName)").val(item.SegmentValue)
                        }
                        else if (item.SegmentType == "S") {
                            $("#txtSegmentValueSequence@(itemName)").val(item.SegmentValue)
                        }
                        else if (item.SegmentType == "SV") {
                            $("#cboSegmentValueSegmentValue@(itemName)").val(item.SegmentValue)
                        }
                        else if (item.SegmentType == "C") {
                            $("#txtSegmentValueCustom@(itemName)").val(item.SegmentValue)
                        }

                        if (item.SuffixCode == "Y") {
                            $("#cbxSuffixCode@(itemName)").attr("checked", true);
                        } else {
                            $("#cbxSuffixCode@(itemName)").attr("checked", false);
                        };

                        if (item.EffectiveDate != "") {
                            Suites.SetDateDropper("#txtEffectiveDate@(itemName)", new Date(item.EffectiveDate));
                        }
                        if (item.InactiveDate != "") {
                            Suites.SetDateDropper("#txtInactiveDate@(itemName)", new Date(item.InactiveDate));
                        }
                    });
                } else {
                    alert(data.msg, "alert", 0);
                }
            }

            if (!isMobile) {
                $(`#cboSegmentType@(itemName), #cboSegmentValueSegmentValue@(itemName), #cboSegmentValueDate@(itemName)`).select2({
                    width: "100%"
                });
            }
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let ItemTypeSegmentId = parseInt($("#ItemTypeSegmentId").val());

                var SegmentType = $("#cboSegmentType@(itemName)").val();
                var SegmentValue = "";
                if (SegmentType == "F") {
                    SegmentValue = $("#txtSegmentValueFix@(itemName)").val()
                }
                else if (SegmentType == "D") {
                    SegmentValue = $("#cboSegmentValueDate@(itemName)").val()
                }
                else if (SegmentType == "S") {
                    SegmentValue = $("#txtSegmentValueSequence@(itemName)").val()
                }
                else if (SegmentType == "SV") {
                    SegmentValue = $("#cboSegmentValueSegmentValue@(itemName)").val()
                }
               else if (SegmentType == "C") {
                    SegmentValue = $("#txtSegmentValueCustom@(itemName)").val()
                }
                else {
                    alert("請選擇編碼內容類別")
                    return
                }

                if (ItemTypeSegmentId <= 0) {
                    let targetUrl = "@Url.Action("AddItemTypeSegment", "PdmBasicInformation")";
                    let postData = {
                        "ItemTypeId": $("#ItemTypeId").val(),
                        "SegmentType": SegmentType,
                        "SegmentValue": SegmentValue,
                        "SuffixCode": $("#cbxSuffixCode@(itemName)").is(":checked") ? "Y" : "N",
                        "EffectiveDate": $("#txtEffectiveDate@(itemName)").val(),
                        "InactiveDate": $("#txtInactiveDate@(itemName)").val()
                    };

                    let result = DataAccess.Add(targetUrl, postData, false, true);

                    if (result) {
                        Return@(itemName)();
                    }
                } else {
                    let targetUrl = "@Url.Action("UpdateItemTypeSegment", "PdmBasicInformation")";
                    let postData = {
                        "ItemTypeId": $("#ItemTypeId").val(),
                        "ItemTypeSegmentId": $("#ItemTypeSegmentId").val(),
                        "SegmentType": SegmentType,
                        "SegmentValue": SegmentValue,
                        "SuffixCode": $("#cbxSuffixCode@(itemName)").is(":checked") ? "Y" : "N",
                        "EffectiveDate": $("#txtEffectiveDate@(itemName)").val(),
                        "InactiveDate": $("#txtInactiveDate@(itemName)").val()
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Return@(itemName)();
                    }
                }
            }
        }

        function StatusSwitch@(itemName)() {
            var ItemTypeSegmentId = $(this).data("itemtypesegment-id");

            let targetUrl = "@Url.Action("UpdateItemTypeSegmentIdStatus", "PdmBasicInformation")";
            let postData = {
                "ItemTypeId": $("#ItemTypeId").val(),
                "ItemTypeSegmentId": ItemTypeSegmentId
            };

            let result = DataAccess.Update(targetUrl, postData, false, true);

            if (result) {
                Return@(itemName)();
            }
        }


        function GetSegmentValueName(SegmentValue) {
            var SegmentName = "";

            let targetUrl = "@Url.Action("GetItemSegment", "PdmBasicInformation")";
            let postData = {
                "ItemSegmentId": SegmentValue
            };
            let data = DataAccess.Get(targetUrl, postData, false);
            if (data.status == "success") {
            $.each(data.result, function (i, item) {
                SegmentName = item.SegmentName
                        
                });
            } else {
                alert(data.msg, "alert", 0);
            }
            return SegmentName
        }

        function SegmentTypeChange() {
            if ($("#cboSegmentType@(itemName)").val() == "F") {
                $(".Fix").show()
                $(".Date").hide()
                $(".Sequence").hide()
                $(".SegmentValue").hide()
                $(".Custom").hide()
            }
            else if ($("#cboSegmentType@(itemName)").val() == "D") {
                $(".Fix").hide()
                $(".Date").show()
                $(".Sequence").hide()
                $(".SegmentValue").hide()
                $(".Custom").hide()
            }
            else if ($("#cboSegmentType@(itemName)").val() == "S") {
                $(".Fix").hide()
                $(".Date").hide()
                $(".Sequence").show()
                $(".SegmentValue").hide()
                $(".Custom").hide()
            }
            else if ($("#cboSegmentType@(itemName)").val() == "SV") {
                $(".Fix").hide()
                $(".Date").hide()
                $(".Sequence").hide()
                $(".SegmentValue").show()
                $(".Custom").hide()
            }
            else if ($("#cboSegmentType@(itemName)").val() == "C") {
                $(".Fix").hide()
                $(".Date").hide()
                $(".Sequence").hide()
                $(".SegmentValue").hide()
                $(".Custom").show()
            }
            else {
                $(".Fix").hide()
                $(".Date").hide()
                $(".Sequence").hide()
                $(".SegmentValue").hide()
                $(".Custom").hide()
            }
        }

        

        function Delete@(itemName)(ItemTypeSegmentId) {
            swal.fire({
                title: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteItemTypeSegment", "PdmBasicInformation")";
                    let postData = {
                        "ItemTypeId": $("#ItemTypeId").val(),
                        "ItemTypeSegmentId": ItemTypeSegmentId
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function SortEdit@(itemName)() {
            $.each($("input[name='SortNumber']"), function () {
                $(this).removeClass("inputStyle")
                $(this).attr("readonly", false);

            });
            $("#SortEdit").hide()
            $("#SortSave").show()
        }

        function SortSave@(itemName)() {
            var ItemTypeSegmentIdList = []
            var SortList = []
            var success ="Y"
            $.each($("input[name='SortNumber']"), function () {
                
                var ItemTypeSegmentId = $(this).data("itemtypesegment-id")
                var ItemTypeSegmentSort = $(this).val()
                SortList.push($(this).val())
                if (ItemTypeSegmentSort <= 0) {
                    alert("順序不可小於等於0")
                    success = "N"
                    return
                }
                ItemTypeSegmentIdList.push(`${ItemTypeSegmentId}❤${ItemTypeSegmentSort}`);
            });
            for (var i = 1; i <= ItemTypeSegmentIdList.length; i++) {
                console.log(i)
                if (SortList.indexOf(i.toString()) == -1) {
                    alert("順序編輯有問題請重新確認!!!!")
                    success="N"
                    return
                }
            }
            if (success == "Y") {
                $.each($("input[name='SortNumber']"), function () {
                    $(this).addClass("inputStyle");
                    $(this).attr("readonly", true);
                })


                let targetUrl = "@Url.Action("UpdateItemTypeSegmentSort", "PdmBasicInformation")";
                let postData = {
                    "ItemTypeSegmentIdList": ItemTypeSegmentIdList.join(','),
                };

                let result = DataAccess.Update(targetUrl, postData, false, true);

                if (result) {
                    Return@(itemName)();
                }

                Query@(itemName)();
                $("#SortEdit").show()
                $("#SortSave").hide()

            }
        }

        function getNowFormatDate() {
            var date = new Date();
            var seperator1 = "-";
            var year = date.getFullYear();
            var month = date.getMonth() + 1;
            var strDate = date.getDate();
            if (month >= 1 && month <= 9) {
                month = "0" + month;
            }
            if (strDate >= 0 && strDate <= 9) {
                strDate = "0" + strDate;
            }
            var currentdate = year + seperator1 + month + seperator1 + strDate;
            return currentdate;
        }

        function Check(str) {
            var temp = "";
            for (var i = 0; i < str.length; i++) {
                if (str.charCodeAt(i) > 0 && str.charCodeAt(i) < 255) {
                    temp += str.charAt(i)
                }
            }
            return temp
        }

        function Return@(itemName)() {
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName)", "#editData@(itemName)");
            Query@(itemName)();
        }
    </script>
)