@using Business_Manager.Helpers
@{
    string itemName = "ItemSegmentManagment";
    string itemNameText = "編碼節段管理";
    string authority = ViewBag.authority;
    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
    </style>
                                )

<input type="hidden" id="pageAuthority" value="@authority" />


<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtSegmentNoQ@(itemName)">編碼節段代碼</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtSegmentNoQ@(itemName)" name="txtSegmentNoQ@(itemName)" placeholder="請輸入編碼節段代碼" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtSegmentNameQ@(itemName)">編碼節段名稱</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtSegmentNameQ@(itemName)" name="txtSegmentNameQ@(itemName)" placeholder="請輸入編碼節段名稱" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">生效日<input type="checkbox" id="cbxEffectiveDateQ@(itemName)" /></label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtEffectiveDateQ@(itemName)" name="txtEffectiveDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">失效日<input type="checkbox" id="cbxInactiveDateQ@(itemName)" /></label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtInactiveDateQ@(itemName)" name="txtInactiveDateQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                       readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label">狀態</label>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    啟用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)A" name="cbxStatusQ@(itemName)" value="A" checked />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                            <div class="col-lg-3 col-md-4 col-6">
                                <label class="control control-solid control-solid-info control--checkbox">
                                    停用
                                    <input type="checkbox" id="cbxStatusQ@(itemName)S" name="cbxStatusQ@(itemName)" value="S" />
                                    <span class="control__indicator"></span>
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);">
                            <i class="fal fa-search"></i>搜尋
                        </a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn btn-info auth-add" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th scope="col" style="min-width: 150px;">編碼節段代碼</th>
                                        <th scope="col" style="min-width: 200px;">編碼節段名稱</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">狀態</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container custom-form-container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="ItemSegmentId" name="ItemSegmentId" value="-1" />
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-2 col-form-label" for="txtSegmentNo@(itemName)">編碼節段代碼 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-10">
                                <input type="text" class="form-control" id="txtSegmentNo@(itemName)" name="txtSegmentNo@(itemName)" placeholder="請輸入編碼節段代碼"
                                       data-msg-required="請輸入編碼節段代碼" data-rule-required="true"
                                       data-msg-maxlength="必須少於 30 個字元" maxlength="30" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-2 col-form-label" for="txtSegmentName@(itemName)">編碼節段名稱 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-10">
                                <input type="text" class="form-control" id="txtSegmentName@(itemName)" name="txtSegmentName@(itemName)" placeholder="請輸入編碼節段名稱"
                                       data-msg-required="請輸入編碼節段名稱" data-rule-required="true"
                                       data-msg-maxlength="必須少於 60 個字元" maxlength="60" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-2 col-form-label" for="txtSegmentDesc@(itemName)">編碼節段說明 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-10">
                                <input type="text" class="form-control" id="txtSegmentDesc@(itemName)" name="txtDeviceDesc@(itemName)" placeholder="請輸入編碼節段說明"
                                       data-msg-required="請輸入編碼節段說明" data-rule-required="true"
                                       data-msg-maxlength="必須少於 200 個字元" maxlength="200" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group row">
                                    <label class="col-12 col-md-3 col-lg-2 col-form-label" for="txtEffectiveDate@(itemName)">生效日</label>
                                    <div class="col-12 col-md-9 col-lg-4">
                                        <div class="btn-group" style="width:100%;">
                                            <input type="text" class="form-control" id="txtEffectiveDate@(itemName)" name="txtEffectiveDate@(itemName)"
                                                   data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))" />
                                            <a class="btn btn-outline-danger dateClear" href="javascript:void(0);"><i class="fas fa-eraser"></i></a>
                                        </div>
                                    </div>
                                    <label class="col-12 col-md-3 col-lg-2 col-form-label" for="txtInactiveDate@(itemName)">失效日</label>
                                    <div class="col-12 col-md-9 col-lg-4">
                                        <div class="btn-group" style="width:100%;">
                                            <input type="text" class="form-control" id="txtInactiveDate@(itemName)" name="txtInactiveDate@(itemName)"
                                                   data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))" />
                                            <a class="btn btn-outline-danger dateClear" href="javascript:void(0);"><i class="fas fa-eraser"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

<div class="advanced-block">
    <div class="row">
        <div class="col-12">
            <ul class="nav flag-tabs nav-fill" role="tablist">
                <li class="flag-item">
                    <a class="flag-link active" data-toggle="tab" href="#tabItemSegmentValue">
                        <i class="fas fa-computer-classic"></i> 節段代碼值管理
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="tab-content">
        <div class="tab-pane active" id="tabItemSegmentValue">
            @Html.Partial("ItemSegmentValue")
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        $(document).ready(function () {
            //搜尋日期區間條件
            let currentDate = new Date();
            //單據日期
            //Suites.DateDropper("#txtEffectiveDateQ@(itemName),#txtInactiveDateQ@(itemName)");
            //Suites.SetDateDropper("#txtEffectiveDateQ@(itemName)", currentDate);
            //Suites.SetDateDropper("#txtInactiveDateQ@(itemName)", currentDate);
            Suites.DatePicker("txtEffectiveDateQ@(itemName)", currentDate);
            Suites.DatePicker("txtInactiveDateQ@(itemName)", currentDate);


            $(".dateClear").on("click", function () {
                $(this).siblings("input").val("")
            })

            Query@(itemName)();
        });

        function Query@(itemName)() {
            //objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let statusList = [];
            $.each($("input[name='cbxStatusQ@(itemName)']:checked"), function () {
                statusList.push($(this).val());
            });

            let targetUrl = "@Url.Action("GetItemSegment", "PdmBasicInformation")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "SegmentNo": $("#txtSegmentNoQ@(itemName)").val().trim(),
                "SegmentName": $("#txtSegmentNameQ@(itemName)").val().trim(),
                "StartDate": ($("#cbxEffectiveDateQ@(itemName)").is(":checked") ? $("#txtEffectiveDateQ@(itemName)").val() : ""),
                "EndDate": ($("#cbxInactiveDateQ@(itemName)").is(":checked") ? $("#txtInactiveDateQ@(itemName)").val() : ""),
                "Status": statusList.join(",")
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr>
                                        <td>${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.SegmentNo}" style="max-width: 200px;">${item.SegmentNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.SegmentName}" style="max-width: 200px;">${item.SegmentName}</td>
                                        <td class="text-center auth-status-switch">
                                          <input type="checkbox" name="chkStatus@(itemName)" data-itemsegment-id="${item.ItemSegmentId}" ${item.Status == `A` ? `checked` : ``} />
                                        </td>
                                        <td class="text-center un-auth auth-status-switch">${StatusName(`Status`, item.Status)}</td>
                                        <td class="text-center active-content">
                                          <a class="active-link auth-update" href="javascript:Edit@(itemName)(${item.ItemSegmentId});"><i class="fas fa-edit"></i></a>
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="5" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

            $("input[name='chkStatus@(itemName)']").bootstrapToggle({
                on: "啟用",
                off: "停用",
                onstyle: "success",
                offstyle: "danger",
                size: "mini"
            });

            $("input[name='chkStatus@(itemName)'][data-itemsegment-id]").change(StatusSwitch@(itemName));
        }

        function Edit@(itemName)(ItemSegmentId) {
            $("#ItemSegmentId").val(ItemSegmentId ? ItemSegmentId : 0);

            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");

            $("#txtSegmentNo@(itemName)").attr("readonly", false);


            //日期欄位 Suites.DateDropper(功能開啟) Suites.SetDateDropper(日期設置)
            //Suites.DateDropper("#txtEffectiveDate@(itemName), #txtInactiveDate@(itemName)");
            Suites.DatePicker("txtEffectiveDate@(itemName)", "");
            Suites.DatePicker("txtInactiveDate@(itemName)", "");
            //開單日預設今日
            let currentDate = new Date();
            //Suites.SetDateDropper("#txtEffectiveDate@(itemName), #txtInactiveDate@(itemName)", currentDate);

            if (ItemSegmentId > 0) {
                let targetUrl = "@Url.Action("GetItemSegment", "PdmBasicInformation")";
                let postData = {
                    "ItemSegmentId": ItemSegmentId
                };

                let data = DataAccess.Get(targetUrl, postData, false);
                    
                $("#txtSegmentNo@(itemName)").attr("readonly", true);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        $("#txtSegmentNo@(itemName)").val(item.SegmentNo);
                        $("#txtSegmentName@(itemName)").val(item.SegmentName);
                        $("#txtSegmentDesc@(itemName)").val(item.SegmentDesc);

                        if (item.EffectiveDate != "") {
                            Suites.SetDateDropper("#txtEffectiveDate@(itemName)", new Date(item.EffectiveDate));
                        }
                        if (item.InactiveDate != "") {
                            Suites.SetDateDropper("#txtInactiveDate@(itemName)", new Date(item.InactiveDate));
                        }

                    });

                    ExpandItemSegmentValue();
                } else {
                    alert(data.msg, "alert", 0);
                }
            }
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let ItemSegmentId = parseInt($("#ItemSegmentId").val());

                if (ItemSegmentId <= 0) {
                    let targetUrl = "@Url.Action("AddItemSegment", "PdmBasicInformation")";
                    let postData = {
                        "SegmentNo": $("#txtSegmentNo@(itemName)").val(),
                        "SegmentName": $("#txtSegmentName@(itemName)").val(),
                        "SegmentDesc": $("#txtSegmentDesc@(itemName)").val(),
                        "EffectiveDate": $("#txtEffectiveDate@(itemName)").val(),
                        "InactiveDate": $("#txtInactiveDate@(itemName)").val(),
                    };

                    let data = DataAccess.EditContinued(targetUrl, postData, false);

                    if (data) {
                        $.each(data.result, function (i, item) {
                            $("#ItemSegmentId").val(item.ItemSegmentId);
                        });
                        ExpandItemSegmentValue();
                    }
                } else {
                    let targetUrl = "@Url.Action("UpdateItemSegment", "PdmBasicInformation")";
                    let postData = {
                        "ItemSegmentId": ItemSegmentId,
                        "SegmentName": $("#txtSegmentName@(itemName)").val(),
                        "SegmentDesc": $("#txtSegmentDesc@(itemName)").val(),
                        "EffectiveDate": $("#txtEffectiveDate@(itemName)").val(),
                        "InactiveDate": $("#txtInactiveDate@(itemName)").val()
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Return@(itemName)();
                    }
                }
            }
        }

        function Delete@(itemName)(ItemSegmentId) {
            swal.fire({
                titleText: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteItemSegment", "PdmBasicInformation")";
                    let postData = {
                        "ItemSegmentId": ItemSegmentId,
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function StatusSwitch@(itemName)() {
            var ItemSegmentId = $(this).data("itemsegment-id");

            let targetUrl = "@Url.Action("UpdateItemSegmentIdStatus", "PdmBasicInformation")";
            let postData = {
                "ItemSegmentId": ItemSegmentId
            };

            let result = DataAccess.Update(targetUrl, postData, false, true);

            if (result) {
                Return@(itemName)();
            }
        }

        function Return@(itemName)() {
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName)", "#editData@(itemName), .unit-block, .advanced-block");
            Query@(itemName)();
        }

    </script>
        )