@using Business_Manager.Helpers
@{
    string itemName = "MoldingConditions";
    string itemNameText = "成型產品生產條件";
    string authority = ViewBag.authority;
    ViewBag.Title = itemNameText;
}

@Html.Resource("css",
    @<style>
    </style>
                        )

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtMtlItemNoQ@(itemName)">品號</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMtlItemNoQ@(itemName)" name="txtMtlItemNoQ@(itemName)" placeholder="請輸入設備名稱" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtMtlItemNameQ@(itemName)">品名</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMtlItemNameQ@(itemName)" name="txtMtlItemNameQ@(itemName)" placeholder="請輸入設備名稱" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="-@(itemName)">材料</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtMaterialQ@(itemName)" name="txtMaterialQ@(itemName)" placeholder="請輸入設備名稱" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalExcel@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryExcel@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtStartDayQ@(itemName)" name="txtStartDayQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                        />
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtEndDayQ@(itemName)" name="txtEndDayQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))"
                                        />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="GetExcel@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalTempExcel@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryExcel@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtTempStartDayQ@(itemName)" name="txtTempStartDayQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))" />
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtTempEndDayQ@(itemName)" name="txtTempEndDayQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="GetTempExcel@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalTempReturnExcel@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryExcel@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtTempReturnStartDayQ@(itemName)" name="txtTempReturnStartDayQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))" />
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtTempReturnEndDayQ@(itemName)" name="txtTempReturnEndDayQ@(itemName)"
                                       data-msg-extraRegex="請輸入正確的日期格式" data-rule-extraRegex="([12]\d{3}\-(0[1-9]|1[0-2])\-(0[1-9]|[12]\d|3[01]))" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="GetTempReturnExcel@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>


<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);">
                            <i class="fal fa-search"></i>搜尋
                        </a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn btn-info auth-add" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>
                        <a class="btn btn-info auth-purchase-price" href="javascript:UpdateUnitPrice@(itemName)();"><i class="fas fa-plus"></i>更新採購單價</a>
                        <a class="btn btn-danger auth-add" href="javascript:PopViewModalImportExcel@(itemName)();"><i class="fas fa-file-excel"></i>匯入EXCEL</a>
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalExcel@(itemName)" href="javascript:void(0);">
                            <i class="fal fa-search"></i>ERP生產入庫明細表
                        </a>
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalTempExcel@(itemName)" href="javascript:void(0);">
                            <i class="fal fa-search"></i>ERP暫出入單明細表
                        </a>
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalTempReturnExcel@(itemName)" href="javascript:void(0);">
                            <i class="fal fa-search"></i>ERP暫出歸還單明細表
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th scope="col" style="min-width: 300px;">主件品號</th>
                                        <th scope="col" style="min-width: 300px;">元件品號/材料品號</th>
                                        <th scope="col" style="min-width: 200px;">材料別稱</th>
                                        <th scope="col" style="min-width: 100px;">材料單價</th>
                                        <th scope="col" style="min-width: 100px;">週期</th>
                                        <th scope="col" style="min-width: 100px;">模重</th>
                                        <th scope="col" style="min-width: 100px;">穴數</th>
                                        <th scope="col" style="min-width: 100px;">理論生產數</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container custom-form-container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="McId" name="McId" value="-1" />
                        <div class="form-group row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group row">
                                    <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtMtlItemId@(itemName)">ERP品號</label>
                                    <div class="col-12 col-md-9 col-lg-9">
                                        <input type="hidden" id="txtMtlItemId@(itemName)" />
                                        <div class="btn-group choose-mtlItem">
                                            <a class="btn btn-success pop-view" href="javascript:PopMtlItemView();"><i class="fal fa-search"></i></a>
                                            <a class="btn btn-outline-danger pop-clear" href="javascript:ClearMtlItem();"><i class="fas fa-eraser"></i></a>
                                        </div>
                                        <dl class="help-block">
                                            <dt>品號</dt>
                                            <dd id="desMtlItemNo@(itemName)"></dd>
                                            <dt>品名</dt>
                                            <dd id="desMtlItemName@(itemName)"></dd>
                                            <dt>規格</dt>
                                            <dd id="desMtlItemSpec@(itemName)"></dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtMaterial@(itemName)">材料 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtMaterial@(itemName)" name="txtMaterial@(itemName)" placeholder="請輸入材料"
                                       data-msg-required="請輸入材料" data-rule-required="true"
                                       data-msg-maxlength="必須少於 100 個字元" maxlength="100" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtCycleTime@(itemName)">週期 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="number" class="form-control" id="txtCycleTime@(itemName)" name="txtCycleTime@(itemName)" placeholder="請輸入週期"
                                       data-msg-required="請輸入週期" data-rule-required="true" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtMoldWeight@(itemName)">模重 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="number" class="form-control" id="txtMoldWeight@(itemName)" name="txtMoldWeight@(itemName)" placeholder="請輸入模重"
                                       data-msg-required="請輸入模重" data-rule-required="true" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtCavity@(itemName)">穴數 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="number" class="form-control" id="txtCavity@(itemName)" name="txtCavity@(itemName)" placeholder="請輸入穴數"
                                       data-msg-required="請輸入穴數" data-rule-required="true" />
                            </div>
                        </div> 
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtProcessingFee@(itemName)">加工費</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="number" class="form-control" id="txtProcessingFee@(itemName)" name="txtProcessingFee@(itemName)" placeholder="請輸入加工費" readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtUnitPrice@(itemName)">採購單價</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="number" class="form-control" id="txtUnitPrice@(itemName)" name="txtUnitPrice@(itemName)" placeholder="請輸入採購單價" readonly />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtTheoreticalQty@(itemName)">理論生產數</label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="number" class="form-control" id="txtTheoreticalQty@(itemName)" name="txtTheoreticalQty@(itemName)" placeholder="請輸入理論生產數" readonly />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" id="SaveButton" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

<!--匯入EXCEL-->
<div class="modal fade" id="modalImportExcel@(itemName)" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title expand-modal-title">匯入EXCEL</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form autocomplete="off" id="importForm@(itemName)">
                    <div class="expand-container bom-expand">
                        <div class="form-item">
                            <label>上傳EXCEL檔案</label>
                            <input type="file" accept=".xlsx" id="fileExcelFile@(itemName)" name="fileExcelFile@(itemName)" multiple />
                            <input type="hidden" id="txtExcelFile@(itemName)" name="txtExcelFile@(itemName)" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a class="btn btn-success" style="font-weight: 600;" href="javascript: ImportExcel@(itemName)();"><i class="fas fa-save"></i> 批次新增量測單據</a>
            </div>
        </div>
    </div>
</div>



@Html.Partial("ViewMtlItem")


@Html.Resource("js",
    @<script>
        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        $(document).ready(function () {

            let currentDate = new Date();

            Suites.DatePicker("txtStartDayQ@(itemName)", currentDate);
            Suites.DatePicker("txtEndDayQ@(itemName)", currentDate);

            Suites.DatePicker("txtTempStartDayQ@(itemName)", currentDate);
            Suites.DatePicker("txtTempEndDayQ@(itemName)", currentDate);

            Suites.DatePicker("txtTempReturnStartDayQ@(itemName)", currentDate);
            Suites.DatePicker("txtTempReturnEndDayQ@(itemName)", currentDate);

            Query@(itemName)();

        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let statusList = [];
            $.each($("input[name='cbxStatusQ@(itemName)']:checked"), function () {
                statusList.push($(this).val());
            });

            let targetUrl = "@Url.Action("GetMoldingConditions", "PdmBasicInformation")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "MtlItemNo": $("#txtMtlItemNoQ@(itemName)").val(),
                "MtlItemName": $("#txtMtlItemNameQ@(itemName)").val(),
                "Material": $("#txtMaterialQ@(itemName)").val()
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr>
                                        <td>${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MtlItemNo}" style="max-width: 200px;">品號:${item.MtlItemNo}<br>品名:${item.MtlItemName}<br>規格:${item.MtlItemSpec}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MtlItemNo}" style="max-width: 200px;">品號:${item.CellMtlItemNo}<br>品名:${item.CellMtlItemName}<br>規格:${item.CellMtlItemSpec}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Material}" style="max-width: 200px;">${item.Material}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.UnitPrice}" style="max-width: 200px;">${item.UnitPrice}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.CycleTime}" style="max-width: 200px;">${item.CycleTime}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MoldWeight}" style="max-width: 200px;">${item.MoldWeight}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Cavity}" style="max-width: 200px;">${item.Cavity}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.TheoreticalQty}" style="max-width: 200px;">${item.TheoreticalQty}</td>
                                        <td class="text-center active-content">
                                          <a class="active-link auth-update" href="javascript:Edit@(itemName)(${item.McId});"><i class="fas fa-edit"></i><span>修改資料</span></a>
                                          <a class="active-link auth-purchase-price" href="javascript:Edit@(itemName)(${item.McId},'purchase');"><i class="fas fa-edit"></i><span>修改單價</span></a>
                                          <a class="active-link auth-delete" href="javascript:Delete@(itemName)(${item.McId});"><i class="fas fa-trash-alt"></i><span>刪除</span></a>
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="10" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));


        }

        function Edit@(itemName)(McId,Type) {
            $("#McId").val(McId ? McId : 0);
            $("#txtMtlItemId@(itemName)").siblings().find(".pop-clear").trigger("click")

            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");



            if (McId > 0) {
                if (Type == "purchase") {
                    $("#txtMaterial@(itemName)").attr("readonly", true);
                    $("#txtCycleTime@(itemName)").attr("readonly", true);
                    $("#txtMoldWeight@(itemName)").attr("readonly", true);
                    $("#txtCavity@(itemName)").attr("readonly", true);
                    $("#txtUnitPrice@(itemName)").attr("readonly", false);
                    $("#SaveButton").attr("onclick", `UpdateUnitPrice@(itemName)()`);
                }
                else {
                    $("#txtMaterial@(itemName)").attr("readonly", false);
                    $("#txtCycleTime@(itemName)").attr("readonly", false);
                    $("#txtMoldWeight@(itemName)").attr("readonly", false);
                    $("#txtCavity@(itemName)").attr("readonly", false);
                    $("#txtUnitPrice@(itemName)").attr("readonly", true);
                    $("#SaveButton").attr("onclick", `Save@(itemName)()`);
                }
                let targetUrl = "@Url.Action("GetMoldingConditions", "PdmBasicInformation")";
                let postData = {
                    "McId": McId
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        if (item.MtlItemId > 0) {
                            $("#txtMtlItemId@(itemName)").siblings(".help-block").show();
                            $("#desMtlItemNo@(itemName)").html(item.MtlItemNo);
                            $("#desMtlItemName@(itemName)").html(item.MtlItemName);
                            $("#desMtlItemSpec@(itemName)").html(item.MtlItemSpec);
                        }
                        $("#txtMaterial@(itemName)").val(item.Material);
                        $("#txtCycleTime@(itemName)").val(item.CycleTime);
                        $("#txtMoldWeight@(itemName)").val(item.MoldWeight);
                        $("#txtCavity@(itemName)").val(item.Cavity);
                        $("#txtProcessingFee@(itemName)").val(item.ProcessingFee);
                        $("#txtUnitPrice@(itemName)").val(item.UnitPrice);
                        $("#txtTheoreticalQty@(itemName)").val(item.TheoreticalQty);
                    });
                } else {
                    alert(data.msg, "alert", 0);
                }
            }
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let McId = parseInt($("#McId").val());
                console.log(111, McId)
                if (McId <= 0) {
                    let targetUrl = "@Url.Action("AddMoldingConditions", "PdmBasicInformation")";
                    let postData = {
                        "MtlItemId": $("#txtMtlItemId@(itemName)").val(),
                        "Material": $("#txtMaterial@(itemName)").val(),
                        "CycleTime": $("#txtCycleTime@(itemName)").val(),
                        "MoldWeight": $("#txtMoldWeight@(itemName)").val(),
                        "Cavity": $("#txtCavity@(itemName)").val(),
                        "ProcessingFee": $("#txtProcessingFee@(itemName)").val(),
                        "TheoreticalQty": $("#txtTheoreticalQty@(itemName)").val()
                    };

                    let data = DataAccess.EditContinued(targetUrl, postData, false);

                    if (data) {
                        $.each(data.result, function (i, item) {
                            $("#McId").val(item.McId);
                        });
                    }
                } else {
                    let targetUrl = "@Url.Action("UpdateMoldingConditions", "PdmBasicInformation")";
                    let postData = {
                        "McId": McId,
                        "MtlItemId": $("#txtMtlItemId@(itemName)").val(),
                        "Material": $("#txtMaterial@(itemName)").val(),
                        "CycleTime": $("#txtCycleTime@(itemName)").val(),
                        "MoldWeight": $("#txtMoldWeight@(itemName)").val(),
                        "Cavity": $("#txtCavity@(itemName)").val(),
                        "ProcessingFee": $("#txtProcessingFee@(itemName)").val(),
                        "TheoreticalQty": $("#txtTheoreticalQty@(itemName)").val()
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Return@(itemName)();
                    }
                }
            }
        }

        function UpdateUnitPrice@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let McId = parseInt($("#McId").val());

                let targetUrl = "@Url.Action("UpdateMoldingConditionsUnitPrice", "PdmBasicInformation")";
                let postData = {
                    "McId": McId,
                    "UnitPrice": $("#txtUnitPrice@(itemName)").val()
                };

                let result = DataAccess.Update(targetUrl, postData, false, true);

                if (result) {
                    Return@(itemName)();
                }
            }
        }

        function Delete@(itemName)(McId) {
            swal.fire({
                titleText: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteMoldingConditions", "PdmBasicInformation")";
                    let postData = {
                        "McId": McId,
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function PopMtlItemView() {
            let popConfig = {
                targetSelector: "#txtMtlItemId@(itemName)",
                popFunction: "PopViewMtlItem",
                objectMtlItemId: "#txtMtlItemId@(itemName)",
                objectMtlItemNo: "#desMtlItemNo@(itemName)",
                objectMtlItemName: "#desMtlItemName@(itemName)",
                objectMtlItemSpec: "#desMtlItemSpec@(itemName)",
                objectUomNo: "#desUomNo@(itemName)",
                objectUomId: "#cboUomId@(itemName)",
                objectInventoryId: "#cboInventoryId@(itemName)",
                objectItemAttribute: "",
            };
            $("#modalViewMtlItem").modal("show");

            PopViewMtlItem(popConfig)

        }

        function ClearMtlItem() {
            $(".help-block").hide()
            $("#txtMtlItemId@(itemName)").val("")
        }

        function PopViewModalImportExcel@(itemName)() {
            $("#txtExcelFile@(itemName)").val("");

            let uploadConfig = {
                fileSelector: "#fileExcelFile@(itemName)",
                targetSelector: "#txtExcelFile@(itemName)",
                required: false,
                uploadPath: "/PdmBasicInformation/MoldingConditions",
                allowedFileExtensions: ['xlsx'],
                maxFileCount: 10,
                defaultFile: $("#txtExcelFile@(itemName)").val()
            };
            Suites.FileUpload(uploadConfig);

            $("#modalImportExcel@(itemName)").modal("show");
        }

        function ImportExcel@(itemName)() {
            $.ajax({
                url: "@Url.Action("ImportExcelMoldingConditions", "PdmBasicInformation")",
                method: "POST",
                dataType: "json",
                data: {
                    "FileId": $("#txtExcelFile@(itemName)").val()
                },
                async: true,  // 設置為非同步
                beforeSend: function () {
                    $('#loading').css("display", "block");
                    $("body").css("overflow", "hidden");
                },
                success: function (data) {
                    if (data.status == "success") {
                        Swal.fire(
                            "新增成功!", //標題
                            "找不到品號資料:" + data.err, //訊息內容(可省略)
                            "success",
                        );

                        $("#modalImportExcel@(itemName)").modal("hide");
                        Return@(itemName)();
                    }
                    else {
                        Swal.fire(
                            "新增失敗!", //標題
                            data.msg,
                            "error",
                        );

                        $("#txtExcelFile@(itemName)").val("");
                        let uploadConfig = {
                            fileSelector: "#fileExcelFile@(itemName)",
                            targetSelector: "#txtExcelFile@(itemName)",
                            required: false,
                            uploadPath: "/PdmBasicInformation/MoldingConditions",
                            allowedFileExtensions: ['xlsx'],
                            maxFileCount: 10,
                            defaultFile: $("#txtExcelFile@(itemName)").val()
                        };
                        Suites.FileUpload(uploadConfig);
                    }
                },
                error: function (error) {
                    alert(result.msg);
                    return false;
                },
                complete: function () {
                    $('#loading').css("display", "none");
                    $("body").css("overflow", "auto");
                }
            });
        }

        function GetExcel@(itemName)() {
            let targetUrl = "@Url.Action("ExcelProductionStockInDetail", "PdmBasicInformation")";
            let postData = {
                "StardDay": $("#txtStartDayQ@(itemName)").val(),
                "EndDay": $("#txtEndDayQ@(itemName)").val()
            };

            FileAccess.AjaxDownload(targetUrl, postData, false);
            alert("匯出成功!!!!", "success")
          
            if (result) {
                Query@(itemName)();
            }
        }

        function GetTempExcel@(itemName)() {
            let targetUrl = "@Url.Action("ExcelTemporaryOrderOutInDetail", "PdmBasicInformation")";
            let postData = {
                "StardDay": $("#txtTempStartDayQ@(itemName)").val(),
                "EndDay": $("#txtTempEndDayQ@(itemName)").val()
            };

            FileAccess.AjaxDownload(targetUrl, postData, false);
            alert("匯出成功!!!!", "success")

            if (result) {
                Query@(itemName)();
            }
        }

        function GetTempReturnExcel@(itemName)() {
            let targetUrl = "@Url.Action("ExcelTempOutReturnRecordDetail", "PdmBasicInformation")";
            let postData = {
                "StardDay": $("#txtTempReturnStartDayQ@(itemName)").val(),
                "EndDay": $("#txtTempReturnEndDayQ@(itemName)").val()
            };

            FileAccess.AjaxDownload(targetUrl, postData, false);
            alert("匯出成功!!!!", "success")

            if (result) {
                Query@(itemName)();
            }
        }

        function UpdateUnitPrice@(itemName)() {
            let targetUrl = "@Url.Action("UpdateMoldingConditionsUnitPrice", "PdmBasicInformation")";
            let postData = {};

            let result = DataAccess.Update(targetUrl, postData, false, true);

            if (result) {
                Return@(itemName)();
            }
        }


        function Return@(itemName)() {
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName)", "#editData@(itemName), .unit-block, .advanced-block");
            Query@(itemName)();
        }


    </script>
                        )