@using Business_Manager.Helpers
@{
    string itemName = "ViewDeliveryDateLog";
    string itemNameText = "交期歷史紀錄";
    string authority = ViewBag.authority;
}

@Html.Resource("css",
    @<style>
    </style>
)

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="modal fade" id="modal@(itemName)">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@(itemNameText)</h5>
                <a class="close" href="javascript:void(0);" onclick="Close@(itemName)()"><i class="fas fa-times"></i></a>
            </div>
            <div class="modal-body">
                <div class="row" id="listData@(itemName)">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th scope="col" style="min-width: 200px;">交貨時間</th>
                                        <th scope="col" style="min-width: 100px;">責任部門</th>
                                        <th scope="col" style="min-width: 100px;">責任主管</th>
                                        <th scope="col" style="min-width: 100px;">原因類別</th>
                                        <th scope="col" style="min-width: 205px;">延遲原因</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>
        let soDetailId;

        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };

        function Pop@(itemName)(SoDetailId) {
            soDetailId = SoDetailId;

            $("#modal@(itemName)").modal({
                backdrop: "static",
                keyboard: false,
                show: true
            });

            Query@(itemName)();
        }

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));
        }


        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let targetUrl = "@Url.Action("GetDeliveryDateLog", "Delivery")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize, 
                "SoDetailId": soDetailId
            };
            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr>
                                        <td>${_row}</td>
                                        <td><del>${item.OriginalDate} ${item.OriginalTime}</del> <i class="fas fa-arrow-from-left"></i> <span class="text-danger">${item.PcPromiseDate} ${item.PcPromiseTime}</span></td>
                                        <td>${item.DepartmentName}</td>
                                        <td>${item.SupervisorName}</td>
                                        <td>${item.CauseTypeName}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title = "${item.CauseDescription}" style="max-width: 150px;">${item.CauseDescription}</td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="6" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));
        }

        function Close@(itemName)() {
            $("#modal@(itemName)").modal('hide');
        }
    </script>
)