@using Business_Manager.Helpers
@{
    string itemName = "DesignPatentManagement";
    string itemNameText = "研發專利管理";
    string authority = ViewBag.authority;
    ViewBag.Title = itemNameText;
}

<script src="@Url.Content("~/Scripts/dhtmlx/spreadsheet.commercial/4.3.0/spreadsheet.min.js")"></script>
<link href="@Url.Content("~/Content/dhtmlx/spreadsheet.commercial/4.3.0/spreadsheet.min.css")" rel="stylesheet" />


@Html.Resource("css",
    @<style>
        .WaitingTime {
            width: 100%;
            height: 100vh;
            background-color: #FFFFFF;
            position: fixed;
            display: none;
            justify-content: center;
            align-content: center;
            z-index: 99999;
            top: 0;
            left: 0;
        }
    </style>
                )

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>
@*<div id="WaitingTime" class="WaitingTime">
    <img src="~/PdfTemplate/MES/cat2.gif" />
</div>*@


<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-4 col-form-label" for="txtApplicationNoQ@(itemName)">申請號</label>
                            <label class="col-4 col-form-label" for="txtApplicationDateQ@(itemName)">申請日</label>
                            <label class="col-4 col-form-label" for="txtApplicantQ@(itemName)">申請人</label>
                            <div class="col-4">
                                <input type="text" class="form-control" id="txtApplicationNoQ@(itemName)" name="txtApplicationNoQ@(itemName)" placeholder="請輸入申請號" />
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" id="txtApplicationDateQ@(itemName)" name="txtApplicationDateQ@(itemName)" placeholder="請輸入申請日" />
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" id="txtApplicantQ@(itemName)" name="txtApplicantQ@(itemName)" placeholder="請輸入申請人" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-6 col-form-label" for="txtPublicationNoQ@(itemName)">公開號</label>
                            <label class="col-6 col-form-label" for="txtPublicationDateQ@(itemName)">公開日</label>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtPublicationNoQ@(itemName)" name="txtPublicationNoQ@(itemName)" placeholder="請輸入公開號" />
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtPublicationDateQ@(itemName)" name="txtPublicationDateQ@(itemName)" placeholder="請輸入公開日" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-6 col-form-label" for="txtAnnouncementNoQ@(itemName)">公告號</label>
                            <label class="col-6 col-form-label" for="txtAnnouncementDateQ@(itemName)">公告日</label>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtAnnouncementNoQ@(itemName)" name="txtAnnouncementNoQ@(itemName)" placeholder="請輸入公告號" />
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtAnnouncementDateQ@(itemName)" name="txtAnnouncementDateQ@(itemName)" placeholder="請輸入公告日" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-4 col-form-label" for="txtImplementationExampleQ@(itemName)">實施例</label>
                            <label class="col-4 col-form-label" for="txtLensQuantityQ@(itemName)">透鏡數量 <span class="text-danger">*</span></label>
                            <label class="col-4 col-form-label" for="txtAperturePositionQ@(itemName)">光圈位置</label>
                            <div class="col-4">
                                <input type="text" class="form-control" id="txtImplementationExampleQ@(itemName)" name="txtImplementationExampleQ@(itemName)" placeholder="請輸入實施例" />
                            </div>
                            <div class="col-4">
                                <input type="number" class="form-control" id="txtLensQuantityQ@(itemName)" name="txtLensQuantityQ@(itemName)" placeholder="請輸入透鏡數量" />
                            </div>
                            <div class="col-4">
                                <input type="text" class="form-control" id="txtAperturePositionQ@(itemName)" name="txtAperturePositionQ@(itemName)" placeholder="請輸入光圈位置" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-6 col-form-label" for="txtHalfFieldofViewQ@(itemName)">半視場角(HFOV)</label>
                            <label class="col-6 col-form-label" for="txtImageHeightQ@(itemName)">像高(ImgH)</label>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtHalfFieldofViewQ@(itemName)" name="txtHalfFieldofViewQ@(itemName)" placeholder="請輸入半視場角(HFOV)" />
                            </div>
                            <div class="col-6">
                                <input type="text" class="form-control" id="txtImageHeightQ@(itemName)" name="txtImageHeightQ@(itemName)" placeholder="請輸入像高(ImgH)" />
                            </div>
                        </div>
                        <div class="form-group row LensQuantity1">
                            <label class="col-4 col-form-label" for="cboL1RefractivePowerQ@(itemName)">L1屈折力</label>
                            <label class="col-4 col-form-label" for="cboL1aSurfaceTypeQ@(itemName)">L1a面型</label>
                            <label class="col-4 col-form-label" for="cboL1bSurfaceTypeQ@(itemName)">L1b面型</label>
                            <div class="col-4">
                                <select class="form-control" id="cboL1RefractivePowerQ@(itemName)" name="cboL1RefractivePowerQ@(itemName)" data-msg-required="請選擇規格" data-rule-required="true"></select>
                            </div>
                            <div class="col-4">
                                <select class="form-control" id="cboL1aSurfaceTypeQ@(itemName)" name="cboL1aSurfaceTypeQ@(itemName)" data-msg-required="請選擇規格" data-rule-required="true"></select>
                            </div>
                            <div class="col-4">
                                <select class="form-control" id="cboL1bSurfaceTypeQ@(itemName)" name="cboL1bSurfaceTypeQ@(itemName)" data-msg-required="請選擇規格" data-rule-required="true"></select>
                            </div>
                        </div>
                        <div class="form-group row LensQuantity2">
                            <label class="col-4 col-form-label" for="cboL2RefractivePowerQ@(itemName)">L2屈折力</label>
                            <label class="col-4 col-form-label" for="cboL2aSurfaceTypeQ@(itemName)">L2a面型</label>
                            <label class="col-4 col-form-label" for="cboL2bSurfaceTypeQ@(itemName)">L2b面型</label>
                            <div class="col-4">
                                <select class="form-control" id="cboL2RefractivePowerQ@(itemName)" name="cboL2RefractivePowerQ@(itemName)" data-msg-required="請選擇規格" data-rule-required="true"></select>
                            </div>
                            <div class="col-4">
                                <select class="form-control" id="cboL2aSurfaceTypeQ@(itemName)" name="cboL2aSurfaceTypeQ@(itemName)" data-msg-required="請選擇規格" data-rule-required="true"></select>
                            </div>
                            <div class="col-4">
                                <select class="form-control" id="cboL2bSurfaceTypeQ@(itemName)" name="cboL2bSurfaceTypeQ@(itemName)" data-msg-required="請選擇規格" data-rule-required="true"></select>
                            </div>
                        </div>
                        <div class="form-group row LensQuantity3">
                            <label class="col-4 col-form-label" for="cboL3RefractivePowerQ@(itemName)">L3屈折力</label>
                            <label class="col-4 col-form-label" for="cboL3aSurfaceTypeQ@(itemName)">L3a面型</label>
                            <label class="col-4 col-form-label" for="cboL3bSurfaceTypeQ@(itemName)">L3b面型</label>
                            <div class="col-4">
                                <select class="form-control" id="cboL3RefractivePowerQ@(itemName)" name="cboL3RefractivePowerQ@(itemName)" data-msg-required="請選擇規格" data-rule-required="true"></select>
                            </div>
                            <div class="col-4">
                                <select class="form-control" id="cboL3aSurfaceTypeQ@(itemName)" name="cboL3aSurfaceTypeQ@(itemName)" data-msg-required="請選擇規格" data-rule-required="true"></select>
                            </div>
                            <div class="col-4">
                                <select class="form-control" id="cboL3bSurfaceTypeQ@(itemName)" name="cboL3bSurfaceTypeQ@(itemName)" data-msg-required="請選擇規格" data-rule-required="true"></select>
                            </div>
                        </div>
                        <div class="form-group row LensQuantity4">
                            <label class="col-4 col-form-label" for="cboL4RefractivePowerQ@(itemName)">L4屈折力</label>
                            <label class="col-4 col-form-label" for="cboL4aSurfaceTypeQ@(itemName)">L4a面型</label>
                            <label class="col-4 col-form-label" for="cboL4bSurfaceTypeQ@(itemName)">L4b面型</label>
                            <div class="col-4">
                                <select class="form-control" id="cboL4RefractivePowerQ@(itemName)" name="cboL4RefractivePowerQ@(itemName)" data-msg-required="請選擇規格" data-rule-required="true"></select>
                            </div>
                            <div class="col-4">
                                <select class="form-control" id="cboL4aSurfaceTypeQ@(itemName)" name="cboL4aSurfaceTypeQ@(itemName)" data-msg-required="請選擇規格" data-rule-required="true"></select>
                            </div>
                            <div class="col-4">
                                <select class="form-control" id="cboL4bSurfaceTypeQ@(itemName)" name="cboL4bSurfaceTypeQ@(itemName)" data-msg-required="請選擇規格" data-rule-required="true"></select>
                            </div>
                        </div>
                        <div class="form-group row LensQuantity5">
                            <label class="col-4 col-form-label" for="cboL5RefractivePowerQ@(itemName)">L5屈折力</label>
                            <label class="col-4 col-form-label" for="cboL5aSurfaceTypeQ@(itemName)">L5a面型</label>
                            <label class="col-4 col-form-label" for="cboL5bSurfaceTypeQ@(itemName)">L5b面型</label>
                            <div class="col-4">
                                <select class="form-control" id="cboL5RefractivePowerQ@(itemName)" name="cboL5RefractivePowerQ@(itemName)" data-msg-required="請選擇規格" data-rule-required="true"></select>
                            </div>
                            <div class="col-4">
                                <select class="form-control" id="cboL5aSurfaceTypeQ@(itemName)" name="cboL5aSurfaceTypeQ@(itemName)" data-msg-required="請選擇規格" data-rule-required="true"></select>
                            </div>
                            <div class="col-4">
                                <select class="form-control" id="cboL5bSurfaceTypeQ@(itemName)" name="cboL5bSurfaceTypeQ@(itemName)" data-msg-required="請選擇規格" data-rule-required="true"></select>
                            </div>
                        </div>
                        <div class="form-group row LensQuantity6">
                            <label class="col-4 col-form-label" for="cboL6RefractivePowerQ@(itemName)">L6屈折力</label>
                            <label class="col-4 col-form-label" for="cboL6aSurfaceTypeQ@(itemName)">L6a面型</label>
                            <label class="col-4 col-form-label" for="cboL6bSurfaceTypeQ@(itemName)">L6b面型</label>
                            <div class="col-4">
                                <select class="form-control" id="cboL6RefractivePowerQ@(itemName)" name="cboL6RefractivePowerQ@(itemName)" data-msg-required="請選擇規格" data-rule-required="true"></select>
                            </div>                                   
                            <div class="col-4">                      
                                <select class="form-control" id="cboL6aSurfaceTypeQ@(itemName)" name="cboL6aSurfaceTypeQ@(itemName)" data-msg-required="請選擇規格" data-rule-required="true"></select>
                            </div>                                   
                            <div class="col-4">                      
                                <select class="form-control" id="cboL6bSurfaceTypeQ@(itemName)" name="cboL6bSurfaceTypeQ@(itemName)" data-msg-required="請選擇規格" data-rule-required="true"></select>
                            </div>
                        </div>
                        <div class="form-group row LensQuantity7">
                            <label class="col-4 col-form-label" for="cboL7RefractivePowerQ@(itemName)">L7屈折力</label>
                            <label class="col-4 col-form-label" for="cboL7aSurfaceTypeQ@(itemName)">L7a面型</label>
                            <label class="col-4 col-form-label" for="cboL7bSurfaceTypeQ@(itemName)">7b面型</label>
                            <div class="col-4">
                                <select class="form-control" id="cboL7RefractivePowerQ@(itemName)" name="cboL7RefractivePowerQ@(itemName)" data-msg-required="請選擇規格" data-rule-required="true"></select>
                            </div>
                            <div class="col-4">
                                <select class="form-control" id="cboL7aSurfaceTypeQ@(itemName)" name="cboL7aSurfaceTypeQ@(itemName)" data-msg-required="請選擇規格" data-rule-required="true"></select>
                            </div>
                            <div class="col-4">
                                <select class="form-control" id="cboL7bSurfaceTypeQ@(itemName)" name="cboL7bSurfaceTypeQ@(itemName)" data-msg-required="請選擇規格" data-rule-required="true"></select>
                            </div>
                        </div>
                        <div class="form-group row LensQuantity8">
                            <label class="col-4 col-form-label" for="cboL8RefractivePowerQ@(itemName)">L8屈折力</label>
                            <label class="col-4 col-form-label" for="cboL8aSurfaceTypeQ@(itemName)">L8a面型</label>
                            <label class="col-4 col-form-label" for="cboL8bSurfaceTypeQ@(itemName)">L8b面型</label>
                            <div class="col-4">
                                <select class="form-control" id="cboL8RefractivePowerQ@(itemName)" name="cboL8RefractivePowerQ@(itemName)" data-msg-required="請選擇規格" data-rule-required="true"></select>
                            </div>
                            <div class="col-4">
                                <select class="form-control" id="cboL8aSurfaceTypeQ@(itemName)" name="cboL8aSurfaceTypeQ@(itemName)" data-msg-required="請選擇規格" data-rule-required="true"></select>
                            </div>
                            <div class="col-4">
                                <select class="form-control" id="cboL8bSurfaceTypeQ@(itemName)" name="cboL8bSurfaceTypeQ@(itemName)" data-msg-required="請選擇規格" data-rule-required="true"></select>
                            </div>
                        </div>
                        <div class="form-group row LensQuantity9">
                            <label class="col-4 col-form-label" for="cboL9RefractivePowerQ@(itemName)">L9屈折力</label>
                            <label class="col-4 col-form-label" for="cboL9aSurfaceTypeQ@(itemName)">L9a面型</label>
                            <label class="col-4 col-form-label" for="cboL9bSurfaceTypeQ@(itemName)">L9b面型</label>
                            <div class="col-4">
                                <select class="form-control" id="cboL9RefractivePowerQ@(itemName)" name="cboL9RefractivePowerQ@(itemName)" data-msg-required="請選擇規格" data-rule-required="true"></select>
                            </div>
                            <div class="col-4">
                                <select class="form-control" id="cboL9aSurfaceTypeQ@(itemName)" name="cboL9aSurfaceTypeQ@(itemName)" data-msg-required="請選擇規格" data-rule-required="true"></select>
                            </div>
                            <div class="col-4">
                                <select class="form-control" id="cboL9bSurfaceTypeQ@(itemName)" name="cboL9bSurfaceTypeQ@(itemName)" data-msg-required="請選擇規格" data-rule-required="true"></select>
                            </div>
                        </div>
                        <div class="form-group row LensQuantity10">
                            <label class="col-4 col-form-label" for="cboLXRefractivePowerQ@(itemName)">LX屈折力</label>
                            <label class="col-4 col-form-label" for="cboLXaSurfaceTypeQ@(itemName)">LXa面型</label>
                            <label class="col-4 col-form-label" for="cboLXbSurfaceTypeQ@(itemName)">LXb面型</label>
                            <div class="col-4">
                                <select class="form-control" id="cboLXRefractivePowerQ@(itemName)" name="cboLXRefractivePowerQ@(itemName)" data-msg-required="請選擇規格" data-rule-required="true"></select>
                            </div>
                            <div class="col-4">
                                <select class="form-control" id="cboLXaSurfaceTypeQ@(itemName)" name="cboLXaSurfaceTypeQ@(itemName)" data-msg-required="請選擇規格" data-rule-required="true"></select>
                            </div>
                            <div class="col-4">
                                <select class="form-control" id="cboLXbSurfaceTypeQ@(itemName)" name="cboLXbSurfaceTypeQ@(itemName)" data-msg-required="請選擇規格" data-rule-required="true"></select>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="SearchQuery@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <input type="hidden" id="NowModel" name="name" value="M" />
                <h1 class="NowModelTitle">管理模式</h1>
                <h2 class="SearchCount" style="margin-top:20px">搜尋筆數：<span></span></h2>
                <div style="height: 75%; width: 100%;margin-top: 20px;" id="DesignPatentTemporary"></div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset></fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>


@Html.Resource("js",
    @<script>

        let userId@(itemName);
        let UserAuthority = []
        let spreadsheet@(itemName);
        let spreadsheetData@(itemName);

        let spreadsheetJson@(itemName) =
        {
            spreadsheetInfo: []
        }

        let lettersArray = [
            "A", "B", "C", "D", "E", "F", "G", "H", "I", "J",
            "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T",
            "U", "V", "W", "X", "Y", "Z", "AA", "AB", "AC", "AD",
            "AE", "AF", "AG", "AH", "AI", "AJ", "AK", "AL", "AM",
            "AN", "AO", "AP", "AQ", "AR"
        ];

        let FieldList = [
            "ApplicationNo", "ApplicationDate", "Applicant", "PublicationNo", "PublicationDate", "AnnouncementNo", "AnnouncementDate",
            "ImplementationExample", "LensQuantity", "AperturePosition", "HalfFieldofView", "ImageHeight",
            "L1RefractivePower", "L1aSurfaceType", "L1bSurfaceType", "L2RefractivePower", "L2aSurfaceType", "L2bSurfaceType",
            "L3RefractivePower", "L3aSurfaceType", "L3bSurfaceType", "L4RefractivePower", "L4aSurfaceType", "L4bSurfaceType",
            "L5RefractivePower", "L5aSurfaceType", "L5bSurfaceType", "L6RefractivePower", "L6aSurfaceType", "L6bSurfaceType",
            "L7RefractivePower", "L7aSurfaceType", "L7bSurfaceType", "L8RefractivePower", "L8aSurfaceType", "L8bSurfaceType",
            "L9RefractivePower", "L9aSurfaceType", "L9bSurfaceType", "LXRefractivePower", "LXaSurfaceType", "LXbSurfaceType",
            "DpId"
        ];

        function templateSheets(newSheetName) {
            var templateSheets = `
                    {"name":"${newSheetName}","data":[
                     {"cell":"A1","css":"dhx_generated_class_u1690959030041","format":"text","value":""}
                    ,{"cell":"A2","css":"dhx_generated_class_u1690959030041","format":"text","value":""}
                    ,{"cell":"B1","css":"dhx_generated_class_u1690959030041","format":"text","value":""}
                    ,{"cell":"B2","css":"dhx_generated_class_u1690959030041","format":"text","value":""}
                    ,{"cell":"C1","css":"dhx_generated_class_u1690959030041","format":"text","value":""}
                    ,{"cell":"C2","css":"dhx_generated_class_u1690959030041","format":"text","value":""}
                    ,{"cell":"D1","css":"dhx_generated_class_u1690959030041","format":"text","value":""}
                    ,{"cell":"D2","css":"dhx_generated_class_u1690959030041","format":"text","value":""}
                    ,{"cell":"A3","css":"dhx_generated_class_u1690959030041","format":"text","value":"操作"}
                    ,{"cell":"B3","css":"dhx_generated_class_u1690959030041","format":"text","value":"申請號"}
                    ,{"cell":"C3","css":"dhx_generated_class_u1690959030041","format":"text","value":"申請日"}
                    ,{"cell":"D3","css":"dhx_generated_class_u1690959030041","format":"text","value":"申請人"}
                    ,{"cell":"E1","css":"dhx_generated_class_u1690959030042","format":"text","value":""}
                    ,{"cell":"E2","css":"dhx_generated_class_u1690959030042","format":"text","value":""}
                    ,{"cell":"F1","css":"dhx_generated_class_u1690959030042","format":"text","value":""}
                    ,{"cell":"F2","css":"dhx_generated_class_u1690959030042","format":"text","value":""}
                    ,{"cell":"E3","css":"dhx_generated_class_u1690959030042","format":"text","value":"公開號"}
                    ,{"cell":"F3","css":"dhx_generated_class_u1690959030042","format":"text","value":"公開日"}
                    ,{"cell":"G1","css":"dhx_generated_class_u1690959030043","format":"text","value":""}
                    ,{"cell":"G2","css":"dhx_generated_class_u1690959030043","format":"text","value":""}
                    ,{"cell":"H1","css":"dhx_generated_class_u1690959030043","format":"text","value":""}
                    ,{"cell":"H2","css":"dhx_generated_class_u1690959030043","format":"text","value":""}
                    ,{"cell":"G3","css":"dhx_generated_class_u1690959030043","format":"text","value":"公告號"}
                    ,{"cell":"H3","css":"dhx_generated_class_u1690959030043","format":"text","value":"公告日"}
                    ,{"cell":"I1","css":"dhx_generated_class_u1690959030044","format":"text","value":""}
                    ,{"cell":"I2","css":"dhx_generated_class_u1690959030044","format":"text","value":""}
                    ,{"cell":"J1","css":"dhx_generated_class_u1690959030044","format":"text","value":""}
                    ,{"cell":"J2","css":"dhx_generated_class_u1690959030044","format":"text","value":""}
                    ,{"cell":"K1","css":"dhx_generated_class_u1690959030044","format":"text","value":""}
                    ,{"cell":"K2","css":"dhx_generated_class_u1690959030044","format":"text","value":""}
                    ,{"cell":"L1","css":"dhx_generated_class_u1690959030044","format":"text","value":""}
                    ,{"cell":"L2","css":"dhx_generated_class_u1690959030044","format":"text","value":""}
                    ,{"cell":"M1","css":"dhx_generated_class_u1690959030044","format":"text","value":""}
                    ,{"cell":"M2","css":"dhx_generated_class_u1690959030044","format":"text","value":""}
                    ,{"cell":"I3","css":"dhx_generated_class_u1690959030044","format":"text","value":"實施例"}
                    ,{"cell":"J3","css":"dhx_generated_class_u1690959030044","format":"text","value":"透鏡數量"}
                    ,{"cell":"K3","css":"dhx_generated_class_u1690959030044","format":"text","value":"光圈位置"}
                    ,{"cell":"L3","css":"dhx_generated_class_u1690959030044","format":"text","value":"半視場角(HFOV)"}
                    ,{"cell":"M3","css":"dhx_generated_class_u1690959030044","format":"text","value":"像高(ImgH)"}
                    ,{"cell":"N1","css":"dhx_generated_class_u1690959030045","format":"text","value":""}
                    ,{"cell":"N2","css":"dhx_generated_class_u1690959030045","format":"text","value":""}
                    ,{"cell":"P1","css":"dhx_generated_class_u1690959030045","format":"text","value":""}
                    ,{"cell":"O1","css":"dhx_generated_class_u1690959030045","format":"text","value":"第一透鏡"}
                    ,{"cell":"O2","css":"dhx_generated_class_u1690959030045","format":"text","value":"物側面"}
                    ,{"cell":"P2","css":"dhx_generated_class_u1690959030045","format":"text","value":"像側面"}
                    ,{"cell":"N3","css":"dhx_generated_class_u1690959030045","format":"text","value":"L1屈折力"}
                    ,{"cell":"O3","css":"dhx_generated_class_u1690959030045","format":"text","value":"L1a面型"}
                    ,{"cell":"P3","css":"dhx_generated_class_u1690959030045","format":"text","value":"L1b面型"}
                    ,{"cell":"Q1","css":"dhx_generated_class_u1690959030046","format":"text","value":""}
                    ,{"cell":"Q2","css":"dhx_generated_class_u1690959030046","format":"text","value":""}
                    ,{"cell":"S1","css":"dhx_generated_class_u1690959030046","format":"text","value":""}
                    ,{"cell":"R1","css":"dhx_generated_class_u1690959030046","format":"text","value":"第二透鏡"}
                    ,{"cell":"R2","css":"dhx_generated_class_u1690959030046","format":"text","value":"物側面"}
                    ,{"cell":"S2","css":"dhx_generated_class_u1690959030046","format":"text","value":"像側面"}
                    ,{"cell":"Q3","css":"dhx_generated_class_u1690959030046","format":"text","value":"L2屈折力"}
                    ,{"cell":"R3","css":"dhx_generated_class_u1690959030046","format":"text","value":"L2a面型"}
                    ,{"cell":"S3","css":"dhx_generated_class_u1690959030046","format":"text","value":"L2b面型"}
                    ,{"cell":"T1","css":"dhx_generated_class_u1690959030047","format":"text","value":""}
                    ,{"cell":"T2","css":"dhx_generated_class_u1690959030047","format":"text","value":""}
                    ,{"cell":"V1","css":"dhx_generated_class_u1690959030047","format":"text","value":""}
                    ,{"cell":"U1","css":"dhx_generated_class_u1690959030047","format":"text","value":"第三透鏡"}
                    ,{"cell":"U2","css":"dhx_generated_class_u1690959030047","format":"text","value":"物側面"}
                    ,{"cell":"V2","css":"dhx_generated_class_u1690959030047","format":"text","value":"像側面"}
                    ,{"cell":"T3","css":"dhx_generated_class_u1690959030047","format":"text","value":"L3屈折力"}
                    ,{"cell":"U3","css":"dhx_generated_class_u1690959030047","format":"text","value":"L3a面型"}
                    ,{"cell":"V3","css":"dhx_generated_class_u1690959030047","format":"text","value":"L3b面型"}
                    ,{"cell":"W1","css":"dhx_generated_class_u1690959030048","format":"text","value":""}
                    ,{"cell":"W2","css":"dhx_generated_class_u1690959030048","format":"text","value":""}
                    ,{"cell":"Y1","css":"dhx_generated_class_u1690959030048","format":"text","value":""}
                    ,{"cell":"X1","css":"dhx_generated_class_u1690959030048","format":"text","value":"第四透鏡"}
                    ,{"cell":"X2","css":"dhx_generated_class_u1690959030048","format":"text","value":"物側面"}
                    ,{"cell":"Y2","css":"dhx_generated_class_u1690959030048","format":"text","value":"像側面"}
                    ,{"cell":"W3","css":"dhx_generated_class_u1690959030048","format":"text","value":"L4屈折力"}
                    ,{"cell":"X3","css":"dhx_generated_class_u1690959030048","format":"text","value":"L4a面型"}
                    ,{"cell":"Y3","css":"dhx_generated_class_u1690959030048","format":"text","value":"L4b面型"}
                    ,{"cell":"Z1","css":"dhx_generated_class_u1690959030049","format":"text","value":""}
                    ,{"cell":"Z2","css":"dhx_generated_class_u1690959030049","format":"text","value":""}
                    ,{"cell":"AB1","css":"dhx_generated_class_u1690959030049","format":"text","value":""}
                    ,{"cell":"AA1","css":"dhx_generated_class_u1690959030049","format":"text","value":"第五透鏡"}
                    ,{"cell":"AA2","css":"dhx_generated_class_u1690959030049","format":"text","value":"物側面"}
                    ,{"cell":"AB2","css":"dhx_generated_class_u1690959030049","format":"text","value":"像側面"}
                    ,{"cell":"Z3","css":"dhx_generated_class_u1690959030049","format":"text","value":"L5屈折力"}
                    ,{"cell":"AA3","css":"dhx_generated_class_u1690959030049","format":"text","value":"L5a面型"}
                    ,{"cell":"AB3","css":"dhx_generated_class_u1690959030049","format":"text","value":"L5b面型"}
                    ,{"cell":"AC1","css":"dhx_generated_class_u1690959030050","format":"text","value":""}
                    ,{"cell":"AC2","css":"dhx_generated_class_u1690959030050","format":"text","value":""}
                    ,{"cell":"AE1","css":"dhx_generated_class_u1690959030050","format":"text","value":""}
                    ,{"cell":"AD1","css":"dhx_generated_class_u1690959030050","format":"text","value":"第六透鏡"}
                    ,{"cell":"AD2","css":"dhx_generated_class_u1690959030050","format":"text","value":"物側面"}
                    ,{"cell":"AE2","css":"dhx_generated_class_u1690959030050","format":"text","value":"像側面"}
                    ,{"cell":"AC3","css":"dhx_generated_class_u1690959030050","format":"text","value":"L6屈折力"}
                    ,{"cell":"AD3","css":"dhx_generated_class_u1690959030050","format":"text","value":"La面型"}
                    ,{"cell":"AE3","css":"dhx_generated_class_u1690959030050","format":"text","value":"L6b面型"}
                    ,{"cell":"AF1","css":"dhx_generated_class_u1690959030051","format":"text","value":""}
                    ,{"cell":"AF2","css":"dhx_generated_class_u1690959030051","format":"text","value":""}
                    ,{"cell":"AH1","css":"dhx_generated_class_u1690959030051","format":"text","value":""}
                    ,{"cell":"AG1","css":"dhx_generated_class_u1690959030051","format":"text","value":"第七透鏡"}
                    ,{"cell":"AG2","css":"dhx_generated_class_u1690959030051","format":"text","value":"物側面"}
                    ,{"cell":"AH2","css":"dhx_generated_class_u1690959030051","format":"text","value":"像側面"}
                    ,{"cell":"AF3","css":"dhx_generated_class_u1690959030051","format":"text","value":"L7屈折力"}
                    ,{"cell":"AG3","css":"dhx_generated_class_u1690959030051","format":"text","value":"L7a面型"}
                    ,{"cell":"AH3","css":"dhx_generated_class_u1690959030051","format":"text","value":"L7b面型"}
                    ,{"cell":"AI1","css":"dhx_generated_class_u1690959030052","format":"text","value":""}
                    ,{"cell":"AI2","css":"dhx_generated_class_u1690959030052","format":"text","value":""}
                    ,{"cell":"AK1","css":"dhx_generated_class_u1690959030052","format":"text","value":""}
                    ,{"cell":"AJ1","css":"dhx_generated_class_u1690959030052","format":"text","value":"第八透鏡"}
                    ,{"cell":"AJ2","css":"dhx_generated_class_u1690959030052","format":"text","value":"物側面"}
                    ,{"cell":"AK2","css":"dhx_generated_class_u1690959030052","format":"text","value":"像側面"}
                    ,{"cell":"AI3","css":"dhx_generated_class_u1690959030052","format":"text","value":"L8屈折力"}
                    ,{"cell":"AJ3","css":"dhx_generated_class_u1690959030052","format":"text","value":"L8a面型"}
                    ,{"cell":"AK3","css":"dhx_generated_class_u1690959030052","format":"text","value":"L8b面型"}
                    ,{"cell":"AL1","css":"dhx_generated_class_u1690959030053","format":"text","value":""}
                    ,{"cell":"AL2","css":"dhx_generated_class_u1690959030053","format":"text","value":""}
                    ,{"cell":"AN1","css":"dhx_generated_class_u1690959030053","format":"text","value":""}
                    ,{"cell":"AM1","css":"dhx_generated_class_u1690959030053","format":"text","value":"第九透鏡"}
                    ,{"cell":"AM2","css":"dhx_generated_class_u1690959030053","format":"text","value":"物側面"}
                    ,{"cell":"AN2","css":"dhx_generated_class_u1690959030053","format":"text","value":"像側面"}
                    ,{"cell":"AL3","css":"dhx_generated_class_u1690959030053","format":"text","value":"L9屈折力"}
                    ,{"cell":"AM3","css":"dhx_generated_class_u1690959030053","format":"text","value":"L9a面型"}
                    ,{"cell":"AN3","css":"dhx_generated_class_u1690959030053","format":"text","value":"L9b面型"}
                    ,{"cell":"AO1","css":"dhx_generated_class_u1690959030054","format":"text","value":""}
                    ,{"cell":"AO2","css":"dhx_generated_class_u1690959030054","format":"text","value":""}
                    ,{"cell":"AQ1","css":"dhx_generated_class_u1690959030054","format":"text","value":""}
                    ,{"cell":"AP1","css":"dhx_generated_class_u1690959030054","format":"text","value":"第十透鏡"}
                    ,{"cell":"AP2","css":"dhx_generated_class_u1690959030054","format":"text","value":"物側面"}
                    ,{"cell":"AQ2","css":"dhx_generated_class_u1690959030054","format":"text","value":"像側面"}
                    ,{"cell":"AO3","css":"dhx_generated_class_u1690959030054","format":"text","value":"L10屈折力"}
                    ,{"cell":"AP3","css":"dhx_generated_class_u1690959030054","format":"text","value":"L10a面型"}
                    ,{"cell":"AQ3","css":"dhx_generated_class_u1690959030054","format":"text","value":"L10b面型"}
                    ,{"cell":"AR1","css":"dhx_generated_class_u1690959030041","format":"text","value":""}
                    ,{"cell":"AR2","css":"dhx_generated_class_u1690959030041","format":"text","value":""}
                    ,{"cell":"AR3","css":"dhx_generated_class_u1690959030041","format":"text","value":"資料ID"}
                    ]
                    ,"cols":[{"width":100},{"width":150},{"width":120},{"width":100},{"width":150},{"width":120},{"width":150},{"width":120},{"width":100},{"width":110},{"width":110},{"width":160},{"width":120}]
                    ,"rows":[{"height":32}]}
                    `
            var newSheetObj = JSON.parse(templateSheets);

            return newSheetObj
        }

        var PageDesignPatentData =""
        var DesignPatentData = `
                    {"sheets":[{"name":"sheet1","data":[
                     {"cell":"A1","css":"dhx_generated_class_u1690959030041","format":"text","value":""}
                    ,{"cell":"A2","css":"dhx_generated_class_u1690959030041","format":"text","value":""}
                    ,{"cell":"B1","css":"dhx_generated_class_u1690959030041","format":"text","value":""}
                    ,{"cell":"B2","css":"dhx_generated_class_u1690959030041","format":"text","value":""}
                    ,{"cell":"C1","css":"dhx_generated_class_u1690959030041","format":"text","value":""}
                    ,{"cell":"C2","css":"dhx_generated_class_u1690959030041","format":"text","value":""}
                    ,{"cell":"D1","css":"dhx_generated_class_u1690959030041","format":"text","value":""}
                    ,{"cell":"D2","css":"dhx_generated_class_u1690959030041","format":"text","value":""}
                    ,{"cell":"A3","css":"dhx_generated_class_u1690959030041","format":"text","value":"操作"}
                    ,{"cell":"B3","css":"dhx_generated_class_u1690959030041","format":"text","value":"申請號"}
                    ,{"cell":"C3","css":"dhx_generated_class_u1690959030041","format":"text","value":"申請日"}
                    ,{"cell":"D3","css":"dhx_generated_class_u1690959030041","format":"text","value":"申請人"}
                    ,{"cell":"E1","css":"dhx_generated_class_u1690959030042","format":"text","value":""}
                    ,{"cell":"E2","css":"dhx_generated_class_u1690959030042","format":"text","value":""}
                    ,{"cell":"F1","css":"dhx_generated_class_u1690959030042","format":"text","value":""}
                    ,{"cell":"F2","css":"dhx_generated_class_u1690959030042","format":"text","value":""}
                    ,{"cell":"E3","css":"dhx_generated_class_u1690959030042","format":"text","value":"公開號"}
                    ,{"cell":"F3","css":"dhx_generated_class_u1690959030042","format":"text","value":"公開日"}
                    ,{"cell":"G1","css":"dhx_generated_class_u1690959030043","format":"text","value":""}
                    ,{"cell":"G2","css":"dhx_generated_class_u1690959030043","format":"text","value":""}
                    ,{"cell":"H1","css":"dhx_generated_class_u1690959030043","format":"text","value":""}
                    ,{"cell":"H2","css":"dhx_generated_class_u1690959030043","format":"text","value":""}
                    ,{"cell":"G3","css":"dhx_generated_class_u1690959030043","format":"text","value":"公告號"}
                    ,{"cell":"H3","css":"dhx_generated_class_u1690959030043","format":"text","value":"公告日"}
                    ,{"cell":"I1","css":"dhx_generated_class_u1690959030044","format":"text","value":""}
                    ,{"cell":"I2","css":"dhx_generated_class_u1690959030044","format":"text","value":""}
                    ,{"cell":"J1","css":"dhx_generated_class_u1690959030044","format":"text","value":""}
                    ,{"cell":"J2","css":"dhx_generated_class_u1690959030044","format":"text","value":""}
                    ,{"cell":"K1","css":"dhx_generated_class_u1690959030044","format":"text","value":""}
                    ,{"cell":"K2","css":"dhx_generated_class_u1690959030044","format":"text","value":""}
                    ,{"cell":"L1","css":"dhx_generated_class_u1690959030044","format":"text","value":""}
                    ,{"cell":"L2","css":"dhx_generated_class_u1690959030044","format":"text","value":""}
                    ,{"cell":"M1","css":"dhx_generated_class_u1690959030044","format":"text","value":""}
                    ,{"cell":"M2","css":"dhx_generated_class_u1690959030044","format":"text","value":""}
                    ,{"cell":"I3","css":"dhx_generated_class_u1690959030044","format":"text","value":"實施例"}
                    ,{"cell":"J3","css":"dhx_generated_class_u1690959030044","format":"text","value":"透鏡數量"}
                    ,{"cell":"K3","css":"dhx_generated_class_u1690959030044","format":"text","value":"光圈位置"}
                    ,{"cell":"L3","css":"dhx_generated_class_u1690959030044","format":"text","value":"半視場角(HFOV)"}
                    ,{"cell":"M3","css":"dhx_generated_class_u1690959030044","format":"text","value":"像高(ImgH)"}
                    ,{"cell":"N1","css":"dhx_generated_class_u1690959030045","format":"text","value":""}
                    ,{"cell":"N2","css":"dhx_generated_class_u1690959030045","format":"text","value":""}
                    ,{"cell":"P1","css":"dhx_generated_class_u1690959030045","format":"text","value":""}
                    ,{"cell":"O1","css":"dhx_generated_class_u1690959030045","format":"text","value":"第一透鏡"}
                    ,{"cell":"O2","css":"dhx_generated_class_u1690959030045","format":"text","value":"物側面"}
                    ,{"cell":"P2","css":"dhx_generated_class_u1690959030045","format":"text","value":"像側面"}
                    ,{"cell":"N3","css":"dhx_generated_class_u1690959030045","format":"text","value":"L1屈折力"}
                    ,{"cell":"O3","css":"dhx_generated_class_u1690959030045","format":"text","value":"L1a面型"}
                    ,{"cell":"P3","css":"dhx_generated_class_u1690959030045","format":"text","value":"L1b面型"}
                    ,{"cell":"Q1","css":"dhx_generated_class_u1690959030046","format":"text","value":""}
                    ,{"cell":"Q2","css":"dhx_generated_class_u1690959030046","format":"text","value":""}
                    ,{"cell":"S1","css":"dhx_generated_class_u1690959030046","format":"text","value":""}
                    ,{"cell":"R1","css":"dhx_generated_class_u1690959030046","format":"text","value":"第二透鏡"}
                    ,{"cell":"R2","css":"dhx_generated_class_u1690959030046","format":"text","value":"物側面"}
                    ,{"cell":"S2","css":"dhx_generated_class_u1690959030046","format":"text","value":"像側面"}
                    ,{"cell":"Q3","css":"dhx_generated_class_u1690959030046","format":"text","value":"L2屈折力"}
                    ,{"cell":"R3","css":"dhx_generated_class_u1690959030046","format":"text","value":"L2a面型"}
                    ,{"cell":"S3","css":"dhx_generated_class_u1690959030046","format":"text","value":"L2b面型"}
                    ,{"cell":"T1","css":"dhx_generated_class_u1690959030047","format":"text","value":""}
                    ,{"cell":"T2","css":"dhx_generated_class_u1690959030047","format":"text","value":""}
                    ,{"cell":"V1","css":"dhx_generated_class_u1690959030047","format":"text","value":""}
                    ,{"cell":"U1","css":"dhx_generated_class_u1690959030047","format":"text","value":"第三透鏡"}
                    ,{"cell":"U2","css":"dhx_generated_class_u1690959030047","format":"text","value":"物側面"}
                    ,{"cell":"V2","css":"dhx_generated_class_u1690959030047","format":"text","value":"像側面"}
                    ,{"cell":"T3","css":"dhx_generated_class_u1690959030047","format":"text","value":"L3屈折力"}
                    ,{"cell":"U3","css":"dhx_generated_class_u1690959030047","format":"text","value":"L3a面型"}
                    ,{"cell":"V3","css":"dhx_generated_class_u1690959030047","format":"text","value":"L3b面型"}
                    ,{"cell":"W1","css":"dhx_generated_class_u1690959030048","format":"text","value":""}
                    ,{"cell":"W2","css":"dhx_generated_class_u1690959030048","format":"text","value":""}
                    ,{"cell":"Y1","css":"dhx_generated_class_u1690959030048","format":"text","value":""}
                    ,{"cell":"X1","css":"dhx_generated_class_u1690959030048","format":"text","value":"第四透鏡"}
                    ,{"cell":"X2","css":"dhx_generated_class_u1690959030048","format":"text","value":"物側面"}
                    ,{"cell":"Y2","css":"dhx_generated_class_u1690959030048","format":"text","value":"像側面"}
                    ,{"cell":"W3","css":"dhx_generated_class_u1690959030048","format":"text","value":"L4屈折力"}
                    ,{"cell":"X3","css":"dhx_generated_class_u1690959030048","format":"text","value":"L4a面型"}
                    ,{"cell":"Y3","css":"dhx_generated_class_u1690959030048","format":"text","value":"L4b面型"}
                    ,{"cell":"Z1","css":"dhx_generated_class_u1690959030049","format":"text","value":""}
                    ,{"cell":"Z2","css":"dhx_generated_class_u1690959030049","format":"text","value":""}
                    ,{"cell":"AB1","css":"dhx_generated_class_u1690959030049","format":"text","value":""}
                    ,{"cell":"AA1","css":"dhx_generated_class_u1690959030049","format":"text","value":"第五透鏡"}
                    ,{"cell":"AA2","css":"dhx_generated_class_u1690959030049","format":"text","value":"物側面"}
                    ,{"cell":"AB2","css":"dhx_generated_class_u1690959030049","format":"text","value":"像側面"}
                    ,{"cell":"Z3","css":"dhx_generated_class_u1690959030049","format":"text","value":"L5屈折力"}
                    ,{"cell":"AA3","css":"dhx_generated_class_u1690959030049","format":"text","value":"L5a面型"}
                    ,{"cell":"AB3","css":"dhx_generated_class_u1690959030049","format":"text","value":"L5b面型"}
                    ,{"cell":"AC1","css":"dhx_generated_class_u1690959030050","format":"text","value":""}
                    ,{"cell":"AC2","css":"dhx_generated_class_u1690959030050","format":"text","value":""}
                    ,{"cell":"AE1","css":"dhx_generated_class_u1690959030050","format":"text","value":""}
                    ,{"cell":"AD1","css":"dhx_generated_class_u1690959030050","format":"text","value":"第六透鏡"}
                    ,{"cell":"AD2","css":"dhx_generated_class_u1690959030050","format":"text","value":"物側面"}
                    ,{"cell":"AE2","css":"dhx_generated_class_u1690959030050","format":"text","value":"像側面"}
                    ,{"cell":"AC3","css":"dhx_generated_class_u1690959030050","format":"text","value":"L6屈折力"}
                    ,{"cell":"AD3","css":"dhx_generated_class_u1690959030050","format":"text","value":"La面型"}
                    ,{"cell":"AE3","css":"dhx_generated_class_u1690959030050","format":"text","value":"L6b面型"}
                    ,{"cell":"AF1","css":"dhx_generated_class_u1690959030051","format":"text","value":""}
                    ,{"cell":"AF2","css":"dhx_generated_class_u1690959030051","format":"text","value":""}
                    ,{"cell":"AH1","css":"dhx_generated_class_u1690959030051","format":"text","value":""}
                    ,{"cell":"AG1","css":"dhx_generated_class_u1690959030051","format":"text","value":"第七透鏡"}
                    ,{"cell":"AG2","css":"dhx_generated_class_u1690959030051","format":"text","value":"物側面"}
                    ,{"cell":"AH2","css":"dhx_generated_class_u1690959030051","format":"text","value":"像側面"}
                    ,{"cell":"AF3","css":"dhx_generated_class_u1690959030051","format":"text","value":"L7屈折力"}
                    ,{"cell":"AG3","css":"dhx_generated_class_u1690959030051","format":"text","value":"L7a面型"}
                    ,{"cell":"AH3","css":"dhx_generated_class_u1690959030051","format":"text","value":"L7b面型"}
                    ,{"cell":"AI1","css":"dhx_generated_class_u1690959030052","format":"text","value":""}
                    ,{"cell":"AI2","css":"dhx_generated_class_u1690959030052","format":"text","value":""}
                    ,{"cell":"AK1","css":"dhx_generated_class_u1690959030052","format":"text","value":""}
                    ,{"cell":"AJ1","css":"dhx_generated_class_u1690959030052","format":"text","value":"第八透鏡"}
                    ,{"cell":"AJ2","css":"dhx_generated_class_u1690959030052","format":"text","value":"物側面"}
                    ,{"cell":"AK2","css":"dhx_generated_class_u1690959030052","format":"text","value":"像側面"}
                    ,{"cell":"AI3","css":"dhx_generated_class_u1690959030052","format":"text","value":"L8屈折力"}
                    ,{"cell":"AJ3","css":"dhx_generated_class_u1690959030052","format":"text","value":"L8a面型"}
                    ,{"cell":"AK3","css":"dhx_generated_class_u1690959030052","format":"text","value":"L8b面型"}
                    ,{"cell":"AL1","css":"dhx_generated_class_u1690959030053","format":"text","value":""}
                    ,{"cell":"AL2","css":"dhx_generated_class_u1690959030053","format":"text","value":""}
                    ,{"cell":"AN1","css":"dhx_generated_class_u1690959030053","format":"text","value":""}
                    ,{"cell":"AM1","css":"dhx_generated_class_u1690959030053","format":"text","value":"第九透鏡"}
                    ,{"cell":"AM2","css":"dhx_generated_class_u1690959030053","format":"text","value":"物側面"}
                    ,{"cell":"AN2","css":"dhx_generated_class_u1690959030053","format":"text","value":"像側面"}
                    ,{"cell":"AL3","css":"dhx_generated_class_u1690959030053","format":"text","value":"L9屈折力"}
                    ,{"cell":"AM3","css":"dhx_generated_class_u1690959030053","format":"text","value":"L9a面型"}
                    ,{"cell":"AN3","css":"dhx_generated_class_u1690959030053","format":"text","value":"L9b面型"}
                    ,{"cell":"AO1","css":"dhx_generated_class_u1690959030054","format":"text","value":""}
                    ,{"cell":"AO2","css":"dhx_generated_class_u1690959030054","format":"text","value":""}
                    ,{"cell":"AQ1","css":"dhx_generated_class_u1690959030054","format":"text","value":""}
                    ,{"cell":"AP1","css":"dhx_generated_class_u1690959030054","format":"text","value":"第十透鏡"}
                    ,{"cell":"AP2","css":"dhx_generated_class_u1690959030054","format":"text","value":"物側面"}
                    ,{"cell":"AQ2","css":"dhx_generated_class_u1690959030054","format":"text","value":"像側面"}
                    ,{"cell":"AO3","css":"dhx_generated_class_u1690959030054","format":"text","value":"L10屈折力"}
                    ,{"cell":"AP3","css":"dhx_generated_class_u1690959030054","format":"text","value":"L10a面型"}
                    ,{"cell":"AQ3","css":"dhx_generated_class_u1690959030054","format":"text","value":"L10b面型"}
                    ,{"cell":"AR1","css":"dhx_generated_class_u1690959030041","format":"text","value":""}
                    ,{"cell":"AR2","css":"dhx_generated_class_u1690959030041","format":"text","value":""}
                    ,{"cell":"AR3","css":"dhx_generated_class_u1690959030041","format":"text","value":"資料ID"}
                    ]
                    ,"cols":[{"width":100},{"width":150},{"width":120},{"width":100},{"width":150},{"width":120},{"width":150},{"width":120},{"width":100},{"width":110},{"width":110},{"width":160},{"width":120}]
                    ,"rows":[{"height":32}]}]
                    ,"styles":{
                     "dhx_generated_class_u1690959030041":{"background":"#FFACAF","text-align":"center","justify-content":"center"}
                    ,"dhx_generated_class_u1690959030042":{"background":"#FFD6A6","text-align":"center","justify-content":"center"}
                    ,"dhx_generated_class_u1690959030043":{"background":"#FDFFB4","text-align":"center","justify-content":"center"}
                    ,"dhx_generated_class_u1690959030044":{"background":"#CCFFBE","text-align":"center","justify-content":"center"}
                    ,"dhx_generated_class_u1690959030045":{"background":"#9BF7FF","text-align":"center","justify-content":"center"}
                    ,"dhx_generated_class_u1690959030046":{"background":"#9FC5FF","text-align":"center","justify-content":"center"}
                    ,"dhx_generated_class_u1690959030047":{"background":"#BFB2FF","text-align":"center","justify-content":"center"}
                    ,"dhx_generated_class_u1690959030048":{"background":"#FFC8FF","text-align":"center","justify-content":"center"}
                    ,"dhx_generated_class_u1690959030049":{"background":"#D8E3DF","text-align":"center","justify-content":"center"}
                    ,"dhx_generated_class_u1690959030050":{"background":"#F48083","text-align":"center","justify-content":"center"}
                    ,"dhx_generated_class_u1690959030051":{"background":"#FCE186","text-align":"center","justify-content":"center"}
                    ,"dhx_generated_class_u1690959030052":{"background":"#E8FFCE","text-align":"center","justify-content":"center"}
                    ,"dhx_generated_class_u1690959030053":{"background":"#9CDDDA","text-align":"center","justify-content":"center"}
                    ,"dhx_generated_class_u1690959030054":{"background":"#0696CA","text-align":"center","justify-content":"center"}}
                    ,"formats":[{"name":"Common","id":"common","mask":"","example":"1500.31"},{"name":"Number","id":"number","mask":"#,##0.00","example":"1500.31"}
                    ,{"name":"Percent","id":"percent","mask":"#,##0.00%","example":"15.0031"},{"name":"Currency","id":"currency","mask":"$#,##0.00","example":"1500.31"}
                    ,{"name":"Date","id":"date","mask":"yy-mm-dd","example":"2023-11-20","dateFormat":"%y/%m/%d"}
                    ,{"name":"Time","id":"time","mask":"h:mm:ss am/pm","example":"0.5625","timeFormat":12}
                    ,{"name":"Text","id":"text","mask":"@@","example":"some text"}]}`;

        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        $(document).ready(function () {
            $("#WaitingTime").hide()

            $(".advanced-block").slideDown("slow");

            ResetSpreadsheet@(itemName)();

            $("#DesignPatentTemporary").css("height", "750px");

            spreadsheet@(itemName).clear();

            //轉移焦點後觸發
            spreadsheet@(itemName).events.on("afterFocusSet", function (cell) {
                if ($("#NowModel").val() == "M") {
                    var rows = cell.substr(1);
                    var objectNo = spreadsheet@(itemName).getValue("B" + rows)
                    var objectNoA = spreadsheet@(itemName).getValue("A" + rows)

                    if (rows > 3) {
                        if (objectNoA == "✎編輯" && spreadsheet@(itemName).isLocked("B" + rows)) {
                            spreadsheet@(itemName).unlock("B" + rows + ":AQ" + rows);
                        }
                        else if (objectNoA != "✎編輯" && objectNo != null && !spreadsheet@(itemName).isLocked("B" + rows)) {
                            spreadsheet@(itemName).lock("B" + rows + ":AQ" + rows);
                        }
                    }
                }
            });

            //點擊觸發
            spreadsheet@(itemName).toolbar.events.on("click", function (id) {
                if (id == "NowModelM") {
                    ClearSearch()
                    NowModel@(itemName)("M");
                    //InitData@(itemName)(objPage@(itemName))
                }
                if (id == "NowModelW") {
                    NowModel@(itemName)("W");
                }
                if ($("#NowModel").val() == "M") {
                    if (id == "Search") {
                        Search@(itemName)();
                    }
                    else if (id == "Update") {
                        UpdateExcelData@(itemName)();
                    }
                    else if (id == "Delete") {
                        DeleteExcelData@(itemName)();
                    }
                    else if (id == "DownloadExcel") {
                        DownloadExcel@(itemName)();
                    }
                    else if (id == "NowModelM") {
                    }
                    else {
                        alert("非建立模式下不可以使用該功能!!")
                    }
                }
                else if ($("#NowModel").val() == "W") {

                    if (id == "Save") {
                        SaveExcelData@(itemName)();
                    }
                    else if (id == "Import") {
                        ImportExcel@(itemName)();
                    }
                    else if (id == "NowModelW") {
                    }
                    else {
                        alert("非管理模式下不可以使用該功能!!")
                    }
                }
                else {
                    alert("當前模式狀態有問題，請重新整理確認!!")
                }
            });
            for (var i = 1; i <= 10; i++) {
                $(`.LensQuantity${i}`).hide()
            }

            $("#txtLensQuantityQ@(itemName)").change(function () {
                RestSelectItem()
                for (var i = 1; i <= 10; i++) {
                    $(`.LensQuantity${i}`).hide()
                }
                var LensQuantity = $("#txtLensQuantityQ@(itemName)").val()

                if (LensQuantity < 1) {
                    alert("最小值為1")
                    $("#txtLensQuantityQ@(itemName)").val("")
                    return
                }
                if (LensQuantity > 10) {
                    alert("最大值為10")
                    $("#txtLensQuantityQ@(itemName)").val("")
                    return
                }

                for (var i = 1; i <= LensQuantity; i++){
                    $(`.LensQuantity${i}`).show()
                }
            })

            Suites.DatePicker("txtApplicationDateQ@(itemName)", "");
            Suites.DatePicker("txtPublicationDateQ@(itemName)", "");
            Suites.DatePicker("txtAnnouncementDateQ@(itemName)", "");


            RestSelectItem()

            GetUserInfo@(itemName)()
            Return@(itemName)();

        });

        function GetUserInfo@(itemName)() {
            var AuthorityBase = ""
            var AuthorityList = []
            let targetUrl = "@Url.Action("GetUserAuthority", "ResearchAndDevelopment")";
            let postData = {
                "UserNo": $.cookie("Login"),
                "KeyText": $.cookie("LoginKey")
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                if (data.result.length > 0) {

                    $.each(data.result, function (i, item) {
                        UserAuthority.push(item.DetailCode)
                        AuthorityBase = item.AuthorityBase
                    })
                }
            }
            else {
                alert(data.msg, "alert", 0);
            }
            AuthorityList = AuthorityBase.split(",").filter(item => !UserAuthority.includes(item));
            if (AuthorityList.length > 0) {
                $.each(AuthorityList, function (i, item) {
                    if (item == "read") {
                        spreadsheet@(itemName).toolbar.data.remove("NowModelM");
                        spreadsheet@(itemName).toolbar.data.remove("Search");
                        spreadsheet@(itemName).toolbar.data.remove("DownloadExcel");
                    }
                    else if (item == "add") {
                        spreadsheet@(itemName).toolbar.data.remove("NowModelW");
                        spreadsheet@(itemName).toolbar.data.remove("Save");
                        spreadsheet@(itemName).toolbar.data.remove("Import");
                    }
                    else if (item == "update") {
                        spreadsheet@(itemName).toolbar.data.remove("Update");
                    }
                    else if (item == "delete") {
                        spreadsheet@(itemName).toolbar.data.remove("Delete");
                    }
                })
            }
        }

        function ResetSpreadsheet@(itemName)() {
            $("#DesignPatentTemporary").empty();
            var num = 0;
            let targetUrl = "@Url.Action("GetDesignPatentCount", "ResearchAndDevelopment")";
            let postData = {
            };

            let data = DataAccess.EditContinued(targetUrl, postData, false);

            if (data) {
                num = data.result[0];
            }

            spreadsheet@(itemName) = new dhx.Spreadsheet("DesignPatentTemporary", {
                colsCount: 43,
                rowsCount: 2000,
                topSplit: 3,
                menu: false,
                dateFormat: "%Y-%m-%d",
                toolbarBlocks: [
                    "format"
                ]
            });

            spreadsheet@(itemName).toolbar.data.add({
                type: "button",
                icon: "fas fa-table ",
                tooltip: "管理模式",
                id: "NowModelM",
                class:"pop-view "
            });

            spreadsheet@(itemName).toolbar.data.add({
                type: "button",
                icon: "fas fa-search auth-test",
                tooltip: "搜尋",
                id: "Search",
                class:"pop-view"
            });

            spreadsheet@(itemName).toolbar.data.add({
                type: "button",
                icon: "fas fa-save",
                tooltip: "更新數據",
                id: "Update"
            });

            spreadsheet@(itemName).toolbar.data.add({
                type: "button",
                icon: "fas fa-trash-alt",
                tooltip: "刪除選取數據",
                id: "Delete"
            });

            spreadsheet@(itemName).toolbar.data.add({
                type: "button",
                icon: "fas fa-download",
                tooltip: "下載當前EXCEL",
                id: "DownloadExcel"
            });

            spreadsheet@(itemName).toolbar.data.add({
                type: "button",
                icon: "fas fa-layer-plus",
                tooltip: "建立模式",
                id: "NowModelW",
                class:"pop-view"
            });

            spreadsheet@(itemName).toolbar.data.add({
                type: "button",
                icon: "fas fa-upload",
                tooltip: "上傳數據",
                id: "Save"
            });

            spreadsheet@(itemName).toolbar.data.add({
                type: "button",
                icon: "fas fa-file-excel",
                tooltip: "匯入Excel",
                id: "Import"
            });

            if (num > 2000) {
                for (var i = 2; i <= Math.ceil(num / 2000); i++) {
                    var newSheetName = `sheet${i}`
                    
                    var newSheetObj = JSON.parse(DesignPatentData);

                    newSheetObj.sheets = newSheetObj.sheets.concat(templateSheets(newSheetName));

                    DesignPatentData = JSON.stringify(newSheetObj);

                    spreadsheet@(itemName).addSheet(newSheetName);
                    spreadsheet@(itemName).parse(newSheetObj);
                    spreadsheetData@(itemName) = newSheetObj;
                }
            }
        }

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName), 99999999);

            $("#modalQuery@(itemName)").modal("hide");
        }

        function SearchQuery@(itemName)() {
            var LensQuantity = $("#txtLensQuantityQ@(itemName)").val()
            if (LensQuantity <= 0) {
                alert("透鏡數量是必填!!!!")
                return
            }
            objPage@(itemName).pageIndex = 0;
            $("#loaderWrpper").show();

            setTimeout(function () {
                InitData@(itemName)(objPage@(itemName));
            }, 1000);

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage, DpId) {
            //$("#loaderWrpper").show()
            //setTimeout(function () {
            //    $("#loaderWrpper").show();

            //    // 这里放其他逻辑
            //}, 0);
            //alert("A")
            
            var rows = 1;
            let targetUrl = "@Url.Action("GetDesignPatentExcel", "ResearchAndDevelopment")";
            let postData = {
                "DpId": DpId,
                "ApplicationNo": $("#txtApplicationNoQ@(itemName)").val(),
                "ApplicationDate": $("#txtApplicationDateQ@(itemName)").val(),
                "Applicant": $("#txtApplicantQ@(itemName)").val(),
                "PublicationNo": $("#txtPublicationNoQ@(itemName)").val(),
                "PublicationDate": $("#txtPublicationDateQ@(itemName)").val(),
                "AnnouncementNo": $("#txtAnnouncementNoQ@(itemName)").val(),
                "AnnouncementDate": $("#txtAnnouncementDateQ@(itemName)").val(),
                "ImplementationExample": $("#txtImplementationExampleQ@(itemName)").val(),
                "LensQuantity": $("#txtLensQuantityQ@(itemName)").val(),
                "AperturePosition": $("#txtAperturePositionQ@(itemName)").val(),
                "HalfFieldofView": $("#txtHalfFieldofViewQ@(itemName)").val(),
                "ImageHeight": $("#txtImageHeightQ@(itemName)").val(),
                "L1RefractivePower": $("#cboL1RefractivePowerQ@(itemName)").val(),
                "L1aSurfaceType": $("#cboL1aSurfaceTypeQ@(itemName)").val(),
                "L1bSurfaceType": $("#cboL1bSurfaceTypeQ@(itemName)").val(),
                "L2RefractivePower": $("#cboL2RefractivePowerQ@(itemName)").val(),
                "L2aSurfaceType": $("#cboL2aSurfaceTypeQ@(itemName)").val(),
                "L2bSurfaceType": $("#cboL2bSurfaceTypeQ@(itemName)").val(),
                "L3RefractivePower": $("#cboL3RefractivePowerQ@(itemName)").val(),
                "L3aSurfaceType": $("#cboL3aSurfaceTypeQ@(itemName)").val(),
                "L3bSurfaceType": $("#cboL3bSurfaceTypeQ@(itemName)").val(),
                "L4RefractivePower": $("#cboL4RefractivePowerQ@(itemName)").val(),
                "L4aSurfaceType": $("#cboL4aSurfaceTypeQ@(itemName)").val(),
                "L4bSurfaceType": $("#cboL4bSurfaceTypeQ@(itemName)").val(),
                "L5RefractivePower": $("#cboL5RefractivePowerQ@(itemName)").val(),
                "L5aSurfaceType": $("#cboL5aSurfaceTypeQ@(itemName)").val(),
                "L5bSurfaceType": $("#cboL5bSurfaceTypeQ@(itemName)").val(),
                "L6RefractivePower": $("#cboL6RefractivePowerQ@(itemName)").val(),
                "L6aSurfaceType": $("#cboL6aSurfaceTypeQ@(itemName)").val(),
                "L6bSurfaceType": $("#cboL6bSurfaceTypeQ@(itemName)").val(),
                "L7RefractivePower": $("#cboL7RefractivePowerQ@(itemName)").val(),
                "L7aSurfaceType": $("#cboL7aSurfaceTypeQ@(itemName)").val(),
                "L7bSurfaceType": $("#cboL7bSurfaceTypeQ@(itemName)").val(),
                "L8RefractivePower": $("#cboL8RefractivePowerQ@(itemName)").val(),
                "L8aSurfaceType": $("#cboL8aSurfaceTypeQ@(itemName)").val(),
                "L8bSurfaceType": $("#cboL8bSurfaceTypeQ@(itemName)").val(),
                "L9RefractivePower": $("#cboL9RefractivePowerQ@(itemName)").val(),
                "L9aSurfaceType": $("#cboL9aSurfaceTypeQ@(itemName)").val(),
                "L9bSurfaceType": $("#cboL9bSurfaceTypeQ@(itemName)").val(),
                "LXRefractivePower": $("#cboLXRefractivePowerQ@(itemName)").val(),
                "LXaSurfaceType": $("#cboLXaSurfaceTypeQ@(itemName)").val(),
                "LXbSurfaceType": $("#cboLXbSurfaceTypeQ@(itemName)").val()
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                if (data.result.length > 0) {
                    var sheetIndex = 1;
                    $(".SearchCount span").text(`目前找到符合條件有${data.result.length}筆資料`)
                    let dataset = JSON.parse(DesignPatentData);
                    spreadsheet@(itemName).parse(dataset);
                    spreadsheetData@(itemName) = dataset;
                    let numTEST = 0;
                    $.each(data.result, function (i, item) {
                        numTEST++
                        rows = i + 4

                        if (i % 2000 == 0 && i != 0) {
                            sheetIndex += 1
                        }
                        if (sheetIndex != 1) {
                            rows = i - (sheetIndex * 2000) + 2004
                        }

                        spreadsheet@(itemName).setValidation(`sheet${sheetIndex}!A` + rows, ["👁️查看", "✎編輯", "🗑️刪除"])
                        spreadsheet@(itemName).setValue(`sheet${sheetIndex}!A` + rows,"👁️查看")
                        spreadsheet@(itemName).setValue(`sheet${sheetIndex}!B` + rows, item.ApplicationNo)
                        spreadsheet@(itemName).setValue(`sheet${sheetIndex}!C` + rows, item.ApplicationDate)
                        spreadsheet@(itemName).setValue(`sheet${sheetIndex}!D` + rows, item.Applicant)
                        spreadsheet@(itemName).setValue(`sheet${sheetIndex}!E` + rows, item.PublicationNo)
                        spreadsheet@(itemName).setValue(`sheet${sheetIndex}!F` + rows, item.PublicationDate)
                        spreadsheet@(itemName).setValue(`sheet${sheetIndex}!G` + rows, item.AnnouncementNo)
                        spreadsheet@(itemName).setValue(`sheet${sheetIndex}!H` + rows, item.AnnouncementDate)
                        spreadsheet@(itemName).setValue(`sheet${sheetIndex}!I` + rows, item.ImplementationExample)
                        spreadsheet@(itemName).setValue(`sheet${sheetIndex}!J` + rows, item.LensQuantity)
                        spreadsheet@(itemName).setValue(`sheet${sheetIndex}!K` + rows, item.AperturePosition)
                        spreadsheet@(itemName).setValue(`sheet${sheetIndex}!L` + rows, item.HalfFieldofView)
                        spreadsheet@(itemName).setValue(`sheet${sheetIndex}!M` + rows, item.ImageHeight)
                        spreadsheet@(itemName).setValue(`sheet${sheetIndex}!N` + rows, item.L1RefractivePower)
                        spreadsheet@(itemName).setValue(`sheet${sheetIndex}!O` + rows, item.L1aSurfaceType)
                        spreadsheet@(itemName).setValue(`sheet${sheetIndex}!P` + rows, item.L1bSurfaceType)
                        spreadsheet@(itemName).setValue(`sheet${sheetIndex}!Q` + rows, item.L2RefractivePower)
                        spreadsheet@(itemName).setValue(`sheet${sheetIndex}!R` + rows, item.L2aSurfaceType)
                        spreadsheet@(itemName).setValue(`sheet${sheetIndex}!S` + rows, item.L2bSurfaceType)
                        spreadsheet@(itemName).setValue(`sheet${sheetIndex}!T` + rows, item.L3RefractivePower)
                        spreadsheet@(itemName).setValue(`sheet${sheetIndex}!U` + rows, item.L3aSurfaceType)
                        spreadsheet@(itemName).setValue(`sheet${sheetIndex}!V` + rows, item.L3bSurfaceType)
                        spreadsheet@(itemName).setValue(`sheet${sheetIndex}!W` + rows, item.L4RefractivePower)
                        spreadsheet@(itemName).setValue(`sheet${sheetIndex}!X` + rows, item.L4aSurfaceType)
                        spreadsheet@(itemName).setValue(`sheet${sheetIndex}!Y` + rows, item.L4bSurfaceType)
                        spreadsheet@(itemName).setValue(`sheet${sheetIndex}!Z` + rows, item.L5RefractivePower)
                        spreadsheet@(itemName).setValue(`sheet${sheetIndex}!AA` + rows, item.L5aSurfaceType)
                        spreadsheet@(itemName).setValue(`sheet${sheetIndex}!AB` + rows, item.L5bSurfaceType)
                        spreadsheet@(itemName).setValue(`sheet${sheetIndex}!AC` + rows, item.L6RefractivePower)
                        spreadsheet@(itemName).setValue(`sheet${sheetIndex}!AD` + rows, item.L6aSurfaceType)
                        spreadsheet@(itemName).setValue(`sheet${sheetIndex}!AE` + rows, item.L6bSurfaceType)
                        spreadsheet@(itemName).setValue(`sheet${sheetIndex}!AF` + rows, item.L7RefractivePower)
                        spreadsheet@(itemName).setValue(`sheet${sheetIndex}!AG` + rows, item.L7aSurfaceType)
                        spreadsheet@(itemName).setValue(`sheet${sheetIndex}!AH` + rows, item.L7bSurfaceType)
                        spreadsheet@(itemName).setValue(`sheet${sheetIndex}!AI` + rows, item.L8RefractivePower)
                        spreadsheet@(itemName).setValue(`sheet${sheetIndex}!AJ` + rows, item.L8aSurfaceType)
                        spreadsheet@(itemName).setValue(`sheet${sheetIndex}!AK` + rows, item.L8bSurfaceType)
                        spreadsheet@(itemName).setValue(`sheet${sheetIndex}!AL` + rows, item.L9RefractivePower)
                        spreadsheet@(itemName).setValue(`sheet${sheetIndex}!AM` + rows, item.L9aSurfaceType)
                        spreadsheet@(itemName).setValue(`sheet${sheetIndex}!AN` + rows, item.L9bSurfaceType)
                        spreadsheet@(itemName).setValue(`sheet${sheetIndex}!AO` + rows, item.LXRefractivePower)
                        spreadsheet@(itemName).setValue(`sheet${sheetIndex}!AP` + rows, item.LXaSurfaceType)
                        spreadsheet@(itemName).setValue(`sheet${sheetIndex}!AQ` + rows, item.LXbSurfaceType)
                        spreadsheet@(itemName).setValue(`sheet${sheetIndex}!AR` + rows, item.DpId)

                        for (let i = 2; i <= lettersArray.length; i++) {
                            const columnLetter = lettersArray[i - 1];
                            spreadsheet@(itemName).setFormat(columnLetter + rows, 'text');
                            //spreadsheet@(itemName).lock(`sheet${sheetIndex}!`+columnLetter + rows);
                        }

                    })
                    //$("#loaderWrpper").hide()
                    
                    if (data.result.length == numTEST) {
                        $("#loaderWrpper").hide()
                    }
                    spreadsheet@(itemName).lock(`A1:AR1`);
                    spreadsheet@(itemName).lock(`A2:AR2`);
                    spreadsheet@(itemName).lock(`A3:AR3`);
                }
                else {
                    let dataset = JSON.parse(DesignPatentData);
                    spreadsheet@(itemName).parse(dataset);
                    spreadsheetData@(itemName) = dataset;
                    spreadsheet@(itemName).lock("A1:AR1");
                    spreadsheet@(itemName).lock("A2:AR2");
                    spreadsheet@(itemName).lock("A3:AR3");
                }
            }
            else {
                alert(data.msg, "alert", 0);
                let dataset = JSON.parse(DesignPatentData);
                spreadsheet@(itemName).parse(dataset);
                spreadsheetData@(itemName) = dataset;
                spreadsheet@(itemName).lock("A1:AR1");
                spreadsheet@(itemName).lock("A2:AR2");
                spreadsheet@(itemName).lock("A3:AR3");
            }
            //$("#loaderWrpper").hide()
        }

        function NowModel@(itemName)(ModelType) {
            //M:管理模式 W:編寫模式
            if (ModelType == "M") {
                $("#NowModel").val("M")
                $(".NowModelTitle").text("管理模式")
                $(".SearchCount").show()
                $(".SearchCount span").text(``)
                let dataset = JSON.parse(DesignPatentData);
                spreadsheet@(itemName).parse(dataset);
                spreadsheetData@(itemName) = dataset;
                spreadsheet@(itemName).lock("A1:AR1");
                spreadsheet@(itemName).lock("A2:AR2");
                spreadsheet@(itemName).lock("A3:AR3");
                //InitData@(itemName)(objPage@(itemName));
            }
            else if (ModelType == "W") {
                $("#NowModel").val("W")
                $(".NowModelTitle").text("建立模式")
                $(".SearchCount").hide()
                let dataset = JSON.parse(DesignPatentData);
                spreadsheet@(itemName).parse(dataset);
                spreadsheetData@(itemName) = dataset;
                spreadsheet@(itemName).lock("A1:AP1");
                spreadsheet@(itemName).lock("A2:AP2");
                spreadsheet@(itemName).lock("A3:AP3");
            }
        }

        function Search@(itemName)() {
            $("#modalQuery@(itemName)").modal("show");
        }

        function SaveExcelData@(itemName)() {

            spreadsheetJson@(itemName).spreadsheetInfo = [];
            spreadsheetData@(itemName) = spreadsheet@(itemName).serialize();

            var DpIdUpdateList = [];
            $.each(spreadsheetData@(itemName).sheets[0].data, function (i, item) {
                let cell = item.cell;

                if (cell.charAt(0) == "B" && parseInt(cell.substring(1))) {
                    row = parseInt(cell.substring(1))
                    if (row > 3 && item.value != undefined) {
                        var DpIdUpdateObj = {};
                        FieldList.forEach(function (item, index) {
                            const value = spreadsheet@(itemName).getValue(lettersArray[index+1] + row);
                            DpIdUpdateObj[item] = value;
                        })

                        DpIdUpdateList.push(DpIdUpdateObj)
                    }
                }
            });

            if (DpIdUpdateList.length > 0) {
                swal.fire({
                    titleText: "確認要上傳數據嗎?",
                    text: "請確認是否要執行!",
                    icon: "warning",
                    allowOutsideClick: false,
                    allowEscapeKey: false,
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        let targetUrl = "@Url.Action("AddDesignPatentExcel", "ResearchAndDevelopment")";
                        let postData = {
                            "DpIdList": JSON.stringify(DpIdUpdateList)
                        };

                        let data = DataAccess.EditContinued(targetUrl, postData, false);

                        if (data) {
                            alert(data.result, "success", 5000);
                            //alert("確認成功", "success", 0);
                            Query@(itemName)()
                        }
                    }
                });
            }
            else {
                alert("請編寫要上傳的數據!!!")
            }
        }

        function UpdateExcelData@(itemName)() {
            spreadsheetJson@(itemName).spreadsheetInfo = [];
            spreadsheetData@(itemName) = spreadsheet@(itemName).serialize();

            var DpIdUpdateList = [];

            $.each(spreadsheetData@(itemName).sheets[0].data, function (i, item) {
                let cell = item.cell;
                if (cell.charAt(0) == "A" && parseInt(cell.substring(1))) {
                    row = parseInt(cell.substring(1))
                    if (row > 3 && item.value == "✎編輯") {
                        var DpIdUpdateObj = {};
                        FieldList.forEach(function (item, index) {
                            const value = spreadsheet@(itemName).getValue(lettersArray[index + 1] + row);
                            DpIdUpdateObj[item] = value;
                        })

                        DpIdUpdateList.push(DpIdUpdateObj)
                    }
                }
            });


            if (DpIdUpdateList.length > 0) {
                swal.fire({
                    titleText: "確認要更新選取數據嗎?",
                    text: "此動作無法復原，請確認是否要執行!",
                    icon: "warning",
                    allowOutsideClick: false,
                    allowEscapeKey: false,
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        let targetUrl = "@Url.Action("UpdateDesignPatentExcel", "ResearchAndDevelopment")";
                        let postData = {
                            "DpIdList": JSON.stringify(DpIdUpdateList)
                        };

                        let result = DataAccess.Update(targetUrl, postData, false, true);

                        if (result) {
                            alert(data.result, "success", 5000);
                            Return@(itemName)();
                        }
                    }
                });
            }
            else {
                alert("請選擇要更新的資料")
            }
        }

        function DeleteExcelData@(itemName)() {
            spreadsheetJson@(itemName).spreadsheetInfo = [];
            spreadsheetData@(itemName) = spreadsheet@(itemName).serialize();

            var DpIdDeleteList = [];
            $.each(spreadsheetData@(itemName).sheets[0].data, function (i, item) {
                let cell = item.cell;

                if (cell.charAt(0) == "A" && parseInt(cell.substring(1))) {
                    row = parseInt(cell.substring(1))
                    if (row > 3 && item.value == "🗑️刪除") {
                        var DpId = spreadsheet@(itemName).getValue("AR" + row)
                        DpIdDeleteList.push(DpId)
                    }
                }
            });
            if (DpIdDeleteList.length > 0) {
                swal.fire({
                    titleText: "確認要刪除選取數據嗎?",
                    text: "此動作無法復原，請確認是否要執行!",
                    icon: "warning",
                    allowOutsideClick: false,
                    allowEscapeKey: false,
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        let targetUrl = "@Url.Action("DelteDesignPatentExcel", "ResearchAndDevelopment")";
                        let postData = {
                            "DpIdList": DpIdDeleteList.join(",")
                        };

                        let result = DataAccess.Delete(targetUrl, postData, false, true);

                        if (result) {
                            Return@(itemName)();
                        }
                    }
                });
            }
            else {
                alert("請選擇要刪除的資料")
            }
        }

        function ImportExcel@(itemName)() {
            spreadsheet@(itemName).load("", "xlsx").then(function () {
                spreadsheet@(itemName).lock("A1:AP1");
                spreadsheet@(itemName).lock("A2:AP2");
                spreadsheet@(itemName).lock("A3:AP3");
            });
        }

        function DownloadExcel@(itemName)() {
            spreadsheet@(itemName).export.xlsx();
        }

        function ClearSearch() {
            $("#txtApplicationNoQ@(itemName)").val("");
            $("#txtApplicationDateQ@(itemName)").val("");
            $("#txtApplicantQ@(itemName)").val("");
            $("#txtPublicationNoQ@(itemName)").val("");
            $("#txtPublicationDateQ@(itemName)").val("");
            $("#txtAnnouncementNoQ@(itemName)").val("");
            $("#txtAnnouncementDateQ@(itemName)").val("");
            $("#txtImplementationExampleQ@(itemName)").val("");
            $("#txtLensQuantityQ@(itemName)").val("");
            $("#txtAperturePositionQ@(itemName)").val("");
            $("#txtHalfFieldofViewQ@(itemName)").val("");
            $("#txtImageHeightQ@(itemName)").val("");
            $("#cboL1RefractivePowerQ@(itemName)").val("");
            $("#cboL1aSurfaceTypeQ@(itemName)").val("");
            $("#cboL1bSurfaceTypeQ@(itemName)").val("");
            $("#cboL2RefractivePowerQ@(itemName)").val("");
            $("#cboL2aSurfaceTypeQ@(itemName)").val("");
            $("#cboL2bSurfaceTypeQ@(itemName)").val("");
            $("#cboL3RefractivePowerQ@(itemName)").val("");
            $("#cboL3aSurfaceTypeQ@(itemName)").val("");
            $("#cboL3bSurfaceTypeQ@(itemName)").val("");
            $("#cboL4RefractivePowerQ@(itemName)").val("");
            $("#cboL4aSurfaceTypeQ@(itemName)").val("");
            $("#cboL4bSurfaceTypeQ@(itemName)").val("");
            $("#cboL5RefractivePowerQ@(itemName)").val("");
            $("#cboL5aSurfaceTypeQ@(itemName)").val("");
            $("#cboL5bSurfaceTypeQ@(itemName)").val("");
            $("#cboL6RefractivePowerQ@(itemName)").val("");
            $("#cboL6aSurfaceTypeQ@(itemName)").val("");
            $("#cboL6bSurfaceTypeQ@(itemName)").val("");
            $("#cboL7RefractivePowerQ@(itemName)").val("");
            $("#cboL7aSurfaceTypeQ@(itemName)").val("");
            $("#cboL7bSurfaceTypeQ@(itemName)").val("");
            $("#cboL8RefractivePowerQ@(itemName)").val("");
            $("#cboL8aSurfaceTypeQ@(itemName)").val("");
            $("#cboL8bSurfaceTypeQ@(itemName)").val("");
            $("#cboL9RefractivePowerQ@(itemName)").val("");
            $("#cboL9aSurfaceTypeQ@(itemName)").val("");
            $("#cboL9bSurfaceTypeQ@(itemName)").val("");
            $("#cboLXRefractivePowerQ@(itemName)").val("");
            $("#cboLXaSurfaceTypeQ@(itemName)").val("");
            $("#cboLXbSurfaceTypeQ@(itemName)").val("");
        }

        function RestSelectItem() {
            ComboBoxs.Default(
                `#cboL1RefractivePowerQ@(itemName),
                 #cboL2RefractivePowerQ@(itemName),
                 #cboL3RefractivePowerQ@(itemName),
                 #cboL4RefractivePowerQ@(itemName),
                 #cboL5RefractivePowerQ@(itemName),
                 #cboL6RefractivePowerQ@(itemName),
                 #cboL7RefractivePowerQ@(itemName),
                 #cboL8RefractivePowerQ@(itemName),
                 #cboL9RefractivePowerQ@(itemName),
                 #cboLXRefractivePowerQ@(itemName)`
                , "@Url.Action("GetStatus", "BasicInformation")", { "StatusSchema": "DesignPatent.RefractivePower", "Status": "A" }, "", "NA", "", "StatusName", "StatusName");

            ComboBoxs.Default(
                `#cboL1aSurfaceTypeQ@(itemName), #cboL1bSurfaceTypeQ@(itemName),
                 #cboL2aSurfaceTypeQ@(itemName), #cboL2bSurfaceTypeQ@(itemName),
                 #cboL3aSurfaceTypeQ@(itemName), #cboL3bSurfaceTypeQ@(itemName),
                 #cboL4aSurfaceTypeQ@(itemName), #cboL4bSurfaceTypeQ@(itemName),
                 #cboL5aSurfaceTypeQ@(itemName), #cboL5bSurfaceTypeQ@(itemName),
                 #cboL6aSurfaceTypeQ@(itemName), #cboL6bSurfaceTypeQ@(itemName),
                 #cboL7aSurfaceTypeQ@(itemName), #cboL7bSurfaceTypeQ@(itemName),
                 #cboL8aSurfaceTypeQ@(itemName), #cboL8bSurfaceTypeQ@(itemName),
                 #cboL9aSurfaceTypeQ@(itemName), #cboL9bSurfaceTypeQ@(itemName),
                 #cboLXaSurfaceTypeQ@(itemName), #cboLXbSurfaceTypeQ@(itemName)`
                , "@Url.Action("GetStatus", "BasicInformation")", { "StatusSchema": "DesignPatent.Parameter", "Status": "A" }, "", "NA", "", "StatusName", "StatusName"); //確認者
            if (!isMobile) {
                $(`#cboL1RefractivePowerQ@(itemName), #cboL1aSurfaceTypeQ@(itemName), #cboL1bSurfaceTypeQ@(itemName),
                   #cboL2RefractivePowerQ@(itemName), #cboL2aSurfaceTypeQ@(itemName), #cboL2bSurfaceTypeQ@(itemName),
                   #cboL3RefractivePowerQ@(itemName), #cboL3aSurfaceTypeQ@(itemName), #cboL3bSurfaceTypeQ@(itemName),
                   #cboL4RefractivePowerQ@(itemName), #cboL4aSurfaceTypeQ@(itemName), #cboL4bSurfaceTypeQ@(itemName),
                   #cboL5RefractivePowerQ@(itemName), #cboL5aSurfaceTypeQ@(itemName), #cboL5bSurfaceTypeQ@(itemName),
                   #cboL6RefractivePowerQ@(itemName), #cboL6aSurfaceTypeQ@(itemName), #cboL6bSurfaceTypeQ@(itemName),
                   #cboL7RefractivePowerQ@(itemName), #cboL7aSurfaceTypeQ@(itemName), #cboL7bSurfaceTypeQ@(itemName),
                   #cboL8RefractivePowerQ@(itemName), #cboL8aSurfaceTypeQ@(itemName), #cboL8bSurfaceTypeQ@(itemName),
                   #cboL9RefractivePowerQ@(itemName), #cboL9aSurfaceTypeQ@(itemName), #cboL9bSurfaceTypeQ@(itemName),
                   #cboLXRefractivePowerQ@(itemName), #cboLXaSurfaceTypeQ@(itemName), #cboLXbSurfaceTypeQ@(itemName)
                `).select2({
                    width: "100%"
                });
            }
        }


        function Return@(itemName)() {
            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName)", "#editData@(itemName), .unit-block, .advanced-block");
            Query@(itemName)();
        }


</script>
                )