@using Business_Manager.Helpers
@{
    string itemName = "LensFOVManagement";
    string itemNameText = "鏡頭FOV管理";
    string authority = ViewBag.authority;
    ViewBag.Title = itemNameText;
}

<script src="@Url.Content("~/Scripts/dhtmlx/spreadsheet.commercial/4.3.0/spreadsheet.min.js")"></script>
<link href="@Url.Content("~/Content/dhtmlx/spreadsheet.commercial/4.3.0/spreadsheet.min.css")" rel="stylesheet" />


@Html.Resource("css",
    @<style>
         #ModelDesignTable tr th {
             border: 1px solid;
             padding: 5px 10px;
             border-color: #c9cdcf
         }

         #ModelDesignTable tr td {
             border: 1px solid;
             padding: 5px 10px;
             border-color: #c9cdcf
         }
        .illustrateStatus{
            margin-top:10px;
            letter-spacing:2px;
            width:350px;
        }
        
    </style>
                )

<input type="hidden" id="pageAuthority" value="@authority" />

<div class="row">
    <div class="col-12 title-block">
        <h1 class="pt-2 pb-3">@(itemNameText)</h1>
        <div class="unit-block">
            <div class="button-block mb-1">
                <button type="button" class="btn btn-secondary" onclick="Return@(itemName)()"><i class="fas fa-undo"></i>返回</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalQuery@(itemName)">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">搜尋</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtModelNameQ@(itemName)">機種名稱</label>
                            <div class="col-12">
                                <input type="text" class="form-control" id="txtModelNameQ@(itemName)" name="txtModelNameQ@(itemName)" placeholder="請輸入機種名稱"
                                       data-msg-required="請輸入機種名稱" data-rule-required="true" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtFOVQ@(itemName)">FOV</label>
                            <div class="col-12">
                                <input type="number" class="form-control" id="txtFOVQ@(itemName)" name="txtFOVQ@(itemName)" placeholder="請輸入FOV"
                                       data-msg-required="請輸入FOV" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-form-label" for="txtRealHeightQ@(itemName)">Real Height</label>
                            <div class="col-12">
                                <input type="number" class="form-control" id="txtRealHeightQ@(itemName)" name="txtRealHeightQ@(itemName)" placeholder="請輸入Real Height"
                                       data-msg-required="請輸入RealHeight" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Query@(itemName)()" style="margin: auto;"><i class="fal fa-wrench"></i>套用</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModelDesign@(itemName)">
    <div class="modal-dialog modal-ml">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><span id="ModelDesignTitle"></span> 機種設計值</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)">
                    <fieldset style="display:flex;justify-content:center;">
                        <table id="ModelDesignTable">
                            <tr>
                                <th>欄位</th>
                                <th>設計值</th>
                            </tr>
                            <tr>
                                <th>Model</th>
                                <td id="desModel"></td>
                            </tr>
                            <tr>
                                <th>Construction</th>
                                <td id="desConstruction"></td>
                            </tr>
                            <tr>
                                <th>EFL</th>
                                <td id="desEFL"></td>
                            </tr>
                            <tr>
                                <th>FNo</th>
                                <td id="desFNo"></td>
                            </tr>
                            <tr>
                                <th>TTL</th>
                                <td id="desTTL"></td>
                            </tr>
                            <tr>
                                <th>CRA</th>
                                <td id="desCRA"></td>
                            </tr>
                            <tr>
                                <th>OpticalDistortionFTan</th>
                                <td id="desOpticalDistortionFTan"></td>
                            </tr>
                            <tr>
                                <th>OpticalDistortionF</th>
                                <td id="desOpticalDistortionF"></td>
                            </tr>
                            <tr>
                                <th>MaxImageCircle</th>
                                <td id="desMaxImageCircle"></td>
                            </tr>
                            <tr>
                                <th>Sensor</th>
                                <td id="desSensor"></td>
                            </tr>
                            <tr>
                                <th>VFOV</th>
                                <td id="desVFOV"></td>
                            </tr>
                            <tr>
                                <th>HFOV</th>
                                <td id="desHFOV"></td>
                            </tr>
                            <tr>
                                <th>DFOV</th>
                                <td id="desDFOV"></td>
                            </tr>
                            <tr>
                                <th>PartName</th>
                                <td id="desPartName"></td>
                            </tr>
                            <tr>
                                <th>IR</th>
                                <td id="desIR"></td>
                            </tr>
                            <tr>
                                <th>MechanicalRetainer</th>
                                <td id="desMechanicalRetainer"></td>
                            </tr>
                            <tr>
                                <th>MechanicalFBL</th>
                                <td id="desMechanicalFBL"></td>
                            </tr>
                            <tr>
                                <th>MechanicalThread</th>
                                <td id="desMechanicalThread"></td>
                            </tr>
                            <tr>
                                <th>IPRating</th>
                                <td id="desIPRating"></td>
                            </tr>
                            <tr>
                                <th>Stage</th>
                                <td id="desStage"></td>
                            </tr>
                        </table>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModelDesignList@(itemName)" style="overflow:auto;">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">機種設計值列表</h5>
                <button class="close" data-dismiss="modal" type="button">
                    <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <form class="container" autocomplete="off" id="queryForm@(itemName)" style="overflow:scroll;">
                    <fieldset style="display:flex;justify-content:center;">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="ModelDesignListData@(itemName)">
                                <thead>
                                    <tr>
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th scope="col" style="min-width: 150px;">Model</th>
                                        <th scope="col" style="min-width: 200px;">Construction</th>
                                        <th scope="col" style="min-width: 200px;">EFL(mm)</th>
                                        <th scope="col" style="min-width: 200px;">F/No</th>
                                        <th scope="col" style="min-width: 200px;">TTL</th>
                                        <th scope="col" style="min-width: 200px;">CRA</th>
                                        <th scope="col" style="min-width: 200px;">OpticalDistortion</th>
                                        <th scope="col" style="min-width: 200px;">OpticalDistortion</th>
                                        <th scope="col" style="min-width: 200px;">MaxImageCircle</th>
                                        <th scope="col" style="min-width: 200px;">Sensor</th>
                                        <th scope="col" style="min-width: 200px;">VFOV</th>
                                        <th scope="col" style="min-width: 200px;">HFOV</th>
                                        <th scope="col" style="min-width: 200px;">DFOV</th>
                                        <th scope="col" style="min-width: 200px;">PartName</th>
                                        <th scope="col" style="min-width: 200px;">IR</th>
                                        <th scope="col" style="min-width: 200px;">Mechanical-Retainer</th>
                                        <th scope="col" style="min-width: 200px;">Mechanical-F.B.L.</th>
                                        <th scope="col" style="min-width: 200px;">Mechanical-Thread</th>
                                        <th scope="col" style="min-width: 200px;">IPRating</th>
                                        <th scope="col" style="min-width: 200px;">Stage</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn file-excel auth-excel" style="margin-left:10px;"  onclick="ExcelDetail@(itemName)()">機種列表匯出</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="listData@(itemName)">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-6 col-sm-6 col-md-6">
                        <a class="btn btn-primary" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#modalQuery@(itemName)" href="javascript:void(0);">
                            <i class="fal fa-search"></i>搜尋
                        </a>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 text-right">
                        <a class="btn btn-info auth-add" href="javascript:Edit@(itemName)();"><i class="fas fa-plus"></i>新增</a>
                        <a class="btn btn-info auth-excel-add" href="javascript:Excel@(itemName)();"><i class="fas fa-plus"></i>批量新增</a>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12 col-sm-12 col-md-5">
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtSensor@(itemName)">Sensor </label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtSensor@(itemName)" name="txtSensor@(itemName)" placeholder="請輸入Sensor"
                                       data-msg-required="請輸入Sensor" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="">Active Array <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="number" class="form-control" id="txtUpperLimit@(itemName)" name="txtUpperLimit@(itemName)" placeholder="請輸入解析度~範例:1920"
                                       data-msg-required="請輸入解析度~範例:1920" data-rule-required="true" />
                            </div>
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for=""></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="number" class="form-control" style="margin-top:10px;" id="txtLowerLimit@(itemName)" name="txtLowerLimit@(itemName)" placeholder="請輸入解析度~範例:1280"
                                       data-msg-required="請輸入解析度~範例:1280" data-rule-required="true" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtPixelSize1@(itemName)">Pixel Size1 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="number" class="form-control" id="txtPixelSize1@(itemName)" name="txtPixelSize1@(itemName)" placeholder="請輸入Pixel Size"
                                       data-msg-required="請輸入Pixel Size" data-rule-required="true" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtPixelSize2@(itemName)">Pixel Size2 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="number" class="form-control" id="txtPixelSize2@(itemName)" name="txtPixelSize2@(itemName)" placeholder="請輸入Pixel Size"
                                       data-msg-required="請輸入Pixel Size" data-rule-required="true" />
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-2">
                        <div class="row">
                            <button class="calculateButton btn btn-primary" style="margin:auto;" onclick="Action('C')">試算</button>
                        </div>
                        <div class="row" style="margin-top:20px;">
                            <button class="mateButtonMain btn btn-primary " style="margin:auto;" onclick="Action('P','AllD')">配對查詢</button>
                        </div>
                        <div class="row" style="margin-top:20px;">
                            <button class="btn btn-primary" style="margin:auto;margin-bottom:15px;" onclick="Action('R')">重置</button>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-5">
                        <div class="row">
                            <div class="col-12">
                                <div class="table-custom">
                                    <table class="table table-bordered table-striped table-sticky">
                                        <thead>
                                            <tr>
                                                <th scope="col" style="width: 70px;">#</th>
                                                <th scope="col" style="width: 70px;">H</th>
                                                <th scope="col" style="width: 70px;">IH</th>
                                                <th scope="col" style="width: 70px;">Mega</th>
                                            </tr>
                                            <tr>
                                                <th scope="col" style="width: 70px;">HFOV</th>
                                                <td scope="col" id="HFOV-H" style="width: 70px;border-bottom-width:0;"></td>
                                                <td scope="col" id="HFOV-IH" style="width: 70px;border-bottom-width:0;"></td>
                                                <td scope="col" style="width: 70px;border-bottom-width:0;"></td>
                                            </tr>
                                            <tr>
                                                <th scope="col" style="width: 70px;">VFOV</th>
                                                <td scope="col" id="VFOV-H" style="width: 70px;border-bottom-width:0;"></td>
                                                <td scope="col" id="VFOV-IH" style="width: 70px;border-bottom-width:0;"></td>
                                                <td scope="col" style="width: 70px;border-bottom-width:0;"></td>
                                            </tr>
                                            <tr>
                                                <th scope="col" style="width: 70px;">DFOV</th>
                                                <td scope="col" id="DFOV-H" style="width: 70px;border-bottom-width:0;"></td>
                                                <td scope="col" id="DFOV-IH" style="width: 70px;border-bottom-width:0;"></td>
                                                <td scope="col" style="width: 70px;border-bottom-width:0;"></td>
                                            </tr>
                                            <tr>
                                                <th scope="col" style="width: 70px;border-bottom:1px solid;">Pixels</th>
                                                <td scope="col" style="width: 70px;border-bottom-width:1px;"></td>
                                                <td scope="col" style="width: 70px;border-bottom-width:1px;"></td>
                                                <td scope="col" id="Mega-Pixels" style="width: 70px;border-bottom-width:1px;"></td>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row" id="MateBar" style="display:none;margin-bottom:20px;">
                    <div class="col-12  col-sm-12 col-md-6">
                        <button class="btn btn-secondary mateButton btn-success" style="margin-top:5px;" onclick="Action('P','AllD')">All(一般)</button>
                        <button class="btn btn-secondary mateButton" style="margin-top:5px;" onclick="Action('P','AllH')">All(遮角)</button>
                        <button class="btn btn-secondary mateButton" style="margin-top:5px;" onclick="Action('P','HFOV')">HFOV</button>
                        <button class="btn btn-secondary mateButton" style="margin-top:5px;" onclick="Action('P','DFOV')">DFOV</button>
                        <button class="btn btn-secondary illustrate" style="margin-top:5px;">說明</button>
                        <button class="btn btn-primary" style="margin-top:5px;" onclick="ShowModeList()">機種列表顯示</button>
                        <button class="btn file-excel auth-excel" style="margin-top:5px;" onclick="ExcelList@(itemName)()">匯出</button>
                        <div>
                            <div class="illustrateStatus">ALL(一般)列表<br>1.先找出DFOV-IH值有大於Real Hight的機種<br>2.再依照欄位分別找出低於IH值且最接近的的Real Hight<br>3.將其所對應FOV*2填入對應機種各欄位</div>
                            <div class="illustrateStatus">ALL(遮角)列表<br>1.先找出HFOV-IH值有大於Real Hight的機種<br>2.再依照欄位分別找出低於IH值且最接近的的Real Hight<br>3.將其所對應FOV*2填入對應機種各欄位</div>
                            <div class="illustrateStatus">HFOV列表<br>1.先找出HFOV-IH值有大於Real Hight的機種<br>2.再依照欄位分別找出低於IH值且最接近的的Real Hight<br>3.將其所對應FOV*2填入對應機種各欄位<br>4.根據FOV Range區間值篩選</div>
                            <div class="illustrateStatus">DFOV列表<br>1.先找出DFOV-IH值有大於Real Hight的機種<br>2.再依照欄位分別找出低於IH值且最接近的的Real Hight<br>3.將其所對應FOV*2填入對應機種各欄位<br>4.根據FOV Range區間值篩選</div>
                        </div>
                        <div class="RangeSetting" style="display:flex;align-items:center;margin-top:20px;">
                            <label for="txtFOVRange@(itemName)">FOV Range </label>
                            <input type="number" class="form-control" id="txtFOVRangeD@(itemName)" name="txtFOVRange@(itemName)" placeholder="請輸入下限"
                                   data-msg-required="請輸入下限" style="width:150px;margin-left:10px" ; value="0" />
                            <input type="number" class="form-control" id="txtFOVRangeT@(itemName)" name="txtFOVRange@(itemName)" placeholder="請輸入上限"
                                   data-msg-required="請輸入上限" style="width:150px;margin-left:10px" ; value="999" />
                        </div>
                    </div>
                    <div class="col-12  col-sm-12 col-md-6" style="font-size: 16px;">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="table-custom">
                            <table class="table table-bordered table-striped table-sticky" id="tblData@(itemName)">
                                <thead>
                                    <tr class="General">
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th scope="col" style="min-width: 150px;">機種名稱</th>
                                        <th scope="col" style="min-width: 200px;">FOV</th>
                                        <th scope="col" style="min-width: 200px;">Real Height</th>
                                        <th scope="col" style="min-width: 200px;">創建日</th>
                                        <th class="text-center" scope="col" style="min-width: 125px;">操作</th>
                                    </tr>
                                    <tr class="MateList">
                                        <th scope="col" style="min-width: 75px;">#</th>
                                        <th scope="col" style="min-width: 150px;" class="text-center checkbox-mode" id="cbxSelectAlldiv@(itemName)">
                                            <label class="col-12 col-form-label">
                                                #機種列表顯示 全選 <input type="checkbox" id="cbxSelectAll@(itemName)" checked />
                                            </label>
                                        </th>
                                        <th scope="col" style="min-width: 150px;">機種名稱</th>
                                        <th scope="col" style="min-width: 200px;">H-FOV</th>
                                        <th scope="col" style="min-width: 200px;">V-FOV</th>
                                        <th scope="col" class="DFOVShow" style="min-width: 200px;">D-FOV</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <div class="pagination" id="page@(itemName)"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="editData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <form class="container custom-form-container" autocomplete="off" id="editForm@(itemName)">
                    <fieldset>
                        <input type="hidden" id="LfId" name="LfId" value="-1" />
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtModelName@(itemName)">機種名稱 <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="text" class="form-control" id="txtModelName@(itemName)" name="txtModelName@(itemName)" placeholder="請輸入機種名稱"
                                       data-msg-required="請輸入機種名稱" data-rule-required="true" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtFOV@(itemName)">FOV <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="number" class="form-control" id="txtFOV@(itemName)" name="txtFOV@(itemName)" placeholder="請輸入FOV"
                                       data-msg-required="請輸入FOV" data-rule-required="true" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-3 col-lg-3 col-form-label" for="txtRealheight@(itemName)">Realheight <span class="text-danger">*</span></label>
                            <div class="col-12 col-md-9 col-lg-9">
                                <input type="number" class="form-control" id="txtRealheight@(itemName)" name="txtRealheight@(itemName)" placeholder="請輸入Realheight"
                                       data-msg-required="請輸入Realheight" data-rule-required="true" />
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="card-footer text-center text-lg-right">
                <button type="button" class="btn btn-success" onclick="Save@(itemName)()"><i class="fas fa-save"></i>儲存</button>
            </div>
        </div>
    </div>
</div>

<div class="row" id="excelData@(itemName)" style="display: none;">
    <div class="col-12">
        <div class="card card-shadow mb-4">
            <div class="card-body">
                <div style="height: 75%; width: 100%;margin-top: 20px;" id="LensFOVTemporary"></div>
            </div>
        </div>
    </div>
</div>

@Html.Resource("js",
    @<script>

        let Realheight@(itemName);

        let spreadsheet@(itemName);
        let spreadsheetData@(itemName);

        let spreadsheetJson@(itemName) =
        {
            spreadsheetInfo: []
        }

        let lettersArray = [
            "A", "B", "C"
        ];

        let FieldList = [
            "Model", "FOV", "Realheight"
        ];

        var LensFOVData = `
                    {"sheets":[{"name":"sheet1","data":[
                     {"cell":"A1","css":"dhx_generated_class_u1690959030041","format":"text","value":"機種名稱"}
                    ,{"cell":"B1","css":"dhx_generated_class_u1690959030041","format":"text","value":"FOV"}
                    ,{"cell":"C1","css":"dhx_generated_class_u1690959030041","format":"text","value":"Realheight"}
                    ]
                    ,"cols":[{"width":100},{"width":150},{"width":120},{"width":100},{"width":150},{"width":120},{"width":150},{"width":120},{"width":100},{"width":110},{"width":110},{"width":160},{"width":120}]
                    ,"rows":[{"height":32}]}]
                    ,"styles":{
                     "dhx_generated_class_u1690959030041":{"background":"#FFACAF","text-align":"center","justify-content":"center"}
                    ,"dhx_generated_class_u1690959030042":{"background":"#FFD6A6","text-align":"center","justify-content":"center"}
                    ,"dhx_generated_class_u1690959030043":{"background":"#FDFFB4","text-align":"center","justify-content":"center"}
                    ,"dhx_generated_class_u1690959030044":{"background":"#CCFFBE","text-align":"center","justify-content":"center"}
                    ,"dhx_generated_class_u1690959030045":{"background":"#9BF7FF","text-align":"center","justify-content":"center"}
                    ,"dhx_generated_class_u1690959030046":{"background":"#9FC5FF","text-align":"center","justify-content":"center"}
                    ,"dhx_generated_class_u1690959030047":{"background":"#BFB2FF","text-align":"center","justify-content":"center"}
                    ,"dhx_generated_class_u1690959030048":{"background":"#FFC8FF","text-align":"center","justify-content":"center"}
                    ,"dhx_generated_class_u1690959030049":{"background":"#D8E3DF","text-align":"center","justify-content":"center"}
                    ,"dhx_generated_class_u1690959030050":{"background":"#F48083","text-align":"center","justify-content":"center"}
                    ,"dhx_generated_class_u1690959030051":{"background":"#FCE186","text-align":"center","justify-content":"center"}
                    ,"dhx_generated_class_u1690959030052":{"background":"#E8FFCE","text-align":"center","justify-content":"center"}
                    ,"dhx_generated_class_u1690959030053":{"background":"#9CDDDA","text-align":"center","justify-content":"center"}
                    ,"dhx_generated_class_u1690959030054":{"background":"#0696CA","text-align":"center","justify-content":"center"}}
                    ,"formats":[{"name":"Common","id":"common","mask":"","example":"1500.31"},{"name":"Number","id":"number","mask":"#,##0.00","example":"1500.31"}
                    ,{"name":"Percent","id":"percent","mask":"#,##0.00%","example":"15.0031"},{"name":"Currency","id":"currency","mask":"$#,##0.00","example":"1500.31"}
                    ,{"name":"Date","id":"date","mask":"yy-mm-dd","example":"2023-11-20","dateFormat":"%y/%m/%d"}
                    ,{"name":"Time","id":"time","mask":"h:mm:ss am/pm","example":"0.5625","timeFormat":12}
                    ,{"name":"Text","id":"text","mask":"@@","example":"some text"}]}
            `

        let ModelNoList = [];

        let objPage@(itemName) = {
            "pageIndex": 0,
            "pageSize": 10
        };
        let objForm@(itemName) = "#editForm@(itemName)";

        $(document).ready(function () {
            $(".MateList").hide()
            $(".illustrateStatus").hide()
            ResetSpreadsheet@(itemName)();

            $("#LensFOVTemporary").css("height", "750px");

            spreadsheet@(itemName).clear();

            //Excel工作功能
            spreadsheet@(itemName).toolbar.events.on("click", function (id) {
                if (id == "Save") {
                    SaveExcelData@(itemName)();
                }
                else if (id == "Import") {
                    ImportExcel@(itemName)();
                }
            });
            //自動觸發配對
            $(`input[name='txtFOVRange@(itemName)']`).change(function () {
                $(".mateButton.btn-success").click();
            })
            //自動觸發計算
            $(`#txtPixelSize2@(itemName)`).change(function () {
                $(".calculateButton").click();
            })
            //控制說明欄位
            $(`.illustrate`).click(function () {
                var hasShowClass = $('.illustrate').hasClass("show")
                if (hasShowClass) {
                    $('.illustrate').removeClass("show")
                    $('.illustrate').removeClass("btn-success")
                    $(".illustrateStatus").hide()
                }
                else {
                    $('.illustrate').addClass("show")
                    $('.illustrate').addClass("btn-success")
                    Illustrate()
                }
            })

            //阻擋複製時觸發更換儲存格格式
            $(document).on('keydown', function (e) {
                // 检查是否按下 Ctrl (或 Command) 键，并且按下了 'C' 键
                if ((e.ctrlKey || e.metaKey) && (e.key === 'v' || e.key === 'V')) {
                    spreadsheet@(itemName).events.on("beforeFormatChange", function (cell, format) {
                        return false
                    });
                }
            });

            Query@(itemName)();

            $.each($("input[name='cbxModelNo@(itemName)']"), function () {
                if ($(this).is(":checked")) {
                    let modelNo = $(this).data("model-no");
                    ModelNoList.push(modelNo)
                }
                else {
                    ModelNoList = [];
                    if (!$(this).is(":disabled")) {
                    }
                }
            });
        });

        function Query@(itemName)() {
            objPage@(itemName).pageIndex = 0;
            InitData@(itemName)(objPage@(itemName));
            $("#cbxSelectAlldiv@(itemName)").hide();

            $("#modalQuery@(itemName)").modal("hide");
        }

        function InitData@(itemName)(objPage) {
            let innerHtml = '';
            let pageCount = 0;

            let targetUrl = "@Url.Action("GetLensFOV", "ResearchAndDevelopment")";
            let postData = {
                "OrderBy": "",
                "PageIndex": (objPage.pageIndex + 1),
                "PageSize": objPage.pageSize,
                "Model": "General",
                "ModelName": $("#txtModelNameQ@(itemName)").val(),
                "FOV": $("#txtFOVQ@(itemName)").val(),
                "RealHeight": $("#txtRealHeightQ@(itemName)").val(),
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                pageCount = data.result.length > 0 ? parseInt(data.result[0]["TotalCount"]) : 0;

                if (pageCount > 0) {
                    objPage = PageCaculate(pageCount, objPage);

                    $.each(data.result, function (i, item) {
                        let _row = (objPage.pageSize * objPage.pageIndex + (i + 1)) + ".";

                        innerHtml += `<tr>
                                        <td>${_row}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Model}" style="max-width: 200px;">${item.Model}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.FOV}" style="max-width: 200px;">${item.FOV}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Realheight}" style="max-width: 200px;">${item.Realheight}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.CreateDate}" style="max-width: 200px;">${item.CreateDate}</td>
                                        <td class="text-center active-content">
                                          <a class="active-link auth-update" href="javascript:Edit@(itemName)(${item.LfId});"><i class="fas fa-edit"></i></a>
                                          <a class="active-link auth-delete" href="javascript:Delete@(itemName)(${item.LfId});"><i class="fas fa-trash-alt"></i></a>
                                        </td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="6" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }

            $("#tblData@(itemName) tbody").html(innerHtml);
            TableComponentInit();
            Pager("#page@(itemName)", pageCount, objPage, InitData@(itemName));

            

        }

        function Edit@(itemName)(LfId) {
            $("#LfId").val(LfId ? LfId : 0);

            Switch("#editData@(itemName), .unit-block", "#listData@(itemName)");



            if (LfId > 0) {
                let targetUrl = "@Url.Action("GetLensFOV", "ResearchAndDevelopment")";
                let postData = {
                    "Model": "General",
                    "LfId": LfId
                };

                let data = DataAccess.Get(targetUrl, postData, false);

                if (data.status == "success") {
                    $.each(data.result, function (i, item) {
                        $("#txtModelName@(itemName)").val(item.Model);
                        $("#txtFOV@(itemName)").val(item.FOV);
                        $("#txtRealheight@(itemName)").val(item.Realheight);
                    });
                } else {
                    alert(data.msg, "alert", 0);
                }
            }
        }

        function Save@(itemName)() {
            if ($(objForm@(itemName)).valid()) {
                let LfId = parseInt($("#LfId").val());

                if (LfId <= 0) {
                    let targetUrl = "@Url.Action("AddLensFOV", "ResearchAndDevelopment")";
                    let postData = {
                        "Model": $("#txtModelName@(itemName)").val(),
                        "FOV": $("#txtFOV@(itemName)").val(),
                        "Realheight": $("#txtRealheight@(itemName)").val(),
                    };

                    let data = DataAccess.EditContinued(targetUrl, postData, false);

                    if (data) {
                        $.each(data.result, function (i, item) {
                            $("#LfId").val(item.LfId);
                        });
                        Return@(itemName)();

                    }
                } else {
                    let targetUrl = "@Url.Action("UpdateLensFOV", "ResearchAndDevelopment")";
                    let postData = {
                        "LfId": LfId,
                        "Model": $("#txtModelName@(itemName)").val(),
                        "FOV": $("#txtFOV@(itemName)").val(),
                        "Realheight": $("#txtRealheight@(itemName)").val()
                    };

                    let result = DataAccess.Update(targetUrl, postData, false, true);

                    if (result) {
                        Return@(itemName)();
                    }
                }
            }
        }

        function Delete@(itemName)(LfId) {
            swal.fire({
                titleText: "確認要刪除嗎?",
                text: "此動作無法復原，請確認是否要執行!",
                icon: "warning",
                allowOutsideClick: false,
                allowEscapeKey: false,
                showCancelButton: true,
                confirmButtonColor: '#d33',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    let targetUrl = "@Url.Action("DeleteLensFOV", "ResearchAndDevelopment")";
                    let postData = {
                        "LfId": LfId
                    };

                    let result = DataAccess.Delete(targetUrl, postData, false, true);

                    if (result) {
                        Query@(itemName)();
                    }
                }
            });
        }

        function Action(type, ButtonType) {
            switch (type) {
                case 'C':
                    var PixelSize1 = $("#txtPixelSize1@(itemName)").val();
                    var PixelSize2 = $("#txtPixelSize2@(itemName)").val();
                    var UpperLimit = $("#txtUpperLimit@(itemName)").val();
                    var LowerLimit = $("#txtLowerLimit@(itemName)").val();

                    if (PixelSize1 == "") { alert("PixelSize為必填!!!"); return ; };
                    if (PixelSize2 == "") { alert("PixelSize為必填!!!"); return; };
                    if (UpperLimit == "") { alert("Active Array為必填!!!"); return; };
                    if (LowerLimit == "") { alert("Active Array為必填!!!"); return; };

                    var HFOVh = (PixelSize1 * UpperLimit / 1000).toFixed(3)
                    var HFOVih = (HFOVh / 2).toFixed(3)
                    var VFOVh = (PixelSize2 * LowerLimit / 1000).toFixed(3)
                    var VFOVih = (VFOVh / 2).toFixed(3)
                    var DFOVh = Math.sqrt(Math.pow(HFOVh, 2) + Math.pow(VFOVh, 2)).toFixed(3)
                    var DFOVih = (DFOVh / 2).toFixed(3)
                    var MegaPixels = (LowerLimit * UpperLimit / (1000 * 1000)).toFixed(1)
                    $("#HFOV-H").text(HFOVh)
                    $("#HFOV-IH").text(HFOVih)
                    $("#VFOV-H").text(VFOVh)
                    $("#VFOV-IH").text(VFOVih)
                    $("#DFOV-H").text(DFOVh)
                    $("#DFOV-IH").text(DFOVih)
                    $("#Mega-Pixels").text(MegaPixels)
                    break;
                case 'P':
                    let innerHtml = '';
                    let DFOVShow = 'Y';
                    let HFOV = $("#HFOV-IH").text()
                    let VFOV = $("#VFOV-IH").text()
                    let DFOV = $("#DFOV-IH").text()

                    $(".mateButton").click(function () {
                        $(".mateButton").removeClass("btn-success")
                        $(this).addClass("btn-success");
                        if ($('.illustrate').hasClass("show")) {
                            Illustrate()
                        }
                        $("#cbxSelectAll@(itemName)").prop("checked", true)
                    });

                    switch (ButtonType) {
                        case "AllH":
                        case "HFOV":
                            GreaterMeets = HFOV;
                            DFOVShow = "N"
                            $(".DFOVShow").hide()
                            ButtonType == "AllH" ? $(".RangeSetting").hide() : $(".RangeSetting").show()
                            break;
                        case "AllD":
                        case "DFOV":
                            GreaterMeets = DFOV;
                            DFOVShow = "Y"
                            $(".DFOVShow").show()
                            ButtonType == "AllD" ? $(".RangeSetting").hide() : $(".RangeSetting").show()
                            break;
                    }

                    let targetUrl = "@Url.Action("GetLensFOV", "ResearchAndDevelopment")";
                    let postData = {
                        "Model": "Mate",
                        "GreaterMeets": GreaterMeets,
                        "HFOV": HFOV,
                        "VFOV": VFOV,
                        "DFOV": DFOV,
                        "ButtonType": ButtonType,
                        "FOVRangeD": parseInt($("#txtFOVRangeD@(itemName)").val()) ,
                        "FOVRangeT": parseInt($("#txtFOVRangeT@(itemName)").val())
                    };
                    let data = DataAccess.Get(targetUrl, postData, false);

                    if (data.status == "success") {
                        $("#cbxSelectAlldiv@(itemName)").show();
                        $(".MateList").show()
                        $(".General").hide()
                        $("#MateBar").show();

                        if (data.result.length > 0) {
                            $.each(data.result, function (i, item) {
                                innerHtml += `<tr>
                                                <td style="max-width: 75px;">${i + 1}.</td>
                                                <td class="text-center" style="max-width: 120px;">
                                                    <label class="control control-solid control-solid-info control--checkbox">
                                                        <input type="checkbox" name="cbxModelNo@(itemName)" data-model-no="${item.Model}" value="${item.Model}" checked />
                                                        <span class="control__indicator"></span>
                                                    </label>
                                                </td>
                                                <td class="ellipsis" data-toggle="tooltip" title="${item.Model}" style="max-width: 200px;">${item.Model}</td>
                                                <td class="ellipsis" data-toggle="tooltip" title="${item.HFOVIH}" style="max-width: 200px;">${parseFloat(item.HFOVIH) > 0 ? parseFloat(item.HFOVIH) : `無`}</td>
                                                <td class="ellipsis" data-toggle="tooltip" title="${item.VFOVIH}" style="max-width: 200px;">${parseFloat(item.VFOVIH) > 0 ? parseFloat(item.VFOVIH) : `無`}</td>
                                                ${DFOVShow == `Y` ? `<td class="ellipsis" data-toggle="tooltip" title="${item.DFOVIH}" style="max-width: 200px;">${parseFloat(item.DFOVIH) > 0 ? parseFloat(item.DFOVIH) : `無`}</td>` :`` } 
                                              </tr>`;
                            });
                        } else {
                            innerHtml += `<tr>
                                    <td class="text-center" colspan="6" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                        }
                        $("#tblData@(itemName) tbody").html(innerHtml);
                        $("#page@(itemName)").hide();
                        $("#MateBar").show();
                    } else {
                        innerHtml += `<tr>
                                    <td class="text-center" colspan="8" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                        $("#tblData@(itemName) tbody").html(innerHtml);

                        alert(data.msg, "alert", 0);
                    }
                    break;
                case 'R':
                    $("#txtSensor@(itemName)").val("")
                    $("#txtPixelSize1@(itemName)").val("")
                    $("#txtPixelSize2@(itemName)").val("")
                    $("#txtUpperLimit@(itemName)").val("")
                    $("#txtLowerLimit@(itemName)").val("")
                    $("#HFOV-H").text("")
                    $("#HFOV-IH").text("")
                    $("#VFOV-H").text("")
                    $("#VFOV-IH").text("")
                    $("#DFOV-H").text("")
                    $("#DFOV-IH").text("")
                    $("#Mega-Pixels").text("")
                    Return@(itemName)()
                    $("#page@(itemName)").show();
                    $("#MateBar").hide();
                    $(".MateList").hide()
                    $(".General").show()
                    break;
            }

            $("#cbxSelectAll@(itemName)").off("click").on("click", function () {
                if ($("#cbxSelectAll@(itemName)").is(":checked")) {
                    $("input[type='checkbox'][data-model-no]").not(":disabled").prop("checked", true);
                } else {
                    $("input[type='checkbox'][data-model-no]").not(":disabled").prop("checked", false);
                }
            });

            
        }

        function PopModelDesign(MdId, Model) {
            $("#ModelDesign@(itemName)").modal("show");

            let targetUrl = "@Url.Action("GetModelDesign", "ResearchAndDevelopment")";
            let postData = {
                "MdId": MdId
            };
            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                if (data.result.length > 0) {
                    $.each(data.result, function (i, item) {
                        $("#desModel").text(item.Model);
                        $("#desConstruction").text(item.Construction);
                        $("#desEFL").text(item.EFL);
                        $("#desFNo").text(item.FNo);
                        $("#desTTL").text(item.TTL);
                        $("#desCRA").text(item.CRA);
                        $("#desOpticalDistortionFTan").text(item.OpticalDistortionFTan);
                        $("#desOpticalDistortionF").text(item.OpticalDistortionF);
                        $("#desMaxImageCircle").text(item.MaxImageCircle);
                        $("#desSensor").text(item.Sensor);
                        $("#desVFOV").text(item.VFOV);
                        $("#desHFOV").text(item.HFOV);
                        $("#desDFOV").text(item.DFOV);
                        $("#desPartName").text(item.PartName);
                        $("#desIR").text(item.IR);
                        $("#desMechanicalRetainer").text(item.MechanicalRetainer);
                        $("#desMechanicalFBL").text(item.MechanicalFBL);
                        $("#desMechanicalThread").text(item.MechanicalThread);
                        $("#desIPRating").text(item.IPRating);
                        $("#desStage").text(item.Stage);

                    });
                } else {

                }
            } else {
                alert(data.msg, "alert", 0);
            }


            //$("#txtOriginalCcNo@(itemName)").val(CcNo)
            //$("#txtChangeCcId@(itemName)").val(CcId)
            $("#ModelDesignTitle").text(Model)
            //ComboBoxs.Default("#cboChangeCustomer@(itemName)", "@Url.Action("GetCustomer", "ScmBasicInformation")", { "Status": "A", "TransferStatus": "A" }, "", "ALL", "", "CustomerWithNo", "CustomerId");

        }

        function Excel@(itemName)() {
            Switch("#excelData@(itemName), .unit-block", "#listData@(itemName)");

            let dataset = JSON.parse(LensFOVData);
            spreadsheet@(itemName).parse(dataset);
            spreadsheetData@(itemName) = dataset;
            spreadsheet@(itemName).setFormat("A2:A1000", "text")

        }

        function ResetSpreadsheet@(itemName)() {
            $("#LensFOVTemporary").empty();

            spreadsheet@(itemName) = new dhx.Spreadsheet("LensFOVTemporary", {
                topSplit: 1,
                rowsCount: 1000,
                menu: false,
                dateFormat: "%Y-%m-%d",
                toolbarBlocks: [
                    "format"
                ]
            });

            spreadsheet@(itemName).toolbar.data.add({
                type: "button",
                icon: "fas fa-upload",
                tooltip: "上傳數據",
                id: "Save"
            });

            spreadsheet@(itemName).toolbar.data.add({
                type: "button",
                icon: "fas fa-file-excel",
                tooltip: "匯入Excel",
                id: "Import"
            });
        }

        function SaveExcelData@(itemName)() {

            spreadsheetJson@(itemName).spreadsheetInfo = [];
            spreadsheetData@(itemName) = spreadsheet@(itemName).serialize();

            var LensFOVList = [];
            $.each(spreadsheetData@(itemName).sheets[0].data, function (i, item) {
                let cell = item.cell;

                if (cell.charAt(0) == "A" && parseInt(cell.substring(1))) {
                    row = parseInt(cell.substring(1))
                    if (row > 1 && item.value != undefined) {
                        var LensFOVObj = {};
                        FieldList.forEach(function (item, index) {
                            const value = spreadsheet@(itemName).getValue(lettersArray[index] + row);
                            LensFOVObj[item] = value;
                        })

                        LensFOVList.push(LensFOVObj)
                    }
                }
            });

            if (LensFOVList.length > 0) {
                swal.fire({
                    titleText: "確認要上傳數據嗎?",
                    text: "請確認是否要執行!",
                    icon: "warning",
                    allowOutsideClick: false,
                    allowEscapeKey: false,
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        let targetUrl = "@Url.Action("AddLensFOVExcel", "ResearchAndDevelopment")";
                        let postData = {
                            "LensFOVList": JSON.stringify(LensFOVList)
                        };

                        let data = DataAccess.EditContinued(targetUrl, postData, false);

                        if (data) {
                            alert(data.result, "success", 5000);
                            Return@(itemName)();
                        }
                    }
                });
            }
            else {
                alert("請編寫要上傳的數據!!!")
            }
        }

        function ShowModeList() {
            if ($("input[type='checkbox'][data-model-no]:checked").length > 0) {
                ModelNoList = [];
                $.each($("input[type='checkbox'][data-model-no]:checked"), function (i) {
                    let modelNo = $(this).data("model-no");
                    ModelNoList.push(modelNo)
                });
            } else {
                ModelNoList = [];
            }
            
            if (ModelNoList.length <= 0) {
                alert("目前列表無資料!!!!")
                return
            }
            $("#ModelDesignList@(itemName)").modal("show");

            let innerHtml = '';
            let HFOV = $("#HFOV-IH").text()
            let VFOV = $("#VFOV-IH").text()
            let DFOV = $("#DFOV-IH").text()
            var ButtonType = "";
            var index = $(".mateButton").index($(".mateButton.btn-success"));
            switch (index) {
                case 0:
                    ButtonType = "AllD"
                    break;
                case 1:
                    ButtonType = "AllH"
                    break;
                case 2:
                    ButtonType = "HFOV"
                    break;
                case 3:
                    ButtonType = "DFOV"
                    break;
            }
            let targetUrl = "@Url.Action("GetLensFOV", "ResearchAndDevelopment")";
            let postData = {
                "Model": "Mate",
                "HFOV": HFOV,
                "VFOV": VFOV,
                "DFOV": DFOV,
                "ButtonType": ButtonType,
                "FOVRangeD": parseInt($("#txtFOVRangeD@(itemName)").val()),
                "FOVRangeT": parseInt($("#txtFOVRangeT@(itemName)").val()),
                "ModelNoList": ModelNoList.join(",")
            };

            let data = DataAccess.Get(targetUrl, postData, false);

            if (data.status == "success") {
                if (data.result.length > 0) {
                    $.each(data.result, function (i, item) {

                        innerHtml += `<tr>
                                        <td>${i + 1}.</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Model}" style="max-width: 200px;">${item.Model}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Construction}" style="max-width: 200px;">${item.Construction}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.EFL}" style="max-width: 200px;">${item.EFL}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.FNo}" style="max-width: 200px;">${item.FNo}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.TTL}" style="max-width: 200px;">${item.TTL}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.CRA}" style="max-width: 200px;">${item.CRA}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.OpticalDistortionFTan}" style="max-width: 200px;">${item.OpticalDistortionFTan != null ? item.OpticalDistortionFTan : ``}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.OpticalDistortionF}" style="max-width: 200px;">${item.OpticalDistortionF != null ? item.OpticalDistortionF : ``}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MaxImageCircle}" style="max-width: 200px;">${item.MaxImageCircle}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Sensor}" style="max-width: 200px;">${item.Sensor != null ? item.Sensor : ``}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.VFOV}" style="max-width: 200px;">${item.VFOV != null ? item.VFOV : ``}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.HFOV}" style="max-width: 200px;">${item.HFOV != null ? item.HFOV : ``}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.DFOV}" style="max-width: 200px;">${item.DFOV != null ? item.DFOV : ``}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.PartName}" style="max-width: 200px;">${item.PartName != null ? item.PartName : ``}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.IR}" style="max-width: 200px;">${item.IR != null ? item.IR : ``}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MechanicalRetainer}" style="max-width: 200px;">${item.MechanicalRetainer != null ? item.MechanicalRetainer : ``}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MechanicalFBL}" style="max-width: 200px;">${item.MechanicalFBL != null ? item.MechanicalFBL : ``}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.MechanicalThread}" style="max-width: 200px;">${item.MechanicalThread != null ? item.MechanicalThread : ``}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.IPRating}" style="max-width: 200px;">${item.IPRating != null ? item.IPRating : ``}</td>
                                        <td class="ellipsis" data-toggle="tooltip" title="${item.Stage}" style="max-width: 200px;">${item.Stage != null ? item.Stage : ``}</td>
                                      </tr>`;
                    });
                } else {
                    innerHtml += `<tr>
                                    <td class="text-center" colspan="22" style="background-color: #fff3cd;">
                                      <i class="fal fa-exclamation-circle"></i>&nbsp;目前尚無資料。
                                    </td>
                                  </tr>`;
                }
            } else {
                alert(data.msg, "alert", 0);
            }
            $("#ModelDesignListData@(itemName) tbody").html(innerHtml);
        }

        function Return@(itemName)() {
            $("#excelData@(itemName)").hide();

            ResetForm(objForm@(itemName));
            Switch("#listData@(itemName)", "#editData@(itemName), .unit-block, .advanced-block");
            Query@(itemName)();
        }

        function ExcelDetail@(itemName)() {
            if ($("input[type='checkbox'][data-model-no]:checked").length > 0) {
                ModelNoList = [];
                $.each($("input[type='checkbox'][data-model-no]:checked"), function (i) {
                    let modelNo = $(this).data("model-no");
                    ModelNoList.push(modelNo)
                });
            } else {
                ModelNoList = [];
            }

            let HFOV = $("#HFOV-IH").text()
            let VFOV = $("#VFOV-IH").text()
            let DFOV = $("#DFOV-IH").text()
            var ButtonType = "";
            var index = $(".mateButton").index($(".mateButton.btn-success"));
            switch (index) {
                case 0:
                    ButtonType = "AllD"
                    break;
                case 1:
                    ButtonType = "AllH"
                    break;
                case 2:
                    ButtonType = "HFOV"
                    break;
                case 3:
                    ButtonType = "DFOV"
                    break;
            }

            let targetUrl = "@Url.Action("ExcelModelDesign", "ResearchAndDevelopment")";
            let postData = {
                "Model": "Mate",
                "HFOV": HFOV,
                "VFOV": VFOV,
                "DFOV": DFOV,
                "ButtonType": ButtonType,
                "FOVRangeD": parseInt($("#txtFOVRangeD@(itemName)").val()),
                "FOVRangeT": parseInt($("#txtFOVRangeT@(itemName)").val()),
                "ModelNoList": ModelNoList.join(",")
            };

            let data = DataAccess.EditContinued(targetUrl, postData, false);

            if (data) {
                alert("匯出成功!!!!", "success")
                FileAccess.AjaxDownload(targetUrl, postData, false);
            }
        }

        function ExcelList@(itemName)() {
            if ($("input[type='checkbox'][data-model-no]:checked").length > 0) {
                ModelNoList = [];
                $.each($("input[type='checkbox'][data-model-no]:checked"), function (i) {
                    let modelNo = $(this).data("model-no");
                    ModelNoList.push(modelNo)
                });
            } else {
                ModelNoList = [];
            }

            let HFOV = $("#HFOV-IH").text()
            let VFOV = $("#VFOV-IH").text()
            let DFOV = $("#DFOV-IH").text()
            var ButtonType = "";
            var index = $(".mateButton").index($(".mateButton.btn-success"));
            switch (index) {
                case 0:
                    ButtonType = "AllD"
                    break;
                case 1:
                    ButtonType = "AllH"
                    break;
                case 2:
                    ButtonType = "HFOV"
                    break;
                case 3:
                    ButtonType = "DFOV"
                    break;
            }
            let targetUrl = "@Url.Action("ExcelLensFOV", "ResearchAndDevelopment")";
            let postData = {
                "Model": "Mate",
                "HFOV": HFOV,
                "VFOV": VFOV,
                "DFOV": DFOV,
                "ButtonType": ButtonType,
                "FOVRangeD": parseInt($("#txtFOVRangeD@(itemName)").val()),
                "FOVRangeT": parseInt($("#txtFOVRangeT@(itemName)").val()),
                "ModelNoList": ModelNoList.join(",")
            };

            let data = DataAccess.EditContinued(targetUrl, postData, false);

            if (data) {
                alert("匯出成功!!!!", "success")
                FileAccess.AjaxDownload(targetUrl, postData, false);
            }
        }
        function Illustrate() {
            $(".illustrateStatus").hide()
            var index = $(".mateButton").index($(".mateButton.btn-success"));
            $(`.illustrateStatus:eq(${index})`).show();
        }

    </script>
                )